Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/WFCardCrAppSvc/WFCardCrAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="WFCardCrAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/WFCardCrAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/WFCardCrAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:appoptCardCrPledgeAdd="http://xmlns.banesco.com/appopt/WFCardCrAppSvc/CardCrPledgeAdd_V1.0"
                  xmlns:appoptCardCrPledgeMod="http://xmlns.banesco.com/appopt/WFCardCrAppSvc/CardCrPledgeMod_V1.0">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                        schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
            <xsd:import namespace="http://xmlns.banesco.com/eo/Status_V1.0"
                        schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"/>
            <xsd:import namespace="http://xmlns.banesco.com/appopt/WFCardCrAppSvc/CardCrPledgeAdd_V1.0"
                        schemaLocation="../../../xsd/AppOpt/WFCardCr/CardCrPledgeAdd/CardCrPledgeAdd_V1.0.xsd"/>
            <xsd:import namespace="http://xmlns.banesco.com/appopt/WFCardCrAppSvc/CardCrPledgeMod_V1.0"
                        schemaLocation="../../../xsd/AppOpt/WFCardCr/CardCrPledgeMod/CardCrPledgeMod_V1.0.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MsgHdrRq">
        <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
    </wsdl:message>
    <wsdl:message name="MsgHdrRs">
        <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
    </wsdl:message>
    <wsdl:message name="SystemFault">
        <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
    </wsdl:message>
    <wsdl:message name="CardCrPledgeAddRq">
        <wsdl:part name="CardCrPledgeAddRq" element="appoptCardCrPledgeAdd:CardCrPledgeAddRq"/>
    </wsdl:message>
    <wsdl:message name="CardCrPledgeAddRs">
        <wsdl:part name="CardCrPledgeAddRs" element="appoptCardCrPledgeAdd:CardCrPledgeAddRs"/>
    </wsdl:message>
    <wsdl:message name="CardCrPledgeModRq">
        <wsdl:part name="CardCrPledgeModRq" element="appoptCardCrPledgeMod:CardCrPledgeModRq"/>
    </wsdl:message>
    <wsdl:message name="CardCrPledgeModRs">
        <wsdl:part name="CardCrPledgeModRs" element="appoptCardCrPledgeMod:CardCrPledgeModRs"/>
    </wsdl:message>
    <wsdl:portType name="WFCardCrAppSvcPort">
        <wsdl:operation name="CardCrPledgeAdd">
            <wsdl:input message="tns:CardCrPledgeAddRq"/>
            <wsdl:output message="tns:CardCrPledgeAddRs"/>
            <wsdl:fault message="tns:SystemFault" name="SystemFault"/>
        </wsdl:operation>
        <wsdl:operation name="CardCrPledgeMod">
            <wsdl:input message="tns:CardCrPledgeModRq"/>
            <wsdl:output message="tns:CardCrPledgeModRs"/>
            <wsdl:fault message="tns:SystemFault" name="SystemFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WFCardCrAppSvcBinding_SOAP11" type="tns:WFCardCrAppSvcPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="CardCrPledgeAdd">
            <soap:operation style="document"
                            soapAction="http://xmlns.banesco.com/AppSvc/WFACardCrAppSvc_V1.0/CardCrPledgeAdd"/>
            <wsdl:input>
                <soap:body use="literal" parts="CardCrPledgeAddRq"/>
                <soap:header message="tns:MsgHdrRq" part="MsgHdrRq" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="CardCrPledgeAddRs"/>
                <soap:header message="tns:MsgHdrRs" part="MsgHdrRs" use="literal"/>
            </wsdl:output>
            <wsdl:fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="CardCrPledgeMod">
            <soap:operation style="document"
                            soapAction="http://xmlns.banesco.com/AppSvc/WFCardCrAppSvc_V1.0/CardCrPledgeMod"/>
            <wsdl:input>
            <soap:header message="tns:MsgHdrRq" part="MsgHdrRq" use="literal"/>
                <soap:body use="literal" parts="CardCrPledgeModRq"/>
            </wsdl:input>
            <wsdl:output>
            <soap:header message="tns:MsgHdrRs" part="MsgHdrRs" use="literal"/>
                <soap:body use="literal" parts="CardCrPledgeModRs"/>
            </wsdl:output>
            <wsdl:fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WFCardCrppSvc_V1.0">
        <wsdl:port name="WFCardCrAppSvc_V1.0SOAP" binding="tns:WFCardCrAppSvcBinding_SOAP11">
            <soap:address location="http://localhost"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
