BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ConsultarValidadoresByCategoria/XSD/ConsultarValidadoresbyCategoria.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarValidadoresbyCategoria" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarValidadoresbyCategoria" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarValidadoresbyCategoriaInput" type="ConsultarValidadoresbyCategoriaInput"/>
   <xs:complexType name="ConsultarValidadoresbyCategoriaInput">
      <xs:sequence>
         <xs:element name="P_OPERACION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarValidadoresbyCategoriaOutputCollection" type="ConsultarValidadoresbyCategoriaOutputCollection"/>
   <xs:complexType name="ConsultarValidadoresbyCategoriaOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarValidadoresbyCategoriaOutput" type="ConsultarValidadoresbyCategoriaOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarValidadoresbyCategoriaOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="COD_EXTERNO" type="xs:string" nillable="true"/>
         <xs:element name="ID_CAT_PRODUCTO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_CATEGORIA" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>