AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Resources/Schema/RetailStoreTranslationProcessSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/caseOneDb" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/caseOneDb"
     elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="MdmRetailstoresCollection" type="MdmRetailstoresCollection"/>
    <xs:complexType name="MdmRetailstoresCollection">
        <xs:sequence>
            <xs:element name="MdmRetailstores" type="MdmRetailstores" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MdmRetailstores">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="appCode" type="string8"/>
            <xs:element name="name" type="xs:string" minOccurs="0" nillable="true"/>
            <xs:element name="primaryId" type="xs:long" minOccurs="0" nillable="true"/>
            <xs:element name="primaryAppcode" type="string8" minOccurs="0" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="caseOneDbSelect_idC1_appCodeC1_targetAppCodeC1InputParameters" type="caseOneDbSelect_idC1_appCodeC1_targetAppCodeC1"/>
    <xs:complexType name="caseOneDbSelect_idC1_appCodeC1_targetAppCodeC1">
        <xs:sequence>
            <xs:element name="idC1" type="xs:long" minOccurs="1" maxOccurs="1"/>
            <xs:element name="appCodeC1" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="targetAppCodeC1" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="string8">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>