BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/implementacionPCT/V1/Schema/ImplementacionPctBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ImplementacionPctBO"
            targetNamespace="http://www.bcie.org/ImplementacionPctBO" elementFormDefault="qualified"
            xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:IpctBO="http://www.bcie.org/ImplementacionPctBO"
            xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:comBO="http://www.bcie.org/CommonBO"
            xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import namespace="http://www.bcie.org/OperacionBO"
              schemaLocation="../../../Operacion/V1/Schema/OperacionBO.xsd"/>
  <xsd:import schemaLocation="../../../../../ComponentesComunes/Common/V1/Schema/CatalogoBO.xsd"
              namespace="http://www.bcie.org/CatalogoBO"/>
  <xsd:import namespace="http://www.bcie.org/CommonBO"
              schemaLocation="../../../../../ComponentesComunes/Common/V1/Schema/CommonBO.xsd"/>
  <xsd:import schemaLocation="../../../../../ComponentesComunes/DominioCliente/Cliente/V1/Schema/ClienteBO.xsd"
              namespace="http://www.bcie.org/ClienteBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
              
  <xsd:simpleType name="idImplementacion">
		<xsd:restriction base="xsd:long">
			<xsd:minInclusive value="0"/>
			<xsd:totalDigits value="12"/>
		</xsd:restriction>
	</xsd:simpleType>            
  <xsd:complexType name="ImplementacionType">
    <xsd:complexContent>
      <xsd:extension base="LoteType">
        <xsd:sequence>
          <xsd:element name="tipoProceso" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="observacion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="fechaPublicacion" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="fechaLimiteRecepcion" type="xsd:date" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="requiereLotes" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="fechaOrdenInicio" type="xsd:date" minOccurs="0"/>
          <xsd:element name="fechaRegistro" type="xsd:date" minOccurs="0"/>
          <xsd:element name="loteImplementacion" type="LoteType" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LoteType">
    <xsd:sequence>
      <xsd:element name="idLote" type="xsd:long"/>
      <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
      <xsd:element name="monto" type="comBO:MontoType" minOccurs="0"/>
      <xsd:element name="estatus" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="enProceso" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResultadoLoteType">
    <xsd:sequence>
      <xsd:element name="Lotes" type="IpctBO:LoteType" minOccurs="0"/>
      <xsd:element name="ResultadoProceso" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaImplementacionPCT">
    <xsd:sequence>
      <xsd:element name="loteImplementacion" type="LoteType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
    
  </xsd:complexType>
</xsd:schema>
