BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/ConsultarTcaComision/XSD/ConsultarComision.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarComision" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarComision" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarComisionInput" type="ConsultarComisionInput"/>
   <xs:complexType name="ConsultarComisionInput">
      <xs:sequence>
         <xs:element name="P_LINE_CREDITO" type="xs:string" nillable="true"/>
                <xs:element name="P_OPERACION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarComisionOutputCollection" type="ConsultarComisionOutputCollection"/>
   <xs:complexType name="ConsultarComisionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarComisionOutput" type="ConsultarComisionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarComisionOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_COMISION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_MONEDA" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO_COMISION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_MONTO_BASE" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO_BASE" type="xs:decimal" nillable="true"/>
         <xs:element name="PORCENTAJE_SOBRE_MONTO_BASE" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_VALOR" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_VENCIMIENTO" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_INICIO_CAPITAL" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_INICIO_COMISION" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_FRECUENCIA" type="xs:decimal" nillable="true"/>
         <xs:element name="FRECUENCIA_PAGO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_FONDO" type="xs:decimal" nillable="true"/>
         <xs:element name="COMISION_COMPARTIDA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_ESTADO_TCC" type="xs:decimal" nillable="true"/>
         <xs:element name="BAN_SUGERIDA" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="CODIGO_CONTRATO" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_TASA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_BASE_CALCULO" type="xs:decimal" nillable="true"/>
         <xs:element name="CODIGO_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE" type="xs:string" nillable="true"/>
         <xs:element name="NUMERO_TESORERIA" type="xs:string" nillable="true"/>
         <xs:element name="RESPONSABLE_COMISION" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_SUB_ESTADO_TCC" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_COMISION_ENMENDADA" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_ENMIENDA" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TCA_MOMENTO_COBRO" type="xs:decimal" nillable="true"/>
         <xs:element name="TC_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="TC_DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_COMISION" type="xs:decimal" nillable="true"/>
         <xs:element name="ES_EDITABLE_EN_FORMALIZACION" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_VALIDAR_COFI" type="xs:decimal" nillable="true"/>
         <xs:element name="SE_PUEDE_DISPENSAR" type="xs:decimal" nillable="true"/>
         <xs:element name="SE_REGISTRA_FLEXCUBE" type="xs:decimal" nillable="true"/>
         <xs:element name="ES_PLANTILLA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_COMISION_PRECARGA" type="xs:decimal" nillable="true"/>
         <xs:element name="TC_FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="TC_BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="COD_EXTERNO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>