BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/Utilidades/ConsultarUsuarioTareas/V1/Schema/ConsultarUsuarioTareasMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bicie.org/ConsultarUsuarioTareasMO"
            targetNamespace="http://www.bicie.org/ConsultarUsuarioTareasMO" elementFormDefault="qualified"
            xmlns:conUsTa="http://www.bcie.org/ConsultarUsuarioTareasBO"
            xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:resBO="http://www.bcie.org/ResultBO">
            <xsd:import namespace="http://www.bcie.org/ConsultarUsuarioTareasBO" schemaLocation="ConsultarUsuarioTareasBO.xsd"/>
            <xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="../../../../../../Resources/ComponentesComunes/DominioCliente/Cliente/V1/Schema/ClienteBO.xsd"/>
            <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
  <xsd:element name="ConsultarUsuarioTareasRequest" type="ConsultarUsuarioTareasRequestType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConsultarUsuarioTareasResponse" type="ConsultarUsuarioTareasResponseType"/>
  <xsd:complexType name="ConsultarUsuarioTareasRequestType">
    <xsd:sequence>
      <xsd:element name="idProceso" type="xsd:long"/>
      <xsd:element name="idCliente" type="cliBO:idCliente"/>
      <xsd:element name="Tareas" type="conUsTa:Tareas" minOccurs="1" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarUsuarioTareasResponseType">
    <xsd:sequence>
      <xsd:element name="UsuariosTareas" type="conUsTa:UsuariosTareas" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
