BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/ConsultarFondoById/XSD/ConsultarFondoById_BS.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarFondoById_BS" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarFondoById_BS" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarFondoById_BSInput" type="ConsultarFondoById_BSInput"/>
   <xs:complexType name="ConsultarFondoById_BSInput">
      <xs:sequence>
         <xs:element name="fondo" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarFondoById_BSOutputCollection" type="ConsultarFondoById_BSOutputCollection"/>
   <xs:complexType name="ConsultarFondoById_BSOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarFondoById_BSOutput" type="ConsultarFondoById_BSOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarFondoById_BSOutput">
      <xs:sequence>
         <xs:element name="MIS_CLASS" type="xs:string" nillable="true"/>
         <xs:element name="MIS_CODE" type="xs:string" nillable="true"/>
         <xs:element name="CODE_DESC" type="xs:string" nillable="true"/>
         <xs:element name="ACTIVE" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>