BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Pregunta/V1/Schema/PreguntaMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:pregMO="http://www.bcie.org/PreguntaMO"
            targetNamespace="http://www.bcie.org/PreguntaMO" elementFormDefault="qualified"
            xmlns:pregBO="http://www.bcie.org/PreguntaBO" xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import namespace="http://www.bcie.org/PreguntaBO" schemaLocation="PreguntaBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
  <!-- Mensajes -->
  <xsd:element name="ConsultarPreguntasRequest" type="pregMO:ConsultarPreguntasRequestType"/>
  <xsd:element name="ConsultarPreguntasResponse" type="pregMO:ConsultarPreguntasResponseType"/>
  <xsd:element name="ActualizarPreguntaRequest" type="pregMO:ActualizarPreguntaRequestType"/>
  <xsd:element name="ActualizarPreguntaResponse" type="pregMO:ActualizarPreguntaResponseType"/>
  <xsd:element name="InsertarPreguntaResponse" type="pregMO:InsertarPreguntaResponseType"/>
  <xsd:element name="InsertarPreguntaRequest" type="pregMO:InsertarPreguntaRequestType"/>
  <xsd:element name="EliminarPreguntaRequest" type="pregMO:EliminarPreguntaRequestType"/>
  <xsd:element name="EliminarPreguntaResponse" type="pregMO:EliminarPreguntaResponseType"/>
  <!-- Tipos de los mensajes -->
  <!-- Create -->
  <!-- -->
  <!-- Consulta de Pregunta-->
  <xsd:complexType name="ConsultarPreguntasRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="xsd:long" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="usuario" type="xsd:string" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarPreguntasResponseType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="xsd:long" maxOccurs="unbounded"/>
      <xsd:element name="Pregunta" type="pregBO:Pregunta" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Read -->
  <!-- Update -->
  <xsd:complexType name="ActualizarPreguntaRequestType">
    <xsd:sequence>
      <xsd:element name="Pregunta" type="pregBO:Pregunta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarPreguntaResponseType">
    <xsd:sequence>
      <xsd:element name="Pregunta" type="pregBO:Pregunta" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Update -->
  <!-- Create -->
  <xsd:complexType name="InsertarPreguntaRequestType">
    <xsd:sequence>
      <xsd:element name="Pregunta" type="pregBO:Pregunta"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InsertarPreguntaResponseType">
    <xsd:sequence>
      <xsd:element name="Pregunta" type="pregBO:Pregunta"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarPreguntaRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarPreguntaResponseType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Create -->
  <xsd:element name="Resultado"/>
</xsd:schema>
