Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFAcct/AcctAdd/AcctAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFAcctAppSvc/AcctAdd_V1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:appoptAcctAdd="http://xmlns.banesco.com/appopt/WFAcctAppSvc/AcctAdd_V1.0"
           xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
             schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
  <xs:complexType name="PayeeInfo">
    <xs:sequence>
      <xs:element name="PayeeType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de relación. Ejemplos: Brother, Father, Mother, Parent, Self, Sibling, Sister, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Percentage" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Porcentaje que le corresponde al beneficiario. la suma de todos los porcentajes no debe de exceder el 100%.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TutorData" type="appoptAcctAdd:PersonData" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Información del tutor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnderAge" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Es menor de edad.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FSPayee" type="appoptAcctAdd:FSPayee" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FSPayee">
    <xs:annotation>
      <xs:documentation>The FSPayee aggregate is used to provide complete information about a Fully-Specified Payee.  Used in Bill Pay message set when a payee is identified as a Fully Specified payee, as opposed to a Biller, or a Transfer Payee.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:element name="PersonData" type="appoptAcctAdd:PersonData" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Person Data.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:choice>
  </xs:complexType>
  <xs:complexType name="AcctAddRec">
    <xs:sequence>
      <xs:element name="Acct" type="appoptAcctAdd:Acct" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Account Information.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Mandate" type="appoptAcctAdd:Mandate" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PayeeInfo" type="appoptAcctAdd:PayeeInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctAddRq_Type">
    <xs:sequence>
      <xs:element name="AcctAddRec" type="appoptAcctAdd:AcctAddRec" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChkBook">
    <xs:sequence>
      <xs:element name="FirstHolder" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nombre del primer titular</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HolderCondition" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Aplica 2 o mas titulares</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MultipleHolder" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="SecondHolder" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nombre del segundo titular</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de chequera</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Country">
    <xs:annotation>
      <xs:documentation>All representations of countries in the IFX Specification are based upon agreed upon standard codes between client and server. The default, if not specified, is the Alpha 3-character codes for countries that are defined in ISO-3166.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código del país</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nombre del país.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardKey">
    <xs:sequence>
      <xs:element name="CardNum" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de Tarjeta</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctMember">
    <xs:sequence>
      <xs:element name="PartyKey" type="appoptAcctAdd:PartyKey" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cliente miembro de la cuenta</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PartyRole" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Rol del Cliente</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Identification">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de identificación.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctTransfer">
    <xs:sequence>
      <xs:element name="AllowsIntTransf" type="xs:boolean" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Acepta transferencias internacionales</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Country" type="appoptcommon:Country" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Indica el Pais de origen/destino para transferencias internacionales</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TransfNature" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Naturaleza de las transferencias</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyKey">
    <xs:annotation>
      <xs:documentation>Customer ID´s</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de Cliente</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PartyType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de Persona.

Valores: Person or Org.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctProfile">
    <xs:sequence>
      <xs:element name="ARPService" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indica si la cuenta es un Agente Recaudador de Pagos.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ARPServiceCategory" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Categoría del servicio de pagos. Ejemplo: Educación, servicios públicos, Telecomunicaciones, etc</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AvgBalance" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Saldo Promedio Mensual a manejar en la cuenta</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AvgDepositAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Monto Promedio Mensual de Depósitos</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PercentageDepChk" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Porcentaje de depositos en cheques</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcctProfileTrn" type="appoptAcctAdd:AcctProfileTrn" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyData">
    <xs:annotation>
      <xs:documentation>Party Data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Contact" type="appoptAcctAdd:Contact" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Información del contacto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuedIdent" type="appoptAcctAdd:IssuedIdent" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcctAddRs" type="appoptAcctAdd:AcctAddRs_Type"/>
  <xs:complexType name="AcctKey">
    <xs:annotation>
      <xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcctReference" type="xs:string" maxOccurs="1" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Cuenta de referencia que genera T24</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AlternateId" type="xs:string" maxOccurs="1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IssuedIdent">
    <xs:annotation>
      <xs:documentation>Issued Identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Ident" type="appoptAcctAdd:Identification" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificación</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EnumTrnType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="CashDeposit"/>
      <xs:enumeration value="CashWithdrawal"/>
      <xs:enumeration value="ChkDeposit"/>
      <xs:enumeration value="ChkPay"/>
      <xs:enumeration value="IntTransfRec"/>
      <xs:enumeration value="IntTransfSend"/>
      <xs:enumeration value="LocalTransfRec"/>
      <xs:enumeration value="LocalTransfSend"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Locator">
    <xs:annotation>
      <xs:documentation>Information necessary to establish contact.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PostAddr" type="appoptAcctAdd:PostAddr" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Phone" type="appoptAcctAdd:Phone" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctOpeningInfo">
    <xs:sequence>
      <xs:element name="AcctUse" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Uso que dará a la cuenta (Comercial / Personal)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BusinessUnit" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Unidad de negocio.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FundsOrigin" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Origen de los fondos</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GoalAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Monto meta</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InitialAmt" type="appoptcommon:CurAmt" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Monto de Apertura</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OpenMode" type="appoptcommon:CommonType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Modo de apertura</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Purpose" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Proposito</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RqManualReason" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Motivo de solicitud de servicio.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RqReason" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Razón de solicitud del servicio</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SaleOfficer" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Canal de venta</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonData">
    <xs:annotation>
      <xs:documentation>Person Data Aggregate.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="appoptAcctAdd:PartyData">
        <xs:sequence>
          <xs:element name="PersonName" type="appoptAcctAdd:PersonName" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="Contact">
    <xs:annotation>
      <xs:documentation>The Contact aggregate appears wherever a person's or organization's contact information is needed.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Locator" type="appoptAcctAdd:Locator" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcctAddRq" type="appoptAcctAdd:AcctAddRq_Type"/>
  <xs:complexType name="AcctCard">
    <xs:sequence>
      <xs:element name="OwnsCard" type="xs:boolean" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Posee Tarjeta de Débito</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EnunBalType">
    <xs:annotation>
      <xs:documentation>Example Values: 
Balance,
AvailBalance,
DeferBalance,
BlockAmt,
NetBalance,
OverdrtLimit</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AvailBalance"/>
      <xs:enumeration value="BlockAmt"/>
      <xs:enumeration value="DeferBalance"/>
      <xs:enumeration value="NetBalance"/>
      <xs:enumeration value="OverdrtLimit"/>
      <xs:enumeration value="Balance"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Phone">
    <xs:annotation>
      <xs:documentation>Phone</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AreaCode" type="xs:string" maxOccurs="1" minOccurs="0"/>
      <xs:element name="PhoneNum" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de telefono.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PhoneType" maxOccurs="1" minOccurs="0" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctProfileTrn">
    <xs:sequence>
      <xs:element name="Amt" type="appoptcommon:CurAmt" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sumatoria de los montos de las transacciones</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Count" type="xs:int" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Numero de transacciones</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrnType" type="appoptAcctAdd:EnumTrnType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de transaccion

Valores:

CashDeposit,
CashWithdrawal,
ChkDeposit,
ChkPay,
IntTransfRec,
IntTransfSend,
LocalTransfRec,
LocalTransfSend,</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonName">
    <xs:annotation>
      <xs:documentation>Person Name.

The PersonName aggregate is used to specify a person's full name and, optionally, preferred name (nickname).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FullName" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nombre completo</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostAddr">
    <xs:annotation>
      <xs:documentation>The PostAddr aggregate is used wherever a postal address is needed.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Country" type="appoptAcctAdd:Country" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctAddRs_Type">
    <xs:sequence>
      <xs:element name="Acct" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AcctKey" type="appoptAcctAdd:AcctKey" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Estado de respuesta del servicio.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Acct">
    <xs:annotation>
      <xs:documentation>Account Information Aggregate. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AcctApplIdent" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indica el número de solicitud generado desde la aplicacion.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcctSubtype" type="appoptcommon:CommonType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de Producto.

Ej: Cuenta de Ahorro, Préstamo Vehículo.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcctType" type="appoptcommon:CommonType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Grupo de Producto.

Ej: Cuenta, Préstamo.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChkBookQty" type="xs:int" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cantidad de chequeras</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClubBanesco" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indica si el producto pertenece al Club Banesco</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurCode" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Codigo de la moneda</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HasChkBook" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>habilita check book .</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MovType" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Movilización</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SIBActivityType" type="appoptcommon:CommonType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de Actividad SIB</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubCategory" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sub producto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Variation" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AcctCard" type="appoptAcctAdd:AcctCard" minOccurs="1" maxOccurs="1"/>
      <xs:element name="AcctOpeningInfo" type="appoptAcctAdd:AcctOpeningInfo" minOccurs="1" maxOccurs="1"/>
      <xs:element name="AcctProfile" type="appoptAcctAdd:AcctProfile" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AcctTransfer" type="appoptAcctAdd:AcctTransfer" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AcctMember" type="appoptAcctAdd:AcctMember" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ChkBook" type="appoptAcctAdd:ChkBook" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Mandate">
    <xs:sequence>
      <xs:element name="MandateAppIdent" maxOccurs="1" minOccurs="0" type="xs:string">
        <xs:annotation>
          <xs:documentation>Aplicación del mandato</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MandateId" type="xs:string" maxOccurs="1" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
