BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDocumento/ActualizarDocumento/XSD/ActualizarDocumento_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ActualizarDocumento" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ActualizarDocumento" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="DocumentoCollection" type="DocumentoCollection"/>
   <xs:complexType name="DocumentoCollection">
      <xs:sequence>
         <xs:element name="Documento" type="Documento" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Documento">
      <xs:sequence>
         <xs:element name="idDocumento" type="xs:long"/>
         <xs:element name="idTipoDocumento" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="comentario" type="string1024" minOccurs="0" nillable="true"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
         <xs:element name="esJustificacion" type="xs:int" minOccurs="0"/>
         <xs:element name="codigoDocumento" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="fechaDocumento" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="idTareaBpm" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaAccion" type="xs:int" minOccurs="0"/>
         <xs:element name="loginUsuarioCrea" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="nombreUsuarioCrea" type="string128" minOccurs="0" nillable="true"/>
         <xs:element name="loginUsuarioModifica" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="nombreUsuarioModifica" type="string128" minOccurs="0" nillable="true"/>
         <xs:element name="numSerieDocumento" type="string256" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string1024">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1024"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string128">
      <xs:restriction base="xs:string">
         <xs:maxLength value="128"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string256">
      <xs:restriction base="xs:string">
         <xs:maxLength value="256"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>