AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Applications/JDA/JDABuyer/Resources/JDAModifyBuyerWSDL.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Applications/JDA/Buyer/ModifyBuyer/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://mx.agarcia.ea/Applications/JDA/Buyer/ModifyBuyer/v1.0" xmlns:ns1="http://mx.agarcia.ea/Applications/JDA/Buyer" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://mx.agarcia.ea/Applications/JDA/Buyer" schemaLocation="../Schema/JDACreateBuyerSchema.xsd"/>
           
                <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
                        <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
		</schema>
	</wsdl:types>

     
	<wsdl:message name="modifyBuyerRequestMessage">
		<wsdl:part name="modifyBuyerRequestMessage" element="ns1:modifyBuyerRequest"/>
	</wsdl:message>
	<wsdl:message name="modifyBuyerResponseMessage">
		<wsdl:part name="modifyBuyerResponseMessage" element="ns1:modifyBuyerResponse"/>
	</wsdl:message>
        <wsdl:message name="standardMessageHeader">
		<wsdl:part name="header" element="AGSH:headerMessage"/>
	</wsdl:message>
        <wsdl:message name="standardMessageHeaderResponse">
		<wsdl:part name="headerRes" element="AGSM:messageResponse"/>
	</wsdl:message>

        <wsdl:message name="standardMessageFault">
    <wsdl:part name="fault" element="AGSM:messageError"/>
  </wsdl:message>
  
  
	<wsdl:portType name="modifyBuyerPort">
		<wsdl:operation name="modify">
			<wsdl:input message="client:modifyBuyerRequestMessage"/>
			<wsdl:output message="client:modifyBuyerResponseMessage"/>
                        <wsdl:fault message="client:standardMessageFault" name="fault"/>
		</wsdl:operation>
	</wsdl:portType>
 <wsdl:binding name="modifyBuyerBinding" type="client:modifyBuyerPort">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="modify">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Applications/JDA/Buyer/ModifyBuyer/v1.0/modify"/>
   <wsdl:input>
    <soap:body use="literal" parts="modifyBuyerRequestMessage"/>
    <soap:header message="client:standardMessageHeader" part="header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="modifyBuyerResponseMessage"/>
   </wsdl:output>
   <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
   
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>