BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/CrearReporteTCC/XSD/CrearReporteTCC.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema xmlns:ns0="http://service.org.bcie.www/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://service.org.bcie.www/"><xsd:complexType name="crearReporteTCC"><xsd:sequence><xsd:element name="idOperacion" type="xsd:long"/></xsd:sequence></xsd:complexType><xsd:complexType name="crearReporteTCCResponse"><xsd:sequence><xsd:element name="return" type="xsd:base64Binary" minOccurs="0" nillable="true"/></xsd:sequence></xsd:complexType><xsd:element name="crearReporteTCC" type="ns0:crearReporteTCC"/><xsd:element name="crearReporteTCCResponse" type="ns0:crearReporteTCCResponse"/></xsd:schema>