BCIE_fenix/preprod/ADF-BPM/bpm/PE01Error/PE01ErrorProcess/SOA/Schemas/Comun/V1/ElegibilidadPayload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:elegibilidad="http://xmlns.bcie.org/ObjetoProceso/Elegibilidad/Payload/V1"
           xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
           xmlns:notificacion="http://xmlns.bcie.org/ObjetoProceso/Comun/Notificacion/V1"
           targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Elegibilidad/Payload/V1" 
           elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">
           
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
             schemaLocation="oramds:/apps/Resources/BPM/Schema/Comun/Header/V1/HeaderOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
             schemaLocation="oramds:/apps/Resources/BPM/Schema/Comun/Parameter/V1/ParameterOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Notificacion/V1"
             schemaLocation="oramds:/apps/Resources/BPM/Schema/Comun/Notificacion/V1/NotificacionOPN.xsd"/>
             
  <xs:element name="ElegibilidadPayload" type="elegibilidad:ElegibilidadPayloadType">
    <xs:annotation>
      <xs:documentation>Elemento que define el payload para el proceso core de Elegibilidad</xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="ElegibilidadErrorPayload" type="elegibilidad:ElegibilidadErrorPayloadType"/>
  
  <xs:complexType name="ElegibilidadPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="Configuration" type="elegibilidad:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoPayload" type="elegibilidad:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoEjecucion" type="elegibilidad:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfigGatewaysType">
    <xs:sequence>
      <xs:element name="requiereElegibilidad" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requiereAsjur" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requiereGeries" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requiereAjustesAsjur" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requiereAjustesGeries" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="esUnaReformulacion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="reformuloProducto" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="reformuloCliente" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="reformuloMontoSolicitado" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="reformuloMontoSolicitadoMasMenos" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="reformuloMontoSolicitadoMenosMas" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="reformuloUnidadEjecutora" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requiereCuestionario" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="unidadEjecutora" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ElegibilidadErrorPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="Configuration" type="elegibilidad:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoPayload" type="elegibilidad:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="EquipoEjecucion" type="elegibilidad:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="EquipoPayloadType">
    <xs:sequence>
      <xs:element name="abogado" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="geries" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="gerente" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="control" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>  
</xs:schema>
