MIRA/SOA_PRD_Almacenes/JDAUpdateStyle/SOA/Schemas/RMS/Items/ISCDimDesc.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/ISCDimDesc/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/ISCDimDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <retailDoc:annotation>
      <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
   </retailDoc:annotation>
   <xs:element name="ISCDimDesc">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="item" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unique identifier for the item.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="supplier" type="varchar210">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unique identifier for the supplier.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="origin_country" type="varchar23">
               <retailDoc:annotation>
                  <retailDoc:documentation>The country where the item was manufactured or significantly altered.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="dim_object" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Specific object whose dimensions are specified in this record.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="object_desc" type="varchar240">
               <retailDoc:annotation>
                  <retailDoc:documentation>Dim_object description fetched from the code_detail table.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="presentation_method" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Describes the packaging (if any) being taken into consideration in the specified dimensions.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="method_desc" type="varchar240">
               <retailDoc:annotation>
                  <retailDoc:documentation>Presentation method description fetched from the code_detail table.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="length" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Length of dim_object measured in units specified in lwh_uom.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="width" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Width of dim_object measured in units specified in lwh_uom.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="height" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Height of dim_object measured in units specified in lwh_uom.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="lwh_uom" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unit of measurement for length, width and height.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="weight" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Weight of dim_object measured in units specified in weight_uom.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="net_weight" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Net weight of the dim_object (weight without packaging) measured in units specified in weight_uom.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="weight_uom" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unit of measurement for weight.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="liquid_volume" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Liquid volume, or capacity, of dim_object measured in units specified in colume_uom. Liquid volumes are only convertible to other liquid volumes.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="liquid_volume_uom" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unit of measurement for liquid volume. Liquid volumes are only convertible to other liquid volumes.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="stat_cube" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Statistical value of the dim_object's dimensions to be used for loading purposes.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="tare_weight" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Amount of weight to be subtracted for packaging materials. Used to calculate the true net weight of the dim_object.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="tare_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether the tare weight for the dim_object is wet or dry.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="number12_4">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:decimal">
         <xs:totalDigits value="12"/>
         <xs:fractionDigits value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar225">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number6_2">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 6_2.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:decimal">
         <xs:totalDigits value="6"/>
         <xs:fractionDigits value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar23">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar210">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar212">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 12 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="12"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar26">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="6"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar24">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar240">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 40 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="40"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
