MIRA/SOA_PRD_Almacenes/JDAUpdateStyle/SOA/Schemas/RMS/Items/ISCDimRef.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/ISCDimRef/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/ISCDimRef/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <retailDoc:annotation>
      <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
   </retailDoc:annotation>
   <xs:element name="ISCDimRef">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="item" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>NA</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="supplier" type="varchar210">
               <retailDoc:annotation>
                  <retailDoc:documentation>NA</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="origin_country" type="varchar23">
               <retailDoc:annotation>
                  <retailDoc:documentation>The country where the item was manufactured or significantly altered</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="dim_object" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Specific object whose dimensions are specified in this record.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="varchar225">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar23">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar210">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar26">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="6"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
