MIRA/SOA_PRD_Almacenes/JDAUpdateStyle/SOA/Schemas/RMS/Items/ItemHdrDesc.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/ItemHdrDesc/v1" xmlns:CustFlexAttriVo="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/ItemHdrDesc/v1" version="1.0">
   <retailDoc:annotation>
      <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
   </retailDoc:annotation>
   <xs:element name="ItemHdrDesc">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="item" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unique alphanumeric value that identifies the item.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="item_number_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>This type can hold a number of digits count umber_type.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="format_id" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field will hold the format ID that corresponds to the item's variable  UPC.  This value is only used for items with variable UPCs.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="prefix" type="number2">
               <retailDoc:annotation>
                  <retailDoc:documentation>This column holds the prefix for variable weight UPCs.  The prefix determines the format of the eventual UPC and will be used to decode variable weight UPCs that are uploaded from the POS.  It is the clients responsibility to download this value to their</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_parent" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>Alphanumeric value that uniquely identifies the item/group at the level above the item.  This value must exist as an item in another row on the item_master table.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_grandparent" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>Alphanumeric value that uniquely identifies the item/group two levels above the item.  This value must exist as both an item and an item parent in another row on the item_master table.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="pack_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if the item is a pack.  A pack item is a collection of items that may be either ordered or sold as a unit.  Packs require details (i.e. component items and qtys, etc.) that other items do not.  This field is required by the database.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_level" type="number1">
               <retailDoc:annotation>
                  <retailDoc:documentation>Number indicating which of the three levels the item resides.  The item level determines if the item stands alone or if it is part of a family of related items.  The item level also determines how the item may be used throughout the system.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="tran_level" type="number1">
               <retailDoc:annotation>
                  <retailDoc:documentation>Number indicating which of the three levels transactions occur for the item's group. The transaction level is the level at which the item's inventory is tracked in the system. The transaction level item will be counted, transferred, shipped, etc. The transaction level may be at the current item or up to 2 levels above or below the current item. Only one level of the hierarchy of an item family may contain transaction level items.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="diff_1" type="varchar210">
               <retailDoc:annotation>
                  <retailDoc:documentation>Diff_group or diff_id that differentiates the current item from its item_parent. For an item that is a parent, this field may be either a group (i.e. Men's pant sizes) or a value (6 oz). For an item that is not a parent, this field may contain a value (34X34, Red, etc.). Valid values are found on the diff_group and diff_id tables.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="diff_1_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field will hold a value of all possible differential types. (for example, 'S' - size, 'C' - color, 'F' - flavor, 'E' - scent, 'P' - pattern). Valid values are stored on the code_detail table with the code_type 'DIFF' and on the diff_type table.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="diff_2" type="varchar210">
               <retailDoc:annotation>
                  <retailDoc:documentation>Diff_group or diff_id that differentiates the current item from its item_parent. For an item that is a parent, this field may be either a group (i.e. Mens pant sizes) or a value (6 oz). For an item that is not a parent, this field may contain a value (34X34, Red, etc.). Valid values are found on the diff_group and diff_id tables.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="diff_2_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field will hold a value of all possible differential types. (for example, 'S' - size, 'C' - color, 'F' - flavor, 'E' - scent, 'P' - pattern). Valid values are stored on the code_detail table with the code_type 'DIFF' and on the diff_type table.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="diff_3" type="varchar210">
               <retailDoc:annotation>
                  <retailDoc:documentation>Diff_group or diff_id that differentiates the current item from its item_parent. For an item that is a parent, this field may be either a group (i.e. Mens pant sizes) or a value (6 oz). For an item that is not a parent, this field may contain a value (34X34, Red, etc.). Valid values are found on the diff_group and diff_id tables.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="diff_3_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field will hold a value of all possible differential types. (for example, 'S' - size, 'C' - color, 'F' - flavor, 'E' - scent, 'P' - pattern). Valid values are stored on the code_detail table with the code_type 'DIFF' and on the diff_type table.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="diff_4" type="varchar210">
               <retailDoc:annotation>
                  <retailDoc:documentation>Diff_group or diff_id that differentiates the current item from its item_parent. For an item that is a parent, this field may be either a group (i.e. Mens pant sizes) or a value (6 oz). For an item that is not a parent, this field may contain a value (34X34, Red, etc.). Valid values are found on the diff_group and diff_id tables.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="diff_4_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field will hold a value of all possible differential types. (for example, 'S' - size, 'C' - color, 'F' - flavor, 'E' - scent, 'P' - pattern). Valid values are stored on the code_detail table with the code_type 'DIFF' and on the diff_type table.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="dept" type="number4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Number identifying the department to which the item is attached.  The item's department will be the same as that of its parent (and, by transitivity, to that of its grandparent).  Valid values for this field are located on the deps table.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="dept_name" type="varchar2120">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the name of the department.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="class" type="varchar27">
               <retailDoc:annotation>
                  <retailDoc:documentation>Number identifying the class to which the item is attached.  The item's class will be the same as that of its parent (and, by transitivity, to that of its grandparent).  Valid values for this field are located on the class table.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="class_name" type="varchar2120">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the name of the class.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="subclass" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>Number identifying the subclass to which the item is attached.  The item's subclass will be the same as that of its parent (and, by transitivity, to that of its grandparent).  Valid values for this field are located on the subclass table.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="sub_name" type="varchar2120">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the name of the subclass.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="status" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Status of the item. Valid values are: W = Worksheet: item setup in progress, cannot be used in system; S = Submitted: item setup complete and awaiting approval, cannot be use in system; A = Approved: item is approved and can now be used throughout the system.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_desc" type="varchar2250">
               <retailDoc:annotation>
                  <retailDoc:documentation>Long description of the item. This description is used through out the system to help online users identify the item. For items that have parents, this description will default to the parents description plus any differentiators. For items without parents this description will default to null.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="short_desc" type="varchar2120">
               <retailDoc:annotation>
                  <retailDoc:documentation>Shortened description of the item. This description is the default for downloading to the POS. For items that have parents, this description will default to the parent's short description. For items without parents, this description will default to null.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="desc_up" type="varchar2250">
               <retailDoc:annotation>
                  <retailDoc:documentation>All upper case description of the item (same as upper(item_desc)).  This field is not displayed in the on-line item maintenance dialog, but is used in item list of value search processing through out the system.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="primary_ref_item_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if the sub-transation level item is designated as the primary sub-transaction level item.  For transaction level items and above the value in this field will be 'N'o.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="cost_zone_group_id" type="number4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Cost zone group associated with the item.  This field is only required when elc_ind (landed cost indicator) is set to 'Y' on the system_options table.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="standard_uom" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unit of measure in which stock of the item is tracked at a corporate level.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="uom_conv_factor" type="number20_10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Conversion factor between an "Each" and the standard_uom when the standard_uom is not in the quantity class (e.g. if standard_uom = lb and 1 lb = 10 eaches, this factor will be 10). This factor will be used to convert sales and stock data when an item is retailed in eaches but does not have eaches as its standard unit of measure.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="package_size" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the size of the product printed on any packaging (i.e. 24 ounces).  This field is used for reporting purposes, as well as by Retek Price Mangement to determine same sized and different sized items.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="package_uom" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the unit of measure associated with the package size.  This field is used for reporting purposes and by Retek Price Management to determine same sized and different sized items.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="merchandise_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if the item is a merchandise item (Y, N).</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="store_ord_mult" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Merchandise shipped from the warehouses to the stores must be specified in this unit type. Valid values are:C = Cases; I = Inner; E = Eaches.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="forecast_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if this item will be interfaced to an external forecasting system (Y, N).</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="mfg_rec_retail" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Manufacturer's recommended retail price for the item.  Used for informational purposes only.  This field is stored in the primary currency.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="retail_label_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field indicates any special lable type assoctiated with an item (i.e. pre-priced or cents off).  This field is used for reporting purposes only.  Values for this field are defined by the 'RTLT' code on code detail.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="retail_label_type_desc" type="varchar240">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the retail label type description corresponding to the retail_label_type value in item_master.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="retail_label_value" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field represents the value associated with the retail label type.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="handling_temp" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the temperature information associated with the item. Valid values for this field are in the code type 'HTMP' on the code_head and code_detail tables.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="handling_temp_desc" type="varchar240">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the Handling temperature description corresponding to the handling_temp value in item_master.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="handling_sensitivity" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the sensitivity information associated with the item. Valid values for this field are in the code type 'HSEN' on the code_head and code_detail tables.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="handling_sensitivity_desc" type="varchar240">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the Handling sensitivity description corresponding to the handling_sensitivity value in item_master.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="catch_weight_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indiactes whether the item should be weighed when it arives at a location.  Valid values for this field are 'Y' and 'N'.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="waste_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Identifies the wastage type as either sales or spoilage wastage. Sales wastage occurs during processes that make an item saleable (i.e. fat is trimmed off at customer request). Spoilage wastage occurs during the products shelf life (i.e. evaporation causes the product to weight less after a period of time). Valid values are: SP - spoilage; and SL - Sales.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="waste_type_desc" type="varchar240">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the Waste Type description corresponding to the Waste_Type value in item_master.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="waste_pct" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Average percent of wastage for the item over its shelf life.  Used in inflating the retail price for wastage items.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="default_waste_pct" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Default daily wastage percent for spoilage type wastage items.  This value will default to all item locations and represents the average amount of wastage that occurs on a daily basis.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="const_dimen_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates that the dimensions of the product are always the same, regardless of the supplier. If this field is Y, the dimensions for all suppliers will be defaulted to the primary supplier/primary country dimensions. Editing of dimensions for the item will only be allowed for the primary supplier/primiary country.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="simple_pack_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if pack item is a simple pack or not. This field will only be available if the item is a pack item. A simple pack is an item whose components are all the same item (i.e. a six pack of cola, etc). Valid values are:Y = Yes, this item is a simple pack; N = No if this is not a simple pack.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="contains_inner_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if pack item contains inner packs. Vendor packs will never contain inner packs and this field will be defaulted to 'N'. This field will only be available if the item is a pack item. Valid values are:Y = Yes, this pack contains inner packs; N = No, this pack does not contain inner packs.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="sellable_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if pack item may be sold as a unit. If it is 'Y' then the pack will have its own unique unit retail. If it is 'N' then the pack's unit retail is the sum of each individual item's total retail within the pack. This field will only be available if the item is a pack item.  Value values are:  Y = Yes, this pack may be sold as a unit;  N = No, this pack man not be sold as a unit.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="orderable_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if pack item is orderable. If it is 'Y' then the suppliers of the pack must supply all components in the pack. If it is 'N' then the components may have different suppliers. This field will only be available if the item is a pack item. Valid values are:  Y = Yes, this pack may be ordered, N = No, this pack may not be ordered.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="pack_type" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if pack item is a vendor pack or a buyer pack. A vendor pack is a pack that the vendor or supplier recognizes and sells to the retailer. If the pack item is a vendor pack, communication with the supplier will use the vendor pack number. A buyer pack is a pack that a buyer created for internal ease of use.  If the pack item is a buyer pack communication with the supplier will explode the pack out to its component items.  This field will only be available if the item is a pack item.  If the pack item is not orderable this field must be null.  Valid values are: V = Vendor; B = Buyer.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="order_as_type" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if pack item is receivable at the component level or at the pack level (for a buyer pack only). This field is required if pack item is an orderable buyer pack. This field must be NULL if the pack is sellable only or a vendor pack. This field will only be available if the item is a pack item.  Valid Values are:  E = Eaches (component level) P = Pack (buyer pack only).</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="comments" type="varchar22000">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds any comments associated with the item.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="unit_retail" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field holds the unit retail in the standard unit of measure for the item/zone combination.  This field is stored in the local currency.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_service_level" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds a value that restricts the type of shipment methods that RCOM can select for an item.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="gift_wrap_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field will contain a value of 'Y' if the item is eligible to be gift wrapped.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ship_alone_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field will contain a value of 'Y' if the item should be shipped to the customer is a seperate package versus being grouped together in a box.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="vendor_style" type="varchar215">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="std_unit_weight" type="number20_10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="single_price_flag" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="preticket_flag" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="planned_residual" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="sortable" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_master_uda1" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_master_uda2" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_master_uda3" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_master_uda4" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_master_uda5" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_master_uda6" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_master_uda7" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_master_uda8" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_master_uda9" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_master_uda10" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_master_uda11" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_master_uda12" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_master_uda13" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_master_uda14" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_master_uda15" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ship_alone" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="slottable" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="freight_class" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="new_item" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="brand" type="varchar2120">
               <retailDoc:annotation>
                  <retailDoc:documentation>This is used to associate a brand to an item.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="break_case_ups" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="rigid" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="fragile" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="container_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="conveyable_flag" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="hazard_matl_code" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="velocity" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="high_value_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ticket_type" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="color" type="varchar224">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="size1" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="fit" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="shade" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="single_contain_bulk" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="unit_pick_system_code" type="varchar212">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="roundable_flag" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="perishable_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="division" type="number4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="vendor_nbr" type="varchar210">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="kitting_wip_code" type="varchar29">
               <retailDoc:annotation>
                  <retailDoc:documentation>Wip code used to designate the Kitting process used in item_master</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="unit_ticket_qty" type="number3">
               <retailDoc:annotation>
                  <retailDoc:documentation>Item Master User Defined Attribute</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_length" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Length of an individual item</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_width" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Width of an individual item</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_height" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Height of an individual Item</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_weight" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Weight of an individual item</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_cube" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Cubic dimension of an individual item</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="std_unit_factor" type="number6_2">
               <retailDoc:annotation>
                  <retailDoc:documentation>Used for putaway by volume.  The percentage of the standard number of units that will fit into a location type.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="std_unit_qty" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>The number of items that normally fit on/in the container type</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="expiration_days" type="number4">
               <retailDoc:annotation>
                  <retailDoc:documentation>The number of days before inventory is deemed to be no longer distributable</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="putaway_by_volume" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>If set to Y, putaway will be determined by cube or volume. If set to N, putaway will be determined by capacity.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="putaway_plan" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Plan used for putaway</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Code specifying what type the item is.  Valid values for this field are in the code type UPCT on the code_head and code_detail tables.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="sorter_group" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Sorter Group identifier</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="sku_optimization" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicator for inclusion in SKU optimization</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ext_source_system" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Specifies what external system the data originated from.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="item_xform_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicator shows that an item is associated with an item transformation. The item is either the sellable or the orderable item in the transformation process.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="inventory_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Inventory Indicator</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="order_type" type="varchar29">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates the type of order and which Open To Buy bucket will be updated.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="sale_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>n/a</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="deposit_item_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>This is the deposit item component type. A NULL value in this field indicates that this item is not part of a deposit item relationship. The possible values are - E - Contents A - Container Z - Crate T - Returned Item (Empty bottle) P - Complex pack (with deposit items) The Returned item is flagged only to enable these items to be mapped to a separate GL account if required.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="container_item" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>This holds the container item number for a contents item. This field is only populated and required if the DEPOSIT_ITEM_TYPE = E.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="deposit_in_price_per_uom" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field indicates if the deposit amount is included in the price per UOM calculation for a contents item ticket. This value is only required if the DEPOSIT_ITEM_TYPE = E. Valid values are: I - Include deposit amount E - Exclude deposit amount</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="transport_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="notional_pack_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates in SIM if a sellable simple pack needs to be broken down to its component item.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="soh_inquiry_at_pack_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates in SIM if a notional simple pack item's inventory should be displayed in packs.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="purchase_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if an item is a normal, consignment or concession item - 'N' for normal, 'S' for consignment, 'C' for concession.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="product_classification" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>This contains item combinability codes (with code type 'PCLA') which provide a way to define which items can be combined (packed or boxed) together.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="number3">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 3.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar225">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar2250">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 250 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="250"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number12">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 12.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:decimal">
         <xs:totalDigits value="12"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number12_4">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:decimal">
         <xs:totalDigits value="12"/>
         <xs:fractionDigits value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number8">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 8.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="8"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar210">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar224">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 24 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="24"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar22000">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 2000 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="2000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar220">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 20 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number4">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number6_2">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 6_2.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:decimal">
         <xs:totalDigits value="6"/>
         <xs:fractionDigits value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar215">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 15 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar2120">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar212">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 12 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="12"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar26">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="6"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number2">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 2.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar24">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar27">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 7 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="7"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar240">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 40 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="40"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number20">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 20.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:decimal">
         <xs:totalDigits value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number20_10">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 10.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:decimal">
         <xs:totalDigits value="20"/>
         <xs:fractionDigits value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number20_4">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 4.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:decimal">
         <xs:totalDigits value="20"/>
         <xs:fractionDigits value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar29">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 9 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="9"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar21">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number1">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 1.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="1"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
