MIRA/SOA_PRD_Almacenes/JDAUpdateStyle/SOA/Schemas/RMS/Items/ItemImageDesc.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/ItemImageDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/ItemImageDesc/v1" version="1.0">
   <retailDoc:annotation>
      <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
   </retailDoc:annotation>
   <xs:element name="ItemImageDesc">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="item" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unique identifier for the item.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="image_name" type="varchar2120">
               <retailDoc:annotation>
                  <retailDoc:documentation>Name of the image.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="image_addr" type="varchar2255">
               <retailDoc:annotation>
                  <retailDoc:documentation>Path where the image file is stored.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="image_type" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field contains the type of the image of the item.  Valid values are defined as member of IITD code type.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="primary_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Field indicating whether the record is a primary image or not.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="display_priority" type="number4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Field to specify the display sequence order of images associated to the item per priority.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="varchar225">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar26">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="6"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar21">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 1 character.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar2120">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar2255">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 255 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="255"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number4">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:long">
         <xs:totalDigits value="4"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
