BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/CrearAvisoCobro/XSD/CrearAvisoCobroDetalle.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
			xmlns:hom="http://www.bcie.org/herramientaOfismatica"
            targetNamespace="http://www.bcie.org/herramientaOfismatica" elementFormDefault="qualified"
            attributeFormDefault="unqualified">
  
  <xsd:complexType name="aviso">
    <xsd:sequence>
      <xsd:element name="resumen" type="hom:resumen" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="resumen">
    <xsd:sequence>
      <xsd:element name="fechaEmision" type="xsd:string"/>
      <xsd:element name="pais" type="xsd:string"/>
      <xsd:element name="cliente" type="xsd:string"/>
      <xsd:element name="operacion" type="xsd:string"/>
      <xsd:element name="moneda" type="xsd:string"/>
      <xsd:element name="tipoReporte" type="xsd:string"/>
      <xsd:element name="detalleCalculo" maxOccurs="unbounded" type="hom:fechaDetalleCalculo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="fechaDetalleCalculo">
    <xsd:sequence>
      <xsd:element name="linea" type="xsd:string"/>
      <xsd:element name="tablaDetalle" type="hom:detalleCalculo" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tablaDetalle">
    <xsd:sequence>
      <xsd:element name="detalleCalculo" type="hom:detalleCalculo" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detalleCalculo">
    <xsd:sequence>
      <xsd:element name="tipoTabla" type="xsd:string"/>
      <xsd:element name="fondo" type="xsd:string"/>
      <xsd:element name="blTotales" type="xsd:string"/>
      <xsd:element name="lstDesembolso" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="desembolso" type="xsd:string"/>
            <xsd:element name="base" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="base" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="tasa" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="saldo" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="desdeFecha" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="hastaFecha" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="dias" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="importe" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="subTotales" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="valor" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="pagosAplicados" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fechaPago" type="xsd:string"/>
      <xsd:element name="totalIntereses" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
