BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ConsultarDeclaracionJuradaByIdDeclaracion/XSD/ConsultarDeclaracionJuradaByIdDeclaracion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarDeclaracionJuradaByIdDeclaracion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarDeclaracionJuradaByIdDeclaracion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarDeclaracionJuradaByIdDeclaracionInput" type="ConsultarDeclaracionJuradaByIdDeclaracionInput"/>
   <xs:complexType name="ConsultarDeclaracionJuradaByIdDeclaracionInput">
      <xs:sequence>
         <xs:element name="idDeclaracion" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarDeclaracionJuradaByIdDeclaracionOutputCollection" type="ConsultarDeclaracionJuradaByIdDeclaracionOutputCollection"/>
   <xs:complexType name="ConsultarDeclaracionJuradaByIdDeclaracionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarDeclaracionJuradaByIdDeclaracionOutput" type="ConsultarDeclaracionJuradaByIdDeclaracionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarDeclaracionJuradaByIdDeclaracionOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ESTADO_DECLARACION" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_DECLARACION" type="xs:string" nillable="true"/>
         <xs:element name="ESTADO_BUSQUEDA_CONTRAPARTES" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_BUSQUEDA" type="xs:string" nillable="true"/>
         <xs:element name="NIVEL_RIESGO" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_RIESGO" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_FIRMA_DECLARACION" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_VENCIMIENTO" type="xs:dateTime" nillable="true"/>
         <xs:element name="COMENTARIO_DECLARACION" type="xs:string" nillable="true"/>
         <xs:element name="COMENTARIO_BUSQUEDA" type="xs:string" nillable="true"/>
         <xs:element name="ID_DECLARACION" type="xs:decimal" nillable="true"/>
         <!--Nuevos-->
          <xs:element name="SE_ELEVA_OTRA_INSTANCIA" type="xs:decimal" nillable="true"/>
         <xs:element name="TIPO_ORIGEN" type="xs:string" nillable="true"/>
         <xs:element name="TIPO_SEGUIMIENTO" type="xs:string" nillable="true"/>
         <xs:element name="INSTACIA_PROCESO" type="xs:string" nillable="true"/>
                <xs:element name="ES_SOLO_LECTURA" type="xs:decimal" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>