AG_2019/SOA/JDAUpdateStatusItemProcess/SOA/Schemas/BusinessAreas/Core/InventoryMngmt/InventoryCommonSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Core/InventoryMngmt/Common/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Core/InventoryMngmt/Common/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="../../../Commons/CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:simpleType name="CycleCountTypeCode">
      <xs:union memberTypes="base:CycleCountTypeCodeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="CycleCountTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Physical"/>
         <xs:enumeration value="Cycle"/>
         <xs:enumeration value="Adhoc"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="InventoryAdjustmentAction">
      <xs:union memberTypes="base:InventoryAdjustmentActionEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="InventoryAdjustmentActionEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Add"/>
         <xs:enumeration value="Subtract"/>
         <xs:enumeration value="Set"/>
         <xs:enumeration value="InformationOnly"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="InventoryLocationCodes">
      <xs:union memberTypes="base:InventoryLocationCodesEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="InventoryLocationCodesEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Bin"/>
         <xs:enumeration value="Shelf"/>
         <xs:enumeration value="EndCap"/>
         <xs:enumeration value="Pickface"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="InventoryStatusCodes">
      <xs:union memberTypes="base:InventoryStatusCodesEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="InventoryStatusCodesEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="All"/>
         <xs:enumeration value="AvailableOnHand"/>
         <xs:enumeration value="AvailableToSell"/>
         <xs:enumeration value="OnOrder"/>
         <xs:enumeration value="InTransitInBound"/>
         <xs:enumeration value="ReservedOnHand"/>
         <xs:enumeration value="Sold"/>
         <xs:enumeration value="DefectiveOnHand"/>
         <xs:enumeration value="ReturnToVendor"/>
         <xs:enumeration value="Shrinkage"/>
         <xs:enumeration value="PreSellOrders"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="InventoryTypeCodes">
      <xs:union memberTypes="base:InventoryTypeCodesEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="InventoryTypeCodesEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Inventory"/>
         <xs:enumeration value="Reservation"/>
         <xs:enumeration value="StockCount"/>
         <xs:enumeration value="StockTransfer"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
