Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/BpaWsLoanConsultation/BPAWSLOANCONSULTATIONType.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
    xmlns:ns0="http://www.temenos.com/T24/ofs/BPAWSLOANCONSULTATIONType"
    xmlns:xdb="http://xmlns.oracle.com/xdb"
    targetNamespace="http://www.temenos.com/T24/ofs/BPAWSLOANCONSULTATIONType"
    xdb:storeVarrayAsTable="true">
    <!-- This T24 XML Schema automatically produced -->
    <!-- Copyright Temenos Holdings NV 2018-->
    <!-- T24 Application: BPA.WS.LOAN.CONSULTATION -->
    <!-- T24 Release: R16 -->
    <!-- Production timestamp: 12:40:03 04 JUL 2018 -->
    <xsd:element name="BPAWSLOANCONSULTATION" type="ns0:BPAWSLOANCONSULTATIONType">
        <xsd:annotation>
            <xsd:documentation>This is the top level element for the record data</xsd:documentation>
            <xsd:appinfo><hfp:hasProperty name="locked" value="no"/><hfp:hasProperty
                    name="useschema" value="no"/><hfp:hasProperty name="register" value="no"
                    /><hfp:hasProperty name="aaPropertyName" value=""/></xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="BPAWSLOANCONSULTATIONType" xdb:maintainDOM="false">
        <xsd:annotation>
            <xsd:documentation>This complex type represents the T24 data for the
                BPA.WS.LOAN.CONSULTATION table</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="gBPAWSLOANCONSULTATIONDetailType">
                <xsd:complexType xdb:maintainDOM="false">
                    <xsd:sequence minOccurs="0">
                        <xsd:element maxOccurs="unbounded" minOccurs="0"
                            name="mBPAWSLOANCONSULTATIONDetailType">
                            <xsd:complexType xdb:maintainDOM="false">
                                <xsd:sequence minOccurs="0">
                                    <xsd:element id="selFldID.LOAN.CONSUL" minOccurs="0"
                                        name="selFldIDLOANCONSUL" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>selFldID.LOAN.CONSUL</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="selFldID.LOAN.CONSUL"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="17"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="ARR.ID" minOccurs="0" name="ARRID"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>ARR.ID</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="ARR.ID"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="CUS.ID" minOccurs="0" name="CUSID"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>CUS.ID</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="CUS.ID"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="CURRENCY" minOccurs="0" name="CURRENCY"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>CURRENCY</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="CURRENCY"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="PRODUCT" minOccurs="0" name="PRODUCT"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PRODUCT</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="PRODUCT"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="LT.SUB.PRODUCT" minOccurs="0"
                                        name="LTSUBPRODUCT" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>LT.SUB.PRODUCT</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="LT.SUB.PRODUCT"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="COMPANY" minOccurs="0" name="COMPANY"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>COMPANY</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="COMPANY"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="AMOUNT" minOccurs="0" name="AMOUNT"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>AMOUNT</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="AMOUNT"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="TERM" minOccurs="0" name="TERM" nillable="true"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>TERM</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="TERM"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="FIXED.RATE" minOccurs="0" name="FIXEDRATE"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>FIXED.RATE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="FIXED.RATE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="PAYMENT.TYPE" minOccurs="0" name="PAYMENTTYPE"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PAYMENT.TYPE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="PAYMENT.TYPE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="PAYMENT.METHOD" minOccurs="0"
                                        name="PAYMENTMETHOD" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PAYMENT.METHOD</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="PAYMENT.METHOD"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="PAYMENT.FREQ" minOccurs="0" name="PAYMENTFREQ"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PAYMENT.FREQ</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="PAYMENT.FREQ"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="ACTUAL.AMT" minOccurs="0" name="ACTUALAMT"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>ACTUAL.AMT</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="ACTUAL.AMT"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="PAYOUT.ACCOUNT" minOccurs="0" name="PAYOUT"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PAYOUT.ACCOUNT</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="PAYOUT.ACCOUNT"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="PAYIN.ACCOUNT" minOccurs="0" name="PAYIN"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PAYIN.ACCOUNT</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="PAYIN.ACCOUNT"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="MATURITY.DATE" minOccurs="0"
                                        name="MATURITYDATE" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>MATURITY.DATE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="MATURITY.DATE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="START.DATE" minOccurs="0" name="STARTDATE"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>START.DATE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="START.DATE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="REF.DATE" minOccurs="0" name="REFDATE"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>REF.DATE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="REF.DATE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="LT.SALE.OFFICER" minOccurs="0"
                                        name="LTSALEOFFICER" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>LT.SALE.OFFICER</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="LT.SALE.OFFICER"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="PA.AUT.NOMIAS" minOccurs="0" name="PAAUTNOMIAS"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PA.AUT.NOMIAS</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="PA.AUT.NOMIAS"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="PA.PAYM.TYPE" minOccurs="0" name="PAPAYMTYPE"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PA.PAYM.TYPE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="PA.PAYM.TYPE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="DSTN.CREDIT" minOccurs="0" name="DSTNCREDIT"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>DSTN.CREDIT</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="DSTN.CREDIT"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="USE.FOUND" minOccurs="0" name="USEFOUND"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>USE.FOUND</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="USE.FOUND"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="COUN.RISK" minOccurs="0" name="COUNRISK"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>COUN.RISK</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="COUN.RISK"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="EXP.DATE" minOccurs="0" name="EXPDATE"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>EXP.DATE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="EXP.DATE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="Y.CHARGE.AMOUNT" minOccurs="0"
                                        name="YCHARGEAMOUNT" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>Y.CHARGE.AMOUNT</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="Y.CHARGE.AMOUNT"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="REST.DATE" minOccurs="0" name="RESTDATE"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>REST.DATE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="REST.DATE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="Y.OBS.APC" minOccurs="0" name="YOBSAPC"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>Y.OBS.APC</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="Y.OBS.APC"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="Y.FTAS.SALE" minOccurs="0" name="YFTASSALE"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>Y.FTAS.SALE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="Y.FTAS.SALE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="VARIATION" minOccurs="0" name="VARIATION"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>VARIATION</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="VARIATION"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="CATEGORY" minOccurs="0" name="CATEGORY"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>CATEGORY</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="CATEGORY"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="PRIN.PROPERTY" minOccurs="0"
                                        name="PRINPROPERTY" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PRIN.PROPERTY</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="PRIN.PROPERTY"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="ACTUAL.BAL" minOccurs="0" name="ACTUALBAL"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>ACTUAL.BAL</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="ACTUAL.BAL"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="NEXT.PAYMENT.DAY" minOccurs="0"
                                        name="NEXTPAYMENTDAY" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>NEXT.PAYMENT.DAY</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="NEXT.PAYMENT.DAY"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="PENAL.PROPERTY" minOccurs="0"
                                        name="PENALPROPERTY" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PENAL.PROPERTY</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="PENAL.PROPERTY"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="FECI.PROPERTY" minOccurs="0"
                                        name="FECIPROPERTY" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>FECI.PROPERTY</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="FECI.PROPERTY"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="REFINANCE.NUM" minOccurs="0"
                                        name="REFINANCENUM" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>REFINANCE.NUM</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="REFINANCE.NUM"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="LENDING.CHARGE" minOccurs="0"
                                        name="LENDINGCHARGE" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>LENDING.CHARGE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="LENDING.CHARGE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="EFECTIVE.DATE" minOccurs="0"
                                        name="EFECTIVEDATE" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>EFECTIVE.DATE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="EFECTIVE.DATE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="CLUB.BAN" minOccurs="0" name="CLUBBAN"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>CLUB.BAN</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="CLUB.BAN"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="COST.CENTRE" minOccurs="0" name="COSTCENTRE"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>COST.CENTRE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="COST.CENTRE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="ACCOUNT.TITLE.1" minOccurs="0"
                                        name="ACCOUNTTITLE1" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>ACCOUNT.TITLE.1</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="ACCOUNT.TITLE.1"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="LT.DESTINO" minOccurs="0" name="LTDESTINO"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>LT.DESTINO</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="LT.DESTINO"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="ACCOUNT.REFERENCE" minOccurs="0"
                                        name="ACCOUNTREFERENCE" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>ACCOUNT.REFERENCE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="ACCOUNT.REFERENCE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="ALT.ID" minOccurs="0" name="ALTID"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>ALT.ID</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="ALT.ID"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="LT.WRITING.TYPE" minOccurs="0"
                                        name="LTWRITINGTYPE" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>LT.WRITING.TYPE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="LT.WRITING.TYPE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="LT.DPF.BASE" minOccurs="0" name="LTDPFBASE"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>LT.DPF.BASE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="LT.DPF.BASE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="LT.SPREAD.POINT" minOccurs="0"
                                        name="LTSPREADPOINT" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>LT.SPREAD.POINT</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="LT.SPREAD.POINT"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="LT.SPREAD.PORC" minOccurs="0"
                                        name="LTSPREADPORC" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>LT.SPREAD.PORC</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="LT.SPREAD.PORC"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="LT.WOF.RATE" minOccurs="0" name="LTWOFRATE"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>LT.WOF.RATE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="LT.WOF.RATE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="DAY.BASIS" minOccurs="0" name="DAYBASIS"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>DAY.BASIS</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="DAY.BASIS"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="FECI" minOccurs="0" name="FECI" nillable="true"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>FECI</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="FECI"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="CHARGE.TYPE" minOccurs="0" name="CHARGETYPE"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>CHARGE.TYPE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="CHARGE.TYPE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="CHG.CURRENCY" minOccurs="0" name="CHGCURRENCY"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>CHG.CURRENCY</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="CHG.CURRENCY"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="FIXED.AMOUNT" minOccurs="0" name="FIXEDAMOUNT"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>FIXED.AMOUNT</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="FIXED.AMOUNT"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="EXP.RESTR" minOccurs="0" name="EXPRESTR"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>EXP.RESTR</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="EXP.RESTR"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="USER.AUTONOMIA" minOccurs="0"
                                        name="USERAUTONOMIA" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>USER.AUTONOMIA</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="USER.AUTONOMIA"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="AUTH.TYPE" minOccurs="0" name="AUTHTYPE"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>AUTH.TYPE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="AUTH.TYPE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="NUM.RES" minOccurs="0" name="NUMRES"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>NUM.RES</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="NUM.RES"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="FINAN.PURPOSE" minOccurs="0"
                                        name="FINANPURPOSE" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>FINAN.PURPOSE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="FINAN.PURPOSE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="DESTIN.CODE" minOccurs="0" name="DESTINCODE"
                                        nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>DESTIN.CODE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="DESTIN.CODE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="ORIGINATION.REF" minOccurs="0"
                                        name="ORIGINATIONREF" nillable="true" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>ORIGINATION.REF</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="ORIGINATION.REF"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
