Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/BpaWsLoanConsultation/EnquiryInputType.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:enqins="http://www.temenos.com/T24/ofs/EnquiryInput"
	targetNamespace="http://www.temenos.com/T24/ofs/EnquiryInput">
	<xs:element name="EnquiryInput" nillable="true" type="enqins:EnquiryInputType"/>
	<xs:complexType name="EnquiryInputType">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="0" name="EnquiryCriteriaCollection"
				type="enqins:EnquiryCriteriaCollection"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnquiryCriteriaCollection">
		<xs:sequence>
			<xs:element maxOccurs="unbounded" minOccurs="0" name="EnquiryCriteria" nillable="true"
				type="enqins:EnquiryCriteria"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EnquiryCriteria">
		<xs:sequence>
			<xs:element maxOccurs="1" minOccurs="1" name="Field" type="xs:string"/>
			<xs:element maxOccurs="1" minOccurs="1" name="Operator" type="enqins:Operator"/>
			<xs:element maxOccurs="1" minOccurs="1" name="Value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="Operator">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EQ"/>
			<xs:enumeration value="GE"/>
			<xs:enumeration value="GT"/>
			<xs:enumeration value="LE"/>
			<xs:enumeration value="LK"/>
			<xs:enumeration value="LT"/>
			<xs:enumeration value="NE"/>
			<xs:enumeration value="UL"/>
			<xs:enumeration value="RG"/>
			<xs:enumeration value="NR"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
