BCIE_fenix/preprod/SOA/03-SOA-SERVICES/DominioCliente/Recuperacion/GenerarArchivos.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/GenerarArchivos"
            targetNamespace="http://www.bcie.org/GenerarArchivos" elementFormDefault="qualified">
  <xsd:element name="ListaIdAdjunto" type="Lista">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="Lista">
    <xsd:sequence>
      <xsd:element name="idAdjunto" type="xsd:int" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
