Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/AccountLoan/AcctLoanStatusMod/AcctLoanStatusMod_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctLoanStatusMod_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctLoanStatusMod="http://xmlns.banesco.com/eopt/AcctLoanStatusMod_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:element name="AcctLoanStatusModRq" type="appoptAcctLoanStatusMod:AcctLoanStatusModRq_Type"/>
	<xs:element name="AcctLoanStatusModRs" type="appoptAcctLoanStatusMod:AcctLoanStatusModRs_Type"/>
	<xs:complexType name="AcctLoanStatusModRq_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoanStatusModRs_Type">
		<xs:sequence>
			<xs:element name="AcctLoan" type="eoAcct:Acct" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Party" type="eoPar:Party" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
