BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDesembolso/ConsultarTransferenciasBancariasById/XSD/ConsultarTransferenciasBancariasById_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTransferenciasBancariasById_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTransferenciasBancariasById_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarTransferenciasBancariasById_DBInput" type="ConsultarTransferenciasBancariasById_DBInput"/>
   <xs:complexType name="ConsultarTransferenciasBancariasById_DBInput">
      <xs:sequence>
         <xs:element name="idDesembolso" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarTransferenciasBancariasById_DBOutputCollection" type="ConsultarTransferenciasBancariasById_DBOutputCollection"/>
   <xs:complexType name="ConsultarTransferenciasBancariasById_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarTransferenciasBancariasById_DBOutput" type="ConsultarTransferenciasBancariasById_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarTransferenciasBancariasById_DBOutput">
      <xs:sequence>
         <xs:element name="ID_TRANFERENCIA_BAN" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_CONTRATO_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO_TRANSFERENCIA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_MONEDA" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_MONEDA" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_MONEDA" type="xs:string" nillable="true"/>
         <xs:element name="REFERENCIA_MSJ" type="xs:string" nillable="true"/>
         <xs:element name="BHQ_TRANSFERENCIA" type="xs:string" nillable="true"/>
         <xs:element name="EN_CONSOLIDACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_BANCO_TRANSFERENCIA" type="xs:string" nillable="true"/>
         <xs:element name="NOMBRE_BANCO_TRANSFERENCIA" type="xs:string" nillable="true"/>
         <xs:element name="NUMERO_CUENTA" type="xs:string" nillable="true"/>
         <xs:element name="ID_INSTRUCCION_PAGO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="TIPO_MENSAJE" type="xs:string" nillable="true"/>
         <xs:element name="TIPO_OPCION_BENEF" type="xs:string" nillable="true"/>
         <xs:element name="NUMERO_CTA_BENEF" type="xs:string" nillable="true"/>
         <xs:element name="IDENTIFICADOR_BENEF" type="xs:string" nillable="true"/>
         <xs:element name="BENEFICIARIO_BENEF" type="xs:string" nillable="true"/>
         <xs:element name="DIRECCION_BENEF" type="xs:string" nillable="true"/>
         <xs:element name="TIPO_OPCION_BAN_BENEF" type="xs:string" nillable="true"/>
         <xs:element name="NUMERO_CTA_BAN_BENEF" type="xs:string" nillable="true"/>
         <xs:element name="IDENTIFICADOR_BAN_BENEF" type="xs:string" nillable="true"/>
         <xs:element name="BENEFICIARIO_BAN_BENEF" type="xs:string" nillable="true"/>
         <xs:element name="DIRECCION_BAN_BENEF" type="xs:string" nillable="true"/>
         <xs:element name="TIPO_OPCION_BAN_INTER" type="xs:string" nillable="true"/>
         <xs:element name="NUMERO_CTA_BAN_INTER" type="xs:string" nillable="true"/>
         <xs:element name="IDENTIFICADOR_BAN_INTER" type="xs:string" nillable="true"/>
         <xs:element name="BENEFICIARIO_BAN_INTER" type="xs:string" nillable="true"/>
         <xs:element name="DIRECCION_BAN_INTER" type="xs:string" nillable="true"/>
         <xs:element name="ESTADO_INSTRUCCION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>