BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/CrearActualizarImplementacion/XSD/CrearActualizarImplementacion_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearActualizarImplementacion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearActualizarImplementacion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ImplementacionCollection" type="ImplementacionCollection"/>
   <xs:complexType name="ImplementacionCollection">
      <xs:sequence>
         <xs:element name="Implementacion" type="Implementacion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Implementacion">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idOperacion" type="xs:long" minOccurs="0"/>
         <xs:element name="tipoProceso" type="string20" minOccurs="0"/>
         <xs:element name="nombreAdquisicion" type="string1024" minOccurs="0"/>
         <xs:element name="montoPresupuestado" type="xs:decimal" minOccurs="0"/>
         <xs:element name="idTcaTipoMoneda" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="observacion" type="string4000" minOccurs="0" nillable="true"/>
         <xs:element name="fechaPublicacion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="fechaLimiteRecepcion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="requiereLotes" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1024">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1024"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string4000">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4000"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>