BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/ObtenerCuestionario/XSD/ObtenerCuestionario.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ObtenerCuestionario" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ObtenerCuestionario" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ObtenerCuestionarioInput" type="ObtenerCuestionarioInput"/>
   <xs:complexType name="ObtenerCuestionarioInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:string" nillable="true"/>
         <xs:element name="idResponsable" type="xs:string"/>
         <xs:element name="idOperacion" type="xs:string" nillable="true"/>
         <xs:element name="idResponsable" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ObtenerCuestionarioOutputCollection" type="ObtenerCuestionarioOutputCollection"/>
   <xs:complexType name="ObtenerCuestionarioOutputCollection">
      <xs:sequence>
         <xs:element name="ObtenerCuestionarioOutput" type="ObtenerCuestionarioOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ObtenerCuestionarioOutput">
      <xs:sequence>
         <xs:element name="ID_PREGUNTA" type="xs:string"/>
         <xs:element name="PREGUNTA" type="xs:string" nillable="true"/>
         <xs:element name="RESPUESTA" type="xs:string" nillable="true"/>
         <xs:element name="JUSTIFICACION" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="DESCRIPCION_PRINCIPIO" type="xs:string"/>
         <xs:element name="ID_PRINCIPIO" type="xs:string"/>
         <xs:element name="DESCRIPCION_CRITERIO" type="xs:string"/>
         <xs:element name="ID_CRITERIO" type="xs:string"/>
         <xs:element name="RESPONSABLE" type="xs:string"/>
         <xs:element name="ID_DOCUMENTO" type="xs:string" nillable="true"/>
         <xs:element name="NOMBRE_DOCUMENTO" type="xs:string"/>
         <xs:element name="OPCION" type="xs:string"/>
         <xs:element name="TIPO_PREGUNTA" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>