BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Prepago/V1/Schema/PrepagoBO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/PrepagoBO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:gesCobBO="http://www.bcie.org/GestionCobroBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" xmlns:desBO="http://www.bcie.org/DesembolsoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:AtributoBO="http://www.bcie.org/AtributoBO" xmlns:comBO="http://www.bcie.org/CommonBO" xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:preBO="http://www.bcie.org/PrepagoBO" xmlns:ns1="http://www.bcie.org/DesembolsoBO">
	<xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="../../../Operacion/V1/Schema/OperacionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="../../../../DominioCliente/Cliente/V1/Schema/ClienteBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/CommonBO" schemaLocation="../../../../Common/V1/Schema/CommonBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/AtributoBO" schemaLocation="../../../../Common/V1/Schema/AtributoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/DesembolsoBO" schemaLocation="../../../../DominioDesembolso/Desembolso/V1/Schema/DesembolsoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/LineaCreditoBO" schemaLocation="../../../../DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/GestionCobroBO" schemaLocation="../../../../DominioCliente/GestionCobro/V1/Schema/GestionCobroBO.xsd"/>
	<xsd:complexType name="prepagoType">
		<xsd:complexContent>
			<xsd:extension base="AtributoBO:EntidadMinima">
				<xsd:sequence>
					<xsd:element name="FechaSolicitud" type="xsd:date"/>
					<xsd:element name="FechaPrepago" type="xsd:date"/>
					<xsd:element name="FechaRegistro" type="xsd:date"/>
					<xsd:element name="Monto" type="comBO:MontoType" minOccurs="1" maxOccurs="unbounded"/>
					<xsd:element name="Tipo" type="catBO:Catalogo"/>
					<xsd:element name="Resolucion" type="catBO:Catalogo" minOccurs="0"/>
					<xsd:element name="Operacion" type="operBO:OperacionBasicType"/>
					<xsd:element name="Cliente" type="cliBO:ClienteBasicType"/>
					<xsd:element name="Linea" type="preBO:LineaCreditoPrepagoType" maxOccurs="unbounded"/>
					<xsd:element name="Cargo" type="preBO:CargoPrepagoType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="InfoBanco" type="gesCobBO:InfoBanco" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ReporteType">
		<xsd:complexContent>
			<xsd:extension base="AtributoBO:EntidadMinima">
				<xsd:sequence minOccurs="0">
					<xsd:element name="FechaSolicitud" type="xsd:date"/>
					<xsd:element name="FechaPrepago" type="xsd:date"/>
					<xsd:element name="FechaRegistro" type="xsd:date"/>
					<xsd:element name="Monto" type="comBO:MontoType"/>
					<xsd:element name="Tipo" type="catBO:Catalogo"/>
					<xsd:element name="Operacion" type="operBO:OperacionBasicType"/>
					<xsd:element name="Cliente" type="cliBO:ClienteBasicType"/>
					<xsd:element name="Consolidado" type="preBO:CargoPenalidadType" minOccurs="1" maxOccurs="unbounded"/>
					
					<xsd:element name="CargoPenalidad" type="preBO:CargoPenalidadType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Observaciones" type="preBO:CargoPenalidadType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Penalidad" type="preBO:DetallePenalidadType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="CondicionesEspeciales" type="preBO:CoberturaType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="Coberturas" type="preBO:CoberturaType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="VentaCartera" type="preBO:CoberturaType" minOccurs="0" maxOccurs="unbounded"/>
					<xsd:element name="FuentesExternas" type="preBO:CoberturaType" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LineaCreditoPrepagoType">
		<xsd:complexContent>
			<xsd:extension base="linCreBO:TeenLineaCreditoType">
				<xsd:sequence>
					<xsd:element name="ContratoDesembolso" type="preBO:DesembolsoPrepagoType" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="DesembolsoPrepagoType">
		<xsd:complexContent>
			<xsd:extension base="desBO:ContratoDesembolso">
				<xsd:sequence>
					<xsd:element name="Periodo" type="comBO:periodoType"/>
					<xsd:element name="infoPenalidad" type="preBO:PenalidadType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="PenalidadType">
		<xsd:sequence>
			<xsd:element name="Inicio" type="xsd:date"/>
			<xsd:element name="Fin" type="xsd:date"/>
			<xsd:element name="Plazo" type="xsd:double"/>
			<xsd:element name="Spread" type="xsd:double" minOccurs="0"/>
			<xsd:element name="FraccionLibor" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Tasa" type="xsd:double"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CargoPrepagoType">
		<xsd:sequence>
			<xsd:element name="Rol" type="catBO:Catalogo"/>
			<xsd:element name="Monto" type="comBO:MontoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Observacion" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CargoPenalidadType">
		<xsd:sequence>
			<xsd:element name="Rol" type="catBO:Catalogo" minOccurs="0"/>
			<xsd:element name="Monto" type="comBO:MontoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Observacion" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DetallePenalidadType">
		<xsd:sequence>
			<xsd:group ref="desBO:DesembolsoIdentificador"/>
			<xsd:element name="Monto" type="comBO:MontoType" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="Resolucion" type="xsd:string"/>
			<xsd:element name="Inicio" type="xsd:date"/>
			<xsd:element name="Fin" type="xsd:date"/>
			<xsd:element name="Plazo" type="xsd:double"/>
			<xsd:element name="Tasa" type="xsd:double"/>
			<xsd:element name="ProximoPago" type="xsd:date"/>
			<xsd:element name="ConFuentes" type="xsd:string"/>
			<xsd:element name="Spread" type="xsd:double" minOccurs="0"/>
			<xsd:element name="FraccionLibor" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CoberturaType">
		<xsd:sequence>
			<xsd:group ref="desBO:DesembolsoIdentificador" minOccurs="0"/>
			<xsd:element name="Linea" type="linCreBO:TeenLineaCreditoType"/>
			<xsd:element name="Contraparte" type="catBO:Catalogo" minOccurs="0"/>
			<xsd:element name="FechaEfectiva" type="xsd:date" minOccurs="0"/>
			<xsd:element name="FechaVencimiento" type="xsd:date" minOccurs="0"/>
			<xsd:element name="Fuente" type="linCreBO:Fuente" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>