Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBAcct/AcctStmtImgInq/AcctStmtImgInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBAcctAppSvc/AcctStmtImgInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctStmtImgInq="http://xmlns.banesco.com/appopt/TCIBAcctAppSvc/AcctStmtImgInq_V1.0" elementFormDefault="qualified">
	<xs:element name="AcctStmtImgInqRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="AcctType" type="xs:string" minOccurs="1" maxOccurs="1"/>
				<xs:element name="AcctKey">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CustomDate">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Month" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="Year" type="xs:string" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AcctStmtImgInqRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Status">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="StatusCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="StatusDesc" type="xs:string" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="AcctStmt">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Binary">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BinData" type="xs:base64Binary" minOccurs="0" maxOccurs="1"/>
										<xs:element name="ImageURL" type="xs:string" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="CustomDate">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Month" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="Year" type="xs:string" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
