AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Capabilities/Support/Commons/ItemCatalogEntitySvc/ItemCatalogDataService/Resource/catalogDataServiceDB.wsdl

<wsdl:definitions name="catalogDataServiceDB" targetNamespace="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvc/ItemCatalogDataService/Resource/catalogDataServiceDB" xmlns:tns="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvc/ItemCatalogDataService/Resource/catalogDataServiceDB" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/catalogDataServiceDB" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/catalogDataServiceDB" schemaLocation="../Schema/catalogDataServiceDB_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="catalogDataServiceDBSelect_inputParameters">
        <wsdl:part name="catalogDataServiceDBSelect_inputParameters" element="top:catalogDataServiceDBSelect_id_appCode_name_catalogId_description_primaryId_primaryAppCodeInputParameters"/>
    </wsdl:message>
    <wsdl:message name="MdmItemsCatalogsCollection_msg">
        <wsdl:part name="MdmItemsCatalogsCollection" element="top:MdmItemsCatalogsCollection"/>
    </wsdl:message>
    <wsdl:portType name="catalogDataServiceDB_ptt">
        <wsdl:operation name="insert">
            <wsdl:input message="tns:MdmItemsCatalogsCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:MdmItemsCatalogsCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:MdmItemsCatalogsCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="catalogDataServiceDBSelect">
            <wsdl:input message="tns:catalogDataServiceDBSelect_inputParameters"/>
            <wsdl:output message="tns:MdmItemsCatalogsCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="catalogDataServiceDB_Binding" type="tns:catalogDataServiceDB_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="insert">
            <soap:operation style="document" soapAction="http://xmlns.oracle.com/pcbpel/adapter/db/ItemCatalogDataService/ItemCatalogDataServiceProcess/catalogDataServiceDB/insert"/>
            <wsdl:input>
                <soap:body use="literal" parts="MdmItemsCatalogsCollection"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation style="document" soapAction="http://xmlns.oracle.com/pcbpel/adapter/db/ItemCatalogDataService/ItemCatalogDataServiceProcess/catalogDataServiceDB/update"/>
            <wsdl:input>
                <soap:body use="literal" parts="MdmItemsCatalogsCollection"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation style="document" soapAction="http://xmlns.oracle.com/pcbpel/adapter/db/ItemCatalogDataService/ItemCatalogDataServiceProcess/catalogDataServiceDB/delete"/>
            <wsdl:input>
                <soap:body use="literal" parts="MdmItemsCatalogsCollection"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="catalogDataServiceDBSelect">
            <soap:operation style="document" soapAction="http://xmlns.oracle.com/pcbpel/adapter/db/ItemCatalogDataService/ItemCatalogDataServiceProcess/catalogDataServiceDB/catalogDataServiceDBSelect"/>
            <wsdl:input>
                <soap:body use="literal" parts="catalogDataServiceDBSelect_inputParameters"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="MdmItemsCatalogsCollection"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>