BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/CrearReporteNoObjecion/XSD/ReporteNoObjeciones.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema targetNamespace="http://service.org.bcie.www/" xmlns:ns1="http://www.bcie.org/herramientaOfismatica/ReporteNoObjeciones" xmlns:ns0="http://service.org.bcie.www/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="ReporteNoObjecionesType.xsd" namespace="http://www.bcie.org/herramientaOfismatica/ReporteNoObjeciones"/>
  <xsd:complexType name="generarReporteNoObjeciones">
    <xsd:sequence>
      <xsd:element name="RepNoObjeciones" type="ns1:ReporteNoObjeciones" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="generarReporteNoObjecionesResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="generarReporteNoObjeciones" type="ns0:generarReporteNoObjeciones"/>
  <xsd:element name="generarReporteNoObjecionesResponse" type="ns0:generarReporteNoObjecionesResponse"/>
</xsd:schema>