BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/CrearBitacoraReglasDesembolso/V1/Schema/CrearBitacoraReglasDesembolsoBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/CrearBitacoraReglasDesembolsoBO"
            targetNamespace="http://www.bcie.org/CrearBitacoraReglasDesembolsoBO" elementFormDefault="qualified">
  <xsd:complexType name="BitacoraReglasDesembolso">
    <xsd:sequence>
      <xsd:element name="Id" type="xsd:int"/>
      <xsd:element name="InstanciaProceso" type="xsd:string"/>
      <xsd:element name="IdTreReglaDesembolso" type="xsd:int"/>
      <xsd:element name="IdTarea" type="xsd:int"/>
      <xsd:element name="Descripcion" type="xsd:string"/>
      <xsd:element name="Estatus" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
