Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/WFChkAppSvc/WFChkAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="WFChkAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/WFChkAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/WFChkAppSvc_V1.0"
                  xmlns:appoptChkOrdAdd="http://xmlns.banesco.com/appopt/WFChkAppSvc/ChkOrdAdd_V1.0"
                  xmlns:appoptChkOrdMod="http://xmlns.banesco.com/appopt/WFChkAppSvc/ChkOrdMod_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/eo/Status_V1.0"
                  schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFChkAppSvc/ChkOrdAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFChk/ChkOrdAdd/ChkOrdAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFChkAppSvc/ChkOrdMod_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFChk/ChkOrdMod/ChkOrdMod_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="ChkOrdAddRq">
    <wsdl:part name="ChkOrdAddRq" element="appoptChkOrdAdd:ChkOrdAddRq"/>
  </wsdl:message>
  <wsdl:message name="ChkOrdAddRs">
    <wsdl:part name="ChkOrdAddRs" element="appoptChkOrdAdd:ChkOrdAddRs"/>
  </wsdl:message>
  <wsdl:message name="ChkOrdModRq">
    <wsdl:part name="ChkOrdModRq" element="appoptChkOrdMod:ChkOrdModRq"/>
  </wsdl:message>
  <wsdl:message name="ChkOrdModRs">
    <wsdl:part name="ChkOrdModRs" element="appoptChkOrdMod:ChkOrdModRs"/>
  </wsdl:message>
  <wsdl:portType name="WFChkAppSvcPort">
    <wsdl:operation name="ChkOrdAdd">
      <wsdl:input message="tns:ChkOrdAddRq"/>
      <wsdl:output message="tns:ChkOrdAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="ChkOrdMod">
      <wsdl:input message="tns:ChkOrdModRq"/>
      <wsdl:output message="tns:ChkOrdModRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WFChkAppSvcBinding_SOAP11" type="tns:WFChkAppSvcPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ChkOrdAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/WFChkAppSvc_V1.0/ChkOrdAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="ChkOrdAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="ChkOrdAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChkOrdMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/WFChkAppSvc_V1.0/ChkOrdMod"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="ChkOrdModRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="ChkOrdModRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WFChkAppSvc_V1.0">
    <wsdl:port name="WFChkAppSvc_V1.0" binding="tns:WFChkAppSvcBinding_SOAP11">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>