BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Termino/ConsultarTerminobyIdLineaCredito/XSD/ConsultarTcaTermino.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTcaTermino" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTcaTermino" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarTcaTerminoInput" type="ConsultarTcaTerminoInput"/>
   <xs:complexType name="ConsultarTcaTerminoInput">
      <xs:sequence>
         <xs:element name="P_ID_LINEA_CREDITO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarTcaTerminoOutputCollection" type="ConsultarTcaTerminoOutputCollection"/>
   <xs:complexType name="ConsultarTcaTerminoOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarTcaTerminoOutput" type="ConsultarTcaTerminoOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarTcaTerminoOutput">
      <xs:sequence>
         <xs:element name="ID_TCA" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_TCA" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_TCA" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_TERMINO_TCA" type="xs:decimal" nillable="true"/>
         <xs:element name="ES_EDITABLE_EN_FORMALIZACION" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_VALIDAR_COFI" type="xs:decimal" nillable="true"/>
         <xs:element name="SE_PUEDE_DISPENSAR" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_OCG" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TERMINO_PRECARGA" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO_TCA" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="COD_EXTERNO" type="xs:string" nillable="true"/>
         <xs:element name="ES_PLANTILLA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_TERMINO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_FECHA_INICIO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_INICIO" type="xs:dateTime" nillable="true"/>
         <xs:element name="PLAZO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_PLAZO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_VENCIMIENTO" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TCA_MONEDA" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO" type="xs:decimal" nillable="true"/>
         <xs:element name="TASA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_TASA" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA" type="xs:dateTime" nillable="true"/>
         <xs:element name="FRECUENCIA_REVISION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_REVISION" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_INICIO_REVISION" type="xs:dateTime" nillable="true"/>
         <xs:element name="FRECUENCIA_PAGO_INTERES" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_PAGO_INTERES" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_INICIO_PAGO_INTERES" type="xs:dateTime" nillable="true"/>
         <xs:element name="FRECUENCIA_AMORTIZACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_AMORTIZACION" type="xs:decimal" nillable="true"/>
         <xs:element name="MORA" type="xs:decimal" nillable="true"/>
         <xs:element name="PORCENTAJE_COBERTURA" type="xs:decimal" nillable="true"/>
         <xs:element name="SE_APLICAN_RECURSOS_CONCESION" type="xs:decimal" nillable="true"/>
         <xs:element name="SE_APLICAN_RECURSOS_EXTERNOS" type="xs:decimal" nillable="true"/>
         <xs:element name="TIPO_CONTRAPARTE" type="xs:string" nillable="true"/>
         <xs:element name="MONTO_MINIMO_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO_MAXIMO_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="TASA_MINIMA_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="TASA_MAXIMA_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_ESTADO_TCC" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_SUB_ESTADO_TCC" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="TER_BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TERMINO_ENMENDADO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_ENMIENDA" type="xs:dateTime" nillable="true"/>
         <xs:element name="REQUIERE_FONDO_PRESUPUESTARIO" type="xs:decimal" nillable="true"/>
          <xs:element name="DESCRIPCION_FRE" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>