Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBCardDb/CardDbStatusMod/CardDbStatusMod_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBCardDbAppSvc/CardDbStatusMod_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptCardDbStatusMod="http://xmlns.banesco.com/appopt/TCIBCardDbAppSvc/CardDbStatusMod_V1.0" elementFormDefault="qualified">
	<xs:complexType name="CardDbStatusModRq_Type">
		<xs:sequence>
			<xs:element name="CardKey" type="appoptCardDbStatusMod:CardKey" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CardStatus" type="appoptCardDbStatusMod:CardStatus" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FIData" type="appoptCardDbStatusMod:FIData" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyKey" type="appoptCardDbStatusMod:PartyKey" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardDbStatusModRq" type="appoptCardDbStatusMod:CardDbStatusModRq_Type"/>
	<xs:complexType name="CardStatus">
		<xs:sequence>
			<xs:element name="CardStatusCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="StatusReason" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:sequence>
			<xs:element name="IssuedIdentValue" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FIData">
		<xs:sequence>
			<xs:element name="BranchId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FIIdent" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RefIdent" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardDbStatusModRs" type="appoptCardDbStatusMod:CardDbStatusModRs_Type"/>
	<xs:complexType name="CardDbStatusModRs_Type">
		<xs:sequence>
			<xs:element name="Status">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StatusCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="StatusDesc" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="CardStatus" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="1">
						<xs:element name="ApprovalIdent" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="StatusDesc" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardKey">
		<xs:sequence>
			<xs:element name="CardId" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
