BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ConsultarParametrosEnBitacoraProceso/XSD/ConsultarParametrosEnBitacoraProceso_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarParametrosEnBitacoraProceso_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarParametrosEnBitacoraProceso_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarParametrosEnBitacoraProceso_DBInput" type="ConsultarParametrosEnBitacoraProceso_DBInput"/>
   <xs:complexType name="ConsultarParametrosEnBitacoraProceso_DBInput">
      <xs:sequence>
         <xs:element name="IDOPERACION" type="xs:long" nillable="true"/>
         <xs:element name="IDPROCESO" type="xs:long" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarParametrosEnBitacoraProceso_DBOutputCollection" type="ConsultarParametrosEnBitacoraProceso_DBOutputCollection"/>
   <xs:complexType name="ConsultarParametrosEnBitacoraProceso_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarParametrosEnBitacoraProceso_DBOutput" type="ConsultarParametrosEnBitacoraProceso_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarParametrosEnBitacoraProceso_DBOutput">
      <xs:sequence>
         <xs:element name="tr_ID_TBI_PROCESO_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="tp_ID_PROCESO" type="xs:decimal" nillable="true"/>
         <xs:element name="tp_NOMBRE_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="tp_STRING01" type="xs:string" nillable="true"/>
         <xs:element name="tp_STRING02" type="xs:string" nillable="true"/>
         <xs:element name="tp_STRING03" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>