BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/CrearBitacoraCliente/V1/Schema/CrearBitacoraClienteBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/CrearBitacoraClienteBO"
            targetNamespace="http://www.bcie.org/CrearBitacoraClienteBO" elementFormDefault="qualified"
            xmlns:cteBO="http://www.bcie.org/ClienteBO">
  <xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="../../../../DominioCliente/Cliente/V1/Schema/ClienteBO.xsd"/>          
  <xsd:complexType name="BitacoraCliente">
    <xsd:annotation>
      <xsd:documentation>Registro de bitácora de procesos y tareas</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element type="cteBO:Cliente" name="Cliente"/>
      <xsd:element type="xsd:string" name="tipoAccion"/>
      <xsd:element type="xsd:string" name="resolucion"/>
      <xsd:element type="xsd:dateTime" name="fechaResolucion"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
