BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Condicion/CrearTreCategoriaCondicion/XSD/CrearTreTcaEventoCondicion_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearTreTcaEventoCondicion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearTreTcaEventoCondicion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="TreTcaEventoCondicionCollection" type="TreTcaEventoCondicionCollection"/>
   <xs:complexType name="TreTcaEventoCondicionCollection">
      <xs:sequence>
         <xs:element name="TreTcaEventoCondicion" type="TreTcaEventoCondicion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TreTcaEventoCondicion">
      <xs:sequence>
         <xs:element name="id" type="xs:int" nillable="true"/>
         <xs:element name="idCondicion" type="xs:long" minOccurs="0"/>
         <xs:element name="idTcaEvento" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>