BCIE_fenix/dev/ADF-BPM/bpm/PU02ReasignarRC/PU02ReasignarRCProcess/SOA/WSDLs/ProcesosUtilidad.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    
     targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosUtilidad"
     xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosUtilidad"
     xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
     xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:head="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:res="http://www.bcie.org/ResultBO"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:reaRCP="http://xmlns.oracle.com/bpmn/bpmnProcess/ReasignacionRCProcess"
    >
    <wsdl:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosUtilidad">
            <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="oramds:/apps/Resources/BPM/Schema/Comun/Header/V1/HeaderOPN.xsd"/>
            <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ReasignacionRCProcess"
                 schemaLocation="oramds:/apps/Resources/BPM/Schema/PU02/ReasignacionRCProcess.xsd"/>
            <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="oramds:/apps/Resources/ComponentesComunes/Common/V1/Schema/ResultBO.xsd"/>
            <xsd:element name="InicioReasignarRO">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Header" type="head:Header"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="ResultadoProceso">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="resultado" type="res:Resultado"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="InicioReasignarRO">
        <wsdl:part name="parameters" element="tns:InicioReasignarRO"/>
    </wsdl:message>
    <wsdl:message name="InicioProcesoResponse">
        <wsdl:part name="resultado" element="tns:ResultadoProceso"/>
    </wsdl:message>
    <wsdl:message name="InicioReasignarCliente">
        <wsdl:part name="parameters" element="reaRCP:InicioReasignacionRC"/>
    </wsdl:message>
    <wsdl:message name="FinReasignarCliente">
        <wsdl:part name="parameters" element="reaRCP:FinReasignacionRC"/>
    </wsdl:message>
    <wsdl:portType name="ProcesosUtilidadPortType">
        <wsdl:operation name="InicioReasignarRO">
            <wsdl:input message="tns:InicioReasignarRO"/>
            <wsdl:output message="tns:InicioProcesoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="InicioReasignarCliente">
            <wsdl:input message="tns:InicioReasignarCliente"/>
            <wsdl:output message="tns:InicioProcesoResponse"/>
        </wsdl:operation>
        <wsdl:operation name="FinReasignarCliente">
            <wsdl:input message="tns:FinReasignarCliente"/>
            <wsdl:output message="tns:InicioProcesoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ProcesosUtilidadBinding" type="tns:ProcesosUtilidadPortType">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="InicioReasignarRO">
            <wsdlsoap:operation style="document" soapAction="InicioReasignarRO"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="InicioReasignarCliente">
            <wsdlsoap:operation style="document" soapAction="InicioReasignarCliente"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="FinReasignarCliente">
            <wsdlsoap:operation style="document" soapAction="FinReasignarCliente"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <wsdlsoap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
