BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/BPM/Schema/PU01/ReasignacionPayload.xsd

<?xml version='1.0' encoding='windows-1252'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org"
           xmlns:reasignacion="http://xmlns.bcie.org/ObjetoProceso/Reasignacion/Payload/V1"
           xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
           xmlns:notificacion="http://xmlns.bcie.org/ObjetoProceso/Comun/Notificacion/V1"
           targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Reasignacion/Payload/V1" elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
             schemaLocation="../Comun/Header/V1/HeaderOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
             schemaLocation="../Comun/Parameter/V1/ParameterOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Notificacion/V1"
             schemaLocation="../Comun/Notificacion/V1/NotificacionOPN.xsd"/>
  <xs:element name="ReasignacionPayload" type="reasignacion:ReasignacionPayloadType"/>
  <xs:complexType name="ReasignacionPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="Enmiendas" type="reasignacion:EnmiendasType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Comisiones" type="reasignacion:ComisionesType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Lotes" type="reasignacion:LotesType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AgrupadorCondiciones" type="reasignacion:AgrupadorCondicionesType" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element name="SolicitudDesembolso" type="reasignacion:SolicitudDesembolsoType" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element name="ContratoDesembolso" type="reasignacion:ContratoDesembolsoType" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element name="Adquisiciones" type="reasignacion:AdquisicionesType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="IdEnmienda" type="xs:long" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdComision" type="xs:long" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdLote" type="xs:long" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdAgrupador" type="xs:long" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdSolicitud" type="xs:long" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdContrato" type="xs:long" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdAdquisicion" type="xs:long" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EnmiendasType">
    <xs:sequence>
      <xs:element name="idEnmienda" type="xs:long" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComisionesType">
    <xs:sequence>
      <xs:element name="idComision" type="xs:long" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="LotesType">
    <xs:sequence>
      <xs:element name="idLote" type="xs:long" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AgrupadorCondicionesType">
    <xs:sequence>
      <xs:element name="idAgrupador" type="xs:long" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SolicitudDesembolsoType">
    <xs:sequence>
      <xs:element name="idSolicitud" type="xs:long" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContratoDesembolsoType">
    <xs:sequence>
      <xs:element name="idContrato" type="xs:long" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AdquisicionesType">
    <xs:sequence>
      <xs:element name="idAdquisicion" type="xs:long" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>