Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Account/AcctAddAdv/AcctAddAdv_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctAddAdv_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcctAddAdv="http://xmlns.banesco.com/eopt/AcctAddAdv_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:element name="AcctAddAdvRq" type="eoptAcctAddAdv:AcctAddAdvRq_Type"/>
	<xs:element name="AcctAddAdvRs" type="eoptAcctAddAdv:AcctAddAdvRs_Type"/>
	<xs:complexType name="AcctAddAdvRq_Type">
		<xs:sequence>
			<xs:element name="Authoriser" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Funcionario o Empleado que Autoriza la Transacción.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthDt" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de Nacimiento del Cliente o Fecha de Constitución de la Empresa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BirthPlace" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Lugar de Nacimiento del Cliente o Lugar de Constitución de la Empresa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Agencia, Oficina o Sucursal donde se esta realizando la Transacción</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código interno Origen que identifica al Cliente en la Institución</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre Completo del Cliente Titular de la Cuenta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EconomicActivity" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de la Actividad Económica a la cual se dedica el Cliente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Correo Electrónico o Email del Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlagVip" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag que Identifica si la Cuenta es una Cuenta Calificada como VIP.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gender" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sexo del Cliente de la Cuenta. F=Femenino, M=Masculino</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HousePhone" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Teléfono de la Residencia del Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdApp" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código que identifica la aplicación que da origen a este registro.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>consecutivo diario</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaritalStatus" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Estado Civil del Cliente de la Cuenta C=Casado, S=Soltero, D=Divorciado, V=Viudo, U=Unido</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OfficePhone" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Teléfono de la Oficina o lugar de Trabajo del Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAcctDate" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha cuando se Aperturo la Cuenta Origen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherPhone" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Teléfono del Celular u Otro del Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonAddr" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dirección Completa del domicilio del Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Identificación Personal del Cliente (Cédula, Pasaporte, NIT, RUT,etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifica el Tipo de Persona del Cliente (J = Jurídico, N = Natural)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código que identifica cual es el producto asociado a la Cuenta de la Transacción</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Segment" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Segmentación Institucional de los Clientes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubProdCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código que identifica una sub agrupación del Producto.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TerminalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificación de la Terminal donde se origino la Transacción</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnAccount" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de la Cuenta que Originó la Transacción.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnTime" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hora de la Realización de la Transacción en formato HHMMSS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Usuario que realiza la Transacción.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctAddAdvRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
