BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Canales/Votacion/ConsultarVotaciones/V1/Schema/ConsultarVotacionesBO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/ConsultarVotacionesBO" elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ConVotBO="http://www.bcie.org/ConsultarVotacionesBO"
            xmlns:conOper="http://www.bcie.org/ConsultarVotacionesBO" xmlns:catBO="http://www.bcie.org/CatalogoBO"
            xmlns:cliBO="http://www.bcie.org/ClienteBO">
  <xsd:import schemaLocation="../../../../../Resources/ComponentesComunes/Common/V1/Schema/CatalogoBO.xsd"
              namespace="http://www.bcie.org/CatalogoBO"/>
     <xsd:import schemaLocation="../../../../../Resources/ComponentesComunes/DominioCliente/Cliente/V1/Schema/ClienteBO.xsd"
              namespace="http://www.bcie.org/ClienteBO"/>
  <xsd:complexType name="SolicitudAprobacion">
    <xsd:annotation>
      <xsd:appinfo></xsd:appinfo>
      <xsd:documentation></xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idSolicitudAprobacion" maxOccurs="1" minOccurs="0" type="xsd:long"/>
      <xsd:element name="idOperacion" maxOccurs="1" minOccurs="0" type="xsd:long"/>
      <xsd:element name="nombreOperacion" type="xsd:string"/>
      <xsd:element name="tipoSolicitud" type="catBO:Catalogo"/>
      <xsd:element name="nivelAprobacion" type="catBO:Catalogo"/>
      <xsd:element name="esReunionVirtual" type="xsd:boolean"/>
      <xsd:element name="fechaInicio" type="xsd:date"/>
      <xsd:element name="fechaTermino" type="xsd:date"/>
      <xsd:element name="horaReunion" type="xsd:dateTime"/>
      <xsd:element name="lugar" type="xsd:string"/>
      <xsd:element name="loginUsuario" type="xsd:string"/>
      <xsd:element name="fechaAsignacion" type="xsd:dateTime"/>
      <xsd:element name="fechaCierre" type="xsd:date"/>
      <xsd:element name="loginUsuarioCierre" type="xsd:string"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
      <xsd:element name="estado" type="xsd:boolean"/>
      <xsd:element name="marcadoComoLeido" type="xsd:boolean"/>
      <xsd:element name="cliente" type="cliBO:ClienteBasicType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Usuario">
    <xsd:sequence>
      <xsd:element name="idUsuarioReunion" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="idSolicitudAprobacion" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="rol" type="catBO:Catalogo"/>
      <xsd:element name="usuario" type="xsd:string"/>
      <xsd:element name="dependecia" type="xsd:string"/>
      <xsd:element name="emiteVoto" type="xsd:boolean"/>
      <xsd:element name="notificar" type="xsd:boolean"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
      <xsd:element name="otro" type="xsd:boolean"/>
      <xsd:element name="excusado" type="xsd:boolean"/>
      <xsd:element name="estado" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Votacion">
    <xsd:sequence>
      <xsd:element name="SolicitudAprobacion" type="ConVotBO:SolicitudAprobacion" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Usuario" type="ConVotBO:Usuario" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Votaciones">
    <xsd:sequence>
      <xsd:element name="Votacion" type="ConVotBO:Votacion" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>