Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/PNAcctAppSvc/PNAcctAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="PNAcctAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/PNAcctAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/PNAcctAppSvc_V1.0"
                  xmlns:appoptAcctCondMobilAdd="http://xmlns.banesco.com/appopt/PNAcctAppSvc/AcctCondMobilAdd_V1.0"
                  xmlns:appoptAcctAdd="http://xmlns.banesco.com/appopt/PNAcctAppSvc/AcctAdd_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/PNAcctAppSvc/AcctCondMobilAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/PNAcct/AcctCondMobilAdd/AcctCondMobilAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/PNAcctAppSvc/AcctAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/PNAcct/AcctAdd/AcctAdd_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="AcctCondMobilAddRq">
    <wsdl:part name="AcctCondMobilAddRq" element="appoptAcctCondMobilAdd:AcctCondMobilAddRq"/>
  </wsdl:message>
  <wsdl:message name="AcctCondMobilAddRs">
    <wsdl:part name="AcctCondMobilAddRs" element="appoptAcctCondMobilAdd:AcctCondMobilAddRs"/>
  </wsdl:message>
  <wsdl:message name="AcctAddRq">
    <wsdl:part name="AcctAddRq" element="appoptAcctAdd:AcctAddRq"/>
  </wsdl:message>
  <wsdl:message name="AcctAddRs">
    <wsdl:part name="AcctAddRs" element="appoptAcctAdd:AcctAddRs"/>
  </wsdl:message>
  <wsdl:portType name="PNAcctAppSvcPort">
    <wsdl:operation name="AcctCondMobilAdd">
      <wsdl:input message="tns:AcctCondMobilAddRq"/>
      <wsdl:output message="tns:AcctCondMobilAddRs"/>
      <wsdl:fault message="tns:SystemFault" name="SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctAdd">
      <wsdl:input message="tns:AcctAddRq"/>
      <wsdl:output message="tns:AcctAddRs"/>
      <wsdl:fault message="tns:SystemFault" name="SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="PNAcctAppSvcBinding_SOAP11" type="tns:PNAcctAppSvcPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AcctCondMobilAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/PNAcctAppSvc_V1.0/AcctCondMobilAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctCondMobilAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctCondMobilAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/PNAcctAppSvc_V1.0/AcctAdd"/>
      <wsdl:input>
        <soap:body use="literal" parts="AcctAddRq"/>
        <soap:header message="tns:MsgHdrRq" part="MsgHdrRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="AcctAddRs"/>
         <soap:header message="tns:MsgHdrRs" part="MsgHdrRs" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="PNAcctAppSvc_V1.0">
    <wsdl:port name="PNAcctAppSvc_V1.0" binding="tns:PNAcctAppSvcBinding_SOAP11">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
