BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Prepago/V1/Schema/PrepagoMO.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:preMO="http://www.bcie.org/PrepagoMO" xmlns:preBO="http://www.bcie.org/PrepagoBO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:docuBO="http://www.bcie.org/DocumentoBO" xmlns:correoBO="http://www.bcie.org/CorreoBO" targetNamespace="http://www.bcie.org/PrepagoMO" elementFormDefault="qualified">
	<xsd:import namespace="http://www.bcie.org/PrepagoBO" schemaLocation="PrepagoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/DocumentoBO" schemaLocation="../../../../DominioDocumento/Documento/V1/Schema/DocumentoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/CorreoBO" schemaLocation="../../../../Utilidades/EnviarCorreoElectronico/V1/Schema/CorreoElectronicoBO.xsd"/>
	<xsd:element name="ConsultarPrepagoRequest" type="preMO:ConsultarPrepagoRequestType"/>
	<xsd:element name="ConsultarPrepagoResponse" type="preMO:ConsultarPrepagoResponseType"/>
	<xsd:element name="ExtraerReportePrepagoRequest" type="preMO:ExtraerReportePrepagoRequestType"/>
	<xsd:element name="ExtraerReportePrepagoResponse" type="preMO:ExtraerReportePrepagoResponseType"/>
	<xsd:element name="PlanArmotizacionRequest" type="preMO:PlanArmotizacionRequestType"/>
	<xsd:element name="PlanArmotizacionResponse" type="preMO:PlanArmotizacionResponseType"/>
	<xsd:element name="InformePrepagoRequest" type="preMO:InformePrepagoRequestType"/>
	<xsd:element name="InformePrepagoResponse" type="preMO:InformePrepagoResponseType"/>
	<xsd:element name="ReportePrepagoRequest" type="preMO:ReportePrepagoRequestType"/>
	<xsd:element name="ReportePrepagoResponse" type="preMO:ReportePrepagoResponseType"/>
	<xsd:element name="GenerarReportePrepagoRequest" type="preMO:GenerarReportePrepagoRequestType"/>
	<xsd:element name="GenerarReportePrepagoResponse" type="preMO:GenerarReportePrepagoResponseType"/>
	<xsd:complexType name="ConsultarPrepagoRequestType">
		<xsd:sequence>
			<xsd:element name="idPrepago" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarPrepagoResponseType">
		<xsd:sequence>
			<xsd:element name="Prepago" type="preBO:prepagoType"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtraerReportePrepagoRequestType">
		<xsd:sequence>
			<xsd:element name="idPrepago" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtraerReportePrepagoResponseType">
		<xsd:sequence>
			<xsd:element name="Reporte" type="preBO:ReporteType"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformePrepagoRequestType">
		<xsd:sequence>
			<xsd:element name="idPrepago" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformePrepagoResponseType">
		<xsd:sequence>
			<xsd:element name="Prepago" type="preBO:prepagoType" minOccurs="0"/>
			<xsd:element name="Reporte" type="preBO:ReporteType"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PlanArmotizacionRequestType">
		<xsd:sequence>
			<xsd:element name="URL" type="xsd:string"/>
			<xsd:element name="Tags" type="correoBO:param" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PlanArmotizacionResponseType">
		<xsd:sequence>
			<xsd:element name="URL" type="xsd:string"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReportePrepagoRequestType">
		<xsd:sequence>
			<xsd:element name="idPrepago" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReportePrepagoResponseType">
		<xsd:sequence>
			<xsd:element name="Documentos" type="docuBO:ListaDocumentos"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GenerarReportePrepagoResponseType">
		<xsd:sequence>
			<xsd:element name="Documentos" type="docuBO:ListaDocumentos"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GenerarReportePrepagoRequestType">
		<xsd:sequence>
			<xsd:element name="Prepago" type="preBO:prepagoType"/>
			<xsd:element name="Reporte" type="preBO:ReporteType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
