BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/CrearReporteCumplimientoCondicion/XSD/GenerarCumplimientoCondicionTypes.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema xmlns:ns0="http://www.bcie.org/herramientaOfismatica/cumplimientocondiciones" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bcie.org/herramientaOfismatica/cumplimientocondiciones" elementFormDefault="qualified"><xsd:complexType name="cumplimiento"><xsd:sequence><xsd:element name="lstCondicion" type="ns0:lstCondicion" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:complexType name="condicion"><xsd:sequence><xsd:element name="tipo" type="xsd:string"/><xsd:element name="nombre" type="xsd:string"/><xsd:element name="descripcion" type="xsd:string"/><xsd:element name="estado" type="xsd:string"/><xsd:element name="fechaVigenciaValidacion" type="xsd:string"/><xsd:element name="priCategoria" type="xsd:string"/><xsd:element name="priValidacion" type="xsd:string"/><xsd:element name="categoriaValidacion" type="ns0:categoriaValidacion" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:complexType name="categoriaValidacion"><xsd:sequence><xsd:element name="categoria" type="xsd:string"/><xsd:element name="validacion" type="xsd:string"/></xsd:sequence></xsd:complexType><xsd:complexType name="lstCondicion"><xsd:sequence><xsd:element name="condicion" type="ns0:condicion" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType></xsd:schema>