AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/EBO/MerchandiseHierarchy/MerchandiseHierarchyEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/MerchandiseHierarchy" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/MerchandiseHierarchy" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom">
<xsd:import schemaLocation="../../Common/CommonComponents.xsd" namespace="http://www.agarcia.mx/EnterpriseObjects/Common"/>
<xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Custom" schemaLocation="../../Custom/EBO/CustomMerchandiseHierarchyEBO.xsd"/>
<xsd:element name="MerchandiseHierarchyEBO" type="MerchandiseHierarchyEBOType"/>
<xsd:complexType name="MerchandiseHierarchyEBOType">
<xsd:sequence>
<xsd:element name="Identification" type="com:IdentificationType"/>
<xsd:element name="Division" type="com:IdentificationType" minOccurs="0"/>
<xsd:element name="Brand" type="com:IdentificationType" minOccurs="0"/>
<xsd:element name="Department" type="com:IdentificationType" minOccurs="0"/>
<xsd:element name="Class" type="com:IdentificationType" minOccurs="0"/>
<xsd:element name="Type" type="com:IdentificationType" minOccurs="0"/>
<xsd:element name="Custom" type="cust:CustomMerchandiseHierarchyEBOType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>