AG_2019/OSB/AlmacenesGarcia_DEV/Applications/RetailMerchandising/IGS/XCostChgPublishingService/Schema/XMLSchema_1059602818.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://www.oracle.com/retail/integration/base/bo/XCostChgDesc/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.oracle.com/retail/integration/base/bo/XCostChgDesc/v1" elementFormDefault="qualified"><xsd:element name="XCostChgDesc"><xsd:complexType><xsd:sequence><xsd:element name="item" type="xsd:string"/><xsd:element name="supplier" type="xsd:long"/><xsd:element name="origin_country_id" type="xsd:string"/><xsd:element name="diff_id" type="xsd:string" minOccurs="0"/><xsd:element name="unit_cost" type="xsd:decimal"/><xsd:element name="recalc_ord_ind" type="xsd:string"/><xsd:element name="currency_code" type="xsd:string"/><xsd:element name="hier_level" type="xsd:string" minOccurs="0"/><xsd:element ref="ns0:XCostChgHrDtl" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="XCostChgHrDtl"><xsd:complexType><xsd:sequence><xsd:element name="hier_value" type="xsd:long"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>