AG_2019/OSB/OSB_PRD_Almacenes/Applications/RetailMerchandising/RPM/RPMExportPriceCostChange/Resources/RPMPriceCostChangeExport.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/RPMPriceCostChangeExport" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/RPMPriceCostChangeExport" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="RPMPriceCostChangeExportInput" type="RPMPriceCostChangeExportInput"/>
   <xs:complexType name="RPMPriceCostChangeExportInput">
      <xs:sequence>
         <xs:element name="pHeadId" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="RPMPriceCostChangeExportOutputCollection" type="RPMPriceCostChangeExportOutputCollection"/>
   <xs:complexType name="RPMPriceCostChangeExportOutputCollection">
      <xs:sequence>
         <xs:element name="RPMPriceCostChangeExportOutput" type="RPMPriceCostChangeExportOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RPMPriceCostChangeExportOutput">
      <xs:sequence>
         <xs:element name="PC_EXPORT_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="STYLE" type="xs:string" nillable="true"/>
         <xs:element name="SKU" type="xs:string" nillable="true"/>
         <xs:element name="SUPPLIER" type="xs:decimal" nillable="true"/>
         <xs:element name="STORE" type="xs:decimal" nillable="true"/>
         <xs:element name="SELL_PRICE" type="xs:decimal" nillable="true"/>
         <xs:element name="PCT_CHANGE" type="xs:decimal" nillable="true"/>
         <xs:element name="AMT_CHANGE" type="xs:decimal" nillable="true"/>
         <xs:element name="STATUS" type="xs:string" nillable="true"/>
         <xs:element name="ERR_MSG" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>