AG_2019/SOA/DistributePriceChange/SOA/Schemas/PriceChangeDistributeSchema.xsd

<?xml version='1.0' encoding='windows-1252'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/PriceChangeProcess/BS/PriceChangeDistributeProcess" targetNamespace="http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/PriceChangeProcess/BS/PriceChangeDistributeProcess" xmlns:rp="http://mx.agarcia.ea/Canonical/Commons/ChangePrice/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xsd:import schemaLocation="Commons/ChangePriceCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/ChangePrice/v1"/>
   <xsd:element name="DistributePriceChangeRequest" type="distributedApprovedPriceChangeType"/>
   <xsd:complexType name="distributedApprovedPriceChangeType">
      <xsd:sequence>
         <xsd:element name="event" type="rp:Event"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
