AG_2019/SOA/DistributePriceChange/SOA/Schemas/QueryMDMPriceChangeEventDetDB_table.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/QueryMDMPriceChangeEventDetDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/QueryMDMPriceChangeEventDetDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="PrcEventsDetailsCollection" type="PrcEventsDetailsCollection"/>
   <xs:complexType name="PrcEventsDetailsCollection">
      <xs:sequence>
         <xs:element name="PrcEventsDetails" type="PrcEventsDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PrcEventsDetails">
      <xs:sequence>
         <xs:element name="id" type="xs:long"/>
         <xs:element name="eventId" type="xs:long" minOccurs="0"/>
         <xs:element name="price" type="xs:double" minOccurs="0" nillable="true"/>
         <xs:element name="percent" type="xs:double" minOccurs="0" nillable="true"/>
         <xs:element name="itemId" type="string24" minOccurs="0" nillable="true"/>
         <xs:element name="exportFlag" type="xs:int" minOccurs="0"/>
         <xs:element name="rpmId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="jdaId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="buId" type="string12" minOccurs="0" nillable="true"/>
         <xs:element name="skuId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="styleId" type="string20" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="QueryMDMPriceChangeEventDetDBSelect_itemIdInputParameters" type="QueryMDMPriceChangeEventDetDBSelect_itemId"/>
   <xs:complexType name="QueryMDMPriceChangeEventDetDBSelect_itemId">
      <xs:sequence>
         <xs:element name="itemId" type="xs:long" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string24">
      <xs:restriction base="xs:string">
         <xs:maxLength value="24"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string12">
      <xs:restriction base="xs:string">
         <xs:maxLength value="12"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
