AG_2019/OSB/AlmacenesGarcia_DEV/Applications/RetailMerchandising/RPM/RPMPriceChange/Schema/RPMPriceChangeSchema.xsd

<xsd:schema targetNamespace="http://mx.agarcia.ea/Applications/RetailMerchandising/RPM/PriceChange" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://mx.agarcia.ea/Applications/RetailMerchandising/RPM/PriceChange" xmlns:rp="http://mx.agarcia.ea/Canonical/Commons/ChangePrice/v1" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader">
    
  <xsd:import schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/ChangePriceCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/ChangePrice/v1"/>


  <xsd:import schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
  <xsd:import schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>


  
  <xsd:element name="processEventRequest" type="processType"/>
  <xsd:element name="processEventResponse" type="AGsm:MessageResponse"/>
  <xsd:element name="findEventRequest" type="findEventRequestType"/>
  <xsd:element name="findEventResponse" type="findEventResponseType"/>


  <xsd:complexType name="findEventResponseType">
    <xsd:sequence>
      <xsd:element name="event" type="rp:Event"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="findEventRequestType">
    <xsd:sequence>
      <xsd:element name="appCode" type="xsd:string"/>
      <xsd:element name="eventId" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="processType">
    <xsd:sequence>
      <xsd:element name="event" type="rp:Event"/>
    </xsd:sequence>
  </xsd:complexType>
  
</xsd:schema>