Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/CardDb/CardDbStatusHTMod/CardDbStatusHTMod_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/CardDbStatusHTMod_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptCardDbStatusHTMod="http://xmlns.banesco.com/eopt/CardDbStatusHTMod_V1.0" xmlns:eoCard="http://xmlns.banesco.com/eo/Card_V1.0" xmlns:eoBank="http://xmlns.banesco.com/eo/Banking_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Banking_V1.0" schemaLocation="../../../EO/Banking/Banking_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Card_V1.0" schemaLocation="../../../EO/Card/Card_V1.0.xsd"/>
	<xs:complexType name="CardDbStatusHTModRq_Type">
		<xs:sequence>
			<xs:element name="CardKey" type="eoCard:CardKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CardStatus" type="eoCard:CardStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIData" type="eoBank:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PlasticInfo" type="eoCard:PlasticInfo" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardDbStatusHTModRs" type="eoptCardDbStatusHTMod:CardDbStatusHTModRs_Type"/>
	<xs:complexType name="CardDbStatusHTModRs_Type">
		<xs:sequence>
			<xs:element name="CardStatus" type="eoCard:CardStatus" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardDbStatusHTModRq" type="eoptCardDbStatusHTMod:CardDbStatusHTModRq_Type"/>
</xs:schema>
