Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/HITECH/resources/xsd/DebitCardStatusHandlerImplService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6.--><xs:schema version="1.0" targetNamespace="http://service.debit.hitech.com/" xmlns:tns="http://service.debit.hitech.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SimpleException" nillable="true" type="tns:simpleExceptionBean"/>
  <xs:element name="activateCard" nillable="true" type="xs:decimal"/>
  <xs:element name="activateCardIBanking" nillable="true" type="tns:card"/>
  <xs:element name="activateCardIBankingResponse" nillable="true" type="xs:string"/>
  <xs:element name="activateCardResponse" nillable="true" type="xs:string"/>
  <xs:element name="blockCard" nillable="true" type="tns:card"/>
  <xs:element name="blockCardResponse" nillable="true" type="xs:string"/>
  <xs:element name="card" type="tns:card"/>
  <xs:element name="cards" type="tns:cards"/>
  <xs:element name="changeStatus" nillable="true" type="tns:card"/>
  <xs:element name="changeStatusResponse" nillable="true" type="xs:string"/>
  <xs:element name="clientId" nillable="true" type="xs:decimal"/>
  <xs:element name="clientIdResponse" nillable="true" type="xs:string"/>
  <xs:element name="freeCard" nillable="true" type="tns:card"/>
  <xs:element name="freeCardResponse" nillable="true" type="xs:string"/>
  <xs:element name="getCustomerActiveCards" nillable="true" type="xs:decimal"/>
  <xs:element name="getCustomerAllCards" nillable="true" type="xs:decimal"/>
  <xs:element name="getCustomerBlockedCards" nillable="true" type="xs:decimal"/>
  <xs:element name="getCustomerNewCards" nillable="true" type="xs:decimal"/>
  <xs:element name="validateCard" nillable="true" type="tns:card"/>
  <xs:element name="validateCardResponse" nillable="true" type="xs:string"/>
  <xs:complexType name="cards">
    <xs:sequence>
      <xs:element name="card" type="tns:card" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="card">
    <xs:sequence>
      <xs:element name="customer" type="xs:decimal" minOccurs="0"/>
      <xs:element name="card" type="xs:decimal" minOccurs="0"/>
      <xs:element name="user" type="xs:string" minOccurs="0"/>
      <xs:element name="reason" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
      <xs:element name="expiration" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="simpleExceptionBean">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>