Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/HITECH/resources/xsd/DebitCardCreationHandlerImplServices.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<xs:schema xmlns:tns="http://service.debit.hitech.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.debit.hitech.com/">

	<xs:element name="SimpleException" nillable="true" type="tns:simpleExceptionBean"/>

	<xs:element name="cardData" nillable="true" type="xs:anyType"/>

	<xs:element name="generateCard" nillable="true" type="tns:personalization"/>

	<xs:element name="generateCardResponse" nillable="true" type="tns:cardData"/>

	<xs:element name="generatePin" nillable="true" type="xs:decimal"/>

	<xs:element name="generatePinResponse" nillable="true" type="tns:pinData"/>

	<xs:element name="personalization" type="tns:personalization"/>

	<xs:complexType name="personalization">
		<xs:sequence>
			<xs:element name="cliente" type="xs:decimal" minOccurs="0"/>
			<xs:element name="canal" type="xs:string" minOccurs="0"/>
			<xs:element name="promocion" type="xs:string" minOccurs="0"/>
			<xs:element name="seguro" type="xs:string" minOccurs="0"/>
			<xs:element name="courierPin" type="xs:string" minOccurs="0"/>
			<xs:element name="courierTarjeta" type="xs:string" minOccurs="0"/>
			<xs:element name="cuenta1" type="xs:decimal" minOccurs="0"/>
			<xs:element name="tipo1" type="xs:string" minOccurs="0"/>
			<xs:element name="cuenta2" type="xs:decimal" minOccurs="0"/>
			<xs:element name="tipo2" type="xs:string" minOccurs="0"/>
			<xs:element name="principal" type="xs:decimal" minOccurs="0"/>
			<xs:element name="solicitud" type="xs:string" minOccurs="0"/>
			<xs:element name="usuario" type="xs:string" minOccurs="0"/>
			<xs:element name="producto" type="xs:string" minOccurs="0"/>
			<xs:element name="sucursalOrigen" type="xs:string" minOccurs="0"/>
			<xs:element name="personalizado" type="xs:string" minOccurs="0"/>
			<xs:element name="nombreCliente" type="xs:string" minOccurs="0"/>
			<xs:element name="nombreEmbozado" type="xs:string" minOccurs="0"/>
			<xs:element name="planilla" type="xs:string" minOccurs="0"/>
			<xs:element name="empresa" type="xs:string" minOccurs="0"/>
			<xs:element name="sucursalRetiro" type="xs:string" minOccurs="0"/>
			<xs:element name="detalle" type="xs:string" minOccurs="0"/>
			<xs:element name="flag" type="xs:decimal" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cardData">
		<xs:sequence>
			<xs:element name="respuesta" type="xs:decimal" minOccurs="0"/>
			<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
			<xs:element name="tarjeta" type="xs:decimal" minOccurs="0"/>
			<xs:element name="emision" type="xs:string" minOccurs="0"/>
			<xs:element name="expiracion" type="xs:string" minOccurs="0"/>
			<xs:element name="estado" type="xs:string" minOccurs="0"/>
			<xs:element name="cliente" type="xs:decimal" minOccurs="0"/>
			<xs:element name="nombreCliente" type="xs:string" minOccurs="0"/>
			<xs:element name="nombreEmbozado" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="simpleExceptionBean">
		<xs:sequence/>
	</xs:complexType>

	<xs:complexType name="pinData">
		<xs:sequence>
			<xs:element name="tarjeta" type="xs:decimal" minOccurs="0"/>
			<xs:element name="descripcion" type="xs:string" minOccurs="0"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>