Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/HITECH/resources/xsd/DebitCardQueryHandlerImpServices_xsd_1.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xs:schema xmlns:tns="http://service.debit.hitech.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0"
           targetNamespace="http://service.debit.hitech.com/">
  <xs:element name="SimpleException" nillable="true" type="tns:simpleExceptionBean"/>
  <xs:element name="account" type="tns:account"/>
  <xs:element name="card" type="tns:card"/>
  <xs:element name="cards" type="tns:cards"/>
  <xs:element name="cardsQuery" nillable="true" type="tns:inquiry"/>
  <xs:element name="cardsQueryResponse" nillable="true" type="tns:cards"/>
  <xs:element name="inquiry" type="tns:inquiry"/>
  <xs:complexType name="inquiry">
    <xs:sequence>
      <xs:element name="card" type="xs:decimal" minOccurs="0"/>
      <xs:element name="customer" type="xs:decimal" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="cards">
    <xs:sequence>
      <xs:element name="card" type="tns:card" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="card">
    <xs:sequence>
      <xs:element name="messageId" type="xs:int"/>
      <xs:element name="successIndicator" type="xs:boolean"/>
      <xs:element name="card" type="xs:decimal" minOccurs="0"/>
      <xs:element name="customer" type="xs:decimal" minOccurs="0"/>
      <xs:element name="statusText" type="xs:string" minOccurs="0"/>
      <xs:element name="status" type="xs:string" minOccurs="0"/>
      <xs:element name="emision" type="xs:string" minOccurs="0"/>
      <xs:element name="expiration" type="xs:string" minOccurs="0"/>
      <xs:element name="cancelation" type="xs:string" minOccurs="0"/>
      <xs:element name="account" type="tns:account" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="account">
    <xs:sequence>
      <xs:element name="account" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:decimal" minOccurs="0"/>
      <xs:element name="sequence" type="xs:decimal" minOccurs="0"/>
      <xs:element name="main" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="simpleExceptionBean">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
