AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/AppointmentAPP/RestAppointmentService/Resources/WSDLs/RestApponitmentService.wsdl

<wsdl:definitions name="RestApponitmentService" targetNamespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/RestApponitmentService" xmlns:tns="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/RestApponitmentService" xmlns:inp1="http://www.oracle.com/retail/integration/base/bo/AppointDesc/v1" xmlns:inp2="http://www.agarcia.mx/EnterpriseObjects/Appointment" xmlns:inp3="http://www.oracle.com/retail/integration/base/bo/AppointRef/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.oracle.com/retail/integration/base/bo/AppointDesc/v1" schemaLocation="../../../../MetaData/Components/EnterpriseObjectLibrary/Custom/Schemas/AppointDesc.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Appointment" schemaLocation="../../../../MetaData/Components/EnterpriseObjectLibrary/EBO/Appointment/AppointmentEBM.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import schemaLocation="../../../../MetaData/Components/EnterpriseObjectLibrary/Custom/Schemas/AppointRef.xsd" namespace="http://www.oracle.com/retail/integration/base/bo/AppointRef/v1"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="part1" element="inp1:AppointDesc"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part1" element="inp2:ProccesAppointmentResponseAcknowledgeEBM"/>
    </wsdl:message>
    <wsdl:message name="requestMessageUpadate">
        <wsdl:part name="part1" element="inp1:AppointDesc"/>
    </wsdl:message>
    <wsdl:message name="replyMessageUpdate">
        <wsdl:part name="part1" element="inp2:ProccesAppointmentResponseAcknowledgeEBM"/>
    </wsdl:message>
    <wsdl:message name="requestMessageDelete">
        <wsdl:part name="part1" element="inp3:AppointRef"/>
    </wsdl:message>
    <wsdl:message name="replyMessageDelete">
        <wsdl:part name="part1" element="inp2:ProccesAppointmentResponseAcknowledgeEBM"/>
    </wsdl:message>
    <wsdl:portType name="createappt_ptt">
        <wsdl:operation name="createappt">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="updateappt">
            <wsdl:input message="tns:requestMessageUpadate"/>
            <wsdl:output message="tns:replyMessageUpdate"/>
        </wsdl:operation>
        <wsdl:operation name="deleteappt">
            <wsdl:input message="tns:requestMessageDelete"/>
            <wsdl:output message="tns:replyMessageDelete"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="execute_bind" type="tns:createappt_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createappt">
            <soap:operation style="document" soapAction="createappt"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/RestApponitmentService"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/RestApponitmentService"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="updateappt">
            <soap:operation style="document" soapAction="updateappt"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteappt">
            <soap:operation style="document" soapAction="deleteappt"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>