Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/TCIBAcctAppSvc/TCIBAcctAppSvc_V1.0.wsdl

<wsdl:definitions name="TCIBAcctAppSvc_V1.0"
                  targetNamespace="http://xmlns.banesco.com/AppSvc/TCIBAcctAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/TCIBAcctAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
                  xmlns:appoptAcctStmtInq="http://xmlns.banesco.com/appopt/TCIBAcctAppSvc/AcctStmtInq_V1.0"
                  xmlns:appoptAcctTrnInq="http://xmlns.banesco.com/appopt/TCIBAcctAppSvc/AcctTrnInq_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0">
  
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/TCIBAcctAppSvc/AcctStmtInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/TCIBAcct/AcctStmtInq/AcctStmtInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/TCIBAcctAppSvc/AcctTrnInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/TCIBAcct/AcctTrnInq/AcctTrnInq_V1.0.xsd"/>          
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
   <wsdl:message name="AcctStmtInqRq">
    <wsdl:part name="AcctStmtInqRq" element="appoptAcctStmtInq:AcctStmtInqRq"/>
  </wsdl:message>
  <wsdl:message name="AcctStmtInqRs">
    <wsdl:part name="AcctStmtInqRs" element="appoptAcctStmtInq:AcctStmtInqRs"/>
  </wsdl:message>
  <wsdl:message name="AcctTrnInqRq">
    <wsdl:part name="AcctTrnInqRq" element="appoptAcctTrnInq:AcctTrnInqRq"/>
  </wsdl:message>
  <wsdl:message name="AcctTrnInqRs">
    <wsdl:part name="AcctTrnInqRs" element="appoptAcctTrnInq:AcctTrnInqRs"/>
  </wsdl:message>
  
  <wsdl:portType name="TCIBAcctAppSvc_V1.0">
     <wsdl:operation name="AcctTrnInq">
      <wsdl:input message="tns:AcctTrnInqRq"/>
      <wsdl:output message="tns:AcctTrnInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctStmtInq">
      <wsdl:input message="tns:AcctStmtInqRq"/>
      <wsdl:output message="tns:AcctStmtInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="TCIBAcctAppSvc_V1.0SOAP" type="tns:TCIBAcctAppSvc_V1.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
     <wsdl:operation name="AcctTrnInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/TCIBAcctAppSvc_V1.0/AcctTrnInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctTrnInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctTrnInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctStmtInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/TCIBAcctAppSvc_V1.0/AcctStmtInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctStmtInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctStmtInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="TCIBAcctAppSvc_V1.0">
    <wsdl:port name="TCIBAcctAppSvc_V1.0SOAP" binding="tns:TCIBAcctAppSvc_V1.0SOAP">
      <soap:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>