Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Utility/AdminOnlineBankAddAdvise/AdminOnlineBankAddAdvise_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AdminOnlineBankAddAdvise_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAdminOnlineBankAddAdvise="http://xmlns.banesco.com/eopt/AdminOnlineBankAddAdvise_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../../../EO/Common/Common_V1.0.xsd"/>
	<xs:element name="AdminOnlineBankAddAdviseRq" type="eoptAdminOnlineBankAddAdvise:AdminOnlineBankAddAdviseRq_Type"/>
	<xs:element name="AdminOnlineBankAddAdviseRs" type="eoptAdminOnlineBankAddAdvise:AdminOnlineBankAddAdviseRs_Type"/>
	<xs:complexType name="AdminOnlineBankAddAdviseRq_Type">
		<xs:sequence>
			<xs:element name="ConfNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CreditAcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de cuenta crédito, número de crédito o número de tarjeta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto/Moneda de la operación en la cuenta crédito</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebitAcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de cuenta débito</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebitAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto/Moneda de la operación en la cuenta débito</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de procesamiento de la operación (en la que se hizo efectiva la transacción)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EventNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica si la trama es la trama 315 o 391 de Monitor para registrar los datos respectivos en Monitor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdApp" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código que identifica la aplicación que da origen a este registro.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Consecutivo diario</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrigDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de la operación (en la que se realizó la operación)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrigHr" type="eoCom:timePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hora de la operación (en la que se realizó la operación)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SessionInfo" type="eoCom:SessionInfo" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TrnCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código que identifica la transacción/operación realizada. (Deposito, Retiro, Transferencia, etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripción de la operación realizada. (Descripción que el cliente coloca para reconocer la transacción)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference transaction.

Reference associated with the operation or transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdminOnlineBankAddAdviseRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
