Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/AccountLoan/AcctLoanAutoAdd/AcctLoanAutoAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctLoanAutoAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcctLoanAutoAdd="http://xmlns.banesco.com/eopt/AcctLoanAutoAdd_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:element name="AcctLoanAutoAddRq" type="eoptAcctLoanAutoAdd:AcctLoanAutoAddRq_Type"/>
	<xs:element name="AcctLoanAutoAddRs" type="eoptAcctLoanAutoAdd:AcctLoanAutoAddRs_Type"/>
	<xs:complexType name="AcctLoanAutoAddRq_Type">
		<xs:sequence>
			<xs:element name="AcctLoan" type="eoAcct:Acct" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoanAutoAddRs_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
