BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyConfiguracionProceso/src/META-INF/ProxyConfiguracionProceso/wsdls/V1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="ConfiguracionProcesos" targetNamespace="http://xmlns.bcie.com/ConfiguracionProcesosService" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.bcie.org/ConfiguracionProcesosMO" xmlns:WL5G3N2="http://xmlns.bcie.com/ConfiguracionProcesosService" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/">
  <WL5G3N0:types>
    <xsd:schema xmlns:confMO="http://www.bcie.org/ConfiguracionProcesosMO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://xmlns.bcie.com/ConfiguracionProcesosService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/ConfiguracionProcesosMO" schemaLocation="V1.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestConfiguracionElegibilidadMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionElegibilidadRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionElegibilidadMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionElegibilidadResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionPreparacionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionPreparacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionPreparacionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionPreparacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionLavadoActivosMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionLavadoActivosRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionLavadoActivosMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionLavadoActivosResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionAnalisisMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionAnalisisRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionAnalisisMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionAnalisisResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionFormalizacionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionFormalizacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionFormalizacionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionFormalizacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionAprobacionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionAprobacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionAprobacionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionAprobacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionReasignarOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionReasignarOperacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionReasignarOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionReasignarOperacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionReasignarClienteMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionReasignarClienteRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionReasignarClienteMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionReasignarClienteResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionFormalizacionEnmiendasMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionFormalizacionEnmiendasRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionFormalizacionEnmiendasMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionFormalizacionEnmiendasResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionLeccionesAprendidasMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionLeccionesAprendidasRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionLeccionesAprendidasMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionLeccionesAprendidasResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionEvaluacionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionEvaluacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionEvaluacionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionEvaluacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionCancelarOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionCancelarOperacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="resposeConfiguracionCancelarOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionCancelarOperacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionEnmiendasMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionEnmiendasRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionEnmiendasMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionEnmiendasResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionAdministracionClienteMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionAdministracionClienteRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionAdministracionClientenMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionAdministracionClienteResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionAdministracionOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionAdministracionOperacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionAdministracionOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionAdministracionOperacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionComisionesMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionComisionesRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionComisionesMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionComisionesResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionCondicionesMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionCondicionesRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionCondicionesMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionCondicionesResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionSeguimientoCrediticioMessage">
    <WL5G3N0:part element="WL5G3N1:configurarSeguimientoCrediticioRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionSeguimientoCrediticioMessage">
    <WL5G3N0:part element="WL5G3N1:configurarSeguimientoCrediticioResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionUCEMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionRecuperacionUCERequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionUCEMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionRecuperacionUCEResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionSupervisionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionSupervisionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionSupervisionMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionSupervisionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionSeguimientoCobroMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionSeguimientoCobroRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionSeguimientoCobroMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionSeguimientoCobroResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionDesembolsoMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionDesembolsoRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionDesembolsoMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionDesembolsoResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionDesembolsoExcepcionMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionDesembolsoExcepcionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionDesembolsoExcepcionMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionDesembolsoExcepcionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionValidacionAsignacionMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionValidacionAsignacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionValidacionAsignacionMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionValidacionAsignacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionCierreFideicomisoMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionCierreFideicomisoRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionCierreFideicomisoMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionCierreFideicomisoResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionCierreMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionCierreRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionCierreMessage">
    <WL5G3N0:part element="WL5G3N1:configuracionCierreResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionGestionCobroMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionGestionCobroRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionGestionCobroMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionGestionCobroResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionPrepagoMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionPrepagoRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionPrepagoMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionPrepagoResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionAprobacionClienteMessage">
    <WL5G3N0:part element="WL5G3N1:CofiguracionAprobacionClienteRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionAprobacionClienteMessage">
    <WL5G3N0:part element="WL5G3N1:CofiguracionAprobacionClienteResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionAdquisicionMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionAdquisicionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionAdquisicionMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionAdquisicionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionContratacionFormalizacionMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionContratacionFormalizacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionContratacionFormalizacionMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionContratacionFormalizacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionEnviarGastoMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionEnviarGastoRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionEnviarGastoMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionEnviarGastoResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionImplementacionPCTMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionImplementacionPCTRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionImplementacionPCTMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionImplementacionPCTResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConfiguracionInteresesCobroMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionInteresesCobroRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConfiguracionInteresesCobroMessage">
    <WL5G3N0:part element="WL5G3N1:ConfiguracionInteresesCobroResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="ConfiguracionProcesosPT">
    <WL5G3N0:operation name="configuracionElegibilidad">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionElegibilidadMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionElegibilidadMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionPreparacion">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionPreparacionMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionPreparacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionLavadoActivos">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionLavadoActivosMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionLavadoActivosMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionAnalisis">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionAnalisisMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionAnalisisMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionFormalizacion">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionFormalizacionMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionFormalizacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionAprobacion">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionAprobacionMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionAprobacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionCancelarOperacion">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionCancelarOperacionMessage"/>
      <WL5G3N0:output message="WL5G3N2:resposeConfiguracionCancelarOperacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionEvaluacion">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionEvaluacionMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionEvaluacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionEnmiendas">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionEnmiendasMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionEnmiendasMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionAdministracionCliente">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionAdministracionClienteMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionAdministracionClientenMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionAdministracionOperacion">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionAdministracionOperacionMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionAdministracionOperacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionComisiones">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionComisionesMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionComisionesMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionCondiciones">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionCondicionesMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionCondicionesMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionReasignarOperacion">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionReasignarOperacionMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionReasignarOperacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionSeguimientoCrediticio">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionSeguimientoCrediticioMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionSeguimientoCrediticioMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionUCE">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionUCEMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionUCEMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionSupervision">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionSupervisionMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionSupervisionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionCierreFideicomiso">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionCierreFideicomisoMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionCierreFideicomisoMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionSeguimientoCobro">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionSeguimientoCobroMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionSeguimientoCobroMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionCierre">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionCierreMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionCierreMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionDesembolso">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionDesembolsoMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionDesembolsoMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionGestionCobro">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionGestionCobroMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionGestionCobroMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionPrepago">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionPrepagoMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionPrepagoMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionDesembolsoExcepcion">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionDesembolsoExcepcionMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionDesembolsoExcepcionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionValidacionAsignacion">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionValidacionAsignacionMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionValidacionAsignacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionAprobacionCliente">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionAprobacionClienteMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionAprobacionClienteMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionAdquisicion">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionAdquisicionMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionAdquisicionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionContratacionFormalizacion">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionContratacionFormalizacionMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionContratacionFormalizacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionEnviarGasto">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionEnviarGastoMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionEnviarGastoMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionImplementacionPCT">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionImplementacionPCTMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionImplementacionPCTMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionInteresesCobro">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionInteresesCobroMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionInteresesCobroMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionReasignarCliente">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionReasignarClienteMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionReasignarClienteMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionFormalizacionEnmiendas">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionFormalizacionEnmiendasMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionFormalizacionEnmiendasMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionLeccionesAprendidas">
      <WL5G3N0:input message="WL5G3N2:requestConfiguracionLeccionesAprendidasMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConfiguracionLeccionesAprendidasMessage"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="ConfiguracionPreparacion12Bnd" type="WL5G3N2:ConfiguracionProcesosPT">
    <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="configuracionElegibilidad">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionElegibilidad" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionPreparacion">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionPreparacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionLavadoActivos">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionLavadoActivos" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionAnalisis">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionAnalisis" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionFormalizacion">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionFormalizacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionAprobacion">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionAprobacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionCancelarOperacion">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionCancelarOperacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionEvaluacion">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionEvaluacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionEnmiendas">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionEnmiendas" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionAdministracionCliente">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionAdministracionCliente" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionAdministracionOperacion">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionAdministracionOperacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionComisiones">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionComisiones" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionCondiciones">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionCondiciones" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionReasignarOperacion">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionReasignarOperacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionSeguimientoCrediticio">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionSeguimientoCrediticio" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionUCE">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionUCE" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionSupervision">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionSupervision" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionCierreFideicomiso">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionCierreFideicomiso/" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionSeguimientoCobro">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionSeguimientoCobro" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionCierre">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionCierre/" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionDesembolso">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionDesembolso" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionGestionCobro">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionGestionCobro" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionPrepago">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionPrepago" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionDesembolsoExcepcion">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ConfiguracionDesembolsoExcepcionSOR/ConfiguracionDesembolsoExcepcion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionValidacionAsignacion">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ConfiguracionValidacionAsignacionSOR/configuracionValidacionAsignacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionAprobacionCliente">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionAprobacionCliente" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionAdquisicion">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionAdquisicion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionContratacionFormalizacion">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionContratacionFormalizacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionEnviarGasto">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionEnviarGasto" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionImplementacionPCT">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionImplementacionPCT" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionInteresesCobro">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionInteresesCobro" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionReasignarCliente">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionReasignarCliente" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionFormalizacionEnmiendas">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionFormalizacionEnmiendas" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="configuracionLeccionesAprendidas">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionLeccionesAprendidas" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ConfiguracionPreparacion12BndQSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N2:ConfiguracionPreparacion12Bnd" name="ConfiguracionPreparacion12BndQSPort">
      <WL5G3N3:address location="http://OSBLNX1-vip.sndevmw.bcievcn01.oraclevcn.com:7021/ProcesoNegocio/ConfiguracionProcesos_PS/V1.0"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>