BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyConfiguracionProceso/src/META-INF/ProxyConfiguracionProceso/wsdls/V1_1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://www.bcie.org/ConfiguracionProcesosBO" xmlns:AdqBO="http://www.bcie.org/AdquisicionBO" xmlns:CondicionBO="http://www.bcie.org/CondicionBO" xmlns:bitBO="http://www.bcie.org/CrearBitacoraProcesoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:comBO="http://www.bcie.org/ComisionBO" xmlns:confBO="http://www.bcie.org/ConfiguracionProcesosBO" xmlns:desBO="http://www.bcie.org/DesembolsoBO" xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:ipctBO="http://www.bcie.org/ImplementacionPctBO" xmlns:lecciones="http://www.bcie.org/LeccionAprendidaBO" xmlns:mtccBO="http://www.bcie.org/MatrizTCCBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" xmlns:prodBO="http://www.bcie.org/ProductoBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/ProductoBO" schemaLocation="V1_2.xsd"/>
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="V1_3.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="V1_10.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_6.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ComisionBO" schemaLocation="V1_5.xsd"/>
  <xsd:import namespace="http://www.bcie.org/MatrizTCCBO" schemaLocation="V1_14.xsd"/>
  <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="V1_19.xsd"/>
  <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" schemaLocation="V1_22.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ImplementacionPctBO" schemaLocation="V1_25.xsd"/>
  <xsd:import namespace="http://www.bcie.org/DesembolsoBO" schemaLocation="V1_11.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CondicionBO" schemaLocation="V1_8.xsd"/>
  <xsd:import namespace="http://www.bcie.org/AdquisicionBO" schemaLocation="V1_28.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CrearBitacoraProcesoBO" schemaLocation="V1_29.xsd"/>
  <xsd:import namespace="http://www.bcie.org/LeccionAprendidaBO" schemaLocation="V1_30.xsd"/>
  <!-- Elegibilidad -->
  <xsd:complexType name="ConfiguracionElegibilidad">
    <xsd:annotation>
      <xsd:documentation>Elemento para la configuración inicial del proceso de Elegibilidad</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element name="producto" type="prodBO:Producto"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
      <xsd:element name="configuration">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="requiereAsjur" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="requiereGeries" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="requiereOej" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Rol">
    <xsd:complexContent>
      <xsd:extension base="catBO:Catalogo"/>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="EquipoTrabajo">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Rol" type="catBO:Catalogo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tareas">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Tarea" type="catBO:Tarea"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionPreparacion">
    <xsd:annotation>
      <xsd:documentation>Elemento para la configuración inicial del proceso de Preparación</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element name="producto" type="prodBO:Producto"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
      <xsd:element name="configuration">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element maxOccurs="1" minOccurs="0" name="requiereElaborarDocumentoTecnicoOPD" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="requiereGenerarPlanMonitoreoOPD" type="xsd:boolean"/>
            <xsd:element maxOccurs="1" minOccurs="0" name="requiereRevisarEvidenciaCumplimientoOPD" type="xsd:boolean"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionLavadoActivos">
    <xsd:annotation>
      <xsd:documentation>Elemento para la configuración inicial del proceso de Lavado de activos</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element name="producto" type="prodBO:Producto"/>
      <xsd:element name="responsableRO" type="xsd:boolean"/>
      <xsd:element name="responsableOFIC" type="xsd:boolean"/>
      <xsd:element name="solicitarAnalista" type="xsd:boolean"/>
      <xsd:element name="aplicaLAFT" type="xsd:boolean"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionAnalisis">
    <xsd:annotation>
      <xsd:documentation>Elemento para la configuración inicial del proceso de Analisis</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element name="producto" type="prodBO:Producto"/>
      <xsd:element name="esIFI" type="xsd:boolean"/>
      <xsd:element name="requiereSCR" type="xsd:boolean"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionFormalizacion">
    <xsd:annotation>
      <xsd:documentation>Elemento para la configuración inicial del proceso de Formalizacion</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element name="producto" type="prodBO:Producto"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
      <xsd:element name="ConfiguracionProducto" type="confBO:Tareas"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionFormalizacionEnmiendas">
    <xsd:annotation>
      <xsd:documentation>Elemento para la configuración inicial del proceso de Formalizacion de Enmiendas</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element name="producto" type="prodBO:Producto"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionAprobacion">
    <xsd:annotation>
      <xsd:documentation>Elemento para la configuración inicial del proceso de Aprobacion</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element name="producto" type="prodBO:Producto"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
      <xsd:element name="ResponsableSolicitud" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionEvaluacion">
    <xsd:annotation>
      <xsd:documentation>Elemento para la configuración inicial del proceso de Evaluacion</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element name="producto" type="prodBO:Producto"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionCancelarOperacion">
    <xsd:annotation>
      <xsd:documentation>Elemento para la configuración cancelar Operacion</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element name="producto" type="prodBO:Producto"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
      <xsd:element name="gerente" type="xsd:boolean"/>
      <xsd:element name="Enmiendas" type="mtccBO:listaEnmiendaTCC"/>
      <xsd:element name="Comisiones" type="comBO:listaComision"/>
      <xsd:element name="ImplementacionPCT" type="ipctBO:ListaImplementacionPCT"/>
      <xsd:element name="SolicitudDesembolso" type="desBO:ListaSolicitudDesembolso"/>
      <xsd:element name="Condiciones" type="CondicionBO:ListaTransaccionCondicion"/>
      <xsd:element name="Adquisiciones" type="AdqBO:ListaAdquisicion"/>
      <xsd:element name="RegistrarComision" type="bitBO:ListaInstanciaProceso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionEmniendas">
    <xsd:annotation>
      <xsd:documentation>Elemento para la configuración Emniendas</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element name="producto" type="prodBO:Producto"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
      <xsd:element name="requiereCOFI" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionAdminstracionCliente">
    <xsd:annotation>
      <xsd:documentation>Elemento para la configuración Administracion Cliente</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element name="producto" type="prodBO:Producto"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionAdminstracionOperacion">
    <xsd:annotation>
      <xsd:documentation>Elemento para la configuración Administracion Operacion</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element name="producto" type="prodBO:Producto"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionLeccionesAprendidas">
    <xsd:annotation>
      <xsd:documentation>Elemento para la configuración de LeccionesAprendidas</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element maxOccurs="unbounded" name="LeccionAprendida" type="lecciones:LeccionAprendidaType"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionComisiones">
    <xsd:annotation>
      <xsd:documentation>Elemento para la configuración Comisiones</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element name="producto" type="prodBO:Producto"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionCondiciones">
    <xsd:annotation>
      <xsd:documentation>Elemento para la configuración Condiciones</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element name="producto" type="prodBO:Producto"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
      <xsd:element name="requiereValidarCondiciones" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" ref="parameter:ParameterType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionReasignarOperacion">
    <xsd:sequence>
      <xsd:element name="Enmiendas" type="mtccBO:listaEnmiendaTCC"/>
      <xsd:element name="Comisiones" type="comBO:listaComision"/>
      <xsd:element name="ImplementacionPCT" type="ipctBO:ListaImplementacionPCT"/>
      <xsd:element name="SolicitudDesembolso" type="desBO:ListaSolicitudDesembolso"/>
      <xsd:element name="ContratoDesembolso" type="desBO:ListaContratoDesembolso"/>
      <xsd:element name="Condiciones" type="CondicionBO:ListaTransaccionCondicion"/>
      <xsd:element name="Adquisiciones" type="AdqBO:ListaAdquisicion"/>
      <xsd:element name="Prepago" type="bitBO:ListaInstanciaProceso"/>
      <xsd:element name="RegistrarComision" type="bitBO:ListaInstanciaProceso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionReasignarCliente">
    <xsd:sequence>
      <xsd:element name="GestionCobro" type="bitBO:ListaBitacora"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Enmienda">
    <xsd:sequence>
      <xsd:element name="element1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionType">
    <xsd:sequence>
      <xsd:element name="Header" type="header:Header"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionContratoFormalizacionType">
    <xsd:sequence>
      <xsd:element name="Header" type="header:Header"/>
      <xsd:element name="producto" type="prodBO:Producto"/>
      <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>