BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyConfiguracionProceso/src/META-INF/ProxyConfiguracionProceso/wsdls/V1_17.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/DeclaracionJuradaBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:djBO="http://www.bcie.org/DeclaracionJuradaBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_6.xsd"/>
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="V1_3.xsd"/>
  <xsd:simpleType name="idDeclaracion">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="codigoExternoDeclaracion">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="EstadoDeclaracion">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="codigoEstadoDeclaracion" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="nombreEstadoDeclaracion" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="EstadoNoObjecion" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="nombreEstadoNoObjecion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EstadoBusqueda">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="codigoEstadoBusqueda" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="nombreEstadoBusqueda" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CalificacionDeRiesgo">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="codigoCalificacionDeRiesgo" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="nombreCalificacionDeRiesgo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Justificacion">
    <xsd:sequence>
      <xsd:element name="justificacionDeclaracion" type="xsd:string"/>
      <xsd:element name="justificacionBusqueda" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DeclaracionJurada">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="idDeclaracion" type="djBO:idDeclaracion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="codigoExternoDeclaracion" type="djBO:codigoExternoDeclaracion"/>
      <!--<xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="sectorInstitucional"  maxOccurs="1" minOccurs="0" type="catBO:Catalogo"/>
        <xsd:element name="tipoPersona"  maxOccurs="1" minOccurs="0" type="catBO:Catalogo"/>
        <xsd:element name="ejecutivo"  maxOccurs="1" minOccurs="0" type="catBO:Catalogo"/>-->
      <xsd:element maxOccurs="1" minOccurs="0" name="titulo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="estadoDeclaracion" type="djBO:EstadoDeclaracion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="estadoBusqueda" type="djBO:EstadoBusqueda"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="calificacionDeRiesgo" type="djBO:CalificacionDeRiesgo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaRegistro" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaFirmaDeclaracion" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaVencimiento" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="comentarioDeclaracion" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="comentarioBusqueda" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="elevarAOtraInstancia" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tipoOrigen" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tipoSeguimiento" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="instanciaProceso" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="esSoloLectura" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="status" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>