BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyConfiguracionProceso/src/META-INF/ProxyConfiguracionProceso/wsdls/V1_12.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/CommonBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:cmnBO="http://www.bcie.org/CommonBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_6.xsd"/>
  <xsd:complexType name="parameterType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string"/>
      <xsd:element name="value" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="parameterExtenderType">
    <xsd:complexContent>
      <xsd:extension base="cmnBO:parameterType">
        <xsd:sequence>
          <xsd:element name="id" type="xsd:long"/>
          <xsd:element name="agrupador" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="JMSType">
    <xsd:sequence>
      <xsd:element name="nombreJMS" type="xsd:string"/>
      <xsd:element name="mensaje" type="xsd:anyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MontoType">
    <xsd:sequence>
      <xsd:element name="tipo" type="catBO:Catalogo"/>
      <xsd:element minOccurs="0" name="importe">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="14"/>
            <xsd:fractionDigits value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="moneda" type="catBO:Catalogo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="periodoType">
    <xsd:sequence>
      <xsd:element name="inicio" type="xsd:date"/>
      <xsd:element name="fin" type="xsd:date"/>
      <xsd:element name="dias" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RangoType">
    <xsd:sequence>
      <xsd:element name="maximo" type="xsd:decimal"/>
      <xsd:element name="minimo" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PlazoType">
    <xsd:sequence>
      <xsd:element name="Tipo" type="catBO:Catalogo"/>
      <xsd:element name="Valor" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>