BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyConfiguracionProceso/src/META-INF/ProxyConfiguracionProceso/wsdls/V1_13.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/HerramientaCEBO" xmlns="http://www.bcie.org/HerramientaCEBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_6.xsd"/>
  <xsd:complexType name="HerramientaCEType">
    <xsd:sequence>
      <xsd:element name="ActividadEconomica" type="catBO:Catalogo"/>
      <xsd:element name="EjeEstrategico" type="catBO:Catalogo"/>
      <xsd:element name="AreaFocalizacion" type="catBO:Catalogo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClasificacionGeneralType">
    <xsd:sequence>
      <xsd:element name="SectorMercado" type="catBO:Catalogo"/>
      <xsd:element name="SectorInstitucional" type="catBO:Catalogo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProgramaType">
    <xsd:sequence>
      <xsd:element name="LineaFinanciera" type="catBO:Catalogo"/>
      <xsd:element name="DestinoFinanciamiento" type="catBO:Catalogo"/>
      <xsd:element name="ModalidadFinanciamiento" type="catBO:Catalogo"/>
      <xsd:element name="HerramientaCE" type="HerramientaCEType"/>
      <xsd:element name="ClasificacionGeneral" type="ClasificacionGeneralType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>