BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyConfiguracionProceso/src/META-INF/ProxyConfiguracionProceso/wsdls/V1_2.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/ProductoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:prodBO="http://www.bcie.org/ProductoBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="V1_3.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_6.xsd"/>
  <xsd:simpleType name="idProducto">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ProductoBasicType">
    <xsd:sequence>
      <xsd:element name="idProducto" type="prodBO:idProducto"/>
      <xsd:element name="descripcion" type="xsd:string"/>
      <xsd:element name="descripcionCorta" type="xsd:string"/>
      <xsd:element name="fechaRegistro" type="xsd:dateTime"/>
      <xsd:element name="codExterno" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Producto">
    <xsd:annotation>
      <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
      <xsd:documentation>Entidad Producto - (Modelo canónico)
          Se usa para la administración de los productos del banco
			  </xsd:documentation>
    </xsd:annotation>
    <xsd:complexContent>
      <xsd:extension base="prodBO:ProductoBasicType">
        <xsd:sequence>
          <xsd:element name="idInstrumentoFinanciero" type="xsd:int"/>
          <xsd:element name="idTipoOperacion" type="operBO:idOperacion"/>
          <xsd:element name="reglas" type="prodBO:ReglasOperacion"/>
          <xsd:element name="instrumentoFinanciero" type="prodBO:InstrumentoFinanciero"/>
          <xsd:element name="estatus" type="xsd:boolean"/>
          <xsd:element name="Requiere_Cierre" type="prodBO:RequiereCierre"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Tareas">
    <xsd:annotation>
      <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
      <xsd:documentation>Entidad Tareas - (Modelo canónico)
          Se usa para la administración de los Tareas del banco
			  </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idTarea" type="xsd:long"/>
      <xsd:element minOccurs="0" name="descripcion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="descripcionCorta" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idProcesoBpm" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReglasOperacion">
    <xsd:annotation>
      <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
      <xsd:documentation>Reglas del Producto
          Define las reglas específicas de cada producto en el flujo del proceso
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="banStatus" type="xsd:boolean"/>
      <xsd:element name="requiereElegibilidad" type="xsd:boolean"/>
      <xsd:element name="requiereLaft" type="xsd:boolean"/>
      <xsd:element name="OFICrealizaAnalisisLAFT" type="xsd:boolean"/>
      <xsd:element name="requiereEvaluacionExAnte" type="xsd:boolean"/>
      <xsd:element name="requiereFormularProgramas" type="xsd:boolean"/>
      <xsd:element name="elaboraAnalizarAdquisiciones" type="xsd:boolean"/>
      <xsd:element name="elaboraHojaTerminosPCT" type="xsd:boolean"/>
      <xsd:element name="elaboraHojaTerminosSEPRI" type="xsd:boolean"/>
      <xsd:element name="analizarModelo" type="xsd:boolean"/>
      <xsd:element name="realizarPreanalisis" type="xsd:boolean"/>
      <xsd:element name="participaSupervision" type="xsd:boolean"/>
      <xsd:element name="participaSeguimiento" type="xsd:boolean"/>
      <xsd:element name="participaFINAM" type="xsd:boolean"/>
      <xsd:element name="SRC" type="xsd:boolean"/>
      <xsd:element name="OpinionJuridica" type="xsd:boolean"/>
      <xsd:element name="firmaContrato" type="xsd:boolean"/>
      <xsd:element name="condicionesPreviasFormalizar" type="xsd:boolean"/>
      <xsd:element name="condicionesPreviasDesembolso" type="xsd:boolean"/>
      <xsd:element name="programacionDesembolsos" type="xsd:boolean"/>
      <xsd:element name="reglaLAFT" type="xsd:boolean"/>
      <xsd:element name="adquisiciones2" type="xsd:boolean"/>
      <!-- Preguntar este campo -->
      <xsd:element name="supervicionTecnica" type="xsd:boolean"/>
      <xsd:element name="seguimientoCrediticio" type="xsd:boolean"/>
      <xsd:element name="enmiendas" type="xsd:boolean"/>
      <xsd:element name="recuperacion" type="xsd:boolean"/>
      <xsd:element name="cierreOperativo" type="xsd:boolean"/>
      <xsd:element name="rendicionCuentas" type="xsd:boolean"/>
      <xsd:element name="evaluacionMedioTermino" type="xsd:string"/>
      <xsd:element name="evaluacionExPost" type="xsd:string"/>
      <xsd:element name="requiereAdquisiciones" type="xsd:boolean"/>
      <xsd:element name="requiereRAROC" type="xsd:boolean"/>
      <xsd:element name="requiereIBICIE" type="xsd:boolean"/>
      <xsd:element name="requiereSIEMAS" type="xsd:boolean"/>
      <xsd:element name="requiereGERIESElegibilidad" type="xsd:boolean"/>
      <xsd:element name="requiereOpinionTecnica" type="xsd:boolean"/>
      <xsd:element name="requiereAsjurAnalisis" type="xsd:boolean"/>
      <xsd:element name="requiereAsjurElegibilidad" type="xsd:boolean"/>
      <!--campos agregados-->
      <xsd:element name="requierePreparacion" type="xsd:boolean"/>
      <xsd:element name="tieneRiesgoCredito" type="xsd:boolean"/>
      <xsd:element name="responsableAnalisis" type="xsd:int"/>
      <xsd:element name="nombreResponsableAnalisis" type="xsd:string"/>
      <xsd:element name="requiereFirmacontrato" type="xsd:boolean"/>
      <xsd:element name="requiereRegistroLinea" type="xsd:boolean"/>
      <xsd:element name="requiereCore" type="xsd:boolean"/>
      <!--campos agregados Formalización de Enmiendas-->
      <xsd:element name="requiereDocumentacionContractual" type="xsd:boolean"/>
      <xsd:element name="requiereCOF" type="xsd:boolean"/>
      <xsd:element name="esDesobligacion" type="xsd:boolean"/>
      <xsd:element name="esCambioPlazo" type="xsd:boolean"/>
      <xsd:element name="requiereValidarMatriz" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InstrumentoFinanciero">
    <xsd:annotation>
      <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
      <xsd:documentation>Entidad Producto - (Modelo canónico)
          Se usa para la administración de los productos del banco
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="descripcion" type="xsd:string"/>
      <xsd:element name="descripcionCorta" type="xsd:string"/>
      <xsd:element name="estado" type="xsd:string"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
      <xsd:element name="codigoExterno" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Responsable">
    <xsd:annotation>
      <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
      <xsd:documentation>Responsable de una actividad específica</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idResponsable" type="xsd:int"/>
      <xsd:element name="nombreResponsable" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RequiereCierre">
    <xsd:sequence>
      <xsd:element name="Requiere_Cierre" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Tipo_Cierre" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionProductoTareas">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Tareas" type="prodBO:Tareas"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TareasPorProducto">
    <xsd:annotation>
      <xsd:documentation>Listado de tareas por producto</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="listadoTareas" type="catBO:Tarea"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>