BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyConfiguracionProceso/src/META-INF/ProxyConfiguracionProceso/wsdls/V1_25.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/ImplementacionPctBO" xmlns="http://www.bcie.org/ImplementacionPctBO" xmlns:IpctBO="http://www.bcie.org/ImplementacionPctBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:comBO="http://www.bcie.org/CommonBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="V1_3.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_6.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CommonBO" schemaLocation="V1_12.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="V1_10.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="V1_26.xsd"/>
  <xsd:simpleType name="idImplementacion">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ImplementacionType">
    <xsd:complexContent>
      <xsd:extension base="LoteType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoProceso" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="observacion" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fechaPublicacion" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fechaLimiteRecepcion" type="xsd:date"/>
          <xsd:element minOccurs="0" name="requiereLotes" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="fechaOrdenInicio" type="xsd:date"/>
          <xsd:element minOccurs="0" name="fechaRegistro" type="xsd:date"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="loteImplementacion" type="LoteType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LoteType">
    <xsd:sequence>
      <xsd:element name="idLote" type="xsd:long"/>
      <xsd:element minOccurs="0" name="nombre" type="xsd:string"/>
      <xsd:element minOccurs="0" name="monto" type="comBO:MontoType"/>
      <xsd:element minOccurs="0" name="estatus" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="enProceso" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResultadoLoteType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Lotes" type="IpctBO:LoteType"/>
      <xsd:element name="ResultadoProceso" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaImplementacionPCT">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="loteImplementacion" type="LoteType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>