BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyConfiguracionProceso/src/META-INF/ProxyConfiguracionProceso/wsdls/V1_21.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Tarea/V1" version="1.0" xmlns:tarea="http://xmlns.bcie.org/ObjetoProceso/Comun/Tarea/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Tarea">
    <xs:annotation>
      <xs:documentation>Entidad que contiene la información basica de una tarea BPM.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="CodigoTarea" type="xs:int"/>
      <xs:element maxOccurs="1" minOccurs="1" name="NombreTarea" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="CodigoRol" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="NombreRol" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="CodigoProceso" type="xs:int"/>
      <xs:element maxOccurs="1" minOccurs="0" name="NombreProceso" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>