BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyConfiguracionProceso/src/META-INF/ProxyConfiguracionProceso/wsdls/V1_24.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Proceso/V1" version="1.0" xmlns:proceso="http://xmlns.bcie.org/ObjetoProceso/Comun/Proceso/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Proceso">
    <xs:annotation>
      <xs:documentation>Entidad que contiene la información basica de un proceso BPM.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="IdProceso" type="xs:int"/>
      <xs:element maxOccurs="1" minOccurs="0" name="CodigoProceso" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="NombreProceso" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="EsProcesoCore" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="0" name="RolIniciaProceso" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="UsuarioIniciaProceso" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="InstanciaProceso" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="IdFlujo" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>