BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyConfiguracionProceso/src/META-INF/ProxyConfiguracionProceso/wsdls/V1_29.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/CrearBitacoraProcesoBO" xmlns:regBi="http://www.bcie.org/CrearBitacoraProcesoBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Bitacora">
    <xsd:annotation>
      <xsd:documentation>Registro de bitácora de procesos y tareas</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element minOccurs="0" name="idOperacion" type="xsd:long"/>
      <xsd:element minOccurs="0" name="nombreOperacion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idCliente" type="xsd:long"/>
      <xsd:element minOccurs="0" name="razonSocial" type="xsd:string"/>
      <xsd:element name="idProceso" type="xsd:long"/>
      <xsd:element name="nombreProceso" type="xsd:string"/>
      <xsd:element name="instanciaProceso" type="xsd:string"/>
      <xsd:element name="idProcesoSiguiente" type="xsd:string"/>
      <xsd:element name="esProceso" type="xsd:boolean"/>
      <xsd:element name="idTarea" type="xsd:long"/>
      <xsd:element name="nombreTarea" type="xsd:string"/>
      <xsd:element name="instanciaTarea" type="xsd:string"/>
      <xsd:element name="usuario" type="xsd:string"/>
      <xsd:element name="nombreUsuario" type="xsd:string"/>
      <xsd:element name="esFinActividad" type="xsd:boolean"/>
      <xsd:element name="fechaRegistro" type="xsd:dateTime"/>
      <xsd:element name="tiempoProceso" type="xsd:long"/>
      <xsd:element name="tiempoTarea" type="xsd:long"/>
      <xsd:element name="raroc" type="xsd:double"/>
      <xsd:element name="finalizado" type="xsd:boolean"/>
      <xsd:element name="string01" type="xsd:string"/>
      <xsd:element name="string02" type="xsd:string"/>
      <xsd:element name="string03" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaBitacora">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Bitacora" type="regBi:Bitacora"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaInstanciaProceso">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="InstanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>