BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyConfiguracionProceso/src/META-INF/ProxyConfiguracionProceso/wsdls/V1_30.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/LeccionAprendidaBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:leccion="http://www.bcie.org/LeccionAprendidaBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:procOPN="http://xmlns.bcie.org/ObjetoProceso/Comun/Proceso/V1" xmlns:prodBO="http://www.bcie.org/ProductoBO" xmlns:tarOPN="http://xmlns.bcie.org/ObjetoProceso/Comun/Tarea/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_6.xsd"/>
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="V1_3.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ProductoBO" schemaLocation="V1_2.xsd"/>
  <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Proceso/V1" schemaLocation="V1_24.xsd"/>
  <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Tarea/V1" schemaLocation="V1_21.xsd"/>
  <xsd:element name="CategoriaPayload" type="leccion:CategoriaType"/>
  <xsd:complexType name="LeccionAprendidaType">
    <xsd:sequence>
      <xsd:element name="idLeccionAprendida" type="xsd:long"/>
      <xsd:element name="descripcion" type="xsd:string"/>
      <xsd:element name="recomendacion" type="xsd:string"/>
      <xsd:element name="nivelIncidencia" type="xsd:string"/>
      <xsd:element name="usuario" type="xsd:string"/>
      <xsd:element name="estado" type="catBO:Catalogo"/>
      <xsd:element name="producto" type="prodBO:ProductoBasicType"/>
      <xsd:element name="operacion" type="operBO:OperacionBasicType"/>
      <xsd:element name="proceso" type="procOPN:Proceso"/>
      <xsd:element name="tarea" type="tarOPN:Tarea"/>
      <xsd:element name="categorias" type="leccion:CategoriasType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CategoriasType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="categoria" type="leccion:CategoriaType">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CategoriaType">
    <xsd:complexContent>
      <xsd:extension base="catBO:Catalogo">
        <xsd:sequence>
          <xsd:element name="rol" type="catBO:Catalogo"/>
          <xsd:element name="usuario" type="xsd:string"/>
          <xsd:element name="respuesta" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>