BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyConfiguracionProceso/src/META-INF/ProxyConfiguracionProceso/wsdls/V1_3.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/OperacionBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:conBO="http://www.bcie.org/ContratoBO" xmlns:cuesBO="http://www.bcie.org/CuestionarioBO" xmlns:decJurBO="http://www.bcie.org/DeclaracionJuradaBO" xmlns:desBO="http://www.bcie.org/DesembolsoBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:prodBO="http://www.bcie.org/ProductoBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/ProductoBO" schemaLocation="V1_2.xsd"/>
  <xsd:import namespace="http://www.bcie.org/LineaCreditoBO" schemaLocation="V1_4.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="V1_10.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_6.xsd"/>
  <xsd:import namespace="http://www.bcie.org/DeclaracionJuradaBO" schemaLocation="V1_17.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ContratoBO" schemaLocation="V1_18.xsd"/>
  <xsd:import namespace="http://www.bcie.org/DesembolsoBO" schemaLocation="V1_11.xsd"/>
  <xsd:simpleType name="idOperacion">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Cuestionario">
    <xsd:restriction base="xsd:base64Binary"/>
  </xsd:simpleType>
  <xsd:complexType name="OperacionBasicType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="responsable">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="oficina">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="nombre">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="105"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OperacionExtendentType">
    <xsd:complexContent>
      <xsd:extension base="operBO:OperacionBasicType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="cliente" type="cliBO:Cliente"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="producto" type="prodBO:Producto"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="descripcion">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="250"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="actividadEconomica" type="catBO:Catalogo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="actividadEconomicaAsociada" type="catBO:Catalogo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="objetivosEstrategicos">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:totalDigits value="5"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="areaFocalizacion" type="catBO:Catalogo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ejeEstrategico" type="catBO:Catalogo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="iniciativaEstrategica" type="catBO:Catalogo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cantidadPaises" type="catBO:Catalogo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="sectorMercado" type="catBO:Catalogo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="fechaInicio" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="programadoPOA" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="ejercicioPOA" type="catBO:Catalogo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="tipoGarantia" type="catBO:Catalogo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="componenteConcesionalidad" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="estructurador">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="beneficiario">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="unidadEjecutora">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="programa">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="asociadas" type="operBO:AsociadasOperaciones"/>
          <!--  <xsd:element name="cuestionario" maxOccurs="1" minOccurs="0" type="cuesBO:Cuestionario"/>-->
          <xsd:element maxOccurs="1" minOccurs="0" name="declaracionJurada" type="decJurBO:DeclaracionJurada"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="masInformacionRiesgo">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="informacionAdicionalRiesgo">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1000"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="masInformacionJuridico">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="informacionAdicionalJuridico">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1000"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="contrapartesProhibidas">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="comentarioContrapartes">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1000"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="limitesAnalisis">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:totalDigits value="5"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="limitesDeterminar">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="etapa">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:totalDigits value="5"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="status">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fechaBaja" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="comentarioLaft">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1000"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="cumpleLaft">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="calificacionRiesgo">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="perspectiva" type="catBO:Catalogo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="estado" type="catBO:Catalogo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="lineaCredito" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SRC" type="catBO:Catalogo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="scrClienteDesembolsos" type="catBO:Catalogo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="RAROC" type="xsd:float"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="TIR" type="xsd:float"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="TIREstatus" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="requiereRecursosExternos" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="enProcesoLaft" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="aplicaLaft" type="xsd:boolean"/>
          <xsd:element name="montoOperacion" type="operBO:MontosOperacion"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idTcaTipoMoneda" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="monedaOperacionTipo" type="xsd:string"/>
          <xsd:element name="clasificacionAmbiental" type="operBO:ClasificacionesAmbiental"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="justificacionCancela">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1000"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="observacionCancela">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1000"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element minOccurs="0" name="justificacionEnvio" type="xsd:string"/>
          <xsd:element minOccurs="0" name="Factibilidad" type="operBO:Factibilidad"/>
          <xsd:element minOccurs="0" name="TipoMoneda" type="catBO:Catalogo"/>
          <xsd:element minOccurs="0" name="esMultisectorial" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="clasificacionEstrategicaMultisectorial" type="operBO:ClasificacionEstrategicaMultisectorial"/>
          <xsd:element minOccurs="0" name="insertClasificacionAmbiental" type="operBO:InsertClasificacionAmbiental"/>
          <xsd:element minOccurs="0" name="idSectorInstitucional" type="xsd:long"/>
          <xsd:element minOccurs="0" name="idEncargado" type="xsd:long"/>
          <xsd:element minOccurs="0" name="sectorInstitucional" type="catBO:Catalogo"/>
          <xsd:element minOccurs="0" name="encargado" type="catBO:Catalogo"/>
          <xsd:element minOccurs="0" name="idSectorEncargado" type="xsd:long"/>
          <xsd:element minOccurs="0" name="descripcionEncargado" type="xsd:string"/>
          <xsd:element minOccurs="0" name="idRol" type="xsd:long"/>
          <xsd:element minOccurs="0" name="descripcionRol" type="xsd:string"/>
          <!--Se agrega la ubicación del proyecto -->
          <xsd:element minOccurs="0" name="ubicacionProyecto" type="xsd:string"/>
          <!--Se agrega pais ID_CAT_PAIS -->
          <xsd:element minOccurs="0" name="idCatPais" type="xsd:decimal"/>
          <!--Se agrega pais -->
          <xsd:element minOccurs="0" name="Pais" type="catBO:Catalogo"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Operacion">
    <xsd:complexContent>
      <xsd:extension base="operBO:OperacionExtendentType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="contrato" type="conBO:Contrato"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AsociadasOperaciones">
    <xsd:annotation>
      <xsd:documentation>Tipo de dato para las operaciones asociadas</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="Operacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComponenteClasificacionEstrategicaType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="nombreComponente" type="xsd:string"/>
      <xsd:element minOccurs="0" name="descripcion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="porcentaje" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="actividadEconomica" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="actividadEconomicaAsociada" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="areaFocalizacion" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ejeEstrategico" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="iniciativaEstrategica" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="cantidadPaises" type="catBO:Catalogo"/>
      <!--Se agregan el srctor y el subsector de IBCIE -->
      <xsd:element minOccurs="0" name="sectorIbcie" type="catBO:Catalogo"/>
      <xsd:element minOccurs="0" name="subSectorIbcie" type="catBO:Catalogo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClasificacionEstrategicaMultisectorial">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="componenteClasificacionEstrategica" type="operBO:ComponenteClasificacionEstrategicaType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComponenteClasificacionAmbientalType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="id" type="operBO:idOperacion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="sectorAmbiental" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="aporteAmbiental" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="categoriaAmbiental" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="subCategoriaAmbiental" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="banStatus" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaRegistro" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InsertClasificacionAmbiental">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="componenteClasificacionAmbiental" type="operBO:ComponenteClasificacionAmbientalType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PreguntaCuestionario">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="idPregunta" type="xsd:ID"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Pregunta" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Responsable" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MontoOperacion">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="id" type="operBO:idOperacion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="IdTcaTipoMonto" type="operBO:idOperacion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="monto">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="14"/>
            <xsd:fractionDigits value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="idTcaTipoMonedaMontoOperacion" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Descripcion" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaRegistro" type="xsd:dateTime"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="estado" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MontosOperacion">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="montoOperacion" type="operBO:MontoOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClasificacionAmbiental">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="id" type="operBO:idOperacion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="sectorAmbiental" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="aporteAmbiental" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="categoriaAmbiental" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="subCategoriaAmbiental" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="banStatus" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaRegistro" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClasificacionesAmbiental">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="clasificacionAmbiental" type="operBO:ClasificacionAmbiental"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Factibilidad">
    <xsd:complexContent>
      <xsd:extension base="desBO:tasaType">
        <xsd:sequence>
          <xsd:element minOccurs="0" name="esFactible" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="fechaFinalizacionEstudios" type="xsd:date"/>
          <xsd:element minOccurs="0" name="fechaCalculoInteres" type="xsd:date"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LimitesOperacion">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:decimal"/>
      <xsd:element name="descripcion" type="xsd:string"/>
      <xsd:element name="estatus" type="xsd:string"/>
      <xsd:element name="esPorcentaje" type="xsd:string"/>
      <xsd:element name="difValor" type="xsd:decimal"/>
      <xsd:element name="difPorcentaje" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AccionType">
    <xsd:sequence>
      <xsd:element name="IdAccion" type="xsd:decimal"/>
      <xsd:element name="IdCliente" type="xsd:decimal"/>
      <xsd:element name="IdOperacion" type="xsd:decimal"/>
      <xsd:element name="Accion" type="xsd:string"/>
      <xsd:element name="IdEstadoAccion" type="xsd:decimal"/>
      <xsd:element name="TcaCategoriaAccion" type="catBO:Catalogo"/>
      <xsd:element name="TcaRolAsignado" type="catBO:Catalogo"/>
      <xsd:element name="FechaRegistro" type="xsd:dateTime"/>
      <xsd:element name="FechaAtencion" type="xsd:dateTime"/>
      <xsd:element name="BanEstatus" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaAccionesType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Accion" type="operBO:AccionType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>