BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioCliente/CrearCliente/XSD/CrearCliente_table.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearCliente" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearCliente" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ClientesCollection" type="ClientesCollection"/>
   <xs:complexType name="ClientesCollection">
      <xs:sequence>
         <xs:element name="Clientes" type="Clientes" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Clientes">
      <xs:sequence>
         <xs:element name="idCliente" type="xs:long" nillable="true"/>
         <xs:element name="idFlexcube" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="razonSocial" type="string60" minOccurs="0"/>
         <xs:element name="abreviatura" type="string20" minOccurs="0"/>
         <xs:element name="tipoPersona" type="xs:int" minOccurs="0"/>
         <xs:element name="tipoCliente" type="xs:int" minOccurs="0"/>
         <xs:element name="sector" type="xs:int" minOccurs="0"/>
         <xs:element name="tipoInstitucion" type="xs:int" minOccurs="0"/>
         <xs:element name="pais" type="xs:int" minOccurs="0"/>
         <xs:element name="grupoEconomico" type="xs:int" minOccurs="0"/>
         <xs:element name="tipoIdentificacion" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="numeroIdentificacion" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="oficina" type="xs:decimal" minOccurs="0"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="fechaAprobacion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="ejecutivo" type="string20" minOccurs="0"/>
         <xs:element name="comentarioAprobacion" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="autorizo" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="banEstatus" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="fechaBaja" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="diaPago" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="estaDeteriorado" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaScr" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaPerspectiva" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="requiereEnvioAutomatico" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="direccion" minOccurs="0" type="string250"/>
         <xs:element minOccurs="0" name="bicCode" type="string20"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string60">
      <xs:restriction base="xs:string">
         <xs:maxLength value="60"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string250">
      <xs:restriction base="xs:string">
         <xs:maxLength value="250"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:element name="bicCode"/>
</xs:schema>