AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/HierarchyAPP/SendProto/Resources/WSDLs/SendProtoWSdl.wsdl

<wsdl:definitions name="SendProtoWSdl" targetNamespace="http://xmlns.oracle.com/ServiceBusApplication/HierarchyAPP/SendProtoWSdl" xmlns:tns="http://xmlns.oracle.com/ServiceBusApplication/HierarchyAPP/SendProtoWSdl" xmlns:inp1="http://www.agarcia.mx/EnterpriseObjects/MerchandiseHierarchy" xmlns:inp2="http://www.agarcia.mx/EnterpriseObjects/MerchandiseHierarchy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/MerchandiseHierarchy" schemaLocation="../../../../MetaData/Components/EnterpriseObjectLibrary/EBO/MerchandiseHierarchy/XSDtoJson.xsd"/>
        </xsd:schema>
        <xsd:schema>
            <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/MerchandiseHierarchy" schemaLocation="../../../../MetaData/Components/EnterpriseObjectLibrary/EBO/MerchandiseHierarchy/MerchandiseHierarchyEBM.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestMessage">
        <wsdl:part name="part1" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part1" element="inp1:MerchandiseHierarchyResponseEBM"/>
    </wsdl:message>

    <wsdl:message name="requestMessage4th">
        <wsdl:part name="part1" element="inp1:Root-Element"/>
    </wsdl:message>
    <wsdl:message name="replyMessage4th">
        <wsdl:part name="part1" element="inp1:MerchandiseHierarchyResponseEBM"/>
    </wsdl:message>

    
    <wsdl:portType name="execute_ptt">
    
        <wsdl:operation name="execute">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="Update4th">
            <wsdl:input message="tns:requestMessage4th"/>
            <wsdl:output message="tns:replyMessage4th"/>
        </wsdl:operation>
        
    </wsdl:portType>
    
    <wsdl:binding name="execute_bind" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="execute">
            <soap:operation style="document" soapAction="execute"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/HierarchyAPP/SendProtoWSdl"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/HierarchyAPP/SendProtoWSdl"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="Update4th">
            <soap:operation style="document" soapAction="Update4th"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/HierarchyAPP/SendProtoWSdl"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/HierarchyAPP/SendProtoWSdl"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
</wsdl:definitions>