BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Termino/ConsultarTreTermino/XSD/ConsultarTreTermino_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTreTermino_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTreTermino_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarTreTermino_DBInput" type="ConsultarTreTermino_DBInput"/>
   <xs:complexType name="ConsultarTreTermino_DBInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:string" nillable="true"/>
         <xs:element name="descripcionCorta" type="xs:string" nillable="true"/>
         <xs:element name="idLineaCredito" type="xs:long" nillable="true"/>
         <xs:element name="idOperacion1" type="xs:string" nillable="true"/>
         <xs:element name="descripcionCorta1" type="xs:string" nillable="true"/>
         <xs:element name="idLineaCredito1" type="xs:long" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarTreTermino_DBOutputCollection" type="ConsultarTreTermino_DBOutputCollection"/>
   <xs:complexType name="ConsultarTreTermino_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarTreTermino_DBOutput" type="ConsultarTreTermino_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarTreTermino_DBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_TERMINO" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>