BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/Adquisicion/ConsultarParticipantesByIdNoObjecion/XSD/ConsultarParticipantesByIdNoObjecion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarParticipantesByIdNoObjecion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarParticipantesByIdNoObjecion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarParticipantesByIdNoObjecionInput" type="ConsultarParticipantesByIdNoObjecionInput"/>
   <xs:complexType name="ConsultarParticipantesByIdNoObjecionInput">
      <xs:sequence>
         <xs:element name="idNoObjecion" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarParticipantesByIdNoObjecionOutputCollection" type="ConsultarParticipantesByIdNoObjecionOutputCollection"/>
   <xs:complexType name="ConsultarParticipantesByIdNoObjecionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarParticipantesByIdNoObjecionOutput" type="ConsultarParticipantesByIdNoObjecionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarParticipantesByIdNoObjecionOutput">
      <xs:sequence>
         <xs:element name="ID_TCA_ROL_BPM" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
         <xs:element name="ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="ES_PARTICIPACION_OBLIGATORIA" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>