AG_2019/SOA/JDAUpdateStyle/SOA/Schemas/RMS/Clearance/ClrPrcChgRef.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/ClrPrcChgRef/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/ClrPrcChgRef/v1" version="1.0">
   <retailDoc:annotation>
      <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
   </retailDoc:annotation>
   <xs:element name="ClrPrcChgDtlRef">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="clearance_id" type="number15">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unique identifier of the clearance</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="item" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unique identifier of the item</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ClrPrcChgRef">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="location" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unique identifier that indicates a Location (Store or Warehouse)</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="loc_type" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Identifier that indicates whether a location is a Store ('S') or a Warehouse ('W')</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" ref="ClrPrcChgDtlRef">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="varchar225">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number10">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:long">
         <xs:totalDigits value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number15">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:long">
         <xs:totalDigits value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar21">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
