BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ConsultarProcesoBPMProceso/V1/Schema/ConsultarProcesoBPMProcesoMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="http://www.bcie.org/ConsultarProcesoBPMProcesoMO"
            targetNamespace="http://www.bcie.org/ConsultarProcesoBPMProcesoMO"
            elementFormDefault="qualified"
            xmlns:conBPM="http://www.bcie.org/ConsultarProcesoBPMProcesoBO"
            xmlns:resBO="http://www.bcie.org/ResultBO">
            
  <xsd:import schemaLocation="ConsultarProcesoBPMProcesoBO.xsd" namespace="http://www.bcie.org/ConsultarProcesoBPMProcesoBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
            
  <xsd:element name="requestConsultarProcesoBPM" type="ConsultarProcesoBPMRequestType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="responseConsultarProcesoBPM" type="ConsultarProcesoBPMResponseType"/>
  <xsd:complexType name="ConsultarProcesoBPMRequestType">
    <xsd:sequence>
      <xsd:element name="Etapa" type="conBPM:Etapa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarProcesoBPMResponseType">
    <xsd:sequence>
      <xsd:element name="Etapa" type="conBPM:Etapa"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
