BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Common/V1/Schema/ReglaBO.xsd

<?xml version="1.0" encoding="windows-1252"?>
<!-- edited with XMLSpy v2015 sp1 (x64) (http://www.altova.com) by Cesar Varela (Television Internacional) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ReglaBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" targetNamespace="http://www.bcie.org/ReglaBO" elementFormDefault="qualified" xmlns:AtributoBO="http://www.bcie.org/AtributoBO">
	<xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="CatalogoBO.xsd"/>
        <xsd:import namespace="http://www.bcie.org/AtributoBO" schemaLocation="AtributoBO.xsd"/>
	<xsd:simpleType name="idRegla">
		<xsd:restriction base="xsd:long">
			<xsd:minInclusive value="0"/>
			<xsd:totalDigits value="5"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="ReglaBasicType">
		<xsd:sequence>
			<xsd:element name="Id" type="idRegla"/>
			<xsd:element name="Descripcion" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Transaccion" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Tipo" type="catBO:Catalogo" minOccurs="0"/>
			<xsd:element name="PosibleExceptuar" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="Exceptuado" type="catBO:NoCatalogo" minOccurs="0"/>
                        <xsd:element name="UsuarioExceptua" type="xsd:string" minOccurs="0"/>
                        <xsd:element name="FechaExcepcion" type="xsd:dateTime" minOccurs="0"/>
                        <xsd:element name="Estado" type="catBO:Catalogo" minOccurs="0"/>
			<xsd:element name="Estatus" type="xsd:boolean" minOccurs="0"/>
                        <xsd:element name="DetalleRegla" type="AtributoBO:EntidadMinima" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
	</xsd:complexType>
</xsd:schema>
