BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PA03/CondicionesProcess.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://xmlns.oracle.com/bpmn/bpmnProcess/CondicionesProcess"
            targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CondicionesProcess"
            xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
            xmlns:param="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" elementFormDefault="qualified"
            xmlns:eqTr="http://www.bcie.org/EqipoTrabajo/V1">
  <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
              schemaLocation="../Comun/Header/V1/HeaderOPN.xsd"/>
  <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
              schemaLocation="../Comun/Parameter/V1/ParameterOPN.xsd"/>
  <xsd:import namespace="http://www.bcie.org/EqipoTrabajo/V1"
              schemaLocation="../Comun/EquipoTrabajo/V1/EquipoTrabajoOPN.xsd"/>
  <!-- Procesos Inicio Condiciones -->
  <xsd:element name="InicioCondiciones">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FinCondiciones">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
        <xsd:element name="equipoTrabajo" type="eqTr:ListadoEquipoTrbajo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InicioReasignarRO">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InicioCancelarCondiciones">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InicioCancelarInstancia">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
