BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/Aprobacion/ConsultarAprobacionById/XSD/ConsultarAprobacionById.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAprobacionById" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAprobacionById" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarAprobacionByIdInput" type="ConsultarAprobacionByIdInput"/>
   <xs:complexType name="ConsultarAprobacionByIdInput">
      <xs:sequence>
         <xs:element name="idAprobacion" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarAprobacionByIdOutputCollection" type="ConsultarAprobacionByIdOutputCollection"/>
   <xs:complexType name="ConsultarAprobacionByIdOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarAprobacionByIdOutput" type="ConsultarAprobacionByIdOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarAprobacionByIdOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_DECISION_REUNION" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_APROBACION" type="xs:dateTime" nillable="true"/>
         <xs:element name="NUMERO_RESOLUCION" type="xs:string" nillable="true"/>
         <xs:element name="RESUMEN" type="xs:string" nillable="true"/>
         <xs:element name="LOGIN_USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="ID_MONTO" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>