BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/GECCO/WSDL/GECCO.wsdl

<WL5G3N0:definitions xmlns="" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.w3.org/2001/XMLSchema" xmlns:WL5G3N2="http://org/bcie/ws/middle/GECCO/GECCO.wsdl/types/" xmlns:WL5G3N3="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" name="GECCO" targetNamespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl">
<WL5G3N0:types>
<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://org/bcie/ws/middle/GECCO/GECCO.wsdl/types/" xmlns:tns0="http://org/bcie/ws/middle/GECCO/GECCO.wsdl/types/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" elementFormDefault="qualified" targetNamespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl/types/">
<xsd:complexType name="ResponsableTypeUserArray">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="ResponsableTypeUser" nillable="true" type="tns:ResponsableTypeUser"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ResponsableTypeUser">
<xsd:complexContent>
<xsd:extension base="tns:ResponsableTypeBase">
<xsd:sequence>
<xsd:element name="gerente" nillable="true" type="string"/>
<xsd:element name="usuario" nillable="true" type="string"/>
<xsd:element name="correoGerente" nillable="true" type="string"/>
<xsd:element name="oficina" nillable="true" type="string"/>
<xsd:element name="correo" nillable="true" type="string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="ResponsableTypeBase">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="VencimientoTypeUserArray">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="VencimientoTypeUser" nillable="true" type="tns:VencimientoTypeUser"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="VencimientoTypeUser">
<xsd:complexContent>
<xsd:extension base="tns:VencimientoTypeBase">
<xsd:sequence>
<xsd:element name="codigoTipo" nillable="true" type="string"/>
<xsd:element name="plazo" nillable="true" type="decimal"/>
<xsd:element name="tipoPlazo" nillable="true" type="string"/>
<xsd:element name="fechaInicio" nillable="true" type="dateTime"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="VencimientoTypeBase">
<xsd:sequence/>
</xsd:complexType>
<xsd:complexType name="FaultTypeUserArray">
<xsd:sequence>
<xsd:element maxOccurs="unbounded" minOccurs="0" name="FaultTypeUser" nillable="true" type="tns:FaultTypeUser"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="FaultTypeUser">
<xsd:complexContent>
<xsd:extension base="tns:FaultTypeBase">
<xsd:sequence>
<xsd:element name="codigo" nillable="true" type="decimal"/>
<xsd:element name="mensaje" nillable="true" type="string"/>
</xsd:sequence>
</xsd:extension>
</xsd:complexContent>
</xsd:complexType>
<xsd:complexType name="FaultTypeBase">
<xsd:sequence/>
</xsd:complexType>
</xsd:schema>
</WL5G3N0:types>
<WL5G3N0:message name="GECCO_consultarResponsables">
<WL5G3N0:part name="bhqCliente" type="WL5G3N1:string"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_consultarResponsablesResponse">
<WL5G3N0:part name="listaResponsables_out" type="WL5G3N2:ResponsableTypeUserArray"/>
<WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="mensajeError_out" type="WL5G3N1:string"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_crearcliente">
<WL5G3N0:part name="codigoprospecto" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="razonsocial" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigoejecutivo" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigopais" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigosectorinstitucional" type="WL5G3N1:string"/>
<WL5G3N0:part name="tipoinstitucion" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigoactividadeconomica" type="WL5G3N1:string"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_crearclienteResponse">
<WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="mensajeerror_out" type="WL5G3N1:string"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_crearCommitment">
<WL5G3N0:part name="codigointervencion" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="nombrenegocio" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigocliente" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigosectorinstitucional" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigoactividadeconomica" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigoejecutivo" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigopais" type="WL5G3N1:string"/>
<WL5G3N0:part name="ejeestrategico" type="WL5G3N1:string"/>
<WL5G3N0:part name="numeroresolucion" type="WL5G3N1:string"/>
<WL5G3N0:part name="fechaaprobacion" type="WL5G3N1:dateTime"/>
<WL5G3N0:part name="porcentajecobertura" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="numerolineacredito" type="WL5G3N1:string"/>
<WL5G3N0:part name="lineafinanciera" type="WL5G3N1:string"/>
<WL5G3N0:part name="fondo" type="WL5G3N1:string"/>
<WL5G3N0:part name="frecuencia" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="frecuenciacomision" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="montoaprobado" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="fechavalor" type="WL5G3N1:dateTime"/>
<WL5G3N0:part name="montoescriturado" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="fechaescrituracion" type="WL5G3N1:dateTime"/>
<WL5G3N0:part name="montomaxdesembolsar" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="montomindesembolsar" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="montocatalizar" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tipocatalizar" type="WL5G3N1:string"/>
<WL5G3N0:part name="recursosordinarios" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigoasignacion" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="diapago" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="plazolineacredito" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tipoplazolinea" type="WL5G3N1:string"/>
<WL5G3N0:part name="periodogracia" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tipoplazogracia" type="WL5G3N1:string"/>
<WL5G3N0:part name="destino" type="WL5G3N1:string"/>
<WL5G3N0:part name="numerocuentacliente" type="WL5G3N1:string"/>
<WL5G3N0:part name="productofinanciero" type="WL5G3N1:string"/>
<WL5G3N0:part name="tienecondespeciales" type="WL5G3N1:string"/>
<WL5G3N0:part name="desccondespeciales" type="WL5G3N1:string"/>
<WL5G3N0:part name="cursorvencimientos" type="WL5G3N2:VencimientoTypeUserArray"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_crearCommitmentResponse">
<WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="mensajeerror_out" type="WL5G3N1:string"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_crearCommitmentfijo">
<WL5G3N0:part name="codigointervencion" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="nombrenegocio" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigocliente" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigosectorinstitucional" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigoactividadeconomica" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigoejecutivo" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigopais" type="WL5G3N1:string"/>
<WL5G3N0:part name="ejeestrategico" type="WL5G3N1:string"/>
<WL5G3N0:part name="numeroresolucion" type="WL5G3N1:string"/>
<WL5G3N0:part name="fechaaprobacion" type="WL5G3N1:dateTime"/>
<WL5G3N0:part name="porcentajecobertura" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="numerolineacredito" type="WL5G3N1:string"/>
<WL5G3N0:part name="lineafinanciera" type="WL5G3N1:string"/>
<WL5G3N0:part name="fondo" type="WL5G3N1:string"/>
<WL5G3N0:part name="frecuencia" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="frecuenciacomision" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="montoaprobado" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="fechavalor" type="WL5G3N1:dateTime"/>
<WL5G3N0:part name="montoescriturado" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="fechaescrituracion" type="WL5G3N1:dateTime"/>
<WL5G3N0:part name="montomaxdesembolsar" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="montomindesembolsar" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="montocatalizar" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tipocatalizar" type="WL5G3N1:string"/>
<WL5G3N0:part name="recursosordinarios" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigoasignacion" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="diapago" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="plazolineacredito" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tipoplazolinea" type="WL5G3N1:string"/>
<WL5G3N0:part name="periodogracia" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tipoplazogracia" type="WL5G3N1:string"/>
<WL5G3N0:part name="destino" type="WL5G3N1:string"/>
<WL5G3N0:part name="numerocuentacliente" type="WL5G3N1:string"/>
<WL5G3N0:part name="productofinanciero" type="WL5G3N1:string"/>
<WL5G3N0:part name="tienecondespeciales" type="WL5G3N1:string"/>
<WL5G3N0:part name="desccondespeciales" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigoTipo1" type="WL5G3N1:string"/>
<WL5G3N0:part name="fechaInicio1" type="WL5G3N1:dateTime"/>
<WL5G3N0:part name="plazo1" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tipoPlazo1" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigoTipo2" type="WL5G3N1:string"/>
<WL5G3N0:part name="fechaInicio2" type="WL5G3N1:dateTime"/>
<WL5G3N0:part name="plazo2" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tipoPlazo2" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigoTipo3" type="WL5G3N1:string"/>
<WL5G3N0:part name="fechaInicio3" type="WL5G3N1:dateTime"/>
<WL5G3N0:part name="plazo3" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tipoPlazo3" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigoTipo4" type="WL5G3N1:string"/>
<WL5G3N0:part name="fechaInicio4" type="WL5G3N1:dateTime"/>
<WL5G3N0:part name="plazo4" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tipoPlazo4" type="WL5G3N1:string"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_crearCommitmentfijoResponse">
<WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="mensajeerror_out" type="WL5G3N1:string"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_crearnegocio">
<WL5G3N0:part name="codigointervencion" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="codigooficina" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigoejecutivo" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigotiposolicitud" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="codigoetapa" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="codigocliente" type="WL5G3N1:string"/>
<WL5G3N0:part name="codigoprospecto" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="nombreintervencion" type="WL5G3N1:string"/>
<WL5G3N0:part name="resumenintervencion" type="WL5G3N1:string"/>
<WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
<WL5G3N0:part name="monto" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="actividadeconomica" type="WL5G3N1:string"/>
<WL5G3N0:part name="numerolineacredito" type="WL5G3N1:string"/>
<WL5G3N0:part name="calificacionriesgo" type="WL5G3N1:string"/>
<WL5G3N0:part name="unidadejecutora" type="WL5G3N1:string"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_crearnegocioResponse">
<WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="mensajeerror_out" type="WL5G3N1:string"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_ejecucionproductofinanciero">
<WL5G3N0:part name="codigosolicitud" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="codigosolicituddesembolso" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="codigoetapa" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="numerolineacredito" type="WL5G3N1:string"/>
<WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
<WL5G3N0:part name="monto" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="montousd" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="numeroasignacion" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="numerotesoreria" type="WL5G3N1:string"/>
<WL5G3N0:part name="numerocontrato" type="WL5G3N1:string"/>
<WL5G3N0:part name="fechaapertura" type="WL5G3N1:dateTime"/>
<WL5G3N0:part name="fechavence" type="WL5G3N1:dateTime"/>
<WL5G3N0:part name="codigoejecutivo" type="WL5G3N1:string"/>
<WL5G3N0:part name="lineafinanciera" type="WL5G3N1:string"/>
<WL5G3N0:part name="programaoperacion" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="codigolineapasiva" type="WL5G3N1:string"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_ejecucionproductofinancieroResponse">
<WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="mensajeerror_out" type="WL5G3N1:string"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_ejecucionproductofinanciero1">
<WL5G3N0:part name="codigosolicitud" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="codigosolicituddesembolso" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="codigoetapa" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="numerolineacredito" type="WL5G3N1:string"/>
<WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
<WL5G3N0:part name="monto" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="montousd" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="numeroasignacion" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="numerotesoreria" type="WL5G3N1:string"/>
<WL5G3N0:part name="numerocontrato" type="WL5G3N1:string"/>
<WL5G3N0:part name="fechaapertura" type="WL5G3N1:dateTime"/>
<WL5G3N0:part name="fechavence" type="WL5G3N1:dateTime"/>
<WL5G3N0:part name="codigoejecutivo" type="WL5G3N1:string"/>
<WL5G3N0:part name="lineafinanciera" type="WL5G3N1:string"/>
<WL5G3N0:part name="destino" type="WL5G3N1:string"/>
<WL5G3N0:part name="area" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="actividadeconomica" type="WL5G3N1:string"/>
<WL5G3N0:part name="formapago" type="WL5G3N1:string"/>
<WL5G3N0:part name="tipomodalidad" type="WL5G3N1:string"/>
<WL5G3N0:part name="programaoperacion" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="codigolineapasiva" type="WL5G3N1:string"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_ejecucionproductofinanciero1Response">
<WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="mensajeerror_out" type="WL5G3N1:string"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_registraravance">
<WL5G3N0:part name="codigonegocio" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="codigotipoavance" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="valor" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="fechaavance" type="WL5G3N1:dateTime"/>
<WL5G3N0:part name="referencia" type="WL5G3N1:string"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_registraravanceResponse">
<WL5G3N0:part name="result" type="WL5G3N2:FaultTypeUserArray"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_salvarVencimiento">
<WL5G3N0:part name="codigoNegocio" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="numeroResolucion" type="WL5G3N1:string"/>
<WL5G3N0:part name="lineaCredito" type="WL5G3N1:string"/>
<WL5G3N0:part name="listaVencimientos" type="WL5G3N2:VencimientoTypeUserArray"/>
</WL5G3N0:message>
<WL5G3N0:message name="GECCO_salvarVencimientoResponse">
<WL5G3N0:part name="listaVencimientos" type="WL5G3N2:VencimientoTypeUserArray"/>
<WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
<WL5G3N0:part name="mensajeError_out" type="WL5G3N1:string"/>
</WL5G3N0:message>
<WL5G3N0:portType name="GECCO">
<WL5G3N0:operation name="consultarResponsables" parameterOrder="bhqCliente listaResponsables_out codigoResultado_out tipoResultado_out mensajeError_out">
<WL5G3N0:input message="WL5G3N3:GECCO_consultarResponsables"/>
<WL5G3N0:output message="WL5G3N3:GECCO_consultarResponsablesResponse"/>
</WL5G3N0:operation>
<WL5G3N0:operation name="crearcliente" parameterOrder="codigoprospecto razonsocial codigoejecutivo codigopais codigosectorinstitucional tipoinstitucion codigoactividadeconomica codigoresultado_out tiporesultado_out mensajeerror_out">
<WL5G3N0:input message="WL5G3N3:GECCO_crearcliente"/>
<WL5G3N0:output message="WL5G3N3:GECCO_crearclienteResponse"/>
</WL5G3N0:operation>
<WL5G3N0:operation name="crearCommitment" parameterOrder="codigointervencion nombrenegocio codigocliente codigosectorinstitucional codigoactividadeconomica codigoejecutivo codigopais ejeestrategico numeroresolucion fechaaprobacion porcentajecobertura numerolineacredito lineafinanciera fondo frecuencia frecuenciacomision montoaprobado fechavalor montoescriturado fechaescrituracion montomaxdesembolsar montomindesembolsar montocatalizar tipocatalizar recursosordinarios codigoasignacion diapago plazolineacredito tipoplazolinea periodogracia tipoplazogracia destino numerocuentacliente productofinanciero tienecondespeciales desccondespeciales cursorvencimientos codigoresultado_out tiporesultado_out mensajeerror_out">
<WL5G3N0:input message="WL5G3N3:GECCO_crearCommitment"/>
<WL5G3N0:output message="WL5G3N3:GECCO_crearCommitmentResponse"/>
</WL5G3N0:operation>
<WL5G3N0:operation name="crearCommitmentfijo" parameterOrder="codigointervencion nombrenegocio codigocliente codigosectorinstitucional codigoactividadeconomica codigoejecutivo codigopais ejeestrategico numeroresolucion fechaaprobacion porcentajecobertura numerolineacredito lineafinanciera fondo frecuencia frecuenciacomision montoaprobado fechavalor montoescriturado fechaescrituracion montomaxdesembolsar montomindesembolsar montocatalizar tipocatalizar recursosordinarios codigoasignacion diapago plazolineacredito tipoplazolinea periodogracia tipoplazogracia destino numerocuentacliente productofinanciero tienecondespeciales desccondespeciales codigoTipo1 fechaInicio1 plazo1 tipoPlazo1 codigoTipo2 fechaInicio2 plazo2 tipoPlazo2 codigoTipo3 fechaInicio3 plazo3 tipoPlazo3 codigoTipo4 fechaInicio4 plazo4 tipoPlazo4 codigoresultado_out tiporesultado_out mensajeerror_out">
<WL5G3N0:input message="WL5G3N3:GECCO_crearCommitmentfijo"/>
<WL5G3N0:output message="WL5G3N3:GECCO_crearCommitmentfijoResponse"/>
</WL5G3N0:operation>
<WL5G3N0:operation name="crearnegocio" parameterOrder="codigointervencion codigooficina codigoejecutivo codigotiposolicitud codigoetapa codigocliente codigoprospecto nombreintervencion resumenintervencion moneda monto actividadeconomica numerolineacredito calificacionriesgo unidadejecutora codigoresultado_out tiporesultado_out mensajeerror_out">
<WL5G3N0:input message="WL5G3N3:GECCO_crearnegocio"/>
<WL5G3N0:output message="WL5G3N3:GECCO_crearnegocioResponse"/>
</WL5G3N0:operation>
<WL5G3N0:operation name="ejecucionproductofinanciero" parameterOrder="codigosolicitud codigosolicituddesembolso codigoetapa numerolineacredito moneda monto montousd numeroasignacion numerotesoreria numerocontrato fechaapertura fechavence codigoejecutivo lineafinanciera programaoperacion codigolineapasiva codigoresultado_out tiporesultado_out mensajeerror_out">
<WL5G3N0:input message="WL5G3N3:GECCO_ejecucionproductofinanciero"/>
<WL5G3N0:output message="WL5G3N3:GECCO_ejecucionproductofinancieroResponse"/>
</WL5G3N0:operation>
<WL5G3N0:operation name="ejecucionproductofinanciero1" parameterOrder="codigosolicitud codigosolicituddesembolso codigoetapa numerolineacredito moneda monto montousd numeroasignacion numerotesoreria numerocontrato fechaapertura fechavence codigoejecutivo lineafinanciera destino area actividadeconomica formapago tipomodalidad programaoperacion codigolineapasiva codigoresultado_out tiporesultado_out mensajeerror_out">
<WL5G3N0:input message="WL5G3N3:GECCO_ejecucionproductofinanciero1"/>
<WL5G3N0:output message="WL5G3N3:GECCO_ejecucionproductofinanciero1Response"/>
</WL5G3N0:operation>
<WL5G3N0:operation name="registraravance" parameterOrder="codigonegocio codigotipoavance valor fechaavance referencia">
<WL5G3N0:input message="WL5G3N3:GECCO_registraravance"/>
<WL5G3N0:output message="WL5G3N3:GECCO_registraravanceResponse"/>
</WL5G3N0:operation>
<WL5G3N0:operation name="salvarVencimiento" parameterOrder="codigoNegocio numeroResolucion lineaCredito listaVencimientos codigoResultado_out tipoResultado_out mensajeError_out">
<WL5G3N0:input message="WL5G3N3:GECCO_salvarVencimiento"/>
<WL5G3N0:output message="WL5G3N3:GECCO_salvarVencimientoResponse"/>
</WL5G3N0:operation>
</WL5G3N0:portType>
<WL5G3N0:binding name="GECCO" type="WL5G3N3:GECCO">
<WL5G3N4:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
<WL5G3N0:operation name="consultarResponsables">
<WL5G3N4:operation soapAction="http://org/bcie/ws/middle/GECCO/GECCO.wsdl/consultarResponsables"/>
<WL5G3N0:input>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="bhqCliente " use="literal"/>
</WL5G3N0:input>
<WL5G3N0:output>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="listaResponsables_out codigoResultado_out tipoResultado_out mensajeError_out" use="literal"/>
</WL5G3N0:output>
</WL5G3N0:operation>
<WL5G3N0:operation name="crearcliente">
<WL5G3N4:operation soapAction="http://org/bcie/ws/middle/GECCO/GECCO.wsdl/crearcliente"/>
<WL5G3N0:input>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="codigoprospecto razonsocial codigoejecutivo codigopais codigosectorinstitucional tipoinstitucion codigoactividadeconomica " use="literal"/>
</WL5G3N0:input>
<WL5G3N0:output>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="codigoresultado_out tiporesultado_out mensajeerror_out" use="literal"/>
</WL5G3N0:output>
</WL5G3N0:operation>
<WL5G3N0:operation name="crearCommitment">
<WL5G3N4:operation soapAction="http://org/bcie/ws/middle/GECCO/GECCO.wsdl/crearCommitment"/>
<WL5G3N0:input>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="codigointervencion nombrenegocio codigocliente codigosectorinstitucional codigoactividadeconomica codigoejecutivo codigopais ejeestrategico numeroresolucion fechaaprobacion porcentajecobertura numerolineacredito lineafinanciera fondo frecuencia frecuenciacomision montoaprobado fechavalor montoescriturado fechaescrituracion montomaxdesembolsar montomindesembolsar montocatalizar tipocatalizar recursosordinarios codigoasignacion diapago plazolineacredito tipoplazolinea periodogracia tipoplazogracia destino numerocuentacliente productofinanciero tienecondespeciales desccondespeciales cursorvencimientos " use="literal"/>
</WL5G3N0:input>
<WL5G3N0:output>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="codigoresultado_out tiporesultado_out mensajeerror_out" use="literal"/>
</WL5G3N0:output>
</WL5G3N0:operation>
<WL5G3N0:operation name="crearCommitmentfijo">
<WL5G3N4:operation soapAction="http://org/bcie/ws/middle/GECCO/GECCO.wsdl/crearCommitmentfijo"/>
<WL5G3N0:input>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="codigointervencion nombrenegocio codigocliente codigosectorinstitucional codigoactividadeconomica codigoejecutivo codigopais ejeestrategico numeroresolucion fechaaprobacion porcentajecobertura numerolineacredito lineafinanciera fondo frecuencia frecuenciacomision montoaprobado fechavalor montoescriturado fechaescrituracion montomaxdesembolsar montomindesembolsar montocatalizar tipocatalizar recursosordinarios codigoasignacion diapago plazolineacredito tipoplazolinea periodogracia tipoplazogracia destino numerocuentacliente productofinanciero tienecondespeciales desccondespeciales codigoTipo1 fechaInicio1 plazo1 tipoPlazo1 codigoTipo2 fechaInicio2 plazo2 tipoPlazo2 codigoTipo3 fechaInicio3 plazo3 tipoPlazo3 codigoTipo4 fechaInicio4 plazo4 tipoPlazo4 " use="literal"/>
</WL5G3N0:input>
<WL5G3N0:output>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="codigoresultado_out tiporesultado_out mensajeerror_out" use="literal"/>
</WL5G3N0:output>
</WL5G3N0:operation>
<WL5G3N0:operation name="crearnegocio">
<WL5G3N4:operation soapAction="http://org/bcie/ws/middle/GECCO/GECCO.wsdl/crearnegocio"/>
<WL5G3N0:input>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="codigointervencion codigooficina codigoejecutivo codigotiposolicitud codigoetapa codigocliente codigoprospecto nombreintervencion resumenintervencion moneda monto actividadeconomica numerolineacredito calificacionriesgo unidadejecutora " use="literal"/>
</WL5G3N0:input>
<WL5G3N0:output>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="codigoresultado_out tiporesultado_out mensajeerror_out" use="literal"/>
</WL5G3N0:output>
</WL5G3N0:operation>
<WL5G3N0:operation name="ejecucionproductofinanciero">
<WL5G3N4:operation soapAction="http://org/bcie/ws/middle/GECCO/GECCO.wsdl/ejecucionproductofinanciero"/>
<WL5G3N0:input>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="codigosolicitud codigosolicituddesembolso codigoetapa numerolineacredito moneda monto montousd numeroasignacion numerotesoreria numerocontrato fechaapertura fechavence codigoejecutivo lineafinanciera programaoperacion codigolineapasiva " use="literal"/>
</WL5G3N0:input>
<WL5G3N0:output>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="codigoresultado_out tiporesultado_out mensajeerror_out" use="literal"/>
</WL5G3N0:output>
</WL5G3N0:operation>
<WL5G3N0:operation name="ejecucionproductofinanciero1">
<WL5G3N4:operation soapAction="http://org/bcie/ws/middle/GECCO/GECCO.wsdl/ejecucionproductofinanciero1"/>
<WL5G3N0:input>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="codigosolicitud codigosolicituddesembolso codigoetapa numerolineacredito moneda monto montousd numeroasignacion numerotesoreria numerocontrato fechaapertura fechavence codigoejecutivo lineafinanciera destino area actividadeconomica formapago tipomodalidad programaoperacion codigolineapasiva " use="literal"/>
</WL5G3N0:input>
<WL5G3N0:output>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="codigoresultado_out tiporesultado_out mensajeerror_out" use="literal"/>
</WL5G3N0:output>
</WL5G3N0:operation>
<WL5G3N0:operation name="registraravance">
<WL5G3N4:operation soapAction="http://org/bcie/ws/middle/GECCO/GECCO.wsdl/registraravance"/>
<WL5G3N0:input>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="codigonegocio codigotipoavance valor fechaavance referencia" use="literal"/>
</WL5G3N0:input>
<WL5G3N0:output>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="result" use="literal"/>
</WL5G3N0:output>
</WL5G3N0:operation>
<WL5G3N0:operation name="salvarVencimiento">
<WL5G3N4:operation soapAction="http://org/bcie/ws/middle/GECCO/GECCO.wsdl/salvarVencimiento"/>
<WL5G3N0:input>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="codigoNegocio numeroResolucion lineaCredito listaVencimientos " use="literal"/>
</WL5G3N0:input>
<WL5G3N0:output>
<WL5G3N4:body namespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" parts="listaVencimientos codigoResultado_out tipoResultado_out mensajeError_out" use="literal"/>
</WL5G3N0:output>
</WL5G3N0:operation>
</WL5G3N0:binding>
<WL5G3N0:service name="GECCO">
<WL5G3N0:port binding="WL5G3N3:GECCO" name="GECCO">
<WL5G3N4:address location="http://hn-apli-qa-1.bcie.org:7001/MIDDLE_QA/GECCO"/>
</WL5G3N0:port>
</WL5G3N0:service>
</WL5G3N0:definitions>