MIRA/SOA_PRD_Almacenes/JDAModifyRetailStoreProcess/SOA/WSDLs/v1.0_1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions targetNamespace="http://mx.agarcia.ea/Applications/JDA/RetailStores/QueryRetailStore/v1.0" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://mx.agarcia.ea/Applications/JDA/RetailStores/QueryRetailStore" xmlns:WL5G3N2="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:WL5G3N3="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:WL5G3N4="http://mx.agarcia.ea/Applications/JDA/RetailStores/QueryRetailStore/v1.0" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/">
   <WL5G3N0:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:client="http://mx.agarcia.ea/Applications/JDA/RetailStores/QueryRetailStore/v1.0" xmlns:ns1="http://mx.agarcia.ea/Applications/JDA/RetailStores/QueryRetailStore" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
         <import namespace="http://mx.agarcia.ea/Applications/JDA/RetailStores/QueryRetailStore" schemaLocation="http://172.16.19.26:7004/Applications/JDA/JDARetailStore/PS/JDAQueryRetailStorePXY/v1.0?SCHEMA%2FApplications%2FJDA%2FJDARetailStore%2FSchema%2FJDAQueriesRetailStoreSchema"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="http://172.16.19.26:7004/Applications/JDA/JDARetailStore/PS/JDAQueryRetailStorePXY/v1.0?SCHEMA%2FCapabilities%2FFoundation%2FSchemas%2FCommons%2FAGStandardMessageSchema"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="http://172.16.19.26:7004/Applications/JDA/JDARetailStore/PS/JDAQueryRetailStorePXY/v1.0?SCHEMA%2FCapabilities%2FFoundation%2FSchemas%2FCommons%2FAGStandardHeaderSchema"/>
      </schema>
   </WL5G3N0:types>
   <WL5G3N0:message name="findByIDRetailStoreRequestMessage">
      <WL5G3N0:part name="payload" element="WL5G3N1:findByIDRetailStoreRequest"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="filterRetailStoreResponseMessage">
      <WL5G3N0:part name="payload" element="WL5G3N1:filterRetailStoreResponse"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="standardMessageFault">
      <WL5G3N0:part name="fault" element="WL5G3N3:messageError"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="standardMessageHeader">
      <WL5G3N0:part name="header" element="WL5G3N2:headerMessage"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="standardMessageHeaderResponse">
      <WL5G3N0:part name="headerRes" element="WL5G3N3:messageResponse"/>
   </WL5G3N0:message>
   <WL5G3N0:portType name="queryRetailStorePort">
      <WL5G3N0:operation name="findById">
         <WL5G3N0:input message="WL5G3N4:findByIDRetailStoreRequestMessage"/>
         <WL5G3N0:output message="WL5G3N4:filterRetailStoreResponseMessage"/>
         <WL5G3N0:fault name="fault" message="WL5G3N4:standardMessageFault"/>
      </WL5G3N0:operation>
   </WL5G3N0:portType>
   <WL5G3N0:binding name="queryRetailStoreBinding" type="WL5G3N4:queryRetailStorePort">
      <WL5G3N5:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <WL5G3N0:operation name="findById">
         <WL5G3N5:operation style="document" soapAction="http://mx.agarcia.ea/Applications/JDA/RetailStores/QueryRetailStore/v1.0/findById"/>
         <WL5G3N0:input>
            <WL5G3N5:body use="literal" parts="payload"/>
            <WL5G3N5:header message="WL5G3N4:standardMessageHeader" part="header" use="literal"/>
         </WL5G3N0:input>
         <WL5G3N0:output>
            <WL5G3N5:body use="literal" parts="payload"/>
         </WL5G3N0:output>
         <WL5G3N0:fault name="fault">
            <WL5G3N5:fault name="fault" use="literal"/>
         </WL5G3N0:fault>
      </WL5G3N0:operation>
   </WL5G3N0:binding>
   <WL5G3N0:service name="queryRetailStoreBindingQSService">
      <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
      <WL5G3N0:port name="queryRetailStoreBindingQSPort" binding="WL5G3N4:queryRetailStoreBinding">
         <WL5G3N5:address location="http://172.16.19.26:7004/Applications/JDA/JDARetailStore/PS/JDAQueryRetailStorePXY/v1.0"/>
      </WL5G3N0:port>
   </WL5G3N0:service>
</WL5G3N0:definitions>
