AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Resources/WSDL/JDAModifyRetailStoreProcessWSDL.wsdl

<wsdl:definitions name="JDAModifyRetailStoreProcess" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/ModifyRetailStoreProcess" xmlns:ret="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/ModifyRetailStoreProcess" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" schemaLocation="../Schema/RetailStoreEntitySchema.xsd"/>
      <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
      <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ModifyRetailStoreRequest">
    <wsdl:part name="ModifyRetailStoreRequest" element="inp1:modifyRequest"/>
  </wsdl:message>
  <wsdl:message name="ModifyRetailStoreResponse">
    <wsdl:part name="ModifyRetailStoreResponse" element="inp1:modifyResponse"/>
  </wsdl:message>
  <wsdl:message name="StandardFaultMessage">
    <wsdl:part name="faultMessage" element="AGSM:messageError"/>
  </wsdl:message>
  <wsdl:message name="StandarHeaderMessage">
    <wsdl:part name="headerMessage" element="AGSH:headerMessage"/>
  </wsdl:message>
  <wsdl:portType name="ModifyRetailStorePType">
    <wsdl:operation name="modify">
      <wsdl:input message="ret:ModifyRetailStoreRequest"/>
      <wsdl:output message="ret:ModifyRetailStoreResponse"/>
      <wsdl:fault message="ret:StandardFaultMessage" name="fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ModifyRetailStoreBinding" type="ret:ModifyRetailStorePType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="modify">
      <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/ModifyRetailStoreProcess/modify"/>
      <wsdl:input>
        <soap:body use="literal" parts="ModifyRetailStoreRequest"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="ModifyRetailStoreResponse"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>