BCIE_fenix/qa/SOA/03-SOA-SERVICES/Utilidades/EjecutarServiciosAutomaticos/SOA/Schemas/EjecutarServiciosAutomaticos.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org"
            targetNamespace="http://www.example.org" elementFormDefault="qualified">
  <xsd:element name="EjecucionAutomaticaRequest" type="EjecucionAutomaticaRequestType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EjecucionAutomaticaResponse" type="EjecucionAutomaticaResponseType"/>
  <xsd:complexType name="EjecucionAutomaticaRequestType">
    <xsd:sequence>
      <xsd:element name="MensajeEntrada" type="xsd:anyType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EjecucionAutomaticaResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="xsd:string"/>
      <xsd:element name="Mensaje" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
