BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDesembolso/ConsultarLimiteByLineaFinanciera/XSD/ConsultarLimiteByLineaFinanciera_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarLimiteByLineaFinanciera_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarLimiteByLineaFinanciera_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarLimiteByLineaFinanciera_DBInput" type="ConsultarLimiteByLineaFinanciera_DBInput"/>
   <xs:complexType name="ConsultarLimiteByLineaFinanciera_DBInput">
      <xs:sequence>
         <xs:element name="CODIGO_EXTERNO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarLimiteByLineaFinanciera_DBOutputCollection" type="ConsultarLimiteByLineaFinanciera_DBOutputCollection"/>
   <xs:complexType name="ConsultarLimiteByLineaFinanciera_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarLimiteByLineaFinanciera_DBOutput" type="ConsultarLimiteByLineaFinanciera_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarLimiteByLineaFinanciera_DBOutput">
      <xs:sequence>
         <xs:element name="CODIGO_LINEA_FINANCIERA" type="xs:string" nillable="true"/>
         <xs:element name="CODIGO_LIMITE" type="xs:decimal" nillable="true"/>
         <xs:element name="LIMITE" type="xs:decimal" nillable="true"/>
         <xs:element name="LISTALINEAFINANCIERA" type="xs:string" nillable="true"/>
         <xs:element name="LISTAMONEDA" type="xs:string" nillable="true"/>
         <xs:element name="CONCENTRACION_PAIS" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>