BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ConsultarEvaluacionFenix/XSD/ConsultarEvaluacionFenix.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarEvaluacionFenix" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarEvaluacionFenix" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarEvaluacionFenixInput" type="ConsultarEvaluacionFenixInput"/>
   <xs:complexType name="ConsultarEvaluacionFenixInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:decimal" nillable="true"/>
         <xs:element name="idTipoEvaluacion" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarEvaluacionFenixOutputCollection" type="ConsultarEvaluacionFenixOutputCollection"/>
   <xs:complexType name="ConsultarEvaluacionFenixOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarEvaluacionFenixOutput" type="ConsultarEvaluacionFenixOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarEvaluacionFenixOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_EVALUACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_SECTOR_IBCIE" type="xs:string" nillable="true"/>
         <xs:element name="SECTOR_IBCIE" type="xs:string" nillable="true"/>
         <xs:element name="ID_SUB_SECTOR_IBCIE" type="xs:string" nillable="true"/>
         <xs:element name="SUB_SECTOR_IBCIE" type="xs:string" nillable="true"/>
         <xs:element name="ID_CUESTIONARIO" type="xs:string" nillable="true"/>
         <xs:element name="CUESTIONARIO" type="xs:string" nillable="true"/>
         <xs:element name="EN_ANALISIS" type="xs:decimal" nillable="true"/>
         <xs:element name="TIPO_EVALUACION" type="xs:decimal" nillable="true"/>
         <xs:element name="VERSION" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_EVALUACION" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
         <xs:element name="TTE_BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="COD_EXTERNO" type="xs:string" nillable="true"/>
         <xs:element name="ID_EVALUACION_ORIGEN" type="xs:decimal" nillable="true"/>
         <xs:element name="CALIFICACION_IBCIE" type="xs:decimal" nillable="true"/>
         <xs:element name="INSTANCIA_PROCESO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>