BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/GECCO/XSD/GECCO_CUSTOM.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://org/bcie/ws/middle/GECCO/GECCO.wsdl"
            targetNamespace="http://org/bcie/ws/middle/GECCO/GECCO.wsdl" elementFormDefault="qualified">
  <xsd:element name="crearcliente" type="crearClienteType"/>
  <xsd:complexType name="crearClienteType">
    <xsd:sequence>
      <xsd:element name="codigoprospecto" type="xsd:decimal"/>
      <xsd:element name="razonsocial" type="xsd:string"/>
      <xsd:element name="codigoejecutivo" type="xsd:string"/>
      <xsd:element name="codigopais" type="xsd:string"/>
      <xsd:element name="codigosectorinstitucional" type="xsd:string"/>
      <xsd:element name="tipoinstitucion" type="xsd:string"/>
      <xsd:element name="codigoactividadeconomica" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ActualizarOperacion" type="ActualizarOperacionType"/>
  <xsd:complexType name="ActualizarOperacionType">
    <xsd:sequence>
      <xsd:element name="codigointervencion" type="xsd:decimal"/>
      <xsd:element name="codigooficina" type="xsd:string"/>
      <xsd:element name="codigoejecutivo" type="xsd:string"/>
      <xsd:element name="codigotiposolicitud" type="xsd:decimal"/>
      <xsd:element name="codigoetapa" type="xsd:decimal"/>
      <xsd:element name="codigocliente" type="xsd:string"/>
      <xsd:element name="codigoprospecto" type="xsd:decimal"/>
      <xsd:element name="nombreintervencion" type="xsd:string"/>
      <xsd:element name="resumenintervencion" type="xsd:string"/>
      <xsd:element name="moneda" type="xsd:string"/>
      <xsd:element name="monto" type="xsd:decimal"/>
      <xsd:element name="actividadeconomica" type="xsd:string"/>
      <xsd:element name="numerolineacredito" type="xsd:string"/>
      <xsd:element name="calificacionriesgo" type="xsd:string"/>
      <xsd:element name="unidadejecutora" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeccoResponse">
    <xsd:sequence>
      <xsd:element name="codigoresultado_out" type="xsd:decimal"/>
      <xsd:element name="tiporesultado_out" type="xsd:decimal"/>
      <xsd:element name="mensajeerror_out" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
