Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/SCHChkAppSvc/SCHChkAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="SCHAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/SCHChkAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/SCHChkAppSvc_V1.0"
		  xmlns:appoptChkEnableAdd="http://xmlns.banesco.com/appopt/SCHChkAppSvc/ChkEnableAdd_V1.0"
		  xmlns:appoptChkChargeAdd="http://xmlns.banesco.com/appopt/SCHChkAppSvc/ChkChargeAdd_V1.0"				  
		  xmlns:appoptChkAdd="http://xmlns.banesco.com/appopt/SCHChkAppSvc/ChkAdd_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
	  <xsd:import namespace="http://xmlns.banesco.com/appopt/SCHChkAppSvc/ChkEnableAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/SCHChk/ChkEnableAdd/ChkEnableAdd_V1.0.xsd"/>
	  <xsd:import namespace="http://xmlns.banesco.com/appopt/SCHChkAppSvc/ChkChargeAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/SCHChk/ChkChargeAdd/ChkChargeAdd_V1.0.xsd"/>         
          <xsd:import namespace="http://xmlns.banesco.com/appopt/SCHChkAppSvc/ChkAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/SCHChk/ChkAdd/ChkAdd_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="ChkEnableAddRq">
    <wsdl:part name="ChkEnableAddRq" element="appoptChkEnableAdd:ChkEnableAddRq"/>
  </wsdl:message>
  <wsdl:message name="ChkEnableAddRs">
    <wsdl:part name="ChkEnableAddRs" element="appoptChkEnableAdd:ChkEnableAddRs"/>
  </wsdl:message>
  <wsdl:message name="ChkChargeAddRq">
    <wsdl:part name="ChkChargeAddRq" element="appoptChkChargeAdd:ChkChargeAddRq"/>
  </wsdl:message>
  <wsdl:message name="ChkChargeAddRs">
    <wsdl:part name="ChkChargeAddRs" element="appoptChkChargeAdd:ChkChargeAddRs"/>
  </wsdl:message>
 <wsdl:message name="ChkAddRq">
    <wsdl:part name="ChkAddRq" element="appoptChkAdd:ChkAddRq"/>
  </wsdl:message>
  <wsdl:message name="ChkAddRs">
    <wsdl:part name="ChkAddRs" element="appoptChkAdd:ChkAddRs"/>
  </wsdl:message>
  
  <wsdl:portType name="SCHChkAppSvcPort">
	<wsdl:operation name="ChkEnableAdd">
      <wsdl:input message="tns:ChkEnableAddRq"/>
      <wsdl:output message="tns:ChkEnableAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
      <wsdl:operation name="ChkChargeAdd">
      <wsdl:input message="tns:ChkChargeAddRq"/>
      <wsdl:output message="tns:ChkChargeAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="ChkAdd">
      <wsdl:input message="tns:ChkAddRq"/>
      <wsdl:output message="tns:ChkAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="SCHChkAppSvcBindingSOAP11" type="tns:SCHChkAppSvcPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
	
	<wsdl:operation name="ChkEnableAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/SCHChkAppSvc_V1.0/ChkEnableAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="ChkEnableAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="ChkEnableAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="ChkChargeAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/SCHChkAppSvc_V1.0/ChkChargeAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="ChkChargeAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="ChkChargeAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    
     <wsdl:operation name="ChkAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/SCHChkAppSvc_V1.0/ChkAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="ChkAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="ChkAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
	
  </wsdl:binding>
  
  <wsdl:service name="SCHChkAppSvc_V1.0">
    <wsdl:port name="SCHAppSvc_V1.0" binding="tns:SCHChkAppSvcBindingSOAP11">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
