BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/CANALES/DetalleVotacion/Operacion/Wsdl/ConsultarDatosOperacion.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSB_BCIE/CANALES/ConsultarDatosOperacion" xmlns:conOpeBO="http://www.bcie.org/ConsultarOperacionBO" xmlns:ns0="http://www.bcie.org/ConsultarOperacionMO" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ConsultarDatosOperacion">Consulta el detalle de la votación</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.bcie.org/ConsultarOperacionMO" schemaLocation="../../../../MDS/Canales/Votacion/ConsultarDetalleVotacion/V1/Schema/ConsultarOperacionMO.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.bcie.org/ConsultarOperacion" schemaLocation="../XSD/ConsultarOperacionBO_JSON.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="ConsultarDatosOperacion">
            <request>
               <param name="idVotacion" style="query" soa:expression="$msg.request/ns0:operacion/conOpeBO:idVotacion" default="" type="xsd:string"/>
               <param name="nivelAprobacion" style="query" soa:expression="$msg.request/ns0:operacion/conOpeBO:nivelAprobacion" default="" type="xsd:string"/>
               <param name="idUsuario" style="query" soa:expression="$msg.request/ns0:operacion/conOpeBO:idUsuarioReunion" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:ConsultarOperacionResponse" xmlns:cns="http://www.bcie.org/ConsultarOperacion"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
