BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDesembolso/CrearActualizarSolicitudDesembolso/XSD/CrearActualizarSolicitudDesembolso_DB_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearActualizarSolicitudDesembolso_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearActualizarSolicitudDesembolso_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SolicitudDesembolsoCollection" type="SolicitudDesembolsoCollection"/>
   <xs:complexType name="SolicitudDesembolsoCollection">
      <xs:sequence>
         <xs:element name="SolicitudDesembolso" type="SolicitudDesembolso" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SolicitudDesembolso">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idOperacion" type="xs:long" minOccurs="0"/>
         <xs:element name="fechaCreacion" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="fechaSolicitud" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="montoSolicitud" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaTipoMoneda" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaEstado" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
         <xs:element name="requiereValidacionRecExt" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>