AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/Receipt/ReceiptEBM.xsd

<!-- ====================================================================== --><!-- =====      Receipt EBO EBM                                  ===== --><!-- ====================================================================== --><xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Receipt" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Receipt" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <!-- ====================================================================== -->
  <!-- =====      Imports                                               ===== -->
  <!-- ====================================================================== -->
  <xsd:include schemaLocation="ReceiptEBO.xsd"/>
  <!-- ====================================================================== -->
  <!-- =====Las operaciones del EBO deben ser siempre 3     ================= -->
  <!-- =====En este EBO estan como Create :: ================== -->
  <!-- =====CreateReceiptEBM, CreateReceiptResponseEBM y  ReceiptResponseAcknowledgeEBM == -->
  <!-- ====================================================================== -->
  <!-- ====================================================================== -->
  <!-- ==================CreateReceipt Service=================== -->
  <!-- ====================================================================== -->
  <xsd:element name="CreateReceiptEBM" type="CreateReceiptEBMType"/>
  <xsd:element name="CreateReceiptResponseEBM" type="CreateReceiptResponseEBMType"/>
  <xsd:element name="ProcessReceiptEBM" type="ProcessReceiptEBMType"/>
  <xsd:element name="ProcessReceiptResponseEBM" type="ProcessReceiptResponseEBMType"/>
  <xsd:element name="QueryReceiptEBM" type="QueryReceiptEBMType"/>
  <xsd:element name="QueryReceiptResponseEBM" type="QueryReceiptResponseEBMType"/>
  <xsd:element name="SyncReceiptEBM" type="SyncReceiptEBMType"/>
  <xsd:element name="SyncReceiptResponseEBM" type="SyncReceiptResponseEBMType"/>
  <xsd:element name="UpdateReceiptEBM" type="UpdateReceiptEBMType"/>
  <xsd:element name="UpdateReceiptResponseEBM" type="UpdateReceiptResponseEBMType"/>
  <!-- ====================================================================== -->
  <xsd:element name="ReceiptResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>
  <!-- ====================================================================== -->
  <!-- ========================= CreateReceipt Service======================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="CreateReceiptEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateReceipt" type="ReceiptEBOType"/>
            <xsd:element name="ReceiptRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ============= Create Receipt Response Service ============= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="CreateReceiptResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="CreateReceiptReference" type="com:IdentificationType"/>
      <xsd:element name="ReceiptRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ======================= Process Receipt Service======================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="ProcessReceiptEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProcessReceipt" type="ReceiptEBOType"/>
            <xsd:element name="ReceiptRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ============= Process Receipt Response Service ======================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="ProcessReceiptResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="ProcessReceiptReference" type="com:IdentificationType"/>
      <xsd:element name="ReceiptRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ======================= Query Receipt Service======================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="QueryReceiptEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="QueryReceipt" type="ReceiptEBOType"/>
            <xsd:element name="ReceiptRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ============= Query Receipt Response Service ========================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="QueryReceiptResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="QueryReceiptReference" type="ReceiptEBOType"/>
      <xsd:element name="ReceiptRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ======================= Sync Receipt Service======================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="SyncReceiptEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SyncReceipt" type="ReceiptEBOType"/>
            <xsd:element name="ReceiptRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ============= Sync Receipt Response Service ========================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="SyncReceiptResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="SyncReceiptReference" type="com:IdentificationType"/>
      <xsd:element name="ReceiptRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ======================= Update Receipt Service ======================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="UpdateReceiptEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UpdateReceipt" type="ReceiptEBOType"/>
            <xsd:element name="ReceiptRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ============= Update Receipt Response Service ======================== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="UpdateReceiptResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="UpdateReceiptReference" type="com:IdentificationType"/>
      <xsd:element name="ReceiptRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <xsd:complexType name="ResponseAcknowledgeEBMType">
    <xsd:sequence>
      <xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>