Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/DummyPBCarga/DummyPBCarga_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/DummyPBCargaAppSvc/DummyPBCarga_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptDummyPBCarga="http://xmlns.banesco.com/appopt/DummyPBCargaAppSvc/DummyPBCarga_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="DummyPBCargaRq" type="appoptDummyPBCarga:DummyPBCargaRq_Type"/>
	<xs:element name="DummyPBCargaRs" type="appoptDummyPBCarga:DummyPBCargaRs_Type"/>
	<xs:element name="DummyPBCargaRq_Type" type="appoptDummyPBCarga:DummyPBCargaRq_Type"/>
	<xs:complexType name="DummyPBCargaRq_Type">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="DummyPBCargaRs_Type" type="appoptDummyPBCarga:DummyPBCargaRs_Type"/>
	<xs:complexType name="DummyPBCargaRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
