AG_2019/OSB/AlmacenesGarcia_DEV/Applications/RetailMerchandising/RMS/RMSCostChange/Schema/RMSCostChangeSchema.xsd.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Applications/RetailMerchandising/RMS/CostChange" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Applications/RetailMerchandising/RMS/CostChange" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:Chc="http://mx.agarcia.ea/Canonical/Commons/ChangeCost/v1">
           
           
    <xs:import schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
    <xs:import schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>
    <xs:import schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/ChangeCostCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/ChangeCost/v1"/>
               
            

    
    <xs:element name="createCostChangeEventRequest" type="base:CreateCostChangeEventType"/>
    <xs:element name="createCostChangeEventResponse" type="AGsm:MessageResponse"/>

    <xs:element name="notifyCostChangeEventRequest" type="base:NotifyCostChangeEventRequestType"/>
    <xs:element name="notifyCostChangeEventResponse" type="base:NotifyCostChangeEventResponseType"/>
    
    <xs:element name="findCostChangeEventDetailsRequest" type="base:FindCostChangeEventDetailsRequestType"/>
    <xs:element name="findCostChangeEventDetailsResponse" type="base:FindCostChangeEventDetailsResponseType"/>
    
    <xs:complexType name="NotifyCostChangeEventRequestType">
        <xs:sequence>
            <xs:element name="event" type="Chc:Event" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="NotifyCostChangeEventResponseType">
        <xs:sequence>
            <xs:element name="event" type="Chc:Event" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    
    <xs:complexType name="CreateCostChangeEventType">
        <xs:sequence>
            <xs:element name="event" type="Chc:Event" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    

    <xs:complexType name="FindCostChangeEventDetailsRequestType">
        <xs:sequence>
            <xs:element name="event" type="Chc:Event" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

        
    <xs:complexType name="FindCostChangeEventDetailsResponseType">
        <xs:sequence>
            <xs:element name="event" type="Chc:Event" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>