Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Party/PersonPartyInfoInq/PersonPartyInfoInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/PersonPartyInfoInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptPersonPartyInfoInq="http://xmlns.banesco.com/eopt/PersonPartyInfoInq_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:element name="PersonPartyInfoInqRs" type="eoptPersonPartyInfoInq:PersonPartyInfoInqRs_Type"/>
	<xs:element name="PersonPartyInfoInqRq" type="eoptPersonPartyInfoInq:PersonPartyInfoInqRq_Type"/>
	<xs:complexType name="PersonPartyInfoInqRq_Type">
		<xs:sequence>
			<xs:element name="PartyData" type="eoPar:PartyData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto PartyKey que contienen los datos de identificación del cliente natural o físico a consultar.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonPartyInfoInqRs_Type">
		<xs:sequence>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto PartyKey que contiene la información de identificación del cliente natural o físico consultado.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonPartyInfo" type="eoPar:PersonPartyInfo" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto PersonPartyInfo que contiene la información básica del cliente natural o físico consultado.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
