BCIE_fenix/features/MCP/7705/SOA/03-SOA-SERVICES/Cliente/V1/Schema/ClienteBO.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cliBO="http://www.bcie.org/ClienteBO"
     xmlns:catBO="http://www.bcie.org/CatalogoBO" targetNamespace="http://www.bcie.org/ClienteBO"
     elementFormDefault="qualified">
    <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="../../../../../ComponentesComunes/Common/V1/Schema/CatalogoBO.xsd"/>
    <xsd:simpleType name="idCliente">
        <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
            <xsd:totalDigits value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="ClienteBasicType">
        <xsd:sequence>
            <xsd:group ref="cliBO:ClienteIdentificador"/>
            <xsd:element name="razonSocial" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="abreviatura" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="tipoPersona" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="tipoCliente" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="sector" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="tipoInstitucion" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="pais" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="grupoEconomico" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="tipoIdentificacion" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="numeroIdentificacion" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="direccion" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="50"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="telefono" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="fax" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="email" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="ciudad" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="oficina" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="grupoEmpresarial" type="xsd:string" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="fechaRegistro" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="fechaAprobacion" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="ejecutivo" minOccurs="0">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="responsableCliente" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Cliente">
        <xsd:complexContent>
            <xsd:annotation>
                <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
                <xsd:documentation>Entidad Cliente - (Modelo canónico)</xsd:documentation>
            </xsd:annotation>
            <xsd:extension base="cliBO:ClienteBasicType">
                <xsd:sequence>
                    <xsd:element name="Contactos" type="cliBO:Contactos" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="InformacionCorrecta" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="ActualizacionPermitida" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
                    <xsd:element name="comentarioAprobacion" minOccurs="0" maxOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="250"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="revisadoAprobacion" minOccurs="0" maxOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="20"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="status" minOccurs="0" maxOccurs="1">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:maxLength value="1"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="fechaBaja" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="diaPago" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="SCR" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="perspectiva" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="enMora" type="xsd:boolean" default="false" minOccurs="0"/>
                    <xsd:element name="mora" type="cliBO:mora" minOccurs="0" maxOccurs="1"/>
                    <xsd:element name="deteriorado" type="xsd:boolean" default="false" minOccurs="0"/>
                    <xsd:element name="reserva" type="cliBO:reservaType" minOccurs="0"/>
                    <xsd:element name="requiereEnvioAutomatico" type="xsd:decimal" minOccurs="0"/>
                    <xsd:element name="detalleSCR" type="cliBO:DetalleSCRType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:simpleType name="idContacto">
        <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
            <xsd:totalDigits value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="Contactos">
        <xsd:annotation>
            <xsd:documentation>Tipo de dato para los contactos</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Contacto" type="cliBO:Contacto" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Contacto">
        <xsd:annotation>
            <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
            <xsd:documentation>Entidad Contacto - (Modelo canónico)</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idContacto" type="cliBO:idContacto"/>
            <xsd:element name="idCliente" type="cliBO:idCliente"/>
            <xsd:element name="nombre" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="telefono" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="correoElectronico" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="cargo" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="tipo" type="xsd:string"/>
            <xsd:element name="fechaRegistro" type="xsd:dateTime"/>
            <xsd:element name="idContactosClientes" type="xsd:long"/>
            <xsd:element name="recibeAvisoCobro" type="xsd:boolean" default="false" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="idTipoPersona">
        <xsd:restriction base="xsd:long">
            <xsd:minInclusive value="0"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:complexType name="TipoPersona">
        <xsd:annotation>
            <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
            <xsd:documentation>Tipo de persona, calificativo para el cliente</xsd:documentation>

<!-- Ver tabla TCA_DOCUMENTO 
-->
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="idTipoDocumento" type="cliBO:idTipoPersona"/>
            <xsd:element name="descripcion" type="xsd:string"/>
            <xsd:element name="descripcionCorta" type="xsd:int"/>
            <xsd:element name="fechaRegistro" type="xsd:date"/>
            <xsd:element name="estado" type="xsd:string"/>
            <xsd:element name="descripcion" type="xsd:string"/>
            <xsd:element name="codigoExterno" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="EntidadMinimaOperacion">
        <xsd:sequence>
            <xsd:element name="idOperacion" type="xsd:long"/>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="cliente" type="xsd:string"/>
            <xsd:element name="pais" type="xsd:string"/>
            <xsd:element name="producto" type="xsd:string"/>
            <xsd:element name="responsable" type="xsd:string"/>
            <xsd:element name="etapa" type="xsd:string"/>
            <xsd:element name="estado" type="xsd:string"/>
            <xsd:element name="SCR" type="catBO:Catalogo"/>
            <xsd:element name="perspectiva" type="catBO:Catalogo"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="mora">
        <xsd:sequence>
            <xsd:element name="dias" type="xsd:int"/>
            <xsd:element name="monto" type="xsd:decimal"/>
            <xsd:element name="tipo" type="catBO:Catalogo" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:group name="ClienteIdentificador">
        <xsd:sequence>
            <xsd:element name="idCliente" type="cliBO:idCliente"/>
            <xsd:element name="idFacturador" minOccurs="0" maxOccurs="1">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="20"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
    </xsd:group>
    <xsd:complexType name="SCRType">
        <xsd:sequence>
            <xsd:group ref="cliBO:ClienteIdentificador"/>
            <xsd:element name="scr" type="xsd:string" minOccurs="0"/>
            <xsd:element name="estadoScr" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="observacion" type="xsd:string" minOccurs="0"/>
            <xsd:element name="fecha" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="usuarioModifico" type="xsd:string" minOccurs="0"/>
            <xsd:element name="usuarioValido" type="xsd:string" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="reservaType">
        <xsd:sequence>
            <xsd:element name="importeReserva" type="xsd:decimal"/>
            <xsd:element name="tipoReserva" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SeguimientoCrediticioType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="idCliente" type="cliBO:idCliente"/>
            <xsd:element name="tipoInicio" type="xsd:string"/>
            <xsd:element name="tipoRevision" type="xsd:string"/>
            <xsd:element name="scr" type="catBO:Catalogo"/>
            <xsd:element name="estadoSCR" type="catBO:Catalogo"/>
            <xsd:element name="perspectiva" type="catBO:Catalogo"/>
            <xsd:element name="esCalificacionDividida" type="xsd:boolean"/>
            <xsd:element name="fechaAprobado" type="xsd:dateTime"/>
            <xsd:element name="instanciaProceso" type="xsd:string"/>
            <xsd:element name="loginUsuario" type="xsd:string"/>
            <xsd:element name="nombreUsuario" type="xsd:string"/>
            <xsd:element name="fechaRegistro" type="xsd:dateTime"/>
            <xsd:element name="banEstatus" type="xsd:boolean"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DetalleSCRType">
        <xsd:sequence>
            <xsd:element name="scrFuente" type="cliBO:SCRType"/>
            <xsd:element name="scrReferencia" type="cliBO:SCRType"/>
            <xsd:element name="estatusComparacion" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
<!-- edited with XMLSpy v2015 sp1 (x64) (http://www.altova.com) by Cesar Varela (Television Internacional) -->
