BCIE_fenix/features/MCP/7705/ADF-BPM/bpm/PC03Analisis/PC03AnalisisProcessUITest/SOA/Schemas/Comun/Header/V1/HeaderOPN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
           xmlns:operacion="http://xmlns.bcie.org/ObjetoProceso/Comun/Operacion/V1" 
           xmlns:tarea="http://xmlns.bcie.org/ObjetoProceso/Comun/Tarea/V1" 
           elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">
           
    <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Operacion/V1" schemaLocation="../../Operacion/V1/OperacionOPN.xsd"/>
    <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Tarea/V1" schemaLocation="../../Tarea/V1/TareaOPN.xsd"/>
      <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" schemaLocation="../../Parameter/V1/ParameterOPN.xsd"/>
    
    <xs:complexType name="Header">
        <xs:annotation>
            <xs:documentation>Elemento que contiene la información del Header para TODOS los payload de BPM.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Operacion" type="operacion:Operacion" minOccurs="1" maxOccurs="1"/>
            <xs:element name="Tarea" type="tarea:Tarea" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    
</xs:schema>
