BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ConsultarRolesPorProceso/V1/Schema/ConsultarRolesPorProcesoBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rolProBO="http://www.bcie.org/ConsultarRolesPorProcesoBO"
            targetNamespace="http://www.bcie.org/ConsultarRolesPorProcesoBO" elementFormDefault="qualified"
            xmlns:catBO="http://www.bcie.org/CatalogoBO">
            
  <xsd:import schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd" namespace="http://www.bcie.org/CatalogoBO"/>
  <xsd:complexType name="RolesPorPorceso">
    <xsd:annotation>
      <xsd:documentation>Listado de roles por proceso</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element type="xsd:long" name="idProceso"/>
      <xsd:element type="catBO:Catalogo" name="listadoRoles" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
