Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/TCIBCardTrnAppSvc/TCIBCardTrnAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="TCIBCardTrnAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/TCIBCardTrnAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/TCIBCardTrnAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:appoptCardCrTransferPtsAdd="http://xmlns.banesco.com/appopt/TCIBCardTrnAppSvc/CardCrTransferPtsAdd_V1.0"
                  xmlns:appoptCardCrRedeemPtsAdd="http://xmlns.banesco.com/appopt/TCIBCardTrnAppSvc/CardCrRedeemPtsAdd_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.banesco.com/eo/Status_V1.0"
                  schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/TCIBCardTrnAppSvc/CardCrTransferPtsAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/TCIBCardTrn/CardCrTransferPtsAdd/CardCrTransferPtsAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/TCIBCardTrnAppSvc/CardCrRedeemPtsAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/TCIBCardTrn/CardCrRedeemPtsAdd/CardCrRedeemPtsAdd_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrTransferPtsAddRq">
    <wsdl:part name="CardCrTransferPtsAddRq" element="appoptCardCrTransferPtsAdd:CardCrTransferPtsAddRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrTransferPtsAddRs">
    <wsdl:part name="CardCrTransferPtsAddRs" element="appoptCardCrTransferPtsAdd:CardCrTransferPtsAddRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrRedeemPtsAddRq">
    <wsdl:part name="CardCrRedeemPtsAddRq" element="appoptCardCrRedeemPtsAdd:CardCrRedeemPtsAddRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrRedeemPtsAddRs">
    <wsdl:part name="CardCrRedeemPtsAddRs" element="appoptCardCrRedeemPtsAdd:CardCrRedeemPtsAddRs"/>
  </wsdl:message>
  <wsdl:portType name="TCIBCardTrnAppSvc_V1.0">
    <wsdl:operation name="CardCrTransferPtsAdd">
      <wsdl:input message="tns:CardCrTransferPtsAddRq"/>
      <wsdl:output message="tns:CardCrTransferPtsAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="CardCrRedeemPtsAdd">
      <wsdl:input message="tns:CardCrRedeemPtsAddRq"/>
      <wsdl:output message="tns:CardCrRedeemPtsAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TCIBCardTrnAppSvc_V1.0SOAP" type="tns:TCIBCardTrnAppSvc_V1.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CardCrTransferPtsAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/TCIBCardTrnAppSvc_V1.0/CardCrTransferPtsAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="CardCrTransferPtsAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="CardCrTransferPtsAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CardCrRedeemPtsAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/TCIBCardTrnAppSvc_V1.0/CardCrRedeemPtsAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="CardCrRedeemPtsAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="CardCrRedeemPtsAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TCIBCardTrnAppSvc_V1.0">
    <wsdl:port name="TCIBCardTrnAppSvc_V1.0SOAP" binding="tns:TCIBCardTrnAppSvc_V1.0SOAP">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
