AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/WarehouseTransferApp/CreateTransferJDAAdapterService/Resources/Schema/WarehouseTransferResp.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/ServiceBus/InventoryTransaction" targetNamespace="http://www.agarcia.mx/ServiceBus/InventoryTransaction" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
   <xsd:element name="WarehouseTransferRespJDA">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="LISTRESP">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="resultado" type="xsd:string"/>
                     <xsd:element name="mensaje" type="xsd:string"/>
                     <xsd:element name="transferencia" type="xsd:integer"/>
                     <xsd:element name="precio" type="xsd:double"/>
                     <xsd:element name="costo" type="xsd:double"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>