AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/WarehouseTransferApp/CreateTransferJDAAdapterService/Resources/Schema/WarehouseTransferReq.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/ServiceBus/InventoryTransaction" targetNamespace="http://www.agarcia.mx/ServiceBus/InventoryTransaction" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
   <xsd:element name="WarehouseTransferJDA">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="SolTRFS" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="hojaPicking" type="xsd:string"/>
                     <xsd:element name="localOrigen" type="xsd:integer"/>
                     <xsd:element name="olaID" type="xsd:string"/>
                     <xsd:element name="localDestino" type="xsd:integer"/>
                     <xsd:element name="allocation" type="xsd:integer" minOccurs="0"/>
                     <xsd:element name="detalle" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="proveedor" type="xsd:integer"/>
                              <xsd:element name="estilo" type="xsd:integer" minOccurs="0"/>
                              <xsd:element name="sku" type="xsd:string" minOccurs="0"/>
                              <xsd:element name="cantidadPiezas" type="xsd:integer"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>