Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBCard/CardValidInq/CardValidInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBCardAppSvc/CardValidInq_V1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:appoptCardValidInq="http://xmlns.banesco.com/appopt/TCIBCardAppSvc/CardValidInq_V1.0"
           xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
  <xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
             schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
  <xs:element name="CardValidInqRq" type="appoptCardValidInq:CardValidInqRq_Type"/>
  <xs:element name="CardValidInqRs" type="appoptCardValidInq:CardValidInqRs_Type"/>
  <xs:complexType name="Agency">
    <xs:sequence>
      <xs:element name="AgencyIdent" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sucursal donde se realiza la operación.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element name="CardType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifica si es TDD o TDC.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PlasticInfo" type="appoptCardValidInq:PlasticInfo" minOccurs="1" maxOccurs="1"/>
      <xs:element name="CardKey" type="appoptCardValidInq:CardKey" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardKey">
    <xs:sequence>
      <xs:element name="CardNum" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de la TDC o TDD ingresada por el cliente.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardValidInqRq_Type">
    <xs:annotation>
      <xs:documentation>Datos para validar la tarjeta</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Card" type="appoptCardValidInq:Card" minOccurs="1" maxOccurs="1"/>
      <xs:element name="FIData" type="appoptCardValidInq:FIData" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PartyKey" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardValidInqRs_Type">
    <xs:sequence>
      <xs:element name="Card" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="CardKey" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="CardNum" type="xs:string" minOccurs="0" maxOccurs="1">
                    <xs:annotation>
                      <xs:documentation>Número asignado a la tarjeta.</xs:documentation>
                    </xs:annotation>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="CardType" type="xs:string" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>Tipo de producto</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="FIData" type="appoptCardValidInq:FIData" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIData">
    <xs:sequence>
      <xs:element name="FIIdent" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código del banco que realiza la transacción en Nativa.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Agency" type="appoptCardValidInq:Agency" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyKey">
    <xs:sequence>
      <xs:element name="PartyId" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de cliente</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlasticInfo">
    <xs:sequence>
      <xs:element name="CardVrfyData" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código validador de la Tarjeta.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>