BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Condicion/ObtenerValidadoresActivos/XSD/ObtenerValidadoresActivos.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ObtenerValidadoresActivos" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ObtenerValidadoresActivos" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ObtenerValidadoresActivosInput" type="ObtenerValidadoresActivosInput"/>
   <xs:complexType name="ObtenerValidadoresActivosInput">
      <xs:sequence>
         <xs:element name="idAgrupador" type="xs:decimal" nillable="true"/>
         <xs:element name="idOperacion" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ObtenerValidadoresActivosOutputCollection" type="ObtenerValidadoresActivosOutputCollection"/>
   <xs:complexType name="ObtenerValidadoresActivosOutputCollection">
      <xs:sequence>
         <xs:element name="ObtenerValidadoresActivosOutput" type="ObtenerValidadoresActivosOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ObtenerValidadoresActivosOutput">
      <xs:sequence>
         <xs:element name="VALIDADORES_PENDIENTES" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>