BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioCliente/GestionCobro/UpSertGestionCobro/XSD/UpSertGestionCobro_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/UpSertGestionCobro" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/UpSertGestionCobro" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="LoteGestionCobroCollection" type="LoteGestionCobroCollection"/>
   <xs:complexType name="LoteGestionCobroCollection">
      <xs:sequence>
         <xs:element name="LoteGestionCobro" type="LoteGestionCobro" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LoteGestionCobro">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idEjecucion" type="xs:long" minOccurs="0"/>
         <xs:element name="estadoEjecucion" type="string30" minOccurs="0"/>
         <xs:element name="idTcaMensajeError" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
         <xs:element name="tipoLote" type="string15" minOccurs="0"/>
         <xs:element name="esReciboDetallado" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string15">
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>