BCIE_fenix/qa/ADF-BPM/bpm/PC06Evaluacion/PC06EvaluacionProcess/SOA/WSDLs/EvaluacionExAnteProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionExAnteProcess" xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Evaluacion/Payload/V1"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionExAnteProcess"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionExAnteProcess">
            <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Evaluacion/Payload/V1" schemaLocation="../Schemas/Evaluacion/V1/EvaluacionPayload.xsd"/>
            <xsd:element name="FinIBCIEResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:EvaluacionPayload"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="InicioEvaluacionExAnte">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:EvaluacionPayload"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="FinIBCIEResponse">
        <wsdl:part name="parameters" element="tns:FinIBCIEResponse"/>
    </wsdl:message>
    <wsdl:message name="InicioEvaluacionExAnte">
        <wsdl:part name="parameters" element="tns:InicioEvaluacionExAnte"/>
    </wsdl:message>
    <wsdl:portType name="EvaluacionExAnteCPortType">
        <wsdl:operation name="InicioEvaluacionExAnte">
            <wsdl:input message="tns:InicioEvaluacionExAnte"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="EvaluacionExAnteCPortTypeCallBack">
        <wsdl:operation name="FinIBCIE">
            <wsdl:input message="tns:FinIBCIEResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="EvaluacionExAnteCPortTypePartnerLinkType">
        <plnk:role name="EvaluacionExAnteCPortTypeProvider">
            <plnk:portType name="tns:EvaluacionExAnteCPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
