BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/Utilidades/IniciarAprobacionLOTUS/V1/Schema/IniciarAprobacionLOTUSMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/IniciarAprobacionLotusMO"
            targetNamespace="http://www.bcie.org/IniciarAprobacionLotusMO" elementFormDefault="qualified"
            xmlns:iniAprMO="http://www.bcie.org/IniciarAprobacionLotusMO"
            xmlns:iniAprBO="http://www.bcie.org/IniciarAprobacionLotusBO"
            xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import schemaLocation="IniciarAprobacionLOTUSBO.xsd" namespace="http://www.bcie.org/IniciarAprobacionLotusBO" />
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="IniciarAprobacionLoutsRequest" type="iniAprMO:IniciarAprobacionLotusRequestType"/>
  <xsd:element name="IniciarAprobacionLotusResponse" type="iniAprMO:IniciarAprobacionLotusResponseType"/>
  <xsd:complexType name="IniciarAprobacionLotusRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="iniAprBO:idOperacion"/>
      <xsd:element name="codigoEtapa" type="iniAprBO:codigoEtapa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="IniciarAprobacionLotusResponseType">
    <xsd:sequence>
      <xsd:element name="codigoAprobacion" type="xsd:string"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
