BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ActivarOperacionProceso/V1/Schema/ActivarOperacionProcesoMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ActivarOperacionProcesoMO"
            targetNamespace="http://www.bcie.org/ActivarOperacionProcesoMO" elementFormDefault="qualified"
            xmlns:acOpe="http://www.bcie.org/ActivarOperacionProcesoBO" xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import namespace="http://www.bcie.org/ActivarOperacionProcesoBO" schemaLocation="ActivarOperacionProcesoBO.xsd"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="ActivarOperacionProcesoRequest" type="ActivarOperacionProcesoRequestType"/>
  <xsd:element name="ActivarOperacionProcesoResponse" type="ActivarOperacionProcesoResponseType"/>
  <xsd:complexType name="ActivarOperacionProcesoRequestType">
    <xsd:sequence>
      <xsd:element name="OperacionProceso" type="acOpe:OperacionProceso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActivarOperacionProcesoResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
