BCIE_fenix/features/MCP/5003/SOA/09-OSB-FLEXCUBE/ADAPTADORES/Proveedores/FLEXCUBE14/DominioPrestamo/CrearContratoOL/XSD/crearContratoOL_DB_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/crearContratoOL_DB" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/crearContratoOL_DB" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PTYPECONTRATO" type="db:INTERFLEX.CONTRATO_OL_TYPE" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PVUSUARIO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PVCODIGO_CONTRATO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PVCODIGO_RESULTADO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PVTIPO_RESULTADO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PVMENSAJE_SALIDA" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="INTERFLEX.COMPONENTE_LIST_TYPE">
      <sequence>
         <element name="LISTA_COMPONENTES_ITEM" type="db:INTERFLEX.COMPONENTE_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="INTERFLEX.COMPONENTE_TYPE">
      <sequence>
         <element name="TIPO_TASA" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_TASA" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_COMISION" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BASE_CALCULO" type="db:string1" db:type="CHAR" minOccurs="0" nillable="true"/>
         <element name="SPREAD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VALOR_COMISION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MONTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TASA_MINIMA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TASA_MAXIMA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ES_DEPENDIENTE" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ES_FACTOR" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DIAS_SPOT_TASA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CANTIDAD_DECIMALES" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIPO_REDONDEO" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LISTA_CALENDARIO" type="db:INTERFLEX.CALENDARIO_LIST_TYPE" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="INTERFLEX.CONTRATO_OL_TYPE">
      <sequence>
         <element name="CODIGO_DESEMBOLSO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_NEGOCIO" type="db:string300" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_CLIENTE" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SECTOR_INSTITUCIONAL" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACTIVIDAD_ECONOMICA" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EJECUTIVO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PAIS" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EJE_ESTRATEGICO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AREA_FOCALIZACION" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OBJETIVO_ESTRATEGICO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_RECURSO" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_FINANCIAMIENTO" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUMERO_TESORERIA" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LINEA_FINANCIERA" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FONDO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONEDA" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FECHA_VALOR" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="FECHA_VENCIMIENTO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="DESTINO" type="db:string9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUMERO_CUENTA_CLIENTE" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRODUCTO_FINANCIERO" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REVOLVENCIA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONSIDERAR_FERIDADOS" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MOVER_ENTRE_MESES" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUMERO_CONTRATO_LINEA" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PLANTILLA_LIMITE" type="db:string9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERIAL_LIMITE" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LISTA_COMPONENTES" type="db:INTERFLEX.COMPONENTE_LIST_TYPE" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="LISTA_CARGOS" type="db:INTERFLEX.CARGOS_LIST_TYPE" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="LISTA_CALENDARIO_CAPITAL" type="db:INTERFLEX.CALENDARIO_LIST_TYPE" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="INTERFLEX.CALENDARIO_LIST_TYPE">
      <sequence>
         <element name="LISTA_CALENDARIO_ITEM" type="db:INTERFLEX.CALENDARIO_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="INTERFLEX.CARGOS_LIST_TYPE">
      <sequence>
         <element name="LISTA_CARGOS_ITEM" type="db:INTERFLEX.CARGOS_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="INTERFLEX.CARGOS_TYPE">
      <sequence>
         <element name="TIPO_CARGO" type="db:string128" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTOCARGO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="INTERFLEX.CALENDARIO_TYPE">
      <sequence>
         <element name="TIPO_PLAN" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_FRECUENCIA" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FRECUENCIA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MONTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FECHA_INICIO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="NUMERO_CUOTAS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string300">
      <restriction base="string">
         <maxLength value="300"/>
      </restriction>
   </simpleType>
   <simpleType name="string12">
      <restriction base="string">
         <maxLength value="12"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string9">
      <restriction base="string">
         <maxLength value="9"/>
      </restriction>
   </simpleType>
   <simpleType name="string2">
      <restriction base="string">
         <maxLength value="2"/>
      </restriction>
   </simpleType>
   <simpleType name="string128">
      <restriction base="string">
         <maxLength value="128"/>
      </restriction>
   </simpleType>
</schema>
