Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/AccountDep/AcctFixDepAdd/AcctFixDepAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctFixDepAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcctFixDepAdd="http://xmlns.banesco.com/eopt/AcctFixDepAdd_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoPayee="http://xmlns.banesco.com/eo/Payee_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Payee_V1.0" schemaLocation="../../../EO/Payee/Payee_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:element name="AcctFixDepAddRq" type="eoptAcctFixDepAdd:AcctFixDepAddRq_Type"/>
	<xs:element name="AcctFixDepAddRs" type="eoptAcctFixDepAdd:AcctFixDepAddRs_Type"/>
	<xs:complexType name="AcctFixDepAddRs_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Account que contiene los datos de la cuenta a adicionar</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctFixDepAddRq_Type">
		<xs:sequence>
			<xs:element name="Acct" type="eoAcct:Acct" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Account que contiene los datos de la cuenta a adicionar</xs:documentation>
				</xs:annotation>
			</xs:element>
                        <xs:element name="PayeeInfo" type="eoPayee:PayeeInfo" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Objeto PayeeInfo que contiene los datos del Beneficiario</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
