Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/BizLayer/CardCr/CardCrSvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/BizLayer/CardSvc_V1.0" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://xmlns.banesco.com/BizLayer/CardSvc_V1.0"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptCardCrStatusMod="http://xmlns.banesco.com/eopt/CardCrStatusMod_V1.0"
             xmlns:eoptCardCrTrnInq="http://xmlns.banesco.com/eopt/CardCrTrnInq_V1.0"
             xmlns:eoptCardCrInq="http://xmlns.banesco.com/eopt/CardCrInq_V1.0"
             xmlns:eoptCardCrInfoInq="http://xmlns.banesco.com/eopt/CardCrInfoInq_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardCr/CardCrTrnInq/CardCrTrnInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardCrTrnInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardCr/CardCrStatusMod/CardCrStatusMod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardCrStatusMod_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardCr/CardCrInq/CardCrInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardCrInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardCr/CardCrInfoInq/CardCrInfoInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardCrInfoInq_V1.0"/>
    </xsd:schema>
  </types>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="CardCrStatusModRq">
    <part name="CardCrStatusModRq" element="eoptCardCrStatusMod:CardCrStatusModRq"/>
  </message>
  <message name="CardCrStatusModRs">
    <part name="CardCrStatusModRs" element="eoptCardCrStatusMod:CardCrStatusModRs"/>
  </message>
  <message name="CardCrTrnInqRq">
    <part name="CardCrTrnInqRq" element="eoptCardCrTrnInq:CardCrTrnInqRq"/>
  </message>
  <message name="CardCrTrnInqRs">
    <part name="CardCrTrnInqRs" element="eoptCardCrTrnInq:CardCrTrnInqRs"/>
  </message>
  <message name="CardCrInqRq">
    <part name="CardCrInqRq" element="eoptCardCrInq:CardCrInqRq"/>
  </message>
  <message name="CardCrInqRs">
    <part name="CardCrInqRs" element="eoptCardCrInq:CardCrInqRs"/>
  </message>
  <message name="CardCrInfoInqRq">
    <part name="CardCrInfoInqRq" element="eoptCardCrInfoInq:CardCrInfoInqRq"/>
  </message>
  <message name="CardCrInfoInqRs">
    <part name="CardCrInfoInqRs" element="eoptCardCrInfoInq:CardCrInfoInqRs"/>
  </message>
  <portType name="CardCrSvc_V1.0PortType">
    <operation name="CardCrStatusMod">
      <input message="tns:CardCrStatusModRq"/>
      <output message="tns:CardCrStatusModRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="CardCrTrnInq">
      <input message="tns:CardCrTrnInqRq"/>
      <output message="tns:CardCrTrnInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="CardCrInq">
      <input message="tns:CardCrInqRq"/>
      <output message="tns:CardCrInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="CardCrInfoInq">
      <input message="tns:CardCrInfoInqRq"/>
      <output message="tns:CardCrInfoInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
  </portType>
  <service name="CardCrSvc_V1.0">
    <port name="CardCrSvcPort" binding="tns:CardCrSvc_V1.0SOAPBinding">
      <soap:address location="http://www.example.com"/>
    </port>
  </service>
  <binding name="CardCrSvc_V1.0SOAPBinding" type="tns:CardCrSvc_V1.0PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CardCrStatusMod">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/CardSvc_V1.0/CardCrStatusMod"/>
      <input>
        <soap:body use="literal" parts="CardCrStatusModRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardCrStatusModRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardCrTrnInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/CardSvc_V1.0/CardCrTrnInq"/>
      <input>
        <soap:body use="literal" parts="CardCrTrnInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardCrTrnInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardCrInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/CardSvc_V1.0/CardCrInq"/>
      <input>
        <soap:body use="literal" parts="CardCrInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardCrInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardCrInfoInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/CardSvc_V1.0/CardCrInfoInq"/>
      <input>
        <soap:body use="literal" parts="CardCrInfoInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardCrInfoInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
</definitions>