Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/WSBANENQ318AAA/BANENQ318ARRACTType.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
            xmlns:ns0="http://www.temenos.com/T24/ofs/BANENQ318ARRACTType" xmlns:xdb="http://xmlns.oracle.com/xdb"
            targetNamespace="http://www.temenos.com/T24/ofs/BANENQ318ARRACTType" xdb:storeVarrayAsTable="true">
  <!-- This T24 XML Schema automatically produced -->
  <!-- Copyright Temenos Holdings NV 2018-->
  <!-- T24 Application: BAN.ENQ.318.ARR.ACT -->
  <!-- T24 Release: R16 -->
  <!-- Production timestamp: 09:58:55 06 SEP 2018 -->
  <xsd:element name="BANENQ318ARRACT" type="ns0:BANENQ318ARRACTType">
    <xsd:annotation>
      <xsd:documentation>This is the top level element for the record data</xsd:documentation>
      <xsd:appinfo>
        <hfp:hasProperty name="locked" value="no"/>
        <hfp:hasProperty name="useschema" value="no"/>
        <hfp:hasProperty name="register" value="no"/>
        <hfp:hasProperty name="aaPropertyName" value=""/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="BANENQ318ARRACTType" xdb:maintainDOM="false">
    <xsd:annotation>
      <xsd:documentation>This complex type represents the T24 data for the BAN.ENQ.318.ARR.ACT table</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="gBANENQ318ARRACTDetailType">
        <xsd:complexType xdb:SQLType="gBANENQ318ARRACTSelfldid" xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mBANENQ318ARRACTDetailType"
                         xdb:SQLCollType="mBANENQ318ARRACTSelfldid_COLL">
              <xsd:complexType xdb:SQLType="mBANENQ318ARRACTSelfldid" xdb:maintainDOM="false">
                <xsd:sequence minOccurs="0">
                  <xsd:element id="selFldID" minOccurs="0" name="Id" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>selFldID</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="selFldID"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="ID.CLIENTE" minOccurs="0" name="IDClienteRFC" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>ID.CLIENTE</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="ID.CLIENTE"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="OPENING.DATE" minOccurs="0" name="FechaAperturaCuenta" nillable="true"
                               xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>OPENING.DATE</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="OPENING.DATE"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="DATE.FORMAT" minOccurs="0" name="FechaTrx" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>DATE.FORMAT</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="DATE.FORMAT"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="DATE.TIME" minOccurs="0" name="HoraTrx" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>DATE.TIME</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="DATE.TIME"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="CANAL" minOccurs="0" name="Canal" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>CANAL</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="CANAL"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="ALTERNATE.ID" minOccurs="0" name="NumerodecuentaOrigen" nillable="true"
                               xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>ALTERNATE.ID</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="ALTERNATE.ID"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="CATEGORY" minOccurs="0" name="CodigodeProducto" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>CATEGORY</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="CATEGORY"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="SUBPRODUCT" minOccurs="0" name="CodigodeSubproducto" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>SUBPRODUCT</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="SUBPRODUCT"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="FULL.NAME" minOccurs="0" name="NombreClienteTitularCtaOrigen" nillable="true"
                               xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>FULL.NAME</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="FULL.NAME"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="CHQ.NO.START" minOccurs="0" name="NoChequeInicial" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>CHQ.NO.START</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="CHQ.NO.START"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="CHQ.NO.FINAL" minOccurs="0" name="NoChequeFinal" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>CHQ.NO.FINAL</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="CHQ.NO.FINAL"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="QUEQUE.TYPE" minOccurs="0" name="TipodeChequera" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>QUEQUE.TYPE</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="QUEQUE.TYPE"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="LT.ST.ACCT" minOccurs="0" name="EstatusCtaoProducto" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>LT.ST.ACCT</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="LT.ST.ACCT"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="SIGNO.VALOR" minOccurs="0" name="SignoValor" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>SIGNO.VALOR</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="SIGNO.VALOR"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="WORKING.BALANCE" minOccurs="0" name="SaldoDisponible" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>WORKING.BALANCE</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="WORKING.BALANCE"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="EMPLEADO.CTA.ORIGEN" minOccurs="0" name="FlagEmpleadoCtaOrigen" nillable="true"
                               xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>EMPLEADO.CTA.ORIGEN</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="EMPLEADO.CTA.ORIGEN"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="CO.CODE" minOccurs="0" name="SucursalAperturaCuentaOrigen" nillable="true"
                               xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>CO.CODE</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="CO.CODE"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="USER.NAME" minOccurs="0" name="NombredeUsuario" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>USER.NAME</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="USER.NAME"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="LT.USER.TYPE" minOccurs="0" name="TipodeUsuario" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>LT.USER.TYPE</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="LT.USER.TYPE"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="OWNER" minOccurs="0" name="IDdeClienteRFC" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>OWNER</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="OWNER"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="TIPO.SUCURSAL" minOccurs="0" name="TipodeSucursal" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>TIPO.SUCURSAL</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="TIPO.SUCURSAL"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="TIPO.EMPLEADO" minOccurs="0" name="TipodeEmpleado" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>TIPO.EMPLEADO</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="TIPO.EMPLEADO"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="ENQUIRY.HISTORY.1" minOccurs="0" name="ValorAnterioralCambio" nillable="true"
                               xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>ENQUIRY.HISTORY.1</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="ENQUIRY.HISTORY.1"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="ENQUIRY.HISTORY.2" minOccurs="0" name="ValorPosterioralCambio" nillable="true"
                               xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>ENQUIRY.HISTORY.2</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="ENQUIRY.HISTORY.2"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="TIPO.NOVEDAD" minOccurs="0" name="TipodeNovedad" nillable="true" xdb:SQLName="">
                    <xsd:annotation>
                      <xsd:documentation>TIPO.NOVEDAD</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="TIPO.NOVEDAD"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="350"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>