Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/TechLayer/Party/PartyTechSvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoptPartyRiskInq="http://xmlns.banesco.com/eopt/PartyRiskInq_V1.0"
             xmlns:eoptPersonPartyInfoInq="http://xmlns.banesco.com/eopt/PersonPartyInfoInq_V1.0"
             xmlns:eoptOrgPartyInfoInq="http://xmlns.banesco.com/eopt/OrgPartyInfoInq_V1.0"
             xmlns:eoptCreditBureauInq="http://xmlns.banesco.com/eopt/CreditBureauInq_V1.0"
             xmlns:eoptEmpPartyInq="http://xmlns.banesco.com/eopt/EmpPartyInq_V1.0"
             xmlns:eoptEmpPartyStatusMod="http://xmlns.banesco.com/eopt/EmpPartyStatusMod_V1.0"
             xmlns:eoptPartyInq="http://xmlns.banesco.com/eopt/PartyInq_V1.0"
             xmlns:eoptPartyStaffInq="http://xmlns.banesco.com/eopt/PartyStaffInq_V1.0"
             xmlns:eoptPartyRefInq="http://xmlns.banesco.com/eopt/PartyRefInq_V1.0"
             xmlns:eoptPartyRefAdd="http://xmlns.banesco.com/eopt/PartyRefAdd_V1.0"
             xmlns:eoptPartyRefMod="http://xmlns.banesco.com/eopt/PartyRefMod_V1.0"
             xmlns:eoptPartyStaffAdd="http://xmlns.banesco.com/eopt/PartyStaffAdd_V1.0"
             xmlns:eoptPartyStaffMod="http://xmlns.banesco.com/eopt/PartyStaffMod_V1.0"
             xmlns:eoptPartyAdd="http://xmlns.banesco.com/eopt/PartyAdd_V1.0"
			 xmlns:eoptPartyMod="http://xmlns.banesco.com/eopt/PartyMod_V1.0"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EOpt/Party/PartyRiskInq/PartyRiskInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PartyRiskInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Party/PersonPartyInfoInq/PersonPartyInfoInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PersonPartyInfoInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Party/OrgPartyInfoInq/OrgPartyInfoInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/OrgPartyInfoInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Party/EmpPartyInq/EmpPartyInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/EmpPartyInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Party/EmpPartyStatusMod/EmpPartyStatusMod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/EmpPartyStatusMod_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Party/PartyInq/PartyInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PartyInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Party/PartyStaffInq/PartyStaffInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PartyStaffInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Party/PartyRefInq/PartyRefInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PartyRefInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Party/PartyRefAdd/PartyRefAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PartyRefAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Party/PartyRefMod/PartyRefMod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PartyRefMod_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Party/PartyStaffAdd/PartyStaffAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PartyStaffAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Party/PartyStaffMod/PartyStaffMod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PartyStaffMod_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Party/PartyAdd/PartyAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PartyAdd_V1.0"/>
	  <xsd:import schemaLocation="../../../xsd/EOpt/Party/PartyMod/PartyMod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PartyMod_V1.0"/>
    </xsd:schema>
  </types>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="PartyRiskInqRq">
    <part name="PartyRiskInqRq" element="eoptPartyRiskInq:PartyRiskInqRq"/>
  </message>
  <message name="PersonPartyInfoInqRq">
    <part name="PersonPartyInfoInqRq" element="eoptPersonPartyInfoInq:PersonPartyInfoInqRq"/>
  </message>
  <message name="PersonPartyInfoInqRs">
    <part name="PersonPartyInfoInqRs" element="eoptPersonPartyInfoInq:PersonPartyInfoInqRs"/>
  </message>
  <message name="OrgPartyInfoInqRq">
    <part name="OrgPartyInfoInqRq" element="eoptOrgPartyInfoInq:OrgPartyInfoInqRq"/>
  </message>
  <message name="OrgPartyInfoInqRs">
    <part name="OrgPartyInfoInqRs" element="eoptOrgPartyInfoInq:OrgPartyInfoInqRs"/>
  </message>
  <message name="PartyRiskInqRs">
    <part name="PartyRiskInqRs" element="eoptPartyRiskInq:PartyRiskInqRs"/>
  </message>
  <message name="EmpPartyInqRq">
    <part name="EmpPartyInqRq" element="eoptEmpPartyInq:EmpPartyInqRq"/>
  </message>
  <message name="EmpPartyInqRs">
    <part name="EmpPartyInqRs" element="eoptEmpPartyInq:EmpPartyInqRs"/>
  </message>
  <message name="EmpPartyStatusModRq">
    <part name="EmpPartyStatusModRq" element="eoptEmpPartyStatusMod:EmpPartyStatusModRq"/>
  </message>
  <message name="EmpPartyStatusModRs">
    <part name="EmpPartyStatusModRs" element="eoptEmpPartyStatusMod:EmpPartyStatusModRs"/>
  </message>
  <message name="PartyInqRq">
    <part name="PartyInqRq" element="eoptPartyInq:PartyInqRq"/>
  </message>
  <message name="PartyInqRs">
    <part name="PartyInqRs" element="eoptPartyInq:PartyInqRs"/>
  </message>
  <message name="PartyStaffInqRq">
    <part name="PartyStaffInqRq" element="eoptPartyStaffInq:PartyStaffInqRq"/>
  </message>
  <message name="PartyStaffInqRs">
    <part name="PartyStaffInqRs" element="eoptPartyStaffInq:PartyStaffInqRs"/>
  </message>
  <message name="PartyRefInqRq">
    <part name="PartyRefInqRq" element="eoptPartyRefInq:PartyRefInqRq"/>
  </message>
  <message name="PartyRefInqRs">
    <part name="PartyRefInqRs" element="eoptPartyRefInq:PartyRefInqRs"/>
  </message>
  <message name="PartyRefAddRq">
    <part name="PartyRefAddRq" element="eoptPartyRefAdd:PartyRefAddRq"/>
  </message>
  <message name="PartyRefAddRs">
    <part name="PartyRefAddRs" element="eoptPartyRefAdd:PartyRefAddRs"/>
  </message>
  <message name="PartyRefModRq">
    <part name="PartyRefModRq" element="eoptPartyRefMod:PartyRefModRq"/>
  </message>
  <message name="PartyRefModRs">
    <part name="PartyRefModRs" element="eoptPartyRefMod:PartyRefModRs"/>
  </message>
  <message name="PartyStaffAddRq">
    <part name="PartyStaffAddRq" element="eoptPartyStaffAdd:PartyStaffAddRq"/>
  </message>
  <message name="PartyStaffAddRs">
    <part name="PartyStaffAddRs" element="eoptPartyStaffAdd:PartyStaffAddRs"/>
  </message>
  <message name="PartyStaffModRq">
    <part name="PartyStaffModRq" element="eoptPartyStaffMod:PartyStaffModRq"/>
  </message>
  <message name="PartyStaffModRs">
    <part name="PartyStaffModRs" element="eoptPartyStaffMod:PartyStaffModRs"/>
  </message>
  <message name="PartyAddRq">
    <part name="PartyAddRq" element="eoptPartyAdd:PartyAddRq"/>
  </message>
  <message name="PartyAddRs">
    <part name="PartyAddRs" element="eoptPartyAdd:PartyAddRs"/>
  </message>
  <message name="PartyModRq">
    <part name="PartyModRq" element="eoptPartyMod:PartyModRq"/>
  </message>
  <message name="PartyModRs">
    <part name="PartyModRs" element="eoptPartyMod:PartyModRs"/>
  </message>
  <portType name="PartyTechSvcPort">
    <operation name="PartyRiskInq">
      <input message="tns:PartyRiskInqRq"/>
      <output message="tns:PartyRiskInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="PersonPartyInfoInq">
      <input message="tns:PersonPartyInfoInqRq"/>
      <output message="tns:PersonPartyInfoInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="OrgPartyInfoInq">
      <input message="tns:OrgPartyInfoInqRq"/>
      <output message="tns:OrgPartyInfoInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="EmpPartyInq">
      <input message="tns:EmpPartyInqRq"/>
      <output message="tns:EmpPartyInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="EmpPartyStatusMod">
      <input message="tns:EmpPartyStatusModRq"/>
      <output message="tns:EmpPartyStatusModRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="PartyInq">
      <input message="tns:PartyInqRq"/>
      <output message="tns:PartyInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="PartyStaffInq">
      <input message="tns:PartyStaffInqRq"/>
      <output message="tns:PartyStaffInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="PartyStaffAdd">
      <input message="tns:PartyStaffAddRq"/>
      <output message="tns:PartyStaffAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="PartyStaffMod">
      <input message="tns:PartyStaffModRq"/>
      <output message="tns:PartyStaffModRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="PartyRefInq">
      <input message="tns:PartyRefInqRq"/>
      <output message="tns:PartyRefInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="PartyRefAdd">
      <input message="tns:PartyRefAddRq"/>
      <output message="tns:PartyRefAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="PartyRefMod">
      <input message="tns:PartyRefModRq"/>
      <output message="tns:PartyRefModRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="PartyAdd">
      <input message="tns:PartyAddRq"/>
      <output message="tns:PartyAddRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="PartyMod">
      <input message="tns:PartyModRq"/>
      <output message="tns:PartyModRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
  </portType>
  <binding name="PartyTechSvBinding_SOAP11" type="tns:PartyTechSvcPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="PartyRiskInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0/PartyRiskInq"/>
      <input>
        <soap:body use="literal" parts="PartyRiskInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PartyRiskInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PersonPartyInfoInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0/PersonPartyInfoInq"/>
      <input>
        <soap:body use="literal" parts="PersonPartyInfoInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PersonPartyInfoInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="OrgPartyInfoInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0/OrgPartyInfoInq"/>
      <input>
        <soap:body use="literal" parts="OrgPartyInfoInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="OrgPartyInfoInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="EmpPartyInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0/EmpPartyInq"/>
      <input>
        <soap:body use="literal" parts="EmpPartyInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="EmpPartyInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="EmpPartyStatusMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0/EmpPartyStatusMod"/>
      <input>
        <soap:body use="literal" parts="EmpPartyStatusModRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="EmpPartyStatusModRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PartyInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0/PartyInq"/>
      <input>
        <soap:body use="literal" parts="PartyInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PartyInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PartyStaffInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0/PartyStaffInq"/>
      <input>
        <soap:body use="literal" parts="PartyStaffInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PartyStaffInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PartyStaffAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0/PartyStaffAdd"/>
      <input>
        <soap:body use="literal" parts="PartyStaffAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PartyStaffAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PartyStaffMod">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0/PartyStaffMod"/>
      <input>
        <soap:body use="literal" parts="PartyStaffModRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PartyStaffModRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PartyRefInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0/PartyRefInq"/>
      <input>
        <soap:body use="literal" parts="PartyRefInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PartyRefInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PartyRefAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0/PartyRefAdd"/>
      <input>
        <soap:body use="literal" parts="PartyRefAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PartyRefAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PartyRefMod">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0/PartyRefMod"/>
      <input>
        <soap:body use="literal" parts="PartyRefModRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PartyRefModRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PartyAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0/PartyAdd"/>
      <input>
        <soap:body use="literal" parts="PartyAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PartyAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PartyMod">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/PartyTechSvc_V1.0/PartyMod"/>
      <input>
        <soap:body use="literal" parts="PartyModRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PartyModRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PartyTechSvc_V1.0">
    <port name="PartySvcPort" binding="tns:PartyTechSvBinding_SOAP11">
      <soap:address location="http://www.example.com"/>
    </port>
  </service>
</definitions>