BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Aprobacion/V1/Wsdl/Aprobacion.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="Operacion" targetNamespace="http://xmlns.bcie.com/AprobacionService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:comMO="http://www.bcie.org/AprobacionMO"
                  xmlns:tns="http://xmlns.bcie.com/AprobacionService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/AprobacionMO"
                  schemaLocation="../../../Aprobacion/V1/Schema/AprobacionMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <!-- Create -->
  <wsdl:message name="requestCrearAprobacionMessage">
    <wsdl:part name="request" element="comMO:CrearAprobacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseCrearAprobacionMessage">
    <wsdl:part name="response" element="comMO:CrearAprobacionResponse"/>
  </wsdl:message>
  <wsdl:portType name="AprobacionPT">
    <!-- Create -->
    <wsdl:operation name="crearAprobacion">
      <wsdl:input message="tns:requestCrearAprobacionMessage"/>
      <wsdl:output message="tns:responseCrearAprobacionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarAprobacionesPagadas">
      <wsdl:input message="tns:requestConsultarAprobacionesPagadasMessage"/>
      <wsdl:output message="tns:responseConsultarAprobacionesPagadasMessage"/>
    </wsdl:operation>
    <!-- Update -->
    <wsdl:operation name="actualizarAprobacion">
      <wsdl:input message="tns:ActualizarAprobacionRequestMessage"/>
      <wsdl:output message="tns:ActualizarAprobacionResponseMessage"/>
    </wsdl:operation>
    <!-- Read -->
    <wsdl:operation name="consultarAprobacion">
      <wsdl:input message="tns:ConsultarAprobacionRequestMessage"/>
      <wsdl:output message="tns:ConsultarAprobacionResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Aprobacion12Bnd" type="tns:AprobacionPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearAprobacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/AprobacionService/crearAprobacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarAprobacionesPagadas">
      <soap12:operation soapAction="http://xmlns.bcie.com/AprobacionService/consultarAprobacionesPagadas" style="document"/>
      <wsdl:input>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarAprobacion">
      <soap12:operation soapAction="http://xmlns.bcie.com/AprobacionService/actualizarAprobacion" style="document"/>
      <wsdl:input>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarAprobacion">
      <soap12:operation soapAction="http://xmlns.bcie.com/AprobacionService/consultarAprobacion" style="document"/>
      <wsdl:input>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Aprobacion">
    <wsdl:port name="Aprobacion12Bnd" binding="tns:Aprobacion12Bnd">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="requestConsultarAprobacionesPagadasMessage">
    <wsdl:part name="request" element="comMO:ConsultarAprobacionesPagadasRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarAprobacionesPagadasMessage">
    <wsdl:part name="response" element="comMO:ConsultarAprobacionesPagadasResponse"/>
  </wsdl:message>
  <wsdl:message name="ActualizarAprobacionRequestMessage">
    <wsdl:part name="request" element="comMO:ActualizarAprobacionRequest"/>
  </wsdl:message>
  <wsdl:message name="ActualizarAprobacionResponseMessage">
    <wsdl:part name="response" element="comMO:ActualizarAprobacionResponse"/>
  </wsdl:message>
  <wsdl:message name="ConsultarAprobacionRequestMessage">
    <wsdl:part name="request" element="comMO:ConsultarAprobacionRequest"/>
  </wsdl:message>
  <wsdl:message name="ConsultarAprobacionResponseMessage">
    <wsdl:part name="response" element="comMO:ConsultarAprobacionResponse"/>
  </wsdl:message>
</wsdl:definitions>






