AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/EBO/InventoryTransaction/InventoryTransactionEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/InventoryTransaction" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/InventoryTransaction" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom">
  <xsd:import schemaLocation="../../Common/CommonComponents.xsd" namespace="http://www.agarcia.mx/EnterpriseObjects/Common"/>
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Custom" schemaLocation="../../Custom/EBO/CustomInventoryTransactionEBO.xsd"/>
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Custom" schemaLocation="../../Custom/EBO/CustomInventoryTransactionLineEBO.xsd"/>
  <xsd:element name="InventoryTransactionEBO" type="InventoryTransactionEBOType"/>
  <xsd:complexType name="InventoryTransactionEBOType">
    <xsd:sequence>
      <xsd:element name="Identification" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="ShipFromPartyReference" type="com:LocationType" minOccurs="0"/>
      <xsd:element name="ShipToPartyReference" type="com:LocationType" minOccurs="0"/>
      <xsd:element name="TransactionDateTime" type="com:DateTimeType" minOccurs="0"/>
      <xsd:element name="FreightCode" type="com:CodeType" minOccurs="0"/>
      <xsd:element name="TransactionType" type="com:CodeType" minOccurs="0"/>
      <xsd:element name="Supplier" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="Style" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="Status" type="com:StatusType" minOccurs="0"/>
      <xsd:element name="Store" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="InventoryTransactionLine" type="InventoryTransactionLineType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Custom" type="cust:CustomInventoryTransactionEBOType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InventoryTransactionLineType">
    <xsd:sequence>
      <xsd:element name="Identification" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="Item" type="com:IdentifierNameType"/>
      <xsd:element name="Description" type="com:TextType" minOccurs="0"/>
      <xsd:element name="ReasonCode" type="com:CodeType" minOccurs="0"/>
      <xsd:element name="TransactionType" type="com:CodeType" minOccurs="0"/>
      <xsd:element name="TransferQuantity" type="com:QuantityType" minOccurs="0"/>
      <xsd:element name="UserId" type="com:PersonType" minOccurs="0"/>
      <xsd:element name="RequestedDate" type="com:DateType" minOccurs="0"/>
      <xsd:element name="PackSize" type="com:QuantityType" minOccurs="0"/>
      <xsd:element name="Department" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="Supplier" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="Style" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="Store" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="ValueSet" type="com:ValueSetType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>