Microservicio/JAVA/Garcia/AGOracleRIBBrokerApp/AGRIBBroker/classes/mx/agarcia/ea/rib/broker/untitled1.xml

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://mx.agarcia.ea/Applications/JDA/PriceChange"
            targetNamespace="http://mx.agarcia.ea/Applications/JDA/PriceChange"
            xmlns:rp="http://mx.agarcia.ea/Canonical/Commons/ChangePrice/v1"
            xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" 
            xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" 

            elementFormDefault="qualified">
    
  <xsd:import schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/ChangePriceCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/ChangePrice/v1"/>


  <xsd:import schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
  <xsd:import schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>

  <xsd:element name="processEventRequest" type="processType"/>
  <xsd:element name="processEventResponse" type="AGsm:MessageResponse"/>

  <xsd:element name="findEventRequest" type="findEventByIdType"/>
  <xsd:element name="findEventResponse" type="eventResponseType"/>

  <xsd:element name="cancelEventRequest" type="processType"/>
  <xsd:element name="cancelEventResponse" type="AGsm:MessageResponse"/>

  <xsd:element name="modifyEventRequest" type="processType"/>
  <xsd:element name="modifyEventResponse" type="AGsm:MessageResponse"/>


  <xsd:complexType name="processType">
    <xsd:sequence>
      <xsd:element name="event" type="rp:Event"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="eventResponseType">
    <xsd:sequence>
      <xsd:element name="event" type="rp:Event"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="findEventByIdType">
    <xsd:sequence>
      <xsd:element name="eventID" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>