AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/PurchaseOrder/CreateOrderEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/CreateOrder" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/CreateOrder" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Common" schemaLocation="../../Common/CommonComponents.xsd"/>
  <xsd:element name="CreateOrder" type="CreateOrderType"/>
  <xsd:complexType name="CreateOrderType">
    <xsd:sequence>
      <xsd:element name="FileHead" minOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RecordDesc" type="com:StringType"/>
            <xsd:element name="LineID" type="com:NumericType"/>
            <xsd:element name="GentranID" type="com:StringType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="HeadOrder" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RecordDesc" type="com:StringType"/>
            <xsd:element name="LineID" type="com:NumericType"/>
            <xsd:element name="TransactionNum" type="com:NumericType"/>
            <xsd:element name="AcknowledgeType" type="com:StringType"/>
            <xsd:element name="OrderNum" type="com:IdentificationType"/>
            <xsd:element name="WrittenDate" type="com:DateTimeType"/>
            <xsd:element name="SupplierNum" type="com:IdentificationType"/>
            <xsd:element name="NotBeforeDate" type="com:DateTimeType"/>
            <xsd:element name="NotAfterDate" type="com:DateTimeType"/>
            <xsd:element name="PurchaseType" type="com:StringType"/>
            <xsd:element name="PickupDate" type="com:DateTimeType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ItemOrder" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RecordDesc" type="com:StringType"/>
            <xsd:element name="LineID" type="com:NumericType"/>
            <xsd:element name="TransactionNum" type="com:NumericType"/>
            <xsd:element name="Item" type="com:IdentificationType"/>
            <xsd:element name="RefItem" type="com:StringType"/>
            <xsd:element name="VendorCatalogNum" type="com:StringType"/>
            <xsd:element name="UnitCost" type="com:NumericType"/>
            <xsd:element name="LocationType" type="com:StringType"/>
            <xsd:element name="ShipToLocation" type="com:NumericType"/>
            <xsd:element name="PickUpLocation" type="com:StringType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ShipOrder" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RecordDesc" type="com:StringType"/>
            <xsd:element name="LineID" type="com:NumericType"/>
            <xsd:element name="TransactionNum" type="com:NumericType"/>
            <xsd:element name="LocationType" type="com:StringType"/>
            <xsd:element name="shipLocation" type="com:NumericType"/>
            <xsd:element name="Quantity" type="com:StringType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="TailOrder" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RecordDesc" type="com:StringType"/>
            <xsd:element name="LineID" type="com:NumericType"/>
            <xsd:element name="TransactionNum" type="com:NumericType"/>
            <xsd:element name="TransactionLines" type="com:NumericType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FileTail" minOccurs="1">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="RecordDesc" type="com:StringType"/>
            <xsd:element name="LineID" type="com:NumericType"/>
            <xsd:element name="NumberLines" type="com:NumericType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>