AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/PurchaseOrder/DownloadOrderEBM.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/DownloadOrder" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/DownloadOrder" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <xsd:include schemaLocation="DownloadOrderEBO.xsd"/>
  <xsd:element name="ProcessDownloadOrderEBM" type="ProcessDownloadOrderEBMType"/>
  <xsd:complexType name="ProcessDownloadOrderEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType" maxOccurs="unbounded"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProcessDownloadOrder" type="DownloadOrderEBOType" maxOccurs="unbounded"/>
            <xsd:element name="DownloadOrderRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ProcessDownloadOrderResponseEBM" type="ProcessDownloadOrderResponseEBMType"/>
  <xsd:complexType name="ProcessDownloadOrderResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="ProcessDownloadOrderReference" type="com:IdentificationType"/>
      <xsd:element name="DownloadOrderRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CreateDownloadOrderEBM" type="CreateDownloadOrderEBMType"/>
  <xsd:complexType name="CreateDownloadOrderEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType" maxOccurs="unbounded"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateDownloadOrder" type="DownloadOrderEBOType" maxOccurs="unbounded"/>
            <xsd:element name="DownloadOrderRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CreateDownloadOrderResponseEBM" type="CreateDownloadOrderResponseEBMType"/>
  <xsd:complexType name="CreateDownloadOrderResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="CreateDownloadOrderReference" type="com:IdentificationType"/>
      <xsd:element name="DownloadOrderRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
<xsd:element name="CreateOrderConfirmEBM" type="CreateOrderConfirmEBMType"/>
  <xsd:complexType name="CreateOrderConfirmEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType" maxOccurs="unbounded"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateOrderConfirm" type="DownloadOrderEBOType" maxOccurs="unbounded"/>
            <xsd:element name="ConfirmOrderRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CreateOrderConfirmResponseEBM" type="CreateOrderConfirmResponseEBMType"/>
  <xsd:complexType name="CreateOrderConfirmResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="CreateOrderConfirmReference" type="com:IdentificationType"/>
      <xsd:element name="ConfirmOrderRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>