Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Payment/PmtUtilAdd/PmtUtilAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/PmtUtilAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:eoptPmtUtilAdd="http://xmlns.banesco.com/eopt/PmtUtilAdd_V1.0"
           xmlns:eoBill="http://xmlns.banesco.com/eo/Bill_V1.0" xmlns:eoPmt="http://xmlns.banesco.com/eo/Pmt_V1.0"
           xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
           xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" elementFormDefault="qualified">
  <xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../../../EO/Common/Common_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/eo/Pmt_V1.0" schemaLocation="../../../EO/Pmt/Pmt_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/eo/Bill_V1.0" schemaLocation="../../../EO/Pmt/Bill_V1.0.xsd"/>
  <xs:complexType name="Bill">
    <xs:sequence>
      <xs:element name="Biller" type="eoBill:Biller" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto Biller que contiene los datos de la
						factura.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PmtUtilAddRs_Type">
    <xs:sequence>
      <xs:element name="Pmt" type="eoPmt:Pmt" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto Payment que contiene los datos del pago a
						realizar.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto que contiene información sobre el resultado de la
						consulta (éxito o error).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PmtUtilAddRs" type="eoptPmtUtilAdd:PmtUtilAddRs_Type"/>
  <xs:complexType name="PmtUtilAddRq_Type">
    <xs:sequence>
      <xs:element name="Pmt" type="eoPmt:Pmt" minOccurs="0" maxOccurs="1"/>
      <xs:element name="SessionId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Id Sesión</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Fields" type="eoptPmtUtilAdd:Fields" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Bill" type="eoptPmtUtilAdd:Bill" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PmtUtilAddRq" type="eoptPmtUtilAdd:PmtUtilAddRq_Type"/>
  <xs:complexType name="Fields">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Field" type="eoCom:Field" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
