BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDesembolso/ConsultarReglasDesembolso/XSD/ConsultarReglasDesembolso_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarReglasDesembolso_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarReglasDesembolso_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarReglasDesembolso_DBInput" type="ConsultarReglasDesembolso_DBInput"/>
   <xs:complexType name="ConsultarReglasDesembolso_DBInput">
      <xs:sequence>
         <xs:element name="ID_DESEMBOLSO" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarReglasDesembolso_DBOutputCollection" type="ConsultarReglasDesembolso_DBOutputCollection"/>
   <xs:complexType name="ConsultarReglasDesembolso_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarReglasDesembolso_DBOutput" type="ConsultarReglasDesembolso_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarReglasDesembolso_DBOutput">
      <xs:sequence>
         <xs:element name="ID_TRE_REGLA_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="EXCEPTUADO" type="xs:decimal" nillable="true"/>
         <xs:element name="USUARIOEXCEPTUA" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_EXCEPCION" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_REGLA" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_REGLA" type="xs:string" nillable="true"/>
         <xs:element name="SE_PUEDE_EXCEPTUAR" type="xs:decimal" nillable="true"/>
         <xs:element name="TIPO" type="xs:string" nillable="true"/>
         <xs:element name="TRANSACCION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>