Banesco_2023/SOA/BanescoT24SOA/BPEL_CardCr/SOA/Schemas/CardCrFinancingInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/BPEL_CardCr/CardCrFinancingInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptCardCrFinancingInq="http://xmlns.banesco.com/BPEL_CardCr/CardCrFinancingInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	
        <xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="AOptCommon_V1.0.xsd"/>
	<xs:element name="CardCrFinancingInqRs" type="appoptCardCrFinancingInq:CardCrFinancingInqRs_Type"/>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="appoptCardCrFinancingInq:Identification">
				<xs:sequence>
					<xs:element name="PartyId" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Código del cliente asignado T24</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CardCrFinancingInqRq" type="appoptCardCrFinancingInq:CardCrFinancingInqRq_Type"/>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>Party is a person or organization. A Party typically has some association with an account and fulfills roles such as:

a primary or partial ownership/responsibility for an account
a beneficiary of an account
has signatory authorization on an account
has legal authorization, such as power of attorney, for an account
A Party can have relationships to accounts, cards and other parties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyKey" type="appoptCardCrFinancingInq:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardCrFinancingInqRq_Type">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="CardKey" type="appoptCardCrFinancingInq:CardKey" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FIData" type="appoptCardCrFinancingInq:FIData" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyKey" type="appoptCardCrFinancingInq:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardCrFinancingInqRs_Type">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Card" type="appoptCardCrFinancingInq:Card" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIData" type="appoptCardCrFinancingInq:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Party" type="appoptCardCrFinancingInq:Party" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PersonName" type="appoptCardCrFinancingInq:PersonName" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonName">
		<xs:annotation>
			<xs:documentation>Person Name.

The PersonName aggregate is used to specify a person's full name and, optionally, preferred name (nickname).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del cliente (natural)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Agency">
		<xs:annotation>
			<xs:documentation>Agency Especification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgencyIdent" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agencia o sucursal donde se realiza la operación</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FIData">
		<xs:annotation>
			<xs:documentation>The Financial Institution Data Aggregate contains additional information used to identify a bank, typically when used for payment transfers, payee requests, and wire transfers. It is required in CHE, DEU, and ITA to completely identify an account. Sufficient information must be provided within this aggregate to uniquely identify the bank at which the account is held. Failure to do so will result in an error being returned from the server.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FIIdent" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de la Institución financiera que hace la solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Agency" type="appoptCardCrFinancingInq:Agency" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identification">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="IssuedIdentType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de identificación del cliente (cédula/pasaporte)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de identificación</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancingInfo">
		<xs:annotation>
			<xs:documentation>Información asociada a extra/intra financiamiento.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChargedFees" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Períodos ya cobrados según el plazo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código asignado por el sistema al extra/intrafinanciamiento (número de contrato). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurBalance" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Saldo Actual (en Dólares) que muestra el saldo adeudado del plan (Sin Intereses)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancingAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cantidad Inicial (en Dólares) de la compra realizada por el cliente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancingPlan" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Plan de extra/intrafinanciamiento. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancingTerm" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Plazo por el que se va a realizar el extra/intrafinanciamiento. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancingType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Tipo(s) de Plan(es) relacionado(s) a la tarjeta (Intra/Extra)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrantDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de la compra donde se da inicio al plan de intra o extra.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterestRate" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tasa de Interés que rige el plan.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MonthlyFee" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto cuota actual.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Card">
		<xs:sequence>
			<xs:element name="CardKey" type="appoptCardCrFinancingInq:CardKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FinancingInfo" type="appoptCardCrFinancingInq:FinancingInfo" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardKey">
		<xs:annotation>
			<xs:documentation>The Card Object supports the services related to Issuing, Management, and Servicing of Credit, Debit, Prepaid and Private Label cards.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardNum" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de tarjeta que se desea consultar</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
