Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Party/PartyStaffMod/PartyStaffMod_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/PartyStaffMod_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptPartyStaffMod="http://xmlns.banesco.com/eopt/PartyStaffMod_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:element name="PartyStaffModRq" type="eoptPartyStaffMod:PartyStaffModRq_Type"/>
	<xs:element name="PartyStaffModRs" type="eoptPartyStaffMod:PartyStaffModRs_Type"/>
	<xs:complexType name="PartyStaffModRq_Type">
		<xs:sequence>
			<xs:element name="Party" type="eoptPartyStaffMod:Party" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyStaffModRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:sequence>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OrgPartyInfo" type="eoptPartyStaffMod:OrgPartyInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgPartyInfo">
		<xs:sequence>
			<xs:element name="OrgData" type="eoPar:OrgData" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
