BCIE_fenix/features/MCP/6389/SOA/03-SOA-SERVICES/Utilidades/EnviarCorreoElectronico/SOA/WSDLs/bpelEnviarCorreo.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="bpelEnviarCorreo"
             targetNamespace="http://xmlns.oracle.com/Utilidades/EnviarCorreoElectronico/bpelEnviarCorreo"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:client="http://xmlns.oracle.com/Utilidades/EnviarCorreoElectronico/bpelEnviarCorreo"
             xmlns:ns1="http://www.bcie.org/CorreoMO"
             xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype">

	<wsdl:import namespace="http://www.bcie.org/CorreoMO" location="oramds:/apps/Resources/ComponentesComunes/Utilidades/EnviarCorreoElectronico/V1/Schema/CorreoElectronicoMO.xsd" />
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	TYPE DEFINITION - List of services participating in this BPEL process
	The default output of the BPEL designer uses strings as input and 
	output to the BPEL Process. But you can define or import any XML 
	Schema type and use them as part of the message types.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->   
	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	MESSAGE TYPE DEFINITION - Definition of the message types used as 
	part of the port type defintions
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->      
	<wsdl:message name="bpelEnviarCorreoRequestMessage">
		<wsdl:part name="payload" element="ns1:EnviarCorreoElectronicoBPELRequest" />
	</wsdl:message>

	<wsdl:message name="bpelEnviarCorreoResponseMessage">
		<wsdl:part name="payload" element="ns1:EnviarCorreoElectronicoBPELResponse" />
	</wsdl:message>


	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PORT TYPE DEFINITION - A port type groups a set of operations into
	a logical service unit.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<!-- portType implemented by the bpelEnviarCorreo BPEL process -->
	<wsdl:portType name="bpelEnviarCorreo">
		<wsdl:operation name="process">
			<wsdl:input message="client:bpelEnviarCorreoRequestMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- portType implemented by the requester of bpelEnviarCorreo BPEL process
	for asynchronous callback purposes
	-->
	<wsdl:portType name="bpelEnviarCorreoCallback">
		<wsdl:operation name="processResponse">
			<wsdl:input message="client:bpelEnviarCorreoResponseMessage"/>
		</wsdl:operation>
	</wsdl:portType>

	<!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
	PARTNER LINK TYPE DEFINITION
	the bpelEnviarCorreo partnerLinkType binds the provider and
	requester portType into an asynchronous conversation.
	~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
	<plnk:partnerLinkType name="bpelEnviarCorreo">
		<plnk:role name="bpelEnviarCorreoProvider" portType="client:bpelEnviarCorreo"/>
		<plnk:role name="bpelEnviarCorreoRequester" portType="client:bpelEnviarCorreoCallback"/>
	</plnk:partnerLinkType>
</wsdl:definitions>
