AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ItemApp/PollItemRMSDBService/Resources/WSDL/ItemEBS.wsdl

<wsdl:definitions name="ItemEBS" targetNamespace="http://www.agarcia.mx/EnterpriseService/Item" xmlns:tns="http://www.agarcia.mx/EnterpriseService/Item" xmlns:ebm="http://www.agarcia.mx/EnterpriseObjects/Item" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Item" schemaLocation="../../../../MetaData/Components/EnterpriseObjectLibrary/EBO/Item/ItemEBM.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateItemReqMsg">
    <wsdl:part name="CreateItemReqMsg" element="ebm:CreateItemEBM"/>
  </wsdl:message>
  <wsdl:message name="ProcessItemReqMsg">
    <wsdl:part name="ProcessItemReqMsg" element="ebm:ProcessItemEBM"/>
  </wsdl:message>
  <wsdl:message name="DeleteItemReqMsg">
    <wsdl:part name="DeleteItemReqMsg" element="ebm:DeleteItemEBM"/>
  </wsdl:message>
  <wsdl:message name="UpdateItemReqMsg">
    <wsdl:part name="UpdateItemReqMsg" element="ebm:UpdateItemEBM"/>
  </wsdl:message>
  <wsdl:message name="SyncItemReqMsg">
    <wsdl:part name="SyncItemReqMsg" element="ebm:SyncItemEBM"/>
  </wsdl:message>
  <wsdl:message name="CreateItemRespMsg">
    <wsdl:part name="CreateItemRespMsg" element="ebm:CreateItemResponseEBM"/>
  </wsdl:message>
  <wsdl:message name="ProcessItemRespMsg">
    <wsdl:part name="ProcessItemRespMsg" element="ebm:ProcessItemResponseEBM"/>
  </wsdl:message>
  <wsdl:message name="DeleteItemRespMsg">
    <wsdl:part name="DeleteItemRespMsg" element="ebm:DeleteItemResponseEBM"/>
  </wsdl:message>
  <wsdl:message name="UpdateItemRespMsg">
    <wsdl:part name="UpdateItemRespMsg" element="ebm:UpdateItemResponseEBM"/>
  </wsdl:message>
  <wsdl:message name="SyncItemResMsg">
    <wsdl:part name="SyncItemResMsg" element="ebm:SyncItemResponseEBM"/>
  </wsdl:message>
  <wsdl:portType name="ItemEBS_ptt">
    <wsdl:operation name="ProcessItem">
      <wsdl:input message="tns:ProcessItemReqMsg"/>
    </wsdl:operation>
    <wsdl:operation name="CreateItem">
      <wsdl:input message="tns:CreateItemReqMsg"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <wsdl:input message="tns:DeleteItemReqMsg"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateItemReqMsg">
      <wsdl:input message="tns:UpdateItemReqMsg"/>
    </wsdl:operation>
    <wsdl:operation name="SyncItem">
      <wsdl:input message="tns:SyncItemReqMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ItemEBSResponse_ptt">
    <wsdl:operation name="ProcessItemResponse">
      <wsdl:input message="tns:ProcessItemRespMsg"/>
    </wsdl:operation>
    <wsdl:operation name="CreateItemResponse">
      <wsdl:input message="tns:CreateItemRespMsg"/>
    </wsdl:operation>
    <wsdl:operation name="DeleteItemResponse">
      <wsdl:input message="tns:DeleteItemRespMsg"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateItemResponse">
      <wsdl:input message="tns:UpdateItemRespMsg"/>
    </wsdl:operation>
    <wsdl:operation name="SyncItemResponse">
      <wsdl:input message="tns:SyncItemResMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ItemEBS_bind" type="tns:ItemEBS_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProcessItem">
      <soap:operation style="document" soapAction="http://www.agarcia.mx/EnterpriseService/Item/ProcessItem"/>
      <wsdl:input>
        <soap:body use="literal" parts="ProcessItemReqMsg"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateItem">
      <soap:operation style="document" soapAction="http://www.agarcia.mx/EnterpriseService/Item/CreateItem"/>
      <wsdl:input>
        <soap:body use="literal" parts="CreateItemReqMsg"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeleteItem">
      <soap:operation style="document" soapAction="http://www.agarcia.mx/EnterpriseService/Item/DeleteItem"/>
      <wsdl:input>
        <soap:body use="literal" parts="DeleteItemReqMsg"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateItemReqMsg">
      <soap:operation style="document" soapAction="http://www.agarcia.mx/EnterpriseService/Item/UpdateItemReqMsg"/>
      <wsdl:input>
        <soap:body use="literal" parts="UpdateItemReqMsg"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SyncItem">
      <soap:operation style="document" soapAction="http://www.agarcia.mx/EnterpriseService/Item/SyncItem"/>
      <wsdl:input>
        <soap:body use="literal" parts="SyncItemReqMsg"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ItemEBSResponse_bind" type="tns:ItemEBSResponse_ptt">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProcessItemResponse">
      <soap:operation style="document" soapAction="http://www.agarcia.mx/EnterpriseService/Item/ProcessItemResponse"/>
      <wsdl:input>
        <soap:body use="literal" parts="ProcessItemRespMsg"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="CreateItemResponse">
      <soap:operation style="document" soapAction="http://www.agarcia.mx/EnterpriseService/Item/CreateItemResponse"/>
      <wsdl:input>
        <soap:body use="literal" parts="CreateItemRespMsg"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="DeleteItemResponse">
      <soap:operation style="document" soapAction="http://www.agarcia.mx/EnterpriseService/Item/DeleteItemResponse"/>
      <wsdl:input>
        <soap:body use="literal" parts="DeleteItemRespMsg"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="UpdateItemResponse">
      <soap:operation style="document" soapAction="http://www.agarcia.mx/EnterpriseService/Item/UpdateItemResponse"/>
      <wsdl:input>
        <soap:body use="literal" parts="UpdateItemRespMsg"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="SyncItemResponse">
      <soap:operation style="document" soapAction="http://www.agarcia.mx/EnterpriseService/Item/SyncItemResponse"/>
      <wsdl:input>
        <soap:body use="literal" parts="SyncItemResMsg"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>