BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyDesembolso/src/META-INF/ProxyDesembolso/wsdls/V1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions targetNamespace="http://www.bcie.org/Desembolso" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.bcie.org/DesembolsoMO" xmlns:WL5G3N2="http://www.bcie.org/Desembolso" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/Desembolso/types" xmlns:desMO="http://www.bcie.org/DesembolsoMO" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://www.bcie.org/Desembolso" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/DesembolsoMO" schemaLocation="V1.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestVerificarValidacionAsignacionMessage">
    <WL5G3N0:part element="WL5G3N1:VerificarValidacionAsignacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseVerificarValidacionAsignacionMessage">
    <WL5G3N0:part element="WL5G3N1:VerificarValidacionAsignacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestAplicarCompensacionDesembolsoMessage">
    <WL5G3N0:part element="WL5G3N1:AplicarCompensacionDesembolsoRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseAplicarCompensacionDesembolsoMessage">
    <WL5G3N0:part element="WL5G3N1:AplicarCompensacionDesembolsoResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestPropagarUtilizacionMessage">
    <WL5G3N0:part element="WL5G3N1:PropagarUtilizacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responsePropagarUtilizacionMessage">
    <WL5G3N0:part element="WL5G3N1:PropagarUtilizacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConsultarCargoComisionMessage">
    <WL5G3N0:part element="WL5G3N1:ConsultarCargoComisionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConsultarCargoComisionMessage">
    <WL5G3N0:part element="WL5G3N1:ConsultarCargoComisionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestValidarReglasDesembolsoMessage">
    <WL5G3N0:part element="WL5G3N1:ValidarReglasDesembolsoRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseValidarReglasDesembolsoMessage">
    <WL5G3N0:part element="WL5G3N1:ValidarReglasDesembolsoResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConsultarDesembolsoMessage">
    <WL5G3N0:part element="WL5G3N1:ConsultarDesembolsoBPELRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConsultarDesembolsoMessage">
    <WL5G3N0:part element="WL5G3N1:ConsultarDesembolsoBPELResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestExceptuarSolicitudMessage">
    <WL5G3N0:part element="WL5G3N1:ExceptuarSolicitudRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseExceptuarSolicitudMessage">
    <WL5G3N0:part element="WL5G3N1:ExceptuarSolicitudResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestPropagarReservaMessage">
    <WL5G3N0:part element="WL5G3N1:PropagarReservaRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responsePropagarReservaMessage">
    <WL5G3N0:part element="WL5G3N1:PropagarReservaResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestPropagarTransferenciaMessage">
    <WL5G3N0:part element="WL5G3N1:PropagarTransferenciaRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responsePropagarTransferenciaMessage">
    <WL5G3N0:part element="WL5G3N1:PropagarTransferenciaResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestPropagarContratoDesembolsoMessage">
    <WL5G3N0:part element="WL5G3N1:PropagarContratoDesembolsoRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responsePropagarContratoDesembolsoMessage">
    <WL5G3N0:part element="WL5G3N1:PropagarContratoDesembolsoResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestPropagarTransSinSalidaRecursosMessage">
    <WL5G3N0:part element="WL5G3N1:PropagarTransSinSalidaRecursosRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responsePropagarTransSinSalidaRecursosMessage">
    <WL5G3N0:part element="WL5G3N1:PropagarTransSinSalidaRecursosResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConsultarSaldoMessage">
    <WL5G3N0:part element="WL5G3N1:ConsultarSaldoRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConsultarSaldoMessage">
    <WL5G3N0:part element="WL5G3N1:ConsultarSaldoResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestLiquidarContratoMessage">
    <WL5G3N0:part element="WL5G3N1:EnvioGastoBPELRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseLiquidarContratoMessage">
    <WL5G3N0:part element="WL5G3N1:EnvioGastoBPELResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestActualizarDesembolsoMessage">
    <WL5G3N0:part element="WL5G3N1:CrearActualizarDesembolsosRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseActualizarDesembolsoMessage">
    <WL5G3N0:part element="WL5G3N1:CrearActualizarDesembolsosResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestGenerarReportePlanAmortizacion">
    <WL5G3N0:part element="WL5G3N1:GeneraReportePlanAmortizacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseGenerarReportePlanAmortizacion">
    <WL5G3N0:part element="WL5G3N1:GeneraReportePlanAmortizacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestValidarMontoMaximoDesembolso">
    <WL5G3N0:part element="WL5G3N1:ValidarMontoMaximoDesembolsoRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseValidarMontoMaximoDesembolso">
    <WL5G3N0:part element="WL5G3N1:ValidarMontoMaximoDesembolsoResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestValidarFechaVencimiento">
    <WL5G3N0:part element="WL5G3N1:ValidarFechaVencimientoRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseValidarFechaVencimiento">
    <WL5G3N0:part element="WL5G3N1:ValidarFechaVencimientoResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestActualizarEstadoContratoDesembolso">
    <WL5G3N0:part element="WL5G3N1:ActualizarEstadoContratoDesembolsoRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseActualizarEstadoContratoDesembolso">
    <WL5G3N0:part element="WL5G3N1:ActualizarEstadoContratoDesembolsoResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestCondicionesDesembolso">
    <WL5G3N0:part element="WL5G3N1:CondicionesDesembolsoRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseCondicionesDesembolso">
    <WL5G3N0:part element="WL5G3N1:CondicionesDesembolsoReponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestCalcularCuotasMessage">
    <WL5G3N0:part element="WL5G3N1:CalcularCuotasRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseCalcularCuotasMessage">
    <WL5G3N0:part element="WL5G3N1:CalcularCuotasResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="Desembolso_PT">
    <WL5G3N0:operation name="AplicarCompensacionDesembolso">
      <WL5G3N0:input message="WL5G3N2:requestAplicarCompensacionDesembolsoMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseAplicarCompensacionDesembolsoMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="PropagarUtilizacion">
      <WL5G3N0:input message="WL5G3N2:requestPropagarUtilizacionMessage"/>
      <WL5G3N0:output message="WL5G3N2:responsePropagarUtilizacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultarCargoComision">
      <WL5G3N0:input message="WL5G3N2:requestConsultarCargoComisionMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConsultarCargoComisionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validarReglasDesembolso">
      <WL5G3N0:input message="WL5G3N2:requestValidarReglasDesembolsoMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseValidarReglasDesembolsoMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarDesembolso">
      <WL5G3N0:input message="WL5G3N2:requestConsultarDesembolsoMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConsultarDesembolsoMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="exceptuarSolicitud">
      <WL5G3N0:input message="WL5G3N2:requestExceptuarSolicitudMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseExceptuarSolicitudMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="propagarReserva">
      <WL5G3N0:input message="WL5G3N2:requestPropagarReservaMessage"/>
      <WL5G3N0:output message="WL5G3N2:responsePropagarReservaMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="propagarTransferencia">
      <WL5G3N0:input message="WL5G3N2:requestPropagarTransferenciaMessage"/>
      <WL5G3N0:output message="WL5G3N2:responsePropagarTransferenciaMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="propagarContratoDesembolso">
      <WL5G3N0:input message="WL5G3N2:requestPropagarContratoDesembolsoMessage"/>
      <WL5G3N0:output message="WL5G3N2:responsePropagarContratoDesembolsoMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="propagarTransSinSalidaRecursos">
      <WL5G3N0:input message="WL5G3N2:requestPropagarTransSinSalidaRecursosMessage"/>
      <WL5G3N0:output message="WL5G3N2:responsePropagarTransSinSalidaRecursosMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarSaldo">
      <WL5G3N0:input message="WL5G3N2:requestConsultarSaldoMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConsultarSaldoMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="liquidarContrato">
      <WL5G3N0:input message="WL5G3N2:requestLiquidarContratoMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseLiquidarContratoMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="verificarValidacionAsignacion">
      <WL5G3N0:input message="WL5G3N2:requestVerificarValidacionAsignacionMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseVerificarValidacionAsignacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="calcularCuotas">
      <WL5G3N0:input message="WL5G3N2:requestCalcularCuotasMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseCalcularCuotasMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarDesembolso">
      <WL5G3N0:input message="WL5G3N2:requestActualizarDesembolsoMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseActualizarDesembolsoMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="generarReportePlanAmortizacion">
      <WL5G3N0:input message="WL5G3N2:requestGenerarReportePlanAmortizacion"/>
      <WL5G3N0:output message="WL5G3N2:responseGenerarReportePlanAmortizacion"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validarMontoMaximoDesembolso">
      <WL5G3N0:input message="WL5G3N2:requestValidarMontoMaximoDesembolso"/>
      <WL5G3N0:output message="WL5G3N2:responseValidarMontoMaximoDesembolso"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validarFechaVencimiento">
      <WL5G3N0:input message="WL5G3N2:requestValidarFechaVencimiento"/>
      <WL5G3N0:output message="WL5G3N2:responseValidarFechaVencimiento"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarEstadoContratoDesembolso">
      <WL5G3N0:input message="WL5G3N2:requestActualizarEstadoContratoDesembolso"/>
      <WL5G3N0:output message="WL5G3N2:responseActualizarEstadoContratoDesembolso"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="condicionesDesembolso">
      <WL5G3N0:input message="WL5G3N2:requestCondicionesDesembolso"/>
      <WL5G3N0:output message="WL5G3N2:responseCondicionesDesembolso"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="Desembolso_PTSOAP12Binding" type="WL5G3N2:Desembolso_PT">
    <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="AplicarCompensacionDesembolso">
      <WL5G3N3:operation soapAction="http://www.bcie.org/Desembolso/AplicarCompensacionDesembolso" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="PropagarUtilizacion">
      <WL5G3N3:operation soapAction="http://www.bcie.org/Desembolso/PropagarUtilizacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultarCargoComision">
      <WL5G3N3:operation soapAction="http://www.bcie.org/Desembolso/ConsultarCargoComision" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validarReglasDesembolso">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ValidarReglasDesembolso/validarReglasDesembolso" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarDesembolso">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ConsultarDesembolsoSOR/consultarDesembolso" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="exceptuarSolicitud">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ExceptuarSolicitudSAD/exceptuarSolicitud" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="propagarReserva">
      <WL5G3N3:operation soapAction="http://www.bcie.org/PropagarReservaSOR/propagarReserva" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="propagarTransferencia">
      <WL5G3N3:operation soapAction="http://www.bcie.org/PropagarTransferenciaSOR/propagarTransferencia" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="propagarContratoDesembolso">
      <WL5G3N3:operation soapAction="http://www.bcie.org/PropagarContratoDesembolsoSOR/propagarContratoDesembolso" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="propagarTransSinSalidaRecursos">
      <WL5G3N3:operation soapAction="http://www.bcie.org/PropagarTransSinSalidaRecursosSOR/propagarTransSinSalidaRecursos" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarSaldo">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ConsultarSaldoSAD/consultarSaldo" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="liquidarContrato">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ConsultarSaldoSAD/consultarSaldo" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="verificarValidacionAsignacion">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ConsultarSaldoSAD/verificarValidacionAsignacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="calcularCuotas">
      <WL5G3N3:operation soapAction="http://www.bcie.org/calcularCuotasSAD/calcularCuotas" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarDesembolso">
      <WL5G3N3:operation soapAction="http://www.bcie.org/CrearActualizarDesembolsoSAD/crearActualizarDesembolso" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="generarReportePlanAmortizacion">
      <WL5G3N3:operation soapAction="http://www.bcie.org/GenerarReportePlanAmortizacionSAD/GenerarReportePlanAmortizacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validarMontoMaximoDesembolso">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ValidarMontoMaximoDesembolsoSAD/ValidarMontoMaximoDesembolso" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validarFechaVencimiento">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ValidarFechaVencimientoSAD/ValidarFechaVencimiento" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarEstadoContratoDesembolso">
      <WL5G3N3:operation soapAction="http://www.bcie.org/ValidarFechaVencimientoSAD/ActualizarEstadoContratoDesembolso" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="condicionesDesembolso">
      <WL5G3N3:operation soapAction="http://www.bcie.org/CondicionesDesmbolsoSOR/CondicionesDesembolso" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="Desembolso_PTSOAP12BindingQSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N2:Desembolso_PTSOAP12Binding" name="Desembolso_PTSOAP12BindingQSPort">
      <WL5G3N3:address location="http://OSBLNX1-vip.sndevmw.bcievcn01.oraclevcn.com:7021/Entidad/DesembolsoService/V1.0"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>