BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyDesembolso/src/META-INF/ProxyDesembolso/wsdls/V1_18.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/MatrizTCCBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:comBO="http://www.bcie.org/ComisionBO" xmlns:conBO="http://www.bcie.org/CondicionBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" xmlns:mtccBO="http://www.bcie.org/MatrizTCCBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:terBO="http://www.bcie.org/TerminoBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/TerminoBO" schemaLocation="V1_13.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CondicionBO" schemaLocation="V1_10.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ComisionBO" schemaLocation="V1_8.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_4.xsd"/>
  <xsd:import namespace="http://www.bcie.org/LineaCreditoBO" schemaLocation="V1_7.xsd"/>
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="V1_5.xsd"/>
  <xsd:simpleType name="tipo">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TERMINO"/>
      <xsd:enumeration value="CONDICION"/>
      <xsd:enumeration value="COMISION"/>
      <!--Termino-->
      <!--Condicion-->
      <!--Comision-->
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TCC">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element name="tipo" type="mtccBO:tipo"/>
      <xsd:element name="estado" type="xsd:int"/>
      <xsd:element name="subEstado" type="xsd:int"/>
      <xsd:element name="banEstatus" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TCCConfiguracion">
    <xsd:sequence>
      <xsd:element name="idTCCConfig" type="xsd:long"/>
      <xsd:element name="tipo" type="mtccBO:tipo"/>
      <xsd:element name="idPrecarga" type="xsd:long"/>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="idTcaTipo" type="xsd:long"/>
      <xsd:element name="idTca" type="xsd:long"/>
      <xsd:element name="esMandatorio" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listaTCC">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="TCC" type="mtccBO:TCC"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="validacion">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="tipo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="resultado" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listaValidaciones">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Validacion" type="mtccBO:validacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listaTCCConfiguracion">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="TCCConfiguracion" type="mtccBO:TCCConfiguracion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="enmiendaTCC">
    <xsd:sequence>
      <xsd:element name="idEnmienda" type="xsd:long"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="instanciaProceso" type="xsd:string"/>
      <xsd:element name="requiereOGC" type="xsd:boolean"/>
      <xsd:element name="requiereASJUR" type="xsd:boolean"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
      <xsd:element name="estado" type="xsd:boolean"/>
      <xsd:element name="estado_formalizacion" type="xsd:boolean"/>
      <xsd:element name="requiereCOF" type="xsd:boolean"/>
      <xsd:element name="esDesobligacion" type="xsd:boolean"/>
      <xsd:element name="esCambioPlazo" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="detalleEnmiendaTCC" type="mtccBO:detalleEnmiendaTCC"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detalleEnmiendaTCC">
    <xsd:sequence>
      <xsd:element name="idEnmiendaTCC" type="xsd:long"/>
      <xsd:element name="tipoTCC" type="mtccBO:tipo"/>
      <xsd:element name="idTCC" type="xsd:long"/>
      <xsd:element name="accion" type="xsd:string"/>
      <xsd:element name="estado" type="xsd:boolean"/>
      <xsd:element name="estado_formalizacion" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listaEnmiendaTCC">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="EnmiendaTCC" type="mtccBO:enmiendaTCC"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcesarEnmiendaRequestType">
    <xsd:sequence>
      <xsd:element name="PID_OPERACION" type="xsd:long"/>
      <xsd:element name="PID_ENMIENDA" type="xsd:long"/>
      <xsd:element name="PID_TCC" type="xsd:long"/>
      <xsd:element name="PIDTAREA" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcesarEnmiendaResponseType">
    <xsd:sequence>
      <xsd:element name="PESTADOSP" type="xsd:string"/>
      <xsd:element name="PMENSAJESP" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>