BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyDesembolso/src/META-INF/ProxyDesembolso/wsdls/V1_19.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/ReglaBO" xmlns="http://www.bcie.org/ReglaBO" xmlns:AtributoBO="http://www.bcie.org/AtributoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_4.xsd"/>
  <xsd:import namespace="http://www.bcie.org/AtributoBO" schemaLocation="V1_9.xsd"/>
  <xsd:simpleType name="idRegla">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ReglaBasicType">
    <xsd:sequence>
      <xsd:element name="Id" type="idRegla"/>
      <xsd:element minOccurs="0" name="Descripcion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Transaccion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Tipo" type="catBO:Catalogo"/>
      <xsd:element minOccurs="0" name="PosibleExceptuar" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="Exceptuado" type="catBO:NoCatalogo"/>
      <xsd:element minOccurs="0" name="UsuarioExceptua" type="xsd:string"/>
      <xsd:element minOccurs="0" name="FechaExcepcion" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="Estado" type="catBO:Catalogo"/>
      <xsd:element minOccurs="0" name="Estatus" type="xsd:boolean"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="DetalleRegla" type="AtributoBO:EntidadMinima"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>