BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyDesembolso/src/META-INF/ProxyDesembolso/wsdls/V1_2.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/ErrorBO" xmlns:errBO="http://www.bcie.org/ErrorBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="Error">
    <xsd:annotation>
      <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
      <xsd:documentation>Objeto para el control de los errores y las excepciones</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="errorCode" type="xsd:string"/>
      <xsd:element name="errorDescription" type="xsd:string"/>
      <xsd:element name="errorType" type="errBO:ErrorType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="ErrorType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="TEC"/>
      <xsd:enumeration value="NEG"/>
      <!-- Error técnico -->
      <!-- Error de negocio -->
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="FaultErrorType">
    <xsd:complexContent>
      <xsd:extension base="errBO:Error">
        <xsd:sequence>
          <xsd:element name="message" type="xsd:anyType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>