BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyDesembolso/src/META-INF/ProxyDesembolso/wsdls/V1_4.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/CatalogoBO" xmlns="http://www.bcie.org" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="idCatalogo">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Catalogo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:long"/>
      <xsd:element minOccurs="0" name="Descripcion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DescripcionCorta" type="xsd:string"/>
      <xsd:element minOccurs="0" name="estatus" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="codigoExterno" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NoCatalogo">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:long"/>
      <xsd:element minOccurs="0" name="Descripcion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="DescripcionCorta" type="xsd:string"/>
      <xsd:element minOccurs="0" name="estatus" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="codigoExterno" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Tarea">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idTarea" type="xsd:long"/>
      <xsd:element minOccurs="0" name="descripcion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="descripcionCorta" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idProcesoBpm" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>