BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/FLEXCUBE/WSDL/FLEXCUBE_WSDL.wsdl

<WL5G3N0:definitions xmlns="" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
                     xmlns:WL5G3N1="http://www.w3.org/2001/XMLSchema"
                     xmlns:WL5G3N2="http://org/bcie/ws/middle/FLEXCUBE.wsdl/types/"
                     xmlns:WL5G3N3="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                     xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" name="FLEXCUBE"
                     targetNamespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl">
  <WL5G3N0:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://org/bcie/ws/middle/FLEXCUBE.wsdl/types/"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:tns0="http://org/bcie/ws/middle/FLEXCUBE.wsdl/types/"
                targetNamespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl/types/" elementFormDefault="qualified">
      <xsd:complexType name="ComisionestypeUserArray">
        <xsd:sequence>
          <xsd:element name="ComisionestypeUser" type="tns:ComisionestypeUser" nillable="true" minOccurs="0"
                       maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ComisionestypeUser">
        <xsd:complexContent>
          <xsd:extension base="tns:ComisionestypeBase">
            <xsd:sequence>
              <xsd:element name="baseCalculo" type="string" nillable="true"/>
              <xsd:element name="fechaInicioRevision" type="dateTime" nillable="true"/>
              <xsd:element name="tipoComision" type="string" nillable="true"/>
              <xsd:element name="codigoTasa" type="string" nillable="true"/>
              <xsd:element name="valorComision" type="decimal" nillable="true"/>
              <xsd:element name="frecuencia" type="decimal" nillable="true"/>
              <xsd:element name="tasaMaxima" type="decimal" nillable="true"/>
              <xsd:element name="tasaMinima" type="decimal" nillable="true"/>
              <xsd:element name="tipoFrecuenciaRevision" type="string" nillable="true"/>
              <xsd:element name="tipoTasa" type="string" nillable="true"/>
              <xsd:element name="tipoFrecuencia" type="string" nillable="true"/>
              <xsd:element name="spread" type="decimal" nillable="true"/>
              <xsd:element name="spreadMora" type="decimal" nillable="true"/>
              <xsd:element name="frecuenciaRevision" type="decimal" nillable="true"/>
              <xsd:element name="fechaInicio" type="dateTime" nillable="true"/>
              <xsd:element name="monto" type="decimal" nillable="true"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ComisionestypeBase">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:complexType name="ContratoTypeUser">
        <xsd:complexContent>
          <xsd:extension base="tns:ContratoTypeBase">
            <xsd:sequence>
              <xsd:element name="numeroLineaCredito" type="string" nillable="true"/>
              <xsd:element name="pais" type="string" nillable="true"/>
              <xsd:element name="descripcionLinea" type="string" nillable="true"/>
              <xsd:element name="moneda" type="string" nillable="true"/>
              <xsd:element name="sectorInstitucional" type="string" nillable="true"/>
              <xsd:element name="objetivoEstrategico" type="string" nillable="true"/>
              <xsd:element name="fechaValor" type="dateTime" nillable="true"/>
              <xsd:element name="tasaMaxima" type="decimal" nillable="true"/>
              <xsd:element name="fondo" type="string" nillable="true"/>
              <xsd:element name="fechaMaxDesembolsar" type="dateTime" nillable="true"/>
              <xsd:element name="tipoRecurso" type="string" nillable="true"/>
              <xsd:element name="codigoCliente" type="string" nillable="true"/>
              <xsd:element name="montoAprobado" type="decimal" nillable="true"/>
              <xsd:element name="numeroContrato" type="string" nillable="true"/>
              <xsd:element name="areaFocalizacion" type="string" nillable="true"/>
              <xsd:element name="ejeEstrategico" type="string" nillable="true"/>
              <xsd:element name="plantillaLimite" type="string" nillable="true"/>
              <xsd:element name="lineaFinanciera" type="string" nillable="true"/>
              <xsd:element name="saldo" type="decimal" nillable="true"/>
              <xsd:element name="tasaMinima" type="decimal" nillable="true"/>
              <xsd:element name="listaBalance" type="tns:BalanceListType" nillable="true"/>
              <xsd:element name="destino" type="string" nillable="true"/>
              <xsd:element name="estado" type="string" nillable="true"/>
              <xsd:element name="descCondEspeciales" type="string" nillable="true"/>
              <xsd:element name="revolvencia" type="string" nillable="true"/>
              <xsd:element name="serialLimite" type="string" nillable="true"/>
              <xsd:element name="actividadEconomica" type="string" nillable="true"/>
              <xsd:element name="tieneCondEspeciales" type="string" nillable="true"/>
              <xsd:element name="ejecutivo" type="string" nillable="true"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BalanceListType">
        <xsd:sequence>
          <xsd:element name="array" type="tns:BalanceTypeUser" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BalanceTypeUser">
        <xsd:complexContent>
          <xsd:extension base="tns:BalanceTypeBase">
            <xsd:sequence>
              <xsd:element name="balance" type="decimal" nillable="true"/>
              <xsd:element name="componente" type="string" nillable="true"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BalanceTypeBase">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:complexType name="ContratoTypeBase">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:complexType name="BalanceTypeUserArray">
        <xsd:sequence>
          <xsd:element name="BalanceTypeUser" type="tns:BalanceTypeUser" nillable="true" minOccurs="0"
                       maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LoanTypeUser">
        <xsd:complexContent>
          <xsd:extension base="tns:LoanTypeBase">
            <xsd:sequence>
              <xsd:element name="pais" type="string" nillable="true"/>
              <xsd:element name="moneda" type="string" nillable="true"/>
              <xsd:element name="sectorInstitucional" type="string" nillable="true"/>
              <xsd:element name="objetivoEstrategico" type="string" nillable="true"/>
              <xsd:element name="fechaValor" type="dateTime" nillable="true"/>
              <xsd:element name="fondo" type="string" nillable="true"/>
              <xsd:element name="tipoRecurso" type="string" nillable="true"/>
              <xsd:element name="codigoCliente" type="string" nillable="true"/>
              <xsd:element name="moverEntreMeses" type="string" nillable="true"/>
              <xsd:element name="codigoDesembolso" type="decimal" nillable="true"/>
              <xsd:element name="areaFocalizacion" type="string" nillable="true"/>
              <xsd:element name="plantillaLimite" type="string" nillable="true"/>
              <xsd:element name="ejeEstrategico" type="string" nillable="true"/>
              <xsd:element name="fechaVencimiento" type="dateTime" nillable="true"/>
              <xsd:element name="lineaFinanciera" type="string" nillable="true"/>
              <xsd:element name="numeroCuentaCliente" type="string" nillable="true"/>
              <xsd:element name="numeroTesoreria" type="string" nillable="true"/>
              <xsd:element name="listaCalendario" type="tns:CalendarioListType" nillable="true"/>
              <xsd:element name="listaComponentes" type="tns:ComponenteListType" nillable="true"/>
              <xsd:element name="tipoFinanciamiento" type="string" nillable="true"/>
              <xsd:element name="destino" type="string" nillable="true"/>
              <xsd:element name="serialLimite" type="string" nillable="true"/>
              <xsd:element name="revolvencia" type="string" nillable="true"/>
              <xsd:element name="nombreNegocio" type="string" nillable="true"/>
              <xsd:element name="actividadEconomica" type="string" nillable="true"/>
              <xsd:element name="productoFinanciero" type="string" nillable="true"/>
              <xsd:element name="listadoCargos" type="tns:Cargos" nillable="true"/>
              <xsd:element name="considerarFeridados" type="string" nillable="true"/>
              <xsd:element name="numeroContratoLinea" type="string" nillable="true"/>
              <xsd:element name="ejecutivo" type="string" nillable="true"/>
              <xsd:element name="monto" type="decimal" nillable="true"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CalendarioListType">
        <xsd:sequence>
          <xsd:element name="array" type="tns:CalendarioTypeUser" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CalendarioTypeUser">
        <xsd:complexContent>
          <xsd:extension base="tns:CalendarioTypeBase">
            <xsd:sequence>
              <xsd:element name="tipoFrecuenciaCapital" type="string" nillable="true"/>
              <xsd:element name="fechaInicioCapital" type="dateTime" nillable="true"/>
              <xsd:element name="frecuenciaCapital" type="decimal" nillable="true"/>
              <xsd:element name="tipoPlan" type="string" nillable="true"/>
              <xsd:element name="numeroCuotas" type="decimal" nillable="true"/>
              <xsd:element name="monto" type="decimal" nillable="true"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CalendarioTypeBase">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:complexType name="ComponenteListType">
        <xsd:sequence>
          <xsd:element name="array" type="tns:ComponenteTypeUser" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ComponenteTypeUser">
        <xsd:complexContent>
          <xsd:extension base="tns:ComponenteTypeBase">
            <xsd:sequence>
              <xsd:element name="baseCalculo" type="string" nillable="true"/>
              <xsd:element name="tipoComision" type="string" nillable="true"/>
              <xsd:element name="tipoTasa" type="string" nillable="true"/>
              <xsd:element name="codigoTasa" type="string" nillable="true"/>
              <xsd:element name="valorComision" type="decimal" nillable="true"/>
              <xsd:element name="listaCalendario" type="tns:CalendarioListType" nillable="true"/>
              <xsd:element name="spread" type="decimal" nillable="true"/>
              <xsd:element name="tasaMaxima" type="decimal" nillable="true"/>
              <xsd:element name="spreadMora" type="decimal" nillable="true"/>
              <xsd:element name="tasaMinima" type="decimal" nillable="true"/>
              <xsd:element name="monto" type="decimal" nillable="true"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="ComponenteTypeBase">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:complexType name="Cargos">
        <xsd:sequence>
          <xsd:element name="array" type="tns:CargostypeUser" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CargostypeUser">
        <xsd:complexContent>
          <xsd:extension base="tns:CargostypeBase">
            <xsd:sequence>
              <xsd:element name="tipoCargo" type="string" nillable="true"/>
              <xsd:element name="montocargo" type="decimal" nillable="true"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="CargostypeBase">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:complexType name="LoanTypeBase">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:complexType name="CargostypeUserArray">
        <xsd:sequence>
          <xsd:element name="CargostypeUser" type="tns:CargostypeUser" nillable="true" minOccurs="0"
                       maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="FLEXCUBE_actualizarCliente">
    <WL5G3N0:part name="codigoCliente" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejecutivo" type="WL5G3N1:string"/>
    <WL5G3N0:part name="razonSocial" type="WL5G3N1:string"/>
    <WL5G3N0:part name="abreviatura" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoIdentificacion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="identificacion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="grupoEmpresarial" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoPersona" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoInstitucion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="sectorInstitucional" type="WL5G3N1:string"/>
    <WL5G3N0:part name="actividadEconomica" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejeEstrategico" type="WL5G3N1:string"/>
    <WL5G3N0:part name="direccion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="pais" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ciudad" type="WL5G3N1:string"/>
    <WL5G3N0:part name="telefono" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fax" type="WL5G3N1:string"/>
    <WL5G3N0:part name="email" type="WL5G3N1:string"/>
    <WL5G3N0:part name="diaDePago" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="clientePadre" type="WL5G3N1:string"/>
    <WL5G3N0:part name="puesto" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoRelacion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="overallLimit" type="WL5G3N1:decimal"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_actualizarClienteResponse">
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_actualizarContrato">
    <WL5G3N0:part name="numeroLineaCredito" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaValor" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
    <WL5G3N0:part name="montoDelta" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaMadurez" type="WL5G3N1:dateTime"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_actualizarContratoResponse">
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_actualizarContrato1">
    <WL5G3N0:part name="numeroLineaCredito" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaValor" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
    <WL5G3N0:part name="montoDelta" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaMadurez" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="listacomisiones" type="WL5G3N2:ComisionestypeUserArray"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_actualizarContrato1Response">
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_actualizarFacility">
    <WL5G3N0:part name="numeroLineaCredito" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaValor" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
    <WL5G3N0:part name="monto" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaMadurez" type="WL5G3N1:dateTime"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_actualizarFacilityResponse">
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_consultarContrato">
    <WL5G3N0:part name="numeroContrato" type="WL5G3N1:string"/>
    <WL5G3N0:part name="referenciaUsuario" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_consultarContratoResponse">
    <WL5G3N0:part name="contrato_out" type="WL5G3N2:ContratoTypeUser"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_consultarSaldo">
    <WL5G3N0:part name="numeroContrato" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_consultarSaldoResponse">
    <WL5G3N0:part name="listaBalance_out" type="WL5G3N2:BalanceTypeUserArray"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_consultarCliente">
    <WL5G3N0:part name="codigoCliente" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_consultarClienteResponse">
    <WL5G3N0:part name="ejecutivo_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="razonSocial_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="abreviatura_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoIdentificacion_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="identificacion_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="grupoEmpresarial_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoPersona_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoInstitucion_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="sectorInstitucional_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="actividadEconomica_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="direccion_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="pais_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ciudad_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="telefono_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fax_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="email_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="clientePadre_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="puesto_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoRelacion_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="calificacionRiesgo_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="montoMora_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="diasMora_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="montoMoraGrupo_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="diasMoraGrupo_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_consultarCliente1">
    <WL5G3N0:part name="codigoCliente" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_consultarCliente1Response">
    <WL5G3N0:part name="ejecutivo_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="razonSocial_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="abreviatura_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoIdentificacion_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="identificacion_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="grupoEmpresarial_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoPersona_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoInstitucion_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="sectorInstitucional_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="actividadEconomica_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="direccion_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="pais_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ciudad_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="telefono_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fax_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="diaDePago_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="email_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="clientePadre_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="puesto_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoRelacion_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="calificacionRiesgo_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="montoMora_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="diasMora_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="montoMoraGrupo_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="diasMoraGrupo_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_consultarCommitment">
    <WL5G3N0:part name="numeroLineaCredito" type="WL5G3N1:string"/>
    <WL5G3N0:part name="programaOperacion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="monto" type="WL5G3N1:decimal"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_consultarCommitmentResponse">
    <WL5G3N0:part name="numeroLineaCreditoResp_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="numeroContrato_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="descripcionLinea_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="moneda_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="montoAprobado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoCliente_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="revolvencia_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fondo_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="lineaFinanciera_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="destino_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoRecurso_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="pais_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="actividadEconomica_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="sectorInstitucional_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejecutivo_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejeEstrategico_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="areaFocalizacion_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="objeticoEstrategico_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="plantillaLimite_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="serialLimite_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="saldo_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="disponibilidad_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="disponibilidadIfacil_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tieneCondEspeciales_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="descCondEspeciales_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaMaxDesembolsar_out" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="numeroDesembolsos_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_consultarCommitment1">
    <WL5G3N0:part name="numeroLineaCredito" type="WL5G3N1:string"/>
    <WL5G3N0:part name="programaOperacion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="monto" type="WL5G3N1:decimal"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_consultarCommitment1Response">
    <WL5G3N0:part name="numeroLineaCreditoResp_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="numeroContrato_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="descripcionLinea_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="moneda_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="montoAprobado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoCliente_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="revolvencia_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fondo_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="lineaFinanciera_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="destino_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoRecurso_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="pais_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="actividadEconomica_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="sectorInstitucional_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejecutivo_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejeEstrategico_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="areaFocalizacion_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="objeticoEstrategico_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="plantillaLimite_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="serialLimite_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="saldo_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="disponibilidad_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="disponibilidadIfacil_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tieneCondEspeciales_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="descCondEspeciales_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaMaxDesembolsar_out" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="numeroDesembolsos_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="areaFocalizacionDesc_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejeEstrategicoDesc_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="sectorInstitucionalDesc_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="actividadEconomicaDesc_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="sectorMercado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="sectorMercadoDesc_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="objetivoEstrategico_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="objetivoEstrategicoDesc_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="lineaFinancieraDesc_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="destinoDesc_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tasaMinima_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMaxima_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_convierteMoneda">
    <WL5G3N0:part name="monedaDe" type="WL5G3N1:string"/>
    <WL5G3N0:part name="monedaA" type="WL5G3N1:string"/>
    <WL5G3N0:part name="monto" type="WL5G3N1:decimal"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_convierteMonedaResponse">
    <WL5G3N0:part name="montoConvertio_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoRsultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_creaCliente">
    <WL5G3N0:part name="ejecutivo" type="WL5G3N1:string"/>
    <WL5G3N0:part name="razonSocial" type="WL5G3N1:string"/>
    <WL5G3N0:part name="abreviatura" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoIdentificacion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="identificacion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="grupoEmpresarial" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoPersona" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoInstitucion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="sectorInstitucional" type="WL5G3N1:string"/>
    <WL5G3N0:part name="actividadEconomica" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejeEstrategico" type="WL5G3N1:string"/>
    <WL5G3N0:part name="direccion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="pais" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ciudad" type="WL5G3N1:string"/>
    <WL5G3N0:part name="telefono" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fax" type="WL5G3N1:string"/>
    <WL5G3N0:part name="email" type="WL5G3N1:string"/>
    <WL5G3N0:part name="diaDePago" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="clientePadre" type="WL5G3N1:string"/>
    <WL5G3N0:part name="puesto" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoRelacion" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_creaClienteResponse">
    <WL5G3N0:part name="codigoCliente_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_crearLoanComplejo">
    <WL5G3N0:part name="loan" type="WL5G3N2:LoanTypeUser"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_crearLoanComplejoResponse">
    <WL5G3N0:part name="codigoContrato_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_crearCommitment">
    <WL5G3N0:part name="codigoIntervencion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="nombreNegocio" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoCliente" type="WL5G3N1:string"/>
    <WL5G3N0:part name="sectorInstitucional" type="WL5G3N1:string"/>
    <WL5G3N0:part name="actividadEconomica" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejecutivo" type="WL5G3N1:string"/>
    <WL5G3N0:part name="pais" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejeEstrategico" type="WL5G3N1:string"/>
    <WL5G3N0:part name="areaFocalizacion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="objetivoEstrategico" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoRecurso" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoFinanciamiento" type="WL5G3N1:string"/>
    <WL5G3N0:part name="numeroResolucion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaAprobacion" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="porcentajeCobertura" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="numeroLineaCredito" type="WL5G3N1:string"/>
    <WL5G3N0:part name="lineaFinanciera" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fondo" type="WL5G3N1:string"/>
    <WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
    <WL5G3N0:part name="montoAprobado" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaValor" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="montoEscriturado" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaEscrituracion" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="montoMaxDesem" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="montoMinDesem" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="montoCatalizar" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoCatalizar" type="WL5G3N1:string"/>
    <WL5G3N0:part name="recursosOrdinarios" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoAsignacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="diaPago" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="plazoLineaCredito" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoPlazoLinea" type="WL5G3N1:string"/>
    <WL5G3N0:part name="periodoGracia" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoPlazoGracia" type="WL5G3N1:string"/>
    <WL5G3N0:part name="destino" type="WL5G3N1:string"/>
    <WL5G3N0:part name="numeroCuentaCliente" type="WL5G3N1:string"/>
    <WL5G3N0:part name="productoFinanciero" type="WL5G3N1:string"/>
    <WL5G3N0:part name="revolvencia" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaMaximaEscriturar" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="fechaMinimaIniciar" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="fechaMaximaTotalidad" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="tieneCondEspeciales" type="WL5G3N1:string"/>
    <WL5G3N0:part name="descCondEspeciales" type="WL5G3N1:string"/>
    <WL5G3N0:part name="listacomisiones" type="WL5G3N2:ComisionestypeUserArray"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_crearCommitmentResponse">
    <WL5G3N0:part name="codigoContrato_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="plantillaLimite_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="serialLimite_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="plantillaLimiteCc_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="serialLimiteCc_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_crearCommitmentfijo">
    <WL5G3N0:part name="codigoIntervencion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="nombreNegocio" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoCliente" type="WL5G3N1:string"/>
    <WL5G3N0:part name="sectorInstitucional" type="WL5G3N1:string"/>
    <WL5G3N0:part name="actividadEconomica" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejecutivo" type="WL5G3N1:string"/>
    <WL5G3N0:part name="pais" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejeEstrategico" type="WL5G3N1:string"/>
    <WL5G3N0:part name="areaFocalizacion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="objetivoEstrategico" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoRecurso" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoFinanciamiento" type="WL5G3N1:string"/>
    <WL5G3N0:part name="numeroResolucion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaAprobacion" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="porcentajeCobertura" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="numeroLineaCredito" type="WL5G3N1:string"/>
    <WL5G3N0:part name="lineaFinanciera" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fondo" type="WL5G3N1:string"/>
    <WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
    <WL5G3N0:part name="montoAprobado" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaValor" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="montoEscriturado" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaEscrituracion" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="montoMaxDesem" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="montoMinDesem" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="montoCatalizar" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoCatalizar" type="WL5G3N1:string"/>
    <WL5G3N0:part name="recursosOrdinarios" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoAsignacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="diaPago" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="plazoLineaCredito" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoPlazoLinea" type="WL5G3N1:string"/>
    <WL5G3N0:part name="periodoGracia" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoPlazoGracia" type="WL5G3N1:string"/>
    <WL5G3N0:part name="destino" type="WL5G3N1:string"/>
    <WL5G3N0:part name="numeroCuentaCliente" type="WL5G3N1:string"/>
    <WL5G3N0:part name="productoFinanciero" type="WL5G3N1:string"/>
    <WL5G3N0:part name="revolvencia" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaMaximaEscriturar" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="fechaMinimaIniciar" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="fechaMaximaTotalidad" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="tieneCondEspeciales" type="WL5G3N1:string"/>
    <WL5G3N0:part name="descCondEspeciales" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoTasa1" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoTasa1" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoComision1" type="WL5G3N1:string"/>
    <WL5G3N0:part name="baseCalculo1" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaInicio1" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuencia1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuencia1" type="WL5G3N1:string"/>
    <WL5G3N0:part name="spread1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="spreadMora1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="valorComision1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="monto1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMinima1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMaxima1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaInicioRevision1" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuenciaRevision1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuenciaRevision1" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoTasa2" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoTasa2" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoComision2" type="WL5G3N1:string"/>
    <WL5G3N0:part name="baseCalculo2" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaInicio2" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuencia2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuencia2" type="WL5G3N1:string"/>
    <WL5G3N0:part name="spread2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="spreadMora2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="valorComision2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="monto2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMinima2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMaxima2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaInicioRevision2" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuenciaRevision2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuenciaRevision2" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoTasa3" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoTasa3" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoComision3" type="WL5G3N1:string"/>
    <WL5G3N0:part name="baseCalculo3" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaInicio3" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuencia3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuencia3" type="WL5G3N1:string"/>
    <WL5G3N0:part name="spread3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="spreadMora3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="valorComision3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="monto3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMinima3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMaxima3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaInicioRevision3" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuenciaRevision3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuenciaRevision3" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoTasa4" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoTasa4" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoComision4" type="WL5G3N1:string"/>
    <WL5G3N0:part name="baseCalculo4" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaInicio4" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuencia4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuencia4" type="WL5G3N1:string"/>
    <WL5G3N0:part name="spread4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="spreadMora4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="valorComision4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="monto4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMinima4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMaxima4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaInicioRevision4" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuenciaRevision4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuenciaRevision4" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoTasa5" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoTasa5" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoComision5" type="WL5G3N1:string"/>
    <WL5G3N0:part name="baseCalculo5" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaInicio5" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuencia5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuencia5" type="WL5G3N1:string"/>
    <WL5G3N0:part name="spread5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="spreadMora5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="valorComision5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="monto5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMinima5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMaxima5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaInicioRevision5" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuenciaRevision5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuenciaRevision5" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_crearCommitmentfijoResponse">
    <WL5G3N0:part name="codigoContrato_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="plantillaLimite_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="serialLimite_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="plantillaLimiteCc_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="serialLimiteCc_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_crearLoan">
    <WL5G3N0:part name="codigoDesembolso" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="nombreNegocio" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoCliente" type="WL5G3N1:string"/>
    <WL5G3N0:part name="sectorInstitucional" type="WL5G3N1:string"/>
    <WL5G3N0:part name="actividadEconomica" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejecutivo" type="WL5G3N1:string"/>
    <WL5G3N0:part name="pais" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejeEstrategico" type="WL5G3N1:string"/>
    <WL5G3N0:part name="areaFocalizacion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="objetivoEstrategico" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoRecurso" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoFinanciamiento" type="WL5G3N1:string"/>
    <WL5G3N0:part name="numeroTesoreria" type="WL5G3N1:string"/>
    <WL5G3N0:part name="lineaFinanciera" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fondo" type="WL5G3N1:string"/>
    <WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
    <WL5G3N0:part name="monto" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaValor" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="fechaVencimiento" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="fechaInicioCapital" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuenciaCapital" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuenciaCapital" type="WL5G3N1:string"/>
    <WL5G3N0:part name="destino" type="WL5G3N1:string"/>
    <WL5G3N0:part name="numeroCuentaCliente" type="WL5G3N1:string"/>
    <WL5G3N0:part name="productoFinanciero" type="WL5G3N1:string"/>
    <WL5G3N0:part name="revolvencia" type="WL5G3N1:string"/>
    <WL5G3N0:part name="considerarFeridados" type="WL5G3N1:string"/>
    <WL5G3N0:part name="numeroContratoLinea" type="WL5G3N1:string"/>
    <WL5G3N0:part name="plantillaLimite" type="WL5G3N1:string"/>
    <WL5G3N0:part name="serialLimite" type="WL5G3N1:string"/>
    <WL5G3N0:part name="listacomisiones" type="WL5G3N2:ComisionestypeUserArray"/>
    <WL5G3N0:part name="listadocargos" type="WL5G3N2:CargostypeUserArray"/>
    <WL5G3N0:part name="moverEntreMeses" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_crearLoanResponse">
    <WL5G3N0:part name="codigoContrato_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_crearLoanfijo">
    <WL5G3N0:part name="codigoDesembolso" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="nombreNegocio" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoCliente" type="WL5G3N1:string"/>
    <WL5G3N0:part name="sectorInstitucional" type="WL5G3N1:string"/>
    <WL5G3N0:part name="actividadEconomica" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejecutivo" type="WL5G3N1:string"/>
    <WL5G3N0:part name="pais" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejeEstrategico" type="WL5G3N1:string"/>
    <WL5G3N0:part name="areaFocalizacion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="objetivoEstrategico" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoRecurso" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoFinanciamiento" type="WL5G3N1:string"/>
    <WL5G3N0:part name="numeroTesoreria" type="WL5G3N1:string"/>
    <WL5G3N0:part name="lineaFinanciera" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fondo" type="WL5G3N1:string"/>
    <WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
    <WL5G3N0:part name="monto" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaValor" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="fechaVencimiento" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="fechaInicioCapital" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuenciaCapital" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuenciaCapital" type="WL5G3N1:string"/>
    <WL5G3N0:part name="destino" type="WL5G3N1:string"/>
    <WL5G3N0:part name="numeroCuentaCliente" type="WL5G3N1:string"/>
    <WL5G3N0:part name="productoFinanciero" type="WL5G3N1:string"/>
    <WL5G3N0:part name="revolvencia" type="WL5G3N1:string"/>
    <WL5G3N0:part name="considerarFeridados" type="WL5G3N1:string"/>
    <WL5G3N0:part name="numeroContratoLinea" type="WL5G3N1:string"/>
    <WL5G3N0:part name="plantillaLimite" type="WL5G3N1:string"/>
    <WL5G3N0:part name="serialLimite" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoTasa1" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoTasa1" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoComision1" type="WL5G3N1:string"/>
    <WL5G3N0:part name="baseCalculo1" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaInicio1" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuencia1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuencia1" type="WL5G3N1:string"/>
    <WL5G3N0:part name="spread1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="spreadMora1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="valorComision1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="monto1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMinima1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMaxima1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaInicioRevision1" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuenciaRevision1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuenciaRevision1" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoTasa2" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoTasa2" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoComision2" type="WL5G3N1:string"/>
    <WL5G3N0:part name="baseCalculo2" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaInicio2" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuencia2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuencia2" type="WL5G3N1:string"/>
    <WL5G3N0:part name="spread2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="spreadMora2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="valorComision2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="monto2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMinima2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMaxima2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaInicioRevision2" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuenciaRevision2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuenciaRevision2" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoTasa3" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoTasa3" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoComision3" type="WL5G3N1:string"/>
    <WL5G3N0:part name="baseCalculo3" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaInicio3" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuencia3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuencia3" type="WL5G3N1:string"/>
    <WL5G3N0:part name="spread3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="spreadMora3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="valorComision3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="monto3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMinima3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMaxima3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaInicioRevision3" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuenciaRevision3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuenciaRevision3" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoTasa4" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoTasa4" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoComision4" type="WL5G3N1:string"/>
    <WL5G3N0:part name="baseCalculo4" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaInicio4" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuencia4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuencia4" type="WL5G3N1:string"/>
    <WL5G3N0:part name="spread4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="spreadMora4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="valorComision4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="monto4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMinima4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMaxima4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaInicioRevision4" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuenciaRevision4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuenciaRevision4" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoTasa5" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoTasa5" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoComision5" type="WL5G3N1:string"/>
    <WL5G3N0:part name="baseCalculo5" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaInicio5" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuencia5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuencia5" type="WL5G3N1:string"/>
    <WL5G3N0:part name="spread5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="spreadMora5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="valorComision5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="monto5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMinima5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tasaMaxima5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaInicioRevision5" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="frecuenciaRevision5" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoFrecuenciaRevision5" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoCargo1" type="WL5G3N1:string"/>
    <WL5G3N0:part name="montocargo1" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoCargo2" type="WL5G3N1:string"/>
    <WL5G3N0:part name="montocargo2" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoCargo3" type="WL5G3N1:string"/>
    <WL5G3N0:part name="montocargo3" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoCargo4" type="WL5G3N1:string"/>
    <WL5G3N0:part name="montocargo4" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoCargo5" type="WL5G3N1:string"/>
    <WL5G3N0:part name="montocargo5" type="WL5G3N1:decimal"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_crearLoanfijoResponse">
    <WL5G3N0:part name="codigoContrato_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_crearTransferencia">
    <WL5G3N0:part name="numeroLineaCredito" type="WL5G3N1:string"/>
    <WL5G3N0:part name="numeroTesoreria" type="WL5G3N1:string"/>
    <WL5G3N0:part name="correlativoTransferencia" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="productoFinanciero" type="WL5G3N1:string"/>
    <WL5G3N0:part name="numeroCuentaCliente" type="WL5G3N1:string"/>
    <WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
    <WL5G3N0:part name="monto" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fechaValor" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="cuentaNostro" type="WL5G3N1:string"/>
    <WL5G3N0:part name="institucionOrdenante" type="WL5G3N1:string"/>
    <WL5G3N0:part name="referencia" type="WL5G3N1:string"/>
    <WL5G3N0:part name="beneficiarioNumeroCuenta" type="WL5G3N1:string"/>
    <WL5G3N0:part name="beneficiarioIndentificador" type="WL5G3N1:string"/>
    <WL5G3N0:part name="beneficiarioNombre" type="WL5G3N1:string"/>
    <WL5G3N0:part name="beneficiarioDireccion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="bancoNumeroCuenta" type="WL5G3N1:string"/>
    <WL5G3N0:part name="bancoIndentificador" type="WL5G3N1:string"/>
    <WL5G3N0:part name="bancoNombre" type="WL5G3N1:string"/>
    <WL5G3N0:part name="bancoDireccion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="intermediarioNumeroCuenta" type="WL5G3N1:string"/>
    <WL5G3N0:part name="intermediarioIndentificador" type="WL5G3N1:string"/>
    <WL5G3N0:part name="intermediarioNombre" type="WL5G3N1:string"/>
    <WL5G3N0:part name="intermediarioDireccion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fondo" type="WL5G3N1:string"/>
    <WL5G3N0:part name="lineaFinanciera" type="WL5G3N1:string"/>
    <WL5G3N0:part name="destino" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoRecurso" type="WL5G3N1:string"/>
    <WL5G3N0:part name="pais" type="WL5G3N1:string"/>
    <WL5G3N0:part name="actividadEconomica" type="WL5G3N1:string"/>
    <WL5G3N0:part name="sectorInstitucional" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejecutivo" type="WL5G3N1:string"/>
    <WL5G3N0:part name="ejeEstrategico" type="WL5G3N1:string"/>
    <WL5G3N0:part name="areaFocalizacion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="objetivoEstrategico" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_crearTransferenciaResponse">
    <WL5G3N0:part name="codigoContrato_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_reversarContrato">
    <WL5G3N0:part name="referenciaExterna" type="WL5G3N1:string"/>
    <WL5G3N0:part name="numeroContrato" type="WL5G3N1:string"/>
    <WL5G3N0:part name="estado" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FLEXCUBE_reversarContratoResponse">
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="FLEXCUBE">
    <WL5G3N0:operation name="actualizarCliente"
                       parameterOrder="codigoCliente ejecutivo razonSocial abreviatura tipoIdentificacion identificacion grupoEmpresarial tipoPersona tipoInstitucion sectorInstitucional actividadEconomica ejeEstrategico direccion pais ciudad telefono fax email diaDePago clientePadre puesto tipoRelacion overallLimit codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_actualizarCliente"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_actualizarClienteResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarContrato"
                       parameterOrder="numeroLineaCredito fechaValor moneda montoDelta fechaMadurez codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_actualizarContrato"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_actualizarContratoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarContrato1"
                       parameterOrder="numeroLineaCredito fechaValor moneda montoDelta fechaMadurez listacomisiones codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_actualizarContrato1"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_actualizarContrato1Response"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarFacility"
                       parameterOrder="numeroLineaCredito fechaValor moneda monto fechaMadurez codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_actualizarFacility"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_actualizarFacilityResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarContrato"
                       parameterOrder="numeroContrato referenciaUsuario contrato_out codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_consultarContrato"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_consultarContratoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarSaldo"
                       parameterOrder="numeroContrato listaBalance_out codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_consultarSaldo"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_consultarSaldoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarCliente"
                       parameterOrder="codigoCliente ejecutivo_out razonSocial_out abreviatura_out tipoIdentificacion_out identificacion_out grupoEmpresarial_out tipoPersona_out tipoInstitucion_out sectorInstitucional_out actividadEconomica_out direccion_out pais_out ciudad_out telefono_out fax_out email_out clientePadre_out puesto_out tipoRelacion_out calificacionRiesgo_out montoMora_out diasMora_out montoMoraGrupo_out diasMoraGrupo_out codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_consultarCliente"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_consultarClienteResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarCliente1"
                       parameterOrder="codigoCliente ejecutivo_out razonSocial_out abreviatura_out tipoIdentificacion_out identificacion_out grupoEmpresarial_out tipoPersona_out tipoInstitucion_out sectorInstitucional_out actividadEconomica_out direccion_out pais_out ciudad_out telefono_out fax_out diaDePago_out email_out clientePadre_out puesto_out tipoRelacion_out calificacionRiesgo_out montoMora_out diasMora_out montoMoraGrupo_out diasMoraGrupo_out codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_consultarCliente1"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_consultarCliente1Response"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarCommitment"
                       parameterOrder="numeroLineaCredito programaOperacion monto numeroLineaCreditoResp_out numeroContrato_out descripcionLinea_out moneda_out montoAprobado_out codigoCliente_out revolvencia_out fondo_out lineaFinanciera_out destino_out tipoRecurso_out pais_out actividadEconomica_out sectorInstitucional_out ejecutivo_out ejeEstrategico_out areaFocalizacion_out objeticoEstrategico_out plantillaLimite_out serialLimite_out saldo_out disponibilidad_out disponibilidadIfacil_out tieneCondEspeciales_out descCondEspeciales_out fechaMaxDesembolsar_out numeroDesembolsos_out codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_consultarCommitment"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_consultarCommitmentResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarCommitment1"
                       parameterOrder="numeroLineaCredito programaOperacion monto numeroLineaCreditoResp_out numeroContrato_out descripcionLinea_out moneda_out montoAprobado_out codigoCliente_out revolvencia_out fondo_out lineaFinanciera_out destino_out tipoRecurso_out pais_out actividadEconomica_out sectorInstitucional_out ejecutivo_out ejeEstrategico_out areaFocalizacion_out objeticoEstrategico_out plantillaLimite_out serialLimite_out saldo_out disponibilidad_out disponibilidadIfacil_out tieneCondEspeciales_out descCondEspeciales_out fechaMaxDesembolsar_out numeroDesembolsos_out areaFocalizacionDesc_out ejeEstrategicoDesc_out sectorInstitucionalDesc_out actividadEconomicaDesc_out sectorMercado_out sectorMercadoDesc_out objetivoEstrategico_out objetivoEstrategicoDesc_out lineaFinancieraDesc_out destinoDesc_out tasaMinima_out tasaMaxima_out codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_consultarCommitment1"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_consultarCommitment1Response"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="convierteMoneda"
                       parameterOrder="monedaDe monedaA monto montoConvertio_out codigoRsultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_convierteMoneda"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_convierteMonedaResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="creaCliente"
                       parameterOrder="ejecutivo razonSocial abreviatura tipoIdentificacion identificacion grupoEmpresarial tipoPersona tipoInstitucion sectorInstitucional actividadEconomica ejeEstrategico direccion pais ciudad telefono fax email diaDePago clientePadre puesto tipoRelacion codigoCliente_out codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_creaCliente"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_creaClienteResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearLoanComplejo"
                       parameterOrder="loan codigoContrato_out codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_crearLoanComplejo"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_crearLoanComplejoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearCommitment"
                       parameterOrder="codigoIntervencion nombreNegocio codigoCliente sectorInstitucional actividadEconomica ejecutivo pais ejeEstrategico areaFocalizacion objetivoEstrategico tipoRecurso tipoFinanciamiento numeroResolucion fechaAprobacion porcentajeCobertura numeroLineaCredito lineaFinanciera fondo moneda montoAprobado fechaValor montoEscriturado fechaEscrituracion montoMaxDesem montoMinDesem montoCatalizar tipoCatalizar recursosOrdinarios codigoAsignacion diaPago plazoLineaCredito tipoPlazoLinea periodoGracia tipoPlazoGracia destino numeroCuentaCliente productoFinanciero revolvencia fechaMaximaEscriturar fechaMinimaIniciar fechaMaximaTotalidad tieneCondEspeciales descCondEspeciales listacomisiones codigoContrato_out plantillaLimite_out serialLimite_out plantillaLimiteCc_out serialLimiteCc_out codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_crearCommitment"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_crearCommitmentResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearCommitmentfijo"
                       parameterOrder="codigoIntervencion nombreNegocio codigoCliente sectorInstitucional actividadEconomica ejecutivo pais ejeEstrategico areaFocalizacion objetivoEstrategico tipoRecurso tipoFinanciamiento numeroResolucion fechaAprobacion porcentajeCobertura numeroLineaCredito lineaFinanciera fondo moneda montoAprobado fechaValor montoEscriturado fechaEscrituracion montoMaxDesem montoMinDesem montoCatalizar tipoCatalizar recursosOrdinarios codigoAsignacion diaPago plazoLineaCredito tipoPlazoLinea periodoGracia tipoPlazoGracia destino numeroCuentaCliente productoFinanciero revolvencia fechaMaximaEscriturar fechaMinimaIniciar fechaMaximaTotalidad tieneCondEspeciales descCondEspeciales tipoTasa1 codigoTasa1 tipoComision1 baseCalculo1 fechaInicio1 frecuencia1 tipoFrecuencia1 spread1 spreadMora1 valorComision1 monto1 tasaMinima1 tasaMaxima1 fechaInicioRevision1 frecuenciaRevision1 tipoFrecuenciaRevision1 tipoTasa2 codigoTasa2 tipoComision2 baseCalculo2 fechaInicio2 frecuencia2 tipoFrecuencia2 spread2 spreadMora2 valorComision2 monto2 tasaMinima2 tasaMaxima2 fechaInicioRevision2 frecuenciaRevision2 tipoFrecuenciaRevision2 tipoTasa3 codigoTasa3 tipoComision3 baseCalculo3 fechaInicio3 frecuencia3 tipoFrecuencia3 spread3 spreadMora3 valorComision3 monto3 tasaMinima3 tasaMaxima3 fechaInicioRevision3 frecuenciaRevision3 tipoFrecuenciaRevision3 tipoTasa4 codigoTasa4 tipoComision4 baseCalculo4 fechaInicio4 frecuencia4 tipoFrecuencia4 spread4 spreadMora4 valorComision4 monto4 tasaMinima4 tasaMaxima4 fechaInicioRevision4 frecuenciaRevision4 tipoFrecuenciaRevision4 tipoTasa5 codigoTasa5 tipoComision5 baseCalculo5 fechaInicio5 frecuencia5 tipoFrecuencia5 spread5 spreadMora5 valorComision5 monto5 tasaMinima5 tasaMaxima5 fechaInicioRevision5 frecuenciaRevision5 tipoFrecuenciaRevision5 codigoContrato_out plantillaLimite_out serialLimite_out plantillaLimiteCc_out serialLimiteCc_out codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_crearCommitmentfijo"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_crearCommitmentfijoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearLoan" parameterOrder="codigoDesembolso nombreNegocio codigoCliente sectorInstitucional actividadEconomica ejecutivo pais ejeEstrategico areaFocalizacion objetivoEstrategico tipoRecurso tipoFinanciamiento numeroTesoreria lineaFinanciera fondo moneda monto fechaValor fechaVencimiento fechaInicioCapital frecuenciaCapital tipoFrecuenciaCapital destino numeroCuentaCliente productoFinanciero revolvencia considerarFeridados numeroContratoLinea plantillaLimite serialLimite listacomisiones listadocargos moverEntreMeses codigoContrato_out codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_crearLoan"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_crearLoanResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearLoanfijo"
                       parameterOrder="codigoDesembolso nombreNegocio codigoCliente sectorInstitucional actividadEconomica ejecutivo pais ejeEstrategico areaFocalizacion objetivoEstrategico tipoRecurso tipoFinanciamiento numeroTesoreria lineaFinanciera fondo moneda monto fechaValor fechaVencimiento fechaInicioCapital frecuenciaCapital tipoFrecuenciaCapital destino numeroCuentaCliente productoFinanciero revolvencia considerarFeridados numeroContratoLinea plantillaLimite serialLimite tipoTasa1 codigoTasa1 tipoComision1 baseCalculo1 fechaInicio1 frecuencia1 tipoFrecuencia1 spread1 spreadMora1 valorComision1 monto1 tasaMinima1 tasaMaxima1 fechaInicioRevision1 frecuenciaRevision1 tipoFrecuenciaRevision1 tipoTasa2 codigoTasa2 tipoComision2 baseCalculo2 fechaInicio2 frecuencia2 tipoFrecuencia2 spread2 spreadMora2 valorComision2 monto2 tasaMinima2 tasaMaxima2 fechaInicioRevision2 frecuenciaRevision2 tipoFrecuenciaRevision2 tipoTasa3 codigoTasa3 tipoComision3 baseCalculo3 fechaInicio3 frecuencia3 tipoFrecuencia3 spread3 spreadMora3 valorComision3 monto3 tasaMinima3 tasaMaxima3 fechaInicioRevision3 frecuenciaRevision3 tipoFrecuenciaRevision3 tipoTasa4 codigoTasa4 tipoComision4 baseCalculo4 fechaInicio4 frecuencia4 tipoFrecuencia4 spread4 spreadMora4 valorComision4 monto4 tasaMinima4 tasaMaxima4 fechaInicioRevision4 frecuenciaRevision4 tipoFrecuenciaRevision4 tipoTasa5 codigoTasa5 tipoComision5 baseCalculo5 fechaInicio5 frecuencia5 tipoFrecuencia5 spread5 spreadMora5 valorComision5 monto5 tasaMinima5 tasaMaxima5 fechaInicioRevision5 frecuenciaRevision5 tipoFrecuenciaRevision5 tipoCargo1 montocargo1 tipoCargo2 montocargo2 tipoCargo3 montocargo3 tipoCargo4 montocargo4 tipoCargo5 montocargo5 codigoContrato_out codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_crearLoanfijo"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_crearLoanfijoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearTransferencia"
                       parameterOrder="numeroLineaCredito numeroTesoreria correlativoTransferencia productoFinanciero numeroCuentaCliente moneda monto fechaValor cuentaNostro institucionOrdenante referencia beneficiarioNumeroCuenta beneficiarioIndentificador beneficiarioNombre beneficiarioDireccion bancoNumeroCuenta bancoIndentificador bancoNombre bancoDireccion intermediarioNumeroCuenta intermediarioIndentificador intermediarioNombre intermediarioDireccion fondo lineaFinanciera destino tipoRecurso pais actividadEconomica sectorInstitucional ejecutivo ejeEstrategico areaFocalizacion objetivoEstrategico codigoContrato_out codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_crearTransferencia"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_crearTransferenciaResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="reversarContrato"
                       parameterOrder="referenciaExterna numeroContrato estado codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:FLEXCUBE_reversarContrato"/>
      <WL5G3N0:output message="WL5G3N3:FLEXCUBE_reversarContratoResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="FLEXCUBE" type="WL5G3N3:FLEXCUBE">
    <WL5G3N4:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <WL5G3N0:operation name="actualizarCliente">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/actualizarCliente"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="codigoCliente ejecutivo razonSocial abreviatura tipoIdentificacion identificacion grupoEmpresarial tipoPersona tipoInstitucion sectorInstitucional actividadEconomica ejeEstrategico direccion pais ciudad telefono fax email diaDePago clientePadre puesto tipoRelacion overallLimit"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarContrato">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/actualizarContrato"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="numeroLineaCredito fechaValor moneda montoDelta fechaMadurez"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarContrato1">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/actualizarContrato1"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="numeroLineaCredito fechaValor moneda montoDelta fechaMadurez listacomisiones"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarFacility">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/actualizarFacility"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="numeroLineaCredito fechaValor moneda monto fechaMadurez"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarContrato">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/consultarContrato"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="numeroContrato referenciaUsuario"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="contrato_out codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarSaldo">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/consultarSaldo"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl" parts="numeroContrato"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="listaBalance_out codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarCliente">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/consultarCliente"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl" parts="codigoCliente"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="ejecutivo_out razonSocial_out abreviatura_out tipoIdentificacion_out identificacion_out grupoEmpresarial_out tipoPersona_out tipoInstitucion_out sectorInstitucional_out actividadEconomica_out direccion_out pais_out ciudad_out telefono_out fax_out email_out clientePadre_out puesto_out tipoRelacion_out calificacionRiesgo_out montoMora_out diasMora_out montoMoraGrupo_out diasMoraGrupo_out codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarCliente1">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/consultarCliente1"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl" parts="codigoCliente"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="ejecutivo_out razonSocial_out abreviatura_out tipoIdentificacion_out identificacion_out grupoEmpresarial_out tipoPersona_out tipoInstitucion_out sectorInstitucional_out actividadEconomica_out direccion_out pais_out ciudad_out telefono_out fax_out diaDePago_out email_out clientePadre_out puesto_out tipoRelacion_out calificacionRiesgo_out montoMora_out diasMora_out montoMoraGrupo_out diasMoraGrupo_out codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarCommitment">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/consultarCommitment"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="numeroLineaCredito programaOperacion monto"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="numeroLineaCreditoResp_out numeroContrato_out descripcionLinea_out moneda_out montoAprobado_out codigoCliente_out revolvencia_out fondo_out lineaFinanciera_out destino_out tipoRecurso_out pais_out actividadEconomica_out sectorInstitucional_out ejecutivo_out ejeEstrategico_out areaFocalizacion_out objeticoEstrategico_out plantillaLimite_out serialLimite_out saldo_out disponibilidad_out disponibilidadIfacil_out tieneCondEspeciales_out descCondEspeciales_out fechaMaxDesembolsar_out numeroDesembolsos_out codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarCommitment1">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/consultarCommitment1"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="numeroLineaCredito programaOperacion monto"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="numeroLineaCreditoResp_out numeroContrato_out descripcionLinea_out moneda_out montoAprobado_out codigoCliente_out revolvencia_out fondo_out lineaFinanciera_out destino_out tipoRecurso_out pais_out actividadEconomica_out sectorInstitucional_out ejecutivo_out ejeEstrategico_out areaFocalizacion_out objeticoEstrategico_out plantillaLimite_out serialLimite_out saldo_out disponibilidad_out disponibilidadIfacil_out tieneCondEspeciales_out descCondEspeciales_out fechaMaxDesembolsar_out numeroDesembolsos_out areaFocalizacionDesc_out ejeEstrategicoDesc_out sectorInstitucionalDesc_out actividadEconomicaDesc_out sectorMercado_out sectorMercadoDesc_out objetivoEstrategico_out objetivoEstrategicoDesc_out lineaFinancieraDesc_out destinoDesc_out tasaMinima_out tasaMaxima_out codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="convierteMoneda">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/convierteMoneda"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl" parts="monedaDe monedaA monto"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="montoConvertio_out codigoRsultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="creaCliente">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/creaCliente"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="ejecutivo razonSocial abreviatura tipoIdentificacion identificacion grupoEmpresarial tipoPersona tipoInstitucion sectorInstitucional actividadEconomica ejeEstrategico direccion pais ciudad telefono fax email diaDePago clientePadre puesto tipoRelacion"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="codigoCliente_out codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearLoanComplejo">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/crearLoanComplejo"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl" parts="loan"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="codigoContrato_out codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearCommitment">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/crearCommitment"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="codigoIntervencion nombreNegocio codigoCliente sectorInstitucional actividadEconomica ejecutivo pais ejeEstrategico areaFocalizacion objetivoEstrategico tipoRecurso tipoFinanciamiento numeroResolucion fechaAprobacion porcentajeCobertura numeroLineaCredito lineaFinanciera fondo moneda montoAprobado fechaValor montoEscriturado fechaEscrituracion montoMaxDesem montoMinDesem montoCatalizar tipoCatalizar recursosOrdinarios codigoAsignacion diaPago plazoLineaCredito tipoPlazoLinea periodoGracia tipoPlazoGracia destino numeroCuentaCliente productoFinanciero revolvencia fechaMaximaEscriturar fechaMinimaIniciar fechaMaximaTotalidad tieneCondEspeciales descCondEspeciales listacomisiones"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="codigoContrato_out plantillaLimite_out serialLimite_out plantillaLimiteCc_out serialLimiteCc_out codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearCommitmentfijo">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/crearCommitmentfijo"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="codigoIntervencion nombreNegocio codigoCliente sectorInstitucional actividadEconomica ejecutivo pais ejeEstrategico areaFocalizacion objetivoEstrategico tipoRecurso tipoFinanciamiento numeroResolucion fechaAprobacion porcentajeCobertura numeroLineaCredito lineaFinanciera fondo moneda montoAprobado fechaValor montoEscriturado fechaEscrituracion montoMaxDesem montoMinDesem montoCatalizar tipoCatalizar recursosOrdinarios codigoAsignacion diaPago plazoLineaCredito tipoPlazoLinea periodoGracia tipoPlazoGracia destino numeroCuentaCliente productoFinanciero revolvencia fechaMaximaEscriturar fechaMinimaIniciar fechaMaximaTotalidad tieneCondEspeciales descCondEspeciales tipoTasa1 codigoTasa1 tipoComision1 baseCalculo1 fechaInicio1 frecuencia1 tipoFrecuencia1 spread1 spreadMora1 valorComision1 monto1 tasaMinima1 tasaMaxima1 fechaInicioRevision1 frecuenciaRevision1 tipoFrecuenciaRevision1 tipoTasa2 codigoTasa2 tipoComision2 baseCalculo2 fechaInicio2 frecuencia2 tipoFrecuencia2 spread2 spreadMora2 valorComision2 monto2 tasaMinima2 tasaMaxima2 fechaInicioRevision2 frecuenciaRevision2 tipoFrecuenciaRevision2 tipoTasa3 codigoTasa3 tipoComision3 baseCalculo3 fechaInicio3 frecuencia3 tipoFrecuencia3 spread3 spreadMora3 valorComision3 monto3 tasaMinima3 tasaMaxima3 fechaInicioRevision3 frecuenciaRevision3 tipoFrecuenciaRevision3 tipoTasa4 codigoTasa4 tipoComision4 baseCalculo4 fechaInicio4 frecuencia4 tipoFrecuencia4 spread4 spreadMora4 valorComision4 monto4 tasaMinima4 tasaMaxima4 fechaInicioRevision4 frecuenciaRevision4 tipoFrecuenciaRevision4 tipoTasa5 codigoTasa5 tipoComision5 baseCalculo5 fechaInicio5 frecuencia5 tipoFrecuencia5 spread5 spreadMora5 valorComision5 monto5 tasaMinima5 tasaMaxima5 fechaInicioRevision5 frecuenciaRevision5 tipoFrecuenciaRevision5"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="codigoContrato_out plantillaLimite_out serialLimite_out plantillaLimiteCc_out serialLimiteCc_out codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearLoan">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/crearLoan"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl" parts="codigoDesembolso nombreNegocio codigoCliente sectorInstitucional actividadEconomica ejecutivo pais ejeEstrategico areaFocalizacion objetivoEstrategico tipoRecurso tipoFinanciamiento numeroTesoreria lineaFinanciera fondo moneda monto fechaValor fechaVencimiento fechaInicioCapital frecuenciaCapital tipoFrecuenciaCapital destino numeroCuentaCliente productoFinanciero revolvencia considerarFeridados numeroContratoLinea plantillaLimite serialLimite listacomisiones listadocargos moverEntreMeses "/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl" parts="codigoContrato_out codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearLoanfijo">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/crearLoanfijo"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="codigoDesembolso nombreNegocio codigoCliente sectorInstitucional actividadEconomica ejecutivo pais ejeEstrategico areaFocalizacion objetivoEstrategico tipoRecurso tipoFinanciamiento numeroTesoreria lineaFinanciera fondo moneda monto fechaValor fechaVencimiento fechaInicioCapital frecuenciaCapital tipoFrecuenciaCapital destino numeroCuentaCliente productoFinanciero revolvencia considerarFeridados numeroContratoLinea plantillaLimite serialLimite tipoTasa1 codigoTasa1 tipoComision1 baseCalculo1 fechaInicio1 frecuencia1 tipoFrecuencia1 spread1 spreadMora1 valorComision1 monto1 tasaMinima1 tasaMaxima1 fechaInicioRevision1 frecuenciaRevision1 tipoFrecuenciaRevision1 tipoTasa2 codigoTasa2 tipoComision2 baseCalculo2 fechaInicio2 frecuencia2 tipoFrecuencia2 spread2 spreadMora2 valorComision2 monto2 tasaMinima2 tasaMaxima2 fechaInicioRevision2 frecuenciaRevision2 tipoFrecuenciaRevision2 tipoTasa3 codigoTasa3 tipoComision3 baseCalculo3 fechaInicio3 frecuencia3 tipoFrecuencia3 spread3 spreadMora3 valorComision3 monto3 tasaMinima3 tasaMaxima3 fechaInicioRevision3 frecuenciaRevision3 tipoFrecuenciaRevision3 tipoTasa4 codigoTasa4 tipoComision4 baseCalculo4 fechaInicio4 frecuencia4 tipoFrecuencia4 spread4 spreadMora4 valorComision4 monto4 tasaMinima4 tasaMaxima4 fechaInicioRevision4 frecuenciaRevision4 tipoFrecuenciaRevision4 tipoTasa5 codigoTasa5 tipoComision5 baseCalculo5 fechaInicio5 frecuencia5 tipoFrecuencia5 spread5 spreadMora5 valorComision5 monto5 tasaMinima5 tasaMaxima5 fechaInicioRevision5 frecuenciaRevision5 tipoFrecuenciaRevision5 tipoCargo1 montocargo1 tipoCargo2 montocargo2 tipoCargo3 montocargo3 tipoCargo4 montocargo4 tipoCargo5 montocargo5"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="codigoContrato_out codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearTransferencia">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/crearTransferencia"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="numeroLineaCredito numeroTesoreria correlativoTransferencia productoFinanciero numeroCuentaCliente moneda monto fechaValor cuentaNostro institucionOrdenante referencia beneficiarioNumeroCuenta beneficiarioIndentificador beneficiarioNombre beneficiarioDireccion bancoNumeroCuenta bancoIndentificador bancoNombre bancoDireccion intermediarioNumeroCuenta intermediarioIndentificador intermediarioNombre intermediarioDireccion fondo lineaFinanciera destino tipoRecurso pais actividadEconomica sectorInstitucional ejecutivo ejeEstrategico areaFocalizacion objetivoEstrategico"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="codigoContrato_out codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="reversarContrato">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/FLEXCUBE.wsdl/reversarContrato"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="referenciaExterna numeroContrato estado"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
                      parts="codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="FLEXCUBE">
    <WL5G3N0:port name="FLEXCUBE" binding="WL5G3N3:FLEXCUBE">
      <WL5G3N4:address location="http://hn-obpm-dev.bcie.org:7031/MIDDLE/FLEXCUBE"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>