BCIE_fenix/features/MCP/16/ADF-BPM/bpm/PA13RecuperacionUCE/PA13UCEProcess/SOA/WSDLs/ProcesosAlternos.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosAlternos" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosAlternos" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:param="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:res="http://www.bcie.org/ResultBO" xmlns:laproc="http://xmlns.oracle.com/bpmn/bpmnProcess/LavadoActivosProcess" xmlns:comproc="http://xmlns.oracle.com/bpmn/bpmnProcess/ComisionesProcess" xmlns:conproc="http://xmlns.oracle.com/bpmn/bpmnProcess/CondicionesProcess" xmlns:canopproc="http://xmlns.oracle.com/bpmn/bpmnProcess/CancelarOperacionProcess" xmlns:enmproc="http://xmlns.oracle.com/bpmn/bpmnProcess/EnmiendasProcess" xmlns:cteproc="http://xmlns.oracle.com/bpmn/bpmnProcess/AdministrarClienteProcess" xmlns:segcredproc="http://xmlns.oracle.com/bpmn/bpmnProcess/SegCrediticioProcess" xmlns:cierrefideproc="http://xmlns.oracle.com/bpmn/bpmnProcess/CierreFideicomisoProcess" xmlns:recUCE="http://xmlns.oracle.com/bpmn/bpmnProcess/UCEProcess">
<wsdl:types>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosAlternos">
<xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/LavadoActivosProcess" schemaLocation="oramds:/apps/Resources/BPM/Schema/PA01/LavadoActivosProcess.xsd"/>
<xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ComisionesProcess" schemaLocation="oramds:/apps/Resources/BPM/Schema/PA02/ComisionesProcess.xsd"/>
<xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CondicionesProcess" schemaLocation="oramds:/apps/Resources/BPM/Schema/PA03/CondicionesProcess.xsd"/>
<xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EnmiendasProcess" schemaLocation="oramds:/apps/Resources/BPM/Schema/PA04/EnmiendasProcess.xsd"/>
<xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CancelarOperacionProcess" schemaLocation="oramds:/apps/Resources/BPM/Schema/PA05/CancelarOperacionProcess.xsd"/>
<xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AdministrarClienteProcess" schemaLocation="oramds:/apps/Resources/BPM/Schema/PA06/AdministrarClienteProcess.xsd"/>
<xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/SegCrediticioProcess" schemaLocation="oramds:/apps/Resources/BPM/Schema/PA07/SegCrediticioProcess.xsd"/>
<xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/UCEProcess" schemaLocation="oramds:/apps/Resources/BPM/Schema/PA13/UCEProcess.xsd"/>
<xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CierreFideicomisoProcess" schemaLocation="oramds:/apps/Resources/BPM/Schema/PA14/CierreFideicomisoProcess.xsd"/>
<xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="oramds:/apps/Resources/ComponentesComunes/Common/V1/Schema/ResultBO.xsd"/>
<xsd:element name="ResultadoProceso">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="resultado" type="res:Resultado"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
</wsdl:types>
<wsdl:message name="InicioLAFT">
<wsdl:part name="parameters" element="laproc:InicioLAFT"/>
</wsdl:message>
<wsdl:message name="FinLAFT">
<wsdl:part name="parameters" element="laproc:FinLAFT"/>
</wsdl:message>
<wsdl:message name="InicioComisiones">
<wsdl:part name="parameters" element="comproc:InicioComisiones"/>
</wsdl:message>
<wsdl:message name="FinComisiones">
<wsdl:part name="parameters" element="comproc:FinComisiones"/>
</wsdl:message>
<wsdl:message name="InicioCondiciones">
<wsdl:part name="parameters" element="conproc:InicioCondiciones"/>
</wsdl:message>
<wsdl:message name="FinCondiciones">
<wsdl:part name="parameters" element="conproc:FinCondiciones"/>
</wsdl:message>
<wsdl:message name="InicioEnmiendas">
<wsdl:part name="parameters" element="enmproc:InicioEnmiendas"/>
</wsdl:message>
<wsdl:message name="FinEnmiendas">
<wsdl:part name="parameters" element="enmproc:FinEnmiendas"/>
</wsdl:message>
<wsdl:message name="InicioCancelarOperacion">
<wsdl:part name="parameters" element="canopproc:InicioCancelarOperacion"/>
</wsdl:message>
<wsdl:message name="FinCancelarOperacion">
<wsdl:part name="parameters" element="canopproc:FinCancelarOperacion"/>
</wsdl:message>
<wsdl:message name="InicioAdministrarCliente">
<wsdl:part name="parameters" element="cteproc:InicioAdministrarCliente"/>
</wsdl:message>
<wsdl:message name="FinAdministrarCliente">
<wsdl:part name="parameters" element="cteproc:FinAdministrarCliente"/>
</wsdl:message>
<wsdl:message name="InicioSeguimientoCrediticio">
<wsdl:part name="parameters" element="segcredproc:InicioSeguimientoCrediticio"/>
</wsdl:message>
<wsdl:message name="FinSeguimientoCrediticio">
<wsdl:part name="parameters" element="segcredproc:FinSeguimientoCrediticio"/>
</wsdl:message>
<wsdl:message name="InicioUCE">
<wsdl:part name="parameters" element="recUCE:InicioUCE"/>
</wsdl:message>
<wsdl:message name="FinUCE">
<wsdl:part name="parameters" element="recUCE:FinUCE"/>
</wsdl:message>
<wsdl:message name="InicioProcesoResponse">
<wsdl:part name="resultado" element="tns:ResultadoProceso"/>
</wsdl:message>
<wsdl:portType name="ProcesosAlternosPortType">
<wsdl:operation name="InicioLAFT">
<wsdl:input message="tns:InicioLAFT"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="FinLAFT">
<wsdl:input message="tns:FinLAFT"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="InicioComisiones">
<wsdl:input message="tns:InicioComisiones"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="FinComisiones">
<wsdl:input message="tns:FinComisiones"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="InicioCondiciones">
<wsdl:input message="tns:InicioCondiciones"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="FinCondiciones">
<wsdl:input message="tns:FinCondiciones"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="InicioEnmiendas">
<wsdl:input message="tns:InicioEnmiendas"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="FinEnmiendas">
<wsdl:input message="tns:FinEnmiendas"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="InicioCancelarOperacion">
<wsdl:input message="tns:InicioCancelarOperacion"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="FinCancelarOperacion">
<wsdl:input message="tns:FinCancelarOperacion"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="InicioAdministrarCliente">
<wsdl:input message="tns:InicioAdministrarCliente"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="FinAdministrarCliente">
<wsdl:input message="tns:FinAdministrarCliente"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="InicioSeguimientoCrediticio">
<wsdl:input message="tns:InicioSeguimientoCrediticio"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="FinSeguimientoCrediticio">
<wsdl:input message="tns:FinSeguimientoCrediticio"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="InicioUCE">
<wsdl:input message="tns:InicioUCE"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="FinUCE">
<wsdl:input message="tns:FinUCE"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="InicioCierreFideicomiso">
<wsdl:input message="tns:InicioCierreFideicomiso"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
<wsdl:operation name="FinCierreFideicomiso">
<wsdl:input message="tns:FinCierreFideicomiso"/>
<wsdl:output message="tns:InicioProcesoResponse"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ProcesosAlternosBinding" type="tns:ProcesosAlternosPortType">
<wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="InicioLAFT">
<wsdlsoap:operation style="document" soapAction="InicioLAFT"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FinLAFT">
<wsdlsoap:operation style="document" soapAction="FinLAFT"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="InicioComisiones">
<wsdlsoap:operation style="document" soapAction="InicioComisiones"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FinComisiones">
<wsdlsoap:operation style="document" soapAction="FinComisiones"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="InicioCondiciones">
<wsdlsoap:operation style="document" soapAction="InicioCondiciones"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FinCondiciones">
<wsdlsoap:operation style="document" soapAction="FinCondiciones"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="InicioEnmiendas">
<wsdlsoap:operation style="document" soapAction="InicioEnmiendas"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FinEnmiendas">
<wsdlsoap:operation style="document" soapAction="FinEnmiendas"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="InicioCancelarOperacion">
<wsdlsoap:operation style="document" soapAction="InicioCancelarOperacion"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FinCancelarOperacion">
<wsdlsoap:operation style="document" soapAction="FinCancelarOperacion"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="InicioAdministrarCliente">
<wsdlsoap:operation style="document" soapAction="InicioAdministrarCliente"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FinAdministrarCliente">
<wsdlsoap:operation style="document" soapAction="FinAdministrarCliente"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="InicioSeguimientoCrediticio">
<wsdlsoap:operation style="document" soapAction="InicioSeguimientoCrediticio"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FinSeguimientoCrediticio">
<wsdlsoap:operation style="document" soapAction="FinSeguimientoCrediticio"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="InicioUCE">
<wsdlsoap:operation style="document" soapAction="InicioUCE"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FinUCE">
<wsdlsoap:operation style="document" soapAction="FinUCE"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="InicioCierreFideicomiso">
<wsdlsoap:operation style="document" soapAction="InicioCierreFideicomiso"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="FinCierreFideicomiso">
<wsdlsoap:operation style="document" soapAction="FinCierreFideicomiso"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
<wsdl:output>
<wsdlsoap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:message name="InicioCierreFideicomiso">
<wsdl:part name="parameters" element="cierrefideproc:InicioCierreFideicomiso"/>
</wsdl:message>
<wsdl:message name="FinCierreFideicomiso">
<wsdl:part name="FinCierreFideicomiso" element="cierrefideproc:FinCierreFideicomiso"/>
</wsdl:message>
</wsdl:definitions>
