BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/ActualizarLineasCreditoAprobacion/XSD/ActualizarLineasCreditoAprobacion_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ActualizarLineasCreditoAprobacion" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ActualizarLineasCreditoAprobacion" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_ID_APROBACION" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ID_CONTRATO" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_LINEAS_CREDITO" type="db:T_LINEASCREDITO_APRO" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_RESULTADO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MENSAJE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="T_LINEASCREDITO_APRO">
      <sequence>
         <element name="P_LINEAS_CREDITO_ITEM" type="db:T_LINEAS_CREDITO" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_LINEAS_CREDITO">
      <sequence>
         <element name="ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NUMERO_LINEA_CREDITO" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPCION_LINEA" type="db:string1024" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTO_LINEA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ESTATUS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ID_TCA_TIPO_MONEDA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string1024">
      <restriction base="string">
         <maxLength value="1024"/>
      </restriction>
   </simpleType>
</schema>
