Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/T24Utility/DocPrintAdd/DocPrintAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/T24UtilityAppSvc/DocPrintAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptDocPrintAdd="http://xmlns.banesco.com/appopt/T24UtilityAppSvc/DocPrintAdd_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="DocPrintAddRq" type="appoptDocPrintAdd:DocPrintAddRq_Type"/>
	<xs:complexType name="DocPrintAddRq_Type">
		<xs:sequence>
			<xs:element name="Document" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Content" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="DocPrintAddRs" type="appoptDocPrintAdd:DocPrintAddRs_Type"/>
	<xs:complexType name="DocPrintAddRs_Type">
		<xs:sequence>
			<xs:element name="Document" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Name" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="URL" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
