BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Adquisicion/V1/Wsdl/Adquisicion.wsdl

<definitions targetNamespace="http://xmlns.bcie.com/AdquisicionService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.bcie.com/AdquisicionService" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:adqMO="http://www.bcie.org/AdquisicionMO">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.bcie.org/AdquisicionMO" schemaLocation="../Schema/AdquisicionMO.xsd"/>
    </xsd:schema>
  </types>
  <message name="requestPublicarMessage">
    <part name="request" element="adqMO:InformeNoObjecionRequest"/>
  </message>
  <message name="responsePublicarMessage">
    <part name="response" element="adqMO:InformeNoObjecionResponse"/>
  </message>
    <message name="requestIniciarNoObjecionPGAMessage">
    <part name="request" element="adqMO:IniciarNoObjecionPGARequest"/>
  </message>
  <message name="responseIniciarNoObjecionPGAMessage">
    <part name="response" element="adqMO:IniciarNoObjecionPGAResponse"/>
  </message>
  <message name="requestConsultarNoObjecionMessage">
    <part name="request" element="adqMO:ConsultarNoObjecionRequest"/>
  </message>
  <message name="responseConsultarNoObjecionMessage">
    <part name="response" element="adqMO:ConsultarNoObjecionResponse"/>
  </message>
  <portType name="AdquisicionPT">
    <operation name="publicarNoObjecion">
      <input message="tns:requestPublicarMessage"/>
      <output message="tns:responsePublicarMessage"/>
    </operation>
    <operation name="CrearNoObjecionPGA">
      <input message="tns:requestCrearNoObjecionPGAMessage"/>
      <output message="tns:responseCrearNoObjecionPGAMessage"/>
    </operation>
    <operation name="IniciarNoObjecionPGA">
      <input message="tns:requestIniciarNoObjecionPGAMessage"/>
      <output message="tns:responseIniciarNoObjecionPGAMessage"/>
    </operation>
    <operation name="ConsultarNoObjecion">
      <input message="tns:requestConsultarNoObjecionMessage"/>
      <output message="tns:responseConsultarNoObjecionMessage"/>
    </operation>
  </portType>
  <binding name="AdquisicionPT12Bnd" type="tns:AdquisicionPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="publicarNoObjecion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/AdquisicionService/publicar"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="CrearNoObjecionPGA">
      <soap12:operation/>
      <input>
        <soap12:body/>
      </input>
      <output>
        <soap12:body/>
      </output>
    </operation>
    <operation name="IniciarNoObjecionPGA">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/AdquisicionService/IniciarNoObjecionPGA"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="ConsultarNoObjecion">
      <soap12:operation/>
      <input>
        <soap12:body use="literal"/>
      </input>
      <output>
        <soap12:body use="literal"/>
      </output>
    </operation>
  </binding>
  <message name="requestCrearNoObjecionPGAMessage">
    <part name="request" element="adqMO:CrearNoObjecionPGA_Request"/>
  </message>
  <message name="responseCrearNoObjecionPGAMessage">
    <part name="response" element="adqMO:CrearNoObjecionPGA_Response"/>
  </message>
</definitions>