AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/EBO/SupplierParty/SupplierPartyEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/SupplierParty" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:appt="http://www.agarcia.mx/EnterpriseObjects/SupplierParty" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom">
  <xsd:import schemaLocation="../../Common/CommonComponents.xsd" namespace="http://www.agarcia.mx/EnterpriseObjects/Common"/>
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Custom" schemaLocation="../../Custom/EBO/CustomSupplierPartyEBO.xsd"/>
  <xsd:element name="SupplierPartyEBO" type="appt:SupplierPartyEBOType"/>
  <xsd:complexType name="SupplierPartyEBOType">
    <xsd:sequence>
      <xsd:element name="Identification" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="PartyLocation" type="com:LocationType" minOccurs="0"/>
      <xsd:element name="PartyContact" type="com:ContactType" minOccurs="0"/>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="Person" type="com:PersonType" minOccurs="0"/>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="Organization" type="com:OrganizationReferenceType" minOccurs="0"/>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="CustomerNumber" type="com:IdentifierType" minOccurs="0"/>
      <xsd:element name="MinimumOrderAmoun" type="com:AmountType" minOccurs="0"/>
      <xsd:element name="TypeCode" type="com:CodeType" minOccurs="0"/>
      <xsd:element name="Status" type="com:StatusType" minOccurs="0"/>
      <xsd:element name="Note" type="com:NoteType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="CustomSupplierParty" type="cust:CustomSupplierPartyEBOType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>