MIRA/SOA_PRD_Almacenes/CreateUPCMicroTaskProcess/SOA/Schemas/Commons/OrderCommonSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/Commons/Order/v1" xmlns:base="http://mx.agarcia.ea/Commons/Order/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" xmlns:invitm="http://mx.agarcia.ea/Commons/InventoryItem/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:import schemaLocation="InventoryItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Commons/InventoryItem/v1"/>
   <xs:simpleType name="OrderChannelTypes">
      <xs:union memberTypes="base:OrderChannelTypesEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="OrderChannelTypesEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="PhoneIn"/>
         <xs:enumeration value="WalkIn"/>
         <xs:enumeration value="Web"/>
         <xs:enumeration value="eMail"/>
         <xs:enumeration value="CallCenter"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="OrderPriorityTypes">
      <xs:union memberTypes="base:OrderPriorityTypesEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="OrderPriorityTypesEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Normal"/>
         <xs:enumeration value="Rush"/>
         <xs:enumeration value="Emergency"/>
         <xs:enumeration value="PackAndHold"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="OrderItemStatusType">
      <xs:union memberTypes="base:OrderItemStatusTypeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="OrderItemStatusTypeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Sent"/>
         <xs:enumeration value="Dispatch"/>
         <xs:enumeration value="Hold"/>
         <xs:enumeration value="Void"/>
         <xs:enumeration value="Cancel"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="AccountabilityTypeCode">
      <xs:union memberTypes="base:AccountabilityTypeCodeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="AccountabilityTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Operator"/>
         <xs:enumeration value="Register"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ReceiptTypeCode">
      <xs:union memberTypes="base:ReceiptTypeCodeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="ReceiptTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="ReceiptReprint"/>
         <xs:enumeration value="GiftReceipt"/>
         <xs:enumeration value="DespatchDocket"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DisposalMethodTypeCode">
      <xs:union memberTypes="base:DisposalMethodTypeCodeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="DisposalMethodTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Undecided"/>
         <xs:enumeration value="WriteOff"/>
         <xs:enumeration value="ReturnToStock"/>
         <xs:enumeration value="Transform"/>
         <xs:enumeration value="Repair"/>
         <xs:enumeration value="ReturnToManufacturer"/>
         <xs:enumeration value="ReturnToSupplier"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="OrderInformationType">
      <xs:annotation>
         <xs:documentation>from EAN.UCC</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="OrderingLeadTime">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The normal delivery time measured from
                        receipt of order by the seller until trade item is shipped by the seller.
                        Examples: 12 hours, 48 hours, 4 days. Business Rules: Geographic distance
                        from manufacturing/distribution point to delivery point may impact this
                        value. Related to time unit field. Must be associated with valid unit of
                        measure. </xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="invitm:MeasurementCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="OrderQuantityMaximum">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The maximum quantity of the trade item
                        that can be ordered. A number or a count. This value can represent the total
                        number of units ordered over a set period of time with multiple orders.
                        Examples: - “when a manufacturer chooses to control manufacturing costs by
                        limiting the amount of product that a customer can buy per order – example –
                        Geneva watchmaker only allows orders of 10 watches per customer per order so
                        as to control their production for quality control reasons, and to ensure
                        that all of his customers receive some product.” Business Rules: Value can
                        vary on Trading Partner dependent basis. Quantity means number of this trade
                        item level hierarchy. This field is relevant at any trade item hierarchy
                        level, but does not need to be populated for all levels.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:nonNegativeInteger">
                  <xs:totalDigits value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="OrderQuantityMinimum">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Represent an agreed to minimum quantity of
                        the trade item that can be ordered. A number or a count. This applies to
                        each individual order. Can be a fixed amount for all customers in a target
                        market. Business Rules: Value refers to the minimum order for this trade
                        item hierarchy level. Cannot be a monetary figure. E.g. minimum order = $100
                        of goods at cost. This field is relevant at any trade item hierarchy level,
                        but does not need to be populated for all levels.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:nonNegativeInteger">
                  <xs:totalDigits value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="OrderQuantityMultiple">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The order quantity multiples in which the
                        trade item may be ordered. If the Order Quantity Minimum is 100, and the
                        Order Quantity Multiple is 20, then the trade item can only be ordered in
                        quantities which are divisible by the Order Quantity Multiple of 20.
                        Examples:100, 120, 140, 200. A number or a count. Business Rules: If the
                        order quantity minimum is 100, and the order quantity multiple is 20, then
                        the product can only be ordered in quantities which are divisible by the
                        order quantity multiple of 20, eg 100, 120, 140, 200 etc.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:nonNegativeInteger">
                  <xs:totalDigits value="9"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="OrderSizingFactor">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: A trade item specification other than
                        gross, net weight, or cubic feet for a line trade item or a transaction,
                        used for order sizing and pricing purposes. For example, factors may be used
                        to cube a truck, reflecting different weights, and dimensions of trade item.
                        Business Rules: Assumes a standard size truck or lorry</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="invitm:MeasurementCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="OrderAvailabilityDate" type="xs:date"/>
      </xs:sequence>
      <xs:attribute default="false" name="OrderKitFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>signify that this ITEM is ordered as part of a collection of
                    ITEMs</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
</xs:schema>
