BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/SolicitudAprobacion/ConsultarSolicitudAprobacionById/XSD/ConsultarSolicitudAprobacionById.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarSolicitudAprobacionById" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarSolicitudAprobacionById" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarSolicitudAprobacionByIdInput" type="ConsultarSolicitudAprobacionByIdInput"/>
   <xs:complexType name="ConsultarSolicitudAprobacionByIdInput">
      <xs:sequence>
         <xs:element name="idSolicitud" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarSolicitudAprobacionByIdOutputCollection" type="ConsultarSolicitudAprobacionByIdOutputCollection"/>
   <xs:complexType name="ConsultarSolicitudAprobacionByIdOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarSolicitudAprobacionByIdOutput" type="ConsultarSolicitudAprobacionByIdOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarSolicitudAprobacionByIdOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE_OPERACION" type="xs:string"/>
         <xs:element name="ID_TCA_TIPO_SOLICITUD" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_NIVEL_APROBACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ES_REUNION_VIRTUAL" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_INICIO" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_TERMINO" type="xs:dateTime" nillable="true"/>
         <xs:element name="HORA_REUNION" type="xs:dateTime" nillable="true"/>
         <xs:element name="LUGAR_REUNION" type="xs:string" nillable="true"/>
         <xs:element name="LOGIN_USUARIO_ASIGNA" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_ASIGNACION" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_CIERRE" type="xs:dateTime" nillable="true"/>
         <xs:element name="LOGIN_USUARIO_CIERRE" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_CLIENTE" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE_CLIENTE" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>