BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/CrearEquipoTrabajoCliente/V1/Schema/CrearEquipoTrabajoClienteMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/EquipoTrabajoClienteMO"
            targetNamespace="http://www.bcie.org/EquipoTrabajoClienteMO" elementFormDefault="qualified"
            xmlns:eqTrBO="http://www.bcie.org/EqipoTrabajo/V1"
            xmlns:resBO="http://www.bcie.org/ResultBO"
            xmlns:cliBO="http://www.bcie.org/ClienteBO">
            
  <xsd:import schemaLocation="../../../../../BPM/Schema/Comun/EquipoTrabajo/V1/EquipoTrabajoOPN.xsd" 
              namespace="http://www.bcie.org/EqipoTrabajo/V1"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:import schemaLocation="../../../../DominioCliente/Cliente/V1/Schema/ClienteBO.xsd" namespace="http://www.bcie.org/ClienteBO"/>
  
  <xsd:element name="CrearEquipoTrabajoClienteRequest" type="CrearEquipoTrabajoClienteRequestType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CrearEquipoTrabajoClienteResponse" type="CrearEquipoTrabajoClienteResponseType"/>
  <xsd:complexType name="CrearEquipoTrabajoClienteRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="cliBO:idCliente"/>
      <xsd:element name="listadoEquipoTrabajo" type="eqTrBO:ListadoEquipoTrbajo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearEquipoTrabajoClienteResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
