BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/CrearReporteNoObjecion/XSD/ReporteNoObjecionesType.xsd

<?xml version='1.0' encoding='UTF-8'?>
<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<xsd:schema xmlns:ns0="http://www.bcie.org/herramientaOfismatica/ReporteNoObjeciones"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://www.bcie.org/herramientaOfismatica/ReporteNoObjeciones"
            elementFormDefault="qualified">
  <xsd:complexType name="informeResultadosOtrosType">
    <xsd:sequence>
      <xsd:element name="estatusProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReporteTemplate">
    <xsd:sequence>
      <xsd:element name="Pais" type="xsd:string"/>
      <xsd:element name="NombreOperacion" type="xsd:string"/>
      <xsd:element name="TituloProceso" type="xsd:string"/>
      <xsd:element name="NumeroProceso" type="xsd:string"/>
      <xsd:element name="Aviso" type="ns0:AvisoType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="informeResultadosAdjudicados" type="ns0:informeResultadosAdjudicadoType" minOccurs="0"
                   maxOccurs="unbounded" nillable="true"/>
      <xsd:element name="informeResultadosOtros" type="ns0:informeResultadosOtrosType" minOccurs="0"
                   maxOccurs="unbounded" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
   <xsd:complexType name="AvisoType">
        <xsd:sequence>
            <xsd:element name="modalidadProceso" type="xsd:string"/>
            <xsd:element name="nombreOperacion" type="xsd:string"/>
            <xsd:element name="nombreOrganismoEjecutor" type="xsd:string"/>
            <xsd:element name="objetivoAdquisicion" type="xsd:string"/>
            <xsd:element name="LugarPropuesta" type="xsd:string"/>
            <xsd:element name="direccionPropuesta" type="xsd:string"/>
            <xsd:element name="fechaInicio" type="xsd:string"/>
            <xsd:element name="fechaFin" type="xsd:string"/>
            <xsd:element name="direccionElectronica" type="xsd:string"/>
            <xsd:element name="fechaRecepcionPropuestas" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
  <xsd:complexType name="informeResultadosAdjudicadoType">
    <xsd:sequence>
      <xsd:element name="Adjudicado" type="xsd:string"/>
      <xsd:element name="lstAdjudicados" type="ns0:ListaAdjudicados" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReporteNoObjeciones">
    <xsd:sequence>
      <xsd:element name="ReporteTemplate" type="ns0:ReporteTemplate" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaAdjudicados">
    <xsd:sequence>
      <xsd:element name="nombreAdjudicatario" type="xsd:string"/>
      <xsd:element name="nacionalidad" type="xsd:string"/>
      <xsd:element name="montoAdjudicadoUSD" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>