BCIE_fenix/features/MCP/5003/ADF-BPM/bpm/PA03AdministracionCondiciones/PA03AdministracionCondicionesProcess/SOA/businessCatalog/CondicionesType/TareasActivas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3.0.0.00.00" build="02.10" fullName="CondicionesType.TareasActivas" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/CondicionesType/TareasActivas" elementFormDefault="qualified" xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/CondicionesType/Tareas"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/CondicionesType/TareasActivas"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/CondicionesType/Tareas" schemaLocation="Tareas.xsd"/>
    <xs:complexType name="TareasActivasType">
        <xs:sequence>
            <xs:element name="tareas" nillable="true" type="ns1:TareasType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="TareasActivas" type="TareasActivasType"/>
</xs:schema>
