BCIE_fenix/qa/SOA/03-SOA-SERVICES/Utilidades/ConsultarAtributosUsuario/SOA/Schemas/IdentityService.xsd

<?xml version="1.0"?>
<xsd:schema xmlns:tns="http://services.oracle.com/bpel/services/IdentityService"
            xmlns="http://xmlns.oracle.com/bpel/services/IdentityService"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:isc="http://www.oracle.com/pcbpel/identityservice/isconfig"
            xmlns:ns1="http://xmlns.oracle.com/bpel/services/IdentityService"
            targetNamespace="http://xmlns.oracle.com/bpel/services/IdentityService"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
 <xsd:import namespace="http://www.oracle.com/pcbpel/identityservice/isconfig"
             schemaLocation="is_config.xsd"/>
 <!-- //////////////////// BPEL Process Manager Schemas//////////////////// -->
 <!-- **********************************
                 Type definitions
         *********************************** -->
 <xsd:simpleType name="LogicalOperatorEnumType">
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="AND"/>
   <xsd:enumeration value="OR"/>
  </xsd:restriction>
 </xsd:simpleType>
 <!--                                                  -->
 <xsd:simpleType name="UnaryOperatorEnumType">
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="NOT"/>
  </xsd:restriction>
 </xsd:simpleType>
 <!--                                                  -->
 <xsd:simpleType name="OperatorEnumType">
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="EQUAL"/>
   <xsd:enumeration value="NOTEQ"/>
   <xsd:enumeration value="LESS"/>
   <xsd:enumeration value="MORE"/>
   <xsd:enumeration value="MOREEQ"/>
   <xsd:enumeration value="EQLESS"/>
  </xsd:restriction>
 </xsd:simpleType>
 <!--                                                  -->
 <xsd:element name="roleClassifier" default="ALL_ROLES">
  <xsd:simpleType>
   <xsd:restriction base="xsd:string">
    <xsd:enumeration value="ALL_ROLES"/>
    <xsd:enumeration value="APP_ROLES"/>
    <xsd:enumeration value="ENT_ROLES"/>
   </xsd:restriction>
  </xsd:simpleType>
 </xsd:element>
 <!--                                                  -->
 <xsd:complexType name="FilterType">
  <xsd:choice maxOccurs="unbounded">
   <xsd:element ref="filter"/>
   <xsd:element ref="predicate"/>
  </xsd:choice>
  <xsd:attribute name="unaryOperator" type="UnaryOperatorEnumType"
                 use="optional" fixed="NOT"/>
  <xsd:attribute name="logicalOperator" type="LogicalOperatorEnumType"
                 use="optional" default="AND"/>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:complexType name="PredicateType">
  <xsd:sequence>
   <xsd:element name="name" type="xsd:string"/>
   <xsd:element name="operator" type="OperatorEnumType"/>
   <xsd:element name="value" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--         Deprecated                               -->
 <xsd:complexType name="ActionType">
  <xsd:sequence>
   <xsd:element name="name" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--         Deprecated                               -->
 <xsd:complexType name="ActionListType">
  <xsd:sequence>
   <xsd:element ref="action" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="PermissionType">
  <xsd:sequence>
   <xsd:element name="className"/>
   <xsd:element name="targetName" type="xsd:string"/>
   <xsd:element name="actions" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:simpleType name="ValueType">
  <xsd:restriction base="xsd:string">
   <xsd:enumeration value="STRING"/>
   <xsd:enumeration value="BYTES"/>
  </xsd:restriction>
 </xsd:simpleType>
 <!--                                                  -->
 <xsd:complexType name="AttributeType">
  <xsd:sequence>
   <xsd:element name="name" type="xsd:string"/>
   <xsd:element name="value" type="xsd:string" maxOccurs="unbounded"/>
  </xsd:sequence>
  <xsd:attribute name="type" type="ValueType" use="optional" default="STRING"/>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:complexType name="LocaleSpecificUserNamesResponseType">
  <xsd:sequence>
   <xsd:element name="userLocalizedName" type="xsd:string" minOccurs="1"
                maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:complexType name="LocaleSpecificGroupNamesResponseType">
  <xsd:sequence>
   <xsd:element name="groupLocalizedName" type="xsd:string" minOccurs="1"
                maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:complexType name="ObjectAttributeListType">
  <xsd:sequence>
   <xsd:element ref="attribute" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:complexType name="PrincipalObjectType">
  <xsd:sequence>
   <xsd:element name="name" type="xsd:string"/>
   <xsd:element name="displayName" type="xsd:string" minOccurs="0"/>
   <xsd:element name="description" type="xsd:string" minOccurs="0"/>
   <xsd:element name="guid" type="xsd:string" minOccurs="0"/>
   <xsd:element name="uniqueName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:complexType name="IdentityObjectType">
  <xsd:complexContent>
   <xsd:extension base="PrincipalObjectType">
    <xsd:sequence>
     <xsd:element name="identityType" type="xsd:string"/>
     <xsd:element name="email" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:complexType name="UserObjectType">
  <xsd:complexContent>
   <xsd:extension base="IdentityObjectType">
    <xsd:sequence>
     <xsd:element name="title" type="xsd:string" minOccurs="0"/>
     <xsd:element name="firstName" type="xsd:string" minOccurs="0"/>
     <xsd:element name="middleName" type="xsd:string" minOccurs="0"/>
     <xsd:element name="lastName" type="xsd:string" minOccurs="0"/>
     <xsd:element name="workPhone" type="xsd:string" minOccurs="0"/>
     <xsd:element name="homePhone" type="xsd:string" minOccurs="0"/>
     <xsd:element name="mobile" type="xsd:string" minOccurs="0"/>
     <xsd:element name="pager" type="xsd:string" minOccurs="0"/>
     <xsd:element name="fax" type="xsd:string" minOccurs="0"/>
     <xsd:element name="manager" type="xsd:string" minOccurs="0"/>
     <xsd:element name="timeZone" type="xsd:string" minOccurs="0"/>
     <xsd:element name="languagePreference" type="xsd:language" minOccurs="0"/>
     <xsd:element name="notificationPreferences" type="xsd:string"
                  minOccurs="0"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:complexType name="RoleObjectType">
  <xsd:complexContent>
   <xsd:extension base="IdentityObjectType">
    <xsd:sequence>
     <xsd:element name="owners" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:complexType name="AppRoleObjectType">
  <xsd:complexContent>
   <xsd:extension base="RoleObjectType">
    <xsd:sequence>
     <xsd:element name="appId" type="xsd:string"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <!--                                                  -->
 <!--    -->
 <xsd:complexType name="GroupObjectType">
  <xsd:complexContent>
   <xsd:extension base="RoleObjectType">
    <xsd:sequence/>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:complexType name="PrincipalObjectListType">
  <xsd:sequence>
   <xsd:element ref="principalObject" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:complexType name="UserObjectListType">
  <xsd:sequence>
   <xsd:element ref="userObject" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:complexType name="RoleObjectListType">
  <xsd:sequence>
   <xsd:element ref="roleObject" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:complexType name="GroupObjectListType">
  <xsd:sequence>
   <xsd:element ref="groupObject" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:complexType name="AppRoleObjectListType">
  <xsd:sequence>
   <xsd:element ref="appRoleObject" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--
        ************************************************** 
                Common and Request Types
        *************************************************
 -->
 <xsd:complexType name="PrincipalType">
  <xsd:simpleContent>
   <xsd:extension base="xsd:string"/>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:complexType name="IdentityType">
  <xsd:simpleContent>
   <xsd:extension base="PrincipalType"/>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:complexType name="UserType">
  <xsd:simpleContent>
   <xsd:extension base="IdentityType"/>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:complexType name="RoleType">
  <xsd:simpleContent>
   <xsd:extension base="IdentityType"/>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:complexType name="AppRoleType">
  <xsd:simpleContent>
   <xsd:extension base="RoleType"/>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:complexType name="GroupType">
  <xsd:simpleContent>
   <xsd:extension base="RoleType"/>
  </xsd:simpleContent>
 </xsd:complexType>
 <xsd:complexType name="PrincipalListType">
  <xsd:sequence>
   <xsd:element ref="principal" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="UserListType">
  <xsd:sequence>
   <xsd:element ref="user" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="GroupListType">
  <xsd:sequence>
   <xsd:element ref="group" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="RoleListType">
  <xsd:sequence>
   <xsd:element ref="role" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="AppRoleListType">
  <xsd:sequence>
   <xsd:element ref="appRole" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="LookupRequestType">
  <xsd:sequence>
   <xsd:element name="name" type="xsd:string"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="LocaleSpecificUserNamesRequestType">
  <xsd:sequence>
   <xsd:element name="userName" type="xsd:string" minOccurs="1"
                maxOccurs="unbounded"/>
   <xsd:element name="locale" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="LocaleSpecificGroupNamesRequestType">
  <xsd:sequence>
   <xsd:element name="groupName" type="xsd:string" minOccurs="1"
                maxOccurs="unbounded"/>
   <xsd:element name="locale" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="UserAttributeRequestType">
  <xsd:sequence>
   <xsd:element name="userName" type="xsd:string"/>
   <xsd:element name="attributeName" type="xsd:string"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="LookupRoleRequestType">
  <xsd:sequence>
   <xsd:element name="roleName" type="xsd:string"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="LookupAppRoleRequestType">
  <xsd:sequence>
   <xsd:element name="roleName" type="xsd:string"/>
   <xsd:element name="appId" type="xsd:string"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="LookupGroupRequestType">
  <xsd:sequence>
   <xsd:element name="groupName" type="xsd:string"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="GroupAttributeRequestType">
  <xsd:sequence>
   <xsd:element name="groupName" type="xsd:string"/>
   <xsd:element name="attributeName" type="xsd:string"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--  deprecated 
	<xsd:complexType name="RealmNameType">
		<xsd:sequence>
			<xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	 -->
 <xsd:complexType name="RequestType">
  <xsd:sequence>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--                                                                        -->
 <xsd:complexType name="ApplicationsRequestType">
  <xsd:complexContent>
   <xsd:extension base="RequestType">
    <xsd:sequence/>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="ConfigurationRequestType">
  <xsd:complexContent>
   <xsd:extension base="RequestType">
    <xsd:sequence/>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="UsersRequestType">
  <xsd:complexContent>
   <xsd:extension base="RequestType">
    <xsd:sequence/>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="GroupsRequestType">
  <xsd:complexContent>
   <xsd:extension base="RequestType">
    <xsd:sequence/>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="AppRolesRequestType">
  <xsd:sequence>
   <xsd:element name="appId" type="xsd:string" minOccurs="0"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--                                                                        -->
 <xsd:complexType name="SearchRequestType">
  <xsd:sequence>
   <xsd:choice>
    <xsd:element ref="attribute" minOccurs="0"/>
    <xsd:element ref="filter" minOccurs="0"/>
   </xsd:choice>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="SearchByAttributeRequestType">
  <xsd:sequence>
   <xsd:element ref="attribute"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="SearchByFilterRequestType">
  <xsd:sequence>
   <xsd:element ref="filter"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--  deprecated 
	<xsd:complexType name="SearchRoleRequestType">
		<xsd:sequence>
			<xsd:choice>
				<xsd:element ref="attribute" minOccurs="0"/>
				<xsd:element ref="filter" minOccurs="0"/>
			</xsd:choice>
			<xsd:element ref="roleClassifier" minOccurs="0"/>
			<xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	 -->
 <xsd:complexType name="SearchAppRoleRequestType">
  <xsd:sequence>
   <xsd:element name="roleName" type="xsd:string"/>
   <xsd:element name="appId" type="xsd:string" minOccurs="0"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ManagementChainRequestType">
  <xsd:sequence>
   <xsd:element name="userName" type="xsd:string"/>
   <xsd:element name="upToUserName" type="xsd:string" minOccurs="0"/>
   <xsd:element name="upToTitle" type="xsd:string" minOccurs="0"/>
   <xsd:element name="upToLevel" type="xsd:integer" minOccurs="0"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--  deprecated 
	<xsd:complexType name="UserInRoleRequestType">
		<xsd:sequence>
			<xsd:element name="userName" type="xsd:string"/>
			<xsd:element name="roleName" type="xsd:string"/>
			<xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	-->
 <xsd:complexType name="ReporteesRequestType">
  <xsd:sequence>
   <xsd:element name="userName" type="xsd:string"/>
   <xsd:element name="upToLevel" type="xsd:integer" default="1"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--    -->
 <xsd:complexType name="GranteesRequestType">
  <xsd:sequence>
   <xsd:element name="roleName" type="xsd:string"/>
   <xsd:element name="direct" type="xsd:boolean" default="true"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--    -->
 <xsd:complexType name="GranteesToGroupRequestType">
  <xsd:sequence>
   <xsd:element name="groupName" type="xsd:string"/>
   <xsd:element name="direct" type="xsd:boolean" default="true"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="GranteesToAppRoleRequestType">
  <xsd:sequence>
   <xsd:element name="roleName" type="xsd:string"/>
   <xsd:element name="appId" type="xsd:string"/>
   <xsd:element name="direct" type="xsd:boolean" default="true"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--    -->
 <!--    -->
 <xsd:complexType name="RoleOwnersRequestType">
  <xsd:sequence>
   <xsd:element name="roleName" type="xsd:string"/>
   <xsd:element name="direct" type="xsd:boolean" default="true"/>
   <xsd:element ref="realmName" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="GroupOwnersRequestType">
  <xsd:sequence>
   <xsd:element name="groupName" type="xsd:string"/>
   <xsd:element name="direct" type="xsd:boolean" default="true"/>
   <xsd:element ref="realmName" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="OwnedRolesByUserRequestType">
  <xsd:sequence>
   <xsd:element name="userName" type="xsd:string"/>
   <xsd:element name="direct" type="xsd:boolean" default="true"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="OwnedRolesByRoleRequestType">
  <xsd:sequence>
   <xsd:element name="roleName" type="xsd:string"/>
   <xsd:element name="direct" type="xsd:boolean" default="true"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="OwnedGroupsByGroupsRequestType">
  <xsd:sequence>
   <xsd:element name="groupName" type="xsd:string"/>
   <xsd:element name="direct" type="xsd:boolean" default="true"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--    -->
 <xsd:complexType name="AuthenticationRequestType">
  <xsd:sequence>
   <xsd:element name="userName" type="xsd:string"/>
   <xsd:element name="password" type="xsd:string"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="GrantedRolesToUserRequestType">
  <xsd:sequence>
   <xsd:element name="userName" type="xsd:string"/>
   <xsd:element name="direct" type="xsd:boolean" default="true"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="GrantedRolesToRoleRequestType">
  <xsd:sequence>
   <xsd:element name="roleName" type="xsd:string"/>
   <xsd:element name="direct" type="xsd:boolean" default="true"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="GrantedRolesToAppRoleRequestType">
  <xsd:sequence>
   <xsd:element name="roleName" type="xsd:string"/>
   <xsd:element name="appId" type="xsd:string"/>
   <xsd:element name="direct" type="xsd:boolean" default="true"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="GrantedRolesToGroupRequestType">
  <xsd:sequence>
   <xsd:element name="groupName" type="xsd:string"/>
   <xsd:element name="direct" type="xsd:boolean" default="true"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="HasPermissionRequestType">
  <xsd:sequence>
   <xsd:element name="userName" type="xsd:string"/>
   <xsd:element name="permission" type="PermissionType"/>
   <xsd:element name="appId" type="xsd:string"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="HasPermissionForAppRoleRequestType">
  <xsd:sequence>
   <xsd:element name="appRoleName" type="xsd:string"/>
   <xsd:element name="permission" type="PermissionType"/>
   <xsd:element name="appId" type="xsd:string"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="GetPermissionsRequestType">
  <xsd:sequence>
   <xsd:element name="userName" type="xsd:string"/>
   <xsd:element name="appId" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="GetPermissionsForAppRoleRequestType">
  <xsd:sequence>
   <xsd:element name="appRoleName" type="xsd:string"/>
   <xsd:element name="appId" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="PermissionCollectionType">
  <xsd:sequence>
   <xsd:element name="permission" type="PermissionType" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="RealmListType">
  <xsd:sequence>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"
                maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ApplicationListType">
  <xsd:sequence>
   <xsd:element name="appId" type="xsd:string" minOccurs="0"
                maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="PositionListType">
  <xsd:sequence>
   <xsd:element name="position" type="xsd:string" minOccurs="1"
                maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="DisplayNameType">
  <xsd:sequence>
   <xsd:element name="displayname" type="PositionDisplayNameType"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="PositionDisplayNameType">
  <xsd:sequence>
   <xsd:element name="positionId" type="xsd:string"/>
   <xsd:element name="name" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="GrantedPositionsToUserRequestType">
  <xsd:sequence>
   <xsd:element name="userName" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="GranteesToPositionRequestType">
  <xsd:sequence>
   <xsd:element name="positionName" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="PositionDisplayNamesRequestType">
  <xsd:sequence>
   <xsd:element name="positions" type="PositionListType"/>
   <xsd:element name="language" type="xsd:string"/>
   <xsd:element name="country" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="SearchableUserAttributesRequestType">
  <xsd:complexContent>
   <xsd:extension base="RequestType">
    <xsd:sequence/>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <!--                                            -->
 <!--            Error Types                     -->
 <!--                                            -->
 <xsd:complexType name="ServiceErrorType">
  <xsd:sequence>
   <xsd:element name="code" type="xsd:int"/>
   <xsd:element name="message" type="xsd:string"/>
   <xsd:element name="description" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <!-- Status Type -->
 <xsd:complexType name="ServiceStatusType">
  <xsd:sequence>
   <xsd:element name="running" type="xsd:boolean"/>
   <xsd:element name="statusMessage" type="xsd:string" minOccurs="0"/>
   <xsd:element name="errorCode" type="xsd:int" minOccurs="0"/>
   <xsd:element name="errorMessage" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--                                                  -->
 <xsd:complexType name="ServiceStatusRequestType">
  <xsd:sequence>
   <xsd:element name="service" type="isc:ServiceType" default="Identity"
                minOccurs="0"/>
   <xsd:element name="realmName" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ManagerType">
  <xsd:sequence>
   <xsd:element name="userObject" type="UserObjectType" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--
        ************************************************** 
                Additional Response Type 
        *************************************************
    -->
 <xsd:simpleType name="ValidationResultType">
  <xsd:restriction base="xsd:boolean"/>
 </xsd:simpleType>
 <!--                                                  -->
 <xsd:complexType name="LookupResponseType">
  <xsd:sequence>
   <xsd:element ref="principalObject"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="PositionDisplayNamesResponseType">
  <xsd:sequence>
   <xsd:element name="displaynames" type="PositionDisplayNameType" minOccurs="0"
                maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="SearchableUserAttributesResponseType">
  <xsd:sequence>
   <xsd:element name="attributeName" type="xsd:string" minOccurs="0"
                maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <!--
    ********************************************************
          IdentityService Elements used in XPATH functions
    ******************************************************** 
 -->
 <xsd:element name="principal" type="PrincipalType" abstract="true"/>
 <xsd:element name="identity" type="IdentityType" substitutionGroup="principal"
              abstract="true"/>
 <xsd:element name="role" type="RoleType" substitutionGroup="identity"
              abstract="true"/>
 <xsd:element name="appRole" type="AppRoleType" substitutionGroup="role"/>
 <xsd:element name="group" type="GroupType" substitutionGroup="role"/>
 <xsd:element name="user" type="UserType" substitutionGroup="identity"/>
 <xsd:element name="principals" type="PrincipalListType"/>
 <xsd:element name="managers" type="PrincipalListType"/>
 <xsd:element name="roles" type="RoleListType"/>
 <xsd:element name="appRoles" type="AppRoleListType"/>
 <xsd:element name="groups" type="GroupListType"/>
 <xsd:element name="users" type="UserListType"/>
 <!-- xsd:element name="userInRole"       type="ValidationResultType"/ -->
 <!--
    *****************************
         IdentityService Elements
    ***************************** 
-->
 <!--               common elements                   -->
 <xsd:element name="realmName" type="xsd:string"/>
 <xsd:element name="principalObject" type="PrincipalObjectType"
              abstract="true"/>
 <xsd:element name="identityObject" type="IdentityObjectType"
              substitutionGroup="principalObject" abstract="true"/>
 <xsd:element name="roleObject" type="RoleObjectType"
              substitutionGroup="identityObject" abstract="true"/>
 <xsd:element name="appRoleObject" type="AppRoleObjectType"
              substitutionGroup="roleObject"/>
 <xsd:element name="groupObject" type="GroupObjectType"
              substitutionGroup="roleObject"/>
 <xsd:element name="userObject" type="UserObjectType"
              substitutionGroup="identityObject"/>
 <xsd:element name="managementChain" type="UserObjectListType"/>
 <!--                                                  -->
 <xsd:element name="userObjects" type="UserObjectListType"/>
 <xsd:element name="groupObjects" type="GroupObjectListType"/>
 <xsd:element name="appRoleObjects" type="AppRoleObjectListType"/>
 <xsd:element name="roleObjects" type="RoleObjectListType"/>
 <xsd:element name="principalObjects" type="PrincipalObjectListType"/>
 <!--                                                  -->
 <xsd:element name="filter" type="FilterType"/>
 <xsd:element name="predicate" type="PredicateType"/>
 <xsd:element name="action" type="ActionType"/>
 <xsd:element name="attribute" type="AttributeType"/>
 <!--
	**************************************************************************
           All Identity Service Request elements used by inbound messages
	************************************************************************** 
 -->
 <xsd:element name="userAttributeRequest" type="UserAttributeRequestType"/>
 <xsd:element name="groupAttributeRequest" type="GroupAttributeRequestType"/>
 <xsd:element name="localeSpecificUserNamesRequest"
              type="LocaleSpecificUserNamesRequestType"/>
 <xsd:element name="localeSpecificGroupNamesRequest"
              type="LocaleSpecificGroupNamesRequestType"/>
 <xsd:element name="lookupUserRequest" type="LookupRequestType"/>
 <xsd:element name="lookupGroupRequest" type="LookupRequestType"/>
 <xsd:element name="lookupRoleRequest" type="LookupRequestType"/>
 <xsd:element name="lookupAppRoleRequest" type="LookupAppRoleRequestType"/>
 <!--                                                                         -->
 <xsd:element name="managerRequest" type="LookupRequestType"/>
 <xsd:element name="managementChainRequest" type="ManagementChainRequestType"/>
 <!--                                                                         -->
 <xsd:element name="searchUsersRequest" type="SearchRequestType"/>
 <xsd:element name="searchGroupsRequest" type="SearchRequestType"/>
 <xsd:element name="searchUsersByAttributeRequest"
              type="SearchByAttributeRequestType"/>
 <xsd:element name="searchGroupsByAttributeRequest"
              type="SearchByAttributeRequestType"/>
 <xsd:element name="searchUsersByFilterRequest"
              type="SearchByFilterRequestType"/>
 <xsd:element name="searchGroupsByFilterRequest"
              type="SearchByFilterRequestType"/>
 <xsd:element name="searchAppRolesRequest" type="SearchAppRoleRequestType"/>
 <!--                                                                         -->
 <xsd:element name="defaultRealmNameRequest" type="xsd:string"/>
 <xsd:element name="supportedRealmNamesRequest" type="xsd:string"/>
 <xsd:element name="configuredApplicationsRequest"
              type="ApplicationsRequestType"/>
 <xsd:element name="configurationsRequest" type="xsd:string"/>
 <xsd:element name="configurationRequest" type="ConfigurationRequestType"/>
 <!--                                                                         -->
 <xsd:element name="reporteesRequest" type="ReporteesRequestType"/>
 <xsd:element name="granteesRequest" type="GranteesRequestType"/>
 <xsd:element name="granteesToAppRoleRequest"
              type="GranteesToAppRoleRequestType"/>
 <xsd:element name="granteesToGroupRequest" type="GranteesToGroupRequestType"/>
 <xsd:element name="participantsRequest" type="GranteesRequestType"/>
 <xsd:element name="participantsToAppRoleRequest"
              type="GranteesToAppRoleRequestType"/>
 <xsd:element name="participantsToGroupRequest"
              type="GranteesToGroupRequestType"/>
 <xsd:element name="grantedRolesToUserRequest"
              type="GrantedRolesToUserRequestType"/>
 <xsd:element name="grantedRolesToRoleRequest"
              type="GrantedRolesToRoleRequestType"/>
 <xsd:element name="grantedRolesToAppRoleRequest"
              type="GrantedRolesToAppRoleRequestType"/>
 <xsd:element name="grantedRolesToGroupRequest"
              type="GrantedRolesToGroupRequestType"/>
 <xsd:element name="hasPermissionRequest" type="HasPermissionRequestType"/>
 <xsd:element name="hasPermissionForAppRoleRequest"
              type="HasPermissionForAppRoleRequestType"/>
 <xsd:element name="getPermissionsRequest" type="GetPermissionsRequestType"/>
 <xsd:element name="getPermissionsForAppRoleRequest"
              type="GetPermissionsForAppRoleRequestType"/>
 <xsd:element name="getAllPermissionsRequest" type="xsd:string"/>
 <xsd:element name="authenticationRequest" type="AuthenticationRequestType"/>
 <!-- ownership requests -->
 <xsd:element name="ownedRolesByUserRequest"
              type="OwnedRolesByUserRequestType"/>
 <xsd:element name="ownedRolesByRoleRequest"
              type="OwnedRolesByRoleRequestType"/>
 <!-- 
	<xsd:element name="ownedRolesByAppRoleRequest"     type="OwnedRolesByAppRoleRequestType"/>
	<xsd:element name="ownedRolesByGroupRequest"       type="OwnedRolesByGroupRequestType"/>
	 -->
 <xsd:element name="roleOwnersRequest" type="RoleOwnersRequestType"/>
 <xsd:element name="groupOwnersRequest" type="GroupOwnersRequestType"/>
 <xsd:element name="roleManagersRequest" type="RoleOwnersRequestType"/>
 <xsd:element name="managedRolesByUserRequest" type="RoleOwnersRequestType"/>
 <xsd:element name="managedRolesByRoleRequest" type="RoleOwnersRequestType"/>
 <xsd:element name="appRolesRequest" type="AppRolesRequestType"/>
 <!--         for deprecated operations                                       -->
 <xsd:element name="usersRequest" type="UsersRequestType"/>
 <xsd:element name="groupsRequest" type="GroupsRequestType"/>
 <xsd:element name="granteesToPositionRequest"
              type="GranteesToPositionRequestType"/>
 <xsd:element name="grantedPositionsToUserRequest"
              type="GrantedPositionsToUserRequestType"/>
 <xsd:element name="positionDisplayNamesRequest"
              type="PositionDisplayNamesRequestType"/>
 <xsd:element name="searchableUserAttributesRequest"
              type="SearchableUserAttributesRequestType"/>
 <!-- 
        ************************************************************* 
         All Identity Service Responses used by outbound messages
        *************************************************************  
 -->
 <xsd:element name="manager" type="ManagerType"/>
 <xsd:element name="objectAttributes" type="ObjectAttributeListType"/>
 <xsd:element name="principalsResponse" type="PrincipalObjectListType"/>
 <xsd:element name="reportees" type="UserObjectListType"/>
 <xsd:element name="participants" type="UserObjectListType"/>
 <xsd:element name="grantees" type="PrincipalObjectListType"/>
 <xsd:element name="owners" type="PrincipalObjectListType"/>
 <xsd:element name="realms" type="RealmListType"/>
 <xsd:element name="applications" type="ApplicationListType"/>
 <xsd:element name="authentication" type="ValidationResultType"/>
 <xsd:element name="hasPermission" type="ValidationResultType"/>
 <xsd:element name="hasPermissionForAppRole" type="ValidationResultType"/>
 <xsd:element name="getPermissions" type="PermissionCollectionType"/>
 <xsd:element name="getPermissionsForAppRole" type="PermissionCollectionType"/>
 <xsd:element name="getAllPermissions" type="PermissionCollectionType"/>
 <xsd:element name="localeSpecificUserNames"
              type="LocaleSpecificUserNamesResponseType"/>
 <xsd:element name="localeSpecificGroupNames"
              type="LocaleSpecificGroupNamesResponseType"/>
 <xsd:element name="value" type="xsd:string"/>
 <xsd:element name="managerName" type="xsd:string"/>
 <!--                                                  -->
 <!-- Exceptions and Status -->
 <xsd:element name="identityServiceError" type="ServiceErrorType"/>
 <xsd:element name="identityNotFoundError" type="ServiceErrorType"/>
 <xsd:element name="identityConfigServiceError" type="ServiceErrorType"/>
 <!--                                                  -->
 <xsd:element name="serviceStatus" type="ServiceStatusType"/>
 <xsd:element name="serviceStatusRequest" type="ServiceStatusRequestType"/>
 <xsd:element name="positionDisplayNamesResponse"
              type="PositionDisplayNamesResponseType"/>
 <xsd:element name="searchableUserAttributesResponse"
              type="SearchableUserAttributesResponseType"/>
</xsd:schema>
