BCIE_fenix/qa/SOA/03-SOA-SERVICES/Utilidades/ConsultarAtributosUsuario/SOA/Schemas/is_config.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.oracle.com/pcbpel/identityservice/isconfig" 
            xmlns:isc="http://www.oracle.com/pcbpel/identityservice/isconfig" 
	    xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" 
            xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" 
	    jaxb:version="1.0" 
	    jaxb:extensionBindingPrefixes="xjc"
            targetNamespace="http://www.oracle.com/pcbpel/identityservice/isconfig" 
            elementFormDefault="qualified" 
            attributeFormDefault="unqualified">
        
        <!--                        ANNOTATIONS                                -->
        <xsd:annotation>
		<xsd:appinfo>
			<jaxb:globalBindings>
	       			<xjc:simple />                 
	       		</jaxb:globalBindings>
	   	</xsd:appinfo>
 	</xsd:annotation>
        <!--                                                                   -->
	<xsd:complexType name="PropertyType">
		<xsd:attribute name="name" type="xsd:string" use="required"/>
		<xsd:attribute name="value" type="xsd:string" use="required"/>
	</xsd:complexType>
        <!--                                                                   -->
	<xsd:complexType name="PoolType">
		<xsd:attribute name="initsize" type="xsd:string"/>
		<xsd:attribute name="maxsize" type="xsd:string"/>
		<xsd:attribute name="prefsize" type="xsd:string"/>
		<xsd:attribute name="timeout" type="xsd:string"/>
	</xsd:complexType>
        <!--                                                                   -->
	<xsd:complexType name="ConnectionType">
		<xsd:sequence>
			<xsd:element name="property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="pool" type="PoolType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="url" type="xsd:string"/>
		<xsd:attribute name="binddn" type="xsd:string"/>
		<xsd:attribute name="password" type="xsd:string"/>
		<xsd:attribute name="encrypted" type="xsd:boolean"/>
	</xsd:complexType>
        <!--                                                                   -->
	<xsd:complexType name="AttributeMapType">
		<xsd:sequence>
			<xsd:element name="property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<!--                                                                   -->
	<xsd:complexType name="SearchType">
		<xsd:sequence>
			<xsd:element name="property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="searchbase" type="xsd:string"/>
		<xsd:attribute name="scope" type="ScopeType"/>
		<xsd:attribute name="maxSizeLimit" type="xsd:string"/>
		<xsd:attribute name="maxTimeLimit" type="xsd:string"/>
	</xsd:complexType>
        <!--                                                                   -->
        <xsd:complexType name="SearchableUserAttributeMapType">
                <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                    <xsd:element name="attributeMapEntry" type="PropertyType"/>
                </xsd:sequence>
        </xsd:complexType>
        <!--                                                                   -->
	<xsd:complexType name="UserControlsType">
		<xsd:sequence>
			<xsd:element name="property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="search" type="SearchType" minOccurs="0"/>
			<xsd:element name="attributeMap" type="AttributeMapType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
        <!--                                                                   -->
	<xsd:complexType name="RoleControlsType">
		<xsd:sequence>
			<xsd:element name="property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="search" type="SearchType" minOccurs="0"/>
			<xsd:element name="attributeMap" type="AttributeMapType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
        <!--                                                                   -->         
	<xsd:complexType name="ProviderType">
		<xsd:sequence>
			<xsd:element name="property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="connection" type="ConnectionType" minOccurs="0"/>
			<xsd:element name="userControls" type="UserControlsType" minOccurs="0"/>
			<xsd:element name="roleControls" type="RoleControlsType" minOccurs="0"/>                 
                        <xsd:element name="searchableUserAttributeMap" type="SearchableUserAttributeMapType" minOccurs="0"/>
		</xsd:sequence>
		<xsd:attribute name="providerType" type="ProviderTypeType" use="required"/>
		<xsd:attribute name="name" type="xsd:string"/>
		<xsd:attribute name="service" type="ServiceType" default="Identity"/>
		<xsd:attribute name="class" type="xsd:string">
			<xsd:annotation>
				<xsd:appinfo>
					<jaxb:property name="className"/>
				</xsd:appinfo>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
        <!--                                                                   -->
	<xsd:simpleType name="ServiceType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="Identity"/>
			<xsd:enumeration value="Authentication"/>
			<xsd:enumeration value="Authorization"/>
		</xsd:restriction>
	</xsd:simpleType>
        <!--                                                                   -->	
	<xsd:simpleType name="ProviderTypeType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="JPS"/>
			<xsd:enumeration value="IDM"/>
			<xsd:enumeration value="CUSTOM"/>
		</xsd:restriction>
	</xsd:simpleType>
        <!--                                                                   -->
	<xsd:simpleType name="ScopeType">
		<xsd:restriction base="xsd:NMTOKEN">
			<xsd:enumeration value="onelevel"/>
			<xsd:enumeration value="subtree"/>
		</xsd:restriction>
	</xsd:simpleType>
        <!--                                                                   -->	
	<xsd:complexType name="ConfigurationType">
		<xsd:sequence>
			<xsd:element name="provider" type="ProviderType"  minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
		<xsd:attribute name="realmName" type="xsd:string" use="required"/>
		<xsd:attribute name="default" type="xsd:boolean" default="false"/>
		<xsd:attribute name="displayName" type="xsd:string"/>
	</xsd:complexType>
        <!--                                                                   -->	
	<xsd:complexType name="ConfigurationListType">
		<xsd:sequence>
			<xsd:element name="configuration" type="ConfigurationType" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
 <xsd:complexType name="ServiceExtension">
  <xsd:sequence>
   <xsd:element name="serviceProviders">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="serviceProviders" type="ServiceProviderType"
                   maxOccurs="unbounded" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:sequence>
 </xsd:complexType>
 
<xsd:complexType name="ServiceProviderType">
    <xsd:sequence>
      <xsd:element name="initializationParameter" type="PropertyType"
               maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="type" type="ServiceProviderExtensionType" use="required"/>
    <xsd:attribute name="classname" use="required" type="xsd:string"/>
</xsd:complexType>

<xsd:complexType name="ServiceExtensionType">
    <xsd:sequence>
      <xsd:element name="serviceProvider" type="ServiceProviderType"
               maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" use="required"/>
</xsd:complexType>

<xsd:complexType name="ServiceExtensionsType">
    <xsd:sequence>
      <xsd:element name="serviceExtension" type="ServiceExtensionType"
               maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
</xsd:complexType>

<xsd:simpleType name="ServiceProviderExtensionType">
    <xsd:restriction base="xsd:NMTOKEN">
        <xsd:enumeration value="supervisoryHierarchyProvider"/>
        <xsd:enumeration value="jobLevelHierarchyProvider"/>
        <xsd:enumeration value="positionHierarchyProvider"/>
        <xsd:enumeration value="positionDisplayNameProvider"/>
        <xsd:enumeration value="positionLookupProvider"/>
    </xsd:restriction>
</xsd:simpleType>



 <!--                                                                   -->	
	<xsd:complexType name="ISConfigurationType">
		<xsd:sequence>
			<xsd:element name="configurations" type="ConfigurationListType" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="property" type="PropertyType" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="serviceExtensions" type="ServiceExtensionsType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

        <!-- uncomment those 2 elements for .NET compatibility 
	<xsd:element name="configuration" type="ConfigurationType"/>
	<xsd:element name="configurations" type="ConfigurationListType"/>
        -->

	<xsd:element name="ISConfiguration" type="ISConfigurationType"/>

</xsd:schema>
