AG_2019/SOA/JDAModifyRetailStoreProcess/SOA/WSDLs/v1.0.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions targetNamespace="http://mx.agarcia.ea/Applications/JDA/RetailStores/ModifyRetailStore/v1.0" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://mx.agarcia.ea/Applications/JDA/RetailStores/ModifyRetailStore" xmlns:WL5G3N2="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:WL5G3N3="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:WL5G3N4="http://mx.agarcia.ea/Applications/JDA/RetailStores/ModifyRetailStore/v1.0" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/">
   <WL5G3N0:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:client="http://mx.agarcia.ea/Applications/JDA/RetailStores/ModifyRetailStore/v1.0" xmlns:ns1="http://mx.agarcia.ea/Applications/JDA/RetailStores/ModifyRetailStore" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
         <import namespace="http://mx.agarcia.ea/Applications/JDA/RetailStores/ModifyRetailStore" schemaLocation="http://uat-osb.agarcia.com.mx:7004/Applications/JDA/JDARetailStore/PS/JDAModifyRetailStorePXY/v1.0?SCHEMA%2FApplications%2FJDA%2FJDARetailStore%2FSchema%2FJDAModifyRetailStoreSchema"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="http://uat-osb.agarcia.com.mx:7004/Applications/JDA/JDARetailStore/PS/JDAModifyRetailStorePXY/v1.0?SCHEMA%2FCapabilities%2FFoundation%2FSchemas%2FCommons%2FAGStandardMessageSchema"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="http://uat-osb.agarcia.com.mx:7004/Applications/JDA/JDARetailStore/PS/JDAModifyRetailStorePXY/v1.0?SCHEMA%2FCapabilities%2FFoundation%2FSchemas%2FCommons%2FAGStandardHeaderSchema"/>
      </schema>
   </WL5G3N0:types>
   <WL5G3N0:message name="modifyRetailStoreRequestMessage">
      <WL5G3N0:part name="modifyRetailStoreRequestMessage" element="WL5G3N1:modifyRetailStoreRequest"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="modifyRetailStoreResponseMessage">
      <WL5G3N0:part name="modifyRetailStoreResponseMessage" element="WL5G3N1:modifyRetailStoreResponse"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="standardMessageFault">
      <WL5G3N0:part name="fault" element="WL5G3N3:messageError"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="standardMessageHeader">
      <WL5G3N0:part name="header" element="WL5G3N2:headerMessage"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="standardMessageHeaderResponse">
      <WL5G3N0:part name="headerRes" element="WL5G3N3:messageResponse"/>
   </WL5G3N0:message>
   <WL5G3N0:portType name="modifyRetailStorePort">
      <WL5G3N0:operation name="modify">
         <WL5G3N0:input message="WL5G3N4:modifyRetailStoreRequestMessage"/>
         <WL5G3N0:output message="WL5G3N4:modifyRetailStoreResponseMessage"/>
         <WL5G3N0:fault name="fault" message="WL5G3N4:standardMessageFault"/>
      </WL5G3N0:operation>
   </WL5G3N0:portType>
   <WL5G3N0:binding name="modifyRetailStoreBinding" type="WL5G3N4:modifyRetailStorePort">
      <WL5G3N5:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <WL5G3N0:operation name="modify">
         <WL5G3N5:operation style="document" soapAction="http://mx.agarcia.ea/Applications/JDA/RetailStores/ModifyRetailStore/v1.0/modify"/>
         <WL5G3N0:input>
            <WL5G3N5:body use="literal" parts="modifyRetailStoreRequestMessage"/>
            <WL5G3N5:header message="WL5G3N4:standardMessageHeader" part="header" use="literal"/>
         </WL5G3N0:input>
         <WL5G3N0:output>
            <WL5G3N5:body use="literal" parts="modifyRetailStoreResponseMessage"/>
         </WL5G3N0:output>
         <WL5G3N0:fault name="fault">
            <WL5G3N5:fault name="fault" use="literal"/>
         </WL5G3N0:fault>
      </WL5G3N0:operation>
   </WL5G3N0:binding>
   <WL5G3N0:service name="modifyRetailStoreBindingQSService">
      <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
      <WL5G3N0:port name="modifyRetailStoreBindingQSPort" binding="WL5G3N4:modifyRetailStoreBinding">
         <WL5G3N5:address location="http://uat-osb.agarcia.com.mx:7004/Applications/JDA/JDARetailStore/PS/JDAModifyRetailStorePXY/v1.0"/>
      </WL5G3N0:port>
   </WL5G3N0:service>
</WL5G3N0:definitions>
