Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBPmt/PmtSessionInq/PmtSessionInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/PmtSessionInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptPmtSessionInq="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/PmtSessionInq_V1.0">
	<xs:element name="PmtSessionInqRq_Type" type="appoptPmtSessionInq:PmtSessionInqRq_Type"/>
	<xs:complexType name="PmtSessionInqRq_Type">
		<xs:sequence/>
	</xs:complexType>
	<xs:element name="PmtSessionInqRs_Type" type="appoptPmtSessionInq:PmtSessionInqRs_Type"/>
	<xs:complexType name="PmtSessionInqRs_Type">
		<xs:sequence>
			<xs:element name="Status">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StatusCode" type="xs:string" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Código del estado</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StatusDesc" type="xs:string" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Descripción del estado</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Session">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SessionLogin" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Identificador de la sesión</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PmtSessionInqRq" type="appoptPmtSessionInq:PmtSessionInqRq_Type"/>
	<xs:element name="PmtSessionInqRs" type="appoptPmtSessionInq:PmtSessionInqRs_Type"/>
</xs:schema>
