AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/DownloadOrderAPP/DownloadOrderService/Resources/FileEdi.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:tns="http://TargetNamespace.com/ftpDownloarOrder" targetNamespace="http://TargetNamespace.com/ftpDownloarOrder" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="US-ASCII">


  <xsd:element name="bodyFile">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded" nxsd:choiceCondition="fixedLength" nxsd:length="5">
        <xsd:element name="FHEAD" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="FHEAD">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="GentranID" type="xsd:string" nxsd:style="fixedLength" nxsd:length="5"/>
              <xsd:element name="CurrentDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TORDR" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="TORDR">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="TransactionNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="OrderChangeType" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2"/>
              <xsd:element name="OrderNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="Supplier" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="VendorOrderId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="15"/>
              <xsd:element name="OrderWrittenDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="OriginalOrderApprovalDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="OldCurrencyCode" type="xsd:string" nxsd:style="fixedLength" nxsd:length="3"/>
              <xsd:element name="NewCurrencyCode" type="xsd:string" nxsd:style="fixedLength" nxsd:length="3"/>
              <xsd:element name="OldShipmentMethod" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2"/>
              <xsd:element name="NewShipmentMethod" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2"/>
              <xsd:element name="OldTransportationResponsability" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2"/>
              <xsd:element name="OldTransportationResponsabilityDesc" type="xsd:string" nxsd:style="fixedLength" nxsd:length="250"/>
              <xsd:element name="NewTransportationResponsability" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2"/>
              <xsd:element name="NewTransportationResponsabilityDesc" type="xsd:string" nxsd:style="fixedLength" nxsd:length="250"/>
              <xsd:element name="OldTitlePasageLocation" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2"/>
              <xsd:element name="NewTitlePasageLocation" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2"/>
              <xsd:element name="OldTitlePasageDesc" type="xsd:string" nxsd:style="fixedLength" nxsd:length="250"/>
              <xsd:element name="NewTitlePasageDesc" type="xsd:string" nxsd:style="fixedLength" nxsd:length="250"/>
              <xsd:element name="OldNotBeforeDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="NewNotBeforeDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="OldNotAfterDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="NewNotAfterDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="OldPurchaseDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6"/>
              <xsd:element name="NewPurchaseDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6"/>
              <xsd:element name="BackhaulAllowance" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
              <xsd:element name="OldTermsDesc" type="xsd:string" nxsd:style="fixedLength" nxsd:length="240"/>
              <xsd:element name="NewTermsDesc" type="xsd:string" nxsd:style="fixedLength" nxsd:length="240"/>
              <xsd:element name="OldPickUpDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="NewPickUpDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="OldShipMethod" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6"/>
              <xsd:element name="NewShipMethod" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6"/>
              <xsd:element name="OldCommentDesc" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2000"/>
              <xsd:element name="NewCommentDesc" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2000"/>
              <xsd:element name="SupplierDUNSNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="9"/>
              <xsd:element name="SupplierDUNSLocation" type="xsd:string" nxsd:style="fixedLength" nxsd:length="4"/>
              <xsd:element name="CustomerOrderNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="48"/>
              <xsd:element name="FulfillmentOrderNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="48"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TITEM" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="TITEM">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="TransactionNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="ItemNumType" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6"/>
              <xsd:element name="Item" type="xsd:string" nxsd:style="fixedLength" nxsd:length="25"/>
              <xsd:element name="OldRefItemNumType" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6"/>
              <xsd:element name="OldRefItem" type="xsd:string" nxsd:style="fixedLength" nxsd:length="25"/>
              <xsd:element name="NewRefItemNumType" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6"/>
              <xsd:element name="NewRefItem" type="xsd:string" nxsd:style="fixedLength" nxsd:length="25"/>
              <xsd:element name="VendorCatalogNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="30"/>
              <xsd:element name="FreeFormDesc" type="xsd:string" nxsd:style="fixedLength" nxsd:length="250"/>
              <xsd:element name="SupplierDiff1" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120"/>
              <xsd:element name="SupplierDiff2" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120"/>
              <xsd:element name="SupplierDiff3" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120"/>
              <xsd:element name="SupplierDiff4" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120"/>
              <xsd:element name="PackSize" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TSHIP" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="TSHIP">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="TransactionNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="LocationType" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2"/>
              <xsd:element name="ShipToLocation" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="OldUnitCost" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
              <xsd:element name="NewUnitCost" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
              <xsd:element name="OldQuantity" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="NewQuantity" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="OldOutstandingQuantity" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="NewOutstandingQuantity" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="CancelCode" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="OldCancelledQuantity" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="NewCancelledQuantity" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="QuantityTypeFlag" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="StoreOrWH" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2"/>
              <xsd:element name="OldxDockLocation" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="NewxDockLocation" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="CaseLength" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="CaseWidth" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="CaseHeight" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="CaseLWHUnitOfMeasure" type="xsd:string" nxsd:style="fixedLength" nxsd:length="4"/>
              <xsd:element name="CaseWeight" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="CaseWeightUnitOfMeasure" type="xsd:string" nxsd:style="fixedLength" nxsd:length="4"/>
              <xsd:element name="CaseLiquidVolume" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="CaseLiquidVolumeUnitOfMeasure" type="xsd:string" nxsd:style="fixedLength" nxsd:length="4"/>
              <xsd:element name="LocationDUNSNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="9"/>
              <xsd:element name="LocationDUNSLoc" type="xsd:string" nxsd:style="fixedLength" nxsd:length="4"/>
              <xsd:element name="OldUnitCostInit" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
              <xsd:element name="NewUnitCostInit" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
              <xsd:element name="ItemLocDiscounts" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TTAIL" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="TTAIL">
          <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="TransactionNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="TransactionLines" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="FTAIL" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="FTAIL">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
        <xsd:element name="NumLines" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=edidlord.txt</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>