Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Check/ChkAdd/ChkAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/ChkAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptChkAdd="http://xmlns.banesco.com/eopt/ChkAdd_V1.0" xmlns:eoChk="http://xmlns.banesco.com/eo/Chk_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Chk_V1.0" schemaLocation="../../../EO/Acct/Chk_V1.0.xsd"/>
	<xs:element name="ChkAddRq" type="eoptChkAdd:ChkAddRq_Type"/>
	<xs:element name="ChkAddRs" type="eoptChkAdd:ChkAddRs_Type"/>
	<xs:complexType name="Acct">
		<xs:sequence>
			<xs:element name="ChkBook" type="eoChk:ChkBook" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkAddRq_Type">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Acct" type="eoptChkAdd:Acct" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkAddRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
