Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/CardCr/CardCrPledgeMod/CardCrPledgeMod_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/CardCrPledgeMod_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptCardCrPledgeMod="http://xmlns.banesco.com/eopt/CardCrPledgeMod_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoCard="http://xmlns.banesco.com/eo/Card_V1.0" xmlns:eoCollateral="http://xmlns.banesco.com/eo/Collateral_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../../../EO/Common/Common_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Collateral_V1.0" schemaLocation="../../../EO/Acct/Collateral_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Card_V1.0" schemaLocation="../../../EO/Card/Card_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../../AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="CardCrPledgeModRq" type="eoptCardCrPledgeMod:CardCrPledgeModRq_Type"/>
	<xs:element name="CardCrPledgeModRs" type="eoptCardCrPledgeMod:CardPledgeCrModRs_Type"/>
	<xs:complexType name="Acct">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="AcctType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctKey" type="eoptCardCrPledgeMod:AcctKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctReference" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cuenta de referencia que genera T24</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctMember" type="eoptCardCrPledgeMod:AcctMember" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctMember">
		<xs:sequence>
			<xs:element name="PartyKey" type="eoptCardCrPledgeMod:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Agency">
		<xs:sequence>
			<xs:element name="AgencyIdent" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Card">
		<xs:annotation>
			<xs:documentation>The Card Object supports the services related to Issuing, Management, and Servicing of Credit, Debit, Prepaid and Private Label cards.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardKey" type="eoptCardCrPledgeMod:CardKey" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardCrPledgeModRq_Type">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Acct" type="eoAcct:Acct" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Card" type="eoCard:Card" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Collateral" type="eoCollateral:Collateral" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PersonData" type="eoPar:PersonData" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardKey">
		<xs:annotation>
			<xs:documentation>The Card Object supports the services related to Issuing, Management, and Servicing of Credit, Debit, Prepaid and Private Label cards</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardNum" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardPledgeCrModRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Collateral">
		<xs:sequence>
			<xs:element name="CollateralAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto/Moneda de la Garantía</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollateralSubType" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Bien Inmueble</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollateralType" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Garantía</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripción del Bien.

Posibles valores:

CASA
APARTAMENTO
TERRENOS
EDIFICIO
LOCALES COMERCIALES
GALERA
BODEGAS
FINCA O GRANJA
ALMACEN O TIENDA
HOTEL
ESTACIONES DE GASOLINA
TEATRO
OTROS BIENES INMUEBLES</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyKey" type="eoptCardCrPledgeMod:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Customer Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Collaterkey" type="eoptCardCrPledgeMod:CollateralKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIData" type="eoptCardCrPledgeMod:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PropertyInfo" type="eoptCardCrPledgeMod:PropertyInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CollateralKey">
		<xs:sequence>
			<xs:element name="CollateralId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Collateral Reference Number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FIData">
		<xs:sequence>
			<xs:element name="Agency" type="eoptCardCrPledgeMod:Agency" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>Party is a person or organization. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyKey" type="eoptCardCrPledgeMod:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyData">
		<xs:annotation>
			<xs:documentation>Party Data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Contact" type="eoCom:Contact" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Information Contact.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyType" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonData">
		<xs:annotation>
			<xs:documentation>Person Data Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="eoptCardCrPledgeMod:PartyData">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PropertyInfo">
		<xs:annotation>
			<xs:documentation>Property Info</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CentralBankValue" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Bco. Central</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExecutionValue" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Ejecución</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GenLedgerValue" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Libro Mayor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ThirdPartyValue" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Terceros</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
