Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/Utility/TrnPmtInq/TrnPmtInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/UtilityAppSvc/TrnPmtInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptTrnPmtInq="http://xmlns.banesco.com/appopt/UtilityAppSvc/TrnPmtInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="TrnPmtInqRs" type="appoptTrnPmtInq:TrnPmtInqRs_Type"/>
	<xs:complexType name="TrnPmtInqRq_Type">
		<xs:sequence>
			<xs:element name="Login" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Login</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference transaction.

Reference associated with the operation or transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrnPmtInqRs_Type">
		<xs:sequence>
			<xs:element name="BeneficiaryName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del beneficiario o destinatario de la operación</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commission" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto de la comisión para la operación</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditAcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de cuenta crédito, número de crédito o número de tarjeta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebitAcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de cuenta débito</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de procesamiento de la operación (en la que se hizo efectiva la transacción)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffHr" type="appoptcommon:timePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hora de procesamiento de la operación (en la que se hizo efectiva la transacción)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreqPmt" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Frecuencia del pago (frecuencia del pago si es un standing order)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntermediaryBank" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Banco intermediario (si aplica, operaciones internacionales)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de identificación del cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Login" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Login</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de Pago: Si es un pago futuro o Standing Order</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TargetBank" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Banco destino (banco beneficiario, en caso de transferencias ACH e internacionales, instantáneas para RD)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Taxes" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto del impuesto para la operación para la transacciones que cobran impuestos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto/Moneda de la operación</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripción de la operación realizada. (Descripción que el cliente coloca para reconocer la transacción)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference transaction.

Reference associated with the operation or transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnStatus" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status o resultado de la operación (pendiente, ejecutada, rechazada)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TrnPmtInqRq" type="appoptTrnPmtInq:TrnPmtInqRq_Type"/>
</xs:schema>
