Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/SCHChk/ChkEnableAdd/ChkEnableAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/SCHChkAppSvc/ChkEnableAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptChkEnableAdd="http://xmlns.banesco.com/appopt/SCHChkAppSvc/ChkEnableAdd_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="ChkEnableAddRq" type="appoptChkEnableAdd:ChkEnableAddRq_Type"/>
	<xs:element name="ChkEnableAddRs" type="appoptChkEnableAdd:ChkEnableAddRs_Type"/>
	<xs:complexType name="Acct">
		<xs:sequence>
			<xs:element name="AcctKey" type="appoptChkEnableAdd:AcctKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ChkBook" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="1">
						<xs:element name="ChkQty" type="xs:int" minOccurs="0" maxOccurs="1"/>
						<xs:element name="StartNum" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="ChkBookKey" type="appoptChkEnableAdd:ChkBookKey" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctKey">
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkBookKey">
		<xs:sequence>
			<xs:element name="RequestId" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkEnableAddRq_Type">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Acct" type="appoptChkEnableAdd:Acct" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkEnableAddRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
