AG_2019/SOA/JDAUpdateStyle/SOA/Schemas/BusinessAreas/Products/Items/ItemCommonTypeSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Products/Items/CommonsTypes/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Products/Items/CommonsTypes/v1" xmlns:enums="http://mx.agarcia.ea/Canonical/Commons/Enums/v1" xmlns:cit="http://mx.agarcia.ea/Canonical/Commons/Items/v1" xmlns:ctyp="http://mx.agarcia.ea/Canonical/Commons/Types/v1" xmlns:lang="http://mx.agarcia.ea/Canonical/Commons/Languages/v1" xmlns:ctry="http://mx.agarcia.ea/Canonical/Commons/Countries/v1" elementFormDefault="qualified">
   <xs:import schemaLocation="../../../Commons/CommonEnums.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Enums/v1"/>
   <xs:import schemaLocation="../../../Commons/CommonTypeSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Types/v1"/>
   <xs:import schemaLocation="../../../Commons/CountryTypeSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Countries/v1"/>
   <xs:import schemaLocation="../../../Commons/ItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Items/v1"/>
   <xs:import schemaLocation="../../../Commons/LanguageSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Languages/v1"/>
   <xs:complexType name="ItemCommonData">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="ItemID">
            <xs:annotation>
               <xs:documentation>Unique number for this item – represents this
						class of item,
						represented by PLU, GTIN, UPC, other
					</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="cit:ItemIDCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="LotNumber" type="xs:string">
            <xs:annotation>
               <xs:documentation>A number or code associated with an item lot. In
						some cases,
						the lot number will be populated with a date (common in
						grocery and
						deli).
						A lot number may be assigned by a manufaturer or
						retailer.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Name">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="xs:string">
                     <xs:attribute form="unqualified" name="Language" type="lang:BasicLanguageCode"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Description">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="ctyp:DescriptionCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="MerchandiseHierarchy">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="cit:MerchandiseHierarchyCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ScanCode">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="xs:string">
                     <xs:attribute form="unqualified" name="TypeCode" type="cit:ScanDataTypeCode"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute form="unqualified" name="PriceEntryRequiredFlag" type="xs:boolean" use="optional"/>
      <xs:attribute form="unqualified" name="PriceVerifyFlag" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:simpleType name="KitActionTypeCode">
      <xs:union memberTypes="base:KitActionTypeCodeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="KitActionTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="IsPartOf"/>
         <xs:enumeration value="AddsTo"/>
         <xs:enumeration value="IsRemovedFrom"/>
         <xs:enumeration value="Void"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="KitCommonData">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="KitID" type="cit:ItemIDCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="Name" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="Description">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="ctyp:DescriptionCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute default="IsPartOf" form="unqualified" name="Action" type="base:KitActionTypeCode" use="optional"/>
      <xs:attribute default="true" form="unqualified" name="ModifiableFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>Indicates whether this kit may or may not be
					modified
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:simpleType name="ItemTypeActions">
      <xs:union memberTypes="base:ItemTypeActionsEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="ItemTypeActionsEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="AddItem"/>
         <xs:enumeration value="ChangeItem"/>
         <xs:enumeration value="DeleteItem"/>
         <xs:enumeration value="AddUpdate">
            <xs:annotation>
               <xs:documentation>This is meant to add if the item is not there,
						otherwise
						update what is there
					</xs:documentation>
            </xs:annotation>
         </xs:enumeration>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="ItemType">
      <xs:complexContent>
         <xs:extension base="base:ItemCommonData">
            <xs:sequence>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="CountryOfOrigin">
                  <xs:annotation>
                     <xs:documentation>EAN.UCC Definition: The country code (codes) in
								which
								the goods have been produced or manufactured, according to
								criteria
								established for the purposes of application of the value
								may or
								may
								not be presented on the trade item label. Examples:
								"124" = Canada,
								"840" United States Business Rules: This
								information is for
								customs
								purpose in case of importation or legal
								requirements regarding
								customer information for some categories
								of trade item (e.g. meats
								and fruits) Information can be repeated
								if multiple countries are
								valid. In this case, the buyer will
								only know the actual country
								of
								origin at the time of delivery.
								Code list ISO 3166-1
								code.
							</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="xs:string">
                           <xs:attribute default="US" name="CountryCode" type="ctry:CountryCode" use="optional"/>
                           <xs:attribute name="CountryName" type="xs:string" use="optional"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element minOccurs="0" name="SellingUnits" type="xs:decimal"/>
               <xs:element minOccurs="0" name="UsageCode" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>This code defines how this item may be used
								within a
								store. Usage is a function of how an item may be
								consumed or
								disposed of by the store
							</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element maxOccurs="unbounded" minOccurs="0" name="ItemSensitivity" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>identifies the level of consumer sensitivity to
								sharp
								price increase or decrease. High selling items like "soft
								drink"
								usually have a high sensitivity levels.
							</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
            </xs:sequence>
            <xs:attribute default="false" name="ActivationRequiredFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates that the item needs to be activated
							when sold.
							The example would be a stored value card or gift
							certificate that
							would
							require the POS to send an activation
							request when the item is sold.
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="true" name="AllowInLayawayFlag" type="xs:boolean" use="optional"/>
            <xs:attribute default="false" name="AllowManualWeighFlag" type="xs:boolean" use="optional"/>
            <xs:attribute default="true" name="AllowQuantityKeyedFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates whether the quantity of an item is
							modifiable at
							the POS.
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="AlterableFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates this item can be modified, i.e. cuffs
							on men's
							pants, wedding dresses, painting on kitchen cabinets
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="AssemblyRequiredFlag" type="xs:boolean" use="optional"/>
            <xs:attribute default="true" name="AuthorizedForSaleFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>A flag to indicate that the RETAIL STORE is
							authorized to
							sell this particular ITEM.
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="true" name="CustomerOrderFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates whether a customer can order this
							item
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="DangerousGoodsFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>EAN.UCC Definition: Indication, whether the
							trade item
							and/or at least one of its packaging components because
							of its
							properties - according to the respective national or
							international
							legislation for transport by road, rail, river, sea
							or air (e.g. the
							European dangerous goods agreements (ADR/RID) for
							transport by
							road and
							rail) - must be classified as dangerous good,
							and thus is subject to
							the
							respective regulations. Examples:
							Business Rules: Boolean Y/N Hazardous
							attributes relate to supply
							chain handling (e.g., transport,
							storage,
							handling).
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="NotDeliverable" name="DeliverableType" type="base:DeliverableTypeCodes" use="optional"/>
            <xs:attribute default="false" name="DepositFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates that deposit is required. Other rules
							would
							dictate the amount of the deposit.
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="true" name="DirectOrderFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates whether this item can be directly
							ordered from
							the store by a customer
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="true" name="DiscountableFlag" type="xs:boolean" use="optional"/>
            <xs:attribute default="true" name="ExchangeableFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates a core can be taken for this item,
							i.e. battery,
							alternator, ...
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="HazardousItemFlag" type="xs:boolean" use="optional"/>
            <xs:attribute default="false" name="KitOnlyFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates this item can only be sold in a
							kit
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="MaterialSafetyDataSheetFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>EAN.UCC Definition: Indicates whether there
							exists a
							material safety data sheet for the trade item. This is a
							data sheet with
							the most important characteristics, protected
							measures and
							regulations
							to be adhered to when handling this trade
							item. It is relevant
							above all
							for dangerous substances. Business
							Rules: Boolean Y/N Information
							required when
							dangerousGoodsIndicator equals Y.
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="NonShelfItemFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Identifies this item as being too big to put on
							the shelf
							and must be picked up at or delivered from an inventory
							location,
							i.e.
							piano, couches, ...
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="true" name="NonSoldItemReturnableFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>EAN.UCC Definition: Indicates that the buyer can
							return
							the articles that are not sold. Used, for example; with
							magazines
							and
							bread. This is a y/n (Boolean) where y equals right
							of return. This is
							at least relevant to General Merchandise,
							Publishing industries
							and for
							some FMCG trade item. Business Rules:
							This attribute applies to
							certain
							industries, and applies to return
							of salable goods. This indicator
							identifies the general rule, and
							is not transaction based.
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="NotRecalledFlag" type="xs:boolean">
               <xs:annotation>
                  <xs:documentation>If false indicates this item has a recall
							notice. Not
							Recalled is the normal condition.
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="OpenDrawerFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates whether the drawer needs opened when
							the item is
							referenced during a transaction. An example would be
							the sale of postage
							stamps that are stored in a POS drawer.
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="PromotionableFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates that this is a promotional
							item
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="QuantityRequiredFlag" type="xs:boolean" use="optional"/>
            <xs:attribute default="false" name="RechargeableFlag" type="xs:boolean" use="optional"/>
            <xs:attribute default="true" name="RestockableFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates the inventory disposition of this item
							when it
							is returned (reverse logistics).
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="true" name="ReturnableFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates whether this item can be
							returned
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="SecondsFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates this is a second - targeted for an
							outlet
							store
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="SecurityRequiredFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates this item must be secured, I.e.
							diamonds
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="SerialNumberFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates whether this item has a serial number
							associated
							with it that the operator must enter;
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="SpecialOrderFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates this is a special ordered
							item
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="true" name="SpecialOrderableFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Available for special orders </xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="SubstituteFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>An ITEM for which there is a substitute
							available for sale
							within the RETAIL STORE.
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="TaxIncludedInPriceFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>indicates the tax is included</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" name="WeightEntryFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates whether a weight entry is required to
							process
							this item
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="AccessibleType">
      <xs:annotation>
         <xs:documentation>Start Availability Date Time - EAN.UCC Definition:
				The date
				(CCYY-MM-DDTHH:MM:SS) from which the trade item becomes
				available from the supplier,
				including seasonal or temporary trade
				item and services. Examples:
				"2002-02-05T17:00:00" February 5th 2002
				5:00:00pm Business Rules: If
				the trade item
				is public only one date
				(CCYY-MMDDTHH:MM:SS) is valid per GTIN, GLN,
				TM combination.
				If Item
				is private there can be more than 1 value per TM. Needs to be
				earlier than
				end availability date This date indicates when the trade
				item can first
				be ordered
				by the buyer from the information provider.
				This date can be trading
				partner
				dependent if the trade item or
				service is defined as private. It is trading
				partner
				neutral if the
				trade item/service is public. It does not indicate when this
				trade
				item becomes available to the end consumer (see first sale date)
				There
				is only one
				start availability date per GTIN/GLN/TM combination.
				Date format is
				ISO8601 –
				CCYY-MMDDTHH:MM:SS. End Availability Date
				Time - EAN.UCC Definition: The date from
				which the trade item is no
				longer available from the information
				provider, including
				seasonal or
				temporary trade item and services. Examples:
				"2002-02-05T17:00:00"
				February 5th 2002 5:00:00pm Business Rules: If the trade item is
				public only
				one
				date is valid per GTIN, GLN, TM combination. If Item
				is private there
				can be more
				than 1 value per TM. There is only one
				"end availability date" per
				GTIN/GLN/TM
				combination at any given time.
				In the case of seasonal trade items, only one
				start/end cycle can be
				in the data set version being synchronized.
				Therefore, a
				trade item
				cannot have multiple start/stop availability dates associated
				with it
				at
				any given time. Field is optional since most trade items are
				offered in
				an open
				ended environment. Is trading partner neutral for
				public trade items,
				trading
				partner dependent for private trade items.
				Date format is
				CCYY-MM-DDTHH:MM:SS.
				Consumer Availability Start Date
				Time - EAN.UCC Definition: The first
				date/time that
				the buyer is
				allowed to sell the trade item to consumers. Usually
				related to a
				specific geography. ISO 8601 date format CCYY-MM-DDTHH:MM:SS.
				Examples:
				"2002-02-05T17:00:00" February 5th 2002 5:00:00pm Business
				Rules:
				Time is expressed
				in the time zone of the target market where
				the trade item is intended
				for resale to
				consumers. ISO 8601 date
				format CCYY-MM-DDTHH:MM:SS.
			</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="Date" type="xs:date"/>
         <xs:element minOccurs="0" name="Time" type="xs:time"/>
         <xs:element minOccurs="0" name="DayOfTheWeek" type="xs:string"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AlternativeItemType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="SubstitutionReasonDescription" type="xs:string">
            <xs:annotation>
               <xs:documentation>A narrative describing the circumstances under
						which one item
						can be substituted for another. For instance, one
						item may be offered
						as an
						alternative in a gift registry scenario,
						but not in a clearance or
						promotional scenario.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AlterationItemType">
      <xs:annotation>
         <xs:documentation>Identifies the items that can be used to modify
				this
				item
			</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="AlterationInstructions" type="xs:string"/>
         <xs:element minOccurs="0" name="SpecialOrderNumber" type="xs:string"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ApparelItemType">
      <xs:sequence>
         <xs:element minOccurs="0" name="SilhouetteDescription" type="xs:string">
            <xs:annotation>
               <xs:documentation>Describes the cut or fit of the APPARELL ITEM.
						For example,
						shirts may be sold as slim or standard fit.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="FabricDescription" type="xs:string">
            <xs:annotation>
               <xs:documentation>Describes the material used to make the APPAREL
						ITEM
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Ornament" type="xs:string">
            <xs:annotation>
               <xs:documentation>A decorative detail that may be created on a
						Component (e.g.
						monogram on a Pocket) for a Style.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Pattern" type="xs:string">
            <xs:annotation>
               <xs:documentation>An optional classification of a Style as a solid,
						broad
						stripe, narrow stripe, plaid, floral print, tropical print,
						geometric
						shape,
						etc.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Material" type="xs:string">
            <xs:annotation>
               <xs:documentation>A specific substance used to manufacture products
						(garments,
						shoes, jewelry, etc) sold, e.g. cotton, wool, silk,
						canvas, gold,
						silver.
						Cotton, wool, silk and canvas would belong to
						the Fabric family, while
						gold
						and silver would belong to the Metal
						(precious or semi-precious)
						family.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MaterialIntrinsicType" type="xs:string">
            <xs:annotation>
               <xs:documentation>A grouping of materials based on their intrinsic
						constitution,
						e.g. natural vs. man-made (or synthetic).
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="MaterialPopularFamily" type="xs:string">
            <xs:annotation>
               <xs:documentation>An optional grouping of materials based on
						popular
						characteristics, e.g. Egyptian Cotton.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="MaterialType" type="xs:string">
            <xs:annotation>
               <xs:documentation>A grouping of materials based on their primary
						characteristics, e.g. Fabric, Leather, Precious Metal, Stone,
						Blend.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Weave">
            <xs:annotation>
               <xs:documentation>A process used to form fabric on a loom which
						determines the
						strength and surface of the fabric, e.g. twill,
						satin, rib, jacquard,
						pile,
						cable, ribbed, etc.
					</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="xs:string"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="WeaveDescription" type="xs:string">
            <xs:annotation>
               <xs:documentation>Text which names or describes a particular
						weave.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CollectionName" type="xs:string">
            <xs:annotation>
               <xs:documentation>A merchandising term created by the manufacturer,
						a title or
						description for a Collection.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CollectionCreationDate" type="xs:string">
            <xs:annotation>
               <xs:documentation>The date that a Collection was first defined.
						(season - e.g.
						Spring 98 that Collection is promoted?)
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="AssemblyInstructionsType">
      <xs:simpleContent>
         <xs:extension base="ctyp:DescriptionCommonData"/>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="BatchType">
      <xs:sequence>
         <xs:element name="BatchID" type="xs:string"/>
         <xs:element minOccurs="0" name="Description" type="ctyp:DescriptionCommonData"/>
         <xs:element minOccurs="0" name="ExecutionDateTime" type="xs:dateTime"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="BrandOwnerType">
      <xs:annotation>
         <xs:documentation>EAN.UCC Definition: Unique location number
				identifying the brand
				owner. May or may not be the same entity as the
				information provider,
				which actually
				enters and maintains data in data
				pools. Examples: GLN, DUNS_PLUS_FOUR
				Business
				Rules: The brand owner
				is the source of the data relating to the trade
				item, but is
				not
				necessarily responsible for providing and maintaining the data in
				the catalogue.
				This is the responsibility of the information
				provider.
			</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="Name" type="xs:string" use="optional">
               <xs:annotation>
                  <xs:documentation>EAN.UCC Definition: Name of the party who owns
							the brand
							of the trade item. Examples: Manufacturer of branded
							trade item -
							Can
							also be distributor or retailer that licenses a
							brand name to various
							private label manufacturers. Business Rules:
							Mandatory when
							brandOwner
							Party identification is provided
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="BulkType">
      <xs:annotation>
         <xs:documentation>purchased in bulk and is measured and sold by
				weight, volume or linear
				measure,e.g. Cut side of beef into steaks,
				hamburger, …
			</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="BulkToSellingUnitWasteTypeCode" type="xs:string">
            <xs:annotation>
               <xs:documentation>The code to denote the type of waste associated
						with the BULK
						ITEM when breaking down to retail selling units.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ChildOfTradeItem">
      <xs:annotation>
         <xs:documentation>from EAN.UCC</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="QuantityOfNextLowerLevelTradeItem" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The number of next lower
						level trade item
						that this trade item contains. Business Rules:
						This trade item may
						repeat if
						the GTIN of the lower level
						configuration repeats (e.g. if a
						combo-pack
						(mixed trade item) such
						as an assortment of crisps contains both chicken
						and
						cheese packets,
						the lowest level GTIN is that of each trade item in the
						assortment, not the GTIN of the assortment)
					</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DisplayType">
      <xs:annotation>
         <xs:documentation>Derived from ISO-639-2 Language Codes
			</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="Name" type="xs:string">
            <xs:annotation>
               <xs:documentation>The name by which the ITEM is known.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="BrandName" type="xs:string">
            <xs:annotation>
               <xs:documentation>A unique name to denote a class of ITEMs as a
						product of a
						single supplier or manufacturer. The brand can include private label
						ITEMs.
						EAN.UCC Definition: The recognizable name used by a brand owner to
						uniquely
						identify a line of trade item or services. This is recognizable by the
						consumer. Examples: ACME Business Rules: Free form text field, but
						not
						necessarily tied to language. Brands are more likely to be language
						independent. If a trade item does not have a brand, Use
						‘unbranded’ in the
						description. This is a Mandatory field. If a trade item is changed from
						being "Unbranded" to a brand, this requires a new GTIN. GTIN allocation
						rules may vary by industry.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SubBrandName" type="xs:string">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Second level of brand. Can be
						a trademark.
						It is the primary differentiating factor that a brand owner wants to
						communicate to the consumer or buyer. E.g. Yummy-Cola Classic. In
						this
						example Yummy-Cola is the brand and Classic is the
						subBrand.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ShortName" type="xs:string">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: A free form short length
						description of
						the trade item that can be used to identify the trade item at point
						of sale.
						Examples: Kel CrnF750g. Business Rules: Free form text field, this data
						element is repeatable for each language used and must be
						associated with a
						valid ISO language code.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Description">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Describes use of the product
						or service by
						the consumer. Should help clarify the product classification
						associated
						with the GTIN. Examples: drill, salad dressing, soup, beer. Business
						Rules:
						Free form text field, this data element is repeatable for each
						language used
						and must be associated with a valid ISO language.
					</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="ctyp:DescriptionCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Device" type="xs:string">
            <xs:annotation>
               <xs:documentation>If this display data is targeted for a particular
						device, that
						device is identified here
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ShelfLabel">
            <xs:annotation>
               <xs:documentation>Text to appear on the shelf label (physical or
						electronic)
					</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="xs:string">
                     <xs:attribute name="Format" type="xs:string" use="optional">
                        <xs:annotation>
                           <xs:documentation>Masking or other information to indicate the
										format of the label to be used by the system which generates
										the label information (physical or
										electronic)
									</xs:documentation>
                        </xs:annotation>
                     </xs:attribute>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="DocumentDisplayID" type="xs:string">
            <xs:annotation>
               <xs:documentation>A system dependent identifier which is used by
						the consuming
						application to trigger the display of a form or document when the item is
						referenced within the consuming application. An example is a
						document that
						is displayed telling the operator to ask for government
						identification when
						a gun is sold. Should be 0..n. In future versions we may want to
						try to
						enumerate common set of values.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ImageName" type="xs:string">
            <xs:annotation>
               <xs:documentation>Image name for the item</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="InvoiceName" type="xs:string">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Free form information
						provider assigned
						trade item description designed to match trade item/service description
						as
						noted on invoices. Business Rules: Free form text field, this data
						element
						is repeatable for each language used and must be associated with a
						valid ISO
						language code from the attached table. Most likely will include several
						abbreviations.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TradeItemDescription">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The concatenated product
						description of a
						product or service. See business rules. Examples*: When a supplier sends
						all
						information in maximum size the retailer will get for example following
						information:YummyCola_________________________Yummy______________________________Drink______________________________Big
						Size__________________________ For automatic use of this
						information, e.g.
						on a tag, a separator should be given between all elements. E.g:
						Yummy-Cola;
						Yummy; Drink; Big Size. Business Rules*: This field is automatically
						generated by the concatenation of the "brand"," sub-brand",
						"functional
						name" and variant. Free form text field, this data element is
						repeatable for
						each language used and must be associated with a valid ISO language
						code . *
						This is a derived attribute resulting from the concatenation of 4
						other
						attributes of up to 35 characters each (see Business Rules above). When
						implemented, these four attributes may be concatenated as
						appropriate. Item
						description is part of the set of core data that will be stored in the
						Registry.
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:maxLength value="143"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="TradeItemFormDescription">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The physical form or shape of
						the product.
						Used, for example, in pharmaceutical industry to indicate the
						formulation of
						the trade item. Defines the form the trade item takes and is distinct
						from
						the form of the packaging. Examples: "tablet", "powder", "gel",
						"shredded",
						"liquid","granules" Business Rules: Optional field that can be used to
						further describe a trade item's benefit delivery method. Free form text.
						(See examples)
					</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="ctyp:DescriptionCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="Variant" type="xs:string">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Free text field used to
						identify the
						variant of the product. Variants are the distinguishing characteristics
						that
						differentiate products with the same brand and size including such things as
						the particular flavor, fragrance, taste. Examples: Examples:
						Bananna,
						Strawberry, Lemon Scented. Business Rules: This is different from the Global
						EAN.UCC product classification variant. Free form text field, this
						data
						element is repeatable for each language used and must be associated with
						a
						valid ISO language code
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="DisplayUnitType">
      <xs:sequence>
         <xs:element name="ShelfItemsHeldCapacityCount" type="xs:nonNegativeInteger">
            <xs:annotation>
               <xs:documentation>The maximum number of SHELF ITEMS that can be
						stocked on the
						DISPLAY UNIT.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="SetupDate" type="xs:date">
            <xs:annotation>
               <xs:documentation>The date on which the DISPLAY UNIT can be setup
						within the
						RETAIL STORE
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TakeDownDate" type="xs:date">
            <xs:annotation>
               <xs:documentation>The date on which the display unit can be taken
						down by the
						RETAIL STORE
					</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FuelGradeType">
      <xs:sequence>
         <xs:element name="FuelGradeID" type="xs:string">
            <xs:annotation>
               <xs:documentation>The wet stock being dispensed at this fuel
						position
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Description" type="xs:string"/>
         <xs:element name="FuelProductID" type="xs:string">
            <xs:annotation>
               <xs:documentation>The fuel product id for the fuel grade. If it is
						a dispenser
						blended fuel grade then it is the fuel product id of the fuel product
						with
						the lowest octane in the blend.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="FuelProductIDHigh" type="xs:string">
            <xs:annotation>
               <xs:documentation>The fuel product id for the highest-octane fuel
						in a dispenser
						blended product.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FuelPositionID" type="xs:string">
            <xs:annotation>
               <xs:documentation>The physical location where the fuel is dispensed
						to one
						vehicle at a time.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FuelPositionType">
      <xs:sequence>
         <xs:element name="FuelGradeID" type="xs:string">
            <xs:annotation>
               <xs:documentation>The wet stock being dispensed at this fuel
						position
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="FuelPositionID" type="xs:nonNegativeInteger">
            <xs:annotation>
               <xs:documentation>The physical location where the fuel is dispensed
						to one
						vehicle at a time.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TankID" type="xs:string">
            <xs:annotation>
               <xs:documentation>The assigned identification for a fuel product
						tank. If it is
						a dispenser blended fuel grade then it is the Tank Id of the fuel
						product
						with the lowest octane in the blend.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FuelProductType">
      <xs:sequence>
         <xs:element name="FuelProductID" type="xs:string">
            <xs:annotation>
               <xs:documentation>The fuel product id for the fuel grade. If it is
						a dispenser
						blended fuel grade then it is the fuel product id of the fuel product
						with
						the lowest octane in the blend.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Description" type="xs:string">
            <xs:annotation>
               <xs:documentation>Description of the fuel product indicated by the
						fuel product
						Id
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="GroupType">
      <xs:sequence>
         <xs:element name="GroupID" type="xs:string">
            <xs:annotation>
               <xs:documentation>A user defined field used to enable arbitrary
						grouping of
						items. The ID field combined with the type allows the implementation of
						mulitple programs of the same type.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="GroupType" type="xs:string">
            <xs:annotation>
               <xs:documentation>A user defined field used to indicate to
						consuming systems the
						type of group. This would allow the consuming application to determine
						the
						context of the group and behave accordingly. Examples would be Mixmatch,
						discount, suggestive selling, prerequisite tools, price
						optimization,
						substitution, loyalty programs, incompatible items, quantity restrictions,
						time restrictions, premium eligible item, parking
						validation
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TradeItemGroupIdentificationCode" type="xs:string">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: A code assigned by the
						supplier or
						manufacturer to logically group trade item independently from the Global
						trade item Classification. Examples: Code representing a group of GTINs
						for
						all 501 Blue Jeans sizes and colors 123= GTIN1 501 Blue/38 GTIN2 501
						Blue/40
						GTIN3 501 Black/38 GTIN4 501 Black/40 Business Rules: Manufacturer
						assigned.
						This code is typically assigned to multiple GTINs.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="TradeItemGroupIdentificationDescription">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The text description of the
						value
						represented by the tradeitemGroupIDCode Examples: "501 Blue Jeans",
						represent all sized and colors of this trade item Business Rules: If trade
						itemGroupIDCode is present, description must be present. A
						description text
						field, this data element is repeatable for each language used and linked
						to
						data element "Description language".
					</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="ctyp:DescriptionCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="ProductRange" type="xs:string">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: A name, used by a BrandOwner,
						that span
						multiple consumer categories or uses. E.g. (Waist Watchers) Examples: The
						waist watcher product range includes salad dressings, receipt
						books, kitchen
						utensils, etc.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="HandlingType">
      <xs:annotation>
         <xs:documentation>from EAN.UCC</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="HandlingInstructionsCode" type="xs:string">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Defines the information and
						processes
						needed to safely handle the trade item. Handling instructions is
						composed of
						both text and a language code. The language for text is specified
						using the
						two digit ISO 639-1988 list, for example, English is EN and French is
						FR.
						Examples: DNF – Do Not Freeze “FTD” – Frost danger “HS” – Heat sensitive
						“HWC” – Handle with care Business Rules: Repeatable values are
						accepted.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="StackingFactor">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: A factor that determines the
						maximum
						stacking for the product. Indicates the number of levels the product may
						be
						stacked. Examples: Factor of "2" = trade item is stackable 2 high Business
						Rules: Factor will indicate how many levels the particular product
						may be
						stacked in. The counting of the levels will always commence at 1 not
						0.
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:nonNegativeInteger">
                  <xs:totalDigits value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="HazardousInformationType">
      <xs:annotation>
         <xs:documentation>from EAN.UCC</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="MaterialSafetyDataSheetNumber" type="xs:string">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Manufacturer's identification
						number for
						the material safety data sheet for a trade item. Examples: "4711",
						"ag34784", "zruifk" Business Rules: This is an internal number
						which is
						distributed by the manufacturer. Can be in any format. This attribute is
						mandatory if the Material Safety Data Sheet attribute is
						“Y”.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="ClassOfDangerousGoods">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Dangerous goods
						classification of the
						trade item. There are 9 danger classes, some classes are further
						subdivided
						into subclasses. Class number explains in general terms the nature and
						properties of the goods and serves to classify them together in
						terms of
						their most significant risk. Examples: Class “4.2”: Substances liable
						to
						spontaneous combustion. Class “6.1”: Toxic substances Business Rules:
						Information required when dangerousGoodsIndicator equals Y.
						Subsidiary risks
						given by repeating attribute value. Repeatable per
						dangerousGoodsRegulation
						code. Refer to UNECE code list. Hazardous attributes relate to supply
						chain
						handling (e.g., transport, storage, handling).
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DangerousGoodsHazardousCode">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Dangerous goods hazard ID
						number, which
						must be applied to the vehicle, when transporting this trade item
						(dangerous
						good) by road or rail, to inform the police, the fire brigade and
						others in
						case of an accident about the kind of danger caused by the cargo.
						Examples:
						- Business Rules: Information required when dangerousGoodsIndicator
						equals
						Y. Repeatable per dangerousGoodsRegulation code. Hazardous
						attributes
						relate to supply chain handling (e.g., transport, storage,
						handling).
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="DangerousGoodsPackingGroup">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Identifies the degree of risk
						these
						dangerous goods present during transport according to IATA/IMDG/ADR/RID
						regulations. Examples: Group I : Great danger - Packaging meeting
						criteria
						to pack hazardous materials with great danger. Business Rules:
						Information
						required when dangerousGoodsIndicator equals Y. Repeatable per
						dangerousGoodsRegulation code.
						http://www.unece.org/trade/untdid/d99b/tred/tred8339.htm Hazardous
						attributes relate to supply chain handling (e.g., transport,
						storage,
						handling).
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="DangerousGoodsRegulationCode" type="xs:string">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Code indicating the
						classification
						system(s) of dangerous goods and/or the Agency(ies) responsible for it.
						Examples: "ADR" European agreement on the international carriage
						of
						dangerous goods on roads. Business Rules: Various systems (ADR, RID, US49,
						IATA, etc.) exist and are used for hazard classification and
						identification.
						Information required when dangerousGoodsIndicator equals Y. Repeatable field
						http://www.unece.org/trade/untdid/d99b/tred/tred8273.htm Hazardous
						attributes relate to supply chain handling (e.g., transport,
						storage,
						handling).
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="DangerousGoodsShippingName">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Shipping name of the trade
						item (dangerous
						goods). The recognized agencies (see dangerousGoodsRegulationsCodes), in
						their regulations, provide a list of all acceptable proper
						shipping names.
						Examples: "Flammable Liquid" Business Rules: Information required when
						dangerousGoodsIndicator equals Y. Repeatable per
						dangerousGoodsRegulation
						code. Hazardous attributes relate to supply chain handling (e.g.,
						transport,
						storage, handling).
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="DangerousGoodsTechnicalName">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Chemical term of the trade
						item, listed by
						name and allowed in the substance list of GGVS (Dangerous Goods
						Ordinance
						for Roads) or GGVE (Dangerous Goods Ordinance for Rail). This is
						composed of
						both text and a language code. The language for text is specified
						using the
						two-digit ISO 639 list. Examples: "TRINITROCHLORO-BENZENE (PICRYL
						CHLORIDE),
						WETTED" Business Rules: Information required when dangerousGoodsIndicator
						equals Y. The technical names are listed in the order that they
						contribute
						to the danger (main hazard, not necessarily the highest
						concentration).
						Repeatable per dangerousGoodsRegulation code. Hazardous attributes relate to
						supply chain handling (e.g., transport, storage,
						handling).
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="80"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="FlashPointTemperature">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The lowest temperature at
						which a
						substance gives off a sufficient vapor to support combustion. This uses a
						measurement consisting of a unit of measure and value. Business
						Rules:
						Information required when dangerousGoodsIndicator equals Y. Expressed in
						Celsius (or Centigrade) or Fahrenheit Format defined by UN/EDIFACT
						7106 Has
						to be associated with valid UoM. Hazardous attributes relate to
						supply chain
						handling (e.g., transport, storage, handling).
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="UnitedNationsDangerousGoodsNumber" type="xs:integer">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The four-digit number
						assigned by the
						United Nations Committee of Experts on the Transport of Dangerous Goods
						to
						classify a substance or a particular groups of substances. Abbreviation:
						UNDG Number Examples: UN "1155" ETHYLENEGLYCOLDIETHYLETHER
						Business Rules:
						Information required when dangerousGoodsIndicator equals Y. Repeatable per
						dangerousGoodsRegulation code.
						http://www.unece.org/trans/danger/publi/adr/adr2001/English/
						Hazardous
						attributes relate to supply chain handling (e.g., transport, storage,
						handling).
					</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="InformationProviderIDType">
      <xs:annotation>
         <xs:documentation>from EAN.UCC - EAN.UCC Definition: Unique location
				number identifying
				the information owner. E.g. Distributor, broker, Manufacturer,
				Franchisee. This is
				not a third party service provider. The purpose of this field is to
				identify the
				originator of the data. Example Trade Item A - is availavble to retailer B
				from
				manufacter C or distributor D. The retailer could receive information from
				both
				sellers and this field declares the information owner. Examples: Refer to
				the
				following websites for specific directions on how to construct global
				location
				numbers - www.uc-council.org or www.eanint.org Business Rules: Combination
				of this
				field (gln) + gtin + target market is not necessarily the source of the
				data, but
				has the responsibility to provide and maintain the data in the
				catalogue. This field
				is mandatory within the Global Data Synchronization work process. See
				implementation
				notes.
			</xs:documentation>
      </xs:annotation>
   </xs:complexType>
   <xs:complexType name="ItemPalletHierarchyType">
      <xs:annotation>
         <xs:documentation>from EAN.UCC</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="QuantityOfCompleteLayersContainedInATradeItem">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The number of layers of the
						base trade
						item found in a trade item. Does not apply to the base trade item unit
						Business Rules: Only applies to logistic units (e.g. pallet, case,
						etc)
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:nonNegativeInteger">
                  <xs:totalDigits value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="QuantityOfLayersPerPallet">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The number of layers that a
						pallet
						contains. Only used if the pallet has no GTIN. It indicates the number of
						layers that a pallet contains, according to supplier or retailer
						preferences. Business Rules: Only used if the pallet has no GTIN.
						In this
						case it applies to the highest level of the item hierarchy and only 1
						pallet
						configuration can be provided. It is highly recommended to use GTIN for
						Pallet identification.
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:nonNegativeInteger">
                  <xs:totalDigits value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="QuantityOfTradeItemsContainedInACompleteLayer">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The number of trade items
						contained in a
						complete layer of a higher packaging configuration. Used in hierarchical
						packaging structure of a trade item. Cannot be used for trade item
						base
						unit. Business Rules: Only applies to logistic units (e.g. pallet,
						case,
						etc)
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:nonNegativeInteger">
                  <xs:totalDigits value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="QuantityOfTradeItemsPerPallet">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The number of trade items
						contained in a
						pallet. Only used if the pallet has no GTIN. It indicates the number of
						trade items placed on a pallet according to supplier or retailer
						preferences. Business Rules: Only used if the pallet has no GTIN.
						In this
						case it applies to the highest level of the item hierarchy and only 1
						pallet
						configuration can be provided. It is highly recommended to use GTIN for
						Pallet identification.
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:nonNegativeInteger">
                  <xs:totalDigits value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="QuantityOfTradeItemsPerPalletLayer">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The number of trade items
						contained on a
						single layer of a pallet. Only used if the pallet has no GTIN. It
						indicates
						the number of trade items placed on a pallet layer according to
						supplier or
						retailer preferences. Business Rules: Only used if the pallet has no GTIN.
						In this case it applies to the highest level of the item
						hierarchy. It is
						highly recommended to use GTIN for Pallet identification.
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:nonNegativeInteger">
                  <xs:totalDigits value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="QuantityOfInnerPack">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Indicates the number of
						non-coded physical
						groupings (innerpacks) of next lower level trade items within the current
						GTIN level. Examples: Case of 12 bottles of shampoo contains two
						non-coded
						plastic wrapped bundles each with six bottles. Value = "2" Business
						Rules:
						An inner pack can only contain the same GTIN, and inner pack sizing
						must be
						constant. Change of inner pack doesn't change higher or lower level
						GTINs
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:nonNegativeInteger">
                  <xs:totalDigits value="6"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="QuantityOfNextLevelTradeItemWithinInnerPack">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Indicates the number of next
						lower level
						trade items contained within the physical non-coded grouping
						(innerpack)
						Examples: Case of 12 bottles of shampoo contains two non-coded plastic
						wrapped bundles each with six bottles. Value = "6" Business Rules:
						An inner
						pack can only contain the same GTIN, and inner pack sizing must be
						constant.
						Change of inner pack doesn't change higher or lower level
						GTINs
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:nonNegativeInteger">
                  <xs:totalDigits value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="GrossWeightOfPallet" type="xs:string" maxOccurs="0"/>
         <xs:element minOccurs="0" name="CubeVolume" type="xs:string" maxOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ItemUnitIndicatorType">
      <xs:annotation>
         <xs:documentation>from EAN.UCC</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="UnitDescriptor">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="ctyp:DescriptionCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:attribute name="BaseUnitFlag" type="xs:boolean">
         <xs:annotation>
            <xs:documentation>EAN.UCC Definition: An indicator identifying the
					trade item as the
					base unit level of the trade item hierarchy. This is y/n (Boolean)
					where y
					indicates the trade item is a base unit. Examples: A bundle pack of product
					is
					composed of packages without GTINs that cannot be sold individually. This
					bundle
					pack would then be a base item. If that same bundle pack contained
					individual
					packages that have a GTIN + could be individually sold it would not
					Business
					Rules: Boolean Y/N
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="ConsumerUnitFlag" type="xs:boolean">
         <xs:annotation>
            <xs:documentation>EAN.UCC Definition: Identifies whether the current
					hierarchy level
					of a trade item is intended for a ultimate consumption. For retail,
					this trade
					item will be scanned at point of sale. At retail, this data is commonly
					used to
					select which GTINs should be used for shelf planning and for front end
					POS
					databases. This value reflects the intention of the Information Provider
					which
					may not necessarily be the intention of the retailer. Examples: A
					multi-pack of
					paper towels and the individual paper towels
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="DespatchUnitFlag" type="xs:boolean">
         <xs:annotation>
            <xs:documentation>EAN.UCC Definition: An indicator identifying that
					the information
					provider considers the trade item as a dispatch (shipping) unit. This may
					be
					Trading Partner dependent based on channel of trade or other point to
					point
					agreement. This is y/n (Boolean) where y indicates the trade item is a
					dispatch
					unit.. Examples: - Business Rules: Boolean Y/N There can be more than one
					logistic unit in one hierarchy
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="InvoiceUnitFlag" type="xs:boolean">
         <xs:annotation>
            <xs:documentation>EAN.UCC Definition: An indicator identifying that
					the information
					provider will include this trade item on their billing or invoice. This may
					be
					Trading Partner dependent based on channel of trade or other point to
					point
					agreement. This is y/n (Boolean) where y indicates the trade item is an
					invoicing unit. Examples: - Business Rules: Boolean Y/N There can
					be more than
					one invoicing unit in one hierarchy
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="false" name="NameAndAddressRequiredFlag" type="xs:boolean">
         <xs:annotation>
            <xs:documentation>Need this for Items that require a TV Licence; the
					UK TVLA
					authority requires the retailer to capture the Name and Address of the
					recipient
					(not necessarily the same as the Name and Address of the customer of
					the
					transaction) of certain items.
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="OrderableUnitFlag" type="xs:boolean">
         <xs:annotation>
            <xs:documentation>EAN.UCC Definition: An indicator identifying that
					the information
					provider considers this trade item to be at a hierarchy level where they
					will
					accept orders from customers. This may be different from what the
					information
					provider identifies as a despatch unit. This may be relationship dependent
					based
					on channel of trade or other point to point agreement. This is y/n
					(Boolean)
					where y indicates the trade item is an ordering unit Examples: Business
					Rules:
					Boolean Y/N There can be more than one ordering unit in one
					hierarchy
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="VariableUnitFlag" type="xs:boolean">
         <xs:annotation>
            <xs:documentation>EAN.UCC Definition:Definition: Indicates that an
					article is not a
					fixed quantity, but that the quantity is variable. Can be weight,
					length,
					volume. trade item is used or traded in continuous rather than discrete
					quantities. Examples: Wheel of Cheese: The weight is about 25
					kilograms, but it
					can be 24 kilogram or 27 kilogram. Business Rules: Boolean Y/N -
					Yes=variable,
					No=fixed. Applies to EAN.UCC bricks: Meat, Cheese, Fruits, Dairy trade
					item.
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="LotType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="LotID" type="xs:string">
            <xs:annotation>
               <xs:documentation>An identifier for a LOT of specific ITEMs.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="NextLowerTradeItemInformationType">
      <xs:annotation>
         <xs:documentation>from EAN.UCC - Relates to packaging
			</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="TotalQuantityOfNextLowerTradeItem" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: This represents the Total
						quantity of next
						lower level trade items that this trade item contains. Business Rules:
						e.g.
						in a mixed module, with 2 x five different types of nail varnish,
						this
						number = 10. Where this differs from “QuantityofNextLowerLevelTradeItem”
						is
						that this field is used in conjunction with each GTIN identified in
						the
						field ‘NextLowerLevelTradeItem’. E.g. in the example of 2 x five
						different
						types of nail varnish, this number = 2.If the item is not mixed, then
						this
						number will equal the value submitted for the
						“QuantityofNextLowerLevelTradeItem” field.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="NextLowerTradeItemInformation" type="xs:string">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Value indicates the number of
						unique next
						lower level trade items contained in a complex trade item. A complex
						trade
						item can contain at least 2 different GTINs. Examples: Ready to sell
						display
						of cosmetics contains 2 bottles each of five different colors (each
						with
						their own GTIN) of blush The value for this field would be "5".
						Business
						Rules: Only applies to dispatch units (cases, pallets,
						etc.)
					</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="OrganicCharacteristicsType">
      <xs:annotation>
         <xs:documentation>form EAN.UCC</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="ClaimAgency" type="xs:string">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: A governing body that creates
						and
						maintain standards related to organic products./Brules: only registered
						values may be used. It's a repeatable field.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PackType">
      <xs:sequence>
         <xs:element name="UnitNumberCount" type="xs:nonNegativeInteger">
            <xs:annotation>
               <xs:documentation>The number of units within the PACK ITEM
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element name="PackVolume" type="xs:string" maxOccurs="0" minOccurs="0"/>
         <xs:element name="PackWeight" type="xs:string" maxOccurs="0" minOccurs="0"/>
      </xs:sequence>
      <xs:attribute default="Flat" name="PackMethod" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="PackagingType">
      <xs:annotation>
         <xs:documentation>from EAN.UCC</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" name="PackagingMaterialCode">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Code source needs to be
						defined. Currently
						a European Union table of code lists exists for this requirement.
						The code
						list required to identify the packaging material of the trade item.
						Examples: "GL" (glass) "AL" (Aluminum) Business Rules: Can be
						repeated for
						multi-material packaging and linked to packaging weight.
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="PackagingMaterialCodeListMaintenanceAgency">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Agency needs to be defined.
						The agency or
						agencies controlling the packaging code lists of each country. Mandatory
						if
						packaging material code is populated. Business Rules: Dependent on field
						packagingMaterialCode
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="PackagingMaterialDescription">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The system generated text
						description
						equivalent of the packaging material code. Examples: "Glass" "Aluminum"
						Business Rules: Can be repeated for multi-material packaging and
						linked to
						packaging weight. As a description text field, this data element is
						repeatable for each language used and must be associated with a
						valid ISO
						language code from the attached table. Dependent on the field
						packagingMaterialCode
					</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="xs:string">
                     <xs:attribute name="Language" type="lang:LanguageCode"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="PackagingTermsAndConditions">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Indicates if the packaging
						given in the
						described packaging configuration is a rented, exchangeable, against
						deposit
						or one way/not reusable. Examples: Codes to be defined. Business
						Rules:
						List of authorized values based on EANCOM 7073, X12 DE102 and X12
						DE399.
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Packing" type="base:PackingType"/>
      </xs:sequence>
      <xs:attribute default="true" name="BarCodeOnPackageFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>EAN.UCC Definition: Indication if the trade item
					is physically
					bar-coded with the primary trade item identification number. This is a y/n
					(Boolean) where Y equals trade item is bar-coded. Business Rules:
					Boolean Y/N;
					Y= bar-coded N= not bar-coded Technical Note: This Boolean question
					is answered
					by the application of class Bar Code Type List. If the Bar Code Type
					List class
					(telling which barcodes are on the package) exists, then there is a barcode
					on
					the package. The attribute is derived from the Bar Code Type List and
					is not in
					the model.
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="true" name="MarkedAsRecyclableFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>EAN.UCC Definition: The package of this GTIN is
					marked to indicate
					that it is recyclable. Examples: Aluminum can marked as recyclable
					Business
					Rules: Boolean field Y/N = marked recyclable, N = not marked recyclable.
					Applies
					to recyclable packaging with or without deposit.
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="true" name="MarkedAsReturnableFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>EAN.UCC Definition: trade item has returnable
					packaging. This is a
					yes/no (Boolean) where yes equals package can be returned. Business
					Rules:
					Boolean Y/N; Y= marked returnable, N= not returnable. Attribute applies to
					returnable packaging with or without deposit.
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="false" name="MarkedWithExpirationDateFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>EAN.UCC Definition: Indicates if the packaging of
					the trade item
					has a freshness date, sell by date, or use by date stamped on or
					imprinted. This
					is a y/n (Boolean) where y equals packaging of the trade item has a
					freshness
					date stamped on or imprinted. Examples: Use by date - batteries; sell
					by date -
					milk Business Rules: Boolean Y/N Y = marked with date N= not marked
					with date
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="false" name="MarkedWithGreenDotFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>EAN.UCC Definition: Trade item packaging marked
					with green point
					indicator. Law in several European countries mandates the green point
					indicator.
					This is a yes/no (Boolean) where yes equals marked with green point
					indicator.
					Business Rules: Boolean Y/N, Y = marked with the green dot Legal
					requirement in
					limited number of countries. See: ProEurope s.p.r.l Av de Tervuren 35
					Etterbeck-
					B 1040 Brussels. Countries concerned as of Nov 01:
					AT,BE,CZ,FR,DE,HU,IE,LT,LU,NO,PT,ES,SE
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="false" name="MarkedWithIngredientsFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>EAN.UCC Definition: trade item packaging contains
					information
					pertaining to its ingredients. trade item ingredients are required to be
					shown
					on the trade item (normally at base trade item level). This is a
					yes/no
					(Boolean) where yes equals marked with ingredients. Business Rules: Boolean
					Y/N
					where Y=marked with ingredients , N=not marked with ingredients. trade
					item
					ingredients are required to be shown on the trade item (normally consumer unit
					level) Sector specific and geographical extension. List of
					ingredients can be
					legally required in some countries for limited trade item sectors.
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="PackingType">
      <xs:annotation>
         <xs:documentation>from EAN.UCC</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="TypeCode">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The code identifying the type
						of package
						used as a container of the trade item. Examples: Codes to be defined.
						Business Rules: List of authorized code values based on UN-ECE 21
						Can be
						repeated.
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element name="TypeDescription">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: System generated text
						description of the
						type of packaging used for the trade item. For example, box or carton.
						Examples: "Box", "Bottle" Business Rules: List of authorized text
						description values based on UNECE 21 Recommendations - EANCOM
						7065. Can be
						repeated. System generated field.
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PalletInformationType">
      <xs:annotation>
         <xs:documentation>from EAN.UCC</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element minOccurs="0" name="TypeCode">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Indicates whether the
						described dispatch
						unit is delivered on a pallet and on which type of pallet, or if it is
						non-palletized. If the dispatch unit is delivered on a pallet the
						pallet
						type must be given here. The range of the pallet types/codes is listed
						in
						code sets. Examples: "200" = pallet ISO 0, 1/2 Euro pallet. Business
						Rules:
						Only used if the pallet has no GTIN. In this case it applies to the
						highest
						level of the item hierarchy and only 1 pallet configuration can be
						provided.
						It is highly recommended to use GTIN for Pallet
						identification.
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:element minOccurs="0" name="TermsAndConditions">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Indicates if the pallet in
						the prescribed
						pallet configuration is rented, exchangeable, against deposit or one way
						(not reusable). Examples: "7E" for non-returnable pallet Business
						Rules:
						Used in conjunction with a pallet GTIN. List of authorized values
						based on
						EANCOM 7073, X12 DE102 and X12 DE399.
					</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="2"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PreparedItemType">
      <xs:sequence>
         <xs:element minOccurs="0" name="FoodItemHoldingTime" type="xs:time">
            <xs:annotation>
               <xs:documentation>The number of minutes that a prepared food item
						may be held
						ready for sale. At the end of this time, the item must not be sold to a
						customer
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="CookingMessage" type="xs:string"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="IngredientMessage" type="xs:string"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="NutritionalMessage" type="xs:string"/>
         <xs:element minOccurs="0" name="DegreeOfOriginalWort" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Specification of the degrees
						of original
						wort. Examples: The beer degree for the allocation of different
						original
						wort proportions in different kinds of beer to the respective beer tax
						group
						and beer tax rate Business Rules: Sector specific extension
						(alcoholic
						beverages) Local legal requirement (Austria)
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="FatPercentageInDryMatter" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The amount of fat contained
						in the base
						product expressed in percentage. Examples: ‘10’ Business Rules: Mainly
						concerns cheese and dairy trade items. Percentage is
						implicit.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="PercentageOfAlcoholByVolume" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Percentage of alcohol
						contained in the
						base unit trade item. Examples: ‘12’ Business Rules: Sector specific
						extension. Percentage is implicit
					</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute default="false" name="ItemGeneticallyModifiedFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>EAN.UCC Definition: Used to indicate whether trade
					item contains
					genetically modified contents.
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="false" name="ItemIrradiatedFlag" type="xs:boolean" use="optional"/>
      <xs:attribute default="false" name="IngredientIrradiatedFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>EAN.UCC Definition: Indicates if radiation has
					been applied to a
					trade item’s ingredient. Business Rules: Should only be submitted if a
					claim is
					made on the trade item.
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="false" name="RawMaterialirradiatedFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>EAN.UCC Definition: Indicates if radiation has
					been applied to a
					trade item’s raw material Business Rules: Should only be submitted if a
					claim is
					made on the trade item. This field is trade item specific, indicating
					that
					radium has been applied to the trade item.
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="RFIDType">
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="RFIDClassification" type="xs:string">
            <xs:annotation>
               <xs:documentation>Classification of RFID system according to the
						frequency band
						in whcih they operate, either very-high, high, intermediate, or low.
						It can
						also be a frequency level or a US UHF vs Europe LF
						levels.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="TagDescription" type="xs:string">
            <xs:annotation>
               <xs:documentation>The type shape and the size of the RFID Tag
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="DeliverableTypeCodes">
      <xs:union memberTypes="base:DeliverableTypeCodesEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="DeliverableTypeCodesEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="NotDeliverable"/>
         <xs:enumeration value="CanBeDelivered"/>
         <xs:enumeration value="MustBeDelivered"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
