BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyOperacion/src/META-INF/ProxyOperacion/wsdls/V1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="Operacion" targetNamespace="http://xmlns.bcie.com/OperacionService" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.bcie.org/OperacionMO" xmlns:WL5G3N2="http://www.bcie.org/DesembolsoMO" xmlns:WL5G3N3="http://xmlns.bcie.com/OperacionService" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap12/">
  <WL5G3N0:types>
    <xsd:schema xmlns:desMO="http://www.bcie.org/DesembolsoMO" xmlns:operMO="http://www.bcie.org/OperacionMO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://xmlns.bcie.com/OperacionService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/OperacionMO" schemaLocation="V1.xsd"/>
    </xsd:schema>
    <xsd:schema xmlns:desMO="http://www.bcie.org/DesembolsoMO" xmlns:operMO="http://www.bcie.org/OperacionMO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://xmlns.bcie.com/OperacionService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/DesembolsoMO" schemaLocation="V1_20.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestCrearOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:CrearOperacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseCrearOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:CrearOperacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestCrearOperacionAsociadaMessage">
    <WL5G3N0:part element="WL5G3N1:CrearOperacionAsociadaRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseCrearOperacionAsociadaMessage">
    <WL5G3N0:part element="WL5G3N1:CrearOperacionAsociadaResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestCrearCuestionarioMessage">
    <WL5G3N0:part element="WL5G3N1:CrearCuestionarioRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseCrearCuestionarioMessage">
    <WL5G3N0:part element="WL5G3N1:CrearCuestionarioResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestCrearCuestionario2Message">
    <WL5G3N0:part element="WL5G3N1:CrearCuestionario2Request" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseCrearCuestionario2Message">
    <WL5G3N0:part element="WL5G3N1:CrearCuestionario2Response" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConsultarOperacionesMessageByIdOperacion">
    <WL5G3N0:part element="WL5G3N1:ConsultarOperacionByIdOperacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConsultarOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:ConsultarOperacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestActualizarOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:ActualizarOperacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseActualizarOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:ActualizarOperacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestReactivarOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:ReactivarOperacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseReactivarOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:ReactivarOperacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestEliminarOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:EliminarOperacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseEliminarOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:EliminarOperacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestPropagarSCRyTIRMessage">
    <WL5G3N0:part element="WL5G3N1:PropagarSCRyTIRRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responsePropagarSCRyTIRMessage">
    <WL5G3N0:part element="WL5G3N1:PropagarSCRyTIRResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConsultarOperacionByIdMessage">
    <WL5G3N0:part element="WL5G3N1:ConsultarOperacionByIdOperacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConsultarOperacionByIdMessage">
    <WL5G3N0:part element="WL5G3N1:ConsultarOperacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConsultarComisionesNoPagadasBPELMessage">
    <WL5G3N0:part element="WL5G3N2:ConsultarComisionesNoCobradasBPELRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConsultarComisionesNoPagadasBPELMessage">
    <WL5G3N0:part element="WL5G3N2:ConsultarComisionesNoCobradasBPELResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConsultarSaldoOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:ConsultarSaldoOperacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConsultarSaldoOperacionMessage">
    <WL5G3N0:part element="WL5G3N1:ConsultarSoloOperacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestObtenerFactibilidadMessage">
    <WL5G3N0:part element="WL5G3N1:ObtenerFactibilidadRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseObtenerFactibilidadMessage">
    <WL5G3N0:part element="WL5G3N1:ObtenerFactibilidadResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestMessage">
    <WL5G3N0:part element="WL5G3N1:AplicarEnvioCobroRequest" name="AplicarEnvioCobroRequestMessage"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="replyMessage">
    <WL5G3N0:part element="WL5G3N1:AplicarEnvioCobroResponse" name="AplicarEnvioCobroResponseMessage"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConsultarLimitesOperacion">
    <WL5G3N0:part element="WL5G3N1:ConsultarLimitesOperacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConsultarLimitesOperacion">
    <WL5G3N0:part element="WL5G3N1:ConsultarLimitesOperacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestValidarInicioFormalizacion">
    <WL5G3N0:part element="WL5G3N1:ValidarInicioFormalizacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseValidarInicioFormalizacion">
    <WL5G3N0:part element="WL5G3N1:ValidarInicioFormalizacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestValidarLimitesOperacion">
    <WL5G3N0:part element="WL5G3N1:ValidarLimitesExposicionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseValidarLimitesOperacion">
    <WL5G3N0:part element="WL5G3N1:ValidarLimitesExposicionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="Operacion12Port">
    <WL5G3N0:operation name="crearOperacion">
      <WL5G3N0:documentation>Registrar una Operacion</WL5G3N0:documentation>
      <WL5G3N0:input message="WL5G3N3:requestCrearOperacionMessage"/>
      <WL5G3N0:output message="WL5G3N3:responseCrearOperacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearOperacionAsociada">
      <WL5G3N0:documentation>Registrar una operacion asociada</WL5G3N0:documentation>
      <WL5G3N0:input message="WL5G3N3:requestCrearOperacionAsociadaMessage"/>
      <WL5G3N0:output message="WL5G3N3:responseCrearOperacionAsociadaMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarOperacionByIdOperacion">
      <WL5G3N0:documentation>Consulta uno Operacion por id del Operacion</WL5G3N0:documentation>
      <WL5G3N0:input message="WL5G3N3:requestConsultarOperacionesMessageByIdOperacion"/>
      <WL5G3N0:output message="WL5G3N3:responseConsultarOperacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarOperacion">
      <WL5G3N0:documentation>Actualiza una Operación</WL5G3N0:documentation>
      <WL5G3N0:input message="WL5G3N3:requestActualizarOperacionMessage"/>
      <WL5G3N0:output message="WL5G3N3:responseActualizarOperacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="reactivarOperacion">
      <WL5G3N0:documentation>Reactiva la Operación y la lanza el proceso en el cual quedó al momento de suspender</WL5G3N0:documentation>
      <WL5G3N0:input message="WL5G3N3:requestReactivarOperacionMessage"/>
      <WL5G3N0:output message="WL5G3N3:responseReactivarOperacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="eliminarOperacion">
      <WL5G3N0:documentation>Eliminar una operacion</WL5G3N0:documentation>
      <WL5G3N0:input message="WL5G3N3:requestEliminarOperacionMessage"/>
      <WL5G3N0:output message="WL5G3N3:responseEliminarOperacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="propagarScrtir">
      <WL5G3N0:documentation>Propagar a EVAL y REP la TIR y el SCR</WL5G3N0:documentation>
      <WL5G3N0:input message="WL5G3N3:requestPropagarSCRyTIRMessage"/>
      <WL5G3N0:output message="WL5G3N3:responsePropagarSCRyTIRMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearCuestionario">
      <WL5G3N0:documentation>Crear cuestionario</WL5G3N0:documentation>
      <WL5G3N0:input message="WL5G3N3:requestCrearCuestionarioMessage"/>
      <WL5G3N0:output message="WL5G3N3:responseCrearCuestionarioMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearCuestionario2">
      <WL5G3N0:documentation>Crear cuestionario</WL5G3N0:documentation>
      <WL5G3N0:input message="WL5G3N3:requestCrearCuestionario2Message"/>
      <WL5G3N0:output message="WL5G3N3:responseCrearCuestionario2Message"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultarComisionesNoPagadas">
      <WL5G3N0:documentation>Consultar comisiones no pagadas</WL5G3N0:documentation>
      <WL5G3N0:input message="WL5G3N3:requestConsultarComisionesNoPagadasBPELMessage"/>
      <WL5G3N0:output message="WL5G3N3:responseConsultarComisionesNoPagadasBPELMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarSaldo">
      <WL5G3N0:documentation>Consultar saldo por operacion</WL5G3N0:documentation>
      <WL5G3N0:input message="WL5G3N3:requestConsultarSaldoOperacionMessage"/>
      <WL5G3N0:output message="WL5G3N3:responseConsultarSaldoOperacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerFactibilidad">
      <WL5G3N0:documentation>Aplica la factibilidad a la operacion</WL5G3N0:documentation>
      <WL5G3N0:input message="WL5G3N3:requestObtenerFactibilidadMessage"/>
      <WL5G3N0:output message="WL5G3N3:responseObtenerFactibilidadMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="AplicarEnvioCobro">
      <WL5G3N0:input message="WL5G3N3:requestMessage"/>
      <WL5G3N0:output message="WL5G3N3:replyMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultarLimitesOperacion">
      <WL5G3N0:input message="WL5G3N3:requestConsultarLimitesOperacion"/>
      <WL5G3N0:output message="WL5G3N3:responseConsultarLimitesOperacion"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ValidarInicioFormalizacion">
      <WL5G3N0:documentation>Valida el inicio automatico de formalizacion</WL5G3N0:documentation>
      <WL5G3N0:input message="WL5G3N3:requestValidarInicioFormalizacion"/>
      <WL5G3N0:output message="WL5G3N3:responseValidarInicioFormalizacion"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ValidarLimitesExposicion">
      <WL5G3N0:input message="WL5G3N3:requestValidarLimitesOperacion"/>
      <WL5G3N0:output message="WL5G3N3:responseValidarLimitesOperacion"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="Operacion12Bnd" type="WL5G3N3:Operacion12Port">
    <WL5G3N4:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="crearOperacion">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/crearOperacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearOperacionAsociada">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/crearOperacionAsociada" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarOperacionByIdOperacion">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/consultarOperacionByIdOperacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarOperacion">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/actualizarOperacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="reactivarOperacion">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/reactivarOperacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="eliminarOperacion">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/eliminarOperacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="propagarScrtir">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/propagarSCRyTIR" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearCuestionario">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/crearCuestionario" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="crearCuestionario2">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/crearCuestionario2" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultarComisionesNoPagadas">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/ConsultarComisionesNoPagadas" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarSaldo">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/ConsultarSaldo" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerFactibilidad">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/obtenerFactibilidad" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="AplicarEnvioCobro">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/AplicarEnvioCobro" style="document"/>
      <WL5G3N0:input>
        <WL5G3N4:body parts="AplicarEnvioCobroRequestMessage" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body parts="AplicarEnvioCobroResponseMessage" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ValidarInicioFormalizacion">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/ValidarInicioFormalizacion"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ConsultarLimitesOperacion">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/ConsultarLimietesOperacion"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="ValidarLimitesExposicion">
      <WL5G3N4:operation soapAction="http://xmlns.bcie.com/OperacionService/ValidarLimitesExposicion"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="Operacion12BndQSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N3:Operacion12Bnd" name="Operacion12BndQSPort">
      <WL5G3N4:address location="http://OSBLNX1-vip.sndevmw.bcievcn01.oraclevcn.com:7021/Entidad/OperacionService/V1.0"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>