BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyOperacion/src/META-INF/ProxyOperacion/wsdls/V1_18.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/ResultBO" xmlns:errBO="http://www.bcie.org/ErrorBO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/ErrorBO" schemaLocation="V1_19.xsd"/>
  <xsd:complexType name="Resultado">
    <xsd:annotation>
      <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
      <xsd:documentation>Objeto para confirmar de la ejecución satisfactiria o insatisfactoria de los servicios</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="result" type="resBO:SuccessType"/>
      <xsd:element name="message" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="error" type="errBO:Error"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="SuccessType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ERROR"/>
      <!-- Error técnico -->
      <xsd:enumeration value="OK"/>
      <!-- Error de negocio -->
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>