BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyOperacion/src/META-INF/ProxyOperacion/wsdls/V1_21.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/ReglaTareaBO" xmlns="http://www.bcie.org/ReglaTareaBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:regBO="http://www.bcie.org/ReglaBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/ReglaBO" schemaLocation="V1_15.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_3.xsd"/>
  <xsd:simpleType name="idTarea">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TareaBasicType">
    <xsd:sequence>
      <xsd:element name="IdTarea" type="idTarea"/>
      <xsd:element minOccurs="0" name="Proceso" type="xsd:int"/>
      <xsd:element minOccurs="0" name="Descripcion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="Estatus" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReglaEvaluacionType">
    <xsd:complexContent>
      <xsd:extension base="regBO:ReglaBasicType">
        <xsd:sequence>
          <xsd:element name="EsAdvertencia" type="xsd:boolean"/>
          <xsd:element name="EsError" type="xsd:boolean"/>
          <xsd:element name="Mensaje" type="catBO:Catalogo"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TareaReglas">
    <xsd:complexContent>
      <xsd:extension base="TareaBasicType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ReglasEvaluacion" type="ReglaEvaluacionType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>