BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyOperacion/src/META-INF/ProxyOperacion/wsdls/V1_6.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/AtributoBO" xmlns="http://www.bcie.org" xmlns:AtributoBO="http://www.bcie.org/AtributoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_3.xsd"/>
  <xsd:complexType name="Atributo">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="id" type="xsd:long"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="columna" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="ordenamiento" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="soloLectura" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="esObligatorio" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="etiqueta" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="valor" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tipoValor" type="AtributoBO:TipoValorType"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="catalogo" type="catBO:Catalogo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EstadoTCC">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:long"/>
      <xsd:element minOccurs="0" name="descripcion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="descripcionCorta" type="xsd:string"/>
      <xsd:element minOccurs="0" name="estatus" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="codigoExterno" type="xsd:string"/>
      <xsd:element minOccurs="0" name="esSubEstado" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EntidadMinima">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="id" type="xsd:long"/>
      <xsd:element minOccurs="0" name="descripcion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="estatus" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="esPorcentaje" type="xsd:string"/>
      <xsd:element minOccurs="0" name="difValor" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="difPorcentaje" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="TipoValorType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="VARCHAR"/>
      <xsd:enumeration value="NUMBER"/>
      <xsd:enumeration value="DECIMAL"/>
      <xsd:enumeration value="DATE"/>
      <xsd:enumeration value="TIMESTAMP"/>
      <xsd:enumeration value="ONECHOICE"/>
      <xsd:enumeration value="MULTICHOICE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Accion">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="EDITAR"/>
      <xsd:enumeration value="ELIMINAR"/>
      <xsd:enumeration value="AGREGAR"/>
      <xsd:enumeration value="EXCEPTUAR"/>
      <xsd:enumeration value="DISPENSAR"/>
      <xsd:enumeration value="INACTIVAR"/>
      <xsd:enumeration value="REACTIVAR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="NivelType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="OPERACION"/>
      <xsd:enumeration value="CONTRATO"/>
      <xsd:enumeration value="LINEA"/>
      <xsd:enumeration value="SOLICITUDESDESEMBOLSO"/>
      <xsd:enumeration value="DESEMBOLSO"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>