BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyOperacion/src/META-INF/ProxyOperacion/wsdls/V1_8.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/DocumentoBO" xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:docuBO="http://www.bcie.org/DocumentoBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:prodBO="http://www.bcie.org/ProductoBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="V1_1.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ProductoBO" schemaLocation="V1_2.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="V1_9.xsd"/>
  <xsd:simpleType name="idDocumento">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ListaDocumentos">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Documento" type="docuBO:Documento"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoDcoumento">
    <xsd:sequence>
      <xsd:element name="nombreTipoDocumento" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="documento" type="docuBO:Documento"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Etapa">
    <xsd:sequence>
      <xsd:element name="nombreEtapa" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="tipoDocumento" type="docuBO:TipoDcoumento"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Documentos">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="etapa" type="docuBO:Etapa"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaIdDocumento">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idDocumento" type="docuBO:idDocumento"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Documento">
    <xsd:annotation>
      <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
      <xsd:documentation>Entidad Documento - (Modelo canónico)
          Se usa para el control, administración y comunicación
          con gestores documentales</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idDocumento" type="docuBO:idDocumento"/>
      <xsd:element minOccurs="0" name="idTipoDocumento" type="docuBO:idTipoDocumento"/>
      <xsd:element minOccurs="0" name="idTipoDocumentoExterno" type="docuBO:idTipoDocumentoExterno"/>
      <xsd:element minOccurs="0" name="nombreTipoDocumento" type="xsd:string"/>
      <xsd:element minOccurs="0" name="etapa" type="xsd:string"/>
      <xsd:element minOccurs="0" name="codigoDocumento" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idExterno" type="xsd:long"/>
      <xsd:element minOccurs="0" name="idDocAreaTipo" type="xsd:long"/>
      <xsd:element minOccurs="0" name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element minOccurs="0" name="idCliente" type="cliBO:idCliente"/>
      <xsd:element minOccurs="0" name="idProducto"/>
      <!-- Relacion con el objeto Operacion -->
      <xsd:element minOccurs="0" name="idPais" type="xsd:string"/>
      <!-- Para la búsqueda por País en OnBase -->
      <xsd:element minOccurs="0" name="nombre" type="xsd:string"/>
      <!-- Nombre en OnBase-->
      <xsd:element minOccurs="0" name="filename" type="xsd:string"/>
      <!-- Nombre real del archivo -->
      <xsd:element minOccurs="0" name="mime_type" type="xsd:string"/>
      <!-- mime type-->
      <xsd:element minOccurs="0" name="tamanio" type="xsd:long"/>
      <xsd:element minOccurs="0" name="idAdjunto" type="xsd:long"/>
      <xsd:element minOccurs="0" name="esJustificacion" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="comentario">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="250"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="fechaDocumento" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="fechaRegistro" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="status">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="estatusTipoDoc" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="codExtTipoDoc" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tarea" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idtarea" type="xsd:long"/>
      <xsd:element minOccurs="0" name="content" type="xsd:base64Binary"/>
      <xsd:element minOccurs="0" name="PuedeModificar" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="PuedeBorrar" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="usuarioAgrega" type="xsd:string"/>
      <xsd:element minOccurs="0" name="usuarioUltimaActualizacion" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="accionARealizar" type="xsd:string"/>
      <xsd:element minOccurs="0" name="idFlujoNegocio" type="xsd:long"/>
      <xsd:element name="instanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="idTipoDocumento">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idTipoDocumentoExterno">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TipoDocumento">
    <xsd:annotation>
      <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
      <xsd:documentation>Tipo de documento, calificativo para la entidad documento</xsd:documentation>
      <!-- Ver tabla TCA_DOCUMENTO -->
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idTipoDocumento" type="docuBO:idTipoDocumento"/>
      <xsd:element name="descripcion" type="xsd:string"/>
      <xsd:element name="idGrupoExterno" type="xsd:int"/>
      <!-- Id grupo onbase -->
      <xsd:element name="idTipoExterno" type="xsd:int"/>
      <!-- id tipo onbase -->
      <xsd:element name="estado" type="xsd:string"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
      <xsd:element name="descripcion" type="xsd:string"/>
      <xsd:element name="codigoExterno" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>