BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyOperacion/src/META-INF/ProxyOperacion/wsdls/V1_9.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/ClienteBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_3.xsd"/>
  <xsd:simpleType name="idCliente">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="ClienteBasicType">
    <xsd:sequence>
      <xsd:group ref="cliBO:ClienteIdentificador"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="razonSocial">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="bicCode">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="11"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="abreviatura">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="tipoPersona" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tipoCliente" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="sector" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tipoInstitucion" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="pais" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="grupoEconomico" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tipoIdentificacion">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="numeroIdentificacion">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="direccion">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="50"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="telefono">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="fax">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="email">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="ciudad">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element maxOccurs="1" minOccurs="0" name="oficina" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="grupoEmpresarial" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fechaRegistro" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="fechaAprobacion" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="ejecutivo">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="responsableCliente" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Cliente">
    <xsd:complexContent>
      <xsd:annotation>
        <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
        <xsd:documentation>Entidad Cliente - (Modelo canónico)</xsd:documentation>
      </xsd:annotation>
      <xsd:extension base="cliBO:ClienteBasicType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Contactos" type="cliBO:Contactos"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="InformacionCorrecta" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="1" name="ActualizacionPermitida" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="comentarioAprobacion">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="250"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="revisadoAprobacion">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="20"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="status">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element maxOccurs="1" minOccurs="0" name="fechaBaja" type="xsd:dateTime"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="diaPago" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="SCR" type="catBO:Catalogo"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="perspectiva" type="catBO:Catalogo"/>
          <xsd:element default="false" minOccurs="0" name="enMora" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="mora" type="cliBO:mora"/>
          <xsd:element default="false" minOccurs="0" name="deteriorado" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="reserva" type="cliBO:reservaType"/>
          <xsd:element minOccurs="0" name="requiereEnvioAutomatico" type="xsd:decimal"/>
          <xsd:element minOccurs="0" name="detalleSCR" type="cliBO:DetalleSCRType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:simpleType name="idContacto">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Contactos">
    <xsd:annotation>
      <xsd:documentation>Tipo de dato para los contactos</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="Contacto" type="cliBO:Contacto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Contacto">
    <xsd:annotation>
      <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
      <xsd:documentation>Entidad Contacto - (Modelo canónico)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idContacto" type="cliBO:idContacto"/>
      <xsd:element name="idCliente" type="cliBO:idCliente"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="nombre" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="telefono" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="correoElectronico" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="cargo" type="xsd:string"/>
      <xsd:element name="tipo" type="xsd:string"/>
      <xsd:element name="fechaRegistro" type="xsd:dateTime"/>
      <xsd:element name="idContactosClientes" type="xsd:long"/>
      <xsd:element default="false" minOccurs="0" name="recibeAvisoCobro" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="idTipoPersona">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TipoPersona">
    <xsd:annotation>
      <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
      <xsd:documentation>Tipo de persona, calificativo para el cliente</xsd:documentation>
      <!-- Ver tabla TCA_DOCUMENTO -->
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idTipoDocumento" type="cliBO:idTipoPersona"/>
      <xsd:element name="descripcion" type="xsd:string"/>
      <xsd:element name="descripcionCorta" type="xsd:int"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
      <xsd:element name="estado" type="xsd:string"/>
      <xsd:element name="descripcion" type="xsd:string"/>
      <xsd:element name="codigoExterno" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EntidadMinimaOperacion">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="xsd:long"/>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="cliente" type="xsd:string"/>
      <xsd:element name="pais" type="xsd:string"/>
      <xsd:element name="producto" type="xsd:string"/>
      <xsd:element name="responsable" type="xsd:string"/>
      <xsd:element name="etapa" type="xsd:string"/>
      <xsd:element name="estado" type="xsd:string"/>
      <xsd:element name="SCR" type="catBO:Catalogo"/>
      <xsd:element name="perspectiva" type="catBO:Catalogo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="mora">
    <xsd:sequence>
      <xsd:element name="dias" type="xsd:int"/>
      <xsd:element name="monto" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="tipo" type="catBO:Catalogo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:group name="ClienteIdentificador">
    <xsd:sequence>
      <xsd:element name="idCliente" type="cliBO:idCliente"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="idFacturador">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:group>
  <xsd:complexType name="SCRType">
    <xsd:sequence>
      <xsd:group ref="cliBO:ClienteIdentificador"/>
      <xsd:element minOccurs="0" name="scr" type="xsd:string"/>
      <xsd:element minOccurs="0" name="estadoScr" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="observacion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fecha" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="usuarioModifico" type="xsd:string"/>
      <xsd:element minOccurs="0" name="usuarioValido" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="reservaType">
    <xsd:sequence>
      <xsd:element name="importeReserva" type="xsd:decimal"/>
      <xsd:element name="tipoReserva" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SeguimientoCrediticioType">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element name="idCliente" type="cliBO:idCliente"/>
      <xsd:element name="tipoInicio" type="xsd:string"/>
      <xsd:element name="tipoRevision" type="xsd:string"/>
      <xsd:element name="scr" type="catBO:Catalogo"/>
      <xsd:element name="estadoSCR" type="catBO:Catalogo"/>
      <xsd:element name="perspectiva" type="catBO:Catalogo"/>
      <xsd:element name="esCalificacionDividida" type="xsd:boolean"/>
      <xsd:element name="fechaAprobado" type="xsd:dateTime"/>
      <xsd:element name="instanciaProceso" type="xsd:string"/>
      <xsd:element name="loginUsuario" type="xsd:string"/>
      <xsd:element name="nombreUsuario" type="xsd:string"/>
      <xsd:element name="fechaRegistro" type="xsd:dateTime"/>
      <xsd:element name="banEstatus" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DetalleSCRType">
    <xsd:sequence>
      <xsd:element name="scrFuente" type="cliBO:SCRType"/>
      <xsd:element name="scrReferencia" type="cliBO:SCRType"/>
      <xsd:element name="estatusComparacion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>