Microservicio/JAVA/Garcia/JDAAPIApp/JDAAPICore/src/META-INF/config2/Temp.xml

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Canonical/Commons/Items/v1"
           xmlns:enums="http://mx.agarcia.ea/Canonical/Commons/Enums/v1"
           xmlns:ctry="http://mx.agarcia.ea/Canonical/Commons/Countries/v1"
           xmlns:supp="http://mx.agarcia.ea/Canonical/Commons/Suppliers/v1"
           targetNamespace="http://mx.agarcia.ea/Canonical/Commons/Items/v1" elementFormDefault="qualified">
    <xs:import schemaLocation="CommonEnums.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Enums/v1"/>
    <xs:import schemaLocation="CountryTypeSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Countries/v1"/>
    <xs:import schemaLocation="SupplierCommonSchema.xsd"
               namespace="http://mx.agarcia.ea/Canonical/Commons/Suppliers/v1"/>
    <xs:simpleType name="ItemIDTypeCode">
        <xs:union memberTypes="base:ItemTypeCodeEnum enums:TypeCodeExtension"/>
    </xs:simpleType>
    <xs:simpleType name="ItemTypeCodeEnum">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Style"/>
            <xs:enumeration value="SKU"/>
            <xs:enumeration value="ItemID"/>
            <xs:enumeration value="UPC"/>
            <xs:enumeration value="OTHER"/>
            <xs:enumeration value="UNKNOWN"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="ItemID">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute form="unqualified" name="Name" type="xs:string" use="optional"/>
                <xs:attribute form="unqualified" name="Qualifier" type="xs:string" use="optional"/>
                <xs:attribute form="unqualified" name="Type" type="base:ItemIDTypeCode" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ItemHierarchyTypeCode">
        <xs:union memberTypes="base:ItemHierarchyTypeEnum enums:TypeCodeExtension"/>
    </xs:simpleType>
    <xs:simpleType name="ItemHierarchyTypeEnum">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Company"/>
            <xs:enumeration value="Brand"/>
            <xs:enumeration value="Division"/>
            <xs:enumeration value="Department"/>
            <xs:enumeration value="SubDepartment"/>
            <xs:enumeration value="Type"/>
            <xs:enumeration value="Class"/>
            <xs:enumeration value="Subclass"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="HerarchyID">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute form="unqualified" name="Type" type="base:ItemIDTypeCode" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="ItemCatalogTypeEnum">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Family"/>
            <xs:enumeration value="Expiration"/>
            <xs:enumeration value="WeekFloorSale"/>
            <xs:enumeration value="Consumer"/>
            <xs:enumeration value="Furnishing"/>
            <xs:enumeration value="Warehouse"/>
            <xs:enumeration value="Retail"/>
            <xs:enumeration value="Buyer"/>
            <xs:enumeration value="Size"/>
            <xs:enumeration value="Color"/>
            <xs:enumeration value="Classification"/>
            <xs:enumeration value="Seasson"/>
            <xs:enumeration value="Stage"/>
            <xs:enumeration value="Priority"/>
            <xs:enumeration value="Sticker"/>
            <xs:enumeration value="Other"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="ItemCatalogTypeCode">
        <xs:union memberTypes="base:ItemCatalogTypeEnum enums:TypeCodeExtension"/>
    </xs:simpleType>
    <xs:complexType name="IdCatalog">
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute form="unqualified" name="Type" type="base:ItemCatalogTypeCode" use="optional"/>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>
    <xs:simpleType name="AppCodeTypeEnum">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="OracleRPM"/>
            <xs:enumeration value="OracleRMS"/>
            <xs:enumeration value="WinDSS"/>
            <xs:enumeration value="XStore"/>
            <xs:enumeration value="ECommerce"/>
            <xs:enumeration value="Prototipos"/>
            <xs:enumeration value="JDA"/>
            <xs:enumeration value="SAALMA"/>
            <xs:enumeration value="AlmacenesGarcía"/>
            <xs:enumeration value="Global"/>
            <xs:enumeration value="Other"/>
            <xs:enumeration value="Unknown"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="AppCodeType">
        <xs:union memberTypes="base:AppCodeTypeEnum enums:TypeCodeExtension"/>
    </xs:simpleType>
    <xs:complexType name="ItemCommonBase">
        <xs:sequence>
            <xs:element name="id" type="base:ItemID" maxOccurs="1" minOccurs="0"/>
            <xs:element name="internalID" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="internalType" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="name" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="status" type="base:ItemCatalog" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="description" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="shortDescription" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="model" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="creationDate" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="countryOfOrigin" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Codigo de pais</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:string">
                            <xs:attribute default="US" name="CountryCode" type="ctry:CountryCode" use="optional"/>
                            <xs:attribute name="CountryName" type="xs:string" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Item">
        <xs:complexContent>
            <xs:extension base="base:ItemCommonBase">
                <xs:sequence>
                    <xs:element name="itemHierarchyInfo" type="base:HierarchyList" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="owner" type="xs:string" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="price" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="cost" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="itemDetailInfo" type="base:ItemDetailed" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="catalogs" type="base:CatalogList" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="itemLevel" type="xs:int" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="parent" type="base:Item" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="children" type="base:ItemList" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="images" type="base:ItemImageList" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
                <xs:attribute default="false" name="ActivationRequiredFlag" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>ndica que el elemento necesita ser activado cuando se vende</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute default="true" name="AllowInLayawayFlag" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="AlterableFlag" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>Indica que este artículo se puede modificar, es decir, los puños en los
                                          hombres, Pantalones, vestidos de novia</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute default="true" name="AuthorizedForSaleFlag" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>bandera para indicar que la tienda es autorizado para vender este artículo en
                                          particular.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute default="true" name="CustomerOrderFlag" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>Indicates whether a customer can order this item</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute default="true" name="DirectOrderFlag" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>Indicates whether this item can be directly ordered from the store by a
                                          customer</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute default="false" name="NonShelfItemFlag" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>Identifies this item as being too big to put on the shelf and must be picked
                                          up at or delivered from an inventory location, i.e. piano, couches, ...</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute default="true" name="NonSoldItemReturnableFlag" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>EAN.UCC Definition: Indicates that the buyer can return the articles that are
                                          not sold. Used, for example; with magazines and bread. This is a y/n (Boolean)
                                          where y equals right of return. This is at least relevant to General
                                          Merchandise, Publishing industries and for some FMCG trade item. Business
                                          Rules: This attribute applies to certain industries, and applies to return of
                                          salable goods. This indicator identifies the general rule, and is not
                                          transaction based.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute default="false" name="QuantityRequiredFlag" type="xs:boolean" use="optional"/>
                <xs:attribute default="false" name="SerialNumberFlag" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>Indicates whether this item has a serial number associated with it that the
                                          operator must enter;</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute default="false" name="SpecialOrderFlag" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>Indicates this is a special ordered item</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute default="true" name="SpecialOrderableFlag" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>Available for special orders</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
                <xs:attribute default="false" name="TaxIncludedInPriceFlag" type="xs:boolean" use="optional">
                    <xs:annotation>
                        <xs:documentation>indicates the tax is included</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>
    <xs:complexType name="ItemHierarchy">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="code" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="primaryParent" type="base:ItemHierarchy" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="primaryChildren" type="base:ItemHierarchy" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="parent" type="base:ItemHierarchy" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="children" type="base:HierarchyList" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
        <xs:attribute form="unqualified" name="Type" type="base:ItemCatalogTypeEnum" use="optional"/>
        <xs:attribute form="unqualified" name="AppCode" type="base:AppCodeType" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ItemCatalog">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="code" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="primaryParent" type="base:ItemCatalog" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="primaryChildren" type="base:ItemCatalog" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="parent" type="base:ItemCatalog" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="children" type="base:CatalogList" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
        <xs:attribute form="unqualified" name="Type" type="base:ItemCatalogTypeEnum" use="optional"/>
        <xs:attribute form="unqualified" name="AppCode" type="base:AppCodeType" use="optional"/>
    </xs:complexType>
    <xs:complexType name="ItemImage">
        <xs:sequence>
            <xs:element name="id" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="code" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
            <xs:element name="url" type="xs:string" minOccurs="0" maxOccurs="1" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ItemDetailed">
        <xs:sequence>
            <xs:element name="attributes" type="base:AttributeList" maxOccurs="1" minOccurs="0"/>
            <xs:element name="colorGroup" type="base:ItemCatalog" maxOccurs="1" minOccurs="0"/>
            <xs:element name="sizeGroup" type="base:ItemCatalog" maxOccurs="1" minOccurs="0"/>
            <xs:element name="colors" type="base:ColorList" maxOccurs="1" minOccurs="0"/>
            <xs:element name="sizes" type="base:SizeList" maxOccurs="1" minOccurs="0"/>
            <xs:element name="supplier" type="supp:SupplierCommonBase" maxOccurs="1" minOccurs="0"/>
            <xs:element name="brandOwner" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="coupon" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="handling" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="itemPrice" type="xs:decimal" maxOccurs="1" minOccurs="0"/>
            <xs:element name="manufacturer" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="marketing" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="mixMatch" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="orderInformation" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="organicCharacteristics" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="pack" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="packaging" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="palletInformation" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="preparedItem" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="RFID" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="sellingLocation" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="sellingRules" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="serializedItem" type="xs:string"/>
            <xs:element name="serviceItem" type="xs:string"/>
            <xs:element name="shelfInformation" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="stockItem" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="styleID" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="targetMargin" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="targetMarket" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="taxInformation" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="warranty" type="xs:string" maxOccurs="1" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>A code to signify the type of warranty offered by the RETAIL STORE. This warranty
                                      normally supplements the warranty offered by the MANUFACTURER or A code to denote
                                      the type of warranty offered on the SERIALIZED ITEM by the MANUFACTURER</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="prefix" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="packInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="tranLevel" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="itemDesc" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="shortDesc" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="descUp" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="primaryRefItemInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="retailZoneGroupId" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="costZoneGroupId" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="standardUOM" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="uomConvFactor" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="packageSize" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="packageUOM" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="merchandiseInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="storeOrdMult" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="forecastInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="mfgRecRetail" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="handlingTemp" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="handlingSensitivity" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="catchWeightInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="wasteType" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="wastePct" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="defaultWastePct" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="constDimenInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="simplePackInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="containsInnerInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="sellableInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="orderableInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="packType" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="orderAsType" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="comments" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="unitRetail" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="itemServiceLevel" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="giftWrapInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="shipAloneInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="itemXformInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="inventoryInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="orderType" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="saleType" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="containerItem" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="depositInPricePerUOM" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="itemBOMDesc" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="componentItem" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="packQty" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="countryId" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="itemUDADtl" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="primarySuppInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="vpn" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="consignmentRate" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="directShipInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="palletName" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="caseName" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="innerName" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="primaryCaseSize" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="itemSupCtyDesc" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="originCountryId" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="primaryCountryInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="unitCost" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="leadTime" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="pickupLeadTime" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="minOrderQty" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="maxOrderQty" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="defaultUop" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="suppPackSize" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="innerPackSize" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="costUOM" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="toleranceType" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="minTolerance" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="maxTolerance" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="itemSupCtyDescItemCostDesc" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="deliveryCountryId" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="nicStaticInd" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="baseCost" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="negotiatedItemCost" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="extendedBaseCost" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="inclusiveCost" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="XISCDimDesc" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="HierarchyList">
        <xs:sequence>
            <xs:element name="hierarchy" type="base:ItemHierarchy" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CatalogList">
        <xs:sequence>
            <xs:element name="catalog" type="base:ItemCatalog" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AttributeList">
        <xs:sequence>
            <xs:element name="attribute" type="base:ItemCatalog" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ColorList">
        <xs:sequence>
            <xs:element name="color" type="base:ItemCatalog" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SizeList">
        <xs:sequence>
            <xs:element name="size" type="base:ItemCatalog" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ItemList">
        <xs:sequence>
            <xs:element name="item" type="base:Item" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ItemImageList">
        <xs:sequence>
            <xs:element name="itemImage" type="base:ItemImage" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>