Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/WSBANENQ318ACH/BANENQ318ACHAMLType.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty" xmlns:ns0="http://www.temenos.com/T24/ofs/BANENQ318ACHAMLType" xmlns:xdb="http://xmlns.oracle.com/xdb" targetNamespace="http://www.temenos.com/T24/ofs/BANENQ318ACHAMLType" xdb:storeVarrayAsTable="true">
	<!-- This T24 XML Schema automatically produced -->
	<!-- Copyright Temenos Holdings NV 2018-->
	<!-- T24 Application: BAN.ENQ.318ACH.AML -->
	<!-- T24 Release: R16 -->
	<!-- Production timestamp: 14:45:15 24 SEP 2018 -->
	<xsd:element name="BANENQ318ACHAML" type="ns0:BANENQ318ACHAMLType">
		<xsd:annotation>
			<xsd:documentation>This is the top level element for the record data</xsd:documentation>
			<xsd:appinfo>
				<hfp:hasProperty name="locked" value="no"/>
				<hfp:hasProperty name="useschema" value="no"/>
				<hfp:hasProperty name="register" value="no"/>
				<hfp:hasProperty name="aaPropertyName" value=""/>
			</xsd:appinfo>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="BANENQ318ACHAMLType" xdb:maintainDOM="false">
		<xsd:annotation>
			<xsd:documentation>This complex type represents the T24 data for the BAN.ENQ.318ACH.AML table</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element minOccurs="0" name="gBANENQ318ACHAMLDetailType">
				<xsd:complexType xdb:SQLType="gBANENQ318ACHAMLSelfldid" xdb:maintainDOM="false">
					<xsd:sequence minOccurs="0">
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="mBANENQ318ACHAMLDetailType" xdb:SQLCollType="mBANENQ318ACHAMLSelfldid_COLL">
							<xsd:complexType xdb:SQLType="mBANENQ318ACHAMLSelfldid" xdb:maintainDOM="false">
								<xsd:sequence minOccurs="0">
									<xsd:element id="selFldID" minOccurs="0" name="Id" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>selFldID</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="selFldID"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="10"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="ID.CLIENTE" minOccurs="0" name="CodClienteRIMOrigen" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>ID.CLIENTE</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="ID.CLIENTE"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="FULL.NAME" minOccurs="0" name="NombreClienteTitularCtaOrigen" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>FULL.NAME</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="FULL.NAME"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="ALTERNATE.ID" minOccurs="0" name="NumerodeCuentaOrigen" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>ALTERNATE.ID</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="ALTERNATE.ID"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="TRANSACTION.CODE" minOccurs="0" name="CodigodeTransaccion" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>TRANSACTION.CODE</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="TRANSACTION.CODE"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="CANAL" minOccurs="0" name="CanaloMedio" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>CANAL</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="CANAL"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="DATE.FORMAT" minOccurs="0" name="FechaTrx" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>DATE.FORMAT</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="DATE.FORMAT"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="TIME" minOccurs="0" name="HoraTrx" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>TIME</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="TIME"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="CATEGORY" minOccurs="0" name="CodigodeProducto" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>CATEGORY</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="CATEGORY"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="SUBPRODUCT" minOccurs="0" name="CodigodeSubproducto" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>SUBPRODUCT</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="SUBPRODUCT"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="CHQ.START" minOccurs="0" name="NoChequeInicial" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>CHQ.START</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="CHQ.START"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="CHQ.FINAL" minOccurs="0" name="NoChequeFinal" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>CHQ.FINAL</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="CHQ.FINAL"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="CHQ.TYPE" minOccurs="0" name="TipodeChequera" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>CHQ.TYPE</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="CHQ.TYPE"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="STATUS" minOccurs="0" name="EstatusCtaoProducto" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>STATUS</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="STATUS"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="SIGNO" minOccurs="0" name="SignoValor" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>SIGNO</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="SIGNO"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="SALDO.DISPONIBLE" minOccurs="0" name="SaldoDisponible" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>SALDO.DISPONIBLE</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="SALDO.DISPONIBLE"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="VALOR.RELATION" minOccurs="0" name="FlagEmpleadoCtaOrigen" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>VALOR.RELATION</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="VALOR.RELATION"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="CO.CODE" minOccurs="0" name="SucursalAperturaCuentaOrigen" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>CO.CODE</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="CO.CODE"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="USER.NAME" minOccurs="0" name="NombredeUsuario" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>USER.NAME</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="USER.NAME"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="USER.TYPE" minOccurs="0" name="TipodeUsuario" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>USER.TYPE</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="USER.TYPE"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="ID.CLIENTE.RFC" minOccurs="0" name="IDdeCliente" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>ID.CLIENTE.RFC</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="ID.CLIENTE.RFC"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="OPENING.DATE" minOccurs="0" name="FechaAperturaCuenta" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>OPENING.DATE</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="OPENING.DATE"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="SUCURSAL.TYPE" minOccurs="0" name="TipodeSucursal" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>SUCURSAL.TYPE</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="SUCURSAL.TYPE"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="EMPLOY.TYPE" minOccurs="0" name="TipodeEmpleado" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>EMPLOY.TYPE</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="EMPLOY.TYPE"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="CHANGES.OLD" minOccurs="0" name="ValorAnterioralCambio" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>CHANGES.OLD</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="CHANGES.OLD"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="CHANGES.NEW" minOccurs="0" name="ValorPosterioralCambio" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>CHANGES.NEW</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="CHANGES.NEW"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
									<xsd:element id="TYPE.NOVELTY" minOccurs="0" name="TipodeNovedad" nillable="true" xdb:SQLName="">
										<xsd:annotation>
											<xsd:documentation>TYPE.NOVELTY</xsd:documentation>
											<xsd:appinfo>
												<hfp:hasProperty name="fielddatatype" value="string"/>
												<hfp:hasProperty name="fieldname" value="TYPE.NOVELTY"/>
											</xsd:appinfo>
										</xsd:annotation>
										<xsd:simpleType>
											<xsd:restriction base="xsd:string">
												<xsd:maxLength value="350"/>
											</xsd:restriction>
										</xsd:simpleType>
									</xsd:element>
								</xsd:sequence>
								<xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
					<xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>