AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/FulfillmentOrder/FulfillmentOrderEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/FulfillmentOrder" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/FulfillmentOrder" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom">
  <!-- ====================================================================== -->
  <!-- =====      Imports                                               ===== -->
  <!-- ====================================================================== -->
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Common" schemaLocation="../../Common/CommonComponents.xsd"/>
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Custom" schemaLocation="../../Custom/EBO/CustomFulfillmentOrderEBO.xsd"/>
  <!-- ====================================================================== -->
  <!-- ==============        PurchaseOrder EBO         ====================== -->
  <!-- ====================================================================== -->
  <xsd:element name="FulfillmentOrderEBO" type="FulfillmentOrderEBOType"/>
  <xsd:complexType name="FulfillmentOrderEBOType">
    <xsd:sequence>
      <!-- ==============  PurchaseOrder ID ====================== -->
      <xsd:element name="Identification" type="com:IdentificationType" minOccurs="0"/>
      <!-- ==============  PurchaseOrderEBO Elements INIT ====================== -->
      <xsd:element name="ProcessID" minOccurs="0" type="com:IdentifierType"/>
      <!--xsd:element name="Source" minOccurs="0" type="com:StringType"/-->
      <xsd:element name="LocationId" minOccurs="0" type="com:IdentifierType"/>
      <xsd:element name="Status" minOccurs="0" type="com:StatusType"/>
      <xsd:element name="Supplier" minOccurs="0" type="com:OrganizationReferenceType" maxOccurs="0"/>
      <xsd:element name="FulfillmentOrderLine" type="FulfillmentOrderLineType" minOccurs="0" maxOccurs="unbounded"/>
      <!--xsd:element name="ReleaseID" minOccurs="0" type="com:IdentifierType"/-->
      <!--xsd:element name="BusinessUnit" minOccurs="0" type="com:BusinessUnitType"/-->
      <xsd:element name="Comments" minOccurs="0" maxOccurs="unbounded" type="com:TextType"/>
      <!-- ==============  PurchaseOrderEBO Elements END ====================== -->
      <!-- ==============  PurchaseOrder CustomElements in  CustomPurchaseOrderEBO ======== -->
      <xsd:element name="Custom" minOccurs="0" type="cust:CustomFulfillmentOrderEBOType"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="com:ActionType" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="FulfillmentOrderLineType">
    <xsd:sequence>
      <xsd:element name="SKU" minOccurs="0" type="com:IdentifierType"/>
      <xsd:element name="Quantity" minOccurs="0" type="com:QuantityType"/>
      <xsd:element name="Status" type="com:StatusType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>