AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/Citas/CitasEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Citas" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Citas" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom">
  <xsd:import schemaLocation="../../Common/CommonComponents.xsd" namespace="http://www.agarcia.mx/EnterpriseObjects/Common"/>
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Custom" schemaLocation="../../Custom/EBO/CustomCitasEBO.xsd"/>
  <xsd:element name="CitasEBO" type="CitasEBOType"/>
  <xsd:complexType name="CitasEBOType">
    <xsd:sequence>
      <xsd:element name="from_location" type="com:LocationType"/>
      <xsd:element name="to_location" type="com:LocationType"/>
      <xsd:element name="appt_nbr" type="com:IdentificationType"/>
      <xsd:element name="appt_start_ts" minOccurs="0" type="com:TextType"/>
      <xsd:element name="appt_action_status" type="com:TextType"/>
      <xsd:element name="Desc" maxOccurs="unbounded" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="item_id" type="com:IdentificationType"/>
            <xsd:element name="unit_qty" type="com:QuantityType"/>
            <xsd:element name="po_nbr" type="com:IdentificationType"/>
            <xsd:element name="document_type" type="com:TextType"/>
            <xsd:element name="asn_nbr" minOccurs="0" type="com:IdentificationType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Custom" minOccurs="0" type="cust:CustomcitasEBOType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>