AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/Citas/CitasEBM.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Citas" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Citas" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <xsd:import schemaLocation="../../Common/CommonComponents.xsd" namespace="http://www.agarcia.mx/EnterpriseObjects/Common"/>
  <xsd:include schemaLocation="CitasEBO.xsd"/>
  <xsd:element name="ProccesCitasEBM" type="ProccesCitasEBMType"/>
  <xsd:element name="ProccesCitasResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>
  <xsd:element name="CreateCitasEBM" type="CreateCitasEBMType"/>
  <xsd:element name="UpadateCitasEBM" type="ProccesCitasEBMType"/>
  <xsd:element name="DeleteCitasEBM" type="ProccesCitasEBMType"/>
  <xsd:element name="ProccesCitasResponseEBM" type="com:ResponseType"/>
  <xsd:element name="CreateCitasResponseEBM" type="CreateCitasResponseEBMType"/>
  <xsd:element name="UpdateCitasResponseEBM" type="com:ResponseType"/>
  <xsd:element name="DeleteAppointmentResponseEBM" type="com:ResponseType"/>
  <xsd:element name="CreateCitasResponseAcknowledgeEBM" type="com:ResponseType"/>
  <xsd:element name="UpdateCitasResponseAcknowledgeEBM" type="com:ResponseType"/>
  <xsd:element name="DeleteCitasResponseAcknowledgeEBM" type="com:ResponseType"/>
  <xsd:complexType name="ProccesCitasEBMType">
    <xsd:sequence>
      <xsd:element name="header" type="com:HeaderType"/>
      <xsd:element name="dataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CitasEBO" type="CitasEBOType"/>
            <xsd:element name="CitasRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateCitasEBMType">
    <xsd:sequence>
      <xsd:element name="header" type="com:HeaderType"/>
      <xsd:element name="dataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateCitas" type="CitasEBOType"/>
            <xsd:element name="AppointmentRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseAcknowledgeEBMType">
    <xsd:sequence>
      <xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateCitasResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="CreateAppointmentReference" type="com:IdentificationType"/>
      <xsd:element name="AppointmentRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>