BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ConsultarConfiguracion/V1/Schema/ConsultarConfiguracionMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ConsultarConfiguracion"
            targetNamespace="http://www.bcie.org/ConsultarConfiguracion" elementFormDefault="qualified" 
            xmlns:comBO="http://www.bcie.org/CommonBO"
            xmlns:resBO="http://www.bcie.org/ResultBO">
            
  <xsd:import namespace="http://www.bcie.org/CommonBO" schemaLocation="../../../../Common/V1/Schema/CommonBO.xsd"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="ConsultarConfiguracionRequest" type="ConsultarConfiguracionRequestType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConsultarConfiguracionResponse" type="ConsultarConfiguracionResponseType"/>
  <xsd:complexType name="ConsultarConfiguracionRequestType">
    <xsd:sequence>
      <xsd:element name="Parametro" type="comBO:parameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarConfiguracionResponseType">
    <xsd:sequence>
      <xsd:element name="Parametro" type="comBO:parameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
