BCIE_fenix/qa/SOA/03-SOA-SERVICES/DominioDesembolso/PropagarTransferencia/SOA/Schemas/PropagarTransferenciaXSD.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http:/www.bcie.org/PropagarTransferenciaXSD"
            targetNamespace="http:/www.bcie.org/PropagarTransferenciaXSD" elementFormDefault="qualified">
  <xsd:element name="estructuraCorreo">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="tablaCorreo" type="Correo"/>
  <xsd:complexType name="Correo">
    <xsd:sequence>
      <xsd:element name="tablaTransferencias" type="TablaTransferencias" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TablaTransferencias">
    <xsd:sequence>
      <xsd:element name="idTransferencia" type="xsd:string"/>
      <xsd:element name="numeroReserva" type="xsd:string"/>
      <xsd:element name="numeroCuenta" type="xsd:string"/>
      <xsd:element name="referencia" type="xsd:string"/>
      <xsd:element name="monto" type="xsd:string"/>
      <xsd:element name="operacion" type="xsd:string"/>
      <xsd:element name="estatus" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
