BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/MatrizTCC/ActualizarEstadoTCC/XSD/ActualizarEstadoComision.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ActualizarEstadoComision" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ActualizarEstadoComision" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ActualizarEstadoComisionInput" type="ActualizarEstadoComisionInput"/>
   <xs:complexType name="ActualizarEstadoComisionInput">
      <xs:sequence>
         <xs:element name="idEstado" type="xs:decimal" nillable="true"/>
         <xs:element name="idSubEstado" type="xs:decimal" nillable="true"/>
         <xs:element name="idComision" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>