Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFAcctDep/AcctFixDepAdd/AcctFixDepAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFAcctDepAppSvc/AcctFixDepAdd_V1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:appoptAcctFixDepAdd="http://xmlns.banesco.com/appopt/WFAcctDepAppSvc/AcctFixDepAdd_V1.0"
           xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
           xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" elementFormDefault="qualified">
  <xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../../../EO/Common/Common_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
             schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
  <xs:element name="AcctFixDepAddRq" type="appoptAcctFixDepAdd:AcctFixDepAddRq_Type"/>
  <xs:element name="AcctFixDepAddRs" type="appoptAcctFixDepAdd:AcctFixDepAddRs_Type"/>
  <xs:complexType name="Acct">
    <xs:annotation>
      <xs:documentation>Account Information Aggregate. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AcctSubtype" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Producto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcctTitle" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nombre del certificado</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcctType" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Grupo de Producto.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Activity" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Actividad</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Category" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Categoria</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CloseDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fecha de vencimiento</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClubBanesco" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indica si el producto pertenece al Club Banesco</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Moneda</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>General-purpose text description. Meaning depends on context.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MovType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Instrucción de movilizacion</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Narrative" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Descripción</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ProductLine" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Linea de producto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubCategory" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sub producto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Variation" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Variación del producto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcctMember" type="appoptAcctFixDepAdd:AcctMember" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="DepAcctData" type="appoptAcctFixDepAdd:DepAcctData" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IntRateData" type="appoptAcctFixDepAdd:IntRateData" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AcctOpeningInfo" type="appoptAcctFixDepAdd:AcctOpeningInfo" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctFixDepAddRq_Type">
    <xs:sequence>
      <xs:element name="Acct" type="appoptAcctFixDepAdd:Acct" minOccurs="1" maxOccurs="1"/>
      <xs:element name="PayeeInfo" type="appoptAcctFixDepAdd:PayeeInfo" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctFixDepAddRs_Type">
    <xs:sequence>
      <xs:element name="AcctKey" type="appoptAcctFixDepAdd:AcctKey" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctKey">
    <xs:sequence>
      <xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>DEPOSIT.ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcctReference" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AlternateId" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctMember">
    <xs:sequence>
      <xs:element name="PartyRole" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Rol del cliente</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PartyKey" type="appoptAcctFixDepAdd:PartyKey" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctOpeningInfo">
    <xs:sequence>
      <xs:element name="BusinessUnit" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>BusinessUnit</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EffDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fecha efectiva</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InitialAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Monto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OpenDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Trade Date - Fecha de apertura</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RqReason" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Instrucciones de desembolso</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SaleOfficer" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Canal de venta</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Contact">
    <xs:annotation>
      <xs:documentation>The Contact aggregate appears wherever a person's or organization's contact information is needed.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Locator" type="appoptAcctFixDepAdd:Locator" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Country">
    <xs:annotation>
      <xs:documentation>All representations of countries in the IFX Specification are based upon agreed upon standard codes between client and server. The default, if not specified, is the Alpha 3-character codes for countries that are defined in ISO-3166.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código del país</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nombre del país.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditAcctData">
    <xs:annotation>
      <xs:documentation>Credit Account Data.

Used to maintain and retrieve data specific to credit products. Could have one register per CurrencyCode</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="SettleInstruction" type="appoptAcctFixDepAdd:SettleInstruction" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditRegularPmt">
    <xs:sequence>
      <xs:element name="Freq" type="appoptcommon:Freq" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Frecuencia de pago</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PmtClass" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Metodo de pago</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PmtType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Forma de pago de intereses</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PmtDetail" type="appoptAcctFixDepAdd:PmtDetail" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PmtTargetDetail" type="appoptAcctFixDepAdd:PmtTargetDetail" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DepAcctData">
    <xs:sequence>
      <xs:element name="ChangeActivity" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cambio de actividad</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeDateType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cambio de tipo de fecha</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ChangePeriod" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cambio de periodo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RenewalOption" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de renovación (Iniciación)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SettleInstruction" type="appoptAcctFixDepAdd:SettleInstruction" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Term" type="appoptAcctFixDepAdd:Term" minOccurs="0" maxOccurs="1"/>
      <xs:element name="DepInterestPmt" type="appoptAcctFixDepAdd:CreditRegularPmt" minOccurs="0"
                  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FSPayee">
    <xs:annotation>
      <xs:documentation>The FSPayee aggregate is used to provide complete information about a Fully-Specified Payee.  Used in Bill Pay message set when a payee is identified as a Fully Specified payee, as opposed to a Biller, or a Transfer Payee.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PersonData" type="appoptAcctFixDepAdd:PersonData" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Person Data.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Identification">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de identificación.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IntRateData">
    <xs:sequence>
      <xs:element name="EffRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tasa de interés efectiva</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tasa de Interés</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PeriodicIndex" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indice</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SurTax" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sobre tasa</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IssuedIdent">
    <xs:annotation>
      <xs:documentation>Issued Identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Ident" type="appoptAcctFixDepAdd:Identification" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificación</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Locator">
    <xs:annotation>
      <xs:documentation>Information necessary to establish contact.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Phone" type="appoptAcctFixDepAdd:Phone" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PostAddr" type="appoptAcctFixDepAdd:PostAddr" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyData">
    <xs:annotation>
      <xs:documentation>Party Data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Contact" type="appoptAcctFixDepAdd:Contact" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Información del contacto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuedIdent" type="appoptAcctFixDepAdd:IssuedIdent" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyKey">
    <xs:sequence>
      <xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número del cliente</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayeeInfo">
    <xs:sequence>
      <xs:element name="PayeeType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de relación. Ejemplos: Brother, Father, Mother, Parent, Self, Sibling, Sister, etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Percentage" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Porcentaje que le corresponde al beneficiario. la suma de todos los porcentajes no debe de exceder el 100%.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TutorData" type="appoptAcctFixDepAdd:PersonData" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Información del tutor.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="UnderAge" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Es menor de edad.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FSPayee" type="appoptAcctFixDepAdd:FSPayee" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayIn">
    <xs:sequence>
      <xs:element name="Settlement" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>ACTIVACIÓN DEL TIPO DE PAGO (YES, NO)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayInAcctRef" type="appoptAcctFixDepAdd:PayInAcctRef" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayInAcctRef">
    <xs:sequence>
      <xs:element name="PayInAcct" type="appoptAcctFixDepAdd:AcctKey" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cuenta a debitar</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayOut">
    <xs:sequence>
      <xs:element name="PayOutAcct" type="appoptAcctFixDepAdd:AcctKey" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>LA CUENTA A DONDE VAN DIRIGIDOS LOS FONDOS DEL DESEMBOLSO / CUENTA INTERNA DE DESEMBOLSOS O CUENTAS DE DETALLE DEL CLIENTE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Settlement" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonData">
    <xs:annotation>
      <xs:documentation>Person Data Aggregate.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="appoptAcctFixDepAdd:PartyData">
        <xs:sequence>
          <xs:element name="PersonName" type="appoptAcctFixDepAdd:PersonName" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonName">
    <xs:annotation>
      <xs:documentation>Person Name.

The PersonName aggregate is used to specify a person's full name and, optionally, preferred name (nickname).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FullName" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nombre completo</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Phone">
    <xs:annotation>
      <xs:documentation>Phone</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AreaCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PhoneNum" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de telefono.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PhoneType" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PmtDetail">
    <xs:sequence>
      <xs:element name="PmtTarget" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Propiedad</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostAddr">
    <xs:annotation>
      <xs:documentation>The PostAddr aggregate is used wherever a postal address is needed.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Country" type="appoptAcctFixDepAdd:Country" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettleInstruction">
    <xs:annotation>
      <xs:documentation>SETTLEMENT INSTRUCTIONS</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PayIn" type="appoptAcctFixDepAdd:PayIn" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PayOut" type="appoptAcctFixDepAdd:PayOut" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Term">
    <xs:sequence>
      <xs:element name="ProposedTerm" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Término</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PmtTargetDetail">
    <xs:sequence>
      <xs:element name="StartDate" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>FECHA DE INICIO DE LA FRECUENCIA DE PAGO</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>