BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/EVAL/WSDL/EVAL.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="EVAL" targetNamespace="http://org/bcie/ws/middle/EVAL.wsdl" xmlns="" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.w3.org/2001/XMLSchema" xmlns:WL5G3N2="http://org/bcie/ws/middle/EVAL.wsdl/types/" xmlns:WL5G3N3="http://org/bcie/ws/middle/EVAL.wsdl" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://org/bcie/ws/middle/EVAL.wsdl/types/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://org/bcie/ws/middle/EVAL.wsdl/types/" xmlns:tns0="http://org/bcie/ws/middle/EVAL.wsdl/types/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
      <xsd:complexType name="decimalArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="BigDecimal" nillable="true" type="decimal"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EvaluacionesTypeUserArray">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="EvaluacionesTypeUser" nillable="true" type="tns:EvaluacionesTypeUser"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="EvaluacionesTypeUser">
        <xsd:complexContent>
          <xsd:extension base="tns:EvaluacionesTypeBase">
            <xsd:sequence>
              <xsd:element name="codigoNegocio" nillable="true" type="decimal"/>
              <xsd:element name="versionModelo" nillable="true" type="decimal"/>
              <xsd:element name="versionEvaluacion" nillable="true" type="decimal"/>
              <xsd:element name="codigoModelo" nillable="true" type="decimal"/>
              <xsd:element name="porcentajeObligatorio" nillable="true" type="decimal"/>
              <xsd:element name="descripcionEstado" nillable="true" type="string"/>
              <xsd:element name="porcentaje" nillable="true" type="decimal"/>
              <xsd:element name="estado" nillable="true" type="string"/>
              <xsd:element name="codigoTipoEvaluacion" nillable="true" type="decimal"/>
              <xsd:element name="codigoEvaluacion" nillable="true" type="decimal"/>
              <xsd:element name="tituloModelo" nillable="true" type="string"/>
              <xsd:element name="porcentajeGrupo" nillable="true" type="decimal"/>
              <xsd:element name="abreviaturaModelo" nillable="true" type="string"/>
              <xsd:element name="ultimaVersion" nillable="true" type="decimal"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="EvaluacionesTypeBase">
        <xsd:sequence/>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="EVAL_actualizarPregunta">
    <WL5G3N0:part name="idoperacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="scr" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tir" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="raroc" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fecha" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="codigousuario" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="EVAL_actualizarPreguntaResponse">
    <WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="EVAL_agregarModelo">
    <WL5G3N0:part name="codigoevaluacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigousuario" type="WL5G3N1:string"/>
    <WL5G3N0:part name="listacodigomodelo" type="WL5G3N2:decimalArray"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="EVAL_agregarModeloResponse">
    <WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="EVAL_consultarEvaluacion">
    <WL5G3N0:part name="codigonegocio" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoevaluacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="versionevaluacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigogrupo" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="EVAL_consultarEvaluacionResponse">
    <WL5G3N0:part name="listaevaluaciones_out" type="WL5G3N2:EvaluacionesTypeUserArray"/>
    <WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="EVAL_eliminarModelo">
    <WL5G3N0:part name="codigoevaluacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="versionevaluacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigomodelo" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="versionmodelo" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigousuario" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="EVAL_eliminarModeloResponse">
    <WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="EVAL_enviarEvaluacion">
    <WL5G3N0:part name="codigoevaluacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="versionevaluacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigomodelo" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="versionmodelo" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigousuario" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="EVAL_enviarEvaluacionResponse">
    <WL5G3N0:part name="correosenviados_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="EVAL_nuevaEvaluacion">
    <WL5G3N0:part name="codigonegociacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tituloevaluacion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoevaluacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigousuario" type="WL5G3N1:string"/>
    <WL5G3N0:part name="listacodigomodelo" type="WL5G3N2:decimalArray"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="EVAL_nuevaEvaluacionResponse">
    <WL5G3N0:part name="codigoevaluacion_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="EVAL_validarEvaluacion">
    <WL5G3N0:part name="codigoevaluacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="versionevaluacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigomodelo" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="versionmodelo" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigousuario" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="EVAL_validarEvaluacionResponse">
    <WL5G3N0:part name="correosenviados_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="EVAL_duplicarEvaluacion">
    <WL5G3N0:part name="codigoEvaluacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoUsuario" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipo" type="WL5G3N1:decimal"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="EVAL_duplicarEvaluacionResponse">
    <WL5G3N0:part name="nuevaEvaluacion_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="EVAL">
    <WL5G3N0:operation name="actualizarPregunta" parameterOrder="idoperacion scr tir raroc fecha codigousuario codigoresultado_out tiporesultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:EVAL_actualizarPregunta"/>
      <WL5G3N0:output message="WL5G3N3:EVAL_actualizarPreguntaResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="agregarModelo" parameterOrder="codigoevaluacion codigousuario listacodigomodelo codigoresultado_out tiporesultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:EVAL_agregarModelo"/>
      <WL5G3N0:output message="WL5G3N3:EVAL_agregarModeloResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarEvaluacion" parameterOrder="codigonegocio codigoevaluacion versionevaluacion codigogrupo listaevaluaciones_out codigoresultado_out tiporesultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:EVAL_consultarEvaluacion"/>
      <WL5G3N0:output message="WL5G3N3:EVAL_consultarEvaluacionResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="eliminarModelo" parameterOrder="codigoevaluacion versionevaluacion codigomodelo versionmodelo codigousuario codigoresultado_out tiporesultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:EVAL_eliminarModelo"/>
      <WL5G3N0:output message="WL5G3N3:EVAL_eliminarModeloResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="enviarEvaluacion" parameterOrder="codigoevaluacion versionevaluacion codigomodelo versionmodelo codigousuario correosenviados_out codigoresultado_out tiporesultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:EVAL_enviarEvaluacion"/>
      <WL5G3N0:output message="WL5G3N3:EVAL_enviarEvaluacionResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="nuevaEvaluacion" parameterOrder="codigonegociacion tituloevaluacion tipoevaluacion codigousuario listacodigomodelo codigoevaluacion_out codigoresultado_out tiporesultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:EVAL_nuevaEvaluacion"/>
      <WL5G3N0:output message="WL5G3N3:EVAL_nuevaEvaluacionResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validarEvaluacion" parameterOrder="codigoevaluacion versionevaluacion codigomodelo versionmodelo codigousuario correosenviados_out codigoresultado_out tiporesultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:EVAL_validarEvaluacion"/>
      <WL5G3N0:output message="WL5G3N3:EVAL_validarEvaluacionResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="duplicarEvaluacion">
      <WL5G3N0:input message="WL5G3N3:EVAL_duplicarEvaluacion"/>
      <WL5G3N0:output message="WL5G3N3:EVAL_duplicarEvaluacionResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="EVAL" type="WL5G3N3:EVAL">
    <WL5G3N4:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="actualizarPregunta">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/EVAL.wsdl/actualizarPregunta"/>
      <WL5G3N0:input>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="idoperacion scr tir raroc fecha codigousuario   " use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="codigoresultado_out tiporesultado_out mensaje_out" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="agregarModelo">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/EVAL.wsdl/agregarModelo"/>
      <WL5G3N0:input>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="codigoevaluacion codigousuario listacodigomodelo   " use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="codigoresultado_out tiporesultado_out mensaje_out" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarEvaluacion">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/EVAL.wsdl/consultarEvaluacion"/>
      <WL5G3N0:input>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="codigonegocio codigoevaluacion versionevaluacion codigogrupo    " use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="listaevaluaciones_out codigoresultado_out tiporesultado_out mensaje_out" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="eliminarModelo">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/EVAL.wsdl/eliminarModelo"/>
      <WL5G3N0:input>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="codigoevaluacion versionevaluacion codigomodelo versionmodelo codigousuario   " use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="codigoresultado_out tiporesultado_out mensaje_out" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="enviarEvaluacion">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/EVAL.wsdl/enviarEvaluacion"/>
      <WL5G3N0:input>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="codigoevaluacion versionevaluacion codigomodelo versionmodelo codigousuario    " use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="correosenviados_out codigoresultado_out tiporesultado_out mensaje_out" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="nuevaEvaluacion">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/EVAL.wsdl/nuevaEvaluacion"/>
      <WL5G3N0:input>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="codigonegociacion tituloevaluacion tipoevaluacion codigousuario listacodigomodelo    " use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="codigoevaluacion_out codigoresultado_out tiporesultado_out mensaje_out" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validarEvaluacion">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/EVAL.wsdl/validarEvaluacion"/>
      <WL5G3N0:input>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="codigoevaluacion versionevaluacion codigomodelo versionmodelo codigousuario    " use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="correosenviados_out codigoresultado_out tiporesultado_out mensaje_out" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="duplicarEvaluacion">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/EVAL.wsdl/duplicarEvaluacion"/>
      <WL5G3N0:input>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="codigoEvaluacion codigoUsuario tipo " use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body namespace="http://org/bcie/ws/middle/EVAL.wsdl" parts="nuevaEvaluacion_out codigoResultado_out tipoResultado_out mensaje_out" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="EVAL">
    <WL5G3N0:port binding="WL5G3N3:EVAL" name="EVAL">
      <WL5G3N4:address location="http://hn-apli-qa-1.bcie.org:7001/MIDDLE/EVAL"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>