BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/Prepago/ExtraerReportePrepago/XSD/ExtraerReportePrepago_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ExtraerReportePrepago" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ExtraerReportePrepago" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_ID_PREPAGO" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_OBSERVACIONES" type="db:RowSet" db:index="2" db:type="RowSet" minOccurs="0" nillable="true"/>
            <element name="P_PENALIDAD" type="db:RowSet" db:index="3" db:type="RowSet" minOccurs="0" nillable="true"/>
            <element name="P_CONDICIONES" type="db:RowSet" db:index="4" db:type="RowSet" minOccurs="0" nillable="true"/>
            <element name="P_COBERTURAS" type="db:RowSet" db:index="5" db:type="RowSet" minOccurs="0" nillable="true"/>
            <element name="P_VENTA_CARTERA" type="db:RowSet" db:index="6" db:type="RowSet" minOccurs="0" nillable="true"/>
            <element name="P_FUENTES_EXTERNAS" type="db:RowSet" db:index="7" db:type="RowSet" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
</schema>
