BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/CrearActualizarBitacoraDocumento/V1/Schema/CrearActualizarBitacoraDocumentoMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:regBiDocMO="http://www.bcie.org/CrearActualizarBitacoraDocumentoMO"
            xmlns:regBiDocBO="http://www.bcie.org/CrearActualizarBitacoraDocumentoBO"
            xmlns:resBO="http://www.bcie.org/ResultBO"
            targetNamespace="http://www.bcie.org/CrearActualizarBitacoraDocumentoMO" 
            elementFormDefault="qualified">
            
  <xsd:import namespace="http://www.bcie.org/CrearActualizarBitacoraDocumentoBO" schemaLocation="CrearActualizarBitacoraDocumentoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ResultBO"                           schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
  
  <xsd:element name="requestCrearActualizarBitacoraDocumentoMessage" type="regBiDocMO:CrearActualizarBitacoraDocumentoRequest"/>
  <xsd:element name="responseCrearActualizarBitacoraDocumentoMessage" type="regBiDocMO:CrearActualizarBitacoraDocumentoResponse"/>
  
  <xsd:complexType name="CrearActualizarBitacoraDocumentoRequest">
    <xsd:sequence>
      <xsd:element name="BitacoraDocumentoInput" type="regBiDocBO:BitacoraDocumento"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarBitacoraDocumentoResponse">
     <xsd:sequence>
      <xsd:element name="BitacoraDocumentoOutput" type="regBiDocBO:BitacoraDocumento"/>
      <xsd:element name="Result" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>