BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Condicion/ConsultarCondicionByRol/XSD/ConsultarEventoCondicionV2.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarEventoCondicion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarEventoCondicion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarEventoCondicionInput" type="ConsultarEventoCondicionInput"/>
   <xs:complexType name="ConsultarEventoCondicionInput">
      <xs:sequence>
         <xs:element name="P_EVENTO" type="xs:string" nillable="true"/>
         <xs:element name="P_ID_CONDICION" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarEventoCondicionOutputCollection" type="ConsultarEventoCondicionOutputCollection"/>
   <xs:complexType name="ConsultarEventoCondicionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarEventoCondicionOutput" type="ConsultarEventoCondicionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarEventoCondicionOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="COD_EXTERNO" type="xs:string" nillable="true"/>
         <xs:element name="ID_CONDICION" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>