BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/EditarClasificacionEstrategica/WSDL/EditarClasificacionEstrategica.wsdl

<wsdl:definitions name="CRUDClasificacionEstrategica" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/OSB_BCIE/ADAPTADORES/CRUDClasificacionEstrategica" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/OSB_BCIE/ADAPTADORES/CRUDClasificacionEstrategica" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/CRUDClasificacionEstrategica" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="CRUDClasificacionEstrategica">
    <plt:role name="CRUDClasificacionEstrategica">
      <plt:portType name="tns:CRUDClasificacionEstrategica_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CRUDClasificacionEstrategica" schemaLocation="../XSD/EditarClasificacionEstrategica_XSD.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="CRUDClasificacionEstrategicaSelect_inputParameters">
    <wsdl:part name="CRUDClasificacionEstrategicaSelect_inputParameters" element="top:CRUDClasificacionEstrategicaSelect_idOperacionInputParameters"/>
  </wsdl:message>
  <wsdl:message name="ClasificacionEstrategicaCollection_msg">
    <wsdl:part name="ClasificacionEstrategicaCollection" element="top:ClasificacionEstrategicaCollection"/>
  </wsdl:message>
  <wsdl:portType name="CRUDClasificacionEstrategica_ptt">
    <wsdl:operation name="insert">
      <wsdl:input message="tns:ClasificacionEstrategicaCollection_msg"/>
      <wsdl:output message="tns:ClasificacionEstrategicaCollection_msg"/>
    </wsdl:operation>
    <wsdl:operation name="delete">
      <wsdl:input message="tns:ClasificacionEstrategicaCollection_msg"/>
    </wsdl:operation>
    <wsdl:operation name="CRUDClasificacionEstrategicaSelect">
      <wsdl:input message="tns:CRUDClasificacionEstrategicaSelect_inputParameters"/>
      <wsdl:output message="tns:ClasificacionEstrategicaCollection_msg"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>