Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/TCIBChkAppSvc/TCIBChkAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="TCIBChkAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/TCIBChkAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/TCIBChkAppSvc_V1.0"
                  xmlns:appoptChkImageInq="http://xmlns.banesco.com/appopt/TCIBChkAppSvc/ChkImageInq_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/TCIBChkAppSvc/ChkImageInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/TCIBChk/ChkImageInq/ChkImageInq_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="ChkImageInqRq">
    <wsdl:part name="ChkImageInqRq" element="appoptChkImageInq:ChkImageInqRq"/>
  </wsdl:message>
  <wsdl:message name="ChkImageInqRs">
    <wsdl:part name="ChkImageInqRs" element="appoptChkImageInq:ChkImageInqRs"/>
  </wsdl:message>
  <wsdl:portType name="TCIBChkAppSvcPort">
    <wsdl:operation name="ChkImageInq">
      <wsdl:input message="tns:ChkImageInqRq"/>
      <wsdl:output message="tns:ChkImageInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TCIBChkAppSvcBinding_SOAP11" type="tns:TCIBChkAppSvcPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ChkImageInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/TCIBChkAppSvc_V1.0/ChkImageInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" namespace="http://xmlns.oracle.com/BanescoServiceBusApp/Commons/TCIBChkAppSvc_V1.0"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" namespace="http://xmlns.oracle.com/BanescoServiceBusApp/Commons/TCIBChkAppSvc_V1.0"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TCIBChkAppSvc_V1.0">
    <wsdl:port name="TCIBChkAppSvc_V1.0" binding="tns:TCIBChkAppSvcBinding_SOAP11">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
