BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ReglaTarea/V1/Schema/ReglaTareaBO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/ReglaTareaBO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ReglaTareaBO" xmlns:regBO="http://www.bcie.org/ReglaBO" xmlns:catBO="http://www.bcie.org/CatalogoBO">
            <xsd:import namespace="http://www.bcie.org/ReglaBO" schemaLocation="../../../../Common/V1/Schema/ReglaBO.xsd"/>
             <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd"/>
   <xsd:simpleType name="idTarea">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="5"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="TareaBasicType">
    <xsd:sequence>
      <xsd:element name="IdTarea" type="idTarea"/>
      <xsd:element name="Proceso" type="xsd:int" minOccurs="0"/>
      <xsd:element name="Descripcion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Estatus" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReglaEvaluacionType">
  <xsd:complexContent>
  <xsd:extension base="regBO:ReglaBasicType">
  <xsd:sequence>
  <xsd:element name="EsAdvertencia" type="xsd:boolean"/>
  <xsd:element name="EsError" type="xsd:boolean"/>
          <xsd:element name="Mensaje" type="catBO:Catalogo"/>
        </xsd:sequence>
  </xsd:extension>
  </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="TareaReglas">
  <xsd:complexContent>
  <xsd:extension base="TareaBasicType">
  <xsd:sequence>
  <xsd:element name="ReglasEvaluacion" type="ReglaEvaluacionType" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
  </xsd:extension>
  </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>