Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/AAArrangementActivityAuth/TransactionInputType.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?><xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:txnins="http://www.temenos.com/T24/ofs/TransactionInput" targetNamespace="http://www.temenos.com/T24/ofs/TransactionInput">
	<xs:complexType name="TransactionInputType">
		<xs:sequence>
			<xs:element minOccurs="0" name="TransactionId" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="TransactionInput" nillable="true" type="txnins:TransactionInputType"/>
</xs:schema>