BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioContrato/MatrizTCC/V1/Wsdl/MatrizTCC.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://www.bcie.org/MatrizTCCService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.bcie.org/MatrizTCCService"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:mtccMO="http://www.bcie.org/MatrizTCCMO"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/MatrizTCCMO"
                  schemaLocation="../Schema/MatrizTCCMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
   <message name="obtenerTCCInicioRequestMessage">
    <part name="request" element="mtccMO:ObtenerTCCInicioRequest"/>
  </message>
  <message name="obtenerTCCInicioResponseMessage">
    <part name="response" element="mtccMO:ObtenerTCCInicioResponse"/>
  </message>
  <message name="RegistrarEnmiendaRequestMessage">
    <part name="request" element="mtccMO:RegistrarEnmiendaRequest"/>
  </message>
  <message name="RegistrarEnmiendaResponseMessage">
    <part name="response" element="mtccMO:RegistrarEnmiendaResponse"/>
  </message>
  <wsdl:message name="ActualizarEstadoTCCRequestMessage">
    <wsdl:part name="request" element="mtccMO:ActualizarEstadoTCCRequest"/>
  </wsdl:message>
  <wsdl:message name="ActualizarEstadoTCCResponseMessage">
    <wsdl:part name="response" element="mtccMO:ActualizarEstadoTCCResponse"/>
  </wsdl:message>
   <wsdl:message name="ValidarTCCRequestMessage">
    <wsdl:part name="request" element="mtccMO:ValidarTCCRequest"/>
  </wsdl:message>
  <wsdl:message name="ValidarTCCResponseMessage">
    <wsdl:part name="response" element="mtccMO:ValidarTCCResponse"/>
  </wsdl:message>
  <wsdl:message name="ValidarEstadoTCCRequestMessage">
    <wsdl:part name="request" element="mtccMO:ValidarEstadoTCCRequest"/>
  </wsdl:message>
  <wsdl:message name="ValidarEstadoTCCResponseMessage">
    <wsdl:part name="response" element="mtccMO:ValidarEstadoTCCResponse"/>
  </wsdl:message>
  <wsdl:message name="ActualizarTCCRequestMessage">
    <wsdl:part name="request" element="mtccMO:ActualizarTCCRequest"/>
  </wsdl:message>
  <wsdl:message name="ActualizarTCCResponseMessage">
    <wsdl:part name="response" element="mtccMO:ActualizarTCCResponse"/>
  </wsdl:message>
   <message name="propagarTerminoRequestMessage">
    <part name="request" element="mtccMO:PropagarTerminoRequest"/>
  </message>
  <message name="propagarTerminoResponseMessage">
    <part name="response" element="mtccMO:PropagarTerminoResponse"/>
  </message>
  <wsdl:message name="CrearReporteTCCRequestMessage">
    <part name="request" element="mtccMO:CrearReporteTCCRequest"/>
  </wsdl:message>
  <wsdl:message name="CrearReporteTCCResponseMessage">
    <part name="response" element="mtccMO:CrearReporteTCCResposne"/>
  </wsdl:message>
   <message name="procesarEnmiendaRequestMessage">
    <part name="request" element="mtccMO:ProcesarEnmiendaRequest"/>
  </message>
  <message name="procesarEnmiendaResponseMessage">
    <part name="response" element="mtccMO:ProcesarEnmiendaResponse"/>
  </message>
  <wsdl:portType name="MatrizTCCPT">
    <wsdl:operation name="actualizarEstadoTCC">
      <wsdl:input message="tns:ActualizarEstadoTCCRequestMessage"/>
      <wsdl:output message="tns:ActualizarEstadoTCCResponseMessage"/>
    </wsdl:operation>
     <wsdl:operation name="validarEstadoTCC">
      <wsdl:input message="tns:ValidarEstadoTCCRequestMessage"/>
      <wsdl:output message="tns:ValidarEstadoTCCResponseMessage"/>
    </wsdl:operation>
     <wsdl:operation name="validarTCC">
      <wsdl:input message="tns:ValidarTCCRequestMessage"/>
      <wsdl:output message="tns:ValidarTCCResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="actualizarTCC">
      <wsdl:input message="tns:ActualizarTCCRequestMessage"/>
      <wsdl:output message="tns:ActualizarTCCResponseMessage"/>
    </wsdl:operation>
     <operation name="obtenerTCCInicio">
      <input message="tns:obtenerTCCInicioRequestMessage"/>
      <output message="tns:obtenerTCCInicioResponseMessage"/>
    </operation>
    <operation name="propagarTermino">
      <input message="tns:propagarTerminoRequestMessage"/>
      <output message="tns:propagarTerminoResponseMessage"/>
    </operation>
    <wsdl:operation name="crearReporte">
      <wsdl:input message="tns:CrearReporteTCCRequestMessage"/>
      <wsdl:output message="tns:CrearReporteTCCResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="procesarEnmienda">
      <wsdl:input message="tns:procesarEnmiendaRequestMessage"/>
      <wsdl:output message="tns:procesarEnmiendaResponseMessage"/>
    </wsdl:operation>
     <wsdl:operation name="registrarEnmienda">
      <wsdl:input message="tns:RegistrarEnmiendaRequestMessage"/>
      <wsdl:output message="tns:RegistrarEnmiendaResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="MatrizTCC12Bnd" type="tns:MatrizTCCPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="actualizarEstadoTCC">
      <soap12:operation style="document" soapAction="http://www.bcie.org/MatrizTCCService/actualizarEstadoTCC"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="validarTCC">
      <soap12:operation style="document" soapAction="http://www.bcie.org/CondicionService/validarTCC"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarTCC">
      <soap12:operation style="document" soapAction="http://www.bcie.org/CondicionService/actualizarTCC"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarEstadoTCC">
      <soap12:operation style="document" soapAction="http://www.bcie.org/CondicionService/validarEstadoTCC"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
      <operation name="obtenerTCCInicio">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ObtenerTCCInicioService/obtenerTCCInicio"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="propagarTermino">
      <soap12:operation style="document" soapAction="http://www.bcie.org/PropagarTerminoService/propagarTermino"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <wsdl:operation name="crearReporte">
      <soap12:operation style="document" soapAction="http://www.bcie.org/CrearReporteTCCService/crearReporte"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation> 
    <wsdl:operation name="registrarEnmienda">
      <soap12:operation style="document" soapAction="http://www.bcie.org/MatrizTCCService/registrarEnmienda"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="procesarEnmienda">
      <soap12:operation style="document" soapAction="http://www.bcie.org/MatrizTCCService/procesarEnmienda"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
    <wsdl:service name="MatrizTCC12BndQSService">
    <wsdl:port name="MatrizTCC12BndQSPort" binding="tns:MatrizTCC12Bnd">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>