Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/ICS/resources/xsd/P_BillerList_V1.0.xsd

<schema targetNamespace="http://xmlns.banesco.com/backend/P_BillerList" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.banesco.com/backend/P_BillerList" elementFormDefault="qualified">
   <element name="PBillerListRq">
      <complexType>
         <sequence>
            <element name="V_CATEGORY" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_BILLERID" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="PBillerListRs">
      <complexType>
         <sequence>
            <element name="P_RECORDSET" type="db:P_RECORDSET_RowSet" db:index="3" db:type="RowSet" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="P_RECORDSET_RowSet">
      <sequence>
         <element name="P_RECORDSET_Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="SCVPROVIDERID" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="CATEGORY" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="BILLERID" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="NAME" type="db:string70" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="HASTAX" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="TAX" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
                  <element name="HASQUERY" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="ACCTNUM" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="PMTTYPE" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string70">
      <restriction base="string">
         <maxLength value="70"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
</schema>
