Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/ICS/resources/xsd/PA_Bitacora_V1.0.xsd

<schema targetNamespace="http://xmlns.banesco.com/backend/PA_Bitacora_V1.0"
xmlns="http://www.w3.org/2001/XMLSchema"
xmlns:db="http://xmlns.banesco.com/backend/PA_Bitacora_V1.0" elementFormDefault="qualified">
   <element name="PABitacoraRq">
      <complexType>
         <sequence>
            <element name="V_LOGIN" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_F_DESDE" type="dateTime" db:index="2" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="V_F_HASTA" type="dateTime" db:index="3" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="V_TIPO_ACCION" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_CANAL_ACCESO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_CANTREG" type="int" db:index="6" db:type="PLS_INTEGER" minOccurs="0" nillable="true"/>
            <element name="V_INDICADOR" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="PABitacoraRs">
      <complexType>
         <sequence>
            <element name="P_FINREG" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_CAN_REG" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="V_ERROR" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V_TOTAL" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_RECORDSET" type="db:P_RECORDSET_RowSet" db:index="12" db:type="RowSet" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="P_RECORDSET_RowSet">
      <sequence>
         <element name="P_RECORDSET_Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="ORDEN" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
                  <element name="ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
                  <element name="CANAL_ACCESO" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="ID_USUARIO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="FECHA_OPERACION" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
                  <element name="HORA_OPERACION" type="db:string6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="NUMERO_CTA_DB" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="NUMERO_CTA_CR" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="MONTO_OPERACION_CTA_DB" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
                  <element name="MONTO_OPERACION_CTA_CR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
                  <element name="NUMERO_REF_OPERACION" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="BANCO_DESTINO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="BANCO_INTERMEDIARIO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="STATUS_OPERACION" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="DIRECCION_IP" type="db:string45" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="NUMERO_IDENTIFICACION_CLIENTE" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="NOMBRE_BENEFICIARIO" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="DESCRIPCION_OPERACION" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="FECHA_PROCESAMIENTO_OPERACION" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
                  <element name="HORA_PROCECESAMIENTO_OPERACION" type="dateTime" db:type="TIMESTAMP" minOccurs="0" nillable="true"/>
                  <element name="MONEDA_OPERACION_CTA_DB" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="NUMERO_PAGO_OPERACION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
                  <element name="CODIGO_OPERACION" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="APLICACION_ACCESO_CANAL" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="STATUS_USUARIO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="MEDIO_ENVIO_NOTIFICACION" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="FECHA_NOTIFICACION" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
                  <element name="HORA_NOTIFICACION" type="dateTime" db:type="TIMESTAMP" minOccurs="0" nillable="true"/>
                  <element name="NOMBRE_CLIENTE_TITULAR" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="TIPO_ACCION" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string6">
      <restriction base="string">
         <maxLength value="6"/>
      </restriction>
   </simpleType>
   <simpleType name="string12">
      <restriction base="string">
         <maxLength value="12"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string45">
      <restriction base="string">
         <maxLength value="45"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
</schema>