Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/ICS/resources/xsd/PA_PJ_ConsultaMov_His_V1.0.xsd

<schema targetNamespace="http://xmlns.banesco.com/backend/PA_PJ_ConsultaMov_His_V1.0" xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:db="http://xmlns.banesco.com/backend/PA_PJ_ConsultaMov_His_V1.0" elementFormDefault="qualified">
   <element name="PaPjConsultaMovHisRq">
      <complexType>
         <sequence>
            <element name="P_SECUENCIA" type="int" db:index="1" db:type="PLS_INTEGER" minOccurs="0" nillable="true"/>
            <element name="P_CANTREG" type="int" db:index="2" db:type="PLS_INTEGER" minOccurs="0" nillable="true"/>
            <element name="P_CUENTA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_FECHA_INI" type="dateTime" db:index="4" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_FECHA_FIN" type="dateTime" db:index="5" db:type="DATE" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="PaPjConsultaMovHisRs">
      <complexType>
         <sequence>
            <element name="P_FINREG" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MOV_CURSOR" type="db:MOV_CURSOR_RowSet" db:index="7" db:type="RowSet" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="MOV_CURSOR_RowSet">
      <sequence>
         <element name="MOV_CURSOR_Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="EffDt" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
                  <element name="Desc" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="Amt" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
                  <element name="Tipo" type="db:string7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="DeferredAmt" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
                  <element name="TrnRef" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
                  <element name="SecReg" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string7">
      <restriction base="string">
         <maxLength value="7"/>
      </restriction>
   </simpleType>
</schema>
