Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/ICS/resources/xsd/PA_TCIB_Bitacora_V1.0.xsd

<schema targetNamespace="http://xmlns.banesco.com/backend/PA_TCIB_Bitacora_V1.0"
        xmlns="http://www.w3.org/2001/XMLSchema"
        xmlns:db="http://xmlns.banesco.com/backend/PA_TCIB_Bitacora_V1.0" elementFormDefault="qualified">
  <element name="PATCIBBitacoraRq">
    <complexType>
      <sequence>
        <element name="P_ID_USUARIO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_STATUS_USUARIO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_NUMERO_IDENT_CLIENTE" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_TIPO_IDENTIFICACION_CLIENTE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_TIPO_PERSONA" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_CODIGO_CLIENTE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_NOMBRE_CLIENTE_TITULAR" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_NOMBRE_BENEFICIARIO" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_FECHA_ACCESO_CANAL" type="dateTime" db:index="9" db:type="DATE" minOccurs="0" nillable="true"/>
        <element name="P_HORA_ACCESO_CANAL" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_CANAL_ACCESO" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_NUMERO_INTENTOS_FALLIDOS" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_APLICACION_ACCESO_CANAL" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_VERSION_APLICACION_ACCESO" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_DNA_DISPOSITIVO_ACCESO" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_IP_ACCESO" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_DIRECCION_IP" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_LOCALIZACION_ACCESO" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_CODIGO_ISP" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_ID_APP" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_LOCALIDAD_IP" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_LHNAME" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_TIPO_ACCION" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_CODIGO_OPERACION" type="string" db:index="24" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_NUMERO_REF_OPERACION" type="string" db:index="25" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_DESCRIPCION_OPERACION" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_NUMERO_PAGO_OPERACION" type="decimal" db:index="27" db:type="NUMBER" minOccurs="0"
                 nillable="true"/>
        <element name="P_FECHA_OPERACION" type="dateTime" db:index="28" db:type="DATE" minOccurs="0" nillable="true"/>
        <element name="P_HORA_OPERACION" type="string" db:index="29" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_FECHA_PROC_OPERACION" type="dateTime" db:index="30" db:type="DATE" minOccurs="0"
                 nillable="true"/>
        <element name="P_HORA_PROC_OPERACION" type="dateTime" db:index="31" db:type="TIMESTAMP" minOccurs="0"
                 nillable="true"/>
        <element name="P_STATUS_OPERACION" type="string" db:index="32" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_MONTO_OPERACION_CTA_DB" type="decimal" db:index="33" db:type="NUMBER" minOccurs="0"
                 nillable="true"/>
        <element name="P_MONTO_OPERACION_CTA_CR" type="decimal" db:index="34" db:type="NUMBER" minOccurs="0"
                 nillable="true"/>
        <element name="P_MONTO_IMPUESTO" type="decimal" db:index="35" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_MONTO_COMISION" type="decimal" db:index="36" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_MONEDA_OPERACION_CTA_DB" type="string" db:index="37" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_MONEDA_OPERACION_CTA_CR" type="string" db:index="38" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_NUMERO_CTA_DB" type="string" db:index="39" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_NUMERO_CTA_CR" type="string" db:index="40" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_BANCO_DESTINO" type="string" db:index="41" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_BANCO_INTERMEDIARIO" type="string" db:index="42" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_FECHA_PAGO" type="dateTime" db:index="43" db:type="DATE" minOccurs="0" nillable="true"/>
        <element name="P_FRECUENCIA_PAGO" type="decimal" db:index="44" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_FLG_NOTIFICACION_ENVIADA" type="string" db:index="45" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_FECHA_NOTIFICACION" type="dateTime" db:index="46" db:type="DATE" minOccurs="0"
                 nillable="true"/>
        <element name="P_HORA_NOTIFICACION" type="dateTime" db:index="47" db:type="TIMESTAMP" minOccurs="0"
                 nillable="true"/>
        <element name="P_MEDIO_ENVIO_NOTIFICACION" type="string" db:index="48" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_IDC_FEC_ENVIO" type="decimal" db:index="49" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_ID_REF" type="decimal" db:index="50" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_FLAG_EMPLEADO_ORIGEN" type="string" db:index="51" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_TELEFONO_NOTIFICAR" type="string" db:index="52" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_CORREO_ELECTRONICO_ENVIO" type="string" db:index="53" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_TIPO_CHEQUERA" type="string" db:index="54" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_NUMERO_CHEQUERA" type="decimal" db:index="55" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_MOTIVO_BLOQUEO" type="string" db:index="56" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_NOMBRE_NOTIFICAR" type="string" db:index="57" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_CORREO_ELECTONICO_NOTIFICAR" type="string" db:index="58" db:type="VARCHAR2" minOccurs="0"
                 nillable="true"/>
        <element name="P_PAIS_VISITAR" type="string" db:index="59" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_FECHA_INGRESO_PAIS" type="decimal" db:index="60" db:type="NUMBER" minOccurs="0"
                 nillable="true"/>
        <element name="P_FECHA_SALIDA_PAIS" type="decimal" db:index="61" db:type="NUMBER" minOccurs="0"
                 nillable="true"/>
        <element name="P_USO_FUTURO_1" type="string" db:index="62" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_USO_FUTURO_2" type="string" db:index="63" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_USO_FUTURO_3" type="decimal" db:index="64" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_USO_FUTURO_4" type="decimal" db:index="65" db:type="NUMBER" minOccurs="0" nillable="true"/>
        <element name="P_ENTITYID" type="string" db:index="66" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
        <element name="P_CONFNUMBER" type="string" db:index="67" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
    </complexType>
  </element>
  <element name="PATCIBBitacoraRs">
      <complexType>
         <sequence>
            <element name="P_VALORES" type="db:RowSet" db:index="68" db:type="RowSet" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
</schema>
