Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/SCHChk/ChkChargeAdd/ChkChargeAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/SCHChkAppSvc/ChkChargeAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptChkChargeAdd="http://xmlns.banesco.com/appopt/SCHChkAppSvc/ChkChargeAdd_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="ChkChargeAddRq" type="appoptChkChargeAdd:ChkChargeAddRq_Type"/>
	<xs:element name="ChkChargeAddRs" type="appoptChkChargeAdd:ChkChargeAddRs_Type"/>
	<xs:complexType name="Acct">
		<xs:sequence>
			<xs:element name="ChkBook" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Chk" type="appoptChkChargeAdd:Chk" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctKey">
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Chk">
		<xs:sequence>
			<xs:element name="ChkData" type="appoptChkChargeAdd:ChkData" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkChargeAddRq_Type">
		<xs:sequence>
			<xs:element name="Acct" type="appoptChkChargeAdd:Acct" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkChargeAddRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkData">
		<xs:sequence>
			<xs:element name="DebtorData" type="appoptChkChargeAdd:DebtorData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Commision" type="appoptChkChargeAdd:Commision" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Commision">
		<xs:sequence>
			<xs:element name="CommisionAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto sin impuestos que se le va a cobrar al cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommissionCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de comisión </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DebtorData">
		<xs:sequence>
			<xs:element name="DebtorAcct" type="appoptChkChargeAdd:AcctKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
