AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/TestBDserv/Resources/dbReference_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbReference" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbReference" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxSoaOrdersVwCollection" type="XxSoaOrdersVwCollection"/>
   <xs:complexType name="XxSoaOrdersVwCollection">
      <xs:sequence>
         <xs:element name="XxSoaOrdersVw" type="XxSoaOrdersVw" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxSoaOrdersVw">
      <xs:sequence>
         <xs:element name="orderNo" type="xs:long"/>
         <xs:element name="supplier" type="xs:long" minOccurs="0"/>
         <xs:element name="supName" type="string240" minOccurs="0"/>
         <xs:element name="dept" type="xs:int" minOccurs="0"/>
         <xs:element name="deptName" type="string120" minOccurs="0"/>
         <xs:element name="jdaDept" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="buyer" type="xs:int" minOccurs="0"/>
         <xs:element name="buyerName" type="string120" minOccurs="0"/>
         <xs:element name="status" type="string1" minOccurs="0"/>
         <xs:element name="importOrderInd" type="string1" minOccurs="0"/>
         <xs:element name="writtenDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="notBeforeDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="notAfterDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="earliestShipDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="otbEowDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="closeDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="toLocation" type="xs:decimal" nillable="true"/>
         <xs:element name="jdaLocation" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="toLocType" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="shipAddress1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="shipAddress2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="shipAddress3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="shipCity" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="shipState" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="shipZip" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="shipCountryId" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="payName" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="payAddress1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="payAddress2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="payAddress3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="payCity" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="payState" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="payZip" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="payCountryId" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="suppAddress1" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="suppAddress2" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="suppAddress3" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="suppCity" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="suppState" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="suppZip" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="suppCountryId" type="string3" minOccurs="0" nillable="true"/>
         <xs:element name="semanaentrega" type="string4" minOccurs="0" nillable="true"/>
         <xs:element name="purchaseType" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="fobTransRes" type="string2" minOccurs="0" nillable="true"/>
         <xs:element name="fobTransResDesc" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="shipMethod" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="masterPoNo" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="pickupDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="terms" type="string15" minOccurs="0"/>
         <xs:element name="termsDays" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="commentDesc" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="shipPayMethod" type="string2" minOccurs="0" nillable="true"/>
         <xs:element name="currencyCode" type="string3" minOccurs="0"/>
         <xs:element name="currencyRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="exchangeRateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="totalUnits" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="totalCost" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="totalRetail" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="item" type="string25"/>
         <xs:element name="style" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="unitRetail" type="xs:decimal" minOccurs="0"/>
         <xs:element name="suppPackSize" type="xs:decimal" minOccurs="0"/>
         <xs:element name="vpn" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="itemDesc" type="string250" minOccurs="0"/>
         <xs:element name="colorCode" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="colorName" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="sizeCode" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="sizeName" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="brandCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="brandDesc" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="classCd" type="xs:int" minOccurs="0"/>
         <xs:element name="className" type="string120" minOccurs="0"/>
         <xs:element name="subclassCd" type="xs:int" minOccurs="0"/>
         <xs:element name="subclassName" type="string120" minOccurs="0"/>
         <xs:element name="vatRegion" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="vatRegionName" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="vatType" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="vatCode" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="vatRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="consumidor" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="mueble" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="caducidad" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="semanaPisoDeVenta" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="clasificacion" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="familia" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="prioridadDeMercancia" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="sticker" type="string992" minOccurs="0" nillable="true"/>
         <xs:element name="concepto" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="empaque" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="distLocation" type="xs:long" minOccurs="0"/>
         <xs:element name="unitCost" type="xs:decimal" minOccurs="0"/>
         <xs:element name="cancelCode" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="qtyOrdered" type="xs:decimal" minOccurs="0"/>
         <xs:element name="qtyCancelled" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="uom" type="string4" minOccurs="0"/>
         <xs:element name="distMethod" type="string14" minOccurs="0" nillable="true"/>
         <xs:element name="season" type="string120" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="dbReferenceSelect_NoOrder1InputParameters" type="dbReferenceSelect_NoOrder1"/>
   <xs:complexType name="dbReferenceSelect_NoOrder1">
      <xs:sequence>
         <xs:element name="NoOrder1" type="xs:long" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string240">
      <xs:restriction base="xs:string">
         <xs:maxLength value="240"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string3">
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string150">
      <xs:restriction base="xs:string">
         <xs:maxLength value="150"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string4">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string6">
      <xs:restriction base="xs:string">
         <xs:maxLength value="6"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string2">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string250">
      <xs:restriction base="xs:string">
         <xs:maxLength value="250"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string15">
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string2000">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string25">
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string10">
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string992">
      <xs:restriction base="xs:string">
         <xs:maxLength value="992"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string14">
      <xs:restriction base="xs:string">
         <xs:maxLength value="14"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>