Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBAcct/AcctTrnInq/AcctTrnInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBAcctAppSvc/AcctTrnInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctTrnInq="http://xmlns.banesco.com/appopt/TCIBAcctAppSvc/AcctTrnInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="AcctTrnInqRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="RecCtrlOut" type="appoptcommon:RecCtrlOut" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Status" type="appoptAcctTrnInq:Status" minOccurs="1" maxOccurs="1"/>
				<xs:element name="Trn" type="appoptAcctTrnInq:Trn" minOccurs="0" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="AcctTrnInqRq">
		<xs:complexType>
			<xs:sequence minOccurs="0" maxOccurs="1">
				<xs:element name="AcctKey" type="appoptAcctTrnInq:AcctKey" minOccurs="1" maxOccurs="1"/>
				<xs:element name="RecCtrlIn" type="appoptcommon:RecCtrlIn" minOccurs="1" maxOccurs="1"/>
				<xs:element name="TimeFrame" type="appoptAcctTrnInq:TimeFrame" minOccurs="1" maxOccurs="1"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="AcctKey">
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrnType">
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimeFrame">
		<xs:sequence>
			<xs:element name="EndDt" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
			<xs:element name="StartDt" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TotalCurAmt">
		<xs:sequence>
			<xs:element name="Amt" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Trn">
		<xs:sequence>
			<xs:element name="CurBalance" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Desc" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EffDt" type="appoptcommon:dateTimePattern" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TrnRef" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TrnSubType" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de la Transacción</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnType" type="appoptAcctTrnInq:TrnType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TotalCurAmt" type="appoptAcctTrnInq:TotalCurAmt" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status">
		<xs:sequence>
			<xs:element name="StatusCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="StatusDesc" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
