Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/Utility/AlertAdv/AlertAdv_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/UtilityAppSvc/AlertAdv_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAlertAdv="http://xmlns.banesco.com/appopt/UtilityAppSvc/AlertAdv_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="Alert">
		<xs:sequence>
			<xs:element name="MessageContent" type="appoptAlertAdv:MessageContent" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DeliveryInstruction" type="appoptAlertAdv:DeliveryInstruction" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AlertAdvRq" type="appoptAlertAdv:AlertAdvRq_Type"/>
	<xs:complexType name="Parameter">
		<xs:sequence>
			<xs:element name="Key" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código del campo a sustituir en la plantilla</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor a mostrar en la plantilla</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Phone">
		<xs:sequence>
			<xs:element name="AreaCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de área/país al cual se está enviando el SMS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de teléfono celular destino del SMS</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="DeliveryMethod_Enum">
		<xs:restriction base="xs:string">
			<xs:enumeration value="EMAIL"/>
			<xs:enumeration value="SMS"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="TemplateParameters">
		<xs:sequence>
			<xs:element name="Parameter" type="appoptAlertAdv:Parameter" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contact">
		<xs:sequence>
			<xs:element name="Locator" type="appoptAlertAdv:Locator" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryInstruction">
		<xs:sequence>
			<xs:element name="Carrier" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador del operador. Para un mensaje de tipo 'sms', este viene siendo el código de identificación del operador al cual pertenece el número móvil. Este valor se utiliza para garantizar la correcta entrega del mensaje, en caso de que el número móvil haya sido portado a otro operador.  Los códigos que identifican a cada operador se especifican a continuación:  7   =&gt; PA - Cable &amp; Wireless; 26 =&gt; PA – Claro; 11 =&gt; PA – Digicel; 6   =&gt; PA - Movistar.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryMethod" type="appoptAlertAdv:DeliveryMethod_Enum" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica el medio por el cual será enviado el mensaje, para este caso puede ser SMS o EMAIL</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="appoptAlertAdv:Contact" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AlertAdvRq_Type">
		<xs:sequence>
			<xs:element name="Alert" type="appoptAlertAdv:Alert" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Información de la alerta/mensaje a enviar</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Party" type="appoptAlertAdv:Party" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Locator">
		<xs:annotation>
			<xs:documentation>dirección de correo electrónico (eMail)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Phone" type="appoptAlertAdv:Phone" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AlertAdvRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Elemento que representa el estatus del resultado de la operación</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AlertAdvRs" type="appoptAlertAdv:AlertAdvRs_Type"/>
	<xs:complexType name="MessageContent">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Copy" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Para el caso de notificaciones vía email corresponde al email de copia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="From" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>eMail desde el cual se envía el mensaje (Caso eMail)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Subject" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Título del eMail</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TemplateIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador de la plantilla</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Text" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Texto del mensaje.(Para el caso en el que no se use una plantilla (TemplateIdent))</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tags" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Etiquetas que se le puede colocar opcionalmente al mensaje. Se puede especificar una o varias palabras separadas por un espacio en blanco. Al especificar etiquetas se puede hacer búsquedas en el módulo de estadísticas de Quantic Connections.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TemplateParameters" type="appoptAlertAdv:TemplateParameters" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
        <xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>Party is a person or organization. A Party typically has some association with an account and fulfills roles such as:

a primary or partial ownership/responsibility for an account
a beneficiary of an account
has signatory authorization on an account
has legal authorization, such as power of attorney, for an account
A Party can have relationships to accounts, cards and other parties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyKey" type="appoptAlertAdv:PartyKey" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyType" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party Type.

Value: Person or Org.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
