AG_2019/SOA/JDACreateItemProcess/SOA/Schemas/BusinessAreas/Support/Tender/TenderCommonSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Support/Tender/Commons/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Support/Tender/Commons/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="../../../Commons/CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:simpleType name="TenderTypeCode">
      <xs:union memberTypes="base:TenderTypeCodeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="TenderTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Cash"/>
         <xs:enumeration value="CreditDebit"/>
         <xs:enumeration value="Check"/>
         <xs:enumeration value="HouseAccount"/>
         <xs:enumeration value="PurchaseOrder"/>
         <xs:enumeration value="FoodStamps"/>
         <xs:enumeration value="Voucher"/>
         <xs:enumeration value="ManufacturerCoupon"/>
         <xs:enumeration value="CoPay"/>
         <xs:enumeration value="Loyalty"/>
         <xs:enumeration value="TravelersCheck"/>
         <xs:enumeration value="CheckCard"/>
         <xs:enumeration value="GiftCertificate"/>
         <xs:enumeration value="StoredValue"/>
         <xs:enumeration value="WICCheck"/>
         <xs:enumeration value="CustomerAccount"/>
         <xs:enumeration value="Coupon"/>
         <xs:enumeration value="UKMaestro"/>
         <xs:enumeration value="CapitalBond"/>
         <xs:enumeration value="StaffDressAllowance"/>
         <xs:enumeration value="AirmilesConversion"/>
         <xs:enumeration value="InternationalMaestro"/>
         <xs:enumeration value="ElectronicTollCollection"/>
         <xs:enumeration value="AccountsReceivable"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="SubTenderTypeCodes">
      <xs:union memberTypes="base:SubTenderTypeCodesEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="SubTenderTypeCodesEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Visa"/>
         <xs:enumeration value="MasterCard"/>
         <xs:enumeration value="Amex"/>
         <xs:enumeration value="DinersClub"/>
         <xs:enumeration value="DiscoverCard"/>
         <xs:enumeration value="Fleet"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="CryptogramTypeCode">
      <xs:union memberTypes="base:CryptogramTypeCodeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="CryptogramTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="TransactionCertificate"/>
         <xs:enumeration value="AuthorizationRequestCryptogram"/>
         <xs:enumeration value="ApplicationAuthenticationCryptogram"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TerminalActionCodeTypeCode">
      <xs:union memberTypes="base:TerminalActionCodeTypeCodeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="TerminalActionCodeTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Default"/>
         <xs:enumeration value="Denial"/>
         <xs:enumeration value="Online"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TenderSalesTypeCode">
      <xs:union memberTypes="base:TenderSalesTypeCodeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="TenderSalesTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Sale"/>
         <xs:enumeration value="Refund"/>
         <xs:enumeration value="Reissue"/>
         <xs:enumeration value="PreAuthorize"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
