Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Party/OrgPartyAdd/OrgPartyAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/OrgPartyAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptOrgPartyAdd="http://xmlns.banesco.com/eopt/OrgPartyAdd_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:element name="OrgPartyAddRq" type="eoptOrgPartyAdd:OrgPartyAddRq_Type"/>
	<xs:element name="OrgPartyAddRq_Type" type="eoptOrgPartyAdd:OrgPartyAddRq_Type"/>
	<xs:complexType name="OrgPartyAddRq_Type">
		<xs:sequence>
			<xs:element name="Party" type="eoPar:Party" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Party que contiene la información del cliente a consultar.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrgPartyAddRs" type="eoptOrgPartyAdd:OrgPartyAddRs_Type"/>
	<xs:element name="OrgPartyAddRs_Type" type="eoptOrgPartyAdd:OrgPartyAddRs_Type"/>
	<xs:complexType name="OrgPartyAddRs_Type">
		<xs:sequence>
			<xs:element name="Party" type="eoPar:Party" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Party que contiene la información del cliente creado.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
