BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Cuestionario/V1/WSDL/Cuestionario.wsdl

<wsdl:definitions targetNamespace="http://xmlns.bcie.com/CuestionarioService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.bcie.com/CuestionarioService" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:cueMO="http://xmlns.bcie.com/CuestionarioMO">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.bcie.com/CuestionarioMO" schemaLocation="../Schema/CuestionarioMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerCuestionarioRequestMessage">
    <wsdl:part name="request" element="cueMO:ObtenerCuestionarioRequest"/>
  </wsdl:message>
  <wsdl:message name="ObtenerCuestionarioResponseMessage">
    <wsdl:part name="response" element="cueMO:ObtenerCuestionarioResponse"/>
  </wsdl:message>
  <wsdl:message name="LeerCuestionarioRequestMessage">
    <wsdl:part name="request" element="cueMO:LeerCuestionarioRequest"/>
  </wsdl:message>
  <wsdl:message name="LeerCuestionarioResponseMessage">
    <wsdl:part name="response" element="cueMO:LeerCuestionarioResponse"/>
  </wsdl:message>  
  <wsdl:message name="CrearReporteElegibilidadRequestMessage">
    <wsdl:part name="request" element="cueMO:CrearReporteElegibilidadRequest"/>
  </wsdl:message>
  <wsdl:message name="CrearReporteElegibilidadResponseMessage">
    <wsdl:part name="response" element="cueMO:CrearReporteElegibilidadResponse"/>
  </wsdl:message>
  
  <wsdl:message name="CrearReporteNotaConceptoRequestMessage">
    <wsdl:part name="request" element="cueMO:CrearReporteNotaConceptoRequest"/>
  </wsdl:message>
  <wsdl:message name="CrearReporteNotaConceptoResponseMessage">
    <wsdl:part name="response" element="cueMO:CrearReporteNotaConceptoResponse"/>
  </wsdl:message>
  
  <wsdl:message name="CrearReporteElegibilidadV2RequestMessage">
    <wsdl:part name="CrearReporteElegibilidadV2RequestMessage" element="cueMO:CrearReporteElegibilidadV2Request"/>
  </wsdl:message>
  <wsdl:message name="CrearReporteElegibilidadV2ResponseMessage">
    <wsdl:part name="CrearReporteElegibilidadV2ResponseMessage" element="cueMO:CrearReporteElegibilidadV2Response"/>
  </wsdl:message>
  
  <wsdl:portType name="CuestionarioPT">
    <wsdl:operation name="obtenerCuestionario">
      <wsdl:input message="tns:ObtenerCuestionarioRequestMessage"/>
      <wsdl:output message="tns:ObtenerCuestionarioResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="leerCuestionario">
      <wsdl:input message="tns:LeerCuestionarioRequestMessage"/>
      <wsdl:output message="tns:LeerCuestionarioResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="crearReporteElegibilidad">
      <wsdl:input message="tns:CrearReporteElegibilidadRequestMessage"/>
      <wsdl:output message="tns:CrearReporteElegibilidadResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="crearReporteNotaConcepto">
      <wsdl:input message="tns:CrearReporteNotaConceptoRequestMessage"/>
      <wsdl:output message="tns:CrearReporteNotaConceptoResponseMessage"/>
    </wsdl:operation>

    <wsdl:operation name="crearReporteElegibilidadV2">
      <wsdl:input message="tns:CrearReporteElegibilidadV2RequestMessage"/>
      <wsdl:output message="tns:CrearReporteElegibilidadV2ResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Cuestionario12Bnd" type="tns:CuestionarioPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="obtenerCuestionario">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/CuestionarioService/obtenerCuestionario"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="leerCuestionario">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/CuestionarioService/leerCuestionario"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearReporteElegibilidad">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearReporteNotaConcepto">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>    
    
    <wsdl:operation name="crearReporteElegibilidadV2">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal" parts="CrearReporteElegibilidadV2RequestMessage"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="CrearReporteElegibilidadV2ResponseMessage"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <service name="Cuestionario12BndQSService">
    <port name="Cuestionario12BndQSPort" binding="tns:Cuestionario12Bnd">
      <soap12:address location="http://www.example.com"/>
    </port>
  </service>
</wsdl:definitions>