Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBCardCr/CardCrFinancingAdd/CardCrFinancingAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrFinancingAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptCardCrFinancingAdd="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrFinancingAdd_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="CardCrFinancingAddRs" type="appoptCardCrFinancingAdd:CardCrFinancingAddRs_Type"/>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="appoptCardCrFinancingAdd:Identification">
				<xs:sequence>
					<xs:element name="PartyId" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Código del cliente asignado T24</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:element name="CardCrFinancingAddRq" type="appoptCardCrFinancingAdd:CardCrFinancingAddRq_Type"/>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>Party is a person or organization. A Party typically has some association with an account and fulfills roles such as:

a primary or partial ownership/responsibility for an account
a beneficiary of an account
has signatory authorization on an account
has legal authorization, such as power of attorney, for an account
A Party can have relationships to accounts, cards and other parties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyKey" type="appoptCardCrFinancingAdd:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardCrFinancingAddRq_Type">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="CardKey" type="appoptCardCrFinancingAdd:CardKey" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FIData" type="appoptCardCrFinancingAdd:FIData" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyKey" type="appoptCardCrFinancingAdd:PartyKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FinancingInfo">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Información asociada a extra/intra financiamiento.</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="FinancingAmt" type="appoptcommon:CurAmtMandatory" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Monto del extra/intrafinanciamiento.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FinancingPlan" type="appoptcommon:CommonTypeMandatory" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Plan de extra/intrafinanciamiento. </xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="FinancingTerm" type="xs:int" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Plazo por el que se va a realizar el extra/intrafinanciamiento. </xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Agency">
		<xs:annotation>
			<xs:documentation>Agency Especification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgencyIdent" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agencia o sucursal donde se realiza la operación</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FIData">
		<xs:annotation>
			<xs:documentation>The Financial Institution Data Aggregate contains additional information used to identify a bank, typically when used for payment transfers, payee requests, and wire transfers. It is required in CHE, DEU, and ITA to completely identify an account. Sufficient information must be provided within this aggregate to uniquely identify the bank at which the account is held. Failure to do so will result in an error being returned from the server.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FIIdent" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de la Institución financiera que hace la solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Agency" type="appoptCardCrFinancingAdd:Agency" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identification">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="IssuedIdentType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de identificación del cliente (cédula/pasaporte)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de identificación</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancingInfo">
		<xs:annotation>
			<xs:documentation>Información asociada a extra/intra financiamiento.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContractNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código asignado por el sistema al extra/intrafinanciamiento (número de contrato). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancingPlan" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Plan de extra/intrafinanciamiento. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancingTerm" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Plazo por el que se va a realizar el extra/intrafinanciamiento. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MonthlyFee" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto mensual que debe pagar el cliente por el extra/intrafinanciamiento.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Card">
		<xs:sequence>
			<xs:element name="CardKey" type="appoptCardCrFinancingAdd:CardKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FinancingInfo" type="appoptCardCrFinancingAdd:FinancingInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardKey">
		<xs:annotation>
			<xs:documentation>The Card Object supports the services related to Issuing, Management, and Servicing of Credit, Debit, Prepaid and Private Label cards.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardNum" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de tarjeta.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardCrFinancingAddRs_Type">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Card" type="appoptCardCrFinancingAdd:Card" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIData" type="appoptCardCrFinancingAdd:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Party" type="appoptCardCrFinancingAdd:Party" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PersonName" type="appoptCardCrFinancingAdd:PersonName" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonName">
		<xs:annotation>
			<xs:documentation>Person Name.

The PersonName aggregate is used to specify a person's full name and, optionally, preferred name (nickname).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del cliente (natural)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
