BCIE_fenix/qa/ADF-BPM/bpm/PA04Enmiendas/PA04EnmiendasProcessUITest/SOA/Schemas/Enmiendas/V1/EnmiendaPayload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- editado con XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) por Víctor Suárez (Latbc) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            xmlns:enmienda="http://xmlns.bcie.org/ObjetoProceso/LAFT/Payload/V1" 
            xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" 
            xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" 
            xmlns:notificacion="http://xmlns.bcie.org/ObjetoProceso/Comun/Notificacion/V1"
            targetNamespace="http://xmlns.bcie.org/ObjetoProceso/LAFT/Payload/V1" 
            elementFormDefault="qualified" 
            attributeFormDefault="unqualified" version="1.0">
	
        <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
             schemaLocation="../../Comun/Header/V1/HeaderOPN.xsd"/>
        <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
             schemaLocation="../../Comun/Parameter/V1/ParameterOPN.xsd"/>
                    
	<xs:element name="EnmiendaPayload" type="enmienda:EnmiendaPayloadType">
		<xs:annotation>
			<xs:documentation>Elemento que define los campos de entrada para el proceso alterno de Enmiendas</xs:documentation>
		</xs:annotation>
	</xs:element>
        
        <xs:element name="ErrorEnmiendaPayload" type="enmienda:ErrorEnmiendaPayloadType">
		<xs:annotation>
			<xs:documentation>Elemento que define los campos de entrada para el manejo de errores del proceso alterno de Prevensión de Lavado de Activos y Financiamiento al Terrorismo</xs:documentation>
		</xs:annotation>
	</xs:element>
        
        
	<xs:complexType name="EnmiendaPayloadType">
              <xs:sequence>
                    <xs:element name="Header" type="header:Header"/>
                    <xs:element name="Configuration" type="enmienda:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="idEnmienda" type="xs:boolean"/>
                    <xs:element name="EquipoPayload" type="enmienda:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
                    <xs:element name="EquipoEjecucionPayload" type="enmienda:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
                    <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
              </xs:sequence>
	</xs:complexType>
        
	<xs:complexType name="ConfigGatewaysType">
              <xs:sequence>
                      <xs:element name="omitioOGC" type="xs:boolean"/>
                      <xs:element name="requiereASJUR" type="xs:boolean"/>
                      <xs:element name="requiereOGC" type="xs:boolean"/>
                      <xs:element name="requiereCOFI" type="xs:boolean"/>
              </xs:sequence>
	</xs:complexType>
        
        <xs:complexType name="ErrorEnmiendaPayloadType">
		<xs:sequence>
			<xs:element name="Header" type="header:Header"/>
			<xs:element name="Configuration" type="enmienda:ConfigGatewaysType"/>
			<xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
                        <xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
        
        <xs:complexType name="EquipoPayloadType">
              <xs:sequence>
                      <xs:element name="GerentedePais" type="xs:string" minOccurs="0" maxOccurs="1"/>
                      <xs:element name="Abogado" type="xs:string" minOccurs="0" maxOccurs="1"/>
                      <xs:element name="AnalistaCredito" type="xs:string" minOccurs="0" maxOccurs="1"/>
                      <xs:element name="AnalistaCOFI" type="xs:string" minOccurs="0" maxOccurs="1"/>
              </xs:sequence>
	</xs:complexType>
</xs:schema>
