BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Evaluacion/V1/Schema/EvaluacionBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:evaBO="http://www.bcie.org/EvaluacionBO"
            targetNamespace="http://www.bcie.org/EvaluacionBO" elementFormDefault="qualified"
            xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:catBO="http://www.bcie.org/CatalogoBO">
  <xsd:import schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"
              namespace="http://www.bcie.org/OperacionBO"/>
              <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="../../../../../ComponentesComunes/Common/V1/Schema/CatalogoBO.xsd"/>
  <xsd:simpleType name="id">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idEvaluacion">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idCuestionario">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Evaluacion">
    <xsd:sequence>
      <xsd:element name="id" type="evaBO:id" minOccurs="1"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="1"/>
      <xsd:element name="idEvaluacion" type="evaBO:idEvaluacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="tituloEvaluacion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idSectorIBCIE" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="SectorIBCIE" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idSubSectorIBCIE" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="subSectorIBCIE" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="cuestionarios" type="evaBO:Cuestionarios" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="enAnalisis" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaRegistro" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="banEstatus" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="tipoEvaluacion" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="descripcionTipoEvaluacion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="version" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="codigoUsuario" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="nombreUsuario" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Porcentaje" type="xsd:double" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PorcentajeObligatorio" type="xsd:double" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="codigoExterno" type="xsd:double" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="catEvaluacion" type="catBO:Catalogo" minOccurs="0"/>
      <xsd:element name="idEvaluacionOrigen" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="calificacionIBCIE" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="instanciaProceso" type="xsd:string" minOccurs="0"/>
      <xsd:element name="valor" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Cuestionario">
    <xsd:sequence>
      <xsd:element type="evaBO:idCuestionario" name="idCuestionario" minOccurs="0" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="cuestionario" minOccurs="0" maxOccurs="1"/>
      <xsd:element type="xsd:double" name="porcentaje" minOccurs="0" maxOccurs="1"/>
      <xsd:element type="xsd:double" name="porcentajeObligatorio" minOccurs="0" maxOccurs="1"/>
      <xsd:element type="xsd:string" name="codigoExterno" minOccurs="0" maxOccurs="1"/> 
      <xsd:element type="xsd:string" name="estado" minOccurs="0" maxOccurs="1"/> 
      <xsd:element type="xsd:string" name="descripcionEstado" minOccurs="0" maxOccurs="1"/> 
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Cuestionarios">
    <xsd:sequence>
      <xsd:element name="cuestionario" type="evaBO:Cuestionario" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Evaluaciones">
    <xsd:sequence>
      <xsd:element name="evaluacion" type="evaBO:Evaluacion" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EVALType">
    <xsd:sequence>
      <xsd:element name="Id" type="evaBO:id" minOccurs="0"/>
      <xsd:element name="IdFlujo" type="xsd:string"/>
      <xsd:element name="Operacion" type="operBO:OperacionBasicType"/>
      <xsd:element name="TipoEvaluacion" type="catBO:Catalogo"/>
      <xsd:element name="LoginUsuario" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
