AG_2019/SOA/CreateRetailStoreProcess/SOA/Schemas/BusinessAreas/Support/Util/UtilRetailTransactionSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Support/Util/RetailTx/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Support/Util/RetailTx/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" xmlns:ctyp="http://mx.agarcia.ea/Commons/Types/v1" xmlns:conscus="http://mx.agarcia.ea/Commons/ConsumerCustomer/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="../../../Commons/CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:import schemaLocation="../../../Commons/CommonTypeSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Types/v1"/>
   <xs:import schemaLocation="../../../Commons/ConsumerCustomerCommonSchema.xsd" namespace="http://mx.agarcia.ea/Commons/ConsumerCustomer/v1"/>
   <xs:complexType name="LoyaltyDiscount">
      <xs:sequence>
         <xs:element form="qualified" name="Amount" type="xs:decimal"/>
         <xs:element form="qualified" minOccurs="0" name="Rounding" type="ctyp:AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="Tax" type="RetailTransactionTax"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RetailTransactionVoucher">
      <xs:sequence>
         <xs:element form="qualified" name="VoucherID" type="POSLogVoucherID">
            <xs:annotation>
               <xs:documentation>A unique identifier for the Voucher
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RetailTransactionGiftCertificate">
      <xs:complexContent>
         <xs:extension base="GiftCertificateCommonData">
            <xs:sequence>
               <xs:element form="qualified" name="GiftCertificateID" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="Amount">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="AmountCommonData"/>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element form="qualified" minOccurs="0" name="Quantity">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="QuantityCommonData"/>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element form="qualified" minOccurs="0" name="DateActivated" type="xs:date"/>
               <xs:element form="qualified" minOccurs="0" name="InitialBalance">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="MonetaryAmountCommonData"/>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RetailTransactionAssociate">
      <xs:sequence>
         <xs:element form="qualified" name="AssociateID" type="OperatorCommonData">
            <xs:annotation>
               <xs:documentation>identifier for the Associate </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Commission">
            <xs:complexType>
               <xs:sequence>
                  <xs:element form="qualified" minOccurs="0" name="Percentage" type="PercentageCommonData"/>
                  <xs:element form="qualified" minOccurs="0" name="Amount" type="AmountCommonData"/>
               </xs:sequence>
               <xs:attribute form="unqualified" name="CommissionOverrideFlag" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation> A flag denoting that the sale may have
								qualified for
								the commission, but the worker doesn't get it for some reason, i.e.
								They are a manager.
							</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
               <xs:attribute default="Add" form="unqualified" name="Action" type="ActionCommonDataTypeCodes" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Action">
            <xs:complexType>
               <xs:sequence>
                  <xs:element form="qualified" name="DateTime" type="xs:dateTime">
                     <xs:annotation>
                        <xs:documentation>When was the action performed
								</xs:documentation>
                     </xs:annotation>
                  </xs:element>
               </xs:sequence>
               <xs:attribute default="PlacingOrder" form="unqualified" name="AssociateActionCodes" type="RetailTransactionAssociateAction" use="optional">
                  <xs:annotation>
                     <xs:documentation>The Action being taken by this particular
								worker
								within the context of this Retail Transaction. One worker may
								perfrom multiple different actions within one
								transaction.
							</xs:documentation>
                  </xs:annotation>
               </xs:attribute>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Spiff" type="SpiffType">
            <xs:annotation>
               <xs:documentation>Bonus money paid by a vendor or a retailer to
						sales people for
						selling specially designated merchandise. spiff in a slang dictionary of
						1859: “the percentage allowed by drapers to their young men when
						they effect
						sale of old fashioned or undesirable stock”. It seems to be connected
						with
						the use of the word in that period to mean a dandy or somebody
						smartly
						dressed (hence spiffy, and to spiff up—to improve the appearance of a
						place
						or a person), but nobody seems to have been able to disentangle the
						threads
						of which came first, or what influenced what, or where the word
						originally
						came from. It’s certainly not an acronym, as words formed from the
						initial
						letters of other words are rare before the 1930s.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute default="false" form="unqualified" name="CommissionGivenFlag" type="xs:boolean" use="optional"/>
   </xs:complexType>
   <xs:simpleType name="RetailTransactionAssociateAction">
      <xs:union memberTypes="RetailTransactionAssociateActionEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="RetailTransactionAssociateActionEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="PlacingOrder"/>
         <xs:enumeration value="CompletingOrder"/>
         <xs:enumeration value="DeliveringOrder"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="SpiffType">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="Amount">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="AmountCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Percent" type="PercentageCommonData"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RetailTransactionCustomer">
      <xs:sequence>
         <xs:choice minOccurs="0">
            <xs:element form="qualified" name="CustomerID" type="xs:string"/>
            <xs:element form="qualified" name="CustomerDemographic" type="CustomerDemographicCommonData"/>
            <xs:element form="qualified" name="IDDemographicDataPairCommonData" type="IDDemographicDataPairCommonData"/>
         </xs:choice>
         <xs:choice minOccurs="0">
            <xs:element form="qualified" name="Name" type="xs:string"/>
            <xs:element form="qualified" name="Worker">
               <xs:complexType>
                  <xs:complexContent>
                     <xs:extension base="WorkerCommonData"/>
                  </xs:complexContent>
               </xs:complexType>
            </xs:element>
            <xs:element form="qualified" name="CustomerName">
               <xs:complexType>
                  <xs:complexContent>
                     <xs:extension base="NameCommonData"/>
                  </xs:complexContent>
               </xs:complexType>
            </xs:element>
         </xs:choice>
         <xs:element form="qualified" minOccurs="0" name="AffiliatedOrganization">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="BusinessUnitCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Address" type="RetailTransactionAddress"/>
         <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element form="qualified" name="TelephoneNumber" type="xs:string">
               <xs:annotation>
                  <xs:documentation>Being Deprecated in favor of common
							data
						</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element form="qualified" name="Telephone">
               <xs:complexType>
                  <xs:complexContent>
                     <xs:extension base="TelephoneCommonData"/>
                  </xs:complexContent>
               </xs:complexType>
            </xs:element>
         </xs:choice>
         <xs:element form="qualified" minOccurs="0" name="Map" type="xs:string">
            <xs:annotation>
               <xs:documentation>Bitmap image of a map to the Addess
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Note" type="xs:string">
            <xs:annotation>
               <xs:documentation>General all-purpose note about the Customer
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:element form="qualified" name="eMail" type="xs:string">
               <xs:annotation>
                  <xs:documentation>Being depreciated by common data
						</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element form="qualified" name="EMail">
               <xs:complexType>
                  <xs:complexContent>
                     <xs:extension base="EMailCommonData"/>
                  </xs:complexContent>
               </xs:complexType>
            </xs:element>
         </xs:choice>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="LocalRequirements" type="RetailTransactionLocalRequirements"/>
         <xs:element form="qualified" minOccurs="0" name="Age" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>The current actual or estimated age of the
						customer
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Birthdate" type="xs:date"/>
         <xs:element form="qualified" minOccurs="0" name="YearOfBirth" type="xs:gYear">
            <xs:annotation>
               <xs:documentation>The year the Customer was born - we may not have
						the full
						BirthDate
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Gender" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="AccountNumber" type="xs:string"/>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Privacy" type="CustomerPrivacyType">
            <xs:annotation>
               <xs:documentation>Identifies the contact method through which the
						customer does
						not want to be contacted
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Locale" type="xs:string">
            <xs:annotation>
               <xs:documentation>A code denoting where the Customer is
						located
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TaxCertificate" type="xs:string">
            <xs:annotation>
               <xs:documentation>The unique identifying number of a Tax
						Certificate the
						Customer holds
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TaxExemptionReason" type="xs:string">
            <xs:annotation>
               <xs:documentation>A code denoting why the Customer is granted a Tax
						Exemption
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:attribute default="Read" form="unqualified" name="Action" type="CustomerActionType" use="optional"/>
      <xs:attribute default="false" form="unqualified" name="BusinessCustomerFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>Indicates this customer is a business
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="RetailTransactionDelivery">
      <xs:complexContent>
         <xs:extension base="RetailTransactionCustomer">
            <xs:sequence>
               <xs:element form="qualified" minOccurs="0" name="PreferredDateTime" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>The date the customer would like to have the
								delivery
								made
							</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" minOccurs="0" name="ActualDateTime" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>The actual date the delivery was
								made
							</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" minOccurs="0" name="DueDate" type="xs:date">
                  <xs:annotation>
                     <xs:documentation>The date the delivery must be made by. Deals
								mostly
								with COD purchases
							</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" minOccurs="0" name="Method" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="PaymentMethod" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="AmountToCollect" type="xs:decimal"/>
               <xs:element form="qualified" minOccurs="0" name="Notes" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="TrackingNumber" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>The identifier placed on the package containing
								the
								item(s) to aid in tracking the package
							</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" minOccurs="0" name="Courier" type="RetailTransactionCourier">
                  <xs:annotation>
                     <xs:documentation>Name of the company delivering the
								package
							</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" minOccurs="0" name="ShippingFee">
                  <xs:annotation>
                     <xs:documentation>Monetary amount of any shipping charge that is
								made
								for the delivery
							</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="MonetaryAmountCommonData"/>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element form="qualified" minOccurs="0" name="Quantity" type="QuantityCommonData">
                  <xs:annotation>
                     <xs:documentation>This quantity is delivered to this
								destination
							</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" minOccurs="0" name="ReceivingBusinessUnit">
                  <xs:annotation>
                     <xs:documentation>When a COD payment is received by the
								enterprise, this
								is the business unit which receives the payment
							</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="BusinessUnitCommonData"/>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RetailTransactionCourier">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute form="unqualified" name="Type" type="CourierType" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="RetailTransactionPickup">
      <xs:complexContent>
         <xs:extension base="RetailTransactionCustomer">
            <xs:sequence>
               <xs:element form="qualified" minOccurs="0" name="PreferredDateTime" type="xs:dateTime"/>
               <xs:element form="qualified" minOccurs="0" name="ActualDateTime" type="xs:dateTime"/>
               <xs:element form="qualified" minOccurs="0" name="Method" type="xs:string"/>
               <xs:element form="qualified" minOccurs="0" name="Notes" type="xs:string"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="RetailTransactionApproval">
      <xs:sequence>
         <xs:element form="qualified" name="SequenceNumber" type="SequenceNumberType"/>
         <xs:element form="qualified" name="ApproverID" type="OperatorCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="LineApprovalCode" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="Description" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="EntryMethod" type="EntryMethodTypeCode"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="POSLogVoucherID">
      <xs:restriction base="xs:string">
         <xs:enumeration value="StoredValue"/>
         <xs:enumeration value="GiftCertificates"/>
         <xs:enumeration value="Voucher"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="RetailTransactionFoodservice">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="TableSection" type="xs:string">
            <xs:annotation>
               <xs:documentation>The location of the table within the
                    restaurant</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="TableID" type="xs:string">
            <xs:annotation>
               <xs:documentation>The unique number of the table being served by this
                        transaction</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="SeatID" type="xs:string">
            <xs:annotation>
               <xs:documentation>Identifies the particular sear for a particular customer. can
                        be alphanumeric.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="PartyName" type="xs:string">
            <xs:annotation>
               <xs:documentation>The name for this particular party (group of individuals),
                        i.e. the "Wild" party of nine.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="PartySize" type="xs:unsignedShort">
            <xs:annotation>
               <xs:documentation>The number of people being served in one group.  NOTE: this
                        may encompass multiple tables</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Tray" type="RetailTransactionTray">
            <xs:annotation>
               <xs:documentation>The structure which reports the information about a tray in a
                        cafeteria type environment, such as, TentID, Items on the tray, total for
                        the tray</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="CheckInTime" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>Speed of Service measurement. The time a customer sets down at
                        a table</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="CheckOutTime" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>Speed of Service measurement. The time a customer left the
                        table</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="OrderTime" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>Speed of Service measurement. The time the customer ordered
                        their food.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="DelayDateTime" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>Delay starting the food service transaction until the
                        nominated time.  A kitchen display system can use this to schedule
                    work</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="CookStartTime" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>The time the cooking of the food began</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="CookEndTime" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>The time the cooking was finished.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ServeTime" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>Speed of Service measurement. The time the customer was
                    served</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Gratuity" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>he monetary amount of the gratuity that accompanies the
                        hospitality transaction.  For example, the amount given to the doorman in a
                        hotel, or the waiter in a restaurant.  This may or may not be a tip.  It can
                        be the additional charge for a party of more than  'X' people. (Japan)The n%
                        of the amount of served meal is added as service charge, which is substitute
                        for tip in Europe and the Unites States</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TableCharge" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>charged when the private dining room was used.
                    (Japan)</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute form="unqualified" name="DestinationType" type="POSLogFoodserviceDestinationTypes">
         <xs:annotation>
            <xs:documentation>An indication to where the food service transaction is to be
                    consumed.  May have an impact on taxes</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute form="unqualified" name="SalesMetrics" type="POSLogSalesMetrics" use="optional">
         <xs:annotation>
            <xs:documentation>An indication if the items on this order were suggested by the
                    operator (up selling).  Used to measure the performance of an operator, the
                    performance of marketing, possible operator commissions, etc.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute form="unqualified" name="ProcessMode" type="POSLogProcessMode" use="optional">
         <xs:annotation>
            <xs:documentation>An indication of the priority of the food order.  If it is delayed
                    then the Delay Date Time tells when to start preparation.</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="RetailTransactionTray">
      <xs:sequence>
         <xs:element form="qualified" name="TentID" type="xs:string">
            <xs:annotation>
               <xs:documentation>The number on the Tray Tent given to the customer to identify
                        to which table the  specially prepared food is to be
                    delivered</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Description" type="xs:string"/>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Total" type="RetailTransactionTotal"/>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="LineItem" type="RetailTransactionLineItem"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="RetailTransactionTotal">
      <xs:simpleContent>
         <xs:extension base="xs:decimal">
            <xs:attribute default="TransactionGrossAmount" form="unqualified" name="TotalType" type="RetailTransactionTotalType" use="optional">
               <xs:annotation>
                  <xs:documentation>Type definition of this total element</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="Sale" form="unqualified" name="TypeCode" type="TotalSalesTypeCode">
               <xs:annotation>
                  <xs:documentation>Defines the direction the money flows either from the
                            customer to the store (sale) or from the store to the customer
                        (return)</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="Actual" form="unqualified" name="Type" type="RetailTransactionTotalSubType" use="optional"/>
            <xs:attribute default="false" form="unqualified" name="HALOFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>High Amount Lockout - A flag denoting if this transaction
                            total is within the system defined HALO limits</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute form="unqualified" name="CurrencyCode" type="CurrencyTypeCode" use="optional"/>
            <xs:anyAttribute namespace="##other" processContents="lax"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
</xs:schema>
