BCIE_fenix/features/MCP/6389/ADF-BPM/bpm/PA10Evaluaciones/PA10EvaluacionProcess/SOA/WSDLs/EvaluacionProcess.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionesProcess" xmlns:tns7="http://xmlns.bcie.org/ObjetoProceso/Evaluaciones/Payload/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:param="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionesProcess">
<wsdl:types>
<xsd:schema>
<xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionesProcess" schemaLocation="oramds:/apps/Resources/BPM/Schema/PA10/EvaluacionProcess.xsd"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="InicioEvaluacion">
<wsdl:part name="parameters" element="tns:InicioEvaluacion"/>
</wsdl:message>
<wsdl:message name="FinEvaluacion">
<wsdl:part name="parameters" element="tns:FinEvaluacion"/>
</wsdl:message>
<wsdl:message name="InicioEvaluacionIBCIE">
<wsdl:part name="parameters" element="tns:InicioEvaluacionIBCIE"/>
</wsdl:message>
<wsdl:message name="FinEvaluacionIBCIE">
<wsdl:part name="parameters" element="tns:FinEvaluacionIBCIE"/>
</wsdl:message>
<wsdl:message name="InicioEvaluacionSIEMAS">
<wsdl:part name="parameters" element="tns:InicioEvaluacionSIEMAS"/>
</wsdl:message>
<wsdl:message name="FinEvaluacionSIEMAS">
<wsdl:part name="parameters" element="tns:FinEvaluacionSIEMAS"/>
</wsdl:message>
<wsdl:message name="InicioReasignarIBCIE">
<wsdl:part name="parameters" element="tns:InicioReasignarRO"/>
</wsdl:message>
<wsdl:message name="InicioReasignarSIEMAS">
<wsdl:part name="parameters" element="tns:InicioReasignarRO"/>
</wsdl:message>
<wsdl:portType name="EvaluacionProcessPortType">
<wsdl:operation name="InicioEvaluacion">
<wsdl:input message="tns:InicioEvaluacion"/>
</wsdl:operation>
<wsdl:operation name="FinEvaluacion">
<wsdl:input message="tns:FinEvaluacion"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="EvaluacionIBCIEProcessPortType">
<wsdl:operation name="InicioEvaluacionIBCIE">
<wsdl:input message="tns:InicioEvaluacionIBCIE"/>
</wsdl:operation>
<wsdl:operation name="FinEvaluacionIBCIE">
<wsdl:input message="tns:FinEvaluacionIBCIE"/>
</wsdl:operation>
<wsdl:operation name="InicioReasignarIBCIE">
<wsdl:input message="tns:InicioReasignarIBCIE"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="EvaluacionSIEMASProcessPortType">
<wsdl:operation name="InicioEvaluacionSIEMAS">
<wsdl:input message="tns:InicioEvaluacionSIEMAS"/>
</wsdl:operation>
<wsdl:operation name="FinEvaluacionSIEMAS">
<wsdl:input message="tns:FinEvaluacionSIEMAS"/>
</wsdl:operation>
<wsdl:operation name="InicioReasignarSIEMAS">
<wsdl:input message="tns:InicioReasignarSIEMAS"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="EvaluacionProcessBinding" type="tns:EvaluacionProcessPortType">
<wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="InicioEvaluacion">
<wsdlsoap:operation style="document" soapAction="InicioEvaluacion"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="FinEvaluacion">
<wsdlsoap:operation style="document" soapAction="FinEvaluacion"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="EvaluacionIBCIEProcessBinding" type="tns:EvaluacionIBCIEProcessPortType">
<wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="InicioEvaluacionIBCIE">
<wsdlsoap:operation style="document" soapAction="InicioEvaluacionIBCIE"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="FinEvaluacionIBCIE">
<wsdlsoap:operation style="document" soapAction="FinEvaluacionIBCIE"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="InicioReasignarIBCIE">
<wsdlsoap:operation style="document" soapAction="InicioReasignarIBCIE"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="EvaluacionSIEMASProcessBinding" type="tns:EvaluacionSIEMASProcessPortType">
<wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="InicioEvaluacionSIEMAS">
<wsdlsoap:operation style="document" soapAction="InicioEvaluacionSIEMAS"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="FinEvaluacionSIEMAS">
<wsdlsoap:operation style="document" soapAction="FinEvaluacionSIEMAS"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="InicioReasignarSIEMAS">
<wsdlsoap:operation style="document" soapAction="InicioReasignarSIEMAS"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<plnk:partnerLinkType name="EvaluacionProcessPortTypePartnerLinkType">
<plnk:role name="EvaluacionProcessPortTypeProvider">
<plnk:portType name="tns:EvaluacionProcessPortType"/>
</plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="EvaluacionIBCIEProcessPortTypePartnerLinkType">
<plnk:role name="EvaluacionIBCIEProcessPortTypeProvider">
<plnk:portType name="tns:EvaluacionIBCIEProcessPortType"/>
</plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="EvaluacionSIEMASProcessPortTypePartnerLinkType">
<plnk:role name="EvaluacionSIEMASProcessPortTypeProvider">
<plnk:portType name="tns:EvaluacionSIEMASProcessPortType"/>
</plnk:role>
</plnk:partnerLinkType>
</wsdl:definitions>
