BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/CrearClasificacionAmbiental/WSDL/CrearClasificacionAmbiental.wsdl

<wsdl:definitions name="CrearClasificacionAmbiental" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/OSB_BCIE/ADAPTADORES/CrearClasificacionAmbiental" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/OSB_BCIE/ADAPTADORES/CrearClasificacionAmbiental" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearClasificacionAmbiental" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="CrearClasificacionAmbiental_plt">
    <plt:role name="CrearClasificacionAmbiental_role">
      <plt:portType name="tns:CrearClasificacionAmbiental_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearClasificacionAmbiental" schemaLocation="../XSD/CrearClasificacionAmbiental_table.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="ClasificacionAmbientalCollection_msg">
    <wsdl:part name="ClasificacionAmbientalCollection" element="top:ClasificacionAmbientalCollection"/>
  </wsdl:message>
  <wsdl:portType name="CrearClasificacionAmbiental_ptt">
    <wsdl:operation name="merge">
      <wsdl:input message="tns:ClasificacionAmbientalCollection_msg"/>
      <wsdl:output message="tns:ClasificacionAmbientalCollection_msg"/>
    </wsdl:operation>
    <wsdl:operation name="insert">
      <wsdl:input message="tns:ClasificacionAmbientalCollection_msg"/>
      <wsdl:output message="tns:ClasificacionAmbientalCollection_msg"/>
    </wsdl:operation>
       <wsdl:operation name="delete">
      <wsdl:input message="tns:ClasificacionAmbientalCollection_msg"/>
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>