Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/HTCardDbAppSvc/HTCardDbAppSvc_V1.0.wsdl

<wsdl:definitions name="HTCardDbAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/HTCardDbAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/HTCardDbAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:appoptCardDbStatusT24Mod="http://xmlns.banesco.com/appopt/HTCardDbAppSvc/CardDbStatusT24Mod_V1.0"
                  xmlns:appoptAcctCardRelMod="http://xmlns.banesco.com/appopt/HTCardDbAppSvc/AcctCardRelMod_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/HTCardDbAppSvc/CardDbStatusT24Mod_V1.0"
                  schemaLocation="../../../xsd/AppOpt/HTCardDb/CardDbStatusT24Mod/CardDbStatusT24Mod_V1.0.xsd"/>
      <xsd:import schemaLocation="../../../xsd/AppOpt/HTCardDb/AcctCardRelMod/AcctCardRelMod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/appopt/HTCardDbAppSvc/AcctCardRelMod_V1.0"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="CardDbStatusT24ModRq">
    <wsdl:part name="CardDbStatusT24ModRq" element="appoptCardDbStatusT24Mod:CardDbStatusT24ModRq"/>
  </wsdl:message>
  <wsdl:message name="CardDbStatusT24ModRs">
    <wsdl:part name="CardDbStatusT24ModRs" element="appoptCardDbStatusT24Mod:CardDbStatusT24ModRs"/>
  </wsdl:message>
  <wsdl:message name="AcctCardRelModRq">
    <wsdl:part name="AcctCardRelModRq" element="appoptAcctCardRelMod:AcctCardRelModRq"/>
  </wsdl:message>
  <wsdl:message name="AcctCardRelModRs">
    <wsdl:part name="AcctCardRelModRs" element="appoptAcctCardRelMod:AcctCardRelModRs"/>
  </wsdl:message>
  <wsdl:portType name="HTCardDbAppSvcPort">
    <wsdl:operation name="CardDbStatusT24Mod">
      <wsdl:input message="tns:CardDbStatusT24ModRq"/>
      <wsdl:output message="tns:CardDbStatusT24ModRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctCardRelMod">
      <wsdl:input message="tns:AcctCardRelModRq"/>
      <wsdl:output message="tns:AcctCardRelModRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="HTCardDbAppSvcBinding_SOAP11" type="tns:HTCardDbAppSvcPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CardDbStatusT24Mod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/HTCardDbAppSvc_V1.0/CardDbStatusT24Mod"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="CardDbStatusT24ModRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="CardDbStatusT24ModRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctCardRelMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/HTCardDbAppSvc_V1.0/AcctCardRelMod"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctCardRelModRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctCardRelModRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HTCardDbAppSvc_V1.0">
    <wsdl:port name="HTCardDbAppSvc_V1.0SOAP" binding="tns:HTCardDbAppSvcBinding_SOAP11">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>