AG_2019/SOA/CreateStyleMicroTaskProcess/SOA/Schemas/BusinessAreas/Support/POS/POSCommonSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Support/POS/Common/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Support/POS/Common/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" xmlns:cinvit="http://mx.agarcia.ea/Commons/InventoryItem/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="../../../Commons/CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:import schemaLocation="../../../Commons/InventoryItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Commons/InventoryItem/v1"/>
   <xs:complexType name="ReceiptImageType">
      <xs:sequence>
         <xs:element form="qualified" maxOccurs="unbounded" name="ReceiptLine" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="TransactionTypeCode">
      <xs:union memberTypes="base:TransactionTypeCodeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="TransactionTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="SaleTransaction"/>
         <xs:enumeration value="ReturnTransaction"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="POSEntryModeType">
      <xs:union memberTypes="base:POSEntryModeTypeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="POSEntryModeTypeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Normal"/>
         <xs:enumeration value="Manager"/>
         <xs:enumeration value="Maintenance"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="POSIDType">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="POSItemID">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:simpleType name="POSQualifier">
      <xs:restriction base="xs:string"/>
   </xs:simpleType>
   <xs:complexType name="POSLogCPasswordChange">
      <xs:sequence>
         <xs:element form="qualified" name="OldPassword" type="xs:string"/>
         <xs:element form="qualified" name="NewPassword" type="xs:string"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogCPasswordAuthorization">
      <xs:sequence>
         <xs:element form="qualified" name="Name" type="xs:string"/>
         <xs:element form="qualified" name="Password" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogCDrawerLimitExceeded">
      <xs:sequence>
         <xs:element form="qualified" maxOccurs="unbounded" name="LimitDetail">
            <xs:complexType>
               <xs:sequence>
                  <xs:element form="qualified" name="Amount" type="AmountCommonData"/>
                  <xs:element form="qualified" name="Over" type="AmountCommonData"/>
               </xs:sequence>
               <xs:attribute form="unqualified" name="TenderType" type="TenderTypeCode"/>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute form="unqualified" name="TypeCode" type="base:POSLogDrawerLimitExceededTypes"/>
   </xs:complexType>
   <xs:complexType name="POSLogCReceiptRePrint">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="LineSequenceNumber" type="SequenceNumberType">
            <xs:annotation>
               <xs:documentation>When used as a gift receipt or despatch docket, it points to a
                        referenced line item in the original transaction</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TransactionLink">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="TransactionLinkCommonData"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Customer">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="CustomerCommonData"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute default="ReceiptReprint" form="unqualified" name="TypeCode" type="ReceiptTypeCode" use="optional"/>
   </xs:complexType>
   <xs:simpleType name="POSLogDrawerLimitExceededTypes">
      <xs:union memberTypes="base:POSLogDrawerLimitExceededTypesEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="POSLogDrawerLimitExceededTypesEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Warning"/>
         <xs:enumeration value="Lockout"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="POSLogDeclineType">
      <xs:union memberTypes="base:POSLogDeclineTypeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="POSLogDeclineTypeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="DeviceFailure"/>
         <xs:enumeration value="CustomerRefuses"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="DocumentIDTypeCode">
      <xs:union memberTypes="base:DocumentIDTypeCodeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="DocumentIDTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Voucher"/>
         <xs:enumeration value="Invoice"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType mixed="true" name="StoreStructure">
      <xs:simpleContent>
         <xs:extension base="cinvit:StoreStructureHierarchyCommonData">
            <xs:anyAttribute namespace="##other" processContents="lax"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="UnifiePOSTypeCode">
      <xs:union memberTypes="UnifiedPOSTypeCodeEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="UnifiedPOSTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Biometrics"/>
         <xs:enumeration value="BumpBar"/>
         <xs:enumeration value="CashChanger"/>
         <xs:enumeration value="CashDrawer"/>
         <xs:enumeration value="CheckScanner"/>
         <xs:enumeration value="CoinDispenser"/>
         <xs:enumeration value="CreditAuthorizationTerminal"/>
         <xs:enumeration value="ElectronicJournal"/>
         <xs:enumeration value="FiscalPrinter"/>
         <xs:enumeration value="HardTotals"/>
         <xs:enumeration value="Keylock"/>
         <xs:enumeration value="LineDisplay"/>
         <xs:enumeration value="MagneticStripeReader"/>
         <xs:enumeration value="MICRR"/>
         <xs:enumeration value="MotionSensor"/>
         <xs:enumeration value="PinPad"/>
         <xs:enumeration value="PointcardReaderWriter"/>
         <xs:enumeration value="POSKeyboard"/>
         <xs:enumeration value="POSPower"/>
         <xs:enumeration value="POSPrinter"/>
         <xs:enumeration value="RemoteOrderDisplay"/>
         <xs:enumeration value="Scale"/>
         <xs:enumeration value="Scanner"/>
         <xs:enumeration value="SignatureCapture"/>
         <xs:enumeration value="SmartCardReader"/>
         <xs:enumeration value="ToneIndicator"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
