Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Account/Acct1018Adv/Acct1018Adv_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/Acct1018Adv_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcct1018Adv="http://xmlns.banesco.com/eopt/Acct1018Adv_V1.0" elementFormDefault="qualified">
	<xs:element name="Acct1018AdvRq" type="eoptAcct1018Adv:Acct1018AdvRq_Type"/>
	<xs:complexType name="Acct1018AdvRq_Type">
		<xs:sequence>
			<xs:element name="Activity" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Actividad que se est치 ejecutando.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ArrangementId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Id del registro del
AA.ARRANGEMENT.ACTIVITY</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Authoriser" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Informaci칩n del usuario que autoriza el registro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sucursal de la transacci칩n</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Inputter" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Informaci칩n del usuario que crea el
registro</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AdminTrnACHAdvRq" type="eoptAcct1018Adv:Acct1018AdvRq_Type"/>
</xs:schema>
