BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ConsultarRolByPlantilla/XSD/ConsultarRolByPlantilla.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarRolByPlantilla" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarRolByPlantilla" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarRolByPlantillaInput" type="ConsultarRolByPlantillaInput"/>
   <xs:complexType name="ConsultarRolByPlantillaInput">
      <xs:sequence>
         <xs:element name="idPlantilla" type="xs:int" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarRolByPlantillaOutputCollection" type="ConsultarRolByPlantillaOutputCollection"/>
   <xs:complexType name="ConsultarRolByPlantillaOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarRolByPlantillaOutput" type="ConsultarRolByPlantillaOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarRolByPlantillaOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="COD_EXTERNO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>