BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyAdquisicion/src/META-INF/wsdls/V1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/AdquisicionMO" xmlns="http://www.bcie.org/AdquisicionMO" xmlns:adqBO="http://www.bcie.org/AdquisicionBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:docuBO="http://www.bcie.org/DocumentoBO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="V1_1.xsd"/>
  <xsd:import namespace="http://www.bcie.org/AdquisicionBO" schemaLocation="V1_3.xsd"/>
  <xsd:import namespace="http://www.bcie.org/DocumentoBO" schemaLocation="V1_11.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_6.xsd"/>
  <xsd:element name="ConsultarAdquisicionRequest" type="ConsultarAdquisicionRequestType"/>
  <xsd:element name="ConsultarAdquisicionResponse" type="ConsultarAdquisicionResponseType"/>
  <xsd:element name="ConsultarNoObjecionRequest" type="ConsultarNoObjecionRequestType"/>
  <xsd:element name="ConsultarNoObjecionResponse" type="ConsultarNoObjecionResponseType"/>
  <xsd:element name="CrearReporteNoObjecionRequest" type="CrearReporteNoObjecionRequestType"/>
  <xsd:element name="CrearReporteNoObjecionResponse" type="CrearReporteNoObjecionResponseType"/>
  <xsd:element name="InformeNoObjecionRequest" type="InformeNoObjecionRequestType"/>
  <xsd:element name="InformeNoObjecionResponse" type="InformeNoObjecionResponseType"/>
  <xsd:element name="ConsultarParticipantesByIdNoObjecionRequest" type="ConsultarParticipantesByIdNoObjecionRequestType"/>
  <xsd:element name="ConsultarParticipantesByIdNoObjecionResponse" type="ConsultarParticipantesByIdNoObjecionResponseType"/>
  <xsd:element name="PublicarAviso" type="AvisoType"/>
  <xsd:element name="PublicarInformeResultadosAdjudicado" type="InformeResultadosAdjudicadoType"/>
  <xsd:element name="PublicarInformeResultadosOtros" type="InformeResultadosOtrosType"/>
  <xsd:element name="CrearActualizarNoObjecionRequest" type="CrearActualizarNoObjecionRequestType"/>
  <xsd:element name="CrearActualizarNoObjecionResponse" type="CrearActualizarNoObjecionResponseType"/>
  <xsd:complexType name="ConsultarAdquisicionRequestType">
    <xsd:sequence>
      <xsd:element name="idAdquisicion" type="xsd:long"/>
      <xsd:element minOccurs="0" name="idNoObjecion" type="xsd:long"/>
      <xsd:element minOccurs="0" name="idOperacion" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarAdquisicionResponseType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="Adquisicion" type="adqBO:AdquisicionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarNoObjecionRequestType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idNoObjecion" type="xsd:long"/>
      <xsd:element minOccurs="0" name="idAquisicion" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarNoObjecionResponseType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="NoObjecion" type="adqBO:NoObjecionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteNoObjecionRequestType">
    <xsd:sequence>
      <xsd:element name="Adquisicion" type="adqBO:AdquisicionType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteNoObjecionResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Documento" type="docuBO:Documento"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformeNoObjecionRequestType">
    <xsd:sequence>
      <xsd:element name="requierePublicacion" type="xsd:int"/>
      <xsd:element name="idAdquisicion" type="xsd:long"/>
      <xsd:element name="idNoObjecion" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InformeNoObjecionResponseType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="documento" type="docuBO:Documento"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarParticipantesByIdNoObjecionRequestType">
    <xsd:sequence>
      <xsd:element name="idNoObjecion" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarParticipantesByIdNoObjecionResponseType">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="rol" type="catBO:Catalogo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AvisoType">
    <xsd:complexContent>
      <xsd:extension base="adqBO:HeaderPublicacionType">
        <xsd:sequence>
          <xsd:element name="nombreOrganismoEjecutor" type="xsd:string"/>
          <xsd:element name="objetivo" type="xsd:string"/>
          <xsd:element name="lugarOnBase" type="xsd:string"/>
          <xsd:element name="fechaInicioOnBase" type="xsd:date"/>
          <xsd:element name="fechaFinOnBase" type="xsd:date"/>
          <xsd:element name="direccionElectronica" type="xsd:string"/>
          <xsd:element name="fechaRecepcionPropuesta" type="xsd:date"/>
          <xsd:element name="direccionPresentarPropuesta" type="xsd:string"/>
          <xsd:element name="fechaPublicacion" type="xsd:date"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InformeResultadosAdjudicadoType">
    <xsd:complexContent>
      <xsd:extension base="adqBO:HeaderPublicacionType">
        <xsd:sequence>
          <xsd:element name="resultadoProceso" type="xsd:string"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" name="adjudicados" type="adqBO:AdjudicadoType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="InformeResultadosOtrosType">
    <xsd:complexContent>
      <xsd:extension base="adqBO:HeaderPublicacionType">
        <xsd:sequence>
          <xsd:element name="resultadoProceso" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarNoObjecionRequestType">
    <xsd:sequence>
      <xsd:element name="NoObjecion" type="adqBO:NoObjecionType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarNoObjecionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>