BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyAdquisicion/src/META-INF/wsdls/V1_20.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/ContratoBO" xmlns="http://www.bcie.org/ContratoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:comBO="http://www.bcie.org/ComisionBO" xmlns:conBO="http://www.bcie.org/CondicionBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:terBO="http://www.bcie.org/TerminoBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/TerminoBO" schemaLocation="V1_17.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CondicionBO" schemaLocation="V1_10.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ComisionBO" schemaLocation="V1_8.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_6.xsd"/>
  <xsd:import namespace="http://www.bcie.org/LineaCreditoBO" schemaLocation="V1_7.xsd"/>
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="V1_4.xsd"/>
  <xsd:complexType name="Contrato">
    <xsd:sequence>
      <xsd:element name="idContrato" type="xsd:int"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="fechaFirma" type="xsd:date"/>
      <xsd:element name="fechaVigencia" type="xsd:date"/>
      <xsd:element minOccurs="0" name="idTipoMonedaMontoEscriturado" type="xsd:integer"/>
      <xsd:element name="MontoEscriturado" type="xsd:decimal"/>
      <xsd:element name="cuentaCliente" type="Cuentas"/>
      <xsd:element name="instanciaProceso" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fechaValor" type="xsd:date"/>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="LineaCredito" type="linCreBO:LineaCredito"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Cuentas">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="cuentaCliente" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>