BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyAdquisicion/src/META-INF/wsdls/V1_3.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/AdquisicionBO" xmlns="http://www.bcie.org/AdquisicionBO" xmlns:AdqBO="http://www.bcie.org/AdquisicionBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:comBO="http://www.bcie.org/CommonBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="V1_4.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_6.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CommonBO" schemaLocation="V1_14.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="V1_12.xsd"/>
  <xsd:complexType name="AdquisicionType">
    <xsd:sequence>
      <xsd:element name="idAdquisicion" type="xsd:long"/>
      <xsd:element name="operacion" type="operBO:Operacion"/>
      <xsd:element name="cliente" type="cliBO:ClienteBasicType"/>
      <xsd:element name="normativaAplicada" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="normativaEspecifica" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="adquisicionPrevia" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="numero" type="xsd:string"/>
      <xsd:element name="tipoAdquisicion" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="montoPresupuestado" type="comBO:MontoType"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="montoContratado" type="comBO:MontoType"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="montoAsociado" type="comBO:MontoType"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tipoAlcance" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaContrato" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tipoModalidad" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Adjudicatario" type="AdqBO:ConcursanteType"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="titulo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="objetivo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="instanciaProceso" type="xsd:string"/>
      <xsd:element name="estado" type="xsd:boolean"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="noObjecion" type="NoObjecionType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NoObjecionType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="idNoObjecion" type="xsd:long"/>
      <xsd:element name="idAdquisicion" type="xsd:long"/>
      <xsd:element name="tipoNoObjecion" type="AdqBO:TipoNoObjecionType"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaPublicacion" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaInicioDoctoBase" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaFinDoctoBase" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaRecepcionPropuesta" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="lugarObtenerDoctoBase" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="correoInfoAdicional" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="direccionPresentacionPropuesta" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="resultadoProceso" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="revisadoPublicacion" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="publicado" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="numeroCorrespondencia" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="otorgoNoObjecion" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaFirmaDocto" type="xsd:date"/>
      <xsd:element name="estado" type="xsd:boolean"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
      <xsd:element minOccurs="0" name="enProcesoBpm" type="xsd:int"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="concursante" type="AdqBO:ConcursanteType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoNoObjecionType">
    <xsd:complexContent>
      <xsd:extension base="catBO:Catalogo">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="NoObjecionRelacion" type="xsd:long"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="ConcursanteType">
    <xsd:sequence>
      <xsd:element name="idConcursante" type="xsd:long"/>
      <xsd:element name="idNoObjecion" type="xsd:long"/>
      <xsd:element name="tipoPerfil" type="catBO:Catalogo"/>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="nacionalidad" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="monto" type="comBO:MontoType"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="instanciaAprobacion" type="catBO:Catalogo"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="HeaderPublicacionType">
    <xsd:sequence>
      <xsd:element name="idNoObjecion" type="xsd:long"/>
      <xsd:element name="nombrePais" type="xsd:string"/>
      <xsd:element name="nombreOperacion" type="xsd:string"/>
      <xsd:element name="numeroOperacion" type="xsd:long"/>
      <xsd:element name="tituloProceso" type="xsd:string"/>
      <xsd:element name="numeroProceso" type="xsd:string"/>
      <xsd:element name="modalidadProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AdjudicadoType">
    <xsd:sequence>
      <xsd:element name="nombre" type="xsd:string"/>
      <xsd:element name="nacionalidad" type="xsd:string"/>
      <xsd:element name="monto" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaAdquisicion">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Adquisicion" type="AdquisicionType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>