BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyAdquisicion/src/META-INF/wsdls/V1_8.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/ComisionBO" xmlns:atriBO="http://www.bcie.org/AtributoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:comBO="http://www.bcie.org/ComisionBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="V1_4.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_6.xsd"/>
  <xsd:import namespace="http://www.bcie.org/AtributoBO" schemaLocation="V1_9.xsd"/>
  <xsd:simpleType name="idComision">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="codigoContrato">
    <xsd:restriction base="xsd:string"/>
  </xsd:simpleType>
  <xsd:complexType name="MontoBase">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="idMontoBase" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="valorMontoBase" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="porcentajeMontoBase" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="descripcionMontoBase" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Comision">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="idComision" type="comBO:idComision"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="nombre" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="descripcion" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tipoComision" type="comBO:CatalogoComision"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="moneda" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="montoComision" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="montoBase" type="comBO:MontoBase"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaValor" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaVencimiento" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaInicioCapital" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaInicioComision" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tipoFrecuencia" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="frecuenciaPago" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fondo" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="comisionCompartida" type="xsd:boolean"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="codigoDesembolso" type="xsd:long"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="numeroTesoreria" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="codigoContrato" type="comBO:codigoContrato"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="momentoCobro" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tipoTasa" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="baseCalculo" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="responsableComision" type="xsd:string"/>
      <xsd:element name="estadoTCC" type="atriBO:EstadoTCC"/>
      <xsd:element name="subEstadoTCC" type="atriBO:EstadoTCC"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
      <xsd:element name="estado" type="xsd:boolean"/>
      <xsd:element name="comisionEnmendada" type="comBO:idComision"/>
      <xsd:element name="fechaEnmienda" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="banSugerida" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="numeroCuentaCliente" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="observaciones" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" name="configAtributo" type="atriBO:Atributo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Accion" type="atriBO:Accion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CatalogoComision">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="idCatComision" type="catBO:idCatalogo"/>
      <xsd:element name="descripcion" type="xsd:string"/>
      <xsd:element name="descripcionCorta" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="idTipoComision" type="catBO:Catalogo"/>
      <xsd:element name="esEditableEnFormalizacion" type="xsd:boolean"/>
      <xsd:element name="requiereValidarCOFI" type="xsd:boolean"/>
      <xsd:element name="sePuedeDispensar" type="xsd:boolean"/>
      <xsd:element name="seRegistraEnFlexCube" type="xsd:boolean"/>
      <xsd:element name="esPlantilla" type="xsd:boolean"/>
      <xsd:element name="idComisionPrecarga" type="comBO:idComision"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
      <xsd:element name="estado" type="xsd:boolean"/>
      <xsd:element name="codigoExterno" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listaComision">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Comision" type="comBO:Comision"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>