BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioCliente/GestionCobro/V1/Wsdl/Recuperacion.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions targetNamespace="http://www.bcie.org/GestionCobro" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.bcie.org/GestionCobro" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:docMO="http://www.bcie.org/GestionCobroMO">
  <types>
    <xsd:schema targetNamespace="http://www.bcie.org/GestionCobroMO/types" elementFormDefault="qualified">
    <xsd:import namespace="http://www.bcie.org/GestionCobroMO" schemaLocation="../Schema/GestionCobroMO.xsd"/>
    </xsd:schema>
  </types>
  <message name="requestGenerarAvisoCobroDemandaMessage">
    <part name="request" element="docMO:GenerarAvisoCobroDemandaRequest"/>
  </message>
  <message name="responseGenerarAvisoCobroDemandaMessage">
    <part name="response" element="docMO:GenerarAvisoCobroDemandaResponse"/>
  </message>
  <message name="GenerarAvisoCobroDemandaV2RequestMessage">
        <part name="GenerarAvisoCobroDemandaV2Request" element="docMO:GenerarAvisoCobroDemandaV2Request"/>
    </message>
    <message name="GenerarAvisoCobroDemandaV2ResponseMessage">
        <part name="GenerarAvisoCobroDemandaV2Response" element="docMO:GenerarAvisoCobroDemandaV2Response"/>
    </message>
  
  <message name="GestionCobroRequestMessage">
    <part name="GestionCobroRequest" element="docMO:GestionCobroRequest"/>
  </message>
  <message name="GestionCobroResponseMessage">
    <part name="GestionCobroResponse" element="docMO:GestionCobroResponse"/>
  </message>
  <message name="GestionCobroV2RequestMessage">
    <part name="GestionCobroV2Request" element="docMO:GestionCobroV2Request"/>
  </message>
  <message name="GestionCobroV2ResponseMessage">
    <part name="GestionCobroV2Response" element="docMO:GestionCobroV2Response"/>
  </message>
  <message name="SeguimientoCobroRequestMessage">
    <part name="request" element="docMO:SeguimientoCobroRequest"/>
  </message>
  <message name="SeguimientoCobroResponseMessage">
    <part name="response" element="docMO:SeguimientoCobroResponse"/>
  </message>
  <message name="CrearAvisoLoteRequestMessage">
    <part name="request" element="docMO:CrearAvisoCobroRequest"/>
  </message>
  <message name="CrearAvisoLoteResponseMessage">
    <part name="response" element="docMO:CrearAvisoCobroResponse"/>
  </message>
  <portType name="RecuperacionPT">
    <operation name="GestionCobroCliente">
      <input message="tns:requestGenerarAvisoCobroDemandaMessage"/>
      <output message="tns:responseGenerarAvisoCobroDemandaMessage"/>
    </operation>
    <operation name="GestionCobroClienteV2">
      <input message="tns:GenerarAvisoCobroDemandaV2RequestMessage"/>
      <output message="tns:GenerarAvisoCobroDemandaV2ResponseMessage"/>
    </operation>
    <operation name="GestionCobroLote">
      <input message="tns:GestionCobroRequestMessage"/>
      <output message="tns:GestionCobroResponseMessage"/>
    </operation>
    <operation name="GestionCobroV2">
      <input message="tns:GestionCobroV2RequestMessage"/>
      <output message="tns:GestionCobroV2ResponseMessage"/>
    </operation>
    <operation name="SeguimientoCobro">
      <input message="tns:SeguimientoCobroRequestMessage"/>
      <output message="tns:SeguimientoCobroResponseMessage"/>
    </operation>
    <operation name="CrearAvisoLote">
      <input message="tns:CrearAvisoLoteRequestMessage"/>
      <output message="tns:CrearAvisoLoteResponseMessage"/>
    </operation>
  </portType>
  
  <binding name="RecuperacionPTSOAP12Bnd" type="tns:RecuperacionPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="GestionCobroCliente">
      <soap12:operation style="document" soapAction="http://www.bcie.org/GestionCobro/GestionCobroCliente"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="GestionCobroClienteV2">
      <soap12:operation style="document" soapAction="http://www.bcie.org/GestionCobro/GestionCobroClienteV2"/>
      <input>
        <soap12:body use="literal" parts="GenerarAvisoCobroDemandaV2Request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="GenerarAvisoCobroDemandaV2Response"/>
      </output>
    </operation>
    <operation name="GestionCobroLote">
      <soap12:operation style="document" soapAction="http://www.bcie.org/GestionCobro/GestionCobroLote"/>
      <input>
        <soap12:body use="literal" parts="GestionCobroRequest"/>
      </input>
      <output>
        <soap12:body use="literal" parts="GestionCobroResponse"/>
      </output>
    </operation>
    <operation name="GestionCobroV2">
      <soap12:operation style="document" soapAction="http://www.bcie.org/GestionCobro/GestionCobroV2"/>
      <input>
        <soap12:body use="literal" parts="GestionCobroV2Request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="GestionCobroV2Response"/>
      </output>
    </operation>
    <operation name="SeguimientoCobro">
      <soap12:operation style="document" soapAction="http://www.bcie.org/GestionCobro/GestionCobroLote"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="CrearAvisoLote">
      <soap12:operation style="document" soapAction="http://www.bcie.org/GestionCobro/CrearAvisoLote"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
  </binding>
  <service name="RecuperacionPTSOAP12BndQSService">
    <port name="RecuperacionPTSOAP12BndQSPort" binding="tns:RecuperacionPTSOAP12Bnd">
      <soap12:address location="http://www.example.com"/>
    </port>
  </service>
</definitions>