BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Condicion/ConsultarValidacionCondicionByRol/XSD/ConsultarValidacionCondicionByRol.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarValidacionCondicionByRol" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarValidacionCondicionByRol" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarValidacionCondicionByRolInput" type="ConsultarValidacionCondicionByRolInput"/>
   <xs:complexType name="ConsultarValidacionCondicionByRolInput">
      <xs:sequence>
         <xs:element name="P_ID_ROL_BPM" type="xs:decimal" nillable="true"/>
         <xs:element name="P_AGRUPADOR" type="xs:decimal" nillable="true"/>
         <xs:element name="P_OPERACION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarValidacionCondicionByRolOutputCollection" type="ConsultarValidacionCondicionByRolOutputCollection"/>
   <xs:complexType name="ConsultarValidacionCondicionByRolOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarValidacionCondicionByRolOutput" type="ConsultarValidacionCondicionByRolOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarValidacionCondicionByRolOutput">
      <xs:sequence>
         <xs:element name="ID_CONDICION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_ROL_BPM" type="xs:decimal" nillable="true"/>
         <xs:element name="LOGIN_USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="NOMBRE_USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="ID_OBSERVACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ES_VALIDADOR" type="xs:decimal" nillable="true"/>
         <xs:element name="ESTADO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="AGRUPADOR" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>