AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/Inventory/InventoryEBM.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Inventory" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Inventory" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
<xsd:include schemaLocation="InventoryEBO.xsd"/>
<xsd:element name="ProcessInventoryEBM" type="ProcessInventoryEBMType"/>
  <xsd:element name="ProcessInventoryResponseEBM" type="ProcessInventoryResponseEBMType"/>
  <xsd:element name="ProcessInventoryResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>
  <xsd:element name="CreateInventoryEBM" type="CreateInventoryEBMType"/>
  <xsd:element name="CreateInventoryResponseEBM" type="CreateInventoryResponseEBMType"/>
  <xsd:complexType name="ProcessInventoryEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProcessInventory" type="InventoryEBOType"/>
            <xsd:element name="InventoryHistoryRecord" type="com:EntityHistoryReferenceType" minOccurs="0"/>
          </xsd:sequence>
          <xsd:attribute name="action" type="com:ActionType"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessInventoryResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element name="InventoryEBO" type="InventoryEBOType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseAcknowledgeEBMType">
    <xsd:sequence>
      <xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateInventoryEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateInventory" type="InventoryEBOType"/>
            <xsd:element name="InventoryHistoryRecord" type="com:EntityHistoryReferenceType" minOccurs="0"/>
          </xsd:sequence>
          <xsd:attribute name="action" type="com:ActionType"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateInventoryResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element name="InventoryEBO" type="InventoryEBOType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>