Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/WFAcctLoanAppSvc/WFAcctLoanAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="WFAcctLoanAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:appoptAcctLoanPartyInq="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanPartyInq_V1.0"
                  xmlns:appoptAcctLoanInfoInq="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanInfoInq_V1.0"
                  xmlns:appoptAcctLoanInq="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanInq_V1.0"
                  xmlns:appoptAcctLoanAgreeInq="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAgreeInq_V1.0"
                  xmlns:appoptAcctLoanAgreeAdd="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAgreeAdd_V1.0"
                  xmlns:appoptAcctLoanCalcAdd="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanCalcAdd_V1.0"
                  xmlns:appoptAcctLoanCollAdd="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanCollateralAdd_V1.0"
                  xmlns:appoptAcctLoanCollMod="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanCollateralMod_V1.0"
                  xmlns:appoptAcctLoanPartyRelAdd="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanPartyRelAdd_V1.0"
                  xmlns:appoptAcctLoanPartyRelMod="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanPartyRelMod_V1.0"
                  xmlns:appoptAcctLoanAgreeMod="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAgreeMod_V1.0"
                  xmlns:appoptAcctLoanAdd="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAdd_V1.0"
                  xmlns:appoptAcctLoanAutoAdd="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAutoAdd_V1.0"
                  xmlns:appoptAcctLoanMortAdd="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanMortAdd_V1.0"
                  xmlns:appoptAcctLoanLedgerAdd="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanLedgerAdd_V1.0"
                  xmlns:appoptAcctLoanMod="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanMod_V1.0"
                  xmlns:appoptAcctLoanStatusMod="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanStatusMod_V1.0"
                  xmlns:appoptAcctLoanCalcInq="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanCalcInq_V1.0"
                  xmlns:appoptAcctLoanPrLetterAdd="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanPrLetterAdd_V1.0"
                  xmlns:appoptAcctLoanPrLetterMod="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanPrLetterMod_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/eo/Status_V1.0"
                  schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanPartyInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanPartyInq/AcctLoanPartyInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanInfoInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanInfoInq/AcctLoanInfoInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanInq/AcctLoanInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAgreeInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanAgreeInq/AcctLoanAgreeInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAgreeAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanAgreeAdd/AcctLoanAgreeAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanCalcAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanCalcAdd/AcctLoanCalcAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanCollateralAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanCollateralAdd/AcctLoanCollateralAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanCollateralMod_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanCollateralMod/AcctLoanCollateralMod_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanPartyRelAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanPartyRelAdd/AcctLoanPartyRelAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanPartyRelMod_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanPartyRelMod/AcctLoanPartyRelMod_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAgreeMod_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanAgreeMod/AcctLoanAgreeMod_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanAdd/AcctLoanAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanMod_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanMod/AcctLoanMod_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanStatusMod_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanStatusMod/AcctLoanStatusMod_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanLedgerAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanLedgerAdd/AcctLoanLedgerAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanCalcInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanCalcInq/AcctLoanCalcInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanPrLetterAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanPrLetterAdd/AcctLoanPrLetterAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanPrLetterMod_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanPrLetterMod/AcctLoanPrLetterMod_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAutoAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanAutoAdd/AcctLoanAutoAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanMortAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFAcctLoan/AcctLoanMortAdd/AcctLoanMortAdd_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanPartyInqRq">
    <wsdl:part name="AcctLoanPartyInqRq" element="appoptAcctLoanPartyInq:AcctLoanPartyInqRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanPartyInqRs">
    <wsdl:part name="AcctLoanPartyInqRs" element="appoptAcctLoanPartyInq:AcctLoanPartyInqRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanInfoInqRq">
    <wsdl:part name="AcctLoanInfoInqRq" element="appoptAcctLoanInfoInq:AcctLoanInfoInqRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanInfoInqRs">
    <wsdl:part name="AcctLoanInfoInqRs" element="appoptAcctLoanInfoInq:AcctLoanInfoInqRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanInqRq">
    <wsdl:part name="AcctLoanInqRq" element="appoptAcctLoanInq:AcctLoanInqRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanInqRs">
    <wsdl:part name="AcctLoanInqRs" element="appoptAcctLoanInq:AcctLoanInqRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanAgreeInqRq">
    <wsdl:part name="AcctLoanAgreeInqRq" element="appoptAcctLoanAgreeInq:AcctLoanAgreeInqRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanAgreeInqRs">
    <wsdl:part name="AcctLoanAgreeInqRs" element="appoptAcctLoanAgreeInq:AcctLoanAgreeInqRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanAgreeAddRq">
    <wsdl:part name="AcctLoanAgreeAddRq" element="appoptAcctLoanAgreeAdd:AcctLoanAgreeAddRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanAgreeAddRs">
    <wsdl:part name="AcctLoanAgreeAddRs" element="appoptAcctLoanAgreeAdd:AcctLoanAgreeAddRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanAgreeModRq">
    <wsdl:part name="AcctLoanAgreeModRq" element="appoptAcctLoanAgreeMod:AcctLoanAgreeModRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanAgreeModRs">
    <wsdl:part name="AcctLoanAgreeModRs" element="appoptAcctLoanAgreeMod:AcctLoanAgreeModRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanCalcAddRq">
    <wsdl:part name="AcctLoanCalcAddRq" element="appoptAcctLoanCalcAdd:AcctLoanCalcAddRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanCalcAddRs">
    <wsdl:part name="AcctLoanCalcAddRs" element="appoptAcctLoanCalcAdd:AcctLoanCalcAddRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanCollateralAddRq">
    <wsdl:part name="AcctLoanCollateralAddRq" element="appoptAcctLoanCollAdd:AcctLoanCollateralAddRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanCollateralAddRs">
    <wsdl:part name="AcctLoanCollateralAddRs" element="appoptAcctLoanCollAdd:AcctLoanCollateralAddRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanCollateralModRq">
    <wsdl:part name="AcctLoanCollateralModRq" element="appoptAcctLoanCollMod:AcctLoanCollateralModRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanCollateralModRs">
    <wsdl:part name="AcctLoanCollateralModRs" element="appoptAcctLoanCollMod:AcctLoanCollateralModRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanPartyRelAddRq">
    <wsdl:part name="AcctLoanPartyRelAddRq" element="appoptAcctLoanPartyRelAdd:AcctLoanPartyRelAddRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanPartyRelAddRs">
    <wsdl:part name="AcctLoanPartyRelAddRs" element="appoptAcctLoanPartyRelAdd:AcctLoanPartyRelAddRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanPartyRelModRq">
    <wsdl:part name="AcctLoanPartyRelModRq" element="appoptAcctLoanPartyRelMod:AcctLoanPartyRelModRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanPartyRelModRs">
    <wsdl:part name="AcctLoanPartyRelModRs" element="appoptAcctLoanPartyRelMod:AcctLoanPartyRelModRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanAddRq">
    <wsdl:part name="AcctLoanAddRq" element="appoptAcctLoanAdd:AcctLoanAddRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanAddRs">
    <wsdl:part name="AcctLoanAddRs" element="appoptAcctLoanAdd:AcctLoanAddRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanModRq">
    <wsdl:part name="AcctLoanModRq" element="appoptAcctLoanMod:AcctLoanModRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanModRs">
    <wsdl:part name="AcctLoanModRs" element="appoptAcctLoanMod:AcctLoanModRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanStatusModRq">
    <wsdl:part name="AcctLoanStatusModRq" element="appoptAcctLoanStatusMod:AcctLoanStatusModRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanStatusModRs">
    <wsdl:part name="AcctLoanStatusModRs" element="appoptAcctLoanStatusMod:AcctLoanStatusModRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanLedgerAddRq">
    <wsdl:part name="AcctLoanLedgerAddRq" element="appoptAcctLoanLedgerAdd:AcctLoanLedgerAddRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanLedgerAddRs">
    <wsdl:part name="AcctLoanLedgerAddRs" element="appoptAcctLoanLedgerAdd:AcctLoanLedgerAddRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanCalcInqRq">
    <wsdl:part name="AcctLoanCalcInqRq" element="appoptAcctLoanCalcInq:AcctLoanCalcInqRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanCalcInqRs">
    <wsdl:part name="AcctLoanCalcInqRs" element="appoptAcctLoanCalcInq:AcctLoanCalcInqRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanPrLetterAddRq">
    <wsdl:part name="AcctLoanPrLetterAddRq" element="appoptAcctLoanPrLetterAdd:AcctLoanPrLetterAddRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanPrLetterAddRs">
    <wsdl:part name="AcctLoanPrLetterAddRs" element="appoptAcctLoanPrLetterAdd:AcctLoanPrLetterAddRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanPrLetterModRq">
    <wsdl:part name="AcctLoanPrLetterModRq" element="appoptAcctLoanPrLetterMod:AcctLoanPrLetterModRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanPrLetterModRs">
    <wsdl:part name="AcctLoanPrLetterModRs" element="appoptAcctLoanPrLetterMod:AcctLoanPrLetterModRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanAutoAddRq">
    <wsdl:part name="AcctLoanAutoAddRq" element="appoptAcctLoanAutoAdd:AcctLoanAutoAddRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanAutoAddRs">
    <wsdl:part name="AcctLoanAutoAddRs" element="appoptAcctLoanAutoAdd:AcctLoanAutoAddRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanMortAddRq">
    <wsdl:part name="AcctLoanMortAddRq" element="appoptAcctLoanMortAdd:AcctLoanMortAddRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanMortAddRs">
    <wsdl:part name="AcctLoanMortAddRs" element="appoptAcctLoanMortAdd:AcctLoanMortAddRs"/>
  </wsdl:message>
  
  <wsdl:portType name="WFAcctLoanAppSvcPort">
    <wsdl:operation name="AcctLoanPartyInq">
      <wsdl:input message="tns:AcctLoanPartyInqRq"/>
      <wsdl:output message="tns:AcctLoanPartyInqRs"/>
      <wsdl:fault message="tns:SystemFault" name="SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanInfoInq">
      <wsdl:input message="tns:AcctLoanInfoInqRq"/>
      <wsdl:output message="tns:AcctLoanInfoInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanInq">
      <wsdl:input message="tns:AcctLoanInqRq"/>
      <wsdl:output message="tns:AcctLoanInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanAgreeInq">
      <wsdl:input message="tns:AcctLoanAgreeInqRq"/>
      <wsdl:output message="tns:AcctLoanAgreeInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanAgreeAdd">
      <wsdl:input message="tns:AcctLoanAgreeAddRq"/>
      <wsdl:output message="tns:AcctLoanAgreeAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanAgreeMod">
      <wsdl:input message="tns:AcctLoanAgreeModRq"/>
      <wsdl:output message="tns:AcctLoanAgreeModRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanCalcAdd">
      <wsdl:input message="tns:AcctLoanCalcAddRq"/>
      <wsdl:output message="tns:AcctLoanCalcAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanCollateralAdd">
      <wsdl:input message="tns:AcctLoanCollateralAddRq"/>
      <wsdl:output message="tns:AcctLoanCollateralAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanCollateralMod">
      <wsdl:input message="tns:AcctLoanCollateralModRq"/>
      <wsdl:output message="tns:AcctLoanCollateralModRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanPartyRelAdd">
      <wsdl:input message="tns:AcctLoanPartyRelAddRq"/>
      <wsdl:output message="tns:AcctLoanPartyRelAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanPartyRelMod">
      <wsdl:input message="tns:AcctLoanPartyRelModRq"/>
      <wsdl:output message="tns:AcctLoanPartyRelModRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanAdd">
      <wsdl:input message="tns:AcctLoanAddRq"/>
      <wsdl:output message="tns:AcctLoanAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanMod">
      <wsdl:input message="tns:AcctLoanModRq"/>
      <wsdl:output message="tns:AcctLoanModRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanStatusMod">
      <wsdl:input message="tns:AcctLoanStatusModRq"/>
      <wsdl:output message="tns:AcctLoanStatusModRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanLedgerAdd">
      <wsdl:input message="tns:AcctLoanLedgerAddRq"/>
      <wsdl:output message="tns:AcctLoanLedgerAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanCalcInq">
      <wsdl:input message="tns:AcctLoanCalcInqRq"/>
      <wsdl:output message="tns:AcctLoanCalcInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanPrLetterAdd">
      <wsdl:input message="tns:AcctLoanPrLetterAddRq"/>
      <wsdl:output message="tns:AcctLoanPrLetterAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanPrLetterMod">
      <wsdl:input message="tns:AcctLoanPrLetterModRq"/>
      <wsdl:output message="tns:AcctLoanPrLetterModRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanAutoAdd">
      <wsdl:input message="tns:AcctLoanAutoAddRq"/>
      <wsdl:output message="tns:AcctLoanAutoAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanMortAdd">
      <wsdl:input message="tns:AcctLoanMortAddRq"/>
      <wsdl:output message="tns:AcctLoanMortAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="WFAcctLoanAppSvcBinding_SOAP11" type="tns:WFAcctLoanAppSvcPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AcctLoanPartyInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanPartyInq"/>
      <wsdl:input>
        <soap:body use="literal" parts="AcctLoanPartyInqRq"/>
        <soap:header message="tns:MsgHdrRq" part="MsgHdrRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="AcctLoanPartyInqRs"/>
        <soap:header message="tns:MsgHdrRs" part="MsgHdrRs" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanInfoInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanInfoInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanInfoInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanInfoInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanAgreeInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanAgreeInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanAgreeInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanAgreeInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanAgreeAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanAgreeAdd"/>
      <wsdl:input>
        <soap:body use="literal" parts="AcctLoanAgreeAddRq"/>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="AcctLoanAgreeAddRs"/>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanAgreeMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanAgreeMod"/>
      <wsdl:input>
        <soap:body use="literal" parts="AcctLoanAgreeModRq"/>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="AcctLoanAgreeModRs"/>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanCalcAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanCalcAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanCalcAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanCalcAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanCollateralAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanCollateralAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanCollateralAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanCollateralAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanCollateralMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanCollateralMod"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanCollateralModRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanCollateralModRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanPartyRelAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanPartyRelAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanPartyRelAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanPartyRelAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanPartyRelMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanPartyRelMod"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanPartyRelModRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanPartyRelModRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanLedgerAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanLedgerAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanLedgerAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanLedgerAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanMod"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanModRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanModRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanStatusMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanStatusMod"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanStatusModRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanStatusModRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanCalcInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanCalcInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanCalcInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanCalcInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanPrLetterAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanPrLetterAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanPrLetterAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanPrLetterAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanPrLetterMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanPrLetterMod"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanPrLetterModRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanPrLetterModRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanAutoAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanAutoAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanAutoAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanAutoAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanMortAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/WFAcctLoanAppSvc_V1.0/AcctLoanMortAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctLoanMortAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctLoanMortAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="WFAcctLoanAppSvc_V1.0">
    <wsdl:port name="WFAcctLoanAppSvc_V1.0" binding="tns:WFAcctLoanAppSvcBinding_SOAP11">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
