AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseBusinessServiceLibrary/WarehouseTransfer/WarehouseTransferEBS.wsdl

<wsdl:definitions name="WarehouseTransferEBS" targetNamespace="http://www.agarcia.mx/EnterpriseService/WarehouseTransfer" xmlns:tns="http://www.agarcia.mx/EnterpriseService/WarehouseTransfer" xmlns:ebm="http://www.agarcia.mx/EnterpriseObjects/InventoryTransaction" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/InventoryTransaction" schemaLocation="../../EnterpriseObjectLibrary/EBO/InventoryTransaction/InventoryTransactionEBM.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ProcessWarehouseTransferReqMsg">
        <wsdl:part name="ProcessWarehouseTransferReqMsg" element="ebm:ProcessInventoryTransactionEBM"/>
    </wsdl:message>
    <wsdl:message name="ProcessWarehouseTransferRespMsg">
        <wsdl:part name="ProcessWarehouseTransferRespMsg" element="ebm:ProcessInventoryTransactionResponseEBM"/>
    </wsdl:message>
    <wsdl:message name="CreateWarehouseTransferReqMsg">
        <wsdl:part name="CreateWarehouseTransferReqMsg" element="ebm:CreateInventoryTransactionEBM"/>
    </wsdl:message>
    <wsdl:message name="CreateWarehouseTransferRespMsg">
        <wsdl:part name="CreateWarehouseTransferRespMsg" element="ebm:CreateInventoryTransactionResponseEBM"/>
    </wsdl:message>
    <wsdl:portType name="WarehouseTransferEBS">
        <wsdl:operation name="ProcessWarehouseTransfer">
            <wsdl:input message="tns:ProcessWarehouseTransferReqMsg"/>
            <wsdl:output message="tns:ProcessWarehouseTransferRespMsg"/>
        </wsdl:operation>
        <wsdl:operation name="CreateWarehouseTransfer">
            <wsdl:input message="tns:CreateWarehouseTransferReqMsg"/>
            <wsdl:output message="tns:CreateWarehouseTransferRespMsg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>