AG_2019/OSB/AlmacenesGarcia_DEV/Applications/RetailMerchandising/RMS/JMSSupplierConnectivity/Schema/VendorOUDesc.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/VendorOUDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/VendorOUDesc/v1" version="1.0">
<retailDoc:annotation>
<retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
</retailDoc:annotation>
<xs:element name="VendorOUDesc">
<retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
<xs:complexType>
<xs:sequence>
<xs:element name="org_unit_id" type="number15">
<retailDoc:annotation>
<retailDoc:documentation>This field contains org_unit_id.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="primary_pay_site_ind" type="varchar210">
<retailDoc:annotation>
<retailDoc:documentation>Primary payment site indicator.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:simpleType name="varchar210">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="10"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="number15">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a number of digits count 15.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:long">
<xs:totalDigits value="15"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>