AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/WarehouseTransferApp/TransferService/Resources/WSDL/ProcessTransferService.wsdl

<wsdl:definitions name="WarehouseTransferEBF" targetNamespace="http://www.agarcia.mx/EnterpriseService/WarehouseTransfer" xmlns:tns="http://www.agarcia.mx/EnterpriseService/WarehouseTransfer" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ebm="http://www.agarcia.mx/EnterpriseObjects/InventoryTransaction" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:documentation>
        <abstractWSDL>http://gdsoaapp2.agarcia.com.mx:9005/soa-infra/services/EnterpriseBusinessFlows/ProcessTransferEBF!1.0/WSDLs/WarehouseTransferEBSWrapper.wsdl</abstractWSDL>
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/InventoryTransaction" schemaLocation="../../../../MetaData/Components/EnterpriseObjectLibrary/EBO/InventoryTransaction/InventoryTransactionEBM.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="ProcessWarehouseTransferReqMsg">
        <wsdl:part name="ProcessWarehouseTransferReqMsg" element="ebm:ProcessInventoryTransactionEBM"/>
    </wsdl:message>
    <wsdl:message name="ProcessWarehouseTransferRespMsg">
        <wsdl:part name="ProcessWarehouseTransferRespMsg" element="ebm:ProcessInventoryTransactionResponseEBM"/>
    </wsdl:message>
    <wsdl:message name="CreateWarehouseTransferReqMsg">
        <wsdl:part name="CreateWarehouseTransferReqMsg" element="ebm:CreateInventoryTransactionEBM"/>
    </wsdl:message>
    <wsdl:message name="CreateWarehouseTransferRespMsg">
        <wsdl:part name="CreateWarehouseTransferRespMsg" element="ebm:CreateInventoryTransactionResponseEBM"/>
    </wsdl:message>
    
    <wsdl:portType name="WarehouseTransferEBS">
        <wsdl:operation name="ProcessWarehouseTransfer">
            <wsdl:input message="tns:ProcessWarehouseTransferReqMsg"/>
            <wsdl:output message="tns:ProcessWarehouseTransferRespMsg"/>
        </wsdl:operation>
        <wsdl:operation name="CreateWarehouseTransfer">
            <wsdl:input message="tns:CreateWarehouseTransferReqMsg"/>
            <wsdl:output message="tns:CreateWarehouseTransferRespMsg"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WarehouseTransferEBSBinding" type="tns:WarehouseTransferEBS">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ProcessWarehouseTransfer">
            <soap:operation style="document" soapAction="ProcessWarehouseTransfer"/>
            <wsdl:input>
              <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
              <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="CreateWarehouseTransfer">
            <soap:operation style="document" soapAction="CreateWarehouseTransfer"/>
            <wsdl:input>
              <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
              <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="processtransferebf_client_ep">
        <wsdl:port name="WarehouseTransferEBS_pt" binding="tns:WarehouseTransferEBSBinding">
            <soap:address location="http://gdsoaapp2.agarcia.com.mx:9005/soa-infra/services/EnterpriseBusinessFlows/ProcessTransferEBF/processtransferebf_client_ep"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>