BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/ConsultarComisionByIdComision/XSD/ConsultarComisionDB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarComisionDB"
           xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarComisionDB" elementFormDefault="qualified"
           attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConsultarComisionDBInput" type="ConsultarComisionDBInput"/>
  <xs:complexType name="ConsultarComisionDBInput">
    <xs:sequence>
      <xs:element name="idCargo" type="xs:string" nillable="true"/>
       <xs:element name="idOperacion" type="xs:int" nillable="true"/>
      <xs:element name="idMomentoCobro" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarComisionDBOutputCollection" type="ConsultarComisionDBOutputCollection"/>
  <xs:complexType name="ConsultarComisionDBOutputCollection">
    <xs:sequence>
      <xs:element name="ConsultarComisionDBOutput" type="ConsultarComisionDBOutput" minOccurs="0"
                  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarComisionDBOutput">
    <xs:sequence>
      <xs:element name="ID" type="xs:decimal" nillable="true"/>
      <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
      <xs:element name="NOMBRE" type="xs:string" nillable="true"/>
      <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
      <xs:element name="ID_TCA_COMISION" type="xs:decimal" nillable="true"/>
       <xs:element name="DESCRIPCION_COMISION" type="xs:string" nillable="true"/>
      <xs:element name="ID_TCA_MONEDA" type="xs:decimal" nillable="true"/>
       <xs:element name="DESCRIPCION_MONEDA" type="xs:string" nillable="true"/>
       <xs:element name="DESCRIPCION_CORTA_MONEDA" type="xs:string" nillable="true"/>
      <xs:element name="COD_EXTERNO_MONEDA" type="xs:string"/>
      <xs:element name="MONTO_COMISION" type="xs:decimal" nillable="true"/>
      <xs:element name="ID_TCA_MONTO_BASE" type="xs:decimal" nillable="true"/>
      <xs:element name="MONTO_BASE" type="xs:decimal" nillable="true"/>
           <xs:element name="PORCENTAJE_SOBRE_MONTO_BASE" type="xs:decimal" nillable="true"/>
           <xs:element name="DESCRIPCION_MONTO_BASE" type="xs:string" nillable="true"/>
      <xs:element name="FECHA_VALOR" type="xs:dateTime" nillable="true"/>
      <xs:element name="FECHA_VENCIMIENTO" type="xs:dateTime" nillable="true"/>
      <xs:element name="FECHA_INICIO_CAPITAL" type="xs:dateTime" nillable="true"/>
      <xs:element name="FECHA_INICIO_COMISION" type="xs:dateTime" nillable="true"/>
      <xs:element name="ID_TCA_TIPO_FRECUENCIA" type="xs:decimal" nillable="true"/>
      <xs:element name="COD_EXTERNO_TIPO_FREC" type="xs:string" nillable="true"/>
      <xs:element name="DESCRIPCION_TIPOFREC" type="xs:string" nillable="true"/>
      <xs:element name="FRECUENCIA_PAGO" type="xs:decimal" nillable="true"/>
      <xs:element name="ID_TCA_FONDO" type="xs:string" nillable="true"/>
      <xs:element name="DESCRIPCION_TIPO_FONDO" type="xs:string" nillable="true"/>
      <xs:element name="COMISION_COMPARTIDA" type="xs:decimal" nillable="true"/>
      <xs:element name="ID_TCA_ESTADO_TCC" type="xs:decimal" nillable="true"/>
      <xs:element name="DESCRIPCION_ESTADO_TCC" type="xs:string" nillable="true"/>
      <xs:element name="DESCRIPCION_CORTA_ESTADO_TCC" type="xs:string" nillable="true"/>
      <xs:element name="FECHA_REGISTRO_ESTADO_TCC" type="xs:dateTime" nillable="true"/>
      <xs:element name="BAN_ESTATUS_ESTADO_TCC" type="xs:decimal" nillable="true"/>
      <xs:element name="COD_EXTERNO_ESTADO_TCC" type="xs:string" nillable="true"/>
      <xs:element name="BAN_SUGERIDA" type="xs:decimal" nillable="true"/>
      <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
      <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
      <xs:element name="CODIGO_CONTRATO" type="xs:string" nillable="true"/>
      <xs:element name="ID_TCA_TIPO_TASA" type="xs:decimal" nillable="true"/>
      <xs:element name="ID_TCA_BASE_CALCULO" type="xs:decimal" nillable="true"/>
      <xs:element name="DESCRIPCION_BASE_CALCULO" type="xs:string"/>
      <xs:element name="DESCRIPCION_CORTA_B_CALCULO" type="xs:string"/>
      <xs:element name="FECHA_REGISTRO_BASE_CALCULO" type="xs:dateTime"/>
      <xs:element name="BAN_ESTATUS_BASE_CALCULO" type="xs:decimal"/>
      <xs:element name="COD_EXTERNO_BASE_CALCULO" type="xs:string"/>
      <xs:element name="CODIGO_DESEMBOLSO" type="xs:decimal" nillable="true"/>
     <xs:element name="NUMERO_TESORERIA" type="xs:string" nillable="true"/>
      <xs:element name="RESPONSABLE_COMISION" type="xs:string" nillable="true"/>
      <xs:element name="ID_TCA_SUB_ESTADO_TCC" type="xs:decimal" nillable="true"/>
      <xs:element name="ID_COMISION_ENMENDADA" type="xs:decimal" nillable="true"/>
      <xs:element name="FECHA_ENMIENDA" type="xs:date" nillable="true"/>
      <xs:element name="ID_TCA_MOMENTO_COBRO" type="xs:decimal" nillable="true"/>
    <xs:element name="DESCRIPCION_MOMENTO_COBRO" type="xs:string" nillable="true"/>
      <xs:element name="ID_FLEXCUBE" type="xs:string" nillable="true"/>
      <xs:element name="COD_EXTERNO_PAIS" type="xs:string" nillable="true"/>
      <xs:element name="SECTOR_INSTITUCIONAL" type="xs:decimal" nillable="true"/>
      <xs:element name="DESCRIPCION_S_INST" type="xs:string"/>
      <xs:element name="DESCRIPCION_CORTA_S_INST" type="xs:string"/>
      <xs:element name="FECHA_REGISTRO_S_INST" type="xs:dateTime"/>
      <xs:element name="BAN_ESTATUS_S_INST" type="xs:decimal"/>
      <xs:element name="COD_EXTERNO_S_INST" type="xs:string"/>
      <xs:element name="COD_EXTERNO_EJE" type="xs:string" nillable="true"/>
      <xs:element name="COD_EXTERNO_ACTIVIDAD" type="xs:string" nillable="true"/>
      <xs:element name="EJECUTIVO" type="xs:string" nillable="true"/>
      <xs:element name="COD_EXTERNO" type="xs:string" nillable="true"/>
      <xs:element name="COD_EXTERNO_TIPOCOMISION" type="xs:string" nillable="true"/>
      <xs:element name="NOMBRE_OPERACION" type="xs:string" nillable="true"/>
      <xs:element name="NUMERO_CUENTA_CLIENTE" type="xs:string" nillable="true"/>
      <xs:element name="CURRENCY" type="xs:string" nillable="true"/>
      <xs:element name="REQUIERE_VALIDAR_COFI" type="xs:decimal" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>