AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/SupplierApp/SyncSupplierSAALMAABCSimpl/Resources/XSD/inputSchema.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://TargetNamespace.com/SyncSupplierSAALMARestReference_Sync_request" targetNamespace="http://TargetNamespace.com/SyncSupplierSAALMARestReference_Sync_request" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
   <xsd:element name="SupplierInput">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="code" type="xsd:integer"/>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="direccion" type="xsd:string"/>
            <xsd:element name="ciudad" type="xsd:string"/>
            <xsd:element name="estado" type="xsd:string"/>
            <xsd:element name="cp" type="xsd:string"/>
            <xsd:element name="telefono" type="xsd:string"/>
            <xsd:element name="fax" type="xsd:string"/>
            <xsd:element name="email" type="xsd:string"/>
            <xsd:element name="status" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>