BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/CrearTreLineaCredito/XSD/CrearTreLineaCredito_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearTreLineaCredito" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearTreLineaCredito" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="TreLineaCreditoTccCollection" type="TreLineaCreditoTccCollection"/>
   <xs:complexType name="TreLineaCreditoTccCollection">
      <xs:sequence>
         <xs:element name="TreLineaCreditoTcc" type="TreLineaCreditoTcc" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TreLineaCreditoTcc">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idLineaCredito" type="xs:long" minOccurs="0"/>
         <xs:element name="idTermino" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idComision" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idCondicion" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>