BCIE_fenix/features/MCP/16/SOA/03-SOA-SERVICES/Utilidades/EjecutarServiciosAutomaticos/SOA/WSDLs/V1.0.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<WL5G3N0:definitions
    
     targetNamespace="http://www.bcie.org/GestionCobro"
     xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
     xmlns:WL5G3N1="http://www.bcie.org/GestionCobroMO"
     xmlns:WL5G3N2="http://www.bcie.org/GestionCobro"
     xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <WL5G3N0:types>
        <xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/GestionCobroMO/types"
             xmlns:docMO="http://www.bcie.org/GestionCobroMO" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:tns="http://www.bcie.org/GestionCobro" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.bcie.org/GestionCobroMO" schemaLocation="http://hn-obpm-qa-1.bcie.org:7013/Entidad/RecuperacionService/V1.0?SCHEMA%2FMDS%2FResources%2FComponentesComunes%2FDominioCliente%2FGestionCobro%2FV1%2FSchema%2FGestionCobroMO"/>
        </xsd:schema>
    </WL5G3N0:types>
    <WL5G3N0:message name="requestGenerarAvisoCobroDemandaMessage">
        <WL5G3N0:part name="request" element="WL5G3N1:GenerarAvisoCobroDemandaRequest"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="responseGenerarAvisoCobroDemandaMessage">
        <WL5G3N0:part name="response" element="WL5G3N1:GenerarAvisoCobroDemandaResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="GenerarAvisoCobroDemandaV2RequestMessage">
        <WL5G3N0:part name="GenerarAvisoCobroDemandaV2Request" element="WL5G3N1:GenerarAvisoCobroDemandaV2Request"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="GenerarAvisoCobroDemandaV2ResponseMessage">
        <WL5G3N0:part name="GenerarAvisoCobroDemandaV2Response" element="WL5G3N1:GenerarAvisoCobroDemandaV2Response"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="GestionCobroRequestMessage">
        <WL5G3N0:part name="GestionCobroRequest" element="WL5G3N1:GestionCobroRequest"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="GestionCobroResponseMessage">
        <WL5G3N0:part name="GestionCobroResponse" element="WL5G3N1:GestionCobroResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="GestionCobroV2RequestMessage">
        <WL5G3N0:part name="GestionCobroV2Request" element="WL5G3N1:GestionCobroV2Request"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="GestionCobroV2ResponseMessage">
        <WL5G3N0:part name="GestionCobroV2Response" element="WL5G3N1:GestionCobroV2Response"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="SeguimientoCobroRequestMessage">
        <WL5G3N0:part name="request" element="WL5G3N1:SeguimientoCobroRequest"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="SeguimientoCobroResponseMessage">
        <WL5G3N0:part name="response" element="WL5G3N1:SeguimientoCobroResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="CrearAvisoLoteRequestMessage">
        <WL5G3N0:part name="request" element="WL5G3N1:CrearAvisoCobroRequest"/>
    </WL5G3N0:message>
    <WL5G3N0:message name="CrearAvisoLoteResponseMessage">
        <WL5G3N0:part name="response" element="WL5G3N1:CrearAvisoCobroResponse"/>
    </WL5G3N0:message>
    <WL5G3N0:portType name="RecuperacionPT">
        <WL5G3N0:operation name="GestionCobroCliente">
            <WL5G3N0:input message="WL5G3N2:requestGenerarAvisoCobroDemandaMessage"/>
            <WL5G3N0:output message="WL5G3N2:responseGenerarAvisoCobroDemandaMessage"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="GestionCobroClienteV2">
             <WL5G3N0:input message="WL5G3N2:GenerarAvisoCobroDemandaV2RequestMessage"/>
             <WL5G3N0:output message="WL5G3N2:GenerarAvisoCobroDemandaV2ResponseMessage"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="GestionCobroLote">
            <WL5G3N0:input message="WL5G3N2:GestionCobroRequestMessage"/>
            <WL5G3N0:output message="WL5G3N2:GestionCobroResponseMessage"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="GestionCobroV2">
            <WL5G3N0:input message="WL5G3N2:GestionCobroV2RequestMessage"/>
            <WL5G3N0:output message="WL5G3N2:GestionCobroV2ResponseMessage"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="SeguimientoCobro">
            <WL5G3N0:input message="WL5G3N2:SeguimientoCobroRequestMessage"/>
            <WL5G3N0:output message="WL5G3N2:SeguimientoCobroResponseMessage"/>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="CrearAvisoLote">
            <WL5G3N0:input message="WL5G3N2:CrearAvisoLoteRequestMessage"/>
            <WL5G3N0:output message="WL5G3N2:CrearAvisoLoteResponseMessage"/>
        </WL5G3N0:operation>
    </WL5G3N0:portType>
    <WL5G3N0:binding name="RecuperacionPTSOAP12Bnd" type="WL5G3N2:RecuperacionPT">
        <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <WL5G3N0:operation name="GestionCobroCliente">
            <WL5G3N3:operation style="document" soapAction="http://www.bcie.org/GestionCobro/GestionCobroCliente"
                 soapActionRequired="false"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal" parts="request"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal" parts="response"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="GestionCobroClienteV2">
          <WL5G3N3:operation style="document" soapAction="http://www.bcie.org/GestionCobro/GestionCobroClienteV2"/>
          <WL5G3N0:input>
            <WL5G3N3:body use="literal" parts="GenerarAvisoCobroDemandaV2Request"/>
          </WL5G3N0:input>
          <WL5G3N0:output>
            <WL5G3N3:body use="literal" parts="GenerarAvisoCobroDemandaV2Response"/>
          </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="GestionCobroLote">
            <WL5G3N3:operation style="document" soapAction="http://www.bcie.org/GestionCobro/GestionCobroLote"
                 soapActionRequired="false"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal" parts="GestionCobroRequest"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal" parts="GestionCobroResponse"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="GestionCobroV2">
          <WL5G3N3:operation style="document" soapAction="http://www.bcie.org/GestionCobro/GestionCobroV2"/>
          <WL5G3N0:input>
            <WL5G3N3:body use="literal" parts="GestionCobroV2Request"/>
          </WL5G3N0:input>
          <WL5G3N0:output>
            <WL5G3N3:body use="literal" parts="GestionCobroV2Response"/>
          </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="SeguimientoCobro">
            <WL5G3N3:operation style="document" soapAction="http://www.bcie.org/GestionCobro/GestionCobroLote"
                 soapActionRequired="false"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal" parts="request"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal" parts="response"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
        <WL5G3N0:operation name="CrearAvisoLote">
            <WL5G3N3:operation style="document" soapAction="http://www.bcie.org/GestionCobro/CrearAvisoLote"
                 soapActionRequired="false"/>
            <WL5G3N0:input>
                <WL5G3N3:body use="literal" parts="request"/>
            </WL5G3N0:input>
            <WL5G3N0:output>
                <WL5G3N3:body use="literal" parts="response"/>
            </WL5G3N0:output>
        </WL5G3N0:operation>
    </WL5G3N0:binding>
    <WL5G3N0:service name="RecuperacionPTSOAP12BndQSService">
        <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
        <WL5G3N0:port name="RecuperacionPTSOAP12BndQSPort" binding="WL5G3N2:RecuperacionPTSOAP12Bnd">
            <WL5G3N3:address location="http://hn-obpm-dev.bcie.org:7013/Entidad/RecuperacionService/V1.0"/>
        </WL5G3N0:port>
    </WL5G3N0:service>
</WL5G3N0:definitions>
