BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Prepago/V1/Wsdl/Prepago.wsdl

<definitions name="Prepago" targetNamespace="http://xmlns.bcie.com/PrepagoService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.bcie.com/PrepagoService" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:preMO="http://www.bcie.org/PrepagoMO">
 <types>
    <xsd:schema>
      <xsd:import namespace="http://www.bcie.org/PrepagoMO" schemaLocation="../Schema/PrepagoMO.xsd"/>
    </xsd:schema>
  </types>
 <message name="ConsolidadoPrepagoRequestMessage">
  <part name="request" element="preMO:InformePrepagoRequest"/>
 </message>
 <message name="ConsolidadoPrepagoResponseMessage">
  <part name="response" element="preMO:InformePrepagoResponse"/>
 </message>
 <message name="CalculoInteresPrepagoRequestMessage">
  <part name="request" element="preMO:CalculoInteresPrepagoRequest"/>
 </message>
 <message name="CalculoInteresPrepagoResponseMessage">
  <part name="response" element="preMO:CalculoInteresPrepagoResponse"/>
 </message>
 <portType name="PrepagoPT">
  <operation name="consolidadoPrepago">
   <input message="tns:ConsolidadoPrepagoRequestMessage"/>
   <output message="tns:ConsolidadoPrepagoResponseMessage"/>
  </operation>
  <operation name="reportePrepago">
   <input message="tns:ReportePrepagoRequestMessage"/>
   <output message="tns:ReportePrepagoResponseMessage"/>
  </operation>
  <operation name="detallePenalidadPrepago">
   <input message="tns:DetallePenalidadPrepagoRequestMessage"/>
   <output message="tns:DetallePenalidadPrepagoResponseMessage"/>
  </operation>
  <operation name="calculoInteresPrepago">
   <input message="tns:CalculoInteresPrepagoRequestMessage"/>
   <output message="tns:CalculoInteresPrepagoResponseMessage"/>
  </operation>
  <operation name="CrearActualizarPrepago">
   <input message="tns:CrearActualizarPrepagoRequestMessage"/>
   <output message="tns:CrearActualizarPrepagoResponseMessage"/>
  </operation>
  <operation name="detalleContratoDesembolso">
   <input message="tns:DetalleContratoDesembolsoRequestMessage"/>
   <output message="tns:DetalleContratoDesembolsoResponseMessage"/>
  </operation>
 </portType>
 <binding name="PrepagoPT12Bnd" type="tns:PrepagoPT">
  <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="consolidadoPrepago">
   <soap12:operation style="document" soapAction="http://xmlns.bcie.com/PrepagoService/consolidadoPrepago"/>
   <input>
    <soap12:body use="literal" parts="request"/>
   </input>
   <output>
    <soap12:body use="literal" parts="response"/>
   </output>
  </operation>
  <operation name="reportePrepago">
   <soap12:operation style="document" soapAction="http://xmlns.bcie.com/PrepagoService/reportePrepago"/>
   <input>
    <soap12:body use="literal" parts="request"/>
   </input>
   <output>
    <soap12:body use="literal" parts="response"/>
   </output>
  </operation>
  <operation name="detallePenalidadPrepago">
   <soap12:operation/>
   <input>
    <soap12:body/>
   </input>
   <output>
    <soap12:body/>
   </output>
  </operation>
  <operation name="calculoInteresPrepago">
   <soap12:operation/>
   <input>
    <soap12:body/>
   </input>
   <output>
    <soap12:body/>
   </output>
  </operation>
  <operation name="CrearActualizarPrepago">
   <soap12:operation/>
   <input>
    <soap12:body/>
   </input>
   <output>
    <soap12:body/>
   </output>
  </operation>
  <operation name="detalleContratoDesembolso">
   <soap12:operation/>
   <input>
    <soap12:body/>
   </input>
   <output>
    <soap12:body/>
   </output>
  </operation>
 </binding>
 <message name="ReportePrepagoRequestMessage">
  <part name="request" element="preMO:ReportePrepagoRequest"/>
 </message>
 <message name="ReportePrepagoResponseMessage">
  <part name="response" element="preMO:ReportePrepagoResponse"/>
 </message>
 <message name="DetallePenalidadPrepagoRequestMessage">
  <part name="request" element="preMO:DetallePenalidadPrepagoRequest"/>
 </message>
 <message name="DetallePenalidadPrepagoResponseMessage">
  <part name="response" element="preMO:DetallePenalidadPrepagoResponse"/>
 </message>
 <service name="Prepago12BndQSService">
  <port name="Prepago12BndQSPort" binding="tns:PrepagoPT12Bnd">
   <soap12:address location="http://osblnx1-vip.dev.bcie.org:7021/Entidad/PrepagoService_PS/V1.0?WSDL"/>
  </port>
 </service>
 <message name="CrearActualizarPrepagoRequestMessage">
  <part name="request" element="preMO:CrearActualizarPrepagoRequest"/>
 </message>
 <message name="CrearActualizarPrepagoResponseMessage">
  <part name="response" element="preMO:CrearActualizarPrepagoResponse"/>
 </message>
 <message name="DetalleContratoDesembolsoRequestMessage">
  <part name="request" element="preMO:DetalleContratoDesembolsoRequest"/>
 </message>
 <message name="DetalleContratoDesembolsoResponseMessage">
  <part name="response" element="preMO:DetalleContratoDesembolsoResponse"/>
 </message>
</definitions>