BCIE_fenix/dev/SOA/03-SOA-SERVICES/DominioCliente/Recuperacion/Schema/GestionCobroBO.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:desBO="http://www.bcie.org/DesembolsoBO"
     xmlns:comBO="http://www.bcie.org/CommonBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO"
     xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:operBO="http://www.bcie.org/OperacionBO"
     xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns="http://www.bcie.org/GestionCobroBO"
     xmlns:gesCobBO="http://www.bcie.org/GestionCobroBO" targetNamespace="http://www.bcie.org/GestionCobroBO"
     elementFormDefault="qualified">
    <xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="../../../Cliente/V1/Schema/ClienteBO.xsd"/>
    <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"/>
    <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="../../../../../ComponentesComunes/Common/V1/Schema/CatalogoBO.xsd"/>
    <xsd:import namespace="http://www.bcie.org/LineaCreditoBO" schemaLocation="../../../../DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoBO.xsd"/>
    <xsd:import namespace="http://www.bcie.org/CommonBO" schemaLocation="../../../../../ComponentesComunes/Common/V1/Schema/CommonBO.xsd"/>
    <xsd:import namespace="http://www.bcie.org/DesembolsoBO" schemaLocation="../../../../../ComponentesComunes/DominioDesembolso/Desembolso/V1/Schema/DesembolsoBO.xsd"/>
    <xsd:element name="AvisoCobro" type="gesCobBO:GestionCobro"/>
    <xsd:element name="ReciboPago" type="gesCobBO:Seguimiento"/>
    <xsd:complexType name="Seguimiento">
        <xsd:sequence>
            <xsd:element name="recibo" type="gesCobBO:reciboType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GestionCobro">
        <xsd:sequence>
            <xsd:element name="aviso" type="gesCobBO:Aviso" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Aviso">
        <xsd:complexContent>
            <xsd:extension base="cliBO:ClienteBasicType">
                <xsd:sequence>
                    <xsd:element name="idEjecucionLote" type="xsd:long"/>
                    <xsd:element name="emision" type="xsd:date"/>
                    <xsd:element name="avisoOperacion" type="gesCobBO:avisoOperacionType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="avisoOperacionType">
        <xsd:complexContent>
            <xsd:extension base="operBO:OperacionBasicType">
                <xsd:sequence>
                    <xsd:element name="Moneda" type="catBO:Catalogo"/>
                    <xsd:element name="informacionPago" type="gesCobBO:VencimientoType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="VencimientoType">
        <xsd:sequence>
            <xsd:element name="fechaPago" type="xsd:date"/>
            <xsd:element name="detallePago" maxOccurs="unbounded">
                <xsd:complexType>
                    <xsd:complexContent>
                        <xsd:extension base="gesCobBO:DetallePagoType"/>
                    </xsd:complexContent>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DetallePagoType">
        <xsd:complexContent>
            <xsd:extension base="linCreBO:LineaCreditoBasicType">
                <xsd:sequence>
                    <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso" minOccurs="0"
                         maxOccurs="unbounded"/>
                    <xsd:element name="Mora" type="desBO:ContratoDesembolso" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="tablasDetalle" type="gesCobBO:tablaDetalleType" minOccurs="1"
                         maxOccurs="3"/>
                    <xsd:element name="comentario1" type="gesCobBO:comentario" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="Banco" type="gesCobBO:InfoBanco" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="comentario2" type="gesCobBO:comentario" minOccurs="0" maxOccurs="unbounded"/>
                    <xsd:element name="comentario3" type="gesCobBO:comentario" minOccurs="0" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DetalleCalculoType">
        <xsd:complexContent>
            <xsd:extension base="desBO:ContratoDesembolso">
                <xsd:sequence>
                    <xsd:element name="saldo" type="comBO:MontoType"/>
                    <xsd:element name="periodo" type="comBO:periodoType"/>
                    <xsd:element name="pagosAplicados" type="comBO:MontoType" minOccurs="0"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="DetalleOtrasType">
        <xsd:complexContent>
            <xsd:extension base="comBO:MontoType">
                <xsd:sequence>
                    <xsd:element name="vencimiento" type="xsd:date"/>
                </xsd:sequence>
            </xsd:extension>
        </xsd:complexContent>
    </xsd:complexType>
    <xsd:complexType name="tablaDetalleType">
        <xsd:sequence>
            <xsd:element name="pagosAplicados" type="comBO:MontoType"/>
            <xsd:group ref="gesCobBO:detalleGroup"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="InfoBanco">
        <xsd:sequence>
            <xsd:group ref="gesCobBO:InfoPagoGroup"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="comentario">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="95"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:group name="InfoPagoGroup">
        <xsd:sequence>
            <xsd:element name="banco" type="xsd:string"/>
            <xsd:element name="SWIFTBanco" type="xsd:string"/>
            <xsd:element name="cuentaNo" type="xsd:string"/>
            <xsd:element name="beneficiario" type="xsd:string"/>
            <xsd:element name="SWIFTBeneficiario" type="xsd:string"/>
            <xsd:element name="Referencia" type="xsd:string"/>
        </xsd:sequence>
    </xsd:group>
    <xsd:group name="detalleGroup">
        <xsd:choice>
            <xsd:element name="detalleIntereses" type="gesCobBO:DetalleCalculoType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="detalleCC" type="gesCobBO:DetalleCalculoType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="detalleOC" type="gesCobBO:DetalleOtrasType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:choice>
    </xsd:group>
    <xsd:complexType name="AvisoVencimientoType">
        <xsd:sequence>
            <xsd:element name="fechaInicio" type="xsd:date"/>
            <xsd:element name="fechaFin" type="xsd:date"/>
            <xsd:element name="esPublico" type="xsd:string"/>
            <xsd:element name="tipoAviso" type="xsd:string"/>
            <xsd:element name="linea" type="xsd:string"/>
            <xsd:element name="cliente" type="xsd:string"/>
            <xsd:element name="moneda" type="xsd:string"/>
            <xsd:element name="pais" type="xsd:string"/>
            <xsd:element name="sector" type="xsd:string"/>
            <xsd:element name="periodicidad" type="xsd:string"/>
            <xsd:element name="tipoSaldo" type="xsd:string"/>
            <xsd:element name="fondos" type="xsd:string"/>
            <xsd:element name="operacion" type="xsd:string"/>
            <xsd:element name="usuarioCreador" type="xsd:string"/>
            <xsd:element name="idAviso" type="xsd:int"/>
            <xsd:element name="mensajeError" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DetalleLoteType">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:long"/>
            <xsd:element name="idLote" type="xsd:long"/>
            <xsd:element name="idCliente" type="cliBO:idCliente" minOccurs="0"/>
            <xsd:element name="responsableCliente" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Estado" type="xsd:string"/>
            <xsd:element name="Mensaje_Error" type="catBO:Catalogo"/>
            <xsd:element name="fechaRegistro" type="xsd:date" minOccurs="0"/>
            <xsd:element name="Estatus" type="xsd:long" minOccurs="0"/>
            <xsd:element name="tipoLote" type="xsd:string" minOccurs="0"/>
            <xsd:element name="esDetallado" type="xsd:long" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ParametrosAvisoCobroType">
        <xsd:sequence>
            <xsd:element name="cliente" type="cliBO:ClienteBasicType"/>
            <xsd:element name="periodicidad">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="TODOS"/>
                        <xsd:enumeration value="MENSUAL"/>
                        <xsd:enumeration value="NO_MENSUAL"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="fechaInicial" type="xsd:date"/>
            <xsd:element name="fechaFinal" type="xsd:date"/>
            <xsd:element name="tipoGeneracion">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="CARATULA"/>
                        <xsd:enumeration value="DETALLE"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="lineaCredito" type="linCreBO:LineaCreditoBasicType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="tipoSaldos">
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:enumeration value="TODOS"/>
                        <xsd:enumeration value="VENCIDOS"/>
                        <xsd:enumeration value="NO_VENCIDOS"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element name="fondo" type="catBO:Catalogo" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="operacion" type="operBO:OperacionBasicType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="loginUsuario" type="xsd:string"/>
            <xsd:element name="segregarOperacion" type="xsd:boolean" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="reciboType">
        <xsd:sequence>
            <xsd:element name="Recibo" type="xsd:string"/>
            <xsd:element name="FechaEjecucion" type="xsd:date"/>
            <xsd:element name="FechaEfectiva" type="xsd:date"/>
            <xsd:element name="parameter" type="comBO:parameterType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Cliente" type="cliBO:ClienteBasicType"/>
            <xsd:element name="Desembolsos" type="desBO:ContratoDesembolso" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GestionCobroV2">
        <xsd:sequence>
            <xsd:element name="aviso" type="AvisoV2" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AvisoV2">
        <xsd:sequence>
            <xsd:element name="codigoCliente" type="xsd:string"/>
            <xsd:element name="nombreCompleto" type="xsd:string"/>
            <xsd:element name="pais" type="xsd:string"/>
            <xsd:element name="xml" type="PUBLIC.XMLTYPE"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PUBLIC.XMLTYPE">
        <xsd:sequence>
            <xsd:any processContents="skip"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
<!-- edited with XMLSpy v2015 sp1 (x64) (http://www.altova.com) by Cesar Varela (Television Internacional) -->
