BCIE_fenix/features/MCP/6389/ADF-BPM/bpm/PA05CancelarOperacion/PA05CancelarOperacionProcessUITest/SOA/Schemas/Comun/Proceso/V1/ProcesoOPN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Proceso/V1" 
        xmlns:xs="http://www.w3.org/2001/XMLSchema" 
        xmlns:tarea="http://xmlns.bcie.org/ObjetoProceso/Comun/Proceso/V1" 
        elementFormDefault="qualified" 
        attributeFormDefault="unqualified" 
        version="1.0">
	<xs:complexType name="Proceso">
		<xs:annotation>
			<xs:documentation>Entidad que contiene la información basica de un proceso BPM.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="InstanciaProceso" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InstanciaTarea" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
        <xs:complexType name="ProcesoRequest">
          <xs:annotation>
            <xs:documentation></xs:documentation>
          </xs:annotation>
          <xs:sequence>

          </xs:sequence>
        </xs:complexType>
</xs:schema>
