Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFAcctLoan/AcctLoanCalcAdd/AcctLoanCalcAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanCalcAdd_V1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:appoptAcctLoanCalcAdd="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanCalcAdd_V1.0"
           xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
           xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" elementFormDefault="qualified">
  <xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
             schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
  <xs:complexType name="AcctLoanCalcAddRq_Type">
    <xs:sequence>
      <xs:element name="AcctLoan" type="appoptAcctLoanCalcAdd:Acct" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctLoanCalcAddRs_Type">
    <xs:sequence>
      <xs:element name="AcctLoan" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SimRef" type="xs:string" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>Referencia simualción</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditRegularPmt">
    <xs:sequence>
      <xs:element name="PmtTargetDetail" type="appoptAcctLoanCalcAdd:PmtTargetDetail" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CreditAcctPmtInfo" type="appoptAcctLoanCalcAdd:CreditAcctPmtInfo" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PmtTargetDetail">
    <xs:sequence>
      <xs:element name="StartDate" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctOpeningInfo">
    <xs:sequence>
      <xs:element name="InitialAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Initial Amount.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SaleOfficer" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Canal de venta</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctMember">
    <xs:sequence>
      <xs:element name="PartyKey" type="appoptAcctLoanCalcAdd:PartyKey" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyKey">
    <xs:annotation>
      <xs:documentation>Customer ID´s</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código del cliente asignado T24</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Acct">
    <xs:sequence>
      <xs:element name="AcctSubtype" type="appoptcommon:CommonType" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Producto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurCode" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Moneda - Currency</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreditAcctData" type="appoptAcctLoanCalcAdd:CreditAcctData" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IntRateData" type="appoptAcctLoanCalcAdd:IntRateData" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AcctMember" type="appoptAcctLoanCalcAdd:AcctMember" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AcctOpeningInfo" type="appoptAcctLoanCalcAdd:AcctOpeningInfo" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcctLoanCalcAddRq" type="appoptAcctLoanCalcAdd:AcctLoanCalcAddRq_Type"/>
  <xs:element name="AcctLoanCalcAddRs" type="appoptAcctLoanCalcAdd:AcctLoanCalcAddRs_Type"/>
  <xs:complexType name="IntRateData">
    <xs:sequence>
      <xs:element name="IntRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tasa de Interés - Fixed Rate</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntRateType" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditAcctData">
    <xs:sequence>
      <xs:element name="CollOfficer" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Oficial de Recuperación (Cobros)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Term" type="appoptAcctLoanCalcAdd:Term" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CreditRegularPmt" type="appoptAcctLoanCalcAdd:CreditRegularPmt" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Term">
    <xs:sequence>
      <xs:element name="ProposedTerm" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Plazo - Término

Commitment Term</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditAcctPmtInfo">
    <xs:sequence>
      <xs:element name="FirstPmtDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fecha de primer pago  (primera cuota)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
