BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/Adquisicion/CrearActualizarNoObjecion/XSD/CrearActualizarNoObjecion_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearActualizarNoObjecion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearActualizarNoObjecion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="NoObjecionCollection" type="NoObjecionCollection"/>
   <xs:complexType name="NoObjecionCollection">
      <xs:sequence>
         <xs:element name="NoObjecion" type="NoObjecion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="NoObjecion">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idAdquisicion" type="xs:long" minOccurs="0"/>
         <xs:element name="idTcaTipoNoObjecion" type="xs:int" minOccurs="0"/>
         <xs:element name="fechaPublicacion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="fechaInicioDispDoctoBase" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="fechaFinDispDoctoBase" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="fechaRecepcionPropuesta" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lugarObtenerDoctoBase" type="string4000" minOccurs="0" nillable="true"/>
         <xs:element name="correoInformacionAdicional" type="string256" minOccurs="0" nillable="true"/>
         <xs:element name="dirPresentacionPropuesta" type="string4000" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaResultadoProceso" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="seHaRevisadoPublicacion" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="numeroCorrespondencia" type="string256" minOccurs="0" nillable="true"/>
         <xs:element name="seOtorgoNoObjecion" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="fechaFirmaDocto" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="enProcesoBpm" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="publicada" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string4000">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string256">
      <xs:restriction base="xs:string">
         <xs:maxLength value="256"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>