BCIE_fenix/preprod/SOA/03-SOA-SERVICES/Utilidades/EjecutarServiciosAutomaticos/SOA/WSDLs/EjecutarServiciosAutomaticos.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="EjecutarServiciosAutomaticos"
     targetNamespace="http://oracle.com/sca/soapservice/Utilidades/EjecutarServiciosAutomaticos/EjecutarServiciosAutomaticos"
     xmlns:tns="http://oracle.com/sca/soapservice/Utilidades/EjecutarServiciosAutomaticos/EjecutarServiciosAutomaticos"
     xmlns:inp1="http://www.example.org"
     xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <plnk:partnerLinkType name="EjecutarServiciosAutomaticos">
        <plnk:role name="EjecutarServiciosAutomaticosProvider" portType="tns:EjecutarServiciosAut_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.example.org" schemaLocation="../Schemas/EjecutarServiciosAutomaticos.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="inMsj" element="inp1:EjecucionAutomaticaRequest"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="outMsj" element="inp1:EjecucionAutomaticaResponse"/>
    </wsdl:message>
    <wsdl:portType name="EjecutarServiciosAut_ptt">
        <wsdl:operation name="EjecutarServiciosAut">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="EjecutarAvisoPrivado">
             <wsdl:input message="tns:requestMessage"/>
              <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="EjecutarSeguimientoCobro">
             <wsdl:input message="tns:requestMessage"/>
              <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="EjecutarGestionCobroLote">
             <wsdl:input message="tns:requestMessage"/>
              <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>
