BCIE_fenix/dev/ADF-BPM/bpm/PC06Desembolso/PC06DesembolsoProcess/SOA/businessCatalog/DesembolsoTypes/ResponsableOperacionBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3.0.0.00.00" build="02.10" fullName="DesembolsoTypes.ResponsableOperacionBO" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/DesembolsoTypes/ResponsableOperacionBO" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/DesembolsoTypes/ResponsableOperacionBO"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ResponsableOperacionBOType">
        <xs:sequence>
            <xs:element name="encargadoOperacion" nillable="true" type="xs:string"/>
            <xs:element name="mangerResponsable" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ResponsableOperacionBO" type="ResponsableOperacionBOType"/>
</xs:schema>
