Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/BizLayer/Common/UtilitySvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/BizLayer/UtilitySvc_V1.0" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://xmlns.banesco.com/BizLayer/UtilitySvc_V1.0"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptAlertAdv="http://xmlns.banesco.com/eopt/AlertAdv_V1.0"
             xmlns:eoptOnlineBankTrnAdv="http://xmlns.banesco.com/eopt/OnlineBankTrnAdv_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Utility/AlertAdv/AlertAdv_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AlertAdv_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Utility/OnlineBankTrnAdv/OnlineBankTrnAdv_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/OnlineBankTrnAdv_V1.0"/>
    </xsd:schema>
  </types> 
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="AlertAdvRq">
    <part name="AlertAdvRq" element="eoptAlertAdv:AlertAdvRq"/>
  </message>
  <message name="AlertAdvRs">
    <part name="AlertAdvRs" element="eoptAlertAdv:AlertAdvRs"/>
  </message>
   <message name="OnlineBankTrnAdvRq">
    <part name="OnlineBankTrnAdvRq" element="eoptOnlineBankTrnAdv:OnlineBankTrnAdvRq"/>
  </message>
  <message name="OnlineBankTrnAdvRs">
    <part name="OnlineBankTrnAdvRs" element="eoptOnlineBankTrnAdv:OnlineBankTrnAdvRs"/>
  </message>
  <portType name="UtilitySvc_V1.0PortType">
    <operation name="AlertAdv">
      <input message="tns:AlertAdvRq"/>
      <output message="tns:AlertAdvRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
     <operation name="OnlineBankTrnAdv">
      <input message="tns:OnlineBankTrnAdvRq"/>
      <output message="tns:OnlineBankTrnAdvRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
  </portType>
  <binding name="UtilitySvc_V1.0SOAPBinding" type="tns:UtilitySvc_V1.0PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AlertAdv">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/UtilitySvc_V1.0/AlertAdv"/>
      <input>
        <soap:body use="literal" parts="AlertAdvRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AlertAdvRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
     <operation name="OnlineBankTrnAdv">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/UtilitySvc_V1.0/OnlineBankTrnAdv"/>
      <input>
        <soap:body use="literal" parts="OnlineBankTrnAdvRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="OnlineBankTrnAdvRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="UtilitySvc_V1.0">
    <port name="UtilitySvcPort" binding="tns:UtilitySvc_V1.0SOAPBinding">
      <soap:address location="http://www.example.com"/>
    </port>
  </service>
</definitions>