BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDesembolso/CrearActualizarReglasDesembolso/XSD/CrearActualizarReglasDesembolso_DB_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CrearActualizarReglasDesembolso_DB" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CrearActualizarReglasDesembolso_DB" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_LISTA_REGLA_DESEMBOLSO" type="db:FENIX.T_LISTA_REGLAS_DESEMBOLSO" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_LISTA_REGLA_DESEMBOLSO_OUT" type="db:FENIX.T_LISTA_REGLAS_DESEMBOLSO" db:index="2" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO_RES" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_MENSAJE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="FENIX.T_LISTA_REGLAS_DESEMBOLSO">
      <sequence>
         <element name="P_LISTA_REGLA_DESEMBOLSO_ITEM" type="db:FENIX.T_REGLA_DESEMBOLSO" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="FENIX.T_REGLA_DESEMBOLSO">
      <sequence>
         <element name="ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ID_DESEMBOLSO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ID_TCA_REGLA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="EXCEPTUADO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="USUARIO_EXCEPTUA" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_EXCEPCION" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
</schema>
