BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ConsultarClasificacionAmbiental/XSD/ConsultarClasificacionAmbiental_BS.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarClasificacionAmbiental_BS" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarClasificacionAmbiental_BS" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarClasificacionAmbiental_BSInput" type="ConsultarClasificacionAmbiental_BSInput"/>
   <xs:complexType name="ConsultarClasificacionAmbiental_BSInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarClasificacionAmbiental_BSOutputCollection" type="ConsultarClasificacionAmbiental_BSOutputCollection"/>
   <xs:complexType name="ConsultarClasificacionAmbiental_BSOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarClasificacionAmbiental_BSOutput" type="ConsultarClasificacionAmbiental_BSOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarClasificacionAmbiental_BSOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_SA" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_SA" type="xs:string" nillable="true"/>
         <xs:element name="ID_AA" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_AA" type="xs:string" nillable="true"/>
         <xs:element name="ID_CA" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_CA" type="xs:string" nillable="true"/>
         <xs:element name="ID_SCA" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_SCA" type="xs:string" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>