BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ConsultarUsuarioTareas/XSD/ConsultarUsuarioTareasDB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarUsuarioTareasDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarUsuarioTareasDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarUsuarioTareasDBInput" type="ConsultarUsuarioTareasDBInput"/>
   <xs:complexType name="ConsultarUsuarioTareasDBInput">
      <xs:sequence>
         <xs:element name="idProceso" type="xs:int" nillable="true"/>
         <xs:element name="idCliente" type="xs:int" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarUsuarioTareasDBOutputCollection" type="ConsultarUsuarioTareasDBOutputCollection"/>
   <xs:complexType name="ConsultarUsuarioTareasDBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarUsuarioTareasDBOutput" type="ConsultarUsuarioTareasDBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarUsuarioTareasDBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="NOMBRE_USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TAREA" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>