Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/CardCr/CardCrStatusMod/CardCrStatusMod_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/CardCrStatusMod_V1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:eoptCardCrStatusMod="http://xmlns.banesco.com/eopt/CardCrStatusMod_V1.0"
           xmlns:eoCard="http://xmlns.banesco.com/eo/Card_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0"
           xmlns:eoBanking="http://xmlns.banesco.com/eo/Banking_V1.0"
           xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
  <xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/eo/Card_V1.0" schemaLocation="../../../EO/Card/Card_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/eo/Banking_V1.0" schemaLocation="../../../EO/Banking/Banking_V1.0.xsd"/>
  <xs:element name="CardCrStatusModRq" type="eoptCardCrStatusMod:CardCrStatusModRq_Type"/>
  <xs:element name="CardCrStatusModRs" type="eoptCardCrStatusMod:CardCrStatusModRs_Type"/>
  <xs:element name="FIData" type="eoBanking:FIData"/>
  <xs:complexType name="CardCrStatusModRs_Type">
    <xs:sequence>
      <xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="eoptCardCrStatusMod:FIData"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardCrStatusModRq_Type">
    <xs:sequence>
      <xs:element name="CardKey" type="eoCard:CardKey" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto CardKey que contiene la información de identificación de la tarjeta a consultar.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto PartyKey que contiene los datos de identificación del cliente.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CardStatus" type="eoCard:CardStatus" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto CardStatus que contiene la información del estatus a asignar a la tarjeta.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="eoptCardCrStatusMod:FIData"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
