BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/DeclaracionJurada/V1/Wsdl/DeclaracionJurada.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="Operacion" targetNamespace="http://xmlns.bcie.com/DeclaracionJuradaService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:djMO="http://www.bcie.org/DeclaracionJuradaMO"
                  xmlns:tns="http://xmlns.bcie.com/DeclaracionJuradaService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/DeclaracionJuradaMO"
                  schemaLocation="../Schema/DeclaracionJuradaMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <!-- Create -->
  <wsdl:message name="requestCrearDeclaracionJuradaMessage">
    <wsdl:part name="request" element="djMO:CrearDeclaracionJuradaRequest"/>
  </wsdl:message>
  <wsdl:message name="responseCrearDeclaracionJuradaMessage">
    <wsdl:part name="response" element="djMO:CrearDeclaracionJuradaResponse"/>
  </wsdl:message>
  <!-- Update -->
  <wsdl:message name="requestActualizarDeclaracionJuradaMessage">
    <wsdl:part name="request" element="djMO:ActualizarDeclaracionJuradaRequest"/>
  </wsdl:message>
  <wsdl:message name="responseActualizarDeclaracionJuradaMessage">
    <wsdl:part name="response" element="djMO:ActualizarDeclaracionJuradaResponse"/>
  </wsdl:message>
  <!-- Read -->
  <wsdl:message name="requestConsultarDeclaracionJuradaByIdOperacionMessage">
    <wsdl:part name="request" element="djMO:ConsultarDeclaracionJuradaRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarDeclaracionJuradaByIdOperacionMessage">
    <wsdl:part name="response" element="djMO:ConsultarDeclaracionJuradaResponse"/>
  </wsdl:message>
  
   <wsdl:message name="requestConsultarDeclaracionJuradaByIdDeclaracionMessage">
    <wsdl:part name="request" element="djMO:ConsultarDeclaracionJuradaByIdDeclaracionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarDeclaracionJuradaByIdDeclaracionMessage">
    <wsdl:part name="response" element="djMO:ConsultarDeclaracionJuradaByIdDeclaracionResponse"/>
  </wsdl:message>
  
  
  <wsdl:portType name="DeclaracionJuradaPT">
    <!-- Create -->
    <wsdl:operation name="crearDeclaracionJurada">
      <wsdl:documentation>Crear una Declaración Jurada</wsdl:documentation>
      <wsdl:input message="tns:requestCrearDeclaracionJuradaMessage"/>
      <wsdl:output message="tns:responseCrearDeclaracionJuradaMessage"/>
    </wsdl:operation>
    <!-- Update -->
    <wsdl:operation name="actualizarDeclaracionJurada">
      <wsdl:documentation>Actualizar una Declaración Jurada</wsdl:documentation>
      <wsdl:input message="tns:requestActualizarDeclaracionJuradaMessage"/>
      <wsdl:output message="tns:responseActualizarDeclaracionJuradaMessage"/>
    </wsdl:operation>
    <!-- Read -->
    <wsdl:operation name="consultarDeclaracionJurada">
      <wsdl:documentation>Consulta la Declaración por el Id de la Operación</wsdl:documentation>
      <wsdl:input message="tns:requestConsultarDeclaracionJuradaByIdOperacionMessage"/>
      <wsdl:output message="tns:responseConsultarDeclaracionJuradaByIdOperacionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarDeclaracionJuradaByIdDeclaracion">
      <wsdl:documentation>Consulta la Declaración por el Id de la Declaracion</wsdl:documentation>
      <wsdl:input message="tns:requestConsultarDeclaracionJuradaByIdDeclaracionMessage"/>
      <wsdl:output message="tns:responseConsultarDeclaracionJuradaByIdDeclaracionMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DeclaracionJurada12Bnd" type="tns:DeclaracionJuradaPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearDeclaracionJurada">
      <soap12:operation style="document"
                        soapAction="http://xmlns.bcie.com/DeclaracionJuradaService/crearDeclaracionJurada"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarDeclaracionJurada">
      <soap12:operation style="document"
                        soapAction="http://xmlns.bcie.com/DeclaracionJuradaService/actualizarDeclaracionJurada"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarDeclaracionJurada">
      <soap12:operation style="document"
                        soapAction="http://xmlns.bcie.com/DeclaracionJuradaService/consultarDeclaracionJurada"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="consultarDeclaracionJuradaByIdDeclaracion">
      <soap12:operation style="document"
                        soapAction="http://xmlns.bcie.com/DeclaracionJuradaService/consultarDeclaracionJuradaByIdDeclaracion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DeclaracionJurada">
    <wsdl:port name="DeclaracionJurada12Bnd" binding="tns:DeclaracionJurada12Bnd">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>






