MIRA/SOA_PRD_Almacenes/UpdateItemProcess/SOA/Schemas/Commons/TenderCommonSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/Commons/Tender/v1" xmlns:base="http://mx.agarcia.ea/Commons/Tender/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:simpleType name="TenderLoanTypes">
      <xs:union memberTypes="base:TenderLoanTypesEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="TenderLoanTypesEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Normal"/>
         <xs:enumeration value="OpenFLoat"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TenderPickupTypes">
      <xs:union memberTypes="base:TenderPickupTypesEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="TenderPickupTypesEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Normal"/>
         <xs:enumeration value="CloseFLoat"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="TenderLedgerTypeCode">
      <xs:union memberTypes="base:TenderLedgerTypeCodeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="TenderLedgerTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Actual"/>
         <xs:enumeration value="Estimated"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
