BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Condicion/MergeAgrupador/XSD/MergeAgrupador.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/MergeAgrupador" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/MergeAgrupador" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="MergeAgrupadorInput" type="MergeAgrupadorInput"/>
   <xs:complexType name="MergeAgrupadorInput">
      <xs:sequence>
         <xs:element name="agrupador" type="xs:int" nillable="true"/>
         <xs:element name="instancia" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>