AG_2019/OSB/OSB_PRD_Almacenes/RMSCostChangeMasterListener/Resources/RMSCostChangeMasterLintener_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/RMSCostChangeMasterLintener" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/RMSCostChangeMasterLintener" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="CostSuspSupHeadCollection" type="CostSuspSupHeadCollection"/>
   <xs:complexType name="CostSuspSupHeadCollection">
      <xs:sequence>
         <xs:element name="CostSuspSupHead" type="CostSuspSupHead" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CostSuspSupHead">
      <xs:sequence>
         <xs:element name="costChange" type="xs:int"/>
         <xs:element name="costChangeDesc" type="string120" minOccurs="0"/>
         <xs:element name="reason" type="xs:int" minOccurs="0"/>
         <xs:element name="activeDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="status" type="string1" minOccurs="0"/>
         <xs:element name="costChangeOrigin" type="string3" minOccurs="0"/>
         <xs:element name="createDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="createId" type="string30" minOccurs="0"/>
         <xs:element name="approvalDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="approvalId" type="string30" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string3">
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>