AG_2019/SOA/ItemCatalogTranslate/SOA/WSDLs/ItemCatalogEntitySvcWSDL.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="ItemCatalogEntitySvcWSDL" targetNamespace="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvcWSDL" xmlns:tns="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvcWSDL" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvc" xmlns:fcon="http://mx.agarcia.ea/Capabilities/Support/ItemCatalogEntitySvc/Schema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvc" schemaLocation="../Schemas/ItemCatalogEntitySvcSchema.xsd"/>
         <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Support/ItemCatalogEntitySvc/Schema" schemaLocation="../Schemas/findConceptSchem.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="requestMessage">
      <wsdl:part name="request" element="inp1:translateRequest"/>
   </wsdl:message>
   <wsdl:message name="replyMessage">
      <wsdl:part name="response" element="inp1:translateResponse"/>
   </wsdl:message>
   <wsdl:portType name="ItemCatalogEntitySvcPType">
      <wsdl:operation name="translate">
         <wsdl:input message="tns:requestMessage"/>
         <wsdl:output message="tns:replyMessage"/>
      </wsdl:operation>
      <wsdl:operation name="findConcept">
         <wsdl:input message="tns:findConceptRequest"/>
         <wsdl:output message="tns:findConceptResponse"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:message name="findConceptRequest">
      <wsdl:part name="findConceptRequest" element="fcon:findConceptRequest"/>
   </wsdl:message>
   <wsdl:message name="findConceptResponse">
      <wsdl:part name="findConceptResponse" element="fcon:findConceptResponse"/>
   </wsdl:message>
   <wsdl:binding name="ItemCatalogEntitySvcBinding" type="tns:ItemCatalogEntitySvcPType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="translate">
         <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvcWSDL/translate"/>
         <wsdl:input>
            <soap:body use="literal" parts="request"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="response"/>
         </wsdl:output>
      </wsdl:operation>
      <wsdl:operation name="findConcept">
         <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvcWSDL/findConcept"/>
         <wsdl:input>
            <soap:body use="literal" parts="findConceptRequest"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="findConceptResponse"/>
         </wsdl:output>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
