Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Check/ChkImageInq/ChkImageInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/ChkImageInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptChkImageInq="http://xmlns.banesco.com/eopt/ChkImageInq_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoChk="http://xmlns.banesco.com/eo/Chk_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Chk_V1.0" schemaLocation="../../../EO/Acct/Chk_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:element name="ChkImageInqRq" type="eoptChkImageInq:ChkImageInqRq_Type"/>
	<xs:element name="ChkImageInqRs" type="eoptChkImageInq:ChkImageInqRs_Type"/>
	<xs:complexType name="ChkImageInqRq_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ChkKey" type="eoChk:ChkKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkImageInqRs_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Chk" type="eoChk:Chk" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ChkKey" type="eoChk:ChkKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DocumentKey" type="eoptChkImageInq:DocumentKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentKey">
		<xs:sequence>
			<xs:element name="DocId" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
