BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/BitacoraProceso/V1/Schema/BitacoraProcesoMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/CrearBitacoraProcesoMO" elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:regBitMO="http://www.bcie.org/CrearBitacoraProcesoMO"
            xmlns:regBitBO="http://www.bcie.org/CrearBitacoraProcesoBO" xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import schemaLocation="BitacoraProcesoBO.xsd" namespace="http://www.bcie.org/CrearBitacoraProcesoBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="requestCrearBitacoraProcesoMessage" type="regBitMO:CrearBitacoraProcesoRequest"/>
  <xsd:element name="responseCrearBitacoraProcesoMessage" type="regBitMO:CrearBitacoraProcesoResponse"/>
  <xsd:element name="consultarBitacoraProcesoRequest" type="regBitMO:ConsultarBitacoraProcesoRequestType"/>
  <xsd:element name="consultarBitacoraProcesoResponse" type="regBitMO:ConsultarBitacoraProcesoResponseType"/>
  <xsd:element name="consultarBitacoraProcesoSCRRequest" type="regBitMO:ConsultarBitacoraProcesoSCRRequestType"/>
  <xsd:element name="consultarBitacoraProcesoSCRResponse" type="regBitMO:ConsultarBitacoraProcesoSCRResponseType"/>
  <xsd:element name="ConsultarBitacoraProcesoClienteRequest"
               type="regBitMO:ConsultarBitacoraProcesoClienteRequestType"/>
  <xsd:element name="ConsultarBitacoraProcesoClienteResponse"
               type="regBitMO:ConsultarBitacoraProcesoClienteResponseType"/>
  <xsd:element name="ConsultarBitacoraProcesoOperacionRequest"
               type="regBitMO:ConsultarBitacoraProcesoOperacionRequestType"/>
  <xsd:element name="ConsultarBitacoraProcesoOperacionResponse"
               type="regBitMO:ConsultarBitacoraProcesoOperacionResponseType"/>
  <xsd:complexType name="CrearBitacoraProcesoRequest">
    <xsd:annotation>
      <xsd:documentation>Mensaje registrar la bitácora de procesos y de tareas</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BitacoraInput" type="regBitBO:Bitacora"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearBitacoraProcesoResponse">
    <xsd:annotation>
      <xsd:documentation>Mensaje de salida para el registro de la bitacora</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Result" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarBitacoraProcesoRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="xsd:long"/>
      <xsd:element name="idProceso" type="xsd:long"/>
      <xsd:element name="idTipo" type="xsd:string"/>
      <xsd:element name="Tipo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarBitacoraProcesoResponseType">
    <xsd:sequence>
      <xsd:element name="Bitacora" type="regBitBO:Bitacora" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarBitacoraProcesoSCRRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarBitacoraProcesoSCRResponseType">
    <xsd:sequence>
      <xsd:element name="Bitacora" type="regBitBO:Bitacora" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarBitacoraProcesoClienteRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:long"/>
      <xsd:element name="idProceso" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarBitacoraProcesoClienteResponseType">
    <xsd:sequence>
      <xsd:element name="Bitacora" type="regBitBO:Bitacora" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarBitacoraProcesoOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="xsd:long"/>
      <xsd:element name="idProceso" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarBitacoraProcesoOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="Bitacora" type="regBitBO:Bitacora" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>