AG_2019/OSB/AlmacenesGarcia_DEV/Capabilities/Core/Supplier/SupplierEntitySvc/Schema/SupplierEntitySchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" xmlns:supp="http://mx.agarcia.ea/Canonical/Commons/Suppliers/v1" xmlns:mess="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage">
  <xs:import schemaLocation="../../../../Foundation/Schemas/Commons/SupplierCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Suppliers/v1"/>
  <xs:import schemaLocation="../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
             
             
  <xs:element name="createSupplierRequest" type="base:Create"/>
  <xs:element name="createSupplierResponse" type="mess:MessageResponse"/>
  <xs:complexType name="Create">
    <xs:sequence>
      <xs:element name="suppliers" type="supp:SupplierList"/>
    </xs:sequence>
  </xs:complexType>
  
  
  <xs:element name="modifyRequest" type="base:Modify"/>
  <xs:element name="modifyResponse" type="mess:MessageResponse"/>
  
  
  <xs:complexType name="Modify">
    <xs:sequence>
      <xs:element name="suppliers" type="supp:SupplierList"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findByIdRequest" type="base:FindById"/>
  <xs:element name="findByIdResponse" type="base:FindById"/>
  <xs:complexType name="FindById">
    <xs:sequence>
      <xs:element name="suppliers" type="supp:SupplierCommonBase"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="findByFilterRequest" type="base:FindByFilter"/>
  <xs:element name="findByFilterResponse" type="base:FindByFilter"/>
  <xs:complexType name="FindByFilter">
    <xs:sequence>
      <xs:element name="findByFilterSupp" type="supp:SupplierCommonBase"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="inactiveSupplierRequest" type="base:Inactive"/>
  <xs:element name="inactiveSupplierResponse" type="mess:MessageResponse"/>
  <xs:complexType name="Inactive">
    <xs:sequence>
      <xs:element name="inactiveSupplier" type="supp:SupplierCommonBase"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="activeSupplierRequest" type="base:Active"/>
  <xs:element name="activeSupplierResponse" type="mess:MessageResponse"/>
  <xs:complexType name="Active">
    <xs:sequence>
      <xs:element name="inactiveSupplier" type="supp:SupplierCommonBase"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="translateRequest" type="base:translateIn"/>
  <xs:element name="translateResponse" type="base:translateOut"/>
  <xs:complexType name="translateIn">
    <xs:sequence>
      <xs:element name="pId" type="xs:integer"/>
      <xs:element name="pAppCode" type="xs:string"/>
      <xs:element name="pPrimaryAppCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="translateOut">
    <xs:sequence>
      <xs:element name="suppliersList" type="supp:SupplierList"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>