AG_2019/SOA/CreateBuyerProcess/SOA/WSDLs/CreateBuyerProcess.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Buyer/CreateBuyerProcess/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:supp="http://mx.agarcia.ea/Capabilities/Core/Buyer/CreateBuyerProcess/v1.0" xmlns:ns1="http://mx.agarcia.ea/Capabilities/Foundation/Party/BuyerEntitySvc" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/BuyerEntitySvc" schemaLocation="../Schemas/BuyerEntitySchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../Schemas/Commons/AGStandardMessageSchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../Schemas/Commons/AGStandardHeaderSchema.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="createBuyerRequest">
      <wsdl:part name="createBuyerRequest" element="ns1:createBuyerRequest"/>
   </wsdl:message>
   <wsdl:message name="createBuyerResponse">
      <wsdl:part name="createBuyerResponse" element="ns1:createBuyerResponse"/>
   </wsdl:message>
   <wsdl:message name="standardMessageFault">
      <wsdl:part name="fault" element="AGSM:messageError"/>
   </wsdl:message>
   <wsdl:message name="standardMessageHeader">
      <wsdl:part name="header" element="AGSH:headerMessage"/>
   </wsdl:message>
   <wsdl:portType name="CreateBuyerPType">
      <wsdl:operation name="createSupplier">
         <wsdl:input message="supp:createBuyerRequest"/>
         <wsdl:output message="supp:createBuyerResponse"/>
         <wsdl:fault message="supp:standardMessageFault" name="fault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CreateBuyerBinding" type="supp:CreateBuyerPType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="createSupplier">
         <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Buyer/CreateBuyerProcess/v1.0/createBuyer"/>
         <wsdl:input>
            <soap:body use="literal" parts="createBuyerRequest"/>
            <soap:header message="supp:standardMessageHeader" part="header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="createBuyerResponse"/>
         </wsdl:output>
         <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
