Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Party/OrgPartyMod/OrgPartyMod_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/OrgPartyMod_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptOrgPartyMod="http://xmlns.banesco.com/eopt/OrgPartyMod_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:element name="OrgPartyModRq" type="eoptOrgPartyMod:OrgPartyModRq_Type"/>
	<xs:element name="OrgPartyModRq_Type" type="eoptOrgPartyMod:OrgPartyModRq_Type"/>
	<xs:complexType name="OrgPartyModRq_Type">
		<xs:sequence>
			<xs:element name="Party" type="eoPar:Party" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Party que contiene la información del cliente a consultar.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrgPartyModRs" type="eoptOrgPartyMod:OrgPartyModRs_Type"/>
	<xs:element name="OrgPartyModRs_Type" type="eoptOrgPartyMod:OrgPartyModRs_Type"/>
	<xs:complexType name="OrgPartyModRs_Type">
		<xs:sequence>
			<xs:element name="Party" type="eoPar:Party" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Party que contiene la información del cliente creado.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
