BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Termino/CrearTermino/XSD/CrearTerminoDB_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearTerminoDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearTerminoDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="TerminoCollection" type="TerminoCollection"/>
   <xs:complexType name="TerminoCollection">
      <xs:sequence>
         <xs:element name="Termino" type="Termino" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Termino">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idOperacion" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="nombre" type="string64" minOccurs="0" nillable="true"/>
         <xs:element name="descripcion" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaTermino" type="xs:int" minOccurs="0"/>
         <xs:element name="idTcaTipoFechaInicio" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="fechaInicio" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="plazo" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaFrecuenciaPlazo" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="fechaVencimiento" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaMoneda" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="monto" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="tasa" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaTipoTasa" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="fecha" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="frecuenciaRevision" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaFrecuenciaRevision" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="fechaInicioRevision" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="frecuenciaPagoInteres" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaFrecuenciaPagoInteres" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="fechaInicioPagoInteres" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="frecuenciaAmortizacion" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaFrecuenciaAmortizacion" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="mora" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="porcentajeCobertura" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="seAplicanRecursosConcesion" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="seAplicanRecursosExternos" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="tipoContraparte" type="string64" minOccurs="0" nillable="true"/>
         <xs:element name="montoMinimoDesembolso" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="montoMaximoDesembolso" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="tasaMinimaDesembolso" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="tasaMaximaDesembolso" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaEstadoTcc" type="xs:int" minOccurs="0"/>
         <xs:element name="idTcaSubEstadoTcc" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
         <xs:element name="fechaEnmienda" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="idTerminoEnmendado" type="Termino" minOccurs="0" nillable="true"/>
         <xs:element name="porcentajeModificacion" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaTipoAvance" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaTipoPorcentaje" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="porcentaje" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="porcentajeInicial" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="porcentajeFinal" type="xs:decimal" minOccurs="0" nillable="true"/>
         
         <xs:element name="loginUsuario" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="loginUsuarioUltimoCambio" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="nombreUsuario" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="nombreUsuarioUltimoCambio" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="fechaUltimoCambio" type="xs:dateTime" minOccurs="0" nillable="true"/>
  
         <xs:element name="terminoCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Termino" type="Termino" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string64">
      <xs:restriction base="xs:string">
         <xs:maxLength value="64"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string255">
      <xs:restriction base="xs:string">
         <xs:maxLength value="255"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>