BCIE_fenix/features/MCP/6389/ADF-BPM/bpm/PC04Aprobacion/PC04AprobacionProcess/SOA/WSDLs/AprobacionDILotusProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionDILotusProcess" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionDILotusProcess"  xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Aprobacion/Payload/V1"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionDILotusProcess">
            <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Aprobacion/Payload/V1" schemaLocation="oramds:/apps/Resources/BPM/Schema/PC04/AprobacionPayload.xsd"/>
            <xsd:element name="InicioAprobacionDI">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:AprobacionPayload"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="FinAprobacionDIResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:AprobacionPayload"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="InicioAprobacionDI">
        <wsdl:part name="parameters" element="tns:InicioAprobacionDI"/>
    </wsdl:message>
    <wsdl:message name="FinAprobacionDIResponse">
        <wsdl:part name="parameters" element="tns:FinAprobacionDIResponse"/>
    </wsdl:message>
    <wsdl:portType name="AprobacionDILotusProcessPortTypeCallBack">
        <wsdl:operation name="FinAprobacionDI">
            <wsdl:input message="tns:FinAprobacionDIResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="AprobacionDILotusProcessPortType">
        <wsdl:operation name="InicioAprobacionDI">
            <wsdl:input message="tns:InicioAprobacionDI"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="AprobacionDILotusProcessPortTypePartnerLinkType">
        <plnk:role name="AprobacionDILotusProcessPortTypeProvider">
            <plnk:portType name="tns:AprobacionDILotusProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
