BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioCliente/ConsultarSeguimientoCrediticioByIdCliente/XSD/ConsultarSeguimientoCrediticioByIdClienteDB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarSeguimientoCrediticioByIdClienteDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarSeguimientoCrediticioByIdClienteDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarSeguimientoCrediticioByIdClienteDBInput" type="ConsultarSeguimientoCrediticioByIdClienteDBInput"/>
   <xs:complexType name="ConsultarSeguimientoCrediticioByIdClienteDBInput">
      <xs:sequence>
         <xs:element name="idCliente" type="xs:int" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarSeguimientoCrediticioByIdClienteDBOutputCollection" type="ConsultarSeguimientoCrediticioByIdClienteDBOutputCollection"/>
   <xs:complexType name="ConsultarSeguimientoCrediticioByIdClienteDBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarSeguimientoCrediticioByIdClienteDBOutput" type="ConsultarSeguimientoCrediticioByIdClienteDBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarSeguimientoCrediticioByIdClienteDBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_CLIENTE" type="xs:decimal" nillable="true"/>
         <xs:element name="TIPO_REVISION" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_SCR" type="xs:decimal" nillable="true"/>
         <xs:element name="SCR" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_ESTADO_SCR" type="xs:decimal" nillable="true"/>
         <xs:element name="ESTADO_SCR" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_PERSPECTIVA" type="xs:decimal" nillable="true"/>
         <xs:element name="PERSPECTIVA" type="xs:string" nillable="true"/>
         <xs:element name="ES_CALIFICACION_DIVIDIDA" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_APROBADO" type="xs:dateTime" nillable="true"/>
         <xs:element name="INSTANCIA_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="LOGIN_USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="NOMBRE_USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="TIPO_INICIO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>