BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/implementacionPCT/V1/Schema/ImplementacionPctMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ImplementacionPctMO"
            targetNamespace="http://www.bcie.org/ImplementacionPctMO" elementFormDefault="qualified"
              xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:IpctBO="http://www.bcie.org/ImplementacionPctBO"
              xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:operBO="http://www.bcie.org/OperacionBO">
 <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="../../../Operacion/V1/Schema/OperacionBO.xsd"/>
 <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
 <xsd:import schemaLocation="ImplementacionPctBO.xsd" namespace="http://www.bcie.org/ImplementacionPctBO"/>
 <xsd:import schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd" namespace="http://www.bcie.org/CatalogoBO"/>
 <xsd:element name="procesoLoteRequest" type="procesoLoteRequestType"/>
 <xsd:element name="procesoLoteResponse" type="procesoLoteResponseType"/>
 <xsd:element name="CrearActualizarLoteImplementacionRequest" type="CrearActualizarLoteImplementacionRequestType"/>
 <xsd:element name="CrearActualizarLoteImplementacionResponse" type="CrearActualizarLoteImplementacionResponseType"/>
 <xsd:element name="CrearActualizarImplementacionRequest" type="CrearActualizarImplementacionRequestType"/>
 <xsd:element name="CrearActualizarImplementacionResponse" type="CrearActualizarImplementacionResponseType"/>
 <xsd:element name="ConsultarImplementacionLoteRequest" type="ConsultarImplementacionLoteRequestType"/>
 <xsd:element name="ConsultarImplementacionLoteResponse" type="ConsultarImplementacionLoteResponseType"/>
 <xsd:complexType name="procesoLoteRequestType">
    <xsd:complexContent>
      <xsd:extension base="operBO:OperacionBasicType">
        <xsd:sequence>
          <xsd:element name="implementacionPCT" type="IpctBO:ImplementacionType" minOccurs= "0" maxOccurs = "unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="procesoLoteResponseType">
    <xsd:sequence>
   <xsd:element name="resultadoLotes" maxOccurs="unbounded" type="IpctBO:ResultadoLoteType"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
  </xsd:complexType>
 <xsd:complexType name="CrearActualizarLoteImplementacionRequestType">
  <xsd:sequence>
   <xsd:element name="LoteImplementacion" type="IpctBO:ImplementacionType"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="CrearActualizarLoteImplementacionResponseType">
  <xsd:sequence>
   <xsd:element name="LoteImplementacion" type="IpctBO:ImplementacionType"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="CrearActualizarImplementacionRequestType">
  <xsd:sequence>
   <xsd:element name="Implementacion" type="IpctBO:ImplementacionType"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="CrearActualizarImplementacionResponseType">
  <xsd:sequence>
   <xsd:element name="Implementacon" type="IpctBO:ImplementacionType"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarImplementacionLoteRequestType">
  <xsd:sequence>
   <xsd:element name="idOperacion" type="operBO:idOperacion"/>
   <xsd:element name="idImplementacion" type="IpctBO:idImplementacion" minOccurs="0"/>
   <xsd:element name="idLote" type="IpctBO:idImplementacion" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarImplementacionLoteResponseType">
  <xsd:sequence>
   <xsd:element name="ImplementacionLote" type="IpctBO:ImplementacionType" maxOccurs="unbounded"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>
