Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFAcctLoan/AcctLoanCollateralAdd/AcctLoanCollateralAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanCollateralAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctLoanCollateralAdd="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanCollateralAdd_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="Agency">
		<xs:sequence>
			<xs:element name="AgencyIdent" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonName">
		<xs:sequence>
			<xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContractInfo">
		<xs:sequence>
			<xs:element name="Asiento" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Asiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConstitutionDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Constitution Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Folio" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Folio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegisterData" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ScriptureDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Scripture Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScriptureNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Scripture Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tomo" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tomo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrustIssueDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TrustNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Trust Number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identification">
		<xs:sequence>
			<xs:element name="VerifyDigit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dígito Verificador</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Acct">
		<xs:annotation>
			<xs:documentation>Account Information Aggregate. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Grupo de Producto.

Ej: Cuenta, Préstamo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Moneda de préstamo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctKey" type="appoptAcctLoanCollateralAdd:AcctKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CollateralKey">
		<xs:sequence>
			<xs:element name="CollateralId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Collateral Reference Number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Country">
		<xs:annotation>
			<xs:documentation>All representations of countries in the IFX Specification are based upon agreed upon standard codes between client and server. The default, if not specified, is the Alpha 3-character codes for countries that are defined in ISO-3166.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountryCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country Name</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Collateral">
		<xs:sequence>
			<xs:element name="CollateralAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto/Moneda de la Garantía</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollateralSubType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Bien Inmueble</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollateralType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Garantía</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollInitAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto Original</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripción del Bien.

Posibles valores:

CASA
APARTAMENTO
TERRENOS
EDIFICIO
LOCALES COMERCIALES
GALERA
BODEGAS
FINCA O GRANJA
ALMACEN O TIENDA
HOTEL
ESTACIONES DE GASOLINA
TEATRO
OTROS BIENES INMUEBLES</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaturityDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maturity Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyKey" type="appoptAcctLoanCollateralAdd:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Customer Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyInfo" type="appoptAcctLoanCollateralAdd:PropertyInfo" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InsuranceInfo" type="appoptAcctLoanCollateralAdd:InsuranceInfo" minOccurs="0" maxOccurs="1"/>
			<xs:element name="VehicleInfo" type="appoptAcctLoanCollateralAdd:VehicleInfo" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CollateralKey" type="appoptAcctLoanCollateralAdd:CollateralKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIData" type="appoptAcctLoanCollateralAdd:FIData" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsuranceInfo">
		<xs:sequence>
			<xs:element name="Broker" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Broker</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Company" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Insurance Company Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmisionDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Emision Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaturityDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maturity Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonName" type="appoptAcctLoanCollateralAdd:PersonName" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Insurance Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Policy Amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Policy Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Insurance Type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyInfo">
		<xs:annotation>
			<xs:documentation>Property Info</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AppraisalDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AppraisalMaturityDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AppraiseAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount Appraise</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppraisedBy" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Appraised By</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CentralBankValue" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Bco. Central</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExecutionValue" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Ejecución</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Finca" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Finca</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GenLedgerValue" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Libro Mayor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grade" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Collateral Grade</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Improvements" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Improvements</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocCod" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Location Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OccupationPermitDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Occupation Permit Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Owner" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Collateral Owner</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostAddr" type="appoptAcctLoanCollateralAdd:PostAddr" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SalePrice" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sale Price</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TerrainAreaVal" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Terrain Area Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ThirdPartyValue" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Terceros</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractInfo" type="appoptAcctLoanCollateralAdd:ContractInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleInfo">
		<xs:sequence>
			<xs:element name="Brand" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vehicle Brand</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Color" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vehicle Color</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vehicle Model</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Plate" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vehicle Plate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vehicle Type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINChasis" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Chasis Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINMotor" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Motor Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Year" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vehicle Year</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostAddr">
		<xs:annotation>
			<xs:documentation>The PostAddr aggregate is used wherever a postal address is needed.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AddrDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Punto de Referencia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Building" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del residencial o del edificio de la dirección de correspondencia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>City.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountyDistrict" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>County District.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HouseNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>House Number, Apartment Number or Office Number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Jurisdiction" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Corregimiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Province" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Provincia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Street" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Street</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="appoptAcctLoanCollateralAdd:Country" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="appoptAcctLoanCollateralAdd:Identification">
				<xs:sequence>
					<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Party Identifier.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AcctLoanCollateralAddRq_Type">
		<xs:sequence>
			<xs:element name="Acct" type="appoptAcctLoanCollateralAdd:Acct" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Collateral" type="appoptAcctLoanCollateralAdd:Collateral" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoanCollateralAddRs_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="appoptAcctLoanCollateralAdd:AcctKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Collateral" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PartyKey" type="appoptAcctLoanCollateralAdd:PartyKey" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Customer Number</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CollateralKey" type="appoptAcctLoanCollateralAdd:CollateralKey" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctLoanCollateralAddRq" type="appoptAcctLoanCollateralAdd:AcctLoanCollateralAddRq_Type"/>
	<xs:element name="AcctLoanCollateralAddRs" type="appoptAcctLoanCollateralAdd:AcctLoanCollateralAddRs_Type"/>
	<xs:complexType name="FIData">
		<xs:sequence>
			<xs:element name="FIIdent" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Agency" type="appoptAcctLoanCollateralAdd:Agency" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
