BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/CrearClasificacionAmbiental/XSD/CrearClasificacionAmbiental_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearClasificacionAmbiental" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearClasificacionAmbiental" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ClasificacionAmbientalCollection" type="ClasificacionAmbientalCollection"/>
   <xs:complexType name="ClasificacionAmbientalCollection">
      <xs:sequence>
         <xs:element name="ClasificacionAmbiental" type="ClasificacionAmbiental" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ClasificacionAmbiental">
      <xs:sequence>
         <xs:element name="id" type="xs:long"/>
         <xs:element name="idOperacion" type="xs:long" minOccurs="0"/>
         <xs:element name="idTcaSectorAmbiental" type="xs:int" minOccurs="0"/>
         <xs:element name="idTcaAporteAmbiental" type="xs:int" minOccurs="0"/>
         <xs:element name="idTcaCategoriaAmbiental" type="xs:int" minOccurs="0"/>
         <xs:element name="idTcaSubcategoriaAmbiental" type="xs:int" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>