BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioSeguridad/Wsdl/Seguridad.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions 
    name="Seguridad" 
    targetNamespace="http://xmlns.bcie.com/SeguridadService"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
    xmlns="http://schemas.xmlsoap.org/wsdl/" 
    xmlns:tns="http://xmlns.bcie.com/SeguridadService" 
    xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
    xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:segMO="http://www.bcie.org/SeguridadMO">

  <wsdl:types>
    <xsd:schema targetNamespace="http://www.bcie.org/SeguridadService/types" elementFormDefault="qualified">
      <xsd:import namespace="http://www.bcie.org/SeguridadMO" schemaLocation="../Schema/SeguridadMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestObtenerDatosUsuarioMessage">
    <wsdl:part name="requestObtenerDatosUsuario" element="segMO:ObtenerDatosUsuarioRequest"/>
  </wsdl:message>
  <wsdl:message name="responseObtenerDatosUsuarioMessage">
    <wsdl:part name="responseObtenerDatosUsuario" element="segMO:ObtenerDatosUsuarioResponse"/>
  </wsdl:message>
  <wsdl:message name="requestTieneAccesoMessage">
    <wsdl:part name="requestTieneAcceso" element="segMO:TieneAccesoRequest"/>
  </wsdl:message>
  <wsdl:message name="responseTieneAccesoMessage">
    <wsdl:part name="responseTieneAcceso" element="segMO:TieneAccesoResponse"/>
  </wsdl:message>
  <wsdl:message name="requestVerificarEstadoUsuarioMessage">
    <wsdl:part name="requestVerificarEstadoUsuario" element="segMO:VerificarEstadoUsuarioRequest"/>
  </wsdl:message>
  <wsdl:message name="responseVerificarEstadoUsuarioMessage">
    <wsdl:part name="responseVerificarEstadoUsuario" element="segMO:VerificarEstadoUsuarioResponse"/>
  </wsdl:message>
  <wsdl:message name="requestObtienePermisosUsuarioMessage">
    <wsdl:part name="request" element="segMO:obtienePermisosUsuarioRequest"/>
  </wsdl:message>
  <wsdl:message name="responseObtienePermisosUsuarioMessage">
    <wsdl:part name="response" element="segMO:obtienePermisosUsuarioResponse"/>
  </wsdl:message>
  <wsdl:portType name="SeguridadPT">
    <wsdl:operation name="ObtenerDatosUsuario">
      <wsdl:input message="tns:requestObtenerDatosUsuarioMessage"/>
      <wsdl:output message="tns:responseObtenerDatosUsuarioMessage"/>
    </wsdl:operation>
    <wsdl:operation name="TieneAcceso">
      <wsdl:input message="tns:requestTieneAccesoMessage"/>
      <wsdl:output message="tns:responseTieneAccesoMessage"/>
    </wsdl:operation>
    <wsdl:operation name="VerificarEstadoUsuario">
      <wsdl:input message="tns:requestVerificarEstadoUsuarioMessage"/>
      <wsdl:output message="tns:responseVerificarEstadoUsuarioMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ObtienePermisosUsuario">
      <wsdl:input message="tns:requestObtienePermisosUsuarioMessage"/>
      <wsdl:output message="tns:responseObtienePermisosUsuarioMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Seguridad12Bnd" type="tns:SeguridadPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ObtenerDatosUsuario">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/SeguridadService/ObtenerDatosUsuario"/>
      <wsdl:input>
        <soap12:body use="literal" parts="requestObtenerDatosUsuario"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="responseObtenerDatosUsuario"/>
      </wsdl:output>
    </wsdl:operation> 
    <wsdl:operation name="TieneAcceso">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/SeguridadService/TieneAcceso"/>
      <wsdl:input>
        <soap12:body use="literal" parts="requestTieneAcceso"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="responseTieneAcceso"/>
      </wsdl:output>
    </wsdl:operation> 
    <wsdl:operation name="VerificarEstadoUsuario">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/SeguridadService/VerificarEstadoUsuario"/>
      <wsdl:input>
        <soap12:body use="literal" parts="requestVerificarEstadoUsuario"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="responseVerificarEstadoUsuario"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ObtienePermisosUsuario">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Seguridad12BndQSService">
    <wsdl:port name="Seguridad12BndQSPort" binding="tns:Seguridad12Bnd">
        <soap12:address location="http://osblnx1-vip.dev.bcie.org:7021/Entidad/SeguridadService/V1.0?WSDL"/>
    </wsdl:port>
  </wsdl:service>  

</wsdl:definitions>