BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioLineaCredito/Comision/V1/Schema/ComisionMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:comMO="http://www.bcie.org/ComisionMO"
            targetNamespace="http://www.bcie.org/ComisionMO" xmlns:resBO="http://www.bcie.org/ResultBO"
            xmlns:operBO="http://www.bcie.org/OperacionBO" elementFormDefault="qualified"
            xmlns:comBO="http://www.bcie.org/ComisionBO" xmlns:linCre="http://www.bcie.org/LineaCreditoBO">
  <xsd:import schemaLocation="ComisionBO.xsd" namespace="http://www.bcie.org/ComisionBO"/>
  <xsd:import schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"
              namespace="http://www.bcie.org/OperacionBO"/>
  <xsd:import schemaLocation="../../../../DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoBO.xsd"
              namespace="http://www.bcie.org/LineaCreditoBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <!-- Mensajes -->
  <xsd:element name="CrearCargoTramiteRequest" type="comMO:CrearCargoTramiteRequestType"/>
  <xsd:element name="CrearCargoTramiteResponse" type="comMO:CrearCargoTramiteResponseType"/>
  <xsd:element name="CrearComisionRequest" type="comMO:CrearComisionRequestType"/>
  <xsd:element name="CrearComisionResponse" type="comMO:CrearComisionResponseType"/>
  <xsd:element name="CrearComisionFLEXCUBERequest" type="comMO:CrearComisionFLEXCUBERequestType"/>
  <xsd:element name="CrearComisionFLEXCUBEResponse" type="comMO:CrearComisionFLEXCUBEResponseType"/>
  <xsd:element name="ActualizarComisionRequest" type="comMO:ActualizarComisionRequestType"/>
  <xsd:element name="ActualizarComisionResponse" type="comMO:ActualizarComisionResponseType"/>
  <xsd:element name="ConsultarComisionRequest" type="comMO:ConsultarComisionRequestType"/>
  <xsd:element name="ConsultarComisionResponse" type="comMO:ConsultarComisionResponseType"/>
  <xsd:element name="ObtenerInicioComisionRequest" type="comMO:ObtenerInicioComisionRequestType"/>
  <xsd:element name="ObtenerInicioComisionResponse" type="comMO:ObtenerInicioComisionResponseType"/>
  <xsd:element name="ConsultarComisionByIdLineaCreditoRequest"
               type="comMO:ConsultarComisionByIdLineaCreditoRequestType"/>
  <xsd:element name="ConsultarComisionByIdLineaCreditoResponse"
               type="comMO:ConsultarComisionByIdLineaCreditoResponseType"/>
  <xsd:element name="ConsultarContratoComisionFLEXCUBERequest"
               type="comMO:ConsultarContratoComisionFLEXCUBERequestType"/>
  <xsd:element name="ConsultarContratoComisionFLEXCUBEResponse"
               type="comMO:ConsultarContratoComisionFLEXCUBEResponseType"/>
  <xsd:element name="ConsultarFechaCargoRequest" type="comMO:ConsultarFechaCargoRequestType"/>
  <xsd:element name="ConsultarFechaCargoResponse" type="comMO:ConsultarFechaCargoResponseType"/>
  <xsd:element name="ConsultarComisionesPagadasRequest" type="comMO:ConsultarComisionesPagadasRequestType"/>
  <xsd:element name="ConsultarComisionesPagadasResponse" type="comMO:ConsultarComisionesPagadasResponseType"/>
  <xsd:element name="ConsultarTreComisionRequest" type="comMO:ConsultarTreComisionRequestType"/>
  <xsd:element name="ConsultarTreComisionResponse" type="comMO:ConsultarTreComisionResponseType"/>
  <xsd:element name="EliminarComisionRequest" type="comMO:EliminarComisionRequestType"/>
  <xsd:element name="EliminarComisionResponse" type="comMO:EliminarComisionResponseType"/>
  <xsd:element name="CrearAvisoCobroComisionRequest" type="comMO:CrearAvisoCobroComisionRequestType"/>
  <xsd:element name="CrearAvisoCobroComisionResponse" type="comMO:CrearAvisoCobroComisionResponseType"/>
  <xsd:element name="CrearAvisoCobroComisionV2Request" type="comMO:CrearAvisoCobroComisionV2RequestType"/>
  <xsd:element name="CrearAvisoCobroComisionV2Response" type="comMO:CrearAvisoCobroComisionV2ResponseType"/>
  <xsd:element name="ConsultarComisionesByIdOperacionRequest" type="comMO:ConsultarComisionesByIdOperacionRequestType"/>
  <xsd:element name="ConsultarComisionesByIdOperacionResponse"
               type="comMO:ConsultarComisionesByIdOperacionResponseType"/>
  <!-- Tipos de los mensajes -->
  <!-- Create -->
  <xsd:complexType name="CrearCargoTramiteRequestType">
    <xsd:sequence>
      <xsd:element name="idComision" type="comBO:idComision" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearCargoTramiteResponseType">
    <xsd:sequence>
      <xsd:element name="codigoContrato" type="comBO:codigoContrato" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearComisionRequestType">
    <xsd:sequence>
      <xsd:element name="Comision" type="comBO:Comision" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearComisionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearComisionFLEXCUBERequestType">
    <xsd:sequence>
      <xsd:element name="Comision" type="comBO:Comision" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearComisionFLEXCUBEResponseType">
    <xsd:sequence>
      <xsd:element name="Comision" type="comBO:Comision" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarComisionRequestType">
    <xsd:sequence>
      <xsd:element name="Comision" type="comBO:Comision" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarComisionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionRequestType">
    <xsd:sequence>
      <xsd:element name="idComision" type="comBO:idComision" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="idMomentoCobro" type="xsd:int" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionResponseType">
    <xsd:sequence>
      <xsd:element name="Comision" type="comBO:Comision" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerInicioComisionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerInicioComisionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionByIdLineaCreditoRequestType">
    <xsd:sequence>
      <xsd:element name="idLineaCredito" type="linCre:idLineaCredito" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="idProductoFlexcube" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="tipoTasa" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="componentePrincipal" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionByIdLineaCreditoResponseType">
    <xsd:sequence>
      <xsd:element name="Comision" type="comBO:Comision" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarContratoComisionFLEXCUBERequestType">
    <xsd:sequence>
      <xsd:element name="codigoContrato" type="comBO:codigoContrato" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarContratoComisionFLEXCUBEResponseType">
    <xsd:sequence>
      <xsd:element name="Comision" type="comBO:Comision" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarFechaCargoRequestType">
    <xsd:sequence>
      <xsd:element name="idComision" type="comBO:idComision" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarFechaCargoResponseType">
    <xsd:sequence>
      <xsd:element name="fechaCargo" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionesPagadasRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionesPagadasResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTreComisionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="descripcion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTreComisionResponseType">
    <xsd:sequence>
      <xsd:element name="Comision" type="comBO:Comision" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarComisionRequestType">
    <xsd:sequence>
      <xsd:element name="Comision" type="comBO:idComision" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="borradoLogico" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarComisionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearAvisoCobroComisionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idComision" type="comBO:idComision" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearAvisoCobroComisionResponseType">
    <xsd:sequence>
      <xsd:element name="documentoCobroComision" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearAvisoCobroComisionV2RequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idComision" type="comBO:idComision" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearAvisoCobroComisionV2ResponseType">
    <xsd:sequence>
      <xsd:element name="documentoCobroComision" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionesByIdOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionesByIdOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="ListaComisiones" type="comBO:listaComision"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Create -->
</xsd:schema>


