Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/T24PmtAppSvc/T24PmtAppSvc_V1.0.wsdl

<wsdl:definitions name="T24PmtAppSvc_V1.0"
                  targetNamespace="http://xmlns.banesco.com/AppSvc/T24PmtAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/T24PmtAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
				  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:appoptPmtUtilAdd="http://xmlns.banesco.com/appopt/T24PmtAppSvc/PmtUtilAdd_V1.0"
                  xmlns:appoptPmtCardAdd="http://xmlns.banesco.com/appopt/T24PmtAppSvc/PmtCardAdd_V1.0"
                  xmlns:appoptPmtCardRev="http://xmlns.banesco.com/appopt/T24PmtAppSvc/PmtCardRev_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
				  schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/T24PmtAppSvc/PmtCardAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/T24Pmt/PmtCardAdd/PmtCardAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/T24PmtAppSvc/PmtCardRev_V1.0"
                  schemaLocation="../../../xsd/AppOpt/T24Pmt/PmtCardRev/PmtCardRev_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="PmtCardAddRq">
    <wsdl:part name="PmtCardAddRq" element="appoptPmtCardAdd:PmtCardAddRq"/>
  </wsdl:message>
  <wsdl:message name="PmtCardAddRs">
    <wsdl:part name="PmtCardAddRs" element="appoptPmtCardAdd:PmtCardAddRs"/>
  </wsdl:message>
  
  <wsdl:portType name="T24PmtAppSvc_V1.0">
    <wsdl:operation name="PmtCardAdd">
      <wsdl:input message="tns:PmtCardAddRq"/>
      <wsdl:output message="tns:PmtCardAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="T24PmtAppSvc_V1.0SOAP" type="tns:T24PmtAppSvc_V1.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PmtCardAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/T24CardAppSvc_V1.0/PmtCardAdd"/>
      <wsdl:input>
		<soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="PmtCardAddRq"/>
      </wsdl:input>
      <wsdl:output>
		<soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="PmtCardAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="T24PmtAppSvc_V1.0">
    <wsdl:port name="T24PmtAppSvc_V1.0SOAP" binding="tns:T24PmtAppSvc_V1.0SOAP">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>