BCIE_fenix/qa/SOA/03-SOA-SERVICES/DominioOperacion/AdquisicionesWeb/SOA/Schemas/dbFenixInformeOtros.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/dbFenixInformeOtros" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/dbFenixInformeOtros" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="dbFenixInformeOtrosInput" type="dbFenixInformeOtrosInput"/>
   <xs:complexType name="dbFenixInformeOtrosInput">
      <xs:sequence>
         <xs:element name="IdNoObjecionVar" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="dbFenixInformeOtrosOutputCollection" type="dbFenixInformeOtrosOutputCollection"/>
   <xs:complexType name="dbFenixInformeOtrosOutputCollection">
      <xs:sequence>
         <xs:element name="dbFenixInformeOtrosOutput" type="dbFenixInformeOtrosOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbFenixInformeOtrosOutput">
      <xs:sequence>
         <xs:element name="ID_NO_OBJECION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_ADQUISICION" type="xs:decimal" nillable="true"/>
         <xs:element name="ISO_PAIS" type="xs:string" nillable="true"/>
         <xs:element name="EXECUTOR" type="xs:string" nillable="true"/>
         <xs:element name="TITULO_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="NUMERO_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="ID_PORTAL_RESULTADO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_PUBLICACION" type="xs:dateTime" nillable="true"/>
         <xs:element name="DESCRIPCION_LINEA_CREDITO" type="xs:string" nillable="true"/>
         <xs:element name="LINEA_CREDITO" type="xs:string" nillable="true"/>
         <xs:element name="TIPO_NO_OBJECION" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_TIPO_NO_OBJECION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
