BCIE_fenix/qa/SOA/03-SOA-SERVICES/DominioOperacion/AdquisicionesWeb/SOA/Schemas/dbFnxAvisos.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/dbFnxAvisos" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/dbFnxAvisos" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="dbFnxAvisosInput" type="dbFnxAvisosInput"/>
   <xs:complexType name="dbFnxAvisosInput">
      <xs:sequence>
         <xs:element name="IdNoObjecionVar" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="dbFnxAvisosOutputCollection" type="dbFnxAvisosOutputCollection"/>
   <xs:complexType name="dbFnxAvisosOutputCollection">
      <xs:sequence>
         <xs:element name="dbFnxAvisosOutput" type="dbFnxAvisosOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="dbFnxAvisosOutput">
      <xs:sequence>
         <xs:element name="ID_NO_OBJECION" type="xs:decimal" nillable="true"/>
         <xs:element name="ISO_PAIS" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_PUBLICACION" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_RECEPCION_PROPUESTA" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_FIN" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_INICIO" type="xs:dateTime" nillable="true"/>
         <xs:element name="DIR_PRESENTACION_PROPUESTA" type="xs:string" nillable="true"/>
         <xs:element name="LUGAR_OBTENER_DOCTO_BASE" type="xs:string" nillable="true"/>
         <xs:element name="LINEA_CREDITO" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_MODALIDAD" type="xs:string" nillable="true"/>
         <xs:element name="NUMERO_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="TITULO_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="CORREO_INFORMACION_ADICIONAL" type="xs:string" nillable="true"/>
         <xs:element name="OBJETIVO_ADQUISICION" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_OPERACION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
