BCIE_fenix/qa/SOA/03-SOA-SERVICES/DominioOperacion/AdquisicionesWeb/SOA/Schemas/LineaCreditoBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/LineaCreditoBO" xmlns:cmnBO="http://www.bcie.org/CommonBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" xmlns:cattermBO="http://www.bcie.org/CatalogoTerminoBO" xmlns:termBO="http://www.bcie.org/TerminoBO" xmlns:conBO="http://www.bcie.org/CondicionBO" xmlns:comBO="http://www.bcie.org/ComisionBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:desBO="http://www.bcie.org/DesembolsoBO" xmlns:hceBO="http://www.bcie.org/HerramientaCEBO" targetNamespace="http://www.bcie.org/LineaCreditoBO" elementFormDefault="qualified">
   <xsd:import namespace="http://www.bcie.org/ComisionBO" schemaLocation="ComisionBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/CondicionBO" schemaLocation="CondicionBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/TerminoBO" schemaLocation="TerminoBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="OperacionBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/CommonBO" schemaLocation="CommonBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="CatalogoBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/DesembolsoBO" schemaLocation="DesembolsoBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/HerramientaCEBO" schemaLocation="HerramientaCEBO.xsd"/>
   <xsd:simpleType name="idLineaCredito">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:totalDigits value="5"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="idContrato">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:totalDigits value="5"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="idFuente">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:totalDigits value="5"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="TeenLineaCreditoType">
      <xsd:sequence>
         <xsd:element name="idLineaCredito" type="linCreBO:idLineaCredito" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="idContrato" type="linCreBO:idContrato" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="NumeroLineaCredito" type="xsd:string"/>
         <xsd:element name="Descripcion" type="xsd:string"/>
         <xsd:element name="Flexcube" type="linCreBO:Flexcube" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Fondo" type="xsd:string" minOccurs="0"/>
         <xsd:element name="MontoLinea" type="xsd:decimal" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LineaCreditoBasicType">
      <xsd:complexContent>
         <xsd:extension base="linCreBO:TeenLineaCreditoType">
            <xsd:sequence>
               <xsd:element name="EsRevolvente" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="TratamientoDiasFeriados" type="xsd:string"/>
               <xsd:element name="FechaValor" type="xsd:date"/>
               <xsd:element name="FechaVencimiento" type="xsd:date"/>
               <xsd:element name="CodigoPantallaLimite" type="xsd:string"/>
               <xsd:element name="CodigoSerialLimite" type="xsd:int"/>
               <xsd:element name="CodigoAsignacion" type="xsd:long"/>
               <xsd:element name="DescripcionAsignacion" type="xsd:string"/>
               <xsd:element name="CondicionEspecial" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="FechaRegistro" type="xsd:date"/>
               <xsd:element name="FechaMaximaDesembolso" type="xsd:date"/>
               <xsd:element name="Estado" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="descCondEspecial" type="xsd:string"/>
               <xsd:element name="frecuenciaGracia" type="xsd:int"/>
               <xsd:element name="plazoGracia" type="xsd:int"/>
               <xsd:element name="frecuenciaFinanciamiento" type="xsd:int"/>
               <xsd:element name="plazoFinanciamiento" type="xsd:int"/>
               <xsd:element name="recursosExternos" type="xsd:boolean"/>
               <xsd:element name="tasaMinima" type="xsd:double" nillable="true"/>
               <xsd:element name="tasaMaxima" type="xsd:double" nillable="true"/>
               <xsd:element name="montoMinimo" type="xsd:double" nillable="true"/>
               <xsd:element name="montoMaximo" type="xsd:double" nillable="true"/>
               <xsd:element name="Monto" type="cmnBO:MontoType" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="LineaCredito">
      <xsd:complexContent>
         <xsd:extension base="linCreBO:LineaCreditoBasicType">
            <xsd:sequence>
               <xsd:element name="Condicion" type="conBO:Condicion" minOccurs="1" maxOccurs="unbounded"/>
               <xsd:element name="Termino" type="termBO:Termino" minOccurs="1" maxOccurs="unbounded"/>
               <xsd:element name="Comision" type="comBO:Comision" minOccurs="1" maxOccurs="unbounded"/>
               <xsd:element name="Fuente" type="linCreBO:Fuente" minOccurs="1" maxOccurs="unbounded"/>
               <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="atributos" type="cmnBO:parameterType" minOccurs="0" maxOccurs="unbounded"/>
               <xsd:element name="HerramientaCE" type="hceBO:HerramientaCEType" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Flexcube">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="idProductoFlexcube" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="idFlexcubePasivo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TreLineaCreditoAprobacion">
      <xsd:sequence>
         <xsd:element name="idTreLineaCreditoAprobacion" type="xsd:long" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="idLineaCredito" type="linCreBO:idLineaCredito" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="idAprobacion" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="LineaCreditoAprobacion">
      <xsd:sequence>
         <xsd:element name="LineasCredito" type="linCreBO:LineaCredito" minOccurs="0"/>
         <xsd:element name="idAprobacion" type="xsd:long" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Fuente">
      <xsd:sequence>
         <xsd:element name="idFuente" type="linCreBO:idFuente"/>
         <xsd:element name="idLineaCredito" type="linCreBO:idLineaCredito"/>
         <xsd:element name="idLineaPasiva" type="xsd:string"/>
         <xsd:element name="codigoLineaPasiva" type="xsd:string"/>
         <xsd:element name="idFacturadorLineaPasiva" type="xsd:string"/>
         <xsd:element name="idFondo" type="xsd:string"/>
         <xsd:element name="Descripcion" type="xsd:string"/>
         <xsd:element name="FechaObtenido" type="xsd:date"/>
         <xsd:element name="MontoAsignado" type="xsd:decimal"/>
         <xsd:element name="montoDisponible" type="xsd:double"/>
         <xsd:element name="Monto" type="cmnBO:MontoType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="NumeroAsignacion" type="xsd:decimal"/>
         <xsd:element name="Comentario" type="xsd:string"/>
         <xsd:element name="idContrato" type="linCreBO:idContrato"/>
         <xsd:element name="FechaRegistro" type="xsd:date"/>
         <xsd:element name="Estado" type="xsd:boolean"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Prestamo">
      <xsd:sequence>
         <xsd:choice>
            <xsd:element name="Comision" type="comBO:Comision"/>
         </xsd:choice>
         <xsd:element name="Operacion" type="operBO:Operacion"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TipoContrato">
      <xsd:choice minOccurs="0" maxOccurs="1">
         <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
         <xsd:element name="Comision" type="comBO:Comision"/>
      </xsd:choice>
   </xsd:complexType>
   <xsd:complexType name="InformacionAdicional">
      <xsd:sequence>
         <xsd:element name="Monto" type="cmnBO:MontoType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Garantias">
      <xsd:sequence>
         <xsd:element name="porcentajeExigido" type="xsd:decimal"/>
         <xsd:element name="monto" type="xsd:decimal"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
