BCIE_fenix/qa/SOA/03-SOA-SERVICES/DominioOperacion/AdquisicionesWeb/SOA/Schemas/MatrizTCCBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mtccBO="http://www.bcie.org/MatrizTCCBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:conBO="http://www.bcie.org/CondicionBO" xmlns:terBO="http://www.bcie.org/TerminoBO" xmlns:comBO="http://www.bcie.org/ComisionBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" targetNamespace="http://www.bcie.org/MatrizTCCBO" elementFormDefault="qualified">
   <xsd:import namespace="http://www.bcie.org/TerminoBO" schemaLocation="TerminoBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/CondicionBO" schemaLocation="CondicionBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/ComisionBO" schemaLocation="ComisionBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="CatalogoBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/LineaCreditoBO" schemaLocation="LineaCreditoBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="OperacionBO.xsd"/>
   <xsd:simpleType name="tipo">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="TERMINO"/>
         <xsd:enumeration value="CONDICION"/>
         <xsd:enumeration value="COMISION"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="TCC">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:long"/>
         <xsd:element name="tipo" type="mtccBO:tipo"/>
         <xsd:element name="estado" type="xsd:int"/>
         <xsd:element name="subEstado" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="TCCConfiguracion">
      <xsd:sequence>
         <xsd:element name="idTCCConfig" type="xsd:long"/>
         <xsd:element name="tipo" type="mtccBO:tipo"/>
         <xsd:element name="idPrecarga" type="xsd:long"/>
         <xsd:element name="nombre" type="xsd:string"/>
         <xsd:element name="idTcaTipo" type="xsd:long"/>
         <xsd:element name="idTca" type="xsd:long"/>
         <xsd:element name="esMandatorio" type="xsd:int"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="listaTCC">
      <xsd:sequence>
         <xsd:element name="TCC" type="mtccBO:TCC" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="validacion">
      <xsd:sequence>
         <xsd:element name="tipo" type="xsd:string" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="resultado" type="xsd:string" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="listaValidaciones">
      <xsd:sequence>
         <xsd:element name="Validacion" type="mtccBO:validacion" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="listaTCCConfiguracion">
      <xsd:sequence>
         <xsd:element name="TCCConfiguracion" type="mtccBO:TCCConfiguracion" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="enmiendaTCC">
      <xsd:sequence>
         <xsd:element name="idEnmienda" type="xsd:long"/>
         <xsd:element name="idOperacion" type="operBO:idOperacion"/>
         <xsd:element name="instanciaProceso" type="xsd:string"/>
         <xsd:element name="requiereOGC" type="xsd:boolean"/>
         <xsd:element name="requiereASJUR" type="xsd:boolean"/>
         <xsd:element name="fechaRegistro" type="xsd:date"/>
         <xsd:element name="estado" type="xsd:boolean"/>
         <xsd:element name="detalleEnmiendaTCC" type="mtccBO:detalleEnmiendaTCC" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="detalleEnmiendaTCC">
      <xsd:sequence>
         <xsd:element name="idEnmiendaTCC" type="xsd:long"/>
         <xsd:element name="tipoTCC" type="mtccBO:tipo"/>
         <xsd:element name="idTCC" type="xsd:long"/>
         <xsd:element name="accion" type="xsd:string"/>
         <xsd:element name="estado" type="xsd:boolean"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="listaEnmiendaTCC">
      <xsd:sequence>
         <xsd:element name="EnmiendaTCC" type="mtccBO:enmiendaTCC" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
