BCIE_fenix/qa/SOA/03-SOA-SERVICES/DominioOperacion/AdquisicionesWeb/SOA/Schemas/ResultBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:resBO="http://www.bcie.org/ResultBO" targetNamespace="http://www.bcie.org/ResultBO" elementFormDefault="qualified" xmlns:errBO="http://www.bcie.org/ErrorBO">
   <xsd:import namespace="http://www.bcie.org/ErrorBO" schemaLocation="ErrorBO.xsd"/>
   <xsd:complexType name="Resultado">
      <xsd:annotation>
         <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
         <xsd:documentation>Objeto para confirmar de la ejecución satisfactiria o insatisfactoria de los servicios</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="result" type="resBO:SuccessType"/>
         <xsd:element name="message" type="xsd:string"/>
         <xsd:element name="error" type="errBO:Error" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="SuccessType">
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="ERROR"/>
         <xsd:enumeration value="OK"/>
      </xsd:restriction>
   </xsd:simpleType>
</xsd:schema>
