Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/BPAPRESTWFCUSTOMER/NewUpdateCustomerWFNuevoModificacionClienteWFRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.temenos.com/T24/ofs/Request" targetNamespace="http://www.temenos.com/T24/ofs/Request" xmlns:reqcns="http://www.temenos.com/T24/ofs/RequestCommon" xmlns:ns0="http://www.temenos.com/T24/ofs/BPAPRESTWFCUSTOMERWSType">
<xsd:import namespace="http://www.temenos.com/T24/ofs/RequestCommon" schemaLocation="RequestCommonType.xsd"/>
<xsd:import namespace="http://www.temenos.com/T24/ofs/BPAPRESTWFCUSTOMERWSType" schemaLocation="BPAPRESTWFCUSTOMERWSType.xsd"/>
<xsd:element name="BPAPRESTWFCUSTOMERWSRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RequestCommon" type="reqcns:RequestCommonType" minOccurs="0"/>
<xsd:element name="BPAPRESTWFCUSTOMERWS" type="ns0:BPAPRESTWFCUSTOMERWSType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
