BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ConsultarDeclaracionJurada/XSD/ConsultarTreDeclaracionOperacion_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTreDeclaracionOperacion_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTreDeclaracionOperacion_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarTreDeclaracionOperacion_DBInput" type="ConsultarTreDeclaracionOperacion_DBInput"/>
   <xs:complexType name="ConsultarTreDeclaracionOperacion_DBInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarTreDeclaracionOperacion_DBOutputCollection" type="ConsultarTreDeclaracionOperacion_DBOutputCollection"/>
   <xs:complexType name="ConsultarTreDeclaracionOperacion_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarTreDeclaracionOperacion_DBOutput" type="ConsultarTreDeclaracionOperacion_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarTreDeclaracionOperacion_DBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_DECLARACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ESTADO_DECLARACION" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_DECLARACION" type="xs:string" nillable="true"/>
         <xs:element name="ESTADO_BUSQUEDA_CONTRAPARTES" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_BUSQUEDA" type="xs:string" nillable="true"/>
         <xs:element name="NIVEL_RIESGO" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_RIESGO" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_FIRMA_DECLARACION" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_VENCIMIENTO" type="xs:dateTime" nillable="true"/>
         <xs:element name="COMENTARIO_DECLARACION" type="xs:string" nillable="true"/>
         <xs:element name="COMENTARIO_BUSQUEDA" type="xs:string" nillable="true"/>
         <xs:element name="SE_ELEVA_OTRA_INSTANCIA" type="xs:decimal" nillable="true"/>
         <xs:element name="TIPO_ORIGEN" type="xs:string" nillable="true"/>
         <xs:element name="TIPO_SEGUIMIENTO" type="xs:string" nillable="true"/>
         <xs:element name="INSTANCIA_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="ES_SOLO_LECTURA" type="xs:int" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:int" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>