AG_2019/SOA/JDAUpdateStyle/SOA/Schemas/RMS/Supplier/VendorHdrDesc.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/VendorHdrDesc/v1" xmlns:CustFlexAttriVo="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/VendorHdrDesc/v1" version="1.1">
   <retailDoc:annotation>
      <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
   </retailDoc:annotation>
   <xs:element name="VendorHdrDesc">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="supplier" type="varchar210">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unique identifying number for a supplier within the system.  The user determines this number when a new supplier is first added to the system.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="sup_name" type="varchar2240">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the suppliers trading name.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="sup_name_secondary" type="varchar2240">
               <retailDoc:annotation>
                  <retailDoc:documentation>This type can hold a string of max length of 240 characters.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="contact_name" type="varchar2120">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the name of the supplier's representative contact.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="contact_phone" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains a telephone number for the supplier's representative contact.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="contact_fax" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains a fax number for the supplier's representative contact.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="contact_pager" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains a pager number for the supplier's representative contact.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="sup_status" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Valid values include:  'A' for an active supplier or 'I' for an inactive supplier.  The status of a supplier will be checked when an order is being created to make certain the supplier is active.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="qc_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Determines whether orders from this supplier will default as requiring quality control.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="qc_pct" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>The percentage of items per receipt that will be marked for quality checking.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="qc_freq" type="number2">
               <retailDoc:annotation>
                  <retailDoc:documentation>The frequency for which items per receipt will be marked for quality checking.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="vc_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Determines whether orders from this supplier will default as requiring vendor control.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="vc_pct" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>The percentage of items per receipt that will be marked for vendor checking.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="vc_freq" type="number2">
               <retailDoc:annotation>
                  <retailDoc:documentation>The frequency for which items per receipt that will be marked for vendor checking.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="currency_code" type="varchar23">
               <retailDoc:annotation>
                  <retailDoc:documentation>A code identifying the currency the supplier uses for business transactions.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="lang" type="number6">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field contains the suppliers preferred language.  This field is provided for custom purchase orders in a specified language.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="terms" type="varchar215">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicator identifying the sales terms that will default when an order is created for the supplier.  These terms specify when payment is due and if any discounts exist for early payment.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="freight_terms" type="varchar230">
               <retailDoc:annotation>
                  <retailDoc:documentation>A code indicating what freight terms will default when an order is created for the supplier.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ret_allow_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether or not the supplier will accept returns.  Valid values are Y and N.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ret_auth_req" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if returns must be accompanied by an authorization number when sent back to the vendor.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ret_min_dol_amt" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains a value if the supplier requires a minimum dollar amount to be returned in order to accept the return.  Returns of less than this amount will not be processed by the system.  This field is stored in the supplier's currency.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ret_courier" type="varchar2250">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the name of the courier that should be used for returns to the supplier.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="handling_pct" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>The percent to be multiplied by an order's total cost to determine the handling cost for the return.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="edi_po_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether purchase orders will be sent to the supplier via Electronic Data Interchange.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="edi_po_chg" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether purchase order changes will be sent to the supplier via EDI.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="edi_po_confirm" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether acknowledgements of purchase orders will be sent to the supplier via EDI.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="edi_asn" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether the supplier will send Advance Shipment Notifications electronically.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="edi_sales_rpt_freq" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field contains the EDI sales report frequency for the supplier.  Valid values are 'D' or 'W', specifying that sales and stock information will be downloaded daily or weekly.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="edi_supp_available_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether the supplier will send availability via EDI.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="edi_contract_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether contracts will be sent to the supplier via EDI.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="edi_invc_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether invoices, debit memos and credit note requests will be sent to/from the supplier via EDI.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="cost_chg_pct_var" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the cost change variance by percent.  If an EDI cost change is accepted and falls within these boundaries, it will be approved when inserted into the cost change dialog.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="cost_chg_amt_var" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the cost change variance by amount.  If an EDI cost change is accepted and falls within these boundaries, it will be approved when inserted into the cost change dialog.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="replen_approval_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether contract orders for the supplier should be created in Approved status.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ship_method" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>The method used to ship the items on the purchase order from the country of origin to the country of import.  Check the RMS data model for valid values.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="payment_method" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates how the purchase order will be paid.  Valid options are: LC (Letter of Credit), WT (Wire Transfer), OA (Open Account).</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="contact_telex" type="varchar220">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains a telex number for the supplier's representative contact.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="contact_email" type="varchar2100">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains an email address for the supplier's representative contact.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="settlement_code" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates which payment process method is used for the supplier.  Check the RMS data model for valid values.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="pre_mark_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether or not the supplier has agreed to break an order into separate boxes (and mark them) that can be shipped directly to the stores.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="auto_appr_invc_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether or not the supplier's invoice matches can be automatically approved for payment.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="dbt_memo_code" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates when a debit memo will be sent to the supplier to resolve a discrepancy.  Valid values are Y if debit memos are always to be sent, L if debit memos are used only if a credit note is not sent by the invoice due date, or N if debit memos are neve</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="freight_charge_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether a supplier is allowed to charge freight costs to the client.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="auto_appr_dbt_memo_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether debit memos sent to the supplier can be automatically approved on creation.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="inv_mgmt_lvl" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether supplier inventory management information can be set up at the supplier/deparment level or just at the supplier level.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="backorder_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if backorders or partial shipments will be accepted.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="vat_region" type="number4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the unique identifying number for the VAT region in the system.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="prepay_invc_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates whether or not all invoices for the supplier can be pre-paid invoices.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="service_perf_req_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if the supplier's services must be confirmed as performed before paying an invoice from that supplier.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="invc_pay_loc" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates where invoices from this supplier are paid - at the store ('S') or centrally through corporate accounting ('C').</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="invc_receive_loc" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates where invoices from this supplier are received - at the store ('S') or centrally through corporate accounting ('C').</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="addinvc_gross_net" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates if the supplier invoice lists items at gross cost ('G') or net cost ('N').</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="delivery_policy" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the delivery policy of the supplier.  Valid values come from the DLVY code on code_head/code_detail.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="comment_desc" type="varchar22000">
               <retailDoc:annotation>
                  <retailDoc:documentation>Any miscellaneous comments associated with the supplier.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="default_item_lead_time" type="number4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Holds the default lead time for the supplier.  The lead time is the time the supplier needs between receiving an order and having the order ready to ship.  This value will be defaulted to item/supplier relationships.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="duns_number" type="varchar29">
               <retailDoc:annotation>
                  <retailDoc:documentation>This type can hold a number of digits count umber.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="duns_loc" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>The Dun and Bradstreet number of the location of the supplier.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="bracket_costing_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field will determine if the supplier uses bracket costing pricing structures.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="vmi_order_status" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Determines the status in which any inbound PO's from this supplier are created.  A NULL value indicates that the supplier is not a VMI supplier.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="end_date_active" type="xs:dateTime">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not Yet Available</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="dsd_supplier_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Specifies whether or not DSD shipments can be created for the supplier.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="sup_qty_level" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Indicates the supplier order quantity level - 'CA' for cases, 'EA' for eaches.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="supplier_parent" type="varchar210">
               <retailDoc:annotation>
                  <retailDoc:documentation>This is the supplier number for the supplier sites. For Suppliers, this field will be NULL.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="store_delivery_discrepancy" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="final_dest_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>Final Destination Indicator.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="number12_4">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:decimal">
         <xs:totalDigits value="12"/>
         <xs:fractionDigits value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar2250">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 250 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="250"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar210">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar22000">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 2000 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="2000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar220">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 20 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number4">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar2100">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 100 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="100"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar230">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar23">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number6">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 6.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="6"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar2120">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar215">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 15 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar26">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="6"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number2">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 2.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar24">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number10">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:long">
         <xs:totalDigits value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number20_4">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 4.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:decimal">
         <xs:totalDigits value="20"/>
         <xs:fractionDigits value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar29">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 9 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="9"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar21">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar2240">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 240 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="240"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
