AG_2019/SOA/JDAUpdateStyle/SOA/Schemas/RMS/Supplier/VendorRef.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/VendorRef/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/VendorRef/v1" xmlns:VendorOURef="http://www.oracle.com/retail/integration/base/bo/VendorOURef/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <retailDoc:annotation>
      <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
   </retailDoc:annotation>
   <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/VendorOURef/v1" schemaLocation="VendorOURef.xsd">
      <retailDoc:annotation>
         <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
      </retailDoc:annotation>
   </xs:import>
   <xs:element name="VendorRef">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="supplier" type="varchar210">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="VendorOURef:VendorOURef">
               <retailDoc:annotation>
                  <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="varchar210">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
