AG_2019/SOA/JDAUpdateStyle/SOA/Schemas/RMS/Supplier/VendorAddrRef.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/VendorAddrRef/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/VendorAddrRef/v1" version="1.0">
   <retailDoc:annotation>
      <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
   </retailDoc:annotation>
   <xs:element name="VendorAddrRef">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="supplier" type="varchar210">
               <retailDoc:annotation>
                  <retailDoc:documentation>Not Yet Available</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="seq_no" type="number4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Number indicating the sequence that addresses within the same type were entered.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="addr_type" type="varchar22">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="varchar210">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar22">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 2 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number4">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="4"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
