Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/TechLayer/DummyPBCarga/DummyPBCargaTechSvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/TechLayer/DummyPBCargaTechSvc_V1.0"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://xmlns.banesco.com/TechLayer/DummyPBCargaTechSvc_V1.0"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoCommon="http://xmlns.banesco.com/eo/MsgHdr_V1.0"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptDummyPBCarga="http://xmlns.banesco.com/eopt/DummyPBCarga_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EO/Common/MsgHdr_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/MsgHdr_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/DummyPBCarga/DummyPBCarga_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/DummyPBCarga_V1.0"/>
    </xsd:schema>
  </types>
  <message name="MsgHdrRq">
    <part name="MsgHdrRq" element="eoCommon:MsgHdr"/>
  </message>
  <message name="MsgHdrRs">
    <part name="MsgHdrRs" element="eoCommon:MsgHdr"/>
  </message>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="DummyPBCargaRq">
    <part name="DummyPBCargaRq" element="eoptDummyPBCarga:DummyPBCargaRq"/>
  </message>
  <message name="DummyPBCargaRs">
    <part name="DummyPBCargaRs" element="eoptDummyPBCarga:DummyPBCargaRs"/>
  </message>
  <portType name="DummyPBCargaTechSvc_V1.0PortType">
    <operation name="DummyPBCarga">
      <input message="tns:DummyPBCargaRq"/>
      <output message="tns:DummyPBCargaRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
  </portType>
  <service name="DummyPBCargaTechSvc_V1.0">
    <port name="DummyPBCargaTechSvcPort" binding="tns:DummyPBCargaTechSvc_V1.0SOAPBinding">
      <soap:address location="http://www.example.com"/>
    </port>
  </service>
  <binding name="DummyPBCargaTechSvc_V1.0SOAPBinding" type="tns:DummyPBCargaTechSvc_V1.0PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="DummyPBCarga">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/DummyPBCargaTechSvc_V1.0/DummyPBCarga"/>
      <input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="DummyPBCargaRq"/>
      </input>
      <output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="DummyPBCargaRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
</definitions>