AG_2019/OSB/AlmacenesGarcia_DEV/Applications/JDA/JDASupplier/Schema/JDAQuerySupplierSchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Applications/JDA/Supplier/QuerySupplier" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Applications/JDA/Supplier/QuerySupplier" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:supp="http://mx.agarcia.ea/Canonical/Commons/Suppliers/v1">

  <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
  <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>

  <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/SupplierCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Suppliers/v1"/>


  <xs:element name="findSupplierByIdRequest" type="base:QuerySupplierRequestType"/>
  <xs:element name="findSupplierByIdResponse" type="base:QuerySupplierResponseType"/>
  
  
  <xs:complexType name="QuerySupplierRequestType">
    <xs:sequence>
      <xs:element name="supplierId" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="QuerySupplierResponseType">
    <xs:sequence>
      <xs:element name="supplier" type="supp:Supplier"/>
    </xs:sequence>
  </xs:complexType>
  
  
</xs:schema>