BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ConsultarBitacoraProcesoCliente/XSD/ConsultarBitacoraProcesoClienteDB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarBitacoraProcesoClienteDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarBitacoraProcesoClienteDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarBitacoraProcesoClienteDBInput" type="ConsultarBitacoraProcesoClienteDBInput"/>
   <xs:complexType name="ConsultarBitacoraProcesoClienteDBInput">
      <xs:sequence>
         <xs:element name="idProceso" type="xs:int" nillable="true" minOccurs="0"/>
         <xs:element name="idCliente" type="xs:int" nillable="true" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarBitacoraProcesoClienteDBOutputCollection" type="ConsultarBitacoraProcesoClienteDBOutputCollection"/>
   <xs:complexType name="ConsultarBitacoraProcesoClienteDBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarBitacoraProcesoClienteDBOutput" type="ConsultarBitacoraProcesoClienteDBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarBitacoraProcesoClienteDBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="INSTANCIA_PROCESO" type="xs:string"/>
         <xs:element name="ID_PROCESO" type="xs:decimal"/>
         <xs:element name="ID_CLIENTE" type="xs:decimal"/>
         <xs:element name="BAN_FINALIZADO" type="xs:decimal"/>
         <xs:element name="USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="NOMBRE_USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TAREA" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>