BCIE_fenix/features/MCP/7705/ADF-BPM/bpm/PC03Analisis/PC03AnalisisProcess/SOA/WSDLs/AnalisisSinRiesgoProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AnalisisSinRiesgoProcess" xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Analisis/Payload/V1"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/AnalisisSinRiesgoProcess" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AnalisisSinRiesgoProcess">
            <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Analisis/Payload/V1" schemaLocation="../Schemas/Analisis/V1/AnalisisPayload.xsd"/>
            <xsd:element name="FinAnalisisSinRiesgoResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:AnalisisPayload"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="IniciaAnalisisSinRiesgo">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:AnalisisPayload"/>
                        <xsd:element name="retornoGerencia" type="xsd:boolean"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="FinAnalisisSinRiesgoResponse">
        <wsdl:part name="parameters" element="tns:FinAnalisisSinRiesgoResponse"/>
    </wsdl:message>
    <wsdl:message name="IniciaAnalisisSinRiesgo">
        <wsdl:part name="parameters" element="tns:IniciaAnalisisSinRiesgo"/>
    </wsdl:message>
    <wsdl:portType name="AnalisisSinriesgoCPortType">
        <wsdl:operation name="IniciaAnalisisSinRiesgo">
            <wsdl:input message="tns:IniciaAnalisisSinRiesgo"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="AnalisisSinriesgoCPortTypeCallBack">
        <wsdl:operation name="FinAnalisisSinRiesgo">
            <wsdl:input message="tns:FinAnalisisSinRiesgoResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="AnalisisSinriesgoCPortTypePartnerLinkType">
        <plnk:role name="AnalisisSinriesgoCPortTypeProvider">
            <plnk:portType name="tns:AnalisisSinriesgoCPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
