Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Payment/PmtUtilHubAdd/PmtUtilHubAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/PmtUtilHubAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptPmtUtilHubAdd="http://xmlns.banesco.com/eopt/PmtUtilHubAdd_V1.0" xmlns:eoPmt="http://xmlns.banesco.com/eo/Pmt_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Pmt_V1.0" schemaLocation="../../../EO/Pmt/Pmt_V1.0.xsd"/>
	<xs:element name="PmtUtilHubAddRq_Type" type="eoptPmtUtilHubAdd:PmtUtilHubAddRq_Type"/>
	<xs:complexType name="PmtUtilHubAddRq_Type">
		<xs:sequence>
			<xs:element name="Pmt" type="eoPmt:Pmt" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Payment que contiene los datos del pago a realizar.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PmtUtilHubAddRs_Type" type="eoptPmtUtilHubAdd:PmtUtilHubAddRs_Type"/>
	<xs:complexType name="PmtUtilHubAddRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtKey" type="eoPmt:PmtKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto PmtKey que contiene información de la identificación del pago realizado.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtCreditDetail" type="eoPmt:PmtCreditDetail" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto PmtCreditDetail que contiene información del detalle del pago realizado.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PmtUtilHubAddRq" type="eoptPmtUtilHubAdd:PmtUtilHubAddRq_Type"/>
	<xs:element name="PmtUtilHubAddRs" type="eoptPmtUtilHubAdd:PmtUtilHubAddRs_Type"/>
</xs:schema>
