Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Account/AcctStmtHisInq/AcctStmtHisInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctStmtHisInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcctStmtHisInq="http://xmlns.banesco.com/eopt/AcctStmtHisInq_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../../../EO/Common/Common_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:element name="AcctStmtHisInqRq_Type" type="eoptAcctStmtHisInq:AcctStmtHisInqRq_Type"/>
	<xs:complexType name="AcctStmtHisInqRq_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto AcctKey que contiene los datos de la cuenta a consultar.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MonthYear" type="eoCom:monthYearPattern" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mes y año a consultar. Patron MM-YYYY, donde YYYY indica el año y MM indica el mes</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctStmtHisInqRs_Type" type="eoptAcctStmtHisInq:AcctStmtHisInqRs_Type"/>
	<xs:complexType name="AcctStmtHisInqRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctBal" type="eoAcct:AcctBal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto AcctBal que contiene los datos del balance de la cuenta consultada.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctStmtHisInqRq" type="eoptAcctStmtHisInq:AcctStmtHisInqRq_Type"/>
	<xs:element name="AcctStmtHisInqRs" type="eoptAcctStmtHisInq:AcctStmtHisInqRs_Type"/>
</xs:schema>
