BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDocumento/ConsultarDocumentoTarea/XSD/ConsultarDocumentoTareaDB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarDocumentoTareaDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarDocumentoTareaDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarDocumentoTareaDBInput" type="ConsultarDocumentoTareaDBInput"/>
   <xs:complexType name="ConsultarDocumentoTareaDBInput">
      <xs:sequence>
         <xs:element name="idTarea" type="xs:decimal" nillable="true"/>
         <xs:element name="puedeConsultar" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarDocumentoTareaDBOutputCollection" type="ConsultarDocumentoTareaDBOutputCollection"/>
   <xs:complexType name="ConsultarDocumentoTareaDBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarDocumentoTareaDBOutput" type="ConsultarDocumentoTareaDBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarDocumentoTareaDBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_DOCUMENTO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TAREA_BPM" type="xs:decimal" nillable="true"/>
         <xs:element name="PUEDE_CREAR" type="xs:decimal" nillable="true"/>
         <xs:element name="PUEDE_MODIFICAR" type="xs:decimal" nillable="true"/>
         <xs:element name="PUEDE_BORRAR" type="xs:decimal" nillable="true"/>
         <xs:element name="PUEDE_CONSULTAR" type="xs:decimal" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="MOSTRAR_ULTIMO" type="xs:decimal"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>