Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Account/Acct345Adv/Acct345Adv_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/Acct345Adv_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcct345Adv="http://xmlns.banesco.com/eopt/Acct345Adv_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:complexType name="Acct345AdvRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Acct345AdvRq" type="eoptAcct345Adv:Acct345AdvRq_Type"/>
	<xs:complexType name="Acct345AdvRq_Type">
		<xs:sequence>
			<xs:element name="Authoriser" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Información del usuario que autoriza el registro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sucursal de la transacción</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Id" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Id de la transacción</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Inputter" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Información del usuario que crea el
registro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransactionType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Transacción</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Acct345AdvRs" type="eoptAcct345Adv:Acct345AdvRs_Type"/>
</xs:schema>
