BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/CANALES/AutenticarUsuario/WSDL/AutenticarUsuario.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSB_BCIE/CANALES/AutenticarUsuario" xmlns:usMO="http://www.bcie.org/UsuarioMO" xmlns:usBO="http://www.bcie.org/UsuarioBO" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="AutenticarUsuario">Servicio para AutenticarUsuario</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.bcie.org/UsuarioMO" schemaLocation="../../../MDS/Resources/ComponentesComunes/Utilidades/Usuario/V1/Schema/UsuarioMO.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.bcie.org/AutenticarUsuario" schemaLocation="../XSD/AutenticarUsuarioResponse_JSON.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="autenticarUsuario">
            <request>
               <param name="usuario" style="query" soa:expression="$msg.request/usMO:usuario/usBO:usuario" default="" type="xsd:string"/>
               <param name="password" style="query" soa:expression="$msg.request/usMO:usuario/usBO:password" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:AutenticarUsuario" xmlns:cns="http://www.bcie.org/AutenticarUsuario"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
