Banesco_2023/SOA/BanescoT24SOA/COMP_Commons/SOA/WSDLs/ADSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="ADSvc"
                  targetNamespace="http://xmlns.banesco.com/service/ADSvc"
                  xmlns:tns="http://xmlns.banesco.com/service/ADSvc"
                  xmlns:xs="http://www.w3.org/2001/XMLSchema" 
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                  xmlns:eoptObtUsuarioAD="http://xmlns.banesco.com/eopt/ObtenerUsuarioAD"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema targetNamespace="http://xmlns.banesco.com/eopt/ObtenerUsuarioAD" 
            xmlns:eoptObtUsuarioAD="http://xmlns.banesco.com/eopt/ObtenerUsuarioAD"
            elementFormDefault="qualified">
      <xs:complexType name="ObtenerUsuarioADRq_Type">
        <xs:sequence>
          <xs:element name="sAMAccountName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Nombre del usuario or Login</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ObtenerUsuarioADRs_Type">
        <xs:sequence>
          <xs:element name="userPrincipalName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identificador del usuario con dominio</xs:documentation>
            </xs:annotation>
          </xs:element>
                    <xs:element name="title" type="xs:string">
            <xs:annotation>
              <xs:documentation>Cargo del colaborador</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="wWWHomePage" type="xs:string">
            <xs:annotation>
              <xs:documentation>Nombre del equipo</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="company" type="xs:string">
            <xs:annotation>
              <xs:documentation>VP de Colaborador</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="department" type="xs:string">
            <xs:annotation>
              <xs:documentation>Departamento del Colaborador</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="homePhone" type="xs:string">
            <xs:annotation>
              <xs:documentation>Numero de telefono</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="sAMAccountName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Nombre del usuario or Login</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="manager" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identificador del supervisor</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="mobile" type="xs:string">
            <xs:annotation>
              <xs:documentation>Numero de telefono movil</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="physicalDeliveryOfficeName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Ubicación Fisica</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="postalCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Codigo postal</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="postOfficeBox" type="xs:string">
            <xs:annotation>
              <xs:documentation>Direccion (linea 4)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="streetAddress" type="xs:string">
            <xs:annotation>
              <xs:documentation>Direccion (linea 1)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="telephoneNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Numero de telefono</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="mail" type="xs:string">
            <xs:annotation>
              <xs:documentation>Correo electronico</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="givenName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Nombres</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="sn" type="xs:string">
            <xs:annotation>
              <xs:documentation>Apellidos</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="displayName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Nombre preferido</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="facsimileTelephoneNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Numero de telefono fax</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ObtenerUsuarioADRq" type="eoptObtUsuarioAD:ObtenerUsuarioADRq_Type"/>
      <xs:element name="ObtenerUsuarioADRs" type="eoptObtUsuarioAD:ObtenerUsuarioADRs_Type"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerUsuarioADRq">
    <wsdl:part name="ObtenerUsuarioADRq" element="eoptObtUsuarioAD:ObtenerUsuarioADRq"/>
  </wsdl:message>
  <wsdl:message name="ObtenerUsuarioADRs">
    <wsdl:part name="ObtenerUsuarioADRs" element="eoptObtUsuarioAD:ObtenerUsuarioADRs"/>
  </wsdl:message>
  <wsdl:portType name="ObtenerUsuarioADPortType">
    <wsdl:operation name="ObtenerUsuarioAD">
      <wsdl:input message="tns:ObtenerUsuarioADRq"/>
      <wsdl:output message="tns:ObtenerUsuarioADRs"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ADSvcSOAP12Binding" type="tns:ObtenerUsuarioADPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ObtenerUsuarioAD">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body use="literal" parts="ObtenerUsuarioADRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="ObtenerUsuarioADRs"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
    <wsdl:binding name="ADSvcBinding" type="tns:ObtenerUsuarioADPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ObtenerUsuarioAD">
      <soap:operation/>
      <wsdl:input>
        <soap:body use="literal" parts="ObtenerUsuarioADRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="ObtenerUsuarioADRs"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ADSvc">
    <wsdl:port name="ADSvcPort" binding="tns:ADSvcBinding">
      <soap:address location="http://www.example.com"/>
    </wsdl:port>
    <wsdl:port name="ADSvcSOAP12Port" binding="tns:ADSvcSOAP12Binding">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
