BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ValidarClienteEnProceso/V1/Schema/ValidarClienteEnProcesoMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ValidarClienteEnProcesoMO"
            targetNamespace="http://www.bcie.org/ValidarClienteEnProcesoMO" elementFormDefault="qualified"
            xmlns:valCteBO="http://www.bcie.org/ValidarClienteEnProcesoBO" xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import namespace="http://www.bcie.org/ValidarClienteEnProcesoBO" schemaLocation="ValidarClienteEnProcesoBO.xsd"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="ValidarClienteEnProcesoRequest" type="ValidarClienteEnProcesoRequestType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ValidarClienteEnProcesoResponse" type="ValidarClienteEnProcesoResponseType"/>
  <xsd:complexType name="ValidarClienteEnProcesoRequestType">
    <xsd:sequence>
      <xsd:element name="ClienteEnProceso" type="valCteBO:ClienteProceso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarClienteEnProcesoResponseType">
    <xsd:sequence>
      <xsd:element name="EnProceso" type="xsd:boolean"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
