AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/StoreApp/Resources/SyncStoreMDM_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/SyncStoreMDM" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/SyncStoreMDM" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="MdmRetailstoresCollection" type="MdmRetailstoresCollection"/>
   <xs:complexType name="MdmRetailstoresCollection">
      <xs:sequence>
         <xs:element name="MdmRetailstores" type="MdmRetailstores" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MdmRetailstores">
      <xs:sequence>
         <xs:element name="id" type="xs:long"/>
         <xs:element name="appCode" type="string8" minOccurs="0"/>
         <xs:element name="name" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="primaryId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="primaryAppcode" type="string8" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string8">
      <xs:restriction base="xs:string">
         <xs:maxLength value="8"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>