BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ActualizarReactivarOperacion/XSD/ActualizarReactivarOperacion_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ActualizarReactivarOperacion_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ActualizarReactivarOperacion_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ActualizarReactivarOperacion_DBInput" type="ActualizarReactivarOperacion_DBInput"/>
   <xs:complexType name="ActualizarReactivarOperacion_DBInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:string" nillable="true"/>
         <xs:element name="idProceso" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>