AG_2019/OSB/OSB_PRD_Almacenes/Applications/RetailMerchandising/IGS/XCostChgPublishingService/Schema/XMLSchema_1939811839.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema targetNamespace="http://www.oracle.com/retail/igs/integration/services/XCostChgPublishingService/v1" xmlns:ns0="http://www.oracle.com/retail/igs/integration/services/XCostChgPublishingService/v1" xmlns:ns1="http://www.oracle.com/retail/integration/base/bo/XCostChgDesc/v1" xmlns:ns2="http://www.oracle.com/retail/integration/services/ServiceOpStatus/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import schemaLocation="XMLSchema_1059602818.xsd" namespace="http://www.oracle.com/retail/integration/base/bo/XCostChgDesc/v1"/><xsd:import schemaLocation="XMLSchema_766199811.xsd" namespace="http://www.oracle.com/retail/integration/services/ServiceOpStatus/v1"/><xsd:complexType name="ping"><xsd:sequence><xsd:element name="arg0" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="pingResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="publishXCostChgModifyUsingXCostChgDesc"><xsd:sequence><xsd:element ref="ns1:XCostChgDesc" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="publishXCostChgModifyUsingXCostChgDescResponse"><xsd:sequence><xsd:element ref="ns2:ServiceOpStatus" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="ping" type="ns0:ping"/><xsd:element name="pingResponse" type="ns0:pingResponse"/><xsd:element name="publishXCostChgModifyUsingXCostChgDesc" type="ns0:publishXCostChgModifyUsingXCostChgDesc"/><xsd:element name="publishXCostChgModifyUsingXCostChgDescResponse" type="ns0:publishXCostChgModifyUsingXCostChgDescResponse"/></xsd:schema>