BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/ConsultarComisionByIdLineaCredito/XSD/ConsultarComisionByIdLineaCredito.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarComisionByIdLineaCredito"
           xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarComisionByIdLineaCredito"
           elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConsultarComisionByIdLineaCreditoInput" type="ConsultarComisionByIdLineaCreditoInput"/>
  <xs:complexType name="ConsultarComisionByIdLineaCreditoInput">
    <xs:sequence>
      <xs:element name="IDLINEACREDITO" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarComisionByIdLineaCreditoOutputCollection"
              type="ConsultarComisionByIdLineaCreditoOutputCollection"/>
  <xs:complexType name="ConsultarComisionByIdLineaCreditoOutputCollection">
    <xs:sequence>
      <xs:element name="ConsultarComisionByIdLineaCreditoOutput" type="ConsultarComisionByIdLineaCreditoOutput"
                  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarComisionByIdLineaCreditoOutput">
    <xs:sequence>
   <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_COMISION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_MONEDA" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_MONTO_BASE" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO_BASE" type="xs:decimal" nillable="true"/>
         <xs:element name="VALOR_COMISION" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_VALOR" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_VENCIMIENTO" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_INICIO" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_FRECUENCIA" type="xs:decimal" nillable="true"/>
         <xs:element name="FRECUENCIA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_FONDO" type="xs:decimal" nillable="true"/>
         <xs:element name="COMISION_COMPARTIDA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_ESTADO_TCC" type="xs:decimal" nillable="true"/>
         <xs:element name="BAN_SUGERIDA" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="CODIGO_CONTRATO" type="xs:string" nillable="true"/>
         <xs:element name="TIPO_TASA" type="xs:decimal" nillable="true"/>
         <xs:element name="BASE_CALCULO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_INICIO_COMISION" type="xs:dateTime" nillable="true"/>
         <xs:element name="TIPO_COMISION" type="xs:string" nillable="true"/>
         <xs:element name="NUMERO_TESORERIA" type="xs:string" nillable="true"/>
         <xs:element name="RESPONSABLE_COMISION" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_SUB_ESTADO_TCC" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_COMISION_ENMENDADA" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_ENMIENDA" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TCA_MOMENTO_COBRO" type="xs:decimal" nillable="true"/>
         <xs:element name="TIPO_FRECUENCIA" type="xs:string" nillable="true"/>
          <xs:element name="BASE_COD_EXTERNO" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>