BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/BusinessRules/ObtenerDisponibilidadRecursos/V1/Schema/ObtenerDisponibilidadRecursos.xsd

<?xml version='1.0' encoding='windows-1252'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org"
            targetNamespace="http://www.bcie.org" elementFormDefault="qualified">
  <xsd:element name="ObtenerDisponibilidadRecursosRequest" type="ObtenerDisponibilidadRecursosRequestType"/>
  <xsd:element name="ObtenerDisponibilidadRecursosResponse" type="ObtenerDisponibilidadRecursosResponseType"/>
  <xsd:complexType name="ObtenerDisponibilidadRecursosRequestType">
    <xsd:sequence>
      <xsd:element name="moneda" type="xsd:string"/>
      <xsd:element name="monto" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerDisponibilidadRecursosResponseType">
    <xsd:sequence>
      <xsd:element name="dias" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
