BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Evaluacion/V1/Wsdl/Evaluacion.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="Evaluacion" targetNamespace="http://xmlns.bcie.com/EvaluacionService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:evaMO="http://www.bcie.org/EvaluacionMO"
                  xmlns:tns="http://xmlns.bcie.com/EvaluacionService"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/EvaluacionMO"
                  schemaLocation="../Schema/EvaluacionMO.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <!-- Create -->
  <wsdl:message name="requestCrearEvaluacionMessage">
    <wsdl:part name="request" element="evaMO:CrearEvaluacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseCrearEvaluacionMessage">
    <wsdl:part name="response" element="evaMO:CrearEvaluacionResponse"/>
  </wsdl:message>

  <wsdl:message name="requestConsultarCuestionarioMessage">
    <wsdl:part name="request" element="evaMO:ConsultarCuestionarioRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarCuestionarioMessage">
    <wsdl:part name="response" element="evaMO:ConsultarCuestionarioResponse"/>
  </wsdl:message>

  <wsdl:message name="requestConsultarEvaluacionMessage">
    <wsdl:part name="request" element="evaMO:ConsultarEvaluacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarEvaluacionMessage">
    <wsdl:part name="response" element="evaMO:ConsultarEvaluacionResponse"/>
  </wsdl:message>

  <!-- Delete -->
  <wsdl:message name="requestEliminarCuestionarioMessage">
    <wsdl:part name="request" element="evaMO:EliminarCuestionarioRequest"/>
  </wsdl:message>
  <wsdl:message name="responseEliminarCuestionarioMessage">
    <wsdl:part name="response" element="evaMO:EliminarCuestionarioResponse"/>
  </wsdl:message>
  
  <!-- EnviarEvaluacion -->
  <wsdl:message name="EnviarEvaluacionRequest">
    <wsdl:part name="EnviarEvaluacionRequest" element="evaMO:EnviarEvaluacionRequest"/>
  </wsdl:message>
  <wsdl:message name="EnviarEvaluacionResponse">
    <wsdl:part name="EnviarEvaluacionResponse" element="evaMO:EnviarEvaluacionResponse"/>
  </wsdl:message>

  <wsdl:portType name="EvaluacionPT">
    <!-- Create -->
    <wsdl:operation name="crearEvaluacion">
      <wsdl:documentation>Crear una Evaluacion</wsdl:documentation>
      <wsdl:input message="tns:requestCrearEvaluacionMessage"/>
      <wsdl:output message="tns:responseCrearEvaluacionMessage"/>
    </wsdl:operation>
    
    <!-- Read -->
    <wsdl:operation name="ConsultarCuestionario">
      <wsdl:input message="tns:requestConsultarCuestionarioMessage"/>
      <wsdl:output message="tns:responseConsultarCuestionarioMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEvaluacion">
      <wsdl:input message="tns:requestConsultarEvaluacionMessage"/>
      <wsdl:output message="tns:responseConsultarEvaluacionMessage"/>
    </wsdl:operation>

    <!-- Delete -->
    <wsdl:operation name="EliminarCuestionario">
      <wsdl:documentation>Crear una Evaluaciones</wsdl:documentation>
      <wsdl:input message="tns:requestEliminarCuestionarioMessage"/>
      <wsdl:output message="tns:responseEliminarCuestionarioMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CompensarEvaluacion">
      <wsdl:input message="tns:requestCompensarEvaluacionMessage"/>
      <wsdl:output message="tns:responseCompensarEvaluacionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="DuplicarCuestionario">
      <wsdl:input message="tns:requestDuplicarCuestionarioMessage"/>
      <wsdl:output message="tns:responseDuplicarCuestionarioMessage"/>
    </wsdl:operation>
    
    <!-- EnviarEvaluacion -->
    <wsdl:operation name="EnviarEvaluacion">
      <wsdl:input message="tns:EnviarEvaluacionRequest"/>
      <wsdl:output message="tns:EnviarEvaluacionResponse"/>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="Evaluacion12Bnd" type="tns:EvaluacionPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <!-- Create -->
    <wsdl:operation name="crearEvaluacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/EvaluacionService/crearEvaluacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    
    <!-- Read -->
    <wsdl:operation name="ConsultarCuestionario">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/EvaluacionService/ConsultarCuestionario"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEvaluacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/EvaluacionService/ConsultarEvaluacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>

    <!-- Delete -->
    <wsdl:operation name="EliminarCuestionario">
      <soap12:operation style="document"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="CompensarEvaluacion">
      <soap12:operation style="document"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="DuplicarCuestionario">
      <soap12:operation style="document"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <!-- EnviarEvaluacion -->
     <wsdl:operation name="EnviarEvaluacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/EvaluacionService/EnviarEvaluacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="EnviarEvaluacionRequest"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="EnviarEvaluacionResponse"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="requestCompensarEvaluacionMessage">
    <wsdl:part name="request" element="evaMO:CompensarEvaluacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseCompensarEvaluacionMessage">
    <wsdl:part name="response" element="evaMO:CompensarEvaluacionResponse"/>
  </wsdl:message>
  <wsdl:message name="requestDuplicarCuestionarioMessage">
    <wsdl:part name="request" element="evaMO:DuplicarEvaluacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseDuplicarCuestionarioMessage">
    <wsdl:part name="response" element="evaMO:DuplicarEvaluacionResponse"/>
  </wsdl:message>
</wsdl:definitions>
