BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/LIM/WSDL/LIM.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions xmlns="" name="LIM" targetNamespace="http://org/bcie/ws/middle/LIM/LIM.wsdl" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.w3.org/2001/XMLSchema" xmlns:WL5G3N2="http://org/bcie/ws/middle/LIM/LIM.wsdl/types/" xmlns:WL5G3N3="http://org/bcie/ws/middle/LIM/LIM.wsdl" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://org/bcie/ws/middle/LIM/LIM.wsdl/types/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns0="http://org/bcie/ws/middle/LIM/LIM.wsdl/types/" targetNamespace="http://org/bcie/ws/middle/LIM/LIM.wsdl/types/" elementFormDefault="qualified">
      <xsd:complexType name="LimiteTypeUserArray">
        <xsd:sequence>
          <xsd:element name="LimiteTypeUser" type="tns:LimiteTypeUser" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LimiteTypeUser">
        <xsd:complexContent>
          <xsd:extension base="tns:LimiteTypeBase">
            <xsd:sequence>
              <xsd:element name="id" type="decimal" nillable="true"/>
              <xsd:element name="valor" type="string" nillable="true"/>
              <xsd:element name="esPorcentaje" type="string" nillable="true"/>
              <xsd:element name="descripcion" type="string" nillable="true"/>
              <xsd:element name="difValor" type="decimal" nillable="true"/>
              <xsd:element name="difPorcentaje" type="decimal" nillable="true"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LimiteTypeBase">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:complexType name="LimOperacionTypeUserArray">
        <xsd:sequence>
          <xsd:element name="LimOperacionTypeUser" type="tns:LimOperacionTypeUser" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="LimOperacionTypeUser">
        <xsd:complexContent>
          <xsd:extension base="tns:LimOperacionTypeBase">
            <xsd:sequence>
              <xsd:element name="montoUsd" type="decimal" nillable="true"/>
              <xsd:element name="destino" type="string" nillable="true"/>
              <xsd:element name="grupoEconomico" type="decimal" nillable="true"/>
              <xsd:element name="pais" type="string" nillable="true"/>
              <xsd:element name="cliente" type="string" nillable="true"/>
              <xsd:element name="tipoPersona" type="string" nillable="true"/>
              <xsd:element name="sectorInstitucional" type="string" nillable="true"/>
              <xsd:element name="tipoGarantia" type="decimal" nillable="true"/>
              <xsd:element name="revolvente" type="string" nillable="true"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="LimOperacionTypeBase">
        <xsd:sequence/>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="LIM_validarLimites">
    <WL5G3N0:part name="pais" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoCliente" type="WL5G3N1:string"/>
    <WL5G3N0:part name="grupoEmpresarial" type="WL5G3N1:string"/>
    <WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
    <WL5G3N0:part name="monto" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="sectorInstitucional" type="WL5G3N1:string"/>
    <WL5G3N0:part name="tipoGarantia" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="destino" type="WL5G3N1:string"/>
    <WL5G3N0:part name="revolvente" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="LIM_validarLimitesResponse">
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="listaLimites_out" type="WL5G3N2:LimiteTypeUserArray"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="LIM_validarLimitesOperacion">
    <WL5G3N0:part name="operaciones" type="WL5G3N2:LimOperacionTypeUserArray"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="LIM_validarLimitesOperacionResponse">
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="listaLimites_out" type="WL5G3N2:LimiteTypeUserArray"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="LIM">
    <WL5G3N0:operation name="validarLimites" parameterOrder="pais codigoCliente grupoEmpresarial moneda monto sectorInstitucional tipoGarantia destino revolvente codigoResultado_out tipoResultado_out mensaje_out listaLimites_out">
      <WL5G3N0:input message="WL5G3N3:LIM_validarLimites"/>
      <WL5G3N0:output message="WL5G3N3:LIM_validarLimitesResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validarLimitesOperacion" parameterOrder="operaciones codigoResultado_out tipoResultado_out mensaje_out listaLimites_out">
      <WL5G3N0:input message="WL5G3N3:LIM_validarLimitesOperacion"/>
      <WL5G3N0:output message="WL5G3N3:LIM_validarLimitesOperacionResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="LIM" type="WL5G3N3:LIM">
    <WL5G3N4:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <WL5G3N0:operation name="validarLimites">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/LIM/LIM.wsdl/validarLimites"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/LIM/LIM.wsdl" parts="pais codigoCliente grupoEmpresarial moneda monto sectorInstitucional tipoGarantia destino revolvente "/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/LIM/LIM.wsdl" parts="codigoResultado_out tipoResultado_out mensaje_out listaLimites_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="validarLimitesOperacion">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/LIM/LIM.wsdl/validarLimitesOperacion"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/LIM/LIM.wsdl" parts="operaciones "/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/LIM/LIM.wsdl" parts="codigoResultado_out tipoResultado_out mensaje_out listaLimites_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="LIM">
    <WL5G3N0:port name="LIM" binding="WL5G3N3:LIM">
      <WL5G3N4:address location="http://hn-obpm-dev:7031/MIDDLE/LIM"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>