AG_2019/SOA/CreateSKUProcess/SOA/Schemas/BusinessAreas/Products/StoredValue/StoredValueCommonSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Products/StoredValue/Commons/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Products/StoredValue/Commons/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" xmlns:comm="http://mx.agarcia.ea/Commons/Types/v1" xmlns:cretx="http://mx.agarcia.ea/Commons/RetailTransaction/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="../../../Commons/CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:import schemaLocation="../../../Commons/CommonTypeSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Types/v1"/>
   <xs:import schemaLocation="../../../Commons/RetailTransactionCommonSchema.xsd" namespace="http://mx.agarcia.ea/Commons/RetailTransaction/v1"/>
   <xs:complexType name="StoredValueFundType">
      <xs:complexContent>
         <xs:extension base="cretx:RetailTransactionItem">
            <xs:sequence>
               <xs:element form="qualified" minOccurs="0" name="Account" type="base:StoredValueAccountType">
                  <xs:annotation>
                     <xs:documentation>The acount to which all the instruments
								reference
							</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Instrument" type="StoredValueInstrumentType">
                  <xs:annotation>
                     <xs:documentation>Physical stored value cards</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute default="Activation" form="unqualified" name="Action" type="base:StoredValueInstrumentActionCode" use="optional"/>
            <xs:attribute default="GiftCard" form="unqualified" name="TypeCode" type="base:StoredValueInstrumentTypeCode" use="optional">
               <xs:annotation>
                  <xs:documentation>An attribute type that allows the Stored Value
							Application
							to interrogate and execute business rules. Examples include (gift,
							store credit, merchandise return, layaway, phone,
							etc.)
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="StoredValueAccountType">
      <xs:complexContent>
         <xs:extension base="TenderAccountInfo">
            <xs:attribute default="Active" form="unqualified" name="State" type="StoredValueAccountStateCode" use="optional">
               <xs:annotation>
                  <xs:documentation>Active, Inactive, Suspended, Overdrawn
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="StoredValueInstrumentType">
      <xs:complexContent>
         <xs:extension base="TenderVoucher">
            <xs:attribute default="Active" form="unqualified" name="State" type="StoredValueInstrumentStateCode" use="optional"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="StoredValueInstrumentActionCode">
      <xs:union memberTypes="StoredValueInstrumentActionEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="StoredValueInstrumentActionEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Activation"/>
         <xs:enumeration value="Void"/>
         <xs:enumeration value="Cancel"/>
         <xs:enumeration value="Associate"/>
         <xs:enumeration value="Stolen"/>
         <xs:enumeration value="Expired"/>
         <xs:enumeration value="Deactivate"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="StoredValueInstrumentTypeCode">
      <xs:union memberTypes="StoredValueInstrumentTypeEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="StoredValueInstrumentTypeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="GiftCard"/>
         <xs:enumeration value="GiftCertificate"/>
         <xs:enumeration value="PhoneCard"/>
         <xs:enumeration value="SmartCard"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="StoredValueAccountStateCode">
      <xs:union memberTypes="StoredValueAccountStateEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="StoredValueAccountStateEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Active"/>
         <xs:enumeration value="Inactive"/>
         <xs:enumeration value="Suspended"/>
         <xs:enumeration value="Overdrawn"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="StoredValueInstrumentStateCode">
      <xs:union memberTypes="StoredValueInstrumentStateEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="StoredValueInstrumentStateEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Active"/>
         <xs:enumeration value="Inactive"/>
         <xs:enumeration value="Expired"/>
         <xs:enumeration value="Stolen"/>
         <xs:enumeration value="Damaged"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="StoredValueActions">
      <xs:union memberTypes="StoredValueActionsEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="StoredValueActionsEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Deactivate"/>
         <xs:enumeration value="Cashout"/>
         <xs:enumeration value="Recharge"/>
         <xs:enumeration value="Replace"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="StoredValueDirections">
      <xs:union memberTypes="base:StoredValueDirectionsEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="StoredValueDirectionsEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="To"/>
         <xs:enumeration value="From"/>
         <xs:enumeration value="Other"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
