BCIE_fenix/features/MCP/7705/SOA/03-SOA-SERVICES/BusinessRules/ValidarNoObjecion/SOA/Schemas/ValidarNoObjecion_Rules_DecisionService_1MessageTypes.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/ValidarNoObjecion_Rules/ValidarNoObjecion_Rules_DecisionService_1" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:tns="http://xmlns.oracle.com/ValidarNoObjecion_Rules/ValidarNoObjecion_Rules_DecisionService_1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:bpelpm="http://xmlns.oracle.com/bpel" xmlns:rules="http://xmlns.oracle.com/bpel/rules" xmlns:ns1="http://xmlns.bcie.org/EstadosDeclaracion">
   <import namespace="http://xmlns.bcie.org/EstadosDeclaracion" schemaLocation="oramds:/apps/Resources/ComponentesComunes/Utilidades/ValidarNoObjecion/V1/Schema/EstadosDeclaracionMO.xsd"/>
   <import namespace="http://xmlns.oracle.com/bpel/rules" schemaLocation="DecisionServicePrimitiveTypes.xsd"/>
   <import namespace="http://xmlns.oracle.com/bpel"/>
   <include schemaLocation="ValidarNoObjecion_Rules_DecisionService_1Types.xsd"/>
   <element name="callFunctionStateless" type="tns:callFunctionStatelessType"/>
   <complexType name="callFunctionStatelessType">
      <sequence>
         <element name="configURL" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="bpelInstance" type="bpelpm:tBpelProcess" minOccurs="0" maxOccurs="1"/>
         <element name="parameterList" minOccurs="1" maxOccurs="1" type="tns:parameterListType"/>
      </sequence>
      <attribute name="name" type="NCName" use="required"/>
   </complexType>
   <element name="callFunctionStatelessDecision" type="tns:callFunctionStatelessDecisionType"/>
   <complexType name="callFunctionStatelessDecisionType">
      <sequence>
         <element name="resultList" minOccurs="1" maxOccurs="1" type="tns:resultListType"/>
      </sequence>
   </complexType>
   <element name="callFunctionStateful" type="tns:callFunctionStatefulType"/>
   <complexType name="callFunctionStatefulType">
      <sequence>
         <element name="configURL" type="string" minOccurs="0" maxOccurs="1"/>
         <element name="bpelInstance" type="bpelpm:tBpelProcess" minOccurs="0" maxOccurs="1"/>
         <element name="parameterList" minOccurs="1" maxOccurs="1" type="tns:parameterListType"/>
      </sequence>
      <attribute name="name" type="NCName" use="required"/>
   </complexType>
   <element name="callFunctionStatefulDecision" type="tns:callFunctionStatefulDecisionType"/>
   <complexType name="callFunctionStatefulDecisionType">
      <sequence>
         <element name="resultList" minOccurs="1" maxOccurs="1" type="tns:resultListType"/>
      </sequence>
   </complexType>
   <complexType name="parameterListType">
      <sequence>
         <element ref="ns1:EstadosDeclaracionRequest"/>
      </sequence>
   </complexType>
   <complexType name="resultListType">
      <sequence>
         <element ref="ns1:EstadosDeclaracionResponse"/>
      </sequence>
   </complexType>
</schema>