BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/CrearActualizarOperacionProceso/V1/Schema/CrearActualizarOperacionProcesoMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="http://www.bcie.org/CrearActualizarOperacionProcesoMO"
            targetNamespace="http://www.bcie.org/CrearActualizarOperacionProcesoMO" 
            elementFormDefault="qualified"
            xmlns:opProBO="http://www.bcie.org/CrearActualizarOperacionProcesoBO"
            xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import namespace="http://www.bcie.org/CrearActualizarOperacionProcesoBO"
              schemaLocation="CrearActualizarOperacionProcesoBO.xsd"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="CrearActualizarOperacionProcesoRequest" type="CrearActualizarOperacionProcesoRequestType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CrearActualizarOperacionProcesoResponse" type="CrearActualizarOperacionProcesoResponseType"/>
  <xsd:complexType name="CrearActualizarOperacionProcesoRequestType">
    <xsd:sequence>
      <xsd:element name="OperacionProceso" type="opProBO:OperacionProceso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarOperacionProcesoResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
