Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/BpaAASimulation/AASIMULATIONCAPTUREBPAPAYAMTType.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
            xmlns:ns0="http://www.temenos.com/T24/ofs/AASIMULATIONCAPTUREBPAPAYAMTType"
            xmlns:xdb="http://xmlns.oracle.com/xdb"
            targetNamespace="http://www.temenos.com/T24/ofs/AASIMULATIONCAPTUREBPAPAYAMTType"
            xdb:storeVarrayAsTable="true">
  <!-- This T24 XML Schema automatically produced -->
  <!-- Copyright Temenos Holdings NV 2018-->
  <!-- T24 Application: AA.SIMULATION.CAPTURE -->
  <!-- T24 Release: R16 -->
  <!-- Production timestamp: 17:15:57 24 AUG 2018 -->
  <xsd:element name="AASIMULATIONCAPTUREBPAPAYAMT" type="ns0:AASIMULATIONCAPTUREBPAPAYAMTType">
    <xsd:annotation>
      <xsd:documentation>This is the top level element for the record data</xsd:documentation>
      <xsd:appinfo>
        <hfp:hasProperty name="locked" value="no"/>
        <hfp:hasProperty name="useschema" value="no"/>
        <hfp:hasProperty name="register" value="no"/>
        <hfp:hasProperty name="aaPropertyName" value=""/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="AASIMULATIONCAPTUREBPAPAYAMTType" xdb:maintainDOM="false">
    <xsd:annotation>
      <xsd:documentation>This complex type represents the T24 data for the AA.SIMULATION.CAPTURE table</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element id="ARRANGEMENT" minOccurs="0" name="ARRANGEMENT" nillable="true" xdb:SQLName="ARRANGEMENT">
        <xsd:annotation>
          <xsd:documentation>ARRANGEMENT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="ARRANGEMENT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="12"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ACTIVITY" minOccurs="0" name="ACTIVITY" nillable="true" xdb:SQLName="ACTIVITY">
        <xsd:annotation>
          <xsd:documentation>ACTIVITY</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="ACTIVITY"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="EFFECTIVE.DATE" minOccurs="0" name="EFFECTIVEDATE" nillable="true" type="xsd:date"
                   xdb:SQLName="EFFECTIVE_DATE">
        <xsd:annotation>
          <xsd:documentation>EFFECTIVE.DATE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="EFFECTIVE.DATE"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gCUSTOMER">
        <xsd:complexType xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element id="CUSTOMER" maxOccurs="unbounded" minOccurs="0" name="CUSTOMER" nillable="true"
                         xdb:SQLName="CUSTOMER">
              <xsd:annotation>
                <xsd:documentation>CUSTOMER</xsd:documentation>
                <xsd:appinfo>
                  <hfp:hasProperty name="fielddatatype" value="numeric"/>
                  <hfp:hasProperty name="fieldname" value="CUSTOMER"/>
                </xsd:appinfo>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="10"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element id="PRODUCT" minOccurs="0" name="PRODUCT" nillable="true" xdb:SQLName="PRODUCT">
        <xsd:annotation>
          <xsd:documentation>PRODUCT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="PRODUCT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="CURRENCY" minOccurs="0" name="CURRENCY" nillable="true" xdb:SQLName="CURRENCY">
        <xsd:annotation>
          <xsd:documentation>CURRENCY</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="CURRENCY"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{3}"/>
            <xsd:length value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gPROPERTY">
        <xsd:complexType xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mPROPERTY">
              <xsd:complexType xdb:maintainDOM="false">
                <xsd:sequence minOccurs="0">
                  <xsd:element id="PROPERTY" minOccurs="0" name="PROPERTY" nillable="true" xdb:SQLName="PROPERTY">
                    <xsd:annotation>
                      <xsd:documentation>PROPERTY</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="PROPERTY"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="sgFIELDNAME">
                    <xsd:complexType xdb:maintainDOM="false">
                      <xsd:sequence minOccurs="0">
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="FIELDNAME">
                          <xsd:complexType xdb:maintainDOM="false">
                            <xsd:sequence minOccurs="0">
                              <xsd:element id="FIELD.NAME" minOccurs="0" name="FIELDNAME" nillable="true"
                                           xdb:SQLName="FIELD_NAME">
                                <xsd:annotation>
                                  <xsd:documentation>FIELD.NAME</xsd:documentation>
                                  <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string"/>
                                    <hfp:hasProperty name="fieldname" value="FIELD.NAME"/>
                                  </xsd:appinfo>
                                </xsd:annotation>
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="35"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element id="FIELD.VALUE" minOccurs="0" name="FIELDVALUE" nillable="true"
                                           xdb:SQLName="FIELD_VALUE">
                                <xsd:annotation>
                                  <xsd:documentation>FIELD.VALUE</xsd:documentation>
                                  <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string"/>
                                    <hfp:hasProperty name="fieldname" value="FIELD.VALUE"/>
                                  </xsd:appinfo>
                                </xsd:annotation>
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="100"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                            <xsd:attribute name="s" type="xsd:positiveInteger" use="optional"/>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                      <xsd:attribute name="sg" type="xsd:positiveInteger" use="optional"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="250"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>