Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/BpaAASimulation/RequestCommonType.xsd

<?xml version="1.0" encoding="utf-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:reqcns="http://www.temenos.com/T24/ofs/RequestCommon" targetNamespace="http://www.temenos.com/T24/ofs/RequestCommon">
	<xs:complexType name="RequestCommonType">
		<xs:sequence>
			<xs:element minOccurs="0" name="CompanyCode" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="UserName" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="GtsControl" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="MessageId" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="NoOfAuth" nillable="true" type="xs:string"/>
			<xs:element minOccurs="0" name="Replace" nillable="true" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="RequestCommon" nillable="true" type="reqcns:RequestCommonType"/>
</xs:schema>