Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Utility/AlertAdv/AlertAdv_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AlertAdv_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAlertAdv="http://xmlns.banesco.com/eopt/AlertAdv_V1.0" xmlns:eoAlert="http://xmlns.banesco.com/eo/Alert_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Alert_V1.0" schemaLocation="../../../EO/Alert/Alert_V1.0.xsd"/>
	<xs:element name="AlertAdvRq" type="eoptAlertAdv:AlertAdvRq_Type"/>
	<xs:element name="AlertAdvRs" type="eoptAlertAdv:AlertAdvRs_Type"/>
	<xs:complexType name="AlertAdvRq_Type">
		<xs:sequence>
			<xs:element name="Alert" type="eoAlert:Alert" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Información de la alerta/mensaje a enviar</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AlertAdvRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Elemento que representa el estatus del resultado de la operación</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
