BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/SolicitudAprobacion/ConsultarDecisionAprobacion/XSD/ConsultarDesAproByIdNivelAprobacion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarDesAproByIdNivelAprobacion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarDesAproByIdNivelAprobacion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarDesAproByIdNivelAprobacionInput" type="ConsultarDesAproByIdNivelAprobacionInput"/>
   <xs:complexType name="ConsultarDesAproByIdNivelAprobacionInput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarDesAproByIdNivelAprobacionOutputCollection" type="ConsultarDesAproByIdNivelAprobacionOutputCollection"/>
   <xs:complexType name="ConsultarDesAproByIdNivelAprobacionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarDesAproByIdNivelAprobacionOutput" type="ConsultarDesAproByIdNivelAprobacionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarDesAproByIdNivelAprobacionOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_NIVEL_APROBACION" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="COD_EXTERNO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>