BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/CrearBitacoraReglasDesembolso/V1/Schema/CrearBitacoraReglasDesembolsoMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/CrearBitacoraReglasDesembolsoMO"
            xmlns:ReDesBO="http://www.bcie.org/CrearBitacoraReglasDesembolsoBO"
            xmlns:resBO="http://www.bcie.org/ResultBO"
            targetNamespace="http://www.bcie.org/CrearBitacoraReglasDesembolsoMO" elementFormDefault="qualified">
  <xsd:import namespace="http://www.bcie.org/CrearBitacoraReglasDesembolsoBO"
              schemaLocation="CrearBitacoraReglasDesembolsoBO.xsd"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="CrearBitacoraReglasDesembolsoRequest" type="CrearBitacoraReglasDesembolsoRequestType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CrearBitacoraReglasDesembolsoResponse" type="CrearBitacoraReglasDesembolsoResponseType"/>
  <xsd:complexType name="CrearBitacoraReglasDesembolsoRequestType">
    <xsd:sequence>
      <xsd:element name="BitacoraReglasDesembolso" type="ReDesBO:BitacoraReglasDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearBitacoraReglasDesembolsoResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
