MIRA/SOA_PRD_Almacenes/CreateRetailStoreProcess/SOA/WSDLs/v1.0.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions targetNamespace="http://mx.agarcia.ea/Applications/JDA/RetailStores/CreateRetailStore/v1.0" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://mx.agarcia.ea/Applications/JDA/RetailStores/CreateRetailStore" xmlns:WL5G3N2="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:WL5G3N3="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:WL5G3N4="http://mx.agarcia.ea/Applications/JDA/RetailStores/CreateRetailStore/v1.0" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/">
   <WL5G3N0:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:client="http://mx.agarcia.ea/Applications/JDA/RetailStores/CreateRetailStore/v1.0" xmlns:ns1="http://mx.agarcia.ea/Applications/JDA/RetailStores/CreateRetailStore" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
         <import namespace="http://mx.agarcia.ea/Applications/JDA/RetailStores/CreateRetailStore" schemaLocation="../Schemas/JDACreateRetailStoreSchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../Schemas/AGStandardMessageSchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../Schemas/AGStandardHeaderSchema.xsd"/>
      </schema>
   </WL5G3N0:types>
   <WL5G3N0:message name="createRetailStoreRequestMessage">
      <WL5G3N0:part name="createRetailStoreRequestMessage" element="WL5G3N1:createRetailStoreRequest"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="createRetailStoreResponseMessage">
      <WL5G3N0:part name="createRetailStoreResponseMessage" element="WL5G3N1:createRetailStoreResponse"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="standardMessageFault">
      <WL5G3N0:part name="fault" element="WL5G3N3:messageError"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="standardMessageHeader">
      <WL5G3N0:part name="header" element="WL5G3N2:headerMessage"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="standardMessageHeaderResponse">
      <WL5G3N0:part name="headerRes" element="WL5G3N3:messageResponse"/>
   </WL5G3N0:message>
   <WL5G3N0:portType name="createRetailStorePort">
      <WL5G3N0:operation name="create">
         <WL5G3N0:input message="WL5G3N4:createRetailStoreRequestMessage"/>
         <WL5G3N0:output message="WL5G3N4:createRetailStoreResponseMessage"/>
         <WL5G3N0:fault name="fault" message="WL5G3N4:standardMessageFault"/>
      </WL5G3N0:operation>
   </WL5G3N0:portType>
   <WL5G3N0:binding name="createRetailStoreBinding" type="WL5G3N4:createRetailStorePort">
      <WL5G3N5:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <WL5G3N0:operation name="create">
         <WL5G3N5:operation style="document" soapAction="http://mx.agarcia.ea/Applications/JDA/RetailStores/CreateRetailStore/v1.0/create"/>
         <WL5G3N0:input>
            <WL5G3N5:body use="literal" parts="createRetailStoreRequestMessage"/>
            <WL5G3N5:header message="WL5G3N4:standardMessageHeader" part="header" use="literal"/>
         </WL5G3N0:input>
         <WL5G3N0:output>
            <WL5G3N5:body use="literal" parts="createRetailStoreResponseMessage"/>
         </WL5G3N0:output>
         <WL5G3N0:fault name="fault">
            <WL5G3N5:fault name="fault" use="literal"/>
         </WL5G3N0:fault>
      </WL5G3N0:operation>
   </WL5G3N0:binding>
   <WL5G3N0:service name="createRetailStoreBindingQSService">
      <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
      <WL5G3N0:port name="createRetailStoreBindingQSPort" binding="WL5G3N4:createRetailStoreBinding">
         <WL5G3N5:address location="http://uat-osb.agarcia.com.mx:7004/Applications/JDA/JDARetailStore/PS/JDACreateRetailStorePXY/v1.0"/>
      </WL5G3N0:port>
   </WL5G3N0:service>
</WL5G3N0:definitions>
