AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/Custom/Schemas/AppointDesc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/AppointDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/AppointDesc/v1" version="1.0">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:element name="AppointDtl">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item_id" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The item shipped to the location under the Appt ID.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="unit_qty" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The quantity of the item slated to be sent to the location.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="po_nbr" type="varchar212">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The Purchase Order/Transfer/Allocation corresponding to the shipped merchandise.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="document_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The type of document corresponding to the shipped merchandise.  Possible choices are 'P'urchase Order, 'T'ransfer and 'A'llocation.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="asn_nbr" type="varchar230">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column will hold the Advance Shipping Notice number associated with the Appointment.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AppointDesc">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="from_location" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The location to which the merchandise has been sent.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="to_location" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="appt_nbr" type="number9">
                    <retailDoc:annotation>
                        <retailDoc:documentation>An RWMS-generated unique numerical identifier for an Appointment.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="appt_start_ts" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="appt_action_status" type="varchar22">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The status of the Appointment.  Valid values include: SC - Scheduled, MS - Modified Scheduled, AR - Arrived, CL - Closed.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="AppointDtl">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="number12_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar230">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number9">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 9.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar22">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 2 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar212">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 12 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>