AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Applications/JDA/JDARetailStore/Schema/JDAModifyRetailStoreSchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Applications/JDA/RetailStores/ModifyRetailStore" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Applications/JDA/RetailStores/ModifyRetailStore" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:rst="http://mx.agarcia.ea/Canonical/Commons/RetailStore/v1">

  <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
  <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>

  <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/RetailStoreCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/RetailStore/v1"/>


  <xs:element name="modifyRetailStoreRequest" type="base:ModifyRetailStore"/>
  <xs:element name="modifyRetailStoreResponse" type="AGsm:MessageResponse"/>
  
  <xs:complexType name="ModifyRetailStore">
    <xs:sequence>
      <xs:element name="retailStores" type="rst:RetailStoreList"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>