BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ConfiguracionProcesos/V1/WSDL/ConfiguracionProcesos.wsdl

<wsdl:definitions name="ConfiguracionProcesos" targetNamespace="http://xmlns.bcie.com/ConfiguracionProcesosService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:confMO="http://www.bcie.org/ConfiguracionProcesosMO" xmlns:tns="http://xmlns.bcie.com/ConfiguracionProcesosService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/ConfiguracionProcesosMO" schemaLocation="../Schema/ConfiguracionProcesosMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <!-- Elegibilidad -->
  <wsdl:message name="requestConfiguracionElegibilidadMessage">
    <wsdl:part name="request" element="confMO:configuracionElegibilidadRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionElegibilidadMessage">
    <wsdl:part name="response" element="confMO:configuracionElegibilidadResponse"/>
  </wsdl:message>
  <!-- Preparacion -->
  <wsdl:message name="requestConfiguracionPreparacionMessage">
    <wsdl:part name="request" element="confMO:configuracionPreparacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionPreparacionMessage">
    <wsdl:part name="response" element="confMO:configuracionPreparacionResponse"/>
  </wsdl:message>
  <!-- Lavado de activos -->
  <wsdl:message name="requestConfiguracionLavadoActivosMessage">
    <wsdl:part name="request" element="confMO:configuracionLavadoActivosRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionLavadoActivosMessage">
    <wsdl:part name="response" element="confMO:configuracionLavadoActivosResponse"/>
  </wsdl:message>
  <!-- Analisis -->
  <wsdl:message name="requestConfiguracionAnalisisMessage">
    <wsdl:part name="request" element="confMO:configuracionAnalisisRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionAnalisisMessage">
    <wsdl:part name="response" element="confMO:configuracionAnalisisResponse"/>
  </wsdl:message>
  <!-- Formalizacion -->
  <wsdl:message name="requestConfiguracionFormalizacionMessage">
    <wsdl:part name="request" element="confMO:configuracionFormalizacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionFormalizacionMessage">
    <wsdl:part name="response" element="confMO:configuracionFormalizacionResponse"/>
  </wsdl:message>
  <!-- Aprobacion -->
  <wsdl:message name="requestConfiguracionAprobacionMessage">
    <wsdl:part name="request" element="confMO:configuracionAprobacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionAprobacionMessage">
    <wsdl:part name="response" element="confMO:configuracionAprobacionResponse"/>
  </wsdl:message>
  <!-- Reasignar operacion -->
  <wsdl:message name="requestConfiguracionReasignarOperacionMessage">
    <wsdl:part name="request" element="confMO:configuracionReasignarOperacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionReasignarOperacionMessage">
    <wsdl:part name="response" element="confMO:configuracionReasignarOperacionResponse"/>
  </wsdl:message>
   <!-- Reasignar Cliente -->
  <wsdl:message name="requestConfiguracionReasignarClienteMessage">
    <wsdl:part name="request" element="confMO:configuracionReasignarClienteRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionReasignarClienteMessage">
    <wsdl:part name="response" element="confMO:configuracionReasignarClienteResponse"/>
  </wsdl:message>
  <!--Formalización de Enmiendas-->
    <wsdl:message name="requestConfiguracionFormalizacionEnmiendasMessage">
    <wsdl:part name="request" element="confMO:ConfiguracionFormalizacionEnmiendasRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionFormalizacionEnmiendasMessage">
    <wsdl:part name="response" element="confMO:ConfiguracionFormalizacionEnmiendasResponse"/>
  </wsdl:message>
  <!--Lecciones Aprendidas-->
  <wsdl:message name="requestConfiguracionLeccionesAprendidasMessage">
    <wsdl:part name="request" element="confMO:ConfiguracionLeccionesAprendidasRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionLeccionesAprendidasMessage">
    <wsdl:part name="response" element="confMO:ConfiguracionLeccionesAprendidasResponse"/>
  </wsdl:message>
  <wsdl:portType name="ConfiguracionProcesosPT">
    <!-- Elegibilidad -->
    <wsdl:operation name="configuracionElegibilidad">
      <wsdl:input message="tns:requestConfiguracionElegibilidadMessage"/>
      <wsdl:output message="tns:responseConfiguracionElegibilidadMessage"/>
    </wsdl:operation>
    <!-- Preparacion -->
    <wsdl:operation name="configuracionPreparacion">
      <wsdl:input message="tns:requestConfiguracionPreparacionMessage"/>
      <wsdl:output message="tns:responseConfiguracionPreparacionMessage"/>
    </wsdl:operation>
    <!-- Lavado de activos -->
    <wsdl:operation name="configuracionLavadoActivos">
      <wsdl:input message="tns:requestConfiguracionLavadoActivosMessage"/>
      <wsdl:output message="tns:responseConfiguracionLavadoActivosMessage"/>
    </wsdl:operation>
    <!-- Analisis -->
    <wsdl:operation name="configuracionAnalisis">
      <wsdl:input message="tns:requestConfiguracionAnalisisMessage"/>
      <wsdl:output message="tns:responseConfiguracionAnalisisMessage"/>
    </wsdl:operation>
    <!-- Formalizacion -->
    <wsdl:operation name="configuracionFormalizacion">
      <wsdl:input message="tns:requestConfiguracionFormalizacionMessage"/>
      <wsdl:output message="tns:responseConfiguracionFormalizacionMessage"/>
    </wsdl:operation>
    <!-- Aprobacion -->
    <wsdl:operation name="configuracionAprobacion">
      <wsdl:input message="tns:requestConfiguracionAprobacionMessage"/>
      <wsdl:output message="tns:responseConfiguracionAprobacionMessage"/>
    </wsdl:operation>
    <!-- Cancelar Operacion -->
    <wsdl:operation name="configuracionCancelarOperacion">
      <wsdl:input message="tns:requestConfiguracionCancelarOperacionMessage"/>
      <wsdl:output message="tns:resposeConfiguracionCancelarOperacionMessage"/>
    </wsdl:operation>
    <!-- Evaluacion -->
    <wsdl:operation name="configuracionEvaluacion">
      <wsdl:input message="tns:requestConfiguracionEvaluacionMessage"/>
      <wsdl:output message="tns:responseConfiguracionEvaluacionMessage"/>
    </wsdl:operation>
    <!-- Enmiendas -->
    <wsdl:operation name="configuracionEnmiendas">
      <wsdl:input message="tns:requestConfiguracionEnmiendasMessage"/>
      <wsdl:output message="tns:responseConfiguracionEnmiendasMessage"/>
    </wsdl:operation>
    <!-- Administracion Cliente -->
    <wsdl:operation name="configuracionAdministracionCliente">
      <wsdl:input message="tns:requestConfiguracionAdministracionClienteMessage"/>
      <wsdl:output message="tns:responseConfiguracionAdministracionClientenMessage"/>
    </wsdl:operation>
    <!-- Administracion Operacion -->
    <wsdl:operation name="configuracionAdministracionOperacion">
      <wsdl:input message="tns:requestConfiguracionAdministracionOperacionMessage"/>
      <wsdl:output message="tns:responseConfiguracionAdministracionOperacionMessage"/>
    </wsdl:operation>
    <!-- Comisiones -->
    <!-- Condiciones -->
    <wsdl:operation name="configuracionComisiones">
      <wsdl:input message="tns:requestConfiguracionComisionesMessage"/>
      <wsdl:output message="tns:responseConfiguracionComisionesMessage"/>
    </wsdl:operation>
    <wsdl:operation name="configuracionCondiciones">
      <wsdl:input message="tns:requestConfiguracionCondicionesMessage"/>
      <wsdl:output message="tns:responseConfiguracionCondicionesMessage"/>
    </wsdl:operation>
    <!-- Reasignar Operacion -->
    <wsdl:operation name="configuracionReasignarOperacion">
      <wsdl:input message="tns:requestConfiguracionReasignarOperacionMessage"/>
      <wsdl:output message="tns:responseConfiguracionReasignarOperacionMessage"/>
    </wsdl:operation>
    <!-- Seguimiento Crediticio-->
    <wsdl:operation name="configuracionSeguimientoCrediticio">
      <wsdl:input message="tns:requestConfiguracionSeguimientoCrediticioMessage"/>
      <wsdl:output message="tns:responseConfiguracionSeguimientoCrediticioMessage"/>
    </wsdl:operation>
    <!--  Recuperacion UCE -->
    <wsdl:operation name="configuracionUCE">
      <wsdl:input message="tns:requestConfiguracionUCEMessage"/>
      <wsdl:output message="tns:responseConfiguracionUCEMessage"/>
    </wsdl:operation>
    <!--  Supervision -->
    <wsdl:operation name="configuracionSupervision">
      <wsdl:input message="tns:requestConfiguracionSupervisionMessage"/>
      <wsdl:output message="tns:responseConfiguracionSupervisionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="configuracionCierreFideicomiso">
      <wsdl:input message="tns:requestConfiguracionCierreFideicomisoMessage"/>
      <wsdl:output message="tns:responseConfiguracionCierreFideicomisoMessage"/>
    </wsdl:operation>
        <!--  SupervisionAmbientalSocial -->
    <wsdl:operation name="configuracionSupervisionAmbientalSocial">
      <wsdl:input message="tns:requestConfiguracionSupervisionAmbientalSocialMessage"/>
      <wsdl:output message="tns:responseConfiguracionSupervisionAmbientalSocialMessage"/>
    </wsdl:operation>
    <!--  Seguimiento Cobro -->
    <wsdl:operation name="configuracionSeguimientoCobro">
      <wsdl:input message="tns:requestConfiguracionSeguimientoCobroMessage"/>
      <wsdl:output message="tns:responseConfiguracionSeguimientoCobroMessage"/>
    </wsdl:operation>
      <!--  cierre -->	
    <wsdl:operation name="configuracionCierre">
      <wsdl:input message="tns:requestConfiguracionCierreMessage"/>
      <wsdl:output message="tns:responseConfiguracionCierreMessage"/>
      </wsdl:operation>
        <!--  Desembolso -->
    <wsdl:operation name="configuracionDesembolso">
      <wsdl:input message="tns:requestConfiguracionDesembolsoMessage"/>
      <wsdl:output message="tns:responseConfiguracionDesembolsoMessage"/>
    </wsdl:operation>
    <wsdl:operation name="configuracionGestionCobro">
      <wsdl:input message="tns:requestConfiguracionGestionCobroMessage"/>
      <wsdl:output message="tns:responseConfiguracionGestionCobroMessage"/>
    </wsdl:operation>
    <wsdl:operation name="configuracionPrepago">
      <wsdl:input message="tns:requestConfiguracionPrepagoMessage"/>
      <wsdl:output message="tns:responseConfiguracionPrepagoMessage"/>
    </wsdl:operation>
    <!-- Desembolso Excepcion-->
    <wsdl:operation name="configuracionDesembolsoExcepcion">
      <wsdl:input message="tns:requestConfiguracionDesembolsoExcepcionMessage"/>
      <wsdl:output message="tns:responseConfiguracionDesembolsoExcepcionMessage"/>
    </wsdl:operation>
    <!-- Validacion Asignacion -->
    <wsdl:operation name="configuracionValidacionAsignacion">
      <wsdl:input message="tns:requestConfiguracionValidacionAsignacionMessage"/>
      <wsdl:output message="tns:responseConfiguracionValidacionAsignacionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="configuracionAprobacionCliente">
      <wsdl:input message="tns:requestConfiguracionAprobacionClienteMessage"/>
      <wsdl:output message="tns:responseConfiguracionAprobacionClienteMessage"/>
    </wsdl:operation>
    <wsdl:operation name="configuracionAdquisicion">
      <wsdl:input message="tns:requestConfiguracionAdquisicionMessage"/>
      <wsdl:output message="tns:responseConfiguracionAdquisicionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="configuracionContratacionFormalizacion">
      <wsdl:input message="tns:requestConfiguracionContratacionFormalizacionMessage"/>
      <wsdl:output message="tns:responseConfiguracionContratacionFormalizacionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="configuracionEnviarGasto">
      <wsdl:input message="tns:requestConfiguracionEnviarGastoMessage"/>
      <wsdl:output message="tns:responseConfiguracionEnviarGastoMessage"/>
    </wsdl:operation>
    <wsdl:operation name="configuracionImplementacionPCT">
      <wsdl:input message="tns:requestConfiguracionImplementacionPCTMessage"/>
      <wsdl:output message="tns:responseConfiguracionImplementacionPCTMessage"/>
    </wsdl:operation>
    <wsdl:operation name="configuracionInteresesCobro">
      <wsdl:input message="tns:requestConfiguracionInteresesCobroMessage"/>
      <wsdl:output message="tns:responseConfiguracionInteresesCobroMessage"/>
    </wsdl:operation>
    <wsdl:operation name="configuracionReasignarCliente">
      <wsdl:input message="tns:requestConfiguracionReasignarClienteMessage"/>
      <wsdl:output message="tns:responseConfiguracionReasignarClienteMessage"/>
    </wsdl:operation>
      <!--Formalización de Enmiendas-->
     <wsdl:operation name="configuracionFormalizacionEnmiendas">
      <wsdl:input message="tns:requestConfiguracionFormalizacionEnmiendasMessage"/>
      <wsdl:output message="tns:responseConfiguracionFormalizacionEnmiendasMessage"/>
    </wsdl:operation>
    <!--Lecciones Aprendidas-->
     <wsdl:operation name="configuracionLeccionesAprendidas">
      <wsdl:input message="tns:requestConfiguracionLeccionesAprendidasMessage"/>
      <wsdl:output message="tns:responseConfiguracionLeccionesAprendidasMessage"/>
    </wsdl:operation>
  </wsdl:portType>

    
  <wsdl:message name="requestConfiguracionEvaluacionMessage">
    <wsdl:part name="request" element="confMO:configuracionEvaluacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionEvaluacionMessage">
    <wsdl:part name="response" element="confMO:configuracionEvaluacionResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionCancelarOperacionMessage">
    <wsdl:part name="request" element="confMO:configuracionCancelarOperacionRequest"/>
  </wsdl:message>
  <wsdl:message name="resposeConfiguracionCancelarOperacionMessage">
    <wsdl:part name="response" element="confMO:configuracionCancelarOperacionResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionEnmiendasMessage">
    <wsdl:part name="request" element="confMO:configuracionEnmiendasRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionEnmiendasMessage">
    <wsdl:part name="response" element="confMO:configuracionEnmiendasResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionAdministracionClienteMessage">
    <wsdl:part name="request" element="confMO:configuracionAdministracionClienteRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionAdministracionClientenMessage">
    <wsdl:part name="response" element="confMO:configuracionAdministracionClienteResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionAdministracionOperacionMessage">
    <wsdl:part name="request" element="confMO:configuracionAdministracionOperacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionAdministracionOperacionMessage">
    <wsdl:part name="response" element="confMO:configuracionAdministracionOperacionResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionComisionesMessage">
    <wsdl:part name="request" element="confMO:configuracionComisionesRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionComisionesMessage">
    <wsdl:part name="response" element="confMO:configuracionComisionesResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionCondicionesMessage">
    <wsdl:part name="request" element="confMO:configuracionCondicionesRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionCondicionesMessage">
    <wsdl:part name="response" element="confMO:configuracionCondicionesResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionSeguimientoCrediticioMessage">
    <wsdl:part name="request" element="confMO:configurarSeguimientoCrediticioRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionSeguimientoCrediticioMessage">
    <wsdl:part name="response" element="confMO:configurarSeguimientoCrediticioResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionUCEMessage">
    <wsdl:part name="request" element="confMO:configuracionRecuperacionUCERequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionUCEMessage">
    <wsdl:part name="response" element="confMO:configuracionRecuperacionUCEResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionSupervisionMessage">
    <wsdl:part name="request" element="confMO:configuracionSupervisionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionSupervisionMessage">
    <wsdl:part name="response" element="confMO:configuracionSupervisionResponse"/>
  </wsdl:message>
    <wsdl:message name="requestConfiguracionSupervisionAmbientalSocialMessage">
    <wsdl:part name="request" element="confMO:configuracionSupervisionAmbientalSocialRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionSupervisionAmbientalSocialMessage">
    <wsdl:part name="response" element="confMO:configuracionSupervisionAmbientalSocialResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionSeguimientoCobroMessage">
    <wsdl:part name="request" element="confMO:configuracionSeguimientoCobroRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionSeguimientoCobroMessage">
    <wsdl:part name="response" element="confMO:configuracionSeguimientoCobroResponse"/>
  </wsdl:message>
  <!-- Desembolso -->
  <wsdl:message name="requestConfiguracionDesembolsoMessage">
    <wsdl:part name="request" element="confMO:configuracionDesembolsoRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionDesembolsoMessage">
    <wsdl:part name="response" element="confMO:configuracionDesembolsoResponse"/>
  </wsdl:message>
    <!-- Desembolso Excepcion -->
  <wsdl:message name="requestConfiguracionDesembolsoExcepcionMessage">
    <wsdl:part name="request" element="confMO:ConfiguracionDesembolsoExcepcionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionDesembolsoExcepcionMessage">
    <wsdl:part name="response" element="confMO:ConfiguracionDesembolsoExcepcionResponse"/>
  </wsdl:message>
  <!-- Validacion Asignacion -->
    <wsdl:message name="requestConfiguracionValidacionAsignacionMessage">
    <wsdl:part name="request" element="confMO:ConfiguracionValidacionAsignacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionValidacionAsignacionMessage">
    <wsdl:part name="response" element="confMO:ConfiguracionValidacionAsignacionResponse"/>
  </wsdl:message>
  <wsdl:binding name="ConfiguracionPreparacion12Bnd" type="tns:ConfiguracionProcesosPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    
    <wsdl:operation name="configuracionElegibilidad">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionElegibilidad"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionPreparacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionPreparacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionLavadoActivos">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionLavadoActivos"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionAnalisis">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionAnalisis"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionFormalizacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionFormalizacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionAprobacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionAprobacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionCancelarOperacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionCancelarOperacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionEvaluacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionEvaluacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionEnmiendas">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionEnmiendas"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionAdministracionCliente">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionAdministracionCliente"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionAdministracionOperacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionAdministracionOperacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionComisiones">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionComisiones"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionCondiciones">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionCondiciones"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionReasignarOperacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionReasignarOperacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionSeguimientoCrediticio">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionSeguimientoCrediticio"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionUCE">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionUCE"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionSupervision">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionSupervision"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionSupervisionAmbientalSocial">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionSupervision"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionCierreFideicomiso">
      <soap12:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionCierreFideicomiso/" style="document"/>
      <wsdl:input>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
        
    <wsdl:operation name="configuracionSeguimientoCobro">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionSeguimientoCobro"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>

    <wsdl:operation name="configuracionCierre">
      <soap12:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionCierre/" style="document"/>
	<wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
		</wsdl:output>
    </wsdl:operation>
  
<wsdl:operation name="configuracionDesembolso">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionDesembolso"/>

      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionGestionCobro">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionGestionCobro"/>

      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionPrepago">
    <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionPrepago"/>

      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionDesembolsoExcepcion">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ConfiguracionDesembolsoExcepcionSOR/ConfiguracionDesembolsoExcepcion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionValidacionAsignacion">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ConfiguracionValidacionAsignacionSOR/configuracionValidacionAsignacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    
    
    
    <wsdl:operation name="configuracionAprobacionCliente">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionAprobacionCliente"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    
    <wsdl:operation name="configuracionAdquisicion">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionAdquisicion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionContratacionFormalizacion">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionContratacionFormalizacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionEnviarGasto">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionEnviarGasto"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionImplementacionPCT">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionImplementacionPCT"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionInteresesCobro">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionInteresesCobro"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionReasignarCliente">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionReasignarCliente"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionFormalizacionEnmiendas">
    <soap12:operation style="document" soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionFormalizacionEnmiendas"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="configuracionLeccionesAprendidas">
    <soap12:operation style="document" soapAction="http://www.bcie.org/ConfiguracionProcesosService/configuracionLeccionesAprendidas"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="requestConfiguracionCierreFideicomisoMessage">
    <wsdl:part name="request" element="confMO:configuracionCierreFideicomisoRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionCierreFideicomisoMessage">
    <wsdl:part name="response" element="confMO:configuracionCierreFideicomisoResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionCierreMessage">
    <wsdl:part name="request" element="confMO:configuracionCierreRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionCierreMessage">
    <wsdl:part name="response" element="confMO:configuracionCierreResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionGestionCobroMessage">
    <wsdl:part name="request" element="confMO:ConfiguracionGestionCobroRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionGestionCobroMessage">
    <wsdl:part name="response" element="confMO:ConfiguracionGestionCobroResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionPrepagoMessage">
    <wsdl:part name="request" element="confMO:ConfiguracionPrepagoRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionPrepagoMessage">
    <wsdl:part name="response" element="confMO:ConfiguracionPrepagoResponse"/>
  </wsdl:message>
  
  
    <wsdl:message name="requestConfiguracionAprobacionClienteMessage">
    <wsdl:part name="request" element="confMO:CofiguracionAprobacionClienteRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionAprobacionClienteMessage">
    <wsdl:part name="response" element="confMO:CofiguracionAprobacionClienteResponse"/>
  </wsdl:message>
  
      <wsdl:message name="requestConfiguracionAdquisicionMessage">
    <wsdl:part name="request" element="confMO:ConfiguracionAdquisicionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionAdquisicionMessage">
    <wsdl:part name="response" element="confMO:ConfiguracionAdquisicionResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionContratacionFormalizacionMessage">
    <wsdl:part name="request" element="confMO:ConfiguracionContratacionFormalizacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionContratacionFormalizacionMessage">
    <wsdl:part name="response" element="confMO:ConfiguracionContratacionFormalizacionResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionEnviarGastoMessage">
    <wsdl:part name="request" element="confMO:ConfiguracionEnviarGastoRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionEnviarGastoMessage">
    <wsdl:part name="response" element="confMO:ConfiguracionEnviarGastoResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionImplementacionPCTMessage">
    <wsdl:part name="request" element="confMO:ConfiguracionImplementacionPCTRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionImplementacionPCTMessage">
    <wsdl:part name="response" element="confMO:ConfiguracionImplementacionPCTResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConfiguracionInteresesCobroMessage">
    <wsdl:part name="request" element="confMO:ConfiguracionInteresesCobroRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfiguracionInteresesCobroMessage">
    <wsdl:part name="response" element="confMO:ConfiguracionInteresesCobroResponse"/>
  </wsdl:message>
</wsdl:definitions>