BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/Prepago/DetallePenalidadPrepago/XSD/DetallePenalidadPrepago_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DetallePenalidadPrepago" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DetallePenalidadPrepago" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_IDPREPAGO" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_IDOPERACION" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_TASAPRIME" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_TASALIBOR" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_IDTCATIPOMONEDATRAMITE" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_CARGOTRAMITEVALOR" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_CARGOTRAMITEDESCRIPCION" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_FECHACALCULODEFINITIVO" type="dateTime" db:index="8" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_FECHAREFERENCIA" type="dateTime" db:index="9" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_TBLPENALIDAD" type="db:FENIX.T_LISTA_PENALIDAD" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_ESTADO" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MENSAJE" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="FENIX.T_PENALIDAD">
      <sequence>
         <element name="FECHAINICIO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="FECHAFIN" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="PLAZO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SPREAD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FRACCIONLIBOR" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TASAPREPAGO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MONTOPENALIDAD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="INTERESES" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="IDTREPREPAGOCONTRATO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CONTRATODESEMBOLSO" type="db:string30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONEDA" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RESOLUCION" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTOPREPAGO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PROXIMOPAGO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="FENIX.T_LISTA_PENALIDAD">
      <sequence>
         <element name="P_TBLPENALIDAD_ITEM" type="db:FENIX.T_PENALIDAD" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string30">
      <restriction base="string">
         <maxLength value="30"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
</schema>