AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/SBProjectDOBS/Resources/nxsd_schema1.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:tns="http://TargetNamespace.com/ftpService" targetNamespace="http://TargetNamespace.com/ftpService" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="UTF-8">


  <xsd:element name="Root-Element">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded" nxsd:choiceCondition="fixedLength" nxsd:length="5">
        <xsd:element name="FDETL" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="FDETL">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="C2" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="C3" type="xsd:string" nxsd:style="fixedLength" nxsd:length="3"/>
              <xsd:element name="C4" type="xsd:string" nxsd:style="fixedLength" nxsd:length="25"/>
              <xsd:element name="C5" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="C6" type="xsd:string" nxsd:style="fixedLength" nxsd:length="150"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="FHEAD" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="FHEAD">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="C2" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="C3" type="xsd:string" nxsd:style="fixedLength" nxsd:length="4"/>
              <xsd:element name="C4" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="C5" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="C6" type="xsd:string" nxsd:style="fixedLength" nxsd:length="8"/>
              <xsd:element name="C7" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="C8" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="FTAIL" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="FTAIL">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="C2" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="C3" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=prueba.txt</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>