BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ConsultarPlazoGracia/XSD/ConsultarPlazoGracia.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarPlazoGracia" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarPlazoGracia" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarPlazoGraciaInput" type="ConsultarPlazoGraciaInput"/>
   <xs:complexType name="ConsultarPlazoGraciaInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:string" nillable="true"/>
         <xs:element name="descripcionCorta" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarPlazoGraciaOutputCollection" type="ConsultarPlazoGraciaOutputCollection"/>
   <xs:complexType name="ConsultarPlazoGraciaOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarPlazoGraciaOutput" type="ConsultarPlazoGraciaOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarPlazoGraciaOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_TERMINO" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>