Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/EVERTEC/resources/wsdl/servicios2.wsdl

<definitions name='WebServiceSitioWebService' targetNamespace='http://www.athservices.net/servicios/WebServiceSitioWeb' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://www.athservices.net/servicios/WebServiceSitioWeb' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types>
  <xs:schema targetNamespace='http://www.athservices.net/servicios/WebServiceSitioWeb' version='1.0' xmlns:tns='http://www.athservices.net/servicios/WebServiceSitioWeb' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
   <xs:element name='resultado' type='tns:resultado'/>
   <xs:complexType name='resultadoConsultaGeneral'>
    <xs:complexContent>
     <xs:extension base='tns:resultado'>
      <xs:sequence>
       <xs:element minOccurs='0' name='respuestaGeneral' type='tns:cliente'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='resultado'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='mensajes' type='tns:mensaje'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='cliente'>
    <xs:sequence>
     <xs:element minOccurs='0' name='cedula' type='xs:string'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='cuenta' nillable='true' type='tns:cuenta'/>
     <xs:element minOccurs='0' name='nombre' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='cuenta'>
    <xs:sequence>
     <xs:element minOccurs='0' name='cantidadImportesVencidosInternacional' type='xs:int'/>
     <xs:element minOccurs='0' name='cantidadImportesVencidosLocal' type='xs:int'/>
     <xs:element minOccurs='0' name='cedula' type='xs:string'/>
     <xs:element minOccurs='0' name='diaCorte' type='xs:string'/>
     <xs:element minOccurs='0' name='emisor' type='xs:string'/>
     <xs:element minOccurs='0' name='estado' type='xs:string'/>
     <xs:element minOccurs='0' name='fechaVencimientoCuenta' type='xs:string'/>
     <xs:element minOccurs='0' name='fechaVencimientoPagoContado' type='xs:string'/>
     <xs:element minOccurs='0' name='limiteCreditoCtaInternacional' type='xs:decimal'/>
     <xs:element minOccurs='0' name='limiteCreditoCtaLocal' type='xs:decimal'/>
     <xs:element minOccurs='0' name='marca' type='xs:string'/>
     <xs:element minOccurs='0' name='montoImportesVencidosInternacional' type='xs:decimal'/>
     <xs:element minOccurs='0' name='montoImportesVencidosLocal' type='xs:decimal'/>
     <xs:element minOccurs='0' name='montoPagoContadoInternacional' type='xs:decimal'/>
     <xs:element minOccurs='0' name='montoPagoContadoLocal' type='xs:decimal'/>
     <xs:element minOccurs='0' name='montoPagoMinimoInternacional' type='xs:decimal'/>
     <xs:element minOccurs='0' name='montoPagoMinimoLocal' type='xs:decimal'/>
     <xs:element minOccurs='0' name='nombreTarjetaHabiente' type='xs:string'/>
     <xs:element minOccurs='0' name='numero' type='xs:string'/>
     <xs:element minOccurs='0' name='saldoActualInternacional' type='xs:decimal'/>
     <xs:element minOccurs='0' name='saldoActualLocal' type='xs:decimal'/>
     <xs:element minOccurs='0' name='saldoCorteInternacional' type='xs:decimal'/>
     <xs:element minOccurs='0' name='saldoCorteLocal' type='xs:decimal'/>
     <xs:element minOccurs='0' name='saldoPremiacion' type='xs:decimal'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='tarjetas' nillable='true' type='tns:tarjeta'/>
     <xs:element minOccurs='0' name='tasaInteresMensualInternacional' type='xs:decimal'/>
     <xs:element minOccurs='0' name='tasaInteresMensualLocal' type='xs:decimal'/>
     <xs:element minOccurs='0' name='tasaInteresMoratoriaInternacional' type='xs:decimal'/>
     <xs:element minOccurs='0' name='tasaInteresMoratoriaLocal' type='xs:decimal'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='tarjeta'>
    <xs:sequence>
     <xs:element minOccurs='0' name='estado' type='xs:string'/>
     <xs:element minOccurs='0' name='limiteCreditoInternacional' type='xs:decimal'/>
     <xs:element minOccurs='0' name='limiteCreditoLocal' type='xs:decimal'/>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='movimientos' nillable='true' type='tns:movimiento'/>
     <xs:element minOccurs='0' name='numero' type='xs:string'/>
     <xs:element minOccurs='0' name='saldoDisponibleInternacional' type='xs:decimal'/>
     <xs:element minOccurs='0' name='saldoDisponibleLocal' type='xs:decimal'/>
     <xs:element minOccurs='0' name='tipo' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='movimiento'>
    <xs:sequence>
     <xs:element minOccurs='0' name='autorizacion' type='xs:string'/>
     <xs:element minOccurs='0' name='codigoMCC' type='xs:string'/>
     <xs:element minOccurs='0' name='descripcionComercio' type='xs:string'/>
     <xs:element minOccurs='0' name='descripcionMCC' type='xs:string'/>
     <xs:element minOccurs='0' name='documento1' type='xs:decimal'/>
     <xs:element minOccurs='0' name='fecha' type='xs:decimal'/>
     <xs:element minOccurs='0' name='fechaConsumo' type='xs:decimal'/>
     <xs:element minOccurs='0' name='moneda' type='xs:string'/>
     <xs:element minOccurs='0' name='monto' type='xs:decimal'/>
     <xs:element minOccurs='0' name='numeroTarjeta' type='xs:string'/>
     <xs:element minOccurs='0' name='tipo' type='xs:string'/>
     <xs:element minOccurs='0' name='tipoMovimiento' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='mensaje'>
    <xs:sequence>
     <xs:element minOccurs='0' name='key' type='xs:string'/>
    </xs:sequence>
    <xs:attribute name='codigo' type='xs:int' use='required'/>
    <xs:attribute name='descripcion' type='xs:string'/>
    <xs:attribute name='tipoMensaje' type='tns:tipoMensaje'/>
   </xs:complexType>
   <xs:complexType name='resultadoConsultaMovimientos'>
    <xs:complexContent>
     <xs:extension base='tns:resultado'>
      <xs:sequence>
       <xs:element maxOccurs='unbounded' minOccurs='0' name='respuestaMovimientos' type='tns:movimiento'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='resultadoConsultaAutorizacionesTransito'>
    <xs:complexContent>
     <xs:extension base='tns:resultado'>
      <xs:sequence>
       <xs:element maxOccurs='unbounded' minOccurs='0' name='autorizaciones' type='tns:autorizacion'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='autorizacion'>
    <xs:sequence>
     <xs:element minOccurs='0' name='autorizacion' type='xs:string'/>
     <xs:element minOccurs='0' name='fecha' type='xs:string'/>
     <xs:element minOccurs='0' name='hora' type='xs:string'/>
     <xs:element minOccurs='0' name='moneda' type='xs:string'/>
     <xs:element minOccurs='0' name='monto' type='xs:decimal'/>
     <xs:element minOccurs='0' name='nombreComercio' type='xs:string'/>
     <xs:element minOccurs='0' name='numeroTarjeta' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='resultadoConsultaEstadoCuenta'>
    <xs:complexContent>
     <xs:extension base='tns:resultado'>
      <xs:sequence>
       <xs:element minOccurs='0' name='estadocuenta' type='tns:encabezadoEstadoCuenta'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='encabezadoEstadoCuenta'>
    <xs:sequence>
     <xs:element maxOccurs='unbounded' minOccurs='0' name='detalle' nillable='true' type='tns:detalleEstadoCuenta'/>
     <xs:element minOccurs='0' name='fechaCorte' type='xs:string'/>
     <xs:element minOccurs='0' name='fechaCorteAnterior' type='xs:string'/>
     <xs:element minOccurs='0' name='fechaVencimientoPago' type='xs:string'/>
     <xs:element minOccurs='0' name='limiteCredito' type='xs:decimal'/>
     <xs:element minOccurs='0' name='moneda' type='xs:string'/>
     <xs:element minOccurs='0' name='montoPagoContadoInternacional' type='xs:decimal'/>
     <xs:element minOccurs='0' name='montoPagoContadoLocal' type='xs:decimal'/>
     <xs:element minOccurs='0' name='montoPagoMinimoInternacional' type='xs:decimal'/>
     <xs:element minOccurs='0' name='montoPagoMinimoLocal' type='xs:decimal'/>
     <xs:element minOccurs='0' name='nombreTarjetaHabiente' type='xs:string'/>
     <xs:element minOccurs='0' name='numeroCuenta' type='xs:string'/>
     <xs:element minOccurs='0' name='plazoFinanciamientoInternacional' type='xs:decimal'/>
     <xs:element minOccurs='0' name='plazoFinanciamientoLocal' type='xs:decimal'/>
     <xs:element minOccurs='0' name='saldoAnteriorInternacional' type='xs:decimal'/>
     <xs:element minOccurs='0' name='saldoAnteriorLocal' type='xs:decimal'/>
     <xs:element minOccurs='0' name='saldoCorteInternacional' type='xs:decimal'/>
     <xs:element minOccurs='0' name='saldoCorteLocal' type='xs:decimal'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='detalleEstadoCuenta'>
    <xs:sequence>
     <xs:element minOccurs='0' name='descripcion' type='xs:string'/>
     <xs:element minOccurs='0' name='fechaTransaccion' type='xs:string'/>
     <xs:element minOccurs='0' name='moneda' type='xs:string'/>
     <xs:element minOccurs='0' name='monto' type='xs:decimal'/>
     <xs:element minOccurs='0' name='numeroTarjeta' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='resultadoConsultaPremiacion'>
    <xs:complexContent>
     <xs:extension base='tns:resultado'>
      <xs:sequence>
       <xs:element minOccurs='0' name='respuestaPremiacion' type='tns:premiacion'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='premiacion'>
    <xs:sequence>
     <xs:element minOccurs='0' name='puntosCanjeados' type='xs:decimal'/>
     <xs:element minOccurs='0' name='puntosGanados' type='xs:decimal'/>
     <xs:element minOccurs='0' name='saldoFinal' type='xs:decimal'/>
     <xs:element minOccurs='0' name='saldoInicial' type='xs:decimal'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='resultadoDispersionSaldos'>
    <xs:complexContent>
     <xs:extension base='tns:resultado'>
      <xs:sequence>
       <xs:element minOccurs='0' name='respuestaDispersion' type='tns:dispersion'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='dispersion'>
    <xs:sequence>
     <xs:element minOccurs='0' name='codigoMovimiento' type='xs:string'/>
     <xs:element minOccurs='0' name='coodigoRespuesta' type='xs:string'/>
     <xs:element minOccurs='0' name='descripcionCodigoRespuesta' type='xs:string'/>
     <xs:element minOccurs='0' name='fechaConsumo' type='xs:string'/>
     <xs:element minOccurs='0' name='localidad' type='xs:string'/>
     <xs:element minOccurs='0' name='moneda' type='xs:string'/>
     <xs:element minOccurs='0' name='monto' type='xs:decimal'/>
     <xs:element minOccurs='0' name='numeroDocumento' type='xs:string'/>
     <xs:element minOccurs='0' name='numeroReferencia' type='xs:string'/>
     <xs:element minOccurs='0' name='numeroTarjeta' type='xs:string'/>
     <xs:element minOccurs='0' name='superfranquicia' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='resultadoDecrementoTarjetaPrepago'>
    <xs:complexContent>
     <xs:extension base='tns:resultado'>
      <xs:sequence>
       <xs:element minOccurs='0' name='respuestaDecrementoTarjetaPrepago' type='tns:decrementoTarjetaPrepago'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='decrementoTarjetaPrepago'>
    <xs:sequence>
     <xs:element minOccurs='0' name='codigoMovimiento' type='xs:string'/>
     <xs:element minOccurs='0' name='descripcionRespuesta' type='xs:string'/>
     <xs:element minOccurs='0' name='fechaConsumo' type='xs:string'/>
     <xs:element minOccurs='0' name='localidad' type='xs:string'/>
     <xs:element minOccurs='0' name='moneda' type='xs:string'/>
     <xs:element minOccurs='0' name='monto' type='xs:decimal'/>
     <xs:element minOccurs='0' name='numeroReferencia' type='xs:string'/>
     <xs:element minOccurs='0' name='numeroReferenciaSiscard' type='xs:string'/>
     <xs:element minOccurs='0' name='numeroTarjeta' type='xs:string'/>
     <xs:element minOccurs='0' name='respuesta' type='xs:string'/>
     <xs:element minOccurs='0' name='superfranquicia' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='resultadoSolicitudReposicionTarjetas'>
    <xs:complexContent>
     <xs:extension base='tns:resultado'>
      <xs:sequence>
       <xs:element minOccurs='0' name='respuestaSolicitudReposicionTarjetas' type='tns:solicitudReposicionTarjetas'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='solicitudReposicionTarjetas'>
    <xs:sequence>
     <xs:element minOccurs='0' name='codigoRespuesta' type='xs:string'/>
     <xs:element minOccurs='0' name='mensajeError' type='xs:string'/>
     <xs:element minOccurs='0' name='nuevoNumeroTarjeta' type='xs:string'/>
     <xs:element minOccurs='0' name='numeroTarjeta' type='xs:string'/>
     <xs:element minOccurs='0' name='superfranquicia' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:complexType name='resultadoBloqueoDesbloqueoTarjetas'>
    <xs:complexContent>
     <xs:extension base='tns:resultado'>
      <xs:sequence>
       <xs:element minOccurs='0' name='respuestaBloqueoDesbloqueoTarjetas' type='tns:bloqueoDesbloqueoTarjetas'/>
      </xs:sequence>
     </xs:extension>
    </xs:complexContent>
   </xs:complexType>
   <xs:complexType name='bloqueoDesbloqueoTarjetas'>
    <xs:sequence>
     <xs:element minOccurs='0' name='codigoRespuesta' type='xs:string'/>
     <xs:element minOccurs='0' name='decripcionRespuesta' type='xs:string'/>
     <xs:element minOccurs='0' name='estadoDeseado' type='xs:string'/>
     <xs:element minOccurs='0' name='motivoCancelacion' type='xs:string'/>
     <xs:element minOccurs='0' name='numeroTarjeta' type='xs:string'/>
    </xs:sequence>
   </xs:complexType>
   <xs:simpleType name='tipoMensaje'>
    <xs:restriction base='xs:string'>
     <xs:enumeration value='ERROR'/>
     <xs:enumeration value='INFORMACION'/>
    </xs:restriction>
   </xs:simpleType>
  </xs:schema>
 </types>
 <message name='WebServiceSitioWeb_solicitudReposicionTarjetasResponse'>
  <part name='return' type='tns:resultadoSolicitudReposicionTarjetas'></part>
 </message>
 <message name='WebServiceSitioWeb_decrementoTarjetaPrepagoResponse'>
  <part name='return' type='tns:resultadoDecrementoTarjetaPrepago'></part>
 </message>
 <message name='WebServiceSitioWeb_consultaAutorizacionesTransitoResponse'>
  <part name='return' type='tns:resultadoConsultaAutorizacionesTransito'></part>
 </message>
 <message name='WebServiceSitioWeb_consultaGeneralResponse'>
  <part name='return' type='tns:resultadoConsultaGeneral'></part>
 </message>
 <message name='WebServiceSitioWeb_consultaGeneralTarjeta'>
  <part name='numeroTarjeta' type='xsd:string'></part>
 </message>
 <message name='WebServiceSitioWeb_consultaGeneralTarjetaResponse'>
  <part name='return' type='tns:resultadoConsultaGeneral'></part>
 </message>
 <message name='WebServiceSitioWeb_consultaPremiacion'>
  <part name='emisor' type='xsd:string'></part>
  <part name='cuenta' type='xsd:string'></part>
  <part name='fechaCorte' type='xsd:string'></part>
 </message>
 <message name='WebServiceSitioWeb_consultaEstadoCuentaResponse'>
  <part name='return' type='tns:resultadoConsultaEstadoCuenta'></part>
 </message>
 <message name='WebServiceSitioWeb_consultaGeneralTarjetaTodos'>
  <part name='numeroTarjeta' type='xsd:string'></part>
 </message>
 <message name='WebServiceSitioWeb_dispersionSaldosResponse'>
  <part name='return' type='tns:resultadoDispersionSaldos'></part>
 </message>
 <message name='WebServiceSitioWeb_dispersionSaldos'>
  <part name='numeroTarjeta' type='xsd:string'></part>
  <part name='localidad' type='xsd:string'></part>
  <part name='moneda' type='xsd:string'></part>
  <part name='codigoMovimiento' type='xsd:string'></part>
  <part name='monto' type='xsd:string'></part>
  <part name='numeroReferencia' type='xsd:string'></part>
  <part name='usuarioSiscard' type='xsd:string'></part>
 </message>
 <message name='WebServiceSitioWeb_bloqueoDesbloqueoTarjetasResponse'>
  <part name='return' type='tns:resultadoBloqueoDesbloqueoTarjetas'></part>
 </message>
 <message name='WebServiceSitioWeb_consultaGeneral'>
  <part name='cedula' type='xsd:string'></part>
 </message>
 <message name='WebServiceSitioWeb_consultaMovimientosResponse'>
  <part name='return' type='tns:resultadoConsultaMovimientos'></part>
 </message>
 <message name='WebServiceSitioWeb_solicitudReposicionTarjetas'>
  <part name='numeroTarjeta' type='xsd:string'></part>
  <part name='nombreEmbozar' type='xsd:string'></part>
  <part name='razonReposicion' type='xsd:string'></part>
  <part name='localidadTramite' type='xsd:string'></part>
  <part name='localidadRetiro' type='xsd:string'></part>
  <part name='indicadorCobroxReposicion' type='xsd:string'></part>
  <part name='usuarioSiscard' type='xsd:string'></part>
 </message>
 <message name='WebServiceSitioWeb_decrementoTarjetaPrepago'>
  <part name='numeroTarjeta' type='xsd:string'></part>
  <part name='monto' type='xsd:string'></part>
  <part name='moneda' type='xsd:string'></part>
  <part name='codigoMovimiento' type='xsd:string'></part>
  <part name='numeroReferencia' type='xsd:string'></part>
  <part name='localidad' type='xsd:string'></part>
  <part name='usuarioSiscard' type='xsd:string'></part>
 </message>
 <message name='WebServiceSitioWeb_consultaPremiacionResponse'>
  <part name='return' type='tns:resultadoConsultaPremiacion'></part>
 </message>
 <message name='WebServiceSitioWeb_consultaGeneralTarjetaTodosResponse'>
  <part name='return' type='tns:resultadoConsultaGeneral'></part>
 </message>
 <message name='WebServiceSitioWeb_consultaEstadoCuenta'>
  <part name='emisor' type='xsd:string'></part>
  <part name='cuenta' type='xsd:string'></part>
  <part name='fechaCorte' type='xsd:string'></part>
 </message>
 <message name='WebServiceSitioWeb_bloqueoDesbloqueoTarjetas'>
  <part name='numeroTarjeta' type='xsd:string'></part>
  <part name='estadoDeseado' type='xsd:string'></part>
  <part name='motivoCancelacion' type='xsd:string'></part>
  <part name='usuarioSiscard' type='xsd:string'></part>
 </message>
 <message name='WebServiceSitioWeb_consultaAutorizacionesTransito'>
  <part name='emisor' type='xsd:string'></part>
  <part name='cuenta' type='xsd:string'></part>
 </message>
 <message name='WebServiceSitioWeb_consultaMovimientos'>
  <part name='tarjeta' type='xsd:string'></part>
  <part name='fechaDesde' type='xsd:string'></part>
  <part name='fechaHasta' type='xsd:string'></part>
 </message>
 <portType name='WebServiceSitioWeb'>
  <operation name='bloqueoDesbloqueoTarjetas' parameterOrder='numeroTarjeta estadoDeseado motivoCancelacion usuarioSiscard'>
   <input message='tns:WebServiceSitioWeb_bloqueoDesbloqueoTarjetas'></input>
   <output message='tns:WebServiceSitioWeb_bloqueoDesbloqueoTarjetasResponse'></output>
  </operation>
  <operation name='consultaAutorizacionesTransito' parameterOrder='emisor cuenta'>
   <input message='tns:WebServiceSitioWeb_consultaAutorizacionesTransito'></input>
   <output message='tns:WebServiceSitioWeb_consultaAutorizacionesTransitoResponse'></output>
  </operation>
  <operation name='consultaEstadoCuenta' parameterOrder='emisor cuenta fechaCorte'>
   <input message='tns:WebServiceSitioWeb_consultaEstadoCuenta'></input>
   <output message='tns:WebServiceSitioWeb_consultaEstadoCuentaResponse'></output>
  </operation>
  <operation name='consultaGeneral' parameterOrder='cedula'>
   <input message='tns:WebServiceSitioWeb_consultaGeneral'></input>
   <output message='tns:WebServiceSitioWeb_consultaGeneralResponse'></output>
  </operation>
  <operation name='consultaGeneralTarjeta' parameterOrder='numeroTarjeta'>
   <input message='tns:WebServiceSitioWeb_consultaGeneralTarjeta'></input>
   <output message='tns:WebServiceSitioWeb_consultaGeneralTarjetaResponse'></output>
  </operation>
  <operation name='consultaGeneralTarjetaTodos' parameterOrder='numeroTarjeta'>
   <input message='tns:WebServiceSitioWeb_consultaGeneralTarjetaTodos'></input>
   <output message='tns:WebServiceSitioWeb_consultaGeneralTarjetaTodosResponse'></output>
  </operation>
  <operation name='consultaMovimientos' parameterOrder='tarjeta fechaDesde fechaHasta'>
   <input message='tns:WebServiceSitioWeb_consultaMovimientos'></input>
   <output message='tns:WebServiceSitioWeb_consultaMovimientosResponse'></output>
  </operation>
  <operation name='consultaPremiacion' parameterOrder='emisor cuenta fechaCorte'>
   <input message='tns:WebServiceSitioWeb_consultaPremiacion'></input>
   <output message='tns:WebServiceSitioWeb_consultaPremiacionResponse'></output>
  </operation>
  <operation name='decrementoTarjetaPrepago' parameterOrder='numeroTarjeta monto moneda codigoMovimiento numeroReferencia localidad usuarioSiscard'>
   <input message='tns:WebServiceSitioWeb_decrementoTarjetaPrepago'></input>
   <output message='tns:WebServiceSitioWeb_decrementoTarjetaPrepagoResponse'></output>
  </operation>
  <operation name='dispersionSaldos' parameterOrder='numeroTarjeta localidad moneda codigoMovimiento monto numeroReferencia usuarioSiscard'>
   <input message='tns:WebServiceSitioWeb_dispersionSaldos'></input>
   <output message='tns:WebServiceSitioWeb_dispersionSaldosResponse'></output>
  </operation>
  <operation name='solicitudReposicionTarjetas' parameterOrder='numeroTarjeta nombreEmbozar razonReposicion localidadTramite localidadRetiro indicadorCobroxReposicion usuarioSiscard'>
   <input message='tns:WebServiceSitioWeb_solicitudReposicionTarjetas'></input>
   <output message='tns:WebServiceSitioWeb_solicitudReposicionTarjetasResponse'></output>
  </operation>
 </portType>
 <binding name='WebServiceSitioWebBinding' type='tns:WebServiceSitioWeb'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='bloqueoDesbloqueoTarjetas'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </output>
  </operation>
  <operation name='consultaAutorizacionesTransito'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </output>
  </operation>
  <operation name='consultaEstadoCuenta'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </output>
  </operation>
  <operation name='consultaGeneral'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </output>
  </operation>
  <operation name='consultaGeneralTarjeta'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </output>
  </operation>
  <operation name='consultaGeneralTarjetaTodos'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </output>
  </operation>
  <operation name='consultaMovimientos'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </output>
  </operation>
  <operation name='consultaPremiacion'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </output>
  </operation>
  <operation name='decrementoTarjetaPrepago'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </output>
  </operation>
  <operation name='dispersionSaldos'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </output>
  </operation>
  <operation name='solicitudReposicionTarjetas'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://www.athservices.net/servicios/WebServiceSitioWeb' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='WebServiceSitioWebService'>
  <port binding='tns:WebServiceSitioWebBinding' name='WebServiceSitioWebPort'>
   <soap:address location='http://172.17.206.21:8080/servicios2'/>
  </port>
 </service>
</definitions>