BCIE_fenix/qa/ADF-BPM/bpm/PC02Preparacion/PC02PreparacionProcessUITest/SOA/Schemas/Preparacion/V1/PreparacionPayload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:preparacion="http://xmlns.bcie.org/ObjetoProceso/Preparacion/Payload/V1"
           xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
           xmlns:notificacion="http://xmlns.bcie.org/ObjetoProceso/Comun/Notificacion/V1"
           targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Preparacion/Payload/V1" 
           elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">
           
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
             schemaLocation="../../Comun/Header/V1/HeaderOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
             schemaLocation="../../Comun/Parameter/V1/ParameterOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Notificacion/V1"
             schemaLocation="../../Comun/Notificacion/V1/NotificacionOPN.xsd"/>
             
  <xs:element name="PreparacionPayload" type="preparacion:PreparacionPayloadType">
    <xs:annotation>
      <xs:documentation>Elemento que define los campos de entrada para el proceso core de Preparación</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Notificacion" type="notificacion:NotificacionType"/>
  <xs:element name="EquipoPayload" type="preparacion:EquipoPayloadType">
        <xs:annotation>
                <xs:documentation></xs:documentation>
        </xs:annotation>
  </xs:element>
  
  <xs:element name="PreparacionErrorPayload" type="preparacion:PreparacionErrorPayloadType">
        <xs:annotation>
                <xs:documentation></xs:documentation>
        </xs:annotation>
  </xs:element>
  
  
  <xs:complexType name="PreparacionPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="Configuration" type="preparacion:ConfigGatewaysType"/>
      <xs:element name="RAROC" type="xs:decimal" minOccurs="0"  maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfigGatewaysType">
    <xs:sequence>
      <xs:element name="retornoAnalisis" type="xs:boolean"/>
      <xs:element name="prescindirPreparacion" type="xs:boolean"/>
      <xs:element name="requiereHojaTerminosSEPRI" type="xs:boolean"/>
      <xs:element name="requiereProcesoEvaluaciones" type="xs:boolean"/>
      <xs:element name="requiereDeterminarRAROC" type="xs:boolean"/>
      <xs:element name="requiereHojaTerminosPCT" type="xs:boolean"/>
      <xs:element name="requiereOpinionTecnica" type="xs:boolean"/>
      <xs:element name="requiereAnalisisAdquisiciones" type="xs:boolean"/>
      <xs:element name="requiereRevisionComisiones" type="xs:boolean"/>
      <xs:element name="quienSolicitoAjustes" type="xs:string"/>
      <xs:element name="solicitaMasInfoDeterminarRAROC" type="xs:boolean"/>
      <xs:element name="solicitaMasInfoHojaTerminosPCT" type="xs:boolean"/>
      <xs:element name="solicitaMasInfoOpinionTecnica" type="xs:boolean"/>
      <xs:element name="solicitaMasInfoAnalisisAdquisiciones" type="xs:boolean"/>
      <xs:element name="solicitaMasInfoRevisionComisiones" type="xs:boolean"/>
      <xs:element name="solicitaMasInfoEnviarOperAnalisis" type="xs:boolean"/>
      <xs:element name="requiereCobroComision" type="xs:boolean"/>
      <xs:element name="requiereLAFT" type="xs:boolean"/>
      <xs:element name="existeObjecionVigente" type="xs:boolean"/>
	  <xs:element name="requiereValidarMatriz" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
   <xs:complexType name="PreparacionErrorPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="Configuration" type="preparacion:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoPayload" type="preparacion:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="RAROC" type="xs:decimal" minOccurs="0"  maxOccurs="1"/>
      <xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
     </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="EquipoPayloadType">
    <xs:sequence>
      <xs:element name="ejecutivoSepri" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="analistaCredito" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ejecutivoPCT" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="especialistaSectorial" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="oficialAdquisiciones" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="analistaCofi" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="control" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
