AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/StoreApp/StoreService/Resources/WADL/StoreServiceSAALMAProxy.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns0="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:ebm="http://www.agarcia.mx/EnterpriseObjects/Store" xmlns:ns1="http://www.agarcia.mx/EnterpriseObjects/Custom" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="StoreServiceSAALMAProxy">RestService</doc>
   <grammars>
      <xsd:schema xmlns:tns="http://www.agarcia.mx/ServiceBus/Store" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Store" schemaLocation="../../../../MetaData/Components/EnterpriseObjectLibrary/EBO/Store/StoreEBM.xsd"/>
    </xsd:schema>
   </grammars>
   <resources>
      <resource path="/berger/AGSaalma/AGSaalma/Tiendas">
         <method name="GET" soa:wsdlOperation="ProcessStore">
            <request soa:paramElement="pns:ProcessStoreEBM" xmlns:pns="http://www.agarcia.mx/EnterpriseObjects/Store"><!--
               <param name="TrackingID" style="query" soa:expression="$msg.ProcessStoreReqMsg/ebm:Header/ns0:TrackingID" type="xsd:string"/>
               <param name="InstanceID" style="query" soa:expression="$msg.ProcessStoreReqMsg/ebm:Header/ns0:InstanceID" type="xsd:string"/>
               <param name="Target.Name" style="query" soa:expression="$msg.ProcessStoreReqMsg/ebm:Header/ns0:Target/ns0:Applications/ns0:Name" type="xsd:string"/>-->
               <param name="Operation" style="query" soa:expression="$msg.ProcessStoreReqMsg/ebm:Header/ns0:Operation" type="xsd:string"/>
               <param name="Identification.ID" style="query" soa:expression="$msg.ProcessStoreReqMsg/ebm:DataArea/ebm:ProcessStore/ns0:Identification/ns0:ID" type="xsd:string"/>
               <param name="ProcessStore.Name" style="query" soa:expression="$msg.ProcessStoreReqMsg/ebm:DataArea/ebm:ProcessStore/Name" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:ProcessStoreResponseEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Store"/>
            </response>
         </method>
      </resource>
   </resources>
</application>