MIRA/SOA_PRD_Almacenes/JDAUpdateStatusItemProcess/SOA/WSDLs/UpdateStatusItemProcess.wsdl

<?xml version='1.0' encoding='windows-1252'?>
<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Items/UpdateStatusItemProcessSvc/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://mx.agarcia.ea/Capabilities/Core/Items/UpdateStatusItemProcessSvc/v1.0" xmlns:ns1="http://mx.agarcia.ea/Capabilities/Core/Items/CreateItemEntity" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://mx.agarcia.ea/Capabilities/Core/Items/CreateItemEntity" schemaLocation="../Schemas/CreateItemEntitySchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../Schemas/Commons/AGStandardMessageSchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../Schemas/Commons/AGStandardHeaderSchema.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="updateStatusItemRequestMessage">
      <wsdl:part name="createItemJDARequest" element="ns1:createItemRequest"/>
   </wsdl:message>
   <wsdl:message name="updateStatusItemResponseMessage">
      <wsdl:part name="createItemJDAResponse" element="ns1:createItemResponse"/>
   </wsdl:message>
   <wsdl:message name="standardMessageHeader">
      <wsdl:part name="header" element="AGSH:headerMessage"/>
   </wsdl:message>
   <wsdl:message name="standardMessageHeaderResponse">
      <wsdl:part name="headerRes" element="AGSM:messageResponse"/>
   </wsdl:message>
   <wsdl:message name="standardMessageFault">
      <wsdl:part name="fault" element="AGSM:messageError"/>
   </wsdl:message>
   <wsdl:portType name="UpdateStatusItemPTye">
      <wsdl:operation name="updateStatus">
         <wsdl:input message="client:updateStatusItemRequestMessage"/>
         <wsdl:output message="client:updateStatusItemResponseMessage"/>
         <wsdl:fault message="client:standardMessageFault" name="fault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="UpdateStatusItemBinding" type="client:UpdateStatusItemPTye">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="updateStatus">
         <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Items/UpdateStatusItemProcessSvc/v1.0/updateStatus"/>
         <wsdl:input>
            <soap:body use="literal" parts="createItemJDARequest"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="createItemJDAResponse"/>
         </wsdl:output>
         <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
