Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/TELERED/resources/xsd/pasarela.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	xmlns:tns="http://dto.eis.pasarela.hubpagos.bytesw.com/"
	targetNamespace="http://dto.eis.pasarela.hubpagos.bytesw.com/" version="1.0">

	<!-- GET_SESSION -->

	<xs:element name="GetSessionRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="canal" type="tns:stringRequiredTwo" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetSessionResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="error" type="tns:error" nillable="true"/>
				<xs:element name="sesionId" type="xs:string" nillable="true"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<!-- GET_BILLERS -->
	
	<xs:element name="GetBillersRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sesionId" type="tns:stringRequiredForty" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetBillersResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="error" type="tns:error" nillable="true"/>
				<xs:element name="cobranzas" type="tns:cobranza" nillable="true" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	<!-- GET_BALANCE -->
	
	<xs:element name="GetBalanceRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sesionId" type="tns:stringRequiredForty" />				
				<xs:element name="facturador" type="xs:int" nillable="false"  />
				<xs:element name="cobranza" type="xs:int" nillable="false" />
				<xs:element name="servicio" type="xs:int" nillable="false" />
				<xs:element name="idTrxColector" type="xs:long"  nillable="false"/>
				<xs:element name="idConsulta" type="tns:stringRequiredForty"  />
				<xs:element name="camposCobranza" type="tns:camposCobranza"  nillable="false"/>
				<xs:element name="codigoIdioma" type="tns:stringTwo" nillable="true"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="GetBalanceResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="error" type="tns:error" nillable="true"/>
				<xs:element name="camposCobranza" type="tns:camposCobranza" nillable="true" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	
	
	<!-- PAYBILL -->
	
	<xs:element name="PayBillRequest">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="sesionId" type="tns:stringRequiredForty" />
				<xs:element name="facturador" type="xs:int" nillable="false" />
				<xs:element name="cobranza" type="xs:int"  nillable="false" />
				<xs:element name="servicio" type="xs:int"  nillable="false"/>
				<xs:element name="idTrxColector" type="xs:long" nillable="false" />
				<xs:element name="camposCobranza" type="tns:camposCobranza"  nillable="false"/>
				<xs:element name="subTotal" type="xs:decimal" nillable="false" />
				<xs:element name="impuestos" type="xs:decimal" nillable="false" />
				<xs:element name="total" type="xs:decimal" nillable="false" />
				<xs:element name="autorizacionDebitoColector" type="xs:long" nillable="false" />
				<xs:element name="idPago" type="tns:stringRequiredForty"  />
				<xs:element name="moneda" type="tns:stringRequiredThree"  />
				<xs:element name="numeroCuenta" type="xs:integer"  nillable="true"/>
				<xs:element name="producto" type="xs:int" nillable="true"/>
				<xs:element name="codigoIdioma" type="tns:stringTwo" nillable="true"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PayBillResponse">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="error" type="tns:error" nillable="true"/>
				<xs:element name="autorizacionFacturador" type="xs:string" nillable="true"/>
				<xs:element name="camposCobranza" type="tns:camposCobranza"  nillable="true"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>


	<!-- COMMONS -->
	
	<xs:simpleType name="stringTwo">
		<xs:restriction base="xs:string">
			<xs:maxLength value="2" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stringRequiredTwo">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="2" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stringRequiredThree">
		<xs:restriction base="xs:string">
			<xs:minLength value="3" />
			<xs:maxLength value="3" />
		</xs:restriction>
	</xs:simpleType>
		
	<xs:simpleType name="stringRequiredForty">
		<xs:restriction base="xs:string">
			<xs:minLength value="1" />
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="stringForty">
		<xs:restriction base="xs:string">
			<xs:maxLength value="40" />
		</xs:restriction>
	</xs:simpleType>
	
	<xs:complexType name="error">
		<xs:sequence>
			<xs:element name="codigo" type="xs:int" nillable="true"/>
			<xs:element name="descripcion" type="xs:string" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="cobranza">
		<xs:sequence>
			<xs:element name="codigo" type="xs:int" nillable="true"/>
			<xs:element name="nombre" type="xs:string" nillable="true" />
		</xs:sequence>
	</xs:complexType>
		
	<xs:complexType name="camposCobranza">
		<xs:sequence>
			<xs:element name="campo1" type="xs:string" nillable="true"/>
			<xs:element name="campo2" type="xs:string" nillable="true"/>
			<xs:element name="campo3" type="xs:string" nillable="true"/>
			<xs:element name="campo4" type="xs:string" nillable="true"/>
			<xs:element name="campo5" type="xs:string" nillable="true"/>
			<xs:element name="campo6" type="xs:string" nillable="true"/>
			<xs:element name="campo7" type="xs:string" nillable="true"/>
			<xs:element name="campo8" type="xs:string" nillable="true"/>
			<xs:element name="campo9" type="xs:string" nillable="true"/>
			<xs:element name="campo10" type="xs:string" nillable="true"/>
		</xs:sequence>
	</xs:complexType>

</xs:schema>
