Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/BizLayer/AccountLoan/AcctLoanSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="AcctLoanSvc_V1.0"
                  targetNamespace="http://xmlns.banesco.com/BizLayer/AcctLoanSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/BizLayer/AcctLoanSvc_V1.0"
                  xmlns:inp1="http://xmlns.banesco.com/eopt/AcctLoanAdd_V1.0"
                  xmlns:eoptAcctLoanAutoAdd="http://xmlns.banesco.com/eopt/AcctLoanAutoAdd_V1.0"
                  xmlns:eoptAcctLoanMortAdd="http://xmlns.banesco.com/eopt/AcctLoanMortAdd_V1.0"
                  xmlns:inp2="http://xmlns.banesco.com/eo/Status_V1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://xmlns.banesco.com/eopt/AcctLoanAdd_V1.0"
                  schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanAdd/AcctLoanAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/eopt/AcctLoanAutoAdd_V1.0"
                  schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanAutoAdd/AcctLoanAutoAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/eopt/AcctLoanMortAdd_V1.0"
                  schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanMortAdd/AcctLoanMortAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/eo/Status_V1.0"
                  schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="AcctLoanAddRq">
    <wsdl:part name="AcctLoanAddRq" element="inp1:AcctLoanAddRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanAddRs">
    <wsdl:part name="AcctLoanAddRs" element="inp1:AcctLoanAddRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanAutoAddRq">
    <wsdl:part name="AcctLoanAutoAddRq" element="eoptAcctLoanAutoAdd:AcctLoanAutoAddRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanAutoAddRs">
    <wsdl:part name="AcctLoanAutoAddRs" element="eoptAcctLoanAutoAdd:AcctLoanAutoAddRs"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanMortAddRq">
    <wsdl:part name="AcctLoanMortAddRq" element="eoptAcctLoanMortAdd:AcctLoanMortAddRq"/>
  </wsdl:message>
  <wsdl:message name="AcctLoanMortAddRs">
    <wsdl:part name="AcctLoanMortAddRs" element="eoptAcctLoanMortAdd:AcctLoanMortAddRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="inp2:SystemFault"/>
  </wsdl:message>
  
  <wsdl:portType name="AcctLoanSvc_V1.0PortType">
    <wsdl:operation name="AcctLoanAdd">
      <wsdl:input message="tns:AcctLoanAddRq"/>
      <wsdl:output message="tns:AcctLoanAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanAutoAdd">
      <wsdl:input message="tns:AcctLoanAutoAddRq"/>
      <wsdl:output message="tns:AcctLoanAutoAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanMortAdd">
      <wsdl:input message="tns:AcctLoanMortAddRq"/>
      <wsdl:output message="tns:AcctLoanMortAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="AcctLoanSvc_V1.0Binding" type="tns:AcctLoanSvc_V1.0PortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AcctLoanAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/AcctLoanSvc_V1.0/AcctLoanAdd"/>
      <wsdl:input>
        <soap:body use="literal" parts="AcctLoanAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="AcctLoanAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanAutoAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/AcctLoanSvc_V1.0/AcctLoanAutoAdd"/>
      <wsdl:input>
        <soap:body use="literal" parts="AcctLoanAutoAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="AcctLoanAutoAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AcctLoanMortAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/AcctLoanSvc_V1.0/AcctLoanMortAdd"/>
      <wsdl:input>
        <soap:body use="literal" parts="AcctLoanMortAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="AcctLoanMortAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
    <wsdl:service name="AcctLoanSvc_V1.0">
    <wsdl:port name="AcctLoanSvcPort" binding="tns:AcctLoanSvc_V1.0Binding">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
