BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/FLEXCUBE/ConsultarClienteFLEXCUBE/XSD/ConsultarCliente_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultarCliente" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultarCliente" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_CLIENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="EJECUTIVO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="RAZON_SOCIAL" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ABREVIATURA" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TIPO_IDENTIFICACION" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="IDENTIFICACION" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="GRUPO_EMPRESARIAL" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TIPO_PERSONA" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TIPO_INSTITUCION" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="SECTOR_INSTITUCIONAL" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ACTIVIDAD_ECONOMICA" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DIRECCION" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PAIS" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CIUDAD" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TELEFONO" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="FAX" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="EMAIL" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CLIENTE_PADRE" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PUESTO" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TIPO_RELACION" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CALIFICACION_RIESGO" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MONTO_MORA" type="decimal" db:index="22" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="DIAS_MORA" type="decimal" db:index="23" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="MONTO_MORA_GRUPO" type="decimal" db:index="24" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="DIAS_MORA_GRUPO" type="decimal" db:index="25" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="CODIGO_RESULTADO" type="decimal" db:index="26" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="TIPO_RESULTADO" type="decimal" db:index="27" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="MENSAJE" type="string" db:index="28" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>