Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/wsdl/WebServiceT24SvcMock.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="T24Svc" targetNamespace="http://xmlns.banesco.com/service/T24Svc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.banesco.com/service/T24Svc" xmlns:eoptDebitCardUpdateData="http://xmlns.banesco.com/eopt/DebitCardUpdateData" xmlns:eoptCardActivation="http://xmlns.banesco.com/eopt/CardActivation" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.banesco.com/eopt/CardActivation">
      <xs:complexType name="CardActivation_Type">
        <xs:sequence>
          <xs:element name="WebRequestCommon">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="company" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="userName" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="OfsFunction">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="activityName" type="xs:string"/>
                <xs:element name="assignReason" type="xs:string"/>
                <xs:element name="dueDate" type="xs:string"/>
                <xs:element name="extProcess" type="xs:string"/>
                <xs:element name="extProcessID" type="xs:string"/>
                <xs:element name="gtsControl" type="xs:string"/>
                <xs:element name="messageId" type="xs:string"/>
                <xs:element name="noOfAuth" type="xs:string"/>
                <xs:element name="owner" type="xs:string"/>
                <xs:element name="replace" type="xs:string"/>
                <xs:element name="startDate" type="xs:string"/>
                <xs:element name="user" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="CardActivationType">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="NumCta" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Numero de la cuenta</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="NumCli" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Numero de cliente</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="NumTar" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Numero de tarjeta</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="CodEstatus" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Codigo de estatus de la tarjeta</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="CardActivationResponse_Type">
        <xs:sequence>
          <xs:element name="Status">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="transactionId" type="xs:string"/>
                <xs:element name="messageId" type="xs:string"/>
                <xs:element name="successIndicator" type="xs:string"/>
                <xs:element name="application" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="messages" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CardActivation" type="eoptCardActivation:CardActivation_Type"/>
      <xs:element name="CardActivationResponse" type="eoptCardActivation:CardActivationResponse_Type"/>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.banesco.com/eopt/DebitCardUpdateData">
      <xs:complexType name="DebitCardUpdateData_Type">
        <xs:sequence>
          <xs:element name="WebRequestCommon">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="company" type="xs:string"/>
                <xs:element name="password" type="xs:string"/>
                <xs:element name="userName" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="OfsFunction">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="activityName" type="xs:string"/>
                <xs:element name="assignReason" type="xs:string"/>
                <xs:element name="dueDate" type="xs:string"/>
                <xs:element name="extProcess" type="xs:string"/>
                <xs:element name="extProcessID" type="xs:string"/>
                <xs:element name="gtsControl" type="xs:string"/>
                <xs:element name="messageId" type="xs:string"/>
                <xs:element name="noOfAuth" type="xs:string"/>
                <xs:element name="owner" type="xs:string"/>
                <xs:element name="replace" type="xs:string"/>
                <xs:element name="startDate" type="xs:string"/>
                <xs:element name="user" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="DebitCardUpdateDataType">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="NumCta" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Numero de la cuenta</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="FecAfi" type="xs:dateTime">
                  <xs:annotation>
                    <xs:documentation>Fecha de Afiliacion</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="FecExp" type="xs:dateTime">
                  <xs:annotation>
                    <xs:documentation>Fecha de Expiracion</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="NumTar" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Numero de tarjeta</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="FecEstatus" type="xs:dateTime">
                  <xs:annotation>
                    <xs:documentation>Fecha de cambio de estatus</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="CodEstatus" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Código de estatus de la tarjeta</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="tipOp" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Tipo de operacion</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="DebitCardUpdateDataResponse_Type">
        <xs:sequence>
          <xs:element name="Status">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="transactionId" type="xs:string"/>
                <xs:element name="messageId" type="xs:string"/>
                <xs:element name="successIndicator" type="xs:string"/>
                <xs:element name="application" type="xs:string"/>
                <xs:element maxOccurs="1" minOccurs="0" name="messages" type="xs:string"/>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="DebitCardUpdateData" type="eoptDebitCardUpdateData:DebitCardUpdateData_Type"/>
      <xs:element name="DebitCardUpdateDataResponse" type="eoptDebitCardUpdateData:DebitCardUpdateDataResponse_Type"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="CardActivation">
    <wsdl:part name="CardActivation" element="eoptCardActivation:CardActivation">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CardActivationResponse">
    <wsdl:part name="CardActivationResponse" element="eoptCardActivation:CardActivationResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DebitCardUpdateDataResponse">
    <wsdl:part name="DebitCardUpdateDataResponse" element="eoptDebitCardUpdateData:DebitCardUpdateDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="DebitCardUpdateData">
    <wsdl:part name="DebitCardUpdateData" element="eoptDebitCardUpdateData:DebitCardUpdateData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="T24Svc_V1.0">
    <wsdl:operation name="CardActivation">
      <wsdl:input message="tns:CardActivation">
    </wsdl:input>
      <wsdl:output message="tns:CardActivationResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DebitCardUpdateData">
      <wsdl:input message="tns:DebitCardUpdateData">
    </wsdl:input>
      <wsdl:output message="tns:DebitCardUpdateDataResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="T24Svc_V1.0SOAP" type="tns:T24Svc_V1.0">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CardActivation">
      <soap:operation soapAction="http://xmlns.banesco.com/service/T24Svc/CardActivation" style="document"/>
      <wsdl:input>
        <soap:body parts="CardActivation" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="CardActivationResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DebitCardUpdateData">
      <soap:operation soapAction="http://xmlns.banesco.com/service/T24Svc/DebitCardUpdateData" style="document"/>
      <wsdl:input>
        <soap:body parts="DebitCardUpdateData" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="DebitCardUpdateDataResponse" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="T24Svc_V1.0">
    <wsdl:port name="T24Svc_V1.0SOAP" binding="tns:T24Svc_V1.0SOAP">
      <soap:address location="http://localhost:8088/WebServiceT24SvcMock"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
