BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Cuestionario/V1/WSDL/ADAPTER/CrearReporteElegibilidad.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://xmlns.bcie.com/CuestionarioService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://xmlns.bcie.com/CuestionarioService"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:cueMO="http://xmlns.bcie.com/CuestionarioMO">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.bcie.com/CuestionarioMO" schemaLocation="../../Schema/CuestionarioMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CrearReporteElegibilidadRequestMessage">
    <wsdl:part name="request" element="cueMO:CrearReporteElegibilidadRequest"/>
  </wsdl:message>
  <wsdl:message name="CrearReporteElegibilidadResponseMessage">
    <wsdl:part name="response" element="cueMO:CrearReporteElegibilidadResponse"/>
  </wsdl:message>
  <wsdl:message name="CrearReporteNotaConceptoRequestMessage">
    <wsdl:part name="request" element="cueMO:CrearReporteNotaConceptoRequest"/>
  </wsdl:message>
  <wsdl:message name="CrearReporteNotaConceptoResponseMessage">
    <wsdl:part name="response" element="cueMO:CrearReporteNotaConceptoResponse"/>
  </wsdl:message>

  <wsdl:portType name="CuestionarioPT">
    <wsdl:operation name="crearReporteElegibilidad">
      <wsdl:input message="tns:CrearReporteElegibilidadRequestMessage"/>
      <wsdl:output message="tns:CrearReporteElegibilidadResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="crearReporteNotaConcepto">
      <wsdl:input message="tns:CrearReporteNotaConceptoRequestMessage"/>
      <wsdl:output message="tns:CrearReporteNotaConceptoResponseMessage"/>
    </wsdl:operation>    
  </wsdl:portType>
  
  <wsdl:binding name="Cuestionario12Bnd" type="tns:CuestionarioPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearReporteElegibilidad">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/CuestionarioService/crearPDF"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearReporteNotaConcepto">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/CuestionarioService/crearPDF"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>    
  </wsdl:binding>
</wsdl:definitions>