AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ResponseProtosAdapterService/MetaData/Components/EnterpriseObjectLibrary/EBO/Item/ItemEBM.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Item" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Item" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
	<xsd:include schemaLocation="ItemEBO.xsd"/>
	<xsd:element name="ProcessItemEBM" type="ProcessItemEBMType"/>
	<xsd:element name="ProcessItemResponseEBM" type="ProcessItemResponseEBMType"/>
	<xsd:element name="ProcessItemResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>
	<xsd:element name="CreateItemEBM" type="CreateItemEBMType"/>
	<xsd:element name="CreateItemResponseEBM" type="CreateItemResponseEBMType"/>
	<xsd:element name="UpdateItemEBM" type="UpdateItemEBMType"/>
	<xsd:element name="UpdateItemResponseEBM" type="UpdateItemResponseEBMType"/>
	<xsd:element name="DeleteItemEBM" type="DeleteItemEBMType"/>
	<xsd:element name="DeleteItemResponseEBM" type="DeleteItemResponseEBMType"/>
	<xsd:element name="SyncItemEBM" type="SyncItemEBMType"/>
	<xsd:element name="SyncItemResponseEBM" type="SyncItemResponseEBMType"/>
	<xsd:element name="QueryItemEBM" type="QueryItemEBMType"/>
	<xsd:element name="QueryItemResponseEBM" type="QueryItemResponseEBMType"/>
	<xsd:complexType name="ProcessItemEBMType">
		<xsd:sequence>
			<xsd:element name="Header" type="com:HeaderType"/>
			<xsd:element name="DataArea">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ProcessItem" type="ItemEBOType" maxOccurs="unbounded"/>
						<xsd:element name="ItemRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProcessItemResponseEBMType">
		<xsd:sequence>
			<xsd:element name="Response" type="com:ResponseType"/>
			<xsd:element name="ProcessItemReference" type="com:IdentificationType" minOccurs="0"/>
			<xsd:element name="ItemRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ResponseAcknowledgeEBMType">
		<xsd:sequence>
			<xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreateItemEBMType">
		<xsd:sequence>
			<xsd:element name="Header" type="com:HeaderType"/>
			<xsd:element name="DataArea">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="CreateItem" type="ItemEBOType" maxOccurs="unbounded"/>
						<xsd:element name="ItemRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CreateItemResponseEBMType">
		<xsd:sequence>
			<xsd:element name="Response" type="com:ResponseType"/>
			<xsd:element minOccurs="0" name="CreateItemReference" type="com:IdentificationType"/>
			<xsd:element name="ItemRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdateItemEBMType">
		<xsd:sequence>
			<xsd:element name="Header" type="com:HeaderType"/>
			<xsd:element name="DataArea">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="UpdateItem" type="ItemEBOType" maxOccurs="unbounded"/>
						<xsd:element name="ItemRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="UpdateItemResponseEBMType">
		<xsd:sequence>
			<xsd:element name="Response" type="com:ResponseType"/>
			<xsd:element name="UpdateItemReference" type="com:IdentificationType" minOccurs="0"/>
			<xsd:element name="ItemRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeleteItemEBMType">
		<xsd:sequence>
			<xsd:element name="Header" type="com:HeaderType"/>
			<xsd:element name="DataArea">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="DeleteItem" type="ItemEBOType" maxOccurs="unbounded"/>
						<xsd:element name="ItemHistoryRecord" type="com:EntityHistoryReferenceType" minOccurs="0"/>
					</xsd:sequence>
					<xsd:attribute name="action" type="com:ActionType"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DeleteItemResponseEBMType">
		<xsd:sequence>
			<xsd:element name="Response" type="com:ResponseType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SyncItemEBMType">
		<xsd:sequence>
			<xsd:element name="Header" type="com:HeaderType"/>
			<xsd:element name="DataArea">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="SyncItem" type="ItemEBOType" maxOccurs="unbounded"/>
						<xsd:element name="ItemHistoryRecord" type="com:EntityHistoryReferenceType" minOccurs="0"/>
					</xsd:sequence>
					<xsd:attribute name="action" type="com:ActionType"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="SyncItemResponseEBMType">
		<xsd:sequence>
			<xsd:element name="Response" type="com:ResponseType"/>
			<xsd:element minOccurs="0" name="SyncItemReference" type="com:IdentificationType"/>
			<xsd:element name="ItemRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="QueryItemEBMType">
		<xsd:sequence>
			<xsd:element name="Header" type="com:HeaderType"/>
			<xsd:element name="DataArea">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="QueryItem" type="ItemEBOType" maxOccurs="unbounded"/>
						<xsd:element name="ItemHistoryRecord" type="com:EntityHistoryReferenceType" minOccurs="0"/>
					</xsd:sequence>
					<xsd:attribute name="action" type="com:ActionType"/>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="QueryItemResponseEBMType">
		<xsd:sequence>
			<xsd:element name="Response" type="com:ResponseType"/>
			<xsd:element minOccurs="0" name="QueryItemReference" type="com:IdentificationType"/>
			<xsd:element name="ItemRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>