BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Condicion/ConsultarTreCategoriaByIdCondicion/XSD/ConsultarTreCategoriaByIdCondicion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarCategoriaByCondicion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarCategoriaByCondicion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarCategoriaByCondicionInput" type="ConsultarCategoriaByCondicionInput"/>
   <xs:complexType name="ConsultarCategoriaByCondicionInput">
      <xs:sequence>
            <xs:element name="P_CONDICION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarCategoriaByCondicionOutputCollection" type="ConsultarCategoriaByCondicionOutputCollection"/>
   <xs:complexType name="ConsultarCategoriaByCondicionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarCategoriaByCondicionOutput" type="ConsultarCategoriaByCondicionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarCategoriaByCondicionOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="COD_EXTERNO" type="xs:string" nillable="true"/>
         <xs:element name="ID_CONDICION" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>