Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EO/Status/Status_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eo/Status_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:element name="BusinessFault" type="eoStatus:Status"/>
	<xs:element name="SystemFault" type="eoStatus:Status"/>
	<xs:complexType name="AdditionalStatus">
		<xs:annotation>
			<xs:documentation>Additional Status</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StatusDesc" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status">
		<xs:annotation>
			<xs:documentation>Functional message.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalStatus" type="eoStatus:AdditionalStatus" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Status" type="eoStatus:Status"/>
</xs:schema>
