Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/QUANTIC/resources/wsdl/QuanticConnections.wsdl

<?xml version="1.0"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://connections.quanticvision.com/banescobl/public/soap"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="SoapService" targetNamespace="http://connections.quanticvision.com/banescobl/public/soap">
  <types>
    <xsd:schema targetNamespace="http://connections.quanticvision.com/banescobl/public/soap">
      <!--<xsd:complexType name="MessageResponse">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" nillable="true"/>
          <xsd:element name="external_id" type="xsd:string" nillable="true"/>
          <xsd:element name="status_id" type="xsd:string" nillable="true"/>
          <xsd:element name="last_change" type="xsd:string" nillable="true"/>
          <xsd:element name="error" type="xsd:string" nillable="true"/>
          <xsd:element name="content" type="xsd:string" nillable="true"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="SearchRequest">
        <xsd:all>
          <xsd:element name="start_date" type="xsd:string" nillable="true"/>
          <xsd:element name="end_date" type="xsd:string" nillable="true"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMessageResponse">
        <xsd:sequence>
          <xsd:element name="item" type="tns:MessageResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="MessageRequest">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" nillable="true"/>
          <xsd:element name="from" type="xsd:string" nillable="true"/>
          <xsd:element name="destination" type="xsd:string" nillable="true"/>
          <xsd:element name="type" type="xsd:string" nillable="true"/>
          <xsd:element name="template_name" type="xsd:string" nillable="true"/>
          <xsd:element name="tags" type="xsd:string" nillable="true"/>
          <xsd:element name="attachments" type="xsd:string" nillable="true"/>
          <xsd:element name="app_source" type="xsd:string" nillable="true"/>
          <xsd:element name="P1" type="xsd:string" nillable="true"/>
          <xsd:element name="P2" type="xsd:string" nillable="true"/>
          <xsd:element name="P3" type="xsd:string" nillable="true"/>
          <xsd:element name="P4" type="xsd:string" nillable="true"/>
          <xsd:element name="P5" type="xsd:string" nillable="true"/>
          <xsd:element name="P6" type="xsd:string" nillable="true"/>
          <xsd:element name="P7" type="xsd:string" nillable="true"/>
          <xsd:element name="P8" type="xsd:string" nillable="true"/>
          <xsd:element name="P9" type="xsd:string" nillable="true"/>
          <xsd:element name="P10" type="xsd:string" nillable="true"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMessageRequest">
        <xsd:sequence>
          <xsd:element name="item" type="tns:MessageRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>-->
      <xsd:complexType name="SearchRequest">
        <xsd:all>
          <xsd:element name="start_date" type="xsd:string" nillable="true"/>
          <xsd:element name="end_date" type="xsd:string" nillable="true"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MessageRequest">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" nillable="true"/>
          <xsd:element name="from" type="xsd:string" nillable="true"/>
          <xsd:element name="destination" type="xsd:string" nillable="true"/>
          <xsd:element name="type" type="xsd:string" nillable="true"/>
          <xsd:element name="template_name" type="xsd:string" nillable="true"/>
          <xsd:element name="tags" type="xsd:string" nillable="true"/>
          <xsd:element name="attachments" type="xsd:string" nillable="true"/>
          <xsd:element name="app_source" type="xsd:string" nillable="true"/>
          <xsd:element name="P1" type="xsd:string" nillable="true"/>
          <xsd:element name="P2" type="xsd:string" nillable="true"/>
          <xsd:element name="P3" type="xsd:string" nillable="true"/>
          <xsd:element name="P4" type="xsd:string" nillable="true"/>
          <xsd:element name="P5" type="xsd:string" nillable="true"/>
          <xsd:element name="P6" type="xsd:string" nillable="true"/>
          <xsd:element name="P7" type="xsd:string" nillable="true"/>
          <xsd:element name="P8" type="xsd:string" nillable="true"/>
          <xsd:element name="P9" type="xsd:string" nillable="true"/>
          <xsd:element name="P10" type="xsd:string" nillable="true"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="MessageResponse">
        <xsd:all>
          <xsd:element name="id" type="xsd:string" nillable="true"/>
          <xsd:element name="external_id" type="xsd:string" nillable="true"/>
          <xsd:element name="status_id" type="xsd:string" nillable="true"/>
          <xsd:element name="last_change" type="xsd:string" nillable="true"/>
          <xsd:element name="error" type="xsd:string" nillable="true"/>
          <xsd:element name="content" type="xsd:string" nillable="true"/>
        </xsd:all>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMessageRequest">
        <xsd:sequence>
          <xsd:element name="item" type="tns:MessageRequest" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ArrayOfMessageResponse">
        <xsd:sequence>
          <xsd:element name="item" type="tns:MessageResponse" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <portType name="SoapServicePort">
    <operation name="sayHello">
      <documentation>Returns Hello World as a string.</documentation>
      <input message="tns:sayHelloIn"/>
      <output message="tns:sayHelloOut"/>
    </operation>
    <operation name="getMessage">
      <input message="tns:getMessageIn"/>
      <output message="tns:getMessageOut"/>
    </operation>
    <operation name="getMessagesByDates">
      <input message="tns:getMessagesByDatesIn"/>
      <output message="tns:getMessagesByDatesOut"/>
    </operation>
    <operation name="createMessages">
      <documentation>@param   string                          $identity</documentation>
      <input message="tns:createMessagesIn"/>
      <output message="tns:createMessagesOut"/>
    </operation>
  </portType>
  <binding name="SoapServiceBinding" type="tns:SoapServicePort">
    <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="sayHello">
      <soap:operation soapAction="http://connections.quanticvision.com/banescobl/public/soap#sayHello"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   namespace="http://connections.quanticvision.com/banescobl/public/soap"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   namespace="http://connections.quanticvision.com/banescobl/public/soap"/>
      </output>
    </operation>
    <operation name="getMessage">
      <soap:operation soapAction="http://connections.quanticvision.com/banescobl/public/soap#getMessage"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   namespace="http://connections.quanticvision.com/banescobl/public/soap"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   namespace="http://connections.quanticvision.com/banescobl/public/soap"/>
      </output>
    </operation>
    <operation name="getMessagesByDates">
      <soap:operation soapAction="http://connections.quanticvision.com/banescobl/public/soap#getMessagesByDates"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   namespace="http://connections.quanticvision.com/banescobl/public/soap"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   namespace="http://connections.quanticvision.com/banescobl/public/soap"/>
      </output>
    </operation>
    <operation name="createMessages">
      <soap:operation soapAction="http://connections.quanticvision.com/banescobl/public/soap#createMessages"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   namespace="http://connections.quanticvision.com/banescobl/public/soap"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                   namespace="http://connections.quanticvision.com/banescobl/public/soap"/>
      </output>
    </operation>
  </binding>
  <service name="SoapServiceService">
    <port name="SoapServicePort" binding="tns:SoapServiceBinding">
      <soap:address location="http://connections.quanticvision.com/banescobl/public/soap"/>
    </port>
  </service>
  <message name="sayHelloIn">
    <part name="name" type="xsd:string"/>
  </message>
  <message name="sayHelloOut">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="getMessageIn">
    <part name="identity" type="xsd:string"/>
    <part name="credential" type="xsd:string"/>
    <part name="id" type="xsd:string"/>
  </message>
  <message name="getMessageOut">
    <part name="return" type="tns:MessageResponse"/>
  </message>
  <message name="getMessagesByDatesIn">
    <part name="identity" type="xsd:string"/>
    <part name="credential" type="xsd:string"/>
    <part name="data" type="tns:SearchRequest"/>
  </message>
  <message name="getMessagesByDatesOut">
    <part name="return" type="tns:ArrayOfMessageResponse"/>
  </message>
  <message name="createMessagesIn">
    <part name="identity" type="xsd:string"/>
    <part name="credential" type="xsd:string"/>
    <part name="data" type="tns:ArrayOfMessageRequest"/>
  </message>
  <message name="createMessagesOut">
    <part name="return" type="tns:ArrayOfMessageResponse"/>
  </message>
</definitions>
