AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/SupplierApp/SyncSupplierPrototiposABCSimpl/Resources/XSD/OutputSchemaProtos.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://TargetNamespace.com/SyncSupplerPrototiposRestReference_Sync_response" targetNamespace="http://TargetNamespace.com/SyncSupplerPrototiposRestReference_Sync_response" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
   <xsd:element name="Root-Element">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="response_array" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="input">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="clave" type="xsd:integer"/>
                              <xsd:element name="nombre" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="id" type="xsd:integer"/>
                     <xsd:element name="status" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>