Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/BizLayer/Payment/PmtSvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/BizLayer/PmtSvc_V1.0" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://xmlns.banesco.com/BizLayer/PmtSvc_V1.0"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptPmtCardAdd="http://xmlns.banesco.com/eopt/PmtCardAdd_V1.0"
             xmlns:eoptPmtCardRev="http://xmlns.banesco.com/eopt/PmtCardRev_V1.0"
             xmlns:eoptBillersInfoInq="http://xmlns.banesco.com/eopt/BillersInfoInq_V1.0"
             xmlns:eoptPmtUtilAdd="http://xmlns.banesco.com/eopt/PmtUtilAdd_V1.0"
             xmlns:eoptBillInq="http://xmlns.banesco.com/eopt/BillInq_V1.0" >
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Payment/BillersInfoInq/BillersInfoInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/BillersInfoInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Payment/PmtUtilAdd/PmtUtilAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PmtUtilAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Payment/BillInq/BillInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/BillInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Payment/PmtCardAdd/PmtCardAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PmtCardAdd_V1.0"/>
    </xsd:schema>
  </types>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="BillersInfoInqRq">
    <part name="BillersInfoInqRq" element="eoptBillersInfoInq:BillersInfoInqRq"/>
  </message>
  <message name="BillersInfoInqRs">
    <part name="BillersInfoInqRs" element="eoptBillersInfoInq:BillersInfoInqRs"/>
  </message>
  <message name="PmtUtilAddRq">
    <part name="PmtUtilAddRq" element="eoptPmtUtilAdd:PmtUtilAddRq"/>
  </message>
  <message name="PmtUtilAddRs">
    <part name="PmtUtilAddRs" element="eoptPmtUtilAdd:PmtUtilAddRs"/>
  </message>
  <message name="BillInqRq">
    <part name="BillInqRq" element="eoptBillInq:BillInqRq"/>
  </message>
  <message name="BillInqRs">
    <part name="BillInqRs" element="eoptBillInq:BillInqRs"/>
  </message>
  <message name="PmtCardAddRq">
    <part name="PmtCardAddRq" element="eoptPmtCardAdd:PmtCardAddRq"/>
  </message>
  <message name="PmtCardAddRs">
    <part name="PmtCardAddRs" element="eoptPmtCardAdd:PmtCardAddRs"/>
  </message>
  <portType name="PmtSvc_V1.0PortType">
    <operation name="BillersInfoInq">
      <input message="tns:BillersInfoInqRq"/>
      <output message="tns:BillersInfoInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="PmtUtilAdd">
      <input message="tns:PmtUtilAddRq"/>
      <output message="tns:PmtUtilAddRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="BillInq">
      <input message="tns:BillInqRq"/>
      <output message="tns:BillInqRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="PmtCardAdd">
      <input message="tns:PmtCardAddRq"/>
      <output message="tns:PmtCardAddRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
  </portType>
  <binding name="PmtSvc_V1.0SOAPBinding" type="tns:PmtSvc_V1.0PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="BillersInfoInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/PmtSvc_V1.0/BillersInfoInq"/>
      <input>
        <soap:body use="literal" parts="BillersInfoInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="BillersInfoInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PmtUtilAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/PmtSvc_V1.0/PmtUtilAdd"/>
      <input>
        <soap:body use="literal" parts="PmtUtilAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PmtUtilAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="BillInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/PmtSvc_V1.0/BillInq"/>
      <input>
        <soap:body use="literal" parts="BillInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="BillInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PmtCardAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/PmtSvc_V1.0/PmtCardAdd"/>
      <input>
        <soap:body use="literal" parts="PmtCardAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PmtCardAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PmtSvc_V1.0">
    <port name="PmtSvcPort" binding="tns:PmtSvc_V1.0SOAPBinding">
      <soap:address location="http://www.example.com"/>
    </port>
  </service>
</definitions>