Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/WFAcctAppSvc/WFAcctAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="WFAcctAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/WFAcctAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/WFAcctAppSvc_V1.0"
                  xmlns:appoptAcctInq="http://xmlns.banesco.com/appopt/WFAcctAppSvc/AcctInq_V1.0"
                  xmlns:appoptAcctInfoInq="http://xmlns.banesco.com/appopt/WFAcctAppSvc/AcctInfoInq_V1.0"
                  xmlns:appoptAcctAdd="http://xmlns.banesco.com/appopt/WFAcctAppSvc/AcctAdd_V1.0"
                  xmlns:appoptAcctSignGrpAdd="http://xmlns.banesco.com/appopt/WFAcctAppSvc/AcctSignatureGrpAdd_V1.0"
                  xmlns:appoptAcctCondMobilAdd="http://xmlns.banesco.com/appopt/WFAcctAppSvc/AcctCondMobilAdd_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"
                        namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"/>
            <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                        namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
            <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctAppSvc/AcctInq_V1.0"
                        schemaLocation="../../../xsd/AppOpt/WFAcct/AcctInq/AcctInq_V1.0.xsd"/>
            <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctAppSvc/AcctInfoInq_V1.0"
                        schemaLocation="../../../xsd/AppOpt/WFAcct/AcctInfoInq/AcctInfoInq_V1.0.xsd"/>
            <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctAppSvc/AcctAdd_V1.0"
                        schemaLocation="../../../xsd/AppOpt/WFAcct/AcctAdd/AcctAdd_V1.0.xsd"/>
            <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctAppSvc/AcctSignatureGrpAdd_V1.0"
                        schemaLocation="../../../xsd/AppOpt/WFAcct/AcctSignatureGrpAdd/AcctSignatureGrpAdd_V1.0.xsd"/>
            <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctAppSvc/AcctCondMobilAdd_V1.0"
                        schemaLocation="../../../xsd/AppOpt/WFAcct/AcctCondMobilAdd/AcctCondMobilAdd_V1.0.xsd"/>
			<xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctAppSvc/AcctChargeAdd_V1.0"
                        schemaLocation="../../../xsd/AppOpt/WFAcct/AcctChargeAdd/AcctChargeAdd_V1.0.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MsgHdrRq">
        <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
    </wsdl:message>
    <wsdl:message name="MsgHdrRs">
        <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
    </wsdl:message>
    <wsdl:message name="SystemFault">
        <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
    </wsdl:message>
    <wsdl:message name="AcctInqRq">
        <wsdl:part name="AcctInqRq" element="appoptAcctInq:AcctInqRq"/>
    </wsdl:message>
    <wsdl:message name="AcctInqRs">
        <wsdl:part name="AcctInqRs" element="appoptAcctInq:AcctInqRs"/>
    </wsdl:message>
    <wsdl:message name="AcctInfoInqRq">
        <wsdl:part name="AcctInfoInqRq" element="appoptAcctInfoInq:AcctInfoInqRq"/>
    </wsdl:message>
    <wsdl:message name="AcctInfoInqRs">
        <wsdl:part name="AcctInfoInqRs" element="appoptAcctInfoInq:AcctInfoInqRs"/>
    </wsdl:message>
    <wsdl:message name="AcctAddRq">
        <wsdl:part name="AcctAddRq" element="appoptAcctAdd:AcctAddRq"/>
    </wsdl:message>
    <wsdl:message name="AcctAddRs">
        <wsdl:part name="AcctAddRs" element="appoptAcctAdd:AcctAddRs"/>
    </wsdl:message>
    <wsdl:message name="AcctSignatureGrpAddRq">
        <wsdl:part name="AcctSignatureGrpAddRq" element="appoptAcctSignGrpAdd:AcctSignatureGrpAddRq"/>
    </wsdl:message>
    <wsdl:message name="AcctSignatureGrpAddRs">
        <wsdl:part name="AcctSignatureGrpAddRs" element="appoptAcctSignGrpAdd:AcctSignatureGrpAddRs"/>
    </wsdl:message>
    <wsdl:message name="AcctCondMobilAddRq">
        <wsdl:part name="AcctCondMobilAddRq" element="appoptAcctCondMobilAdd:AcctCondMobilAddRq"/>
    </wsdl:message>
    <wsdl:message name="AcctCondMobilAddRs">
        <wsdl:part name="AcctCondMobilAddRs" element="appoptAcctCondMobilAdd:AcctCondMobilAddRs"/>
    </wsdl:message>
    <wsdl:portType name="WFAcctAppSvcPort">
        <wsdl:operation name="AcctInq">
            <wsdl:input message="tns:AcctInqRq"/>
            <wsdl:output message="tns:AcctInqRs"/>
            <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
        </wsdl:operation>
        <wsdl:operation name="AcctInfoInq">
            <wsdl:input message="tns:AcctInfoInqRq"/>
            <wsdl:output message="tns:AcctInfoInqRs"/>
            <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
        </wsdl:operation>
        <wsdl:operation name="AcctAdd">
            <wsdl:input message="tns:AcctAddRq"/>
            <wsdl:output message="tns:AcctAddRs"/>
            <wsdl:fault message="tns:SystemFault" name="SystemFault"/>
        </wsdl:operation>
        <wsdl:operation name="AcctSignatureGrpAdd">
            <wsdl:input message="tns:AcctSignatureGrpAddRq"/>
            <wsdl:output message="tns:AcctSignatureGrpAddRs"/>
            <wsdl:fault message="tns:SystemFault" name="SystemFault"/>
        </wsdl:operation>
        <wsdl:operation name="AcctCondMobilAdd">
            <wsdl:input message="tns:AcctCondMobilAddRq"/>
            <wsdl:output message="tns:AcctCondMobilAddRs"/>
            <wsdl:fault message="tns:SystemFault" name="SystemFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="WFAcctAppSvcBinding_SOAP11" type="tns:WFAcctAppSvcPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AcctInq">
            <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/WFAcctAppSvc_V1.0/AcctInq"/>
            <wsdl:input>
                <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
                <soap:body use="literal" parts="AcctInqRq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
                <soap:body use="literal" parts="AcctInqRs"/>
            </wsdl:output>
            <wsdl:fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="AcctInfoInq">
            <soap:operation style="document"
                            soapAction="http://xmlns.banesco.com/AppSvc/WFAcctAppSvc_V1.0/AcctInfoInq"/>
            <wsdl:input>
                <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
                <soap:body use="literal" parts="AcctInfoInqRq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
                <soap:body use="literal" parts="AcctInfoInqRs"/>
            </wsdl:output>
            <wsdl:fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="AcctAdd">
            <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/WFAcctAppSvc_V1.0/AcctAdd"/>
            <wsdl:input>
                <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
                <soap:body use="literal" parts="AcctAddRq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
                <soap:body use="literal" parts="AcctAddRs"/>
            </wsdl:output>
            <wsdl:fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="AcctSignatureGrpAdd">
            <soap:operation style="document"
                            soapAction="http://xmlns.banesco.com/AppSvc/WFAcctAppSvc_V1.0/AcctSignatureGrpAdd"/>
            <wsdl:input>
                <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
                <soap:body use="literal" parts="AcctSignatureGrpAddRq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
                <soap:body use="literal" parts="AcctSignatureGrpAddRs"/>
            </wsdl:output>
            <wsdl:fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="AcctCondMobilAdd">
            <soap:operation style="document"
                            soapAction="http://xmlns.banesco.com/AppSvc/WFAcctAppSvc_V1.0/AcctCondMobilAdd"/>
            <wsdl:input>
                <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
                <soap:body use="literal" parts="AcctCondMobilAddRq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
                <soap:body use="literal" parts="AcctCondMobilAddRs"/>
            </wsdl:output>
            <wsdl:fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="WFAcctAppSvc_V1.0">
        <wsdl:port name="WFAcctAppSvc_V1.0" binding="tns:WFAcctAppSvcBinding_SOAP11">
            <soap:address location="http://localhost"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
