AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/StoreApp/Resources/QueryUpdateMDM_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/QueryUpdateMDM" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/QueryUpdateMDM" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="MdmWarehouseCollection" type="MdmWarehouseCollection"/>
   <xs:complexType name="MdmWarehouseCollection">
      <xs:sequence>
         <xs:element name="MdmWarehouse" type="MdmWarehouse" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MdmWarehouse">
      <xs:sequence>
         <xs:element name="id" type="xs:long"/>
         <xs:element name="idRms" type="string12" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="QueryUpdateMDMSelect_p_IDRMSInputParameters" type="QueryUpdateMDMSelect_p_IDRMS"/>
   <xs:complexType name="QueryUpdateMDMSelect_p_IDRMS">
      <xs:sequence>
         <xs:element name="p_IDRMS" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string12">
      <xs:restriction base="xs:string">
         <xs:maxLength value="12"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>