AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/StoreApp/Resources/UpdateStoreRMSMDM_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/UpdateStoreRMSMDM" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/UpdateStoreRMSMDM" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="MdmWarehouseCollection" type="MdmWarehouseCollection"/>
   <xs:complexType name="MdmWarehouseCollection">
      <xs:sequence>
         <xs:element name="MdmWarehouse" type="MdmWarehouse" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MdmWarehouse">
      <xs:sequence>
         <xs:element name="id" type="xs:long"/>
         <xs:element name="idRms" type="string12" minOccurs="0" nillable="true"/>
         <xs:element name="storeName" type="string150" minOccurs="0" nillable="true"/>
         <xs:element name="storeType" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="status" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="address" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="city" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="state" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="postalCode" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="phone" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="fax" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="email" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="portage" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="description" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="folioEntrega" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="folioEntregaDhl" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="codeRm" type="string10" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string12">
      <xs:restriction base="xs:string">
         <xs:maxLength value="12"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string150">
      <xs:restriction base="xs:string">
         <xs:maxLength value="150"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string240">
      <xs:restriction base="xs:string">
         <xs:maxLength value="240"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string100">
      <xs:restriction base="xs:string">
         <xs:maxLength value="100"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string10">
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>