AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Capabilities/Core/Items/SizeEntitySvc/Resources/WSDL/CreateSizeTaskActionSvc.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Items/CreateSizeTaskActionSvc/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://mx.agarcia.ea/Capabilities/Core/Items/CreateSizeTaskActionSvc/v1.0" xmlns:ns1="http://mx.agarcia.ea/Capabilities/Core/Items/CreateSizeEntity" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   
	<wsdl:types>
          <schema xmlns="http://www.w3.org/2001/XMLSchema">
              <import namespace="http://mx.agarcia.ea/Capabilities/Core/Items/CreateSizeEntity" schemaLocation="../Schemas/CreateSizeEntitySchema.xsd"/>
              <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
              <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
          </schema> 
	</wsdl:types>
        
        
 <wsdl:message name="createSizeGroupRequest">
  <wsdl:part name="createSizeGroupRequest" element="ns1:createSizeGroupRequest"/>
 </wsdl:message>
 
 <wsdl:message name="createSizeGroupResponse">
  <wsdl:part name="createSizeGroupResponse" element="ns1:createSizeGroupResponse"/>
 </wsdl:message>
 
  <wsdl:message name="createSizeRequest">
  <wsdl:part name="createSizeRequest" element="ns1:createSizeRequest"/>
 </wsdl:message>
 
 <wsdl:message name="createSizeResponse">
  <wsdl:part name="createSizeResponse" element="ns1:createSizeResponse"/>
 </wsdl:message>
 
 
 <wsdl:message name="standardMessageFault">
  <wsdl:part name="fault" element="AGSM:messageError"/>
 </wsdl:message>
 <wsdl:message name="standardMessageHeader">
  <wsdl:part name="header" element="AGSH:headerMessage"/>
 </wsdl:message>
 
 
 <wsdl:portType name="SizeEntityPType">
  <wsdl:operation name="createSizeGroup">
   <wsdl:input message="client:createSizeGroupRequest"/>
   <wsdl:output message="client:createSizeGroupResponse"/>
   <wsdl:fault name="fault" message="client:standardMessageFault"/>
  </wsdl:operation>
  
  <wsdl:operation name="createSize">
   <wsdl:input message="client:createSizeRequest"/>
   <wsdl:output message="client:createSizeResponse"/>
   <wsdl:fault name="fault" message="client:standardMessageFault"/>
  </wsdl:operation>
  
 </wsdl:portType>
 <wsdl:binding name="SizeEntityBinding" type="client:SizeEntityPType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="createSizeGroup">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Items/SizeEntitySvc/createSizeGroup"/>
   <wsdl:input>
    <soap:body use="literal" parts="createSizeGroupRequest"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="createSizeGroupResponse"/>
   </wsdl:output>
   <wsdl:fault name="fault">
    <soap:fault name="fault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="createSize">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Items/SizeEntitySvc/createSize"/>
   <wsdl:input>
    <soap:body use="literal" parts="createSizeRequest"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="createSizeResponse"/>
   </wsdl:output>
   <wsdl:fault name="fault">
    <soap:fault name="fault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>