BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoMO.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/LineaCreditoMO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:AtributoBO="http://www.bcie.org/AtributoBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:linCreMO="http://www.bcie.org/LineaCreditoMO" xmlns:terBO="http://www.bcie.org/TerminoBO" xmlns:comBO="http://www.bcie.org/ComisionBO" xmlns:conBO="http://www.bcie.org/ContratoBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:desBO="http://www.bcie.org/DesembolsoBO" xmlns:aprobBO="http://www.bcie.org/AprobacionBO" targetNamespace="http://www.bcie.org/LineaCreditoMO" elementFormDefault="qualified">
	<xsd:import namespace="http://www.bcie.org/DesembolsoBO" schemaLocation="../../../../DominioDesembolso/Desembolso/V1/Schema/DesembolsoBO.xsd"/>
        <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/LineaCreditoBO" schemaLocation="LineaCreditoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/TerminoBO" schemaLocation="../../../../DominioContrato/Termino/V1/Schema/TerminoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ComisionBO" schemaLocation="../../../Comision/V1/Schema/ComisionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/AprobacionBO" schemaLocation="../../../../DominioOperacion/Aprobacion/V1/Schema/AprobacionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ContratoBO" schemaLocation="../../../../DominioContrato/Contrato/V1/Schema/ContratoBO.xsd"/>
        <xsd:import namespace="http://www.bcie.org/AtributoBO" schemaLocation="../../../../Common/V1/Schema/AtributoBO.xsd"/>
        <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="../../../../../ComponentesComunes/Common/V1/Schema/CatalogoBO.xsd"/>
	<xsd:element name="ActualizarTreLineaCreditoRequest" type="ActualizarTreLineaCreditoRequestType"/>
	<xsd:element name="ActualizarTreLineaCreditoResponse" type="ActualizarTreLineaCreditoResponseType"/>
	<xsd:element name="CrearCommitmentFLEXCUBERequest" type="linCreMO:CrearCommitmentFLEXCUBERequestType"/>
	<xsd:element name="CrearCommitmentFLEXCUBEResponse" type="linCreMO:CrearCommitmentFLEXCUBEResponseType"/>
	<xsd:element name="PropagarLineaCreditoRequest" type="linCreMO:PropagarLineaCreditoRequestType"/>
	<xsd:element name="PropagarLineaCreditoResponse" type="linCreMO:PropagarLineaCreditoResponsetType"/>
	<xsd:element name="ActualizarLineaCreditoRequest" type="linCreMO:ActualizarLineaCreditoRequestType"/>
	<xsd:element name="ActualizarLineaCreditoResponse" type="linCreMO:ActualizarLineaCreditoResponseType"/>
	<xsd:element name="CrearTreLineaCreditoRequest" type="CrearTreLineaCreditoRequestType"/>
	<xsd:element name="CrearTreLineaCreditoResponse" type="CrearTreLineaCreditoResponseType"/>
	<xsd:element name="ConsultarLineaCreditoByIdLineaCreditoRequest" type="linCreMO:ConsultarLineaCreditoByIdLineaCreditoRequestType"/>
	<xsd:element name="ConsultarLineaCreditoByIdLineaCreditoResponse" type="linCreMO:ConsultarLineaCreditoByIdLineaCreditoResponseType"/>
	<xsd:element name="EliminarLineaCreditoRequest" type="EliminarLineaCreditoRequestType"/>
	<xsd:element name="EliminarLineaCreditoResponse" type="EliminarLineaCreditoResponseType"/>
	<xsd:element name="EliminarTreLineaCreditoAprobacionByIdLineaRequest" type="EliminarTreLineaCreditoAprobacionByIdLineaRequestType"/>
	<xsd:element name="EliminarTreLineaCreditoAprobacionByIdLineaResponse" type="EliminarTreLineaCreditoAprobacionByIdLineaResponseType"/>
	<xsd:element name="CrearLineaCreditoRequest" type="CrearLineaCreditoRequestType"/>
	<xsd:element name="CrearLineaCreditoResponse" type="CrearLineaCreditoResponseType"/>
	<xsd:element name="CrearTreLineaCreditoAprobacionRequest" type="CrearTreLineaCreditoAprobacionRequestType"/>
	<xsd:element name="CrearTreLineaCreditoAprobacionResponse" type="CrearTreLineaCreditoAprobacionResponseType"/>
	<xsd:element name="ConsultarLineaCreditoRequestbyContrato" type="ConsultarLineaCreditoByContratoRequestType"/>
	<xsd:element name="ConsultarLineaCreditoResonsebyContrato" type="ConsultatLineaCreditoByContratoResponseType"/>
	<xsd:element name="ActualizarContratoLineaCreditoRequest" type="ActualizarContratoLineaCreditoRequestType"/>
	<xsd:element name="ActualizarContratoLineaCreditoResponse" type="ActualizarContratoLineaCreditoResponseType"/>
	<xsd:element name="ConsultarLineaCreditoRequest" type="ConsultarLineaCreditoRequestType"/>
	<xsd:element name="ConsultarLineaCreditoResponse" type="ConsultarLineaCreditoResponseType"/>
	<xsd:element name="EliminarLineaCreditoByIdContratoRequest" type="EliminarLineaCreditoByIdContratoRequestType"/>
	<xsd:element name="EliminarLineaCreditoByIdContratoResponse" type="EliminarLineaCreditoByIdContratoResponseType"/>
	<xsd:element name="ActualizarLineaCreditoAprobacionRequest" type="ActualizarLineaCreditoAprobacionRequestType"/>
	<xsd:element name="ActualizarLineaCreditoAprobacionResponse" type="ActualizarLineaCreditoAprobacionResponseType"/>
	<xsd:element name="PropagarFuenteLCRequest" type="PropagarFuenteLCRequestType"/>
	<xsd:element name="PropagarFuenteLCResponse" type="PropagarFuenteLCResponseType"/>
	<xsd:element name="ConsultarLineaCreditoFuenteRequest" type="ConsultarLineaCreditoFuenteRequestType"/>
	<xsd:element name="ConsultarLineaCreditoFuenteResponse" type="ConsultarLineaCreditoFuenteResponseType"/>
	<xsd:element name="PropagarFuenteRequest" type="PropagarFuenteRequestType"/>
	<xsd:element name="PropagarFuenteResponse" type="PropagarFuenteResponsetType"/>
	<xsd:element name="ActualizarFuenteLCRequest" type="ActualizarFuenteLCRequestType"/>
	<xsd:element name="ActualizarFuenteLCResponse" type="ActualizarFuenteLCResponseType"/>
	<xsd:element name="EliminarTreLineaCreditoTCCRequest" type="EliminarTreLineaCreditoTCCRequestType"/>
	<xsd:element name="EliminarTreLineaCreditoTCCResponse" type="EliminarTreLineaCreditoTCCResponseType"/>
	<xsd:element name="ConsultarLineaCreditoByIdOperacionRequest" type="ConsultarLineaCreditoByIdOperacionRequestType"/>
	<xsd:element name="ConsultarLineaCreditoByIdOperacionResponse" type="ConsultarLineaCreditoByIdOperacionResponseType"/>
 <xsd:element name="ConsultarAsignacionARERequest" type="ConsultarAsignacionARERequestType"/>
 <xsd:element name="ConsultarAsignacionAREResponse" type="ConsultarAsignacionAREResponseType"/>
 <xsd:element name="CrearPrestamoFLEXCUBERequest" type="CrearPrestamoFLEXCUBERequestType"/>
 <xsd:element name="CrearPrestamoFLEXCUBEResponse" type="CrearPrestamoFLEXCUBEResponseType"/>
  <xsd:element name="ConsultarLineaCreditoBPELRequest" type="ConsultarLineaCreditoBPELRequestType"/>
 <xsd:element name="ConsultarLineaCreditoBPELResponse" type="ConsultarLineaCreditoBPELResponseType"/>
 <xsd:element name="ConsultarFLEXCUBERequest" type="ConsultarFLEXCUBERequestType"/>
 <xsd:element name="ConsultarFLEXCUBEResponse" type="ConsultarFLEXCUBEResponseType"/>
 <xsd:element name="ConsultarProgramacionPYDRequest" type="ConsultarProgramacionPYDRequestType"/>
 <xsd:element name="ConsultarProgramacionPYDResponse" type="ConsultarProgramacionPYDResponseType"/>
 <xsd:element name="ObtenerDisponibilidadARERequest" type="ObtenerDisponibilidadARERequestType"/>
 <xsd:element name="ObtenerDisponibilidadAREResponse" type="ObtenerDisponibilidadAREResponseType"/>
 <xsd:element name="ConsultarFuentesRequest" type="ConsultarFuentesRequestType"/>
 <xsd:element name="ConsultarFuentesResponse" type="ConsultarFuentesResponseType"/>
 <xsd:element name="CrearActualizarFuentesRequest" type="CrearActualizarFuentesRequestType"/>
 <xsd:element name="CrearActualizarFuentesResponse" type="CrearActualizarFuentesResponseType"/>
 <xsd:element name="RegistrarUtilizacionARERequest" type="RegistrarUtilizacionARERequestType"/>
 <xsd:element name="RegistrarUtilizacionAREResponse" type="RegistrarUtilizacionAREResponseType"/>
 <xsd:element name="EliminarUtilizacionARERequest" type="EliminarUtilizacionARERequestType"/>
 <xsd:element name="EliminarUtilizacionAREResponse" type="EliminarUtilizacionAREResponseType"/>
 <xsd:element name="ConsultarImporteTransitoRequest" type="ConsultarImporteTransitoRequestType"/>
 <xsd:element name="ConsultarImporteTransitoResponse" type="ConsultarImporteTransitoResponseType"/>
 <xsd:element name="ConsultarListaLineasCreditoRequest" type="ConsultarListaLineasCreditoRequestType"/>
 <xsd:element name="ConsultarListaLineasCreditoResponse" type="ConsultarListaLineasCreditoResponseType"/>
 <xsd:element name="ConsultarCoberturaRequest" type="ConsultarCoberturaRequestType"/>
 <xsd:element name="ConsultarCoberturaResponse" type="ConsultarCoberturaResponseType"/>
 <xsd:element name="ConsultarCommitmentRequest" type="ConsultarCommitmentRequestType"/>
 <xsd:element name="ConsultarCommitmentResponse" type="ConsultarCommitmentResponseType"/>
 <xsd:element name="ConsultarSaldoFLEXCUBERequest" type="ConsultarSaldoFLEXCUBERequestType"/>
 <xsd:element name="ConsultarSaldoFLEXCUBEResponse" type="ConsultarSaldoFLEXCUBEResponseType"/>
 <xsd:element name="ConsultarLineasPasivasRequest" type="ConsultarLineasPasivasRequestType"/>
 <xsd:element name="ConsultarLineasPasivasResponse" type="ConsultarLineasPasivasResponseType"/>
 <xsd:element name="ConsultarLineaCreditoFormalizacionRequest" type="ConsultarLineaCreditoFormalizacionRequestType"/>
 <xsd:element name="ConsultarLineaCreditoFormalizacionResponse" type="ConsultarLineaCreditoFormalizacionResponseType"/>
 <xsd:element name="ActualizarCommitmentRequest" type="ActualizarCommitmentRequestType"/>
 <xsd:element name="ActualizarCommitmentResponse" type="ActualizarCommitmentResponseType"/>
 <xsd:element name="ConsultarSaldoLineaRequest" type="ConsultarSaldoLineaRequestType"/>
 <xsd:element name="ConsultarSaldoLineaResponse" type="ConsultarSaldoLineaResponseType"/>
 <xsd:element name="AplicarAmpliacionRequest" type="AplicarAmpliacionRequestType"/>
 <xsd:element name="AplicarAmpliacionResponse" type="AplicarAmpliacionResponseType"/>
 <xsd:element name="ValidarRegistroFLEXCUBERequest" type="ValidarRegistroFLEXCUBERequestType"/>
 <xsd:element name="ValidarRegistroFLEXCUBEResponse" type="ValidarRegistroFLEXCUBEResponseType"/>
 <xsd:element name="ConsultarFondoRequest" type="ConsultarFondoRequestType"/>
 <xsd:element name="ConsultarFondoResponse" type="ConsultarFondoResponseType"/>
 
 <xsd:complexType name="ActualizarTreLineaCreditoRequestType">

		<xsd:sequence>
			<xsd:element name="Contrato" type="conBO:Contrato" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarTreLineaCreditoResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarLineaCreditoRequestType">
		<xsd:sequence>
			<xsd:element name="LineaCredito" type="linCreBO:LineaCredito" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarLineaCreditoResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarContratoLineaCreditoRequestType">
		<xsd:sequence>
			<xsd:element name="Contrato" type="conBO:Contrato" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarContratoLineaCreditoResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CrearCommitmentFLEXCUBERequestType">
		<xsd:sequence>
			<xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Contrato" type="conBO:Contrato" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Aprobacion" type="aprobBO:Aprobacion" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="montoAprobacion" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CrearCommitmentFLEXCUBEResponseType">
		<xsd:sequence>
			<xsd:element name="codigoContrato" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="plantillaLimite" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="serialLimite" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropagarLineaCreditoRequestType">
		<xsd:sequence>
			<xsd:element name="idLineaCredito" type="linCreBO:idLineaCredito" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="fechaValor" type="xsd:date" minOccurs="0" maxOccurs="1" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropagarLineaCreditoResponsetType">
		<xsd:sequence>
			<xsd:element name="codigoContratoFLEXCUBE" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="plantillaLimite" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="serialLimite" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarLineaCreditoByIdLineaCreditoRequestType">
		<xsd:sequence>
			<xsd:element name="idLineaCredito" type="linCreBO:idLineaCredito" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="numeroLinea" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarLineaCreditoByIdLineaCreditoResponseType">
		<xsd:sequence>
			<xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Contrato" type="conBO:Contrato" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Aprobacion" type="aprobBO:Aprobacion" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="montoAprobacion" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarLineaCreditoRequestType">
		<xsd:sequence>
			<xsd:element name="idLineaCreadito" type="linCreBO:idLineaCredito"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarLineaCreditoResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CrearTreLineaCreditoRequestType">
		<xsd:sequence>
			<xsd:element name="LineaCredito" type="linCreBO:LineaCredito" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CrearTreLineaCreditoResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarTreLineaCreditoAprobacionByIdLineaRequestType">
		<xsd:sequence>
			<xsd:element name="TreLineaCredito" type="linCreBO:TreLineaCreditoAprobacion" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarTreLineaCreditoAprobacionByIdLineaResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CrearLineaCreditoRequestType">
		<xsd:sequence>
			<xsd:element name="LineaCredito" type="linCreBO:LineaCredito" minOccurs="0" maxOccurs="unbounded"/>
   <xsd:element name="idAprobacion" type="xsd:long" minOccurs="0"/>
   <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0"/>
  </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CrearLineaCreditoResponseType">
		<xsd:sequence>
			<xsd:element name="LineaCredito" type="linCreBO:LineaCredito" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
 <xsd:complexType name="CrearTreLineaCreditoAprobacionRequestType">
		<xsd:sequence>
			<xsd:element name="TreLineaCreditoAprobacion" type="linCreBO:TreLineaCreditoAprobacion" minOccurs="0"
                maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CrearTreLineaCreditoAprobacionResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarLineaCreditoByContratoRequestType">
		<xsd:sequence>
			<xsd:element name="idContrato" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultatLineaCreditoByContratoResponseType">
		<xsd:sequence>
			<xsd:element name="lineaCredito" type="linCreBO:LineaCredito"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarLineaCreditoRequestType">
		<xsd:sequence>
			<xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0"/>
			<xsd:element name="instanciaProceso" type="xsd:int" minOccurs="0"/>
                        <xsd:element name="IdContrato" type="xsd:int" minOccurs="0"/>
                </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarLineaCreditoResponseType">
		<xsd:sequence>
			<xsd:element name="clienteContrato" type="conBO:Contrato" maxOccurs="unbounded"/>
                        <xsd:element name="LineaCreditoAsociada" type="linCreBO:LineaCredito" maxOccurs="unbounded"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarLineaCreditoByIdContratoRequestType">
		<xsd:sequence>
			<xsd:element name="idContrato" type="linCreBO:idContrato" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarLineaCreditoByIdContratoResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarLineaCreditoAprobacionRequestType">
		<xsd:sequence>
			<xsd:element name="Aprobacion" type="aprobBO:Aprobacion" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarLineaCreditoAprobacionResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropagarFuenteLCRequestType">
		<xsd:sequence>
			<xsd:element name="LineasCredito" type="linCreBO:idLineaCredito" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropagarFuenteLCResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarLineaCreditoFuenteRequestType">
		<xsd:sequence>
			<xsd:element name="idLineaCredito" type="linCreBO:idLineaCredito"/>
                        <xsd:element name="numero_linea" type="xsd:string"/>
                </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarLineaCreditoFuenteResponseType">
		<xsd:sequence>
			<xsd:element name="lineaCredito" type="linCreBO:LineaCredito"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropagarFuenteRequestType">
		<xsd:sequence>
			<xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PropagarFuenteResponsetType">
		<xsd:sequence>
			<xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarFuenteLCRequestType">
		<xsd:sequence>
			<xsd:element name="Fuente" type="linCreBO:Fuente"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarFuenteLCResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarTreLineaCreditoTCCRequestType">
		<xsd:sequence>
			<xsd:element name="idLineaCredito" type="linCreBO:idLineaCredito" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarTreLineaCreditoTCCResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarLineaCreditoByIdOperacionRequestType">
		<xsd:sequence>
			<xsd:element name="IdOperacion" type="operBO:idOperacion"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarLineaCreditoByIdOperacionResponseType">
		<xsd:sequence>
			<xsd:element name="IdOperacion" type="operBO:idOperacion"/>
			<xsd:element name="LineasCredito" type="linCreBO:LineaCredito" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
 <xsd:complexType name="ConsultarAsignacionARERequestType">
  <xsd:sequence>
   <xsd:element name="codigoAsignacion" type="xsd:decimal"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarAsignacionAREResponseType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="CrearPrestamoFLEXCUBERequestType">
  <xsd:sequence>
   <xsd:element name="Prestamo" type="linCreBO:Prestamo"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="CrearPrestamoFLEXCUBEResponseType">
  <xsd:sequence>
   <xsd:element name="codigoContrato" type="xsd:string"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
  <xsd:complexType name="ConsultarLineaCreditoBPELRequestType">
  <xsd:sequence>
   <xsd:element name="idLineaCredito" type="linCreBO:idLineaCredito" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="numeroLinea" type="xsd:string" minOccurs="0" maxOccurs="1"/>
   <xsd:element name="informacionAdicional" type="linCreBO:InformacionAdicional" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarLineaCreditoBPELResponseType">
   <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarFLEXCUBERequestType">
  <xsd:sequence>
   <xsd:element name="codigoContrato" type="xsd:string"/>
   <xsd:element name="nivelDetalle" type="AtributoBO:NivelType"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarFLEXCUBEResponseType">
  <xsd:sequence>
   <xsd:element name="TipoContrato" type="linCreBO:TipoContrato"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarProgramacionPYDRequestType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarProgramacionPYDResponseType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
  <xsd:complexType name="ObtenerDisponibilidadARERequestType">
  <xsd:sequence>
   <xsd:element name="Fuente" type="linCreBO:Fuente"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ObtenerDisponibilidadAREResponseType">
  <xsd:sequence>
   <xsd:element name="Fuente" type="linCreBO:Fuente"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarFuentesRequestType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/> 
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarFuentesResponseType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="CrearActualizarFuentesRequestType">
  <xsd:sequence>
   <xsd:element name="Fuentes" type="linCreBO:Fuente" minOccurs="1" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="CrearActualizarFuentesResponseType">
  <xsd:sequence>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="RegistrarUtilizacionARERequestType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="RegistrarUtilizacionAREResponseType">
  <xsd:sequence>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="EliminarUtilizacionARERequestType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="EliminarUtilizacionAREResponseType">
  <xsd:sequence>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarImporteTransitoRequestType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarImporteTransitoResponseType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarListaLineasCreditoRequestType">
  <xsd:sequence>
   <xsd:element name="idLineaCredito" type="linCreBO:idLineaCredito" minOccurs="0" maxOccurs="unbounded"/>
   <xsd:element name="NumeroLinea" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarListaLineasCreditoResponseType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" minOccurs="0" maxOccurs="unbounded">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0"/>
      <xsd:element name="Contrato" type="conBO:Contrato" minOccurs="0"/>
      <xsd:element name="Aprobacion" type="aprobBO:Aprobacion" minOccurs="0"/>
      <xsd:element name="montoAprobacion" type="xsd:decimal" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarCoberturaRequestType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarCoberturaResponseType">
  <xsd:sequence>
   <xsd:element name="Garantias" type="linCreBO:Garantias"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarCommitmentRequestType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarCommitmentResponseType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarSaldoFLEXCUBERequestType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarSaldoFLEXCUBEResponseType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarLineasPasivasRequestType">
  <xsd:sequence>
   <xsd:element name="idLineaPasiva" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarLineasPasivasResponseType">
  <xsd:sequence>
   <xsd:element name="Fuente" type="linCreBO:Fuente" minOccurs="0" maxOccurs="unbounded"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarLineaCreditoFormalizacionRequestType">
  <xsd:sequence>
   <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0"/>
   <xsd:element name="instanciaProceso" type="xsd:int" minOccurs="0"/>
   <xsd:element name="IdContrato" type="xsd:int" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarLineaCreditoFormalizacionResponseType">
  <xsd:sequence>
   <xsd:element name="clienteContrato" type="conBO:Contrato" maxOccurs="unbounded"/>
   <xsd:element name="LineaCreditoAsociada" type="linCreBO:LineaCredito" maxOccurs="unbounded"/>
   <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ActualizarCommitmentRequestType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ActualizarCommitmentResponseType">
  <xsd:sequence>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarSaldoLineaRequestType">
  <xsd:sequence>
   <xsd:element name="idLineaCredito" type="linCreBO:idLineaCredito"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarSaldoLineaResponseType">
   <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
  <xsd:complexType name="AplicarAmpliacionRequestType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito" maxOccurs="unbounded"/>
   <xsd:element name="SolicitudDesembolso" type="desBO:SolicitudDesembolsoType"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="AplicarAmpliacionResponseType">
  <xsd:sequence>
   <xsd:element name="LineaCredito" type="linCreBO:LineaCredito" maxOccurs="unbounded"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
   <xsd:complexType name="ValidarRegistroFLEXCUBERequestType">
    <xsd:sequence>
      <xsd:element name="codigoCliente" type="xsd:string"/>
      <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarRegistroFLEXCUBEResponseType">
    <xsd:sequence>
      <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarFondoRequestType">
    <xsd:sequence>
      <xsd:element name="fondo" type="catBO:Catalogo"/> 
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarFondoResponseType">
    <xsd:sequence>
      <xsd:element name="fondo" type="catBO:Catalogo" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>