BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioCliente/InsertarContactoCliente/XSD/InsertaContactosClienteService_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/InsertaContactosClienteService" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/InsertaContactosClienteService" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ContactosClienteCollection" type="ContactosClienteCollection"/>
   <xs:complexType name="ContactosClienteCollection">
      <xs:sequence>
         <xs:element name="ContactosCliente" type="ContactosCliente" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ContactosCliente">
      <xs:sequence>
         <xs:element name="idContactosClientes" type="xs:long" nillable="true"/>
         <xs:element name="idCliente" type="xs:long" minOccurs="0"/>
         <xs:element name="idContacto" type="xs:long" minOccurs="0"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>