Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFParty/PartyInq/PartyInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFPartyAppSvc/PartyInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptPartyInq="http://xmlns.banesco.com/appopt/WFPartyAppSvc/PartyInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="Parties">
		<xs:annotation>
			<xs:documentation>Employee List</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Party" type="appoptPartyInq:Party" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyStatus">
		<xs:sequence>
			<xs:element name="Status" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Estado del cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyInqRq_type">
		<xs:sequence>
			<xs:element name="Party" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Party is a person or organization. A Party typically has some association with an account and fulfills roles such as:

a primary or partial ownership/responsibility for an account
a beneficiary of an account
has signatory authorization on an account
has legal authorization, such as power of attorney, for an account
A Party can have relationships to accounts, cards and other parties.</xs:documentation>
					</xs:annotation>
					<xs:sequence minOccurs="1" maxOccurs="1">
						<xs:choice minOccurs="1" maxOccurs="1">
							<xs:element name="PersonPartyInfo" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:annotation>
										<xs:documentation>Personal PartyInfo extension.</xs:documentation>
									</xs:annotation>
									<xs:sequence minOccurs="1" maxOccurs="1">
										<xs:element name="PersonData">
											<xs:complexType>
												<xs:annotation>
													<xs:documentation>Person Data Aggregate.</xs:documentation>
												</xs:annotation>
												<xs:sequence minOccurs="1" maxOccurs="1">
													<xs:element name="PersonName">
														<xs:complexType>
															<xs:annotation>
																<xs:documentation>Person Name.

The PersonName aggregate is used to specify a person's full name and, optionally, preferred name (nickname).</xs:documentation>
															</xs:annotation>
															<xs:sequence minOccurs="1" maxOccurs="1">
																<xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
																	<xs:annotation>
																		<xs:documentation>Full Name.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="OrgPartyInfo" minOccurs="1" maxOccurs="1">
								<xs:complexType>
									<xs:annotation>
										<xs:documentation>Organization PartyInfo extension.</xs:documentation>
									</xs:annotation>
									<xs:sequence>
										<xs:element name="OrgData">
											<xs:complexType>
												<xs:annotation>
													<xs:documentation>Organization Data.</xs:documentation>
												</xs:annotation>
												<xs:sequence>
													<xs:element name="OrgName">
														<xs:complexType>
															<xs:annotation>
																<xs:documentation>Organization Name.</xs:documentation>
															</xs:annotation>
															<xs:sequence minOccurs="1" maxOccurs="1">
																<xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
																	<xs:annotation>
																		<xs:documentation>Full Name.</xs:documentation>
																	</xs:annotation>
																</xs:element>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:choice>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyInqRs_type">
		<xs:sequence>
			<xs:element name="Parties" type="appoptPartyInq:Parties" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party List</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PartyInqRs" type="appoptPartyInq:PartyInqRs_type"/>
	<xs:element name="PartyInqRq" type="appoptPartyInq:PartyInqRq_type"/>
	<xs:complexType name="Identification">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="IssuedIdentType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Issued Idententification Type.

Identifier Type based on ISO 20022 definition with additions.

Valid values include: AlnRegnNb, BEI, BIC, BirthCertificate, BkPtyId, DrvrsLicNb, DUNS, EANGLN, HealthCard, IBEI, IdntyCardNb, MerchantId, Military, MplyrIdNb, NINO, NRABusiness, NRAPersonal, Other, Passbook, PermanentResidence, PrtryId, PsptNb, Retirement, SclSctyNb, TaxIdNb, USCHU, VoterRegistration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Issued Identification Value.

Identification value associated with the identification type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IssuedIdent">
		<xs:annotation>
			<xs:documentation>Issued Identification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IssuedLoc" type="appoptcommon:ValueType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Issue Location</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Ident" type="appoptPartyInq:Identification" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>Party is a person or organization. A Party typically has some association with an account and fulfills roles such as:

a primary or partial ownership/responsibility for an account
a beneficiary of an account
has signatory authorization on an account
has legal authorization, such as power of attorney, for an account
A Party can have relationships to accounts, cards and other parties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="PersonPartyInfo" type="appoptPartyInq:PersonPartyInfo" minOccurs="0" maxOccurs="1"/>
				<xs:element name="OrgPartyInfo" type="appoptPartyInq:OrgPartyInfo" minOccurs="0" maxOccurs="1"/>
			</xs:choice>
			<xs:element name="PartyKey" type="appoptPartyInq:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgData">
		<xs:annotation>
			<xs:documentation>Organization Data.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="appoptPartyInq:PartyData">
				<xs:sequence>
					<xs:element name="OrgName" type="appoptPartyInq:OrgName" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrgName">
		<xs:annotation>
			<xs:documentation>Organization Name.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Full company name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyData">
		<xs:annotation>
			<xs:documentation>Party Data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="IssuedIdent" type="appoptPartyInq:IssuedIdent" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyInfo">
		<xs:annotation>
			<xs:documentation>Party Information Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyStatus" type="appoptPartyInq:PartyStatus" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Customer Id</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de cliente.

Persona Natual / Persona Juridica</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonData">
		<xs:annotation>
			<xs:documentation>Person Data Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="appoptPartyInq:PartyData">
				<xs:sequence>
					<xs:element name="PersonName" type="appoptPartyInq:PersonName" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PersonName">
		<xs:annotation>
			<xs:documentation>Person Name.

The PersonName aggregate is used to specify a person's full name and, optionally, preferred name (nickname).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Full Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonPartyInfo">
		<xs:annotation>
			<xs:documentation>Personal PartyInfo extension.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="appoptPartyInq:PartyInfo">
				<xs:sequence>
					<xs:element name="PersonData" type="appoptPartyInq:PersonData" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="OrgPartyInfo">
		<xs:annotation>
			<xs:documentation>Organization PartyInfo extension.</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="appoptPartyInq:PartyInfo">
				<xs:sequence>
					<xs:element name="OrgData" type="appoptPartyInq:OrgData" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
