BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/GenerarReporteCondicionValidador/XSD/ReporteCondicionValidador.xsd

<xsd:schema targetNamespace="http://service.org.bcie.www/" xmlns:ns1="http://www.bcie.com/Cuestionario/LeerExcel"
            xmlns:ns0="http://service.org.bcie.www/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="ErrorReporteCondicionValidador.xsd"
              namespace="http://www.bcie.com/Cuestionario/LeerExcel"/>
  <xsd:complexType name="ReporteValidacionCondicion">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReporteValidacionCondicionResponse">
    <xsd:sequence>
      <xsd:element name="return" type="xsd:base64Binary" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ReporteValidacionCondicion" type="ns0:ReporteValidacionCondicion"/>
  <xsd:element name="IOException" type="ns1:IOException" nillable="true"/>
  <xsd:element name="ReporteValidacionCondicionResponse" type="ns0:ReporteValidacionCondicionResponse"/>
</xsd:schema>