Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:complexType name="CommonTypeMandatory">
		<xs:annotation>
			<xs:documentation>Tipo Generico</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Cod" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripción</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="dateTimePattern">
		<xs:annotation>
			<xs:documentation>Regular Expression to datetime.

Use this instead of 'dateTime' type</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="^$|(\s)*|\d{4}\-\d{2}\-\d{2}T\d{2}:\d{2}:\d{2}(Z|[\+\-]\d{2}:\d{2}|\.\d\d?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="MsgHdrRq">
		<xs:sequence>
			<xs:element name="ClientDt" type="appoptcommon:dateTimePattern" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha y hora del mensaje en el cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Destination" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifica el destinatario del mensaje.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MsgPriority" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Prioridad del mensaje</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador de la petición</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqdOper" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifica la operación que origina la solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqdOperType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Operación Solicitada</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqdService" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifica el servicio que origina la solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClientApp" type="appoptcommon:ClientApp" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NetworkTrnData" type="appoptcommon:NetworkTrnData" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecCtrlOut">
		<xs:sequence>
			<xs:element name="EndRecNum" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de registro final</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastRec" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicativo de que se alcanzó el último registro de la consulta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecCountLimit" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Límite de conteo de registros</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartRecNum" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de registro inicial</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClientApp">
		<xs:sequence>
			<xs:element name="ChannelId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicador de Canal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre de la aplicación cliente que origina la solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Org" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Organización. Identifica al desarrollador de la aplicación cliente que origina la solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador de Usuario</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Usuario</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="datePattern">
		<xs:annotation>
			<xs:documentation>Regular Expression to date.

Use this instead of 'date' type.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:pattern value="^$|(\s)*|\d{4}\-\d{2}\-\d{2}(Z|[\+\-]\d{2}:\d{2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ValueType">
		<xs:annotation>
			<xs:documentation>Generic Value Type.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Value Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NetworkTrnData">
		<xs:sequence>
			<xs:element name="HostName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del Equipo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IpAddress" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dirección IP del Equipo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MacAddress" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dirección MAC del Equipo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CountryCode">
		<xs:annotation>
			<xs:documentation>All representations of countries in the IFX Specification are based upon agreed upon standard codes between client and server. The default, if not specified, is the Alpha 3-character codes for countries that are defined in ISO-3166.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountryCodeSource" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country Code Source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCodeValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country Code Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgHdrRs">
		<xs:sequence>
			<xs:element name="ClientDt" type="appoptcommon:dateTimePattern" minOccurs="1" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Fecha y hora del mensaje en el cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MsgPriority" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Prioridad del mensaje</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador de la petición</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResponseId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador de la ejecución</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqdOper" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifica la operación que origina la solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqdService" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifica el servicio que origina la solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServerDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha y hora del mensaje en el servidor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClientApp" type="appoptcommon:ClientApp" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status">
		<xs:sequence>
			<xs:element name="StatusCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="StatusDesc" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecCtrlIn">
		<xs:sequence>
			<xs:element name="RecCountLimit" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Límite de conteo de registros</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartRecNum" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de registro inicial</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SessionInfo">
		<xs:sequence>
			<xs:element name="AccesDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de acceso al canal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AccesHr" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hora de acceso al canal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActionType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de acción realizada:
- Consulta
- Operación (ingreso o autorización)
- Actualización de datos/creación de beneficiarios
- Inicio de sesión (Login)
- Finalización de sesión(Logout)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Browser" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Navegador/Browser del dispositivo/aplicación desde donde se ingresa al sistema</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BrowserVersion" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Version del Navegador/Browser del dispositivo/aplicación desde donde se ingresa al sistema</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Channel" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Canal por donde se ejecutó la transacción. Puede ser Internet o Movil</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ubicación geográfica del dispositivo de ingreso (Ciudad)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="appoptcommon:Country" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ubicación geográfica del dispositivo de ingreso (País)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DNADevice" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>DNA del dispositivo desde donde se ingresa al sistema</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FailedAttempts" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cantidad de intentos fallidos en el ingreso</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IBUserId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre de usuario que accede al canal (login o userId en la banca en línea)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="isNotified" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica si se le envía o no notificación al usuario por la operación</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISPCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código del Proveedor de Servicios de Internet (ISP)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Latitude" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ubicación geográfica del dispositivo de ingreso (Latitud)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Longitude" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ubicación geográfica del dispositivo de ingreso (Longitud)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NetworkTrnData" type="appoptcommon:NetworkTrnData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NotificationDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de la notificación enviada</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotificationHr" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hora de la notificación enviada</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotificationMethod" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Medio utilizado para enviar la notificación (SMS, Email, otro)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prefix" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de la Localidad o Prefijo del Caller ID</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrivateIp" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ubicación geográfica del dispositivo de ingreso (Dirección IP Privada)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Region" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ubicación geográfica del dispositivo de ingreso (Region)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserStatus" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status del usuario en el sistema</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomDate">
		<xs:annotation>
			<xs:documentation>Custom Date</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Day" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Day</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Month" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Month</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Year" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Year</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Binary">
		<xs:annotation>
			<xs:documentation>The Binary data type is a compound type consisting of three logical elements:

1. ContentType.
2. BinLength.
3. BinData.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BinData" type="xs:base64Binary" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Binary data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BinLength" type="xs:long" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Binary Data Length.

Identifies the size of the binary data in number of bytes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContentType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Content Type.

Specified in IETF RFC 2046.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FileURL" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>File URL.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MsgHdrRq" type="appoptcommon:MsgHdrRq"/>
	<xs:element name="MsgHdrRs" type="appoptcommon:MsgHdrRs"/>
	<xs:simpleType name="EnumPhoneType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Fax"/>
			<xs:enumeration value="Home"/>
			<xs:enumeration value="LandLine"/>
			<xs:enumeration value="Mobile"/>
			<xs:enumeration value="Office"/>
			<xs:enumeration value="Other"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="FieldRestriction">
		<xs:sequence>
			<xs:element name="IsReadOnly" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica si el campo es de solo lectura o permite escritura</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxLenght" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tamaño máximo del campo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaxValue" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor máximo del campo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinLenght" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tamaño mínimo del campo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinValue" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor mínimo del campo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CommonType">
		<xs:annotation>
			<xs:documentation>Tipo Generico</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Cod" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripción</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Duration">
		<xs:annotation>
			<xs:documentation>Duration.

Specifies the duration of the time frame in the unit of measure indicated.

Examples: 2 h (hours), 120 min (minutes)

If neither nor are provided, assume time frame has no end.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Count" type="xs:long" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Count.

The number of items. Interpretation depends on context.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Unit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Unit.

Code which expresses the unit of measure that corresponds to the Count.

Valid values: Seconds, Minutes, Hours, Days, Weeks, Months, Years.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TimeFrame">
		<xs:annotation>
			<xs:documentation>Time Frame.

The timeframe which applies to the parent aggregate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EndDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>End Date.

End Date. Indicates latest date for a range of dates.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Start Date.

Used within a date range selection in inquiries to limit the response to objects within the specified range.  Also used in other contexts to indicate a Start Date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Duration" type="appoptcommon:Duration" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
        <xs:complexType name="SocialMedia">
		<xs:sequence>
			<xs:element name="Type" type="appoptcommon:EnumSocialMediaType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EnumSocialMediaType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Facebook"/>
			<xs:enumeration value="Instagram"/>
			<xs:enumeration value="Twitter"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Contact">
		<xs:annotation>
			<xs:documentation>The Contact aggregate appears wherever a person's or organization's contact information is needed.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContactName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contact Name.

The name of the person to contact.

Name of the person associated with the contact information. Typically, this is the name of the person within the business that the phone number, email address, and/or address is associated with.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contact Type.

Valid values include: CustSvc, Enroll, GeneralInfo, LostCard, Marketing, Other, Personal, PersonalRef, Statement, Tech.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Locator" type="appoptcommon:Locator" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Country">
		<xs:annotation>
			<xs:documentation>All representations of countries in the IFX Specification are based upon agreed upon standard codes between client and server. The default, if not specified, is the Alpha 3-character codes for countries that are defined in ISO-3166.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountryCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Locator">
		<xs:annotation>
			<xs:documentation>Information necessary to establish contact.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Email" type="appoptcommon:ValueType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Emails.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceLocator" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>General resource locator specification (URL).</xs:documentation>
				</xs:annotation>
			</xs:element>
                        <xs:element name="SocialMedia" type="appoptcommon:SocialMedia" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Redes sociales</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Phone" type="appoptcommon:Phone" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PostAddr" type="appoptcommon:PostAddr" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Phone">
		<xs:annotation>
			<xs:documentation>Phone</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AreaCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Area Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneExt" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone Extension</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneType" type="appoptcommon:EnumPhoneType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone Type.
Fax, LandLine, Mobile</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostAddr">
		<xs:annotation>
			<xs:documentation>The PostAddr aggregate is used wherever a postal address is needed.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Addr1" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Addr1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Addr2" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Addr2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Addr3" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Addr3.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Addr4" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Addr4.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddrDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address Description.

Easy way to find principal address</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddrType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address Type.

Defined values: Seasonal, Primary, Secondary, Business, Home.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Building" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del residencial o del edificio de la dirección de correspondencia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>City.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountyDistrict" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>County District.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HouseNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>House Number, Apartment Number or Office Number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Jurisdiction" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Corregimiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="POBox" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PostalCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Postal Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Province" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Province.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="State" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>State</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Street" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Street</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Update Date Time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="appoptcommon:Country" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="timePattern">
		<xs:annotation>
			<xs:documentation>time</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:time">
			<xs:pattern value="(\s)*|\d{2}:\d{2}:\d{2}(Z|[\+\-]\d{2}:\d{2}|\.\d\d?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ValueTypeMandatory">
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurAmtMandatory">
		<xs:annotation>
			<xs:documentation>Currency Amount.

All monetary amounts in the IFX Specification are handled with the Currency Amount data type. When included, this data type contains a decimal value for the amount, an optional currency code.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amt" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurCode" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The CurrencyCode is used to express Currency codes and the authoritative source that defines them.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Field">
		<xs:sequence>
			<xs:element name="FieldCalc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Campos que se usarán para calcular un valor en el atributo a mostrar. El contenido de este atributo indicará si el valor del campo debe ser calculado y estará separado de la siguiente forma: Operando:Operador:Operando (Ejem:Campo1:sum:Campo2) los posibles operadores son: sum=suma, rest=resta, mult=multiplicación</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FieldId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código con el cual se creará el campo en la pantalla, será devuelto por el servicio y la pantalla deberá mostrarlo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FieldInq" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica si el campo es el usado para hacer la consulta. Si este atributo correspondiente al campo tiene un valor de "true" este campo debe ser usado para ejecutar la consulta del saldo, esto depende del resultado del valor "hasQuery" del método "BillersInfoInq" que en caso de ser cierto indica que es un pago y no una recarga (las recargas no tienen consulta del saldo)</xs:documentation>
				</xs:annotation>
			</xs:element>
   <xs:element name="FieldLabel" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="FieldType" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="ListValues" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valores que debe contener el campo, esta lista debe desplegarse como un combo-box. Las listas están separadas de la siguiente forma: indice=valor; índice=valor (ejem: 1=Ahorro;2=Corriente;3=Crédito) al servicio se le debe enviar lo correspondiente al índice</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServiceField" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica el campo en el cual debe ir mapeado el campo de la pantalla</xs:documentation>
				</xs:annotation>
			</xs:element>
   <xs:element name="ServiceOper" type="xs:string" maxOccurs="1" minOccurs="0"/>
   <xs:element name="Restriction" type="appoptcommon:FieldRestriction" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Freq">
		<xs:annotation>
			<xs:documentation>Contiene los campos necesarios para las frecuencias asociadas a los pagos de cualquier producto.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Every" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Every</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreqValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Frequency</xs:documentation>
				</xs:annotation>
			</xs:element>
                        <xs:element name="NoPaymentMonth" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Mes de no pago</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OnDay" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>OnDay</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OnDayNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>OnDayNumber</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OnWeekDay" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>OnWeekDay</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurAmt">
		<xs:annotation>
			<xs:documentation>Currency Amount.

All monetary amounts in the IFX Specification are handled with the Currency Amount data type. When included, this data type contains a decimal value for the amount, an optional currency code.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amt" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The CurrencyCode is used to express Currency codes and the authoritative source that defines them.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
