BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/SolicitudAprobacion/ConsultarVotacionUsuario/XSD/ConsultarSolicitudAproByIdSolicitud.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarSolicitudAproByIdSolicitud" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarSolicitudAproByIdSolicitud" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarSolicitudAproByIdSolicitudInput" type="ConsultarSolicitudAproByIdSolicitudInput"/>
   <xs:complexType name="ConsultarSolicitudAproByIdSolicitudInput">
      <xs:sequence>
         <xs:element name="idSolicitudAprobacion" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarSolicitudAproByIdSolicitudOutputCollection" type="ConsultarSolicitudAproByIdSolicitudOutputCollection"/>
   <xs:complexType name="ConsultarSolicitudAproByIdSolicitudOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarSolicitudAproByIdSolicitudOutput" type="ConsultarSolicitudAproByIdSolicitudOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarSolicitudAproByIdSolicitudOutput">
      <xs:sequence>
         <xs:element name="ID_SOLICITUD_APROBACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_SOLICITUD" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_NIVEL_APROBACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ES_REUNION_VIRTUAL" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_INICIO" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_TERMINO" type="xs:dateTime" nillable="true"/>
         <xs:element name="HORA_REUNION" type="xs:dateTime" nillable="true"/>
         <xs:element name="LUGAR_REUNION" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_ASIGNACION" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_CIERRE" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_CLIENTE" type="xs:decimal"/>
         <xs:element name="INSTANCIA_PROCESO_SEGUIMIENTO" type="xs:string" nillable="true" />
      </xs:sequence>
   </xs:complexType>
</xs:schema>