Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/SAPAcct/AcctInfoInq/AcctInfoInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/SAPAcctAppSvc/AcctInfoInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctInfoInq="http://xmlns.banesco.com/appopt/SAPAcctAppSvc/AcctInfoInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="AcctBlock">
		<xs:annotation>
			<xs:documentation>Associated to Posting Restriction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Block Type. (CREDIT, DEBIT, ALL)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctStatus">
		<xs:annotation>
			<xs:documentation>Account Status Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="StatusDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status Description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctBlock" type="appoptAcctInfoInq:AcctBlock" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctInfoInqRs_Type">
		<xs:sequence>
			<xs:element name="Acct" type="appoptAcctInfoInq:Acct" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Parties" type="appoptAcctInfoInq:Parties" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctInfoInqRs" type="appoptAcctInfoInq:AcctInfoInqRs_Type"/>
	<xs:complexType name="Acct">
		<xs:annotation>
			<xs:documentation>Account Information Aggregate. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CurCode" type="appoptcommon:ValueType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The CurrencyCode is used to express Currency codes and the authoritative source that defines them.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Opening Date.

Opening date of object, usage depends on context.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctStatus" type="appoptAcctInfoInq:AcctStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctKey" type="appoptAcctInfoInq:AcctKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctBal" type="appoptAcctInfoInq:AcctBal" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctBal">
		<xs:annotation>
			<xs:documentation>Account Balance.

Supports attributes with respect to all the balances a financial institution account may carry (ex: ledger, available, collected, etc.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CurAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Currency Amount.

All monetary amounts in the IFX Specification are handled with the Currency Amount data type. When included, this data type contains a decimal value for the amount, an optional currency code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctInfoInqRq_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="appoptAcctInfoInq:AcctKey" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctInfoInqRq" type="appoptAcctInfoInq:AcctInfoInqRq_Type"/>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Parties">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Party" type="appoptAcctInfoInq:Party" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identification">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="IssuedIdentType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de identificación del cliente (cédula/pasaporte)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de identificación</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>Party is a person or organization. A Party typically has some association with an account and fulfills roles such as:

a primary or partial ownership/responsibility for an account
a beneficiary of an account
has signatory authorization on an account
has legal authorization, such as power of attorney, for an account
A Party can have relationships to accounts, cards and other parties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyKey" type="appoptAcctInfoInq:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="appoptAcctInfoInq:Identification">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
</xs:schema>
