BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/CrearBitacora/V1/Schema/CrearBitacoraBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:regBi="http://www.bcie.org/CrearBitacoraBO"
            targetNamespace="http://www.bcie.org/CrearBitacoraBO" elementFormDefault="qualified"
            xmlns:catBO="http://www.bcie.org/CatalogoBO">
  <xsd:import schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd" namespace="http://www.bcie.org/CatalogoBO"/>
  <xsd:complexType name="Bitacora">
    <xsd:annotation>
      <xsd:documentation>Registro de bitácora proceso operacion o cliente</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element type="xsd:long" name="id"/>
      <xsd:element name="idNegocio" type="catBO:Catalogo"/>
      <xsd:element type="xsd:long" name="idProceso"/>
      <xsd:element type="xsd:string" name="nombreProceso"/>
      <xsd:element type="xsd:string" name="instanciaProceso"/>
      <xsd:element type="xsd:long" name="idProcesoSiguiente"/>
      <xsd:element type="xsd:boolean" name="esProceso"/>
      <xsd:element type="xsd:long" name="idTarea"/>
      <xsd:element type="xsd:string" name="nombreTarea"/>
      <xsd:element type="xsd:string" name="instanciaTarea"/>
      <xsd:element type="xsd:string" name="usuario"/>
      <xsd:element type="xsd:string" name="nombreUsuario"/>
      <xsd:element type="xsd:boolean" name="esFinActividad"/>
      <xsd:element type="xsd:dateTime" name="fechaRegistro"/>
      <xsd:element type="xsd:long" name="tiempoProceso"/>
      <xsd:element type="xsd:long" name="tiempoTarea"/>
      <xsd:element type="xsd:int" name="snr"/>
      <xsd:element name="raroc" type="xsd:long"/>
      <xsd:element type="xsd:string" name="string01"/>
      <xsd:element type="xsd:string" name="string02"/>
      <xsd:element type="xsd:string" name="string03"/>
      <xsd:element type="xsd:boolean" name="finalizado"/>
      <xsd:element type="xsd:long" name="idInicio"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
