BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ConsultarOperacionProceso/XSD/ConsultarTreOperacionProcesoBPM.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTreOperacionProcesoBPM" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTreOperacionProcesoBPM" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarTreOperacionProcesoBPMInput" type="ConsultarTreOperacionProcesoBPMInput"/>
   <xs:complexType name="ConsultarTreOperacionProcesoBPMInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:string" nillable="true"/>
         <xs:element name="idProceso" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarTreOperacionProcesoBPMOutputCollection" type="ConsultarTreOperacionProcesoBPMOutputCollection"/>
   <xs:complexType name="ConsultarTreOperacionProcesoBPMOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarTreOperacionProcesoBPMOutput" type="ConsultarTreOperacionProcesoBPMOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarTreOperacionProcesoBPMOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_PROCESO" type="xs:decimal" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>