Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/DUMMYPBCARGA/resources/xsd/DummyPBCarga_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DummyPBCarga" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DummyPBCarga" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="V_IDTRANSACCION" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_RECORDSET" type="db:P_RECORDSET_RowSet" db:index="2" db:type="RowSet" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="P_RECORDSET_RowSet">
      <sequence>
         <element name="P_RECORDSET_Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="TRACKINGID" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="TRACKINGIDRESP" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="CLIENTDT" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="SERVERDT" type="dateTime" db:type="TIMESTAMP WITH TIME ZONE" minOccurs="0" nillable="true"/>
                  <element name="PRIORITY" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
                  <element name="OPERTYPE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="SERVICE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="OPERATION" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="DESTINATION" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="CLIENTAPPORG" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="CLIENTAPPNAME" type="db:string25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="CLIENTAPPVERSION" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="CHANNELID" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="USERID" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="USERTYPE" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="IPADRESS" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="HOSTNAME" type="db:string35" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="MACADDRESS" type="db:string17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
                  <element name="RECCOUNTLIMIT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
                  <element name="STARTRECNUM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
                  <element name="ENDRECNUM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
                  <element name="SENTRECCOUNT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
                  <element name="MESSAGE" type="string" db:type="CLOB" minOccurs="0" nillable="true"/>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string150">
      <restriction base="string">
         <maxLength value="150"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string25">
      <restriction base="string">
         <maxLength value="25"/>
      </restriction>
   </simpleType>
   <simpleType name="string12">
      <restriction base="string">
         <maxLength value="12"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string16">
      <restriction base="string">
         <maxLength value="16"/>
      </restriction>
   </simpleType>
   <simpleType name="string35">
      <restriction base="string">
         <maxLength value="35"/>
      </restriction>
   </simpleType>
   <simpleType name="string17">
      <restriction base="string">
         <maxLength value="17"/>
      </restriction>
   </simpleType>
</schema>
