BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioProducto/ConsultarProductoByIdOperacion/XSD/ConsultarProductoByIdOperacion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarProductoByIdOperacion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarProductoByIdOperacion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarProductoByIdOperacionInput" type="ConsultarProductoByIdOperacionInput"/>
   <xs:complexType name="ConsultarProductoByIdOperacionInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarProductoByIdOperacionOutputCollection" type="ConsultarProductoByIdOperacionOutputCollection"/>
   <xs:complexType name="ConsultarProductoByIdOperacionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarProductoByIdOperacionOutput" type="ConsultarProductoByIdOperacionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarProductoByIdOperacionOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
         <xs:element name="REQUIERE_ELEGIBILIDAD" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_LAFT" type="xs:decimal" nillable="true"/>
         <xs:element name="COD_EXTERNO" type="xs:string" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_INSTRUMENTO_FINANCIERO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TIPO_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_HOJA_TERMINOS_SEPRI" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_HOJA_TERMINOS_PCT" type="xs:decimal" nillable="true"/>
         <xs:element name="OFIC_REALIZA_ANALISIS_LAFT" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_ADQUISICIONES" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_RAROC" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_IBCIE" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_SIEMAS" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_GERIES_ELEGIBILIDAD" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_OPINION_TECNICA" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_ASJUR_ANALISIS" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_ASJUR_ELEGIBILIDAD" type="xs:decimal" nillable="true"/>
             <xs:element name="REQUIERE_PREPARACION" type="xs:decimal" nillable="true"/>
         <xs:element name="TIENE_RIESGO_CREDITO" type="xs:decimal" nillable="true"/>
         <xs:element name="RESPONSABLE_ANALISIS" type="xs:decimal" nillable="true"/>
         <xs:element name="NOM_RESPONSABLE_ANALISIS" type="xs:string" nillable="true"/>
         <xs:element name="REQUIERE_FIRMA_CONTRATO" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_REGISTRO_LINEA" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_CORE" type="xs:decimal" nillable="true"/>
         <xs:element name="CODIGO_OFICINA" type="xs:string" nillable="true"/>
         <xs:element name="CODIGO_ACTIVIDAD_ECO" type="xs:string" nillable="true"/>
         <xs:element name="ACTIVIDAD_ECONOMICA" type="xs:string" nillable="true"/>
         <xs:element name="OFICINA" type="xs:string" nillable="true"/>
         <xs:element name="CODIGO_PAIS" type="xs:string" nillable="true"/>
         <xs:element name="PAIS" type="xs:string" nillable="true"/>
         <xs:element name="CANTIDAD_PAISES" type="xs:string" nillable="true"/>
         <xs:element name="CODIGO_TIPO_INSTITUCION" type="xs:int" nillable="true"/>
         <xs:element name="TIPO_INSTITUCION" type="xs:string" nillable="true"/>
         <xs:element name="TIPO_PERSONA" type="xs:string" nillable="true"/>
         <xs:element name="GRUPO_ECONOMICO" type="xs:string" nillable="true"/>
         <xs:element name="AREA_FOCALIZACION" type="xs:string" nillable="true"/>
         <xs:element name="EJE_ESTRATEGICO" type="xs:string" nillable="true"/>
         <xs:element name="INICIATIVA_ESTRATEGICA" type="xs:string" nillable="true"/>
         <xs:element name="SECTOR" type="xs:string" nillable="true"/>
         <xs:element name="SECTOR_MERCADO" type="xs:string" nillable="true"/>
         <xs:element name="EJERCICIO_POA" type="xs:string" nillable="true"/>
         <xs:element name="TIPO_GARANTIA" type="xs:string" nillable="true"/>
         <xs:element name="NOMBRE" type="xs:string" nillable="true"/>
         <xs:element name="USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO_SOLICITADO" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO_TOTAL" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_OP" type="xs:string" nillable="true"/>
         <xs:element name="PROGRAMADO_POA" type="xs:int" nillable="true"/>
         <xs:element name="COMPONENTE_CONCECIONALIDAD" type="xs:int" nillable="true"/>
         <xs:element name="UNIDAD_EJECUTORA" type="xs:string" nillable="true"/>
         <xs:element name="ID_FLEXCUBE" type="xs:string" nillable="true"/>
         <xs:element name="ID_CLIENTE" type="xs:string" nillable="true"/>
         <xs:element name="RAZON_SOCIAL" type="xs:string" nillable="true"/>
         <xs:element name="ABREVIATURA" type="xs:string" nillable="true"/>
         <xs:element name="TIPO_IDENTIFICACION" type="xs:string" nillable="true"/>
         <xs:element name="NUMERO_IDENTIFICACION" type="xs:string" nillable="true"/>
         <xs:element name="ID_TIPO_PERSONA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_PERSPECTIVA" type="xs:int" nillable="true"/>
         <xs:element name="DESCRIPCION_PERSPECTIVA" type="xs:string" nillable="true"/>
         <xs:element name="ID_TIPO_GARANTIA" type="xs:int" nillable="true"/>
         <xs:element name="ID_SECTOR" type="xs:int" nillable="true"/>
          <xs:element name="JUSTIFICACION_CANCELA" type="xs:string" nillable="true"/>
         <xs:element name="REQUIERE_CIERRE" type="xs:boolean"/>
         <xs:element name="TIPO_CIERRE" type="xs:int"/>
         <xs:element name="ES_IFI" type="xs:int" nillable="true"/>
         <xs:element name="ID_SECTOR_INSTITUCIONAL" type="xs:int" nillable="true"/>
         <xs:element name="ID_ENCARGADO" type="xs:int" nillable="true"/>
        <xs:element name="TCA_ID" type="xs:int" nillable="true"/>
         <xs:element name="TCA_DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
         
        <xs:element name="REQUIERE_VALIDAR_MATRIZ" type="xs:decimal" nillable="true"/>
		

      </xs:sequence>
   </xs:complexType>
</xs:schema>