BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/SolicitudAprobacion/CrearComentarioVotacion/XSD/CrearComentarioVotacion_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearComentarioVotacion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearComentarioVotacion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ComentarioReunionCollection" type="ComentarioReunionCollection"/>
   <xs:complexType name="ComentarioReunionCollection">
      <xs:sequence>
         <xs:element name="ComentarioReunion" type="ComentarioReunion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ComentarioReunion">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idUsuarioReunion" type="xs:long" minOccurs="0"/>
         <xs:element name="idVotoAprobacion" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="fechaHora" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="comentario" type="string4000" minOccurs="0"/>
         <xs:element name="nombreUsuario" type="string128" minOccurs="0" nillable="true"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string4000">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string128">
      <xs:restriction base="xs:string">
         <xs:maxLength value="128"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>