AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Applications/RetailMerchandising/RMS/RMSItemDataSvc/Resources/ItemDataSvcBS_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ItemDataSvcBS" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ItemDataSvcBS" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ItemMasterCollection" type="ItemMasterCollection"/>
   <xs:complexType name="ItemMasterCollection">
      <xs:sequence>
         <xs:element name="ItemMaster" type="ItemMaster" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ItemMaster">
      <xs:sequence>
         <xs:element name="item" type="string25"/>
         <xs:element name="itemNumberType" type="string6" minOccurs="0"/>
         <xs:element name="formatId" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="prefix" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="itemGrandparent" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="packInd" type="string1" minOccurs="0"/>
         <xs:element name="itemLevel" type="xs:int" minOccurs="0"/>
         <xs:element name="tranLevel" type="xs:int" minOccurs="0"/>
         <xs:element name="itemAggregateInd" type="string1" minOccurs="0"/>
         <xs:element name="diff1" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="diff1_AggregateInd" type="string1" minOccurs="0"/>
         <xs:element name="diff2" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="diff2_AggregateInd" type="string1" minOccurs="0"/>
         <xs:element name="diff3" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="diff3_AggregateInd" type="string1" minOccurs="0"/>
         <xs:element name="diff4" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="diff4_AggregateInd" type="string1" minOccurs="0"/>
         <xs:element name="dept" type="xs:int" minOccurs="0"/>
         <xs:element name="class" type="xs:int" minOccurs="0"/>
         <xs:element name="subclass" type="xs:int" minOccurs="0"/>
         <xs:element name="status" type="string1" minOccurs="0"/>
         <xs:element name="itemDesc" type="string250" minOccurs="0"/>
         <xs:element name="itemDescSecondary" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="shortDesc" type="string120" minOccurs="0"/>
         <xs:element name="descUp" type="string250" minOccurs="0"/>
         <xs:element name="primaryRefItemInd" type="string1" minOccurs="0"/>
         <xs:element name="costZoneGroupId" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="standardUom" type="string4" minOccurs="0"/>
         <xs:element name="uomConvFactor" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="packageSize" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="packageUom" type="string4" minOccurs="0" nillable="true"/>
         <xs:element name="merchandiseInd" type="string1" minOccurs="0"/>
         <xs:element name="storeOrdMult" type="string1" minOccurs="0"/>
         <xs:element name="forecastInd" type="string1" minOccurs="0"/>
         <xs:element name="originalRetail" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="mfgRecRetail" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="retailLabelType" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="retailLabelValue" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="handlingTemp" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="handlingSensitivity" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="catchWeightInd" type="string1" minOccurs="0"/>
         <xs:element name="wasteType" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="wastePct" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="defaultWastePct" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="constDimenInd" type="string1" minOccurs="0"/>
         <xs:element name="simplePackInd" type="string1" minOccurs="0"/>
         <xs:element name="containsInnerInd" type="string1" minOccurs="0"/>
         <xs:element name="sellableInd" type="string1" minOccurs="0"/>
         <xs:element name="orderableInd" type="string1" minOccurs="0"/>
         <xs:element name="packType" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="orderAsType" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="comments" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="itemServiceLevel" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="giftWrapInd" type="string1" minOccurs="0"/>
         <xs:element name="shipAloneInd" type="string1" minOccurs="0"/>
         <xs:element name="createDatetime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdateId" type="string30" minOccurs="0"/>
         <xs:element name="lastUpdateDatetime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="checkUdaInd" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="itemXformInd" type="string1" minOccurs="0"/>
         <xs:element name="inventoryInd" type="string1" minOccurs="0"/>
         <xs:element name="orderType" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="saleType" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="depositItemType" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="containerItem" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="depositInPricePerUom" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="aipCaseType" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="catchWeightType" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="perishableInd" type="string1" minOccurs="0"/>
         <xs:element name="sohInquiryAtPackInd" type="string1" minOccurs="0"/>
         <xs:element name="notionalPackInd" type="string1" minOccurs="0"/>
         <xs:element name="catchWeightUom" type="string4" minOccurs="0" nillable="true"/>
         <xs:element name="productClassification" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="brandName" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="createId" type="string30" minOccurs="0"/>
         <xs:element name="alcItemType" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="currSellingUnitRetail" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="currSellingUom" type="string4" minOccurs="0" nillable="true"/>
         <xs:element name="parent" type="ItemMaster" minOccurs="0" nillable="true"/>
         <xs:element name="children" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ItemMaster" type="ItemMaster" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="countries" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ItemCountry" type="ItemCountry" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="seassons" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ItemSeasons" type="ItemSeasons" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="suppliers" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="ItemSupplier" type="ItemSupplier" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element name="udas" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="UdaItemLov" type="UdaItemLov" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ItemCountry">
      <xs:sequence>
         <xs:element name="countryId" type="string3"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ItemSeasons">
      <xs:sequence>
         <xs:element name="seasonId" type="xs:int" minOccurs="0"/>
         <xs:element name="phaseId" type="xs:int" minOccurs="0"/>
         <xs:element name="itemSeasonSeqNo" type="xs:int"/>
         <xs:element name="diffId" type="string10" minOccurs="0" nillable="true"/>
         <xs:element name="createDatetime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdateDatetime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdateId" type="string30" minOccurs="0"/>
         <xs:element name="createId" type="string30" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ItemSupplier">
      <xs:sequence>
         <xs:element name="primarySuppInd" type="string1" minOccurs="0"/>
         <xs:element name="vpn" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="suppLabel" type="string15" minOccurs="0" nillable="true"/>
         <xs:element name="consignmentRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="suppDiff1" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="suppDiff2" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="suppDiff3" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="suppDiff4" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="palletName" type="string6" minOccurs="0"/>
         <xs:element name="caseName" type="string6" minOccurs="0"/>
         <xs:element name="innerName" type="string6" minOccurs="0"/>
         <xs:element name="suppDiscontinueDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="directShipInd" type="string1" minOccurs="0"/>
         <xs:element name="createDatetime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdateDatetime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdateId" type="string30" minOccurs="0"/>
         <xs:element name="concessionRate" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="primaryCaseSize" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="createId" type="string30" minOccurs="0"/>
         <xs:element name="supplier" type="Sups"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Sups">
      <xs:sequence>
         <xs:element name="supplier" type="xs:long"/>
         <xs:element name="supName" type="string240" minOccurs="0"/>
         <xs:element name="supNameSecondary" type="string240" minOccurs="0" nillable="true"/>
         <xs:element name="contactName" type="string120" minOccurs="0"/>
         <xs:element name="contactPhone" type="string20" minOccurs="0"/>
         <xs:element name="contactFax" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="contactPager" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="supStatus" type="string1" minOccurs="0"/>
         <xs:element name="qcInd" type="string1" minOccurs="0"/>
         <xs:element name="qcPct" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="qcFreq" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="vcInd" type="string1" minOccurs="0"/>
         <xs:element name="vcPct" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="vcFreq" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="currencyCode" type="string3" minOccurs="0"/>
         <xs:element name="lang" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="terms" type="string15" minOccurs="0"/>
         <xs:element name="freightTerms" type="string30" minOccurs="0"/>
         <xs:element name="retAllowInd" type="string1" minOccurs="0"/>
         <xs:element name="retAuthReq" type="string1" minOccurs="0"/>
         <xs:element name="retMinDolAmt" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="retCourier" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="handlingPct" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="ediPoInd" type="string1" minOccurs="0"/>
         <xs:element name="ediPoChg" type="string1" minOccurs="0"/>
         <xs:element name="ediPoConfirm" type="string1" minOccurs="0"/>
         <xs:element name="ediAsn" type="string1" minOccurs="0"/>
         <xs:element name="ediSalesRptFreq" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="ediSuppAvailableInd" type="string1" minOccurs="0"/>
         <xs:element name="ediContractInd" type="string1" minOccurs="0"/>
         <xs:element name="ediInvcInd" type="string1" minOccurs="0"/>
         <xs:element name="ediChannelId" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="costChgPctVar" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="costChgAmtVar" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="replenApprovalInd" type="string1" minOccurs="0"/>
         <xs:element name="shipMethod" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="paymentMethod" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="contactTelex" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="contactEmail" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="settlementCode" type="string1" minOccurs="0"/>
         <xs:element name="preMarkInd" type="string1" minOccurs="0"/>
         <xs:element name="autoApprInvcInd" type="string1" minOccurs="0"/>
         <xs:element name="dbtMemoCode" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="freightChargeInd" type="string1" minOccurs="0"/>
         <xs:element name="autoApprDbtMemoInd" type="string1" minOccurs="0"/>
         <xs:element name="prepayInvcInd" type="string1" minOccurs="0"/>
         <xs:element name="backorderInd" type="string1" minOccurs="0"/>
         <xs:element name="vatRegion" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="invMgmtLvl" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="servicePerfReqInd" type="string1" minOccurs="0"/>
         <xs:element name="invcPayLoc" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="invcReceiveLoc" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="addinvcGrossNet" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="deliveryPolicy" type="string6" minOccurs="0"/>
         <xs:element name="commentDesc" type="string2000" minOccurs="0" nillable="true"/>
         <xs:element name="defaultItemLeadTime" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="dunsNumber" type="string9" minOccurs="0" nillable="true"/>
         <xs:element name="dunsLoc" type="string4" minOccurs="0" nillable="true"/>
         <xs:element name="bracketCostingInd" type="string1" minOccurs="0"/>
         <xs:element name="vmiOrderStatus" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="dsdInd" type="string1" minOccurs="0"/>
         <xs:element name="scaleAipOrders" type="string1" minOccurs="0"/>
         <xs:element name="finalDestInd" type="string1" minOccurs="0"/>
         <xs:element name="supQtyLevel" type="string6" minOccurs="0"/>
         <xs:element name="externalRefId" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="createId" type="string30" minOccurs="0"/>
         <xs:element name="createDatetime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="statusUpdByRms" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="parent" type="Sups" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UdaItemLov">
      <xs:sequence>
         <xs:element name="createDatetime" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lastUpdateDatetime" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdateId" type="string30" minOccurs="0"/>
         <xs:element name="createId" type="string30" minOccurs="0"/>
         <xs:element name="uda" type="UdaValues"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UdaValues">
      <xs:sequence>
         <xs:element name="udaId" type="xs:int"/>
         <xs:element name="udaValue" type="xs:int"/>
         <xs:element name="udaValueDesc" type="string250" minOccurs="0"/>
         <xs:element name="createId" type="string30" minOccurs="0"/>
         <xs:element name="createDatetime" type="xs:dateTime" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ItemMasterPrimaryKey" type="ItemMasterPrimaryKey"/>
   <xs:complexType name="ItemMasterPrimaryKey">
      <xs:sequence>
         <xs:element name="item" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string25">
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string6">
      <xs:restriction base="xs:string">
         <xs:maxLength value="6"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string10">
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string250">
      <xs:restriction base="xs:string">
         <xs:maxLength value="250"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string4">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string2000">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string15">
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string3">
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string240">
      <xs:restriction base="xs:string">
         <xs:maxLength value="240"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string100">
      <xs:restriction base="xs:string">
         <xs:maxLength value="100"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string9">
      <xs:restriction base="xs:string">
         <xs:maxLength value="9"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>