BCIE_fenix/dev/SOA/06-OSB-SERVICE/COMPOSICIONES/Entidades/Seguridad/WSDL/RestService.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:segMO="http://www.bcie.org/SeguridadMO" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="RestService">RestService</doc>
  <grammars>
    <xsd:schema targetNamespace="http://www.bcie.org/SeguridadService/types" elementFormDefault="qualified" xmlns:tns="http://xmlns.bcie.com/SeguridadService" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
      <xsd:import namespace="http://www.bcie.org/SeguridadMO" schemaLocation="../../../../MDS/Resources/ComponentesComunes/DominioSeguridad/Schema/SeguridadMO.xsd"/>
    </xsd:schema>
  </grammars>
  <resources>
    <resource path="/Seguridad/ObtenerDatosUsuario">
      <method name="GET" soa:wsdlOperation="ObtenerDatosUsuario">
        <request>
          <param name="NombreUsuario" style="query" soa:expression="$msg.requestObtenerDatosUsuario/segMO:NombreUsuario" default="" type="xsd:string"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:ObtenerDatosUsuarioResponse" xmlns:cns="http://www.bcie.org/SeguridadMO"/>
        </response>
      </method>
    </resource>
    <resource path="/Seguridad/VerificarEstadoUsuario">
      <method name="GET" soa:wsdlOperation="VerificarEstadoUsuario">
        <request>
          <param name="NombreUsuario" style="query" soa:expression="$msg.requestVerificarEstadoUsuario/segMO:NombreUsuario" default="" type="xsd:string"/>
        </request>
        <response status="200">
          <representation mediaType="application/json" element="cns:VerificarEstadoUsuarioResponse" xmlns:cns="http://www.bcie.org/SeguridadMO"/>
        </response>
      </method>
    </resource>
  </resources>
</application>