BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/REP/ConsultarClienteREP/XSD/consultarReserva_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarReserva" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/consultarReserva" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_CLIENTE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="FONDOS" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="LISTA_BALANCE" type="db:MIDDLE.BALANCE_LIST_TYPE" db:index="3" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="CODIGO_RESULTADO" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="TIPO_RESULTADO" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="MENSAJE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="MIDDLE.BALANCE_LIST_TYPE">
      <sequence>
         <element name="LISTA_BALANCE_ITEM" type="db:MIDDLE.BALANCE_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="MIDDLE.BALANCE_TYPE">
      <sequence>
         <element name="COMPONENTE" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BALANCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
</schema>