AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/AppointmentAPP/RestAppointmentService/Resources/WASLs/RestAppointmentServiceJson.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:inp1="http://www.oracle.com/retail/integration/base/bo/AppointDesc/v1" xmlns:inp3="http://www.oracle.com/retail/integration/base/bo/AppointRef/v1" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="RestAppointmentServiceJson">RestService</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://www.oracle.com/retail/integration/base/bo/AppointDesc/v1" schemaLocation="../../../../MetaData/Components/EnterpriseObjectLibrary/Custom/Schemas/AppointDesc.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Appointment" schemaLocation="../../../../MetaData/Components/EnterpriseObjectLibrary/EBO/Appointment/AppointmentEBM.xsd"/>
        </xsd:schema>
      <xsd:schema>
            <xsd:import schemaLocation="../../../../MetaData/Components/EnterpriseObjectLibrary/Custom/Schemas/AppointRef.xsd" namespace="http://www.oracle.com/retail/integration/base/bo/AppointRef/v1"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/Create">
         <method name="POST" soa:wsdlOperation="createappt">
            <request>
               <representation mediaType="application/xml" element="cns:AppointDesc" xmlns:cns="http://www.oracle.com/retail/integration/base/bo/AppointDesc/v1"/>
               <representation mediaType="application/json" element="cns:AppointDesc" xmlns:cns="http://www.oracle.com/retail/integration/base/bo/AppointDesc/v1"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:ProccesAppointmentResponseAcknowledgeEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Appointment"/>
            </response>
         </method>
      </resource>
      <resource path="/UpdateHdr">
         <method name="POST" soa:wsdlOperation="updateappt">
            <request>
               <representation mediaType="application/xml" element="cns:AppointDesc" xmlns:cns="http://www.oracle.com/retail/integration/base/bo/AppointDesc/v1"/>
               <representation mediaType="application/json" element="cns:AppointDesc" xmlns:cns="http://www.oracle.com/retail/integration/base/bo/AppointDesc/v1"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:ProccesAppointmentResponseAcknowledgeEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Appointment"/>
            </response>
         </method>
      </resource>
      <resource path="/Delete">
         <method name="POST" soa:wsdlOperation="deleteappt">
            <request>
               <representation mediaType="application/xml" element="cns:AppointRef" xmlns:cns="http://www.oracle.com/retail/integration/base/bo/AppointRef/v1"/>
               <representation mediaType="application/json" element="cns:AppointRef" xmlns:cns="http://www.oracle.com/retail/integration/base/bo/AppointRef/v1"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:ProccesAppointmentResponseAcknowledgeEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Appointment"/>
            </response>
         </method>
      </resource>
   </resources>
</application>