Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Party/PartyRefInq/PartyRefInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/PartyRefInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:eoptPartyRefInq="http://xmlns.banesco.com/eopt/PartyRefInq_V1.0"
           xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
           elementFormDefault="qualified">
  <xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
  <xs:complexType name="Party">
    <xs:sequence>
      <xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PersonPartyInfo" type="eoptPartyRefInq:PersonPartyInfo" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartyRefInqRq" type="eoptPartyRefInq:PartyRefInqRq_Type"/>
  <xs:element name="PartyRefInqRs" type="eoptPartyRefInq:PartyRefInqRs_Type"/>
  <xs:complexType name="PartyRefInqRq_Type">
    <xs:sequence>
      <xs:element name="Party" type="eoptPartyRefInq:Party" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyRefInqRs_Type">
    <xs:sequence>
      <xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Party" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PersonPartyInfo" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Relationship" type="eoPar:Relationship" minOccurs="0" maxOccurs="unbounded"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonPartyInfo">
    <xs:sequence>
      <xs:element name="PersonData" type="eoPar:PersonData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
