BCIE_fenix/qa/SOA/03-SOA-SERVICES/DominioOperacion/CrearOperacion/SOA/WSDLs/PC02/PreparacionProcess.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/PreparacionProcess" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/PreparacionProcess" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:param="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
   <plnk:partnerLinkType name="PreparacionProcessPortTypePartnerLinkType">
      <plnk:role name="PreparacionProcessPortTypeProvider">
         <plnk:portType name="tns:PreparacionProcessPortType"/>
      </plnk:role>
   </plnk:partnerLinkType>
   <wsdl:types>
      <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/PreparacionProcess" elementFormDefault="qualified">
         <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="../../Schema/Comun/Header/V1/HeaderOPN.xsd"/>
         <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" schemaLocation="../../Schema/Comun/Parameter/V1/ParameterOPN.xsd"/>
         <xsd:element name="InicioAdquisiciones">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="idOperacion" type="xsd:int"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="InicioPreparacion">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="Header" type="tns6:Header"/>
                  <xsd:element name="RetornoAnalisis" type="xsd:boolean"/>
                  <xsd:element ref="param:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="InicioPreparacion">
      <wsdl:part name="parameters" element="tns:InicioPreparacion"/>
   </wsdl:message>
   <wsdl:message name="InicioAdquisiciones">
      <wsdl:part name="parameters" element="tns:InicioAdquisiciones"/>
   </wsdl:message>
   <wsdl:portType name="PreparacionProcessPortType">
      <wsdl:operation name="InicioPreparacion">
         <wsdl:input message="tns:InicioPreparacion"/>
      </wsdl:operation>
      <wsdl:operation name="InicioAdquisiciones">
         <wsdl:input message="tns:InicioAdquisiciones"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="PreparacionProcessBinding" type="tns:PreparacionProcessPortType">
      <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="InicioPreparacion">
         <wsdlsoap:operation style="document" soapAction="InicioPreparacion"/>
         <wsdl:input>
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
      <wsdl:operation name="InicioAdquisiciones">
         <wsdlsoap:operation style="document" soapAction="InicioAdquisiciones"/>
         <wsdl:input>
            <wsdlsoap:body use="literal"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
