AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/CommonTranslationAPP/Resources/GetFullHierarchyDB_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/GetFullHierarchyDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/GetFullHierarchyDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="MdmMerchandhierarTranslationsCollection" type="MdmMerchandhierarTranslationsCollection"/>
   <xs:complexType name="MdmMerchandhierarTranslationsCollection">
      <xs:sequence>
         <xs:element name="MdmMerchandhierarTranslations" type="MdmMerchandhierarTranslations" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MdmMerchandhierarTranslations">
      <xs:sequence>
         <xs:element name="jdaDepto" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idDepartamento" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idClase" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idTipo" type="xs:long" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GetFullHierarchyDBSelect_IdDeptoRms_IdClaseRMS_IdTipoRMSInputParameters" type="GetFullHierarchyDBSelect_IdDeptoRms_IdClaseRMS_IdTipoRMS"/>
   <xs:complexType name="GetFullHierarchyDBSelect_IdDeptoRms_IdClaseRMS_IdTipoRMS">
      <xs:sequence>
         <xs:element name="IdDeptoRms" type="xs:long" minOccurs="1" maxOccurs="1"/>
         <xs:element name="IdClaseRMS" type="xs:long" minOccurs="1" maxOccurs="1"/>
         <xs:element name="IdTipoRMS" type="xs:long" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>