AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/CommonTranslationAPP/Resources/GetHierarchyDB_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/GetHierarchyDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/GetHierarchyDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="MdmMerchandhierarTranslationsCollection" type="MdmMerchandhierarTranslationsCollection"/>
   <xs:complexType name="MdmMerchandhierarTranslationsCollection">
      <xs:sequence>
         <xs:element name="MdmMerchandhierarTranslations" type="MdmMerchandhierarTranslations" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MdmMerchandhierarTranslations">
      <xs:sequence>
         <xs:element name="jdaDepto" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idDepartamento" type="xs:long" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="GetHierarchyDBSelect_IdDeptoRMSInputParameters" type="GetHierarchyDBSelect_IdDeptoRMS"/>
   <xs:complexType name="GetHierarchyDBSelect_IdDeptoRMS">
      <xs:sequence>
         <xs:element name="IdDeptoRMS" type="xs:long" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>