AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/CommonTranslationAPP/Resources/HierarchySQLDB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/HierarchySQLDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/HierarchySQLDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="HierarchySQLDBInput" type="HierarchySQLDBInput"/>
   <xs:complexType name="HierarchySQLDBInput">
      <xs:sequence>
         <xs:element name="IdDeptoRMS" type="xs:string" nillable="true"/>
         <xs:element name="IdClaseRMS" type="xs:string" nillable="true"/>
         <xs:element name="IdTipoRMS" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="HierarchySQLDBOutputCollection" type="HierarchySQLDBOutputCollection"/>
   <xs:complexType name="HierarchySQLDBOutputCollection">
      <xs:sequence>
         <xs:element name="HierarchySQLDBOutput" type="HierarchySQLDBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="HierarchySQLDBOutput">
      <xs:sequence>
         <xs:element name="idept" type="xs:string" nillable="true"/>
         <xs:element name="isdept" type="xs:string" nillable="true"/>
         <xs:element name="iclas" type="xs:string" nillable="true"/>
         <xs:element name="isclas" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>