AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/CommonTranslationAPP/Resources/InputQuery.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/GetHierarchyDB"
           xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/GetHierarchyDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="GetFullHierarchyDBInputParameters" type="HierarchyDBParam"/>
   <xs:element name="MdmMerchandhierarTranslationsCollection" type="MdmMerchandhierarTranslationsCollection"/>
   <xs:complexType name="MdmMerchandhierarTranslationsCollection">
      <xs:sequence>
         <xs:element name="MdmMerchandhierarTranslations" type="MdmMerchandhierarTranslations" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MdmMerchandhierarTranslations">
      <xs:sequence>
         <xs:element name="Band" type="xs:int" minOccurs="1" nillable="true"/>
         <xs:element name="jdaDepto" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="isdept" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="iclas" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="isclas" type="xs:long" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="HierarchyDBParam">
      <xs:sequence>
         <xs:element name="IdDeptoRMS" type="xs:long" minOccurs="1" maxOccurs="1"/>
         <xs:element name="IdClaseRMS" type="xs:long" minOccurs="0" maxOccurs="1"/>
         <xs:element name="IdTipoRMS" type="xs:long"  minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>