AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/CommonTranslationAPP/Resources/SecuenceRMSEBM.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/get/secuenciaRMS"
           xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/get/secuenciaRMS" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetSecuenceRMS" type="ParamInDB"/>
  <xs:element name="RespSecuenceRMS" type="RespDB"/>
   <xs:complexType name="ParamInDB">
      <xs:sequence>
         <xs:element name="SISTEMA" type="xs:string" minOccurs="1" maxOccurs="1"/>
         <xs:element name="PROCESO" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
      <xs:complexType name="RespDB">
      <xs:sequence>
         <xs:element name="FNC_UNIQUE_SEQ" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>