AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/DifferentiatorApp/CreateDifferentiatorProtosAdapterService/Resources/JSON_Diff.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/JSON_DIFF" targetNamespace="http://www.agarcia.mx/JSON_DIFF" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="US-ASCII">
   <xsd:element name="body">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="replace" type="xsd:integer"/>
            <xsd:element name="diff_array" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="grupo_id" type="xsd:string"/>
                     <xsd:element name="grupo_value" type="xsd:string"/>
                     <xsd:element name="diff_tipo" type="xsd:string"/>
                     <xsd:element name="id" type="xsd:string"/>
                     <xsd:element name="value" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=C:\Users\JLOPEZZ\Documents\JSON_Diff_PRO.txt</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>