BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Termino/CalcularFechaVencimiento/XSD/CalcularFechaVencimiento_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/FENIX/SP_CALCULA_FECHA_VENCIMIENTO/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/FENIX/SP_CALCULA_FECHA_VENCIMIENTO/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_ID_OPERACION" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ID_ID_TCA_TERMINO" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="V_FECHA_INICIO" type="dateTime" db:index="3" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_LOGIN_MODIFICA" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_NOMBRE_MODIFICA" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RESUL" type="decimal" db:index="6" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
