BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioCliente/ConsultarOperacionesByIdCliente/XSD/ConsultarOperacionesByIdCliente.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarOperacionesByIdCliente" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarOperacionesByIdCliente" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarOperacionesByIdClienteInput" type="ConsultarOperacionesByIdClienteInput"/>
   <xs:complexType name="ConsultarOperacionesByIdClienteInput">
      <xs:sequence>
         <xs:element name="idCliente" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarOperacionesByIdClienteOutputCollection" type="ConsultarOperacionesByIdClienteOutputCollection"/>
   <xs:complexType name="ConsultarOperacionesByIdClienteOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarOperacionesByIdClienteOutput" type="ConsultarOperacionesByIdClienteOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarOperacionesByIdClienteOutput">
      <xs:sequence>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE" type="xs:string" nillable="true"/>
         <xs:element name="ID_CLIENTE" type="xs:decimal" nillable="true"/>
         <xs:element name="RAZON_SOCIAL" type="xs:string" nillable="true"/>
         <xs:element name="PAIS" type="xs:string" nillable="true"/>
         <xs:element name="ID_PRODUCTO" type="xs:decimal" nillable="true"/>
         <xs:element name="PRODUCTO" type="xs:string" nillable="true"/>
         <xs:element name="RESPONSABLE" type="xs:string" nillable="true"/>
         <xs:element name="ETAPA" type="xs:string" nillable="true"/>
         <xs:element name="ESTADO" type="xs:string" nillable="true"/>
         <xs:element name="SCR" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_SCR" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_SCR" type="xs:string" nillable="true"/>
         <xs:element name="ESTATUS_SCR" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_SCR" type="xs:string" nillable="true"/>
         <xs:element name="PERSPECTIVA" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_PERSPECTIVA" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_PERSPECTIVA" type="xs:string" nillable="true"/>
         <xs:element name="ESTATUS_PERSPECTIVA" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_PERSPECTIVA" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>