BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioDocumento/Documento/V1/Schema/DocumentoBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:docuBO="http://www.bcie.org/DocumentoBO"
            targetNamespace="http://www.bcie.org/DocumentoBO" elementFormDefault="qualified"
            xmlns:prodBO="http://www.bcie.org/ProductoBO"
            xmlns:operBO="http://www.bcie.org/OperacionBO"
            xmlns:cliBO="http://www.bcie.org/ClienteBO">
  
  <xsd:import schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd" namespace="http://www.bcie.org/OperacionBO"/>
  <xsd:import schemaLocation="../../../../DominioProducto/Producto/V1/Schema/ProductoBO.xsd" namespace="http://www.bcie.org/ProductoBO"/>
  <xsd:import schemaLocation="../../../../DominioCliente/Cliente/V1/Schema/ClienteBO.xsd" namespace="http://www.bcie.org/ClienteBO"/>
  <xsd:simpleType name="idDocumento">
     <xsd:restriction base="xsd:long">
       <xsd:minInclusive value="0"/>
     </xsd:restriction>
  </xsd:simpleType>
   
  <xsd:complexType name="ListaDocumentos">
    <xsd:sequence>
    <xsd:element name="Documento" type="docuBO:Documento" minOccurs="0" maxOccurs="unbounded"/>      
  </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="TipoDcoumento">
    <xsd:sequence>
      <xsd:element name="nombreTipoDocumento" type="xsd:string"/>
      <xsd:element name="documento" type="docuBO:Documento" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Etapa">
    <xsd:sequence>
      <xsd:element name="nombreEtapa" type="xsd:string"/>
      <xsd:element name="tipoDocumento" type="docuBO:TipoDcoumento" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="Documentos">
    <xsd:sequence>
      <xsd:element name="etapa" type="docuBO:Etapa" minOccurs="0" maxOccurs="unbounded"/>      
    </xsd:sequence>
  </xsd:complexType>
   
  <xsd:complexType name="ListaIdDocumento">
     <xsd:sequence>
       <xsd:element name="idDocumento" type="docuBO:idDocumento" minOccurs="0" />      
     </xsd:sequence>
  </xsd:complexType>
    
   <xsd:complexType name="Documento">
      <xsd:annotation>
        <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
        <xsd:documentation>Entidad Documento - (Modelo canónico)
          Se usa para el control, administración y comunicación
          con gestores documentales</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="idDocumento" type="docuBO:idDocumento" minOccurs="0"/>      
         <xsd:element name="idTipoDocumento" type="docuBO:idTipoDocumento" minOccurs="0"/>
         <xsd:element name="idTipoDocumentoExterno" type="docuBO:idTipoDocumentoExterno" minOccurs="0"/>
         <xsd:element name="nombreTipoDocumento" type="xsd:string" minOccurs="0"/>
         <xsd:element name="etapa" type="xsd:string" minOccurs="0"/>
         <xsd:element name="codigoDocumento" type="xsd:string" minOccurs="0"/>
         <xsd:element name="idExterno" type="xsd:long" minOccurs="0"/>
         <xsd:element name="idDocAreaTipo" type="xsd:long" minOccurs="0"/>
         <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0"/>
         <xsd:element name="idCliente" type="cliBO:idCliente" minOccurs="0"/>
         <xsd:element name="idProducto" minOccurs="0"/> 
         <!-- Relacion con el objeto Operacion -->
         <xsd:element name="idPais" type="xsd:string" minOccurs="0"/><!-- Para la búsqueda por País en OnBase -->         
         <xsd:element name="nombre" type="xsd:string" minOccurs="0"/> <!-- Nombre en OnBase-->
         <xsd:element name="filename" type="xsd:string" minOccurs="0"/> <!-- Nombre real del archivo -->         
         <xsd:element name="mime_type" type="xsd:string" minOccurs="0"/> <!-- mime type-->
         <xsd:element name="tamanio" type="xsd:long" minOccurs="0"/>
         <xsd:element name="idAdjunto" type="xsd:long" minOccurs="0"/>
         <xsd:element name="esJustificacion" minOccurs="0" type="xsd:boolean"/>
         <xsd:element name="comentario" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="250"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="fechaDocumento" type="xsd:dateTime" minOccurs="0"/>
         <xsd:element name="fechaRegistro" type="xsd:dateTime" minOccurs="0"/>
         <xsd:element name="status" minOccurs="0">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="1"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="estatusTipoDoc" type="xsd:decimal" minOccurs="0"/>
         <xsd:element name="codExtTipoDoc" type="xsd:string" minOccurs="0"/>
         <xsd:element name="tarea" type="xsd:string" minOccurs="0"/>
         <xsd:element name="idtarea" type="xsd:long" minOccurs="0"/>
         <xsd:element name="content" type="xsd:base64Binary" minOccurs="0"/>
         <xsd:element name="PuedeModificar" minOccurs="0" type="xsd:boolean"/>
         <xsd:element name="PuedeBorrar" minOccurs="0" type="xsd:boolean"/>
         <xsd:element name="usuarioAgrega" type="xsd:string" minOccurs="0"/>
         <xsd:element name="usuarioUltimaActualizacion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="accionARealizar" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="idFlujoNegocio" type="xsd:long" minOccurs="0"/>
      <xsd:element name="instanciaProceso" type="xsd:string"/>
    </xsd:sequence>
   </xsd:complexType>
   
   <xsd:simpleType name="idTipoDocumento">
      <xsd:restriction base="xsd:long">
        <xsd:minInclusive value="0"/>
      </xsd:restriction>
   </xsd:simpleType>

<xsd:simpleType name="idTipoDocumentoExterno">
      <xsd:restriction base="xsd:long">
        <xsd:minInclusive value="0"/>
      </xsd:restriction>
   </xsd:simpleType>
   
   <xsd:complexType name="TipoDocumento">
      <xsd:annotation>
        <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
        <xsd:documentation>Tipo de documento, calificativo para la entidad documento</xsd:documentation>
        <!-- Ver tabla TCA_DOCUMENTO -->
      </xsd:annotation>
      <xsd:sequence>
        <xsd:element name="idTipoDocumento" type="docuBO:idTipoDocumento"/>
        <xsd:element name="descripcion" type="xsd:string"/>
        <xsd:element name="idGrupoExterno" type="xsd:int"/> <!-- Id grupo onbase -->
        <xsd:element name="idTipoExterno" type="xsd:int"/> <!-- id tipo onbase -->
        <xsd:element name="estado" type="xsd:string"/>
        <xsd:element name="fechaRegistro" type="xsd:date"/>
        <xsd:element name="descripcion" type="xsd:string"/>
        <xsd:element name="codigoExterno" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
