BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioProducto/ConsultarCatProducto/XSD/ConsultarCatProducto.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarCatProducto" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarCatProducto" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarCatProductoInput" type="ConsultarCatProductoInput"/>
   <xs:complexType name="ConsultarCatProductoInput">
      <xs:sequence>
         <xs:element name="RequiereLAFT" type="xs:decimal" nillable="true"/>
         <xs:element name="OficRealizaAnalisisLAFT" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarCatProductoOutputCollection" type="ConsultarCatProductoOutputCollection"/>
   <xs:complexType name="ConsultarCatProductoOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarCatProductoOutput" type="ConsultarCatProductoOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarCatProductoOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>