AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Applications/RetailMerchandising/IGS/VendorPublishingService/Schema/XMLSchema_-2059712604.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://www.oracle.com/retail/integration/base/bo/VendorAddrDesc/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.oracle.com/retail/integration/base/bo/VendorAddrDesc/v1" elementFormDefault="qualified"><xsd:element name="VendorAddrDesc"><xsd:complexType><xsd:sequence><xsd:element name="module" type="xsd:string"/><xsd:element name="key_value_1" type="xsd:string"/><xsd:element name="key_value_2" type="xsd:string" minOccurs="0"/><xsd:element name="seq_no" type="xsd:int"/><xsd:element name="addr_type" type="xsd:string"/><xsd:element name="primary_addr_ind" type="xsd:string"/><xsd:element name="add_1" type="xsd:string"/><xsd:element name="add_2" type="xsd:string" minOccurs="0"/><xsd:element name="add_3" type="xsd:string" minOccurs="0"/><xsd:element name="city" type="xsd:string"/><xsd:element name="city_id" type="xsd:string" minOccurs="0"/><xsd:element name="state" type="xsd:string" minOccurs="0"/><xsd:element name="country_id" type="xsd:string"/><xsd:element name="jurisdiction_code" type="xsd:string" minOccurs="0"/><xsd:element name="post" type="xsd:string" minOccurs="0"/><xsd:element name="contact_name" type="xsd:string" minOccurs="0"/><xsd:element name="contact_phone" type="xsd:string" minOccurs="0"/><xsd:element name="contact_telex" type="xsd:string" minOccurs="0"/><xsd:element name="contact_fax" type="xsd:string" minOccurs="0"/><xsd:element name="contact_email" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>