BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/CrearActualizarClienteProceso/V1/Schema/CrearActualizarClienteProcesoMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/CrearActualizarClienteProcesoMO"
            targetNamespace="http://www.bcie.org/CrearActualizarClienteProcesoMO" elementFormDefault="qualified"
            xmlns:cliProBO="http://www.bcie.org/CrearActualizarClienteProcesoBO"
            xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import namespace="http://www.bcie.org/CrearActualizarClienteProcesoBO"
              schemaLocation="CrearActualizarClienteProcesoBO.xsd"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="CrearActualizarClienteProcesoRequest" type="CrearActualizarClienteProcesoRequestType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CrearActualizarClienteProcesoResponse" type="CrearActualizarClienteProcesoResponseType"/>
  <xsd:complexType name="CrearActualizarClienteProcesoRequestType">
    <xsd:sequence>
      <xsd:element name="ClienteProceso" type="cliProBO:ClienteProceso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarClienteProcesoResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
