AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Capabilities/Support/Commons/ItemCatalogEntitySvc/Schema/findConceptSchema.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://mx.agarcia.ea/Capabilities/Support/ItemCatalogEntitySvc/Schema" xmlns="http://mx.agarcia.ea/Capabilities/Support/ItemCatalogEntitySvc/Schema" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
 
	<xs:element name="findConceptRequest" type="FindConceptRequest"/>
	<xs:element name="findConceptResponse" type="FindConceptResponse"/>


	<xs:complexType name="FindConceptRequest">
		<xs:sequence>
         <xs:element name="furnishingId" type="xs:string" minOccurs="1" maxOccurs="1"/>
         <xs:element name="expirationId" type="xs:string" minOccurs="1" maxOccurs="1"/>

		</xs:sequence>
	</xs:complexType>
        
        <xs:complexType name="FindConceptResponse"> 
		<xs:sequence>
         <xs:element name="catalogType" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>



</xs:schema>