BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Termino/CrearTreContrapartesTermino/XSD/ConsultarContrapartesTermino_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarContrapartesTermino_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarContrapartesTermino_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarContrapartesTermino_DBInput" type="ConsultarContrapartesTermino_DBInput"/>
   <xs:complexType name="ConsultarContrapartesTermino_DBInput">
      <xs:sequence>
         <xs:element name="idTermino" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarContrapartesTermino_DBOutputCollection" type="ConsultarContrapartesTermino_DBOutputCollection"/>
   <xs:complexType name="ConsultarContrapartesTermino_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarContrapartesTermino_DBOutput" type="ConsultarContrapartesTermino_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarContrapartesTermino_DBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_TERMINO" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>