AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/DownloadOrderAPP/Resources/ArchEdiRMS.wsdl

<wsdl:definitions name="ArchEdiRMS" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/DownloadOrderServiceAPP/DownloadOrderAPP/ArchEdiRMS" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/ftp/DownloadOrderServiceAPP/DownloadOrderAPP/ArchEdiRMS" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:imp1="http://www.agarcia.mx/EnterpriseObjects/FtpDownloadOrder">
  <plt:partnerLinkType name="SynchRead_plt">
    <plt:role name="SynchRead_role">
      <plt:portType name="tns:SynchRead_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/DownloadOrderServiceAPP/DownloadOrderAPP/ArchEdiRMS" xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://www.agarcia.mx/EnterpriseObjects/FtpDownloadOrder" schemaLocation="../DownloadOrderService/Resources/FileArch.xsd"/>
      <element name="empty"><complexType/></element>
      </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:message name="SynchRead_msg">
        <wsdl:part name="body" element="imp1:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="SynchRead_ptt">
        <wsdl:operation name="SynchRead">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:SynchRead_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>