BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/DominioContrato/Contrato/V1/Schema/ContratoBO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/ContratoBO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ContratoBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:conBO="http://www.bcie.org/CondicionBO" xmlns:terBO="http://www.bcie.org/TerminoBO" xmlns:comBO="http://www.bcie.org/ComisionBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO">
	<xsd:import namespace="http://www.bcie.org/TerminoBO" schemaLocation="../../../Termino/V1/Schema/TerminoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/CondicionBO" schemaLocation="../../../Condicion/V1/Schema/CondicionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ComisionBO" schemaLocation="../../../../DominioLineaCredito/Comision/V1/Schema/ComisionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/LineaCreditoBO" schemaLocation="../../../../DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"/>
	<xsd:complexType name="Contrato">
		<xsd:sequence>
			<xsd:element name="idContrato" type="xsd:int"/>
			<xsd:element name="idOperacion" type="operBO:idOperacion"/>
			<xsd:element name="fechaFirma" type="xsd:date"/>
			<xsd:element name="fechaVigencia" type="xsd:date"/>
                        <xsd:element name="idTipoMonedaMontoEscriturado" type="xsd:integer" minOccurs="0"/>
			<xsd:element name="MontoEscriturado" type="xsd:decimal"/>
			<xsd:element name="diaPago" type="xsd:integer"/>
			<xsd:element name="cuentaCliente" type="Cuentas"/>
			<xsd:element name="instanciaProceso" type="xsd:string"/>
                        <xsd:element name="fechaValor" type="xsd:date" minOccurs="0"/>
			<xsd:element name="LineaCredito" type="linCreBO:LineaCredito" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Cuentas">
		<xsd:sequence>
			<xsd:element name="cuentaCliente" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>