AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/CommonTranslationAPP/GetHierarchy/Resources/WSDLs/RMStoJdaWs.wsdl

<wsdl:definitions name="RMStoJdaWs" targetNamespace="http://xmlns.oracle.com/ServiceBusApplication/CommonTranslationAPP/RMStoJdaWs" xmlns:tns="http://xmlns.oracle.com/ServiceBusApplication/CommonTranslationAPP/RMStoJdaWs" xmlns:inp1="http://xmlns.oracle.com/pcbpel/adapter/db/top/GetHierarchyDB" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/GetHierarchyDB" schemaLocation="../../../Resources/InputQuery.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestMessage">
        <wsdl:part name="part1" element="inp1:GetFullHierarchyDBInputParameters"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part1" element="inp1:MdmMerchandhierarTranslationsCollection"/>
    </wsdl:message>
    
    <!--FullQuery-->
    <wsdl:message name="requestMessageFull">
        <wsdl:part name="part1" element="inp1:GetFullHierarchyDBInputParameters"/>
    </wsdl:message>
    <wsdl:message name="replyMessageFull">
        <wsdl:part name="part1" element="inp1:MdmMerchandhierarTranslationsCollection"/>
    </wsdl:message>
    
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="execute">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="executeFull">
            <wsdl:input message="tns:requestMessageFull"/>
            <wsdl:output message="tns:replyMessageFull"/>
        </wsdl:operation>
        
    </wsdl:portType>
    
    <wsdl:binding name="execute_bind" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="execute">
            <soap:operation style="document" soapAction="execute"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/CommonTranslationAPP/RMStoJdaWs"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/CommonTranslationAPP/RMStoJdaWs"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="executeFull">
            <soap:operation style="document" soapAction="executeFull"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/CommonTranslationAPP/RMStoJdaWs"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/CommonTranslationAPP/RMStoJdaWs"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
</wsdl:definitions>