BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioSeguridad/ut_k_security/obtienePermisosUsuario/XSD/obtienePermisosUsuario_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/obtienePermisosUsuario" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/obtienePermisosUsuario" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PVUSER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PVAPPLICATION" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PVWINDOW" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PVCONTROL" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="PVCODIGO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PVMENSAJE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PLPERMISOS" type="db:OBJSEC.LIST_PERMISO_TYPE" db:index="7" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="OBJSEC.LIST_PERMISO_TYPE">
      <sequence>
         <element name="PLPERMISOS_ITEM" type="db:OBJSEC.PERMISO_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="OBJSEC.PERMISO_TYPE">
      <sequence>
         <element name="APLICACION" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ROL" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VENTANA" type="db:string64" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONTROL" type="db:string128" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPCION" type="db:string254" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string64">
      <restriction base="string">
         <maxLength value="64"/>
      </restriction>
   </simpleType>
   <simpleType name="string128">
      <restriction base="string">
         <maxLength value="128"/>
      </restriction>
   </simpleType>
   <simpleType name="string254">
      <restriction base="string">
         <maxLength value="254"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
</schema>