BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/DominioDocumento/Documento/V1/Schema/DocumentoMO.xsd

<?xml version="1.0" encoding="windows-1252"?>
<!-- edited with XMLSpy v2015 sp1 (x64) (http://www.altova.com) by Cesar Varela (Television Internacional) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:docMO="http://www.bcie.org/DocumentoMO" xmlns:docuBO="http://www.bcie.org/DocumentoBO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:cliBO="http://www.bcie.org/ClienteBO" targetNamespace="http://www.bcie.org/DocumentoMO" elementFormDefault="qualified">
	<xsd:import namespace="http://www.bcie.org/DocumentoBO" schemaLocation="DocumentoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="../../../../DominioCliente/Cliente/V1/Schema/ClienteBO.xsd"/>
	<!-- Mensajes -->
	<xsd:element name="CargarDocumentoRequest" type="docMO:CargarDocumentoRequestType"/>
	<xsd:element name="CargarDocumentoResponse" type="docMO:CargarDocumentoResponseType"/>
	<xsd:element name="CargarDocumentoOnBaseRequest" type="docMO:CargarDocumentoOnBaseRequestType"/>
	<xsd:element name="CargarDocumentoOnBaseResponse" type="docMO:CargarDocumentoOnBaseResponseType"/>
	<xsd:element name="ModificarDocumentoOnBaseRequest" type="docMO:ModificarDocumentoOnBaseRequestType"/>
	<xsd:element name="ModificarDocumentoOnBaseResponse" type="docMO:ModificarDocumentoOnBaseResponseType"/>
	<xsd:element name="ConsultarAdjuntoByIdAdjuntoRequest" type="docMO:ConsultarAdjuntoByIdAdjuntoRequestType"/>
	<xsd:element name="ConsultarAdjuntoByIdAdjuntoResponse" type="docMO:ConsultarAdjuntoByIdAdjuntoResponseType"/>
	<xsd:element name="ConsultaDocumentosRequest" type="docMO:ConsultaDocumentosRequestType"/>
	<xsd:element name="ConsultaDocumentosResponse" type="docMO:ConsultaDocumentosResponseType"/>
	<xsd:element name="ActualizarAccionDocumentoRequest" type="docMO:ActualizarAccionDocumentoRequestType"/>
	<xsd:element name="ActualizarAccionDocumentoResponse" type="docMO:ActualizarAccionDocumentoResponseType"/>
	<xsd:element name="ActualizarDocumentoRequest" type="docMO:ActualizarDocumentoRequestType"/>
	<xsd:element name="ActualizarDocumentoResponse" type="docMO:ActualizarDocumentoResponseType"/>
	<xsd:element name="EliminarDocumentoOnBaseRequest" type="docMO:EliminarDocumentoOnBaseRequestType"/>
	<xsd:element name="EliminarDocumentoOnBaseResponse" type="docMO:EliminarDocumentoOnBaseResponseType"/>
	<xsd:element name="ActualizarAdjuntoRequest" type="docMO:ActualizarAdjuntoRequestType"/>
	<xsd:element name="ActualizarAdjuntoResponse" type="docMO:ActualizarAdjuntoResponseType"/>
	<xsd:element name="ObtenerDocumentoOnBaseRequest" type="docMO:ObtenerDocumentoOnBaseRequestType"/>
	<xsd:element name="ObtenerDocumentoOnBaseResponse" type="docMO:ObtenerDocumentoOnBaseResponseType"/>
	<xsd:element name="CargarDocumentoFenixRequest" type="docMO:CargarDocumentoRequestType"/>
	<xsd:element name="CargarDocumentoFenixResponse" type="docMO:CargarDocumentoFenixResponseType"/>
 <xsd:element name="ConsultarDocumentosFenixRequest" type="docMO:ConsultarDocumentosFenixRequestType"/>
 <xsd:element name="ConsultarDocumentosFenixResponse" type="docMO:ConultarDocumentosFenixResponseType"/>
 <xsd:element name="EliminarDocumentoFenixRequest" type="docMO:EliminarDocumentoFenixRequestType"/>
 <xsd:element name="EliminarDocumentoFenixResponse" type="docMO:EliminarDocumentoFenixResponseType"/>
 <xsd:element name="ConvertirDocumentoRequest" type="docMO:ConvertirDocumentoRequestType"/>
 <xsd:element name="ConvertirDocumentoResponse" type="docMO:ConvertirDocumentoResponseType"/>
  <xsd:element name="EliminarDocumentosFenixRequest" type="docMO:EliminarDocumentosFenixRequestType"/>
 <xsd:element name="EliminarDocumentosFenixResponse" type="docMO:EliminarDocumentosFenixResponseType"/>
 <xsd:element name="ObtenerDocumentoRequest" type="docMO:ObtenerDocumentoRequestType"/>
 <xsd:element name="ObtenerDocumentoResponse" type="docMO:ObtenerDocumentoResponseType"/>
 <xsd:complexType name="CargarDocumentoRequestType">
		<xsd:sequence>
			<xsd:element name="Documentos" type="docuBO:ListaDocumentos" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CargarDocumentoResponseType">
		<xsd:sequence>
			<xsd:element name="Documentos" type="docuBO:ListaDocumentos" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CargarDocumentoOnBaseRequestType">
		<xsd:sequence>
			<xsd:element name="Documentos" type="docuBO:ListaDocumentos" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Cliente" type="cliBO:Cliente" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CargarDocumentoOnBaseResponseType">
		<xsd:sequence>
			<xsd:element name="Documentos" type="docuBO:ListaDocumentos" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ModificarDocumentoOnBaseRequestType">
		<xsd:sequence>
			<xsd:element name="Documentos" type="docuBO:ListaDocumentos" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Cliente" type="cliBO:Cliente" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ModificarDocumentoOnBaseResponseType">
		<xsd:sequence>
			<xsd:element name="Documentos" type="docuBO:ListaDocumentos" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarAdjuntoByIdAdjuntoRequestType">
		<xsd:annotation/>
		<xsd:sequence>
			<xsd:element name="idAdjunto" type="docuBO:idDocumento" minOccurs="0" maxOccurs="1"/>
			<!-- Cambiar por el id de la operación del Operacion.xml -->
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarAdjuntoByIdAdjuntoResponseType">
		<xsd:sequence>
			<xsd:element name="Documento" type="docuBO:Documento" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Cliente" type="cliBO:Cliente" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultaDocumentosRequestType">
		<xsd:sequence>
			<xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="idCliente" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="tipoDocumento" type="xsd:int" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="idTarea" type="xsd:int" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="idFlujoNegocio" type="xsd:long" minOccurs="0" maxOccurs="1"/>
                        <xsd:element name="instanciaProceso" type="xsd:string" minOccurs="0" maxOccurs="1"/>
  </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultaDocumentosResponseType">
		<xsd:sequence>
			<xsd:element name="Documentos" type="docuBO:Documentos" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarAccionDocumentoRequestType">
		<xsd:sequence>
			<xsd:element name="idDocumento" type="docuBO:idDocumento" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="idAccionDocumento" type="xsd:int" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarAccionDocumentoResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarDocumentoRequestType">
		<xsd:sequence>
			<xsd:element name="Documento" type="docuBO:Documento" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarDocumentoResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarDocumentoOnBaseRequestType">
		<xsd:sequence>
			<xsd:element name="idDocumento" type="docuBO:idDocumento" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarDocumentoOnBaseResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarAdjuntoRequestType">
		<xsd:sequence>
			<xsd:element name="Documento" type="docuBO:Documento" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarAdjuntoResponseType">
		<xsd:sequence>
			<xsd:element name="Documento" type="docuBO:Documento" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObtenerDocumentoOnBaseRequestType">
		<xsd:sequence>
			<xsd:element name="idExterno" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="tipoArchivo" type="xsd:string" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ObtenerDocumentoOnBaseResponseType">
		<xsd:sequence>
			<xsd:element name="codigo" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="documentoOnBase" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CargarDocumentoFenixRequestType">
		<xsd:sequence>
			<xsd:element name="Documento" type="docuBO:Documento"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CargarDocumentoFenixResponseType">
		<xsd:sequence>
			<xsd:element name="Adjunto" type="xsd:int"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
 <xsd:complexType name="ConsultarDocumentosFenixRequestType">
  <xsd:sequence>
   <xsd:element name="idCliente" type="cliBO:idCliente" minOccurs="0"/>
   <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0"/>
   <xsd:element name="Content" type="xsd:boolean"/>
   <xsd:element name="idFlujo" type="xsd:long" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConultarDocumentosFenixResponseType">
  <xsd:sequence>
   <xsd:element name="Documento" type="docuBO:Documento" minOccurs="0" maxOccurs="unbounded"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="EliminarDocumentoFenixRequestType">
  <xsd:sequence>
   <xsd:element name="idAdjunto" type="xsd:long" minOccurs="0" maxOccurs="unbounded"  />
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="EliminarDocumentoFenixResponseType">
  <xsd:sequence>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConvertirDocumentoRequestType">
  <xsd:sequence>
   <xsd:element name="TipoDocumento" type="docuBO:TipoDcoumento"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConvertirDocumentoResponseType">
  <xsd:sequence>
   <xsd:element name="Documento" type="docuBO:Documento"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="EliminarDocumentosFenixRequestType">
  <xsd:sequence>
   <xsd:element name="idCliente" type="cliBO:idCliente" minOccurs="0"/>
   <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0"/>
   <xsd:element name="idFlujoNegocio" type="xsd:long"/>
   <xsd:element name="tarea" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="EliminarDocumentosFenixResponseType">
  <xsd:sequence>
   <xsd:element name="resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ObtenerDocumentoRequestType">
  <xsd:sequence>
   <xsd:element name="idAdjunto" type="xsd:long"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ObtenerDocumentoResponseType">
  <xsd:sequence>
   <xsd:element name="codigoDocumento" type="xsd:string"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>
