BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PC06/EvaluacionProcess.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionProcess"
            targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionProcess"
            xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
            elementFormDefault="qualified">

      <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
                  schemaLocation="../Comun/Header/V1/HeaderOPN.xsd"/>

      <xsd:element name="InicioEvaluacion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Header" type="tns6:Header"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FinEvaluacion">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Header" type="tns6:Header"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>
