BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PC04/AprobacionPayload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:aprobacion="http://xmlns.bcie.org/ObjetoProceso/Aprobacion/Payload/V1"
           xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
           targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Aprobacion/Payload/V1" elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">
           
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
             schemaLocation="../../Schema/Comun/Header/V1/HeaderOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
             schemaLocation="../../Schema/Comun/Parameter/V1/ParameterOPN.xsd"/>
             
    <xs:element name="AprobacionPayload" type="aprobacion:AprobacionPayloadType">
    <xs:annotation>
      <xs:documentation>Elemento que define los campos de entrada para el proceso de Aprobación</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="AprobacionErrorPayload" type="aprobacion:AprobacionErrorPayloadType">
    <xs:annotation>
      <xs:documentation>Elemento que define los campos de entrada para el manejo de errores del proceso de Aprobacion</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="AprobacionPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="Configuration" type="aprobacion:ConfigurationType"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoPayload" type="aprobacion:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoEjecucionPayload" type="aprobacion:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoSolicitudPayload" type="aprobacion:EquipoSolicitudType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="operacion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdTipoAprobacion" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdRequerimiento" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdSolicitud" type="xs:int" minOccurs="0" maxOccurs="1"/>
	</xs:sequence>
  </xs:complexType>
          
  <xs:complexType name="AprobacionErrorPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="Configuration" type="aprobacion:ConfigurationType"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoPayload" type="aprobacion:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoEjecucionPayload" type="aprobacion:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoSolicitudPayload" type="aprobacion:EquipoSolicitudType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="operacion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdTipoAprobacion" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdRequerimiento" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdSolicitud" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="EquipoType">
    <xs:sequence>
          <xs:element name="SecretarioCC" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="Abogado" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="SecretarioGeneral" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="AsistentePresidencia" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="AnalistaCredito" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="AnalistaAED" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>	
  </xs:complexType>
  
  <xs:complexType name="ConfigurationType">
    <xs:sequence>
      <xs:element name="requiereAED" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requiereASJUR" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="continuaProceso" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="enmiendaAprobada" type="xs:boolean" minOccurs="0" maxOccurs="1"/>      
      <xs:element name="retorno" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requiereFormalizacion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="reunionPresencial" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="idNivelAprobacion" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="idAprobador" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
    
  <xs:complexType name="EquipoSolicitudType">
      <xs:sequence>
          <xs:element name="ResponsableOperacion" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="AnalistaCredito" type="xs:string" minOccurs="0" maxOccurs="1"/>
          <xs:element name="AnalistaSeguimiento" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
  </xs:complexType>
</xs:schema>
