BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioContrato/Condicion/V2/Schema/CondicionMOV2.xsd

<xsd:schema targetNamespace="http://www.bcie.org/CondicionMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:conMO="http://www.bcie.org/CondicionMO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:conBO="http://www.bcie.org/CondicionBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:docBO="http://www.bcie.org/DocumentoBO">
  <xsd:import schemaLocation="../../V1/Schema/CondicionBO.xsd" namespace="http://www.bcie.org/CondicionBO"/>
  <xsd:import schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd" namespace="http://www.bcie.org/OperacionBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:import schemaLocation="../../../../DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoMO.xsd" namespace="http://www.bcie.org/LineaCreditoMO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd" namespace="http://www.bcie.org/CatalogoBO"/>
  <xsd:import schemaLocation="../../../../DominioDocumento/Documento/V1/Schema/DocumentoBO.xsd" namespace="http://www.bcie.org/DocumentoBO"/>
  
<!-- Mensajes -->

   <xsd:element name="ConsultarCondicionValidacionByRolRequest" type="conMO:ConsultarCondicionValidacionByRolRequestV2Type"/>
  <xsd:element name="ConsultarCondicionValidacionByRolResponse" type="conMO:ConsultarCondicionValidacionByRolResponseType"/>
 
  
    <xsd:complexType name="ConsultarCondicionValidacionByRolRequestV2Type">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idRol" type="xsd:long"/>
      <xsd:element name="agrupador" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionValidacionByRolResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conMO:CondicionType" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CondicionType">
    <xsd:sequence>
       <xsd:element name="Condicion" type="conBO:Condicion"/>
              <xsd:element name="ValidacionCondicion" type="conBO:ValidacionCondicion" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>