BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/CrearBitacoraReactivarOperacion/XSD/ConsultarProcesosBPMByIdOperacion_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarProcesosBPMByIdOperacion_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarProcesosBPMByIdOperacion_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarProcesosBPMByIdOperacion_DBInput" type="ConsultarProcesosBPMByIdOperacion_DBInput"/>
   <xs:complexType name="ConsultarProcesosBPMByIdOperacion_DBInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:long" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarProcesosBPMByIdOperacion_DBOutputCollection" type="ConsultarProcesosBPMByIdOperacion_DBOutputCollection"/>
   <xs:complexType name="ConsultarProcesosBPMByIdOperacion_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarProcesosBPMByIdOperacion_DBOutput" type="ConsultarProcesosBPMByIdOperacion_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarProcesosBPMByIdOperacion_DBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_PROCESO" type="xs:decimal" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>