Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/CardCr/CardCrCashAdd/CardCrCashAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/CardCrCashAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptCardCrCashAdd="http://xmlns.banesco.com/eopt/CardCrCashAdd_V1.0" xmlns:eoBank="http://xmlns.banesco.com/eo/Banking_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoPmt="http://xmlns.banesco.com/eo/Pmt_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Pmt_V1.0" schemaLocation="../../../EO/Pmt/Pmt_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Banking_V1.0" schemaLocation="../../../EO/Banking/Banking_V1.0.xsd"/>
	<xs:element name="CardCrCashAddRs" type="eoptCardCrCashAdd:CardCrCashAddRs_Type"/>
	<xs:complexType name="CardCrCashAddRs_Type">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="FIData" type="eoBank:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Pmt" type="eoPmt:Pmt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardCrCashAddRq" type="eoptCardCrCashAdd:CardCrCashAddRq_Type"/>
	<xs:complexType name="CardCrCashAddRq_Type">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="FIData" type="eoBank:FIData" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Pmt" type="eoPmt:Pmt" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
