BCIE_fenix/preprod/SOA/03-SOA-SERVICES/DominioOperacion/AdquisicionesWeb/SOA/Schemas/AdquisicionMO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/AdquisicionMO" targetNamespace="http://www.bcie.org/AdquisicionMO" elementFormDefault="qualified" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:adqBO="http://www.bcie.org/AdquisicionBO" xmlns:docuBO="http://www.bcie.org/DocumentoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO">
   <xsd:import schemaLocation="ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
   <xsd:import schemaLocation="AdquisicionBO.xsd" namespace="http://www.bcie.org/AdquisicionBO"/>
   <xsd:import namespace="http://www.bcie.org/DocumentoBO" schemaLocation="DocumentoBO.xsd"/>
   <xsd:import schemaLocation="CatalogoBO.xsd" namespace="http://www.bcie.org/CatalogoBO"/>
   <xsd:element name="ConsultarAdquisicionRequest" type="ConsultarAdquisicionRequestType"/>
   <xsd:element name="ConsultarAdquisicionResponse" type="ConsultarAdquisicionResponseType"/>
   <xsd:element name="ConsultarNoObjecionRequest" type="ConsultarNoObjecionRequestType"/>
   <xsd:element name="ConsultarNoObjecionResponse" type="ConsultarNoObjecionResponseType"/>
   <xsd:element name="CrearReporteNoObjecionRequest" type="CrearReporteNoObjecionRequestType"/>
   <xsd:element name="CrearReporteNoObjecionResponse" type="CrearReporteNoObjecionResponseType"/>
   <xsd:element name="InformeNoObjecionRequest" type="InformeNoObjecionRequestType"/>
   <xsd:element name="InformeNoObjecionResponse" type="InformeNoObjecionResponseType"/>
   <xsd:element name="ConsultarParticipantesByIdNoObjecionRequest" type="ConsultarParticipantesByIdNoObjecionRequestType"/>
   <xsd:element name="ConsultarParticipantesByIdNoObjecionResponse" type="ConsultarParticipantesByIdNoObjecionResponseType"/>
   <xsd:element name="PublicarAviso" type="AvisoType"/>
   <xsd:element name="PublicarInformeResultadosAdjudicado" type="InformeResultadosAdjudicadoType"/>
   <xsd:element name="PublicarInformeResultadosOtros" type="InformeResultadosOtrosType"/>
   <xsd:element name="CrearActualizarNoObjecionRequest" type="CrearActualizarNoObjecionRequestType"/>
   <xsd:element name="CrearActualizarNoObjecionResponse" type="CrearActualizarNoObjecionResponseType"/>
   <xsd:complexType name="ConsultarAdquisicionRequestType">
      <xsd:sequence>
         <xsd:element name="idAdquisicion" type="xsd:long"/>
         <xsd:element name="idNoObjecion" type="xsd:long" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarAdquisicionResponseType">
      <xsd:sequence>
         <xsd:element name="Adquisicion" type="adqBO:AdquisicionType"/>
         <xsd:element name="Resultado" type="resBO:Resultado"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarNoObjecionRequestType">
      <xsd:sequence>
         <xsd:element name="idNoObjecion" type="xsd:long" minOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarNoObjecionResponseType">
      <xsd:sequence>
         <xsd:element name="NoObjecion" type="adqBO:NoObjecionType" minOccurs="0" maxOccurs="unbounded"/>
         <xsd:element name="Resultado" type="resBO:Resultado"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CrearReporteNoObjecionRequestType">
      <xsd:sequence>
         <xsd:element name="Adquisicion" type="adqBO:AdquisicionType"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CrearReporteNoObjecionResponseType">
      <xsd:sequence>
         <xsd:element name="Documento" type="docuBO:Documento" minOccurs="0"/>
         <xsd:element name="Resultado" type="resBO:Resultado"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="InformeNoObjecionRequestType">
      <xsd:sequence>
         <xsd:element name="requierePublicacion" type="xsd:int"/>
         <xsd:element name="idAdquisicion" type="xsd:long"/>
         <xsd:element name="idNoObjecion" type="xsd:long"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="InformeNoObjecionResponseType">
      <xsd:sequence>
         <xsd:element name="documento" type="docuBO:Documento" minOccurs="0"/>
         <xsd:element name="Resultado" type="resBO:Resultado"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarParticipantesByIdNoObjecionRequestType">
      <xsd:sequence>
         <xsd:element name="idNoObjecion" type="xsd:long"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarParticipantesByIdNoObjecionResponseType">
      <xsd:sequence>
         <xsd:element name="rol" type="catBO:Catalogo" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="AvisoType">
      <xsd:complexContent>
         <xsd:extension base="adqBO:HeaderPublicacionType">
            <xsd:sequence>
               <xsd:element name="nombreOrganismoEjecutor" type="xsd:string"/>
               <xsd:element name="objetivo" type="xsd:string"/>
               <xsd:element name="lugarOnBase" type="xsd:string"/>
               <xsd:element name="fechaInicioOnBase" type="xsd:date"/>
               <xsd:element name="fechaFinOnBase" type="xsd:date"/>
               <xsd:element name="direccionElectronica" type="xsd:string"/>
               <xsd:element name="fechaRecepcionPropuesta" type="xsd:date"/>
               <xsd:element name="direccionPresentarPropuesta" type="xsd:string"/>
               <xsd:element name="fechaPublicacion" type="xsd:date"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="InformeResultadosAdjudicadoType">
      <xsd:complexContent>
         <xsd:extension base="adqBO:HeaderPublicacionType">
            <xsd:sequence>
               <xsd:element name="resultadoProceso" type="xsd:string"/>
               <xsd:element name="adjudicados" type="adqBO:AdjudicadoType" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="InformeResultadosOtrosType">
      <xsd:complexContent>
         <xsd:extension base="adqBO:HeaderPublicacionType">
            <xsd:sequence>
               <xsd:element name="resultadoProceso" type="xsd:string"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="CrearActualizarNoObjecionRequestType">
      <xsd:sequence>
         <xsd:element name="NoObjecion" type="adqBO:NoObjecionType"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CrearActualizarNoObjecionResponseType">
      <xsd:sequence>
         <xsd:element name="Resultado" type="resBO:Resultado"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
