BCIE_fenix/preprod/SOA/03-SOA-SERVICES/DominioOperacion/AdquisicionesWeb/SOA/Schemas/OperacionBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:conBO="http://www.bcie.org/ContratoBO" xmlns:prodBO="http://www.bcie.org/ProductoBO" xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:cuesBO="http://www.bcie.org/CuestionarioBO" xmlns:decJurBO="http://www.bcie.org/DeclaracionJuradaBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:desBO="http://www.bcie.org/DesembolsoBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" targetNamespace="http://www.bcie.org/OperacionBO" elementFormDefault="qualified">
   <xsd:import namespace="http://www.bcie.org/ProductoBO" schemaLocation="ProductoBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/LineaCreditoBO" schemaLocation="LineaCreditoBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="ClienteBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="CatalogoBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/DeclaracionJuradaBO" schemaLocation="DeclaracionJuradaBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/ContratoBO" schemaLocation="ContratoBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/DesembolsoBO" schemaLocation="DesembolsoBO.xsd"/>
   <xsd:simpleType name="idOperacion">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:totalDigits value="12"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="Cuestionario">
      <xsd:restriction base="xsd:base64Binary"/>
   </xsd:simpleType>
   <xsd:complexType name="OperacionBasicType">
      <xsd:sequence>
         <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="responsable" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="20"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="oficina" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="40"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="nombre" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="105"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="OperacionExtendentType">
      <xsd:complexContent>
         <xsd:extension base="operBO:OperacionBasicType">
            <xsd:sequence>
               <xsd:element name="cliente" type="cliBO:Cliente" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="producto" type="prodBO:Producto" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="descripcion" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="250"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="actividadEconomica" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="actividadEconomicaAsociada" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="objetivosEstrategicos" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:int">
                        <xsd:totalDigits value="5"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="areaFocalizacion" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="ejeEstrategico" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="iniciativaEstrategica" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="cantidadPaises" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="sectorMercado" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="fechaInicio" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="programadoPOA" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="ejercicioPOA" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="tipoGarantia" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="componenteConcesionalidad" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="estructurador" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="60"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="beneficiario" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="60"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="unidadEjecutora" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="60"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="programa" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="60"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="asociadas" type="operBO:AsociadasOperaciones" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="declaracionJurada" type="decJurBO:DeclaracionJurada" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="masInformacionRiesgo" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="informacionAdicionalRiesgo" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1000"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="masInformacionJuridico" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="informacionAdicionalJuridico" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1000"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="contrapartesProhibidas" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="comentarioContrapartes" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1000"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="limitesAnalisis" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:int">
                        <xsd:totalDigits value="5"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="limitesDeterminar" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:int"/>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="etapa" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:int">
                        <xsd:totalDigits value="5"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="status" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="fechaBaja" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="comentarioLaft" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1000"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="cumpleLaft" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="calificacionRiesgo" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="perspectiva" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="estado" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="lineaCredito" type="xsd:string" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="SRC" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="RAROC" type="xsd:float" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="TIR" type="xsd:float" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="TIREstatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="requiereRecursosExternos" type="xsd:int" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="enProcesoLaft" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="aplicaLaft" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
               <xsd:element name="montoOperacion" type="operBO:MontosOperacion"/>
               <xsd:element name="justificacionCancela" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1000"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="observacionCancela" minOccurs="0" maxOccurs="1">
                  <xsd:simpleType>
                     <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1000"/>
                     </xsd:restriction>
                  </xsd:simpleType>
               </xsd:element>
               <xsd:element name="justificacionEnvio" type="xsd:string" minOccurs="0"/>
               <xsd:element name="Factibilidad" type="operBO:Factibilidad" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="Operacion">
      <xsd:complexContent>
         <xsd:extension base="operBO:OperacionExtendentType">
            <xsd:sequence>
               <xsd:element name="contrato" type="conBO:Contrato" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
   <xsd:complexType name="AsociadasOperaciones">
      <xsd:annotation>
         <xsd:documentation>Tipo de dato para las operaciones asociadas</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element name="Operacion" type="operBO:idOperacion" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="PreguntaCuestionario">
      <xsd:sequence>
         <xsd:element name="idPregunta" type="xsd:ID" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Pregunta" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Responsable" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MontoOperacion">
      <xsd:sequence>
         <xsd:element name="id" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="IdTcaTipoMonto" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="monto" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
               <xsd:restriction base="xsd:decimal">
                  <xsd:totalDigits value="14"/>
                  <xsd:fractionDigits value="2"/>
               </xsd:restriction>
            </xsd:simpleType>
         </xsd:element>
         <xsd:element name="Descripcion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="fechaRegistro" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="estado" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="MontosOperacion">
      <xsd:sequence>
         <xsd:element name="montoOperacion" type="operBO:MontoOperacion" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Factibilidad">
      <xsd:complexContent>
         <xsd:extension base="desBO:tasaType">
            <xsd:sequence>
               <xsd:element name="esFactible" type="xsd:boolean" minOccurs="0"/>
               <xsd:element name="fechaFinalizacionEstudios" type="xsd:date" minOccurs="0"/>
               <xsd:element name="fechaCalculoInteres" type="xsd:date" minOccurs="0"/>
            </xsd:sequence>
         </xsd:extension>
      </xsd:complexContent>
   </xsd:complexType>
</xsd:schema>
