AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Capabilities/Core/Items/ColorEntitySvc/Resources/Schemas/ColorEntitySchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/ColorEntitySvc" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Capabilities/Foundation/Party/ColorEntitySvc" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:item="http://mx.agarcia.ea/Canonical/Commons/Items/v1">
           
           
  <xs:import schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
  <xs:import schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>
  <xs:import schemaLocation="../../../../../Foundation/Schemas/Commons/ItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Items/v1"/>

 
   <xs:element name="createColorGroupRequest" type="base:ColorGroupType"/>
   <xs:element name="createColorGroupResponse" type="AGsm:MessageResponse"/>
   
   <xs:element name="createColorRequest" type="base:ColorType"/>
   <xs:element name="createColorResponse" type="AGsm:MessageResponse"/>
   
   <xs:element name="updateColorGroupRequest" type="base:ColorGroupType"/>
   <xs:element name="updateColorGroupResponse" type="AGsm:MessageResponse"/>
   
   <xs:element name="updateColorRequest" type="base:ColorType"/>
   <xs:element name="updateColorResponse" type="AGsm:MessageResponse"/>
 
 
  
   <xs:complexType name="ColorType">
    <xs:sequence>
      <xs:element name="color" type="item:ItemCatalog" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ColorGroupType">
    <xs:sequence>
      <xs:element name="colorGroup" type="item:ItemCatalog" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>