AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/EBO/CNRInvoice/CNRInvoiceEBM.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/CNRInvoice" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/CNRInvoice" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <xsd:import schemaLocation="../../Common/CommonComponents.xsd" namespace="http://www.agarcia.mx/EnterpriseObjects/Common"/>
  <xsd:include schemaLocation="CNRInvoiceEBO.xsd"/>
  <xsd:element name="CNRInvoiceEBM" type="CNRInvoiceEBMType"/>
  <xsd:element name="CNRInvoiceResponse" type="com:ResponseType"/>
  <xsd:element name="ProcessCNRInvoiceEBM" type="CNRInvoiceEBMType"/>
  <xsd:element name="CreateCNRInvoiceEBM" type="CNRInvoiceEBMType"/>
  <xsd:complexType name="CNRInvoiceEBMType">
    <xsd:sequence>
      <xsd:element name="header" type="com:HeaderType"/>
      <xsd:element name="dataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CNRInvoiceEBO" type="CNRInvoiceEBOType"/>
            <xsd:element name="HistoryReference" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>