AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/EBO/CNRInvoice/FTPReimLinesToXSD.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" 
xmlns:tns="http://www.agarcia.mx/EnterpriseObjects/CNRInvoice" 
targetNamespace="http://www.agarcia.mx/EnterpriseObjects/CNRInvoice" 
elementFormDefault="qualified" 
attributeFormDefault="unqualified" 
nxsd:version="NXSD" 
nxsd:stream="chars" 
nxsd:encoding="UTF-8">


  <xsd:element name="Root-Element">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded" nxsd:choiceCondition="fixedLength" nxsd:length="5">
        <xsd:element name="FHEAD" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="FHEAD">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="FileTypeID" type="xsd:string" nxsd:style="fixedLength" nxsd:length="5"/>
              <xsd:element name="FileCreateDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="FTAIL" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="FTAIL">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="TransactionLine" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TDETL" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="TDETL">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="TransactionNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="Item" type="xsd:string" nxsd:style="fixedLength" nxsd:length="25"/>
              <xsd:element name="UPC" type="xsd:string" nxsd:style="fixedLength" nxsd:length="25"/>
              <xsd:element name="UpcSupp" type="xsd:string" nxsd:style="fixedLength" nxsd:length="5"/>
              <xsd:element name="VPN" type="xsd:string" nxsd:style="fixedLength" nxsd:length="30"/>
              <xsd:element name="Comments" type="xsd:string" nxsd:style="fixedLength" nxsd:length="200"/>
              <xsd:element name="ReasonCode" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6"/>
              <xsd:element name="ReasonCodeDesc" type="xsd:string" nxsd:style="fixedLength" nxsd:length="50"/>
              <xsd:element name="SignInd" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="DiscrepantQuantity" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="SignInd2" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="DiscrepantCost" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
              <xsd:element name="VATCode" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6"/>
              <xsd:element name="VATRate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="THEAD" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="THEAD">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="TransactionID" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="DocType" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6"/>
              <xsd:element name="VendorDocNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="60"/>
              <xsd:element name="InvoiceNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6"/>
              <xsd:element name="VendorID" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="DocDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="OrderNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="Location" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="LocationType" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="Terms" type="xsd:string" nxsd:style="fixedLength" nxsd:length="15"/>
              <xsd:element name="DueDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="CurrencyCode" type="xsd:string" nxsd:style="fixedLength" nxsd:length="3"/>
              <xsd:element name="ExchangeRate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
              <xsd:element name="SignInd" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="TotalCost" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
              <xsd:element name="SignInd2" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="TotalVATAmount" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
              <xsd:element name="SignInd3" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="TotalQuantity" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="C22" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TTAIL" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="TTAIL">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="TransactionNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="TransactionLines" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TVATS" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="TVATS">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="TransactionID" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="VATCode" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6"/>
              <xsd:element name="VATRate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
              <xsd:element name="SignInd" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="VATCostBasis" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>