BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Prepago/V1/Schema/PrepagoMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/PrepagoMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:preMO="http://www.bcie.org/PrepagoMO" xmlns:preBO="http://www.bcie.org/PrepagoBO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:docuBO="http://www.bcie.org/DocumentoBO" xmlns:correoBO="http://www.bcie.org/CorreoBO">
	<xsd:import namespace="http://www.bcie.org/PrepagoBO" schemaLocation="PrepagoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/DocumentoBO" schemaLocation="../../../../DominioDocumento/Documento/V1/Schema/DocumentoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/CorreoBO" schemaLocation="../../../../Utilidades/EnviarCorreoElectronico/V1/Schema/CorreoElectronicoBO.xsd"/>
	<xsd:element name="ConsultarPrepagoRequest" type="preMO:ConsultarPrepagoRequestType"/>
	<xsd:element name="ConsultarPrepagoResponse" type="preMO:ConsultarPrepagoResponseType"/>
	<xsd:element name="ExtraerReportePrepagoRequest" type="preMO:ExtraerReportePrepagoRequestType"/>
	<xsd:element name="ExtraerReportePrepagoResponse" type="preMO:ExtraerReportePrepagoResponseType"/>
	<xsd:element name="PlanArmotizacionRequest" type="preMO:PlanArmotizacionRequestType"/>
	<xsd:element name="PlanArmotizacionResponse" type="preMO:PlanArmotizacionResponseType"/>
	<xsd:element name="InformePrepagoRequest" type="preMO:InformePrepagoRequestType"/>
	<xsd:element name="InformePrepagoResponse" type="preMO:InformePrepagoResponseType"/>
	<xsd:element name="ReportePrepagoRequest" type="preMO:ReportePrepagoRequestType"/>
	<xsd:element name="ReportePrepagoResponse" type="preMO:ReportePrepagoResponseType"/>
	<xsd:element name="GenerarReportePrepagoRequest" type="preMO:GenerarReportePrepagoRequestType"/>
	<xsd:element name="GenerarReportePrepagoResponse" type="preMO:GenerarReportePrepagoResponseType"/>
	<xsd:complexType name="ConsultarPrepagoRequestType">
		<xsd:sequence>
			<xsd:element name="idPrepago" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarPrepagoResponseType">
		<xsd:sequence>
			<xsd:element name="Prepago" type="preBO:prepagoType"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtraerReportePrepagoRequestType">
		<xsd:sequence>
			<xsd:element name="idPrepago" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExtraerReportePrepagoResponseType">
		<xsd:sequence>
			<xsd:element name="Reporte" type="preBO:ReporteType"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformePrepagoRequestType">
		<xsd:sequence>
			<xsd:element name="idPrepago" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformePrepagoResponseType">
		<xsd:sequence>
			<xsd:element name="Prepago" type="preBO:prepagoType" minOccurs="0"/>
			<xsd:element name="Reporte" type="preBO:ReporteType"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PlanArmotizacionRequestType">
		<xsd:sequence>
			<xsd:element name="URL" type="xsd:string"/>
			<xsd:element name="Tags" type="correoBO:param" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="PlanArmotizacionResponseType">
		<xsd:sequence>
			<xsd:element name="URL" type="xsd:string"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReportePrepagoRequestType">
		<xsd:sequence>
			<xsd:element name="idPrepago" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReportePrepagoResponseType">
		<xsd:sequence>
			<xsd:element name="Documentos" type="docuBO:ListaDocumentos"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GenerarReportePrepagoResponseType">
		<xsd:sequence>
			<xsd:element name="Documentos" type="docuBO:ListaDocumentos"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="GenerarReportePrepagoRequestType">
		<xsd:sequence>
			<xsd:element name="Prepago" type="preBO:prepagoType"/>
			<xsd:element name="Reporte" type="preBO:ReporteType"/>
		</xsd:sequence>
	</xsd:complexType>
        
  
  
  
    <xsd:element name="DetallePenalidadPrepagoRequest" type="preMO:DetallePenalidadPrepagoRequestType"/> 
    
    <xsd:element name="DetallePenalidadPrepagoResponse" type="preMO:DetallePenalidadPrepagoResponseType"/>
    
      <xsd:complexType name="DetallePenalidadPrepagoRequestType">
        <xsd:sequence>
          <xsd:element name="P_IDPREPAGO" type="xsd:decimal"/>
          <xsd:element name="P_IDOPERACION" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="DetallePenalidadPrepagoResponseType">
         <xsd:sequence>
            <xsd:element name="P_TASAPRIME" type="xsd:decimal"/>
            <xsd:element name="P_TASALIBOR" type="xsd:decimal"/>
            <xsd:element name="P_IDTCATIPOMONEDATRAMITE" type="xsd:decimal"/>
            <xsd:element name="P_CARGOTRAMITEVALOR" type="xsd:decimal"/>
            <xsd:element name="P_CARGOTRAMITEDESCRIPCION" type="xsd:string"/>
            <xsd:element name="P_FECHACALCULODEFINITIVO" type="xsd:dateTime"/>
            <xsd:element name="P_FECHAREFERENCIA" type="xsd:dateTime"/>
            <xsd:element name="P_TBLPENALIDAD" type="preMO:DetallePenalidadPrepago_ListaPenalidadType"/>
            <xsd:element name="P_ESTADO" type="xsd:string"/>
            <xsd:element name="P_CODIGO" type="xsd:string"/>
            <xsd:element name="P_MENSAJE" type="xsd:string"/>
            <xsd:element name="Resultado" type="resBO:Resultado"/>
         </xsd:sequence>
      </xsd:complexType>
      
   <xsd:complexType name="DetallePenalidadPrepago_PenalidadType">
      <xsd:sequence>
         <xsd:element name="FECHAINICIO" type="xsd:dateTime"/>
         <xsd:element name="FECHAFIN" type="xsd:dateTime"/>
         <xsd:element name="PLAZO" type="xsd:decimal"/>
         <xsd:element name="SPREAD" type="xsd:decimal"/>
         <xsd:element name="FRACCIONLIBOR" type="xsd:string"/>
         <xsd:element name="TASAPREPAGO" type="xsd:decimal"/>
         <xsd:element name="MONTOPENALIDAD" type="xsd:decimal"/>
         <xsd:element name="INTERESES" type="xsd:decimal"/>
         <xsd:element name="IDTREPREPAGOCONTRATO" type="xsd:decimal"/>
         <xsd:element name="CONTRATODESEMBOLSO" type="xsd:string"/>
         <xsd:element name="MONEDA" type="xsd:string"/>
         <xsd:element name="RESOLUCION" type="xsd:string"/>
         <xsd:element name="MONTOPREPAGO" type="xsd:decimal"/>
         <xsd:element name="PROXIMOPAGO" type="xsd:dateTime"/>
      </xsd:sequence>
   </xsd:complexType>
   
   <xsd:complexType name="DetallePenalidadPrepago_ListaPenalidadType">
      <xsd:sequence>
         <xsd:element name="P_TBLPENALIDAD_ITEM" type="preMO:DetallePenalidadPrepago_PenalidadType" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
    
      <xsd:element name="CalculoInteresPrepagoRequest" type="preMO:CalculoInteresPrepagoRequestType"/>    
      <xsd:element name="CalculoInteresPrepagoResponse" type="preMO:CalculoInteresPrepagoResponseType"/>
      
      <xsd:complexType name="CalculoInteresPrepagoRequestType">
          <xsd:sequence>
            <xsd:element name="P_PREPAGO" type="xsd:decimal" minOccurs="0"/>
          </xsd:sequence>
      </xsd:complexType>  
        
      <xsd:complexType name="CalculoInteresPrepagoResponseType">
        <xsd:sequence>
          <xsd:element name="P_ESTADO" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="P_CODIGO" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="P_MENSAJE" type="xsd:string" minOccurs="0" nillable="true"/>
          <xsd:element name="P_TBLINTERESES" type="preMO:CalculoInteresPrepago_ListaInteresType" minOccurs="0"/>
           <xsd:element name="Resultado" type="resBO:Resultado"/>
        </xsd:sequence>
      </xsd:complexType>
      
   
      <xsd:complexType name="CalculoInteresPrepago_ListaInteresType">
        <xsd:sequence>
          <xsd:element name="P_TBLINTERESES_ITEM" type="preMO:CalculoInteresPrepago_InteresType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>     
      
      <xsd:complexType name="CalculoInteresPrepago_InteresType">
        <xsd:sequence>
          <xsd:element name="CONTRACT_DESEMBOLSO" type="xsd:string" minOccurs="0"/>
          <xsd:element name="BASE" type="xsd:string" minOccurs="0"/>
          <xsd:element name="TASA" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="MONTO_PREPAGAR" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="FECHA_DESDE" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="FECHA_HASTA" type="xsd:dateTime" minOccurs="0"/>
          <xsd:element name="DIAS_CALCULADOS" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="MONEDA" type="xsd:string" minOccurs="0"/>
          <xsd:element name="INTERESES" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="ID_TRE_PRE_CONT" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="ES_PAGO_TOTAL" type="xsd:decimal" minOccurs="0"/>
          <xsd:element name="FECHA_PROXIMO_PAGO" type="xsd:dateTime" minOccurs="0"/>
        </xsd:sequence>
      </xsd:complexType>    

   <xsd:element name="CrearActualizarPrepagoRequest" type="preMO:CrearActualizarPrepagoRequestType"/>
   <xsd:element name="CrearActualizarPrepagoResponse" type="preMO:CrearActualizarPrepagoResponseType"/>
   
      <xsd:complexType name="CrearActualizarPrepagoRequestType">
         <xsd:sequence>
            <xsd:element name="P_ID_PREPAGO" type="xsd:decimal"/>
            <xsd:element name="P_FECHA_SOLICITUD" type="xsd:dateTime"/>
            <xsd:element name="P_FECHA_PREPAGO" type="xsd:dateTime"/>
            <xsd:element name="P_FECHA_RENOVACION" type="xsd:dateTime"/>
            <xsd:element name="P_MONTO_PREPAGO" type="xsd:decimal"/>
            <xsd:element name="P_ID_TCA_TIPO_MONEDA" type="xsd:decimal"/>
            <xsd:element name="P_ID_TCA_TIPO_PREPAGO" type="xsd:decimal"/>
            <xsd:element name="P_ID_TCA_TIPO_RESOLUCION" type="xsd:decimal"/>
            <xsd:element name="P_ID_TCA_TIPO_CAPTURA" type="xsd:decimal"/>
            <xsd:element name="P_BAN_ESTATUS" type="xsd:decimal"/>
            <xsd:element name="P_OBSERVACION" type="xsd:string"/>   
            <xsd:element name="P_LOGIN_USUARIO" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CrearActualizarPrepagoResponseType">
         <xsd:sequence>
            <xsd:element name="P_ID_PREPAGO" type="xsd:decimal"/>
            <xsd:element name="P_ESTADO" type="xsd:string"/>
            <xsd:element name="P_CODIGO" type="xsd:string"/>
            <xsd:element name="P_MENSAJE" type="xsd:string"/>
            <xsd:element name="Resultado" type="resBO:Resultado"/>
         </xsd:sequence>
      </xsd:complexType>

    <xsd:element name="DetalleContratoDesembolsoRequest" type="preMO:DetalleContratoDesembolsoRequestType"/>
    <xsd:element name="DetalleContratoDesembolsoResponse" type="preMO:DetalleContratoDesembolsoResponseType"/>
    
    <xsd:complexType name="DetalleContratoDesembolsoRequestType">
     <xsd:sequence>
            <xsd:element name="P_ID_OPERACION" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="P_ID_RESOLUCION" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="P_ID_MONEDA" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="P_ID_PREPAGO" type="xsd:decimal" minOccurs="0"/>
            <xsd:element name="P_F_RENOVACION" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="P_F_PREPAGO" type="xsd:dateTime" minOccurs="0"/>
            <xsd:element name="P_SIN_TRE_PREPAGO_CONTRATO" type="xsd:string" minOccurs="0"/>
     </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="DetalleContratoDesembolsoResponseType">
     <xsd:sequence>
            <xsd:element name="P_CODIGO_RES" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="P_MENSAJE" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="P_TBLDESEMBOLSOS" type="preMO:T_LISTA_DESEMBOLSO_PREPAGO" minOccurs="0"/>
            <xsd:element name="Resultado" type="resBO:Resultado"/>
     </xsd:sequence>
    </xsd:complexType>
              
    <xsd:complexType name="T_DESEMBOLSO_PREPAGO">
      <xsd:sequence>
             <xsd:element name="ID_LINEA_CREDITO" type="xsd:decimal" minOccurs="0"/>
             <xsd:element name="ID_CONTRATO" type="xsd:decimal" minOccurs="0"/>
             <xsd:element name="NUMERO_LINEA_CREDITO" type="xsd:string" minOccurs="0"/>
             <xsd:element name="DESCRIPCION_LINEA" type="xsd:string" minOccurs="0"/>
             <xsd:element name="ID_FLEXCUBE" type="xsd:string" minOccurs="0"/>
             <xsd:element name="MONTO_LINEA" type="xsd:decimal" minOccurs="0"/>
             <xsd:element name="ID_CONTRATO_DESEMBOLSO" type="xsd:decimal" minOccurs="0"/>
             <xsd:element name="CONTRATO_DESEMBOLSO" type="xsd:string" minOccurs="0"/>
             <xsd:element name="ID_RESOLUCION" type="xsd:decimal" minOccurs="0"/>
             <xsd:element name="RESOLUCION" type="xsd:string" minOccurs="0"/>
             <xsd:element name="FECHA_EFECTIVA" type="xsd:dateTime" minOccurs="0"/>
             <xsd:element name="VENCIMIENTO" type="xsd:dateTime" minOccurs="0"/>
             <xsd:element name="PROXIMO_PAGO" type="xsd:dateTime" minOccurs="0"/>
             <xsd:element name="MONEDA" type="xsd:string" minOccurs="0"/>
             <xsd:element name="MONTO_PREPAGO" type="xsd:decimal" minOccurs="0"/>
             <xsd:element name="ES_PAGO_TOTAL" type="xsd:decimal" minOccurs="0"/>
             <xsd:element name="FONDO_CONTABLE" type="xsd:string"/>
             <xsd:element name="ESCRITURACION" type="xsd:dateTime" minOccurs="0"/>
             <xsd:element name="CAPITAL_NV_FECHA_PREPA" type="xsd:decimal" minOccurs="0"/>
             <xsd:element name="USER_REF_NO" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="T_LISTA_DESEMBOLSO_PREPAGO">
      <xsd:sequence>
             <xsd:element name="P_TBLDESEMBOLSOS_ITEM" type="preMO:T_DESEMBOLSO_PREPAGO" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
    </xsd:complexType>
      
</xsd:schema>