BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ConsultarMiembroReunion/XSD/ConsultarMiembroReunionDB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarMiembroReunionDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarMiembroReunionDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarMiembroReunionDBInput" type="ConsultarMiembroReunionDBInput"/>
   <xs:complexType name="ConsultarMiembroReunionDBInput">
      <xs:sequence>
         <xs:element name="idNivelAprobacion" type="xs:string" nillable="true"/>
         <xs:element name="soloNotificacion" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarMiembroReunionDBOutputCollection" type="ConsultarMiembroReunionDBOutputCollection"/>
   <xs:complexType name="ConsultarMiembroReunionDBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarMiembroReunionDBOutput" type="ConsultarMiembroReunionDBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarMiembroReunionDBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_ROL" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_ROL" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_ROL" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TCA_NIVEL_APROBACION" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>