Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Card/CardActAdd/CardActAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/CardActAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptCardActAdd="http://xmlns.banesco.com/eopt/CardActAdd_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoCard="http://xmlns.banesco.com/eo/Card_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Card_V1.0" schemaLocation="../../../EO/Card/Card_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:element name="CardActAddRq_Type" type="eoptCardActAdd:CardActAddRq_Type"/>
	<xs:complexType name="CardActAddRq_Type">
		<xs:annotation>
			<xs:documentation>Account Key Object</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto AcctKey que contiene la información de identificación de la cuenta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardKey" type="eoCard:CardKey" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto CardKey que contiene la información de identificación de la tarjeta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardStatus" type="eoCard:CardStatus" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto CardStatus que contiene la información del estatus a asignar a la tarjeta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto PartyKey que contiene la información de identificación del cliente.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardActAddRq" type="eoptCardActAdd:CardActAddRq_Type"/>
	<xs:element name="CardActAddRs_Type" type="eoptCardActAdd:CardActAddRs_Type"/>
	<xs:complexType name="CardActAddRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardActAddRs" type="eoptCardActAdd:CardActAddRs_Type"/>
</xs:schema>
