AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/EBO/AdvancedShipmentNotice/AdvancedShipmentNoticeEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/AdvancedShipmentNotice" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/AdvancedShipmentNotice" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom">
  <!-- ====================================================================== -->
  <!-- =====      Imports                                               ===== -->
  <!-- ====================================================================== -->
  <xsd:import schemaLocation="../../Common/CommonComponents.xsd" namespace="http://www.agarcia.mx/EnterpriseObjects/Common"/>
  <xsd:import schemaLocation="../../Custom/EBO/CustomAdvancedShipmentNoticeEBO.xsd" namespace="http://www.agarcia.mx/EnterpriseObjects/Custom"/>
  <xsd:import schemaLocation="../../CommonEBO/Shipment.xsd" namespace="http://www.agarcia.mx/EnterpriseObjects/Common"/>
  <!-- ====================================================================== -->
  <!-- =====       Advanced Shipment Notice EBO                         ===== -->
  <!-- ====================================================================== -->
  <xsd:element name="AdvancedShipmentNoticeEBO" type="AdvancedShipmentNoticeEBOType"/>
  <xsd:complexType name="AdvancedShipmentNoticeEBOType">
    <xsd:sequence>
      <xsd:element ref="com:Identification" minOccurs="0"/>
      <xsd:element name="Shipment" minOccurs="0" maxOccurs="unbounded" type="com:ShipmentType"/>
      <xsd:element name="Custom" type="cust:CustomAdvancedShipmentNoticeEBOType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="com:ActionType" use="optional"/>
  </xsd:complexType>
</xsd:schema>