AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/EBO/AdvancedShipmentNotice/AdvancedShipmentNoticeEBM.xsd

<!-- ====================================================================== --><!-- =====      Advanced Shipment Notice EBM                          ===== --><!-- ====================================================================== --><xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/AdvancedShipmentNotice" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/AdvancedShipmentNotice" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <!-- ====================================================================== -->
  <!-- =====      Imports                                               ===== -->
  <!-- ====================================================================== -->
  <xsd:include schemaLocation="AdvancedShipmentNoticeEBO.xsd"/>
  <xsd:element name="SyncAdvancedShipmentNoticeEBM" type="SyncAdvancedShipmentNoticeEBMType"/>
  <xsd:element name="SyncAdvancedShipmentNoticeResponseEBM" type="SyncAdvancedShipmentNoticeResponseEBMType"/>
  <xsd:element name="ProcessAdvancedShipmentNoticeEBM" type="ProcessAdvancedShipmentNoticeEBMType"/>
  <xsd:element name="ProcessAdvancedShipmentNoticeResponseEBM" type="ProcessAdvancedShipmentNoticeResponseEBMType"/>
  <xsd:element name="ProcessAdvancedShipmentNoticeResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>
  <xsd:complexType name="SyncAdvancedShipmentNoticeEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SyncAdvancedShipmentNotice" type="AdvancedShipmentNoticeEBOType"/>
            <xsd:element name="AdvancedShipmentNoticeRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SyncAdvancedShipmentNoticeResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="SyncAdvancedShipmentNoticeReference" type="com:IdentificationType"/>
      <xsd:element name="AdvancedShipmentNoticeRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessAdvancedShipmentNoticeEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProcessAdvancedShipmentNotice" type="AdvancedShipmentNoticeEBOType"/>
            <xsd:element name="AdvancedShipmentNoticeRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessAdvancedShipmentNoticeResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="ProcessAdvancedShipmentNoticeReference" type="com:IdentificationType"/>
      <xsd:element name="AdvancedShipmentNoticeRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseAcknowledgeEBMType">
    <xsd:sequence>
      <xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>