Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/AccountLoan/AcctLoanCollateralMod/AcctLoanCollateralMod_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctLoanCollateralMod_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcctLoanCollateralMod="http://xmlns.banesco.com/eopt/AcctLoanCollateralMod_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoCollateral="http://xmlns.banesco.com/eo/Collateral_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Collateral_V1.0" schemaLocation="../../../EO/Acct/Collateral_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:complexType name="AcctLoanCollateralModRq_Type">
		<xs:sequence>
			<xs:element name="Acct" type="eoAcct:Acct" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Collateral" type="eoCollateral:Collateral" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoanCollateralModRs_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Collateral" type="eoCollateral:Collateral" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctLoanCollateralModRq" type="eoptAcctLoanCollateralMod:AcctLoanCollateralModRq_Type"/>
	<xs:element name="AcctLoanCollateralModRs" type="eoptAcctLoanCollateralMod:AcctLoanCollateralModRs_Type"/>
</xs:schema>
