BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDocumento/ConsultarAdjunto/XSD/ConsultarAdjuntoDocumento.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAdjuntoDocumento" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAdjuntoDocumento" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarAdjuntoDocumentoInput" type="ConsultarAdjuntoDocumentoInput"/>
   <xs:complexType name="ConsultarAdjuntoDocumentoInput">
      <xs:sequence>
         <xs:element name="idAdjunto" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarAdjuntoDocumentoOutputCollection" type="ConsultarAdjuntoDocumentoOutputCollection"/>
   <xs:complexType name="ConsultarAdjuntoDocumentoOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarAdjuntoDocumentoOutput" type="ConsultarAdjuntoDocumentoOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarAdjuntoDocumentoOutput">
      <xs:sequence>
      
         <xs:element name="PAIS" type="xs:string" nillable="true"/>
         <xs:element name="PAIS_DESC" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="MIME_TYPE" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO" type="xs:string" nillable="true"/>
         <xs:element name="ACTIVIDAD_ECONOMICA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_FLEXCUBE" type="xs:string" nillable="true"/>
         <xs:element name="RAZON_SOCIAL" type="xs:string" nillable="true"/>
         <xs:element name="NOMBRE" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_DOCUMENTO" type="xs:decimal" nillable="true"/>
         <xs:element name="FILENAME" type="xs:string" nillable="true"/>
         <xs:element name="CONTENIDO" type="xs:string" nillable="true"/>
         <xs:element name="ID_CATTIPOONBASE" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TIPO_ON_BASE" type="xs:decimal" nillable="true"/>
         <xs:element name="ACCION" type="xs:string" nillable="true"/>
         <xs:element name="COMENTARIO" type="xs:string" nillable="true"/>
         <xs:element name="ID_ONBASE" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_ADJUNTO" type="xs:decimal" nillable="true"/>
         <xs:element name="TIPO_DOCUMENTO" type="xs:string" nillable="true"/>
         <xs:element name="PROCESO_BPM" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>