AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ResponseProtosAdapterService/MetaData/Components/EnterpriseObjectLibrary/EBO/SupplierParty/SupplierPartyEBM.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/SupplierParty" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/SupplierParty" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom">
  <xsd:include schemaLocation="SupplierPartyEBO.xsd"/>
  <!-- ====================================================================== -->
  <!-- ================== Proccess SupplierParty Messages ==================== -->
  <!-- ====================================================================== -->
  <xsd:element name="ProcessSupplierPartyEBM" type="ProcessSupplierPartyEBMType"/>
  <xsd:complexType name="ProcessSupplierPartyEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProcessSupplierParty" type="SupplierPartyEBOType"/>
            <xsd:element name="SupplierPartyRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
          <xsd:attribute name="Action" type="com:ActionType"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ================ Proccess SupplierParty Response Messages ============= -->
  <!-- ====================================================================== -->
  <xsd:element name="ProcessSupplierPartyResponseEBM" type="SupplierPartyResponseEBMType"/>
  <xsd:element name="ProcessSupplierPartyResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>
  <!-- ====================================================================== -->
  <!-- ================== Sync SupplierParty Messages ==================== -->
  <!-- ====================================================================== -->
  <xsd:element name="SyncSupplierPartyEBM" type="SyncSupplierPartyEBMType"/>
  <xsd:complexType name="SyncSupplierPartyEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SyncSupplierParty" type="SupplierPartyEBOType"/>
            <xsd:element name="SupplierPartyRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
          <xsd:attribute name="Action" type="com:ActionType"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ================ Sync SupplierParty Response Messages ============= -->
  <!-- ====================================================================== -->
  <xsd:element name="SyncSupplierPartyResponseEBM" type="SupplierPartyResponseEBMType"/>
  <!-- ====================================================================== -->
  <!-- ================ Acknowledge Response Messages ============= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="ResponseAcknowledgeEBMType">
    <xsd:sequence>
      <xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SupplierPartyResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="ProcessSupplierPartyEBO" type="SupplierPartyEBOType" maxOccurs="unbounded"/>
      <xsd:element name="SupplierPartyRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="QuerySupplierPartyEBM" type="QuerySupplierPartyEBMType"/>
  <xsd:complexType name="QuerySupplierPartyEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="QuerySupplierParty" type="SupplierPartyEBOType"/>
            <xsd:element name="SupplierPartyRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
          <xsd:attribute name="Action" type="com:ActionType"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="QuerySupplierPartyResponseEBM" type="SupplierPartyResponseEBMType"/>
</xsd:schema>