BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioDocumento/Documento/V1/Wsdl/ADAPTER/ComposicionesServiceSAD.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions targetNamespace="http://www.bcie.org/DocumentoMO" xmlns="http://schemas.xmlsoap.org/wsdl/" name="ComposicionesService"
             xmlns:tns="http://www.bcie.org/DocumentoMO" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:docMO="http://www.bcie.org/DocumentoMO">
  <types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/DocumentoMO" schemaLocation="../../Schema/DocumentoMO.xsd"/>
    </xsd:schema>
  </types>
  <message name="ConsultarDocumentoOnBaseRequestMessage">
    <part name="request" element="docMO:ConsultaDocumentosRequest"/>
  </message>
  <message name="ConsultarDocumentoOnBaseResponseMessage">
    <part name="response" element="docMO:ConsultaDocumentosResponse"/>
  </message>
  <portType name="ComposicionesServicePT">
    <operation name="ConsultarDocumentosOnBase">
      <input message="tns:ConsultarDocumentoOnBaseRequestMessage"/>
      <output message="tns:ConsultarDocumentoOnBaseResponseMessage"/>
    </operation>
    <operation name="ObtenerDocumentoOnBase">
      <input message="tns:ObtenerDocumentoOnBaseRequestMessage"/>
      <output message="tns:ObtenerDocumentoOnBaseResponseMessage"/>
    </operation>
  </portType>
  <binding name="ComposicionesServicePTSOAP12Bnd" type="tns:ComposicionesServicePT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ConsultarDocumentosOnBase">
      <soap12:operation style="document" soapAction="http://www.bcie.org/DocumentoMO/ConsultarDocumentosOnBase"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="ObtenerDocumentoOnBase">
      <soap12:operation style="document" soapAction="http://www.bcie.org/DocumentoMO/ObtenerDocumentoOnBase"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
  </binding>
  <message name="ObtenerDocumentoOnBaseRequestMessage">
    <part name="request" element="docMO:ObtenerDocumentoOnBaseRequest"/>
  </message>
  <message name="ObtenerDocumentoOnBaseResponseMessage">
    <part name="response" element="docMO:ObtenerDocumentoOnBaseResponse"/>
  </message>
</definitions>