Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/TechLayer/CardDb/CardDbTechSvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/TechLayer/CardDbTechSvc_V1.0"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.banesco.com/TechLayer/CardDbTechSvc_V1.0"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptCardDbHTAdd="http://xmlns.banesco.com/eopt/CardDbHTAdd_V1.0"
             xmlns:eoptCardDbT24Add="http://xmlns.banesco.com/eopt/CardDbT24Add_V1.0"
             xmlns:eoptCardDbInq="http://xmlns.banesco.com/eopt/CardDbInq_V1.0"
             xmlns:eoptCardDbStatusT24Mod="http://xmlns.banesco.com/eopt/CardDbStatusT24Mod_V1.0"
             xmlns:eoptCardDbStatusHTMod="http://xmlns.banesco.com/eopt/CardDbStatusHTMod_V1.0"
             xmlns:eoptAcctCardRelMod="http://xmlns.banesco.com/eopt/AcctCardRelMod_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardDb/CardDbHTAdd/CardDbHTAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardDbHTAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardDb/CardDbT24Add/CardDbT24Add_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardDbT24Add_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardDb/CardDbInq/CardDbInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardDbInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardDb/CardDbStatusT24Mod/CardDbStatusT24Mod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardDbStatusT24Mod_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardDb/CardDbStatusHTMod/CardDbStatusHTMod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardDbStatusHTMod_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardDb/AcctCardRelMod/AcctCardRelMod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctCardRelMod_V1.0"/>
    </xsd:schema>
  </types>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="CardDbHTAddRq">
    <part name="CardDbHTAddRq" element="eoptCardDbHTAdd:CardDbHTAddRq"/>
  </message>
  <message name="CardDbHTAddRs">
    <part name="CardDbHTAddRs" element="eoptCardDbHTAdd:CardDbHTAddRs"/>
  </message>
  <message name="CardDbT24AddRq">
    <part name="CardDbT24AddRq" element="eoptCardDbT24Add:CardDbT24AddRq"/>
  </message>
  <message name="CardDbT24AddRs">
    <part name="CardDbT24AddRs" element="eoptCardDbT24Add:CardDbT24AddRs"/>
  </message>
  <message name="CardDbInqRq">
    <part name="CardDbInqRq" element="eoptCardDbInq:CardDbInqRq"/>
  </message>
  <message name="CardDbInqRs">
    <part name="CardDbInqRs" element="eoptCardDbInq:CardDbInqRs"/>
  </message>
  <message name="CardDbStatusT24ModRq">
    <part name="CardDbStatusT24ModRq" element="eoptCardDbStatusT24Mod:CardDbStatusT24ModRq"/>
  </message>
  <message name="CardDbStatusT24ModRs">
    <part name="CardDbStatusT24ModRs" element="eoptCardDbStatusT24Mod:CardDbStatusT24ModRs"/>
  </message>
  <message name="CardDbStatusHTModRq">
    <part name="CardDbStatusHTModRq" element="eoptCardDbStatusHTMod:CardDbStatusHTModRq"/>
  </message>
  <message name="CardDbStatusHTModRs">
    <part name="CardDbStatusHTModRs" element="eoptCardDbStatusHTMod:CardDbStatusHTModRs"/>
  </message>
  <message name="AcctCardRelModRq">
    <part name="AcctCardRelModRq" element="eoptAcctCardRelMod:AcctCardRelModRq"/>
  </message>
  <message name="AcctCardRelModRs">
    <part name="AcctCardRelModRs" element="eoptAcctCardRelMod:AcctCardRelModRs"/>
  </message>
  <portType name="CardDbTechSvc_V1.0PortType">
    <operation name="CardDbHTAdd">
      <input message="tns:CardDbHTAddRq"/>
      <output message="tns:CardDbHTAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="CardDbT24Add">
      <input message="tns:CardDbT24AddRq"/>
      <output message="tns:CardDbT24AddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="CardDbInq">
      <input message="tns:CardDbInqRq"/>
      <output message="tns:CardDbInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="CardDbStatusT24Mod">
      <input message="tns:CardDbStatusT24ModRq"/>
      <output message="tns:CardDbStatusT24ModRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="CardDbStatusHTMod">
      <input message="tns:CardDbStatusHTModRq"/>
      <output message="tns:CardDbStatusHTModRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctCardRelMod">
      <input message="tns:AcctCardRelModRq"/>
      <output message="tns:AcctCardRelModRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
  </portType>
  <service name="CardDbTechSvc_V1.0">
    <port name="CardDbTechSvcPort" binding="tns:CardDbTechSvc_V1.0SOAPBinding">
      <soap:address location="http://www.example.com"/>
    </port>
  </service>
  <binding name="CardDbTechSvc_V1.0SOAPBinding" type="tns:CardDbTechSvc_V1.0PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CardDbHTAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/CardDbTechSvc_V1.0/CardDbHTAdd"/>
      <input>
        <soap:body use="literal" parts="CardDbHTAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardDbHTAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardDbT24Add">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/CardDbTechSvc_V1.0/CardDbT24Add"/>
      <input>
        <soap:body use="literal" parts="CardDbT24AddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardDbT24AddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardDbInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/CardDbTechSvc_V1.0/CardDbInq"/>
      <input>
        <soap:body use="literal" parts="CardDbInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardDbInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardDbStatusT24Mod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/CardDbTechSvc_V1.0/CardDbStatusT24Mod"/>
      <input>
        <soap:body use="literal" parts="CardDbStatusT24ModRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardDbStatusT24ModRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardDbStatusHTMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/CardDbTechSvc_V1.0/CardDbStatusHTMod"/>
      <input>
        <soap:body use="literal" parts="CardDbStatusHTModRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardDbStatusHTModRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctCardRelMod">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/CardDbTechSvc_V1.0/AcctCardRelMod"/>
      <input>
        <soap:body use="literal" parts="AcctCardRelModRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctCardRelModRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
</definitions>