AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/DownloadOrderAPP/CreateDownloadOrderNadroAdapterService/Resources/FileOrderNadro.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:tns="http://TargetNamespace.com/FTPCreateDownloadOrderNadro" targetNamespace="http://TargetNamespace.com/FTPCreateDownloadOrderNadro" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="US-ASCII">


  <xsd:element name="Root-Element">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Element" minOccurs="1" maxOccurs="unbounded" nxsd:style="array" nxsd:cellSeparatedBy="${eol}">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NumOrder" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="PenidngOrderNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="Item" type="xsd:string" nxsd:style="fixedLength" nxsd:length="25" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="TypeLabel" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="StoreOrWH" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2"/>
              <xsd:element name="LocationNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="Location" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="StoreLoc2" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="StoreLoc3" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="UnitOfMeasure" type="xsd:string" nxsd:style="fixedLength" nxsd:length="4" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="BuyySellFactor" type="xsd:int" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="CasePack" type="xsd:int" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="NewCostUnit" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="VatCost" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="UnitRetail" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="Quantity" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="QuantityReceived" type="xsd:int" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="NumItemCatalogSupplier" type="xsd:string" nxsd:style="fixedLength" nxsd:length="30" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="OriginalQuantity" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="QuantityFree" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="QuantityReserved" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="TotalCostAllowancesPerUnit" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="NumSupplier" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="StyleNumber" type="xsd:string" nxsd:style="fixedLength" nxsd:length="25" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="Processed" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="SeasonCode" type="xsd:string" nxsd:style="fixedLength" nxsd:length="3"/>
              <xsd:element name="ColorCode" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="SizeCode" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="DimensionCode" type="xsd:int" nxsd:style="fixedLength" nxsd:length="4"/>
              <xsd:element name="BuyQuantityOrder" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="UnitCostNew" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="TotalBuyCostAllowabces" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="DescItemBlank" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="DscItem" type="xsd:string" nxsd:style="fixedLength" nxsd:length="250" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="DescColor" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="DescSize" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="LabelDesc" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="Brand" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="PackDesc" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="StickerDesc" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="Concept" type="xsd:string" nxsd:style="fixedLength" nxsd:length="250" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=docNadro.txt</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>