Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EO/Pmt/Bill_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eo/Bill_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoBill="http://xmlns.banesco.com/eo/Bill_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../Common/Common_V1.0.xsd"/>
	<xs:complexType name="BillSummAmt">
		<xs:annotation>
			<xs:documentation>Used to describe amounts that are being presented in the bill summary.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BillSummAmtCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bill Summary Amount Code. Indicates the type of amount being specified in &lt;CurAmt&gt;, using a standard list of billing amounts that are machine-readable by the client and may be used for internal processing. The short description &lt;ShortDesc&gt; should be used to describe the amount in a display to the consumer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Currency Amount. The amount being specified as described by the short description. This amount may be a zero or negative value.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description. A longer description of the amount specified in &lt;CurAmt&gt;. </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SvcProvider">
		<xs:annotation>
			<xs:documentation>Service Provider. The Payment Provider initiates and manages payments on behalf of a retail or commercial customer</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="LegalName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Legal Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SvcProviderId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Service Provider Identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EnumBillType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Bill"/>
			<xs:enumeration value="Invoice"/>
			<xs:enumeration value="Notice"/>
			<xs:enumeration value="Statement"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="BillStatus">
		<xs:annotation>
			<xs:documentation>Bill Status

Bill Status Code
Valid values include: Deleted, Delivered, New, Retired, Undeliverable, Valid, Viewed, Withdrawn</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EffDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective Date Time</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusCode" type="eoBill:EnumBillStatus" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bill Status Code
Valid values include: Deleted, Delivered, New, Retired, Undeliverable, Valid, Viewed, Withdrawn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status Description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillKey">
		<xs:annotation>
			<xs:documentation>Bill Identifier.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BillId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bill Identifier / Identificador de la cuenta en el facturador, puede referirse a: número de celular, número de cuenta, número de NIS, etc</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EnumBillStatus">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Deleted"/>
			<xs:enumeration value="Delivered"/>
			<xs:enumeration value="New"/>
			<xs:enumeration value="Retired"/>
			<xs:enumeration value="Undeliverable"/>
			<xs:enumeration value="Valid"/>
			<xs:enumeration value="Viewed"/>
			<xs:enumeration value="Withdrawn"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Biller">
		<xs:annotation>
			<xs:documentation>Biller information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cuenta del crédito para el facturador</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillerId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Biller Identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Category" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bill Category or Group (Telecommunication, Public Services, Insurance, Banking, Commercializer, Financial, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Biller Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HasQuery" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicador de consulta de saldo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HasTax" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicador de impuestos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Biller Name. Assigned by the service provider. Cannot be changed by the client.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pago / Recarga</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tax" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Porcentaje de impuestos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SvcProvider" type="eoBill:SvcProvider" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EnumBillAmtCode">
		<xs:annotation>
			<xs:documentation>Defined values:  MinAmtDue, MaxAmtDue, LateAmtDue, , MonthlyAmt, QuarterlyAmt, SemiAnnualAmt, AnnualAmt, ExtdAmt, Credits, StmtBal,  FinanceChg, Tip, Escrow, PMI, Donation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CurrentBalance"/>
			<xs:enumeration value="Discount"/>
			<xs:enumeration value="OverdueBalance"/>
			<xs:enumeration value="TotalBalance"/>
			<xs:enumeration value="TotalPmt"/>
			<xs:enumeration value="DisrespectAmt"/>
   <xs:enumeration value="NewBalance"/>
   <xs:enumeration value="AgreeBalance"/>
  </xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Bill">
		<xs:annotation>
			<xs:documentation>he Bill object and its associated messages provide the ability to deliver bill-related information, including bill summary information about a single bill, a billing statement, a notification (textual information sent from the biller to communicate information about the bill presentment service), or an invoice, depending on the value in the &lt;BillType&gt; element.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BillInvoiceDt" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bill date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillType" type="eoBill:EnumBillType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bill Type.

Defined values: Bill, Statement, Notice, Invoice.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CloseDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Closing statement date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DueDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment due date. If absent and &lt;BillType&gt; is Bill, the meaning is that the bill is due upon receipt.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Opening statement date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyRef" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party Reference Aggregate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Procedure" type="eoCom:ValueType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>- Descripción del Trámite,

- Número y descripción de la Boleta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdditionalInfo" type="eoBill:AdditionalInfo" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Billers" type="eoBill:Biller" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BillKey" type="eoBill:BillKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BillStatus" type="eoBill:BillStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BillSummAmt" type="eoBill:BillSummAmt" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdditionalInfo">
		<xs:annotation>
			<xs:documentation>Bill Additional Information</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0">
			<xs:element name="CustomInfo" type="eoCom:ValueType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Custom Information about the bill</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
