Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EO/Pmt/Pmt_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eo/Pmt_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoPmt="http://xmlns.banesco.com/eo/Pmt_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoTrn="http://xmlns.banesco.com/eo/Trn_V1.0" xmlns:eoBill="http://xmlns.banesco.com/eo/Bill_V1.0" xmlns:eoFee="http://xmlns.banesco.com/eo/Fee_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Fee_V1.0" schemaLocation="../Fee/Fee_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Bill_V1.0" schemaLocation="Bill_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Trn_V1.0" schemaLocation="../Banking/Trn_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../Acct/Acct_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../Common/Common_V1.0.xsd"/>
	<xs:complexType name="PmtDetailAmount">
		<xs:annotation>
			<xs:documentation>The equivalent amount in the currency to be credited.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AmtCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>CurAmt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EnumBillAmtCode">
		<xs:annotation>
			<xs:documentation>Defined values:  MinAmtDue, MaxAmtDue, LateAmtDue, , MonthlyAmt, QuarterlyAmt, SemiAnnualAmt, AnnualAmt, ExtdAmt, Credits, StmtBal,  FinanceChg, Tip, Escrow, PMI, Donation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CurrentBal"/>
			<xs:enumeration value="Discount"/>
			<xs:enumeration value="OverdueBalance"/>
			<xs:enumeration value="TotalBal"/>
			<xs:enumeration value="DisrespectAmt"/>
                        <xs:enumeration value="TotalPmt"/>
                        <xs:enumeration value="SubTotal"/>
                        <xs:enumeration value="TotalTax"/>
                         <xs:enumeration value="TotalBalance"/>
                        <xs:enumeration value="CurrentBalance"/>
                         <xs:enumeration value="NewBalance"/>                         
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PmtCreditDetail">
		<xs:annotation>
			<xs:documentation>Information related to the credit side of the payment. At least one occurrence is required. Multiple occurrences can be supplied for cases where a single payment (debit) has multiple associated credits,</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BillRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bill Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Category" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payer-assigned category for this credit side of the payment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtRefIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment reference identifier. Identifier for this credit side of the payment. Generated by the Payer, typically by the Accounts Payable system.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment Type.
Valid values include: Partial, Total, Normal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToAcctKeys" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account that is receiving the payment, i.e. account to be credited.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ForExDealKeys" type="eoPmt:ForExDealKeys" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CreditorData" type="eoPmt:CreditorData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Amt" type="eoPmt:PmtDetailAmount" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DebCredPartyData">
		<xs:annotation>
			<xs:documentation>Debtor or Creditor Party Data</xs:documentation>
		</xs:annotation>
		<xs:choice minOccurs="1" maxOccurs="1">
			<xs:element name="OrgData" type="eoPar:OrgData" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Organization Data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonData" type="eoPar:PersonData" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Person Data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="PmtStatus">
		<xs:annotation>
			<xs:documentation>Payment Status</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ApprovalIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Approval Identifier. This is an identifier that refers to an approval event that occurred at the authorizing server.
Elements of type Narrow Character are elements of character data type with the additional restriction that the only allowable characters are those contained within the ISO Latin-1 character set.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective Date/Time. The date/time that an associated action resulting in a change of state or status of an object took effect.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment Status Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment Status Description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DebtorData">
		<xs:annotation>
			<xs:documentation>Debtor Data.

In payment scenarios, Debtor refers to the payer of an obligation. DebtorData contains the information about the payer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DebtAuthCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bank Code Authorization</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebtorAcct" type="eoAcct:Acct" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Deptor Account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Debtor Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyRef" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party that owns the account to be debited.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyDebtorData" type="eoPmt:DebCredPartyData" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PmtKey">
		<xs:annotation>
			<xs:documentation>Payment Identifier.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PmtId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ForExDealKeys">
		<xs:annotation>
			<xs:documentation>Foreign Exchange Deal Keys Aggregate</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ForExDealId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Foreign Exchange Deal Identifier

??</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SvcIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Service Identifier consists of 2 elements that uniquely identify a service. The SvcProviderName uniquely identifies the provider and the SvcName uniquely identifies the service within the SPs implementation.

??</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Pmt">
		<xs:annotation>
			<xs:documentation>Payment Information Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CurAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total funding from debit account.

The details of payment amounts are in the PaymentCreditDetail(s). If this is not present, the amount to be debited from the funding account is assumed to be the sum of PaymentCreditDetail amounts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Currency Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DueDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment Due Date. The customer enters this date to represent the date the payment is due to arrive at the payee. May be modified by the customer.

xor PrcDt (Payment Processing Date)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtCommission" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto de la comisión cobrada por hacer una recarga a la tarjeta prepago.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtInsurance" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto del seguro cobrado por la recarga hecha a la tarjeta prepago.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtTrnDetail" type="eoTrn:Trn" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment Transaction Detail</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrcDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Processing Date. The customer enters this date as the original requested processing date, not corrected for holidays and non-processing days. May be modified by the customer.

xor DueDt (Payment Due Date)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcedureName" type="eoCom:ValueType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Procedure Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SvcProvider" type="eoBill:SvcProvider" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Service Provider. The Payment Provider initiates and manages payments on behalf of a retail or commercial customer</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtInstruction" type="eoPmt:PmtInstruction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PmtKey" type="eoPmt:PmtKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DebtorData" type="eoPmt:DebtorData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PmtStatus" type="eoPmt:PmtStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PmtCreditDetail" type="eoPmt:PmtCreditDetail" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorData">
		<xs:annotation>
			<xs:documentation>In payment scenarios, Creditor refers to the payee. CreditorData contains the information about the payee.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CreditorAcctNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de cuenta del Acreedor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyRef" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party that owns the account to be credited.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyCreditorData" type="eoPmt:DebCredPartyData" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PmtInstruction">
		<xs:annotation>
			<xs:documentation>Payment and Settlement Instruction.

The Payment Instruction aggregate communicates instructions for executing the transfer of funds.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountryCode" type="eoCom:Country" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeeChargeAlloc" type="eoFee:Fee" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bank Fee allocation information. Used to specify Who pays for the fee and how it is being distributed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FromAcctRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>From Account Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtFormat" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment Format.

Payment format for the specified settlement method.

Payment format. Payment format for the specified payment method above. For example, in ACH electronic transfer, the format can be CTX, CCD, CCDPlus, PPD, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtMethod" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment Method.

Intended to provide to the customer general method of payment.

Valid values include: ACH, BookEntry, CHAPS, Check, CHIPS, Concentrator, CreditNetwork, DebitNetwork, Draft, Electronic, ePay, FedNet, OutsourcedCheck, RPS, SWIFT.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica si se realizará un pago normal, pago especial o pago al extrafinanciamiento, reversión de pago, reversión de pago especial.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordStatus" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cuando es un pago normal sea cual sea el tipo el valor será nulo. En caso de que la operación sea un reverso el valor será “REVE”.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
