BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Canales/Votacion/ConsultarDetalleVotacion/V1/Schema/ConsultarOperacionMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/ConsultarOperacionMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ConsultarOperacionMO" xmlns:conOpeMO="http://www.bcie.org/ConsultarOperacionMO" xmlns:conOpeBO="http://www.bcie.org/ConsultarOperacionBO" xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import schemaLocation="ConsultarOperacionBO.xsd" namespace="http://www.bcie.org/ConsultarOperacionBO"/>
  <xsd:import schemaLocation="../../../../../Resources/ComponentesComunes/Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="requestConsultarOperacionMessage" type="conOpeMO:ConsultarOperacionRequest"/>
  <xsd:element name="responseConsultarOperacionMessage" type="conOpeMO:ConsultarOperacionResponse"/>
  <xsd:complexType name="ConsultarOperacionRequest">
    <xsd:sequence>
      <xsd:element name="operacion" type="conOpeBO:Operacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarOperacionResponse">
    <xsd:sequence>
      <xsd:element name="detalleOperacion" type="conOpeBO:DetalleOperacion"/>
      <xsd:element name="Result" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>