Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFAcctLoan/AcctLoanMortAdd/AcctLoanMortAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanMortAdd_V1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:appoptAcctLoanMortAdd="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanMortAdd_V1.0"
           xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
  <xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
             schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
  <xs:complexType name="PayIn">
    <xs:sequence>
      <xs:element name="ACDBRule" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="MandateRef" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PmtType" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="SettleActivity" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Settlement" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PayInAcctRef" type="appoptAcctLoanMortAdd:PayInAcctRef" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EnumIntRateType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="FECI1"/>
      <xs:enumeration value="PENALTYINT1"/>
      <xs:enumeration value="PRINCIPALINT"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditAcctPmtInfo">
    <xs:sequence>
      <xs:element name="PmtMethod" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Forma de pago</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcctLoanMortAddRq" type="appoptAcctLoanMortAdd:AcctLoanMortAddRq_Type"/>
  <xs:complexType name="Agreement">
    <xs:sequence>
      <xs:element name="AgreementType" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CreatedDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The date the agreement was created.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="DueDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Due Date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FulfillmentDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctLoanMortAddRq_Type">
    <xs:sequence>
      <xs:element name="AcctLoan" type="appoptAcctLoanMortAdd:Acct" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TaxData">
    <xs:annotation>
      <xs:documentation>Supports attributes with respect to taxes paid by an FI on behalf of the tax responsible party of an account.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TaxCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="TaxCondition" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="TaxType" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Acct">
    <xs:annotation>
      <xs:documentation>Account Information Aggregate. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AcctSubtype" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Account Subtype.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AutonomyCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Autonomias</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AutonomyUser" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Usuario que registro la autonomia</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClosedDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Closed Date.

Indicates the date the account closed.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClubBanesco" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indica si el producto pertenece al Club Banesco</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The CurrencyCode is used to express Currency codes and the authoritative source that defines them.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubCategory" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sub producto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Variation" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AcctMember" type="appoptAcctLoanMortAdd:AcctMember" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="IntRateData" type="appoptAcctLoanMortAdd:IntRateData" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CreditAcctData" type="appoptAcctLoanMortAdd:CreditAcctData" minOccurs="0" maxOccurs="1"/>
      <xs:element name="TaxData" type="appoptAcctLoanMortAdd:TaxData" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AcctOpeningInfo" type="appoptAcctLoanMortAdd:AcctOpeningInfo" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActivityCharge">
    <xs:sequence>
      <xs:element name="ActivityId" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ActivityChargeDetail" type="appoptAcctLoanMortAdd:ActivityChargeDetail" minOccurs="0"
                  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SettleInstruction">
    <xs:sequence>
      <xs:element name="ExeAutoPay" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="FromDay" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ToDay" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PayIn" type="appoptAcctLoanMortAdd:PayIn" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PayOut" type="appoptAcctLoanMortAdd:PayOut" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctKey">
    <xs:annotation>
      <xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcctReference" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AlternateId" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcctLoanMortAddRs" type="appoptAcctLoanMortAdd:AcctLoanMortAddRs_Type"/>
  <xs:complexType name="Term">
    <xs:annotation>
      <xs:documentation>Account Term.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ProposedTerm" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Proposed Term.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PmtDetail">
    <xs:sequence>
      <xs:element name="Freq" type="appoptcommon:Freq" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PmtTarget" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayOut">
    <xs:sequence>
      <xs:element name="Activity" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PayOutAcct" type="appoptAcctLoanMortAdd:AcctKey" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Property" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PropertyClass" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="SettleActivity" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Settlement" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditAcctData">
    <xs:annotation>
      <xs:documentation>Credit Account Data.

Used to maintain and retrieve data specific to credit products. Could have one register per CurrencyCode</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AuthType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de Mantenimiento (Autonomía)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BillsCombined" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CodeDestination" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Destino de fondos</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CollOfficer" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código Empresa de Cobros</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryDestination" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Pais de riesgo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CreditDestination" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Destino de los fondos</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FundsDestination" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Local o Extranjero</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FundsPurpose" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Uso de los fondos (Actividad)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrefRateExpDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fecha de vencimiento de la tasa preferencial</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PurposeDesc" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="RecalFrequency" type="appoptcommon:Freq" minOccurs="0" maxOccurs="1"/>
      <xs:element name="RefinanceDate" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fecha refinanciamiento</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RefinanceNum" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número préstamo refinanciado</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fecha de restructuración</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResNum" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número préstamo reestructurado</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RevResDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fecha de revisión reestructuración</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SourceSales" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fuente de información de ventas</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatusAdmin" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Estado Administrativo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="WritingType" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CreditRegularPmt" type="appoptAcctLoanMortAdd:CreditRegularPmt" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element name="Charge" type="appoptAcctLoanMortAdd:Charge" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Term" type="appoptAcctLoanMortAdd:Term" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CreditAcctPmtInfo" type="appoptAcctLoanMortAdd:CreditAcctPmtInfo" minOccurs="0" maxOccurs="1"/>
      <xs:element name="SettleInstruction" type="appoptAcctLoanMortAdd:SettleInstruction" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ActivityCharge" type="appoptAcctLoanMortAdd:ActivityCharge" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element name="Agreement" type="appoptAcctLoanMortAdd:Agreement" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyKey">
    <xs:annotation>
      <xs:documentation>Customer ID´s</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código del cliente asignado T24</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PayInAcctRef">
    <xs:sequence>
      <xs:element name="Activity" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>ACTIVIDAD QUE EJECUTA EL CARGO A CUENTA</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayInAcct" type="appoptAcctLoanMortAdd:AcctKey" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IntRateData">
    <xs:annotation>
      <xs:documentation>Interest Rate Data.

Interest rate information for debit and credit accounts.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AccrualRule" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IntDayBasis" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IntRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Porcentaje de interés.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntRateType" type="appoptAcctLoanMortAdd:EnumIntRateType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctMember">
    <xs:sequence>
      <xs:element name="PartyKey" type="appoptAcctLoanMortAdd:PartyKey" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PartyRole" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditRegularPmt">
    <xs:sequence>
      <xs:element name="Amt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1"/>
      <xs:element name="BillType" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Freq" type="appoptcommon:Freq" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PmtClass" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Clase de pago.

Ej: Capitalize, Due, Maintain, Pay.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PmtType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de pagos.

Ej: Pago de capital, Pago de capital e intereses etc.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PmtTargetDetail" type="appoptAcctLoanMortAdd:PmtTargetDetail" minOccurs="0"
                  maxOccurs="unbounded"/>
      <xs:element name="PmtDetail" type="appoptAcctLoanMortAdd:PmtDetail" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Charge">
    <xs:annotation>
      <xs:documentation>Charge Type
</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ChargeClass" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Clasificación del cargo.

- FIXED
- CALCULATE</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChargeType" type="appoptAcctLoanMortAdd:EnumChargeType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CurAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Charge Amount</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctLoanMortAddRs_Type">
    <xs:sequence>
      <xs:element name="AcctLoan" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>Account Information Aggregate. </xs:documentation>
          </xs:annotation>
          <xs:sequence>
            <xs:element name="AcctKey" type="appoptAcctLoanMortAdd:AcctKey" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ActivityChargeDetail">
    <xs:sequence>
      <xs:element name="ActivityMethod" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ChargeAutoSettle" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Period" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctOpeningInfo">
    <xs:sequence>
      <xs:element name="AgentArrId" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AgentId" type="appoptAcctLoanMortAdd:PartyKey" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>AGENT.ID</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InitialAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Initial Amount.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OpenDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Opening Date.

Opening date of object, usage depends on context.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RqReason" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="SaleOfficer" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Canal de venta</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PmtTargetDetail">
    <xs:sequence>
      <xs:element name="ActualAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EndDate" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
      <xs:element name="NumPayments" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Percentage" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="StartDate" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EnumChargeType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PAYOFFFEE"/>
      <xs:enumeration value="FWLAHIPOINVER"/>
      <xs:enumeration value="ADMIHIPNOPREF"/>
      <xs:enumeration value="ADMINHIPPREF"/>
      <xs:enumeration value="FIREHIPOBANE"/>
      <xs:enumeration value="HIPOLIVESURCHR"/>
      <xs:enumeration value="HIPO2LIVESURCH"/>
      <xs:enumeration value="UMBRELLAHIPOINS"/>
      <xs:enumeration value="HIPOLIFEBANE"/>
      <xs:enumeration value="HIPOFIDUBANE"/>
      <xs:enumeration value="ITBMSHIP"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>
