BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioCliente/Cliente/V1/Wsdl/BPEL/ActualizarClienteSOR.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions targetNamespace="http://xmlns.bcie.com/ClienteService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://xmlns.bcie.com/ClienteService" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:cliMO="http://www.bcie.org/ClienteMO">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/ClienteMO" schemaLocation="../../Schema/ClienteMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  
  <!-- Update -->
  <wsdl:message name="requestActualizarClienteMessage">
    <wsdl:part name="request" element="cliMO:ActualizarClienteRequest"/>
  </wsdl:message>
  <wsdl:message name="responseActualizarClienteMessage">
    <wsdl:part name="response" element="cliMO:ActualizarClienteResponse"/>
  </wsdl:message>
  <wsdl:message name="requestCrearClienteMessage">
    <wsdl:part name="request" element="cliMO:CrearClienteRequest"/>
  </wsdl:message>
  <wsdl:message name="responseCrearClienteMessage">
    <wsdl:part name="response" element="cliMO:CrearClienteResponse"/>
  </wsdl:message>
  <wsdl:portType name="ClientePT">
    <!-- Update -->  
    <wsdl:operation name="actualizarCliente">
      <wsdl:documentation>registra un Cliente</wsdl:documentation>
      <wsdl:input message="tns:requestActualizarClienteMessage"/>
      <wsdl:output message="tns:responseActualizarClienteMessage"/>
    </wsdl:operation>
    <!-- Create -->
    <wsdl:operation name="crearCliente">
      <wsdl:documentation>registra un Cliente</wsdl:documentation>
      <wsdl:input message="tns:requestCrearClienteMessage"/>
      <wsdl:output message="tns:responseCrearClienteMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarByIdCliente">
      <wsdl:input message="tns:requestConsultarClienteMessageByIdCliente"/>
      <wsdl:output message="tns:responseConsultarClienteMessageByIdCliente"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Cliente12Bnd" type="tns:ClientePT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarByIdCliente">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ClienteService/consultarByIdCliente"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!-- Update -->
    <wsdl:operation name="actualizarCliente">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ClienteService/actualizarCliente"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <!-- Create -->
    <wsdl:operation name="crearCliente">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ClienteService/crearCliente"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <message name="requestConsultarClienteMessageByIdCliente">
    <part name="request" element="cliMO:ConsultarClienteByIdClienteRequest"/>
  </message>
  <message name="responseConsultarClienteMessageByIdCliente">
    <part name="response" element="cliMO:ConsultarClienteResponse"/>
  </message>
</definitions>