BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/Utilidades/ConsultarRolUsuario/V1/Schema/ConsultarRolUsuarioMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ConsultarRolUsuarioMO"
            targetNamespace="http://www.bcie.org/ConsultarRolUsuarioMO" 
            elementFormDefault="qualified"
            xmlns:eqTrBO="http://www.bcie.org/EqipoTrabajo/V1"
            xmlns:conUsu="http://www.bcie.org/ConsultarRolUsuarioMO"
            xmlns:catBO="http://www.bcie.org/CatalogoBO"
            xmlns:resBO="http://www.bcie.org/ResultBO">
            
  <xsd:import schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd" 
              namespace="http://www.bcie.org/CatalogoBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" 
              namespace="http://www.bcie.org/ResultBO"/>
  
  <xsd:element name="ConsultarRolUsuarioRequest" type="conUsu:ConsultarRolUsuarioRequestType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConsultarRolUsuarioResponse" type="conUsu:ConsultarRolUsuarioResponseType"/>
  <xsd:complexType name="ConsultarRolUsuarioRequestType">
    <xsd:sequence>
      <xsd:element name="idRolUsuario" type="catBO:Catalogo" minOccurs="0" maxOccurs="1" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarRolUsuarioResponseType">
    <xsd:sequence>
      <xsd:element name="Descripcion" type="catBO:Catalogo" minOccurs="0" maxOccurs="1" />
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
