BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioContrato/Contrato/V1/Wsdl/Contrato.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://www.bcie.org/ContratoService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.bcie.org/ContratoService" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
             xmlns:conMO="http://www.bcie.org/ContratoMO"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/ContratoMO"
                  schemaLocation="../Schema/ContratoMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:portType name="ContratoPT">
    <wsdl:operation name="consultarContrato">
      <wsdl:input message="tns:ConsultarContratoRequestMessage"/>
      <wsdl:output message="tns:ConsultarContratoResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarConfiguracion">
      <wsdl:input message="tns:ConsultarConfiguracionTCCRequestMessage"/>
      <wsdl:output message="tns:ConsultarConfiguracionTCCResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarPlazoCondicion">
      <wsdl:input message="tns:ConsultarPlazoCondicionRequestMessage"/>
      <wsdl:output message="tns:ConsultarPlazoCondicionResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="actualizarTCCAprobacion">
      <wsdl:input message="tns:requestActualizarTCCAprobacionMessage"/>
      <wsdl:output message="tns:responseActualizarTCCAprobacionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultaContrato">
      <wsdl:input message="tns:ConsultaContratoRequestMessage"/>
      <wsdl:output message="tns:ConsultaContratoResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:message name="ConsultarConfiguracionTCCRequestMessage">
    <wsdl:part name="request" element="conMO:ConfigurarTCCRequest"/>
  </wsdl:message>
  <wsdl:message name="ConsultarConfiguracionTCCResponseMessage">
    <wsdl:part name="response" element="conMO:ConfigurarTCCResponse"/>
  </wsdl:message>  
  <wsdl:message name="requestActualizarTCCAprobacionMessage">
    <wsdl:part name="request" element="conMO:ActualizarTCCAprobacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseActualizarTCCAprobacionMessage">
    <wsdl:part name="response" element="conMO:ActualizarTCCAprobacionResponse"/>
  </wsdl:message>
  <wsdl:message name="ConsultarPlazoCondicionRequestMessage">
    <wsdl:part name="request" element="conMO:ConsultarPlazoCondicionRequest"/>
  </wsdl:message>
  <wsdl:message name="ConsultarPlazoCondicionResponseMessage">
    <wsdl:part name="response" element="conMO:ConsultarPlazoCondicionResponse"/>
  </wsdl:message>
  <message name="ConsultarContratoRequestMessage">
    <part name="request" element="conMO:ConsultarContratoByIdOperacionRequest"/>
  </message>
  <message name="ConsultarContratoResponseMessage">
    <part name="response" element="conMO:ConsultarContratoByIdOperacionResponse"/>
  </message>
  <message name="ConsultaContratoResponseMessage">
    <part name="response" element="conMO:ConsultarContratoResponse"/>
  </message>
  <wsdl:binding name="Contrato12Bnd" type="tns:ContratoPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarContrato">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ContratoService/consultarContrato"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarConfiguracion">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ContratoService/consultarConfiguracion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="consultarPlazoCondicion">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ContratoService/consultarPlazoCondicion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarTCCAprobacion">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ActualizarTCCAprobacionService/actualizarTCCAprobacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultaContrato">
      <soap12:operation soapAction="http://www.bcie.org/ContratoService/consultarContrato" style="document"/>
      <wsdl:input>
        <soap12:body/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="ConsultaContratoRequestMessage">
    <wsdl:part name="ConsultaContratoRequest" element="conMO:ConsultaContratoRequest"/>
  </wsdl:message>
</wsdl:definitions>