BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ConsultarOperacionByIDOperacion/XSD/ConsultarOperacionByIdOperacion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarOperacionByIdOperacion" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarOperacionByIdOperacion" elementFormDefault="qualified" attributeFormDefault="qualified">
	<xs:complexType name="ConsultarOperacionByIdOperacionInput">
		<xs:sequence>
			<xs:element name="idOperacion" type="xs:decimal" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsultarOperacionByIdOperacionOutputCollection">
		<xs:sequence>
			<xs:element name="ConsultarOperacionByIdOperacionOutput" type="ConsultarOperacionByIdOperacionOutput" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConsultarOperacionByIdOperacionOutput">
		<xs:sequence>
			<xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
			<xs:element name="ID_PRODUCTO" type="xs:decimal" nillable="true"/>
			<xs:element name="ID_TCA_TIPO_MONEDA" nillable="true" type="xs:int"/>
			<xs:element name="TIPO_MONEDA" nillable="true" type="xs:string"/>
			<xs:element name="PRODUCTO" type="xs:string" nillable="true"/>
			<xs:element name="ID_FLEXCUBE" type="xs:string" nillable="true"/>
			<xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
			<xs:element name="USUARIO_OPERACION" type="xs:string" nillable="true"/>
			<xs:element name="ID_CLIENTE" type="xs:decimal" nillable="true"/>
			<xs:element name="NOMBRE" type="xs:string" nillable="true"/>
			<xs:element name="MONTO_SOLICITADO" type="xs:decimal" nillable="true"/>
			<xs:element name="MONTO_TOTAL" type="xs:decimal" nillable="true"/>
			<xs:element name="CODIGO_OFICINA" type="xs:string" nillable="true"/>
			<xs:element name="UNIDAD_EJECUTORA" type="xs:string" nillable="true"/>
			<xs:element name="OFICINA" type="xs:string" nillable="true"/>
			<xs:element name="RAZON_SOCIAL" type="xs:string" nillable="true"/>
			<xs:element name="ABREVIATURA" type="xs:string" nillable="true"/>
			<xs:element name="CLIENTE_EJECUTIVO" type="xs:string" nillable="true"/>
			<xs:element name="CODIGO_PAIS" type="xs:string" nillable="true"/>
			<xs:element name="PAIS" type="xs:string" nillable="true"/>
			<xs:element name="ID_CANTIDAD_PAISES" type="xs:int"/>
			<xs:element name="CANTIDAD_PAISES" type="xs:string" nillable="true"/>
			<xs:element name="TIPO_IDENTIFICACION" type="xs:string" nillable="true"/>
			<xs:element name="NUMERO_IDENTIFICACION" type="xs:string" nillable="true"/>
			<xs:element name="TIPO_INSTITUCION" type="xs:string" nillable="true"/>
			<xs:element name="ID_TIPO_PERSONA" type="xs:decimal"/>
			<xs:element name="TIPO_PERSONA" type="xs:string" nillable="true"/>
			<xs:element name="TIPO_PERSONA_COD_EXTERNO" type="xs:string" nillable="true"/>
			<xs:element name="GRUPO_ECONOMICO" type="xs:string" nillable="true"/>
			<xs:element name="ID_GRUPO_ECONOMICO" type="xs:decimal"/>
			<xs:element name="COD_EXTERNO_GE" type="xs:string" nillable="true"/>
			<xs:element name="USUARIO" type="xs:string" nillable="true"/>
			<xs:element name="ETAPA" type="xs:decimal" nillable="true"/>
			<xs:element name="CALIFICACIONRIESGO" type="xs:string" nillable="true"/>
			<xs:element name="MONEDA" type="xs:string" nillable="true"/>
			<xs:element name="ID_ACTIVIDAD_ECONOMICA" type="xs:int"/>
			<xs:element name="ACTIVIDAD_ECONOMICA" type="xs:string" nillable="true"/>
			<xs:element name="COD_EXT_ACTIVIDAD_ECONOMICA" type="xs:string" nillable="true"/>
			<xs:element name="ID_ACTIVIDAD_ECONOMICA_ASO" type="xs:int"/>
			<xs:element name="ACTIVIDAD_ECONOMICA_ASO" type="xs:string" nillable="true"/>
			<xs:element name="COD_EXT_ACTIVIDAD_ECONOMIC_ASO" type="xs:string" nillable="true"/>
			<xs:element name="OBJETIVOS_ESTRATEGICOS" type="xs:decimal" nillable="true"/>
			<xs:element name="ID_AREA_FOCALIZACION" type="xs:int"/>
			<xs:element name="AREA_FOCALIZACION" type="xs:string" nillable="true"/>
			<xs:element name="ID_EJE_ESTRATEGICO" type="xs:int"/>
			<xs:element name="EJE_ESTRATEGICO" type="xs:string" nillable="true"/>
			<xs:element name="COD_EJE_ESTRATEGICO" type="xs:string" nillable="true"/>
			<xs:element name="ID_INICIATIVA_ESTRATEGICA" type="xs:int"/>
			<xs:element name="INICIATIVA_ESTRATEGICA" type="xs:string" nillable="true"/>
			<xs:element name="SECTOR" type="xs:string" nillable="true"/>
			<xs:element name="SECTOR_COD_EXTERNO" type="xs:string" nillable="true"/>
			<xs:element name="ID_SECTOR_MERCADO" type="xs:int" nillable="true"/>
			<xs:element name="SECTOR_MERCADO" type="xs:string" nillable="true"/>
			<xs:element name="FECHA_INICIO" type="xs:date" nillable="true"/>
			<xs:element name="PROGRAMADO_POA" type="xs:int" nillable="true"/>
			<xs:element name="ID_EJERCICIO_POA" type="xs:int" nillable="true"/>
			<xs:element name="EJERCICIO_POA" type="xs:int" nillable="true"/>
			<xs:element name="ID_TIPO_GARANTIA" type="xs:int" nillable="true"/>
			<xs:element name="TIPO_GARANTIA" type="xs:string" nillable="true"/>
			<xs:element name="COMPONENTE_CONCECIONALIDAD" type="xs:int" nillable="true"/>
			<xs:element name="ESTRUCTURADOR" type="xs:string" nillable="true"/>
			<xs:element name="BENEFICIARIO" type="xs:string" nillable="true"/>
			<xs:element name="PROGRAMA" type="xs:string" nillable="true"/>
			<xs:element name="STATUS" type="xs:string" nillable="true"/>
			<xs:element name="FECHA_BAJA" type="xs:dateTime" nillable="true"/>
			<xs:element name="ID_SCR" type="xs:int"/>
			<xs:element name="SCR" type="xs:string"/>
			<xs:element name="SCR_DESC_CORTA" type="xs:string"/>
			<xs:element name="SCR_COD_EXTERNO" type="xs:string"/>
			<xs:element name="RAROC" type="xs:int"/>
			<xs:element name="TIR" type="xs:int"/>
			<xs:element name="REQUIERE_RECURSOS_EXT" type="xs:int"/>
			<xs:element name="APLICA_LAFT" type="xs:int"/>
			<xs:element name="ESTADO" type="xs:int"/>
			<xs:element name="SCR_ESTATUS" type="xs:string"/>
			<xs:element name="TIR_ESTATUS" type="xs:string"/>
			<xs:element name="Operacion_ETAPA" type="xs:decimal" nillable="true"/>
			<xs:element name="JUSTIFICACION_ENVIO" type="xs:string" nillable="true"/>
			<xs:element name="ES_FACTIBLE" type="xs:decimal" nillable="true"/>
			<xs:element name="ID_TCA_TIPO_TASA" type="xs:decimal" nillable="true"/>
			<xs:element name="TASA_DESEM_DESCRIPCION" type="xs:string" nillable="true"/>
			<xs:element name="TASA_DESEM_DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
			<xs:element name="TASA_DESEM_COD_EXTERNO" type="xs:string" nillable="true"/>
			<xs:element name="CODIGO_TASA_REFERENCIA" type="xs:string" nillable="true"/>
			<xs:element name="VALOR_TASA" type="xs:decimal" nillable="true"/>
			<xs:element name="VALOR_SPREAD" type="xs:decimal" nillable="true"/>
			<xs:element name="FECHA_FINALIZACION_ESTUDIOS" type="xs:dateTime" nillable="true"/>
			<xs:element name="FECHA_CALCULO_INTERES" type="xs:dateTime" nillable="true"/>
			<xs:element name="ID_PERSPECTIVA" type="xs:int" nillable="true"/>
			<xs:element name="DESCRIPCION_PERSPECTIVA" type="xs:string" nillable="true"/>
			<xs:element name="ID_SECTOR" type="xs:int" nillable="true"/>
			<xs:element name="DESCRIPCION_ESTADO" type="xs:string" nillable="true"/>
			<xs:element name="DESCRIPCION_CORTA_ESTADO" type="xs:string" nillable="true"/>
			<xs:element name="ID_CONTRATO" type="xs:int"/>
			<xs:element name="FECHA_FIRMA" type="xs:dateTime" nillable="true"/>
			<xs:element name="FECHA_VIGENCIA" type="xs:dateTime" nillable="true"/>
			<xs:element name="MONTO_ESCRITURADO" type="xs:int" nillable="true"/>
			<xs:element name="CUENTA_CLIENTE" type="xs:string" nillable="true"/>
			<xs:element name="INSTANCIA_PROCESO" type="xs:string" nillable="true"/>
			<xs:element name="ID_SCR_CLIENTE" type="xs:int"/>
			<xs:element name="DESCRIPCION_SCR_CLIENTE" type="xs:string"/>
			<xs:element name="DESCRIPCION_CORTA_SCR_CLIENTE" type="xs:string"/>
			<xs:element name="CODIGO_EXTERNO_SCR_CLIENTE" type="xs:string"/>
			<xs:element name="ESTADO_SCR_CLIENTE" type="xs:string"/>
			<xs:element name="ES_MULTISECTORIAL" type="xs:int"/>
                        <xs:element name="NOMBRE_DEL_COMPONENTE" type="xs:string"/>
			<xs:element name="DESCRIPCION_DEL_COMPONENTE" type="xs:string"/>
			<xs:element name="PORCENTAJE" type="xs:int"/>
			<xs:element name="FECHA_REGISTRO" type="xs:date"/>
			<xs:element name="ID_ACTIVIDAD_ECONOMICA_CE" type="xs:int"/>
			<xs:element name="ACTIVIDAD_ECONOMICA_CE" type="xs:string" nillable="true"/>
			<xs:element name="COD_EXT_ACTIVIDAD_ECONOMICA_CE" type="xs:string" nillable="true"/>
			<xs:element name="ID_INICIATIVA_ESTRATEGICA_CE" type="xs:int"/>
			<xs:element name="INICIATIVA_ESTRATEGICA_CE" type="xs:string" nillable="true"/>
			<xs:element name="ID_CANTIDAD_PAISES_CE" type="xs:int"/>
			<xs:element name="CANTIDAD_PAISES_CE" type="xs:string" nillable="true"/>
			<xs:element name="ID_ACTIVIDAD_ECONOMICA_ASO_CE" type="xs:int"/>
			<xs:element name="ACTIVIDAD_ECONOMICA_ASO_CE" type="xs:string" nillable="true"/>
			<xs:element name="CODEXT_ACT_ECONOMIC_ASO_CE" type="xs:string" nillable="true"/>
			<xs:element name="ID_AREA_FOCALIZACION_CE" type="xs:int"/>
			<xs:element name="AREA_FOCALIZACION_CE" type="xs:string" nillable="true"/>
			<xs:element name="ID_EJE_ESTRATEGICO_CE" type="xs:int"/>
			<xs:element name="EJE_ESTRATEGICO_CE" type="xs:string" nillable="true"/>
			<xs:element name="COD_EJE_ESTRATEGICO_CE" type="xs:string" nillable="true"/>
			<xs:element name="ID_CLASIFICACION_ESTRATEGICA" type="xs:int" nillable="true"/>
			<xs:element name="CSI_ID" type="xs:int" nillable="true"/>
			<xs:element name="CSI_DESCRIPCION" type="xs:string" nillable="true"/>
			<xs:element name="CSI_DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
			<xs:element name="CSI_FECHA_REGISTRO" type="xs:date" nillable="true"/>
			<xs:element name="CSI_BAN_ESTATUS" type="xs:string" nillable="true"/>
			<xs:element name="CSI_COD_EXTERNO" type="xs:string" nillable="true"/>
			<xs:element name="TCA_ENC_ID" type="xs:int" nillable="true"/>
			<xs:element name="TCA_ENC_DESCRIPCION" type="xs:string" nillable="true"/>
			<xs:element name="TCA_ENC_DES_CORTA" type="xs:string" nillable="true"/>
			<xs:element name="TCA_ENC_FECHA_REGISTRO" type="xs:date" nillable="true"/>
			<xs:element name="TCA_ENC_BAN_ESTATUS" type="xs:string" nillable="true"/>
			<xs:element name="ID_SECTOR_INSTITUCIONAL" type="xs:int" nillable="true"/>
			<xs:element name="ID_ENCARGADO" type="xs:int" nillable="true"/>
			<xs:element name="ID_TCA_ROL_ENCARGADO" type="xs:int" nillable="true"/>
			<xs:element name="DESCRIPCION_ROL_ENCARGADO" type="xs:string" nillable="true"/>
			<xs:element name="TCA_ENC_CODIGO_EXTERNO" type="xs:string" nillable="true"/>
			<xs:element name="UBICACION_PROYECTO" type="xs:string" nillable="true"/>
			<xs:element name="ID_SECTOR_IBCIE" type="xs:string" nillable="true"/>
			<xs:element name="SECTOR_IBCIE_DESCRIPCION" type="xs:string" nillable="true"/>
			<xs:element name="ID_SUBSECTOR_IBCIE" type="xs:string" nillable="true"/>
			<xs:element name="SUBSECTOR_IBCIE_DESCRIPCION" type="xs:string" nillable="true"/>
			<xs:element name="ID_CAT_PAIS" type="xs:int" nillable="true"/>
                        <xs:element name="DESCRIPCION_PAIS" type="xs:string" nillable="true"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ConsultarOperacionByIdOperacionInput" type="ConsultarOperacionByIdOperacionInput"/>
	<xs:element name="ConsultarOperacionByIdOperacionOutputCollection" type="ConsultarOperacionByIdOperacionOutputCollection"/>
</xs:schema>
