MIRA/SOA_PRD_Almacenes/ModifySupplierProcess/SOA/WSDLs/ModifySupplierProcess.WSDL

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="ModifySupplierProcess" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Supplier/ModifySupplierProcess/v1.0" xmlns:tns="http://mx.agarcia.ea/Capabilities/Core/Supplier/ModifySupplierProcess/v1.0" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" schemaLocation="../Schemas/Commons/SupplierEntitySchema.xsd"/>
         <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../Schemas/Commons/AGStandardMessageSchema.xsd"/>
         <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../Schemas/Commons/AGStandardHeaderSchema.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="modifyRequest">
      <wsdl:part name="part1" element="inp1:modifyRequest"/>
   </wsdl:message>
   <wsdl:message name="modifyResponse">
      <wsdl:part name="part1" element="inp1:modifyResponse"/>
   </wsdl:message>
   <wsdl:message name="standardMessageFault">
      <wsdl:part name="part1" element="AGSM:messageError"/>
   </wsdl:message>
   <wsdl:message name="standardMessageHeader">
      <wsdl:part name="header" element="AGSH:headerMessage"/>
   </wsdl:message>
   <wsdl:portType name="ModifySupplierPType">
      <wsdl:operation name="modifySupplierPType">
         <wsdl:input message="tns:modifyRequest"/>
         <wsdl:output message="tns:modifyResponse"/>
         <wsdl:fault name="fault" message="tns:standardMessageFault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ModifySupplierBinding" type="tns:ModifySupplierPType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="modifySupplierPType">
         <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Supplier/ModifySupplierProcess/v1.0/modifySupplierPType"/>
         <wsdl:input>
            <soap:body use="literal" parts="part1"/>
            <soap:header message="tns:standardMessageHeader" part="header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="part1"/>
         </wsdl:output>
         <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
