BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ConsultarClienteProceso/V1/Schema/ConsultarClienteProcesoBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ConsultarClienteProcesoBO"
            targetNamespace="http://www.bcie.org/ConsultarClienteProcesoBO" elementFormDefault="qualified">
  <xsd:complexType name="ClienteProceso">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element name="idCliente" type="xsd:long"/>
      <xsd:element name="idProceso" type="xsd:long"/>
      <xsd:element name="estatus" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
