BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/DominioOperacion/Evaluacion/V1/Schema/EvaluacionMO.xsd

<?xml version="1.0" encoding="windows-1252"?>
<!-- edited with XMLSpy v2015 sp1 (x64) (http://www.altova.com) by Cesar Varela (Television Internacional) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:evaMO="http://www.bcie.org/EvaluacionMO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:evaBO="http://www.bcie.org/EvaluacionBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:operBO="http://www.bcie.org/OperacionBO" targetNamespace="http://www.bcie.org/EvaluacionMO" elementFormDefault="qualified">
	<xsd:import namespace="http://www.bcie.org/EvaluacionBO" schemaLocation="EvaluacionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"/>
	<!-- Mensajes -->
	<xsd:element name="CrearEvaluacionRequest" type="evaMO:CrearEvaluacionRequestType"/>
	<xsd:element name="CrearEvaluacionResponse" type="evaMO:CrearEvaluacionResponseType"/>
	<xsd:element name="EliminarEvaluacionRequest" type="evaMO:EliminarEvaluacionRequestType"/>
	<xsd:element name="EliminarEvaluacionResponse" type="evaMO:EliminarEvaluacionResponseType"/>
	<xsd:element name="ConsultarCuestionarioRequest" type="evaMO:ConsultarCuestionarioRequestType"/>
	<xsd:element name="ConsultarCuestionarioResponse" type="evaMO:ConsultarCuestionarioResponseType"/>
	<xsd:element name="EliminarCuestionarioRequest" type="evaMO:EliminarCuestionarioRequestType"/>
	<xsd:element name="EliminarCuestionarioResponse" type="evaMO:EliminarCuestionarioResponseType"/>
	<xsd:element name="ConsultarEvaluacionRequest" type="evaMO:ConsultarEvaluacionRequestType"/>
	<xsd:element name="ConsultarEvaluacionResponse" type="evaMO:ConsultarEvaluacionResponseType"/>
	<xsd:element name="ActualizarPreguntaEVALRequest" type="evaMO:ActualizarPreguntaEVALRequestType"/>
	<xsd:element name="ActualizarPreguntaEVALResponse" type="evaMO:ActualizarPreguntaEVALResponseType"/>
	<xsd:element name="DuplicarEvaluacionRequest" type="evaMO:DuplicarEvaluacionRequestType"/>
	<xsd:element name="DuplicarEvaluacionResponse" type="evaMO:DuplicarEvaluacionResponseType"/>
	<xsd:element name="CompensarEvaluacionRequest" type="evaMO:CompensarEvaluacionRequestType"/>
	<xsd:element name="CompensarEvaluacionResponse" type="evaMO:CompensarEvaluacionRespnseType"/>
	<xsd:element name="ConsultarTipoEvaluacionRequest" type="evaMO:ConsultarTipoEvaluacionRequestType"/>
	<xsd:element name="ConsultarTipoEvaluacionResponse" type="evaMO:ConsultarTipoEvaluacionResponseType"/>
	<xsd:element name="ConsultarEvaluacionFenixRequest" type="evaMO:ConsultarEvaluacionFenixRequestType"/>
	<xsd:element name="ConsultarEvaluacionFenixResponse" type="evaMO:ConsultarEvaluacionFenixResponseType"/>
	<xsd:element name="DuplicarEvaluacionEVALRequest" type="evaMO:DuplicarEvaluacionEVALRequestType"/>
	<xsd:element name="DuplicarEvaluacionEVALResponse" type="evaMO:DuplicarEvaluacionEVALResponseType"/>
 <xsd:element name="EnviarEvaluacionRequest" type="evaMO:EnviarEvaluacionRequestType"/>
 <xsd:element name="EnviarEvaluacionResponse" type="evaMO:EnviarEvaluacionResponseType"/>
 <!-- Tipos de los mensajes -->
	<!-- Create -->
	<!-- Carga de Operacions-->
	<xsd:complexType name="CrearEvaluacionRequestType">
		<xsd:sequence>
			<xsd:element name="Evaluaciones" type="evaBO:Evaluaciones" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CrearEvaluacionResponseType">
		<xsd:sequence>
			<xsd:element name="Evaluaciones" type="evaBO:Evaluaciones" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarEvaluacionRequestType">
		<xsd:sequence>
			<xsd:element name="id" type="evaBO:id" minOccurs="1" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarEvaluacionResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarCuestionarioRequestType">
		<xsd:sequence>
			<xsd:element name="idEvaluacion" type="evaBO:idEvaluacion" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Cuestionario" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Operacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="nombreUsuario" type="xsd:string" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarCuestionarioResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarCuestionarioRequestType">
		<xsd:sequence>
			<xsd:element name="idOperacion" type="evaBO:id"/>
			<xsd:element name="SectorIBCIE" type="xsd:string"/>
			<xsd:element name="subSectorIBCIE" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarCuestionarioResponseType">
		<xsd:sequence>
			<xsd:element name="Cuestionarios" type="evaBO:Cuestionarios"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarEvaluacionRequestType">
		<xsd:sequence>
			<xsd:element name="Evaluacion" type="evaBO:Evaluacion"/>
			<xsd:element name="Tarea" type="catBO:Catalogo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarEvaluacionResponseType">
		<xsd:sequence>
			<xsd:element name="Evaluaciones" type="evaBO:Evaluaciones"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Fin Create -->
	<xsd:complexType name="ActualizarPreguntaEVALRequestType">
		<xsd:sequence>
			<xsd:element name="idOperacion" type="operBO:idOperacion"/>
			<xsd:element name="scr" type="xsd:string"/>
			<xsd:element name="tir" type="xsd:decimal"/>
			<xsd:element name="raroc" type="xsd:decimal"/>
			<xsd:element name="fecha" type="xsd:dateTime"/>
			<xsd:element name="codigoUsuario" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarPreguntaEVALResponseType">
		<xsd:sequence>
			<xsd:element name="codigoResultadoOut" type="xsd:decimal"/>
			<xsd:element name="tipoResultadoOut" type="xsd:decimal"/>
			<xsd:element name="mensajeOut" type="xsd:string"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DuplicarEvaluacionRequestType">
		<xsd:sequence>
			<xsd:element name="Evaluacion" type="evaBO:EVALType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DuplicarEvaluacionResponseType">
		<xsd:sequence>
			<xsd:element name="idEvaluacion" type="xsd:decimal"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CompensarEvaluacionRequestType">
		<xsd:sequence>
			<xsd:element name="Evaluacion" type="evaBO:EVALType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CompensarEvaluacionRespnseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarTipoEvaluacionRequestType">
		<xsd:sequence>
			<xsd:element name="idTipoEvaluacion" type="xsd:decimal" minOccurs="0"/>
			<xsd:element name="codExterno" type="xsd:decimal" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarTipoEvaluacionResponseType">
		<xsd:sequence>
			<xsd:element name="tipoEvaluacion" type="catBO:Catalogo" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarEvaluacionFenixRequestType">
		<xsd:sequence>
			<xsd:element name="idOperacion" type="operBO:idOperacion"/>
			<xsd:element name="idTipoEvaluacion" type="xsd:decimal" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarEvaluacionFenixResponseType">
		<xsd:sequence>
			<xsd:element name="Evaluaciones" type="evaBO:Evaluaciones"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DuplicarEvaluacionEVALRequestType">
		<xsd:sequence>
			<xsd:element name="Evaluacion" type="evaBO:EVALType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DuplicarEvaluacionEVALResponseType">
		<xsd:sequence>
			<xsd:element name="codigoEvaluacion" type="xsd:decimal"/>
			<xsd:element name="codigoResultadoOut" type="xsd:decimal"/>
			<xsd:element name="tipoResultadoOut" type="xsd:decimal"/>
			<xsd:element name="mensajeOut" type="xsd:string"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
 <xsd:complexType name="EnviarEvaluacionRequestType">
  <xsd:sequence>
   <xsd:element name="IdEvaluacion" type="xsd:decimal"/>
   <xsd:element name="Version" type="xsd:decimal"/>
   <xsd:element name="IdCuestionario" type="xsd:decimal"/>
   <xsd:element name="VersionModelo" minOccurs="0" type="xsd:decimal"/>
   <xsd:element name="LoginUsuario" type="xsd:string"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="EnviarEvaluacionResponseType">
  <xsd:sequence>
   <xsd:element name="EnviarEvaluacion" minOccurs="0" type="evaMO:EnviarEvaluacionType"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="EnviarEvaluacionType">
  <xsd:sequence>
   <xsd:element name="CorreosEnviados" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>
