BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ConsultarClienteProceso/V1/Schema/ConsultarClienteProcesoMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ConsultarClienteProcesoMO"
            targetNamespace="http://www.bcie.org/ConsultarClienteProcesoMO" elementFormDefault="qualified"
            xmlns:cliProBO="http://www.bcie.org/ConsultarClienteProcesoBO" xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import namespace="http://www.bcie.org/ConsultarClienteProcesoBO" schemaLocation="ConsultarClienteProcesoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
  <xsd:element name="ConsultarClienteProcesoRequest" type="ConsultarClienteProcesoRequestType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ConsultarClienteProcesoResponse" type="ConsultarClienteProcesoResponseType"/>
  <xsd:complexType name="ConsultarClienteProcesoRequestType">
    <xsd:sequence>
      <xsd:element name="ClienteProceso" type="cliProBO:ClienteProceso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarClienteProcesoResponseType">
    <xsd:sequence>
      <xsd:element name="ClienteProceso" type="cliProBO:ClienteProceso"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
