Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/BpaAgreementConsult/ConsultadeacuerdosResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.temenos.com/T24/ofs/Response" targetNamespace="http://www.temenos.com/T24/ofs/Response" xmlns:rescns="http://www.temenos.com/T24/ofs/ResponseCommon" xmlns:ns0="http://www.temenos.com/T24/ofs/BPAWSAGREEMENTCONSULTType">
<xsd:import namespace="http://www.temenos.com/T24/ofs/ResponseCommon" schemaLocation="ResponseCommonType.xsd"/>
<xsd:import namespace="http://www.temenos.com/T24/ofs/BPAWSAGREEMENTCONSULTType" schemaLocation="BPAWSAGREEMENTCONSULTType.xsd"/>
<xsd:element name="BPAWSAGREEMENTCONSULTResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="ResponseCommon" type="rescns:ResponseCommonType"/>
<xsd:element minOccurs="0" name="BPAWSAGREEMENTCONSULT" type="ns0:BPAWSAGREEMENTCONSULTType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
