BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/REP/PropagarSCR_TIR/XSD/PropagarSCR_TIR.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/PropagarSCR_TIR" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/PropagarSCR_TIR" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="PropagarSCR_TIRInput" type="PropagarSCR_TIRInput"/>
   <xs:complexType name="PropagarSCR_TIRInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="PropagarSCR_TIROutputCollection" type="PropagarSCR_TIROutputCollection"/>
   <xs:complexType name="PropagarSCR_TIROutputCollection">
      <xs:sequence>
         <xs:element name="PropagarSCR_TIROutput" type="PropagarSCR_TIROutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PropagarSCR_TIROutput">
      <xs:sequence>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="SCR" type="xs:string" nillable="true"/>
         <xs:element name="TIR" type="xs:decimal" nillable="true"/>
         <xs:element name="RAROC" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_FLEXCUBE" type="xs:string" nillable="true"/>
         <xs:element name="ESTADO" type="xs:decimal" nillable="true"/>
         <xs:element name="OBSERVACION" type="xs:string" nillable="true"/>
         <xs:element name="FECHA" type="xs:dateTime" nillable="true"/>
         <xs:element name="USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="USUARIOMODIFICO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>