BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/CrearAvisoCobro/XSD/AvisoCobroDetallado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:hom="http://www.bcie.org/herramientaOfismatica/AvisoDetallado"
            targetNamespace="http://www.bcie.org/herramientaOfismatica/AvisoDetallado" elementFormDefault="qualified"
            attributeFormDefault="unqualified">
  <xsd:complexType name="aviso">
    <xsd:sequence>
      <xsd:element name="resumen" type="hom:resumen" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="resumen">
    <xsd:sequence>
      <xsd:element name="fechaEmision" type="xsd:string"/>
      <xsd:element name="pais" type="xsd:string"/>
      <xsd:element name="cliente" type="xsd:string"/>
      <xsd:element name="operacion" type="xsd:string"/>
      <xsd:element name="moneda" type="xsd:string"/>
      <xsd:element name="tipoReporte" type="xsd:string"/>
      <xsd:element name="resumenPago" type="hom:fechaPago" maxOccurs="unbounded"/>
      <xsd:element name="Comentario1" maxOccurs="unbounded" type="hom:comentario1">
        <xsd:annotation/>
      </xsd:element>
      <xsd:element name="lstBancos" type="hom:datosBanco" maxOccurs="unbounded"/>
      <xsd:element name="Comentario2" maxOccurs="unbounded" type="hom:comentario2">
        <xsd:annotation/>
      </xsd:element>
      <xsd:element name="detalleCalculo" maxOccurs="unbounded" type="hom:fechaDetalleCalculo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="saldos">
    <xsd:sequence>
      <xsd:element name="linea" type="xsd:string"/>
      <xsd:element name="lstLinea" type="hom:linea" maxOccurs="unbounded"/>
      <xsd:element name="lstSubtotales" maxOccurs="unbounded" type="hom:subTotales">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="linea">
    <xsd:sequence>
      <xsd:element name="lstFondo" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="desembolso" type="xsd:string"/>
            <xsd:element name="capital" type="xsd:string"/>
            <xsd:element name="intereses" type="xsd:string"/>
            <xsd:element name="interesesMoratorios" type="xsd:string"/>
            <xsd:element name="comisionCompromiso" type="xsd:string"/>
            <xsd:element name="otrasComisiones" type="xsd:string"/>
            <xsd:element name="totalSaldo" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fondo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="subTotales">
    <xsd:sequence>
      <xsd:element name="fechaPago" type="xsd:string"/>
            <xsd:element name="totalCapital" type="xsd:string"/>
            <xsd:element name="totalIntereses" type="xsd:string"/>
      <xsd:element name="totalInteresesMoratorios" type="xsd:string"/>
      <xsd:element name="totalComisionCompromiso" type="xsd:string"/>
            <xsd:element name="totalOtrasComisiones" type="xsd:string"/>
            <xsd:element name="total" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="comentario1">
    <xsd:sequence>
      <xsd:element name="comentario" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="comentario2">
    <xsd:sequence>
      <xsd:element name="comentario" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="comentario3">
    <xsd:sequence>
      <xsd:element name="comentario" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>  
  <xsd:complexType name="fechaPago">
    <xsd:sequence>
      <xsd:element name="fecha" type="xsd:string"/>
      <xsd:element name="encabezado" type="xsd:string"/>
      <xsd:element name="incluyeMoratorio" type="xsd:string"/>
      <xsd:element name="saldos" type="hom:saldos" maxOccurs="unbounded"/>
      <xsd:element name="fechaPago" type="xsd:string"/>
      <xsd:element name="Comentario3" type="hom:comentario3" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="capitalVencido" type="xsd:string"/>
      <xsd:element name="interesesVencidos" type="xsd:string"/>
      <xsd:element name="interesesMoratorios" type="xsd:string"/>
      <xsd:element name="comisionCompromisoVencida" type="xsd:string"/>
      <xsd:element name="otrasComisionesVencidas" type="xsd:string"/>
      <xsd:element name="totalVencido" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="fechaDetalleCalculo">
    <xsd:sequence>
      <xsd:element name="linea" type="xsd:string"/>
      <xsd:element name="tablaDetalle" type="hom:detalleCalculo" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="tablaDetalle">
    <xsd:sequence>
      <xsd:element name="detalleCalculo" type="hom:detalleCalculo" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="detalleCalculo">
    <xsd:sequence>
      <xsd:element name="tipoTabla" type="xsd:string"/>
      <xsd:element name="fondo" type="xsd:string"/>
      <xsd:element name="blTotales" type="xsd:string"/>
      <xsd:element name="lstDesembolso" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="desembolso" type="xsd:string"/>
            <xsd:element name="base" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="base" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="tasa" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="saldo" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="desdeFecha" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="hastaFecha" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="dias" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="importe" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="subTotales" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="mensaje" type="xsd:string" minOccurs="0"/>
                  <xsd:element name="valor" type="xsd:string" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="pagosAplicados" type="xsd:string" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="fechaPago" type="xsd:string"/>
      <xsd:element name="totalIntereses" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="datosBanco">
    <xsd:sequence>
    <xsd:element name="instruccion" type="xsd:string"/>
            <xsd:element name="banco" type="xsd:string"/>
      <xsd:element name="codigoSwiftBanco" type="xsd:string"/>
      <xsd:element name="CuentaNo" type="xsd:string"/>
      <xsd:element name="Beneficiario" type="xsd:string"/>
      <xsd:element name="codigoSwiftBeneficiario" type="xsd:string"/>
      <xsd:element name="Referencia" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>