Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/HTPartyAppSvc/HTPartyAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="HTPartyAppSvc_V1.0" 
                  targetNamespace="http://xmlns.banesco.com/AppSvc/HTPartyAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/HTPartyAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
				  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
				  xmlns:appoptPartyInfoInq="http://xmlns.banesco.com/appopt/HTPartyAppSvc/PartyInfoInq_V1.0">
  <wsdl:types>
    <xsd:schema>
	  <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
				  schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/eo/Status_V1.0"
                  schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/HTPartyAppSvc/PartyInfoInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/HTParty/PartyInfoInq/PartyInfoInq_V1.0.xsd"/>				  
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="PartyInfoInqRq">
    <wsdl:part name="PartyInfoInqRq" element="appoptPartyInfoInq:PartyInfoInqRq"/>
  </wsdl:message>
  <wsdl:message name="PartyInfoInqRs">
    <wsdl:part name="PartyInfoInqRs" element="appoptPartyInfoInq:PartyInfoInqRs"/>
  </wsdl:message>
  
  <wsdl:portType name="HTPartyAppSvc_V1.0">
	<wsdl:operation name="PartyInfoInq">
      <wsdl:input message="tns:PartyInfoInqRq"/>
      <wsdl:output message="tns:PartyInfoInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="HTPartyAppSvc_V1.0SOAP" type="tns:HTPartyAppSvc_V1.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
	<wsdl:operation name="PartyInfoInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/HTPartyAppSvc_V1.0/PartyInfoInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
		<soap:body use="literal" parts="PartyInfoInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
		<soap:body use="literal" parts="PartyInfoInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="HTPartyAppSvc_V1.0">
    <wsdl:port name="HTPartyAppSvc_V1.0SOAP" binding="tns:HTPartyAppSvc_V1.0SOAP">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
