BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/CrearReportePrepago/XSD/ReportePrepago.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema targetNamespace="http://service.org.bcie.www/" xmlns:ns1="http://www.bcie.org/herramientaOfismatica/prepago" xmlns:ns0="http://service.org.bcie.www/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import schemaLocation="ReportePrepagoType.xsd" namespace="http://www.bcie.org/herramientaOfismatica/prepago"/><xsd:complexType name="generarReportePrepagoResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="generarReportePrepago"><xsd:sequence><xsd:element name="prepago" type="ns1:PrePago" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="generarReportePrepagoResponse" type="ns0:generarReportePrepagoResponse"/><xsd:element name="generarReportePrepago" type="ns0:generarReportePrepago"/></xsd:schema>