AG_2019/OSB/AlmacenesGarcia_DEV/Capabilities/Core/Items/SizeEntitySvc/Resources/Schemas/SizeEntitySchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/SizeEntitySvc" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Capabilities/Foundation/Party/SizeEntitySvc" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:item="http://mx.agarcia.ea/Canonical/Commons/Items/v1">
           
           
  <xs:import schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
  <xs:import schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>
  <xs:import schemaLocation="../../../../../Foundation/Schemas/Commons/ItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Items/v1"/>

 
   <xs:element name="createSizeGroupRequest" type="base:SizeGroupType"/>
   <xs:element name="createSizeGroupResponse" type="AGsm:MessageResponse"/>
   
   <xs:element name="createSizeRequest" type="base:SizeType"/>
   <xs:element name="createSizeResponse" type="AGsm:MessageResponse"/>
   
   <xs:element name="updateSizeGroupRequest" type="base:SizeGroupType"/>
   <xs:element name="updateSizeGroupResponse" type="AGsm:MessageResponse"/>
   
   <xs:element name="updateSizeRequest" type="base:SizeType"/>
   <xs:element name="updateSizeResponse" type="AGsm:MessageResponse"/>
 
 
  
   <xs:complexType name="SizeType">
    <xs:sequence>
      <xs:element name="size" type="item:ItemCatalog" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SizeGroupType">
    <xs:sequence>
      <xs:element name="sizeGroup" type="item:ItemCatalog" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>