AG_2019/SOA/JDADeleteUPC/SOA/Schemas/BusinessAreas/Products/Items/MerchandiseHierarchyCommonTypeSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Support/Enterprise/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Support/Enterprise/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" elementFormDefault="qualified">
   <import schemaLocation="../../../Commons/CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <simpleType name="MerchandiseHierarchyLevelTypeCode">
      <union memberTypes="base:MerchandiseHierarchyLevelEnumeration enums:TypeCodeExtension"/>
   </simpleType>
   <simpleType name="MerchandiseHierarchyLevelEnumeration">
      <restriction base="NMTOKEN">
         <enumeration value="Division"/>
         <enumeration value="Group"/>
         <enumeration value="SubGroup"/>
         <enumeration value="MajorDepartment"/>
         <enumeration value="Department"/>
         <enumeration value="SubDepartment"/>
         <enumeration value="MajorClass"/>
         <enumeration value="Class"/>
         <enumeration value="SubClass"/>
         <enumeration value="Category"/>
         <enumeration value="SubCategory"/>
         <enumeration value="Style"/>
         <enumeration value="SKU"/>
         <enumeration value="UPC"/>
         <enumeration value="EPC"/>
      </restriction>
   </simpleType>
   <complexType name="MerchandiseHierarchyCommonData">
      <annotation>
         <documentation>This is an instance of a merchandise hierarchy structure for     a
                particular level</documentation>
      </annotation>
      <simpleContent>
         <extension base="string">
            <attribute form="unqualified" name="Level" type="base:MerchandiseHierarchyLevelTypeCode" use="optional"/>
            <attribute form="unqualified" name="ID" type="string" use="optional"/>
         </extension>
      </simpleContent>
   </complexType>
</schema>
