Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/T24CardDb/CardDbStatusHTMod/CardDbStatusHTMod_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/T24CardDbAppSvc/CardDbStatusHTMod_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptCardDbStatusHTMod="http://xmlns.banesco.com/appopt/T24CardDbAppSvc/CardDbStatusHTMod_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="CardDbStatusHTModRq" type="appoptCardDbStatusHTMod:CardDbStatusHTModRq_Type"/>
	<xs:element name="CardDbStatusHTModRs" type="appoptCardDbStatusHTMod:CardDbStatusHTModRs_Type"/>
	<xs:element name="CardDbStatusHTModRq_Type" type="appoptCardDbStatusHTMod:CardDbStatusHTModRq_Type"/>
	<xs:complexType name="CardDbStatusHTModRq_Type">
		<xs:sequence>
			<xs:element name="CardKey" type="appoptCardDbStatusHTMod:CardKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CardStatus" type="appoptCardDbStatusHTMod:CardStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIData" type="appoptCardDbStatusHTMod:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PartyKey" type="appoptCardDbStatusHTMod:PartyKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PlasticInfo" type="appoptCardDbStatusHTMod:PlasticInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardDbStatusHTModRs_Type" type="appoptCardDbStatusHTMod:CardDbStatusHTModRs_Type"/>
	<xs:complexType name="CardDbStatusHTModRs_Type">
		<xs:sequence>
			<xs:element name="CardStatus" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence minOccurs="0" maxOccurs="1">
						<xs:element name="ApprovalIdent" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="StatusDesc" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="StatusCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="StatusDesc" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardKey" type="appoptCardDbStatusHTMod:CardKey"/>
	<xs:complexType name="CardKey">
		<xs:sequence>
			<xs:element name="CardId" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardStatus" type="appoptCardDbStatusHTMod:CardStatus"/>
	<xs:complexType name="CardStatus">
		<xs:sequence>
			<xs:element name="CardStatusCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StatusReason" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FIData" type="appoptCardDbStatusHTMod:FIData"/>
	<xs:complexType name="FIData">
		<xs:sequence>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIIdent" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="RefIdent" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PartyKey" type="appoptCardDbStatusHTMod:PartyKey"/>
	<xs:complexType name="PartyKey">
		<xs:sequence>
			<xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PlasticInfo" type="appoptCardDbStatusHTMod:PlasticInfo"/>
	<xs:complexType name="PlasticInfo">
		<xs:sequence>
			<xs:element name="ExpDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
