BCIE_fenix/features/MCP/5003/ADF-BPM/commons/ObtenerCuestionario/ObtenerCuestionario/src/META-INF/CumplimientoCondicion.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/herramientaOfismatica/cumplimientocondiciones"
            targetNamespace="http://www.bcie.org/herramientaOfismatica/cumplimientocondiciones" elementFormDefault="qualified">
    <xsd:element name="cumplimiento" type="cumplimiento"/>
    <xsd:complexType name="cumplimiento">
        <xsd:sequence>
            <xsd:element name="lstCondicion" type="lstCondicion" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="lstCondicion">
        <xsd:sequence>
            <xsd:element name="condicion" type="condicion" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="condicion">
        <xsd:sequence>
            <xsd:element name="tipo" type="xsd:string"/>
            <xsd:element name="nombre" type="xsd:string"/>
            <xsd:element name="descripcion" type="xsd:string"/>
            <xsd:element name="estado" type="xsd:string"/>
            <xsd:element name="fechaVigenciaValidacion" type="xsd:string"/>
            <xsd:element name="priCategoria" type="xsd:string"/>
            <xsd:element name="priValidacion" type="xsd:string"/>
            <xsd:element name="categoriaValidacion" maxOccurs="unbounded" type="categoriaValidacion"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="categoriaValidacion">
        <xsd:sequence>
            <xsd:element name="categoria" type="xsd:string"/>
            <xsd:element name="validacion" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
