BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/DecodificarParametros/V1/Schema/DecodificarParametrosMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/DecodificarParametrosMO" elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.bcie.org/DecodificarParametrosMO"
            xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  
  
  <xsd:element name="DecodificarParametrosRequest" type="tns:DecodificarParametrosRequestType"></xsd:element>
  <xsd:element name="DecodificarParametrosResponse" type="tns:DecodificarParametrosResponseType"/>
  
  <xsd:complexType name="DecodificarParametrosRequestType">
    <xsd:sequence>
      <xsd:element name="Parametros" type="tns:ListaParametrosType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DecodificarParametrosResponseType">
    <xsd:sequence>
      <xsd:element name="Parametros" type="tns:ListaParametrosType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaParametrosType">
    <xsd:sequence>
      <xsd:element name="Parametro" type="tns:ParametroType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ParametroType">
    <xsd:sequence>
      <xsd:element name="Nombre" type="xsd:string"/>
      <xsd:element name="Valor" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>