Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EO/Acct/AcctStmt_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eo/AcctStmt_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoAcctStmt="http://xmlns.banesco.com/eo/AcctStmt_V1.0" xmlns:eoTrn="http://xmlns.banesco.com/eo/Trn_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../Common/Common_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Trn_V1.0" schemaLocation="../Banking/Trn_V1.0.xsd"/>
	<xs:complexType name="AcctStmtKey">
		<xs:annotation>
			<xs:documentation>Account Statement Key</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctStmtId" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctStmt">
		<xs:annotation>
			<xs:documentation>The Account Statement object supports inquiry functions for an account statement.  An inquiry against the Account Statement object may return transactions, an image, or, a URL for a specific statement.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctStmtStatus" type="eoStatus:Status" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctStmtKey" type="eoAcctStmt:AcctStmtKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctStmtInfo" type="eoAcctStmt:AcctStmtInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctStmtInfo">
		<xs:annotation>
			<xs:documentation>Account Statement Information Aggregate</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party Keys Aggregate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomDate" type="eoCom:CustomDate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StmtFile" type="eoCom:Binary" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TrnInfo" type="eoTrn:Trn" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
