Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EO/Acct/Collateral_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eo/Collateral_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoCollateral="http://xmlns.banesco.com/eo/Collateral_V1.0" xmlns:eoBank="http://xmlns.banesco.com/eo/Banking_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../Common/Common_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Banking_V1.0" schemaLocation="../Banking/Banking_V1.0.xsd"/>
	<xs:complexType name="CollateralKey">
		<xs:sequence>
			<xs:element name="CollateralId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Collateral Reference Number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="VehicleInfo">
		<xs:sequence>
			<xs:element name="Brand" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vehicle Brand</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Color" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vehicle Color</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Model" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vehicle Model</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Plate" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vehicle Plate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vehicle Type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINChasis" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Chasis Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VINMotor" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Motor Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Year" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Vehicle Year</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Collateral">
		<xs:sequence>
			<xs:element name="CollateralAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto/Moneda de la Garantía</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollateralSubType" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Bien Inmueble</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollateralType" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Garantía</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollInitAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto Original</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoodDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripción del Bien.

Posibles valores:

CASA
APARTAMENTO
TERRENOS
EDIFICIO
LOCALES COMERCIALES
GALERA
BODEGAS
FINCA O GRANJA
ALMACEN O TIENDA
HOTEL
ESTACIONES DE GASOLINA
TEATRO
OTROS BIENES INMUEBLES</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaturityDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maturity Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Customer Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="VehicleInfo" type="eoCollateral:VehicleInfo" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CollateralKey" type="eoCollateral:CollateralKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIData" type="eoBank:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InsuranceInfo" type="eoCollateral:InsuranceInfo" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PropertyInfo" type="eoCollateral:PropertyInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ContractInfo">
		<xs:sequence>
			<xs:element name="Asiento" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Asiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConstitutionDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Constitution Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Folio" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Folio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RegisterData" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ScriptureDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Scripture Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ScriptureNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Scripture Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tomo" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tomo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrustIssueDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TrustNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Trust Number</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="InsuranceInfo">
		<xs:sequence>
			<xs:element name="Broker" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Broker</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Company" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Insurance Company Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmisionDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Emision Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaturityDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Maturity Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonName" type="eoPar:PersonName" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Person Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Policy Amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PolicyNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Policy Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Insurance Type</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PropertyInfo">
		<xs:annotation>
			<xs:documentation>Property Info</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AppraisalDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AppraisalMaturityDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AppraiseAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount Appraise</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AppraisedBy" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Appraised By</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CentralBankValue" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Bco. Central</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExecutionValue" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Ejecución</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Finca" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Finca</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GenLedgerValue" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor Libro Mayor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Grade" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Collateral Grade</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Improvements" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Improvements</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LocCod" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Location Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OccupationPermitDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Occupation Permit Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Owner" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Collateral Owner</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostAddr" type="eoCom:PostAddr" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SalePrice" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sale Price</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TerrainAreaVal" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Terrain Area Value</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ThirdPartyValue" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor de Terceros</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractInfo" type="eoCollateral:ContractInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
