BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/Aprobacion/ConsultarAprobacionByOperacion/XSD/ConsultarAprobacionByOperacion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAprobacionByOperacion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAprobacionByOperacion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarAprobacionByOperacionInput" type="ConsultarAprobacionByOperacionInput"/>
   <xs:complexType name="ConsultarAprobacionByOperacionInput">
      <xs:sequence>
         <xs:element name="P_INSTANCIA_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="P_OPERACION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarAprobacionByOperacionOutputCollection" type="ConsultarAprobacionByOperacionOutputCollection"/>
   <xs:complexType name="ConsultarAprobacionByOperacionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarAprobacionByOperacionOutput" type="ConsultarAprobacionByOperacionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarAprobacionByOperacionOutput">
      <xs:sequence>
		 <xs:element name="ID_TCA_TIPO_MONEDA" type="xs:integer" nillable="true"/>
         <xs:element name="MONTO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_APROBACION" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="INSTANCIA_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>