Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/ICS/resources/wsdl/ICSSvc_V1_0.wsdl

<wsdl:definitions name="OracleICSSvc_V1.0" targetNamespace="http://xmlns.banesco.com/backends/OracleICSSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/backends/OracleICSSvc_V1.0"
                  xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
                  xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:db="http://xmlns.banesco.com/backend/PA_Consecutivo_V1.0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns2="http://xmlns.banesco.com/backend/PA_PJ_ConsultaMov_His_V1.0"
                  xmlns:tns3="http://xmlns.oracle.com/pcbpel/adapter/db/sp/P_ReciboP_V1.0"
                  xmlns:tns4="http://xmlns.banesco.com/backend/PA_Facturadores"
                  xmlns:tns5="http://xmlns.banesco.com/backend/PA_TCIB_Bitacora_V1.0"
                  xmlns:tns6="http://xmlns.banesco.com/backend/P_BillerList"
                  xmlns:tns7="http://xmlns.banesco.com/backend/PA_Bitacora_V1.0">
  <plt:partnerLinkType name="OracleICSSvc">
    <plt:role name="OracleICSSvc_role">
      <plt:portType name="tns:OracleICSSvcPort"/>
    </plt:role>
  </plt:partnerLinkType>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="http://xmlns.banesco.com/backend/PA_Consecutivo_V1.0"
              schemaLocation="../xsd/PA_Consecutivo_V1.0.xsd"/>
      <import namespace="http://xmlns.banesco.com/backend/PA_PJ_ConsultaMov_His_V1.0"
              schemaLocation="../xsd/PA_PJ_ConsultaMov_His_V1.0.xsd"/>
      <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/P_ReciboP_V1.0"
              schemaLocation="../xsd/P_ReciboP_V1.0.xsd"/>
      <import namespace="http://xmlns.banesco.com/backend/PA_Facturadores"
              schemaLocation="../xsd/PA_Facturadores_V1.0.xsd"/>
      <import namespace="http://xmlns.banesco.com/backend/PA_TCIB_Bitacora_V1.0"
              schemaLocation="../xsd/PA_TCIB_Bitacora_V1.0.xsd"/>
      <import namespace="http://xmlns.banesco.com/backend/P_BillerList" schemaLocation="../xsd/P_BillerList_V1.0.xsd"/>
      <import namespace="http://xmlns.banesco.com/backend/PA_Bitacora_V1.0"
              schemaLocation="../xsd/PA_Bitacora_V1.0.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="PAConsecutivoRq">
    <wsdl:part name="InputParameters" element="db:PAConsecutivoRq"/>
  </wsdl:message>
  <wsdl:message name="PAConsecutivoRs">
    <wsdl:part name="OutputParameters" element="db:PAConsecutivoRs"/>
  </wsdl:message>
  <wsdl:message name="PaPjConsultaMovHisRq">
    <wsdl:part name="InputParameters" element="tns2:PaPjConsultaMovHisRq"/>
  </wsdl:message>
  <wsdl:message name="PaPjConsultaMovHisRs">
    <wsdl:part name="OutputParameters" element="tns2:PaPjConsultaMovHisRs"/>
  </wsdl:message>
  <wsdl:message name="PReciboPRq">
    <wsdl:part name="InputParameters" element="tns3:PReciboPRq"/>
  </wsdl:message>
  <wsdl:message name="PAFacturadoresRq">
    <wsdl:part name="InputParameters" element="tns4:PAFacturadoresRq"/>
  </wsdl:message>
  <wsdl:message name="PAFacturadoresRs">
    <wsdl:part name="OutputParameters" element="tns4:PAFacturadoresRs"/>
  </wsdl:message>
  <wsdl:message name="PReciboPRs">
    <wsdl:part name="OutputParameters" element="tns3:PReciboPRs"/>
  </wsdl:message>
  <wsdl:message name="PATCIBBitacoraRq">
    <wsdl:part name="InputParameters" element="tns5:PATCIBBitacoraRq"/>
  </wsdl:message>
   <wsdl:message name="PATCIBBitacoraRs">
    <wsdl:part name="OutputParameters" element="tns5:PATCIBBitacoraRs"/>
  </wsdl:message>
  <wsdl:message name="PBillerListRq">
    <wsdl:part name="InputParameters" element="tns6:PBillerListRq"/>
  </wsdl:message>
  <wsdl:message name="PBillerListRs">
    <wsdl:part name="OutputParameters" element="tns6:PBillerListRs"/>
  </wsdl:message>
  <wsdl:message name="PABitacoraRq">
    <wsdl:part name="InputParameters" element="tns7:PABitacoraRq"/>
  </wsdl:message>
   <wsdl:message name="PABitacoraRs">
    <wsdl:part name="OutputParameters" element="tns7:PABitacoraRs"/>
  </wsdl:message>
  <wsdl:portType name="OracleICSSvcPort">
    <wsdl:operation name="PAConsecutivo">
      <wsdl:input message="tns:PAConsecutivoRq"/>
      <wsdl:output message="tns:PAConsecutivoRs"/>
    </wsdl:operation>
    <wsdl:operation name="PAPJConsultaMovHis">
      <wsdl:input message="tns:PaPjConsultaMovHisRq"/>
      <wsdl:output message="tns:PaPjConsultaMovHisRs"/>
    </wsdl:operation>
    <wsdl:operation name="PReciboP">
      <wsdl:input message="tns:PReciboPRq"/>
      <wsdl:output message="tns:PReciboPRs"/>
    </wsdl:operation>
    <wsdl:operation name="PAFacturadores">
      <wsdl:input message="tns:PAFacturadoresRq"/>
      <wsdl:output message="tns:PAFacturadoresRs"/>
    </wsdl:operation>
    <wsdl:operation name="PATCIBBitacora">
      <wsdl:input message="tns:PATCIBBitacoraRq"/>
      <wsdl:output message="tns:PATCIBBitacoraRs"/>
    </wsdl:operation> 
    <wsdl:operation name="PBillerList">
      <wsdl:input message="tns:PBillerListRq"/>
      <wsdl:output message="tns:PBillerListRs"/>
    </wsdl:operation>
     <wsdl:operation name="PABitacora">
      <wsdl:input message="tns:PABitacoraRq"/>
      <wsdl:output message="tns:PABitacoraRs"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OracleICSSvcBinding_SOAP11" type="tns:OracleICSSvcPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PAConsecutivo">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/backends/OracleICSSvc_V1.0/PAConsecutivo"/>
      <wsdl:input>
        <soap:body use="literal" parts="InputParameters"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="OutputParameters"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PAPJConsultaMovHis">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/backends/OracleICSSvc_V1.0/PAPJConsultaMovHis"/>
      <wsdl:input>
        <soap:body use="literal" parts="InputParameters"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="OutputParameters"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PReciboP">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/backends/OracleICSSvc_V1.0/PReciboP"/>
      <wsdl:input>
        <soap:body use="literal" parts="InputParameters"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="OutputParameters"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PAFacturadores">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/backends/OracleICSSvc_V1.0/PAFacturadores"/>
      <wsdl:input>
        <soap:body use="literal" parts="InputParameters"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="OutputParameters"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PATCIBBitacora">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/backends/OracleICSSvc_V1.0/PATCIBBitacora"/>
      <wsdl:input>
        <soap:body use="literal" parts="InputParameters"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="OutputParameters"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PBillerList">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/backends/OracleICSSvc_V1.0/PBillerList"/>
      <wsdl:input>
        <soap:body use="literal" parts="InputParameters"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="OutputParameters"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PABitacora">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/backends/OracleICSSvc_V1.0/PABitacora"/>
      <wsdl:input>
        <soap:body use="literal" parts="InputParameters"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="OutputParameters"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>