AG_2019/SOA/CostChangeApprovedProcess/SOA/Schemas/Commons/TaxRetailTransactionSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/Commons/TaxRetailTransaction/v1" xmlns:base="http://mx.agarcia.ea/Commons/TaxRetailTransaction/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" xmlns:rettx="http://mx.agarcia.ea/Commons/RetailTransaction/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:import schemaLocation="RetailTransactionCommonSchema.xsd" namespace="http://mx.agarcia.ea/Commons/RetailTransaction/v1"/>
   <xs:complexType name="RetailTransactionTax">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="SequenceNumber" type="SequenceNumberType"/>
         <xs:element form="qualified" minOccurs="0" name="TaxAuthority" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="TaxableAmount">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="AmountCommonData">
                     <xs:attribute form="unqualified" name="TaxIncludedInTaxableAmountFlag" type="xs:boolean">
                        <xs:annotation>
                           <xs:documentation>Is the Tax Included in this taxable
										amount?
									</xs:documentation>
                        </xs:annotation>
                     </xs:attribute>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TaxablePercentage" type="PercentageCommonData">
            <xs:annotation>
               <xs:documentation>The percentage of the item's price that is
						taxable. For
						example, if one sells a book with a CD, the book may be taxable but the CD
						isn't. Therefore the taxable percentage in this example could be
						50%</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Amount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="Percent" type="PercentageCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="Reason" type="POSLogReason"/>
         <xs:element form="qualified" minOccurs="0" name="TaxExemption" type="RetailTransactionTaxExemption"/>
         <xs:element form="qualified" minOccurs="0" name="TaxOverride" type="RetailTransactionTaxOverride"/>
         <xs:element form="qualified" minOccurs="0" name="Address" type="RetailTransactionAddress"/>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="TaxRuleID" type="xs:string">
            <xs:annotation>
               <xs:documentation>The Rule under which this tax was calculated,
						i.e. Tax Free
						Weekend
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="TaxGroupID" type="xs:string"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:attribute default="Sales" form="unqualified" name="TaxType" type="TaxTypeCode" use="optional">
         <xs:annotation>
            <xs:documentation>A code denoting the type of tax being collected on
					behalf of the
					TaxAuthority by the TaxGroupRule
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute form="unqualified" name="TaxSubType" type="TaxSubTypeCode" use="optional">
         <xs:annotation>
            <xs:documentation>A code denoting a type of sub-tax being collected
					on behalf of the
					TaxAuthority by the TaxGroupRule, for example, standard, luxury, exempt, zero
					rated
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="TaxedAtOrigin" form="unqualified" name="TaxAtSource" type="TaxAtSourceTypeCode" use="optional">
         <xs:annotation>
            <xs:documentation>A code denoting that the tax being collected is
					either from where
					the items was shipped or to where it is being shipped
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="Normal" form="unqualified" name="NormalTaxType" type="POSLogNormalTax" use="optional">
         <xs:annotation>
            <xs:documentation>A code denoting that normal or extra-ordinary
					taxes are being
					collected.
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="Sale" form="unqualified" name="TypeCode" type="TaxSaleTypeCodeEnumeration" use="optional"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:simpleType name="TaxSaleTypeCode">
      <xs:union memberTypes="TaxTypeCodeEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="TaxSaleTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Sale"/>
         <xs:enumeration value="Refund"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="RetailTransactionTaxExemption">
      <xs:sequence>
         <xs:element form="qualified" name="CustomerExemptionID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="ExemptTaxableAmount" type="AmountCommonData"/>
         <xs:element form="qualified" name="ExemptTaxAmount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="ReasonCode" type="xs:string"/>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="OperatorBypassApproval" type="RetailTransactionApproval"/>
         <xs:element form="qualified" minOccurs="0" name="CertificateNumber" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="CertificateHolderName" type="xs:string"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="RetailTransactionTaxOverride">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="CustomerOverrideID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="TaxableAmount" type="AmountCommonData"/>
         <xs:element form="qualified" name="OriginalPercent" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>The tax rate percentage that is being
						overriden
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="OriginalTaxAmount" type="AmountCommonData"/>
         <xs:element form="qualified" name="NewTaxPercent" type="xs:decimal"/>
         <xs:element form="qualified" name="NewTaxAmount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="ReasonCode" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="CertificateNumber" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="CertificateHolderName" type="xs:string"/>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="OperatorBypassApproval" type="RetailTransactionApproval"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
</xs:schema>
