AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Applications/RetailMerchandising/RPM/RPMPriceChange/Resources/RPMApprovedPriceChangeDBListenerPXY_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/RPMApprovedPriceChangeDBListenerPXY" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/RPMApprovedPriceChangeDBListenerPXY" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxPcExportHeadCollection" type="XxPcExportHeadCollection"/>
   <xs:complexType name="XxPcExportHeadCollection">
      <xs:sequence>
         <xs:element name="XxPcExportHead" type="XxPcExportHead" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxPcExportHead">
      <xs:sequence>

          <xs:element name="pcExportId" type="xs:int"/>
         <xs:element name="pcExportPackId" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="evType" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="startDt" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="endDt" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="reasonCd" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="levelCd" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="evDesc" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="base" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="status" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="errMsg" type="string100" minOccurs="0" nillable="true"/>
         <xs:element name="exportFlg" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="createdDt" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="createdBy" type="string20" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string100">
      <xs:restriction base="xs:string">
         <xs:maxLength value="100"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>