AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Applications/RetailMerchandising/RPM/RPMPriceChange/Resources/RPMFindPriceChangeEventDetailsDBBS_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/RPMFindPriceChangeEventDetailsDBBS" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/RPMFindPriceChangeEventDetailsDBBS" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxPcExportDetCollection" type="XxPcExportDetCollection"/>
   <xs:complexType name="XxPcExportDetCollection">
      <xs:sequence>
         <xs:element name="XxPcExportDet" type="XxPcExportDet" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxPcExportDet">
      <xs:sequence>
         <xs:element name="pcExportId" type="xs:int" nillable="true"/>
         <xs:element name="style" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="sku" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="store" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="sellPrice" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="pctChange" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="pcExportPackId" type="string20" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="RPMFindPriceChangeEventDetailsDBBSSelect_pPriceChangeIDInputParameters" type="RPMFindPriceChangeEventDetailsDBBSSelect_pPriceChangeID"/>
   <xs:complexType name="RPMFindPriceChangeEventDetailsDBBSSelect_pPriceChangeID">
      <xs:sequence>
         <xs:element name="pPriceChangeID" type="xs:int" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>