Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/EVERTEC/resources/xsd/ConsultarCuentasTarjeta.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.evertec.com/SISCARD/CuentaTarjeta/consultarCuentasSiscard"
            targetNamespace="http://www.evertec.com/SISCARD/CuentaTarjeta/consultarCuentasSiscard" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="US-ASCII">
   <xsd:element name="ConsultarCuentasSiscardRq">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="cif" type="xsd:string"/>
            <xsd:element name="emisor" type="xsd:string"/>
            <xsd:element name="cuenta" type="xsd:string"/>
            <xsd:element name="tarjeta" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="Cuentas">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="cuenta" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="cargosBonifLocal" type="xsd:double"/>
                     <xsd:element name="saldoInicialCorteInter" type="xsd:double"/>
                     <xsd:element name="saldoActualIntraMonedaInter" type="xsd:double"/>
                     <xsd:element name="saldoInter" type="xsd:double"/>
                     <xsd:element name="debitoTransitoInter" type="xsd:double"/>
                     <xsd:element name="marca" type="xsd:string"/>
                     <xsd:element name="debitosAplicadosEfLocal" type="xsd:double"/>
                     <xsd:element name="cuentaClienteLocal" type="xsd:integer"/>
                     <xsd:element name="limiteEfLocal" type="xsd:double"/>
                     <xsd:element name="estadoTarjeta" type="xsd:string"/>
                     <xsd:element name="pagoMinimoLocal" type="xsd:double"/>
                     <xsd:element name="saldoInicialEfLocal" type="xsd:double"/>
                     <xsd:element name="tasaInteresMoratoriaInter" type="xsd:double"/>
                     <xsd:element name="saldoFinalEfInter" type="xsd:double"/>
                     <xsd:element name="subtSalCorteLocal" type="xsd:double"/>
                     <xsd:element name="numeroTarjeta" type="xsd:string"/>
                     <xsd:element name="debitosLocal" type="xsd:double"/>
                     <xsd:element name="salTotCorteLocal" type="xsd:double"/>
                     <xsd:element name="tasaInteresAdelantosMonedaInter" type="xsd:double"/>
                     <xsd:element name="iban" type="xsd:string"/>
                     <xsd:element name="saldoActualExtraMonedaLocal" type="xsd:double"/>
                     <xsd:element name="tipoCuenta" type="xsd:string"/>
                     <xsd:element name="descripcionEmisor" type="xsd:string"/>
                     <xsd:element name="totalCalcPMLocal" type="xsd:double"/>
                     <xsd:element name="creditosAplicadosEfInter" type="xsd:double"/>
                     <xsd:element name="numeroCuentaMadre" type="xsd:integer"/>
                     <xsd:element name="disponibleInt" type="xsd:double"/>
                     <xsd:element name="importeVencidoLocal" type="xsd:integer"/>
                     <xsd:element name="tasaInteresMensualInter" type="xsd:double"/>
                     <xsd:element name="disponibleLocal" type="xsd:double"/>
                     <xsd:element name="dispIntTarjeta" type="xsd:double"/>
                     <xsd:element name="montoImporteLocal" type="xsd:double"/>
                     <xsd:element name="cargoNoBonifInter" type="xsd:double"/>
                     <xsd:element name="pagoContadoInt" type="xsd:double"/>
                     <xsd:element name="saldoActualExtraMonedaInter" type="xsd:double"/>
                     <xsd:element name="saldoTotalIntraExtraMonedaLocal" type="xsd:double"/>
                     <xsd:element name="salTotCorteInter" type="xsd:double"/>
                     <xsd:element name="plazoPrestamoPrestaCard" type="xsd:string"/>
                     <xsd:element name="debitosAplicadosEfInter" type="xsd:double"/>
                     <xsd:element name="limiteCtaLocal" type="xsd:double"/>
                     <xsd:element name="dispLocalTarjeta" type="xsd:double"/>
                     <xsd:element name="creditosAplicadosEfLocal" type="xsd:double"/>
                     <xsd:element name="fechaUltimoPagoMonedaInter" type="xsd:string"/>
                     <xsd:element name="debitosInt" type="xsd:double"/>
                     <xsd:element name="tasaInteresComprasMonedaInter" type="xsd:double"/>
                     <xsd:element name="creditoTransitoInter" type="xsd:double"/>
                     <xsd:element name="numeroExtrafinanciamiento" type="xsd:string"/>
                     <xsd:element name="adelIntTarjeta" type="xsd:double"/>
                     <xsd:element name="descripcionEstadoCuenta" type="xsd:string"/>
                     <xsd:element name="limiteEfInter" type="xsd:double"/>
                     <xsd:element name="totalCalcPMInter" type="xsd:double"/>
                     <xsd:element name="subtSalCorteInter" type="xsd:double"/>
                     <xsd:element name="limiteTarInter" type="xsd:double"/>
                     <xsd:element name="lineaEmisor" type="xsd:string"/>
                     <xsd:element name="estadoCuenta" type="xsd:integer"/>
                     <xsd:element name="disponibleEfInter" type="xsd:double"/>
                     <xsd:element name="creditoTransitoLocal" type="xsd:double"/>
                     <xsd:element name="saldoFinalEfLocal" type="xsd:double"/>
                     <xsd:element name="tasaInteresMoratoriaLocal" type="xsd:double"/>
                     <xsd:element name="debitoTransitoLocal" type="xsd:double"/>
                     <xsd:element name="saldoInicialEfInter" type="xsd:double"/>
                     <xsd:element name="fechaUltimoPagoMonedaLocal" type="xsd:string"/>
                     <xsd:element name="saldoTarInter" type="xsd:double"/>
                     <xsd:element name="saldoLocal" type="xsd:double"/>
                     <xsd:element name="tasaInteresMensualLocal" type="xsd:double"/>
                     <xsd:element name="saldoTotalIntraExtraMonedaInter" type="xsd:double"/>
                     <xsd:element name="cargosBonifInter" type="xsd:double"/>
                     <xsd:element name="montoImporteInter" type="xsd:double"/>
                     <xsd:element name="numeroCuenta" type="xsd:integer"/>
                     <xsd:element name="saldoFPlazoLocal" type="xsd:double"/>
                     <xsd:element name="cuentaClienteInter" type="xsd:integer"/>
                     <xsd:element name="fechaCorte" type="xsd:string"/>
                     <xsd:element name="fechaVencimientoPago" type="xsd:string"/>
                     <xsd:element name="recargCuotaInter" type="xsd:double"/>
                     <xsd:element name="emisorCuentaMadre" type="xsd:integer"/>
                     <xsd:element name="emisor" type="xsd:integer"/>
                     <xsd:element name="cif" type="xsd:integer"/>
                     <xsd:element name="saldoTarLocal" type="xsd:double"/>
                     <xsd:element name="adelantoInt" type="xsd:double"/>
                     <xsd:element name="adelanto" type="xsd:double"/>
                     <xsd:element name="adelLocalTarjeta" type="xsd:double"/>
                     <xsd:element name="pagoContadoLocal" type="xsd:double"/>
                     <xsd:element name="nombre" type="xsd:string"/>
                     <xsd:element name="limiteCtaInter" type="xsd:double"/>
                     <xsd:element name="tarjetas">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="cargosBonifLocal" type="xsd:double"/>
                              <xsd:element name="saldoInicialCorteInter" type="xsd:double"/>
                              <xsd:element name="saldoActualIntraMonedaInter" type="xsd:double"/>
                              <xsd:element name="saldoInter" type="xsd:double"/>
                              <xsd:element name="debitoTransitoInter" type="xsd:double"/>
                              <xsd:element name="marca" type="xsd:string"/>
                              <xsd:element name="debitosAplicadosEfLocal" type="xsd:double"/>
                              <xsd:element name="cuentaClienteLocal" type="xsd:integer"/>
                              <xsd:element name="limiteEfLocal" type="xsd:double"/>
                              <xsd:element name="estadoTarjeta" type="xsd:integer"/>
                              <xsd:element name="pagoMinimoLocal" type="xsd:double"/>
                              <xsd:element name="saldoInicialEfLocal" type="xsd:double"/>
                              <xsd:element name="tasaInteresMoratoriaInter" type="xsd:double"/>
                              <xsd:element name="saldoFinalEfInter" type="xsd:double"/>
                              <xsd:element name="subtSalCorteLocal" type="xsd:double"/>
                              <xsd:element name="numeroTarjeta" type="xsd:integer"/>
                              <xsd:element name="debitosLocal" type="xsd:double"/>
                              <xsd:element name="salTotCorteLocal" type="xsd:double"/>
                              <xsd:element name="tasaInteresAdelantosMonedaInter" type="xsd:double"/>
                              <xsd:element name="iban" type="xsd:string"/>
                              <xsd:element name="saldoActualExtraMonedaLocal" type="xsd:double"/>
                              <xsd:element name="tipoCuenta" type="xsd:string"/>
                              <xsd:element name="descripcionEmisor" type="xsd:string"/>
                              <xsd:element name="totalCalcPMLocal" type="xsd:double"/>
                              <xsd:element name="creditosAplicadosEfInter" type="xsd:double"/>
                              <xsd:element name="numeroCuentaMadre" type="xsd:integer"/>
                              <xsd:element name="disponibleInt" type="xsd:double"/>
                              <xsd:element name="importeVencidoLocal" type="xsd:integer"/>
                              <xsd:element name="tasaInteresMensualInter" type="xsd:double"/>
                              <xsd:element name="disponibleLocal" type="xsd:double"/>
                              <xsd:element name="dispIntTarjeta" type="xsd:double"/>
                              <xsd:element name="montoImporteLocal" type="xsd:double"/>
                              <xsd:element name="cargoNoBonifInter" type="xsd:double"/>
                              <xsd:element name="pagoContadoInt" type="xsd:double"/>
                              <xsd:element name="saldoActualExtraMonedaInter" type="xsd:double"/>
                              <xsd:element name="saldoTotalIntraExtraMonedaLocal" type="xsd:double"/>
                              <xsd:element name="salTotCorteInter" type="xsd:double"/>
                              <xsd:element name="plazoPrestamoPrestaCard" type="xsd:string"/>
                              <xsd:element name="debitosAplicadosEfInter" type="xsd:double"/>
                              <xsd:element name="limiteCtaLocal" type="xsd:double"/>
                              <xsd:element name="dispLocalTarjeta" type="xsd:double"/>
                              <xsd:element name="creditosAplicadosEfLocal" type="xsd:double"/>
                              <xsd:element name="fechaUltimoPagoMonedaInter" type="xsd:string"/>
                              <xsd:element name="debitosInt" type="xsd:double"/>
                              <xsd:element name="tasaInteresComprasMonedaInter" type="xsd:double"/>
                              <xsd:element name="creditoTransitoInter" type="xsd:double"/>
                              <xsd:element name="numeroExtrafinanciamiento" type="xsd:string"/>
                              <xsd:element name="adelIntTarjeta" type="xsd:double"/>
                              <xsd:element name="descripcionEstadoCuenta" type="xsd:string"/>
                              <xsd:element name="limiteEfInter" type="xsd:double"/>
                              <xsd:element name="totalCalcPMInter" type="xsd:double"/>
                              <xsd:element name="subtSalCorteInter" type="xsd:double"/>
                              <xsd:element name="limiteTarInter" type="xsd:double"/>
                              <xsd:element name="lineaEmisor" type="xsd:string"/>
                              <xsd:element name="estadoCuenta" type="xsd:integer"/>
                              <xsd:element name="disponibleEfInter" type="xsd:double"/>
                              <xsd:element name="creditoTransitoLocal" type="xsd:double"/>
                              <xsd:element name="saldoFinalEfLocal" type="xsd:double"/>
                              <xsd:element name="tasaInteresMoratoriaLocal" type="xsd:double"/>
                              <xsd:element name="debitoTransitoLocal" type="xsd:double"/>
                              <xsd:element name="saldoInicialEfInter" type="xsd:double"/>
                              <xsd:element name="fechaUltimoPagoMonedaLocal" type="xsd:string"/>
                              <xsd:element name="saldoTarInter" type="xsd:double"/>
                              <xsd:element name="saldoLocal" type="xsd:double"/>
                              <xsd:element name="tasaInteresMensualLocal" type="xsd:double"/>
                              <xsd:element name="saldoTotalIntraExtraMonedaInter" type="xsd:double"/>
                              <xsd:element name="cargosBonifInter" type="xsd:double"/>
                              <xsd:element name="montoImporteInter" type="xsd:double"/>
                              <xsd:element name="numeroCuenta" type="xsd:string"/>
                              <xsd:element name="saldoFPlazoLocal" type="xsd:double"/>
                              <xsd:element name="cuentaClienteInter" type="xsd:integer"/>
                              <xsd:element name="fechaCorte" type="xsd:string"/>
                              <xsd:element name="fechaVencimientoPago" type="xsd:string"/>
                              <xsd:element name="recargCuotaInter" type="xsd:double"/>
                              <xsd:element name="emisorCuentaMadre" type="xsd:integer"/>
                              <xsd:element name="emisor" type="xsd:string"/>
                              <xsd:element name="cif" type="xsd:integer"/>
                              <xsd:element name="saldoTarLocal" type="xsd:double"/>
                              <xsd:element name="adelantoInt" type="xsd:double"/>
                              <xsd:element name="adelanto" type="xsd:double"/>
                              <xsd:element name="adelLocalTarjeta" type="xsd:double"/>
                              <xsd:element name="pagoContadoLocal" type="xsd:double"/>
                              <xsd:element name="nombre" type="xsd:string"/>
                              <xsd:element name="limiteCtaInter" type="xsd:double"/>
                              <xsd:element name="montoUltimoPagoMonedaInter" type="xsd:double"/>
                              <xsd:element name="cargoNoBonifLocal" type="xsd:double"/>
                              <xsd:element name="tasaInteresComprasMonedaLocal" type="xsd:double"/>
                              <xsd:element name="creditosInt" type="xsd:double"/>
                              <xsd:element name="montoUltimoPagoMonedaLocal" type="xsd:double"/>
                              <xsd:element name="pagoMinimoInt" type="xsd:double"/>
                              <xsd:element name="limiteTarLocal" type="xsd:double"/>
                              <xsd:element name="saldoInicialCorteLocal" type="xsd:double"/>
                              <xsd:element name="montoCuotaPrestamoPrestaCard" type="xsd:double"/>
                              <xsd:element name="recargCuotaLocal" type="xsd:double"/>
                              <xsd:element name="saldoActualIntraMonedaLocal" type="xsd:double"/>
                              <xsd:element name="tasaInteresAdelantosMonedaLocal" type="xsd:double"/>
                              <xsd:element name="creditosLocal" type="xsd:double"/>
                              <xsd:element name="saldoPuntosPromocionalActual" type="xsd:double"/>
                              <xsd:element name="saldoFinalPlazoInter" type="xsd:double"/>
                              <xsd:element name="disponibleEfLocal" type="xsd:double"/>
                              <xsd:element name="importeVencidoInter" type="xsd:integer"/>
                              <xsd:element name="tipotarjeta" type="xsd:string"/>
                              <xsd:element name="saldoPuntosInicial" type="xsd:double"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="montoUltimoPagoMonedaInter" type="xsd:double"/>
                     <xsd:element name="cargoNoBonifLocal" type="xsd:double"/>
                     <xsd:element name="tasaInteresComprasMonedaLocal" type="xsd:double"/>
                     <xsd:element name="creditosInt" type="xsd:double"/>
                     <xsd:element name="montoUltimoPagoMonedaLocal" type="xsd:double"/>
                     <xsd:element name="pagoMinimoInt" type="xsd:double"/>
                     <xsd:element name="limiteTarLocal" type="xsd:double"/>
                     <xsd:element name="saldoInicialCorteLocal" type="xsd:double"/>
                     <xsd:element name="montoCuotaPrestamoPrestaCard" type="xsd:double"/>
                     <xsd:element name="recargCuotaLocal" type="xsd:double"/>
                     <xsd:element name="saldoActualIntraMonedaLocal" type="xsd:double"/>
                     <xsd:element name="tasaInteresAdelantosMonedaLocal" type="xsd:double"/>
                     <xsd:element name="creditosLocal" type="xsd:double"/>
                     <xsd:element name="saldoPuntosPromocionalActual" type="xsd:double"/>
                     <xsd:element name="saldoFinalPlazoInter" type="xsd:double"/>
                     <xsd:element name="disponibleEfLocal" type="xsd:double"/>
                     <xsd:element name="importeVencidoInter" type="xsd:integer"/>
                     <xsd:element name="tipotarjeta" type="xsd:string"/>
                     <xsd:element name="saldoPuntosInicial" type="xsd:double"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="statusMessage" type="xsd:string"/>
            <xsd:element name="status" type="xsd:string"/>
            <xsd:element name="statusCode" type="xsd:integer"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
      <xsd:element name="Errores">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="error" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="status" type="xsd:string"/>
                     <xsd:element name="statusCode" type="xsd:integer"/>
                     <xsd:element name="statusMessage" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>