Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Party/OrgPartyRiskInq/OrgPartyRiskInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/OrgPartyRiskInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptOrgPartyRiskInq="http://xmlns.banesco.com/eopt/OrgPartyRiskInq_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:element name="OrgPartyRiskInqRq_Type" type="eoptOrgPartyRiskInq:OrgPartyRiskInqRq_Type"/>
	<xs:complexType name="OrgPartyRiskInqRq_Type">
		<xs:sequence>
			<xs:element name="Party" type="eoPar:Party" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Party que contiene la información del cliente juridico.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrgPartyRiskInqRs_Type" type="eoptOrgPartyRiskInq:OrgPartyRiskInqRs_Type"/>
	<xs:complexType name="OrgPartyRiskInqRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditRisk" type="eoPar:CreditRisk" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto CreditRisk que contiene la información de riesgo del cliente juridico.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrgPartyRiskInqRq" type="eoptOrgPartyRiskInq:OrgPartyRiskInqRq_Type"/>
	<xs:element name="OrgPartyRiskInqRs" type="eoptOrgPartyRiskInq:OrgPartyRiskInqRs_Type"/>
</xs:schema>
