Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Payment/PmtSessionCPagInq/PmtSessionCPagInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/PmtSessionCPagInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptPmtSessionCPagInq="http://xmlns.banesco.com/eopt/PmtSessionCPagInq_V1.0" xmlns:eoSecurity="http://xmlns.banesco.com/eo/Security_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Security_V1.0" schemaLocation="../../../EO/Security/Security_V1.0.xsd"/>
	<xs:element name="PmtSessionInqRq_Type" type="eoptPmtSessionCPagInq:PmtSessionInqRq_Type"/>
	<xs:complexType name="PmtSessionInqRq_Type">
		<xs:sequence>
			<xs:element name="RequestChannel" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Canal que solicita la petición.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PmtSessionInqRq" type="eoptPmtSessionCPagInq:PmtSessionInqRq_Type"/>
	<xs:element name="PmtSessionInqRs" type="eoptPmtSessionCPagInq:PmtSessionInqRs_Type"/>
	<xs:element name="PmtSessionInqRs_Type" type="eoptPmtSessionCPagInq:PmtSessionInqRs_Type"/>
	<xs:complexType name="PmtSessionInqRs_Type">
		<xs:sequence>
			<xs:element name="Session" type="eoSecurity:Session" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Session que contiene información sobre la sesión generada.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
