Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/AccountLoan/AcctLoanPrLetterMod/AcctLoanPrLetterMod_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctLoanPrLetterMod_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcctLoanPrLetterMod="http://xmlns.banesco.com/eopt/AcctLoanPrLetterMod_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:element name="AcctLoanPrLetterModRq" type="eoptAcctLoanPrLetterMod:AcctLoanPrLetterModRq_Type"/>
	<xs:complexType name="AcctLoanPrLetterModRs_Type">
		<xs:sequence>
			<xs:element name="AcctMember" type="eoAcct:AcctMember" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PromiseLetter" type="eoAcct:PromiseLetter" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoanPrLetterModRq_Type">
		<xs:sequence>
			<xs:element name="Acct" type="eoAcct:Acct" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctLoanPrLetterModRs" type="eoptAcctLoanPrLetterMod:AcctLoanPrLetterModRs_Type"/>
</xs:schema>
