Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/AAArrangementActivity/NewcustomeraccNatCreaciondeclientecuentanatRequest.xsd

<xsd:schema targetNamespace="http://www.temenos.com/T24/ofs/Request" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.temenos.com/T24/ofs/Request" xmlns:reqcns="http://www.temenos.com/T24/ofs/RequestCommon" xmlns:ns0="http://www.temenos.com/T24/ofs/AAARRANGEMENTACTIVITYWFACCTNEWType">
<xsd:import namespace="http://www.temenos.com/T24/ofs/RequestCommon" schemaLocation="../Common/RequestCommonType.xsd"/>
<xsd:import namespace="http://www.temenos.com/T24/ofs/AAARRANGEMENTACTIVITYWFACCTNEWType" schemaLocation="AAARRANGEMENTACTIVITYWFACCTNEWType.xsd"/>
<xsd:element name="AAARRANGEMENTACTIVITYWFACCTNEWRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="RequestCommon" type="reqcns:RequestCommonType" minOccurs="0"/>
<xsd:element name="AAARRANGEMENTACTIVITYWFACCTNEW" type="ns0:AAARRANGEMENTACTIVITYWFACCTNEWType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>