Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/AAArrangementActivity/NewcustomeraccNatCreaciondeclientecuentanatResponse.xsd

<xsd:schema targetNamespace="http://www.temenos.com/T24/ofs/Response" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.temenos.com/T24/ofs/Response" xmlns:rescns="http://www.temenos.com/T24/ofs/ResponseCommon" xmlns:ns0="http://www.temenos.com/T24/ofs/AAARRANGEMENTACTIVITYType">
<xsd:import namespace="http://www.temenos.com/T24/ofs/ResponseCommon"
            schemaLocation="../Common/ResponseCommonType.xsd"/>
<xsd:import namespace="http://www.temenos.com/T24/ofs/AAARRANGEMENTACTIVITYType" schemaLocation="AAARRANGEMENTACTIVITYType.xsd"/>
<xsd:element name="AAARRANGEMENTACTIVITYWFACCTNEWResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ResponseCommon" type="rescns:ResponseCommonType" minOccurs="0" maxOccurs="unbounded"/>
<xsd:element name="AAARRANGEMENTACTIVITY" type="ns0:AAARRANGEMENTACTIVITYType" minOccurs="0" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>