BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ObtenerRolesCuestionario/XSD/ObtenerRolesCuestionario.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ObtenerRolesCuestionario" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ObtenerRolesCuestionario" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ObtenerRolesCuestionarioInput" type="ObtenerRolesCuestionarioInput"/>
   <xs:complexType name="ObtenerRolesCuestionarioInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ObtenerRolesCuestionarioOutputCollection" type="ObtenerRolesCuestionarioOutputCollection"/>
   <xs:complexType name="ObtenerRolesCuestionarioOutputCollection">
      <xs:sequence>
         <xs:element name="ObtenerRolesCuestionarioOutput" type="ObtenerRolesCuestionarioOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ObtenerRolesCuestionarioOutput">
      <xs:sequence>
         <xs:element name="ROL" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>