AG_2019/OSB/OSB_PRD_Almacenes/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc/Resource/ItemCatalogTaskSvcWSDL.wsdl

<wsdl:definitions name="ItemCatalogTaskSvcWSDL" targetNamespace="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvcWSD" xmlns:tns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvcWSD" xmlns:inp1="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:fcon="http://mx.agarcia.ea/Capabilities/Support/ItemCatalogEntitySvc/Schema" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc" schemaLocation="../Schema/ItemCatalogTaskSvcSchema.xsd"/>
             <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Support/ItemCatalogEntitySvc/Schema" schemaLocation="../../../../../Capabilities/Support/Commons/ItemCatalogEntitySvc/Schema/findConceptSchema.xsd"/>
                 <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemsCatalogs" schemaLocation="../../../../../Capabilities/Support/Commons/ItemCatalogEntitySvc/ItemCatalogDataService/Schema/ItemsCatalogs.xsd"/>
                 <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemApplications" schemaLocation="../../../../../Capabilities/Support/Commons/ItemCatalogEntitySvc/ItemCatalogDataService/Schema/ItemApplications.xsd"/>
                 <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
                 <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
                 </xsd:schema>
       
    </wsdl:types>
    <wsdl:message name="requestMessage">
        <wsdl:part name="request" element="inp1:translateRequest"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="response" element="inp1:translateResponse"/>
    </wsdl:message>
    <wsdl:portType name="ItemCatalogEntitySvcPType">
        <wsdl:operation name="translate">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
            <wsdl:fault name="fault" message="tns:standarMessageFault"/>
        </wsdl:operation>
        <wsdl:operation name="findConcept">
            <wsdl:input message="tns:findConceptRequest"/>
            <wsdl:output message="tns:findConceptResponse"/>
            <wsdl:fault name="fault" message="tns:standarMessageFault"/>
        </wsdl:operation>
        <wsdl:operation name="findCatalogs">
            <wsdl:input message="tns:findCatalogsRequest"/>
            <wsdl:output message="tns:findCatalogsResponse"/>
            <wsdl:fault name="fault" message="tns:standarMessageFault"/>
        </wsdl:operation>
        <wsdl:operation name="findCatalog">
            <wsdl:input message="tns:findCatalogRequest"/>
            <wsdl:output message="tns:findCatalogResponse"/>
            <wsdl:fault name="fault" message="tns:standarMessageFault"/>
        </wsdl:operation>
        <wsdl:operation name="modify">
            <wsdl:input message="tns:modifyRequest"/>
            <wsdl:output message="tns:modifyResponse"/>
            <wsdl:fault name="fault" message="tns:standarMessageFault"/>
        </wsdl:operation>
        <wsdl:operation name="register">
            <wsdl:input message="tns:registerRequest"/>
            <wsdl:output message="tns:registerResponse"/>
            <wsdl:fault name="fault" message="tns:standarMessageFault"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:deleteRequest"/>
            <wsdl:output message="tns:deleteResponse"/>
            <wsdl:fault name="fault" message="tns:standarMessageFault"/>
        </wsdl:operation>
        <wsdl:operation name="findApplications">
            <wsdl:input message="tns:findApplicationsRequest"/>
            <wsdl:output message="tns:findApplicationsResponse"/>
            <wsdl:fault name="fault" message="tns:standarMessageFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="findConceptRequest">
        <wsdl:part name="findConceptRequest" element="fcon:findConceptRequest"/>
    </wsdl:message>
    <wsdl:message name="findConceptResponse">
        <wsdl:part name="findConceptResponse" element="fcon:findConceptResponse"/>
    </wsdl:message>
    <wsdl:message name="findApplicationsRequest">
        <wsdl:part name="findApplicationsRequest" element="inp1:appsFilterRequestType"/>
    </wsdl:message>
    <wsdl:message name="findApplicationsResponse">
        <wsdl:part name="findApplicationsResponse" element="inp1:catalogsResponseType"/>
    </wsdl:message>
    <wsdl:message name="findCatalogsRequest">
        <wsdl:part name="findCatalogsRequest" element="inp1:catalogsFilterRequestType"/>
    </wsdl:message>
    <wsdl:message name="findCatalogsResponse">
        <wsdl:part name="findCatalogsResponse" element="inp1:catalogsFilterResponseType"/>
    </wsdl:message>
    <wsdl:message name="findCatalogRequest">
        <wsdl:part name="findCatalogRequest" element="inp1:catalogFilterRequestType"/>
    </wsdl:message>
    <wsdl:message name="findCatalogResponse">
        <wsdl:part name="findCatalogResponse" element="inp1:catalogFilterResponseType"/>
    </wsdl:message>
    <wsdl:message name="modifyRequest">
        <wsdl:part name="modifyRequest" element="inp1:modifyRequestType"/>
    </wsdl:message>
    <wsdl:message name="modifyResponse">
        <wsdl:part name="modifyResponse" element="inp1:modifyResponseType"/>
    </wsdl:message>
    <wsdl:message name="registerRequest">
        <wsdl:part name="registerRequest" element="inp1:registerRequestType"/>
    </wsdl:message>
    <wsdl:message name="registerResponse">
        <wsdl:part name="registerResponse" element="inp1:registerResponseType"/>
    </wsdl:message>
    <wsdl:message name="deleteRequest">
        <wsdl:part name="deleteRequest" element="inp1:deleteRequestType"/>
    </wsdl:message>
    <wsdl:message name="deleteResponse">
        <wsdl:part name="deleteResponse" element="inp1:deleteResponseType"/>
    </wsdl:message>
    <wsdl:message name="standarMessageFault">
        <wsdl:part name="fault" element="AGSM:messageError"/>
    </wsdl:message>
    <wsdl:message name="standarMessageHeader">
        <wsdl:part name="header" element="AGSH:headerMessage"/>
    </wsdl:message>
    <wsdl:binding name="ItemCatalogEntitySvcBinding" type="tns:ItemCatalogEntitySvcPType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="translate">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvcWSDL/translate"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findConcept">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvcWSDL/findConcept"/>
            <wsdl:input>
                <soap:body use="literal" parts="findConceptRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="findConceptResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findCatalogs">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvcWSDL/findCatalogs"/>
            <wsdl:input>
                <soap:body use="literal" parts="findCatalogsRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="findCatalogsResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findCatalog">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvcWSDL/findCatalog"/>
            <wsdl:input>
                <soap:body use="literal" parts="findCatalogRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="findCatalogResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="modify">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvcWSDL/modify"/>
            <wsdl:input>
                <soap:body use="literal" parts="modifyRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="modifyResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="register">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvcWSDL/register"/>
            <wsdl:input>
                <soap:body use="literal" parts="registerRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="registerResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvcWSDL/delete"/>
            <wsdl:input>
                <soap:body use="literal" parts="deleteRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="deleteResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findApplications">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemCatalogEntitySvcWSDL/findApplications"/>
            <wsdl:input>
                <soap:body use="literal" parts="findApplicationsRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="findApplicationsResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>