AG_2019/OSB/OSB_PRD_Almacenes/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc/Resource/ItemCatalogRESTPxy.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:inp1="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc" xmlns:ns8="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemsCatalogs" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ItemCatalogRESTPxy">ItemCatalogRESTPxy</doc>
   <grammars>
      <xsd:schema>
            <xsd:import namespace="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc" schemaLocation="../Schema/ItemCatalogTaskSvcSchema.xsd"/>
            <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Support/ItemCatalogEntitySvc/Schema" schemaLocation="../../../../../Capabilities/Support/Commons/ItemCatalogEntitySvc/Schema/findConceptSchema.xsd"/>
            <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemsCatalogs" schemaLocation="../../../../../Capabilities/Support/Commons/ItemCatalogEntitySvc/ItemCatalogDataService/Schema/ItemsCatalogs.xsd"/>
            <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemApplications" schemaLocation="../../../../../Capabilities/Support/Commons/ItemCatalogEntitySvc/ItemCatalogDataService/Schema/ItemApplications.xsd"/>
            <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
            <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/register">
         <method name="POST" soa:wsdlOperation="register">
             <request soa:paramElement="pns:registerRequestType" xmlns:pns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc">
               <representation mediaType="application/json" element="cns:registerRequestType" xmlns:cns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:registerResponseType" xmlns:cns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault">
               <representation mediaType="application/xml" element="cns:messageError" xmlns:cns="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/delete/{id}">
         <method name="DELETE" soa:wsdlOperation="delete">
         <request soa:paramElement="pns:deleteRequestType" xmlns:pns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc">
               <param name="id" style="template" soa:expression="$msg.deleteRequest/inp1:id" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:deleteResponseType" xmlns:cns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault">
               <representation mediaType="application/xml" element="cns:messageError" xmlns:cns="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/modify">
         <method name="PUT" soa:wsdlOperation="modify">
            <request soa:paramElement="pns:modifyRequestType" xmlns:pns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc">
               <representation mediaType="application/json" element="cns:modifyRequestType" xmlns:cns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:modifyResponseType" xmlns:cns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault">
               <representation mediaType="application/xml" element="cns:messageError" xmlns:cns="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/findCatalogs">
         <method name="GET" soa:wsdlOperation="findCatalogs">
            <request soa:paramElement="pns:catalogsFilterRequestType" xmlns:pns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc"/>
            <response status="200">
               <representation mediaType="application/json" element="cns:catalogsFilterResponseType" xmlns:cns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault">
               <representation mediaType="application/xml" element="cns:messageError" xmlns:cns="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
            </response>
         </method>
      </resource>
      <resource path="/findCatalog/{catalogId}">
         <method name="GET" soa:wsdlOperation="findCatalog">
            <request soa:paramElement="pns:catalogFilterRequestType" xmlns:pns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc">
               <param name="id" style="query" soa:expression="$msg.findCatalogRequest/ns8:id" type="xsd:string"/>
               <param name="appCode" style="query" soa:expression="$msg.findCatalogRequest/ns8:appCode" type="xsd:string"/>
               <param name="name" style="query" soa:expression="$msg.findCatalogRequest/ns8:name" type="xsd:string"/>
               <param name="catalogId" style="template" soa:expression="$msg.findCatalogRequest/ns8:catalogId" type="xsd:long"/>
               <param name="description" style="query" soa:expression="$msg.findCatalogRequest/ns8:description" type="xsd:string"/>
               <param name="parentId" style="query" soa:expression="$msg.findCatalogRequest/ns8:parentId" type="xsd:string"/>
               <param name="parentAppcode" style="query" soa:expression="$msg.findCatalogRequest/ns8:parentAppcode" type="xsd:string"/>
               <param name="primaryId" style="query" soa:expression="$msg.findCatalogRequest/ns8:primaryId" type="xsd:string"/>
               <param name="primaryAppcode" style="query" soa:expression="$msg.findCatalogRequest/ns8:primaryAppcode" type="xsd:string"/>
               <param name="parentCatid" style="query" soa:expression="$msg.findCatalogRequest/ns8:parentCatid" type="xsd:long"/>
               <param name="primaryCatid" style="query" soa:expression="$msg.findCatalogRequest/ns8:primaryCatid" type="xsd:long"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:catalogFilterResponseType" xmlns:cns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc"/>
            </response>
         </method>
      </resource>


      <resource path="/findCatalog/appCode/{appCode}">
         <method name="GET" soa:wsdlOperation="findCatalog">
            <request soa:paramElement="pns:catalogFilterRequestType" xmlns:pns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc">
               <param name="id" style="query" soa:expression="$msg.findCatalogRequest/ns8:id" type="xsd:string"/>
               <param name="appCode" style="template" soa:expression="$msg.findCatalogRequest/ns8:appCode" type="xsd:string"/>
               <param name="name" style="query" soa:expression="$msg.findCatalogRequest/ns8:name" type="xsd:string"/>
               <param name="catalogId" style="template" soa:expression="$msg.findCatalogRequest/ns8:catalogId" type="xsd:long"/>
               <param name="description" style="query" soa:expression="$msg.findCatalogRequest/ns8:description" type="xsd:string"/>
               <param name="parentId" style="query" soa:expression="$msg.findCatalogRequest/ns8:parentId" type="xsd:string"/>
               <param name="parentAppcode" style="query" soa:expression="$msg.findCatalogRequest/ns8:parentAppcode" type="xsd:string"/>
               <param name="primaryId" style="query" soa:expression="$msg.findCatalogRequest/ns8:primaryId" type="xsd:string"/>
               <param name="primaryAppcode" style="query" soa:expression="$msg.findCatalogRequest/ns8:primaryAppcode" type="xsd:string"/>
               <param name="parentCatid" style="query" soa:expression="$msg.findCatalogRequest/ns8:parentCatid" type="xsd:long"/>
               <param name="primaryCatid" style="query" soa:expression="$msg.findCatalogRequest/ns8:primaryCatid" type="xsd:long"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:catalogFilterResponseType" xmlns:cns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc"/>
            </response>
         </method>
      </resource>
	  
	  
	  
	  
	  <resource path="/findCatalog/id/{id}">
         <method name="GET" soa:wsdlOperation="findCatalog">
            <request soa:paramElement="pns:catalogFilterRequestType" xmlns:pns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc">
               <param name="id" style="template" soa:expression="$msg.findCatalogRequest/ns8:id" type="xsd:string"/>
               <param name="appCode" style="template" soa:expression="$msg.findCatalogRequest/ns8:appCode" type="xsd:string"/>
               <param name="name" style="query" soa:expression="$msg.findCatalogRequest/ns8:name" type="xsd:string"/>
               <param name="catalogId" style="template" soa:expression="$msg.findCatalogRequest/ns8:catalogId" type="xsd:long"/>
               <param name="description" style="query" soa:expression="$msg.findCatalogRequest/ns8:description" type="xsd:string"/>
               <param name="parentId" style="query" soa:expression="$msg.findCatalogRequest/ns8:parentId" type="xsd:string"/>
               <param name="parentAppcode" style="query" soa:expression="$msg.findCatalogRequest/ns8:parentAppcode" type="xsd:string"/>
               <param name="primaryId" style="query" soa:expression="$msg.findCatalogRequest/ns8:primaryId" type="xsd:string"/>
               <param name="primaryAppcode" style="query" soa:expression="$msg.findCatalogRequest/ns8:primaryAppcode" type="xsd:string"/>
               <param name="parentCatid" style="query" soa:expression="$msg.findCatalogRequest/ns8:parentCatid" type="xsd:long"/>
               <param name="primaryCatid" style="query" soa:expression="$msg.findCatalogRequest/ns8:primaryCatid" type="xsd:long"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:catalogFilterResponseType" xmlns:cns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc"/>
            </response>
         </method>
      </resource>


      <resource path="/findApplications">
         <method name="GET" soa:wsdlOperation="findApplications">
            <request soa:paramElement="pns:appsFilterRequestType" xmlns:pns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc"/>
            <response status="200">
               <representation mediaType="application/json" element="cns:catalogsResponseType" xmlns:cns="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc"/>
            </response>
            <response status="400" soa:wsdlFaultName="fault">
               <representation mediaType="application/xml" element="cns:messageError" xmlns:cns="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
            </response>
         </method>
      </resource>
   </resources>
</application>