BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ValidarOperacionProceso/V1/Schema/ValidarOperacionProcesoBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ValidarOperacionProcesoBO"
            targetNamespace="http://www.bcie.org/ValidarOperacionProcesoBO" elementFormDefault="qualified">
  <xsd:complexType name="OperacionProceso">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>A sample element</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="idProceso" type="xsd:long">
        <xsd:annotation>
          <xsd:documentation>A sample element</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
