BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PA04/EnmiendasProcess.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://xmlns.oracle.com/bpmn/bpmnProcess/EnmiendasProcess"
            targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EnmiendasProcess"
            xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
            xmlns:param="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" elementFormDefault="qualified"
            xmlns:eqTr="http://www.bcie.org/EqipoTrabajo/V1">
  <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
              schemaLocation="../Comun/Header/V1/HeaderOPN.xsd"/>
  <xsd:import namespace="http://www.bcie.org/EqipoTrabajo/V1"
              schemaLocation="../Comun/EquipoTrabajo/V1/EquipoTrabajoOPN.xsd"/>
  <!-- Procesos Inicio enmiendas -->
  <xsd:element name="InicioEnmiendas">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FinEnmiendas">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
          <xsd:element name="EquipoTrabajo" type="eqTr:ListadoEquipoTrbajo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InicioEnmiendasSolicitar">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InicioCancelarEnmiendasSolicitar">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InicioReasignarEnmiendasSolicitar">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InicioEnmiendasRegistrar">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InicioCancelarEnmiendasRegistrar">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InicioReasignarEnmiendasRegistrar">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
