Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFAcctLoan/AcctLoanInfoInq/AcctLoanInfoInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanInfoInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctLoanInfoInq="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanInfoInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../../../EO/Common/Common_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="PayInAcctRef">
		<xs:sequence>
			<xs:element name="PayInAcct" type="appoptAcctLoanInfoInq:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cuenta a debitar</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettleInstruction">
		<xs:annotation>
			<xs:documentation>SETTLEMENT INSTRUCTIONS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PayOut" type="appoptAcctLoanInfoInq:PayOut" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PayIn" type="appoptAcctLoanInfoInq:PayIn" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayIn">
		<xs:sequence>
			<xs:element name="PayInAcctRef" type="appoptAcctLoanInfoInq:PayInAcctRef" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayOut">
		<xs:sequence>
			<xs:element name="PayOutAcct" type="appoptAcctLoanInfoInq:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>LA CUENTA A DONDE VAN DIRIGIDOS LOS FONDOS DEL DESEMBOLSO / CUENTA INTERNA DE DESEMBOLSOS O CUENTAS DE DETALLE DEL CLIENTE</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Acct">
		<xs:annotation>
			<xs:documentation>Account Information Aggregate. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctSubtype" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Subtype.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctTitle" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Title.

Title on account typically identifies ownership or responsibility for account and manner in which ownership/responsibility is assigned (e.g. John Doe CUSTODIAN)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutonomyCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de autonomía. Autorizador</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutonomyUser" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Usuario que registro la autonomia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Category" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Categoría</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClosedDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Closed Date.

Indicates the date the account closed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClubBanesco" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica si el producto pertenece al Club Banesco</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The CurrencyCode is used to express Currency codes and the authoritative source that defines them.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FIData" type="appoptAcctLoanInfoInq:FIData" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Financial Institution Data Aggregate contains additional information used to identify a bank, typically when used for payment transfers, payee requests, and wire transfers. It is required in CHE, DEU, and ITA to completely identify an account. Sufficient information must be provided within this aggregate to uniquely identify the bank at which the account is held. Failure to do so will result in an error being returned from the server.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Opening Date.

Opening date of object, usage depends on context.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrinProperty" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Propiedad de interes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubCategory" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sub producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Variation" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Variación del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctKey" type="appoptAcctLoanInfoInq:AcctKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IntRateData" type="appoptAcctLoanInfoInq:IntRateData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctBal" type="appoptAcctLoanInfoInq:AcctBal" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="CreditAcctData" type="appoptAcctLoanInfoInq:CreditAcctData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctOpeningInfo" type="appoptAcctLoanInfoInq:AcctOpeningInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctBal">
		<xs:annotation>
			<xs:documentation>Account Balance.

Supports attributes with respect to all the balances a financial institution account may carry (ex: ledger, available, collected, etc.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CurAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Currency Amount.

All monetary amounts in the IFX Specification are handled with the Currency Amount data type. When included, this data type contains a decimal value for the amount, an optional currency code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctLoanInfoInqRq" type="appoptAcctLoanInfoInq:AcctLoanInfoInqRq_Type"/>
	<xs:complexType name="AcctLoanInfoInqRq_Type">
		<xs:sequence>
			<xs:element name="AcctLoanKey" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoanInfoInqRs_Type">
		<xs:sequence>
			<xs:element name="AcctLoan" type="appoptAcctLoanInfoInq:Acct" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Party" type="appoptAcctLoanInfoInq:Party" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctLoanInfoInqRs" type="appoptAcctLoanInfoInq:AcctLoanInfoInqRs_Type"/>
	<xs:complexType name="AcctOpeningInfo">
		<xs:sequence>
			<xs:element name="CostCenter" type="appoptAcctLoanInfoInq:CostCenter" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Centro de costos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective Date Time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InitialAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Initial Amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SaleOfficer" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Canal de ventas</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Charge">
		<xs:annotation>
			<xs:documentation>Charge Type

Values:
ManagementFee
NotaryPay
LegalHonorarium
TaxStamp
AutoInsurance
AutoInsuranceAdvance
Others
NotaryIncome
LifeInsuranceAdvance
LifeSurcharge
PersonalLife
ITBMS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChargeType" type="eoAcct:EnumChargeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CurAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Charge Amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Charge Description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctReference" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cuenta de referencia que genera T24</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlternateId" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditAcctData">
		<xs:annotation>
			<xs:documentation>Credit Account Data.

Used to maintain and retrieve data specific to credit products. Could have one register per CurrencyCode</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="APCObs" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Observación APC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de mantenimiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CodeDestination" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Destino de los fondos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryDestination" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>País de destino de los fondos.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditDestination" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Destino del crédito</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeciProperty" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Feci property</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundsDestination" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Local o Extranjero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundsPurpose" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Destino de los fondos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntFeci" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Interes Feci</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LatePenalty" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Aplica mora </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginationDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Origination date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OriginationRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Referencia de originación</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrefRateExpDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de vencimiento de la tasa preferencial.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurposeDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Purpose Description.

Purpose for Loan or LOC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefinanceDate" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de refinanciamiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefinanceNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de refinanciamiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de restructuración</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de préstamo restructurado</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RevResDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de revisión reestructuración</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceSales" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fuente de Información de Ventas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalChargeAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Suma total de los cargos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WritingType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>SE USA PARA LOS CASOS DONDE SE ACTIVA EL COBRO DE TIMBRES POR PAGARÉS, PARA EL CASO DE ESCRITURAS PÚBLICAS NO SE ACTIVA EL COBRO.

- Escritura publica
- Pagaré
- NONE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Charge" type="appoptAcctLoanInfoInq:Charge" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Term" type="appoptAcctLoanInfoInq:Term" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CreditAcctPmtInfo" type="appoptAcctLoanInfoInq:CreditAcctPmtInfo" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CreditRegularPmt" type="appoptAcctLoanInfoInq:CreditRegularPmt" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="SettleInstruction" type="appoptAcctLoanInfoInq:SettleInstruction" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditAcctPmtInfo">
		<xs:annotation>
			<xs:documentation>Clase de pago. (Metodo de pago)

Ej: Capitalize, Due, Maintain, Pay.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NextPmtDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Next Payments Date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtMethod" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Forma de pago</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditRegularPmt">
		<xs:sequence>
			<xs:element name="Amt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Freq" type="appoptcommon:Freq" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>For repeating actions, frequency identifies the appropriate time period for recurrence.
Daily, Weekly, Biweekly, TwiceMonthly, Monthly, EndOfMonth, FourWeeks, BiMonthly, Quarterly, SemiAnnually, Annually</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtClass" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Clase de pago.

Ej: Capitalize, Due, Maintain, Pay.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de pagos.

Ej: Pago de capital, Pago de capital e intereses etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IntRateData">
		<xs:annotation>
			<xs:documentation>Interest Rate Data.

Interest rate information for debit and credit accounts.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DepBase" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Garantizados con depositos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntDayBasis" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Interes del día</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Porcentaje de interés.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpreadPercentage" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Porcentaje del PFD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpreadPoint" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Spread en puntos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WofRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tasa a castigar</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Agency">
		<xs:annotation>
			<xs:documentation>Agency Especification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgencyIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agency Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FIData">
		<xs:annotation>
			<xs:documentation>The Financial Institution Data Aggregate contains additional information used to identify a bank, typically when used for payment transfers, payee requests, and wire transfers. It is required in CHE, DEU, and ITA to completely identify an account. Sufficient information must be provided within this aggregate to uniquely identify the bank at which the account is held. Failure to do so will result in an error being returned from the server.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Agency" type="appoptAcctLoanInfoInq:Agency" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>Party is a person or organization. A Party typically has some association with an account and fulfills roles such as:

a primary or partial ownership/responsibility for an account
a beneficiary of an account
has signatory authorization on an account
has legal authorization, such as power of attorney, for an account
A Party can have relationships to accounts, cards and other parties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyKey" type="appoptAcctLoanInfoInq:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código del cliente asignado T24</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Term">
		<xs:annotation>
			<xs:documentation>Account Term.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProposedTerm" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Proposed Term.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CostCenter">
		<xs:annotation>
			<xs:documentation>Centro de costos</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="CostCenterId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador del centro de costos</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
