AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ItemApp/CreateItemRMSAdapterService/Resources/Schemas/CreateItemRMSJSON.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://TargetNamespace.com/ServiceName"
            targetNamespace="http://TargetNamespace.com/ServiceName" elementFormDefault="qualified"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
  <xsd:element name="Root-Element">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="estilo" type="xsd:string"/>
        <xsd:element name="descripcion" type="xsd:string"/>
        <xsd:element name="desc_corta" type="xsd:string"/>
        <xsd:element name="proveedor" type="xsd:string"/>
        <xsd:element name="dpto" type="xsd:string"/>
        <xsd:element name="clase" type="xsd:string"/>
        <xsd:element name="tipo" type="xsd:string"/>
        <xsd:element name="imagenURL" type="xsd:string"/>
        <xsd:element name="costo" type="xsd:string"/>
        <xsd:element name="UM_costo" type="xsd:string"/>
        <xsd:element name="precio_rec" type="xsd:string"/>
        <xsd:element name="UM_precio" type="xsd:string"/>
        <xsd:element name="almacen" type="xsd:string"/>
        <xsd:element name="temporada" type="xsd:string"/>
        <xsd:element name="fase" type="xsd:string"/>
        <xsd:element name="marca" type="xsd:string"/>
        <xsd:element name="matriz_colores" type="xsd:string"/>
        <xsd:element name="matriz_tallas" type="xsd:string"/>
        <xsd:element name="empaque" type="xsd:string"/>
        <xsd:element name="uda">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="CONSUMIDOR" type="xsd:string"/>
              <xsd:element name="MUEBLE" type="xsd:string"/>
              <xsd:element name="CADUCIDAD" type="xsd:string"/>
              <xsd:element name="SEMANA_PISO_DE_VENTA" type="xsd:string"/>
              <xsd:element name="CLASIFICACION" type="xsd:string"/>
              <xsd:element name="FAMILIA" type="xsd:string"/>
              <xsd:element name="PRIORIDAD_DE_MERCANCIA" type="xsd:string"/>
              <xsd:element name="STICKER" type="xsd:string"/>
              <xsd:element name="CONCEPTO" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="colores" maxOccurs="unbounded" type="xsd:string"/>
        <xsd:element name="tallas" maxOccurs="unbounded" type="xsd:string"/>
        <xsd:element name="precios" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="pais" type="xsd:string"/>
              <xsd:element name="precio" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="desc_idiomas" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="pais" type="xsd:string"/>
              <xsd:element name="descripcion" type="xsd:string"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:annotation xmlns="">
    <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
    <xsd:appinfo>USEHEADER=false</xsd:appinfo>
  </xsd:annotation>
</xsd:schema>