AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ItemApp/CreateItemRMSAdapterService/Resources/Schemas/RMSViewsSPReference_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/RMSViewsSPReference" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/RMSViewsSPReference" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="I_JSON_DATA" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CREAR_ESTILO_JSON" type="string" db:index="0" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="O_ERROR_MESSAGE" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>