Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/PADRON/resources/xsd/WebServicePadronRD.svc-reponse.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/PadronRD.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/PadronRD.Model">
   <xs:complexType name="RespuestaPersona">
      <xs:sequence>
         <xs:element minOccurs="0" name="personaFisica" nillable="true" type="tns:PersonaFisica"/>
         <xs:element minOccurs="0" name="personaJuridica" nillable="true" type="tns:PersonaJuridica"/>
         <xs:element minOccurs="0" name="respuestaConexion" nillable="true" type="tns:RespuestaConexion"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="RespuestaPersona" nillable="true" type="tns:RespuestaPersona"/>
   <xs:complexType name="PersonaFisica">
      <xs:sequence>
         <xs:element minOccurs="0" name="EstadoCivil" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="FechaNacimiento" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="FotoCedulado" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="Genero" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="LugarDeNacimiento" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="PrimerApellido" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="PrimerNombre" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="SegundoApellido" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="SegundoNombre" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="Telefono" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="PersonaFisica" nillable="true" type="tns:PersonaFisica"/>
   <xs:complexType name="PersonaJuridica">
      <xs:sequence>
         <xs:element minOccurs="0" name="Estatus" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="Fecha_Creacion" nillable="true" type="xs:string"/>
         <xs:element minOccurs="0" name="NombreLegal" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="PersonaJuridica" nillable="true" type="tns:PersonaJuridica"/>
   <xs:complexType name="RespuestaConexion">
      <xs:sequence>
         <xs:element minOccurs="0" name="Condicion" type="xs:int"/>
         <xs:element minOccurs="0" name="CondicionEstatus" nillable="true" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="RespuestaConexion" nillable="true" type="tns:RespuestaConexion"/>
</xs:schema>