Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/PADRON/resources/xsd/WebServicePadronRD.svc-request.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/">
   <xs:import schemaLocation="WebServicePadronRD.svc-reponse.xsd" namespace="http://schemas.datacontract.org/2004/07/PadronRD.Model"/>
   <xs:element name="ObtenerPersona">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" name="documento" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="tipoDocumento" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ObtenerPersonaResponse">
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" name="ObtenerPersonaResult" nillable="true" type="q1:RespuestaPersona" xmlns:q1="http://schemas.datacontract.org/2004/07/PadronRD.Model"/>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
</xs:schema>