AG_2019/OSB/AlmacenesGarcia_DEV/Applications/Governance/jms/GovernanceAPISchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/Applications/Governance" xmlns:base="http://mx.agarcia.ea/Applications/Governance" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xsd:complexType name="GovernanceException">
      <xsd:sequence>
         <xsd:element name="message" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="auditType">
      <xsd:sequence>
         <xsd:element name="request" type="base:requestType" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="auditResponseType">
      <xsd:sequence>
         <xsd:element name="return" type="base:iResponse" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="requestType">
      <xsd:sequence>
         <xsd:element name="header" type="base:headerType" minOccurs="0"/>
         <xsd:element name="payload" type="xsd:base64Binary" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:simpleType name="OperationsCodeEnum">
      <xsd:annotation>
         <xsd:documentation>Lista de operaciones para modelo de gobierno</xsd:documentation>
      </xsd:annotation>
      <xsd:restriction base="xsd:string">
         <xsd:enumeration value="StartInterface"/>
         <xsd:enumeration value="FinishInterface"/>
         <xsd:enumeration value="StartActivity"/>
         <xsd:enumeration value="FinishActivity"/>
         <xsd:enumeration value="UpdateInterface"/>
         <xsd:enumeration value="UpdateActivity"/>
         <xsd:enumeration value="AlertInterface"/>
         <xsd:enumeration value="AlertActivity"/>
         <xsd:enumeration value="TraceInterface"/>
         <xsd:enumeration value="TraceActivity"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="headerType">
      <xsd:sequence>
         <xsd:element name="operation" type="base:OperationsCodeEnum" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="interfaceId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="activityId" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="parameters" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="entry" minOccurs="0" maxOccurs="unbounded">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="key" type="xsd:string" minOccurs="0"/>
                           <xsd:element name="value" type="xsd:string" minOccurs="0"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="source" type="xsd:string" minOccurs="0"/>
         <xsd:element name="data" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="iResponse" abstract="true">
      <xsd:sequence>
         <xsd:element name="code" type="xsd:string" minOccurs="0"/>
         <xsd:element name="dataSet" minOccurs="0">
            <xsd:complexType>
               <xsd:sequence>
                  <xsd:element name="entry" minOccurs="0" maxOccurs="unbounded">
                     <xsd:complexType>
                        <xsd:sequence>
                           <xsd:element name="key" type="xsd:string" minOccurs="0"/>
                           <xsd:element name="value" type="xsd:anySimpleType" minOccurs="0"/>
                        </xsd:sequence>
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
            </xsd:complexType>
         </xsd:element>
         <xsd:element name="id" type="xsd:string" minOccurs="0"/>
         <xsd:element name="message" type="xsd:string" minOccurs="0"/>
         <xsd:element name="success" type="xsd:boolean" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="GovernanceException" type="base:GovernanceException"/>
   <xsd:element name="audit" type="base:auditType"/>
   <xsd:element name="auditResponse" type="base:auditResponseType"/>
</xsd:schema>