Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFAcctLoan/AcctLoanCalcInq/AcctLoanCalcInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanCalcInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctLoanCalcInq="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanCalcInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="AcctLoanCalcInqRq" type="appoptAcctLoanCalcInq:AcctLoanCalcInqRq_Type"/>
	<xs:element name="AcctLoanCalcInqRs" type="appoptAcctLoanCalcInq:AcctLoanCalcInqRs_Type"/>
	<xs:complexType name="AcctLoanCalcInqRq_Type">
		<xs:sequence>
			<xs:element name="AcctLoan" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="SimRef" type="xs:string" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Referencia simualción</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoanCalcInqRs_Type">
		<xs:sequence>
			<xs:element name="CreditRegularPmt" type="appoptAcctLoanCalcInq:CreditRegularPmt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditRegularPmt">
		<xs:sequence>
			<xs:element name="Amt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
