BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ConsultarRolesPorProceso/XSD/ConsultarRolesPorProceso.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarRolesPorProceso" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarRolesPorProceso" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarRolesPorProcesoInput" type="ConsultarRolesPorProcesoInput"/>
   <xs:complexType name="ConsultarRolesPorProcesoInput">
      <xs:sequence>
         <xs:element name="idProceso" type="xs:long" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarRolesPorProcesoOutputCollection" type="ConsultarRolesPorProcesoOutputCollection"/>
   <xs:complexType name="ConsultarRolesPorProcesoOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarRolesPorProcesoOutput" type="ConsultarRolesPorProcesoOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarRolesPorProcesoOutput">
      <xs:sequence>
         <xs:element name="R_ID" type="xs:long" nillable="true"/>
         <xs:element name="R_DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="R_DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
         <xs:element name="R_BAN_ESTATUS" type="xs:string" nillable="true"/>
         <xs:element name="R_FECHA_REGISTRO" type="xs:string" nillable="true"/>
         <xs:element name="R_COD_EXTERNO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>