Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFChk/ChkOrdMod/ChkOrdMod_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFChkAppSvc/ChkOrdMod_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptChkOrdMod="http://xmlns.banesco.com/appopt/WFChkAppSvc/ChkOrdMod_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="ChkOrdModRs" type="appoptChkOrdMod:ChkOrdModRs_Type"/>
	<xs:complexType name="ChkOrdModRq_Type">
		<xs:sequence>
			<xs:element name="Chk" type="appoptChkOrdMod:Chk" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkOrdModRs_Type">
		<xs:sequence>
			<xs:element name="ChkKey" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Check Issue Key</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="ChkNum" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Número de Cheque</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="StockId" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Chk">
		<xs:annotation>
			<xs:documentation>The Check Issue object represents an issued check.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChkIssueKey" type="appoptChkOrdMod:ChkKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ChkData" type="appoptChkOrdMod:ChkData" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkKey">
		<xs:annotation>
			<xs:documentation>Check Issue Key</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChkNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Check Number. The serial number uniquely identifying the check or document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StockId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Stock Identificator</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerieId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Id de Serie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DraftNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de stock</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkData">
		<xs:annotation>
			<xs:documentation>Check information. Used when the payment is to be made by paper check. Contains all detail information to be appeared on the check. This can be used to support check outsourcing.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChkType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of Check</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Currency Amount. Check currency amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditorData" type="appoptChkOrdMod:CreditorData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DebtorData" type="appoptChkOrdMod:DebtorData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Details" type="appoptChkOrdMod:Details" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorData">
		<xs:annotation>
			<xs:documentation>In payment scenarios, Creditor refers to the payee. CreditorData contains the information about the payee.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CreditorAcct" type="appoptChkOrdMod:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Creditor Account identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FSPayee" type="appoptChkOrdMod:FSPayee" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payee Information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DebtorData">
		<xs:sequence>
			<xs:element name="DebtorAcct" type="appoptChkOrdMod:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Debtor Account identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Details">
		<xs:annotation>
			<xs:documentation>Text descriptions on the check.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Memo" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FSPayee">
		<xs:annotation>
			<xs:documentation>The FSPayee aggregate is used to provide complete information about a Fully-Specified Payee.  Used in Bill Pay message set when a payee is identified as a Fully Specified payee, as opposed to a Biller, or a Transfer Payee.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="OrgData" type="appoptChkOrdMod:OrgData" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Organization Data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonData" type="appoptChkOrdMod:PersonData" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Person Data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
	<xs:complexType name="OrgData">
		<xs:annotation>
			<xs:documentation>Organization Data.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="OrgName" type="appoptChkOrdMod:OrgName" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonData">
		<xs:annotation>
			<xs:documentation>Person Data Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PersonName" type="appoptChkOrdMod:PersonName" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgName">
		<xs:annotation>
			<xs:documentation>Organization Name.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Full company name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonName">
		<xs:annotation>
			<xs:documentation>Person Name.

The PersonName aggregate is used to specify a person's full name and, optionally, preferred name (nickname).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Full Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctKey">
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de la cuenta</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ChkOrdModRq" type="appoptChkOrdMod:ChkOrdModRq_Type"/>
</xs:schema>
