BCIE_fenix/dev/SOA/09-OSB-FLEXCUBE/Schema/CorreoElectronicoMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/CorreoMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:correoMO="http://www.bcie.org/CorreoMO" xmlns:correoBO="http://www.bcie.org/CorreoBO" xmlns:resBO="http://www.bcie.org/FLEXCUBE14/ResultBO" xmlns:errBO="http://www.bcie.org/FLEXCUBE14/ErrorBO" xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:opeBO="http://www.bcie.org/OperacionBO">        
            
 <xsd:import namespace="http://www.bcie.org/CorreoBO" schemaLocation="CorreoElectronicoBO.xsd"/>
 <xsd:import namespace="http://www.bcie.org/FLEXCUBE14/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
 <xsd:import namespace="http://www.bcie.org/FLEXCUBE14/ErrorBO" schemaLocation="../../../../Common/V1/Schema/ErrorBO.xsd"/>
  <xsd:import schemaLocation="../../../../DominioCliente/Cliente/V1/Schema/ClienteBO.xsd" namespace="http://www.bcie.org/ClienteBO"/>
  <xsd:import schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd" namespace="http://www.bcie.org/OperacionBO"/>
  
 <xsd:element name="enviarCorreoElectronicoRequest" type="correoMO:EnviarCorreoElectronicoRequestType"/>
 <xsd:element name="enviarCorreoElectronicoResponse" type="correoMO:EnviarCorreoElectronicoResponseType"/>
 <xsd:element name="crearBitacoraCorreoElectronicoRequest" type="correoMO:CrearBitacoraCorreoElectronicoRequestType"/>
 <xsd:element name="crearBitacoraCorreoElectronicoResponse" type="correoMO:CrearBitacoraCorreoElectronicoResponseType"/>

 <xsd:element name="EnviarCorreoElectronicoBPELRequest" type="correoMO:EnviarCorreoElectronicoBPELRequestType"/>
 <xsd:element name="EnviarCorreoElectronicoBPELResponse" type="correoMO:EnviarCorreoElectronicoBPELResponseType"/>

 <xsd:element name="ConstruirCorreoElectronicoRequest" type="correoMO:ConstruirCorreoElectronicoRequestType"/>
 <xsd:element name="ConstruirCorreoElectronicoResponse" type="correoMO:ConstruirCorreoElectronicoResponseType"/>
 <xsd:element name="EnviarCorreoElectronicoBPELFault" type="correoMO:EnviarCorreoElectronicoBPELFaultType"/>
 <xsd:element name="ConsultarPlantillaByProcesoRequest" type="correoMO:ConsultarPlantillaByProcesoRequestType"/>
 <xsd:element name="ConsultarPlantillaByProcesoResponse" type="correoMO:ConsultarPlantillaByProcesoResponseType"/>
  <xsd:element name="ConsultaRolByPlantillaRequest" type="correoMO:ConsultarRolByPlantillaRequestType"/>
 <xsd:element name="ConsultaRolByPlantillaResponse" type="correoMO:ConsultarRolByPlantillaResponseType"/>
 <xsd:element name="ObtenerRolesUsuariosByPlantillaRequest" type="correoMO:ObtenerRolesUsuariosByPlantillaRequestType"/>
 <xsd:element name="ObtenerRolesUsuariosByPlantillaResponse" type="correoMO:ObtenerRolesUsuariosByPlantillaResponseType"/>
 <xsd:element name="ValidarEnvioNotifSupervTCCRequest" type="correoMO:ValidarEnvioNotifSupervTCCRequestType"/>
 <xsd:element name="ValidarEnvioNotifSupervTCCResponse" type="correoMO:ValidarEnvioNotifSupervTCCResponseType"/>
 <xsd:element name="TipoString" type="xsd:string"/>
 
 <xsd:complexType name="EnviarCorreoElectronicoRequestType">
      <xsd:sequence>
         <xsd:element name="CorreoElectronico" type="correoBO:CorreoElectronico" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="EnviarCorreoElectronicoResponseType">
      <xsd:sequence>
         <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
 <xsd:complexType name="CrearBitacoraCorreoElectronicoRequestType">
  <xsd:sequence>
   <xsd:element name="BitacoraCorreoElectronico" type="correoBO:BitacoraEnviarCorreo"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="CrearBitacoraCorreoElectronicoResponseType">
  <xsd:sequence>
   <xsd:element name="BitacoraId" type="xsd:long"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:complexType name="EnviarCorreoElectronicoBPELRequestType">
  <xsd:sequence>
   <xsd:element name="correoElectronico" type="correoBO:CorreoElectronico"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="EnviarCorreoElectronicoBPELResponseType">
  <xsd:sequence>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>

 <xsd:complexType name="ConstruirCorreoElectronicoRequestType">
  <xsd:sequence>
   <xsd:element name="CorreoElectronico" type="correoBO:CorreoElectronico" minOccurs="1" maxOccurs="1"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConstruirCorreoElectronicoResponseType">
  <xsd:sequence>
   <xsd:element name="CorreoElectronico" type="correoBO:CorreoElectronico" minOccurs="1" maxOccurs="1"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="EnviarCorreoElectronicoBPELFaultType">
  <xsd:sequence>
   <xsd:element name="Fault" type="errBO:FaultErrorType"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarPlantillaByProcesoRequestType">
  <xsd:sequence>
   <xsd:element name="id_proceso" type="xsd:int" minOccurs="0"/>
   <xsd:element name="evento" type="xsd:string" minOccurs="0"/>
   <xsd:element name="idTarea" type="xsd:int" minOccurs="0"/>
   <xsd:element name="idPlantilla" type="xsd:int" minOccurs="0"/>
   <xsd:element name="pDescripcionTCAPlantilla" type="xsd:string" minOccurs="0"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarPlantillaByProcesoResponseType">
  <xsd:sequence>
   <xsd:element name="ProcesoEventoPlantilla" type="correoBO:PlantillaCorreo"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 
 <xsd:complexType name="ConsultarRolByPlantillaRequestType">
  <xsd:sequence>
   <xsd:element name="idPlantilla" type="xsd:int"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ConsultarRolByPlantillaResponseType">
  <xsd:sequence>
   <xsd:element name="ListaRoles" type="correoBO:ListaRoles"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ObtenerRolesUsuariosByPlantillaRequestType">
  <xsd:sequence>
   <xsd:element name="descripcionPlantilla" type="xsd:string"/>
   <xsd:element name="idOperacion" type="opeBO:idOperacion" minOccurs="0"/>
   <xsd:element name="idCliente" type="cliBO:idCliente" minOccurs="0"/>
   <xsd:element name="idProceso" type="xsd:int" minOccurs="0"/>
   <xsd:element name="banderas" type="correoBO:param" minOccurs="0" maxOccurs="unbounded"/>
   <xsd:element name="accciones" type="correoBO:param" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ObtenerRolesUsuariosByPlantillaResponseType">
  <xsd:sequence>
   <xsd:element name="listaUsuariosTo" type="correoBO:usuario"/>
   <xsd:element name="listaUsuariosError" type="correoBO:usuario"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ValidarEnvioNotifSupervTCCRequestType">
  <xsd:sequence>
   <xsd:element name="ID_SUPERVISION" type="xsd:decimal"/>
   <xsd:element name="DESC_PLANTILLA" type="xsd:string"/>
   <xsd:element name="ID_OPERACION" type="xsd:decimal"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ValidarEnvioNotifSupervTCCResponseType">
  <xsd:sequence>
   <xsd:element name="ESTADO" type="xsd:string"/>
   <xsd:element name="CODIGO" type="xsd:string"/>
   <xsd:element name="MENSAJE" type="xsd:string"/>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>