BCIE_fenix/dev/SOA/09-OSB-FLEXCUBE/Schema/CorreoElectronicoBO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/CorreoBO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:correoBO="http://www.bcie.org/CorreoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO">
             <xsd:import schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd" namespace="http://www.bcie.org/CatalogoBO"/>
  <!-- Estructura de Datos del Correo Electronico -->
  <xsd:complexType name="CorreoElectronico">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="to" type="correoBO:usuario"/>
      <xsd:element minOccurs="0" maxOccurs="1" name="bcc" type="correoBO:usuario"/>
      <xsd:element minOccurs="0" maxOccurs="1" name="cc" type="correoBO:usuario"/>
      <xsd:element minOccurs="0" maxOccurs="1" name="idOperacion" type="xsd:long"/>
      <xsd:element minOccurs="0" maxOccurs="1" name="idClienteFenix" type="xsd:long"/>
      <xsd:element minOccurs="0" maxOccurs="1" name="replyToAddress" type="xsd:string"/>
      <xsd:element minOccurs="0" maxOccurs="1" name="subject" type="xsd:string"/>
      <xsd:element minOccurs="0" maxOccurs="1" name="mensaje" type="xsd:string"/>
      <xsd:element minOccurs="0" maxOccurs="1" name="id_plantilla" type="xsd:int"/>
      <xsd:element name="DescripcionTCAPlantilla" type="xsd:string" minOccurs="0"/>
      <xsd:element name="IdFlujo" type="xsd:int" minOccurs="0"/>
      <xsd:element name="IdSupervicion" type="xsd:int" minOccurs="0"/>
      <xsd:element minOccurs="0" maxOccurs="1" name="proceso" type="xsd:int"/>
      <xsd:element minOccurs="0" maxOccurs="1" name="evento" type="xsd:string"/>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="parametros" type="correoBO:param"/>
      <xsd:element name="attachment" minOccurs="0" maxOccurs="unbounded" type="correoBO:AttachmentType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="param">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="1" name="tag" type="xsd:string"/>
      <xsd:element minOccurs="0" maxOccurs="1" name="valor" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AttachmentType">
    <xsd:sequence>
      <xsd:element name="name" type="xsd:string" minOccurs="1"/>
      <xsd:element name="type" type="xsd:string" minOccurs="1"/>
      <xsd:element name="content" type="xsd:base64Binary" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="usuario">
    <xsd:sequence>
      <xsd:element minOccurs="0" maxOccurs="unbounded" name="usuario" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BitacoraEnviarCorreo">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element name="idOperacion" type="xsd:long" minOccurs="0"/>
      <xsd:element name="idCliente" type="xsd:long" minOccurs="0"/>
      <xsd:element name="idTcaPlantillaCorreo" type="xsd:int" minOccurs="0"/>
      <xsd:element name="descripcionError" type="xsd:string" minOccurs="0"/>
      <xsd:element name="mensajeError" type="xsd:string" minOccurs="0"/>
      <xsd:element name="seHaNotificadoError" type="xsd:int" minOccurs="0"/>
      <xsd:element name="fechaRegistro" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="banEstatus" type="xsd:int" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PlantillaCorreo">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element name="descripcion" type="xsd:int"/>
      <xsd:element name="remitente" type="xsd:int"/>
      <xsd:element name="mensaje" type="xsd:int"/>
      <xsd:element name="asunto" type="xsd:string"/>
      <xsd:element name="destinatarios" type="xsd:string"/>
      <xsd:element name="fecha_registro" type="xsd:date"/>
      <xsd:element name="estado" type="xsd:boolean"/>
      <xsd:element name="cc_destinatarios" type="xsd:string"/>
      <xsd:element name="categoriaEvento" type="catBO:Catalogo"/>
      <xsd:element name="banValidaTags" type="xsd:int"/>
      <xsd:element name="banValidaET" type="xsd:int"/>
      <xsd:element name="banValidaMCC" type="xsd:int"/>
      <xsd:element name="banValidaVA" type="xsd:int"/>
      <xsd:element name="banValidaRA" type="xsd:int"/>
      <xsd:element name="banValidaRO" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
   <xsd:complexType name="ListaRoles">
    <xsd:sequence>
      <xsd:element name="Roles" type="catBO:Catalogo" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:simpleType name="PlantillaEnumeration">
    <xsd:restriction base="xsd:normalizedString">
      <xsd:enumeration value="Enrolamiento"/>
      <xsd:enumeration value="Password"/>
      <xsd:enumeration value="Recordatorio"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>