MIRA/SOA_PRD_Almacenes/JDACreateRetailStoreProcess/SOA/WSDLs/JDACreateRetailStoreProcessPXY.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="JDACreateRetailStoreProcess" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/JDACreateRetailStoreProcess" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" xmlns:WL5G3N2="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:WL5G3N3="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:WL5G3N4="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/JDACreateRetailStoreProcess" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/">
   <WL5G3N0:types>
      <xsd:schema xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" xmlns:ret="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/JDACreateRetailStoreProcess" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" schemaLocation="http://uat-osb.agarcia.com.mx:7004/Capabilities/Core/RetailStore/RetailStoreEntitySvc/PS/JDACreateRetailStoreProcessPXY?SCHEMA%2FCapabilities%2FCore%2FRetailStore%2FRetailStoreEntitySvc%2FResources%2FSchema%2FRetailStoreEntitySchema"/>
         <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="http://uat-osb.agarcia.com.mx:7004/Capabilities/Core/RetailStore/RetailStoreEntitySvc/PS/JDACreateRetailStoreProcessPXY?SCHEMA%2FCapabilities%2FFoundation%2FSchemas%2FCommons%2FAGStandardMessageSchema"/>
         <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="http://uat-osb.agarcia.com.mx:7004/Capabilities/Core/RetailStore/RetailStoreEntitySvc/PS/JDACreateRetailStoreProcessPXY?SCHEMA%2FCapabilities%2FFoundation%2FSchemas%2FCommons%2FAGStandardHeaderSchema"/>
      </xsd:schema>
   </WL5G3N0:types>
   <WL5G3N0:message name="JDACreateRetailStoreRequest">
      <WL5G3N0:part name="JDACreateRetailStoreRequest" element="WL5G3N1:createRetailStoreRequest"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="JDACreateRetailStoreResponse">
      <WL5G3N0:part name="JDACreateRetailStoreResponse" element="WL5G3N1:createRetailStoreResponse"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="StandardFaultMessage">
      <WL5G3N0:part name="faultMessage" element="WL5G3N2:messageError"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="StandarHeaderMessage">
      <WL5G3N0:part name="headerMessage" element="WL5G3N3:headerMessage"/>
   </WL5G3N0:message>
   <WL5G3N0:portType name="JDACreateRetailStorePType">
      <WL5G3N0:operation name="JDACreateRetailStore">
         <WL5G3N0:input message="WL5G3N4:JDACreateRetailStoreRequest"/>
         <WL5G3N0:output message="WL5G3N4:JDACreateRetailStoreResponse"/>
         <WL5G3N0:fault name="faultMessage" message="WL5G3N4:JDACreateRetailStoreRequest"/>
      </WL5G3N0:operation>
   </WL5G3N0:portType>
   <WL5G3N0:binding name="JDACreateRetailStoreBinding" type="WL5G3N4:JDACreateRetailStorePType">
      <WL5G3N5:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <WL5G3N0:operation name="JDACreateRetailStore">
         <WL5G3N5:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/JDACreateRetailStoreProcess/JDACreateRetailStore"/>
         <WL5G3N0:input>
            <WL5G3N5:body use="literal" parts="JDACreateRetailStoreRequest"/>
         </WL5G3N0:input>
         <WL5G3N0:output>
            <WL5G3N5:body use="literal" parts="JDACreateRetailStoreResponse"/>
         </WL5G3N0:output>
         <WL5G3N0:fault name="faultMessage">
            <WL5G3N5:fault name="faultMessage" use="literal"/>
         </WL5G3N0:fault>
      </WL5G3N0:operation>
   </WL5G3N0:binding>
   <WL5G3N0:service name="JDACreateRetailStoreBindingQSService">
      <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
      <WL5G3N0:port name="JDACreateRetailStoreBindingQSPort" binding="WL5G3N4:JDACreateRetailStoreBinding">
         <WL5G3N5:address location="http://uat-osb.agarcia.com.mx:7004/Capabilities/Core/RetailStore/RetailStoreEntitySvc/PS/JDACreateRetailStoreProcessPXY"/>
      </WL5G3N0:port>
   </WL5G3N0:service>
</WL5G3N0:definitions>
