BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Wsdl/PC07/GestionCobroProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCobroProcess"
                  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCobroProcess"
                  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCobroProcess"
                  schemaLocation="../../Schema/PC07/GestionCobroProcess.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <!-- Messages -->
  <wsdl:message name="InicioGestionCobro">
    <wsdl:part name="parameters" element="tns:InicioGestionCobro"/>
  </wsdl:message>
  <wsdl:message name="InicioSeguimientoCobro">
    <wsdl:part name="parameters" element="tns:InicioSeguimientoCobro"/>
  </wsdl:message>
  <wsdl:message name="FinGestionCobro">
    <wsdl:part name="parameters" element="tns:FinGestionCobro"/>
  </wsdl:message>   
   <wsdl:message name="FinSeguimientoCobro">
    <wsdl:part name="parameters" element="tns:FinSeguimientoCobro"/>
  </wsdl:message>  
  <!-- PortTypes -->
  <wsdl:portType name="GestionCobroProcessPortType">
    <wsdl:operation name="InicioGestionCobro">
      <wsdl:input message="tns:InicioGestionCobro"/>
    </wsdl:operation>
    <wsdl:operation name="FinGestionCobro">
      <wsdl:input message="tns:FinGestionCobro"/>
    </wsdl:operation>    
  </wsdl:portType>  
  <wsdl:portType name="SeguimientoCobroProcessPortType">
    <wsdl:operation name="InicioSeguimientoCobro">
      <wsdl:input message="tns:InicioSeguimientoCobro"/>
    </wsdl:operation>
    <wsdl:operation name="FinSeguimientoCobro">
      <wsdl:input message="tns:FinSeguimientoCobro"/>
    </wsdl:operation>    
  </wsdl:portType>    
  <!-- Bindings -->
  <wsdl:binding name="GestionCobroProcessBinding" type="tns:GestionCobroProcessPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InicioGestionCobro">
      <wsdlsoap:operation style="document" soapAction="InicioGestionCobro"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FinGestionCobro">
      <wsdlsoap:operation style="document" soapAction="FinGestionCobro"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    </wsdl:binding>
	<wsdl:binding name="SeguimientoCobroProcessBinding" type="tns:SeguimientoCobroProcessPortType">
		<wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
			<wsdl:operation name="InicioSeguimientoCobro">
				<wsdlsoap:operation style="document" soapAction="InicioSeguimientoCobro"/>
					<wsdl:input>
						<wsdlsoap:body use="literal"/>
					</wsdl:input>
			</wsdl:operation>
			<wsdl:operation name="FinSeguimientoCobro">
			<wsdlsoap:operation style="document" soapAction="FinSeguimientoCobro"/>
				<wsdl:input>
					<wsdlsoap:body use="literal"/>
				</wsdl:input>
			</wsdl:operation>
    </wsdl:binding>
	<!-- partnerLink -->
  <plnk:partnerLinkType name="GestionCobroProcessPortTypePartnerLinkType">
    <plnk:role name="GestionCobroProcessPortTypeProvider">
      <plnk:portType name="tns:GestionCobroProcessPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>
  <plnk:partnerLinkType name="SeguimientoCobroProcessPortTypePartnerLinkType">
    <plnk:role name="SeguimientoCobroProcessPortTypeProvider">
      <plnk:portType name="tns:SeguimientoCobroProcessPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>
</wsdl:definitions>
