Banesco_2023/SOA/BanescoT24SOA/SAGAPartyStatusAppSvc/SOA/Schemas/AOptCommon_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:complexType name="CommonTypeMandatory">
		<xs:annotation>
			<xs:documentation>Tipo Generico</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Cod" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripción</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="dateTimePattern">
		<xs:annotation>
			<xs:documentation>Use this instead of 'dateTime' type</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="appoptcommon:datetime"/>
	</xs:simpleType>
	<xs:complexType name="MsgHdrRq">
		<xs:sequence>
			<xs:element name="ClientDt" type="appoptcommon:dateTimePattern" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha y hora del mensaje en el cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Destination" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifica el destinatario del mensaje.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MsgPriority" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Prioridad del mensaje</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador de la petición</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqdOper" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifica la operación que origina la solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqdOperType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Operación Solicitada</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqdService" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifica el servicio que origina la solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClientApp" type="appoptcommon:ClientApp" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NetworkTrnData" type="appoptcommon:NetworkTrnData" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecCtrlOut">
		<xs:sequence>
			<xs:element name="EndRecNum" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de registro final</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastRec" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicativo de que se alcanzó el último registro de la consulta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecCountLimit" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Límite de conteo de registros</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartRecNum" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de registro inicial</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ClientApp">
		<xs:sequence>
			<xs:element name="ChannelId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicador de Canal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre de la aplicación cliente que origina la solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Org" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Organización. Identifica al desarrollador de la aplicación cliente que origina la solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador de Usuario</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Usuario</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="datePattern">
		<xs:annotation>
			<xs:documentation>Use this instead of 'date' type</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="appoptcommon:date"/>
	</xs:simpleType>
	<xs:simpleType name="datetime">
		<xs:annotation>
			<xs:documentation>Regular Expression to datetime</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:dateTime">
			<xs:pattern value="^$|(\s)*|\d{4}\-\d{2}\-\d{2}T\d{2}:\d{2}:\d{2}(Z|[\+\-]\d{2}:\d{2}|\.\d\d?)?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="ValueType">
		<xs:annotation>
			<xs:documentation>Generic Value Type.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Value Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="NetworkTrnData">
		<xs:sequence>
			<xs:element name="HostName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del Equipo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IpAddress" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dirección IP del Equipo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MacAddress" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dirección MAC del Equipo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="date">
		<xs:annotation>
			<xs:documentation>Regular Expression to date</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date">
			<xs:pattern value="^$|(\s)*|\d{4}\-\d{2}\-\d{2}(Z|[\+\-]\d{2}:\d{2})?"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CountryCode">
		<xs:annotation>
			<xs:documentation>All representations of countries in the IFX Specification are based upon agreed upon standard codes between client and server. The default, if not specified, is the Alpha 3-character codes for countries that are defined in ISO-3166.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountryCodeSource" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country Code Source.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryCodeValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country Code Value.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MsgHdrRs">
		<xs:sequence>
			<xs:element name="ClientDt" type="appoptcommon:dateTimePattern" minOccurs="1" maxOccurs="1" nillable="true">
				<xs:annotation>
					<xs:documentation>Fecha y hora del mensaje en el cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MsgPriority" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Prioridad del mensaje</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RequestId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador de la petición</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResponseId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador de la ejecución</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServerDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha y hora del mensaje en el servidor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClientApp" type="appoptcommon:ClientApp" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Status">
		<xs:sequence>
			<xs:element name="StatusCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="StatusDesc" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="RecCtrlIn">
		<xs:sequence>
			<xs:element name="RecCountLimit" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Límite de conteo de registros</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartRecNum" type="xs:integer" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de registro inicial</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="MsgHdrRq" type="appoptcommon:MsgHdrRq"/>
	<xs:element name="MsgHdrRs" type="appoptcommon:MsgHdrRs"/>
	<xs:complexType name="CommonType">
		<xs:annotation>
			<xs:documentation>Tipo Generico</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Cod" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripción</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contact">
		<xs:annotation>
			<xs:documentation>The Contact aggregate appears wherever a person's or organization's contact information is needed.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ContactName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contact Name.

The name of the person to contact.

Name of the person associated with the contact information. Typically, this is the name of the person within the business that the phone number, email address, and/or address is associated with.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContactType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contact Type.

Valid values include: CustSvc, Enroll, GeneralInfo, LostCard, Marketing, Other, Personal, PersonalRef, Statement, Tech.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Locator" type="appoptcommon:Locator" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Country">
		<xs:annotation>
			<xs:documentation>All representations of countries in the IFX Specification are based upon agreed upon standard codes between client and server. The default, if not specified, is the Alpha 3-character codes for countries that are defined in ISO-3166.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountryCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Country Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Locator">
		<xs:annotation>
			<xs:documentation>Information necessary to establish contact.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Email" type="appoptcommon:ValueType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Emails.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResourceLocator" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>General resource locator specification (URL).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Phone" type="appoptcommon:Phone" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PostAddr" type="appoptcommon:PostAddr" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Phone">
		<xs:annotation>
			<xs:documentation>Phone</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AreaCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Area Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneExt" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone Extension</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneType" type="appoptcommon:EnumPhoneType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone Type.
Fax, LandLine, Mobile</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostAddr">
		<xs:annotation>
			<xs:documentation>The PostAddr aggregate is used wherever a postal address is needed.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Addr1" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Addr1.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Addr2" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Addr2.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Addr3" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Addr3.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Addr4" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Addr4.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddrDesc" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address Description.

Easy way to find principal address</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddressIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AddrType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Address Type.

Defined values: Seasonal, Primary, Secondary, Business, Home.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Building" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del residencial o del edificio de la dirección de correspondencia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>City.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountyDistrict" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>County District.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HouseNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>House Number, Apartment Number or Office Number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Jurisdiction" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Corregimiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="POBox" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PostalCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Postal Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Province" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Province.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="State" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>State</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Street" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Street</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UpDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Update Date Time.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="appoptcommon:Country" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ValueTypeMandatory">
		<xs:sequence>
			<xs:element name="Type" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurAmtMandatory">
		<xs:annotation>
			<xs:documentation>Currency Amount.

All monetary amounts in the IFX Specification are handled with the Currency Amount data type. When included, this data type contains a decimal value for the amount, an optional currency code.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amt" type="xs:decimal" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurCode" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The CurrencyCode is used to express Currency codes and the authoritative source that defines them.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurAmt">
		<xs:annotation>
			<xs:documentation>Currency Amount.

All monetary amounts in the IFX Specification are handled with the Currency Amount data type. When included, this data type contains a decimal value for the amount, an optional currency code.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amt" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The CurrencyCode is used to express Currency codes and the authoritative source that defines them.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EnumPhoneType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Fax"/>
			<xs:enumeration value="LandLine"/>
			<xs:enumeration value="Mobile"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
