Banesco_2023/SOA/BanescoT24SOA/SAGAPartyStatusAppSvc/SOA/Schemas/EmpPartyStatusFailNXSD_V1.0.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:tns="http://xmlns.banesco.com/appopt/SAGAPartyAppSvc/EmpPartyStatusModFail_V1.0" targetNamespace="http://xmlns.banesco.com/appopt/SAGAPartyAppSvc/EmpPartyStatusModFail_V1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="UTF-8">


  <xsd:element name="Parties">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Party" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="UserName" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="SignOnName" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="Date" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="Status" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="FailReason" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

<xsd:annotation>
<xsd:appinfo>NXSDSAMPLE=EmpPartyStatusFail_20171122.txt</xsd:appinfo>
<xsd:appinfo>USEHEADER=false</xsd:appinfo>
</xsd:annotation>
<xsd:annotation>
<xsd:appinfo>NXSDSAMPLE=EmpPartyStatusFail_20171122.txt</xsd:appinfo>
<xsd:appinfo>USEHEADER=false</xsd:appinfo>
</xsd:annotation>
<xsd:annotation>
<xsd:appinfo>NXSDSAMPLE=EmpPartyStatusFail_20171122.txt</xsd:appinfo>
<xsd:appinfo>USEHEADER=false</xsd:appinfo>
</xsd:annotation>
</xsd:schema>
