Banesco_2023/SOA/BanescoT24SOA/SAGAPartyStatusAppSvc/SOA/Schemas/EmpPartyStatusModNXSD_V1.0.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            xmlns:tns="http://xmlns.banesco.com/appopt/SAGAPartyAppSvc/EmpPartyStatusMod_V1.0"
            targetNamespace="http://xmlns.banesco.com/appopt/SAGAPartyAppSvc/EmpPartyStatusMod_V1.0" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="UTF-8" nxsd:validateNxsd="true">


  <xsd:element name="Parties">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="EmpParty" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="UserName" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="SignOnName" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="DepartmentCode" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="EndDateProfile" type="xsd:date" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="LockReason" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="|" nxsd:quotedBy="&quot;"/>
              <xsd:element name="UserType" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" nxsd:quotedBy="&quot;"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=EmpPartyStatus_20171122.txt</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>