BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PA15/FormalizacionEnmiendasErrorPayload.xsd

<xs:schema targetNamespace="http://xmlns.bcie.org/ObjetoProceso/FormalizacionEnmiendasError/Payload/V1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:error="http://xmlns.bcie.org/ObjetoProceso/FormalizacionEnmiendasError/Payload/V1" xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1">
<xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="../Comun/Header/V1/HeaderOPN.xsd"/>
<xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" schemaLocation="../Comun/Parameter/V1/ParameterOPN.xsd"/>
<xs:element name="FormalizacionEnmiendasErrorPayloadType" type="error:FormalizacionEnmiendasErrorPayloadType"/>
<xs:annotation>
<xs:documentation>Elemento que define los campos de entrada para el manejo de errores del proceso alterno de Formalizacion de Enmiendas</xs:documentation>
</xs:annotation>
<xs:complexType name="FormalizacionEnmiendasErrorPayloadType">
<xs:sequence>
<xs:element name="Header" type="header:Header"/>
<xs:element name="Configuration" type="error:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
<xs:element name="EquipoPayload" type="error:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
<xs:element name="EquipoEjecucion" type="error:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
<xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="idEnmienda" type="xs:int" minOccurs="0" maxOccurs="1"/>
<xs:element name="OrigenFormalizacionEnmiendas" type="error:origenFormalizacionEnmiendasType" minOccurs="0" maxOccurs="1"/>
<xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="ConfigGatewaysType">
<xs:sequence>
      <xs:element name="requiereDocumentacionContractual" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requiereCOF" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="esDesobligacion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="esCambioPlazo" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
</xs:complexType>
<xs:complexType name="EquipoPayloadType">
 <xs:sequence>
      <xs:element name="abogado" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="analistaCOFI" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CustodioCOPRES" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
</xs:complexType>
<xs:simpleType name="origenFormalizacionEnmiendasType">
    <xs:restriction base="xs:int">
      <xs:enumeration value="1" id="FENIX"/>
      <xs:enumeration value="2" id="GENERICO"/>
      <xs:enumeration value="3" id="OTRO"/>
      <xs:enumeration value="4" id="ORIGEN4"/>
      <xs:enumeration value="5" id="ORIGEN5"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>