Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Payment/BillersInfoInq/BillersInfoInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/BillersInfoInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptBillersInfoInq="http://xmlns.banesco.com/eopt/BillersInfoInq_V1.0" xmlns:eoBill="http://xmlns.banesco.com/eo/Bill_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Bill_V1.0" schemaLocation="../../../EO/Pmt/Bill_V1.0.xsd"/>
	<xs:element name="BillersInfoInqRs" type="eoptBillersInfoInq:BillersInfoInqRs_Type"/>
	<xs:complexType name="BillersInfoInqRq_Type">
		<xs:sequence>
			<xs:element name="CategoryQuery" type="eoBill:Biller" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contiene el filtro para la consulta de los facturadores activos y disponibles, valor por defecto vacío lo que retorna todos los facturadores.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Billers">
		<xs:annotation>
			<xs:documentation>Tipo que contiene una lista de facturadores.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Biller" type="eoBill:Biller" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Lista de facturadores a retornar en el servicio</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BillersInfoInqRq" type="eoptBillersInfoInq:BillersInfoInqRq_Type"/>
	<xs:complexType name="BillersInfoInqRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Status que contiene la información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Billers" type="eoptBillersInfoInq:Billers" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
