AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/AllocationApp/SyncAllocationSAALMAAdapterService/Resources/WSDLs/SyncAllocationSaalmaReference.wsdl

<wsdl:definitions name="SyncAllocationSaalmaReference" targetNamespace="http://xmlns.oracle.com/OSBAGApp/AllocationApp/SyncAllocationSaalmaReference" xmlns:tns="http://xmlns.oracle.com/OSBAGApp/AllocationApp/SyncAllocationSaalmaReference" xmlns:inp1="http://www.agarcia.mx/nxsd/SyncAllocationSaalmaReqMsg" xmlns:inp2="http://www.agarcia.mx/nxsd/SyncAllocationSaalmaRespMsg" xmlns:ns0="http://www.agarcia.mx/nxsd/SyncAllocationSaalmaReqMsg" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="SyncAllocationSaalmaReference">
        <plnk:role name="SyncAllocationSaalmaReferenceProvider" portType="tns:SyncAllocationSaalmaReference_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.agarcia.mx/nxsd/SyncAllocationSaalmaReqMsg" schemaLocation="../NXSDs/nxsd_SyncAllocationSaalmaRequest.xsd"/>
        </xsd:schema>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.agarcia.mx/nxsd/SyncAllocationSaalmaRespMsg" schemaLocation="../NXSDs/nxsd_SyncAllocationSaalmaResponse.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="create_inputMessage">
        <wsdl:part name="request" element="inp1:Allocation"/>
    </wsdl:message>
    <wsdl:message name="create_outputMessage">
        <wsdl:part name="reply" element="inp2:AllocationResponse"/>
    </wsdl:message>
    <wsdl:message name="update_inputMessage">
        <wsdl:part name="request" element="inp1:Allocation"/>
    </wsdl:message>
    <wsdl:message name="update_outputMessage">
        <wsdl:part name="reply" element="inp2:AllocationResponse"/>
    </wsdl:message>
    <wsdl:message name="delete_inputMessage">
        <wsdl:part name="request" element="inp1:Allocation"/>
    </wsdl:message>
    <wsdl:message name="delete_outputMessage">
        <wsdl:part name="reply" element="inp2:AllocationResponse"/>
    </wsdl:message>
    <wsdl:message name="Rest_EmptyMessage"/>
    <wsdl:portType name="SyncAllocationSaalmaReference_ptt">
        <wsdl:operation name="create">
            <wsdl:input message="tns:create_inputMessage"/>
            <wsdl:output message="tns:create_outputMessage"/>
            <wsdl:fault name="fault1" message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:update_inputMessage"/>
            <wsdl:output message="tns:update_outputMessage"/>
            <wsdl:fault name="fault1" message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:delete_inputMessage"/>
            <wsdl:output message="tns:delete_outputMessage"/>
            <wsdl:fault name="fault1" message="tns:Rest_EmptyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SyncAllocationSaalmaReference_ptt-binding" type="tns:SyncAllocationSaalmaReference_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="create">
            <soap:operation soapAction="create"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="update">
            <soap:operation soapAction="update"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <soap:operation soapAction="delete"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>