Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/TTEXTO/resources/xsd/SmsDispatcher.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1.1-b09 (branches/2.1-6834; 2011-07-16T17:14:48+0000) JAXWS-RI/2.2.5-promoted-b04 JAXWS/2.2. --><xs:schema xmlns:tns="http://sms.totaltexto.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sms.totaltexto.com/">

<xs:element name="send" type="tns:send"/>

<xs:element name="sendResponse" type="tns:sendResponse"/>

<xs:complexType name="send">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="key" type="xs:string" minOccurs="0"/>
<xs:element name="addr" type="xs:string" minOccurs="0"/>
<xs:element name="text" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendResponse">
<xs:sequence>
<xs:element name="return" type="tns:result" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="result" final="extension restriction">
<xs:sequence>
<xs:element name="codError" type="xs:string" minOccurs="0"/>
<xs:element name="desError" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>