BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/CrearBitacoraProcesoCliente/V1/Schema/CrearBitacoraProcesoClienteMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/CrearBitacoraProcesoClienteMO" 
    elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:regBitMO="http://www.bcie.org/CrearBitacoraProcesoClienteMO" 
    xmlns:regBitBO="http://www.bcie.org/CrearBitacoraProcesoClienteBO" 
    xmlns:resBO="http://www.bcie.org/ResultBO">

  <xsd:import schemaLocation="CrearBitacoraProcesoClienteBO.xsd"
              namespace="http://www.bcie.org/CrearBitacoraProcesoClienteBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>

  <xsd:element name="requestCrearBitacoraProcesoClienteMessage" type="regBitMO:CrearBitacoraProcesoClienteRequestType"/>
  <xsd:element name="responseCrearBitacoraProcesoClienteMessage" type="regBitMO:CrearBitacoraProcesoClienteResponseType"/>

  <xsd:complexType name="CrearBitacoraProcesoClienteRequestType">
    <xsd:annotation>
      <xsd:documentation>Mensaje registrar la bitácora de proceso cliente</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BitacoraInput" type="regBitBO:Bitacora"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearBitacoraProcesoClienteResponseType">
    <xsd:annotation>
      <xsd:documentation>Mensaje de salida para el registro de la bitacora</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Result" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>