AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Applications/JDA/JDACatalogs/Schema/JDAColorSizeSchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Applications/JDA/Catalogs/ColorSize" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Applications/JDA/Catalogs/ColorSize" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:item="http://mx.agarcia.ea/Canonical/Commons/Items/v1">

  <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
  <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>
  <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/ItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Items/v1"/>
  
  
  <xs:element name="createColorRequest" type="base:ColorType"/>
  <xs:element name="createColorResponse" type="AGsm:MessageResponse"/>
  
  <xs:element name="createSizeRequest" type="base:SizeType"/>
  <xs:element name="createSizeResponse" type="AGsm:MessageResponse"/>
  
  <xs:element name="updateColorRequest" type="base:ColorType"/>
  <xs:element name="updateColorResponse" type="AGsm:MessageResponse"/>
  
  <xs:element name="updateSizeRequest" type="base:SizeType"/>
  <xs:element name="updateSizeResponse" type="AGsm:MessageResponse"/>

  <xs:element name="findNextColorIDRequest" type="base:ColorType"/>
  <xs:element name="findNextColorIDResponse" type="xs:string"/>


  <xs:complexType name="ColorType">
    <xs:sequence>
      <xs:element name="color" type="item:ItemCatalog" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="SizeType">
    <xs:sequence>
      <xs:element name="size" type="item:ItemCatalog" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  
</xs:schema>