Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/BS_T24_BPAENQCUSTOMERPN/PersonalCustomerEnquiryPNConsultaClienteNaturalesPNResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.temenos.com/T24/ofs/Response" targetNamespace="http://www.temenos.com/T24/ofs/Response" xmlns:rescns="http://www.temenos.com/T24/ofs/ResponseCommon" xmlns:ns0="http://www.temenos.com/T24/ofs/BPAENQCUSTOMERPNType">
<xsd:import namespace="http://www.temenos.com/T24/ofs/ResponseCommon"
            schemaLocation="../Common/ResponseCommonType.xsd"/>
<xsd:import namespace="http://www.temenos.com/T24/ofs/BPAENQCUSTOMERPNType" schemaLocation="BPAENQCUSTOMERPNType.xsd"/>
<xsd:element name="BPAENQCUSTOMERPNResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ResponseCommon" type="rescns:ResponseCommonType" minOccurs="0"/>
<xsd:element name="BPAENQCUSTOMERPN" type="ns0:BPAENQCUSTOMERPNType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
