BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyAprobacion/src/META-INF/wsdls/V1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="Operacion" targetNamespace="http://xmlns.bcie.com/AprobacionService" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.bcie.org/AprobacionMO" xmlns:WL5G3N2="http://xmlns.bcie.com/AprobacionService" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap12/">
  <WL5G3N0:types>
    <xsd:schema xmlns:comMO="http://www.bcie.org/AprobacionMO" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns="http://xmlns.bcie.com/AprobacionService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/AprobacionMO" schemaLocation="V1.xsd"/>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="requestCrearAprobacionMessage">
    <WL5G3N0:part element="WL5G3N1:CrearAprobacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseCrearAprobacionMessage">
    <WL5G3N0:part element="WL5G3N1:CrearAprobacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="requestConsultarAprobacionesPagadasMessage">
    <WL5G3N0:part element="WL5G3N1:ConsultarAprobacionesPagadasRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="responseConsultarAprobacionesPagadasMessage">
    <WL5G3N0:part element="WL5G3N1:ConsultarAprobacionesPagadasResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ActualizarAprobacionRequestMessage">
    <WL5G3N0:part element="WL5G3N1:ActualizarAprobacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ActualizarAprobacionResponseMessage">
    <WL5G3N0:part element="WL5G3N1:ActualizarAprobacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarAprobacionRequestMessage">
    <WL5G3N0:part element="WL5G3N1:ConsultarAprobacionRequest" name="request"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ConsultarAprobacionResponseMessage">
    <WL5G3N0:part element="WL5G3N1:ConsultarAprobacionResponse" name="response"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="AprobacionPT">
    <WL5G3N0:operation name="crearAprobacion">
      <WL5G3N0:input message="WL5G3N2:requestCrearAprobacionMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseCrearAprobacionMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarAprobacionesPagadas">
      <WL5G3N0:input message="WL5G3N2:requestConsultarAprobacionesPagadasMessage"/>
      <WL5G3N0:output message="WL5G3N2:responseConsultarAprobacionesPagadasMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarAprobacion">
      <WL5G3N0:input message="WL5G3N2:ActualizarAprobacionRequestMessage"/>
      <WL5G3N0:output message="WL5G3N2:ActualizarAprobacionResponseMessage"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarAprobacion">
      <WL5G3N0:input message="WL5G3N2:ConsultarAprobacionRequestMessage"/>
      <WL5G3N0:output message="WL5G3N2:ConsultarAprobacionResponseMessage"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="Aprobacion12Bnd" type="WL5G3N2:AprobacionPT">
    <WL5G3N3:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="crearAprobacion">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/AprobacionService/crearAprobacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarAprobacionesPagadas">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/AprobacionService/consultarAprobacionesPagadas" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="actualizarAprobacion">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/AprobacionService/actualizarAprobacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarAprobacion">
      <WL5G3N3:operation soapAction="http://xmlns.bcie.com/AprobacionService/consultarAprobacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N3:body parts="request" use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body parts="response" use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="Aprobacion">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N2:Aprobacion12Bnd" name="Aprobacion12Bnd">
      <WL5G3N3:address location="http://OSBLNX1-vip.sndevmw.bcievcn01.oraclevcn.com:7021/Entidad/AprobacionService/V1.0"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>