BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyAprobacion/src/META-INF/wsdls/V1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/AprobacionMO" xmlns:comBO="http://www.bcie.org/AprobacionBO" xmlns:comMO="http://www.bcie.org/AprobacionMO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/AprobacionBO" schemaLocation="V1_1.xsd"/>
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="V1_2.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="V1_19.xsd"/>
  <!-- Mensajes -->
  <xsd:element name="CrearAprobacionRequest" type="comMO:CrearAprobacionRequestType"/>
  <xsd:element name="CrearAprobacionResponse" type="comMO:CrearAprobacionResponseType"/>
  <xsd:element name="CrearAprobacionFLEXCUBERequest" type="comMO:CrearAprobacionFLEXCUBERequestType"/>
  <xsd:element name="CrearAprobacionFLEXCUBEResponse" type="comMO:CrearAprobacionFLEXCUBEResponseType"/>
  <xsd:element name="ActualizarAprobacionRequest" type="comMO:ActualizarAprobacionRequestType"/>
  <xsd:element name="ActualizarAprobacionResponse" type="comMO:ActualizarAprobacionResponseType"/>
  <xsd:element name="ConsultarAprobacionRequest" type="comMO:ConsultarAprobacionRequestType"/>
  <xsd:element name="ConsultarAprobacionResponse" type="comMO:ConsultarAprobacionResponseType"/>
  <xsd:element name="ConsultarAprobacionesPagadasRequest" type="comMO:ConsultarAprobacionesPagadasRequestType"/>
  <xsd:element name="ConsultarAprobacionesPagadasResponse" type="comMO:ConsultarAprobacionesPagadasResponseType"/>
  <xsd:element name="EliminarAprobacionRequest" type="comMO:EliminarAprobacionRequestType"/>
  <xsd:element name="EliminarAprobacionResponse" type="comMO:EliminarAprobacionResponseType"/>
  <!-- Tipos de los mensajes -->
  <!-- Create -->
  <xsd:element name="ConsultarAprobacionByIdRequest" type="comMO:ConsultarAprobacionByIdRequestType"/>
  <xsd:element name="ConsultarAprobacionByIdResponse" type="comMO:ConsultarAprobacionByIdResponseType"/>
  <xsd:element name="ConsultarAprobacionByIdOperacionRequest" type="comMO:ConsultarAprobacionByIdOperacionRequestType"/>
  <xsd:element name="ConsultarAprobacionByIdOperacionResponse" type="comMO:ConsultarAprobacionByIdOperacionResponseType"/>
  <xsd:element name="ValidarProcesoAprobacionFinalizadoRequest" type="comMO:ValidarProcesoAprobacionFinalizadoRequestType"/>
  <xsd:element name="ValidarProcesoAprobacionFinalizadoResponse" type="comMO:ValidarProcesoAprobacionFinalizadoResponseType"/>
  <xsd:complexType name="CrearAprobacionRequestType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="Aprobacion" type="comBO:Aprobacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearAprobacionResponseType">
    <xsd:sequence>
      <xsd:element name="Aprobacion" type="comBO:Aprobacion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearAprobacionFLEXCUBERequestType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Aprobacion" type="comBO:Aprobacion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Operacion" type="operBO:Operacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearAprobacionFLEXCUBEResponseType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Aprobacion" type="comBO:Aprobacion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarAprobacionRequestType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Aprobacion" type="comBO:Aprobacion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="actualizarTermino" nillable="true" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarAprobacionResponseType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarAprobacionRequestType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="idSolicitudAprobacion" type="xsd:long"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarAprobacionResponseType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Aprobacion" type="comBO:Aprobacion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarAprobacionesPagadasRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarAprobacionesPagadasResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarAprobacionRequestType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="idAprobacion" type="comBO:idAprobacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarAprobacionResponseType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarAprobacionByIdRequestType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="idAprobacion" type="comBO:idAprobacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarAprobacionByIdResponseType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="Aprobacion" type="comBO:Aprobacion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarAprobacionByIdOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarAprobacionByIdOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="Aprobacion" type="comBO:Aprobacion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarProcesoAprobacionFinalizadoRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarProcesoAprobacionFinalizadoResponseType">
    <xsd:sequence>
      <xsd:element name="Aprobacion" type="comBO:Aprobacion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Create -->
</xsd:schema>