BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyAprobacion/src/META-INF/wsdls/V1_1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/AprobacionBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:comBO="http://www.bcie.org/AprobacionBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="V1_2.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_4.xsd"/>
  <xsd:import namespace="http://www.bcie.org/LineaCreditoBO" schemaLocation="V1_5.xsd"/>
  <xsd:simpleType name="idAprobacion">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idDecisionAprobacion">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idReunion">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="codigoContrato">
    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="MontoBase">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="idMontoBase" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="valorMontoBase" type="xsd:int"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="porcentajeMontoBase" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsuarioReunion">
    <xsd:sequence>
      <xsd:element name="usuario" type="xsd:string"/>
      <xsd:element name="nombreUsuario" type="xsd:string"/>
      <xsd:element name="propietario" type="xsd:boolean"/>
      <xsd:element name="dependecia" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Aprobacion">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="idAprobacion" type="comBO:idAprobacion"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idReunionAprobacion" type="comBO:idReunion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaAprobacion" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="tipoAprobacion" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="numeroResolucion" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="resumen" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="idMontoAprobacion" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="idTipoMonedaMontoAprobacion" type="xsd:integer"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="MontoAprobacion" type="xsd:decimal"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="loginUsuario" type="comBO:UsuarioReunion"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="fechaRegistro" type="xsd:date"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="idContrato" type="xsd:long"/>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="LineaCredito" type="linCreBO:LineaCredito"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>