BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyAprobacion/src/META-INF/wsdls/V1_5.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/LineaCreditoBO" xmlns="http://www.bcie.org/LineaCreditoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:cattermBO="http://www.bcie.org/CatalogoTerminoBO" xmlns:cmnBO="http://www.bcie.org/CommonBO" xmlns:comBO="http://www.bcie.org/ComisionBO" xmlns:conBO="http://www.bcie.org/CondicionBO" xmlns:desBO="http://www.bcie.org/DesembolsoBO" xmlns:hceBO="http://www.bcie.org/HerramientaCEBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:termBO="http://www.bcie.org/TerminoBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/ComisionBO" schemaLocation="V1_6.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CondicionBO" schemaLocation="V1_8.xsd"/>
  <xsd:import namespace="http://www.bcie.org/TerminoBO" schemaLocation="V1_15.xsd"/>
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="V1_2.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CommonBO" schemaLocation="V1_12.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_4.xsd"/>
  <xsd:import namespace="http://www.bcie.org/DesembolsoBO" schemaLocation="V1_11.xsd"/>
  <xsd:import namespace="http://www.bcie.org/HerramientaCEBO" schemaLocation="V1_13.xsd"/>
  <xsd:simpleType name="idLineaCredito">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idContrato">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idFuente">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="TeenLineaCreditoType">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="idLineaCredito" type="linCreBO:idLineaCredito"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="idContrato" type="linCreBO:idContrato"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="NumeroLineaCredito" type="xsd:string"/>
      <xsd:element name="Descripcion" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Flexcube" type="linCreBO:Flexcube"/>
      <xsd:element minOccurs="0" name="Fondo" type="xsd:string"/>
      <xsd:element minOccurs="0" name="IdTipoMonedaMontoLinea" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="MontoLinea" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="saldo" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="Moneda" type="catBO:Catalogo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LineaCreditoBasicType">
    <xsd:complexContent>
      <xsd:extension base="linCreBO:TeenLineaCreditoType">
        <xsd:sequence>
          <xsd:element maxOccurs="1" minOccurs="0" name="EsRevolvente" type="xsd:boolean"/>
          <xsd:element name="TratamientoDiasFeriados" type="xsd:string"/>
          <xsd:element name="FechaValor" type="xsd:date"/>
          <xsd:element name="FechaVencimiento" type="xsd:date"/>
          <xsd:element name="CodigoPantallaLimite" type="xsd:string"/>
          <xsd:element name="CodigoSerialLimite" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CodigoAsignacion" type="xsd:long"/>
          <xsd:element name="DescripcionAsignacion" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="CondicionEspecial" type="xsd:boolean"/>
          <xsd:element name="FechaRegistro" type="xsd:date"/>
          <xsd:element name="FechaMaximaDesembolso" type="xsd:date"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="Estado" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="estado_formalizacion" type="xsd:boolean"/>
          <xsd:element name="descCondEspecial" type="xsd:string"/>
          <xsd:element name="frecuenciaGracia" type="xsd:int"/>
          <xsd:element name="plazoGracia" type="xsd:int"/>
          <xsd:element name="frecuenciaFinanciamiento" type="xsd:int"/>
          <xsd:element name="plazoFinanciamiento" type="xsd:int"/>
          <xsd:element name="recursosExternos" type="xsd:boolean"/>
          <xsd:element minOccurs="0" name="tasaMinima" nillable="true" type="xsd:double"/>
          <xsd:element minOccurs="0" name="tasaMaxima" nillable="true" type="xsd:double"/>
          <xsd:element minOccurs="0" name="montoMinimo" nillable="true" type="xsd:double"/>
          <xsd:element minOccurs="0" name="montoMaximo" nillable="true" type="xsd:double"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Monto" type="cmnBO:MontoType"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="EstadoMonto" type="xsd:boolean"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="diasSpotTasa" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idTcaTipoRedondeo" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="cantidadDecimales" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idTcaTipoMora" type="xsd:long"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="codigoTasaReferencia" type="xsd:string"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="valorTasa" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="spreadTasa" type="xsd:decimal"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="frecuencia" type="xsd:int"/>
          <xsd:element maxOccurs="1" minOccurs="0" name="idTcaTipoFrecuencia" type="xsd:long"/>
          <xsd:element minOccurs="0" name="MoverEntreMeses" type="xsd:decimal"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="LineaCredito">
    <xsd:complexContent>
      <xsd:extension base="linCreBO:LineaCreditoBasicType">
        <xsd:sequence>
          <xsd:element maxOccurs="unbounded" minOccurs="1" name="Condicion" type="conBO:Condicion"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" name="Termino" type="termBO:Termino"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" name="Comision" type="comBO:Comision"/>
          <xsd:element maxOccurs="unbounded" minOccurs="1" name="Fuente" type="linCreBO:Fuente"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="atributos" type="cmnBO:parameterType"/>
          <xsd:element minOccurs="0" name="LineaCreditoFlexcube" type="linCreBO:LineaCreditoFlexcubeType"/>
          <xsd:element minOccurs="0" name="HerramientaCE" type="hceBO:HerramientaCEType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Flexcube">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="id" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="idProductoFlexcube" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="idFlexcubePasivo" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TreLineaCreditoAprobacion">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="idTreLineaCreditoAprobacion" type="xsd:long"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="idLineaCredito" type="linCreBO:idLineaCredito"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="idAprobacion" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LineaCreditoAprobacion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="LineasCredito" type="linCreBO:LineaCredito"/>
      <xsd:element minOccurs="0" name="idAprobacion" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Fuente">
    <xsd:sequence>
      <xsd:element name="idFuente" type="linCreBO:idFuente"/>
      <xsd:element name="idLineaCredito" type="linCreBO:idLineaCredito"/>
      <xsd:element name="idLineaPasiva" type="xsd:string"/>
      <xsd:element name="codigoLineaPasiva" type="xsd:string"/>
      <xsd:element name="idFacturadorLineaPasiva" type="xsd:string"/>
      <xsd:element name="idFondo" type="xsd:string"/>
      <xsd:element name="Descripcion" type="xsd:string"/>
      <xsd:element name="FechaObtenido" type="xsd:date"/>
      <xsd:element name="MontoAsignado" type="xsd:decimal"/>
      <xsd:element name="montoDisponible" type="xsd:double"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Monto" type="cmnBO:MontoType"/>
      <xsd:element name="NumeroAsignacion" type="xsd:decimal"/>
      <xsd:element name="Comentario" type="xsd:string"/>
      <xsd:element name="idContrato" type="linCreBO:idContrato"/>
      <xsd:element name="FechaRegistro" type="xsd:date"/>
      <xsd:element name="Estado" type="xsd:boolean"/>
      <xsd:element name="esExterna" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Prestamo">
    <xsd:sequence>
      <xsd:choice>
        <xsd:element name="Comision" type="comBO:Comision"/>
      </xsd:choice>
      <xsd:element name="Operacion" type="operBO:Operacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TipoContrato">
    <xsd:choice maxOccurs="1" minOccurs="0">
      <xsd:element name="LineaCredito" type="linCreBO:LineaCredito"/>
      <xsd:element name="Comision" type="comBO:Comision"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="InformacionAdicional">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Monto" type="cmnBO:MontoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Garantias">
    <xsd:sequence>
      <xsd:element name="porcentajeExigido" type="xsd:decimal"/>
      <xsd:element name="monto" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LineaCreditoFlexcubeType">
    <xsd:sequence>
      <xsd:element name="numeroLineaCreditoResp_out" type="xsd:string"/>
      <xsd:element name="NumeroContrato" type="xsd:string"/>
      <xsd:element name="DescripcionLinea" type="xsd:string"/>
      <xsd:element name="Moneda" type="xsd:string"/>
      <xsd:element name="MontoAprobado" type="xsd:decimal"/>
      <xsd:element name="CodigoCliente" type="xsd:string"/>
      <xsd:element name="Revolvencia" type="xsd:string"/>
      <xsd:element name="Fondo" type="xsd:string"/>
      <xsd:element name="LineaFinanciera" type="xsd:string"/>
      <xsd:element name="Destino" type="xsd:string"/>
      <xsd:element name="TipoRecurso" type="xsd:string"/>
      <xsd:element name="Pais" type="xsd:string"/>
      <xsd:element name="ActividadEconomica" type="xsd:string"/>
      <xsd:element name="SectorInstitucional" type="xsd:string"/>
      <xsd:element name="Ejecutivo" type="xsd:string"/>
      <xsd:element name="EjeEstrategico" type="xsd:string"/>
      <xsd:element name="AreaFocalizacion" type="xsd:string"/>
      <xsd:element name="ObjeticoEstrategico" type="xsd:string"/>
      <xsd:element name="PlantillaLimite" type="xsd:string"/>
      <xsd:element name="SerialLimite" type="xsd:string"/>
      <xsd:element name="Saldo" type="xsd:decimal"/>
      <xsd:element name="Disponibilidad" type="xsd:decimal"/>
      <xsd:element name="DisponibilidadIfacil" type="xsd:decimal"/>
      <xsd:element name="TieneCondEspeciales" type="xsd:string"/>
      <xsd:element name="DescCondEspeciales" type="xsd:string"/>
      <xsd:element name="FechaMaxDesembolsar" type="xsd:date"/>
      <xsd:element name="NumeroDesembolsos" type="xsd:decimal"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TBILineaCreditoCollection">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="TbiLineaCredito" type="TBILineaCreditoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TBILineaCreditoType">
    <xsd:sequence>
      <xsd:element name="id" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="idContrato" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="idLineaCredito" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="idTareaBpm" nillable="true" type="xsd:long"/>
      <xsd:element minOccurs="0" name="instanciaProceso" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="estadoLineaCredito" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="usuario" nillable="true" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fechaRegistro" type="xsd:dateTime"/>
      <xsd:element minOccurs="0" name="banEstatus" type="xsd:int"/>
      <xsd:element minOccurs="0" name="numeroLineaCredito" nillable="true" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>