BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyAprobacion/src/META-INF/wsdls/V1_8.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/CondicionBO" xmlns:CondicionBO="http://www.bcie.org/CondicionBO" xmlns:atriBO="http://www.bcie.org/AtributoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:desBO="http://www.bcie.org/DesembolsoBO" xmlns:docBO="http://www.bcie.org/DocumentoBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_4.xsd"/>
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="V1_2.xsd"/>
  <xsd:import namespace="http://www.bcie.org/AtributoBO" schemaLocation="V1_7.xsd"/>
  <xsd:import namespace="http://www.bcie.org/DocumentoBO" schemaLocation="V1_9.xsd"/>
  <xsd:import namespace="http://www.bcie.org/DesembolsoBO" schemaLocation="V1_11.xsd"/>
  <xsd:simpleType name="idCondicion">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="Condicion">
    <xsd:annotation>
      <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
      <xsd:documentation>Entidad Condicion - (Modelo canónico)
          Se usa para la administración de las condiciones.
      </xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="idCondicion" type="CondicionBO:idCondicion"/>
      <xsd:element maxOccurs="1" minOccurs="1" name="operacion" type="operBO:idOperacion"/>
      <xsd:element minOccurs="0" name="nombre" type="xsd:string"/>
      <xsd:element minOccurs="0" name="descripcion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tipoCondicion" type="CondicionBO:CatalogoCondicion"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="categoriaCondicion" type="CondicionBO:CategoriaCondicion"/>
      <xsd:element minOccurs="0" name="controlCondicion" type="catBO:Catalogo"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="eventoCondicion" type="catBO:Catalogo"/>
      <xsd:element minOccurs="0" name="tipoFechaInicio" type="catBO:Catalogo"/>
      <xsd:element minOccurs="0" name="fechaInicio" type="xsd:date"/>
      <xsd:element minOccurs="0" name="plazo" type="xsd:int"/>
      <xsd:element minOccurs="0" name="frecuenciaPlazo" type="catBO:Catalogo"/>
      <xsd:element minOccurs="0" name="fechaFinal" type="xsd:date"/>
      <xsd:element minOccurs="0" name="estadoTCC" type="atriBO:EstadoTCC"/>
      <xsd:element minOccurs="0" name="subEstadoTCC" type="atriBO:EstadoTCC"/>
      <xsd:element minOccurs="0" name="fechaRegistro" type="xsd:date"/>
      <xsd:element minOccurs="0" name="estado" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="condicionEnmendada" type="CondicionBO:idCondicion"/>
      <xsd:element minOccurs="0" name="fechaEnmienda" type="xsd:date"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="configAtributo" type="atriBO:Atributo"/>
      <xsd:element minOccurs="0" name="evidencia" type="docBO:ListaDocumentos"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="observaciones" type="CondicionBO:ObservacionCondicion"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="lineaCredito" type="atriBO:EntidadMinima"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="fuente" type="atriBO:EntidadMinima"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="Accion" type="atriBO:Accion"/>
      <xsd:element minOccurs="0" name="fechaVigencia" type="xsd:date"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Cumplimientos" type="CondicionBO:Cumplimiento"/>
      <xsd:element minOccurs="0" name="tipoDesembolso" type="catBO:Catalogo"/>
      <xsd:element minOccurs="0" name="banEstatus" nillable="true" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CatalogoCondicion">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="0" name="idCatCondicion" type="catBO:idCatalogo"/>
      <xsd:element minOccurs="0" name="descripcion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="descripcionCorta" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="idTipoCondicion" type="catBO:idCatalogo"/>
      <xsd:element minOccurs="0" name="esEditableEnFormalizacion" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="requiereValidarCOFI" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="sePuedeDispensar" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="esPlantilla" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="idCondicionPrecarga" type="CondicionBO:idCondicion"/>
      <xsd:element minOccurs="0" name="fechaRegistro" type="xsd:date"/>
      <xsd:element minOccurs="0" name="estado" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="codigoExterno" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tipoCondicion" type="catBO:Catalogo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CategoriaCondicion">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="id" type="xsd:long"/>
      <xsd:element minOccurs="1" name="descripcion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="descripcionCorta" type="xsd:string"/>
      <xsd:element minOccurs="0" name="estatus" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="codigoExterno" type="xsd:string"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="validadores" type="catBO:Catalogo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObservacionCondicion">
    <xsd:sequence>
      <xsd:element minOccurs="1" name="id" type="xsd:long"/>
      <xsd:element minOccurs="0" name="observacion" type="xsd:string"/>
      <xsd:element minOccurs="0" name="loginUsuario" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nombreUsuario" type="xsd:string"/>
      <xsd:element minOccurs="0" name="fechaRegistro" type="xsd:date"/>
      <xsd:element minOccurs="0" name="estatus" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="esPrincipal" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="tareaBPM" type="catBO:Catalogo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidacionCondicion">
    <xsd:sequence>
      <xsd:element maxOccurs="1" minOccurs="1" name="idCondicion" type="CondicionBO:idCondicion"/>
      <xsd:element minOccurs="0" name="rolBPM" type="catBO:Catalogo"/>
      <xsd:element minOccurs="0" name="loginUsuario" type="xsd:string"/>
      <xsd:element minOccurs="0" name="nombreUsuario" type="xsd:string"/>
      <xsd:element maxOccurs="1" minOccurs="0" name="observacion" type="CondicionBO:ObservacionCondicion"/>
      <xsd:element minOccurs="0" name="esValidador" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="estado" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="fechaRegistro" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="listaCondiciones">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="Condicion" type="CondicionBO:Condicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TransaccionCondicion">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="IdTransaccion" type="xsd:long"/>
      <xsd:element minOccurs="0" name="Operacion" type="operBO:OperacionBasicType"/>
      <xsd:element minOccurs="0" name="Solicitud" type="desBO:SolicitudDesembolso"/>
      <xsd:element minOccurs="0" name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
      <xsd:element maxOccurs="unbounded" minOccurs="1" name="Condicion" type="CondicionBO:Condicion"/>
      <xsd:element name="EstadoTCC" type="catBO:Catalogo"/>
      <xsd:element name="estatus" type="xsd:long"/>
      <xsd:element name="enProceso" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="agrupador" type="xsd:long"/>
      <xsd:element minOccurs="0" name="EventoCondicion" type="catBO:Catalogo"/>
      <xsd:element minOccurs="0" name="subEstadoTCC" type="catBO:Catalogo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Cumplimiento">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="Id" type="xsd:long"/>
      <xsd:element minOccurs="0" name="Operacion" type="operBO:OperacionBasicType"/>
      <xsd:element minOccurs="0" name="Solicitud" type="desBO:SolicitudDesembolso"/>
      <xsd:element minOccurs="0" name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
      <xsd:element name="EstadoTCC" type="catBO:Catalogo"/>
      <xsd:element minOccurs="0" name="EventoCondicion" type="catBO:Catalogo"/>
      <xsd:element minOccurs="0" name="agrupador" type="xsd:long"/>
      <xsd:element name="estatus" type="xsd:long"/>
      <xsd:element minOccurs="0" name="subEstadoTCC" type="catBO:Catalogo"/>
      <xsd:element name="enProceso" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaTransaccionCondicion">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="TransaccionCondicion" type="CondicionBO:TransaccionCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>