AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/PurchaseOrderApp/SyncPurchaseOrderJDAAdapterService/Resources/Schemas/PurchaseOrder_JDA_ReqMsg.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://agarcia.mx/JDA/SycnPurchaseOrder" targetNamespace="http://agarcia.mx/JDA/SycnPurchaseOrder" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:jsonTopLevelArray="true" nxsd:encoding="UTF-8">
   <xsd:element name="PurchaseOrder">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="topLevelArray" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="APAKEY" type="xsd:integer"/>
                     <xsd:element name="APWHSE" type="xsd:integer"/>
                     <xsd:element name="APSKU" type="xsd:integer"/>
                     <xsd:element name="APLOC" type="xsd:integer"/>
                     <xsd:element name="APUNIT" type="xsd:integer"/>
                     <xsd:element name="APSDAT" type="xsd:integer"/>
                     <xsd:element name="APCDAT" type="xsd:integer"/>
                     <xsd:element name="APBSDT" type="xsd:integer"/>
                     <xsd:element name="APNOT1" type="xsd:string"/>
                     <xsd:element name="APNOT2" type="xsd:string"/>
                     <xsd:element name="APNOT3" type="xsd:string"/>
                     <xsd:element name="APCMT1" type="xsd:string"/>
                     <xsd:element name="APCMT2" type="xsd:string"/>
                     <xsd:element name="APCMT3" type="xsd:string"/>
                     <xsd:element name="APOTHER" type="xsd:integer"/>
                     <xsd:element name="APPROMO" type="xsd:string"/>
                     <xsd:element name="PONUMBER" type="xsd:string"/>
                     <xsd:element name="ESTATUS" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>