BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/Aprobacion/ValidarProcesoAprobacionFinalizado/XSD/ValidarProcesoAprobacionFinalizado.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ValidarProcesoAprobacionFinalizado" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ValidarProcesoAprobacionFinalizado" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ValidarProcesoAprobacionFinalizadoInput" type="ValidarProcesoAprobacionFinalizadoInput"/>
   <xs:complexType name="ValidarProcesoAprobacionFinalizadoInput">
      <xs:sequence>
         <xs:element name="P_OPERACION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ValidarProcesoAprobacionFinalizadoOutputCollection" type="ValidarProcesoAprobacionFinalizadoOutputCollection"/>
   <xs:complexType name="ValidarProcesoAprobacionFinalizadoOutputCollection">
      <xs:sequence>
         <xs:element name="ValidarProcesoAprobacionFinalizadoOutput" type="ValidarProcesoAprobacionFinalizadoOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ValidarProcesoAprobacionFinalizadoOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_DECISION_REUNION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_MONTO_APROBADO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_APROBACION" type="xs:dateTime" nillable="true"/>
         <xs:element name="NUMERO_RESOLUCION" type="xs:string" nillable="true"/>
         <xs:element name="RESUMEN" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>