BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/LAA/XSD/LAACTIVOS_Schema.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://org/bcie/ws/middle/LAACTIVOS.wsdl" targetNamespace="http://org/bcie/ws/middle/LAACTIVOS.wsdl" elementFormDefault="qualified">
    <xsd:element name="ObtenerDeclaracionRequest" type="ObtenerDeclaracionRequestType"/>
    <xsd:complexType name="ObtenerDeclaracionRequestType">
        <xsd:sequence>
            <xsd:element name="codigoIntervencion" type="xsd:integer"/>
            <xsd:element name="codigoDeclaracion" type="xsd:integer" nillable="true"/>
            <xsd:element name="sectorInstitucional" type="xsd:string"/>
            <xsd:element name="tipoPersona" type="xsd:string"/>
            <xsd:element name="ejecutivo" type="xsd:string"/>
            <xsd:element name="titulo" type="xsd:string"/>
            <xsd:element name="fechaRecepcion" type="xsd:date" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ObtenerDeclaracionResponse" type="ObtenerDeclaracionResponseType"/>
    <xsd:complexType name="ObtenerDeclaracionResponseType">
        <xsd:sequence>
            <xsd:element name="codigoIntervencion" type="xsd:int"/>
            <xsd:element name="codigoDeclaracion" type="xsd:int"/>
            <xsd:element name="plantilla" type="xsd:base64Binary"/>
            <xsd:element name="codigoResultado" type="xsd:int"/>
            <xsd:element name="tipoResultado" type="xsd:int"/>
            <xsd:element name="mensaje" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ActualizarDeclaracionRequest" type="ActualizarDeclaracionRequestType"/>
    <xsd:complexType name="ActualizarDeclaracionRequestType">
        <xsd:sequence>
            <xsd:element name="codigoIntervencion" type="xsd:int"/>
            <xsd:element name="codigoDeclaracion" type="xsd:int"/>
            <xsd:element name="ejecutivo" type="xsd:string"/>
            <xsd:element name="estadoDeclaracion" type="xsd:int"/>
            <xsd:element name="fechaRecepcion" type="xsd:date" nillable="true"/>
            <xsd:element name="plantilla" type="xsd:base64Binary" nillable="true"/><!--evarela 28jul2015 Se solicita agregar la plantlla como no requerida-->
            <!--evarela 28jul2015 nuevos parametros no requeridos de entrada-->
            <xsd:element name="EstadoBusqueda" type="xsd:int" nillable="true"/>
            <xsd:element name="JustificacionDeclaracion" type="xsd:string" nillable="true"/>
            <xsd:element name="JustificacionBusqueda" type="xsd:string" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ActualizarDeclaracionResponse" type="ActualizarDeclaracionResponseType"/>
    <xsd:complexType name="ActualizarDeclaracionResponseType">
        <xsd:sequence>
            <xsd:element name="codigoIntervencion" type="xsd:int"/>
            <xsd:element name="codigoDeclaracion" type="xsd:int"/>
            <xsd:element name="codigoResultado" type="xsd:int"/>
            <xsd:element name="tipoResultado" type="xsd:int"/>
            <xsd:element name="mensaje" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--evarela 23jul2015-->
        <xsd:element name="ConsultarDeclaracionRequest" type="ConsultarDeclaracionRequestType"/>
    <xsd:complexType name="ConsultarDeclaracionRequestType">
        <xsd:sequence>
            <xsd:element name="codigoIntervencion" type="xsd:int"/>
            <xsd:element name="codigoDeclaracion" type="xsd:int" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ConsultarDeclaracionResponse" type="ConsultarDeclaracionResponseType"/>
    <xsd:complexType name="ConsultarDeclaracionResponseType">
        <xsd:sequence>
            <xsd:element name="CodigoDeclaracionResp" type="xsd:int"/>
            <xsd:element name="FechaDeclaracion" type="xsd:date"/>
            <xsd:element name="FechaVencimiento" type="xsd:date"/>
            <xsd:element name="EstadoDeclaracion" type="xsd:int"/>
            <xsd:element name="codigoResultado" type="xsd:int"/>
            <xsd:element name="tipoResultado" type="xsd:int"/>
            <xsd:element name="mensaje" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--evarela 23jul2015-->
    
     <!--evarela 05Ago2015-->
     <xsd:element name="NuevaDeclaracionRequest" type="NuevaDeclaracionRequestType"/>
    <xsd:complexType name="NuevaDeclaracionRequestType">
        <xsd:sequence>
            <xsd:element name="codigoIntervencion" type="xsd:integer"/>
            <xsd:element name="sectorInstitucional" type="xsd:string"/>
            <xsd:element name="tipoPersona" type="xsd:string"/>
            <xsd:element name="ejecutivo" type="xsd:string"/>
            <xsd:element name="titulo" type="xsd:string"/>
            <xsd:element name="fechaRecepcion" type="xsd:date"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="NuevaDeclaracionResponse" type="NuevaDeclaracionResponseType"/>
    <xsd:complexType name="NuevaDeclaracionResponseType">
        <xsd:sequence>
            <xsd:element name="codigoIntervencion" type="xsd:int"/>
            <xsd:element name="codigoDeclaracion" type="xsd:int"/>
            <xsd:element name="codigoResultado" type="xsd:int"/>
            <xsd:element name="tipoResultado" type="xsd:int"/>
            <xsd:element name="mensaje" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--evarela 05Ago2015-->

 <!--evarela 05Ago2015-->
     <xsd:element name="DuplicarDeclaracionRequest" type="DuplicarDeclaracionRequestType"/>
    <xsd:complexType name="DuplicarDeclaracionRequestType">
        <xsd:sequence>
            <xsd:element name="codigoDeclaracion" type="xsd:integer"/>
            <xsd:element name="DuplicarRespuestas" type="xsd:integer"/>
            <xsd:element name="NumeroEmpleado" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="DuplicarDeclaracionResponse" type="DuplicarDeclaracionResponseType"/>
    <xsd:complexType name="DuplicarDeclaracionResponseType">
        <xsd:sequence>
            <xsd:element name="codigoDeclaracion" type="xsd:int"/>
            <xsd:element name="codigoResultado" type="xsd:int"/>
            <xsd:element name="tipoResultado" type="xsd:int"/>
            <xsd:element name="mensaje" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <!--evarela 05Ago2015-->

</xsd:schema>