Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/BpaEnqStaffPJ/BPAENQSTAFFPJType.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
    xmlns:ns0="http://www.temenos.com/T24/ofs/BPAENQSTAFFPJType"
    xmlns:xdb="http://xmlns.oracle.com/xdb"
    targetNamespace="http://www.temenos.com/T24/ofs/BPAENQSTAFFPJType" xdb:storeVarrayAsTable="true">
    <!-- This T24 XML Schema automatically produced -->
    <!-- Copyright Temenos Holdings NV 2018-->
    <!-- T24 Application: BPA.ENQ.STAFF.PJ -->
    <!-- T24 Release: R16 -->
    <!-- Production timestamp: 10:56:00 22 MAY 2018 -->
    <xsd:element name="BPAENQSTAFFPJ" type="ns0:BPAENQSTAFFPJType">
        <xsd:annotation>
            <xsd:documentation>This is the top level element for the record data</xsd:documentation>
            <xsd:appinfo><hfp:hasProperty name="locked" value="no"/><hfp:hasProperty
                    name="useschema" value="no"/><hfp:hasProperty name="register" value="no"
                    /><hfp:hasProperty name="aaPropertyName" value=""/></xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="BPAENQSTAFFPJType" xdb:maintainDOM="false">
        <xsd:annotation>
            <xsd:documentation>This complex type represents the T24 data for the BPA.ENQ.STAFF.PJ
                table</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element minOccurs="0" name="gBPAENQSTAFFPJDetailType">
                <xsd:complexType xdb:SQLType="gBPAENQSTAFFPJSelfldid" xdb:maintainDOM="false">
                    <xsd:sequence minOccurs="0">
                        <xsd:element maxOccurs="unbounded" minOccurs="0"
                            name="mBPAENQSTAFFPJDetailType"
                            xdb:SQLCollType="mBPAENQSTAFFPJSelfldid_COLL">
                            <xsd:complexType xdb:SQLType="mBPAENQSTAFFPJSelfldid"
                                xdb:maintainDOM="false">
                                <xsd:sequence minOccurs="0">
                                    <xsd:element id="selFldID" minOccurs="0" name="selFldID"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ10_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>selFldID</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="selFldID"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="10"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="ID" minOccurs="0" name="ID" nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ10_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>ID</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="ID"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="10"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="NAME.MAIN.STAFF" minOccurs="0"
                                        name="NAMEMAINSTAFF" nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ45_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>NAME.MAIN.STAFF</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="NAME.MAIN.STAFF"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="45"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="NATIONALITY" minOccurs="0" name="NATIONALITY"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ9_COLL_COLL" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>NATIONALITY</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="NATIONALITY"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="9"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="SHARE.TYPE" minOccurs="0" name="SHARETYPE"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ35_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>SHARE.TYPE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="SHARE.TYPE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="35"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="ID.MAIN.STAFF" minOccurs="0" name="IDMAINSTAFF"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ35_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>ID.MAIN.STAFF</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="ID.MAIN.STAFF"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="35"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="COMP.COUNTRY" minOccurs="0" name="COMPCOUNTRY"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ9_COLL_COLL" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>COMP.COUNTRY</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="COMP.COUNTRY"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="9"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="TOWN" minOccurs="0" name="TOWN" nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ35_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>TOWN</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="TOWN"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="35"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="PROVINCE" minOccurs="0" name="PROVINCE"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ4_COLL_COLL" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PROVINCE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="PROVINCE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="4"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="STREET" minOccurs="0" name="STREET"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ35_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>STREET</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="STREET"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="35"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="BUILDING" minOccurs="0" name="BUILDING"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ35_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>BUILDING</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="BUILDING"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="35"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="HOUSE.NO" minOccurs="0" name="HOUSENO"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ15_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>HOUSE.NO</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="HOUSE.NO"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="15"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="DISTRICT" minOccurs="0" name="DISTRICT"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ6_COLL_COLL" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>DISTRICT</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="DISTRICT"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="6"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="SECTOR" minOccurs="0" name="SECTOR"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ4_COLL_COLL" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>SECTOR</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="SECTOR"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="4"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="POST.CODE" minOccurs="0" name="POSTCODE"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ35_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>POST.CODE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="POST.CODE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="35"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="POSITION.MAIN.STAFF" minOccurs="0"
                                        name="POSITIONMAINSTAFF" nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ35_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>POSITION.MAIN.STAFF</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="POSITION.MAIN.STAFF"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="35"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="PROFESSION" minOccurs="0" name="PROFESSION"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ4_COLL_COLL" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PROFESSION</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="PROFESSION"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="4"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="GENDER" minOccurs="0" name="GENDER"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ35_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>GENDER</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="GENDER"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="35"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="PHONE" minOccurs="0" name="PHONE"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ17_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PHONE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="PHONE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="17"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="OFFICE.PHONE" minOccurs="0" name="OFFICEPHONE"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ17_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>OFFICE.PHONE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="OFFICE.PHONE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="17"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="OTHER.PHONE" minOccurs="0" name="OTHERPHONE"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ17_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>OTHER.PHONE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="OTHER.PHONE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="17"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="BIRTH.DATE" minOccurs="0" name="BIRTHDATE"
                                        nillable="true" type="xsd:date"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ8_COLL_COLL" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>BIRTH.DATE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="BIRTH.DATE"/></xsd:appinfo>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element id="PEP" minOccurs="0" name="PEP" nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ350_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PEP</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="PEP"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="PERSON.TYPE" minOccurs="0" name="PERSONTYPE"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ350_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PERSON.TYPE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="PERSON.TYPE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="FATCA.NATIONAL" minOccurs="0"
                                        name="FATCANATIONAL" nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ350_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>FATCA.NATIONAL</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="FATCA.NATIONAL"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="FATCA.US.RESID" minOccurs="0"
                                        name="FATCAUSRESID" nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ350_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>FATCA.US.RESID</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="FATCA.US.RESID"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="FATCA.US.RELATED" minOccurs="0"
                                        name="FATCAUSRELATED" nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ350_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>FATCA.US.RELATED</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="FATCA.US.RELATED"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="FATCA.US.SIGNOR" minOccurs="0"
                                        name="FATCAUSSIGNOR" nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ350_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>FATCA.US.SIGNOR</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="FATCA.US.SIGNOR"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="FATCA.US.183" minOccurs="0" name="FATCAUS183"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ350_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>FATCA.US.183</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="FATCA.US.183"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="SEC.MAIN.STAFF" minOccurs="0"
                                        name="SECMAINSTAFF" nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ35_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>SEC.MAIN.STAFF</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="SEC.MAIN.STAFF"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="35"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="FIRST.SURNAME" minOccurs="0"
                                        name="FIRSTSURNAME" nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ35_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>FIRST.SURNAME</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="FIRST.SURNAME"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="35"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="SECON.SURNAME" minOccurs="0"
                                        name="SECONSURNAME" nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ35_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>SECON.SURNAME</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="SECON.SURNAME"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="35"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="LEGAL.ID" minOccurs="0" name="LEGALID"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ35_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>LEGAL.ID</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="LEGAL.ID"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="35"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="ADDRESS.REFERENCE" minOccurs="0"
                                        name="ADDRESSREFERENCE" nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ35_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>ADDRESS.REFERENCE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="ADDRESS.REFERENCE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="35"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="PHONE.CODE" minOccurs="0" name="PHONECODE"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ5_COLL_COLL" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>PHONE.CODE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="PHONE.CODE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="5"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="OFFICE.CODE" minOccurs="0" name="OFFICECODE"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ5_COLL_COLL" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>OFFICE.CODE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="OFFICE.CODE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="5"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="OTHER.CODE" minOccurs="0" name="OTHERCODE"
                                        nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ350_COLL_COLL"
                                        xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>OTHER.CODE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="OTHER.CODE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="350"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="LT.SHARES.PERCENT" minOccurs="0"
                                        name="LTSHARESPERCENT" nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ4_COLL_COLL" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>LT.SHARES.PERCENT</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="LT.SHARES.PERCENT"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="4"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element id="DATE.CONSTITUTION" minOccurs="0"
                                        name="DATECONSTITUTION" nillable="true" type="xsd:date"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ8_COLL_COLL" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>DATE.CONSTITUTION</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="numeric"/><hfp:hasProperty name="fieldname"
                                                  value="DATE.CONSTITUTION"/></xsd:appinfo>
                                        </xsd:annotation>
                                    </xsd:element>
                                    <xsd:element id="COUNTRY.CONSTI" minOccurs="0"
                                        name="COUNTRYCONSTI" nillable="true"
                                        xdb:SQLCollType="T24BPAENQSTAFFPJ9_COLL_COLL" xdb:SQLName="">
                                        <xsd:annotation>
                                            <xsd:documentation>COUNTRY.CONSTI</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="COUNTRY.CONSTI"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="9"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
