BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ConsultarRolesPorProceso/V1/Schema/ConsultarRolesPorProcesoMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/ConsultarRolesPorProcesoMO" elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:rolProMO="http://www.bcie.org/ConsultarRolesPorProcesoMO"
            xmlns:rolProBO="http://www.bcie.org/ConsultarRolesPorProcesoBO" xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import schemaLocation="ConsultarRolesPorProcesoBO.xsd"
              namespace="http://www.bcie.org/ConsultarRolesPorProcesoBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="requestConsultarRolesPorProcesoMessage" type="rolProMO:ConsultarRolesPorProcesoRequest"/>
  <xsd:element name="responseConsultarRolesPorProcesoMessage" type="rolProMO:ConsultarRolesPorProcesoResponse"/>
  <xsd:complexType name="ConsultarRolesPorProcesoRequest">
    <xsd:annotation>
      <xsd:documentation>Mensaje de entrada para la consulta de roles por procesos</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Proceso" type="rolProBO:RolesPorPorceso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarRolesPorProcesoResponse">
    <xsd:annotation>
      <xsd:documentation>Mensaje de salida de la consulta de roles por procesos</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ListadoRoles" type="rolProBO:RolesPorPorceso"/>
      <xsd:element name="Result" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>