Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Account/AdminTrnAdv/AdminTrnAdv_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AdminTrnAdv_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAdminTrnAdv="http://xmlns.banesco.com/eopt/AdminTrnAdv_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:element name="AdminTrnAdvRq" type="eoptAdminTrnAdv:AdminTrnAdvRq_Type"/>
	<xs:element name="AdminTrnAdvRs" type="eoptAdminTrnAdv:AdminTrnAdvRs_Type"/>
	<xs:complexType name="AdminTrnAdvRq_Type">
		<xs:sequence>
			<xs:element name="AcctStatus" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Estado de la Cuenta  (A=Activo, C=Cancelado, I=Inactivo, etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActiveChkQty" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Cheques Activos para la chequera de la Transacción.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailAmt" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Saldo Disponible de la Cuenta Origen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailAmtSign" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Signo del Saldo Disponible  (+= Positivo, -= Negativo)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Agencia, Oficina o Sucursal donde se esta realizando la Transacción</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código del Tipo de Sucursal donde se esta realizando la Transacción.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CallerId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dirección IP o Caller ID donde fue realizada la Transacción.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Channel" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Canal o Medio donde se origino la Transacción</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkBookQty" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Chequeras que solicito el Cliente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkBookType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica que tipo de Chequera </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkReceiverPersonalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Identificación Personal del Cliente que recibe la Chequera  (Cédula, Pasaporte, NIT, RUT,etc.) </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código interno Origen que identifica al Cliente en la Institución</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre Completo del Cliente Titular de la Cuenta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployeeAcct" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag que identifica si la Cuenta Origen de la Transacción es una Cuenta de Empleado  (S= Si, N= No)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployeeCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Funcionario o Empleado que Autoriza la Transacción.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployeeType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Si la Cuenta que se esta Afectando es de un Empleado que tipo de Empleado es (Funcionario, Gerente, Director, etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinalChk" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número del Cheque Final de la Chequera.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FraudFlag" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag o Indicador que indica que la Transacción es un Fraude (1=Fraude, 0=Normal)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FraudOrigin" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica de donde se origino la Alerta si la Transacción ya fue Marcada como Fraude.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FraudTxnId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número o Valor de Identificación de la Transacción de Fraude.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdApp" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código que identifica la aplicación que da origen a este registro.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>consecutivo diario</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InitChk" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número del Cheque Inicial de la Chequera.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ISPCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código del Proveedor de Servicios de Internet.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Location" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Localidad o Ciudad donde se esta realizando la Trx.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NewTypeCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código del Tipo Novedad que se esta realizando.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAcctDate" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha cuando se Aperturo la Cuenta Origen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenBranch" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Agencia, Oficina o Sucursal donde se aperturo la Cuenta Origen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Identificación Personal del Cliente (Cédula, Pasaporte, NIT, RUT,etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostValChange" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor que tenia el Campo Posterior al Cambio realizado.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrevValChange" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valor que tenia el Campo Anterior al Cambio realizado.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código que identifica cual es el producto asociado a la Cuenta de la Transacción</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubProdCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código que identifica una sub agrupación del Producto.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TerminalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificación de la Terminal donde se origino la Transacción</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnAccount" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de la Cuenta que Originó la Transacción.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnDate" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de la Realización de la Transacción en formato AAAAMMDD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numero de Referencia de la Operación.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnTime" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hora de la Realización de la Transacción en formato HHMMSS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnTypeCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código que identifica la Transacción que se esta realizando (Cambio algún dato, consulta, etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Usuario que realiza la Transacción.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre Completo del Usuario que esta realizando la Trx.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código que nos indica que Tipo de Usuario es (Administrador, Supervisor, Cajero, etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdminTrnAdvRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
