AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/SBProjectWADLs/Resources/nxsd_schema1.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://TargetNamespace.com/RestService_Operation1_request" targetNamespace="http://TargetNamespace.com/RestService_Operation1_request" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
   <xsd:element name="Root-Element">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="ProcessAdvancedShipmentNoticeEBM">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Header">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="TrackingID" type="xsd:string"/>
                              <xsd:element name="InstanceID" type="xsd:string"/>
                              <xsd:element name="User" type="xsd:string"/>
                              <xsd:element name="SourceID" type="xsd:string"/>
                              <xsd:element name="Target">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="Applications">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="Name" type="xsd:string"/>
                                                <xsd:element name="Code" type="xsd:string"/>
                                                <xsd:element name="User" type="xsd:string"/>
                                                <xsd:element name="Version" type="xsd:string"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="Operation" type="xsd:string"/>
                              <xsd:element name="Interface" type="xsd:string"/>
                              <xsd:element name="BusinessUnit">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="Identification">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="ID" type="xsd:string"/>
                                                <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                <xsd:element name="ApplicationObjectReference">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="ApplicationName" type="xsd:string"/>
                                                         <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="Name" type="xsd:string"/>
                                       <xsd:element name="Code" type="xsd:string"/>
                                       <xsd:element name="CountryName" type="xsd:string"/>
                                       <xsd:element name="CountryCode" type="xsd:string"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="RequestDateTime" type="xsd:string"/>
                              <xsd:element name="DateTimes" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="DataArea">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="ProcessAdvancedShipmentNotice">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="Identification">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="ID" type="xsd:string"/>
                                                <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                <xsd:element name="ApplicationObjectReference">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="ApplicationName" type="xsd:string"/>
                                                         <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="Shipment">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="Identification">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="ID" type="xsd:string"/>
                                                         <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                         <xsd:element name="ApplicationObjectReference">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                  <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="ShipmentName" type="xsd:string"/>
                                                <xsd:element name="Status">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="Code" type="xsd:string"/>
                                                         <xsd:element name="EffectivePeriod">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="StartDateTime" type="xsd:string"/>
                                                                  <xsd:element name="EndDateTime" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="ReasonCode" type="xsd:string"/>
                                                         <xsd:element name="Description" type="xsd:string"/>
                                                         <xsd:element name="SubStatusCode" type="xsd:string"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="Driver" type="xsd:string"/>
                                                <xsd:element name="ShipMethodCode" type="xsd:string"/>
                                                <xsd:element name="ShipmentCode" type="xsd:string"/>
                                                <xsd:element name="ModeOfTransportCode" type="xsd:string"/>
                                                <xsd:element name="TrailerId" type="xsd:string"/>
                                                <xsd:element name="TractorId" type="xsd:string"/>
                                                <xsd:element name="ShipmentStop">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="LocationId" type="xsd:string"/>
                                                         <xsd:element name="StopSequenceNumber" type="xsd:string"/>
                                                         <xsd:element name="PlannedArrivalDate" type="xsd:string"/>
                                                         <xsd:element name="PlannedDepartureDate" type="xsd:string"/>
                                                         <xsd:element name="PlannedArrival" type="xsd:string"/>
                                                         <xsd:element name="PlannedDeparture" type="xsd:string"/>
                                                         <xsd:element name="ShipMethodCode" type="xsd:string"/>
                                                         <xsd:element name="PowerUnitId" type="xsd:string"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="ReleaseName" type="xsd:string"/>
                                                <xsd:element name="Organization">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="Identification">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="ID" type="xsd:string"/>
                                                                  <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                  <xsd:element name="ApplicationObjectReference">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="Name" type="xsd:string"/>
                                                         <xsd:element name="LegalEntityReference">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="Identification">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ID" type="xsd:string"/>
                                                                           <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectReference">
                                                                              <xsd:complexType>
                                                                                 <xsd:sequence>
                                                                                    <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                                    <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                                 </xsd:sequence>
                                                                              </xsd:complexType>
                                                                           </xsd:element>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="TaxPayerRegistrationNumberID" type="xsd:string"/>
                                                                  <xsd:element name="Name" type="xsd:string"/>
                                                                  <xsd:element name="Description" type="xsd:string"/>
                                                                  <xsd:element name="Code" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="LegalStructureCode" type="xsd:string"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="InitialPickupLocationId" type="xsd:string"/>
                                                <xsd:element name="UltimateDropofLocationId" type="xsd:string"/>
                                                <xsd:element name="Location">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="LocationId" type="xsd:string"/>
                                                         <xsd:element name="Name" type="xsd:string"/>
                                                         <xsd:element name="Description" type="xsd:string"/>
                                                         <xsd:element name="TypeCode" type="xsd:string"/>
                                                         <xsd:element name="UseCode" type="xsd:string"/>
                                                         <xsd:element name="Directions" type="xsd:string"/>
                                                         <xsd:element name="Address">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="Identification">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ID" type="xsd:string"/>
                                                                           <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectReference">
                                                                              <xsd:complexType>
                                                                                 <xsd:sequence>
                                                                                    <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                                    <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                                 </xsd:sequence>
                                                                              </xsd:complexType>
                                                                           </xsd:element>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="LineOne" type="xsd:string"/>
                                                                  <xsd:element name="LineTwo" type="xsd:string"/>
                                                                  <xsd:element name="LineThree" type="xsd:string"/>
                                                                  <xsd:element name="LineFour" type="xsd:string"/>
                                                                  <xsd:element name="Building" type="xsd:string"/>
                                                                  <xsd:element name="Floor" type="xsd:string"/>
                                                                  <xsd:element name="StreetNumber" type="xsd:string"/>
                                                                  <xsd:element name="Apartment" type="xsd:string"/>
                                                                  <xsd:element name="StreetName" type="xsd:string"/>
                                                                  <xsd:element name="BetweenStreets" type="xsd:string"/>
                                                                  <xsd:element name="Area" type="xsd:string"/>
                                                                  <xsd:element name="CityName" type="xsd:string"/>
                                                                  <xsd:element name="StateName" type="xsd:string"/>
                                                                  <xsd:element name="ProvinceName" type="xsd:string"/>
                                                                  <xsd:element name="RuralRoute" type="xsd:string"/>
                                                                  <xsd:element name="CountyName" type="xsd:string"/>
                                                                  <xsd:element name="CountryName" type="xsd:string"/>
                                                                  <xsd:element name="CountryCode" type="xsd:string"/>
                                                                  <xsd:element name="CountrySubDivisionID" type="xsd:string"/>
                                                                  <xsd:element name="CitySubDivisionName" type="xsd:string"/>
                                                                  <xsd:element name="ProcessingCode" type="xsd:string"/>
                                                                  <xsd:element name="PostalCode" type="xsd:string"/>
                                                                  <xsd:element name="LongPostalCode" type="xsd:string"/>
                                                                  <xsd:element name="GEOCodeID" type="xsd:string"/>
                                                                  <xsd:element name="InCityLimitIndicator" type="xsd:string"/>
                                                                  <xsd:element name="TimeZoneCode" type="xsd:string"/>
                                                                  <xsd:element name="TypeCode" type="xsd:string"/>
                                                                  <xsd:element name="SubTypeCode" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="GEOCodeID">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="ID" type="xsd:string"/>
                                                                  <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                  <xsd:element name="ApplicationObjectReference">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="TimeZoneIdentifier">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="ID" type="xsd:string"/>
                                                                  <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                  <xsd:element name="ApplicationObjectReference">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="GeographicalCoordinate">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="AltitudeMeasure" type="xsd:string"/>
                                                                  <xsd:element name="LatitudeMeasure" type="xsd:string"/>
                                                                  <xsd:element name="LongitudeMeasure" type="xsd:string"/>
                                                                  <xsd:element name="LatitudeDirectionCode" type="xsd:string"/>
                                                                  <xsd:element name="LongitudeDirectionCode" type="xsd:string"/>
                                                                  <xsd:element name="SystemID" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="ShipUnit">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="ShipUnitId" type="xsd:string"/>
                                                         <xsd:element name="ShipmentUnitCount" type="xsd:string"/>
                                                         <xsd:element name="WaybillNumber" type="xsd:string"/>
                                                         <xsd:element name="WeightUnitOfMeasure" type="xsd:string"/>
                                                         <xsd:element name="WeightValue" type="xsd:string"/>
                                                         <xsd:element name="VehicleNumber" type="xsd:string"/>
                                                         <xsd:element name="VolumeUnitOfMeasure" type="xsd:string"/>
                                                         <xsd:element name="VolumeValue" type="xsd:string"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="ShipFromPartyReference">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="LocationId" type="xsd:string"/>
                                                         <xsd:element name="Name" type="xsd:string"/>
                                                         <xsd:element name="Description" type="xsd:string"/>
                                                         <xsd:element name="TypeCode" type="xsd:string"/>
                                                         <xsd:element name="UseCode" type="xsd:string"/>
                                                         <xsd:element name="Directions" type="xsd:string"/>
                                                         <xsd:element name="Address">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="Identification">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ID" type="xsd:string"/>
                                                                           <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectReference">
                                                                              <xsd:complexType>
                                                                                 <xsd:sequence>
                                                                                    <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                                    <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                                 </xsd:sequence>
                                                                              </xsd:complexType>
                                                                           </xsd:element>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="LineOne" type="xsd:string"/>
                                                                  <xsd:element name="LineTwo" type="xsd:string"/>
                                                                  <xsd:element name="LineThree" type="xsd:string"/>
                                                                  <xsd:element name="LineFour" type="xsd:string"/>
                                                                  <xsd:element name="Building" type="xsd:string"/>
                                                                  <xsd:element name="Floor" type="xsd:string"/>
                                                                  <xsd:element name="StreetNumber" type="xsd:string"/>
                                                                  <xsd:element name="Apartment" type="xsd:string"/>
                                                                  <xsd:element name="StreetName" type="xsd:string"/>
                                                                  <xsd:element name="BetweenStreets" type="xsd:string"/>
                                                                  <xsd:element name="Area" type="xsd:string"/>
                                                                  <xsd:element name="CityName" type="xsd:string"/>
                                                                  <xsd:element name="StateName" type="xsd:string"/>
                                                                  <xsd:element name="ProvinceName" type="xsd:string"/>
                                                                  <xsd:element name="RuralRoute" type="xsd:string"/>
                                                                  <xsd:element name="CountyName" type="xsd:string"/>
                                                                  <xsd:element name="CountryName" type="xsd:string"/>
                                                                  <xsd:element name="CountryCode" type="xsd:string"/>
                                                                  <xsd:element name="CountrySubDivisionID" type="xsd:string"/>
                                                                  <xsd:element name="CitySubDivisionName" type="xsd:string"/>
                                                                  <xsd:element name="ProcessingCode" type="xsd:string"/>
                                                                  <xsd:element name="PostalCode" type="xsd:string"/>
                                                                  <xsd:element name="LongPostalCode" type="xsd:string"/>
                                                                  <xsd:element name="GEOCodeID" type="xsd:string"/>
                                                                  <xsd:element name="InCityLimitIndicator" type="xsd:string"/>
                                                                  <xsd:element name="TimeZoneCode" type="xsd:string"/>
                                                                  <xsd:element name="TypeCode" type="xsd:string"/>
                                                                  <xsd:element name="SubTypeCode" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="GEOCodeID">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="ID" type="xsd:string"/>
                                                                  <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                  <xsd:element name="ApplicationObjectReference">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="TimeZoneIdentifier">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="ID" type="xsd:string"/>
                                                                  <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                  <xsd:element name="ApplicationObjectReference">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="GeographicalCoordinate">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="AltitudeMeasure" type="xsd:string"/>
                                                                  <xsd:element name="LatitudeMeasure" type="xsd:string"/>
                                                                  <xsd:element name="LongitudeMeasure" type="xsd:string"/>
                                                                  <xsd:element name="LatitudeDirectionCode" type="xsd:string"/>
                                                                  <xsd:element name="LongitudeDirectionCode" type="xsd:string"/>
                                                                  <xsd:element name="SystemID" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="ShipToPartyReference">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="LocationId" type="xsd:string"/>
                                                         <xsd:element name="Name" type="xsd:string"/>
                                                         <xsd:element name="Description" type="xsd:string"/>
                                                         <xsd:element name="TypeCode" type="xsd:string"/>
                                                         <xsd:element name="UseCode" type="xsd:string"/>
                                                         <xsd:element name="Directions" type="xsd:string"/>
                                                         <xsd:element name="Address">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="Identification">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ID" type="xsd:string"/>
                                                                           <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectReference">
                                                                              <xsd:complexType>
                                                                                 <xsd:sequence>
                                                                                    <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                                    <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                                 </xsd:sequence>
                                                                              </xsd:complexType>
                                                                           </xsd:element>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="LineOne" type="xsd:string"/>
                                                                  <xsd:element name="LineTwo" type="xsd:string"/>
                                                                  <xsd:element name="LineThree" type="xsd:string"/>
                                                                  <xsd:element name="LineFour" type="xsd:string"/>
                                                                  <xsd:element name="Building" type="xsd:string"/>
                                                                  <xsd:element name="Floor" type="xsd:string"/>
                                                                  <xsd:element name="StreetNumber" type="xsd:string"/>
                                                                  <xsd:element name="Apartment" type="xsd:string"/>
                                                                  <xsd:element name="StreetName" type="xsd:string"/>
                                                                  <xsd:element name="BetweenStreets" type="xsd:string"/>
                                                                  <xsd:element name="Area" type="xsd:string"/>
                                                                  <xsd:element name="CityName" type="xsd:string"/>
                                                                  <xsd:element name="StateName" type="xsd:string"/>
                                                                  <xsd:element name="ProvinceName" type="xsd:string"/>
                                                                  <xsd:element name="RuralRoute" type="xsd:string"/>
                                                                  <xsd:element name="CountyName" type="xsd:string"/>
                                                                  <xsd:element name="CountryName" type="xsd:string"/>
                                                                  <xsd:element name="CountryCode" type="xsd:string"/>
                                                                  <xsd:element name="CountrySubDivisionID" type="xsd:string"/>
                                                                  <xsd:element name="CitySubDivisionName" type="xsd:string"/>
                                                                  <xsd:element name="ProcessingCode" type="xsd:string"/>
                                                                  <xsd:element name="PostalCode" type="xsd:string"/>
                                                                  <xsd:element name="LongPostalCode" type="xsd:string"/>
                                                                  <xsd:element name="GEOCodeID" type="xsd:string"/>
                                                                  <xsd:element name="InCityLimitIndicator" type="xsd:string"/>
                                                                  <xsd:element name="TimeZoneCode" type="xsd:string"/>
                                                                  <xsd:element name="TypeCode" type="xsd:string"/>
                                                                  <xsd:element name="SubTypeCode" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="GEOCodeID">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="ID" type="xsd:string"/>
                                                                  <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                  <xsd:element name="ApplicationObjectReference">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="TimeZoneIdentifier">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="ID" type="xsd:string"/>
                                                                  <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                  <xsd:element name="ApplicationObjectReference">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="GeographicalCoordinate">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="AltitudeMeasure" type="xsd:string"/>
                                                                  <xsd:element name="LatitudeMeasure" type="xsd:string"/>
                                                                  <xsd:element name="LongitudeMeasure" type="xsd:string"/>
                                                                  <xsd:element name="LatitudeDirectionCode" type="xsd:string"/>
                                                                  <xsd:element name="LongitudeDirectionCode" type="xsd:string"/>
                                                                  <xsd:element name="SystemID" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="OriginCountryCode" type="xsd:string"/>
                                                <xsd:element name="DestinationCountryCode" type="xsd:string"/>
                                                <xsd:element name="ServiceProvider" type="xsd:string"/>
                                                <xsd:element name="StandardCarrierAlphaCode" type="xsd:string"/>
                                                <xsd:element name="ReferenceIdentification" type="xsd:string"/>
                                                <xsd:element name="Weight" type="xsd:string"/>
                                                <xsd:element name="WeightQualifier" type="xsd:string"/>
                                                <xsd:element name="RateValueQualifier" type="xsd:string"/>
                                                <xsd:element name="VolumeUnitQualifier" type="xsd:string"/>
                                                <xsd:element name="Volume" type="xsd:string"/>
                                                <xsd:element name="TotalShipUnitCount" type="xsd:string"/>
                                                <xsd:element name="TotalLines" type="xsd:string"/>
                                                <xsd:element name="TotalQuantity" type="xsd:string"/>
                                                <xsd:element name="ShipmentItem">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="Identification">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="ID" type="xsd:string"/>
                                                                  <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                  <xsd:element name="ApplicationObjectReference">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="Name" type="xsd:string"/>
                                                         <xsd:element name="Description" type="xsd:string"/>
                                                         <xsd:element name="ShippedQuantity" type="xsd:string"/>
                                                         <xsd:element name="CanceledQuantity" type="xsd:string"/>
                                                         <xsd:element name="UOMCode" type="xsd:string"/>
                                                         <xsd:element name="UOMConversion" type="xsd:string"/>
                                                         <xsd:element name="RequestedDate" type="xsd:string"/>
                                                         <xsd:element name="SequenceCode" type="xsd:string"/>
                                                         <xsd:element name="PromisedDate" type="xsd:string"/>
                                                         <xsd:element name="HazardClassCode" type="xsd:string"/>
                                                         <xsd:element name="PurchaseOrderReference">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="ID" type="xsd:string"/>
                                                                  <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                  <xsd:element name="ApplicationObjectReference">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="DtlReceiveFlag" type="xsd:string"/>
                                                         <xsd:element name="ShipmentLPN">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="Identification">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ID" type="xsd:string"/>
                                                                           <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectReference">
                                                                              <xsd:complexType>
                                                                                 <xsd:sequence>
                                                                                    <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                                    <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                                 </xsd:sequence>
                                                                              </xsd:complexType>
                                                                           </xsd:element>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="ShippedLPN" type="xsd:string"/>
                                                                  <xsd:element name="Weight" type="xsd:string"/>
                                                                  <xsd:element name="Volume" type="xsd:string"/>
                                                                  <xsd:element name="PhysicalPalletFlag" type="xsd:string"/>
                                                                  <xsd:element name="Length" type="xsd:string"/>
                                                                  <xsd:element name="Width" type="xsd:string"/>
                                                                  <xsd:element name="Height" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="Prepack">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="Identification">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ID" type="xsd:string"/>
                                                                           <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectReference">
                                                                              <xsd:complexType>
                                                                                 <xsd:sequence>
                                                                                    <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                                    <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                                 </xsd:sequence>
                                                                              </xsd:complexType>
                                                                           </xsd:element>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="PrepackCode" type="xsd:string"/>
                                                                  <xsd:element name="Ratio" type="xsd:string"/>
                                                                  <xsd:element name="TotalUnits" type="xsd:string"/>
                                                                  <xsd:element name="RatioSequence" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="ValueSet">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="Identification">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ID" type="xsd:string"/>
                                                                           <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectReference">
                                                                              <xsd:complexType>
                                                                                 <xsd:sequence>
                                                                                    <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                                    <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                                 </xsd:sequence>
                                                                              </xsd:complexType>
                                                                           </xsd:element>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="Name" type="xsd:string"/>
                                                                  <xsd:element name="Description" type="xsd:string"/>
                                                                  <xsd:element name="DataTypeCode" type="xsd:string"/>
                                                                  <xsd:element name="MinimumValue" type="xsd:string"/>
                                                                  <xsd:element name="MaximumValue" type="xsd:string"/>
                                                                  <xsd:element name="MinimumLength" type="xsd:string"/>
                                                                  <xsd:element name="MaximumLength" type="xsd:string"/>
                                                                  <xsd:element name="ValueSetLine">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="Application">
                                                                              <xsd:complexType>
                                                                                 <xsd:sequence>
                                                                                    <xsd:element name="Name" type="xsd:string"/>
                                                                                    <xsd:element name="Code" type="xsd:string"/>
                                                                                    <xsd:element name="User" type="xsd:string"/>
                                                                                    <xsd:element name="Version" type="xsd:string"/>
                                                                                 </xsd:sequence>
                                                                              </xsd:complexType>
                                                                           </xsd:element>
                                                                           <xsd:element name="Value" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="ValueLine" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="TransactionSetPurposeCode" type="xsd:string"/>
                                                <xsd:element name="ContractInformation" type="xsd:string"/>
                                                <xsd:element name="SalesOrderReference">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="ID" type="xsd:string"/>
                                                         <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                         <xsd:element name="ApplicationObjectReference">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                  <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="Carrier">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="ID" type="xsd:string"/>
                                                         <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                         <xsd:element name="ApplicationObjectReference">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                  <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="Attribute1" type="xsd:string"/>
                                                <xsd:element name="Attribute2" type="xsd:string"/>
                                                <xsd:element name="Attribute3" type="xsd:string"/>
                                                <xsd:element name="Attribute4" type="xsd:string"/>
                                                <xsd:element name="Attribute5" type="xsd:string"/>
                                                <xsd:element name="Attribute6" type="xsd:string"/>
                                                <xsd:element name="ShipmentCharge">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="Identification">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="ID" type="xsd:string"/>
                                                                  <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                  <xsd:element name="ApplicationObjectReference">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="Charge">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="TypeCode" type="xsd:string"/>
                                                                  <xsd:element name="ChargeFrequencyCode" type="xsd:string"/>
                                                                  <xsd:element name="BasisAmount" type="xsd:string"/>
                                                                  <xsd:element name="BasisQuantity" type="xsd:string"/>
                                                                  <xsd:element name="Amount" type="xsd:string"/>
                                                                  <xsd:element name="CalculationPercent" type="xsd:string"/>
                                                                  <xsd:element name="Calculation" type="xsd:string"/>
                                                                  <xsd:element name="DiscountAmount" type="xsd:string"/>
                                                                  <xsd:element name="DiscountPercent" type="xsd:string"/>
                                                                  <xsd:element name="ReasonCode" type="xsd:string"/>
                                                                  <xsd:element name="CurrencyExchange" type="xsd:string"/>
                                                                  <xsd:element name="TimePeriod">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="StartDateTime" type="xsd:string"/>
                                                                           <xsd:element name="EndDateTime" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="PrePaidIndicator" type="xsd:string"/>
                                                                  <xsd:element name="Description" type="xsd:string"/>
                                                                  <xsd:element name="UnitListPrice">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="Amount" type="xsd:string"/>
                                                                           <xsd:element name="PerQuantity" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="UnitSalePrice">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="Amount" type="xsd:string"/>
                                                                           <xsd:element name="PerQuantity" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="DiscountMethodCode" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="ShipmentLPN">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="Identification">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="ID" type="xsd:string"/>
                                                                  <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                  <xsd:element name="ApplicationObjectReference">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="ShippedLPN" type="xsd:string"/>
                                                         <xsd:element name="Weight" type="xsd:string"/>
                                                         <xsd:element name="Volume" type="xsd:string"/>
                                                         <xsd:element name="PhysicalPalletFlag" type="xsd:string"/>
                                                         <xsd:element name="Length" type="xsd:string"/>
                                                         <xsd:element name="Width" type="xsd:string"/>
                                                         <xsd:element name="Height" type="xsd:string"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                                <xsd:element name="InitialPickupDate" type="xsd:string"/>
                                                <xsd:element name="StartDate" type="xsd:string"/>
                                                <xsd:element name="EndDate" type="xsd:string"/>
                                                <xsd:element name="EventDate" type="xsd:string"/>
                                                <xsd:element name="EventDateTimeZone" type="xsd:string"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="Custom">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="AdvancedShipmentNoticeValueSet">
                                                   <xsd:complexType>
                                                      <xsd:sequence>
                                                         <xsd:element name="Identification">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="ID" type="xsd:string"/>
                                                                  <xsd:element name="BusinessComponentID" type="xsd:string"/>
                                                                  <xsd:element name="ApplicationObjectReference">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="ApplicationName" type="xsd:string"/>
                                                                           <xsd:element name="ApplicationObjectID" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="Name" type="xsd:string"/>
                                                         <xsd:element name="Description" type="xsd:string"/>
                                                         <xsd:element name="DataTypeCode" type="xsd:string"/>
                                                         <xsd:element name="MinimumValue" type="xsd:string"/>
                                                         <xsd:element name="MaximumValue" type="xsd:string"/>
                                                         <xsd:element name="MinimumLength" type="xsd:string"/>
                                                         <xsd:element name="MaximumLength" type="xsd:string"/>
                                                         <xsd:element name="ValueSetLine">
                                                            <xsd:complexType>
                                                               <xsd:sequence>
                                                                  <xsd:element name="Application">
                                                                     <xsd:complexType>
                                                                        <xsd:sequence>
                                                                           <xsd:element name="Name" type="xsd:string"/>
                                                                           <xsd:element name="Code" type="xsd:string"/>
                                                                           <xsd:element name="User" type="xsd:string"/>
                                                                           <xsd:element name="Version" type="xsd:string"/>
                                                                        </xsd:sequence>
                                                                     </xsd:complexType>
                                                                  </xsd:element>
                                                                  <xsd:element name="Value" type="xsd:string"/>
                                                               </xsd:sequence>
                                                            </xsd:complexType>
                                                         </xsd:element>
                                                         <xsd:element name="ValueLine" type="xsd:string"/>
                                                      </xsd:sequence>
                                                   </xsd:complexType>
                                                </xsd:element>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="AdvancedShipmentNoticeRecordHistory">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="CreationDate" type="xsd:string"/>
                                       <xsd:element name="CreatedBy" type="xsd:string"/>
                                       <xsd:element name="LastUpdateDate" type="xsd:string"/>
                                       <xsd:element name="LastUpdatedBy" type="xsd:string"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>