AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Resources/WSDL/CreateRetailStoreTaskActionWSDL.wsdl

<wsdl:definitions name="CreateRetailStoreProccess" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/CreateRetailStoreProcess/v1.0" xmlns:ret="http://mx.agarcia.ea/Capabilities/Core/RetailStore/CreateRetailStoreProcess/v1.0" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" schemaLocation="../Schema/RetailStoreEntitySchema.xsd"/>
        
            <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
       <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
      </xsd:schema>
    </wsdl:types>
    
    
    <wsdl:message name="createRetailStoreRequest">
        <wsdl:part name="createRetailStoreRequest" element="inp1:createRetailStoreRequest"/>
    </wsdl:message>
    <wsdl:message name="createRetailStoreResponse">
        <wsdl:part name="createRetailStoreResponse" element="inp1:createRetailStoreResponse"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="part1" element="AGSM:messageError"/>
    </wsdl:message>
    <wsdl:message name="headerMessage">
    <wsdl:part name="header" element="AGSH:headerMessage"/>
    </wsdl:message>
    <wsdl:portType name="CreateRetailStorePType">
        <wsdl:operation name="Create">
            <wsdl:input message="ret:createRetailStoreRequest"/>
            <wsdl:output message="ret:createRetailStoreResponse"/>
            <wsdl:fault name="Createfault" message="ret:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CreateRetailStore_Binding" type="ret:CreateRetailStorePType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Create">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/RetailStore/CreateRetailStoreProcess/v1.0/Create"/>
            <wsdl:input>
                <soap:body use="literal" parts="createRetailStoreRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="createRetailStoreResponse"/>
            </wsdl:output>
            <wsdl:fault name="Createfault">
                <soap:fault name="Createfault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>