AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Resources/WSDL/CreateRetailStoreProcessWSDL.wsdl

<wsdl:definitions name="RetailStoreEntitySvc" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/CreateRetailStoreProcess" xmlns:ret="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/CreateRetailStoreProcess" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" schemaLocation="../Schema/RetailStoreEntitySchema.xsd"/>
      <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
      <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CreateRetailStoreRequest">
    <wsdl:part name="CreateRetailStoreRequest" element="inp1:createRetailStoreRequest"/>
  </wsdl:message>
  <wsdl:message name="CreateRetailStoreResponse">
    <wsdl:part name="CreateRetailStoreResponse" element="inp1:createRetailStoreResponse"/>
  </wsdl:message>
  <wsdl:message name="StandardFaultMessage">
    <wsdl:part name="faultMessage" element="AGSM:messageError"/>
  </wsdl:message>
  <wsdl:message name="StandarHeaderMessage">
    <wsdl:part name="headerMessage" element="AGSH:headerMessage"/>
  </wsdl:message>
  <wsdl:portType name="CreateRetailStorePType">
    <wsdl:operation name="create">
      <wsdl:input message="ret:CreateRetailStoreRequest"/>
      <wsdl:output message="ret:CreateRetailStoreResponse"/>
      <wsdl:fault message="ret:StandardFaultMessage" name="fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CreateRetailStoreBinding" type="ret:CreateRetailStorePType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="create">
      <soap:operation style="document" soapAction="http://xmlns.oracle.com/AGSOA/RetailStore/WSDL/JDACreateRetailStoreProcess/create"/>
      <wsdl:input>
        <soap:body use="literal" parts="CreateRetailStoreRequest"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="CreateRetailStoreResponse"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>