AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Resources/WSDL/FindRetailStoreByIdProcess.wsdl

<wsdl:definitions name="FindRetailStoreByIdProcess" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/FindRetailStoreByIdProcess/v1.0" xmlns:ret="http://mx.agarcia.ea/Capabilities/Core/RetailStore/FindRetailStoreByIdProcess/v1.0" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" schemaLocation="../Schema/RetailStoreEntitySchema.xsd"/>
            <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
       <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="findByIdRetailStoreRequest">
        <wsdl:part name="findByIdRetailStoreRequest" element="inp1:findByIdRequest"/>
    </wsdl:message>
    <wsdl:message name="findByIdRetailStoreResponse">
        <wsdl:part name="findByIdRetailStoreResponse" element="inp1:findByIdResponse"/>
    </wsdl:message>
    <wsdl:message name="faultMessage">
        <wsdl:part name="fault" element="AGSM:messageError"/>
    </wsdl:message>
    <wsdl:message name="headerMessage">
        <wsdl:part name="header" element="AGSH:headerMessage"/>
    </wsdl:message>
    <wsdl:portType name="FindByIdRetailStorePType">
        <wsdl:operation name="FindById">
            <wsdl:input message="ret:findByIdRetailStoreRequest"/>
            <wsdl:output message="ret:findByIdRetailStoreResponse"/>
            <wsdl:fault name="fault" message="ret:faultMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FindByIdRetailStore_Binding" type="ret:FindByIdRetailStorePType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="FindById">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/RetailStore/FindRetailStoreByIdProcess/v1.0/FindById"/>
            <wsdl:input>
                <soap:body use="literal" parts="findByIdRetailStoreRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="findByIdRetailStoreResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>