AG_2019/OSB/OSB_PRD_Almacenes/Capabilities/Support/Commons/ItemCatalogEntitySvc/ItemCatalogDataService/Resource/ItemCatalogREST.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/catalogDataServiceDB" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ItemCatalogREST">RestService</doc>
   <grammars>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/catalogDataServiceDB" schemaLocation="../Schema/catalogDataServiceDB_table.xsd"/>
        </schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="POST" soa:wsdlOperation="insert">
            <request>
               <representation mediaType="application/json" element="cns:MdmItemsCatalogsCollection" xmlns:cns="http://xmlns.oracle.com/pcbpel/adapter/db/top/catalogDataServiceDB"/>
            </request>
            <response status="202"/>
         </method>
         <method name="PUT" soa:wsdlOperation="update">
            <request>
               <representation mediaType="application/json" element="cns:MdmItemsCatalogsCollection" xmlns:cns="http://xmlns.oracle.com/pcbpel/adapter/db/top/catalogDataServiceDB"/>
            </request>
            <response status="202"/>
         </method>
         <method name="DELETE" soa:wsdlOperation="delete">
            <request soa:paramElement="pns:MdmItemsCatalogsCollection" xmlns:pns="http://xmlns.oracle.com/pcbpel/adapter/db/top/catalogDataServiceDB">
               <param name="id" style="query" soa:expression="$msg.MdmItemsCatalogsCollection/top:MdmItemsCatalogs/top:id" type="xsd:string"/>
               <param name="appCode" style="query" soa:expression="$msg.MdmItemsCatalogsCollection/top:MdmItemsCatalogs/top:appCode" type="xsd:string"/>
               <param name="name" style="query" soa:expression="$msg.MdmItemsCatalogsCollection/top:MdmItemsCatalogs/top:name" type="xsd:string"/>
               <param name="catalogId" style="query" soa:expression="$msg.MdmItemsCatalogsCollection/top:MdmItemsCatalogs/top:catalogId" type="xsd:long"/>
               <param name="description" style="query" soa:expression="$msg.MdmItemsCatalogsCollection/top:MdmItemsCatalogs/top:description" type="xsd:string"/>
               <param name="parentId" style="query" soa:expression="$msg.MdmItemsCatalogsCollection/top:MdmItemsCatalogs/top:parentId" type="xsd:string"/>
               <param name="parentAppcode" style="query" soa:expression="$msg.MdmItemsCatalogsCollection/top:MdmItemsCatalogs/top:parentAppcode" type="xsd:string"/>
               <param name="primaryId" style="query" soa:expression="$msg.MdmItemsCatalogsCollection/top:MdmItemsCatalogs/top:primaryId" type="xsd:string"/>
               <param name="primaryAppcode" style="query" soa:expression="$msg.MdmItemsCatalogsCollection/top:MdmItemsCatalogs/top:primaryAppcode" type="xsd:string"/>
               <param name="parentCatid" style="query" soa:expression="$msg.MdmItemsCatalogsCollection/top:MdmItemsCatalogs/top:parentCatid" type="xsd:long"/>
               <param name="primaryCatid" style="query" soa:expression="$msg.MdmItemsCatalogsCollection/top:MdmItemsCatalogs/top:primaryCatid" type="xsd:long"/>
            </request>
            <response status="202"/>
         </method>
      </resource>
      <resource path="/id/{id}/appCode/{appCode}/catalogId/{catalogId}/description/{description}/name/{name}/primaryAppCode/{primaryAppCode}/primaryId/{primaryId}">
         <method name="GET" soa:wsdlOperation="catalogDataServiceDBSelect">
            <request soa:paramElement="pns:catalogDataServiceDBSelect_id_appCode_name_catalogId_description_primaryId_primaryAppCodeInputParameters" xmlns:pns="http://xmlns.oracle.com/pcbpel/adapter/db/top/catalogDataServiceDB">
               <param name="id" style="template" soa:expression="$msg.catalogDataServiceDBSelect_inputParameters/top:id" type="xsd:string"/>
               <param name="appCode" style="template" soa:expression="$msg.catalogDataServiceDBSelect_inputParameters/top:appCode" type="xsd:string"/>
               <param name="name" style="template" soa:expression="$msg.catalogDataServiceDBSelect_inputParameters/top:name" type="xsd:string"/>
               <param name="catalogId" style="template" soa:expression="$msg.catalogDataServiceDBSelect_inputParameters/top:catalogId" type="xsd:long"/>
               <param name="description" style="template" soa:expression="$msg.catalogDataServiceDBSelect_inputParameters/top:description" type="xsd:string"/>
               <param name="primaryId" style="template" soa:expression="$msg.catalogDataServiceDBSelect_inputParameters/top:primaryId" type="xsd:string"/>
               <param name="primaryAppCode" style="template" soa:expression="$msg.catalogDataServiceDBSelect_inputParameters/top:primaryAppCode" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:MdmItemsCatalogsCollection" xmlns:cns="http://xmlns.oracle.com/pcbpel/adapter/db/top/catalogDataServiceDB"/>
            </response>
         </method>
      </resource>
   </resources>
</application>