BCIE_fenix/dev/SOA/03-SOA-SERVICES/DominioOperacion/Adquisicion/SOA/WSDLs/wsPortalAdquisiciones_1.wsdl

<?xml version='1.0' encoding='ISO-8859-1'?>
<definitions targetNamespace="urn:bcieBinding" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENV="http://schemas.xmlsoap.org/soap/envelope/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="urn:bcieBinding" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
   <types>
      <xsd:schema targetNamespace="urn:bcieBinding">
         <xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
         <xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
      </xsd:schema>
   </types>
   <message name="add_noticeRequest">
      <part name="id" type="xsd:int"/>
      <part name="awarded" type="xsd:string"/>
      <part name="category" type="xsd:int"/>
      <part name="priority" type="xsd:int"/>
      <part name="country" type="xsd:int"/>
      <part name="date_adjudication" type="xsd:string"/>
      <part name="reception_date" type="xsd:string"/>
      <part name="end_date_sale" type="xsd:string"/>
      <part name="start_date_sale" type="xsd:string"/>
      <part name="process_status" type="xsd:string"/>
      <part name="address" type="xsd:string"/>
      <part name="contractor_name" type="xsd:string"/>
      <part name="contractor_nationality" type="xsd:string"/>
      <part name="documentation_place" type="xsd:string"/>
      <part name="executor" type="xsd:string"/>
      <part name="current_credit_line" type="xsd:string"/>
      <part name="parent_credit_line" type="xsd:string"/>
      <part name="tender" type="xsd:int"/>
      <part name="modality" type="xsd:string"/>
      <part name="modality_description" type="xsd:string"/>
      <part name="notice_type" type="xsd:int"/>
      <part name="process_number" type="xsd:string"/>
      <part name="project" type="xsd:string"/>
      <part name="scope" type="xsd:string"/>
      <part name="title_project" type="xsd:string"/>
      <part name="website" type="xsd:string"/>
      <part name="object" type="xsd:string"/>
      <part name="name" type="xsd:string"/>
      <part name="mount" type="xsd:string"/>
      <part name="focus_area" type="xsd:string"/>
      <part name="token" type="xsd:string"/>
   </message>
   <message name="add_noticeResponse">
      <part name="resultado" type="xsd:string"/>
   </message>
   <message name="add_agreementRequest">
      <part name="id" type="xsd:int"/>
      <part name="Tender" type="xsd:int"/>
      <part name="Country" type="xsd:int"/>
      <part name="Executor" type="xsd:string"/>
      <part name="ProcessTitle" type="xsd:string"/>
      <part name="ProcessNumber" type="xsd:string"/>
      <part name="OffererID" type="xsd:int"/>
      <part name="OffererName" type="xsd:string"/>
      <part name="OffererNationality" type="xsd:int"/>
      <part name="AmountAwarded" type="xsd:string"/>
      <part name="ProcessResult" type="xsd:int"/>
      <part name="DateAdjudication" type="xsd:string"/>
      <part name="RequestNumber" type="xsd:string"/>
      <part name="LineName" type="xsd:string"/>
      <part name="CurrentCreditLine" type="xsd:string"/>
      <part name="ParentCreditLine" type="xsd:string"/>
      <part name="FADM" type="xsd:string"/>
      <part name="Token" type="xsd:string"/>
   </message>
   <message name="add_agreementResponse">
      <part name="resultado" type="xsd:string"/>
   </message>
   <portType name="bciePortType">
      <operation name="add_notice">
         <input message="tns:add_noticeRequest"/>
         <output message="tns:add_noticeResponse"/>
      </operation>
      <operation name="add_agreement">
         <input message="tns:add_agreementRequest"/>
         <output message="tns:add_agreementResponse"/>
      </operation>
   </portType>
   <binding name="bcieBinding" type="tns:bciePortType">
      <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="add_notice">
         <soap:operation style="rpc" soapAction="http://wsbcieadq.galileo.cr/ws/bcie/servicio.php/add_notice"/>
         <input>
            <soap:body use="encoded" namespace="urn:bcieBinding" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:bcieBinding" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
      <operation name="add_agreement">
         <soap:operation style="rpc" soapAction="http://wsbcieadq.galileo.cr/ws/bcie/servicio.php/add_agreement"/>
         <input>
            <soap:body use="encoded" namespace="urn:bcieBinding" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </input>
         <output>
            <soap:body use="encoded" namespace="urn:bcieBinding" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
         </output>
      </operation>
   </binding>
   <service name="bcie">
      <port name="bciePort" binding="tns:bcieBinding">
         <soap:address location="http://wsbcieadq.galileo.cr/ws/bcie/servicio.php"/>
      </port>
   </service>
</definitions>
