BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/Aprobacion/ConsultarAprobacion/XSD/ConsultarAprobacion_LineasCredito.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAprobacion_LineasCredito"
           xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAprobacion_LineasCredito"
           elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConsultarAprobacion_LineasCreditoInput" type="ConsultarAprobacion_LineasCreditoInput"/>
  <xs:complexType name="ConsultarAprobacion_LineasCreditoInput">
    <xs:sequence>
      <xs:element name="idSolicitudAprobacion" type="xs:string" nillable="true"/>
      <xs:element name="idOperacion" type="xs:string" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarAprobacion_LineasCreditoOutputCollection"
              type="ConsultarAprobacion_LineasCreditoOutputCollection"/>
  <xs:complexType name="ConsultarAprobacion_LineasCreditoOutputCollection">
    <xs:sequence>
      <xs:element name="ConsultarAprobacion_LineasCreditoOutput" type="ConsultarAprobacion_LineasCreditoOutput"
                  minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarAprobacion_LineasCreditoOutput">
    <xs:sequence>
      <xs:element name="ID_SOLICITUD_APROB" type="xs:long" nillable="true"/>
      <xs:element name="NUMERO_RESOLUCION" type="xs:string" nillable="true"/>
      <xs:element name="FECHA_APROBACION" type="xs:dateTime" nillable="true"/>
      <xs:element name="RESUMEN" type="xs:string" nillable="true"/>
      <xs:element name="MONTO" type="xs:decimal" nillable="true"/>
      <xs:element name="NUMERO_LINEA_CREDITO" type="xs:string" nillable="true"/>
      <xs:element name="DESCRIPCION_LINEA" type="xs:string" nillable="true"/>
      <xs:element name="MONTO_LINEA" type="xs:decimal" nillable="true"/>
      <xs:element name="ID_LINEA" type="xs:long"/>
      <xs:element name="ID_APROBACION" type="xs:long"/>
      <xs:element name="ID_CONTRATO" type="xs:long"/>
      <xs:element name="ID_TCA_TIPO_MONEDA" type="xs:long"/>
      <xs:element name="MONEDA_APROBACION" type="xs:long"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>