AG_2019/SOA/JDAUpdateUPCProcess/SOA/WSDLs/JDAUpdateUPCProcess.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="JDAUpdateUPCProcess" targetNamespace="http://xmlns.oracle.com/JDAUpdateUPCApp/JDAUpdateUPCProcess/JDAUpdateUPCProcess" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://xmlns.oracle.com/JDAUpdateUPCApp/JDAUpdateUPCProcess/JDAUpdateUPCProcess" xmlns:ns1="http://mx.agarcia.ea/Capabilities/Core/Items/UpdateItemEntity/Schema/UpdateUPCSchema" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://mx.agarcia.ea/Capabilities/Core/Items/UpdateItemEntity/Schema/UpdateUPCSchema" schemaLocation="../Schemas/UpdateUPCSchema.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="JDAUpdateUPCProcessRequestMessage">
      <wsdl:part name="payload" element="ns1:updateItemUPCRequest"/>
   </wsdl:message>
   <wsdl:message name="JDAUpdateUPCProcessResponseMessage">
      <wsdl:part name="payload" element="ns1:updateItemUPCResponse"/>
   </wsdl:message>
   <wsdl:portType name="JDAUpdateUPCProcess">
      <wsdl:operation name="process">
         <wsdl:input message="client:JDAUpdateUPCProcessRequestMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:portType name="JDAUpdateUPCProcessCallback">
      <wsdl:operation name="processResponse">
         <wsdl:input message="client:JDAUpdateUPCProcessResponseMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <plnk:partnerLinkType name="JDAUpdateUPCProcess">
      <plnk:role name="JDAUpdateUPCProcessProvider" portType="client:JDAUpdateUPCProcess"/>
      <plnk:role name="JDAUpdateUPCProcessRequester" portType="client:JDAUpdateUPCProcessCallback"/>
   </plnk:partnerLinkType>
   <wsdl:binding name="JDAUpdateUPCProcessBinding" type="client:JDAUpdateUPCProcess">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="process">
         <soap:operation style="document" soapAction="http://xmlns.oracle.com/JDAUpdateUPCApp/JDAUpdateUPCProcess/JDAUpdateUPCProcess/process"/>
         <wsdl:input>
            <soap:body use="literal" parts="payload"/>
         </wsdl:input>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
