AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ResponseProtosAdapterService/MetaData/Components/EnterpriseObjectLibrary/EBO/File/FileEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/File" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/File" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom">
  <!-- ====================================================================== -->
  <!-- =====                    Imports                                 ===== -->
  <!-- ====================================================================== -->
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Common" schemaLocation="../../Common/CommonComponents.xsd"/>
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Custom" schemaLocation="../../Custom/EBO/CustomFileEBO.xsd"/>
  <!-- ===================================================================== -->
  <!-- ============================  File EBO =============================== -->
  <!-- ====================================================================== -->
  <xsd:element name="FileEBO" type="FileEBOType"/>
  <xsd:complexType name="FileEBOType">
    <xsd:complexContent>
      <xsd:extension base="com:DocumentType">
        <xsd:sequence>
          <xsd:element name="Custom" minOccurs="0" type="cust:CustomFileEBOType"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>