BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/MatrizTCC/ConsultarEnmiendasTCCByIdOperacion/XSD/ConsultarEnmiendasTCCByIdOperacion_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ConsultarEnmiendasTCCByIdOperacion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ConsultarEnmiendasTCCByIdOperacion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="EnmiendaTccCollection" type="EnmiendaTccCollection"/>
   <xs:complexType name="EnmiendaTccCollection">
      <xs:sequence>
         <xs:element name="EnmiendaTcc" type="EnmiendaTcc" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EnmiendaTcc">
      <xs:sequence>
         <xs:element name="id" type="xs:long"/>
         <xs:element name="idOperacion" type="xs:long" minOccurs="0"/>
         <xs:element name="instanciaProceso" type="string255" minOccurs="0"/>
         <xs:element name="requiereOgc" type="xs:int" minOccurs="0"/>
         <xs:element name="requiereAsjur" type="xs:int" minOccurs="0"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
         <xs:element name="banderaFormalizacion" type="xs:int" minOccurs="0"/>
          <xs:element name="requiereCOF" type="xs:int" minOccurs="0"/>
          <xs:element name="esDesobligacion" type="xs:int" minOccurs="0"/>
          <xs:element name="esCambioPlazo" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarEnmiendasTCCByIdOperacionSelect_idOperacionInputParameters" type="ConsultarEnmiendasTCCByIdOperacionSelect_idOperacion"/>
   <xs:complexType name="ConsultarEnmiendasTCCByIdOperacionSelect_idOperacion">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:long" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string255">
      <xs:restriction base="xs:string">
         <xs:maxLength value="255"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>