BCIE_fenix/features/MCP/5003/ADF-BPM/bpm/PC04Aprobacion/PC04AprobacionProcess/SOA/WSDLs/AprobacionCCProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionCCProcess" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionCCProcess"  xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Aprobacion/Payload/V1"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionCCProcess">
            <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Aprobacion/Payload/V1" schemaLocation="oramds:/apps/Resources/BPM/Schema/PC04/AprobacionPayload.xsd"/>
            <xsd:element name="FinalizaAprobacionCCResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:AprobacionPayload"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="InicioAprobacionCC">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:AprobacionPayload"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="FinalizaAprobacionCCResponse">
        <wsdl:part name="parameters" element="tns:FinalizaAprobacionCCResponse"/>
    </wsdl:message>
    <wsdl:message name="InicioAprobacionCC">
        <wsdl:part name="parameters" element="tns:InicioAprobacionCC"/>
    </wsdl:message>
    <wsdl:portType name="AprobacionCCProcessPortTypeCallBack">
        <wsdl:operation name="FinalizaAprobacionCC">
            <wsdl:input message="tns:FinalizaAprobacionCCResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="AprobacionCCProcessPortType">
        <wsdl:operation name="InicioAprobacionCC">
            <wsdl:input message="tns:InicioAprobacionCC"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="AprobacionCCProcessPortTypePartnerLinkType">
        <plnk:role name="AprobacionCCProcessPortTypeProvider">
            <plnk:portType name="tns:AprobacionCCProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
