BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Operacion/V1/Wsdl/Operacion.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="Operacion" targetNamespace="http://xmlns.bcie.com/OperacionService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:operMO="http://www.bcie.org/OperacionMO"
                  xmlns:tns="http://xmlns.bcie.com/OperacionService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:desMO="http://www.bcie.org/DesembolsoMO">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/OperacionMO" schemaLocation="../Schema/OperacionMO.xsd"/>
    </xsd:schema>
    <xsd:schema>
      <xsd:import namespace="http://www.bcie.org/DesembolsoMO"
                  schemaLocation="../../../../DominioDesembolso/Desembolso/V1/Schema/DesembolsoMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <!-- Create -->
  <wsdl:message name="requestCrearOperacionMessage">
    <wsdl:part name="request" element="operMO:CrearOperacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseCrearOperacionMessage">
    <wsdl:part name="response" element="operMO:CrearOperacionResponse"/>
  </wsdl:message>
  <wsdl:message name="requestCrearOperacionAsociadaMessage">
    <wsdl:part name="request" element="operMO:CrearOperacionAsociadaRequest"/>
  </wsdl:message>
  <wsdl:message name="responseCrearOperacionAsociadaMessage">
    <wsdl:part name="response" element="operMO:CrearOperacionAsociadaResponse"/>
  </wsdl:message>
  <wsdl:message name="requestCrearCuestionarioMessage">
    <wsdl:part name="request" element="operMO:CrearCuestionarioRequest"/>
  </wsdl:message>
  <wsdl:message name="responseCrearCuestionarioMessage">
    <wsdl:part name="response" element="operMO:CrearCuestionarioResponse"/>
  </wsdl:message>
  <!-- Read -->
  <wsdl:message name="requestConsultarOperacionesMessageByIdOperacion">
    <wsdl:part name="request" element="operMO:ConsultarOperacionByIdOperacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarOperacionMessage">
    <wsdl:part name="response" element="operMO:ConsultarOperacionResponse"/>
  </wsdl:message>
  <!-- Update -->
  <wsdl:message name="requestActualizarOperacionMessage">
    <wsdl:part name="request" element="operMO:ActualizarOperacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseActualizarOperacionMessage">
    <wsdl:part name="response" element="operMO:ActualizarOperacionResponse"/>
  </wsdl:message>
  <wsdl:message name="requestReactivarOperacionMessage">
    <wsdl:part name="request" element="operMO:ReactivarOperacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseReactivarOperacionMessage">
    <wsdl:part name="response" element="operMO:ReactivarOperacionResponse"/>
  </wsdl:message>
  <!-- Delete -->
  <wsdl:message name="requestEliminarOperacionMessage">
    <wsdl:part name="request" element="operMO:EliminarOperacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseEliminarOperacionMessage">
    <wsdl:part name="response" element="operMO:EliminarOperacionResponse"/>
  </wsdl:message>
  <wsdl:message name="requestPropagarSCRyTIRMessage">
    <wsdl:part name="request" element="operMO:PropagarSCRyTIRRequest"/>
  </wsdl:message>
  <wsdl:message name="responsePropagarSCRyTIRMessage">
    <wsdl:part name="response" element="operMO:PropagarSCRyTIRResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConsultarOperacionByIdMessage">
    <wsdl:part name="request" element="operMO:ConsultarOperacionByIdOperacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarOperacionByIdMessage">
    <wsdl:part name="response" element="operMO:ConsultarOperacionResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConsultarComisionesNoPagadasBPELMessage">
    <wsdl:part name="request" element="desMO:ConsultarComisionesNoCobradasBPELRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarComisionesNoPagadasBPELMessage">
    <wsdl:part name="response" element="desMO:ConsultarComisionesNoCobradasBPELResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConsultarSaldoOperacionMessage">
    <wsdl:part name="request" element="operMO:ConsultarSaldoOperacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarSaldoOperacionMessage">
    <wsdl:part name="response" element="operMO:ConsultarSoloOperacionResponse"/>
  </wsdl:message>
  <wsdl:message name="requestObtenerFactibilidadMessage">
    <wsdl:part name="request" element="operMO:ObtenerFactibilidadRequest"/>
  </wsdl:message>
  <wsdl:message name="responseObtenerFactibilidadMessage">
    <wsdl:part name="response" element="operMO:ObtenerFactibilidadResponse"/>
  </wsdl:message>
  <wsdl:message name="requestMessage">
    <wsdl:part name="AplicarEnvioCobroRequestMessage" element="operMO:AplicarEnvioCobroRequest"/>
  </wsdl:message>
  <wsdl:message name="replyMessage">
    <wsdl:part name="AplicarEnvioCobroResponseMessage" element="operMO:AplicarEnvioCobroResponse"/>
  </wsdl:message>
  
  <wsdl:message name="requestConsultarLimitesOperacion">
    <wsdl:part name="request" element="operMO:ConsultarLimitesOperacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarLimitesOperacion">
    <wsdl:part name="response" element="operMO:ConsultarLimitesOperacionResponse"/>
  </wsdl:message>

  
  <wsdl:message name="requestValidarInicioFormalizacion">
    <wsdl:part name="request" element="operMO:ValidarInicioFormalizacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseValidarInicioFormalizacion">
    <wsdl:part name="response" element="operMO:ValidarInicioFormalizacionResponse"/>
  </wsdl:message>
  
  
  <wsdl:portType name="Operacion12Port">
    <!-- Create -->
    <wsdl:operation name="crearOperacion">
      <wsdl:documentation>Registrar una Operacion</wsdl:documentation>
      <wsdl:input message="tns:requestCrearOperacionMessage"/>
      <wsdl:output message="tns:responseCrearOperacionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="crearOperacionAsociada">
      <wsdl:documentation>Registrar una operacion asociada</wsdl:documentation>
      <wsdl:input message="tns:requestCrearOperacionAsociadaMessage"/>
      <wsdl:output message="tns:responseCrearOperacionAsociadaMessage"/>
    </wsdl:operation>
    <!-- Read -->
    <wsdl:operation name="consultarOperacionByIdOperacion">
      <wsdl:documentation>Consulta uno Operacion por id del Operacion</wsdl:documentation>
      <wsdl:input message="tns:requestConsultarOperacionesMessageByIdOperacion"/>
      <wsdl:output message="tns:responseConsultarOperacionMessage"/>
    </wsdl:operation>
    <!-- Update -->
    <wsdl:operation name="actualizarOperacion">
      <wsdl:documentation>Actualiza una Operación</wsdl:documentation>
      <wsdl:input message="tns:requestActualizarOperacionMessage"/>
      <wsdl:output message="tns:responseActualizarOperacionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="reactivarOperacion">
      <wsdl:documentation>Reactiva la Operación y la lanza el proceso en el cual quedó al momento de suspender</wsdl:documentation>
      <wsdl:input message="tns:requestReactivarOperacionMessage"/>
      <wsdl:output message="tns:responseReactivarOperacionMessage"/>
    </wsdl:operation>
    <!-- Delete -->
    <wsdl:operation name="eliminarOperacion">
      <wsdl:documentation>Eliminar una operacion</wsdl:documentation>
      <wsdl:input message="tns:requestEliminarOperacionMessage"/>
      <wsdl:output message="tns:responseEliminarOperacionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="propagarScrtir">
      <wsdl:documentation>Propagar a EVAL y REP la TIR y el SCR</wsdl:documentation>
      <wsdl:input message="tns:requestPropagarSCRyTIRMessage"/>
      <wsdl:output message="tns:responsePropagarSCRyTIRMessage"/>
    </wsdl:operation>
    <wsdl:operation name="crearCuestionario">
      <wsdl:documentation>Crear cuestionario</wsdl:documentation>
      <wsdl:input message="tns:requestCrearCuestionarioMessage"/>
      <wsdl:output message="tns:responseCrearCuestionarioMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarComisionesNoPagadas">
      <wsdl:documentation>Consultar comisiones no pagadas</wsdl:documentation>
      <wsdl:input message="tns:requestConsultarComisionesNoPagadasBPELMessage"/>
      <wsdl:output message="tns:responseConsultarComisionesNoPagadasBPELMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarSaldo">
      <wsdl:documentation>Consultar saldo por operacion</wsdl:documentation>
      <wsdl:input message="tns:requestConsultarSaldoOperacionMessage"/>
      <wsdl:output message="tns:responseConsultarSaldoOperacionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="obtenerFactibilidad">
      <wsdl:documentation>Aplica la factibilidad a la operacion</wsdl:documentation>
      <wsdl:input message="tns:requestObtenerFactibilidadMessage"/>
      <wsdl:output message="tns:responseObtenerFactibilidadMessage"/>
    </wsdl:operation>
    <wsdl:operation name="AplicarEnvioCobro">
      <wsdl:input message="tns:requestMessage"/>
      <wsdl:output message="tns:replyMessage"/>
    </wsdl:operation>
    
    <wsdl:operation name="ConsultarLimitesOperacion">
      <wsdl:input message="tns:requestConsultarLimitesOperacion"/>
      <wsdl:output message="tns:responseConsultarLimitesOperacion"/>
    </wsdl:operation>
    
    <wsdl:operation name="ValidarInicioFormalizacion">
    <wsdl:documentation>Valida el inicio automatico de formalizacion</wsdl:documentation>
      <wsdl:input message="tns:requestValidarInicioFormalizacion"/>
      <wsdl:output message="tns:responseValidarInicioFormalizacion"/>
    </wsdl:operation>
    <wsdl:operation name="ValidarLimitesExposicion">
      <wsdl:input message="tns:requestValidarLimitesOperacion"/>
      <wsdl:output message="tns:responseValidarLimitesOperacion"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Operacion12Bnd" type="tns:Operacion12Port">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearOperacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/OperacionService/crearOperacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearOperacionAsociada">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/OperacionService/crearOperacionAsociada"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarOperacionByIdOperacion">
      <soap12:operation style="document"
                        soapAction="http://xmlns.bcie.com/OperacionService/consultarOperacionByIdOperacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarOperacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/OperacionService/actualizarOperacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="reactivarOperacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/OperacionService/reactivarOperacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarOperacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/OperacionService/eliminarOperacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="propagarScrtir">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/OperacionService/propagarSCRyTIR"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearCuestionario">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/OperacionService/crearCuestionario"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarComisionesNoPagadas">
      <soap12:operation style="document"
                        soapAction="http://xmlns.bcie.com/OperacionService/ConsultarComisionesNoPagadas"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarSaldo">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/OperacionService/ConsultarSaldo"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerFactibilidad">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/OperacionService/obtenerFactibilidad"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AplicarEnvioCobro">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/OperacionService/AplicarEnvioCobro" />
      <wsdl:input>
        <soap12:body use="literal"  parts="AplicarEnvioCobroRequestMessage"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"  parts="AplicarEnvioCobroResponseMessage"/>
      </wsdl:output>
      </wsdl:operation>
      
    <wsdl:operation name="ValidarInicioFormalizacion">
      <soap12:operation soapAction="http://xmlns.bcie.com/OperacionService/ValidarInicioFormalizacion"/>
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarLimitesOperacion">
      <soap12:operation soapAction="http://xmlns.bcie.com/OperacionService/ConsultarLimietesOperacion"/>
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ValidarLimitesExposicion">
      <soap12:operation soapAction="http://xmlns.bcie.com/OperacionService/ValidarLimitesExposicion"/>
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="requestValidarLimitesOperacion">
    <wsdl:part name="request" element="operMO:ValidarLimitesExposicionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseValidarLimitesOperacion">
    <wsdl:part name="response" element="operMO:ValidarLimitesExposicionResponse"/>
  </wsdl:message>
  <wsdl:service name="Operacion12BndQSService">
    <wsdl:port name="Operacion12BndQSPort" binding="tns:Operacion12Bnd">
        <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>  
</wsdl:definitions>
