Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFAcctLoan/AcctLoanAgreeAdd/AcctLoanAgreeAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAgreeAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctLoanAgreeInq="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAgreeAdd_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="AcctLoanAgreeAddRq" type="appoptAcctLoanAgreeInq:AcctLoanAgreeAddRq_Type"/>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoanAgreeRec">
		<xs:sequence>
			<xs:element name="AcctLoan" type="appoptAcctLoanAgreeInq:Acct" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditAcctData">
		<xs:annotation>
			<xs:documentation>Credit Account Data.

Used to maintain and retrieve data specific to credit products. Could have one register per CurrencyCode</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="APCObs" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Observaciones APC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Mantenimiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryDestination" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>País de Riesgo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditDestination" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Destino del credito</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundsDestination" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Destino de fondos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundsPurpose" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uso de los fondos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrefRateExpDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de vencimiento tasa preferencial</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurposeDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Propósito del financiamiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefinanceDate" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de refinanciamiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefinanceNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número préstamo refinanciado</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de reestructuración</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número préstamo reestructurado</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RevResDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha revisión reestructuracion</xs:documentation>
				</xs:annotation>
			</xs:element>
   <xs:element name="SourceSales" minOccurs="0" maxOccurs="1" type="appoptcommon:CommonType"/>
   <xs:element name="StatusAdmin" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Estado administrativo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Agreement" type="appoptAcctLoanAgreeInq:Agreement" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CreditAcctPmtInfo" type="appoptAcctLoanAgreeInq:CreditAcctPmtInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Acct">
		<xs:annotation>
			<xs:documentation>Account Information Aggregate. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AutonomyCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Autonomias</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutonomyUser" type="xs:string" minOccurs="1" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Usuario que registro la autonomia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditAcctData" type="appoptAcctLoanAgreeInq:CreditAcctData" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AcctKey" type="appoptAcctLoanAgreeInq:AcctKey" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoanAgreeAddRs_Type">
		<xs:sequence>
			<xs:element name="AcctLoanAgreeRec" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence minOccurs="1" maxOccurs="1">
						<xs:element name="Acct" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:sequence>
									<xs:element name="AcctKey" type="appoptAcctLoanAgreeInq:AcctKey" minOccurs="1" maxOccurs="1"/>
									<xs:element name="CredicAcctData" minOccurs="0" maxOccurs="1">
										<xs:complexType>
											<xs:sequence>
												<xs:element name="Agreement" minOccurs="0" maxOccurs="1">
													<xs:complexType>
														<xs:sequence>
															<xs:element name="AgreementId" type="xs:string" minOccurs="0" maxOccurs="1"/>
														</xs:sequence>
													</xs:complexType>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Agreement">
		<xs:annotation>
			<xs:documentation>Agreement info.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgreementType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agreement Type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreatedDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date the agreement was created.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DueDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Due date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FulfillmentDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fulfillment date.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctLoanAgreeAddRs" type="appoptAcctLoanAgreeInq:AcctLoanAgreeAddRs_Type"/>
	<xs:complexType name="AcctLoanAgreeAddRq_Type">
		<xs:sequence>
			<xs:element name="AcctLoanAgreeRec" type="appoptAcctLoanAgreeInq:AcctLoanAgreeRec" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditAcctPmtInfo">
		<xs:sequence>
			<xs:element name="PmtMethod" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Forma de pago</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
