BCIE_fenix/features/MCP/7705/ADF-BPM/bpm/PC01Elegibilidad/PC01ElegibilidadProcess/SOA/Schemas/HT07DeterminarElegibilidadPayload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/bpel/workflow/task" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.bcie.org/ObjetoProceso/Elegibilidad/Payload/V1" xmlns:tns="http://xmlns.oracle.com/bpel/workflow/task" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<complexType name="HT07DeterminarElegibilidadPayloadType">
		<sequence>
			<element name="encargadoOperacion" type="xsd:string"/>
			<element name="managerResponsable" type="xsd:string"/>
			<element ref="ns0:ElegibilidadPayload"/>
		</sequence>
	</complexType>
	<import namespace="http://xmlns.bcie.org/ObjetoProceso/Elegibilidad/Payload/V1" schemaLocation="oramds:/apps/Resources/BPM/Schema/PC01/ElegibilidadPayload.xsd"/>
</schema>
