Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/TechLayer/Common/AuditAddSvc_V1.0.wsdl

<wsdl:definitions name="CommonSvc_V1.0"
                  targetNamespace="http://xmlns.banesco.com/TechLayer/Common/AuditAddSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/TechLayer/Common/AuditAddSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
                  xmlns:eoMsgHdr="http://xmlns.banesco.com/eo/MsgHdr_V1.0"
                  xmlns:eoptAuditAdd="http://xmlns.banesco.com/eopt/AuditAdd_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import namespace="http://xmlns.banesco.com/eo/MsgHdr_V1.0"
                  schemaLocation="../../../xsd/EO/Common/MsgHdr_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/eopt/AuditAdd_V1.0"
                  schemaLocation="../../../xsd/EOpt/Common/AuditAdd/AuditAdd_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="BusinessFault">
    <wsdl:part name="BusinessFault" element="eoStatus:BusinessFault"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="AuditAddRq">
    <wsdl:part name="AuditAddRq" element="eoptAuditAdd:AuditAddRq"/>
  </wsdl:message>
  <wsdl:message name="AuditAddRs">
    <wsdl:part name="AuditAddRs" element="eoStatus:Status"/>
  </wsdl:message>
  
  <wsdl:portType name="AuditAddSvcPortType">
    <wsdl:operation name="AuditAdd">
      <wsdl:input message="tns:AuditAddRq"/>
      <wsdl:output message="tns:AuditAddRs"/>
      <wsdl:fault name="BusinessFault" message="tns:BusinessFault"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="AuditAddSvcSOAPBinding" type="tns:AuditAddSvcPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AuditAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/CommonSvc_V1.0/AuditAdd"/>
      <wsdl:input>
        <soap:body use="literal" parts="AuditAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="AuditAddRs"/>
      </wsdl:output>
      <wsdl:fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </wsdl:fault>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="AuditAddSvc_V1.0">
    <wsdl:port name="CommonSvcPort" binding="tns:AuditAddSvcSOAPBinding">
      <soap:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>

</wsdl:definitions>