Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/TechLayer/Common/UtilityTechSvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/TechLayer/UtilityTechSvc_V1.0"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.banesco.com/TechLayer/UtilityTechSvc_V1.0"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptTrnPmtInq="http://xmlns.banesco.com/eopt/TrnPmtInq_V1.0"
             xmlns:eoptPmtSessionInq="http://xmlns.banesco.com/eopt/PmtSessionInq_V1.0"
             xmlns:eoptPartyOnlineBankInq="http://xmlns.banesco.com/eopt/PartyOnlineBankInq_V1.0"
             xmlns:eoptChannelTrnAudHistAdd="http://xmlns.banesco.com/eopt/ChannelTrnAudHistAdd_V1.0"
             xmlns:eoptOnlineBankTrnAddAdvise="http://xmlns.banesco.com/eopt/OnlineBankTrnAddAdvise_V1.0"
             xmlns:eoptAdminOnlineBankAddAdvise="http://xmlns.banesco.com/eopt/AdminOnlineBankAddAdvise_V1.0"
             xmlns:eoptChannelTrnAudHistInq="http://xmlns.banesco.com/eopt/ChannelTrnAudHistInq_V1.0"
             xmlns:eoptAlertEmailAdv="http://xmlns.banesco.com/eopt/AlertEmailAdv_V1.0"
             xmlns:eoptAlertSmsQuanticAdv="http://xmlns.banesco.com/eopt/AlertSmsQuanticAdv_V1.0"
             xmlns:eoptAlertSmsTTextoAdv="http://xmlns.banesco.com/eopt/AlertSmsTTextoAdv_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Utility/TrnPmtInq/TrnPmtInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/TrnPmtInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Utility/PmtSessionInq/PmtSessionInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PmtSessionInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Utility/PartyOnlineBankInq/PartyOnlineBankInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PartyOnlineBankInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Utility/ChannelTrnAudHistAdd/ChannelTrnAudHistAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/ChannelTrnAudHistAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Utility/OnlineBankTrnAddAdvise/OnlineBankTrnAddAdvise_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/OnlineBankTrnAddAdvise_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Utility/AdminOnlineBankAddAdvise/AdminOnlineBankAddAdvise_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AdminOnlineBankAddAdvise_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Utility/ChannelTrnAudHistInq/ChannelTrnAudHistInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/ChannelTrnAudHistInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Utility/AlertEmailAdv/AlertEmailAdv_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AlertEmailAdv_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Utility/AlertSmsQuanticAdv/AlertSmsQuanticAdv_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AlertSmsQuanticAdv_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Utility/AlertSmsTTextoAdv/AlertSmsTTextoAdv_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AlertSmsTTextoAdv_V1.0"/>
    </xsd:schema>
  </types>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="TrnPmtInqRq">
    <part name="TrnPmtInqRq" element="eoptTrnPmtInq:TrnPmtInqRq"/>
  </message>
  <message name="TrnPmtInqRs">
    <part name="TrnPmtInqRs" element="eoptTrnPmtInq:TrnPmtInqRs"/>
  </message>
  <message name="PmtSessionInqRq">
    <part name="PmtSessionInqRq" element="eoptPmtSessionInq:PmtSessionInqRq"/>
  </message>
  <message name="PmtSessionInqRs">
    <part name="PmtSessionInqRs" element="eoptPmtSessionInq:PmtSessionInqRs"/>
  </message>
  <message name="PartyOnlineBankInqRq">
    <part name="PartyOnlineBankInqRq" element="eoptPartyOnlineBankInq:PartyOnlineBankInqRq"/>
  </message>
  <message name="PartyOnlineBankInqRs">
    <part name="PartyOnlineBankInqRs" element="eoptPartyOnlineBankInq:PartyOnlineBankInqRs"/>
  </message>
  <message name="ChannelTrnAudHistAddRq">
    <part name="ChannelTrnAudHistAddRq" element="eoptChannelTrnAudHistAdd:ChannelTrnAudHistAddRq"/>
  </message>
  <message name="ChannelTrnAudHistAddRs">
    <part name="ChannelTrnAudHistAddRs" element="eoptChannelTrnAudHistAdd:ChannelTrnAudHistAddRs"/>
  </message>
  <message name="OnlineBankTrnAddAdviseRq">
    <part name="OnlineBankTrnAddAdviseRq" element="eoptOnlineBankTrnAddAdvise:OnlineBankTrnAddAdviseRq"/>
  </message>
  <message name="OnlineBankTrnAddAdviseRs">
    <part name="OnlineBankTrnAddAdviseRs" element="eoptOnlineBankTrnAddAdvise:OnlineBankTrnAddAdviseRs"/>
  </message>
  <message name="AdminOnlineBankAddAdviseRq">
    <part name="AdminOnlineBankAddAdviseRq" element="eoptAdminOnlineBankAddAdvise:AdminOnlineBankAddAdviseRq"/>
  </message>
  <message name="AdminOnlineBankAddAdviseRs">
    <part name="AdminOnlineBankAddAdviseRs" element="eoptAdminOnlineBankAddAdvise:AdminOnlineBankAddAdviseRs"/>
  </message>
  <message name="ChannelTrnAudHistInqRq">
    <part name="ChannelTrnAudHistInqRq" element="eoptChannelTrnAudHistInq:ChannelTrnAudHistInqRq"/>
  </message>
  <message name="ChannelTrnAudHistInqRs">
    <part name="ChannelTrnAudHistInqRs" element="eoptChannelTrnAudHistInq:ChannelTrnAudHistInqRs"/>
  </message>
  <message name="AlertEmailAdvRq">
    <part name="AlertEmailAdvRq" element="eoptAlertEmailAdv:AlertEmailAdvRq"/>
  </message>
  <message name="AlertEmailAdvRs">
    <part name="AlertEmailAdvRs" element="eoptAlertEmailAdv:AlertEmailAdvRs"/>
  </message>
  <message name="AlertSmsQuanticAdvRq">
    <part name="AlertSmsQuanticAdvRq" element="eoptAlertSmsQuanticAdv:AlertSmsQuanticAdvRq"/>
  </message>
  <message name="AlertSmsQuanticAdvRs">
    <part name="AlertSmsQuanticAdvRs" element="eoptAlertSmsQuanticAdv:AlertSmsQuanticAdvRs"/>
  </message>
  <message name="AlertSmsTTextoAdvRq">
    <part name="AlertSmsTTextoAdvRq" element="eoptAlertSmsTTextoAdv:AlertSmsTTextoAdvRq"/>
  </message>
  <message name="AlertSmsTTextoAdvRs">
    <part name="AlertSmsTTextoAdvRs" element="eoptAlertSmsTTextoAdv:AlertSmsTTextoAdvRs"/>
  </message>
  <portType name="UtilityTechSvc_V1.0PortType">
    <operation name="TrnPmtInq">
      <input message="tns:TrnPmtInqRq"/>
      <output message="tns:TrnPmtInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="PmtSessionInq">
      <input message="tns:PmtSessionInqRq"/>
      <output message="tns:PmtSessionInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="PartyOnlineBankInq">
      <input message="tns:PartyOnlineBankInqRq"/>
      <output message="tns:PartyOnlineBankInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="ChannelTrnAudHistAdd">
      <input message="tns:ChannelTrnAudHistAddRq"/>
      <output message="tns:ChannelTrnAudHistAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="OnlineBankTrnAddAdvise">
      <input message="tns:OnlineBankTrnAddAdviseRq"/>
      <output message="tns:OnlineBankTrnAddAdviseRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AdminOnlineBankAddAdvise">
      <input message="tns:AdminOnlineBankAddAdviseRq"/>
      <output message="tns:AdminOnlineBankAddAdviseRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="ChannelTrnAudHistInq">
      <input message="tns:ChannelTrnAudHistInqRq"/>
      <output message="tns:ChannelTrnAudHistInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AlertEmailAdv">
      <input message="tns:AlertEmailAdvRq"/>
      <output message="tns:AlertEmailAdvRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AlertSmsQuanticAdv">
      <input message="tns:AlertSmsQuanticAdvRq"/>
      <output message="tns:AlertSmsQuanticAdvRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AlertSmsTTextoAdv">
      <input message="tns:AlertSmsTTextoAdvRq"/>
      <output message="tns:AlertSmsTTextoAdvRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
  </portType>
  <service name="UtilityTechSvc_V1.0">
    <port name="UtilityTechSvcPort" binding="tns:UtilityTechSvc_V1.0SOAPBinding">
      <soap:address location="http://www.example.com"/>
    </port>
  </service>
  <binding name="UtilityTechSvc_V1.0SOAPBinding" type="tns:UtilityTechSvc_V1.0PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="TrnPmtInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/UtilityTechSvc_V1.0/TrnPmtInq"/>
      <input>
        <soap:body use="literal" parts="TrnPmtInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="TrnPmtInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PmtSessionInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/UtilityTechSvc_V1.0/PmtSessionInq"/>
      <input>
        <soap:body use="literal" parts="PmtSessionInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PmtSessionInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PartyOnlineBankInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/UtilityTechSvc_V1.0/PartyOnlineBankInq"/>
      <input>
        <soap:body use="literal" parts="PartyOnlineBankInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PartyOnlineBankInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="ChannelTrnAudHistAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/UtilityTechSvc_V1.0/ChannelTrnAudHistAdd"/>
      <input>
        <soap:body use="literal" parts="ChannelTrnAudHistAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="ChannelTrnAudHistAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="OnlineBankTrnAddAdvise">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/UtilityTechSvc_V1.0/OnlineBankTrnAddAdvise"/>
      <input>
        <soap:body use="literal" parts="OnlineBankTrnAddAdviseRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="OnlineBankTrnAddAdviseRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AdminOnlineBankAddAdvise">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/UtilityTechSvc_V1.0/AdminOnlineBankAddAdvise"/>
      <input>
        <soap:body use="literal" parts="AdminOnlineBankAddAdviseRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AdminOnlineBankAddAdviseRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="ChannelTrnAudHistInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/UtilityTechSvc_V1.0/ChannelTrnAudHistInq"/>
      <input>
        <soap:body use="literal" parts="ChannelTrnAudHistInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="ChannelTrnAudHistInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AlertEmailAdv">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/UtilityTechSvc_V1.0/AlertEmailAdv"/>
      <input>
        <soap:body use="literal" parts="AlertEmailAdvRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AlertEmailAdvRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AlertSmsQuanticAdv">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/UtilityTechSvc_V1.0/AlertSmsQuanticAdv"/>
      <input>
        <soap:body use="literal" parts="AlertSmsQuanticAdvRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AlertSmsQuanticAdvRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AlertSmsTTextoAdv">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/UtilityTechSvc_V1.0/AlertSmsTTextoAdv"/>
      <input>
        <soap:body use="literal" parts="AlertSmsTTextoAdvRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AlertSmsTTextoAdvRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
</definitions>