BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/CANALES/ConsultarVotaciones/Votaciones/Wsdl/ConsultarVotaciones.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSB_BCIE/CANALES/ConsultarVotaciones" xmlns:ns0="http://www.bcie.org/ConsultarVotacionesMO" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ConsultarVotaciones">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.bcie.org/ConsultarVotacionesMO" schemaLocation="../../../../MDS/Canales/Votacion/ConsultarVotaciones/V1/Schema/ConsultarVotacionesMO.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.bcie.org/ConsultarVotaciones" schemaLocation="../XSD/ConsultarVotacionesBO_JSON.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="ConsultarVotaciones">
            <request>
               <param name="Usuario" style="query" soa:expression="$msg.request/ns0:Usuario" default="" type="xsd:string"/>
               <param name="historial" style="query" soa:expression="$msg.request/ns0:historial" default="" type="xsd:string"/>
               <param name="aprobacionCliente" style="query" soa:expression="$msg.request/ns0:aprobacionCliente" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:ConsultarVotaciones" xmlns:cns="http://www.bcie.org/ConsultarVotaciones"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
