BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Contrato/ConsultarCuentas/XSD/ConsultarCuentas.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarCuentas" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarCuentas" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarCuentasInput" type="ConsultarCuentasInput"/>
   <xs:complexType name="ConsultarCuentasInput">
      <xs:sequence>
         <xs:element name="P_CLIENTE" type="xs:string" nillable="true"/>
         <xs:element name="tipoMoneda" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarCuentasOutputCollection" type="ConsultarCuentasOutputCollection"/>
   <xs:complexType name="ConsultarCuentasOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarCuentasOutput" type="ConsultarCuentasOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarCuentasOutput">
      <xs:sequence>
         <xs:element name="CUST_AC_NO" type="xs:string" nillable="true"/>
         <xs:element name="CUST_NO" type="xs:string" nillable="true"/>
         <xs:element name="CURRENCY" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>