BCIE_fenix/features/MCP/7705/SOA/03-SOA-SERVICES/DominioOperacion/AdquisicionesWeb/SOA/Schemas/dbFNXLI_table.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbFNXLI" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/dbFNXLI" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="FnxVAdquisicionCollection" type="FnxVAdquisicionCollection"/>
   <xs:complexType name="FnxVAdquisicionCollection">
      <xs:sequence>
         <xs:element name="FnxVAdquisicion" type="FnxVAdquisicion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FnxVAdquisicion">
      <xs:sequence>
         <xs:element name="codigoLicitacion" type="xs:long"/>
         <xs:element name="lineaCredito" type="string4000" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="dbFNXLISelect_NumeroOperacionVar_NumeroProcesoVar_TituloProcesoVarInputParameters" type="dbFNXLISelect_NumeroOperacionVar_NumeroProcesoVar_TituloProcesoVar"/>
   <xs:complexType name="dbFNXLISelect_NumeroOperacionVar_NumeroProcesoVar_TituloProcesoVar">
      <xs:sequence>
         <xs:element name="NumeroOperacionVar" type="xs:string" minOccurs="1" maxOccurs="1"/>
         <xs:element name="NumeroProcesoVar" type="xs:string" minOccurs="1" maxOccurs="1"/>
         <xs:element name="TituloProcesoVar" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string4000">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4000"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
