BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ValidarEstadoFlexcube/V1/Schema/ValidarEstadoFlexcubeMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ValidarEstadoFlexcubeMO"
            targetNamespace="http://www.bcie.org/ValidarEstadoFlexcubeMO" elementFormDefault="qualified"
            xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="ValidarEstadoFlexcubeRequest" type="ValidarEstadoFlexcubeRequestType"/>
  <xsd:element name="ValidarEstadoFlexcubeResponse" type="ValidarEstadoFlexcubeResponseType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ValidarEstadoFlexcubeRequestType">
    <xsd:sequence/>
  </xsd:complexType>
  <xsd:complexType name="ValidarEstadoFlexcubeResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
