Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Account/AcctCondMobilAdd/AcctCondMobilAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctCondMobilAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcctCondMobilAdd="http://xmlns.banesco.com/eopt/AcctCondMobilAdd_V1.0" xmlns:eoSignGrp="http://xmlns.banesco.com/eo/SignatureGrp_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/SignatureGrp_V1.0" schemaLocation="../../../EO/Acct/SignatureGrp_V1.0.xsd"/>
	<xs:complexType name="AcctCondMobilAddRs_Type">
		<xs:sequence>
			<xs:element name="Mandate" type="eoSignGrp:Mandate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctCondMobilAddRs" type="eoptAcctCondMobilAdd:AcctCondMobilAddRs_Type"/>
	<xs:element name="AcctCondMobilAddRq" type="eoptAcctCondMobilAdd:AcctCondMobilAddRq_Type"/>
	<xs:complexType name="AcctCondMobilAddRq_Type">
		<xs:sequence>
			<xs:element name="Mandate" type="eoSignGrp:Mandate" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
