BCIE_fenix/qa/ADF-BPM/bpm/PA09Adquisicion/PA09AdquisicionProcessUITest/SOA/Schemas/Adquisicion/V1/AdquisicionPayload.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:adquisicion="http://xmlns.bcie.org/ObjetoProceso/Adquisicion/Payload/V1" 
xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" 
targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Adquisicion/Payload/V1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="../../Comun/Header/V1/HeaderOPN.xsd"/>
	<xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" schemaLocation="../../Comun/Parameter/V1/ParameterOPN.xsd"/>
	<xs:element name="AdquisicionPayload" type="adquisicion:AdquisicionPayloadType">
		<xs:annotation>
			<xs:documentation>Elemento que define los campos de entrada para el proceso alterno de Adquisicion</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="AdquisicionErrorPayload" type="adquisicion:AdquisicionErrorPayloadType"/>
	<xs:complexType name="AdquisicionPayloadType">
		<xs:sequence>
			<xs:element name="Header" type="header:Header"/>
			<xs:element name="ConfigGateways" type="adquisicion:ConfigGatewaysType"/>
			<xs:element name="numeroAdquisicion" type="xs:long" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tipoNoObjecion" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="idNoObjecion" type="xs:long" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="idAdquisicion" type="xs:long" minOccurs="0" maxOccurs="1"/>
			<xs:element name="adquisicionPrevia" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Equipo" type="adquisicion:EquipoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EquipoEjecucion" type="adquisicion:EquipoType" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConfigGatewaysType">
		<xs:sequence>
			<xs:element name="requiereASJUR" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereOficialAdquisicion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereAnalistaSupervision" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereMasInfoASJUR" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereMasInfoAdquisicion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereMasInfoSupervision" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requierePublicacion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AdquisicionErrorPayloadType">
		<xs:sequence>
			<xs:element name="Header" type="header:Header"/>
			<xs:element name="ConfigGateways" type="adquisicion:ConfigGatewaysType"/>
			<xs:element name="numeroAdquisicion" type="xs:long" minOccurs="0" maxOccurs="1"/>
			<xs:element name="tipoNoObjecion" type="xs:string" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="idNoObjecion" type="xs:long" minOccurs="0" maxOccurs="1"/>
                        <xs:element name="idAdquisicion" type="xs:long" minOccurs="0" maxOccurs="1"/>
			<xs:element name="adquisicionPrevia" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Equipo" type="adquisicion:EquipoType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EquipoEjecucion" type="adquisicion:EquipoType" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EquipoType">
		<xs:sequence>
			<xs:element name="abogado" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="oficialAdquisicion" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="analistaSupervision" type="xs:string" minOccurs="0" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>
</xs:schema>
