Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBCardCr/CardCrTransferAdd/CardCrTransferAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrTransferAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptCardCrTransferAdd="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrTransferAdd_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>Party is a person or organization. A Party typically has some association with an account and fulfills roles such as:

a primary or partial ownership/responsibility for an account
a beneficiary of an account
has signatory authorization on an account
has legal authorization, such as power of attorney, for an account
A Party can have relationships to accounts, cards and other parties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyKey" type="appoptCardCrTransferAdd:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardKey">
		<xs:annotation>
			<xs:documentation>The Card Object supports the services related to Issuing, Management, and Servicing of Credit, Debit, Prepaid and Private Label cards.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardNum" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Número asignado a la tarjeta de crédito.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Agency">
		<xs:annotation>
			<xs:documentation>Agency Especification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgencyIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agencia o sucursal donde se realiza la operación</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardCrTransferAddRs_Type">
		<xs:sequence>
			<xs:element name="FIData" type="appoptCardCrTransferAdd:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Party" type="appoptCardCrTransferAdd:Party" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Trn" type="appoptCardCrTransferAdd:Trn" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardCrTransferAddRs" type="appoptCardCrTransferAdd:CardCrTransferAddRs_Type"/>
	<xs:complexType name="FIData">
		<xs:annotation>
			<xs:documentation>The Financial Institution Data Aggregate contains additional information used to identify a bank, typically when used for payment transfers, payee requests, and wire transfers. It is required in CHE, DEU, and ITA to completely identify an account. Sufficient information must be provided within this aggregate to uniquely identify the bank at which the account is held. Failure to do so will result in an error being returned from the server.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FIIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de la Institución financiera que hace la solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Agency" type="appoptCardCrTransferAdd:Agency" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardCrTransferAddRq" type="appoptCardCrTransferAdd:CardCrTransferAddRq_Type"/>
	<xs:complexType name="Trn">
		<xs:sequence>
			<xs:element name="CardKey" type="appoptCardCrTransferAdd:CardKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código del cliente asignado por T24.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardCrTransferAddRq_Type">
		<xs:sequence>
			<xs:element name="Trn">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>The Trn object supports the inquiry of transaction data for all financial transactions of an account.</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="TotalCurAmt" type="appoptCardCrTransferAdd:CurAmt" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Monto de la operación. El mismo incluye el impuesto cuando el servicio lo amerite.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="CardKey" type="appoptCardCrTransferAdd:CardKey" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Biller" type="appoptCardCrTransferAdd:Biller" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FIData" type="appoptCardCrTransferAdd:FIData" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyKey" type="appoptCardCrTransferAdd:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CurAmt">
		<xs:annotation>
			<xs:documentation>Currency Amount.

All monetary amounts in the IFX Specification are handled with the Currency Amount data type. When included, this data type contains a decimal value for the amount, an optional currency code.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amt" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Biller">
		<xs:annotation>
			<xs:documentation>Biller information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BillerId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código del facturador. No será un campo de entrada mandatorio en el “web service”. Si se tiene se enviará sino se enviará nulo. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del facturador ó descripción de la transacción. Vendrá de la siguiente manera: “Pago Cable and Wireless”, “Recarga ENA” etc. Así mismo debe colocarse en el estado de cuenta.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
