BCIE_fenix/preprod/SOA/09-OSB-FLEXCUBE/ADAPTADORES/Proveedores/FLEXCUBE14/DominioCliente/ActualizarCliente/XSD/actualizarCliente_DB_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/actualizarCliente_DB" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/actualizarCliente_DB" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PRECCLIENTE" type="db:INTERFLEX.CLIENTE_TYPE" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PVUSUARIO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_RESULTADO" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="TIPO_RESULTADO" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="MENSAJE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="INTERFLEX.CLIENTE_TYPE">
      <sequence>
         <element name="EJECUTIVO" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RAZON_SOCIAL" type="db:string105" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ABREVIATURA" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_IDENTIFICACION" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="IDENTIFICACION" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="GRUPO_EMPRESARIAL" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_PERSONA" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_INSTITUCION" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SECTOR_INSTITUCIONAL" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACTIVIDAD_ECONOMICA" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EJE_ESTRATEGICO" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DIRECCION" type="db:string1000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PAIS" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CIUDAD" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TELEFONO" type="db:string105" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FAX" type="db:string105" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EMAIL" type="db:string225" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DIA_DE_PAGO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CLIENTE_PADRE" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PUESTO" type="db:string105" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_RELACION" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BIC_CODE" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_CLIENTE" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OVERALL_LIMIT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RATING" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AUTORIZADO" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
   <simpleType name="string105">
      <restriction base="string">
         <maxLength value="105"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
   <simpleType name="string1000">
      <restriction base="string">
         <maxLength value="1000"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string225">
      <restriction base="string">
         <maxLength value="225"/>
      </restriction>
   </simpleType>
   <simpleType name="string12">
      <restriction base="string">
         <maxLength value="12"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
</schema>
