AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/StoreAbroadSOAApp/Resources/QueryStoreAbroadRmsDbReference.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/QueryStoreAbroadRmsDbReference" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/QueryStoreAbroadRmsDbReference" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="QueryStoreAbroadRmsDbReferenceInput" type="QueryStoreAbroadRmsDbReferenceInput"/>
   <xs:complexType name="QueryStoreAbroadRmsDbReferenceInput">
      <xs:sequence>
         <xs:element name="storeParam" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="QueryStoreAbroadRmsDbReferenceOutputCollection" type="QueryStoreAbroadRmsDbReferenceOutputCollection"/>
   <xs:complexType name="QueryStoreAbroadRmsDbReferenceOutputCollection">
      <xs:sequence>
         <xs:element name="QueryStoreAbroadRmsDbReferenceOutput" type="QueryStoreAbroadRmsDbReferenceOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="QueryStoreAbroadRmsDbReferenceOutput">
      <xs:sequence>
         <xs:element name="EXPORTER_NO" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>