Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Account/AcctSignatureGrpAdd/AcctSignatureGrpAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctSignatureGrpAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcctSignGrpAdd="http://xmlns.banesco.com/eopt/AcctSignatureGrpAdd_V1.0" xmlns:eoSignGrp="http://xmlns.banesco.com/eo/SignatureGrp_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/SignatureGrp_V1.0" schemaLocation="../../../EO/Acct/SignatureGrp_V1.0.xsd"/>
	<xs:complexType name="AcctSignatureGrpAddRq_Type">
		<xs:sequence>
			<xs:element name="SignatureGrp" type="eoSignGrp:SignatureGrp" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Signature Group</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctSignatureGrpAddRs_Type">
		<xs:sequence>
			<xs:element name="SignatureGrpKey" type="eoSignGrp:SignatureGrpKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Signature Group</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctSignatureGrpAddRq" type="eoptAcctSignGrpAdd:AcctSignatureGrpAddRq_Type"/>
	<xs:element name="AcctSignatureGrpAddRs" type="eoptAcctSignGrpAdd:AcctSignatureGrpAddRs_Type"/>
</xs:schema>
