Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/IVRAcctAppSvc/IVRAcctAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="IVRAcctAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/IVRAcctAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/IVRAcctAppSvc_V1.0"
                  xmlns:appoptAcctInq="http://xmlns.banesco.com/appopt/IVRAcctAppSvc/AcctInq_V1.0"
				  xmlns:appoptAcctInfoInq="http://xmlns.banesco.com/appopt/IVRAcctAppSvc/AcctInfoInq_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/IVRAcctAppSvc/AcctInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/IVRAcct/AcctInq/AcctInq_V1.0.xsd"/>
	  <xsd:import namespace="http://xmlns.banesco.com/appopt/IVRAcctAppSvc/AcctInfoInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/IVRAcct/AcctInfoInq/AcctInfoInq_V1.0.xsd"/>				  
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="AcctInqRq">
    <wsdl:part name="AcctInqRq" element="appoptAcctInq:AcctInqRq"/>
  </wsdl:message>
  <wsdl:message name="AcctInqRs">
    <wsdl:part name="AcctInqRs" element="appoptAcctInq:AcctInqRs"/>
  </wsdl:message>
  <wsdl:message name="AcctInfoInqRq">
    <wsdl:part name="AcctInfoInqRq" element="appoptAcctInfoInq:AcctInfoInqRq"/>
  </wsdl:message>
  <wsdl:message name="AcctInfoInqRs">
    <wsdl:part name="AcctInfoInqRs" element="appoptAcctInfoInq:AcctInfoInqRs"/>
  </wsdl:message>
  
  <wsdl:portType name="IVRAcctAppSvcPort">
    <wsdl:operation name="AcctInq">
      <wsdl:input message="tns:AcctInqRq"/>
      <wsdl:output message="tns:AcctInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
	<wsdl:operation name="AcctInfoInq">
      <wsdl:input message="tns:AcctInfoInqRq"/>
      <wsdl:output message="tns:AcctInfoInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="IVRAcctAppSvcBindingSOAP11" type="tns:IVRAcctAppSvcPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="AcctInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/IVRAcctAppSvc_V1.0/AcctInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
	<wsdl:operation name="AcctInfoInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/IVRAcctAppSvc_V1.0/AcctInfoInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AcctInfoInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AcctInfoInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="IVRAcctAppSvc_V1.0">
    <wsdl:port name="IVRAcctAppSvc_V1.0" binding="tns:IVRAcctAppSvcBindingSOAP11">
      <soap:address location="http:localhost" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
