BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Pregunta/V1/Wsdl/Pregunta.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions name="Pregunta" targetNamespace="http://xmlns.bcie.com/PreguntaService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:pregMO="http://www.bcie.org/PreguntaMO"
                  xmlns:tns="http://xmlns.bcie.com/PreguntaService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/PreguntaMO" schemaLocation="../Schema/PreguntaMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <!-- Pregunta -->
  <wsdl:message name="requestConsultarPreguntasMessage">
    <wsdl:part name="request" element="pregMO:ConsultarPreguntasRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarPreguntasMessage">
    <wsdl:part name="response" element="pregMO:ConsultarPreguntasResponse"/>
  </wsdl:message>
  <wsdl:message name="requestActualizarPreguntaMessage">
    <wsdl:part name="request" element="pregMO:ActualizarPreguntaRequest"/>
  </wsdl:message>
  <wsdl:message name="responseActualizarPreguntaMessage">
    <wsdl:part name="response" element="pregMO:ActualizarPreguntaResponse"/>
  </wsdl:message>
 
  
  <wsdl:message name="requestInsertarPreguntaMessage">
    <wsdl:part name="request" element="pregMO:InsertarPreguntaRequest"/>
  </wsdl:message>
  <wsdl:message name="responstInsertarPreguntaMessage">
    <wsdl:part name="response" element="pregMO:InsertarPreguntaResponse"/>
  </wsdl:message>
  <wsdl:portType name="PreguntaPT">
    <wsdl:operation name="actualizarPregunta">
      <wsdl:input message="tns:requestActualizarPreguntaMessage"/>
      <wsdl:output message="tns:responseActualizarPreguntaMessage"/>
    </wsdl:operation>
    
    <wsdl:operation name="insertarPregunta">
      <wsdl:input message="tns:requestInsertarPreguntaMessage"/>
      <wsdl:output message="tns:responstInsertarPreguntaMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarPreguntas">
      <wsdl:input message="tns:requestConsultarPreguntasMessage"/>
      <wsdl:output message="tns:responseConsultarPreguntasMessage"/>
    </wsdl:operation>
    <wsdl:operation name="eliminarPregunta">
      <wsdl:input message="tns:requestEliminarPregunta"/>
      <wsdl:output message="tns:responseEliminarPregunta"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:message name="requestEliminarPregunta">
    <wsdl:part name="request" element="pregMO:EliminarPreguntaRequest"/>
  </wsdl:message>
  <wsdl:message name="responseEliminarPregunta">
    <wsdl:part name="response" element="pregMO:EliminarPreguntaResponse"/>
  </wsdl:message>
  <wsdl:binding name="ConsultarPreguntaSOAP12Binding" type="tns:PreguntaPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="actualizarPregunta">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/PreguntaService/ActualizarPregunta"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
   
    <wsdl:operation name="insertarPregunta">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/PreguntaService/InsertarPregunta"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarPreguntas">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/PreguntaService/consultarPregunta"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarPregunta">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/PreguntaService/EliminarPregunta"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>