AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/EBO/DownloadInventoryItem/DownloadInventoryItemEBM.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/DownloadInventoryItem" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/DownloadInventoryItem" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <xsd:import schemaLocation="../../Common/CommonComponents.xsd" namespace="http://www.agarcia.mx/EnterpriseObjects/Common"/>
  <xsd:include schemaLocation="DownloadInventoryItemEBO.xsd"/>
  <xsd:element name="DownloadInventoryItemEBM" type="DownloadInventoryItemEBMType"/>
  <xsd:element name="DownloadInventoryItemResponse" type="com:ResponseType"/>
  <xsd:element name="ProcessDownloadInventoryItemEBM" type="DownloadInventoryItemEBMType"/>
  <xsd:element name="CreateDownloadInventoryItemEBM" type="DownloadInventoryItemEBMType"/>
  <xsd:complexType name="DownloadInventoryItemEBMType">
    <xsd:sequence>
      <xsd:element name="header" type="com:HeaderType"/>
      <xsd:element name="dataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="DownloadInventoryItemEBO" type="DownloadInventoryItemEBOType"/>
            <xsd:element name="HistoryReference" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>