AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/EBO/DownloadInventoryItem/PutFtpEbmToFile.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:tns="http://www.agarcia.mx/EnterpriseObjects/DownloadInventoryItem" targetNamespace="http://www.agarcia.mx/EnterpriseObjects/DownloadInventoryItem" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="UTF-8">


  <xsd:element name="Root-Element">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded" nxsd:choiceCondition="fixedLength" nxsd:length="5">
        <xsd:element name="FHEAD" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="FHEAD">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="FileTypeID" type="xsd:string" nxsd:style="fixedLength" nxsd:length="5"/>
              <xsd:element name="FileCreateDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="FTAIL" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="FTAIL">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="TransactionLines" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TDETL" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="TDETL">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Lineid" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="Item" type="xsd:string" nxsd:style="fixedLength" nxsd:length="25" nxsd:padStyle="tail" nxsd:paddedBy=" " />
              <xsd:element name="UPC" type="xsd:string" nxsd:style="fixedLength" nxsd:length="25"/>
              <xsd:element name="Description" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120"/>
              <xsd:element name="Snapshot_on_hand_qty" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="Snapshot_in_transit_qty" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
              <xsd:element name="Snapshot_unit_cost" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
              <xsd:element name="Snapshot_unit_retail" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="THEAD" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="THEAD">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="LockoutDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="Stocktakedate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="Cyclecount" type="xsd:string" nxsd:style="fixedLength" nxsd:length="8"/>
              <xsd:element name="LocationType" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="Location" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="TTAIL" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="TTAIL">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="Lineid" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="Lines" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=stkschedxpld.dat</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>