Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Party/EmpPartyInq/EmpPartyInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/EmpPartyInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptEmpPartyInq="http://xmlns.banesco.com/eopt/EmpPartyInq_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:element name="EmpPartyInqRq_Type" type="eoptEmpPartyInq:EmpPartyInqRq_Type"/>
	<xs:complexType name="EmpPartyInqRq_Type">
		<xs:sequence>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto PartyKey que contiene información de identificación del usuario a consultar.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EmpPartyInqRs_Type" type="eoptEmpPartyInq:EmpPartyInqRs_Type"/>
	<xs:complexType name="EmpPartyInqRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Party" type="eoPar:Party" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Party que contiene información de los datos del usuario consultado.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="EmpPartyInqRq" type="eoptEmpPartyInq:EmpPartyInqRq_Type"/>
	<xs:element name="EmpPartyInqRs" type="eoptEmpPartyInq:EmpPartyInqRs_Type"/>
</xs:schema>
