BCIE_fenix/features/MCP/6389/SOA/03-SOA-SERVICES/DominioOperacion/AdquisicionesWeb/SOA/Schemas/ContratoBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ContratoBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:conBO="http://www.bcie.org/CondicionBO" xmlns:terBO="http://www.bcie.org/TerminoBO" xmlns:comBO="http://www.bcie.org/ComisionBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" targetNamespace="http://www.bcie.org/ContratoBO" elementFormDefault="qualified">
   <xsd:import namespace="http://www.bcie.org/TerminoBO" schemaLocation="TerminoBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/CondicionBO" schemaLocation="CondicionBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/ComisionBO" schemaLocation="ComisionBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="CatalogoBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/LineaCreditoBO" schemaLocation="LineaCreditoBO.xsd"/>
   <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="OperacionBO.xsd"/>
   <xsd:complexType name="Contrato">
      <xsd:sequence>
         <xsd:element name="idContrato" type="xsd:int"/>
         <xsd:element name="idOperacion" type="operBO:idOperacion"/>
         <xsd:element name="fechaFirma" type="xsd:date"/>
         <xsd:element name="fechaVigencia" type="xsd:date"/>
         <xsd:element name="MontoEscriturado" type="xsd:decimal"/>
         <xsd:element name="cuentaCliente" type="Cuentas"/>
         <xsd:element name="instanciaProceso" type="xsd:string"/>
         <xsd:element name="LineaCredito" type="linCreBO:LineaCredito" minOccurs="1" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Cuentas">
      <xsd:sequence>
         <xsd:element name="cuentaCliente" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
