BCIE_fenix/features/MCP/6389/SOA/03-SOA-SERVICES/DominioOperacion/AdquisicionesWeb/SOA/Schemas/DeclaracionJuradaBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bcie.org/DeclaracionJuradaBO" elementFormDefault="qualified" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:djBO="http://www.bcie.org/DeclaracionJuradaBO">
   <xsd:import schemaLocation="CatalogoBO.xsd" namespace="http://www.bcie.org/CatalogoBO"/>
   <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="OperacionBO.xsd"/>
   <xsd:simpleType name="idDeclaracion">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:totalDigits value="12"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:simpleType name="codigoExternoDeclaracion">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:totalDigits value="12"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="EstadoDeclaracion">
      <xsd:sequence>
         <xsd:element type="xsd:int" name="codigoEstadoDeclaracion" minOccurs="0" maxOccurs="1"/>
         <xsd:element type="xsd:string" name="nombreEstadoDeclaracion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="EstadoNoObjecion" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="nombreEstadoNoObjecion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="EstadoBusqueda">
      <xsd:sequence>
         <xsd:element type="xsd:int" name="codigoEstadoBusqueda" minOccurs="0" maxOccurs="1"/>
         <xsd:element type="xsd:string" name="nombreEstadoBusqueda" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CalificacionDeRiesgo">
      <xsd:sequence>
         <xsd:element type="xsd:int" name="codigoCalificacionDeRiesgo" minOccurs="0" maxOccurs="1"/>
         <xsd:element type="xsd:string" name="nombreCalificacionDeRiesgo" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="Justificacion">
      <xsd:sequence>
         <xsd:element name="justificacionDeclaracion" type="xsd:string"/>
         <xsd:element name="justificacionBusqueda" type="xsd:string"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="DeclaracionJurada">
      <xsd:sequence>
         <xsd:element name="idDeclaracion" type="djBO:idDeclaracion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="codigoExternoDeclaracion" type="djBO:codigoExternoDeclaracion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="titulo" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="estadoDeclaracion" type="djBO:EstadoDeclaracion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="estadoBusqueda" type="djBO:EstadoBusqueda" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="calificacionDeRiesgo" type="djBO:CalificacionDeRiesgo" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="fechaRegistro" type="xsd:date" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="fechaFirmaDeclaracion" type="xsd:date" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="fechaVencimiento" type="xsd:date" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="comentarioDeclaracion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="comentarioBusqueda" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="elevarAOtraInstancia" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="tipoOrigen" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="tipoSeguimiento" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="instanciaProceso" type="xsd:string" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="esSoloLectura" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="status" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
