AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/AppointmentAPP/AppointmentService/Resources/WSDLs/AppointmentService.wsdl

<wsdl:definitions name="AppointmentService" targetNamespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService" xmlns:tns="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService" xmlns:inp1="http://www.agarcia.mx/EnterpriseObjects/Appointment" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Appointment" schemaLocation="../../../../MetaData/Components/EnterpriseObjectLibrary/EBO/Appointments/AppointmentEBM.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <!--messages crear -->
    <wsdl:message name="requestMessage">
        <wsdl:part name="part1" element="inp1:ProccesAppointmentEBM"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part1" element="inp1:ProccesAppointmentResponseAcknowledgeEBM"/>
    </wsdl:message>
    
    <!--messages UpdateHdr -->
    <wsdl:message name="requestMessageUpdate">
        <wsdl:part name="part1" element="inp1:ProccesAppointmentEBM"/>
    </wsdl:message>
    <wsdl:message name="replyMessageUpdate">
        <wsdl:part name="part1" element="inp1:ProccesAppointmentResponseAcknowledgeEBM"/>
    </wsdl:message>
    
     <!--messages delete -->
    <wsdl:message name="requestMessageDelete">
        <wsdl:part name="part1" element="inp1:ProccesAppointmentEBM"/>
    </wsdl:message>
    <wsdl:message name="replyMessageDelete">
        <wsdl:part name="part1" element="inp1:ProccesAppointmentResponseAcknowledgeEBM"/>
    </wsdl:message>
    
    <wsdl:portType name="createappt_ptt">
    
        <wsdl:operation name="createappt">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="updateappt">
            <wsdl:input message="tns:requestMessageUpdate"/>
            <wsdl:output message="tns:replyMessageUpdate"/>
        </wsdl:operation>
        
        <wsdl:operation name="deleteappt">
            <wsdl:input message="tns:requestMessageDelete"/>
            <wsdl:output message="tns:replyMessageDelete"/>
        </wsdl:operation>
        
    </wsdl:portType>
    
    <wsdl:binding name="execute_bind" type="tns:createappt_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="createappt">
            <soap:operation style="document" soapAction="createappt"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="updateappt">
            <soap:operation style="document" soapAction="updateappt"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="deleteappt">
            <soap:operation style="document" soapAction="deleteappt"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
    
    
   
   <!-- 
    <wsdl:portType name="updateappt_ptt">
        <wsdl:operation name="updateappt">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="execute_bind2" type="tns:updateappt_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="updateappt">
            <soap:operation style="document" soapAction="updateappt"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:portType name="deleteappt_ptt">
        <wsdl:operation name="deleteappt">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="execute_bind3" type="tns:deleteappt_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="deleteappt">
            <soap:operation style="document" soapAction="updateappt"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    -->
    
</wsdl:definitions>