AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Applications/RetailMerchandising/RMS/RMSCostChange/Resources/CostChangeFindDetailsByIDBS_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CostChangeFindDetailsByIDBS" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CostChangeFindDetailsByIDBS" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="CostSuspSupHeadCollection" type="CostSuspSupHeadCollection"/>
   <xs:complexType name="CostSuspSupHeadCollection">
      <xs:sequence>
         <xs:element name="CostSuspSupHead" type="CostSuspSupHead" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CostSuspSupHead">
      <xs:sequence>
         <xs:element name="costChange" type="xs:int"/>
         <xs:element name="costChangeDesc" type="string120" minOccurs="0"/>
         <xs:element name="reason" type="xs:int" minOccurs="0"/>
         <xs:element name="activeDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="status" type="string1" minOccurs="0"/>
         <xs:element name="costChangeOrigin" type="string3" minOccurs="0"/>
         <xs:element name="createDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="createId" type="string30" minOccurs="0"/>
         <xs:element name="approvalDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="approvalId" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="ItemSuppliers" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="CostSuspSupDetail" type="CostSuspSupDetail" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CostSuspSupDetail">
      <xs:sequence>
         <xs:element name="supplier" type="xs:long"/>
         <xs:element name="originCountryId" type="string3" minOccurs="0"/>
         <xs:element name="item" type="string25"/>
         <xs:element name="bracketValue1" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="bracketUom1" type="string4" minOccurs="0" nillable="true"/>
         <xs:element name="bracketValue2" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="unitCost" type="xs:decimal" minOccurs="0"/>
         <xs:element name="costChangeType" type="string2" minOccurs="0" nillable="true"/>
         <xs:element name="costChangeValue" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="recalcOrdInd" type="string1" minOccurs="0"/>
         <xs:element name="defaultBracketInd" type="string1" minOccurs="0"/>
         <xs:element name="dept" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="supDeptSeqNo" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="deliveryCountryId" type="string3" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="CostChangeFindDetailsByIDBSSelect_pCostChangeIdInputParameters" type="CostChangeFindDetailsByIDBSSelect_pCostChangeId"/>
   <xs:complexType name="CostChangeFindDetailsByIDBSSelect_pCostChangeId">
      <xs:sequence>
         <xs:element name="pCostChangeId" type="xs:int" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string3">
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string25">
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string4">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string2">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>