AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Applications/RetailMerchandising/RMS/RMSCostChange/Resources/RMSCostChangeFindDetailsWSDL.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Applications/RetailMerchandising/RMS/CostChange/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://mx.agarcia.ea/Applications/RetailMerchandising/RMS/CostChange/v1.0" xmlns:ns1="http://mx.agarcia.ea/Applications/RetailMerchandising/RMS/CostChange" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://mx.agarcia.ea/Applications/RetailMerchandising/RMS/CostChange" schemaLocation="../Schema/RMSCostChangeSchema.xsd.xsd"/>
                        <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
                        <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
		</schema>
	</wsdl:types>

     
	<wsdl:message name="findCostChangeRMSDetailsEventRequestMessage">
		<wsdl:part name="payload" element="ns1:findCostChangeEventDetailsRequest"/>
	</wsdl:message>

	<wsdl:message name="findCostChangeRMSDetailsEventResponseMessage">
		<wsdl:part name="payload" element="ns1:findCostChangeEventDetailsResponse"/>
	</wsdl:message>

        <wsdl:message name="standardMessageHeader">
		<wsdl:part name="header" element="AGSH:headerMessage"/>
	</wsdl:message>

        <wsdl:message name="standardMessageHeaderResponse">
		<wsdl:part name="headerRes" element="AGSM:messageResponse"/>
	</wsdl:message>

        <wsdl:message name="standardMessageFault">
    <wsdl:part name="fault" element="AGSM:messageError"/>
  </wsdl:message>
  
  
	<wsdl:portType name="findCostChangeRMSDetailsPort">
		<wsdl:operation name="findCostChangeRMSDetails">
			<wsdl:input message="client:findCostChangeRMSDetailsEventRequestMessage"/>
			<wsdl:output message="client:findCostChangeRMSDetailsEventResponseMessage"/>
                        <wsdl:fault message="client:standardMessageFault" name="fault"/>
		</wsdl:operation>
	</wsdl:portType>

 <wsdl:binding name="findCostChangeRMSDetailsBinding" type="client:findCostChangeRMSDetailsPort">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="findCostChangeRMSDetails">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Applications/RetailMerchandising/RMS/CostChange/v1.0/findRMSDetails"/>
   <wsdl:input>
    <soap:body use="literal" parts="payload"/>
    <soap:header message="client:standardMessageHeader" part="header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="payload"/>
   </wsdl:output>
   <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
   
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>