Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFAcctLoan/AcctLoanPrLetterAdd/AcctLoanPrLetterAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanPrLetterAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctLoanPrLetterAdd="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanPrLetterAdd_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="AcctLoanPrLetterAddRq" type="appoptAcctLoanPrLetterAdd:AcctLoanPrLetterAddRq_Type"/>
	<xs:element name="AcctLoanPrLetterAddRs" type="appoptAcctLoanPrLetterAdd:AcctLoanPrLetterAddRs_Type"/>
	<xs:complexType name="Acct">
		<xs:sequence>
			<xs:element name="Activity" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Actividad</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Category" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Categoria</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The CurrencyCode is used to express Currency codes and the authoritative source that defines them.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditAcctData" type="appoptAcctLoanPrLetterAdd:CreditAcctData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctMember" type="appoptAcctLoanPrLetterAdd:AcctMember" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoanPrLetterAddRq_Type">
		<xs:sequence>
			<xs:element name="Acct" type="appoptAcctLoanPrLetterAdd:Acct" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoanPrLetterAddRs_Type">
		<xs:sequence>
			<xs:element name="AcctMember" type="appoptAcctLoanPrLetterAdd:AcctMember" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PromiseLetter" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PrLetterAlternateId" type="xs:string" minOccurs="0" maxOccurs="1"/>
						<xs:element name="PrLetterId" type="xs:string" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctMember">
		<xs:sequence>
			<xs:element name="PartyKey" type="appoptAcctLoanPrLetterAdd:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditAcctData">
		<xs:annotation>
			<xs:documentation>Credit Account Data.

Used to maintain and retrieve data specific to credit products. Could have one register per CurrencyCode</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CountryDestination" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>País de destino de los fondos.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PromiseLetter" type="appoptAcctLoanPrLetterAdd:PromiseLetter" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:sequence>
			<xs:element name="PartyKey" type="appoptAcctLoanPrLetterAdd:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party Type.

Value: Person or Org.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PromiseLetter">
		<xs:sequence>
			<xs:element name="AdditionalInfo" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Additional information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdvExpiryDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the actual expiry date of promise letter. Must be less than or equal to Maturity date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutoExpiry" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>indica si la carta se vencera en la fecha indicada en MaturityDT.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeneficiaryCust" type="appoptAcctLoanPrLetterAdd:PartyKey" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Identifier of any customer beneficiary of the promise letter (if the beneficiary is a bank customer).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeneficiaryName" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Beneficiary Name of the promise letter (if the beneficiary is not  bank customer).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Values: 
CA: Contingent Assets
CL: Contingent Liabilities
MA: Memo Assets
ML: Memo Liablities </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerReferenceId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>promise letter additional identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DealSubType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Guarantee Type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date on which the terms of the contract were agreed by the parties concerned</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EventsProcessing" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Events Processing. Values: End of Day, Online. Enviar Online por defecto.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LimitRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifier used to generate the credit line number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiquidationMode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Values:  None, Automatic, Manual, Semi-automatic (Send automatic for dafault)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaturityDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This field represents the final maturity date of the promise letter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Promise letter origination date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrincipalAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Promise letter principal Amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrLetterAdvices" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Allows user to decide whether they wish to produce any advices associated with this Promise Letter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrLetterAlternateId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>promise letter alternate id </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
