AG_2019/SOA/CreateBuyerProcess/SOA/Schemas/BusinessAreas/Products/Items/ItemSupplementalCommonSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Products/Items/Supplemental/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Products/Items/Supplemental/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" xmlns:ctyp="http://mx.agarcia.ea/Commons/Types/v1" elementFormDefault="qualified">
   <xs:import schemaLocation="../../../Commons/CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:import schemaLocation="../../../Commons/CommonTypeSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Types/v1"/>
   <xs:complexType name="PaletteCommonData">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="Name" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="Description" type="xs:string"/>
         <xs:element form="qualified" name="Code" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ColorCodeCommonData">
      <xs:annotation>
         <xs:documentation>Approved 20050228 This entity type serves as a
				standard store
				reference for APPAREL ITEM color. Certain apparel retailers will record data
				at this
				level, specifically for replenishment --- A code to identify the color.
				The
				assumption is that the retailer will adopt the standards as designated by the
				NRF,
				created to facilitate the exchange of data between vendors and
				retailers
			</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="Name" type="xs:string"/>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Description">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Free text description of the
						color of the
						trade item. Examples: "Dark burgundy" Business Rules: Free from text.
						As
						description text field. This data element is repeatable for each language
						used and must be associated with a valid ISO language
						code.
					</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="ctyp:DescriptionCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Modification" type="xs:string">
            <xs:annotation>
               <xs:documentation>Contains colors such as Avocado or Dinosaur
						(instead of Green)
						to convey a marketing message. May also contain other color-based
						Style
						modifiers, e.g. for Milk Chocolate the modifier could be White vs. Dark; for
						Ladies' Watches the modifier could be Pink Band vs. Blue
						Band
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Code" type="xs:string">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The code list required to
						identify the
						color of the trade item. No ISO standards exist. Each industry needs to
						determine which code agency is will use. Business Rules: If color
						code is
						indicated, colorCodeListAgency is required. EANCOM code list is to be used.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ListAgency" type="xs:string">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The parties controlling the
						color code
						lists. Dependent on color code value. Examples: "PMS", "RAL", "TGA",
						"91"
						Business Rules: If color code is indicated, colorCodeListAgency is
						requires.
						Sector specific extension.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ColorPalette">
            <xs:annotation>
               <xs:documentation>e.g. Earth Tones, Space Colors, Spring
						Greens
					</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="base:PaletteCommonData"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TargetMarketType">
      <xs:annotation>
         <xs:documentation>from EAN.UCC</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element name="CountryCode" type="xs:string">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The target market code indicates the
                        country level or higher geographical definition in which the information
                        provider will make the GTIN available to buyers. This Indicator does not in
                        any way govern where the buyer may re-sell the GTIN to consumers. Examples:
                        “036”=Australia, “300” = Greece, “524”= Nepal  --Business Rules:ISO 3166-1
                        format 3 digit numerical; following AIDC guidelines. This information drives
                        data synchronization rules linked to global/local, local status. Combination
                        of this field +GTIN+GLN uniquely identifies a set of attributes or a trade
                        item. This is a repeatable field. This field is mandatory within the Global
                        Data Synchronization process. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="Description">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The name for the specific target market
                        identified with the Target Market Country Code . Target market description
                        is composed of both text and a language code. The description will be
                        generated from the ISO 3166-1 code list. The language code will be generated
                        from the ISO 639 code list. Examples: ISO 3166-1 840= "United States", 276=
                        "Federal Republic of Germany, 156 = "China" Business Rules: This is the
                        textual indication of the target market code.</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="ctyp:DescriptionCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="Subdivision" type="xs:string">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: The Target Market Subdivision Code is the
                        secondary code of the Target Market and must be a subdivision of a Target
                        Market Country Code. The Target Market Subdivision Code describes the
                        "geo-political subdivision of a country" where the trade item is available
                        for sale, as determined by the information provider. For example, "State" in
                        the US, Land in Germany, "Region" in France, or "Province" in Canada. Not
                        all countries have subdivisions. This code is represented by the three
                        character ISO 3166-2 code. This Target Market Subdivision Code is a
                        dependent attribute. It is important to note that the lack of the Target
                        Market Subdivision code implies that the trade item is available in the
                        entire target market country. Examples: “ “208-025” where “208” represents
                        Denmark from the ISO 3166-1 and 025 represents the Danish county of Roskilde
                        from the ISO 3166-2.  “554-BOP” where “554” represents New Zealand from the
                        ISO 3166-1 and “BOP’ represents the Bay of Plenty.  Business Rules: ISO
                        3166-2 format 3 digit numerical/3 character alpha which represents country
                        and subcountry code; following AIDC guidelines. This information drives data
                        synchronization rules linked to global/local, local status. This optional
                        field helps further define trade item optional subdivision code. A
                        subdivision code must be used in tandem with a corresponding higher level
                        country code. (e.g. Ohio with US). This is a repeatable
                        field.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
