AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/RetailOperations/Buy/CostChangeTaskSvc/Schema/CostChangeTaskSvcSchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/CostChangeTask" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Capabilities/Foundation/Party/CostChangeTask" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:Chc="http://mx.agarcia.ea/Canonical/Commons/ChangeCost/v1">
   <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
   <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>
   <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/ChangeCostCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/ChangeCost/v1"/>
  
  
   <xs:element name="requestCostChangeRequest" type="base:excelFile"/>
 
   <xs:element name="saveCostChangeEventDataRequest" type="base:changeCost"/>
  
   
      <xs:element name="distributeApprovedCostChangeRequest" type="base:changeCost"/>
      
      
      <xs:element name="costChangeExcelParsingRequest" type="base:excelFile"/>
      <xs:element name="costChangeExcelParsingResponse" type="base:changeCost"/>
   
   
   <xs:complexType name="excelFile">
      <xs:sequence>
         <xs:element name="file" type="xs:base64Binary"/>
      </xs:sequence>
   </xs:complexType>
   
   <xs:complexType name="changeCost">
      <xs:sequence>
         <xs:element name="event" type="Chc:Event" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>