AG_2019/SOA/CreateSKUProcess/SOA/WSDLs/CreateSKUProcess.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Items/CreateSKUProcessSvc/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://mx.agarcia.ea/Capabilities/Core/Items/CreateSKUProcessSvc/v1.0" xmlns:ns1="http://mx.agarcia.ea/Capabilities/Core/Items/CreateItemEntity" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://mx.agarcia.ea/Capabilities/Core/Items/CreateItemEntity" schemaLocation="../Schemas/CreateItemEntitySchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../Schemas/Commons/AGStandardMessageSchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../Schemas/Commons/AGStandardHeaderSchema.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="createItemRequestMessage">
      <wsdl:part name="createItemRequestMessage" element="ns1:createItemRequest"/>
   </wsdl:message>
   <wsdl:message name="createItemResponseMessage">
      <wsdl:part name="createItemResponseMessage" element="ns1:createItemResponse"/>
   </wsdl:message>
   <wsdl:message name="standardMessageHeader">
      <wsdl:part name="header" element="AGSH:headerMessage"/>
   </wsdl:message>
   <wsdl:message name="standardMessageHeaderResponse">
      <wsdl:part name="headerRes" element="AGSM:messageResponse"/>
   </wsdl:message>
   <wsdl:message name="standardMessageFault">
      <wsdl:part name="fault" element="AGSM:messageError"/>
   </wsdl:message>
   <wsdl:portType name="createItemPType">
      <wsdl:operation name="create">
         <wsdl:input message="client:createItemRequestMessage"/>
         <wsdl:output message="client:createItemResponseMessage"/>
         <wsdl:fault message="client:standardMessageFault" name="fault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="createItemBinding" type="client:createItemPType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="create">
         <soap:operation style="document" soapAction="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/CreateItemTaskSvc/v1.0/create"/>
         <wsdl:input>
            <soap:body use="literal" parts="createItemRequestMessage"/>
            <soap:header message="client:standardMessageHeader" part="header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="createItemResponseMessage"/>
         </wsdl:output>
         <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
