BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioCliente/ConsultarOperacionByIdCliente/XSD/ConsultarOperacionByIdCliente.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarOperacionByIdCliente" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarOperacionByIdCliente" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarOperacionByIdClienteInput" type="ConsultarOperacionByIdClienteInput"/>
   <xs:complexType name="ConsultarOperacionByIdClienteInput">
      <xs:sequence>
         <xs:element name="idCliente" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarOperacionByIdClienteOutputCollection" type="ConsultarOperacionByIdClienteOutputCollection"/>
   <xs:complexType name="ConsultarOperacionByIdClienteOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarOperacionByIdClienteOutput" type="ConsultarOperacionByIdClienteOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarOperacionByIdClienteOutput">
      <xs:sequence>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>