BCIE_fenix/features/MCP/7705/ADF-BPM/bpm/PC04Aprobacion/PC04AprobacionProcess/SOA/WSDLs/AprobacionPEProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionPEProcess" xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Aprobacion/Payload/V1"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionPEProcess"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionPEProcess">
            <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Aprobacion/Payload/V1" schemaLocation="oramds:/apps/Resources/BPM/Schema/PC04/AprobacionPayload.xsd"/>
            <xsd:element name="InicioAprobacionPE">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:AprobacionPayload"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="FinAprobacionPEResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:AprobacionPayload"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="InicioAprobacionPE">
        <wsdl:part name="parameters" element="tns:InicioAprobacionPE"/>
    </wsdl:message>
    <wsdl:message name="FinAprobacionPEResponse">
        <wsdl:part name="parameters" element="tns:FinAprobacionPEResponse"/>
    </wsdl:message>
    <wsdl:portType name="AprobacionPEProcessPortTypeCallBack">
        <wsdl:operation name="FinAprobacionPE">
            <wsdl:input message="tns:FinAprobacionPEResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="AprobacionPEProcessPortType">
        <wsdl:operation name="InicioAprobacionPE">
            <wsdl:input message="tns:InicioAprobacionPE"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="AprobacionPEProcessPortTypePartnerLinkType">
        <plnk:role name="AprobacionPEProcessPortTypeProvider">
            <plnk:portType name="tns:AprobacionPEProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
