AG_2019/SOA/CreateBuyerProcess/SOA/Schemas/Commons/ItemTaskSvcSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/Capabilities/Cores/Items/ItemTaskSvc" xmlns:base="http://mx.agarcia.ea/Capabilities/Cores/Items/ItemTaskSvc" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:item="http://mx.agarcia.ea/Canonical/Commons/Items/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
   <xs:import schemaLocation="AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>
   <xs:import schemaLocation="oramds:/apps/Foundation/Schemas/Commons/ItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Items/v1"/>
   <xs:element name="findItemRequest" type="base:CreateItem"/>
   <xs:element name="findItemResponse" type="base:CreateItem"/>
   <xs:complexType name="findItem">
      <xs:sequence>
         <xs:element name="items" type="item:ItemList"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
