AG_2019/OSB/AlmacenesGarcia_DEV/Capabilities/Core/Supplier/SupplierEntitySvc/Resources/WSDL/JDAModifySupplierProcess.wsdl

<wsdl:definitions name="JDAModifySupplierProcess" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Suppliers/JDAModifySupplierProcess" xmlns:tns="http://mx.agarcia.ea/Capabilities/Core/Suppliers/JDAModifySupplierProcess" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" schemaLocation="../../Schema/SupplierEntitySchema.xsd"/>
            <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
            <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="modifyRequest">
        <wsdl:part name="part1" element="inp1:modifyRequest"/>
    </wsdl:message>
    <wsdl:message name="modifyResponse">
        <wsdl:part name="part1" element="inp1:modifyResponse"/>
    </wsdl:message>
    <wsdl:message name="standardMessagefault">
        <wsdl:part name="part1" element="AGSM:messageError"/>
    </wsdl:message>
    <wsdl:message name="standardMessageHeader">
    <wsdl:part name="part1" element="AGSH:headerMessage"/>
    </wsdl:message>
    
    <wsdl:portType name="ModifySupplierPType">
        <wsdl:operation name="modifySupplierPType">
            <wsdl:input message="tns:modifyRequest"/>
            <wsdl:output message="tns:modifyResponse"/>
            <wsdl:fault name="executefault" message="tns:standardMessagefault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ModifySupplierBinding" type="tns:ModifySupplierPType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="modifySupplierPType">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Suppliers/JDAModifySupplierProcess/modifySupplierPType"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
            <wsdl:fault name="executefault">
                <soap:fault name="executefault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>