BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioCliente/CrearActualizarSeguimientoCrediticio/XSD/CrearActualizarSeguimientoCrediticio_BD_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearActualizarSeguimientoCrediticio_BD" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearActualizarSeguimientoCrediticio_BD" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SeguimientoCrediticioCollection" type="SeguimientoCrediticioCollection"/>
   <xs:complexType name="SeguimientoCrediticioCollection">
      <xs:sequence>
         <xs:element name="SeguimientoCrediticio" type="SeguimientoCrediticio" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SeguimientoCrediticio">
      <xs:sequence>
         <xs:element name="id" type="xs:int" nillable="true"/>
         <xs:element name="idCliente" type="xs:long" minOccurs="0"/>
         <xs:element name="tipoInicio" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="tipoRevision" type="string20" minOccurs="0"/>
         <xs:element name="idTcaScr" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaEstadoScr" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaPerspectiva" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="esCalificacionDividida" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="fechaAprobado" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="instanciaProceso" type="string256" minOccurs="0" nillable="true"/>
         <xs:element name="loginUsuario" type="string32" minOccurs="0"/>
         <xs:element name="nombreUsuario" type="string128" minOccurs="0"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string256">
      <xs:restriction base="xs:string">
         <xs:maxLength value="256"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string128">
      <xs:restriction base="xs:string">
         <xs:maxLength value="128"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>