AG_2019/OSB/OSB_PRD_Almacenes/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Resources/Schema/RetailStoreEntitySchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" xmlns:ret="http://mx.agarcia.ea/Canonical/Commons/RetailStore/v1" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage">
           
           
  <xs:import schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
  <xs:import schemaLocation="../../../../../Foundation/Schemas/Commons/RetailStoreCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/RetailStore/v1"/>
 
 
 
  <xs:element name="createRetailStoreRequest" type="base:Create"/>
  <xs:element name="createRetailStoreResponse" type="AGSM:MessageResponse"/>
 
 
  <xs:complexType name="Create">
    <xs:sequence>
      <xs:element name="retailStores" type="ret:RetailStoreList"/>
    </xs:sequence>
  </xs:complexType>
 
 
  <xs:element name="modifyRequest" type="base:Modify"/>
  <xs:element name="modifyResponse" type="AGSM:MessageResponse"/>
 
 
  <xs:complexType name="Modify">
    <xs:sequence>
      <xs:element name="modifyRetailStore" type="ret:RetailStore"/>
    </xs:sequence>
  </xs:complexType>
 
 
  <xs:element name="findByIdRequest" type="base:FindById"/>
  <xs:element name="findByIdResponse" type="base:FindById"/>
 
 
  <xs:complexType name="FindById">
    <xs:sequence>
      <xs:element name="RetailStore" type="ret:RetailStoreCommonBase"/>
    </xs:sequence>
  </xs:complexType>
 
 
  <xs:element name="findByFilterRequest" type="base:FindByFilter"/>
  <xs:element name="findByFilterResponse" type="base:FindByFilter"/>
 
 
  <xs:complexType name="FindByFilter">
    <xs:sequence>
      <xs:element name="findByFilterRetailStore" type="ret:RetailStoreCommonBase"/>
    </xs:sequence>
  </xs:complexType>
 
 
  <xs:element name="inactiveRetailStoreRequest" type="base:Inactive"/>
  <xs:element name="inactiveRetailStoreResponse" type="AGSM:MessageResponse"/>
 
 
  <xs:complexType name="Inactive">
    <xs:sequence>
      <xs:element name="inactiveRetailStore" type="ret:RetailStoreCommonBase"/>
    </xs:sequence>
  </xs:complexType>
 
 
  <xs:element name="activeRetailStoreRequest" type="base:Active"/>
  <xs:element name="activeRetailStoreResponse" type="AGSM:MessageResponse"/>
 
 
  <xs:complexType name="Active">
    <xs:sequence>
      <xs:element name="inactiveRetailStore" type="ret:RetailStoreCommonBase"/>
    </xs:sequence>
  </xs:complexType>
  
  
  
    <xs:element name="translateRequest" type="base:translateIn"/>
  <xs:element name="translateResponse" type="base:translateOut"/>
  <xs:complexType name="translateIn">
    <xs:sequence>
      <xs:element name="id" type="xs:integer"/>
      <xs:element name="applicationCode" type="xs:string"/>
      <xs:element name="targetApplicationCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="translateOut">
    <xs:sequence>
          <xs:element name="retailStoreList" type="ret:RetailStoreList"/>
    </xs:sequence>
  </xs:complexType>

</xs:schema>