Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/BanAAAdditionalInfo/BANAAADDITIONALINFOBPAARINPUTWSType.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
    xmlns:ns0="http://www.temenos.com/T24/ofs/BANAAADDITIONALINFOBPAARINPUTWSType"
    xmlns:xdb="http://xmlns.oracle.com/xdb"
    targetNamespace="http://www.temenos.com/T24/ofs/BANAAADDITIONALINFOBPAARINPUTWSType"
    xdb:storeVarrayAsTable="true">
    <!-- This T24 XML Schema automatically produced -->
    <!-- Copyright Temenos Holdings NV 2018-->
    <!-- T24 Application: BAN.AA.ADDITIONAL.INFO -->
    <!-- T24 Release: R16 -->
    <!-- Production timestamp: 10:37:31 12 JUL 2018 -->
    <xsd:element name="BANAAADDITIONALINFOBPAARINPUTWS"
        type="ns0:BANAAADDITIONALINFOBPAARINPUTWSType">
        <xsd:annotation>
            <xsd:documentation>This is the top level element for the record data</xsd:documentation>
            <xsd:appinfo><hfp:hasProperty name="locked" value="no"/><hfp:hasProperty
                    name="useschema" value="no"/><hfp:hasProperty name="register" value="no"
                    /><hfp:hasProperty name="aaPropertyName" value=""/></xsd:appinfo>
        </xsd:annotation>
    </xsd:element>
    <xsd:complexType name="BANAAADDITIONALINFOBPAARINPUTWSType" xdb:maintainDOM="false">
        <xsd:annotation>
            <xsd:documentation>This complex type represents the T24 data for the
                BAN.AA.ADDITIONAL.INFO table</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element id="REASON.SERV" minOccurs="0" name="REASONSERV" nillable="true"
                xdb:SQLName="REASON_SERV">
                <xsd:annotation>
                    <xsd:documentation>REASON.SERV</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="REASON.SERV"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="USE.ACCT.PA" minOccurs="0" name="USEACCTPA" nillable="true"
                xdb:SQLName="USE_ACCT_PA">
                <xsd:annotation>
                    <xsd:documentation>USE.ACCT.PA</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="USE.ACCT.PA"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="NO.DEP.CASH" minOccurs="0" name="NODEPCASH" nillable="true"
                xdb:SQLName="NO_DEP_CASH">
                <xsd:annotation>
                    <xsd:documentation>NO.DEP.CASH</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="NO.DEP.CASH"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="AMT.DEP.CASH" minOccurs="0" name="AMTDEPCASH" nillable="true"
                xdb:SQLName="AMT_DEP_CASH">
                <xsd:annotation>
                    <xsd:documentation>AMT.DEP.CASH</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="numeric"
                            /><hfp:hasProperty name="fieldname" value="AMT.DEP.CASH"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="NO.WTWL.CASH" minOccurs="0" name="NOWTWLCASH" nillable="true"
                xdb:SQLName="NO_WTWL_CASH">
                <xsd:annotation>
                    <xsd:documentation>NO.WTWL.CASH</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="NO.WTWL.CASH"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="AMT.WTW.CASH" minOccurs="0" name="AMTWTWCASH" nillable="true"
                xdb:SQLName="AMT_WTW_CASH">
                <xsd:annotation>
                    <xsd:documentation>AMT.WTW.CASH</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="numeric"
                            /><hfp:hasProperty name="fieldname" value="AMT.WTW.CASH"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="NO.DEP.OTH" minOccurs="0" name="NODEPOTH" nillable="true"
                xdb:SQLName="NO_DEP_OTH">
                <xsd:annotation>
                    <xsd:documentation>NO.DEP.OTH</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="NO.DEP.OTH"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="DEP.OTHERS" minOccurs="0" name="DEPOTHERS" nillable="true"
                xdb:SQLName="DEP_OTHERS">
                <xsd:annotation>
                    <xsd:documentation>DEP.OTHERS</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="numeric"
                            /><hfp:hasProperty name="fieldname" value="DEP.OTHERS"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="NO.PAY.CHQ" minOccurs="0" name="NOPAYCHQ" nillable="true"
                xdb:SQLName="NO_PAY_CHQ">
                <xsd:annotation>
                    <xsd:documentation>NO.PAY.CHQ</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="NO.PAY.CHQ"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="AMT.PAY.CHQ" minOccurs="0" name="AMTPAYCHQ" nillable="true"
                xdb:SQLName="AMT_PAY_CHQ">
                <xsd:annotation>
                    <xsd:documentation>AMT.PAY.CHQ</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="numeric"
                            /><hfp:hasProperty name="fieldname" value="AMT.PAY.CHQ"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="NO.TRNSF.SND" minOccurs="0" name="NOTRNSFSND" nillable="true"
                xdb:SQLName="NO_TRNSF_SND">
                <xsd:annotation>
                    <xsd:documentation>NO.TRNSF.SND</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="NO.TRNSF.SND"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="AMT.TRNSF.SND" minOccurs="0" name="AMTTRNSFSND" nillable="true"
                xdb:SQLName="AMT_TRNSF_SND">
                <xsd:annotation>
                    <xsd:documentation>AMT.TRNSF.SND</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="numeric"
                            /><hfp:hasProperty name="fieldname" value="AMT.TRNSF.SND"
                        /></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="NO.TRNSF.REC" minOccurs="0" name="NOTRNSFREC" nillable="true"
                xdb:SQLName="NO_TRNSF_REC">
                <xsd:annotation>
                    <xsd:documentation>NO.TRNSF.REC</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="NO.TRNSF.REC"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="5"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="AMT.TRNSF.REC" minOccurs="0" name="AMTTRNSFREC" nillable="true"
                xdb:SQLName="AMT_TRNSF_REC">
                <xsd:annotation>
                    <xsd:documentation>AMT.TRNSF.REC</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="numeric"
                            /><hfp:hasProperty name="fieldname" value="AMT.TRNSF.REC"
                        /></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="TYPE.ACT.SIB" minOccurs="0" name="TYPEACTSIB" nillable="true"
                xdb:SQLName="TYPE_ACT_SIB">
                <xsd:annotation>
                    <xsd:documentation>TYPE.ACT.SIB</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="TYPE.ACT.SIB"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="4"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="AMT.GOAL" minOccurs="0" name="AMTGOAL" nillable="true"
                xdb:SQLName="AMT_GOAL">
                <xsd:annotation>
                    <xsd:documentation>AMT.GOAL</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="numeric"
                            /><hfp:hasProperty name="fieldname" value="AMT.GOAL"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="OPEN.MODE.PA" minOccurs="0" name="OPENMODEPA" nillable="true"
                xdb:SQLName="OPEN_MODE_PA">
                <xsd:annotation>
                    <xsd:documentation>OPEN.MODE.PA</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="OPEN.MODE.PA"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="SR.TRNSF.EXT.RP" minOccurs="0" name="SRTRNSFEXTRP" nillable="true"
                xdb:SQLName="SR_TRNSF_EXT_RP">
                <xsd:annotation>
                    <xsd:documentation>SR.TRNSF.EXT.RP</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="SR.TRNSF.EXT.RP"
                        /></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="FUNDS.OU.ACC.PA" minOccurs="0" name="FUNDSOUACCPA" nillable="true"
                xdb:SQLName="FUNDS_OU_ACC_PA">
                <xsd:annotation>
                    <xsd:documentation>FUNDS.OU.ACC.PA</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="FUNDS.OU.ACC.PA"
                        /></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="AMT.OPENNING" minOccurs="0" name="AMTOPENNING" nillable="true"
                xdb:SQLName="AMT_OPENNING">
                <xsd:annotation>
                    <xsd:documentation>AMT.OPENNING</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="numeric"
                            /><hfp:hasProperty name="fieldname" value="AMT.OPENNING"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="PROP.ACCT" minOccurs="0" name="PROPACCT" nillable="true"
                xdb:SQLName="PROP_ACCT">
                <xsd:annotation>
                    <xsd:documentation>PROP.ACCT</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="PROP.ACCT"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="AMT.TOT.PMD" minOccurs="0" name="AMTTOTPMD" nillable="true"
                xdb:SQLName="AMT_TOT_PMD">
                <xsd:annotation>
                    <xsd:documentation>AMT.TOT.PMD</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="numeric"
                            /><hfp:hasProperty name="fieldname" value="AMT.TOT.PMD"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="PREC.MD.CH" minOccurs="0" name="PRECMDCH" nillable="true"
                xdb:SQLName="PREC_MD_CH">
                <xsd:annotation>
                    <xsd:documentation>PREC.MD.CH</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="numeric"
                            /><hfp:hasProperty name="fieldname" value="PREC.MD.CH"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="15"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="AMT.TOT.ING" minOccurs="0" name="AMTTOTING" nillable="true"
                xdb:SQLName="AMT_TOT_ING">
                <xsd:annotation>
                    <xsd:documentation>AMT.TOT.ING</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="numeric"
                            /><hfp:hasProperty name="fieldname" value="AMT.TOT.ING"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="NO.TRSF.SND.EXT" minOccurs="0" name="NOTRSFSNDEXT" nillable="true"
                xdb:SQLName="NO_TRSF_SND_EXT">
                <xsd:annotation>
                    <xsd:documentation>NO.TRSF.SND.EXT</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="NO.TRSF.SND.EXT"
                        /></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="AMT.TRN.SND.EXT" minOccurs="0" name="AMTTRNSNDEXT" nillable="true"
                xdb:SQLName="AMT_TRN_SND_EXT">
                <xsd:annotation>
                    <xsd:documentation>AMT.TRN.SND.EXT</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="numeric"
                            /><hfp:hasProperty name="fieldname" value="AMT.TRN.SND.EXT"
                        /></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="NO.TRSF.REC.EXT" minOccurs="0" name="NOTRSFRECEXT" nillable="true"
                xdb:SQLName="NO_TRSF_REC_EXT">
                <xsd:annotation>
                    <xsd:documentation>NO.TRSF.REC.EXT</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="NO.TRSF.REC.EXT"
                        /></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="6"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="AMT.TRN.REC.EXT" minOccurs="0" name="AMTTRNRECEXT" nillable="true"
                xdb:SQLName="AMT_TRN_REC_EXT">
                <xsd:annotation>
                    <xsd:documentation>AMT.TRN.REC.EXT</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="numeric"
                            /><hfp:hasProperty name="fieldname" value="AMT.TRN.REC.EXT"
                        /></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:decimal"/>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element minOccurs="0" name="gTRANSFERTYPE">
                <xsd:complexType xdb:maintainDOM="false">
                    <xsd:sequence minOccurs="0">
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="mTRANSFERTYPE">
                            <xsd:complexType xdb:maintainDOM="false">
                                <xsd:sequence minOccurs="0">
                                    <xsd:element id="TRANSFER.TYPE" minOccurs="0"
                                        name="TRANSFERTYPE" nillable="true"
                                        xdb:SQLName="TRANSFER_TYPE">
                                        <xsd:annotation>
                                            <xsd:documentation>TRANSFER.TYPE</xsd:documentation>
                                            <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="TRANSFER.TYPE"/></xsd:appinfo>
                                        </xsd:annotation>
                                        <xsd:simpleType>
                                            <xsd:restriction base="xsd:string">
                                                <xsd:maxLength value="35"/>
                                            </xsd:restriction>
                                        </xsd:simpleType>
                                    </xsd:element>
                                    <xsd:element minOccurs="0" name="sgCOUNTRY">
                                        <xsd:complexType xdb:maintainDOM="false">
                                            <xsd:sequence minOccurs="0">
                                                <xsd:element maxOccurs="unbounded" minOccurs="0"
                                                  name="COUNTRY">
                                                  <xsd:complexType xdb:maintainDOM="false">
                                                  <xsd:sequence minOccurs="0">
                                                  <xsd:element id="COUNTRY" minOccurs="0"
                                                  name="COUNTRY" nillable="true"
                                                  xdb:SQLName="COUNTRY">
                                                  <xsd:annotation>
                                                  <xsd:documentation>COUNTRY</xsd:documentation>
                                                  <xsd:appinfo><hfp:hasProperty name="fielddatatype"
                                                  value="string"/><hfp:hasProperty name="fieldname"
                                                  value="COUNTRY"/></xsd:appinfo>
                                                  </xsd:annotation>
                                                  <xsd:simpleType>
                                                  <xsd:restriction base="xsd:string">
                                                  <xsd:maxLength value="9"/>
                                                  </xsd:restriction>
                                                  </xsd:simpleType>
                                                  </xsd:element>
                                                  </xsd:sequence>
                                                  <xsd:attribute name="s" type="xsd:positiveInteger"
                                                  use="optional"/>
                                                  </xsd:complexType>
                                                </xsd:element>
                                            </xsd:sequence>
                                            <xsd:attribute name="sg" type="xsd:positiveInteger"
                                                use="optional"/>
                                        </xsd:complexType>
                                    </xsd:element>
                                </xsd:sequence>
                                <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
                            </xsd:complexType>
                        </xsd:element>
                    </xsd:sequence>
                    <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
                </xsd:complexType>
            </xsd:element>
            <xsd:element id="APPLICATION.NO" minOccurs="0" name="APPLICATIONNO" nillable="true"
                xdb:SQLName="APPLICATION_NO">
                <xsd:annotation>
                    <xsd:documentation>APPLICATION.NO</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="APPLICATION.NO"
                        /></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="ARP.SERVICE" minOccurs="0" name="ARPSERVICE" nillable="true"
                xdb:SQLName="ARP_SERVICE">
                <xsd:annotation>
                    <xsd:documentation>ARP.SERVICE</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="ARP.SERVICE"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="ARP.SERV.CATEG" minOccurs="0" name="ARPSERVCATEG" nillable="true"
                xdb:SQLName="ARP_SERV_CATEG">
                <xsd:annotation>
                    <xsd:documentation>ARP.SERV.CATEG</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="ARP.SERV.CATEG"
                        /></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="ACCT.TYPE" minOccurs="0" name="ACCTTYPE" nillable="true"
                xdb:SQLName="ACCT_TYPE">
                <xsd:annotation>
                    <xsd:documentation>ACCT.TYPE</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="ACCT.TYPE"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="TYPE.OF.PERSON" minOccurs="0" name="TYPEOFPERSON" nillable="true"
                xdb:SQLName="TYPE_OF_PERSON">
                <xsd:annotation>
                    <xsd:documentation>TYPE.OF.PERSON</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="TYPE.OF.PERSON"
                        /></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="DEBIT.CARD" minOccurs="0" name="DEBITCARD" nillable="true"
                xdb:SQLName="DEBIT_CARD">
                <xsd:annotation>
                    <xsd:documentation>DEBIT.CARD</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="DEBIT.CARD"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="1"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="ACC.ALT.ID" minOccurs="0" name="ACCALTID" nillable="true"
                xdb:SQLName="ACC_ALT_ID">
                <xsd:annotation>
                    <xsd:documentation>ACC.ALT.ID</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="ACC.ALT.ID"/></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="36"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
            <xsd:element id="ACCOUNT.REFERENCE" minOccurs="0" name="ACCOUNTREFERENCE"
                nillable="true" xdb:SQLName="ACCOUNT_REFERENCE">
                <xsd:annotation>
                    <xsd:documentation>ACCOUNT.REFERENCE</xsd:documentation>
                    <xsd:appinfo><hfp:hasProperty name="fielddatatype" value="string"
                            /><hfp:hasProperty name="fieldname" value="ACCOUNT.REFERENCE"
                        /></xsd:appinfo>
                </xsd:annotation>
                <xsd:simpleType>
                    <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="19"/>
                    </xsd:restriction>
                </xsd:simpleType>
            </xsd:element>
        </xsd:sequence>
        <xsd:attribute name="id">
            <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                    <xsd:maxLength value="250"/>
                </xsd:restriction>
            </xsd:simpleType>
        </xsd:attribute>
    </xsd:complexType>
</xsd:schema>
