BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/CrearUsuarioReunion/XSD/CrearUsuarioReunion_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearUsuarioReunion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearUsuarioReunion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="UsuarioReunionAprobacionCollection" type="UsuarioReunionAprobacionCollection"/>
   <xs:complexType name="UsuarioReunionAprobacionCollection">
      <xs:sequence>
         <xs:element name="UsuarioReunionAprobacion" type="UsuarioReunionAprobacion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="UsuarioReunionAprobacion">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idSolicitudAprobacion" type="xs:long" minOccurs="0"/>
         <xs:element name="idTcaRolBpm" type="xs:int" minOccurs="0"/>
         <xs:element name="loginUsuario" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="emiteVoto" type="xs:int" minOccurs="0"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
         <xs:element name="marcadoComoLeido" type="xs:int" minOccurs="0"/>
         <xs:element name="nombreUsuario" type="string128" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaTipoUsuario" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="conNotificacion" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string128">
      <xs:restriction base="xs:string">
         <xs:maxLength value="128"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>