AG_2019/SOA/CreateUPCMicroTaskProcess/SOA/Schemas/Commons/ITDocumentCommonSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/Commons/ITDocs/v1" xmlns:base="http://mx.agarcia.ea/Commons/ITDocs/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:simpleType name="ITDocumentType">
      <xs:union memberTypes="base:ITDocumentTypeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="ITDocumentTypeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Transfer"/>
         <xs:enumeration value="Receipt"/>
         <xs:enumeration value="Return"/>
         <xs:enumeration value="ReturnSeal"/>
         <xs:enumeration value="ReturnShip"/>
         <xs:enumeration value="InventoryAdjustment"/>
         <xs:enumeration value="PurchaseOrder"/>
         <xs:enumeration value="AdvanceShipNotice"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ITDocumentStatus">
      <xs:union memberTypes="base:ITDocumentStatusEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="ITDocumentStatusEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Entered"/>
         <xs:enumeration value="Posted"/>
         <xs:enumeration value="Pending"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ITCountType">
      <xs:union memberTypes="base:ITCountTypeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="ITCountTypeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Physical"/>
         <xs:enumeration value="Cycle"/>
         <xs:enumeration value="Adhoc"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="ITCountStatus">
      <xs:union memberTypes="base:ITCountStatusEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="ITCountStatusEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Scheduled"/>
         <xs:enumeration value="InProgress"/>
         <xs:enumeration value="Suspended"/>
         <xs:enumeration value="Resumed"/>
         <xs:enumeration value="CompletedButNotEntered"/>
         <xs:enumeration value="CompletedAndEntered"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
