Banesco_2023/SOA/BanescoT24SOA/COMP_Commons/SOA/Schemas/AD_Adapter.xsd

<?xml version= "1.0" encoding= "UTF-8" ?>
<schema targetNamespace="http://platform.integration.oracle/blocks/adapter/fw/metadata/AD_Adapter"
            xmlns="http://www.w3.org/2001/XMLSchema"
            xmlns:tns="http://platform.integration.oracle/blocks/adapter/fw/metadata/AD_Adapter"
            elementFormDefault="unqualified">
  <element name="searchRequest">
     <complexType>
         <sequence>
               <element name="baseDN" type="string" default="DC=banescodesa,DC=local,DC=pa"/>
               <element name="searchFilter" type="string" default="(objectClass=person)"/>
         </sequence>
     </complexType>
  </element>
  <element name="searchResponse">
     <complexType>
         <sequence>
             <element name="entriesReturned" type="string" minOccurs="0"/>
             <element name="referral" type="anyURI" minOccurs="0" maxOccurs="unbounded"/>
             <element name="searchResultEntry" maxOccurs="unbounded" minOccurs="0">
                 <complexType>
                     <sequence>
                       <element name="company" type="string"/>
                       <element name="department" type="string"/>
                       <element name="displayName" type="string"/>
                       <element name="givenName" type="string"/>
                       <element name="homeDirectory" type="string"/>
                       <element name="homeDrive" type="string"/>
                       <element name="homePhone" type="string"/>
                       <element name="initials" type="string"/>
                       <element name="l" type="string"/>
                       <element name="mail" type="string"/>
                       <element name="manager" type="string"/>
                       <element name="mobile" type="string"/>
                       <element name="pager" type="string"/>
                       <element name="postalCode" type="string"/>
                       <element name="postOfficeBox" type="tns:multiValueAttribute"/>
                       <element name="profilePath" type="string"/>
                       <element name="sAMAccountName" type="string"/>
                       <element name="scriptPath" type="string"/>
                       <element name="sn" type="string"/>
                       <element name="st" type="string"/>
                       <element name="telephoneNumber" type="string"/>
                       <element name="title" type="string"/>
                       <element name="userPrincipalName" type="string"/>
                       <element name="wWWHomePage" type="string"/>
                       <element name="facsimileTelephoneNumber" type="string"/>
                       <element name="streetAddress" type="string"/>
                       <element name="physicalDeliveryOfficeName" type="string"/>
                     </sequence>
                     <attribute name="index" type="integer"/>
                     <attribute name="dn" type="string"/>
                 </complexType>
             </element>
         </sequence>
     </complexType>
  </element>
<complexType name="multiValueAttribute">
   <sequence>
       <element name="value" type="string" maxOccurs="unbounded"/>
   </sequence>
</complexType>
</schema>