Banesco_2023/SOA/BanescoT24SOA/COMP_Commons/SOA/Schemas/AuditAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AuditAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:eoptAuditAdd="http://xmlns.banesco.com/eopt/AuditAdd_V1.0"
           xmlns:eoMsgHdr="http://xmlns.banesco.com/eo/MsgHdr_V1.0" elementFormDefault="qualified">
  <xs:import namespace="http://xmlns.banesco.com/eo/MsgHdr_V1.0" schemaLocation="MsgHdr_V1.0.xsd"/>
  <xs:element name="AuditAddRq" type="eoptAuditAdd:AuditAddRq_Type"/>
  <xs:element name="AuditAddRq_Type" type="eoptAuditAdd:AuditAddRq_Type"/>
  <xs:complexType name="AuditAddRq_Type">
    <xs:sequence>
      <xs:element name="MsgHdr" type="eoMsgHdr:MsgHdr" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto MsgHdr que contiene la información de la cabecera del mensaje a auditar.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contentXML" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto PartyKey que contiene la identificación del cliente.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
