Banesco_2023/SOA/BanescoT24SOA/COMP_Commons/SOA/Schemas/Common_V1.0.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eo/Common_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
     xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" elementFormDefault="qualified">
    <xs:element name="PostAddr" type="eoCom:PostAddr"/>
    <xs:complexType name="PostAddr">
        <xs:annotation>
            <xs:documentation>The PostAddr aggregate is used wherever a postal address is needed.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Addr1" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Addr1.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Addr2" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Addr2.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Addr3" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Addr3.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Addr4" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Addr4.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AddressIdent" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Address Identifier.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AddrType" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Address Type.

Defined values: Seasonal, Primary, Secondary, Business, Home.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="City" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>City.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UpDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Update Date Time.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CountyDistrict" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>County District.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostalCode" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Postal Code.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Province" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Province.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="State" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>State</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Corregimiento" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Corregimiento</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CountryCode" type="eoCom:CountryCode" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CountryCode" type="eoCom:CountryCode"/>
    <xs:complexType name="CountryCode">
        <xs:annotation>
            <xs:documentation>All representations of countries in the IFX Specification are based upon agreed upon standard codes between client and server. The default, if not specified, is the Alpha 3-character codes for countries that are defined in ISO-3166.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="CountryCodeSource" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Country Code Source.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CountryCodeValue" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Country Code Value.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Contact" type="eoCom:Contact"/>
    <xs:complexType name="Contact">
        <xs:annotation>
            <xs:documentation>The Contact aggregate appears wherever a person&apos;s or organization&apos;s contact information is needed.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ContactName" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Contact Name.

The name of the person to contact.

Name of the person associated with the contact information. Typically, this is the name of the person within the business that the phone number, email address, and/or address is associated with.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ContactType" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Contact Type.

Valid values include: CustSvc, Enroll, GeneralInfo, LostCard, Marketing, Other, Personal, PersonalRef, Statement, Tech.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhoneExt" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Employer phone number extension.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhoneFax" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Phone Fax.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Locator" type="eoCom:Locator" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="time">
        <xs:annotation>
            <xs:documentation>time</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:time"/>
    </xs:simpleType>
    <xs:simpleType name="datetime">
        <xs:annotation>
            <xs:documentation>Regular Expression to datetime</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:dateTime"/>
    </xs:simpleType>
    <xs:simpleType name="timePattern">
        <xs:annotation>
            <xs:documentation>Use this instead of &apos;time&apos; type</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="eoCom:time"/>
    </xs:simpleType>
    <xs:element name="Binary" type="eoCom:Binary"/>
    <xs:complexType name="Binary">
        <xs:annotation>
            <xs:documentation>The Binary data type is a compound type consisting of three logical elements:

1. ContentType.
2. BinLength.
3. BinData.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="BinData" type="xs:base64Binary" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Binary data.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BinLength" type="xs:long" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Binary Data Length.

Identifies the size of the binary data in number of bytes.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ContentType" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Content Type.

Specified in IETF RFC 2046.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ImageURL" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Image URL.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CurAmt" type="eoCom:CurAmt"/>
    <xs:complexType name="CurAmt">
        <xs:annotation>
            <xs:documentation>Currency Amount.

All monetary amounts in the IFX Specification are handled with the Currency Amount data type. When included, this data type contains a decimal value for the amount, an optional currency code.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Amt" type="xs:decimal" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CurCode" type="eoCom:ValueType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The CurrencyCode is used to express Currency codes and the authoritative source that defines them.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ValueType" type="eoCom:ValueType"/>
    <xs:complexType name="ValueType">
        <xs:annotation>
            <xs:documentation>Generic Value Type.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Type.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Value Type.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="dateTimePattern">
        <xs:annotation>
            <xs:documentation>Use this instead of &apos;dateTime&apos; type</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="eoCom:datetime"/>
    </xs:simpleType>
    <xs:element name="Locator" type="eoCom:Locator"/>
    <xs:complexType name="Locator">
        <xs:annotation>
            <xs:documentation>Information necessary to establish contact.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Email" type="eoCom:ValueType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Emails.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PhoneNum" type="eoCom:ValueType" minOccurs="0" maxOccurs="unbounded">
                <xs:annotation>
                    <xs:documentation>Phones Number.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ResourceLocator" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>General resource locator specification (URL).</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PostAddr" type="eoCom:PostAddr" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="date">
        <xs:annotation>
            <xs:documentation>Regular Expression to date</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:date"/>
    </xs:simpleType>
    <xs:simpleType name="datePattern">
        <xs:annotation>
            <xs:documentation>Use this instead of &apos;date&apos; type</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="eoCom:date"/>
    </xs:simpleType>
    <xs:element name="TimeFrame" type="eoCom:TimeFrame"/>
    <xs:complexType name="TimeFrame">
        <xs:annotation>
            <xs:documentation>Time Frame.

The timeframe which applies to the parent aggregate.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="EndDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>End Date.

End Date. Indicates latest date for a range of dates.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StartDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Start Date.

Used within a date range selection in inquiries to limit the response to objects within the specified range.  Also used in other contexts to indicate a Start Date.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Duration" type="eoCom:Duration" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Duration" type="eoCom:Duration"/>
    <xs:complexType name="Duration">
        <xs:annotation>
            <xs:documentation>Duration.

Specifies the duration of the time frame in the unit of measure indicated.

Examples: 2 h (hours), 120 min (minutes)

If neither nor are provided, assume time frame has no end.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Count" type="xs:long" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Count.

The number of items. Interpretation depends on context.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Unit" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Unit.

Code which expresses the unit of measure that corresponds to the Count.

Valid values: Seconds, Minutes, Hours, Days, Weeks, Months, Years.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="monthYear">
        <xs:annotation>
            <xs:documentation>Regular Expression to month-year</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string"/>
    </xs:simpleType>
    <xs:simpleType name="monthYearPattern">
        <xs:annotation>
            <xs:documentation>Use this instead of &apos;monthYear&apos; type</xs:documentation>
        </xs:annotation>
        <xs:union memberTypes="eoCom:monthYear"/>
    </xs:simpleType>
    <xs:element name="CustomDate" type="eoCom:CustomDate"/>
    <xs:complexType name="CustomDate">
        <xs:annotation>
            <xs:documentation>Custom Date</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="Day" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Day</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Month" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Month</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Year" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Year</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="SvcIdent" type="eoCom:SvcIdent"/>
    <xs:complexType name="SvcIdent">
        <xs:annotation>
            <xs:documentation>Service Identifier</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="SvcName" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Service Name. Must be unique in the Service Provider.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SvcProviderName" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The Service Provider Name element is a globally unique identifier for a service provider.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
