Banesco_2023/SOA/BanescoT24SOA/COMP_Commons/SOA/Schemas/DB_CusAudit_Adapter_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/DB_CusAudit_Adapter" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/DB_CusAudit_Adapter" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="CustomAuditCollection" type="CustomAuditCollection"/>
   <xs:complexType name="CustomAuditCollection">
      <xs:sequence>
         <xs:element name="CustomAudit" type="CustomAudit" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CustomAudit">
      <xs:sequence>
         <xs:element name="trackingId" type="string25"/>
         <xs:element name="trackingIdResp" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="clientDt" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="serverDt" type="xs:dateTime"/>
         <xs:element name="priority" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="operType" type="string1" minOccurs="0"/>
         <xs:element name="service" type="string25" minOccurs="0"/>
         <xs:element name="operation" type="string25" minOccurs="0"/>
         <xs:element name="destination" type="string25" minOccurs="0"/>
         <xs:element name="clientappOrg" type="string25" minOccurs="0"/>
         <xs:element name="clientappName" type="string25" minOccurs="0" nillable="true"/>
         <xs:element name="clientappVersion" type="string12" minOccurs="0" nillable="true"/>
         <xs:element name="channelId" type="string10" minOccurs="0"/>
         <xs:element name="userId" type="string20" minOccurs="0"/>
         <xs:element name="userType" type="string1" minOccurs="0"/>
         <xs:element name="ipAddress" type="string16" minOccurs="0"/>
         <xs:element name="hostname" type="string35" minOccurs="0" nillable="true"/>
         <xs:element name="macAddress" type="string17" minOccurs="0" nillable="true"/>
         <xs:element name="recCountLimit" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="startRecNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="endRecNum" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="sentRecCount" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="message" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string25">
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string12">
      <xs:restriction base="xs:string">
         <xs:maxLength value="12"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string10">
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string16">
      <xs:restriction base="xs:string">
         <xs:maxLength value="16"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string35">
      <xs:restriction base="xs:string">
         <xs:maxLength value="35"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string17">
      <xs:restriction base="xs:string">
         <xs:maxLength value="17"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
