Banesco_2023/SOA/BanescoT24SOA/COMP_Commons/SOA/Schemas/MsgHdr_V1.0.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eo/MsgHdr_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
     xmlns:eoMsgHdr="http://xmlns.banesco.com/eo/MsgHdr_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0">
    <xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="Common_V1.0.xsd"/>
    <xs:element name="MsgHdr" type="eoMsgHdr:MsgHdr"/>
    <xs:complexType name="MsgHdr">
        <xs:sequence>
            <xs:element name="ClientDt" type="eoCom:dateTimePattern" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Fecha y hora del mensaje en el cliente</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Destination" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifica el destinatario del mensaje.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MsgPriority" type="xs:integer" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Prioridad del mensaje</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RequestId" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identificador de la petición</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ResponseId" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identificador de la respuesta</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RqdOper" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifica la operación que origina la solicitud</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RqdOperType" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Tipo de Operación Solicitada</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RqdService" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identifica el servicio que origina la solicitud</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ServerDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Fecha y hora del mensaje en el servidor</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClientApp" type="eoMsgHdr:ClientApp" minOccurs="0" maxOccurs="1"/>
            <xs:element name="NetworkTrnData" type="eoMsgHdr:NetworkTrnData" minOccurs="0" maxOccurs="1"/>
            <xs:element name="RecCtrlIn" type="eoMsgHdr:RecCtrlIn" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ClientApp" type="eoMsgHdr:ClientApp"/>
    <xs:complexType name="ClientApp">
        <xs:sequence>
            <xs:element name="ChannelId" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Indicador de Canal</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Nombre de la aplicación cliente que origina la solicitud</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Org" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Organización. Identifica al desarrollador de la aplicación cliente que origina la solicitud</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UserId" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Identificador de Usuario</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="UserType" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Tipo de Usuario</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Version" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Versión de la aplicación cliente</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="NetworkTrnData" type="eoMsgHdr:NetworkTrnData"/>
    <xs:complexType name="NetworkTrnData">
        <xs:sequence>
            <xs:element name="HostName" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Nombre del Equipo</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IpAddress" type="xs:string" minOccurs="1" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Dirección IP del Equipo</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="MacAddress" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Dirección MAC del Equipo</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="RecCtrlIn" type="eoMsgHdr:RecCtrlIn"/>
    <xs:complexType name="RecCtrlIn">
        <xs:sequence>
            <xs:element name="EndRecNum" type="xs:integer" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Número de registro inicial</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RecCountLimit" type="xs:integer" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Límite de conteo de registros</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SentRecCount" type="xs:integer" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Cantidad de registros devueltos por la consulta</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StartRecNum" type="xs:integer" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Número de registro final</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
