Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/AD/resources/wsdl/ADSvcSOAP12Mock.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="ADSvc" targetNamespace="http://xmlns.banesco.com/service/ADSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.banesco.com/service/ADSvc" xmlns:eoptObtUsuarioAD="http://xmlns.banesco.com/eopt/ObtenerUsuarioActiveDirectory" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.banesco.com/eopt/ObtenerUsuarioActiveDirectory">
      <xs:complexType name="ObtenerUsuarioActiveDirectoryRq_Type">
        <xs:sequence>
          <xs:element name="sAMAccountName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Nombre del usuario or Login</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="ObtenerUsuarioActiveDirectoryRs_Type">
        <xs:sequence>
          <xs:element name="userPrincipalName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identificador del usuario con dominio</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="title" type="xs:string">
            <xs:annotation>
              <xs:documentation>Cargo del colaborador</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="wWWHomePage" type="xs:string">
            <xs:annotation>
              <xs:documentation>Nombre del equipo</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="company" type="xs:string">
            <xs:annotation>
              <xs:documentation>VP de Colaborador</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="department" type="xs:string">
            <xs:annotation>
              <xs:documentation>Departamento del Colaborador</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="homePhone" type="xs:string">
            <xs:annotation>
              <xs:documentation>Numero de telefono</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="sAMAccountName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Nombre del usuario or Login</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="manager" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identificador del supervisor</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="mobile" type="xs:string">
            <xs:annotation>
              <xs:documentation>Numero de telefono movil</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="physicalDeliveryOfficeName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Ubicación Fisica</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="postalCode" type="xs:string">
            <xs:annotation>
              <xs:documentation>Codigo postal</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="postOfficeBox" type="xs:string">
            <xs:annotation>
              <xs:documentation>Direccion (linea 4)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="streetAddress" type="xs:string">
            <xs:annotation>
              <xs:documentation>Direccion (linea 1)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="telephoneNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Numero de telefono</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="mail" type="xs:string">
            <xs:annotation>
              <xs:documentation>Correo electronico</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="givenName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Nombres</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="sn" type="xs:string">
            <xs:annotation>
              <xs:documentation>Apellidos</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="displayName" type="xs:string">
            <xs:annotation>
              <xs:documentation>Nombre preferido</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="facsimileTelephoneNumber" type="xs:string">
            <xs:annotation>
              <xs:documentation>Numero de telefono fax</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="ObtenerUsuarioActiveDirectoryRq" type="eoptObtUsuarioAD:ObtenerUsuarioActiveDirectoryRq_Type"/>
      <xs:element name="ObtenerUsuarioActiveDirectoryRs" type="eoptObtUsuarioAD:ObtenerUsuarioActiveDirectoryRs_Type"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="ObtenerUsuarioActiveDirectoryRs">
    <wsdl:part name="ObtenerUsuarioActiveDirectoryRs" element="eoptObtUsuarioAD:ObtenerUsuarioActiveDirectoryRs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="ObtenerUsuarioActiveDirectoryRq">
    <wsdl:part name="ObtenerUsuarioActiveDirectoryRq" element="eoptObtUsuarioAD:ObtenerUsuarioActiveDirectoryRq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="ObtenerUsuarioActiveDirectoryPortType">
    <wsdl:operation name="ObtenerUsuarioActiveDirectory">
      <wsdl:input message="tns:ObtenerUsuarioActiveDirectoryRq">
    </wsdl:input>
      <wsdl:output message="tns:ObtenerUsuarioActiveDirectoryRs">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ADSvcSOAP12Binding" type="tns:ObtenerUsuarioActiveDirectoryPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ObtenerUsuarioActiveDirectory">
      <soap12:operation/>
      <wsdl:input>
        <soap12:body parts="ObtenerUsuarioActiveDirectoryRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="ObtenerUsuarioActiveDirectoryRs" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ADSvc">
    <wsdl:port name="ADSvcPort" binding="tns:ADSvcSOAP12Binding">
      <soap12:address location="http://localhost:8088/ADSvcSOAP12Mock"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
