MIRA/SOA_PRD_Almacenes/DistributeCostChangeRequestProcess/SOA/Schemas/BusinessAreas/Products/SellingRules/PricingCommonSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Products/SellingRules/Commons/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Products/SellingRules/Commons/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" xmlns:comm="http://mx.agarcia.ea/Commons/Types/v1" xmlns:itcom="http://mx.agarcia.ea/BusinessAreas/Products/Items/CommonsTypes/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="../../../Commons/CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:import schemaLocation="../../../Commons/CommonTypeSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Types/v1"/>
   <xs:import schemaLocation="../Items/ItemCommonTypeSchema.xsd" namespace="http://mx.agarcia.ea/BusinessAreas/Products/Items/CommonsTypes/v1"/>
   <xs:complexType name="PriceCommonData">
      <xs:simpleContent>
         <xs:extension base="base:UnitPriceCommonData">
            <xs:attribute form="unqualified" name="ValueTypeCode" type="base:PriceTypeCode" use="required"/>
            <xs:attribute default="false" form="unqualified" name="TaxIncludedInPriceFlag" type="xs:boolean" use="optional"/>
            <xs:attribute default="true" form="unqualified" name="PriceOverrideFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Indicates whether an item’s price can be
							overridden at
							point of sale; assumes an exception occurred (e.g.,
							no price in
							PLUFILE,
							no entry, wrong price tag).
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute default="false" form="unqualified" name="QuantityPricingFlag" type="xs:boolean" use="optional">
               <xs:annotation>
                  <xs:documentation>Denotes whether the item is priced using
							Quantity Package
							Price (Eg: 3 for $0.89)
						</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="UnitPriceCommonData">
      <xs:simpleContent>
         <xs:extension base="comm:MonetaryAmountCommonData">
            <xs:attribute default="1" form="unqualified" name="Quantity" type="xs:decimal" use="optional"/>
            <xs:attribute default="UN" form="unqualified" name="UnitOfMeasureCode" type="itcom:UnitOfMeasureCodeCommonData" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="DiscountBenefitTypeCode">
      <xs:union memberTypes="base:DiscountBenefitTypeCodeEnumeration enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="DiscountBenefitTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Customer"/>
         <xs:enumeration value="Worker"/>
         <xs:enumeration value="Manager"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="CouponType">
      <xs:sequence>
         <xs:element name="CouponFamilyCode">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: A code assigned by the vendor to a single
                        trade item or to families of consumer trade items that can be used by in
                        store scanners in conjunction with a U.P.C. coupon value code for coupon
                        value discount when the proper trade item has been purchased. Business
                        Rules: It only applies to the consumer unit.</xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:nonNegativeInteger">
                  <xs:totalDigits value="3"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:attribute default="false" name="CouponFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>Indicates that coupons can be used with this
                    item</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="false" name="MultipleFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>Indicates whether multiple coupons are allowed on this
                    item</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="false" name="GenerateCouponFlag" type="xs:boolean" use="optional"/>
      <xs:attribute default="true" name="ElectronicCouponAllowedFlag" type="xs:boolean" use="optional"/>
   </xs:complexType>
</xs:schema>
