AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/RetailOperations/SellService/PriceChangeTaskSvc/PriceChangeProcess/Schema/RequestPriceChangeSchema.xsd

<xsd:schema targetNamespace="http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/v1.0" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/v1.0" xmlns:rp="http://mx.agarcia.ea/Canonical/Commons/ChangePrice/v1">
            <xsd:import schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/ChangePriceCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/ChangePrice/v1"/>
  <xsd:element name="requestPriceChange" type="requestPriceChangeType"/>

  <xsd:complexType name="requestPriceChangeType">
    <xsd:sequence>
      <xsd:element name="excelFile" type="xsd:base64Binary"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>