BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/CANALES/ConsultarVotaciones/Votaciones/XSD/ConsultarVotacionesBO_JSON.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ConsultarVotaciones" targetNamespace="http://www.bcie.org/ConsultarVotaciones" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="US-ASCII">
   <xsd:element name="ConsultarVotaciones">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="Votaciones">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Votacion" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="SolicitudAprobacion">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="idSolicitudAprobacion" type="xsd:integer"/>
                                       <xsd:element name="idOperacion" type="xsd:integer"/>
                                       <xsd:element name="nombreOperacion" type="xsd:string"/>
                                       <xsd:element name="tipoSolicitud">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="Id" type="xsd:integer"/>
                                                <xsd:element name="Descripcion" type="xsd:string"/>
                                                <xsd:element name="DescripcionCorta" type="xsd:string"/>
                                                <xsd:element name="estatus" type="xsd:boolean"/>
                                                <xsd:element name="codigoExterno" type="xsd:string"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="nivelAprobacion">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="Id" type="xsd:integer"/>
                                                <xsd:element name="Descripcion" type="xsd:string"/>
                                                <xsd:element name="DescripcionCorta" type="xsd:string"/>
                                                <xsd:element name="estatus" type="xsd:boolean"/>
                                                <xsd:element name="codigoExterno" type="xsd:string"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="esReunionVirtual" type="xsd:boolean"/>
                                       <xsd:element name="fechaInicio" type="xsd:date"/>
                                       <xsd:element name="fechaTermino" type="xsd:date"/>
                                       <xsd:element name="horaReunion" type="xsd:dateTime"/>
                                       <xsd:element name="lugar" type="xsd:string"/>
                                       <xsd:element name="loginUsuario" type="xsd:string"/>
                                       <xsd:element name="fechaAsignacion" type="xsd:dateTime"/>
                                       <xsd:element name="fechaCierre" type="xsd:date"/>
                                       <xsd:element name="loginUsuarioCierre" type="xsd:string"/>
                                       <xsd:element name="fechaRegistro" type="xsd:date"/>
                                       <xsd:element name="estado" type="xsd:boolean"/>
                                       <xsd:element name="marcadoComoLeido" type="xsd:boolean"/>
                                       <xsd:element name="cliente">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="idCliente" type="xsd:string"/>
                                                <xsd:element name="razonSocial" type="xsd:string"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="Usuario">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="idUsuarioReunion" type="xsd:integer"/>
                                       <xsd:element name="idSolicitudAprobacion" type="xsd:integer"/>
                                       <xsd:element name="rol">
                                          <xsd:complexType>
                                             <xsd:sequence>
                                                <xsd:element name="Id" type="xsd:integer"/>
                                                <xsd:element name="Descripcion" type="xsd:string"/>
                                                <xsd:element name="DescripcionCorta" type="xsd:string"/>
                                                <xsd:element name="estatus" type="xsd:string"/>
                                                <xsd:element name="codigoExterno" type="xsd:string"/>
                                             </xsd:sequence>
                                          </xsd:complexType>
                                       </xsd:element>
                                       <xsd:element name="usuario" type="xsd:string"/>
                                       <xsd:element name="dependecia" type="xsd:string"/>
                                       <xsd:element name="emiteVoto" type="xsd:boolean"/>
                                       <xsd:element name="notificar" type="xsd:boolean"/>
                                       <xsd:element name="fechaRegistro" type="xsd:date"/>
                                       <xsd:element name="otro" type="xsd:boolean"/>
                                       <xsd:element name="excusado" type="xsd:boolean"/>
                                       <xsd:element name="estado" type="xsd:boolean"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Result">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="result" type="xsd:string"/>
                     <xsd:element name="message" type="xsd:string"/>
                     <xsd:element name="error">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="errorCode" type="xsd:string"/>
                              <xsd:element name="errorDescription" type="xsd:string"/>
                              <xsd:element name="errorType" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>