AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Applications/JDA/JDACatalogs/Resources/JDAColorsWSDL.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Applications/JDA/Catalogs/ColorSize/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://mx.agarcia.ea/Applications/JDA/Catalogs/ColorSize/v1.0" xmlns:ns1="http://mx.agarcia.ea/Applications/JDA/Catalogs/ColorSize" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://mx.agarcia.ea/Applications/JDA/Catalogs/ColorSize" schemaLocation="../Schema/JDAColorSizeSchema.xsd"/>
            <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
            <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
        </schema>
    </wsdl:types>
    
    <wsdl:message name="createColorRequestMessage">
        <wsdl:part name="payload" element="ns1:createColorRequest"/>
    </wsdl:message>    
    <wsdl:message name="createColorResponseMessage">
        <wsdl:part name="payload" element="ns1:createColorResponse"/>
    </wsdl:message>
    
    
    <wsdl:message name="modifyColorRequestMessage">
        <wsdl:part name="payload" element="ns1:updateColorRequest"/>
    </wsdl:message>
    <wsdl:message name="modifyColorResponseMessage">
        <wsdl:part name="payload" element="ns1:updateColorResponse"/>
    </wsdl:message>


    <wsdl:message name="findColorNextIDRequestMessage">
        <wsdl:part name="payload" element="ns1:findNextColorIDRequest"/>
    </wsdl:message>
    <wsdl:message name="findColorNextIDResponseMessage">
        <wsdl:part name="payload" element="ns1:findNextColorIDResponse"/>
    </wsdl:message>
    
    
    <wsdl:message name="standardMessageHeader">
        <wsdl:part name="header" element="AGSH:headerMessage"/>
    </wsdl:message>
    <wsdl:message name="standardMessageHeaderResponse">
        <wsdl:part name="headerRes" element="AGSM:messageResponse"/>
    </wsdl:message>
    <wsdl:message name="standardMessageFault">
        <wsdl:part name="fault" element="AGSM:messageError"/>
    </wsdl:message>
    
    <wsdl:portType name="JDAColorSvcPort">
        <wsdl:operation name="create">
            <wsdl:input message="client:createColorRequestMessage"/>
            <wsdl:output message="client:createColorResponseMessage"/>
            <wsdl:fault message="client:standardMessageFault" name="fault"/>
        </wsdl:operation>
        
        <wsdl:operation name="modify">
            <wsdl:input message="client:modifyColorRequestMessage"/>
            <wsdl:output message="client:modifyColorResponseMessage"/>
            <wsdl:fault message="client:standardMessageFault" name="fault"/>
        </wsdl:operation>

        <wsdl:operation name="findNextID">
            <wsdl:input message="client:findColorNextIDRequestMessage"/>
            <wsdl:output message="client:findColorNextIDResponseMessage"/>
            <wsdl:fault message="client:standardMessageFault" name="fault"/>
        </wsdl:operation>
        
    </wsdl:portType>
    
    <wsdl:binding name="JDAColorSvcBinding" type="client:JDAColorSvcPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="create">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Applications/JDA/Catalogs/ColorSize/v1.0/create"/>
            <wsdl:input>
                <soap:body use="literal" parts="payload"/>
                <soap:header message="client:standardMessageHeader" part="header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="payload"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="modify">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Applications/JDA/Catalogs/ColorSize/v1.0/modify"/>
            <wsdl:input>
                <soap:body use="literal" parts="payload"/>
                <soap:header message="client:standardMessageHeader" part="header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="payload"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>   
        
        <wsdl:operation name="findNextID">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Applications/JDA/Catalogs/ColorSize/v1.0/findNextID"/>
            <wsdl:input>
                <soap:body use="literal" parts="payload"/>
                <soap:header message="client:standardMessageHeader" part="header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="payload"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>        
    </wsdl:binding>
</wsdl:definitions>