Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFParty/PartyStaffInq/PartyStaffInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFPartyAppSvc/PartyStaffInq_V1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:partyStaffInq="http://xmlns.banesco.com/appopt/WFPartyAppSvc/PartyStaffInq_V1.0"
           xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
  <xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
             schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
  <xs:complexType name="Identification">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="IssuedIdentType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Issued Idententification Type.

Identifier Type based on ISO 20022 definition with additions.

Valid values include: AlnRegnNb, BEI, BIC, BirthCertificate, BkPtyId, DrvrsLicNb, DUNS, EANGLN, HealthCard, IBEI, IdntyCardNb, MerchantId, Military, MplyrIdNb, NINO, NRABusiness, NRAPersonal, Other, Passbook, PermanentResidence, PrtryId, PsptNb, Retirement, SclSctyNb, TaxIdNb, USCHU, VoterRegistration.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Issued Identification Value.

Identification value associated with the identification type.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IssuedIdent">
    <xs:annotation>
      <xs:documentation>Issued Identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Ident" type="partyStaffInq:Identification" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identification type
Identification value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuedLoc" type="appoptcommon:ValueType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Issue Location</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrgData">
    <xs:annotation>
      <xs:documentation>Organization Data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Staff" type="partyStaffInq:OrgMember" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrgMember">
    <xs:annotation>
      <xs:documentation>Organization member</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="BirthDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Birth Date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryBirth" type="appoptcommon:Country" minOccurs="0" maxOccurs="1"/>
      <xs:element name="FATCA" type="partyStaffInq:FATCA" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Información de FATCA para staff</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Gender" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Gender.

Valid values include: Female, Male.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrgEstablishDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PartyData" type="partyStaffInq:PartyData" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PartyKey" type="partyStaffInq:PartyKey" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Customer ID´s</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PEPData" type="partyStaffInq:PEPData" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Información de PEP para staff</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PersonName" type="partyStaffInq:PersonName" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Profession" type="appoptcommon:ValueType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Profesion.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Shareholding" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Participación accionaria, aplica para accionistas</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SharesType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de acciones</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StaffPosition" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cargo, identifica el tipo  de staff

Position Main Staff</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrgPartyInfo">
    <xs:annotation>
      <xs:documentation>Organization PartyInfo extension.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="OrgData" type="partyStaffInq:OrgData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PEPData">
    <xs:annotation>
      <xs:documentation>Persona Expuesta Políticamente</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="GovEntity" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Entidad del Gobierno con la que mantiene relación contractual.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GovRelated" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Usted mantiene algún tipo de relación contractual con el Gobierno?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsPEP" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indica si el miembro es PEP</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrgIntBelong" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Pertenece usted a un Organismo Internacional?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PEPRelated" type="partyStaffInq:PEPRelated" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party">
    <xs:annotation>
      <xs:documentation>Party is a person or organization. A Party typically has some association with an account and fulfills roles such as:

a primary or partial ownership/responsibility for an account
a beneficiary of an account
has signatory authorization on an account
has legal authorization, such as power of attorney, for an account
A Party can have relationships to accounts, cards and other parties.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PartyKey" type="partyStaffInq:PartyKey" minOccurs="0" maxOccurs="1"/>
      <xs:element name="OrgPartyInfo" type="partyStaffInq:OrgPartyInfo" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyData">
    <xs:annotation>
      <xs:documentation>Party Data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Contact" type="partyStaffInq:Contact" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Information Contact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Nationality" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nationality</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuedIdent" type="partyStaffInq:IssuedIdent" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyKey">
    <xs:annotation>
      <xs:documentation>Customer ID´s</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Party Identifier.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PartyType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Party Type.

Value: Person or Org.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonData">
    <xs:annotation>
      <xs:documentation>Person Data Aggregate.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="partyStaffInq:PartyData">
        <xs:sequence>
          <xs:element name="PersonName" type="partyStaffInq:PersonName" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonName">
    <xs:annotation>
      <xs:documentation>Person Name.

The PersonName aggregate is used to specify a person's full name and, optionally, preferred name (nickname).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FirstName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Person's Given Name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LastName" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="SecondLastName" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="SecondName" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Contact">
    <xs:annotation>
      <xs:documentation>The Contact aggregate appears wherever a person's or organization's contact information is needed.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Locator" type="partyStaffInq:Locator" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Country">
    <xs:annotation>
      <xs:documentation>All representations of countries in the IFX Specification are based upon agreed upon standard codes between client and server. The default, if not specified, is the Alpha 3-character codes for countries that are defined in ISO-3166.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CountryCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Country Code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountryName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Country Name.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Locator">
    <xs:annotation>
      <xs:documentation>Information necessary to establish contact.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PostAddr" type="partyStaffInq:PostAddr" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="Phone" type="partyStaffInq:Phone" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Phone">
    <xs:annotation>
      <xs:documentation>Phone</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AreaCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código de área</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PhoneNum" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Phone Number</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PhoneType" type="appoptcommon:EnumPhoneType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Phone Type.
Fax, LandLine, Mobile</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PostAddr">
    <xs:annotation>
      <xs:documentation>The PostAddr aggregate is used wherever a postal address is needed.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AddrDesc" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Building" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nombre del residencial o del edificio de la dirección de correspondencia</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="City" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>City.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CountyDistrict" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>County District.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="HouseNumber" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>House Number, Apartment Number or Office Number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Jurisdiction" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Corregimiento</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PostalCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Postal Code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Province" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Province.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Street" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Street</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Country" type="partyStaffInq:Country" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyStaffInqRs_Type">
    <xs:sequence minOccurs="1" maxOccurs="1">
      <xs:element name="Party" type="partyStaffInq:Party" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Status" type="appoptcommon:Status" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartyStaffInqRs" type="partyStaffInq:PartyStaffInqRs_Type"/>
  <xs:complexType name="FATCA">
    <xs:annotation>
      <xs:documentation>FATCA</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="GIIN" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de identificación GIIN.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherNationality" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Tiene usted otra nacionalidad?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="US183Permanence" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Ha permanecido usted en los últimos 3 años más de 183 días en los EEUU?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="USRelated" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Está usted vinculado a algún individuo o entidad estadounidense?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="USResid" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Es usted ciudadano o residente de los Estados Unidos de América?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="USSignor" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Es usted firmante autorizado en una entidad americana?</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PEPRelated">
    <xs:sequence>
      <xs:element name="Country" type="appoptcommon:Country" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartyStaffInqRq" type="partyStaffInq:PartyStaffInqRq_Type"/>
  <xs:complexType name="PartyStaffInqRq_Type">
    <xs:sequence>
      <xs:element name="Party">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="OrgPartyInfo" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="OrgData" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                      <xs:sequence>
                        <xs:element name="IssuedIdent" type="partyStaffInq:IssuedIdent" minOccurs="0"
                                    maxOccurs="unbounded"/>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="PartyKey" type="partyStaffInq:PartyKey" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
