BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/CrearCuestionario/XSD/GenerarCuestionarioSP_V2.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_GENERAR_CUESTIONARIO_PROCESO" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_GENERAR_CUESTIONARIO_PROCESO" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="NUM_OPERACION" type="int" db:index="1" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="NUM_PROCESO_BPM" type="int" db:index="2" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="REGENERAR" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RESPUESTA" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
