AG_2019/OSB/OSB_PRD_Almacenes/RetailOperations/SellService/PriceChangeTaskSvc/PriceChangeProcess/Schema/PriceChangeSaveSchema.xsd

<xsd:schema targetNamespace="http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/PriceChangeProcess/BS/PriceChangeSaveProcess" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/PriceChangeProcess/BS/PriceChangeSaveProcess" xmlns:rp="http://mx.agarcia.ea/Canonical/Commons/ChangePrice/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xsd:import schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/ChangePriceCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/ChangePrice/v1"/>
  <xsd:element name="SavePriceChangeRequest" type="savePriceChangeEventDataType"/>
  <xsd:complexType name="savePriceChangeEventDataType">
    <xsd:sequence>
      <xsd:element name="event" type="rp:Event"/>
    </xsd:sequence>
  </xsd:complexType>
  <xs:complexType name="XxPcExportHead">
    <xs:sequence>
      <xs:element name="pcExportId" type="xs:int"/>
      <xs:element name="evType" type="xs:string" minOccurs="0" nillable="true"/>
      <xs:element name="startDt" type="xs:dateTime" minOccurs="0" nillable="true"/>
      <xs:element name="endDt" type="xs:dateTime" minOccurs="0" nillable="true"/>
      <xs:element name="reasonCd" type="xs:string" minOccurs="0" nillable="true"/>
      <xs:element name="levelCd" type="xs:string" minOccurs="0" nillable="true"/>
      <xs:element name="evDesc" type="xs:string" minOccurs="0" nillable="true"/>
      <xs:element name="exportFlg" type="xs:decimal" minOccurs="0" nillable="true"/>
      <xs:element name="pcExportPackId" type="xs:string" minOccurs="0" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
</xsd:schema>