BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioCliente/ConsultarContactos/XSD/ConsultarContactos.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarContactos" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarContactos" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarContactosInput" type="ConsultarContactosInput"/>
   <xs:complexType name="ConsultarContactosInput">
      <xs:sequence>
         <xs:element name="idCliente" type="xs:integer" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarContactosOutputCollection" type="ConsultarContactosOutputCollection"/>
   <xs:complexType name="ConsultarContactosOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarContactosOutput" type="ConsultarContactosOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarContactosOutput">
      <xs:sequence>
         <xs:element name="ID_CONTACTOS_CLIENTES" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_CLIENTE" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_CONTACTO" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE" type="xs:string" nillable="true"/>
         <xs:element name="CORREO_ELECTRONICO" type="xs:string" nillable="true"/>
         <xs:element name="CARGO" type="xs:string" nillable="true"/>
         <xs:element name="TELEFONO" type="xs:string" nillable="true"/>
         <xs:element name="RECIBE_AVISO_COBRO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>