Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/WFCardDbAppSvc/WFCardDbAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="WFCardDbAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/WFCardDbAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/WFCardDbAppSvc_V1.0"
                  xmlns:appoptCardDbAdd="http://xmlns.banesco.com/appopt/WFCardDbAppSvc/CardDbAdd_V1.0"
                  
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/eo/Status_V1.0"
                  schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/WFCardDbAppSvc/CardDbAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/WFCardDb/CardDbAdd/CardDbAdd_V1.0.xsd"/>
      
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="CardDbAddRq">
    <wsdl:part name="CardDbAddRq" element="appoptCardDbAdd:CardDbAddRq"/>
  </wsdl:message>
  <wsdl:message name="CardDbAddRs">
    <wsdl:part name="CardDbAddRs" element="appoptCardDbAdd:CardDbAddRs"/>
  </wsdl:message>


  <wsdl:portType name="WFCardDbAppSvcPort">
    <wsdl:operation name="CardDbAdd">
      <wsdl:input message="tns:CardDbAddRq"/>
      <wsdl:output message="tns:CardDbAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>

  </wsdl:portType>
  <wsdl:binding name="WFCardDbAppSvcBinding_SOAP11" type="tns:WFCardDbAppSvcPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="CardDbAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/WFCardDbAppSvc_V1.0/CardDbAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="CardDbAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="CardDbAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>

  </wsdl:binding>
  <wsdl:service name="WFCardDbAppSvc_V1.0">
    <wsdl:port name="WFCardDbAppSvc_V1.0" binding="tns:WFCardDbAppSvcBinding_SOAP11">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>