BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ValidarInicioFormalizacion/XSD/ValidarInicioAutomaticoFormalizacion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ValidarInicioAutomaticoFormalizacion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ValidarInicioAutomaticoFormalizacion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ValidarInicioAutomaticoFormalizacionInput" type="ValidarInicioAutomaticoFormalizacionInput"/>
   <xs:complexType name="ValidarInicioAutomaticoFormalizacionInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ValidarInicioAutomaticoFormalizacionOutputCollection" type="ValidarInicioAutomaticoFormalizacionOutputCollection"/>
   <xs:complexType name="ValidarInicioAutomaticoFormalizacionOutputCollection">
      <xs:sequence>
         <xs:element name="ValidarInicioAutomaticoFormalizacionOutput" type="ValidarInicioAutomaticoFormalizacionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ValidarInicioAutomaticoFormalizacionOutput">
      <xs:sequence>
         <xs:element name="INICIO_AUTOMATICO" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>