Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/BizLayer/Banking/BankingSvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/BizLayer/BankingSvc_V1.0" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://xmlns.banesco.com/BizLayer/BankingSvc_V1.0"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptChkOrdImgInq="http://xmlns.banesco.com/eopt/ChkOrdImgInq_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Banking/ChkOrdImgInq/ChkOrdImgInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/ChkOrdImgInq_V1.0"/>
    </xsd:schema>
  </types>
  
  <message name="BusinessFault">
    <part name="BusinessFault" element="eoStatus:BusinessFault"/>
  </message>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="ChkOrdImgInqRq">
    <part name="ChkOrdImgInqRq" element="eoptChkOrdImgInq:ChkOrdImgInqRq"/>
  </message>
  <message name="ChkOrdImgInqRs">
    <part name="ChkOrdImgInqRs" element="eoptChkOrdImgInq:ChkOrdImgInqRs"/>
  </message>
  
  <portType name="BankingSvc_V1.0PortType">
    <operation name="ChkOrdImgInq">
      <input message="tns:ChkOrdImgInqRq"/>
      <output message="tns:ChkOrdImgInqRs"/>
      <fault name="BusinessFault" message="tns:BusinessFault"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
  </portType>
  <binding name="BankingSvc_V1.0SOAPBinding" type="tns:BankingSvc_V1.0PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ChkOrdImgInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/BankingSvc_V1.0/ChkOrdImgInq"/>
      <input>
        <soap:body use="literal" parts="ChkOrdImgInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="ChkOrdImgInqRs"/>
      </output>
      <fault name="BusinessFault">
        <soap:fault name="BusinessFault" use="literal"/>
      </fault>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BankingSvc_V1.0">
    <port name="BankingSvcPort" binding="tns:BankingSvc_V1.0SOAPBinding">
      <soap:address location="http://www.example.com"/>
    </port>
  </service>
</definitions>