AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Capabilities/Core/Items/SizeEntitySvc/Resources/WSDL/LinkGroupDiffTaskActionSvc.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Items/LinkGroupDiffTaskAction/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://mx.agarcia.ea/Capabilities/Core/Items/LinkGroupDiffTaskAction/v1.0" xmlns:ns1="http://mx.agarcia.ea/Capabilities/Core/Items/LinkGroupDiffEntity" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   
	<wsdl:types>
          <schema xmlns="http://www.w3.org/2001/XMLSchema">
              <import namespace="http://mx.agarcia.ea/Capabilities/Core/Items/LinkGroupDiffEntity" schemaLocation="../Schemas/LinkGroupDiffEntitySchema.xsd"/>              
              <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
              <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
          </schema> 
	</wsdl:types>
        
        
 <wsdl:message name="linkGroupDiffRequest">
  <wsdl:part name="linkGroupDiffRequest" element="ns1:linkGroupDiffRequest"/>
 </wsdl:message>
 
 <wsdl:message name="linkGroupDiffResponse">
  <wsdl:part name="linkGroupDiffResponse" element="ns1:linkGroupDiffResponse"/>
 </wsdl:message>
 
 <wsdl:message name="standardMessageFault">
  <wsdl:part name="fault" element="AGSM:messageError"/>
 </wsdl:message>
 <wsdl:message name="standardMessageHeader">
  <wsdl:part name="header" element="AGSH:headerMessage"/>
 </wsdl:message>
 
 
 <wsdl:portType name="DiffEntityPType">
  <wsdl:operation name="linkGroupDiff">
   <wsdl:input message="client:linkGroupDiffRequest"/>
   <wsdl:output message="client:linkGroupDiffResponse"/>
   <wsdl:fault name="fault" message="client:standardMessageFault"/>
  </wsdl:operation>
  
 </wsdl:portType>
 <wsdl:binding name="DiffEntityBinding" type="client:DiffEntityPType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="linkGroupDiff">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Items/DiffEntitySvc/linkGroupDiff"/>
   <wsdl:input>
    <soap:body use="literal" parts="linkGroupDiffRequest"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="linkGroupDiffResponse"/>
   </wsdl:output>
   <wsdl:fault name="fault">
    <soap:fault name="fault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
  
 </wsdl:binding>
</wsdl:definitions>