AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Capabilities/Core/Items/SizeEntitySvc/Resources/WSDL/SizeEntitySvc.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Items/SizeEntitySvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://mx.agarcia.ea/Capabilities/Core/Items/SizeEntitySvc" xmlns:ns1="http://mx.agarcia.ea/Capabilities/Foundation/Party/SizeEntitySvc" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   
	<wsdl:types>
          <schema xmlns="http://www.w3.org/2001/XMLSchema">
              <import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/SizeEntitySvc" schemaLocation="../Schemas/SizeEntitySchema.xsd"/>
              <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
              <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
          </schema> 
	</wsdl:types>
        
        
 <wsdl:message name="createSizeGroupRequest">
  <wsdl:part name="createSizeGroupRequest" element="ns1:createSizeGroupRequest"/>
 </wsdl:message>
 
 <wsdl:message name="createSizeGroupResponse">
  <wsdl:part name="createSizeGroupResponse" element="ns1:createSizeGroupResponse"/>
 </wsdl:message>
 
  <wsdl:message name="createSizeRequest">
  <wsdl:part name="createSizeRequest" element="ns1:createSizeRequest"/>
 </wsdl:message>
 
 <wsdl:message name="createSizeResponse">
  <wsdl:part name="createSizeResponse" element="ns1:createSizeResponse"/>
 </wsdl:message>
 
 
   <wsdl:message name="updateSizeGroupRequest">
  <wsdl:part name="updateSizeGroupRequest" element="ns1:updateSizeGroupRequest"/>
 </wsdl:message>
 
 <wsdl:message name="updateSizeGroupResponse">
  <wsdl:part name="updateSizeGroupResponse" element="ns1:updateSizeGroupResponse"/>
 </wsdl:message>
 
<wsdl:message name="updateSizeRequest">
  <wsdl:part name="updateSizeRequest" element="ns1:updateSizeRequest"/>
 </wsdl:message>
 
 <wsdl:message name="updateSizeResponse">
  <wsdl:part name="updateSizeResponse" element="ns1:updateSizeResponse"/>
 </wsdl:message>
 
 <wsdl:message name="standardMessageFault">
  <wsdl:part name="fault" element="AGSM:messageError"/>
 </wsdl:message>
 <wsdl:message name="standardMessageHeader">
  <wsdl:part name="header" element="AGSH:headerMessage"/>
 </wsdl:message>
 
 
 <wsdl:portType name="SizeEntityPType">
  <wsdl:operation name="createSizeGroup">
   <wsdl:input message="client:createSizeGroupRequest"/>
   <wsdl:output message="client:createSizeGroupResponse"/>
   <wsdl:fault name="fault" message="client:standardMessageFault"/>
  </wsdl:operation>
  
  <wsdl:operation name="createSize">
   <wsdl:input message="client:createSizeRequest"/>
   <wsdl:output message="client:createSizeResponse"/>
   <wsdl:fault name="fault" message="client:standardMessageFault"/>
  </wsdl:operation>
  
  <wsdl:operation name="updateSizeGroup">
   <wsdl:input message="client:updateSizeGroupRequest"/>
   <wsdl:output message="client:updateSizeGroupResponse"/>
   <wsdl:fault name="fault" message="client:standardMessageFault"/>
  </wsdl:operation>
  
  <wsdl:operation name="updateSize">
   <wsdl:input message="client:updateSizeRequest"/>
   <wsdl:output message="client:updateSizeResponse"/>
   <wsdl:fault name="fault" message="client:standardMessageFault"/>
  </wsdl:operation>
  
 </wsdl:portType>
 <wsdl:binding name="SizeEntityBinding" type="client:SizeEntityPType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="createSizeGroup">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Items/SizeEntitySvc/createSizeGroup"/>
   <wsdl:input>
    <soap:body use="literal" parts="createSizeGroupRequest"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="createSizeGroupResponse"/>
   </wsdl:output>
   <wsdl:fault name="fault">
    <soap:fault name="fault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="createSize">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Items/SizeEntitySvc/createSize"/>
   <wsdl:input>
    <soap:body use="literal" parts="createSizeRequest"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="createSizeResponse"/>
   </wsdl:output>
   <wsdl:fault name="fault">
    <soap:fault name="fault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="updateSizeGroup">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Items/SizeEntitySvc/updateSizeGroup"/>
   <wsdl:input>
    <soap:body use="literal" parts="updateSizeGroupRequest"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="updateSizeGroupResponse"/>
   </wsdl:output>
   <wsdl:fault name="fault">
    <soap:fault name="fault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="updateSize">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Items/SizeEntitySvc/updateSize"/>
   <wsdl:input>
    <soap:body use="literal" parts="updateSizeRequest"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="updateSizeResponse"/>
   </wsdl:output>
   <wsdl:fault name="fault">
    <soap:fault name="fault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>