BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioLeccionesAprendidas/LeccionAprendida/V1/Schema/LeccionAprendidaMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.bcie.org/LeccionAprendidaMO"
            xmlns:leccionBO="http://www.bcie.org/LeccionAprendidaBO"
            xmlns:resBO="http://www.bcie.org/ResultBO"
            targetNamespace="http://www.bcie.org/LeccionAprendidaMO" elementFormDefault="qualified">
            <xsd:import namespace="http://www.bcie.org/LeccionAprendidaBO" schemaLocation="LeccionAprendidaBO.xsd"/>
            <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
  <xsd:element name="ConsultarRolesCategoriaLeccionAprendidaRequest" type="ConsultarRolesCategoriaLeccionAprendidaRequestType"/>
  <xsd:element name="ConsultarRolesCategoriaLeccionAprendidaResponse" type="ConsultarRolesCategoriaLeccionAprendidaResponseType"/>
  <xsd:element name="ActualizarEstadoLeccionAprendidaRequest" type="ActualizarEstadoLeccionAprendidaRequestType"/>
  <xsd:element name="ActualizarEstadoLeccionAprendidaResponse" type="ActualizarEstadoLeccionAprendidaResponseType"/>
  <xsd:complexType name="ConsultarRolesCategoriaLeccionAprendidaRequestType">
    <xsd:sequence>
      <xsd:element name="LeccionAprendida" type="leccionBO:LeccionAprendidaType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarRolesCategoriaLeccionAprendidaResponseType">
    <xsd:sequence>
      <xsd:element name="LeccionAprendida" type="leccionBO:LeccionAprendidaType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarEstadoLeccionAprendidaRequestType">
    <xsd:sequence>
      <xsd:element name="idLeccionAprendida" type="xsd:long"/>
      <xsd:element name="idEstado" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarEstadoLeccionAprendidaResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
