BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioLeccionesAprendidas/LeccionAprendida/V1/Schema/LeccionAprendidaBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:leccion="http://www.bcie.org/LeccionAprendidaBO"
            targetNamespace="http://www.bcie.org/LeccionAprendidaBO" elementFormDefault="qualified" 
            xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:operBO="http://www.bcie.org/OperacionBO"
            xmlns:prodBO="http://www.bcie.org/ProductoBO" xmlns:procOPN="http://xmlns.bcie.org/ObjetoProceso/Comun/Proceso/V1"
            xmlns:tarOPN="http://xmlns.bcie.org/ObjetoProceso/Comun/Tarea/V1">
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ProductoBO" schemaLocation="../../../../DominioProducto/Producto/V1/Schema/ProductoBO.xsd"/>
  <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Proceso/V1" schemaLocation="../../../../../BPM/Schema/Comun/Proceso/V1/ProcesoOPN.xsd"/>
  <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Tarea/V1" schemaLocation="../../../../../BPM/Schema/Comun/Tarea/V1/TareaOPN.xsd"/>
  <xsd:element name="CategoriaPayload" type="leccion:CategoriaType"/>
  <xsd:complexType name="LeccionAprendidaType">
    <xsd:sequence>
      <xsd:element name="idLeccionAprendida" type="xsd:long"/>
      <xsd:element name="descripcion" type="xsd:string"/>
      <xsd:element name="recomendacion" type="xsd:string"/>
      <xsd:element name="nivelIncidencia" type="xsd:string"/>
      <xsd:element name="usuario" type="xsd:string"/>
      <xsd:element name="estado" type="catBO:Catalogo"/>
      <xsd:element name="producto" type="prodBO:ProductoBasicType"/>
      <xsd:element name="operacion" type="operBO:OperacionBasicType"/>
      <xsd:element name="proceso" type="procOPN:Proceso"/>
      <xsd:element name="tarea" type="tarOPN:Tarea"/>
      <xsd:element name="categorias" type="leccion:CategoriasType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CategoriasType">
    <xsd:sequence>
      <xsd:element name="categoria" minOccurs="0" maxOccurs="unbounded" type="leccion:CategoriaType">
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="CategoriaType" >
    <xsd:complexContent>
      <xsd:extension base="catBO:Catalogo">
        <xsd:sequence>
          <xsd:element name="rol" type="catBO:Catalogo"/>
          <xsd:element name="usuario" type="xsd:string"/>
          <xsd:element name="respuesta" type="xsd:string"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>