AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Applications/JDA/JDASupplier/Resources/JDAQuerySupplierWSDL.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Applications/JDA/Suppliers/QuerySupplier/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://mx.agarcia.ea/Applications/JDA/Suppliers/QuerySupplier/v1.0" xmlns:ns1="http://mx.agarcia.ea/Applications/JDA/Supplier/QuerySupplier" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://mx.agarcia.ea/Applications/JDA/Supplier/QuerySupplier" schemaLocation="../Schema/JDAQuerySupplierSchema.xsd"/>
                        <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
                        <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
		</schema>
	</wsdl:types>

     
	<wsdl:message name="findSupplierByIdRequestMessage">
		<wsdl:part name="payload" element="ns1:findSupplierByIdRequest"/>
	</wsdl:message>

	<wsdl:message name="findSupplierByIdResponseMessage">
		<wsdl:part name="payload" element="ns1:findSupplierByIdResponse"/>
	</wsdl:message>

        <wsdl:message name="standardMessageHeader">
		<wsdl:part name="header" element="AGSH:headerMessage"/>
	</wsdl:message>
        <wsdl:message name="standardMessageHeaderResponse">
		<wsdl:part name="headerRes" element="AGSM:messageResponse"/>
	</wsdl:message>

        <wsdl:message name="standardMessageFault">
    <wsdl:part name="fault" element="AGSM:messageError"/>
  </wsdl:message>
  
  
	<wsdl:portType name="findSupplierByIdPort">
		<wsdl:operation name="findById">
			<wsdl:input message="client:findSupplierByIdRequestMessage"/>
			<wsdl:output message="client:findSupplierByIdResponseMessage"/>
                        <wsdl:fault message="client:standardMessageFault" name="fault"/>
		</wsdl:operation>
	</wsdl:portType>

 <wsdl:binding name="findSupplierByIdBinding" type="client:findSupplierByIdPort">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="findById">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Applications/JDA/Supplier/QuerySupplier/v1.0/findById"/>
   <wsdl:input>
    <soap:body use="literal" parts="payload"/>
    <soap:header message="client:standardMessageHeader" part="header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="payload"/>
   </wsdl:output>
   <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
   
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>