BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ConsultarResponsableSolicitud/XSD/ConsultarResponsableSolicitud_BD_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ConsultarResponsableSolicitud_BD" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ConsultarResponsableSolicitud_BD" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="EquipoTrabajoCollection" type="EquipoTrabajoCollection"/>
   <xs:complexType name="EquipoTrabajoCollection">
      <xs:sequence>
         <xs:element name="EquipoTrabajo" type="EquipoTrabajo" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EquipoTrabajo">
      <xs:sequence>
         <xs:element name="id" type="xs:int"/>
         <xs:element name="idOperacion" type="xs:long" minOccurs="0"/>
         <xs:element name="idTcaRolBpm" type="xs:int" minOccurs="0"/>
         <xs:element name="idTcaProcesoBpm" type="xs:int" minOccurs="0"/>
         <xs:element name="usuario" type="string64" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarResponsableSolicitud_BDSelect_idOperacionInputParameters" type="ConsultarResponsableSolicitud_BDSelect_idOperacion"/>
   <xs:complexType name="ConsultarResponsableSolicitud_BDSelect_idOperacion">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:long" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string64">
      <xs:restriction base="xs:string">
         <xs:maxLength value="64"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>