AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/RetailOperations/Buy/CostChangeTaskSvc/CostChangeExcelParsing/Resources/WSDLs/CostChangeExcelParsingWSDL.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/RetailOperations/Buy/CostChange/CostChangeExcelParsing/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:cost="http://mx.agarcia.ea/RetailOperations/Buy/CostChange/CostChangeExcelParsing/v1.0" xmlns:ns1="http://mx.agarcia.ea/Capabilities/Foundation/Party/CostChangeTask" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/CostChangeTask" schemaLocation="../../../Schema/CostChangeTaskSvcSchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="costChangeExcelParsingRequest">
      <wsdl:part name="costChangeExcelParsingRequest" element="ns1:costChangeExcelParsingRequest"/>
   </wsdl:message>
   <wsdl:message name="costChangeExcelParsingResponse">
      <wsdl:part name="costChangeExcelParsingResponse" element="ns1:costChangeExcelParsingResponse"/>
   </wsdl:message>
   
     <wsdl:message name="standardMessageFault">
      <wsdl:part name="fault" element="AGSM:messageError"/>
   </wsdl:message>
   <wsdl:message name="standardMessageHeader">
      <wsdl:part name="header" element="AGSH:headerMessage"/>
   </wsdl:message>
   
   
   <wsdl:portType name="ExcelParsingPType">
      <wsdl:operation name="parsing">
         <wsdl:input message="cost:costChangeExcelParsingRequest"/>
         <wsdl:output message="cost:costChangeExcelParsingResponse"/>
         <wsdl:fault message="cost:standardMessageFault" name="fault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="ExcelParsingBinding" type="cost:ExcelParsingPType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="parsing">
         <soap:operation style="document" soapAction="http://mx.agarcia.ea/RetailOperations/Buy/CostChange/CostChangeExcelParsing/v1.0/parsing"/>
         <wsdl:input>
            <soap:body use="literal" parts="costChangeExcelParsingRequest"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="costChangeExcelParsingResponse"/>
         </wsdl:output>
         <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>