AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Capabilities/Core/Supplier/SupplierEntitySvc/Resources/WSDL/FindSupplierByIdProcess.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Suppliers/FindByIdSupplierProcess/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:supp="http://mx.agarcia.ea/Capabilities/Core/Suppliers/FindByIdSupplierProcess/v1.0" xmlns:ns1="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  
<wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">

<import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" schemaLocation="../../Schema/SupplierEntitySchema.xsd"/>
        
        
        
                        <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
                        
                        <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
                     
</schema>
</wsdl:types>
  <wsdl:message name="findByIdRequest">
    <wsdl:part name="FindById" element="ns1:findByIdRequest"/>
  </wsdl:message>
  <wsdl:message name="findByIdResponse">
    <wsdl:part name="findByIdRespose" element="ns1:findByIdResponse"/>
  </wsdl:message>
  <wsdl:message name="standardMessageFault">
    <wsdl:part name="fault" element="AGSM:messageError"/>
  </wsdl:message>
  <wsdl:message name="standardMessageHeader">
    <wsdl:part name="header" element="AGSH:headerMessage"/>
  </wsdl:message>
  <wsdl:portType name="FindSupplierByIdProcessPType">
    <wsdl:operation name="findById">
      <wsdl:input message="supp:findByIdRequest"/>
      <wsdl:output message="supp:findByIdResponse"/>
      <wsdl:fault message="supp:standardMessageFault" name="fault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FindSupplierByIdProcessBinding" type="supp:FindSupplierByIdProcessPType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="findById">
      <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Suppliers/FindByIdSupplierProcess/v1.0/findById"/>
      <wsdl:input>
        <soap:body use="literal" parts="FindById"/>
        <soap:header message="supp:standardMessageHeader" part="header" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="findByIdRespose"/>
        
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>