AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Capabilities/Core/Supplier/SupplierEntitySvc/Resources/WSDL/ModifySupplierTaskActionSvc.wsdl

<wsdl:definitions name="ModifySupplierProcess" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Supplier/ModifySupplierTaskActionSvc/v1.0" xmlns:tns="http://mx.agarcia.ea/Capabilities/Core/Supplier/ModifySupplierTaskActionSvc/v1.0" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" schemaLocation="../../Schema/SupplierEntitySchema.xsd"/>
            <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
            <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="modifyRequest">
        <wsdl:part name="part1" element="inp1:modifyRequest"/>
    </wsdl:message>
    <wsdl:message name="modifyResponse">
        <wsdl:part name="part1" element="inp1:modifyResponse"/>
    </wsdl:message>
    <wsdl:message name="standardMessageFault">
        <wsdl:part name="part1" element="AGSM:messageError"/>
    </wsdl:message>
    <wsdl:message name="standardMessageHeader">
    <wsdl:part name="header" element="AGSH:headerMessage"/>
  </wsdl:message>
        <wsdl:portType name="ModifySupplierTaskActionPType">
        <wsdl:operation name="modify">
            <wsdl:input message="tns:modifyRequest"/>
            <wsdl:output message="tns:modifyResponse"/>
            <wsdl:fault name="fault" message="tns:standardMessageFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ModifySupplierTaskActionBinding" type="tns:ModifySupplierTaskActionPType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="modify">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Supplier/ModifySupplierTaskActionSvc/v1.0/modify"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>