BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/TBLineaCredito/ConsultarTBILineaCredito/XSD/TBILineaCredito.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTBLineaCredito" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTBLineaCredito" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarTBLineaCreditoRequest" type="ConsultarTBLineaCreditoRequest"/>
   <xs:complexType name="ConsultarTBLineaCreditoRequest">
      <xs:sequence>
         <xs:element name="INSTANCIA_PROCESO" type="xs:long" nillable="true"/>
         <xs:element name="ID_CONTRATO" type="xs:long" nillable="true"/>
         <xs:element name="NUMERO_LINEA_CREDITO" type="xs:string" nillable="true"/>
         <xs:element name="ID_LINEA_CREDITO" type="xs:long" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarTBLineaCreditoResponse" type="ConsultarTBLineaCreditoResponseCollection"/>
   <xs:complexType name="ConsultarTBLineaCreditoResponseCollection">
      <xs:sequence>
         <xs:element name="ConsultarTBLineaCreditoResponse" type="TBLineaCreditoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TBLineaCreditoType">
      <xs:sequence>
         <xs:element name="ID" type="xs:long" nillable="true"/>
         <xs:element name="ID_CONTRATO" type="xs:long" nillable="true"/>
         <xs:element name="ID_LINEA_CREDITO" type="xs:long" nillable="true"/>
         <xs:element name="ID_TAREA_BPM" type="xs:long" nillable="true"/>
         <xs:element name="INSTANCIA_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="ESTADO_LINEA_CREDITO" type="xs:string" nillable="true"/>
         <xs:element name="USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:long" nillable="true"/>
         <xs:element name="NUMERO_LINEA_CREDITO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>