AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Capabilities/Core/Items/CreateItemEntitySvc/Schemas/CreateSKUTaskActionSchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Items/CreateSKUTaskAction" elementFormDefault="qualified" xmlns:base="http://mx.agarcia.ea/Capabilities/Core/Items/CreateSKUTaskAction" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:item="http://mx.agarcia.ea/Canonical/Commons/Items/v1">



  <xs:import schemaLocation="../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
  <xs:import schemaLocation="../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>
  <xs:import schemaLocation="../../../../Foundation/Schemas/Commons/ItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Items/v1"/>
  <xs:element name="createItemRequest" type="base:CreateItem"/>
  <xs:element name="createItemResponse" type="AGsm:MessageResponse"/>
  <xs:complexType name="CreateItem">
    <xs:sequence>
      <xs:element name="items" type="item:ItemList"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>