AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/InventoryCountApp/CreateInventoryCountRMSAdapterService/Resources/Schema/FtpRMSFile.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" 
xmlns:tns="http://www.agarcia.mx/InventoryCount" targetNamespace="http://www.agarcia.mx/InventoryCount" 
elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="US-ASCII">


  <xsd:element name="FileRMS">
    <xsd:complexType>
      <xsd:choice minOccurs="1" maxOccurs="unbounded" nxsd:choiceCondition="fixedLength" nxsd:length="5">
         <xsd:element name="FHEAD" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="FHEAD">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="TranslatorId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="4"/>
              <xsd:element name="FileCreateDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="StockTakeDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="CycleCount" type="xsd:string" nxsd:style="fixedLength" nxsd:length="8"/>
              <xsd:element name="LocationType" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="Location" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="FDETL" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="FDETL">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="ItemType" type="xsd:string" nxsd:style="fixedLength" nxsd:length="3"/>
              <xsd:element name="ItemValue" type="xsd:string" nxsd:style="fixedLength" nxsd:length="25"/>
              <xsd:element name="Quantity" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
        <xsd:element name="FTAIL" nxsd:style="array" nxsd:cellSeparatedBy="${eol}" nxsd:conditionValue="FTAIL">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="LineId" type="xsd:integer" nxsd:style="fixedLength" nxsd:length="10"/>
              <xsd:element name="Lines" type="xsd:integer" nxsd:style="fixedLength" nxsd:length="10"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:choice>
    </xsd:complexType>
  </xsd:element>

<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=FtpFileRMS.txt</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>