AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Applications/MDM/Resources/MDMSavePriceChangeDBBS.wsdl

<wsdl:definitions name="MDMSavePriceChangeDBBS" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/PriceChangeTaskSvcApp/PriceChangeTaskSvc/MDMSavePriceChangeDBBS" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/PriceChangeTaskSvcApp/PriceChangeTaskSvc/MDMSavePriceChangeDBBS" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/MDMSavePriceChangeDBBS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="MDMSavePriceChangeDBBS_plt">
    <plt:role name="MDMSavePriceChangeDBBS_role">
      <plt:portType name="tns:MDMSavePriceChangeDBBS_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/MDMSavePriceChangeDBBS" schemaLocation="MDMSavePriceChangeDBBS_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="MDMSavePriceChangeDBBSSelect_inputParameters">
        <wsdl:part name="MDMSavePriceChangeDBBSSelect_inputParameters" element="top:MDMSavePriceChangeDBBSSelect_pEventIDInputParameters"/>
    </wsdl:message>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:PrcEventsPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="PrcEventsCollection_msg">
        <wsdl:part name="PrcEventsCollection" element="top:PrcEventsCollection"/>
    </wsdl:message>
    <wsdl:portType name="MDMSavePriceChangeDBBS_ptt">
        <wsdl:operation name="merge">
            <wsdl:input message="tns:PrcEventsCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="MDMSavePriceChangeDBBSSelect">
            <wsdl:input message="tns:MDMSavePriceChangeDBBSSelect_inputParameters"/>
            <wsdl:output message="tns:PrcEventsCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:PrcEventsCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>