Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/UtilityAppSvc/UtilityAppSvc_V1.0.wsdl

<wsdl:definitions name="UtilityAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/UtilityAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/UtilityAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
                  xmlns:appoptPmtSessionInq="http://xmlns.banesco.com/appopt/UtilityAppSvc/PmtSessionInq_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:appoptAlertAdv="http://xmlns.banesco.com/appopt/UtilityAppSvc/AlertAdv_V1.0"
                  xmlns:appoptTrnPmtInq="http://xmlns.banesco.com/appopt/UtilityAppSvc/TrnPmtInq_V1.0"
                  xmlns:appoptOnlineBankTrnAdv="http://xmlns.banesco.com/appopt/UtilityAppSvc/OnlineBankTrnAdv_V1.0"
                  xmlns:appoptTrnAuditInq="http://xmlns.banesco.com/appopt/UtilityAppSvc/TrnAuditInq_V1.0"
                  xmlns:appoptPartyOnlineBankInq="http://xmlns.banesco.com/appopt/UtilityAppSvc/PartyOnlineBankInq_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/UtilityAppSvc/PmtSessionInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/Utility/PmtSessionInq/PmtSessionInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/UtilityAppSvc/AlertAdv_V1.0"
                  schemaLocation="../../../xsd/AppOpt/Utility/AlertAdv/AlertAdv_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/UtilityAppSvc/TrnPmtInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/Utility/TrnPmtInq/TrnPmtInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/UtilityAppSvc/OnlineBankTrnAdv_V1.0"
                  schemaLocation="../../../xsd/AppOpt/Utility/OnlineBankTrnAdv/OnlineBankTrnAdv_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/UtilityAppSvc/TrnAuditInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/Utility/TrnAuditInq/TrnAuditInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/UtilityAppSvc/PartyOnlineBankInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/Utility/PartyOnlineBankInq/PartyOnlineBankInq_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="PmtSessionInqRq">
    <wsdl:part name="PmtSessionInqRq" element="appoptPmtSessionInq:PmtSessionInqRq"/>
  </wsdl:message>
  <wsdl:message name="PmtSessionInqRs">
    <wsdl:part name="PmtSessionInqRs" element="appoptPmtSessionInq:PmtSessionInqRs"/>
  </wsdl:message>
  <wsdl:message name="AlertAdvRq">
    <wsdl:part name="AlertAdvRq" element="appoptAlertAdv:AlertAdvRq"/>
  </wsdl:message>
  <wsdl:message name="AlertAdvRs">
    <wsdl:part name="AlertAdvRs" element="appoptAlertAdv:AlertAdvRs"/>
  </wsdl:message>
  <wsdl:message name="TrnPmtInqRq">
    <wsdl:part name="TrnPmtInqRq" element="appoptTrnPmtInq:TrnPmtInqRq"/>
  </wsdl:message>
  <wsdl:message name="TrnPmtInqRs">
    <wsdl:part name="TrnPmtInqRs" element="appoptTrnPmtInq:TrnPmtInqRs"/>
  </wsdl:message>
  <wsdl:message name="OnlineBankTrnAdvRq">
    <wsdl:part name="OnlineBankTrnAdvRq" element="appoptOnlineBankTrnAdv:OnlineBankTrnAdvRq"/>
  </wsdl:message>
  <wsdl:message name="OnlineBankTrnAdvRs">
    <wsdl:part name="OnlineBankTrnAdvRs" element="appoptOnlineBankTrnAdv:OnlineBankTrnAdvRs"/>
  </wsdl:message>
  <wsdl:message name="TrnAuditInqRq">
    <wsdl:part name="TrnAuditInqRq" element="appoptTrnAuditInq:TrnAuditInqRq"/>
  </wsdl:message>
  <wsdl:message name="TrnAuditInqRs">
    <wsdl:part name="TrnAuditInqRs" element="appoptTrnAuditInq:TrnAuditInqRs"/>
  </wsdl:message>
  <wsdl:message name="PartyOnlineBankInqRq">
    <wsdl:part name="PartyOnlineBankInqRq" element="appoptPartyOnlineBankInq:PartyOnlineBankInqRq"/>
  </wsdl:message>
  <wsdl:message name="PartyOnlineBankInqRs">
    <wsdl:part name="PartyOnlineBankInqRs" element="appoptPartyOnlineBankInq:PartyOnlineBankInqRs"/>
  </wsdl:message>
  
   
  <wsdl:portType name="UtilityAppSvcPort">
    <wsdl:operation name="PmtSessionInq">
      <wsdl:input message="tns:PmtSessionInqRq"/>
      <wsdl:output message="tns:PmtSessionInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="AlertAdv">
      <wsdl:input message="tns:AlertAdvRq"/>
      <wsdl:output message="tns:AlertAdvRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="TrnPmtInq">
      <wsdl:input message="tns:TrnPmtInqRq"/>
      <wsdl:output message="tns:TrnPmtInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="OnlineBankTrnAdv">
      <wsdl:input message="tns:OnlineBankTrnAdvRq"/>
      <wsdl:output message="tns:OnlineBankTrnAdvRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="TrnAuditInq">
      <wsdl:input message="tns:TrnAuditInqRq"/>
      <wsdl:output message="tns:TrnAuditInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
     <wsdl:operation name="PartyOnlineBankInq">
      <wsdl:input message="tns:PartyOnlineBankInqRq"/>
      <wsdl:output message="tns:PartyOnlineBankInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UtilityAppSvcBinding_SOAP11" type="tns:UtilityAppSvcPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PmtSessionInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/UtilityAppSvc_V1.0/PmtSessionInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="PmtSessionInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="PmtSessionInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="AlertAdv">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/UtilityAppSvc_V1.0/AlertAdv"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="AlertAdvRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="AlertAdvRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrnPmtInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/UtilityAppSvc_V1.0/TrnPmtInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="TrnPmtInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="TrnPmtInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="OnlineBankTrnAdv">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/UtilityAppSvc_V1.0/OnlineBankTrnAdv"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="OnlineBankTrnAdvRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="OnlineBankTrnAdvRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="TrnAuditInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/UtilityAppSvc_V1.0/TrnAuditInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="TrnAuditInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="TrnAuditInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation> 
     <wsdl:operation name="PartyOnlineBankInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/UtilityAppSvc_V1.0/PartyOnlineBankInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="PartyOnlineBankInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="PartyOnlineBankInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>  
  </wsdl:binding>
  <wsdl:service name="UtilityAppSvc_V1.0">
    <wsdl:port name="UtilityAppSvc_V1.0SOAP" binding="tns:UtilityAppSvcBinding_SOAP11">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>