BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ConsultarDeclaracionJurada/XSD/ConsultarDeclaracionJuradaByIdOperacion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarDeclaracionByIdOperacion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarDeclaracionByIdOperacion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarDeclaracionByIdOperacionInput" type="ConsultarDeclaracionByIdOperacionInput"/>
   <xs:complexType name="ConsultarDeclaracionByIdOperacionInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarDeclaracionByIdOperacionOutputCollection" type="ConsultarDeclaracionByIdOperacionOutputCollection"/>
   <xs:complexType name="ConsultarDeclaracionByIdOperacionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarDeclaracionByIdOperacionOutput" type="ConsultarDeclaracionByIdOperacionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarDeclaracionByIdOperacionOutput">
      <xs:sequence>
         <xs:element name="CODIGO_REFERENCIA" type="xs:string" nillable="true"/>
         <xs:element name="CODIGO_DECLARACION" type="xs:decimal" nillable="true"/>
         <xs:element name="TITULO_DECLARACION" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_VENCIMIENTO" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_FIRMA" type="xs:dateTime" nillable="true"/>
         <xs:element name="CODIGO_ESTADO_BUSQUEDA" type="xs:decimal" nillable="true"/>
         <xs:element name="ESTADO_BUSQUEDA" type="xs:string" nillable="true"/>
         <xs:element name="CODIGO_ESTADO_DECLARACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ESTADO_DECLARACION" type="xs:string" nillable="true"/>
         <xs:element name="CODIGO_TIPO_RIESGO" type="xs:decimal" nillable="true"/>
         <xs:element name="NIVEL_RIESGO" type="xs:string" nillable="true"/>
         <xs:element name="JUSTIFICACION_DECLARACION" type="xs:string" nillable="true"/>
         <xs:element name="JUSTIFICACION_BUSQUEDA" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>