BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ConsultarDeclaracionJurada/XSD/SP_Insertar_Declaracion_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_Insertar_Declaracion" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SP_Insertar_Declaracion" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_ID_OPERACION" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ID_DECLARACION" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_FECHA_REGISTRO" type="dateTime" db:index="3" db:type="DATE" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
