BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/MatrizTCC/ActualizarEstadoTCC/XSD/ActualizarEstadoTermino.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ActualizarEstadoTermino" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ActualizarEstadoTermino" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ActualizarEstadoTerminoInput" type="ActualizarEstadoTerminoInput"/>
   <xs:complexType name="ActualizarEstadoTerminoInput">
      <xs:sequence>
         <xs:element name="estado" type="xs:decimal" nillable="true"/>
         <xs:element name="subestado" type="xs:decimal" nillable="true"/>
         <xs:element name="idTermino" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>