BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/MatrizTCC/ActualizarEstadoTCC/XSD/ActualizarEstadoCondicion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ActualizarEstadoCondicion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ActualizarEstadoCondicion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ActualizarEstadoCondicionInput" type="ActualizarEstadoCondicionInput"/>
   <xs:complexType name="ActualizarEstadoCondicionInput">
      <xs:sequence>
         <xs:element name="idEstado" type="xs:decimal" nillable="true"/>
         <xs:element name="idSubEstado" type="xs:decimal" nillable="true"/>
         <xs:element name="idCondicion" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>