Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/TCIBPmtAppSvc/TCIBPmtAppSvc_V1.0.wsdl

<wsdl:definitions name="TCIBPmtAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/TCIBPmtAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/TCIBPmtAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:appoptPmtCardAdd="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/PmtCardAdd_V1.0"
                  xmlns:appoptPmtUtilAdd="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/PmtUtilAdd_V1.0"
                  xmlns:appoptBillersRulesInq="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/BillersRulesInq_V1.0"
                  xmlns:appoptBillersInfoInq="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/BillersInfoInq_V1.0"
                  xmlns:appoptBillInq="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/BillInq_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
      <xsd:import schemaLocation="../../../xsd/AppOpt/TCIBPmt/PmtCardAdd/PmtCardAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/PmtCardAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/AppOpt/TCIBPmt/PmtUtilAdd/PmtUtilAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/PmtUtilAdd_V1.0"/>            
      <xsd:import schemaLocation="../../../xsd/AppOpt/TCIBPmt/BillersRulesInq/BillersRulesInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/BillersRulesInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/AppOpt/TCIBPmt/BillersInfoInq/BillersInfoInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/BillersInfoInq_V1.0"/>
	  <xsd:import namespace="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/BillInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/TCIBPmt/BillInq/BillInq_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="PmtCardAddRq">
    <wsdl:part name="PmtCardAddRq" element="appoptPmtCardAdd:PmtCardAddRq"/>
  </wsdl:message>
  <wsdl:message name="PmtCardAddRs">
    <wsdl:part name="PmtCardAddRs" element="appoptPmtCardAdd:PmtCardAddRs"/>
  </wsdl:message>
  <wsdl:message name="PmtUtilAddRq">
    <wsdl:part name="PmtUtilAddRq" element="appoptPmtUtilAdd:PmtUtilAddRq"/>
  </wsdl:message>
  <wsdl:message name="PmtUtilAddRs">
    <wsdl:part name="PmtUtilAddRs" element="appoptPmtUtilAdd:PmtUtilAddRs"/>
  </wsdl:message>
  <wsdl:message name="BillersRulesInqRq">
    <wsdl:part name="BillersRulesInqRq" element="appoptBillersRulesInq:BillersRulesInqRq"/>
  </wsdl:message>
  <wsdl:message name="BillersRulesInqRs">
    <wsdl:part name="BillersRulesInqRs" element="appoptBillersRulesInq:BillersRulesInqRs"/>
  </wsdl:message>
  <wsdl:message name="BillersInfoInqRq">
    <wsdl:part name="BillersInfoInqRq" element="appoptBillersInfoInq:BillersInfoInqRq"/>
  </wsdl:message>
  <wsdl:message name="BillersInfoInqRs">
    <wsdl:part name="BillersInfoInqRs" element="appoptBillersInfoInq:BillersInfoInqRs"/>
  </wsdl:message>
  <wsdl:message name="BillInqRq">
    <wsdl:part name="BillInqRq" element="appoptBillInq:BillInqRq"/>
  </wsdl:message>
  <wsdl:message name="BillInqRs">
    <wsdl:part name="BillInqRs" element="appoptBillInq:BillInqRs"/>
  </wsdl:message>
  
  <wsdl:portType name="TCIBPmtAppSvc_V1.0">
    <wsdl:operation name="PmtCardAdd">
      <wsdl:input message="tns:PmtCardAddRq"/>
      <wsdl:output message="tns:PmtCardAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="PmtUtilAdd">
      <wsdl:input message="tns:PmtUtilAddRq"/>
      <wsdl:output message="tns:PmtUtilAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="BillersRulesInq">
      <wsdl:input message="tns:BillersRulesInqRq"/>
      <wsdl:output message="tns:BillersRulesInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="BillersInfoInq">
      <wsdl:input message="tns:BillersInfoInqRq"/>
      <wsdl:output message="tns:BillersInfoInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
	<wsdl:operation name="BillInq">
      <wsdl:input message="tns:BillInqRq"/>
      <wsdl:output message="tns:BillInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="TCIBPmtAppSvc_V1.0SOAP" type="tns:TCIBPmtAppSvc_V1.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="PmtCardAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/TCIBPmtAppSvc_V1.0/PmtCardAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="PmtCardAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="PmtCardAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PmtUtilAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/TCIBPmtAppSvc_V1.0/PmtUtilAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="PmtUtilAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="PmtUtilAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BillersRulesInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/TCIBPmtAppSvc_V1.0/BillersRulesInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="BillersRulesInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="BillersRulesInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="BillersInfoInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/AppSvc/TCIBPmtAppSvc_V1.0/BillersInfoInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="BillersInfoInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="BillersInfoInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
	<wsdl:operation name="BillInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/TCIBPmtAppSvc_V1.0/BillInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="BillInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="BillInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TCIBPmtAppSvc_V1.0">
    <wsdl:port name="TCIBPmtAppSvc_V1.0SOAP" binding="tns:TCIBPmtAppSvc_V1.0SOAP">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>