AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ResponseProtosAdapterService/MetaData/Components/EnterpriseObjectLibrary/EBO/MerchandiseHierarchy/MerchandiseHierarchyEBM.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/MerchandiseHierarchy" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/MerchandiseHierarchy" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
<xsd:include schemaLocation="MerchandiseHierarchyEBO.xsd"/>
<xsd:element name="ProcessMerchandiseHierarchyEBM" type="ProcessMerchandiseHierarchyEBMType"/>
<xsd:element name="ProcessMerchandiseHierarchyResponseEBM" type="ProcessMerchandiseHierarchyResponseEBMType"/>
    <xsd:element name="ProcessMerchandiseHierarchyResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>
    <xsd:element name="SyncMerchandiseHierarchyEBM" type="SyncMerchandiseHierarchyEBMType"/>
<xsd:element name="SyncMerchandiseHierarchyResponseEBM" type="SyncMerchandiseHierarchyResponseEBMType"/>
<xsd:element name="QueryMerchandiseHierarchyEBM" type="QueryMerchandiseHierarchyEBMType"/>
<xsd:element name="QueryMerchandiseHierarchyResponseEBM" type="QueryMerchandiseHierarchyResponseEBMType"/>
    <xsd:complexType name="ProcessMerchandiseHierarchyEBMType">
        <xsd:sequence>
            <xsd:element name="Header" type="com:HeaderType"/>
            <xsd:element name="DataArea">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="ProcessMerchandiseHierarchy" type="MerchandiseHierarchyEBOType"/>
                        <xsd:element name="MerchandiseHierarchyHistoryRecord" type="com:EntityHistoryReferenceType" minOccurs="0"/>
                    </xsd:sequence>
                    <xsd:attribute name="action" type="com:ActionType"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ProcessMerchandiseHierarchyResponseEBMType">
        <xsd:sequence>
            <xsd:element name="Response" type="com:ResponseType"/>
            <xsd:element ref="MerchandiseHierarchyEBO" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ResponseAcknowledgeEBMType">
        <xsd:sequence>
            <xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SyncMerchandiseHierarchyEBMType">
        <xsd:sequence>
            <xsd:element name="Header" type="com:HeaderType"/>
            <xsd:element name="DataArea">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="SyncMerchandiseHierarchy" type="MerchandiseHierarchyEBOType"/>
                        <xsd:element name="MerchandiseHierarchyHistoryRecord" type="com:EntityHistoryReferenceType" minOccurs="0"/>
                    </xsd:sequence>
                    <xsd:attribute name="action" type="com:ActionType"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SyncMerchandiseHierarchyResponseEBMType">
        <xsd:sequence>
            <xsd:element name="Response" type="com:ResponseType"/>
            <xsd:element ref="MerchandiseHierarchyEBO" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="QueryMerchandiseHierarchyEBMType">
        <xsd:sequence>
            <xsd:element name="Header" type="com:HeaderType"/>
            <xsd:element name="DataArea">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="QueryMerchandiseHierarchy" type="MerchandiseHierarchyEBOType"/>
                        <xsd:element name="MerchandiseHierarchyHistoryRecord" type="com:EntityHistoryReferenceType" minOccurs="0"/>
                    </xsd:sequence>
                    <xsd:attribute name="action" type="com:ActionType"/>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="QueryMerchandiseHierarchyResponseEBMType">
        <xsd:sequence>
            <xsd:element name="Response" type="com:ResponseType"/>
            <xsd:element ref="MerchandiseHierarchyEBO" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>