Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Party/PersonPartyRiskInq/PersonPartyRiskInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/PersonPartyRiskInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptPersonPartyRiskInq="http://xmlns.banesco.com/eopt/PersonPartyRiskInq_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:element name="PersonPartyRiskInqRq_Type" type="eoptPersonPartyRiskInq:PersonPartyRiskInqRq_Type"/>
	<xs:complexType name="PersonPartyRiskInqRq_Type">
		<xs:sequence>
			<xs:element name="Party" type="eoPar:Party" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Party que contiene información del cliente natural.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PersonPartyRiskInqRs_Type" type="eoptPersonPartyRiskInq:PersonPartyRiskInqRs_Type"/>
	<xs:complexType name="PersonPartyRiskInqRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditRisk" type="eoPar:CreditRisk" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto CreditRisk que contiene la información de riesgo del cliente natural.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PersonPartyRiskInqRq" type="eoptPersonPartyRiskInq:PersonPartyRiskInqRq_Type"/>
	<xs:element name="PersonPartyRiskInqRs" type="eoptPersonPartyRiskInq:PersonPartyRiskInqRs_Type"/>
</xs:schema>
