AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/EBO/PurchaseOrder/PurchaseOrderEBM.xsd

<!-- ======================================================================== --><!-- ======      PurchaseOrder EBO EBM                                 ====== --><!-- ======================================================================== --><xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/PurchaseOrder" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/PurchaseOrder" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <!-- ====================================================================== -->
  <!-- =====      Imports                                               ===== -->
  <!-- ====================================================================== -->
  <xsd:include schemaLocation="PurchaseOrderEBO.xsd"/>
  <!-- ====================================================================== -->
  <!-- ===== Las operaciones del EBO son 9                  ================= -->
  <!-- ===== En este EBO estan como Process, Update, Sync y Query  ========== -->
  <!-- ====================================================================== -->
  <!-- ====================================================================== -->
  <!-- =================== Process PurchaseOrder Service ==================== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="ProcessPurchaseOrderEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProcessPurchaseOrder" type="PurchaseOrderEBOType"/>
            <xsd:element name="PurchaseOrderRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ProcessPurchaseOrderEBM" type="ProcessPurchaseOrderEBMType"/>
  <!-- ====================================================================== -->
  <!-- =============== Process PurchaseOrder Response Service =============== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="ProcessPurchaseOrderResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="ProcessPurchaseOrderReference" type="com:IdentificationType"/>
      <xsd:element name="PurchaseOrderRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ProcessPurchaseOrderResponseEBM" type="ProcessPurchaseOrderResponseEBMType"/>
  <!-- ====================================================================== -->
  <!-- ==================== Update PurchaseOrder Service ==================== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="UpdatePurchaseOrderEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UpdatePurchaseOrder" type="PurchaseOrderEBOType"/>
            <xsd:element name="PurchaseOrderRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UpdatePurchaseOrderEBM" type="UpdatePurchaseOrderEBMType"/>
  <!-- ====================================================================== -->
  <!-- =============== Update PurchaseOrder Response Service ================ -->
  <!-- ====================================================================== -->
  <xsd:complexType name="UpdatePurchaseOrderResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="UpdatePurchaseOrderReference" type="com:IdentificationType"/>
      <xsd:element name="PurchaseOrderRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UpdatePurchaseOrderResponseEBM" type="UpdatePurchaseOrderResponseEBMType"/>
  <!-- ====================================================================== -->
  <!-- ===================== Sync PurchaseOrder Service ===================== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="SyncPurchaseOrderEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SyncPurchaseOrder" type="PurchaseOrderEBOType"/>
            <xsd:element name="PurchaseOrderRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SyncPurchaseOrderEBM" type="SyncPurchaseOrderEBMType"/>
  <!-- ====================================================================== -->
  <!-- ================ Sync PurchaseOrder Response Service ================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="SyncPurchaseOrderResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="SyncPurchaseOrderReference" type="com:IdentificationType"/>
      <xsd:element name="PurchaseOrderRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SyncPurchaseOrderResponseEBM" type="SyncPurchaseOrderResponseEBMType"/>
  <!-- ====================================================================== -->
  <!-- ==================== Query PurchaseOrder Service ===================== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="QueryPurchaseOrderEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="QueryPurchaseOrder" type="PurchaseOrderEBOType"/>
            <xsd:element name="PurchaseOrderRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="QueryPurchaseOrderEBM" type="QueryPurchaseOrderEBMType"/>
  <!-- ====================================================================== -->
  <!-- =============== Query PurchaseOrder Response Service ================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="QueryPurchaseOrderResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="QueryPurchaseOrderReference" type="PurchaseOrderEBOType"/>
      <xsd:element name="PurchaseOrderRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="QueryPurchaseOrderResponseEBM" type="QueryPurchaseOrderResponseEBMType"/>
  <!-- ====================================================================== -->
  <!-- ============= PurchaseOrder Response Acknowledge Service ============= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="ResponseAcknowledgeEBMType">
    <xsd:sequence>
      <xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="PurchaseOrderResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>
</xsd:schema>