BCIE_fenix/dev/ADF-BPM/bpm/PA13RecuperacionUCE/PA13UCEProcess/SOA/WSDLs/ConfiguracionProcesos.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:confMO="http://www.bcie.org/ConfiguracionProcesosMO" xmlns:tns="http://xmlns.bcie.com/ConfiguracionProcesosService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="ConfiguracionProcesos" targetNamespace="http://xmlns.bcie.com/ConfiguracionProcesosService">
<wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:import namespace="http://www.bcie.org/ConfiguracionProcesosMO" schemaLocation="oramds:/apps/Resources/ComponentesComunes/Utilidades/ConfiguracionProcesos/V1/Schema/ConfiguracionProcesosMO.xsd"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="requestConfiguracionElegibilidadMessage">
<wsdl:part name="request" element="confMO:configuracionElegibilidadRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionElegibilidadMessage">
<wsdl:part name="response" element="confMO:configuracionElegibilidadResponse"/>
</wsdl:message>
<wsdl:message name="requestConfiguracionPreparacionMessage">
<wsdl:part name="request" element="confMO:configuracionPreparacionRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionPreparacionMessage">
<wsdl:part name="response" element="confMO:configuracionPreparacionResponse"/>
</wsdl:message>
<wsdl:message name="requestConfiguracionLavadoActivosMessage">
<wsdl:part name="request" element="confMO:configuracionLavadoActivosRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionLavadoActivosMessage">
<wsdl:part name="response" element="confMO:configuracionLavadoActivosResponse"/>
</wsdl:message>
<wsdl:message name="requestConfiguracionAnalisisMessage">
<wsdl:part name="request" element="confMO:configuracionAnalisisRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionAnalisisMessage">
<wsdl:part name="response" element="confMO:configuracionAnalisisResponse"/>
</wsdl:message>
<wsdl:message name="requestConfiguracionFormalizacionMessage">
<wsdl:part name="request" element="confMO:configuracionFormalizacionRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionFormalizacionMessage">
<wsdl:part name="response" element="confMO:configuracionFormalizacionResponse"/>
</wsdl:message>
<wsdl:message name="requestConfiguracionAprobacionMessage">
<wsdl:part name="request" element="confMO:configuracionAprobacionRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionAprobacionMessage">
<wsdl:part name="response" element="confMO:configuracionAprobacionResponse"/>
</wsdl:message>
<wsdl:message name="requestConfiguracionReasignarOperacionMessage">
<wsdl:part name="request" element="confMO:configuracionReasignarOperacionRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionReasignarOperacionMessage">
<wsdl:part name="response" element="confMO:configuracionReasignarOperacionResponse"/>
</wsdl:message>
<wsdl:portType name="ConfiguracionProcesosPT">
<wsdl:operation name="configuracionElegibilidad">
<wsdl:input message="tns:requestConfiguracionElegibilidadMessage"/>
<wsdl:output message="tns:responseConfiguracionElegibilidadMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionPreparacion">
<wsdl:input message="tns:requestConfiguracionPreparacionMessage"/>
<wsdl:output message="tns:responseConfiguracionPreparacionMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionLavadoActivos">
<wsdl:input message="tns:requestConfiguracionLavadoActivosMessage"/>
<wsdl:output message="tns:responseConfiguracionLavadoActivosMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionAnalisis">
<wsdl:input message="tns:requestConfiguracionAnalisisMessage"/>
<wsdl:output message="tns:responseConfiguracionAnalisisMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionFormalizacion">
<wsdl:input message="tns:requestConfiguracionFormalizacionMessage"/>
<wsdl:output message="tns:responseConfiguracionFormalizacionMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionAprobacion">
<wsdl:input message="tns:requestConfiguracionAprobacionMessage"/>
<wsdl:output message="tns:responseConfiguracionAprobacionMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionCancelarOperacion">
<wsdl:input message="tns:requestConfiguracionCancelarOperacionMessage"/>
<wsdl:output message="tns:resposeConfiguracionCancelarOperacionMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionEvaluacion">
<wsdl:input message="tns:requestConfiguracionEvaluacionMessage"/>
<wsdl:output message="tns:responseConfiguracionEvaluacionMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionEnmiendas">
<wsdl:input message="tns:requestConfiguracionEnmiendasMessage"/>
<wsdl:output message="tns:responseConfiguracionEnmiendasMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionAdministracionCliente">
<wsdl:input message="tns:requestConfiguracionAdministracionClienteMessage"/>
<wsdl:output message="tns:responseConfiguracionAdministracionClientenMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionComisiones">
<wsdl:input message="tns:requestConfiguracionComisionesMessage"/>
<wsdl:output message="tns:responseConfiguracionComisionesMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionCondiciones">
<wsdl:input message="tns:requestConfiguracionCondicionesMessage"/>
<wsdl:output message="tns:responseConfiguracionCondicionesMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionReasignarOperacion">
<wsdl:input message="tns:requestConfiguracionReasignarOperacionMessage"/>
<wsdl:output message="tns:responseConfiguracionReasignarOperacionMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionSeguimientoCrediticio">
<wsdl:input message="tns:requestConfiguracionSeguimientoCrediticioMessage"/>
<wsdl:output message="tns:responseConfiguracionSeguimientoCrediticioMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionUCE">
<wsdl:input message="tns:requestConfiguracionUCEMessage"/>
<wsdl:output message="tns:responseConfiguracionUCEMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionSupervision">
<wsdl:input message="tns:requestConfiguracionSupervisionMessage"/>
<wsdl:output message="tns:responseConfiguracionSupervisionMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionCierreFideicomiso">
<wsdl:input message="tns:requestConfiguracionCierreFideicomisoMessage"/>
<wsdl:output message="tns:responseConfiguracionCierreFideicomisoMessage"/>
</wsdl:operation>
<wsdl:operation name="configuracionSeguimientoCobro">
<wsdl:input message="tns:requestConfiguracionSeguimientoCobroMessage"/>
<wsdl:output message="tns:responseConfiguracionSeguimientoCobroMessage"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:message name="requestConfiguracionEvaluacionMessage">
<wsdl:part name="request" element="confMO:configuracionEvaluacionRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionEvaluacionMessage">
<wsdl:part name="response" element="confMO:configuracionEvaluacionResponse"/>
</wsdl:message>
<wsdl:message name="requestConfiguracionCancelarOperacionMessage">
<wsdl:part name="request" element="confMO:configuracionCancelarOperacionRequest"/>
</wsdl:message>
<wsdl:message name="resposeConfiguracionCancelarOperacionMessage">
<wsdl:part name="response" element="confMO:configuracionCancelarOperacionResponse"/>
</wsdl:message>
<wsdl:message name="requestConfiguracionEnmiendasMessage">
<wsdl:part name="request" element="confMO:configuracionEnmiendasRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionEnmiendasMessage">
<wsdl:part name="response" element="confMO:configuracionEnmiendasResponse"/>
</wsdl:message>
<wsdl:message name="requestConfiguracionAdministracionClienteMessage">
<wsdl:part name="request" element="confMO:configuracionAdministracionClienteRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionAdministracionClientenMessage">
<wsdl:part name="response" element="confMO:configuracionAdministracionClienteResponse"/>
</wsdl:message>
<wsdl:message name="requestConfiguracionComisionesMessage">
<wsdl:part name="request" element="confMO:configuracionComisionesRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionComisionesMessage">
<wsdl:part name="response" element="confMO:configuracionComisionesResponse"/>
</wsdl:message>
<wsdl:message name="requestConfiguracionCondicionesMessage">
<wsdl:part name="request" element="confMO:configuracionCondicionesRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionCondicionesMessage">
<wsdl:part name="response" element="confMO:configuracionCondicionesResponse"/>
</wsdl:message>
<wsdl:message name="requestConfiguracionSeguimientoCrediticioMessage">
<wsdl:part name="request" element="confMO:configurarSeguimientoCrediticioRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionSeguimientoCrediticioMessage">
<wsdl:part name="response" element="confMO:configurarSeguimientoCrediticioResponse"/>
</wsdl:message>
<wsdl:message name="requestConfiguracionUCEMessage">
<wsdl:part name="request" element="confMO:configuracionRecuperacionUCERequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionUCEMessage">
<wsdl:part name="response" element="confMO:configuracionRecuperacionUCEResponse"/>
</wsdl:message>
<wsdl:message name="requestConfiguracionSupervisionMessage">
<wsdl:part name="request" element="confMO:configuracionSupervisionRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionSupervisionMessage">
<wsdl:part name="response" element="confMO:configuracionSupervisionResponse"/>
</wsdl:message>
<wsdl:message name="requestConfiguracionSeguimientoCobroMessage">
<wsdl:part name="request" element="confMO:configuracionSeguimientoCobroRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionSeguimientoCobroMessage">
<wsdl:part name="response" element="confMO:configuracionSeguimientoCobroResponse"/>
</wsdl:message>
<wsdl:binding name="ConfiguracionPreparacion12Bnd" type="tns:ConfiguracionProcesosPT">
<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="configuracionElegibilidad">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionElegibilidad"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionPreparacion">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionPreparacion"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionLavadoActivos">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionLavadoActivos"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionAnalisis">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionAnalisis"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionFormalizacion">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionFormalizacion"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionAprobacion">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionAprobacion"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionCancelarOperacion">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionCancelarOperacion"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionEvaluacion">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionEvaluacion"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionEnmiendas">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionEnmiendas"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionAdministracionCliente">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionAdministracionCliente"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionComisiones">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionComisiones"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionCondiciones">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionCondiciones"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionReasignarOperacion">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionReasignarOperacion"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionSeguimientoCrediticio">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionSeguimientoCrediticio"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionUCE">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionUCE"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionSupervision">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionSupervision"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionCierreFideicomiso">
<soap12:operation soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionCierreFideicomiso/" style="document"/>
<wsdl:input>
<soap12:body parts="request" use="literal"/>
</wsdl:input>
<wsdl:output>
<soap12:body parts="response" use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="configuracionSeguimientoCobro">
<soap12:operation style="document" soapAction="http://xmlns.bcie.com/ConfiguracionProcesosService/configuracionSeguimientoCobro"/>
<wsdl:input>
<soap12:body use="literal" parts="request"/>
</wsdl:input>
<wsdl:output>
<soap12:body use="literal" parts="response"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:message name="requestConfiguracionCierreFideicomisoMessage">
<wsdl:part name="request" element="confMO:configuracionCierreFideicomisoRequest"/>
</wsdl:message>
<wsdl:message name="responseConfiguracionCierreFideicomisoMessage">
<wsdl:part name="response" element="confMO:configuracionCierreFideicomisoResponse"/>
</wsdl:message>
</wsdl:definitions>
