BCIE_fenix/features/MCP/16/ADF-BPM/bpm/PE01Error/PE01ErrorProcess/SOA/Schemas/Comun/V1/FormalizacionPayload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:formal="http://xmlns.bcie.org/ObjetoProceso/Formalizacion/Payload/V1"
           xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
           xmlns:notificacion="http://xmlns.bcie.org/ObjetoProceso/Comun/Notificacion/V1"
           targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Formalizacion/Payload/V1" 
           elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">
           
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
             schemaLocation="oramds:/apps/Resources/BPM/Schema/Comun/Header/V1/HeaderOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
             schemaLocation="oramds:/apps/Resources/BPM/Schema/Comun/Parameter/V1/ParameterOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Notificacion/V1"
             schemaLocation="oramds:/apps/Resources/BPM/Schema/Comun/Notificacion/V1/NotificacionOPN.xsd"/>
             
  <xs:element name="FormalizacionPayload" type="formal:FormalizacionPayloadType">
    <xs:annotation>
      <xs:documentation>Elemento que define el payload para el proceso core de Formalizacion</xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="FormalizacionErrorPayload" type="formal:FormalizacionErrorPayloadType"/>
  
  <xs:complexType name="FormalizacionPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="Configuration" type="formal:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoPayload" type="formal:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="EquipoEjecucionPayload" type="formal:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfigGatewaysType">
    <xs:sequence>
      <xs:element name="requiereContrato" type="xs:boolean" minOccurs="0"/>
      <xs:element name="requiereFuenteExterna" type="xs:boolean" minOccurs="0"/>
      <xs:element name="requiereRevisionCORE" type="xs:boolean" minOccurs="0"/>
      <xs:element name="requiereLineaCredito" type="xs:boolean" minOccurs="0"/>
      <xs:element name="requiereFechaVigencia" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="FormalizacionErrorPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="Configuration" type="formal:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoPayload" type="formal:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoEjecucionPayload" type="formal:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="EquipoPayloadType">
    <xs:sequence>
      <xs:element name="secretarioCORE" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="abogado" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="analistaDAECI" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="analistaCOFI" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CustodioCOPRES" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>  
  
</xs:schema>
