BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/ARE/WSDL/ARE.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions xmlns="" name="ARE" targetNamespace="http://org/bcie/ws/middle/ARE/ARE.wsdl" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.w3.org/2001/XMLSchema" xmlns:WL5G3N2="http://org/bcie/ws/middle/ARE/ARE.wsdl/types/" xmlns:WL5G3N3="http://org/bcie/ws/middle/ARE/ARE.wsdl" xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://org/bcie/ws/middle/ARE/ARE.wsdl/types/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:tns0="http://org/bcie/ws/middle/ARE/ARE.wsdl/types/" targetNamespace="http://org/bcie/ws/middle/ARE/ARE.wsdl/types/" elementFormDefault="qualified">
      <xsd:complexType name="AsignacionTypeUser">
        <xsd:complexContent>
          <xsd:extension base="tns:AsignacionTypeBase">
            <xsd:sequence>
              <xsd:element name="codigoAsignacion" type="decimal" nillable="true"/>
              <xsd:element name="tipoMovimiento" type="string" nillable="true"/>
              <xsd:element name="estadoMovimiento" type="string" nillable="true"/>
              <xsd:element name="descripcion" type="string" nillable="true"/>
              <xsd:element name="montoTotal" type="decimal" nillable="true"/>
              <xsd:element name="fechaMovimiento" type="dateTime" nillable="true"/>
              <xsd:element name="listaLineas" type="tns:VarcharListType" nillable="true"/>
              <xsd:element name="listaDetalles" type="tns:AsignacionDetalleListType" nillable="true"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="VarcharListType">
        <xsd:sequence>
          <xsd:element name="array" type="string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AsignacionDetalleListType">
        <xsd:sequence>
          <xsd:element name="array" type="tns:AsignacionDetalleTypeUser" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="AsignacionDetalleTypeUser">
        <xsd:complexContent>
          <xsd:extension base="tns:AsignacionDetalleTypeBase">
            <xsd:sequence>
              <xsd:element name="numeroAsignacion" type="decimal" nillable="true"/>
              <xsd:element name="codigoLineaPasiva" type="string" nillable="true"/>
              <xsd:element name="comentarios" type="string" nillable="true"/>
              <xsd:element name="montoAsignado" type="decimal" nillable="true"/>
              <xsd:element name="pendienteObtener" type="string" nillable="true"/>
              <xsd:element name="fechaObtenido" type="dateTime" nillable="true"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="AsignacionDetalleTypeBase">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:complexType name="AsignacionTypeBase">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:complexType name="UtilizacionTypeUser">
        <xsd:complexContent>
          <xsd:extension base="tns:UtilizacionTypeBase">
            <xsd:sequence>
              <xsd:element name="codigoAsignacion" type="decimal" nillable="true"/>
              <xsd:element name="referencia" type="string" nillable="true"/>
              <xsd:element name="fecha" type="dateTime" nillable="true"/>
              <xsd:element name="listaFuentes" type="tns:FuenteListType" nillable="true"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="FuenteListType">
        <xsd:sequence>
          <xsd:element name="array" type="tns:FuenteTypeUser" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="FuenteTypeUser">
        <xsd:complexContent>
          <xsd:extension base="tns:FuenteTypeBase">
            <xsd:sequence>
              <xsd:element name="numeroAsignacion" type="decimal" nillable="true"/>
              <xsd:element name="montoUtilizado" type="decimal" nillable="true"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="FuenteTypeBase">
        <xsd:sequence/>
      </xsd:complexType>
      <xsd:complexType name="UtilizacionTypeBase">
        <xsd:sequence/>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="ARE_consultarAsignacion">
    <WL5G3N0:part name="codigoAsignacion" type="WL5G3N1:decimal"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ARE_consultarAsignacionResponse">
    <WL5G3N0:part name="asignacion_out" type="WL5G3N2:AsignacionTypeUser"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensajeError_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ARE_consultarAsignacionPorLinea">
    <WL5G3N0:part name="numerolineacredito" type="WL5G3N1:string"/>
    <WL5G3N0:part name="monto" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ARE_consultarAsignacionPorLineaResponse">
    <WL5G3N0:part name="codigoasignacion_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="montoasignacion_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="montoasignacionusd_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensajeerror_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ARE_desobligacionTotal">
    <WL5G3N0:part name="codigoasignacion" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="monto" type="WL5G3N1:decimal"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ARE_desobligacionTotalResponse">
    <WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensajeerror_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ARE_eliminarUtilizacion">
    <WL5G3N0:part name="utilizacion" type="WL5G3N2:UtilizacionTypeUser"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ARE_eliminarUtilizacionResponse">
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensajeError_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ARE_obtenerDisponibilidad">
    <WL5G3N0:part name="numeroasignacion" type="WL5G3N1:decimal"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ARE_obtenerDisponibilidadResponse">
    <WL5G3N0:part name="disponible_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensajeerror_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ARE_registrarUtilizacion">
    <WL5G3N0:part name="utilizacion" type="WL5G3N2:UtilizacionTypeUser"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ARE_registrarUtilizacionResponse">
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensajeError_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ARE_salvarAsignacion">
    <WL5G3N0:part name="asignacion" type="WL5G3N2:AsignacionTypeUser"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="ARE_salvarAsignacionResponse">
    <WL5G3N0:part name="asignacion" type="WL5G3N2:AsignacionTypeUser"/>
    <WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensajeerror_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="ARE">
    <WL5G3N0:operation name="consultarAsignacion" parameterOrder="codigoAsignacion asignacion_out codigoResultado_out tipoResultado_out mensajeError_out">
      <WL5G3N0:input message="WL5G3N3:ARE_consultarAsignacion"/>
      <WL5G3N0:output message="WL5G3N3:ARE_consultarAsignacionResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarAsignacionPorLinea" parameterOrder="numerolineacredito monto moneda codigoasignacion_out montoasignacion_out montoasignacionusd_out codigoresultado_out tiporesultado_out mensajeerror_out">
      <WL5G3N0:input message="WL5G3N3:ARE_consultarAsignacionPorLinea"/>
      <WL5G3N0:output message="WL5G3N3:ARE_consultarAsignacionPorLineaResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="desobligacionTotal" parameterOrder="codigoasignacion monto codigoresultado_out tiporesultado_out mensajeerror_out">
      <WL5G3N0:input message="WL5G3N3:ARE_desobligacionTotal"/>
      <WL5G3N0:output message="WL5G3N3:ARE_desobligacionTotalResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="eliminarUtilizacion" parameterOrder="utilizacion codigoResultado_out tipoResultado_out mensajeError_out">
      <WL5G3N0:input message="WL5G3N3:ARE_eliminarUtilizacion"/>
      <WL5G3N0:output message="WL5G3N3:ARE_eliminarUtilizacionResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerDisponibilidad" parameterOrder="numeroasignacion disponible_out codigoresultado_out tiporesultado_out mensajeerror_out">
      <WL5G3N0:input message="WL5G3N3:ARE_obtenerDisponibilidad"/>
      <WL5G3N0:output message="WL5G3N3:ARE_obtenerDisponibilidadResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="registrarUtilizacion" parameterOrder="utilizacion codigoResultado_out tipoResultado_out mensajeError_out">
      <WL5G3N0:input message="WL5G3N3:ARE_registrarUtilizacion"/>
      <WL5G3N0:output message="WL5G3N3:ARE_registrarUtilizacionResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="salvarAsignacion" parameterOrder="asignacion codigoresultado_out tiporesultado_out mensajeerror_out">
      <WL5G3N0:input message="WL5G3N3:ARE_salvarAsignacion"/>
      <WL5G3N0:output message="WL5G3N3:ARE_salvarAsignacionResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="ARE" type="WL5G3N3:ARE">
    <WL5G3N4:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <WL5G3N0:operation name="consultarAsignacion">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/ARE/ARE.wsdl/consultarAsignacion"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/ARE/ARE.wsdl" parts="codigoAsignacion    "/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/ARE/ARE.wsdl" parts="asignacion_out codigoResultado_out tipoResultado_out mensajeError_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarAsignacionPorLinea">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/ARE/ARE.wsdl/consultarAsignacionPorLinea"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/ARE/ARE.wsdl" parts="numerolineacredito monto moneda      "/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/ARE/ARE.wsdl" parts="codigoasignacion_out montoasignacion_out montoasignacionusd_out codigoresultado_out tiporesultado_out mensajeerror_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="desobligacionTotal">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/ARE/ARE.wsdl/desobligacionTotal"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/ARE/ARE.wsdl" parts="codigoasignacion monto   "/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/ARE/ARE.wsdl" parts="codigoresultado_out tiporesultado_out mensajeerror_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="eliminarUtilizacion">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/ARE/ARE.wsdl/eliminarUtilizacion"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/ARE/ARE.wsdl" parts="utilizacion   "/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/ARE/ARE.wsdl" parts="codigoResultado_out tipoResultado_out mensajeError_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="obtenerDisponibilidad">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/ARE/ARE.wsdl/obtenerDisponibilidad"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/ARE/ARE.wsdl" parts="numeroasignacion    "/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/ARE/ARE.wsdl" parts="disponible_out codigoresultado_out tiporesultado_out mensajeerror_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="registrarUtilizacion">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/ARE/ARE.wsdl/registrarUtilizacion"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/ARE/ARE.wsdl" parts="utilizacion   "/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/ARE/ARE.wsdl" parts="codigoResultado_out tipoResultado_out mensajeError_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="salvarAsignacion">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/ARE/ARE.wsdl/salvarAsignacion"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/ARE/ARE.wsdl" parts="asignacion   "/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/ARE/ARE.wsdl" parts="asignacion codigoresultado_out tiporesultado_out mensajeerror_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ARE">
    <WL5G3N0:port name="ARE" binding="WL5G3N3:ARE">
      <WL5G3N4:address location="http://hn-obpm-qa.bcie.org:7065/MIDDLE/ARE"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>