BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Canales/Votacion/RegistrarVotacion/CrearRegistroVotacion/V1/Schema/CrearRegistroVotacionMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/CrearRegistroVotacionMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/CrearRegistroVotacionMO" xmlns:regVotBO="http://www.bcie.org/CrearRegistroVotacionBO" xmlns:regVotMO="http://www.bcie.org/CrearRegistroVotacionMO" xmlns:resBO="http://www.bcie.org/ResultBO">
            
  <xsd:import schemaLocation="CrearRegistroVotacionBO.xsd" namespace="http://www.bcie.org/CrearRegistroVotacionBO"/>
              
  <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../../../Resources/ComponentesComunes/Common/V1/Schema/ResultBO.xsd"/>
            
  <xsd:element name="CrearRegistroVotacionRequest" type="CrearRegistroVotacionRequestType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CrearRegistroVotacionResponse" type="CrearRegistroVotacionResponseType"/>
  <xsd:complexType name="CrearRegistroVotacionRequestType">
    <xsd:sequence>
      <xsd:element name="registroVotacion" type="regVotBO:RegistroVoto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearRegistroVotacionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>