AG_2019/SOA/JDACreateSupplierProcess/SOA/WSDLs/JDACreateSupplierProcess.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="JDACreateSupplierProcess" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Suppliers/JDACreateSupplierProcess" xmlns:tns="http://mx.agarcia.ea/Capabilities/Core/Suppliers/JDACreateSupplierProcess" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" schemaLocation="../Schemas/Commons/SupplierEntitySchema.xsd"/>
         <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../Schemas/Commons/AGStandardMessageSchema.xsd"/>
         <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../Schemas/Commons/AGStandardHeaderSchema.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="createSupplierRequest">
      <wsdl:part name="part1" element="inp1:createSupplierRequest"/>
   </wsdl:message>
   <wsdl:message name="createSupplierResponse">
      <wsdl:part name="part1" element="inp1:createSupplierResponse"/>
   </wsdl:message>
   <wsdl:message name="standardMessagefault">
      <wsdl:part name="part1" element="AGSM:messageError"/>
   </wsdl:message>
   <wsdl:message name="standardMessageHeader">
      <wsdl:part name="header" element="AGSH:headerMessage"/>
   </wsdl:message>
   <wsdl:portType name="CreateSupplierPType">
      <wsdl:operation name="createSupplierPType">
         <wsdl:input message="tns:createSupplierRequest"/>
         <wsdl:output message="tns:createSupplierResponse"/>
         <wsdl:fault name="fault" message="tns:standardMessagefault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CreateSupplierBinding" type="tns:CreateSupplierPType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="createSupplierPType">
         <soap:operation style="document" soapAction="http://xmlns.oracle.com/SupplierJDA/JDACreateSupplierProcess/service1/createSupplierPType"/>
         <wsdl:input>
            <soap:body use="literal" parts="part1"/>
            <soap:header message="tns:standardMessageHeader" part="header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="part1"/>
         </wsdl:output>
         <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
