AG_2019/SOA/JDACreateSupplierProcess/SOA/WSDLs/SupplierEntitySvc.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Suppliers/SupplierEntitySvc/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:supp="http://mx.agarcia.ea/Capabilities/Core/Suppliers/SupplierEntitySvc/v1.0" xmlns:ns1="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" schemaLocation="../../../../../soamds/apps/Foundation/Schemas/Commons/SupplierEntitySchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../soamds/apps/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../soamds/apps/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="createSupplierRequest">
      <wsdl:part name="createSupplierRequest" element="ns1:createSupplierRequest"/>
   </wsdl:message>
   <wsdl:message name="createSupplierResponse">
      <wsdl:part name="createSupplierResponse" element="ns1:createSupplierResponse"/>
   </wsdl:message>
   <wsdl:message name="findByIdRequest">
      <wsdl:part name="FindById" element="ns1:findByIdRequest"/>
   </wsdl:message>
   <wsdl:message name="findByIdResponse">
      <wsdl:part name="findByIdRespose" element="ns1:findByIdResponse"/>
   </wsdl:message>
   <wsdl:message name="standarMessageFault">
      <wsdl:part name="fault" element="AGSM:messageError"/>
   </wsdl:message>
   <wsdl:message name="standarMessageHeader">
      <wsdl:part name="header" element="AGSH:headerMessage"/>
   </wsdl:message>
   <wsdl:portType name="SupplierEntityPType">
      <wsdl:operation name="create">
         <wsdl:input message="supp:createSupplierRequest"/>
         <wsdl:output message="supp:createSupplierResponse"/>
         <wsdl:fault message="supp:standarMessageFault" name="fault"/>
      </wsdl:operation>
      <wsdl:operation name="findById">
         <wsdl:input message="supp:findByIdRequest"/>
         <wsdl:output message="supp:findByIdResponse"/>
         <wsdl:fault message="supp:standarMessageFault" name="fault"/>
      </wsdl:operation>
      <wsdl:operation name="modify">
         <wsdl:input message="supp:modifySupplierRequest"/>
         <wsdl:output message="supp:modifySupplierResponse"/>
         <wsdl:fault message="supp:standarMessageFault" name="fault"/>
      </wsdl:operation>
      <wsdl:operation name="findByFilter">
         <wsdl:input message="supp:findByFilterRequest"/>
         <wsdl:output message="supp:findByFilterResponse"/>
         <wsdl:fault message="supp:standarMessageFault" name="fault"/>
      </wsdl:operation>
      <wsdl:operation name="inactive">
         <wsdl:input message="supp:inactiveSupplierRequest"/>
         <wsdl:output message="supp:inactiveSupplierResponse"/>
         <wsdl:fault message="supp:standarMessageFault" name="fault"/>
      </wsdl:operation>
      <wsdl:operation name="activate">
         <wsdl:input message="supp:activateSupplierRequest"/>
         <wsdl:output message="supp:activateSupplierResponse"/>
         <wsdl:fault message="supp:standarMessageFault" name="fault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:message name="modifySupplierRequest">
      <wsdl:part name="modifySupplierRequest" element="ns1:requestModify"/>
   </wsdl:message>
   <wsdl:message name="modifySupplierResponse">
      <wsdl:part name="modifySupplierResponse" element="ns1:responseModify"/>
   </wsdl:message>
   <wsdl:message name="findByFilterRequest">
      <wsdl:part name="findByFilterRequest" element="ns1:requestFindByFilter"/>
   </wsdl:message>
   <wsdl:message name="findByFilterResponse">
      <wsdl:part name="findByFilterResponse" element="ns1:responseFindByFilter"/>
   </wsdl:message>
   <wsdl:message name="inactiveSupplierRequest">
      <wsdl:part name="inactiveSupplierRequest" element="ns1:requestInactive"/>
   </wsdl:message>
   <wsdl:message name="inactiveSupplierResponse">
      <wsdl:part name="inactiveSupplierResponse" element="ns1:responseInactive"/>
   </wsdl:message>
   <wsdl:message name="activateSupplierRequest">
      <wsdl:part name="activateSupplierResponse" element="ns1:requestActive"/>
   </wsdl:message>
   <wsdl:message name="activateSupplierResponse">
      <wsdl:part name="activateSupplierResponse" element="ns1:responseActive"/>
   </wsdl:message>
   <wsdl:binding name="SupplierEntityBinding" type="supp:SupplierEntityPType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="create">
         <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Suppliers/SupplierEntitySvc/v1.0/create"/>
         <wsdl:input>
            <soap:body use="literal" parts="createSupplierRequest"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="createSupplierResponse"/>
         </wsdl:output>
         <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="findById">
         <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Suppliers/SupplierEntitySvc/v1.0/findById"/>
         <wsdl:input>
            <soap:body use="literal" parts="FindById"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="findByIdRespose"/>
         </wsdl:output>
         <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="modify">
         <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Suppliers/SupplierEntitySvc/v1.0/modify"/>
         <wsdl:input>
            <soap:body use="literal" parts="modifySupplierRequest"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="modifySupplierResponse"/>
         </wsdl:output>
         <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="findByFilter">
         <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Suppliers/SupplierEntitySvc/v1.0/findByFilter"/>
         <wsdl:input>
            <soap:body use="literal" parts="findByFilterRequest"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="findByFilterResponse"/>
         </wsdl:output>
         <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="inactive">
         <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Suppliers/SupplierEntitySvc/v1.0/inactive"/>
         <wsdl:input>
            <soap:body use="literal" parts="inactiveSupplierRequest"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="inactiveSupplierResponse"/>
         </wsdl:output>
         <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
      <wsdl:operation name="activate">
         <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Suppliers/SupplierEntitySvc/v1.0/activate"/>
         <wsdl:input>
            <soap:body use="literal" parts="activateSupplierResponse"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="activateSupplierResponse"/>
         </wsdl:output>
         <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
