BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/LeerCuestionario/XSD/ActualizarPreguntas_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ActualizarPreguntas" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ActualizarPreguntas" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="PreguntaCollection" type="PreguntaCollection"/>
   <xs:complexType name="PreguntaCollection">
      <xs:sequence>
         <xs:element name="Pregunta" type="Pregunta" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Pregunta">
      <xs:sequence>
         <xs:element name="idPregunta" type="xs:long"/>
         <xs:element name="pregunta" type="string250" minOccurs="0"/>
         <xs:element name="respuesta" type="string250" minOccurs="0" nillable="true"/>
         <xs:element name="justificacion" type="string1000" minOccurs="0" nillable="true"/>
         <xs:element name="evidencia" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="usuario" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="idCatPregunta" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idCuestionario" type="xs:long" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string250">
      <xs:restriction base="xs:string">
         <xs:maxLength value="250"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1000">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string40">
      <xs:restriction base="xs:string">
         <xs:maxLength value="40"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>