BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ValidarClienteProceso/V1/Schema/ValidarClienteProcesoMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ValidarClienteProcesoMO"
            targetNamespace="http://www.bcie.org/ValidarClienteProcesoMO" elementFormDefault="qualified"
            xmlns:valCteProBO="http://www.bcie.org/ValidarClienteProcesoBO" xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import namespace="http://www.bcie.org/ValidarClienteProcesoBO" schemaLocation="ValidarClienteProcesoBO.xsd"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="ValidarClienteProcesoRequest" type="ValidarClienteProcesoRequestType"/>
  <xsd:element name="ValidarClienteProcesoResponse" type="ValidarClienteProcesoResponseType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="ValidarClienteProcesoRequestType">
    <xsd:sequence>
      <xsd:element name="ClienteProceso" type="valCteProBO:ClienteProceso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarClienteProcesoResponseType">
    <xsd:sequence>
      <xsd:element name="enProceso" type="xsd:boolean"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
