BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Condicion/ConsultarAtributoByCondicion/XSD/ConsultarAtributoByCondicion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAtributoByCondicion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAtributoByCondicion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarAtributoByCondicionInput" type="ConsultarAtributoByCondicionInput"/>
   <xs:complexType name="ConsultarAtributoByCondicionInput">
      <xs:sequence>
         <xs:element name="P_CONDICION" type="xs:string" nillable="true"/>
                <xs:element name="P_OPERACION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarAtributoByCondicionOutputCollection" type="ConsultarAtributoByCondicionOutputCollection"/>
   <xs:complexType name="ConsultarAtributoByCondicionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarAtributoByCondicionOutput" type="ConsultarAtributoByCondicionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarAtributoByCondicionOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="COLUMNA" type="xs:string" nillable="true"/>
         <xs:element name="ORDENAMIENTO" type="xs:decimal" nillable="true"/>
         <xs:element name="SOLO_LECTURA" type="xs:decimal" nillable="true"/>
         <xs:element name="ES_OBLIGATORIO" type="xs:decimal" nillable="true"/>
         <xs:element name="ETIQUETA" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_TERMINO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_CONDICION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_COMISION" type="xs:decimal" nillable="true"/>
         <xs:element name="TIPO_VALOR" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>