AG_2019/OSB/OSB_PRD_Almacenes/Capabilities/Support/Commons/ItemCatalogEntitySvc/ItemCatalogDataService/Schema/ItemCatalogsList_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ItemCatalogsList" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ItemCatalogsList" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="MdmItemsCatalogsDefCollection" type="MdmItemsCatalogsDefCollection"/>
   <xs:complexType name="MdmItemsCatalogsDefCollection">
      <xs:sequence>
         <xs:element name="MdmItemsCatalogsDef" type="MdmItemsCatalogsDef" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MdmItemsCatalogsDef">
      <xs:sequence>
         <xs:element name="id" type="xs:long"/>
         <xs:element name="name" type="xs:string" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ItemCatalogsListSelectInputParameters" type="ItemCatalogsListSelect"/>
   <xs:complexType name="ItemCatalogsListSelect">
      <xs:sequence/>
   </xs:complexType>
</xs:schema>