Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/WAY4/resources/wsdl/ESBCardOutApp.wsdl

<WL5G3N2:definitions name="ESBCardOutApp" targetNamespace="http://xmlns.nativa.com/ApplicationService/ESBCardOutApp" xmlns:WL5G3N0="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:WL5G3N1="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:WL5G3N2="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N3="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_readCardTDC" xmlns:WL5G3N4="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_readCurrentMovements" xmlns:WL5G3N5="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_readCurrentPosted" xmlns:WL5G3N6="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_updateCardStatus" xmlns:WL5G3N7="http://xmlns.nativa.com/ApplicationService/ESBCardOutApp" xmlns:WL5G3N8="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:Policy WL5G3N1:Id="wss_username_token_over_ssl_service_policy">
    <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
      <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <sp:AlgorithmSuite>
          <wsp:Policy>
            <sp:Basic128/>
          </wsp:Policy>
        </sp:AlgorithmSuite>
        <sp:TransportToken>
          <wsp:Policy>
            <sp:HttpsToken RequireClientCertificate="false">
              <wsp:Policy/>
            </sp:HttpsToken>
          </wsp:Policy>
        </sp:TransportToken>
        <sp:Layout>
          <wsp:Policy>
            <sp:Lax/>
          </wsp:Policy>
        </sp:Layout>
        <sp:IncludeTimestamp/>
      </wsp:Policy>
    </sp:TransportBinding>
    <sp:SupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
      <wsp:Policy xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
          <wsp:Policy>
            <sp:WssUsernameToken10/>
          </wsp:Policy>
        </sp:UsernameToken>
      </wsp:Policy>
    </sp:SupportingTokens>
  </WL5G3N0:Policy>
  <WL5G3N2:types>
    <xsd:schema xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_readCardTDC" xmlns:WL5G3N2="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_readCurrentMovements" xmlns:WL5G3N3="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_readCurrentPosted" xmlns:WL5G3N4="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_updateCardStatus" xmlns:WL5G3N5="http://xmlns.nativa.com/ApplicationService/ESBCardOutApp" xmlns:WL5G3N6="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:inp1="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_readCardTDC" xmlns:inp2="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_readCurrentMovements" xmlns:inp3="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_readCurrentPosted" xmlns:inp4="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_updateCardStatus" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xmlns.nativa.com/ApplicationService/ESBCardOutApp" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:WL5G3N7="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
      <xsd:import namespace="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_readCardTDC"
                  schemaLocation="../xsd/ESBCardOutApp/ESBCardOutApp_readCardTDC.xsd"/>
      <xsd:import namespace="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_readCurrentMovements"
                  schemaLocation="../xsd/ESBCardOutApp/ESBCardOutApp_readCurrentMovements.xsd"/>
      <xsd:import namespace="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_readCurrentPosted"
                  schemaLocation="../xsd/ESBCardOutApp/ESBCardOutApp_readCurrentPosted.xsd"/>
      <xsd:import namespace="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_updateCardStatus"
                  schemaLocation="../xsd/ESBCardOutApp/ESBCardOutApp_updateCardStatus.xsd"/>
    </xsd:schema>
  </WL5G3N2:types>
  <WL5G3N2:message name="readCardTDC_Rq">
    <WL5G3N2:part name="readCardTDC_Rq" element="WL5G3N3:readCardTDC_Rq"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="readCardTDC_Rs">
    <WL5G3N2:part name="readCardTDC_Rs" type="WL5G3N3:readCardTDC_Rs"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="readCurrentMovements_Rq">
    <WL5G3N2:part name="readCurrentMovements_Rq" element="WL5G3N4:readCurrentMovements_Rq"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="readCurrentMovements_Rs">
    <WL5G3N2:part name="readCurrentMovements_Rs" element="WL5G3N4:readCurrentMovements_Rs"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="readCurrentPosted_Rq">
    <WL5G3N2:part name="readCurrentPosted_Rq" element="WL5G3N5:readCurrentPosted_Rq"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="readCurrentPosted_Rs">
    <WL5G3N2:part name="readCurrentPosted_Rs" element="WL5G3N5:readCurrentPosted_Rs"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="updateCardStatus_Rq">
    <WL5G3N2:part name="updateCardStatus_Rq" element="WL5G3N6:updateCardStatus_Rq"/>
  </WL5G3N2:message>
  <WL5G3N2:message name="updateCardStatus_Rs">
    <WL5G3N2:part name="updateCardStatus_Rs" element="WL5G3N6:updateCardStatus_Rs"/>
  </WL5G3N2:message>
  <WL5G3N2:portType name="ESBCardOutAppService">
    <WL5G3N2:operation name="readCardTDC">
      <WL5G3N2:input message="WL5G3N7:readCardTDC_Rq"/>
      <WL5G3N2:output message="WL5G3N7:readCardTDC_Rs"/>
    </WL5G3N2:operation>
    <WL5G3N2:operation name="readCurrentMovements">
      <WL5G3N2:input message="WL5G3N7:readCurrentMovements_Rq"/>
      <WL5G3N2:output message="WL5G3N7:readCurrentMovements_Rs"/>
    </WL5G3N2:operation>
    <WL5G3N2:operation name="readCurrentPosted">
      <WL5G3N2:input message="WL5G3N7:readCurrentPosted_Rq"/>
      <WL5G3N2:output message="WL5G3N7:readCurrentPosted_Rs"/>
    </WL5G3N2:operation>
    <WL5G3N2:operation name="updateCardStatus">
      <WL5G3N2:input message="WL5G3N7:updateCardStatus_Rq"/>
      <WL5G3N2:output message="WL5G3N7:updateCardStatus_Rs"/>
    </WL5G3N2:operation>
  </WL5G3N2:portType>
  <WL5G3N2:binding name="ESBCardOutAppBinding" type="WL5G3N7:ESBCardOutAppService">
    <WL5G3N0:Policy>
      <WL5G3N0:PolicyReference URI="#wss_username_token_over_ssl_service_policy"/>
    </WL5G3N0:Policy>
    <WL5G3N8:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N2:operation name="readCardTDC">
      <WL5G3N8:operation soapAction="readCardTDC"/>
      <WL5G3N2:input>
        <WL5G3N8:body use="literal"/>
      </WL5G3N2:input>
      <WL5G3N2:output>
        <WL5G3N8:body use="literal"/>
      </WL5G3N2:output>
    </WL5G3N2:operation>
    <WL5G3N2:operation name="readCurrentMovements">
      <WL5G3N8:operation soapAction="readCurrentMovements"/>
      <WL5G3N2:input>
        <WL5G3N8:body use="literal"/>
      </WL5G3N2:input>
      <WL5G3N2:output>
        <WL5G3N8:body use="literal"/>
      </WL5G3N2:output>
    </WL5G3N2:operation>
    <WL5G3N2:operation name="readCurrentPosted">
      <WL5G3N8:operation soapAction="readCurrentPosted"/>
      <WL5G3N2:input>
        <WL5G3N8:body use="literal"/>
      </WL5G3N2:input>
      <WL5G3N2:output>
        <WL5G3N8:body use="literal"/>
      </WL5G3N2:output>
    </WL5G3N2:operation>
    <WL5G3N2:operation name="updateCardStatus">
      <WL5G3N8:operation soapAction="updateCardStatus"/>
      <WL5G3N2:input>
        <WL5G3N8:body use="literal"/>
      </WL5G3N2:input>
      <WL5G3N2:output>
        <WL5G3N8:body use="literal"/>
      </WL5G3N2:output>
    </WL5G3N2:operation>
  </WL5G3N2:binding>
  <WL5G3N2:service name="ESBCardOutAppService">
    <WL5G3N2:documentation>OSB Service</WL5G3N2:documentation>
    <WL5G3N2:port name="ESBCardOutAppServicePort" binding="WL5G3N7:ESBCardOutAppBinding">
      <WL5G3N8:address location="http://www.example.com"/>
    </WL5G3N2:port>
  </WL5G3N2:service>
</WL5G3N2:definitions>