Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/WAY4/resources/wsdl/WebServiceWAY4SvcMock.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="WAY4Svc" targetNamespace="http://xmlns.banesco.com/service/WAY4Svc" xmlns:eoptTdcCardAcctTrnInq="http://xmlns.banesco.com/eopt/tdcCardAcctTrnInq" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.banesco.com/service/WAY4Svc" xmlns:eoptTdcPmtAdd="http://xmlns.banesco.com/eopt/tdcPmtAdd" xmlns:eoptTdcCardAcctRelInq="http://xmlns.banesco.com/eopt/tdcCardAcctRelInq" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:eoptCambiarEstatusTDD="http://xmlns.banesco.com/eopt/CambiarEstatusTDD" xmlns:eoptTdcPmtRev="http://xmlns.banesco.com/eopt/tdcPmtRev">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.banesco.com/eopt/tdcPmtAdd">
      <xs:complexType name="tdcPmtAddRq_Type">
        <xs:sequence>
          <xs:element name="RqUID" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identificador unívoco de la petición</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PmtInfo">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="CurAmt">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Amt" type="xs:decimal">
                        <xs:annotation>
                          <xs:documentation>Monto de la operación de pago de la Tarjeta de Crédito</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="CurCode">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="CurCodeValue" type="xs:string">
                              <xs:annotation>
                                <xs:documentation>Código que identifica una moneda. El código se basa en el Estándar ISO4217-Alpha</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="PmtInstruction">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="PmtMethod" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Método de pago: posibles valores Cash y Check.</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="CountryCode">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="CountryCodeValue" type="xs:string">
                              <xs:annotation>
                                <xs:documentation>Localidad de pago. Indica el país en el cual el pago será procesado.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="PmtCreditDetail">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="ToAcctKeys">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="CardKeys">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="CardId" type="xs:string">
                                    <xs:annotation>
                                      <xs:documentation>Número de Tarjeta a la que se le efectúa un pago.</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tdcPmtAddRs_Type">
        <xs:sequence>
          <xs:element name="Status">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="StatusCode" type="xs:long">
                  <xs:annotation>
                    <xs:documentation>Código del Status (0 = exitoso)</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Severity" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Código del Status del Servidor. Valores: Error, Warning, Info</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="StatusDesc" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Descripción del Status</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="RqUID" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identificador unívoco de la petición</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PmtRec">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="PmtInfo">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="CurAmt">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Amt" type="xs:decimal">
                              <xs:annotation>
                                <xs:documentation>Monto de la operación de pago de la Tarjeta de Crédito</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="CurCode">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="CurCodeValue" type="xs:string">
                                    <xs:annotation>
                                      <xs:documentation>Código que identifica una moneda. El código se basa en el Estándar ISO4217-Alpha</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="PmtInstruction">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="PmtMethod" type="xs:string">
                              <xs:annotation>
                                <xs:documentation>Método de pago: posibles valores Cash y Check.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="CountryCode">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="CountryCodeValue" type="xs:string">
                                    <xs:annotation>
                                      <xs:documentation>Localidad de pago. Indica el país en el cual el pago será procesado.</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="PmtCreditDetail">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="ToAcctKeys">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="CardKeys">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="CardId" type="xs:string">
                                          <xs:annotation>
                                            <xs:documentation>Número de Tarjeta a la que se le efectúa un pago.</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="PmtRefIdent" type="xs:string">
                              <xs:annotation>
                                <xs:documentation>Número de referencia.  Este valor es generado por Nativa y es utilizado a la hora de la reversión de un pago</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="PmtStatusRec">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="PmtId" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Id del pago.</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="PmtStatus">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="PmtStatusCode" type="xs:string">
                              <xs:annotation>
                                <xs:documentation>Código de estatus del pago.</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="tdcPmtAddRq" type="eoptTdcPmtAdd:tdcPmtAddRq_Type"/>
      <xs:element name="tdcPmtAddRs" type="eoptTdcPmtAdd:tdcPmtAddRs_Type"/>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.banesco.com/eopt/tdcPmtRev">
      <xs:complexType name="tdcPmtRevRq_Type">
        <xs:sequence>
          <xs:element name="RqUID" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identificador unívoco de la petición</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="RevReasonCode">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="RevReasonCodeValue" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Valor del código de la razón del reverso. Ejemplo de valores: TimeoutWaitingForRs, InvalidRs, Unspecified, etc</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="TDCPmtRqMsg">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="TDCPmtAddRq">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="RqUID" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Identificador unívoco de la petición</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="PmtInfo">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="CurAmt">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Amt" type="xs:decimal">
                                    <xs:annotation>
                                      <xs:documentation>Monto de la operación de pago de la Tarjeta de Crédito</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="CurCode">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="CurCodeValue" type="xs:string">
                                          <xs:annotation>
                                            <xs:documentation>Código que identifica una moneda. El código se basa en el Estándar ISO4217-Alpha</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="PmtInstruction">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="PmtMethod" type="xs:string">
                                    <xs:annotation>
                                      <xs:documentation>Método de pago: posibles valores Cash y Check.</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="CountryCode">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="CountryCodeValue" type="xs:string">
                                          <xs:annotation>
                                            <xs:documentation>Localidad de pago. Indica el país en el cual el pago será procesado.</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                            <xs:element name="PmtCreditDetail">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="ToAcctKeys">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="CardKeys">
                                          <xs:complexType>
                                            <xs:sequence>
                                              <xs:element name="CardId" type="xs:string">
                                                <xs:annotation>
                                                  <xs:documentation>Número de Tarjeta a la que se le efectúa un pago.</xs:documentation>
                                                </xs:annotation>
                                              </xs:element>
                                            </xs:sequence>
                                          </xs:complexType>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                  <xs:element name="PmtRefIdent" type="xs:string">
                                    <xs:annotation>
                                      <xs:documentation>Número de referencia.  Este valor es generado por Nativa y es utilizado a la hora de la reversión de un pago</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tdcPmtRevRs_Type">
        <xs:sequence>
          <xs:element name="Status">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="StatusCode" type="xs:long">
                  <xs:annotation>
                    <xs:documentation>Código del Status (0 = exitoso)</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Severity" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Código del Status del Servidor. Valores: Error, Warning, Info</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="StatusDesc" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Descripción del Status</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="RqUID" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identificador unívoco de la petición</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="tdcPmtRevRq" type="eoptTdcPmtRev:tdcPmtRevRq_Type"/>
      <xs:element name="tdcPmtRevRs" type="eoptTdcPmtRev:tdcPmtRevRs_Type"/>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.banesco.com/eopt/tdcCardAcctRelInq">
      <xs:complexType name="tdcCardAcctRelInqRq_Type">
        <xs:sequence>
          <xs:element name="PartyKey">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="IssuedIdentValue" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Identificacion del Cliente</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="PartyId" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Id numero de persona (opcional)</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="PartyType" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Tipo de persona</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="FIData">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="BranchId" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Superfranquicia del emisor</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="FIIdent" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Flldent</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="RefIdent" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>NetworkRefIden</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tdcCardAcctRelInqRs_Type">
        <xs:sequence>
          <xs:element name="Status">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="StatusCode" type="xs:long">
                  <xs:annotation>
                    <xs:documentation>Código del Status (0 = exitoso)</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Severity" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Código del Status del Servidor. Valores: Error, Warning, Info</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="StatusDesc" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Descripción del Status</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="CardAcctRel">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Card">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Brand" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Marca de la tarjeta</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="CardRel" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Tipo de relacion</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="CurCodeValue" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Moneda de la Tarjeta</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="CutDt" type="xs:dateTime">
                        <xs:annotation>
                          <xs:documentation>Fecha del corte</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="DueFees" type="xs:int">
                        <xs:annotation>
                          <xs:documentation>Cuotas en mora</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="ExpDt" type="xs:dateTime">
                        <xs:annotation>
                          <xs:documentation>Fecha de expiracion de la tarjeta</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="LastPmtDt" type="xs:dateTime">
                        <xs:annotation>
                          <xs:documentation>Fecha ultimo pago realizado</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="NextPmtDt" type="xs:dateTime">
                        <xs:annotation>
                          <xs:documentation>Fecha del proximo pago</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="PmtLimitDt" type="xs:dateTime">
                        <xs:annotation>
                          <xs:documentation>Fecha limite del pago</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="IntRateData">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="RateAmt">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="Amt" type="xs:decimal">
                                    <xs:annotation>
                                      <xs:documentation>Monto de la Tasa de Interés</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                      <xs:element name="CardNum" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Numero de la tarjeta</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="CardStatusCode" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Estatus de la tarjeta</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element maxOccurs="unbounded" minOccurs="0" name="ExtLimit">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="ChargedFees" type="xs:int">
                              <xs:annotation>
                                <xs:documentation>Cuotas Cobradas</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="ContractNum" type="xs:string">
                              <xs:annotation>
                                <xs:documentation>Numero de contrato</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="FinancingType" type="xs:string">
                              <xs:annotation>
                                <xs:documentation>Tipo de Financiamiento</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element name="GrantDt" type="xs:dateTime">
                              <xs:annotation>
                                <xs:documentation>Fecha de otorgamiento</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                            <xs:element maxOccurs="unbounded" minOccurs="0" name="ExtLimitBalances">
                              <xs:complexType>
                                <xs:sequence>
                                  <xs:element name="BalType" type="xs:string">
                                    <xs:annotation>
                                      <xs:documentation>Tipo de Balance</xs:documentation>
                                    </xs:annotation>
                                  </xs:element>
                                  <xs:element name="CurAmt">
                                    <xs:complexType>
                                      <xs:sequence>
                                        <xs:element name="Amt" type="xs:decimal">
                                          <xs:annotation>
                                            <xs:documentation>Monto</xs:documentation>
                                          </xs:annotation>
                                        </xs:element>
                                      </xs:sequence>
                                    </xs:complexType>
                                  </xs:element>
                                </xs:sequence>
                              </xs:complexType>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" name="CardBalances">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="BalType" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Tipo de Balance</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="CurAmt">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="Amt" type="xs:decimal">
                              <xs:annotation>
                                <xs:documentation>Monto</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="tdcCardAcctRelInqRq" type="eoptTdcCardAcctRelInq:tdcCardAcctRelInqRq_Type"/>
      <xs:element name="tdcCardAcctRelInqRs" type="eoptTdcCardAcctRelInq:tdcCardAcctRelInqRs_Type"/>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.banesco.com/eopt/tdcCardAcctTrnInq">
      <xs:complexType name="tdcCardAcctTrnInqRq_Type">
        <xs:sequence>
          <xs:element name="Party">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="Nationality" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Nacionalidad del cliente</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="PartyKey">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="IssuedIdentValue" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Identificacion del Cliente</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="PartyId" type="xs:string">
                        <xs:annotation>
                          <xs:documentation>Id numero de persona (opcional)</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="CardKey">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="CardId" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Número de la tarjeta</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="Trn">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="TrnType" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Tipo de movimiento a consultar</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="TimeFrame">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="StartDt" type="xs:dateTime">
                  <xs:annotation>
                    <xs:documentation>Fecha de inicio de la consulta</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element name="FIData">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="BranchId" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Superfranquicia del emisor</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="FIIdent" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Flldent</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="RefIdent" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>NetworkRefIden</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="tdcCardAcctTrnInqRs_Type">
        <xs:sequence>
          <xs:element name="Status">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="StatusCode" type="xs:long">
                  <xs:annotation>
                    <xs:documentation>Código del Status (0 = exitoso)</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Severity" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Código del Status del Servidor. Valores: Error, Warning, Info</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="StatusDesc" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Descripción del Status</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="AcctTrn">
            <xs:complexType>
              <xs:sequence>
                <xs:element name="OrigDt" type="xs:dateTime">
                  <xs:annotation>
                    <xs:documentation>Fecha del movimiento</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="PostedDt" type="xs:dateTime">
                  <xs:annotation>
                    <xs:documentation>Fecha de proceso</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="AthId" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Codigo de autorizacion</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="Desc" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Detalle del movimiento</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="TotalCurAmt">
                  <xs:complexType>
                    <xs:sequence>
                      <xs:element name="Amt" type="xs:decimal">
                        <xs:annotation>
                          <xs:documentation>Monto de la operación</xs:documentation>
                        </xs:annotation>
                      </xs:element>
                      <xs:element name="CurCode">
                        <xs:complexType>
                          <xs:sequence>
                            <xs:element name="CurCodeValue" type="xs:string">
                              <xs:annotation>
                                <xs:documentation>Código que identifica una moneda. El código se basa en el Estándar ISO4217-Alpha</xs:documentation>
                              </xs:annotation>
                            </xs:element>
                          </xs:sequence>
                        </xs:complexType>
                      </xs:element>
                    </xs:sequence>
                  </xs:complexType>
                </xs:element>
                <xs:element name="TrnType" type="xs:string">
                  <xs:annotation>
                    <xs:documentation>Tipo de Transaccion</xs:documentation>
                  </xs:annotation>
                </xs:element>
                <xs:element name="CurBalance" type="xs:decimal">
                  <xs:annotation>
                    <xs:documentation>Saldo al corte</xs:documentation>
                  </xs:annotation>
                </xs:element>
              </xs:sequence>
            </xs:complexType>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="tdcCardAcctTrnInqRq" type="eoptTdcCardAcctTrnInq:tdcCardAcctTrnInqRq_Type"/>
      <xs:element name="tdcCardAcctTrnInqRs" type="eoptTdcCardAcctTrnInq:tdcCardAcctTrnInqRs_Type"/>
    </xs:schema>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.banesco.com/eopt/CambiarEstatusTDD">
      <xs:complexType name="CambiarEstatusTDDRq_Type">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="NumeroTarjeta" type="xs:string">
            <xs:annotation>
              <xs:documentation>Numero de la tarjeta.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="Estatus" type="xs:string">
            <xs:annotation>
              <xs:documentation>Estado de la tarjeta.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="Motivo" type="xs:string">
            <xs:annotation>
              <xs:documentation>Motivo del estado de la tarjeta.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="IdCliente" type="xs:string">
            <xs:annotation>
              <xs:documentation>Identificacion del cliente.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CambiarEstatusTDDRq" type="eoptCambiarEstatusTDD:CambiarEstatusTDDRq_Type"/>
      <xs:complexType name="CambiarEstatusTDDRs_Type">
        <xs:sequence>
          <xs:element maxOccurs="1" minOccurs="0" name="CodigoError" type="xs:string">
            <xs:annotation>
              <xs:documentation>Codigo de error.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element maxOccurs="1" minOccurs="0" name="DescError" type="xs:string">
            <xs:annotation>
              <xs:documentation>Descripcion del error.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="CambiarEstatusTDDRs" type="eoptCambiarEstatusTDD:CambiarEstatusTDDRs_Type"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="tdcCardAcctTrnInqRq">
    <wsdl:part name="tdcCardAcctTrnInqRq" element="eoptTdcCardAcctTrnInq:tdcCardAcctTrnInqRq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tdcPmtRevRs">
    <wsdl:part name="tdcPmtRevRs" element="eoptTdcPmtRev:tdcPmtRevRs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tdcPmtRevRq">
    <wsdl:part name="tdcPmtRevRq" element="eoptTdcPmtRev:tdcPmtRevRq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tdcPmtAddRs">
    <wsdl:part name="tdcPmtAddRs" element="eoptTdcPmtAdd:tdcPmtAddRs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tdcCardAcctTrnInqRs">
    <wsdl:part name="tdcCardAcctTrnInqRs" element="eoptTdcCardAcctTrnInq:tdcCardAcctTrnInqRs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tdcPmtAddRq">
    <wsdl:part name="tdcPmtAddRq" element="eoptTdcPmtAdd:tdcPmtAddRq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CambiarEstatusTDDRq">
    <wsdl:part name="CambiarEstatusTDDRq" element="eoptCambiarEstatusTDD:CambiarEstatusTDDRq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tdcCardAcctRelInqRs">
    <wsdl:part name="tdcCardAcctRelInqRs" element="eoptTdcCardAcctRelInq:tdcCardAcctRelInqRs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="CambiarEstatusTDDRs">
    <wsdl:part name="CambiarEstatusTDDRs" element="eoptCambiarEstatusTDD:CambiarEstatusTDDRs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="tdcCardAcctRelInqRq">
    <wsdl:part name="tdcCardAcctRelInqRq" element="eoptTdcCardAcctRelInq:tdcCardAcctRelInqRq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="WAY4Svc_V1.0">
    <wsdl:operation name="tdcPmtAdd">
      <wsdl:input message="tns:tdcPmtAddRq">
    </wsdl:input>
      <wsdl:output message="tns:tdcPmtAddRs">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tdcPmtRev">
      <wsdl:input message="tns:tdcPmtRevRq">
    </wsdl:input>
      <wsdl:output message="tns:tdcPmtRevRs">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tdcCardAcctRelInq">
      <wsdl:input message="tns:tdcCardAcctRelInqRq">
    </wsdl:input>
      <wsdl:output message="tns:tdcCardAcctRelInqRs">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tdcCardAcctTrnInq">
      <wsdl:input message="tns:tdcCardAcctTrnInqRq">
    </wsdl:input>
      <wsdl:output message="tns:tdcCardAcctTrnInqRs">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarEstatusTDD">
      <wsdl:input message="tns:CambiarEstatusTDDRq">
    </wsdl:input>
      <wsdl:output message="tns:CambiarEstatusTDDRs">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WAY4Svc_V1.0SOAP" type="tns:WAY4Svc_V1.0">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="tdcPmtAdd">
      <soap:operation soapAction="http://xmlns.banesco.com/service/WAY4Svc/tdcPmtAdd" style="document"/>
      <wsdl:input>
        <soap:body parts="tdcPmtAddRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="tdcPmtAddRs" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tdcPmtRev">
      <soap:operation soapAction="http://xmlns.banesco.com/service/WAY4Svc/tdcPmtRev" style="document"/>
      <wsdl:input>
        <soap:body parts="tdcPmtRevRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="tdcPmtRevRs" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tdcCardAcctRelInq">
      <soap:operation soapAction="http://xmlns.banesco.com/service/WAY4Svc/tdcCardAcctRelInq" style="document"/>
      <wsdl:input>
        <soap:body parts="tdcCardAcctRelInqRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="tdcCardAcctRelInqRs" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="tdcCardAcctTrnInq">
      <soap:operation soapAction="http://xmlns.banesco.com/service/WAY4Svc/tdcCardAcctTrnInq" style="document"/>
      <wsdl:input>
        <soap:body parts="tdcCardAcctTrnInqRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="tdcCardAcctTrnInqRs" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CambiarEstatusTDD">
      <soap:operation soapAction="http://xmlns.banesco.com/service/WAY4Svc/CambiarEstatusTDD" style="document"/>
      <wsdl:input>
        <soap:body parts="CambiarEstatusTDDRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body parts="CambiarEstatusTDDRs" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WAY4Svc_V1.0">
    <wsdl:port name="WAY4Svc_V1.0SOAP" binding="tns:WAY4Svc_V1.0SOAP">
      <soap:address location="http://localhost:8088/WebServiceWAY4SvcMock"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
