BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDesembolso/ConsultarDesembolsosConfiguracionById/XSD/ConsultarDesembolsosConfiguracionById.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarDesembolsosConfiguracionById" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarDesembolsosConfiguracionById" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarDesembolsosConfiguracionByIdInput" type="ConsultarDesembolsosConfiguracionByIdInput"/>
   <xs:complexType name="ConsultarDesembolsosConfiguracionByIdInput">
      <xs:sequence>
         <xs:element name="P_ID_DESEMBOLSO" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarDesembolsosConfiguracionByIdOutputCollection" type="ConsultarDesembolsosConfiguracionByIdOutputCollection"/>
   <xs:complexType name="ConsultarDesembolsosConfiguracionByIdOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarDesembolsosConfiguracionByIdOutput" type="ConsultarDesembolsosConfiguracionByIdOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarDesembolsosConfiguracionByIdOutput">
      <xs:sequence>
         <xs:element name="ID_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO_DESEMBOLSAR" type="xs:decimal" nillable="true"/>
         <xs:element name="PROGRAMADO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_EFECTIVA_DESEMBOLSO" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_ESTIMADA_DESEMBOLSAR" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_ESTIMADA_DISP_RECURSOS" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_INICIO_PROCESO_DESEM" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TCA_ESTADO" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO_DESEMBOLSAR_USD" type="xs:decimal" nillable="true"/>
         <xs:element name="FONDO" type="xs:string" nillable="true"/>
         <xs:element name="RECURSOS_EXTERNOS" type="xs:decimal" nillable="true"/>
         <xs:element name="CUENTA_CLIENTE" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_DISPONIBILIDAD_FONDOS" type="xs:dateTime" nillable="true"/>
         <xs:element name="ORIGEN_TRANFERENCIA_CLIENTE" type="xs:string" nillable="true"/>
         <xs:element name="CONTRATO_FLEXCUBE" type="xs:string" nillable="true"/>
         <xs:element name="USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="REFERENCIA" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_ESTADO" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_ESTADO" type="xs:string" nillable="true"/>
         <xs:element name="CODIGO_EXTERNO_ESTADO" type="xs:string" nillable="true"/>
         <xs:element name="BAN_ESTATUS_ESTADO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_MONEDA" type="xs:decimal" nillable="true"/>
         <xs:element name="PROGRAMA_OPERACION" type="xs:string" nillable="true"/>
         <xs:element name="DESTINO_FINANCIAMIENTO" type="xs:string" nillable="true"/>
         <xs:element name="ID_TRANSFERENCIA_FT05" type="xs:decimal" nillable="true"/>
         <xs:element name="BHQ_TRANSFERENCIA_FT05" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_EFECTIVA_FT05" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TCA_MONEDA" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_MONEDA" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_MONEDA" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_MONEDA" type="xs:string" nillable="true"/>
         <xs:element name="BAN_ESTATUS_MONEDA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_LINEA_CREDITO" type="xs:decimal" nillable="true"/>
         <xs:element name="CODIGO_ASIGNACION" type="xs:decimal" nillable="true"/>
         <xs:element name="FUENTE" type="xs:string" nillable="true"/>
         <xs:element name="ID_CONTRATO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_LINEA_PASIVA" type="xs:string" nillable="true"/>
         <xs:element name="MONTO_ASIGNADO_FUENTE" type="xs:decimal" nillable="true"/>
         <xs:element name="NUMERO_ASIGNACION" type="xs:decimal" nillable="true"/>
         <xs:element name="PORCENTAJE" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_FUENTE" type="xs:string" nillable="true"/>
         <xs:element name="COMENTARIO_FUENTE" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_OBTENIDO" type="xs:dateTime" nillable="true"/>
         <xs:element name="MONTO_DESEMBOLSAR_FUENTE" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO_DISPONIBLE_FUENTE" type="xs:decimal" nillable="true"/>
         <xs:element name="RESERVA_TOTAL_FUENTE" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_CONDICION_FINANCIERA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_PRODUCTO_FLEXCUBE" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_ESPECIFICACION_FECHA" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_VENCIMIENTO" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_PRIMER_PAGO_CAPITAL" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_PROXIMO_PAGO_INTERES" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_PROXIMA_REVISION_SPREAD" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_PROXIMA_REVISION_TASA" type="xs:dateTime" nillable="true"/>
         <xs:element name="FRECUENCIA_PAGO_CAPITAL" type="xs:decimal" nillable="true"/>
         <xs:element name="FRECUENCIA_REVISION_TASA" type="xs:decimal" nillable="true"/>
         <xs:element name="FRECUENCIA_PLAZO" type="xs:decimal" nillable="true"/>
         <xs:element name="FRECUENCIA_PERIODO_GRACIA" type="xs:decimal" nillable="true"/>
         <xs:element name="FRECUENCIA_PAGO_INTERES" type="xs:decimal" nillable="true"/>
         <xs:element name="FRECUENCIA_REVISION_SPREAD" type="xs:decimal" nillable="true"/>
         <xs:element name="TRATAMIENTO_DIAS_FERIADOS" type="xs:string" nillable="true"/>
         <xs:element name="CODIGO_TASA_REFERENCIA_SPREAD" type="xs:string" nillable="true"/>
         <xs:element name="SPREAD_MORA" type="xs:decimal" nillable="true"/>
         <xs:element name="TASA_MAXIMA" type="xs:decimal" nillable="true"/>
         <xs:element name="TASA_MINIMA" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO_ESPECIAL" type="xs:decimal" nillable="true"/>
         <xs:element name="CODIGO_TASA_REFERENCIA" type="xs:string" nillable="true"/>
         <xs:element name="TASA_FIJA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_BASE_CALCULO" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_BASE_CALCULO" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_BASE_CALCULO" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_BASE_CALCULO" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_PAGO_CAPITAL" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_F_PAGO_CAPITAL" type="xs:string" nillable="true"/>
         <xs:element name="DES_CORTA_F_PAGO_CAPITAL" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_F_PAGO_CAPITAL" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_REV_TASA" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_FREC_REV_TASA" type="xs:string" nillable="true"/>
         <xs:element name="DES_CORTA_FREC_REV_TASA" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_FREC_REV_TASA" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_PLAZO" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_FRECUENCIA_PLAZO" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_FREC_PLAZO" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_FREC_PLAZO" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_PERIODO_GRA" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_PERIODO_GRA" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_PERIODO_GRA" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_PERIODO_GRA" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_PAGO_INTERES" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_FREC_PAGO_INTERES" type="xs:string" nillable="true"/>
         <xs:element name="DES_CORTA_FREC_PAGO_INTERES" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_FREC_PAGO_INTERES" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_REV_SPREAD" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_FRE_REV_SPREAD" type="xs:string" nillable="true"/>
         <xs:element name="DES_CORTA_FRE_REV_SPREAD" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_FRE_REV_SPREAD" type="xs:string" nillable="true"/>
         <xs:element name="ID_TIPO_TASA_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_TASA_DESEMBOLSO" type="xs:string" nillable="true"/>
         <xs:element name="DESC_CORTA_TASA_DESEMBOLSO" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_TASA_DESEMBOLSO" type="xs:string" nillable="true"/>
         <xs:element name="ID_CAT_ACTIVIDAD_ECONOMICA" type="xs:decimal" nillable="true"/>
         <xs:element name="DES_ACTIVIDAD_ECONOMICA" type="xs:string" nillable="true"/>
         <xs:element name="DES_CORTA_ACTIVIDAD_ECONOMICA" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXT_ACTIVIDAD_ECONOMICA" type="xs:string" nillable="true"/>
         <xs:element name="ID_CAT_AREA_FOCALIZACION" type="xs:decimal" nillable="true"/>
         <xs:element name="DES_AREA_FOCALIZACION" type="xs:string" nillable="true"/>
         <xs:element name="DES_CORTA_AREA_FOCALIZACION" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_AREA_FOCALIZACION" type="xs:string" nillable="true"/>
         <xs:element name="ID_CAT_EJE_ESTRATEGICO" type="xs:decimal" nillable="true"/>
         <xs:element name="DES_EJE_ESTRATEGICO" type="xs:string" nillable="true"/>
         <xs:element name="DES_CORTA_EJE_ESTRATEGICO" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_EJE_ESTRATEGICO" type="xs:string" nillable="true"/>
         <xs:element name="CARGO_DESEMBOLSO" type="xs:string" nillable="true"/>
         <xs:element name="COMPONENTE" type="xs:string" nillable="true"/>
         <xs:element name="MONTO_CARGO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO_CARGO" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_CALENDARIO" type="xs:decimal" nillable="true"/>
         <xs:element name="SE_PUEDE_MOVER_ENTRE_MESES" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_CALENDARIO" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_CALENDARIO" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_CALENDARIO" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_MODALIDAD_FINAN" type="xs:decimal" nillable="true"/>
         <xs:element name="ES_EXTERNO" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>