AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/DownloadOrderAPP/CreateDownloadOrderCarvajalAdapterService/Resources/FileGeneral.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:tns="http://TargetNamespace.com/ftpCreateOrderMasterEDI" targetNamespace="http://TargetNamespace.com/ftpCreateOrderMasterEDI" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="US-ASCII">


 <xsd:element name="Element">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="body" minOccurs="1" maxOccurs="unbounded" nxsd:style="array" nxsd:cellSeparatedBy="${eol}">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="NumOrder" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="PenidngOrderNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="Item" type="xsd:string" nxsd:style="fixedLength" nxsd:length="25" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="TypeLabel" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="StoreOrWH" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2"/>
              <xsd:element name="LocationNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="Location" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="StoreLoc2" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="StoreLoc3" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="UnitOfMeasure" type="xsd:string" nxsd:style="fixedLength" nxsd:length="4" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="BuyySellFactor" type="xsd:int" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="CasePack" type="xsd:int" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="NewCostUnit" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="VatCost" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="UnitRetail" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="Quantity" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="QuantityReceived" type="xsd:int" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="NumItemCatalogSupplier" type="xsd:string" nxsd:style="fixedLength" nxsd:length="30" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="OriginalQuantity" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="QuantityFree" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="QuantityReserved" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="TotalCostAllowancesPerUnit" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="NumSupplier" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="StyleNumber" type="xsd:string" nxsd:style="fixedLength" nxsd:length="25" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="Processed" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="SeasonCode" type="xsd:string" nxsd:style="fixedLength" nxsd:length="3"/>
              <xsd:element name="ColorCode" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="SizeCode" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="DimensionCode" type="xsd:int" nxsd:style="fixedLength" nxsd:length="4"/>
              <xsd:element name="BuyQuantityOrder" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="UnitCostNew" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="TotalBuyCostAllowabces" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="DescItemBlank" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="DscItem" type="xsd:string" nxsd:style="fixedLength" nxsd:length="250" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="DescColor" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="DescSize" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="OrderNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="NumPendingOrder" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="SupplierNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="DescNewTerms" type="xsd:string" nxsd:style="fixedLength" nxsd:length="240" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="Status" type="xsd:int" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="NewTypePurchase" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="StoreOrWarehouse" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2"/>
              <xsd:element name="LocationNumber" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="AD" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="Alloc_DetailLocation" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="AllowBackorder" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="Confirmed" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="PhoneOrder" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="BuyerNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="4" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="DepartamentNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="4" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="ClassNum" type="xsd:string" nxsd:style="fixedLength" nxsd:length="4" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="OtherSupplier" type="xsd:string" nxsd:style="fixedLength" nxsd:length="7" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="FrtPolicyCode" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="FOB" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="ShipVia1" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="ShipVia2" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="ShippingPoint" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="ShippingCommnents" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="EntryDateCenturyCode" type="xsd:int" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="WrittenDateOfOrder" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="ShipDateCenturyCode" type="xsd:int" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="ExpectedShippingDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="CancelDateCenturyCode" type="xsd:int" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="NewNumberAfterOfDate1" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="ReceiptDateCenturyCode" type="xsd:int" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="NewNumberAfterOfDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="LastChangeDateCenturyCode" type="xsd:int" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="FileCreationDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="ReviewFreqDays" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="PlanLeadDays" type="xsd:string" nxsd:style="fixedLength" nxsd:length="5" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="PointOfOrigin" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="NewComment" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2000" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="NumDUNSSupplier" type="xsd:string" nxsd:style="fixedLength" nxsd:length="9" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="LocationDUNSSUpplier" type="xsd:string" nxsd:style="fixedLength" nxsd:length="4" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="TotalPOCost" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="TotalPOVat" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="TotalPORetail" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="PackQuantity" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="TotalPOUnits" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="TotalPOWeight" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="TarpChange" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="StopoverChange" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="SkidCharge" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="OtherChgAmt" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="OtherChg" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="BackCount" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="AmountRecRetail" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="AmountRecVat" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="AmountRecCost" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="TotalPallets" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="TotalCube" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="PushDownDateCenturyCode" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="PushDownDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="ShipPointNumber" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="PayDateCenturyCode" type="xsd:int" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="ExpectedPaymentDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="IndistinctPurchaseOrder" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="DiscountsForItem" type="xsd:string" nxsd:style="fixedLength" nxsd:length="20" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="TotalVendorLevelAlw" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="MasterPONmber" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="MasterBONumber" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="POLoadNumber" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="ConversationRate" type="xsd:int" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="RateEffectiveCentury" type="xsd:int" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="RateEffectivateDate" type="xsd:string" nxsd:style="fixedLength" nxsd:length="14"/>
              <xsd:element name="QuickEntreFlag" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="MultLocType" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2"/>
              <xsd:element name="CreateEDI850" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="CreateEDI860" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="ImportOrder" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="NameBuyer" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="NameStore" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="Address1" type="xsd:string" nxsd:style="fixedLength" nxsd:length="240" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="Address2" type="xsd:string" nxsd:style="fixedLength" nxsd:length="240" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="Address3" type="xsd:string" nxsd:style="fixedLength" nxsd:length="240" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="City" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="State" type="xsd:string" nxsd:style="fixedLength" nxsd:length="3" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="Country" type="xsd:string" nxsd:style="fixedLength" nxsd:length="3" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="CodePostal" type="xsd:string" nxsd:style="fixedLength" nxsd:length="30" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="ShipName" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="AddressShip1" type="xsd:string" nxsd:style="fixedLength" nxsd:length="240" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="AddressShip2" type="xsd:string" nxsd:style="fixedLength" nxsd:length="240" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="AddressShip3" type="xsd:string" nxsd:style="fixedLength" nxsd:length="240" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="CityShip" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="stateShip" type="xsd:string" nxsd:style="fixedLength" nxsd:length="3" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="CountryShip" type="xsd:string" nxsd:style="fixedLength" nxsd:length="3" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="CodePostalShip" type="xsd:string" nxsd:style="fixedLength" nxsd:length="30" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="SupplierName" type="xsd:string" nxsd:style="fixedLength" nxsd:length="240" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="AddressSupplier1" type="xsd:string" nxsd:style="fixedLength" nxsd:length="240" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="AddressSupplier2" type="xsd:string" nxsd:style="fixedLength" nxsd:length="240" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="AddressSupplier3" type="xsd:string" nxsd:style="fixedLength" nxsd:length="240" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="CitySupplier" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="StateSupplier" type="xsd:string" nxsd:style="fixedLength" nxsd:length="3" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="CodePostalSupplier" type="xsd:string" nxsd:style="fixedLength" nxsd:length="30" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="NameDepartament" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="Name" type="xsd:string" nxsd:style="fixedLength" nxsd:length="1"/>
              <xsd:element name="NumberOrder" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="BackOrder" type="xsd:string" nxsd:style="fixedLength" nxsd:length="2"/>
              <xsd:element name="NumberLocation" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="DepartamentNumber" type="xsd:string" nxsd:style="fixedLength" nxsd:length="4" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="NumberClass" type="xsd:string" nxsd:style="fixedLength" nxsd:length="4" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="ShipToLocation" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="SKU" type="xsd:string" nxsd:style="fixedLength" nxsd:length="25" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="BOX" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="Pzas" type="xsd:string" nxsd:style="fixedLength" nxsd:length="10" nxsd:padStyle="head" nxsd:paddedBy="0"/>
              <xsd:element name="Brand" type="xsd:string" nxsd:style="fixedLength" nxsd:length="120" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="Pack" type="xsd:string" nxsd:style="fixedLength" nxsd:length="6" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="Stick" type="xsd:string" nxsd:style="fixedLength" nxsd:length="12" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
              <xsd:element name="Concept" type="xsd:string" nxsd:style="fixedLength" nxsd:length="250" nxsd:padStyle="tail" nxsd:paddedBy=" "/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=docPaebsa.txt</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>