AG_2019/OSB/AlmacenesGarcia_DEV/Capabilities/Support/Commons/MerchandiseHierarchyEntitySvc/Resource/MerchandiseHierarchyEntitySvc.wsdl

<wsdl:definitions name="MerchandiseHierarchyEntitySvc" targetNamespace="http://mx.agarcia.ea/Capabilities/Support/Commons/MerchandiseHierarchyEntitySvc/v1.0" xmlns:tns="http://mx.agarcia.ea/Capabilities/Support/Commons/MerchandiseHierarchyEntitySvc/v1.0" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Support/Commons/MerchandiseHierarchyEntity" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Support/Commons/MerchandiseHierarchyEntity" schemaLocation="../Schema/MerchandiseHierarchyEntitySchema.xsd"/>
      <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
      <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestMessage">
    <wsdl:part name="translateRequestMessage" element="inp1:translateRequest"/>
  </wsdl:message>
  <wsdl:message name="replyMessage">
    <wsdl:part name="translateResponseMessage" element="inp1:translateResponse"/>
  </wsdl:message>
  <wsdl:message name="standarMessageFault">
    <wsdl:part name="fault" element="AGSM:messageError"/>
  </wsdl:message>
  <wsdl:message name="standarMessageHeader">
    <wsdl:part name="header" element="AGSH:headerMessage"/>
  </wsdl:message>
  <wsdl:portType name="MerchandiseHierarchyEntityPType">
    <wsdl:operation name="translate">
      <wsdl:input message="tns:requestMessage"/>
      <wsdl:output message="tns:replyMessage"/>
       <wsdl:fault message="tns:standarMessageFault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="find">
      <wsdl:input message="tns:findHierarchyRequest"/>
      <wsdl:output message="tns:findHierarchyResponse"/>
      <wsdl:fault message="tns:standarMessageFault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="findById">
      <wsdl:input message="tns:findByIdRequest"/>
      <wsdl:output message="tns:findByIdResponse"/>
      <wsdl:fault name="fault" message="tns:standarMessageFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:message name="findHierarchyRequest">
    <wsdl:part name="findHierarchyRequest" element="inp1:findHierarchyRequest"/>
  </wsdl:message>
  <wsdl:message name="findHierarchyResponse">
    <wsdl:part name="findHierarchyResponse" element="inp1:findHierarchyResponse"/>
  </wsdl:message>
  <wsdl:message name="findByIdRequest">
    <wsdl:part name="findByIdRequest" element="inp1:findByIdRequest"/>
  </wsdl:message>
  <wsdl:message name="findByIdResponse">
    <wsdl:part name="findByIdResponse" element="inp1:findByIdResponse"/>
  </wsdl:message>
  <wsdl:binding name="MerchandiseHierarchyEntityBinding" type="tns:MerchandiseHierarchyEntityPType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="translate">
      <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Support/Commons/MerchandiseHierarchyEntitySvc/v1.0/translate"/>
      <wsdl:input>
        <soap:body use="literal" parts="translateRequestMessage"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="translateResponseMessage"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="find">
      <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Support/Commons/MerchandiseHierarchyEntitySvc/v1.0/find"/>
      <wsdl:input>
        <soap:body use="literal" parts="findHierarchyRequest"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="findHierarchyResponse"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findById">
      <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Support/Commons/MerchandiseHierarchyEntitySvc/v1.0/findById"/>
      <wsdl:input>
        <soap:body use="literal" parts="findByIdRequest"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="findByIdResponse"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>