BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Aprobacion/V1/Schema/AprobacionMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:comMO="http://www.bcie.org/AprobacionMO"
            targetNamespace="http://www.bcie.org/AprobacionMO"
            xmlns:resBO="http://www.bcie.org/ResultBO"
            xmlns:operBO="http://www.bcie.org/OperacionBO"
            elementFormDefault="qualified" xmlns:comBO="http://www.bcie.org/AprobacionBO">
            
    <xsd:import schemaLocation="../../../Aprobacion/V1/Schema/AprobacionBO.xsd" namespace="http://www.bcie.org/AprobacionBO"/>
    <xsd:import schemaLocation="../../../Operacion/V1/Schema/OperacionBO.xsd" namespace="http://www.bcie.org/OperacionBO"/>
    <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>

   <!-- Mensajes -->
   <xsd:element name="CrearAprobacionRequest" type="comMO:CrearAprobacionRequestType"/>
   <xsd:element name="CrearAprobacionResponse" type="comMO:CrearAprobacionResponseType"/>
    <xsd:element name="CrearAprobacionFLEXCUBERequest" type="comMO:CrearAprobacionFLEXCUBERequestType"/>
   <xsd:element name="CrearAprobacionFLEXCUBEResponse" type="comMO:CrearAprobacionFLEXCUBEResponseType"/>
   <xsd:element name="ActualizarAprobacionRequest" type="comMO:ActualizarAprobacionRequestType"/>
   <xsd:element name="ActualizarAprobacionResponse" type="comMO:ActualizarAprobacionResponseType"/>
  <xsd:element name="ConsultarAprobacionRequest" type="comMO:ConsultarAprobacionRequestType"/>
   <xsd:element name="ConsultarAprobacionResponse" type="comMO:ConsultarAprobacionResponseType"/>
   <xsd:element name="ConsultarAprobacionesPagadasRequest" type="comMO:ConsultarAprobacionesPagadasRequestType"/>
   <xsd:element name="ConsultarAprobacionesPagadasResponse" type="comMO:ConsultarAprobacionesPagadasResponseType"/>
   <xsd:element name="EliminarAprobacionRequest" type="comMO:EliminarAprobacionRequestType"/>
   <xsd:element name="EliminarAprobacionResponse" type="comMO:EliminarAprobacionResponseType"/>
   <!-- Tipos de los mensajes -->

   <!-- Create -->
   <xsd:element name="ConsultarAprobacionByIdRequest"
                type="comMO:ConsultarAprobacionByIdRequestType"/>
   <xsd:element name="ConsultarAprobacionByIdResponse"
                type="comMO:ConsultarAprobacionByIdResponseType"/>
   <xsd:element name="ConsultarAprobacionByIdOperacionRequest"
                type="comMO:ConsultarAprobacionByIdOperacionRequestType"/>
   <xsd:element name="ConsultarAprobacionByIdOperacionResponse"
                type="comMO:ConsultarAprobacionByIdOperacionResponseType"/>
   <xsd:element name="ValidarProcesoAprobacionFinalizadoRequest"
                type="comMO:ValidarProcesoAprobacionFinalizadoRequestType"/>
   <xsd:element name="ValidarProcesoAprobacionFinalizadoResponse"
                type="comMO:ValidarProcesoAprobacionFinalizadoResponseType"/>
   <xsd:complexType name="CrearAprobacionRequestType">
      <xsd:sequence>
         <xsd:element name="Aprobacion" type="comBO:Aprobacion" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CrearAprobacionResponseType">
      <xsd:sequence>
         <xsd:element name="Aprobacion" type="comBO:Aprobacion"/>
         <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CrearAprobacionFLEXCUBERequestType">
      <xsd:sequence>
         <xsd:element name="Aprobacion" type="comBO:Aprobacion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CrearAprobacionFLEXCUBEResponseType">
      <xsd:sequence>
         <xsd:element name="Aprobacion" type="comBO:Aprobacion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ActualizarAprobacionRequestType">
      <xsd:sequence>
         <xsd:element name="Aprobacion" type="comBO:Aprobacion" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="actualizarTermino" type="xsd:boolean" minOccurs="0" maxOccurs="1" nillable="true"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ActualizarAprobacionResponseType">
      <xsd:sequence>
         <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
    <xsd:complexType name="ConsultarAprobacionRequestType">
      <xsd:sequence>
         <xsd:element name="idSolicitudAprobacion" type="xsd:long" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarAprobacionResponseType">
      <xsd:sequence>
         <xsd:element name="Aprobacion" type="comBO:Aprobacion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarAprobacionesPagadasRequestType">
      <xsd:sequence>
         <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarAprobacionesPagadasResponseType">
      <xsd:sequence>
         <xsd:element name="Resultado" type="resBO:Resultado"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="EliminarAprobacionRequestType">
      <xsd:sequence>
         <xsd:element name="idAprobacion" type="comBO:idAprobacion" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="EliminarAprobacionResponseType">
      <xsd:sequence>
         <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarAprobacionByIdRequestType">
      <xsd:sequence>
         <xsd:element name="idAprobacion" type="comBO:idAprobacion" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarAprobacionByIdResponseType">
      <xsd:sequence>
         <xsd:element name="Aprobacion" type="comBO:Aprobacion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarAprobacionByIdOperacionRequestType">
      <xsd:sequence>
         <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarAprobacionByIdOperacionResponseType">
      <xsd:sequence>
         <xsd:element name="Aprobacion" type="comBO:Aprobacion"/>
         <xsd:element name="Resultado" type="resBO:Resultado"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ValidarProcesoAprobacionFinalizadoRequestType">
      <xsd:sequence>
         <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ValidarProcesoAprobacionFinalizadoResponseType">
      <xsd:sequence>
         <xsd:element name="Aprobacion" type="comBO:Aprobacion"/>
         <xsd:element name="Resultado" type="resBO:Resultado"/>
      </xsd:sequence>
   </xsd:complexType>
   <!-- Fin Create -->
</xsd:schema>


