BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/Utilidades/CrearActualizarClienteProceso/V1/Schema/CrearActualizarClienteProcesoBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/CrearActualizarClienteProcesoBO"
            targetNamespace="http://www.bcie.org/CrearActualizarClienteProcesoBO" elementFormDefault="qualified"
            xmlns:cliBO="http://www.bcie.org/ClienteBO">
            <xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="../../../../DominioCliente/Cliente/V1/Schema/ClienteBO.xsd"/>
  <xsd:complexType name="ClienteProceso">
    <xsd:sequence>
      <xsd:element name="idCliente" type="cliBO:idCliente"/>
      <xsd:element name="idProceso" type="xsd:long"/>
      <xsd:element name="estatus" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
