BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ConversorMonedas/V1/Wsdl/ConversorMonedas.wsdl

<definitions targetNamespace="http://www.bcie.org/ConversorMonedas" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://www.bcie.org/ConversorMonedas" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:condmMO="http://www.bcie.org/ConversorMonedasMO">
              <types>
		<xsd:schema>
			<xsd:import namespace="http://www.bcie.org/ConversorMonedasMO" schemaLocation="../Schema/ConversorMonedasMO.xsd"/>
		</xsd:schema>
            </types>
 <message name="ConversorMonedasRequestMessage">
  <part name="RequestConvsorMonedas" element="condmMO:ConversorMonedasRequest"/>
 </message>
 <message name="ConversorMonedasResponseMessage">
  <part name="ResponseConversorMonedas" element="condmMO:ConversorMonedasResponse"/>
 </message>
 <portType name="ConversorMonedas_PT">
  <operation name="conversorMonedas">
   <input message="tns:ConversorMonedasRequestMessage"/>
   <output message="tns:ConversorMonedasResponseMessage"/>
  </operation>
  <operation name="ConvertirMonedasImportes">
   <input message="tns:ConvertirMonedasImportesRequestMessage"/>
   <output message="tns:ConvertirMonedasImportesResponseMessage"/>
  </operation>
 </portType>
 <binding name="ConversorMonedas_PT12Bnd" type="tns:ConversorMonedas_PT">
  <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <operation name="conversorMonedas">
   <soap12:operation style="document" soapAction="http://www.bcie.org/ConversorMonedas/conversorMonedas"/>
   <input>
    <soap12:body use="literal" parts="RequestConvsorMonedas"/>
   </input>
   <output>
    <soap12:body use="literal" parts="ResponseConversorMonedas"/>
   </output>
  </operation>
  <operation name="ConvertirMonedasImportes">
   <soap12:operation style="document" soapAction="http://www.bcie.org/ConversorMonedas/ConvertirMonedasImportes"/>
   <input>
    <soap12:body use="literal" parts="requestConvertirMonedasImportes"/>
   </input>
   <output>
    <soap12:body use="literal" parts="responseConvertirMonedasImportes"/>
   </output>
  </operation>
 </binding>
 <message name="ConvertirMonedasImportesRequestMessage">
  <part name="requestConvertirMonedasImportes" element="condmMO:ConvertirMonedasImportesRequest"/>
 </message>
 <message name="ConvertirMonedasImportesResponseMessage">
  <part name="responseConvertirMonedasImportes" element="condmMO:ConvertirMonedasImportesResponse"/>
 </message>
</definitions>