BCIE_fenix/preprod/SOA/09-OSB-FLEXCUBE/MDS/Resources/ComponentesComunes/Flexcube14/DominioCliente/Cliente/V1/WSDL/Cliente.wsdl

<definitions targetNamespace="http://www.bcie.org/Flexcube14/Cliente" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.bcie.org/Flexcube14/Cliente" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:cliMO="http://www.bcie.org/FLEXCUBE14/ClienteMO">
    <types>
        <xsd:schema targetNamespace="http://www.bcie.org/Flexcube14/Cliente/types" elementFormDefault="qualified">
            <xsd:import namespace="http://www.bcie.org/FLEXCUBE14/ClienteMO"
                        schemaLocation="../../../../DominioCliente/Cliente/V1/Schema/ClienteMO.xsd"/>
        </xsd:schema>
    </types>
    <message name="requestCreaClienteMessage">
        <part name="requestCreaCliente" element="cliMO:CreaClienteRequest"/>
    </message>
    <message name="responseCreaClienteMessage">
        <part name="responseCreaCliente" element="cliMO:CreaClienteResponse"/>
    </message>
     <message name="requestActualizarClienteMessage">
        <part name="requestActualizarCliente" element="cliMO:ActualizarClienteRequest"/>
    </message>
    <message name="responseActualizarClienteMessage">
        <part name="responseActualizarCliente" element="cliMO:ActualizarClienteResponse"/>
    </message>
    <portType name="ClienteFlexcubePT">
        <operation name="CreaCliente">
            <input message="tns:requestCreaClienteMessage"/>
            <output message="tns:responseCreaClienteMessage"/>
        </operation>
        <operation name="ActualizarCliente">
            <input message="tns:requestActualizarClienteMessage"/>
            <output message="tns:responseActualizarClienteMessage"/>
        </operation>
    </portType>
    <binding name="ClienteFlexcubePTSOAP12Bnd" type="tns:ClienteFlexcubePT">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="CreaCliente">
            <soap12:operation style="document" soapAction="http://xmlns.bcie.com/Flexcube14/ClienteService/crearCliente"/>
            <input>
                <soap12:body use="literal" parts="requestCreaCliente"/>
            </input>
            <output>
                <soap12:body use="literal" parts="responseCreaCliente"/>
            </output>
        </operation>
        <operation name="ActualizarCliente">
            <soap12:operation style="document" soapAction="http://xmlns.bcie.com/Flexcube14/ClienteService/actualizarCliente"/>
            <input>
                <soap12:body use="literal" parts="requestActualizarCliente"/>
            </input>
            <output>
                <soap12:body use="literal" parts="responseActualizarCliente"/>
            </output>
        </operation>
    </binding>
</definitions>