BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyProcesosPrincipales/src/META-INF/ProxyProcesosPrincipales/wsdls/V1.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosPrincipales" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://xmlns.oracle.com/bpmn/bpmnProcess/ElegibilidadProcess" xmlns:WL5G3N10="http://xmlns.oracle.com/bpmn/bpmnProcess/DesembolsoProcess" xmlns:WL5G3N11="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:WL5G3N2="http://xmlns.oracle.com/bpmn/bpmnProcess/PreparacionProcess" xmlns:WL5G3N3="http://xmlns.oracle.com/bpmn/bpmnProcess/AnalisisProcess" xmlns:WL5G3N4="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionProcess" xmlns:WL5G3N5="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionProcess" xmlns:WL5G3N6="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionProcess" xmlns:WL5G3N7="http://xmlns.oracle.com/bpmn/bpmnProcess/CierreProcess" xmlns:WL5G3N8="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosPrincipales" xmlns:WL5G3N9="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCobroProcess">
  <WL5G3N0:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosPrincipales" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:anaproc="http://xmlns.oracle.com/bpmn/bpmnProcess/AnalisisProcess" xmlns:aproproc="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionProcess" xmlns:cierreproc="http://xmlns.oracle.com/bpmn/bpmnProcess/CierreProcess" xmlns:desproc="http://xmlns.oracle.com/bpmn/bpmnProcess/DesembolsoProcess" xmlns:eleproc="http://xmlns.oracle.com/bpmn/bpmnProcess/ElegibilidadProcess" xmlns:evaproc="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionProcess" xmlns:forproc="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionProcess" xmlns:gescob="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCobroProcess" xmlns:param="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:preproc="http://xmlns.oracle.com/bpmn/bpmnProcess/PreparacionProcess" xmlns:res="http://www.bcie.org/ResultBO" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosPrincipales" xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ElegibilidadProcess" schemaLocation="V1.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/PreparacionProcess" schemaLocation="V1_9.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AnalisisProcess" schemaLocation="V1_10.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionProcess" schemaLocation="V1_11.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionProcess" schemaLocation="V1_12.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionProcess" schemaLocation="V1_13.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCobroProcess" schemaLocation="V1_14.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CierreProcess" schemaLocation="V1_15.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/DesembolsoProcess" schemaLocation="V1_16.xsd"/>
      <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="V1_17.xsd"/>
      <xsd:element name="ResultadoProceso">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" type="res:Resultado"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="InicioElegibilidad">
    <WL5G3N0:part element="WL5G3N1:InicioElegibilidad" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FinElegibilidad">
    <WL5G3N0:part element="WL5G3N1:FinElegibilidad" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="InicioPreparacion">
    <WL5G3N0:part element="WL5G3N2:InicioPreparacion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FinPreparacion">
    <WL5G3N0:part element="WL5G3N2:FinPreparacion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="InicioAnalisis">
    <WL5G3N0:part element="WL5G3N3:InicioAnalisis" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FinAnalisis">
    <WL5G3N0:part element="WL5G3N3:FinAnalisis" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="InicioEvaluacion">
    <WL5G3N0:part element="WL5G3N4:InicioEvaluacion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FinEvaluacion">
    <WL5G3N0:part element="WL5G3N4:FinEvaluacion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="InicioAprobacion">
    <WL5G3N0:part element="WL5G3N5:InicioAprobacion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FinAprobacion">
    <WL5G3N0:part element="WL5G3N5:FinAprobacion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="InicioFormalizacion">
    <WL5G3N0:part element="WL5G3N6:InicioFormalizacion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FinFormalizacion">
    <WL5G3N0:part element="WL5G3N6:FinFormalizacion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="InicioCierre">
    <WL5G3N0:part element="WL5G3N7:InicioCierre" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FinCierre">
    <WL5G3N0:part element="WL5G3N7:FinCierre" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="InicioProcesoResponse">
    <WL5G3N0:part element="WL5G3N8:ResultadoProceso" name="resultado"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FinProcesoResponse">
    <WL5G3N0:part element="WL5G3N8:ResultadoProceso" name="resultado"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="InicioGestionCobro">
    <WL5G3N0:part element="WL5G3N9:InicioGestionCobro" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FinGestionCobro">
    <WL5G3N0:part element="WL5G3N9:FinGestionCobro" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="InicioSeguimientoCobro">
    <WL5G3N0:part element="WL5G3N9:InicioSeguimientoCobro" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FinSeguimientoCobro">
    <WL5G3N0:part element="WL5G3N9:FinSeguimientoCobro" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="InicioDesembolso">
    <WL5G3N0:part element="WL5G3N10:InicioDesembolso" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FinDesembolso">
    <WL5G3N0:part element="WL5G3N10:FinDesembolso" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="InicioValidacionAsignacion">
    <WL5G3N0:part element="WL5G3N10:InicioValidacionAsignacion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FinValidacionAsignacion">
    <WL5G3N0:part element="WL5G3N10:FinValidacionAsignacion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="InicioDesembolsoExcepcion">
    <WL5G3N0:part element="WL5G3N10:InicioDesembolsoExcepcion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FinDesembolsoExcepcion">
    <WL5G3N0:part element="WL5G3N10:FinDesembolsoExcepcion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="InicioAprobacionCliente">
    <WL5G3N0:part element="WL5G3N5:InicioAprobacionCliente" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FinAprobacionCliente">
    <WL5G3N0:part element="WL5G3N5:FinAprobacionCliente" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="InicioContratacionFormalizacion">
    <WL5G3N0:part element="WL5G3N6:InicioContratacionFormalizacion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="FinContratacionFormalizacion">
    <WL5G3N0:part element="WL5G3N6:FinContratacionFormalizacion" name="parameters"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="ProcesosPrincipalesPortType">
    <WL5G3N0:operation name="InicioElegibilidad">
      <WL5G3N0:input message="WL5G3N8:InicioElegibilidad"/>
      <WL5G3N0:output message="WL5G3N8:InicioProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinElegibilidad">
      <WL5G3N0:input message="WL5G3N8:FinElegibilidad"/>
      <WL5G3N0:output message="WL5G3N8:FinProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioPreparacion">
      <WL5G3N0:input message="WL5G3N8:InicioPreparacion"/>
      <WL5G3N0:output message="WL5G3N8:InicioProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinPreparacion">
      <WL5G3N0:input message="WL5G3N8:FinPreparacion"/>
      <WL5G3N0:output message="WL5G3N8:FinProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioAnalisis">
      <WL5G3N0:input message="WL5G3N8:InicioAnalisis"/>
      <WL5G3N0:output message="WL5G3N8:InicioProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinAnalisis">
      <WL5G3N0:input message="WL5G3N8:FinAnalisis"/>
      <WL5G3N0:output message="WL5G3N8:FinProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioEvaluacion">
      <WL5G3N0:input message="WL5G3N8:InicioEvaluacion"/>
      <WL5G3N0:output message="WL5G3N8:InicioProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinEvaluacion">
      <WL5G3N0:input message="WL5G3N8:FinEvaluacion"/>
      <WL5G3N0:output message="WL5G3N8:FinProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioAprobacion">
      <WL5G3N0:input message="WL5G3N8:InicioAprobacion"/>
      <WL5G3N0:output message="WL5G3N8:InicioProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinAprobacion">
      <WL5G3N0:input message="WL5G3N8:FinAprobacion"/>
      <WL5G3N0:output message="WL5G3N8:FinProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioFormalizacion">
      <WL5G3N0:input message="WL5G3N8:InicioFormalizacion"/>
      <WL5G3N0:output message="WL5G3N8:InicioProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinFormalizacion">
      <WL5G3N0:input message="WL5G3N8:FinFormalizacion"/>
      <WL5G3N0:output message="WL5G3N8:FinProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioCierre">
      <WL5G3N0:input message="WL5G3N8:InicioCierre"/>
      <WL5G3N0:output message="WL5G3N8:InicioProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinCierre">
      <WL5G3N0:input message="WL5G3N8:FinCierre"/>
      <WL5G3N0:output message="WL5G3N8:FinProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioGestionCobro">
      <WL5G3N0:input message="WL5G3N8:InicioGestionCobro"/>
      <WL5G3N0:output message="WL5G3N8:InicioProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinGestionCobro">
      <WL5G3N0:input message="WL5G3N8:FinGestionCobro"/>
      <WL5G3N0:output message="WL5G3N8:FinProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioSeguimientoCobro">
      <WL5G3N0:input message="WL5G3N8:InicioSeguimientoCobro"/>
      <WL5G3N0:output message="WL5G3N8:InicioProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinSeguimientoCobro">
      <WL5G3N0:input message="WL5G3N8:FinSeguimientoCobro"/>
      <WL5G3N0:output message="WL5G3N8:FinProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioDesembolso">
      <WL5G3N0:input message="WL5G3N8:InicioDesembolso"/>
      <WL5G3N0:output message="WL5G3N8:InicioProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinDesembolso">
      <WL5G3N0:input message="WL5G3N8:FinDesembolso"/>
      <WL5G3N0:output message="WL5G3N8:FinProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioValidacionAsignacion">
      <WL5G3N0:input message="WL5G3N8:InicioValidacionAsignacion"/>
      <WL5G3N0:output message="WL5G3N8:InicioProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinValidacionAsignacion">
      <WL5G3N0:input message="WL5G3N8:FinValidacionAsignacion"/>
      <WL5G3N0:output message="WL5G3N8:FinProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioDesembolsoExcepcion">
      <WL5G3N0:input message="WL5G3N8:InicioDesembolsoExcepcion"/>
      <WL5G3N0:output message="WL5G3N8:InicioProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinDesembolsoExcepcion">
      <WL5G3N0:input message="WL5G3N8:FinDesembolsoExcepcion"/>
      <WL5G3N0:output message="WL5G3N8:FinProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioAprobacionCliente">
      <WL5G3N0:input message="WL5G3N8:InicioAprobacionCliente"/>
      <WL5G3N0:output message="WL5G3N8:InicioProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinAprobacionCliente">
      <WL5G3N0:input message="WL5G3N8:FinAprobacionCliente"/>
      <WL5G3N0:output message="WL5G3N8:FinProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioContratacionFormalizacion">
      <WL5G3N0:input message="WL5G3N8:InicioContratacionFormalizacion"/>
      <WL5G3N0:output message="WL5G3N8:InicioProcesoResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinContratacionFormalizacion">
      <WL5G3N0:input message="WL5G3N8:FinContratacionFormalizacion"/>
      <WL5G3N0:output message="WL5G3N8:FinProcesoResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="ProcesosPrincipalesBinding" type="WL5G3N8:ProcesosPrincipalesPortType">
    <WL5G3N11:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <WL5G3N0:operation name="InicioElegibilidad">
      <WL5G3N11:operation soapAction="InicioElegibilidad" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinElegibilidad">
      <WL5G3N11:operation soapAction="FinElegibilidad" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioPreparacion">
      <WL5G3N11:operation soapAction="InicioPreparacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinPreparacion">
      <WL5G3N11:operation soapAction="FinPreparacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioAnalisis">
      <WL5G3N11:operation soapAction="InicioAnalisis" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinAnalisis">
      <WL5G3N11:operation soapAction="FinAnalisis" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioEvaluacion">
      <WL5G3N11:operation soapAction="InicioEvaluacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinEvaluacion">
      <WL5G3N11:operation soapAction="FinEvaluacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioAprobacion">
      <WL5G3N11:operation soapAction="InicioAprobacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinAprobacion">
      <WL5G3N11:operation soapAction="FinAprobacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioFormalizacion">
      <WL5G3N11:operation soapAction="InicioFormalizacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinFormalizacion">
      <WL5G3N11:operation soapAction="FinFormalizacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioCierre">
      <WL5G3N11:operation soapAction="InicioCierre" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinCierre">
      <WL5G3N11:operation soapAction="FinCierre" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioGestionCobro">
      <WL5G3N11:operation soapAction="InicioGestionCobro" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinGestionCobro">
      <WL5G3N11:operation soapAction="FinGestionCobro" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioSeguimientoCobro">
      <WL5G3N11:operation soapAction="InicioSeguimientoCobro" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinSeguimientoCobro">
      <WL5G3N11:operation soapAction="FinSeguimientoCobro" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioDesembolso">
      <WL5G3N11:operation soapAction="InicioDesembolso" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinDesembolso">
      <WL5G3N11:operation soapAction="FinDesembolso" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioValidacionAsignacion">
      <WL5G3N11:operation soapAction="InicioValidacionAsignacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinValidacionAsignacion">
      <WL5G3N11:operation soapAction="FinValidacionAsignacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioDesembolsoExcepcion">
      <WL5G3N11:operation soapAction="InicioDesembolsoExcepcion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinDesembolsoExcepcion">
      <WL5G3N11:operation soapAction="FinDesembolsoExcepcion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioAprobacionCliente">
      <WL5G3N11:operation soapAction="InicioAprobacionCliente" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinAprobacionCliente">
      <WL5G3N11:operation soapAction="FinAprobacionCliente" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="InicioContratacionFormalizacion">
      <WL5G3N11:operation soapAction="InicioContratacionFormalizacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="FinContratacionFormalizacion">
      <WL5G3N11:operation soapAction="FinContratacionFormalizacion" style="document"/>
      <WL5G3N0:input>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N11:body use="literal"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="ProcesosPrincipalesBindingQSService">
    <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
    <WL5G3N0:port binding="WL5G3N8:ProcesosPrincipalesBinding" name="ProcesosPrincipalesBindingQSPort">
      <WL5G3N11:address location="http://osblnx1-vip.sndevmw.bcievcn01.oraclevcn.com:7021/ProcesoNegocio/ProcesosPrincipales_PS/V1.0"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>