BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyProcesosPrincipales/src/META-INF/ProxyProcesosPrincipales/wsdls/V1_1.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" version="1.0" xmlns:cliente="http://xmlns.bcie.org/ObjetoProceso/Comun/Cliente/V1" xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:operacion="http://xmlns.bcie.org/ObjetoProceso/Comun/Operacion/V1" xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" xmlns:proceso="http://xmlns.bcie.org/ObjetoProceso/Comun/Proceso/V1" xmlns:tarea="http://xmlns.bcie.org/ObjetoProceso/Comun/Tarea/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Operacion/V1" schemaLocation="V1_2.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Tarea/V1" schemaLocation="V1_3.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" schemaLocation="V1_4.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Cliente/V1" schemaLocation="V1_5.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Proceso/V1" schemaLocation="V1_7.xsd"/>
  <xs:complexType name="Header">
    <xs:annotation>
      <xs:documentation>Elemento que contiene la información del Header para TODOS los payload de BPM.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:choice maxOccurs="1" minOccurs="0">
          <xs:element name="Operacion" type="operacion:Operacion"/>
          <xs:element name="Cliente" type="cliente:Cliente"/>
        </xs:choice>
        <xs:element maxOccurs="1" minOccurs="0" name="Tarea" type="tarea:Tarea"/>
        <xs:element maxOccurs="1" minOccurs="0" name="Proceso" type="proceso:Proceso"/>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="parameter:ParameterType"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>
</xs:schema>