BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyProcesosPrincipales/src/META-INF/ProxyProcesosPrincipales/wsdls/V1_15.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CierreProcess" xmlns="http://xmlns.oracle.com/bpmn/bpmnProcess/CierreProcess" xmlns:eqTr="http://www.bcie.org/EqipoTrabajo/V1" xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="V1_1.xsd"/>
  <xsd:import namespace="http://www.bcie.org/EqipoTrabajo/V1" schemaLocation="V1_8.xsd"/>
  <xsd:element name="InicioCierre">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FinCierre">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
        <xsd:element name="equipoTrabajo" type="eqTr:ListadoEquipoTrbajo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>