BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyProcesosPrincipales/src/META-INF/ProxyProcesosPrincipales/wsdls/V1_13.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionProcess" xmlns="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionProcess" xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="V1_1.xsd"/>
  <xsd:element name="InicioEvaluacion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FinEvaluacion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>