BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyProcesosPrincipales/src/META-INF/ProxyProcesosPrincipales/wsdls/V1_2.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Operacion/V1" version="1.0" xmlns:operacion="http://xmlns.bcie.org/ObjetoProceso/Comun/Operacion/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Operacion">
    <xs:annotation>
      <xs:documentation>Entidad que contiene la información basica de una operación del banco.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="CodigoOperacion" type="xs:int"/>
      <xs:element maxOccurs="1" minOccurs="1" name="NombreOperacion" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="ResponsableOperacion" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="CodigoCliente" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="1" name="NombreCliente" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="CodigoProducto" type="xs:int"/>
      <xs:element maxOccurs="1" minOccurs="1" name="NombreProducto" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="MontoSolicitado" type="xs:decimal"/>
      <xs:element maxOccurs="1" minOccurs="1" name="Pais" type="xs:string"/>
      <xs:element minOccurs="0" name="idSectorInstitucional" type="xs:long"/>
      <xs:element minOccurs="0" name="idEncargado" type="xs:long"/>
      <xs:element minOccurs="0" name="idRol" type="xs:long"/>
      <xs:element minOccurs="0" name="descripcionRol" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>