BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyProcesosPrincipales/src/META-INF/ProxyProcesosPrincipales/wsdls/V1_5.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Cliente/V1" version="1.0" xmlns:cat="http://www.bcie.org/CatalogoBO" xmlns:cte="http://xmlns.bcie.org/ObjetoProceso/Comun/Cliente/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="V1_6.xsd"/>
  <xs:complexType name="Cliente">
    <xs:annotation>
      <xs:documentation>Elemento que contiene la información basica del Cliente para los procesos BPM.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="IdCliente" type="xs:int"/>
      <xs:element maxOccurs="1" minOccurs="0" name="IdFlexCube" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="RazonSocial" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Abreviatura" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="IdSector" type="xs:int"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Sector" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="IdPais" type="xs:int"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Pais" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="IdOficina" type="xs:int"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Oficina" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="ResponsableCliente" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="bicCode" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="direccion" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ClienteType">
    <xs:annotation>
      <xs:documentation>Elemento que contiene la información del Cliente para su proceso de aprobacion BPM.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="IdCliente" type="xs:int"/>
      <xs:element maxOccurs="1" minOccurs="0" name="IdFlexCube" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="RazonSocial" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Abreviatura" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="IdTipoPersona" type="cat:Catalogo"/>
      <xs:element maxOccurs="1" minOccurs="0" name="IdTipoCliente" type="cat:Catalogo"/>
      <xs:element maxOccurs="1" minOccurs="0" name="IdSector" type="cat:Catalogo"/>
      <xs:element maxOccurs="1" minOccurs="0" name="IdTipoInstitucion" type="cat:Catalogo"/>
      <xs:element maxOccurs="1" minOccurs="0" name="IdPais" type="cat:Catalogo"/>
      <xs:element maxOccurs="1" minOccurs="0" name="IdGrupoEconomico" type="cat:Catalogo"/>
      <xs:element maxOccurs="1" minOccurs="0" name="TipoIdentificacion" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="NumeroIdentificacion" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="IdOficina" type="cat:Catalogo"/>
      <xs:element maxOccurs="1" minOccurs="0" name="FechaRegistro" type="xs:date"/>
      <xs:element maxOccurs="1" minOccurs="0" name="FechaAprobacion" type="xs:date"/>
      <xs:element maxOccurs="1" minOccurs="0" name="ResponsableCliente" type="xs:string"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Comentarios" type="cte:ComentarioType"/>
      <xs:element maxOccurs="1" minOccurs="0" name="AutorizoCliente" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Estatus" type="xs:boolean"/>
      <xs:element maxOccurs="1" minOccurs="0" name="FechaBaja" type="xs:date"/>
      <xs:element maxOccurs="1" minOccurs="0" name="DiaPago" type="xs:int"/>
      <xs:element maxOccurs="unbounded" minOccurs="0" name="Contactos" type="cte:ContactoType"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComentarioType">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="0" name="IdComentario" type="xs:int"/>
      <xs:element maxOccurs="1" minOccurs="0" name="LoginUsuario" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Nombreusuario" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Comentario" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="FechaRegistro" type="xs:dateTime"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactoType">
    <xs:sequence>
      <xs:element maxOccurs="1" minOccurs="1" name="IdContacto" type="xs:int"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Nombre" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Correo" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Cargo" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="Telefono" type="xs:string"/>
      <xs:element maxOccurs="1" minOccurs="0" name="FechaRegistro" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>