BCIE_fenix/dev/ADF-BPM/commons/LibreriasProxys/ProxyProcesosPrincipales/src/META-INF/ProxyProcesosPrincipales/wsdls/V1_8.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/EqipoTrabajo/V1" xmlns:eqTr="http://www.bcie.org/EqipoTrabajo/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:complexType name="RolEquipoTrabajo">
    <xsd:annotation>
      <xsd:documentation>Equipo de trabajo que participó en un proceso</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="DescripcionRol" type="xsd:string"/>
      <xsd:element name="IdRol" type="xsd:decimal"/>
      <xsd:element name="DescripcionCortaRol" type="xsd:string"/>
      <xsd:element name="idProceso" type="xsd:decimal"/>
      <xsd:element name="usuario" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListadoEquipoTrbajo">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" name="equipoTrabajo" type="eqTr:RolEquipoTrabajo"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>