BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/FinalizarOperacionProceso/V1/Schema/FinalizarOperacionProcesoMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns:opeProMO="http://www.bcie.org/FinalizarOperacionProcesoMO"
            targetNamespace="http://www.bcie.org/FinalizarOperacionProcesoMO" elementFormDefault="qualified"
            xmlns:opeProBO="http://www.bcie.org/FinalizarOperacionProcesoBO"
            xmlns:resBO="http://www.bcie.org/ResultBO"
            >

  <xsd:import schemaLocation="FinalizarOperacionProcesoBO.xsd" namespace="http://www.bcie.org/FinalizarOperacionProcesoBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>

  <xsd:element name="requestFinalizarOperacionProcesoMessage" type="opeProMO:FinalizarOperacionProcesoRequest"/>
  <xsd:element name="responseFinalizarOperacionProcesoMessage" type="opeProMO:FinalizarOperacionProcesoResponse"/>

  <xsd:complexType name="FinalizarOperacionProcesoRequest">
    <xsd:annotation>
      <xsd:documentation>Mensaje registrar un proceso para una operación</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="BitacoraInput" type="opeProBO:OperacionProceso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FinalizarOperacionProcesoResponse">
    <xsd:annotation>
      <xsd:documentation>Mensaje de salida para un proceso para una operación</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idOperacionProceso" type="xsd:long"/>
      <xsd:element name="Result" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>
