AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Applications/RetailMerchandising/IGS/XCostChgPublishingService/Resources/XCostChgPublishingServiceWSDL.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions targetNamespace="http://www.oracle.com/retail/igs/integration/services/XCostChgPublishingService/v1" name="XCostChgPublishingService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.oracle.com/retail/igs/integration/services/XCostChgPublishingService/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<wsp:Policy wsu:Id="XCostChgPublishingPortBinding_WSAM_Addressing_Policy-XCostChgPublishingPortBinding_WSAM_Addressing_Policy">
<wsam:Addressing wsp:Optional="true">
<wsp:Policy/>
</wsam:Addressing>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://www.oracle.com/retail/igs/integration/services/XCostChgPublishingService/v1" schemaLocation="../Schema/XMLSchema_1939811839.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.oracle.com/retail/integration/bus/gateway/services/BusinessObjectId/v1" schemaLocation="../Schema/XMLSchema_1646408832.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.oracle.com/retail/integration/services/exception/v1" schemaLocation="../Schema/XMLSchema_1353005825.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.oracle.com/retail/integration/base/bo/XCostChgDesc/v1" schemaLocation="../Schema/XMLSchema_1059602818.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.oracle.com/retail/integration/services/ServiceOpStatus/v1" schemaLocation="../Schema/XMLSchema_766199811.xsd"/>
</xsd:schema>
</types>
<message name="publishXCostChgModifyUsingXCostChgDesc">
<part name="parameters" element="tns:publishXCostChgModifyUsingXCostChgDesc"/>
<part name="BusinessObjectId" element="ns1:BusinessObjectId" xmlns:ns1="http://www.oracle.com/retail/integration/bus/gateway/services/BusinessObjectId/v1"/>
</message>
<message name="publishXCostChgModifyUsingXCostChgDescResponse">
<part name="result" element="tns:publishXCostChgModifyUsingXCostChgDescResponse"/>
</message>
<message name="PublishingWSFaultException">
<part name="fault" element="ns2:PublishingWSFaultException" xmlns:ns2="http://www.oracle.com/retail/integration/services/exception/v1"/>
</message>
<message name="IllegalStateWSFaultException">
<part name="fault" element="ns3:IllegalStateWSFaultException" xmlns:ns3="http://www.oracle.com/retail/integration/services/exception/v1"/>
</message>
<message name="ValidationWSFaultException">
<part name="fault" element="ns4:ValidationWSFaultException" xmlns:ns4="http://www.oracle.com/retail/integration/services/exception/v1"/>
</message>
<message name="ping">
<part name="parameters" element="tns:ping"/>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"/>
</message>
<portType name="XCostChgPublishingPortType">
<operation name="publishXCostChgModifyUsingXCostChgDesc" parameterOrder="parameters BusinessObjectId">
<input wsaw:Action="http://www.oracle.com/retail/igs/integration/services/XCostChgPublishingService/v1/XCostChgPublishingPortType/publishXCostChgModifyUsingXCostChgDescRequest" wsam:Action="http://www.oracle.com/retail/igs/integration/services/XCostChgPublishingService/v1/XCostChgPublishingPortType/publishXCostChgModifyUsingXCostChgDescRequest" message="tns:publishXCostChgModifyUsingXCostChgDesc"/>
<output wsam:Action="http://www.oracle.com/retail/igs/integration/services/XCostChgPublishingService/v1/XCostChgPublishingPortType/publishXCostChgModifyUsingXCostChgDescResponse" message="tns:publishXCostChgModifyUsingXCostChgDescResponse"/>
<fault message="tns:PublishingWSFaultException" name="PublishingWSFaultException" wsam:Action="http://www.oracle.com/retail/igs/integration/services/XCostChgPublishingService/v1/XCostChgPublishingPortType/publishXCostChgModifyUsingXCostChgDesc/Fault/PublishingWSFaultException"/>
<fault message="tns:IllegalStateWSFaultException" name="IllegalStateWSFaultException" wsam:Action="http://www.oracle.com/retail/igs/integration/services/XCostChgPublishingService/v1/XCostChgPublishingPortType/publishXCostChgModifyUsingXCostChgDesc/Fault/IllegalStateWSFaultException"/>
<fault message="tns:ValidationWSFaultException" name="ValidationWSFaultException" wsam:Action="http://www.oracle.com/retail/igs/integration/services/XCostChgPublishingService/v1/XCostChgPublishingPortType/publishXCostChgModifyUsingXCostChgDesc/Fault/ValidationWSFaultException"/>
</operation>
<operation name="ping">
<input wsaw:Action="http://www.oracle.com/retail/igs/integration/services/XCostChgPublishingService/v1/XCostChgPublishingPortType/pingRequest" wsam:Action="http://www.oracle.com/retail/igs/integration/services/XCostChgPublishingService/v1/XCostChgPublishingPortType/pingRequest" message="tns:ping"/>
<output wsam:Action="http://www.oracle.com/retail/igs/integration/services/XCostChgPublishingService/v1/XCostChgPublishingPortType/pingResponse" message="tns:pingResponse"/>
</operation>
</portType>
<binding name="XCostChgPublishingPortBinding" type="tns:XCostChgPublishingPortType">
<wsaw:UsingAddressing/>
<wsp:PolicyReference URI="#XCostChgPublishingPortBinding_WSAM_Addressing_Policy-XCostChgPublishingPortBinding_WSAM_Addressing_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="publishXCostChgModifyUsingXCostChgDesc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:publishXCostChgModifyUsingXCostChgDesc" part="BusinessObjectId" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PublishingWSFaultException">
<soap:fault name="PublishingWSFaultException" use="literal"/>
</fault>
<fault name="IllegalStateWSFaultException">
<soap:fault name="IllegalStateWSFaultException" use="literal"/>
</fault>
<fault name="ValidationWSFaultException">
<soap:fault name="ValidationWSFaultException" use="literal"/>
</fault>
</operation>
<operation name="ping">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="XCostChgPublishingService">
<port name="XCostChgPublishingPort" binding="tns:XCostChgPublishingPortBinding">
<soap:address location="http://172.16.20.14:7503/XCostChgPublishingBean/XCostChgPublishingService"/>
</port>
</service>
</definitions>