AG_2019/SOA/PROCreateColorGroupProcess/SOA/Schemas/Commons/SupplierCommonSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://mx.agarcia.ea/Canonical/Commons/Suppliers/v1" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Canonical/Commons/Suppliers/v1" xmlns:enums="http://mx.agarcia.ea/Canonical/Commons/Enums/v1" xmlns:lang="http://mx.agarcia.ea/Canonical/Commons/Languages/v1" xmlns:loc="http://mx.agarcia.ea/Canonical/Commons/LocationsCommon/v1" xmlns:item="http://mx.agarcia.ea/Canonical/Commons/Items/v1">
   <xs:import schemaLocation="CommonEnums.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Enums/v1"/>
   <xs:import schemaLocation="LanguageSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Languages/v1"/>
   <xs:import schemaLocation="LocationCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/LocationsCommon/v1"/>
   <xs:import schemaLocation="ItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Items/v1"/>
   <xs:simpleType name="SupplierIdCode">
      <xs:union memberTypes="base:SupplierTypeEnum enums:TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="SupplierTypeEnum">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="COMERCIAL"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="SupplierIDCommonData">
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute form="unqualified" name="name" type="xs:string" use="optional"/>
            <xs:attribute form="unqualified" name="qualifier" type="xs:string" use="optional"/>
            <xs:attribute form="unqualified" name="type" type="base:SupplierIdCode" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="SupplierDetail">
      <xs:sequence>
         <xs:element name="supStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="currencyCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="lang" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="terms" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="freightTerms" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="retAllowInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="retAuthReq" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="retMinDolAmt" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="retCourier" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="handlingPct" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ediPoInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ediPoChg" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ediAsn" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ediSalesRptFreq" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ediSuppAvailableInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ediContractInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="ediInvcInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="costChgPctVar" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="costChgAmtVar" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="replenApprovalInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="shipMethod" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="paymentMethod" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="settlementCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="preMarkInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="autoApprInvcInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="dbtMemoCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="freightChargeInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="autoApprDbtMemoInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="invMgmtLvl" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="backorderInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="vatRegion" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="prepayInvcInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="servicePerfReqInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="invcPayLoc" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="invcReceiveLoc" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="addinvcGrossNet" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="deliveryPolicy" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="commentDesc" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="defaultItemLeadTime" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="dunsNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="dunsLoc" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="bracketCostingInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="vmiOrderStatus" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="endDateActive" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="dsdSupplierInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="supQtyLevel" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="supplierParent" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="storeDeliveryDiscrepancy" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="finalDestInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="vendorAddrDesc" minOccurs="0" maxOccurs="1"/>
         <xs:element name="module" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="keyValue1" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="keyValue2" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="seqNo" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="primaryAddrInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="qcInd" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="qcPct" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="qcFreq" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="vcPct" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="vcFreq" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SupplierCommonBase">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="supplierID">
            <xs:annotation>
               <xs:documentation>Unique number for this supplier</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="base:SupplierIDCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element name="name" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="internalID" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="internalType" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1"/>
         <xs:element name="shortDescription" type="xs:string" minOccurs="0" maxOccurs="1"/>
      </xs:sequence>
      <xs:attribute default="true" name="SpecialOrderableFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>Proveedor disponible para ordenes especiales </xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="Active" name="StatusCode" type="xs:string" use="optional">
         <xs:annotation>
            <xs:documentation>Un proveedor puede ser Activo o Inactivo</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="Supplier">
      <xs:complexContent>
         <xs:extension base="base:SupplierCommonBase">
            <xs:sequence>
               <xs:element name="offeredItems" type="item:ItemList" minOccurs="0" maxOccurs="1"/>
               <xs:element name="contactName" type="xs:string" minOccurs="0" maxOccurs="1"/>
               <xs:element name="contactPhone" type="xs:string" minOccurs="0" maxOccurs="1"/>
               <xs:element name="contactTelex" type="xs:string" minOccurs="0" maxOccurs="1"/>
               <xs:element name="contactFax" type="xs:string" minOccurs="0" maxOccurs="1"/>
               <xs:element name="contactEmail" type="xs:string" minOccurs="0" maxOccurs="1"/>
               <xs:element name="numVendor" type="xs:string" minOccurs="0" maxOccurs="1"/>
               <xs:element name="nameVendor" type="xs:string" minOccurs="0" maxOccurs="1"/>
               <xs:element name="contactNameOrder" type="xs:string" minOccurs="0" maxOccurs="1"/>
               <xs:element name="website" type="xs:string" minOccurs="0" maxOccurs="1"/>
               <xs:element name="address" type="loc:AddressList" minOccurs="0" maxOccurs="1"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="SupplierList">
      <xs:sequence>
         <xs:element name="supplier" type="base:Supplier" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
