BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioCliente/Cliente/V1/Wsdl/BPEL/CrearClienteSOR.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="Cliente" targetNamespace="http://xmlns.bcie.com/ClienteService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:cliMO="http://www.bcie.org/ClienteMO"
                  xmlns:tns="http://xmlns.bcie.com/ClienteService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/ClienteMO" schemaLocation="../../Schema/ClienteMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="requestCrearClienteMessage">
    <wsdl:part name="request" element="cliMO:CrearClienteRequest"/>
  </wsdl:message>
  <wsdl:message name="responseCrearClienteMessage">
    <wsdl:part name="response" element="cliMO:CrearClienteResponse"/>
  </wsdl:message>
  <wsdl:portType name="ClientePT">
    <!-- Create -->
    <wsdl:operation name="crearCliente">
      <wsdl:documentation>registra un Cliente</wsdl:documentation>
      <wsdl:input message="tns:requestCrearClienteMessage"/>
      <wsdl:output message="tns:responseCrearClienteMessage"/>
    </wsdl:operation>
    <wsdl:operation name="eliminarCliente">
      <wsdl:input message="tns:requestEliminarClienteMessage"/>
      <wsdl:output message="tns:responseEliminarClienteMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Cliente12Bnd" type="tns:ClientePT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="eliminarCliente">
      <soap12:operation soapAction="http://xmlns.bcie.com/ClienteService/eliminarCliente" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearCliente">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ClienteService/insertarCliente"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="requestEliminarClienteMessage">
    <wsdl:part name="request" element="cliMO:EliminarClienteRequest"/>
  </wsdl:message>
  <wsdl:message name="responseEliminarClienteMessage">
    <wsdl:part name="response" element="cliMO:EliminarClienteResponse"/>
  </wsdl:message>
</wsdl:definitions>
