AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ItemApp/ResponseItemProtosAdapterService/Resources/Schemas/nxsd_ebmItem_to_abmErrorersPrototipos.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.agarcia.mx/ServiceBus/ABM/PollItemErrorRMSDBService"
            targetNamespace="http://www.agarcia.mx/ServiceBus/ABM/PollItemErrorRMSDBService" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
   <xsd:element name="RMSNuevosSkusError">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="exito" type="xsd:boolean"/>
            <xsd:element name="mensaje" type="xsd:string"/>
            <xsd:element name="estilo" type="xsd:string"/>
            <xsd:element name="errores" maxOccurs="unbounded" type="xsd:string"/>
            <xsd:element name="id" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>