AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ItemApp/ResponseItemProtosAdapterService/Resources/Schemas/nxsd_ebmItem_to_abmPrototipos.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/ServiceBus/ABM/ResponseItemProtosAdapterService" targetNamespace="http://www.agarcia.mx/ServiceBus/ABM/ResponseItemProtosAdapterService" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
   <xsd:element name="PrototiposListaSkus">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="exito" type="xsd:boolean"/>
            <xsd:element name="mensaje" type="xsd:string"/>
            <xsd:element name="estilo" type="xsd:integer"/>
            <xsd:element name="listaSKU" maxOccurs="unbounded" minOccurs="1">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="sku" type="xsd:string"/>
                     <xsd:element name="color" type="xsd:string"/>
                     <xsd:element name="talla" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>