AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Utility/Email/Schema/SendEmailSchema.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://mx.agarcia.ea/Utility/Email/SendEmail"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="requestEmail">
		<complexType>
			<sequence>
				<element name="To" type="string"/>
                                <element name="Cc" type="string"/>
                                <element name="Bcc" type="string"/>
                                <element name="Subject" type="string"/>
                                <element name="Body" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>