BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Condicion/ConsultarValidacionCondicionByRol/XSD/CondicionMOV2.xsd

<xsd:schema targetNamespace="http://www.bcie.org/CondicionMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:conMO="http://www.bcie.org/CondicionMO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:conBO="http://www.bcie.org/CondicionBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:docBO="http://www.bcie.org/DocumentoBO">
  <xsd:import schemaLocation="../../../../../../MDS/Resources/ComponentesComunes/DominioContrato/Condicion/V1/Schema/CondicionBO.xsd" namespace="http://www.bcie.org/CondicionBO"/>
  <xsd:import schemaLocation="../../../../../../MDS/Resources/ComponentesComunes/DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd" namespace="http://www.bcie.org/OperacionBO"/>
  <xsd:import schemaLocation="../../../../../../MDS/Resources/ComponentesComunes/Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:import schemaLocation="../../../../../../MDS/Resources/ComponentesComunes/DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoMO.xsd" namespace="http://www.bcie.org/LineaCreditoMO"/>
  <xsd:import schemaLocation="../../../../../../MDS/Resources/ComponentesComunes/Common/V1/Schema/CatalogoBO.xsd" namespace="http://www.bcie.org/CatalogoBO"/>
  <xsd:import schemaLocation="../../../../../../MDS/Resources/ComponentesComunes/DominioDocumento/Documento/V1/Schema/DocumentoBO.xsd" namespace="http://www.bcie.org/DocumentoBO"/>
  
  <!-- Mensajes -->
  <xsd:element name="CrearCondicionRequest" type="conMO:CrearCondicionRequestType"/>
  <xsd:element name="CrearCondicionResponse" type="conMO:CrearCondicionResponseType"/>
  <xsd:element name="CrearReporteCondicionRequest" type="conMO:CrearReporteCondicionRequestType"/>
  <xsd:element name="CrearReporteCondicionResponse" type="conMO:CrearReporteCondicionResponseType"/>
  <xsd:element name="ConsultarCondicionRequest" type="conMO:ConsultarCondicionRequestType"/>
  <xsd:element name="ConsultarCondicionResponse" type="conMO:ConsultarCondicionResponseType"/>
  <xsd:element name="ActualizarCondicionRequest" type="conMO:ActualizarCondicionRequestType"/>
  <xsd:element name="ActualizarCondicionResponse" type="conMO:ActualizarCondicionResponseType"/>
  <xsd:element name="ValidarCondicionesFormalizacionRequest" type="conMO:ValidarCondicionesFormalizacionRequestType"/>
  <xsd:element name="ValidarCondicionesFormalizacionResponse" type="conMO:ValidarCondicionesFormalizacionResponseType"/>
  <xsd:element name="EliminarCondicionRequest" type="conMO:EliminarCondicionRequestType"/>
  <xsd:element name="EliminarCondicionResponse" type="conMO:EliminarCondicionResponseType"/>
    <xsd:element name="ConsultarTreCategoriaByIdCondicionRequest" type="conMO:ConsultarTreCategoriaByIdCondicionRequestType"/>
  <xsd:element name="ConsultarTreCategoriaByIdCondicionResponse" type="conMO:ConsultarTreCategoriaByIdCondicionResponseType"/>
  <xsd:element name="CrearTreCategoriaCondicionRequest" type="conMO:CrearTreCategoriaCondicionRequestType"/>
  <xsd:element name="CrearTreCategoriaCondicionResponse" type="conMO:CrearTreCategoriaCondicionResponseType"/>
  <xsd:element name="ActualizarTreCategoriaCondicionRequest" type="conMO:ActualizarCondicionRequestType"/>
  <xsd:element name="ActualizarTreCategoriaCondicionResponse" type="conMO:ActualizarCondicionResponseType"/>
  <xsd:element name="ConsultarCondicionByRolRequest" type="conMO:ConsultarCondicionByRolRequestType"/>
  <xsd:element name="ConsultarCondicionByRolResponse" type="conMO:consultarCondicionByRolResponseType"/>
   <xsd:element name="ConsultarCondicionValidacionByRolRequest" type="conMO:ConsultarCondicionValidacionByRolRequestType"/>
  <xsd:element name="ConsultarCondicionValidacionByRolResponse" type="conMO:ConsultarCondicionValidacionByRolResponseType"/>
  <xsd:element name="ConsultarCondicionByIdOperacionRequest" type="conMO:ConsultarCondicionByIdOperacionRequestType"/>
  <xsd:element name="ConsultarCondicionByIdOperacionResponse" type="conMO:ConsultarCondicionByIdOperacionResponseType"/>
  <xsd:element name="ConsultarTreEventoCondicionByIdCondicionRequest" type="conMO:ConsultarTreEventoCondicionByIdCondicionRequestType"/>
  <xsd:element name="ConsultarTreEventoCondicionByIdCondicionResponse" type="conMO:ConsultarTreEventoCondicionByIdCondicionResponseType"/>
  <xsd:element name="CrearTreEventoCondicionRequest" type="conMO:CrearTreEventoCondicionRequestType"/>
  <xsd:element name="CrearTreEventoCondicionResponse" type="conMO:CrearTreEventoCondicionResponseType"/>
  <xsd:element name="CrearObservacionCondicionRequest" type="conMO:CrearObservacionCondicionRequestType"/>
  <xsd:element name="CrearObservacionCondicionResponse" type="conMO:CrearObservacionCondicionResponseType"/>
  <xsd:element name="ValidarCondicionRequest" type="conMO:ValidarCondicionRequestType"/>
  <xsd:element name="ValidarCondicionResponse" type="conMO:ValidarCondicionResponseType"/>
  <xsd:element name="EliminarCategoriaCondicionByIdCondicionRequest" type="conMO:EliminarCategoriaCondicionByIdCondicionRequestType"/>
  <xsd:element name="EliminarCategoriaCondicionByIdCondicionResponse" type="conMO:EliminarCategoriaCondicionByIdCondicionResponseType"/>
  <xsd:element name="EliminarEventoCondicionByIdCondicionRequest" type="conMO:EliminarEventoCondicionByIdCondicionRequestType"/>
  <xsd:element name="EliminarEventoCondicionByIdCondicionResponse" type="conMO:EliminarEventoCondicionByIdCondicionResponseType"/>
  <xsd:element name="NotificarValidacionCondicionRequest" type="conMO:NotificarValidacionCondicionRequestType"/>
  <xsd:element name="NotificarValidacionCondicionResponse" type="conMO:NotificarValidacionCondicionResponseType"/>
  <xsd:element name="ConsultarCondicionByIdLineaCreditoRequest" type="conMO:ConsultarCondicionByIdLineaCreditoRequestType"/>
  <xsd:element name="ConsultarCondicionByIdLineaCreditoResponse" type="conMO:ConsultarCondicionByIdLineaCreditoResponseType"/>
  <xsd:element name="ConsultarCondicionByIdEventoRequest" type="conMO:ConsultarCondicionByIdEventoRequestType"/>
  <xsd:element name="ConsultarCondicionByIdEventoResponse" type="conMO:ConsultarCondicionByIdEventoResponseType"/>
  <!-- Tipos de los mensajes -->
  <!-- Create -->
  <xsd:element name="UpsertTransaccionCondicionRequest" type="conMO:UpsertTransaccionCondicionRequestType"/>
  <xsd:element name="UpsertTransaccionCondicionResponse" type="conMO:UpsertTransaccionCondicionResponseType"/>
  <xsd:element name="CondicionesDemandaRequest" type="conMO:CondicionesDemandaRequestType"/>
  <xsd:element name="CondicionesDemandaResponse" type="conMO:CondicionesDemandaResponseType"/>
  <xsd:element name="ConsultarTransaccionCondicionRequest" type="conMO:ConsultarTransaccionCondicionRequestType"/>
  <xsd:element name="ConsultarTransaccionCondicionResponse" type="conMO:ConsultarTransaccionCondicionResponseType"/>
  <xsd:element name="ActualizarEstadoCondicionRequest" type="conMO:ActualizarEstadoCondicionRequestType"/>
  <xsd:element name="ActualizarEstadoCondicionResponse" type="conMO:ActualizarEstadoCondicionResponseType"/>
  <xsd:element name="ConsultarCumplimientoCondicionRequest" type="conMO:ConsultarCumplimientoCondicionRequestType"/>
  <xsd:element name="ConsultarCumplimientoCondicionResponse" type="conMO:ConsultarCumplimientoCondicionResponseType"/>
  <xsd:element name="ObtenerInformeCondicionesRequest" type="conMO:ObtenerInformeCondicionesRequestType"/>
  <xsd:element name="ObtenerInformeCondicionesResponse" type="conMO:ObtenerInformeCondicionesResponseType"/>
  <xsd:element name="CondicionesPeriodicasPorCumplirRequest" type="conMO:CondicionesPeriodicasPorCumplirRequestType"/>
  <xsd:element name="CondicionesPeriodicasPorCumplirResponse" type="conMO:CondicionesPeriodicasPorCumplirResponseType"/>
    <xsd:element name="ConsultarValidacionCondicionByRolSJRequest" type="conMO:ConsultarValidacionCondicionByRolSJRequestType"/>
  <xsd:element name="ConsultarValidacionCondicionByRolSJResponse" type="conMO:ConsultarValidacionCondicionByRolSJResponseType"/>
  <xsd:element name="CrearReporteCumplimientoCondicionRequest" type="conMO:CrearReporteCumplimientoCondicionRequestType"/>
  <xsd:element name="CrearReporteCumplimientoCondicionResponse" type="conMO:CrearReporteCumplimientoCondicionResponseType"/>
  <xsd:element name="ObtenerValidadoresActivosRequest" type="conMO:ObtenerValidadoresActivosRequestType"/>
  <xsd:element name="ObtenerValidadoresActivosResponse" type="conMO:ObtenerValidadoresActivosResponseType"/>
  <xsd:element name="NotificarEliminacionEvidenciaRequest" type="conMO:NotificarEliminacionEvidenciaRequestType"/>
  <xsd:element name="NotificarEliminacionEvidenciaResponse" type="conMO:NotificarValidacionCondicionResponseType"/>
  <!--********************************* Types CalcularPlazoCondiciones *****************-->
  <xsd:element name="CalcularPlazoCondicionesRequest" type="conMO:CalcularPlazoCondicionesResquestType"/>
  <xsd:element name="CalcularPlazoCondicionesResponse" type="conMO:CalcularPlazoCondicionesResponseType"/>
  <xsd:element name="GenerarReporteCondicionValidadorRequest" type="conMO:GenerarReporteCondicionValidadorRequestType"/>
  <xsd:element name="GenerarReporteCondicionValidadorResponse" type="conMO:GenerarReporteCondicionValidadorResponseType"/>
  <xsd:complexType name="CrearCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conBO:Condicion" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="codigoContrato" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conBO:Condicion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conBO:Condicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarCondicionesFormalizacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarCondicionesFormalizacionResponseType">
    <xsd:sequence>
      <xsd:element name="validaFechaFormalizacion" type="xsd:boolean"/>
      <xsd:element name="validaCondiciones" type="xsd:boolean"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="conBO:idCondicion" maxOccurs="1" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" maxOccurs="1" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="ConsultarTreCategoriaByIdCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTreCategoriaByIdCondicionResponseType">
    <xsd:sequence>
     <xsd:element name="TreCategoriaCondicion" type="conBO:CategoriaCondicion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearTreCategoriaCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="TreCategoriaCondicion" type="conBO:Condicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearTreCategoriaCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarTreCategoriaCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="TreCategoriaCondicion" type="conBO:Condicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarTreCategoriaCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionByRolRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idRol" type="xsd:long"/>
      <xsd:element name="Agrupador" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarCondicionByRolResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conBO:Condicion" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="ConsultarCondicionValidacionByRolRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idRol" type="xsd:long"/>
      <xsd:element name="agrupador" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionValidacionByRolResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conMO:CondicionType" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionByIdOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
       <xsd:element name="idCondicion" type="conBO:idCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionByIdOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="ListaCondiciones" type="conBO:listaCondiciones"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTreEventoCondicionByIdCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTreEventoCondicionByIdCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="ListaCondiciones" type="conBO:listaCondiciones"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearTreEventoCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="TreEventoCondicion" type="conBO:Condicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearTreEventoCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearObservacionCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="ObservacionCondicion" type="conBO:ObservacionCondicion"/>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearObservacionCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="idObservacion" type="xsd:int"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="ValidacionCondicion" type="conBO:ValidacionCondicion"/>
      <xsd:element name="Agrupador" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="ValidacionCondicion" type="conBO:ValidacionCondicion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarCategoriaCondicionByIdCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarCategoriaCondicionByIdCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarEventoCondicionByIdCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarEventoCondicionByIdCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="idAgrupador" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Reporte" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"/>      
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotificarValidacionCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idAgrupador" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotificarValidacionCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CondicionType">
    <xsd:sequence>
       <xsd:element name="Condicion" type="conBO:Condicion"/>
              <xsd:element name="ValidacionCondicion" type="conBO:ValidacionCondicion" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionByIdLineaCreditoRequestType">
    <xsd:sequence>
      <xsd:element name="idLineaCredito" type="linCreBO:idLineaCredito"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionByIdLineaCreditoResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conBO:Condicion" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionByIdEventoRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idEventoCondicion" type="xsd:long"/>
      <xsd:element name="idRol" type="xsd:long" minOccurs="0"/>
      <xsd:element name="idTipoDesembolso" type="xsd:long" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionByIdEventoResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="conBO:Condicion">
              <xsd:sequence/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpsertTransaccionCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="transaccionCondicion" type="conBO:TransaccionCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpsertTransaccionCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="idAgrupador" type="xsd:long"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CondicionesDemandaRequestType">
    <xsd:sequence>
      <xsd:element name="CondicionesDemanda" type="conBO:TransaccionCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CondicionesDemandaResponseType">
    <xsd:sequence>
      <xsd:element name="Agrupador" type="xsd:long"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTransaccionCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="Agrupador" type="xsd:long" minOccurs="0"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTransaccionCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="TransaccionCondicion" type="conBO:TransaccionCondicion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarEstadoCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="EstadoTCC" type="catBO:Catalogo"/>
      <xsd:element name="SubEstadoTCC" type="catBO:Catalogo"/>
      <xsd:element name="Agrupador" type="xsd:long" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarEstadoCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCumplimientoCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCumplimientoCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Documento" type="docBO:Documento"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerInformeCondicionesRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerInformeCondicionesResponseType">
    <xsd:sequence>
      <xsd:element name="InformeEstado" type="conBO:listaCondiciones"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="CondicionesPeriodicasPorCumplirRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CondicionesPeriodicasPorCumplirResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conBO:Condicion" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarValidacionCondicionByRolSJRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idRol" type="xsd:long" minOccurs="0"/>
      <xsd:element name="agrupador" type="xsd:long" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarValidacionCondicionByRolSJResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conMO:CondicionType" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteCumplimientoCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="ListaCondicion" type="conBO:listaCondiciones"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteCumplimientoCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Documento" type="docBO:Documento"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerValidadoresActivosRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idAgrupador" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerValidadoresActivosResponseType">
    <xsd:sequence>
      <xsd:element name="numeroValidadores" type="xsd:long"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotificarEliminacionEvidenciaRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
      <xsd:element name="idAgrupador" type="xsd:long"/>
      <xsd:element name="idDocumento" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotificarEliminacionEvidenciaResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--********************************* Types CalcularPlazoCondiciones *****************-->
  <xsd:complexType name="CalcularPlazoCondicionesResquestType">
  <xsd:sequence>
   <xsd:element name="ListaCondiciones" type="conBO:listaCondiciones"/>
   </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CalcularPlazoCondicionesResponseType">
   <xsd:sequence>
    <xsd:element name="Estado" type="xsd:integer"/>
    <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
   </xsd:complexType>
   <!--********************************* Types GenerarReporteCondicionValidador  *******************************-->
   <xsd:complexType name="GenerarReporteCondicionValidadorRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="GenerarReporteCondicionValidadorResponseType">
    <xsd:sequence>
      <xsd:element name="Reporte" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>