Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/IVRCardDb/CardDbStatusMod/CardDbStatusMod_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/IVRCardDbAppSvc/CardDbStatusMod_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptCardDbStatusMod="http://xmlns.banesco.com/appopt/IVRCardDbAppSvc/CardDbStatusMod_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="CardDbStatusModRq" type="appoptCardDbStatusMod:CardDbStatusModRq_Type"/>
	<xs:complexType name="FIData">
		<xs:sequence>
			<xs:element name="BranchId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FIIdent" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="RefIdent" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardDbStatusModRs" type="appoptCardDbStatusMod:CardDbStatusModRs_Type"/>
	<xs:complexType name="CardStatus">
		<xs:sequence>
			<xs:element name="CardStatusCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="StatusReason" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardDbStatusModRq_Type">
		<xs:sequence>
			<xs:element name="CardKey" type="appoptCardDbStatusMod:CardKey" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CardStatus" type="appoptCardDbStatusMod:CardStatus" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FIData" type="appoptCardDbStatusMod:FIData" minOccurs="1" maxOccurs="1"/>
			<xs:element name="MsgHdrRq" type="appoptcommon:MsgHdrRq" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyKey" type="appoptCardDbStatusMod:PartyKey" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardDbStatusModRs_Type">
		<xs:sequence>
			<xs:element name="MsgHdrRs" type="appoptcommon:MsgHdrRs" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardKey">
		<xs:sequence>
			<xs:element name="CardNum" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
