AG_2019/OSB/AlmacenesGarcia_DEV/Capabilities/Resources/ItemDiffSvc.wsdl

<wsdl:definitions name="ItemDiffSvc" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ItemCatalogDataServiceApp/Capabilities/ItemDiffSvc" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/ItemCatalogDataServiceApp/Capabilities/ItemDiffSvc" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/ItemDiffSvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="ItemDiffSvc_plt">
    <plt:role name="ItemDiffSvc_role">
      <plt:portType name="tns:ItemDiffSvc_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ItemDiffSvc" schemaLocation="ItemDiffSvc_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:MdmItemsDiffsPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="MdmItemsDiffsCollection_msg">
        <wsdl:part name="MdmItemsDiffsCollection" element="top:MdmItemsDiffsCollection"/>
    </wsdl:message>
    <wsdl:portType name="ItemDiffSvc_ptt">
        <wsdl:operation name="insert">
            <wsdl:input message="tns:MdmItemsDiffsCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="update">
            <wsdl:input message="tns:MdmItemsDiffsCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="delete">
            <wsdl:input message="tns:MdmItemsDiffsCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:MdmItemsDiffsCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>