BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Condicion/CrearTreCategoriaCondicion/XSD/ConsultarTreCategoriaCondicionByIdCondicion_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ConsultarTreCategoriaCondicionByIdCondicion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ConsultarTreCategoriaCondicionByIdCondicion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="TreCategoriaCondicionCollection" type="TreCategoriaCondicionCollection"/>
   <xs:complexType name="TreCategoriaCondicionCollection">
      <xs:sequence>
         <xs:element name="TreCategoriaCondicion" type="TreCategoriaCondicion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TreCategoriaCondicion">
      <xs:sequence>
         <xs:element name="id" type="xs:int"/>
         <xs:element name="idCondicion" type="xs:long" minOccurs="0"/>
         <xs:element name="idTcaCategoria" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarTreCategoriaCondicionByIdCondicionSelect_idCondicion_idCategoriaInputParameters" type="ConsultarTreCategoriaCondicionByIdCondicionSelect_idCondicion_idCategoria"/>
   <xs:complexType name="ConsultarTreCategoriaCondicionByIdCondicionSelect_idCondicion_idCategoria">
      <xs:sequence>
         <xs:element name="idCondicion" type="xs:long" minOccurs="1" maxOccurs="1"/>
         <xs:element name="idCategoria" type="xs:int" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>