BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PA17/LeccionesAprendidasProcess.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="http://xmlns.oracle.com/bpmn/bpmnProcess/LeccionesAprendidasProcess"
            targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/LeccionesAprendidasProcess"
            xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
            xmlns:eqTr="http://www.bcie.org/EqipoTrabajo/V1"
            xmlns:leccionesPayload="http://xmlns.bcie.org/ObjetoProceso/LeccionesAprendidas/Payload/V1"
            elementFormDefault="qualified">

      <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
                  schemaLocation="../Comun/Header/V1/HeaderOPN.xsd"/>
      <xsd:import namespace="http://www.bcie.org/EqipoTrabajo/V1"
                  schemaLocation="../Comun/EquipoTrabajo/V1/EquipoTrabajoOPN.xsd"/>
      <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/LeccionesAprendidas/Payload/V1"
             schemaLocation="LeccionesAprendidasPayload.xsd"/>
      <xsd:element name="InicioLeccionesAprendidas">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Header" type="tns6:Header"/>
            <xsd:element name="LeccionesAprendidas" type="leccionesPayload:LeccionesAprendidasType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="FinLeccionesAprendidas">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Header" type="tns6:Header"/>
            <xsd:element name="equipoTrabajo" type="eqTr:ListadoEquipoTrbajo"/>
            <xsd:element name="LeccionesAprendidas" type="leccionesPayload:LeccionesAprendidasType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="InicioReasignarRO">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Header" type="tns6:Header"/>			
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
</xsd:schema>
