BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioCliente/ConsultarClienteById/XSD/ConsultarClienteByIdCliente.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarClienteByIdCliente"
           xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarClienteByIdCliente" elementFormDefault="qualified"
           attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConsultarClienteByIdClienteInput" type="ConsultarClienteByIdClienteInput"/>
  <xs:complexType name="ConsultarClienteByIdClienteInput">
    <xs:sequence>
      <xs:element name="idCliente" type="xs:integer" nillable="true"/>
      <xs:element name="idFacturador" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarClienteByIdClienteOutputCollection" type="ConsultarClienteByIdClienteOutputCollection"/>
  <xs:complexType name="ConsultarClienteByIdClienteOutputCollection">
    <xs:sequence>
      <xs:element name="ConsultarClienteByIdClienteOutput" type="ConsultarClienteByIdClienteOutput" minOccurs="0"
                  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarClienteByIdClienteOutput">
    <xs:sequence>
      <xs:element name="ID_CLIENTE" type="xs:decimal" nillable="true"/>
      <xs:element name="ID_FLEXCUBE" type="xs:string" nillable="true"/>
      <xs:element name="RAZON_SOCIAL" type="xs:string" nillable="true"/>
      <xs:element name="ABREVIATURA" type="xs:string" nillable="true"/>
      <xs:element name="TIPO_PERSONA" type="xs:decimal" nillable="true"/>
      <xs:element name="DESCRIPCION_TIPO_PERSONA" type="xs:string" nillable="true"/>
      <xs:element name="DESCRIPCION_CORTA_TIPO_PERSONA" type="xs:string" nillable="true"/>
      <xs:element name="ESTATUS_TIPO_PERSONA" type="xs:string" nillable="true"/>
      <xs:element name="COD_EXTERNO_TIPO_PERSONA" type="xs:string" nillable="true"/>
      <xs:element name="TIPO_CLIENTE" type="xs:decimal" nillable="true"/>
      <xs:element name="DESCRIPCION_TIPO_CLIENTE" type="xs:string" nillable="true"/>
      <xs:element name="DESCRIPCION_CORTA_TIPO_CLIENTE" type="xs:string" nillable="true"/>
      <xs:element name="ESTATUS_TIPO_CLIENTE" type="xs:string" nillable="true"/>
      <xs:element name="COD_EXTERNO_TIPO_CLIENTE" type="xs:string" nillable="true"/>
      <xs:element name="SECTOR" type="xs:decimal" nillable="true"/>
      <xs:element name="DESCRIPCION_SECTOR" type="xs:string" nillable="true"/>
      <xs:element name="DESCRIPCION_CORTA_SECTOR" type="xs:string" nillable="true"/>
      <xs:element name="ESTATUS_SECTOR" type="xs:string" nillable="true"/>
      <xs:element name="COD_EXTERNO_SECTOR" type="xs:string" nillable="true"/>
      <xs:element name="TIPO_INSTITUCION" type="xs:decimal" nillable="true"/>
      <xs:element name="DESCRIPCION_TIPO_INSTITUCION" type="xs:string" nillable="true"/>
      <xs:element name="DESCRIPCION_CORTA_TIPO_INST" type="xs:string" nillable="true"/>
      <xs:element name="ESTATUS_TIPO_INSTITUCION" type="xs:string" nillable="true"/>
      <xs:element name="COD_EXTERNO_TIPO_INSTITUCION" type="xs:string" nillable="true"/>
      <xs:element name="PAIS" type="xs:decimal" nillable="true"/>
      <xs:element name="DESCRIPCION_PAIS" type="xs:string" nillable="true"/>
      <xs:element name="DESCRIPCION_CORTA_PAIS" type="xs:string" nillable="true"/>
      <xs:element name="ESTADO_PAIS" type="xs:string" nillable="true"/>
      <xs:element name="COD_EXTERNO_PAIS" type="xs:decimal" nillable="true"/>
      <xs:element name="GRUPO_ECONOMICO" type="xs:decimal" nillable="true"/>
      <xs:element name="DESCRIPCION_GRUPO" type="xs:string" nillable="true"/>
      <xs:element name="DESCRIPCION_CORTA_GRUPO" type="xs:string" nillable="true"/>
      <xs:element name="ESTATUS_GRUPO" type="xs:string" nillable="true"/>
      <xs:element name="COD_EXTERNO_GRUPO" type="xs:string" nillable="true"/>
      <xs:element name="TIPO_IDENTIFICACION" type="xs:string" nillable="true"/>
      <xs:element name="NUMERO_IDENTIFICACION" type="xs:string" nillable="true"/>
      <xs:element name="OFICINA" type="xs:decimal" nillable="true"/>
      <xs:element name="DESCRIPCION_OFICINA" type="xs:string" nillable="true"/>
      <xs:element name="DESCRIPCION_CORTA_OFICINA" type="xs:string" nillable="true"/>
      <xs:element name="ESTATUS_OFICINA" type="xs:string" nillable="true"/>
      <xs:element name="COD_EXTERNO_OFICINA" type="xs:string" nillable="true"/>
      <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
      <xs:element name="FECHA_APROBACION" type="xs:dateTime" nillable="true"/>
      <xs:element name="EJECUTIVO" type="xs:string" nillable="true"/>
      <xs:element name="COMENTARIO_APROBACION" type="xs:string" nillable="true"/>
      <xs:element name="AUTORIZO" type="xs:string" nillable="true"/>
      <xs:element name="BAN_ESTATUS" type="xs:string" nillable="true"/>
      <xs:element name="FECHA_BAJA" type="xs:dateTime" nillable="true"/>
      <xs:element name="DIA_PAGO" type="xs:decimal" nillable="true"/>
      <xs:element name="ID_CONTACTO" type="xs:decimal" nillable="true"/>
      <xs:element name="NOMBRE" type="xs:string" nillable="true"/>
      <xs:element name="CORREO_ELECTRONICO" type="xs:string" nillable="true"/>
      <xs:element name="CARGO" type="xs:string" nillable="true"/>
      <xs:element name="TELEFONO" type="xs:string" nillable="true"/>
      <xs:element name="FECHA_REGISTRO_CONTACTO" type="xs:dateTime" nillable="true"/>
	  <xs:element name="RECIBE_AVISO_COBRO" type="xs:decimal" nillable="true"/>
      <xs:element name="SCR" type="xs:decimal" nillable="true"/>
      <xs:element name="DESCRIPCION_SCR" type="xs:string" nillable="true"/>
      <xs:element name="DESCRIPCION_CORTA_SCR" type="xs:string" nillable="true"/>
      <xs:element name="ESTATUS_SCR" type="xs:string" nillable="true"/>
      <xs:element name="COD_EXTERNO_SCR" type="xs:string" nillable="true"/>
      <xs:element name="PERSPECTIVA" type="xs:decimal" nillable="true"/>
      <xs:element name="DESCRIPCION_PERSPECTIVA" type="xs:string" nillable="true"/>
      <xs:element name="DESCRIPCION_CORTA_PERSPECTIVA" type="xs:string" nillable="true"/>
      <xs:element name="ESTATUS_PERSPECTIVA" type="xs:string" nillable="true"/>
      <xs:element name="COD_EXTERNO_PERSPECTIVA" type="xs:string" nillable="true"/>
      <xs:element name="REQUIERE_ENVIO_AUTOMATICO" type="xs:decimal"/>
      <xs:element name="DIRECCION" type="xs:string"/>
      <xs:element name="BIC_CODE" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>