BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PA02/ComisionesErrorPayload.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:error="http://xmlns.bcie.org/ObjetoProceso/ComisionesError/Payload/V1"
     xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
     targetNamespace="http://xmlns.bcie.org/ObjetoProceso/ComisionesError/Payload/V1" elementFormDefault="qualified"
     attributeFormDefault="unqualified" version="1.0">
    <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="../Comun/Header/V1/HeaderOPN.xsd"/>
    <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" schemaLocation="../Comun/Parameter/V1/ParameterOPN.xsd"/>

    <xs:element name="ComisionesErrorPayloadType" type="error:ComisionesErrorPayloadType"/>
    <xs:complexType name="ComisionesErrorPayloadType">
        <xs:sequence>
            <xs:element name="Header" type="header:Header"/>
            <xs:element name="Configuration" type="error:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EquipoPayload" type="error:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EquipoEjecucion" type="error:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfigGatewaysType">
        <xs:sequence>
            <xs:element name="idComision" type="xs:int" maxOccurs="1" minOccurs="0"/>
            <xs:element name="esDispensa" type="xs:boolean" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EquipoPayloadType">
        <xs:sequence>
            <xs:element name="AnalistaCOFI" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
