AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Applications/RetailMerchandising/RMS/RMSCreateItem/DB_RMS_CREATESTYLE.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DB_RMS_CREATESTYLE" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DB_RMS_CREATESTYLE" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="I_STYLE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_DESCRIPTION" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_SUPPLIER" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_DEPARTMENT" type="int" db:index="4" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="I_CLASS" type="int" db:index="5" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="I_SUBCLASS" type="int" db:index="6" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="I_IMAGEURL" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_COST" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_RETAIL" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_UDA" type="db:XXRMS.XX_CREAR_ARTICULOS_UDA_ARRAY" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="I_WHSE" type="int" db:index="11" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="I_DIFFGROUP1" type="int" db:index="12" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="I_DIFFGROUP2" type="int" db:index="13" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="I_COLORS" type="db:XXRMS.XX_CREAR_ARTICULX264702X1X16" db:index="14" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="I_SIZES" type="db:XXRMS.XX_CREAR_ARTICULOS_SIZE_ARRAY" db:index="15" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="XX_CREAR_ARTICULOS-24CREAR_ESTI" type="int" db:index="0" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="O_ERROR_MESSAGE" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="XXRMS.XX_CREAR_ARTICULOS_UDA_ARRAY">
      <sequence>
         <element name="I_UDA_ITEM" type="db:string40" db:type="VARCHAR2" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XXRMS.XX_CREAR_ARTICULOS_SIZE_ARRAY">
      <sequence>
         <element name="I_SIZES_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="XXRMS.XX_CREAR_ARTICULX264702X1X16">
      <sequence>
         <element name="I_COLORS_ITEM" type="decimal" db:type="NUMBER" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string40">
      <restriction base="string">
         <maxLength value="40"/>
      </restriction>
   </simpleType>
</schema>