AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Applications/JDA/JDABuyer/Schema/JDACreateBuyerSchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Applications/JDA/Buyer" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Applications/JDA/Buyer" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:supp="http://mx.agarcia.ea/Canonical/Commons/Suppliers/v1">
    <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
    <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>
    <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/SupplierCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Suppliers/v1"/>
    
    
    <xs:element name="createBuyerRequest" type="base:CreateBuyer"/>
    <xs:element name="createBuyerResponse" type="AGsm:MessageResponse"/>
    
    <xs:element name="findBuyerByHierarchyRequest" type="base:FindBuyer"/>
    <xs:element name="findBuyerResponse" type="base:BuyerInfo"/>
    
    
    <xs:complexType name="CreateBuyer">
        <xs:sequence>
            <xs:element name="buyer" type="supp:Supplier"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="modifyBuyerRequest" type="base:ModifyBuyer"/>
    <xs:element name="modifyBuyerResponse" type="AGsm:MessageResponse"/>
    
    <xs:complexType name="ModifyBuyer">
        <xs:sequence>
            <xs:element name="buyer" type="supp:Supplier"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="FindBuyer">
        <xs:sequence>
            <xs:element name="division" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="department" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="subdepartment" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="class" type="xs:string" maxOccurs="1" minOccurs="0"/>
            <xs:element name="subclass" type="xs:string" maxOccurs="1" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="BuyerInfo">
        <xs:sequence>
            <xs:element name="data" type="supp:Supplier"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>