BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Aprobacion/V1/Schema/AprobacionBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bcie.org/AprobacionBO"
            elementFormDefault="qualified" xmlns:operBO="http://www.bcie.org/OperacionBO"
            xmlns:comBO="http://www.bcie.org/AprobacionBO" 
            xmlns:catBO="http://www.bcie.org/CatalogoBO" 
            xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO">
  <xsd:import namespace="http://www.bcie.org/OperacionBO"
              schemaLocation="../../../Operacion/V1/Schema/OperacionBO.xsd"/>
  <xsd:import schemaLocation="../../../../../ComponentesComunes/Common/V1/Schema/CatalogoBO.xsd" 
              namespace="http://www.bcie.org/CatalogoBO" />
  <xsd:import schemaLocation="../../../../../ComponentesComunes/DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoBO.xsd" 
              namespace="http://www.bcie.org/LineaCreditoBO" />
  <xsd:simpleType name="idAprobacion">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idDecisionAprobacion">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idReunion">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="5"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="codigoContrato">
    <xsd:restriction base="xsd:string">
    </xsd:restriction>
  </xsd:simpleType>
   <xsd:complexType name="MontoBase">
    <xsd:sequence>
    <xsd:element name="idMontoBase" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="valorMontoBase" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="porcentajeMontoBase" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="UsuarioReunion">
    <xsd:sequence>
      <xsd:element name="usuario" type="xsd:string"/>
      <xsd:element name="nombreUsuario" type="xsd:string"/>
      <xsd:element name="propietario" type="xsd:boolean"/>
       <xsd:element name="dependecia" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Aprobacion">
    <xsd:sequence>
      <xsd:element name="idAprobacion" type="comBO:idAprobacion" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="idReunionAprobacion" type="comBO:idReunion"/>
      <xsd:element name="fechaAprobacion" type="xsd:date" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="tipoAprobacion" maxOccurs="1" minOccurs="0" type="catBO:Catalogo"/>
      <xsd:element name="numeroResolucion" maxOccurs="1" minOccurs="0" type="xsd:string"/>
      <xsd:element name="resumen" maxOccurs="1" minOccurs="0" type="xsd:string"/> 
      <xsd:element name="idMontoAprobacion" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="MontoAprobacion" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="loginUsuario" maxOccurs="1" minOccurs="0" type="comBO:UsuarioReunion"/>      
      <xsd:element name="fechaRegistro" maxOccurs="1" minOccurs="0" type="xsd:date"/>
      <xsd:element name="idContrato" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="LineaCredito" maxOccurs="unbounded" minOccurs="1" type="linCreBO:LineaCredito"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>