BCIE_fenix/features/MCP/6389/ADF-BPM/bpm/PC03Analisis/PC03AnalisisProcess/SOA/Schemas/HT09EvaluarAccionSeguirPayload.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<schema targetNamespace="http://xmlns.oracle.com/bpel/workflow/task" xmlns:tns="http://xmlns.oracle.com/bpel/workflow/task" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.bcie.org/ObjetoProceso/Analisis/Payload/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xmlns.bcie.org/ObjetoProceso/Analisis/Payload/V1" schemaLocation="oramds:/apps/Resources/BPM/Schema/PC03/AnalisisPayload.xsd"/>
   <complexType name="HT09EvaluarAccionSeguirPayloadType">
      <sequence>
         <element ref="ns0:AnalisisPayload"/>
         <element name="responsableOperacion" type="xsd:string"/>
         <element name="encargadoOperacion" type="xsd:string"/>
      </sequence>
   </complexType>
</schema>
