BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ValidarNoObjecion/V1/Schema/EstadosDeclaracionMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.bcie.org/EstadosDeclaracion"
            targetNamespace="http://xmlns.bcie.org/EstadosDeclaracion" elementFormDefault="qualified"
            xmlns:estDec="http://xmlns.bcie.org/EstadosDeclaracion">
  <xsd:element name="EstadosDeclaracionRequest" type="EstadosDeclaracionRequestType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="EstadosDeclaracionResponse" type="EstadosDeclaracionOutcome"/>
  <xsd:complexType name="EstadosDeclaracionRequestType">
    <xsd:sequence>
      <xsd:element name="EstadosDeclaracion" type="estDec:EstadosDeclaracionType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EstadosDeclaracionOutcome">
    <xsd:sequence>
      <xsd:element name="NoObjecion" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="EstadosDeclaracionType">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="Pendiente"/>
      <xsd:enumeration value="Completa"/>
      <xsd:enumeration value="Retornada"/>
      <xsd:enumeration value="Suprimida"/>
      <xsd:enumeration value="Expirada"/>
      <xsd:enumeration value="Retorno Solicitado"/>
      <xsd:enumeration value="Revisada"/>
      <xsd:enumeration value="Validada"/>
      <xsd:enumeration value="Inactiva"/>
      <xsd:enumeration value="Finalizado"/>
      <xsd:enumeration value="Operación Especial"/>
      <xsd:enumeration value="Operación Con Excepción"/>
      <xsd:enumeration value="Retorno por Hallazgos"/>
      <xsd:enumeration value="Retorno por Errores"/>
      <xsd:enumeration value="Desobligado"/>
      <xsd:enumeration value="No Aplica"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>
