AG_2019/SOA/CreateRetailStoreProcess/SOA/WSDLs/JDACreateRetailStoreProcess.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="JDACreateRetailStoreProcess" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/JDACreateRetailStoreProcess" xmlns:ret="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/JDACreateRetailStoreProcess" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" schemaLocation="../Schemas/RetailStoreEntitySchema.xsd"/>
         <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../Schemas/Commons/AGStandardMessageSchema.xsd"/>
         <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../Schemas/Commons/AGStandardHeaderSchema.xsd"/>
      </xsd:schema>
   </wsdl:types>
   <wsdl:message name="JDACreateRetailStoreRequest">
      <wsdl:part name="JDACreateRetailStoreRequest" element="inp1:createRetailStoreRequest"/>
   </wsdl:message>
   <wsdl:message name="JDACreateRetailStoreResponse">
      <wsdl:part name="JDACreateRetailStoreResponse" element="inp1:createRetailStoreResponse"/>
   </wsdl:message>
   <wsdl:message name="StandardFaultMessage">
      <wsdl:part name="faultMessage" element="AGSM:messageError"/>
   </wsdl:message>
   <wsdl:message name="StandarHeaderMessage">
      <wsdl:part name="headerMessage" element="AGSH:headerMessage"/>
   </wsdl:message>
   <wsdl:portType name="JDACreateRetailStorePType">
      <wsdl:operation name="JDACreateRetailStore">
         <wsdl:input message="ret:JDACreateRetailStoreRequest"/>
         <wsdl:output message="ret:JDACreateRetailStoreResponse"/>
         <wsdl:fault message="ret:JDACreateRetailStoreRequest" name="faultMessage"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="JDACreateRetailStoreBinding" type="ret:JDACreateRetailStorePType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="JDACreateRetailStore">
         <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/JDACreateRetailStoreProcess/JDACreateRetailStore"/>
         <wsdl:input>
            <soap:body use="literal" parts="JDACreateRetailStoreRequest"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="JDACreateRetailStoreResponse"/>
         </wsdl:output>
         <wsdl:fault name="faultMessage">
            <soap:fault name="faultMessage" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
