AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/TransferRequestApp/QueryTransferRequestRMSAdapterService/Resources/XSD/QueryTransferRequestRMSReference_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/QueryTransferRequestRMSReference" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/QueryTransferRequestRMSReference" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxSoaTsfreqVwCollection" type="XxSoaTsfreqVwCollection"/>
   <xs:complexType name="XxSoaTsfreqVwCollection">
      <xs:sequence>
         <xs:element name="XxSoaTsfreqVw" type="XxSoaTsfreqVw" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxSoaTsfreqVw">
      <xs:sequence>
         <xs:element name="tsfNo" type="xs:long"/>
         <xs:element name="localorigen" type="xs:long" nillable="true"/>
         <xs:element name="departamento" type="xs:int"/>
         <xs:element name="nombredepto" type="string120"/>
         <xs:element name="proveedor" type="xs:long"/>
         <xs:element name="provnombre" type="string240"/>
         <xs:element name="estilo" type="string25" nillable="true"/>
         <xs:element name="estilodesc" type="string250"/>
         <xs:element name="tienda" type="xs:long" nillable="true"/>
         <xs:element name="tiendanombre" type="string150"/>
         <xs:element name="sku" type="string25"/>
         <xs:element name="skudesc" type="string250"/>
         <xs:element name="cantidad" type="xs:decimal" nillable="true"/>
         <xs:element name="prepack" type="xs:decimal"/>
         <xs:element name="precio" type="xs:decimal" nillable="true"/>
         <xs:element name="costo" type="xs:decimal"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="QueryTransferRequestRMSReferenceSelect_Transfer_No_Local_OrInputParameters" type="QueryTransferRequestRMSReferenceSelect_Transfer_No_Local_Or"/>
   <xs:complexType name="QueryTransferRequestRMSReferenceSelect_Transfer_No_Local_Or">
      <xs:sequence>
         <xs:element name="Transfer_No" type="xs:long" minOccurs="1" maxOccurs="1"/>
         <xs:element name="Local_Or" type="xs:long" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string240">
      <xs:restriction base="xs:string">
         <xs:maxLength value="240"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string25">
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string250">
      <xs:restriction base="xs:string">
         <xs:maxLength value="250"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string150">
      <xs:restriction base="xs:string">
         <xs:maxLength value="150"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>