BCIE_fenix/features/MCP/7705/ADF-BPM/bpm/PA03AdministracionCondiciones/PA03AdministracionCondicionesProcess/SOA/businessCatalog/CondicionesType/ValidadoresBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3.0.0.00.00" build="02.10" fullName="CondicionesType.ValidadoresBO" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/CondicionesType/ValidadoresBO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/CondicionesType/ValidadoresBO"  xmlns:ns1="http://xmlns.oracle.com/bpm/bpmobject/CondicionesType/ValidadorBO"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://xmlns.oracle.com/bpm/bpmobject/CondicionesType/ValidadorBO" schemaLocation="ValidadorBO.xsd"/>
    <xs:complexType name="ValidadoresBOType">
        <xs:sequence>
            <xs:element name="validadores" nillable="true" type="ns1:ValidadorBOType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ValidadoresBO" type="ValidadoresBOType"/>
</xs:schema>
