BCIE_fenix/preprod/SOA/09-OSB-FLEXCUBE/MDS/Resources/ComponentesComunes/Flexcube14/Common/V1/Schema/ComponenteBO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/FLEXCUBE14/ComponenteBO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:comBO="http://www.bcie.org/FLEXCUBE14/ComponenteBO" xmlns:calBO="http://www.bcie.org/FLEXCUBE14/CalendarioBO">
    <xsd:import namespace="http://www.bcie.org/FLEXCUBE14/CalendarioBO" schemaLocation="CalendarioBO.xsd"/>
    <xsd:complexType name="ComponentesType">
        <xsd:sequence>
            <xsd:element name="componente" type="comBO:Componente" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Componente">
        <xsd:sequence>
            <xsd:element name="Tipo_Tasa" type="xsd:string"/>
            <xsd:element name="Codigo_Tasa" type="xsd:string"/>
            <xsd:element name="Tipo_Comision" type="xsd:string"/>
            <xsd:element name="Base_Calculo" type="xsd:string"/>
            <xsd:element name="Spread" type="xsd:double"/>
            <xsd:element name="Valor_Comision" type="xsd:double"/>
            <xsd:element name="Monto" type="xsd:double"/>
            <xsd:element name="Tasa_Minima" type="xsd:double"/>
            <xsd:element name="Tasa_Maxima" type="xsd:double"/>
            <xsd:element name="Es_Dependiente" type="xsd:string"/>
            <xsd:element name="Es_Factor" type="xsd:string"/>
            <xsd:element name="Dias_Spot_Tasa" type="xsd:double"/>
            <xsd:element name="Cantidad_Decimales" type="xsd:double"/>
            <xsd:element name="Tipo_Redondeo" type="xsd:string"/>
            <xsd:element name="Lista_Calendario" type="calBO:CalendariosType"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>