Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EO/Alert/Alert_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eo/Alert_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoAlert="http://xmlns.banesco.com/eo/Alert_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoCard="http://xmlns.banesco.com/eo/Card_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../Common/Common_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Card_V1.0" schemaLocation="../Card/Card_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../Acct/Acct_V1.0.xsd"/>
	<xs:complexType name="Alert">
		<xs:annotation>
			<xs:documentation>Alert Information Aggregate</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Keys Aggregate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlertDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Alert Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlertIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Alternate Alert Identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardKey" type="eoCard:CardKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Card Keys Aggregate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastUpdateDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de última modificación.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party Keys Aggregate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Prioriry" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Alert Priority for Delivery</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryInstruction" type="eoAlert:DeliveryInstruction" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MessageContent" type="eoAlert:MessageContent" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DeliveryInstruction">
		<xs:sequence>
			<xs:element name="Carrier" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador del operador. Para un mensaje de tipo 'sms', este viene siendo el código de identificación del operador al cual pertenece el número móvil. Este valor se utiliza para garantizar la correcta entrega del mensaje, en caso de que el número móvil haya sido portado a otro operador.  Los códigos que identifican a cada operador se especifican a continuación:  7   =&gt; PA - Cable &amp; Wireless; 26 =&gt; PA – Claro; 11 =&gt; PA – Digicel; 6   =&gt; PA - Movistar.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Contact" type="eoCom:Contact" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Contact</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DeliveryMethod" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Valid values include: Channel, Courier, Email, Fax, HomeBank, InPerson, LocalPrinter, OverNight, Phone, Post, SMS, TwoDay, UPS, URL</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MessageContent">
		<xs:annotation>
			<xs:documentation>Contenido del mensaje a enviar</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Copy" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Copy to</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="From" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Message From</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Subject" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Message subject</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tags" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Etiquetas que se le puede colocar opcionalmente al mensaje. Se puede especificar una o varias palabras separadas por un espacio en blanco. Al especificar etiquetas se puede hacer búsquedas en el módulo de estadísticas de Quantic Connections. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TemplateIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Template Identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Text" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Texto del mensaje.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TemplateParameters" type="eoAlert:TemplateParameters" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TemplateParameters">
		<xs:annotation>
			<xs:documentation>Parameter List</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Parameter" type="eoAlert:Parameter" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Parameter">
		<xs:annotation>
			<xs:documentation>Parameter from Template</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Key" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
