Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/CardDb/CardDbT24Add/CardDbT24Add_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/CardDbT24Add_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptCardDbT24Add="http://xmlns.banesco.com/eopt/CardDbT24Add_V1.0" xmlns:eoCardAcctRel="http://xmlns.banesco.com/eo/CardAcctRel_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/CardAcctRel_V1.0" schemaLocation="../../../EO/Card/CardAcctRel_V1.0.xsd"/>
	<xs:element name="CardDbT24AddRq" type="eoptCardDbT24Add:CardDbT24AddRq_Type"/>
	<xs:complexType name="CardDbT24AddRq_Type">
		<xs:sequence>
			<xs:element name="CardAcctRel" type="eoCardAcctRel:CardAcctRel" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardDbT24AddRs_Type">
		<xs:sequence>
			<xs:element name="CardAcctRel" type="eoCardAcctRel:CardAcctRel" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardDbT24AddRs" type="eoptCardDbT24Add:CardDbT24AddRs_Type"/>
</xs:schema>
