AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/SBTestProtoJson/Test/nxsd_schema1Test1.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns="http://TargetNamespace.com/ServiceName" 
targetNamespace="http://TargetNamespace.com/ServiceName" 
elementFormDefault="qualified" 
xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
nxsd:version="JSON" 
nxsd:encoding="UTF-8">
   <xsd:element name="Root-Element">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="jerarquias_array" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="marca_id" type="xsd:integer"/>
                     <xsd:element name="marca" type="xsd:string"/>
                     <xsd:element name="division_id" type="xsd:integer"/>
                     <xsd:element name="division" type="xsd:string"/>
                     <xsd:element name="departamento_id" type="xsd:integer"/>
                     <xsd:element name="departamento" type="xsd:string"/>
                     <xsd:element name="clase_id" type="xsd:integer"/>
                     <xsd:element name="clase" type="xsd:string"/>
                     <xsd:element name="tipo_id" type="xsd:integer"/>
                     <xsd:element name="tipo" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>