AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/SBTestProtoJson/Test/nxsd_diif.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://mx.agarcia.ea/Applications/Prototipos/CreateColorNXSD"
            targetNamespace="http://mx.agarcia.ea/Applications/Prototipos/CreateColorNXSD" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
   <xsd:element name="upsertDiffRequest">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="GRUPO_ID" type="xsd:integer"/>
            <xsd:element name="GRUPO_VALUE" type="xsd:string"/>
            <xsd:element name="DIFF_ARRAY" maxOccurs="unbounded" minOccurs="0">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="ID" type="xsd:integer"/>
                     <xsd:element name="VALUE" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   
   <xsd:element name="upsertDiffResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="msg" type="xsd:string"/>
            <xsd:element name="code" type="xsd:integer"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   
 <xsd:element name="upsertDiffGroupRequest">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="GRUPO_ID" type="xsd:integer"/>
            <xsd:element name="GRUPO_VALUE" type="xsd:string"/>
          </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   
   <xsd:element name="upsertDiffGroupResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="msg" type="xsd:string"/>
            <xsd:element name="code" type="xsd:integer"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>

<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>