BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioCliente/ActualizarContacto/XSD/ActualizaContacto.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:bc="http://xmlns.oracle.com/pcbpel/adapter/db/top/ActualizaContacto"
            targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ActualizaContacto"
            elementFormDefault="qualified">
  
  <xsd:element name="ActualizaContactoRequestType" type="bc:ContactoRequest"/>
  <xsd:element name="ActualizaContactoResponseType" type="bc:ContactoResponse"/>
   
   <xsd:complexType name="ContactoRequest">
      <xsd:sequence>
         <xsd:element name="idContacto" type="xsd:long" minOccurs="0"/>
         <xsd:element name="nombre" type="xsd:string" minOccurs="0"/>
         <xsd:element name="telefono" type="xsd:string" minOccurs="0"/>
         <xsd:element name="correoElectronico" type="xsd:string" minOccurs="0"/>
         <xsd:element name="cargo" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   
    <xsd:complexType name="ContactoResponse">
      <xsd:sequence>
      </xsd:sequence>
   </xsd:complexType>
   
   
</xsd:schema>
