BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDesembolso/ConsultarCargoByProducto/XSD/ConsultarCargoByProducto_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarCargoByProducto_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarCargoByProducto_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarCargoByProducto_DBInput" type="ConsultarCargoByProducto_DBInput"/>
   <xs:complexType name="ConsultarCargoByProducto_DBInput">
      <xs:sequence>
         <xs:element name="PRODUCTO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarCargoByProducto_DBOutputCollection" type="ConsultarCargoByProducto_DBOutputCollection"/>
   <xs:complexType name="ConsultarCargoByProducto_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarCargoByProducto_DBOutput" type="ConsultarCargoByProducto_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarCargoByProducto_DBOutput">
      <xs:sequence>
         <xs:element name="COMPONENTE" type="xs:string" nillable="true"/>
         <xs:element name="PRODUCTO" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_COMISION" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_COMISION" type="xs:decimal" nillable="true"/>
         <xs:element name="IDENTIFICADOR" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>