AG_2019/SOA/JDAUpdateStyle/SOA/Schemas/RMS/Items/ISCDimWHRef.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/ISCDimWHRef/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/ISCDimWHRef/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <retailDoc:annotation>
      <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
   </retailDoc:annotation>
   <xs:element name="ISCDimWHRef">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element minOccurs="0" name="itemid" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="from_location" type="varchar210">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="to_location" type="varchar210">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="vendornbr" type="xs:string">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="origincountryid" type="xs:string">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="dimobject" type="xs:string">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="varchar225">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar210">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
