AG_2019/SOA/JDAUpdateStyle/SOA/Schemas/RMS/Items/ItemColRef.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://www.oracle.com/retail/integration/base/bo/ItemColRef/v1" xmlns="http://www.oracle.com/retail/integration/base/bo/ItemColRef/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:itemRef="http://www.oracle.com/retail/integration/base/bo/ItemRef/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" version="1.0">
   <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/ItemRef/v1" schemaLocation="ItemRef.xsd"/>
   <xs:element name="ItemColRef">
      <retailDoc:annotation>
         <retailDoc:documentation>A collection of a items ids.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="collection_size" type="number3">
               <retailDoc:annotation>
                  <retailDoc:documentation>Number of records to be returned in one call.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element ref="itemRef:ItemRef" minOccurs="1" maxOccurs="999">
               <retailDoc:annotation>
                  <retailDoc:documentation>This is the list of ItemRef objects containing the item ids.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="number3">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 3.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="3"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
