AG_2019/SOA/JDAUpdateStyle/SOA/Schemas/RMS/Items/ItemSupDesc.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/ItemSupDesc/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/ItemSupDesc/v1" xmlns:CustFlexAttriVo="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <retailDoc:annotation>
      <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
   </retailDoc:annotation>
   <xs:element name="ItemSupDesc">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="item" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unique identifier for the item.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="supplier" type="varchar210">
               <retailDoc:annotation>
                  <retailDoc:documentation>Unique identifier for the supplier.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="primary_supp_ind" type="varchar23">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field indicates whether this supplier is the primary supplier for the item. An item can have one and only one primary supplier.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="vpn" type="varchar230">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field contains the Vendor Product Number for the Item.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="supp_label" type="varchar215">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field contains the supplier label.  It will only be popluated if item is a style.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="consignment_rate" type="number12_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field contains the consignment rate for this item for the supplier.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="supp_diff_1" type="varchar2120">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field contains the first supplier differentiator and/or description. This field may only contain a value for items with an item_parent.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="supp_diff_2" type="varchar2120">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field contains the second supplier differentiator and/or description. This field may only contain a value for items with an item_parent.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="supp_diff_3" type="varchar2120">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field contains the third supplier differentiator and/or description. This field may only contain a value for items with an item_parent.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="supp_diff_4" type="varchar2120">
               <retailDoc:annotation>
                  <retailDoc:documentation>This field contains the fourth supplier differentiator and/or description. This field may only contain a value for items with an item_parent.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="pallet_name" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Code referencing the name used to refer to the pallet.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="case_name" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Code referencing the name used to refer to the case.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="inner_name" type="varchar26">
               <retailDoc:annotation>
                  <retailDoc:documentation>Code referencing the name used to refer to the inner.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="supp_discontinue_date" type="xs:dateTime">
               <retailDoc:annotation>
                  <retailDoc:documentation>Date when the supplier discontinues an item.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="direct_ship_ind" type="varchar21">
               <retailDoc:annotation>
                  <retailDoc:documentation>A value of 'Y'es in this field indicates that any item associated with this supplier is eligible for a direct shipment from the supplier to the customer.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="number12_4">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:decimal">
         <xs:totalDigits value="12"/>
         <xs:fractionDigits value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar225">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar230">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar23">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar2120">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar215">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 15 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar210">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar26">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="6"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar21">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
