BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDesembolso/CrearActualizarTransferenciaRecursos/XSD/CrearActualizarTransferenciaRecursos_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearActualizarTransferenciaRecursos" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearActualizarTransferenciaRecursos" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="TransferenciaRecursosCollection" type="TransferenciaRecursosCollection"/>
   <xs:complexType name="TransferenciaRecursosCollection">
      <xs:sequence>
         <xs:element name="TransferenciaRecursos" type="TransferenciaRecursos" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TransferenciaRecursos">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idTreLineaPasiva" type="xs:long" minOccurs="0"/>
         <xs:element name="montoDesembolsado" type="xs:decimal" minOccurs="0"/>
         <xs:element name="fecha" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="idTcaFormaTransferencia" type="xs:int" minOccurs="0"/>
         <xs:element name="idBancoTransferencia" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="nombreBancoTransferencia" type="string256" minOccurs="0" nillable="true"/>
         <xs:element name="numeroCuenta" type="string256" minOccurs="0" nillable="true"/>
         <xs:element name="nombreCuenta" type="string256" minOccurs="0" nillable="true"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="bhqTransferenciaFt05" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="fechaEfectivaFt05" type="xs:dateTime" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string256">
      <xs:restriction base="xs:string">
         <xs:maxLength value="256"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>