MIRA/SOA_PRD_Almacenes/FindItemByFilterProcess/SOA/Schemas/BusinessAreas/Support/POS/POSLogBatchSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Support/POS/Batch/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Support/POS/Batch/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" xmlns:poscom="http://mx.agarcia.ea/BusinessAreas/Support/POS/Common/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="../../../Commons/CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:import schemaLocation="POSCommonSchema.xsd" namespace="http://mx.agarcia.ea/BusinessAreas/Support/POS/Common/v1"/>
   <xs:complexType name="POSLogBatch">
      <xs:annotation>
         <xs:documentation> A summary of Transaction activity. It can include
				the transaction
				detail for all transactions covered by the summary
			</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" name="BatchID" type="xs:string">
            <xs:annotation>
               <xs:documentation>A unique identifier for this Batch.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="BusinessUnit" type="BusinessUnitCommonData">
            <xs:annotation>
               <xs:documentation>The data in this batch is from this business
						unit
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="FirstTransactionTimestamp" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>The Date &amp; Time of the first transaction in
						this
						batch
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="LastTransactionTimestamp" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>The Date &amp; Time of the last transaction in
						this
						batch.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="BatchCompleteTimestamp" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>The Date &amp; Time the POS closed &amp; sent
						this
						batch
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ActivitySummary" type="POSLogActivitySummary">
            <xs:annotation>
               <xs:documentation>Summary of POSLog activity during this
						Batch
					</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogActivitySummary">
      <xs:sequence>
         <xs:element form="qualified" name="TransactionCount" type="xs:integer">
            <xs:annotation>
               <xs:documentation>The number of transactions in this Batch
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="TransactionAmount" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>The gross monetary total value of all
						transactions in this
						Batch.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="MerchandiseHierarchy" type="POSLogMerchandiseHierarchySummary"/>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="TenderTotals" type="POSLogTenderTotals"/>
         <xs:element form="qualified" minOccurs="0" name="FoodserviceActivitySummary" type="FoodServiceActivitySummaryType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="FoodServiceActivitySummaryType">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="AveragePartySales" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The average sales amount per party
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="AveragePeopleSales" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>Average sales amount per person
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="CertificationCount" type="CountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="ForceClosure" type="FoodServiceSummaryType">
            <xs:annotation>
               <xs:documentation>Captures information about checks that were open
						during the
						day and were forcibly closed by the manager as part of the end-of-day
						closure. these checks were left open due to the poor service or
						quality of
						foods, ec. Since the checks cannot be left open indefinitely, the
						manager
						usually closes tehm at the end-of-day.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="ItemCancel" type="ItemCancelType"/>
         <xs:element form="qualified" minOccurs="0" name="OrderBillCount" type="CountCommonData">
            <xs:annotation>
               <xs:documentation>The number of ordering slips.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="PartyCount" type="CountCommonData">
            <xs:annotation>
               <xs:documentation>The number of parties who visited store.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="PartySummary" type="PartySummaryType"/>
         <xs:element form="qualified" minOccurs="0" name="PeopleCount" type="CountCommonData">
            <xs:annotation>
               <xs:documentation>The number of people who visited store.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="PeopleSummary" type="PeopleSummaryType"/>
         <xs:element form="qualified" minOccurs="0" name="POSReceiptCount" type="CountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="ServiceCharge" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The total service charges included in this
						batch
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="SlipReceiptCount" type="CountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="SuspendedBill" type="FoodServiceSummaryType"/>
         <xs:element form="qualified" minOccurs="0" name="SuspendedBillCancel" type="FoodServiceSummaryType"/>
         <xs:element form="qualified" minOccurs="0" name="TableCharge" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The total Table Charges included in this
						batch
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TransactionBillCancel" type="FoodServiceSummaryType">
            <xs:annotation>
               <xs:documentation>TransactionBill expresses the collection of the
						order checks
						in FoodService. Several checks exist in one Transaction.
						TransactionBillCansel totals the canceled order check
						data.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="UnPaidBill" type="FoodServiceSummaryType"/>
         <xs:element form="qualified" minOccurs="0" name="Voids" type="FoodServiceSummaryType"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PartySummaryType">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="PartyName" type="xs:string">
            <xs:annotation>
               <xs:documentation>The name for this particular party (group of
						individuals),
						i.e. the "Wild" party of nine.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="PartyCount" type="CountCommonData">
            <xs:annotation>
               <xs:documentation>The number of parties who visited store.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="PeopleCount" type="CountCommonData">
            <xs:annotation>
               <xs:documentation>The number of people who visited store.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Amount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The sum total of the sales.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TransactionCount" type="QuantityCommonData">
            <xs:annotation>
               <xs:documentation>The number of transactions.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute form="unqualified" name="DestinationType" type="POSLogFoodserviceDestinationTypes"/>
      <xs:attribute form="unqualified" name="PartyType" type="PartyTypeCode"/>
   </xs:complexType>
   <xs:simpleType name="PartyTypeCode">
      <xs:union memberTypes="PartyTypeCodeEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="PartyTypeCodeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Family"/>
         <xs:enumeration value="Couple"/>
         <xs:enumeration value="Single"/>
         <xs:enumeration value="Group"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="PeopleSummaryType">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="PeopleCount" type="CountCommonData">
            <xs:annotation>
               <xs:documentation>The number of people who visited store.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Amount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The sum total of the sales.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TransactionCount" type="CountCommonData">
            <xs:annotation>
               <xs:documentation>The number of transactions.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute form="unqualified" name="LoyaltyLevelType" type="LoyaltyLevelTypeCode">
         <xs:annotation>
            <xs:documentation>Silver, Gold, Platinum</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="ItemCancelType">
      <xs:annotation>
         <xs:documentation>Items canceled before tender and delivery
			</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="Amount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The monetary value of cancel.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Count" type="CountCommonData">
            <xs:annotation>
               <xs:documentation>Thecount of the number of cancel.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute form="unqualified" name="DeviceType" type="ItemCancelDeviceTypeCode">
         <xs:annotation>
            <xs:documentation>Equipment that it was canceled. For example,
					HandyTerminal, POS,
					etc.
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:simpleType name="ItemCancelDeviceTypeCode">
      <xs:union memberTypes="ItemCancelDeviceEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="ItemCancelDeviceEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="HandyTerminal"/>
         <xs:enumeration value="Workstation"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="FoodServiceSummaryType">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="PartyCount" type="CountCommonData">
            <xs:annotation>
               <xs:documentation>The count of the number of parties who visited
						store.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="PeopleCount" type="CountCommonData">
            <xs:annotation>
               <xs:documentation>The count of the number of people who visited
						store.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Amount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The monetary value of all Tender for
						SalesAmount.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="TransactionCount" type="CountCommonData"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="VoidsSummaryType"/>
   <xs:complexType name="POSLogMerchandiseHierarchySummary">
      <xs:annotation>
         <xs:documentation> Summary of POSLog activity involving a particular
				MerchandiseHierarchy group in this Batch.
			</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="GroupID">
            <xs:annotation>
               <xs:documentation>Unique identifier for the MerchandiseHierarchy
						group being
						summarized
					</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="xs:string"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="LevelID" type="xs:string">
            <xs:annotation>
               <xs:documentation>The level of the Merchandise categorization
						Hierarchy to which
						the group being summarized belongs
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="Amount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The gross monetary tatal of all transactions for
						the nominated
						MerchandiseHierarchy group, included in all transactions in the
						summary.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="Quantity" type="QuantityCommonData">
            <xs:annotation>
               <xs:documentation>The number of items in the MerchandiseHierarchy
						group,
						included in all transactions in the summary.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="SalesAmount" type="SalesAmountSummaryType"/>
         <xs:element form="qualified" minOccurs="0" name="DiscountAmount" type="DiscountAmountSummaryType"/>
         <xs:element form="qualified" minOccurs="0" name="TaxAmount" type="TaxAmountSummaryType"/>
         <xs:element form="qualified" minOccurs="0" name="TaxableAmount" type="AmountQuantityType">
            <xs:annotation>
               <xs:documentation>Summary for taxable items in the Merchandise
						Hierarchy
						included in all transactions in the summary.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="NonTaxableAmount" type="AmountQuantityType">
            <xs:annotation>
               <xs:documentation>Summary for non-taxable items in the Merchandise
						Hierarchy
						included in all transactions in the summary.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TaxExemptAmount" type="AmountQuantityType">
            <xs:annotation>
               <xs:documentation>Summary for tax exempt items in the Merchandise
						Hierarchy
						included in all transactions in the summary.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
      <xs:attribute form="unqualified" name="TypeCode" type="POSLogMerchandiseHierarchyTypeCode"/>
   </xs:complexType>
   <xs:complexType name="SalesAmountSummaryType">
      <xs:complexContent>
         <xs:extension base="AmountQuantityType">
            <xs:attribute form="unqualified" name="SalesTypeCode" type="RetailTransactionTotalType"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="DiscountAmountSummaryType">
      <xs:complexContent>
         <xs:extension base="AmountQuantityType">
            <xs:attribute form="unqualified" name="DiscountTypeCode" type="DiscountSummaryTypeCode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="DiscountSummaryTypeCode">
      <xs:union memberTypes="DiscountSummaryEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:annotation>
      <xs:documentation>- SubTotalValueMinus - Total of the amount of money
			discounted from the
			amount of a subtotal - UnitValueMinus - The total of the amount of money
			discounted for
			every item - SubTotalPercentMinus - Total of the amount of money
			discounted from the
			amount of a subtotal of the case which inputted the amount of money for a
			discount not
			by the amount but by %-. - POSDepartmentValueMinus - The total of the
			case discounted
			not per item but per POS department. - FractionValueMinus - The total of
			the case which
			discounted fractions, such as 100yen or less etc. - TotalValueMinus - The total
			of the
			case discounted from the total amount.
		</xs:documentation>
   </xs:annotation>
   <xs:simpleType name="DiscountSummaryEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="SubTotalValueMinus"/>
         <xs:enumeration value="UnitValueMinus"/>
         <xs:enumeration value="SubTotalPercentMinus"/>
         <xs:enumeration value="POSDepartmentValueMinus"/>
         <xs:enumeration value="FactionValueMinus"/>
         <xs:enumeration value="TotalValueMinus"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="TaxAmountSummaryType">
      <xs:complexContent>
         <xs:extension base="AmountQuantityType">
            <xs:attribute form="unqualified" name="TaxTypeCode" type="TaxSaleTypeCode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:simpleType name="TaxSummaryTypeCode">
      <xs:union memberTypes="TaxSummaryEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="TaxSummaryEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="ConsumptionTax"/>
         <xs:enumeration value="ExcludedConsumptionTax"/>
         <xs:enumeration value="IncludedConsumptionTax"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="POSLogMerchandiseHierarchyTypeCode">
      <xs:union memberTypes="POSLogMerchandiseHierarchyEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="POSLogMerchandiseHierarchyEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Sales"/>
         <xs:enumeration value="Returns"/>
         <xs:enumeration value="Layaways"/>
         <xs:enumeration value="Orders"/>
         <xs:enumeration value="Voids"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="POSLogTenderTotals">
      <xs:annotation>
         <xs:documentation>Summary of POSLog activity involving a particular
				Tender type in this
				Batch.
			</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="AccountPayment" type="AmountQuantityType">
            <xs:annotation>
               <xs:documentation>The number and monetary value of all Customer
						Account Payments
						received for this TenderType in the summary.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Amount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The total amount reported in this Tender Totals
						Node
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Change" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="Count" type="CountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="Quantity" type="QuantityCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="Deposit" type="AmountQuantityType">
            <xs:annotation>
               <xs:documentation>The number and monetary value of all Tender
						Deposits performed
						for this TenderType in the summary.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Exchange" type="AmountQuantityType">
            <xs:annotation>
               <xs:documentation>The number and monetary value of all Tender
						Exchanges
						performed for this TenderType in the summary
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Loan" type="AmountQuantityType">
            <xs:annotation>
               <xs:documentation>The number &amp; monetary value of all Tender
						Loans performed
						for this TenderType in the summary.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="MonetaryKind" type="MonetaryKindType">
            <xs:annotation>
               <xs:documentation>In case of POS close, there is processing which
						scrutinizes
						the money in Cash Drawer and inputs the number of sheets for every
						kind of
						money.(The case not using the automatic calculation cash
						Drawer)
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="PayIn" type="AmountQuantityType">
            <xs:annotation>
               <xs:documentation>The number &amp; monetary value of all Tender
						Payins performed
						for this TenderType in the summary.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="PayOut" type="AmountQuantityType">
            <xs:annotation>
               <xs:documentation>The number &amp; monetary value of all Tender
						Payouts
						performed for this TenderType in the summary.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Pickup" type="AmountQuantityType">
            <xs:annotation>
               <xs:documentation>The number &amp; monetary value of all Tender
						Pickups
						performed for this TenderType in the summary
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="StampTax"/>
         <xs:element form="qualified" minOccurs="0" name="UnspentAmount" type="UnspentAmountType"/>
      </xs:sequence>
      <xs:attribute form="unqualified" name="TenderType" type="TenderTypeCode"/>
      <xs:attribute form="unqualified" name="SubTenderType" type="SubTenderTypeCodes"/>
      <xs:attribute form="unqualified" name="FaceValue" type="xs:string">
         <xs:annotation>
            <xs:documentation>FaceValue is used for the total for every kind of
					cash. 1-dollar
					bill totals 100 and 5-dollar bill totals 50 ,etc. Japanese yen There is
					1
					yen, 5 yen, 10 yen, 50 yen, 100 yen, 500 yen, 1000 yen, 2000 yen, 5000
					yen, and
					10000 yen kind. The cash Drawer which identifies and calculates a kind
					automatically (as option) can be attached to POS, and the total for
					every kind
					is possible.
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="POSLogTillSummary">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="TillID" type="POSLogTillID"/>
         <xs:element form="qualified" name="ActivitySummary" type="POSLogActivitySummary"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTransactionLink">
      <xs:complexContent>
         <xs:extension base="TransactionLinkCommonData">
            <xs:sequence>
               <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="POSLogWorkstationSummary">
      <xs:sequence>
         <xs:element form="qualified" name="WorkstationID" type="POSLogWorkstationID"/>
         <xs:element form="qualified" name="ActivitySummary" type="POSLogActivitySummary"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
