Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFParty/PartyStaffAdd/PartyStaffAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFPartyAppSvc/PartyStaffAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptPartyStaffAdd="http://xmlns.banesco.com/appopt/WFPartyAppSvc/PartyStaffAdd_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgData">
		<xs:sequence>
			<xs:element name="Staff" type="appoptPartyStaffAdd:OrgMember" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyData">
		<xs:sequence>
			<xs:element name="Contact" type="appoptPartyStaffAdd:Contact" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Nationality" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="IssuedIdent" type="appoptPartyStaffAdd:IssuedIdent" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identification">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="IssuedIdentType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Issued Idententification Type.

Identifier Type based on ISO 20022 definition with additions.

Valid values include: AlnRegnNb, BEI, BIC, BirthCertificate, BkPtyId, DrvrsLicNb, DUNS, EANGLN, HealthCard, IBEI, IdntyCardNb, MerchantId, Military, MplyrIdNb, NINO, NRABusiness, NRAPersonal, Other, Passbook, PermanentResidence, PrtryId, PsptNb, Retirement, SclSctyNb, TaxIdNb, USCHU, VoterRegistration.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Issued Identification Value.

Identification value associated with the identification type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IssuedIdent">
		<xs:annotation>
			<xs:documentation>Issued Identification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Ident" type="appoptPartyStaffAdd:Identification" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identification type
Identification value</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PartyStaffAddRq" type="appoptPartyStaffAdd:PartyStaffAddRq_Type"/>
	<xs:element name="PartyStaffAddRs" type="appoptPartyStaffAdd:PartyStaffAddRs_Type"/>
	<xs:complexType name="PartyStaffAddRq_Type">
		<xs:sequence>
			<xs:element name="Party" type="appoptPartyStaffAdd:Party" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyStaffAddRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:sequence>
			<xs:element name="OrgPartyInfo" type="appoptPartyStaffAdd:OrgPartyInfo" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyKey" type="appoptPartyStaffAdd:PartyKey" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgPartyInfo">
		<xs:sequence>
			<xs:element name="OrgData" type="appoptPartyStaffAdd:OrgData" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgMember">
		<xs:sequence>
			<xs:element name="PartyKey">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Customer ID´s</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Party Identifier.</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PartyType" type="xs:string" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Tipo de cliente</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="BirthDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryBirth" type="appoptcommon:Country" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>País de Constitución</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FATCA" type="appoptPartyStaffAdd:FATCA" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Datos FATCA</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Gender" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OrgEstablishDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de Constitución</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgName" type="appoptPartyStaffAdd:OrgName" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PartyData" type="appoptPartyStaffAdd:PartyData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PEPData" type="appoptPartyStaffAdd:PEPData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PersonName" type="appoptPartyStaffAdd:PersonName" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Profession" type="appoptcommon:ValueType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Profesion.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Shareholding" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Porcentaje de Acciones</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StaffPosition" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgName">
		<xs:sequence>
			<xs:element name="FullName" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contact">
		<xs:sequence>
			<xs:element name="Locator" type="appoptPartyStaffAdd:Locator" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Locator">
		<xs:sequence>
			<xs:element name="Phone" type="appoptPartyStaffAdd:Phone" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PostAddr" type="appoptPartyStaffAdd:PostAddr" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonName">
		<xs:annotation>
			<xs:documentation>Person Name.

The PersonName aggregate is used to specify a person's full name and, optionally, preferred name (nickname).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FirstName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Person's Given Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>PaternalName</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SecondLastName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>MaternalName</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SecondName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Person's Middle Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FATCA">
		<xs:sequence>
			<xs:element name="OtherNationality" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>¿Tiene usted otra nacionalidad?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="US183Permanence" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>¿Ha permanecido usted en los últimos 3 años más de 183 días en los EEUU?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="USRelated" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>¿Está usted vinculado a algún individuo o entidad estadounidense?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="USResid" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>¿Es usted ciudadano o residente de los Estados Unidos de América?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="USSignor" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>¿Es usted firmante autorizado en una entidad americana?</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostAddr">
		<xs:annotation>
			<xs:documentation>The PostAddr aggregate is used wherever a postal address is needed.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AddrDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Punto de Referencia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Building" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="City" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>City.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="appoptcommon:Country" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountyDistrict" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="HouseNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Jurisdiction" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Corregimiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Province" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Street" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PEPData">
		<xs:sequence>
			<xs:element name="IsPEP" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica si el miembro es PEP</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Phone">
		<xs:sequence>
			<xs:element name="AreaCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de área</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneType" type="appoptcommon:EnumPhoneType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Teléfono (Home, Office, Other)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
