Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Party/PartyStaffInq/PartyStaffInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/PartyStaffInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptPartyStaffInq="http://xmlns.banesco.com/eopt/PartyStaffInq_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:element name="PartyStaffInqRq" type="eoptPartyStaffInq:PartyStaffInqRq_Type"/>
	<xs:element name="PartyStaffInqRs" type="eoptPartyStaffInq:PartyStaffInqRs_Type"/>
	<xs:complexType name="PartyStaffInqRq_Type">
		<xs:sequence>
			<xs:element name="Party" type="eoptPartyStaffInq:Party" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyStaffInqRs_Type">
		<xs:sequence>
			<xs:element name="Party" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
						<xs:element name="OrgPartyInfo" type="eoptPartyStaffInq:OrgPartyInfo" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:sequence>
			<xs:element name="OrgPartyInfo" minOccurs="0">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="OrgData" type="eoPar:PartyData" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgPartyInfo">
		<xs:sequence>
			<xs:element name="OrgData" type="eoPar:OrgData" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
