Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBCardCr/CardCrTrnInq/CardCrTrnInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBCardAppSvc/CardAcctTrnInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptCardCrTrnInq="http://xmlns.banesco.com/appopt/TCIBCardAppSvc/CardAcctTrnInq_V1.0" elementFormDefault="qualified">
	<xs:element name="CardCrTrnInqRq">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Objeto que contiene la información de necesaria para consultar las tarjetas de crédito.</xs:documentation>
			</xs:annotation>
			<xs:sequence minOccurs="1" maxOccurs="1">
				<xs:element name="Nationality" type="xs:string" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Identificador de la nacionalidad del cliente</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="TrnType" type="xs:string" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Indica el tipo de movimiento a consultar</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="AcctTrnKey" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Datos del identificador de la transacción.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:annotation>
							<xs:documentation>Datos del identificador de la transacción.</xs:documentation>
						</xs:annotation>
						<xs:sequence minOccurs="1" maxOccurs="1">
							<xs:element name="AcctTrnId" type="xs:string" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Identificador de la transacción.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="CardKey" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Datos de identificación de la tarjeta</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:annotation>
							<xs:documentation>The Card Object supports the services related to Issuing, Management, and Servicing of Credit, Debit, Prepaid and Private Label cards.</xs:documentation>
						</xs:annotation>
						<xs:sequence>
							<xs:element name="CardId" type="xs:string" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Número asignado a la tarjeta de crédito.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FIData" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Datos de la institución financiera.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:annotation>
							<xs:documentation>The Financial Institution Data Aggregate contains additional information used to identify a bank, typically when used for payment transfers, payee requests, and wire transfers. It is required in CHE, DEU, and ITA to completely identify an account. Sufficient information must be provided within this aggregate to uniquely identify the bank at which the account is held. Failure to do so will result in an error being returned from the server.</xs:documentation>
						</xs:annotation>
						<xs:sequence>
							<xs:element name="BranchId" type="xs:string" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>SUPERFRANQUICIA del emisor, Mapear las necesidades de Nativa. Se debe enviar Branch pero este es un dato variable</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="FIIdent" type="xs:string" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Código de la Institución financiera que hace la solicitud</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="RefIdent" type="xs:string" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Referencia del identificador de la Institución Financiera originadora</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="PartyKey" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Datos del cliente.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:annotation>
							<xs:documentation>Customer ID´s</xs:documentation>
						</xs:annotation>
						<xs:sequence>
							<xs:element name="IssuedIdentValue" type="xs:string" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Número de identificación del cliente.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Código interno o correlativo de t24 asociado al cliente.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="TimeFrame" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Datos de la fecha de la transacción.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:annotation>
							<xs:documentation>Datos de la fecha de ejecución</xs:documentation>
						</xs:annotation>
						<xs:sequence minOccurs="1" maxOccurs="1">
							<xs:element name="StartDt" type="xs:dateTime" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>fecha de la consulta</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="CardCrTrnInqRs">
		<xs:complexType>
			<xs:annotation>
				<xs:documentation>Objeto que contiene la información de la consulta a la tarjeta de crédito.</xs:documentation>
			</xs:annotation>
			<xs:sequence>
				<xs:element name="AcctTrn" minOccurs="0" maxOccurs="unbounded">
					<xs:annotation>
						<xs:documentation>Listado de los movimientos de tarjeta de crédito del cliente</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:annotation>
							<xs:documentation>Información del movimiento de la tarjeta de crédito.</xs:documentation>
						</xs:annotation>
						<xs:sequence minOccurs="1" maxOccurs="1">
							<xs:element name="AthId" type="xs:string" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Código de autorización.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="CurBalance" type="xs:decimal" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Saldo al corte.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Descripción del movimiento.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="OrigDt" type="xs:dateTime" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Fecha del movimiento.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="PostedDt" type="xs:dateTime" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Fecha del proceso.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="TotalCurAmt" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Montos del movimiento.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:annotation>
										<xs:documentation>Monto actual del movimiento</xs:documentation>
									</xs:annotation>
									<xs:sequence>
										<xs:element name="Amt" type="xs:decimal" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>Monto.</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="CurCode" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>Información del tipo de cambio.</xs:documentation>
											</xs:annotation>
											<xs:complexType>
												<xs:annotation>
													<xs:documentation>Monto actual del movimiento</xs:documentation>
												</xs:annotation>
												<xs:sequence>
													<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
														<xs:annotation>
															<xs:documentation>Tipo de moneda.</xs:documentation>
														</xs:annotation>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="TrnType" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Tipo de movimiento.</xs:documentation>
								</xs:annotation>
								<xs:complexType>
									<xs:annotation>
										<xs:documentation>Información del tipo de movimiento.</xs:documentation>
									</xs:annotation>
									<xs:sequence minOccurs="1">
										<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
											<xs:annotation>
												<xs:documentation>Tipo de movimiento.</xs:documentation>
											</xs:annotation>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Status" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Información del error de la consulta.</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence minOccurs="1" maxOccurs="1">
							<xs:element name="StatusCode" type="xs:string" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Código de error que describe si hubiera un problema técnico al momento de realizar la operación.</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="StatusDesc" type="xs:string" minOccurs="1" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>Descripción del error técnico.</xs:documentation>
								</xs:annotation>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
