BCIE_fenix/features/MCP/16/ADF-BPM/bpm/PC04Aprobacion/PC04AprobacionProcess/SOA/WSDLs/Cliente.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="Cliente"
     targetNamespace="http://xmlns.bcie.com/ClienteService"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
     xmlns:cliMO="http://www.bcie.org/ClienteMO"
     xmlns:tns="http://xmlns.bcie.com/ClienteService"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.bcie.org/ClienteMO" schemaLocation="oramds:/apps/Resources/ComponentesComunes/DominioCliente/Cliente/V1/Schema/ClienteMO.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="requestCrearClienteMessage">
        <wsdl:part name="request" element="cliMO:CrearClienteRequest"/>
    </wsdl:message>
    <wsdl:message name="responseCrearClienteMessage">
        <wsdl:part name="response" element="cliMO:CrearClienteResponse"/>
    </wsdl:message>
    <wsdl:message name="requestCrearClienteDefinitivoMessage">
        <wsdl:part name="request" element="cliMO:CrearClienteDefinitivoRequest"/>
    </wsdl:message>
    <wsdl:message name="responseCrearClienteDefinitivoMessage">
        <wsdl:part name="response" element="cliMO:CrearClienteDefinitivoResponse"/>
    </wsdl:message>
    <wsdl:message name="requestConsultarClienteMessageByIdCliente">
        <wsdl:part name="request" element="cliMO:ConsultarClienteByIdClienteRequest"/>
    </wsdl:message>
    <wsdl:message name="responseConsultarClienteMessage">
        <wsdl:part name="response" element="cliMO:ConsultarClienteResponse"/>
    </wsdl:message>
    <wsdl:message name="requestActualizarClienteMessage">
        <wsdl:part name="request" element="cliMO:ActualizarClienteRequest"/>
    </wsdl:message>
    <wsdl:message name="responseActualizarClienteMessage">
        <wsdl:part name="response" element="cliMO:ActualizarClienteResponse"/>
    </wsdl:message>
    <wsdl:message name="requestEliminarClienteMessage">
        <wsdl:part name="request" element="cliMO:EliminarClienteRequest"/>
    </wsdl:message>
    <wsdl:message name="responseEliminarClienteMessage">
        <wsdl:part name="response" element="cliMO:EliminarClienteResponse"/>
    </wsdl:message>
    <wsdl:message name="requestCrearContactoMessage">
        <wsdl:part name="request" element="cliMO:InsertarContactoRequest"/>
    </wsdl:message>
    <wsdl:message name="responseCrearContactoMessage">
        <wsdl:part name="response" element="cliMO:InsertarContactoResponse"/>
    </wsdl:message>
    <wsdl:message name="requestActualizarContactoMessage">
        <wsdl:part name="request" element="cliMO:ActualizarContactoRequest"/>
    </wsdl:message>
    <wsdl:message name="responseActualizarContactoMessage">
        <wsdl:part name="response" element="cliMO:ActualizarContactoResponse"/>
    </wsdl:message>
    <wsdl:message name="requestEliminarContactoMessage">
        <wsdl:part name="request" element="cliMO:EliminarContactoRequest"/>
    </wsdl:message>
    <wsdl:message name="responseEliminarContactoMessage">
        <wsdl:part name="response" element="cliMO:EliminarContactoResponse"/>
    </wsdl:message>
    <wsdl:message name="requestValidarClienteMessage">
        <wsdl:part name="request" element="cliMO:ValidarClienteDuplicadoRequest"/>
    </wsdl:message>
    <wsdl:message name="responseValidarClienteMessage">
        <wsdl:part name="response" element="cliMO:ValidarClienteDuplicadoResponse"/>
    </wsdl:message>
    <wsdl:message name="requestPropagarAnalisisRiesgoMessage">
        <wsdl:part name="request" element="cliMO:PropagarAnalisisRiesgoRequest"/>
    </wsdl:message>
    <wsdl:message name="responsePropagarAnalisisRiesgoMessage">
        <wsdl:part name="response" element="cliMO:PropagarAnalisisRiesgoResponse"/>
    </wsdl:message>
    <wsdl:message name="requestEnviarDocumentoClienteMessage">
        <wsdl:part name="request" element="cliMO:EnviarDocumentoClienteRequest"/>
    </wsdl:message>
    <wsdl:message name="responseEnviarDocumentoClienteMessage">
        <wsdl:part name="response" element="cliMO:EnviarDocumentoClienteResponse"/>
    </wsdl:message>
    <wsdl:portType name="ClientePT">
        <wsdl:operation name="crearCliente">
            <wsdl:documentation>Registra un Cliente</wsdl:documentation>
            <wsdl:input message="tns:requestCrearClienteMessage"/>
            <wsdl:output message="tns:responseCrearClienteMessage"/>
        </wsdl:operation>
        <wsdl:operation name="crearClienteDefinitivo">
            <wsdl:documentation>Registra un Cliente en FLEXCUBE</wsdl:documentation>
            <wsdl:input message="tns:requestCrearClienteDefinitivoMessage"/>
            <wsdl:output message="tns:responseCrearClienteDefinitivoMessage"/>
        </wsdl:operation>
        <wsdl:operation name="consultarByIdCliente">
            <wsdl:documentation>Consulta un Cliente por id del Cliente</wsdl:documentation>
            <wsdl:input message="tns:requestConsultarClienteMessageByIdCliente"/>
            <wsdl:output message="tns:responseConsultarClienteMessage"/>
        </wsdl:operation>
        <wsdl:operation name="actualizarCliente">
            <wsdl:documentation>registra un Cliente</wsdl:documentation>
            <wsdl:input message="tns:requestActualizarClienteMessage"/>
            <wsdl:output message="tns:responseActualizarClienteMessage"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarCliente">
            <wsdl:input message="tns:requestEliminarClienteMessage"/>
            <wsdl:output message="tns:responseEliminarClienteMessage"/>
        </wsdl:operation>
        <wsdl:operation name="crearContacto">
            <wsdl:documentation>Insertar un Contacto</wsdl:documentation>
            <wsdl:input message="tns:requestCrearContactoMessage"/>
            <wsdl:output message="tns:responseCrearContactoMessage"/>
        </wsdl:operation>
        <wsdl:operation name="actualizarContacto">
            <wsdl:documentation>actualizar un Contacto</wsdl:documentation>
            <wsdl:input message="tns:requestActualizarContactoMessage"/>
            <wsdl:output message="tns:responseActualizarContactoMessage"/>
        </wsdl:operation>
        <wsdl:operation name="eliminarContacto">
            <wsdl:input message="tns:requestEliminarContactoMessage"/>
            <wsdl:output message="tns:responseEliminarContactoMessage"/>
        </wsdl:operation>
        <wsdl:operation name="validarCliente">
            <wsdl:input message="tns:requestValidarClienteMessage"/>
            <wsdl:output message="tns:responseValidarClienteMessage"/>
        </wsdl:operation>
        <wsdl:operation name="propagarAnalisisRiesgo">
            <wsdl:input message="tns:requestPropagarAnalisisRiesgoMessage"/>
            <wsdl:output message="tns:responsePropagarAnalisisRiesgoMessage"/>
        </wsdl:operation>
        <wsdl:operation name="enviarDocumentoCliente">
            <wsdl:input message="tns:requestEnviarDocumentoClienteMessage"/>
            <wsdl:output message="tns:responseEnviarDocumentoClienteMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="Cliente12Bnd" type="tns:ClientePT">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="crearCliente">
            <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ClienteService/crearCliente"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="response"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="crearClienteDefinitivo">
            <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ClienteService/crearClienteDefinitivo"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="response"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="consultarByIdCliente">
            <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ClienteService/consultarByIdCliente"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="response"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarCliente">
            <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ClienteService/actualizarCliente"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="response"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminarCliente">
            <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ClienteService/eliminarCliente"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="response"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="crearContacto">
            <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ClienteService/crearContacto"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="response"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="actualizarContacto">
            <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ClienteService/actualizarContacto"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="response"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="eliminarContacto">
            <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ClienteService/eliminarContacto"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="response"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="validarCliente">
            <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ClienteService/validarCliente"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="response"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="propagarAnalisisRiesgo">
            <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ClienteService/crearCliente"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="response"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="enviarDocumentoCliente">
            <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ClienteService/enviarDocumentoCliente"
                 soapActionRequired="false"/>
            <wsdl:input>
                <soap12:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal" parts="response"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
