BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/ActualizarTreLineaCreditoTCC/XSD/ActualizarTreLineaCredito_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ActualizarTreLineaCredito_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ActualizarTreLineaCredito_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ActualizarTreLineaCredito_DBInput" type="ActualizarTreLineaCredito_DBInput"/>
   <xs:complexType name="ActualizarTreLineaCredito_DBInput">
      <xs:sequence>
         <xs:element name="ID_TERMINO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_COMISION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_LINEA_CREDITO" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>