Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/T24UtilityAppSvc/T24UtilityAppSvc_V1.0.wsdl

<wsdl:definitions name="T24UtilityAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/T24UtilityAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/T24UtilityAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
                  xmlns:appoptDocPrintAdd="http://xmlns.banesco.com/appopt/T24UtilityAppSvc/DocPrintAdd_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/T24UtilityAppSvc/DocPrintAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/T24Utility/DocPrintAdd/DocPrintAdd_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="DocPrintAddRq">
    <wsdl:part name="DocPrintAddRq" element="appoptDocPrintAdd:DocPrintAddRq"/>
  </wsdl:message>
  <wsdl:message name="DocPrintAddRs">
    <wsdl:part name="DocPrintAddRs" element="appoptDocPrintAdd:DocPrintAddRs"/>
  </wsdl:message>
  <wsdl:portType name="T24UtilityAppSvc_V1.0">
    <wsdl:operation name="DocPrintAdd">
      <wsdl:input message="tns:DocPrintAddRq"/>
      <wsdl:output message="tns:DocPrintAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="T24UtilityAppSvc_V1.0SOAP" type="tns:T24UtilityAppSvc_V1.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="DocPrintAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/T24UtilityAppSvc_V1.0/DocPrintAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="DocPrintAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="DocPrintAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="T24UtilityAppSvc_V1.0">
    <wsdl:port name="T24UtilityAppSvc_V1.0SOAP" binding="tns:T24UtilityAppSvc_V1.0SOAP">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>