BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/BPM/Schema/PA03/CondicionPayload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- editado con XMLSpy v2015 rel. 4 sp1 (x64) (http://www.altova.com) por Víctor Suárez (Latbc) -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
            xmlns:condicion="http://xmlns.bcie.org/ObjetoProceso/Condiciones/Payload/V1" 
            xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" 
            xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" 
            xmlns:notificacion="http://xmlns.bcie.org/ObjetoProceso/Comun/Notificacion/V1"
            targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Condiciones/Payload/V1" 
            elementFormDefault="qualified" 
            attributeFormDefault="unqualified" version="1.0">
		<xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="../../Schema/Comun/Header/V1/HeaderOPN.xsd"/>
		<xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" schemaLocation="../../Schema/Comun/Parameter/V1/ParameterOPN.xsd"/>
                    
	<xs:element name="CondicionPayload" type="condicion:CondicionPayloadType">
		<xs:annotation>
			<xs:documentation>Elemento que define los campos de entrada para el proceso alterno de Condiciones</xs:documentation>
		</xs:annotation>	
	</xs:element>
		
	<xs:element name="CondicionErrorPayload" type="condicion:CondicionErrorPayloadType">
		<xs:annotation>
			<xs:documentation>Elemento que define los campos de entrada para el manejo de errores del proceso alterno de Prevensión de Lavado de Activos y Financiamiento al Terrorismo</xs:documentation>
		</xs:annotation>
	</xs:element>

	<xs:complexType name="CondicionPayloadType">
		<xs:sequence>
			<xs:element name="Header" type="header:Header"/>
			<xs:element name="Configuration" type="condicion:ConfigGatewaysType"  minOccurs="0" maxOccurs="1"/>
			<xs:element name="EquipoPayload" type="condicion:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EquipoEjecucionPayload" type="condicion:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="evento" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="agrupamiento" type="xs:int" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	
	<xs:complexType name="ConfigGatewaysType">
		<xs:sequence>
			<xs:element name="requiereCOFI" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereASJUR" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereSEPRI" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereSupervision" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereAmbiental" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requierePCT" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereEjecutivoFINAM" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereDAECI" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereOFIC" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereAnalistaFINAM" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereSegCred" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereValidar" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereAED" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereMasInfoCOFI" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereMasInfoASJUR" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereMasInfoSEPRI" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereMasInfoSupervision" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereMasInfoAmbiental" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereMasInfoPCT" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereMasInfoEjecutivoFINAM" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereMasInfoDAECI" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereMasInfoOFIC" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereMasInfoAnalistaFINAM" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereMasInfoSegCred" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereMasInfoAED" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
        
	<xs:complexType name="CondicionErrorPayloadType">
		<xs:sequence>
			<xs:element name="Header" type="header:Header"/>
			<xs:element name="Configuration" type="condicion:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EquipoPayload" type="condicion:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="EquipoEjecucionPayload" type="condicion:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="evento" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="agrupamiento" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
        
	<xs:complexType name="EquipoPayloadType">
		<xs:sequence>
			<xs:element name="AnalistaCOFI" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Abogado" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EjecutivoSEPRI" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AnalistaSupervision" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EspecialistaAmbiental" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EjecutivoPCT" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EjecutivoFINAM" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AnalistaDAECI" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AnalistaOFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AnalistaFINAM" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AnalistaSegCred" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AnalistaAED" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
