BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/SolicitudAprobacion/CrearRegistroVotacion/XSD/CrearRegistroVotacion_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearRegistroVotacion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearRegistroVotacion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="VotoAprobacionCollection" type="VotoAprobacionCollection"/>
   <xs:complexType name="VotoAprobacionCollection">
      <xs:sequence>
         <xs:element name="VotoAprobacion" type="VotoAprobacion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="VotoAprobacion">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idTcaTipoDecision" type="xs:int" minOccurs="0"/>
         <xs:element name="idUsuarioReunion" type="xs:long" minOccurs="0"/>
         <xs:element name="fechaHora" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="loginUsuarioEmite" type="string32" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
         <xs:element name="esFueraDeSistema" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>