BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Condicion/ConsultarCondicionByIdLineaCredito/XSD/ConsultarCondicionByIdLineaCredito.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarCondicionByIdLineaCredito" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarCondicionByIdLineaCredito" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarCondicionByIdLineaCreditoInput" type="ConsultarCondicionByIdLineaCreditoInput"/>
   <xs:complexType name="ConsultarCondicionByIdLineaCreditoInput">
      <xs:sequence>
         <xs:element name="IDLINEACREDITO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarCondicionByIdLineaCreditoOutputCollection" type="ConsultarCondicionByIdLineaCreditoOutputCollection"/>
   <xs:complexType name="ConsultarCondicionByIdLineaCreditoOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarCondicionByIdLineaCreditoOutput" type="ConsultarCondicionByIdLineaCreditoOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarCondicionByIdLineaCreditoOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_CONDICION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_CONTROL_CONDICION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_FECHA_INICIO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_INICIO" type="xs:dateTime" nillable="true"/>
         <xs:element name="PLAZO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_PLAZO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_FINAL" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TCA_ESTADO_TCC" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_SUB_ESTADO_TCC" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_CONDICION_ENMENDADA" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_ENMIENDA" type="xs:dateTime" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>