BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Wsdl/PA15/FormalizacionEnmiendasProcess.wsdl

<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionEnmiendasProcess" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionEnmiendasProcess" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionEnmiendasProcess" schemaLocation="../../Schema/PA15/FormalizacionEnmiendasProcess.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InicioFormalizacionEnmiendas">
    <wsdl:part name="parameters" element="tns:InicioFormalizacionEnmiendas"/>
  </wsdl:message>
  <wsdl:message name="FinFormalizacionEnmiendas">
    <wsdl:part name="parameters" element="tns:FinFormalizacionEnmiendas"/>
  </wsdl:message>
    <wsdl:message name="InicioCancelarFormalizacionEnmiendas">
    <wsdl:part name="parameters" element="tns:InicioCancelarFormalizacionEnmiendas"/>
  </wsdl:message>
    <wsdl:message name="InicioReasignarFormalizacionEnmiendas">
    <wsdl:part name="parameters" element="tns:InicioReasignarFormalizacionEnmiendas"/>
  </wsdl:message>
  <wsdl:portType name="FormalizacionEnmiendasProcessPortType">
    <wsdl:operation name="InicioFormalizacionEnmiendas">
      <wsdl:input message="tns:InicioFormalizacionEnmiendas"/>
    </wsdl:operation>
    <wsdl:operation name="FinFormalizacionEnmiendas">
      <wsdl:input message="tns:FinFormalizacionEnmiendas"/>
    </wsdl:operation>
    <wsdl:operation name="InicioCancelarFormalizacionEnmiendas">
      <wsdl:input message="tns:InicioCancelarFormalizacionEnmiendas"/>
    </wsdl:operation>
    <wsdl:operation name="InicioReasignarFormalizacionEnmiendas">
      <wsdl:input message="tns:InicioReasignarFormalizacionEnmiendas"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FormalizacionEnmiendasProcessBinding" type="tns:FormalizacionEnmiendasProcessPortType">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InicioFormalizacionEnmiendas">
      <wsdlsoap:operation style="document" soapAction="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionEnmiendasProcess/InicioFormalizacionEnmiendas"/>
      <wsdl:input>
        <wsdlsoap:body use="literal" parts="parameters"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FinFormalizacionEnmiendas">
      <wsdlsoap:operation style="document" soapAction="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionEnmiendasProcess/FinFormalizacionEnmiendas"/>
      <wsdl:input>
        <wsdlsoap:body use="literal" parts="parameters"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InicioCancelarFormalizacionEnmiendas">
      <wsdlsoap:operation style="document" soapAction="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionEnmiendasProcess/InicioCancelarFormalizacionEnmiendas"/>
      <wsdl:input>
        <wsdlsoap:body use="literal" parts="parameters"/>
      </wsdl:input>
    </wsdl:operation>
        <wsdl:operation name="InicioReasignarFormalizacionEnmiendas">
      <wsdlsoap:operation style="document" soapAction="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionEnmiendasProcess/InicioReasignarFormalizacionEnmiendas"/>
      <wsdl:input>
        <wsdlsoap:body use="literal" parts="parameters"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <plnk:partnerLinkType name="FormalizacionEnmiendasProcessPortTypePartnerLinkType">
    <plnk:role name="FormalizacionEnmiendasProcessPortTypeProvider">
      <plnk:portType name="tns:FormalizacionEnmiendasProcessPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>
</wsdl:definitions>