AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Capabilities/Foundation/Schemas/Commons/CommonTypeSchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Canonical/Commons/Types/v1" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Canonical/Commons/Types/v1" xmlns:enums="http://mx.agarcia.ea/Canonical/Commons/Enums/v1" xmlns:lang="http://mx.agarcia.ea/Canonical/Commons/Languages/v1" xmlns:cur="http://mx.agarcia.ea/Canonical/Commons/Currencies/v1">

	<xs:import schemaLocation="CommonEnums.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Enums/v1"/>

	<xs:import schemaLocation="LanguageSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Languages/v1"/>

	<xs:import schemaLocation="CurrencyTypeSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Currencies/v1"/>



	<!-- Date Time Enumeration -->
	<xs:simpleType name="DateTimeType">
		<xs:union memberTypes="base:DateTimeTypeEnumeration enums:TypeCodeExtension"/>
	</xs:simpleType>

	<xs:simpleType name="DateTimeTypeEnumeration">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Message"/>
			<xs:enumeration value="Cancel"/>
			<xs:enumeration value="ActualStart"/>
			<xs:enumeration value="Effective"/>
			<xs:enumeration value="ExpectedDue"/>
			<xs:enumeration value="ExpectedStart"/>
			<xs:enumeration value="Dispatch"/>
			<xs:enumeration value="Expiration"/>
			<xs:enumeration value="Business"/>
			<xs:enumeration value="Start"/>
			<xs:enumeration value="End"/>
			<xs:enumeration value="Receipt"/>
			<xs:enumeration value="Transaction"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="DateTimeCommonData">
		<xs:simpleContent>
			<xs:extension base="xs:dateTime">
				<xs:attribute default="Message" form="unqualified" name="TypeCode" type="base:DateTimeType" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="BusinessDayDateType">
		<xs:annotation>
			<xs:documentation>The calendar date of the BusinessDay, upon which
				the Transaction was
				performed.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:date"/>
	</xs:simpleType>



	<!-- Enumerated type for Description Type Codes attribute -->
	<xs:simpleType name="DescriptionTypeCode">
		<xs:union memberTypes="base:DescriptionTypeCodeEnumeration enums:TypeCodeExtension"/>
	</xs:simpleType>

	<xs:simpleType name="DescriptionTypeCodeEnumeration">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Long"/>
			<xs:enumeration value="Short"/>
			<xs:enumeration value="Web"/>
			<xs:enumeration value="Supplier"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="DescriptionCommonData">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute default="es" form="unqualified" name="Language" type="lang:BasicLanguageCode" use="optional"/>
				<xs:attribute default="Short" form="unqualified" name="TypeCode" type="base:DescriptionTypeCode"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>


	<xs:simpleType name="WorkstationIDType">
		<xs:annotation>
			<xs:documentation>The unique identifier for the WORKSTATION,
				typically the serial
				number.
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string"/>
	</xs:simpleType>


	<xs:complexType name="AmountCommonData">
		<xs:simpleContent>
			<xs:extension base="base:DecimalCommonData">
				<xs:attribute default="MXN" form="unqualified" name="Currency" type="cur:CurrencyTypeCode" use="optional"/>
				<xs:attribute form="unqualified" name="ForeignAmount" type="base:DecimalCommonData" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="CountCommonData">
		<xs:restriction base="xs:nonNegativeInteger">
			<xs:maxInclusive value="9999999999"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="DecimalCommonData">
		<xs:restriction base="xs:decimal">
			<xs:maxInclusive value="99999999.999999"/>
			<xs:minInclusive value="0.000000"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="CurrencyTypeCode">
		<xs:union memberTypes="cur:CurrencyTypeCodeEnumeration enums:TypeCodeExtension"/>
	</xs:simpleType>



	<xs:simpleType name="UnspentBalanceDispositionTypeCode">
		<xs:union memberTypes="base:UnspentBalanceDispositionTypeCodeEnumeration enums:TypeCodeExtension"/>
	</xs:simpleType>

	<xs:simpleType name="UnspentBalanceDispositionTypeCodeEnumeration">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Cash"/>
			<xs:enumeration value="OnAccount"/>
			<xs:enumeration value="NewVoucher"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="MonetaryAmountCommonData">
		<xs:simpleContent>
			<xs:extension base="base:AmountCommonData"/>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="PercentageCommonData">
		<xs:annotation>
			<xs:documentation> natural, non-negative percentage type
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="5"/>
			<xs:fractionDigits value="5"/>
			<xs:minInclusive value="0"/>
			<xs:maxInclusive value="100"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="QuantityCommonData">
		<xs:simpleContent>
			<xs:extension base="xs:decimal">
				<xs:attribute default="1" form="unqualified" name="Units" type="xs:decimal">
					<xs:annotation>
						<xs:documentation>The number of units sold, when selling bulk
							merchandise.
							Eg: A sale of 20 Gallons of Gas: Quantity=20,
							Units=1,
							UnitOfMeasure=Ga
							Eg: A sale of 3 cans of Beans:
							Quantity=3, Units=1, UnitOfMeasure=Ea
							Sale of 6 pack of beer
							quantity = 1, units = 6
							unitofmeasure=6pk
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute default="UN" form="unqualified" name="UnitOfMeasureCode" type="base:UnitOfMeasureCodeCommonData" use="optional">
					<xs:annotation>
						<xs:documentation>The code used to specify the units in which a
							value is
							being expressed, or manner in which a measurement has
							been taken.
						</xs:documentation>
					</xs:annotation>
				</xs:attribute>
				<xs:attribute default="Scanned" form="unqualified" name="EntryMethod" type="base:EntryMethodTypeCode" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>


	<!-- Entry Method Enumerations -->
	<xs:simpleType name="EntryMethodTypeCode">
		<xs:union memberTypes="base:EntryMethodEnumeration enums:TypeCodeExtension"/>
	</xs:simpleType>

	<xs:simpleType name="EntryMethodEnumeration">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="SmartCard"/>
			<xs:enumeration value="MICR"/>
			<xs:enumeration value="MSR"/>
			<xs:enumeration value="Keyed"/>
			<xs:enumeration value="Scanned"/>
			<xs:enumeration value="Weighed"/>
			<xs:enumeration value="Measured"/>
			<xs:enumeration value="RFID"/>
			<xs:enumeration value="Automatic"/>
			<xs:enumeration value="IntegratedChipCard"/>
			<xs:enumeration value="Tapped"/>
			<xs:enumeration value="Waved"/>
		</xs:restriction>
	</xs:simpleType>



	<xs:complexType name="AmountQuantityType">
		<xs:sequence>
			<xs:element form="qualified" minOccurs="0" name="Amount" type="base:AmountCommonData">
				<xs:annotation>
					<xs:documentation>The monetary value of Tender movements being
						reported
					</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element form="qualified" minOccurs="0" name="Quantity" type="base:QuantityCommonData">
				<xs:annotation>
					<xs:documentation> The number of Tender movements being reported
					</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="StampTaxType">
		<xs:complexContent>
			<xs:extension base="base:AmountQuantityType">
				<xs:attribute form="unqualified" name="TypeCode" type="base:StampTaxSummaryTypeCode"/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>

	<xs:simpleType name="StampTaxSummaryTypeCode">
		<xs:union memberTypes="base:StampTaxSummaryEnumeration enums:TypeCodeExtension"/>
	</xs:simpleType>

	<xs:simpleType name="StampTaxSummaryEnumeration">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Type1"/>
			<xs:enumeration value="Type2"/>
		</xs:restriction>
	</xs:simpleType>

	<xs:complexType name="EncryptedDataType">
		<xs:simpleContent>
			<xs:extension base="xs:base64Binary">
				<xs:attribute form="unqualified" name="Cryptogram" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>


	<!-- Enumerated type for Credit/Debit Card Types -->
	<xs:simpleType name="CreditDebitCardType">
		<xs:union memberTypes="base:CreditDebitCardTypeEnumeration enums:TypeCodeExtension"/>
	</xs:simpleType>

	<xs:simpleType name="CreditDebitCardTypeEnumeration">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Credit"/>
			<xs:enumeration value="Debit"/>
			<xs:enumeration value="Loyalty"/>
		</xs:restriction>
	</xs:simpleType>


	<!-- Enumerated type for Comparator Type attribute -->
	<xs:simpleType name="ComparatorTypeCode">
		<xs:union memberTypes="base:ComparatorTypeCodeEnumeration enums:TypeCodeExtension"/>
	</xs:simpleType>

	<xs:simpleType name="ComparatorTypeCodeEnumeration">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="Before"/>
			<xs:enumeration value="After"/>
			<xs:enumeration value="AfterOrEqual"/>
			<xs:enumeration value="BeforeOrEqual"/>
			<xs:enumeration value="Not"/>
		</xs:restriction>
	</xs:simpleType>


	<xs:complexType name="URIType">
		<xs:simpleContent>
			<xs:extension base="xs:string">
				<xs:attribute form="unqualified" name="Size" type="xs:string" use="optional"/>
				<xs:attribute form="unqualified" name="Units" type="xs:string" use="optional"/>
				<xs:attribute form="unqualified" name="Format" type="xs:string" use="optional"/>
				<xs:attribute form="unqualified" name="Type" type="base:URITypeCode" use="optional"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:complexType name="UUIDType">
		<xs:annotation>
			<xs:documentation>Globally unique identifier</xs:documentation>
		</xs:annotation>
		<xs:simpleContent>
			<xs:extension base="xs:string">

				<xs:attribute form="unqualified" name="AssetFileName" type="xs:string"/>
				<xs:attribute form="unqualified" name="AssetFileFormat" type="xs:string"/>
			</xs:extension>
		</xs:simpleContent>
	</xs:complexType>

	<xs:simpleType name="URITypeCode">
		<xs:annotation>
			<xs:documentation>PIES Definition</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="base:URITypeCodeEnumeration enums:TypeCodeExtension"/>
	</xs:simpleType>
	
	<xs:simpleType name="URITypeCodeEnumeration">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="OEMFilename">
				<xs:annotation>
					<xs:documentation>AAIA - PIES - Original Equipment Manufacturer's
						File
						Name.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OldFilename">
				<xs:annotation>
					<xs:documentation>AAIA - PIES - Name of Digital Asset file that
						this Asset
						record is replacing.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NewFilename">
				<xs:annotation>
					<xs:documentation>AAIA - PIES - Name of Digital Asset file being
						replaced.
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="URL">
				<xs:annotation>
					<xs:documentation>Generic URL where the file is located
					</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>


    <!-- 
		Days Of the Week
	-->
    <xs:simpleType name="DOWType">
        <xs:union memberTypes="base:DOWTypeEnumeration enums:TypeCodeExtension"/>
    </xs:simpleType>

    <xs:simpleType name="DOWTypeEnumeration">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Domingo"/>
            <xs:enumeration value="Lunes"/>
            <xs:enumeration value="Martes"/>
            <xs:enumeration value="Miercoles"/>
            <xs:enumeration value="Jueves"/>
            <xs:enumeration value="Viernes"/>
            <xs:enumeration value="Sabado"/>
        </xs:restriction>
    </xs:simpleType>




	<xs:simpleType name="UnitOfMeasureCodeCommonData">
		<xs:union memberTypes="base:MXUnitOfMeasureCodeEnumeration enums:TypeCodeExtension"/>
	</xs:simpleType>

	<xs:simpleType name="MXUnitOfMeasureCodeEnumeration">
		<xs:annotation>
			<xs:documentation>Unidades de medida más comunes en retail méxico
			</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="UN">
				<xs:annotation>
					<xs:documentation>Unit / Unidad</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CAJ">
				<xs:annotation>
					<xs:documentation>Caja / Box</xs:documentation>
				</xs:annotation>
			</xs:enumeration>			

			<xs:enumeration value="PAQ">
				<xs:annotation>
					<xs:documentation>Paquete</xs:documentation>
				</xs:annotation>
			</xs:enumeration>			
			<xs:enumeration value="PAQ12">
				<xs:annotation>
					<xs:documentation>Paquete de 12 unidades</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PAQ10">
				<xs:annotation>
					<xs:documentation>Paquete de 10 unidades</xs:documentation>
				</xs:annotation>
			</xs:enumeration>

			<xs:enumeration value="PAQ8">
				<xs:annotation>
					<xs:documentation>Paquete de 8 unidades</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PAQ6">
				<xs:annotation>
					<xs:documentation>Paquete de 6 unidades</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PAQ5">
				<xs:annotation>
					<xs:documentation>Paquete de 5 unidades</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PAQ4">
				<xs:annotation>
					<xs:documentation>Paquete de 4 unidades</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PAQ3">
				<xs:annotation>
					<xs:documentation>Paquete de 3 unidades</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PAQ2">
				<xs:annotation>
					<xs:documentation>Paquete de 2 unidades</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PAQN">
				<xs:annotation>
					<xs:documentation>Paquete sin especificar</xs:documentation>
				</xs:annotation>
			</xs:enumeration>


			<xs:enumeration value="MMT">
				<xs:annotation>
					<xs:documentation>millimeter</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CMQ">
				<xs:annotation>
					<xs:documentation>centimeter</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MTR">
				<xs:annotation>
					<xs:documentation>metre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MTK">
				<xs:annotation>
					<xs:documentation>square metre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MTQ">
				<xs:annotation>
					<xs:documentation>cubic metre</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="GRM">
				<xs:annotation>
					<xs:documentation>gram</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KGM">
				<xs:annotation>
					<xs:documentation>kilogram</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Kg">
				<xs:annotation>
					<xs:documentation>kilogram</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
			<xs:enumeration value="ANN">
				<xs:annotation>
					<xs:documentation>Annual</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CEL">
				<xs:annotation>
					<xs:documentation>degree celcius</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="FAH">
				<xs:annotation>
					<xs:documentation>degree fahrenheit</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			
            <xs:enumeration value="Horas">
                <xs:annotation>
                    <xs:documentation>Horas</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Dias">
                <xs:annotation>
                    <xs:documentation>Días</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="Segundos">
                <xs:annotation>
                    <xs:documentation>Segundos</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
			
			
		</xs:restriction>
	</xs:simpleType>


    <!-- 
		When Type
	-->
    <xs:simpleType name="WhenType">
        <xs:union memberTypes="base:WhenTypeEnumeration enums:TypeCodeExtension"/>
    </xs:simpleType>
    
    <xs:simpleType name="WhenTypeEnumeration">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Before"/>
            <xs:enumeration value="After"/>
            <xs:enumeration value="Between"/>
        </xs:restriction>
    </xs:simpleType>
    
    <xs:complexType name="DayOfWeekCommonData">
        <xs:sequence>
            <xs:element form="qualified" maxOccurs="unbounded" name="Span" type="base:StartEndTimeType"/>
        </xs:sequence>
        <xs:attribute form="unqualified" name="Dias" type="base:DOWType" use="optional"/>
        <xs:attribute default="Between" form="unqualified" name="When" type="base:WhenType" use="optional"/>
    </xs:complexType>

    <xs:complexType name="StartEndTimeType">
        <xs:sequence>
            <xs:element form="qualified" minOccurs="0" name="StartEndDate" type="xs:date"/>
            <xs:element form="qualified" minOccurs="0" name="StartTime" type="xs:time"/>
            <xs:element form="qualified" minOccurs="0" name="EndTime" type="xs:time"/>
            <xs:element form="qualified" minOccurs="0" name="Duration">
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="xs:duration">
                            <xs:attribute default="Dias" form="unqualified" name="UnitOfMeasureCode" type="base:UnitOfMeasureCodeCommonData" use="optional"/>
                        </xs:extension>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>


	<xs:simpleType name="PriceTypeCode">
		<xs:union memberTypes="base:PriceTypeCodeEnumeration enums:TypeCodeExtension"/>
	</xs:simpleType>

	<xs:simpleType name="PriceTypeCodeEnumeration">
		<xs:restriction base="xs:NMTOKEN">
			<xs:enumeration value="BidPrice"/>
			<xs:enumeration value="InventoryValuePrice"/>
			<xs:enumeration value="MAPPrice"/>
			<xs:enumeration value="RegularSalesUnitPrice"/>
			<xs:enumeration value="SuggestedRetailPrice"/>
			<xs:enumeration value="UnitCostPrice"/>
			<xs:enumeration value="UnitListPrice"/>
			<xs:enumeration value="VolumeDiscountPrice"/>
		</xs:restriction>
	</xs:simpleType>

    <xs:complexType name="SizeCommonData">
        <xs:annotation>
            <xs:documentation>This entity type is a further classification of the STOCK ITEM and is
                typically referred to as an option of style.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element form="qualified" minOccurs="0" name="ActualSizeCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The last four characters of the NRF size code. This code
                        uniquely identifies a particular size, eg dress size 12 or combination
                        ofsizes, eg pants, waist size 36, inseam 31</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="ActualSizeProportionDescription">
                <xs:annotation>
                    <xs:documentation>The proportions typically used to measure this particular ITEM
                        type, eg 36 (waist) x 31(inseam)</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="base:DescriptionCommonData"/>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="ActualSizeTypeDescription">
                <xs:annotation>
                    <xs:documentation>A description of the industry convention typically used to
                        signify the size to the customer, eg waist used for pants, body for coats,
                        neck for shirts, chest for sweaters, etc.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="base:DescriptionCommonData"/>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="Description">
                <xs:annotation>
                    <xs:documentation>A description of the apparel cataegories encompassed within
                        the size table code</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="base:DescriptionCommonData"/>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="SizeCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>A code to designate the size of the ITEM. It is proposed to
                        use the 5 apparel and miscellaneous coding structure as specified by the
                        NRMA to facilitate data interchange between vendors and retailers. This code
                        permits the use of both standard and proprietary coding
                        format.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="SizeFamilyID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>A unique retailer assigned identifier for the grouping of
                        similar colors used to classify the sizes of merchandise for
                        analysis</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="TableCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The first character of the size code as designated by the NRF
                        (1-9). This first digit refers to the size table, for example 1=adult male
                        clothing, 5=footwear and 7=home decorating accessories. Retailers using
                        proprietary in-house size codes use a "0 " size table</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="TableName" type="xs:string">
                <xs:annotation>
                    <xs:documentation>The name of the size table code, eg size code 4=infants and
                        childrens clothing</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

   <xs:complexType name="CommissionType">
        <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="CommissionCode" type="xs:string"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="SpiffCode" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Employee sales incentive. Refers to the SPIFF code of the
                        SPIFF record to associate with this item.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DatesType">
        <xs:annotation>
            <xs:documentation>from EAN.UCC</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element minOccurs="0" name="EffectiveDate" type="xs:date">
                <xs:annotation>
                    <xs:documentation>EAN.UCC Definition: The date on which the information contents
                        of the master data version are valid. Valid = correct or true. This
                        effective date can be used for initial trade item offering, or to mark a
                        change in the information related to an existing trade item. This date would
                        mark when these changes take effect. Examples: "2002-02-05" February 5th
                        2002 Business Rules: This date will be used for version management. The
                        effective date can be different from publication date. If a new user begins
                        to synchronize data on this GTIN after the original effective date, the
                        effective date = the publication date for the new user. Time zone of the
                        information provider may be noted in future drafts of the GDD. ISO 8601 date
                        format CCYY-MM-DD</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="ExpirationDate" type="xs:date"/>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="Accessibile" type="base:AccessibleType"/>
        </xs:sequence>
    </xs:complexType>


   <xs:complexType name="MarketingType">
        <xs:sequence>
            <xs:element minOccurs="0" name="Season" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Season code; along with the FiscalYear attribute, describes
                        when the Item is available for sale. Christmas, back to school, easter,
                        spring. These fields could be used to allow price derivation rules to act on
                        appropriate items</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element minOccurs="0" name="FiscalYear" type="xs:gYear"/>
            <xs:element minOccurs="0" name="AgeGroup" type="xs:string"/>
            <xs:element minOccurs="0" name="Gender" type="xs:string"/>
            <xs:element minOccurs="0" name="LifestyleID">
                <xs:annotation>
                    <xs:documentation>An optional descriptor of a Style that sends a message for the
                        image conveyed by the product, e.g. Casual, Traditional, Professional,
                        Fashion, Modern, Comfort, Extreme, Athletic, Exotic, European,
                        Designer.</xs:documentation>
                </xs:annotation>
                <xs:complexType>
                    <xs:simpleContent>
                        <xs:extension base="base:LifestyleIDCommonData"/>
                    </xs:simpleContent>
                </xs:complexType>
            </xs:element>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
    </xs:complexType>


    <xs:complexType name="LifestyleIDCommonData">
        <xs:annotation>
            <xs:documentation>A unique identifier for a    Lifestyle.</xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute form="unqualified" name="Lifestyle" type="xs:string" use="optional">
                    <xs:annotation>
                        <xs:documentation>An optional descriptor of a Style that sends a message for
                            the image conveyed by the product, e.g. Casual, Traditional,
                            Professional, Fashion, Modern, Comfort, Extreme, Athletic, Exotic,
                            European, Designer.</xs:documentation>
                    </xs:annotation>
                </xs:attribute>
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>


    <!--
		Enumerated type for  Quantity Range Type Codes attribute
	-->
    <xs:simpleType name="QuantityRangeTypeCodes">
        <xs:union memberTypes="base:QuantityRangeTypeCodesEnumeration enums:TypeCodeExtension"/>
    </xs:simpleType>
    
    <xs:simpleType name="QuantityRangeTypeCodesEnumeration">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Maximum"/>
            <xs:enumeration value="Minimum"/>
        </xs:restriction>
    </xs:simpleType>


  <!--
		Enumerated type for  Group Type Codes attribute
	-->
    <xs:simpleType name="GroupTypeCode">
        <xs:union memberTypes="base:GroupTypeCodeEnumeration enums:TypeCodeExtension"/>
    </xs:simpleType>
    
    <xs:simpleType name="GroupTypeCodeEnumeration">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Discount"/>
            <xs:enumeration value="SuggestiveSelling"/>
            <xs:enumeration value="PrerequisiteTools"/>
            <xs:enumeration value="PriceOptimization"/>
            <xs:enumeration value="LoyaltyPrograms"/>
            <xs:enumeration value="IncompatibleItems"/>
            <xs:enumeration value="QuantityRestrictions"/>
            <xs:enumeration value="TimeRestrictions"/>
            <xs:enumeration value="PremiumEligibleItem"/>
            <xs:enumeration value="ParkingValidation"/>
        </xs:restriction>
    </xs:simpleType>



    <xs:complexType name="AccessibleType">
        <xs:annotation>
            <xs:documentation>Start Availability Date Time - EAN.UCC Definition: The date
                (CCYY-MM-DDTHH:MM:SS) from which the trade item becomes available from the supplier,
                including seasonal or temporary trade item and services. Examples:
                "2002-02-05T17:00:00" February 5th 2002 5:00:00pm Business Rules: If the trade item
                is public only one date (CCYY-MMDDTHH:MM:SS) is valid per GTIN, GLN, TM combination.
                If Item is private there can be more than 1 value per TM. Needs to be earlier than
                end availability date This date indicates when the trade item can first be ordered
                by the buyer from the information provider. This date can be trading partner
                dependent if the trade item or service is defined as private. It is trading partner
                neutral if the trade item/service is public. It does not indicate when this trade
                item becomes available to the end consumer (see first sale date) There is only one
                start availability date per GTIN/GLN/TM combination. Date format is ISO8601 –
                CCYY-MMDDTHH:MM:SS.  End Availability Date Time - EAN.UCC Definition: The date from
                which the trade item is no longer available from the information provider, including
                seasonal or temporary trade item and services. Examples: "2002-02-05T17:00:00"
                February 5th 2002 5:00:00pm Business Rules: If the trade item is public only one
                date is valid per GTIN, GLN, TM combination. If Item is private there can be more
                than 1 value per TM. There is only one "end availability date" per GTIN/GLN/TM
                combination at any given time. In the case of seasonal trade items, only one
                start/end cycle can be in the data set version being synchronized. Therefore, a
                trade item cannot have multiple start/stop availability dates associated with it at
                any given time. Field is optional since most trade items are offered in an open
                ended environment. Is trading partner neutral for public trade items, trading
                partner dependent for private trade items. Date format is CCYY-MM-DDTHH:MM:SS.
                Consumer Availability Start Date Time - EAN.UCC Definition: The first date/time that
                the buyer is allowed to sell the trade item to consumers. Usually related to a
                specific geography. ISO 8601 date format CCYY-MM-DDTHH:MM:SS. Examples:
                "2002-02-05T17:00:00" February 5th 2002 5:00:00pm Business Rules: Time is expressed
                in the time zone of the target market where the trade item is intended for resale to
                consumers. ISO 8601 date format CCYY-MM-DDTHH:MM:SS.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element form="qualified" minOccurs="0" name="Date" type="xs:date"/>
            <xs:element form="qualified" minOccurs="0" name="Time" type="xs:time"/>
            <xs:element form="qualified" minOccurs="0" name="DayOfTheWeek" type="xs:string"/>
            <xs:element form="qualified" minOccurs="0" name="BusinessUnit" type="xs:string">
                <xs:annotation>
                    <xs:documentation>This is the business unit that is able to order/receive/...
                        this product at this time</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
        </xs:sequence>
        <xs:attribute form="unqualified" name="TypeCode" type="base:AccessibleTypeCodes" use="required"/>
        <xs:attribute default="Start" form="unqualified" name="Action" type="base:AccessibleActionCodes" use="optional"/>
    </xs:complexType>


    <!--
		Enumerated type for  Accessible Type Codes attribute
	-->
    <xs:simpleType name="AccessibleTypeCodes">
        <xs:union memberTypes="base:AccessibleTypeCodesEnumeration enums:TypeCodeExtension"/>
    </xs:simpleType>

    <xs:simpleType name="AccessibleTypeCodesEnumeration">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Consumer"/>
            <xs:enumeration value="ConsumerReturn"/>
            <xs:enumeration value="RetailerReturn"/>
            <xs:enumeration value="Restriction"/>
            <xs:enumeration value="Order"/>
            <xs:enumeration value="Receive"/>
        </xs:restriction>
    </xs:simpleType>


    <!--
		Enumerated type for  Accessible Action Codes attribute
	-->
    <xs:simpleType name="AccessibleActionCodes">
        <xs:union memberTypes="base:AccessibleActionCodesEnumeration enums:TypeCodeExtension"/>
    </xs:simpleType>
    
    <xs:simpleType name="AccessibleActionCodesEnumeration">
        <xs:restriction base="xs:NMTOKEN">
            <xs:enumeration value="Start"/>
            <xs:enumeration value="End"/>
        </xs:restriction>
    </xs:simpleType>

</xs:schema>