Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Account/AcctTrnInq/AcctTrnInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctTrnInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcctTrnInq="http://xmlns.banesco.com/eopt/AcctTrnInq_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoMsgHdr="http://xmlns.banesco.com/eo/MsgHdr_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" xmlns:eoTrn="http://xmlns.banesco.com/eo/Trn_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Trn_V1.0" schemaLocation="../../../EO/Banking/Trn_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../../../EO/Common/Common_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/MsgHdr_V1.0" schemaLocation="../../../EO/Common/MsgHdr_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:complexType name="AcctTrnInqRq_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto AcctKey que contiene los datos de la cuenta a consultar.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecCtrl" type="eoMsgHdr:RecCtrl" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Permite definir parametros de paginacion de registros de consulta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TimeFrame" type="eoCom:TimeFrame" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto TimeFrame que contiene los datos del rango de fechas de la consulta.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctTrnInqRs" type="eoptAcctTrnInq:AcctTrnInqRs_Type"/>
	<xs:complexType name="AcctTrnInqRs_Type">
		<xs:sequence>
			<xs:element name="RecCtrl" type="eoMsgHdr:RecCtrl" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Permite definir parametros de paginacion de registros de consulta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Trn" type="eoTrn:Trn" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Lista del objeto Trn que contiene los datos de las transacciones de la cuenta consultada.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctTrnInqRq" type="eoptAcctTrnInq:AcctTrnInqRq_Type"/>
</xs:schema>
