BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd

<?xml version="1.0" encoding="windows-1252"?>
<!-- edited with XMLSpy v2015 sp1 (x64) (http://www.altova.com) by Cesar Varela (Television Internacional) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:operBO="http://www.bcie.org/OperacionBO"
            xmlns:conBO="http://www.bcie.org/ContratoBO" xmlns:prodBO="http://www.bcie.org/ProductoBO"
            xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:cuesBO="http://www.bcie.org/CuestionarioBO"
            xmlns:decJurBO="http://www.bcie.org/DeclaracionJuradaBO" xmlns:catBO="http://www.bcie.org/CatalogoBO"
            xmlns:desBO="http://www.bcie.org/DesembolsoBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO"
            targetNamespace="http://www.bcie.org/OperacionBO" elementFormDefault="qualified">
  <xsd:import namespace="http://www.bcie.org/ProductoBO"
              schemaLocation="../../../../DominioProducto/Producto/V1/Schema/ProductoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/LineaCreditoBO" 
              schemaLocation="../../../../DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ClienteBO"
              schemaLocation="../../../../DominioCliente/Cliente/V1/Schema/ClienteBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CatalogoBO"
              schemaLocation="../../../../../ComponentesComunes/Common/V1/Schema/CatalogoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/DeclaracionJuradaBO"
              schemaLocation="../../../DeclaracionJurada/V1/Schema/DeclaracionJuradaBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ContratoBO"
              schemaLocation="../../../../DominioContrato/Contrato/V1/Schema/ContratoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/DesembolsoBO"
              schemaLocation="../../../../DominioDesembolso/Desembolso/V1/Schema/DesembolsoBO.xsd"/>
  <xsd:simpleType name="idOperacion">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="Cuestionario">
    <xsd:restriction base="xsd:base64Binary"/>
  </xsd:simpleType>
  <xsd:complexType name="OperacionBasicType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="responsable" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="oficina" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="nombre" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="105"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OperacionExtendentType">
    <xsd:complexContent>
      <xsd:extension base="operBO:OperacionBasicType">
        <xsd:sequence>
          <xsd:element name="cliente" type="cliBO:Cliente" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="producto" type="prodBO:Producto" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="descripcion" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="250"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="actividadEconomica" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="actividadEconomicaAsociada" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="objetivosEstrategicos" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:totalDigits value="5"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="areaFocalizacion" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="ejeEstrategico" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="iniciativaEstrategica" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="cantidadPaises" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="sectorMercado" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="fechaInicio" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="programadoPOA" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="ejercicioPOA" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="tipoGarantia" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="componenteConcesionalidad" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="estructurador" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="beneficiario" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="unidadEjecutora" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="programa" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="60"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="asociadas" type="operBO:AsociadasOperaciones" minOccurs="0" maxOccurs="1"/>
          <!--  <xsd:element name="cuestionario" maxOccurs="1" minOccurs="0" type="cuesBO:Cuestionario"/>-->
                    <xsd:element name="declaracionJurada" type="decJurBO:DeclaracionJurada" minOccurs="0"
                                 maxOccurs="1"/>
          <xsd:element name="masInformacionRiesgo" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="informacionAdicionalRiesgo" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1000"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="masInformacionJuridico" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="informacionAdicionalJuridico" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1000"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="contrapartesProhibidas" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="comentarioContrapartes" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1000"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="limitesAnalisis" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:totalDigits value="5"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="limitesDeterminar" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int"/>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="etapa" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:int">
                <xsd:totalDigits value="5"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="status" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="fechaBaja" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="comentarioLaft" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1000"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="cumpleLaft" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="calificacionRiesgo" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="perspectiva" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="estado" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="lineaCredito" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="SRC" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="scrClienteDesembolsos" minOccurs="0" maxOccurs="1" type="catBO:Catalogo"/>
          <xsd:element name="RAROC" type="xsd:float" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="TIR" type="xsd:float" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="TIREstatus" type="xsd:string" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="requiereRecursosExternos" type="xsd:int" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="enProcesoLaft" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="aplicaLaft" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
          <xsd:element name="montoOperacion" type="operBO:MontosOperacion"/>
		  <xsd:element name="idTcaTipoMoneda" minOccurs="0" maxOccurs="1" type="xsd:int"/>
          <xsd:element name="monedaOperacionTipo" minOccurs="0" maxOccurs="1" type="xsd:string"/>
          <xsd:element name="clasificacionAmbiental" type="operBO:ClasificacionesAmbiental"/>
          <xsd:element name="justificacionCancela" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1000"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="observacionCancela" minOccurs="0" maxOccurs="1">
            <xsd:simpleType>
              <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1000"/>
              </xsd:restriction>
            </xsd:simpleType>
          </xsd:element>
          <xsd:element name="justificacionEnvio" type="xsd:string" minOccurs="0"/>
          <xsd:element name="Factibilidad" type="operBO:Factibilidad" minOccurs="0"/>
		  <xsd:element name="TipoMoneda" minOccurs="0" type="catBO:Catalogo"/>
                    <xsd:element name="esMultisectorial" type="xsd:boolean" minOccurs="0"/>
                    <xsd:element name="clasificacionEstrategicaMultisectorial"
                                 type="operBO:ClasificacionEstrategicaMultisectorial" minOccurs="0"/>
                    <xsd:element name="insertClasificacionAmbiental" type="operBO:InsertClasificacionAmbiental"
                                 minOccurs="0"/>
          <xsd:element name="idSectorInstitucional" type="xsd:long" minOccurs="0"/>
          <xsd:element name="idEncargado" type="xsd:long" minOccurs="0"/>
          <xsd:element name="sectorInstitucional" type="catBO:Catalogo" minOccurs="0"/>
          <xsd:element name="encargado" type="catBO:Catalogo"  minOccurs="0"/>
          
          <xsd:element name="idSectorEncargado" type="xsd:long"  minOccurs="0"/>
          <xsd:element name="descripcionEncargado" type="xsd:string"  minOccurs="0"/>
           <xsd:element name="idRol" type="xsd:long"  minOccurs="0"/>
           <xsd:element name="descripcionRol" type="xsd:string"  minOccurs="0"/>
           
           <!--Se agrega la ubicación del proyecto -->
           <xsd:element name="ubicacionProyecto" type="xsd:string"  minOccurs="0"/>
            <!--Se agrega pais ID_CAT_PAIS -->
           <xsd:element name="idCatPais" type="xsd:decimal" minOccurs="0"/>
           <!--Se agrega pais -->
           <xsd:element name="Pais" minOccurs="0" type="catBO:Catalogo"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="Operacion">
    <xsd:complexContent>
      <xsd:extension base="operBO:OperacionExtendentType">
        <xsd:sequence>
          <xsd:element name="contrato" type="conBO:Contrato" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
  <xsd:complexType name="AsociadasOperaciones">
    <xsd:annotation>
      <xsd:documentation>Tipo de dato para las operaciones asociadas</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:idOperacion" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComponenteClasificacionEstrategicaType">
    <xsd:sequence>
      <xsd:element name="nombreComponente" type="xsd:string" minOccurs="0"/>
      <xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
      <xsd:element name="porcentaje" type="xsd:decimal" minOccurs="0"/>
      <xsd:element name="actividadEconomica" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="actividadEconomicaAsociada" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="areaFocalizacion" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ejeEstrategico" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="iniciativaEstrategica" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="cantidadPaises" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
      <!--Se agregan el srctor y el subsector de IBCIE -->
      <xsd:element name="sectorIbcie" type="catBO:Catalogo"  minOccurs="0"/>
      <xsd:element name="subSectorIbcie" type="catBO:Catalogo"  minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClasificacionEstrategicaMultisectorial">
    <xsd:sequence>
      <xsd:element name="componenteClasificacionEstrategica" type="operBO:ComponenteClasificacionEstrategicaType"
                   minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComponenteClasificacionAmbientalType">
    <xsd:sequence>
      <xsd:element name="id" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="sectorAmbiental" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="aporteAmbiental" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="categoriaAmbiental" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="subCategoriaAmbiental" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="banStatus" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaRegistro" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InsertClasificacionAmbiental">
    <xsd:sequence>
      <xsd:element name="componenteClasificacionAmbiental" type="operBO:ComponenteClasificacionAmbientalType"
                   minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PreguntaCuestionario">
    <xsd:sequence>
      <xsd:element name="idPregunta" type="xsd:ID" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Pregunta" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Responsable" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MontoOperacion">
    <xsd:sequence>
      <xsd:element name="id" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="IdTcaTipoMonto" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="monto" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal">
            <xsd:totalDigits value="14"/>
            <xsd:fractionDigits value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
	  <xsd:element name="idTcaTipoMonedaMontoOperacion" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Descripcion" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaRegistro" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="estado" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MontosOperacion">
    <xsd:sequence>
      <xsd:element name="montoOperacion" type="operBO:MontoOperacion" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClasificacionAmbiental">
    <xsd:sequence>
      <xsd:element name="id" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="sectorAmbiental" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="aporteAmbiental" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="categoriaAmbiental" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="subCategoriaAmbiental" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="banStatus" type="xsd:decimal" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="fechaRegistro" type="xsd:dateTime" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ClasificacionesAmbiental">
    <xsd:sequence>
      <xsd:element name="clasificacionAmbiental" type="operBO:ClasificacionAmbiental" minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Factibilidad">
    <xsd:complexContent>
      <xsd:extension base="desBO:tasaType">
        <xsd:sequence>
          <xsd:element name="esFactible" type="xsd:boolean" minOccurs="0"/>
          <xsd:element name="fechaFinalizacionEstudios" type="xsd:date" minOccurs="0"/>
          <xsd:element name="fechaCalculoInteres" type="xsd:date" minOccurs="0"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
   <xsd:complexType name="LimitesOperacion">
  <xsd:sequence>
   <xsd:element name="id" type="xsd:decimal"/>
      <xsd:element name="descripcion" type="xsd:string"/>
   <xsd:element name="estatus" type="xsd:string"/>
      <xsd:element name="esPorcentaje" type="xsd:string"/>
      <xsd:element name="difValor" type="xsd:decimal"/>
      <xsd:element name="difPorcentaje" type="xsd:decimal"/>
    </xsd:sequence>
 </xsd:complexType>
  <xsd:complexType name="AccionType">
    <xsd:sequence>
      <xsd:element name="IdAccion" type="xsd:decimal" />
         <xsd:element name="IdCliente" type="xsd:decimal" />
         <xsd:element name="IdOperacion" type="xsd:decimal" />
         <xsd:element name="Accion" type="xsd:string" />
         <xsd:element name="IdEstadoAccion" type="xsd:decimal" />
         <xsd:element name="TcaCategoriaAccion" type="catBO:Catalogo" />
         <xsd:element name="TcaRolAsignado" type="catBO:Catalogo" />
         <xsd:element name="FechaRegistro" type="xsd:dateTime" />
         <xsd:element name="FechaAtencion" type="xsd:dateTime" />
         <xsd:element name="BanEstatus" type="xsd:decimal" /> 
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaAccionesType">
    <xsd:sequence>
      <xsd:element name="Accion" maxOccurs="unbounded" minOccurs="0" type="operBO:AccionType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>