BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Operacion/V1/Schema/OperacionMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/OperacionMO" elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:AtributoBO="http://www.bcie.org/AtributoBO"
            xmlns:desBO="http://www.bcie.org/DesembolsoBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO"
            xmlns:operMO="http://www.bcie.org/OperacionMO" xmlns:operBO="http://www.bcie.org/OperacionBO"
            xmlns:clieBO="http://www.bcie.org/ClienteBO" xmlns:prodBO="http://www.bcie.org/ProductoBO"
            xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:cuesBO="http://www.bcie.org/CuestionarioBO"
            xmlns:regBO="http://www.bcie.org/ReglaBO">
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="OperacionBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ClienteBO"
              schemaLocation="../../../../DominioCliente/Cliente/V1/Schema/ClienteBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ProductoBO"
              schemaLocation="../../../../DominioProducto/Producto/V1/Schema/ProductoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/AtributoBO" schemaLocation="../../../../Common/V1/Schema/AtributoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/DesembolsoBO"
              schemaLocation="../../../../DominioDesembolso/Desembolso/V1/Schema/DesembolsoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/LineaCreditoBO"
              schemaLocation="../../../../DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ReglaBO" schemaLocation="../../../../Common/V1/Schema/ReglaBO.xsd"/>
  <!-- Mensajes -->
  <xsd:element name="CrearOperacionRequest" type="operMO:CrearOperacionRequestType"/>
  <xsd:element name="CrearOperacionResponse" type="operMO:CrearOperacionResponseType"/>
  <xsd:element name="CrearOperacionAsociadaRequest" type="operMO:CrearOperacionAsociadaRequestType"/>
  <xsd:element name="CrearOperacionAsociadaResponse" type="operMO:CrearOperacionAsociadaResponseType"/>
  <xsd:element name="ConsultarOperacionByIdOperacionRequest" type="operMO:ConsultarOperacionByIdOperacionRequestType"/>
  <xsd:element name="ConsultarOperacionResponse" type="operMO:ConsultarOperacionResponseType"/>
  <xsd:element name="ConsultarOperacionesAsociadasRequest" type="operMO:ConsultarOperacionesAsociadasRequestType"/>
  <xsd:element name="ConsultarOperacionesAsociadasResponse" type="operMO:ConsultarOperacionesAsociadasResponseType"/>
  <xsd:element name="FiltrarOperacionesRequest" type="operMO:FiltrarOperacionesRequestType"/>
  <xsd:element name="FiltrarOperacionesResponse" type="operMO:FiltrarOperacionesResponseType"/>
  <xsd:element name="ValidarExisteNombreOperacionRequest" type="operMO:ValidarExisteNombreOperacionRequestType"/>
  <xsd:element name="ValidarExisteNombreOperacionResponse" type="operMO:ValidarExisteNombreOperacionResponseType"/>
  <xsd:element name="GenerarInformeOperacionRequest" type="operMO:GenerarInformeOperacionRequestType"/>
  <xsd:element name="GenerarInformeOperacionResponse" type="operMO:GenerarInformeOperacionResponseType"/>
  <xsd:element name="ActualizarOperacionRequest" type="operMO:ActualizarOperacionRequestType"/>
  <xsd:element name="ActualizarOperacionResponse" type="operMO:ActualizarOperacionResponseType"/>
  <xsd:element name="ReactivarOperacionRequest" type="operMO:ReactivarOperacionRequestType"/>
  <xsd:element name="ReactivarOperacionResponse" type="operMO:ReactivarOperacionResponseType"/>
  <xsd:element name="EliminarOperacionRequest" type="operMO:EliminarOperacionRequestType"/>
  <xsd:element name="EliminarOperacionResponse" type="operMO:EliminarOperacionResponseType"/>
  <xsd:element name="PropagarSCRyTIRRequest" type="operMO:PropagarSCRyTIRRequestType"/>
  <xsd:element name="PropagarSCRyTIRResponse" type="operMO:PropagarSCRyTIRResponseType"/>
  <xsd:element name="CrearCuestionarioRequest" type="operMO:CrearCuestionarioRequestType"/>
  <xsd:element name="CrearCuestionarioResponse" type="operMO:CrearCuestionarioResponseType"/>
  <xsd:element name="CrearMontoOperacionRequest" type="operMO:CrearMontoOperacionRequesType"/>
  <xsd:element name="CrearMontoOperacionResponse" type="operMO:CrearMontoOperacionResponseType"/>
  <xsd:element name="ActualizarMontoOperacionRequest" type="operMO:ActualizarMontoOperacionRequestType"/>
        <xsd:element name="CrearCuestionario2Request" type="operMO:CrearCuestionario2RequestType"/>
	<xsd:element name="CrearCuestionario2Response" type="operMO:CrearCuestionario2ResponseType"/>
  <xsd:element name="ActualizarMontoOperacionResponse" type="operMO:ActualizarMontoOperacionResponseType"/>
  <xsd:element name="ConsultarMontoOperacionRequest" type="operMO:ConsultarMontoOperacionRequestType"/>
  <xsd:element name="ConsultarMontoOperacionResponse" type="operMO:ConsultarMontoOperacionResponseType"/>
  <xsd:element name="ConsultarClasificacionAmbientalRequest" type="operMO:ConsultarClasificacionAmbientalRequestType"/>
  <xsd:element name="ConsultarClasificacionAmbientalResponse"
               type="operMO:ConsultarClasificacionAmbientalResponseType"/>
  <xsd:element name="CrearClasificacionAmbientalRequest" type="operMO:CrearClasificacionAmbientalRequesType"/>
  <xsd:element name="CrearClasificacionAmbientalResponse" type="operMO:CrearClasificacionAmbientalResponseType"/>
  <xsd:element name="EliminarMontoOperacionRequest" type="operMO:EliminarMontoOperacionRequestType"/>
  <xsd:element name="EliminarMontoOperacionResponse" type="operMO:EliminarMontoOperacionResponseType"/>
  <xsd:element name="ConsultarReactivarOperacionRequest" type="operMO:ConsultarReactivarOperacionRequestType"/>
  <xsd:element name="ConsultarReactivarOperacionResponse" type="operMO:ConsultarReactivarOperacionResponseType"/>
  <xsd:element name="ActualizarReactivarOperacionRequest" type="operMO:ActualizarReactivarOperacionRequestType"/>
  <xsd:element name="ActualizarReactivarOperacionResponse" type="operMO:ActualizarReactivarOperacionResponseType"/>
  <xsd:element name="ConsultarSoloOperacionRequest" type="operMO:ConsultarSoloOperacionRequestType"/>
  <xsd:element name="ConsultarSoloOperacionResponse" type="operMO:ConsultarSoloOperacionResponseType"/>
  <xsd:element name="ConsultarSaldoOperacionRequest" type="operMO:ConsultarSaldoOperacionRequestType"/>
  <xsd:element name="ConsultarSaldoOperacionResponse" type="operMO:ConsultarSaldoOperacionResponseType"/>
  <xsd:element name="ObtenerFactibilidadRequest" type="operMO:ObtenerFactibilidadRequestType"/>
  <xsd:element name="ObtenerFactibilidadResponse" type="operMO:ObtenerFactibilidadResponseType"/>
  <xsd:element name="AplicarEnvioCobroRequest" type="operMO:AplicarEnvioCobroRequestType"/>
  <xsd:element name="AplicarEnvioCobroResponse" type="operMO:AplicarEnvioCobroResponseType"/>
  <xsd:element name="ValidarInicioFormalizacionRequest" type="operMO:ValidarInicioFormalizacionRequest"/>
  <xsd:element name="ValidarInicioFormalizacionResponse" type="operMO:ValidarInicioFormalizacionResponse"/>
  <xsd:element name="ValidarLimitesExposicionRequest" type="operMO:ValidarLimitesExposicionRequestType"/>
  <xsd:element name="ValidarLimitesExposicionResponse" type="operMO:ValidarLimitesExposicionResponseType"/>
  <xsd:element name="ConsultarLimitesOperacionRequest" type="operMO:ConsultarLimitesOperacionRequestType"/>
  <xsd:element name="ConsultarLimitesOperacionResponse" type="operMO:ConsultarLimitesOperacionResponseType"/>
  <xsd:element name="ConsultarAccionesRequest" type="operMO:ConsultarAccionesRequestType"/>
  <xsd:element name="ConsultarAccionesResponse" type="operMO:ConsultarAccionesResponseType"/>
  <!-- Tipos de los mensajes -->
  <!-- Create -->
  <!-- Carga de Operacions-->
  <xsd:complexType name="CrearOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearOperacionAsociadaRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacionPadre" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="idOperacionAsociada" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearOperacionAsociadaResponseType">
    <xsd:sequence>
      <xsd:element name="idOperacionPadre" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="idOperacionAsociada" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Crear cuestionario elegibilidad -->
  <xsd:complexType name="CrearCuestionarioRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idProducto" type="prodBO:idProducto"/>
      <xsd:element name="regenerar" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearCuestionarioResponseType">
    <xsd:sequence>
      <xsd:element name="PreguntaCuestionario" type="operBO:PreguntaCuestionario"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Create -->
  <!-- Read -->
  <!-- Consulta de Operacions -->
  <xsd:complexType name="ConsultarOperacionByIdOperacionRequestType">
    <xsd:annotation>
      <xsd:documentation>Capacidad para consultar una Operacion por un Id de Operacion
          Usar el Id del Operacion para la consulta</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="nivelDetalle" type="AtributoBO:NivelType" default="OPERACION" minOccurs="0"/>
      <xsd:element name="infoDetalleCliente" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FiltrarOperacionesRequestType">
    <xsd:annotation>
      <xsd:documentation>Capacidad para consultar las operaciones de acuerdo a un filtro específico</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Cliente" type="clieBO:Cliente" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="offset" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="limit" type="xsd:int" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FiltrarOperacionesResponseType">
    <xsd:sequence>
      <xsd:element name="ResultadoFiltro" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Cliente" type="clieBO:Cliente" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CantidadOperaciones" type="xsd:int" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarExisteNombreOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarExisteNombreOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="ExisteOperacion" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarOperacionesAsociadasRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarOperacionesAsociadasResponseType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenerarInformeOperacionRequestType">
    <xsd:annotation>
      <xsd:documentation/>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenerarInformeOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="Cuestionario" type="operBO:Cuestionario" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Read -->
  <!-- Update -->
  <xsd:complexType name="ActualizarOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Status" type="xsd:string"/>
      <xsd:element name="reasignar" type="xsd:boolean"/>
      <xsd:element name="actualizarTermino" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReactivarOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ReactivarOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ListaEstatus" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="idProceso" type="xsd:long"/>
            <xsd:element name="nombreProceso" type="xsd:string"/>
            <xsd:element name="estatus" type="xsd:string"/>
            <xsd:element name="mensajeEstatus" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Update -->
  <!-- Delete -->
  <xsd:complexType name="EliminarOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="borradoLogico" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Delete -->
  <xsd:complexType name="PropagarSCRyTIRRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarSCRyTIRResponseType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearMontoOperacionRequesType">
    <xsd:sequence>
      <xsd:element name="MontoOperacion" type="operBO:MontoOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearMontoOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="MontoOperacion" type="operBO:MontoOperacion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarMontoOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="MontoOperacion" type="operBO:MontoOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarMontoOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="MontoOperacion" type="operBO:MontoOperacion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarMontoOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="IdTcaTipoMonto" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarMontoOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="MontoOperacion" type="operBO:MontosOperacion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarMontoOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="idMontoOperacion" type="xsd:long" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarMontoOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarClasificacionAmbientalRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarClasificacionAmbientalResponseType">
    <xsd:sequence>
      <xsd:element name="ClasificacionAmbiental" type="operBO:ClasificacionesAmbiental"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearClasificacionAmbientalRequesType">
    <xsd:sequence>
      <xsd:element name="ClasificacionesAmbiental" type="operBO:ClasificacionesAmbiental" minOccurs="0"
                   maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearClasificacionAmbientalResponseType">
    <xsd:sequence>
      <xsd:element name="ClasificacionesAmbiental" type="operBO:ClasificacionesAmbiental"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarReactivarOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarReactivarOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="ListaProcesosBitacora" type="operMO:ProcesosOperacionBitacora"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcesosOperacionBitacora">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="xsd:long"/>
      <xsd:element name="idProceso" type="xsd:long"/>
      <xsd:element name="codigoProceso" type="xsd:string"/>
      <xsd:element name="responsableOperacion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarReactivarOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idProceso" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarReactivarOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarSoloOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarSoloOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarSaldoOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarSaldoOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerFactibilidadRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerFactibilidadResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AplicarEnvioCobroRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idSolicitudDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AplicarEnvioCobroResponseType">
    <xsd:sequence>
      <xsd:element name="LineaCredito" type="linCreBO:LineaCredito" maxOccurs="unbounded" minOccurs="0"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarInicioFormalizacionRequest">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:OperacionBasicType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarInicioFormalizacionResponse">
    <xsd:sequence>
      <xsd:element name="InicioAutomatico" type="xsd:decimal"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarLimitesExposicionRequestType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarLimitesExposicionResponseType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarLimitesOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarLimitesOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="DetalleLimiteOperacion" type="operBO:LimitesOperacion" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarAccionesRequestType">
    <xsd:sequence>
      <xsd:element name="IdAccion" type="xsd:string" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarAccionesResponseType">
    <xsd:sequence>
      <xsd:element name="ListaAcciones" minOccurs="0" type="operBO:ListaAccionesType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Crear cuestionario elegibilidad V2-->
	<xsd:complexType name="CrearCuestionario2RequestType">
		<xsd:sequence>
			<xsd:element name="idOperacion" type="operBO:idOperacion"/>
			<xsd:element name="idProceso" type="xsd:long"/>
			<xsd:element name="regenerar" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CrearCuestionario2ResponseType">
		<xsd:sequence>
                        <xsd:element name="respuesta" type="xsd:string"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<!-- Fin Create -->
</xsd:schema>