BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioDocumento/Documento/V1/Wsdl/Documento.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:docMO="http://www.bcie.org/DocumentoMO"
                  xmlns:tns="http://xmlns.bcie.com/DocumentoService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="Documento"
                  targetNamespace="http://xmlns.bcie.com/DocumentoService">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/DocumentoMO" schemaLocation="../Schema/DocumentoMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="requestCargarDocumentoMessage">
    <wsdl:part name="request" element="docMO:CargarDocumentoRequest"/>
  </wsdl:message>
  <wsdl:message name="responseCargarDocumentoMessage">
    <wsdl:part name="response" element="docMO:CargarDocumentoResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConsultaDocumentosMessage">
    <wsdl:part name="request" element="docMO:ConsultaDocumentosRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultaDocumentosMessage">
    <wsdl:part name="response" element="docMO:ConsultaDocumentosResponse"/>
  </wsdl:message>
  <wsdl:portType name="DocumentoPT">
    <!-- Create -->
    <wsdl:operation name="cargarDocumento">
      <wsdl:documentation>Carga un documento al gestor documental</wsdl:documentation>
      <wsdl:input message="tns:requestCargarDocumentoMessage"/>
    </wsdl:operation>
    <wsdl:operation name="actualizarDocumento">
      <wsdl:input message="tns:requestCargarDocumentoMessage"/>
      <wsdl:output message="tns:responseCargarDocumentoMessage"/>
    </wsdl:operation>
    <wsdl:operation name="eliminarDocumento">
      <wsdl:input message="tns:requestCargarDocumentoMessage"/>
      <wsdl:output message="tns:responseCargarDocumentoMessage"/>
    </wsdl:operation>
    <!-- Read -->
    <wsdl:operation name="consultarDocumentos">
      <wsdl:input message="tns:requestConsultaDocumentosMessage"/>
      <wsdl:output message="tns:responseConsultaDocumentosMessage"/>
    </wsdl:operation>
    <!-- Update -->
    <!-- Delete -->
    <wsdl:operation name="obtenerDocumentoOnBase">
      <wsdl:input message="tns:requestObtenerDocumentoOnBaseMessage"/>
      <wsdl:output message="tns:responseObtenerDocumentoOnBaseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="eliminarDocumentoPorTarea">
      <wsdl:input message="tns:requestEliminarDocumentoPorTareaMessage"/>
      <wsdl:output message="tns:responseEliminarDocumentoPorTareaMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Documento12Bnd" type="tns:DocumentoPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="cargarDocumento">
      <soap12:operation soapAction="http://xmlns.bcie.com/DocumentoService/cargarDocumento" style="document"/>
      <wsdl:input>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="actualizarDocumento">
      <soap12:operation soapAction="http://xmlns.bcie.com/DocumentoService/actualizarDocumento" style="document"/>
      <wsdl:input>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarDocumento">
      <soap12:operation soapAction="http://xmlns.bcie.com/DocumentoService/eliminarDocumento" style="document"/>
      <wsdl:input>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarDocumentos">
      <soap12:operation soapAction="http://xmlns.bcie.com/DocumentoService/consultarDocumentos" style="document"/>
      <wsdl:input>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerDocumentoOnBase">
      <soap12:operation soapAction="http://xmlns.bcie.com/DocumentoService/obtenerDocumentosOnBase" style="document"/>
      <wsdl:input>
        <soap12:body parts="request" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="response" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="eliminarDocumentoPorTarea">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/DocumentoService/eliminarDocumentoPorTarea"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="requestObtenerDocumentoOnBaseMessage">
    <wsdl:part name="request" element="docMO:ObtenerDocumentoOnBaseRequest"/>
  </wsdl:message>
  <wsdl:message name="responseObtenerDocumentoOnBaseMessage">
    <wsdl:part name="response" element="docMO:ObtenerDocumentoOnBaseResponse"/>
  </wsdl:message>
  <wsdl:message name="requestEliminarDocumentoPorTareaMessage">
    <wsdl:part name="request" element="docMO:EliminarDocumentosFenixRequest"/>
  </wsdl:message>
  <wsdl:message name="responseEliminarDocumentoPorTareaMessage">
    <wsdl:part name="response" element="docMO:EliminarDocumentosFenixResponse"/>
  </wsdl:message>
</wsdl:definitions>
