AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ASNINAPP/ASNINSaalmaAdapterService/Resources/RequestASNINJson.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/RequestJsonASNIN" targetNamespace="http://www.agarcia.mx/EnterpriseObjects/RequestJsonASNIN" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="US-ASCII">
   <xsd:element name="body">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="codigoAsn" type="xsd:integer"/>
            <xsd:element name="tipoAsn" type="xsd:string"/>
            <xsd:element name="fechaAsn" type="xsd:string"/>
            <xsd:element name="fechaEnvio" type="xsd:string"/>
            <xsd:element name="totalPiezasOC" type="xsd:integer"/>
            <xsd:element name="fechaCancelacionOC" type="xsd:string"/>
            <xsd:element name="ordenCompra" type="xsd:integer"/>
            <xsd:element name="factura" type="xsd:string"/>
            <xsd:element name="transferencia" type="xsd:integer"/>
            <xsd:element name="proveedor" type="xsd:integer"/>
            <xsd:element name="departamento" type="xsd:integer"/>
            <xsd:element name="localDestinoOC" type="xsd:integer"/>
            <xsd:element name="semanaEntrega" type="xsd:integer"/>
            <xsd:element name="porcentajeEntrega" type="xsd:double"/>
            <xsd:element name="detalleAsn" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="lpn" type="xsd:integer"/>
                     <xsd:element name="transferencia" type="xsd:integer"/>
                     <xsd:element name="noTotalCajas" type="xsd:integer"/>
                     <xsd:element name="noDeCaja" type="xsd:integer"/>
                     <xsd:element name="destinoFinal" type="xsd:integer"/>
                     <xsd:element name="semanaEntrega" type="xsd:integer"/>
                     <xsd:element name="tipoCaja" type="xsd:integer"/>
                     <xsd:element name="detalleCaja" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="sku" type="xsd:integer"/>
                              <xsd:element name="estilo" type="xsd:integer"/>
                              <xsd:element name="cantidadPzasCaja" type="xsd:integer"/>
                              <xsd:element name="prepack" type="xsd:integer"/>
                              <xsd:element name="precio" type="xsd:double"/>
                              <xsd:element name="costo" type="xsd:double"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=C:\Users\JLOPEZZ\Desktop\RequestJsonASNIN.txt</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>