AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ASNINAPP/ASNINSaalmaAdapterService/Resources/ResponseSaalmaJson.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/ResponseJsonSaalma" targetNamespace="http://www.agarcia.mx/EnterpriseObjects/ResponseJsonSaalma" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="US-ASCII">
   <xsd:element name="body">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="exito" type="xsd:string"/>
            <xsd:element name="mensaje" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=C:\Users\JLOPEZZ\Documents\ASNIN\2020101914087261RespuMod105550.json</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>