BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/Adquisicion/V1/Schema/AdquisicionMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/AdquisicionMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/AdquisicionMO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:adqBO="http://www.bcie.org/AdquisicionBO" xmlns:docuBO="http://www.bcie.org/DocumentoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO">
	<xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/AdquisicionBO" schemaLocation="AdquisicionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/DocumentoBO" schemaLocation="../../../../DominioDocumento/Documento/V1/Schema/DocumentoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd"/>
	<xsd:element name="ConsultarAdquisicionRequest" type="ConsultarAdquisicionRequestType"/>
	<xsd:element name="ConsultarAdquisicionResponse" type="ConsultarAdquisicionResponseType"/>
	<xsd:element name="ConsultarNoObjecionRequest" type="ConsultarNoObjecionRequestType"/>
	<xsd:element name="ConsultarNoObjecionResponse" type="ConsultarNoObjecionResponseType"/>
	<xsd:element name="CrearReporteNoObjecionRequest" type="CrearReporteNoObjecionRequestType"/>
	<xsd:element name="CrearReporteNoObjecionResponse" type="CrearReporteNoObjecionResponseType"/>
	<xsd:element name="InformeNoObjecionRequest" type="InformeNoObjecionRequestType"/>
	<xsd:element name="InformeNoObjecionResponse" type="InformeNoObjecionResponseType"/>
	<xsd:element name="ConsultarParticipantesByIdNoObjecionRequest" type="ConsultarParticipantesByIdNoObjecionRequestType"/>
	<xsd:element name="ConsultarParticipantesByIdNoObjecionResponse" type="ConsultarParticipantesByIdNoObjecionResponseType"/>
	<xsd:element name="PublicarAviso" type="AvisoType"/>
	<xsd:element name="PublicarInformeResultadosAdjudicado" type="InformeResultadosAdjudicadoType"/>
	<xsd:element name="PublicarInformeResultadosOtros" type="InformeResultadosOtrosType"/>
	<xsd:element name="CrearActualizarNoObjecionRequest" type="CrearActualizarNoObjecionRequestType"/>
	<xsd:element name="CrearActualizarNoObjecionResponse" type="CrearActualizarNoObjecionResponseType"/>
        <xsd:element name="IniciarNoObjecionPGARequest" type="IniciarNoObjecionPGARequestType"/>
        <xsd:element name="IniciarNoObjecionPGAResponse" type="IniciarNoObjecionPGAResponseType"/>
	<xsd:complexType name="ConsultarAdquisicionRequestType">
		<xsd:sequence>
			<xsd:element name="idAdquisicion" type="xsd:long"/>
			<xsd:element name="idNoObjecion" type="xsd:long" minOccurs="0"/>
   <xsd:element name="idOperacion" type="xsd:long" minOccurs="0"/>
  </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarAdquisicionResponseType">
		<xsd:sequence>
			<xsd:element name="Adquisicion" type="adqBO:AdquisicionType" maxOccurs="unbounded"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarNoObjecionRequestType">
		<xsd:sequence>
			<xsd:element name="idNoObjecion" type="xsd:long" minOccurs="0"/>
			<xsd:element name="idAquisicion" type="xsd:long" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarNoObjecionResponseType">
		<xsd:sequence>
			<xsd:element name="NoObjecion" type="adqBO:NoObjecionType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CrearReporteNoObjecionRequestType">
		<xsd:sequence>
			<xsd:element name="Adquisicion" type="adqBO:AdquisicionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CrearReporteNoObjecionResponseType">
		<xsd:sequence>
			<xsd:element name="Documento" type="docuBO:Documento" minOccurs="0"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformeNoObjecionRequestType">
		<xsd:sequence>
			<xsd:element name="requierePublicacion" type="xsd:int"/>
			<xsd:element name="idAdquisicion" type="xsd:long"/>
			<xsd:element name="idNoObjecion" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformeNoObjecionResponseType">
		<xsd:sequence>
			<xsd:element name="documento" type="docuBO:Documento" minOccurs="0"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarParticipantesByIdNoObjecionRequestType">
		<xsd:sequence>
			<xsd:element name="idNoObjecion" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarParticipantesByIdNoObjecionResponseType">
		<xsd:sequence>
			<xsd:element name="rol" type="catBO:Catalogo" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="AvisoType">
		<xsd:complexContent>
			<xsd:extension base="adqBO:HeaderPublicacionType">
				<xsd:sequence>
					<xsd:element name="nombreOrganismoEjecutor" type="xsd:string"/>
					<xsd:element name="objetivo" type="xsd:string"/>
					<xsd:element name="lugarOnBase" type="xsd:string"/>
					<xsd:element name="fechaInicioOnBase" type="xsd:date"/>
					<xsd:element name="fechaFinOnBase" type="xsd:date"/>
					<xsd:element name="direccionElectronica" type="xsd:string"/>
					<xsd:element name="fechaRecepcionPropuesta" type="xsd:date"/>
					<xsd:element name="direccionPresentarPropuesta" type="xsd:string"/>
					<xsd:element name="fechaPublicacion" type="xsd:date"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InformeResultadosAdjudicadoType">
		<xsd:complexContent>
			<xsd:extension base="adqBO:HeaderPublicacionType">
				<xsd:sequence>
					<xsd:element name="resultadoProceso" type="xsd:string"/>
					<xsd:element name="adjudicados" type="adqBO:AdjudicadoType" minOccurs="1" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="InformeResultadosOtrosType">
		<xsd:complexContent>
			<xsd:extension base="adqBO:HeaderPublicacionType">
				<xsd:sequence>
					<xsd:element name="resultadoProceso" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CrearActualizarNoObjecionRequestType">
		<xsd:sequence>
			<xsd:element name="NoObjecion" type="adqBO:NoObjecionType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CrearActualizarNoObjecionResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
        
 
      <xsd:element name="CrearNoObjecionPGA_Request" type="CrearNoObjecionPGA_RequestType"/>
      <xsd:element name="CrearNoObjecionPGA_Response" type="CrearNoObjecionPGA_ResponseType"/>
 
      <xsd:complexType name="CrearNoObjecionPGA_RequestType">
         <xsd:sequence>
            <xsd:element name="PNID_OPERACION" type="xsd:long"/>
            <xsd:element name="PVNUMERO_CORRESPONDENCIA" type="xsd:string"/>
            <xsd:element name="P_DOCUMENTOS" type="T_NUMBER_TAB"/>
         </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CrearNoObjecionPGA_ResponseType">
         <xsd:sequence> 
            <xsd:element name="PNID_NOOBJECION" type="xsd:long"/>
            <xsd:element name="PNID_ADQUISICION" type="xsd:long"/>
            <xsd:element name="resultado" type="resBO:Resultado"/>
         </xsd:sequence>
      </xsd:complexType> 
     <xsd:complexType name="T_NUMBER_TAB">
        <xsd:sequence>
           <xsd:element name="P_DOCUMENTOS_ITEM" type="xsd:decimal" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
     </xsd:complexType>
	    <xsd:complexType name="IniciarNoObjecionPGARequestType">
         <xsd:sequence>
            <xsd:element name="IdOperacion" type="xsd:long"/>
            <xsd:element name="NumeroCorrespondencia" type="xsd:string"/>
            <xsd:element name="Documentos" type="t_documento"/>
         </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="IniciarNoObjecionPGAResponseType">
         <xsd:sequence> 
            <xsd:element name="IdNoObjecion" type="xsd:long"/>
            <xsd:element name="IdAdquisicion" type="xsd:long"/>
            <xsd:element name="Resultado" type="resBO:Resultado"/>
         </xsd:sequence>
      </xsd:complexType> 
     <xsd:complexType name="t_documento">
        <xsd:sequence>
           <xsd:element name="documento" type="xsd:decimal"  minOccurs="0" maxOccurs="unbounded" nillable="true"/>
        </xsd:sequence>
     </xsd:complexType>    
</xsd:schema>