AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Capabilities/Core/Items/UpdateItemEntSvc/Schema/UpdateStyleSchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Items/UpdateItemEntity/UpdateStyle" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Capabilities/Core/Items/UpdateItemEntity/UpdateStyle" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:item="http://mx.agarcia.ea/Canonical/Commons/Items/v1">

  <xs:import schemaLocation="../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
  <xs:import schemaLocation="../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>
  <xs:import schemaLocation="../../../../Foundation/Schemas/Commons/ItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Items/v1"/>
  
  <xs:element name="updateStyleRequest" type="base:UpdateStyleItem"/>
  <xs:element name="updateStyleResponse" type="AGsm:MessageResponse"/>
  
  <xs:complexType name="UpdateStyleItem">
    <xs:sequence>
      <xs:element name="items" type="item:ItemList"/>
    </xs:sequence>
  </xs:complexType>
  
</xs:schema>