Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/BizLayer/Account/AcctSvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/BizLayer/AcctSvc_V1.0" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://xmlns.banesco.com/BizLayer/AcctSvc_V1.0"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptAcctStmtImgInq="http://xmlns.banesco.com/eopt/AcctStmtImgInq_V1.0"
             xmlns:eoptAcctTrnInq="http://xmlns.banesco.com/eopt/AcctTrnInq_V1.0"
             xmlns:eoptAcctStmtInq="http://xmlns.banesco.com/eopt/AcctStmtInq_V1.0"
             xmlns:eoptAcctChargeAdd="http://xmlns.banesco.com/eopt/AcctChargeAdd_V1.0"
             xmlns:eoptAcctInfoInq="http://xmlns.banesco.com/eopt/AcctInfoInq_V1.0"
             xmlns:eoptAcctAdd="http://xmlns.banesco.com/eopt/AcctAdd_V1.0"
             xmlns:eoptAcct1018Adv="http://xmlns.banesco.com/eopt/Acct1018Adv_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctStmtImgInq/AcctStmtImgInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctStmtImgInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctTrnInq/AcctTrnInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctTrnInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctStmtInq/AcctStmtInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctStmtInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctChargeAdd/AcctChargeAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctChargeAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctInfoInq/AcctInfoInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctInfoInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctAdd/AcctAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/Acct1018Adv/Acct1018Adv_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/Acct1018Adv_V1.0"/>
    </xsd:schema>
  </types>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="AcctStmtImgInqRq">
    <part name="AcctStmtImgInqRq" element="eoptAcctStmtImgInq:AcctStmtImgInqRq"/>
  </message>
  <message name="AcctStmtImgInqRs">
    <part name="AcctStmtImgInqRs" element="eoptAcctStmtImgInq:AcctStmtImgInqRs"/>
  </message>
  <message name="AcctTrnInqRq">
    <part name="AcctTrnInqRq" element="eoptAcctTrnInq:AcctTrnInqRq"/>
  </message>
  <message name="AcctTrnInqRs">
    <part name="AcctTrnInqRs" element="eoptAcctTrnInq:AcctTrnInqRs"/>
  </message>
  <message name="AcctStmtInqRq">
    <part name="AcctStmtInqRq" element="eoptAcctStmtInq:AcctStmtInqRq"/>
  </message>
  <message name="AcctStmtInqRs">
    <part name="AcctStmtInqRs" element="eoptAcctStmtInq:AcctStmtInqRs"/>
  </message>
  <message name="AcctChargeAddRq">
    <part name="AcctChargeAddRq" element="eoptAcctChargeAdd:AcctChargeAddRq"/>
  </message>
  <message name="AcctChargeAddRs">
    <part name="AcctChargeAddRs" element="eoptAcctChargeAdd:AcctChargeAddRs"/>
  </message>
  <message name="AcctInfoInqRq">
    <part name="AcctInfoInqRq" element="eoptAcctInfoInq:AcctInfoInqRq"/>
  </message>
  <message name="AcctInfoInqRs">
    <part name="AcctInfoInqRs" element="eoptAcctInfoInq:AcctInfoInqRs"/>
  </message>
  <message name="AcctAddRq">
    <part name="AcctAddRq" element="eoptAcctAdd:AcctAddRq"/>
  </message>
  <message name="AcctAddRs">
    <part name="AcctAddRs" element="eoptAcctAdd:AcctAddRs"/>
  </message>
  <portType name="AcctSvc_V1.0PortType">
    <operation name="AcctStmtImgInq">
      <input message="tns:AcctStmtImgInqRq"/>
      <output message="tns:AcctStmtImgInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctTrnInq">
      <input message="tns:AcctTrnInqRq"/>
      <output message="tns:AcctTrnInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctStmtInq">
      <input message="tns:AcctStmtInqRq"/>
      <output message="tns:AcctStmtInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctChargeAdd">
      <input message="tns:AcctChargeAddRq"/>
      <output message="tns:AcctChargeAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctInfoInq">
      <input message="tns:AcctInfoInqRq"/>
      <output message="tns:AcctInfoInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctAdd">
      <input message="tns:AcctAddRq"/>
      <output message="tns:AcctAddRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
  </portType>
  <binding name="AcctSvc_V1.0SOAPBinding" type="tns:AcctSvc_V1.0PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AcctStmtImgInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/AcctSvc_V1.0/AcctStmtImgInq"/>
      <input>
        <soap:body use="literal" parts="AcctStmtImgInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctStmtImgInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctTrnInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/AcctSvc_V1.0/AcctTrnInq"/>
      <input>
        <soap:body use="literal" parts="AcctTrnInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctTrnInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctStmtInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/AcctSvc_V1.0/AcctStmtInq"/>
      <input>
        <soap:body use="literal" parts="AcctStmtInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctStmtInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctChargeAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/AcctSvc_V1.0/AcctChargeAdd"/>
      <input>
        <soap:body use="literal" parts="AcctChargeAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctChargeAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctInfoInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/AcctSvc_V1.0/AcctInfoInq"/>
      <input>
        <soap:body use="literal" parts="AcctInfoInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctInfoInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/BizLayer/AcctSvc_V1.0/AcctAdd"/>
      <input>
        <soap:body use="literal" parts="AcctAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AcctSvc_V1.0">
    <port name="AcctSvcPort" binding="tns:AcctSvc_V1.0SOAPBinding">
      <soap:address location="http://localhost"/>
    </port>
  </service>
</definitions>