BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/BPM/Wsdl/ProcesosPrincipales.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosPrincipales"
                  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosPrincipales"
                  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
                  xmlns:param="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:res="http://www.bcie.org/ResultBO"
                  xmlns:eleproc="http://xmlns.oracle.com/bpmn/bpmnProcess/ElegibilidadProcess"
                  xmlns:preproc="http://xmlns.oracle.com/bpmn/bpmnProcess/PreparacionProcess"
                  xmlns:anaproc="http://xmlns.oracle.com/bpmn/bpmnProcess/AnalisisProcess"
                  xmlns:aproproc="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionProcess"
                  xmlns:forproc="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionProcess"
                  xmlns:evaproc="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionProcess"
                  xmlns:cierreproc="http://xmlns.oracle.com/bpmn/bpmnProcess/CierreProcess"
                  xmlns:gescob="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCobroProcess"
                  xmlns:desproc="http://xmlns.oracle.com/bpmn/bpmnProcess/DesembolsoProcess">

  <wsdl:types>
    <xsd:schema elementFormDefault="qualified"
                targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosPrincipales">
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ElegibilidadProcess"
                  schemaLocation="../Schema/PC01/ElegibilidadProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/PreparacionProcess"
                  schemaLocation="../Schema/PC02/PreparacionProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AnalisisProcess"
                  schemaLocation="../Schema/PC03/AnalisisProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionProcess"
                  schemaLocation="../Schema/PC04/AprobacionProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionProcess"
                  schemaLocation="../Schema/PC05/FormalizacionProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionProcess"
                  schemaLocation="../Schema/PC06/EvaluacionProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/GestionCobroProcess"
                  schemaLocation="../Schema/PC07/GestionCobroProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CierreProcess"
                  schemaLocation="../Schema/PC08/CierreProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/DesembolsoProcess"
                  schemaLocation="../Schema/PC06/DesembolsoProcess.xsd"/>
      <xsd:import namespace="http://www.bcie.org/ResultBO"
                  schemaLocation="../../ComponentesComunes/Common/V1/Schema/ResultBO.xsd"/>
      <xsd:element name="ResultadoProceso">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" type="res:Resultado"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InicioElegibilidad">
    <wsdl:part name="parameters" element="eleproc:InicioElegibilidad"/>
  </wsdl:message>
  <wsdl:message name="FinElegibilidad">
    <wsdl:part name="parameters" element="eleproc:FinElegibilidad"/>
  </wsdl:message>
  <wsdl:message name="InicioPreparacion">
    <wsdl:part name="parameters" element="preproc:InicioPreparacion"/>
  </wsdl:message>
  <wsdl:message name="FinPreparacion">
    <wsdl:part name="parameters" element="preproc:FinPreparacion"/>
  </wsdl:message>
  <wsdl:message name="InicioAnalisis">
    <wsdl:part name="parameters" element="anaproc:InicioAnalisis"/>
  </wsdl:message>
  <wsdl:message name="FinAnalisis">
    <wsdl:part name="parameters" element="anaproc:FinAnalisis"/>
  </wsdl:message>
  <wsdl:message name="InicioEvaluacion">
    <wsdl:part name="parameters" element="evaproc:InicioEvaluacion"/>
  </wsdl:message>
  <wsdl:message name="FinEvaluacion">
    <wsdl:part name="parameters" element="evaproc:FinEvaluacion"/>
  </wsdl:message>  
  <wsdl:message name="InicioAprobacion">
    <wsdl:part name="parameters" element="aproproc:InicioAprobacion"/>
  </wsdl:message>
  <wsdl:message name="FinAprobacion">
    <wsdl:part name="parameters" element="aproproc:FinAprobacion"/>
  </wsdl:message>
  <wsdl:message name="InicioFormalizacion">
    <wsdl:part name="parameters" element="forproc:InicioFormalizacion"/>
  </wsdl:message>
  <wsdl:message name="FinFormalizacion">
    <wsdl:part name="parameters" element="forproc:FinFormalizacion"/>
  </wsdl:message>
  
  
    <wsdl:message name="InicioCierre">
    <wsdl:part name="parameters" element="cierreproc:InicioCierre"/>
  </wsdl:message>
  <wsdl:message name="FinCierre">
    <wsdl:part name="parameters" element="cierreproc:FinCierre"/>
  </wsdl:message>
  
  <!-- Mensaje respuesta -->
  <wsdl:message name="InicioProcesoResponse">
    <wsdl:part name="resultado" element="tns:ResultadoProceso"/>
  </wsdl:message>
  <wsdl:message name="FinProcesoResponse">
    <wsdl:part name="resultado" element="tns:ResultadoProceso"/>
  </wsdl:message>
  <wsdl:message name="InicioGestionCobro">
    <wsdl:part name="parameters" element="gescob:InicioGestionCobro"/>
  </wsdl:message>
  <wsdl:message name="FinGestionCobro">
    <wsdl:part name="parameters" element="gescob:FinGestionCobro"/>
  </wsdl:message>
  <wsdl:message name="InicioSeguimientoCobro">
    <wsdl:part name="parameters" element="gescob:InicioSeguimientoCobro"/>
  </wsdl:message>
  <wsdl:message name="FinSeguimientoCobro">
    <wsdl:part name="parameters" element="gescob:FinSeguimientoCobro"/>
  </wsdl:message>
  <!-- Desembolso -->
    <wsdl:message name="InicioDesembolso">
    <wsdl:part name="parameters" element="desproc:InicioDesembolso"/>
  </wsdl:message>
  <wsdl:message name="FinDesembolso">
    <wsdl:part name="parameters" element="desproc:FinDesembolso"/>
  </wsdl:message>
  
  <wsdl:message name="InicioValidacionAsignacion">
    <wsdl:part name="parameters" element="desproc:InicioValidacionAsignacion"/>
  </wsdl:message>
  <wsdl:message name="FinValidacionAsignacion">
    <wsdl:part name="parameters" element="desproc:FinValidacionAsignacion"/>
	</wsdl:message>
  <wsdl:message name="InicioDesembolsoExcepcion">
    <wsdl:part name="parameters" element="desproc:InicioDesembolsoExcepcion"/>
  </wsdl:message>
  <wsdl:message name="FinDesembolsoExcepcion">
    <wsdl:part name="parameters" element="desproc:FinDesembolsoExcepcion"/>
  </wsdl:message>
  
  <wsdl:portType name="ProcesosPrincipalesPortType">
    <!-- Laft -->
    <!-- Elegibilidad -->
    <wsdl:operation name="InicioElegibilidad">
      <wsdl:input message="tns:InicioElegibilidad"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinElegibilidad">
      <wsdl:input message="tns:FinElegibilidad"/>
      <wsdl:output message="tns:FinProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioPreparacion">
      <wsdl:input message="tns:InicioPreparacion"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinPreparacion">
      <wsdl:input message="tns:FinPreparacion"/>
      <wsdl:output message="tns:FinProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioAnalisis">
      <wsdl:input message="tns:InicioAnalisis"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinAnalisis">
      <wsdl:input message="tns:FinAnalisis"/>
      <wsdl:output message="tns:FinProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioEvaluacion">
      <wsdl:input message="tns:InicioEvaluacion"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinEvaluacion">
      <wsdl:input message="tns:FinEvaluacion"/>
      <wsdl:output message="tns:FinProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioAprobacion">
      <wsdl:input message="tns:InicioAprobacion"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinAprobacion">
      <wsdl:input message="tns:FinAprobacion"/>
      <wsdl:output message="tns:FinProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioFormalizacion">
      <wsdl:input message="tns:InicioFormalizacion"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinFormalizacion">
      <wsdl:input message="tns:FinFormalizacion"/>
      <wsdl:output message="tns:FinProcesoResponse"/>
    </wsdl:operation>
    
        <wsdl:operation name="InicioCierre">
      <wsdl:input message="tns:InicioCierre"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinCierre">
      <wsdl:input message="tns:FinCierre"/>
      <wsdl:output message="tns:FinProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioGestionCobro">
      <wsdl:input message="tns:InicioGestionCobro"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinGestionCobro">
      <wsdl:input message="tns:FinGestionCobro"/>
      <wsdl:output message="tns:FinProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioSeguimientoCobro">
      <wsdl:input message="tns:InicioSeguimientoCobro"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinSeguimientoCobro">
      <wsdl:input message="tns:FinSeguimientoCobro"/>
      <wsdl:output message="tns:FinProcesoResponse"/>
    </wsdl:operation>
        <wsdl:operation name="InicioDesembolso">
      <wsdl:input message="tns:InicioDesembolso"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinDesembolso">
      <wsdl:input message="tns:FinDesembolso"/>
      <wsdl:output message="tns:FinProcesoResponse"/>
    </wsdl:operation> 
    <wsdl:operation name="InicioValidacionAsignacion">
      <wsdl:input message="tns:InicioValidacionAsignacion"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinValidacionAsignacion">
      <wsdl:input message="tns:FinValidacionAsignacion"/>
      <wsdl:output message="tns:FinProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioDesembolsoExcepcion">
      <wsdl:input message="tns:InicioDesembolsoExcepcion"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinDesembolsoExcepcion">
      <wsdl:input message="tns:FinDesembolsoExcepcion"/>
      <wsdl:output message="tns:FinProcesoResponse"/>
    </wsdl:operation>
        <wsdl:operation name="InicioAprobacionCliente">
      <wsdl:input message="tns:InicioAprobacionCliente"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinAprobacionCliente">
      <wsdl:input message="tns:FinAprobacionCliente"/>
      <wsdl:output message="tns:FinProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioContratacionFormalizacion">
      <wsdl:input message="tns:InicioContratacionFormalizacion"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinContratacionFormalizacion">
      <wsdl:input message="tns:FinContratacionFormalizacion"/>
      <wsdl:output message="tns:FinProcesoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
   <wsdl:message name="InicioAprobacionCliente">
    <wsdl:part name="parameters" element="aproproc:InicioAprobacionCliente"/>
  </wsdl:message>
  <wsdl:message name="FinAprobacionCliente">
    <wsdl:part name="parameters" element="aproproc:FinAprobacionCliente"/>
  </wsdl:message>
  <wsdl:binding name="ProcesosPrincipalesBinding" type="tns:ProcesosPrincipalesPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InicioElegibilidad">
      <wsdlsoap:operation style="document" soapAction="InicioElegibilidad"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinElegibilidad">
      <wsdlsoap:operation style="document" soapAction="FinElegibilidad"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioPreparacion">
      <wsdlsoap:operation style="document" soapAction="InicioPreparacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinPreparacion">
      <wsdlsoap:operation style="document" soapAction="FinPreparacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioAnalisis">
      <wsdlsoap:operation style="document" soapAction="InicioAnalisis"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinAnalisis">
      <wsdlsoap:operation style="document" soapAction="FinAnalisis"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioEvaluacion">
      <wsdlsoap:operation style="document" soapAction="InicioEvaluacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinEvaluacion">
      <wsdlsoap:operation style="document" soapAction="FinEvaluacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioAprobacion">
      <wsdlsoap:operation style="document" soapAction="InicioAprobacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinAprobacion">
      <wsdlsoap:operation style="document" soapAction="FinAprobacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioFormalizacion">
      <wsdlsoap:operation style="document" soapAction="InicioFormalizacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinFormalizacion">
      <wsdlsoap:operation style="document" soapAction="FinFormalizacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
	
         <wsdl:operation name="InicioCierre">
      <wsdlsoap:operation style="document" soapAction="InicioCierre"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinCierre">
      <wsdlsoap:operation style="document" soapAction="FinCierre"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioGestionCobro">
      <wsdlsoap:operation style="document" soapAction="InicioGestionCobro"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinGestionCobro">
      <wsdlsoap:operation style="document" soapAction="FinGestionCobro"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioSeguimientoCobro">
      <wsdlsoap:operation style="document" soapAction="InicioSeguimientoCobro"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinSeguimientoCobro">
      <wsdlsoap:operation style="document" soapAction="FinSeguimientoCobro"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="InicioDesembolso">
      <wsdlsoap:operation style="document" soapAction="InicioDesembolso"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>   
    <wsdl:operation name="FinDesembolso">
      <wsdlsoap:operation style="document" soapAction="FinDesembolso"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation> 
        <wsdl:operation name="InicioValidacionAsignacion">
      <wsdlsoap:operation style="document" soapAction="InicioValidacionAsignacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinValidacionAsignacion">
      <wsdlsoap:operation style="document" soapAction="FinValidacionAsignacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>  
      <wsdl:operation name="InicioDesembolsoExcepcion">
      <wsdlsoap:operation style="document" soapAction="InicioDesembolsoExcepcion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>    
    <wsdl:operation name="FinDesembolsoExcepcion">
      <wsdlsoap:operation style="document" soapAction="FinDesembolsoExcepcion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioAprobacionCliente">
      <wsdlsoap:operation style="document" soapAction="InicioAprobacionCliente"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation> 
     <wsdl:operation name="FinAprobacionCliente">
      <wsdlsoap:operation style="document" soapAction="FinAprobacionCliente"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation> 
    <wsdl:operation name="InicioContratacionFormalizacion">
      <wsdlsoap:operation style="document" soapAction="InicioContratacionFormalizacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinContratacionFormalizacion">
      <wsdlsoap:operation style="document" soapAction="FinContratacionFormalizacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="InicioContratacionFormalizacion">
    <wsdl:part name="parameters" element="forproc:InicioContratacionFormalizacion"/>
  </wsdl:message>
  <wsdl:message name="FinContratacionFormalizacion">
    <wsdl:part name="parameters" element="forproc:FinContratacionFormalizacion"/>
  </wsdl:message>
</wsdl:definitions>
