BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDesembolso/ConsultarComisionesAsignadas/XSD/ConsultarComisionesAsignadas.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarComisionesAsignadas" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarComisionesAsignadas" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarComisionesAsignadasInput" type="ConsultarComisionesAsignadasInput"/>
   <xs:complexType name="ConsultarComisionesAsignadasInput">
      <xs:sequence>
         <xs:element name="ID_OPERACION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarComisionesAsignadasOutputCollection" type="ConsultarComisionesAsignadasOutputCollection"/>
   <xs:complexType name="ConsultarComisionesAsignadasOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarComisionesAsignadasOutput" type="ConsultarComisionesAsignadasOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarComisionesAsignadasOutput">
      <xs:sequence>
         <xs:element name="ID_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO_DESEMBOLSAR" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_ESTADO" type="xs:decimal" nillable="true"/>
         <xs:element name="PROGRAMADO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_ESTIMADA_DESEMBOLSAR" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_EFECTIVA" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_REGISTRO_DESEMBLOSO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO_DESEMBOLSAR_USD" type="xs:decimal" nillable="true"/>
         <xs:element name="FONDO" type="xs:string" nillable="true"/>
         <xs:element name="RECURSOS_EXTERNOS" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_COMISION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_COMISION" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_COMISION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_MONEDA" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO_COMISION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_MONTO_BASE" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_VALOR" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_VENCIMIENTO" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_INICIO_CAPITAL" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_INICIO_COMISION" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_FRECUENCIA" type="xs:decimal" nillable="true"/>
         <xs:element name="FRECUENCIA_PAGO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_FONDO" type="xs:decimal" nillable="true"/>
         <xs:element name="COMISION_COMPARTIDA" type="xs:decimal" nillable="true"/>
         <xs:element name="CODIGO_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="NUMERO_TESORERIA" type="xs:string" nillable="true"/>
         <xs:element name="CODIGO_CONTRATO" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_TASA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_BASE_CALCULO" type="xs:decimal" nillable="true"/>
         <xs:element name="RESPONSABLE_COMISION" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_SUB_ESTADO_TCC" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TCA_ESTADO_TCC" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_COMISION_ENMENDADA" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_ENMIENDA" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_SUGERIDA" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>