Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFAcctDep/AcctFixDepInq/AcctFixDepInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFAcctDepAppSvc/AcctFixDepInq_V1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:appoptAcctFixDepInq="http://xmlns.banesco.com/appopt/WFAcctDepAppSvc/AcctFixDepInq_V1.0"
           xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
           xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" elementFormDefault="qualified">
  <xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../../../EO/Common/Common_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
             schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
  <xs:element name="AcctFixDepInqRq" type="appoptAcctFixDepInq:AcctFixDepInqRq_Type"/>
  <xs:element name="AcctFixDepInqRs" type="appoptAcctFixDepInq:AcctFixDepInqRs_Type"/>
  <xs:complexType name="AcctFixDepInqRq_Type">
    <xs:sequence>
      <xs:element name="AcctKey" type="appoptAcctFixDepInq:AcctKey" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PartyKey">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="PartyType" type="xs:string" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctFixDepInqRs_Type">
    <xs:sequence>
      <xs:element name="Acct" type="appoptAcctFixDepInq:Acct" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Acct">
    <xs:annotation>
      <xs:documentation>Account Information Aggregate. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AcctSubtype" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Producto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcctTitle" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nombre del certificado</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcctType" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Grupo de Producto.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Activity" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Actividad</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Category" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Categoria</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CloseDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fecha de vencimiento</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClubBanesco" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indica si el producto pertenece al Club Banesco</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Moneda</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MovType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Instrucción de movilizacion</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Narrative" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ProductLine" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Linea de producto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubCategory" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sub producto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Variation" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Variación del producto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcctOpeningInfo" type="appoptAcctFixDepInq:AcctOpeningInfo" minOccurs="0" maxOccurs="1"/>
      <xs:element name="DepAcctData" type="appoptAcctFixDepInq:DepAcctData" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AcctMember" type="appoptAcctFixDepInq:AcctMember" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="BalType" type="appoptAcctFixDepInq:AcctBal" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AcctKey" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="AcctReference" type="xs:string" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>Cuenta de referencia que genera T24</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="IntRateData" type="appoptAcctFixDepInq:IntRateData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctBal">
    <xs:sequence>
      <xs:element name="BalType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Balance Type.

Balance Type Values

Valid values include: Avail, AvailCredit, AvgLedger, ClosingLedger, ClosingOutstanding, CreditHeld, CreditLimit, Current, DebitHeld, Escrow, Ledger, MinLedger, OpeningLedger, OpeningOutstanding, Outstanding, PayoffAmt, Principal, RwdBonus, RwdReg, TotalHeld
end Aggregate</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:simpleType name="EnumBalType">
    <xs:annotation>
      <xs:documentation>Example Values: Avail,
AvailCredit,
AvgLedger,
ClosingLedger,
ClosingOutstanding,
CreditHeld,
CreditLimit,
Current,
DebitHeld,
Escrow,
Ledger,
MinLedger,
OpeningLedger,
OpeningOutstanding,
Outstanding,
PayoffAmt,
Principal,
RwdBonus,
RwdReg,
TotalHeld</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AvailATM"/>
      <xs:enumeration value="AvailBalance"/>
      <xs:enumeration value="BlockAmt"/>
      <xs:enumeration value="DeferBalance"/>
      <xs:enumeration value="NetBalance"/>
      <xs:enumeration value="Overdraft"/>
      <xs:enumeration value="OverdrtLimit"/>
      <xs:enumeration value="AthAmt"/>
      <xs:enumeration value="Balance"/>
      <xs:enumeration value="CashAvailBalance"/>
      <xs:enumeration value="CashLimit"/>
      <xs:enumeration value="CreditLineAmt"/>
      <xs:enumeration value="CutBalance"/>
      <xs:enumeration value="DueBalance"/>
      <xs:enumeration value="DueFees"/>
      <xs:enumeration value="LastPmtAmt"/>
      <xs:enumeration value="MinPmt"/>
      <xs:enumeration value="PrevBalance"/>
      <xs:enumeration value="RwdBonus"/>
      <xs:enumeration value="RwdReg"/>
      <xs:enumeration value="TotalBalance"/>
      <xs:enumeration value="TotalPmt"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="CreditRegularPmt">
    <xs:sequence>
      <xs:element name="Freq" type="appoptcommon:Freq" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Frecuencia de pago</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PmtClass" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Metodo de pago</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PmtType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Forma de pago de intereses</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PmtDetail" type="appoptAcctFixDepInq:PmtDetail" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PmtDetail">
    <xs:sequence>
      <xs:element name="PmtTarget" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Propiedad</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IntRateData">
    <xs:sequence>
      <xs:element name="EffRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tasa de interés efectiva</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IntRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tasa de Interés</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PeriodicIndex" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indice</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SurTax" type="xs:decimal" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sobre tasa</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctKey">
    <xs:sequence>
      <xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>DEPOSIT.ID</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctMember">
    <xs:sequence>
      <xs:element name="PartyRole" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Rol del cliente</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PartyKey" type="appoptAcctFixDepInq:PartyKey" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyKey">
    <xs:sequence>
      <xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número del cliente</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctOpeningInfo">
    <xs:sequence>
      <xs:element name="BusinessUnit" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EffDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fecha efectiva</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="InitialAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Monto</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OpenDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Opening Date.

Opening date of object, usage depends on context.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RqReason" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="SaleOfficer" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DepAcctData">
    <xs:sequence>
      <xs:element name="ChangeActivity" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cambio de actividad</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeDateType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cambio de tipo de fecha</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChangeDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ChangePeriod" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cambio de periodo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayInAcct" type="appoptAcctFixDepInq:AcctKey" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cuenta de debito</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PayOutAcct" type="appoptAcctFixDepInq:AcctKey" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cuenta de pago</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RenewalOption" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de renovación (Iniciación)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Term" type="appoptAcctFixDepInq:Term" minOccurs="0" maxOccurs="1"/>
      <xs:element name="DepInterestPmt" type="appoptAcctFixDepInq:CreditRegularPmt" minOccurs="0"
                  maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Term">
    <xs:sequence>
      <xs:element name="ProposedTerm" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Término</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
