BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/NotificarCancelarOperacion/V1/Schema/NotificarCancelarOperacionMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/NotificarCancelarOperacionMO"
            targetNamespace="http://www.bcie.org/NotificarCancelarOperacionMO" elementFormDefault="qualified"
            xmlns:notiBO="http://www.bcie.org/NotificarCancelarOperacionBO" xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import schemaLocation="NotificarCancelarOperacionBO.xsd"
              namespace="http://www.bcie.org/NotificarCancelarOperacionBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="requestNotificarCancelarOperacion" type="NotificarCancelarOperacionRequestType"/>
  <xsd:element name="responseNotificarCancelarOperacion" type="NotificarCancelarOperacionResponseType"/>
  <xsd:complexType name="NotificarCancelarOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="notiBO:Operacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotificarCancelarOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
