Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/Utility/PmtSessionInq/PmtSessionInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/UtilityAppSvc/PmtSessionInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptPmtSessionInq="http://xmlns.banesco.com/appopt/UtilityAppSvc/PmtSessionInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="PmtSessionInqRs" type="appoptPmtSessionInq:PmtSessionInqRs_Type"/>
	<xs:complexType name="PmtSessionInqRs_Type">
		<xs:sequence>
			<xs:element name="ServiceId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tóken que identifica la sesión en WS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PmtSessionInqRq" type="appoptPmtSessionInq:PmtSessionInqRq_Type"/>
	<xs:complexType name="PmtSessionInqRq_Type">
		<xs:sequence>
			<xs:element name="Channel" type="appoptPmtSessionInq:ChannelString" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Canal que consume el servicio</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="ChannelString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
