AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/AppointmentAPP/AppointmentService/Resources/WASLs/AppointmentAPPRest.wadl

<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:ns0="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:inp1="http://www.agarcia.mx/EnterpriseObjects/Appointment" xmlns:ns1="http://www.agarcia.mx/EnterpriseObjects/Custom" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="AppointmentAPPRest">RestService</doc>
   <grammars>
      <xsd:schema xmlns:tns="http://xmlns.oracle.com/ServiceBusApplication/AppointmentAPP/AppointmentService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
            <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Appointment" schemaLocation="../../../../MetaData/Components/EnterpriseObjectLibrary/EBO/Appointment/AppointmentEBM.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/Create">
         <method name="POST" soa:wsdlOperation="createappt">
            <request>
               <representation mediaType="application/xml" element="cns:ProccesAppointmentEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Appointment"/>
               <representation mediaType="application/json" element="cns:ProccesAppointmentEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Appointment"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:ProccesAppointmentResponseAcknowledgeEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Appointment"/>
               <representation mediaType="application/json" element="cns:ProccesAppointmentResponseAcknowledgeEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Appointment"/>
            </response>
         </method>
      </resource>
      <resource path="/UpdateHdr">
         <method name="POST" soa:wsdlOperation="updateappt">
            <request>
               <representation mediaType="application/xml" element="cns:ProccesAppointmentEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Appointment"/>
               <representation mediaType="application/json" element="cns:ProccesAppointmentEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Appointment"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:ProccesAppointmentResponseAcknowledgeEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Appointment"/>
               <representation mediaType="application/json" element="cns:ProccesAppointmentResponseAcknowledgeEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Appointment"/>
            </response>
         </method>
      </resource>
      <resource path="/Delete">
         <method name="POST" soa:wsdlOperation="deleteappt">
            <request>
               <representation mediaType="application/xml" element="cns:ProccesAppointmentEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Appointment"/>
               <representation mediaType="application/json" element="cns:ProccesAppointmentEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Appointment"/>
            </request>
            <response status="200">
               <representation mediaType="application/xml" element="cns:ProccesAppointmentResponseAcknowledgeEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Appointment"/>
               <representation mediaType="application/json" element="cns:ProccesAppointmentResponseAcknowledgeEBM" xmlns:cns="http://www.agarcia.mx/EnterpriseObjects/Appointment"/>
            </response>
         </method>
      </resource>
   </resources>
</application>