BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Contrato/ConsultarContratoLineaCredito/XSD/ConsultarContrato.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarContrato" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarContrato" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarContratoInput" type="ConsultarContratoInput"/>
   <xs:complexType name="ConsultarContratoInput">
      <xs:sequence>
         <xs:element name="P_ID_OPERACION" type="xs:string" nillable="true"/>
         <xs:element name="P_INSTANCIA_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="P_ID_CONTRATO" type="xs:int"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarContratoOutputCollection" type="ConsultarContratoOutputCollection"/>
   <xs:complexType name="ConsultarContratoOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarContratoOutput" type="ConsultarContratoOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarContratoOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_FIRMA" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_VIGENCIA" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_MONTO_ESCRITURADO" type="xs:decimal" nillable="true"/>
         <xs:element name="NUMERO_CUSTODIA" type="xs:string" nillable="true"/>
         <xs:element name="CUENTA_CLIENTE" type="xs:string" nillable="true"/>
         <xs:element name="INSTANCIA_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="MONTO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_MONEDA" type="xs:integer" nillable="true"/>
          <xs:element name="FECHA_VALOR" type="xs:date" nillable="true"/>
          <xs:element name="ID_FLEXCUBE" type="xs:string" nillable="true"/>
          <xs:element name="REQUIERE_FIRMA_CONTRATO" type="xs:decimal" nillable="true"/>
          <xs:element name="ID_PRODUCTO" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>