AG_2019/OSB/OSB_PRD_Almacenes/Capabilities/Core/Items/ItemEntitySvc/Resources/WSDL/FindItemByImage.wsdl

<wsdl:definitions name="FindItemByImageProcess" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Items/FindItemByImageProcess/v1.0" xmlns:tns="http://mx.agarcia.ea/Capabilities/Core/Items/FindItemByImageProcess/v1.0" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Foundation/Party/ItemEntitySvc" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/ItemEntitySvc" schemaLocation="../../Schemas/ItemEntitySchema.xsd"/>
       <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
            <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="findItemByImageRequest">
        <wsdl:part name="part1" element="inp1:findItemImageRequest"/>
    </wsdl:message>
    <wsdl:message name="findByImageResponse">
        <wsdl:part name="part1" element="inp1:findItemImageResponse"/>
    </wsdl:message>
    <wsdl:message name="standardMessageFault">
        <wsdl:part name="part1" element="AGSM:messageError"/>
        </wsdl:message>
    <wsdl:message name="standardMessageHeader">
    <wsdl:part name="header" element="AGSH:headerMessage"/>
  </wsdl:message>
    <wsdl:portType name="FindItemByImagePType">
        <wsdl:operation name="findItemByImagePType">
            <wsdl:input message="tns:findItemByImageRequest"/>
            <wsdl:output message="tns:findItemByImageRequest"/>
            <wsdl:fault name="fault" message="tns:standardMessageFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="FindItemByImageBinding" type="tns:FindItemByImagePType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="findItemByImagePType">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Items/ItemEntitySvc/findItemByImagePType"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
<soap:header message="tns:standardMessageHeader" part="header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>