BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioSeguridad/ut_k_security/tieneAcceso/XSD/tieneAcceso_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/tieneAcceso" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/tieneAcceso" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence> 
            <element name="PVUSER" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PVAPPLICATION" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PVWINDOW" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PVCONTROL" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="N1" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V1" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="N2" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V2" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="N3" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V3" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="N4" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V4" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="N5" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="V5" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="TIENEACCESO" type="decimal" db:index="0" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>