BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/CrearAvisoCobroComision/V2/XSD/CrearAvisoCobroComision.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema targetNamespace="http://service.org.bcie.www/" xmlns:ns1="http://www.bcie.com/Cuestionario/ErrorCrearAvisoCobro" xmlns:ns0="http://service.org.bcie.www/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import schemaLocation="ErrorCrearAvisoCobro.xsd" namespace="http://www.bcie.com/Cuestionario/ErrorCrearAvisoCobro"/><xsd:complexType name="CrearAvisoCobroResponse"><xsd:sequence><xsd:element name="return" type="xsd:base64Binary" minOccurs="0" nillable="true"/></xsd:sequence></xsd:complexType><xsd:complexType name="JRException"><xsd:sequence><xsd:element name="args" type="xsd:anyType" minOccurs="0" maxOccurs="unbounded" nillable="true"/><xsd:element name="message" type="xsd:string" minOccurs="0"/><xsd:element name="messageKey" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="CrearAvisoCobro"><xsd:sequence><xsd:element name="idOperacion" type="xsd:long"/><xsd:element name="idComision" type="xsd:long"/></xsd:sequence></xsd:complexType><xsd:element name="CrearAvisoCobroResponse" type="ns0:CrearAvisoCobroResponse"/><xsd:element name="IOException" type="ns1:IOException" nillable="true"/><xsd:element name="JRException" type="ns0:JRException"/><xsd:element name="CrearAvisoCobro" type="ns0:CrearAvisoCobro"/></xsd:schema>