BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioContrato/Termino/V1/Wsdl/Termino.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://www.bcie.org/TerminoService" 
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.bcie.org/TerminoService" 
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:terMO="http://www.bcie.org/TerminoMO">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/TerminoMO" schemaLocation="../Schema/TerminoMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <!-- Create -->
  <wsdl:message name="CrearTerminoRequestMessage">
    <wsdl:part name="request" element="terMO:CrearTerminoRequest"/>
  </wsdl:message>
  <wsdl:message name="CrearTerminoResponseMessage">
    <wsdl:part name="response" element="terMO:CrearTerminoResponse"/>
  </wsdl:message>
  
  <!-- Update -->
  <wsdl:message name="ActualizarTerminoRequestMessage">
    <wsdl:part name="request" element="terMO:ActualizarTerminoRequest"/>
  </wsdl:message>
  <wsdl:message name="ActualizarTerminoResponseMessage">
    <wsdl:part name="response" element="terMO:ActualizarTerminoResponse"/>
  </wsdl:message>

  <!-- Read -->
  <wsdl:message name="ConsultarTerminoRequestMessage">
    <wsdl:part name="request" element="terMO:ConsultarTerminoRequest"/>
  </wsdl:message>
  <wsdl:message name="ConsultarTerminoResponseMessage">
    <wsdl:part name="response" element="terMO:ConsultarTerminoResponse"/>
  </wsdl:message>

  <wsdl:message name="ConsultarTerminoCertificarDecisionRequestMessage">
    <wsdl:part name="request" element="terMO:ConsultarTerminoCertificarDecisionRequest"/>
  </wsdl:message>
  <wsdl:message name="ConsultarTerminoCertificarDecisionResponseMessage">
    <wsdl:part name="response" element="terMO:ConsultarTerminoCertificarDecisionResponse"/>
  </wsdl:message>

  <!-- Delete -->
  <wsdl:message name="EliminarTerminoRequestMessage">
    <wsdl:part name="request" element="terMO:EliminarTerminoRequest"/>
  </wsdl:message>
  <wsdl:message name="EliminarTerminoResponseMessage">
    <wsdl:part name="response" element="terMO:EliminarTerminoResponse"/>
  </wsdl:message>

  <wsdl:message name="ConsultarTreTerminoRequestMessage">
    <wsdl:part name="request" element="terMO:ConsultarTreTerminoRequest"/>
  </wsdl:message>
  <wsdl:message name="ConsultarTreTerminoResponseMessage">
    <wsdl:part name="response" element="terMO:ConsultarTreTerminoResponse"/>
  </wsdl:message>
  
  <wsdl:portType name="TerminoPT">
    <wsdl:operation name="crearTermino">
      <wsdl:input message="tns:CrearTerminoRequestMessage"/>
      <wsdl:output message="tns:CrearTerminoResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="actualizarTermino">
      <wsdl:input message="tns:ActualizarTerminoRequestMessage"/>
      <wsdl:output message="tns:ActualizarTerminoResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarTermino">
      <wsdl:input message="tns:ConsultarTerminoRequestMessage"/>
      <wsdl:output message="tns:ConsultarTerminoResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarTerminoCertificarDecision">
      <wsdl:input message="tns:ConsultarTerminoCertificarDecisionRequestMessage"/>
      <wsdl:output message="tns:ConsultarTerminoCertificarDecisionResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="eliminarTermino">
      <wsdl:input message="tns:EliminarTerminoRequestMessage"/>
      <wsdl:output message="tns:EliminarTerminoResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarTreTermino">
      <wsdl:input message="tns:ConsultarTreTerminoRequestMessage"/>
      <wsdl:output message="tns:ConsultarTreTerminoResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Termino12Bnd" type="tns:TerminoPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearTermino">
      <soap12:operation style="document" soapAction="http://www.bcie.org/TerminoService/crearTermino"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarTermino">
      <soap12:operation style="document" soapAction="http://www.bcie.org/TerminoService/crearTermino"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarTermino">
      <soap12:operation style="document" soapAction="http://www.bcie.org/TerminoService/crearTermino"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation> 
    <wsdl:operation name="consultarTerminoCertificarDecision">
      <soap12:operation style="document" soapAction="http://www.bcie.org/TerminoService/consultarTerminoCertificarDecision"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarTermino">
      <soap12:operation style="document" soapAction="http://www.bcie.org/TerminoService/crearTermino"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation> 
    <wsdl:operation name="consultarTreTermino">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/ConsultarTreTerminoService/consultarTreTermino"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>

</wsdl:definitions>