Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/IVRCardCrAppSvc/IVRCardCrAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="IVRCardCrAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/IVRCardCrAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/IVRCardCrAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:appoptCardCrStatusMod="http://xmlns.banesco.com/appopt/IVRCardCrAppSvc/CardCrStatusMod_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.banesco.com/eo/Status_V1.0"
                  schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/IVRCardCrAppSvc/CardCrStatusMod_V1.0"
                  schemaLocation="../../../xsd/AppOpt/IVRCardCr/CardCrStatusMod/CardCrStatusMod_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrStatusModRq">
    <wsdl:part name="CardCrStatusModRq" element="appoptCardCrStatusMod:CardCrStatusModRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrStatusModRs">
    <wsdl:part name="CardCrStatusModRs" element="appoptCardCrStatusMod:CardCrStatusModRs"/>
  </wsdl:message>
  
  <wsdl:portType name="IVRCardCrAppSvc_V1.0">
    <wsdl:operation name="CardCrStatusMod">
      <wsdl:input message="tns:CardCrStatusModRq"/>
      <wsdl:output message="tns:CardCrStatusModRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="IVRCardCrAppSvc_V1.0SOAP" type="tns:IVRCardCrAppSvc_V1.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CardCrStatusMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/IVRCardCrAppSvc_V1.0/CardCrStatusMod"/>
      <wsdl:input>
        <soap:header message="tns:MsgHdrRq" part="MsgHdrRq" use="literal"/>
		<soap:body use="literal" parts="CardCrStatusModRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header message="tns:MsgHdrRs" part="MsgHdrRs" use="literal"/>
		<soap:body use="literal" parts="CardCrStatusModRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="IVRCardCrAppSvc_V1.0">
    <wsdl:port name="IVRCardCrAppSvc_V1.0SOAP" binding="tns:IVRCardCrAppSvc_V1.0SOAP">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
