Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Card/CardValidInq/CardValidInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/CardValidInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptCardValidInq="http://xmlns.banesco.com/eopt/CardValidInq_V1.0" xmlns:eoCard="http://xmlns.banesco.com/eo/Card_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Card_V1.0" schemaLocation="../../../EO/Card/Card_V1.0.xsd"/>
	<xs:element name="CardValidInqRq" type="eoptCardValidInq:CardValidInqRq_Type"/>
	<xs:element name="CardValidInqRs" type="eoptCardValidInq:CardValidInqRs_Type"/>
	<xs:complexType name="CardValidInqRq_Type">
		<xs:annotation>
			<xs:documentation>Datos para validar la tarjeta</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Card" type="eoCard:Card" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardValidInqRs_Type">
		<xs:sequence>
			<xs:element name="Card" type="eoCard:Card" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>