BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/CrearBitacoraProcesoCliente/XSD/CrearBitacoraProcesoCliente_DB_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearBitacoraProcesoCliente_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearBitacoraProcesoCliente_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="TbiProcesoClienteCollection" type="TbiProcesoClienteCollection"/>
   <xs:complexType name="TbiProcesoClienteCollection">
      <xs:sequence>
         <xs:element name="TbiProcesoCliente" type="TbiProcesoCliente" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TbiProcesoCliente">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idCliente" type="xs:long" minOccurs="0"/>
         <xs:element name="razonSocial" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="idProceso" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="nombreProceso" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="instanciaProceso" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="instanciaProcesoSiguiente" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="banEsProceso" type="xs:int" minOccurs="0"/>
         <xs:element name="idTarea" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="nombreTarea" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="instanciaTarea" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="usuario" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="nombreUsuario" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="banEsFinActividad" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="tiempoProceso" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="tiempoTarea" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="scr" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="string01" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="string02" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="string03" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="banFinalizado" type="xs:int" minOccurs="0"/>
         <xs:element name="idInicio" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string60">
      <xs:restriction base="xs:string">
         <xs:maxLength value="60"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string255">
      <xs:restriction base="xs:string">
         <xs:maxLength value="255"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>