BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/FLEXCUBE/XSD/FLEXCUBE_CUSTOM.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
            targetNamespace="http://org/bcie/ws/middle/FLEXCUBE.wsdl"
            elementFormDefault="qualified">
  
  <xsd:complexType name="actualizarcliente">
    <xsd:sequence>
      <xsd:element name="codigoCliente" type="xsd:string"/>
      <xsd:element name="ejecutivo" type="xsd:string"/>
      <xsd:element name="razonSocial" type="xsd:string"/>
      <xsd:element name="abreviatura" type="xsd:string"/>
      <xsd:element name="tipoIdentificacion" type="xsd:string"/>
      <xsd:element name="identificacion" type="xsd:string"/>
      <xsd:element name="grupoEmpresarial" type="xsd:string"/>
      <xsd:element name="tipoPersona" type="xsd:string"/>
      <xsd:element name="tipoInstitucion" type="xsd:string"/>
      <xsd:element name="sectorInstitucional" type="xsd:string"/>
      <xsd:element name="actividadEconomica" type="xsd:string"/>
      <xsd:element name="ejeEstrategico" type="xsd:string"/>
      <xsd:element name="direccion" type="xsd:string"/>
      <xsd:element name="pais" type="xsd:string"/>
      <xsd:element name="ciudad" type="xsd:string"/>
      <xsd:element name="telefono" type="xsd:string"/>
      <xsd:element name="fax" type="xsd:string"/>
      <xsd:element name="email" type="xsd:string"/>
      <xsd:element name="diaDePago" type="xsd:decimal"/>
      <xsd:element name="clientePadre" type="xsd:string"/>
      <xsd:element name="puesto" type="xsd:string"/>
      <xsd:element name="tipoRelacion" type="xsd:string"/>
      <xsd:element name="overallLimit" type="xsd:decimal" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="actualizarclienteresponse">
    <xsd:sequence>
      <xsd:element name="codigoResultado_out" type="xsd:decimal"/>
      <xsd:element name="tipoResultado_out" type="xsd:decimal"/>
      <xsd:element name="mensaje_out" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>