AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Capabilities/Core/Buyer/BuyerEntitySvc/Resources/WSDL/ModifyBuyerProcess.wsdl

<wsdl:definitions name="ModifyBuyerProcess" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Buyer/ModifyBuyerProcess/v1.0" xmlns:tns="http://mx.agarcia.ea/Capabilities/Core/Buyer/ModifyBuyerProcess/v1.0" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Foundation/Party/BuyerEntitySvc" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/BuyerEntitySvc" schemaLocation="../../Schema/BuyerEntitySchema.xsd"/>
            <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
            <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="modifyBuyerRequest">
        <wsdl:part name="part1" element="inp1:modifyBuyerRequest"/>
    </wsdl:message>
    <wsdl:message name="modifyBuyerResponse">
        <wsdl:part name="part1" element="inp1:modifyBuyerResponse"/>
    </wsdl:message>
    <wsdl:message name="standardMessageFault">
        <wsdl:part name="part1" element="AGSM:messageError"/>
    </wsdl:message>
    <wsdl:message name="standardMessageHeader">
    <wsdl:part name="header" element="AGSH:headerMessage"/>
  </wsdl:message>
        <wsdl:portType name="ModifyBuyerPType">
        <wsdl:operation name="modifyBuyer">
            <wsdl:input message="tns:modifyBuyerRequest"/>
            <wsdl:output message="tns:modifyBuyerResponse"/>
            <wsdl:fault name="fault" message="tns:standardMessageFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ModifyBuyerBinding" type="tns:ModifyBuyerPType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="modifyBuyer">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Buyer/ModifyBuyerProcess/v1.0/modifyBuyerPType"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
                <soap:header message="tns:standardMessageHeader" part="header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>