Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFParty/PartyRefMod/PartyRefMod_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFPartyAppSvc/PartyRefMod_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptPartyRefMod="http://xmlns.banesco.com/appopt/WFPartyAppSvc/PartyRefMod_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="PartyRefModRq_Type">
		<xs:sequence>
			<xs:element name="Party" type="appoptPartyRefMod:Party" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonPartyInfo">
		<xs:sequence>
			<xs:element name="Relationship" type="appoptPartyRefMod:Relationship" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>Party is a person or organization. A Party typically has some association with an account and fulfills roles such as:

a primary or partial ownership/responsibility for an account
a beneficiary of an account
has signatory authorization on an account
has legal authorization, such as power of attorney, for an account
A Party can have relationships to accounts, cards and other parties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyKey" type="appoptPartyRefMod:PartyKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PersonPartyInfo" type="appoptPartyRefMod:PersonPartyInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PostAddr">
		<xs:annotation>
			<xs:documentation>The PostAddr aggregate is used wherever a postal address is needed.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AddrDesc" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Building" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del residencial o del edificio de la dirección de correspondencia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="City" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>City</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="appoptcommon:Country" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>País</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountyDistrict" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>County District</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HouseNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Jurisdiction" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Corregimiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostalCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Province" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Province</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Street" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonName">
		<xs:annotation>
			<xs:documentation>Person Name.

The PersonName aggregate is used to specify a person's full name and, optionally, preferred name (nickname).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Full Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyRefModRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Phone">
		<xs:sequence>
			<xs:element name="AreaCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Area code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PhoneType" type="appoptcommon:EnumPhoneType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Phone Type.
Fax, Home, Mobile</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PartyRefModRq" type="appoptPartyRefMod:PartyRefModRq_Type"/>
	<xs:complexType name="PartyKey">
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Contact">
		<xs:annotation>
			<xs:documentation>The Contact aggregate appears wherever a person's or organization's contact information is needed.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Locator" type="appoptPartyRefMod:Locator" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Relationship">
		<xs:annotation>
			<xs:documentation>Número del cliente</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Contact" type="appoptPartyRefMod:Contact" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CustomerId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Id de referencia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefName" type="appoptPartyRefMod:PersonName" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre de la referencia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelationshipType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Relationship Type. Valid values include: Officer, Empolyee, Director, Brother, Father, Mother, Parent, Self, Sibling, Sister, ....</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PartyRefModRs" type="appoptPartyRefMod:PartyRefModRs_Type"/>
	<xs:complexType name="Locator">
		<xs:annotation>
			<xs:documentation>Information necessary to establish contact.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Email" type="appoptcommon:ValueType" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Emails.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Phone" type="appoptPartyRefMod:Phone" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PostAddr" type="appoptPartyRefMod:PostAddr" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
