Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFAcctLoan/AcctLoanPartyInq/AcctLoanPartyInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanPartyInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctLoanPartyInq="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanPartyInq_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../../../EO/Common/Common_V1.0.xsd"/>
	<xs:element name="AcctLoanPartyInqRq" type="appoptAcctLoanPartyInq:AcctLoanPartyInqRq_Type"/>
	<xs:element name="AcctLoanPartyInqRs" type="appoptAcctLoanPartyInq:AcctLoanPartyInqRs_Type"/>
	<xs:complexType name="Identification">
		<xs:sequence>
			<xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Identificación</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctMember">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Id de compañía</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployeeNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Empleado</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyKey" type="appoptAcctLoanPartyInq:PartyKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PartyRole" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Customer Role</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditAcctData">
		<xs:annotation>
			<xs:documentation>Credit Account Data.

Used to maintain and retrieve data specific to credit products. Could have one register per CurrencyCode</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DiscountCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Clave del descuento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditRegularPmt" type="appoptAcctLoanPartyInq:CreditRegularPmt" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditRegularPmt">
		<xs:sequence>
			<xs:element name="Amt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Freq" type="appoptAcctLoanPartyInq:Freq" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoanPartyInqRq_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="appoptAcctLoanPartyInq:AcctKey" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Freq">
		<xs:sequence>
			<xs:element name="FreqValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de frecuencia: Biweekly, Monthly</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="appoptAcctLoanPartyInq:Identification">
				<xs:sequence>
					<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Party Identifier.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AcctLoanPartyInqRs_Type">
		<xs:sequence>
			<xs:element name="AcctLoanPartyRel" minOccurs="0" maxOccurs="unbounded">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CreditAcctData" type="appoptAcctLoanPartyInq:CreditAcctData" minOccurs="0" maxOccurs="1"/>
						<xs:element name="AcctMember" type="appoptAcctLoanPartyInq:AcctMember" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
