BCIE_fenix/dev/SOA/03-SOA-SERVICES/DominioOperacion/Adquisicion/SOA/Schemas/ConsultarAvisoAdquisicion.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAvisoAdquisicion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAvisoAdquisicion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarAvisoAdquisicionInput" type="ConsultarAvisoAdquisicionInput"/>
   <xs:complexType name="ConsultarAvisoAdquisicionInput">
      <xs:sequence>
         <xs:element name="IdNoObjecionVar" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarAvisoAdquisicionOutputCollection" type="ConsultarAvisoAdquisicionOutputCollection"/>
   <xs:complexType name="ConsultarAvisoAdquisicionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarAvisoAdquisicionOutput" type="ConsultarAvisoAdquisicionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarAvisoAdquisicionOutput">
      <xs:sequence>
         <xs:element name="ID_NO_OBJECION" type="xs:decimal" nillable="true"/>
         <xs:element name="ISO_PAIS" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_PUBLICACION" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_RECEPCION_PROPUESTA" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_FIN" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_INICIO" type="xs:dateTime" nillable="true"/>
         <xs:element name="DIR_PRESENTACION_PROPUESTA" type="xs:string" nillable="true"/>
         <xs:element name="LUGAR_OBTENER_DOCTO_BASE" type="xs:string" nillable="true"/>
         <xs:element name="LINEA_CREDITO" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_MODALIDAD" type="xs:string" nillable="true"/>
         <xs:element name="NUMERO_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="TITULO_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="CORREO_INFORMACION_ADICIONAL" type="xs:string" nillable="true"/>
         <xs:element name="OBJETIVO_ADQUISICION" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_OPERACION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
