Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Banking/ChkOrdImgInq/ChkOrdImgInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/ChkOrdImgInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:eoptChkOrdImgInq="http://xmlns.banesco.com/eopt/ChkOrdImgInq_V1.0"
           xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoChk="http://xmlns.banesco.com/eo/Chk_V1.0"
           xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
           xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" elementFormDefault="qualified">
  <xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../../../EO/Common/Common_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/eo/Chk_V1.0" schemaLocation="../../../EO/Acct/Chk_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
  <xs:element name="ChkOrdImgInqRq_Type" type="eoptChkOrdImgInq:ChkOrdImgInqRq_Type"/>
  <xs:complexType name="ChkOrdImgInqRq_Type">
    <xs:sequence>
      <xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto AcctKey que contienen información de identificación de la cuenta.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChkOrdKey" type="eoChk:Chk" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto ChkOrdKey que información de identificación del cheque.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChkOrdImgInqRs_Type" type="eoptChkOrdImgInq:ChkOrdImgInqRs_Type"/>
  <xs:complexType name="ChkOrdImgInqRs_Type">
    <xs:sequence>
      <xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ImageURL" type="eoCom:Binary" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto ImageURL que contiene información de la url de la imagen del cheque.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ChkOrdImgInqRq" type="eoptChkOrdImgInq:ChkOrdImgInqRq_Type"/>
  <xs:element name="ChkOrdImgInqRs" type="eoptChkOrdImgInq:ChkOrdImgInqRs_Type"/>
</xs:schema>
