BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Contrato/ActualizarContratoInstanciaContrato/XSD/ActualizarContratoInstaciaProceso.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ActualizarContratoInstaciaProceso" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ActualizarContratoInstaciaProceso" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ActualizarContratoInstaciaProcesoInput" type="ActualizarContratoInstaciaProcesoInput"/>
   <xs:complexType name="ActualizarContratoInstaciaProcesoInput">
      <xs:sequence>
         <xs:element name="P_INSTANCIA_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="P_ID_OPERACION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>