Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFAcctLoan/AcctLoanInq/AcctLoanInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctLoanInq="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctReference" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AlternateId" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditAcctData">
		<xs:annotation>
			<xs:documentation>Credit Account Data.

Used to maintain and retrieve data specific to credit products. Could have one register per CurrencyCode</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CreditAcctPmtInfo" type="appoptAcctLoanInq:CreditAcctPmtInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctLoanInqRq" type="appoptAcctLoanInq:AcctLoanInqRq_Type"/>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código del cliente asignado T24</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>Party is a person or organization. A Party typically has some association with an account and fulfills roles such as:

a primary or partial ownership/responsibility for an account
a beneficiary of an account
has signatory authorization on an account
has legal authorization, such as power of attorney, for an account
A Party can have relationships to accounts, cards and other parties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyKey" type="appoptAcctLoanInq:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditAcctPmtInfo">
		<xs:sequence>
			<xs:element name="PmtMethod" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Método con que se realiza el pago.

EJ: Débito a cuenta, Pago voluntario, descuento directo.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctLoanInqRs" type="appoptAcctLoanInq:AcctLoanInqRs_Type"/>
	<xs:complexType name="AcctBal">
		<xs:annotation>
			<xs:documentation>Account Balance.

Supports attributes with respect to all the balances a financial institution account may carry (ex: ledger, available, collected, etc.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CurAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Currency Amount.

All monetary amounts in the IFX Specification are handled with the Currency Amount data type. When included, this data type contains a decimal value for the amount, an optional currency code.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoanInqRs_Type">
		<xs:sequence>
			<xs:element name="Party" type="appoptAcctLoanInq:Party" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AcctLoans" type="appoptAcctLoanInq:AcctLoans" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Acct">
		<xs:annotation>
			<xs:documentation>Account Information Aggregate. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctSubtype" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Subtype.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Category" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ClosedDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Closed Date.

Indicates the date the account closed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClubBanesco" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica si el producto pertenece al Club Banesco</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The CurrencyCode is used to express Currency codes and the authoritative source that defines them.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Variation" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Variación del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctBal" type="appoptAcctLoanInq:AcctBal" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CreditAcctData" type="appoptAcctLoanInq:CreditAcctData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctStatus" type="appoptAcctLoanInq:AcctStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctKey" type="appoptAcctLoanInq:AcctKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctOpeningInfo" type="appoptAcctLoanInq:AcctOpeningInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctStatus">
		<xs:sequence>
			<xs:element name="AcctStatusCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Estado del préstamo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoans">
		<xs:sequence>
			<xs:element name="AcctLoan" type="appoptAcctLoanInq:Acct" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoanInqRq_Type">
		<xs:sequence>
			<xs:element name="PartyKey" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Customer ID´s</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="PartyId" type="appoptAcctLoanInq:limitString" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Código del cliente asignado T24</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="limitString">
		<xs:restriction base="xs:string">
			<xs:minLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AcctOpeningInfo">
		<xs:sequence>
			<xs:element name="InitialAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OpenDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
