BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/BPM/Wsdl/PA07/SegCrediticioProcess.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/SegCrediticioProcess" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/SegCrediticioProcess" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<wsdl:types>
<xsd:schema>
<xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/SegCrediticioProcess" schemaLocation="../../Schema/PA07/SegCrediticioProcess.xsd"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="InicioSegCrediticio">
<wsdl:part name="parameters" element="tns:InicioSeguimientoCrediticio"/>
</wsdl:message>
<wsdl:message name="FinSegCrediticio">
<wsdl:part name="parameters" element="tns:FinSeguimientoCrediticio"/>
</wsdl:message>
<wsdl:portType name="SegCrediticioProcessPortType">
<wsdl:operation name="InicioSeguimientoCrediticio">
<wsdl:input message="tns:InicioSegCrediticio"/>
</wsdl:operation>
<wsdl:operation name="FinSeguimientoCrediticio">
<wsdl:input message="tns:FinSegCrediticio"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="SegCrediticioProcessBinding" type="tns:SegCrediticioProcessPortType">
<wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="InicioSeguimientoCrediticio">
<wsdlsoap:operation style="document" soapAction="InicioSegCrediticio"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="FinSeguimientoCrediticio">
<wsdlsoap:operation style="document" soapAction="FinSegCrediticio"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<plnk:partnerLinkType name="SegCrediticioProcessPortTypePartnerLinkType">
<plnk:role name="SegCrediticioProcessPortTypeProvider">
<plnk:portType name="tns:SegCrediticioProcessPortType"/>
</plnk:role>
</plnk:partnerLinkType>
</wsdl:definitions>
