BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioCliente/GestionCobro/ConsultarDetalleAvisoCobro/XSD/ConsultarDetalleAvisoCobro.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarDetalleAvisoCobro" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarDetalleAvisoCobro" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarDetalleAvisoCobroInput" type="ConsultarDetalleAvisoCobroInput"/>
   <xs:complexType name="ConsultarDetalleAvisoCobroInput">
      <xs:sequence>
         <xs:element name="idEjecucion" type="xs:string" nillable="true"/>
         <xs:element name="responsable" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarDetalleAvisoCobroOutputCollection" type="ConsultarDetalleAvisoCobroOutputCollection"/>
   <xs:complexType name="ConsultarDetalleAvisoCobroOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarDetalleAvisoCobroOutput" type="ConsultarDetalleAvisoCobroOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarDetalleAvisoCobroOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_LOTE" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_CLIENTE" type="xs:decimal" nillable="true"/>
         <xs:element name="RESPONSABLE" type="xs:string" nillable="true"/>
         <xs:element name="ESTADO_EJECUCION" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_MENSAJE_ERROR" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>