BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/Utilidades/ValidarClienteProceso/V1/Schema/ValidarClienteProcesoBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ValidarClienteProcesoBO"
            targetNamespace="http://www.bcie.org/ValidarClienteProcesoBO" elementFormDefault="qualified">
  <xsd:complexType name="ClienteProceso">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:long"/>
      <xsd:element name="idProceso" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
