AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/EBO/Differentiator/DifferentiatorEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Differentiator" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Differentiator" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/CustomDifferentiator">
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Common" schemaLocation="../../Common/CommonComponents.xsd"/>
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/CustomDifferentiator" schemaLocation="../../Custom/EBO/CustomDifferentiator.xsd"/>
  <xsd:element name="Differentiator" type="DifferentiatorType"/>
  <xsd:complexType name="DifferentiatorType">
    <xsd:sequence>
      <xsd:element name="identification" type="com:IdentificationType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="DiffType" type="com:ValueSetType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Custom" type="cust:CustomDifferentiatorEBOType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>