BCIE_fenix/dev/ADF-BPM/bpm/PC02Preparacion/PC02PreparacionProcessUITest/SOA/Schemas/Comun/Tarea/V1/TareaOPN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Tarea/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tarea="http://xmlns.bcie.org/ObjetoProceso/Comun/Tarea/V1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:complexType name="Tarea">
		<xs:annotation>
			<xs:documentation>Entidad que contiene la información basica de una tarea BPM.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CodigoTarea" type="xs:int" minOccurs="1" maxOccurs="1"/>
			<xs:element name="NombreTarea" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CodigoRol" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NombreRol" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CodigoProceso" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NombreProceso" type="xs:string" minOccurs="0" maxOccurs="1"/>			
		</xs:sequence>
	</xs:complexType>
</xs:schema>
