BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PA01/LAFTPayload.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:laft="http://xmlns.bcie.org/ObjetoProceso/LAFT/Payload/V1" xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" targetNamespace="http://xmlns.bcie.org/ObjetoProceso/LAFT/Payload/V1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="../Comun/Header/V1/HeaderOPN.xsd"/>
	<xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" schemaLocation="../Comun/Parameter/V1/ParameterOPN.xsd"/>
	<xs:element name="LAFTPayload" type="laft:LAFTPayloadType">
		<xs:annotation>
			<xs:documentation>Elemento que define los campos de entrada para el proceso alterno de Prevensión de Lavado de Activos y Financiamiento al Terrorismo</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:element name="LAFTErrorPayload" type="laft:LAFTErrorPayloadType"/>
	<xs:complexType name="LAFTPayloadType">
		<xs:sequence>
			<xs:element name="Header" type="header:Header"/>
			<xs:element name="Configuration" type="laft:ConfigGatewaysType"/>
			<xs:element name="EquipoPayload" type="laft:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EquipoEjecucionPayload" type="laft:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SaveTaskPayload" type="laft:SaveTaskType" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="porSeguimiento" type="xs:boolean"/>
			<xs:element name="porVencimiento" type="xs:boolean"/>
			<xs:element name="porNoticia" type="xs:boolean"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ConfigGatewaysType">
		<xs:sequence>
			<xs:element name="responsableRO" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="accionLAFT" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="existeRetorno" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="solicitoAnalista" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="responsableOFIC" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereAsociacion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="requiereExcepcion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SaveTaskType">
		<xs:sequence>
			<xs:element name="esNuevaLaft" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="esElevarLaft" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="esActualizacionLaft" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="esExcepcionLaft" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="esAsociacionLaft" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="esPanelOficSinDjVisible" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tipoSolicitudSinDj" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tipoSolicitudAsoc" type="xs:int" minOccurs="0" maxOccurs="1"/>
            <xs:element name="tipoSeguimiento" type="xs:int" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LAFTErrorPayloadType">
		<xs:sequence>
			<xs:element name="Header" type="header:Header"/>
			<xs:element name="Configuration" type="laft:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EquipoPayload" type="laft:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EquipoEjecucionPayload" type="laft:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
			 <xs:element name="SaveTaskPayload" type="laft:SaveTaskType" minOccurs="0" maxOccurs="1"/>
			<xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="porSeguimiento" type="xs:boolean"/>
			<xs:element name="porVencimiento" type="xs:boolean"/>
			<xs:element name="porNoticia" type="xs:boolean"/>
			<xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="EquipoPayloadType">
		<xs:sequence>
			<xs:element name="EjecutorOFIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Gerente" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>