BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/SolicitudAprobacion/ConsultarAcumuladoVotacion/XSD/ConsultarAcumuladoVotacion_BD.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarVotacion_BD" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarVotacion_BD" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarVotacion_BDInput" type="ConsultarVotacion_BDInput"/>
   <xs:complexType name="ConsultarVotacion_BDInput">
      <xs:sequence>
         <xs:element name="idVotacion" type="xs:decimal" nillable="true"/>
          <xs:element name="idVotacion" type="xs:decimal" nillable="true"/>
           <xs:element name="idVotacion" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarVotacion_BDOutputCollection" type="ConsultarVotacion_BDOutputCollection"/>
   <xs:complexType name="ConsultarVotacion_BDOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarVotacion_BDOutput" type="ConsultarVotacion_BDOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarVotacion_BDOutput">
      <xs:sequence>
         <xs:element name="CANTIDAD_VOTOS" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="TIPO_DECISION" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>