AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Capabilities/Core/Items/ColorEntitySvc/Resources/WSDL/ColorEntitySvc.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Items/ColorEntitySvc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://mx.agarcia.ea/Capabilities/Core/Items/ColorEntitySvc" xmlns:ns1="http://mx.agarcia.ea/Capabilities/Foundation/Party/ColorEntitySvc" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   
	<wsdl:types>
          <schema xmlns="http://www.w3.org/2001/XMLSchema">
              <import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/ColorEntitySvc" schemaLocation="../Schemas/ColorEntitySchema.xsd"/>
              <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
              <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
          </schema> 
	</wsdl:types>
        
        
 <wsdl:message name="createColorGroupRequest">
  <wsdl:part name="createColorGroupRequest" element="ns1:createColorGroupRequest"/>
 </wsdl:message>
 
 <wsdl:message name="createColorGroupResponse">
  <wsdl:part name="createColorGroupResponse" element="ns1:createColorGroupResponse"/>
 </wsdl:message>
 
  <wsdl:message name="createColorRequest">
  <wsdl:part name="createColorRequest" element="ns1:createColorRequest"/>
 </wsdl:message>
 
 <wsdl:message name="createColorResponse">
  <wsdl:part name="createColorResponse" element="ns1:createColorResponse"/>
 </wsdl:message>
 
 
   <wsdl:message name="updateColorGroupRequest">
  <wsdl:part name="updateColorGroupRequest" element="ns1:updateColorGroupRequest"/>
 </wsdl:message>
 
 <wsdl:message name="updateColorGroupResponse">
  <wsdl:part name="updateColorGroupResponse" element="ns1:updateColorGroupResponse"/>
 </wsdl:message>
 
<wsdl:message name="updateColorRequest">
  <wsdl:part name="updateColorRequest" element="ns1:updateColorRequest"/>
 </wsdl:message>
 
 <wsdl:message name="updateColorResponse">
  <wsdl:part name="updateColorResponse" element="ns1:updateColorResponse"/>
 </wsdl:message>
 
 <wsdl:message name="standardMessageFault">
  <wsdl:part name="fault" element="AGSM:messageError"/>
 </wsdl:message>
 <wsdl:message name="standardMessageHeader">
  <wsdl:part name="header" element="AGSH:headerMessage"/>
 </wsdl:message>
 
 
 <wsdl:portType name="ColorEntityPType">
  <wsdl:operation name="createColorGroup">
   <wsdl:input message="client:createColorGroupRequest"/>
   <wsdl:output message="client:createColorGroupResponse"/>
   <wsdl:fault name="fault" message="client:standardMessageFault"/>
  </wsdl:operation>
  
  <wsdl:operation name="createColor">
   <wsdl:input message="client:createColorRequest"/>
   <wsdl:output message="client:createColorResponse"/>
   <wsdl:fault name="fault" message="client:standardMessageFault"/>
  </wsdl:operation>
  
  <wsdl:operation name="updateColorGroup">
   <wsdl:input message="client:updateColorGroupRequest"/>
   <wsdl:output message="client:updateColorGroupResponse"/>
   <wsdl:fault name="fault" message="client:standardMessageFault"/>
  </wsdl:operation>
  
  <wsdl:operation name="updateColor">
   <wsdl:input message="client:updateColorRequest"/>
   <wsdl:output message="client:updateColorResponse"/>
   <wsdl:fault name="fault" message="client:standardMessageFault"/>
  </wsdl:operation>
  
 </wsdl:portType>
 <wsdl:binding name="ColorEntityBinding" type="client:ColorEntityPType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="createColorGroup">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Items/ColorEntitySvc/createColorGroup"/>
   <wsdl:input>
    <soap:body use="literal" parts="createColorGroupRequest"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="createColorGroupResponse"/>
   </wsdl:output>
   <wsdl:fault name="fault">
    <soap:fault name="fault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="createColor">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Items/ColorEntitySvc/createColor"/>
   <wsdl:input>
    <soap:body use="literal" parts="createColorRequest"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="createColorResponse"/>
   </wsdl:output>
   <wsdl:fault name="fault">
    <soap:fault name="fault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="updateColorGroup">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Items/ColorEntitySvc/updateColorGroup"/>
   <wsdl:input>
    <soap:body use="literal" parts="updateColorGroupRequest"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="updateColorGroupResponse"/>
   </wsdl:output>
   <wsdl:fault name="fault">
    <soap:fault name="fault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="updateColor">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Items/ColorEntitySvc/updateColor"/>
   <wsdl:input>
    <soap:body use="literal" parts="updateColorRequest"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="updateColorResponse"/>
   </wsdl:output>
   <wsdl:fault name="fault">
    <soap:fault name="fault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>