Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/BpaLoanCreate/AAARRANGEMENTACTIVITYType.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
            xmlns:ns0="http://www.temenos.com/T24/ofs/AAARRANGEMENTACTIVITYType" xmlns:xdb="http://xmlns.oracle.com/xdb"
            targetNamespace="http://www.temenos.com/T24/ofs/AAARRANGEMENTACTIVITYType" xdb:storeVarrayAsTable="true">
  <!-- This T24 XML Schema automatically produced -->
  <!-- Copyright Temenos Holdings NV 2018-->
  <!-- T24 Application: AA.ARRANGEMENT.ACTIVITY -->
  <!-- T24 Release: R16 -->
  <!-- Production timestamp: 11:39:05 29 AUG 2018 -->
  <xsd:element name="AAARRANGEMENTACTIVITY" type="ns0:AAARRANGEMENTACTIVITYType">
    <xsd:annotation>
      <xsd:documentation>This is the top level element for the record data</xsd:documentation>
      <xsd:appinfo>
        <hfp:hasProperty name="locked" value="no"/>
        <hfp:hasProperty name="useschema" value="no"/>
        <hfp:hasProperty name="register" value="no"/>
        <hfp:hasProperty name="aaPropertyName" value=""/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="AAARRANGEMENTACTIVITYType" xdb:maintainDOM="false">
    <xsd:annotation>
      <xsd:documentation>This complex type represents the T24 data for the AA.ARRANGEMENT.ACTIVITY table</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element id="ARRANGEMENT" minOccurs="0" name="ARRANGEMENT" nillable="true" xdb:SQLName="ARRANGEMENT">
        <xsd:annotation>
          <xsd:documentation>ARRANGEMENT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="ARRANGEMENT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ACTIVITY" minOccurs="0" name="ACTIVITY" nillable="true" xdb:SQLName="ACTIVITY">
        <xsd:annotation>
          <xsd:documentation>ACTIVITY</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="ACTIVITY"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="EFFECTIVE.DATE" minOccurs="0" name="EFFECTIVEDATE" nillable="true" type="xsd:date"
                   xdb:SQLName="EFFECTIVE_DATE">
        <xsd:annotation>
          <xsd:documentation>EFFECTIVE.DATE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="EFFECTIVE.DATE"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element minOccurs="0" name="gCUSTOMER">
        <xsd:complexType xdb:SQLType="gAAARRANGEMENTACTIVITYCustomer" xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mCUSTOMER">
              <xsd:complexType xdb:SQLType="mAAARRANGEMENTACTIVITYCustomer" xdb:maintainDOM="false">
                <xsd:sequence minOccurs="0">
                  <xsd:element id="CUSTOMER" minOccurs="0" name="CUSTOMER" nillable="true" xdb:SQLName="CUSTOMER">
                    <xsd:annotation>
                      <xsd:documentation>CUSTOMER</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="numeric"/>
                        <hfp:hasProperty name="fieldname" value="CUSTOMER"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="10"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="CUSTOMER.ROLE" minOccurs="0" name="CUSTOMERROLE" nillable="true"
                               xdb:SQLName="CUSTOMER_ROLE">
                    <xsd:annotation>
                      <xsd:documentation>CUSTOMER.ROLE</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="CUSTOMER.ROLE"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element id="TRADE.DATE" minOccurs="0" name="TRADEDATE" nillable="true" type="xsd:date"
                   xdb:SQLName="TRADE_DATE">
        <xsd:annotation>
          <xsd:documentation>TRADE.DATE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="TRADE.DATE"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element id="RESERVED.13" minOccurs="0" name="RESERVED13" nillable="true" xdb:SQLName="RESERVED_13">
        <xsd:annotation>
          <xsd:documentation>RESERVED.13</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.13"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.12" minOccurs="0" name="RESERVED12" nillable="true" xdb:SQLName="RESERVED_12">
        <xsd:annotation>
          <xsd:documentation>RESERVED.12</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.12"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.11" minOccurs="0" name="RESERVED11" nillable="true" xdb:SQLName="RESERVED_11">
        <xsd:annotation>
          <xsd:documentation>RESERVED.11</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.11"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.10" minOccurs="0" name="RESERVED10" nillable="true" xdb:SQLName="RESERVED_10">
        <xsd:annotation>
          <xsd:documentation>RESERVED.10</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.10"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="PRODUCT" minOccurs="0" name="PRODUCT" nillable="true" xdb:SQLName="PRODUCT">
        <xsd:annotation>
          <xsd:documentation>PRODUCT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="PRODUCT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="CURRENCY" minOccurs="0" name="CURRENCY" nillable="true" xdb:SQLName="CURRENCY">
        <xsd:annotation>
          <xsd:documentation>CURRENCY</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="CURRENCY"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{3}"/>
            <xsd:length value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="CHANNEL" minOccurs="0" name="CHANNEL" nillable="true" xdb:SQLName="CHANNEL">
        <xsd:annotation>
          <xsd:documentation>CHANNEL</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="CHANNEL"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ARR.COMPANY.CODE" minOccurs="0" name="ARRCOMPANYCODE" nillable="true"
                   xdb:SQLName="ARR_COMPANY_CODE">
        <xsd:annotation>
          <xsd:documentation>ARR.COMPANY.CODE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="ARR.COMPANY.CODE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="11"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="LINKED.ACTIVITY" minOccurs="0" name="LINKEDACTIVITY" nillable="true"
                   xdb:SQLName="LINKED_ACTIVITY">
        <xsd:annotation>
          <xsd:documentation>LINKED.ACTIVITY</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="LINKED.ACTIVITY"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="80"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gINITIATIONTYPE">
        <xsd:complexType xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element id="INITIATION.TYPE" maxOccurs="unbounded" minOccurs="0" name="INITIATIONTYPE" nillable="true"
                         xdb:SQLName="INITIATION_TYPE">
              <xsd:annotation>
                <xsd:documentation>INITIATION.TYPE</xsd:documentation>
                <xsd:appinfo>
                  <hfp:hasProperty name="fielddatatype" value="string"/>
                  <hfp:hasProperty name="fieldname" value="INITIATION.TYPE"/>
                </xsd:appinfo>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="30"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element id="SECONDARY.TYPE" minOccurs="0" name="SECONDARYTYPE" nillable="true" xdb:SQLName="SECONDARY_TYPE">
        <xsd:annotation>
          <xsd:documentation>SECONDARY.TYPE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="SECONDARY.TYPE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gADJACTIVITY">
        <xsd:complexType xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mADJACTIVITY">
              <xsd:complexType xdb:maintainDOM="false">
                <xsd:sequence minOccurs="0">
                  <xsd:element id="ADJ.ACTIVITY" minOccurs="0" name="ADJACTIVITY" nillable="true"
                               xdb:SQLName="ADJ_ACTIVITY">
                    <xsd:annotation>
                      <xsd:documentation>ADJ.ACTIVITY</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="ADJ.ACTIVITY"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="ADJ.STATUS" minOccurs="0" name="ADJSTATUS" nillable="true" xdb:SQLName="ADJ_STATUS">
                    <xsd:annotation>
                      <xsd:documentation>ADJ.STATUS</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="ADJ.STATUS"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gCHILDACTIVITY">
        <xsd:complexType xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element id="CHILD.ACTIVITY" maxOccurs="unbounded" minOccurs="0" name="CHILDACTIVITY" nillable="true"
                         xdb:SQLName="CHILD_ACTIVITY">
              <xsd:annotation>
                <xsd:documentation>CHILD.ACTIVITY</xsd:documentation>
                <xsd:appinfo>
                  <hfp:hasProperty name="fielddatatype" value="string"/>
                  <hfp:hasProperty name="fieldname" value="CHILD.ACTIVITY"/>
                </xsd:appinfo>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element id="ORIG.CONTRACT.DATE" minOccurs="0" name="ORIGCONTRACTDATE" nillable="true" type="xsd:date"
                   xdb:SQLName="ORIG_CONTRACT_DATE">
        <xsd:annotation>
          <xsd:documentation>ORIG.CONTRACT.DATE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="ORIG.CONTRACT.DATE"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element id="MASTER.AAA" minOccurs="0" name="MASTERAAA" nillable="true" xdb:SQLName="MASTER_AAA">
        <xsd:annotation>
          <xsd:documentation>MASTER.AAA</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="MASTER.AAA"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="55"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="REV.MASTER.AAA" minOccurs="0" name="REVMASTERAAA" nillable="true" xdb:SQLName="REV_MASTER_AAA">
        <xsd:annotation>
          <xsd:documentation>REV.MASTER.AAA</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="REV.MASTER.AAA"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="55"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ADJUSTMENT" minOccurs="0" name="ADJUSTMENT" nillable="true" xdb:SQLName="ADJUSTMENT">
        <xsd:annotation>
          <xsd:documentation>ADJUSTMENT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="ADJUSTMENT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="55"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="TXN.AMOUNT" minOccurs="0" name="TXNAMOUNT" nillable="true" xdb:SQLName="TXN_AMOUNT">
        <xsd:annotation>
          <xsd:documentation>TXN.AMOUNT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="TXN.AMOUNT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="TXN.AMOUNT.LCY" minOccurs="0" name="TXNAMOUNTLCY" nillable="true" xdb:SQLName="TXN_AMOUNT_LCY">
        <xsd:annotation>
          <xsd:documentation>TXN.AMOUNT.LCY</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="TXN.AMOUNT.LCY"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="TXN.EXCH.RATE" minOccurs="0" name="TXNEXCHRATE" nillable="true" xdb:SQLName="TXN_EXCH_RATE">
        <xsd:annotation>
          <xsd:documentation>TXN.EXCH.RATE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="TXN.EXCH.RATE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="TXN.CONTRACT.ID" minOccurs="0" name="TXNCONTRACTID" nillable="true"
                   xdb:SQLName="TXN_CONTRACT_ID">
        <xsd:annotation>
          <xsd:documentation>TXN.CONTRACT.ID</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="TXN.CONTRACT.ID"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="TXN.SYSTEM.ID" minOccurs="0" name="TXNSYSTEMID" nillable="true" xdb:SQLName="TXN_SYSTEM_ID">
        <xsd:annotation>
          <xsd:documentation>TXN.SYSTEM.ID</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="TXN.SYSTEM.ID"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="EXPOSURE.DATE" minOccurs="0" name="EXPOSUREDATE" nillable="true" type="xsd:date"
                   xdb:SQLName="EXPOSURE_DATE">
        <xsd:annotation>
          <xsd:documentation>EXPOSURE.DATE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="EXPOSURE.DATE"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element id="ADVICE.NO" minOccurs="0" name="ADVICENO" nillable="true" xdb:SQLName="ADVICE_NO">
        <xsd:annotation>
          <xsd:documentation>ADVICE.NO</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="ADVICE.NO"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gMAPPINGKEY">
        <xsd:complexType xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mMAPPINGKEY">
              <xsd:complexType xdb:maintainDOM="false">
                <xsd:sequence minOccurs="0">
                  <xsd:element id="MAPPING.KEY" minOccurs="0" name="MAPPINGKEY" nillable="true"
                               xdb:SQLName="MAPPING_KEY">
                    <xsd:annotation>
                      <xsd:documentation>MAPPING.KEY</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="MAPPING.KEY"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="DELIVERY.REF" minOccurs="0" name="DELIVERYREF" nillable="true"
                               xdb:SQLName="DELIVERY_REF">
                    <xsd:annotation>
                      <xsd:documentation>DELIVERY.REF</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="DELIVERY.REF"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element id="ACTIVITY.CLASS" minOccurs="0" name="ACTIVITYCLASS" nillable="true" xdb:SQLName="ACTIVITY_CLASS">
        <xsd:annotation>
          <xsd:documentation>ACTIVITY.CLASS</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="ACTIVITY.CLASS"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gPROPERTY">
        <xsd:complexType xdb:SQLType="gAAARRANGEMENTACTIVITYProperty" xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mPROPERTY">
              <xsd:complexType xdb:SQLType="mAAARRANGEMENTACTIVITYProperty" xdb:maintainDOM="false">
                <xsd:sequence minOccurs="0">
                  <xsd:element id="PROPERTY" minOccurs="0" name="PROPERTY" nillable="true" xdb:SQLName="PROPERTY">
                    <xsd:annotation>
                      <xsd:documentation>PROPERTY</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="PROPERTY"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="EFFECTIVE" minOccurs="0" name="EFFECTIVE" nillable="true" type="xsd:date"
                               xdb:SQLName="EFFECTIVE">
                    <xsd:annotation>
                      <xsd:documentation>EFFECTIVE</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="numeric"/>
                        <hfp:hasProperty name="fieldname" value="EFFECTIVE"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="sgFIELDNAME">
                    <xsd:complexType xdb:maintainDOM="false">
                      <xsd:sequence minOccurs="0">
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="FIELDNAME">
                          <xsd:complexType xdb:maintainDOM="false">
                            <xsd:sequence minOccurs="0">
                              <xsd:element id="FIELD.NAME" minOccurs="0" name="FIELDNAME" nillable="true"
                                           xdb:SQLName="FIELD_NAME">
                                <xsd:annotation>
                                  <xsd:documentation>FIELD.NAME</xsd:documentation>
                                  <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string"/>
                                    <hfp:hasProperty name="fieldname" value="FIELD.NAME"/>
                                  </xsd:appinfo>
                                </xsd:annotation>
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="35"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                              <xsd:element id="FIELD.VALUE" minOccurs="0" name="FIELDVALUE" nillable="true"
                                           xdb:SQLName="FIELD_VALUE">
                                <xsd:annotation>
                                  <xsd:documentation>FIELD.VALUE</xsd:documentation>
                                  <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string"/>
                                    <hfp:hasProperty name="fieldname" value="FIELD.VALUE"/>
                                  </xsd:appinfo>
                                </xsd:annotation>
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="100"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                            <xsd:attribute name="s" type="xsd:positiveInteger" use="optional"/>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                      <xsd:attribute name="sg" type="xsd:positiveInteger" use="optional"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gCONTEXTNAME">
        <xsd:complexType xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mCONTEXTNAME">
              <xsd:complexType xdb:maintainDOM="false">
                <xsd:sequence minOccurs="0">
                  <xsd:element id="CONTEXT.NAME" minOccurs="0" name="CONTEXTNAME" nillable="true"
                               xdb:SQLName="CONTEXT_NAME">
                    <xsd:annotation>
                      <xsd:documentation>CONTEXT.NAME</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="CONTEXT.NAME"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="30"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="CONTEXT.VALUE" minOccurs="0" name="CONTEXTVALUE" nillable="true"
                               xdb:SQLName="CONTEXT_VALUE">
                    <xsd:annotation>
                      <xsd:documentation>CONTEXT.VALUE</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="CONTEXT.VALUE"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="100"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element id="RESERVED.7" minOccurs="0" name="RESERVED7" nillable="true" xdb:SQLName="RESERVED_7">
        <xsd:annotation>
          <xsd:documentation>RESERVED.7</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.7"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.6" minOccurs="0" name="RESERVED6" nillable="true" xdb:SQLName="RESERVED_6">
        <xsd:annotation>
          <xsd:documentation>RESERVED.6</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.6"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.5" minOccurs="0" name="RESERVED5" nillable="true" xdb:SQLName="RESERVED_5">
        <xsd:annotation>
          <xsd:documentation>RESERVED.5</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.5"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AUTO.RUN" minOccurs="0" name="AUTORUN" nillable="true" xdb:SQLName="AUTO_RUN">
        <xsd:annotation>
          <xsd:documentation>AUTO.RUN</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="AUTO.RUN"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="SIM.RUN.REF" minOccurs="0" name="SIMRUNREF" nillable="true" xdb:SQLName="SIM_RUN_REF">
        <xsd:annotation>
          <xsd:documentation>SIM.RUN.REF</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="SIM.RUN.REF"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ORIG.TXN.AMT" minOccurs="0" name="ORIGTXNAMT" nillable="true" xdb:SQLName="ORIG_TXN_AMT">
        <xsd:annotation>
          <xsd:documentation>ORIG.TXN.AMT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="ORIG.TXN.AMT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ORIG.TXN.AMT.LCY" minOccurs="0" name="ORIGTXNAMTLCY" nillable="true"
                   xdb:SQLName="ORIG_TXN_AMT_LCY">
        <xsd:annotation>
          <xsd:documentation>ORIG.TXN.AMT.LCY</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="ORIG.TXN.AMT.LCY"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gNARRATIVE">
        <xsd:complexType xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element id="NARRATIVE" maxOccurs="unbounded" minOccurs="0" name="NARRATIVE" nillable="true"
                         xdb:SQLName="NARRATIVE">
              <xsd:annotation>
                <xsd:documentation>NARRATIVE</xsd:documentation>
                <xsd:appinfo>
                  <hfp:hasProperty name="fielddatatype" value="string"/>
                  <hfp:hasProperty name="fieldname" value="NARRATIVE"/>
                </xsd:appinfo>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="35"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element id="EXT.EVENT.REF" minOccurs="0" name="EXTEVENTREF" nillable="true" xdb:SQLName="EXT_EVENT_REF">
        <xsd:annotation>
          <xsd:documentation>EXT.EVENT.REF</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="EXT.EVENT.REF"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="PRODUCT.VARIATION" minOccurs="0" name="PRODUCTVARIATION" nillable="true"
                   xdb:SQLName="PRODUCT_VARIATION">
        <xsd:annotation>
          <xsd:documentation>PRODUCT.VARIATION</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="PRODUCT.VARIATION"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="PRICING.SELECTION" minOccurs="0" name="PRICINGSELECTION" nillable="true"
                   xdb:SQLName="PRICING_SELECTION">
        <xsd:annotation>
          <xsd:documentation>PRICING.SELECTION</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="PRICING.SELECTION"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="PRICING.PLAN" minOccurs="0" name="PRICINGPLAN" nillable="true" xdb:SQLName="PRICING_PLAN">
        <xsd:annotation>
          <xsd:documentation>PRICING.PLAN</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="PRICING.PLAN"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="REASON" minOccurs="0" name="REASON" nillable="true" xdb:SQLName="REASON">
        <xsd:annotation>
          <xsd:documentation>REASON</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="REASON"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="100"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="EVENT.ID" minOccurs="0" name="EVENTID" nillable="true" xdb:SQLName="EVENT_ID">
        <xsd:annotation>
          <xsd:documentation>EVENT.ID</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="EVENT.ID"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="40"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AGENT.ID" minOccurs="0" name="AGENTID" nillable="true" xdb:SQLName="AGENT_ID">
        <xsd:annotation>
          <xsd:documentation>AGENT.ID</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="AGENT.ID"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AGENT.ARR.ID" minOccurs="0" name="AGENTARRID" nillable="true" xdb:SQLName="AGENT_ARR_ID">
        <xsd:annotation>
          <xsd:documentation>AGENT.ARR.ID</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="AGENT.ARR.ID"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="17"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gERRORSOURCE">
        <xsd:complexType xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mERRORSOURCE">
              <xsd:complexType xdb:maintainDOM="false">
                <xsd:sequence minOccurs="0">
                  <xsd:element id="ERROR.SOURCE" minOccurs="0" name="ERRORSOURCE" nillable="true"
                               xdb:SQLName="ERROR_SOURCE">
                    <xsd:annotation>
                      <xsd:documentation>ERROR.SOURCE</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="ERROR.SOURCE"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="ERROR.MESSAGE" minOccurs="0" name="ERRORMESSAGE" nillable="true"
                               xdb:SQLName="ERROR_MESSAGE">
                    <xsd:annotation>
                      <xsd:documentation>ERROR.MESSAGE</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="ERROR.MESSAGE"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element id="REWARDS.ARR.ID" minOccurs="0" name="REWARDSARRID" nillable="true" xdb:SQLName="REWARDS_ARR_ID">
        <xsd:annotation>
          <xsd:documentation>REWARDS.ARR.ID</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="REWARDS.ARR.ID"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="17"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ORG.SYSTEM.DATE" minOccurs="0" name="ORGSYSTEMDATE" nillable="true" type="xsd:date"
                   xdb:SQLName="ORG_SYSTEM_DATE">
        <xsd:annotation>
          <xsd:documentation>ORG.SYSTEM.DATE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="ORG.SYSTEM.DATE"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element id="RESERVED.3" minOccurs="0" name="RESERVED3" nillable="true" xdb:SQLName="RESERVED_3">
        <xsd:annotation>
          <xsd:documentation>RESERVED.3</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.3"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.2" minOccurs="0" name="RESERVED2" nillable="true" xdb:SQLName="RESERVED_2">
        <xsd:annotation>
          <xsd:documentation>RESERVED.2</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.2"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.1" minOccurs="0" name="RESERVED1" nillable="true" xdb:SQLName="RESERVED_1">
        <xsd:annotation>
          <xsd:documentation>RESERVED.1</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.1"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gSTMTNOS">
        <xsd:complexType xdb:SQLType="gAAARRANGEMENTACTIVITYStmtNos" xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element id="STMT.NOS" maxOccurs="unbounded" minOccurs="0" name="STMTNOS" nillable="true"
                         xdb:SQLName="STMT_NOS">
              <xsd:annotation>
                <xsd:documentation>STMT.NOS</xsd:documentation>
                <xsd:appinfo>
                  <hfp:hasProperty name="fielddatatype" value="string"/>
                  <hfp:hasProperty name="fieldname" value="STMT.NOS"/>
                </xsd:appinfo>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gOVERRIDE">
        <xsd:complexType xdb:SQLType="gAAARRANGEMENTACTIVITYOverride" xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element id="OVERRIDE" maxOccurs="unbounded" minOccurs="0" name="OVERRIDE" nillable="true"
                         xdb:SQLName="OVERRIDE">
              <xsd:annotation>
                <xsd:documentation>OVERRIDE</xsd:documentation>
                <xsd:appinfo>
                  <hfp:hasProperty name="fielddatatype" value="string"/>
                  <hfp:hasProperty name="fieldname" value="OVERRIDE"/>
                </xsd:appinfo>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element id="RECORD.STATUS" minOccurs="0" name="RECORDSTATUS" nillable="true" xdb:SQLName="RECORD_STATUS">
        <xsd:annotation>
          <xsd:documentation>RECORD.STATUS</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RECORD.STATUS"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="CURR.NO" minOccurs="0" name="CURRNO" nillable="true" xdb:SQLName="CURR_NO">
        <xsd:annotation>
          <xsd:documentation>CURR.NO</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="CURR.NO"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gINPUTTER">
        <xsd:complexType xdb:SQLType="gAAARRANGEMENTACTIVITYInputter" xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element id="INPUTTER" maxOccurs="unbounded" minOccurs="0" name="INPUTTER" nillable="true"
                         xdb:SQLName="INPUTTER">
              <xsd:annotation>
                <xsd:documentation>INPUTTER</xsd:documentation>
                <xsd:appinfo>
                  <hfp:hasProperty name="fielddatatype" value="string"/>
                  <hfp:hasProperty name="fieldname" value="INPUTTER"/>
                </xsd:appinfo>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="120"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gDATETIME">
        <xsd:complexType xdb:SQLType="gAAARRANGEMENTACTIVITYDateTime" xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element id="DATE.TIME" maxOccurs="unbounded" minOccurs="0" name="DATETIME" nillable="true"
                         xdb:SQLName="DATE_TIME">
              <xsd:annotation>
                <xsd:documentation>DATE.TIME</xsd:documentation>
                <xsd:appinfo>
                  <hfp:hasProperty name="fielddatatype" value="string"/>
                  <hfp:hasProperty name="fieldname" value="DATE.TIME"/>
                </xsd:appinfo>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="15"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element id="AUTHORISER" minOccurs="0" name="AUTHORISER" nillable="true" xdb:SQLName="AUTHORISER">
        <xsd:annotation>
          <xsd:documentation>AUTHORISER</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="AUTHORISER"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="CO.CODE" minOccurs="0" name="COCODE" nillable="true" xdb:SQLName="CO_CODE">
        <xsd:annotation>
          <xsd:documentation>CO.CODE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="CO.CODE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="11"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="DEPT.CODE" minOccurs="0" name="DEPTCODE" nillable="true" xdb:SQLName="DEPT_CODE">
        <xsd:annotation>
          <xsd:documentation>DEPT.CODE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="DEPT.CODE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AUDITOR.CODE" minOccurs="0" name="AUDITORCODE" nillable="true" xdb:SQLName="AUDITOR_CODE">
        <xsd:annotation>
          <xsd:documentation>AUDITOR.CODE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="AUDITOR.CODE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AUDIT.DATE.TIME" minOccurs="0" name="AUDITDATETIME" nillable="true"
                   xdb:SQLName="AUDIT_DATE_TIME">
        <xsd:annotation>
          <xsd:documentation>AUDIT.DATE.TIME</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="AUDIT.DATE.TIME"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="250"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>