AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/UpInvoice/InvoiceEBM.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/UpInvoice" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/UpInvoice" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <xsd:include schemaLocation="InvoiceEBO.xsd"/>
  <xsd:element name="ProcessInvoiceEBM" type="ProcessInvoiceEBMType"/>
  <xsd:element name="ProcessInvoiceResponseEBM" type="ProcessInvoiceResponseEBMType"/>
  <xsd:element name="ProcessInvoiceResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>
  <xsd:element name="CreateInvoiceEBM" type="CreateInvoiceEBMType"/>
  <xsd:element name="CreateInvoiceResponseEBM" type="CreateInvoiceResponseEBMType"/>
  <xsd:complexType name="ProcessInvoiceEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProcessInvoice" type="UploadInvoiceEBOType"/>
            <xsd:element name="InvoiceHistoryRecord" type="com:EntityHistoryReferenceType" minOccurs="0"/>
          </xsd:sequence>
          <xsd:attribute name="action" type="com:ActionType"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessInvoiceResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element name="InvoiceEBO" type="UploadInvoiceEBOType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseAcknowledgeEBMType">
    <xsd:sequence>
      <xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateInvoiceEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateInvoice" type="UploadInvoiceEBOType"/>
            <xsd:element name="InvoiceHistoryRecord" type="com:EntityHistoryReferenceType" minOccurs="0"/>
          </xsd:sequence>
          <xsd:attribute name="action" type="com:ActionType"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateInvoiceResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element name="InvoiceEBO" type="UploadInvoiceEBOType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>