AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/UpInvoice/InvoiceEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/UpInvoice" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/UpInvoice" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom">
<xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Common" schemaLocation="../../Common/CommonComponents.xsd"/>
<xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Custom" schemaLocation="../../Custom/EBO/CustomUpInvoiceEBO.xsd"/>
<xsd:element name="InvoiceEBO" type="UploadInvoiceEBOType"/>
<xsd:complexType name="UploadInvoiceEBOType">
    <xsd:sequence>
      <xsd:element ref="com:Identification" minOccurs="0"/>
      <xsd:element name="EmissionDate" type="com:StringType"/>
      <xsd:element name="THEAD" type="UpInvTheadLinType" maxOccurs="unbounded"/>
      <xsd:element name="TDETL" type="UpInvTDetlLinType" maxOccurs="unbounded"/>
      <xsd:element name="TVATS" type="UpInvTVatLinType" maxOccurs="unbounded"/>
      <xsd:element name="TTAIL" type="UpInvTTailLinType" maxOccurs="unbounded"/>
      <xsd:element name="LineId" type="com:NumericType"/>
      <xsd:element name="TransactionLine" type="com:NumericType"/>
      <xsd:element name="Custom" minOccurs="0" type="cust:CustomUpInvoiceEBOType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpInvTheadLinType">
    <xsd:sequence>
      <xsd:element name="LineId" type="com:NumericType"/>
      <xsd:element name="transactionId" type="com:NumericType"/>
      <xsd:element name="Document" type="com:DocumentType"/>
      <xsd:element name="UUID" type="com:CFDiType"/>
      <xsd:element name="Vendor" type="com:ContactType"/>
      <xsd:element name="EmissionDate" type="com:StringType"/>
      <xsd:element name="OrdNum" type="com:PaymentType"/>
      <xsd:element name="Location" type="com:LocationType"/>
      <xsd:element name="Terms" type="com:StringType"/>
      <xsd:element name="ExchangeRate" type="com:CodeType"/>
      <xsd:element name="TotalCost" type="com:AmountType"/>
      <xsd:element name="VatAmount" type="com:AmountType"/>
      <xsd:element name="Quantity" type="com:QuantityType"/>
      <xsd:element name="Discount" type="com:AmountType"/>
      <xsd:element name="Freight_Type" type="com:TextType"/>
      <xsd:element name="Paid_Ind" type="com:TextType"/>
      <xsd:element name="Multi_Location" type="com:TextType"/>
      <xsd:element name="Merchandise_Type" type="com:TextType"/>
      <xsd:element name="Deal_Id" type="com:QuantityType"/>
      <xsd:element name="Deal_Detail_Id" type="com:TextType"/>
      <xsd:element name="Ref_CNR_Ext_Doc_Id" type="com:TextType"/>
      <xsd:element name="Ref_INV_Ext_Doc_Id" type="com:TextType"/>
      <xsd:element name="Deal_Approval_Indicator" type="com:TextType"/>
      <xsd:element name="RTV_indicator" type="com:TextType"/>
      <xsd:element name="Reference1" type="com:TextType"/>
      <xsd:element name="Reference2" type="com:TextType"/>
      <xsd:element name="Reference3" type="com:TextType"/>
      <xsd:element name="Reference4" type="com:TextType"/>
      <xsd:element name="Cross_reference_doc_numb" type="com:QuantityType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpInvTDetlLinType">
    <xsd:sequence>
      <xsd:element ref="com:Identification" minOccurs="0"/>
      <xsd:element name="Transaction_number" type="com:NumericType"/>
      <xsd:element name="UPC" type="com:TextType"/>
      <xsd:element name="UPC_Supplement" type="com:TextType"/>
      <xsd:element name="Item" type="com:TextType"/>
      <xsd:element name="VPN" type="com:TextType"/>
      <xsd:element name="Original_Doc_Quantity" type="com:QuantityType"/>
      <xsd:element name="Original_Unit_cost" type="com:AmountType"/>
      <xsd:element name="Original_VAT_Code" type="com:TaxType"/>
      <xsd:element name="Original_VAT_rate" type="com:RateType"/>
      <xsd:element name="Total_Allowance" type="com:NumericType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpInvTVatLinType">
    <xsd:sequence>
      <xsd:element ref="com:Identification" minOccurs="0"/>
      <xsd:element name="TransactionLines" type="com:NumericType"/>
      <xsd:element name="TypeCode" type="com:CodeType"/>
      <xsd:element name="VatRate" type="com:StringType"/>
      <xsd:element name="Amount" type="com:AmountType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpInvTTailLinType">
    <xsd:sequence>
      <xsd:element ref="com:Identification" minOccurs="0"/>
      <xsd:element name="TransactionLines" type="com:NumericType"/>
      <xsd:element name="Lines" type="com:NumericType"/>
    </xsd:sequence>
  </xsd:complexType>
  
  </xsd:schema>