AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/UpInvoice/ValidateFile.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd"
            xmlns:tns="http://www.agarcia.mx/EnterpriseObjects/TakeFomFtpSer"
            targetNamespace="http://www.agarcia.mx/EnterpriseObjects/TakeFomFtpSer" elementFormDefault="qualified"
            attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="UTF-8">
  <xsd:element name="Root-Element">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="record" minOccurs="1">
          <xsd:complexType>
            <xsd:sequence>
              <xsd:element name="line" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}"
                           maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:annotation>
    <xsd:appinfo>NXSDSAMPLE=BorrarTest.txt</xsd:appinfo>
    <xsd:appinfo>USEHEADER=false</xsd:appinfo>
  </xsd:annotation>
</xsd:schema>