Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/HTParty/PartyInfoInq/PartyInfoInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/HTPartyAppSvc/PartyInfoInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptPartyInfoInq="http://xmlns.banesco.com/appopt/HTPartyAppSvc/PartyInfoInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="PartyStatus">
    <xs:annotation>
      <xs:documentation>Party Status</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Status" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Party Status (Alive, deceased, active, inactive, ...)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PEPRelated">
    <xs:sequence>
      <xs:element name="Country" type="appoptcommon:Country" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PersonData" type="appoptPartyInfoInq:PersonData" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Información de PEP</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PublicPos" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Public Position</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RelType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Relation Type</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrgMember">
    <xs:annotation>
      <xs:documentation>Organization member</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="PartyData" type="appoptPartyInfoInq:PartyData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="OrgData">
    <xs:annotation>
      <xs:documentation>Organization Data.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="appoptPartyInfoInq:PartyData">
        <xs:sequence>
          <xs:element name="BusinessType" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Tipo de Negocio</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumShareholder" type="xs:integer" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Número de accionistas</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="NumShares" type="xs:double" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Number of Shares</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgCategory" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Organization Category. Tipo de Persona Juridica</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SalesVolume" type="xs:decimal" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Nivel de ventas</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SharesType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Tipo de acciones</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Type scope of the organization. Eg: Local, National or International.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MonthlySalesVol" type="xs:decimal" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Nivel Mensual de Ventas</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Staff" type="appoptPartyInfoInq:OrgMember" minOccurs="0" maxOccurs="1"/>
          <xs:element name="OrgName" type="appoptPartyInfoInq:OrgName" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrgName">
    <xs:annotation>
      <xs:documentation>Organization Name.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="BusinessName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Business Name</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Full company name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LegalName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Legal Name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PreviousName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Previous Name</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PEPData">
    <xs:annotation>
      <xs:documentation>Persona Expuesta Políticamente</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="GovEntity" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Entidad del Gobierno con la que mantiene relación contractual.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GovRelated" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Usted mantiene algún tipo de relación contractual con el Gobierno?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IsPEP" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indica si una persona es PEP</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OrgIntBelong" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Pertenece usted a un Organismo Internacional?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Family" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Es usted familiar de una persona expuesta políticamente (PEP)?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Collaborator" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Es usted estrecho colaborador de una persona expuesta políticamente (PEP)?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PeriodStart" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Periodo en que inicia el cargo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PEPRelated" type="appoptPartyInfoInq:PEPRelated" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party">
    <xs:annotation>
      <xs:documentation>Party is a person or organization. A Party typically has some association with an account and fulfills roles such as:

a primary or partial ownership/responsibility for an account
a beneficiary of an account
has signatory authorization on an account
has legal authorization, such as power of attorney, for an account
A Party can have relationships to accounts, cards and other parties.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:choice minOccurs="1" maxOccurs="1">
        <xs:element name="OrgPartyInfo" type="appoptPartyInfoInq:OrgPartyInfo" minOccurs="0" maxOccurs="1"/>
        <xs:element name="PersonPartyInfo" type="appoptPartyInfoInq:PersonPartyInfo" minOccurs="0" maxOccurs="1"/>
      </xs:choice>
      <xs:element name="PartyKey" type="appoptPartyInfoInq:PartyKey" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyData">
    <xs:annotation>
      <xs:documentation>Party Data.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Contact" type="appoptcommon:Contact" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Information Contact.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Nationality" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nationality</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuedIdent" type="appoptPartyInfoInq:IssuedIdent" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyInfo">
    <xs:annotation>
      <xs:documentation>Party Information Aggregate.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AcctOfficial" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Account Official.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankRelType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Relación con el banco

EJ:
1 Cliente Regular
2 Directores o Dignatarios de Banesco
3 Empleados Banesco S.A o Subsidiarias
5 Directores accionistas de Banesco S A o Afiliadas.
6 Conyugues Gerente General, Directores y VP Banesco
7 Empresas subsidiarias de Banesco
8 Empresas del grupo internacional banesco
9 Banco Corresponsal Banesco</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ClubBanesco" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>CLUB Banesco</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomerClass" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cliente Regular
Global
Grupo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CustomerType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>01 - PEP
02 - FATCA
03 - Person With Judicial Process</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EstablishedDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Established Date.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Industry" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código de Industria

EJ: 1004 ALIMENTOS
1010 BEBIDAS NO ALCOHOLICAS
1055 licores y tabaco</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Language" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Idioma</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MNEMONIC" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="OriginatingBranch" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Originating Branch.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ReferredBy" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Referido Por</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ResidenceCountry" type="appoptcommon:Country" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The country within which the party operates/lives</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SalesChannel" type="appoptcommon:ValueType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sales Channel</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SecAcctOfficial" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Secondary Account Official</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Sector" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código de Negocio</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SIBRelType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Relación con la Superintendencia de Bancos.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SubTarget" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Sub Segment

EJ: 
1000        ASALARIADOS
1100        INDEPENDIENTES
1200        ASALARIADO BCA CHINA
2000        INDEPENDIENTE BCA CHINA
2100        PECUARIO
2200        AGRICOLA</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Target" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Classification given by the bank to the Party.

Segmento</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="BankRelation" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Relación con el banco</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SecondaryUser" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifica los clientes que serán usuarios secundarios en banca en línea.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Referral" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Referimiento</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CRMRel" type="appoptPartyInfoInq:Relationship" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="CostCenter" type="appoptPartyInfoInq:CostCenter" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PEPData" type="appoptPartyInfoInq:PEPData" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Income" type="appoptPartyInfoInq:FinancialData" minOccurs="0" maxOccurs="1"/>
      <xs:element name="FATCA" type="appoptPartyInfoInq:FATCA" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CreditRisk" type="appoptPartyInfoInq:CreditRisk" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="PartyStatus" type="appoptPartyInfoInq:PartyStatus" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyKey">
    <xs:annotation>
      <xs:documentation>Customer ID´s</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="appoptPartyInfoInq:Identification">
        <xs:sequence>
          <xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Party Identifier.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PartyType" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Party Type.

Value: Person or Org.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonData">
    <xs:annotation>
      <xs:documentation>Person Data Aggregate.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="appoptPartyInfoInq:PartyData">
        <xs:sequence>
          <xs:element name="BirthDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Birth Date</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Gender" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Gender.

Valid values include: Female, Male.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="PersonName" type="appoptPartyInfoInq:PersonName" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonName">
    <xs:annotation>
      <xs:documentation>Person Name.

The PersonName aggregate is used to specify a person's full name and, optionally, preferred name (nickname).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FirstName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Person's Given Name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Full Name.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="LastName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>PaternalName</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="MarriedName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The spouse´s name adopted by the person.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SecondLastName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>MaternalName</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SecondName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Person's Middle Name.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonPartyInfo">
    <xs:annotation>
      <xs:documentation>Personal PartyInfo extension.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="appoptPartyInfoInq:PartyInfo">
        <xs:sequence>
          <xs:element name="Dependents" type="xs:int" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Number of Dependents.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EconomicActivity" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Actividad economica

1011 AGRICULTURA ARROZ
1012 AGRICULTURA MAIZ
1013 AGRICULTURA SORGO
1014 AGRICULTURA OTROS GRANOS
1021 AGRICULTURA SOYA
1022 AGRICULTURA FRIJOL
1023 AGRICULTURA OTRAS LEGUMINOSAS
1031 AGRICULTURA CANA
1032 AGRICULTURA CAFE
1202 ACUICULTURA
1301 MINAS
1302 CANTERAS
1303 SALINAS
1413 COMERCIO AL POR MAYOR
1420 COMERCIO AL POR MENOR
1430 HIPOTECA LOCAL COMERCIAL
1501 IND ALIMENTOS BEBIDAS Y TABACO</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EducationLevel" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Education Level. Degree or a number of years of schooling.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="LastUpDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Last Update Date - Date for last update</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="MaritalStat" type="appoptcommon:ValueType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Marital Stat.

Valid values include: Divorced, Married, Single, Widow</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Profession" type="appoptcommon:ValueType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Profession</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SocialSecNumber" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Número del seguro social</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="Employment" type="appoptPartyInfoInq:Employment" minOccurs="0" maxOccurs="1"/>
          <xs:element name="EmployeeData" type="appoptPartyInfoInq:EmployeeData" minOccurs="0" maxOccurs="1"/>
          <xs:element name="PersonData" type="appoptPartyInfoInq:PersonData" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="OrgPartyInfo">
    <xs:annotation>
      <xs:documentation>Organization PartyInfo extension.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="appoptPartyInfoInq:PartyInfo">
        <xs:sequence>
          <xs:element name="BusinessStartDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Business Start Date</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="EconomicActivityType" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Tipo de Actividad Economica de la empresa.

- Formal
- Informal</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FirstContactDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>First Contact Date</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="FreeZoneOperation" type="xs:boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>¿Su empresa opera en Zona Franca?</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="IdGroup" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Contiene un código que identifica a las empresas de un mismo grupo</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="OrgEstablishDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Organization Establish Date.

The date the organization was established.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="ResidenceAgent" type="xs:string" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>Identificación de los agentes residentes (persona que puede representar a la empresa localmente/puede ser un abogao o una firma)</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SocCountry" type="appoptcommon:Country" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>País de operación de la sociedad</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="SocType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Tipo de Sociedad

1. Operativa
2. No Operativa</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StockQuoting" type="xs:boolean" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>¿La empresa cotiza sus acciones en la bolsa de valores?.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="StockExchange" type="appoptPartyInfoInq:StockExchange" minOccurs="0" maxOccurs="1"/>
          <xs:element name="OrgData" type="appoptPartyInfoInq:OrgData" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="StockExchange">
    <xs:annotation>
      <xs:documentation>Bolsa de valores.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Country" type="appoptcommon:Country" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>País de Ubicación de la Bolsa de Valores donde cotiza.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nombre de la Bolsa donde cotiza.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Percentage" type="xs:double" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Porcentaje de cotización en bolsa</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Relationship">
    <xs:annotation>
      <xs:documentation>Relationship of person to person. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CustomerId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número del cliente</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RelationshipType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Relationship Type. Valid values include: Officer, Empolyee, Director, Brother, Father, Mother, Parent, Self, Sibling, Sister, ....</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartyInfoInqRs" type="appoptPartyInfoInq:PartyInfoInqRs_Type"/>
  <xs:complexType name="PartyInfoInqRs_Type">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Party" type="appoptPartyInfoInq:Party" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartyInfoInqRq" type="appoptPartyInfoInq:PartyInfoInqRq_Type"/>
  <xs:complexType name="PartyInfoInqRq_Type">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="PartyData" type="appoptPartyInfoInq:PartyData" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PartyKey" type="appoptPartyInfoInq:PartyKey" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CostCenter">
    <xs:annotation>
      <xs:documentation>Centro de costos</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="CostCenterId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificador del centro de costos</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditRisk">
    <xs:annotation>
      <xs:documentation>Credit Risk.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CalcRiskClass" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Calculated Risk Class

EJ:
CA01 - Alto
CM02 - Riesgo Medio
CB03 - Riesgo Bajo
....</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ManualRiskClass" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Manual Risk Category.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EmployeeData">
    <xs:annotation>
      <xs:documentation>Specification of employee information.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EmployeeNumber" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de empleado</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Employment">
    <xs:annotation>
      <xs:documentation>Employment data aggregate.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="EmploymentStartDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Employment Start Date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GovermentId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificación Contraloría</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="JobTitle" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Posición O Cargo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrevEmploymentEndDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Previous Employment End Date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PrevEmploymentStartDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Previous Employment Start Date</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Salary" type="appoptcommon:CurAmt" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Salary</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SalaryFreq" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Salary Frequency</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SalaryRange" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Salary Range.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimeFrame" type="appoptcommon:TimeFrame" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>The period of time a person has been employed with this employer.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherIncome" type="appoptPartyInfoInq:FinancialData" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="OrgData" type="appoptPartyInfoInq:OrgData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FATCA">
    <xs:annotation>
      <xs:documentation>FATCA</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="FatcaType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de Institución Fatca.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FormId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificación del formulario.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="GreenCard" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificación Tipo GreenCard.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="OtherNationality" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Tiene usted otra nacionalidad?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="SSN" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificación tipo SSN.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TIN" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificación tipo TIN.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="US183Permanence" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Ha permanecido usted en los últimos 3 años más de 183 días en los EEUU?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="USRelated" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Está usted vinculado a algún individuo o entidad estadounidense?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="USResid" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Es usted ciudadano o residente de los Estados Unidos de América?</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="USSignor" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>¿Es usted firmante autorizado en una entidad americana?</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialData">
    <xs:annotation>
      <xs:documentation>The Financial Data aggregate is used to identify monetary figures that can be used to determine a party's financial status</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Freq" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Frequency
Valid values include: Annually, BiMonthly, Biweekly, Daily, EndOfMonth, FourWeeks, Monthly, Quarterly, SemiAnnually, TwiceMonthly, Weekly</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IncomeAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Amount of the Income.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IncomeLevel" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Income Level.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IncomeLocation" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Local
Extranjero
Ambos</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IncomeSource" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fuente de Ingresos</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IncomeType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Forma de recibir ingresos

EJ:
Depósito en efectivo. 
Depósito con cheque. 
Depósito mixto (cuasi efectivo).
Transferencias locales.
Transferencias internacionales.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Identification">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="FolioDigit" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Digito del Folio</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuedIdentType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Issued Idententification Type.

Identifier Type based on ISO 20022 definition with additions.

Valid values include: AlnRegnNb, BEI, BIC, BirthCertificate, BkPtyId, DrvrsLicNb, DUNS, EANGLN, HealthCard, IBEI, IdntyCardNb, MerchantId, Military, MplyrIdNb, NINO, NRABusiness, NRAPersonal, Other, Passbook, PermanentResidence, PrtryId, PsptNb, Retirement, SclSctyNb, TaxIdNb, USCHU, VoterRegistration.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Issued Identification Value.

Identification value associated with the identification type.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IssuedIdent">
    <xs:annotation>
      <xs:documentation>Issued Identification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExpDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Expiration Date.

Expiration Date. The date that a specific item will expire (e.g., Expiration date for a credit card, the date a bill detail URL will expire, the date and time a password expires, etc.). If a card has only month and year expiration, the last day of the month must be specified here. Specific use depends on context.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Ident" type="appoptPartyInfoInq:Identification" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identification type
Identification value</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuedLoc" type="appoptcommon:ValueType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Issue Location</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssueDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Issue Date.

Issue Date. The date that a specific item was issued (e.g., Issue date for a credit card, passport issue date.). If a card has only month and year issue date, the first day of the month must be specified here. Specific use depends on context.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
