BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/FLEXCUBE/ConsultarFLEXCUBE/XSD/ConsultarContrato_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultarContrato" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultarContrato" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="NUMERO_CONTRATO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="REFERENCIA_USUARIO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CONTRATO" type="db:FLEXBCIE.CONTRATO_TYPE" db:index="3" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="CODIGO_RESULTADO" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="TIPO_RESULTADO" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="MENSAJE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="FLEXBCIE.BALANCE_TYPE">
      <sequence>
         <element name="COMPONENTE" type="db:string200" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BALANCE" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="FLEXBCIE.CONTRATO_TYPE">
      <sequence>
         <element name="NUMERO_LINEA_CREDITO" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUMERO_CONTRATO" type="db:string35" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPCION_LINEA" type="db:string255" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONEDA" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTO_APROBADO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_CLIENTE" type="db:string9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REVOLVENCIA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FONDO" type="db:string9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LINEA_FINANCIERA" type="db:string9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESTINO" type="db:string9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_RECURSO" type="db:string9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PAIS" type="db:string9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACTIVIDAD_ECONOMICA" type="db:string9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SECTOR_INSTITUCIONAL" type="db:string9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EJECUTIVO" type="db:string9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EJE_ESTRATEGICO" type="db:string9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AREA_FOCALIZACION" type="db:string9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OBJETIVO_ESTRATEGICO" type="db:string9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PLANTILLA_LIMITE" type="db:string15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SERIAL_LIMITE" type="db:string2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SALDO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIENE_COND_ESPECIALES" type="db:string3000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESC_COND_ESPECIALES" type="db:string3000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_MAX_DESEMBOLSAR" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="TASA_MINIMA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TASA_MAXIMA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ESTADO" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_VALOR" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="FECHA_VENCIMIENTO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LISTA_BALANCE" type="db:FLEXBCIE.BALANCE_LIST_TYPE" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="FLEXBCIE.BALANCE_LIST_TYPE">
      <sequence>
         <element name="LISTA_BALANCE_ITEM" type="db:FLEXBCIE.BALANCE_TYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string16">
      <restriction base="string">
         <maxLength value="16"/>
      </restriction>
   </simpleType>
   <simpleType name="string35">
      <restriction base="string">
         <maxLength value="35"/>
      </restriction>
   </simpleType>
   <simpleType name="string255">
      <restriction base="string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string9">
      <restriction base="string">
         <maxLength value="9"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string15">
      <restriction base="string">
         <maxLength value="15"/>
      </restriction>
   </simpleType>
   <simpleType name="string2">
      <restriction base="string">
         <maxLength value="2"/>
      </restriction>
   </simpleType>
   <simpleType name="string3000">
      <restriction base="string">
         <maxLength value="3000"/>
      </restriction>
   </simpleType>
   <simpleType name="string200">
      <restriction base="string">
         <maxLength value="200"/>
      </restriction>
   </simpleType>
</schema>