BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioProducto/Producto/V1/Wsdl/Producto.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="Producto" targetNamespace="http://xmlns.bcie.com/ProductoService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:prodMO="http://www.bcie.org/ProductoMO"
                  xmlns:tns="http://xmlns.bcie.com/ProductoService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/ProductoMO" schemaLocation="../Schema/ProductoMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <!-- Create -->
  <wsdl:message name="requestCrearProductoMessage">
    <wsdl:part name="request" element="prodMO:CrearProductoRequest"/>
  </wsdl:message>
  <wsdl:message name="responseCrearProductoMessage">
    <wsdl:part name="response" element="prodMO:CrearProductoResponse"/>
  </wsdl:message>
  <!-- Read -->
  <wsdl:message name="requestConsultarByIdProductoMessage">
    <wsdl:part name="request" element="prodMO:ConsultarProductoByIdProductoRequest"/>
  </wsdl:message>
  <wsdl:message name="requestConsultarByIdOperacionMessage">
    <wsdl:part name="request" element="prodMO:ConsultarProductoByIdOperacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarByIdOperacionMessage">
    <wsdl:part name="response" element="prodMO:ConsultarProductoByIdOperacionResponse"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarProductoMessage">
    <wsdl:part name="response" element="prodMO:ConsultarProductoResponse"/>
  </wsdl:message>
  <!-- Update -->
  <wsdl:message name="requestActualizarProductoMessage">
    <wsdl:part name="request" element="prodMO:ActualizarProductoResponse"/>
  </wsdl:message>
  <wsdl:message name="responseActualizarProductoMessage">
    <wsdl:part name="response" element="prodMO:ActualizarProductoResponse"/>
  </wsdl:message>
  <!-- Delete -->
  <wsdl:message name="requestEliminarProductoMessage">
    <wsdl:part name="request" element="prodMO:EliminarProductoResponse"/>
  </wsdl:message>
  <wsdl:message name="responseEliminarProductoMessage">
    <wsdl:part name="response" element="prodMO:EliminarProductoResponse"/>
  </wsdl:message> 
  <wsdl:message name="requestObtenerTareasProductoMessage">
    <wsdl:part name="request" element="prodMO:ObtenerTareasProductoRequest"/>
  </wsdl:message>
  <wsdl:message name="responseObtenerTareasProductoMessage">
    <wsdl:part name="response" element="prodMO:ObtenerTareasProductoResponse"/>
  </wsdl:message>
  <wsdl:portType name="ProductoPT">
    <!-- Create -->
    <wsdl:operation name="crear">
      <wsdl:documentation>Crea un nuevo producto</wsdl:documentation>
      <wsdl:input message="tns:requestCrearProductoMessage"/>
    </wsdl:operation>
    <!-- Read -->
    <wsdl:operation name="consultarByIdProducto">
      <wsdl:documentation>Consulta uno Producto por id del Producto</wsdl:documentation>
      <wsdl:input message="tns:requestConsultarByIdProductoMessage"/>
      <wsdl:output message="tns:responseConsultarProductoMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarByIdOperacion">
      <wsdl:documentation>Lista todos los Productos pertenenciendes a un tipo de operación operación</wsdl:documentation>
      <wsdl:input message="tns:requestConsultarByIdOperacionMessage"/>
      <wsdl:output message="tns:responseConsultarByIdOperacionMessage"/>
    </wsdl:operation>
    <!-- Update -->
    <wsdl:operation name="actualizarProducto">
      <wsdl:documentation>Actualiza un producto</wsdl:documentation>
      <wsdl:input message="tns:requestActualizarProductoMessage"/>
      <wsdl:output message="tns:responseActualizarProductoMessage"/>
    </wsdl:operation>
    <!-- Delete -->
    <wsdl:operation name="eliminarProducto">
      <wsdl:documentation>Inactiva un producto</wsdl:documentation>
      <wsdl:input message="tns:requestEliminarProductoMessage"/>
      <wsdl:output message="tns:responseEliminarProductoMessage"/>
    </wsdl:operation>
      <!-- ObtenerTareasProducto -->
  <wsdl:operation name="obtenerTareasProducto">
      <wsdl:documentation>Obtener Tareas de Producto</wsdl:documentation>
      <wsdl:input message="tns:requestObtenerTareasProductoMessage"/>
      <wsdl:output message="tns:responseObtenerTareasProductoMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Producto12Bnd" type="tns:ProductoPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crear">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ProductoService/crear"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="consultarByIdProducto">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ProductoService/consultarByIdProducto"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarByIdOperacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ProductoService/consultarByIdOperacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarProducto">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ProductoService/actualizarProducto"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarProducto">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ProductoService/eliminarProducto"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
        <wsdl:operation name="obtenerTareasProducto">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ProductoService/obtenerTareasProducto"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>
