AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Applications/JDA/JDAPriceChange/Resources/XMLSchema_1528566349.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://pricechange.core.jda.ea.agarcia.mx/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pricechange.core.jda.ea.agarcia.mx/"><xsd:complexType name="APIException"><xsd:sequence><xsd:element name="message" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="saveEvent"><xsd:sequence><xsd:element name="eventID" type="xsd:string" minOccurs="0"/><xsd:element name="priceChangeData" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:complexType name="saveEventResponse"><xsd:sequence><xsd:element name="return" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType><xsd:element name="APIException" type="ns0:APIException"/><xsd:element name="saveEvent" type="ns0:saveEvent"/><xsd:element name="saveEventResponse" type="ns0:saveEventResponse"/></xsd:schema>