Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/CardCr/CardCrTransferAdd/CardCrTransferAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/CardCrTransferAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptCardCrTransferAdd="http://xmlns.banesco.com/eopt/CardCrTransferAdd_V1.0" xmlns:eoBank="http://xmlns.banesco.com/eo/Banking_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" xmlns:eoTrn="http://xmlns.banesco.com/eo/Trn_V1.0" xmlns:eoBill="http://xmlns.banesco.com/eo/Bill_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Bill_V1.0" schemaLocation="../../../EO/Pmt/Bill_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Trn_V1.0" schemaLocation="../../../EO/Banking/Trn_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Banking_V1.0" schemaLocation="../../../EO/Banking/Banking_V1.0.xsd"/>
	<xs:complexType name="CardCrTransferAddRs_Type">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="FIData" type="eoBank:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Trn" type="eoTrn:Trn" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardCrTransferAddRs" type="eoptCardCrTransferAdd:CardCrTransferAddRs_Type"/>
	<xs:complexType name="CardCrTransferAddRq_Type">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Biller" type="eoBill:Biller" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIData" type="eoBank:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Trn" type="eoTrn:Trn" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardCrTransferAddRq" type="eoptCardCrTransferAdd:CardCrTransferAddRq_Type"/>
</xs:schema>
