BCIE_fenix/features/MCP/5003/SOA/03-SOA-SERVICES/DominioOperacion/AdquisicionesWeb/SOA/Schemas/CatalogoBO.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org" targetNamespace="http://www.bcie.org/CatalogoBO" elementFormDefault="qualified">
   <xsd:simpleType name="idCatalogo">
      <xsd:restriction base="xsd:long">
         <xsd:minInclusive value="0"/>
         <xsd:totalDigits value="5"/>
      </xsd:restriction>
   </xsd:simpleType>
   <xsd:complexType name="Catalogo">
      <xsd:sequence>
         <xsd:element name="Id" type="xsd:long" minOccurs="0"/>
         <xsd:element name="Descripcion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="DescripcionCorta" type="xsd:string" minOccurs="0"/>
         <xsd:element name="estatus" type="xsd:boolean" minOccurs="0"/>
         <xsd:element name="codigoExterno" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="NoCatalogo">
      <xsd:sequence>
         <xsd:element name="Id" type="xsd:long" minOccurs="0"/>
         <xsd:element name="Descripcion" type="xsd:string" minOccurs="0"/>
         <xsd:element name="DescripcionCorta" type="xsd:string" minOccurs="0"/>
         <xsd:element name="estatus" type="xsd:boolean" minOccurs="0"/>
         <xsd:element name="codigoExterno" type="xsd:string" minOccurs="0"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
