AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ReturnToVendorApp/SyncReturnToVendorJDAAdapterService/Resources/Schemas/ReturnToVendorJDAResponse.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/JDA/DevolucionAProveedor"
            targetNamespace="http://www.agarcia.mx/JDA/DevolucionAProveedor" elementFormDefault="qualified"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
  <xsd:element name="DevolucionAProveedorResponse">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Mensaje" type="xsd:string"/>
        <xsd:element name="Fecha" type="xsd:string"/>
        <xsd:element name="Code" type="xsd:integer"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:annotation xmlns="">
    <xsd:appinfo>NXSDSAMPLE=C:\RepositoriosBITBUCKET\ALMACENES_GARCIA\osb\OSBAGApp\ReturnToVendorApp\SyncReturnToVendorJDAAdapterService\Resources\Schemas\ReturnToVendorPayloadResponse.json</xsd:appinfo>
    <xsd:appinfo>USEHEADER=false</xsd:appinfo>
  </xsd:annotation>
</xsd:schema>