Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/BanAAAdditionalInfoLoan/BANAAADDITIONALINFOType.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
            xmlns:ns0="http://www.temenos.com/T24/ofs/BANAAADDITIONALINFOType" xmlns:xdb="http://xmlns.oracle.com/xdb"
            targetNamespace="http://www.temenos.com/T24/ofs/BANAAADDITIONALINFOType" xdb:storeVarrayAsTable="true">
  <!-- This T24 XML Schema automatically produced -->
  <!-- Copyright Temenos Holdings NV 2018-->
  <!-- T24 Application: BAN.AA.ADDITIONAL.INFO -->
  <!-- T24 Release: R16 -->
  <!-- Production timestamp: 11:22:03 29 AUG 2018 -->
  <xsd:element name="BANAAADDITIONALINFO" type="ns0:BANAAADDITIONALINFOType">
    <xsd:annotation>
      <xsd:documentation>This is the top level element for the record data</xsd:documentation>
      <xsd:appinfo>
        <hfp:hasProperty name="locked" value="no"/>
        <hfp:hasProperty name="useschema" value="no"/>
        <hfp:hasProperty name="register" value="no"/>
        <hfp:hasProperty name="aaPropertyName" value=""/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="BANAAADDITIONALINFOType" xdb:maintainDOM="false">
    <xsd:annotation>
      <xsd:documentation>This complex type represents the T24 data for the BAN.AA.ADDITIONAL.INFO table</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element id="MORT.PCPAL" minOccurs="0" name="MORTPCPAL" nillable="true" xdb:SQLName="MORT_PCPAL">
        <xsd:annotation>
          <xsd:documentation>MORT.PCPAL</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="MORT.PCPAL"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="INT.DAILY" minOccurs="0" name="INTDAILY" nillable="true" xdb:SQLName="INT_DAILY">
        <xsd:annotation>
          <xsd:documentation>INT.DAILY</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="INT.DAILY"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="18"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="CRED.PAYROLL" minOccurs="0" name="CREDPAYROLL" nillable="true" xdb:SQLName="CRED_PAYROLL">
        <xsd:annotation>
          <xsd:documentation>CRED.PAYROLL</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="CRED.PAYROLL"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="FINAL.EXTENSION.DT" minOccurs="0" name="FINALEXTENSIONDT" nillable="true"
                   xdb:SQLName="FINAL_EXTENSION_DT">
        <xsd:annotation>
          <xsd:documentation>FINAL.EXTENSION.DT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="FINAL.EXTENSION.DT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="EXP.DOCMNT" minOccurs="0" name="EXPDOCMNT" nillable="true" xdb:SQLName="EXP_DOCMNT">
        <xsd:annotation>
          <xsd:documentation>EXP.DOCMNT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="EXP.DOCMNT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="LEAD.BANK" minOccurs="0" name="LEADBANK" nillable="true" xdb:SQLName="LEAD_BANK">
        <xsd:annotation>
          <xsd:documentation>LEAD.BANK</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="LEAD.BANK"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="CRED.TRUSTEE" minOccurs="0" name="CREDTRUSTEE" nillable="true" xdb:SQLName="CRED_TRUSTEE">
        <xsd:annotation>
          <xsd:documentation>CRED.TRUSTEE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="CRED.TRUSTEE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="TC.ASSOCIATED" minOccurs="0" name="TCASSOCIATED" nillable="true" xdb:SQLName="TC_ASSOCIATED">
        <xsd:annotation>
          <xsd:documentation>TC.ASSOCIATED</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="TC.ASSOCIATED"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RATE.PROMO" minOccurs="0" name="RATEPROMO" nillable="true" xdb:SQLName="RATE_PROMO">
        <xsd:annotation>
          <xsd:documentation>RATE.PROMO</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RATE.PROMO"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="STRT.PROMO" minOccurs="0" name="STRTPROMO" nillable="true" xdb:SQLName="STRT_PROMO">
        <xsd:annotation>
          <xsd:documentation>STRT.PROMO</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="STRT.PROMO"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="EXP.PROMO" minOccurs="0" name="EXPPROMO" nillable="true" xdb:SQLName="EXP_PROMO">
        <xsd:annotation>
          <xsd:documentation>EXP.PROMO</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="EXP.PROMO"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="EXP.DATE" minOccurs="0" name="EXPDATE" nillable="true" type="xsd:date" xdb:SQLName="EXP_DATE">
        <xsd:annotation>
          <xsd:documentation>EXP.DATE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="EXP.DATE"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element id="REF.DATE" minOccurs="0" name="REFDATE" nillable="true" type="xsd:date" xdb:SQLName="REF_DATE">
        <xsd:annotation>
          <xsd:documentation>REF.DATE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="REF.DATE"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element id="REST.DATE" minOccurs="0" name="RESTDATE" nillable="true" type="xsd:date" xdb:SQLName="REST_DATE">
        <xsd:annotation>
          <xsd:documentation>REST.DATE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="REST.DATE"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element id="EXP.RESTR" minOccurs="0" name="EXPRESTR" nillable="true" type="xsd:date" xdb:SQLName="EXP_RESTR">
        <xsd:annotation>
          <xsd:documentation>EXP.RESTR</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="EXP.RESTR"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element id="DSTN.CREDIT" minOccurs="0" name="DSTNCREDIT" nillable="true" xdb:SQLName="DSTN_CREDIT">
        <xsd:annotation>
          <xsd:documentation>DSTN.CREDIT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="DSTN.CREDIT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="10"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="COUN.RISK" minOccurs="0" name="COUNRISK" nillable="true" xdb:SQLName="COUN_RISK">
        <xsd:annotation>
          <xsd:documentation>COUN.RISK</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="COUN.RISK"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="USE.FOUND" minOccurs="0" name="USEFOUND" nillable="true" xdb:SQLName="USE_FOUND">
        <xsd:annotation>
          <xsd:documentation>USE.FOUND</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="USE.FOUND"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="24"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="OBS.APC" minOccurs="0" name="OBSAPC" nillable="true" xdb:SQLName="OBS_APC">
        <xsd:annotation>
          <xsd:documentation>OBS.APC</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="OBS.APC"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="22"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="PA.PAYM.TYPE" minOccurs="0" name="PAPAYMTYPE" nillable="true" xdb:SQLName="PA_PAYM_TYPE">
        <xsd:annotation>
          <xsd:documentation>PA.PAYM.TYPE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="PA.PAYM.TYPE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="FTAS.SALE" minOccurs="0" name="FTASSALE" nillable="true" xdb:SQLName="FTAS_SALE">
        <xsd:annotation>
          <xsd:documentation>FTAS.SALE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="FTAS.SALE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="24"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="PA.AUTONOMIAS" minOccurs="0" name="PAAUTONOMIAS" nillable="true" xdb:SQLName="PA_AUTONOMIAS">
        <xsd:annotation>
          <xsd:documentation>PA.AUTONOMIAS</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="PA.AUTONOMIAS"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="PORC.OWNER" minOccurs="0" name="PORCOWNER" nillable="true" xdb:SQLName="PORC_OWNER">
        <xsd:annotation>
          <xsd:documentation>PORC.OWNER</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="PORC.OWNER"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="CODE.OBLIGATION" minOccurs="0" name="CODEOBLIGATION" nillable="true"
                   xdb:SQLName="CODE_OBLIGATION">
        <xsd:annotation>
          <xsd:documentation>CODE.OBLIGATION</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="CODE.OBLIGATION"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AUTONOMY.APROBATION" minOccurs="0" name="AUTONOMYAPROBATION" nillable="true"
                   xdb:SQLName="AUTONOMY_APROBATION">
        <xsd:annotation>
          <xsd:documentation>AUTONOMY.APROBATION</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="AUTONOMY.APROBATION"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="PRODUCT.SERVICE" minOccurs="0" name="PRODUCTSERVICE" nillable="true"
                   xdb:SQLName="PRODUCT_SERVICE">
        <xsd:annotation>
          <xsd:documentation>PRODUCT.SERVICE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="PRODUCT.SERVICE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="CREDIT.TYPE" minOccurs="0" name="CREDITTYPE" nillable="true" xdb:SQLName="CREDIT_TYPE">
        <xsd:annotation>
          <xsd:documentation>CREDIT.TYPE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="CREDIT.TYPE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="CREDIT.DESTINY" minOccurs="0" name="CREDITDESTINY" nillable="true" xdb:SQLName="CREDIT_DESTINY">
        <xsd:annotation>
          <xsd:documentation>CREDIT.DESTINY</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="CREDIT.DESTINY"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="30"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="CREDIT.ESTRUCTURE" minOccurs="0" name="CREDITESTRUCTURE" nillable="true"
                   xdb:SQLName="CREDIT_ESTRUCTURE">
        <xsd:annotation>
          <xsd:documentation>CREDIT.ESTRUCTURE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="CREDIT.ESTRUCTURE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="STRT.CREDIT" minOccurs="0" name="STRTCREDIT" nillable="true" xdb:SQLName="STRT_CREDIT">
        <xsd:annotation>
          <xsd:documentation>STRT.CREDIT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="STRT.CREDIT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="2"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="CODE.FACILITY" minOccurs="0" name="CODEFACILITY" nillable="true" xdb:SQLName="CODE_FACILITY">
        <xsd:annotation>
          <xsd:documentation>CODE.FACILITY</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="CODE.FACILITY"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESOURCE.ORIG" minOccurs="0" name="RESOURCEORIG" nillable="true" xdb:SQLName="RESOURCE_ORIG">
        <xsd:annotation>
          <xsd:documentation>RESOURCE.ORIG</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESOURCE.ORIG"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="REASON.SERV" minOccurs="0" name="REASONSERV" nillable="true" xdb:SQLName="REASON_SERV">
        <xsd:annotation>
          <xsd:documentation>REASON.SERV</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="REASON.SERV"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="USE.ACCT.PA" minOccurs="0" name="USEACCTPA" nillable="true" xdb:SQLName="USE_ACCT_PA">
        <xsd:annotation>
          <xsd:documentation>USE.ACCT.PA</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="USE.ACCT.PA"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="USE.ACCT.RD" minOccurs="0" name="USEACCTRD" nillable="true" xdb:SQLName="USE_ACCT_RD">
        <xsd:annotation>
          <xsd:documentation>USE.ACCT.RD</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="USE.ACCT.RD"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="USE.ACCT.VE" minOccurs="0" name="USEACCTVE" nillable="true" xdb:SQLName="USE_ACCT_VE">
        <xsd:annotation>
          <xsd:documentation>USE.ACCT.VE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="USE.ACCT.VE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NO.DEP.CASH" minOccurs="0" name="NODEPCASH" nillable="true" xdb:SQLName="NO_DEP_CASH">
        <xsd:annotation>
          <xsd:documentation>NO.DEP.CASH</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NO.DEP.CASH"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.DEP.CASH" minOccurs="0" name="AMTDEPCASH" nillable="true" xdb:SQLName="AMT_DEP_CASH">
        <xsd:annotation>
          <xsd:documentation>AMT.DEP.CASH</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="AMT.DEP.CASH"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NO.WTWL.CASH" minOccurs="0" name="NOWTWLCASH" nillable="true" xdb:SQLName="NO_WTWL_CASH">
        <xsd:annotation>
          <xsd:documentation>NO.WTWL.CASH</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NO.WTWL.CASH"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.WTW.CASH" minOccurs="0" name="AMTWTWCASH" nillable="true" xdb:SQLName="AMT_WTW_CASH">
        <xsd:annotation>
          <xsd:documentation>AMT.WTW.CASH</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="AMT.WTW.CASH"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NO.DEP.OTH" minOccurs="0" name="NODEPOTH" nillable="true" xdb:SQLName="NO_DEP_OTH">
        <xsd:annotation>
          <xsd:documentation>NO.DEP.OTH</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NO.DEP.OTH"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="DEP.OTHERS" minOccurs="0" name="DEPOTHERS" nillable="true" xdb:SQLName="DEP_OTHERS">
        <xsd:annotation>
          <xsd:documentation>DEP.OTHERS</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="DEP.OTHERS"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NO.PAY.CHQ" minOccurs="0" name="NOPAYCHQ" nillable="true" xdb:SQLName="NO_PAY_CHQ">
        <xsd:annotation>
          <xsd:documentation>NO.PAY.CHQ</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NO.PAY.CHQ"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.PAY.CHQ" minOccurs="0" name="AMTPAYCHQ" nillable="true" xdb:SQLName="AMT_PAY_CHQ">
        <xsd:annotation>
          <xsd:documentation>AMT.PAY.CHQ</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="AMT.PAY.CHQ"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NO.TRNSF.SND" minOccurs="0" name="NOTRNSFSND" nillable="true" xdb:SQLName="NO_TRNSF_SND">
        <xsd:annotation>
          <xsd:documentation>NO.TRNSF.SND</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NO.TRNSF.SND"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.TRNSF.SND" minOccurs="0" name="AMTTRNSFSND" nillable="true" xdb:SQLName="AMT_TRNSF_SND">
        <xsd:annotation>
          <xsd:documentation>AMT.TRNSF.SND</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="AMT.TRNSF.SND"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NO.TRNSF.REC" minOccurs="0" name="NOTRNSFREC" nillable="true" xdb:SQLName="NO_TRNSF_REC">
        <xsd:annotation>
          <xsd:documentation>NO.TRNSF.REC</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NO.TRNSF.REC"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.TRNSF.REC" minOccurs="0" name="AMTTRNSFREC" nillable="true" xdb:SQLName="AMT_TRNSF_REC">
        <xsd:annotation>
          <xsd:documentation>AMT.TRNSF.REC</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="AMT.TRNSF.REC"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="TYPE.ACT.SIB" minOccurs="0" name="TYPEACTSIB" nillable="true" xdb:SQLName="TYPE_ACT_SIB">
        <xsd:annotation>
          <xsd:documentation>TYPE.ACT.SIB</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="TYPE.ACT.SIB"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="COUNTRY.RISK" minOccurs="0" name="COUNTRYRISK" nillable="true" xdb:SQLName="COUNTRY_RISK">
        <xsd:annotation>
          <xsd:documentation>COUNTRY.RISK</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="COUNTRY.RISK"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="9"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.GOAL" minOccurs="0" name="AMTGOAL" nillable="true" xdb:SQLName="AMT_GOAL">
        <xsd:annotation>
          <xsd:documentation>AMT.GOAL</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="AMT.GOAL"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NO.CHQS" minOccurs="0" name="NOCHQS" nillable="true" xdb:SQLName="NO_CHQS">
        <xsd:annotation>
          <xsd:documentation>NO.CHQS</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NO.CHQS"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="OPEN.MODE.PA" minOccurs="0" name="OPENMODEPA" nillable="true" xdb:SQLName="OPEN_MODE_PA">
        <xsd:annotation>
          <xsd:documentation>OPEN.MODE.PA</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="OPEN.MODE.PA"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="OPEN.MODE.VE" minOccurs="0" name="OPENMODEVE" nillable="true" xdb:SQLName="OPEN_MODE_VE">
        <xsd:annotation>
          <xsd:documentation>OPEN.MODE.VE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="OPEN.MODE.VE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="SR.TRNSF.EXT.RP" minOccurs="0" name="SRTRNSFEXTRP" nillable="true" xdb:SQLName="SR_TRNSF_EXT_RP">
        <xsd:annotation>
          <xsd:documentation>SR.TRNSF.EXT.RP</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="SR.TRNSF.EXT.RP"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gTRNSFCOUNTRYINT">
        <xsd:complexType xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element id="TRNSF.COUNTRY.INT" maxOccurs="unbounded" minOccurs="0" name="TRNSFCOUNTRYINT"
                         nillable="true" xdb:SQLName="TRNSF_COUNTRY_INT">
              <xsd:annotation>
                <xsd:documentation>TRNSF.COUNTRY.INT</xsd:documentation>
                <xsd:appinfo>
                  <hfp:hasProperty name="fielddatatype" value="string"/>
                  <hfp:hasProperty name="fieldname" value="TRNSF.COUNTRY.INT"/>
                </xsd:appinfo>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="9"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element id="FUNDS.OU.ACC.PA" minOccurs="0" name="FUNDSOUACCPA" nillable="true" xdb:SQLName="FUNDS_OU_ACC_PA">
        <xsd:annotation>
          <xsd:documentation>FUNDS.OU.ACC.PA</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="FUNDS.OU.ACC.PA"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="FUNDS.OU.ACC.RD" minOccurs="0" name="FUNDSOUACCRD" nillable="true" xdb:SQLName="FUNDS_OU_ACC_RD">
        <xsd:annotation>
          <xsd:documentation>FUNDS.OU.ACC.RD</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="FUNDS.OU.ACC.RD"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="FUNDS.OU.ACC.VE" minOccurs="0" name="FUNDSOUACCVE" nillable="true" xdb:SQLName="FUNDS_OU_ACC_VE">
        <xsd:annotation>
          <xsd:documentation>FUNDS.OU.ACC.VE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="FUNDS.OU.ACC.VE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.OPENNING" minOccurs="0" name="AMTOPENNING" nillable="true" xdb:SQLName="AMT_OPENNING">
        <xsd:annotation>
          <xsd:documentation>AMT.OPENNING</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="AMT.OPENNING"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="PROP.ACCT" minOccurs="0" name="PROPACCT" nillable="true" xdb:SQLName="PROP_ACCT">
        <xsd:annotation>
          <xsd:documentation>PROP.ACCT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="PROP.ACCT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NO.DEPOSITS" minOccurs="0" name="NODEPOSITS" nillable="true" xdb:SQLName="NO_DEPOSITS">
        <xsd:annotation>
          <xsd:documentation>NO.DEPOSITS</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NO.DEPOSITS"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NO.WITHDRAWL" minOccurs="0" name="NOWITHDRAWL" nillable="true" xdb:SQLName="NO_WITHDRAWL">
        <xsd:annotation>
          <xsd:documentation>NO.WITHDRAWL</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NO.WITHDRAWL"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NO.BOL.BE" minOccurs="0" name="NOBOLBE" nillable="true" xdb:SQLName="NO_BOL_BE">
        <xsd:annotation>
          <xsd:documentation>NO.BOL.BE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NO.BOL.BE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.BOL.BE" minOccurs="0" name="AMTBOLBE" nillable="true" xdb:SQLName="AMT_BOL_BE">
        <xsd:annotation>
          <xsd:documentation>AMT.BOL.BE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="AMT.BOL.BE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NO.PMONTH.DEP" minOccurs="0" name="NOPMONTHDEP" nillable="true" xdb:SQLName="NO_PMONTH_DEP">
        <xsd:annotation>
          <xsd:documentation>NO.PMONTH.DEP</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NO.PMONTH.DEP"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.PMONTH.MNG" minOccurs="0" name="AMTPMONTHMNG" nillable="true" xdb:SQLName="AMT_PMONTH_MNG">
        <xsd:annotation>
          <xsd:documentation>AMT.PMONTH.MNG</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="AMT.PMONTH.MNG"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.DEP.CASH.2" minOccurs="0" name="AMTDEPCASH2" nillable="true" xdb:SQLName="AMT_DEP_CASH_2">
        <xsd:annotation>
          <xsd:documentation>AMT.DEP.CASH.2</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="AMT.DEP.CASH.2"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.WDW.CASH" minOccurs="0" name="AMTWDWCASH" nillable="true" xdb:SQLName="AMT_WDW_CASH">
        <xsd:annotation>
          <xsd:documentation>AMT.WDW.CASH</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="AMT.WDW.CASH"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.TOT.PMD" minOccurs="0" name="AMTTOTPMD" nillable="true" xdb:SQLName="AMT_TOT_PMD">
        <xsd:annotation>
          <xsd:documentation>AMT.TOT.PMD</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="AMT.TOT.PMD"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="PREC.MD.CH" minOccurs="0" name="PRECMDCH" nillable="true" xdb:SQLName="PREC_MD_CH">
        <xsd:annotation>
          <xsd:documentation>PREC.MD.CH</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="PREC.MD.CH"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.TOT.ING" minOccurs="0" name="AMTTOTING" nillable="true" xdb:SQLName="AMT_TOT_ING">
        <xsd:annotation>
          <xsd:documentation>AMT.TOT.ING</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="AMT.TOT.ING"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="LB.NAME.YOUNGER" minOccurs="0" name="LBNAMEYOUNGER" nillable="true"
                   xdb:SQLName="LB_NAME_YOUNGER">
        <xsd:annotation>
          <xsd:documentation>LB.NAME.YOUNGER</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="LB.NAME.YOUNGER"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="LB.FOLIO.YOUNGER" minOccurs="0" name="LBFOLIOYOUNGER" nillable="true"
                   xdb:SQLName="LB_FOLIO_YOUNGER">
        <xsd:annotation>
          <xsd:documentation>LB.FOLIO.YOUNGER</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="LB.FOLIO.YOUNGER"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="LB.WRITTEN.YOUNGER" minOccurs="0" name="LBWRITTENYOUNGER" nillable="true"
                   xdb:SQLName="LB_WRITTEN_YOUNGER">
        <xsd:annotation>
          <xsd:documentation>LB.WRITTEN.YOUNGER</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="LB.WRITTEN.YOUNGER"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="LB.BOOK.YOUNGER" minOccurs="0" name="LBBOOKYOUNGER" nillable="true"
                   xdb:SQLName="LB_BOOK_YOUNGER">
        <xsd:annotation>
          <xsd:documentation>LB.BOOK.YOUNGER</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="LB.BOOK.YOUNGER"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="15"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="LB.COUNTRY.BIRTH.YOUNG" minOccurs="0" name="LBCOUNTRYBIRTHYOUNG" nillable="true"
                   xdb:SQLName="LB_COUNTRY_BIRTH_YOUNG">
        <xsd:annotation>
          <xsd:documentation>LB.COUNTRY.BIRTH.YOUNG</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="LB.COUNTRY.BIRTH.YOUNG"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="LB.RELATIONSHIP.YOUNGE" minOccurs="0" name="LBRELATIONSHIPYOUNGE" nillable="true"
                   xdb:SQLName="LB_RELATIONSHIP_YOUNGE">
        <xsd:annotation>
          <xsd:documentation>LB.RELATIONSHIP.YOUNGE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="LB.RELATIONSHIP.YOUNGE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="25"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="DAYS.OVERDRAFT" minOccurs="0" name="DAYSOVERDRAFT" nillable="true" xdb:SQLName="DAYS_OVERDRAFT">
        <xsd:annotation>
          <xsd:documentation>DAYS.OVERDRAFT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="DAYS.OVERDRAFT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="SEAL" minOccurs="0" name="SEAL" nillable="true" xdb:SQLName="SEAL">
        <xsd:annotation>
          <xsd:documentation>SEAL</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="SEAL"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="REFERENCE" minOccurs="0" name="REFERENCE" nillable="true" xdb:SQLName="REFERENCE">
        <xsd:annotation>
          <xsd:documentation>REFERENCE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="REFERENCE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="DATE.LAST.OVD" minOccurs="0" name="DATELASTOVD" nillable="true" type="xsd:date"
                   xdb:SQLName="DATE_LAST_OVD">
        <xsd:annotation>
          <xsd:documentation>DATE.LAST.OVD</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="DATE.LAST.OVD"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element id="OPEN.MODE.RD" minOccurs="0" name="OPENMODERD" nillable="true" xdb:SQLName="OPEN_MODE_RD">
        <xsd:annotation>
          <xsd:documentation>OPEN.MODE.RD</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="OPEN.MODE.RD"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.DEP.CASH.VE" minOccurs="0" name="AMTDEPCASHVE" nillable="true" xdb:SQLName="AMT_DEP_CASH_VE">
        <xsd:annotation>
          <xsd:documentation>AMT.DEP.CASH.VE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="AMT.DEP.CASH.VE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="SR.TRNSF.EXT.ACH" minOccurs="0" name="SRTRNSFEXTACH" nillable="true"
                   xdb:SQLName="SR_TRNSF_EXT_ACH">
        <xsd:annotation>
          <xsd:documentation>SR.TRNSF.EXT.ACH</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="SR.TRNSF.EXT.ACH"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NO.TRNSF.SND.ACH" minOccurs="0" name="NOTRNSFSNDACH" nillable="true"
                   xdb:SQLName="NO_TRNSF_SND_ACH">
        <xsd:annotation>
          <xsd:documentation>NO.TRNSF.SND.ACH</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NO.TRNSF.SND.ACH"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.TRNSF.SND.ACH" minOccurs="0" name="AMTTRNSFSNDACH" nillable="true"
                   xdb:SQLName="AMT_TRNSF_SND_ACH">
        <xsd:annotation>
          <xsd:documentation>AMT.TRNSF.SND.ACH</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="AMT.TRNSF.SND.ACH"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NO.TRNSF.REC.ACH" minOccurs="0" name="NOTRNSFRECACH" nillable="true"
                   xdb:SQLName="NO_TRNSF_REC_ACH">
        <xsd:annotation>
          <xsd:documentation>NO.TRNSF.REC.ACH</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NO.TRNSF.REC.ACH"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="5"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.TRNSF.REC.ACH" minOccurs="0" name="AMTTRNSFRECACH" nillable="true"
                   xdb:SQLName="AMT_TRNSF_REC_ACH">
        <xsd:annotation>
          <xsd:documentation>AMT.TRNSF.REC.ACH</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="AMT.TRNSF.REC.ACH"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NO.TRSF.SND.EXT" minOccurs="0" name="NOTRSFSNDEXT" nillable="true" xdb:SQLName="NO_TRSF_SND_EXT">
        <xsd:annotation>
          <xsd:documentation>NO.TRSF.SND.EXT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NO.TRSF.SND.EXT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.TRN.SND.EXT" minOccurs="0" name="AMTTRNSNDEXT" nillable="true" xdb:SQLName="AMT_TRN_SND_EXT">
        <xsd:annotation>
          <xsd:documentation>AMT.TRN.SND.EXT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="AMT.TRN.SND.EXT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NO.TRSF.REC.EXT" minOccurs="0" name="NOTRSFRECEXT" nillable="true" xdb:SQLName="NO_TRSF_REC_EXT">
        <xsd:annotation>
          <xsd:documentation>NO.TRSF.REC.EXT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NO.TRSF.REC.EXT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="6"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AMT.TRN.REC.EXT" minOccurs="0" name="AMTTRNRECEXT" nillable="true" xdb:SQLName="AMT_TRN_REC_EXT">
        <xsd:annotation>
          <xsd:documentation>AMT.TRN.REC.EXT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="AMT.TRN.REC.EXT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gTRANSFERTYPE">
        <xsd:complexType xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element maxOccurs="unbounded" minOccurs="0" name="mTRANSFERTYPE">
              <xsd:complexType xdb:maintainDOM="false">
                <xsd:sequence minOccurs="0">
                  <xsd:element id="TRANSFER.TYPE" minOccurs="0" name="TRANSFERTYPE" nillable="true"
                               xdb:SQLName="TRANSFER_TYPE">
                    <xsd:annotation>
                      <xsd:documentation>TRANSFER.TYPE</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="TRANSFER.TYPE"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string">
                        <xsd:maxLength value="35"/>
                      </xsd:restriction>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="RESERVED.1.5" minOccurs="0" name="RESERVED15" nillable="true"
                               xdb:SQLName="RESERVED_1_5">
                    <xsd:annotation>
                      <xsd:documentation>RESERVED.1.5</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="RESERVED.1.5"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="RESERVED.1.4" minOccurs="0" name="RESERVED14" nillable="true"
                               xdb:SQLName="RESERVED_1_4">
                    <xsd:annotation>
                      <xsd:documentation>RESERVED.1.4</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="RESERVED.1.4"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="RESERVED.1.3" minOccurs="0" name="RESERVED13" nillable="true"
                               xdb:SQLName="RESERVED_1_3">
                    <xsd:annotation>
                      <xsd:documentation>RESERVED.1.3</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="RESERVED.1.3"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="RESERVED.1.2" minOccurs="0" name="RESERVED12" nillable="true"
                               xdb:SQLName="RESERVED_1_2">
                    <xsd:annotation>
                      <xsd:documentation>RESERVED.1.2</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="RESERVED.1.2"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element id="RESERVED.1.1" minOccurs="0" name="RESERVED11" nillable="true"
                               xdb:SQLName="RESERVED_1_1">
                    <xsd:annotation>
                      <xsd:documentation>RESERVED.1.1</xsd:documentation>
                      <xsd:appinfo>
                        <hfp:hasProperty name="fielddatatype" value="string"/>
                        <hfp:hasProperty name="fieldname" value="RESERVED.1.1"/>
                      </xsd:appinfo>
                    </xsd:annotation>
                    <xsd:simpleType>
                      <xsd:restriction base="xsd:string"/>
                    </xsd:simpleType>
                  </xsd:element>
                  <xsd:element minOccurs="0" name="sgCOUNTRY">
                    <xsd:complexType xdb:SQLType="sgBANAAADDITIONALINFOCountry" xdb:maintainDOM="false">
                      <xsd:sequence minOccurs="0">
                        <xsd:element maxOccurs="unbounded" minOccurs="0" name="COUNTRY">
                          <xsd:complexType xdb:SQLType="sBANAAADDITIONALINFOCountry" xdb:maintainDOM="false">
                            <xsd:sequence minOccurs="0">
                              <xsd:element id="COUNTRY" minOccurs="0" name="COUNTRY" nillable="true"
                                           xdb:SQLName="COUNTRY">
                                <xsd:annotation>
                                  <xsd:documentation>COUNTRY</xsd:documentation>
                                  <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string"/>
                                    <hfp:hasProperty name="fieldname" value="COUNTRY"/>
                                  </xsd:appinfo>
                                </xsd:annotation>
                                <xsd:simpleType>
                                  <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="9"/>
                                  </xsd:restriction>
                                </xsd:simpleType>
                              </xsd:element>
                            </xsd:sequence>
                            <xsd:attribute name="s" type="xsd:positiveInteger" use="optional"/>
                          </xsd:complexType>
                        </xsd:element>
                      </xsd:sequence>
                      <xsd:attribute name="sg" type="xsd:positiveInteger" use="optional"/>
                    </xsd:complexType>
                  </xsd:element>
                </xsd:sequence>
                <xsd:attribute name="m" type="xsd:positiveInteger" use="optional"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element id="APPLICATION.NO" minOccurs="0" name="APPLICATIONNO" nillable="true" xdb:SQLName="APPLICATION_NO">
        <xsd:annotation>
          <xsd:documentation>APPLICATION.NO</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="APPLICATION.NO"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ARP.SERVICE" minOccurs="0" name="ARPSERVICE" nillable="true" xdb:SQLName="ARP_SERVICE">
        <xsd:annotation>
          <xsd:documentation>ARP.SERVICE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="ARP.SERVICE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ARP.SERV.CATEG" minOccurs="0" name="ARPSERVCATEG" nillable="true" xdb:SQLName="ARP_SERV_CATEG">
        <xsd:annotation>
          <xsd:documentation>ARP.SERV.CATEG</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="ARP.SERV.CATEG"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="USER.AUTONOMIA" minOccurs="0" name="USERAUTONOMIA" nillable="true" xdb:SQLName="USER_AUTONOMIA">
        <xsd:annotation>
          <xsd:documentation>USER.AUTONOMIA</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="USER.AUTONOMIA"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="TIP.COVEN" minOccurs="0" name="TIPCOVEN" nillable="true" xdb:SQLName="TIP_COVEN">
        <xsd:annotation>
          <xsd:documentation>TIP.COVEN</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="TIP.COVEN"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="COV.DESCR" minOccurs="0" name="COVDESCR" nillable="true" xdb:SQLName="COV_DESCR">
        <xsd:annotation>
          <xsd:documentation>COV.DESCR</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="COV.DESCR"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="COV.REG" minOccurs="0" name="COVREG" nillable="true" type="xsd:date" xdb:SQLName="COV_REG">
        <xsd:annotation>
          <xsd:documentation>COV.REG</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="COV.REG"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element id="COV.VEN" minOccurs="0" name="COVVEN" nillable="true" type="xsd:date" xdb:SQLName="COV_VEN">
        <xsd:annotation>
          <xsd:documentation>COV.VEN</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="COV.VEN"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element id="COV.CUM" minOccurs="0" name="COVCUM" nillable="true" type="xsd:date" xdb:SQLName="COV_CUM">
        <xsd:annotation>
          <xsd:documentation>COV.CUM</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="COV.CUM"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element id="EST.ADM" minOccurs="0" name="ESTADM" nillable="true" xdb:SQLName="EST_ADM">
        <xsd:annotation>
          <xsd:documentation>EST.ADM</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="EST.ADM"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NUM.REF" minOccurs="0" name="NUMREF" nillable="true" xdb:SQLName="NUM_REF">
        <xsd:annotation>
          <xsd:documentation>NUM.REF</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NUM.REF"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="NUM.RES" minOccurs="0" name="NUMRES" nillable="true" xdb:SQLName="NUM_RES">
        <xsd:annotation>
          <xsd:documentation>NUM.RES</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="NUM.RES"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="UNIT.BUSINESS" minOccurs="0" name="UNITBUSINESS" nillable="true" xdb:SQLName="UNIT_BUSINESS">
        <xsd:annotation>
          <xsd:documentation>UNIT.BUSINESS</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="UNIT.BUSINESS"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="FINAN.PURPOSE" minOccurs="0" name="FINANPURPOSE" nillable="true" xdb:SQLName="FINAN_PURPOSE">
        <xsd:annotation>
          <xsd:documentation>FINAN.PURPOSE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="FINAN.PURPOSE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AUTH.TYPE" minOccurs="0" name="AUTHTYPE" nillable="true" xdb:SQLName="AUTH_TYPE">
        <xsd:annotation>
          <xsd:documentation>AUTH.TYPE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="AUTH.TYPE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="DESTIN.CODE" minOccurs="0" name="DESTINCODE" nillable="true" xdb:SQLName="DESTIN_CODE">
        <xsd:annotation>
          <xsd:documentation>DESTIN.CODE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="DESTIN.CODE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ACCT.TYPE" minOccurs="0" name="ACCTTYPE" nillable="true" xdb:SQLName="ACCT_TYPE">
        <xsd:annotation>
          <xsd:documentation>ACCT.TYPE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="ACCT.TYPE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="TYPE.OF.PERSON" minOccurs="0" name="TYPEOFPERSON" nillable="true" xdb:SQLName="TYPE_OF_PERSON">
        <xsd:annotation>
          <xsd:documentation>TYPE.OF.PERSON</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="TYPE.OF.PERSON"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="USUAL.CASH.DEP" minOccurs="0" name="USUALCASHDEP" nillable="true" xdb:SQLName="USUAL_CASH_DEP">
        <xsd:annotation>
          <xsd:documentation>USUAL.CASH.DEP</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="USUAL.CASH.DEP"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="USUAL.CASH.WDRA" minOccurs="0" name="USUALCASHWDRA" nillable="true"
                   xdb:SQLName="USUAL_CASH_WDRA">
        <xsd:annotation>
          <xsd:documentation>USUAL.CASH.WDRA</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="USUAL.CASH.WDRA"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="35"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="DEBIT.CARD" minOccurs="0" name="DEBITCARD" nillable="true" xdb:SQLName="DEBIT_CARD">
        <xsd:annotation>
          <xsd:documentation>DEBIT.CARD</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="DEBIT.CARD"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="1"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ACC.ALT.ID" minOccurs="0" name="ACCALTID" nillable="true" xdb:SQLName="ACC_ALT_ID">
        <xsd:annotation>
          <xsd:documentation>ACC.ALT.ID</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="ACC.ALT.ID"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="36"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="ACCOUNT.REFERENCE" minOccurs="0" name="ACCOUNTREFERENCE" nillable="true"
                   xdb:SQLName="ACCOUNT_REFERENCE">
        <xsd:annotation>
          <xsd:documentation>ACCOUNT.REFERENCE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="ACCOUNT.REFERENCE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="19"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.17" minOccurs="0" name="RESERVED17" nillable="true" xdb:SQLName="RESERVED_17">
        <xsd:annotation>
          <xsd:documentation>RESERVED.17</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.17"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.16" minOccurs="0" name="RESERVED16" nillable="true" xdb:SQLName="RESERVED_16">
        <xsd:annotation>
          <xsd:documentation>RESERVED.16</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.16"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.15" minOccurs="0" name="RESERVED15" nillable="true" xdb:SQLName="RESERVED_15">
        <xsd:annotation>
          <xsd:documentation>RESERVED.15</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.15"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.14" minOccurs="0" name="RESERVED14" nillable="true" xdb:SQLName="RESERVED_14">
        <xsd:annotation>
          <xsd:documentation>RESERVED.14</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.14"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.13" minOccurs="0" name="RESERVED13" nillable="true" xdb:SQLName="RESERVED_13">
        <xsd:annotation>
          <xsd:documentation>RESERVED.13</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.13"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.12" minOccurs="0" name="RESERVED12" nillable="true" xdb:SQLName="RESERVED_12">
        <xsd:annotation>
          <xsd:documentation>RESERVED.12</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.12"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.11" minOccurs="0" name="RESERVED11" nillable="true" xdb:SQLName="RESERVED_11">
        <xsd:annotation>
          <xsd:documentation>RESERVED.11</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.11"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.10" minOccurs="0" name="RESERVED10" nillable="true" xdb:SQLName="RESERVED_10">
        <xsd:annotation>
          <xsd:documentation>RESERVED.10</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.10"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.9" minOccurs="0" name="RESERVED9" nillable="true" xdb:SQLName="RESERVED_9">
        <xsd:annotation>
          <xsd:documentation>RESERVED.9</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.9"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.8" minOccurs="0" name="RESERVED8" nillable="true" xdb:SQLName="RESERVED_8">
        <xsd:annotation>
          <xsd:documentation>RESERVED.8</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.8"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.7" minOccurs="0" name="RESERVED7" nillable="true" xdb:SQLName="RESERVED_7">
        <xsd:annotation>
          <xsd:documentation>RESERVED.7</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.7"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.6" minOccurs="0" name="RESERVED6" nillable="true" xdb:SQLName="RESERVED_6">
        <xsd:annotation>
          <xsd:documentation>RESERVED.6</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.6"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.5" minOccurs="0" name="RESERVED5" nillable="true" xdb:SQLName="RESERVED_5">
        <xsd:annotation>
          <xsd:documentation>RESERVED.5</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.5"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.4" minOccurs="0" name="RESERVED4" nillable="true" xdb:SQLName="RESERVED_4">
        <xsd:annotation>
          <xsd:documentation>RESERVED.4</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.4"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.3" minOccurs="0" name="RESERVED3" nillable="true" xdb:SQLName="RESERVED_3">
        <xsd:annotation>
          <xsd:documentation>RESERVED.3</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.3"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.2" minOccurs="0" name="RESERVED2" nillable="true" xdb:SQLName="RESERVED_2">
        <xsd:annotation>
          <xsd:documentation>RESERVED.2</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.2"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="RESERVED.1" minOccurs="0" name="RESERVED1" nillable="true" xdb:SQLName="RESERVED_1">
        <xsd:annotation>
          <xsd:documentation>RESERVED.1</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RESERVED.1"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gOVERRIDE">
        <xsd:complexType xdb:SQLType="gBANAAADDITIONALINFOOverride" xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element id="OVERRIDE" maxOccurs="unbounded" minOccurs="0" name="OVERRIDE" nillable="true"
                         xdb:SQLName="OVERRIDE">
              <xsd:annotation>
                <xsd:documentation>OVERRIDE</xsd:documentation>
                <xsd:appinfo>
                  <hfp:hasProperty name="fielddatatype" value="string"/>
                  <hfp:hasProperty name="fieldname" value="OVERRIDE"/>
                </xsd:appinfo>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string"/>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element id="RECORD.STATUS" minOccurs="0" name="RECORDSTATUS" nillable="true" xdb:SQLName="RECORD_STATUS">
        <xsd:annotation>
          <xsd:documentation>RECORD.STATUS</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="RECORD.STATUS"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="CURR.NO" minOccurs="0" name="CURRNO" nillable="true" xdb:SQLName="CURR_NO">
        <xsd:annotation>
          <xsd:documentation>CURR.NO</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="CURR.NO"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gINPUTTER">
        <xsd:complexType xdb:SQLType="gBANAAADDITIONALINFOInputter" xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element id="INPUTTER" maxOccurs="unbounded" minOccurs="0" name="INPUTTER" nillable="true"
                         xdb:SQLName="INPUTTER">
              <xsd:annotation>
                <xsd:documentation>INPUTTER</xsd:documentation>
                <xsd:appinfo>
                  <hfp:hasProperty name="fielddatatype" value="string"/>
                  <hfp:hasProperty name="fieldname" value="INPUTTER"/>
                </xsd:appinfo>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="120"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gDATETIME">
        <xsd:complexType xdb:SQLType="gBANAAADDITIONALINFODateTime" xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element id="DATE.TIME" maxOccurs="unbounded" minOccurs="0" name="DATETIME" nillable="true"
                         type="xsd:date" xdb:SQLName="DATE_TIME">
              <xsd:annotation>
                <xsd:documentation>DATE.TIME</xsd:documentation>
                <xsd:appinfo>
                  <hfp:hasProperty name="fielddatatype" value="string"/>
                  <hfp:hasProperty name="fieldname" value="DATE.TIME"/>
                </xsd:appinfo>
              </xsd:annotation>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element id="AUTHORISER" minOccurs="0" name="AUTHORISER" nillable="true" xdb:SQLName="AUTHORISER">
        <xsd:annotation>
          <xsd:documentation>AUTHORISER</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="AUTHORISER"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="120"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="CO.CODE" minOccurs="0" name="COCODE" nillable="true" xdb:SQLName="CO_CODE">
        <xsd:annotation>
          <xsd:documentation>CO.CODE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="CO.CODE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="11"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="DEPT.CODE" minOccurs="0" name="DEPTCODE" nillable="true" xdb:SQLName="DEPT_CODE">
        <xsd:annotation>
          <xsd:documentation>DEPT.CODE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="DEPT.CODE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AUDITOR.CODE" minOccurs="0" name="AUDITORCODE" nillable="true" xdb:SQLName="AUDITOR_CODE">
        <xsd:annotation>
          <xsd:documentation>AUDITOR.CODE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="AUDITOR.CODE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="AUDIT.DATE.TIME" minOccurs="0" name="AUDITDATETIME" nillable="true" type="xsd:date"
                   xdb:SQLName="AUDIT_DATE_TIME">
        <xsd:annotation>
          <xsd:documentation>AUDIT.DATE.TIME</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="AUDIT.DATE.TIME"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="250"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>