Banesco_2023/SOA/BanescoT24SOA/BPEL_CardCr/SOA/Schemas/CardCrFinancingInq/Acct_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eo/Acct_V1.0"
	xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0"
	xmlns:eoFee="http://xmlns.banesco.com/eo/Fee_V1.0"
	xmlns:eoBank="http://xmlns.banesco.com/eo/Banking_V1.0"
	xmlns:eoChk="http://xmlns.banesco.com/eo/Chk_V1.0"
	xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0"
	xmlns:eoCard="http://xmlns.banesco.com/eo/Card_V1.0"
	xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" elementFormDefault="qualified"
           xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0"
		schemaLocation="Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Card_V1.0"
		schemaLocation="Card_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0"
		schemaLocation="Common_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Chk_V1.0" schemaLocation="Chk_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Banking_V1.0"
		schemaLocation="Banking_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Fee_V1.0" schemaLocation="Fee_V1.0.xsd"/>
	<xs:complexType name="AcctPeriodData">
		<xs:annotation>
			<xs:documentation>Account Period Data. Provides summary of transaction information such
				as last deposit date, last maintenance activity date, YTD, NSFs,
				etc.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctAmtType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Amount Type. Most account amounts are expressed by
						period (cycle, MTD, YTD, etc.), they may or may not be accompanied by the
						count transactions representing that amount. Some account amounts are also
						expressed by date and amount of last occurrence and some are only maintained
						by last occurrence, typically counts are not associated with last
						occurrence.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctPeriodType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Period Type. Valid values include: CTD, LTD, MTD,
						PriorCycle, PriorMth, PriorYr, YTD.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Count" type="xs:long" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Count. The number of items. Interpretation depends on
						context., e.g. count of bills with a given status code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective Date Time. Effective Date/Time. The date/time that
						an associated action resulting in a change of state or status of an object
						took effect.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Expiration Date. Expiration Date. The date that a specific
						item will expire (e.g., Expiration date for a credit card, the date a bill
						detail URL will expire, the date and time a password expires, etc.). If a
						card has only month and year expiration, the last day of the month must be
						specified here. Specific use depends on context.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastOccuranceDt" type="eoCom:dateTimePattern" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last Occurance Date. Date of last (most recent) occurrence
						that affected the summary information.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Acct">
		<xs:annotation>
			<xs:documentation>Account Information Aggregate. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctApplIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Application Identifier. Identifier of the Application
						that was submitted to create an account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctSubtype" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctTitle" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Title. Title on account typically identifies ownership
						or responsibility for account and manner in which ownership/responsibility
						is assigned (e.g. John Doe CUSTODIAN).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctTrnLimit" type="eoBank:TrnLimit" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Account Transaction Limit. The AcctTrnLimit aggregate provides
						information about transaction limits based on currency amount and/or number
						of occurrences of the transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctType" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Grupo de Producto.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Activity" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Actividad</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutonomyCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de autonomía. Autorizador</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutonomyUser" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Usuario que registro la autonomia.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Category" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Categoria</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkBookQty" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Quantity of checkbooks</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClosedDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Closed Date. Indicates the date the account
						closed.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClubBanesco" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica si el producto pertenece al Club
						Banesco</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The CurrencyCode is used to express Currency codes and the
						authoritative source that defines them.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>General-purpose text description. Meaning depends on
						context.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FeciProperty" maxOccurs="1" minOccurs="0" type="xs:boolean"/>
			<xs:element name="FIData" type="eoBank:FIData" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The Financial Institution Data Aggregate contains additional
						information used to identify a bank, typically when used for payment
						transfers, payee requests, and wire transfers. It is required in CHE, DEU,
						and ITA to completely identify an account. Sufficient information must be
						provided within this aggregate to uniquely identify the bank at which the
						account is held. Failure to do so will result in an error being returned
						from the server.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GraceEndDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the date that the grace period expires when a
						certificate of deposit automatically renews.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HasChkBook" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Enable check book.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsPrincipal" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates if the Account is principal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MovType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>movement Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Narrative" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripción</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrinProperty" type="xs:string" maxOccurs="1" minOccurs="0"/>
			<xs:element name="ProductLine" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Linea de producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RemainingPmtCount" type="xs:long" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of Payments Remaining. Such as in a loan or
						mortgage.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SIBActivityType" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Activity type SIB</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SimRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Referencia de simulación</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SubCategory" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sub producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Variation" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Variación del producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctTransfer" type="eoAcct:AcctTransfer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ChkBook" type="eoChk:ChkBook" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctStatus" type="eoAcct:AcctStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TaxData" type="eoBank:TaxData" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="IntRateData" type="eoAcct:IntRateData" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="CreditAcctData" type="eoAcct:CreditAcctData" minOccurs="0"
					maxOccurs="1"/>
				<xs:element name="DepAcctData" type="eoAcct:DepAcctData" minOccurs="0" maxOccurs="1"
				/>
			</xs:choice>
			<xs:element name="AcctPeriodData" type="eoAcct:AcctPeriodData" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="PmtsCollector" type="eoAcct:PmtsCollector" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Pledge" type="eoAcct:Pledge" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcctMember" type="eoAcct:AcctMember" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="AcctProfile" type="eoAcct:AcctProfile" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctBeneficiary" type="eoAcct:AcctBeneficiary" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="AcctOpeningInfo" type="eoAcct:AcctOpeningInfo" minOccurs="0"
				maxOccurs="1"/>
			<xs:element name="AcctCard" type="eoAcct:AcctCard" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctBal" type="eoAcct:AcctBal" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DepAcctData">
		<xs:annotation>
			<xs:documentation>Deposit Account Data. Used to maintain and retrieve data specific to
				deposit type products.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctHashValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Hash Value. Checksum, typically, for international
						banks.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChangeActivity" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cambio de actividad</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChangeDateType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cambio de tipo de fecha</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChangeDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cambio de fecha</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChangePeriod" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cambio de perido.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepInterestPmt" type="eoAcct:CreditRegularPmt" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="PayInAcct" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cuenta de debito</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayOutAcct" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cuenta de pago</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RenewalOption" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Renewal Option. Identifies the renewal option for certificate
						of deposit. Valid values include: AutomaticRenewal, NoRenewalAllowed,
						RenewAtCurrentRate.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RetirementPlanIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Retirement Plan Identification.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignatureCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Signature Code. Valid values include: Missing,
						OnlineSignatureCaptured, SignatureCardExpired,
						SignatureCardOnFile.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignatureReqd" type="eoAcct:SignatureReqd" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Term" type="eoAcct:Term" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="IntRateData">
		<xs:annotation>
			<xs:documentation>Interest Rate Data. Interest rate information for debit and credit
				accounts.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AccrualRule" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>REGLA DE DEVENGO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DepBase" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Garantizados con depositos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective Date/Time. The date/time that an associated action
						resulting in a change of state or status of an object took
						effect.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tasa efectiva resultante.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Expiration Date. The date that a specific item will expire
						(e.g., Expiration date for a credit card, the date a bill detail URL will
						expire, the date and time a password expires, etc.). If a card has only
						month and year expiration, the last day of the month must be specified here.
						Specific use depends on context.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntDayBasis" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Interest Day Basis.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Porcentaje de interés.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntRateCategory" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Interest Rate Category. Identifies the type of balance or
						transaction applicable to the interest rate. Examples include Balance,
						Negative Balance, Promotion, Purchase, Cash Advance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntRateType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Interest Rate Type. Used to indicate the type of interest
						rate. Example: Adjustable, Fixed, Simple, SplitFloat.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PeriodicIndex" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indice</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RateAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Rate Amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpreadPercentage" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Porcentaje del PDF</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SpreadPoint" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Spread en puntos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SurTax" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sobre tasa</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="WofRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tasa a castigar</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI),
				that carries a balance (credit or debit) in a particular currency. An account object
				includes the record of the current balance at a given time and date. Balances are
				updated at various times depending on specific needs to reflect an accurate record
				of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial
						institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctReference" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cuenta de referencia que genera T24</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AlternateId" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BBAN" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This identifier, used by FIs, uniquely identifies a customer
						account in an individual country.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IBAN" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>International Bank Account Number, Refer to ISO 13616-2003
						standard for details. The IBAN consists of up to 34 alphanumeric characters,
						comprising a country code, two check digits and a long and detailed bank
						account-number. The check digits enable a sanity check of the bank account
						number to confirm its integrity before submitting a
						transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UPIC" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>UPIC is a unique account identifier issued by financial
						institutions that allows organizations to receive electronic payments
						without divulging confidential banking information. Mask your bank routing
						and account number.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Term">
		<xs:annotation>
			<xs:documentation>Account Term.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ProposedTerm" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Proposed Term.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TermId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Term Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TermType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Term Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctStatus">
		<xs:annotation>
			<xs:documentation>Account Status Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctStatusCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Status Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ApprovalIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Approval Identifier. Approval Identifier. This is an
						identifier that refers to an approval event that occurred at the authorizing
						server.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective Date/Time. The date/time that an associated action
						resulting in a change of state or status of an object took
						effect.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status Description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctBlock" type="eoAcct:AcctBlock" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EnumBalType">
		<xs:annotation>
			<xs:documentation>Example Values: Avail, AvailCredit, AvgLedger, ClosingLedger,
				ClosingOutstanding, CreditHeld, CreditLimit, Current, DebitHeld, Escrow, Ledger,
				MinLedger, OpeningLedger, OpeningOutstanding, Outstanding, PayoffAmt, Principal,
				RwdBonus, RwdReg, TotalHeld</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AvailATM"/>
			<xs:enumeration value="AvailBalance"/>
			<xs:enumeration value="BlockAmt"/>
			<xs:enumeration value="DeferBalance"/>
			<xs:enumeration value="NetBalance"/>
			<xs:enumeration value="Overdraft"/>
			<xs:enumeration value="OverdrtLimit"/>
			<xs:enumeration value="WorkingBalance"/>
			<xs:enumeration value="AthAmt"/>
			<xs:enumeration value="Balance"/>
			<xs:enumeration value="CashAvailBalance"/>
			<xs:enumeration value="CashLimit"/>
			<xs:enumeration value="CreditLineAmt"/>
			<xs:enumeration value="CutBalance"/>
			<xs:enumeration value="DueBalance"/>
			<xs:enumeration value="DueFees"/>
			<xs:enumeration value="LastPmtAmt"/>
			<xs:enumeration value="MinPmt"/>
			<xs:enumeration value="PrevBalance"/>
			<xs:enumeration value="RwdBonus"/>
			<xs:enumeration value="RwdReg"/>
			<xs:enumeration value="TotalBalance"/>
			<xs:enumeration value="TotalPmt"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="SignatureReqd">
		<xs:annotation>
			<xs:documentation>Signature Required. The number of signatures required to execute a
				financial transaction and some types of maintenance on the
				account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="NumSignatureReqd" type="xs:long" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of Signature Required. Number of signatures required to
						execute the transaction/maintenance on the account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignatureAmtLimit" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Signature Amount Limit. Indicates the transaction amount that
						can be executed with the required number of signatures.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignatureTransaction" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Signature Transaction. Transaction that requires number of
						signatures. Valid values include: All, Credit, Debit, Maint,
						Transfer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SigningInstruction" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Signing Instruction. Used to describe signing
						rules.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditAcctData">
		<xs:annotation>
			<xs:documentation>Credit Account Data. Used to maintain and retrieve data specific to
				credit products. Could have one register per CurrencyCode</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="APCObs" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Observaciones APC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AuthType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de mantenimiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillsCombined" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CodeDestination" type="xs:string" maxOccurs="1" minOccurs="0"/>
			<xs:element name="CollateralDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Collateral Description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CollOfficer" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Oficial de recuperación (Cobros)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CountryDestination" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>País de destino de los fondos.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditDestination" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Destino del crédito</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DiscountCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Clave del descuento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DueDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Due Date. Payment Due Date. The customer enters this date to
						represent the date the payment is due to arrive at the payee. May be
						modified by the customer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundsDestination" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Local o Extranjero</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundsPurpose" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uso de los fondos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GeneralLedger" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>General Ledger.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntFeci" type="xs:decimal" maxOccurs="1" minOccurs="0"/>
			<xs:element name="LateCharges" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Late Charges.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LatePenalty" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Aplica mora </xs:documentation>
				</xs:annotation>
			</xs:element>
   <xs:element name="OriginationDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Origination Date.</xs:documentation>
				</xs:annotation>
			</xs:element>
   <xs:element name="OriginationRef" type="xs:string" maxOccurs="1" minOccurs="0"/>
   <xs:element name="PrefRateExpDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de vencimiento de la tasa
						preferencial.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PurposeDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Purpose Description. Purpose for Loan or
						LOC.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefinanceDate" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de refinanciamiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefinanceNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de refinanciamiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de restructuración</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número préstamo reestructurado</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RevResDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de revisión reestructuración</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SourceSales" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fuente de Información de Ventas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusAdmin" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Estado administrativo</xs:documentation>
				</xs:annotation>
			</xs:element>
   <xs:element name="TotalChargeAmt" type="eoCom:CurAmt" maxOccurs="1" minOccurs="0">
    <xs:annotation>
     <xs:documentation>Suma total de los cargos</xs:documentation>
    </xs:annotation>
   </xs:element>
   <xs:element name="WritingType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>SE USA PARA LOS CASOS DONDE SE ACTIVA EL COBRO DE TIMBRES POR
						PAGARÉS, PARA EL CASO DE ESCRITURAS PÚBLICAS NO SE ACTIVA EL COBRO. -
						Escritura publica - Pagaré - NONE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditRegularPmt" type="eoAcct:CreditRegularPmt" minOccurs="0"
				maxOccurs="unbounded"/>
			<xs:element name="Fee" type="eoFee:Fee" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Term" type="eoAcct:Term" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CreditAcctPmtInfo" type="eoAcct:CreditAcctPmtInfo" minOccurs="0"
				maxOccurs="1"/>
			<xs:element name="Agreement" type="eoAcct:Agreement" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Charge" type="eoAcct:Charge" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PromiseLetter" type="eoAcct:PromiseLetter" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SettleInstruction" type="eoAcct:SettleInstruction" minOccurs="0"
				maxOccurs="1"/>
			<xs:element name="ActivityCharge" type="eoAcct:ActivityCharge" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctBlock">
		<xs:annotation>
			<xs:documentation>Associated to Posting Restriction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Cause" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Block Cause.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Cod" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Block Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Block Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctTransfer">
		<xs:sequence>
			<xs:element name="AllowsIntTransf" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Allows international transfers</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="eoCom:Country" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Indicates the country of origin / destination for
						international transfers.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransfNature" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nature of the transfers</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctOpeningInfo">
		<xs:sequence>
			<xs:element name="AcctUse" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Use. U.S. Institutions should use this for Regulation
						D reporting purposes.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BusinessUnit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Business Unit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CostCenter" type="eoCom:CostCenter" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Centro de Costo. Identifica quien genera el
						ingreso.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective Date Time. Effective Date/Time. The date/time that
						an associated action resulting in a change of state or status of an object
						took effect.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundsOrigin" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Origin of funds</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoalAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Goal Amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InitialAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Initial Amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Opening Date. Opening date of object, usage depends on
						context.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenMode" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Opening Mode</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Purpose" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Purpose of Account Savings</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqManualReason" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Motivo de solicitud de servicio.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqReason" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reason for service request</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SaleOfficer" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Canal de venta</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PrincipalAmt" type="xs:string"/>
	<xs:complexType name="ActivityChargeDetail">
		<xs:sequence>
			<xs:element name="ActivityMethod" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>CAPITALISE, DUE O DEFER</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargeAutoSettle" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Period" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>DENOTA EL PERÍODO EN QUE SE DEBE APLICAR EL
						CARGO</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SettleInstruction">
		<xs:annotation>
			<xs:documentation>SETTLEMENT INSTRUCTIONS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PayIn" type="eoAcct:PayIn" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PayOut" type="eoAcct:PayOut" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctCard">
		<xs:sequence>
			<xs:element name="CardKey" type="eoCard:CardKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OwnsCard" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Owns Card</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctProfileTrn">
		<xs:sequence>
			<xs:element name="Amt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sum of transactions amounts</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Count" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Count of transactions</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnType" type="eoAcct:EnumTrnType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Transaction Type. Transaction Type Values Valid values
						include: CashDeposit, CashWithdrawal, ChkDeposit, ChkPay, IntTransfRec,
						IntTransfSend, LocalTransfRec, LocalTransfSend,</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EnumTrnType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CashDeposit"/>
			<xs:enumeration value="CashWithdrawal"/>
			<xs:enumeration value="ChkDeposit"/>
			<xs:enumeration value="ChkPay"/>
			<xs:enumeration value="IntTransfRec"/>
			<xs:enumeration value="IntTransfSend"/>
			<xs:enumeration value="LocalTransfRec"/>
			<xs:enumeration value="LocalTransfSend"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CreditRegularPmt">
		<xs:sequence>
			<xs:element name="Amt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1"/>
			<xs:element name="BillType" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Freq" type="eoCom:Freq" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>For repeating actions, frequency identifies the appropriate
						time period for recurrence. Daily, Weekly, Biweekly, TwiceMonthly, Monthly,
						EndOfMonth, FourWeeks, BiMonthly, Quarterly, SemiAnnually,
						Annually</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtClass" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Clase de pago. (Metodo de pago) Ej: Capitalize, Due, Maintain,
						Pay.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtSubType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>T24 - BillType</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de pagos. Ej: Pago de capital, Pago de capital e
						intereses, Constant etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecalFrequency" type="eoCom:Freq" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Frecuencia de recalculo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtDetail" type="eoAcct:PmtDetail" minOccurs="0" maxOccurs="unbounded"
			/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EnumChargeType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="AutoInsurance"/>
			<xs:enumeration value="AutoInsuranceAdvance"/>
			<xs:enumeration value="ITBMS"/>
			<xs:enumeration value="LegalHonorarium"/>
			<xs:enumeration value="LifeInsuranceAdvance"/>
			<xs:enumeration value="LifeSurcharge"/>
			<xs:enumeration value="ManagementFee"/>
			<xs:enumeration value="NotaryIncome"/>
			<xs:enumeration value="NotaryPay"/>
			<xs:enumeration value="Others"/>
			<xs:enumeration value="PersonalLife"/>
			<xs:enumeration value="TaxStamp"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="PmtDetail">
		<xs:annotation>
			<xs:documentation>Detalle del pago, incluye: - Frecuencia - Destino pago - Porcentaje -
				Monto</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Freq" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Frecuencia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Percentage" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Porcentaje</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtTarget" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Destino del pago Account, Principal Interest, FECI,
						etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtTargetDetail" type="eoAcct:PmtTargetDetail" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Agreement">
		<xs:annotation>
			<xs:documentation>Agreement info.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgreementId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agreement Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgreementType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agreement Type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreatedDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date the agreement was created.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DueDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Due date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FulfillmentDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fulfillment date.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditAcctPmtInfo">
		<xs:sequence>
			<xs:element name="FirstPmtDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de primer pago (primera cuota)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastPmtDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last Payments Date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NextPmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Next Payment. The amount of the next
						payment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NextPmtDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Next Payments Date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payments Amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtMethod" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Método con que se realiza el pago. EJ: Débito a cuenta, Pago
						voluntario, descuento directo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalPmtCount" type="xs:long" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total Payment Count.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AlternateId" type="xs:string"/>
	<xs:complexType name="Pledge">
		<xs:annotation>
			<xs:documentation>Guarantee for the fulfillment of a credit account and is liable to
				forfeiture in the event of non-fulfilment.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PledgeId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>unique identifier for the pledge.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PledgeNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pledge number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PledgeSubType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sub-type of guarantee.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PledgeType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of guarantee.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Charge">
		<xs:annotation>
			<xs:documentation>Charge Type Values: ManagementFee NotaryPay LegalHonorarium TaxStamp
				AutoInsurance AutoInsuranceAdvance Others NotaryIncome LifeInsuranceAdvance
				LifeSurcharge PersonalLife ITBMS</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChargeType" type="eoAcct:EnumChargeType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CurAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Charge Amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Charge Description</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PromiseLetter">
		<xs:sequence>
			<xs:element name="AdditionalInfo" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>additional information</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AdvExpiryDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Specifies the actual expiry date of promise letter. Must be
						less than or equal to Maturity date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AutoExpiry" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>for controlling the expiry of the promise letter past its
						Maturity date</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeneficiaryCust" type="eoPar:PartyKey" minOccurs="0"
				maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Identifier of any customer beneficiary of the promise letter
						(if the beneficiary is a bank customer).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BeneficiaryName" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Beneficiary Name of the promise letter (if the beneficiary is
						not bank customer).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>values: CA: Contingent Assets CL: Contingent Liabilities MA:
						Memo Assets ML: Memo Liablities </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerReferenceId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>promise letter additional identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DealSubType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Use to Subdivide ContractType of Guarantee</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date on which the terms of the contract were agreed by the
						parties concerned</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EventsProcessing" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Events Processing. Values: End of Day, Online. Enviar Online
						por defecto.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LimitRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifier used to generate the credit line
						number.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LiquidationMode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Values: None, Automatic, Manual, Semi-automatic (Send
						automatic for dafault)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MaturityDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This field represents the final maturity date of the promise
						letter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MvtDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Movement Date for the Principal Movement
						Amount</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>promise letter origination date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrincipalAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Principal Amount of the deal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrincipalMvtAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Principal Movement of the deal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrLetterAdvices" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Allows user to decide whether they wish to produce any advices
						associated with this Promise Letter.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrLetterAlternateId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>promise letter alternate id </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrLetterId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Promise Letter identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PmtTargetDetail">
		<xs:sequence>
			<xs:element name="ActualAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>MONTO DE LA CUOTA (SE USA PARA REEMPLAZAR / SOBREESCRIBIR LA
						CUOTA CALCULADA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EndDate" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>FECHA DE VENCIMIENTO DE LA FRECUENCIA DE PAGO / SI LA
						FRECUENCIA DE PAGO ES ESTANDAR PARA EL PRÉSTAMO NO ES NECESARIO ENVIAR ESTE
						DATO.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumPayments" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>NÚMERO DE PAGOS EN UN PERÍODO DE FRECUENCIA DE
						PAGO.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Percentage" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Porcentaje</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>FECHA DE INICIO DE LA FRECUENCIA DE PAGO</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ActivityCharge">
		<xs:sequence>
			<xs:element name="ActivityId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ACTIVIDAD DEL CARGO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActivityChargeDetail" type="eoAcct:ActivityChargeDetail" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctBal">
		<xs:annotation>
			<xs:documentation>Account Balance. Supports attributes with respect to all the balances
				a financial institution account may carry (ex: ledger, available, collected,
				etc.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BalType" type="eoAcct:EnumBalType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Balance Type. Balance Type Values Valid values include: Avail,
						AvailCredit, AvgLedger, ClosingLedger, ClosingOutstanding, CreditHeld,
						CreditLimit, Current, DebitHeld, Escrow, Ledger, MinLedger, OpeningLedger,
						OpeningOutstanding, Outstanding, PayoffAmt, Principal, RwdBonus, RwdReg,
						TotalHeld end Aggregate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Currency Amount. All monetary amounts in the IFX Specification
						are handled with the Currency Amount data type. When included, this data
						type contains a decimal value for the amount, an optional currency
						code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description. General-purpose text description. Meaning depends
						on context.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Expiration Date. Expiration Date. The date that a specific
						item will expire (e.g., Expiration date for a credit card, the date a bill
						detail URL will expire, the date and time a password expires, etc.). If a
						card has only month and year expiration, the last day of the month must be
						specified here. Specific use depends on context.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctBeneficiary">
		<xs:sequence>
			<xs:element name="Percentage" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Percentage of each one beneficiaries. the total can't exceed
						the 100%.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonData" type="eoPar:PersonData" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>beneficiary information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RelType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Relationship Type. Examples: Brother, Father, Mother, Parent,
						Self, Sibling, Sister, etc.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TutorData" type="eoPar:PersonData" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tutor Information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UnderAge" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Under age.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayIn">
		<xs:sequence>
			<xs:element name="ACDBRule" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>DEFINE SI PARA DEBITAR TIENE QUE TENER EL MONTO COMPLETO O
						PARCIAL DE LA CUOTA</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Activity" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ACTIVIDAD QUE EJECUTA EL CARGO A CUENTA</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExeAutoPay" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ejecutar Pago Automático</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FromDay" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="MandateRef" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PayInAcct" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cuenta a debitar</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>TIPO DE PAGO APLICADO EN EL PAY IN SETTLEMENT (CONSTAND,
						LINEAR, ACTUAL, CHARGES, ETC)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SettleActivity" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ACTIVIDAD QUE APLICA EL PAGO EN EL PRÉSTAMO</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Settlement" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ACTIVACIÓN DEL TIPO DE PAGO (YES, NO)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ToDay" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayOut">
		<xs:sequence>
			<xs:element name="Activity" type="eoCom:CommonType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PayOutAcct" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>LA CUENTA A DONDE VAN DIRIGIDOS LOS FONDOS DEL DESEMBOLSO /
						CUENTA INTERNA DE DESEMBOLSOS O CUENTAS DE DETALLE DEL
						CLIENTE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Property" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>SE COLOCA EN ESTE CAMPO LA PROPIEDAD DE ACCOUNT ES A DONDE SE
						DIRIGEN LOS FONDOS DE UN ARRANGEMENTE</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PropertyClass" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SettleActivity" type="eoCom:CommonType" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Settlement" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctMember">
		<xs:sequence>
			<xs:element name="CompanyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Id de la compañía</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployeeNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Empleado</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PartyRole" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Customer Role</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PmtsCollector">
		<xs:sequence>
			<xs:element name="AgentCategory" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Category of Agent Collector of Payments</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsAgent" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Is Agent Collector of Payments</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctProfile">
		<xs:sequence>
			<xs:element name="ARPService" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica si la cuenta es un Agente Recaudador de
						Pagos.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ARPServiceCategory" type="eoCom:CommonType" minOccurs="0"
				maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Categoría del servicio de pagos. Ejemplo: Educación, servicios
						públicos, Telecomunicaciones, etc</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgBalance" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average Balance to manage in the account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgDepositAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Average Amount of Deposits</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CashDepositFreq" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Frequency of cash deposits.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CashWithdrawalFreq" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Frequency of cash withdrawals.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PercentageDepChk" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Percentage of Deposits in Checks</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctProfileTrn" type="eoAcct:AcctProfileTrn" minOccurs="0"
				maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
