Banesco_2023/SOA/BanescoT24SOA/BPEL_CardCr/SOA/Schemas/CardCrFinancingInq/CardCrFinancingInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/CardCrFinancingInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptCardCrFinancingInq="http://xmlns.banesco.com/eopt/CardCrFinancingInq_V1.0" xmlns:eoCard="http://xmlns.banesco.com/eo/Card_V1.0" xmlns:eoBank="http://xmlns.banesco.com/eo/Banking_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Banking_V1.0" schemaLocation="Banking_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Card_V1.0" schemaLocation="Card_V1.0.xsd"/>
	<xs:element name="CardCrFinancingInqRq" type="eoptCardCrFinancingInq:CardCrFinancingInqRq_Type"/>
	<xs:element name="CardCrFinancingInqRs" type="eoptCardCrFinancingInq:CardCrFinancingInqRs_Type"/>
	<xs:complexType name="CardCrFinancingInqRq_Type">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="CardKey" type="eoCard:CardKey" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FIData" type="eoBank:FIData" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardCrFinancingInqRs_Type">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Card" type="eoCard:Card" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIData" type="eoBank:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Party" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PersonName" type="eoPar:PersonName" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
