Banesco_2023/SOA/BanescoT24SOA/BPEL_CardCr/SOA/Schemas/CardCrFinancingInq/Chk_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eo/Chk_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoChk="http://xmlns.banesco.com/eo/Chk_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" xmlns:eoBank="http://xmlns.banesco.com/eo/Banking_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoPayee="http://xmlns.banesco.com/eo/Payee_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Payee_V1.0" schemaLocation="Payee_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="Acct_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Banking_V1.0" schemaLocation="Banking_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="Common_V1.0.xsd"/>
	<xs:complexType name="Chk">
		<xs:annotation>
			<xs:documentation>The Check Issue object represents an issued check.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChkPlace" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifica si es un cheque local o internacional.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DueDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Check Due Date. The date on which the check is due to pay.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective Date. The date associated with the origination of the Check Issue file.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ImageURL" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>URL address for retrieving an image of the Compositelete bill encoded as HTML. This may be cached by the client for later display, or it may be viewed live directly from the Web</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PaidDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Check Origination Date. The date on which the customer originates the check.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkData" type="eoChk:ChkData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ChkIssueKey" type="eoChk:ChkKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkBook">
		<xs:sequence>
			<xs:element name="Branch" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Checkbook target branch</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkQty" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cantidad de cheques</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstHolder" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>First Holder Name</xs:documentation>
				</xs:annotation>
			</xs:element>
   <xs:element name="HolderCondition" type="xs:string" minOccurs="0" maxOccurs="1"/>
   <xs:element name="MultipleHolder" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Have more than one Holder?</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Provider" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Checkbook provider</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SecondHolder" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Second Holder Name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Start number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Check type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Chk" type="eoChk:Chk" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ChkBookKey" type="eoChk:ChkBookKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkBookKey">
		<xs:sequence>
			<xs:element name="RequestId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Request identification</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkData">
		<xs:annotation>
			<xs:documentation>Check information. Used when the payment is to be made by paper check. Contains all detail information to be appeared on the check. This can be used to support check outsourcing.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChkType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of Check</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Currency Amount. Check currency amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FIData" type="eoBank:FIData" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Información asociada al banco</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrigDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Check origination date. The date on which the check is originated.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditorData" type="eoChk:CreditorData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DebtorData" type="eoChk:DebtorData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Details" type="eoChk:Details" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Commision" type="eoChk:Commision" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkKey">
		<xs:annotation>
			<xs:documentation>Check Issue Key</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChkNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Check Number. The serial number uniquely identifying the check or document.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DraftNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Stock</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerieId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Id de Serie</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StockId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Stock Identificator</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Commision">
		<xs:sequence>
			<xs:element name="CommisionAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto de la comisión</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommisionType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codes of the commission type for issue of the check

Possible Values:

DDCOMM	        DD Comision por emision
BUYDRAFTAG	Recompra de Giros
INREMITCHG	Cargos por remesa recibida
INSWIFTCHG	Cargos por SWIFT recibido
INTELEXCHG	Cargos por TELEX recibido
BUYDRAFTCHK	Recompra de cheque de Gcia/Certif
OUTREMITCHG	Cargos por remesa enviada
OUTSWIFTCHG	Cargos por SWIFT enviado
OUTTELEXCHG	Cargos por TELEX enviado</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CommissionCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identify how the commission is applied.

Possible values:

D = Debit plus Commission
C = Credit less Commission
W = Waive </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditorData">
		<xs:annotation>
			<xs:documentation>In payment scenarios, Creditor refers to the payee. CreditorData contains the information about the payee.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CreditorAcct" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Creditor Account identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FSPayee" type="eoPayee:FSPayee" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payee Information</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DebtorData">
		<xs:sequence>
			<xs:element name="DebtorAcct" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Debtor Account identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Details">
		<xs:annotation>
			<xs:documentation>Text descriptions on the check.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Memo" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
