Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/BpaMaintainChqGerencia/MantenimientodeChequedeGerenciaResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.temenos.com/T24/ofs/Response" targetNamespace="http://www.temenos.com/T24/ofs/Response" xmlns:rescns="http://www.temenos.com/T24/ofs/ResponseCommon" xmlns:ns0="http://www.temenos.com/T24/ofs/FUNDSTRANSFERType">
<xsd:import namespace="http://www.temenos.com/T24/ofs/ResponseCommon" schemaLocation="ResponseCommonType.xsd"/>
<xsd:import namespace="http://www.temenos.com/T24/ofs/FUNDSTRANSFERType" schemaLocation="FUNDSTRANSFERType.xsd"/>
<xsd:element name="FUNDSTRANSFEROCLCYResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="ResponseCommon" type="rescns:ResponseCommonType"/>
<xsd:element minOccurs="0" name="FUNDSTRANSFER" type="ns0:FUNDSTRANSFERType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
