MIRA/SOA_PRD_Almacenes/JDACreateItemProcess/SOA/Schemas/BusinessAreas/Support/Tender/TenderSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Support/Tender/Transaction/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Support/Tender/Transaction/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" xmlns:ctend="http://mx.agarcia.ea/BusinessAreas/Support/Tender/Commons/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="../../../Commons/CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:import schemaLocation="TenderCommonSchema.xsd" namespace="http://mx.agarcia.ea/BusinessAreas/Support/Tender/Commons/v1"/>
   <xs:complexType name="RetailTransactionTender">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="TenderID" type="xs:string"/>
         <xs:element form="qualified" name="Amount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="AmountAppliedToBill" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The amount of this tender line item that is
						applied to the
						transaction total.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="CustomerIdentification" type="xs:string"/>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="TenderChange" type="RetailTransactionTenderChange"/>
         <xs:element form="qualified" minOccurs="0" name="Cashback" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="ReasonCode" type="POSLogReason"/>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Authorization" type="TenderAuthorization"/>
         <xs:element form="qualified" minOccurs="0" name="Tip" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The monetary amount of any Tip that is included
						in this
						TenderLineItem
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ForeignCurrency" type="TenderForeignCurrency"/>
         <xs:element form="qualified" minOccurs="0" name="Address">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="RetailTransactionAddress"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Rounding" type="AmountCommonData"/>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="MonetaryKind" type="MonetaryKindType"/>
         <xs:element form="qualified" minOccurs="0" name="SendCheck" type="TenderSendCheck"/>
         <xs:element form="qualified" minOccurs="0" name="CustomerVerification" type="TenderCustomerVerification">
            <xs:annotation>
               <xs:documentation>records the customer details used to verify the
						customer
						providing this tender; check, credit card, ...
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice maxOccurs="unbounded" minOccurs="0">
            <xs:annotation>
               <xs:documentation>Compromise to allow for new tender types and new
						tender
						elements
					</xs:documentation>
            </xs:annotation>
            <xs:choice>
               <xs:element form="qualified" name="Check" type="TenderCheck"/>
               <xs:element form="qualified" name="CreditDebit" type="TenderCreditDebit"/>
               <xs:element form="qualified" name="Coupon" type="TenderCoupon"/>
               <xs:element form="qualified" name="FoodStamps" type="TenderFoodStamps"/>
               <xs:element form="qualified" name="Voucher" type="TenderVoucher"/>
               <xs:element form="qualified" name="TravelersCheck" type="TenderCheck"/>
               <xs:element form="qualified" name="LoyaltyRedemption" type="RetailTransactionLoyaltyRedemption"/>
               <xs:element form="qualified" name="PurchaseOrder" type="TenderPurchaseOrder"/>
               <xs:element form="qualified" name="StoreAccount" type="TenderAccountInfo">
                  <xs:annotation>
                     <xs:documentation>records the purchase to a store account.
								Typically
								used to purchase items for use in the store
							</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="GiftCard" type="TenderGiftCard"/>
               <xs:element form="qualified" name="CoPay" type="TenderCoPay"/>
               <xs:element form="qualified" name="ElectronicTollCollection" type="TenderAccountInfo">
                  <xs:annotation>
                     <xs:documentation>specific implementations are know as ez pass,
								pike
								pass, etc.
							</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="AccountsReceivable" type="TenderAccountInfo"/>
               <xs:element form="qualified" name="StoredValueInstrument" type="StoredValueInstrumentType"/>
            </xs:choice>
            <xs:any namespace="##other" processContents="lax"/>
         </xs:choice>
      </xs:sequence>
      <xs:attribute default="Cash" form="unqualified" name="TenderType" type="ctend:TenderTypeCode" use="optional">
         <xs:annotation>
            <xs:documentation>This TenderType maps to the TenderClassCode in the
					ARTS
					Datamodel
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute form="unqualified" name="SubTenderType" type="ctend:SubTenderTypeCodes" use="optional">
         <xs:annotation>
            <xs:documentation>This Sub TenderType maps to the TenderTypeCode in
					the ARTS
					Datamodel
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="Sale" form="unqualified" name="TypeCode" type="TenderSalesTypeCode" use="optional"/>
      <xs:attribute default="false" form="unqualified" name="CoPayFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>A flag denoting that this tender line item is a
					medical insurance
					co-pay
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="RetailTransactionTenderChange">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="TenderID" type="xs:string"/>
         <xs:element form="qualified" name="Amount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="ForeignCurrency" type="TenderForeignCurrency"/>
         <xs:element form="qualified" minOccurs="0" name="Voucher" type="TenderVoucher"/>
         <xs:element form="qualified" minOccurs="0" name="FoodStamps" type="TenderFoodStamps"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:attribute form="unqualified" name="TenderType" type="ctend:TenderTypeCode">
         <xs:annotation>
            <xs:documentation>This TenderType maps to the TenderClassCode in the
					ARTS Datamodel
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="TenderCoupon">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="Name" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="Description" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="Quantity" type="QuantityCommonData"/>
         <xs:element form="qualified" name="PrimaryLabel" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="SecondaryLabel" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="ManufacturerID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="FamilyCode" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="ExpirationDate" type="xs:date"/>
         <xs:element form="qualified" minOccurs="0" name="PromotionCode" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="ScanCode" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="DispositionCode" type="xs:string"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:attribute form="unqualified" name="CouponType" type="POSLogCouponType">
         <xs:annotation>
            <xs:documentation>A code denoting what kind of Coupon is being used
					to tender the
					transaction
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="TenderSendCheck">
      <xs:annotation>
         <xs:documentation>recording a check will be sent to the customer
			</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" name="ReasonCode" type="xs:string"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="TenderAccountInfo">
      <xs:sequence>
         <xs:element form="qualified" name="AccountID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="AccountName" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="AccountFirstName" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="AccountMiddleName" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="AccountLastName" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="Address" type="RetailTransactionAddress"/>
         <xs:element form="qualified" minOccurs="0" name="SocialSecurityNumber" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="TelephoneNumber" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="AccountNumber" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="EffectiveDate" type="xs:date"/>
         <xs:element form="qualified" minOccurs="0" name="ExpirationDate" type="xs:date"/>
         <xs:element form="qualified" minOccurs="0" name="Fleet" type="TenderAccountFleetInfo">
            <xs:annotation>
               <xs:documentation>Being deprecated in favor of feet as type of
						credit
						card
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:attribute default="Issue" form="unqualified" name="Action" type="TenderAccountAction" use="optional"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:simpleType name="TenderAccountAction">
      <xs:union memberTypes="TenderAccountActionEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="TenderAccountActionEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Issue"/>
         <xs:enumeration value="Redeem"/>
         <xs:enumeration value="Update"/>
         <xs:enumeration value="Close"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="TenderAccountFleetInfo">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="DriverID" type="xs:string">
            <xs:annotation>
               <xs:documentation>A unique identifier for the vehicle driver
						recorded in the
						fleet info
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="VehicleID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="OdometerReading" type="xs:unsignedLong"/>
         <xs:element form="qualified" minOccurs="0" name="JobID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="LicensePlate" type="xs:string"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:attribute form="unqualified" name="TemporaryCar" type="xs:boolean"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="TenderAuthorization">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="RequestedAmount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>It is possible to request more than one approval.
						Particularly when the TenderAuthorization is a Pre-Authorization
						that
						happens at the beginning of the transaction. (eg: Most pay at pump
						terminals
						on gas stations will request some arbitrary large amount, and then
						tender
						the proper smaller amount)
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="AuthorizationCode" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="ReferenceNumber" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="MerchantNumber" type="xs:string">
            <xs:annotation>
               <xs:documentation>A number assigned by the acquirer to identify a
						particular
						merchant
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="ProviderID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="AuthorizationDateTime" type="xs:dateTime"/>
         <xs:element form="qualified" minOccurs="0" name="AuthorizedChangeAmount" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>The amount of change authorized - which may be
						different from
						the requested change amount.
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="AuthorizingTermID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="PreAuthorizedID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="RequestedChangeAmount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="AuthorizationDescription" type="xs:string">
            <xs:annotation>
               <xs:documentation>A free text description of the tender
						authorization
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ElectronicSignatureDecline">
            <xs:annotation>
               <xs:documentation>A code denoting the reason for declining an
						electronic
						signature for the tender authorization
					</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:attribute form="unqualified" name="Reason" type="POSLogDeclineType" use="optional"/>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="CustomerPresentFlag" type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="Reversal">
            <xs:complexType>
               <xs:sequence>
                  <xs:element form="qualified" minOccurs="0" name="SequenceNumber" type="SequenceNumberType"/>
                  <xs:element form="qualified" minOccurs="0" name="DateTime" type="xs:dateTime"/>
                  <xs:element form="qualified" minOccurs="0" name="AdjudicationCode" type="xs:string"/>
                  <xs:element form="qualified" minOccurs="0" name="ReferenceNumber" type="xs:string"/>
                  <xs:element form="qualified" minOccurs="0" name="HostText" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ReceiptText" type="xs:string">
            <xs:annotation>
               <xs:documentation>the message from the provider added to the bottom
						of the
						customer's receipt
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TerminalSoftwareVersion" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="Signature" type="xs:base64Binary"/>
         <xs:element form="qualified" minOccurs="0" name="EMVDebug" type="EMVDebugType">
            <xs:annotation>
               <xs:documentation>EuroPay, Master Card, Visa Debug
						Information
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ApplicationID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="DiagnosticCode" type="xs:string"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:attribute default="false" form="unqualified" name="HostAuthorized" type="xs:boolean" use="optional"/>
      <xs:attribute form="unqualified" name="ElectronicSignature" type="xs:boolean" use="optional"/>
      <xs:attribute default="false" form="unqualified" name="PreAuthorizationFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>flag to indicate this purchase (typically credit)
					has been
					authorized prior to purchasing the items. Typically used in fuel sales where
					the CRIND in the dispenser gets authroization prior to pumping fuel
					grade into
					the vehicle
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute form="unqualified" name="ForceOnline" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>A flag indicating that this Tender Authorization
					was performed
					offline, and if true, the authorization must be forced online, i.e. the
					Host
					must accept it, when the financial network becomes available
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="false" form="unqualified" name="VerifiedByPINFlag" type="xs:boolean" use="optional">
         <xs:annotation>
            <xs:documentation>Used with Chip + Pin. A flag denoting that this
					TenderAuthorization was verified by customer entering PIN rather
					than
					signature.
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute default="true" form="unqualified" name="SignatureRequiredFlag" type="xs:boolean" use="optional"/>
      <xs:attribute default="Automatically" form="unqualified" name="AuthorizationMethod" type="TenderAuthorizationMethodType">
         <xs:annotation>
            <xs:documentation>indicates how the authorization code was
					obtained
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:simpleType name="TenderAuthorizationMethodType">
      <xs:union memberTypes="TenderAuthorizationMethodTypeEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="TenderAuthorizationMethodTypeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Automatically"/>
         <xs:enumeration value="Manually"/>
         <xs:enumeration value="Systematically"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="TenderCheck">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="BankID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="CheckNumber" type="xs:unsignedLong"/>
         <xs:element form="qualified" minOccurs="0" name="AccountNumber" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="CheckCardNumber" type="xs:string">
            <xs:annotation>
               <xs:documentation>The human readable number from the Check
						Guarantee Card that
						is presented during the check tendering process
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="FullMICR">
            <xs:annotation>
               <xs:documentation>The full bank, account &amp; check number from
						the MICR
						characters on the bottom of the check being presented
					</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="xs:string">
                     <xs:attribute default="US" form="unqualified" name="Country" type="CountryCode" use="optional"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Count" type="CountCommonData">
            <xs:annotation>
               <xs:documentation>the number of checks that were tendered
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:attribute default="Personal" form="unqualified" name="TypeCode" type="CheckTypeCode" use="optional"/>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="TenderCoPay">
      <xs:annotation>
         <xs:documentation>tendering of a drugstore sales by insurance company
				co-pay
			</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" name="CoPayAmount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The amount of the co-payment tender line
						item
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="TotalAmount" type="AmountCommonData"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TenderCreditDebit">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="IssuerIdentificationNumber" type="xs:integer"/>
         <xs:element form="qualified" minOccurs="0" name="CardHolderName" type="xs:string"/>
         <xs:element form="qualified" name="PrimaryAccountNumber" type="EncryptedDataType"/>
         <xs:element form="qualified" minOccurs="0" name="IssueSequence" type="xs:integer"/>
         <xs:element form="qualified" minOccurs="0" name="ExpirationDate" type="xs:gYearMonth"/>
         <xs:element form="qualified" minOccurs="0" name="CreditCardCompanyCode" type="xs:string">
            <xs:annotation>
               <xs:documentation>a 6 digit code assigned by the acquirer to
						uniquely identify a
						particular credit card company
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Track1Data" type="EncryptedDataType"/>
         <xs:element form="qualified" minOccurs="0" name="Track2Data" type="EncryptedDataType"/>
         <xs:element form="qualified" minOccurs="0" name="Track3Data" type="EncryptedDataType"/>
         <xs:element form="qualified" minOccurs="0" name="Track4Data" type="EncryptedDataType">
            <xs:annotation>
               <xs:documentation>The bit pattern from track 4 of the magnetic
						strip on the
						front of some credit cards as identified in UPOS specification
						(Japan)
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ReconciliationCode" type="xs:integer"/>
         <xs:element form="qualified" minOccurs="0" name="StartDate" type="xs:date"/>
         <xs:element form="qualified" minOccurs="0" name="ServiceCode" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="PaymentMethod" type="POSLogCreditPaymentMethod">
            <xs:annotation>
               <xs:documentation>Identifies alternate payment methodologies, i.e.
						payment out
						of bonus (Japan)
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="NumberOfInstallments" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>The number of monthly Credit Card payments the
						tender amount
						is split over. Commonly used in tele-marketing campaigns where
						payment is
						spread over "3 easy payments" (Japan)
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="FrequencyOfBonusPerYear" type="xs:string">
            <xs:annotation>
               <xs:documentation>The number of bonus's one received per year
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="PurchasedItem">
            <xs:annotation>
               <xs:documentation>The ItemID of the particular item(s) that are
						being purchased
						with this tender line item.
					</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element form="qualified" name="ItemID">
                     <xs:complexType>
                        <xs:simpleContent>
                           <xs:extension base="ItemIDCommonData"/>
                        </xs:simpleContent>
                     </xs:complexType>
                  </xs:element>
                  <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="EPC" type="xs:string"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="FleetInformation" type="TenderAccountFleetInfo"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:attribute default="Credit" form="unqualified" name="CardType" type="CreditDebitCardType" use="optional"/>
      <xs:attribute default="Visa" form="unqualified" name="TypeCode" type="SubTenderTypeCodes" use="optional"/>
      <xs:attribute default="false" form="unqualified" name="ContactlessPaymentFlag" type="xs:boolean">
         <xs:annotation>
            <xs:documentation>Indicates this Credit-Debit tender was initiated
					by a Contactless
					Payment Card
				</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="TenderCustomerVerification">
      <xs:annotation>
         <xs:documentation>Used to record the verification information presented by the customer
                during the tendering operation</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="Name" type="xs:string"/>
         <xs:element form="qualified" name="PersonalID">
            <xs:complexType>
               <xs:sequence>
                  <xs:element form="qualified" name="IDNumber" type="xs:string"/>
                  <xs:element form="qualified" minOccurs="0" name="IssueDate" type="xs:date"/>
                  <xs:element form="qualified" minOccurs="0" name="ExpirationDate" type="xs:date"/>
                  <xs:element form="qualified" minOccurs="0" name="Issuer" type="xs:string"/>
                  <xs:element form="qualified" minOccurs="0" name="Province" type="xs:string"/>
               </xs:sequence>
               <xs:attribute form="unqualified" name="IDType" type="PersonalIdentificationTypeCode"/>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Birthdate" type="xs:date"/>
         <xs:element form="qualified" minOccurs="0" name="Address" type="RetailTransactionAddress"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TenderFoodStamps">
      <xs:annotation>
         <xs:documentation>US Federal Govt. issued food stamps are used to tender the
            sale</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="FederalID" type="xs:string">
            <xs:annotation>
               <xs:documentation>The unique ID for the agency which issued this set of food
                        stamps</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="SerialNumber" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="FoodStampsChange" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The monetary value of food stamps that're given in
                    change</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TenderForeignCurrency">
      <xs:annotation>
         <xs:documentation>provides details about the foreign currency exchange rates,
            etc.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="DateTime" type="xs:dateTime"/>
         <xs:element form="qualified" minOccurs="0" name="CurrencyCode" type="CurrencyTypeCode">
            <xs:annotation>
               <xs:documentation>To be depreciated - data now contained in
                        MonetaryAmountCommonData</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="OriginalFaceAmount">
            <xs:annotation>
               <xs:documentation>the original amount in the foreign currency the being
                        converted to local currency.  For example, converting Yen to Dollars, this
                        amount would be the amount of Yen</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="MonetaryAmountCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ExchangeRate" type="DecimalCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="ServiceCharge">
            <xs:annotation>
               <xs:documentation>The amount charged to make the conversion from the foreign
                        currency to the local currency</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="MonetaryAmountCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TenderGiftCard">
      <xs:sequence>
         <xs:element form="qualified" name="CardNumber" type="xs:string">
            <xs:annotation>
               <xs:documentation>The human readable number on the gift card being
                    tendered.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="DateSold" type="xs:date">
            <xs:annotation>
               <xs:documentation>The date the gift card was sold.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="DateActivated" type="xs:date">
            <xs:annotation>
               <xs:documentation>The date the gift card being tendered or sold was
                    activated</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ExpirationDate" type="xs:date"/>
         <xs:element form="qualified" minOccurs="0" name="InitialBalance" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>the original amount of the gift card.  It is possible to add
                        money to the gift card thus changing the amount on the
                    card.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="CurrentBalance" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="OpenAmountFlag" type="xs:boolean"/>
         <xs:element form="qualified" minOccurs="0" name="Authorization" type="TenderAuthorization"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TenderPurchaseOrder">
      <xs:annotation>
         <xs:documentation> tendering of a sale with a purchase order</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" name="PurchaseOrderID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="OrganizationID" type="xs:string">
            <xs:annotation>
               <xs:documentation>A unique identifier for the Organization issuing the Purchase
                        Order that is being used to tender the transaction</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="EffectiveDate" type="xs:date">
            <xs:annotation>
               <xs:documentation>The Date on the PurchaseOrder provided by the customer after
                        this date the purchase order is allowed to be used</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="PartyID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="AuthorizedAmount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="CustomerID" type="xs:string"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TenderVoucher">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="Description" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="FaceValueAmount" type="AmountCommonData"/>
         <xs:element form="qualified" name="SerialNumber" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="ExpirationDate" type="xs:date"/>
         <xs:element form="qualified" minOccurs="0" name="UnspentAmount" type="UnspentAmountType">
            <xs:annotation>
               <xs:documentation>The monetary value of the Voucher that has not been spent and
                        not returned to the customer</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="VoucherAmountInChange" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The monetary value of the change that has been given as a
                        Voucher</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="IssuingStoreNumberID" type="POSLogRetailStoreID"/>
      </xs:sequence>
      <xs:attribute default="GiftCertificate" form="unqualified" name="TypeCode" type="VoucherCardType" use="optional">
         <xs:annotation>
            <xs:documentation>Type definition of this Voucher element</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="UnspentAmountType">
      <xs:annotation>
         <xs:documentation>The monetary value of the Voucher that has not been spent and not
                returned to the customer</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="AmountCommonData">
            <xs:attribute form="unqualified" name="Disposition" type="POSLogVoucherUnspentDispositionEnumeration">
               <xs:annotation>
                  <xs:documentation>disposition of the unspent amount</xs:documentation>
               </xs:annotation>
            </xs:attribute>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:simpleType name="VoucherCardType">
      <xs:union memberTypes="VoucherCardTypeEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="VoucherCardTypeEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="Voucher"/>
         <xs:enumeration value="GiftCertificate"/>
         <xs:enumeration value="StoredValue"/>
         <xs:enumeration value="GiftCard"/>
         <xs:enumeration value="PhoneCard"/>
         <xs:enumeration value="CarWashToken"/>
         <xs:enumeration value="AdvancePayment"/>
         <xs:enumeration value="AccountReceivable"/>
         <xs:enumeration value="RecognitionRewardVoucher"/>
         <xs:enumeration value="MoneyOffVoucher"/>
         <xs:enumeration value="LuncheonVoucher"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="POSLogVoucherUnspentDisposition">
      <xs:union memberTypes="POSLogVoucherUnspentDispositionEnumeration TypeCodeExtension"/>
   </xs:simpleType>
   <xs:simpleType name="POSLogVoucherUnspentDispositionEnumeration">
      <xs:restriction base="xs:NMTOKEN">
         <xs:enumeration value="VoucherChange"/>
         <xs:enumeration value="CashChange"/>
         <xs:enumeration value="MixedChange"/>
         <xs:enumeration value="NoChange"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:complexType name="MonetaryKindType">
      <xs:annotation>
         <xs:documentation>A record of the denominations used in this tender line
            item.</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" name="Kind" type="xs:string">
            <xs:annotation>
               <xs:documentation>The denomination being used</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Quantity">
            <xs:annotation>
               <xs:documentation>The number of  the denomination being used</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="QuantityCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="EMVDebugType">
      <xs:annotation>
         <xs:documentation>Tender was EuropayMasterCardVisa in debug information
            mode</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="ApplicationIdentifier" type="xs:string">
            <xs:annotation>
               <xs:documentation>Identifies the application as described in ISO/IEC
                    7816-5</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ApplicationInterchangeProfile" type="xs:string">
            <xs:annotation>
               <xs:documentation>Indicates the capabilities of the card to support specific
                        functions in the application</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ApplicationTransactionCounter" type="xs:string">
            <xs:annotation>
               <xs:documentation>Counter maintained by the application in the ICC (incrementing
                        the ATC is managed by the ICC)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ApplicationUsageControl" type="xs:string">
            <xs:annotation>
               <xs:documentation>Indicates issuer’s specified restrictions on the geographic
                        usage and services allowed for the application</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ApplicationVersionNumber" type="xs:string">
            <xs:annotation>
               <xs:documentation>Version number assigned by the payment system for the
                        application</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="AuthorizationResponseCode" type="xs:string">
            <xs:annotation>
               <xs:documentation>Code that defines the disposition of a
                    message</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="CardholderVerificationMethodResults" type="xs:string">
            <xs:annotation>
               <xs:documentation>Indicates the results of the last CVM
                    performed</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Cryptogram" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="CryptogramInformationData" type="xs:string">
            <xs:annotation>
               <xs:documentation>Indicates the type of cryptogram and the actions to be
                        performed by the terminal</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="IssuerApplicationData" type="xs:string">
            <xs:annotation>
               <xs:documentation>Contains proprietary application data for transmission to the
                        issuer in an online transaction</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="POSEntryMode" type="xs:integer">
            <xs:annotation>
               <xs:documentation>Indicates the method by which the PAN was entered, according
                        to the first two digits of the ISO 8583:1987 POS Entry
                    Mode</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TerminalCapabilities" type="xs:string">
            <xs:annotation>
               <xs:documentation>Indicates the card data input, CVM, and security capabilities
                        of the terminal</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TerminalType" type="xs:string">
            <xs:annotation>
               <xs:documentation>Indicates the environment of the terminal, its communications
                        capability, and its operational control</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TerminalVerificationResults" type="xs:string">
            <xs:annotation>
               <xs:documentation>Status of the different functions as seen from the
                    terminal</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TranCryptogramType" type="xs:integer"/>
         <xs:element form="qualified" minOccurs="0" name="TransactionStatusInformation" type="xs:string">
            <xs:annotation>
               <xs:documentation>Indicates the functions performed in a transaction 1. Offline
                        data authentication was performed 2. Cardholder verification was performed
                        3. Card risk management was performed 4. Issuer authentication was performed
                        5. Terminal risk management was performed 6. Script processing was
                    performed</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="UnpredictableNumber" type="xs:string">
            <xs:annotation>
               <xs:documentation>Value to provide variability and uniqueness to the generation
                        of a cryptogram</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:attribute form="unqualified" name="CryptogramTypeCode" type="CryptogramTypeCode">
         <xs:annotation>
            <xs:documentation>TC – Transaction Certificate ARQC - Authorisation Request
                    Cryptogram AAC - Application Authentication Cryptogram</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute form="unqualified" name="TerminalActionCode" type="TerminalActionCodeTypeCode"/>
   </xs:complexType>
</xs:schema>
