BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/SolicitudAprobacion/V1/Schema/SolicitudAprobacionBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:solAproBO="http://www.bcie.org/SolicitudAprobacionBO"
            targetNamespace="http://www.bcie.org/SolicitudAprobacionBO" elementFormDefault="qualified"
            xmlns:operBO="http://www.bcie.org/OperacionBO"
            xmlns:catBO="http://www.bcie.org/CatalogoBO"
            xmlns:cliBO="http://www.bcie.org/ClienteBO">
  <xsd:import schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"
              namespace="http://www.bcie.org/OperacionBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd" 
              namespace="http://www.bcie.org/CatalogoBO" />
   <xsd:import schemaLocation="../../../../DominioCliente/Cliente/V1/Schema/ClienteBO.xsd"
              namespace="http://www.bcie.org/ClienteBO"/>
  <xsd:simpleType name="idSolicitudAprobacion">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="12"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="idUsuarioReunion">
    <xsd:restriction base="xsd:long">
      <xsd:minInclusive value="0"/>
      <xsd:totalDigits value="12"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:complexType name="SolicitudAprobacion">
    <xsd:annotation>
      <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
      <xsd:documentation>Entidad Solicitud Aprobacion - (Modelo canónico)</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idSolicitudAprobacion" maxOccurs="1" minOccurs="0" type="solAproBO:idSolicitudAprobacion"/>
      <xsd:element name="idOperacion" maxOccurs="1" minOccurs="0" type="operBO:idOperacion"/>
      <xsd:element name="nombreOperacion" type="xsd:string"/>
      <xsd:element name="tipoSolicitud" type="catBO:Catalogo"/>
      <xsd:element name="nivelAprobacion" type="catBO:Catalogo"/>
      <xsd:element name="esReunionVirtual" type="xsd:boolean"/>
      <xsd:element name="fechaInicio" type="xsd:date"/>
      <xsd:element name="fechaTermino" type="xsd:date"/>
      <xsd:element name="horaReunion" type="xsd:dateTime"/>
      <xsd:element name="lugar" type="xsd:string"/>
      <xsd:element name="loginUsuario" type="xsd:string"/>
      <xsd:element name="fechaAsignacion" type="xsd:dateTime"/>
      <xsd:element name="fechaCierre" type="xsd:date"/>
      <xsd:element name="loginUsuarioCierre" type="xsd:string"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
      <xsd:element name="estado" type="xsd:boolean"/>
      <xsd:element name="marcadoComoLeido" type="xsd:boolean"/>
      <xsd:element name="cliente" type="cliBO:ClienteBasicType"/>
      <xsd:element name="instanciaProcesoSeguimiento" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="UsuarioReunion">
    <xsd:sequence>
      <xsd:element name="usuario" type="xsd:string"/>
      <xsd:element name="nombreUsuario" type="xsd:string"/>
      <xsd:element name="propietario" type="xsd:boolean"/>
       <xsd:element name="dependecia" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ListadoUsuariosReunion">
    <xsd:sequence>
      <xsd:element name="usuario" type="solAproBO:UsuarioReunion" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="ListadoMiembroReunion">
    <xsd:sequence>
      <xsd:element name="MiembroReunion" type="solAproBO:MiembroReunion" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>


  <xsd:complexType name="MiembroReunion">
    <xsd:sequence>
      <xsd:element name="idUsuarioReunion" maxOccurs="1" minOccurs="0" type="solAproBO:idUsuarioReunion"/>
      <xsd:element name="idSolicitudAprobacion" maxOccurs="1" minOccurs="0" type="solAproBO:idSolicitudAprobacion"/>
      <xsd:element name="idNivelAprobacion" type="xsd:long"  minOccurs="0"/>
      <xsd:element name="rol" type="catBO:Catalogo"/>
      <xsd:element name="usuario" type="xsd:string"/>
      <xsd:element name="dependecia" type="xsd:string"/>
      <xsd:element name="emiteVoto" type="xsd:boolean"/>
      <xsd:element name="notificar" type="xsd:boolean"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
      <xsd:element name="otro" type="xsd:boolean"/>
      <xsd:element name="excusado" type="xsd:boolean"/>
      <xsd:element name="estado" type="xsd:boolean"/>
      <xsd:element name="listadoUsuarios" type="solAproBO:ListadoUsuariosReunion"/>
      <xsd:element name="tipoUsuario" type="xsd:int"/>
      <xsd:element name="conNotificacion" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!--ConsultarAcumuladoVotacion-->
  <xsd:complexType name="AcumuladoVotacion">
    <xsd:sequence>
      <xsd:element name="cantidadVotos" type="xsd:int"/>
      <xsd:element name="descripcionDecision" type="xsd:string"/>
      <xsd:element name="tipoDecision" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!--ConsultarVotacionUsuario-->
  <xsd:complexType name="ListaVotacionUsuario">
    <xsd:sequence>
      <xsd:element name="idSolicitudAprobacion" type="xsd:decimal"/>
      <xsd:element name="idOperacion" type="xsd:decimal"/>
      <xsd:element name="idTcaTipoSolicitud" type="xsd:long"/>
      <xsd:element name="idTcaNivelAprobacion" type="xsd:long"/>
      <xsd:element name="esReunionVirtual" type="xsd:string"/>
      <xsd:element name="fechaInicio" type="xsd:string"/>
      <xsd:element name="fechaTermino" type="xsd:string"/>
      <xsd:element name="horaReunion" type="xsd:string"/>
      <xsd:element name="lugarReunion" type="xsd:string"/>
      <xsd:element name="fechaAsignacion" type="xsd:string"/>
      <xsd:element name="fechaCierre" type="xsd:string"/>
      <xsd:element name="idCliente" type="xsd:decimal"/>
      <xsd:element name="instanciaProcesoSeguimiento" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <!--ConsultarComentariosVotacion-->
  <xsd:complexType name="ListaComentariosVotacion">
    <xsd:sequence>
      <xsd:element name="idSolicitudAprobacion" type="xsd:long"/>
      <xsd:element name="idOperacion" type="xsd:long"/>
      <xsd:element name="fechaHora" type="xsd:string"/>
      <xsd:element name="idComentario" type="xsd:string"/>
      <xsd:element name="comentario" type="xsd:string"/>
      <xsd:element name="nombreUsuario" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Votacion">
    <xsd:sequence>
      <xsd:element name="SolicitudAprobacion" type="solAproBO:SolicitudAprobacion"/>
      <xsd:element name="Usuario" type="solAproBO:MiembroReunion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="Votaciones">
    <xsd:sequence>
      <xsd:element name="Votacion" type="solAproBO:Votacion" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  
 <xsd:complexType name="ConsultarVoto">
    <xsd:sequence>
      <xsd:element name="SolicitudAprobacion" type="solAproBO:SolicitudAprobacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DetalleVotosEmitidos">
    <xsd:sequence>
        <xsd:element name="tipo_decision" type="xsd:decimal"/>
         <xsd:element name="descripcion" type="xsd:string"/>
         <xsd:element name="usuario" type="xsd:string"/>
         <xsd:element name="fecha_hora" type="xsd:dateTime"/>
         <xsd:element name="comentario" type="xsd:string"/>
      <xsd:element name="nombreUsuario" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>