AG_2019/SOA/MerchandiseHierarchyTranslate/SOA/WSDLs/queryMerchadhierarTranslations_table.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/queryMerchadhierarTranslations" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/queryMerchadhierarTranslations" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="MdmMerchandhierarTranslationsCollection" type="MdmMerchandhierarTranslationsCollection"/>
   <xs:complexType name="MdmMerchandhierarTranslationsCollection">
      <xs:sequence>
         <xs:element name="MdmMerchandhierarTranslations" type="MdmMerchandhierarTranslations" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MdmMerchandhierarTranslations">
      <xs:sequence>
         <xs:element name="idJda" type="string120" minOccurs="0"/>
         <xs:element name="id" type="xs:long"/>
         <xs:element name="jdaDepto" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idCompania" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idMarca" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idDivision" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idDepartamento" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idClase" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idTipo" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idUdaClasificacion" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idUdaFamilia" type="xs:long" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="queryMerchadhierarTranslationsSelect_pDivision_pDepto_pClase_pTipoInputParameters" type="queryMerchadhierarTranslationsSelect_pDivision_pDepto_pClase_pTipo"/>
   <xs:complexType name="queryMerchadhierarTranslationsSelect_pDivision_pDepto_pClase_pTipo">
      <xs:sequence>
         <xs:element name="pDivision" type="xs:long" minOccurs="1" maxOccurs="1"/>
         <xs:element name="pDepto" type="xs:long" minOccurs="1" maxOccurs="1"/>
         <xs:element name="pClase" type="xs:long" minOccurs="1" maxOccurs="1"/>
         <xs:element name="pTipo" type="xs:long" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
