AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Applications/Prototipos/UpsertDiff/Resources/WSDLS/XMLSchema_648547056.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://mx.agarcia.ea/Capabilities/Core/Items/CreateSizeEntity"
     targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Items/CreateSizeEntity" elementFormDefault="qualified">
    <xsd:element name="createSizeRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DiffId" type="xsd:string"/>
                <xsd:element name="DiffIdGrp" type="xsd:string"/>
                <xsd:element name="DiffDesc" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:element name="createSizeResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="DiffDesc" type="xsd:string"/>
                <xsd:element name="Code" type="xsd:string"/>
                <xsd:element name="Mnsg" type="xsd:string"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
</xsd:schema>