Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Account/AcctInq/AcctInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcctInq="http://xmlns.banesco.com/eopt/AcctInq_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:element name="AcctInqRq" type="eoptAcctInq:AcctInqRq_Type"/>
	<xs:element name="AcctInqRs" type="eoptAcctInq:AcctInqRs_Type"/>
	<xs:complexType name="AcctInqRq_Type">
		<xs:sequence>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto PartyKey que contiene los datos del cliente a consultar.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctInqRs_Type">
		<xs:sequence>
			<xs:element name="Acct" type="eoAcct:Acct" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Objeto Acct que contiene los datos de la cuenta del cliente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Party" type="eoptAcctInq:Party" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:sequence>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
