AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ASNINAPP/QueryRMS/Resources/Resources/DBRMSOrderASN_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/DBRMSOrderASN" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/DBRMSOrderASN" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxSoaOrdersVwCollection" type="XxSoaOrdersVwCollection"/>
   <xs:complexType name="XxSoaOrdersVwCollection">
      <xs:sequence>
         <xs:element name="XxSoaOrdersVw" type="XxSoaOrdersVw" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxSoaOrdersVw">
      <xs:sequence>
         <xs:element name="orderNo" type="xs:long"/>
         <xs:element name="item" type="string25"/>
         <xs:element name="unitRetail" type="xs:decimal" minOccurs="0"/>
         <xs:element name="unitCost" type="xs:decimal" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="DBRMSOrderASNSelect_OrderNum_ItemInputParameters" type="DBRMSOrderASNSelect_OrderNum_Item"/>
   <xs:complexType name="DBRMSOrderASNSelect_OrderNum_Item">
      <xs:sequence>
         <xs:element name="OrderNum" type="xs:long" minOccurs="1" maxOccurs="1"/>
         <xs:element name="Item" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string25">
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>