AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ASNINAPP/QueryRMS/Resources/Resources/DBRMSOrderDetail_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/DBRMSOrderDetail" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/DBRMSOrderDetail" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxSoaOrdersVwCollection" type="XxSoaOrdersVwCollection"/>
   <xs:complexType name="XxSoaOrdersVwCollection">
      <xs:sequence>
         <xs:element name="XxSoaOrdersVw" type="XxSoaOrdersVw" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxSoaOrdersVw">
      <xs:sequence>
         <xs:element name="orderNo" type="xs:long"/>
         <xs:element name="dept" type="xs:int" minOccurs="0"/>
         <xs:element name="earliestShipDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="semanaentrega" type="string4" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="DBRMSOrderDetailSelect_OrderNumInputParameters" type="DBRMSOrderDetailSelect_OrderNum"/>
   <xs:complexType name="DBRMSOrderDetailSelect_OrderNum">
      <xs:sequence>
         <xs:element name="OrderNum" type="xs:long" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string4">
      <xs:restriction base="xs:string">
         <xs:maxLength value="4"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>