BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/CrearOperacionProceso/XSD/ConsultarOperacionProceso_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarOperacionProceso_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarOperacionProceso_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarOperacionProceso_DBInput" type="ConsultarOperacionProceso_DBInput"/>
   <xs:complexType name="ConsultarOperacionProceso_DBInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:decimal" nillable="true"/>
         <xs:element name="idProceso" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarOperacionProceso_DBOutputCollection" type="ConsultarOperacionProceso_DBOutputCollection"/>
   <xs:complexType name="ConsultarOperacionProceso_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarOperacionProceso_DBOutput" type="ConsultarOperacionProceso_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarOperacionProceso_DBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_PROCESO" type="xs:decimal" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>