BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PC05/FormalizacionProcess.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionProcess"
            targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionProcess"
            elementFormDefault="qualified" xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
            xmlns:eqTr="http://www.bcie.org/EqipoTrabajo/V1">
  <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
              schemaLocation="../Comun/Header/V1/HeaderOPN.xsd"/>
  <xsd:import namespace="http://www.bcie.org/EqipoTrabajo/V1"
              schemaLocation="../Comun/EquipoTrabajo/V1/EquipoTrabajoOPN.xsd"/>
  <xsd:element name="InicioFormalizacion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FinFormalizacion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
        <xsd:element name="equipoTrabajo" type="eqTr:ListadoEquipoTrbajo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InicioContratacionFormalizacion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
   <xsd:element name="FinContratacionFormalizacion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
        <xsd:element name="equipoTrabajo" type="eqTr:ListadoEquipoTrbajo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InicioReasignarRO">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InicioCancelarContratacion">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
