AG_2019/OSB/AlmacenesGarcia_DEV/Capabilities/Support/Commons/MerchandiseHierarchyEntitySvc/Schema/MerchandiseHierarchyEntitySchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Capabilities/Support/Commons/MerchandiseHierarchyEntity" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Capabilities/Support/Commons/MerchandiseHierarchyEntity" xmlns:item="http://mx.agarcia.ea/Canonical/Commons/Items/v1">
  <xs:import schemaLocation="../../../../Foundation/Schemas/Commons/ItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Items/v1"/>
  <xs:element name="translateRequest" type="base:TranslateIn"/>
  <xs:element name="translateResponse" type="base:TranslateOut"/>
  <xs:element name="findHierarchyRequest" type="base:FindHierarchyIn"/>
  <xs:element name="findHierarchyResponse" type="base:FindHierarchyOut"/>
  <xs:element name="findByIdRequest" type="base:FindByIdIn"/>
  <xs:element name="findByIdResponse" type="base:FindByIdOut"/>
  <xs:complexType name="TranslateIn">
    <xs:sequence>
      <xs:element name="itemHierarchyInfo" type="item:HierarchyList"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TranslateOut">
    <xs:sequence>
      <xs:element name="itemHierarchyInfo" type="item:HierarchyList"/>
      <xs:element name="Catalogs" type="item:CatalogList"/>
      <xs:element name="Attributes" type="item:AttributeList"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FindHierarchyIn">
    <xs:sequence>
      <xs:element name="pId" type="xs:string"/>
      <xs:element name="pAppCode" type="xs:string"/>
      <xs:element name="pIdCatalog" type="xs:integer"/>
      <xs:element name="pParentCatId" type="xs:integer"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FindHierarchyOut">
    <xs:sequence>
      <xs:element name="itemHierarchyInfo" type="item:HierarchyList"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FindByIdIn">
    <xs:sequence>
      <xs:element name="id" type="xs:string"/>
      <xs:element name="application" type="xs:string"/>
      <xs:element name="Catalog" type="xs:string"/>
      <xs:element name="targetApplication" type="xs:string"/>

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FindByIdOut">
    <xs:sequence>
      <xs:element name="itemHierarchyInfo" type="item:HierarchyList"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>