AG_2019/OSB/AlmacenesGarcia_DEV/Capabilities/Support/Commons/MerchandiseHierarchyEntitySvc/Schema/MerchandiseHierarchyFindByIdProcessSchema.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/oneCaseDb" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/oneCaseDb"
     elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="MdmMerchandHierarchiesCollection" type="MdmMerchandHierarchiesCollection"/>
    <xs:complexType name="MdmMerchandHierarchiesCollection">
        <xs:sequence>
            <xs:element name="MdmMerchandHierarchies" type="MdmMerchandHierarchies" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="MdmMerchandHierarchies">
        <xs:sequence>
            <xs:element name="id" type="string24"/>
            <xs:element name="appCode" type="string8"/>
            <xs:element name="name" type="xs:string" minOccurs="0" nillable="true"/>
            <xs:element name="catalogId" type="xs:long"/>
            <xs:element name="description" type="string150" minOccurs="0" nillable="true"/>
            <xs:element name="parentId" type="string24" minOccurs="0" nillable="true"/>
            <xs:element name="parentAppcode" type="string8" minOccurs="0" nillable="true"/>
            <xs:element name="primaryId" type="string24" minOccurs="0" nillable="true"/>
            <xs:element name="primaryAppcode" type="string8" minOccurs="0" nillable="true"/>
            <xs:element name="parentCatid" type="xs:long" minOccurs="0" nillable="true"/>
            <xs:element name="primaryCatid" type="xs:long" minOccurs="0" nillable="true"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="oneCaseDbSelect_IdC1_appCodeC1_CatIdC1_targetAppCodeC1InputParameters" type="oneCaseDbSelect_IdC1_appCodeC1_CatIdC1_targetAppCodeC1"/>
    <xs:complexType name="oneCaseDbSelect_IdC1_appCodeC1_CatIdC1_targetAppCodeC1">
        <xs:sequence>
            <xs:element name="IdC1" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="appCodeC1" type="xs:string" minOccurs="1" maxOccurs="1"/>
            <xs:element name="CatIdC1" type="xs:long" minOccurs="1" maxOccurs="1"/>
            <xs:element name="targetAppCodeC1" type="xs:string" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="string24">
        <xs:restriction base="xs:string">
            <xs:maxLength value="24"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string8">
        <xs:restriction base="xs:string">
            <xs:maxLength value="8"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="string150">
        <xs:restriction base="xs:string">
            <xs:maxLength value="150"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>