BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/Prepago/CalculoInteresPrepago/XSD/CalculoInteresPrepago_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CalculoInteresPrepago" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CalculoInteresPrepago" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_PREPAGO" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_ESTADO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MENSAJE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_TBLINTERESES" type="db:FENIX.T_LISTA_INTERES" db:index="5" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="FENIX.T_LISTA_INTERES">
      <sequence>
         <element name="P_TBLINTERESES_ITEM" type="db:FENIX.T_INTERES" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="FENIX.T_INTERES">
      <sequence>
         <element name="CONTRACT_DESEMBOLSO" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BASE" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TASA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MONTO_PREPAGAR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FECHA_DESDE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="FECHA_HASTA" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="DIAS_CALCULADOS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MONEDA" type="db:string50" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="INTERESES" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ID_TRE_PRE_CONT" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ES_PAGO_TOTAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FECHA_PROXIMO_PAGO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string50">
      <restriction base="string">
         <maxLength value="50"/>
      </restriction>
   </simpleType>
</schema>