BCIE_fenix/dev/SOA/09-OSB-FLEXCUBE/MDS/Resources/ComponentesComunes/Flexcube14/Common/V1/Schema/ComisionBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:comBO="http://www.bcie.org/FLEXCUBE14/ComisionBO"
            targetNamespace="http://www.bcie.org/FLEXCUBE14/ComisionBO" elementFormDefault="qualified">
    <xsd:complexType name="ComisionesType">
        <xsd:sequence>
            <xsd:element name="comision" maxOccurs="unbounded" minOccurs="0" type="comBO:Comision"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Comision">
        <xsd:sequence>
            <xsd:element name="Tipo_Tasa" type="xsd:string"/>
            <xsd:element name="Codigo_Tasa" type="xsd:string"/>
            <xsd:element name="Tipo_Comision" type="xsd:string"/>
            <xsd:element name="Base_Calculo" type="xsd:string"/>
            <xsd:element name="Fecha_Inicio" type="xsd:date"/>
            <xsd:element name="Frecuencia" type="xsd:integer"/>
            <xsd:element name="Tipo_Frecuencia" type="xsd:string"/>
            <xsd:element name="Spread" type="xsd:double"/>
            <xsd:element name="Spread_Mora" type="xsd:double"/>
            <xsd:element name="Valor_Comision" type="xsd:double"/>
            <xsd:element name="Monto" type="xsd:double"/>
            <xsd:element name="Tasa_Minima" type="xsd:double"/>
            <xsd:element name="Tasa_Maxima" type="xsd:double"/>
            <xsd:element name="Fecha_Inicio_Revision" type="xsd:date"/>
            <xsd:element name="Frecuencia_Revision" type="xsd:double"/>
            <xsd:element name="Tipo_Frecuencia_Revision" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
