Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Utility/OnlineBankTrnAdv/OnlineBankTrnAdv_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/OnlineBankTrnAdv_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptOnlineBankTrnAdv="http://xmlns.banesco.com/eopt/OnlineBankTrnAdv_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../../../EO/Common/Common_V1.0.xsd"/>
	<xs:element name="OnlineBankTrnAdvRq" type="eoptOnlineBankTrnAdv:OnlineBankTrnAdvRq_Type"/>
	<xs:element name="OnlineBankTrnAdvRs" type="eoptOnlineBankTrnAdv:OnlineBankTrnAdvRs_Type"/>
	<xs:complexType name="OnlineBankTrnAdvRq_Type">
		<xs:sequence>
			<xs:element name="BeneficiaryName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del beneficiario o destinatario de la operación</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BlockReason" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Motivo por el cual se esta bloqueando el producto  (1=Robo, 2= Perdida, etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkBookQty" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numero de Chequeras que solicito el Cliente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkBookType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica que tipo de Chequera esta solicitando el Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Commission" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto de la comisión para la operación</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ConfNumber" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CountryVisit" type="eoCom:Country" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>País que Visitara</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditAcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de cuenta crédito, número de crédito o número de tarjeta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto/Moneda de la operación en la cuenta crédito</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del cliente de la cuenta origen o Titular</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebitAcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de cuenta débito</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebitAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto/Moneda de la operación en la cuenta débito</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de procesamiento de la operación (en la que se hizo efectiva la transacción)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffHr" type="eoCom:timePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hora de procesamiento de la operación (en la que se hizo efectiva la transacción)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Element1" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Campo Alfanumérico para Uso Futuro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Element2" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Campo Alfanumérico para Uso Futuro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Element3" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Campo Numérico para Uso Futuro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Element4" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Campo Numérico para Uso Futuro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Correo Electrónico o Email que el Cliente Digita en la Pagina.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Employee" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag que identifica si la Cuenta Origen de la Transacción es una Cuenta de Empleado.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EventNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica si la trama es la trama 315 o 391 de Monitor para registrar los datos respectivos en Monitor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExitDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de Salida del País que visitara.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FreqPmt" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Frecuencia del pago (frecuencia del pago si es un standing order)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdApp" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código que identifica la aplicación que da origen a este registro.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Consecutivo diario</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IdSendDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha en formato numérico (yyyyMMdd)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IngressDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de Ingreso al País que visitara.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntermediaryBank" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Banco intermediario (si aplica, operaciones internacionales)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotifyEmail" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Correo Electrónico o Email de la Persona que queda encargada por cualquier Notificación.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotifyName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre de la Persona que queda encargada por cualquier notificación.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NotifyPhone" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Teléfono Celular o Fijo de la Persona que queda encargada por cualquier Notificación.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="NumPmt" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Pago</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrigDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de la operación (en la que se realizó la operación)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrigHr" type="eoCom:timePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hora de la operación (en la que se realizó la operación)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="SessionInfo" type="eoCom:SessionInfo" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TargetBank" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Banco destino (banco beneficiario, en caso de transferencias ACH e internacionales, instantáneas para RD)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Taxes" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto del impuesto para la operación para la transacciones que cobran impuestos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código que identifica la transacción/operación realizada. (Deposito, Retiro, Transferencia, etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripción de la operación realizada. (Descripción que el cliente coloca para reconocer la transacción)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference transaction.

Reference associated with the operation or transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnStatus" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status o resultado de la operación (pendiente, ejecutada, rechazada)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OnlineBankTrnAdvRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
