BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/DominioDesembolso/Desembolso/V2/Schema/DesembolsoBOV2.xsd

<!-- edited with XMLSpy v2015 sp1 (x64) (http://www.altova.com) by Cesar Varela (Television Internacional) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:coBO="http://www.bcie.org/ComisionBO" xmlns:prodBO="http://www.bcie.org/ProductoBO"
            xmlns:desBO="http://www.bcie.org/DesembolsoBOV2" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" xmlns:comBO="http://www.bcie.org/CommonBO" xmlns:hceBO="http://www.bcie.org/HerramientaCEBO" xmlns:mtccBO="http://www.bcie.org/MatrizTCCBO" xmlns:regBO="http://www.bcie.org/ReglaBO"
            targetNamespace="http://www.bcie.org/DesembolsoBOV2" elementFormDefault="qualified">
	<xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/LineaCreditoBO" schemaLocation="../../../../DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/CommonBO" schemaLocation="../../../../Common/V1/Schema/CommonBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/HerramientaCEBO" schemaLocation="../../../../DominioHerramientaCE/HerramientaCE/V1/Schema/HerramientaCEBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ProductoBO" schemaLocation="../../../../DominioProducto/Producto/V1/Schema/ProductoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ComisionBO" schemaLocation="../../../../DominioLineaCredito/Comision/V1/Schema/ComisionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/MatrizTCCBO" schemaLocation="../../../../DominioContrato/MatrizTCC/V1/Schema/MatrizTCCBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ReglaBO" schemaLocation="../../../../Common/V1/Schema/ReglaBO.xsd"/>
	<xsd:simpleType name="idDesembolso">
		<xsd:restriction base="xsd:long">
			<xsd:minInclusive value="0"/>
			<xsd:totalDigits value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:group name="DesembolsoIdentificador">
		<xsd:sequence>
			<xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
			<xsd:element name="idFacturador" minOccurs="0" maxOccurs="1">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
	</xsd:group>
	<xsd:complexType name="SolicitudDesembolso">
		<xsd:sequence>
			<xsd:group ref="desBO:DesembolsoIdentificador"/>
			<xsd:element name="fechaCreacion" type="xsd:date"/>
			<xsd:element name="fechaSolicitud" type="xsd:date"/>
			<xsd:element name="monto" type="comBO:MontoType"/>
			<xsd:element name="tipoMoneda" type="catBO:Catalogo"/>
			<xsd:element name="estado" type="catBO:Catalogo"/>
			<xsd:element name="estatus" type="xsd:boolean"/>
			<xsd:element name="instanciaProceso" type="xsd:int"/>
			<xsd:element name="ValidacionAsignacion" type="xsd:boolean"/>
			<xsd:element name="Excepcion" type="desBO:ExcepcionType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContratoDesembolso">
		<xsd:sequence>
			<xsd:group ref="desBO:DesembolsoIdentificador"/>
			<xsd:element name="producto" type="desBO:ProductoDesembolsoType" minOccurs="0"/>
			<xsd:element name="referencia" type="xsd:string" minOccurs="0"/>
			<xsd:element name="monto" type="comBO:MontoType" maxOccurs="unbounded"/>
			<xsd:element name="estado" type="catBO:Catalogo"/>
			<xsd:element name="programado" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="fechaEstimadaDesembolsar" type="xsd:date" minOccurs="0"/>
			<xsd:element name="fechaEfectiva" type="xsd:date" minOccurs="0"/>
			<xsd:element name="fechaAsignacion" type="xsd:date" minOccurs="0"/>
			<xsd:element name="fechaRegistro" type="xsd:date" minOccurs="0"/>
			<xsd:element name="fechaVencimiento" type="xsd:date" minOccurs="0"/>
			<xsd:element name="estatus" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="condicionesFinancieras" type="desBO:condicionesFinancieras" minOccurs="0"/>
			<xsd:element name="idLinea" type="linCreBO:idLineaCredito" minOccurs="0"/>
			<xsd:element name="recursosExternos" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="cuentaCliente" type="xsd:string" minOccurs="0"/>
			<xsd:element name="usuario" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fechaDisponibilidadFondos" type="xsd:date" minOccurs="0"/>
			<xsd:element name="origenTransferenciaCte" type="xsd:string" minOccurs="0"/>
			<xsd:element name="Programa" type="hceBO:ProgramaType" minOccurs="0"/>
			<xsd:element name="EstimadoDesembolso" type="desBO:EstimadoDesembolsoType" minOccurs="0"/>
   <xsd:element name="fechaInicioProceso" type="xsd:date" minOccurs="0"/>
   <xsd:element name="fechaEstimadaDisponibilidad" type="xsd:date" minOccurs="0"/>
   <xsd:element name="Utilizacion" type="linCreBO:Fuente" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Cargo" type="desBO:CargoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Comision" type="coBO:Comision" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Transferencia" type="desBO:Transferencia" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="TransferenciaFT05" type="desBO:TransferenciaFT05Type" minOccurs="0"/>
			<xsd:element name="TransferenciaRecursos" type="desBO:TransferenciaRecursosType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="HerramientaCE" type="hceBO:HerramientaCEType" minOccurs="0"/>
                        <xsd:element name="modalidadFinan" type="catBO:Catalogo" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Transferencia">
		<xsd:sequence>
			<xsd:element name="idTransferencia" type="desBO:idDesembolso"/>
			<xsd:group ref="desBO:DesembolsoIdentificador"/>
			<xsd:element name="Monto" type="comBO:MontoType"/>
			<xsd:element name="FormaTransferencia" type="catBO:Catalogo"/>
			<xsd:element name="referenciaMensaje" type="xsd:string" minOccurs="0"/>
			<xsd:element name="esConsolidada" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="esConsolidacionPadre" type="xsd:long" minOccurs="0"/>
			<xsd:element name="idConsolidacionPadre" type="xsd:long" minOccurs="0"/>
			<xsd:element name="bhqTransferencia" type="xsd:string" minOccurs="0"/>
			<xsd:element name="NumeroReserva" type="xsd:long" minOccurs="0"/>
			<xsd:element name="idBancoTransferencia" type="xsd:string" minOccurs="0"/>
			<xsd:element name="numeroCuenta" type="xsd:string" minOccurs="0"/>
			<xsd:element name="nombreCuenta" type="xsd:string"/>
			<xsd:element name="nombreBanco" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idOperacion" type="operBO:idOperacion"/>
			<xsd:element name="tipoMensaje" type="xsd:string"/>
			<xsd:element name="estado" type="xsd:string" minOccurs="0"/>
			<xsd:element name="fechaRegistro" type="xsd:date"/>
			<xsd:element name="Beneficiario" type="desBO:InformacionTransferencia" minOccurs="0"/>
			<xsd:element name="Banco" type="desBO:InformacionTransferencia" minOccurs="0"/>
			<xsd:element name="Intermediario" type="desBO:InformacionTransferencia" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformacionTransferencia">
		<xsd:sequence>
			<xsd:element name="tipoOpcion" type="xsd:string" minOccurs="0"/>
			<xsd:element name="numeroCta" type="xsd:string" minOccurs="0"/>
			<xsd:element name="identificador" type="xsd:string" minOccurs="0"/>
			<xsd:element name="beneficiario" type="xsd:string" minOccurs="0"/>
			<xsd:element name="direccion" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FlujoCaja">
		<xsd:sequence>
			<xsd:group ref="desBO:DesembolsoIdentificador"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="condicionesFinancieras">
		<xsd:sequence>
			<xsd:element name="idCondicionFinanciera" type="desBO:idDesembolso"/>
			<xsd:element name="fondo" type="desBO:FondoType"/>
			<xsd:element name="baseCalculo" type="catBO:Catalogo"/>
			<xsd:element name="periodoGracia" type="desBO:FrecuenciaType"/>
			<xsd:element name="tratamientoDiasFeriados" type="xsd:string"/>
			<xsd:element name="tipoCalendario" type="catBO:Catalogo"/>
   <xsd:element name="moverEntreMeses" type="xsd:boolean"/>
   <xsd:element name="Componente" type="desBO:ComponenteType" minOccurs="0" maxOccurs="unbounded"/>
   <xsd:element name="calendario" type="desBO:CalendarioType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="tasaType">
		<xsd:sequence>
			<xsd:element name="tipo" type="catBO:Catalogo"/>
			<xsd:group ref="desBO:tasaGroup"/>
			<xsd:element name="spreadMora" type="desBO:spreadType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="fijaType">
		<xsd:sequence>
			<xsd:element name="valor" type="xsd:decimal"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="referenciaType">
		<xsd:complexContent>
			<xsd:extension base="catBO:Catalogo">
				<xsd:sequence>
					<xsd:element name="valor" type="xsd:decimal"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="variableType">
		<xsd:sequence>
			<xsd:element name="tasaReferencia" type="desBO:referenciaType"/>
			<xsd:element name="spread" type="desBO:spreadType"/>
			<xsd:element name="revision" type="desBO:FrecuenciaType" minOccurs="0"/>
			<xsd:element name="limite" type="comBO:RangoType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="spreadType">
		<xsd:complexContent>
			<xsd:extension base="desBO:fijaType">
				<xsd:sequence>
					<xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="revision" type="desBO:FrecuenciaType" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TransaccionType">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
			<xsd:element name="plataforma" type="xsd:string"/>
			<xsd:element name="operacion" type="xsd:string"/>
			<xsd:element name="fechaRegistro" type="xsd:date" minOccurs="0"/>
			<xsd:element name="estatus" type="xsd:boolean"/>
			<xsd:element name="detalleTransaccion" type="desBO:DetalleTransaccionType" minOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DetalleTransaccionType">
		<xsd:sequence>
			<xsd:element name="Parameters" type="comBO:parameterExtenderType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DetalleTransaccionBasicType">
		<xsd:sequence>
			<xsd:element name="Parameters" type="comBO:parameterType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="tasaGroup">
		<xsd:choice>
			<xsd:element name="fija" type="desBO:fijaType"/>
			<xsd:element name="variable" type="desBO:variableType"/>
			<xsd:element name="especial" type="desBO:fijaType"/>
		</xsd:choice>
	</xsd:group>
	<xsd:complexType name="LineaFinancieraType">
		<xsd:sequence>
			<xsd:element name="codigo" type="xsd:string" minOccurs="0"/>
			<xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
			<xsd:element name="activo" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LimiteLineaFinancieraType">
		<xsd:sequence>
			<xsd:element name="Codigo" type="catBO:Catalogo"/>
			<xsd:element name="LineaFinanciera" type="desBO:LineaFinancieraType"/>
			<xsd:element name="Monto" type="comBO:MontoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LimiteGlobalLineaFinanciera">
		<xsd:complexContent>
			<xsd:extension base="desBO:LimiteLineaFinancieraType">
				<xsd:sequence>
					<xsd:element name="LineasGrupo" type="xsd:string"/>
					<xsd:element name="MonedasGrupo" type="xsd:string" minOccurs="0"/>
					<xsd:element name="ConcentradoPais" type="xsd:long" nillable="true" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="CargoType">
		<xsd:complexContent>
			<xsd:extension base="catBO:Catalogo">
				<xsd:sequence>
					<xsd:element name="Monto" type="comBO:MontoType"/>
					<xsd:element name="FechaRegistro" type="xsd:date" minOccurs="1"/>
					<xsd:element name="Status" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="SoloLectura" type="xsd:boolean" minOccurs="0"/>
					<xsd:element name="TCC" type="mtccBO:TCC" minOccurs="0"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ProductoDesembolsoType">
		<xsd:complexContent>
			<xsd:extension base="prodBO:ProductoBasicType">
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ComponenteType">
  <xsd:complexContent>
   <xsd:extension base="catBO:Catalogo">
    <xsd:sequence>
     <xsd:element name="TipoComponente" type="catBO:Catalogo"/>
     <xsd:element name="TipoTasa" type="catBO:Catalogo"/>
     <xsd:element name="BaseCalculo" type="catBO:Catalogo"/>
     <xsd:element name="esDependiente" type="xsd:boolean"/>
     <xsd:element name="esFactor" type="xsd:boolean"/>
     <xsd:element name="CodigoTasaReferencia" type="xsd:string"/>
     <xsd:element name="FechaEfectivaTasaReferencia" type="xsd:date"/>
     <xsd:element name="ValorTasaReferencia" type="xsd:double"/>
     <xsd:element name="Tasa" type="xsd:double"/>
     <xsd:element name="SpreadTasa" type="xsd:double"/>
     <xsd:element name="MontoDescuento" type="xsd:double"/>
     <xsd:element name="DiasSpotTasa" type="xsd:double"/>
     <xsd:element name="TipoRedondeo" type="catBO:Catalogo"/>
     <xsd:element name="CantidadDecimales" type="xsd:double"/>
     <xsd:element name="LimiteTasaMinima" type="xsd:double"/>
     <xsd:element name="LimiteTasaMaxima" type="xsd:double"/>
     <xsd:element name="calendario" type="desBO:CalendarioType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
	<xsd:complexType name="EstimadoDesembolsoType">
		<xsd:sequence>
			<xsd:element name="Plazo" type="xsd:int"/>
			<xsd:element name="Frecuencia" type="catBO:Catalogo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExcepcionType">
		<xsd:complexContent>
			<xsd:extension base="regBO:ReglaBasicType">
				<xsd:sequence>
					<xsd:element name="instanciaProceso" type="xsd:long"/>
					<xsd:element name="enProcesoExcepcion" type="xsd:boolean"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SolicitudDesembolsoType">
		<xsd:complexContent>
			<xsd:extension base="desBO:SolicitudDesembolso">
				<xsd:sequence>
					<xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FondoType">
		<xsd:complexContent>
			<xsd:extension base="catBO:Catalogo">
				<xsd:sequence>
					<xsd:element name="Validador" type="catBO:Catalogo" minOccurs="0" maxOccurs="unbounded"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:group name="LineaFinancieraGroup">
		<xsd:choice>
			<xsd:element name="ListaLineaFinanciera" type="xsd:string" nillable="true"/>
			<xsd:element name="LineaFinanciera" type="desBO:LineaFinancieraType" nillable="true" maxOccurs="unbounded"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="DestinoGroup">
		<xsd:choice>
			<xsd:element name="ListaDestino" nillable="true"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="MonedaGroup">
		<xsd:choice>
			<xsd:element name="ListaMoneda" nillable="true"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="PaisesGroup">
		<xsd:choice>
			<xsd:element name="ListaPaises" nillable="true"/>
		</xsd:choice>
	</xsd:group>
	<xsd:complexType name="SaldoCarteraType">
		<xsd:complexContent>
			<xsd:extension base="linCreBO:TeenLineaCreditoType">
				<xsd:sequence>
					<xsd:group ref="desBO:LineaFinancieraGroup"/>
					<xsd:group ref="desBO:DestinoGroup"/>
					<xsd:group ref="desBO:MonedaGroup"/>
					<xsd:group ref="desBO:PaisesGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TransaccionDesembolsoType">
		<xsd:sequence>
			<xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
			<xsd:element name="TransaccionDetalle" type="desBO:TransaccionType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FrecuenciaType">
		<xsd:sequence>
			<xsd:element name="FechaInicio" type="xsd:date"/>
			<xsd:element name="Frecuencia" type="comBO:PlazoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InteresType">
		<xsd:complexContent>
			<xsd:extension base="desBO:FrecuenciaType">
				<xsd:sequence>
					<xsd:element name="Tasa" type="desBO:tasaType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LimitePlazoType">
		<xsd:complexContent>
			<xsd:extension base="comBO:PlazoType">
				<xsd:sequence>
					<xsd:element name="TipoLimite" type="catBO:Catalogo"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="TransferenciaFT05Type">
		<xsd:sequence>
			<xsd:element name="idTransferenciaFT05" type="desBO:idDesembolso"/>
			<xsd:group ref="desBO:DesembolsoIdentificador"/>
			<xsd:element name="FechaEfectiva" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransferenciaRecursosType">
		<xsd:sequence>
			<xsd:element name="idTransferencia" type="desBO:idDesembolso"/>
			<xsd:group ref="desBO:DesembolsoIdentificador"/>
			<xsd:element name="idLineaPasiva" type="xsd:int"/>
			<xsd:element name="Monto" type="comBO:MontoType"/>
			<xsd:element name="fecha" type="xsd:date"/>
			<xsd:element name="fechaEfectiva" type="xsd:date"/>
			<xsd:element name="FormaTransferencia" type="catBO:Catalogo"/>
			<xsd:element name="idBanco" type="xsd:string" minOccurs="0"/>
			<xsd:element name="nombreBanco" type="xsd:string" minOccurs="0"/>
			<xsd:element name="numeroCuenta" type="xsd:string" minOccurs="0"/>
			<xsd:element name="nombreCuenta" type="xsd:string" minOccurs="0"/>
			<xsd:element name="estatus" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="fechaRegistro" type="xsd:date" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CalendarioType">
  <xsd:complexContent>
   <xsd:extension base="catBO:Catalogo">
    <xsd:sequence>
     <xsd:element name="TipoPlan" type="catBO:Catalogo"/>
     <xsd:element name="Frecuencia" type="desBO:FrecuenciaType"/>
     <xsd:element name="Monto" type="comBO:MontoType"/>
     <xsd:element name="NumeroCuotas" type="xsd:int"/>
    </xsd:sequence>
   </xsd:extension>
  </xsd:complexContent>
 </xsd:complexType>
 <xsd:complexType name="ListaSolicitudDesembolso">
  <xsd:sequence>
   <xsd:element name="SolicitudDesembolso" type="desBO:idDesembolso" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="ListaContratoDesembolso">
  <xsd:sequence>
   <xsd:element name="ContratoDesembolso" type="desBO:idDesembolso" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
</xsd:schema>
