BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ConfiguracionProcesos/V1/Schema/ConfiguracionProcesosBO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/ConfiguracionProcesosBO" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:confBO="http://www.bcie.org/ConfiguracionProcesosBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:prodBO="http://www.bcie.org/ProductoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:comBO="http://www.bcie.org/ComisionBO" xmlns:mtccBO="http://www.bcie.org/MatrizTCCBO" xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:ipctBO="http://www.bcie.org/ImplementacionPctBO" xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" xmlns:desBO="http://www.bcie.org/DesembolsoBO" xmlns:CondicionBO="http://www.bcie.org/CondicionBO" xmlns:AdqBO="http://www.bcie.org/AdquisicionBO" xmlns:bitBO="http://www.bcie.org/CrearBitacoraProcesoBO" xmlns:lecciones="http://www.bcie.org/LeccionAprendidaBO">
	<xsd:import namespace="http://www.bcie.org/ProductoBO" schemaLocation="../../../../DominioProducto/Producto/V1/Schema/ProductoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="../../../../DominioCliente/Cliente/V1/Schema/ClienteBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ComisionBO" schemaLocation="../../../../DominioLineaCredito/Comision/V1/Schema/ComisionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/MatrizTCCBO" schemaLocation="../../../../DominioContrato/MatrizTCC/V1/Schema/MatrizTCCBO.xsd"/>
	<xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="../../../../../BPM/Schema/Comun/Header/V1/HeaderOPN.xsd"/>
        <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" schemaLocation="../../../../../BPM/Schema/Comun/Parameter/V1/ParameterOPN.xsd"/>
        <xsd:import namespace="http://www.bcie.org/ImplementacionPctBO" schemaLocation="../../../../DominioOperacion/implementacionPCT/V1/Schema/ImplementacionPctBO.xsd"/>
        <xsd:import namespace="http://www.bcie.org/DesembolsoBO" schemaLocation="../../../../DominioDesembolso/Desembolso/V1/Schema/DesembolsoBO.xsd"/>
        <xsd:import namespace="http://www.bcie.org/CondicionBO" schemaLocation="../../../../DominioContrato/Condicion/V1/Schema/CondicionBO.xsd"/>
        <xsd:import namespace="http://www.bcie.org/AdquisicionBO" schemaLocation="../../../../DominioOperacion/Adquisicion/V1/Schema/AdquisicionBO.xsd"/>
        <xsd:import namespace="http://www.bcie.org/CrearBitacoraProcesoBO" schemaLocation="../../../BitacoraProceso/V1/Schema/BitacoraProcesoBO.xsd"/>
        <xsd:import namespace="http://www.bcie.org/LeccionAprendidaBO" schemaLocation="../../../../DominioLeccionesAprendidas/LeccionAprendida/V1/Schema/LeccionAprendidaBO.xsd"/>
	<!-- Elegibilidad -->
	<xsd:complexType name="ConfiguracionElegibilidad">
		<xsd:annotation>
			<xsd:documentation>Elemento para la configuración inicial del proceso de Elegibilidad</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operacion" type="operBO:Operacion"/>
			<xsd:element name="producto" type="prodBO:Producto"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
   <xsd:element name="configuration">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="requiereAsjur" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="requiereGeries" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="requiereOej" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Rol">
		<xsd:complexContent>
			<xsd:extension base="catBO:Catalogo"/>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="EquipoTrabajo">
		<xsd:sequence>
			<xsd:element name="Rol" type="catBO:Catalogo" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
        <xsd:complexType name="Tareas">
		<xsd:sequence>
			<xsd:element name="Tarea" type="catBO:Tarea" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfiguracionPreparacion">
		<xsd:annotation>
			<xsd:documentation>Elemento para la configuración inicial del proceso de Preparación</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operacion" type="operBO:Operacion"/>
			<xsd:element name="producto" type="prodBO:Producto"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
   <xsd:element name="configuration">
    <xsd:complexType>
     <xsd:sequence>
      <xsd:element name="requiereElaborarDocumentoTecnicoOPD" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="requiereGenerarPlanMonitoreoOPD" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="requiereRevisarEvidenciaCumplimientoOPD" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
     </xsd:sequence>
    </xsd:complexType>
   </xsd:element>
  </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfiguracionLavadoActivos">
		<xsd:annotation>
			<xsd:documentation>Elemento para la configuración inicial del proceso de Lavado de activos</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operacion" type="operBO:Operacion"/>
			<xsd:element name="producto" type="prodBO:Producto"/>
			<xsd:element name="responsableRO" type="xsd:boolean"/>
			<xsd:element name="responsableOFIC" type="xsd:boolean"/>
			<xsd:element name="solicitarAnalista" type="xsd:boolean"/>
			<xsd:element name="aplicaLAFT" type="xsd:boolean"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfiguracionAnalisis">
		<xsd:annotation>
			<xsd:documentation>Elemento para la configuración inicial del proceso de Analisis</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operacion" type="operBO:Operacion"/>
			<xsd:element name="producto" type="prodBO:Producto"/>
			<xsd:element name="esIFI" type="xsd:boolean"/>
			<xsd:element name="requiereSCR" type="xsd:boolean"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfiguracionFormalizacion">
		<xsd:annotation>
			<xsd:documentation>Elemento para la configuración inicial del proceso de Formalizacion</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operacion" type="operBO:Operacion"/>
			<xsd:element name="producto" type="prodBO:Producto"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
			<xsd:element name="ConfiguracionProducto" type="confBO:Tareas"/>
		</xsd:sequence>
	</xsd:complexType>
        
        <xsd:complexType name="ConfiguracionFormalizacionEnmiendas">
		<xsd:annotation>
			<xsd:documentation>Elemento para la configuración inicial del proceso de Formalizacion de Enmiendas</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operacion" type="operBO:Operacion"/>
			<xsd:element name="producto" type="prodBO:Producto"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
		</xsd:sequence>
	</xsd:complexType>
        
	<xsd:complexType name="ConfiguracionAprobacion">
		<xsd:annotation>
			<xsd:documentation>Elemento para la configuración inicial del proceso de Aprobacion</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operacion" type="operBO:Operacion"/>
			<xsd:element name="producto" type="prodBO:Producto"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
			<xsd:element name="ResponsableSolicitud" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfiguracionEvaluacion">
		<xsd:annotation>
			<xsd:documentation>Elemento para la configuración inicial del proceso de Evaluacion</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operacion" type="operBO:Operacion"/>
			<xsd:element name="producto" type="prodBO:Producto"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfiguracionCancelarOperacion">
		<xsd:annotation>
			<xsd:documentation>Elemento para la configuración cancelar Operacion</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operacion" type="operBO:Operacion"/>
			<xsd:element name="producto" type="prodBO:Producto"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
			<xsd:element name="gerente" type="xsd:boolean"/>
			<xsd:element name="Enmiendas" type="mtccBO:listaEnmiendaTCC"/>
			<xsd:element name="Comisiones" type="comBO:listaComision"/>
                        <xsd:element name="ImplementacionPCT" type="ipctBO:ListaImplementacionPCT"/>
                        <xsd:element name="SolicitudDesembolso" type="desBO:ListaSolicitudDesembolso"/>
                        <xsd:element name="Condiciones" type="CondicionBO:ListaTransaccionCondicion"/>
                        <xsd:element name="Adquisiciones" type="AdqBO:ListaAdquisicion"/>
                        <xsd:element name="RegistrarComision" type="bitBO:ListaInstanciaProceso"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfiguracionEmniendas">
		<xsd:annotation>
			<xsd:documentation>Elemento para la configuración Emniendas</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operacion" type="operBO:Operacion"/>
			<xsd:element name="producto" type="prodBO:Producto"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
			<xsd:element name="requiereCOFI" type="xsd:boolean"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfiguracionAdminstracionCliente">
		<xsd:annotation>
			<xsd:documentation>Elemento para la configuración Administracion Cliente</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operacion" type="operBO:Operacion"/>
			<xsd:element name="producto" type="prodBO:Producto"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfiguracionAdminstracionOperacion">
		<xsd:annotation>
			<xsd:documentation>Elemento para la configuración Administracion Operacion</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operacion" type="operBO:Operacion"/>
			<xsd:element name="producto" type="prodBO:Producto"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
		</xsd:sequence>
	</xsd:complexType>
        <xsd:complexType name="ConfiguracionLeccionesAprendidas">
		<xsd:annotation>
			<xsd:documentation>Elemento para la configuración de LeccionesAprendidas</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operacion" type="operBO:Operacion"/>
			<xsd:element name="LeccionAprendida" type="lecciones:LeccionAprendidaType" maxOccurs="unbounded"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfiguracionComisiones">
		<xsd:annotation>
			<xsd:documentation>Elemento para la configuración Comisiones</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operacion" type="operBO:Operacion"/>
			<xsd:element name="producto" type="prodBO:Producto"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfiguracionCondiciones">
		<xsd:annotation>
			<xsd:documentation>Elemento para la configuración Condiciones</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="operacion" type="operBO:Operacion"/>
			<xsd:element name="producto" type="prodBO:Producto"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
			<xsd:element name="requiereValidarCondiciones" type="xsd:boolean"/>
                        <xsd:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
  </xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfiguracionReasignarOperacion">
		<xsd:sequence>
			<xsd:element name="Enmiendas" type="mtccBO:listaEnmiendaTCC"/>
			<xsd:element name="Comisiones" type="comBO:listaComision"/>
   <xsd:element name="ImplementacionPCT" type="ipctBO:ListaImplementacionPCT"/>
   <xsd:element name="SolicitudDesembolso" type="desBO:ListaSolicitudDesembolso"/>
   <xsd:element name="ContratoDesembolso" type="desBO:ListaContratoDesembolso"/>
   <xsd:element name="Condiciones" type="CondicionBO:ListaTransaccionCondicion"/>
   <xsd:element name="Adquisiciones" type="AdqBO:ListaAdquisicion"/>
   <xsd:element name="Prepago" type="bitBO:ListaInstanciaProceso"/>
   <xsd:element name="RegistrarComision" type="bitBO:ListaInstanciaProceso"/>
  </xsd:sequence>
	</xsd:complexType>
 <xsd:complexType name="ConfiguracionReasignarCliente">
  <xsd:sequence>
   <xsd:element name="GestionCobro" type="bitBO:ListaBitacora"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="Enmienda">
		<xsd:sequence>
			<xsd:element name="element1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfiguracionType">
		<xsd:sequence>
			<xsd:element name="Header" type="header:Header"/>
                        <xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
		</xsd:sequence>
	</xsd:complexType>
        <xsd:complexType name="ConfiguracionContratoFormalizacionType">
		<xsd:sequence>
			<xsd:element name="Header" type="header:Header"/>
                        <xsd:element name="producto" type="prodBO:Producto"/>
			<xsd:element name="RolesEquipoTrabajo" type="confBO:EquipoTrabajo"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>