MIRA/SOA_PRD_Almacenes/DistributePriceChange/SOA/Schemas/Commons/AGStandardMessageSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" targetNamespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:element name="messageError" type="AGsm:MessageError"/>
   <xs:element name="messageResponse" type="AGsm:MessageResponse"/>
   <xs:complexType name="MessageError">
      <xs:sequence>
         <xs:element name="errorCode" type="xs:string" minOccurs="0"/>
         <xs:element name="errorDescription" type="xs:string" minOccurs="0"/>
         <xs:element name="errorType" type="xs:string" minOccurs="0"/>
         <xs:element name="severity" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MessageResponse">
      <xs:sequence>
         <xs:element name="result" type="xs:boolean" minOccurs="0"/>
         <xs:element name="description" type="xs:string" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MessageErrorAGType">
      <xs:sequence>
         <xs:element name="messageError" type="AGsm:MessageError"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
