BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/Utilidades/CrearPlazoCondicion/V1/WSDL/CrearPlazoCondicion.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions targetNamespace="http://www.bcie.org/CrearPlazoCondicion" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.bcie.org/CrearPlazoCondicion" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:cpc="http://www.bcie.org/CrearPlazoCondicion"
             xmlns:resBO="http://www.bcie.org/ResultBO">
  <types>
    <xsd:schema targetNamespace="http://www.bcie.org/CrearPlazoCondicion" elementFormDefault="qualified">
      <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
      <xsd:element name="requestCrearPlazoCondicionMessage" type="cpc:CrearPlazoCondicionRequest"/>
      <xsd:element name="responseCrearPlazoCondicionMessage" type="cpc:CrearPlazoCondicionResponse"/>
      <xsd:complexType name="CrearPlazoCondicionRequest">
        <xsd:sequence>
          <xsd:element name="idTipoFechaInicio" type="xsd:long"/>
          <xsd:element name="tipoFechaInicio" type="xsd:string"/>
          <xsd:element name="plazo" type="xsd:int"/>
          <xsd:element name="fechaInicio" type="xsd:string"/>
          <xsd:element name="idTipoPlazo" type="xsd:long"/>
          <xsd:element name="tipoPlazo" type="xsd:string"/>
          <xsd:element name="idOperacion" type="xsd:decimal"/>
          <xsd:element name="listaCondicion" type="cpc:ListaCondicion" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="CrearPlazoCondicionResponse">
        <xsd:sequence>
          <xsd:element name="idTermino" type="xsd:decimal"/>
          <xsd:element name="Resultado" type="resBO:Resultado"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="ListaCondicion">
        <xsd:sequence>
          <xsd:element name="idCategoriaCondicion" type="xsd:decimal"/>
          <xsd:element name="nombre" type="xsd:string"/>
          <xsd:element name="idTipoPlazo" type="xsd:long"/>
          <xsd:element name="fechaFinal" type="xsd:string"/>
          <xsd:element name="idControlCondicion" type="xsd:long"/>
          <xsd:element name="idCondicion" type="xsd:decimal"/>
          <xsd:element name="idEstadoTCC" type="xsd:long"/>
          <xsd:element name="plazo" type="xsd:int"/>
          <xsd:element name="descripcion" type="xsd:string"/>
        </xsd:sequence>
      </xsd:complexType>
    </xsd:schema>
  </types>
  <message name="requestMessage">
    <part name="requestMessage" element="tns:requestCrearPlazoCondicionMessage"/>
  </message>
  <message name="responseMessage">
    <part name="responseMessage" element="tns:responseCrearPlazoCondicionMessage"/>
  </message>
  <portType name="CrearPlazoCondicion_ptt">
    <operation name="CrearPlazoCondicion">
      <input message="tns:requestMessage"/>
      <output message="tns:responseMessage"/>
    </operation>
  </portType>
  <binding name="CrearPlazoCondicion_pttSOAP12Binding" type="tns:CrearPlazoCondicion_ptt">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CrearPlazoCondicion">
      <soap12:operation style="document" soapAction="http://www.bcie.org/CrearPlazoCondicion/CrearPlazoCondicion"/>
      <input>
        <soap12:body use="literal" parts="requestMessage"/>
      </input>
      <output>
        <soap12:body use="literal" parts="responseMessage"/>
      </output>
    </operation>
  </binding>
</definitions>