AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ItemApp/QueryItemRMSAdapterService/Resources/Schema/QueryItemRMSReference_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/QueryItemRMSReference" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/QueryItemRMSReference" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxSoaItemVwCollection" type="XxSoaItemVwCollection"/>
   <xs:complexType name="XxSoaItemVwCollection">
      <xs:sequence>
         <xs:element name="XxSoaItemVw" type="XxSoaItemVw" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxSoaItemVw">
      <xs:sequence>
         <xs:element name="item" type="string25"/>
         <xs:element name="supplier" type="xs:long" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="QueryItemRMSReferenceSelect_ItemParamInputParameters" type="QueryItemRMSReferenceSelect_ItemParam"/>
   <xs:complexType name="QueryItemRMSReferenceSelect_ItemParam">
      <xs:sequence>
         <xs:element name="ItemParam" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string25">
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>