BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioContrato/Condicion/V1/Schema/CondicionMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/CondicionMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:conMO="http://www.bcie.org/CondicionMO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:conBO="http://www.bcie.org/CondicionBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:docBO="http://www.bcie.org/DocumentoBO">
  <xsd:import schemaLocation="CondicionBO.xsd" namespace="http://www.bcie.org/CondicionBO"/>
  <xsd:import schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd" namespace="http://www.bcie.org/OperacionBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:import schemaLocation="../../../../DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoMO.xsd" namespace="http://www.bcie.org/LineaCreditoMO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd" namespace="http://www.bcie.org/CatalogoBO"/>
  <xsd:import schemaLocation="../../../../DominioDocumento/Documento/V1/Schema/DocumentoBO.xsd" namespace="http://www.bcie.org/DocumentoBO"/>
  
  <!-- Mensajes -->
  <xsd:element name="CrearCondicionRequest" type="conMO:CrearCondicionRequestType"/>
  <xsd:element name="CrearCondicionResponse" type="conMO:CrearCondicionResponseType"/>
  <xsd:element name="CrearReporteCondicionRequest" type="conMO:CrearReporteCondicionRequestType"/>
  <xsd:element name="CrearReporteCondicionResponse" type="conMO:CrearReporteCondicionResponseType"/>
  <xsd:element name="ConsultarCondicionRequest" type="conMO:ConsultarCondicionRequestType"/>
  <xsd:element name="ConsultarCondicionResponse" type="conMO:ConsultarCondicionResponseType"/>
  <xsd:element name="ActualizarCondicionRequest" type="conMO:ActualizarCondicionRequestType"/>
  <xsd:element name="ActualizarCondicionResponse" type="conMO:ActualizarCondicionResponseType"/>
  <xsd:element name="ValidarCondicionesFormalizacionRequest" type="conMO:ValidarCondicionesFormalizacionRequestType"/>
  <xsd:element name="ValidarCondicionesFormalizacionResponse" type="conMO:ValidarCondicionesFormalizacionResponseType"/>
  <xsd:element name="EliminarCondicionRequest" type="conMO:EliminarCondicionRequestType"/>
  <xsd:element name="EliminarCondicionResponse" type="conMO:EliminarCondicionResponseType"/>
    <xsd:element name="ConsultarTreCategoriaByIdCondicionRequest" type="conMO:ConsultarTreCategoriaByIdCondicionRequestType"/>
  <xsd:element name="ConsultarTreCategoriaByIdCondicionResponse" type="conMO:ConsultarTreCategoriaByIdCondicionResponseType"/>
  <xsd:element name="CrearTreCategoriaCondicionRequest" type="conMO:CrearTreCategoriaCondicionRequestType"/>
  <xsd:element name="CrearTreCategoriaCondicionResponse" type="conMO:CrearTreCategoriaCondicionResponseType"/>
  <xsd:element name="ActualizarTreCategoriaCondicionRequest" type="conMO:ActualizarCondicionRequestType"/>
  <xsd:element name="ActualizarTreCategoriaCondicionResponse" type="conMO:ActualizarCondicionResponseType"/>
  <xsd:element name="ConsultarCondicionByRolRequest" type="conMO:ConsultarCondicionByRolRequestType"/>
  <xsd:element name="ConsultarCondicionByRolResponse" type="conMO:consultarCondicionByRolResponseType"/>
   <xsd:element name="ConsultarCondicionValidacionByRolRequest" type="conMO:ConsultarCondicionValidacionByRolRequestType"/>
  <xsd:element name="ConsultarCondicionValidacionByRolResponse" type="conMO:ConsultarCondicionValidacionByRolResponseType"/>
  <xsd:element name="ConsultarCondicionByIdOperacionRequest" type="conMO:ConsultarCondicionByIdOperacionRequestType"/>
  <xsd:element name="ConsultarCondicionByIdOperacionResponse" type="conMO:ConsultarCondicionByIdOperacionResponseType"/>
  <xsd:element name="ConsultarTreEventoCondicionByIdCondicionRequest" type="conMO:ConsultarTreEventoCondicionByIdCondicionRequestType"/>
  <xsd:element name="ConsultarTreEventoCondicionByIdCondicionResponse" type="conMO:ConsultarTreEventoCondicionByIdCondicionResponseType"/>
  <xsd:element name="CrearTreEventoCondicionRequest" type="conMO:CrearTreEventoCondicionRequestType"/>
  <xsd:element name="CrearTreEventoCondicionResponse" type="conMO:CrearTreEventoCondicionResponseType"/>
  <xsd:element name="CrearObservacionCondicionRequest" type="conMO:CrearObservacionCondicionRequestType"/>
  <xsd:element name="CrearObservacionCondicionResponse" type="conMO:CrearObservacionCondicionResponseType"/>
  <xsd:element name="ValidarCondicionRequest" type="conMO:ValidarCondicionRequestType"/>
  <xsd:element name="ValidarCondicionResponse" type="conMO:ValidarCondicionResponseType"/>
  <xsd:element name="EliminarCategoriaCondicionByIdCondicionRequest" type="conMO:EliminarCategoriaCondicionByIdCondicionRequestType"/>
  <xsd:element name="EliminarCategoriaCondicionByIdCondicionResponse" type="conMO:EliminarCategoriaCondicionByIdCondicionResponseType"/>
  <xsd:element name="EliminarEventoCondicionByIdCondicionRequest" type="conMO:EliminarEventoCondicionByIdCondicionRequestType"/>
  <xsd:element name="EliminarEventoCondicionByIdCondicionResponse" type="conMO:EliminarEventoCondicionByIdCondicionResponseType"/>
  <xsd:element name="NotificarValidacionCondicionRequest" type="conMO:NotificarValidacionCondicionRequestType"/>
  <xsd:element name="NotificarValidacionCondicionResponse" type="conMO:NotificarValidacionCondicionResponseType"/>
  <xsd:element name="ConsultarCondicionByIdLineaCreditoRequest" type="conMO:ConsultarCondicionByIdLineaCreditoRequestType"/>
  <xsd:element name="ConsultarCondicionByIdLineaCreditoResponse" type="conMO:ConsultarCondicionByIdLineaCreditoResponseType"/>
  <xsd:element name="ConsultarCondicionByIdEventoRequest" type="conMO:ConsultarCondicionByIdEventoRequestType"/>
  <xsd:element name="ConsultarCondicionByIdEventoResponse" type="conMO:ConsultarCondicionByIdEventoResponseType"/>
  <!-- Tipos de los mensajes -->
  <!-- Create -->
  <xsd:element name="UpsertTransaccionCondicionRequest" type="conMO:UpsertTransaccionCondicionRequestType"/>
  <xsd:element name="UpsertTransaccionCondicionResponse" type="conMO:UpsertTransaccionCondicionResponseType"/>
  <xsd:element name="CondicionesDemandaRequest" type="conMO:CondicionesDemandaRequestType"/>
  <xsd:element name="CondicionesDemandaResponse" type="conMO:CondicionesDemandaResponseType"/>
  <xsd:element name="ConsultarTransaccionCondicionRequest" type="conMO:ConsultarTransaccionCondicionRequestType"/>
  <xsd:element name="ConsultarTransaccionCondicionResponse" type="conMO:ConsultarTransaccionCondicionResponseType"/>
  <xsd:element name="ActualizarEstadoCondicionRequest" type="conMO:ActualizarEstadoCondicionRequestType"/>
  <xsd:element name="ActualizarEstadoCondicionResponse" type="conMO:ActualizarEstadoCondicionResponseType"/>
  <xsd:element name="ConsultarCumplimientoCondicionRequest" type="conMO:ConsultarCumplimientoCondicionRequestType"/>
  <xsd:element name="ConsultarCumplimientoCondicionResponse" type="conMO:ConsultarCumplimientoCondicionResponseType"/>
  <xsd:element name="ObtenerInformeCondicionesRequest" type="conMO:ObtenerInformeCondicionesRequestType"/>
  <xsd:element name="ObtenerInformeCondicionesResponse" type="conMO:ObtenerInformeCondicionesResponseType"/>
  <xsd:element name="CondicionesPeriodicasPorCumplirRequest" type="conMO:CondicionesPeriodicasPorCumplirRequestType"/>
  <xsd:element name="CondicionesPeriodicasPorCumplirResponse" type="conMO:CondicionesPeriodicasPorCumplirResponseType"/>
    <xsd:element name="ConsultarValidacionCondicionByRolSJRequest" type="conMO:ConsultarValidacionCondicionByRolSJRequestType"/>
  <xsd:element name="ConsultarValidacionCondicionByRolSJResponse" type="conMO:ConsultarValidacionCondicionByRolSJResponseType"/>
  <xsd:element name="CrearReporteCumplimientoCondicionRequest" type="conMO:CrearReporteCumplimientoCondicionRequestType"/>
  <xsd:element name="CrearReporteCumplimientoCondicionResponse" type="conMO:CrearReporteCumplimientoCondicionResponseType"/>
  <xsd:element name="ObtenerValidadoresActivosRequest" type="conMO:ObtenerValidadoresActivosRequestType"/>
  <xsd:element name="ObtenerValidadoresActivosResponse" type="conMO:ObtenerValidadoresActivosResponseType"/>
  <xsd:element name="NotificarEliminacionEvidenciaRequest" type="conMO:NotificarEliminacionEvidenciaRequestType"/>
  <xsd:element name="NotificarEliminacionEvidenciaResponse" type="conMO:NotificarValidacionCondicionResponseType"/>
  <!--********************************* Types CalcularPlazoCondiciones *****************-->
  <xsd:element name="CalcularPlazoCondicionesRequest" type="conMO:CalcularPlazoCondicionesResquestType"/>
  <xsd:element name="CalcularPlazoCondicionesResponse" type="conMO:CalcularPlazoCondicionesResponseType"/>
  <xsd:element name="GenerarReporteCondicionValidadorRequest" type="conMO:GenerarReporteCondicionValidadorRequestType"/>
  <xsd:element name="GenerarReporteCondicionValidadorResponse" type="conMO:GenerarReporteCondicionValidadorResponseType"/>
  <xsd:element name="MergeAgrupadorRequest" type="conMO:MergeAgrupadorRequestType"/>
  <xsd:element name="MergeAgrupadorResponse" type="conMO:MergeAgrupadorResponseType"/>
  
  <xsd:element name="ObtenerValidadoresCondicionRequest" type="conMO:ObtenerValidadoresCondicionRequestType"/>
  <xsd:element name="ObtenerValidadoresCondicionResponse" type="conMO:ObtenerValidadoresCondicionResponseType"/>
  
   <xsd:element name="ConsultarAgrupadorByCondicionRequest" type="conMO:ConsultarAgrupadorByCondicionRequestType"/>
  <xsd:element name="ConsultarAgrupadorByCondicionResponse" type="conMO:ConsultarAgrupadorByCondicionResponseType"/>
  
  <xsd:complexType name="CrearCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conBO:Condicion" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="codigoContrato" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conBO:Condicion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conBO:Condicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarCondicionesFormalizacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarCondicionesFormalizacionResponseType">
    <xsd:sequence>
      <xsd:element name="validaFechaFormalizacion" type="xsd:boolean"/>
      <xsd:element name="validaCondiciones" type="xsd:boolean"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="conBO:idCondicion" maxOccurs="1" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" maxOccurs="1" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="ConsultarTreCategoriaByIdCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTreCategoriaByIdCondicionResponseType">
    <xsd:sequence>
     <xsd:element name="TreCategoriaCondicion" type="conBO:CategoriaCondicion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearTreCategoriaCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="TreCategoriaCondicion" type="conBO:Condicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearTreCategoriaCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarTreCategoriaCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="TreCategoriaCondicion" type="conBO:Condicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarTreCategoriaCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionByRolRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idRol" type="xsd:long"/>
      <xsd:element name="Agrupador" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="consultarCondicionByRolResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conBO:Condicion" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="ConsultarCondicionValidacionByRolRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idRol" type="xsd:long"/>
      <xsd:element name="agrupador" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionValidacionByRolResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conMO:CondicionType" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionByIdOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
       <xsd:element name="idCondicion" type="conBO:idCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionByIdOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="ListaCondiciones" type="conBO:listaCondiciones"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTreEventoCondicionByIdCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTreEventoCondicionByIdCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="ListaCondiciones" type="conBO:listaCondiciones"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearTreEventoCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="TreEventoCondicion" type="conBO:Condicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearTreEventoCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearObservacionCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="ObservacionCondicion" type="conBO:ObservacionCondicion"/>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearObservacionCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="idObservacion" type="xsd:int"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="ValidacionCondicion" type="conBO:ValidacionCondicion"/>
      <xsd:element name="Agrupador" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="ValidacionCondicion" type="conBO:ValidacionCondicion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarCategoriaCondicionByIdCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarCategoriaCondicionByIdCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarEventoCondicionByIdCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarEventoCondicionByIdCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="idAgrupador" type="xsd:int" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="idCondicion" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="idTipoControl" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="banEstatus" type="xsd:int" nillable="true" minOccurs="0"/>
      <xsd:element name="listaEventos" type="xsd:string" minOccurs="0" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Reporte" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"/>      
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotificarValidacionCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idAgrupador" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotificarValidacionCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CondicionType">
    <xsd:sequence>
       <xsd:element name="Condicion" type="conBO:Condicion"/>
              <xsd:element name="ValidacionCondicion" type="conBO:ValidacionCondicion" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionByIdLineaCreditoRequestType">
    <xsd:sequence>
      <xsd:element name="idLineaCredito" type="linCreBO:idLineaCredito"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionByIdLineaCreditoResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conBO:Condicion" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionByIdEventoRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idEventoCondicion" type="xsd:long"/>
      <xsd:element name="idRol" type="xsd:long" minOccurs="0"/>
      <xsd:element name="idTipoDesembolso" type="xsd:long" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionByIdEventoResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" minOccurs="1" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="conBO:Condicion">
              <xsd:sequence/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpsertTransaccionCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="transaccionCondicion" type="conBO:TransaccionCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpsertTransaccionCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="idAgrupador" type="xsd:long"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CondicionesDemandaRequestType">
    <xsd:sequence>
      <xsd:element name="CondicionesDemanda" type="conBO:TransaccionCondicion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CondicionesDemandaResponseType">
    <xsd:sequence>
      <xsd:element name="Agrupador" type="xsd:long"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTransaccionCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="Agrupador" type="xsd:long" minOccurs="0"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTransaccionCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="TransaccionCondicion" type="conBO:TransaccionCondicion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarEstadoCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idCondicion" type="xsd:long" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="EstadoTCC" type="catBO:Catalogo"/>
      <xsd:element name="SubEstadoTCC" type="catBO:Catalogo"/>
      <xsd:element name="Agrupador" type="xsd:long" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarEstadoCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCumplimientoCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCumplimientoCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Documento" type="docBO:Documento"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerInformeCondicionesRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerInformeCondicionesResponseType">
    <xsd:sequence>
      <xsd:element name="InformeEstado" type="conBO:listaCondiciones"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="CondicionesPeriodicasPorCumplirRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CondicionesPeriodicasPorCumplirResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conBO:Condicion" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarValidacionCondicionByRolSJRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idRol" type="xsd:long" minOccurs="0"/>
      <xsd:element name="agrupador" type="xsd:long" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarValidacionCondicionByRolSJResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conMO:CondicionType" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteCumplimientoCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="ListaCondicion" type="conBO:listaCondiciones"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteCumplimientoCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Documento" type="docBO:Documento"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerValidadoresActivosRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idAgrupador" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerValidadoresActivosResponseType">
    <xsd:sequence>
      <xsd:element name="numeroValidadores" type="xsd:long"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="ObtenerValidadoresCondicionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idAgrupador" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerValidadoresCondicionResponseType">
    <xsd:sequence>
      <xsd:element name="Validadores">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Validador" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="CodigoRol" type="xsd:long"/>
                  <xsd:element name="DescripcionRol" type="xsd:string"/>
                  <xsd:element name="NombreRol" type="xsd:string"/>
                  <xsd:element name="CodigoTarea" type="xsd:long"/>
                  <xsd:element name="NombreTarea" type="xsd:string"/>
                  <xsd:element name="TareaDescripcionCorta" type="xsd:string"/>
                  <xsd:element name="Pendiente" type="xsd:long"/>
                  <xsd:element name="Validado" type="xsd:long"/>
                  <xsd:element name="PendienteN2" type="xsd:long"/>
                  <xsd:element name="NombreValidadores" type="xsd:string"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotificarEliminacionEvidenciaRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idCondicion" type="conBO:idCondicion"/>
      <xsd:element name="idAgrupador" type="xsd:long"/>
      <xsd:element name="idDocumento" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="NotificarEliminacionEvidenciaResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--********************************* Types CalcularPlazoCondiciones *****************-->
  <xsd:complexType name="CalcularPlazoCondicionesResquestType">
  <xsd:sequence>
   <xsd:element name="ListaCondiciones" type="conBO:listaCondiciones"/>
   </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CalcularPlazoCondicionesResponseType">
   <xsd:sequence>
    <xsd:element name="Estado" type="xsd:string"/>
    <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
   </xsd:complexType>
   <!--********************************* Types GenerarReporteCondicionValidador  *******************************-->
   <xsd:complexType name="GenerarReporteCondicionValidadorRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="GenerarReporteCondicionValidadorResponseType">
    <xsd:sequence>
      <xsd:element name="Reporte" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ValidarCondicionesDesembolsoRequest" type="conMO:ValidarCondicionDesembolsoRequestType"/>
  <xsd:element name="ValidarCondicionesDesembolsoResponse" type="conMO:ValidarCondicionDesembolsoResponseType"/>
  <xsd:complexType name="ValidarCondicionDesembolsoRequestType">
    <xsd:sequence>
      <xsd:element name="IdContratoDesembolso" type="xsd:long"/> 
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarCondicionDesembolsoResponseType">
    <xsd:sequence>
      <xsd:element name="ValidarCondicionDesembolso" type="xsd:long"/> 
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ConsultarCondicionesRequest" type="conMO:ConsultarCondicionesRequestType"/>
  <xsd:element name="ConsultarCondicionesResponse" type="conMO:ConsultarCondicionesResponseType"/>
  <xsd:complexType name="ConsultarCondicionesRequestType">
    <xsd:sequence>
      <xsd:element name="PNID_Operacion" type="xsd:long"/> 
      <xsd:element name="PNID_Contrato_Desembolso" type="xsd:long"/>  
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCondicionesResponseType">
    <xsd:sequence>
      <xsd:element name="PL_CONDICIONES" type="conMO:T_NUMBER_TAB"/> 
      <xsd:element name="PVCODIGORESPUESTA" type="xsd:string"/> 
      <xsd:element name="PVMENSAJERESPUESTA" type="xsd:string"/> 
     </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="T_NUMBER_TAB">
    <xsd:sequence>
      <xsd:element name="PL_Condiciones_Item" type="xsd:long"/> 
     </xsd:sequence>
  </xsd:complexType> 
    <xsd:complexType name="MergeAgrupadorRequestType">
    <xsd:sequence>
      <xsd:element name="Agrupador" type="xsd:long"/>
      <xsd:element name="instanciaProceso" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MergeAgrupadorResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType> 
  <xsd:element name="ConsultarCondicionesPendientesByEventoRequest"
               type="conMO:ConsultarCondicionesPendientesByEventoRequest"/>
   <xsd:complexType name="ConsultarCondicionesPendientesByEventoRequest">
      <xsd:sequence>
         <xsd:element name="pID_Contrato_Desembolso" type="xsd:long" nillable="true"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:element name="ConsultarCondicionesPendientesByEventoResponseCollection"
               type="conMO:ConsultarCondicionesPendientesByEventoResponseCollection"/>
   <xsd:complexType name="ConsultarCondicionesPendientesByEventoResponseCollection">
      <xsd:sequence>
         <xsd:element name="ConsultarCondicionesPendientesByEventoResponse"
                     type="conMO:ConsultarCondicionesPendientesByEventoResponse" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarCondicionesPendientesByEventoResponse">
      <xsd:sequence>
         <xsd:element name="idCondicion" type="xsd:long" nillable="true"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarAgrupadorByCondicionRequestType">
		<xsd:sequence>
			<xsd:element name="idContrato" type="xsd:long"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarAgrupadorByCondicionResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
			<xsd:element name="Agrupadores">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element maxOccurs="unbounded" minOccurs="0" name="Agrupador">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="idAgrupador" type="xsd:long"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>   
</xsd:schema>