AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Applications/JDA/JDACatalogs/Resources/JDASizesWSDL.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Applications/JDA/Catalogs/Size/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://mx.agarcia.ea/Applications/JDA/Catalogs/Size/v1.0" xmlns:ns1="http://mx.agarcia.ea/Applications/JDA/Catalogs/ColorSize" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://mx.agarcia.ea/Applications/JDA/Catalogs/ColorSize" schemaLocation="../Schema/JDAColorSizeSchema.xsd"/>
            <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
            <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
        </schema>
    </wsdl:types>
    
    <wsdl:message name="createSizeRequestMessage">
        <wsdl:part name="payload" element="ns1:createSizeRequest"/>
    </wsdl:message>    
    <wsdl:message name="createSizeResponseMessage">
        <wsdl:part name="payload" element="ns1:createSizeResponse"/>
    </wsdl:message>
    
    
    <wsdl:message name="modifySizeRequestMessage">
        <wsdl:part name="payload" element="ns1:updateSizeRequest"/>
    </wsdl:message>
    <wsdl:message name="modifySizeResponseMessage">
        <wsdl:part name="payload" element="ns1:updateSizeResponse"/>
    </wsdl:message>
    
    
    <wsdl:message name="standardMessageHeader">
        <wsdl:part name="header" element="AGSH:headerMessage"/>
    </wsdl:message>
    <wsdl:message name="standardMessageHeaderResponse">
        <wsdl:part name="headerRes" element="AGSM:messageResponse"/>
    </wsdl:message>
    <wsdl:message name="standardMessageFault">
        <wsdl:part name="fault" element="AGSM:messageError"/>
    </wsdl:message>
    
    <wsdl:portType name="JDASizeSvcPort">
        <wsdl:operation name="create">
            <wsdl:input message="client:createSizeRequestMessage"/>
            <wsdl:output message="client:createSizeResponseMessage"/>
            <wsdl:fault message="client:standardMessageFault" name="fault"/>
        </wsdl:operation>
        
        <wsdl:operation name="modify">
            <wsdl:input message="client:modifySizeRequestMessage"/>
            <wsdl:output message="client:modifySizeResponseMessage"/>
            <wsdl:fault message="client:standardMessageFault" name="fault"/>
        </wsdl:operation>

    </wsdl:portType>
    
    <wsdl:binding name="JDASizeSvcBinding" type="client:JDASizeSvcPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="create">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Applications/JDA/Catalogs/Size/v1.0/create"/>
            <wsdl:input>
                <soap:body use="literal" parts="payload"/>
                <soap:header message="client:standardMessageHeader" part="header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="payload"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        
        <wsdl:operation name="modify">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Applications/JDA/Catalogs/Size/v1.0/modify"/>
            <wsdl:input>
                <soap:body use="literal" parts="payload"/>
                <soap:header message="client:standardMessageHeader" part="header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="payload"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>   
        
    </wsdl:binding>
</wsdl:definitions>