BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Wsdl/PA03/CondicionesProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CondicionesProcess"
                  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/CondicionesProcess"
                  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CondicionesProcess"
                  schemaLocation="../../Schema/PA03/CondicionesProcess.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InicioCondiciones">
    <wsdl:part name="parameters" element="tns:InicioCondiciones"/>
  </wsdl:message>
    <wsdl:message name="FinCondiciones">
    <wsdl:part name="parameters" element="tns:FinCondiciones"/>
  </wsdl:message>
  <wsdl:message name="InicioReasignarCondiciones">
    <wsdl:part name="parameters" element="tns:InicioReasignarRO"/>
  </wsdl:message>
  <wsdl:message name="InicioCancelarCondiciones">
    <wsdl:part name="parameters" element="tns:InicioCancelarCondiciones"/>
  </wsdl:message>
  <wsdl:portType name="CondicionesProcessPortType">
    <wsdl:operation name="InicioCondiciones">
      <wsdl:input message="tns:InicioCondiciones"/>
    </wsdl:operation>
        <wsdl:operation name="FinCondiciones">
      <wsdl:input message="tns:FinCondiciones"/>
    </wsdl:operation>
    <wsdl:operation name="InicioReasignarCondiciones">
      <wsdl:input message="tns:InicioReasignarCondiciones"/>
    </wsdl:operation>
    <wsdl:operation name="InicioCancelarCondiciones">
      <wsdl:input message="tns:InicioCancelarCondiciones"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CondicionesProcessBinding" type="tns:CondicionesProcessPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InicioCondiciones">
      <wsdlsoap:operation style="document" soapAction="InicioCondiciones"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
        <wsdl:operation name="FinCondiciones">
      <wsdlsoap:operation style="document" soapAction="FinCondiciones"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InicioReasignarCondiciones">
      <wsdlsoap:operation style="document" soapAction="InicioReasignarCondiciones"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InicioCancelarCondiciones">
      <wsdlsoap:operation style="document" soapAction="InicioCancelarCondiciones"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <plnk:partnerLinkType name="CondicionesProcessPortTypePartnerLinkType">
    <plnk:role name="CondicionesProcessPortTypeProvider">
      <plnk:portType name="tns:CondicionesProcessPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>
</wsdl:definitions>
