BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/EliminarTreLineaCreditoAprobacionByIdLinea/XSD/EliminarTreLineaCreditoAprobacionByIdLinea_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/EliminarTreLineaCredito" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/EliminarTreLineaCredito" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="EliminarTreLineaCreditoInput" type="EliminarTreLineaCreditoInput"/>
   <xs:complexType name="EliminarTreLineaCreditoInput">
      <xs:sequence>
         <xs:element name="idLineaCredito" type="xs:string" nillable="true"/>
         <xs:element name="idAprobacion" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>