BCIE_fenix/qa/ADF-BPM/bpm/PA02AdministracionComisiones/PA02AdministracionComisionesProcessUITest/SOA/Schemas/Comun/Parameter/V1/ParameterOPN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	  <xs:element name="ParameterType">
		<xs:complexType>
		  <xs:sequence>
			<xs:element name="parameterName" type="xs:string"/>
			<xs:element name="parameterValue" type="xs:string"/>
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>
</xs:schema>