AG_2019/OSB/OSB_PRD_Almacenes/Capabilities/Core/Items/SizeEntitySvc/Resources/Schemas/LinkGroupDiffEntitySchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Items/LinkGroupDiffEntity" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Capabilities/Core/Items/LinkGroupDiffEntity" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:item="http://mx.agarcia.ea/Canonical/Commons/Items/v1">
  <xs:import schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
  <xs:import schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>
  <xs:import schemaLocation="../../../../../Foundation/Schemas/Commons/ItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Items/v1"/>
  
  <xs:element name="linkGroupDiffRequest" type="base:DiffType"/>
  <xs:element name="linkGroupDiffResponse" type="AGsm:MessageResponse"/>
  <xs:complexType name="DiffType">
    <xs:sequence>
      <xs:element name="diff" type="item:ItemCatalog" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>