AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/Appointment/AppointmentEBM.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Appointment" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Appointment" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">

<xsd:import schemaLocation="../../Common/CommonComponents.xsd" namespace="http://www.agarcia.mx/EnterpriseObjects/Common"/>
<xsd:include schemaLocation="AppointmentEBO.xsd"/>


<xsd:element name="ProccesAppointmentEBM" type="ProccesAppointmentEBMType"/>
<xsd:element name="ProccesAppointmentResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>

<xsd:element name="CreateAppointmentEBM" type="CreateAppointmentEBMType"/>
<xsd:element name="UpadateAppointmentEBM" type="ProccesAppointmentEBMType"/>
<xsd:element name="DeleteAppointmentEBM" type="ProccesAppointmentEBMType"/>


<xsd:element name="ProccesAppointmentResponseEBM" type="com:ResponseType"/>

<xsd:element name="CreateAppointmentResponseEBM" type="CreateAppointmentResponseEBMType"/>
<xsd:element name="UpdateAppointmentResponseEBM" type="com:ResponseType"/>
<xsd:element name="DeleteAppointmentResponseEBM" type="com:ResponseType"/>

<xsd:element name="CreateAppointmentResponseAcknowledgeEBM" type="com:ResponseType"/>
<xsd:element name="UpdateAppointmentResponseAcknowledgeEBM" type="com:ResponseType"/>
<xsd:element name="DeleteAppointmentResponseAcknowledgeEBM" type="com:ResponseType"/>


<xsd:complexType name="ProccesAppointmentEBMType">
<xsd:sequence>
<xsd:element name="header" type="com:HeaderType"/>
<xsd:element name="dataArea">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="AppointmentEBO" type="AppointmentEBOType"/>
<xsd:element name="AppointmentRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>



<xsd:complexType name="CreateAppointmentEBMType">
<xsd:sequence>
<xsd:element name="header" type="com:HeaderType"/>
<xsd:element name="dataArea">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="CreateAppointment" type="AppointmentEBOType"/>
<xsd:element name="AppointmentRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:sequence>
</xsd:complexType>

<xsd:complexType name="ResponseAcknowledgeEBMType">
    <xsd:sequence>
      <xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
    </xsd:sequence>
  </xsd:complexType>
  
    <xsd:complexType name="CreateAppointmentResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="CreateAppointmentReference" type="com:IdentificationType"/>
      <xsd:element name="AppointmentRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>