BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ObtenerURL/V1/Schema/ObtenerURLMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ObtenerURLMO"
            targetNamespace="http://www.bcie.org/ObtenerURLMO" elementFormDefault="qualified"
            xmlns:correoBO="http://www.bcie.org/CorreoBO"
            xmlns:resBO="http://www.bcie.org/ResultBO">
            
  <xsd:import namespace="http://www.bcie.org/CorreoBO" schemaLocation="../../../EnviarCorreoElectronico/V1/Schema/CorreoElectronicoBO.xsd"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="ObtenerURLRequest" type="ObtenerURLRequestType"/>
  <xsd:element name="ObtenerURLResponse" type="ObtenerURLResponseType"/>
  <xsd:complexType name="ObtenerURLRequestType">
    <xsd:sequence>
      <xsd:element name="URL" type="xsd:string"/>
      <xsd:element name="Tags" type="correoBO:param" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerURLResponseType">
    <xsd:sequence>
      <xsd:element name="URL" type="xsd:string"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
