BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ConsultarUsuarioProcesoCliente/XSD/ConsultarUsuarioProcesoCliente_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarUsuarioProcesoCliente_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarUsuarioProcesoCliente_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarUsuarioProcesoCliente_DBInput" type="ConsultarUsuarioProcesoCliente_DBInput"/>
   <xs:complexType name="ConsultarUsuarioProcesoCliente_DBInput">
      <xs:sequence>
         <xs:element name="idFlujoNegocio" type="xs:string" nillable="true"/>
         <xs:element name="idOperacion" type="xs:decimal" nillable="true"/>
         <xs:element name="idProceso" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarUsuarioProcesoCliente_DBOutputCollection" type="ConsultarUsuarioProcesoCliente_DBOutputCollection"/>
   <xs:complexType name="ConsultarUsuarioProcesoCliente_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarUsuarioProcesoCliente_DBOutput" type="ConsultarUsuarioProcesoCliente_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarUsuarioProcesoCliente_DBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE_OPERACION" type="xs:string" nillable="true"/>
         <xs:element name="ID_PROCESO" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="INSTANCIA_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="INSTANCIA_PROCESO_SIGUIENTE" type="xs:decimal" nillable="true"/>
         <xs:element name="BAN_ES_PROCESO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TAREA" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE_TAREA" type="xs:string" nillable="true"/>
         <xs:element name="INSTANCIA_TAREA" type="xs:string" nillable="true"/>
         <xs:element name="USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="NOMBRE_USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="BAN_ES_FIN_ACTIVIDAD" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="TIEMPO_PROCESO" type="xs:decimal" nillable="true"/>
         <xs:element name="TIEMPO_TAREA" type="xs:decimal" nillable="true"/>
         <xs:element name="STRING01" type="xs:string" nillable="true"/>
         <xs:element name="STRING02" type="xs:string" nillable="true"/>
         <xs:element name="STRING03" type="xs:string" nillable="true"/>
         <xs:element name="RAROC" type="xs:decimal" nillable="true"/>
         <xs:element name="BAN_FINALIZADO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_INICIO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_ROL_ASIGNADO_TAREA" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE_ROL_ASIGNADO_TAREA" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>