AG_2019/OSB/AlmacenesGarcia_DEV/Applications/JDA/JDARetailStore/Resources/JDAModifyRetailStoreWSDL.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Applications/JDA/RetailStores/ModifyRetailStore/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://mx.agarcia.ea/Applications/JDA/RetailStores/ModifyRetailStore/v1.0" xmlns:ns1="http://mx.agarcia.ea/Applications/JDA/RetailStores/ModifyRetailStore" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://mx.agarcia.ea/Applications/JDA/RetailStores/ModifyRetailStore" schemaLocation="../Schema/JDAModifyRetailStoreSchema.xsd"/>
                        <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
                        <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
		</schema>
	</wsdl:types>

     
	<wsdl:message name="modifyRetailStoreRequestMessage">
		<wsdl:part name="modifyRetailStoreRequestMessage" element="ns1:modifyRetailStoreRequest"/>
	</wsdl:message>

	<wsdl:message name="modifyRetailStoreResponseMessage">
		<wsdl:part name="modifyRetailStoreResponseMessage" element="ns1:modifyRetailStoreResponse"/>
	</wsdl:message>

        <wsdl:message name="standardMessageHeader">
		<wsdl:part name="header" element="AGSH:headerMessage"/>
	</wsdl:message>

        <wsdl:message name="standardMessageHeaderResponse">
		<wsdl:part name="headerRes" element="AGSM:messageResponse"/>
	</wsdl:message>

        <wsdl:message name="standardMessageFault">
    <wsdl:part name="fault" element="AGSM:messageError"/>
  </wsdl:message>
  
  
	<wsdl:portType name="modifyRetailStorePort">
		<wsdl:operation name="modify">
			<wsdl:input message="client:modifyRetailStoreRequestMessage"/>
			<wsdl:output message="client:modifyRetailStoreResponseMessage"/>
                        <wsdl:fault message="client:standardMessageFault" name="fault"/>
		</wsdl:operation>
	</wsdl:portType>

 <wsdl:binding name="modifyRetailStoreBinding" type="client:modifyRetailStorePort">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="modify">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Applications/JDA/RetailStores/ModifyRetailStore/v1.0/modify"/>
   <wsdl:input>
    <soap:body use="literal" parts="modifyRetailStoreRequestMessage"/>
    <soap:header message="client:standardMessageHeader" part="header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="modifyRetailStoreResponseMessage"/>
   </wsdl:output>
   <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
   
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>