BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/FLEXCUBE/CrearComisionLoanFLEXCUBE/XSD/CrearCommitment_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CrearCommitment" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CrearCommitment" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="PRECCOMMITMENT" type="db:INTERFLEX.COMMITMENT_TYPE" db:index="1" db:type="Struct" minOccurs="0" nillable="true"/>
            <element name="PVUSUARIO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_CONTRATO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PLANTILLA_LIMITE" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="SERIAL_LIMITE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PLANTILLA_LIMITE_CC" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="SERIAL_LIMITE_CC" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_RESULTADO" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TIPO_RESULTADO" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MENSAJE" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="INTERFLEX.COMMITMENT_TYPE">
      <sequence>
         <element name="CODIGO_INTERVENCION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_NEGOCIO" type="db:string105" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_CLIENTE" type="db:string12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SECTOR_INSTITUCIONAL" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ACTIVIDAD_ECONOMICA" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EJECUTIVO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PAIS" type="db:string4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="EJE_ESTRATEGICO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="AREA_FOCALIZACION" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="OBJETIVO_ESTRATEGICO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_RECURSO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_FINANCIAMIENTO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUMERO_RESOLUCION" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_APROBACION" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="PORCENTAJE_COBERTURA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NUMERO_LINEA_CREDITO" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="LINEA_FINANCIERA" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FONDO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONEDA" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTO_APROBADO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FECHA_VALOR" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="MONTO_ESCRITURADO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FECHA_ESCRITURACION" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="MONTO_MAX_DESEM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MONTO_MIN_DESEM" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MONTO_CATALIZAR" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIPO_CATALIZAR" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="RECURSOS_ORDINARIOS" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_ASIGNACION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="DIA_PAGO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PLAZO_LINEA_CREDITO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIPO_PLAZO_LINEA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PERIODO_GRACIA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIPO_PLAZO_GRACIA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESTINO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NUMERO_CUENTA_CLIENTE" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PRODUCTO_FINANCIERO" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="REVOLVENCIA" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_MAXIMA_ESCRITURAR" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="FECHA_MINIMA_INICIAR" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="FECHA_MAXIMA_TOTALIDAD" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="TIENE_COND_ESPECIALES" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESC_COND_ESPECIALES" type="db:string150" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CONSIDERAR_FERIDADOS" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MOVER_ENTRE_MESES" type="db:string1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_VENCIMIENTO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="LISTACOMISIONES" type="db:INTERFLEX.COMISIONES" db:type="Array" minOccurs="0" nillable="true"/>
         <element name="LISTATRANCHES" type="db:INTERFLEX.TRANCHES" db:type="Array" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="INTERFLEX.TRANCHES">
      <sequence>
         <element name="LISTATRANCHES_ITEM" type="db:INTERFLEX.TRANCHESTYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="INTERFLEX.COMISIONESTYPE">
      <sequence>
         <element name="TIPO_TASA" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_TASA" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_COMISION" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BASE_CALCULO" type="db:string1" db:type="CHAR" minOccurs="0" nillable="true"/>
         <element name="FECHA_INICIO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="FRECUENCIA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIPO_FRECUENCIA" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SPREAD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SPREAD_MORA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VALOR_COMISION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MONTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TASA_MINIMA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TASA_MAXIMA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FECHA_INICIO_REVISION" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="FRECUENCIA_REVISION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIPO_FRECUENCIA_REVISION" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="INTERFLEX.TRANCHESTYPE">
      <sequence>
         <element name="FECHA_VENCIMIENTO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="MONTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="INTERFLEX.COMISIONES">
      <sequence>
         <element name="LISTACOMISIONES_ITEM" type="db:INTERFLEX.COMISIONESTYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string105">
      <restriction base="string">
         <maxLength value="105"/>
      </restriction>
   </simpleType>
   <simpleType name="string12">
      <restriction base="string">
         <maxLength value="12"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
   <simpleType name="string150">
      <restriction base="string">
         <maxLength value="150"/>
      </restriction>
   </simpleType>
</schema>