MIRA/SOA_PRD_Almacenes/JDAUpdateStyle/SOA/Schemas/BusinessAreas/Core/LoyaltyRewards/RetailLoyaltyTransactionSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Core/LoyaltyRewards/Transaction/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Core/LoyaltyRewards/Transaction/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" xmlns:comm="http://mx.agarcia.ea/Commons/Types/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="../../../Commons/CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:import schemaLocation="../../../Commons/CommonTypeSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Types/v1"/>
   <xs:complexType name="RetailTransactionLoyaltyReward">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="PromotionID" type="xs:string">
            <xs:annotation>
               <xs:documentation>the id of the promotion which triggered the gift
						or loyalty
						reward
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="LoyaltyID">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="xs:string">
                     <xs:attribute form="unqualified" name="Name" type="xs:string" use="optional"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="EventID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="ReasonCode" type="xs:string">
            <xs:annotation>
               <xs:documentation>Reason for the gift or loyalty reward
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="AdjustmentID" type="xs:string"/>
         <xs:choice maxOccurs="unbounded">
            <xs:element form="qualified" minOccurs="0" name="Discount" type="LoyaltyDiscount"/>
            <xs:element form="qualified" minOccurs="0" name="PromotionMessage" type="xs:string">
               <xs:annotation>
                  <xs:documentation>Promotion message that is printed on the
							customers
							receipt
						</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="PointsAwarded">
               <xs:annotation>
                  <xs:documentation>The number of points awarded by the line
							item
						</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:simpleContent>
                     <xs:extension base="PointsCommonData"/>
                  </xs:simpleContent>
               </xs:complexType>
            </xs:element>
            <xs:element form="qualified" minOccurs="0" name="Voucher" type="RetailTransactionVoucher"/>
            <xs:element form="qualified" minOccurs="0" name="GiftCertificate" type="RetailTransactionGiftCertificate"/>
         </xs:choice>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
   <xs:complexType name="LoyaltyPointsAwarded">
      <xs:annotation>
         <xs:documentation>The points awared</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="PointsCommonData"/>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="LoyaltyProgramType">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="Customer" type="CustomerCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="LoyaltyProgramID" type="xs:string">
            <xs:annotation>
               <xs:documentation>Identifies the account for this program for this
						customer
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="LoyaltyAccountID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="Amount">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="AmountCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Adjustment" type="LoyaltyAdjustmentType">
            <xs:annotation>
               <xs:documentation>Loyalty account adjustment</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="CumulativeNetSalesAmount">
            <xs:annotation>
               <xs:documentation>aggregated net sales associated with this
						loyalty, i.e.
						multiple items are necessary to acquire this loyalty
						reward/redemption
					</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="AmountCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="QualifyingItemID">
            <xs:annotation>
               <xs:documentation>Unique identifier for an item that qualifies this
						loyalty
						program. For example many loyalty programs allow several
						items to qualify
						for this reward. This identifies the specific one
						for this
						specific
						reward.
					</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="ItemIDCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="LoyaltyCard">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="TenderCreditDebit"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="OfferID" type="xs:string">
            <xs:annotation>
               <xs:documentation>Unique identifier for the loyalty program offer
						that is being
						used to give the loyalty discount
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TargetCount" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>The loyalty balance required to receive a loyalty
						reward. ie:
						Buy 12 CDs get one free
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="CurrentCount" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>The customers current loyalty balance
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:attribute default="Points" form="unqualified" name="TypeCode" type="LoyaltyTypeCode" use="optional"/>
   </xs:complexType>
   <xs:complexType name="LoyaltyAdjustmentType">
      <xs:sequence>
         <xs:element form="qualified" name="AdjustmentID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="RewardAmount">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="AmountCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ReasonCode">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="ReasonCodeCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute default="Points" form="unqualified" name="TypeCode" type="LoyaltyTypeCode" use="optional"/>
   </xs:complexType>
   <xs:complexType name="RetailTransactionLoyaltyRedemption">
      <xs:annotation>
         <xs:documentation>records the redemption of LoyaltyPoints &amp;
				Vouchers previously
				awarded to the customer.
			</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:choice>
            <xs:element form="qualified" name="PointsRedeemed">
               <xs:annotation>
                  <xs:documentation>The number of loyalty points redeemed by the
							Customer
						</xs:documentation>
               </xs:annotation>
               <xs:complexType>
                  <xs:simpleContent>
                     <xs:extension base="PointsCommonData"/>
                  </xs:simpleContent>
               </xs:complexType>
            </xs:element>
            <xs:element form="qualified" name="ManualActionID" type="xs:string">
               <xs:annotation>
                  <xs:documentation>A code denoting manual entry performed during
							the loyalty
							points redemption
						</xs:documentation>
               </xs:annotation>
            </xs:element>
            <xs:element form="qualified" name="Voucher" type="TenderVoucher">
               <xs:annotation>
                  <xs:documentation>A special Voucher for a specific product or
							service, that
							is issued or redeemed as part of a CustomerLoyalty
							scheme. Not to
							be
							confused with a GiftCertificate which has a
							monetary
							value
						</xs:documentation>
               </xs:annotation>
            </xs:element>
         </xs:choice>
         <xs:element form="qualified" minOccurs="0" name="TransactionLink">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="TransactionLinkCommonData"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="AdjudicationCode" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="LoyaltyProgram" type="LoyaltyProgramType">
            <xs:annotation>
               <xs:documentation>Identifies the loyalty program information
						associated with
						this loyalty redemption
					</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Amount">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="AmountCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Percent" type="PercentageCommonData"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:anyAttribute namespace="##other" processContents="lax"/>
   </xs:complexType>
</xs:schema>
