BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioHerramientaCE/HerramientaCE/V1/Schema/HerramientaCEMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns="http://www.bcie.org/HerramientaCEMO"
            xmlns:hceBO="http://www.bcie.org/HerramientaCEBO"
            xmlns:resBO="http://www.bcie.org/ResultBO"
            targetNamespace="http://www.bcie.org/HerramientaCEMO" elementFormDefault="qualified">
            <xsd:import namespace="http://www.bcie.org/HerramientaCEBO" schemaLocation="HerramientaCEBO.xsd"/>
            <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
  <xsd:element name="ConsultarHerramientaCERequest" type="ConsultarHerramientaCERequestType"/>
  <xsd:element name="ConsultarHerramientaCEResponse" type="ConsultarHerramientaCEResponseType"/>
  <xsd:complexType name="ConsultarHerramientaCERequestType">
    <xsd:sequence>
      <xsd:element name="HerramientaCE" type="hceBO:HerramientaCEType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarHerramientaCEResponseType">
    <xsd:sequence>
      <xsd:element name="HerramientaCE" type="hceBO:HerramientaCEType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
