BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/CrearOperacionProceso/V1/Schema/CrearOperacionProcesoBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/CrearOperacionProcesoBO"
            targetNamespace="http://www.bcie.org/CrearOperacionProcesoBO" elementFormDefault="qualified">
  <xsd:complexType name="OperacionProceso">
    <xsd:annotation>
      <xsd:documentation>Registro de procesos para la operación</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element type="xsd:long" name="idOperacion"/>
      <xsd:element type="xsd:long" name="idProceso"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
