BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/FLEXCUBE/XSD/ValidarEstadoFlexcube_DB_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ValidarEstadoFlexcube_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ValidarEstadoFlexcube_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="VtaEstadoFlexcubeCollection" type="VtaEstadoFlexcubeCollection"/>
   <xs:complexType name="VtaEstadoFlexcubeCollection">
      <xs:sequence>
         <xs:element name="VtaEstadoFlexcube" type="VtaEstadoFlexcube" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="VtaEstadoFlexcube">
      <xs:sequence>
         <xs:element name="estadoFlexcube" type="string5" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ValidarEstadoFlexcube_DBSelectInputParameters" type="ValidarEstadoFlexcube_DBSelect"/>
   <xs:complexType name="ValidarEstadoFlexcube_DBSelect">
      <xs:sequence/>
   </xs:complexType>
   <xs:simpleType name="string5">
      <xs:restriction base="xs:string">
         <xs:maxLength value="5"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>