BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Condicion/ConsultarCondicionByIdEvento/XSD/ConsultarCondicionByIdEvento.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/consultarCondicionByRol" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/consultarCondicionByRol" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="consultarCondicionByRolInput" type="consultarCondicionByRolInput"/>
   <xs:complexType name="consultarCondicionByRolInput">
      <xs:sequence>
         <xs:element name="P_ID_OPERACION" type="xs:string" nillable="true"/>
         <xs:element name="P_TCA_EVENTO_CONDICION" type="xs:string" nillable="true"/>
         <xs:element name="P_ID_ROL" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_DESEMBOLSO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="consultarCondicionByRolOutputCollection" type="consultarCondicionByRolOutputCollection"/>
   <xs:complexType name="consultarCondicionByRolOutputCollection">
      <xs:sequence>
         <xs:element name="consultarCondicionByRolOutput" type="consultarCondicionByRolOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="consultarCondicionByRolOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_CONDICION" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_TCA" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_CONDICION" type="xs:decimal" nillable="true"/>
         <xs:element name="ES_EDITABLE_EN_FORMALIZACION" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_VALIDAR_COFI" type="xs:decimal" nillable="true"/>
         <xs:element name="SE_PUEDE_DISPENSAR" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_CONDICION_PRECARGA" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="COD_EXTERNO" type="xs:string" nillable="true"/>
         <xs:element name="ES_PLANTILLA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_CONTROL_CONDICION" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_T" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_TC" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO_TC" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS_TC" type="xs:decimal" nillable="true"/>
         <xs:element name="COD_EXTERNO_TC" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_FECHA_INICIO" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_FI" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_FI" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO_FI" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS_FI" type="xs:decimal" nillable="true"/>
         <xs:element name="COD_EXTERNO_FI" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_INICIO" type="xs:dateTime" nillable="true"/>
         <xs:element name="PLAZO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_PLAZO" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_TF" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_TF" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO_TF" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS_TF" type="xs:decimal" nillable="true"/>
         <xs:element name="COD_EXTERNO_TF" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_FINAL" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TCA_ESTADO_TCC" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_EST" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_EST" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO_EST" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS_EST" type="xs:decimal" nillable="true"/>
         <xs:element name="COD_EXTERNO_EST" type="xs:string" nillable="true"/>
         <xs:element name="ES_SUBESTADO_EST" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_SUB_ESTADO_TCC" type="xs:decimal" nillable="true"/>
         <xs:element name="CD_FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="CD_BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_ENMIENDA" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_CONDICION_ENMENDADA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_PRODUCTO" type="xs:decimal" nillable="true"/>
          <xs:element name="DESCRIPCION_SUB" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_DESEMBOLSO" type="xs:decimal"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>