BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/BPM/Wsdl/PC06/DesembolsoProcess.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/DesembolsoProcess"
              xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/DesembolsoProcess"
              xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
              xmlns:xsd="http://www.w3.org/2001/XMLSchema"
              xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
              xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
              xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/DesembolsoProcess"
                schemaLocation="../../Schema/PC06/DesembolsoProcess.xsd"/>
    </xsd:schema>
  </wsdl:types>  
  <wsdl:message name="InicioDesembolso">
    <wsdl:part name="parameters" element="tns:InicioDesembolso"/>
  </wsdl:message>
  <wsdl:message name="FinDesembolso">
    <wsdl:part name="parameters" element="tns:FinDesembolso"/>
  </wsdl:message>  
  <wsdl:message name="InicioValidacionAsignacion">
    <wsdl:part name="parameters" element="tns:InicioValidacionAsignacion"/>
  </wsdl:message>
  <wsdl:message name="FinValidacionAsignacion">
    <wsdl:part name="parameters" element="tns:FinValidacionAsignacion"/>
	</wsdl:message>
  <wsdl:message name="InicioDesembolsoExcepcion">
    <wsdl:part name="parameters" element="tns:InicioDesembolsoExcepcion"/>
  </wsdl:message>
  <wsdl:message name="FinDesembolsoExcepcion">
    <wsdl:part name="parameters" element="tns:FinDesembolsoExcepcion"/>
  </wsdl:message>
  <wsdl:message name="InicioReasignarDesembolso">
    <wsdl:part name="parameters" element="tns:InicioReasignarRO"/>
  </wsdl:message>
   <wsdl:message name="InicioReasignarValidacionAsignacion">
    <wsdl:part name="parameters" element="tns:InicioReasignarRO"/>
  </wsdl:message>
  <wsdl:message name="InicioReasignarDesembolsoExcepcion">
    <wsdl:part name="parameters" element="tns:InicioReasignarRO"/>
  </wsdl:message>  
  <wsdl:portType name="DesembolsoProcessPortType">
    <wsdl:operation name="InicioDesembolso">
      <wsdl:input message="tns:InicioDesembolso"/>
    </wsdl:operation>
    <wsdl:operation name="FinDesembolso">
      <wsdl:input message="tns:FinDesembolso"/>
    </wsdl:operation>
    <wsdl:operation name="InicioReasignarDesembolso">
      <wsdl:input message="tns:InicioReasignarDesembolso"/>
    </wsdl:operation>
  </wsdl:portType>  
   <wsdl:portType name="ValidacionProcessPortType">
    <wsdl:operation name="InicioValidacionAsignacion">
      <wsdl:input message="tns:InicioValidacionAsignacion"/>
    </wsdl:operation>
    <wsdl:operation name="FinValidacionAsignacion">
      <wsdl:input message="tns:FinValidacionAsignacion"/>
    </wsdl:operation>
    <wsdl:operation name="InicioReasignarValidacionAsignacion">
      <wsdl:input message="tns:InicioReasignarValidacionAsignacion"/>
    </wsdl:operation>
  </wsdl:portType>  
   <wsdl:portType name="ExcepcionProcessPortType">
    <wsdl:operation name="InicioDesembolsoExcepcion">
      <wsdl:input message="tns:InicioDesembolsoExcepcion"/>
    </wsdl:operation>
    <wsdl:operation name="FinDesembolsoExcepcion">
      <wsdl:input message="tns:FinDesembolsoExcepcion"/>
    </wsdl:operation>
    <wsdl:operation name="InicioReasignarDesembolsoExcepcion">
      <wsdl:input message="tns:InicioReasignarDesembolsoExcepcion"/>
    </wsdl:operation>
  </wsdl:portType>  
  <wsdl:binding name="DesembolsoProcessBinding" type="tns:DesembolsoProcessPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InicioDesembolso">
      <wsdlsoap:operation style="document" soapAction="InicioDesembolso"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>   
    <wsdl:operation name="FinDesembolso">
      <wsdlsoap:operation style="document" soapAction="FinDesembolso"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InicioReasignarDesembolso">
      <wsdlsoap:operation style="document" soapAction="InicioReasignarDesembolso"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>   
  </wsdl:binding>
    <wsdl:binding name="ValidacionProcessBinding" type="tns:ValidacionProcessPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InicioValidacionAsignacion">
      <wsdlsoap:operation style="document" soapAction="InicioValidacionAsignacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FinValidacionAsignacion">
      <wsdlsoap:operation style="document" soapAction="FinValidacionAsignacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>  
     <wsdl:operation name="InicioReasignarValidacionAsignacion">
      <wsdlsoap:operation style="document" soapAction="InicioReasignarValidacionAsignacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
    <wsdl:binding name="ExcepcionProcessBinding" type="tns:ExcepcionProcessPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="InicioDesembolsoExcepcion">
      <wsdlsoap:operation style="document" soapAction="InicioDesembolsoExcepcion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>    
    <wsdl:operation name="FinDesembolsoExcepcion">
      <wsdlsoap:operation style="document" soapAction="FinDesembolsoExcepcion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InicioReasignarDesembolsoExcepcion">
      <wsdlsoap:operation style="document" soapAction="InicioReasignarDesembolsoExcepcion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>   
  </wsdl:binding>
  <plnk:partnerLinkType name="DesembolsoProcessPortTypePartnerLinkType">
    <plnk:role name="DesembolsoProcessPortTypeProvider">
      <plnk:portType name="tns:DesembolsoProcessPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>  
  <plnk:partnerLinkType name="ValidacionProcessPortTypePartnerLinkType">
    <plnk:role name="ValidacionProcessPortTypeProvider">
      <plnk:portType name="tns:ValidacionProcessPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>  
    <plnk:partnerLinkType name="ExcepcionProcessPortTypePartnerLinkType">
    <plnk:role name="ExcepcionProcessPortTypeProvider">
      <plnk:portType name="tns:ExcepcionProcessPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>
</wsdl:definitions>