Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/PNAcct/AcctSignatureGrpAdd/AcctSignatureGrpAdd_V1.0.XSD

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/PNAcctAppSvc/AcctSignatureGrpAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctSignGrpAdd="http://xmlns.banesco.com/appopt/PNAcctAppSvc/AcctSignatureGrpAdd_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="SignatureGrp">
		<xs:annotation>
			<xs:documentation>Signature Group</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignGrpKey" type="appoptAcctSignGrpAdd:SignatureGrpKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Signatories" type="appoptAcctSignGrpAdd:Signatories" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctSignatureGrpAddRs_Type">
		<xs:sequence>
			<xs:element name="SignatureGrp" type="appoptAcctSignGrpAdd:SignatureGrp" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Signature Group</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctSignatureGrpAddRq" type="appoptAcctSignGrpAdd:AcctSignatureGrpAddRq_Type"/>
	<xs:element name="AcctSignatureGrpAddRs" type="appoptAcctSignGrpAdd:AcctSignatureGrpAddRs_Type"/>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctSignatureGrpAddRq_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="appoptAcctSignGrpAdd:AcctKey" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignatureGrp" type="appoptAcctSignGrpAdd:SignatureGrp" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Signature Group</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Signatory">
		<xs:annotation>
			<xs:documentation>Signatory</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="EndDate" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>EndDate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyKey" type="appoptAcctSignGrpAdd:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Customer Number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartDate" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>StartDate</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Signatories">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Signatory" type="appoptAcctSignGrpAdd:Signatory" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SignatureGrpKey">
		<xs:annotation>
			<xs:documentation>Signature Group Key</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SignGrpId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identification Group</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
