AG_2019/OSB/AlmacenesGarcia_DEV/Capabilities/Core/Buyer/BuyerEntitySvc/Resources/WSDL/BuyerEntitySvc.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Buyer/BuyerEntitySvc/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:supp="http://mx.agarcia.ea/Capabilities/Core/Buyer/BuyerEntitySvc/v1.0" xmlns:ns1="http://mx.agarcia.ea/Capabilities/Foundation/Party/BuyerEntitySvc" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

  
<wsdl:types>
<schema xmlns="http://www.w3.org/2001/XMLSchema">

<import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/BuyerEntitySvc" schemaLocation="../../Schema/BuyerEntitySchema.xsd"/>
<import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
<import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
                     
</schema>
</wsdl:types>
  <wsdl:message name="createBuyerRequest">
    <wsdl:part name="createBuyerRequest" element="ns1:createBuyerRequest"/>
  </wsdl:message>
  <wsdl:message name="createBuyerResponse">
    <wsdl:part name="createBuyerResponse" element="ns1:createBuyerResponse"/>
  </wsdl:message>
  <wsdl:message name="standarMessageFault">
    <wsdl:part name="fault" element="AGSM:messageError"/>
  </wsdl:message>
  <wsdl:message name="standarMessageHeader">
    <wsdl:part name="header" element="AGSH:headerMessage"/>
  </wsdl:message>
  <wsdl:portType name="BuyerEntityPType">
    <wsdl:operation name="create">
      <wsdl:input message="supp:createBuyerRequest"/>
      <wsdl:output message="supp:createBuyerResponse"/>
      <wsdl:fault message="supp:standarMessageFault" name="fault"/>
    </wsdl:operation>
    <wsdl:operation name="modify">
      <wsdl:input message="supp:modifyBuyerRequest"/>
      <wsdl:output message="supp:modifyBuyerResponse"/>
      <wsdl:fault message="supp:standarMessageFault" name="fault"/>
    </wsdl:operation>
 
  </wsdl:portType>
  <wsdl:message name="modifyBuyerRequest">
    <wsdl:part name="modifyBuyerRequest" element="ns1:modifyBuyerRequest"/>
  </wsdl:message>
  <wsdl:message name="modifyBuyerResponse">
    <wsdl:part name="modifyBuyerResponse" element="ns1:modifyBuyerResponse"/>
  </wsdl:message>
  <wsdl:binding name="BuyerEntityBinding" type="supp:BuyerEntityPType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="create">
      <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Buyer/BuyerEntitySvc/v1.0/create"/>
      <wsdl:input>
        <soap:body use="literal" parts="createBuyerRequest"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="createBuyerResponse"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="modify">
      <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Buyer/BuyerEntitySvc/v1.0/modify"/>
      <wsdl:input>
        <soap:body use="literal" parts="modifyBuyerRequest"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="modifyBuyerResponse"/>
      </wsdl:output>
      <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>