BCIE_fenix/qa/SOA/03-SOA-SERVICES/DominioCliente/Recuperacion/SOA/XSD/Recuperacion.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/GenerarArchivo"
            targetNamespace="http://www.bcie.org/GenerarArchivo" elementFormDefault="qualified">
  <xsd:element name="ListaResultado" type="ListaResultadoType"/>
  <xsd:element name="ListaAdjuntos" type="ListaAdjuntosType"/>
  <xsd:complexType name="ListaResultadoType">
    <xsd:sequence>
      <xsd:element name="idDetalleLote" type="xsd:int" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaAdjuntosType">
    <xsd:sequence>
      <xsd:element name="idAdjunto" type="xsd:long" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
