Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/IVRAcct/AcctInfoInq/AcctInfoInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/IVRAcctAppSvc/AcctInfoInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctInfoInq="http://xmlns.banesco.com/appopt/IVRAcctAppSvc/AcctInfoInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Persona.

Valores: Person or Org.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctMember">
		<xs:sequence>
			<xs:element name="PartyKey" type="appoptAcctInfoInq:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cliente miembro de la cuenta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyRole" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Rol del Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctInfoInqRq_Type">
		<xs:sequence>
			<xs:element name="AcctKey" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartyKey" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PartyType" type="xs:string" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Tipo de Persona.

Valores: Person or Org.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctInfoInqRs_Type">
		<xs:sequence>
			<xs:element name="Acct" type="appoptAcctInfoInq:Acct" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctCard">
		<xs:sequence>
			<xs:element name="CardKey" type="appoptAcctInfoInq:CardKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="OwnsCard" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Posee Tarjeta de Débito</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctInfoInqRq" type="appoptAcctInfoInq:AcctInfoInqRq_Type"/>
	<xs:complexType name="AcctStatus">
		<xs:annotation>
			<xs:documentation>Account Status Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctStatusCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo de estado de la cuenta</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctProfile">
		<xs:sequence>
			<xs:element name="AvgBalance" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Saldo Promedio Mensual a manejar en la cuenta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvgDepositAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto Promedio Mensual de Depósitos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CashDepositFreq" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Habitualidad de depósitos en efectivo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CashWithdrawalFreq" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Habitualidad de retiros en efectivo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PercentageDepChk" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Porcentaje de depositos en cheques</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctProfileTrn" type="appoptAcctInfoInq:AcctProfileTrn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EnumTrnType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="CashDeposit"/>
			<xs:enumeration value="CashWithdrawal"/>
			<xs:enumeration value="ChkDeposit"/>
			<xs:enumeration value="ChkPay"/>
			<xs:enumeration value="IntTransfRec"/>
			<xs:enumeration value="IntTransfSend"/>
			<xs:enumeration value="LocalTransfRec"/>
			<xs:enumeration value="LocalTransfSend"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkBook">
		<xs:sequence>
			<xs:element name="Branch" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sucursal de destino</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FirstHolder" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del primer titular</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MultipleHolder" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Aplica 2 o mas titulares</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Provider" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Proveedor de la chequera</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SecondHolder" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del segundo titular</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de chequera</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctOpeningInfo">
		<xs:sequence>
			<xs:element name="AcctUse" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uso que dará a la cuenta (Comercial / Personal)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FundsOrigin" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Origen de los fondos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GoalAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto meta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InitialAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto de Apertura</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de Apertura</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenMode" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Modo de apertura</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Purpose" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Proposito</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RqReason" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Razón de solicitud del servicio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SaleOfficer" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Canal de venta</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctTransfer">
		<xs:sequence>
			<xs:element name="AllowsIntTransf" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Acepta transferencias internacionales</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Country" type="appoptcommon:Country" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Indica el Pais de origen/destino para transferencias internacionales</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransfNature" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Naturaleza de las transferencias</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EnunBalType">
		<xs:annotation>
			<xs:documentation>Example Values: 
Balance,
AvailBalance,
DeferBalance,
BlockAmt,
NetBalance,
OverdrtLimit</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AvailBalance"/>
			<xs:enumeration value="BlockAmt"/>
			<xs:enumeration value="DeferBalance"/>
			<xs:enumeration value="NetBalance"/>
			<xs:enumeration value="OverdrtLimit"/>
			<xs:enumeration value="Balance"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="CardKey">
		<xs:sequence>
			<xs:element name="CardNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Tarjeta</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PmtsCollector">
		<xs:sequence>
			<xs:element name="AgentCategory" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Categoria del Agente Recaudador de Pagos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsAgent" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Es Agente Recaudador de Pagos</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctBal">
		<xs:annotation>
			<xs:documentation>Account Balance.

Supports attributes with respect to all the balances a financial institution account may carry (ex: ledger, available, collected, etc.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BalType" type="appoptAcctInfoInq:EnunBalType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Saldo

Valores:

Balance,
AvailBalance,
DeferBalance,
BlockAmt,
NetBalance,
OverdrtLimit</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctProfileTrn">
		<xs:sequence>
			<xs:element name="Amt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sumatoria de los montos de las transacciones</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Count" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numero de transacciones</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnType" type="appoptAcctInfoInq:EnumTrnType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de transaccion

Valores:

CashDeposit,
CashWithdrawal,
ChkDeposit,
ChkPay,
IntTransfRec,
IntTransfSend,
LocalTransfRec,
LocalTransfSend,</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Acct">
		<xs:annotation>
			<xs:documentation>Account Information Aggregate. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctApplIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica el número de solicitud generado desde la aplicacion.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctSubtype" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Producto.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Grupo de Producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkBookQty" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cantidad de chequeras</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClubBanesco" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica si el producto pertenece al Club Banesco</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo de la moneda</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MovType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Movilizacion</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SIBActivityType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Actividad SIB</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctBal" type="appoptAcctInfoInq:AcctBal" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="PmtsCollector" type="appoptAcctInfoInq:PmtsCollector" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctTransfer" type="appoptAcctInfoInq:AcctTransfer" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctOpeningInfo" type="appoptAcctInfoInq:AcctOpeningInfo" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ChkBook" type="appoptAcctInfoInq:ChkBook" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcctKey" type="appoptAcctInfoInq:AcctKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctProfile" type="appoptAcctInfoInq:AcctProfile" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctStatus" type="appoptAcctInfoInq:AcctStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctCard" type="appoptAcctInfoInq:AcctCard" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctMember" type="appoptAcctInfoInq:AcctMember" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctInfoInqRs" type="appoptAcctInfoInq:AcctInfoInqRs_Type"/>
</xs:schema>
