AG_2019/OSB/OSB_PRD_Almacenes/Applications/RetailMerchandising/RMS/RMSBuyer/Resources/RMSBuyerDBBS_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/RMSBuyerDBBS" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/RMSBuyerDBBS" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="BuyerCollection" type="BuyerCollection"/>
   <xs:complexType name="BuyerCollection">
      <xs:sequence>
         <xs:element name="Buyer" type="Buyer" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Buyer">
      <xs:sequence>
         <xs:element name="buyer" type="xs:int"/>
         <xs:element name="buyerName" type="string120" minOccurs="0"/>
         <xs:element name="buyerPhone" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="buyerFax" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="createId" type="string30" minOccurs="0"/>
         <xs:element name="createDatetime" type="xs:dateTime" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="BuyerPrimaryKey" type="BuyerPrimaryKey"/>
   <xs:complexType name="BuyerPrimaryKey">
      <xs:sequence>
         <xs:element name="buyer" type="xs:int" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>