Banesco_2023/SOA/BanescoT24SOA/SAGAPartyStatusAppSvc/SOA/Schemas/EmpPartyStatusMod/EmpPartyStatusMod_V1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://xmlns.banesco.com/eopt/EmpPartyStatusMod_V1.0" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eoptEmpPartyStatusMod="http://xmlns.banesco.com/eopt/EmpPartyStatusMod_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
  <xsd:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="Status_V1.0.xsd"/>
  <xsd:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="Party_V1.0.xsd"/>
  <xsd:element name="EmpPartyStatusModRq" type="eoptEmpPartyStatusMod:EmpPartyStatusModRq_Type">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="EmpPartyStatusModRq_Type">
    <xsd:sequence>
      <xsd:element ref="eoptEmpPartyStatusMod:PersonData"/>
      <xsd:element ref="eoptEmpPartyStatusMod:LoginIdent"/>
      <xsd:element ref="eoptEmpPartyStatusMod:EmployeeData"/>
      <xsd:element ref="eoptEmpPartyStatusMod:PartyStatus"/>
      <xsd:element ref="eoptEmpPartyStatusMod:Employment"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="EmpPartyStatusModRs" type="eoptEmpPartyStatusMod:EmpPartyStatusModRs_Type"/>
  <xsd:complexType name="EmpPartyStatusModRs_Type">
    <xsd:sequence>
      <xsd:element ref="eoptEmpPartyStatusMod:PersonData" minOccurs="0"/>
      <xsd:element ref="eoptEmpPartyStatusMod:LoginIdent" minOccurs="0"/>
      <xsd:element ref="eoptEmpPartyStatusMod:Status"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="EmployeeData" type="eoPar:EmployeeData"/>
  <xsd:element name="PersonData" type="eoPar:PersonData"/>
  <xsd:element name="LoginIdent" type="eoPar:LoginIdent"/>
  <xsd:element name="PartyStatus" type="eoPar:PartyStatus"/>
  <xsd:element name="Employment" type="eoPar:Employment"/>
  <xsd:element name="Status" type="eoStatus:Status"/>
</xsd:schema>