BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ActualizarSolicitudConfiguracionAprobacion/XSD/ActualizarSolicitudAprobacion_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ActualizarSolicitudAprobacion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ActualizarSolicitudAprobacion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="SolicitudAprobacionCollection" type="SolicitudAprobacionCollection"/>
   <xs:complexType name="SolicitudAprobacionCollection">
      <xs:sequence>
         <xs:element name="SolicitudAprobacion" type="SolicitudAprobacion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="SolicitudAprobacion">
      <xs:sequence>
         <xs:element name="id" type="xs:long"/>
         <xs:element name="idOperacion" type="xs:long" minOccurs="0"/>
         <xs:element name="idTcaTipoSolicitud" type="xs:int" minOccurs="0"/>
         <xs:element name="idTcaNivelAprobacion" type="xs:int" minOccurs="0"/>
         <xs:element name="esReunionVirtual" type="xs:int" minOccurs="0"/>
         <xs:element name="fechaInicio" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="fechaTermino" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="horaReunion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="lugarReunion" type="string64" minOccurs="0" nillable="true"/>
         <xs:element name="loginUsuarioAsigna" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="fechaAsignacion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="fechaCierre" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="loginUsuarioCierre" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string64">
      <xs:restriction base="xs:string">
         <xs:maxLength value="64"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>