BCIE_fenix/preprod/ADF-BPM/bpm/PA05CancelarOperacion/PA05CancelarOperacionProcess/SOA/Schemas/HT01AnalizarSolicitudPayload.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<schema targetNamespace="http://xmlns.oracle.com/bpel/workflow/task" xmlns:tns="http://xmlns.oracle.com/bpel/workflow/task" attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://xmlns.bcie.org/ObjetoProceso/Cancelar/Payload/V1" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://xmlns.bcie.org/ObjetoProceso/Cancelar/Payload/V1" schemaLocation="oramds:/apps/Resources/BPM/Schema/PA05/CancelarOperacion.xsd"/>
   <complexType name="HT01AnalizarSolicitudPayloadType">
      <sequence>
         <element ref="ns0:CancelarPayload"/>
         <element name="responsableOperacion" type="xsd:string"/>
         <element name="encargadoOperacion" type="xsd:string"/>
         <element name="managerReponsable" type="xsd:string"/>
      </sequence>
   </complexType>
</schema>
