Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Payment/PmtCardCrPrepAdd/PmtCardCrPrepAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/PmtCardCrPrepAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptPmtCardCrPrepAdd="http://xmlns.banesco.com/eopt/PmtCardCrPrepAdd_V1.0" xmlns:eoBank="http://xmlns.banesco.com/eo/Banking_V1.0" xmlns:eoPmt="http://xmlns.banesco.com/eo/Pmt_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" xmlns:eoCard="http://xmlns.banesco.com/eo/Card_V1.0" xmlns:eoChk="http://xmlns.banesco.com/eo/Chk_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Chk_V1.0" schemaLocation="../../../EO/Acct/Chk_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Card_V1.0" schemaLocation="../../../EO/Card/Card_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Pmt_V1.0" schemaLocation="../../../EO/Pmt/Pmt_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Banking_V1.0" schemaLocation="../../../EO/Banking/Banking_V1.0.xsd"/>
	<xs:complexType name="PmtCardCrPrepAddRs_Type">
		<xs:sequence>
			<xs:element name="FIData" type="eoBank:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Pmt" type="eoPmt:Pmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Payment que contiene la información de respuesta del pago realizado.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PmtCardCrPrepAddRq_Type">
		<xs:sequence>
			<xs:element name="Card" type="eoCard:Card" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Chk" type="eoChk:Chk" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIData" type="eoBank:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Pmt" type="eoPmt:Pmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Payment que contiene la información de respuesta del pago realizado.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PmtCardCrPrepAddRs" type="eoptPmtCardCrPrepAdd:PmtCardCrPrepAddRs_Type"/>
	<xs:element name="PmtCardCrPrepAddRq" type="eoptPmtCardCrPrepAdd:PmtCardCrPrepAddRq_Type"/>
</xs:schema>
