BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioCliente/GestionCobro/ConsultarGestionCobro/XSD/ConsultarGestionCobro.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarGestionCobro" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarGestionCobro" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarGestionCobroInput" type="ConsultarGestionCobroInput"/>
   <xs:complexType name="ConsultarGestionCobroInput">
      <xs:sequence>
         <xs:element name="idEjecucion" type="xs:long" nillable="true"/>
         <xs:element name="estado" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarGestionCobroOutputCollection" type="ConsultarGestionCobroOutputCollection"/>
   <xs:complexType name="ConsultarGestionCobroOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarGestionCobroOutput" type="ConsultarGestionCobroOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarGestionCobroOutput">
      <xs:sequence>
         <xs:element name="ID_LOTE" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_EJECUCION" type="xs:decimal" nillable="true"/>
         <xs:element name="ESTADO" type="xs:string" nillable="true"/>
         <xs:element name="ERROR" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA" type="xs:dateTime" nillable="true"/>
         <xs:element name="ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="TIPO_LOTE" type="xs:string"/>
         <xs:element name="ES_RECIBO_DETALLADO" type="xs:decimal"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>