BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Contrato/ConsultarContratoByIdDesembolso/XSD/ConsultarContratoByIdDesembolso.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarContratoByIdDesembolso" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarContratoByIdDesembolso" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarContratoByIdDesembolsoInput" type="ConsultarContratoByIdDesembolsoInput"/>
   <xs:complexType name="ConsultarContratoByIdDesembolsoInput">
      <xs:sequence>
         <xs:element name="P_ID_DESEMBOLSO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarContratoByIdDesembolsoOutputCollection" type="ConsultarContratoByIdDesembolsoOutputCollection"/>
   <xs:complexType name="ConsultarContratoByIdDesembolsoOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarContratoByIdDesembolsoOutput" type="ConsultarContratoByIdDesembolsoOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarContratoByIdDesembolsoOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_ESTADO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>