Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBPmt/BillersInfoInq/BillersInfoInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/BillersInfoInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptBillersInfoInq="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/BillersInfoInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="SvcProvider">
		<xs:sequence>
			<xs:element name="SvcProviderId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Proveedor del servicio</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillersInfoInqRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Billers" type="appoptBillersInfoInq:Billers" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Biller">
		<xs:sequence>
			<xs:element name="AcctNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cuenta de crédito para el facturador</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillerId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código del Facturador</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Category" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bill Category or Group (Telecommunication, Public Services, Insurance, Banking, Commercializer, Financial, ...)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HasQuery" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicador de consulta de saldo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HasTax" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicador de impuestos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del facturador</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Pago / Recarga</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Tax" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Porcentaje de impuestos</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SvcProvider" type="appoptBillersInfoInq:SvcProvider" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BillersInfoInqRs" type="appoptBillersInfoInq:BillersInfoInqRs_Type"/>
	<xs:complexType name="BillersInfoInqRq_Type">
		<xs:sequence>
			<xs:element name="Biller" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="BillerId" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Código del Facturador</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="Category" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Categoría</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BillersInfoInqRq" type="appoptBillersInfoInq:BillersInfoInqRq_Type"/>
	<xs:complexType name="Billers">
		<xs:annotation>
			<xs:documentation>Tipo que contiene una lista de facturadores.</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Biller" type="appoptBillersInfoInq:Biller" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Lista de facturadores a retornar en el servicio</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
