BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Condicion/CalcularPlazoCondiciones/XSD/CalcularPlazoCondiciones_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CalcularPlazoCondiciones" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CalcularPlazoCondiciones" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_CONDICIONES" type="db:FENIX.T_CONDICION" db:index="1" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_ID_OPERACION" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_ESTADO" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MENSAJE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="FENIX.T_CONDICION">
      <sequence>
         <element name="P_CONDICIONES_ITEM" type="db:FENIX.T_CONDICION_FECHA" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="FENIX.T_CONDICION_FECHA">
      <sequence>
         <element name="ID" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ID_TCA_TIPO_FECHA_INICIO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FECHA_VIGENCIA" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
</schema>
