BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/CrearBitacoraReglasDesembolso/XSD/CrearBitacoraReglasDesembolso_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearBitacoraReglasDesembolso" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearBitacoraReglasDesembolso" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="TbiReglaDesembolsoCollection" type="TbiReglaDesembolsoCollection"/>
   <xs:complexType name="TbiReglaDesembolsoCollection">
      <xs:sequence>
         <xs:element name="TbiReglaDesembolso" type="TbiReglaDesembolso" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TbiReglaDesembolso">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="instanciaProceso" type="string256" minOccurs="0"/>
         <xs:element name="idTreReglaDesembolso" type="xs:long" minOccurs="0"/>
         <xs:element name="idTcaTarea" type="xs:int" minOccurs="0"/>
         <xs:element name="descripcion" type="string256" minOccurs="0"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="estado" type="string32" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string256">
      <xs:restriction base="xs:string">
         <xs:maxLength value="256"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>