Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Account/AcctTrnHisInq/AcctTrnHisInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctTrnHisInq_V1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:eoptAcctTrnHisInq="http://xmlns.banesco.com/eopt/AcctTrnHisInq_V1.0"
           xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0"
           xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
           xmlns:eoTrn="http://xmlns.banesco.com/eo/Trn_V1.0" elementFormDefault="qualified">
  <xs:import namespace="http://xmlns.banesco.com/eo/Trn_V1.0" schemaLocation="../../../EO/Banking/Trn_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../../../EO/Common/Common_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
  <xs:element name="AcctTrnHisInqRq_Type" type="eoptAcctTrnHisInq:AcctTrnHisInqRq_Type"/>
  <xs:complexType name="AcctTrnHisInqRq_Type">
    <xs:sequence>
      <xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto AcctKey que contiene los datos de la cuenta a consultar.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TimeFrame" type="eoCom:TimeFrame" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto TimeFrame que contiene los datos del rango de fechas de la consulta.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcctTrnHisInqRs_Type" type="eoptAcctTrnHisInq:AcctTrnHisInqRs_Type"/>
  <xs:complexType name="AcctTrnHisInqRs_Type">
    <xs:sequence>
      <xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Trn" type="eoTrn:Trn" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Lista del objeto AcctTrn que contiene los datos de las transacciones de la cuenta consultada.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AcctTrnHisInqRq" type="eoptAcctTrnHisInq:AcctTrnHisInqRq_Type"/>
  <xs:element name="AcctTrnHisInqRs" type="eoptAcctTrnHisInq:AcctTrnHisInqRs_Type"/>
</xs:schema>
