BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/CrearBitacoraCliente/V1/Schema/CrearBitacoraClienteMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/CrearBitacoraClienteMO"
            targetNamespace="http://www.bcie.org/CrearBitacoraClienteMO" elementFormDefault="qualified"
            xmlns:bitCteBO="http://www.bcie.org/CrearBitacoraClienteBO"
            xmlns:resBO="http://www.bcie.org/ResultBO">
            
  <xsd:import namespace="http://www.bcie.org/CrearBitacoraClienteBO" schemaLocation="CrearBitacoraClienteBO.xsd"/> 
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="CrearBitacoraClienteRequest" type="CrearBitacoraClienteRequestType">
    <xsd:annotation>
      <xsd:documentation>Registro de bitácora de clientes</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="CrearBitacoraClienteResponse" type="CrearBitacoraClienteResponseType">
  </xsd:element>
  <xsd:complexType name="CrearBitacoraClienteRequestType">
    <xsd:sequence>
      <xsd:element name="BitacoraCliente" type="bitCteBO:BitacoraCliente"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearBitacoraClienteResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
