Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/TechLayer/Payment/PmtTechSvc_V1.1.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/TechLayer/PaymentTechSvc_V1.1"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.banesco.com/TechLayer/PaymentTechSvc_V1.1"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoptBillersRulesInq="http://xmlns.banesco.com/eopt/BillersRulesInq_V1.0"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptBillersInfoInq="http://xmlns.banesco.com/eopt/BillersInfoInq_V1.0"
             xmlns:eoptBillersInfoT24Inq="http://xmlns.banesco.com/eopt/BillersInfoT24Inq_V1.0"
             xmlns:eoptPmtUtilAdd="http://xmlns.banesco.com/eopt/PmtUtilAdd_V1.0"
             xmlns:eoptBillInq="http://xmlns.banesco.com/eopt/BillCPagInq_V1.0"
             xmlns:eoptPmtCardAdd="http://xmlns.banesco.com/eopt/PmtCardAdd_V1.0"
             xmlns:eoptPmtCardCan="http://xmlns.banesco.com/eopt/PmtCardCan_V1.0"
             xmlns:eoptPmtCardCrFinancingAdd="http://xmlns.banesco.com/eopt/PmtCardCrFinancingAdd_V1.0"
             xmlns:eoptPmtCardCrFinancingCan="http://xmlns.banesco.com/eopt/PmtCardCrFinancingCan_V1.0"
             xmlns:eoptPmtCardCrPrepAdd="http://xmlns.banesco.com/eopt/PmtCardCrPrepAdd_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EOpt/Payment/BillersRulesInq/BillersRulesInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/BillersRulesInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Payment/PmtUtilAdd/PmtUtilAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PmtUtilAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Payment/BillCPagInq/BillCPagInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/BillCPagInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Payment/PmtCardAdd/PmtCardAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PmtCardAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Payment/PmtCardCan/PmtCardCan_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PmtCardCan_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Payment/PmtCardCrFinancingAdd/PmtCardCrFinancingAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PmtCardCrFinancingAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Payment/PmtCardCrFinancingCan/PmtCardCrFinancingCan_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PmtCardCrFinancingCan_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Payment/PmtCardCrPrepAdd/PmtCardCrPrepAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PmtCardCrPrepAdd_V1.0"/>
    </xsd:schema>
  </types>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="PmtUtilAddRq">
    <part name="PmtUtilAddRq" element="eoptPmtUtilAdd:PmtUtilAddRq"/>
  </message>
  <message name="PmtUtilAddRs">
    <part name="PmtUtilAddRs" element="eoptPmtUtilAdd:PmtUtilAddRs"/>
  </message>
  <message name="BillInqRq">
    <part name="BillInqRq" element="eoptBillInq:BillInqRq"/>
  </message>
  <message name="BillInqRs">
    <part name="BillInqRs" element="eoptBillInq:BillInqRs"/>
  </message>
  <message name="PmtCardAddRq">
    <part name="PmtCardAddRq" element="eoptPmtCardAdd:PmtCardAddRq"/>
  </message>
  <message name="PmtCardAddRs">
    <part name="PmtCardAddRs" element="eoptPmtCardAdd:PmtCardAddRs"/>
  </message>
  <message name="PmtCardCanRq">
    <part name="PmtCardCanRq" element="eoptPmtCardCan:PmtCardCanRq"/>
  </message>
  <message name="PmtCardCanRs">
    <part name="PmtCardCanRs" element="eoptPmtCardCan:PmtCardCanRs"/>
  </message>
  <message name="PmtCardCrFinancingAddRq">
    <part name="PmtCardCrFinancingAddRq" element="eoptPmtCardCrFinancingAdd:PmtCardCrFinancingAddRq"/>
  </message>
  <message name="PmtCardCrFinancingAddRs">
    <part name="PmtCardCrFinancingAddRs" element="eoptPmtCardCrFinancingAdd:PmtCardCrFinancingAddRs"/>
  </message>
  <message name="PmtCardCrFinancingCanRq">
    <part name="PmtCardCrFinancingCanRq" element="eoptPmtCardCrFinancingCan:PmtCardCrFinancingCanRq"/>
  </message>
  <message name="PmtCardCrFinancingCanRs">
    <part name="PmtCardCrFinancingCanRs" element="eoptPmtCardCrFinancingCan:PmtCardCrFinancingCanRs"/>
  </message>
  <message name="PmtCardCrPrepAddRq">
    <part name="PmtCardCrPrepAddRq" element="eoptPmtCardCrPrepAdd:PmtCardCrPrepAddRq"/>
  </message>
  <message name="PmtCardCrPrepAddRs">
    <part name="PmtCardCrPrepAddRs" element="eoptPmtCardCrPrepAdd:PmtCardCrPrepAddRs"/>
  </message>
  <portType name="PaymentTechSvcPort">
    <operation name="PmtUtilAdd">
      <input message="tns:PmtUtilAddRq"/>
      <output message="tns:PmtUtilAddRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="BillInq">
      <input message="tns:BillInqRq"/>
      <output message="tns:BillInqRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="PmtCardAdd">
      <input message="tns:PmtCardAddRq"/>
      <output message="tns:PmtCardAddRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="PmtCardCan">
      <input message="tns:PmtCardCanRq"/>
      <output message="tns:PmtCardCanRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="PmtCardCrFinancingAdd">
      <input message="tns:PmtCardCrFinancingAddRq"/>
      <output message="tns:PmtCardCrFinancingAddRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="PmtCardCrFinancingCan">
      <input message="tns:PmtCardCrFinancingCanRq"/>
      <output message="tns:PmtCardCrFinancingCanRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="PmtCardCrPrepAdd">
      <input message="tns:PmtCardCrPrepAddRq"/>
      <output message="tns:PmtCardCrPrepAddRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
  </portType>
  <binding name="PaymentTechSvBinding_SOAP11" type="tns:PaymentTechSvcPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="PmtUtilAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/PaymentTechSvc_V1.0/PmtUtilAdd"/>
      <input>
        <soap:body use="literal" parts="PmtUtilAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PmtUtilAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="BillInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/PaymentTechSvc_V1.0/BillInq"/>
      <input>
        <soap:body use="literal" parts="BillInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="BillInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PmtCardAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/PaymentTechSvc_V1.1/PmtCardAdd"/>
      <input>
        <soap:body use="literal" parts="PmtCardAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PmtCardAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PmtCardCan">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/PaymentTechSvc_V1.1/PmtCardCan"/>
      <input>
        <soap:body use="literal" parts="PmtCardCanRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PmtCardCanRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PmtCardCrFinancingAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/PaymentTechSvc_V1.1/PmtCardCrFinancingAdd"/>
      <input>
        <soap:body use="literal" parts="PmtCardCrFinancingAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PmtCardCrFinancingAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PmtCardCrFinancingCan">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/PaymentTechSvc_V1.1/PmtCardCrFinancingCan"/>
      <input>
        <soap:body use="literal" parts="PmtCardCrFinancingCanRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PmtCardCrFinancingCanRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PmtCardCrPrepAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/PaymentTechSvc_V1.1/PmtCardCrPrepAdd"/>
      <input>
        <soap:body use="literal" parts="PmtCardCrPrepAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PmtCardCrPrepAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PaymentTechSvc_V1.0">
    <port name="PaymentSvcPort" binding="tns:PaymentTechSvBinding_SOAP11">
      <soap:address location="http://www.example.com"/>
    </port>
  </service>
</definitions>