Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/TechLayer/Payment/PmtTechSvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/TechLayer/PaymentTechSvc_V1.0"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.banesco.com/TechLayer/PaymentTechSvc_V1.0"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoptBillersRulesInq="http://xmlns.banesco.com/eopt/BillersRulesInq_V1.0"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptBillersInfoInq="http://xmlns.banesco.com/eopt/BillersInfoInq_V1.0"
             xmlns:eoptBillersInfoT24Inq="http://xmlns.banesco.com/eopt/BillersInfoT24Inq_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EOpt/Payment/BillersRulesInq/BillersRulesInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/BillersRulesInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Payment/BillersInfoInq/BillersInfoInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/BillersInfoInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Payment/BillersInfoT24Inq/BillersInfoT24Inq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/BillersInfoT24Inq_V1.0"/>
    </xsd:schema>
  </types>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="BillersRulesInqRq">
    <part name="BillersRulesInqRq" element="eoptBillersRulesInq:BillersRulesInqRq"/>
  </message>
  <message name="BillersRulesInqRs">
    <part name="BillersRulesInqRs" element="eoptBillersRulesInq:BillersRulesInqRs"/>
  </message>
  <message name="BillersInfoInqRq">
    <part name="BillersInfoInqRq" element="eoptBillersInfoInq:BillersInfoInqRq"/>
  </message>
  <message name="BillersInfoInqRs">
    <part name="BillersInfoInqRs" element="eoptBillersInfoInq:BillersInfoInqRs"/>
  </message>
  <message name="BillersInfoT24InqRq">
    <part name="BillersInfoT24InqRq" element="eoptBillersInfoT24Inq:BillersInfoT24InqRq"/>
  </message>
  <message name="BillersInfoT24InqRs">
    <part name="BillersInfoT24InqRs" element="eoptBillersInfoT24Inq:BillersInfoT24InqRs"/>
  </message>
  <portType name="PaymentTechSvcPort">
    <operation name="BillersRulesInq">
      <input message="tns:BillersRulesInqRq"/>
      <output message="tns:BillersRulesInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="BillersInfoInq">
      <input message="tns:BillersInfoInqRq"/>
      <output message="tns:BillersInfoInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="BillersInfoT24Inq">
      <input message="tns:BillersInfoT24InqRq"/>
      <output message="tns:BillersInfoT24InqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
  </portType>
  <binding name="PaymentTechSvBinding_SOAP11" type="tns:PaymentTechSvcPort">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="BillersRulesInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/PaymentTechSvc_V1.0/BillerRulesInq"/>
      <input>
        <soap:body use="literal" parts="BillersRulesInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="BillersRulesInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="BillersInfoInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/PaymentTechSvc_V1.0/BillersInfoInq"/>
      <input>
        <soap:body use="literal" parts="BillersInfoInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="BillersInfoInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="BillersInfoT24Inq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/PaymentTechSvc_V1.0/BillersInfoT24Inq"/>
      <input>
        <soap:body use="literal" parts="BillersInfoT24InqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="BillersInfoT24InqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="PaymentTechSvc_V1.0">
    <port name="PaymentSvcPort" binding="tns:PaymentTechSvBinding_SOAP11">
      <soap:address location="http://www.example.com"/>
    </port>
  </service>
</definitions>