AG_2019/OSB/OSB_PRD_Almacenes/Applications/RetailMerchandising/IGS/VendorPublishingService/Schema/XMLSchema_1941851685.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://www.oracle.com/retail/integration/base/bo/VendorOUDesc/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.oracle.com/retail/integration/base/bo/VendorOUDesc/v1" elementFormDefault="qualified"><xsd:element name="VendorOUDesc"><xsd:complexType><xsd:sequence><xsd:element name="org_unit_id" type="xsd:long"/><xsd:element name="primary_pay_site_ind" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>