BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/CrearReciboPago/XSD/GenerarReciboPagoTypes.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema xmlns:ns0="http://www.bcie.org/herramientaOfismatica/ReciboPago" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.bcie.org/herramientaOfismatica/ReciboPago" elementFormDefault="qualified"><xsd:complexType name="Detalles"><xsd:sequence><xsd:element name="prestamo" type="xsd:string"/><xsd:element name="desembolso" type="xsd:string"/><xsd:element name="detalle" type="xsd:string"/><xsd:element name="monedaAdeudo" type="xsd:string"/><xsd:element name="cantidadAdeudada" type="xsd:string"/><xsd:element name="monedaPagada" type="xsd:string"/><xsd:element name="cantidadPagada" type="xsd:string"/></xsd:sequence></xsd:complexType><xsd:complexType name="Recibo"><xsd:sequence><xsd:element name="fechaProceso" type="xsd:string"/><xsd:element name="numRecibo" type="xsd:string"/><xsd:element name="cliente" type="xsd:string"/><xsd:element name="fechaEfectiva" type="xsd:string"/>
      <xsd:element name="tablaDetalle" type="ns0:TablaDetalle" maxOccurs="unbounded"/>
      <xsd:element name="tablaDetalleUSD" type="ns0:TablaDetalle" maxOccurs="unbounded"/>
      </xsd:sequence></xsd:complexType><xsd:complexType name="ReciboPago"><xsd:sequence><xsd:element name="Recibo" type="ns0:Recibo" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType><xsd:complexType name="TablaDetalle"><xsd:sequence><xsd:element name="detalles" type="ns0:Detalles" maxOccurs="unbounded"/><xsd:element name="totalPagada" type="xsd:string"/></xsd:sequence></xsd:complexType></xsd:schema>