BCIE_fenix/features/MCP/6389/ADF-BPM/bpm/PA17LeccionesAprendidas/PA17LeccionesAprendidasProcess/SOA/businessCatalog/LeccionesAprendidasTypes/CategoriasBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3.0.0.00.00" build="02.10" fullName="LeccionesAprendidasTypes.CategoriasBO" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/LeccionesAprendidasTypes/CategoriasBO" elementFormDefault="qualified" xmlns:ns1="http://www.bcie.org/LeccionAprendidaBO"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/LeccionesAprendidasTypes/CategoriasBO"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:import namespace="http://www.bcie.org/LeccionAprendidaBO" schemaLocation="oramds:/apps/Resources/ComponentesComunes/DominioLeccionesAprendidas/LeccionAprendida/V1/Schema/LeccionAprendidaBO.xsd"/>
    <xs:complexType name="CategoriasBOType">
        <xs:sequence>
            <xs:element name="categorias" nillable="true" type="ns1:CategoriaType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="CategoriasBO" type="CategoriasBOType"/>
</xs:schema>
