Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Party/OrgPartyInfoInq/OrgPartyInfoInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/OrgPartyInfoInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptOrgPartyInfoInq="http://xmlns.banesco.com/eopt/OrgPartyInfoInq_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:element name="OrgPartyInfoInqRs" type="eoptOrgPartyInfoInq:OrgPartyInfoInqRs_Type"/>
	<xs:complexType name="OrgPartyInfoInqRq_Type">
		<xs:sequence>
			<xs:element name="PartyData" type="eoPar:PartyData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto PartyKey que contienen los datos de identificación del cliente jurídico a consultar.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="OrgPartyInfoInqRq" type="eoptOrgPartyInfoInq:OrgPartyInfoInqRq_Type"/>
	<xs:complexType name="OrgPartyInfoInqRs_Type">
		<xs:sequence>
			<xs:element name="OrgPartyInfo" type="eoPar:OrgPartyInfo" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto OrgPartyInfo que contiene la información básica del cliente jurídico consultado.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto PartyKey que contiene la información de identificación del cliente jurídico consultado.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
