BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDesembolso/ConsultarSolicitudDesembolso/XSD/ConsultarSolicitudDesembolso_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarSolicitudDesembolso_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarSolicitudDesembolso_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarSolicitudDesembolso_DBInput" type="ConsultarSolicitudDesembolso_DBInput"/>
   <xs:complexType name="ConsultarSolicitudDesembolso_DBInput">
      <xs:sequence>
         <xs:element name="id_solicitud" type="xs:decimal" nillable="true"/>
         <xs:element name="id_contrato" type="xs:decimal" nillable="true"/>
         <xs:element name="idOperacion" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarSolicitudDesembolso_DBOutputCollection" type="ConsultarSolicitudDesembolso_DBOutputCollection"/>
   <xs:complexType name="ConsultarSolicitudDesembolso_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarSolicitudDesembolso_DBOutput" type="ConsultarSolicitudDesembolso_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarSolicitudDesembolso_DBOutput">
      <xs:sequence>
         <xs:element name="ID_SOLICITUD" type="xs:decimal" nillable="true"/>
         <xs:element name="OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_CREACION" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_SOLICITUD" type="xs:dateTime" nillable="true"/>
         <xs:element name="MONTO_SOLICITUD" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_ESTADO" type="xs:decimal" nillable="true"/>
         <xs:element name="REQUIERE_VALIDACION_REC_EXT" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_EDO" type="xs:string" nillable="true"/>
         <xs:element name="COD_EXTERNO_EDO" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_MONEDA" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_MONEDA" type="xs:string" nillable="true"/>
         <xs:element name="CODIGO_EXTERNO_MONEDA" type="xs:string" nillable="true"/>
         <xs:element name="ID_CONTRATO_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_FONDO" type="xs:string" nillable="true"/>
         <xs:element name="FONDO" type="xs:string" nillable="true"/>
         <xs:element name="ID_ROL_BPM" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>