BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/Schemas/template-AvisoCobroComision-.xsd

<?xml version = '1.0'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
   <xsd:element name="AvisoCobroComision">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="NombreOperacion" type="xsd:string"/>
            <xsd:element name="NombreComision" type="xsd:string"/>
            <xsd:element name="MontoPagar" type="xsd:string"/>
            <xsd:element name="FechaVencimiento" type="xsd:string"/>
            <xsd:element name="NombreCliente" type="xsd:string"/>
            <xsd:element name="IdCliente" type="xsd:integer"/>
            <xsd:element name="ConfiguracionCollection">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="Configuracion" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="Llave" type="xsd:string"/>
                              <xsd:element name="Valor" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
