BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/ConsultarFuenteByCondicion/XSD/ConsultarFuenteByCondicion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarFuenteByCondicion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarFuenteByCondicion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarFuenteByCondicionInput" type="ConsultarFuenteByCondicionInput"/>
   <xs:complexType name="ConsultarFuenteByCondicionInput">
      <xs:sequence>
         <xs:element name="P_CONDICION" type="xs:string" nillable="true"/>
          <xs:element name="P_OPERACION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarFuenteByCondicionOutputCollection" type="ConsultarFuenteByCondicionOutputCollection"/>
   <xs:complexType name="ConsultarFuenteByCondicionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarFuenteByCondicionOutput" type="ConsultarFuenteByCondicionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarFuenteByCondicionOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
             <xs:element name="ID_CONDICION" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>