AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/Custom/Schemas/AppointRef.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/AppointRef/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/AppointRef/v1" version="1.0">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:element name="AppointDtlRef">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item_id" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The item shipped to the location under the Appt ID.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="po_nbr" type="varchar212">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The Purchase Order/Transfer/Allocation corresponding to the shipped merchandise.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="asn_nbr" type="varchar230">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column will hold the Advance Shipping Notice number associated with the Appointment.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AppointRef">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="appt_nbr" type="number9">
                    <retailDoc:annotation>
                        <retailDoc:documentation>An RWMS-generated unique numerical identifier for an Appointment. Appointment is created in a Warehouse system.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="from_location" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The location to which the merchandise has been sent.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="AppointDtlRef">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar230">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number9">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 9.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar212">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 12 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>