AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/Custom/Schemas/StoreDesc.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/StoreDesc/v1" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/StoreDesc/v1" xmlns:CustFlexAttriVo="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" xmlns:AddrDesc="http://www.oracle.com/retail/integration/base/bo/AddrDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema">
  <retailDoc:annotation>
    <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
  </retailDoc:annotation>
  <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/AddrDesc/v1" schemaLocation="AddrDesc.xsd">
    <retailDoc:annotation>
      <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
    </retailDoc:annotation>
  </xs:import>
  <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" schemaLocation="CustFlexAttriVo.xsd">
    <retailDoc:annotation>
      <retailDoc:documentation>It's a referenced element. For detailed
                    description, please refer referenced element doc.
              </retailDoc:documentation>
    </retailDoc:annotation>
  </xs:import>
  <xs:element name="StoreDesc">
    <retailDoc:annotation>
      <retailDoc:documentation>Information about a Store. Used by SIM.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="store" type="number10">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the number to uniquely identify the store.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="store_type" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>This will indicate whether a particular store is a franchise or company store.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="store_name" type="varchar2150">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the name of the store.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="store_name10" type="varchar210">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains a ten character abbreviation of the store name.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="store_name3" type="varchar23">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains a three character abbreviation of the store name.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="store_add1" type="varchar2240">
          <retailDoc:annotation>
            <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="store_add2" type="varchar2240">
          <retailDoc:annotation>
            <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="store_city" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="county" type="varchar2250">
          <retailDoc:annotation>
            <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="state" type="varchar23">
          <retailDoc:annotation>
            <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="country_id" type="varchar23">
          <retailDoc:annotation>
            <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="store_pcode" type="varchar230">
          <retailDoc:annotation>
            <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="store_class" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the code letter indicating the class of which the store is a member.  Valid values are A through E.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="store_mgr_name" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the name of the store manager.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="store_open_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the date on which the store opened.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="store_close_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the date on which the store closed.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="acquired_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the date on which the store was acquired.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="remodel_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the date on which the store was last remodeled.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="fax_number" type="varchar220">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the fax number for the store.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="phone_number" type="varchar220">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the phone number for the store.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="email" type="varchar2100">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the email address for the location.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="total_square_ft" type="number8">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the total square footage of the store.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="selling_square_ft" type="number8">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the total square footage of the store's selling area.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="linear_distance" type="number8">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the total space of the location that can be used for merchandise.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="stockholding_ind" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>This column indicates whether the store can hold stock.  In a non-multichannel environment this will always be</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="channel_id" type="number4">
          <retailDoc:annotation>
            <retailDoc:documentation>In a multichannel environment this will contain the channel with which the store is associated.  Valid values can be found on the channels table.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="store_format" type="number4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the number indicating the format of the store.  Valid values are found on the store format table.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="mall_name" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the name of the mall in which the store is located.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="district" type="number10">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the number of the district in which the store is a member.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="district_name" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the name of the district.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="promo_zone" type="number4">
          <retailDoc:annotation>
            <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="promo_desc" type="varchar220">
          <retailDoc:annotation>
            <retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="transfer_zone" type="number4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the transfer zone in which the store is located.  Valid values are located on the tsfzone table.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="description" type="varchar21000">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the name of the transfer zone.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="default_wh" type="varchar210">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the number of the warehouse that may be used as the default for creating cross-dock masks.  This determines which stores are associated with or sourced from a warehouse. Will hold only virtual warehouses in a multi-channel environment.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="stop_order_days" type="number3">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the number of days before a store closing that the store will stop accepting orders.  This column will be used when the store_close_date is defined.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="start_order_days" type="number3">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the number of days before the store_open_date that the store will begin accepting orders.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="currency_code" type="varchar23">
          <retailDoc:annotation>
            <retailDoc:documentation>This field contains the currency code under which the store operates.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="lang" type="number6">
          <retailDoc:annotation>
            <retailDoc:documentation>This column identifies the language to be used for the store.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="integrated_pos_ind" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Indicates whether the POS system at the store is integrated.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="orig_currency_code" type="varchar23">
          <retailDoc:annotation>
            <retailDoc:documentation>holds  the original currency of a store after it's adopted the Euro as its main operating currency</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="duns_number" type="varchar29">
          <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count umber.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="duns_loc" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>This field contains the Dun and Bradstreet number to identify the location.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="AddrDesc:AddrDesc">
          <retailDoc:annotation>
            <retailDoc:documentation>It's a referenced element. For detailed description, please refer referenced element doc.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="pricing_loc" type="number10">
          <retailDoc:annotation>
            <retailDoc:documentation>If this field is null, the new store will not be added to RPM_ZONE_LOCATION table.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="pricing_loc_curr" type="varchar23">
          <retailDoc:annotation>
            <retailDoc:documentation>This is the currency code of the pricing_loc store.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="org_unit_id" type="number15">
          <retailDoc:annotation>
            <retailDoc:documentation>Column will contain the organizational unit ID value.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="timezone_name" type="varchar264">
          <retailDoc:annotation>
            <retailDoc:documentation>Indicates the time zone of the store. For example, 'America/New_York'.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="CustFlexAttriVo:CustFlexAttriVo">
          <retailDoc:annotation>
            <retailDoc:documentation>References a collection of customer flexible attributes.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="number3">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 3.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar2250">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 250 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="250"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number8">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 8.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar210">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar2240">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 240 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="240"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar22">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 2 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar220">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 20 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar2150">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 150 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="150"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number4">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar21000">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 1000 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar2100">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 100 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar230">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number6">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 6.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar23">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar2120">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="120"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar24">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number10">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:long">
      <xs:totalDigits value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number15">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 15.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:long">
      <xs:totalDigits value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar29">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 9 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar21">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar264">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 64 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="64"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>