Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/WSBANENQ310AML/CONSULTATrama310Response.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.temenos.com/T24/ofs/Response" targetNamespace="http://www.temenos.com/T24/ofs/Response" xmlns:rescns="http://www.temenos.com/T24/ofs/ResponseCommon" xmlns:ns0="http://www.temenos.com/T24/ofs/BANENQ310ARRACTType">
<xsd:import namespace="http://www.temenos.com/T24/ofs/ResponseCommon" schemaLocation="ResponseCommonType.xsd"/>
<xsd:import namespace="http://www.temenos.com/T24/ofs/BANENQ310ARRACTType" schemaLocation="BANENQ310ARRACTType.xsd"/>
<xsd:element name="BANENQ310ARRACTResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element name="ResponseCommon" type="rescns:ResponseCommonType" minOccurs="0"/>
<xsd:element name="BANENQ310ARRACT" type="ns0:BANENQ310ARRACTType" minOccurs="0"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
