BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Contrato/ConsultarContratoBySolicitud/XSD/ConsultarContratoBySolicitud.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarContratoBySolicitud" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarContratoBySolicitud" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarContratoBySolicitudInput" type="ConsultarContratoBySolicitudInput"/>
   <xs:complexType name="ConsultarContratoBySolicitudInput">
      <xs:sequence>
         <xs:element name="P_ID_SOLICITUD" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarContratoBySolicitudOutputCollection" type="ConsultarContratoBySolicitudOutputCollection"/>
   <xs:complexType name="ConsultarContratoBySolicitudOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarContratoBySolicitudOutput" type="ConsultarContratoBySolicitudOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarContratoBySolicitudOutput">
      <xs:sequence>
         <xs:element name="ID_CONTRATO_DESEMBOLSO" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>