AG_2019/OSB/AlmacenesGarcia_DEV/Applications/JDA/JDAItem/Schema/JDAModifyItemSchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Applications/JDA/Items/ModifyItem" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Applications/JDA/Items/ModifyItem" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:item="http://mx.agarcia.ea/Canonical/Commons/Items/v1">
    
  <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
  <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>
  <xs:import schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/ItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Items/v1"/>
  
  
  <xs:element name="modifyItemRequest" type="base:ModifyItemRequestType"/>
  <xs:element name="modifyItemResponse" type="AGsm:MessageResponse"/>
  
  


  <xs:complexType name="ModifyItemRequestType">
    <xs:sequence>
      <xs:element name="item" type="item:Item"/>
    </xs:sequence>
  </xs:complexType>




</xs:schema>