BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Canales/Votacion/ConsultarVotosEmitidos/V1/Schema/ConsultarVotosEmitidosBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ConsultarVotosEmitidosBO"
            targetNamespace="http://www.bcie.org/ConsultarVotosEmitidosBO" elementFormDefault="qualified"
            xmlns:conVoEmBO="http://www.bcie.org/ConsultarVotosEmitidosBO">
  <xsd:complexType name="SolicitudAprobacion">
    <xsd:sequence>
      <xsd:element name="idSolicitudAprobacion" type="xsd:decimal"/>
      <xsd:element name="loginUsuario" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DetalleVotosEmitidos">
    <xsd:sequence>
      <xsd:element name="listaAcumuladoVotos" type="conVoEmBO:ListaAcumuladoVotos" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="listaComentarios" type="conVoEmBO:ListaComentarios" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="listaComentariosVotacion" type="conVoEmBO:ListaComentariosVotacion" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="ListaAcumuladoVotos">
    <xsd:sequence>
      <xsd:element name="CantidadVotos" type="xsd:int"/>
      <xsd:element name="descripcionDecision" type="xsd:string"/>
      <xsd:element name="tipoDecision" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ListaComentarios">
    <xsd:sequence>
      <xsd:element name="idSolicitudAprobacion" type="xsd:long"/>
      <xsd:element name="idOperacion" type="xsd:long"/>
      <xsd:element name="fechaHora" type="xsd:string"/>
      <xsd:element name="idComentario" type="xsd:string"/>
      <xsd:element name="comentario" type="xsd:string"/>
      <xsd:element name="nombreUsuario" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="ListaComentariosVotacion">
    <xsd:sequence>
      <xsd:element name="idTipoDecision" type="xsd:long"/>
      <xsd:element name="descripcion" type="xsd:string"/>
      <xsd:element name="fechaHora" type="xsd:string"/>
      <xsd:element name="comentarioVotacion" type="xsd:string"/>
      <xsd:element name="nombreUsuario" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
