BCIE_fenix/qa/ADF-BPM/bpm/PA09Adquisicion/PA09AdquisicionProcess/SOA/WSDLs/AdquisicionProcess.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AdquisicionProcess" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/AdquisicionProcess" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<wsdl:types>
<xsd:schema>
<xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AdquisicionProcess" schemaLocation="oramds:/apps/Resources/BPM/Schema/PA09/AdquisicionProcess.xsd"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="InicioAdquisicion">
<wsdl:part name="parameters" element="tns:InicioAdquisicion"/>
</wsdl:message>
<wsdl:message name="FinAdquisicion">
<wsdl:part name="parameters" element="tns:FinAdquisicion"/>
</wsdl:message>
<wsdl:message name="InicioReasignarAdquisicion">
<wsdl:part name="parameters" element="tns:InicioReasignarRO"/>
</wsdl:message>
<wsdl:message name="InicioCancelarAdquisicion">
<wsdl:part name="parameters" element="tns:InicioCancelarAdquisicion"/>
</wsdl:message>
<wsdl:portType name="AdquisicionProcessPortType">
<wsdl:operation name="InicioAdquisicion">
<wsdl:input message="tns:InicioAdquisicion"/>
</wsdl:operation>
<wsdl:operation name="FinAdquisicion">
<wsdl:input message="tns:FinAdquisicion"/>
</wsdl:operation>
<wsdl:operation name="InicioReasignarAdquisicion">
<wsdl:input message="tns:InicioReasignarAdquisicion"/>
</wsdl:operation>
<wsdl:operation name="InicioCancelarAdquisicion">
<wsdl:input message="tns:InicioCancelarAdquisicion"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="AdquisicionProcessBinding" type="tns:AdquisicionProcessPortType">
<wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="InicioAdquisicion">
<wsdlsoap:operation style="document" soapAction="InicioAdquisicion"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="FinAdquisicion">
<wsdlsoap:operation style="document" soapAction="FinAdquisicion"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="InicioReasignarAdquisicion">
<wsdlsoap:operation style="document" soapAction="InicioReasignarAdquisicion"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="InicioCancelarAdquisicion">
<wsdlsoap:operation style="document" soapAction="InicioCancelarAdquisicion"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<plnk:partnerLinkType name="AdquisicionProcessPortTypePartnerLinkType">
<plnk:role name="AdquisicionProcessPortTypeProvider">
<plnk:portType name="tns:AdquisicionProcessPortType"/>
</plnk:role>
</plnk:partnerLinkType>
</wsdl:definitions>
