BCIE_fenix/qa/ADF-BPM/commons/AppCommonFenix/FenixModel/src/org/bcie/fenix/common/model/vo/common/LineaCreditoActivaVOSDO.xsd

<xsd:schema xmlns:sdoJava="commonj.sdo/java" xmlns:ns0="http://xmlns.oracle.com/adf/svc/types/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     targetNamespace="/org/bcie/fenix/common/model/vo/common/" xmlns="/org/bcie/fenix/common/model/vo/common/"
     elementFormDefault="qualified" sdoJava:package="org.bcie.fenix.common.model.vo.common">
    <xsd:annotation>
        <xsd:documentation><name>
                Linea Credito Activa Vo
            </name></xsd:documentation>
    </xsd:annotation>
    <xsd:import schemaLocation="classpath:/META-INF/wsdl/BC4JService.xsd" namespace="http://xmlns.oracle.com/adf/svc/types/"/>
    <xsd:import schemaLocation="classpath:/xml/sdoJava.xsd" namespace="commonj.sdo/java"/>
    <xsd:complexType name="LineaCreditoActivaVOSDO">
        <xsd:annotation>
            <xsd:appinfo source="http://xmlns.oracle.com/adf/svc/metadata/">
                <key xmlns="http://xmlns.oracle.com/adf/svc/metadata/">
                    <attribute>Id</attribute>
                </key>
            </xsd:appinfo>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="Id" type="xsd:long" minOccurs="0" nillable="true"/>
            <xsd:element name="IdContrato" type="xsd:long" minOccurs="0" nillable="true"/>
            <xsd:element name="NumeroLineaCredito" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="DescripcionLinea" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="IdFlexcube" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="Fondo" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="MontoLinea" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="EsRevolvente" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="TratamientoDiasFeriados" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="IdProductoFlexcube" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="FechaValor" type="ns0:dateTime-Timestamp" minOccurs="0" nillable="true"/>
            <xsd:element name="FechaVencimiento" type="ns0:dateTime-Timestamp" minOccurs="0" nillable="true"/>
            <xsd:element name="CodigoPlantillaLimite" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="CodigoSerialLimite" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="CodigoAsignacion" type="xsd:long" minOccurs="0" nillable="true"/>
            <xsd:element name="DescripcionAsignacion" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="IdFlexcubePasivo" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="CondicionEspecial" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="DescripcionCondEspecial" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="FechaRegistro" type="ns0:dateTime-Timestamp" minOccurs="0" nillable="true"/>
            <xsd:element name="BanEstatus" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="MontoAmpliacionLinea" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="DiasSpotTasa" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="IdTcaTipoRedondeo" type="xsd:long" minOccurs="0" nillable="true"/>
            <xsd:element name="CantidadDecimales" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="IdTcaTipoMora" type="xsd:long" minOccurs="0" nillable="true"/>
            <xsd:element name="CodigoTasaReferencia" type="xsd:string" minOccurs="0" nillable="true"/>
            <xsd:element name="ValorTasa" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="SpreadTasa" type="xsd:decimal" minOccurs="0" nillable="true"/>
            <xsd:element name="Frecuencia" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="IdTcaTipoFrecuencia" type="xsd:int" minOccurs="0" nillable="true"/>
            <xsd:element name="SePuedeMoverEntreMeses" type="xsd:int" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="lineaCreditoActivaVOSDO" type="LineaCreditoActivaVOSDO"/>
</xsd:schema>
