AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/EBO/Receipt/ReceiptEBM.xsd

<!-- ====================================================================== --><!-- =====      Receipt EBO EBM                                  ===== --><!-- ====================================================================== --><xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Receipt" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Receipt" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <!-- ====================================================================== -->
  <!-- =====      Imports                                               ===== -->
  <!-- ====================================================================== -->
  <xsd:include schemaLocation="ReceiptEBO.xsd"/>
  <!-- ====================================================================== -->
  <!-- =====Las operaciones del EBO deben ser siempre 3     ================= -->
  <!-- =====En este EBO estan como Create :: ================== -->
  <!-- =====CreateReceiptEBM, CreateReceiptResponseEBM y  ReceiptResponseAcknowledgeEBM == -->
  <!-- ====================================================================== -->
  <!-- ====================================================================== -->
  <!-- ==================CreateReceipt Service=================== -->
  <!-- ====================================================================== -->
  <xsd:element name="CreateReceiptEBM" type="CreateReceiptEBMType"/>
  <xsd:element name="CreateReceiptResponseEBM" type="CreateReceiptResponseEBMType"/>
  <xsd:element name="ProcessReceiptEBM" type="ProcessReceiptEBMType"/>
  <xsd:element name="ProcessReceiptResponseEBM" type="ProcessReceiptResponseEBMType"/>
  <xsd:element name="QueryIDAllocationReceiptEBM" type="QueryIDAllocationReceiptEBMType"/>
  <xsd:element name="QueryIDAllocationReceiptResponseEBM" type="QueryIDAllocationReceiptResponseEBMType"/>
  <xsd:element name="QueryAllocationDetailReceiptEBM" type="QueryAllocationDetailReceiptEBMType"/>
  <xsd:element name="QueryAllocationDetailReceiptResponseEBM" type="QueryAllocationDetailResponseEBMType"/>
  <xsd:element name="ReceiptResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>
  <!-- ====================================================================== -->
  <!-- ========================= CreateReceipt Service======================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="CreateReceiptEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateReceipt" type="ReceiptEBOType"/>
            <xsd:element name="ReceiptRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ============= Create Receipt Response Service ============= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="CreateReceiptResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="CreateReceiptReference" type="com:IdentificationType"/>
      <xsd:element name="ReceiptRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ======================= Process Receipt Service======================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="ProcessReceiptEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProcessReceipt" type="ReceiptEBOType"/>
            <xsd:element name="ReceiptRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ============= Process Receipt Response Service ============= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="ProcessReceiptResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="ProcessReceiptReference" type="com:IdentificationType"/>
      <xsd:element name="ReceiptRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ================ Query ID AllocationReceipt Service ================== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="QueryIDAllocationReceiptEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="QueryIDAllocationReceipt" type="ReceiptEBOType"/>
            <xsd:element name="ReceiptRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ============ Query ID AllocationReceipt Response Service ============= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="QueryIDAllocationReceiptResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="CreateReceiptReference" type="com:IdentificationType"/>
      <xsd:element name="ReceiptRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ============== Query Allocation DetailReceiptEBM Service ============= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="QueryAllocationDetailReceiptEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="QueryAllocationDetailReceipt" type="ReceiptEBOType"/>
            <xsd:element name="ReceiptRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- ========= Query Allocation DetailReceipt Response Service ============= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="QueryAllocationDetailResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="CreateReceiptReference" type="com:IdentificationType"/>
      <xsd:element name="ReceiptRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <xsd:complexType name="ResponseAcknowledgeEBMType">
    <xsd:sequence>
      <xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>