BCIE_fenix/features/MCP/7705/ADF-BPM/bpm/PC06Evaluacion/PC06EvaluacionProcessUITest/SOA/Schemas/Comun/EquipoTrabajo/V1/EquipoTrabajoOPN.xsd

<?xml version='1.0' encoding='windows-1252'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:eqTr="http://www.bcie.org/EqipoTrabajo/V1" targetNamespace="http://www.bcie.org/EqipoTrabajo/V1" elementFormDefault="qualified">
<xsd:complexType name="RolEquipoTrabajo">
<xsd:annotation>
<xsd:documentation>Equipo de trabajo que participó en un proceso</xsd:documentation>
</xsd:annotation>
<xsd:sequence>
<xsd:element name="DescripcionRol" type="xsd:string"/>
<xsd:element name="IdRol" type="xsd:decimal"/>
<xsd:element name="DescripcionCortaRol" type="xsd:string"/>
<xsd:element name="idProceso" type="xsd:decimal"/>
<xsd:element name="usuario" type="xsd:string"/>
</xsd:sequence>
</xsd:complexType>
<xsd:complexType name="ListadoEquipoTrbajo">
<xsd:sequence>
<xsd:element name="equipoTrabajo" type="eqTr:RolEquipoTrabajo" maxOccurs="unbounded"/>
</xsd:sequence>
</xsd:complexType>
</xsd:schema>
