AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ResponseProtosAdapterService/MetaData/Components/Custom/Schemas/RMS_XSD/AllocDesc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/AllocDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/AllocDesc/v1" version="1.1">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which 
			contains name space definitions for the document 
			elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:element name="AllocDtlTckt">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not 
				available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="comp_item" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains an alphanumeric value that identifies the item within the pack.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="comp_price" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field holds the unit retail in the selling unit of measure for the item/zone combination. This field is stored in the local currency.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="comp_selling_uom" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field holds the selling unit of measure for an item's single-unit retail.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllocDtl">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not 
				available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="physical_to_loc" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains the physical location to which the allocation is being sent. The loc_type field determinds if the location is a store or a warehouse.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="to_loc" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains the location to which the allocation is being sent. The loc_type field determinds if the location is a store or a warehouse.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="loc_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains the type of location in the to_loc field. Valid values are 'S'tore and 'W'arehouse.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="store_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the store type of the to_loc store. Only populated if loc_type is 'S'. Valid values are: 'C' = company store, 'F' = franchise store.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="stockholding_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if the to_loc store is stockholding or not. Only populated if loc_type is 'S'. Valid values are: 'Y' = yes, 'N' = no.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="qty_allocated" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the total number of items allocated.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="price" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field holds the unit retail in the selling unit of measure for the item/zone combination. This field is stored in the local currency.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="selling_uom" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field holds the selling unit of measure for an item's single-unit retail.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="priority" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>A value which indicates the priority of an allocation. This value will always be 1.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="store_ord_mult" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column contains the multiple in which the item needs to be shipped from a warehouse to the 
location.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="in_store_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the date to be included in the RMS publication to the RIB for communication to the warehouse.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="rush_flag" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the rush flag indicator to be included in the RMS publication to the RIB for communication to the warehouse.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="AllocDtlTckt">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not 
							available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AllocDesc">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not 
				available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="alloc_no" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the number that uniquely identifies the allocation within the system.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="doc_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Specifies the type of document. This value will always be 'A' to signify an allocation.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="physical_wh" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The physical warehouse location from which the allocation will originate.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="wh" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the number of the warehouse loaction where the allocation will originate.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="item" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Unique alphanumeric value that identifies the item.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="pick_not_before_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the date on which the allocation should be released from the warehouse for delivery to the store locations.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="pick_not_after_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This value is calculated by adding code_detail.code desc for code 'DATE' and code_type 'DEFT' to alloc_header.release_date. If the allocation is closed, pick_not_after_date will be a day before pick_not_before_date.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="order_type" type="varchar29">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field identifies the order associated with the PO. Allocations created before PO approval will be marked as 'PREDIST' 
							ordertypes. Allocations created after PO approval 
							will be marked as 'PO' order 
							types.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="order_no" type="varchar212">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the order number to which the allocation applies.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="order_doc_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not 
							available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="event" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains the event to which the promotion belongs to. This is an optional field that provides a method to group promotions together for tracking and reporting purposes.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="event_description" type="varchar21000">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains the description of the promotional event.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="priority" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>A value which indicates the priority of an allocation. This value will always be 1.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ticket_type_id" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains a character string which uniquely identifies the ticket type which is associated with the item.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="AllocDtl">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not 
							available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="context_type" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field holds the functional area code to which the transfer relates to for example Promotions. Valid value is: PROM - Promotion</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="context_value" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the value relating to the context type.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
		<xs:element minOccurs="0" name="alloc_status" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the value relating to the allocation status.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="number12_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits 
				count 12 and fraction digit count of 
				4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar24">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 4 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits 
				count 20 and fraction digit count of 
				4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits 
				count 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21000">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 1000 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits 
				count 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar29">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 9 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length 
				of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar212">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 12 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>