AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ResponseProtosAdapterService/MetaData/Components/Custom/Schemas/RMS_XSD/RcvUnitAdjDesc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.oracle.com/retail/integration/base/bo/RcvUnitAdjDesc/v1"
           xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://www.oracle.com/retail/integration/base/bo/RcvUnitAdjDesc/v1" version="1.0">
  <retailDoc:annotation>
    <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
  </retailDoc:annotation>
  <xs:element name="RcvUnitAdjUin">
    <retailDoc:annotation>
      <retailDoc:documentation>Contains UIN information.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="uin" type="varchar2128">
          <retailDoc:annotation>
            <retailDoc:documentation>Universal Identification Number.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="status" type="number4">
          <retailDoc:annotation>
            <retailDoc:documentation>Status associated with the UIN.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RcvUnitAdjDtl">
    <retailDoc:annotation>
      <retailDoc:documentation>Description is not available.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="po_nbr" type="varchar212">
          <retailDoc:annotation>
            <retailDoc:documentation>The order number against which a receiver unit adjustment was performed.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="asn_nbr" type="varchar230">
          <retailDoc:annotation>
            <retailDoc:documentation>The ASn number associated with the shipment for which a receiver unit adjustment was performed.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="item" type="varchar225">
          <retailDoc:annotation>
            <retailDoc:documentation>The item number that the receiver unit adjustment was performed against.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="container_id" type="varchar220">
          <retailDoc:annotation>
            <retailDoc:documentation>The supplier carton that contained the item against which the receiver unit adjustment was performed.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="unit_qty" type="number12_4">
          <retailDoc:annotation>
            <retailDoc:documentation>The quantity of the receiver unit adjustment.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="from_disposition" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>This value, along with the to_disposition value, is used to determine if the inventory is available or unavailable.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="to_disposition" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>This value is used to determine if the inventory is available or unavailable, based on the code's INV_STATUS value on the INV_STATUS_CODES table.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="RcvUnitAdjUin">
          <retailDoc:annotation>
            <retailDoc:documentation>Collection of UIN(s) associated to the item.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RcvUnitAdjDesc">
    <retailDoc:annotation>
      <retailDoc:documentation>Description is not available.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="loc" type="number10">
          <retailDoc:annotation>
            <retailDoc:documentation>The location where a receiver unit adjustment was performed.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="loc_type" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>The type of location where the receiver unit adjustment was performed. Valid values are 'W' warehouse or 'S' store.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" ref="RcvUnitAdjDtl">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="varchar210">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar21">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar220">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 20 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number12_4">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="12"/>
      <xs:fractionDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar230">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number10">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:long">
      <xs:totalDigits value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar24">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar225">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar212">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 12 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar2128">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 128 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number4">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>