AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ResponseProtosAdapterService/MetaData/Components/Custom/Schemas/RMS_XSD/ReceiptDesc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="http://www.oracle.com/retail/integration/base/bo/ReceiptDesc/v1"
           xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"
           targetNamespace="http://www.oracle.com/retail/integration/base/bo/ReceiptDesc/v1" version="1.2">
  <retailDoc:annotation>
    <retailDoc:documentation>This is root element of this document which
            contains name space definitions for the document elements.
        </retailDoc:documentation>
  </retailDoc:annotation>
  <xs:element name="ReceiptOverageUin">
    <retailDoc:annotation>
      <retailDoc:documentation>Contains UIN information.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="uin" type="varchar2128">
          <retailDoc:annotation>
            <retailDoc:documentation>Universal Identification Number.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="status" type="number4">
          <retailDoc:annotation>
            <retailDoc:documentation>Status associated with the UIN.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiptOverageDtl">
    <retailDoc:annotation>
      <retailDoc:documentation>Description is not available.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="item_id" type="varchar225">
          <retailDoc:annotation>
            <retailDoc:documentation>Unique identifier for the item.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="qty_received" type="number12_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the quantity of the item received at the location as overage, damaged etc.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="reason_code" type="number4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the rejection reason code or overage reason code.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ReceiptOverageUin">
          <retailDoc:annotation>
            <retailDoc:documentation>Collection of UIN(s) associated to the item.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiptOverage">
    <retailDoc:annotation>
      <retailDoc:documentation>Contains the Receipt Overage Information</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="po_nbr" type="varchar212">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains purchase order number.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="document_type" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the document type information.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="asn_nbr" type="varchar230">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains Advanced Shipment Notice number.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="ReceiptOverageDtl">
          <retailDoc:annotation>
            <retailDoc:documentation>
                            Contains Overage Receipt Detail Information
                        </retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiptCartonDtl">
    <retailDoc:annotation>
      <retailDoc:documentation>Description is not available.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="carton_status_ind" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Denotes the status of the carton received. It can be Actual (A), Dummy (D), or Overage (O). This field is used only for stock order receiving.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="container_id" type="varchar220">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the carton ID for the shipment.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ref_container_id" type="varchar220">
          <retailDoc:annotation>
            <retailDoc:documentation>Identifies the original carton number when a carton from the source location is received at the wrong destination.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="dest_id" type="varchar210">
          <retailDoc:annotation>
            <retailDoc:documentation>Identifies the location to which the stock order is received.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="receipt_xactn_type" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Specifies whether the carton receipt is for a 'R'eceipt, 'T'ranshipment, or 'A'djustment.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="receipt_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>This field contains the date on which the carton is received.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="receipt_nbr" type="varchar217">
          <retailDoc:annotation>
            <retailDoc:documentation>This field holds the externally generated number when the shipment is received at the location.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="user_id" type="varchar230">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="to_disposition" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>This value is used to determine if the inventory is available or unavailable, based on the code's INV_STATUS value on the INV_STATUS_CODES table.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="weight" type="number12_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the actual weight of the item received for the carton.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="weight_uom" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the unit of measure of the received weight (e.g. pounds, kilograms).</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiptDtlUin">
    <retailDoc:annotation>
      <retailDoc:documentation>Contains UIN information.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="uin" type="varchar2128">
          <retailDoc:annotation>
            <retailDoc:documentation>Universal Identification Number.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="status" type="number4">
          <retailDoc:annotation>
            <retailDoc:documentation>Status associated with the UIN.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiptDtl">
    <retailDoc:annotation>
      <retailDoc:documentation>Description is not available.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item_id" type="varchar225">
          <retailDoc:annotation>
            <retailDoc:documentation>Specifies the item on the allocation, purchase order, or transfer that has been received.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="unit_qty" type="number12_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the quantity received for the allocation, purchase order, or transfer. The shipment record is
also updated with the quantity received (SHIPSKU.QTY_RECEIVED).</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="receipt_xactn_type" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Specifies whether the receipt detail line item is for a 'R'eceipt, 'T'ransshipment, or 'A'djustment. For
purchase order receiving, Transshipments are not allowed. For stock order (ie. Allocation and Transfer) receiving, Transshipments are handled the same way as 'R'eceipt type.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="receipt_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>Identifies the date on which the transaction was written.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="receipt_nbr" type="varchar217">
          <retailDoc:annotation>
            <retailDoc:documentation>An externally generated numerical identifier corresponding to the successful reception of the item
at the location.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="dest_id" type="varchar210">
          <retailDoc:annotation>
            <retailDoc:documentation>Only used for doc_type of 'P', when the purchase order has an allocation attached to it. This element
specifies the location to which the allocation is being sent.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="container_id" type="varchar220">
          <retailDoc:annotation>
            <retailDoc:documentation>Identifies the carton number for shipments originating from the Advance Shipment Notification
process as carton shipments.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ref_container_id" type="varchar220">
          <retailDoc:annotation>
            <retailDoc:documentation>Identifies the original carton number when a carton from the source location is received at the wrong destination.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="distro_nbr" type="varchar212">
          <retailDoc:annotation>
            <retailDoc:documentation>Only used for doc_type of 'P', when the purchase order has an allocation attached to it. This element
specifies the allocation id.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="distro_doc_type" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Only used for doc_type of 'P', when the purchase order has an allocation attached to it. When populated, this value should always be 'A' to specify an allocation.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="to_disposition" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>This value is used to determine if the inventory is available or unavailable, based on the code's
INV_STATUS value on the INV_STATUS_CODES table.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="from_disposition" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>This value is used to determine inventory availability. It is not used by SIM.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="to_wip" type="varchar29">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="from_wip" type="varchar29">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="to_trouble" type="varchar29">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="from_trouble" type="varchar29">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="user_id" type="varchar230">
          <retailDoc:annotation>
            <retailDoc:documentation>Identifies the point of origin for this inventory control document. An originator may be a program (for
automatically generated documents) or a person.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="dummy_carton_ind" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Indicates if this carton is a dummy carton. This field is only used for transfer receipts.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="tampered_carton_ind" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Indicates if the carton was tampered. This field is only used for transfer receipts.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="unit_cost" type="number20_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Only used for doc_type of 'P'. Specifies the unit_cost for the item on the order. Cost is converted to the
order's currency before insert/update.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="shipped_qty" type="number12_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Only used for doc_type of 'P'. Updates the number of items expected to be received, originally set by
the ASN process.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="weight" type="number12_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the actual weight of the item received for the shipment.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="weight_uom" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the unit of measure of the received weight (e.g. pounds, kilograms).</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="gross_cost" type="number20_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the Unit cost and Expenses incurred on an item in a particular transaction.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="ReceiptDtlUin">
          <retailDoc:annotation>
            <retailDoc:documentation>Collection of UIN(s) associated to the item.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Receipt">
    <retailDoc:annotation>
      <retailDoc:documentation>Description is not available.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="dc_dest_id" type="varchar210">
          <retailDoc:annotation>
            <retailDoc:documentation>This element corresponds to different RMS tables, depending on the document_type. 'A' -ALLOC_DETAIL.TO_LOC, 'P' - ORDLOC.LOCATION, 'T' - TSFHEAD.TO_LOC</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="po_nbr" type="varchar212">
          <retailDoc:annotation>
            <retailDoc:documentation>Specified the unique identifier of the purchase order, allocation or transfer.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="cust_order_nbr" type="varchar248">
          <retailDoc:annotation>
            <retailDoc:documentation>This field holds the master customer order number from OMS.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="fulfill_order_nbr" type="varchar248">
          <retailDoc:annotation>
            <retailDoc:documentation>This field holds the number from OMS related to the fulfillment details. One or more fulfillment orders could relate back to a single customer order in OMS.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="document_type" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Specified whether the receipt is for an allocation 'A', purchase order 'P', or transfer 'T'. Types 'D' and 'V' are also valid document types that are treated the same as transfers.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ref_doc_no" type="number10">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains a reference number for a document associated to the shipment (e.g. Fiscal Document ID for Brazilian based transactions).</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="asn_nbr" type="varchar230">
          <retailDoc:annotation>
            <retailDoc:documentation>Used to relate the receipt message to the previous ASN message. this field is required for doc types 'A' and 'T', not required for doc_type 'P'.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="ReceiptDtl">
          <retailDoc:annotation>
            <retailDoc:documentation>
                            <retailDoc:documentation>Description is not available.
                            </retailDoc:documentation>
                        </retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="ReceiptCartonDtl">
          <retailDoc:annotation>
            <retailDoc:documentation>
                            <retailDoc:documentation>Description is not available.
                            </retailDoc:documentation>
                        </retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="receipt_type" type="varchar22">
          <retailDoc:annotation>
            <retailDoc:documentation>This fied is required when receiving a transfer or allocation to determine if the receipt is at the 'BL' (BOL) level or 'SK' (SKU) level. It is not used for a PO receipt.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="from_loc" type="varchar210">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the source location of the shipment.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="from_loc_type" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the from location type.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReceiptDesc">
    <retailDoc:annotation>
      <retailDoc:documentation>Description is not available.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="schedule_nbr" type="number8">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the Schedule Identifier Number.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="appt_nbr" type="number9">
          <retailDoc:annotation>
            <retailDoc:documentation>Unique identifier for receiving a group of items. This is usually an RDM-generated unique numerical
identifier for an Appointment.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" ref="Receipt">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.
                        </retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="ReceiptOverage">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the Receipt Overage Information
                        </retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="number12_4">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count
                12 and fraction digit count of 4.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="12"/>
      <xs:fractionDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar225">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of
                25 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar230">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of
                30 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar210">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of
                10 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number9">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count
                9.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number4">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count
                4.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number8">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count
                8.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number10">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count
                10.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:long">
      <xs:totalDigits value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar26">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of
                6 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar29">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of
                9 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar22">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of
                2 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar24">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of
                4 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar220">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of
                20 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number20_4">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count
                20 and fraction digit count of 4.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="20"/>
      <xs:fractionDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar21">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of
                1 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar217">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of
                17 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="17"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar212">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of
                12 characters.
            </retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar248">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 48 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="48"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar2128">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 128 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="128"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>