AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ResponseProtosAdapterService/MetaData/Components/Custom/Schemas/RMS_XSD/XTsfDesc.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/XTsfDesc/v1" version="1.1" xmlns="http://www.oracle.com/retail/integration/base/bo/XTsfDesc/v1" xmlns:CustFlexAttriVo="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
<xs:import namespace="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" schemaLocation="CustFlexAttriVo.xsd">
         <retailDoc:annotation>
              <retailDoc:documentation>It's a referenced element. For detailed
                    description, please refer referenced element doc.
              </retailDoc:documentation>
         </retailDoc:annotation>
    </xs:import>
     <xs:element name="XTsfDesc">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="tsf_no" type="number12">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Number that uniquely identifies the transfer.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="from_loc_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The location type of the from location.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="from_loc" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The location number of the from location.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="to_loc_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The location type of the to location.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="to_loc" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The location number of the to location.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="delivery_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The earliest date the transfer can be delivered.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="dept" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The department number associated with the transfer.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="routing_code" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>If the freight status is expedite, this is a code indicating more detailed freight info.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="freight_code" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>A code indicating the freight status of the transfer (e.g. normal, expedite, etc.).</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="tsf_type" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>A code indicating the type of transfer (e.g. store requisition, book transfer, etc.).</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="XTsfDtl">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Child node - see layout below.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="status" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>A code indicating the status of the transfer (e.g. approved, closed, etc.).</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="user_id" type="varchar230">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The userid of the user who created the transfer.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="comment_desc" type="varchar22000">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Comments associated with the transfer.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="context_type" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field holds the functional area code to which the transfer relates to. Valid values are PROM and REPAIR.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="context_value" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field holds the value relating to the context type like Promotion number.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="CustFlexAttriVo:CustFlexAttriVo">
                    <retailDoc:annotation>
                          <retailDoc:documentation>References a collection of customer flexible attributes.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="XTsfDtl">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" type="varchar225">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The unique identifier of the item being transferred.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="tsf_qty" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The total quantity of the item reserved for this transfer at the from location.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="supp_pack_size" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The supplier pack size for this item/transfer.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="inv_status" type="number2">
                    <retailDoc:annotation>
                        <retailDoc:documentation>A code indicating the inventory status for this transfer detail; valid values are found on the inv_status_types table.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="unit_cost" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not mapped to a database field.  Sometimes used to calculate retail price.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
        <xs:element minOccurs="0" name="adjustment_type" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not mapped to a database field.  Sometimes used to calculate retail price.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
        <xs:element minOccurs="0" name="adjustment_value" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Not mapped to a database field.  Sometimes used to calculate retail price.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>
   
    <xs:simpleType name="number12_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar230">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number2">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 2.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar22000">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 2000 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number12">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="12"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>