Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/TCIBCardAppSvc/TCIBCardAppSvc_V1.0.wsdl

<wsdl:definitions name="TCIBCardAppSvc_V1.0"
                  targetNamespace="http://xmlns.banesco.com/AppSvc/TCIBCardAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/TCIBCardAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
				  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:appoptCardValidInq="http://xmlns.banesco.com/appopt/TCIBCardAppSvc/CardValidInq_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
				  schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/TCIBCardAppSvc/CardValidInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/TCIBCard/CardValidInq/CardValidInq_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="CardValidInqRq">
    <wsdl:part name="CardValidInqRq" element="appoptCardValidInq:CardValidInqRq"/>
  </wsdl:message>
  <wsdl:message name="CardValidInqRs">
    <wsdl:part name="CardValidInqRs" element="appoptCardValidInq:CardValidInqRs"/>
  </wsdl:message>
  
  <wsdl:portType name="TCIBCardAppSvc_V1.0">
    <wsdl:operation name="CardValidInq">
      <wsdl:input message="tns:CardValidInqRq"/>
      <wsdl:output message="tns:CardValidInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="TCIBCardAppSvc_V1.0SOAP" type="tns:TCIBCardAppSvc_V1.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CardValidInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/TCIBCardAppSvc_V1.0/CardValidInq"/>
      <wsdl:input>
		<soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="CardValidInqRq"/>
      </wsdl:input>
      <wsdl:output>
		<soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="CardValidInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="TCIBCardAppSvc_V1.0">
    <wsdl:port name="TCIBCardAppSvc_V1.0SOAP" binding="tns:TCIBCardAppSvc_V1.0SOAP">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>