Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/TechLayer/CardCr/CardCrTechSvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/TechLayer/CardCrTechSvc_V1.0"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.banesco.com/TechLayer/CardCrTechSvc_V1.0"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptCardCrCashAdd="http://xmlns.banesco.com/eopt/CardCrCashAdd_V1.0"
             xmlns:eoptCardCrTrnInq="http://xmlns.banesco.com/eopt/CardCrTrnInq_V1.0"
             xmlns:eoptCardCrTrnTransitInq="http://xmlns.banesco.com/eopt/CardCrTrnInq_V1.0"
             xmlns:eoptCardCrFinancingAdd="http://xmlns.banesco.com/eopt/CardCrFinancingAdd_V1.0"
             xmlns:eoptCardCrFinancingInq="http://xmlns.banesco.com/eopt/CardCrFinancingInq_V1.0"
             xmlns:eoptCardCrPledgeAdd="http://xmlns.banesco.com/eopt/CardCrPledgeAdd_V1.0"
             xmlns:eoptCardCrPledgeMod="http://xmlns.banesco.com/eopt/CardCrPledgeMod_V1.0"
             xmlns:eoptCardCrTransferAdd="http://xmlns.banesco.com/eopt/CardCrTransferAdd_V1.0"
             xmlns:eoptCardCrInq="http://xmlns.banesco.com/eopt/CardCrInq_V1.0"
             xmlns:eoptCardCrInfoInq="http://xmlns.banesco.com/eopt/CardCrInfoInq_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Card/CardCrCashAdd/CardCrCashAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardCrCashAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardCr/CardCrTrnInq/CardCrTrnInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardCrTrnInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardCr/CardCrTrnTransitInq/CardCrTrnTransitInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardCrTrnInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardCr/CardCrFinancingAdd/CardCrFinancingAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardCrFinancingAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardCr/CardCrFinancingInq/CardCrFinancingInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardCrFinancingInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardCr/CardCrPledgeAdd/CardCrPledgeAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardCrPledgeAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardCr/CardCrPledgeMod/CardCrPledgeMod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardCrPledgeMod_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardCr/CardCrTransferAdd/CardCrTransferAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardCrTransferAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardCr/CardCrInq/CardCrInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardCrInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/CardCr/CardCrInfoInq/CardCrInfoInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/CardCrInfoInq_V1.0"/>
    </xsd:schema>
  </types>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="CardCrCashAddRq">
    <part name="CardCrCashAddRq" element="eoptCardCrCashAdd:CardCrCashAddRq"/>
  </message>
  <message name="CardCrCashAddRs">
    <part name="CardCrCashAddRs" element="eoptCardCrCashAdd:CardCrCashAddRs"/>
  </message>
  <message name="CardCrTrnInqRq">
    <part name="CardCrTrnInqRq" element="eoptCardCrTrnInq:CardCrTrnInqRq"/>
  </message>
  <message name="CardCrTrnInqRs">
    <part name="CardCrTrnInqRs" element="eoptCardCrTrnInq:CardCrTrnInqRs"/>
  </message>
  <message name="CardCrTrnTransitInqRq">
    <part name="CardCrTrnTransitInqRq" element="eoptCardCrTrnTransitInq:CardCrTrnTransitInqRq"/>
  </message>
  <message name="CardCrTrnTransitInqRs">
    <part name="CardCrTrnTransitInqRs" element="eoptCardCrTrnTransitInq:CardCrTrnTransitInqRs"/>
  </message>
  <message name="CardCrFinancingAddRq">
    <part name="CardCrFinancingAddRq" element="eoptCardCrFinancingAdd:CardCrFinancingAddRq"/>
  </message>
  <message name="CardCrFinancingAddRs">
    <part name="CardCrFinancingAddRs" element="eoptCardCrFinancingAdd:CardCrFinancingAddRs"/>
  </message>
  <message name="CardCrFinancingInqRq">
    <part name="CardCrFinancingInqRq" element="eoptCardCrFinancingInq:CardCrFinancingInqRq"/>
  </message>
  <message name="CardCrFinancingInqRs">
    <part name="CardCrFinancingInqRs" element="eoptCardCrFinancingInq:CardCrFinancingInqRs"/>
  </message>
  <message name="CardCrPledgeAddRq">
    <part name="CardCrPledgeAddRq" element="eoptCardCrPledgeAdd:CardCrPledgeAddRq"/>
  </message>
  <message name="CardCrPledgeAddRs">
    <part name="CardCrPledgeAddRs" element="eoptCardCrPledgeAdd:CardCrPledgeAddRs"/>
  </message>
  <message name="CardCrPledgeModRq">
    <part name="CardCrPledgeModRq" element="eoptCardCrPledgeMod:CardCrPledgeModRq"/>
  </message>
  <message name="CardCrPledgeModRs">
    <part name="CardCrPledgeModRs" element="eoptCardCrPledgeMod:CardCrPledgeModRs"/>
  </message>
  <message name="CardCrTransferAddRq">
    <part name="CardCrTransferAddRq" element="eoptCardCrTransferAdd:CardCrTransferAddRq"/>
  </message>
  <message name="CardCrTransferAddRs">
    <part name="CardCrTransferAddRs" element="eoptCardCrTransferAdd:CardCrTransferAddRs"/>
  </message>
  <message name="CardCrInqRq">
    <part name="CardCrInqRq" element="eoptCardCrInq:CardCrInqRq"/>
  </message>
  <message name="CardCrInqRs">
    <part name="CardCrInqRs" element="eoptCardCrInq:CardCrInqRs"/>
  </message>
  <message name="CardCrInfoInqRq">
    <part name="CardCrInfoInqRq" element="eoptCardCrInfoInq:CardCrInfoInqRq"/>
  </message>
  <message name="CardCrInfoInqRs">
    <part name="CardCrInfoInqRs" element="eoptCardCrInfoInq:CardCrInfoInqRs"/>
  </message>
  <portType name="CardCrTechSvc_V1.0PortType">
    <operation name="CardCrCashAdd">
      <input message="tns:CardCrCashAddRq"/>
      <output message="tns:CardCrCashAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="CardCrTrnInq">
      <input message="tns:CardCrTrnInqRq"/>
      <output message="tns:CardCrTrnInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="CardCrTrnTransitInq">
      <input message="tns:CardCrTrnTransitInqRq"/>
      <output message="tns:CardCrTrnTransitInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="CardCrFinancingAdd">
      <input message="tns:CardCrFinancingAddRq"/>
      <output message="tns:CardCrFinancingAddRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="CardCrFinancingInq">
      <input message="tns:CardCrFinancingInqRq"/>
      <output message="tns:CardCrFinancingInqRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="CardCrPledgeAdd">
      <input message="tns:CardCrPledgeAddRq"/>
      <output message="tns:CardCrPledgeAddRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="CardCrPledgeMod">
      <input message="tns:CardCrPledgeModRq"/>
      <output message="tns:CardCrPledgeModRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="CardCrTransferAdd">
      <input message="tns:CardCrTransferAddRq"/>
      <output message="tns:CardCrTransferAddRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
        <operation name="CardCrInq">
      <input message="tns:CardCrInqRq"/>
      <output message="tns:CardCrInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="CardCrInfoInq">
      <input message="tns:CardCrInfoInqRq"/>
      <output message="tns:CardCrInfoInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
  </portType>
  <service name="CardCrTechSvc_V1.0">
    <port name="CardCrTechSvcPort" binding="tns:CardCrTechSvc_V1.0SOAPBinding">
      <soap:address location="http://www.example.com"/>
    </port>
  </service>
  <binding name="CardCrTechSvc_V1.0SOAPBinding" type="tns:CardCrTechSvc_V1.0PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="CardCrCashAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/CardCrTechSvc_V1.0/CardCrCashAdd"/>
      <input>
        <soap:body use="literal" parts="CardCrCashAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardCrCashAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardCrTrnInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/CardCrTechSvc_V1.0/CardCrTrnInq"/>
      <input>
        <soap:body use="literal" parts="CardCrTrnInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardCrTrnInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardCrTrnTransitInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/CardCrTechSvc_V1.0/CardCrTrnTransitInq"/>
      <input>
        <soap:body use="literal" parts="CardCrTrnTransitInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardCrTrnTransitInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardCrFinancingAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/CardCrTechSvc_V1.0/CardCrFinancingAdd"/>
      <input>
        <soap:body use="literal" parts="CardCrFinancingAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardCrFinancingAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardCrFinancingInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/CardCrTechSvc_V1.0/CardCrFinancingInq"/>
      <input>
        <soap:body use="literal" parts="CardCrFinancingInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardCrFinancingInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardCrPledgeAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/CardCrTechSvc_V1.0/CardCrPledgeAdd"/>
      <input>
        <soap:body use="literal" parts="CardCrPledgeAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardCrPledgeAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardCrPledgeMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/CardCrTechSvc_V1.0/CardCrPledgeMod"/>
      <input>
        <soap:body use="literal" parts="CardCrPledgeModRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardCrPledgeModRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardCrTransferAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/CardCrTechSvc_V1.0/CardCrTransferAdd"/>
      <input>
        <soap:body use="literal" parts="CardCrTransferAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardCrTransferAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardCrInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/CardCrTechSvc_V1.0/CardCrInq"/>
      <input>
        <soap:body use="literal" parts="CardCrInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardCrInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="CardCrInfoInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/CardCrTechSvc_V1.0/CardCrInfoInq"/>
      <input>
        <soap:body use="literal" parts="CardCrInfoInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="CardCrInfoInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
</definitions>