Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/MdDealBcmCartasPromesasWs/CreacionCartaspromesasRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.temenos.com/T24/ofs/Request" targetNamespace="http://www.temenos.com/T24/ofs/Request" xmlns:reqcns="http://www.temenos.com/T24/ofs/RequestCommon" xmlns:ns0="http://www.temenos.com/T24/ofs/MDDEALBCMCARTASPROMESASWSType">
<xsd:import namespace="http://www.temenos.com/T24/ofs/RequestCommon" schemaLocation="RequestCommonType.xsd"/>
<xsd:import namespace="http://www.temenos.com/T24/ofs/MDDEALBCMCARTASPROMESASWSType" schemaLocation="MDDEALBCMCARTASPROMESASWSType.xsd"/>
<xsd:element name="MDDEALBCMCARTASPROMESASWSRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="RequestCommon" type="reqcns:RequestCommonType"/>
<xsd:element minOccurs="0" name="MDDEALBCMCARTASPROMESASWS" type="ns0:MDDEALBCMCARTASPROMESASWSType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
