BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/FLEXCUBE/ActualizarPrestamoFLEXCUBE/XSD/ActualizarContrato1_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ActualizarContrato1" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ActualizarContrato1" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="NUMERO_LINEA_CREDITO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="FECHA_VALOR" type="dateTime" db:index="2" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="MONEDA" type="string" db:index="3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MONTO_DELTA" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="FECHA_MADUREZ" type="dateTime" db:index="5" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="LISTACOMISIONES" type="db:INTERFLEX.COMISIONES" db:index="6" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="PVUSUARIO" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_RESULTADO" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="TIPO_RESULTADO" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="MENSAJE" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="INTERFLEX.COMISIONESTYPE">
      <sequence>
         <element name="TIPO_TASA" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="CODIGO_TASA" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TIPO_COMISION" type="db:string10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="BASE_CALCULO" type="db:string1" db:type="CHAR" minOccurs="0" nillable="true"/>
         <element name="FECHA_INICIO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="FRECUENCIA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIPO_FRECUENCIA" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="SPREAD" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="SPREAD_MORA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="VALOR_COMISION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="MONTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TASA_MINIMA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TASA_MAXIMA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FECHA_INICIO_REVISION" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="FRECUENCIA_REVISION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="TIPO_FRECUENCIA_REVISION" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="INTERFLEX.COMISIONES">
      <sequence>
         <element name="LISTACOMISIONES_ITEM" type="db:INTERFLEX.COMISIONESTYPE" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string10">
      <restriction base="string">
         <maxLength value="10"/>
      </restriction>
   </simpleType>
   <simpleType name="string1">
      <restriction base="string">
         <maxLength value="1"/>
      </restriction>
   </simpleType>
</schema>