Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Check/ChkOrdMod/ChkOrdMod_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/ChkOrdMod_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptChkOrdMod="http://xmlns.banesco.com/eopt/ChkOrdMod_V1.0" xmlns:eoChk="http://xmlns.banesco.com/eo/Chk_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Chk_V1.0" schemaLocation="../../../EO/Acct/Chk_V1.0.xsd"/>
	<xs:complexType name="ChkOrdModRq_Type">
		<xs:sequence>
			<xs:element name="Chk" type="eoChk:Chk" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ChkOrdModRq" type="eoptChkOrdMod:ChkOrdModRq_Type"/>
	<xs:element name="ChkOrdModRs" type="eoptChkOrdMod:ChkOrdModRs_Type"/>
	<xs:complexType name="ChkOrdModRs_Type">
		<xs:sequence>
			<xs:element name="ChkKey" type="eoChk:ChkKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
