AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/SBProject/Schemas/RibMesage.xsd

<?xml version="1.0" encoding="utf-8"?>
<!-- Created with Liquid Technologies Online Tools 1.0 (https://www.liquid-technologies.com) -->
<xs:schema xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/rib/RibMessages" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="RibMessages">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ribMessage">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="family" type="xs:string" />
              <xs:element name="type" type="xs:string" />
              <xs:element name="id" />
              <xs:element name="ribmessageID" type="xs:string" />
              <xs:element name="publishTime" type="xs:string" />
              <xs:element name="messageData" type="xs:string" />
              <xs:element name="customData" />
              <xs:element name="customFlag" type="xs:string" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>