BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/ConsultarFuente/XSD/ConsultarFuente.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarFuente" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarFuente" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarFuenteInput" type="ConsultarFuenteInput"/>
   <xs:complexType name="ConsultarFuenteInput">
      <xs:sequence>
         <xs:element name="P_ID_LC" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarFuenteOutputCollection" type="ConsultarFuenteOutputCollection"/>
   <xs:complexType name="ConsultarFuenteOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarFuenteOutput" type="ConsultarFuenteOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarFuenteOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_LINEA_CREDITO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_LINEA_PASIVA" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="PORCENTAJE" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_OBTENIDO" type="xs:dateTime" nillable="true"/>
         <xs:element name="MONTO_ASIGNADO" type="xs:decimal" nillable="true"/>
         <xs:element name="NUMERO_ASIGNACION" type="xs:decimal" nillable="true"/>
         <xs:element name="COMENTARIO" type="xs:string" nillable="true"/>
         <xs:element name="ID_CONTRATO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>