Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Party/PartyInq/PartyInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/PartyInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptPartyInq="http://xmlns.banesco.com/eopt/PartyInq_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:complexType name="PartyInqRq_Type">
		<xs:sequence>
			<xs:choice minOccurs="1" maxOccurs="1">
				<xs:element name="OrgName" type="eoPar:OrgName" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Nombre persona juridica</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="PersonName" type="eoPar:PersonName" minOccurs="1" maxOccurs="1">
					<xs:annotation>
						<xs:documentation>Nombre cliente PN</xs:documentation>
					</xs:annotation>
				</xs:element>
			</xs:choice>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PartyInqRq" type="eoptPartyInq:PartyInqRq_Type"/>
	<xs:complexType name="PartyInqRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Parties" type="eoptPartyInq:Parties" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Parties">
		<xs:sequence>
			<xs:element name="Party" type="eoPar:Party" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PartyInqRs" type="eoptPartyInq:PartyInqRs_Type"/>
</xs:schema>
