Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/CardDb/CardDbHTAdd/CardDbHTAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/CardDbHTAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptCardDbHTAdd="http://xmlns.banesco.com/eopt/CardDbHTAdd_V1.0" xmlns:eoBank="http://xmlns.banesco.com/eo/Banking_V1.0" xmlns:eoCardAcctRel="http://xmlns.banesco.com/eo/CardAcctRel_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" xmlns:eoCard="http://xmlns.banesco.com/eo/Card_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Card_V1.0" schemaLocation="../../../EO/Card/Card_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../../../EO/Common/Common_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/CardAcctRel_V1.0" schemaLocation="../../../EO/Card/CardAcctRel_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Banking_V1.0" schemaLocation="../../../EO/Banking/Banking_V1.0.xsd"/>
	<xs:element name="CardDbHTAddRq" type="eoptCardDbHTAdd:CardDbHTAddRq_Type"/>
	<xs:complexType name="CardDbHTAddRq_Type">
		<xs:sequence>
			<xs:element name="Agency" type="eoBank:Agency" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CardAcctRel" type="eoCardAcctRel:CardAcctRel" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyName" type="eoPar:PersonName" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Flag" type="eoCom:ValueType" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardDbHTAddRs_Type">
		<xs:sequence>
			<xs:element name="Card" type="eoCard:Card" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PartyName" type="eoPar:PersonName" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardDbHTAddRs" type="eoptCardDbHTAdd:CardDbHTAddRs_Type"/>
</xs:schema>
