BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Wsdl/PC04/AprobacionProcess.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionProcess"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionProcess"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" 
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AprobacionProcess"
                  schemaLocation="../../Schema/PC04/AprobacionProcess.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InicioAprobacion">
    <wsdl:part name="parameters" element="tns:InicioAprobacion"/>
  </wsdl:message>
  <wsdl:message name="FinAprobacion">
    <wsdl:part name="parameters" element="tns:FinAprobacion"/>
  </wsdl:message>
  <wsdl:message name="InicioAprobacionCliente">
    <wsdl:part name="parameters" element="tns:InicioAprobacionCliente"/>
  </wsdl:message>
   <wsdl:message name="FinAprobacionCliente">
    <wsdl:part name="parameters" element="tns:FinAprobacionCliente"/>
  </wsdl:message>
  <wsdl:portType name="AprobacionProcessPortType">
    <wsdl:operation name="InicioAprobacion">
      <wsdl:input message="tns:InicioAprobacion"/>
    </wsdl:operation>
    <wsdl:operation name="FinAprobacion">
      <wsdl:input message="tns:FinAprobacion"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="AprobacionClienteProcessPortType">
    <wsdl:operation name="InicioAprobacionCliente">
      <wsdl:input message="tns:InicioAprobacionCliente"/>
    </wsdl:operation>
    <wsdl:operation name="FinAprobacionCliente">
      <wsdl:input message="tns:FinAprobacionCliente"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AprobacionProcessBinding" type="tns:AprobacionProcessPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InicioAprobacion">
      <wsdlsoap:operation style="document" soapAction="InicioAprobacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FinAprobacion">
      <wsdlsoap:operation style="document" soapAction="FinAprobacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AprobacionClienteProcessBinding" type="tns:AprobacionClienteProcessPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InicioAprobacionCliente">
      <wsdlsoap:operation style="document" soapAction="InicioAprobacionCliente"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FinAprobacionCliente">
      <wsdlsoap:operation style="document" soapAction="FinAprobacionCliente"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <plnk:partnerLinkType name="AprobacionProcessPortTypePartnerLinkType">
    <plnk:role name="AprobacionProcessPortTypeProvider">
      <plnk:portType name="tns:AprobacionProcessPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>
  <plnk:partnerLinkType name="AprobacionClienteProcessPortTypePartnerLinkType">
    <plnk:role name="AprobacionClienteProcessPortTypeProvider">
      <plnk:portType name="tns:AprobacionClienteProcessPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>
</wsdl:definitions>