BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PA11/ImpPCTPayload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:implementacionPCT="http://xmlns.bcie.org/ObjetoProceso/ImplementacionPCT/Payload/V1"
           xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
           targetNamespace="http://xmlns.bcie.org/ObjetoProceso/ImplementacionPCT/Payload/V1" elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">
           
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
             schemaLocation="../../Schema/Comun/Header/V1/HeaderOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
             schemaLocation="../../Schema/Comun/Parameter/V1/ParameterOPN.xsd"/>
             
  <xs:element name="ImplementacionPCT" type="implementacionPCT:ImplementacionPCTPayloadType">
    <xs:annotation>
      <xs:documentation>Elemento que define los campos de entrada para el proceso de implementacion PCT</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="ImplementacionPCTErrorPayload" type="implementacionPCT:ImplementacionPCTErrorPayloadType">
    <xs:annotation>
      <xs:documentation>Elemento que define los campos de entrada para el manejo de errores del proceso de implementacion PCT</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="ImplementacionPCTPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="ConfigGateways" type="implementacionPCT:ConfigGatewaysType"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="Equipo" type="implementacionPCT:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoEjecucion" type="implementacionPCT:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdImplementacion" type="xs:long" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="IdLote" type="xs:long" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
          
  <xs:complexType name="ImplementacionPCTErrorPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="ConfigGateways" type="implementacionPCT:ConfigGatewaysType"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="Equipo" type="implementacionPCT:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoEjecucion" type="implementacionPCT:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdImplementacion" type="xs:long" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="IdLote" type="xs:long" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="EquipoType">
    <xs:sequence>
      <xs:element name="OficialAdquisiciones" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EjecutivoPCT" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AnalistaCOFI" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AnalistaCOPRES" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ConfigGatewaysType">
    <xs:sequence>
      <xs:element name="requiereFinCurso" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="gestionaCliente" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="tipoConcurso" type="xs:boolean" minOccurs="0" maxOccurs="1"/>      
      <xs:element name="ordenInicio" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="tipoImplementacion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>