BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/ConsultarFechaCargo/XSD/ConsultarFechaCargo.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarFechaCargo" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarFechaCargo" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarFechaCargoInput" type="ConsultarFechaCargoInput"/>
   <xs:complexType name="ConsultarFechaCargoInput">
      <xs:sequence/>
   </xs:complexType>
   <xs:element name="ConsultarFechaCargoOutputCollection" type="ConsultarFechaCargoOutputCollection"/>
   <xs:complexType name="ConsultarFechaCargoOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarFechaCargoOutput" type="ConsultarFechaCargoOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarFechaCargoOutput">
      <xs:sequence>
         <xs:element name="BRANCH_CODE" type="xs:string" nillable="true"/>
         <xs:element name="END_OF_INPUT" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_CALENDARIO" type="xs:dateTime" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>