Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/PNPartyAppSvc/PNPartyAppSvc_V1.0.wsdl

<wsdl:definitions name="PNPartyAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/PNPartyAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/PNPartyAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:appoptPartyMod="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyMod_V1.0"
                  xmlns:appoptPartyAdd="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyAdd_V1.0"
                  xmlns:appoptPartyRefInq="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyRefInq_V1.0"
                  xmlns:appoptPartyRefMod="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyRefMod_V1.0"
                  xmlns:appoptPartyRefAdd="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyRefAdd_V1.0"
                  xmlns:appoptPartyStaffAdd="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyStaffAdd_V1.0"
                  xmlns:appoptPartyStaffInq="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyStaffInq_V1.0"
                  xmlns:appoptPartyStaffMod="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyStaffMod_V1.0"
				  xmlns:appoptPartyInfoInq="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyInfoInq_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/eo/Status_V1.0"
                  schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyMod_V1.0"
                  schemaLocation="../../../xsd/AppOpt/PNParty/PartyMod/PartyMod_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/PNParty/PartyAdd/PartyAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyRefInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/PNParty/PartyRefInq/PartyRefInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyRefMod_V1.0"
                  schemaLocation="../../../xsd/AppOpt/PNParty/PartyRefMod/PartyRefMod_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyRefAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/PNParty/PartyRefAdd/PartyRefAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyStaffAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/PNParty/PartyStaffAdd/PartyStaffAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyStaffInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/PNParty/PartyStaffInq/PartyStaffInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyStaffMod_V1.0"
                  schemaLocation="../../../xsd/AppOpt/PNParty/PartyStaffMod/PartyStaffMod_V1.0.xsd"/>
	  <xsd:import namespace="http://xmlns.banesco.com/appopt/PNPartyAppSvc/PartyInfoInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/PNParty/PartyInfoInq/PartyInfoInq_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="PartyModRq">
    <wsdl:part name="PartyModRq" element="appoptPartyMod:PartyModRq"/>
  </wsdl:message>
  <wsdl:message name="PartyModRs">
    <wsdl:part name="PartyModRs" element="appoptPartyMod:PartyModRs"/>
  </wsdl:message>
  <wsdl:message name="PartyAddRq">
    <wsdl:part name="PartyAddRq" element="appoptPartyAdd:PartyAddRq"/>
  </wsdl:message>
  <wsdl:message name="PartyAddRs">
    <wsdl:part name="PartyAddRs" element="appoptPartyAdd:PartyAddRs"/>
  </wsdl:message>
  <wsdl:message name="PartyRefInqRq">
    <wsdl:part name="PartyRefInqRq" element="appoptPartyRefInq:PartyRefInqRq"/>
  </wsdl:message>
  <wsdl:message name="PartyRefInqRs">
    <wsdl:part name="PartyRefInqRs" element="appoptPartyRefInq:PartyRefInqRs"/>
  </wsdl:message>
  <wsdl:message name="PartyRefModRq">
    <wsdl:part name="PartyRefModRq" element="appoptPartyRefMod:PartyRefModRq"/>
  </wsdl:message>
  <wsdl:message name="PartyRefModRs">
    <wsdl:part name="PartyRefModRs" element="appoptPartyRefMod:PartyRefModRs"/>
  </wsdl:message>
  <wsdl:message name="PartyRefAddRq">
    <wsdl:part name="PartyRefAddRq" element="appoptPartyRefAdd:PartyRefAddRq"/>
  </wsdl:message>
  <wsdl:message name="PartyRefAddRs">
    <wsdl:part name="PartyRefAddRs" element="appoptPartyRefAdd:PartyRefAddRs"/>
  </wsdl:message>
  <wsdl:message name="PartyStaffAddRq">
    <wsdl:part name="PartyStaffAddRq" element="appoptPartyStaffAdd:PartyStaffAddRq"/>
  </wsdl:message>
  <wsdl:message name="PartyStaffAddRs">
    <wsdl:part name="PartyStaffAddRs" element="appoptPartyStaffAdd:PartyStaffAddRs"/>
  </wsdl:message>
  <wsdl:message name="PartyStaffInqRq">
    <wsdl:part name="PartyStaffInqRq" element="appoptPartyStaffInq:PartyStaffInqRq"/>
  </wsdl:message>
  <wsdl:message name="PartyStaffInqRs">
    <wsdl:part name="PartyStaffInqRs" element="appoptPartyStaffInq:PartyStaffInqRs"/>
  </wsdl:message>
  <wsdl:message name="PartyStaffModRq">
    <wsdl:part name="PartyStaffModRq" element="appoptPartyStaffMod:PartyStaffModRq"/>
  </wsdl:message>
  <wsdl:message name="PartyStaffModRs">
    <wsdl:part name="PartyStaffModRs" element="appoptPartyStaffMod:PartyStaffModRs"/>
  </wsdl:message>
  <wsdl:message name="PartyInfoInqRq">
    <wsdl:part name="PartyInfoInqRq" element="appoptPartyInfoInq:PartyInfoInqRq"/>
  </wsdl:message>
  <wsdl:message name="PartyInfoInqRs">
    <wsdl:part name="PartyInfoInqRs" element="appoptPartyInfoInq:PartyInfoInqRs"/>
  </wsdl:message>
  
  <wsdl:portType name="PNPartyAppSvc_V1.0">
    <wsdl:operation name="PartyMod">
      <wsdl:input message="tns:PartyModRq"/>
      <wsdl:output message="tns:PartyModRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="PartyAdd">
      <wsdl:input message="tns:PartyAddRq"/>
      <wsdl:output message="tns:PartyAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="PartyRefInq">
      <wsdl:input message="tns:PartyRefInqRq"/>
      <wsdl:output message="tns:PartyRefInqRs"/>
      <wsdl:fault message="tns:SystemFault" name="SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="PartyRefMod">
      <wsdl:input message="tns:PartyRefModRq"/>
      <wsdl:output message="tns:PartyRefModRs"/>
      <wsdl:fault message="tns:SystemFault" name="SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="PartyRefAdd">
      <wsdl:input message="tns:PartyRefAddRq"/>
      <wsdl:output message="tns:PartyRefAddRs"/>
      <wsdl:fault message="tns:SystemFault" name="SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="PartyStaffAdd">
      <wsdl:input message="tns:PartyStaffAddRq"/>
      <wsdl:output message="tns:PartyStaffAddRs"/>
      <wsdl:fault message="tns:SystemFault" name="SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="PartyStaffInq">
      <wsdl:input message="tns:PartyStaffInqRq"/>
      <wsdl:output message="tns:PartyStaffInqRs"/>
      <wsdl:fault message="tns:SystemFault" name="SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="PartyStaffMod">
      <wsdl:input message="tns:PartyStaffModRq"/>
      <wsdl:output message="tns:PartyStaffModRs"/>
      <wsdl:fault message="tns:SystemFault" name="SystemFault"/>
    </wsdl:operation>
	<wsdl:operation name="PartyInfoInq">
      <wsdl:input message="tns:PartyInfoInqRq"/>
      <wsdl:output message="tns:PartyInfoInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="PNPartyAppSvc_V1.0SOAP" type="tns:PNPartyAppSvc_V1.0">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="PartyMod">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/PNPartyAppSvc_V1.0/PartyMod"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="PartyModRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="PartyModRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PartyAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/PNPartyAppSvc_V1.0/PartyAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="PartyAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="PartyAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PartyRefInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/PNPartyAppSvc_V1.0/PartyRefInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="PartyRefInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="PartyRefInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PartyRefMod">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/PNPartyAppSvc_V1.0/PartyRefMod"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="PartyRefModRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="PartyRefModRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PartyRefAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/PNPartyAppSvc_V1.0/PartyRefAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="PartyRefAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="PartyRefAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PartyStaffAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/PNPartyAppSvc_V1.0/PartyStaffAdd"/>
      <wsdl:input>
        <soap:body use="literal" parts="PartyStaffAddRq"/>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="PartyStaffAddRs"/>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PartyStaffInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/PNPartyAppSvc_V1.0/PartyStaffInq"/>
      <wsdl:input>
        <soap:body use="literal" parts="PartyStaffInqRq"/>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="PartyStaffInqRs"/>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="PartyStaffMod">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/PNPartyAppSvc_V1.0/PartyStaffMod"/>
      <wsdl:input>
        <soap:body use="literal" parts="PartyStaffModRq"/>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="PartyStaffModRs"/>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
	<wsdl:operation name="PartyInfoInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/PNPartyAppSvc_V1.0/PartyInfoInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="PartyInfoInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="PartyInfoInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="PNPartyAppSvc_V1.0">
    <wsdl:port name="PNPartyAppSvc_V1.0SOAP" binding="tns:PNPartyAppSvc_V1.0SOAP">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>