BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/CrearDeclaracionOperacion/XSD/CrearDeclaracionOperacion_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearDeclaracionOperacion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearDeclaracionOperacion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="TreDeclaracionOperacionCollection" type="TreDeclaracionOperacionCollection"/>
   <xs:complexType name="TreDeclaracionOperacionCollection">
      <xs:sequence>
         <xs:element name="TreDeclaracionOperacion" type="TreDeclaracionOperacion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TreDeclaracionOperacion">
      <xs:sequence>
         <xs:element name="id" type="xs:int" nillable="true"/>
         <xs:element name="idOperacion" type="xs:long" minOccurs="0"/>
         <xs:element name="idDeclaracion" type="xs:int" minOccurs="0"/>
         <xs:element name="esVigente" type="xs:int" minOccurs="0"/>
         <xs:element name="fechaCaducada" type="xs:dateTime" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>