AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/Custom/Schemas/RMS_XSD/SOStatusDesc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/SOStatusDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/SOStatusDesc/v1" version="1.1">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:element name="SOStatusDtl">
        <retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dest_id" type="varchar210">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the location number of the stock order receiving location.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
				<xs:element name="loc_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Type of location in the dest_id field. Valid values are: S = Store, W = Warehouse, E = Finisher.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="store_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the store type of the dest_id store. Only populated if loc_type is 'S'. Valid values are: 'C' = company store, 'F' = franchise store.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="stockholding_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if the dest_id store is stockholding or not. Only populated if loc_type is 'S'. Valid values are: 'Y' = yes, 'N' = no.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="item_id" type="varchar225">
                    <retailDoc:annotation>
<retailDoc:documentation>Unique identifier for the item.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="original_item_id" type="varchar225">
                    <retailDoc:annotation>
<retailDoc:documentation>The ID of the item being replaced. Populated only when this record is for a substitute item on a customer order.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="order_line_nbr" type="number3">
                    <retailDoc:annotation>
<retailDoc:documentation>Derived as ROWNUM.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="unit_qty" type="number12_4">
                    <retailDoc:annotation>
<retailDoc:documentation>The difference beween the number of ITEM units shipped versus the receiving count for the given ITEM. This is subtracted from the document-line-item-unit-count to yield an over/under variance between what a supplier said was shipped and what was counted and received at by the store's staff.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="status" type="varchar22">
                    <retailDoc:annotation>
<retailDoc:documentation>The status of the stock order. Valid values are: 'DS' - Details Selected, 'DU' - Details Un-Selected, 'NI' - Line Cancellation, 'PP' - Distributed, 'PU' - Un-Distributed, 'RS' - Return To Stock, 'EX' - Expired, 'SR' - Store Reassign, 'SC' - Store Cancellation.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="user_id" type="varchar230">
                    <retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="updated_date" type="xs:dateTime">
                    <retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SOStatusDesc">
        <retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dc_dest_id" type="varchar210">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the location number of the stock order source location.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
				 <xs:element name="loc_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Type of location in the dc_dest_id field. Valid values are: S = Store, W = Warehouse, E = Finisher.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="store_type" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the store type of the dc_dest_id store. Only populated if loc_type is 'S'. Valid values are: 'C' = company store, 'F' = franchise store.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="stockholding_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if the dc_dest_id store is stockholding or not. Only populated if loc_type is 'S'. Valid values are: 'Y' = yes, 'N' = no.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="distro_nbr" type="varchar212">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the stock order number.  This is either the transfer or allocation number in RMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="distro_document_type" type="varchar21">
                    <retailDoc:annotation>
<retailDoc:documentation>Specifies whether the stock order status pertains to an allocation 'A', or transfer 'T'.  Types 'D'C Created Stock Order,'C'ustomer Order, and 'V'irtual Distro are also valid document types but will be ignored by the RMS API.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" ref="SOStatusDtl">
                    <retailDoc:annotation>
<retailDoc:documentation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="context_type" type="varchar26">
                    <retailDoc:annotation>
<retailDoc:documentation>This field holds the functional area code to which the transfer relates to. Valid values are PROM and REPAIR.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="context_value" type="varchar225">
                    <retailDoc:annotation>
<retailDoc:documentation>This field holds the value relating to the context type like promotion number.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="inventory_type" type="varchar26">
                    <retailDoc:annotation>
<retailDoc:documentation>This field indicates if a transfer is made from the available or unavailable inventory.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="cust_order_nbr" type="varchar248">
                    <retailDoc:annotation>
<retailDoc:documentation>For a stock order associated with a customer order, this field holds the master customer order number from OMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="fulfill_order_nbr" type="varchar248">
                    <retailDoc:annotation>
<retailDoc:documentation>For a stock order associated with a customer order, this field holds the number from OMS related to the fulfillment details.  
                        	One or more fulfillment orders could relate back to a single customer order in OMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="number3">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 3.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number12">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number12_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar230">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar22">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 2 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
	<xs:simpleType name="varchar248">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 48 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="48"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar212">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 12 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>