AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/DeliveryQuantityApp/SyncDeliveryQuantityAdjustmentJDAAdapterService/Resources/Schemas/DeliveryQuantityAdjustmentRequest.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/SAALMA/Ajustepiezasrecibidas"
            targetNamespace="http://www.agarcia.mx/SAALMA/Ajustepiezasrecibidas" elementFormDefault="qualified"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
    <xsd:element name="DeliveryQuantityAdjustmentRequest">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="AjustePiezasRecibidas" maxOccurs="unbounded" minOccurs="0">
                    <xsd:complexType>
                        <xsd:sequence>
                            <xsd:element name="local" type="xsd:integer" minOccurs="0"/>
                            <xsd:element name="fechamovimiento" type="xsd:string" minOccurs="0"/>
                            <xsd:element name="detalle" minOccurs="0" maxOccurs="unbounded">
                                <xsd:complexType>
                                    <xsd:sequence>
                                        <xsd:element name="sku" type="xsd:integer" minOccurs="0"/>
                                        <xsd:element name="transaccionqty" type="xsd:integer" minOccurs="0"/>
                                        <xsd:element name="fechamoviemintod" type="xsd:string" minOccurs="0"/>
                                    </xsd:sequence>
                                </xsd:complexType>
                            </xsd:element>
                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:annotation xmlns="">
        <xsd:appinfo>NXSDSAMPLE=C:\RepositoriosBITBUCKET\ALMACENES_GARCIA\osb\OSBAGApp\DeliveryQuantityApp\SyncDeliveryQuantityAdjustmentJDAAdapterService\Resources\Schemas\AjusteDePiezasRecibidasRequest.json</xsd:appinfo>
        <xsd:appinfo>USEHEADER=false</xsd:appinfo>
    </xsd:annotation>
</xsd:schema>