AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/DeliveryQuantityApp/SyncDeliveryQuantityAdjustmentJDAAdapterService/Resources/Schemas/DeliveryQuantityAdjustmentResponse.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/SAALMA/Ajustepiezasrecibidas"
            targetNamespace="http://www.agarcia.mx/SAALMA/Ajustepiezasrecibidas" elementFormDefault="qualified"
            xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="windows-1250">
    <xsd:element name="DeliveryQuantityAdjustmentResponse">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="Mensaje" type="xsd:string" minOccurs="0"/>
                <xsd:element name="Fecha" type="xsd:string" minOccurs="0"/>
                <xsd:element name="Code" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    <xsd:annotation xmlns="">
        <xsd:appinfo>NXSDSAMPLE=C:\RepositoriosBITBUCKET\ALMACENES_GARCIA\osb\OSBAGApp\DeliveryQuantityApp\SyncDeliveryQuantityAdjustmentJDAAdapterService\Resources\Schemas\AjusteDePiezasRecibidasResponse.json</xsd:appinfo>
        <xsd:appinfo>USEHEADER=false</xsd:appinfo>
    </xsd:annotation>
</xsd:schema>