AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ASNINFTPAPP/Resources/ASNINFileName.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" xmlns:tns="http://www.agarcia.mx/EnterpriseObjects/ftpMasterEDIZ" targetNamespace="http://www.agarcia.mx/EnterpriseObjects/ftpMasterEDIZ" elementFormDefault="qualified" attributeFormDefault="unqualified" nxsd:version="NXSD" nxsd:stream="chars" nxsd:encoding="UTF-8">


  <xsd:element name="Root-Element">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="record" minOccurs="1" maxOccurs="unbounded">
          <xsd:complexType>
            <xsd:sequence>
             <xsd:element name="line" type="xsd:string" nxsd:style="terminated" nxsd:terminatedBy="${eol}" maxOccurs="unbounded"/>
            </xsd:sequence>
          </xsd:complexType>
        </xsd:element>
		<xsd:element name="FileName" type="xsd:string" minOccurs="1"/>
                <xsd:element name="Buro" type="xsd:string" minOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>

<xsd:annotation>
      <xsd:appinfo>NXSDSAMPLE=C702870B.CSV</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>