AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ASNINFTPAPP/Resources/ftpCarvajalA.wsdl

<wsdl:definitions name="ftpCarvajalA" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/ASNINBUS/ASNINFTPAPP/ftpCarvajalA" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/ftp/ASNINBUS/ASNINFTPAPP/ftpCarvajalA" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:imp1="http://www.agarcia.mx/EnterpriseObjects/ftpMasterEDIZ" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="Get_plt">
    <plt:role name="Get_role">
      <plt:portType name="tns:Get_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/ASNINBUS/ASNINFTPAPP/ftpCarvajalA" xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://www.agarcia.mx/EnterpriseObjects/ftpMasterEDIZ" schemaLocation="ASNIN.xsd"/>
      <element name="empty"><complexType/></element>
      </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:message name="Get_msg">
        <wsdl:part name="body" element="imp1:Root-Element"/>
    </wsdl:message>
    <wsdl:portType name="Get_ptt">
        <wsdl:operation name="Get">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:Get_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>