AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ASNINFTPAPP/Resources/ftpService.wsdl

<wsdl:definitions
     name="ftpService"
     targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/ASNINBUS/ASNINFTPAPP/ftpService"
     xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/ftp/ASNINBUS/ASNINFTPAPP/ftpService"
     xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
  <plt:partnerLinkType name="FileListing_plt" >
    <plt:role name="FileListing_role" >
      <plt:portType name="tns:FileListing_ptt" />
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
    <schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/ftp/ASNINBUS/ASNINFTPAPP/ftpService" xmlns="http://www.w3.org/2001/XMLSchema"
            elementFormDefault="qualified" >
       <element name="filelist" >
         <complexType>
           <sequence>
             <element name="file" minOccurs="0" maxOccurs="unbounded" >
               <complexType>
                 <sequence>
                   <element name="directory" type="string" />
                   <element name="filename" type="string" />
                   <element name="lastModifiedTime" type="string" />
                   <element name="creationTime" type="string" />
                   <element name="size" type="string" />
                 </sequence>
               </complexType>
             </element>
           </sequence>
           <attribute name="size" type="string" />
         </complexType>
       </element>
        <element name="empty"><complexType/></element>
    </schema>
    </wsdl:types>
    <wsdl:message name="Empty_msg">
        <wsdl:part name="Empty" element="tns:empty"/>
    </wsdl:message>
    <wsdl:message name="FileListing_msg">
        <wsdl:part name="filelist" element="tns:filelist"/>
    </wsdl:message>
    <wsdl:portType name="FileListing_ptt">
        <wsdl:operation name="FileListing">
            <wsdl:input message="tns:Empty_msg"/>
            <wsdl:output message="tns:FileListing_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>