AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ResponseProtosAdapterService/MetaData/Components/EnterpriseObjectLibrary/EBO/Shipment/ShipmentEBM.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Shipment" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Shipment" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <!-- ====================================================================== -->
  <!-- =====      Imports                                               ===== -->
  <!-- ====================================================================== -->
  <xsd:include schemaLocation="ShipmentEBO.xsd"/>
  <!-- ====================================================================== -->
  <!-- =====      Shipment EBM                                  ===== -->
  <!-- ====================================================================== -->
  <xsd:element name="CreateShipmentEBM" type="CreateShipmentEBMType"/>
  <xsd:element name="CreateShipmentResponseEBM" type="CreateShipmentResponseEBMType"/>
  <xsd:element name="ProcessShipmentEBM" type="ProcessShipmentEBMType"/>
  <xsd:element name="ProcessShipmentResponseEBM" type="ProcessShipmentResponseEBMType"/>
  <xsd:element name="ShipmentResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>
  <xsd:complexType name="ProcessShipmentEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CallShipment" type="ShipmentEBOType"/>
            <xsd:element name="ShipmentRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateShipmentEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateShipment" type="ShipmentEBOType"/>
            <xsd:element name="ShipmentRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateShipmentResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="CreateShipmentReference" type="com:IdentificationType"/>
      <xsd:element name="ShipmentRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessShipmentResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="ProcessShipmentReference" type="com:IdentificationType"/>
      <xsd:element name="ShipmentRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseAcknowledgeEBMType">
    <xsd:sequence>
      <xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>