Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBCardTrn/CardCrTransferPtsAdd/CardCrTransferPtsAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBCardTrnAppSvc/CardCrTransferPtsAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptCardCrTransferPtsAdd="http://xmlns.banesco.com/appopt/TCIBCardTrnAppSvc/CardCrTransferPtsAdd_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código del cliente asignado por T24.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardCrTransferPtsAddRs" type="appoptCardCrTransferPtsAdd:CardCrTransferPtsAddRs_Type"/>
	<xs:complexType name="Agency">
		<xs:annotation>
			<xs:documentation>Agency Especification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgencyIdent" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agencia o sucursal donde se realiza la operación</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Trn">
		<xs:annotation>
			<xs:documentation>The Trn object supports the inquiry of transaction data for all financial transactions of an account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PointsRedeemed" type="xs:int" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cantidad de puntos que se desean transferir de una tarjeta a otra.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnType" type="appoptcommon:ValueTypeMandatory" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificador de la operación que se ejecuta (traslado a TDC, traslado a prepago).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardCrTransferPtsAddRq" type="appoptCardCrTransferPtsAdd:CardCrTransferPtsAddRq_Type"/>
	<xs:complexType name="CardKey">
		<xs:annotation>
			<xs:documentation>The Card Object supports the services related to Issuing, Management, and Servicing of Credit, Debit, Prepaid and Private Label cards.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardNum" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Número asignado a la tarjeta de crédito.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FIData">
		<xs:annotation>
			<xs:documentation>The Financial Institution Data Aggregate contains additional information used to identify a bank, typically when used for payment transfers, payee requests, and wire transfers. It is required in CHE, DEU, and ITA to completely identify an account. Sufficient information must be provided within this aggregate to uniquely identify the bank at which the account is held. Failure to do so will result in an error being returned from the server.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FIIdent" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de la Institución financiera que hace la solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Agency" type="appoptCardCrTransferPtsAdd:Agency" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardCrTransferPtsAddRs_Type">
		<xs:sequence>
			<xs:element name="FIData" type="appoptCardCrTransferPtsAdd:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardCrTransferPtsAddRq_Type">
		<xs:sequence>
			<xs:element name="FIData" type="appoptCardCrTransferPtsAdd:FIData" minOccurs="1" maxOccurs="1"/>
			<xs:element name="OriginCard" type="appoptCardCrTransferPtsAdd:CardKey" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de tarjeta a la cual se desea debitar los puntos.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyKey" type="appoptCardCrTransferPtsAdd:PartyKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="TargetCard" type="appoptCardCrTransferPtsAdd:CardKey" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de tarjeta a la cual se desea acreditar los puntos.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Trn" type="appoptCardCrTransferPtsAdd:Trn" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
