Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/ESCTA/resources/wsdl/EstadoCuentaElectronicoSoap12Mock.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://tempuri.org/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="sConsultarProductosAfiliados">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="banco" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="servicio" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="canal" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="dirIP" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="nacCli" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="cedRif" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="hashUsuario" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="tipoProducto" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="sTipoUso" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="activarLog" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sConsultarProductosAfiliadosResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="sConsultarProductosAfiliadosResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sAfiliarProductos">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="banco" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="canal" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="servicio" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="nacCli" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="dirIP" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="cedRif" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="hashUsuario" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="producto_SubProducto" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="sTipoUso" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="activarLog" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sAfiliarProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="sAfiliarProductosResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sDesafiliarProductos">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="banco" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="canal" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="servicio" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="nacCli" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="dirIP" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="cedRif" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="hashUsuario" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="producto_SubProducto" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="sTipoUso" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="activarLog" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sDesafiliarProductosResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="sDesafiliarProductosResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sConsultarEstadoCuenta">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="banco" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="servicio" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="canal" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="dirIP" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="nacCli" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="cedRif" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="sHashUsuario" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="sHashCodigoProducto" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="0" name="sTipoProd" type="s:string"/>
            <s:element maxOccurs="1" minOccurs="1" name="activarLog" type="s:boolean"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="sConsultarEstadoCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element maxOccurs="1" minOccurs="0" name="sConsultarEstadoCuentaResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string"/>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="sConsultarEstadoCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:sConsultarEstadoCuenta">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sConsultarEstadoCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:sConsultarEstadoCuentaResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sConsultarProductosAfiliadosHttpPostIn">
    <wsdl:part name="banco" type="s:string">
    </wsdl:part>
    <wsdl:part name="servicio" type="s:string">
    </wsdl:part>
    <wsdl:part name="canal" type="s:string">
    </wsdl:part>
    <wsdl:part name="dirIP" type="s:string">
    </wsdl:part>
    <wsdl:part name="nacCli" type="s:string">
    </wsdl:part>
    <wsdl:part name="cedRif" type="s:string">
    </wsdl:part>
    <wsdl:part name="hashUsuario" type="s:string">
    </wsdl:part>
    <wsdl:part name="tipoProducto" type="s:string">
    </wsdl:part>
    <wsdl:part name="sTipoUso" type="s:string">
    </wsdl:part>
    <wsdl:part name="activarLog" type="s:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sAfiliarProductosSoapIn">
    <wsdl:part name="parameters" element="tns:sAfiliarProductos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sConsultarEstadoCuentaHttpPostIn">
    <wsdl:part name="banco" type="s:string">
    </wsdl:part>
    <wsdl:part name="servicio" type="s:string">
    </wsdl:part>
    <wsdl:part name="canal" type="s:string">
    </wsdl:part>
    <wsdl:part name="dirIP" type="s:string">
    </wsdl:part>
    <wsdl:part name="nacCli" type="s:string">
    </wsdl:part>
    <wsdl:part name="cedRif" type="s:string">
    </wsdl:part>
    <wsdl:part name="sHashUsuario" type="s:string">
    </wsdl:part>
    <wsdl:part name="sHashCodigoProducto" type="s:string">
    </wsdl:part>
    <wsdl:part name="sTipoProd" type="s:string">
    </wsdl:part>
    <wsdl:part name="activarLog" type="s:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sDesafiliarProductosSoapIn">
    <wsdl:part name="parameters" element="tns:sDesafiliarProductos">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sConsultarProductosAfiliadosHttpGetOut">
    <wsdl:part name="Body" element="tns:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sDesafiliarProductosSoapOut">
    <wsdl:part name="parameters" element="tns:sDesafiliarProductosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sAfiliarProductosHttpPostOut">
    <wsdl:part name="Body" element="tns:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sDesafiliarProductosHttpGetIn">
    <wsdl:part name="banco" type="s:string">
    </wsdl:part>
    <wsdl:part name="canal" type="s:string">
    </wsdl:part>
    <wsdl:part name="servicio" type="s:string">
    </wsdl:part>
    <wsdl:part name="nacCli" type="s:string">
    </wsdl:part>
    <wsdl:part name="dirIP" type="s:string">
    </wsdl:part>
    <wsdl:part name="cedRif" type="s:string">
    </wsdl:part>
    <wsdl:part name="hashUsuario" type="s:string">
    </wsdl:part>
    <wsdl:part name="producto_SubProducto" type="s:string">
    </wsdl:part>
    <wsdl:part name="sTipoUso" type="s:string">
    </wsdl:part>
    <wsdl:part name="activarLog" type="s:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sAfiliarProductosHttpGetIn">
    <wsdl:part name="banco" type="s:string">
    </wsdl:part>
    <wsdl:part name="canal" type="s:string">
    </wsdl:part>
    <wsdl:part name="servicio" type="s:string">
    </wsdl:part>
    <wsdl:part name="nacCli" type="s:string">
    </wsdl:part>
    <wsdl:part name="dirIP" type="s:string">
    </wsdl:part>
    <wsdl:part name="cedRif" type="s:string">
    </wsdl:part>
    <wsdl:part name="hashUsuario" type="s:string">
    </wsdl:part>
    <wsdl:part name="producto_SubProducto" type="s:string">
    </wsdl:part>
    <wsdl:part name="sTipoUso" type="s:string">
    </wsdl:part>
    <wsdl:part name="activarLog" type="s:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sConsultarProductosAfiliadosHttpPostOut">
    <wsdl:part name="Body" element="tns:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sAfiliarProductosHttpPostIn">
    <wsdl:part name="banco" type="s:string">
    </wsdl:part>
    <wsdl:part name="canal" type="s:string">
    </wsdl:part>
    <wsdl:part name="servicio" type="s:string">
    </wsdl:part>
    <wsdl:part name="nacCli" type="s:string">
    </wsdl:part>
    <wsdl:part name="dirIP" type="s:string">
    </wsdl:part>
    <wsdl:part name="cedRif" type="s:string">
    </wsdl:part>
    <wsdl:part name="hashUsuario" type="s:string">
    </wsdl:part>
    <wsdl:part name="producto_SubProducto" type="s:string">
    </wsdl:part>
    <wsdl:part name="sTipoUso" type="s:string">
    </wsdl:part>
    <wsdl:part name="activarLog" type="s:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sDesafiliarProductosHttpGetOut">
    <wsdl:part name="Body" element="tns:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sAfiliarProductosHttpGetOut">
    <wsdl:part name="Body" element="tns:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sConsultarEstadoCuentaHttpGetOut">
    <wsdl:part name="Body" element="tns:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sConsultarProductosAfiliadosHttpGetIn">
    <wsdl:part name="banco" type="s:string">
    </wsdl:part>
    <wsdl:part name="servicio" type="s:string">
    </wsdl:part>
    <wsdl:part name="canal" type="s:string">
    </wsdl:part>
    <wsdl:part name="dirIP" type="s:string">
    </wsdl:part>
    <wsdl:part name="nacCli" type="s:string">
    </wsdl:part>
    <wsdl:part name="cedRif" type="s:string">
    </wsdl:part>
    <wsdl:part name="hashUsuario" type="s:string">
    </wsdl:part>
    <wsdl:part name="tipoProducto" type="s:string">
    </wsdl:part>
    <wsdl:part name="sTipoUso" type="s:string">
    </wsdl:part>
    <wsdl:part name="activarLog" type="s:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sDesafiliarProductosHttpPostOut">
    <wsdl:part name="Body" element="tns:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sAfiliarProductosSoapOut">
    <wsdl:part name="parameters" element="tns:sAfiliarProductosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sDesafiliarProductosHttpPostIn">
    <wsdl:part name="banco" type="s:string">
    </wsdl:part>
    <wsdl:part name="canal" type="s:string">
    </wsdl:part>
    <wsdl:part name="servicio" type="s:string">
    </wsdl:part>
    <wsdl:part name="nacCli" type="s:string">
    </wsdl:part>
    <wsdl:part name="dirIP" type="s:string">
    </wsdl:part>
    <wsdl:part name="cedRif" type="s:string">
    </wsdl:part>
    <wsdl:part name="hashUsuario" type="s:string">
    </wsdl:part>
    <wsdl:part name="producto_SubProducto" type="s:string">
    </wsdl:part>
    <wsdl:part name="sTipoUso" type="s:string">
    </wsdl:part>
    <wsdl:part name="activarLog" type="s:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sConsultarProductosAfiliadosSoapIn">
    <wsdl:part name="parameters" element="tns:sConsultarProductosAfiliados">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sConsultarEstadoCuentaHttpPostOut">
    <wsdl:part name="Body" element="tns:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sConsultarEstadoCuentaHttpGetIn">
    <wsdl:part name="banco" type="s:string">
    </wsdl:part>
    <wsdl:part name="servicio" type="s:string">
    </wsdl:part>
    <wsdl:part name="canal" type="s:string">
    </wsdl:part>
    <wsdl:part name="dirIP" type="s:string">
    </wsdl:part>
    <wsdl:part name="nacCli" type="s:string">
    </wsdl:part>
    <wsdl:part name="cedRif" type="s:string">
    </wsdl:part>
    <wsdl:part name="sHashUsuario" type="s:string">
    </wsdl:part>
    <wsdl:part name="sHashCodigoProducto" type="s:string">
    </wsdl:part>
    <wsdl:part name="sTipoProd" type="s:string">
    </wsdl:part>
    <wsdl:part name="activarLog" type="s:string">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="sConsultarProductosAfiliadosSoapOut">
    <wsdl:part name="parameters" element="tns:sConsultarProductosAfiliadosResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="EstadoCuentaElectronicoHttpPost">
    <wsdl:operation name="sConsultarProductosAfiliados">
      <wsdl:input message="tns:sConsultarProductosAfiliadosHttpPostIn">
    </wsdl:input>
      <wsdl:output message="tns:sConsultarProductosAfiliadosHttpPostOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sAfiliarProductos">
      <wsdl:input message="tns:sAfiliarProductosHttpPostIn">
    </wsdl:input>
      <wsdl:output message="tns:sAfiliarProductosHttpPostOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sDesafiliarProductos">
      <wsdl:input message="tns:sDesafiliarProductosHttpPostIn">
    </wsdl:input>
      <wsdl:output message="tns:sDesafiliarProductosHttpPostOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sConsultarEstadoCuenta">
      <wsdl:input message="tns:sConsultarEstadoCuentaHttpPostIn">
    </wsdl:input>
      <wsdl:output message="tns:sConsultarEstadoCuentaHttpPostOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EstadoCuentaElectronicoHttpGet">
    <wsdl:operation name="sConsultarProductosAfiliados">
      <wsdl:input message="tns:sConsultarProductosAfiliadosHttpGetIn">
    </wsdl:input>
      <wsdl:output message="tns:sConsultarProductosAfiliadosHttpGetOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sAfiliarProductos">
      <wsdl:input message="tns:sAfiliarProductosHttpGetIn">
    </wsdl:input>
      <wsdl:output message="tns:sAfiliarProductosHttpGetOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sDesafiliarProductos">
      <wsdl:input message="tns:sDesafiliarProductosHttpGetIn">
    </wsdl:input>
      <wsdl:output message="tns:sDesafiliarProductosHttpGetOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sConsultarEstadoCuenta">
      <wsdl:input message="tns:sConsultarEstadoCuentaHttpGetIn">
    </wsdl:input>
      <wsdl:output message="tns:sConsultarEstadoCuentaHttpGetOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="EstadoCuentaElectronicoSoap">
    <wsdl:operation name="sConsultarProductosAfiliados">
      <wsdl:input message="tns:sConsultarProductosAfiliadosSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:sConsultarProductosAfiliadosSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sAfiliarProductos">
      <wsdl:input message="tns:sAfiliarProductosSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:sAfiliarProductosSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sDesafiliarProductos">
      <wsdl:input message="tns:sDesafiliarProductosSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:sDesafiliarProductosSoapOut">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sConsultarEstadoCuenta">
      <wsdl:input message="tns:sConsultarEstadoCuentaSoapIn">
    </wsdl:input>
      <wsdl:output message="tns:sConsultarEstadoCuentaSoapOut">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EstadoCuentaElectronicoSoap12" type="tns:EstadoCuentaElectronicoSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sConsultarProductosAfiliados">
      <soap12:operation soapAction="http://tempuri.org/sConsultarProductosAfiliados" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sAfiliarProductos">
      <soap12:operation soapAction="http://tempuri.org/sAfiliarProductos" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sDesafiliarProductos">
      <soap12:operation soapAction="http://tempuri.org/sDesafiliarProductos" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sConsultarEstadoCuenta">
      <soap12:operation soapAction="http://tempuri.org/sConsultarEstadoCuenta" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EstadoCuentaElectronicoHttpPost" type="tns:EstadoCuentaElectronicoHttpPost">
    <http:binding verb="POST"/>
    <wsdl:operation name="sConsultarProductosAfiliados">
      <http:operation location="/sConsultarProductosAfiliados"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sAfiliarProductos">
      <http:operation location="/sAfiliarProductos"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sDesafiliarProductos">
      <http:operation location="/sDesafiliarProductos"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sConsultarEstadoCuenta">
      <http:operation location="/sConsultarEstadoCuenta"/>
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded"/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EstadoCuentaElectronicoHttpGet" type="tns:EstadoCuentaElectronicoHttpGet">
    <http:binding verb="GET"/>
    <wsdl:operation name="sConsultarProductosAfiliados">
      <http:operation location="/sConsultarProductosAfiliados"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sAfiliarProductos">
      <http:operation location="/sAfiliarProductos"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sDesafiliarProductos">
      <http:operation location="/sDesafiliarProductos"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sConsultarEstadoCuenta">
      <http:operation location="/sConsultarEstadoCuenta"/>
      <wsdl:input>
        <http:urlEncoded/>
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EstadoCuentaElectronicoSoap" type="tns:EstadoCuentaElectronicoSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="sConsultarProductosAfiliados">
      <soap:operation soapAction="http://tempuri.org/sConsultarProductosAfiliados" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sAfiliarProductos">
      <soap:operation soapAction="http://tempuri.org/sAfiliarProductos" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sDesafiliarProductos">
      <soap:operation soapAction="http://tempuri.org/sDesafiliarProductos" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="sConsultarEstadoCuenta">
      <soap:operation soapAction="http://tempuri.org/sConsultarEstadoCuenta" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EstadoCuentaElectronico">
    <wsdl:port name="EstadoCuentaElectronicoHttpPost" binding="tns:EstadoCuentaElectronicoHttpPost">
      <http:address location="http://10.1.11.182/ServicioTransaccional/WSEstadoCuentaElectronico.asmx"/>
    </wsdl:port>
    <wsdl:port name="EstadoCuentaElectronicoSoap12" binding="tns:EstadoCuentaElectronicoSoap12">
      <soap12:address location="http://localhost:8088/EstadoCuentaElectronicoSoap12Mock"/>
    </wsdl:port>
    <wsdl:port name="EstadoCuentaElectronicoHttpGet" binding="tns:EstadoCuentaElectronicoHttpGet">
      <http:address location="http://10.1.11.182/ServicioTransaccional/WSEstadoCuentaElectronico.asmx"/>
    </wsdl:port>
    <wsdl:port name="EstadoCuentaElectronicoSoap" binding="tns:EstadoCuentaElectronicoSoap">
      <soap:address location="http://10.1.11.182/ServicioTransaccional/WSEstadoCuentaElectronico.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
