BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioContrato/Contrato/V1/Schema/ContratoMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/ContratoMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ContratoMO" xmlns:AtributoBO="http://www.bcie.org/AtributoBO" xmlns:conBO="http://www.bcie.org/ContratoBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" xmlns:terBO="http://www.bcie.org/TerminoBO" xmlns:condBO="http://www.bcie.org/CondicionBO" xmlns:conMO="http://www.bcie.org/ContratoMO">
	<xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/LineaCreditoBO" schemaLocation="../../../../DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/TerminoBO" schemaLocation="../../../Termino/V1/Schema/TerminoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/CondicionBO" schemaLocation="../../../Condicion/V1/Schema/CondicionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ContratoBO" schemaLocation="ContratoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/AtributoBO" schemaLocation="../../../../Common/V1/Schema/AtributoBO.xsd"/>
	
	<xsd:element name="ConsultarContratoByIdOperacionRequest" type="ConsultarContratoByIdOperacionRequestType"/>
	<xsd:element name="ConsultarContratoByIdOperacionResponse" type="ConsultarContratoByIdOperacionResponseType"/>
	<xsd:element name="ConfigurarTCCRequest" type="ConfigurarTCCRequestType"/>
	<xsd:element name="ConfigurarTCCResponse" type="ConfigurarTCCResponseType"/>
	<xsd:element name="ActualizarContratoInstanciaProcesoRequest" type="ActualizarContratoInstanciaProcesoRequestType"/>
	<xsd:element name="ActualizarContratoInstanciaProcesoResponse" type="ActualizarContratoInstanciaProcesoResponseType"/>
	<xsd:element name="ActualizarTCCAprobacionRequest" type="ActualizarTCCAprobacionRequestType"/>
	<xsd:element name="ActualizarTCCAprobacionResponse" type="ActualizarTCCAprobacionResponseType"/>
	<xsd:element name="CrearContratoRequest" type="CrearContratoRequestType"/>
	<xsd:element name="CrearContratoResponse" type="CrearContratoResponseType"/>
	<xsd:element name="ConsultarContratroRequet" type="ConsultarContratoRequestType"/>
        <xsd:element name="ConsultarContratoBySolicitudRequest" type="ConsultarContratoBySolicitudRequestType"/>
	<xsd:element name="ConsultarContratoBySolicitudResponse" type="ConsultarContratoBySolicitudResponseType"/>
 <xsd:element name="ConsultaContratoRequest" type="ConsultarContratoType"/>
 <xsd:element name="ConsultarContratoResponse" type="ConsultarContratoResponseType"/>
	<xsd:element name="ConsultarPlazoCondicionRequest" type="ConsultarPlazoCondicionRequestType"/>
	<xsd:element name="ConsultarPlazoCondicionResponse" type="ConsultarPlazoCondicionResponseType"/>
	<xsd:element name="EliminarContratoRequest" type="EliminarContratoRequestType"/>
	<xsd:element name="EliminarContratoResponse" type="EliminarContratoResponseType"/>
	<xsd:element name="ActualizarContratoRequest" type="ActualizarContratoRequestType"/>
	<xsd:element name="ActualizarContratoResponse" type="ActualizarContratoResponseType"/>
	<xsd:element name="ConsultarContratoByInstanciaProcesoRequest" type="ConsultarContratoByInstanciaProcesoRequestType"/>
	<xsd:element name="ConsultarContratoByInstanciaProcesoResponse" type="ConsultarContratoByInstanciaProcesoResponseType"/>
        <xsd:element name="ConsultarSaldoContratoRequest" type="ConsultarSaldoContratoRequestType"/>
	<xsd:element name="ConsultarSaldoContratoResponse" type="ConsultarSaldoContratoResponseType"/>
	<xsd:complexType name="ConsultarContratoByIdOperacionRequestType">
		<xsd:sequence>
			<xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarContratoByIdOperacionResponseType">
		<xsd:sequence>
			<xsd:element name="Contrato" type="conBO:Contrato" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigurarTCCRequestType">
		<xsd:sequence>
			<xsd:element name="idProducto" type="catBO:Catalogo"/>
			<xsd:element name="idSectorInstitucional" type="catBO:Catalogo"/>
			<xsd:element name="idTipoGarantia" type="catBO:Catalogo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConfigurarTCCResponseType">
		<xsd:sequence>
			<xsd:element name="Contrato" type="conBO:Contrato" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarContratoRequestType">
		<xsd:sequence>
			<xsd:element name="Contrato" type="conBO:Contrato" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarContratoResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarLineaCreditoRequestType">
		<xsd:sequence>
			<xsd:element name="Contrato" type="conBO:Contrato"/>
			<xsd:element name="Termino" type="terBO:Termino"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarLineaCreditoResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarContratoInstanciaProcesoRequestType">
		<xsd:sequence>
			<xsd:element name="idOperacion" type="operBO:idOperacion"/>
			<xsd:element name="instanciaProceso" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarContratoInstanciaProcesoResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarTCCAprobacionRequestType">
		<xsd:sequence>
			<xsd:element name="idOperacion" type="operBO:idOperacion"/>
			<xsd:element name="Termino" type="terBO:Termino"/>
			<xsd:element name="Condicion" type="condBO:Condicion" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ActualizarTCCAprobacionResponseType">
		<xsd:sequence>
			<xsd:element name="Termino" type="terBO:Termino"/>
			<xsd:element name="Condicion" type="condBO:Condicion" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CrearContratoRequestType">
		<xsd:sequence>
			<xsd:element name="Contrato" type="conBO:Contrato"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CrearContratoResponseType">
		<xsd:sequence>
			<xsd:element name="Contrato" type="conBO:Contrato"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarContratoRequestType">
		<xsd:sequence>
			<xsd:element name="idOperacion" type="operBO:idOperacion"/>
			<xsd:element name="instanciaProceso" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarContratoType">
		<xsd:sequence>
			<xsd:element name="idContrato" type="xsd:int" minOccurs="0"/>
			<xsd:element name="instanciaProceso" type="xsd:int" minOccurs="0"/>
			<xsd:element name="nivelDetalle" type="AtributoBO:NivelType" default="CONTRATO" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarContratoResponseType">
		<xsd:sequence>
			<xsd:element name="clienteContrato" type="conBO:Contrato"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarPlazoCondicionRequestType">
		<xsd:sequence>
			<xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarPlazoCondicionResponseType">
		<xsd:sequence>
			<xsd:element name="listaTermino" type="terBO:Termino" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="listaCondicion" type="condBO:Condicion" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="Result" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListaCondicion">
		<xsd:sequence>
			<xsd:element name="idCondicion" type="xsd:decimal"/>
			<xsd:element name="idOperacion" type="xsd:decimal"/>
			<xsd:element name="idTcaCondicion" type="xsd:decimal"/>
			<xsd:element name="idEstadoTCC" type="xsd:decimal"/>
			<xsd:element name="nombre" type="xsd:string"/>
			<xsd:element name="descripcion" type="xsd:string"/>
			<xsd:element name="fechaRegistro" type="xsd:date"/>
			<xsd:element name="estatus" type="xsd:string"/>
			<xsd:element name="idCategoria" type="xsd:decimal"/>
			<xsd:element name="categoria" type="xsd:string"/>
			<xsd:element name="idControl" type="xsd:decimal"/>
			<xsd:element name="tipoControl" type="xsd:string"/>
			<xsd:element name="idFrecuencia" type="xsd:decimal"/>
			<xsd:element name="idEvento" type="xsd:decimal"/>
			<xsd:element name="tipoEvento" type="xsd:string"/>
			<xsd:element name="tipoPlazo" type="xsd:string"/>
			<xsd:element name="plazo" type="xsd:int"/>
			<xsd:element name="fechaFinal" type="xsd:date"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarContratoRequestType">
		<xsd:sequence>
			<xsd:element name="idContrato" type="linCreBO:idContrato" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EliminarContratoResponseType">
		<xsd:sequence>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarContratoByInstanciaProcesoRequestType">
		<xsd:sequence>
			<xsd:element name="Instancia_proceso" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarContratoByInstanciaProcesoResponseType">
		<xsd:sequence>
			<xsd:element name="Contrato" type="conBO:Contrato"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
        <xsd:complexType name="ConsultarSaldoContratoRequestType">
		<xsd:sequence>
			<xsd:element name="idContrato" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarSaldoContratoResponseType">
		<xsd:sequence>
			<xsd:element name="Contrato" type="conBO:Contrato"/>
			<xsd:element name="Resultado" type="resBO:Resultado"/>
		</xsd:sequence>
	</xsd:complexType>
        <xsd:complexType name="ConsultarContratoBySolicitudRequestType">
		<xsd:sequence>
			<xsd:element name="idSolicitud" type="xsd:decimal"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ConsultarContratoBySolicitudResponseType">
		<xsd:sequence>
			<xsd:element name="Contrato" type="conBO:Contrato" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
