BCIE_fenix/features/MCP/7705/SOA/09-OSB-FLEXCUBE/Schema/MapeoErrorMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/MapeoErrorMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:mapErrMO="http://www.bcie.org/MapeoErrorMO" xmlns:errBO="http://www.bcie.org/FLEXCUBE14/ErrorBO" xmlns:resBO="http://www.bcie.org/FLEXCUBE14/ResultBO">

  <xsd:import schemaLocation="../../../../Common/V1/Schema/ErrorBO.xsd" namespace="http://www.bcie.org/FLEXCUBE14/ErrorBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/FLEXCUBE14/ResultBO"/>

  <xsd:element name="requestMapeoErrorMessage" type="mapErrMO:MapeoErrorRequest"/>
  <xsd:element name="responseMapeoErrorMessage" type="mapErrMO:MapeoErrorResponse"/>

  <xsd:complexType name="MapeoErrorRequest">
    <xsd:annotation>
      <xsd:documentation>Mensaje de entrada para mapeo de errores, usar el código del objeto error</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ErrorInput" type="errBO:Error"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="MapeoErrorResponse">
    <xsd:annotation>
      <xsd:documentation>Mensaje de salida para mapeo de errores</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="ErrorOutput" type="errBO:Error"/>
      <xsd:element name="Result" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>

</xsd:schema>