BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/CrearAvisoCobro/XSD/GenerarAvisoCobroDetallado.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://service.org.bcie.www/"
            xmlns:ns1="http://www.bcie.org/herramientaOfismatica/AvisoDetallado"
            xmlns:ns0="http://service.org.bcie.www/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <xsd:import schemaLocation="AvisoCobroDetallado.xsd"
                namespace="http://www.bcie.org/herramientaOfismatica/AvisoDetallado"/>
    <xsd:element name="generarAvisoDet" type="ns0:generarAvisoDet"/>
    <xsd:element name="generarAvisoDetResponse" type="ns0:generarAvisoDetResponse"/>
    <xsd:complexType name="generarAvisoDet">
        <xsd:sequence>
            <xsd:element name="avisoDet" type="ns1:aviso" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="generarAvisoDetResponse">
        <xsd:sequence>
            <xsd:element name="return" type="xsd:base64Binary" minOccurs="0" nillable="true"/>
        </xsd:sequence>
    </xsd:complexType>
    
</xsd:schema>