AG_2019/OSB/AlmacenesGarcia_DEV/RetailOperations/SellService/PriceChangeTaskSvc/Resources/PriceChangeTaskSvcWSDL.wsdl

<wsdl:definitions name="PriceChangeTaskSvc" targetNamespace="http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/v1.0" xmlns:tns="http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/v1.0" xmlns:inp1="http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
           <xsd:import namespace=" http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/v1" schemaLocation="../Schema/PriceChangeTaskSvcSchema.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestPriceChange">
        <wsdl:part name="requestPriceChange" element="inp1:requestPriceChange"/>
    </wsdl:message>
    
    <wsdl:message name="savePriceChangeEventData">
        <wsdl:part name="savePriceChangeEventData" element="inp1:savePriceChangeEventData"/>
    </wsdl:message>
    
    <wsdl:message name="distributeApprovedChangeData">
        <wsdl:part name="distributeApprovedChangeData" element="inp1:distributedApprovedPriceChange"/>
    </wsdl:message>
    
    <wsdl:message name="notifySupportDesk">
        <wsdl:part name="notifySupportDeskType" element="inp1:notifySupportDeskType"/>
    </wsdl:message>
    
    <wsdl:portType name="PriceChangePort">
        <wsdl:operation name="requestPriceChange">
            <wsdl:input message="tns:requestPriceChange"/>
            <wsdl:output message="tns:requestPriceChangeResponse"/>
        </wsdl:operation>
        <wsdl:operation name="savePriceChangeEventData">
            <wsdl:input message="tns:savePriceChangeEventData"/>
        </wsdl:operation>
        <wsdl:operation name="distributeApprovedChangeData">
            <wsdl:input message="tns:distributeApprovedChangeData"/>
        </wsdl:operation>
        <wsdl:operation name="notifySupportDesk">
            <wsdl:input message="tns:notifySupportDesk"/>
        </wsdl:operation>
    </wsdl:portType>
    
    
    <wsdl:binding name="PriceChangeBinding" type="tns:PriceChangePort">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="requestPriceChange">
            <soap12:operation style="document" soapAction="http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/v1.0/requestPriceChange"/>
            <wsdl:input>
                <soap12:body use="literal" parts="requestPriceChange"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="savePriceChangeEventData">
            <soap12:operation style="document" soapAction="http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/v1.0/savePriceChangeEventData"/>
            <wsdl:input>
                <soap12:body use="literal" parts="savePriceChangeEventData"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="distributeApprovedChangeData">
            <soap12:operation style="document" soapAction="http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/v1.0/distributeApprovedChangeData"/>
            <wsdl:input>
                <soap12:body use="literal" parts="distributeApprovedChangeData"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="notifySupportDesk">
            <soap12:operation style="document" soapAction="http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/v1.0/notifySupportDesk"/>
            <wsdl:input>
                <soap12:body use="literal" parts="notifySupportDeskType"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:message name="requestPriceChangeResponse">
        <wsdl:part name="requestPriceChangeResponse" element="inp1:requestPriceChangeResponse"/>
    </wsdl:message>
</wsdl:definitions>