Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/AccountLoan/AcctLoanAgreeAdd/AcctLoanAgreeAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctLoanAgreeAdd_V1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:eoptAcctLoanAgreeAdd="http://xmlns.banesco.com/eopt/AcctLoanAgreeAdd_V1.0"
           xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0"
           elementFormDefault="qualified">
  <xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
  <xs:element name="AcctLoanAgreeAddRq" type="eoptAcctLoanAgreeAdd:AcctLoanAgreeAddRq_Type"/>
  <xs:element name="AcctLoanAgreeAddRs" type="eoptAcctLoanAgreeAdd:AcctLoanAgreeAddRs_Type"/>
  <xs:complexType name="AcctLoanAgreeAddRs_Type">
    <xs:sequence>
      <xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Acct" type="eoptAcctLoanAgreeAdd:Acct" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctLoanAgreeAddRq_Type">
    <xs:sequence>
      <xs:element name="Acct" type="eoAcct:Acct" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Acct">
    <xs:annotation>
      <xs:documentation>Account Information Aggregate. </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CreditAcctData" type="eoptAcctLoanAgreeAdd:CreditAcctData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CreditAcctData">
    <xs:annotation>
      <xs:documentation>Credit Account Data.

Used to maintain and retrieve data specific to credit products. Could have one register per CurrencyCode</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="Agreement" type="eoAcct:Agreement" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
