Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/BPAENQACCOUNTPN_V1.0/EnquiryaccountNaturalesConsultaCuentasNaturalesResponse.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.temenos.com/T24/ofs/Response" targetNamespace="http://www.temenos.com/T24/ofs/Response" xmlns:rescns="http://www.temenos.com/T24/ofs/ResponseCommon" xmlns:ns0="http://www.temenos.com/T24/ofs/BPAENQACCOUNTPNType">
<xsd:import namespace="http://www.temenos.com/T24/ofs/ResponseCommon" schemaLocation="ResponseCommonType.xsd"/>
<xsd:import namespace="http://www.temenos.com/T24/ofs/BPAENQACCOUNTPNType" schemaLocation="BPAENQACCOUNTPNType.xsd"/>
<xsd:element name="BPAENQACCOUNTPNResponse">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="ResponseCommon" type="rescns:ResponseCommonType"/>
<xsd:element minOccurs="0" name="BPAENQACCOUNTPN" type="ns0:BPAENQACCOUNTPNType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
