BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ValidarEnvioNotificacionSupervisionTCC/XSD/ValidarEnvioNotifSupervTCC.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ValidarEnvioNotifSupervTCC" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ValidarEnvioNotifSupervTCC" elementFormDefault="qualified">
   <element name="ValidarEnvioNotifSupervTCCRequest" type="db:ValidarEnvioNotifSupervTCCRequest"/>
   <element name="ValidarEnvioNotifSupervTCCResponse" type="db:ValidarEnvioNotifSupervTCCResponse"/>
   <complexType name="ValidarEnvioNotifSupervTCCRequest">
      <sequence>
         <element name="P_ID_SUPERVISION" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="P_DESC_PLANTILLA" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="P_ID_OPERACION" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="ValidarEnvioNotifSupervTCCResponse">
      <sequence>
         <element name="P_ESTADO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="P_CODIGO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="P_MENSAJE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
</schema>
