Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/UserBanModif/UserDeactivationDesactivacionautomaticadeusuarioRequest.xsd

<?xml version="1.0" encoding="UTF-8"?><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.temenos.com/T24/ofs/Request" targetNamespace="http://www.temenos.com/T24/ofs/Request" xmlns:reqcns="http://www.temenos.com/T24/ofs/RequestCommon" xmlns:ns0="http://www.temenos.com/T24/ofs/USERBANMODIFType">
<xsd:import namespace="http://www.temenos.com/T24/ofs/RequestCommon" schemaLocation="../Common/RequestCommonType.xsd"/>
<xsd:import namespace="http://www.temenos.com/T24/ofs/USERBANMODIFType" schemaLocation="USERBANMODIFType.xsd"/>
<xsd:element name="USERBANMODIFRequest">
<xsd:complexType>
<xsd:sequence>
<xsd:element minOccurs="0" name="RequestCommon" type="reqcns:RequestCommonType"/>
<xsd:element minOccurs="0" name="USERBANMODIF" type="ns0:USERBANMODIFType"/>
</xsd:sequence>
</xsd:complexType>
</xsd:element>
</xsd:schema>
