BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioDesembolso/Desembolso/V1/Schema/DesembolsoMO.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:desMO="http://www.bcie.org/DesembolsoMO"
            xmlns:desBO="http://www.bcie.org/DesembolsoBO" xmlns:resBO="http://www.bcie.org/ResultBO"
            xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:linBO="http://www.bcie.org/LineaCreditoBO"
            xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:regTaBO="http://www.bcie.org/ReglaTareaBO"
            xmlns:comBO="http://www.bcie.org/CommonBO" xmlns:regBO="http://www.bcie.org/ReglaBO"
            xmlns:hceBO="http://www.bcie.org/HerramientaCEBO" xmlns:cmiBO="http://www.bcie.org/ComisionBO"
            xmlns:catBO="http://www.bcie.org/CatalogoBO" targetNamespace="http://www.bcie.org/DesembolsoMO"
            xmlns:conBO="http://www.bcie.org/CondicionBO"
            xmlns:clieBO="http://www.bcie.org/ClienteBO"
            xmlns:docuBO="http://www.bcie.org/DocumentoBO"
            xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
            elementFormDefault="qualified">
  <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/DesembolsoBO" schemaLocation="DesembolsoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/LineaCreditoBO" schemaLocation="../../../../DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ReglaTareaBO" schemaLocation="../../../../Utilidades/ReglaTarea/V1/Schema/ReglaTareaBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ReglaBO" schemaLocation="../../../../Common/V1/Schema/ReglaBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CommonBO" schemaLocation="../../../../Common/V1/Schema/CommonBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/HerramientaCEBO" schemaLocation="../../../../DominioHerramientaCE/HerramientaCE/V1/Schema/HerramientaCEBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ComisionBO" schemaLocation="../../../../DominioLineaCredito/Comision/V1/Schema/ComisionBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CondicionBO" schemaLocation="../../../../DominioContrato/Condicion/V1/Schema/CondicionBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="../../../../DominioCliente/Cliente/V1/Schema/ClienteBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/DocumentoBO"
              schemaLocation="../../../../DominioDocumento/Documento/V1/Schema/DocumentoBO.xsd"/>
  <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
              schemaLocation="../../../../../BPM/Schema/Comun/Header/V1/HeaderOPN.xsd"/>
  
  <xsd:element name="ConsultarDesembolsosByIdRequest" type="desMO:ConsultarDesembolsosByIdRequestType"/>
  <xsd:element name="ConsultarDesembolsosByIdResponse" type="desMO:ConsultarDesembolsosByIdResponseType"/>
  <xsd:element name="ConsultarDesembolsosConfiguracionByIdRequest" type="desMO:ConsultarDesembolsosConfiguracionByIdRequestType"/>
  <xsd:element name="ConsultarDesembolsosConfiguracionByIdResponse" type="desMO:ConsultarDesembolsosConfiguracionByIdResponseType"/>
  <xsd:element name="ConsultarDetalleTransaccionRequest" type="desMO:ConsultarDetalleTransaccionRequestType"/>
  <xsd:element name="ConsultarDetalleTransaccionResponse" type="desMO:ConsultarDetalleTransaccionResponseType"/>
  <xsd:element name="CrearActualizarDetalleTransaccionRequest" type="desMO:CrearActualizarDetalleTransaccionRequestType"/>
  <xsd:element name="CrearActualizarDetalleTransaccionResponse" type="desMO:CrearActualizarDetalleTransaccionResponseType"/>
  <xsd:element name="PropagarUtilizacionRequest" type="desMO:PropagarUtilizacionRequestType"/>
  <xsd:element name="PropagarUtilizacionResponse" type="desMO:PropagarUtilizacionResponseType"/>
  <xsd:element name="AplicarCompensacionDesembolsoRequest" type="desMO:AplicarCompensacionDesembolsoRequestType"/>
  <xsd:element name="AplicarCompensacionDesembolsoResponse" type="desMO:AplicarCompensacionDesembolsoResponseType"/>
  <xsd:element name="ValidarProgramacionRequest" type="desMO:ValidarProgramacionRequestType"/>
  <xsd:element name="ValidarProgramacionResponse" type="desMO:ValidarProgramacionResponseType"/>
  <xsd:element name="ConsultarInformacionReglasByIdRequest" type="desMO:ConsultarInformacionReglasByIdRequestType"/>
  <xsd:element name="ConsultarInformacionReglasByIdResponse" type="desMO:ConsultarInformacionReglasByIdResponseType"/>
  <xsd:element name="ValidarReglasDesembolsoRequest" type="desMO:ValidarReglasDesembolsoRequestType"/>
  <xsd:element name="ValidarReglasDesembolsoResponse" type="desMO:ValidarReglasDesembolsoResponseType"/>
  <xsd:element name="ConsultarReglasDesembolsoRequest" type="desMO:ConsultarReglasDesembolsoRequestType"/>
  <xsd:element name="ConsultarReglasDesembolsoResponse" type="desMO:ConsultarReglasDesembolsoResponseType"/>
  <xsd:element name="CrearActualizarReglasDesembolsoRequest" type="desMO:CrearActualizarReglasDesembolsoRequestType"/>
  <xsd:element name="CrearActualizarReglasDesembolsoResponse" type="desMO:CrearActualizarReglasDesembolsoResponseType"/>
  <xsd:element name="ConsultarTransitoGrupoPaisRequest" type="desMO:ConsultarTransitoGrupoPaisRequestType"/>
  <xsd:element name="ConsultarTransitoGrupoPaisResponse" type="desMO:ConsultarTransitoGrupoPaisResponseType"/>
  <xsd:element name="ValidarLimitesRequest" type="desMO:ValidarLimitesRequestType"/>
  <xsd:element name="ValidarLimitesResponse" type="desMO:ValidarLimitesResponseType"/>
  <xsd:element name="ConsultarLimiteByLineaFinancieraRequest" type="desMO:ConsultarLimiteByLineaFinancieraRequestType"/>
  <xsd:element name="ConsultarLimiteByLineaFinancieraResponse" type="desMO:ConsultarLimiteByLineaFinancieraResponseType"/>
  <xsd:element name="ConsultarCargoComisionRequest" type="desMO:ConsultarCargoComisionRequestType"/>
  <xsd:element name="ConsultarCargoComisionResponse" type="desMO:ConsultarCargoComisionResponseType"/>
  <xsd:element name="ValidarLimitesLIMRequest" type="desMO:ValidarLimitesLIMRequestType"/>
  <xsd:element name="ValidarLimitesLIMResponse" type="desMO:ValidarLimitesLIMResponseType"/>
  <xsd:element name="ConsultarCargoByProductoRequest" type="desMO:ConsultarCargoByProductoRequestType"/>
  <xsd:element name="ConsultarCargoByProductoResponse" type="desMO:ConsultarCargoByProductoResponseType"/>
  <xsd:element name="ConsultarComisionesCargosRequest" type="desMO:ConsultarComisionesCargosRequestType"/>
  <xsd:element name="ConsultarComisionesCargosResponse" type="desMO:ConsultarComisionesCargosResponseType"/>
  <xsd:element name="ConsultarDesembolsoBPELRequest" type="desMO:ConsultarDesembolsoBPELRequestType"/>
  <xsd:element name="ConsultarDesembolsoBPELResponse" type="desMO:ConsultarDesembolsoBPELResponseType"/>
  <xsd:element name="ConsultarMomentoCobroRequest" type="desMO:ConsultarMomentoCobroRequestType"/>
  <xsd:element name="ConsultarMomentoCobroResponse" type="desMO:ConsultarMomentoCobroResponseType"/>
  <xsd:element name="ConsultarComisionesAsignadasRequest" type="desMO:ConsultarComisionesAsignadasRequestType"/>
  <xsd:element name="ConsultarComisionesAsignadasResponse" type="desMO:ConsultarComisionesAsignadasResponseType"/>
  <xsd:element name="ConsultarComisionByMomentoCobroRequest" type="desMO:ConsultarComisionByMomentoCobroRequestType"/>
  <xsd:element name="ConsultarComisionByMomentoCobroResponse" type="desMO:ConsultarComisionByMomentoCobroResponseType"/>
  <xsd:element name="ConsultarComisionesRequest" type="desMO:ConsultarComisionesRequestType"/>
  <xsd:element name="ConsultarComisionesResponse" type="desMO:ConsultarComisionesResponseType"/>
  <xsd:element name="ConsultarExcepcionSolicitudRequest" type="desMO:ConsultarExcepcionSolicitudRequestType"/>
  <xsd:element name="ConsultarExcepcionSolicitudResponse" type="desMO:ConsultarExcepcionSolicitudResponseType"/>
  <xsd:element name="CrearActualizarExcepcionSolicitudRequest" type="desMO:CrearActualizarExcepcionSolicitudRequestType"/>
  <xsd:element name="CrearActualizarExcepcionSolicitudResponse" type="desMO:CrearActualizarExcepcionSolicitudResponseType"/>
  <xsd:element name="ExceptuarSolicitudRequest" type="desMO:ExceptuarSolicitudRequestType"/>
  <xsd:element name="ExceptuarSolicitudResponse" type="desMO:ExceptuarSolicitudResponseType"/>
  <xsd:element name="ConsultarSolicitudDesembolsoRequest" type="desMO:ConsultarSolicitudDesembolsoRequestType"/>
  <xsd:element name="ConsultarSolicitudDesembolsoResponse" type="desMO:ConsultarSolicitudDesembolsoResponseType"/>
  <xsd:element name="ConsultarLimitesProgramaRequest" type="desMO:ConsultarLimitesProgramaRequestType"/>
  <xsd:element name="ConsultarLimitesProgramaResponse" type="desMO:ConsultarLimitesProgramaResponseType"/>
  <xsd:element name="ValidarLimiteProgramaBPELRequest" type="desMO:ValidarLimiteProgramaBPELRequestType"/>
  <xsd:element name="ValidarLimiteProgramaBPELResponse" type="desMO:ValidarLimiteProgramaBPELResponseType"/>
  <xsd:element name="CrearActualizarSolicitudDesembolsoRequest" type="desMO:CrearActualizarSolicitudDesembolsoRequestType"/>
  <xsd:element name="CrearActualizarSolicitudDesembolsoResponse" type="desMO:CrearActualizarSolicitudDesembolsoResponseType"/>
  <xsd:element name="CrearReservaFondosMFCRequest" type="desMO:CrearReservaFondosMFCRequestType"/>
  <xsd:element name="CrearReservaFondosMFCResponse" type="desMO:CrearReservaFondosMFCResponseType"/>
  <xsd:element name="EliminarReservaFondosMFCRequest" type="desMO:EliminarReservaFondosMFCRequestType"/>
  <xsd:element name="EliminarReservaFondosMFCResponse" type="desMO:EliminarReservaFondosMFCResponseType"/>
  <xsd:element name="ConsultarTransferenciasBancariasByIdRequest" type="desMO:ConsultarTransferenciasBancariasByIdRequestType"/>
  <xsd:element name="ConsultarTransferenciasBancariasByIdResponse" type="desMO:ConsultarTransferenciasBancariasByIdResponseType"/>
  <xsd:element name="ConsultarSaldoCarteraRequest" type="desMO:ConsultarSaldoCarteraRequestType"/>
  <xsd:element name="ConsultarSaldoCarteraResponse" type="desMO:ConsultarSaldoCarteraResponseType"/>
  <xsd:element name="ValidarLimiteLineaFinacieraRequest" type="desMO:ValidarLimiteLineaFinacieraRequestType"/>
  <xsd:element name="ValidarLimiteLineaFinacieraResponse" type="desMO:ValidarLimiteLineaFinacieraResponseType"/>
  <xsd:element name="LimitePorcentajeLineaRequest" type="desMO:LimitePorcentajeLineaRequestType"/>
  <xsd:element name="LimitePorcentajeLineaResponse" type="desMO:LimitePorcentajeLineaResponseType"/>
  <xsd:element name="PropagarReservaRequest" type="desMO:PropagarReservaRequestType"/>
  <xsd:element name="PropagarReservaResponse" type="desMO:PropagarReservaResponseType"/>
  <xsd:element name="PropagarTransferenciaRequest" type="desMO:PropagarTransferenciaRequestType"/>
  <xsd:element name="PropagarTransferenciaResponse" type="desMO:PropagarTransferenciaResponseType"/>
  <xsd:element name="PropagarContratoDesembolsoRequest" type="desMO:PropagarContratoDesembolsoRequestType"/>
  <xsd:element name="PropagarContratoDesembolsoResponse" type="desMO:PropagarContratoDesembolsoResponseType"/>
  <xsd:element name="PropagarTransSinSalidaRecursosRequest" type="desMO:PropagarTransSinSalidaRecursosRequestType"/>
  <xsd:element name="PropagarTransSinSalidaRecursosResponse" type="desMO:PropagarTransSinSalidaRecursosResponseType"/>
  <xsd:element name="ConsultarSaldoRequest" type="desMO:ConsultarSaldoRequestType"/>
  <xsd:element name="ConsultarSaldoResponse" type="desMO:ConsultarSaldoResponseType"/>
  <xsd:element name="CrearTransferenciaFLEXCUBERequest" type="desMO:CrearTransferenciaFLEXCUBERequestType"/>
  <xsd:element name="CrearTransferenciaFLEXCUBEResponse" type="desMO:CrearTransferenciaFLEXCUBEResponseType"/>
  <xsd:element name="UpsertTransferenciasRequest" type="desMO:UpsertTransferenciasRequestType"/>
  <xsd:element name="UpsertTransferenciasResponse" type="desMO:UpsertTransferenciasResponseType"/>
  <xsd:element name="ValidarHoraCierreRequest" type="desMO:ValidarHoraCierreRequestType"/>
  <xsd:element name="ValidarHoraCierreResponse" type="desMO:ValidarHoraCierreRespnseType"/>
  <xsd:element name="ValidarPlazoF1Request" type="desMO:ValidarPlazoF1RequestType"/>
  <xsd:element name="ValidarPlazoF1Response" type="desMO:ValidarPlazoF1ResponseType"/>
  <xsd:element name="ValidarF1Request" type="desMO:ValidarF1RequestType"/>
  <xsd:element name="ValidarF1Response" type="desMO:ValidarF1ResponseType"/>

  <xsd:element name="ConsultarTransferenciasRecursosByIdRequest" type="desMO:ConsultarTransferenciasRecursosByIdRequestType"/>
  <xsd:element name="ConsultarTransferenciasRecursosByIdResponse" type="desMO:ConsultarTransferenciasRecursosByIdResponseType"/>
  <xsd:element name="ConsultarCumplimientoCondicionesRequest" type="desMO:ConsultarCumplimientoCondicionesRequestType"/>
  <xsd:element name="ConsolidarFlujoCajaRequest" type="desMO:ConsolidarFlujoCajaRequestType"/>
  <xsd:element name="ConsultarCumplimientoCondicionesResponse" type="desMO:ConsultarCumplimientoCondicionesResponseType"/>
  <xsd:element name="ConsultarDetalleTransaccionNRequest" type="desMO:ConsultarDetalleTransaccionNRequestType"/>
  <xsd:element name="ConsultarDetalleTransaccionNResponse" type="desMO:ConsultarDetalleTransaccionNResponseType"/>
  <xsd:element name="CondicionesDesembolsoRequest" type="desMO:CondicionesDesembolsoRequestType"/>
  <xsd:element name="CondicionesDesembolsoReponse" type="desMO:CondicionesDesembolsoResponseType"/>
  <xsd:element name="ConsultarPlazoComponenteRequest" type="desMO:ConsultarPlazoComponenteRequestType"/>
  <xsd:element name="ConsultarPlazoComponenteResponse" type="desMO:ConsultarPlazoComponenteResponseType"/>
  <xsd:element name="ConsultarPlazoGraciaByLineaFinancieraRequest" type="desMO:ConsultarPlazoGraciaByLineaFinancieraRequestType"/>
  <xsd:element name="ConsultarPlazoGraciaByLineaFinancieraResponse" type="desMO:ConsultarPlazoGraciaByLineaFinancieraResponseType"/>
  <xsd:element name="ValidarPlazoRequest" type="desMO:ValidarPlazoRequestType"/>
  <xsd:element name="ValidarPlazoResponse" type="desMO:ValidarPlazoResponseType"/>
  <xsd:element name="CrearDesembolsoLoanFLEXCUBERequest" type="desMO:CrearDesembolsoLoanFLEXCUBERequestType"/>
  <xsd:element name="CrearDesembolsoLoanFLEXCUBEResponse" type="desMO:CrearDesembolsoLoanFLEXCUBEResponseType"/>
  <xsd:element name="CrearActualizarDesembolsosRequest" type="desMO:CrearActualizarDesembolsosRequestType"/>
  <xsd:element name="CrearActualizarDesembolsosResponse" type="desMO:CrearActualizarDesembolsosResponseType"/>
  <xsd:element name="ConsultarComisionesNoCobradasBPELRequest" type="desMO:ConsultarComisionesNoCobradasBPELRequestType"/>
  <xsd:element name="ConsultarComisionesNoCobradasBPELResponse" type="desMO:ConsultarComisionesNoCobradasBPELResponseType"/>
  <xsd:element name="CrearActualizarCondicionesFinancierasRequest" type="desMO:CrearActualizarCondicionesFinancierasRequestType"/>
  <xsd:element name="CrearActualizarCondicionesFinancierasResponse" type="desMO:CrearActualizarCondicionesFinancierasResponseType"/>
  <xsd:element name="EnvioGastoBPELRequest" type="desMO:EnvioGastoBPELRequestType"/>
  <xsd:element name="EnvioGastoBPELResponse" type="desMO:EnvioGastoBPELResponseType"/>
  <xsd:element name="CrearActualizarTransferenciaFT05Request" type="desMO:CrearActualizarTransferenciaFT05RequestType"/>
  <xsd:element name="CrearActualizarTransferenciaFT05Response" type="desMO:CrearActualizarTransferenciaFT05ResponseType"/>
  <xsd:element name="CrearActualizarTransferenciaRecursosRequest" type="desMO:CrearActualizarTransferenciaRecursosRequestType"/>
  <xsd:element name="CrearActualizarTransferenciaRecursosResponse" type="desMO:CrearActualizarTransferenciaRecursosResponseType"/>
  <xsd:element name="PropagarTransferenciaRecursosRequest" type="desMO:PropagarTransferenciasRecursosRequestType"/>
  <xsd:element name="PropagarTransferenciaRecursosResponse" type="desMO:PropagarTransferenciasRecursosResponseType"/>
  <xsd:element name="ValidarCondicionesDesembolsoRequest" type="desMO:ValidarCondicionesDesembolsoRequestType"/>
  <xsd:element name="ValidarCondicionesDesembolsoResponse" type="desMO:ValidarCondicionesDesembolsoResponseType"/>
  <xsd:element name="CrearDesembolsoComplejoFLEXCUBERequest" type="desMO:CrearDesembolsoComplejoFLEXCUBERequestType"/>
  <xsd:element name="CrearDesembolsoComplejoFLEXCUBEResponse" type="desMO:CrearDesembolsoComplejoFLEXCUBEResponseType"/>
  <xsd:element name="VerificarValidacionAsignacionRequest" type="desMO:VerificarValidacionAsignacionRequestType"/>
  <xsd:element name="VerificarValidacionAsignacionResponse" type="desMO:VerificarValidacionAsignacionResponseType"/>
  <xsd:element name="CalcularCuotasRequest" type="desMO:CalcularCuotasRequestType"/>
  <xsd:element name="CalcularCuotasResponse" type="desMO:CalcularCuotasResponseType"/>
  <xsd:element name="EnvioCobroBPELRequest" type="desMO:EnvioCobroBPELRequestType"/>
  <xsd:element name="EnvioCobroBPELResponse" type="desMO:EnvioCobroBPELResponseType"/>
  <xsd:element name="ActualizarPrestamoFLEXCUBERequest" type="desMO:ActualizarPrestamoFLEXCUBERequestType"/>
  <xsd:element name="ActualizarPrestamoFLEXCUBEResponse" type="desMO:ActualizarPrestamoFLEXCUBEResponseType"/>
  <xsd:element name="PropagarDesembolsosRequest" type="desMO:PropagarDesembolsosRequestType"/>
  <xsd:element name="PropagarDesembolsosResponse" type="desMO:PropagarDesembolsosResponseType"/>
  <xsd:element name="AplicarFactibilidadRequest" type="desMO:AplicarFactibilidadRequestType"/>
  <xsd:element name="AplicarFactibilidadResponse" type="desMO:AplicarFactibilidadResponseType"/>
  <xsd:element name="ValidarLimiteDestinoRequest" type="desMO:ValidarLimiteDestinoRequestType"/>
  <xsd:element name="ValidarLimiteDestinoResponse" type="desMO:ValidarLimiteDestinoResponseType"/>
  <xsd:element name="CrearActualizarComisionDesembolsoRequest" type="desMO:CrearActualizarComisionDesembolsoRequestType"/>
  <xsd:element name="CrearActualizarComisionDesembolsoResponse" type="desMO:CrearActualizarComisionDesembolsoResponseType"/>
  <xsd:element name="ComisionesDesembolsoRequest" type="desMO:ComisionesDesembolsoRequestType"/>
  <xsd:element name="ComisionesDesembolsoResponse" type="desMO:ComisionesDesembolsoResponseType"/>
  <xsd:element name="GeneraReportePlanAmortizacionRequest" type="desMO:GeneraReportePlanAmortizacionRequestType"/>
  <xsd:element name="GeneraReportePlanAmortizacionResponse" type="desMO:GeneraReportePlanAmortizacionResponseType"/>
  <xsd:element name="ValidarMontoMaximoDesembolsoRequest" type="desMO:ValidarMontoMaximoDesembolsoRequestType"/>
  <xsd:element name="ValidarMontoMaximoDesembolsoResponse" type="desMO:ValidarMontoMaximoDesembolsoResponseType"/>
  <xsd:element name="ValidarLoanComplejoBPELRequest" type="desMO:ValidarLoanComplejoBPELRequestType"/>
  <xsd:element name="ValidarLoanComplejoBPELResponse" type="desMO:ValidarLoanComplejoBPELResponseType"/> 
  
  <xsd:element name="ValidarFechaVencimientoRequest" type="desMO:ValidarFechaVencimientoRequestType"/>
  <xsd:element name="ValidarFechaVencimientoResponse" type="desMO:ValidarFechaVencimientoResponseType"/> 
  <xsd:element name="ActualizarEstadoContratoDesembolsoRequest"  type="desMO:ActualizarEstadoContratoDesembolsoRequestType"/>
  <xsd:element name="ActualizarEstadoContratoDesembolsoResponse" type="desMO:ActualizarEstadoContratoDesembolsoResponseType"/> 
  <xsd:element name="InicioCancelarInstanciaRequest" type="desMO:InicioCancelarInstanciaRequestType"/>
  <xsd:element name="InicioCancelarInstanciaResponse" type="desMO:InicioCancelarInstanciaResponseType"/>
  
  
  <xsd:complexType name="ConsultarDesembolsosByIdRequestType">
    <xsd:sequence>
      <xsd:element name="idContratoDesembolso" type="desBO:idDesembolso" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDesembolsosByIdResponseType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDesembolsosConfiguracionByIdRequestType">
    <xsd:sequence>
      <xsd:element name="idContratoDesembolso" type="desBO:idDesembolso" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDesembolsosConfiguracionByIdResponseType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VerificarValidacionAsignacionRequestType">
    <xsd:sequence>
       <xsd:element name="idSolicitud" type="xsd:long"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VerificarValidacionAsignacionResponseType">
    <xsd:sequence>
       <xsd:element name="SolicitudDesembolso" type="desBO:SolicitudDesembolso"/>
       <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ConsultarDetalleTransaccionRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDetalleTransaccionResponseType">
    <xsd:sequence>
      <xsd:element name="TransaccionDesembolso" type="desBO:TransaccionType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarDetalleTransaccionRequestType">
    <xsd:sequence>
      <xsd:element name="TransaccionDesembolso" type="desBO:TransaccionType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarDetalleTransaccionResponseType">
    <xsd:sequence>
      <xsd:element name="TransaccionDesembolso" type="desBO:TransaccionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarUtilizacionRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarUtilizacionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AplicarCompensacionDesembolsoRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
      <xsd:element name="plataforma" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="DetalleTransaccion" maxOccurs="unbounded" type="desBO:DetalleTransaccionBasicType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
   <xsd:complexType name="AplicarCompensacionDesembolsoParametrosRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
      <xsd:element name="plataforma" type="xsd:string" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="DetalleTransaccion" maxOccurs="unbounded" type="desBO:DetalleTransaccionBasicType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AplicarCompensacionDesembolsoResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarProgramacionRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarProgramacionResponseType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarInformacionReglasByIdRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarInformacionReglasByIdResponseType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:Cliente"/>
      <xsd:element name="LineaCredito" type="linBO:LineaCredito"/>
      <xsd:element name="Operacion" type="operBO:Operacion"/>
      <xsd:element name="Desembolso" type="desBO:ContratoDesembolso"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarReglasDesembolsoRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
      <xsd:element name="instanciaProceso" type="xsd:long"/>
      <xsd:element name="TareaReglas" type="regTaBO:TareaReglas"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarReglasDesembolsoResponseType">
    <xsd:sequence>
      <xsd:element name="TareaReglas" type="regTaBO:TareaReglas"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarReglasDesembolsoRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarReglasDesembolsoResponseType">
    <xsd:sequence>
      <xsd:element name="ReglasEvaluacion" type="regTaBO:ReglaEvaluacionType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarReglasDesembolsoRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
      <xsd:element name="ReglasDesembolso" type="regBO:ReglaBasicType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarReglasDesembolsoResponseType">
    <xsd:sequence>
      <xsd:element name="ReglasDesembolso" type="regBO:ReglaBasicType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTransitoGrupoPaisRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="cliBO:Cliente"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTransitoGrupoPaisResponseType">
    <xsd:sequence>
      <xsd:element name="Montos" type="comBO:MontoType" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarLimitesRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarLimitesResponseType">
    <xsd:sequence>
      <xsd:element name="Regla" type="regBO:ReglaBasicType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarLimitesLIMRequestType">
    <xsd:sequence>
      <xsd:element name="Operacion" type="operBO:Operacion"/>
      <xsd:element name="Monto" type="comBO:MontoType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarLimitesLIMResponseType">
    <xsd:sequence>
      <xsd:element name="Regla" type="regBO:ReglaBasicType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarLimiteByLineaFinancieraRequestType">
    <xsd:sequence>
      <xsd:element name="Programa" type="hceBO:ProgramaType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarLimiteByLineaFinancieraResponseType">
    <xsd:sequence>
      <xsd:element name="LimiteGlobalLineaFinanciera" type="desBO:LimiteGlobalLineaFinanciera" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCargoComisionRequestType">
    <xsd:sequence>
      <xsd:element name="Desembolso" type="desBO:ContratoDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCargoComisionResponseType">
    <xsd:sequence>
      <xsd:element name="Desembolso" type="desBO:ContratoDesembolso"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCargoByProductoRequestType">
    <xsd:sequence>
      <xsd:element name="Desembolso" type="desBO:ContratoDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCargoByProductoResponseType">
    <xsd:sequence>
      <xsd:element name="Cargo" type="desBO:CargoType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionesCargosRequestType">
    <xsd:sequence>
      <xsd:element name="Desembolso" type="desBO:ContratoDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionesCargosResponseType">
    <xsd:sequence>
      <xsd:element name="Desembolso" type="desBO:ContratoDesembolso" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDesembolsoBPELRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDesembolsoBPELResponseType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarMomentoCobroRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarMomentoCobroResponseType">
    <xsd:sequence>
      <xsd:element name="MomentoCobro" type="catBO:Catalogo" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionesAsignadasRequestType">
    <xsd:sequence>
      <xsd:element name="Desembolso" type="desBO:ContratoDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionesAsignadasResponseType">
    <xsd:sequence>
      <xsd:element name="Desembolso" type="desBO:ContratoDesembolso" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionByMomentoCobroRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idMomentoCobro" type="catBO:Catalogo"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionByMomentoCobroResponseType">
    <xsd:sequence>
      <xsd:element name="Desembolso" type="desBO:ContratoDesembolso" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionesRequestType">
    <xsd:sequence>
      <xsd:element name="Desembolso" type="desBO:ContratoDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionesResponseType">
    <xsd:sequence>
      <xsd:element name="Desembolso" type="desBO:ContratoDesembolso" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarExcepcionSolicitudRequestType">
    <xsd:sequence>
      <xsd:element name="idSolicitud" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarExcepcionSolicitudResponseType">
    <xsd:sequence>
      <xsd:element name="SolicitudDesembolso" type="desBO:SolicitudDesembolso"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarExcepcionSolicitudRequestType">
    <xsd:sequence>
      <xsd:element name="Excepcion" type="desBO:ExcepcionType" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarExcepcionSolicitudResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExceptuarSolicitudRequestType">
    <xsd:sequence>
      <xsd:element name="idSolicitud" type="desBO:idDesembolso"/>
      <xsd:element name="instanciaProceso" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ExceptuarSolicitudResponseType">
    <xsd:sequence>
      <xsd:element name="Excepcion" type="desBO:ExcepcionType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarSolicitudDesembolsoRequestType">
    <xsd:sequence>
      <xsd:element name="idSolicitud" type="desBO:idDesembolso"/>
      <xsd:element name="idContratoDesembolso" type="desBO:idDesembolso"/>
      <xsd:element name="idOperacion" type="desBO:idDesembolso" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarSolicitudDesembolsoResponseType">
    <xsd:sequence>
      <xsd:element name="SolicitudDesembolso" type="desBO:SolicitudDesembolsoType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarSolicitudDesembolsoRequestType">
    <xsd:sequence>
      <xsd:element name="IdOperacion" type="operBO:idOperacion"/>
      <xsd:element name="SolicitudDesembolso" type="desBO:SolicitudDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarSolicitudDesembolsoResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReservaFondosMFCRequestType">
    <xsd:sequence>
      <xsd:element name="Referencia" type="xsd:string"/>
      <xsd:element name="FechaRequerido" type="xsd:date"/>
      <xsd:element name="Monto" type="comBO:MontoType"/>
      <xsd:element name="Descripcion" type="xsd:string"/>
      <xsd:element name="CodigoUsuario" type="xsd:string"/>
      <xsd:element name="Autorizar" type="xsd:string"/>
      <xsd:element name="CuentaBancaria" type="xsd:string"/>
      <xsd:element name="Disponible" type="xsd:string"/>
      <xsd:element name="FechaAplicacion" type="xsd:date"/>
      <xsd:element name="FechaAprobacion" type="xsd:date"/>
      <xsd:element name="UsuarioAutoriza" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReservaFondosMFCResponseType">
    <xsd:sequence>
      <xsd:element name="NumeroReserva" type="xsd:int"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarReservaFondosMFCRequestType">
    <xsd:sequence>
      <xsd:element name="NumeroReserva" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarReservaFondosMFCResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTransferenciasBancariasByIdRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
      <xsd:element name="idTransferencia" type="desBO:idDesembolso" minOccurs="0"/>
      <xsd:element name="idConsolidacionPadre" type="xsd:long" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTransferenciasBancariasByIdResponseType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarSaldoCarteraRequestType">
    <xsd:sequence>
      <xsd:element name="SaldoCartera" type="desBO:SaldoCarteraType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarSaldoCarteraResponseType">
    <xsd:sequence>
      <xsd:element name="Monto" type="comBO:MontoType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarLimiteLineaFinacieraRequestType">
    <xsd:sequence>
      <xsd:element name="LineaCredito" type="linBO:LineaCredito"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarLimiteLineaFinacieraResponseType">
    <xsd:sequence>
      <xsd:element name="Regla" type="regBO:ReglaBasicType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LimitePorcentajeLineaRequestType">
    <xsd:sequence>
      <xsd:element name="LineaCredito" type="linBO:LineaCredito"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LimitePorcentajeLineaResponseType">
    <xsd:sequence>
      <xsd:element name="Regla" type="regBO:ReglaBasicType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarReservaRequestType">
    <xsd:sequence>
      <xsd:element name="usuarioAutoriza" type="xsd:string"/>
      <xsd:choice>
        <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
        <xsd:element name="idTransferencia" type="desBO:idDesembolso" maxOccurs="unbounded"/>
      </xsd:choice>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarReservaResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarTransferenciaRequestType">
    <xsd:sequence>
      <xsd:element name="idTransferencia" type="desBO:idDesembolso"/>
      <xsd:element name="ejecutivo" type="xsd:string"/>
      <xsd:element name="instanciaProceso" type="xsd:long" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarTransferenciaResponseType">
    <xsd:sequence>
      <xsd:element name="Transferencia" type="desBO:Transferencia"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarLimitesProgramaRequestType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarLimitesProgramaResponseType">
    <xsd:sequence>
      <xsd:element name="LimiteGlobalLineaFinanciera" type="desBO:LimiteGlobalLineaFinanciera" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarContratoDesembolsoRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarContratoDesembolsoResponseType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarTransSinSalidaRecursosRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarTransSinSalidaRecursosResponseType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarLimiteProgramaBPELRequestType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarLimiteProgramaBPELResponseType">
    <xsd:sequence>
      <xsd:element name="Regla" type="regBO:ReglaBasicType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarSaldoRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarSaldoResponseType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearTransferenciaFLEXCUBERequestType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
      <xsd:element name="Parametros" type="comBO:parameterType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearTransferenciaFLEXCUBEResponseType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarPlazoF1RequestType">
    <xsd:sequence>
      <xsd:element name="LineaCredito" type="linBO:LineaCredito"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarPlazoF1ResponseType">
    <xsd:sequence>
      <xsd:element name="Regla" type="regBO:ReglaBasicType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarF1RequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarF1ResponseType">
    <xsd:sequence>
      <xsd:element name="Regla" type="regBO:ReglaBasicType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarHoraCierreRequestType">
    <xsd:sequence>
      <xsd:element name="Regla" type="regBO:ReglaBasicType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarHoraCierreRespnseType">
    <xsd:sequence>
      <xsd:element name="Regla" type="regBO:ReglaBasicType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
 <xsd:complexType name="UpsertTransferenciasRequestType">
  <xsd:sequence>
   <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso" maxOccurs="unbounded"/>
  </xsd:sequence>
 </xsd:complexType>
 <xsd:complexType name="UpsertTransferenciasResponseType">
  <xsd:sequence>
   <xsd:element name="Resultado" type="resBO:Resultado"/>
  </xsd:sequence>
 </xsd:complexType>

  <xsd:complexType name="ConsultarTransferenciasRecursosByIdRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
      <xsd:element name="idTransferencia" type="desBO:idDesembolso" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTransferenciasRecursosByIdResponseType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCumplimientoCondicionesRequestType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conBO:Condicion" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarCumplimientoCondicionesResponseType">
    <xsd:sequence>
      <xsd:element name="Condicion" type="conBO:Condicion" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsolidarFlujoCajaRequestType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso" maxOccurs="unbounded"/>
      <xsd:element name="instanciaProceso" type="xsd:long"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDetalleTransaccionNRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDetalleTransaccionNResponseType">
    <xsd:sequence>
      <xsd:element name="TransaccionDesembolso" type="desBO:TransaccionDesembolsoType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CondicionesDesembolsoRequestType">
    <xsd:sequence>
      <xsd:element name="idSolicitudDesembolso" type="xsd:long"/>
      <xsd:element name="idContratoDesembolso" type="xsd:long" minOccurs="0"/>
      <xsd:element name="ListaCondicion" type="conBO:listaCondiciones" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CondicionesDesembolsoResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarPlazoComponenteRequestType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarPlazoComponenteResponseType">
    <xsd:sequence>
      <xsd:element name="Componente" type="desBO:ComponenteType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarPlazoGraciaByLineaFinancieraRequestType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarPlazoGraciaByLineaFinancieraResponseType">
    <xsd:sequence>
      <xsd:element name="LimitePlazo" type="desBO:LimitePlazoType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
   <xsd:complexType name="ValidarPlazoRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
      <xsd:element name="TipoLimite" type="comBO:parameterExtenderType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarPlazoResponseType">
    <xsd:sequence>
      <xsd:element name="Regla" type="regBO:ReglaBasicType" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearDesembolsoLoanFLEXCUBERequestType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:ClienteBasicType"/>
      <xsd:element name="Operacion" type="operBO:OperacionBasicType"/>
      <xsd:element name="LineaCredito" type="linBO:LineaCredito"/>
      <xsd:element name="TipoOperacion" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearDesembolsoLoanFLEXCUBEResponseType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarDesembolsosRequestType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarDesembolsosResponseType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionesNoCobradasBPELRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComisionesNoCobradasBPELResponseType">
    <xsd:sequence>
      <xsd:element name="Comision" type="cmiBO:Comision" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarCondicionesFinancierasRequestType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarCondicionesFinancierasResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnvioGastoBPELRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
      <xsd:element name="fechaEfectiva" type="xsd:date" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnvioGastoBPELResponseType">
    <xsd:sequence>
      <xsd:element name="TransferenciaFT05" type="desBO:TransferenciaFT05Type"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarTransferenciaFT05RequestType">
    <xsd:sequence>
      <xsd:element name="TransferenciaFT05" type="desBO:TransferenciaFT05Type"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarTransferenciaFT05ResponseType">
    <xsd:sequence>
      <xsd:element name="TransferenciaFT05" type="desBO:TransferenciaFT05Type"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarTransferenciaRecursosRequestType">
    <xsd:sequence>
      <xsd:element name="TransferenciaRecursos" type="desBO:TransferenciaRecursosType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarTransferenciaRecursosResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarTransferenciasRecursosRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarTransferenciasRecursosResponseType">
    <xsd:sequence>
      <xsd:element name="TransferenciasRecurso" type="desBO:TransferenciaRecursosType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarCondicionesDesembolsoRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarCondicionesDesembolsoResponseType">
    <xsd:sequence>
      <xsd:element name="Regla" type="regBO:ReglaBasicType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearDesembolsoComplejoFLEXCUBERequestType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:ClienteBasicType"/>
      <xsd:element name="Operacion" type="operBO:OperacionBasicType"/>
      <xsd:element name="LineaCredito" type="linBO:LineaCredito"/>
      <xsd:element name="TipoOperacion" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearDesembolsoComplejoFLEXCUBEResponseType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CalcularCuotasRequestType">
    <xsd:sequence>
      <xsd:element name="Plazo" type="desBO:FrecuenciaType"/>
      <xsd:element name="FechaVencimiento" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CalcularCuotasResponseType">
    <xsd:sequence>
      <xsd:element name="numeroCuotas" type="xsd:integer"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnvioCobroBPELRequestType">
    <xsd:sequence>
      <xsd:element name="Desembolsos" maxOccurs="unbounded" type="desBO:ContratoDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EnvioCobroBPELResponseType">
    <xsd:sequence>
      <xsd:element name="Desembolsos" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarPrestamoFLEXCUBERequestType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarPrestamoFLEXCUBEResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarDesembolsosRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarDesembolsosResponseType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AplicarFactibilidadRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
      <xsd:element name="Factibilidad" type="operBO:Factibilidad"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="AplicarFactibilidadResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarLimiteDestinoRequestType">
    <xsd:sequence>
      <xsd:element name="LineaCredito" type="linBO:LineaCredito"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarLimiteDestinoResponseType">
    <xsd:sequence>
      <xsd:element name="Regla" type="regBO:ReglaBasicType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarComisionDesembolsoRequestType">
    <xsd:sequence>
      <xsd:element name="idComisionDesembolso" type="xsd:long"/>
      <xsd:element name="idContratoDesembolso" type="desBO:idDesembolso"/>
      <xsd:element name="idComision" type="cmiBO:idComision"/>
      <xsd:element name="codigoBHQ" type="xsd:string"/>
      <xsd:element name="porcentaje" type="xsd:double" minOccurs="0"/>
      <xsd:element name="montoComision" type="xsd:double"/>
      <xsd:element name="fechaRegistro" type="xsd:date"/>
      <xsd:element name="estado" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearActualizarComisionDesembolsoResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComisionesDesembolsoRequestType">
    <xsd:sequence>
      <xsd:element name="idSolicitudDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ComisionesDesembolsoResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeneraReportePlanAmortizacionRequestType">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" nillable="true"/>
      <xsd:element name="idFacturador" minOccurs="0" maxOccurs="1">
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="20"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element name="CargarDocumento" type="xsd:boolean" minOccurs="0" nillable="true" default="false"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeneraReportePlanAmortizacionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
      <xsd:element name="Documento" type="docuBO:Documento" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarMontoMaximoDesembolsoRequestType">
    <xsd:sequence>
      <xsd:element name="codigoCliente" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarMontoMaximoDesembolsoResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
      <xsd:element name="Monto" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarLoanComplejoBPELRequestType">
    <xsd:sequence>
      <xsd:element name="idContratoDesembolso" type="desBO:idDesembolso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarLoanComplejoBPELResponseType">
    <xsd:sequence>
      <xsd:element name="Regla" type="regBO:ReglaBasicType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  
   <xsd:complexType name="ValidarFechaVencimientoRequestType">
    <xsd:sequence>
      <xsd:element name="lineaVencimiento" type="xsd:string"/>
	  <xsd:element name="fechaVencimiento" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarFechaVencimientoResponseType">
    <xsd:sequence>
      <xsd:element name="resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ActualizarEstadoContratoDesembolsoRequestType">
    <xsd:sequence>
          <xsd:element name="idTcaEstado" type="xsd:integer"/>
	  <xsd:element name="idContrato" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarEstadoContratoDesembolsoResponseType">
    <xsd:sequence>
      <xsd:element name="resultado" type="resBO:Resultado"/>
      <xsd:element name="respuestaDB" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="InicioCancelarInstanciaRequestType">
    <xsd:sequence>
          <xsd:element name="Header" type="tns6:Header"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InicioCancelarInstanciaResponseType">
    <xsd:sequence>
      <xsd:element name="resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  
</xsd:schema>