BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/CANALES/DetalleVotacion/ConsultarVotosEmitidos/WSDL/ConsultarVotosEmitidos.wadl

<?xml version = '1.0' encoding = 'UTF-8'?>
<application xmlns:soa="http://www.oracle.com/soa/rest" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tns="http://xmlns.oracle.com/OSB_BCIE/CANALES/ConsultarVotosEmitidos" xmlns:conVoEmBO="http://www.bcie.org/ConsultarVotosEmitidosBO" xmlns:ns0="http://www.bcie.org/ConsultarVotosEmitidosMO" xmlns="http://wadl.dev.java.net/2009/02">
   <doc title="ConsultarVotosEmitidos">RestService</doc>
   <grammars>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.bcie.org/ConsultarVotosEmitidosMO" schemaLocation="../../../../MDS/Canales/Votacion/ConsultarVotosEmitidos/V1/Schema/ConsultarVotosEmitidosMO.xsd"/>
        </xsd:schema>
      <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.bcie.org/ConsultarVotosEmitidos" schemaLocation="../XSD/ConsultarVotosEmitidos_JSON.xsd"/>
        </xsd:schema>
   </grammars>
   <resources>
      <resource path="/">
         <method name="GET" soa:wsdlOperation="ConsultarVotosEmitidos">
            <request>
               <param name="idSolicitudAprobacion" style="query" soa:expression="$msg.request/ns0:solicitudAprobacion/conVoEmBO:idSolicitudAprobacion" default="" type="xsd:string"/>
               <param name="loginUsuario" style="query" soa:expression="$msg.request/ns0:solicitudAprobacion/conVoEmBO:loginUsuario" default="" type="xsd:string"/>
            </request>
            <response status="200">
               <representation mediaType="application/json" element="cns:ConsultarVotosEmitidos" xmlns:cns="http://www.bcie.org/ConsultarVotosEmitidos"/>
            </response>
         </method>
      </resource>
   </resources>
</application>
