BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/OnBase/WSDL/OnBase.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:custom="www.custom-onbase.org">
  <wsdl:types>  
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:complexType name="diffgram">
        <s:choice minOccurs="0" maxOccurs="unbounded">
          <s:element name="NewDataSet" type="tns:NewDataSet"/>
        </s:choice>
      </s:complexType>
      <s:element name="Insert">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_documento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_archivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipo_producto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="documentTypeID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keys" type="tns:ArrayOfKey" />
            <s:element minOccurs="0" maxOccurs="1" name="imagen" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfKey">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Key" nillable="true" type="tns:Key" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Key">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="value" type="s:string" />
        </s:sequence>
      </s:complexType>
       <s:element name="InsertResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertResult" type="tns:ResultWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertTest">
        <s:complexType />
      </s:element>
      <s:element name="InsertTestResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertTestResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDocuments">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Pais" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TipoDocumento" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Producto" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaInicio" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FechaFin" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Parametros" type="tns:ArrayOfParameter" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfParameter">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="Parameter" nillable="true" type="tns:Parameter" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Parameter">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="KeyId" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="KeyValue" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="KeyData" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetDocumentsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDocumentsResult">
              <s:complexType>
                <s:sequence>
                   <s:element type="tns:diffgram" name="diffgram"/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
       <s:element name="deleteDocument">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documentHandle" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteDocumentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="deleteDocumentResult" type="tns:ResultWS"/>
          </s:sequence>
        </s:complexType>
      </s:element>
 <s:element name="UpdateData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="documentHandle" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="KeywordToUpdate" type="tns:ArrayOfKey" />
            <s:element minOccurs="1" maxOccurs="1" name="Append" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateDataResult" type="tns:ResultWS" />
          </s:sequence>
        </s:complexType>
      </s:element>
       <s:complexType name="ResultWS">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="ErrorCode" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Glosa" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Result" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="NewDataSet">
         <s:choice minOccurs="0" maxOccurs="unbounded">
            <s:element name="Table">
               <s:complexType>
                  <s:sequence>
                     <s:element name="DOC_ID" type="s:decimal" minOccurs="0"/>
                     <s:element name="DOC_NAME" type="s:string" minOccurs="0"/>
                     <s:element name="DOC_TYPE" type="s:string" minOccurs="0"/>
                     <s:element name="DOC_GROUP_NAME" type="s:string" minOccurs="0"/>
                     <s:element name="Codigo_Proyecto" type="s:string" minOccurs="0"/>
                     <s:element name="epdocid" type="s:decimal" minOccurs="0"/>
                     <s:element name="Nombre_Cliente" type="s:string" minOccurs="0"/>
                     <s:element name="Nombre_Proyecto" type="s:string" minOccurs="0"/>
                     <s:element name="Codigo_Cliente" type="s:string" minOccurs="0"/>
                     <s:element name="Estado" type="s:string" minOccurs="0"/>
                     <s:element name="SecurityKW" type="s:string" minOccurs="0"/>
                     <s:element name="Pais" type="s:string" minOccurs="0"/>
                     <s:element name="Linea_de_Credito" type="s:string" minOccurs="0"/>
                     <s:element name="Numero_Documento" type="s:string" minOccurs="0"/>
                     <s:element name="Periodo" type="s:dateTime" minOccurs="0"/>
                     <s:element name="Resumen" type="s:string" minOccurs="0"/>
                     <s:element name="Codigo__Intervencion" type="s:string" minOccurs="0"/>
                     <s:element name="DATE" type="s:dateTime" minOccurs="0"/>
                  </s:sequence>
               </s:complexType>
            </s:element>
         </s:choice>
      </s:complexType>

    </s:schema>
  </wsdl:types>
  <wsdl:message name="InsertSoapIn">
    <wsdl:part name="parameters" element="tns:Insert" />
  </wsdl:message>
  <wsdl:message name="InsertSoapOut">
    <wsdl:part name="parameters" element="tns:InsertResponse" />
  </wsdl:message>
  <wsdl:message name="InsertTestSoapIn">
    <wsdl:part name="parameters" element="tns:InsertTest" />
  </wsdl:message>
  <wsdl:message name="InsertTestSoapOut">
    <wsdl:part name="parameters" element="tns:InsertTestResponse" />
  </wsdl:message>
  <wsdl:message name="GetDocumentsSoapIn">
    <wsdl:part name="parameters" element="tns:GetDocuments" />
  </wsdl:message>
  <wsdl:message name="GetDocumentsSoapOut">
    <wsdl:part name="parameters" element="tns:GetDocumentsResponse" />
  </wsdl:message>
   <wsdl:message name="deleteDocumentSoapIn">
    <wsdl:part name="parameters" element="tns:deleteDocument"/>
  </wsdl:message>
  <wsdl:message name="deleteDocumentSoapOut">
    <wsdl:part name="parameters" element="tns:deleteDocumentResponse"/>
  </wsdl:message>
    <wsdl:message name="UpdateDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateData" />
  </wsdl:message>
  <wsdl:message name="UpdateDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateDataResponse" />
  </wsdl:message>
  <wsdl:portType name="wsSoap">
    <wsdl:operation name="Insert">
      <wsdl:input message="tns:InsertSoapIn" />
      <wsdl:output message="tns:InsertSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertTest">
      <wsdl:input message="tns:InsertTestSoapIn" />
      <wsdl:output message="tns:InsertTestSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDocuments">
      <wsdl:input message="tns:GetDocumentsSoapIn" />
      <wsdl:output message="tns:GetDocumentsSoapOut" />
    </wsdl:operation>
     <wsdl:operation name="deleteDocument">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que elimina un documento mediante el identificador de documento OnBase (documentHandle)</wsdl:documentation>
      <wsdl:input message="tns:deleteDocumentSoapIn"/>
      <wsdl:output message="tns:deleteDocumentSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Metodo que actualiza las llaves de un documento mediante el identificador de documento OnBase (documentHandle)</wsdl:documentation>
      <wsdl:input message="tns:UpdateDataSoapIn" />
      <wsdl:output message="tns:UpdateDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsSoap" type="tns:wsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTest">
      <soap:operation soapAction="http://tempuri.org/InsertTest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocuments">
      <soap:operation soapAction="http://tempuri.org/GetDocuments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="deleteDocument">
      <soap:operation soapAction="http://tempuri.org/deleteDocument" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="UpdateData">
      <soap:operation soapAction="http://tempuri.org/UpdateData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsSoap12" type="tns:wsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Insert">
      <soap12:operation soapAction="http://tempuri.org/Insert" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertTest">
      <soap12:operation soapAction="http://tempuri.org/InsertTest" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDocuments">
      <soap12:operation soapAction="http://tempuri.org/GetDocuments" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="deleteDocument">
      <soap12:operation soapAction="http://tempuri.org/deleteDocument" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateData">
      <soap12:operation soapAction="http://tempuri.org/UpdateData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ws">
    <wsdl:port name="wsSoap" binding="tns:wsSoap">
      <soap:address location="http://hn-ecm-app-dev.bcie.org/ws/ws.asmx" />
    </wsdl:port>
    <wsdl:port name="wsSoap12" binding="tns:wsSoap12">
      <soap12:address location="http://hn-ecm-app-dev.bcie.org/ws/ws.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>