Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EO/CustPayee/CustPayee_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eo/CustPayee_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoCusPay="http://xmlns.banesco.com/eo/CustPayee_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoBank="http://xmlns.banesco.com/eo/Banking_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Banking_V1.0" schemaLocation="../Banking/Banking_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../Acct/Acct_V1.0.xsd"/>
	<xs:element name="CustPayeeKey" type="eoCusPay:CustPayeeKey"/>
	<xs:complexType name="CustPayeeKey">
		<xs:annotation>
			<xs:documentation>Customer Payee Identifier.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CustPayeeId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Customer Payee Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CustPayeeInfo" type="eoCusPay:CustPayeeInfo"/>
	<xs:complexType name="CustPayeeInfo">
		<xs:annotation>
			<xs:documentation>Customer Payee Information Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name.

Payee Name. Initially assigned by the customer when the Payee is added.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Nickname" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payee Nickname. Optionally assigned by the customer. Server always echoes it in immediate response if received in a request. Pay provider may indicate support for longer-term storage of nicknames in the Service Profile.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayeeType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payee Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustPayeeKey" type="eoCusPay:CustPayeeKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIData" type="eoBank:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FSPayee" type="eoCusPay:FSPayee" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="FSPayee" type="eoCusPay:FSPayee"/>
	<xs:complexType name="FSPayee">
		<xs:annotation>
			<xs:documentation>The FSPayee aggregate is used to provide complete information about a Fully-Specified Payee.  Used in Bill Pay message set when a payee is identified as a Fully Specified payee, as opposed to a Biller, or a Transfer Payee.</xs:documentation>
		</xs:annotation>
		<xs:choice>
			<xs:element name="OrgData" type="eoPar:OrgData" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Organization Data.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonData" type="eoPar:PersonData" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Person Data.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:choice>
	</xs:complexType>
</xs:schema>
