BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Wsdl/PA08/SupervisionProcess.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/SupervisionProcess" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/SupervisionProcess" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<wsdl:types>
<xsd:schema>
<xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/SupervisionProcess" schemaLocation="../../Schema/PA08/SupervisionProcess.xsd"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="InicioSupervision">
<wsdl:part name="parameters" element="tns:InicioSupervision"/>
</wsdl:message>
<wsdl:message name="FinSupervision">
<wsdl:part name="parameters" element="tns:FinSupervision"/>
</wsdl:message>
<wsdl:message name="InicioAdquisicion">
<wsdl:part name="parameters" element="tns:InicioAdquisicion"/>
</wsdl:message>
<wsdl:message name="FinAdquisicion">
<wsdl:part name="parameters" element="tns:FinAdquisicion"/>
</wsdl:message>
<wsdl:portType name="SupervisionProcessPortType">
<wsdl:operation name="InicioSupervision">
<wsdl:input message="tns:InicioSupervision"/>
</wsdl:operation>
<wsdl:operation name="FinSupervision">
<wsdl:input message="tns:FinSupervision"/>
</wsdl:operation>
<wsdl:operation name="InicioAdquisicion">
<wsdl:input message="tns:InicioAdquisicion"/>
</wsdl:operation>
<wsdl:operation name="FinAdquisicion">
<wsdl:input message="tns:FinAdquisicion"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="SupervisionProcessBinding" type="tns:SupervisionProcessPortType">
<wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="InicioSupervision">
<wsdlsoap:operation style="document" soapAction="InicioSupervision"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="FinSupervision">
<wsdlsoap:operation style="document" soapAction="FinSupervision"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="InicioAdquisicion">
<wsdlsoap:operation style="document" soapAction="InicioSupervision"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="FinAdquisicion">
<wsdlsoap:operation style="document" soapAction="FinSupervision"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<plnk:partnerLinkType name="SupervisionProcessPortTypePartnerLinkType">
<plnk:role name="SupervisionProcessPortTypeProvider">
<plnk:portType name="tns:SupervisionProcessPortType"/>
</plnk:role>
</plnk:partnerLinkType>
</wsdl:definitions>
