BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/LAA/WSDL/LAACTIVOS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. -->
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://org/bcie/ws/middle/LAACTIVOS.wsdl" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://org/bcie/ws/middle/LAACTIVOS.wsdl">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://org/bcie/ws/middle/LAACTIVOS.wsdl" schemaLocation="../XSD/LAACTIVOS_Schema.xsd"/>
    </xsd:schema>
  </types>
  <message name="ObtenerDeclaracionInput">
    <part name="ObtenerDeclaracionRequest" element="tns:ObtenerDeclaracionRequest"/>
  </message>
  <message name="ObtenerDeclaracionOutput">
    <part name="ObtenerDeclaracionResponse" element="tns:ObtenerDeclaracionResponse"/>
  </message>
  <!--evarela 24jul2015 -->
    <message name="ConsultarDeclaracionInput">
    <part name="ConsultarDeclaracionRequest" element="tns:ConsultarDeclaracionRequest"/>
  </message>
  <message name="ConsultarDeclaracionOutput">
    <part name="ConsultarDeclaracionResponse" element="tns:ConsultarDeclaracionResponse"/>
  </message>
  <!--evarela 24jul2015 -->
 
  <message name="ActualizarDeclaracionInput">
    <part name="ActualizarDeclaracionRequest" element="tns:ActualizarDeclaracionRequest"/>
  </message>
  <message name="ActualizarDeclaracionOutput">
    <part name="ActualizarDeclaracionResponse" element="tns:ActualizarDeclaracionResponse"/>
  </message>
    <!--evarela 05Ago2015 -->
    <message name="NuevaDeclaracionInput">
    <part name="NuevaDeclaracionRequest" element="tns:NuevaDeclaracionRequest"/>
  </message>
  <message name="NuevaDeclaracionOutput">
    <part name="NuevaDeclaracionResponse" element="tns:NuevaDeclaracionResponse"/>
  </message>
  <!--evarela 05Ago2015 -->
      <!--evarela 05Ago2015 -->
    <message name="DuplicarDeclaracionInput">
    <part name="DuplicarDeclaracionRequest" element="tns:DuplicarDeclaracionRequest"/>
  </message>
  <message name="DuplicarDeclaracionOutput">
    <part name="DuplicarDeclaracionResponse" element="tns:DuplicarDeclaracionResponse"/>
  </message>
  <!--evarela 05Ago2015 -->
  <portType name="laaport">
    <operation name="obtenerDeclaracion">
      <input message="tns:ObtenerDeclaracionInput"/>
      <output message="tns:ObtenerDeclaracionOutput"/>
    </operation>
    <operation name="actualizarDeclaracion">
      <input message="tns:ActualizarDeclaracionInput"/>
      <output message="tns:ActualizarDeclaracionOutput"/>
    </operation>
    <!--evarela 24jul2015-->
    <operation name="consultarDeclaracion">
      <input message="tns:ConsultarDeclaracionInput"/>
      <output message="tns:ConsultarDeclaracionOutput"/>
    </operation>    
    <!--evarela 24jul2015-->
    <!--evarela 05Ago2015-->
    <operation name="nuevaDeclaracion">
      <input message="tns:NuevaDeclaracionInput"/>
      <output message="tns:NuevaDeclaracionOutput"/>
    </operation>    
    <!--evarela 05Ago2015-->
    <!--evarela 05Ago2015-->
    <operation name="duplicarDeclaracion">
      <input message="tns:DuplicarDeclaracionInput"/>
      <output message="tns:DuplicarDeclaracionOutput"/>
    </operation>    
    <!--evarela 05Ago2015-->
  </portType>
  <binding name="laaBinding" type="tns:laaport">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="obtenerDeclaracion">
      <soap:operation style="document" soapAction="http://org/bcie/ws/middle/LAACTIVOS.wsdl/obtenerDeclaracion"/>
      <input>
        <soap:body use="literal" parts="ObtenerDeclaracionRequest"/>
      </input>
      <output>
        <soap:body use="literal" parts="ObtenerDeclaracionResponse"/>
      </output>
    </operation>
    <operation name="actualizarDeclaracion">
      <soap:operation style="document" soapAction="http://org/bcie/ws/middle/LAACTIVOS.wsdl/actualizarDeclaracion"/>
      <input>
        <soap:body use="literal" parts="ActualizarDeclaracionRequest"/>
      </input>
      <output>
        <soap:body use="literal" parts="ActualizarDeclaracionResponse"/>
      </output>
    </operation>
    <!--evarela 24jul2015-->
    <operation name="consultarDeclaracion">
      <soap:operation style="document" soapAction="http://org/bcie/ws/middle/LAACTIVOS.wsdl/consultarDeclaracion"/>
      <input>
        <soap:body use="literal" parts="ConsultarDeclaracionRequest"/>
      </input>
      <output>
        <soap:body use="literal" parts="ConsultarDeclaracionResponse"/>
      </output>
    </operation>
    <!--evarela 24jul2015-->
    <!--evarela 05Ago2015-->
    <operation name="nuevaDeclaracion">
      <soap:operation style="document" soapAction="http://org/bcie/ws/middle/LAACTIVOS.wsdl/nuevaDeclaracion"/>
      <input>
        <soap:body use="literal" parts="NuevaDeclaracionRequest"/>
      </input>
      <output>
        <soap:body use="literal" parts="NuevaDeclaracionResponse"/>
      </output>
    </operation>
    <!--evarela 05Ago2015-->
        <!--evarela 05Ago2015-->
    <operation name="duplicarDeclaracion">
      <soap:operation style="document" soapAction="http://org/bcie/ws/middle/LAACTIVOS.wsdl/duplicarDeclaracion"/>
      <input>
        <soap:body use="literal" parts="DuplicarDeclaracionRequest"/>
      </input>
      <output>
        <soap:body use="literal" parts="DuplicarDeclaracionResponse"/>
      </output>
    </operation>
    <!--evarela 05Ago2015-->
  </binding>
  <service name="LAACTIVOS">
    <port name="LAACTIVOS" binding="tns:laaBinding">
      <soap:address location="http://hn-apli-qa-1.bcie.org:7001/MIDDLE_TPDWN/LAACTIVOS"/>
    </port>
  </service>
</definitions>