BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/BPM/Wsdl/PA04/EnmiendasProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EnmiendasProcess"
                  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/EnmiendasProcess"
                  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EnmiendasProcess"
                  schemaLocation="../../Schema/PA04/EnmiendasProcess.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <!-- Messages -->
  <wsdl:message name="InicioEnmiendas">
    <wsdl:part name="parameters" element="tns:InicioEnmiendas"/>
  </wsdl:message>
  <wsdl:message name="InicioEnmiendasSolicitar">
    <wsdl:part name="parameters" element="tns:InicioEnmiendasSolicitar"/>
  </wsdl:message>
  <wsdl:message name="InicioEnmiendasRegistrar">
    <wsdl:part name="parameters" element="tns:InicioEnmiendasRegistrar"/>
  </wsdl:message>
  <wsdl:message name="FinEnmiendas">
    <wsdl:part name="parameters" element="tns:FinEnmiendas"/>
  </wsdl:message>
  <wsdl:message name="InicioCancelarEnmiendasSolicitar">
    <wsdl:part name="parameters" element="tns:InicioCancelarEnmiendasSolicitar"/>
  </wsdl:message>
  <wsdl:message name="InicioReasignarEnmiendasSolicitar">
    <wsdl:part name="parameters" element="tns:InicioReasignarEnmiendasSolicitar"/>
  </wsdl:message>
  <wsdl:message name="InicioCancelarEnmiendasRegistrar">
    <wsdl:part name="parameters" element="tns:InicioCancelarEnmiendasRegistrar"/>
  </wsdl:message>
  <wsdl:message name="InicioReasignarEnmiendasRegistrar">
    <wsdl:part name="parameters" element="tns:InicioReasignarEnmiendasRegistrar"/>
  </wsdl:message>
  
  <!-- PortTypes -->
  <wsdl:portType name="EnmiendasProcessPortType">
    <wsdl:operation name="InicioEnmiendasSolicitar">
      <wsdl:input message="tns:InicioEnmiendasSolicitar"/>
    </wsdl:operation>
    <wsdl:operation name="InicioEnmiendasRegistrar">
      <wsdl:input message="tns:InicioEnmiendasRegistrar"/>
    </wsdl:operation>
    <wsdl:operation name="FinEnmiendas">
      <wsdl:input message="tns:FinEnmiendas"/>
    </wsdl:operation>
    <wsdl:operation name="InicioEnmiendas">
      <wsdl:input message="tns:InicioEnmiendas"/>
    </wsdl:operation>
    <wsdl:operation name="InicioCancelarEnmiendasSolicitar">
      <wsdl:input message="tns:InicioCancelarEnmiendasSolicitar"/>
    </wsdl:operation>
    <wsdl:operation name="InicioReasignarEnmiendasSolicitar">
      <wsdl:input message="tns:InicioReasignarEnmiendasSolicitar"/>
    </wsdl:operation>
    <wsdl:operation name="InicioCancelarEnmiendasRegistrar">
      <wsdl:input message="tns:InicioCancelarEnmiendasRegistrar"/>
    </wsdl:operation>
    <wsdl:operation name="InicioReasignarEnmiendasRegistrar">
      <wsdl:input message="tns:InicioReasignarEnmiendasRegistrar"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <!-- Bindings -->
  <wsdl:binding name="EnmiendasProcessBinding" type="tns:EnmiendasProcessPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="InicioEnmiendas">
      <wsdlsoap:operation style="document" soapAction="FinEnmiendas"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InicioEnmiendasSolicitar">
      <wsdlsoap:operation style="document" soapAction="InicioEnmiendasSolicitar"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InicioEnmiendasRegistrar">
      <wsdlsoap:operation style="document" soapAction="InicioEnmiendasRegistrar"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="FinEnmiendas">
      <wsdlsoap:operation style="document" soapAction="FinEnmiendas"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InicioCancelarEnmiendasSolicitar">
      <wsdlsoap:operation style="document" soapAction="InicioCancelarEnmiendasSolicitar"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InicioReasignarEnmiendasSolicitar">
      <wsdlsoap:operation style="document" soapAction="InicioReasignarEnmiendasSolicitar"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InicioCancelarEnmiendasRegistrar">
      <wsdlsoap:operation style="document" soapAction="InicioCancelarEnmiendasRegistrar"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
    <wsdl:operation name="InicioReasignarEnmiendasRegistrar">
      <wsdlsoap:operation style="document" soapAction="InicioReasignarEnmiendasRegistrar"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
    </wsdl:operation>
  </wsdl:binding>
  <plnk:partnerLinkType name="EnmiendasProcessPortTypePartnerLinkType">
    <plnk:role name="EnmiendasProcessPortTypeProvider">
      <plnk:portType name="tns:EnmiendasProcessPortType"/>
    </plnk:role>
  </plnk:partnerLinkType>
</wsdl:definitions>
