Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFAcctLoan/AcctLoanAgreeInq/AcctLoanAgreeInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAgreeInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctLoanAgreeInq="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAgreeInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="AcctLoanAgreeInqRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Acct" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Account Information Aggregate. </xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="CreditAcctData" type="appoptAcctLoanAgreeInq:CreditAcctData" minOccurs="0" maxOccurs="1"/>
						<xs:element name="AcctKey" type="appoptAcctLoanAgreeInq:AcctKey" minOccurs="0" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartyKey" type="appoptAcctLoanAgreeInq:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctLoanAgreeInqRq_Type">
		<xs:sequence>
			<xs:element name="AcctLoan" type="appoptAcctLoanAgreeInq:Acct" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CreditAcctData">
		<xs:annotation>
			<xs:documentation>Credit Account Data.

Used to maintain and retrieve data specific to credit products. Could have one register per CurrencyCode</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Agreement" type="appoptAcctLoanAgreeInq:Agreement" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctLoanAgreeInqRq" type="appoptAcctLoanAgreeInq:AcctLoanAgreeInqRq_Type"/>
	<xs:complexType name="Acct">
		<xs:sequence>
			<xs:element name="AcctKey" type="appoptAcctLoanAgreeInq:AcctKey" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctLoanAgreeInqRs" type="appoptAcctLoanAgreeInq:AcctLoanAgreeInqRs_Type"/>
	<xs:complexType name="Agreement">
		<xs:annotation>
			<xs:documentation>Agreement info.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgreementId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agreement Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgreementType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agreement Type</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreatedDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The date the agreement was created.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DueDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Due date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FulfillmentDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fulfillment date.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
