Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/ONBASE/resources/wsdl/OnBase_EstadosCuentaWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ConsultarEstadoCuenta">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numCuenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tipoCuenta" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="mes" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="anio" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarEstadoCuentaResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarEstadoCuentaResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarCheque">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="numCuenta" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="numCheque" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ConsultarChequeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ConsultarChequeResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ConsultarEstadoCuentaSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarEstadoCuenta" />
  </wsdl:message>
  <wsdl:message name="ConsultarEstadoCuentaSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarEstadoCuentaResponse" />
  </wsdl:message>
  <wsdl:message name="ConsultarChequeSoapIn">
    <wsdl:part name="parameters" element="tns:ConsultarCheque" />
  </wsdl:message>
  <wsdl:message name="ConsultarChequeSoapOut">
    <wsdl:part name="parameters" element="tns:ConsultarChequeResponse" />
  </wsdl:message>
  <wsdl:portType name="EstadosDeCuentaSoap">
    <wsdl:operation name="ConsultarEstadoCuenta">
      <wsdl:input message="tns:ConsultarEstadoCuentaSoapIn" />
      <wsdl:output message="tns:ConsultarEstadoCuentaSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarCheque">
      <wsdl:input message="tns:ConsultarChequeSoapIn" />
      <wsdl:output message="tns:ConsultarChequeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EstadosDeCuentaSoap" type="tns:EstadosDeCuentaSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ConsultarEstadoCuenta">
      <soap:operation soapAction="http://tempuri.org/ConsultarEstadoCuenta" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarCheque">
      <soap:operation soapAction="http://tempuri.org/ConsultarCheque" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EstadosDeCuenta">
    <wsdl:port name="EstadosDeCuentaSoap" binding="tns:EstadosDeCuentaSoap">
      <soap:address location="http://pasaplqa003/DSP-EstadosCuentaWS/EstadosCuenta.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>