Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/ONBASE/resources/wsdl/OnBaseSvcSOAP12Mock.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions name="OnBaseSvc" targetNamespace="http://xmlns.banesco.com/service/OnBaseSvc" xmlns:eoptConsImgChq="http://xmlns.banesco.com/eopt/consultarImagenChequeOnbase" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.banesco.com/service/OnBaseSvc" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xs:schema elementFormDefault="qualified" targetNamespace="http://xmlns.banesco.com/eopt/consultarImagenChequeOnbase">
      <xs:complexType name="consultarImagenChequeOnbaseRq_Type">
        <xs:sequence>
          <xs:element name="numeroCuenta" type="xs:string">
            <xs:annotation>
              <xs:documentation>ACCOUNT NO.</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="numeroCheque" type="xs:string">
            <xs:annotation>
              <xs:documentation>CHECK NUMBER</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="consultarImagenChequeOnbaseRs_Type">
        <xs:sequence>
          <xs:element name="urlCheque" type="xs:string">
            <xs:annotation>
              <xs:documentation>CHECK IMAGE URL</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="codError" type="xs:decimal">
            <xs:annotation>
              <xs:documentation>ERROR CODE</xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="descError" type="xs:string">
            <xs:annotation>
              <xs:documentation>ERROR DESCRIPTION</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:complexType>
      <xs:element name="consultarImagenChequeOnbaseRq" type="eoptConsImgChq:consultarImagenChequeOnbaseRq_Type"/>
      <xs:element name="consultarImagenChequeOnbaseRs" type="eoptConsImgChq:consultarImagenChequeOnbaseRs_Type"/>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="consultarImagenChequeOnbaseRs">
    <wsdl:part name="consultarImagenChequeOnbaseRs" element="eoptConsImgChq:consultarImagenChequeOnbaseRs">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="consultarImagenChequeOnbaseRq">
    <wsdl:part name="consultarImagenChequeOnbaseRq" element="eoptConsImgChq:consultarImagenChequeOnbaseRq">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="consultarImagenChequeOnbasePortType">
    <wsdl:operation name="consultarImagenChequeOnbase">
      <wsdl:input message="tns:consultarImagenChequeOnbaseRq">
    </wsdl:input>
      <wsdl:output message="tns:consultarImagenChequeOnbaseRs">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OnBaseSvcSOAP12Binding" type="tns:consultarImagenChequeOnbasePortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="consultarImagenChequeOnbase">
      <soap12:operation soapAction="http://xmlns.banesco.com/service/OnBaseSvc" style="document"/>
      <wsdl:input>
        <soap12:body parts="consultarImagenChequeOnbaseRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body parts="consultarImagenChequeOnbaseRs" use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OnBaseSvc">
    <wsdl:port name="OnBaseSvcPort" binding="tns:OnBaseSvcSOAP12Binding">
      <soap12:address location="http://localhost:8088/OnBaseSvcSOAP12Mock"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
