Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/BpaNofEnqAADepositsPJ/BPANOFENQAADEPOSITSPJType.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty" xmlns:ns0="http://www.temenos.com/T24/ofs/BPANOFENQAADEPOSITSPJType" xmlns:xdb="http://xmlns.oracle.com/xdb" targetNamespace="http://www.temenos.com/T24/ofs/BPANOFENQAADEPOSITSPJType" xdb:storeVarrayAsTable="true">
   <!-- This T24 XML Schema automatically produced -->
   <!-- Copyright Temenos Holdings NV 2018-->
   <!-- T24 Application: BPA.NOF.ENQ.AA.DEPOSITS.PJ -->
   <!-- T24 Release: R16 -->
   <!-- Production timestamp: 18:32:56 03 JUL 2018 -->
   <xsd:element name="BPANOFENQAADEPOSITSPJ" type="ns0:BPANOFENQAADEPOSITSPJType">
      <xsd:annotation>
         <xsd:documentation>This is the top level element for the record data</xsd:documentation>
         <xsd:appinfo>
            <hfp:hasProperty name="locked" value="no" />
            <hfp:hasProperty name="useschema" value="no" />
            <hfp:hasProperty name="register" value="no" />
            <hfp:hasProperty name="aaPropertyName" value="" />
         </xsd:appinfo>
      </xsd:annotation>
   </xsd:element>
   <xsd:complexType name="BPANOFENQAADEPOSITSPJType" xdb:maintainDOM="false">
      <xsd:annotation>
         <xsd:documentation>This complex type represents the T24 data for the BPA.NOF.ENQ.AA.DEPOSITS.PJ table</xsd:documentation>
      </xsd:annotation>
      <xsd:sequence>
         <xsd:element minOccurs="0" name="gBPANOFENQAADEPOSITSPJDetailType">
            <xsd:complexType xdb:maintainDOM="false">
               <xsd:sequence minOccurs="0">
                  <xsd:element maxOccurs="unbounded" minOccurs="0" name="mBPANOFENQAADEPOSITSPJDetailType">
                     <xsd:complexType xdb:maintainDOM="false">
                        <xsd:sequence minOccurs="0">
                           <xsd:element id="selFldDEPOSIT.ID" minOccurs="0" name="selFldDEPOSITID" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>selFldDEPOSIT.ID</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="selFldDEPOSIT.ID" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="10" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="DEPOSITS" minOccurs="0" name="DEPOSITS" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>DEPOSITS</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="DEPOSITS" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="GROUP" minOccurs="0" name="GROUP" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>GROUP</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="GROUP" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="PRODUCT" minOccurs="0" name="PRODUCT" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>PRODUCT</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="PRODUCT" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="CATEGORY" minOccurs="0" name="CATEGORY" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>CATEGORY</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="CATEGORY" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="ACTIVITY" minOccurs="0" name="ACTIVITY" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>ACTIVITY</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="ACTIVITY" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="CUSTOMER" minOccurs="0" name="CUSTOMER" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>CUSTOMER</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="CUSTOMER" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="CUSTOMER.ROLE" minOccurs="0" name="CUSTOMERROLE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>CUSTOMER.ROLE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="CUSTOMER.ROLE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="CURRENCY" minOccurs="0" name="CURRENCY" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>CURRENCY</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="CURRENCY" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="PRODUCT.VARIATION" minOccurs="0" name="PRODUCTVARIATION" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>PRODUCT.VARIATION</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="PRODUCT.VARIATION" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="TRADE.DATE" minOccurs="0" name="TRADEDATE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>TRADE.DATE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="TRADE.DATE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="EFFECTIVE.DATE" minOccurs="0" name="EFFECTIVEDATE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>EFFECTIVE.DATE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="EFFECTIVE.DATE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="AMOUNT" minOccurs="0" name="AMOUNT" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>AMOUNT</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="AMOUNT" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="TERM" minOccurs="0" name="TERM" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>TERM</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="TERM" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="MATURITY.DATE" minOccurs="0" name="MATURITYDATE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>MATURITY.DATE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="MATURITY.DATE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="CHANGE.DATE.TYPE" minOccurs="0" name="CHANGEDATETYPE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>CHANGE.DATE.TYPE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="CHANGE.DATE.TYPE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="CHANGE.PERIOD" minOccurs="0" name="CHANGEPERIOD" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>CHANGE.PERIOD</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="CHANGE.PERIOD" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="CHANGE.DATE" minOccurs="0" name="CHANGEDATE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>CHANGE.DATE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="CHANGE.DATE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="CHANGE.ACTIVITY" minOccurs="0" name="CHANGEACTIVITY" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>CHANGE.ACTIVITY</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="CHANGE.ACTIVITY" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="INITIATION.TYPE" minOccurs="0" name="INITIATIONTYPE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>INITIATION.TYPE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="INITIATION.TYPE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="PERIODIC.RATE" minOccurs="0" name="PERIODICRATE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>PERIODIC.RATE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="PERIODIC.RATE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="PERIODIC.INDEX" minOccurs="0" name="PERIODICINDEX" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>PERIODIC.INDEX</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="PERIODIC.INDEX" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="ADD" minOccurs="0" name="ADD" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>ADD</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="ADD" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="EFECTIVE.RATE" minOccurs="0" name="EFECTIVERATE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>EFECTIVE.RATE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="EFECTIVE.RATE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="PAYMENT.TYPE" minOccurs="0" name="PAYMENTTYPE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>PAYMENT.TYPE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="PAYMENT.TYPE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="PAYMENT.METHOD" minOccurs="0" name="PAYMENTMETHOD" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>PAYMENT.METHOD</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="PAYMENT.METHOD" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="PROPERTY" minOccurs="0" name="PROPERTY" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>PROPERTY</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="PROPERTY" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="PAYMENT.FREQ" minOccurs="0" name="PAYMENTFREQ" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>PAYMENT.FREQ</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="PAYMENT.FREQ" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="PAYIN.ACCOUNT" minOccurs="0" name="PAYINACCOUNT" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>PAYIN.ACCOUNT</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="PAYIN.ACCOUNT" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="PAYOUT.ACCOUNT" minOccurs="0" name="PAYOUTACCOUNT" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>PAYOUT.ACCOUNT</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="PAYOUT.ACCOUNT" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="ACCOUNT.TITLE1" minOccurs="0" name="ACCOUNTTITLE1" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>ACCOUNT.TITLE1</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="ACCOUNT.TITLE1" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="LT.SUBPRODUCT" minOccurs="0" name="LTSUBPRODUCT" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>LT.SUBPRODUCT</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="LT.SUBPRODUCT" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="NARRATIVE" minOccurs="0" name="NARRATIVE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>NARRATIVE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="NARRATIVE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="REASON" minOccurs="0" name="REASON" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>REASON</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="REASON" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="CLUB.BANESCO" minOccurs="0" name="CLUBBANESCO" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>CLUB.BANESCO</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="CLUB.BANESCO" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="LT.SALE.OFFICER" minOccurs="0" name="LTSALEOFFICER" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>LT.SALE.OFFICER</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="LT.SALE.OFFICER" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="LT.BUS.UNIT" minOccurs="0" name="LTBUSUNIT" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>LT.BUS.UNIT</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="LT.BUS.UNIT" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="ACCOUNT.TITTLE2" minOccurs="0" name="ACCOUNTTITTLE2" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>ACCOUNT.TITTLE2</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="ACCOUNT.TITTLE2" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="ACCOUNT.REFERENCE" minOccurs="0" name="ACCOUNTREFERENCE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>ACCOUNT.REFERENCE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="ACCOUNT.REFERENCE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="LT.MOBILIZATION" minOccurs="0" name="LTMOBILIZATION" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>LT.MOBILIZATION</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="LT.MOBILIZATION" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="ACTUAL.BALANCE" minOccurs="0" name="ACTUALBALANCE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>ACTUAL.BALANCE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="ACTUAL.BALANCE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="CLEARED.BALANCE" minOccurs="0" name="CLEAREDBALANCE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>CLEARED.BALANCE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="CLEARED.BALANCE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="WORKING.BALANCE" minOccurs="0" name="WORKINGBALANCE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>WORKING.BALANCE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="WORKING.BALANCE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                           <xsd:element id="OUTS.BALANCE" minOccurs="0" name="OUTSBALANCE" nillable="true" xdb:SQLName="">
                              <xsd:annotation>
                                 <xsd:documentation>OUTS.BALANCE</xsd:documentation>
                                 <xsd:appinfo>
                                    <hfp:hasProperty name="fielddatatype" value="string" />
                                    <hfp:hasProperty name="fieldname" value="OUTS.BALANCE" />
                                 </xsd:appinfo>
                              </xsd:annotation>
                              <xsd:simpleType>
                                 <xsd:restriction base="xsd:string">
                                    <xsd:maxLength value="350" />
                                 </xsd:restriction>
                              </xsd:simpleType>
                           </xsd:element>
                        </xsd:sequence>
                        <xsd:attribute name="m" type="xsd:positiveInteger" use="optional" />
                     </xsd:complexType>
                  </xsd:element>
               </xsd:sequence>
               <xsd:attribute name="g" type="xsd:positiveInteger" use="optional" />
            </xsd:complexType>
         </xsd:element>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>