BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Common/V1/Schema/AtributoBO.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org" xmlns:AtributoBO="http://www.bcie.org/AtributoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" targetNamespace="http://www.bcie.org/AtributoBO" elementFormDefault="qualified">
	<xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="CatalogoBO.xsd"/>
	<xsd:complexType name="Atributo">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="columna" type="xsd:string" minOccurs="1" maxOccurs="1"/>
			<xsd:element name="ordenamiento" type="xsd:int" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="soloLectura" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="esObligatorio" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="etiqueta" type="xsd:string" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="valor" type="xsd:string" minOccurs="1" maxOccurs="unbounded"/>
			<xsd:element name="tipoValor" type="AtributoBO:TipoValorType" minOccurs="0" maxOccurs="1"/>
			<xsd:element name="catalogo" type="catBO:Catalogo" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EstadoTCC">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" minOccurs="0"/>
			<xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
			<xsd:element name="descripcionCorta" type="xsd:string" minOccurs="0"/>
			<xsd:element name="estatus" type="xsd:boolean" minOccurs="0"/>
			<xsd:element name="codigoExterno" type="xsd:string" minOccurs="0"/>
			<xsd:element name="esSubEstado" type="xsd:boolean" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EntidadMinima">
		<xsd:sequence>
			<xsd:element name="id" type="xsd:long" minOccurs="0"/>
			<xsd:element name="descripcion" type="xsd:string" minOccurs="0"/>
			<xsd:element name="estatus" type="xsd:boolean" minOccurs="0"/>
   <xsd:element name="esPorcentaje" type="xsd:string" minOccurs="0"/>
   <xsd:element name="difValor" type="xsd:decimal" minOccurs="0"/>
   <xsd:element name="difPorcentaje" type="xsd:decimal" minOccurs="0"/>
  </xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="TipoValorType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="VARCHAR"/>
			<xsd:enumeration value="NUMBER"/>
			<xsd:enumeration value="DECIMAL"/>
			<xsd:enumeration value="DATE"/>
			<xsd:enumeration value="TIMESTAMP"/>
			<xsd:enumeration value="ONECHOICE"/>
			<xsd:enumeration value="MULTICHOICE"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="Accion">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="EDITAR"/>
			<xsd:enumeration value="ELIMINAR"/>
			<xsd:enumeration value="AGREGAR"/>
			<xsd:enumeration value="EXCEPTUAR"/>
			<xsd:enumeration value="DISPENSAR"/>
			<xsd:enumeration value="INACTIVAR"/>
			<xsd:enumeration value="REACTIVAR"/>
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="NivelType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="OPERACION"/>
			<xsd:enumeration value="CONTRATO"/>
			<xsd:enumeration value="LINEA"/>
			<xsd:enumeration value="SOLICITUDESDESEMBOLSO"/>
			<xsd:enumeration value="DESEMBOLSO"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
