BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Common/V1/Schema/ErrorBO.xsd

<?xml version="1.0" encoding="windows-1252"?>
<!-- edited with XMLSpy v2015 sp1 (x64) (http://www.altova.com) by Cesar Varela (Television Internacional) -->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:errBO="http://www.bcie.org/ErrorBO" targetNamespace="http://www.bcie.org/ErrorBO" elementFormDefault="qualified">
	<xsd:complexType name="Error">
		<xsd:annotation>
			<xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
			<xsd:documentation>Objeto para el control de los errores y las excepciones</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="errorCode" type="xsd:string"/>
			<xsd:element name="errorDescription" type="xsd:string"/>
			<xsd:element name="errorType" type="errBO:ErrorType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:simpleType name="ErrorType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="TEC"/>
			<xsd:enumeration value="NEG"/>
			<!-- Error técnico -->
			<!-- Error de negocio -->
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:complexType name="FaultErrorType">
		<xsd:complexContent>
			<xsd:extension base="errBO:Error">
				<xsd:sequence>
					<xsd:element name="message" type="xsd:anyType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
</xsd:schema>
