AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Utility/Email/Schema/SendEmail.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<schema attributeFormDefault="unqualified"
	elementFormDefault="qualified"
	targetNamespace="http://xmlns.oracle.com/SendEmailApp/SendEmail/SendEmail"
	xmlns="http://www.w3.org/2001/XMLSchema">
	<element name="process">
		<complexType>
			<sequence>
				<element name="To" type="string"/>
                                <element name="Cc" type="string"/>
                                <element name="Bcc" type="string"/>
                                <element name="Subject" type="string"/>
                                <element name="Body" type="string"/>
			</sequence>
		</complexType>
	</element>
</schema>