Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Check/ChkOrdAdd/ChkOrdAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/ChkOrdAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptChkOrdAdd="http://xmlns.banesco.com/eopt/ChkOrdAdd_V1.0" xmlns:eoChk="http://xmlns.banesco.com/eo/Chk_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Chk_V1.0" schemaLocation="../../../EO/Acct/Chk_V1.0.xsd"/>
	<xs:element name="ChkOrdAddRq" type="eoptChkOrdAdd:ChkOrdAddRq_Type"/>
	<xs:element name="ChkOrdAddRs" type="eoptChkOrdAdd:ChkOrdAddRs_Type"/>
	<xs:complexType name="ChkOrdAddRq_Type">
		<xs:sequence>
			<xs:element name="Chk" type="eoChk:Chk" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkOrdAddRs_Type">
		<xs:sequence>
			<xs:element name="ChkKey" type="eoChk:ChkKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
