BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/ConsultarLineaCredito/XSD/ConsultarLineaCredito.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarLineaCredito" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarLineaCredito" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarLineaCreditoInput" type="ConsultarLineaCreditoInput"/>
   <xs:complexType name="ConsultarLineaCreditoInput">
      <xs:sequence>
         <xs:element name="ID_LC" type="xs:decimal" nillable="true"/>
         <xs:element name="NUMERO_LINEA" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarLineaCreditoOutputCollection" type="ConsultarLineaCreditoOutputCollection"/>
   <xs:complexType name="ConsultarLineaCreditoOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarLineaCreditoOutput" type="ConsultarLineaCreditoOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarLineaCreditoOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_CONTRATO" type="xs:decimal" nillable="true"/>
         <xs:element name="NUMERO_LINEA_CREDITO" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_LINEA" type="xs:string" nillable="true"/>
         <xs:element name="ID_FLEXCUBE" type="xs:string" nillable="true"/>
         <xs:element name="FONDO" type="xs:string" nillable="true"/>
		 <xs:element name="ID_TCA_TIPO_MONEDA" type="xs:integer" nillable="true"/>
         <xs:element name="MONTO_LINEA" type="xs:decimal" nillable="true"/>
         <xs:element name="ES_REVOLVENTE" type="xs:decimal" nillable="true"/>
         <xs:element name="TRATAMIENTO_DIAS_FERIADOS" type="xs:string" nillable="true"/>
         <xs:element name="ID_PRODUCTO_FLEXCUBE" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_VALOR" type="xs:dateTime" nillable="true"/>
         <xs:element name="FECHA_VENCIMIENTO" type="xs:dateTime" nillable="true"/>
         <xs:element name="CODIGO_PLANTILLA_LIMITE" type="xs:string" nillable="true"/>
         <xs:element name="CODIGO_SERIAL_LIMITE" type="xs:decimal" nillable="true"/>
         <xs:element name="CODIGO_ASIGNACION" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_ASIGNACION" type="xs:string" nillable="true"/>
         <xs:element name="ID_FLEXCUBE_PASIVO" type="xs:string" nillable="true"/>
         <xs:element name="CONDICION_ESPECIAL" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_COND_ESPECIAL" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="BAN_ACT_MONTO" type="xs:decimal" nillable="true"/>
         <xs:element name="SE_PUEDE_MOVER_ENTRE_MESES" type="xs:decimal"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>