Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/TechLayer/AccountLoan/AcctLoanTechSvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptAcctLoanCalcAdd="http://xmlns.banesco.com/eopt/AcctLoanCalcAdd_V1.0"
             xmlns:eoptAcctLoanCalcInq="http://xmlns.banesco.com/eopt/AcctLoanCalcInq_V1.0"
             xmlns:eoptAcctLoanLedgerAdd="http://xmlns.banesco.com/eopt/AcctLoanLedgerAdd_V1.0"
             xmlns:eoptAcctLoanStatusMod="http://xmlns.banesco.com/eopt/AcctLoanStatusMod_V1.0"
             xmlns:eoptAcctLoanPartyRelAdd="http://xmlns.banesco.com/eopt/AcctLoanPartyRelAdd_V1.0"
             xmlns:eoptAcctLoanAgreeInq="http://xmlns.banesco.com/eopt/AcctLoanAgreeInq_V1.0"
             xmlns:eoptAcctLoanInfoInq="http://xmlns.banesco.com/eopt/AcctLoanInfoInq_V1.0"
             xmlns:eoptAcctLoanAgreeAdd="http://xmlns.banesco.com/eopt/AcctLoanAgreeAdd_V1.0"
             xmlns:eoptAcctLoanAgreeMod="http://xmlns.banesco.com/eopt/AcctLoanAgreeMod_V1.0"
             xmlns:eoptAcctLoanCollateralAdd="http://xmlns.banesco.com/eopt/AcctLoanCollateralAdd_V1.0"
             xmlns:eoptAcctLoanCollateralMod="http://xmlns.banesco.com/eopt/AcctLoanCollateralMod_V1.0"
             xmlns:eoptAcctLoanInq="http://xmlns.banesco.com/eopt/AcctLoanInq_V1.0"
             xmlns:eoptAcctLoanPartyInq="http://xmlns.banesco.com/eopt/AcctLoanPartyInq_V1.0"
             xmlns:eoptAcctLoanPartyRelMod="http://xmlns.banesco.com/eopt/AcctLoanPartyRelMod_V1.0"
             xmlns:eoptAcctLoanPrLetterAdd="http://xmlns.banesco.com/eopt/AcctLoanPrLetterAdd_V1.0"
             xmlns:eoptAcctLoanPrLetterMod="http://xmlns.banesco.com/eopt/AcctLoanPrLetterMod_V1.0"
             xmlns:eoptAcctLoanAdd="http://xmlns.banesco.com/eopt/AcctLoanAdd_V1.0"
             xmlns:eoptAcctLoanAutoAdd="http://xmlns.banesco.com/eopt/AcctLoanAutoAdd_V1.0"
             xmlns:eoptAcctLoanInfoAdd="http://xmlns.banesco.com/eopt/AcctLoanInfoAdd_V1.0"
             xmlns:eoptAcctLoanMortAdd="http://xmlns.banesco.com/eopt/AcctLoanMortAdd_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanCalcAdd/AcctLoanCalcAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanCalcAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanCalcInq/AcctLoanCalcInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanCalcInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanLedgerAdd/AcctLoanLedgerAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanLedgerAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanStatusMod/AcctLoanStatusMod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanStatusMod_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanPartyRelAdd/AcctLoanPartyRelAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanPartyRelAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanAgreeInq/AcctLoanAgreeInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanAgreeInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanInfoInq/AcctLoanInfoInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanInfoInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanAgreeAdd/AcctLoanAgreeAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanAgreeAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanAgreeMod/AcctLoanAgreeMod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanAgreeMod_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanCollateralAdd/AcctLoanCollateralAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanCollateralAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanCollateralMod/AcctLoanCollateralMod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanCollateralMod_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanInq/AcctLoanInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanPartyInq/AcctLoanPartyInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanPartyInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanPartyRelMod/AcctLoanPartyRelMod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanPartyRelMod_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanPrLetterAdd/AcctLoanPrLetterAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanPrLetterAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanPrLetterMod/AcctLoanPrLetterMod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanPrLetterMod_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanAdd/AcctLoanAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanInfoAdd/AcctLoanInfoAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanInfoAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanAutoAdd/AcctLoanAutoAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanAutoAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/AccountLoan/AcctLoanMortAdd/AcctLoanMortAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctLoanMortAdd_V1.0"/>
    </xsd:schema>
  </types>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="AcctLoanCalcAddRq">
    <part name="AcctLoanCalcAddRq" element="eoptAcctLoanCalcAdd:AcctLoanCalcAddRq"/>
  </message>
  <message name="AcctLoanCalcAddRs">
    <part name="AcctLoanCalcAddRs" element="eoptAcctLoanCalcAdd:AcctLoanCalcAddRs"/>
  </message>
  <message name="AcctLoanCalcInqRq">
    <part name="AcctLoanCalcInqRq" element="eoptAcctLoanCalcInq:AcctLoanCalcInqRq"/>
  </message>
  <message name="AcctLoanCalcInqRs">
    <part name="AcctLoanCalcInqRs" element="eoptAcctLoanCalcInq:AcctLoanCalcInqRs"/>
  </message>
  <message name="AcctLoanLedgerAddRq">
    <part name="AcctLoanLedgerAddRq" element="eoptAcctLoanLedgerAdd:AcctLoanLedgerAddRq"/>
  </message>
  <message name="AcctLoanLedgerAddRs">
    <part name="AcctLoanLedgerAddRs" element="eoptAcctLoanLedgerAdd:AcctLoanLedgerAddRs"/>
  </message>
  <message name="AcctLoanStatusModRq">
    <part name="AcctLoanStatusModRq" element="eoptAcctLoanStatusMod:AcctLoanStatusModRq"/>
  </message>
  <message name="AcctLoanStatusModRs">
    <part name="AcctLoanStatusModRs" element="eoptAcctLoanStatusMod:AcctLoanStatusModRs"/>
  </message>
  <message name="AcctLoanPartyRelAddRq">
    <part name="AcctLoanPartyRelAddRq" element="eoptAcctLoanPartyRelAdd:AcctLoanPartyRelAddRq"/>
  </message>
  <message name="AcctLoanPartyRelAddRs">
    <part name="AcctLoanPartyRelAddRs" element="eoptAcctLoanPartyRelAdd:AcctLoanPartyRelAddRs"/>
  </message>
  <message name="AcctLoanAgreeInqRq">
    <part name="AcctLoanAgreeInqRq" element="eoptAcctLoanAgreeInq:AcctLoanAgreeInqRq"/>
  </message>
  <message name="AcctLoanAgreeInqRs">
    <part name="AcctLoanAgreeInqRs" element="eoptAcctLoanAgreeInq:AcctLoanAgreeInqRs"/>
  </message>
  <message name="AcctLoanInfoInqRq">
    <part name="AcctLoanInfoInqRq" element="eoptAcctLoanInfoInq:AcctLoanInfoInqRq"/>
  </message>
  <message name="AcctLoanInfoInqRs">
    <part name="AcctLoanInfoInqRs" element="eoptAcctLoanInfoInq:AcctLoanInfoInqRs"/>
  </message>
  <message name="AcctLoanAgreeAddRq">
    <part name="AcctLoanAgreeAddRq" element="eoptAcctLoanAgreeAdd:AcctLoanAgreeAddRq"/>
  </message>
  <message name="AcctLoanAgreeAddRs">
    <part name="AcctLoanAgreeAddRs" element="eoptAcctLoanAgreeAdd:AcctLoanAgreeAddRs"/>
  </message>
  <message name="AcctLoanAgreeModRq">
    <part name="AcctLoanAgreeModRq" element="eoptAcctLoanAgreeMod:AcctLoanAgreeModRq"/>
  </message>
  <message name="AcctLoanAgreeModRs">
    <part name="AcctLoanAgreeModRs" element="eoptAcctLoanAgreeMod:AcctLoanAgreeModRs"/>
  </message>
  <message name="AcctLoanCollateralAddRq">
    <part name="AcctLoanCollateralAddRq" element="eoptAcctLoanCollateralAdd:AcctLoanCollateralAddRq"/>
  </message>
  <message name="AcctLoanCollateralAddRs">
    <part name="AcctLoanCollateralAddRs" element="eoptAcctLoanCollateralAdd:AcctLoanCollateralAddRs"/>
  </message>
  <message name="AcctLoanCollateralModRq">
    <part name="AcctLoanCollateralModRq" element="eoptAcctLoanCollateralMod:AcctLoanCollateralModRq"/>
  </message>
  <message name="AcctLoanCollateralModRs">
    <part name="AcctLoanCollateralModRs" element="eoptAcctLoanCollateralMod:AcctLoanCollateralModRs"/>
  </message>
  <message name="AcctLoanInqRq">
    <part name="AcctLoanInqRq" element="eoptAcctLoanInq:AcctLoanInqRq"/>
  </message>
  <message name="AcctLoanInqRs">
    <part name="AcctLoanInqRs" element="eoptAcctLoanInq:AcctLoanInqRs"/>
  </message>
  <message name="AcctLoanPartyInqRq">
    <part name="AcctLoanPartyInqRq" element="eoptAcctLoanPartyInq:AcctLoanPartyInqRq"/>
  </message>
  <message name="AcctLoanPartyInqRs">
    <part name="AcctLoanPartyInqRs" element="eoptAcctLoanPartyInq:AcctLoanPartyInqRs"/>
  </message>
  <message name="AcctLoanPartyRelModRq">
    <part name="AcctLoanPartyRelModRq" element="eoptAcctLoanPartyRelMod:AcctLoanPartyRelModRq"/>
  </message>
  <message name="AcctLoanPartyRelModRs">
    <part name="AcctLoanPartyRelModRs" element="eoptAcctLoanPartyRelMod:AcctLoanPartyRelModRs"/>
  </message>
  <message name="AcctLoanPrLetterAddRq">
    <part name="AcctLoanPrLetterAddRq" element="eoptAcctLoanPrLetterAdd:AcctLoanPrLetterAddRq"/>
  </message>
  <message name="AcctLoanPrLetterAddRs">
    <part name="AcctLoanPrLetterAddRs" element="eoptAcctLoanPrLetterAdd:AcctLoanPrLetterAddRs"/>
  </message>
  <message name="AcctLoanPrLetterModRq">
    <part name="AcctLoanPrLetterModRq" element="eoptAcctLoanPrLetterMod:AcctLoanPrLetterModRq"/>
  </message>
  <message name="AcctLoanPrLetterModRs">
    <part name="AcctLoanPrLetterModRs" element="eoptAcctLoanPrLetterMod:AcctLoanPrLetterModRs"/>
  </message>
  <message name="AcctLoanAddRq">
    <part name="AcctLoanAddRq" element="eoptAcctLoanAdd:AcctLoanAddRq"/>
  </message>
  <message name="AcctLoanAddRs">
    <part name="AcctLoanAddRs" element="eoptAcctLoanAdd:AcctLoanAddRs"/>
  </message>
  <message name="AcctLoanInfoAddRq">
    <part name="AcctLoanInfoAddRq" element="eoptAcctLoanInfoAdd:AcctLoanInfoAddRq"/>
  </message>
  <message name="AcctLoanInfoAddRs">
    <part name="AcctLoanInfoAddRs" element="eoptAcctLoanInfoAdd:AcctLoanInfoAddRs"/>
  </message>
  <message name="AcctLoanAutoAddRq">
    <part name="AcctLoanAutoAddRq" element="eoptAcctLoanAutoAdd:AcctLoanAutoAddRq"/>
  </message>
  <message name="AcctLoanAutoAddRs">
    <part name="AcctLoanAutoAddRs" element="eoptAcctLoanAutoAdd:AcctLoanAutoAddRs"/>
  </message>
  <message name="AcctLoanMortAddRq">
    <part name="AcctLoanMortAddRq" element="eoptAcctLoanMortAdd:AcctLoanMortAddRq"/>
  </message>
  <message name="AcctLoanMortAddRs">
    <part name="AcctLoanMortAddRs" element="eoptAcctLoanMortAdd:AcctLoanMortAddRs"/>
  </message>
  
  <portType name="AcctLoanTechSvc_V1.0PortType">
    <operation name="AcctLoanCalcAdd">
      <input message="tns:AcctLoanCalcAddRq"/>
      <output message="tns:AcctLoanCalcAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctLoanCalcInq">
      <input message="tns:AcctLoanCalcInqRq"/>
      <output message="tns:AcctLoanCalcInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctLoanLedgerAdd">
      <input message="tns:AcctLoanLedgerAddRq"/>
      <output message="tns:AcctLoanLedgerAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctLoanStatusMod">
      <input message="tns:AcctLoanStatusModRq"/>
      <output message="tns:AcctLoanStatusModRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="AcctLoanPartyRelAdd">
      <input message="tns:AcctLoanPartyRelAddRq"/>
      <output message="tns:AcctLoanPartyRelAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctLoanAgreeInq">
      <input message="tns:AcctLoanAgreeInqRq"/>
      <output message="tns:AcctLoanAgreeInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctLoanInfoInq">
      <input message="tns:AcctLoanInfoInqRq"/>
      <output message="tns:AcctLoanInfoInqRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="AcctLoanAgreeMod">
      <input message="tns:AcctLoanAgreeModRq"/>
      <output message="tns:AcctLoanAgreeModRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="AcctLoanAgreeAdd">
      <input message="tns:AcctLoanAgreeAddRq"/>
      <output message="tns:AcctLoanAgreeAddRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="AcctLoanCollateralAdd">
      <input message="tns:AcctLoanCollateralAddRq"/>
      <output message="tns:AcctLoanCollateralAddRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="AcctLoanCollateralMod">
      <input message="tns:AcctLoanCollateralModRq"/>
      <output message="tns:AcctLoanCollateralModRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="AcctLoanInq">
      <input message="tns:AcctLoanInqRq"/>
      <output message="tns:AcctLoanInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctLoanPartyInq">
      <input message="tns:AcctLoanPartyInqRq"/>
      <output message="tns:AcctLoanPartyInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctLoanPartyRelMod">
      <input message="tns:AcctLoanPartyRelModRq"/>
      <output message="tns:AcctLoanPartyRelModRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctLoanPrLetterAdd">
      <input message="tns:AcctLoanPrLetterAddRq"/>
      <output message="tns:AcctLoanPrLetterAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctLoanPrLetterMod">
      <input message="tns:AcctLoanPrLetterModRq"/>
      <output message="tns:AcctLoanPrLetterModRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctLoanAdd">
      <input message="tns:AcctLoanAddRq"/>
      <output message="tns:AcctLoanAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctLoanInfoAdd">
      <input message="tns:AcctLoanInfoAddRq"/>
      <output message="tns:AcctLoanInfoAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctLoanAutoAdd">
      <input message="tns:AcctLoanAutoAddRq"/>
      <output message="tns:AcctLoanAutoAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctLoanMortAdd">
      <input message="tns:AcctLoanMortAddRq"/>
      <output message="tns:AcctLoanMortAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
  </portType>
  
  <binding name="AcctLoanTechSvc_V1.0SOAPBinding" type="tns:AcctLoanTechSvc_V1.0PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AcctLoanCalcAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanCalcAdd"/>
      <input>
        <soap:body use="literal" parts="AcctLoanCalcAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanCalcAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanCalcInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanCalcInq"/>
      <input>
        <soap:body use="literal" parts="AcctLoanCalcInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanCalcInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanLedgerAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanLedgerAdd"/>
      <input>
        <soap:body use="literal" parts="AcctLoanLedgerAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanLedgerAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanStatusMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanStatusMod"/>
      <input>
        <soap:body use="literal" parts="AcctLoanStatusModRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanStatusModRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanPartyRelAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanPartyRelAdd"/>
      <input>
        <soap:body use="literal" parts="AcctLoanPartyRelAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanPartyRelAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanAgreeInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanAgreeInq"/>
      <input>
        <soap:body use="literal" parts="AcctLoanAgreeInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanAgreeInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanInfoInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanInfoInq"/>
      <input>
        <soap:body use="literal" parts="AcctLoanInfoInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanInfoInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanAgreeMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanAgreeMod"/>
      <input>
        <soap:body use="literal" parts="AcctLoanAgreeModRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanAgreeModRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanAgreeAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanAgreeAdd"/>
      <input>
        <soap:body use="literal" parts="AcctLoanAgreeAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanAgreeAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanCollateralAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanCollateralAdd"/>
      <input>
        <soap:body use="literal" parts="AcctLoanCollateralAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanCollateralAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanCollateralMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanCollateralMod"/>
      <input>
        <soap:body use="literal" parts="AcctLoanCollateralModRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanCollateralModRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanInq"/>
      <input>
        <soap:body use="literal" parts="AcctLoanInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanPartyInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanPartyInq"/>
      <input>
        <soap:body use="literal" parts="AcctLoanPartyInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanPartyInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanPartyRelMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanPartyRelMod"/>
      <input>
        <soap:body use="literal" parts="AcctLoanPartyRelModRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanPartyRelModRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanPrLetterAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanPrLetterAdd"/>
      <input>
        <soap:body use="literal" parts="AcctLoanPrLetterAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanPrLetterAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanPrLetterMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanPrLetterMod"/>
      <input>
        <soap:body use="literal" parts="AcctLoanPrLetterModRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanPrLetterModRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanAdd"/>
      <input>
        <soap:body use="literal" parts="AcctLoanAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanInfoAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanInfoAdd"/>
      <input>
        <soap:body use="literal" parts="AcctLoanInfoAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanInfoAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanAutoAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanAutoAdd"/>
      <input>
        <soap:body use="literal" parts="AcctLoanAutoAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanAutoAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctLoanMortAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctLoanTechSvc_V1.0/AcctLoanMortAdd"/>
      <input>
        <soap:body use="literal" parts="AcctLoanMortAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctLoanMortAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AcctLoanTechSvc_V1.0">
    <port name="AcctLoanTechSvcPort" binding="tns:AcctLoanTechSvc_V1.0SOAPBinding">
      <soap:address location="http://localhost"/>
    </port>
  </service>
</definitions>