Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/TechLayer/Account/AcctTechSvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptAcctStmtImgInq="http://xmlns.banesco.com/eopt/AcctStmtImgInq_V1.0"
             xmlns:eoptAcctTrnInq="http://xmlns.banesco.com/eopt/AcctTrnInq_V1.0"
             xmlns:eoptAcctStmtInq="http://xmlns.banesco.com/eopt/AcctStmtInq_V1.0"
             xmlns:eoptAcctChargeAdd="http://xmlns.banesco.com/eopt/AcctChargeAdd_V1.0"
             xmlns:eoptPersonAcctInfoInq="http://xmlns.banesco.com/eopt/PersonAcctInfoInq_V1.0"
             xmlns:eoptOrgAcctInfoInq="http://xmlns.banesco.com/eopt/OrgAcctInfoInq_V1.0"
             xmlns:eoptAcctSignatureGrpAdd="http://xmlns.banesco.com/eopt/AcctSignatureGrpAdd_V1.0"
             xmlns:eoptAcctCondMobilAdd="http://xmlns.banesco.com/eopt/AcctCondMobilAdd_V1.0"
             xmlns:eoptAcctAdd="http://xmlns.banesco.com/eopt/AcctAdd_V1.0"
             xmlns:eoptAcctInq="http://xmlns.banesco.com/eopt/AcctInq_V1.0"
             xmlns:eoptAcctInfoAdd="http://xmlns.banesco.com/eopt/AcctInfoAdd_V1.0"
             xmlns:eoptAcctAddAdvInq="http://xmlns.banesco.com/eopt/AcctAddAdvInq_V1.0"
             xmlns:eoptAdminTrnAdvInq="http://xmlns.banesco.com/eopt/AdminTrnAdvInq_V1.0"
             xmlns:eoptAcctTrnAddAdvInq="http://xmlns.banesco.com/eopt/AcctTrnAddAdvInq_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctStmtImgInq/AcctStmtImgInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctStmtImgInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctTrnInq/AcctTrnInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctTrnInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctStmtInq/AcctStmtInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctStmtInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctChargeAdd/AcctChargeAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctChargeAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/PersonAcctInfoInq/PersonAcctInfoInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/PersonAcctInfoInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/OrgAcctInfoInq/OrgAcctInfoInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/OrgAcctInfoInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctSignatureGrpAdd/AcctSignatureGrpAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctSignatureGrpAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctCondMobilAdd/AcctCondMobilAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctCondMobilAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctAdd/AcctAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctInq/AcctInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctInfoAdd/AcctInfoAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctInfoAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctAddAdvInq/AcctAddAdvInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctAddAdvInq_V1.0"/>        
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AdminTrnAdvInq/AdminTrnAdvInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AdminTrnAdvInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctTrnAddAdvInq/AcctTrnAddAdvInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctTrnAddAdvInq_V1.0"/>
    </xsd:schema>
  </types>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="AcctStmtImgInqRq">
    <part name="AcctStmtImgInqRq" element="eoptAcctStmtImgInq:AcctStmtImgInqRq"/>
  </message>
  <message name="AcctStmtImgInqRs">
    <part name="AcctStmtImgInqRs" element="eoptAcctStmtImgInq:AcctStmtImgInqRs"/>
  </message>
  <message name="AcctTrnInqRq">
    <part name="AcctTrnInqRq" element="eoptAcctTrnInq:AcctTrnInqRq"/>
  </message>
  <message name="AcctTrnInqRs">
    <part name="AcctTrnInqRs" element="eoptAcctTrnInq:AcctTrnInqRs"/>
  </message>
  <message name="AcctStmtInqRq">
    <part name="AcctStmtInqRq" element="eoptAcctStmtInq:AcctStmtInqRq"/>
  </message>
  <message name="AcctStmtInqRs">
    <part name="AcctStmtInqRs" element="eoptAcctStmtInq:AcctStmtInqRs"/>
  </message>
  <message name="AcctChargeAddRq">
    <part name="AcctChargeAddRq" element="eoptAcctChargeAdd:AcctChargeAddRq"/>
  </message>
  <message name="AcctChargeAddRs">
    <part name="AcctChargeAddRs" element="eoptAcctChargeAdd:AcctChargeAddRs"/>
  </message>
  <message name="PersonAcctInfoInqRq">
    <part name="PersonAcctInfoInqRq" element="eoptPersonAcctInfoInq:PersonAcctInfoInqRq"/>
  </message>
  <message name="PersonAcctInfoInqRs">
    <part name="PersonAcctInfoInqRs" element="eoptPersonAcctInfoInq:PersonAcctInfoInqRs"/>
  </message>
  <message name="OrgAcctInfoInqRq">
    <part name="OrgAcctInfoInqRq" element="eoptOrgAcctInfoInq:OrgAcctInfoInqRq"/>
  </message>
  <message name="OrgAcctInfoInqRs">
    <part name="OrgAcctInfoInqRs" element="eoptOrgAcctInfoInq:OrgAcctInfoInqRs"/>
  </message>
  <message name="AcctSignatureGrpAddRq">
    <part name="AcctSignatureGrpAddRq" element="eoptAcctSignatureGrpAdd:AcctSignatureGrpAddRq"/>
  </message>
  <message name="AcctSignatureGrpAddRs">
    <part name="AcctSignatureGrpAddRs" element="eoptAcctSignatureGrpAdd:AcctSignatureGrpAddRs"/>
  </message>
  <message name="AcctCondMobilAddRq">
    <part name="AcctCondMobilAddRq" element="eoptAcctCondMobilAdd:AcctCondMobilAddRq"/>
  </message>
  <message name="AcctCondMobilAddRs">
    <part name="AcctCondMobilAddRs" element="eoptAcctCondMobilAdd:AcctCondMobilAddRs"/>
  </message>
  <message name="AcctAddRq">
    <part name="AcctAddRq" element="eoptAcctAdd:AcctAddRq"/>
  </message>
  <message name="AcctAddRs">
    <part name="AcctAddRs" element="eoptAcctAdd:AcctAddRs"/>
  </message>
  <message name="AcctInqRq">
    <part name="AcctInqRq" element="eoptAcctInq:AcctInqRq"/>
  </message>
  <message name="AcctInqRs">
    <part name="AcctInqRs" element="eoptAcctInq:AcctInqRs"/>
  </message>
  <message name="AcctInfoAddRq">
    <part name="AcctInfoAddRq" element="eoptAcctInfoAdd:AcctInfoAddRq"/>
  </message>
  <message name="AcctInfoAddRs">
    <part name="AcctInfoAddRs" element="eoptAcctInfoAdd:AcctInfoAddRs"/>
  </message>
  <message name="AcctAddAdvInqRq">
    <part name="AcctAddAdvInqRq" element="eoptAcctAddAdvInq:AcctAddAdvInqRq"/>
  </message>
  <message name="AcctAddAdvInqRs">
    <part name="AcctAddAdvInqRs" element="eoptAcctAddAdvInq:AcctAddAdvInqRs"/>
  </message>
  <message name="AdminTrnAdvAAInqRq">
    <part name="AdminTrnAdvAAInqRq" element="eoptAdminTrnAdvInq:AdminTrnAdvAAInqRq"/>
  </message>
   <message name="AdminTrnAdvAAInqRs">
    <part name="AdminTrnAdvAAInqRs" element="eoptAdminTrnAdvInq:AdminTrnAdvAAInqRs"/>
  </message>
   <message name="AdminTrnAdvACHInqRq">
    <part name="AdminTrnAdvACHInqRq" element="eoptAdminTrnAdvInq:AdminTrnAdvACHInqRq"/>
  </message>
  <message name="AdminTrnAdvACHInqRs">
    <part name="AdminTrnAdvACHInqRs" element="eoptAdminTrnAdvInq:AdminTrnAdvACHInqRs"/>
  </message>
  <message name="AcctTrnAddAdvFTInqRq">
    <part name="AcctTrnAddAdvFTInqRq" element="eoptAcctTrnAddAdvInq:AcctTrnAddAdvFTInqRq"/>
  </message>
   <message name="AcctTrnAddAdvFTInqRs">
    <part name="AcctTrnAddAdvFTInqRs" element="eoptAcctTrnAddAdvInq:AcctTrnAddAdvFTInqRs"/>
  </message>
   <message name="AcctTrnAddAdvTTInqRq">
    <part name="AcctTrnAddAdvTTInqRq" element="eoptAcctTrnAddAdvInq:AcctTrnAddAdvTTInqRq"/>
  </message>
  <message name="AcctTrnAddAdvTTInqRs">
    <part name="AcctTrnAddAdvTTInqRs" element="eoptAcctTrnAddAdvInq:AcctTrnAddAdvTTInqRs"/>
  </message>
  <message name="AcctTrnAddAdvACRInqRq">
    <part name="AcctTrnAddAdvACRInqRq" element="eoptAcctTrnAddAdvInq:AcctTrnAddAdvACRInqRq"/>
  </message>
  <message name="AcctTrnAddAdvACRInqRs">
    <part name="AcctTrnAddAdvACRInqRs" element="eoptAcctTrnAddAdvInq:AcctTrnAddAdvACRInqRs"/>
  </message>
  <portType name="AcctTechSvc_V1.0PortType">
    <operation name="AcctStmtImgInq">
      <input message="tns:AcctStmtImgInqRq"/>
      <output message="tns:AcctStmtImgInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctTrnInq">
      <input message="tns:AcctTrnInqRq"/>
      <output message="tns:AcctTrnInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctStmtInq">
      <input message="tns:AcctStmtInqRq"/>
      <output message="tns:AcctStmtInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctChargeAdd">
      <input message="tns:AcctChargeAddRq"/>
      <output message="tns:AcctChargeAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="PersonAcctInfoInq">
      <input message="tns:PersonAcctInfoInqRq"/>
      <output message="tns:PersonAcctInfoInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="OrgAcctInfoInq">
      <input message="tns:OrgAcctInfoInqRq"/>
      <output message="tns:OrgAcctInfoInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctSignatureGrpAdd">
      <input message="tns:AcctSignatureGrpAddRq"/>
      <output message="tns:AcctSignatureGrpAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctCondMobilAdd">
      <input message="tns:AcctCondMobilAddRq"/>
      <output message="tns:AcctCondMobilAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="AcctAdd">
      <input message="tns:AcctAddRq"/>
      <output message="tns:AcctAddRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="AcctInq">
      <input message="tns:AcctInqRq"/>
      <output message="tns:AcctInqRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="AcctInfoAdd">
      <input message="tns:AcctInfoAddRq"/>
      <output message="tns:AcctInfoAddRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="AcctAddAdvInq">
      <input message="tns:AcctAddAdvInqRq"/>
      <output message="tns:AcctAddAdvInqRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="AdminTrnAdvAAInq">
      <input message="tns:AdminTrnAdvAAInqRq"/>
      <output message="tns:AdminTrnAdvAAInqRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="AdminTrnAdvACHInq">
      <input message="tns:AdminTrnAdvACHInqRq"/>
      <output message="tns:AdminTrnAdvACHInqRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="AcctTrnAddAdvFTInq">
      <input message="tns:AcctTrnAddAdvFTInqRq"/>
      <output message="tns:AcctTrnAddAdvFTInqRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="AcctTrnAddAdvTTInq">
      <input message="tns:AcctTrnAddAdvTTInqRq"/>
      <output message="tns:AcctTrnAddAdvTTInqRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
    <operation name="AcctTrnAddAdvACRInq">
      <input message="tns:AcctTrnAddAdvACRInqRq"/>
      <output message="tns:AcctTrnAddAdvACRInqRs"/>
      <fault message="tns:SystemFault" name="SystemFault"/>
    </operation>
  </portType>
  <binding name="AcctTechSvc_V1.0SOAPBinding" type="tns:AcctTechSvc_V1.0PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AcctStmtImgInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/AcctStmtImgInq"/>
      <input>
        <soap:body use="literal" parts="AcctStmtImgInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctStmtImgInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctTrnInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/AcctTrnInq"/>
      <input>
        <soap:body use="literal" parts="AcctTrnInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctTrnInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctStmtInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/AcctStmtInq"/>
      <input>
        <soap:body use="literal" parts="AcctStmtInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctStmtInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctChargeAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/AcctChargeAdd"/>
      <input>
        <soap:body use="literal" parts="AcctChargeAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctChargeAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PersonAcctInfoInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/PersonAcctInfoInq"/>
      <input>
        <soap:body use="literal" parts="PersonAcctInfoInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PersonAcctInfoInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="OrgAcctInfoInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/OrgAcctInfoInq"/>
      <input>
        <soap:body use="literal" parts="OrgAcctInfoInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="OrgAcctInfoInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctSignatureGrpAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/AcctSignatureGrpAdd"/>
      <input>
        <soap:body use="literal" parts="AcctSignatureGrpAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctSignatureGrpAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctCondMobilAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/AcctCondMobilAdd"/>
      <input>
        <soap:body use="literal" parts="AcctCondMobilAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctCondMobilAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/AcctAdd"/>
      <input>
        <soap:body use="literal" parts="AcctAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/AcctInq"/>
      <input>
        <soap:body use="literal" parts="AcctInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctInfoAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/AcctInfoAdd"/>
      <input>
        <soap:body use="literal" parts="AcctInfoAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctInfoAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctAddAdvInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/AcctAddAdvInq"/>
      <input>
        <soap:body use="literal" parts="AcctAddAdvInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctAddAdvInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AdminTrnAdvAAInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/AdminTrnAdvAAInq"/>
      <input>
        <soap:body use="literal" parts="AdminTrnAdvAAInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AdminTrnAdvAAInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
        <operation name="AdminTrnAdvACHInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/AdminTrnAdvACHInq"/>
      <input>
        <soap:body use="literal" parts="AdminTrnAdvACHInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AdminTrnAdvACHInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctTrnAddAdvFTInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/AcctTrnAddAdvFTInq"/>
      <input>
        <soap:body use="literal" parts="AcctTrnAddAdvFTInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctTrnAddAdvFTInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctTrnAddAdvTTInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/AcctTrnAddAdvTTInq"/>
      <input>
        <soap:body use="literal" parts="AcctTrnAddAdvTTInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctTrnAddAdvTTInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctTrnAddAdvACRInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctTechSvc_V1.0/AcctTrnAddAdvACRInq"/>
      <input>
        <soap:body use="literal" parts="AcctTrnAddAdvACRInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctTrnAddAdvACRInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AcctTechSvc_V1.0">
    <port name="AcctTechSvcPort" binding="tns:AcctTechSvc_V1.0SOAPBinding">
      <soap:address location="http://www.example.com"/>
    </port>
  </service>
</definitions>