Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/TechLayer/Account/AcctAdvTechSvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/TechLayer/AcctAdvTechSvc_V1.0"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.banesco.com/TechLayer/AcctAdvTechSvc_V1.0"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptAcctAddAdv="http://xmlns.banesco.com/eopt/AcctAddAdv_V1.0"
             xmlns:eoptAdminTrnAdv="http://xmlns.banesco.com/eopt/AdminTrnAdv_V1.0"
             xmlns:eoptAcctTrnAddAdv="http://xmlns.banesco.com/eopt/AcctTrnAddAdv_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctAddAdv/AcctAddAdv_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctAddAdv_V1.0"/>
     <xsd:import schemaLocation="../../../xsd/EOpt/Account/AdminTrnAdv/AdminTrnAdv_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AdminTrnAdv_V1.0"/>            
     <xsd:import schemaLocation="../../../xsd/EOpt/Account/AcctTrnAddAdv/AcctTrnAddAdv_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctTrnAddAdv_V1.0"/>             
    </xsd:schema>
  </types>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="AcctAddAdvRq">
    <part name="AcctAddAdvRq" element="eoptAcctAddAdv:AcctAddAdvRq"/>
  </message>
  <message name="AcctAddAdvRs">
    <part name="AcctAddAdvRs" element="eoptAcctAddAdv:AcctAddAdvRs"/>
  </message>
    <message name="AdminTrnAdvRq">
    <part name="AdminTrnAdvRq" element="eoptAdminTrnAdv:AdminTrnAdvRq"/>
  </message>
  <message name="AdminTrnAdvRs">
    <part name="AdminTrnAdvRs" element="eoptAdminTrnAdv:AdminTrnAdvRs"/>
  </message>
   <message name="AcctTrnAddAdvRq">
    <part name="AcctTrnAddAdvRq" element="eoptAcctTrnAddAdv:AcctTrnAddAdvRq"/>
  </message>
  <message name="AcctTrnAddAdvRs">
    <part name="AcctTrnAddAdvRs" element="eoptAcctTrnAddAdv:AcctTrnAddAdvRs"/>
  </message> 
  <portType name="AcctAdvTechSvc_V1.0PortType">
    <operation name="AcctAddAdv">
      <input message="tns:AcctAddAdvRq"/>
      <output message="tns:AcctAddAdvRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation> 
    <operation name="AdminTrnAdv">
      <input message="tns:AdminTrnAdvRq"/>
      <output message="tns:AdminTrnAdvRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
     <operation name="AcctTrnAddAdv">
      <input message="tns:AcctTrnAddAdvRq"/>
      <output message="tns:AcctTrnAddAdvRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
  </portType>
  <binding name="AcctAdvTechSvc_V1.0SOAPBinding" type="tns:AcctAdvTechSvc_V1.0PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AcctAddAdv">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctAdvTechSvc_V1.0/AcctAddAdv"/>
      <input>
        <soap:body use="literal" parts="AcctAddAdvRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctAddAdvRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
     <operation name="AdminTrnAdv">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctAdvTechSvc_V1.0/AdminTrnAdv"/>
      <input>
        <soap:body use="literal" parts="AdminTrnAdvRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AdminTrnAdvRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="AcctTrnAddAdv">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctAdvTechSvc_V1.0/AcctTrnAddAdv"/>
      <input>
        <soap:body use="literal" parts="AcctTrnAddAdvRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctTrnAddAdvRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="AcctAdvTechSvc_V1.0">
    <port name="AcctAdvTechSvcPort" binding="tns:AcctAdvTechSvc_V1.0SOAPBinding">
      <soap:address location="http://www.localhost.com"/>
    </port>
  </service>
</definitions>