AG_2019/SOA/TranslateSupplier/SOA/Schemas/casePrimary_table.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/casePrimary" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/casePrimary" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="MdmSuppliersCollection" type="MdmSuppliersCollection"/>
   <xs:complexType name="MdmSuppliersCollection">
      <xs:sequence>
         <xs:element name="MdmSuppliers" type="MdmSuppliers" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MdmSuppliers">
      <xs:sequence>
         <xs:element name="id" type="xs:long"/>
         <xs:element name="appCode" type="string8"/>
         <xs:element name="name" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="isSite" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="parentId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="parentAppcode" type="string8" minOccurs="0" nillable="true"/>
         <xs:element name="primaryId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="primaryAppcode" type="string8" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="casePrimarySelect_idC2_appCodeC2InputParameters" type="casePrimarySelect_idC2_appCodeC2"/>
   <xs:complexType name="casePrimarySelect_idC2_appCodeC2">
      <xs:sequence>
         <xs:element name="idC2" type="xs:long" minOccurs="1" maxOccurs="1"/>
         <xs:element name="appCodeC2" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string8">
      <xs:restriction base="xs:string">
         <xs:maxLength value="8"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
