Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/QUANTIC/resources/xsd/CreateMessagesResponse.xsd

<?xml version = '1.0'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://connections.quanticvision.com/banescobl/public/soap" targetNamespace="http://connections.quanticvision.com/banescobl/public/soap">
   <xsd:element name="createMessagesResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="return">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="item">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="id">
                                 <xsd:complexType>
                                    <xsd:attribute name="nil" type="xsd:string"/>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="external_id">
                                 <xsd:complexType>
                                    <xsd:attribute name="nil" type="xsd:string"/>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="status_id">
                                 <xsd:complexType>
                                    <xsd:attribute name="nil" type="xsd:string"/>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="last_change">
                                 <xsd:complexType>
                                    <xsd:attribute name="nil" type="xsd:string"/>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="error">
                                 <xsd:complexType>
                                    <xsd:simpleContent>
                                       <xsd:extension base="xsd:integer">
                                          <xsd:attribute name="type" type="xsd:string"/>
                                       </xsd:extension>
                                    </xsd:simpleContent>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="content">
                                 <xsd:complexType>
                                    <xsd:simpleContent>
                                       <xsd:extension base="xsd:string">
                                          <xsd:attribute name="type" type="xsd:string"/>
                                       </xsd:extension>
                                    </xsd:simpleContent>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                           <xsd:attribute name="type" type="xsd:string"/>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
                  <xsd:attribute name="type" type="xsd:string"/>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
</xsd:schema>
