BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/CrearReporteElegibilidad/XSD/ReporteElegibilidad.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. -->
<xsd:schema targetNamespace="http://service.org.bcie.www/" xmlns:ns1="http://www.bcie.com/Cuestionario/CrearReporteElegibilidad" xmlns:ns0="http://service.org.bcie.www/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
	<xsd:import schemaLocation="ErrorHandlerReporteElegibilidad.xsd" namespace="http://www.bcie.com/Cuestionario/CrearReporteElegibilidad"/>
	<xsd:complexType name="Reporte">
		<xsd:sequence>
			<xsd:element name="idOperacion" type="xsd:long"/>
			<xsd:element name="idDeclaracion" type="xsd:long"/>
			<xsd:element name="NoObjecion" type="xsd:string"/>
			<xsd:element name="ResponsableOperacion" type="xsd:string" maxOccurs="1" minOccurs="0"/>
			<xsd:element name="TipoGeneracion" type="xsd:string" maxOccurs="1" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReporteNotaConcepto">
		<xsd:sequence>
			<xsd:element name="idOperacion" type="xsd:long"/>
			<xsd:element name="NoObjecion" type="xsd:string" minOccurs="0"/>
			<xsd:element name="idDeclaracion" type="xsd:long" minOccurs="0"/>
			<xsd:element name="ResponsableOperacion" type="xsd:string" minOccurs="0"/>
			<xsd:element name="TipoGeneracion" type="xsd:string" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>	
	
	<xsd:complexType name="ReporteResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:base64Binary" minOccurs="0" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ReporteNotaConceptoResponse">
		<xsd:sequence>
			<xsd:element name="return" type="xsd:base64Binary" minOccurs="0" nillable="true"/>
		</xsd:sequence>
	</xsd:complexType>	
	<xsd:element name="ReporteNotaConceptoResponse" type="ns0:ReporteNotaConceptoResponse"/>
	<xsd:element name="IOException" type="ns1:IOException" nillable="true"/>
	<xsd:element name="ReporteNotaConcepto" type="ns0:ReporteNotaConcepto"/>
	<xsd:element name="Reporte" type="ns0:Reporte"/>
	<xsd:element name="ReporteResponse" type="ns0:ReporteResponse"/>
</xsd:schema>
