BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/CrearBitacoraReactivarOperacion/V1/Schema/CrearBitacoraReactivarOperacionMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/CrearBitacoraReactivarOperacionMO"
            targetNamespace="http://www.bcie.org/CrearBitacoraReactivarOperacionMO" elementFormDefault="qualified"
            xmlns:biReOp="http://www.bcie.org/CrearBitacoraReactivarOperacionBO"
            xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import namespace="http://www.bcie.org/CrearBitacoraReactivarOperacionBO"
              schemaLocation="CrearBitacoraReactivarOperacionBO.xsd"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="requestCrearBitacoraReactivarOperacionMessage" type="CrearBitacoraReactivarOperacionRequest"/>
  <xsd:element name="responseCrearBitacoraReactivarOperacionMessage" type="CrearBitacoraReactivarOperacionResponse"/>
  <xsd:complexType name="CrearBitacoraReactivarOperacionRequest">
    <xsd:sequence>
      <xsd:element name="Bitacora" type="biReOp:BitacoraReactivarOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearBitacoraReactivarOperacionResponse">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
