AG_2019/OSB/OSB_PRD_Almacenes/Applications/Prototipos/UpsertDiff/Resources/WSDL/PROUpsertDiffRest.wsdl

<wsdl:definitions name="PROUpsertDiffRest" targetNamespace="http://xmlns.oracle.com/AGOSB/Applications/PROUpsertDiffRest" xmlns:tns="http://xmlns.oracle.com/AGOSB/Applications/PROUpsertDiffRest" xmlns:inp1="http://mx.agarcia.ea/Applications/Prototipos/CreateColorNXSD" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <plnk:partnerLinkType name="PROUpsertDiffRest">
        <plnk:role name="PROUpsertDiffRestProvider" portType="tns:PROUpsertDiffRest_ptt"/>
    </plnk:partnerLinkType>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://mx.agarcia.ea/Applications/Prototipos/CreateColorNXSD" schemaLocation="../XSD/nxsd_diff.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="UpsertDiff_inputMessage">
        <wsdl:part name="request" element="inp1:upsertDiffRequest"/>
    </wsdl:message>
    <wsdl:message name="UpsertDiff_outputMessage">
        <wsdl:part name="reply" element="inp1:upsertDiffResponse"/>
    </wsdl:message>
    <wsdl:message name="UpsertDiffGroup_inputMessage">
        <wsdl:part name="request" element="inp1:upsertDiffRequest"/>
    </wsdl:message>
    <wsdl:message name="UpsertDiffGroup_outputMessage">
        <wsdl:part name="reply" element="inp1:upsertDiffResponse"/>
    </wsdl:message>
    <wsdl:portType name="PROUpsertDiffRest_ptt">
        <wsdl:operation name="UpsertDiff">
            <wsdl:input message="tns:UpsertDiff_inputMessage"/>
            <wsdl:output message="tns:UpsertDiff_outputMessage"/>
        </wsdl:operation>
        <wsdl:operation name="UpsertDiffGroup">
            <wsdl:input message="tns:UpsertDiffGroup_inputMessage"/>
            <wsdl:output message="tns:UpsertDiffGroup_outputMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PROUpsertDiffRest_ptt-binding" type="tns:PROUpsertDiffRest_ptt">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="UpsertDiff">
            <soap:operation soapAction="UpsertDiff"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="UpsertDiffGroup">
            <soap:operation soapAction="UpsertDiffGroup"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>