BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ReglaTarea/V1/Schema/ReglaTareaMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/ReglaTareaMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ReglaTareaMO" xmlns:regTaBO="http://www.bcie.org/ReglaTareaBO" xmlns:regBO="http://www.bcie.org/ReglaBO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:commonBO="http://www.bcie.org/CommonBO">
    <xsd:import namespace="http://www.bcie.org/ReglaTareaBO" schemaLocation="ReglaTareaBO.xsd"/>
    <xsd:import namespace="http://www.bcie.org/ReglaBO" schemaLocation="../../../../Common/V1/Schema/ReglaBO.xsd"/>
    <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
    <xsd:import namespace="http://www.bcie.org/CommonBO" schemaLocation="../../../../Common/V1/Schema/CommonBO.xsd"/>
    <xsd:element name="ConsultarReglasRequest" type="ConsultarReglasRequestType"/>
    <xsd:element name="ConsultarReglasResponse" type="ConsultarReglasResponseType"/>
    <xsd:element name="ConsultarReglasTareaRequest" type="ConsultarReglasTareaRequestType"/>
    <xsd:element name="ConsultarReglasTareaResponse" type="ConsultarReglasTareaResponseType"/>
    <xsd:element name="ValidarReglasRequest" type="ValidarReglasRequestType"/>
    <xsd:element name="ValidarReglasResponse" type="ValidarReglasResponseType"/>
    <xsd:element name="ValidarTareaReglasRequest" type="ValidarTareaReglasRequestType"/>
    <xsd:element name="ValidarTareaReglasResponse" type="ValidarTareaReglasResponseType"/>
    <xsd:complexType name="ConsultarReglasRequestType">
        <xsd:sequence>
            <xsd:element name="Regla" type="regBO:ReglaBasicType"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConsultarReglasResponseType">
        <xsd:sequence>
            <xsd:element name="Reglas" type="regBO:ReglaBasicType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Resultado" type="resBO:Resultado"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConsultarReglasTareaRequestType">
        <xsd:sequence>
            <xsd:element name="idTarea" type="regTaBO:idTarea"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ConsultarReglasTareaResponseType">
        <xsd:sequence>
            <xsd:element name="TareaReglas" type="regTaBO:TareaReglas"/>
            <xsd:element name="Resultado" type="resBO:Resultado"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ValidarReglasRequestType">
        <xsd:sequence>
            <xsd:element name="Reglas" type="regTaBO:ReglaEvaluacionType" minOccurs="1" maxOccurs="unbounded"/>
            <xsd:element name="Parametros" type="commonBO:parameterType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ValidarReglasResponseType">
        <xsd:sequence>
            <xsd:element name="TareaReglas" type="regTaBO:TareaReglas"/>
            <xsd:element name="Resultado" type="resBO:Resultado"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ValidarTareaReglasRequestType">
        <xsd:sequence>
            <xsd:element name="idTarea" type="regTaBO:idTarea"/>
            <xsd:element name="Parametros" type="commonBO:parameterType" minOccurs="1" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ValidarTareaReglasResponseType">
        <xsd:sequence>
            <xsd:element name="ReglaTarea" type="regTaBO:TareaReglas"/>
            <xsd:element name="Resultado" type="resBO:Resultado"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>