AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/ItemApp/Resources/itemjson.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://TargetNamespace.com/ItemRMSService_Process_request" targetNamespace="http://TargetNamespace.com/ItemRMSService_Process_request" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="US-ASCII">
   <xsd:element name="Item">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="item" type="xsd:integer"/>
            <xsd:element name="item_desc" type="xsd:integer"/>
            <xsd:element name="supplier" type="xsd:integer"/>
            <xsd:element name="dept" type="xsd:integer"/>
            <xsd:element name="status" type="xsd:integer"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>