AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/ItemApp/Resources/nxsd_schema3.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://TargetNamespace.com/ServiceName" targetNamespace="http://TargetNamespace.com/ServiceName" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
   <xsd:element name="Item">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="items">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="item">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="estilo" type="xsd:integer"/>
                              <xsd:element name="descripcion" type="xsd:string"/>
                              <xsd:element name="proveedor" type="xsd:integer"/>
                              <xsd:element name="dpto" type="xsd:integer"/>
                              <xsd:element name="clase" type="xsd:integer"/>
                              <xsd:element name="tipo" type="xsd:integer"/>
                              <xsd:element name="imagenURL"/>
                              <xsd:element name="costo" type="xsd:integer"/>
                              <xsd:element name="precio" type="xsd:integer"/>
                              <xsd:element name="almacen" type="xsd:integer"/>
                              <xsd:element name="temporada" type="xsd:string"/>
                              <xsd:element name="fase" type="xsd:string"/>
                              <xsd:element name="matriz_colores" type="xsd:integer"/>
                              <xsd:element name="matriz_tallas" type="xsd:integer"/>
                              <xsd:element name="colores">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="elemento" maxOccurs="unbounded" type="xsd:integer"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                              <xsd:element name="tallas">
                                 <xsd:complexType>
                                    <xsd:sequence>
                                       <xsd:element name="elemento" maxOccurs="unbounded" type="xsd:integer"/>
                                    </xsd:sequence>
                                 </xsd:complexType>
                              </xsd:element>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>