AG_2019/SOA/ModifyRetailStoreProcess/SOA/WSDLs/JDAModifyRetailStoreProcessPXY.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="JDAModifyRetailStoreProcess" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/ModifyRetailStoreProcess" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" xmlns:WL5G3N2="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:WL5G3N3="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:WL5G3N4="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/ModifyRetailStoreProcess" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/">
   <WL5G3N0:types>
      <xsd:schema xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" xmlns:ret="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/ModifyRetailStoreProcess" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" schemaLocation="http://uat-osb.agarcia.com.mx:7004/Capabilities/Core/RetailStore/RetailStoreEntitySvc/PS/JDAModifyRetailStoreProcessPXY?SCHEMA%2FCapabilities%2FCore%2FRetailStore%2FRetailStoreEntitySvc%2FResources%2FSchema%2FRetailStoreEntitySchema"/>
         <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="http://uat-osb.agarcia.com.mx:7004/Capabilities/Core/RetailStore/RetailStoreEntitySvc/PS/JDAModifyRetailStoreProcessPXY?SCHEMA%2FCapabilities%2FFoundation%2FSchemas%2FCommons%2FAGStandardMessageSchema"/>
         <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="http://uat-osb.agarcia.com.mx:7004/Capabilities/Core/RetailStore/RetailStoreEntitySvc/PS/JDAModifyRetailStoreProcessPXY?SCHEMA%2FCapabilities%2FFoundation%2FSchemas%2FCommons%2FAGStandardHeaderSchema"/>
      </xsd:schema>
   </WL5G3N0:types>
   <WL5G3N0:message name="ModifyRetailStoreRequest">
      <WL5G3N0:part name="ModifyRetailStoreRequest" element="WL5G3N1:modifyRequest"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="ModifyRetailStoreResponse">
      <WL5G3N0:part name="ModifyRetailStoreResponse" element="WL5G3N1:modifyResponse"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="StandardFaultMessage">
      <WL5G3N0:part name="faultMessage" element="WL5G3N2:messageError"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="StandarHeaderMessage">
      <WL5G3N0:part name="headerMessage" element="WL5G3N3:headerMessage"/>
   </WL5G3N0:message>
   <WL5G3N0:portType name="ModifyRetailStorePType">
      <WL5G3N0:operation name="modify">
         <WL5G3N0:input message="WL5G3N4:ModifyRetailStoreRequest"/>
         <WL5G3N0:output message="WL5G3N4:ModifyRetailStoreResponse"/>
         <WL5G3N0:fault name="fault" message="WL5G3N4:StandardFaultMessage"/>
      </WL5G3N0:operation>
   </WL5G3N0:portType>
   <WL5G3N0:binding name="ModifyRetailStoreBinding" type="WL5G3N4:ModifyRetailStorePType">
      <WL5G3N5:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <WL5G3N0:operation name="modify">
         <WL5G3N5:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/RetailStore/WSDL/ModifyRetailStoreProcess/modify"/>
         <WL5G3N0:input>
            <WL5G3N5:body use="literal" parts="ModifyRetailStoreRequest"/>
         </WL5G3N0:input>
         <WL5G3N0:output>
            <WL5G3N5:body use="literal" parts="ModifyRetailStoreResponse"/>
         </WL5G3N0:output>
         <WL5G3N0:fault name="fault">
            <WL5G3N5:fault name="fault" use="literal"/>
         </WL5G3N0:fault>
      </WL5G3N0:operation>
   </WL5G3N0:binding>
   <WL5G3N0:service name="ModifyRetailStoreBindingQSService">
      <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
      <WL5G3N0:port name="ModifyRetailStoreBindingQSPort" binding="WL5G3N4:ModifyRetailStoreBinding">
         <WL5G3N5:address location="http://uat-osb.agarcia.com.mx:7004/Capabilities/Core/RetailStore/RetailStoreEntitySvc/PS/JDAModifyRetailStoreProcessPXY"/>
      </WL5G3N0:port>
   </WL5G3N0:service>
</WL5G3N0:definitions>
