AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/CommonEBO/Shipment.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Common" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Common">
  <xsd:include schemaLocation="../Common/CommonComponents.xsd"/>
  <xsd:complexType name="ShipmentType">
    <xsd:sequence>
      <xsd:element ref="Identification" minOccurs="0"/>
      <xsd:element name="ShipmentName" type="ObjectNameType" minOccurs="0"/>
      <xsd:element name="Status" type="StatusType" minOccurs="0"/>
      <xsd:element name="Driver" type="TextType" minOccurs="0"/>
      <xsd:element name="ShipMethodCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="ShipmentCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="ModeOfTransportCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="TrailerId" type="IdentifierType" minOccurs="0"/>
      <xsd:element name="TractorId" type="IdentifierType" minOccurs="0"/>
      <xsd:element name="ShipmentStop" type="ShipmentStopType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ReleaseName" type="ObjectNameType" minOccurs="0"/>
      <xsd:element name="Organization" type="OrganizationReferenceType" minOccurs="0"/>
      <xsd:element name="InitialPickupLocationId" type="IdentifierType" minOccurs="0"/>
      <xsd:element name="UltimateDropofLocationId" type="IdentifierType" minOccurs="0"/>
      <xsd:element name="Location" type="LocationType" maxOccurs="unbounded" minOccurs="0"/>
      <xsd:element name="ShipUnit" type="ShipUnitType" maxOccurs="unbounded" minOccurs="0"/>
      <xsd:element name="ShipFromPartyReference" type="LocationType" maxOccurs="unbounded" minOccurs="0"/>
      <xsd:element name="ShipToPartyReference" type="LocationType" maxOccurs="unbounded" minOccurs="0"/>
      <xsd:element name="OriginCountryCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="DestinationCountryCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="ServiceProvider" type="ObjectNameType" minOccurs="0"/>
      <xsd:element name="StandardCarrierAlphaCode" type="TextType" minOccurs="0"/>
      <xsd:element name="ReferenceIdentification" type="IdentifierType" minOccurs="0"/>
      <xsd:element name="Weight" type="NumericType" minOccurs="0"/>
      <xsd:element name="WeightQualifier" type="TextType" minOccurs="0"/>
      <xsd:element name="RateValueQualifier" type="TextType" minOccurs="0"/>
      <xsd:element name="VolumeUnitQualifier" type="TextType" minOccurs="0"/>
      <xsd:element name="Volume" type="NumericType" minOccurs="0"/>
      <xsd:element name="TotalShipUnitCount" type="NumericType" minOccurs="0"/>
      <xsd:element name="TotalLines" type="QuantityType" minOccurs="0"/>
      <xsd:element name="TotalQuantity" type="QuantityType" minOccurs="0"/>
      <xsd:element name="ShipmentItem" type="ShipmentItemType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="TransactionSetPurposeCode" type="TextType" minOccurs="0"/>
      <xsd:element name="ContractInformation" type="TextType" minOccurs="0"/>
      <xsd:element name="SalesOrderReference" type="IdentificationType" minOccurs="0"/>
      <xsd:element name="Carrier" type="IdentificationType" minOccurs="0"/>
      <xsd:element name="Attribute1" type="TextType" minOccurs="0"/>
      <xsd:element name="Attribute2" type="TextType" minOccurs="0"/>
      <xsd:element name="Attribute3" type="TextType" minOccurs="0"/>
      <xsd:element name="Attribute4" type="TextType" minOccurs="0"/>
      <xsd:element name="Attribute5" type="TextType" minOccurs="0"/>
      <xsd:element name="Attribute6" type="TextType" minOccurs="0"/>
      <xsd:element name="ShipmentCharge" type="ShipmentChargeType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ShipmentLPN" type="ShipmentLPNType" minOccurs="0"/>
      <xsd:element name="InitialPickupDate" type="DateType" minOccurs="0"/>
      <xsd:element minOccurs="0" name="StartDate" type="TextType"/>
      <xsd:element minOccurs="0" name="EndDate" type="TextType"/>
      <xsd:element minOccurs="0" name="EventDate" type="TextType"/>
      <xsd:element minOccurs="0" name="EventDateTimeZone" type="TextType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ShipmentStopType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="LocationId" type="IdentifierType"/>
      <xsd:element minOccurs="0" name="StopSequenceNumber" type="NumericType"/>
      <xsd:element minOccurs="0" name="PlannedArrivalDate" type="DateTimeType"/>
      <xsd:element minOccurs="0" name="PlannedDepartureDate" type="DateTimeType"/>
      <xsd:element minOccurs="0" name="PlannedArrival" type="TextType"/>
      <xsd:element minOccurs="0" name="PlannedDeparture" type="TextType"/>
      <xsd:element minOccurs="0" name="ShipMethodCode" type="CodeType"/>
      <xsd:element minOccurs="0" name="PowerUnitId" type="TextType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ShipUnitType">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="ShipUnitId" type="IdentifierType"/>
      <xsd:element minOccurs="0" name="ShipmentUnitCount" type="NumericType"/>
      <xsd:element minOccurs="0" name="WaybillNumber" type="IdentifierType"/>
      <xsd:element minOccurs="0" name="WeightUnitOfMeasure" type="TextType"/>
      <xsd:element minOccurs="0" name="WeightValue" type="NumericType"/>
      <xsd:element minOccurs="0" name="VehicleNumber" type="IdentifierType"/>
      <xsd:element minOccurs="0" name="VolumeUnitOfMeasure" type="TextType"/>
      <xsd:element minOccurs="0" name="VolumeValue" type="NumericType"/>
   <xsd:element minOccurs="0" maxOccurs="unbounded" name="ItemReference" type="ItemReferenceType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ItemReferenceType">
    <xsd:sequence>
      <xsd:element name="Identification" type="IdentificationType" minOccurs="0"/>
      <xsd:element name="TotalUnits" type="NumericType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ShipmentItemType">
    <xsd:sequence>
      <xsd:element name="Identification" type="IdentificationType" minOccurs="0"/>
      <xsd:element name="Name" type="ObjectNameType" minOccurs="0"/>
      <xsd:element name="Description" type="TextType" minOccurs="0"/>
      <xsd:element name="ShippedQuantity" type="QuantityType" minOccurs="0"/>
      <xsd:element name="CanceledQuantity" type="QuantityType" minOccurs="0"/>
      <xsd:element name="UOMCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="UOMConversion" type="CodeType" minOccurs="0"/>
      <xsd:element name="RequestedDate" type="DateType" minOccurs="0"/>
      <xsd:element name="SequenceCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="PromisedDate" type="DateType" minOccurs="0"/>
      <xsd:element name="HazardClassCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="PurchaseOrderReference" minOccurs="0" type="IdentificationType"/>
      <xsd:element name="DtlReceiveFlag" type="CodeType" minOccurs="0"/>
      <xsd:element name="ShipmentLPN" type="ShipmentLPNType" minOccurs="0"/>
      <xsd:element name="Prepack" type="PrepackType" minOccurs="0"/>
      <xsd:element name="ValueSet" type="ValueSetType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ShipmentChargeType">
    <xsd:sequence>
      <xsd:element name="Identification" type="IdentificationType" minOccurs="0"/>
      <xsd:element name="Charge" type="ChargeType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionType" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="ShipmentLPNType">
    <xsd:sequence>
      <xsd:element name="Identification" type="IdentificationType" minOccurs="0"/>
      <xsd:element name="ShippedLPN" minOccurs="0" type="TextType"/>
      <xsd:element name="Weight" type="NumericType" minOccurs="0"/>
      <xsd:element name="Volume" type="NumericType" minOccurs="0"/>
      <xsd:element name="PhysicalPalletFlag" type="CodeType" minOccurs="0"/>
      <xsd:element name="Length" type="NumericType" minOccurs="0"/>
      <xsd:element name="Width" type="NumericType" minOccurs="0"/>
      <xsd:element name="Height" type="NumericType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PrepackType">
    <xsd:sequence>
      <xsd:element name="Identification" type="IdentificationType" minOccurs="0"/>
      <xsd:element name="PrepackCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="Ratio" type="NumericType" minOccurs="0"/>
      <xsd:element name="TotalUnits" type="NumericType" minOccurs="0"/>
      <xsd:element name="RatioSequence" type="NumericType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Shipment" type="ShipmentType">
    <xsd:annotation>
      <xsd:documentation>Reference to an Shipment</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
</xsd:schema>