BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Canales/Votacion/RegistrarVotacion/CrearRegistroVotacion/V1/Schema/CrearRegistroVotacionBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/CrearRegistroVotacionBO"
            targetNamespace="http://www.bcie.org/CrearRegistroVotacionBO" elementFormDefault="qualified">
  <xsd:complexType name="RegistroVoto">
    <xsd:sequence>
      <xsd:element name="idTipoDecision" type="xsd:long"/>
      <xsd:element name="idUsuario" type="xsd:long"/>
      <xsd:element name="loginUsuario" type="xsd:string"/>
      <xsd:element name="comentario" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
