BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioCliente/CrearContacto/XSD/CrearContacto_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearContacto" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearContacto" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ContactosCollection" type="ContactosCollection"/>
   <xs:complexType name="ContactosCollection">
      <xs:sequence>
         <xs:element name="Contactos" type="Contactos" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Contactos">
      <xs:sequence>
         <xs:element name="idContacto" type="xs:long" nillable="true"/>
         <xs:element name="nombre" type="string60" minOccurs="0"/>
         <xs:element name="correoElectronico" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="cargo" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="telefono" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string60">
      <xs:restriction base="xs:string">
         <xs:maxLength value="60"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string40">
      <xs:restriction base="xs:string">
         <xs:maxLength value="40"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>