Microservicio/JAVA/Garcia/AGOracleRIBBrokerApp/AGRIBBroker/src/mx/agarcia/ea/rib/broker/untitled3.xml

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions
     name="PriceChangeMicroTask"
     targetNamespace="http://mx.agarcia.ea/Applications/JDA/PriceChange/ProcessMicroTask"
     xmlns:tns="http://mx.agarcia.ea/Applications/JDA/PriceChange/ProcessMicroTask"
     xmlns:inp1="http://mx.agarcia.ea/Applications/JDA/PriceChange"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
           <xsd:import namespace="http://mx.agarcia.ea/Applications/JDA/PriceChange"
                 schemaLocation="../Schema/JDAPriceChangeSchema.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="processPriceChangeMessage">
        <wsdl:part name="payload" element="inp1:processEventRequest"/>
    </wsdl:message>
    
    <wsdl:message name="cancelPriceChangeMessage">
        <wsdl:part name="payload" element="inp1:cancelEventRequest"/>
    </wsdl:message>

    <wsdl:message name="findPriceChangeByIdMessage">
        <wsdl:part name="payload" element="inp1:findEventRequest"/>
    </wsdl:message>

    
    <wsdl:portType name="MicroTaskPort">
        <wsdl:operation name="processEvent">
            <wsdl:input message="tns:processPriceChangeMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="findEvent">
            <wsdl:input message="tns:findPriceChangeByIdMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="cancelEvent">
            <wsdl:input message="tns:cancelPriceChangeMessage"/>
        </wsdl:operation>
    </wsdl:portType>
    
    
    <wsdl:binding name="MicroTaskBinding" type="tns:MicroTaskPort">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        
        <wsdl:operation name="processEvent">
            <soap12:operation style="document"
                              soapAction="http://mx.agarcia.ea/Applications/JDA/PriceChange/ProcessMicroTask"/>
            <wsdl:input>
                <soap12:body use="literal" parts="payload"/>
            </wsdl:input>
        </wsdl:operation>
        
        <wsdl:operation name="findEvent">
            <soap12:operation style="document"
                              soapAction="http://mx.agarcia.ea/Applications/JDA/PriceChange/FindMicroTask"/>
            <wsdl:input>
                <soap12:body use="literal" parts="payload"/>
            </wsdl:input>
        </wsdl:operation>
        
        <wsdl:operation name="cancelEvent">
            <soap12:operation style="document"
                              soapAction="http://mx.agarcia.ea/Applications/JDA/PriceChange/CancelMicroTask"/>
            <wsdl:input>
                <soap12:body use="literal" parts="payload"/>
            </wsdl:input>
        </wsdl:operation>
        
       
    </wsdl:binding>
</wsdl:definitions>