Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/T24Pmt/PmtCardAdd/PmtCardAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/T24PmtAppSvc/PmtCardAdd_V1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:appoptPmtCardAdd="http://xmlns.banesco.com/appopt/T24PmtAppSvc/PmtCardAdd_V1.0"
           xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
  <xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
             schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
  <xs:element name="PmtCardAddRq" type="appoptPmtCardAdd:PmtCardAddRq_Type"/>
  <xs:complexType name="FIData">
    <xs:annotation>
      <xs:documentation>The Financial Institution Data Aggregate contains additional information used to identify a bank, typically when used for payment transfers, payee requests, and wire transfers. It is required in CHE, DEU, and ITA to completely identify an account. Sufficient information must be provided within this aggregate to uniquely identify the bank at which the account is held. Failure to do so will result in an error being returned from the server.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FIIdent" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PmtCardAddRs" type="appoptPmtCardAdd:PmtCardAddRs_Type"/>
  <xs:complexType name="Identification">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="IssuedIdentType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de identificación del cliente (cédula/pasaporte).</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de la identificación del cliente (cédula o pasaporte).</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonName">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nombre completo del cliente.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PmtCardAddRq_Type">
    <xs:sequence>
      <xs:element name="Card" type="appoptPmtCardAdd:Card" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Chk" type="appoptPmtCardAdd:Chk" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PartyKey" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>Customer ID´s</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>Código del cliente asignado por el sistema “core” bancario.</xs:documentation>
              </xs:annotation>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Pmt" type="appoptPmtCardAdd:Pmt" minOccurs="1" maxOccurs="1"/>
      <xs:element name="FIData">
        <xs:complexType>
          <xs:annotation>
            <xs:documentation>The Financial Institution Data Aggregate contains additional information used to identify a bank, typically when used for payment transfers, payee requests, and wire transfers. It is required in CHE, DEU, and ITA to completely identify an account. Sufficient information must be provided within this aggregate to uniquely identify the bank at which the account is held. Failure to do so will result in an error being returned from the server.</xs:documentation>
          </xs:annotation>
          <xs:sequence minOccurs="1" maxOccurs="1">
            <xs:element name="FIIdent" type="xs:string" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>Institución financiera que hace la solicitud. El código asignado a Panamá es 5808.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Agency">
              <xs:complexType>
                <xs:annotation>
                  <xs:documentation>Agency Especification.</xs:documentation>
                </xs:annotation>
                <xs:sequence minOccurs="1" maxOccurs="1">
                  <xs:element name="AgencyIdent" type="xs:string" minOccurs="0" maxOccurs="1"/>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PmtCardAddRs_Type">
    <xs:sequence>
      <xs:element name="FIData" type="appoptPmtCardAdd:FIData" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PartyKey" type="appoptPmtCardAdd:PartyKey" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PersonName" type="appoptPmtCardAdd:PersonName" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Pmt" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="1">
            <xs:element name="PmtCommission" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>Monto de la comisión cobrada por hacer una recarga a la tarjeta prepago.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="PmtInsurance" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
              <xs:annotation>
                <xs:documentation>Monto del seguro cobrado por la recarga hecha a la tarjeta prepago.</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="PmtTrnDetail" minOccurs="0" maxOccurs="1">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="DebitId" type="xs:string" minOccurs="0" maxOccurs="1"/>
                  <xs:element name="TrnKey" minOccurs="0" maxOccurs="1">
                    <xs:complexType>
                      <xs:sequence minOccurs="0" maxOccurs="1">
                        <xs:element name="TrnId" type="xs:string" minOccurs="0" maxOccurs="1">
                          <xs:annotation>
                            <xs:documentation>Identificador único de la transacción. Para los reversos es imperativo enviar este dato para que el reverso se haga exactamente sobre la operación que no se pudo aplicar.</xs:documentation>
                          </xs:annotation>
                        </xs:element>
                      </xs:sequence>
                    </xs:complexType>
                  </xs:element>
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Pmt">
    <xs:sequence>
      <xs:element name="CurAmt" type="appoptcommon:CurAmtMandatory" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Monto de la transacción</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PmtInstruction" type="appoptPmtCardAdd:PmtInstruction" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PmtTrnDetail" type="appoptPmtCardAdd:Trn" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PmtInstruction">
    <xs:annotation>
      <xs:documentation>Payment and Settlement Instruction.

The Payment Instruction aggregate communicates instructions for executing the transfer of funds.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PmtType" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indica si se realizará un pago normal, pago especial o pago al extrafinanciamiento, reversión de pago, reversión de pago especial.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RecordStatus" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cuando es un pago normal sea cual sea el tipo el valor será nulo. En caso de que la operación sea un reverso el valor será “REVE”.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element name="CardKey" type="appoptPmtCardAdd:CardKey" minOccurs="1" maxOccurs="1"/>
      <xs:element name="FinancingInfo" type="appoptPmtCardAdd:FinancingInfo" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardKey">
    <xs:annotation>
      <xs:documentation>The Card Object supports the services related to Issuing, Management, and Servicing of Credit, Debit, Prepaid and Private Label cards.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CardNum" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de tarjeta objeto del pago</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancingInfo">
    <xs:sequence>
      <xs:element name="ContractNum" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Es el número del Financiamiento especial o extrafinanciamiento, esto para abonos especiales.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FinancingTrnType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código del movimiento de Extrafinanciamiento que se va a procesar.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Trn">
    <xs:sequence>
      <xs:element name="DebitId" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EffDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fecha y hora en la que se realiza la transacción</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="TrnKey" type="appoptPmtCardAdd:TrnKey" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Chk">
    <xs:sequence>
      <xs:element name="ChkPlace" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identifica si es un cheque local o internacional.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="ChkData" type="appoptPmtCardAdd:ChkData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ChkData">
    <xs:sequence>
      <xs:element name="ChkNum" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número que identifica el cheque, Si el pago no es en cheque entonces este campo se debe enviar vacío.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FIData" type="appoptPmtCardAdd:FIData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TrnKey">
    <xs:annotation>
      <xs:documentation>Transaction Key.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="TrnId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificador único de la transacción. Para los reversos es imperativo enviar este dato para que el reverso se haga exactamente sobre la operación que no se pudo aplicar.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyKey">
    <xs:complexContent>
      <xs:extension base="appoptPmtCardAdd:Identification">
        <xs:sequence>
          <xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Código del cliente asignado por el Core bancario.</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>
