BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/Prepago/DetalleContratoDesembolso/XSD/DetalleContratoDesembolso_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DetalleContratoDesembolso" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/DetalleContratoDesembolso" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_ID_OPERACION" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ID_RESOLUCION" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ID_MONEDA" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ID_PREPAGO" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_F_RENOVACION" type="dateTime" db:index="5" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_F_PREPAGO" type="dateTime" db:index="6" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_SIN_TRE_PREPAGO_CONTRATO" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_CODIGO_RES" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_MENSAJE" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_TBLDESEMBOLSOS" type="db:FENIX.T_LISTA_DESEMBOLSO_PREPAGO" db:index="10" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="FENIX.T_DESEMBOLSO_PREPAGO">
      <sequence>
         <element name="ID_LINEA_CREDITO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ID_CONTRATO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="NUMERO_LINEA_CREDITO" type="db:string35" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="DESCRIPCION_LINEA" type="db:string1024" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ID_FLEXCUBE" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTO_LINEA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ID_CONTRATO_DESEMBOLSO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CONTRATO_DESEMBOLSO" type="db:string16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ID_RESOLUCION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="RESOLUCION" type="db:string20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_EFECTIVA" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="VENCIMIENTO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="PROXIMO_PAGO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="MONEDA" type="db:string3" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MONTO_PREPAGO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ES_PAGO_TOTAL" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FONDO_CONTABLE" type="db:string32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ESCRITURACION" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="CAPITAL_NV_FECHA_PREPA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="USER_REF_NO" type="db:string35" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="FENIX.T_LISTA_DESEMBOLSO_PREPAGO">
      <sequence>
         <element name="P_TBLDESEMBOLSOS_ITEM" type="db:FENIX.T_DESEMBOLSO_PREPAGO" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string35">
      <restriction base="string">
         <maxLength value="35"/>
      </restriction>
   </simpleType>
   <simpleType name="string1024">
      <restriction base="string">
         <maxLength value="1024"/>
      </restriction>
   </simpleType>
   <simpleType name="string32">
      <restriction base="string">
         <maxLength value="32"/>
      </restriction>
   </simpleType>
   <simpleType name="string16">
      <restriction base="string">
         <maxLength value="16"/>
      </restriction>
   </simpleType>
   <simpleType name="string20">
      <restriction base="string">
         <maxLength value="20"/>
      </restriction>
   </simpleType>
   <simpleType name="string3">
      <restriction base="string">
         <maxLength value="3"/>
      </restriction>
   </simpleType>
</schema>