MIRA/SOA_PRD_Almacenes/JDAUpdateStyle/SOA/Schemas/RMS/Promotion/PromotionRef.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/PromotionRef/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/PromotionRef/v1" version="1.0">
   <retailDoc:annotation>
      <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
   </retailDoc:annotation>
   <xs:element name="ListGroupRef">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="listgroup_id" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Promotion Detail List Group ID</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="ListDtlRef">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ListDtlRef">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="listdtl_id" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Promotion Detail List ID</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="ItemListRef">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ItemListRef">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="item_num" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>Item ID</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="LocationListRef">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="location" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Store ID</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="PromotionRef">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="promo_id" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Promotion ID</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="promo_comp_id" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Promotion Component ID</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="promo_dtl_id" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Promotion Component Detail ID</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="LocationListRef">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="ListGroupRef">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="number10">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:long">
         <xs:totalDigits value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar225">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
