MIRA/SOA_PRD_Almacenes/JDAUpdateStyle/SOA/Schemas/RMS/Promotion/PromotionDesc.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/PromotionDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/PromotionDesc/v1" version="1.0">
   <retailDoc:annotation>
      <retailDoc:documentation>This is root element of this document which
            contains name space definitions for the document elements.
        </retailDoc:documentation>
   </retailDoc:annotation>
   <xs:element name="ListGroup">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="listgroup_id" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Promotion Detail List Group ID</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="ListDtl">
               <retailDoc:annotation>
                  <retailDoc:documentation>
                     <retailDoc:documentation>Description is not available.
                            </retailDoc:documentation>
                  </retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ListDtl">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="listdtl_id" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Promotion Detail List ID</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="reward_application" type="number1">
               <retailDoc:annotation>
                  <retailDoc:documentation>Reward Application</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="description" type="varchar2160">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description for the promo detail list</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="DiscountLadder">
               <retailDoc:annotation>
                  <retailDoc:documentation>
                     <retailDoc:documentation>Description is not available.
                            </retailDoc:documentation>
                  </retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="ItemList">
               <retailDoc:annotation>
                  <retailDoc:documentation>
                     <retailDoc:documentation>Description is not available.
                            </retailDoc:documentation>
                  </retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="price_range_min" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains price range promotion minimum valid retail value</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="price_range_max" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains price range promotion maximum valid retail value</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="LocationList">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="location" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Location Number</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="loc_type" type="varchar22">
               <retailDoc:annotation>
                  <retailDoc:documentation>Location Type</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="PromotionDesc">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="promo_id" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Promotion ID</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="promo_name" type="varchar2160">
               <retailDoc:annotation>
                  <retailDoc:documentation>Promotion Header Name</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="promo_description" type="varchar2640">
               <retailDoc:annotation>
                  <retailDoc:documentation>Promotion Header Description</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="promo_comp_id" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Promotion Component Id</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="promo_comp_desc" type="varchar2160">
               <retailDoc:annotation>
                  <retailDoc:documentation>Promotion Component Name</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="promo_comp_type" type="number2">
               <retailDoc:annotation>
                  <retailDoc:documentation>Promotion Component Type</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="promo_dtl_id" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Promotion Component Detail Id</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="apply_order" type="number6">
               <retailDoc:annotation>
                  <retailDoc:documentation>Application Order of the Promotion</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="start_date" type="xs:dateTime">
               <retailDoc:annotation>
                  <retailDoc:documentation>Start Date of Promotion Component Detail</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="end_date" type="xs:dateTime">
               <retailDoc:annotation>
                  <retailDoc:documentation>End Date of Promotion Component Detail</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="apply_to_code" type="number1">
               <retailDoc:annotation>
                  <retailDoc:documentation>Determines if the promo discount will be applied to regular, clearance retail or both</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="discount_limit" type="number3">
               <retailDoc:annotation>
                  <retailDoc:documentation>The number of times that the promotion can be applied to a transaction.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="exception_parent_id" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Parent promotion component detail ID if the detail is
an exception</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="LocationList">
               <retailDoc:annotation>
                  <retailDoc:documentation>
                     <retailDoc:documentation>Description is not available.
                            </retailDoc:documentation>
                  </retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="1" ref="ListGroup">
               <retailDoc:annotation>
                  <retailDoc:documentation>
                     <retailDoc:documentation>Description is not available.
                            </retailDoc:documentation>
                  </retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="ItemLocSimpleRet">
               <retailDoc:annotation>
                  <retailDoc:documentation>
                     <retailDoc:documentation>Description is not available.
                            </retailDoc:documentation>
                  </retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="customer_type_id" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Customer Type</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="unbounded" minOccurs="0" ref="CreditDetail">
               <retailDoc:annotation>
                  <retailDoc:documentation>Description is not available.
                        </retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="threshold_qual_type" type="number1">
               <retailDoc:annotation>
                  <retailDoc:documentation>The Threshold qualification type.  A value of 1 means threshold level and a value of 0 means item level.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="DiscountLadder">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element maxOccurs="1" minOccurs="0" name="chg_type" type="number2">
               <retailDoc:annotation>
                  <retailDoc:documentation>Change Type</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="chg_amt" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Change Amount</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="chg_currency" type="varchar23">
               <retailDoc:annotation>
                  <retailDoc:documentation>Currency Code</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="chg_percent" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Change Percent</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="chg_selling_uom" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>Change Selling UOM</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="qual_type" type="number2">
               <retailDoc:annotation>
                  <retailDoc:documentation>Qualification Type</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="qual_value" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Qualification Value</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="chg_duration" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Change duration</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ItemList">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="item_num" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>Item Number</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="ItemLocSimpleRet">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="item_num" type="varchar225">
               <retailDoc:annotation>
                  <retailDoc:documentation>Transaction Item Identifier</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="location" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Store ID</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="selling_retail" type="number20_4">
               <retailDoc:annotation>
                  <retailDoc:documentation>Selling retail of the item</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="selling_uom" type="varchar24">
               <retailDoc:annotation>
                  <retailDoc:documentation>Selling UOM of the item</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="effective_date" type="xs:dateTime">
               <retailDoc:annotation>
                  <retailDoc:documentation>Specifies when the given selling retail is to take effect for the given item and location.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="selling_currency" type="varchar23">
               <retailDoc:annotation>
                  <retailDoc:documentation>Contains the currency code that should match the store's currency code.</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element maxOccurs="1" minOccurs="0" name="ref_promo_dtl_id" type="number15">
               <retailDoc:annotation>
                  <retailDoc:documentation>Referenced Promotion Detail ID</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:element name="CreditDetail">
      <retailDoc:annotation>
         <retailDoc:documentation>Description is not available.</retailDoc:documentation>
      </retailDoc:annotation>
      <xs:complexType>
         <xs:sequence>
            <xs:element name="credit_detail_id" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>N/A</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="credit_type" type="varchar240">
               <retailDoc:annotation>
                  <retailDoc:documentation>Credit Card Type</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="bin_number_from" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>BIN Number From Value</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="bin_number_to" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>BIN Number To Value</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="commision_rate" type="number10">
               <retailDoc:annotation>
                  <retailDoc:documentation>Commission Rate</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
            <xs:element name="comments" type="varchar2160">
               <retailDoc:annotation>
                  <retailDoc:documentation>Comments</retailDoc:documentation>
               </retailDoc:annotation>
            </xs:element>
         </xs:sequence>
      </xs:complexType>
   </xs:element>
   <xs:simpleType name="number15">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count 
                15.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:long">
         <xs:totalDigits value="15"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number10">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count
                10.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:long">
         <xs:totalDigits value="10"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number3">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count
                3.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number2">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count
                2.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number1">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count
                1.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar225">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of
                25 characters.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="25"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar22">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of
                2 characters.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar23">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of
                3 characters.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar24">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of
                4 characters.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar230">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of
                30 characters.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar2160">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of
                160 characters.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="160"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar2120">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of
                120 characters.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar2640">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of
                640 characters.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="640"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="varchar240">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a string of max length of
                40 characters.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:string">
         <xs:maxLength value="40"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number20_4">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count
                20 and fraction digit count of 4.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:decimal">
         <xs:totalDigits value="20"/>
         <xs:fractionDigits value="4"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="number6">
      <retailDoc:annotation>
         <retailDoc:documentation>This type can hold a number of digits count
                6.
            </retailDoc:documentation>
      </retailDoc:annotation>
      <xs:restriction base="xs:int">
         <xs:totalDigits value="6"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
