Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/T24Pmt/PmtCardRev/PmtCardRev_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/T24PmtAppSvc/PmtCardRev_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptPmtCardRev="http://xmlns.banesco.com/appopt/T24PmtAppSvc/PmtCardRev_V1.0" elementFormDefault="qualified">
	<xs:element name="PmtCardRevRq">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Card">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="CardNum" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="CardType" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="CardVrfyData" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="ExpDt" type="xs:dateTime" minOccurs="1" maxOccurs="1"/>
							<xs:element name="FIData">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="BranchId" type="xs:string" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="ExtLimit">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ContractNum" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="TermFinancing" type="xs:string" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="ChkOrdInfo">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="ChkOrdKey">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="ChkOrdId" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="ChkOrdType" type="xs:string" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="AcctKey">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Pmt">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="PrcDt" type="xs:date" minOccurs="1" maxOccurs="1"/>
							<xs:element name="PrcTime" type="xs:time" minOccurs="1" maxOccurs="1"/>
							<xs:element name="CurAmt">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Amt" type="xs:decimal" minOccurs="1" maxOccurs="1"/>
										<xs:element name="CurCode">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="DebtorData">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="DebtorAcctNumWithCreditor" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="PartyRef">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="IssuedIdentValue" type="xs:string" minOccurs="1" maxOccurs="1"/>
													<xs:element name="PartyType" type="xs:string" minOccurs="1" maxOccurs="1"/>
													<xs:element name="LoginIdent">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="LoginName" type="xs:string" minOccurs="1" maxOccurs="1"/>
															</xs:sequence>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PmtCreditDetail">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PmtRefIdent" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="CreditorData">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CreditorAcctNumWithDebtor" type="xs:string" minOccurs="1" maxOccurs="1"/>
													<xs:element name="PartyRef">
														<xs:complexType>
															<xs:sequence/>
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PmtStatus">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="StatusDesc" type="xs:string" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PmtInstruction">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="CountryCode">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="CountryCodeSource" type="xs:string" minOccurs="1" maxOccurs="1"/>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="PmtKey">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="PmtId" type="xs:string" minOccurs="1" maxOccurs="1"/>
										<xs:element name="SeqNum" type="xs:string" minOccurs="1" maxOccurs="1"/>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="FIData">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="BranchId" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="FIIdent" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="RefIdent" type="xs:string" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="PmtCardRevRs">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Status">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="StatusCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
							<xs:element name="StatusDesc" type="xs:string" minOccurs="1" maxOccurs="1"/>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
