BCIE_fenix/dev/SOA/03-SOA-SERVICES/DominioOperacion/ConsultarDeclaracion/SOA/WSDLs/ValidarNoObjecionDirect.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
     name="ValidarNoObjecionBR_DecisionService_1"
     targetNamespace="http://xmlns.oracle.com/ValidarNoObjecionBR/ValidarNoObjecionBR_DecisionService_1"
     xmlns:tns="http://xmlns.oracle.com/ValidarNoObjecionBR/ValidarNoObjecionBR_DecisionService_1"
     xmlns:xsd="http://www.w3.org/2001/XMLSchema"
     xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
     xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
     xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
     xmlns:java="http://schemas.xmlsoap.org/wsdl/java/"
     xmlns:format="http://schemas.xmlsoap.org/wsdl/formatbinding/"
     xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    >
    <wsdl:documentation>
        <abstractWSDL>http://hn-obpm-dev.bcie.org:7014/soa-infra/directWsdl/BusinessRules/ValidarNoObjecionBR!1.0/ValidarNoObjecionDirect?resource=%2FWSDLs%2FValidarNoObjecionBR_DecisionService_1.wsdl</abstractWSDL>
    </wsdl:documentation>
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xmlns.oracle.com/ValidarNoObjecionBR/ValidarNoObjecionBR_DecisionService_1">
            <include schemaLocation="http://hn-obpm-dev.bcie.org:7014/soa-infra/directWsdl/BusinessRules/ValidarNoObjecionBR!1.0/ValidarNoObjecionDirect?resource=%2FSchemas%2FValidarNoObjecionBR_DecisionService_1MessageTypes.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="callFunctionStatelessMessage">
        <wsdl:part name="payload" element="tns:callFunctionStateless"/>
    </wsdl:message>
    <wsdl:message name="callFunctionStatelessDecisionMessage">
        <wsdl:part name="payload" element="tns:callFunctionStatelessDecision"/>
    </wsdl:message>
    <wsdl:message name="decisionServiceError">
        <wsdl:part name="payload" element="tns:errorInfo"/>
    </wsdl:message>
    <wsdl:message name="callFunctionStatefulMessage">
        <wsdl:part name="payload" element="tns:callFunctionStateful"/>
    </wsdl:message>
    <wsdl:message name="callFunctionStatefulDecisionMessage">
        <wsdl:part name="payload" element="tns:callFunctionStatefulDecision"/>
    </wsdl:message>
    <wsdl:portType name="IDecisionService">
        <wsdl:operation name="callFunctionStateless">
            <wsdl:input name="callFunctionStatelessInput" message="tns:callFunctionStatelessMessage"/>
            <wsdl:output name="callFunctionStatelessOutput" message="tns:callFunctionStatelessDecisionMessage"/>
            <wsdl:fault name="operationErroredFault" message="tns:decisionServiceError"/>
        </wsdl:operation>
        <wsdl:operation name="callFunctionStateful">
            <wsdl:input name="callFunctionStatefulInput" message="tns:callFunctionStatefulMessage"/>
            <wsdl:output name="callFunctionStatefulOutput" message="tns:callFunctionStatefulDecisionMessage"/>
            <wsdl:fault name="operationErroredFault" message="tns:decisionServiceError"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="IDecisionServiceDirectBinding1.1" type="tns:IDecisionService">
        <soap:binding transport="http://xmlns.oracle.com/soa/direct"/>
        <wsdl:operation name="callFunctionStateless">
            <soap:operation style="document" soapAction="callFunctionStateless"/>
            <wsdl:input name="callFunctionStatelessInput">
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ValidarNoObjecionBR/ValidarNoObjecionBR_DecisionService_1"/>
            </wsdl:input>
            <wsdl:output name="callFunctionStatelessOutput">
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ValidarNoObjecionBR/ValidarNoObjecionBR_DecisionService_1"/>
            </wsdl:output>
            <wsdl:fault name="operationErroredFault">
                <soap:fault name="operationErroredFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="callFunctionStateful">
            <soap:operation style="document" soapAction="callFunctionStateful"/>
            <wsdl:input name="callFunctionStatefulInput">
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ValidarNoObjecionBR/ValidarNoObjecionBR_DecisionService_1"/>
            </wsdl:input>
            <wsdl:output name="callFunctionStatefulOutput">
                <soap:body use="literal" namespace="http://xmlns.oracle.com/ValidarNoObjecionBR/ValidarNoObjecionBR_DecisionService_1"/>
            </wsdl:output>
            <wsdl:fault name="operationErroredFault">
                <soap:fault name="operationErroredFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="IDecisionServiceDirectBinding1.2" type="tns:IDecisionService">
        <soap12:binding transport="http://xmlns.oracle.com/soa/direct"/>
        <wsdl:operation name="callFunctionStateless">
            <soap12:operation style="document" soapAction="callFunctionStateless" soapActionRequired="false"/>
            <wsdl:input name="callFunctionStatelessInput">
                <soap12:body use="literal" namespace="http://xmlns.oracle.com/ValidarNoObjecionBR/ValidarNoObjecionBR_DecisionService_1"/>
            </wsdl:input>
            <wsdl:output name="callFunctionStatelessOutput">
                <soap12:body use="literal" namespace="http://xmlns.oracle.com/ValidarNoObjecionBR/ValidarNoObjecionBR_DecisionService_1"/>
            </wsdl:output>
            <wsdl:fault name="operationErroredFault">
                <soap12:fault name="operationErroredFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="callFunctionStateful">
            <soap12:operation style="document" soapAction="callFunctionStateful" soapActionRequired="false"/>
            <wsdl:input name="callFunctionStatefulInput">
                <soap12:body use="literal" namespace="http://xmlns.oracle.com/ValidarNoObjecionBR/ValidarNoObjecionBR_DecisionService_1"/>
            </wsdl:input>
            <wsdl:output name="callFunctionStatefulOutput">
                <soap12:body use="literal" namespace="http://xmlns.oracle.com/ValidarNoObjecionBR/ValidarNoObjecionBR_DecisionService_1"/>
            </wsdl:output>
            <wsdl:fault name="operationErroredFault">
                <soap12:fault name="operationErroredFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ValidarNoObjecionDirect">
        <wsdl:port name="ValidarNoObjecionDirectDirectBindingPort11" binding="tns:IDecisionServiceDirectBinding1.1">
            <soap:address location="t3://hn-obpm-dev.bcie.org:7014/BusinessRules/ValidarNoObjecionBR!1.0/ValidarNoObjecionDirect"/>
        </wsdl:port>
        <wsdl:port name="ValidarNoObjecionDirectDirectBindingPort12" binding="tns:IDecisionServiceDirectBinding1.2">
            <soap12:address location="t3://hn-obpm-dev.bcie.org:7014/BusinessRules/ValidarNoObjecionBR!1.0/ValidarNoObjecionDirect"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
