BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PA15/FormalizacionEnmiendasProcess.xsd

<xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionEnmiendasProcess" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionEnmiendasProcess" xmlns:BCIESH="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:eqTr="http://www.bcie.org/EqipoTrabajo/V1">
  <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="../Comun/Header/V1/HeaderOPN.xsd"/>
  <xsd:import namespace="http://www.bcie.org/EqipoTrabajo/V1" schemaLocation="../Comun/EquipoTrabajo/V1/EquipoTrabajoOPN.xsd"/>
  <xsd:element name="InicioFormalizacionEnmiendas">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="BCIESH:Header"/>
        <xsd:element name="OrigenFormalizacionEnmiendas" type="origenFormalizacionEnmiendasType" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="idEnmienda" type="xsd:int" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="ConfigGateways" type="ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FinFormalizacionEnmiendas">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="BCIESH:Header"/>
        <xsd:element name="EquipoTrabajo" type="eqTr:ListadoEquipoTrbajo"/>
        <xsd:element name="idEnmienda" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InicioCancelarFormalizacionEnmiendas">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="BCIESH:Header"/>
        <xsd:element name="idEnmienda" type="xsd:int" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InicioReasignarFormalizacionEnmiendas">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="BCIESH:Header"/>
        <xsd:element name="OrigenFormalizacionEnmiendas" type="origenFormalizacionEnmiendasType" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="idEnmienda" type="xsd:int" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="ConfigGateways" type="ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:complexType name="ConfigGatewaysType">
    <xsd:sequence>
      <xsd:element name="requiereDocumentacionContractual" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="requiereCOF" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="esDesobligacion" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="esCambioPlazo" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:simpleType name="origenFormalizacionEnmiendasType">
    <xsd:restriction base="xsd:int">
      <xsd:enumeration value="1" id="FENIX"/>
      <xsd:enumeration value="2" id="GENERICO"/>
      <xsd:enumeration value="3" id="OTRO"/>
      <xsd:enumeration value="4" id="ORIGEN4"/>
      <xsd:enumeration value="5" id="ORIGEN5"/>
    </xsd:restriction>
  </xsd:simpleType>
</xsd:schema>