BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioCliente/GestionCobro/V1/Schema/GestionCobroMO.xsd

<?xml version="1.0" encoding="windows-1252"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/GestionCobroMO"
            xmlns:docuBO="http://www.bcie.org/DocumentoBO" xmlns:gesCobMO="http://www.bcie.org/GestionCobroMO"
            xmlns:gesCobBO="http://www.bcie.org/GestionCobroBO" xmlns:resBO="http://www.bcie.org/ResultBO"
            targetNamespace="http://www.bcie.org/GestionCobroMO" xmlns:cmnBO="http://www.bcie.org/CommonBO"
            xmlns:cliBO="http://www.bcie.org/ClienteBO"
            elementFormDefault="qualified">
  <xsd:import namespace="http://www.bcie.org/GestionCobroBO" schemaLocation="GestionCobroBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/DocumentoBO"
              schemaLocation="../../../../DominioDocumento/Documento/V1/Schema/DocumentoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CommonBO" schemaLocation="../../../../Common/V1/Schema/CommonBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="../../../Cliente/V1/Schema/ClienteBO.xsd"/>
  <xsd:element name="ConsultarParametrosAvisoCobroRequest" type="ConsultarParametrosAvisoCobroRequestType"/>
  <xsd:element name="ConsultarParametrosAvisoCobroResponse" type="ConsultarParametrosAvisoCobroResponseType"/>
  <xsd:element name="ObtenerAvisoCobroRequest" type="ObtenerAvisoCobroRequestType"/>
  <xsd:element name="ObtenerAvisoCobroResponse" type="ObtenerAvisoCobroResponseType"/>
  <xsd:element name="GenerarAvisoCobroRequest" type="GenerarAvisoCobroRequestType"/>
  <xsd:element name="GenerarAvisoCobroResponse" type="GenerarAvisoCobroResponseType"/>
  <xsd:element name="GeneraReporteAvisoCobroRequest" type="GeneraReporteAvisoCobroRequestType"/>
  <xsd:element name="GeneraReporteAvisoCobroResponse" type="GeneraReporteAvisoCobroResponseType"/>
  <xsd:element name="GestionCobroRequest" type="GestionCobroRequestType"/>
  <xsd:element name="GestionCobroResponse" type="GenerarAvisoCobroResponseType"/>
  <xsd:element name="ConsultarGestionCobroRequest" type="ConsultarGestionCobroRequestType"/>
  <xsd:element name="ConsultarGestionCobroResponse" type="ConsultarGestionCobroResponseType"/>
  <xsd:element name="InsertarGenerarDetalleGestionCobroRequest" type="InsertarGenerarDetalleGestionCobroRequestType"/>
  <xsd:element name="InsertarGenerarDetalleGestionCobroResponse" type="InsertarGenerarDetalleGestionCobroResponseType"/>
  <xsd:element name="UpSertGestionCobroRequest" type="UpSertGestionCobroRequestType"/>
  <xsd:element name="UpSertGestionCobroResponse" type="UpSertGestionCobroResponseType"/>
  <xsd:element name="CrearAvisoCobroRequest" type="CrearAvisoCobroRequestType"/>
  <xsd:element name="CrearAvisoCobroResponse" type="CrearAvisoCobroResponseType"/>
  <xsd:element name="ConsultarDetalleAvisoCobroRequest" type="ConsultarDetalleAvisoCobroRequestType"/>
  <xsd:element name="ConsultarDetalleAvisoCobroResponse" type="ConsultarDetalleAvisoCobroResponseType"/>
  <xsd:element name="GenerarArchivosFenixRequest" type="GenerarArchivosFenixRequestType"/>
  <xsd:element name="GenerarArchivosFenixResponse" type="GenerarArchivosFenixResponseType"/>
  <xsd:element name="CrearAvisoCobroDemandaRequest" type="CrearAvisoCobroDemandaRequestType"/>
  <xsd:element name="CrearAvisoCobroDemandaResponse" type="CrearAvisoCobroDemandaResponseType"/>
  <xsd:element name="GenerarAvisoCobroDemandaRequest" type="GenerarAvisoCobroDemandaRequestType"/>
  <xsd:element name="GenerarAvisoCobroDemandaResponse" type="GenerarAvisoCobroDemandaResponseType"/>
  <xsd:element name="CrearReciboPagoRequest" type="CrearReciboPagoRequestType"/>
  <xsd:element name="CrearReciboPagoResponse" type="CrearReciboPagoResponseType"/>
  <xsd:element name="CancelarGestionCobroRequest" type="CancelarGestionCobroRequestType"/>
  <xsd:element name="CancelarGestionCobroResponse" type="CancelarGestionCobroResponseType"/>
  <xsd:element name="GenerarLoteReciboPagoRequest" type="GenerarLoteReciboPagoRequestType"/>
  <xsd:element name="GenerarLoteReciboPagoResponse" type="GenerarLoteReciboPagoResponseType"/>
  <xsd:element name="SeguimientoCobroRequest" type="SeguimientoCobroRequestType"/>
  <xsd:element name="SeguimientoCobroResponse" type="SeguimientoCobroResponseType"/>
  <xsd:element name="GenerarReciboPagoProcesoRequest" type="GenerarReciboPagoProcesoRequestType"/>
  <xsd:element name="GenerarReciboPagoProcesoResponse" type="GenerarReciboPagoProcesoResponseType"/>
  <xsd:element name="ObtenerPeriodoReciboPagoRequest" type="ObtenerPeriodoReciboPagoRequestType"/>
  <xsd:element name="ObtenerPeriodoReciboPagoResponse" type="ObtenerPeriodoReciboPagoResponseType"/>
  <xsd:complexType name="ConsultarParametrosAvisoCobroRequestType">
    <xsd:sequence>
      <xsd:element name="Sector" type="xsd:string"/>
      <xsd:element name="Fecha" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarParametrosAvisoCobroResponseType">
    <xsd:sequence>
      <xsd:element name="Parametros" type="gesCobBO:AvisoVencimientoType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerAvisoCobroRequestType">
    <xsd:sequence>
      <xsd:element name="idContrato" type="xsd:int"/>
      <xsd:element name="tipoAviso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerAvisoCobroResponseType">
    <xsd:sequence>
      <xsd:element name="AvisoCobro" type="gesCobBO:GestionCobro"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenerarAvisoCobroRequestType">
    <xsd:sequence>
      <xsd:element name="AvisoCobro" type="gesCobBO:GestionCobro"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenerarAvisoCobroResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeneraReporteAvisoCobroRequestType">
    <xsd:sequence>
      <xsd:element name="AvisoCobro" type="gesCobBO:GestionCobro"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeneraReporteAvisoCobroResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
      <xsd:element name="Documento" type="docuBO:Documento" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GestionCobroRequestType">
    <xsd:sequence>
      <xsd:element name="idAvisoCobro" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GestionCobroResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarGestionCobroRequestType">
    <xsd:sequence>
      <xsd:element name="idEjecucion" type="xsd:long"/>
      <xsd:element name="Estado" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarGestionCobroResponseType">
    <xsd:sequence>
      <xsd:element name="DetalleLote" type="gesCobBO:DetalleLoteType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InsertarGenerarDetalleGestionCobroRequestType">
    <xsd:sequence>
      <xsd:element name="DetalleLote" type="gesCobBO:DetalleLoteType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InsertarGenerarDetalleGestionCobroResponseType">
    <xsd:sequence>
      <xsd:element name="idDetalleLote" type="xsd:long"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpSertGestionCobroRequestType">
    <xsd:sequence>
      <xsd:element name="DetalleLote" type="gesCobBO:DetalleLoteType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UpSertGestionCobroResponseType">
    <xsd:sequence>
      <xsd:element name="idLote" type="xsd:long"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearAvisoCobroRequestType">
    <xsd:sequence>
      <xsd:element name="Sector" type="xsd:string"/>
      <xsd:element name="Fecha" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearAvisoCobroResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDetalleAvisoCobroRequestType">
    <xsd:sequence>
      <xsd:element name="idEjecucion" type="xsd:long" minOccurs="0"/>
      <xsd:element name="Responsable" type="xsd:string" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDetalleAvisoCobroResponseType">
    <xsd:sequence>
      <xsd:element name="DetalleAviso" type="gesCobBO:DetalleLoteType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenerarArchivosFenixRequestType">
    <xsd:sequence>
      <xsd:element name="AvisoCobro" type="gesCobBO:GestionCobro"/>
      <xsd:element name="idFlujoNegocio" type="xsd:long" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenerarArchivosFenixResponseType">
    <xsd:sequence>
      <xsd:element name="Parameters" type="cmnBO:parameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearAvisoCobroDemandaRequestType">
    <xsd:sequence>
      <xsd:element name="Aviso" type="gesCobBO:AvisoVencimientoType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearAvisoCobroDemandaResponseType">
    <xsd:sequence>
      <xsd:element name="idAviso" type="xsd:decimal"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenerarAvisoCobroDemandaRequestType">
    <xsd:sequence>
      <xsd:element name="parametrosAvisoCobro" type="gesCobBO:ParametrosAvisoCobroType"/>
      <xsd:element name="idFlujoNegocio" type="xsd:long" minOccurs="0"/>
      <xsd:element name="esPublico" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenerarAvisoCobroDemandaResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReciboPagoRequestType">
    <xsd:sequence>
      <xsd:element name="ReciboPago" type="gesCobBO:reciboType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReciboPagoResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
      <xsd:element name="Documento" type="docuBO:Documento" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CancelarGestionCobroRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CancelarGestionCobroResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenerarLoteReciboPagoRequestType">
    <xsd:sequence>
      <xsd:element name="fechaInicio" type="xsd:date"/>
      <xsd:element name="fechaFin" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenerarLoteReciboPagoResponseType">
    <xsd:sequence>
      <xsd:element name="ReciboPago" type="gesCobBO:Seguimiento"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SeguimientoCobroRequestType">
    <xsd:sequence>
      <xsd:element name="fecha" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SeguimientoCobroResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenerarReciboPagoProcesoRequestType">
    <xsd:sequence>
      <xsd:element name="ReciboPago" type="gesCobBO:Seguimiento"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenerarReciboPagoProcesoResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerPeriodoReciboPagoRequestType">
    <xsd:sequence>
      <xsd:element name="fechaBase" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerPeriodoReciboPagoResponseType">
    <xsd:sequence>
      <xsd:element name="fechaInicio" type="xsd:date"/>
      <xsd:element name="fechaFin" type="xsd:date"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CrearAvisoCobroV2Request" type="CrearAvisoCobroV2RequestType"/>
  <xsd:element name="CrearAvisoCobroV2Response" type="CrearAvisoCobroV2ResponseType"/>
  <xsd:complexType name="CrearAvisoCobroV2RequestType">
    <xsd:sequence>
      <xsd:element name="fechaInicio" type="xsd:date"/>
      <xsd:element name="fechaFin" type="xsd:date"/>
      <xsd:element name="sectorInstitucional" type="xsd:integer"/>
      <xsd:element name="codigoFondo" type="xsd:string" nillable="true"/>
      <xsd:element name="codigoCliente" type="xsd:string" nillable="true"/>
      <xsd:element name="operacion" type="xsd:string" nillable="true"/>
      <xsd:element name="lineaCredito" type="xsd:string" nillable="true"/>
      <xsd:element name="vencido" type="xsd:string" nillable="true"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearAvisoCobroV2ResponseType">
    <xsd:sequence>
      <xsd:element name="AvisoCobro" type="gesCobBO:GestionCobroV2"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GenerarAvisoCobroV2Request" type="GenerarAvisoCobroV2RequestType"/>
  <xsd:element name="GenerarAvisoCobroV2Response" type="GenerarAvisoCobroV2ResponseType"/>
  <xsd:complexType name="GenerarAvisoCobroV2RequestType">
    <xsd:sequence>
      <xsd:element name="AvisoCobro" type="gesCobBO:GestionCobroV2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenerarAvisoCobroV2ResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GestionCobroV2Request" type="GestionCobroV2RequestType"/>
  <xsd:element name="GestionCobroV2Response" type="GestionCobroV2ResponseType"/>
  <xsd:complexType name="GestionCobroV2RequestType">
    <xsd:sequence>
      <xsd:element name="Sector" type="xsd:string"/>
      <xsd:element name="Fecha" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GestionCobroV2ResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GenerarArchivosFenixV2Request" type="GenerarArchivosFenixV2RequestType"/>
  <xsd:element name="GenerarArchivosFenixV2Response" type="GenerarArchivosFenixV2ResponseType"/>
  <xsd:complexType name="GenerarArchivosFenixV2RequestType">
    <xsd:sequence>
      <xsd:element name="AvisoCobro" type="gesCobBO:GestionCobroV2"/>
      <xsd:element name="Cliente" type="cliBO:Cliente"/>
      <xsd:element name="idFlujoNegocio" type="xsd:long" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenerarArchivosFenixV2ResponseType">
    <xsd:sequence>
      <xsd:element name="Parameters" type="cmnBO:parameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="GeneraReporteAvisoCobroV2Request" type="GeneraReporteAvisoCobroV2RequestType"/>
  <xsd:element name="GeneraReporteAvisoCobroV2Response" type="GeneraReporteAvisoCobroV2ResponseType"/>
  <xsd:complexType name="GeneraReporteAvisoCobroV2RequestType">
    <xsd:sequence>
      <xsd:element name="AvisoCobro" type="gesCobBO:GestionCobroV2"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GeneraReporteAvisoCobroV2ResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
      <xsd:element name="Documento" type="docuBO:Documento" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AvisoCobro" type="gesCobBO:GestionCobroV2"/>
  <xsd:element name="GenerarAvisoCobroDemandaV2Request" type="GenerarAvisoCobroDemandaV2RequestType"/>
  <xsd:element name="GenerarAvisoCobroDemandaV2Response" type="GenerarAvisoCobroDemandaV2ResponseType"/>
  <xsd:complexType name="GenerarAvisoCobroDemandaV2RequestType">
    <xsd:sequence>
      <xsd:element name="parametrosAvisoCobro" type="gesCobBO:ParametrosAvisoCobroV2Type"/>
      <xsd:element name="idFlujoNegocio" type="xsd:long" minOccurs="0"/>
      <xsd:element name="esPublico" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="GenerarAvisoCobroDemandaV2ResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>


