AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc/Schema/ItemCatalogTaskSvcSchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemCatalogTaskSvc" xmlns:item="http://mx.agarcia.ea/Canonical/Commons/Items/v1" xmlns:cat="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemsCatalogs" xmlns:apps="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemApplications" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader">
           
  <xs:import schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/ItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Items/v1"/>
  <xs:import schemaLocation="../../../../../Capabilities/Support/Commons/ItemCatalogEntitySvc/ItemCatalogDataService/Schema/ItemsCatalogs.xsd" namespace="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemsCatalogs"/>
  <xs:import schemaLocation="../../../../../Capabilities/Support/Commons/ItemCatalogEntitySvc/ItemCatalogDataService/Schema/ItemApplications.xsd" namespace="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemApplications"/>
  <xs:import schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>
  <xs:import schemaLocation="../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
             


  <xs:element name="translateRequest" type="base:TranslateIn"/>
  <xs:element name="translateResponse" type="base:TranslateOut"/>
 
  <xs:complexType name="TranslateIn">
    <xs:sequence>
        <xs:element name="id" type="xs:string"/>
      <xs:element name="applicationCode" type="item:AppCodeTypeEnum" minOccurs="0" maxOccurs="1"/>
      <xs:element name="catalogDefinition" type="item:ItemCatalogTypeEnum" minOccurs="0" maxOccurs="1"/>
      <xs:element name="parentId" type="xs:string"/>
      <xs:element name="parentCatDef" type="item:ItemCatalogTypeEnum" minOccurs="0" maxOccurs="1"/>
      <xs:element name="targetAppCode" type="item:AppCodeTypeEnum" minOccurs="0" maxOccurs="1"/>

    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TranslateOut">
    <xs:sequence>
      <xs:element name="catalogInfo" type="item:CatalogList"/>
    </xs:sequence>
  </xs:complexType>
  
   <xs:element name="appsFilterRequestType" type="base:AppsFilterRequestType"/>
   <xs:element name="catalogsResponseType" type="base:CatalogsResponseType"/>

<xs:complexType name="AppsFilterRequestType">
        <xs:sequence>
         </xs:sequence>
	</xs:complexType>
        
           <xs:complexType name="CatalogsResponseType">
        <xs:sequence>
        <xs:element name="applicationsList" type="base:ApplicationsList" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        </xs:complexType>
        
         <xs:complexType name="ApplicationsList">
        <xs:sequence>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="name" type="xs:string"/>
        </xs:sequence>
        </xs:complexType>
        
        <xs:element name="catalogsFilterRequestType" type="base:CatalogsFilterRequestType"/>
        <xs:element name="catalogsFilterResponseType" type="base:CatalogsFilterResponseType"/>

   <xs:complexType name="CatalogsFilterRequestType">
        <xs:sequence>
        </xs:sequence>
        </xs:complexType>
        
        <xs:complexType name="CatalogsFilterResponseType">
        <xs:sequence>
        <xs:element name="catalogList" type="base:CatalogsList" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        </xs:complexType>
        
         <xs:complexType name="CatalogsList">
        <xs:sequence>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="name" type="xs:string"/>
        </xs:sequence>
        </xs:complexType>
        
        
        <xs:element name="catalogFilterRequestType" type="cat:MdmItemsCatalogs"/>
        <xs:element name="catalogFilterResponseType" type="cat:CatalogList"/>

        
        <xs:element name="modifyRequestType" type="cat:MdmItemsCatalogs"/>
        <xs:element name="modifyResponseType" type="cat:response"/>
        
       
    <xs:element name="registerRequestType" type="base:RegisterRequestType"/>
       <xs:element name="registerResponseType" type="cat:response"/>
	   
	   
  

   
  
	   
	    <xs:complexType name="RegisterRequestType">
        <xs:sequence>
        <xs:element name="id" type="xs:string"/>
        <xs:element name="appCode" type="xs:string"/>
		<xs:element name="name" type="xs:string"/>
        <xs:element name="catalogId" type="xs:string"/>
		<xs:element name="description" type="xs:string"/>
        <xs:element name="parentId" type="xs:string"/>
		<xs:element name="parentAppcode" type="xs:string"/>
        <xs:element name="primaryId" type="xs:string"/>
		<xs:element name="primaryAppcode" type="xs:string"/>
        <xs:element name="parentCatid" type="xs:string"/>
		<xs:element name="primaryCatid" type="xs:string"/>
        <xs:element name="primaryParnId" type="xs:string"/>
	    <xs:element name="primaryParnCatId" type="xs:string"/>

		
        </xs:sequence>
        </xs:complexType>



       
       
       <xs:element name="deleteRequestType" type="base:DeleteRequestType"/>
       <xs:element name="deleteResponseType" type="cat:response"/>
       
       <xs:complexType name="DeleteRequestType">
       <xs:sequence>
       <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
       <xs:element name="catalogId" type="xs:string" minOccurs="1" maxOccurs="1"/>
       </xs:sequence>
       </xs:complexType>
       

</xs:schema>