AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Capabilities/Support/Commons/ItemCatalogEntitySvc/ItemCatalogDataService/Schema/ItemsCatalogs.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
xmlns:base="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemsCatalogs"
            targetNamespace="http://mx.agarcia.ea/Capabilities/Support/Commons/ItemsCatalogs" elementFormDefault="qualified">
 
  <xs:element name="MdmItemsCatalogsCollection" type="base:MdmItemsCatalogsCollection"/>
   <xs:complexType name="MdmItemsCatalogsCollection">
      <xs:sequence>
         <xs:element name="MdmItemsCatalogs" type="base:MdmItemsCatalogs" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MdmItemsCatalogs">
      <xs:sequence>
         <xs:element name="id" type="xs:string"/>
         <xs:element name="appCode" type="xs:string"/>
         <xs:element name="name" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="catalogId" type="xs:long"/>
         <xs:element name="description" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="parentId" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="parentAppcode" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="primaryId" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="primaryAppcode" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="parentCatid" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="primaryCatid" type="xs:long" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>

 <xs:complexType name="CatalogList">
        <xs:sequence>
       <xs:element name="CatalogList" type="base:MdmItemsCatalogs" minOccurs="1" maxOccurs="unbounded"/>
        </xs:sequence>
        </xs:complexType>


<xs:complexType name="response">
      <xs:sequence>
         <xs:element name="status" type="xs:string"/>
       
      </xs:sequence>
   </xs:complexType>
  
 
</xs:schema>