AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/StockCountUpload/StockCountUploadEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/StockCountUpload" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/StockCountUpload" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom">
  <xsd:import schemaLocation="../../Common/CommonComponents.xsd" namespace="http://www.agarcia.mx/EnterpriseObjects/Common"/>
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Custom" schemaLocation="../../Custom/EBO/CustomStockCountUploadEBO.xsd"/>
  <xsd:element name="StockCountUploadEBO" type="StockCountUploadEBOType"/>
  <xsd:complexType name="StockCountUploadEBOType">
    <xsd:sequence>
      <xsd:element name="FLineId" type="com:NumericType"/>
      <xsd:element name="TranslatorId" type="com:StringType"/>
      <xsd:element name="EmissionDate" type="com:StringType"/>
      <xsd:element name="StockTakeDate" type="com:StringType"/>
      <xsd:element name="CycleCount" type="com:NumericType"/>
      <xsd:element name="LocationType" type="com:LocationType"/>
      <xsd:element name="TDETL" type="InventoryTDetlLineType" maxOccurs="unbounded"/>
      <xsd:element name="LineId" type="com:NumericType"/>
      <xsd:element name="Lines" type="com:NumericType"/>
      <xsd:element name="Custom" minOccurs="0" type="cust:CustomStockCountUploadEBOType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InventoryTDetlLineType">
    <xsd:sequence>
      <xsd:element name="LineId" type="com:LocationType"/>
      <xsd:element name="ItemType" type="com:StringType"/>
      <xsd:element name="ItemValue" type="com:StringType"/>
      <xsd:element name="InventoryQuantity" type="com:NumericType"/>
      <xsd:element name="LocDesc" type="com:StringType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>