BCIE_fenix/features/MCP/6389/SOA/09-OSB-FLEXCUBE/MDS/Resources/ComponentesComunes/Flexcube14/DominioCliente/Cliente/V1/Schema/ClienteMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/FLEXCUBE14/ClienteMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:cliMO="http://www.bcie.org/FLEXCUBE14/ClienteMO" xmlns:resBO="http://www.bcie.org/FLEXCUBE14/ResultBO">
    <xsd:import namespace="http://www.bcie.org/FLEXCUBE14/ResultBO"
                schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
    <xsd:complexType name="CreaClienteRequestType">
        <xsd:sequence>
            <xsd:element name="Cliente">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Ejecutivo" type="xsd:string"/>
                        <xsd:element name="Razon_Social" type="xsd:string"/>
                        <xsd:element name="Abreviatura" type="xsd:string"/>
                        <xsd:element name="Tipo_Identificacion" type="xsd:string"/>
                        <xsd:element name="Identificacion" type="xsd:string"/>
                        <xsd:element name="Grupo_Empresarial" type="xsd:string"/>
                        <xsd:element name="Tipo_Persona" type="xsd:string"/>
                        <xsd:element name="Tipo_Institucion" type="xsd:string"/>
                        <xsd:element name="Sector_Institucional" type="xsd:string"/>
                        <xsd:element name="Actividad_Economica" type="xsd:string"/>
                        <xsd:element name="Eje_Estrategico" type="xsd:string"/>
                        <xsd:element name="Direccion" type="xsd:string"/>
                        <xsd:element name="Pais" type="xsd:string"/>
                        <xsd:element name="Ciudad" type="xsd:string"/>
                        <xsd:element name="Telefono" type="xsd:string"/>
                        <xsd:element name="Fax" type="xsd:string"/>
                        <xsd:element name="Email" type="xsd:string"/>
                        <xsd:element name="Dia_De_Pago" type="xsd:double"/>
                        <xsd:element name="Cliente_Padre" type="xsd:string"/>
                        <xsd:element name="Puesto" type="xsd:string"/>
                        <xsd:element name="Tipo_Relacion" type="xsd:string"/>
                        <xsd:element name="BIC_Code" type="xsd:string"/>
                        <xsd:element name="Codigo_Cliente" type="xsd:string"/>
                        <xsd:element name="Overall_Limit" type="xsd:double"/>
                        <xsd:element name="Rating" type="xsd:string"/>
                        <xsd:element name="Autorizado" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Usuario" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreaClienteRequest" type="cliMO:CreaClienteRequestType"/>
    <xsd:complexType name="CreaClienteResponseType">
        <xsd:sequence>
            <xsd:element name="Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Codigo_Cliente" type="xsd:string"/>
                        <xsd:element name="Resultado" type="resBO:Resultado"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CreaClienteResponse" type="cliMO:CreaClienteResponseType"/>
    <xsd:complexType name="ActualizarClienteRequestType">
        <xsd:sequence>
            <xsd:element name="Cliente">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Ejecutivo" type="xsd:string"/>
                        <xsd:element name="Razon_Social" type="xsd:string"/>
                        <xsd:element name="Abreviatura" type="xsd:string"/>
                        <xsd:element name="Tipo_Identificacion" type="xsd:string"/>
                        <xsd:element name="Identificacion" type="xsd:string"/>
                        <xsd:element name="Grupo_Empresarial" type="xsd:string"/>
                        <xsd:element name="Tipo_Persona" type="xsd:string"/>
                        <xsd:element name="Tipo_Institucion" type="xsd:string"/>
                        <xsd:element name="Sector_Institucional" type="xsd:string"/>
                        <xsd:element name="Actividad_Economica" type="xsd:string"/>
                        <xsd:element name="Eje_Estrategico" type="xsd:string"/>
                        <xsd:element name="Direccion" type="xsd:string"/>
                        <xsd:element name="Pais" type="xsd:string"/>
                        <xsd:element name="Ciudad" type="xsd:string"/>
                        <xsd:element name="Telefono" type="xsd:string"/>
                        <xsd:element name="Fax" type="xsd:string"/>
                        <xsd:element name="Email" type="xsd:string"/>
                        <xsd:element name="Dia_De_Pago" type="xsd:double"/>
                        <xsd:element name="Cliente_Padre" type="xsd:string"/>
                        <xsd:element name="Puesto" type="xsd:string"/>
                        <xsd:element name="Tipo_Relacion" type="xsd:string"/>
                        <xsd:element name="BIC_Code" type="xsd:string"/>
                        <xsd:element name="Codigo_Cliente" type="xsd:string"/>
                        <xsd:element name="Overall_Limit" type="xsd:double"/>
                        <xsd:element name="Rating" type="xsd:string"/>
                        <xsd:element name="Autorizado" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="Usuario" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ActualizarClienteRequest" type="cliMO:ActualizarClienteRequestType"/>
    <xsd:complexType name="ActualizarClienteResponseType">
        <xsd:sequence>
            <xsd:element name="Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Codigo_Cliente" type="xsd:string"/>
                        <xsd:element name="Resultado" type="resBO:Resultado"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ActualizarClienteResponse" type="cliMO:ActualizarClienteResponseType"/>
    <xsd:complexType name="ConsultarCodigoClienteRequestType">
        <xsd:sequence>
            <xsd:element name="Cliente">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Abreviatura" type="xsd:string"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ConsultarCodigoClienteRequest" type="cliMO:ConsultarCodigoClienteRequestType"/>
    <xsd:complexType name="ConsultarCodigoClienteResponseType">
        <xsd:sequence>
            <xsd:element name="Response">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Codigo_Cliente" type="xsd:string"/>
                        <xsd:element name="Resultado" type="resBO:Resultado"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ConsultarCodigoClienteResponse" type="cliMO:ConsultarCodigoClienteResponseType"/>
</xsd:schema>