AG_2019/OSB/AlmacenesGarcia_DEV/Capabilities/Core/Items/UpdateItemEntSvc/Schema/UpdateItemEntitySchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Items/UpdateItemEntity" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Capabilities/Core/Items/UpdateItemEntity" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:item="http://mx.agarcia.ea/Canonical/Commons/Items/v1">
  <xs:import schemaLocation="../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
  <xs:import schemaLocation="../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>
  <xs:import schemaLocation="../../../../Foundation/Schemas/Commons/ItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Items/v1"/>
  <xs:element name="updateItemRequest" type="base:UpdateItem"/>
  <xs:element name="updateItemResponse" type="AGsm:MessageResponse"/>
  <xs:complexType name="UpdateItem">
    <xs:sequence>
      <xs:element name="items" type="item:ItemList"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>