BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/Aprobacion/CrearAprobacion/XSD/CrearAprobacion_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearAprobacion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearAprobacion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="AprobacionCollection" type="AprobacionCollection"/>
   <xs:complexType name="AprobacionCollection">
      <xs:sequence>
         <xs:element name="Aprobacion" type="Aprobacion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Aprobacion">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idDecisionReunion" type="xs:long" minOccurs="0"/>
         <xs:element name="fechaAprobacion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="numeroResolucion" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="resumen" type="string1024" minOccurs="0" nillable="true"/>
         <xs:element name="loginUsuario" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="idMontoAprobado" type="xs:long" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1024">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1024"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>