BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/DominioOperacion/Cuestionario/V1/Schema/CuestionarioMO.xsd

<xsd:schema targetNamespace="http://xmlns.bcie.com/CuestionarioMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.bcie.com/CuestionarioService" xmlns:tns="http://xmlns.bcie.com/CuestionarioMO" xmlns:pregBO="http://www.bcie.org/PreguntaBO" xmlns:cuesBO="http://xmlns.bcie.com/CuestionarioBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:resBO="http://www.bcie.org/ResultBO">
            
            <xsd:import namespace="http://xmlns.bcie.com/CuestionarioBO"
                        schemaLocation="CuestionarioBO.xsd"/>
            <xsd:import namespace="http://www.bcie.org/PreguntaBO"
                        schemaLocation="../../../Pregunta/V1/Schema/PreguntaBO.xsd"/>
            <xsd:import schemaLocation="../../../Operacion/V1/Schema/OperacionBO.xsd" namespace="http://www.bcie.org/OperacionBO"/>
            <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
            
  <xsd:element name="ObtenerCuestionarioResponse" type="tns:ObtenerCuestionarioResponseType"/>
  <xsd:element name="ObtenerCuestionarioRequest" type="tns:ObtenerCuestionarioRequestType"/>
  <xsd:element name="LeerCuestionarioRequest" type="tns:LeerCuestionarioRequestType"/>
  <xsd:element name="LeerCuestionarioResponse" type="tns:LeerCuestionarioResponseType"/>
  <xsd:element name="CrearReporteElegibilidadRequest" type="tns:CrearReporteElegibilidadRequestType"/>
  <xsd:element name="CrearReporteElegibilidadResponse" type="tns:CrearReporteElegibilidadResponseType"/>
   <xsd:element name="CrearReporteNotaConceptoRequest" type="tns:CrearReporteNotaConceptoRequestType"/>
  <xsd:element name="CrearReporteNotaConceptoResponse" type="tns:CrearReporteNotaConceptoResponseType"/>
 
  <xsd:complexType name="ObtenerCuestionarioRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idResponsable" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerCuestionarioResponseType">
    <xsd:sequence>
      <xsd:element name="Cuestionario" type="cuesBO:Cuestionario"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LeerCuestionarioRequestType">
    <xsd:sequence>
      <xsd:element name="Archivo" type="cuesBO:Cuestionario"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idResponsable" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LeerCuestionarioResponseType">
    <xsd:sequence>
      <xsd:element name="Respuesta" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteElegibilidadRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" />
      <xsd:element name="NombreArchivo" type="cuesBO:Archivo"/>
      <xsd:element name="GuardarReporte" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ResponsableOperacion" type="xsd:string"/>
      <xsd:element name="TipoGeneracion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteNotaConceptoRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" />
      <xsd:element name="NombreArchivo" type="cuesBO:Archivo"/>
      <xsd:element name="GuardarReporte" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ResponsableOperacion" type="xsd:string"/>
      <xsd:element name="TipoGeneracion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteElegibilidadResponseType">
    <xsd:sequence>
      <xsd:element name="Cuestionario" type="cuesBO:Cuestionario"/>
      <xsd:element name="Archivo" type="cuesBO:Archivo"/>
      <xsd:element name="Respuesta" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteNotaConceptoResponseType">
    <xsd:sequence>
      <xsd:element name="Cuestionario" type="cuesBO:Cuestionario"/>
      <xsd:element name="Archivo" type="cuesBO:Archivo"/>
      <xsd:element name="Respuesta" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>  
  <xsd:complexType name="CrearReporteElegibilidadV2RequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" />
      <xsd:element name="NombreArchivo" type="cuesBO:Archivo"/>
      <xsd:element name="GuardarReporte" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ResponsableOperacion" type="xsd:string"/>
      <xsd:element name="TipoGeneracion" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteElegibilidadV2ResponseType">
    <xsd:sequence>
      <xsd:element name="Cuestionario" type="cuesBO:Cuestionario"/>
      <xsd:element name="Archivo" type="cuesBO:Archivo"/>
      <xsd:element name="Respuesta" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CrearReporteElegibilidadV2Request" type="tns:CrearReporteElegibilidadV2RequestType"/>
  <xsd:element name="CrearReporteElegibilidadV2Response" type="tns:CrearReporteElegibilidadV2ResponseType"/>
</xsd:schema>