AG_2019/SOA/FindItemByFilterProcess/SOA/Schemas/BusinessAreas/Core/InventoryMngmt/InventorySchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Core/InventoryMngmt/Inventory/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Core/InventoryMngmt/Inventory/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:complexType name="InventoryType">
      <xs:sequence>
         <xs:element minOccurs="0" name="RequestID">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="RequestIDCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="Response">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="ResponseCommonData"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="Cancellation" type="CancellationType"/>
         <xs:element minOccurs="0" name="Completion" type="ItemLocationType"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="CycleCount" type="CycleCountType">
            <xs:annotation>
               <xs:documentation>Counting inventory by checking a particular location or set of
                        locations and comparing the physical counts with the system-maintained
                        inventory levels.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="CycleCountID" type="xs:string">
            <xs:annotation>
               <xs:documentation>Universally unique id for this cycle count</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" name="DateTime">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="DateTimeCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="DeliveryMethod" type="xs:string"/>
         <xs:element minOccurs="0" name="Disposition" type="xs:string">
            <xs:annotation>
               <xs:documentation>An act of disposing; a bestowal or transfer to
                    another.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element minOccurs="0" name="ExpectedData" type="ExpectedDataType"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="FromLocation" type="ItemLocationType">
            <xs:annotation>
               <xs:documentation>A unique identifier for an inventory storage location, from
                        which the item being sold will be taken when delivered or picked up.
                    </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Fulfillment" type="FulfillmentType">
            <xs:annotation>
               <xs:documentation>The process of responding to customer inquiries, orders, or
                        sales promotion offers</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="InventoryAdjustment" type="InventoryAdjustmentType">
            <xs:annotation>
               <xs:documentation>A change to the inventory record of an
                    organization</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="InventoryItem" type="InventoryItemType"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="InventoryLocation" type="InventoryLocationType">
            <xs:annotation>
               <xs:documentation>A physical place the retailer stores merchandise. It may be
                        co-located at a Site with RetailStore, DistributionCenter, or
                        AdministrativeCenter. It does not include containers, ships and trucks that
                        are in transit.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="InventoryPosition" type="InventoryPositionType">
            <xs:annotation>
               <xs:documentation>A quantity used to measure the current inventory
                    level.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ItemID">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="ItemIDCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="ItemLocation" type="ItemLocationType"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Operator">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="OperatorCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="Quantity">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="QuantityCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="QuantityDispatched">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="QuantityCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element minOccurs="0" name="ReservationID" type="xs:string">
            <xs:annotation>
               <xs:documentation>A unique identifier for an inventory reservation, that was
                        made as part of POS processing of the line item. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Reservation" type="ReservationType"/>
         <xs:element minOccurs="0" name="Scope" type="ScopeType"/>
         <xs:element minOccurs="0" name="ToLocation" type="ItemLocationType"/>
         <xs:element minOccurs="0" name="TrackingNumber" type="xs:string"/>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="TransactionNumber" type="TransactionNumberType"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:attribute default="Update" name="ActionCode" type="ActionCommonDataTypeCodes" use="optional"/>
      <xs:attribute default="Inventory" name="Type" type="InventoryTypeCodes" use="optional"/>
      <xs:attribute default="AvailableOnHand" name="InventoryState" type="InventoryStatusCodes" use="optional">
         <xs:annotation>
            <xs:documentation>A state that StockItems are kept in the retail enterprise item
                    inventory records</xs:documentation>
         </xs:annotation>
      </xs:attribute>
      <xs:attribute name="AcceptedFlag" type="xs:boolean" use="optional"/>
   </xs:complexType>
</xs:schema>
