AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/Allocation/AllocationEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Allocation" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Allocation" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom" xmlns:po="http://www.agarcia.mx/EnterpriseObjects/PurchaseOrder">
  <!-- ====================================================================== -->
  <!-- =====      Imports                                               ===== -->
  <!-- ====================================================================== -->
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/PurchaseOrder" schemaLocation="../PurchaseOrder/PurchaseOrderEBO.xsd"/>
  <!-- ====================================================================== -->
  <!-- ==============        Allocation EBO         ====================== -->
  <!-- ====================================================================== -->
  <xsd:element name="AllocationEBO" type="POAllocationEBOType"/>
  <xsd:complexType name="POAllocationEBOType">
    <xsd:sequence>
      <xsd:element name="AllocId" type="com:IdentificationType"/>
      <xsd:element name="POAllocationEBO" type="po:PurchaseOrderEBOType" maxOccurs="unbounded"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="com:ActionType" use="optional"/>
  </xsd:complexType>
</xsd:schema>