AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/Allocation/AllocationEBM.xsd

<!-- ======================================================================== --><!-- ======      Allocation EBO EBM                                 ====== --><!-- ======================================================================== --><xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Allocation" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Allocation" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <!-- ====================================================================== -->
  <!-- =====      Imports                                               ===== -->
  <!-- ====================================================================== -->
  <xsd:include schemaLocation="AllocationEBO.xsd"/>
  <!-- ====================================================================== -->
  <!-- ===== Las operaciones del EBO son 9                  ================= -->
  <!-- ===== En este EBO estan como Process, Update, Sync y Query  ========== -->
  <!-- ====================================================================== -->
  <!-- ====================================================================== -->
  <!-- =================== Process Allocation Service ==================== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="ProcessAllocationEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProcessAllocation" type="POAllocationEBOType"/>
            <xsd:element name="AllocationRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ProcessAllocationEBM" type="ProcessAllocationEBMType"/>
  <!-- ====================================================================== -->
  <!-- =============== Process Allocation Response Service =============== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="ProcessAllocationResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="ProcessAllocationReference" type="com:IdentificationType"/>
      <xsd:element name="AllocationRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ProcessAllocationResponseEBM" type="ProcessAllocationResponseEBMType"/>
  <!-- ====================================================================== -->
  <!-- ==================== Update Allocation Service ==================== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="UpdateAllocationEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UpdateAllocation" type="POAllocationEBOType"/>
            <xsd:element name="AllocationRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UpdateAllocationEBM" type="UpdateAllocationEBMType"/>
  <!-- ====================================================================== -->
  <!-- =============== Update Allocation Response Service ================ -->
  <!-- ====================================================================== -->
  <xsd:complexType name="UpdateAllocationResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="UpdateAllocationReference" type="com:IdentificationType"/>
      <xsd:element name="AllocationRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UpdateAllocationResponseEBM" type="UpdateAllocationResponseEBMType"/>
  <!-- ====================================================================== -->
  <!-- ===================== Sync Allocation Service ===================== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="SyncAllocationEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SyncAllocation" type="POAllocationEBOType"/>
            <xsd:element name="AllocationRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SyncAllocationEBM" type="SyncAllocationEBMType"/>
  <!-- ====================================================================== -->
  <!-- ================ Sync Allocation Response Service ================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="SyncAllocationResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="SyncAllocationReference" type="com:IdentificationType"/>
      <xsd:element name="AllocationRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SyncAllocationResponseEBM" type="SyncAllocationResponseEBMType"/>
  <!-- ====================================================================== -->
  <!-- ==================== Query Allocation Service ===================== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="QueryAllocationEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="QueryAllocation" type="POAllocationEBOType"/>
            <xsd:element name="AllocationRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="QueryAllocationEBM" type="QueryAllocationEBMType"/>
  <!-- ====================================================================== -->
  <!-- =============== Query Allocation Response Service ================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="QueryAllocationResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="QueryAllocationReference" type="POAllocationEBOType"/>
      <xsd:element name="AllocationRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="QueryAllocationResponseEBM" type="QueryAllocationResponseEBMType"/>
  <!-- ====================================================================== -->
  <!-- ============= Allocation Response Acknowledge Service ============= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="ResponseAcknowledgeEBMType">
    <xsd:sequence>
      <xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="AllocationResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>
</xsd:schema>