BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/CrearOperacionProceso/XSD/OperacionProcesoDB_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/OperacionProcesoDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/OperacionProcesoDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="TreOperacionProcesoBpmCollection" type="TreOperacionProcesoBpmCollection"/>
   <xs:complexType name="TreOperacionProcesoBpmCollection">
      <xs:sequence>
         <xs:element name="TreOperacionProcesoBpm" type="TreOperacionProcesoBpm" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TreOperacionProcesoBpm">
      <xs:sequence>
         <xs:element name="id" type="xs:int" nillable="true"/>
         <xs:element name="idOperacion" type="xs:long" minOccurs="0"/>
         <xs:element name="idProceso" type="xs:int" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>