BCIE_fenix/features/MCP/7705/SOA/03-SOA-SERVICES/BusinessRules/ValidarMora/SOA/WSDLs/ClienteMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:cliMO="http://www.bcie.org/ClienteMO"
            targetNamespace="http://www.bcie.org/ClienteMO" elementFormDefault="qualified"
            xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:resBO="http://www.bcie.org/ResultBO"
            xmlns:operBO="http://www.bcie.org/OperacionBO">
  <xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="ClienteBO.xsd"/>
  <xsd:import schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"
              namespace="http://www.bcie.org/OperacionBO"/>
  <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
  <!-- Mensajes -->
  <xsd:element name="CrearClienteRequest" type="cliMO:CrearClienteRequestType"/>
  <xsd:element name="CrearClienteResponse" type="cliMO:CrearClienteResponseType"/>
  <xsd:element name="CrearClienteFLEXCUBERequest" type="cliMO:CrearClienteFLEXCUBERequestType"/>
  <xsd:element name="CrearClienteFLEXCUBEResponse" type="cliMO:CrearClienteFLEXCUBEResponseType"/>
  <xsd:element name="CrearClienteDefinitivoRequest" type="cliMO:CrearClienteDefinitivoRequestType"/>
  <xsd:element name="CrearClienteDefinitivoResponse" type="cliMO:CrearClienteDefinitivoResponseType"/>
  <xsd:element name="ConsultarClienteByIdClienteRequest" type="cliMO:ConsultarClientesByIdClienteRequestType"/>
  <xsd:element name="ConsultarClienteResponse" type="cliMO:ConsultarClienteResponseType"/>
  <xsd:element name="ActualizarClienteRequest" type="cliMO:ActualizarClienteRequestType"/>
  <xsd:element name="ActualizarClienteResponse" type="cliMO:ActualizarClienteResponseType"/>
  <xsd:element name="ActualizarClienteFLEXCUBERequest" type="cliMO:ActualizarClienteFLEXCUBERequestType"/>
  <xsd:element name="ActualizarClienteFLEXCUBEResponse" type="cliMO:ActualizarClienteFLEXCUBEResponseType"/>
  <xsd:element name="EliminarClienteRequest" type="cliMO:EliminarClienteRequestType"/>
  <xsd:element name="EliminarClienteResponse" type="cliMO:EliminarClienteResponseType"/>
  <xsd:element name="ConsultaContactoResponse" type="cliMO:ConsultaContactoResponseType"/>
  <!-- Tipos de los mensajes -->
  <!-- Mensajes  de Contactos-->
  <xsd:element name="InsertarContactoRequest" type="cliMO:InsertarContactoRequestType"/>
  <xsd:element name="InsertarContactoResponse" type="cliMO:InsertarContactoResponseType"/>
  <xsd:element name="ActualizarContactoRequest" type="cliMO:ActualizarContactoRequestType"/>
  <xsd:element name="ActualizarContactoResponse" type="cliMO:ActualizarContactoResponseType"/>
  <xsd:element name="EliminarContactoRequest" type="cliMO:EliminarContactoRequestType"/>
  <xsd:element name="EliminarContactoResponse" type="cliMO:EliminarContactoResponseType"/>
  <xsd:element name="InsertarContactoClienteRequest" type="cliMO:InsertarContactoClienteRequestType"/>
  <xsd:element name="InsertarContactoClienteResponse" type="cliMO:InsertarContactoClienteResponseType"/>
  <xsd:element name="ConsultarOperacionesByIdClienteRequest" type="cliMO:ConsultarOperacionesByIdClienteRequestType"/>
  <xsd:element name="ConsultarOperacionesByIdClienteResponse" type="cliMO:ConsultarOperacionesByIdClienteResponseType"/>
  <xsd:element name="ValidarClienteDuplicadoRequest" type="cliMO:ValidarClienteDuplicadoRequestType"/>
  <xsd:element name="ValidarClienteDuplicadoResponse" type="cliMO:ValidarClienteDuplicadoResponseType"/>
  <xsd:element name="ConsultarClienteFLEXCUBERequest" type="cliMO:ConsultarClienteFLEXCUBERequestType"/>
  <xsd:element name="ConsultarClienteFLEXCUBEResponse" type="cliMO:ConsultarClienteFLEXCUBEResponseType"/>
  <xsd:element name="ValidarMoraRequest" type="cliMO:ValidarMoraRequestType"/>
  <xsd:element name="ValidarMoraResponse" type="cliMO:ValidarMoraResponseType"/>
  <xsd:element name="ValidarMoraBRRequest" type="cliMO:ValidarMoraBRRequestType"/>
  <xsd:element name="ValidarMoraBRResponse" type="cliMO:ValidarMoraBRResponseType"/>
  <!-- Create -->
  <!-- Carga de Clientes-->
  <xsd:complexType name="CrearClienteRequestType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:Cliente" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearClienteResponseType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:Cliente" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
   <xsd:complexType name="CrearClienteDefinitivoRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="cliBO:idCliente" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearClienteDefinitivoResponseType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:Cliente" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
   <xsd:complexType name="CrearClienteFLEXCUBERequestType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:Cliente" minOccurs="1" maxOccurs="1"/>
        <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearClienteFLEXCUBEResponseType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:Cliente" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Create -->
  <!-- Read -->
  <!-- Consulta de Clientes -->
  <xsd:complexType name="ConsultarClientesByIdOperacionRequestType">
    <xsd:annotation>
      <xsd:documentation>Capacidad para consultar una lista de Cliente por un Id de operación
          Usar el Id de la operación para la consulta</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idOperacion" type="xsd:long" minOccurs="1" maxOccurs="1"/>
      <!-- Cambiar por el id de la operación del Operacion.xml -->
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarClientesByIdClienteRequestType">
    <xsd:annotation>
      <xsd:documentation>Capacidad para consultar un Cliente por un Id de Cliente
          Usar el Id del Cliente para la consulta</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element name="idCliente" type="cliBO:idCliente" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarClienteResponseType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:Cliente" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Operaciones" type="cliBO:EntidadMinimaOperacion" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Read -->
  <!-- Update -->
  <xsd:complexType name="ActualizarClienteRequestType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:Cliente" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarClienteResponseType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:Cliente" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarClienteFLEXCUBERequestType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:Cliente" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="actividadEconomica" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="ejeEstrategico" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarClienteFLEXCUBEResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Update -->
  <!-- Delete -->
  <xsd:complexType name="EliminarClienteRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="cliBO:idCliente" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarClienteResponseType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:Cliente" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Fin Delete -->
  <!--Contactos-->
  <!--Consultar Contactos-->
  <xsd:complexType name="ConsultaContactoResponseType">
    <xsd:sequence>
      <xsd:element name="Contactos" type="cliBO:Contactos" minOccurs="0" maxOccurs="0"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Actualizar Contacto-->
  <xsd:complexType name="InsertarContactoRequestType">
    <xsd:sequence>
      <xsd:element name="Contacto" type="cliBO:Contacto" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InsertarContactoResponseType">
    <xsd:sequence>
      <xsd:element name="Contacto" type="cliBO:Contacto" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarContactoRequestType">
    <xsd:sequence>
      <xsd:element name="Contacto" type="cliBO:Contacto" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarContactoResponseType">
    <xsd:sequence>
      <xsd:element name="Contacto" type="cliBO:Contacto" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Eliminar Contacto-->
  <xsd:complexType name="EliminarContactoRequestType">
    <xsd:sequence>
      <xsd:element name="idContacto" type="cliBO:idContacto" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarContactoResponseType">
    <xsd:sequence>
      <xsd:element name="idContacto" type="cliBO:idContacto" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InsertarContactoClienteRequestType">
    <xsd:sequence>
      <xsd:element name="Contacto" type="cliBO:Contacto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="InsertarContactoClienteResponseType">
    <xsd:sequence>
      <xsd:element name="Contacto" type="cliBO:Contacto"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarOperacionesByIdClienteRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="cliBO:idCliente" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarOperacionesByIdClienteResponseType">
    <xsd:sequence>
      <xsd:element name="operaciones" type="cliBO:EntidadMinimaOperacion" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarClienteDuplicadoRequestType">
    <xsd:sequence>
      <xsd:element name="Abreviatura" type="xsd:string"/>
      <xsd:element name="RazonSocial" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarClienteDuplicadoResponseType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:Cliente"  minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarClienteFLEXCUBERequestType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:Cliente"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarClienteFLEXCUBEResponseType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:Cliente"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarMoraRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="cliBO:idCliente"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarMoraResponseType">
    <xsd:sequence>
      <xsd:element name="Cliente" type="cliBO:Cliente"/>
      <xsd:element name="isMora" type="xsd:boolean"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarMoraBRRequestType">
    <xsd:sequence>
      <xsd:element name="dias" type="xsd:integer"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarMoraBRResponseType">
    <xsd:sequence>
      <xsd:element name="isMora" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--FINContacto-->
</xsd:schema>
