Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/SCHAcct/AcctInfoInq/AcctInfoInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/SCHAcctAppSvc/AcctInfoInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctInfoInq="http://xmlns.banesco.com/appopt/SCHAcctAppSvc/AcctInfoInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkBook">
		<xs:sequence>
			<xs:element name="FirstHolder" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del primer titular</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Acct">
		<xs:annotation>
			<xs:documentation>Account Information Aggregate. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctSubtype" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Producto</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctStatus" type="appoptAcctInfoInq:AcctStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctMember" type="appoptAcctInfoInq:AcctMember" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="ChkBook" type="appoptAcctInfoInq:ChkBook" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="AcctKey" type="appoptAcctInfoInq:AcctKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctInfoInqRs" type="appoptAcctInfoInq:AcctInfoInqRs_Type"/>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Persona.

Valores: Person or Org.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctMember">
		<xs:sequence>
			<xs:element name="PartyKey" type="appoptAcctInfoInq:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cliente miembro de la cuenta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyRole" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Rol del Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctInfoInqRq_Type">
		<xs:sequence>
			<xs:element name="AcctKey" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartyKey" minOccurs="1" maxOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Customer ID´s</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="PartyType" type="xs:string" minOccurs="1" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Tipo de Persona.

Valores: Person or Org.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctInfoInqRs_Type">
		<xs:sequence>
			<xs:element name="Acct" type="appoptAcctInfoInq:Acct" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctInfoInqRq" type="appoptAcctInfoInq:AcctInfoInqRq_Type"/>
	<xs:complexType name="AcctStatus">
		<xs:annotation>
			<xs:documentation>Account Status Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctStatusCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Codigo de estado de la cuenta</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
