BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PA12/PrepagoProcess.xsd

<?xml version='1.0' encoding='windows-1252'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/bpmn/bpmnProcess/PrepagoProcess"
            xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
            xmlns:eqTr="http://www.bcie.org/EqipoTrabajo/V1"
            targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/PrepagoProcess" elementFormDefault="qualified">
  <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
              schemaLocation="../Comun/Header/V1/HeaderOPN.xsd"/>
  <xsd:import namespace="http://www.bcie.org/EqipoTrabajo/V1"
              schemaLocation="../Comun/EquipoTrabajo/V1/EquipoTrabajoOPN.xsd"/>
  <xsd:element name="InicioPrepago">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="FinPrepago">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
        <xsd:element name="equipoTrabajo" type="eqTr:ListadoEquipoTrbajo"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
  <xsd:element name="InicioReasignarRO">
    <xsd:complexType>
      <xsd:sequence>
        <xsd:element name="Header" type="tns6:Header"/>
      </xsd:sequence>
    </xsd:complexType>
  </xsd:element>
</xsd:schema>
