BCIE_fenix/features/MCP/7705/ADF-BPM/bpm/PC06Evaluacion/PC06EvaluacionProcess/SOA/WSDLs/EvaluacionExAnteSIEMASProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionExAnteSIEMASProcess" xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Evaluacion/Payload/V1"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionExAnteSIEMASProcess" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionExAnteSIEMASProcess">
            <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Evaluacion/Payload/V1" schemaLocation="../Schemas/Evaluacion/V1/EvaluacionPayload.xsd"/>
            <xsd:element name="InicioEvaluacionExAnteSIEMAS">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:EvaluacionPayload"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="FinSIEMASResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element ref="tns6:EvaluacionPayload"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="InicioEvaluacionExAnteSIEMAS">
        <wsdl:part name="parameters" element="tns:InicioEvaluacionExAnteSIEMAS"/>
    </wsdl:message>
    <wsdl:message name="FinSIEMASResponse">
        <wsdl:part name="parameters" element="tns:FinSIEMASResponse"/>
    </wsdl:message>
    <wsdl:portType name="EvaluacionExAnteSIEMASProcessPortType">
        <wsdl:operation name="InicioEvaluacionExAnteSIEMAS">
            <wsdl:input message="tns:InicioEvaluacionExAnteSIEMAS"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="EvaluacionExAnteSIEMASProcessPortTypeCallBack">
        <wsdl:operation name="FinSIEMAS">
            <wsdl:input message="tns:FinSIEMASResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="EvaluacionExAnteSIEMASProcessPortTypePartnerLinkType">
        <plnk:role name="EvaluacionExAnteSIEMASProcessPortTypeProvider">
            <plnk:portType name="tns:EvaluacionExAnteSIEMASProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
