Banesco_2023/OSB/BanescoServiceBusApp/Commons/business/Bpel/resources/wsdl/CardCrFinancingInqSvc_V1.0.wsdl

<wsdl:definitions name="CardCrFinancingInqSvc_V1.0" targetNamespace="http://xmlns.banesco.com/ProcessService/BPEL_CardCr/CardCrFinancingInqSvc_V1.0" xmlns:tns="http://xmlns.banesco.com/ProcessService/BPEL_CardCr/CardCrFinancingInqSvc_V1.0" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" xmlns:appoptCardCrFinancingInq="http://xmlns.banesco.com/BPEL_CardCr/CardCrFinancingInq_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../../xsd/EO/Status/Status_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/BPEL_CardCr/CardCrFinancingInq_V1.0" schemaLocation="../xsd/CardCrFinancingInq_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrFinancingInqRq">
    <wsdl:part name="CardCrFinancingInqRq" element="appoptCardCrFinancingInq:CardCrFinancingInqRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrFinancingInqRs">
    <wsdl:part name="CardCrFinancingInqRs" element="appoptCardCrFinancingInq:CardCrFinancingInqRs"/>
  </wsdl:message>
  
  <wsdl:portType name="CardCrFinancingInqSvcPort">
    <wsdl:operation name="CardCrFinancingInq">
      <wsdl:input message="tns:CardCrFinancingInqRq"/>
      <wsdl:output message="tns:CardCrFinancingInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CardCrFinancingInqSvc_V1.0SOAP" type="tns:CardCrFinancingInqSvcPort">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CardCrFinancingInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/BPEL_CardCr/CardCrFinancingInq"/>
      <wsdl:input>
        <soap:body use="literal" parts="CardCrFinancingInqRq"/>
        <soap:header message="tns:MsgHdrRq" part="MsgHdrRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="CardCrFinancingInqRs"/>
        <soap:header message="tns:MsgHdrRs" part="MsgHdrRs" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CardCrFinancingInqSvc_V1.0">
    <wsdl:port name="CardCrAppSvc_V1.0SOAP" binding="tns:CardCrFinancingInqSvc_V1.0SOAP">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>