BCIE_fenix/dev/ADF-BPM/bpm/PA04Enmiendas/PA04EnmiendasProcess/SOA/WSDLs/EnmiendasProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EnmiendasProcess" xmlns:tns7="http://xmlns.bcie.org/ObjetoProceso/LAFT/Payload/V1"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/EnmiendasProcess"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EnmiendasProcess">
            <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="oramds:/apps/Resources/BPM/Schema/Comun/Header/V1/HeaderOPN.xsd"/>
            <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/LAFT/Payload/V1" schemaLocation="oramds:/apps/Resources/BPM/Schema/PA04/EnmiendaPayload.xsd"/>
            <xsd:element name="InicioSolicitaEnmienda">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Header" type="tns6:Header"/>
                        <xsd:element name="Config" type="tns7:ConfigGatewaysType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="aprobacionRetornaEnmienda">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="Header" type="tns6:Header"/>
                        <xsd:element name="Config" type="tns7:ConfigGatewaysType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="InicioSolicitaEnmienda">
        <wsdl:part name="parameters" element="tns:InicioSolicitaEnmienda"/>
    </wsdl:message>
    <wsdl:message name="aprobacionRetornaEnmienda">
        <wsdl:part name="parameters" element="tns:aprobacionRetornaEnmienda"/>
    </wsdl:message>
    <wsdl:portType name="EnmiendasProcessPortType">
        <wsdl:operation name="InicioSolicitaEnmienda">
            <wsdl:input message="tns:InicioSolicitaEnmienda"/>
        </wsdl:operation>
        <wsdl:operation name="aprobacionRetornaEnmienda">
            <wsdl:input message="tns:aprobacionRetornaEnmienda"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="EnmiendasProcessPortTypePartnerLinkType">
        <plnk:role name="EnmiendasProcessPortTypeProvider">
            <plnk:portType name="tns:EnmiendasProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
