BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PC02/PreparacionErrorPayload.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:error="http://xmlns.bcie.org/ObjetoProceso/PreparacionError/Payload/V1"
     xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
     targetNamespace="http://xmlns.bcie.org/ObjetoProceso/PreparacionError/Payload/V1" elementFormDefault="qualified"
     attributeFormDefault="unqualified" version="1.0">
    <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="../Comun/Header/V1/HeaderOPN.xsd"/>
    <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" schemaLocation="../Comun/Parameter/V1/ParameterOPN.xsd"/>

    <xs:element name="PreparacionErrorPayloadType" type="error:PreparacionErrorPayloadType"/>
    <xs:complexType name="PreparacionErrorPayloadType">
        <xs:sequence>
            <xs:element name="Header" type="header:Header"/>
            <xs:element name="Configuration" type="error:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="RAROC" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EquipoPayload" type="error:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EquipoEjecucion" type="error:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfigGatewaysType">
        <xs:sequence>
            <xs:element name="retornoAnalisis" type="xs:boolean"/>
            <xs:element name="prescindirPreparacion" type="xs:boolean"/>
            <xs:element name="requierePreparacion" type="xs:boolean"/>
            <xs:element name="requiereHojaTerminosSEPRI" type="xs:boolean"/>
            <xs:element name="requiereProcesoEvaluaciones" type="xs:boolean"/>
            <xs:element name="requiereDeterminarRAROC" type="xs:boolean"/>
            <xs:element name="requiereHojaTerminosPCT" type="xs:boolean"/>
            <xs:element name="requiereOpinionTecnica" type="xs:boolean"/>
            <xs:element name="requiereAnalisisAdquisiciones" type="xs:boolean"/>
            <xs:element name="requiereRevisionComisiones" type="xs:boolean"/>
            <xs:element name="requiereRevisarEvidenciaCumplimientoOPD" type="xs:boolean"/>
            <xs:element name="requiereGenerarPlanMonitoreoOPD" type="xs:boolean"/>
            <xs:element name="requiereElaborarDocumentoTecnicoOPD" type="xs:boolean"/>
            <xs:element name="quienSolicitoAjustes" type="xs:string" minOccurs="0"/>
            <xs:element name="solicitaMasInfoDeterminarRAROC" type="xs:boolean" minOccurs="0"/>
            <xs:element name="solicitaMasInfoHojaTerminosPCT" type="xs:boolean" minOccurs="0"/>
            <xs:element name="solicitaMasInfoOpinionTecnica" type="xs:boolean" minOccurs="0"/>
            <xs:element name="solicitaMasInfoAnalisisAdquisiciones" type="xs:boolean" minOccurs="0"/>
            <xs:element name="solicitaMasInfoRevisionComisiones" type="xs:boolean" minOccurs="0"/>
            <xs:element name="solicitaMasInfoEnviarOperAnalisis" type="xs:boolean" minOccurs="0"/>
            <xs:element name="solicitaMasInfoElaborarDocumentoTecnicoOPD" type="xs:boolean" minOccurs="0"/>
            <xs:element name="solicitaMasInfoGenerarPlanMonitoreoOPD" type="xs:boolean" minOccurs="0"/>
            <xs:element name="solicitaMasInfoRevisarEvidenciaCumplimientoOPD" type="xs:boolean" minOccurs="0"/>
            <xs:element name="requiereCobroComision" type="xs:boolean" minOccurs="0"/>
            <xs:element name="evaluacionCurso" type="xs:boolean" minOccurs="0"/>
            <xs:element name="requiereLAFT" type="xs:boolean" minOccurs="0"/>
            <xs:element name="existeObjecionVigente" type="xs:boolean" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EquipoPayloadType">
        <xs:sequence>
            <xs:element name="ejecutivoSepri" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="analistaCredito" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ejecutivoPCT" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="especialistaSectorial" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="oficialAdquisiciones" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="analistaCofi" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="economistaOEJ" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="analistaOFIMSA" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="abogadoASJUR" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="control" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
