BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/OnBase/ConsultarDocumentosOnBase/XSD/ConsultarDocumentosOnBase_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultarDocumentosOnBase" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/ConsultarDocumentosOnBase" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_ID_OPERACION" type="string" db:index="1" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="P_IDCLIENTE" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_TIPODOCUMENTO" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_IDTAREA" type="decimal" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_INSTANCIAPROCESO" type="string" db:index="5" db:type="CHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="F_CONSULTA_ON_BASE" type="db:T_ONBASE" db:index="0" db:type="Array" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="T_CON_ONBASE1">
      <sequence>
         <element name="ETAPA" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_TIPO_DOCUMENTO" type="db:string255" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ID_DOCUMENTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ID_TIPO_DOCUMENTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="CODIGO_DOCUMENTO" type="db:string55" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ID_ONBASE" type="db:string250" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ID_OPERACION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ID_PRODUCTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ID_PAIS" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="FILENAME" type="db:string500" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="MIME_TYPE" type="db:string120" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="TAMANIO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ID_ADJUNTO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="ES_JUSTIFICACION" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="COMENTARIO" type="db:string1024" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="FECHA_DOCUMENTO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="FECHA_REGISTRO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="TAREA" type="db:string256" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ID_TAREA" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
         <element name="PUEDE_MODIFICAR" type="string" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="PUEDE_BORRAR" type="string" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="ITEMTYPEGROUPNAME" type="db:string250" db:type="CHAR" minOccurs="0" nillable="true"/>
         <element name="ITEMTYPEGROUPNUM" type="int" db:type="INTEGER" minOccurs="0" nillable="true"/>
         <element name="ITEMTYPENAME" type="db:string250" db:type="CHAR" minOccurs="0" nillable="true"/>
         <element name="ITEMNUM" type="int" db:type="INTEGER" minOccurs="0" nillable="true"/>
         <element name="ITEMTYPENUM" type="int" db:type="INTEGER" minOccurs="0" nillable="true"/>
         <element name="ITEMNAME" type="db:string255" db:type="CHAR" minOccurs="0" nillable="true"/>
         <element name="STATUS" type="int" db:type="INTEGER" minOccurs="0" nillable="true"/>
         <element name="ITEMDATE" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="DATESTORED" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="EPDOCID" type="int" db:type="INTEGER" minOccurs="0" nillable="true"/>
         <element name="SECURITYKW" type="db:string250" db:type="CHAR" minOccurs="0" nillable="true"/>
         <element name="PAIS" type="db:string250" db:type="CHAR" minOccurs="0" nillable="true"/>
         <element name="LINEA_CREDITO" type="db:string250" db:type="CHAR" minOccurs="0" nillable="true"/>
         <element name="NOMBRE" type="db:string500" db:type="CHAR" minOccurs="0" nillable="true"/>
         <element name="NUMERO_DOCUMENTO" type="db:string250" db:type="CHAR" minOccurs="0" nillable="true"/>
         <element name="PERIODO" type="dateTime" db:type="DATE" minOccurs="0" nillable="true"/>
         <element name="RESUMEN" type="db:string250" db:type="CHAR" minOccurs="0" nillable="true"/>
         <element name="TIPO" type="db:string250" db:type="CHAR" minOccurs="0" nillable="true"/>
         <element name="CODIGO_INTERVENCION" type="db:string250" db:type="CHAR" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_USUARIO_CREA" type="db:string250" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="NOMBRE_USUARIO_MODIFICA" type="db:string250" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
          <element name="IDFLUJONEGOCIO" type="decimal" db:type="NUMBER" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="T_ONBASE">
      <sequence>
         <element name="F_CONSULTA_ON_BASE_ITEM" type="db:T_CON_ONBASE1" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string255">
      <restriction base="string">
         <maxLength value="255"/>
      </restriction>
   </simpleType>
   <simpleType name="string55">
      <restriction base="string">
         <maxLength value="55"/>
      </restriction>
   </simpleType>
   <simpleType name="string250">
      <restriction base="string">
         <maxLength value="250"/>
      </restriction>
   </simpleType>
   <simpleType name="string120">
      <restriction base="string">
         <maxLength value="120"/>
      </restriction>
   </simpleType>
   <simpleType name="string80">
      <restriction base="string">
         <maxLength value="80"/>
      </restriction>
   </simpleType>
   <simpleType name="string1024">
      <restriction base="string">
         <maxLength value="1024"/>
      </restriction>
   </simpleType>
   <simpleType name="string256">
      <restriction base="string">
         <maxLength value="256"/>
      </restriction>
   </simpleType>
   <simpleType name="string500">
      <restriction base="string">
         <maxLength value="500"/>
      </restriction>
   </simpleType>
</schema>
