AG_2019/SOA/FindItemByImageProcess/SOA/Schemas/BusinessAreas/Core/Supplier/VendorCommonSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Core/Supplier/Commons/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Core/Supplier/Commons/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="../../../Commons/CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:complexType name="ManufacturerType">
      <xs:annotation>
         <xs:documentation>from EAN.UCC</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Manufacturer">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: GLN (or AlternatePartyIdenfication)
                        identifying the manufacturer of a trade item. May or may not be the brand
                        owner, could be a contract manufacturer. GLN (or
                        AlternatePartyIdentification) identifying manufacturer of a trade item: this
                        is repeatable field. Examples: Brand owner A uses contract manufacturers B
                        and C to produce trade item D. This field would provide a GLN (or
                        AlternatePartyIdentification) for manufacturers B and or
                        C</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="xs:string">
                     <xs:attribute name="TypeCode" type="ManufacturerTypeCode" use="required"/>
                  </xs:extension>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element maxOccurs="unbounded" minOccurs="0" name="Name">
            <xs:annotation>
               <xs:documentation>EAN.UCC Definition: Descriptive name of the manufacturer of
                        the trade item. Business Rules: May or may not be the brand owner. This is
                        not the name of a party that assembles trade item. It is an optional field,
                        manually maintained, that can identify the company that  manufactures the
                        product. This is a repeatable field. </xs:documentation>
            </xs:annotation>
            <xs:simpleType>
               <xs:restriction base="xs:string">
                  <xs:minLength value="1"/>
                  <xs:maxLength value="35"/>
               </xs:restriction>
            </xs:simpleType>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
