Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Account/AcctTrnAddAdvInq/AcctTrnAddAdvInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctTrnAddAdvInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcctTrnAddAdvInq="http://xmlns.banesco.com/eopt/AcctTrnAddAdvInq_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:element name="AcctTrnAddAdvTTInqRq" type="eoptAcctTrnAddAdvInq:AcctTrnAddAdvInqRq_Type"/>
	<xs:complexType name="AcctTrnAddAdvInqRq_Type">
		<xs:sequence>
			<xs:element name="Id" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ID del FUNDS.TRANSFER</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctTrnAddAdvFTInqRq" type="eoptAcctTrnAddAdvInq:AcctTrnAddAdvInqRq_Type"/>
	<xs:element name="AcctTrnAddAdvFTInqRs" type="eoptAcctTrnAddAdvInq:AcctTrnAddAdvInqRs_Type"/>
	<xs:element name="AcctTrnAddAdvTTInqRs" type="eoptAcctTrnAddAdvInq:AcctTrnAddAdvInqRs_Type"/>
	<xs:element name="AcctTrnAddAdvACRInqRq" type="eoptAcctTrnAddAdvInq:AcctTrnAddAdvInqRq_Type"/>
	<xs:element name="AcctTrnAddAdvACRInqRs" type="eoptAcctTrnAddAdvInq:AcctTrnAddAdvInqRs_Type"/>
	<xs:complexType name="AcctTrnAddAdvInqRs_Type">
		<xs:sequence>
			<xs:element name="AcctStatus" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Estado de la Cuenta  (A=Activo, C=Cancelado, I=Inactivo, etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailAmt" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Saldo Disponible de la Cuenta Origen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailAmtSign" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Signo del Saldo Disponible  (+= Positivo, -= Negativo)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BankDes" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Banco destino</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BillerId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Referencia de Pago Servicio 1</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchRegion" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Región Sucursal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CashAmt" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto Efectivo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Channel" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Canal o Medio donde se origino la Transacción</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkBookFinalNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número final de chequera</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkBookInitialNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número inicial de chequera</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkBookType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica que tipo de Chequera </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkNumber" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de documento del cheque</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkOtherAmt" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto Cheque ajeno</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkPropAmt" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto de Cheque propio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CompensationDt" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de Compensación</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerIdDes" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cod Cliente/RIM Destino</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerIdOr" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código interno Origen que identifica al Cliente en la Institución</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerNameDes" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre Cliente Titular Cta Destino</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerNameOr" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre Completo del Cliente Titular de la Cuenta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CustomerSince" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de Vinculación del cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebitCredit" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Débito o Crédito</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Email" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Correo Electrónico o Email del Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployeeAcctDes" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag Empleado Cta Destino</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployeeAcctOr" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag que identifica si la Cuenta Origen de la Transacción es una Cuenta de Empleado  (S= Si, N= No)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EmployeeId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Id Empleado RUT, NIT, RFC</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EntityCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Entidad/Compañia</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FlagVip" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Flag que Identifica si la Cuenta es una Cuenta Calificada como VIP.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="HousePhone" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Teléfono de la Residencia del Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastMovDt" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha Ultimo Movimiento Cuenta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MessageType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Mensaje</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OfficePhone" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Teléfono de la Oficina o lugar de Trabajo del Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenAcctDate" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha cuando se Aperturo la Cuenta Origen</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenBranchDes" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sucursal Apertura Cuenta Destino</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenBranchOr" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Agencia, Oficina o Sucursal donde se aperturo la Cuenta Origen.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OtherPhone" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Teléfono del Celular u Otro del Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OverdueAmt" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto Sobregiro Autorizado</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OverdueIndicator" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicador de Sobregiro</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonAddr" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Dirección Completa del domicilio del Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonalId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Identificación Personal del Cliente (Cédula, Pasaporte, NIT, RUT,etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonalIdDes" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Id. Cliente Destino</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PersonType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Persona</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProdTypeDes" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo Producto destino</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProductCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código que identifica cual es el producto asociado a la Cuenta de la Transacción</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RecordStatus" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reverso.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ResponseCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Respuesta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Segment" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de Segmentación Institucional de los Clientes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SerProvId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Referencia de Pago Servicio 3</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ServName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Referencia de Pago Servicio 2</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SubProdCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código que identifica una sub agrupación del Producto.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SvcPaymentType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo Pago de Servicio</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TransferKey" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Clave Transf Interbancaria</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnAccountDes" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Cuenta Destino</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnAccountOr" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de la Cuenta que Originó la Transacción.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnBranch" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Oficina Receptora de TXN (Solo cuando es ACH)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnCurrency" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Moneda Txn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnDate" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de la Realización de la Transacción en formato AAAAMMDD</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnRef" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Numero de Referencia de la Operación.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnTime" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Hora de la Realización de la Transacción en formato HHMMSS</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TxnTotalAmt" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto Total Txn</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="UserType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código que nos indica que Tipo de Usuario es (Administrador, Supervisor, Cajero, etc.)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
