Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/TELERED/resources/wsdl/pasarelaWSLocal.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?><wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://dto.eis.pasarela.hubpagos.bytesw.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://dto.eis.pasarela.hubpagos.bytesw.com" targetNamespace="http://dto.eis.pasarela.hubpagos.bytesw.com">
    <wsdl:types>
        <xs:schema xmlns:tns="http://dto.eis.pasarela.hubpagos.bytesw.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://dto.eis.pasarela.hubpagos.bytesw.com/" version="1.0">
<!-- GET_SESSION 
-->
            <xs:element name="GetSessionRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="canal" type="tns:stringRequiredTwo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetSessionResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="error" nillable="true" type="tns:error"/>
                        <xs:element name="sesionId" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

<!-- GET_BILLERS 
-->
            <xs:element name="GetBillersRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sesionId" type="tns:stringRequiredForty"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetBillersResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="error" nillable="true" type="tns:error"/>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="cobranzas" nillable="true" type="tns:cobranza"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

<!-- GET_BALANCE 
-->
            <xs:element name="GetBalanceRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sesionId" type="tns:stringRequiredForty"/>
                        <xs:element name="facturador" nillable="false" type="xs:int"/>
                        <xs:element name="cobranza" nillable="false" type="xs:int"/>
                        <xs:element name="servicio" nillable="false" type="xs:int"/>
                        <xs:element name="idTrxColector" nillable="false" type="xs:long"/>
                        <xs:element name="idConsulta" type="tns:stringRequiredForty"/>
                        <xs:element name="camposCobranza" nillable="false" type="tns:camposCobranza"/>
                        <xs:element name="codigoIdioma" nillable="true" type="tns:stringTwo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="GetBalanceResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="error" nillable="true" type="tns:error"/>
                        <xs:element name="camposCobranza" nillable="true" type="tns:camposCobranza"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

<!-- PAYBILL 
-->
            <xs:element name="PayBillRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="sesionId" type="tns:stringRequiredForty"/>
                        <xs:element name="facturador" nillable="false" type="xs:int"/>
                        <xs:element name="cobranza" nillable="false" type="xs:int"/>
                        <xs:element name="servicio" nillable="false" type="xs:int"/>
                        <xs:element name="idTrxColector" nillable="false" type="xs:long"/>
                        <xs:element name="camposCobranza" nillable="false" type="tns:camposCobranza"/>
                        <xs:element name="subTotal" nillable="false" type="xs:decimal"/>
                        <xs:element name="impuestos" nillable="false" type="xs:decimal"/>
                        <xs:element name="total" nillable="false" type="xs:decimal"/>
                        <xs:element name="autorizacionDebitoColector" nillable="false" type="xs:long"/>
                        <xs:element name="idPago" type="tns:stringRequiredForty"/>
                        <xs:element name="moneda" type="tns:stringRequiredThree"/>
                        <xs:element name="numeroCuenta" nillable="true" type="xs:integer"/>
                        <xs:element name="producto" nillable="true" type="xs:int"/>
                        <xs:element name="codigoIdioma" nillable="true" type="tns:stringTwo"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="PayBillResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="error" nillable="true" type="tns:error"/>
                        <xs:element name="autorizacionFacturador" nillable="true" type="xs:string"/>
                        <xs:element name="camposCobranza" nillable="true" type="tns:camposCobranza"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>

<!-- COMMONS 
-->
            <xs:simpleType name="stringTwo">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="stringRequiredTwo">
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="2"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="stringRequiredThree">
                <xs:restriction base="xs:string">
                    <xs:minLength value="3"/>
                    <xs:maxLength value="3"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="stringRequiredForty">
                <xs:restriction base="xs:string">
                    <xs:minLength value="1"/>
                    <xs:maxLength value="40"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name="stringForty">
                <xs:restriction base="xs:string">
                    <xs:maxLength value="40"/>
                </xs:restriction>
            </xs:simpleType>
            <xs:complexType name="error">
                <xs:sequence>
                    <xs:element name="codigo" nillable="true" type="xs:int"/>
                    <xs:element name="descripcion" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="cobranza">
                <xs:sequence>
                    <xs:element name="codigo" nillable="true" type="xs:int"/>
                    <xs:element name="nombre" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name="camposCobranza">
                <xs:sequence>
                    <xs:element name="campo1" nillable="true" type="xs:string"/>
                    <xs:element name="campo2" nillable="true" type="xs:string"/>
                    <xs:element name="campo3" nillable="true" type="xs:string"/>
                    <xs:element name="campo4" nillable="true" type="xs:string"/>
                    <xs:element name="campo5" nillable="true" type="xs:string"/>
                    <xs:element name="campo6" nillable="true" type="xs:string"/>
                    <xs:element name="campo7" nillable="true" type="xs:string"/>
                    <xs:element name="campo8" nillable="true" type="xs:string"/>
                    <xs:element name="campo9" nillable="true" type="xs:string"/>
                    <xs:element name="campo10" nillable="true" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="GetSessionRequest">
        <wsdl:part element="sch:GetSessionRequest" name="GetSessionRequest"/>
    </wsdl:message>
    <wsdl:message name="GetSessionResponse">
        <wsdl:part element="sch:GetSessionResponse" name="GetSessionResponse"/>
    </wsdl:message>
    <wsdl:message name="GetBillersRequest">
        <wsdl:part element="sch:GetBillersRequest" name="GetBillersRequest"/>
    </wsdl:message>
    <wsdl:message name="GetBillersResponse">
        <wsdl:part element="sch:GetBillersResponse" name="GetBillersResponse"/>
    </wsdl:message>
    <wsdl:message name="GetBalanceRequest">
        <wsdl:part element="sch:GetBalanceRequest" name="GetBalanceRequest"/>
    </wsdl:message>
    <wsdl:message name="GetBalanceResponse">
        <wsdl:part element="sch:GetBalanceResponse" name="GetBalanceResponse"/>
    </wsdl:message>
    <wsdl:message name="PayBillRequest">
        <wsdl:part element="sch:PayBillRequest" name="PayBillRequest"/>
    </wsdl:message>
    <wsdl:message name="PayBillResponse">
        <wsdl:part element="sch:PayBillResponse" name="PayBillResponse"/>
    </wsdl:message>
    <wsdl:portType name="PasarelaEndpoint">
        <wsdl:operation name="GetSession">
            <wsdl:input message="tns:GetSessionRequest" name="GetSessionRequest"/>
            <wsdl:output message="tns:GetSessionResponse" name="GetSessionResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetBillers">
            <wsdl:input message="tns:GetBillersRequest" name="GetBillersRequest"/>
            <wsdl:output message="tns:GetBillersResponse" name="GetBillersResponse"/>
        </wsdl:operation>
        <wsdl:operation name="GetBalance">
            <wsdl:input message="tns:GetBalanceRequest" name="GetBalanceRequest"/>
            <wsdl:output message="tns:GetBalanceResponse" name="GetBalanceResponse"/>
        </wsdl:operation>
        <wsdl:operation name="PayBill">
            <wsdl:input message="tns:PayBillRequest" name="PayBillRequest"/>
            <wsdl:output message="tns:PayBillResponse" name="PayBillResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="PasarelaEndpointSoap11" type="tns:PasarelaEndpoint">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetSession">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetSessionRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetSessionResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetBillers">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetBillersRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetBillersResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="GetBalance">
            <soap:operation soapAction=""/>
            <wsdl:input name="GetBalanceRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="GetBalanceResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="PayBill">
            <soap:operation soapAction=""/>
            <wsdl:input name="PayBillRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="PayBillResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="PasarelaEndpointService">
        <wsdl:port binding="tns:PasarelaEndpointSoap11" name="PasarelaEndpointSoap11">
            <soap:address location="http://172.30.2.36:8011/v7/PasarelaWS"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>