BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ConsultarUsuarioReunion/XSD/ConsultarUsuarioReunion_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarUsuarioReunion_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarUsuarioReunion_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarUsuarioReunion_DBInput" type="ConsultarUsuarioReunion_DBInput"/>
   <xs:complexType name="ConsultarUsuarioReunion_DBInput">
      <xs:sequence>
         <xs:element name="idUsuarioReunion" type="xs:string" nillable="true"/>
         <xs:element name="idSolicitudAprobacion" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarUsuarioReunion_DBOutputCollection" type="ConsultarUsuarioReunion_DBOutputCollection"/>
   <xs:complexType name="ConsultarUsuarioReunion_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarUsuarioReunion_DBOutput" type="ConsultarUsuarioReunion_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarUsuarioReunion_DBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_SOLICITUD_APROBACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_ROL" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_ROL" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_ROL" type="xs:string" nillable="true"/>
         <xs:element name="LOGIN_USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="EMITE_VOTO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_NIVEL_APROBACION" type="xs:decimal"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>