AG_2019/SOA/PriceChangeSave/SOA/Schemas/ExportDetailDb.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ExportDetailDb" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ExportDetailDb" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ExportDetailDbInput" type="ExportDetailDbInput"/>
   <xs:complexType name="ExportDetailDbInput">
      <xs:sequence>
         <xs:element name="id" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ExportDetailDbOutputCollection" type="ExportDetailDbOutputCollection"/>
   <xs:complexType name="ExportDetailDbOutputCollection">
      <xs:sequence>
         <xs:element name="ExportDetailDbOutput" type="ExportDetailDbOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ExportDetailDbOutput">
      <xs:sequence>
         <xs:element name="PC_EXPORT_ID" type="xs:decimal" nillable="true"/>
         <xs:element name="STYLE" type="xs:string" nillable="true"/>
         <xs:element name="SKU" type="xs:string" nillable="true"/>
         <xs:element name="SUPPLIER" type="xs:decimal" nillable="true"/>
         <xs:element name="STORE" type="xs:decimal" nillable="true"/>
         <xs:element name="SELL_PRICE" type="xs:decimal" nillable="true"/>
         <xs:element name="PCT_CHANGE" type="xs:decimal" nillable="true"/>
         <xs:element name="AMT_CHANGE" type="xs:decimal" nillable="true"/>
         <xs:element name="STATUS" type="xs:string" nillable="true"/>
         <xs:element name="ERR_MSG" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
