AG_2019/SOA/PriceChangeSave/SOA/Schemas/SaveMDMPriceChangeEventDB_table.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/SaveMDMPriceChangeEventDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/SaveMDMPriceChangeEventDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="PrcEventsCollection" type="PrcEventsCollection"/>
   <xs:complexType name="PrcEventsCollection">
      <xs:sequence>
         <xs:element name="PrcEvents" type="PrcEvents" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="PrcEvents">
      <xs:sequence>
         <xs:element name="id" type="xs:long"/>
         <xs:element name="statusCode" type="string6" minOccurs="0"/>
         <xs:element name="exportFlag" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string6">
      <xs:restriction base="xs:string">
         <xs:maxLength value="6"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
