AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/SeasonAPP/SeasonService/Resources/DBSeasonRMS_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/DBSeasonRMS" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/DBSeasonRMS" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxSoaSeasonsVwCollection" type="XxSoaSeasonsVwCollection"/>
   <xs:complexType name="XxSoaSeasonsVwCollection">
      <xs:sequence>
         <xs:element name="XxSoaSeasonsVw" type="XxSoaSeasonsVw" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxSoaSeasonsVw">
      <xs:sequence>
         <xs:element name="seasonId" type="xs:int"/>
         <xs:element name="seasonDesc" type="string120" minOccurs="0"/>
         <xs:element name="seasonStartDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="seasonEndDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="phaseId" type="xs:int"/>
         <xs:element name="phaseDesc" type="string120" minOccurs="0"/>
         <xs:element name="phaseStartDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="phaseEndDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="lastUpdateDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="DBSeasonRMSSelect_dateInputParameters" type="DBSeasonRMSSelect_date"/>
   <xs:complexType name="DBSeasonRMSSelect_date">
      <xs:sequence>
         <xs:element name="date" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>