AG_2019/OSB/OSB_PRD_Almacenes/Capabilities/Core/Supplier/SupplierEntitySvc/Schema/TranslateSupplierTaskActionSchema.xsd

<xs:schema targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Suppliers/TranslateSupplierTaskAction" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Capabilities/Core/Suppliers/TranslateSupplierTaskAction" xmlns:supp="http://mx.agarcia.ea/Canonical/Commons/Suppliers/v1" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader">
  <xs:import schemaLocation="../../../../Foundation/Schemas/Commons/SupplierCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Suppliers/v1"/>
  <xs:element name="translateRequest" type="base:translateIn"/>
  <xs:element name="translateResponse" type="base:translateOut"/>
  <xs:complexType name="translateIn">
    <xs:sequence>
      <xs:element name="pId" type="xs:integer"/>
      <xs:element name="pAppCode" type="xs:string"/>
      <xs:element name="pPrimaryAppCode" type="xs:string"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="translateOut">
    <xs:sequence>
      <xs:element name="suppliersList" type="supp:SupplierList"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>