BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Condicion/ConsultarValidacionCondicionByIdCondicion/XSD/ConsultarValidacionCondicionByIdCondicion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarValidacionCondicionByIdCondicion"
           xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarValidacionCondicionByIdCondicion"
           elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ConsultarValidacionCondicionByIdCondicionInput"
              type="ConsultarValidacionCondicionByIdCondicionInput"/>
  <xs:complexType name="ConsultarValidacionCondicionByIdCondicionInput">
    <xs:sequence>
      <xs:element name="idCondicion" type="xs:int" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ConsultarValidacionCondicionByIdCondicionOutputCollection"
              type="ConsultarValidacionCondicionByIdCondicionOutputCollection"/>
  <xs:complexType name="ConsultarValidacionCondicionByIdCondicionOutputCollection">
    <xs:sequence>
      <xs:element name="ConsultarValidacionCondicionByIdCondicionOutput"
                  type="ConsultarValidacionCondicionByIdCondicionOutput" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConsultarValidacionCondicionByIdCondicionOutput">
    <xs:sequence>
      <xs:element name="ID_TCA_ROL_BPM" type="xs:decimal" nillable="true"/>
      <xs:element name="ID_CONDICION" type="xs:decimal" nillable="true"/>
      <xs:element name="ES_VALIDADOR" type="xs:decimal" nillable="true"/>
      <xs:element name="ESTADO" type="xs:decimal" nillable="true"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>