BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ValidarEnProcesoExcepcion/XSD/ValidarEnProcesoExcepcion_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ValidarEnProcesoExcepcion_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ValidarEnProcesoExcepcion_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ValidarEnProcesoExcepcion_DBInput" type="ValidarEnProcesoExcepcion_DBInput"/>
   <xs:complexType name="ValidarEnProcesoExcepcion_DBInput">
      <xs:sequence>
         <xs:element name="idSolicitud" type="xs:int" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ValidarEnProcesoExcepcion_DBOutputCollection" type="ValidarEnProcesoExcepcion_DBOutputCollection"/>
   <xs:complexType name="ValidarEnProcesoExcepcion_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ValidarEnProcesoExcepcion_DBOutput" type="ValidarEnProcesoExcepcion_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ValidarEnProcesoExcepcion_DBOutput">
      <xs:sequence>
         <xs:element name="ENPROCESO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>