Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBCardCr/CardCrRwdPtsInq/CardCrRwdPtsInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrRwdPtsInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptCardCrRwdPtsInq="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrRwdPtsInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="CardCrRwdPtsInqRs" type="appoptCardCrRwdPtsInq:CardCrRwdPtsInqRs_Type"/>
	<xs:complexType name="Agency">
		<xs:annotation>
			<xs:documentation>Agency Especification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgencyIdent" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agencia o sucursal donde se realiza la operación</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="appoptCardCrRwdPtsInq:Identification">
				<xs:sequence>
					<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Código del cliente asignado por T24.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="CardCrRwdPtsInqRq_Type">
		<xs:sequence>
			<xs:element name="CardKey" type="appoptCardCrRwdPtsInq:CardKey" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FIData" type="appoptCardCrRwdPtsInq:FIData" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyKey" type="appoptCardCrRwdPtsInq:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identification">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="IssuedIdentType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de identificación.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de identificación</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Trn">
		<xs:annotation>
			<xs:documentation>The Trn object supports the inquiry of transaction data for all financial transactions of an account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripción de la transacción de puntos.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrigDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha correspondiente a la transacción de puntos.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PointsEarned" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Puntos ganados en la transacción.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PointsRedeemed" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Puntos redimidos en la transacción.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LoyaltyProgram">
		<xs:annotation>
			<xs:documentation>Programa de lealtad. (Puntos)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PeriodPointsEarned" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Puntos ganados desde el estado de cuenta anterior a la fecha.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PeriodPointsRedeemed" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Puntos redimidos o canjeados desde el estado de cuenta anterior a la fecha.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrevBalance" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Saldo de puntos al corte de estado de cuenta anterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalPoints" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total de puntos disponibles que tiene el cliente para redimir</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>Party is a person or organization. A Party typically has some association with an account and fulfills roles such as:

a primary or partial ownership/responsibility for an account
a beneficiary of an account
has signatory authorization on an account
has legal authorization, such as power of attorney, for an account
A Party can have relationships to accounts, cards and other parties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyKey" type="appoptCardCrRwdPtsInq:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardKey">
		<xs:annotation>
			<xs:documentation>The Card Object supports the services related to Issuing, Management, and Servicing of Credit, Debit, Prepaid and Private Label cards.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardNum" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation> Número asignado a la tarjeta de crédito.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardCrRwdPtsInqRs_Type">
		<xs:sequence>
			<xs:element name="Card" type="appoptCardCrRwdPtsInq:Card" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIData" type="appoptCardCrRwdPtsInq:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Party" type="appoptCardCrRwdPtsInq:Party" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PersonName" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Trn" type="appoptCardCrRwdPtsInq:Trn" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Card">
		<xs:sequence>
			<xs:element name="CardKey" type="appoptCardCrRwdPtsInq:CardKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LoyaltyProgram" type="appoptCardCrRwdPtsInq:LoyaltyProgram" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardCrRwdPtsInqRq" type="appoptCardCrRwdPtsInq:CardCrRwdPtsInqRq_Type"/>
	<xs:complexType name="FIData">
		<xs:annotation>
			<xs:documentation>The Financial Institution Data Aggregate contains additional information used to identify a bank, typically when used for payment transfers, payee requests, and wire transfers. It is required in CHE, DEU, and ITA to completely identify an account. Sufficient information must be provided within this aggregate to uniquely identify the bank at which the account is held. Failure to do so will result in an error being returned from the server.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FIIdent" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de la Institución financiera que hace la solicitud</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Agency" type="appoptCardCrRwdPtsInq:Agency" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonName">
		<xs:annotation>
			<xs:documentation> Nombre del cliente.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Full Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
