AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/EBO/Item/ItemEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Item" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Item" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom">
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Common" schemaLocation="../../Common/CommonComponents.xsd"/>
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Custom" schemaLocation="../../Custom/EBO/CustomItemEBO.xsd"/>
  <xsd:complexType name="ItemEBOType">
    <xsd:sequence>
      <xsd:element name="Identification" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="Name" type="com:ObjectNameType" minOccurs="0"/>
      <xsd:element name="ClassificationCode" type="com:CodeType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="SKU" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Identification" type="com:IdentificationType" minOccurs="0"/>
            <xsd:element name="Description" type="com:TextType" minOccurs="0"/>
            <xsd:element name="Cost" type="com:TextType" minOccurs="0"/>
            <xsd:element name="Price" type="com:TextType" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Department" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="Class" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="SubClass" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="Image" type="com:TextType" minOccurs="0"/>
      <xsd:element name="Catalogs" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Identification" type="com:IdentificationType" minOccurs="0"/>
            <xsd:element name="Family" type="com:TextType" minOccurs="0"/>
            <xsd:element name="Furnishing" type="com:TextType" minOccurs="0"/>
            <xsd:element name="Expiration" type="com:TextType" minOccurs="0"/>
            <xsd:element name="WeekFloorSale" type="com:TextType" minOccurs="0"/>
            <xsd:element name="Classification" type="com:TextType" minOccurs="0"/>
            <xsd:element name="Priority" type="com:TextType" minOccurs="0"/>
            <xsd:element name="Sticker" type="com:TextType" minOccurs="0"/>
            <xsd:element name="Concept" type="com:TextType" minOccurs="0"/>
            <xsd:element name="Consumer" type="com:TextType" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Detail" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Identification" type="com:IdentificationType" minOccurs="0"/>
            <xsd:element name="ColorGroup" type="com:TextType" minOccurs="0"/>
            <xsd:element name="SizeGroup" type="com:TextType" minOccurs="0"/>
            <xsd:element name="Colors" type="com:TextType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="Sizes" type="com:TextType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Status" type="com:StatusType" minOccurs="0"/>
      <xsd:element name="Supplier" type="com:OrganizationReferenceType" minOccurs="0"/>
      <xsd:element name="Season" type="com:TextType" minOccurs="0"/>
      <xsd:element name="Phase" type="com:TextType" minOccurs="0"/>
      <xsd:element name="TypeCode" type="com:CodeType" minOccurs="0"/>
      <xsd:element name="RevisionID" type="com:IdentifierType" minOccurs="0"/>
      <xsd:element name="SerialControlIndicator" type="com:IndicatorType" minOccurs="0"/>
      <xsd:element name="LotControlIndicator" type="com:IndicatorType" minOccurs="0"/>
      <xsd:element name="ServiceIndicator" type="com:IndicatorType" minOccurs="0"/>
      <xsd:element name="DualUOMTrackingIndicator" type="com:IndicatorType" minOccurs="0"/>
      <xsd:element name="UOMConversionUsageCode" type="com:CodeType" minOccurs="0"/>
      <xsd:element name="BaseUOMCode" type="com:CodeType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="SecondaryUOMCode" type="com:CodeType" minOccurs="0"/>
      <xsd:element name="StorageUOMCode" type="com:CodeType" minOccurs="0"/>
      <xsd:element name="ShippingUOMCode" type="com:CodeType" minOccurs="0"/>
      <xsd:element name="Description" type="com:TextType" minOccurs="0"/>
      <xsd:element name="PrimaryClassificationCode" type="com:CodeType" minOccurs="0"/>
      <xsd:element name="Custom" type="cust:CustomItemEBOType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ItemEBO" type="ItemEBOType"/>
</xsd:schema>