Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/T24CardTrnAppSvc/T24CardTrnAppSvc_V1.0.wsdl

<wsdl:definitions name="T24CardTrnAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/T24CardTrnAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/T24CardTrnAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:appoptCardCrCashAdd="http://xmlns.banesco.com/appopt/T24CardTrnAppSvc/CardCrCashAdd_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.banesco.com/eo/Status_V1.0"
                  schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/T24CardTrnAppSvc/CardCrCashAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/T24CardTrn/CardCrCashAdd/CardCrCashAdd_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrCashAddRq">
    <wsdl:part name="CardCrCashAddRq" element="appoptCardCrCashAdd:CardCrCashAddRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrCashAddRs">
    <wsdl:part name="CardCrCashAddRs" element="appoptCardCrCashAdd:CardCrCashAddRs"/>
  </wsdl:message>
  <wsdl:portType name="T24CardTrnAppSvc_V1.0">
    <wsdl:operation name="CardCrCashAdd">
      <wsdl:input message="tns:CardCrCashAddRq"/>
      <wsdl:output message="tns:CardCrCashAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="T24CardTrnAppSvc_V1.0SOAP" type="tns:T24CardTrnAppSvc_V1.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CardCrCashAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/T24CardTrnAppSvc_V1.0/CardCrCashAdd"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="CardCrCashAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="CardCrCashAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="T24CardTrnAppSvc_V1.0">
    <wsdl:port name="T24CardTrnAppSvc_V1.0SOAP" binding="tns:T24CardTrnAppSvc_V1.0SOAP">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
