AG_2019/OSB/OSB_PRD_Almacenes/Applications/RetailMerchandising/RMS/JMSItemConnectivity/Schema/ItemSupCtyDesc.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/ItemSupCtyDesc/v1" xmlns:CustFlexAttriVo="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/ItemSupCtyDesc/v1" version="1.0">
<retailDoc:annotation>
<retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
</retailDoc:annotation>
<xs:element name="ItemSupCtyDesc">
<retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
<xs:complexType>
<xs:sequence>
<xs:element name="item" type="varchar225">
<retailDoc:annotation>
<retailDoc:documentation>Unique identifier for the item.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="supplier" type="varchar210">
<retailDoc:annotation>
<retailDoc:documentation>Unique identifier for the supplier.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="origin_country_id" type="varchar23">
<retailDoc:annotation>
<retailDoc:documentation>The country where the item was manufactured or significantly altered.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="primary_supp_ind" type="varchar23">
<retailDoc:annotation>
<retailDoc:documentation>This field indicates whether this supplier is the primary supplier for the item. Each item can have one and only one primary supplier.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="primary_country_ind" type="varchar21">
<retailDoc:annotation>
<retailDoc:documentation>This field indicates whether this country is the primary country for the item/supplier. Each item/supplier combination can have one and only one primary country.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="unit_cost" type="number20_4">
<retailDoc:annotation>
<retailDoc:documentation>This field contains the current corporate unit cost for the item from the supplier /origin country. This field is stored in the Supplier's currency.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="lead_time" type="number4">
<retailDoc:annotation>
<retailDoc:documentation>This field contains the number of days that will elapse between the date an order is written and the delivery to the store or warehouse from the supplier.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="pickup_lead_time" type="number4">
<retailDoc:annotation>
<retailDoc:documentation>Contains the time that will be taken to get the item from the supplier to the initial receiving location.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="supp_pack_size" type="number12_4">
<retailDoc:annotation>
<retailDoc:documentation>This field contains the quantity that orders must be placed in multiples of for the supplier for the item.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="inner_pack_size" type="number12_4">
<retailDoc:annotation>
<retailDoc:documentation>This field contains the break pack size for this item from the supplier.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="round_lvl" type="varchar26">
<retailDoc:annotation>
<retailDoc:documentation>This column is used to determine how order quantities will be rounded to case, layer and pallet.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="min_order_qty" type="number12_4">
<retailDoc:annotation>
<retailDoc:documentation>This field contains the minimum quantity that can be ordered at one from the supplier for the item.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="max_order_qty" type="number12_4">
<retailDoc:annotation>
<retailDoc:documentation>This field contains the maximum quantity that can be ordered at one from the supplier for the item.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="packing_method" type="varchar26">
<retailDoc:annotation>
<retailDoc:documentation>This field indicates whether the packing method for the item in the container is flat or hanging.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="default_uop" type="varchar26">
<retailDoc:annotation>
<retailDoc:documentation>Contains the default unit of purchase for the item/supplier/country. Valid values include  'C'ase and 'P'allet.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="ti" type="number12_4">
<retailDoc:annotation>
<retailDoc:documentation>Number of shipping units (cases) that make up one tier of the pallet. Multiply TI x HI to get total number of units (cases) in a Pallet.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="hi" type="number12_4">
<retailDoc:annotation>
<retailDoc:documentation>Number of tiers that make up a complete pallet. Multiply TI x HI to get total number of units (cases) in a Pallet.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="cost_uom" type="varchar24">
<retailDoc:annotation>
<retailDoc:documentation>A cost UOM is held to allow costs to be managed in a separate UOM to the standard UOM.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="tolerance_type" type="varchar26">
<retailDoc:annotation>
<retailDoc:documentation>The unit of tolerance for catch weight simple packs. Valid values are: 'A'-actual 'P' - percent.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="max_tolerance" type="number12_4">
<retailDoc:annotation>
<retailDoc:documentation>The maximum tolerance value for the catch weight simple pack.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="min_tolerance" type="number12_4">
<retailDoc:annotation>
<retailDoc:documentation>The minimum tolerance value for a catch weight simple pack</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:simpleType name="varchar210">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="10"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar26">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="6"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar24">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="4"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar23">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="3"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar225">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="25"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar21">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="1"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="number4">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:int">
<xs:totalDigits value="4"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="number20_4">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 4.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:decimal">
<xs:totalDigits value="20"/>
<xs:fractionDigits value="4"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="number12_4">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:decimal">
<xs:totalDigits value="12"/>
<xs:fractionDigits value="4"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>