AG_2019/OSB/OSB_PRD_Almacenes/Applications/RetailMerchandising/RMS/JMSItemConnectivity/Schema/ItemUPCDesc.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/ItemUPCDesc/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/ItemUPCDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<retailDoc:annotation>
<retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
</retailDoc:annotation>
<xs:element name="ItemUPCDesc">
<retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
<xs:complexType>
<xs:sequence>
<xs:element name="item_id" type="varchar225">
<retailDoc:annotation>
<retailDoc:documentation>Unique identifier for the item.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="item_parent" type="varchar225">
<retailDoc:annotation>
<retailDoc:documentation>Unique identifier for the item/group at the level above the item.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="primary_ref_item_ind" type="varchar21">
<retailDoc:annotation>
<retailDoc:documentation>Indicates if the sub-transaction level item is designated as the primary sub-transaction level item. For transaction level items and above, the value in this field will be 'N'o.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="format_id" type="varchar21">
<retailDoc:annotation>
<retailDoc:documentation>This field will hold the format id that corresponds to the item's variable UPC. This value is only used for items with variable UPCs.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="prefix" type="number2">
<retailDoc:annotation>
<retailDoc:documentation>This field holds the prefix for variable weight UPCs. The prefix determines the format of the eventual UPC and will be used to decode variable weight UPCs that are uploaded from the POS.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="item_number_type" type="varchar26">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a number of digits count umber_type.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:simpleType name="varchar225">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="25"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar26">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="6"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="number2">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a number of digits count 2.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:int">
<xs:totalDigits value="2"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar21">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="1"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>