Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Card/CardAcctRelInq/CardAcctRelInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/CardAcctRelInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptCardAcctRelInq="http://xmlns.banesco.com/eopt/CardAcctRelInq_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoBank="http://xmlns.banesco.com/eo/Banking_V1.0" xmlns:eoCard="http://xmlns.banesco.com/eo/Card_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" xmlns:eoCardAcctRel="http://xmlns.banesco.com/eo/CardAcctRel_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/CardAcctRel_V1.0" schemaLocation="../../../EO/Card/CardAcctRel_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Card_V1.0" schemaLocation="../../../EO/Card/Card_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Banking_V1.0" schemaLocation="../../../EO/Banking/Banking_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:element name="CardAcctRelInqRq_Type" type="eoptCardAcctRelInq:CardAcctRelInqRq_Type"/>
	<xs:complexType name="CardAcctRelInqRq_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto AcctKey que contiene la información de identificación de la cuenta asociada a la tarjeta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto PartyKey que contiene la identificación del cliente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FIData" type="eoBank:FIData" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto FIData que contiene la información de la institución financiera.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardStatus" type="eoCard:CardStatus" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto CardStatus que contiene información del estatus de la tarjeta a consultar.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardAcctRelInqRs_Type" type="eoptCardAcctRelInq:CardAcctRelInqRs_Type"/>
	<xs:complexType name="CardAcctRelInqRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardAcctRel" type="eoCardAcctRel:CardAcctRel" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Lista del Objeto CardAcctRel con el detalle de las tarjetas.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardAcctRelInqRq" type="eoptCardAcctRelInq:CardAcctRelInqRq_Type"/>
	<xs:element name="CardAcctRelInqRs" type="eoptCardAcctRelInq:CardAcctRelInqRs_Type"/>
</xs:schema>
