BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/GenerarReporteCondicionValidador/XSD/XMLSchema_558377673.xsd

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.10-b140319.1121 svn-revision#7b34660d6bc70e587e8ec81a17e4d76af68816a6. --><xsd:schema targetNamespace="http://service.org.bcie.www/" xmlns:ns1="http://www.bcie.com/Cuestionario/LeerExcel" xmlns:ns0="http://service.org.bcie.www/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"><xsd:import schemaLocation="XMLSchema_347026760.xsd" namespace="http://www.bcie.com/Cuestionario/LeerExcel"/><xsd:complexType name="ReporteValidacionCondicion"><xsd:sequence><xsd:element name="idOperacion" type="xsd:long"/></xsd:sequence></xsd:complexType><xsd:complexType name="ReporteValidacionCondicionResponse"><xsd:sequence><xsd:element name="return" type="xsd:base64Binary" minOccurs="0" nillable="true"/></xsd:sequence></xsd:complexType><xsd:element name="ReporteValidacionCondicion" type="ns0:ReporteValidacionCondicion"/><xsd:element name="IOException" type="ns1:IOException" nillable="true"/><xsd:element name="ReporteValidacionCondicionResponse" type="ns0:ReporteValidacionCondicionResponse"/></xsd:schema>