BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/DominioDesembolso/Desembolso/V1/Wsdl/Desembolso.wsdl

<definitions targetNamespace="http://www.bcie.org/Desembolso" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.bcie.org/Desembolso" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:desMO="http://www.bcie.org/DesembolsoMO">
  <types>
    <xsd:schema targetNamespace="http://www.bcie.org/Desembolso/types" elementFormDefault="qualified">
      <xsd:import namespace="http://www.bcie.org/DesembolsoMO" schemaLocation="../Schema/DesembolsoMO.xsd"/>
    </xsd:schema>
  </types>
  <message name="requestVerificarValidacionAsignacionMessage">
    <part name="request" element="desMO:VerificarValidacionAsignacionRequest"/>
  </message>
  <message name="responseVerificarValidacionAsignacionMessage">
    <part name="response" element="desMO:VerificarValidacionAsignacionResponse"/>
  </message>
  <message name="requestAplicarCompensacionDesembolsoMessage">
    <part name="request" element="desMO:AplicarCompensacionDesembolsoRequest"/>
  </message>
  <message name="responseAplicarCompensacionDesembolsoMessage">
    <part name="response" element="desMO:AplicarCompensacionDesembolsoResponse"/>
  </message>
  <message name="requestPropagarUtilizacionMessage">
    <part name="request" element="desMO:PropagarUtilizacionRequest"/>
  </message>
  <message name="responsePropagarUtilizacionMessage">
    <part name="response" element="desMO:PropagarUtilizacionResponse"/>
  </message>
  <message name="requestConsultarCargoComisionMessage">
    <part name="request" element="desMO:ConsultarCargoComisionRequest"/>
  </message>
  <message name="responseConsultarCargoComisionMessage">
    <part name="response" element="desMO:ConsultarCargoComisionResponse"/>
  </message>
  <message name="requestValidarReglasDesembolsoMessage">
    <part name="request" element="desMO:ValidarReglasDesembolsoRequest"/>
  </message>
  <message name="responseValidarReglasDesembolsoMessage">
    <part name="response" element="desMO:ValidarReglasDesembolsoResponse"/>
  </message>
  <message name="requestConsultarDesembolsoMessage">
    <part name="request" element="desMO:ConsultarDesembolsoBPELRequest"/>
  </message>
  <message name="responseConsultarDesembolsoMessage">
    <part name="response" element="desMO:ConsultarDesembolsoBPELResponse"/>
  </message>
    <message name="requestExceptuarSolicitudMessage">
    <part name="request" element="desMO:ExceptuarSolicitudRequest"/>
  </message>
  <message name="responseExceptuarSolicitudMessage">
    <part name="response" element="desMO:ExceptuarSolicitudResponse"/>
  </message>
  <message name="requestPropagarReservaMessage">
    <part name="request" element="desMO:PropagarReservaRequest"/>
  </message>
  <message name="responsePropagarReservaMessage">
    <part name="response" element="desMO:PropagarReservaResponse"/>
  </message>
  <message name="requestPropagarTransferenciaMessage">
    <part name="request" element="desMO:PropagarTransferenciaRequest"/>
  </message>
  <message name="responsePropagarTransferenciaMessage">
    <part name="response" element="desMO:PropagarTransferenciaResponse"/>
  </message>
  <message name="requestPropagarContratoDesembolsoMessage">
    <part name="request" element="desMO:PropagarContratoDesembolsoRequest"/>
  </message>
  <message name="responsePropagarContratoDesembolsoMessage">
    <part name="response" element="desMO:PropagarContratoDesembolsoResponse"/>
  </message>
  <message name="requestPropagarTransSinSalidaRecursosMessage">
    <part name="request" element="desMO:PropagarTransSinSalidaRecursosRequest"/>
  </message>
  <message name="responsePropagarTransSinSalidaRecursosMessage">
    <part name="response" element="desMO:PropagarTransSinSalidaRecursosResponse"/>
  </message>
  <message name="requestConsultarSaldoMessage">
    <part name="request" element="desMO:ConsultarSaldoRequest"/>
  </message>
  <message name="responseConsultarSaldoMessage">
    <part name="response" element="desMO:ConsultarSaldoResponse"/>
  </message>
  <message name="requestLiquidarContratoMessage">
    <part name="request" element="desMO:EnvioGastoBPELRequest"/>
  </message>
  <message name="responseLiquidarContratoMessage">
    <part name="response" element="desMO:EnvioGastoBPELResponse"/>
  </message>
    <message name="requestActualizarDesembolsoMessage">
        <part name="request" element="desMO:CrearActualizarDesembolsosRequest"/>
    </message>
    <message name="responseActualizarDesembolsoMessage">
        <part name="response" element="desMO:CrearActualizarDesembolsosResponse"/>
    </message>
    <message name="requestGenerarReportePlanAmortizacion">
        <part name="request" element="desMO:GeneraReportePlanAmortizacionRequest"/>
    </message>
    <message name="responseGenerarReportePlanAmortizacion">
        <part name="response" element="desMO:GeneraReportePlanAmortizacionResponse"/>
    </message>
  <message name="requestActualizarEstadoContratoDesembolso">
    <part name="request" element="desMO:ActualizarEstadoContratoDesembolsoRequest"/>
  </message>
  <message name="responseActualizarEstadoContratoDesembolso">
    <part name="response" element="desMO:ActualizarEstadoContratoDesembolsoResponse"/>
  </message>
  <portType name="Desembolso_PT">
    <operation name="AplicarCompensacionDesembolso">
      <input message="tns:requestAplicarCompensacionDesembolsoMessage"/>
      <output message="tns:responseAplicarCompensacionDesembolsoMessage"/>
    </operation>
    <operation name="PropagarUtilizacion">
      <input message="tns:requestPropagarUtilizacionMessage"/>
      <output message="tns:responsePropagarUtilizacionMessage"/>
    </operation>
    <operation name="ConsultarCargoComision">
      <input message="tns:requestConsultarCargoComisionMessage"/>
      <output message="tns:responseConsultarCargoComisionMessage"/>
    </operation>
    <operation name="validarReglasDesembolso">
      <input message="tns:requestValidarReglasDesembolsoMessage"/>
      <output message="tns:responseValidarReglasDesembolsoMessage"/>
    </operation>
    <operation name="consultarDesembolso">
      <input message="tns:requestConsultarDesembolsoMessage"/>
      <output message="tns:responseConsultarDesembolsoMessage"/>
    </operation>
        <operation name="exceptuarSolicitud">
      <input message="tns:requestExceptuarSolicitudMessage"/>
      <output message="tns:responseExceptuarSolicitudMessage"/>
    </operation>
    <operation name="propagarReserva">
      <input message="tns:requestPropagarReservaMessage"/>
      <output message="tns:responsePropagarReservaMessage"/>
    </operation>
    <operation name="propagarTransferencia">
      <input message="tns:requestPropagarTransferenciaMessage"/>
      <output message="tns:responsePropagarTransferenciaMessage"/>
    </operation>
    <operation name="propagarContratoDesembolso">
      <input message="tns:requestPropagarContratoDesembolsoMessage"/>
      <output message="tns:responsePropagarContratoDesembolsoMessage"/>
    </operation>
    <operation name="propagarTransSinSalidaRecursos">
      <input message="tns:requestPropagarTransSinSalidaRecursosMessage"/>
      <output message="tns:responsePropagarTransSinSalidaRecursosMessage"/>
    </operation>
    <operation name="consultarSaldo">
      <input message="tns:requestConsultarSaldoMessage"/>
      <output message="tns:responseConsultarSaldoMessage"/>
    </operation>
    <operation name="liquidarContrato">
      <input message="tns:requestLiquidarContratoMessage"/>
      <output message="tns:responseLiquidarContratoMessage"/>
      </operation>
    <operation name="verificarValidacionAsignacion">
      <input message="tns:requestVerificarValidacionAsignacionMessage"/>
      <output message="tns:responseVerificarValidacionAsignacionMessage"/>
    </operation>
    <operation name="calcularCuotas">
      <input message="tns:requestCalcularCuotasMessage"/>
      <output message="tns:responseCalcularCuotasMessage"/>
    </operation>
        <operation name="actualizarDesembolso">
            <input message="tns:requestActualizarDesembolsoMessage"/>
            <output message="tns:responseActualizarDesembolsoMessage"/>
        </operation>
        <operation name="generarReportePlanAmortizacion">
            <input message="tns:requestGenerarReportePlanAmortizacion"/>
            <output message="tns:responseGenerarReportePlanAmortizacion"/>
        </operation>
    <operation name="actualizarEstadoContratoDesembolso">
      <input message="tns:requestActualizarEstadoContratoDesembolso"/>
      <output message="tns:responseActualizarEstadoContratoDesembolso"/>
    </operation>
  </portType>
  <binding name="Desembolso_PTSOAP12Binding" type="tns:Desembolso_PT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="AplicarCompensacionDesembolso">
            <soap12:operation style="document"
                              soapAction="http://www.bcie.org/Desembolso/AplicarCompensacionDesembolso"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="PropagarUtilizacion">
      <soap12:operation style="document" soapAction="http://www.bcie.org/Desembolso/PropagarUtilizacion"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="ConsultarCargoComision">
      <soap12:operation style="document" soapAction="http://www.bcie.org/Desembolso/ConsultarCargoComision"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="validarReglasDesembolso">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/ValidarReglasDesembolso/validarReglasDesembolso"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="consultarDesembolso">
            <soap12:operation style="document"
                              soapAction="http://www.bcie.org/ConsultarDesembolsoSOR/consultarDesembolso"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
        <operation name="exceptuarSolicitud">
            <soap12:operation style="document"
                              soapAction="http://www.bcie.org/ExceptuarSolicitudSAD/exceptuarSolicitud"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
        <operation name="propagarReserva">
      <soap12:operation style="document" soapAction="http://www.bcie.org/PropagarReservaSOR/propagarReserva"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="propagarTransferencia">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/PropagarTransferenciaSOR/propagarTransferencia"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="propagarContratoDesembolso">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/PropagarContratoDesembolsoSOR/propagarContratoDesembolso"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
      <operation name="propagarTransSinSalidaRecursos">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/PropagarTransSinSalidaRecursosSOR/propagarTransSinSalidaRecursos"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="consultarSaldo">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ConsultarSaldoSAD/consultarSaldo"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="liquidarContrato">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ConsultarSaldoSAD/consultarSaldo"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="verificarValidacionAsignacion">
            <soap12:operation style="document"
                              soapAction="http://www.bcie.org/ConsultarSaldoSAD/verificarValidacionAsignacion"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="calcularCuotas">
      <soap12:operation style="document" soapAction="http://www.bcie.org/calcularCuotasSAD/calcularCuotas"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
        <operation name="actualizarDesembolso">
            <soap12:operation style="document" soapAction="http://www.bcie.org/CrearActualizarDesembolsoSAD/crearActualizarDesembolso"/>
            <input>
                <soap12:body use="literal" parts="request"/>
            </input>
            <output>
                <soap12:body use="literal" parts="response"/>
            </output>
        </operation>
        <operation name="generarReportePlanAmortizacion">
            <soap12:operation style="document" soapAction="http://www.bcie.org/GenerarReportePlanAmortizacionSAD/GenerarReportePlanAmortizacion"/>
            <input>
                <soap12:body use="literal" parts="request"/>
            </input>
            <output>
                <soap12:body use="literal" parts="response"/>
            </output>
        </operation>
    <operation name="actualizarEstadoContratoDesembolso">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/ValidarFechaVencimientoSAD/ActualizarEstadoContratoDesembolso"/>
        <input>
          <soap12:body use="literal" parts="request"/>
        </input>
        <output>
          <soap12:body use="literal" parts="response"/>
        </output>
    </operation>
  </binding>
  <message name="requestCalcularCuotasMessage">
    <part name="request" element="desMO:CalcularCuotasRequest"/>
  </message>
  <message name="responseCalcularCuotasMessage">
    <part name="response" element="desMO:CalcularCuotasResponse"/>
  </message>
  <service name="Desembolso_PTSOAP12BindingQSService" >
    <port name="Desembolso_PTSOAP12BindingQSPort" binding="tns:Desembolso_PTSOAP12Binding">
      <soap12:address location="http://www.example.com"/>
    </port>
  </service>
</definitions>