BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Wsdl/PA11/ImpPCTProcess.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ImplPCTProcess"
                  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/ImplPCTProcess"
                  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
                  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ImplPCTProcess"
                        schemaLocation="../../Schema/PA11/ImpPCTProcess.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="InicioImplementacionPCT">
        <wsdl:part name="parameters" element="tns:InicioImplementacionPCT"/>
    </wsdl:message>
    <wsdl:message name="InicioEnviarGasto">
        <wsdl:part name="parameters" element="tns:InicioEnviarGasto"/>
    </wsdl:message>
    <wsdl:message name="InicioInteresesCobro">
        <wsdl:part name="parameters" element="tns:InicioInteresesCobro"/>
    </wsdl:message>
    <wsdl:message name="FinImplementacionPCT">
        <wsdl:part name="parameters" element="tns:FinImplementacionPCT"/>
    </wsdl:message>
    <wsdl:message name="FinEnviarGasto">
        <wsdl:part name="parameters" element="tns:FinEnviarGasto"/>
    </wsdl:message>
    <wsdl:message name="FinInteresesCobro">
        <wsdl:part name="parameters" element="tns:FinInteresesCobro"/>
    </wsdl:message>
    <wsdl:message name="InicioReasignarImplementacionPCT">
        <wsdl:part name="parameters" element="tns:InicioReasignarImplementacionPCT"/>
    </wsdl:message>
    <wsdl:message name="InicioReasignarEnviarGasto">
        <wsdl:part name="parameters" element="tns:InicioReasignarImplementacionPCT"/>
    </wsdl:message>
    <wsdl:message name="InicioReasignarInteresesCobro">
        <wsdl:part name="parameters" element="tns:InicioReasignarImplementacionPCT"/>
    </wsdl:message>
    <wsdl:message name="InicioCancelarImplementacionPCT">
        <wsdl:part name="parameters" element="tns:InicioCancelarImplementacionPCT"/>
    </wsdl:message>
    <wsdl:portType name="ImplementacionPCTProcessPortType">
        <wsdl:operation name="InicioImplementacionPCT">
            <wsdl:input message="tns:InicioImplementacionPCT"/>
        </wsdl:operation>
        <wsdl:operation name="FinImplementacionPCT">
            <wsdl:input message="tns:FinImplementacionPCT"/>
        </wsdl:operation>
        <wsdl:operation name="InicioReasignarImplementacionPCT">
            <wsdl:input message="tns:InicioReasignarImplementacionPCT"/>
        </wsdl:operation>
        <wsdl:operation name="InicioCancelarImplementacionPCT">
            <wsdl:input message="tns:InicioCancelarImplementacionPCT"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="EnviarGastoProcessPortType">
        <wsdl:operation name="InicioEnviarGasto">
            <wsdl:input message="tns:InicioEnviarGasto"/>
        </wsdl:operation>
        <wsdl:operation name="FinEnviarGasto">
            <wsdl:input message="tns:FinEnviarGasto"/>
        </wsdl:operation>
        <wsdl:operation name="InicioReasignarEnviarGasto">
            <wsdl:input message="tns:InicioReasignarEnviarGasto"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:portType name="InteresesCobroProcessPortType">
        <wsdl:operation name="InicioInteresesCobro">
            <wsdl:input message="tns:InicioInteresesCobro"/>
        </wsdl:operation>
        <wsdl:operation name="FinInteresesCobro">
            <wsdl:input message="tns:FinInteresesCobro"/>
        </wsdl:operation>
        <wsdl:operation name="InicioReasignarInteresesCobro">
            <wsdl:input message="tns:InicioReasignarInteresesCobro"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ImplementacionPCTProcessBinding" type="tns:ImplementacionPCTProcessPortType">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="InicioImplementacionPCT">
            <wsdlsoap:operation style="document" soapAction="InicioImplementacionPCT"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="FinImplementacionPCT">
            <wsdlsoap:operation style="document" soapAction="FinImplementacionPCT"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="InicioReasignarImplementacionPCT">
            <wsdlsoap:operation style="document" soapAction="InicioReasignarImplementacionPCT"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="InicioCancelarImplementacionPCT">
            <wsdlsoap:operation style="document" soapAction="InicioCancelarImplementacionPCT"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="EnviarGastoProcessBinding" type="tns:EnviarGastoProcessPortType">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="InicioEnviarGasto">
            <wsdlsoap:operation style="document" soapAction="InicioEnviarGasto"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="FinEnviarGasto">
            <wsdlsoap:operation style="document" soapAction="FinEnviarGasto"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="InicioReasignarEnviarGasto">
            <wsdlsoap:operation style="document" soapAction="InicioReasignarEnviarGasto"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="InteresesCobroProcessBinding" type="tns:InteresesCobroProcessPortType">
        <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="InicioInteresesCobro">
            <wsdlsoap:operation style="document" soapAction="InicioInteresesCobro"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="FinInteresesCobro">
            <wsdlsoap:operation style="document" soapAction="FinInteresesCobro"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
        <wsdl:operation name="InicioReasignarInteresesCobro">
            <wsdlsoap:operation style="document" soapAction="InicioReasignarInteresesCobro"/>
            <wsdl:input>
                <wsdlsoap:body use="literal"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <plnk:partnerLinkType name="PCTProcessPortTypePartnerLinkType">
        <plnk:role name="PCTProcessPortTypeProvider">
            <plnk:portType name="tns:ImplementacionPCTProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="EnviarGastoProcessPortTypePartnerLinkType">
        <plnk:role name="EnviarGastoProcessPortTypeProvider">
            <plnk:portType name="tns:EnviarGastoProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
    <plnk:partnerLinkType name="InteresesCobroProcessPortTypePartnerLinkType">
        <plnk:role name="InteresesCobroProcessPortTypeProvider">
            <plnk:portType name="tns:InteresesCobroProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>