AG_2019/OSB/OSB_PRD_Almacenes/Applications/JDA/JDACostChange/Resources/JDACreateCostChangeEventWSDL.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Applications/JDA/Items/CostChange/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://mx.agarcia.ea/Applications/JDA/Items/CostChange/v1.0" xmlns:ns1="http://mx.agarcia.ea/Applications/JDA/Items/CostChange" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://mx.agarcia.ea/Applications/JDA/Items/CostChange" schemaLocation="../Schema/JDACreateCostChangeEventSchema.xsd"/>
                        <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
                        <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
		</schema>
	</wsdl:types>

     
	<wsdl:message name="createCostChangeEventRequestMessage">
		<wsdl:part name="payload" element="ns1:createCostChangeEventRequest"/>
	</wsdl:message>

	<wsdl:message name="createCostChangeEventResponseMessage">
		<wsdl:part name="payload" element="ns1:createCostChangeEventResponse"/>
	</wsdl:message>

        <wsdl:message name="standardMessageHeader">
		<wsdl:part name="header" element="AGSH:headerMessage"/>
	</wsdl:message>

        <wsdl:message name="standardMessageHeaderResponse">
		<wsdl:part name="headerRes" element="AGSM:messageResponse"/>
	</wsdl:message>

        <wsdl:message name="standardMessageFault">
    <wsdl:part name="fault" element="AGSM:messageError"/>
  </wsdl:message>
  
  
	<wsdl:portType name="createCostChangeEventPort">
		<wsdl:operation name="create">
			<wsdl:input message="client:createCostChangeEventRequestMessage"/>
			<wsdl:output message="client:createCostChangeEventResponseMessage"/>
                        <wsdl:fault message="client:standardMessageFault" name="fault"/>
		</wsdl:operation>
	</wsdl:portType>

 <wsdl:binding name="createCostChangeEventBinding" type="client:createCostChangeEventPort">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="create">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Applications/JDA/Items/CostChange/v1.0/create"/>
   <wsdl:input>
    <soap:body use="literal" parts="payload"/>
    <soap:header message="client:standardMessageHeader" part="header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="payload"/>
   </wsdl:output>
   <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
   
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>