Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EO/Security/Security_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eo/Security_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoSecurity="http://xmlns.banesco.com/eo/Security_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0">
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../Common/Common_V1.0.xsd"/>
	<xs:complexType name="Session">
		<xs:sequence>
			<xs:element name="SessionDt" type="eoCom:dateTimePattern" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>he calendar date the session was established on the server</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SessionLogin" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identifies the teller, CSR or operator to the server with respect to the session. This may or may not be the same as the teller, CSR or operator permanent ID on the server.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StartSession" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Session Key Requested Indicator. True indicates that the client is requesting a Session Key in the response. False or absent indicates that the client is not requesting a Session Key in the response.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="UsernameToken">
		<xs:sequence>
			<xs:element name="CreationDt" type="eoCom:dateTimePattern" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Nonce" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Password" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Username" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
