Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/DummyPBCargaAppSvc/DummyPBCargaAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="DummyPBCargaAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/DummyPBCargaAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/DummyPBCargaAppSvc_V1.0"
                  xmlns:appoptDummyPBCarga="http://xmlns.banesco.com/appopt/DummyPBCargaAppSvc/DummyPBCarga_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"
                        namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"/>
            <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                        namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
            <xsd:import namespace="http://xmlns.banesco.com/appopt/DummyPBCargaAppSvc/DummyPBCarga_V1.0"
                        schemaLocation="../../../xsd/AppOpt/DummyPBCarga/DummyPBCarga_V1.0.xsd"/>        
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="MsgHdrRq">
        <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
    </wsdl:message>
    <wsdl:message name="MsgHdrRs">
        <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
    </wsdl:message>
    <wsdl:message name="SystemFault">
        <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
    </wsdl:message>
    <wsdl:message name="DummyPBCargaRq">
        <wsdl:part name="DummyPBCargaRq" element="appoptDummyPBCarga:DummyPBCargaRq"/>
    </wsdl:message>
    <wsdl:message name="DummyPBCargaRs">
        <wsdl:part name="DummyPBCargaRs" element="appoptDummyPBCarga:DummyPBCargaRs"/>
    </wsdl:message>
    
    <wsdl:portType name="DummyPBCargaAppSvcPort">
        <wsdl:operation name="DummyPBCarga">
            <wsdl:input message="tns:DummyPBCargaRq"/>
            <wsdl:output message="tns:DummyPBCargaRs"/>
            <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="DummyPBCargaAppSvcBinding_SOAP11" type="tns:DummyPBCargaAppSvcPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="DummyPBCarga">
            <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/DummyPBCargaAppSvc_V1.0/DummyPBCarga"/>
            <wsdl:input>
                <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
                <soap:body use="literal" parts="DummyPBCargaRq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
                <soap:body use="literal" parts="DummyPBCargaRs"/>
            </wsdl:output>
            <wsdl:fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>
    <wsdl:service name="DummyPBCargaAppSvc_V1.0">
        <wsdl:port name="DummyPBCargaAppSvc_V1.0" binding="tns:DummyPBCargaAppSvcBinding_SOAP11">
            <soap:address location="http://localhost"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
