AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/AdvancedShipmentNoticeApp/Resources/SynAbroadAdvancedShipmentNoticeRMSDbReference_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SynAbroadAdvancedShipmentNoticeRMSDbReference" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/SynAbroadAdvancedShipmentNoticeRMSDbReference" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="I_MESSAGE" type="string" db:index="2" db:type="CLOB" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="XX_MULTIPLES_PAISES_SQL-24GUARD" type="int" db:index="0" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="O_ERROR_MESSAGE" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>