Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/HTCardDb/AcctCardRelMod/AcctCardRelMod_V1.0.xsd

<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/HTCardDbAppSvc/AcctCardRelMod_V1.0"
           elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:appoptAcctCardRelMod="http://xmlns.banesco.com/appopt/HTCardDbAppSvc/AcctCardRelMod_V1.0"
           xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0">
  <xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
             schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
  <xs:element name="AcctCardRelModRq" type="appoptAcctCardRelMod:AcctCardRelModRq_Type"/>
  <xs:element name="AcctCardRelModRs" type="appoptAcctCardRelMod:AcctCardRelModRs_Type"/>
  <xs:simpleType name="OperationType">
    <xs:annotation>
      <xs:documentation>AN: card new affiliation, 
RE: card replacement, 
DE: card disaffiliation, 
CA: card cancellation.</xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="AN"/>
      <xs:enumeration value="CA"/>
      <xs:enumeration value="DE"/>
      <xs:enumeration value="RE"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:complexType name="Acct">
    <xs:sequence>
      <xs:element name="AcctTitle" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AcctKey" type="appoptAcctCardRelMod:AcctKey" minOccurs="0" maxOccurs="1"/>
      <xs:element name="DepAcctData" type="appoptAcctCardRelMod:DepAcctData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctCardRelModRq_Type">
    <xs:sequence>
      <xs:element name="Acct" type="appoptAcctCardRelMod:Acct" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Card" type="appoptAcctCardRelMod:Card" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctCardRelModRs_Type">
    <xs:sequence>
      <xs:element name="Acct" type="appoptAcctCardRelMod:Acct" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Card" type="appoptAcctCardRelMod:Card" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AcctKey">
    <xs:annotation>
      <xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="AcctReference" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element name="CardKey" type="appoptAcctCardRelMod:CardKey" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CardStatus" type="appoptAcctCardRelMod:CardStatus" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PlasticInfo" type="appoptAcctCardRelMod:PlasticInfo" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardKey">
    <xs:annotation>
      <xs:documentation>The Card Object supports the services related to Issuing, Management, and Servicing of Credit, Debit, Prepaid and Private Label cards.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CardNum" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Card Number.

The card number or PAN encoded on the card.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardStatus">
    <xs:annotation>
      <xs:documentation>Card Status Aggregate.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CardStatusAction" type="appoptAcctCardRelMod:OperationType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Card Status Action.

Valid values include: Capture, Decline, Normal, Referral.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CardStatusCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Card Status Code.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="EffDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Effective Date Time.

Effective Date/Time. The date/time that an associated action resulting in a change of state or status of an object took effect.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatusReason" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Status Reason.

In some cases it is desirable to record the reason an object status has been set to its current value. The StatusReason provides that capability.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="DepAcctData">
    <xs:sequence>
      <xs:element name="SignatureReqd" minOccurs="0" maxOccurs="1">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="SignatureTransaction" type="xs:string" minOccurs="0" maxOccurs="1"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlasticInfo">
    <xs:annotation>
      <xs:documentation>Información asociada al plástico de la tarjeta.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="ExpDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Expiration Date. The date that a specific item will expire (e.g., Expiration date for a credit card, the date a bill detail URL will expire, the date and time a password expires, etc.). If a card has only month and year expiration, the last day of the month must be specified here. Specific use depends on context.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssueDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Issue Date. The date that a specific item was issued (e.g., Issue date for a credit card, passport issue date.). If a card has only month and year issue date, the first day of the month must be specified here. Specific use depends on context.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="Issuer" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>