BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PA10/EvaluacionPayload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:evaluacion="http://xmlns.bcie.org/ObjetoProceso/Evaluaciones/Payload/V1"
           xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
           targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Evaluaciones/Payload/V1" elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">
           
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
             schemaLocation="../../Schema/Comun/Header/V1/HeaderOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
             schemaLocation="../../Schema/Comun/Parameter/V1/ParameterOPN.xsd"/>
             
   <xs:element name="EvaluacionPayload" type="evaluacion:EvaluacionPayloadType">
    <xs:annotation>
      <xs:documentation>Elemento que define los campos de entrada para el proceso de Evaluacion</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="EvaluacionErrorPayload" type="evaluacion:EvaluacionErrorPayloadType">
    <xs:annotation>
      <xs:documentation>Elemento que define los campos de entrada para el manejo de errores del proceso de Evaluacion</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="EvaluacionPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="Configuration" type="evaluacion:ConfigGatewaysType"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoPayload" type="evaluacion:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoEjecucionPayload" type="evaluacion:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
          
  <xs:complexType name="EvaluacionErrorPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="ConfigGateways" type="evaluacion:ConfigGatewaysType"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="Equipo" type="evaluacion:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoEjecucion" type="evaluacion:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="EquipoPayloadType">
    <xs:sequence>
      <xs:element name="AnalistaAED" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AnalistaSupervision" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ValidadorIBCIE" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AnalistaODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="JefeODE" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ValidadorSIEMAS" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ConfigGatewaysType">
    <xs:sequence>
      <xs:element name="requiereSIEMAS" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requiereIBCIE" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requiereModificarSIEMAS" type="xs:boolean" minOccurs="0" maxOccurs="1"/>      
      <xs:element name="requiereModificarIBCIE" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="retorno" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="resultado" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="tipoEvaluacion" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="eventoEvaluacion" type="xs:int" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
