Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBChk/ChkImageInq/ChkImageInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBChkAppSvc/ChkImageInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptChkImageInq="http://xmlns.banesco.com/appopt/TCIBChkAppSvc/ChkImageInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="DocumentKey">
		<xs:sequence>
			<xs:element name="DocId" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="ChkImageInqRq" type="appoptChkImageInq:ChkImageInqRq_Type"/>
	<xs:element name="ChkImageInqRs" type="appoptChkImageInq:ChkImageInqRs_Type"/>
	<xs:complexType name="ChkImageInqRq_Type">
		<xs:sequence>
			<xs:element name="ChkKey" type="appoptChkImageInq:ChkKey" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AcctKey" type="appoptChkImageInq:AcctKey" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkImageInqRs_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="appoptChkImageInq:AcctKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DocumentKey" type="appoptChkImageInq:DocumentKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Chk" type="appoptChkImageInq:Chk" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkKey">
		<xs:sequence>
			<xs:element name="ChkNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de cheque</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Chk">
		<xs:sequence>
			<xs:element name="ImageURL" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>URL de imagen del cheque</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChkKey" type="appoptChkImageInq:ChkKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctKey">
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de cuenta</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
