Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/T24CardCrAppSvc/T24CardCrAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="T24CardCrAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/T24CardCrAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/T24CardCrAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
				  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:appoptCardCrInq="http://xmlns.banesco.com/appopt/T24CardCrAppSvc/CardCrInq_V1.0"
                  xmlns:appoptCardCrInfoInq="http://xmlns.banesco.com/appopt/T24CardCrAppSvc/CardCrInfoInq_V1.0"
                  xmlns:appoptCardCrFinancingAdd="http://xmlns.banesco.com/appopt/T24CardCrAppSvc/CardCrFinancingAdd_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
				  schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/T24CardCrAppSvc/CardCrInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/T24CardCr/CardCrInq/CardCrInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/T24CardCrAppSvc/CardCrInfoInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/T24CardCr/CardCrInfoInq/CardCrInfoInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/T24CardCrAppSvc/CardCrFinancingAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/T24CardCr/CardCrFinancingAdd/CardCrFinancingAdd_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrInqRq">
    <wsdl:part name="CardCrInqRq" element="appoptCardCrInq:CardCrInqRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrInqRs">
    <wsdl:part name="CardCrInqRs" element="appoptCardCrInq:CardCrInqRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrInfoInqRq">
    <wsdl:part name="CardCrInfoInqRq" element="appoptCardCrInfoInq:CardCrInfoInqRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrInfoInqRs">
    <wsdl:part name="CardCrInfoInqRs" element="appoptCardCrInfoInq:CardCrInfoInqRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrFinancingAddRq">
    <wsdl:part name="CardCrFinancingAddRq" element="appoptCardCrFinancingAdd:CardCrFinancingAddRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrFinancingAddRs">
    <wsdl:part name="CardCrFinancingAddRs" element="appoptCardCrFinancingAdd:CardCrFinancingAddRs"/>
  </wsdl:message>
  
  <wsdl:portType name="T24CardCrAppSvc_V1.0">
    <wsdl:operation name="CardCrInq">
      <wsdl:input message="tns:CardCrInqRq"/>
      <wsdl:output message="tns:CardCrInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
	<wsdl:operation name="CardCrInfoInq">
      <wsdl:input message="tns:CardCrInfoInqRq"/>
      <wsdl:output message="tns:CardCrInfoInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
	<wsdl:operation name="CardCrFinancingAdd">
      <wsdl:input message="tns:CardCrFinancingAddRq"/>
      <wsdl:output message="tns:CardCrFinancingAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="T24CardCrAppSvc_V1.0SOAP" type="tns:T24CardCrAppSvc_V1.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CardCrInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/T24CardCrAppSvc_V1.0/CardCrInq"/>
      <wsdl:input>
		<soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="CardCrInqRq"/>
      </wsdl:input>
      <wsdl:output>
		<soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="CardCrInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
	<wsdl:operation name="CardCrInfoInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/T24CardCrAppSvc_V1.0/CardCrInfoInq"/>
      <wsdl:input>
		<soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="CardCrInfoInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
		<soap:body use="literal" parts="CardCrInfoInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
	<wsdl:operation name="CardCrFinancingAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/T24CardCrAppSvc_V1.0/CardCrFinancingAdd"/>
      <wsdl:input>
		<soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="CardCrFinancingAddRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
		<soap:body use="literal" parts="CardCrFinancingAddRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="T24CardCrAppSvc_V1.0">
    <wsdl:port name="T24CardCrAppSvc_V1.0SOAP" binding="tns:T24CardCrAppSvc_V1.0SOAP">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>
