BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/REP/WSDL/REP.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions xmlns="" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/"
                     xmlns:WL5G3N1="http://www.w3.org/2001/XMLSchema"
                     xmlns:WL5G3N2="http://org/bcie/ws/middle/REP.wsdl/types/"
                     xmlns:WL5G3N3="http://org/bcie/ws/middle/REP.wsdl"
                     xmlns:WL5G3N4="http://schemas.xmlsoap.org/wsdl/soap/" name="REP"
                     targetNamespace="http://org/bcie/ws/middle/REP.wsdl">
  <WL5G3N0:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://org/bcie/ws/middle/REP.wsdl/types/"
                xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                xmlns:soap11-enc="http://schemas.xmlsoap.org/soap/encoding/"
                xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
                xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
                xmlns:tns0="http://org/bcie/ws/middle/REP.wsdl/types/"
                targetNamespace="http://org/bcie/ws/middle/REP.wsdl/types/" elementFormDefault="qualified">
      <xsd:complexType name="BalanceTypeUserArray">
        <xsd:sequence>
          <xsd:element name="BalanceTypeUser" type="tns:BalanceTypeUser" nillable="true" minOccurs="0"
                       maxOccurs="unbounded"/>
        </xsd:sequence>
      </xsd:complexType>
      <xsd:complexType name="BalanceTypeUser">
        <xsd:complexContent>
          <xsd:extension base="tns:BalanceTypeBase">
            <xsd:sequence>
              <xsd:element name="componente" type="string" nillable="true"/>
              <xsd:element name="balance" type="decimal" nillable="true"/>
            </xsd:sequence>
          </xsd:extension>
        </xsd:complexContent>
      </xsd:complexType>
      <xsd:complexType name="BalanceTypeBase">
        <xsd:sequence/>
      </xsd:complexType>
    </xsd:schema>
  </WL5G3N0:types>
  <WL5G3N0:message name="REP_consultarReserva">
    <WL5G3N0:part name="codigoCliente" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fondos" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="REP_consultarReservaResponse">
    <WL5G3N0:part name="listaBalance_out" type="WL5G3N2:BalanceTypeUserArray"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="REP_registrarCalificacion">
    <WL5G3N0:part name="bhq" type="WL5G3N1:string"/>
    <WL5G3N0:part name="scr" type="WL5G3N1:string"/>
    <WL5G3N0:part name="estadoscr" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="observacion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fecha" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="usuariomodifico" type="WL5G3N1:string"/>
    <WL5G3N0:part name="usuariovalido" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="REP_registrarCalificacionResponse">
    <WL5G3N0:part name="codigoresultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tiporesultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensaje_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="REP">
    <WL5G3N0:operation name="consultarReserva"
                       parameterOrder="codigoCliente fondos listaBalance_out codigoResultado_out tipoResultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:REP_consultarReserva"/>
      <WL5G3N0:output message="WL5G3N3:REP_consultarReservaResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="registrarCalificacion"
                       parameterOrder="bhq scr estadoscr observacion fecha usuariomodifico usuariovalido codigoresultado_out tiporesultado_out mensaje_out">
      <WL5G3N0:input message="WL5G3N3:REP_registrarCalificacion"/>
      <WL5G3N0:output message="WL5G3N3:REP_registrarCalificacionResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="REP" type="WL5G3N3:REP">
    <WL5G3N4:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <WL5G3N0:operation name="consultarReserva">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/REP.wsdl/consultarReserva"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/REP.wsdl" parts="codigoCliente fondos"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/REP.wsdl"
                      parts="listaBalance_out codigoResultado_out tipoResultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="registrarCalificacion">
      <WL5G3N4:operation soapAction="http://org/bcie/ws/middle/REP.wsdl/registrarCalificacion"/>
      <WL5G3N0:input>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/REP.wsdl"
                      parts="bhq scr estadoscr observacion fecha usuariomodifico usuariovalido"/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N4:body use="literal" namespace="http://org/bcie/ws/middle/REP.wsdl"
                      parts="codigoresultado_out tiporesultado_out mensaje_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="REP">
    <WL5G3N0:port name="REP" binding="WL5G3N3:REP">
      <WL5G3N4:address location="http://hn-obpm-qa.bcie.org:7065/MIDDLE/REP"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>