BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Wsdl/PA02/ComisionesProcess.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ComisionesProcess" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/ComisionesProcess" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema>
			<xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ComisionesProcess" schemaLocation="../../Schema/PA02/ComisionesProcess.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="InicioComisiones">
		<wsdl:part name="parameters" element="tns:InicioComisiones"/>
	</wsdl:message>
	<wsdl:message name="FinComisiones">
		<wsdl:part name="parameters" element="tns:FinComisiones"/>
	</wsdl:message>
	<wsdl:message name="InicioRegistrarComisiones">
		<wsdl:part name="parameters" element="tns:InicioRegistrarComisiones"/>
	</wsdl:message>
	<wsdl:message name="FinRegistrarComisiones">
		<wsdl:part name="parameters" element="tns:FinRegistrarComisiones"/>
	</wsdl:message>
	<wsdl:message name="InicioCancelarComisiones">
		<wsdl:part name="parameters" element="tns:InicioCancelarComisiones"/>
	</wsdl:message>
	<wsdl:message name="InicioReasignarComisiones">
		<wsdl:part name="parameters" element="tns:InicioReasignarComisiones"/>
	</wsdl:message>
	<wsdl:portType name="ComisionesProcessPortType">
		<wsdl:operation name="InicioComisiones">
			<wsdl:input message="tns:InicioComisiones"/>
		</wsdl:operation>
		<wsdl:operation name="FinComisiones">
			<wsdl:input message="tns:FinComisiones"/>
		</wsdl:operation>
		<wsdl:operation name="InicioRegistrarComisiones">
			<wsdl:input message="tns:InicioRegistrarComisiones"/>
		</wsdl:operation>
		<wsdl:operation name="FinRegistrarComisiones">
			<wsdl:input message="tns:FinRegistrarComisiones"/>
		</wsdl:operation>
		<wsdl:operation name="InicioCancelarComisiones">
			<wsdl:input message="tns:InicioCancelarComisiones"/>
		</wsdl:operation>
		<wsdl:operation name="InicioReasignarComisiones">
			<wsdl:input message="tns:InicioReasignarComisiones"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="ComisionesProcessBinding" type="tns:ComisionesProcessPortType">
		<wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="InicioComisiones">
			<wsdlsoap:operation style="document" soapAction="InicioComisiones"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="FinComisiones">
			<wsdlsoap:operation style="document" soapAction="FinComisiones"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="InicioRegistrarComisiones">
			<wsdlsoap:operation style="document" soapAction="InicioRegistrarComisiones"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="FinRegistrarComisiones">
			<wsdlsoap:operation style="document" soapAction="FinRegistrarComisiones"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="InicioCancelarComisiones">
			<wsdlsoap:operation style="document" soapAction="InicioCancelarComisiones"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
		<wsdl:operation name="InicioReasignarComisiones">
			<wsdlsoap:operation style="document" soapAction="InicioReasignarComisiones"/>
			<wsdl:input>
				<wsdlsoap:body use="literal"/>
			</wsdl:input>
		</wsdl:operation>
	</wsdl:binding>
	<plnk:partnerLinkType name="ComisionesProcessPortTypePartnerLinkType">
		<plnk:role name="ComisionesProcessPortTypeProvider">
			<plnk:portType name="tns:ComisionesProcessPortType"/>
		</plnk:role>
	</plnk:partnerLinkType>
</wsdl:definitions>
