Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBCardCr/CardCrInfoInq/CardCrInfoInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrInfoInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptCardCrInfoInq="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrInfoInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="LoyaltyProgram">
		<xs:annotation>
			<xs:documentation>Programa de lealtad. (Puntos)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="TotalPoints" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total de puntos disponibles que tiene el cliente para redimir</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FIData">
		<xs:annotation>
			<xs:documentation>The Financial Institution Data Aggregate contains additional information used to identify a bank, typically when used for payment transfers, payee requests, and wire transfers. It is required in CHE, DEU, and ITA to completely identify an account. Sufficient information must be provided within this aggregate to uniquely identify the bank at which the account is held. Failure to do so will result in an error being returned from the server.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FIIdent" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de la Institución financiera que hace la solicitud /código del banco que realiza la operación</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Agency" type="appoptCardCrInfoInq:Agency" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardKey">
		<xs:annotation>
			<xs:documentation>The Card Object supports the services related to Issuing, Management, and Servicing of Credit, Debit, Prepaid and Private Label cards.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardNum" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de tarjeta que se desea consultar.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlasticInfo">
		<xs:sequence>
			<xs:element name="ExpDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de vencimiento de la tarjeta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de emisión de la tarjeta</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardCrInfoInqRq_Type">
		<xs:annotation>
			<xs:documentation>Datos de la tarjeta a consultar</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="CardKey" type="appoptCardCrInfoInq:CardKey" minOccurs="1" maxOccurs="1"/>
			<xs:element name="FIData" type="appoptCardCrInfoInq:FIData" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyKey" type="appoptCardCrInfoInq:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardStatus">
		<xs:annotation>
			<xs:documentation>Card Status Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardStatusCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Estado de la tarjeta de crédito</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonName">
		<xs:annotation>
			<xs:documentation>Person Name.

The PersonName aggregate is used to specify a person's full name and, optionally, preferred name (nickname).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre del cliente (natural)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardPeriodData">
		<xs:annotation>
			<xs:documentation>Card Period Data Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MinimumPmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Monto mínimo que debe pagar el cliente antes del próximo corte para no caer en mora / cuota</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Term" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Plazo de Prestacard</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalPmtsMade" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto total de los pagos realizados desde el ultimo corte. (pagos y créditos)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialData">
		<xs:annotation>
			<xs:documentation>Datos financieros de la tarjeta.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ArrearsBalance" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Saldo atrasado que tiene el cliente en el sistema.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailableCashAdv" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Monto disponible de la tarjeta para adelantos de efectivo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailablePurchaseAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Monto disponible de la tarjeta para compras.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailExtraFinancing" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Disponible Extra financiamiento</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CashPmtAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Monto total que debe pagar el cliente en caso de que desee pagar al contado lo consumido en la tarjeta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditLimit" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Limite de crédito asociado a la tarjeta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrentBalance" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Saldo de la tarjeta al momento de hacer la consulta. No se toman en cuenta los movimientos
en tránsito.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CutBalance" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Saldo al corte</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtraFinancingAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Monto total para los financiamientos de extra que tiene el cliente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterestRateCashAdv" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tasa de interés aplicada a las transacciones de adelantos realizadas por el cliente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterestRatePurchases" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tasa de interés aplicada a las transacciones de compras realizadas por el cliente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntraCurrentBalance" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Monto total utilizado para las transacciones intra.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmtTransitTransactions" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Monto total de las transacciones que no han sido posteadas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalBalance" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Es el saldo actual de la tarjeta incluyendo los movimientos en tránsito.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardCrInfoInqRq" type="appoptCardCrInfoInq:CardCrInfoInqRq_Type"/>
	<xs:complexType name="CardCrInfoInqRs_Type">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Card" type="appoptCardCrInfoInq:Card" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FIData" type="appoptCardCrInfoInq:FIData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Party" type="appoptCardCrInfoInq:Party" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PersonName" type="appoptCardCrInfoInq:PersonName" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardCrInfoInqRs" type="appoptCardCrInfoInq:CardCrInfoInqRs_Type"/>
	<xs:complexType name="Agency">
		<xs:annotation>
			<xs:documentation>Agency Especification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgencyIdent" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agencia o sucursal donde se realiza la operación</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="appoptCardCrInfoInq:Identification">
				<xs:sequence>
					<xs:element name="PartyId" type="xs:string" minOccurs="1" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Código del cliente asignado T24</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Identification">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="IssuedIdentType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de identificación del cliente (cédula/pasaporte)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de identificación</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Card">
		<xs:sequence>
			<xs:element name="CardAcctStatus" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicador para saber si la cuenta está al día o en mora</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Descripción del tipo de tarjeta (crédito, prepago, crédito empresarial).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastPmtAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Monto del último pago realizado por el cliente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastPmtDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
			<xs:element name="NextPmtDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha en la que el cliente debe hacer su próximo pago.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtLimitDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fecha de vencimiento para realizar el pago mínimo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancialData" type="appoptCardCrInfoInq:FinancialData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CardStatus" type="appoptCardCrInfoInq:CardStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CardKey" type="appoptCardCrInfoInq:CardKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="LoyaltyProgram" type="appoptCardCrInfoInq:LoyaltyProgram" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CardPeriodData" type="appoptCardCrInfoInq:CardPeriodData" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PlasticInfo" type="appoptCardCrInfoInq:PlasticInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Party">
		<xs:annotation>
			<xs:documentation>Party is a person or organization. A Party typically has some association with an account and fulfills roles such as:

a primary or partial ownership/responsibility for an account
a beneficiary of an account
has signatory authorization on an account
has legal authorization, such as power of attorney, for an account
A Party can have relationships to accounts, cards and other parties.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyKey" type="appoptCardCrInfoInq:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
