Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/SCHChk/ChkAdd/ChkAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/SCHChkAppSvc/ChkAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptChkAdd="http://xmlns.banesco.com/appopt/SCHChkAppSvc/ChkAdd_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="ChkAddRq" type="appoptChkAdd:ChkAddRq_Type"/>
	<xs:element name="ChkAddRs" type="appoptChkAdd:ChkAddRs_Type"/>
	<xs:complexType name="Acct">
		<xs:sequence>
			<xs:element name="ChkBook" type="appoptChkAdd:ChkBook" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkAddRq_Type">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Acct" type="appoptChkAdd:Acct" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkAddRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ChkBook">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Branch" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ChkQty" type="xs:int" minOccurs="0" maxOccurs="1"/>
			<xs:element name="StartNum" type="xs:string" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Type" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
