Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFCardDb/CardDbAdd/CardDbAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFCardDbAppSvc/CardDbAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptCardDbAdd="http://xmlns.banesco.com/appopt/WFCardDbAppSvc/CardDbAdd_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="Agency">
		<xs:sequence>
			<xs:element name="AgencyIdent" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sucursal de origen de la gestión</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PersonName">
		<xs:annotation>
			<xs:documentation>Person Name.

The PersonName aggregate is used to specify a person's full name and, optionally, preferred name (nickname).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FullName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Full Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardAcctRel">
		<xs:annotation>
			<xs:documentation>Card Account Relationship Information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Card" type="appoptCardDbAdd:Card" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Acct" type="appoptCardDbAdd:Acct" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Card">
		<xs:sequence>
			<xs:element name="SaleOfficer" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Canal de Venta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PlasticInfo" type="appoptCardDbAdd:PlasticInfo" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardKey">
		<xs:annotation>
			<xs:documentation>The Card Object supports the services related to Issuing, Management, and Servicing of Credit, Debit, Prepaid and Private Label cards.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Card Number.

The card number or PAN encoded on the card.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PayRoll">
		<xs:sequence>
			<xs:element name="Detail" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If the requested management is new or an addition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgName" type="appoptCardDbAdd:OrgName" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre de la empresa a la cual pertenece la planilla</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayRollRel" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates if the card is related to a payroll of a particular company</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlasticInfo">
		<xs:annotation>
			<xs:documentation>Información asociada al plástico de la tarjeta.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BIN" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número BIN</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardEmbossName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre a embozar en la tarjeta de débito.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardPromo" type="appoptcommon:CommonTypeMandatory" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Promoción de la tarjeta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Customized" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica si la tarjeta se imprimirá en el momento o si no se mandará a imprimir al momento de personalizar la tarjeta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FraudInsurance" type="appoptcommon:CommonTypeMandatory" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica el seguro que va a tener el cliente dependiendo del monto asegurado</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issuer" type="appoptcommon:CommonTypeMandatory" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Emisor</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ShippingInfo" type="appoptCardDbAdd:ShippingInfo" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PayRoll" type="appoptCardDbAdd:PayRoll" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="ShippingInfo">
		<xs:sequence>
			<xs:element name="Agency" type="appoptCardDbAdd:Agency" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Sucursal donde el cliente realizará el retiro de su tarjeta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardCourier" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicator if Courier applies for sending the card</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PINCourier" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicator of whether courier applies for sending PIN.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Acct">
		<xs:annotation>
			<xs:documentation>Account Information Aggregate. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctSubtype" type="appoptcommon:CommonTypeMandatory" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Ahorro o Corriente</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IsPrincipal" type="xs:boolean" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica si la cuenta es principal</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctKey" type="appoptCardDbAdd:AcctKey" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardDbAddRq" type="appoptCardDbAdd:CardDbAddRq_Type"/>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número de Cliente</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="OrgName">
		<xs:sequence>
			<xs:element name="FullName" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Nombre completo</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardStatus">
		<xs:sequence>
			<xs:element name="CardStatusCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Estado con el que nace la tarjeta</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CardDbAddRs" type="appoptCardDbAdd:CardDbAddRs_Type"/>
	<xs:complexType name="CardDbAddRs_Type">
		<xs:sequence>
			<xs:element name="Card" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="CardKey" type="appoptCardDbAdd:CardKey" minOccurs="0" maxOccurs="1"/>
						<xs:element name="CardStatus" type="appoptCardDbAdd:CardStatus" minOccurs="0" maxOccurs="1"/>
						<xs:element name="PlasticInfo" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:annotation>
									<xs:documentation>Información asociada al plástico de la tarjeta.</xs:documentation>
								</xs:annotation>
								<xs:sequence>
									<xs:element name="CardEmbossName" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Nombre colocado en el plástico de la tarjeta</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="ExpDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Fecha en la que expira la tarjeta</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="IssueDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Fecha de emisión de la tarjeta</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartyKey" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Número de Cliente</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="PartyName" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Person Name.

The PersonName aggregate is used to specify a person's full name and, optionally, preferred name (nickname).</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Full Name.</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardDbAddRq_Type">
		<xs:sequence>
			<xs:element name="Agency" type="appoptCardDbAdd:Agency" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CardAcctRel" type="appoptCardDbAdd:CardAcctRel" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyKey" type="appoptCardDbAdd:PartyKey" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyName" type="appoptCardDbAdd:PersonName" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
