BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/DominioContrato/Condicion/V1/Wsdl/Condicion.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<wsdl:definitions targetNamespace="http://www.bcie.org/CondicionService" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.bcie.org/CondicionService" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" 
             xmlns:conMO="http://www.bcie.org/CondicionMO"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/CondicionMO" schemaLocation="../Schema/CondicionMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CrearCondicionRequestMessage">
    <wsdl:part name="request" element="conMO:CrearCondicionRequest"/>
  </wsdl:message>
  <wsdl:message name="CrearCondicionResponseMessage">
    <wsdl:part name="response" element="conMO:CrearCondicionResponse"/>
  </wsdl:message>
  <wsdl:message name="ConsultarCondicionRequestMessage">
    <wsdl:part name="request" element="conMO:ConsultarCondicionRequest"/>
  </wsdl:message>
  <wsdl:message name="ConsultarCondicionResponseMessage">
    <wsdl:part name="response" element="conMO:ConsultarCondicionResponse"/>
  </wsdl:message>
  <wsdl:message name="ActualizarCondicionRequestMessage">
    <wsdl:part name="request" element="conMO:ActualizarCondicionRequest"/>
  </wsdl:message>
  <wsdl:message name="ActualizarCondicionResponsetMessage">
    <wsdl:part name="response" element="conMO:ActualizarCondicionResponse"/>
  </wsdl:message>
   <wsdl:message name="ValidarCondicionesFormalizacionRequestMessage">
    <wsdl:part name="request" element="conMO:ValidarCondicionesFormalizacionRequest"/>
  </wsdl:message>
  <wsdl:message name="ValidarCondicionesFormalizacionResponseMessage">
    <wsdl:part name="response" element="conMO:ValidarCondicionesFormalizacionResponse"/>
  </wsdl:message>
   <wsdl:message name="ValidarCondicionesDesembolsoRequestMessage">
    <wsdl:part name="request" element="conMO:ValidarCondicionesDesembolsoRequest"/>
  </wsdl:message>
  <wsdl:message name="ValidarCondicionesDesembolsoResponseMessage">
    <wsdl:part name="response" element="conMO:ValidarCondicionesDesembolsoResponse"/>
  </wsdl:message> 
  <wsdl:message name="consultarCumplimientoCondicionRequestMessage">
    <wsdl:part name="request" element="conMO:ConsultarCumplimientoCondicionRequest"/>
  </wsdl:message>
  <wsdl:message name="consultarCumplimientoCondicionResponseMessage">
    <wsdl:part name="response" element="conMO:ConsultarCumplimientoCondicionResponse"/>
  </wsdl:message>
  <wsdl:message name="ObtenerValidadoresActivosRequestMessage">
    <wsdl:part name="request" element="conMO:ObtenerValidadoresActivosRequest"/>
  </wsdl:message>
  <wsdl:message name="ObtenerValidadoresActivosResponseMessage">
    <wsdl:part name="response" element="conMO:ObtenerValidadoresActivosResponse"/>
  </wsdl:message>
   <wsdl:message name="EliminarCondicionRequestMessage">
    <wsdl:part name="request" element="conMO:EliminarCondicionRequest"/>
  </wsdl:message>
  <wsdl:message name="EliminarCondicionResponseMessage">
    <wsdl:part name="response" element="conMO:EliminarCondicionResponse"/>
  </wsdl:message>
  <wsdl:message name="ConsultarCondicionByRolRequestMessage">
    <wsdl:part name="request" element="conMO:ConsultarCondicionByRolRequest"/>
  </wsdl:message>
  <wsdl:message name="ConsultarCondicionByRolResponseMessage">
    <wsdl:part name="response" element="conMO:ConsultarCondicionByRolResponse"/>
  </wsdl:message>
  <wsdl:message name="ConsultarValidacionCondicionByRolRequestMessage">
    <wsdl:part name="request" element="conMO:ConsultarCondicionValidacionByRolRequest"/>
  </wsdl:message>
  <wsdl:message name="ConsultarValidacionCondicionByRolResponseMessage">
    <wsdl:part name="response" element="conMO:ConsultarCondicionValidacionByRolResponse"/>
  </wsdl:message>
  <wsdl:message name="ValidarCondicionRequestMessage">
    <wsdl:part name="request" element="conMO:ValidarCondicionRequest"/>
  </wsdl:message>
  <wsdl:message name="ValidarCondicionResponseMessage">
    <wsdl:part name="response" element="conMO:ValidarCondicionResponse"/>
  </wsdl:message>
    <wsdl:message name="NotificarValidacionCondicionRequestMessage">
    <wsdl:part name="request" element="conMO:NotificarValidacionCondicionRequest"/>
  </wsdl:message>
  <wsdl:message name="NotificarValidacionCondicionResponseMessage">
    <wsdl:part name="response" element="conMO:NotificarValidacionCondicionResponse"/>
  </wsdl:message>
   <wsdl:message name="CondicionesDemandaRequestMessage">
    <wsdl:part name="request" element="conMO:CondicionesDemandaRequest"/>
  </wsdl:message>
  <wsdl:message name="CondicionesDemandaResponseMessage">
    <wsdl:part name="response" element="conMO:CondicionesDemandaResponse"/>
  </wsdl:message>
  <wsdl:message name="ActualizarEstadoCondicionRequestMessage">
    <wsdl:part name="request" element="conMO:ActualizarEstadoCondicionRequest"/>
  </wsdl:message>
  <wsdl:message name="ActualizarEstadoCondicionResponseMessage">
    <wsdl:part name="response" element="conMO:ActualizarEstadoCondicionResponse"/>
  </wsdl:message>
  
  <!--********************************** messge GenerarReporteCondicionValidador****************************************-->
  <message name="GenerarReporteCondicionValidadorRequest">
    <part name="GenerarReporteCondicionValidadorRq" element="conMO:GenerarReporteCondicionValidadorRequest"/>
  </message>
  <message name="GenerarReporteCondicionValidadorResponse">
    <part name="GenerarReporteCondicionValidadorRs" element="conMO:GenerarReporteCondicionValidadorResponse"/>
  </message>
  
   <!--********************************** PortType CondicionPT****************************************-->
  <wsdl:portType name="CondicionPT">
    <wsdl:operation name="crearCondicion">
      <wsdl:input message="tns:CrearCondicionRequestMessage"/>
      <wsdl:output message="tns:CrearCondicionResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarCondicion">
      <wsdl:input message="tns:ConsultarCondicionRequestMessage"/>
      <wsdl:output message="tns:ConsultarCondicionResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="actualizarCondicion">
      <wsdl:input message="tns:ActualizarCondicionRequestMessage"/>
      <wsdl:output message="tns:ActualizarCondicionResponsetMessage"/>
    </wsdl:operation>
    <wsdl:operation name="validarCondicionesFormalizacion">
      <wsdl:input message="tns:ValidarCondicionesFormalizacionRequestMessage"/>
      <wsdl:output message="tns:ValidarCondicionesFormalizacionResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="validarCondicionesDesembolso">
      <wsdl:input message="tns:ValidarCondicionesDesembolsoRequestMessage"/>
      <wsdl:output message="tns:ValidarCondicionesDesembolsoResponseMessage"/>
    </wsdl:operation> 
    <wsdl:operation name="eliminarCondicion">
      <wsdl:input message="tns:EliminarCondicionRequestMessage"/>
      <wsdl:output message="tns:EliminarCondicionResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarCondicionByRol">
      <wsdl:input message="tns:ConsultarCondicionByRolRequestMessage"/>
      <wsdl:output message="tns:ConsultarCondicionByRolResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarValidacionCondicionByRol">
      <wsdl:input message="tns:ConsultarValidacionCondicionByRolRequestMessage"/>
      <wsdl:output message="tns:ConsultarValidacionCondicionByRolResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="validarCondicion">
      <wsdl:input message="tns:ValidarCondicionRequestMessage"/>
      <wsdl:output message="tns:ValidarCondicionResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="notificarValidacionCondicion">
      <wsdl:input message="tns:NotificarValidacionCondicionRequestMessage"/>
      <wsdl:output message="tns:NotificarValidacionCondicionResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="condicionesDemanda">
      <wsdl:input message="tns:CondicionesDemandaRequestMessage"/>
      <wsdl:output message="tns:CondicionesDemandaResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="actualizarEstadoCondicion">
      <wsdl:input message="tns:ActualizarEstadoCondicionRequestMessage"/>
      <wsdl:output message="tns:ActualizarEstadoCondicionResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="reporteCumplimientoCondicion">
      <wsdl:input message="tns:consultarCumplimientoCondicionRequestMessage"/>
      <wsdl:output message="tns:consultarCumplimientoCondicionResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ObtenerValidadoresActivos">
      <wsdl:input message="tns:ObtenerValidadoresActivosRequestMessage"/>
      <wsdl:output message="tns:ObtenerValidadoresActivosResponseMessage"/>
    </wsdl:operation>
    <!--********************************** Operation GenerarReporteCondicionValidador****************************************-->
    <operation name="GenerarReporteCondicionValidador">
      <input message="tns:GenerarReporteCondicionValidadorRequest"/>
      <output message="tns:GenerarReporteCondicionValidadorResponse"/>
    </operation>
    
  </wsdl:portType>
 
  <wsdl:binding name="Condicion12Bnd" type="tns:CondicionPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearCondicion">
      <soap12:operation style="document" soapAction="http://www.bcie.org/CondicionService/crearCondicion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarCondicion">
      <soap12:operation style="document" soapAction="http://www.bcie.org/CondicionService/consultarCondicion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarCondicionesDesembolso">
      <soap12:operation style="document" soapAction="http://www.bcie.org/CondicionService/validarCondicionesDesembolso"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarCondicion">
      <soap12:operation style="document" soapAction="http://www.bcie.org/CondicionService/actualizarCondicion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarCondicionesFormalizacion">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/CondicionService/validarCondicionesFormalizacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="eliminarCondicion">
      <soap12:operation style="document" soapAction="http://www.bcie.org/CondicionService/eliminarCondicion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarCondicionByRol">
      <soap12:operation style="document" soapAction="http://www.bcie.org/CondicionService/consultarCondicionByRol"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarValidacionCondicionByRol">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/CondicionService/consultarValidacionCondicionByRol"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="validarCondicion">
      <soap12:operation style="document" soapAction="http://www.bcie.org/CondicionService/validarCondicion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="notificarValidacionCondicion">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/CondicionService/notificarValidacionCondicion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="condicionesDemanda">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/CondicionService/condicionesDemanda"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarEstadoCondicion">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/CondicionService/actualizarEstadoCondicion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="reporteCumplimientoCondicion">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/CondicionService/reporteCumplimientoCondicion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="ObtenerValidadoresActivos">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/CondicionService/ObtenerValidadoresActivos"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <!--********************************** Operation GenerarReporteCondicionValidador****************************************-->
   <operation name="GenerarReporteCondicionValidador">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/CrearReporteCondicionService/GenerarReporteCondicionValidador"/>
      <input>
        <soap12:body use="literal" parts="GenerarReporteCondicionValidadorRq"/>
      </input>
      <output>
        <soap12:body use="literal" parts="GenerarReporteCondicionValidadorRs"/>
      </output>
    </operation>
  </wsdl:binding>
</wsdl:definitions>