AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseBusinessServiceLibrary/Item/ItemEBS.wsdl

<wsdl:definitions name="ItemEBS" targetNamespace="http://www.agarcia.mx/EnterpriseService/Item" xmlns:tns="http://www.agarcia.mx/EnterpriseService/Item" xmlns:ebm="http://www.agarcia.mx/EnterpriseObjects/Item" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
	<wsdl:types>
		<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
			<xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Item" schemaLocation="../../EnterpriseObjectLibrary/EBO/Item/ItemEBM.xsd"/>
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="CreateItemReqMsg">
		<wsdl:part name="CreateItemReqMsg" element="ebm:CreateItemEBM"/>
	</wsdl:message>
	<wsdl:message name="ProcessItemReqMsg">
		<wsdl:part name="ProcessItemReqMsg" element="ebm:ProcessItemEBM"/>
	</wsdl:message>
	<wsdl:message name="DeleteItemReqMsg">
		<wsdl:part name="DeleteItemReqMsg" element="ebm:DeleteItemEBM"/>
	</wsdl:message>
	<wsdl:message name="UpdateItemReqMsg">
		<wsdl:part name="UpdateItemReqMsg" element="ebm:UpdateItemEBM"/>
	</wsdl:message>
	<wsdl:message name="SyncItemReqMsg">
		<wsdl:part name="SyncItemReqMsg" element="ebm:SyncItemEBM"/>
	</wsdl:message>
	<wsdl:message name="QueryItemReqMsg">
		<wsdl:part name="QueryItemReqMsg" element="ebm:QueryItemEBM"/>
	</wsdl:message>
	<wsdl:message name="CreateItemRespMsg">
		<wsdl:part name="CreateItemRespMsg" element="ebm:CreateItemResponseEBM"/>
	</wsdl:message>
	<wsdl:message name="ProcessItemRespMsg">
		<wsdl:part name="ProcessItemRespMsg" element="ebm:ProcessItemResponseEBM"/>
	</wsdl:message>
	<wsdl:message name="DeleteItemRespMsg">
		<wsdl:part name="DeleteItemRespMsg" element="ebm:DeleteItemResponseEBM"/>
	</wsdl:message>
	<wsdl:message name="UpdateItemRespMsg">
		<wsdl:part name="UpdateItemRespMsg" element="ebm:UpdateItemResponseEBM"/>
	</wsdl:message>
	<wsdl:message name="SyncItemResMsg">
		<wsdl:part name="SyncItemResMsg" element="ebm:SyncItemResponseEBM"/>
	</wsdl:message>
	<wsdl:message name="QueryItemResMsg">
		<wsdl:part name="QueryItemResMsg" element="ebm:QueryItemResponseEBM"/>
	</wsdl:message>
	<wsdl:portType name="ItemEBS">
		<wsdl:operation name="ProcessItem">
			<wsdl:input message="tns:ProcessItemReqMsg"/>
		</wsdl:operation>
		<wsdl:operation name="CreateItem">
			<wsdl:input message="tns:CreateItemReqMsg"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteItem">
			<wsdl:input message="tns:DeleteItemReqMsg"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateItemReqMsg">
			<wsdl:input message="tns:UpdateItemReqMsg"/>
		</wsdl:operation>
		<wsdl:operation name="SyncItem">
			<wsdl:input message="tns:SyncItemReqMsg"/>
		</wsdl:operation>
		<wsdl:operation name="QueryItem">
			<wsdl:input message="tns:QueryItemReqMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="ItemEBSResponse">
		<wsdl:operation name="ProcessItemResponse">
			<wsdl:input message="tns:ProcessItemRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="CreateItemResponse">
			<wsdl:input message="tns:CreateItemRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="DeleteItemResponse">
			<wsdl:input message="tns:DeleteItemRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="UpdateItemResponse">
			<wsdl:input message="tns:UpdateItemRespMsg"/>
		</wsdl:operation>
		<wsdl:operation name="SyncItemResponse">
			<wsdl:input message="tns:SyncItemResMsg"/>
		</wsdl:operation>
		<wsdl:operation name="QueryItemResponse">
			<wsdl:input message="tns:QueryItemResMsg"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>