Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/IVRCardDbAppSvc/IVRCardDbAppSvc_V1.0.wsdl

<wsdl:definitions name="IVRCardDbAppSvc_V1.0"
                  targetNamespace="http://xmlns.banesco.com/AppSvc/IVRCardDbAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/IVRCardDbAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
				  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:appoptCardDbStatusMod="http://xmlns.banesco.com/appopt/IVRCardDbAppSvc/CardDbStatusMod_V1.0"
				  xmlns:appoptCardDbInq="http://xmlns.banesco.com/appopt/IVRCardDbAppSvc/CardDbInq_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.banesco.com/eo/Status_V1.0"
				  schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"/>
	  <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
				  schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/IVRCardDbAppSvc/CardDbStatusMod_V1.0"
                  schemaLocation="../../../xsd/AppOpt/IVRCardDb/CardDbStatusMod/CardDbStatusMod_V1.0.xsd"/>
	  <xsd:import namespace="http://xmlns.banesco.com/appopt/IVRCardDbAppSvc/CardDbInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/IVRCardDb/CardDbInq/CardDbInq_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="CardDbStatusModRq">
    <wsdl:part name="CardDbStatusModRq" element="appoptCardDbStatusMod:CardDbStatusModRq"/>
  </wsdl:message>
  <wsdl:message name="CardDbStatusModRs">
    <wsdl:part name="CardDbStatusModRs" element="appoptCardDbStatusMod:CardDbStatusModRs"/>
  </wsdl:message>
  <wsdl:message name="CardDbInqRq">
    <wsdl:part name="CardDbInqRq" element="appoptCardDbInq:CardDbInqRq"/>
  </wsdl:message>
  <wsdl:message name="CardDbInqRs">
    <wsdl:part name="CardDbInqRs" element="appoptCardDbInq:CardDbInqRs"/>
  </wsdl:message>
  
  <wsdl:portType name="IVRCardDbAppSvc_V1.0">
    <wsdl:operation name="CardDbStatusMod">
      <wsdl:input message="tns:CardDbStatusModRq"/>
      <wsdl:output message="tns:CardDbStatusModRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
	<wsdl:operation name="CardDbInq">
      <wsdl:input message="tns:CardDbInqRq"/>
      <wsdl:output message="tns:CardDbInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="IVRCardDbAppSvc_V1.0SOAP" type="tns:IVRCardDbAppSvc_V1.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CardDbStatusMod">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/IVRCardDbAppSvc_V1.0/CardDbStatusMod"/>
      <wsdl:input>
        <soap:body use="literal" parts="CardDbStatusModRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="CardDbStatusModRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
	<wsdl:operation name="CardDbInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/IVRCardDbAppSvc_V1.0/CardDbInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="CardDbInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="CardDbInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="IVRCardDbAppSvc_V1.0">
    <wsdl:port name="IVRCardDbAppSvc_V1.0SOAP" binding="tns:IVRCardDbAppSvc_V1.0SOAP">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>  
  
</wsdl:definitions>