BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/MFC/WSDL/MFC.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions xmlns="" name="MFC" targetNamespace="http://org/bcie/ws/middle/MFC/MFC.wsdl" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.w3.org/2001/XMLSchema" xmlns:WL5G3N2="http://org/bcie/ws/middle/MFC/MFC.wsdl" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types/>
  <WL5G3N0:message name="MFC_crearReservaFondos">
    <WL5G3N0:part name="referencia" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoAplicacion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaRequerido" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="monto" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
    <WL5G3N0:part name="descripcion" type="WL5G3N1:string"/>
    <WL5G3N0:part name="rubro" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoUsuario" type="WL5G3N1:string"/>
    <WL5G3N0:part name="autorizar" type="WL5G3N1:string"/>
    <WL5G3N0:part name="cuentaBancaria" type="WL5G3N1:string"/>
    <WL5G3N0:part name="disponible" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fechaAplicacion" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="fechaAprobacion" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="usuarioAutoriza" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="MFC_crearReservaFondosResponse">
    <WL5G3N0:part name="fechaEstimadaDesembolso_out" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="numeroReserva_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensajeError_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="MFC_eliminarReservaFondos">
    <WL5G3N0:part name="numeroReserva" type="WL5G3N1:decimal"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="MFC_eliminarReservaFondosResponse">
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensajeError_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="MFC">
    <WL5G3N0:operation name="crearReservaFondos" parameterOrder="referencia codigoAplicacion fechaRequerido monto moneda descripcion rubro codigoUsuario autorizar cuentaBancaria disponible fechaAplicacion fechaAprobacion usuarioAutoriza fechaEstimadaDesembolso_out numeroReserva_out codigoResultado_out tipoResultado_out mensajeError_out">
      <WL5G3N0:input message="WL5G3N2:MFC_crearReservaFondos"/>
      <WL5G3N0:output message="WL5G3N2:MFC_crearReservaFondosResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="eliminarReservaFondos" parameterOrder="numeroReserva codigoResultado_out tipoResultado_out mensajeError_out">
      <WL5G3N0:input message="WL5G3N2:MFC_eliminarReservaFondos"/>
      <WL5G3N0:output message="WL5G3N2:MFC_eliminarReservaFondosResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="MFC" type="WL5G3N2:MFC">
    <WL5G3N3:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <WL5G3N0:operation name="crearReservaFondos">
      <WL5G3N3:operation soapAction="http://org/bcie/ws/middle/MFC/MFC.wsdl/crearReservaFondos"/>
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" namespace="http://org/bcie/ws/middle/MFC/MFC.wsdl" parts="referencia codigoAplicacion fechaRequerido monto moneda descripcion rubro codigoUsuario autorizar cuentaBancaria disponible fechaAplicacion fechaAprobacion usuarioAutoriza     "/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" namespace="http://org/bcie/ws/middle/MFC/MFC.wsdl" parts="fechaEstimadaDesembolso_out numeroReserva_out codigoResultado_out tipoResultado_out mensajeError_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="eliminarReservaFondos">
      <WL5G3N3:operation soapAction="http://org/bcie/ws/middle/MFC/MFC.wsdl/eliminarReservaFondos"/>
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" namespace="http://org/bcie/ws/middle/MFC/MFC.wsdl" parts="numeroReserva   "/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" namespace="http://org/bcie/ws/middle/MFC/MFC.wsdl" parts="codigoResultado_out tipoResultado_out mensajeError_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="MFC">
    <WL5G3N0:port name="MFC" binding="WL5G3N2:MFC">
      <WL5G3N3:address location="http://hn-obpm-qa.bcie.org:7065/MIDDLE/MFC"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>