Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/AccountDep/AcctFixDepInq/AcctFixDepInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctFixDepInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcctFixDepInq="http://xmlns.banesco.com/eopt/AcctFixDepInq_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:element name="AcctFixDepInqRq" type="eoptAcctFixDepInq:AcctFixDepInqRq_Type"/>
	<xs:element name="AcctFixDepInqRs" type="eoptAcctFixDepInq:AcctFixDepInqRs_Type"/>
	<xs:complexType name="AcctFixDepInqRq_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctFixDepInqRs_Type">
		<xs:sequence>
			<xs:element name="Acct" type="eoAcct:Acct" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PersonAcctFixDepInqRq" type="eoptAcctFixDepInq:AcctFixDepInqRq_Type"/>
	<xs:element name="OrgAcctFixDepInqRq" type="eoptAcctFixDepInq:AcctFixDepInqRq_Type"/>
	<xs:element name="PersonAcctFixDepInqRs" type="eoptAcctFixDepInq:AcctFixDepInqRs_Type"/>
	<xs:element name="OrgAcctFixDepInqRs" type="eoptAcctFixDepInq:AcctFixDepInqRs_Type"/>
</xs:schema>
