BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/TBLineaCredito/CrearTBILineaCredito/XSD/TBILineaCredito.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearTBILineaCredito" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearTBILineaCredito" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="TbiLineaCreditoCollection" type="TbiLineaCreditoCollection"/>
   <xs:complexType name="TbiLineaCreditoCollection">
      <xs:sequence>
         <xs:element name="TbiLineaCredito" type="TBLineaCreditoType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TBLineaCreditoType">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idContrato" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idLineaCredito" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idTareaBpm" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="instanciaProceso" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="estadoLineaCredito" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="usuario" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
         <xs:element name="numeroLineaCredito" type="xs:string" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType> 
</xs:schema>