BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/Utilidades/ValidarOperacionProceso/V1/Schema/ValidarOperacionProcesoMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="http://www.bcie.org/ValidarOperacionProcesoMO"
            targetNamespace="http://www.bcie.org/ValidarOperacionProcesoMO" 
            elementFormDefault="qualified"
            xmlns:valProOp="http://www.bcie.org/ValidarOperacionProcesoBO"
            xmlns:resBO="http://www.bcie.org/ResultBO">
            
  <xsd:import schemaLocation="ValidarOperacionProcesoBO.xsd" namespace="http://www.bcie.org/ValidarOperacionProcesoBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
            
  <xsd:element name="requestValidarOperacionProceso" type="ValidarProcesoOperacionRequestType">
    <xsd:annotation>
      <xsd:documentation>A sample element</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="responseValidarOperacionProceso" type="ValidarProcesoOperacionResponseType"/>
  <xsd:complexType name="ValidarProcesoOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="ValidarProcesoOperacionInput" type="valProOp:OperacionProceso"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarProcesoOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="EnProceso" type="xsd:boolean"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
