BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ConsultarRolUsuario/XSD/ConsultarRolUsuario_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarRolUsuario_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarRolUsuario_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarRolUsuario_DBInput" type="ConsultarRolUsuario_DBInput"/>
   <xs:complexType name="ConsultarRolUsuario_DBInput">
      <xs:sequence>
         <xs:element name="idRolUsuario" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarRolUsuario_DBOutputCollection" type="ConsultarRolUsuario_DBOutputCollection"/>
   <xs:complexType name="ConsultarRolUsuario_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarRolUsuario_DBOutput" type="ConsultarRolUsuario_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarRolUsuario_DBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA" type="xs:string" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="COD_EXTERNO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>