BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/HerramientasOfimatica/CrearReciboPago/XSD/Reporte.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:HOR="http://www.bcie.org/herramientaOfismatica/Reporte"
            targetNamespace="http://www.bcie.org/herramientaOfismatica/Reporte" elementFormDefault="qualified">
  <xsd:element name="Reporte">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="Archivo" type="HOR:Archivo" maxOccurs="unbounded"/>
            <xsd:element name="Resultado" type="xsd:string"/>
            <xsd:element name="CodigoError" type="xsd:string" minOccurs="0"/>
            <xsd:element name="Mensaje" type="xsd:string" minOccurs="0"/>
            </xsd:sequence>
	</xsd:complexType>
    </xsd:element>
    <xsd:complexType name="Archivo">
        <xsd:sequence>
            <xsd:element name="tipo" type="xsd:string"/>
            <xsd:element name="content" type="xsd:base64Binary"/>
	</xsd:sequence>
    </xsd:complexType>
</xsd:schema>
