AG_2019/OSB/OSB_PRD_Almacenes/Applications/RetailMerchandising/IGS/VendorPublishingService/Resources/VendorPublishingServiceWSDL.wsdl

<!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><definitions targetNamespace="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1" name="VendorPublishingService" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
<wsp:Policy wsu:Id="VendorPublishingPortBinding_WSAM_Addressing_Policy-VendorPublishingPortBinding_WSAM_Addressing_Policy">
<wsam:Addressing wsp:Optional="true">
<wsp:Policy/>
</wsam:Addressing>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1" schemaLocation="../Schema/XMLSchema_-592697569.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.oracle.com/retail/integration/bus/gateway/services/BusinessObjectId/v1" schemaLocation="../Schema/XMLSchema_-886100576.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.oracle.com/retail/integration/services/exception/v1" schemaLocation="../Schema/XMLSchema_-1179503583.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.oracle.com/retail/integration/base/bo/VendorDesc/v1" schemaLocation="../Schema/XMLSchema_-1472906590.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.oracle.com/retail/integration/base/bo/VendorHdrDesc/v1" schemaLocation="../Schema/XMLSchema_-1766309597.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.oracle.com/retail/integration/base/bo/VendorAddrDesc/v1" schemaLocation="../Schema/XMLSchema_-2059712604.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.oracle.com/retail/integration/base/bo/VendorOUDesc/v1" schemaLocation="../Schema/XMLSchema_1941851685.xsd"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://www.oracle.com/retail/integration/services/ServiceOpStatus/v1" schemaLocation="../Schema/XMLSchema_1648448678.xsd"/>
</xsd:schema>
</types>
<message name="publishVendorCreateUsingVendorDesc">
<part name="parameters" element="tns:publishVendorCreateUsingVendorDesc"/>
<part name="BusinessObjectId" element="ns1:BusinessObjectId" xmlns:ns1="http://www.oracle.com/retail/integration/bus/gateway/services/BusinessObjectId/v1"/>
</message>
<message name="publishVendorCreateUsingVendorDescResponse">
<part name="result" element="tns:publishVendorCreateUsingVendorDescResponse"/>
</message>
<message name="PublishingWSFaultException">
<part name="fault" element="ns2:PublishingWSFaultException" xmlns:ns2="http://www.oracle.com/retail/integration/services/exception/v1"/>
</message>
<message name="IllegalStateWSFaultException">
<part name="fault" element="ns3:IllegalStateWSFaultException" xmlns:ns3="http://www.oracle.com/retail/integration/services/exception/v1"/>
</message>
<message name="ValidationWSFaultException">
<part name="fault" element="ns4:ValidationWSFaultException" xmlns:ns4="http://www.oracle.com/retail/integration/services/exception/v1"/>
</message>
<message name="publishVendorModifyUsingVendorDesc">
<part name="parameters" element="tns:publishVendorModifyUsingVendorDesc"/>
<part name="BusinessObjectId" element="ns5:BusinessObjectId" xmlns:ns5="http://www.oracle.com/retail/integration/bus/gateway/services/BusinessObjectId/v1"/>
</message>
<message name="publishVendorModifyUsingVendorDescResponse">
<part name="result" element="tns:publishVendorModifyUsingVendorDescResponse"/>
</message>
<message name="ping">
<part name="parameters" element="tns:ping"/>
</message>
<message name="pingResponse">
<part name="parameters" element="tns:pingResponse"/>
</message>
<portType name="VendorPublishingPortType">
<operation name="publishVendorCreateUsingVendorDesc" parameterOrder="parameters BusinessObjectId">
<input wsaw:Action="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1/VendorPublishingPortType/publishVendorCreateUsingVendorDescRequest" wsam:Action="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1/VendorPublishingPortType/publishVendorCreateUsingVendorDescRequest" message="tns:publishVendorCreateUsingVendorDesc"/>
<output wsam:Action="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1/VendorPublishingPortType/publishVendorCreateUsingVendorDescResponse" message="tns:publishVendorCreateUsingVendorDescResponse"/>
<fault message="tns:PublishingWSFaultException" name="PublishingWSFaultException" wsam:Action="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1/VendorPublishingPortType/publishVendorCreateUsingVendorDesc/Fault/PublishingWSFaultException"/>
<fault message="tns:IllegalStateWSFaultException" name="IllegalStateWSFaultException" wsam:Action="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1/VendorPublishingPortType/publishVendorCreateUsingVendorDesc/Fault/IllegalStateWSFaultException"/>
<fault message="tns:ValidationWSFaultException" name="ValidationWSFaultException" wsam:Action="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1/VendorPublishingPortType/publishVendorCreateUsingVendorDesc/Fault/ValidationWSFaultException"/>
</operation>
<operation name="publishVendorModifyUsingVendorDesc" parameterOrder="parameters BusinessObjectId">
<input wsaw:Action="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1/VendorPublishingPortType/publishVendorModifyUsingVendorDescRequest" wsam:Action="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1/VendorPublishingPortType/publishVendorModifyUsingVendorDescRequest" message="tns:publishVendorModifyUsingVendorDesc"/>
<output wsam:Action="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1/VendorPublishingPortType/publishVendorModifyUsingVendorDescResponse" message="tns:publishVendorModifyUsingVendorDescResponse"/>
<fault message="tns:PublishingWSFaultException" name="PublishingWSFaultException" wsam:Action="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1/VendorPublishingPortType/publishVendorModifyUsingVendorDesc/Fault/PublishingWSFaultException"/>
<fault message="tns:IllegalStateWSFaultException" name="IllegalStateWSFaultException" wsam:Action="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1/VendorPublishingPortType/publishVendorModifyUsingVendorDesc/Fault/IllegalStateWSFaultException"/>
<fault message="tns:ValidationWSFaultException" name="ValidationWSFaultException" wsam:Action="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1/VendorPublishingPortType/publishVendorModifyUsingVendorDesc/Fault/ValidationWSFaultException"/>
</operation>
<operation name="ping">
<input wsaw:Action="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1/VendorPublishingPortType/pingRequest" wsam:Action="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1/VendorPublishingPortType/pingRequest" message="tns:ping"/>
<output wsam:Action="http://www.oracle.com/retail/igs/integration/services/VendorPublishingService/v1/VendorPublishingPortType/pingResponse" message="tns:pingResponse"/>
</operation>
</portType>
<binding name="VendorPublishingPortBinding" type="tns:VendorPublishingPortType">
<wsaw:UsingAddressing/>
<wsp:PolicyReference URI="#VendorPublishingPortBinding_WSAM_Addressing_Policy-VendorPublishingPortBinding_WSAM_Addressing_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="publishVendorCreateUsingVendorDesc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:publishVendorCreateUsingVendorDesc" part="BusinessObjectId" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PublishingWSFaultException">
<soap:fault name="PublishingWSFaultException" use="literal"/>
</fault>
<fault name="IllegalStateWSFaultException">
<soap:fault name="IllegalStateWSFaultException" use="literal"/>
</fault>
<fault name="ValidationWSFaultException">
<soap:fault name="ValidationWSFaultException" use="literal"/>
</fault>
</operation>
<operation name="publishVendorModifyUsingVendorDesc">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" parts="parameters"/>
<soap:header message="tns:publishVendorModifyUsingVendorDesc" part="BusinessObjectId" use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="PublishingWSFaultException">
<soap:fault name="PublishingWSFaultException" use="literal"/>
</fault>
<fault name="IllegalStateWSFaultException">
<soap:fault name="IllegalStateWSFaultException" use="literal"/>
</fault>
<fault name="ValidationWSFaultException">
<soap:fault name="ValidationWSFaultException" use="literal"/>
</fault>
</operation>
<operation name="ping">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="VendorPublishingService">
<port name="VendorPublishingPort" binding="tns:VendorPublishingPortBinding">
<soap:address location="http://172.16.20.14:7503/VendorPublishingBean/VendorPublishingService"/>
</port>
</service>
</definitions>