AG_2019/OSB/AlmacenesGarcia_DEV/Applications/JDA/JDASupplier/Resources/JDACreateSupplierWSDL.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Applications/JDA/Suppliers/CreateSupplier/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://mx.agarcia.ea/Applications/JDA/Suppliers/CreateSupplier/v1.0" xmlns:ns1="http://mx.agarcia.ea/Applications/JDA/Supplier/CreateSupplier" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://mx.agarcia.ea/Applications/JDA/Supplier/CreateSupplier" schemaLocation="../Schema/JDACreateSupplierSchema.xsd"/>
                        <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
                        <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
		</schema>
	</wsdl:types>

     
	<wsdl:message name="createSupplierRequestMessage">
		<wsdl:part name="createSupplierRequestMessage" element="ns1:createSupplierRequest"/>
	</wsdl:message>
	<wsdl:message name="createSupplierResponseMessage">
		<wsdl:part name="createSupplierResponseMessage" element="ns1:createSupplierResponse"/>
	</wsdl:message>
        <wsdl:message name="standardMessageHeader">
		<wsdl:part name="header" element="AGSH:headerMessage"/>
	</wsdl:message>
        <wsdl:message name="standardMessageHeaderResponse">
		<wsdl:part name="headerRes" element="AGSM:messageResponse"/>
	</wsdl:message>

        <wsdl:message name="standardMessageFault">
    <wsdl:part name="fault" element="AGSM:messageError"/>
  </wsdl:message>
  
  
	<wsdl:portType name="createSupplierPort">
		<wsdl:operation name="create">
			<wsdl:input message="client:createSupplierRequestMessage"/>
			<wsdl:output message="client:createSupplierResponseMessage"/>
                        <wsdl:fault message="client:standardMessageFault" name="fault"/>
		</wsdl:operation>
	</wsdl:portType>
 <wsdl:binding name="createSupplierBinding" type="client:createSupplierPort">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="create">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/Applications/JDA/Supplier/CreateSupplier/v1.0/create"/>
   <wsdl:input>
    <soap:body use="literal" parts="createSupplierRequestMessage"/>
    <soap:header message="client:standardMessageHeader" part="header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="createSupplierResponseMessage"/>
   </wsdl:output>
   <wsdl:fault name="fault">
        <soap:fault name="fault" use="literal"/>
      </wsdl:fault>
   
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>