BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ActualizarUsuarioReunion/XSD/ActualizarUsuarioReunion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ActualizarUsuarioReunion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ActualizarUsuarioReunion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ActualizarUsuarioReunionInput" type="ActualizarUsuarioReunionInput"/>
   <xs:complexType name="ActualizarUsuarioReunionInput">
      <xs:sequence>
         <xs:element name="marcado" type="xs:decimal" nillable="true"/>
         <xs:element name="idSolicitudAprobacion" type="xs:decimal" nillable="true"/>
         <xs:element name="loginUsuario" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>