BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ConsultarOperacionEnProceso/V1/Schema/ConsultarOperacionEnProcesoMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="http://www.bcie.org/ConsultarOperacionEnProcesoMO"
            targetNamespace="http://www.bcie.org/ConsultarOperacionEnProcesoMO" 
            elementFormDefault="qualified" 
            xmlns:copBO="http://www.bcie.org/ConsultarOperacionEnProcesoBO"
            xmlns:catBO="http://www.bcie.org/CatalogoBO"
            xmlns:resBO="http://www.bcie.org/ResultBO">
            
      <xsd:import namespace="http://www.bcie.org/ConsultarOperacionEnProcesoBO"
                  schemaLocation="ConsultarOperacionEnProcesoBO.xsd" />
      <xsd:import namespace="http://www.bcie.org/CatalogoBO"
                  schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd" />
      <xsd:import namespace="http://www.bcie.org/ResultBO"
                  schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" />
                  
                  
      <xsd:element name="ConsultarOperacionEnProcesoRequest" type="ConsultarOperacionEnProcesoRequestType"/>
      <xsd:element name="ConsultarOperacionEnProcesoResponse" type="ConsultarOperacionEnProcesoResponseType"/>
                  
      <xsd:complexType name="ConsultarOperacionEnProcesoRequestType">
        <xsd:sequence>
          <xsd:element name="OperacionEnProceso" type="copBO:Proceso"/>
        </xsd:sequence>
      </xsd:complexType>
      
      <xsd:complexType name="ConsultarOperacionEnProcesoResponseType">
        <xsd:sequence>
          <xsd:element name="Proceso" type="copBO:Proceso"/>
          <xsd:element name="Resultado" type="resBO:Resultado"/>
        </xsd:sequence>
      </xsd:complexType>
  
</xsd:schema>
