BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PC09/CierrePayload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:cierre="http://xmlns.bcie.org/ObjetoProceso/Cierre/Payload/V1"
           xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
           targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Cierre/Payload/V1" elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">
           
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
             schemaLocation="../../Schema/Comun/Header/V1/HeaderOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
             schemaLocation="../../Schema/Comun/Parameter/V1/ParameterOPN.xsd"/>
             
  <xs:element name="CierrePayload" type="cierre:CierrePayloadType">
    <xs:annotation>
      <xs:documentation>Elemento que define los campos de entrada para el proceso  de Cierre</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="CierreErrorPayload" type="cierre:CierreErrorPayloadType">
    <xs:annotation>
      <xs:documentation>Elemento que define los campos de entrada para el manejo de errores del proceso de Cierre</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="CierrePayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="ConfigGateways" type="cierre:ConfigGatewaysType"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="Equipo" type="cierre:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoEjecucion" type="cierre:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
          
  <xs:complexType name="CierreErrorPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="ConfigGateways" type="cierre:ConfigGatewaysType"  minOccurs="0" maxOccurs="1"/>
      <xs:element name="Equipo" type="cierre:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoEjecucion" type="cierre:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="EquipoType">
    <xs:sequence>
      <xs:element name="Abogado" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AnalistaCOPRES" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EjecutivoInversiones" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CustodioCOPRES" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ConfigGatewaysType">
    <xs:sequence>
      <xs:element name="requiereASJUR" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requiereCierre" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requiereCOPRES" type="xs:boolean" minOccurs="0" maxOccurs="1"/>      
      <xs:element name="requiereLiberacion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
