AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/AllocationApp/SyncAllocationSAALMAAdapterService/Resources/NXSDs/nxsd_SyncAllocationSaalmaRequest.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/nxsd/SyncAllocationSaalmaReqMsg" targetNamespace="http://www.agarcia.mx/nxsd/SyncAllocationSaalmaReqMsg" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
   <xsd:element name="Allocation">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="allocationId" type="xsd:string"/>
            <xsd:element name="claveOS" type="xsd:string"/>
            <xsd:element name="localOrigen" type="xsd:string"/>
            <xsd:element name="detalle" minOccurs="0" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence minOccurs="0" maxOccurs="unbounded">
                     <xsd:element name="departamento" type="xsd:string"/>
                     <xsd:element name="dptoNombre" type="xsd:string"/>
                     <xsd:element name="proveedor" type="xsd:string"/>
                     <xsd:element name="provNombre" type="xsd:string"/>
                     <xsd:element name="estilo" type="xsd:string"/>
                     <xsd:element name="estiloDesc" type="xsd:string"/>
                     <xsd:element name="tienda" type="xsd:string"/>
                     <xsd:element name="tiendaNombre" type="xsd:string"/>
                     <xsd:element name="sku" type="xsd:string"/>
                     <xsd:element name="skuDesc" type="xsd:string"/>
                     <xsd:element name="cantidad" type="xsd:string"/>
                     <xsd:element name="ubicacion" type="xsd:string"/>
                     <xsd:element name="ordenInventario" type="xsd:string"/>
                     <xsd:element name="prepack" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>