MIRA/SOA_PRD_Almacenes/RequestPriceChange/SOA/Schemas/RPM_CrearEvent_sp.xsd

<?xml version='1.0' encoding='UTF-8'?>
<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/RPM_CrearEvent" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/RPM_CrearEvent" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="I_ID" type="int" db:index="1" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="I_DESCRIPCION" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_TIPO" type="string" db:index="3" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="I_RAZON" type="string" db:index="4" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="I_NIVEL" type="string" db:index="5" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="I_BASE" type="string" db:index="6" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="I_FECHA_INICIAL" type="dateTime" db:index="7" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="I_FECHA_FINAL" type="dateTime" db:index="8" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="I_DIAS" type="int" db:index="9" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="I_PRECIO" type="decimal" db:index="10" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_PCT" type="decimal" db:index="11" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_CANT_CAMBIO" type="decimal" db:index="12" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="I_ESTILO" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_SKU" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="I_TIENDA" type="int" db:index="15" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="I_FIN_DE_ARCHIVO" type="int" db:index="16" db:type="INTEGER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="XX_CARGAR_CAMBIO_DE_PRECIOS-24C" type="int" db:index="0" db:type="INTEGER" minOccurs="0" nillable="true"/>
            <element name="O_ERROR_MESSAGE" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>
