BCIE_fenix/qa/ADF-BPM/bpm/PC06Evaluacion/PC06EvaluacionProcessUITest/SOA/Schemas/Comun/Operacion/V1/OperacionOPN.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Operacion/V1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:operacion="http://xmlns.bcie.org/ObjetoProceso/Comun/Operacion/V1" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
<xs:complexType name="Operacion">
<xs:annotation>
<xs:documentation>Entidad que contiene la información basica de una operación del banco.</xs:documentation>
</xs:annotation>
<xs:sequence>
<xs:element name="CodigoOperacion" type="xs:int" minOccurs="1" maxOccurs="1"/>
<xs:element name="NombreOperacion" type="xs:string" minOccurs="1" maxOccurs="1"/>
<xs:element name="ResponsableOperacion" type="xs:string" minOccurs="0" maxOccurs="1"/>
<xs:element name="CodigoCliente" type="xs:string" minOccurs="1" maxOccurs="1"/>
<xs:element name="NombreCliente" type="xs:string" minOccurs="1" maxOccurs="1"/>
<xs:element name="CodigoProducto" type="xs:int" minOccurs="0" maxOccurs="1"/>
<xs:element name="NombreProducto" type="xs:string" minOccurs="1" maxOccurs="1"/>
<xs:element name="MontoSolicitado" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
<xs:element name="Pais" type="xs:string" minOccurs="1" maxOccurs="1"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
