BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ConsultarOperacionEnProceso/V1/Schema/ConsultarOperacionEnProcesoBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
            xmlns="http://www.bcie.org/ConsultarOperacionEnProcesoBO"
            targetNamespace="http://www.bcie.org/ConsultarOperacionEnProcesoBO" 
            elementFormDefault="qualified">
  <xsd:complexType name="Proceso">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idProceso" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="estatus" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
