BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ReglaTarea/V1/Wsdl/ReglaTarea.wsdl

<?xml version="1.0" encoding="UTF-8" ?>
<definitions targetNamespace="http://www.bcie.org/ReglaTarea" xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:tns="http://www.bcie.org/ReglaTarea" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
             xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:regTaMO="http://www.bcie.org/ReglaTareaMO">
  <types>
    <xsd:schema targetNamespace="http://www.bcie.org/ReglaTarea/types" elementFormDefault="qualified">
    <xsd:import namespace="http://www.bcie.org/ReglaTareaMO" schemaLocation="../Schema/ReglaTareaMO.xsd"/>
    </xsd:schema>
  </types>
   <message name="requestValidarReglasMessage">
    <part name="request" element="regTaMO:ValidarReglasRequest"/>
  </message>
  <message name="responseValidarReglasMessage">
    <part name="response" element="regTaMO:ValidarReglasResponse"/>
  </message>
    <message name="requestValidarTareaReglasMessage">
    <part name="request" element="regTaMO:ValidarTareaReglasRequest"/>
  </message>
  <message name="responseValidarTareaReglasMessage">
    <part name="response" element="regTaMO:ValidarTareaReglasResponse"/>
  </message>
  <portType name="ReglaTarea_PT">
    <operation name="validarReglas">
      <input message="tns:requestValidarReglasMessage"/>
      <output message="tns:responseValidarReglasMessage"/>
    </operation>
    <operation name="validarTareaReglas">
      <input message="tns:requestValidarTareaReglasMessage"/>
      <output message="tns:responseValidarTareaReglasMessage"/>
    </operation>
  </portType>
  <binding name="ReglaTarea_PTSOAP12Binding" type="tns:ReglaTarea_PT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="validarReglas">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ReglaTarea/validarReglas"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
    <operation name="validarTareaReglas">
      <soap12:operation style="document" soapAction="http://www.bcie.org/ReglaTarea/validarTareaReglas"/>
      <input>
        <soap12:body use="literal" parts="request"/>
      </input>
      <output>
        <soap12:body use="literal" parts="response"/>
      </output>
    </operation>
  </binding>
</definitions>