AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseBusinessServiceLibrary/Store/StoreEBS.wsdl

<wsdl:definitions name="StoreEBS" targetNamespace="http://www.agarcia.mx/EnterpriseService/Store" xmlns:tns="http://www.agarcia.mx/EnterpriseService/Store" xmlns:ebm="http://www.agarcia.mx/EnterpriseObjects/Store" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Store" schemaLocation="../../EnterpriseObjectLibrary/EBO/Store/StoreEBM.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="ProcessStoreReqMsg">
        <wsdl:part name="ProcessStoreReqMsg" element="ebm:ProcessStoreEBM"/>
    </wsdl:message>
    <wsdl:message name="ProcessStoreRespMsg">
        <wsdl:part name="ProcessStoreRespMsg" element="ebm:ProcessStoreResponseEBM"/>
    </wsdl:message>
    <wsdl:message name="SyncStoreReqMsg">
        <wsdl:part name="SyncStoreReqMsg" element="ebm:SyncStoreEBM"/>
    </wsdl:message>
    <wsdl:message name="SyncStoreRespMsg">
        <wsdl:part name="SyncStoreRespMsg" element="ebm:SyncStoreResponseEBM"/>
    </wsdl:message>
    <wsdl:message name="QueryStoreReqMsg">
        <wsdl:part name="QueryStoreReqMsg" element="ebm:QueryStoreEBM"/>
    </wsdl:message>
    <wsdl:message name="QueryStoreRespMsg">
        <wsdl:part name="QueryStoreRespMsg" element="ebm:QueryStoreResponseEBM"/>
    </wsdl:message>
    
    <wsdl:portType name="StoreEBS">
        <wsdl:operation name="ProcessStore">
            <wsdl:input message="tns:ProcessStoreReqMsg"/>
            <wsdl:output message="tns:ProcessStoreRespMsg"/>
        </wsdl:operation>
        <wsdl:operation name="SyncStore">
            <wsdl:input message="tns:SyncStoreReqMsg"/>
            <wsdl:output message="tns:SyncStoreRespMsg"/>
        </wsdl:operation>
        <wsdl:operation name="QueryStore">
            <wsdl:input message="tns:QueryStoreReqMsg"/>
            <wsdl:output message="tns:QueryStoreRespMsg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>