AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Capabilities/Core/Buyer/BuyerEntitySvc/Resources/WSDL/JDACreateBuyerProcess.wsdl

<wsdl:definitions name="JDACreateBuyerProcess" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Buyer/JDACreateBuyerProcess" xmlns:tns="http://mx.agarcia.ea/Capabilities/Core/Buyer/JDACreateBuyerProcess" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Foundation/Party/BuyerEntitySvc" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/BuyerEntitySvc" schemaLocation="../../Schema/BuyerEntitySchema.xsd"/>
            <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
            <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="createBuyerRequest">
        <wsdl:part name="part1" element="inp1:createBuyerRequest"/>
    </wsdl:message>
    <wsdl:message name="createBuyerResponse">
        <wsdl:part name="part1" element="inp1:createBuyerResponse"/>
    </wsdl:message>
    <wsdl:message name="standardMessagefault">
        <wsdl:part name="part1" element="AGSM:messageError"/>
    </wsdl:message>
    <wsdl:message name="standardMessageHeader">
      <wsdl:part name="header" element="AGSH:headerMessage"/>
   </wsdl:message>
    <wsdl:portType name="CreateBuyerPType">
        <wsdl:operation name="createBuyer">
            <wsdl:input message="tns:createBuyerRequest"/>
            <wsdl:output message="tns:createBuyerResponse"/>
            <wsdl:fault name="fault" message="tns:standardMessagefault"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="CreateBuyerBinding" type="tns:CreateBuyerPType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="createBuyer">
            <soap:operation style="document" soapAction="http://xmlns.oracle.com/BuyerJDA/JDACreateBuyerProcess/service1/createBuyerPType"/>
            <wsdl:input>
                <soap:body use="literal" parts="part1"/>
                <soap:header message="tns:standardMessageHeader" part="header" use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="part1"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>