Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/T24CardCr/CardCrInq/CardCrInq_V1.0.xsd

<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/T24CardCrAppSvc/CardCrInq_V1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:appoptCardCrInq="http://xmlns.banesco.com/appopt/T24CardCrAppSvc/CardCrInq_V1.0"
           xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
  <xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
             schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
  <xs:element name="CardCrInqRq" type="appoptCardCrInq:CardCrInqRq_Type"/>
  <xs:element name="CardCrInqRs" type="appoptCardCrInq:CardCrInqRs_Type"/>
  <xs:complexType name="AcctKey">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Agency">
    <xs:annotation>
      <xs:documentation>Agency Especification.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AgencyIdent" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Agencia o sucursal donde se realiza la operación</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Card">
    <xs:sequence>
      <xs:element name="CardRel" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Descripción del tipo de relación (relación madre/hija)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CardRelId" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de contrato (Relación madre/hija)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CardSubType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Identificador del tipo de producto Visa Platinum, Visa Gold, Black etc</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CardType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Descripción del tipo de tarjeta (crédito, prepago, crédito empresarial)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="PmtLimitDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fecha de vencimiento para realizar el pago mínimo</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FinancialData" type="appoptCardCrInq:FinancialData" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CardStatus" type="appoptCardCrInq:CardStatus" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CardKey" type="appoptCardCrInq:CardKey" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PlasticInfo" type="appoptCardCrInq:PlasticInfo" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CardPeriodData" type="appoptCardCrInq:CardPeriodData" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardCrInqRq_Type">
    <xs:annotation>
      <xs:documentation>Datos de la tarjeta a consultar</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Agency" type="appoptCardCrInq:Agency" minOccurs="1" maxOccurs="1"/>
      <xs:element name="CardKey" type="appoptCardCrInq:CardKey" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CardStatus" type="appoptCardCrInq:CardStatus" minOccurs="0" maxOccurs="1"/>
      <xs:element name="FIData" type="appoptCardCrInq:FIData" minOccurs="1" maxOccurs="1"/>
      <xs:element name="PartyKey" type="appoptCardCrInq:PartyKey" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardCrInqRs_Type">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="FIData" type="appoptCardCrInq:FIData" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Party" type="appoptCardCrInq:Party" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PersonName" type="appoptCardCrInq:PersonName" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Cards" type="appoptCardCrInq:Cards" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardKey">
    <xs:annotation>
      <xs:documentation>The Card Object supports the services related to Issuing, Management, and Servicing of Credit, Debit, Prepaid and Private Label cards.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CardNum" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de tarjeta que se desea consultar.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardPeriodData">
    <xs:annotation>
      <xs:documentation>Card Period Data Aggregate.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="MinimumPmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Monto mínimo que debe pagar el cliente antes del próximo corte para no caer en mora.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Cards">
    <xs:annotation>
      <xs:documentation>Lista de Tarjetas de Crédito</xs:documentation>
    </xs:annotation>
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="Card" type="appoptCardCrInq:Card" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="CardStatus">
    <xs:annotation>
      <xs:documentation>Card Status Aggregate.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="CardStatusCode" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Estado de la tarjeta de crédito</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="StatusDesc" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Descripción del estatus de la tarjeta</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FIData">
    <xs:annotation>
      <xs:documentation>The Financial Institution Data Aggregate contains additional information used to identify a bank, typically when used for payment transfers, payee requests, and wire transfers. It is required in CHE, DEU, and ITA to completely identify an account. Sufficient information must be provided within this aggregate to uniquely identify the bank at which the account is held. Failure to do so will result in an error being returned from the server.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FIIdent" type="xs:string" minOccurs="1" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Código de la Institución financiera que hace la solicitud</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FinancialData">
    <xs:annotation>
      <xs:documentation>Datos financieros de la tarjeta.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="AvailablePurchaseAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Monto disponible de la tarjeta para compras.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CashPmtAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Monto total que debe pagar el cliente en caso de que desee pagar al contado lo consumido en la tarjeta.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="CurrentBalance" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Saldo al momento de hacer la consulta.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="FinancingStatus" type="xs:boolean" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Indicador para conocer si existe extra/intra financiamiento.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="RepayAcct" type="appoptCardCrInq:AcctKey" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Cuenta de Repago</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Identification">
    <xs:sequence minOccurs="0" maxOccurs="1">
      <xs:element name="IssuedIdentType" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Tipo de identificación del cliente (cédula/pasaporte)</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="IssuedIdentValue" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Número de identificación</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Party">
    <xs:annotation>
      <xs:documentation>Party is a person or organization. A Party typically has some association with an account and fulfills roles such as:

a primary or partial ownership/responsibility for an account
a beneficiary of an account
has signatory authorization on an account
has legal authorization, such as power of attorney, for an account
A Party can have relationships to accounts, cards and other parties.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="PartyKey" type="appoptCardCrInq:PartyKey" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyKey">
    <xs:annotation>
      <xs:documentation>Customer ID´s</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="appoptCardCrInq:Identification">
        <xs:sequence>
          <xs:element name="PartyId" type="xs:string" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>Código del cliente asignado T24</xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:complexType name="PersonName">
    <xs:annotation>
      <xs:documentation>Person Name.

The PersonName aggregate is used to specify a person's full name and, optionally, preferred name (nickname).</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="FullName" type="xs:string" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Nombre del cliente (natural)</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PlasticInfo">
    <xs:sequence>
      <xs:element name="ExpDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>Fecha de vencimiento de la tarjeta</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>