BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/CrearActualizarClienteProceso/XSD/CrearActualizarClienteProcesoDB_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearActualizarClienteProcesoDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearActualizarClienteProcesoDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="TreClienteProcesoBpmCollection" type="TreClienteProcesoBpmCollection"/>
   <xs:complexType name="TreClienteProcesoBpmCollection">
      <xs:sequence>
         <xs:element name="TreClienteProcesoBpm" type="TreClienteProcesoBpm" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TreClienteProcesoBpm">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idCliente" type="xs:long" minOccurs="0"/>
         <xs:element name="idProceso" type="xs:int" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>