BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Termino/CrearTermino/XSD/ConsultarTerminoByIdOperacion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTerminoByIdOperacion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTerminoByIdOperacion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarTerminoByIdOperacionInput" type="ConsultarTerminoByIdOperacionInput"/>
   <xs:complexType name="ConsultarTerminoByIdOperacionInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:decimal" nillable="true"/>
         <xs:element name="idTcaTermino" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarTerminoByIdOperacionOutputCollection" type="ConsultarTerminoByIdOperacionOutputCollection"/>
   <xs:complexType name="ConsultarTerminoByIdOperacionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarTerminoByIdOperacionOutput" type="ConsultarTerminoByIdOperacionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarTerminoByIdOperacionOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_TERMINO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_FECHA_INICIO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_INICIO" type="xs:dateTime" nillable="true"/>
         <xs:element name="PLAZO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_PLAZO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_VENCIMIENTO" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_TCA_MONEDA" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO" type="xs:decimal" nillable="true"/>
         <xs:element name="TASA" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_TIPO_TASA" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA" type="xs:dateTime" nillable="true"/>
         <xs:element name="FRECUENCIA_REVISION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_REVISION" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_INICIO_REVISION" type="xs:dateTime" nillable="true"/>
         <xs:element name="FRECUENCIA_PAGO_INTERES" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_PAGO_INTERES" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_INICIO_PAGO_INTERES" type="xs:dateTime" nillable="true"/>
         <xs:element name="FRECUENCIA_AMORTIZACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_FRECUENCIA_AMORTIZACION" type="xs:decimal" nillable="true"/>
         <xs:element name="MORA" type="xs:decimal" nillable="true"/>
         <xs:element name="PORCENTAJE_COBERTURA" type="xs:decimal" nillable="true"/>
         <xs:element name="SE_APLICAN_RECURSOS_CONCESION" type="xs:decimal" nillable="true"/>
         <xs:element name="SE_APLICAN_RECURSOS_EXTERNOS" type="xs:decimal" nillable="true"/>
         <xs:element name="TIPO_CONTRAPARTE" type="xs:string" nillable="true"/>
         <xs:element name="MONTO_MINIMO_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="MONTO_MAXIMO_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="TASA_MINIMA_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="TASA_MAXIMA_DESEMBOLSO" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_ESTADO_TCC" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_SUB_ESTADO_TCC" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TERMINO_ENMENDADO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_ENMIENDA" type="xs:dateTime" nillable="true"/>
         
         <xs:element name="porcentajeModificacion" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaTipoAvance" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaTipoPorcentaje" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="porcentaje" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="porcentajeInicial" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="porcentajeFinal" type="xs:decimal" minOccurs="0" nillable="true"/>
         
      </xs:sequence>
   </xs:complexType>
</xs:schema>