AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/StoreApp/StoreService/Resources/WSDL/ProcessStoreService.wsdl

<wsdl:definitions name="StoreEBS" targetNamespace="http://www.agarcia.mx/EnterpriseService/Store" xmlns:tns="http://www.agarcia.mx/EnterpriseService/Store" xmlns:ebm="http://www.agarcia.mx/EnterpriseObjects/Store" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <wsdl:documentation>
<abstractWSDL>http://gdsoaapp2.agarcia.com.mx:9005/soa-infra/services/EnterpriseBusinessFlows/ProcessStoreEBF!1.0.2/WSDLs/StoreEBSWrapper.wsdl</abstractWSDL>
</wsdl:documentation>
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Store" schemaLocation="../../../../MetaData/Components/EnterpriseObjectLibrary/EBO/Store/StoreEBM.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ProcessStoreReqMsg">
    <wsdl:part name="ProcessStoreReqMsg" element="ebm:ProcessStoreEBM"/>
  </wsdl:message>
  <wsdl:message name="ProcessStoreRespMsg">
    <wsdl:part name="ProcessStoreRespMsg" element="ebm:ProcessStoreResponseEBMList"/>
  </wsdl:message>
  <wsdl:message name="QueryStoreReqMsg">
    <wsdl:part name="QueryStoreReqMsg" element="ebm:ProcessStoreEBM"/>
  </wsdl:message>
  <wsdl:message name="QueryStoreRespMsg">
    <wsdl:part name="QueryStoreRespMsg" element="ebm:ProcessStoreResponseEBMList"/>
  </wsdl:message>
  <wsdl:message name="SyncStoreReqMsg">
    <wsdl:part name="SyncStoreReqMsg" element="ebm:ProcessStoreEBM"/>
  </wsdl:message>
  <wsdl:message name="SyncStoreRespMsg">
    <wsdl:part name="SyncStoreRespMsg" element="ebm:ProcessStoreResponseEBMList"/>
  </wsdl:message>
  <wsdl:portType name="StoreEBS">
    <wsdl:operation name="ProcessStore">
      <wsdl:input message="tns:ProcessStoreReqMsg"/>
      <wsdl:output message="tns:ProcessStoreRespMsg"/>
    </wsdl:operation>
    <wsdl:operation name="QueryStore">
      <wsdl:input message="tns:QueryStoreReqMsg"/>
      <wsdl:output message="tns:QueryStoreRespMsg"/>
    </wsdl:operation>
    <wsdl:operation name="SyncStore">
      <wsdl:input message="tns:SyncStoreReqMsg"/>
      <wsdl:output message="tns:SyncStoreRespMsg"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="StoreEBSBinding" type="tns:StoreEBS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ProcessStore">
      <soap:operation style="document" soapAction="ProcessStore"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SyncStore">
      <soap:operation style="document" soapAction="SyncStore"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="QueryStore">
      <soap:operation style="document" soapAction="QueryStore"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ProcessStoreEBF_client_ep">
    <wsdl:port name="StoreEBS_pt" binding="tns:StoreEBSBinding">
      <soap:address location="http://gdsoaapp2.agarcia.com.mx:9005/soa-infra/services/EnterpriseBusinessFlows/ProcessStoreEBF/ProcessStoreEBF_client_ep"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>