BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Canales/Votacion/ConsultarVotosEmitidos/V1/Schema/ConsultarVotosEmitidosMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ConsultarVotosEmitidosMO"
            targetNamespace="http://www.bcie.org/ConsultarVotosEmitidosMO" elementFormDefault="qualified"
            xmlns:conVoEmMO="http://www.bcie.org/ConsultarVotosEmitidosMO"
            xmlns:conVoEmBO="http://www.bcie.org/ConsultarVotosEmitidosBO" xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import schemaLocation="ConsultarVotosEmitidosBO.xsd" namespace="http://www.bcie.org/ConsultarVotosEmitidosBO"/>
  <xsd:import schemaLocation="../../../../../Resources/ComponentesComunes/Common/V1/Schema/ResultBO.xsd"
              namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="requestConsultarVotosEmitidosMessage" type="conVoEmMO:ConsultarVotosEmitidosRequest"/>
  <xsd:element name="responseConsultarVotosEmitidosMessage" type="conVoEmMO:ConsultarVotosEmitidosResponse"/>
  <xsd:complexType name="ConsultarVotosEmitidosRequest">
    <xsd:sequence>
      <xsd:element name="solicitudAprobacion" type="conVoEmBO:SolicitudAprobacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarVotosEmitidosResponse">
    <xsd:sequence>
      <xsd:element name="emiteVoto" type="xsd:int"/>
      <xsd:element name="emiteComentario" type="xsd:int"/>
      <xsd:element name="detalleVotosEmitidos" type="conVoEmBO:DetalleVotosEmitidos"/>
      <xsd:element name="Result" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
