Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/HITECH/resources/wsdl/DebitCardStatusHandlerImplService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6.--><!--Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6.--><definitions targetNamespace="http://service.debit.hitech.com/" name="DebitCardStatusHandlerImplService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.debit.hitech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://service.debit.hitech.com/"
                  schemaLocation="../xsd/DebitCardStatusHandlerImplService.xsd"/>
    </xsd:schema>
  </types>
  <message name="blockCard">
    <part name="blockCard" element="tns:blockCard"/>
  </message>
  <message name="blockCardResponse">
    <part name="blockCardResponse" element="tns:blockCardResponse"/>
  </message>
  <message name="freeCard">
    <part name="freeCard" element="tns:freeCard"/>
  </message>
  <message name="freeCardResponse">
    <part name="freeCardResponse" element="tns:freeCardResponse"/>
  </message>
  <message name="activateCard">
    <part name="activateCard" element="tns:activateCard"/>
  </message>
  <message name="activateCardResponse">
    <part name="activateCardResponse" element="tns:activateCardResponse"/>
  </message>
  <message name="activateCardIBanking">
    <part name="activateCardIBanking" element="tns:activateCardIBanking"/>
  </message>
  <message name="activateCardIBankingResponse">
    <part name="activateCardIBankingResponse" element="tns:activateCardIBankingResponse"/>
  </message>
  <message name="changeStatus">
    <part name="changeStatus" element="tns:changeStatus"/>
  </message>
  <message name="changeStatusResponse">
    <part name="changeStatusResponse" element="tns:changeStatusResponse"/>
  </message>
  <message name="validateCard">
    <part name="validateCard" element="tns:validateCard"/>
  </message>
  <message name="validateCardResponse">
    <part name="validateCardResponse" element="tns:validateCardResponse"/>
  </message>
  <message name="clientId">
    <part name="clientId" element="tns:clientId"/>
  </message>
  <message name="clientIdResponse">
    <part name="clientIdResponse" element="tns:clientIdResponse"/>
  </message>
  <message name="getCustomerBlockedCards">
    <part name="getCustomerBlockedCards" element="tns:getCustomerBlockedCards"/>
  </message>
  <message name="getCustomerBlockedCardsResponse">
    <part name="cards" element="tns:cards"/>
  </message>
  <message name="SimpleException">
    <part name="fault" element="tns:SimpleException"/>
  </message>
  <message name="getCustomerActiveCards">
    <part name="getCustomerActiveCards" element="tns:getCustomerActiveCards"/>
  </message>
  <message name="getCustomerActiveCardsResponse">
    <part name="cards" element="tns:cards"/>
  </message>
  <message name="getCustomerNewCards">
    <part name="getCustomerNewCards" element="tns:getCustomerNewCards"/>
  </message>
  <message name="getCustomerNewCardsResponse">
    <part name="cards" element="tns:cards"/>
  </message>
  <message name="getCustomerAllCards">
    <part name="getCustomerAllCards" element="tns:getCustomerAllCards"/>
  </message>
  <message name="getCustomerAllCardsResponse">
    <part name="cards" element="tns:cards"/>
  </message>
  <portType name="DebitCardStatusHandler">
    <operation name="blockCard">
      <input message="tns:blockCard"/>
      <output message="tns:blockCardResponse"/>
    </operation>
    <operation name="freeCard">
      <input message="tns:freeCard"/>
      <output message="tns:freeCardResponse"/>
    </operation>
    <operation name="activateCard">
      <input message="tns:activateCard"/>
      <output message="tns:activateCardResponse"/>
    </operation>
    <operation name="activateCardIBanking">
      <input message="tns:activateCardIBanking"/>
      <output message="tns:activateCardIBankingResponse"/>
    </operation>
    <operation name="changeStatus">
      <input message="tns:changeStatus"/>
      <output message="tns:changeStatusResponse"/>
    </operation>
    <operation name="validateCard">
      <input message="tns:validateCard"/>
      <output message="tns:validateCardResponse"/>
    </operation>
    <operation name="clientId">
      <input message="tns:clientId"/>
      <output message="tns:clientIdResponse"/>
    </operation>
    <operation name="getCustomerBlockedCards">
      <input message="tns:getCustomerBlockedCards"/>
      <output message="tns:getCustomerBlockedCardsResponse"/>
      <fault message="tns:SimpleException" name="SimpleException"/>
    </operation>
    <operation name="getCustomerActiveCards">
      <input message="tns:getCustomerActiveCards"/>
      <output message="tns:getCustomerActiveCardsResponse"/>
      <fault message="tns:SimpleException" name="SimpleException"/>
    </operation>
    <operation name="getCustomerNewCards">
      <input message="tns:getCustomerNewCards"/>
      <output message="tns:getCustomerNewCardsResponse"/>
      <fault message="tns:SimpleException" name="SimpleException"/>
    </operation>
    <operation name="getCustomerAllCards">
      <input message="tns:getCustomerAllCards"/>
      <output message="tns:getCustomerAllCardsResponse"/>
      <fault message="tns:SimpleException" name="SimpleException"/>
    </operation>
  </portType>
  <binding name="DebitCardStatusHandlerImplPortBinding" type="tns:DebitCardStatusHandler">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="blockCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="freeCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="activateCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="activateCardIBanking">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="changeStatus">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="validateCard">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="clientId">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getCustomerBlockedCards">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SimpleException">
        <soap:fault name="SimpleException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCustomerActiveCards">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SimpleException">
        <soap:fault name="SimpleException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCustomerNewCards">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SimpleException">
        <soap:fault name="SimpleException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCustomerAllCards">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="SimpleException">
        <soap:fault name="SimpleException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="DebitCardStatusHandlerImplService">
    <port name="DebitCardStatusHandlerImplPort" binding="tns:DebitCardStatusHandlerImplPortBinding">
      <soap:address location="http://172.30.2.54:2109/ws/statusHandler/DebitCardStatusHandlerImplService"/>
    </port>
  </service>
</definitions>