Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/HITECH/resources/wsdl/DebitCardCreationHandlerImplServices.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.debit.hitech.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.debit.hitech.com/" name="DebitCardCreationHandlerImplService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.debit.hitech.com/" schemaLocation="../xsd/DebitCardCreationHandlerImplServices.xsd"></xsd:import>
</xsd:schema>
</types>
<message name="generateCard">
<part name="generateCard" element="tns:generateCard"></part>
</message>
<message name="generateCardResponse">
<part name="generateCardResponse" element="tns:generateCardResponse"></part>
</message>
<message name="SimpleException">
<part name="fault" element="tns:SimpleException"></part>
</message>
<message name="generatePin">
<part name="generatePin" element="tns:generatePin"></part>
</message>
<message name="generatePinResponse">
<part name="generatePinResponse" element="tns:generatePinResponse"></part>
</message>
<portType name="DebitCardCreationHandler">
<operation name="generateCard">
<input message="tns:generateCard"></input>
<output message="tns:generateCardResponse"></output>
<fault message="tns:SimpleException" name="SimpleException"></fault>
</operation>
<operation name="generatePin">
<input message="tns:generatePin"></input>
<output message="tns:generatePinResponse"></output>
<fault message="tns:SimpleException" name="SimpleException"></fault>
</operation>
</portType>
<binding name="DebitCardCreationHandlerImplPortBinding" type="tns:DebitCardCreationHandler">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="generateCard">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SimpleException">
<soap:fault name="SimpleException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="generatePin">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SimpleException">
<soap:fault name="SimpleException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="DebitCardCreationHandlerImplService">
<port name="DebitCardCreationHandlerImplPort" binding="tns:DebitCardCreationHandlerImplPortBinding">
<soap:address location="http://172.30.2.54:2108/ws/cardHandler/DebitCardCreationHandlerImplServices"></soap:address>
</port>
</service>
</definitions>