BCIE_fenix/dev/ADF-BPM/bpm/PC05Formalizacion/PC05FormalizacionProcess/SOA/WSDLs/FormalizacionProcess.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionProcess" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionProcess" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<wsdl:types>
<xsd:schema>
<xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionProcess" schemaLocation="oramds:/apps/Resources/BPM/Schema/PC05/FormalizacionProcess.xsd"/>
</xsd:schema>
</wsdl:types>
<wsdl:message name="InicioFormalizacion">
<wsdl:part name="parameters" element="tns:InicioFormalizacion"/>
</wsdl:message>
<wsdl:message name="FinFormalizacion">
<wsdl:part name="parameters" element="tns:FinFormalizacion"/>
</wsdl:message>
<wsdl:message name="InicioContratacionFormalizacion">
<wsdl:part name="parameters" element="tns:InicioContratacionFormalizacion"/>
</wsdl:message>
<wsdl:message name="FinContratacionFormalizacion">
<wsdl:part name="parameters" element="tns:FinContratacionFormalizacion"/>
</wsdl:message>
<wsdl:message name="InicioReasignarFormalizacion">
<wsdl:part name="parameters" element="tns:InicioReasignarRO"/>
</wsdl:message>
<wsdl:message name="InicioReasignarContratacion">
<wsdl:part name="parameters" element="tns:InicioReasignarRO"/>
</wsdl:message>
<wsdl:message name="InicioCancelarContratacion">
<wsdl:part name="parameters" element="tns:InicioCancelarContratacion"/>
</wsdl:message>
<wsdl:portType name="FormalizacionProcessPortType">
<wsdl:operation name="InicioFormalizacion">
<wsdl:input message="tns:InicioFormalizacion"/>
</wsdl:operation>
<wsdl:operation name="FinFormalizacion">
<wsdl:input message="tns:FinFormalizacion"/>
</wsdl:operation>
<wsdl:operation name="InicioReasignarFormalizacion">
<wsdl:input message="tns:InicioReasignarFormalizacion"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:portType name="ContratacionFormalizacionProcessPortType">
<wsdl:operation name="InicioContratacionFormalizacion">
<wsdl:input message="tns:InicioContratacionFormalizacion"/>
</wsdl:operation>
<wsdl:operation name="FinContratacionFormalizacion">
<wsdl:input message="tns:FinContratacionFormalizacion"/>
</wsdl:operation>
<wsdl:operation name="InicioReasignarContratacion">
<wsdl:input message="tns:InicioReasignarContratacion"/>
</wsdl:operation>
<wsdl:operation name="InicioCancelarContratacion">
<wsdl:input message="tns:InicioCancelarContratacion"/>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="FormalizacionProcessBinding" type="tns:FormalizacionProcessPortType">
<wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="InicioFormalizacion">
<wsdlsoap:operation style="document" soapAction="InicioFormalizacion"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="FinFormalizacion">
<wsdlsoap:operation style="document" soapAction="FinFormalizacion"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="InicioReasignarFormalizacion">
<wsdlsoap:operation style="document" soapAction="InicioReasignarFormalizacion"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<wsdl:binding name="ContratacionFormalizacionProcessBinding" type="tns:ContratacionFormalizacionProcessPortType">
<wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="InicioContratacionFormalizacion">
<wsdlsoap:operation style="document" soapAction="InicioContratacionFormalizacion"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="FinContratacionFormalizacion">
<wsdlsoap:operation style="document" soapAction="FinContratacionFormalizacion"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="InicioReasignarContratacion">
<wsdlsoap:operation style="document" soapAction="InicioReasignarContratacion"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="InicioCancelarContratacion">
<wsdlsoap:operation style="document" soapAction="InicioCancelarContratacion"/>
<wsdl:input>
<wsdlsoap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
</wsdl:binding>
<plnk:partnerLinkType name="FormalizacionProcessPortTypePartnerLinkType">
<plnk:role name="FormalizacionProcessPortTypeProvider">
<plnk:portType name="tns:FormalizacionProcessPortType"/>
</plnk:role>
</plnk:partnerLinkType>
<plnk:partnerLinkType name="ContratacionFormalizacionProcessPortTypePartnerLinkType">
<plnk:role name="ContratacionFormalizacionProcessPortTypeProvider">
<plnk:portType name="tns:ContratacionFormalizacionProcessPortType"/>
</plnk:role>
</plnk:partnerLinkType>
</wsdl:definitions>
