BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ConfiguracionProcesos/V1/Schema/ConfiguracionProcesosMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/ConfiguracionProcesosMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:confMO="http://www.bcie.org/ConfiguracionProcesosMO" xmlns:confBO="http://www.bcie.org/ConfiguracionProcesosBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:cteBO="http://www.bcie.org/ClienteBO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:cmnBO="http://www.bcie.org/CommonBO" xmlns:desBO="http://www.bcie.org/DesembolsoBO" xmlns:lecciones="http://www.bcie.org/LeccionAprendidaBO" xmlns:CondicionBO="http://www.bcie.org/CondicionBO">
  <xsd:import namespace="http://www.bcie.org/ConfiguracionProcesosBO" schemaLocation="ConfiguracionProcesosBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CommonBO" schemaLocation="../../../../Common/V1/Schema/CommonBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="../../../../DominioCliente/Cliente/V1/Schema/ClienteBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/DesembolsoBO" schemaLocation="../../../../DominioDesembolso/Desembolso/V1/Schema/DesembolsoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/LeccionAprendidaBO" schemaLocation="../../../../DominioLeccionesAprendidas/LeccionAprendida/V1/Schema/LeccionAprendidaBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CondicionBO" schemaLocation="../../../../DominioContrato/Condicion/V1/Schema/CondicionBO.xsd"/>
  <xsd:element name="configuracionElegibilidadRequest" type="confMO:ConfiguracionElegibilidadRequest"/>
  <xsd:element name="configuracionElegibilidadResponse" type="confMO:ConfiguracionElegibilidadResponse"/>
  <xsd:element name="configuracionPreparacionRequest" type="confMO:ConfiguracionPreparacionRequest"/>
  <xsd:element name="configuracionPreparacionResponse" type="confMO:ConfiguracionPreparacionResponse"/>
  <xsd:element name="configuracionLavadoActivosRequest" type="confMO:ConfiguracionLavadoActivosRequest"/>
  <xsd:element name="configuracionLavadoActivosResponse" type="confMO:ConfiguracionLavadoActivosResponse"/>
  <xsd:element name="configuracionAnalisisRequest" type="confMO:ConfiguracionAnalisisRequest"/>
  <xsd:element name="configuracionAnalisisResponse" type="confMO:ConfiguracionAnalisisResponse"/>
  <xsd:element name="configuracionFormalizacionRequest" type="confMO:ConfiguracionFormalizacionRequest"/>
  <xsd:element name="configuracionFormalizacionResponse" type="confMO:ConfiguracionFormalizacionResponse"/>
  <xsd:element name="configuracionAprobacionRequest" type="confMO:ConfiguracionAprobacionRequest"/>
  <xsd:element name="configuracionAprobacionResponse" type="confMO:ConfiguracionAprobacionResponse"/>
  <xsd:element name="configuracionEvaluacionRequest" type="confMO:ConfiguracionEvaluacionRequest"/>
  <xsd:element name="configuracionEvaluacionResponse" type="confMO:ConfiguracionEvaluacionResponse"/>
  <xsd:element name="configuracionCancelarOperacionRequest" type="confMO:ConfiguracionCancelarOperacionRequest"/>
  <xsd:element name="configuracionCancelarOperacionResponse" type="confMO:ConfiguracionCancelarOperacionResponse"/>
  <xsd:element name="configuracionEnmiendasRequest" type="confMO:ConfiguracionEnmiendasRequest"/>
  <xsd:element name="configuracionEnmiendasResponse" type="confMO:ConfiguracionEnmiendasResponse"/>
  <xsd:element name="configuracionAdministracionClienteRequest" type="confMO:ConfiguracionAdministracionClienteRequest"/>
  <xsd:element name="configuracionAdministracionClienteResponse" type="confMO:ConfiguracionAdministracionClienteResponse"/>
  <xsd:element name="configuracionAdministracionOperacionRequest" type="confMO:ConfiguracionAdministracionOperacionRequest"/>
  <xsd:element name="configuracionAdministracionOperacionResponse" type="confMO:ConfiguracionAdministracionOperacionResponse"/>
  <xsd:element name="configuracionComisionesRequest" type="confMO:ConfiguracionComisionesRequest"/>
  <xsd:element name="configuracionComisionesResponse" type="confMO:ConfiguracionComisionesResponse"/>
  <xsd:element name="configuracionCondicionesRequest" type="confMO:ConfiguracionCondicionesRequest"/>
  <xsd:element name="configuracionCondicionesResponse" type="confMO:ConfiguracionCondicionesResponse"/>
  <xsd:element name="configuracionReasignarOperacionRequest" type="confMO:ConfiguracionReasignarOperacionRequest"/>
  <xsd:element name="configuracionReasignarOperacionResponse" type="confMO:ConfiguracionReasignarOperacionResponse"/>
  <xsd:element name="configuracionReasignarClienteRequest" type="confMO:ConfiguracionReasignarClienteRequestType"/>
  <xsd:element name="configuracionReasignarClienteResponse" type="confMO:ConfiguracionReasignarClienteResponseType"/>
  <xsd:element name="configurarSeguimientoCrediticioRequest" type="confMO:ConfiguracionSeguimientoCrediticioRequest"/>
  <xsd:element name="configurarSeguimientoCrediticioResponse" type="confMO:ConfiguracionSeguimientoCrediticioResponse"/>
  <xsd:element name="configuracionRecuperacionUCERequest" type="confMO:ConfiguracionRecuperacionUCERequest"/>
  <xsd:element name="configuracionRecuperacionUCEResponse" type="confMO:ConfiguracionRecuperacionUCEResponse"/>
  <xsd:element name="configuracionCierreRequest" type="confMO:ConfiguracionCierreRequest"/>
  <xsd:element name="configuracionCierreResponse" type="confMO:ConfiguracionCierreResponse"/>
  <xsd:element name="configuracionCierreFideicomisoRequest" type="confMO:ConfiguracionCierreFideicomisoRequest"/>
  <xsd:element name="configuracionCierreFideicomisoResponse" type="confMO:ConfiguracionCierreFideicomisoResponse"/>
  <xsd:element name="configuracionSupervisionRequest" type="confMO:ConfiguracionSupervisionRequest"/>
  <xsd:element name="configuracionSupervisionResponse" type="confMO:ConfiguracionSupervisionResponse"/>
  <xsd:element name="configuracionSupervisionAmbientalSocialRequest" type="confMO:ConfiguracionSupervisionAmbientalSocialRequest"/>
  <xsd:element name="configuracionSupervisionAmbientalSocialResponse" type="confMO:ConfiguracionSupervisionAmbientalSocialResponse"/>
  <xsd:element name="configuracionSeguimientoCobroRequest" type="confMO:ConfiguracionSeguimientoCobroRequest"/>
  <xsd:element name="configuracionSeguimientoCobroResponse" type="confMO:ConfiguracionSeguimientoCobroResponse"/>
  <xsd:element name="configuracionDesembolsoRequest" type="confMO:ConfiguracionDesembolsoRequest"/>
  <xsd:element name="configuracionDesembolsoResponse" type="confMO:ConfiguracionDesembolsoResponse"/>
  <xsd:element name="configuracionAsignacionRecursosRequest" type="confMO:ConfiguracionAsignacionRecursosRequest"/>
  <xsd:element name="configuracionAsignacionRecursosResponse" type="confMO:ConfiguracionDesembolsoResponse"/>
  <xsd:element name="ConfiguracionGestionCobroRequest" type="confMO:ConfiguracionGestionCobroRequestType"/>
  <xsd:element name="ConfiguracionGestionCobroResponse" type="confMO:ConfiguracionGestionCobroResponseType"/>
  <xsd:element name="ConfiguracionPrepagoRequest" type="confMO:ConfiguracionPrepagoRequestType"/>
  <xsd:element name="ConfiguracionPrepagoResponse" type="confMO:ConfiguracionPrepagoResponseType"/>
  <xsd:element name="ConfiguracionDesembolsoExcepcionRequest" type="confMO:ConfiguracionDesembolsoExcepcionRequestType"/>
  <xsd:element name="ConfiguracionDesembolsoExcepcionResponse" type="confMO:ConfiguracionDesembolsoExcepcionResponseType"/>
  <xsd:element name="ConfiguracionValidacionAsignacionRequest" type="confMO:ConfiguracionValidacionAsignacionRequestType"/>
  <xsd:element name="ConfiguracionValidacionAsignacionResponse" type="confMO:ConfiguracionValidacionAsignacionResponseType"/>
  <xsd:element name="CofiguracionAprobacionClienteRequest" type="confMO:ConfiguracionAprobacionClienteRequestType"/>
  <xsd:element name="CofiguracionAprobacionClienteResponse" type="confMO:ConfiguracionAprobacionClienteResponseType"/>
  <xsd:element name="ConfiguracionAdquisicionRequest" type="confMO:ConfiguracionAdquisicionRequestType"/>
  <xsd:element name="ConfiguracionAdquisicionResponse" type="confMO:ConfiguracionAdquisicionResponseType"/>
  <xsd:element name="ConfiguracionContratacionFormalizacionRequest" type="confMO:ConfiguracionContratacionFormalizacionRequestType"/>
  <xsd:element name="ConfiguracionContratacionFormalizacionResponse" type="confMO:ConfiguracionContratacionFormalizacionResponseType"/>
  <xsd:element name="ConfiguracionImplementacionPCTRequest" type="confMO:ConfiguracionImplementacionPCTRequestType"/>
  <xsd:element name="ConfiguracionImplementacionPCTResponse" type="confMO:ConfiguracionImplementacionPCTResponseType"/>
  <xsd:element name="ConfiguracionEnviarGastoRequest" type="confMO:ConfiguracionEnviarGastoRequestType"/>
  <xsd:element name="ConfiguracionEnviarGastoResponse" type="confMO:ConfiguracionEnviarGastoResponseType"/>
  <xsd:element name="ConfiguracionInteresesCobroRequest" type="confMO:ConfiguracionInteresesCobroRequestType"/>
  <xsd:element name="ConfiguracionInteresesCobroResponse" type="confMO:ConfiguracionInteresesCobroResponseType"/>
  <xsd:element name="ConfiguracionFormalizacionEnmiendasRequest" type="confMO:ConfiguracionFormalizacionEnmiendasRequest"/>
  <xsd:element name="ConfiguracionFormalizacionEnmiendasResponse" type="confMO:ConfiguracionFormalizacionEnmiendasResponse"/>
  <xsd:element name="ConfiguracionLeccionesAprendidasRequest" type="confMO:ConfiguracionLeccionesAprendidasRequestType"/>
  <xsd:element name="ConfiguracionLeccionesAprendidasResponse" type="confMO:ConfiguracionLeccionesAprendidasResponseType"/>
  <!-- Elegibilidad -->
  <xsd:complexType name="ConfiguracionElegibilidadRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idProceso" type="xsd:long"/>
      <xsd:element name="idTarea" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionElegibilidadResponse">
    <xsd:sequence>
      <xsd:element name="configuracionElegibilidad" type="confBO:ConfiguracionElegibilidad"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!-- Preparación -->
  <xsd:complexType name="ConfiguracionPreparacionRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idProceso" type="xsd:long"/>
      <xsd:element name="idTarea" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionPreparacionResponse">
    <xsd:sequence>
      <xsd:element name="configuracionPreparacion" type="confBO:ConfiguracionPreparacion"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Lavado de acvtivos -->
  <xsd:complexType name="ConfiguracionLavadoActivosRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="usuario" type="xsd:string"/>
      <xsd:element name="idProceso" type="xsd:long"/>
      <xsd:element name="idTarea" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionLavadoActivosResponse">
    <xsd:sequence>
      <xsd:element name="configuracionLavadoActivos" type="confBO:ConfiguracionLavadoActivos"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Analisis -->
  <xsd:complexType name="ConfiguracionAnalisisRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idProceso" type="xsd:long"/>
      <xsd:element name="idTarea" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionAnalisisResponse">
    <xsd:sequence>
      <xsd:element name="configuracionAnalisis" type="confBO:ConfiguracionAnalisis"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Formalizacion -->
  <xsd:complexType name="ConfiguracionFormalizacionRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="instanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionFormalizacionResponse">
    <xsd:sequence>
      <xsd:element name="configuracionFormalizacion" type="confBO:ConfiguracionFormalizacion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Aprobacion -->
  <xsd:complexType name="ConfiguracionAprobacionRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionAprobacionResponse">
    <xsd:sequence>
      <xsd:element name="configuracionAprobacion" type="confBO:ConfiguracionAprobacion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Evaluacion -->
  <xsd:complexType name="ConfiguracionEvaluacionRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="instanciaProceso" type="xsd:string"/>
      <xsd:element name="idTipoEvaluacion" type="xsd:decimal"/>
      <xsd:element name="loginUsuario" type="xsd:string"/>
      <xsd:element name="Parameters" type="cmnBO:parameterType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionEvaluacionResponse">
    <xsd:sequence>
      <xsd:element name="configuracionEvaluacion" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--CancelarOperacion -->
  <xsd:complexType name="ConfiguracionCancelarOperacionRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="usuario" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionCancelarOperacionResponse">
    <xsd:sequence>
      <xsd:element name="configuracionCancelarOperacion" type="confBO:ConfiguracionCancelarOperacion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Enmiendas-->
  <xsd:complexType name="ConfiguracionEnmiendasRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idEnmienda" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionEnmiendasResponse">
    <xsd:sequence>
      <xsd:element name="configuracionEnmiendas" type="confBO:ConfiguracionEmniendas"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Administracion Cliente -->
  <xsd:complexType name="ConfiguracionAdministracionClienteRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionAdministracionClienteResponse">
    <xsd:sequence>
      <xsd:element name="configuracionAdministracionCliente" type="confBO:ConfiguracionAdminstracionCliente"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Administracion Operacion -->
  <xsd:complexType name="ConfiguracionAdministracionOperacionRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionAdministracionOperacionResponse">
    <xsd:sequence>
      <xsd:element name="configuracionAdministracionOperacion" type="confBO:ConfiguracionAdminstracionOperacion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Comisiones -->
  <xsd:complexType name="ConfiguracionComisionesRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionComisionesResponse">
    <xsd:sequence>
      <xsd:element name="configuracionComisiones" type="confBO:ConfiguracionComisiones"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Condiciones -->
  <xsd:complexType name="ConfiguracionCondicionesRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idEventoCondicion" type="xsd:long" minOccurs="0"/>
      <xsd:element name="idSolicitud" type="desBO:idDesembolso" minOccurs="0"/>
      <xsd:element name="idContratoDesembolso" type="desBO:idDesembolso" minOccurs="0"/>
      <xsd:element name="Agrupador" type="xsd:long" minOccurs="0"/>
      <xsd:element name="instanciaProceso" type="xsd:int" minOccurs="0" nillable="true"/>
      <xsd:element name="listaCondicion" type="CondicionBO:Condicion"  minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionCondicionesResponse">
    <xsd:sequence>
      <xsd:element name="configuracionCondiciones" type="confBO:ConfiguracionCondiciones"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionReasignarOperacionRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionReasignarOperacionResponse">
    <xsd:sequence>
      <xsd:element name="configuracionReasignarOperacion" type="confBO:ConfiguracionReasignarOperacion"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionReasignarClienteRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="cteBO:idCliente"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionReasignarClienteResponseType">
    <xsd:sequence>
      <xsd:element name="configuracionReasignarCliente" type="confBO:ConfiguracionReasignarCliente"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionSeguimientoCrediticioRequest">
    <xsd:sequence>
      <xsd:element name="idCliente" type="cteBO:idCliente"/>
      <xsd:element name="TIPO_INICIO" type="xsd:normalizedString"/>
      <xsd:element name="InstanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionSeguimientoCrediticioResponse">
    <xsd:sequence>
      <xsd:element name="configuracionSeguimientoCrediticio" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Recuperacion UCE -->
  <xsd:complexType name="ConfiguracionRecuperacionUCERequest">
    <xsd:sequence>
      <xsd:element name="idCliente" type="cteBO:idCliente"/>
      <xsd:element name="InstanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionRecuperacionUCEResponse">
    <xsd:sequence>
      <xsd:element name="configuracionRecuperacionUCE" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionCierreRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="InstanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionCierreResponse">
    <xsd:sequence>
      <xsd:element name="ConfiguracionCierre" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionCierreFideicomisoRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="InstanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionCierreFideicomisoResponse">
    <xsd:sequence>
      <xsd:element name="ConfiguracionCierreFideicomiso" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionSupervisionRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="InstanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionSupervisionResponse">
    <xsd:sequence>
      <xsd:element name="configuracionSupervision" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="ConfiguracionSupervisionAmbientalSocialRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="InstanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionSupervisionAmbientalSocialResponse">
    <xsd:sequence>
      <xsd:element name="configuracionSupervisionAmbientalSocial" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionSeguimientoCobroRequest">
    <xsd:sequence>
      <xsd:element name="idCliente" type="cteBO:idCliente"/>
      <xsd:element name="InstanciaProceso" type="xsd:string"/>
      <xsd:element name="Parameters" type="cmnBO:parameterType" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionSeguimientoCobroResponse">
    <xsd:sequence>
      <xsd:element name="configuracionSeguimientoCobro" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionDesembolsoRequest">
    <xsd:sequence>
      <xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
      <xsd:element name="instanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionDesembolsoResponse">
    <xsd:sequence>
      <xsd:element name="configuracionDesembolso" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionAsignacionRecursosRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="instanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionAsignacionRecursosResponse">
    <xsd:sequence>
      <xsd:element name="configuracionAsgnacionRecursos" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionGestionCobroRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="cteBO:idCliente"/>
      <xsd:element name="InstanciaProceso" type="xsd:string"/>
      <xsd:element name="Parameters" type="cmnBO:parameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionGestionCobroResponseType">
    <xsd:sequence>
      <xsd:element name="configuracionSeguimientoCobro" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionPrepagoRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="instanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionPrepagoResponseType">
    <xsd:sequence>
      <xsd:element name="configuracionPrepago" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionDesembolsoExcepcionRequestType">
    <xsd:sequence>
      <xsd:element name="idSolicitud" type="desBO:idDesembolso"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="instanciaProceso" type="xsd:string"/>
      <xsd:element name="Parameters" type="cmnBO:parameterType" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionDesembolsoExcepcionResponseType">
    <xsd:sequence>
      <xsd:element name="ConfiguracionDesembolsoExcepcion" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionValidacionAsignacionRequestType">
    <xsd:sequence>
      <xsd:element name="idSolicitud" type="desBO:idDesembolso"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="instanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionValidacionAsignacionResponseType">
    <xsd:sequence>
      <xsd:element name="ConfiguracionValidacionAsignacion" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionAprobacionClienteRequestType">
    <xsd:sequence>
      <xsd:element name="idCliente" type="cteBO:idCliente"/>
      <xsd:element name="InstanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionAprobacionClienteResponseType">
    <xsd:sequence>
      <xsd:element name="configuracionAprobacionCliente" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionAdquisicionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idAdquisicion" type="xsd:long"/>
      <xsd:element name="idNoObjecion" type="xsd:long"/>
      <xsd:element name="instanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionAdquisicionResponseType">
    <xsd:sequence>
      <xsd:element name="configuracionAdquisicion" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionContratacionFormalizacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="intanciaProceso" type="xsd:string"/>
      <xsd:element name="Parameters" type="cmnBO:parameterType" maxOccurs="unbounded" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionContratacionFormalizacionResponseType">
    <xsd:sequence>
      <xsd:element name="configuracionContratoFormalizacion" type="confBO:ConfiguracionContratoFormalizacionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionImplementacionPCTRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="intanciaProceso" type="xsd:string"/>
      <xsd:element name="Parameters" type="cmnBO:parameterType" maxOccurs="unbounded" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionImplementacionPCTResponseType">
    <xsd:sequence>
      <xsd:element name="configuracionImplementacionPCT" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionEnviarGastoRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="intanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionEnviarGastoResponseType">
    <xsd:sequence>
      <xsd:element name="configuracionEnviarGasto" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionInteresesCobroRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="intanciaProceso" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionInteresesCobroResponseType">
    <xsd:sequence>
      <xsd:element name="configuracionInteresesCobro" type="confBO:ConfiguracionType"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Formalización de Enmiendas-->
  <xsd:complexType name="ConfiguracionFormalizacionEnmiendasRequest">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idEnmienda" type="xsd:long"/>
      <xsd:element name="idProceso" type="xsd:long"/>
      <xsd:element name="idTarea" type="xsd:long"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionFormalizacionEnmiendasResponse">
     <xsd:sequence>
      <xsd:element name="configuracionFormalizacionEnmiendas" type="confBO:ConfiguracionFormalizacionEnmiendas"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <!--Lecciones Aprendidas -->
  <xsd:complexType name="ConfiguracionLeccionesAprendidasRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="LeccionAprendida" type="lecciones:LeccionAprendidaType" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfiguracionLeccionesAprendidasResponseType">
    <xsd:sequence>
      <xsd:element name="configuracionLeccionesAprendidas" type="confBO:ConfiguracionLeccionesAprendidas"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>