MIRA/SOA_PRD_Almacenes/CreateSupplierProcess/SOA/WSDLs/CreateSupplierProcess.WSDL

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Suppliers/CreateSupplierProcess/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:supp="http://mx.agarcia.ea/Capabilities/Core/Suppliers/CreateSupplierProcess/v1.0" xmlns:ns1="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" schemaLocation="../Schemas/Commons/SupplierEntitySchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../Schemas/Commons/AGStandardMessageSchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../Schemas/Commons/AGStandardHeaderSchema.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="createSupplierRequest">
      <wsdl:part name="createSupplierRequest" element="ns1:createSupplierRequest"/>
   </wsdl:message>
   <wsdl:message name="createSupplierResponse">
      <wsdl:part name="createSupplierResponse" element="ns1:createSupplierResponse"/>
   </wsdl:message>
   <wsdl:message name="standardMessageFault">
      <wsdl:part name="fault" element="AGSM:messageError"/>
   </wsdl:message>
   <wsdl:message name="standardMessageHeader">
      <wsdl:part name="header" element="AGSH:headerMessage"/>
   </wsdl:message>
   <wsdl:portType name="CreateSupplierPType">
      <wsdl:operation name="createSupplier">
         <wsdl:input message="supp:createSupplierRequest"/>
         <wsdl:output message="supp:createSupplierResponse"/>
         <wsdl:fault message="supp:standardMessageFault" name="fault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="CreateSupplierBinding" type="supp:CreateSupplierPType">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="createSupplier">
         <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/Suppliers/CreateSupplierProcess/v1.0/createSupplier"/>
         <wsdl:input>
            <soap:body use="literal" parts="createSupplierRequest"/>
            <soap:header message="supp:standardMessageHeader" part="header" use="literal"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="createSupplierResponse"/>
         </wsdl:output>
         <wsdl:fault name="fault">
            <soap:fault name="fault" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
