Banesco_2023/SOA/BanescoT24SOA/SAGAPartyStatusAppSvc/SOA/WSDLs/SAGAEmpPartyAppSvc_V1.0.wsdl

<wsdl:definitions name="SAGAEmpPartyAppSvc" targetNamespace="http://xmlns.banesco.com/AppSvc/SAGAEmpPartySvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/SAGAEmpPartySvc_V1.0"
                  xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/"
                  xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"
                  xmlns:pc="http://xmlns.oracle.com/pcbpel/"
                  xmlns:appoptEmpPartyStatusMod="http://xmlns.banesco.com/appopt/SAGAPartyAppSvc/EmpPartyStatusMod_V1.0"
                  xmlns:appoptEmpPartyStatusFail="http://xmlns.banesco.com/appopt/SAGAPartyAppSvc/EmpPartyStatusModFail_V1.0"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:apoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema">
            <import namespace="http://xmlns.banesco.com/appopt/SAGAPartyAppSvc/EmpPartyStatusMod_V1.0"
                    schemaLocation="../Schemas/EmpPartyStatusModNXSD_V1.0.xsd"/>
            <import namespace="http://xmlns.banesco.com/appopt/SAGAPartyAppSvc/EmpPartyStatusModFail_V1.0"
                    schemaLocation="../Schemas/EmpPartyStatusFailNXSD_V1.0.xsd"/>
            <import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                    schemaLocation="../Schemas/AOptCommon_V1.0.xsd"/>
        </schema>
    </wsdl:types>
    <wsdl:message name="EmpPartyStatusModRq">
        <wsdl:part name="EmpPartyStatusModRq" element="appoptEmpPartyStatusMod:Parties"/>
    </wsdl:message>
    <wsdl:message name="EmpPartyStatusFailRq">
        <wsdl:part name="EmpPartyStatusModRq" element="appoptEmpPartyStatusFail:Parties"/>
    </wsdl:message>
     <wsdl:message name="MsgHdrRq">
        <wsdl:part name="MsgHdrRq" element="apoptCommon:MsgHdrRq"/>
    </wsdl:message>
    <wsdl:portType name="SAGAEmpPartyAppSvc_V1.0">
        <wsdl:operation name="EmpPartyStatusMod">
            <wsdl:input message="tns:EmpPartyStatusModRq"/>
        </wsdl:operation>
    </wsdl:portType>
    <plt:partnerLinkType name="SAGAEmpPartyAppSvcPL">
        <plt:role name="EmpPartyStatusMod_role">
            <plt:portType name="tns:SAGAEmpPartyAppSvc_V1.0"/>
        </plt:role>
    </plt:partnerLinkType>
    <wsdl:binding name="SAGAEmpPartyAppSvc_V1.0SOAP11Binding" type="tns:SAGAEmpPartyAppSvc_V1.0">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="EmpPartyStatusMod">
            <soap:operation style="document"
                            soapAction="http://xmlns.banesco.com/AppSvc/SAGAEmpPartySvc_V1.0/EmpPartyStatusMod"/>
            <wsdl:input>
                <soap:body use="literal" parts="EmpPartyStatusModRq"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:portType name="SAGEmpPartyAppFailSvc_V1.0">
        <wsdl:operation name="EmpPartyStatusMod">
            <wsdl:input message="tns:EmpPartyStatusFailRq"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="SAGEmpPartyAppFailSvc_V1.0SOAP11Binding" type="tns:SAGEmpPartyAppFailSvc_V1.0">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="EmpPartyStatusMod">
            <soap:operation style="document"
                            soapAction="http://xmlns.banesco.com/AppSvc/SAGAEmpPartySvc_V1.0/EmpPartyStatusMod"/>
            <wsdl:input>
                <soap:body use="literal" parts="EmpPartyStatusModRq"/>
            </wsdl:input>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>
