BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Condicion/ConsultarAgrupadorByCondicion/XSD/ConsultarAgrupadorByCondicion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAgrupadorByCondicion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAgrupadorByCondicion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarAgrupadorByCondicionInput" type="ConsultarAgrupadorByCondicionInput"/>
   <xs:complexType name="ConsultarAgrupadorByCondicionInput">
      <xs:sequence>
         <xs:element name="P_ID_CONTRATO" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarAgrupadorByCondicionOutputCollection" type="ConsultarAgrupadorByCondicionOutputCollection"/>
   <xs:complexType name="ConsultarAgrupadorByCondicionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarAgrupadorByCondicionOutput" type="ConsultarAgrupadorByCondicionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarAgrupadorByCondicionOutput">
      <xs:sequence>
         <xs:element name="AGRUPADOR" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>