Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/TechLayer/Check/ChkTechSvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/TechLayer/ChkTechSvc_V1.0"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.banesco.com/TechLayer/ChkTechSvc_V1.0"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptChkOrdAdd="http://xmlns.banesco.com/eopt/ChkOrdAdd_V1.0"
             xmlns:eoptChkOrdMod="http://xmlns.banesco.com/eopt/ChkOrdMod_V1.0"
             xmlns:eoptChkImageInq="http://xmlns.banesco.com/eopt/ChkImageInq_V1.0"
             xmlns:eoptChkEnableAdd="http://xmlns.banesco.com/eopt/ChkEnableAdd_V1.0"
             xmlns:eoptChkChargeAdd="http://xmlns.banesco.com/eopt/ChkChargeAdd_V1.0"
             xmlns:eoptChkAdd="http://xmlns.banesco.com/eopt/ChkAdd_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Check/ChkOrdAdd/ChkOrdAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/ChkOrdAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Check/ChkOrdMod/ChkOrdMod_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/ChkOrdMod_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Check/ChkImageInq/ChkImageInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/ChkImageInq_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Check/ChkEnableAdd/ChkEnableAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/ChkEnableAdd_V1.0"/>
      <xsd:import schemaLocation="../../../xsd/EOpt/Check/ChkChargeAdd/ChkChargeAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/ChkChargeAdd_V1.0"/>                 
      <xsd:import schemaLocation="../../../xsd/EOpt/Check/ChkAdd/ChkAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/ChkAdd_V1.0"/>
    </xsd:schema>
  </types>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="ChkOrdAddRq">
    <part name="ChkOrdAddRq" element="eoptChkOrdAdd:ChkOrdAddRq"/>
  </message>
  <message name="ChkOrdAddRs">
    <part name="ChkOrdAddRs" element="eoptChkOrdAdd:ChkOrdAddRs"/>
  </message>
  <message name="ChkOrdModRq">
    <part name="ChkOrdModRq" element="eoptChkOrdMod:ChkOrdModRq"/>
  </message>
  <message name="ChkOrdModRs">
    <part name="ChkOrdModRs" element="eoptChkOrdMod:ChkOrdModRs"/>
  </message>
  <message name="ChkImageInqRq">
    <part name="ChkImageInqRq" element="eoptChkImageInq:ChkImageInqRq"/>
  </message>
  <message name="ChkImageInqRs">
    <part name="ChkImageInqRs" element="eoptChkImageInq:ChkImageInqRs"/>
  </message>
  <message name="ChkEnableAddRq">
    <part name="ChkEnableAddRq" element="eoptChkEnableAdd:ChkEnableAddRq"/>
  </message>
  <message name="ChkEnableAddRs">
    <part name="ChkEnableAddRs" element="eoptChkEnableAdd:ChkEnableAddRs"/>
  </message>
  <message name="ChkChargeAddRq">
    <part name="ChkChargeAddRq" element="eoptChkChargeAdd:ChkChargeAddRq"/>
  </message>
  <message name="ChkChargeAddRs">
    <part name="ChkChargeAddRs" element="eoptChkChargeAdd:ChkChargeAddRs"/>
  </message>
   <message name="ChkAddRq">
    <part name="ChkAddRq" element="eoptChkAdd:ChkAddRq"/>
  </message>
  <message name="ChkAddRs">
    <part name="ChkAddRs" element="eoptChkAdd:ChkAddRs"/>
  </message>
  
  <portType name="ChkTechSvc_V1.0PortType">
    <operation name="ChkOrdAdd">
      <input message="tns:ChkOrdAddRq"/>
      <output message="tns:ChkOrdAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="ChkOrdMod">
      <input message="tns:ChkOrdModRq"/>
      <output message="tns:ChkOrdModRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="ChkImageInq">
      <input message="tns:ChkImageInqRq"/>
      <output message="tns:ChkImageInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="ChkEnableAdd">
      <input message="tns:ChkEnableAddRq"/>
      <output message="tns:ChkEnableAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="ChkChargeAdd">
      <input message="tns:ChkChargeAddRq"/>
      <output message="tns:ChkChargeAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="ChkAdd">
      <input message="tns:ChkAddRq"/>
      <output message="tns:ChkAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation> 
  </portType>
  <service name="ChkTechSvc_V1.0">
    <port name="ChkTechSvcPort" binding="tns:ChkTechSvc_V1.0SOAPBinding">
      <soap:address location="http://www.example.com"/>
    </port>
  </service>
  <binding name="ChkTechSvc_V1.0SOAPBinding" type="tns:ChkTechSvc_V1.0PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ChkOrdAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/ChkTechSvc_V1.0/ChkOrdAdd"/>
      <input>
        <soap:body use="literal" parts="ChkOrdAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="ChkOrdAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="ChkOrdMod">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/ChkTechSvc_V1.0/ChkOrdMod"/>
      <input>
        <soap:body use="literal" parts="ChkOrdModRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="ChkOrdModRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="ChkImageInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/ChkTechSvc_V1.0/ChkImageInq"/>
      <input>
        <soap:body use="literal" parts="ChkImageInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="ChkImageInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="ChkEnableAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/ChkTechSvc_V1.0/ChkEnableAdd"/>
      <input>
        <soap:body use="literal" parts="ChkEnableAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="ChkEnableAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
     <operation name="ChkChargeAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/ChkTechSvc_V1.0/ChkChargeAdd"/>
      <input>
        <soap:body use="literal" parts="ChkChargeAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="ChkChargeAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
     <operation name="ChkAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/ChkTechSvc_V1.0/ChkAdd"/>
      <input>
        <soap:body use="literal" parts="ChkAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="ChkAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    
  </binding>
</definitions>