BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/EliminarEvaluacion/XSD/EliminarEvaluacion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/EliminarEvaluacion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/EliminarEvaluacion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="EliminarEvaluacionInput" type="EliminarEvaluacionInput"/>
   <xs:complexType name="EliminarEvaluacionInput">
      <xs:sequence>
         <xs:element name="idEvaluacion" type="xs:decimal" nillable="true"/>
         <xs:element name="codigoExterno" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>