BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLeccionesAprendidas/ConsultarRolesCategoriaLeccionAprendida/XSD/ConsultarRolesCategoriaLeccion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarRolesCategoriaLeccion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarRolesCategoriaLeccion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarRolesCategoriaLeccionInput" type="ConsultarRolesCategoriaLeccionInput"/>
   <xs:complexType name="ConsultarRolesCategoriaLeccionInput">
      <xs:sequence>
         <xs:element name="idLeccion" type="xs:long" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarRolesCategoriaLeccionOutputCollection" type="ConsultarRolesCategoriaLeccionOutputCollection"/>
   <xs:complexType name="ConsultarRolesCategoriaLeccionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarRolesCategoriaLeccionOutput" type="ConsultarRolesCategoriaLeccionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarRolesCategoriaLeccionOutput">
      <xs:sequence>
         <xs:element name="ID_LECCION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_CATEGORIA_LECCION" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_CATEGORIA" type="xs:string" nillable="true"/>
         <xs:element name="ID_TCA_ROL_BPM" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_ROL" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_ROL" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>