AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/DownloadInventoryItemAPP/CreateFileDowInvItem/Resources/WSDLs/CreateDIInvFileWSDL.wsdl

<wsdl:definitions name="CreateDIInvFileWSDL" targetNamespace="http://xmlns.oracle.com/OSBAGApp/DownloadInventoryItemAPP/CreateDIInvFileWSDL" xmlns:tns="http://xmlns.oracle.com/OSBAGApp/DownloadInventoryItemAPP/CreateDIInvFileWSDL" xmlns:inp1="http://www.agarcia.mx/EnterpriseObjects/DownloadInventoryItem" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/DownloadInventoryItem" schemaLocation="../../../../MetaData/Components/EnterpriseObjectLibrary/EBO/DownloadInventoryItem/DownloadInventoryItemEBM.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="requestMessage">
        <wsdl:part name="part1" element="inp1:ProcessDownloadInventoryItemEBM"/>
    </wsdl:message>
    <wsdl:message name="replyMessage">
        <wsdl:part name="part1" element="inp1:DownloadInventoryItemResponse"/>
    </wsdl:message>
    
    <wsdl:message name="requestMessageRMS">
        <wsdl:part name="part1" element="inp1:ProcessDownloadInventoryItemEBM"/>
    </wsdl:message>
    <wsdl:message name="replyMessageRMS">
        <wsdl:part name="part1" element="inp1:DownloadInventoryItemResponse"/>
    </wsdl:message>
    
    <wsdl:portType name="execute_ptt">
        <wsdl:operation name="ToOthers">
            <wsdl:input message="tns:requestMessage"/>
            <wsdl:output message="tns:replyMessage"/>
        </wsdl:operation>
        
        <wsdl:operation name="ToArchRms">
            <wsdl:input message="tns:requestMessageRMS"/>
            <wsdl:output message="tns:replyMessageRMS"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="execute_bind" type="tns:execute_ptt">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="ToOthers">
            <soap:operation style="document" soapAction="ToOthers"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/OSBAGApp/DownloadInventoryItemAPP/CreateDIInvFileWSDL"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/OSBAGApp/DownloadInventoryItemAPP/CreateDIInvFileWSDL"/>
            </wsdl:output>
        </wsdl:operation>
        
        <wsdl:operation name="ToArchRms">
            <soap:operation style="document" soapAction="ToArchRms"/>
            <wsdl:input>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/OSBAGApp/DownloadInventoryItemAPP/CreateDIInvFileWSDL"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" namespace="http://xmlns.oracle.com/OSBAGApp/DownloadInventoryItemAPP/CreateDIInvFileWSDL"/>
            </wsdl:output>
        </wsdl:operation>
        
    </wsdl:binding>
</wsdl:definitions>