BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ConsultarConfiguracion/XSD/ConsultarConfiguracion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarConfiguracion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarConfiguracion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarConfiguracionInput" type="ConsultarConfiguracionInput"/>
   <xs:complexType name="ConsultarConfiguracionInput">
      <xs:sequence>
         <xs:element name="llave" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarConfiguracionOutputCollection" type="ConsultarConfiguracionOutputCollection"/>
   <xs:complexType name="ConsultarConfiguracionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarConfiguracionOutput" type="ConsultarConfiguracionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarConfiguracionOutput">
      <xs:sequence>
         <xs:element name="LLAVE" type="xs:string" nillable="true"/>
         <xs:element name="VALOR" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>