Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/TechLayer/AccountDep/AcctDepTechSvc_V1.0.wsdl

<definitions targetNamespace="http://xmlns.banesco.com/TechLayer/AcctDepTechSvc_V1.0"
             xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.banesco.com/TechLayer/AcctDepTechSvc_V1.0"
             xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
             xmlns:eoptAcctFixDepAdd="http://xmlns.banesco.com/eopt/AcctFixDepAdd_V1.0"
             xmlns:eoptAcctFixDepInq="http://xmlns.banesco.com/eopt/AcctFixDepInq_V1.0">
  <types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
	  <xsd:import schemaLocation="../../../xsd/EOpt/AccountDep/AcctFixDepAdd/AcctFixDepAdd_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctFixDepAdd_V1.0"/>
          <xsd:import schemaLocation="../../../xsd/EOpt/AccountDep/AcctFixDepInq/AcctFixDepInq_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eopt/AcctFixDepInq_V1.0"/>
    </xsd:schema>
  </types>
  <message name="SystemFault">
    <part name="SystemFault" element="eoStatus:SystemFault"/>
  </message>
  <message name="AcctFixDepAddRq">
    <part name="AcctFixDepAddRq" element="eoptAcctFixDepAdd:AcctFixDepAddRq"/>
  </message>
  <message name="AcctFixDepAddRs">
    <part name="AcctFixDepAddRs" element="eoptAcctFixDepAdd:AcctFixDepAddRs"/>
  </message>
  <message name="PersonAcctFixDepInqRq">
    <part name="PersonAcctFixDepInqRq" element="eoptAcctFixDepInq:PersonAcctFixDepInqRq"/>
  </message>
  <message name="PersonAcctFixDepInqRs">
    <part name="PersonAcctFixDepInqRs" element="eoptAcctFixDepInq:PersonAcctFixDepInqRs"/>
  </message>
  <message name="OrgAcctFixDepInqRq">
    <part name="OrgAcctFixDepInqRq" element="eoptAcctFixDepInq:OrgAcctFixDepInqRq"/>
  </message>
  <message name="OrgAcctFixDepInqRs">
    <part name="OrgAcctFixDepInqRs" element="eoptAcctFixDepInq:OrgAcctFixDepInqRs"/>
  </message>
  
  <portType name="AcctDepTechSvc_V1.0PortType">
    <operation name="AcctFixDepAdd">
      <input message="tns:AcctFixDepAddRq"/>
      <output message="tns:AcctFixDepAddRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="PersonAcctFixDepInq">
      <input message="tns:PersonAcctFixDepInqRq"/>
      <output message="tns:PersonAcctFixDepInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
    <operation name="OrgAcctFixDepInq">
      <input message="tns:OrgAcctFixDepInqRq"/>
      <output message="tns:OrgAcctFixDepInqRs"/>
      <fault name="SystemFault" message="tns:SystemFault"/>
    </operation>
  </portType>
  
  <binding name="AcctDepTechSvc_V1.0SOAPBinding" type="tns:AcctDepTechSvc_V1.0PortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <operation name="AcctFixDepAdd">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctDepTechSvc_V1.0/AcctFixDepAdd"/>
      <input>
        <soap:body use="literal" parts="AcctFixDepAddRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="AcctFixDepAddRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="PersonAcctFixDepInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctDepTechSvc_V1.0/PersonAcctFixDepInq"/>
      <input>
        <soap:body use="literal" parts="PersonAcctFixDepInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="PersonAcctFixDepInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
    <operation name="OrgAcctFixDepInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/TechLayer/AcctDepTechSvc_V1.0/OrgAcctFixDepInq"/>
      <input>
        <soap:body use="literal" parts="OrgAcctFixDepInqRq"/>
      </input>
      <output>
        <soap:body use="literal" parts="OrgAcctFixDepInqRs"/>
      </output>
      <fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </fault>
    </operation>
  </binding>
  
  <service name="AcctDepTechSvc_V1.0">
    <port name="AcctDepTechSvcPort" binding="tns:AcctDepTechSvc_V1.0SOAPBinding">
      <soap:address location="http://localhost/"/>
    </port>
  </service>
</definitions>