AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ResponseProtosAdapterService/MetaData/Components/EnterpriseObjectLibrary/Common/Entry.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:bam="http://xmlns.oracle.com/Monitoring/BAM"
            targetNamespace="http://xmlns.oracle.com/Monitoring/BAM" elementFormDefault="qualified">
  <xsd:complexType name="EntryType">
    <xsd:sequence>
      <xsd:element name="TrackingID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="InstanceID" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Service" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Operation" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Target" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Source" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MessageCode" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Message" type="xsd:string" minOccurs="0"/>
      <xsd:element name="MessageType" type="xsd:string" minOccurs="0"/>
      <xsd:element name="StackTrace" type="xsd:string" minOccurs="0"/>
      <xsd:element name="CreationDateTime" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="LastUpdateDateTime" type="xsd:dateTime" minOccurs="0"/>
      <xsd:element name="CreatedBy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="LastUpdatedBy" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Dynamic1" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Dynamic2" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Dynamic3" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Dynamic4" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Dynamic5" type="xsd:string" minOccurs="0"/>
      
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Entry" type="bam:EntryType"/>
</xsd:schema>