BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ConstruirCorreoElectronico/XSD/ConstruirCorreoElectronico_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/FENIX/PKG_ENVIAR_CORREO/P_CONSTRUIR_CORREO/" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/FENIX/PKG_ENVIAR_CORREO/P_CONSTRUIR_CORREO/" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_ID_PLATILLA" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ID_OPERACION" type="decimal" db:index="2" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ID_CLIENTE" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_TAGS" type="db:FENIX.T_TAGS" db:index="4" db:type="Array" minOccurs="0" nillable="true"/>
            <element name="P_ASUNTO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MENSAJE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_DESTINATARIOS" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_CC" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_ASUNTO" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MENSAJE" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_DESTINATARIOS" type="string" db:index="7" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_CC" type="string" db:index="8" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="FENIX.T_TAGS_DEFINICION">
      <sequence>
         <element name="TAG" type="db:string100" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         <element name="VALOR" type="db:string4000" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
      </sequence>
   </complexType>
   <complexType name="FENIX.T_TAGS">
      <sequence>
         <element name="P_TAGS_ITEM" type="db:FENIX.T_TAGS_DEFINICION" db:type="Struct" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
      </sequence>
   </complexType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
   <simpleType name="string4000">
      <restriction base="string">
         <maxLength value="4000"/>
      </restriction>
   </simpleType>
</schema>
