BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ConsultarAcciones/XSD/ConsultarAcciones.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAcciones" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarAcciones" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarAccionesInput" type="ConsultarAccionesInput"/>
   <xs:complexType name="ConsultarAccionesInput">
      <xs:sequence>
         <xs:element name="pIdAccion" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarAccionesOutputCollection" type="ConsultarAccionesOutputCollection"/>
   <xs:complexType name="ConsultarAccionesOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarAccionesOutput" type="ConsultarAccionesOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarAccionesOutput">
      <xs:sequence>
         <xs:element name="IdAccion" type="xs:decimal" nillable="true"/>
         <xs:element name="IdCliente" type="xs:decimal" nillable="true"/>
         <xs:element name="IdOperacion" type="xs:decimal" nillable="true"/>
         <xs:element name="Accion" type="xs:string" nillable="true"/>
         <xs:element name="IdEstadoAccion" type="xs:decimal" nillable="true"/>
         <xs:element name="IdTcaCategoriaAccion" type="xs:decimal" nillable="true"/>
         <xs:element name="IdTcaRolAsignado" type="xs:decimal" nillable="true"/>
         <xs:element name="FechaRegistro" type="xs:dateTime" nillable="true"/>
         <xs:element name="FechaAtencion" type="xs:dateTime" nillable="true"/>
         <xs:element name="BanEstatus" type="xs:decimal" nillable="true"/>
         <xs:element name="DescripcionCorta" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>