Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Account/CreditCalInq/CreditCalInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/CreditCalInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptCreditCalInq="http://xmlns.banesco.com/eopt/CreditCalInq_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:element name="CreditCalInqRq_Type" type="eoptCreditCalInq:CreditCalInqRq_Type"/>
	<xs:complexType name="CreditCalInqRq_Type">
		<xs:sequence>
			<xs:element name="Acct" type="eoAcct:Acct" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Account que contiene los datos del préstamo a calcular</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Party" type="eoPar:Party" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Party que contiene los datos del cliente asociado al prestamo.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CreditCalInqRs_Type" type="eoptCreditCalInq:CreditCalInqRs_Type"/>
	<xs:complexType name="CreditCalInqRs_Type">
		<xs:sequence>
			<xs:element name="Acct" type="eoAcct:Acct" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Account que contiene los datos del préstamo a calcular</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Party" type="eoPar:Party" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Party que contiene los datos del cliente asociado al prestamo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CreditCalInqRq" type="eoptCreditCalInq:CreditCalInqRq_Type"/>
	<xs:element name="CreditCalInqRs" type="eoptCreditCalInq:CreditCalInqRs_Type"/>
</xs:schema>
