BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/SolicitudAprobacion/ConsultarVotos/XSD/ConsultarVotosEmitidos_BD.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarVotosEmitidos_BD" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarVotosEmitidos_BD" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarVotosEmitidos_BDInput" type="ConsultarVotosEmitidos_BDInput"/>
   <xs:complexType name="ConsultarVotosEmitidos_BDInput">
      <xs:sequence>
         <xs:element name="idSolicitud" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarVotosEmitidos_BDOutputCollection" type="ConsultarVotosEmitidos_BDOutputCollection"/>
   <xs:complexType name="ConsultarVotosEmitidos_BDOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarVotosEmitidos_BDOutput" type="ConsultarVotosEmitidos_BDOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarVotosEmitidos_BDOutput">
      <xs:sequence>
         <xs:element name="TIPO_DECISION" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION" type="xs:string" nillable="true"/>
         <xs:element name="USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_HORA" type="xs:dateTime" nillable="true"/>
         <xs:element name="COMENTARIO" type="xs:string" nillable="true"/>
         <xs:element name="NOMBRE_USUARIO" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>