AG_2019/OSB/OSB_PRD_Almacenes/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Resources/WSDL/RetailStoreEntitySvc.wsdl

<wsdl:definitions name="RetailStoreEntitySvc" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc" xmlns:ret="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
    
    
    <wsdl:types>
        <xsd:schema>
            <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/Schema" schemaLocation="../Schema/RetailStoreEntitySchema.xsd"/>
        
        <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
        <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
              </xsd:schema>
    </wsdl:types>
    
    
    <wsdl:message name="createRetailStoreRequest">
        <wsdl:part name="createRetailStoreRequest" element="inp1:createRetailStoreRequest"/>
    </wsdl:message>
    <wsdl:message name="createRetailStoreResponse">
        <wsdl:part name="createRetailStoreResponse" element="inp1:createRetailStoreResponse"/>
    </wsdl:message>
    <wsdl:message name="findByIdRetailStoreRequest">
        <wsdl:part name="findByIdRetailStoreRequest" element="inp1:findByIdRequest"/>
    </wsdl:message>
    <wsdl:message name="findByIdRetailStoreResponse">
        <wsdl:part name="findByIdRetailStoreResponse" element="inp1:findByIdResponse"/>
    </wsdl:message>
     <wsdl:message name="findByFilterRetailStoreRequest">
        <wsdl:part name="findByFilterRetailStoreRequest" element="inp1:findByFilterRequest"/>
    </wsdl:message>
    <wsdl:message name="findByFilterRetailStoreResponse">
        <wsdl:part name="findByFilterRetailStoreResponse" element="inp1:findByFilterResponse"/>
    </wsdl:message>
    <wsdl:message name="modifyRetailStoreRequest">
        <wsdl:part name="modifyRetailStoreRequest" element="inp1:modifyRequest"/>
    </wsdl:message>
    <wsdl:message name="modifyRetailStoreResponse">
        <wsdl:part name="modifyRetailStoreResponse" element="inp1:modifyResponse"/>
    </wsdl:message>
    <wsdl:message name="activateRetailStoreRequest">
        <wsdl:part name="activateRetailStoreRequest" element="inp1:activeRetailStoreRequest"/>
    </wsdl:message>
    <wsdl:message name="activateRetailStoreResponse">
        <wsdl:part name="activateRetailStoreResponse" element="inp1:activeRetailStoreResponse"/>
    </wsdl:message>
    <wsdl:message name="inactivateRetailStoreRequest">
        <wsdl:part name="inactivateRetailStoreRequest" element="inp1:inactiveRetailStoreRequest"/>
    </wsdl:message>
    <wsdl:message name="inactivateRetailStoreResponse">
        <wsdl:part name="inactivateRetailStoreResponse" element="inp1:inactiveRetailStoreResponse"/>
    </wsdl:message>
    <wsdl:message name="standarMessageFault">
        <wsdl:part name="fault" element="AGSM:messageError"/>
    </wsdl:message>
    <wsdl:message name="standarMessageHeader">
        <wsdl:part name="header" element="AGSH:headerMessage"/>
    </wsdl:message>
 
    <wsdl:portType name="RetailStorePType">
        <wsdl:operation name="create">
            <wsdl:input message="ret:createRetailStoreRequest"/>
            <wsdl:output message="ret:createRetailStoreResponse"/>
            <wsdl:fault name="fault" message="ret:standarMessageFault"/>
        </wsdl:operation>
        <wsdl:operation name="findById">
            <wsdl:input message="ret:findByIdRetailStoreRequest"/>
            <wsdl:output message="ret:findByIdRetailStoreResponse"/>
            <wsdl:fault name="fault" message="ret:standarMessageFault"/>
        </wsdl:operation>
        <wsdl:operation name="findByFilter">
            <wsdl:input message="ret:findByFilterRetailStoreRequest"/>
            <wsdl:output message="ret:findByFilterRetailStoreResponse"/>
            <wsdl:fault name="fault" message="ret:standarMessageFault"/>
        </wsdl:operation>
        <wsdl:operation name="modify">
            <wsdl:input message="ret:modifyRetailStoreRequest"/>
            <wsdl:output message="ret:modifyRetailStoreResponse"/>
            <wsdl:fault name="fault" message="ret:standarMessageFault"/>
        </wsdl:operation>
        <wsdl:operation name="activate">
            <wsdl:input message="ret:activateRetailStoreRequest"/>
            <wsdl:output message="ret:activateRetailStoreResponse"/>
            <wsdl:fault name="fault" message="ret:standarMessageFault"/>
        </wsdl:operation>
        <wsdl:operation name="inactivate">
            <wsdl:input message="ret:inactivateRetailStoreRequest"/>
            <wsdl:output message="ret:inactivateRetailStoreResponse"/>
            <wsdl:fault name="fault" message="ret:standarMessageFault"/>
        </wsdl:operation>
        <wsdl:operation name="translate">
            <wsdl:input message="ret:translateRetailStoreRequest"/>
            <wsdl:output message="ret:translateRetailStoreResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:message name="translateRetailStoreRequest">
        <wsdl:part name="request" element="inp1:translateRequest"/>
    </wsdl:message>
    <wsdl:message name="translateRetailStoreResponse">
        <wsdl:part name="response" element="inp1:translateResponse"/>
    </wsdl:message>
    <wsdl:binding name="RetailStore_Binding" type="ret:RetailStorePType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="create">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/create"/>
            <wsdl:input>
                <soap:body use="literal" parts="createRetailStoreRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="createRetailStoreResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findById">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/findById"/>
            <wsdl:input>
                <soap:body use="literal" parts="findByIdRetailStoreRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="findByIdRetailStoreResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="findByFilter">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/findByFilter"/>
            <wsdl:input>
                <soap:body use="literal" parts="findByFilterRetailStoreRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="findByFilterRetailStoreResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="modify">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/modify"/>
            <wsdl:input>
                <soap:body use="literal" parts="modifyRetailStoreRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="modifyRetailStoreResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="activate">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/activate"/>
            <wsdl:input>
                <soap:body use="literal" parts="activateRetailStoreRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="activateRetailStoreResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="inactivate">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/inactivate"/>
            <wsdl:input>
                <soap:body use="literal" parts="inactivateRetailStoreRequest"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="inactivateRetailStoreResponse"/>
            </wsdl:output>
            <wsdl:fault name="fault">
                <soap:fault name="fault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="translate">
            <soap:operation style="document" soapAction="http://mx.agarcia.ea/Capabilities/Core/RetailStore/RetailStoreEntitySvc/translate"/>
            <wsdl:input>
                <soap:body use="literal" parts="request"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="response"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
</wsdl:definitions>