MIRA/SOA_PRD_Almacenes/JDACreateSupplierProcess/SOA/Schemas/BusinessAreas/Support/Enterprise/BusinessUnitCommonDataSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Support/Enterprise/Commons/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Support/Enterprise/Commons/v1" xmlns:but="http://mx.agarcia.ea/BusinessAreas/Support/Enterprise/BusinessUnitTypeCodeEnum/v1" xmlns:loc="http://mx.agarcia.ea/Canonical/Commons/LocationsCommon/v1" xmlns:cper="http://mx.agarcia.ea/Canonical/Commons/Persons/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="BusinessUnitTypeCodeEnumeration.xsd" namespace="http://mx.agarcia.ea/BusinessAreas/Support/Enterprise/BusinessUnitTypeCodeEnum/v1"/>
   <xs:import schemaLocation="../../../Commons/LocationCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/LocationsCommon/v1"/>
   <xs:import schemaLocation="../../../Commons/PersonCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Persons/v1"/>
   <xs:complexType name="BusinessUnitCommonData">
      <xs:annotation>
         <xs:documentation>Business Unit Common Data Node describing the
				location.
				Contains one or more of RetailStore, DistributionCenter, InventoryLocation
				and
				AdminstrativeCenter.
			</xs:documentation>
      </xs:annotation>
      <xs:simpleContent>
         <xs:extension base="xs:string">
            <xs:attribute name="Name" type="xs:string" use="optional">
               <xs:annotation>
                  <xs:documentation>The name of the business unit</xs:documentation>
               </xs:annotation>
            </xs:attribute>
            <xs:attribute name="TypeCode" type="but:BusinessUnitTypeCode" use="optional" default="RetailStore"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="BusinessUnitComplexType">
      <xs:sequence>
         <xs:element form="qualified" name="UnitID">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="base:BusinessUnitCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Address">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="loc:AddressCommonData"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Telephone" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
