BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/LimitesExposicion/XSD/XMLSchema_Limites.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.5. --><xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:lim="http://org/bcie/ws/middle/LIMITES.wsdl" targetNamespace="http://org/bcie/ws/middle/LIMITES.wsdl" elementFormDefault="qualified">
    <xsd:element name="ValidarLimitesRequest" type="lim:ValidarLimitesRequestType"/>
    <xsd:complexType name="ValidarLimitesRequestType">
        <xsd:sequence>
            <xsd:element name="pais" type="xsd:string"/>
            <xsd:element name="codigoCliente" type="xsd:string"/>
            <xsd:element name="grupoEmpresarial" type="xsd:string"/>
            <xsd:element name="moneda" type="xsd:string"/>
            <xsd:element name="monto" type="xsd:float"/>
            <xsd:element name="sectorInstitucional" type="xsd:string"/>
            <xsd:element name="tipoGarantia" type="xsd:integer"/>
            <xsd:element name="destino" type="xsd:string"/>
            <xsd:element name="revolvente" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="Limite">
        <xsd:sequence>
            <xsd:element name="id" type="xsd:integer"/>
            <xsd:element name="descripcion" type="xsd:string"/>
            <xsd:element name="valor" type="xsd:string"/>
            <xsd:element name="EsPorcentaje" type="xsd:integer"/>   <!-- evarela 9jul2015 Bandera que indica si la diferencia en el limite es porcentaje o valor .... -->
            <xsd:element name="DifPorcentaje" type="xsd:float"/>  <!-- evarela 9jul2015 .... -->
            <xsd:element name="DifMonto" type="xsd:float"/>       <!-- The following element is .... -->
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ValidarLimitesResponse" type="lim:ValidarLimitesResponseType"/>
    <xsd:complexType name="ValidarLimitesResponseType">
        <xsd:sequence>
            <xsd:element name="codigoResultado" type="xsd:integer"/>
            <xsd:element name="tipoResultado" type="xsd:integer"/>
            <xsd:element name="mensaje" type="xsd:string"/>
            <xsd:element name="listaLimites">
                <xsd:complexType>
                    <xsd:sequence maxOccurs="unbounded">
                        <xsd:element name="limite" type="lim:Limite"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>