AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/SBProject_test/PurchaseOrderEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/PurchaseOrder" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/PurchaseOrder" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom">
  <!-- ====================================================================== -->
  <!-- =====      Imports                                               ===== -->
  <!-- ====================================================================== -->
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Common" schemaLocation="Common/CommonComponents.xsd"/>
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Custom" schemaLocation="Custom/EBO/CustomPurchaseOrderEBO.xsd"/>
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Common" schemaLocation="CommonEBO/Shipment.xsd"/>
  <!-- ====================================================================== -->
  <!-- ==============        PurchaseOrder EBO         ====================== -->
  <!-- ====================================================================== -->
  <xsd:element name="PurchaseOrderEBO" type="PurchaseOrderEBOType"/>
  <xsd:complexType name="PurchaseOrderEBOType">
    <xsd:sequence>
      <!-- ==============  PurchaseOrder ID ====================== -->
      <xsd:element name="Identification" type="com:IdentificationType" minOccurs="0"/>
      <!-- ==============  PurchaseOrderEBO Elements INIT ====================== -->
      <!-- Aqui van los elementos del EBO -->
      <!--xsd:element name="SlOrdrHdrID" minOccurs="0" type="com:IdentifierType"/-->
      <xsd:element name="ProcessID" minOccurs="0" type="com:IdentifierType"/>
      <xsd:element name="Organization" minOccurs="0" type="com:OrganizationReferenceType"/>
      <!--xsd:element name="SalesOrderReference" minOccurs="0" type="sord:SalesOrderReferenceType"/-->
      <xsd:element name="PurchaseOrderID" minOccurs="0" type="com:IdentifierType"/>
      <xsd:element name="PurchaseOrderType" minOccurs="0" type="com:StringType"/>
      <xsd:element name="PurchaseOrderMaster" minOccurs="0" type="com:StringType"/>
      <!--xsd:element name="Source" minOccurs="0" type="com:StringType"/-->
      <!--xsd:element name="Destination" minOccurs="0" type="com:StringType"/-->
      <xsd:element name="Promotion" minOccurs="0" type="com:StringType"/>
      <xsd:element name="TotalQuantity" type="com:QuantityType" minOccurs="0"/>
      <xsd:element name="TotalContainers" type="com:QuantityType" minOccurs="0"/>
      <xsd:element name="Status" minOccurs="0" type="com:StatusType"/>
      <!--xsd:element name="OffsetEffectiveTimePeriod" minOccurs="0" type="com:EffectiveTimePeriodType"/-->
      <!--xsd:element name="Status" minOccurs="0" type="com:StatusType"/-->
      <!--xsd:element name="ReleaseID" minOccurs="0" type="com:IdentifierType"/-->
      <!--xsd:element name="BusinessUnit" minOccurs="0" type="com:BusinessUnitType"/-->
      <xsd:element name="EffectiveTimePeriod" minOccurs="0" type="com:EffectiveTimePeriodType"/>
      <xsd:element name="PaymentDate" minOccurs="0" type="com:DateTimeType"/>
      <xsd:element name="BudgetDate" minOccurs="0" type="com:DateTimeType"/>
      <xsd:element name="EffectiveDate" minOccurs="0" type="com:StringType"/>
      <!--xsd:element name="SourceSystemFreightTerms" minOccurs="0" type="com:StringType"/-->
      <xsd:element name="PurchaseOrderLine" minOccurs="0" maxOccurs="unbounded" type="PurchaseOrderLineType"/>
      <xsd:element name="Department" type="com:OrganizationReferenceType" minOccurs="0"/>
      <xsd:element name="Supplier" type="com:OrganizationReferenceType" minOccurs="0"/>
      <xsd:element name="SupplierOrder" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="SupplierLocation" type="com:LocationType" minOccurs="0"/>
      <xsd:element name="TermDescription" minOccurs="0" type="com:StringType"/>
      <xsd:element name="Comments" minOccurs="0" maxOccurs="unbounded" type="com:TextType"/>
      <xsd:element name="Shipping" type="com:ShipmentType" minOccurs="0"/>
      <xsd:element name="BillingReference" type="com:BillPartyReferenceType" minOccurs="0"/>
      <xsd:element name="DefaultEmptyMap" minOccurs="0" type="com:StringType"/>
      <xsd:element name="DefaultStringMap" minOccurs="0" type="com:StringType"/>
      <xsd:element name="DefaultNumberMap" minOccurs="0" type="com:NumericType"/>
      <!-- ==============  PurchaseOrderEBO Elements END ====================== -->
      <!-- ==============  PurchaseOrder CustomElements in  CustomPurchaseOrderEBO ======== -->
      <xsd:element name="Custom" minOccurs="0" type="cust:CustomPurchaseOrderEBOType"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="com:ActionType" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="PurchaseOrderLineType">
    <xsd:sequence>
      <xsd:element name="Identification" minOccurs="0" type="com:IdentificationType"/>
      <xsd:element name="LineNumber" minOccurs="0" type="com:IdentificationType"/>
      <xsd:element name="SalesOrderLineID" minOccurs="0" type="com:IdentificationType"/>
      <xsd:element name="ProcessID" minOccurs="0" type="com:IdentifierType"/>
      <xsd:element name="ItemReference" minOccurs="0" type="com:IdentificationType"/>
      <xsd:element name="UPC" minOccurs="0" type="com:StringType"/>
      <xsd:element name="SKU" minOccurs="0" type="com:StringType"/>
      <xsd:element name="Style" minOccurs="0" type="com:StringType"/>
      <xsd:element name="UDA" minOccurs="0" type="com:StringType"/>
      <xsd:element name="Season" minOccurs="0" type="com:StringType"/>
      <xsd:element name="Color" minOccurs="0" type="com:StringType"/>
      <xsd:element name="Size" minOccurs="0" type="com:StringType"/>
      <xsd:element name="Brand" minOccurs="0" type="com:StringType"/>
      <xsd:element name="Container" minOccurs="0" type="com:StringType"/>
      <xsd:element name="Quantity" minOccurs="0" type="com:QuantityType"/>
      <xsd:element name="UnitCost" minOccurs="0" type="com:AmountType"/>
      <xsd:element name="UnitRetail" minOccurs="0" type="com:StringType"/>
      <xsd:element name="Promotion" minOccurs="0" type="com:StringType"/>
      <xsd:element name="UOMCode" minOccurs="0" type="com:CodeType"/>
      <xsd:element name="DetailDeliveryID" minOccurs="0" type="com:IdentifierType"/>
      <xsd:element name="Status" minOccurs="0" type="com:StatusType"/>
      <xsd:element name="EffectiveTimePeriod" minOccurs="0" type="com:EffectiveTimePeriodType"/>
      <xsd:element name="Vendor" minOccurs="0" type="com:OrganizationReferenceType"/>
      <xsd:element name="VendorLocation" minOccurs="0" maxOccurs="unbounded" type="com:LocationType"/>
      <xsd:element name="VendorItemId" minOccurs="0" type="com:IdentifierType"/>
      <xsd:element name="VendorStyleId" minOccurs="0" type="com:IdentifierType"/>
      <xsd:element name="ItemDescription" minOccurs="0" type="com:TextType"/>
      <xsd:element name="SourceSystemFreightTerms" minOccurs="0" type="com:StringType"/>
      <xsd:element name="PurchaseOrderLineRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>