BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/Utilidades/ConsultarRolesCondicion/XSD/ConsultarRolesCondicion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarRolesCondicion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarRolesCondicion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarRolesCondicionInput" type="ConsultarRolesCondicionInput"/>
   <xs:complexType name="ConsultarRolesCondicionInput">
      <xs:sequence>
         <xs:element name="OPERACION" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarRolesCondicionOutputCollection" type="ConsultarRolesCondicionOutputCollection"/>
   <xs:complexType name="ConsultarRolesCondicionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarRolesCondicionOutput" type="ConsultarRolesCondicionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarRolesCondicionOutput">
      <xs:sequence>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="NOMBRE_OPERACION" type="xs:string" nillable="true"/>
         <xs:element name="ID_PROCESO" type="xs:decimal" nillable="true"/>
         <xs:element name="DESCRIPCION_PROCESO" type="xs:string" nillable="true"/>
         <xs:element name="ROL" type="xs:string" nillable="true"/>
         <xs:element name="USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>