BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/SolicitudAprobacion/CrearMiembroReunion/XSD/CrearMiembroReunion_DB_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearMiembroReunion_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearMiembroReunion_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="TcaMiembroReunionCollection" type="TcaMiembroReunionCollection"/>
   <xs:complexType name="TcaMiembroReunionCollection">
      <xs:sequence>
         <xs:element name="TcaMiembroReunion" type="TcaMiembroReunion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="TcaMiembroReunion">
      <xs:sequence>
         <xs:element name="idTreComiteRol" type="xs:int"/>
         <xs:element name="loginUsuario" type="string32" minOccurs="0"/>
         <xs:element name="nombreUsuario" type="string128" minOccurs="0" nillable="true"/>
         <xs:element name="dependencia" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="esPropietario" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string128">
      <xs:restriction base="xs:string">
         <xs:maxLength value="128"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>