BCIE_fenix/qa/SOA/09-OSB-FLEXCUBE/MDS/Resources/ComponentesComunes/Flexcube14/Common/V1/Schema/ResultBO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/FLEXCUBE14/ResultBO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:resBO="http://www.bcie.org/FLEXCUBE14/ResultBO" xmlns:errBO="http://www.bcie.org/FLEXCUBE14/ErrorBO">
    <xsd:import namespace="http://www.bcie.org/FLEXCUBE14/ErrorBO" schemaLocation="ErrorBO.xsd"/>
    <xsd:complexType name="Resultado">
        <xsd:annotation>
            <xsd:appinfo>Fenix II (BCIE)</xsd:appinfo>
            <xsd:documentation>Objeto para confirmar de la ejecución satisfactiria o insatisfactoria de los servicios</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element name="result" type="resBO:SuccessType"/>
            <xsd:element name="message" type="xsd:string"/>
            <xsd:element name="error" type="errBO:Error" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:simpleType name="SuccessType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ERROR"/>
            <!-- Error técnico -->
            <xsd:enumeration value="OK"/>
            <!-- Error de negocio -->
        </xsd:restriction>
    </xsd:simpleType>
</xsd:schema>