AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/SupplierApp/QuerySupplierRMSAdapterService/Resources/XSD/QuerySupplierRMSReference_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/QuerySupplierRMSReference" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/QuerySupplierRMSReference" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxSoaVendorVwCollection" type="XxSoaVendorVwCollection"/>
   <xs:complexType name="XxSoaVendorVwCollection">
      <xs:sequence>
         <xs:element name="XxSoaVendorVw" type="XxSoaVendorVw" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxSoaVendorVw">
      <xs:sequence>
         <xs:element name="supplier" type="xs:long"/>
         <xs:element name="supName" type="string240"/>
         <xs:element name="supStatus" type="string1"/>
         <xs:element name="add1" type="string240"/>
         <xs:element name="city" type="string120"/>
         <xs:element name="state" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="countryId" type="string3"/>
         <xs:element name="post" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="contactName" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="contactPhone" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="contactFax" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="contactEmail" type="string100" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="QuerySupplierRMSReferenceSelect_supNoInputParameters" type="QuerySupplierRMSReferenceSelect_supNo"/>
   <xs:complexType name="QuerySupplierRMSReferenceSelect_supNo">
      <xs:sequence>
         <xs:element name="supNo" type="xs:long" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string240">
      <xs:restriction base="xs:string">
         <xs:maxLength value="240"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string3">
      <xs:restriction base="xs:string">
         <xs:maxLength value="3"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string100">
      <xs:restriction base="xs:string">
         <xs:maxLength value="100"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>