AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Applications/RetailMerchandising/IGS/XCostChgPublishingService/Schema/XMLSchema_766199811.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.11-b150616.1732 svn-revision#a247ba216861f2c0baac9a3657c5690bce0c744d. --><xsd:schema xmlns:ns0="http://www.oracle.com/retail/integration/services/ServiceOpStatus/v1" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.oracle.com/retail/integration/services/ServiceOpStatus/v1" elementFormDefault="qualified"><xsd:element name="ServiceOpStatus"><xsd:complexType><xsd:sequence><xsd:element ref="ns0:SuccessStatus" minOccurs="0"/><xsd:element ref="ns0:FailStatus" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="SuccessStatus"><xsd:complexType><xsd:sequence><xsd:element name="shortSuccessMessage" type="xsd:string"/><xsd:element name="successDescription" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="FailStatus"><xsd:complexType><xsd:sequence><xsd:element name="errorType" type="xsd:string"/><xsd:element name="shortErrorMessage" type="xsd:string"/><xsd:element name="errorDescription" type="xsd:string" minOccurs="0"/><xsd:element ref="ns0:BusinessProblemDetail" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="BusinessProblemDetail"><xsd:complexType><xsd:sequence><xsd:element name="problemDescription" type="xsd:string" maxOccurs="unbounded"/><xsd:element ref="ns0:ProblemDetailEntry" minOccurs="0" maxOccurs="unbounded"/></xsd:sequence></xsd:complexType></xsd:element><xsd:element name="ProblemDetailEntry"><xsd:complexType><xsd:sequence><xsd:element name="name" type="xsd:string"/><xsd:element name="value" type="xsd:string" minOccurs="0"/></xsd:sequence></xsd:complexType></xsd:element></xsd:schema>