Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/T24PartyAppSvc/T24PartyAppSvc_V1.0.wsdl

<wsdl:definitions name="T24PartyAppSvc_V1.0"
                  targetNamespace="http://xmlns.banesco.com/AppSvc/T24PartyAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/T24PartyAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:appoptEmpPartyInq="http://xmlns.banesco.com/appopt/T24PartyAppSvc/EmpPartyInq_V1.0"
                  xmlns:appoptPartyRiskInq="http://xmlns.banesco.com/appopt/T24PartyAppSvc/PartyRiskInq_V1.0"
                  xmlns:appoptCreditBureauInq="http://xmlns.banesco.com/appopt/T24PartyAppSvc/CreditBureauInq_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                  namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/T24PartyAppSvc/EmpPartyInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/T24Party/EmpPartyInq/EmpPartyInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/T24PartyAppSvc/CreditBureauInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/T24Party/CreditBureauInq/CreditBureauInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
		  schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="EmpPartyInqRq">
    <wsdl:part name="EmpPartyInqRq" element="appoptEmpPartyInq:EmpPartyInqRq"/>
  </wsdl:message>
  <wsdl:message name="EmpPartyInqRs">
    <wsdl:part name="EmpPartyInqRs" element="appoptEmpPartyInq:EmpPartyInqRs"/>
  </wsdl:message>
  <wsdl:message name="CreditBureauInqRq">
    <wsdl:part name="CreditBureauInqRq" element="appoptCreditBureauInq:CreditBureauInqRq"/>
  </wsdl:message>
  <wsdl:message name="CreditBureauInqRs">
    <wsdl:part name="CreditBureauInqRs" element="appoptCreditBureauInq:CreditBureauInqRs"/>
  </wsdl:message>
  
  <wsdl:portType name="T24PartyAppSvc_V1.0">
    <wsdl:operation name="EmpPartyInq">
      <wsdl:input message="tns:EmpPartyInqRq"/>
      <wsdl:output message="tns:EmpPartyInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="CreditBureauInq">
      <wsdl:input message="tns:CreditBureauInqRq"/>
      <wsdl:output message="tns:CreditBureauInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  
  <wsdl:binding name="T24PartyAppSvc_V1.0SOAP" type="tns:T24PartyAppSvc_V1.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="EmpPartyInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/T24PartyAppSvc_V1.0/EmpPartyInq"/>
      <wsdl:input>
        <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
        <soap:body use="literal" parts="EmpPartyInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
        <soap:body use="literal" parts="EmpPartyInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CreditBureauInq">
      <soap:operation style="document" soapAction="http://xmlns.banesco.com/ApplicationService/T24AppSvc_V1.0/CreditBureauInq"/>
      <wsdl:input>
        <soap:body use="literal" parts="CreditBureauInqRq"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="CreditBureauInqRs"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  
  <wsdl:service name="T24PartyAppSvc_V1.0">
    <wsdl:port name="T24PartyAppSvc_V1.0SOAP" binding="tns:T24PartyAppSvc_V1.0SOAP">
      <soap:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
  
</wsdl:definitions>