Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/TCIBCardCrAppSvc/TCIBCardCrAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="TCIBCardCrAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/TCIBCardCrAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/TCIBCardCrAppSvc_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:appoptCardCrFinancingInq="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrFinancingInq_V1.0"
                  xmlns:appoptCardCrRwdPtsInq="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrRwdPtsInq_V1.0"
                  xmlns:appoptCardCrInq="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrInq_V1.0"
                  xmlns:appoptCardCrInfoInq="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrInfoInq_V1.0"
                  xmlns:appoptCardCrFinancingAdd="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrFinancingAdd_V1.0"
                  xmlns:appoptCardCrStatusMod="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrStatusMod_V1.0"
                  xmlns:appoptCardCrTrnInq="http://xmlns.banesco.com/appopt/TCIBCardAppSvc/CardAcctTrnInq_V1.0"
                  xmlns:appoptCardCrTransferAdd="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrTransferAdd_V1.0">
  <wsdl:types>
    <xsd:schema>
      <xsd:import namespace="http://xmlns.banesco.com/eo/Status_V1.0"
                  schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrFinancingInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/TCIBCardCr/CardCrFinancingInq/CardCrFinancingInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrRwdPtsInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/TCIBCardCr/CardCrRwdPtsInq/CardCrRwdPtsInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/TCIBCardCr/CardCrInq/CardCrInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrInfoInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/TCIBCardCr/CardCrInfoInq/CardCrInfoInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrFinancingAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/TCIBCardCr/CardCrFinancingAdd/CardCrFinancingAdd_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrStatusMod_V1.0"
                  schemaLocation="../../../xsd/AppOpt/TCIBCardCr/CardCrStatusMod/CardCrStatusMod_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/TCIBCardAppSvc/CardAcctTrnInq_V1.0"
                  schemaLocation="../../../xsd/AppOpt/TCIBCardCr/CardCrTrnInq/CardCrTrnInq_V1.0.xsd"/>
      <xsd:import namespace="http://xmlns.banesco.com/appopt/TCIBCardCrAppSvc/CardCrTransferAdd_V1.0"
                  schemaLocation="../../../xsd/AppOpt/TCIBCardCr/CardCrTransferAdd/CardCrTransferAdd_V1.0.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SystemFault">
    <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRq">
    <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
  </wsdl:message>
  <wsdl:message name="MsgHdrRs">
    <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrFinancingInqRq">
    <wsdl:part name="CardCrFinancingInqRq" element="appoptCardCrFinancingInq:CardCrFinancingInqRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrFinancingInqRs">
    <wsdl:part name="CardCrFinancingInqRs" element="appoptCardCrFinancingInq:CardCrFinancingInqRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrRwdPtsInqRq">
    <wsdl:part name="CardCrRwdPtsInqRq" element="appoptCardCrRwdPtsInq:CardCrRwdPtsInqRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrRwdPtsInqRs">
    <wsdl:part name="CardCrRwdPtsInqRs" element="appoptCardCrRwdPtsInq:CardCrRwdPtsInqRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrInqRq">
    <wsdl:part name="CardCrInqRq" element="appoptCardCrInq:CardCrInqRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrInqRs">
    <wsdl:part name="CardCrInqRs" element="appoptCardCrInq:CardCrInqRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrInfoInqRq">
    <wsdl:part name="CardCrInfoInqRq" element="appoptCardCrInfoInq:CardCrInfoInqRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrInfoInqRs">
    <wsdl:part name="CardCrInfoInqRs" element="appoptCardCrInfoInq:CardCrInfoInqRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrFinancingAddRq">
    <wsdl:part name="CardCrFinancingAddRq" element="appoptCardCrFinancingAdd:CardCrFinancingAddRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrFinancingAddRs">
    <wsdl:part name="CardCrFinancingAddRs" element="appoptCardCrFinancingAdd:CardCrFinancingAddRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrStatusModRq">
    <wsdl:part name="CardCrStatusModRq" element="appoptCardCrStatusMod:CardCrStatusModRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrStatusModRs">
    <wsdl:part name="CardCrStatusModRs" element="appoptCardCrStatusMod:CardCrStatusModRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrTrnInqRq">
    <wsdl:part name="CardCrTrnInqRq" element="appoptCardCrTrnInq:CardCrTrnInqRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrTrnInqRs">
    <wsdl:part name="CardCrTrnInqRs" element="appoptCardCrTrnInq:CardCrTrnInqRs"/>
  </wsdl:message>
  <wsdl:message name="CardCrTransferAddRq">
    <wsdl:part name="CardCrTransferAddRq" element="appoptCardCrTransferAdd:CardCrTransferAddRq"/>
  </wsdl:message>
  <wsdl:message name="CardCrTransferAddRs">
    <wsdl:part name="CardCrTransferAddRs" element="appoptCardCrTransferAdd:CardCrTransferAddRs"/>
  </wsdl:message>
  <wsdl:portType name="TCIBCardCrAppSvc_V1.0">
    <wsdl:operation name="CardCrFinancingInq">
      <wsdl:input message="tns:CardCrFinancingInqRq"/>
      <wsdl:output message="tns:CardCrFinancingInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="CardCrRwdPtsInq">
      <wsdl:input message="tns:CardCrRwdPtsInqRq"/>
      <wsdl:output message="tns:CardCrRwdPtsInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="CardCrInq">
      <wsdl:input message="tns:CardCrInqRq"/>
      <wsdl:output message="tns:CardCrInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="CardCrInfoInq">
      <wsdl:input message="tns:CardCrInfoInqRq"/>
      <wsdl:output message="tns:CardCrInfoInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="CardCrFinancingAdd">
      <wsdl:input message="tns:CardCrFinancingAddRq"/>
      <wsdl:output message="tns:CardCrFinancingAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="CardCrStatusMod">
      <wsdl:input message="tns:CardCrStatusModRq"/>
      <wsdl:output message="tns:CardCrStatusModRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
	 <wsdl:operation name="CardCrTrnInq">
      <wsdl:input message="tns:CardCrTrnInqRq"/>
      <wsdl:output message="tns:CardCrTrnInqRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
    <wsdl:operation name="CardCrTransferAdd">
      <wsdl:input message="tns:CardCrTransferAddRq"/>
      <wsdl:output message="tns:CardCrTransferAddRs"/>
      <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TCIBCardCrAppSvc_V1.0SOAP" type="tns:TCIBCardCrAppSvc_V1.0">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CardCrFinancingInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/TCIBCardCrAppSvc_V1.0/CardCrFinancingInq"/>
      <wsdl:input>
        <soap:body use="literal" parts="CardCrFinancingInqRq"/>
        <soap:header message="tns:MsgHdrRq" part="MsgHdrRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="CardCrFinancingInqRs"/>
        <soap:header message="tns:MsgHdrRs" part="MsgHdrRs" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CardCrRwdPtsInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/TCIBCardCrAppSvc_V1.0/CardCrRwdPtsInq"/>
      <wsdl:input>
        <soap:body use="literal" parts="CardCrRwdPtsInqRq"/>
        <soap:header message="tns:MsgHdrRq" part="MsgHdrRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="CardCrRwdPtsInqRs"/>
        <soap:header message="tns:MsgHdrRs" part="MsgHdrRs" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CardCrInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/TCIBCardCrAppSvc_V1.0/CardCrInq"/>
      <wsdl:input>
        <soap:body use="literal" parts="CardCrInqRq"/>
        <soap:header message="tns:MsgHdrRq" part="MsgHdrRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="CardCrInqRs"/>
        <soap:header message="tns:MsgHdrRs" part="MsgHdrRs" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CardCrInfoInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/TCIBCardCrAppSvc_V1.0/CardCrInfoInq"/>
      <wsdl:input>
        <soap:body use="literal" parts="CardCrInfoInqRq"/>
        <soap:header message="tns:MsgHdrRq" part="MsgHdrRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="CardCrInfoInqRs"/>
        <soap:header message="tns:MsgHdrRs" part="MsgHdrRs" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CardCrFinancingAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/TCIBCardCrAppSvc_V1.0/CardCrFinancingAdd"/>
      <wsdl:input>
        <soap:body use="literal" parts="CardCrFinancingAddRq"/>
        <soap:header message="tns:MsgHdrRq" part="MsgHdrRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="CardCrFinancingAddRs"/>
        <soap:header message="tns:MsgHdrRs" part="MsgHdrRs" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CardCrStatusMod">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/TCIBCardCrAppSvc_V1.0/CardCrStatusMod"/>
      <wsdl:input>
        <soap:body use="literal" parts="CardCrStatusModRq"/>
        <soap:header message="tns:MsgHdrRq" part="MsgHdrRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="CardCrStatusModRs"/>
        <soap:header message="tns:MsgHdrRs" part="MsgHdrRs" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
	
	<wsdl:operation name="CardCrTrnInq">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/TCIBCardCrAppSvc_V1.0/CardCrTrnInq"/>
      <wsdl:input>
        <soap:body use="literal" parts="CardCrTrnInqRq"/>
        <soap:header message="tns:MsgHdrRq" part="MsgHdrRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="CardCrTrnInqRs"/>
        <soap:header message="tns:MsgHdrRs" part="MsgHdrRs" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CardCrTransferAdd">
      <soap:operation style="document"
                      soapAction="http://xmlns.banesco.com/ApplicationService/TCIBCardCrAppSvc_V1.0/CardCrTransferAdd"/>
      <wsdl:input>
        <soap:body use="literal" parts="CardCrTransferAddRq"/>
        <soap:header message="tns:MsgHdrRq" part="MsgHdrRq" use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" parts="CardCrTransferAddRs"/>
        <soap:header message="tns:MsgHdrRs" part="MsgHdrRs" use="literal"/>
      </wsdl:output>
      <wsdl:fault name="SystemFault">
        <soap:fault name="SystemFault" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TCIBCardCrAppSvc_V1.0">
    <wsdl:port name="TCIBCardCrAppSvc_V1.0SOAP" binding="tns:TCIBCardCrAppSvc_V1.0SOAP">
      <soap:address location="http://localhost"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
