BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDocumento/CargarDocumentoFenix/XSD/CargarDocumentoFenix_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CargarDocumentoFenix" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CargarDocumentoFenix" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="P_ID_TIPO_DOCUMENTO" type="decimal" db:index="1" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_COMENTARIO" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_FECHA_REGISTRO" type="dateTime" db:index="3" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_BAN_ESTATUS" type="decimal" db:index="4" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ES_JUSTIFICACION" type="decimal" db:index="5" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_CODIGO_DOCUMENTO" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_FECHA_DOCUMENTO" type="dateTime" db:index="7" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="P_ID_TAREA_BPM" type="decimal" db:index="8" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_ID_TCA_ACCION" type="decimal" db:index="9" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_LOGIN_USUARIO_CREA" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_NOMBRE_USUARIO_CREA" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_LOGIN_USUARIO_MODIFICA" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_NOMBRE_USUARIO_MODIFICA" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_NUM_SERIE_DOCUMENTO" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_OPERACION" type="decimal" db:index="15" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_CLIENTE" type="decimal"  db:index="16" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="P_FILENAME" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_MIME_TYPE" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="P_CONTENT" type="string" db:index="19" db:type="CLOB" minOccurs="0" nillable="true"/>
            <element name="P_ID_ONBASE" type="decimal" db:index="20" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="P_STATUS" type="decimal" db:index="20" db:type="NUMBER" minOccurs="0" nillable="true"/>
              <element name="P_ADJUNTO" type="decimal" db:index="21" db:type="NUMBER" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>