AG_2019/SOA/CostChangeApprovedProcess/SOA/Schemas/InsertCostChange_table.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/InsertCostChange" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/InsertCostChange" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="CchEventsCollection" type="CchEventsCollection"/>
   <xs:complexType name="CchEventsCollection">
      <xs:sequence>
         <xs:element name="CchEvents" type="CchEvents" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CchEvents">
      <xs:sequence>
         <xs:element name="id" type="xs:long"/>
         <xs:element name="name" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="description" type="string200" minOccurs="0" nillable="true"/>
         <xs:element name="parentId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="supplierId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="effectiveDate" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="expirationDate" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="scope" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="cause" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="statusCode" type="string6" minOccurs="0"/>
         <xs:element name="userRequestor" type="string80" minOccurs="0" nillable="true"/>
         <xs:element name="currency" type="string6" minOccurs="0" nillable="true"/>
         <xs:element name="exportFlag" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string200">
      <xs:restriction base="xs:string">
         <xs:maxLength value="200"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string6">
      <xs:restriction base="xs:string">
         <xs:maxLength value="6"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string80">
      <xs:restriction base="xs:string">
         <xs:maxLength value="80"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
