AG_2019/SOA/CostChangeApprovedProcess/SOA/Schemas/MDMCreateCostChangeDetails_table.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/MDMCreateCostChangeDetails" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/MDMCreateCostChangeDetails" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="CchEventsDetailsCollection" type="CchEventsDetailsCollection"/>
   <xs:complexType name="CchEventsDetailsCollection">
      <xs:sequence>
         <xs:element name="CchEventsDetails" type="CchEventsDetails" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="CchEventsDetails">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="eventId" type="xs:long" minOccurs="0"/>
         <xs:element name="cost" type="xs:double" minOccurs="0" nillable="true"/>
         <xs:element name="itemId" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="exportFlag" type="xs:int" minOccurs="0"/>
         <xs:element name="buId" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="description" type="string200" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string200">
      <xs:restriction base="xs:string">
         <xs:maxLength value="200"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>
