Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/T24Party/CreditBureauInq/CreditBureauInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/T24PartyAppSvc/CreditBureauInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptCreditBureauInq="http://xmlns.banesco.com/appopt/T24PartyAppSvc/CreditBureauInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:element name="CreditBureauInqRq" type="appoptCreditBureauInq:CreditBureauInqRq_Type"/>
	<xs:element name="CreditBureauInqRq_Type" type="appoptCreditBureauInq:CreditBureauInqRq_Type"/>
	<xs:complexType name="CreditBureauInqRq_Type">
		<xs:sequence>
			<xs:element name="MsgHdrRq" type="appoptcommon:MsgHdrRq" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyKey">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="IssuedIdentValue" type="xs:string" minOccurs="1" maxOccurs="1"/>
						<xs:element name="PartyType" type="xs:string" minOccurs="1" maxOccurs="1"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="CreditBureauInqRs" type="appoptCreditBureauInq:CreditBureauInqRs_Type"/>
	<xs:element name="CreditBureauInqRs_Type" type="appoptCreditBureauInq:CreditBureauInqRs_Type"/>
	<xs:complexType name="CreditBureauInqRs_Type">
		<xs:sequence>
			<xs:element name="MsgHdrRs" type="appoptcommon:MsgHdrRs" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CreditBureauSummary">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="InqDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1"/>
						<xs:element name="Commitment" type="appoptCreditBureauInq:Commitment" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="Mvmt" type="appoptCreditBureauInq:Mvmt" minOccurs="0" maxOccurs="unbounded"/>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Mvmt" type="appoptCreditBureauInq:Mvmt"/>
	<xs:complexType name="Mvmt">
		<xs:sequence>
			<xs:element name="Agent" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyRefId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PartyRefType" type="xs:string" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Commitment" type="appoptCreditBureauInq:Commitment"/>
	<xs:complexType name="Commitment">
		<xs:sequence>
			<xs:element name="AcctRefId" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="AcctStDesc" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CancellationDesc" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CodAmt" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="CurAmt" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="DelayDay" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EconomicActivityCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EconomicActivityDesc" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="EndDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1"/>
			<xs:element name="EndRelDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Id" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="InitDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1"/>
			<xs:element name="InitialAmt" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LastAmt" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="LastPmtDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PmtMethod" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="ProdDesc" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Quantity" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Relation" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TaxAmt" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TotalAmt" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="TrnDelayDay" type="xs:string" minOccurs="1" maxOccurs="1"/>
			<xs:element name="UpdtDt" type="appoptcommon:dateTimePattern" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
