BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioContrato/Condicion/ConsultarObservacionCondicion/XSD/ConsultarObservacionCondicion.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarObservacionCondicion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarObservacionCondicion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarObservacionCondicionInput" type="ConsultarObservacionCondicionInput"/>
   <xs:complexType name="ConsultarObservacionCondicionInput">
      <xs:sequence>
         <xs:element name="P_OPERACION" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarObservacionCondicionOutputCollection" type="ConsultarObservacionCondicionOutputCollection"/>
   <xs:complexType name="ConsultarObservacionCondicionOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarObservacionCondicionOutput" type="ConsultarObservacionCondicionOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarObservacionCondicionOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_CONDICION" type="xs:decimal" nillable="true"/>
         <xs:element name="OBSERVACION" type="xs:string" nillable="true"/>
         <xs:element name="LOGIN_USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="NOMBRE_USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_TAREA_BPM" type="xs:decimal" nillable="true"/>
         <xs:element name="ES_PRINCIPAL" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>