BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ConsultarResponsableSolicitud/V1/Schema/ResponsableSolicitudMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/ResponsableSolicitudMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.example.org" xmlns:resSolBO="http://www.bcie.org/ResponsableSolicitudMO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:operBO="http://www.bcie.org/OperacionBO">
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:import schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd" namespace="http://www.bcie.org/OperacionBO"/>
  <xsd:element name="ResponsableSolicitudRequest" type="resSolBO:ResponsableSolicitudRequestType"/>
  <xsd:element name="ResponsableSolicitudResponse" type="resSolBO:ResponsableSolicitudResponseType"/>
  <xsd:complexType name="ResponsableSolicitudRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponsableSolicitudResponseType">
    <xsd:sequence>
      <xsd:element name="Usuario" type="xsd:string"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>