BCIE_fenix/qa/ADF-BPM/bpm/PE01Error/PE01ErrorProcess/SOA/Schemas/Comun/V1/AnalisisPayload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:analisis="http://xmlns.bcie.org/ObjetoProceso/Analisis/Payload/V1"
           xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
           xmlns:notificacion="http://xmlns.bcie.org/ObjetoProceso/Comun/Notificacion/V1"
           targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Analisis/Payload/V1" 
           elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">
           
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
             schemaLocation="oramds:/apps/Resources/BPM/Schema/Comun/Header/V1/HeaderOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
             schemaLocation="oramds:/apps/Resources/BPM/Schema/Comun/Parameter/V1/ParameterOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Notificacion/V1"
             schemaLocation="oramds:/apps/Resources/BPM/Schema/Comun/Notificacion/V1/NotificacionOPN.xsd"/>
             
  <xs:element name="AnalisisPayload" type="analisis:AnalisisPayloadType">
    <xs:annotation>
      <xs:documentation>Elemento que define el payload para el proceso core de Analisis</xs:documentation>
    </xs:annotation>
  </xs:element>
 
  <xs:element name="AnalisisErrorPayload" type="analisis:AnalisisErrorPayloadType"/>
  
  <xs:complexType name="AnalisisPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="Configuration" type="analisis:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoPayload" type="analisis:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ValorSCR" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CodigoSCR" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AprobacionSCR" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="EquipoEjecucionPayload" type="analisis:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ConfigGatewaysType">
    <xs:sequence>
      <xs:element name="retornoAprobacion" type="xs:boolean"/>
      <xs:element name="tieneRiesgoCredito" type="xs:boolean"/>
      <xs:element name="requireOpinionJuridica" type="xs:boolean"/>
      <xs:element name="requireSCR" type="xs:boolean"/>
      <xs:element name="esInstitucionFinanciera" type="xs:boolean"/>
      <xs:element name="quienSolicitoAjustes" type="xs:string" minOccurs="0"/>
      <xs:element name="solicitaMasInfoAnalistaCredito" type="xs:boolean" minOccurs="0"/>
      <xs:element name="solicitaMasInfoAbogado" type="xs:boolean" minOccurs="0"/>
      <xs:element name="solicitaMasInfoEjecutivoAreaTecnica" type="xs:boolean" minOccurs="0"/>
      <xs:element name="quienSolicitoRevisarProyecto" type="xs:string" minOccurs="0"/>
      <xs:element name="requiereAjustesDeEjecutivoTecnico" type="xs:boolean" minOccurs="0"/>
      <xs:element name="actualizarProyecto" type="xs:boolean" minOccurs="0"/>
      <xs:element name="quienCancelaOperacion" type="xs:string" minOccurs="0"/>
      <xs:element name="solicitaReformular" type="xs:boolean" minOccurs="0"/>
      <xs:element name="solicitaCancelar" type="xs:boolean" minOccurs="0"/>
      <xs:element name="responsableAreaTecnica" type="xs:string" minOccurs="0"/>
      <xs:element name="revisionCredito" type="xs:boolean" minOccurs="0"/>
      <xs:element name="revisionASJUR" type="xs:boolean" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="EquipoPayloadType">
    <xs:sequence>
      <xs:element name="coordinadorSeguimiento" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="analistaSeguimiento" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="analistaCredito" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="abogado" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ejecutivoAreaTecnica" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jefeAreaTecnica" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="gerente" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="control" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  
  <xs:complexType name="AnalisisErrorPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="Configuration" type="analisis:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoPayload" type="analisis:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoEjecucionPayload" type="analisis:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
	  <xs:element name="ValorSCR" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CodigoSCR" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="AprobacionSCR" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
     </xs:sequence>
  </xs:complexType>
</xs:schema>
