AG_2019/SOA/RequestPriceChange/SOA/Schemas/RequestPriceChangeSchema.xsd

<?xml version='1.0' encoding='windows-1252'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/v1.0" targetNamespace="http://mx.agarcia.ea/RetailOperations/SellService/PriceChangeTaskSvc/v1.0" xmlns:rp="http://mx.agarcia.ea/Canonical/Commons/ChangePrice/v1" elementFormDefault="qualified">
   <xsd:import schemaLocation="Commons/ChangePriceCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/ChangePrice/v1"/>
   <import schemaLocation="Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>
   <xsd:element name="requestPriceChange" type="requestPriceChangeType"/>
   <xsd:complexType name="requestPriceChangeType">
      <xsd:sequence>
         <xsd:element name="excelFile" type="xsd:base64Binary"/>
      </xsd:sequence>
   </xsd:complexType>
</xsd:schema>
