BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PU02/ReasignacionRCProcess.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://xmlns.oracle.com/bpmn/bpmnProcess/ReasignacionRCProcess" 
			xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" 
			targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ReasignacionRCProcess" 
			elementFormDefault="qualified">
	<xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="../Comun/Header/V1/HeaderOPN.xsd"/>	
	<xsd:element name="InicioReasignacionRC">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="tns6:Header"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:element name="FinReasignacionRC">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Header" type="tns6:Header"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
