Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Account/AcctCardRelAdd/AcctCardRelAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctCardRelAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcctCardRelAdd="http://xmlns.banesco.com/eopt/AcctCardRelAdd_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoCard="http://xmlns.banesco.com/eo/Card_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" xmlns:eoCardAcctRel="http://xmlns.banesco.com/eo/CardAcctRel_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/CardAcctRel_V1.0" schemaLocation="../../../EO/Card/CardAcctRel_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Card_V1.0" schemaLocation="../../../EO/Card/Card_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:element name="AcctCardRelAddRq_Type" type="eoptAcctCardRelAdd:AcctCardRelAddRq_Type"/>
	<xs:complexType name="AcctCardRelAddRq_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto AcctKey que contiene la información de identificación de la cuenta a la que se le asociará la tarjeta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Card" type="eoCard:Card" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Card que contiene la información de la tarjeta que se le asociará a la cuenta.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctCardRelAddRq" type="eoptAcctCardRelAdd:AcctCardRelAddRq_Type"/>
	<xs:element name="AcctCardRelAddRs_Type" type="eoptAcctCardRelAdd:AcctCardRelAddRs_Type"/>
	<xs:complexType name="AcctCardRelAddRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardAcctRel" type="eoCardAcctRel:CardAcctRel" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto CardAcctRel con los datos de la tarjeta asociada la cuenta.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctCardRelAddRs" type="eoptAcctCardRelAdd:AcctCardRelAddRs_Type"/>
</xs:schema>
