BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/REP/XSD/REP_CUSTOM.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://org/bcie/ws/middle/REP.wsdl"
            targetNamespace="http://org/bcie/ws/middle/REP.wsdl" elementFormDefault="qualified">
  <xsd:complexType name="REP_registrarCalificacion">
    <xsd:sequence>
      <xsd:element name="bhq" type="xsd:string"/>
      <xsd:element name="scr" type="xsd:string"/>
      <xsd:element name="estadoscr" type="xsd:decimal"/>
      <xsd:element name="observacion" type="xsd:string"/>
      <xsd:element name="fecha" type="xsd:dateTime"/>
      <xsd:element name="usuariomodifico" type="xsd:string"/>
      <xsd:element name="usuariovalido" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="REP_registrarCalificacionResponse">
    <xsd:sequence>
      <xsd:element name="codigoresultado_out" type="xsd:decimal"/>
      <xsd:element name="tiporesultado_out" type="xsd:decimal"/>
      <xsd:element name="mensaje_out" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
