MIRA/SOA_PRD_Almacenes/JDACreateSupplierProcess/SOA/WSDLs/JDACreateSupplierProcessPXY.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions name="JDACreateSupplierProcess" targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Suppliers/JDACreateSupplierProcess" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" xmlns:WL5G3N2="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:WL5G3N3="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:WL5G3N4="http://mx.agarcia.ea/Capabilities/Core/Suppliers/JDACreateSupplierProcess" xmlns:WL5G3N5="http://schemas.xmlsoap.org/wsdl/soap/">
   <WL5G3N0:types>
      <xsd:schema xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:inp1="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://mx.agarcia.ea/Capabilities/Core/Suppliers/JDACreateSupplierProcess" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
         <xsd:import namespace="http://mx.agarcia.ea/Capabilities/Foundation/Party/SupplierEntitySvc" schemaLocation="../Schemas/Commons/SupplierEntitySchema.xsd"/>
         <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../Schemas/Commons/AGStandardMessageSchema.xsd"/>
         <xsd:import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../Schemas/Commons/AGStandardHeaderSchema.xsd"/>
      </xsd:schema>
   </WL5G3N0:types>
   <WL5G3N0:message name="createSupplierRequest">
      <WL5G3N0:part name="part1" element="WL5G3N1:createSupplierRequest"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="createSupplierResponse">
      <WL5G3N0:part name="part1" element="WL5G3N1:createSupplierResponse"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="standardMessagefault">
      <WL5G3N0:part name="part1" element="WL5G3N2:messageError"/>
   </WL5G3N0:message>
   <WL5G3N0:message name="standardMessageHeader">
      <WL5G3N0:part name="header" element="WL5G3N3:headerMessage"/>
   </WL5G3N0:message>
   <WL5G3N0:portType name="CreateSupplierPType">
      <WL5G3N0:operation name="createSupplierPType">
         <WL5G3N0:input message="WL5G3N4:createSupplierRequest"/>
         <WL5G3N0:output message="WL5G3N4:createSupplierResponse"/>
         <WL5G3N0:fault name="fault" message="WL5G3N4:standardMessagefault"/>
      </WL5G3N0:operation>
   </WL5G3N0:portType>
   <WL5G3N0:binding name="CreateSupplierBinding" type="WL5G3N4:CreateSupplierPType">
      <WL5G3N5:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <WL5G3N0:operation name="createSupplierPType">
         <WL5G3N5:operation style="document" soapAction="http://xmlns.oracle.com/SupplierJDA/JDACreateSupplierProcess/service1/createSupplierPType"/>
         <WL5G3N0:input>
            <WL5G3N5:body use="literal" parts="part1"/>
            <WL5G3N5:header message="WL5G3N4:standardMessageHeader" part="header" use="literal"/>
         </WL5G3N0:input>
         <WL5G3N0:output>
            <WL5G3N5:body use="literal" parts="part1"/>
         </WL5G3N0:output>
         <WL5G3N0:fault name="fault">
            <WL5G3N5:fault name="fault" use="literal"/>
         </WL5G3N0:fault>
      </WL5G3N0:operation>
   </WL5G3N0:binding>
   <WL5G3N0:service name="CreateSupplierBindingQSService">
      <WL5G3N0:documentation>OSB Service</WL5G3N0:documentation>
      <WL5G3N0:port name="CreateSupplierBindingQSPort" binding="WL5G3N4:CreateSupplierBinding">
         <WL5G3N5:address location="http://uat-osb.agarcia.com.mx:7004/Capabilities/Core/Supplier/SupplierEntitySvc/PS/JDACreateSupplierProcessPXY"/>
      </WL5G3N0:port>
   </WL5G3N0:service>
</WL5G3N0:definitions>
