MIRA/SOA_PRD_Almacenes/JDAUpdateSKUProcess/SOA/WSDLs/JDAUpdateSKUProcess.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="JDAUpdateSKUProcess" targetNamespace="http://xmlns.oracle.com/JDAUpdateSKUApp/JDAUpdateSKUProcess/JDAUpdateSKUProcessx" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://xmlns.oracle.com/JDAUpdateSKUApp/JDAUpdateSKUProcess/JDAUpdateSKUProcessx" xmlns:ns1="http://mx.agarcia.ea/Capabilities/Core/Items/UpdateItemEntity" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:AGMS="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns2="http://mx.agarcia.ea/Applications/Governance">
   <plnk:partnerLinkType name="JDAUpdateSKUProcess">
      <plnk:role name="JDAUpdateSKUProcessProvider" portType="client:JDAUpdateSKUProcess"/>
   </plnk:partnerLinkType>
   <wsdl:import namespace="http://mx.agarcia.ea/Applications/Governance" location="http://172.16.19.26:7004/Applications/Governance/PS/GovernanceAPIPXY/v1.0?WSDL"/>
   <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
         <import namespace="http://mx.agarcia.ea/Capabilities/Core/Items/UpdateItemEntity" schemaLocation="../Schemas/UpdateItemSchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../Schemas/Commons/AGStandardMessageSchema.xsd"/>
         <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../Schemas/Commons/AGStandardHeaderSchema.xsd"/>
      </schema>
   </wsdl:types>
   <wsdl:message name="JDAUpdateSKUProcessRequestMessage">
      <wsdl:part name="payload" element="ns1:updateItemRequest"/>
   </wsdl:message>
   <wsdl:message name="JDAUpdateSKUProcessResponseMessage">
      <wsdl:part name="payload" element="ns1:updateItemResponse"/>
   </wsdl:message>
   <wsdl:message name="Fault">
      <wsdl:part name="InvalidSKUException" element="AGMS:messageError"/>
   </wsdl:message>
   <wsdl:message name="StandardHeaderMessage">
      <wsdl:part name="headerMessage" element="AGSH:headerMessage"/>
   </wsdl:message>
   <wsdl:portType name="JDAUpdateSKUProcess">
      <wsdl:operation name="modifySKU">
         <wsdl:input message="client:JDAUpdateSKUProcessRequestMessage"/>
         <wsdl:output message="client:JDAUpdateSKUProcessResponseMessage"/>
         <wsdl:fault name="InvalidSKUException" message="client:Fault"/>
      </wsdl:operation>
   </wsdl:portType>
   <wsdl:binding name="JDAUpdateSKUProcessBinding" type="client:JDAUpdateSKUProcess">
      <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
      <wsdl:operation name="modifySKU">
         <soap:operation style="document" soapAction="http://xmlns.oracle.com/JDAUpdateSKUApp/JDAUpdateSKUProcess/JDAUpdateSKUProcessx/modifySKU"/>
         <wsdl:input>
            <soap:body use="literal" parts="payload"/>
         </wsdl:input>
         <wsdl:output>
            <soap:body use="literal" parts="payload"/>
         </wsdl:output>
         <wsdl:fault name="InvalidSKUException">
            <soap:fault name="InvalidSKUException" use="literal"/>
         </wsdl:fault>
      </wsdl:operation>
   </wsdl:binding>
</wsdl:definitions>
