BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/PA18/SupervisionAmbientalSocialPayload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:SupervisionAmbientalSocial="http://xmlns.bcie.org/ObjetoProceso/SupervisionAmbientalSocial/Payload/V1"
           xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
           targetNamespace="http://xmlns.bcie.org/ObjetoProceso/SupervisionAmbientalSocial/Payload/V1" 
		   elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
             schemaLocation="../../Schema/Comun/Header/V1/HeaderOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
             schemaLocation="../../Schema/Comun/Parameter/V1/ParameterOPN.xsd"/>
  
  <xs:element name="SupervisionAmbientalSocialPayload" type="SupervisionAmbientalSocial:SupervisionAmbientalSocialPayloadType">
    <xs:annotation>
      <xs:documentation>Elemento que define los campos de entrada para el proceso alterno de SupervisionAmbientalSocial</xs:documentation>
    </xs:annotation>
  </xs:element>
  
  <xs:element name="SupervisionAmbientalSocialErrorPayload" type="SupervisionAmbientalSocial:SupervisionAmbientalSocialErrorPayloadType"/>
  
  <xs:complexType name="SupervisionAmbientalSocialPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="ConfigGateways" type="SupervisionAmbientalSocial:ConfigGatewaysType"/>
      <xs:element name="avanceFisico" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
      <xs:element name="avanceFinanciero" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
      <xs:element name="SCT" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requiereAjustes" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Equipo" type="SupervisionAmbientalSocial:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoEjecucion" type="SupervisionAmbientalSocial:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfigGatewaysType">
    <xs:sequence>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="SupervisionAmbientalSocialErrorPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="ConfigGateways" type="SupervisionAmbientalSocial:ConfigGatewaysType"/>
      <xs:element name="avanceFisico" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
      <xs:element name="avanceFinanciero" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
      <xs:element name="SCT" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="requiereAjustes" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Equipo" type="SupervisionAmbientalSocial:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoEjecucion" type="SupervisionAmbientalSocial:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EquipoType">
    <xs:sequence>
      <xs:element name="analistaSupervision" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
