BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDocumento/ActualizarAdjunto/XSD/ActualizarAdjunto_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ActualizarAdjunto" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ActualizarAdjunto" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="AdjuntoCollection" type="AdjuntoCollection"/>
   <xs:complexType name="AdjuntoCollection">
      <xs:sequence>
         <xs:element name="Adjunto" type="Adjunto" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Adjunto">
      <xs:sequence>
         <xs:element name="idAdjunto" type="xs:long"/>
         <xs:element name="content" type="xs:base64Binary" minOccurs="0" nillable="true"/>
         <xs:element name="idOnbase" type="string250" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string250">
      <xs:restriction base="xs:string">
         <xs:maxLength value="250"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>