BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/CrearDeclaracionJurada/XSD/CrearDeclaracionJurada_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearDeclaracionJurada" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearDeclaracionJurada" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="DeclaracionCollection" type="DeclaracionCollection"/>
   <xs:complexType name="DeclaracionCollection">
      <xs:sequence>
         <xs:element name="Declaracion" type="Declaracion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Declaracion">
      <xs:sequence>
         <xs:element name="id" type="xs:int" nillable="true"/>
         <xs:element name="estadoDeclaracion" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="descripcionDeclaracion" type="string1024" minOccurs="0" nillable="true"/>
         <xs:element name="estadoBusquedaContrapartes" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="descripcionBusqueda" type="string1024" minOccurs="0" nillable="true"/>
         <xs:element name="nivelRiesgo" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="descripcionRiesgo" type="string64" minOccurs="0" nillable="true"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="fechaFirmaDeclaracion" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="fechaVencimiento" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="comentarioDeclaracion" type="string1024" minOccurs="0" nillable="true"/>
         <xs:element name="comentarioBusqueda" type="string1024" minOccurs="0" nillable="true"/>
         <xs:element name="idDeclaracion" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="seElevaOtraInstancia" type="xs:int" minOccurs="0"/>
         <xs:element name="tipoOrigen" type="string16" minOccurs="0"/>
         <xs:element name="tipoSeguimiento" type="string20" minOccurs="0" nillable="true"/>
         <xs:element name="instanciaProceso" type="string255" minOccurs="0" nillable="true"/>
         <xs:element name="esSoloLectura" type="xs:int" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string1024">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1024"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string64">
      <xs:restriction base="xs:string">
         <xs:maxLength value="64"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string16">
      <xs:restriction base="xs:string">
         <xs:maxLength value="16"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string255">
      <xs:restriction base="xs:string">
         <xs:maxLength value="255"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>