BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioSeguridad/Wsdl/Seguridad.wsdl

<definitions targetNamespace="http://xmlns.bcie.com/SeguridadService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://xmlns.bcie.com/SeguridadService" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:segMO="http://www.bcie.org/SeguridadMO">
  <types>
    <xsd:schema targetNamespace="http://www.bcie.org/SeguridadService/types" elementFormDefault="qualified">
      <xsd:import namespace="http://www.bcie.org/SeguridadMO" schemaLocation="../Schema/SeguridadMO.xsd"/>
    </xsd:schema>
  </types>
  <message name="requestObtenerDatosUsuarioMessage">
    <part name="requestObtenerDatosUsuario" element="segMO:ObtenerDatosUsuarioRequest"/>
  </message>
  <message name="responseObtenerDatosUsuarioMessage">
    <part name="responseObtenerDatosUsuario" element="segMO:ObtenerDatosUsuarioResponse"/>
  </message>
  <message name="requestTieneAccesoMessage">
    <part name="requestTieneAcceso" element="segMO:TieneAccesoRequest"/>
  </message>
  <message name="responseTieneAccesoMessage">
    <part name="responseTieneAcceso" element="segMO:TieneAccesoResponse"/>
  </message>
  <message name="requestVerificarEstadoUsuarioMessage">
    <part name="requestVerificarEstadoUsuario" element="segMO:VerificarEstadoUsuarioRequest"/>
  </message>
  <message name="responseVerificarEstadoUsuarioMessage">
    <part name="responseVerificarEstadoUsuario" element="segMO:VerificarEstadoUsuarioResponse"/>
  </message>
  <portType name="SeguridadPT">
    <operation name="ObtenerDatosUsuario">
      <input message="tns:requestObtenerDatosUsuarioMessage"/>
      <output message="tns:responseObtenerDatosUsuarioMessage"/>
    </operation>
    <operation name="TieneAcceso">
      <input message="tns:requestTieneAccesoMessage"/>
      <output message="tns:responseTieneAccesoMessage"/>
    </operation>
    <operation name="VerificarEstadoUsuario">
      <input message="tns:requestVerificarEstadoUsuarioMessage"/>
      <output message="tns:responseVerificarEstadoUsuarioMessage"/>
    </operation>
  </portType>
  <binding name="Seguridad12Bnd" type="tns:SeguridadPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="ObtenerDatosUsuario">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/SeguridadService/ObtenerDatosUsuario"/>
      <input>
        <soap12:body use="literal" parts="requestObtenerDatosUsuario"/>
      </input>
      <output>
        <soap12:body use="literal" parts="responseObtenerDatosUsuario"/>
      </output>
    </operation> 
    <operation name="TieneAcceso">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/SeguridadService/TieneAcceso"/>
      <input>
        <soap12:body use="literal" parts="requestTieneAcceso"/>
      </input>
      <output>
        <soap12:body use="literal" parts="responseTieneAcceso"/>
      </output>
    </operation> 
    <operation name="VerificarEstadoUsuario">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/SeguridadService/VerificarEstadoUsuario"/>
      <input>
        <soap12:body use="literal" parts="requestVerificarEstadoUsuario"/>
      </input>
      <output>
        <soap12:body use="literal" parts="responseVerificarEstadoUsuario"/>
      </output>
    </operation>
  </binding>
  <service name="Seguridad_PTSOAP12BindingQSService" >
    <port name="Seguridad_PTSOAP12BindingQSPort" binding="tns:Seguridad12Bnd">
      <soap12:address location="http://www.example.com"/>
    </port>
  </service>
</definitions>