BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/DeclaracionJurada/V1/Schema/DeclaracionJuradaMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:djMO="http://www.bcie.org/DeclaracionJuradaMO"
            targetNamespace="http://www.bcie.org/DeclaracionJuradaMO"
            xmlns:resBO="http://www.bcie.org/ResultBO"
            xmlns:operBO="http://www.bcie.org/OperacionBO"
            elementFormDefault="qualified" xmlns:djBO="http://www.bcie.org/DeclaracionJuradaBO">
            
    <xsd:import schemaLocation="DeclaracionJuradaBO.xsd" namespace="http://www.bcie.org/DeclaracionJuradaBO"/>
    <xsd:import schemaLocation="../../../Operacion/V1/Schema/OperacionBO.xsd" namespace="http://www.bcie.org/OperacionBO"/>
    <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>

   <!-- Mensajes -->
   <xsd:element name="CrearDeclaracionJuradaRequest" type="djMO:CrearDeclaracionJuradaRequestType"/>
   <xsd:element name="CrearDeclaracionJuradaResponse" type="djMO:CrearDeclaracionJuradaResponseType"/>
    <xsd:element name="DuplicarDeclaracionJuradaRequest" type="djMO:DuplicarDeclaracionJuradaRequestType"/>
   <xsd:element name="DuplicarDeclaracionJuradaResponse" type="djMO:DuplicarDeclaracionJuradaResponseType"/>
   <xsd:element name="ActualizarDeclaracionJuradaRequest" type="djMO:ActualizarDeclaracionJuradaRequestType"/>
   <xsd:element name="ActualizarDeclaracionJuradaResponse" type="djMO:ActualizarDeclaracionJuradaResponseType"/>
   <xsd:element name="ConsultarDeclaracionJuradaRequest" type="djMO:ConsultarDeclaracionByIdOperacionRequestType"/>
   <xsd:element name="ConsultarDeclaracionJuradaResponse" type="djMO:ConsultarDeclaracionByIdOperacionResponseType"/>
   <xsd:element name="ConsultarDeclaracionJuradaByIdDeclaracionRequest"  type="djMO:ConsultarDeclaracionJuradaByIdDeclaracionRequestType"/>
   <xsd:element name="ConsultarDeclaracionJuradaByIdDeclaracionResponse" type="djMO:ConsultarDeclaracionJuradaByIdDeclaracionResponseType"/>
   <xsd:element name="CrearDeclaracionOperacionRequest"  type="djMO:CrearDeclaracionOperacionRequestType"/>
   <xsd:element name="CrearDeclaracionOperacionResponse" type="djMO:CrearDeclaracionOperacionResponseType"/>
   <xsd:element name="ValidarNoObjecionRequest"  type="djMO:ValidarNoObjecionRequestType"/>
   <xsd:element name="ValidarNoObjecionResponse"  type="djMO:ValidarNoObjecionResponseType"/>
   <!-- Tipos de los mensajes -->

   <!-- Create -->
   <xsd:complexType name="CrearDeclaracionJuradaRequestType">
      <xsd:sequence>
       <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DeclaracionJurada" type="djBO:DeclaracionJurada" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="propagarEnLAA" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="duplicarDeclaracion" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CrearDeclaracionJuradaResponseType">
      <xsd:sequence>
         <xsd:element name="DeclaracionJurada" type="djBO:DeclaracionJurada" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
    <xsd:complexType name="DuplicarDeclaracionJuradaRequestType">
      <xsd:sequence>
        <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DeclaracionJurada" type="djBO:DeclaracionJurada" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="duplicarDeclaracion" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="DuplicarDeclaracionJuradaResponseType">
      <xsd:sequence>
          <xsd:element name="codigoExternoDeclaracion" type="djBO:codigoExternoDeclaracion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ActualizarDeclaracionJuradaRequestType">
      <xsd:sequence>
       <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="DeclaracionJurada" type="djBO:DeclaracionJurada" minOccurs="1" maxOccurs="1"/>
         <xsd:element name="propagarEnLAA" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ActualizarDeclaracionJuradaResponseType">
      <xsd:sequence>
         <xsd:element name="Operacion" type="operBO:Operacion" minOccurs="0" maxOccurs="1"/>
         
         <xsd:element name="DeclaracionJurada" type="djBO:DeclaracionJurada" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarDeclaracionByIdOperacionRequestType">
      <xsd:sequence>
         <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="excluirEnProceso" minOccurs="0" nillable="true" default="false" type="xsd:boolean"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarDeclaracionByIdOperacionResponseType">
      <xsd:sequence>
         <xsd:element name="DeclaracionJurada" type="djBO:DeclaracionJurada" minOccurs="1" maxOccurs="unbounded"/>
         <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarDeclaracionJuradaByIdDeclaracionRequestType">
      <xsd:sequence>
         <xsd:element name="idDeclaracion" type="djBO:idDeclaracion" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ConsultarDeclaracionJuradaByIdDeclaracionResponseType">
      <xsd:sequence>
         <xsd:element name="DeclaracionJurada" type="djBO:DeclaracionJurada" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CrearDeclaracionOperacionRequestType">
      <xsd:sequence>
         <xsd:element name="idDeclaracion" type="djBO:idDeclaracion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="CrearDeclaracionOperacionResponseType">
      <xsd:sequence>
         <xsd:element name="id" type="xsd:long" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ValidarNoObjecionRequestType">
      <xsd:sequence>
         <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="excluirEnProceso" minOccurs="0" nillable="true" default="false" type="xsd:boolean"/> 
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ValidarNoObjecionResponseType">
      <xsd:sequence>
         <xsd:element name="Declaracion" type="djBO:DeclaracionJurada" minOccurs="1" maxOccurs="unbounded"/>
         <xsd:element name="EstadoNoObjecion" type="xsd:boolean" minOccurs="0" maxOccurs="1"/>
         <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
      </xsd:sequence>
   </xsd:complexType>
   <!-- Fin Create -->
</xsd:schema>


