MIRA/SOA_PRD_Almacenes/CreateSizeGroupProcess/SOA/Schemas/CreateSizeGroupEntitySchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema targetNamespace="http://mx.agarcia.ea/Capabilities/Core/Items/CreateSizeGroupEntity" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:base="http://mx.agarcia.ea/Capabilities/Core/Items/CreateSizeGroupEntity" xmlns:AGsm="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGsh="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:item="http://mx.agarcia.ea/Canonical/Commons/Items/v1">
   <xs:import schemaLocation="Commons/AGStandardMessageSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage"/>
   <xs:import schemaLocation="Commons/AGStandardHeaderSchema.xsd" namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader"/>
   <xs:import schemaLocation="Commons/ItemCommonSchema.xsd" namespace="http://mx.agarcia.ea/Canonical/Commons/Items/v1"/>
   <xs:element name="createSizeGroupRequest" type="base:SizeGroupType"/>
   <xs:element name="createSizeGroupResponse" type="AGsm:MessageResponse"/>
   <xs:complexType name="SizeGroupType">
      <xs:sequence>
         <xs:element name="sizeGroup" type="item:ItemCatalog" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>
