AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ResponseProtosAdapterService/MetaData/Components/EnterpriseObjectLibrary/EBO/Store/StoreEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Store" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Store" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom">
  <!-- ====================================================================== -->
  <!-- =====                    Imports                                 ===== -->
  <!-- ====================================================================== -->
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Common" schemaLocation="../../Common/CommonComponents.xsd"/>
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Custom" schemaLocation="../../Custom/EBO/CustomStoreEBO.xsd"/>
  <!-- ===================================================================== -->
  <!-- ============================  Store EBO =============================== -->
  <!-- ====================================================================== -->
  <xsd:element name="StoreEBO" type="StoreEBOType"/>
  <xsd:complexType name="StoreEBOType">
    <xsd:sequence>
      <xsd:element ref="com:Identification" minOccurs="0"/>
      <xsd:element name="Name" type="com:NameType" minOccurs="0"/>
      <xsd:element name="Description" type="com:StringType" minOccurs="0"/>
      <xsd:element name="TypeCode" type="com:CodeType" minOccurs="0"/>
      <xsd:element name="Portage" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="Carrier" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="Address" type="com:AddressType" minOccurs="0"/>
      <xsd:element name="Contact" type="com:ContactType" minOccurs="0"/>
      <xsd:element name="Status" type="com:StatusType" minOccurs="0"/>
      <xsd:element name="Custom" type="cust:CustomStoreEBOType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>