AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ASNINAPP/QueryMDMASN/Resources/DBMDMHeaderASN_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/DBMDMHeaderASN" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/DBMDMHeaderASN" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxSoaAsninHdrViewCollection" type="XxSoaAsninHdrViewCollection"/>
   <xs:complexType name="XxSoaAsninHdrViewCollection">
      <xs:sequence>
         <xs:element name="XxSoaAsninHdrView" type="XxSoaAsninHdrView" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxSoaAsninHdrView">
      <xs:sequence>
         <xs:element name="codigoasn" type="xs:int"/>
         <xs:element name="tipoasn" type="string2" minOccurs="0" nillable="true"/>
         <xs:element name="fechaasn" type="string19" minOccurs="0" nillable="true"/>
         <xs:element name="ordencompra" type="xs:long" minOccurs="0"/>
         <xs:element name="factura" type="string12" minOccurs="0" nillable="true"/>
         <xs:element name="transferencia" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="proveedor" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="localdestinooc" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="porcentajeentrega" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="DBMDMHeaderASNSelect_asnInputParameters" type="DBMDMHeaderASNSelect_asn"/>
   <xs:complexType name="DBMDMHeaderASNSelect_asn">
      <xs:sequence>
         <xs:element name="asn" type="xs:int" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string2">
      <xs:restriction base="xs:string">
         <xs:maxLength value="2"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string19">
      <xs:restriction base="xs:string">
         <xs:maxLength value="19"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string12">
      <xs:restriction base="xs:string">
         <xs:maxLength value="12"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>