BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/BusinessRules/ValidarReserva/V1/Schema/ValidarReserva.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org"
            targetNamespace="http://www.bcie.org" elementFormDefault="qualified">
  <xsd:element name="ValidarReservaRequest" type="ValidarReservaRequestType"/>
  <xsd:element name="ValidarReservaResponse" type="ValidarReservaResponseType"/>
  <xsd:complexType name="ValidarReservaRequestType">
    <xsd:sequence>
      <xsd:element name="tipoReserva" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarReservaResponseType">
    <xsd:sequence>
      <xsd:element name="deterioro" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
