AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/Common/CommonComponents.xsd

<!-- ====================================================================== --><!-- =====      EBO Common Components                                 ===== --><!-- ====================================================================== --><xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Common" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Common">
  <!-- ====================================================================== -->
  <!-- =====      Imports                                               ===== -->
  <!-- ====================================================================== -->
  <xsd:include schemaLocation="DataTypes.xsd"/>
  <!-- ====================================================================== -->
  <!--  =====       Identification                                 =====      -->
  <!-- ====================================================================== -->
  <xsd:complexType name="HeaderType">
    <xsd:sequence>
      <xsd:element name="TrackingID" type="IdentifierType" minOccurs="1" maxOccurs="1">
        <!-- Codigo LLave para enviar respuestas en las integraciones es  obligatorio-->
      </xsd:element>
      <xsd:element name="InstanceID" type="IdentifierType" minOccurs="0"/>
      <!-- Se Genera Interno No enviar-->
      <xsd:element name="User" type="IdentifierNameType" minOccurs="0">
        <!-- Nombre de usuario que esta realizando la  -->
      </xsd:element>
      <xsd:element name="SourceID" type="CodeType" minOccurs="0">
        <!-- SAP | EBIZ| SEBL| PSFT| FUSIONAPPS -->
      </xsd:element>
      <xsd:element name="Target" minOccurs="0">
        <!-- Generacion interna -->
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Applications" maxOccurs="unbounded" type="ApplicationType" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Operation" type="NameType" minOccurs="0">
        <!-- CREATE | UPDATE | DELETE -->
      </xsd:element>
      <xsd:element name="Interface" type="IdentifierNameType" minOccurs="0"/>
      <xsd:element name="BusinessUnit" type="BusinessUnitType" minOccurs="0"/>
      <xsd:element name="RequestDateTime" type="DateTimeType" minOccurs="0"/>
      <xsd:element name="DateTimes" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="DateTimeType">
              <xsd:attribute name="Code"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Header" type="HeaderType"/>
  <xsd:complexType name="IdentificationType">
    <xsd:sequence>
      <xsd:element name="ID" type="xsd:string"/>
      <xsd:element name="BusinessComponentID" type="IdentifierType" minOccurs="0"/>
      <xsd:element name="ApplicationObjectReference" type="ApplicationObjectReferenceType" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ApplicationObjectReferenceType">
    <xsd:sequence>
      <xsd:element name="ApplicationName" type="xsd:string" minOccurs="0"/>
      <xsd:element name="ApplicationObjectID" type="xsd:string">
        <!-- ID en la XREF -->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseType">
    <xsd:sequence>
      <xsd:element name="Code" type="CodeType">
        <!-- 0000 OK diferente de 0000 ERROR -->
      </xsd:element>
      <xsd:element name="Message" type="TextType">
        <!-- Mensaje -->
      </xsd:element>
      <xsd:element name="Detail" type="TextType" minOccurs="0">
        <!-- Detalle del mensaje o detalle del error -->
      </xsd:element>
      <xsd:element name="InstanceID" type="xsd:string" minOccurs="0">
        <!-- ID Interno de Integracion -->
      </xsd:element>
      <xsd:element name="TrackingID" type="xsd:string" minOccurs="0">
        <!-- TrackingID Codigo para correlacion de la respuesta a la sistema origen -->
      </xsd:element>
      <xsd:element name="Operation" type="xsd:string" minOccurs="0">
        <!-- CREATE | UPDATE |  DELETE | SYNC | PROCESS-->
      </xsd:element>
      <xsd:element name="Interface" type="xsd:string" minOccurs="0"/>
      <xsd:element name="Entity" minOccurs="0" type="EntityType">
        <!--  -->
      </xsd:element>
      <xsd:element name="Application" type="ApplicationType" minOccurs="0">
        <!-- SAP | EBIZ | SEBL | PSFT | APEX | HCM | FUSIONAPPS-->
      </xsd:element>
      <xsd:element name="FaultMessage" type="FaultMessageType" minOccurs="0"/>
      <xsd:element name="ValueSet" type="ValueSetType" minOccurs="0" maxOccurs="unbounded">
        <!-- LISTA Por si se necesita -->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseListType">
    <xsd:sequence>
      <xsd:element name="Response" type="ResponseType" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseAcknowledgeType">
    <xsd:sequence>
      <xsd:element name="Code" type="xsd:string" minOccurs="1">
        <!-- 0000 OK diferente de 0000 ERROR -->
      </xsd:element>
      <xsd:element name="Message" type="xsd:string" minOccurs="1">
        <!-- Mensaje -->
      </xsd:element>
      <xsd:element name="Detail" type="xsd:string" minOccurs="0">
        <!-- Detalle del mensaje -->
      </xsd:element>
      <xsd:element name="InstanceID" type="xsd:string" minOccurs="0">
        <!--  -->
      </xsd:element>
      <xsd:element name="TrackingID" type="xsd:string" minOccurs="0">
        <!-- TrackingID Codigo para correlacion de la respuesta a la sistema origen -->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EntityType">
    <xsd:sequence>
      <xsd:element name="TypeCode" type="CodeType" minOccurs="0">
        <!--  -->
      </xsd:element>
      <xsd:element name="ID" type="IdentifierType" minOccurs="0">
        <!--  -->
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ApplicationType">
    <xsd:sequence>
      <xsd:element name="Name" type="IdentifierNameType" minOccurs="0">
        <!--  -->
      </xsd:element>
      <xsd:element name="Code" type="CodeType" minOccurs="0">
        <!--  -->
      </xsd:element>
      <xsd:element name="User" minOccurs="0" type="IdentifierNameType"/>
      <xsd:element name="Version" minOccurs="0" type="CodeType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValueSetType">
    <xsd:sequence>
      <xsd:element ref="Identification" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Value set unique identifier</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="IdentifierNameType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Name of the value set</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Description" type="TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Description of the value set</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DataTypeCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates the data type of the values in the value set</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MinimumValue" type="StringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The minimum allowed value (inclusive)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaximumValue" type="StringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The maximum allowed value (inclusive)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MinimumLength" type="xsd:integer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This field indicates the minimum number of units of length allowed for the value, where units of length varies depending on the data type (the DataTypeCode) that is being used on.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MaximumLength" type="xsd:integer" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This field indicates the maximum number of units of length allowed for the value, where units of length varies depending on the data type (the DataTypeCode) that is being used on.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <!-- Se utiliza ValueSetLine o  ValueLine pero NO ambas -->
      <xsd:element name="ValueSetLine" maxOccurs="unbounded" type="ValueSetLineType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Se utiliza ValueSetLine o  ValueLine pero NO ambas</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <!-- Se utiliza ValueSetLine o  ValueLine pero NO ambas -->
      <xsd:element name="ValueLine" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Se utiliza ValueSetLine o  ValueLine pero NO ambas</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="StringType">
              <xsd:attribute name="name" type="StringType"/>
              <xsd:attribute name="type" type="StringType"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValueSetLineType">
    <xsd:sequence>
      <xsd:element name="Application" type="ApplicationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Description of the value</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Value" minOccurs="1">
        <xsd:annotation>
          <xsd:documentation>Legal supported value </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="TextType">
              <xsd:attribute name="name" type="xsd:normalizedString"/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EntityHistoryReferenceType">
    <xsd:sequence>
      <xsd:element name="CreationDate" type="DateTimeType" minOccurs="0"/>
      <xsd:element name="CreatedBy" type="IdentifierNameType" minOccurs="0"/>
      <xsd:element name="LastUpdateDate" type="DateTimeType" minOccurs="0"/>
      <xsd:element name="LastUpdatedBy" type="IdentifierNameType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EffectiveTimePeriodType">
    <xsd:sequence>
      <xsd:element name="StartDateTime" type="DateTimeType" minOccurs="0"/>
      <xsd:element name="EndDateTime" type="DateTimeType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="StatusType">
    <xsd:sequence>
      <xsd:element name="Code" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Status Code. Examples are Approved, Hold etc</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EffectivePeriod" type="EffectiveTimePeriodType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>DateTime of effectivity of the status</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ReasonCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Reason for the status</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Description" type="TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Description of the status</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubStatusCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>SubStatus related to a Status (ex. Status can be Open and SubStatus could be Unassigned or Assigned).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FaultType">
    <xsd:sequence>
      <xsd:element name="BusinessComponentID" type="IdentifierType" minOccurs="0"/>
      <xsd:element name="ReportingDateTime" type="DateTimeType" minOccurs="0"/>
      <xsd:element name="CorrectiveAction" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element ref="FaultMessage" minOccurs="0"/>
      <xsd:element ref="FaultService" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FaultMessageType">
    <xsd:sequence>
      <xsd:element name="Code" type="CodeType" minOccurs="0"/>
      <xsd:element name="Text" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Severity" type="CodeType" minOccurs="0"/>
      <xsd:element name="Stack" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ApplicationFaultData" type="xsd:anyType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="FaultingServiceType">
    <xsd:sequence>
      <xsd:element name="ID" type="IdentifierType" minOccurs="0"/>
      <xsd:element name="ImplementationCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="Interface" type="CodeType" minOccurs="0"/>
      <xsd:element name="TargetApplication" type="CodeType" minOccurs="0"/>
      <xsd:element name="SourceApplication" type="CodeType" minOccurs="0"/>
      <xsd:element name="InstanceID" type="IdentifierType" minOccurs="0"/>
      <xsd:element name="TrackingID" type="IdentifierType" minOccurs="0"/>
      <xsd:element name="ExecutionContextID" type="IdentifierType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Also known as ECID in SOA Suite. This is an ID generated for a group of service invocations/executions</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <!-- =====      Specification-->
  <xsd:complexType name="SpecificationGroupType">
    <xsd:sequence>
      <xsd:element name="Name" type="ObjectNameType" minOccurs="0"/>
      <xsd:element ref="Specification" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SpecificationGroup" type="SpecificationGroupType">
    <xsd:annotation>
      <xsd:documentation>A container for a set of specifications that can be used to describe an object in more detail. For example, a Specification Group called Display Specifications can be created to list all the specifications of an item that need to be displayed on a catalog, with each specifiication having a name and a value</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="SpecificationType">
    <xsd:sequence>
      <xsd:element ref="Identification" minOccurs="0"/>
      <xsd:element name="Name" type="ObjectNameType" minOccurs="0"/>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="ValueText" type="TextType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>One or more Text values for the specification</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="ValueNumeric" type="NumericType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>One or more Numeric values for the specification</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="ValueDate" type="DateType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>One or more Date values for the specification</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="ValueDateTime" type="DateTimeType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>One or more DateTime values for the specification</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="ValueQuantity" type="QuantityType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>One or more Quantity values for the specification</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="ValueAmount" type="AmountType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>One or more Amount values for the specification</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="ValueCode" type="CodeType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>One or more Code values for the specification</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="DataTypeCode" type="CodeType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>Data Type of the value being expressed</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
          <xsd:element name="Value" type="StringType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>Value</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="EffectiveTimePeriod" type="EffectiveTimePeriodType" minOccurs="0"/>
      <xsd:element name="Status" type="StatusType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Status of Specification</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Custom" type="ValueSetType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionType"/>
  </xsd:complexType>
  <!-- ====================================================================== -->
  <!-- =====     Elements Types                                         ===== -->
  <!-- ====================================================================== -->
  <xsd:element name="ValueSet" type="ValueSetType">
    <xsd:annotation>
      <xsd:documentation>A value set is a declarative specification of a set of data values that can be entered into a given field. Value sets may be defined using a filter criteria or range (e.g., integers from 1 to 100), or with an enumerated list of values</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="ValueSetLine" type="ValueSetLineType">
    <xsd:annotation>
      <xsd:documentation>Holding a legal value in the value set</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:element name="Identification" type="IdentificationType"/>
  <xsd:element name="ResponseAcknowledge" type="ResponseAcknowledgeType"/>
  <xsd:element name="FaultMessage" type="FaultMessageType"/>
  <xsd:element name="FaultService" type="FaultingServiceType"/>
  <xsd:element name="Response" type="ResponseType"/>
  <xsd:element name="ResponseList" type="ResponseListType"/>
  <xsd:element name="Specification" type="SpecificationType">
    <xsd:annotation>
      <xsd:documentation>A generic representation of a strongly typed Name Value pair that can be used to capture single or multiple values for a given name. Specifications are always used within the context of a Specification Group.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- =====      Note-->
  <xsd:complexType name="NoteType">
    <xsd:sequence>
      <xsd:element name="Author" type="NameType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Author of the note</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EntryDateTime" type="DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Date on which the note was created or last updated</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LanguageCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The language in which the note is defined</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Content" type="StringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Content of the Note</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Status" type="StatusType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Note" type="NoteType">
    <xsd:annotation>
      <xsd:documentation>A free form note used to capture instructions or information about an object or a transaction</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="TelephoneType">
    <xsd:sequence>
      <xsd:element name="CountryDiallingCode" type="xsd:string" minOccurs="0">
        <!-- Codigo de pais MX -->
      </xsd:element>
      <xsd:element name="AreaID" type="xsd:string" minOccurs="0">
        <!-- Codigo de area -->
      </xsd:element>
      <xsd:element name="DialNumber" type="xsd:string" minOccurs="0">
        <!-- numero de telefono -->
      </xsd:element>
      <xsd:element name="ExtensionID" type="xsd:string" minOccurs="0">
        <!-- Extension -->
      </xsd:element>
      <xsd:element name="Status" type="StatusType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="type" type="xsd:string"/>
  </xsd:complexType>
  <xsd:complexType name="AddressType">
    <xsd:sequence>
      <xsd:element name="Identification" type="IdentificationType" minOccurs="0"/>
      <!--<xsd:element name="FormatCode" type="CodeType" minOccurs="0">
    <xsd:annotation>
    <xsd:documentation>A code specifying the format of this address</xsd:documentation>
  </xsd:annotation>
</xsd:element>-->
      <xsd:element name="LineOne" type="TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The first free form line, expressed as text, of an address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineTwo" type="TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The first second form line, expressed as text, of an address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineThree" type="TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The third free form line, expressed as text, of an address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LineFour" type="TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The fourth free form line, expressed as text, of an address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Building" type="TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A building name or number. An office park or campus may have several buildings that are distinguished by the building name or number.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Floor" type="StringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A floor in a building
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StreetNumber" type="StringType" minOccurs="0"/>
      <xsd:element name="Apartment" minOccurs="0" type="StringType"/>
      <xsd:element name="StreetName" type="StringType" minOccurs="0"/>
      <xsd:element name="BetweenStreets" type="StringType" minOccurs="0"/>
      <xsd:element name="Area" type="TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Refers to an area of the building such as left wing, right wing etc.
          </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CityName" type="StringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The name, expressed as text, of the city, town or village of this address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="StateName" type="StringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Name of the state in which  the city falls, where applicable</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProvinceName" type="ObjectNameType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Name of the province where the address is located, if applicable</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="RuralRoute" type="TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Rural Route Number for the address, if applicable</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountyName" type="ObjectNameType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>County Name, if applicable</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountryName" type="ObjectNameType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Country Name, if applicable</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountryCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The unique identifier of a country for this address (Reference ISO 3166 and UN/ECE Rec 3)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountrySubDivisionID" type="IdentifierType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An identification of a country sub-division of this address such as a department in France. To be used only if there is no named term that represents the countrysubdivision concept being expressed</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CitySubDivisionName" type="StringType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A name, expressed as text, of a sub-division of a city for this address, for example a district or borough.  To be used only if there is no named term that represents the citysubdivision concept being expressed</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ProcessingCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Postal Adress Processing Code</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PostalCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A code specifying the postalcode of the address</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LongPostalCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A full postalcode of the address, e.g., 94070-3541</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="GEOCodeID" type="IdentifierType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A unique code that represents a geospatial coordinate measurement of an exact geographic location and time at, below, or above the surface of the earth</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="InCityLimitIndicator" type="IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates whether or not this address is within the taxing boundary of the jurisdiction that's provided in the address.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TimeZoneCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Code indicating the time zone of the address, e.g., EST, PST, UTC-8, UTC-5</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="TypeCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Code indicating the contact type, e.g., PARTICULAR, PARTICULAR|CONSULTORIO, PARTICULAR|TRABAJO, TRABAJO  </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SubTypeCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Code indicating the GCM subtype, e.g., FACTURACION, ENVIO , SERVICIO, FACTURACION|ENVIO|SERVICIO   </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <!--<xsd:element name="Custom" type="corecomcust:CustomAddressType" minOccurs="0"/>-->
    </xsd:sequence>
    <xsd:attribute name="type" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Address" type="AddressType">
    <xsd:annotation>
      <xsd:documentation>The location at which a particular organization or person may be found or reached</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="InsuranceReferenceType">
    <xsd:sequence>
      <xsd:element name="Identification" type="IdentificationType" minOccurs="0"/>
      <xsd:element name="Name" type="IdentifierNameType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="OrganizationReferenceType">
    <xsd:sequence>
      <xsd:element name="Identification" minOccurs="0" type="IdentificationType"/>
      <xsd:element name="Name" minOccurs="0" type="TextType"/>
      <xsd:element name="LegalEntityReference" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Identification" type="IdentificationType" minOccurs="0"/>
            <xsd:element name="TaxPayerRegistrationNumberID" minOccurs="0" type="CodeType">
              <xsd:annotation>
                <xsd:documentation>RFC de la empresa</xsd:documentation>
              </xsd:annotation>
            </xsd:element>
            <xsd:element name="Name" minOccurs="0" type="TextType"/>
            <xsd:element name="Description" minOccurs="0" type="TextType"/>
            <xsd:element name="Code" minOccurs="0" type="CodeType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="LegalStructureCode" minOccurs="0" type="CodeType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BillingReferenceType">
    <xsd:sequence>
      <xsd:element name="Identification" type="IdentificationType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="DocumentReferenceType">
    <xsd:sequence>
      <xsd:element name="DocumentCode" type="CodeType" minOccurs="0">
        <!--Identificacion INE|IFE|Pasaporte-->
      </xsd:element>
      <xsd:element name="DocumentName" type="StringType" minOccurs="0"/>
      <xsd:element name="EffectivePeriod" type="EffectiveTimePeriodType" minOccurs="0"/>
      <xsd:element name="DocumentLink" type="StringType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CustomerPartyReferenceType">
    <xsd:sequence>
      <xsd:element name="Code" type="CodeType" minOccurs="0"/>
      <xsd:element name="Name" type="ObjectNameType" minOccurs="0"/>
      <xsd:element name="Status" type="StatusType" minOccurs="0"/>
      <xsd:element name="Description" type="TextType" minOccurs="0"/>
      <xsd:element name="CustomerInformation" type="PersonType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="BillPartyReferenceType">
    <xsd:sequence>
      <xsd:element name="CustomerIdentification" type="IdentificationType" minOccurs="0"/>
      <xsd:element name="CustomerPartyReference" type="CustomerPartyReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="EffectivePeriod"/>
  <!-- =====      Contact-->
  <xsd:complexType name="ContactType">
    <xsd:sequence>
      <xsd:element ref="Identification" minOccurs="0"/>
      <xsd:element name="PreferredLanguageCode" type="LanguageCodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Preferred Language for communication with the contact</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Department" type="TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Department to which the contact is associated</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="JobTitle" type="TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Is the position or designation of the pesron with whom associated within the given organization. Examples are Director, Software Engineer, Purchasing Manager etc</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Responsibility" type="TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>A text description of the responsibility of the contact</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OrganizationIndicator" type="IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicate whether this contact is an organization contact or an individual. If it is an organization contact person's field may not be populated such as the PersonName and JobTitle.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PreferredCommunicationChannelCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>This indicates the preferred communication channel whether it is address, phone, etc.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OrganizationName" type="ObjectNameType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>This capture the name of the Organization for both of the cases when contact is an organization or an individual person (organization of that individual).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ContactTelexCommunication" type="TextType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="PersonName" type="NameType" minOccurs="0"/>
      <xsd:element name="BirthDateTime" type="DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Birth date and time of the contact person</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ContactAddressCommunication" type="AddressType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ContactPhoneCommunication" type="TelephoneType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ContactFaxCommunication" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="StringType">
              <xsd:attribute name="type" type="StringType"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ContactEmailCommunication" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="URIType">
              <xsd:attribute name="type" type="StringType"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ContactWebsiteCommunication" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="StringType">
              <xsd:attribute name="type" type="StringType"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Custom" type="ValueSetType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Contact" type="ContactType">
    <xsd:annotation>
      <xsd:documentation>A person or department that acts as a point of contact with another person or department</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- ====================================================================== -->
  <!-- =====      Party                                                                                                          ===== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="PartyType">
    <xsd:sequence>
      <xsd:element ref="Identification" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Unique identification</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PartyContact" type="ContactType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Contacts of the Party</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Organization" type="OrganizationReferenceType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Name of the Organization</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Person" type="PersonType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An individual</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LocationReference" type="LocationType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="Type" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Party" type="PartyType">
    <xsd:annotation>
      <xsd:documentation> A Party is an organization, individual or group that plays different roles such as supplier, customer, BillTo etc in transactions</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- =====      Party Related Party (subcomponent of Party)-->
  <xsd:complexType name="PartyRelatedPartyType">
    <xsd:sequence>
      <xsd:element ref="Identification" minOccurs="0"/>
      <xsd:element ref="PartyRelationship" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Custom" type="ValueSetType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionType"/>
  </xsd:complexType>
  <xsd:element name="PartyRelatedParty" type="PartyRelatedPartyType">
    <xsd:annotation>
      <xsd:documentation>This component allows for specification of one or more relationships between the containing party and another party (the inverse relationship will typically be specified in this party as well). The relationship can be contact, employer/employee, member (e.g., of a household, association), investment manager, guardian</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <!-- =====      Party Relationship (subcomponent of Party Related Party) - Enhanced in PS3-->
  <xsd:complexType name="PartyRelationshipType">
    <xsd:sequence>
      <xsd:element ref="Identification" minOccurs="0"/>
      <xsd:element name="RelationshipCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Code indicate the relationship, e.g.,  contact, employer, employee, member (e.g., of a household, association), investment manager, guardian</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="EffectiveTimePeriod" type="EffectiveTimePeriodType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>A period of time for which the relationship is effective.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Custom" type="ValueSetType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionType"/>
  </xsd:complexType>
  <xsd:element name="PartyRelationship" type="PartyRelationshipType">
    <xsd:annotation>
      <xsd:documentation>Capture relationship detail between two parties. The preference is assumed to apply across related parties with the same relationship code.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="CustomerPartyAccountType">
    <xsd:sequence>
      <xsd:element ref="Identification" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Customer Account unique identifier</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreationDateTime" type="DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Date when the customer account was originally established </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CoterminateDateTime" type="DateTimeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Identifies the date when services ordered by the customer will end. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrencyCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Default Billing Currency for this Customer Account </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ClassificationCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Classifications that this Customer Party Account has been classified into. </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Name" type="ObjectNameType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Descriptive Name of the Account </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Status" type="StatusType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Customer Account status</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="BillingProfileIdentification" type="IdentificationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Billing preferences applicable for creating bills or invoices for this Customer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ShippingProfileIdentification" type="IdentificationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Shipping preferences applicable for Shipping to this Customer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="SellingProfileIdentification" type="IdentificationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Selling preferences applicable for Selling to or creating Sales Order for this customer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="PaymentProfileIdentification" type="IdentificationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Payment preferences that this customer uses to make payments to the deploying company</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CreditProfileIdentification" type="IdentificationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Credit preferences and classifications including credit limit , credit risk etc. for this Customer</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CFDiProfile" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="CFDiType">
              <xsd:attribute name="name" type="StringType"/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element ref="Note" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Note</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="ParentCustomerPartyAccountIdentification" type="IdentificationType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Parent of this Customer Party Account  in the Account  hierarchy</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="OrganizationUnitReference" type="OrganizationReferenceType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The CustomerPartyAccount's organization unit. This can be mapped to division, business unit, department, or other organizational designations.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CustomerPartyAccountSite" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Sites where this Customer Party does business</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="IdentificationType">
              <xsd:attribute name="name" type="StringType"/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CustomerPartyAccountContact" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Contact persons on behalf of this customer Party</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="IdentificationType">
              <xsd:attribute name="name" type="StringType"/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="RelatedCustomerPartyAccount" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Other Customer Party accounts that are related to this Customer Party account and hence can act as proxy for this Customer Party account.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="IdentificationType">
              <xsd:attribute name="name" type="StringType"/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CustomerPartyAccountUsage" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Usages or Roles that this Customer Party can be assigned. Some example values are: ShipTo, BillTo, Broker, SoldTo etc.</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="IdentificationType">
              <xsd:attribute name="name" type="StringType"/>
            </xsd:extension>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CustomerPartyAccountAttachment" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Attachment</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:complexContent>
            <xsd:extension base="DocumentReferenceType"/>
          </xsd:complexContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AccountBalanceSummary" type="AccountBalanceSummaryType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Capture Account Balance Information for the CustomerPartyAccount.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Custom" type="ValueSetType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionType" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="AccountBalanceSummaryType">
    <xsd:sequence>
      <xsd:element name="TypeCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Captures the type of account balance being displayed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Amount" type="AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Captures the amount associated with the account balance type.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="DueDate" type="DateType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Captured the date associated with the account balance details (ie. payment due date).</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Custom" type="ValueSetType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionType" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="CFDiType">
    <xsd:sequence>
      <xsd:element name="TypeCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Captures the type of account balance being displayed.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UUID" type="TextType" minOccurs="0"/>
      <xsd:element name="UseCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="RelationType" type="TextType" minOccurs="0"/>
      <xsd:element name="PaymentMethodCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="PaymentTypeCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="ConfirmationCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="DueDateTime" type="DateTimeType" minOccurs="0"/>
      <xsd:element name="Version" type="TextType" minOccurs="0"/>
      <xsd:element name="Serie" type="TextType" minOccurs="0"/>
      <xsd:element name="Stamp" type="TextType" minOccurs="0"/>
      <xsd:element name="TaxUnitOfMeasurement" type="StringType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="actionCode" type="ActionType" use="optional"/>
  </xsd:complexType>
  <xsd:complexType name="PersonType">
    <xsd:sequence>
      <xsd:element ref="Identification" minOccurs="0"/>
      <xsd:element name="TypeCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Type of name such as Legal name, official name and so on.</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FullName" type="IdentifierType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The person's full name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="FirstName" type="NameType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Is the Persons given name or first name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="MiddleName" type="NameType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Is the persons middle name</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="LastName" minOccurs="0" maxOccurs="2">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="NameType">
              <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Title" type="TextType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Is the title of the person. For example Dr..</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Alias" type="TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Alias by which the person is known</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Gender" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Code" type="CodeType" minOccurs="0"/>
            <xsd:element name="Description" type="TextType" minOccurs="0"/>
          </xsd:sequence>
          <xsd:attribute name="Application" type="xsd:string"/>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="BirthInformation" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="FullDate" type="DateType" minOccurs="0"/>
            <xsd:element name="DayOfMonth" type="xsd:positiveInteger" minOccurs="0">
              <!-- Da de nacimiento -->
            </xsd:element>
            <xsd:element name="Month" type="xsd:positiveInteger" minOccurs="0">
              <!-- Mes de nacimiento -->
            </xsd:element>
            <xsd:element name="Year" type="xsd:positiveInteger" minOccurs="0">
              <!-- Ao de nacimiento -->
            </xsd:element>
            <xsd:element name="Nationality" minOccurs="0" maxOccurs="unbounded">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="CountryName" type="ObjectNameType" minOccurs="0">
                    <!--  -->
                  </xsd:element>
                  <xsd:element name="CountryCode" type="CodeType" minOccurs="0">
                    <!-- MX -->
                  </xsd:element>
                  <xsd:element name="Description" minOccurs="0" type="TextType"/>
                </xsd:sequence>
                <xsd:attribute name="languageCode" type="xsd:string"/>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="SocialInformation" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="MaritalStatus" minOccurs="0">
              <!-- Estado civil S Soltero, C Casado, '' Unknown -->
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="Code" type="CodeType" minOccurs="0"/>
                  <xsd:element name="Description" type="TextType" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
            <xsd:element name="Religion" type="xsd:string" minOccurs="0">
              <!-- Religion CA -->
            </xsd:element>
            <xsd:element name="SocialSecurityNumber" type="xsd:string" minOccurs="0">
              <!--  -->
            </xsd:element>
            <xsd:element name="SocioeconomicLevel" minOccurs="0" type="xsd:string"/>
            <xsd:element name="RFC" type="xsd:string" minOccurs="0">
              <!--  -->
            </xsd:element>
            <xsd:element name="CURP" type="xsd:string" minOccurs="0">
              <!--  -->
            </xsd:element>
            <xsd:element name="DocumentID" maxOccurs="unbounded" minOccurs="0">
              <xsd:complexType>
                <xsd:sequence>
                  <xsd:element name="DocumentType" type="CodeType" minOccurs="0">
                    <!--Tipo de Identificacion INE|IFE|PASAPORTE-->
                  </xsd:element>
                  <xsd:element name="DocumentNumber" type="xsd:string" minOccurs="0">
                    <!--Identificacion INE|IFE|Pasaporte-->
                  </xsd:element>
                  <xsd:element name="EffectivePeriod" type="EffectiveTimePeriodType" minOccurs="0"/>
                </xsd:sequence>
              </xsd:complexType>
            </xsd:element>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Language" minOccurs="0">
        <!-- Idioma ES -->
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="StringType">
              <xsd:attribute name="languageCode" type="xsd:string"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Status" type="StatusType" minOccurs="0">
        <!--  -->
      </xsd:element>
      <xsd:element name="Race" type="ObjectNameType" minOccurs="0"/>
      <xsd:element name="Occupation" type="TextType" minOccurs="0"/>
      <xsd:element name="BloodTypeCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="Email" minOccurs="0" maxOccurs="unbounded">
        <xsd:complexType>
          <xsd:simpleContent>
            <xsd:extension base="URIType">
              <xsd:attribute name="type" type="xsd:string"/>
            </xsd:extension>
          </xsd:simpleContent>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="ContactPhoneNumberList" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ContactPhoneNumber" type="TelephoneType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Addresses" minOccurs="0">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="Address" type="AddressType" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="Employer" type="xsd:string" minOccurs="0"/>
      <!--<xsd:element ref="EffectiveTimePeriod" minOccurs="0">
      <xsd:annotation>
      <xsd:documentation>A period of time for which the name is effective.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>-->
    </xsd:sequence>
    <xsd:attribute name="Relationship" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Person" type="PersonType">
    <xsd:annotation>
      <xsd:documentation>The different parts of the name of a person</xsd:documentation>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="BusinessUnitType">
    <xsd:sequence>
      <xsd:element name="Identification" minOccurs="0" type="IdentificationType"/>
      <xsd:element name="Name" minOccurs="0" type="TextType"/>
      <xsd:element name="Code" minOccurs="0" type="CodeType"/>
      <xsd:element name="CountryName" type="ObjectNameType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Country Name, if applicable</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CountryCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The unique identifier of a country for this address (Reference ISO 3166 and UN/ECE Rec 3)</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="BusinessUnit" type="BusinessUnitType"/>
  <xsd:complexType name="DocumentType">
    <xsd:sequence>
      <xsd:element name="Identification" minOccurs="0" type="IdentificationType"/>
      <xsd:element name="File" minOccurs="0" type="BinaryObjectType"/>
      <xsd:element name="Title" minOccurs="0" type="StringType"/>
      <xsd:element name="Name" minOccurs="0" type="StringType"/>
      <xsd:element name="Version" minOccurs="0" type="StringType"/>
      <xsd:element name="Author" minOccurs="0" type="StringType"/>
      <xsd:element name="Group" minOccurs="0" type="StringType"/>
      <xsd:element name="Serie" type="StringType" minOccurs="0"/>
      <xsd:element name="Type" type="StringType" minOccurs="0"/>
      <xsd:element name="Format" minOccurs="0" type="StringType"/>
      <xsd:element name="Content" minOccurs="0" type="StringType"/>
      <xsd:element name="PageNumber" type="NumericType" minOccurs="0"/>
      <xsd:element name="Created" minOccurs="0" type="DateTimeType"/>
      <xsd:element name="Updated" minOccurs="0" type="DateTimeType"/>
      <xsd:element name="Security" minOccurs="0" type="StringType"/>
      <xsd:element name="Path" minOccurs="0" type="StringType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Document" type="DocumentType"/>
  <xsd:complexType name="GeographicalCoordinateType">
    <xsd:sequence>
      <xsd:element name="AltitudeMeasure" type="MeasureType" minOccurs="0"/>
      <xsd:element name="LatitudeMeasure" type="MeasureType" minOccurs="0"/>
      <xsd:element name="LongitudeMeasure" type="MeasureType" minOccurs="0"/>
      <xsd:element name="LatitudeDirectionCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="LongitudeDirectionCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="SystemID" type="IdentifierType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="LocationType">
    <xsd:sequence>
      <xsd:element name="LocationId" minOccurs="0" type="IdentifierType"/>
      <xsd:element name="Name" type="ObjectNameType" minOccurs="0"/>
      <xsd:element name="Description" type="TextType" minOccurs="0"/>
      <xsd:element name="TypeCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="UseCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="Directions" type="TextType" minOccurs="0"/>
      <xsd:element ref="Address" minOccurs="0"/>
      <xsd:element name="GEOCodeID" type="IdentificationType" minOccurs="0"/>
      <xsd:element name="TimeZoneIdentifier" type="IdentificationType" minOccurs="0"/>
      <xsd:element name="GeographicalCoordinate" type="GeographicalCoordinateType" minOccurs="0"/>
    </xsd:sequence>
    <xsd:attribute name="Name" type="xsd:string"/>
    <xsd:attribute name="Code" type="xsd:string"/>
  </xsd:complexType>
  <xsd:element name="Location" type="LocationType"/>
  <xsd:complexType name="PriceType">
    <xsd:sequence>
      <xsd:element name="Amount" type="AmountType" minOccurs="0"/>
      <xsd:element name="PerQuantity" type="QuantityType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Indicates the PerQuantity side of this Amount. Typically, this value is 1 with a uom of each, meaning that, e.g., a UnitPrice with the Amount 1.29 would be the price per each or simply $1.29 each. For pricing wire, the UnitPrice Amount might be $7.00 with a  PerQuantity of 100 and a uom of LinearFeet, meaning the unit price would be $7 per 100 linear feet.  </xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ChargeType">
    <xsd:sequence>
      <xsd:element name="TypeCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="ChargeFrequencyCode" type="CodeType" minOccurs="0"/>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="BasisAmount" type="AmountType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The amount on which the charge is calculated. This may be different from the line amount</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="BasisQuantity" type="QuantityType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The quantity used for calculating the charge. This may be different from the line quantity</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="Amount" type="AmountType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Charge Amount in the transactional currency</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="CalculationPercent" type="PercentType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The percentage applied to the Basis Amount or Basis Quantity to calculate the charge. Either the CalculationPercent or the CalculationNumericRate can be specified</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="Calculation" type="TextType" minOccurs="0" maxOccurs="unbounded">
            <xsd:annotation>
              <xsd:documentation>Formula used to calculate the charge described as text</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:choice>
      <xsd:choice>
        <xsd:sequence>
          <xsd:element name="DiscountAmount" type="AmountType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The Amount by which the price is discounted</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
        <xsd:sequence>
          <xsd:element name="DiscountPercent" type="PercentType" minOccurs="0">
            <xsd:annotation>
              <xsd:documentation>The percentage by which the price is discounted</xsd:documentation>
            </xsd:annotation>
          </xsd:element>
        </xsd:sequence>
      </xsd:choice>
      <xsd:element name="ReasonCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>Reason for applying the charge, if any</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="CurrencyExchange" type="CodeType" minOccurs="0"/>
      <xsd:element name="TimePeriod" type="EffectiveTimePeriodType" minOccurs="0"/>
      <xsd:element name="PrePaidIndicator" type="IndicatorType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>An indication of whether or not the allowance is prepaid</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="Description" type="TextType" minOccurs="0" maxOccurs="unbounded">
        <xsd:annotation>
          <xsd:documentation>Description of the charge</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
      <xsd:element name="UnitListPrice" type="PriceType" minOccurs="0"/>
      <xsd:element name="UnitSalePrice" type="PriceType" minOccurs="0"/>
      <xsd:element name="DiscountMethodCode" type="CodeType" minOccurs="0">
        <xsd:annotation>
          <xsd:documentation>The type of Discount Method. Example Amount or Percent</xsd:documentation>
        </xsd:annotation>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Payment" type="PaymentType"/>
  <xsd:complexType name="PaymentType">
    <xsd:sequence>
      <xsd:element name="Identification" type="IdentificationType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="PaymentMethod" minOccurs="0" type="TextType"/>
      <xsd:element name="TypeCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="IssueDate" type="DateType" minOccurs="0"/>
      <xsd:element name="IssueDateTime" type="DateTimeType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="PaymentTypeCode" type="CodeType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="CurrencyTypeCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="Amount" type="AmountType" minOccurs="0"/>
      <xsd:element name="RFCIssuing" type="TextType" minOccurs="0"/>
      <xsd:element name="RFCReceptor" type="TextType" minOccurs="0"/>
      <xsd:element name="BankName" type="TextType" minOccurs="0"/>
      <xsd:element name="PayerAccount" type="TextType" minOccurs="0"/>
      <xsd:element name="PayerReference" type="TextType" minOccurs="0"/>
      <xsd:element name="Taxes" type="TaxType" maxOccurs="unbounded" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Taxes" type="TaxType"/>
  <xsd:complexType name="TaxType">
    <xsd:sequence>
      <xsd:element name="Identification" type="IdentificationType" minOccurs="0"/>
      <xsd:element name="TaxDetail" type="TextType" minOccurs="0"/>
      <xsd:element name="TypeCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="TotalTaxesTransferred" type="NumericType" minOccurs="0"/>
      <xsd:element name="TotalTaxesWithheld" type="NumericType" minOccurs="0"/>
      <xsd:element name="DefaultTaxationCountry" type="TextType" minOccurs="0"/>
      <xsd:element name="CertificateNumber" type="IdentifierType" minOccurs="0"/>
      <xsd:element name="TaxExemptFlag" type="StatusType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="Interest" type="InterestType"/>
  <xsd:complexType name="InterestType">
    <xsd:sequence>
      <xsd:element name="Identification" type="IdentificationType" minOccurs="0"/>
      <xsd:element name="Detail" type="TextType" minOccurs="0"/>
      <xsd:element name="Description" type="TextType" minOccurs="0"/>
      <xsd:element name="TypeCode" type="CodeType" minOccurs="0"/>
      <xsd:element name="Amount" type="AmountType" minOccurs="0"/>
      <xsd:element name="CurrentExchangeRate" type="TextType" minOccurs="0"/>
      <xsd:element name="Frecuency" type="TextType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>