AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/MetaData/Components/EnterpriseObjectLibrary/Common/DataTypes.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Common" targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Common" elementFormDefault="qualified">

    <!-- ====================================================================== -->
    <!-- =====     Core Data Types                                        ===== -->
    <!-- ====================================================================== -->
    <!-- ====================================================================== -->
    <!-- =====     simpleType Data Types                                  ===== -->
    <!-- ====================================================================== -->
    <xsd:simpleType name="StringType">
        <xsd:annotation>
            <xsd:documentation>The string datatype represents character strings in XML. The value space of string is the set of finite-length sequences of characters (as defined in [XML 1.0 (Second Edition)]) that match the Char production from [XML 1.0 (Second Edition)]. A character is an atomic unit of communication; it is not further specified except to note that every character has a corresponding Universal Character Set code point, which is an integer</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType> 
    <xsd:simpleType name="NameType">
        <xsd:annotation>
            <xsd:documentation>The string datatype represents name of a person, object, reference</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="([a-zA-ZÑñÁÉÍÓÚáéíóú])+((\s)+([a-zA-ZÑñÁÉÍÓÚáéíóú])+)*"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ObjectNameType">
        <xsd:annotation>
            <xsd:documentation>The StringNameType datatype represents name of a object, reference, is a normalizedString, do noy use for person name</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:normalizedString"/>
    </xsd:simpleType>
    <xsd:simpleType name="DateType">
        <xsd:annotation>
            <xsd:documentation>One calendar day according the Gregorian calendar</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:date"/>
    </xsd:simpleType>
    <xsd:simpleType name="DateTimeType">
        <xsd:annotation>
            <xsd:documentation>One calendar day and time according the Gregorian calendar</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:dateTime"/>
    </xsd:simpleType>
    <xsd:simpleType name="TimeType">
        <xsd:annotation>
            <xsd:documentation>time according the Gregorian calendar</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:time"/>
    </xsd:simpleType>
    <xsd:simpleType name="IndicatorType">
        <xsd:annotation>
            <xsd:documentation>A list of two mutually exclusive Boolean values that express the only possible states of a Property</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="URIType">
        <xsd:annotation>
            <xsd:documentation>anyURI represents a Uniform Resource Identifier Reference (URI). An anyURI value can be absolute or relative, and may have an optional fragment identifier (i.e., it may be a URI Reference). This type should be used to specify the intention that the value fulfills the role of a URI as defined by [RFC 2396], as amended by [RFC 2732]</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:anyURI">
            <xsd:pattern value="[^@]+@[^@]+\.[a-zA-Z]{2,}"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="ActionType">
        <xsd:annotation>
            <xsd:documentation>Actions available for messages</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="CREATE"/>
            <xsd:enumeration value="UPDATE"/>
            <xsd:enumeration value="DELETE"/>
            <xsd:enumeration value="INACTIVATE"/>
            <xsd:enumeration value="CLOSE"/>
            <xsd:enumeration value="ACTIVATE"/>
            <xsd:enumeration value="CANCEL"/>
            <xsd:enumeration value="QUERY"/>
            <xsd:enumeration value="INSERT"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="IdentifierNameType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="DurationType">
        <xsd:annotation>
            <xsd:documentation>Duration represents a duration of time. The value space of duration is a six-dimensional space where the coordinates designate the Gregorian year, month, day, hour, minute, and second components defined in 5.5.3.2 of [ISO 8601], respectively. These components are ordered in their significance by their order of appearance i.e. as year, month, day, hour, minute, and second</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:duration"/>
    </xsd:simpleType>
    <xsd:simpleType name="PercentType">
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>
    <xsd:simpleType name="YearType">
        <xsd:restriction base="xsd:gYear"/>
    </xsd:simpleType>
    <xsd:simpleType name="MonthType">
        <xsd:restriction base="xsd:normalizedString">
            <xsd:pattern value="01"/>
            <xsd:pattern value="02"/>
            <xsd:pattern value="03"/>
            <xsd:pattern value="04"/>
            <xsd:pattern value="05"/>
            <xsd:pattern value="06"/>
            <xsd:pattern value="07"/>
            <xsd:pattern value="08"/>
            <xsd:pattern value="09"/>
            <xsd:pattern value="10"/>
            <xsd:pattern value="11"/>
            <xsd:pattern value="12"/>
        </xsd:restriction>
    </xsd:simpleType>
    <xsd:simpleType name="LanguageCodeType">
    <xsd:restriction base="xsd:token">
      <xsd:enumeration value="EN"/>
      <xsd:enumeration value="ES"/>
      <xsd:enumeration value="FR"/>
      <xsd:enumeration value="PT"/>
      <xsd:enumeration value="ZA"/>
      <xsd:enumeration value="ZH"/>
    </xsd:restriction>
  </xsd:simpleType>
    <xsd:simpleType name="NumericType">
        <xsd:annotation>
            <xsd:documentation>Numeric information that is assigned or is determined by calculation, counting, or sequencing. It does not require a unit of quantity or unit of measure</xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:decimal"/>
    </xsd:simpleType>
    <!-- ====================================================================== -->
    <!-- =====     ComplexType Data Types                                 ===== -->
    <!-- ====================================================================== -->
    <xsd:complexType name="BinaryObjectType">
        <xsd:annotation>
            <xsd:documentation>A set of finite-length sequences of binary octets</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:base64Binary">
                <xsd:attribute name="id" type="xsd:normalizedString" use="optional"/>
                <xsd:attribute name="characterSetCode" type="xsd:normalizedString" use="optional"/>
                <xsd:attribute name="extension" type="xsd:normalizedString" use="optional"/>
                <xsd:attribute name="fileName" type="xsd:normalizedString"/>
                <xsd:attribute name="type" type="xsd:normalizedString"/>
                
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="TextType">
        <xsd:annotation>
            <xsd:documentation>A character string (i.e. a finite set of characters) generally in the form of words of a language</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:normalizedString">
                <xsd:attribute name="languageCode" type="LanguageCodeType" use="optional"/>
                <xsd:attribute name="languageLocaleCode" type="xsd:normalizedString" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="CodeType">
        <xsd:annotation>
            <xsd:documentation>A character string (letters, figures, or symbols) that for brevity and/or languange independence may be used to represent or replace a definitive value or text of an attribute together with relevant supplementary information</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:normalizedString">
                <xsd:attribute name="listID" type="xsd:normalizedString" use="optional"/>
                <xsd:attribute name="listAgencyID" type="xsd:normalizedString" use="optional"/>
                <xsd:attribute name="listVersionID" type="xsd:normalizedString" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="IdentifierType">
        <xsd:annotation>
            <xsd:documentation>A character string to identify and distinguish uniquely, one instance of an object in an identification scheme from all other objects in the same scheme together with relevant supplementary information</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:normalizedString">
                <xsd:attribute name="schemeID" type="xsd:normalizedString" use="optional"/>
                <xsd:attribute name="schemeAgencyID" type="xsd:normalizedString" use="optional"/>
                <xsd:attribute name="schemeVersionID" type="xsd:normalizedString" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="AmountType">
        <xsd:annotation>
            <xsd:documentation>A number of monetary units specified in a currency where the unit of the currency is explicit or implied</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="currencyCode" type="xsd:normalizedString" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="RateType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="unitCode" type="xsd:normalizedString" use="optional"/>
                <xsd:attribute name="baseValue" type="xsd:decimal" use="optional"/>
                <xsd:attribute name="baseUnitCode" type="xsd:normalizedString" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="MeasureType">
        <xsd:annotation>
            <xsd:documentation>A numeric value determined by measuring an object along with the specified unit of measure</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:normalizedString">
                <xsd:attribute name="unitCode" type="xsd:normalizedString" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
    <xsd:complexType name="QuantityType">
        <xsd:annotation>
            <xsd:documentation>A counted number of non-monetary units possibly including fractions</xsd:documentation>
        </xsd:annotation>
        <xsd:simpleContent>
            <xsd:extension base="xsd:decimal">
                <xsd:attribute name="unitCode" type="xsd:normalizedString" use="optional"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>
</xsd:schema>