AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ResponseProtosAdapterService/MetaData/Components/EnterpriseObjectLibrary/EBO/Season/SeasonEBM.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Season" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Season" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
<xsd:include schemaLocation="SeasonEBO.xsd"/>
  <xsd:element name="ProcessSeasonEBM" type="ProcessSeasonEBMType"/>
  <xsd:element name="ProcessSeasonResponseEBM" type="ProcessSeasonResponseEBMType"/>
  <xsd:element name="ProcessSeasonResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>
  <xsd:element name="CreateSeasonEBM" type="CreateSeasonEBMType"/>
  <xsd:element name="CreateSeasonResponseEBM" type="CreateSeasonResponseEBMType"/>
  <xsd:complexType name="ProcessSeasonEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProcessSeason" type="SeasonEBOType" maxOccurs="unbounded"/>
            <xsd:element name="SeasonRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessSeasonResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element name="ProcessSeasonReference" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="SeasonRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateSeasonEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateSeason" type="SeasonEBOType" maxOccurs="unbounded"/>
            <xsd:element name="SeasonRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CreateSeasonResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="CreateSeasonReference" type="com:IdentificationType"/>
      <xsd:element name="SeasonRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseAcknowledgeEBMType">
    <xsd:sequence>
      <xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>