AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ResponseProtosAdapterService/MetaData/Components/EnterpriseObjectLibrary/EBO/Season/SeasonEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Season" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Season" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom">
  <xsd:import schemaLocation="../../Common/CommonComponents.xsd" namespace="http://www.agarcia.mx/EnterpriseObjects/Common"/>
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Custom" schemaLocation="../../Custom/EBO/CustomSeasonEBO.xsd"/>
  <xsd:element name="SeasonEBO" type="SeasonEBOType"/>
  <xsd:complexType name="SeasonEBOType">
    <xsd:sequence>
      <xsd:element name="Identification" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="Description" type="com:TextType" minOccurs="0"/>
      <xsd:element name="EffectiveTimePeriod" type="com:EffectiveTimePeriodType" minOccurs="0"/>
      <xsd:element name="EntityHistoryReferenceType" type="com:EntityHistoryReferenceType" minOccurs="0"/>
      <xsd:element name="Custom" minOccurs="0" type="cust:CustomSeasonEBOType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>