AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/RetailOperations/Make/ProductDevelopment/ItemTaskSvc/Resources/WSDL/ItemTaskSvc.wsdl

<wsdl:definitions targetNamespace="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemTaskSvc/v1.0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:client="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemTaskSvc/v1.0" xmlns:ns1="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemTaskSvc" xmlns:AGSM="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" xmlns:AGSH="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">

   
	<wsdl:types>
		<schema xmlns="http://www.w3.org/2001/XMLSchema">
			<import namespace="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemTaskSvc" schemaLocation="../../Schema/ItemTaskSvcSchema.xsd"/>
                        <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardMessage" schemaLocation="../../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardMessageSchema.xsd"/>
                        <import namespace="http://mx.agarcia.ea/Commons/Schemas/AGStandardHeader" schemaLocation="../../../../../../Capabilities/Foundation/Schemas/Commons/AGStandardHeaderSchema.xsd"/>
		</schema>
	</wsdl:types>
        
        
 <wsdl:message name="findByIdRequest">
  <wsdl:part name="findByIdRequest" element="ns1:findItemByIdRequest"/>
 </wsdl:message>
 
 <wsdl:message name="findByIdResponse">
  <wsdl:part name="findByIdResponse" element="ns1:findItemByIdResponse"/>
 </wsdl:message>
 
  <wsdl:message name="findByFilterRequest">
  <wsdl:part name="findByIdRequest" element="ns1:findItemByFilterRequest"/>
 </wsdl:message>
 
 <wsdl:message name="findByFilterResponse">
  <wsdl:part name="findByIdResponse" element="ns1:findItemByFilterResponse"/>
 </wsdl:message>
 
 
   <wsdl:message name="findItemImageRequest">
  <wsdl:part name="findItemImageRequest" element="ns1:findItemImageRequest"/>
 </wsdl:message>
 
 <wsdl:message name="findItemImageResponse">
  <wsdl:part name="findItemImageResponse" element="ns1:findItemImageResponse"/>
 </wsdl:message>
 
 
 
 <wsdl:message name="standardMessageFault">
  <wsdl:part name="fault" element="AGSM:messageError"/>
 </wsdl:message>
 <wsdl:message name="standardMessageHeader">
  <wsdl:part name="header" element="AGSH:headerMessage"/>
 </wsdl:message>
 
 
 <wsdl:portType name="ItemTaskPType">
  <wsdl:operation name="findById">
   <wsdl:input message="client:findByIdRequest"/>
   <wsdl:output message="client:findByIdResponse"/>
   <wsdl:fault name="fault" message="client:standardMessageFault"/>
  </wsdl:operation>
  
  <wsdl:operation name="findByFilter">
   <wsdl:input message="client:findByFilterRequest"/>
   <wsdl:output message="client:findByFilterResponse"/>
   <wsdl:fault name="fault" message="client:standardMessageFault"/>
  </wsdl:operation>
  
  <wsdl:operation name="findItemImage">
   <wsdl:input message="client:findItemImageRequest"/>
   <wsdl:output message="client:findItemImageResponse"/>
   <wsdl:fault name="fault" message="client:standardMessageFault"/>
  </wsdl:operation>
  
 </wsdl:portType>
 
 
 
 <wsdl:binding name="ItemTaskBinding" type="client:ItemTaskPType">
  <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
  <wsdl:operation name="findById">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemTaskSvc/v1.0/findById"/>
   <wsdl:input>
    <soap:body use="literal" parts="findByIdRequest"/>
    <soap:header message="client:standardMessageHeader" part="header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="findByIdResponse"/>
   </wsdl:output>
   <wsdl:fault name="fault">
    <soap:fault name="fault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="findByFilter">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemTaskSvc/v1.0/findByFilter"/>
   <wsdl:input>
    <soap:body use="literal" parts="findByIdRequest"/>
    <soap:header message="client:standardMessageHeader" part="header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="findByIdResponse"/>
   </wsdl:output>
   <wsdl:fault name="fault">
    <soap:fault name="fault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
  <wsdl:operation name="findItemImage">
   <soap:operation style="document" soapAction="http://mx.agarcia.ea/RetailOperations/Make/ProductDevelopment/ItemTaskSvc/v1.0/findItemImage"/>
   <wsdl:input>
    <soap:body use="literal" parts="findItemImageRequest"/>
    <soap:header message="client:standardMessageHeader" part="header" use="literal"/>
   </wsdl:input>
   <wsdl:output>
    <soap:body use="literal" parts="findItemImageResponse"/>
   </wsdl:output>
   <wsdl:fault name="fault">
    <soap:fault name="fault" use="literal"/>
   </wsdl:fault>
  </wsdl:operation>
 </wsdl:binding>
</wsdl:definitions>