AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ResponseProtosAdapterService/MetaData/Components/EnterpriseObjectLibrary/EBO/FulfillmentOrder/FulfillmentOrderEBM.xsd

<!-- ======================================================================== --><!-- ======      FulfillmentOrder EBO EBM                                 ====== --><!-- ======================================================================== --><xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/FulfillmentOrder" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/FulfillmentOrder" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <!-- ====================================================================== -->
  <!-- =====      Imports                                               ===== -->
  <!-- ====================================================================== -->
  <xsd:include schemaLocation="FulfillmentOrderEBO.xsd"/>
  <!-- ====================================================================== -->
  <!-- ===== Las operaciones del EBO son 9                  ================= -->
  <!-- ===== En este EBO estan como Process, Update, Sync y Query  ========== -->
  <!-- ====================================================================== -->
  <!-- ====================================================================== -->
  <!-- =================== Create FulfillmentOrder Service ==================== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="CreateFulfillmentOrderEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="CreateFulfillmentOrder" type="FulfillmentOrderEBOType"/>
            <xsd:element name="FulfillmentOrderRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CreateFulfillmentOrderEBM" type="CreateFulfillmentOrderEBMType"/>
  <!-- ====================================================================== -->
  <!-- =================== Process FulfillmentOrder Service ==================== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="ProcessFulfillmentOrderEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProcessFulfillmentOrder" type="FulfillmentOrderEBOType"/>
            <xsd:element name="FulfillmentOrderRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ProcessFulfillmentOrderEBM" type="ProcessFulfillmentOrderEBMType"/>
  <!-- ====================================================================== -->
  <!-- =============== Create FulfillmentOrder Response Service =============== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="CreateFulfillmentOrderResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="CreateFulfillmentOrderReference" type="com:IdentificationType"/>
      <xsd:element name="FulfillmentOrderRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="CreateFulfillmentOrderResponseEBM" type="CreateFulfillmentOrderResponseEBMType"/>
  <!-- ====================================================================== -->
  <!-- =============== Process FulfillmentOrder Response Service =============== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="ProcessFulfillmentOrderResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="ProcessFulfillmentOrderReference" type="com:IdentificationType"/>
      <xsd:element name="FulfillmentOrderRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ProcessFulfillmentOrderResponseEBM" type="ProcessFulfillmentOrderResponseEBMType"/>
  <!-- ====================================================================== -->
  <!-- ==================== Update FulfillmentOrder Service ==================== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="UpdateFulfillmentOrderEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="UpdateFulfillmentOrder" type="FulfillmentOrderEBOType"/>
            <xsd:element name="FulfillmentOrderRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UpdateFulfillmentOrderEBM" type="UpdateFulfillmentOrderEBMType"/>
  <!-- ====================================================================== -->
  <!-- =============== Update FulfillmentOrder Response Service ================ -->
  <!-- ====================================================================== -->
  <xsd:complexType name="UpdateFulfillmentOrderResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="UpdateFulfillmentOrderReference" type="com:IdentificationType"/>
      <xsd:element name="FulfillmentOrderRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="UpdateFulfillmentOrderResponseEBM" type="UpdateFulfillmentOrderResponseEBMType"/>
  <!-- ====================================================================== -->
  <!-- ===================== Sync FulfillmentOrder Service ===================== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="SyncFulfillmentOrderEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SyncFulfillmentOrder" type="FulfillmentOrderEBOType"/>
            <xsd:element name="FulfillmentOrderRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SyncFulfillmentOrderEBM" type="SyncFulfillmentOrderEBMType"/>
  <!-- ====================================================================== -->
  <!-- ================ Sync FulfillmentOrder Response Service ================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="SyncFulfillmentOrderResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="SyncFulfillmentOrderReference" type="com:IdentificationType"/>
      <xsd:element name="FulfillmentOrderRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="SyncFulfillmentOrderResponseEBM" type="SyncFulfillmentOrderResponseEBMType"/>
  <!-- ====================================================================== -->
  <!-- ==================== Query FulfillmentOrder Service ===================== -->
  <!-- ====================================================================== -->
  <xsd:complexType name="QueryFulfillmentOrderEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="QueryFulfillmentOrder" type="FulfillmentOrderEBOType"/>
            <xsd:element name="FulfillmentOrderRecordHistory" minOccurs="0" type="com:EntityHistoryReferenceType"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="QueryFulfillmentOrderEBM" type="QueryFulfillmentOrderEBMType"/>
  <!-- ====================================================================== -->
  <!-- =============== Query FulfillmentOrder Response Service ================= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="QueryFulfillmentOrderResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element minOccurs="0" name="QueryFulfillmentOrderReference" type="FulfillmentOrderEBOType"/>
      <xsd:element name="FulfillmentOrderRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="QueryFulfillmentOrderResponseEBM" type="QueryFulfillmentOrderResponseEBMType"/>
  <!-- ====================================================================== -->
  <!-- ============= FulfillmentOrder Response Acknowledge Service ============= -->
  <!-- ====================================================================== -->
  <xsd:complexType name="ResponseAcknowledgeEBMType">
    <xsd:sequence>
      <xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="FulfillmentOrderResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>
</xsd:schema>