BCIE_fenix/features/MCP/6389/ADF-BPM/bpm/PC03Analisis/PC03AnalisisProcess/SOA/WSDLs/AnalisisProcess.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AnalisisProcess" xmlns:tns7="http://xmlns.bcie.org/ObjetoProceso/Analisis/Payload/V1"  xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/"  xmlns:xsd="http://www.w3.org/2001/XMLSchema"  xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"  xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/AnalisisProcess"  xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"  xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" >
    <wsdl:types>
        <xsd:schema targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AnalisisProcess">
            <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="oramds:/apps/Resources/BPM/Schema/Comun/Header/V1/HeaderOPN.xsd"/>
            <xsd:import namespace="http://xmlns.bcie.org/ObjetoProceso/Analisis/Payload/V1" schemaLocation="../Schemas/Analisis/V1/AnalisisPayload.xsd"/>
            <xsd:element name="inicio">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="header" type="tns6:Header"/>
                        <xsd:element name="config" type="tns7:ConfigGatewaysType"/>
                        <xsd:element name="Val" type="xsd:int"/>
                        <xsd:element name="Codigo" type="xsd:string"/>
                        <xsd:element name="idop" type="xsd:int"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="inicio">
        <wsdl:part name="parameters" element="tns:inicio"/>
    </wsdl:message>
    <wsdl:portType name="AnalisisProcessPortType">
        <wsdl:operation name="inicio">
            <wsdl:input message="tns:inicio"/>
        </wsdl:operation>
    </wsdl:portType>
    <plnk:partnerLinkType name="AnalisisProcessPortTypePartnerLinkType">
        <plnk:role name="AnalisisProcessPortTypeProvider">
            <plnk:portType name="tns:AnalisisProcessPortType"/>
        </plnk:role>
    </plnk:partnerLinkType>
</wsdl:definitions>
