Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Account/AcctCardRelMod/AcctCardRelMod_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/AcctCardRelMod_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptAcctCardRelMod="http://xmlns.banesco.com/eopt/AcctCardRelMod_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoCard="http://xmlns.banesco.com/eo/Card_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" xmlns:eoCardAcctRel="http://xmlns.banesco.com/eo/CardAcctRel_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/CardAcctRel_V1.0" schemaLocation="../../../EO/Card/CardAcctRel_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Card_V1.0" schemaLocation="../../../EO/Card/Card_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../../../EO/Acct/Acct_V1.0.xsd"/>
	<xs:element name="AcctCardRelModRq_Type" type="eoptAcctCardRelMod:AcctCardRelModRq_Type"/>
	<xs:complexType name="AcctCardRelModRq_Type">
		<xs:sequence>
			<xs:element name="AcctKey" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto AcctKey que contiene la información de identificación de la cuenta asociada a la tarjeta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Card" type="eoCard:Card" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto Card que contiene la información de la tarjeta a actualizar.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctCardRelModRq" type="eoptAcctCardRelMod:AcctCardRelModRq_Type"/>
	<xs:element name="AcctCardRelModRs_Type" type="eoptAcctCardRelMod:AcctCardRelModRs_Type"/>
	<xs:complexType name="AcctCardRelModRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto que contiene información sobre el resultado de la consulta (éxito o error).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardAcctRel" type="eoCardAcctRel:CardAcctRel" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Objeto CardAcctRel con los datos de la tarjeta actualizada.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctCardRelModRs" type="eoptAcctCardRelMod:AcctCardRelModRs_Type"/>
</xs:schema>
