Banesco_2023/OSB/BanescoServiceBusApp/Commons/wsdl/AppSvc/WFAcctDepAppSvc/WFAcctDepAppSvc_V1.0.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="WFAcctDepAppSvc_V1.0" targetNamespace="http://xmlns.banesco.com/AppSvc/WFAcctDepAppSvc_V1.0"
                  xmlns:tns="http://xmlns.banesco.com/AppSvc/WFAcctDepAppSvc_V1.0"
                  xmlns:appoptAcctFixDepInq="http://xmlns.banesco.com/appopt/WFAcctDepAppSvc/AcctFixDepInq_V1.0"
                  xmlns:appoptAcctFixDepAdd="http://xmlns.banesco.com/appopt/WFAcctDepAppSvc/AcctFixDepAdd_V1.0"
                  xmlns:appoptCommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
                  xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
                  xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <xsd:import schemaLocation="../../../xsd/AppOpt/AOptCommon/AOptCommon_V1.0.xsd"
                        namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"/>
            <xsd:import schemaLocation="../../../xsd/EO/Status/Status_V1.0.xsd"
                        namespace="http://xmlns.banesco.com/eo/Status_V1.0"/>
            <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctDepAppSvc/AcctFixDepInq_V1.0"
                        schemaLocation="../../../xsd/AppOpt/WFAcctDep/AcctFixDepInq/AcctFixDepInq_V1.0.xsd"/>
            <xsd:import namespace="http://xmlns.banesco.com/appopt/WFAcctDepAppSvc/AcctFixDepAdd_V1.0"
                        schemaLocation="../../../xsd/AppOpt/WFAcctDep/AcctFixDepAdd/AcctFixDepAdd_V1.0.xsd"/>
        </xsd:schema>
    </wsdl:types>
    
    <wsdl:message name="MsgHdrRq">
        <wsdl:part name="MsgHdrRq" element="appoptCommon:MsgHdrRq"/>
    </wsdl:message>
    <wsdl:message name="MsgHdrRs">
        <wsdl:part name="MsgHdrRs" element="appoptCommon:MsgHdrRs"/>
    </wsdl:message>
    <wsdl:message name="SystemFault">
        <wsdl:part name="SystemFault" element="eoStatus:SystemFault"/>
    </wsdl:message>
    <wsdl:message name="AcctFixDepInqRq">
        <wsdl:part name="AcctFixDepInqRq" element="appoptAcctFixDepInq:AcctFixDepInqRq"/>
    </wsdl:message>
    <wsdl:message name="AcctFixDepInqRs">
        <wsdl:part name="AcctFixDepInqRs" element="appoptAcctFixDepInq:AcctFixDepInqRs"/>
    </wsdl:message>
    <wsdl:message name="AcctFixDepAddRq">
        <wsdl:part name="AcctFixDepAddRq" element="appoptAcctFixDepAdd:AcctFixDepAddRq"/>
    </wsdl:message>
    <wsdl:message name="AcctFixDepAddRs">
        <wsdl:part name="AcctFixDepAddRs" element="appoptAcctFixDepAdd:AcctFixDepAddRs"/>
    </wsdl:message>
    
    <wsdl:portType name="WFAcctDepAppSvcPort">
        <wsdl:operation name="AcctFixDepInq">
            <wsdl:input message="tns:AcctFixDepInqRq"/>
            <wsdl:output message="tns:AcctFixDepInqRs"/>
            <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
        </wsdl:operation>
        <wsdl:operation name="AcctFixDepAdd">
            <wsdl:input message="tns:AcctFixDepAddRq"/>
            <wsdl:output message="tns:AcctFixDepAddRs"/>
            <wsdl:fault name="SystemFault" message="tns:SystemFault"/>
        </wsdl:operation>
    </wsdl:portType>
    
    <wsdl:binding name="WFAcctDepAppSvcBinding_SOAP11" type="tns:WFAcctDepAppSvcPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="AcctFixDepInq">
            <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/WFAcctDepAppSvc_V1.0/AcctFixDepInq"/>
            <wsdl:input>
                <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
                <soap:body use="literal" parts="AcctFixDepInqRq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
                <soap:body use="literal" parts="AcctFixDepInqRs"/>
            </wsdl:output>
            <wsdl:fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
        <wsdl:operation name="AcctFixDepAdd">
            <soap:operation style="document" soapAction="http://xmlns.banesco.com/AppSvc/WFAcctDepAppSvc_V1.0/AcctFixDepAdd"/>
            <wsdl:input>
                <soap:header use="literal" message="tns:MsgHdrRq" part="MsgHdrRq"/>
                <soap:body use="literal" parts="AcctFixDepAddRq"/>
            </wsdl:input>
            <wsdl:output>
                <soap:header use="literal" message="tns:MsgHdrRs" part="MsgHdrRs"/>
                <soap:body use="literal" parts="AcctFixDepAddRs"/>
            </wsdl:output>
            <wsdl:fault name="SystemFault">
                <soap:fault name="SystemFault" use="literal"/>
            </wsdl:fault>
        </wsdl:operation>
    </wsdl:binding>
    
    <wsdl:service name="WFAcctDepAppSvc_V1.0">
        <wsdl:port name="WFAcctDepAppSvc_V1.0" binding="tns:WFAcctDepAppSvcBinding_SOAP11">
            <soap:address location="http://localhost"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
