BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/PYD/WSDL/PYD.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<WL5G3N0:definitions xmlns="" name="PYD" targetNamespace="http://org/bcie/ws/middle/PYD/PYD.wsdl" xmlns:WL5G3N0="http://schemas.xmlsoap.org/wsdl/" xmlns:WL5G3N1="http://www.w3.org/2001/XMLSchema" xmlns:WL5G3N2="http://org/bcie/ws/middle/PYD/PYD.wsdl" xmlns:WL5G3N3="http://schemas.xmlsoap.org/wsdl/soap/">
  <WL5G3N0:types/>
  <WL5G3N0:message name="PYD_consultarProgramacion">
    <WL5G3N0:part name="linea" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fecha" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fondo" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="PYD_consultarProgramacionResponse">
    <WL5G3N0:part name="montoProgramado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="montoEjecutado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensajeError_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="PYD_consultarProyeccion">
    <WL5G3N0:part name="linea" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoDesembolso" type="WL5G3N1:string"/>
    <WL5G3N0:part name="fecha" type="WL5G3N1:dateTime"/>
    <WL5G3N0:part name="moneda" type="WL5G3N1:string"/>
    <WL5G3N0:part name="monto" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="fondo" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:message name="PYD_consultarProyeccionResponse">
    <WL5G3N0:part name="montoUsd_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="programado_out" type="WL5G3N1:string"/>
    <WL5G3N0:part name="codigoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="tipoResultado_out" type="WL5G3N1:decimal"/>
    <WL5G3N0:part name="mensajeError_out" type="WL5G3N1:string"/>
  </WL5G3N0:message>
  <WL5G3N0:portType name="PYD">
    <WL5G3N0:operation name="consultarProgramacion" parameterOrder="linea fecha moneda fondo montoProgramado_out montoEjecutado_out codigoResultado_out tipoResultado_out mensajeError_out">
      <WL5G3N0:input message="WL5G3N2:PYD_consultarProgramacion"/>
      <WL5G3N0:output message="WL5G3N2:PYD_consultarProgramacionResponse"/>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarProyeccion" parameterOrder="linea codigoDesembolso fecha moneda monto fondo montoUsd_out programado_out codigoResultado_out tipoResultado_out mensajeError_out">
      <WL5G3N0:input message="WL5G3N2:PYD_consultarProyeccion"/>
      <WL5G3N0:output message="WL5G3N2:PYD_consultarProyeccionResponse"/>
    </WL5G3N0:operation>
  </WL5G3N0:portType>
  <WL5G3N0:binding name="PYD" type="WL5G3N2:PYD">
    <WL5G3N3:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <WL5G3N0:operation name="consultarProgramacion">
      <WL5G3N3:operation soapAction="http://org/bcie/ws/middle/PYD/PYD.wsdl/consultarProgramacion"/>
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" namespace="http://org/bcie/ws/middle/PYD/PYD.wsdl" parts="linea fecha moneda fondo "/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" namespace="http://org/bcie/ws/middle/PYD/PYD.wsdl" parts="montoProgramado_out montoEjecutado_out codigoResultado_out tipoResultado_out mensajeError_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
    <WL5G3N0:operation name="consultarProyeccion">
      <WL5G3N3:operation soapAction="http://org/bcie/ws/middle/PYD/PYD.wsdl/consultarProyeccion"/>
      <WL5G3N0:input>
        <WL5G3N3:body use="literal" namespace="http://org/bcie/ws/middle/PYD/PYD.wsdl" parts="linea codigoDesembolso fecha moneda monto fondo "/>
      </WL5G3N0:input>
      <WL5G3N0:output>
        <WL5G3N3:body use="literal" namespace="http://org/bcie/ws/middle/PYD/PYD.wsdl" parts="montoUsd_out programado_out codigoResultado_out tipoResultado_out mensajeError_out"/>
      </WL5G3N0:output>
    </WL5G3N0:operation>
  </WL5G3N0:binding>
  <WL5G3N0:service name="PYD">
    <WL5G3N0:port name="PYD" binding="WL5G3N2:PYD">
      <WL5G3N3:address location="http://hn-obpm-qa.bcie.org:7065/MIDDLE/PYD"/>
    </WL5G3N0:port>
  </WL5G3N0:service>
</WL5G3N0:definitions>