AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Capabilities/Resources/ItemDiffDataService.wsdl

<wsdl:definitions name="ItemDiffDataService" targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ItemCatalogDataServiceApp/Capabilities/ItemDiffDataService" xmlns:tns="http://xmlns.oracle.com/pcbpel/adapter/db/ItemCatalogDataServiceApp/Capabilities/ItemDiffDataService" xmlns:jca="http://xmlns.oracle.com/pcbpel/wsdl/jca/" xmlns:plt="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:top="http://xmlns.oracle.com/pcbpel/adapter/db/top/ItemDiffDataService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <plt:partnerLinkType name="ItemDiffDataService_plt">
    <plt:role name="ItemDiffDataService_role">
      <plt:portType name="tns:ItemDiffDataService_ptt"/>
    </plt:role>
  </plt:partnerLinkType>
    <wsdl:types>
      <schema xmlns="http://www.w3.org/2001/XMLSchema">
        <import namespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ItemDiffDataService" schemaLocation="ItemDiffDataService_table.xsd"/>
      </schema>
    </wsdl:types>
    <wsdl:message name="selectByPrimaryKey_inputParameters">
        <wsdl:part name="selectByPrimaryKey_inputParameters" element="top:MdmItemsDiffsPrimaryKey"/>
    </wsdl:message>
    <wsdl:message name="MdmItemsDiffsCollection_msg">
        <wsdl:part name="MdmItemsDiffsCollection" element="top:MdmItemsDiffsCollection"/>
    </wsdl:message>
    <wsdl:portType name="ItemDiffDataService_ptt">
        <wsdl:operation name="insert">
            <wsdl:input message="tns:MdmItemsDiffsCollection_msg"/>
        </wsdl:operation>
        <wsdl:operation name="selectByPrimaryKey">
            <wsdl:input message="tns:selectByPrimaryKey_inputParameters"/>
            <wsdl:output message="tns:MdmItemsDiffsCollection_msg"/>
        </wsdl:operation>
    </wsdl:portType>
</wsdl:definitions>