Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBPmt/PmtUtilAdd/PmtUtilAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/PmtUtilAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptPmtUtilAdd="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/PmtUtilAdd_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PmtUtilAddRq_Type">
		<xs:sequence>
			<xs:element name="Biller" type="appoptPmtUtilAdd:Biller" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Pmt" type="appoptPmtUtilAdd:Pmt" minOccurs="1" maxOccurs="1"/>
			<xs:element name="SessionId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tóken recibido en la respuesta del método SessionInq (ID de Sesión)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PmtUtilAddRs" type="appoptPmtUtilAdd:PmtUtilAddRs_Type"/>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:complexContent>
			<xs:extension base="appoptPmtUtilAdd:Identification">
				<xs:sequence>
					<xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Party Identifier.</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="Pmt">
		<xs:annotation>
			<xs:documentation>Payment Information Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CurCode" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Currency Code</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DueDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment Due Date. The customer enters this date to represent the date the payment is due to arrive at the payee. May be modified by the customer.

xor PrcDt (Payment Processing Date)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ProcedureName" type="appoptcommon:ValueType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Información de Trámite/ Boleta:
Número de ticket o boleta
Tipo de Trámite/ Boleta</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PmtCreditDetail" type="appoptPmtUtilAdd:PmtCreditDetail" minOccurs="1" maxOccurs="1"/>
			<xs:element name="PmtKey" type="appoptPmtUtilAdd:PmtKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="DebtorData" type="appoptPmtUtilAdd:DebtorData" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PmtUtilAddRs_Type">
		<xs:sequence>
			<xs:element name="Pmt" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:annotation>
						<xs:documentation>Payment Information Aggregate.</xs:documentation>
					</xs:annotation>
					<xs:sequence>
						<xs:element name="ProcedureName" type="appoptcommon:ValueType" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Procedure Name</xs:documentation>
							</xs:annotation>
						</xs:element>
						<xs:element name="PmtStatus" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:annotation>
									<xs:documentation>Payment Status</xs:documentation>
								</xs:annotation>
								<xs:sequence>
									<xs:element name="ApprovalIdent" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Approval Identifier. This is an identifier that refers to an approval event that occurred at the authorizing server.
Elements of type Narrow Character are elements of character data type with the additional restriction that the only allowable characters are those contained within the ISO Latin-1 character set.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StatusCode" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Payment Status Code.</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="StatusDesc" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Payment Status Description</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="DebtorData" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:annotation>
									<xs:documentation>Debtor Data.

In payment scenarios, Debtor refers to the payer of an obligation. DebtorData contains the information about the payer.</xs:documentation>
								</xs:annotation>
								<xs:sequence>
									<xs:element name="PartyName" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Debtor FullName</xs:documentation>
										</xs:annotation>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
						<xs:element name="PmtCreditDetail" minOccurs="0" maxOccurs="1">
							<xs:complexType>
								<xs:annotation>
									<xs:documentation>Information related to the credit side of the payment. At least one occurrence is required. Multiple occurrences can be supplied for cases where a single payment (debit) has multiple associated credits,</xs:documentation>
								</xs:annotation>
								<xs:sequence>
									<xs:element name="BillRef" type="xs:string" minOccurs="0" maxOccurs="1">
										<xs:annotation>
											<xs:documentation>Bill Reference</xs:documentation>
										</xs:annotation>
									</xs:element>
									<xs:element name="Amt" minOccurs="0" maxOccurs="unbounded">
										<xs:complexType>
											<xs:annotation>
												<xs:documentation>The equivalent amount in the currency to be credited.</xs:documentation>
											</xs:annotation>
											<xs:sequence>
												<xs:element name="AmtCode" type="appoptPmtUtilAdd:EnumBillAmtCode" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>Amount Code</xs:documentation>
													</xs:annotation>
												</xs:element>
												<xs:element name="CurAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
													<xs:annotation>
														<xs:documentation>CurAmt</xs:documentation>
													</xs:annotation>
												</xs:element>
											</xs:sequence>
										</xs:complexType>
									</xs:element>
								</xs:sequence>
							</xs:complexType>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Identification">
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="IssuedIdentType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Issued Idententification Type.

Identifier Type based on ISO 20022 definition with additions.

Valid values include: AlnRegnNb, BEI, BIC, BirthCertificate, BkPtyId, DrvrsLicNb, DUNS, EANGLN, HealthCard, IBEI, IdntyCardNb, MerchantId, Military, MplyrIdNb, NINO, NRABusiness, NRAPersonal, Other, Passbook, PermanentResidence, PrtryId, PsptNb, Retirement, SclSctyNb, TaxIdNb, USCHU, VoterRegistration.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PmtCreditDetail">
		<xs:annotation>
			<xs:documentation>Information related to the credit side of the payment. At least one occurrence is required. Multiple occurrences can be supplied for cases where a single payment (debit) has multiple associated credits,</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BillRef" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bill Reference</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Amt" type="appoptPmtUtilAdd:PmtDetailAmount" minOccurs="1" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PmtDetailAmount">
		<xs:annotation>
			<xs:documentation>The equivalent amount in the currency to be credited.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AmtCode" type="appoptPmtUtilAdd:EnumBillAmtCode" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Códigos para determinar representar el monto correspondiente. Sus posibles valores son:
TotalPmt
SubTotal
TotalTax
OverDueBalance
CurrentBalance
Discount
TotalBalance</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurAmt" type="appoptcommon:CurAmt" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>CurAmt</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PmtKey">
		<xs:annotation>
			<xs:documentation>Payment Identifier.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PmtId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Payment Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DebtorData">
		<xs:annotation>
			<xs:documentation>Debtor Data.

In payment scenarios, Debtor refers to the payer of an obligation. DebtorData contains the information about the payer.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DebtAuthCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bank Code Authorization</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="DebtorAcct" type="appoptPmtUtilAdd:Acct" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Deptor Account</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Debtor FullName</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyRef" type="appoptPmtUtilAdd:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party that owns the account to be debited.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PmtUtilAddRq" type="appoptPmtUtilAdd:PmtUtilAddRq_Type"/>
	<xs:complexType name="Acct">
		<xs:annotation>
			<xs:documentation>Account Information Aggregate. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctType" type="appoptcommon:CommonTypeMandatory" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Grupo de Producto.

Ej: Cuenta, Préstamo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctKey" type="appoptPmtUtilAdd:AcctKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EnumBillAmtCode">
		<xs:annotation>
			<xs:documentation>Defined values:  MinAmtDue, MaxAmtDue, LateAmtDue, , MonthlyAmt, QuarterlyAmt, SemiAnnualAmt, AnnualAmt, ExtdAmt, Credits, StmtBal,  FinanceChg, Tip, Escrow, PMI, Donation</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="CurrentBal"/>
			<xs:enumeration value="Discount"/>
			<xs:enumeration value="SubTotal"/>
			<xs:enumeration value="TotalBal"/>
			<xs:enumeration value="TotalPmt"/>
			<xs:enumeration value="TotalTax"/>
			<xs:enumeration value="OverdueBalance"/>
			<xs:enumeration value="TotalBalance"/>
			<xs:enumeration value="CurrentBalance"/>
			<xs:enumeration value="NewBalance"/>
                        <xs:enumeration value="AgreeBalance"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:complexType name="Biller">
		<xs:sequence>
			<xs:element name="BillerId" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
