BCIE_fenix/features/MCP/16/ADF-BPM/bpm/PA08Supervision/PA08SupervisionProcessUITest/SOA/Schemas/Comun/Cliente/V1/ClienteOPN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Cliente/V1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:cte="http://xmlns.bcie.org/ObjetoProceso/Comun/Cliente/V1"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">

  <xs:complexType name="Cliente">
    <xs:annotation>
      <xs:documentation>Elemento que contiene la información basica del Cliente para los procesos BPM.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdCliente" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdFlexCube" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="RazonSocial" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Abreviatura" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdSector" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Sector" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdPais" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Pais" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdOficina" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Oficina" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ResponsableCliente" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
