AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Applications/RetailMerchandising/RMS/JMSSupplierConnectivity/Schema/VendorAddrDesc.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/VendorAddrDesc/v1" version="1.1" xmlns="http://www.oracle.com/retail/integration/base/bo/VendorAddrDesc/v1" xmlns:CustFlexAttriVo="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
<retailDoc:annotation>
<retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
</retailDoc:annotation>
<xs:element name="VendorAddrDesc">
<retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
<xs:complexType>
<xs:sequence>
<xs:element name="module" type="varchar24">
<retailDoc:annotation>
<retailDoc:documentation>Indicates the data type that the address is attached to.  In this case, it will always be 'SUPP'.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="key_value_1" type="varchar220">
<retailDoc:annotation>
<retailDoc:documentation>Holds the id the address is attached to.  In this case, it will be the supplier number.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="key_value_2" type="varchar220">
<retailDoc:annotation>
<retailDoc:documentation>NA</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="seq_no" type="number4">
<retailDoc:annotation>
<retailDoc:documentation>Number indicating the sequence that addresses within the same type were entered.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="addr_type" type="varchar22">
<retailDoc:annotation>
<retailDoc:documentation>The address type.  Valid values (e.g. 01 - Business, 02 - Postal, etc.) are on the add_type table.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="primary_addr_ind" type="varchar21">
<retailDoc:annotation>
<retailDoc:documentation>Indicates whether the address is the primary address for the address type.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="add_1" type="varchar2240">
<retailDoc:annotation>
<retailDoc:documentation>Not Yet Available</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="add_2" type="varchar2240">
<retailDoc:annotation>
<retailDoc:documentation>Not Yet Available</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="add_3" type="varchar2240">
<retailDoc:annotation>
<retailDoc:documentation>Not Yet Available</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="city" type="varchar2120">
<retailDoc:annotation>
<retailDoc:documentation>Not Yet Available</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="city_id" type="varchar210">
<retailDoc:annotation>
<retailDoc:documentation>This will contain a city id</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="state" type="varchar23">
<retailDoc:annotation>
<retailDoc:documentation>Not Yet Available</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element name="country_id" type="varchar23">
<retailDoc:annotation>
<retailDoc:documentation>Not Yet Available</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="jurisdiction_code" type="varchar210">
<retailDoc:annotation>
<retailDoc:documentation>ID associated to the tax jurisdiction of the country-state relationship.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="post" type="varchar230">
<retailDoc:annotation>
<retailDoc:documentation>Not Yet Available</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="contact_name" type="varchar2120">
<retailDoc:annotation>
<retailDoc:documentation>Contains the name of the contact for the supplier at this address.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="contact_phone" type="varchar220">
<retailDoc:annotation>
<retailDoc:documentation>Mapped to TL_PH, PH_EXTN as well. Not Yet Available</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="contact_telex" type="varchar220">
<retailDoc:annotation>
<retailDoc:documentation>Contains the telex number of the partner or supplier's representative contact.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="contact_fax" type="varchar220">
<retailDoc:annotation>
<retailDoc:documentation>Mapped to TL_PH, PH_EXTN as well. Not Yet Available</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
<xs:element minOccurs="0" name="contact_email" type="varchar2100">
<retailDoc:annotation>
<retailDoc:documentation>Contains the email address of the partner or supplier's representative contact.</retailDoc:documentation>
</retailDoc:annotation>
</xs:element>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:simpleType name="varchar230">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="30"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar23">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="3"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar2120">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="120"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar2240">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 240 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="240"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar22">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 2 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="2"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar24">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="4"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar220">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 20 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="20"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="number4">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:int">
<xs:totalDigits value="4"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="number15">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a number of digits count 15.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:long">
<xs:totalDigits value="15"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar2100">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 100 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="100"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar21">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="1"/>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="varchar210">
<retailDoc:annotation>
<retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
</retailDoc:annotation>
<xs:restriction base="xs:string">
<xs:maxLength value="10"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>