AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Capabilities/Resources/ItemDiffDataService_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ItemDiffDataService" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ItemDiffDataService" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="MdmItemsDiffsCollection" type="MdmItemsDiffsCollection"/>
   <xs:complexType name="MdmItemsDiffsCollection">
      <xs:sequence>
         <xs:element name="MdmItemsDiffs" type="MdmItemsDiffs" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MdmItemsDiffs">
      <xs:sequence>
         <xs:element name="id" type="string24"/>
         <xs:element name="appCode" type="string8"/>
         <xs:element name="catDef" type="xs:long"/>
         <xs:element name="parentId" type="string24"/>
         <xs:element name="parentCatid" type="xs:long"/>
         <xs:element name="name" type="xs:string" minOccurs="0" nillable="true"/>
         <xs:element name="code" type="string30" minOccurs="0" nillable="true"/>
         <xs:element name="description" type="string120" minOccurs="0" nillable="true"/>
         <xs:element name="primaryId" type="string24" minOccurs="0" nillable="true"/>
         <xs:element name="primaryAppcode" type="string8" minOccurs="0" nillable="true"/>
         <xs:element name="primaryCatdef" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="primaryParnid" type="string24" minOccurs="0" nillable="true"/>
         <xs:element name="primaryParncatid" type="xs:long" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="MdmItemsDiffsPrimaryKey" type="MdmItemsDiffsPrimaryKey"/>
   <xs:complexType name="MdmItemsDiffsPrimaryKey">
      <xs:sequence>
         <xs:element name="appCode" type="xs:string" minOccurs="1" maxOccurs="1"/>
         <xs:element name="catDef" type="xs:long" minOccurs="1" maxOccurs="1"/>
         <xs:element name="id" type="xs:string" minOccurs="1" maxOccurs="1"/>
         <xs:element name="parentCatid" type="xs:long" minOccurs="1" maxOccurs="1"/>
         <xs:element name="parentId" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string24">
      <xs:restriction base="xs:string">
         <xs:maxLength value="24"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string8">
      <xs:restriction base="xs:string">
         <xs:maxLength value="8"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string30">
      <xs:restriction base="xs:string">
         <xs:maxLength value="30"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>