AG_2019/OSB/OSB_APPS_IMPL_AG_Fase_2/Capabilities/Resources/ItemApplicationsList_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ItemApplicationsList" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ItemApplicationsList" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="MdmApplicationsCollection" type="MdmApplicationsCollection"/>
   <xs:complexType name="MdmApplicationsCollection">
      <xs:sequence>
         <xs:element name="MdmApplications" type="MdmApplications" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="MdmApplications">
      <xs:sequence>
         <xs:element name="code" type="string8"/>
         <xs:element name="name" type="xs:string" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ItemApplicationsListSelectInputParameters" type="ItemApplicationsListSelect"/>
   <xs:complexType name="ItemApplicationsListSelect">
      <xs:sequence/>
   </xs:complexType>
   <xs:simpleType name="string8">
      <xs:restriction base="xs:string">
         <xs:maxLength value="8"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>