AG_2019/SOA/CreateSupplierProcess/SOA/Schemas/BusinessAreas/Support/POS/POSLogControlSchema.xsd

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://mx.agarcia.ea/BusinessAreas/Support/POS/LogControl/v1" xmlns:base="http://mx.agarcia.ea/BusinessAreas/Support/POS/LogControl/v1" xmlns:enums="http://mx.agarcia.ea/Commons/Enums/v1" xmlns:poscom="http://mx.agarcia.ea/BusinessAreas/Support/POS/Common/v1" elementFormDefault="qualified" attributeFormDefault="unqualified">
   <xs:import schemaLocation="../../../Commons/CommonEnums.xsd" namespace="http://mx.agarcia.ea/Commons/Enums/v1"/>
   <xs:import schemaLocation="POSCommonSchema.xsd" namespace="http://mx.agarcia.ea/BusinessAreas/Support/POS/Common/v1"/>
   <xs:complexType name="POSLogICTFulfillmentAcknowledgement">
      <xs:sequence>
         <xs:element form="qualified" name="SerialNumber" type="xs:string"/>
         <xs:element form="qualified" name="ItemLink" type="POSLogTransactionLink"/>
         <xs:element form="qualified" name="ElectronicSignature" type="xs:boolean"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogControlTransaction">
      <xs:annotation>
         <xs:documentation>Events primarily targeted for use by store operations or loss
                prevention</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="Shift" type="POSLogShift">
            <xs:annotation>
               <xs:documentation>A time with a start and a finish in which work is being done.
                        Always has the same start and end time (doesn’t necessarily involve the same
                        work), i.e. day shift, swing shift, graveyard shift</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="DayPart" type="POSLogDayPart">
            <xs:annotation>
               <xs:documentation>A code denoting which part of the day the Control Transaction
                        was performed during, i.e. Breakfast, Lunch, Dinner</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ReasonCode" type="POSLogReason"/>
         <xs:choice maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Compromise to all the addition of new control transactions and
                        common elements</xs:documentation>
            </xs:annotation>
            <xs:choice>
               <xs:element form="qualified" name="BusinessSOD" type="POSLogCPOSSession">
                  <xs:annotation>
                     <xs:documentation>Indicates the business start of day</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="BusinessEOD" type="POSLogCPOSSession">
                  <xs:annotation>
                     <xs:documentation>Signals the business End of Day</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="DayPartStart" type="POSLogCPOSSession">
                  <xs:annotation>
                     <xs:documentation>Signals the start of a day part; breakfast, lunch
                                dinner, etc.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="DayPartEnd" type="POSLogCPOSSession">
                  <xs:annotation>
                     <xs:documentation>Signals the end of a day part; breakfast, lunch
                                dinner, etc.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="ShiftStart" type="POSLogCPOSSession">
                  <xs:annotation>
                     <xs:documentation>Signals the start of a fixed shift, Day, Swing,
                                graveyard, etc.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="ShiftEnd" type="POSLogCPOSSession">
                  <xs:annotation>
                     <xs:documentation>Signals the end of a fixed shift, Day, Swing,
                                graveyard, etc.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="POSSOD" type="POSLogCPOSSession">
                  <xs:annotation>
                     <xs:documentation>Signals the Start of Day for this
                            POS</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="POSEOD" type="POSLogCPOSSession">
                  <xs:annotation>
                     <xs:documentation>Signals the End of Day for this POS</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="TillSOD" type="POSLogCPOSSession">
                  <xs:annotation>
                     <xs:documentation>Signals the start of day for the
                            till.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="TillEOD" type="POSLogCPOSSession">
                  <xs:annotation>
                     <xs:documentation>Signals the End of day for the
                            till.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="TillMovement">
                  <xs:annotation>
                     <xs:documentation>Signals a till has been moved from one POS to
                            another</xs:documentation>
                  </xs:annotation>
                  <xs:complexType>
                     <xs:sequence>
                        <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Total" type="POSLogTotals"/>
                     </xs:sequence>
                     <xs:attribute default="In" form="unqualified" name="Action" type="POSLogTillMovementAction" use="optional"/>
                  </xs:complexType>
               </xs:element>
               <xs:element form="qualified" name="POSStartup" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>signals the POS being turned on.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="POSShutdown" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>signals the POS being shutdown. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="POSRestart" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>Signals the POS being shutdown with an immediate
                                restart. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="OperatorSignOn" type="POSLogCPOSSession">
                  <xs:annotation>
                     <xs:documentation>Signals when the operator signs on to a POS start
                                their work</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="OperatorSignOff" type="POSLogCPOSSession">
                  <xs:annotation>
                     <xs:documentation>Signals when the operator signs off a POS ending their
                                work.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="AutoSignoff" type="POSLogCPOSSession">
                  <xs:annotation>
                     <xs:documentation>Signals the POS automatically signed off the operator,
                                typically after some period of inactivity.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="OperatorLock" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>Signals when an operator locks their POS while they
                                are away from the POS to, for example, help a customer or stock the
                                shelves.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="OperatorUnLock" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>Signals when an operator unlocks their POS when they
                                return from , for example, helping a customer or stocking the
                                shelves</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="Void" type="POSLogTotals"/>
               <xs:element form="qualified" name="TransactionVoid" type="POSLogTotals"/>
               <xs:element form="qualified" name="SuspendDelete" type="POSLogTotals">
                  <xs:annotation>
                     <xs:documentation>Signals the deletion of a previously suspended
                                transaction.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="PostVoid" type="POSLogTotals"/>
               <xs:element form="qualified" name="Refund" type="POSLogTotals">
                  <xs:annotation>
                     <xs:documentation>Signals the giving of a refund.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="NoSale" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>The No Sale is used to open the cash drawer on a
                                terminal when a normal transaction is not in progress. It may be
                                used to give change to a customer or to do a preliminary count of
                                the drawer by the cashier or manager, etc</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="DrawerLimitExceeded" type="POSLogCDrawerLimitExceeded">
                  <xs:annotation>
                     <xs:documentation>Signals an event notifying the operator, that there is
                                too much money in the cash drawer.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="UnauthorizedOpen" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>Signals the cash drawer being manually opened (ie: not
                                under control of the POS). </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="PasswordChange" type="POSLogCPasswordChange">
                  <xs:annotation>
                     <xs:documentation>Signals a password change</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="PasswordAuthorization" type="POSLogCPasswordAuthorization">
                  <xs:annotation>
                     <xs:documentation>Signals a successful password authentication happening
                                at the POS</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="BadPassword" type="xs:boolean">
                  <xs:annotation>
                     <xs:documentation>Signals an unsuccessful password authentication
                                happening at the POS </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="InvalidSignon" type="POSLogCInvalidSignon">
                  <xs:annotation>
                     <xs:documentation>Signals an invalid signon was attempted, either with a
                                bad user name or password</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="Heartbeat" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>Signals a system heartbeat happening at the
                            POS</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="SetCashierMode" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>Signals the entry and exit of the POS in and out of
                                TrainingMode at the POS, Manager Mode, etc</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="LogEvent" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>Signals a generic non-structured event in the event
                                log of the POS.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="EndOfLog" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>Signals the end of the event log at the
                            POS.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="Voucher" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>Signals a voucher was issued</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="ReceiptReprint" type="POSLogCReceiptRePrint">
                  <xs:annotation>
                     <xs:documentation>Signals re-printing of a transaction receipt at the
                                POS.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="PrintDispatchDocket" type="POSLogCReceiptRePrint">
                  <xs:annotation>
                     <xs:documentation>Reports printing a receipt with the items and the
                                customer information to use for example in delivering items to the
                                customer.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="LoyaltyRedemptionFailure" type="LoyaltyRedemptionFailureType">
                  <xs:annotation>
                     <xs:documentation>Signals a failed attempt to redeem LoyaltyPoints &amp;
                                Vouchers previously awarded to the customer.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="PriceChange" type="POSLogCPriceChange">
                  <xs:annotation>
                     <xs:documentation>Signals the entry of a price change at the
                            POS</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="ApplicationEvent" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>Signals a generic non-structured Application
                                processing event happening at the POS.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="OSShutdown" type="xs:dateTime">
                  <xs:annotation>
                     <xs:documentation>Signals an Operating System shutdown being performed
                                at POS.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="DeviceStatus" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>Signals a change in a device status that is attached
                                to the POS</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="DeviceOn" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>Signals a device connected to the POS has become
                                online/available.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="DeviceOff" type="xs:string">
                  <xs:annotation>
                     <xs:documentation>Signals a device connected to the POS has gone
                                offline/unavailable</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="StoredValueFund" type="StoredValueFundType">
                  <xs:annotation>
                     <xs:documentation>Signals the result of an interaction between the POS
                                and StoredValue management system. (cf. IXRetail StoredValue
                                work-team schema). </xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:choice>
            <xs:any namespace="##other" processContents="lax"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogCPOSSession">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="StartDateTimestamp" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>The date and time for the start of this session.  It maybe the
                        start of a day or the start of a shift or ...</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="EndDateTimestamp" type="xs:dateTime">
            <xs:annotation>
               <xs:documentation>The date and time for the end of this session.  It maybe the
                        end of a day or the end of a shift or ...</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TillID" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="OpenBusinessDayDate" type="xs:date"/>
         <xs:element form="qualified" minOccurs="0" name="CloseBusinessDayDate" type="xs:date"/>
         <xs:element form="qualified" minOccurs="0" name="OpenTransactionSequenceNumber" type="SequenceNumberType">
            <xs:annotation>
               <xs:documentation>The first transaction in this session.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="CloseTransactionSequenceNumber" type="SequenceNumberType">
            <xs:annotation>
               <xs:documentation>The last transaction in this session.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="SessionSettle" type="POSLogTCSettle"/>
         <xs:element form="qualified" minOccurs="0" name="LastTransactionSequenceNumber" type="SequenceNumberType"/>
      </xs:sequence>
      <xs:attribute default="Operator" form="unqualified" name="Accountability" type="AccountabilityTypeCode" use="optional">
         <xs:annotation>
            <xs:documentation>A code denoting what kind of tender accountability is being used
                    for this Session</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="POSLogCPriceChange">
      <xs:sequence>
         <xs:element form="qualified" name="ItemID">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="ItemIDCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" name="OldPrice">
            <xs:annotation>
               <xs:documentation>The old price for the item whose price is being
                    changed</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="PriceCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="OldQuantity">
            <xs:annotation>
               <xs:documentation>The quantity part of the old price for the item whose price is
                        being changed</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="QuantityCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" name="NewPrice">
            <xs:annotation>
               <xs:documentation>The new price for the item whose price is being
                    changed</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="PriceCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="NewQuantity">
            <xs:annotation>
               <xs:documentation>The quantity part of the new price for the item whose price is
                        being changed</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="QuantityCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogCInvalidSignon">
      <xs:sequence>
         <xs:element form="qualified" name="SequenceNumber" type="SequenceNumberType"/>
         <xs:element form="qualified" name="DateTime" type="xs:dateTime"/>
         <xs:element form="qualified" name="Operator">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="OperatorCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="InvalidPassword" type="xs:string"/>
         <xs:element form="qualified" minOccurs="0" name="Workstation" type="WorkstationIDType"/>
         <xs:element form="qualified" minOccurs="0" name="ReasonCode">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="ReasonCodeCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogInventoryControlTransaction">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="InventoryCount" type="POSLogITInventoryCount">
            <xs:annotation>
               <xs:documentation>records the actual count of one or more Items at a location,
                        (which was recorded at POS)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ReceiveInventory" type="POSLogITDocument">
            <xs:annotation>
               <xs:documentation>records the receipt of one or more Items at a location from an
                        external source, (which was entered at POS)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Transfer" type="POSLogITDocument">
            <xs:annotation>
               <xs:documentation>recording the transfer of stock from one location/state to
                        another which was entered at the POS</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ReturnToVendor" type="POSLogITDocument">
            <xs:annotation>
               <xs:documentation>records the shipping of one or more Items at a location back
                        to the originating Vendor. (which was entered at POS)</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="InventoryAdjustment">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="POSLogITDocument">
                     <xs:attribute form="unqualified" name="AdjustmentReason" type="AdjustmentReasonTypeCodes" use="optional"/>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="InventoryLoss">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="POSLogITItemCount">
                     <xs:sequence>
                        <xs:element form="qualified" minOccurs="0" name="Reason" type="xs:string"/>
                     </xs:sequence>
                     <xs:attribute default="Breakage" form="unqualified" name="TypeCode" type="InventoryLossTypeCodes" use="optional"/>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="FulfillmentAcknowledgement" type="POSLogICTFulfillmentAcknowledgement">
            <xs:annotation>
               <xs:documentation>Acknowledgement a customer order (backorder) was
                    received.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTenderControlTransaction">
      <xs:annotation>
         <xs:documentation>Reports all non-sale/return transactions which have an impact on
                FINANCIAL accountability</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="Shift" type="POSLogShift"/>
         <xs:element form="qualified" minOccurs="0" name="DayPart" type="POSLogDayPart"/>
         <xs:element form="qualified" minOccurs="0" name="OperatorID" type="OperatorCommonData">
            <xs:annotation>
               <xs:documentation>The operator who performed this action. for example in a till
                        operator assignment, this is the operator who passed out the
                    till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:choice maxOccurs="unbounded">
            <xs:annotation>
               <xs:documentation>Compromise to add additional tender control types and
                        additional common elements</xs:documentation>
            </xs:annotation>
            <xs:choice>
               <xs:element form="qualified" name="BankCheckPrinted" type="POSLogTCBankCheckPrinted">
                  <xs:annotation>
                     <xs:documentation>restaurant runs out of a product (produce or milk,
                                etc). So go to the local grocery store with the bank check printed
                                by the POS to purchase the missing items</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="CharityCollection" type="POSLogTCCharityCollection">
                  <xs:annotation>
                     <xs:documentation>Money retrieved from a charity collection which is
                                later paid to the charity in one lump sum.  For example, bell
                                ringers collect change during christmas.  Periodically, to avoid
                                them being robbed, the money is collected and store for them by the
                                store. </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="Deposit" type="POSLogTCDeposit">
                  <xs:annotation>
                     <xs:documentation>Money counted, bagged and sent to the
                            bank</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="PaidIn" type="POSLogTCPaidInType">
                  <xs:annotation>
                     <xs:documentation>non-sale related money placed in the Till
                            </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="PaidOut" type="POSLogTCPaidOutType">
                  <xs:annotation>
                     <xs:documentation>Money paid out of the till typically to a vendor, for
                                example, paying the beer vendor before they leave the
                            premises</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="PettyCash" type="POSLogTCPaidInType">
                  <xs:annotation>
                     <xs:documentation>A small store of cash used .  A small amount of cash
                                set aside to be used for minor business expenses or when it isn't
                                feasible to go through the normal voucher and check procedure to buy
                                an item.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="PreAuthorization" type="POSLogTCPreAuthorization">
                  <xs:annotation>
                     <xs:documentation>Records when a customer pre-authorizes a credit/debit
                                card prior to pumping gas into their car.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="PreAuthorizationReversal" type="POSLogTCPreAuthorizationReversal">
                  <xs:annotation>
                     <xs:documentation>Records the reversal of a pre-authorization.  For
                                example, a customer leaves before pumping any gas but after a
                                credit/debit card pre-authorization occurs</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="PriceOverride" type="POSLogTCPriceOverride">
                  <xs:annotation>
                     <xs:documentation>recording a PriceOverride.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="SafeDrop" type="POSLogTCSafeDrop">
                  <xs:annotation>
                     <xs:documentation>Money put into typically a floor safe during the day.
                                Typically used when a large sum or denomination of money is
                                received.  Similar to Tender Pickup but driven and identified by
                                different business rules</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="SafeSettle" type="POSLogTCSafeSettle">
                  <xs:annotation>
                     <xs:documentation>The settlement of a safe at the end of a period.  Used
                                in reconciliation </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="StoredValueTransaction" type="POSLogTCStoredValueTransactionType">
                  <xs:annotation>
                     <xs:documentation>Uset to deactivate, cashout, or recharge stored value
                                instrument</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="TenderAdjustment" type="POSLogTCTenderAdjustment">
                  <xs:annotation>
                     <xs:documentation>At end of day when during counts someone finds they've
                                incorrectly tendered some transactions. Example - you find the
                                theoretical cash deposit is wrong because you tendered a $100 order
                                to cash and not credit. It shows you have $100 more in cash than you
                                do -and it shows you have a $100 less in your credit card batch than
                                you do.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="TenderExchange" type="POSLogTCTenderExchange">
                  <xs:annotation>
                     <xs:documentation>Indicate money that is changed with money from one
                                till to another  for example a 20 dollar bill is exchanged for 20
                                one dollar bills in another till/POS.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="TenderLoan" type="POSLogTCTenderLoan">
                  <xs:annotation>
                     <xs:documentation>Identification of moneys given to the till for
                                example, additional money given to the till during the day due o a
                                shortage of a particular currency type typically from a cash office.
                                Has an impact on reconciliaiton.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="TenderPickup" type="POSLogTCTenderPickup">
                  <xs:annotation>
                     <xs:documentation>Money removed from the till during the day caused
                                primarily by a drawer limit exceeded</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="TenderRedemption" type="POSLogTCTenderRedemption">
                  <xs:annotation>
                     <xs:documentation>Use to track redemption of a voucher or lotery card
                                for its cash value.  </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="TenderReturn" type="POSLogTender">
                  <xs:annotation>
                     <xs:documentation>overpayment returned to a customer.  For example a
                                customer puts $20 into a cash acceptor at the fuelling position.
                                They then pump $18 worth of gas.  The transaction gets closed at the
                                pump.  The customer gets a $2 voucher in the
                            store</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="TillOperatorAssignment" type="POSLogTCTillOperatorAssignmentType">
                  <xs:annotation>
                     <xs:documentation>In operator accountability, reports the assingment of
                                an operator to a particular till.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="TillSettle" type="POSLogTCSettle">
                  <xs:annotation>
                     <xs:documentation>The settlement of a till at the end of a period.  Used
                                in reconciliation </xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="TipOut" type="POSLogTotals">
                  <xs:annotation>
                     <xs:documentation>At the end of the day, tip money collected during the
                                day is given to the individual workers.  This is how money is given
                                and tracked to workers who don't directly receive the original tip,
                                i.e. bus boys.</xs:documentation>
                  </xs:annotation>
               </xs:element>
               <xs:element form="qualified" name="Withdrawal" type="POSLogTCWithdrawal">
                  <xs:annotation>
                     <xs:documentation>records using a POS similar to an ATM
                            machine</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:choice>
            <xs:any namespace="##other" processContents="lax"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCBankCheckPrinted">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="CheckNumber" type="xs:integer"/>
         <xs:element form="qualified" minOccurs="0" name="Reason" type="xs:string">
            <xs:annotation>
               <xs:documentation>Reason this bank check was printed, i.e. purchase a mop at the
                        local hardware store.</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCCharityCollection">
      <xs:sequence>
         <xs:element form="qualified" name="CharityCode" type="xs:string"/>
         <xs:element form="qualified" name="Totals" type="POSLogTotals"/>
      </xs:sequence>
      <xs:attribute form="unqualified" name="TenderType" type="TenderTypeCode"/>
   </xs:complexType>
   <xs:complexType name="POSLogTCCouponSummary">
      <xs:sequence>
         <xs:element form="qualified" name="CouponType" type="xs:string">
            <xs:annotation>
               <xs:documentation>coupon type being reported in this node</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="Total" type="POSLogTotals">
            <xs:annotation>
               <xs:documentation>The monetary value of the sum of all store coupon line items
                        of this type recorded at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCDeposit">
      <xs:sequence>
         <xs:element form="qualified" name="Bank" type="xs:string"/>
         <xs:element form="qualified" name="Account" type="xs:string">
            <xs:annotation>
               <xs:documentation>The bank account into which the deposit is being
                    made</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="BagID" type="xs:string">
            <xs:annotation>
               <xs:documentation>Unique ID for the bag in which the deposit was being
                    made</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="Amount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="Over" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The excess money in the till over the amount reported by the
                        POS</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Short" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The amount of money in the till under the amount reported by
                        the POS</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Description" type="xs:string"/>
         <xs:element form="qualified" name="Depositor" type="OperatorCommonData">
            <xs:annotation>
               <xs:documentation>Unique ID of the operator that made the
                    deposit</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" name="DepositDetail" type="POSLogTCTenderTotal"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCLayawayPayments">
      <xs:sequence>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Tender" type="POSLogTCTenderTotal"/>
         <xs:element form="qualified" name="Totals" type="POSLogTotals"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCLoans">
      <xs:sequence>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Tender" type="POSLogTCTenderTotal"/>
         <xs:element form="qualified" name="Total" type="POSLogTotals"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCMiscellaneousFees">
      <xs:sequence>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Tender" type="POSLogTCTenderTotal"/>
         <xs:element form="qualified" name="Totals" type="POSLogTotals"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCPaidInType">
      <xs:complexContent>
         <xs:extension base="POSLogTotals">
            <xs:sequence>
               <xs:element form="qualified" minOccurs="0" name="AccountLedgerCode" type="AccountLedgerCodeType">
                  <xs:annotation>
                     <xs:documentation>The account to which this is posted for example a
                                General Ledger account or an Account Payable</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
            <xs:attribute form="unqualified" name="TenderType" type="TenderTypeCode"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="POSLogTCPaidOutType">
      <xs:complexContent>
         <xs:extension base="POSLogTotals">
            <xs:sequence>
               <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="DocumentID">
                  <xs:complexType>
                     <xs:simpleContent>
                        <xs:extension base="xs:string">
                           <xs:attribute form="unqualified" name="Name" type="xs:string" use="optional"/>
                           <xs:attribute default="Invoice" form="unqualified" name="TypeCode" type="DocumentIDTypeCode" use="optional"/>
                        </xs:extension>
                     </xs:simpleContent>
                  </xs:complexType>
               </xs:element>
               <xs:element form="qualified" minOccurs="0" name="AccountLedgerCode" type="AccountLedgerCodeType">
                  <xs:annotation>
                     <xs:documentation>The account to which this is posted for example a
                                General Ledger account or an Account Payable</xs:documentation>
                  </xs:annotation>
               </xs:element>
            </xs:sequence>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
   <xs:complexType name="POSLogTCPaymentsCollected">
      <xs:sequence>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Tender" type="POSLogTCTenderTotal"/>
         <xs:element form="qualified" name="Totals" type="POSLogTotals"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCPettyCashDisbursements">
      <xs:sequence>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Tender" type="POSLogTCTenderTotal"/>
         <xs:element form="qualified" name="Totals" type="POSLogTotals"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCPriceOverride">
      <xs:sequence>
         <xs:element form="qualified" name="OldPrice" type="UnitPriceCommonData"/>
         <xs:element form="qualified" name="Totals" type="POSLogTotals"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCReturns">
      <xs:sequence>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Tender" type="POSLogTCTenderTotal"/>
         <xs:element form="qualified" name="Totals" type="POSLogTotals"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCSettle">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="TransactionCount" type="xs:integer"/>
         <xs:element form="qualified" minOccurs="0" name="TotalNetSalesAmount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The total value of all sales (net of returns) performed at the
                        Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TotalNetReturnAmount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The total value of all returns performed at the
                    till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TotalTaxAmount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>including full- and half taxes independent of state, county or
                        city taxes</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TotalGrossSalesExemptTaxAmount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>Gross Sales Amount total for all Tax Exempt sales
                    </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="GrossPositiveAmount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The sum of the monetary value for all tenders put into the
                        Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="GrossNegativeAmount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The sum of the monetary value for all tenders taken from the
                        Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="TenderSummary" type="POSLogTCTenderLedger">
            <xs:annotation>
               <xs:documentation>AKA Till Declaration </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TotalMeasures">
            <xs:annotation>
               <xs:documentation>Miscellaneous performance measuresments recorded at the
                    Till</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:sequence>
                  <xs:element form="qualified" minOccurs="0" name="SaleLineItemCount" type="xs:integer">
                     <xs:annotation>
                        <xs:documentation>Line item scanned count + weighted line item count
                                    + non scannable items – a count of all line items that are
                                sales</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element form="qualified" minOccurs="0" name="NoSaleTransactionCount" type="xs:integer">
                     <xs:annotation>
                        <xs:documentation>Basically a count of the number of “No Sales”
                                    button presses</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element form="qualified" minOccurs="0" name="LineItemOverrideCount" type="xs:integer">
                     <xs:annotation>
                        <xs:documentation>count of every time someone overrides a line
                                item.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element form="qualified" minOccurs="0" name="WeightedLineItemCount" type="xs:integer">
                     <xs:annotation>
                        <xs:documentation>The number of sale items sold by weight recorded
                                    at the Till.</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element form="qualified" minOccurs="0" name="LineItemKeyedCount" type="xs:integer">
                     <xs:annotation>
                        <xs:documentation>The count of the number of line items keyed in (vs
                                    scanned)</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element form="qualified" minOccurs="0" name="LineItemKeyedPercentage" type="xs:decimal"/>
                  <xs:element form="qualified" minOccurs="0" name="LineItemScannedCount" type="xs:integer"/>
                  <xs:element form="qualified" minOccurs="0" name="LineItemScannedPercentage" type="xs:decimal"/>
                  <xs:element form="qualified" minOccurs="0" name="LineItemOpenDepartmentCount" type="xs:integer">
                     <xs:annotation>
                        <xs:documentation>count of the number of line items entered using an
                                    open department</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element form="qualified" minOccurs="0" name="LineItemOpenDepartmentPercentage" type="xs:decimal"/>
                  <xs:element form="qualified" minOccurs="0" name="RingTime" type="xs:decimal"/>
                  <xs:element form="qualified" minOccurs="0" name="IdleTime" type="xs:decimal"/>
                  <xs:element form="qualified" minOccurs="0" name="LockTime" type="xs:decimal">
                     <xs:annotation>
                        <xs:documentation>Time the POS is locked</xs:documentation>
                     </xs:annotation>
                  </xs:element>
                  <xs:element form="qualified" minOccurs="0" name="TenderTime" type="xs:decimal"/>
                  <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TaxExempt" type="POSLogTotals">
            <xs:annotation>
               <xs:documentation>The monetary value of the sum of all tax exempt transactions
                        conducted at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Loans" type="POSLogTCLoans">
            <xs:annotation>
               <xs:documentation>The monetary value of the sum of all tender loans put into the
                        Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="PaidIn">
            <xs:annotation>
               <xs:documentation>The monetary value of the sum of all PayIns put into the
                    Till</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="POSLogTotals">
                     <xs:attribute form="unqualified" name="TenderType" type="TenderTypeCode" use="optional"/>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="PaidOut">
            <xs:annotation>
               <xs:documentation>The monetary value of the sum of all PayOuts taken from the
                        Till</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="POSLogTotals">
                     <xs:attribute form="unqualified" name="TenderType" type="TenderTypeCode" use="optional"/>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="LineItemVoids" type="POSLogTotals">
            <xs:annotation>
               <xs:documentation>The monetary value of  the sum of all line item voids recorded
                        at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="PostTransactionVoids" type="POSLogTotals">
            <xs:annotation>
               <xs:documentation>The monetary value of the sum of all post transaction voids
                        recorded at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TransactionVoids" type="POSLogTotals">
            <xs:annotation>
               <xs:documentation>The monetary value of the sum of all transaction voids
                        recorded at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TenderPickup" type="POSLogTCTenderPickup">
            <xs:annotation>
               <xs:documentation>The monetary value of the sum of all tender pickups taken from
                        the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Returns" type="POSLogTCReturns">
            <xs:annotation>
               <xs:documentation>The monetary value of the sum of all Return line items
                        recorded at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Refunds" type="POSLogTotals">
            <xs:annotation>
               <xs:documentation>The monetary value of the sum of all refunds taken from the
                        Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="EmployeeDiscounts" type="POSLogTotals">
            <xs:annotation>
               <xs:documentation>The monetary value of the sum of all employee discount line
                        items recorded at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="MiscellaneousDiscounts" type="POSLogTotals">
            <xs:annotation>
               <xs:documentation>The monetary value of the sum of all ordinary discount line
                        items recorded at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="StoreCoupons" type="POSLogTCStoreCoupon">
            <xs:annotation>
               <xs:documentation>Summary of Store coupons redeemed during the period being
                        reported</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="RedeemedContainerDeposits" type="POSLogTotals">
            <xs:annotation>
               <xs:documentation>The monetary value of all container container redemption line
                        items recorded at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ContainerDeposits" type="POSLogTotals">
            <xs:annotation>
               <xs:documentation>The monetary value of all container container deposit line
                        items recorded at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Markdowns" type="POSLogTotals">
            <xs:annotation>
               <xs:documentation>The monetary value of all markdown sales recorded at the
                    Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="MiscellaneousFees" type="POSLogTCMiscellaneousFees">
            <xs:annotation>
               <xs:documentation>The monetary value of all miscellaneous fee line items
                        recorded at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="PaymentsCollected" type="POSLogTCPaymentsCollected">
            <xs:annotation>
               <xs:documentation>The monetary value of all payment on account line items
                        recorded at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="LayawayPayments" type="POSLogTCLayawayPayments">
            <xs:annotation>
               <xs:documentation>The monetary value of all layaway payment line items recorded
                        at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="PettyCashDisbursements" type="POSLogTCPettyCashDisbursements">
            <xs:annotation>
               <xs:documentation>The monetary value of all petty cash disbursements taken from
                        the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCStoreCoupon">
      <xs:sequence>
         <xs:element form="qualified" name="Totals" type="POSLogTotals">
            <xs:annotation>
               <xs:documentation>The monetary value of the sum of all store coupon line items
                        recorded at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="CouponSummary" type="POSLogTCCouponSummary">
            <xs:annotation>
               <xs:documentation>Summary of individual store coupon types during the period
                        being reported</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCTenderAdjustment">
      <xs:sequence>
         <xs:element form="qualified" name="OriginalTenderType" type="TenderTypeCode">
            <xs:annotation>
               <xs:documentation>The type of Tender being counted and
                    adjusted</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="OriginalCount" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>The tender count being adjusted</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="NewTenderType" type="TenderTypeCode">
            <xs:annotation>
               <xs:documentation>The type of Tender being counted &amp;
                    adjusted</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="NewCount" type="xs:decimal">
            <xs:annotation>
               <xs:documentation>The new tender count being adjusted</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Totals" type="POSLogTotals">
            <xs:annotation>
               <xs:documentation>Total amount being adjusted</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="Reason" type="POSLogReason"/>
      </xs:sequence>
      <xs:attribute form="unqualified" name="TypeCode">
         <xs:simpleType>
            <xs:restriction base="xs:string">
               <xs:enumeration value="Summary"/>
               <xs:enumeration value="Detail"/>
            </xs:restriction>
         </xs:simpleType>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="POSLogTCTenderExchange">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="SourcePOS" type="POSLogWorkstationID">
            <xs:annotation>
               <xs:documentation>The unique identifier for the source of the Tender
                    exchange</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TargetPOS" type="POSLogWorkstationID">
            <xs:annotation>
               <xs:documentation>The unique identifier for the destination of the Tender
                        exchange</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="ExchangeDetail" type="POSLogTCTenderTotal"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCTenderID">
      <xs:simpleContent>
         <xs:extension base="DecimalCommonData">
            <xs:attribute form="unqualified" name="TenderType" type="TenderTypeCode" use="required"/>
            <xs:attribute form="unqualified" name="SubTenderType" type="SubTenderTypeCodes" use="optional"/>
            <xs:attribute form="unqualified" name="Denomination" type="xs:string" use="optional"/>
            <xs:attribute form="unqualified" name="CountryCode" type="CountryCode" use="optional"/>
         </xs:extension>
      </xs:simpleContent>
   </xs:complexType>
   <xs:complexType name="POSLogTCTenderLedger">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="Beginning" type="POSLogTCTenderLedgerTotals"/>
         <xs:element form="qualified" minOccurs="0" name="Sales" type="POSLogTCTenderLedgerTotals">
            <xs:annotation>
               <xs:documentation>The monetary value of all sales recorded using the nominated
                        Tender at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Returns" type="POSLogTCTenderLedgerTotals">
            <xs:annotation>
               <xs:documentation>The monetary value of all refunds recorded using the nominated
                        Tender at the Till</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="PaidIn" type="POSLogTCTenderLedgerTotals"/>
         <xs:element form="qualified" minOccurs="0" name="PaidOut" type="POSLogTCTenderLedgerTotals"/>
         <xs:element form="qualified" minOccurs="0" name="Loan" type="POSLogTCTenderLedgerTotals"/>
         <xs:element form="qualified" minOccurs="0" name="Pickup" type="POSLogTCTenderLedgerTotals"/>
         <xs:element form="qualified" minOccurs="0" name="Deposit" type="POSLogTCTenderLedgerTotals"/>
         <xs:element form="qualified" minOccurs="0" name="Ending" type="POSLogTCTenderLedgerTotals"/>
         <xs:choice minOccurs="0">
            <xs:element form="qualified" name="Over" type="POSLogTCTenderLedgerTotals"/>
            <xs:element form="qualified" name="Short" type="POSLogTCTenderLedgerTotals"/>
         </xs:choice>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
      <xs:attribute default="Actual" form="unqualified" name="LedgerType" type="TenderLedgerTypeCode" use="optional">
         <xs:annotation>
            <xs:documentation>A code denoting the type of totals in this Till Tender ledger
                    record</xs:documentation>
         </xs:annotation>
      </xs:attribute>
   </xs:complexType>
   <xs:complexType name="POSLogTCTenderLedgerTotals">
      <xs:sequence>
         <xs:element form="qualified" name="Amount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="Count" type="xs:integer"/>
         <xs:element form="qualified" minOccurs="0" name="Reason">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="ReasonCodeCommonData"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
      <xs:attribute form="unqualified" name="TenderType" type="TenderTypeCode" use="optional"/>
      <xs:attribute form="unqualified" name="SubTenderType" type="SubTenderTypeCodes" use="optional"/>
      <xs:attribute form="unqualified" name="Denomination" type="xs:string" use="optional"/>
   </xs:complexType>
   <xs:complexType name="POSLogTCTenderLoan">
      <xs:sequence>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="SafeID" type="SafeIDType"/>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Totals" type="POSLogTotals"/>
         <xs:element form="qualified" minOccurs="0" name="ReasonCode" type="POSLogReason"/>
      </xs:sequence>
      <xs:attribute form="unqualified" name="TenderType" type="TenderTypeCode" use="optional"/>
      <xs:attribute default="Normal" form="unqualified" name="TypeCode" type="TenderLoanTypes"/>
   </xs:complexType>
   <xs:complexType name="POSLogTCTenderPickup">
      <xs:sequence>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Tender" type="POSLogTCTenderTotal"/>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Totals" type="POSLogTotals"/>
         <xs:element form="qualified" minOccurs="0" name="SafeID" type="SafeIDType"/>
         <xs:element form="qualified" minOccurs="0" name="ReasonCode" type="POSLogReason"/>
      </xs:sequence>
      <xs:attribute form="unqualified" name="TenderType" type="TenderTypeCode" use="optional"/>
      <xs:attribute default="Normal" form="unqualified" name="TypeCode" type="TenderPickupTypes"/>
   </xs:complexType>
   <xs:complexType name="POSLogTenderPickup">
      <xs:sequence>
         <xs:element form="qualified" minOccurs="0" name="SafeID" type="SafeIDType"/>
         <xs:element form="qualified" minOccurs="0" name="Reason" type="POSLogReason"/>
         <xs:element form="qualified" maxOccurs="unbounded" name="Totals" type="POSLogTCTenderTotal"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCTenderRedemption">
      <xs:sequence>
         <xs:element form="qualified" maxOccurs="unbounded" name="Voucher">
            <xs:annotation>
               <xs:documentation>the item being exchanged for example a lottery
                    ticket</xs:documentation>
            </xs:annotation>
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="TenderVoucher">
                     <xs:sequence>
                        <xs:element form="qualified" minOccurs="0" name="TransactionLink">
                           <xs:complexType>
                              <xs:complexContent>
                                 <xs:extension base="TransactionLinkCommonData"/>
                              </xs:complexContent>
                           </xs:complexType>
                        </xs:element>
                     </xs:sequence>
                  </xs:extension>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" maxOccurs="unbounded" name="Tender" type="RetailTransactionTender">
            <xs:annotation>
               <xs:documentation>Tender Being refunded to the customer.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TransactionLink">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="TransactionLinkCommonData"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCTenderTotal">
      <xs:sequence>
         <xs:element form="qualified" maxOccurs="unbounded" name="TenderTotal">
            <xs:complexType>
               <xs:simpleContent>
                  <xs:extension base="POSLogTCTenderID"/>
               </xs:simpleContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" name="Reason" type="ReasonCodeCommonData"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCTillOperatorAssignmentType">
      <xs:sequence>
         <xs:element form="qualified" name="OperatorID" type="OperatorCommonData">
            <xs:annotation>
               <xs:documentation>The operator who is taking over accountability for this
                    till</xs:documentation>
            </xs:annotation>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCPreAuthorization">
      <xs:sequence>
         <xs:element form="qualified" name="CreditDebit" type="TenderCreditDebit"/>
         <xs:element form="qualified" name="Authorization" type="TenderAuthorization"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCPreAuthorizationReversal">
      <xs:sequence>
         <xs:element form="qualified" name="CreditDebit" type="TenderCreditDebit"/>
         <xs:element form="qualified" name="Authorization" type="TenderAuthorization"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCWithdrawal">
      <xs:annotation>
         <xs:documentation>for cashing checks and/or using debit card as ATM
            machine</xs:documentation>
      </xs:annotation>
      <xs:sequence>
         <xs:element form="qualified" name="Amount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="Quantity" type="QuantityCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="MerchandiseHierarchy" type="MerchandiseHierarchyCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="Authorization" type="TenderAuthorization"/>
         <xs:element form="qualified" minOccurs="0" name="Verification" type="TenderCustomerVerification"/>
         <xs:choice minOccurs="0">
            <xs:element form="qualified" name="CreditDebit" type="TenderCreditDebit"/>
            <xs:element form="qualified" name="Check" type="TenderCheck"/>
         </xs:choice>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCSafeDrop">
      <xs:sequence>
         <xs:element form="qualified" name="DropAmount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>The amount of money placed in the safe.  Typically used when
                        there is a cash drawer limit exceeded or a particularly large bill is
                        tendered.  This can be an automatic safe drop or manual. </xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="EnvelopeID" type="xs:string">
            <xs:annotation>
               <xs:documentation>The serial number on the Envelope that was used for this
                        SafeDrop</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" name="DropNumber" type="xs:integer">
            <xs:annotation>
               <xs:documentation>A unique identifier for this particular drop.  If capable, the
                        id can be automatically generated by the safe.</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="SafeID" type="SafeIDType"/>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="Tender" type="POSLogTCTenderTotal"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCSafeSettle">
      <xs:sequence>
         <xs:element form="qualified" name="WorkstationID" type="POSLogWorkstationID"/>
         <xs:element form="qualified" name="TenderOpenBalanceTotalAmount" type="AmountCommonData"/>
         <xs:element form="qualified" name="TenderCloseBalanceTotalAmount" type="AmountCommonData">
            <xs:annotation>
               <xs:documentation>Closing balance in store safe</xs:documentation>
            </xs:annotation>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="TenderLoanTotalAmount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="TotalTenderLoanCount" type="xs:integer"/>
         <xs:element form="qualified" minOccurs="0" name="TenderPickupTotalAmount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="TotalTenderPickupCount" type="xs:integer"/>
         <xs:element form="qualified" minOccurs="0" name="TenderDepositTotalAmount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="TenderReceiptTotalAmount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="OverTenderDiscrepancyTotalAmount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="UnderTenderDiscrepancyTotalAmount" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="PettyCashDisbursementTransactionTotal" type="AmountCommonData"/>
         <xs:element form="qualified" minOccurs="0" name="TotalPettyCashDisbursementTransactionCount" type="xs:integer"/>
         <xs:any maxOccurs="unbounded" minOccurs="0" namespace="##other" processContents="lax"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="POSLogTCStoredValueTransactionType">
      <xs:sequence>
         <xs:element form="qualified" maxOccurs="unbounded" minOccurs="0" name="StoredValueFund">
            <xs:complexType>
               <xs:complexContent>
                  <xs:extension base="POSLogTCStoredValueFund"/>
               </xs:complexContent>
            </xs:complexType>
         </xs:element>
         <xs:element form="qualified" minOccurs="0" name="Tender" type="RetailTransactionTender"/>
      </xs:sequence>
      <xs:attribute form="unqualified" name="Action" type="StoredValueActions" use="required"/>
   </xs:complexType>
   <xs:complexType name="POSLogTCStoredValueFund">
      <xs:complexContent>
         <xs:extension base="StoredValueFundType">
            <xs:attribute default="Other" form="unqualified" name="Direction" type="StoredValueDirections" use="optional"/>
         </xs:extension>
      </xs:complexContent>
   </xs:complexType>
</xs:schema>
