BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/CrearOperacionAsociada/XSD/CrearOperacionAsociadaBD_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearOperacionAsociadaBD" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearOperacionAsociadaBD" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="AsociadasCollection" type="AsociadasCollection"/>
   <xs:complexType name="AsociadasCollection">
      <xs:sequence>
         <xs:element name="Asociadas" type="Asociadas" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Asociadas">
      <xs:sequence>
         <xs:element name="idAsociadas" type="xs:long"/>
         <xs:element name="idOperacion" type="xs:long" minOccurs="0"/>
         <xs:element name="idOpAsoc" type="xs:long" minOccurs="0"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>