BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioDesembolso/Desembolso/V2/Schema/DesembolsoMOV2.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:desMO="http://www.bcie.org/DesembolsoMO"
            xmlns:desBO="http://www.bcie.org/DesembolsoBOV2" xmlns:resBO="http://www.bcie.org/ResultBO"
            xmlns:cliBO="http://www.bcie.org/ClienteBO" xmlns:linBO="http://www.bcie.org/LineaCreditoBO"
            xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:regTaBO="http://www.bcie.org/ReglaTareaBO"
            xmlns:comBO="http://www.bcie.org/CommonBO" xmlns:regBO="http://www.bcie.org/ReglaBO"
            xmlns:hceBO="http://www.bcie.org/HerramientaCEBO" xmlns:cmiBO="http://www.bcie.org/ComisionBO"
            xmlns:catBO="http://www.bcie.org/CatalogoBO" targetNamespace="http://www.bcie.org/DesembolsoMO"
            xmlns:conBO="http://www.bcie.org/CondicionBO"
            xmlns:clieBO="http://www.bcie.org/ClienteBO"
            elementFormDefault="qualified">
  <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/DesembolsoBOV2" schemaLocation="DesembolsoBOV2.xsd"/>
  <xsd:import namespace="http://www.bcie.org/LineaCreditoBO"
              schemaLocation="../../../../DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/OperacionBO"
              schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ReglaTareaBO"
              schemaLocation="../../../../Utilidades/ReglaTarea/V1/Schema/ReglaTareaBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ReglaBO" schemaLocation="../../../../Common/V1/Schema/ReglaBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CommonBO" schemaLocation="../../../../Common/V1/Schema/CommonBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/HerramientaCEBO"
              schemaLocation="../../../../DominioHerramientaCE/HerramientaCE/V1/Schema/HerramientaCEBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ComisionBO"
              schemaLocation="../../../../DominioLineaCredito/Comision/V1/Schema/ComisionBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CatalogoBO"
              schemaLocation="../../../../../ComponentesComunes/Common/V1/Schema/CatalogoBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/CondicionBO"
              schemaLocation="../../../../DominioContrato/Condicion/V1/Schema/CondicionBO.xsd"/>
  <xsd:import namespace="http://www.bcie.org/ClienteBO" schemaLocation="../../../../DominioCliente/Cliente/V1/Schema/ClienteBO.xsd"/>
  <xsd:element name="ConsultarDesembolsosByIdV2Request" type="desMO:ConsultarDesembolsosByIdV2RequestType"/>
  <xsd:element name="ConsultarDesembolsosByIdV2Response" type="desMO:ConsultarDesembolsosByIdV2ResponseType"/>
  <xsd:element name="ActualizarComponenteRequest" type="desMO:ActualizarComponenteRequestType"/>
  <xsd:element name="ActualizarComponenteResponse" type="desMO:ActualizarComponenteResponseType"/>
  <xsd:complexType name="ConsultarDesembolsosByIdV2RequestType">
    <xsd:sequence>
      <xsd:element name="idContratoDesembolso" type="desBO:idDesembolso" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDesembolsosByIdV2ResponseType">
    <xsd:sequence>
      <xsd:element name="ContratoDesembolso" type="desBO:ContratoDesembolso" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="ActualizarComponenteRequestType">
    <xsd:sequence>
      <xsd:element name="Componente" type="desBO:ComponenteType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarComponenteResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>