BCIE_fenix/preprod/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/SolicitudAprobacion/V1/Schema/SolicitudAprobacionMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:solAproMO="http://www.bcie.org/SolicitudAprobacionMO"
            targetNamespace="http://www.bcie.org/SolicitudAprobacionMO" elementFormDefault="qualified"
            xmlns:solAproBO="http://www.bcie.org/SolicitudAprobacionBO" xmlns:operBO="http://www.bcie.org/OperacionBO"
            xmlns:prodBO="http://www.bcie.org/ProductoBO" xmlns:resBO="http://www.bcie.org/ResultBO"
            xmlns:cuesBO="http://www.bcie.org/CuestionarioBO" xmlns:catBO="http://www.bcie.org/CatalogoBO">
  <xsd:import schemaLocation="SolicitudAprobacionBO.xsd" namespace="http://www.bcie.org/SolicitudAprobacionBO"/>
  <xsd:import schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"
              namespace="http://www.bcie.org/OperacionBO"/>
  <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
  <xsd:import schemaLocation="../../../../../ComponentesComunes/Common/V1/Schema/CatalogoBO.xsd"
              namespace="http://www.bcie.org/CatalogoBO"/>
  <!-- Mensajes -->
  <!-- Create -->
  <xsd:element name="CrearUsuarioReunionRequest" type="solAproMO:CrearUsuarioReunionRequestType"/>
  <xsd:element name="CrearUsuarioReunionResponse" type="solAproMO:CrearUsuarioReunionResponseType"/>
  <!-- Read -->
  <xsd:element name="ConsultarUsuarioReunionRequest" type="solAproMO:ConsultarUsuarioReunionRequestType"/>
  <xsd:element name="ConsultarUsuarioReunionResponse" type="solAproMO:ConsultarUsuarioReunionResponseType"/>
  <xsd:element name="ConsultarTreComiteRolRequest" type="solAproMO:ConsultarTreComiteRolRequestType"/>
  <xsd:element name="ConsultarTreComiteRolResponse" type="solAproMO:ConsultarTreComiteRolResponseType"/>
  <xsd:element name="ConsultarMiembroReunionRequest" type="solAproMO:ConsultarMiembroReunionRequestType"/>
  <xsd:element name="ConsultarMiembroReunionResponse" type="solAproMO:ConsultarMiembroReunionResponseType"/>
  <xsd:element name="ConsultarSolicitudAprobacionRequest" type="solAproMO:ConsultarSolicitudAprobacionRequestType"/>
  <xsd:element name="ConsultarSolicitudAprobacionResponse" type="solAproMO:ConsultarSolicitudAprobacionResponseType"/>
  <xsd:element name="ConfigurarSolicitudAprobacionRequest" type="solAproMO:ConfigurarSolicitudAprobacionRequestType"/>
  <xsd:element name="ConfigurarSolicitudAprobacionResponse" type="solAproMO:ConfigurarSolicitudAprobacionResponseType"/>
  <!-- Update -->
  <xsd:element name="ActualizarConfiguracionSolicitudAprobacionRequest"
               type="solAproMO:ActualizarConfiguracionSolicitudAprobacionRequestType"/>
  <xsd:element name="ActualizarConfiguracionSolicitudAprobacionResponse"
               type="solAproMO:ActualizarConfiguracionSolicitudAprobacionResponseType"/>
  <xsd:element name="ActualizarUsuarioReunionRequest" type="solAproMO:ActualizarUsuarioReunionRequestType"/>
  <xsd:element name="ActualizarUsuarioReunionResponse" type="solAproMO:ActualizarUsuarioReunionResponseType"/>
  <xsd:element name="CrearSolicitudAprobacionRequest" type="solAproMO:CrearSolicitudAprobacionRequestType"/>
  <xsd:element name="CrearSolicitudAprobacionResponse" type="solAproMO:CrearSolicitudAprobacionResponseType"/>
  <xsd:element name="ConsultarVotacionesRequest" type="solAproMO:ConsultarVotacionesRequestType"/>
  <xsd:element name="ConsultarVotacionesResponse" type="solAproMO:ConsultarVotacionesResponseType"/>
  <xsd:element name="CrearRegistroVotacionRequest" type="solAproMO:CrearRegistroVotacionRequestType"/>
  <xsd:element name="CrearRegistroVotacionResponse" type="solAproMO:CrearRegistroVotacionResponseType"/>
  <xsd:element name="ConsultarDecisionAprobacionByIdAprobacionRequest"
               type="solAproMO:ConsultarDecisionAprobacionByIdAprobacionRequestType"/>
  <xsd:element name="ConsultarDecisionAprobacionByIdAprobacionResponse"
               type="solAproMO:ConsultarDecisionAprobacionByIdAprobacionResponseType"/>
  <xsd:element name="ConsultarAcumuladoVotacionRequest" type="solAproMO:ConsultarAcumuladoVotacionRequestType"/>
  <xsd:element name="ConsultarAcumuladoVotacionResponse" type="solAproMO:ConsultarAcumuladoVotacionResponseType"/>
  <xsd:element name="ConsultarVotacionUsuarioRequest" type="solAproMO:ConsultarVotacionUsuarioRequestType"/>
  <xsd:element name="ConsultarVotacionUsuarioResponse" type="solAproMO:ConsultarVotacionUsuarioResponseType"/>
  <xsd:element name="CrearComentarioVotacionRequest" type="solAproMO:CrearComentarioVotacionRequestType"/>
  <xsd:element name="CrearComentarioVotacionResponse" type="solAproMO:CrearComentarioVotacionResponseType"/>
  <xsd:element name="ConsultarComentariosVotacionRequest" type="solAproMO:ConsultarComentariosVotacionRequestType"/>
  <xsd:element name="ConsultarComentariosVotacionResponse" type="solAproMO:ConsultarComentariosVotacionResponseType"/>
  <xsd:element name="ConsultarVotosRequest" type="solAproMO:ConsultarVotosRequestType"/>
  <xsd:element name="ConsultarVotosResponse" type="solAproMO:ConsultarVotosResponseType"/>
  <xsd:element name="CrearMiembroReunionRequest" type="solAproMO:CrearMiembroReunionRequestType"/>
  <xsd:element name="CrearMiembroReunionResponse" type="solAproMO:CrearMiembroReunionResponseType"/>
  <xsd:element name="EliminarMiembroReunionRequest" type="solAproMO:EliminarMiembroReunionRequestType"/>
  <xsd:element name="EliminarMiembroReunionResponse" type="solAproMO:EliminarMiembroReunionResponseType"/>
  <xsd:element name="EliminarSolicitudAprobacionRequest" type="solAproMO:EliminarSolicitudAprobacionRequestType"/>
  <xsd:element name="EliminarSolicitudAprobacionResponse" type="solAproMO:EliminarSolicitudAprobacionResponseType"/>
  <xsd:element name="EliminarUsuarioAprobacionByIdSolicitudRequest"
               type="solAproMO:EliminarUsuarioAprobacionByIdSolicitudRequestType"/>
  <xsd:element name="EliminarUsuarioAprobacionByIdSolicitudResponse"
               type="solAproMO:EliminarUsuarioAprobacionByIdSolicitudResponseType"/>
  <xsd:element name="ActualizarSolicitudAprobacionByIdOperacionRequest"
               type="solAproMO:ActualizarSolicitudAprobacionByIdOperacionRequestType"/>
  <xsd:element name="ActualizarSolicitudAprobacionByIdOperacionResponse"
               type="solAproMO:ActualizarSolicitudAprobacionByIdOperacionResponseType"/>
  <xsd:element name="ValidarVotacionRequest" type="solAproMO:ValidarVotacionRequestType"/>
  <xsd:element name="ValidarVotacionResponse" type="solAproMO:ValidarVotacionResponseType"/>
  <xsd:element name="ConsultarSolicitudAprobacionByIdRequest"
               type="solAproMO:ConsultarSolicitudAprobacionByIdRequestType"/>
  <xsd:element name="ConsultarSolicitudAprobacionByIdResponse"
               type="solAproMO:ConsultarSolicitudAprobacionByIdResponseType"/>
  <xsd:complexType name="CrearUsuarioReunionRequestType">
    <xsd:sequence>
      <xsd:element name="listadoUsuariosReunion" type="solAproBO:MiembroReunion" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearUsuarioReunionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarUsuarioReunionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idUsuarioReunion" type="solAproBO:idUsuarioReunion" minOccurs="0"  maxOccurs="1"/>
      <xsd:element name="idSolicitudAprobacion" type="xsd:long" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarUsuarioReunionResponseType">
    <xsd:sequence>
      <xsd:element name="listadoUsuariosReunion" type="solAproBO:MiembroReunion" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTreComiteRolRequestType">
    <xsd:sequence>
      <xsd:element name="nivelAprobacion" type="xsd:int" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTreComiteRolResponseType">
    <xsd:sequence>
      <xsd:element name="idRol" type="xsd:int" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarUsuarioReunionRequestType">
    <xsd:sequence>
      <xsd:element name="idSolicitudAprobacion" maxOccurs="1" minOccurs="0" type="solAproBO:idSolicitudAprobacion"/>
      <xsd:element name="loginUsuario" type="xsd:string" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="idUsuarioReunion" type="xsd:decimal"/>
      <xsd:element name="marcadoComoLeido" type="xsd:boolean"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarUsuarioReunionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarMiembroReunionRequestType">
    <xsd:sequence>
      <xsd:element name="nivelAprobacion" type="xsd:long" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="soloNotificacion" type="xsd:boolean" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarMiembroReunionResponseType">
    <xsd:sequence>
      <xsd:element name="listadoUsuariosReunion" type="solAproBO:MiembroReunion" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarSolicitudAprobacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="nivelAprobacion" type="xsd:long" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarSolicitudAprobacionResponseType">
    <xsd:sequence>
      <xsd:element name="solicitudAprobacion" type="solAproBO:SolicitudAprobacion" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="listadoComiteCredito" type="solAproBO:ListadoMiembroReunion" minOccurs="1"
                   maxOccurs="unbounded"/>
      <xsd:element name="listadoConNotificacion" type="solAproBO:ListadoMiembroReunion" minOccurs="1"
                   maxOccurs="unbounded"/>
      <xsd:element name="listadoEquipoTrabajo" type="solAproBO:ListadoMiembroReunion" minOccurs="1"
                   maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfigurarSolicitudAprobacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
      <xsd:element name="nivelAprobacion" type="xsd:long" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConfigurarSolicitudAprobacionResponseType">
    <xsd:sequence>
      <xsd:element name="solicitudAprobacion" type="solAproBO:SolicitudAprobacion" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="listadoEmitirVoto" type="solAproBO:ListadoMiembroReunion" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="listadoConNotificacion" type="solAproBO:ListadoMiembroReunion" minOccurs="1"
                   maxOccurs="unbounded"/>
      <xsd:element name="listadoEquipoTrabajo" type="solAproBO:ListadoMiembroReunion" minOccurs="1"
                   maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarConfiguracionSolicitudAprobacionRequestType">
    <xsd:sequence>
      <xsd:element name="solicitudAprobacion" type="solAproBO:SolicitudAprobacion" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="listadoComiteCredito" type="solAproBO:MiembroReunion" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="listadoConNotificacion" type="solAproBO:MiembroReunion" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="listadoEquipoTrabajo" type="solAproBO:MiembroReunion" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarConfiguracionSolicitudAprobacionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearSolicitudAprobacionRequestType">
    <xsd:sequence>
      <xsd:element name="solicitudAprobacion" type="solAproBO:SolicitudAprobacion" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="listadoEmitirVoto" type="solAproBO:MiembroReunion" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="listadoConNotificacion" type="solAproBO:MiembroReunion" minOccurs="1" maxOccurs="unbounded"/>
      <xsd:element name="listadoEquipoTrabajo" type="solAproBO:MiembroReunion" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearSolicitudAprobacionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarVotacionesRequestType">
    <xsd:sequence>
      <xsd:element name="Usuario" type="xsd:string"/>
      <xsd:element name="historial" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="aprobacionCliente" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarVotacionesResponseType">
    <xsd:sequence>
      <xsd:element name="Votaciones" type="solAproBO:Votaciones"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearRegistroVotacionRequestType">
    <xsd:sequence>
      <xsd:element name="idTipoDecision" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idUsuario" type="solAproBO:idUsuarioReunion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="loginUsuario" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="comentarios" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearRegistroVotacionResponseType">
    <xsd:sequence>
      <xsd:element name="idVotacion" type="xsd:long"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDecisionAprobacionByIdAprobacionRequestType">
    <xsd:sequence>
      <xsd:element name="idAprobacion" type="solAproBO:idSolicitudAprobacion" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarDecisionAprobacionByIdAprobacionResponseType">
    <xsd:sequence>
      <xsd:element name="CatalogoAprobacion" type="catBO:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarAcumuladoVotacionRequestType">
    <xsd:sequence>
      <xsd:element name="idSolicitudAprobacion" type="solAproBO:idSolicitudAprobacion" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarAcumuladoVotacionResponseType">
    <xsd:sequence>
      <xsd:element name="acumuladoVotacion" type="solAproBO:AcumuladoVotacion" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarVotacionUsuarioRequestType">
    <xsd:sequence>
      <xsd:element name="idSolicitudAprobacion" type="solAproBO:idSolicitudAprobacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarVotacionUsuarioResponseType">
    <xsd:sequence>
      <xsd:element name="ListaVotacionUsuario" type="solAproBO:ListaVotacionUsuario"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearComentarioVotacionRequestType">
    <xsd:sequence>
      <xsd:element name="idUsuario" type="solAproBO:idUsuarioReunion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idVotacion" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="nombreUsuario" type="xsd:string" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="comentarios" type="xsd:string" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearComentarioVotacionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComentariosVotacionRequestType">
    <xsd:sequence>
      <xsd:element name="idSolicitudAprobacion" type="solAproBO:idSolicitudAprobacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarComentariosVotacionResponseType">
    <xsd:sequence>
      <xsd:element name="ListaComentariosVotacion" type="solAproBO:ListaComentariosVotacion" minOccurs="0"
                   maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarVotosRequestType">
    <xsd:sequence>
      <xsd:element name="idSolicitudAprobacion" type="solAproBO:idSolicitudAprobacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarVotosResponseType">
    <xsd:sequence>
      <xsd:element name="ListaVotosEmitidos" type="solAproBO:DetalleVotosEmitidos" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearMiembroReunionRequestType">
    <xsd:sequence>
      <xsd:element name="listadoEmitirVoto" type="solAproBO:ListadoMiembroReunion" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearMiembroReunionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarMiembroReunionRequestType">
    <xsd:sequence>
      <xsd:element name="listadoEmitirVoto" type="solAproBO:ListadoMiembroReunion" minOccurs="1" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarMiembroReunionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarSolicitudAprobacionRequestType">
    <xsd:sequence>
      <xsd:element name="idSolicitud" type="solAproBO:idSolicitudAprobacion" minOccurs="0" maxOccurs="1"/>
       <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="1" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarSolicitudAprobacionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarUsuarioAprobacionByIdSolicitudRequestType">
    <xsd:sequence>
      <xsd:element name="idSolicitud" type="solAproBO:idSolicitudAprobacion" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="EliminarUsuarioAprobacionByIdSolicitudResponseType" >
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarSolicitudAprobacionByIdOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarSolicitudAprobacionByIdOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarVotacionRequestType">
    <xsd:sequence>
      <xsd:element name="idUsuarioReunion" type="solAproBO:idUsuarioReunion"/>
      <xsd:element name="loginUsuario" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarVotacionResponseType">
    <xsd:sequence>
      <xsd:element name="esValido" type="xsd:int"/>
      <xsd:element name="mensajeValidacion" type="xsd:string"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarSolicitudAprobacionByIdRequestType">
    <xsd:sequence>
      <xsd:element name="idSolicitudAprobacion" type="solAproBO:idSolicitudAprobacion"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarSolicitudAprobacionByIdResponseType">
    <xsd:sequence>
      <xsd:element name="solicitudAprobacion" type="solAproBO:SolicitudAprobacion"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
