BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/ConversorMonedas/V1/Schema/ConversorMonedasBO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/ConversorMonedasBO" elementFormDefault="qualified"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:codmBO="http://www.bcie.org/ConversorMonedasBO"
            xmlns:condmBO="http://www.bcie.org/CatalogoBO" xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd" namespace="http://www.bcie.org/CatalogoBO"/>
  <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd"/>
  <xsd:complexType name="ConvierteMonedas">
    <xsd:sequence>
      <xsd:element name="monedaDe" type="condmBO:Catalogo"/>
      <xsd:element name="monedaA" type="condmBO:Catalogo"/>
      <xsd:element name="monto" type="xsd:double"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConvierteMonedasImporte">
    <xsd:complexContent>
      <xsd:extension base="codmBO:ConvierteMonedas">
        <xsd:sequence>
          <xsd:element name="montoConvertido" type="xsd:double"/>
        </xsd:sequence>
      </xsd:extension>
    </xsd:complexContent>
  </xsd:complexType>
</xsd:schema>