BCIE_fenix/qa/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioDesembolso/ActualizarComponente/XSD/ActualizarComponente_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ActualizarComponente" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ActualizarComponente" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ComponenteCollection" type="ComponenteCollection"/>
   <xs:complexType name="ComponenteCollection">
      <xs:sequence>
         <xs:element name="Componente" type="Componente" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Componente">
      <xs:sequence>
         <xs:element name="id" type="xs:long"/>
         <xs:element name="idCondicionFinanciera" type="xs:long" minOccurs="0"/>
         <xs:element name="idTcaTipoComponente" type="xs:long" minOccurs="0"/>
         <xs:element name="idTcaTipoTasaDesembolso" type="xs:int" minOccurs="0"/>
         <xs:element name="idTcaBaseCalculo" type="xs:int" minOccurs="0"/>
         <xs:element name="esDependiente" type="xs:int" minOccurs="0"/>
         <xs:element name="esFactor" type="xs:int" minOccurs="0"/>
         <xs:element name="codigoTasaReferencia" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="fechaEfectivaTasaReferencia" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="valorTasaReferencia" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="tasa" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="spreadTasa" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="montoDescuento" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="diasSpotTasa" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaTipoRedondeo" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="cantidadDecimales" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="limiteTasaMinima" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="limiteTasaMaxima" type="xs:decimal" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>