BCIE_fenix/qa/ADF-BPM/bpm/PA03AdministracionCondiciones/PA03AdministracionCondicionesProcess/SOA/businessCatalog/CondicionesType/ValidadorBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3.0.0.00.00" build="02.10" fullName="CondicionesType.ValidadorBO" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/CondicionesType/ValidadorBO" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns="http://xmlns.oracle.com/bpm/bpmobject/CondicionesType/ValidadorBO"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="ValidadorBOType">
        <xs:sequence>
            <xs:element name="codigoRol" nillable="true" type="xs:int"/>
            <xs:element name="nombreRol" nillable="true" type="xs:string"/>
            <xs:element name="nombreTarea" nillable="true" type="xs:string"/>
            <xs:element name="codigoTarea" nillable="true" type="xs:int"/>
            <xs:element name="descripcionRol" nillable="true" type="xs:string"/>
            <xs:element name="tareaDescripcionCorta" nillable="true" type="xs:string"/>
            <xs:element name="pendiente" nillable="true" type="xs:int"/>
            <xs:element name="validado" nillable="true" type="xs:int"/>
            <xs:element name="pendiente2" nillable="true" type="xs:int"/>
            <xs:element name="validadores" nillable="true" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="ValidadorBO" type="ValidadorBOType"/>
</xs:schema>
