Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EO/Banking/Banking_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eo/Banking_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoBank="http://xmlns.banesco.com/eo/Banking_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../Common/Common_V1.0.xsd"/>
	<xs:complexType name="FIData">
		<xs:annotation>
			<xs:documentation>The Financial Institution Data Aggregate contains additional information used to identify a bank, typically when used for payment transfers, payee requests, and wire transfers. It is required in CHE, DEU, and ITA to completely identify an account. Sufficient information must be provided within this aggregate to uniquely identify the bank at which the account is held. Failure to do so will result in an error being returned from the server.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BranchId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Branch Identifier.
Qualifies account number if required by FI in profile. Used to indicate which branch the account is with. Usage is expected to be primarily in countries where regulations require an account to be assigned to a branch office, but a US-based FI may also require this field for operational reasons.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BranchName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Bank branch name, required in ITA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FIIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Financial Institution Identifier.

Qualifies account number if required by FI in profile. Indicates which bank within a holding company the account is with. Usage is expected to be routing and transit number in the US or the equivalent in an international implementation.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FIIdentType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Type of Financial Institution identifier.

Valid values include: ABA, CHAPS, CHIPS, FedWire, SortCode, SWIFT.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Name" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Name. Usage depends on context.
Used as a generic name.

Bank name, required in CHE, DEU, and ITA.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PostAddr" type="eoCom:PostAddr" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Postal Address.

The PostAddr aggregate is used wherever a postal address is needed. There are some cases where a synonym is used to distinguish the aggregate from another of the same structure in the same aggregate (e.g., the Billing Address BillingAddr, where more than one postal address is present).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RefIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Reference Identification</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Agency" type="eoBank:Agency" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TrnLimit">
		<xs:annotation>
			<xs:documentation>Provides information about transaction limits based on currency amount and/or number of occurrences of the transaction.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctTrnUse" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Transaction Use.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Currency Amount.

All monetary amounts in the IFX Specification are handled with the Currency Amount data type. When included, this data type contains a decimal value for the amount, an optional currency code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LimitCount" type="xs:long" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Limit Count.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LimitType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Limit Amount Type. Indicates the type of limit amount that applies.

Valid values include: DailyMax, DailyMin, Max, Min, MonthlyMax, MonthlyMin, WeeklyMax, WeeklyMin.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnSrc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>ndicates the transaction source for which this feature is supported. This is used to indicate transactions supported by transaction source.

Valid values include: ACH, All, ATM, HomeBank, POS, Teller, VRU.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnSubType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Transaction Sub Type further defines the transaction.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TrnType" type="eoCom:ValueType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Transaction Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Agency">
		<xs:annotation>
			<xs:documentation>Agency Especification.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AgencyDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agency Description.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgencyIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agency Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgencyName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agency Name.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AgencyStatus" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agency Status.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="TaxData">
		<xs:annotation>
			<xs:documentation>Supports attributes with respect to taxes paid by an FI on behalf of the tax responsible party of an account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Amt" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Rate" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Used as a percentage (e.g. a value of 5.2 equals 5.2%).</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Representa una referencia en la tabla TAX que indicará la tasa que se utilizará para el cálculo de los impuestos para la propiedad asociada.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxCondition" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax Condition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxRetentionFlag" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Taxes Retention Flag.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TaxType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tax Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
