AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/Applications/Prototipos/CreateUda/Resources/Schemas/nxsd_schema1.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://TargetNamespace.com/ServiceName" targetNamespace="http://TargetNamespace.com/ServiceName" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="US-ASCII">
  <xsd:element name="udaInsertUpadteRequest">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="UDA_ID" type="xsd:string"/>
            <xsd:element name="UDA_VALUE" type="xsd:string"/>
            <xsd:element name="UDA_VALUE_DESC" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
   <xsd:element name="udaInsertUpadteResponse">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="code" type="xsd:string"/>
            <xsd:element name="msg" type="xsd:string"/>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>