BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/Comun/Header/V1/HeaderOPN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
           xmlns:operacion="http://xmlns.bcie.org/ObjetoProceso/Comun/Operacion/V1"
           xmlns:tarea="http://xmlns.bcie.org/ObjetoProceso/Comun/Tarea/V1"
           xmlns:cliente="http://xmlns.bcie.org/ObjetoProceso/Comun/Cliente/V1" 
           xmlns:proceso="http://xmlns.bcie.org/ObjetoProceso/Comun/Proceso/V1" 
           elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Operacion/V1"
             schemaLocation="../../Operacion/V1/OperacionOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Tarea/V1"
             schemaLocation="../../Tarea/V1/TareaOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
             schemaLocation="../../Parameter/V1/ParameterOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Cliente/V1"
             schemaLocation="../../Cliente/V1/ClienteOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Proceso/V1"
             schemaLocation="../../Proceso/V1/ProcesoOPN.xsd"/>
  <xs:complexType name="Header">
    <xs:annotation>
      <xs:documentation>Elemento que contiene la información del Header para TODOS los payload de BPM.</xs:documentation>
    </xs:annotation>
    <xs:choice>
      <xs:sequence>
        <xs:choice minOccurs="0" maxOccurs="1">
          <xs:element name="Operacion" type="operacion:Operacion"/>
          <xs:element name="Cliente" type="cliente:Cliente"/>
        </xs:choice>
        <xs:element name="Tarea" type="tarea:Tarea" minOccurs="0" maxOccurs="1"/>
        <xs:element name="Proceso" type="proceso:Proceso" minOccurs="0" maxOccurs="1"/>
        <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:choice>
  </xs:complexType>
</xs:schema>
