BCIE_fenix/dev/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioLineaCredito/Comision/V1/Wsdl/Comision.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="Operacion" targetNamespace="http://xmlns.bcie.com/ComisionService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:comMO="http://www.bcie.org/ComisionMO"
                  xmlns:tns="http://xmlns.bcie.com/ComisionService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/ComisionMO"
                  schemaLocation="../../../Comision/V1/Schema/ComisionMO.xsd"/>
    </xsd:schema>
  </wsdl:types>
  <!-- Create -->
  <wsdl:message name="requestCrearCargoTramiteMessage">
    <wsdl:part name="request" element="comMO:CrearCargoTramiteRequest"/>
  </wsdl:message>
  <wsdl:message name="responseCrearCargoTramiteMessage">
    <wsdl:part name="response" element="comMO:CrearCargoTramiteResponse"/>
  </wsdl:message>
  <wsdl:message name="CrearAvisoCobroComisionRequestMessage">
    <wsdl:part name="request" element="comMO:CrearAvisoCobroComisionRequest"/>
  </wsdl:message>
  <wsdl:message name="CrearAvisoCobroComisionResponseMessage">
    <wsdl:part name="response" element="comMO:CrearAvisoCobroComisionResponse"/>
  </wsdl:message>
   <wsdl:message name="CrearAvisoCobroComisionV2RequestMessage">
    <wsdl:part name="request" element="comMO:CrearAvisoCobroComisionV2Request"/>
  </wsdl:message>
  <wsdl:message name="CrearAvisoCobroComisionV2ResponseMessage">
    <wsdl:part name="response" element="comMO:CrearAvisoCobroComisionV2Response"/>
  </wsdl:message>
  <!--Consulta-->
  <wsdl:message name="requestObtenerInicioComisionMessage">
    <wsdl:part name="request" element="comMO:ObtenerInicioComisionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseObtenerInicioComisionMessage">
    <wsdl:part name="response" element="comMO:ObtenerInicioComisionResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConsultarComisionMessage">
    <wsdl:part name="request" element="comMO:ConsultarComisionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarComisionMessage">
    <wsdl:part name="response" element="comMO:ConsultarComisionResponse"/>
  </wsdl:message>
  <wsdl:message name="requestConsultarFechaCargoMessage">
    <wsdl:part name="request" element="comMO:ConsultarFechaCargoRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarFechaCargoMessage">
    <wsdl:part name="response" element="comMO:ConsultarFechaCargoResponse"/>
  </wsdl:message>
  <wsdl:portType name="ComisionPT">
    <!-- Create -->
    <wsdl:operation name="crearCargoTramite">
      <wsdl:input message="tns:requestCrearCargoTramiteMessage"/>
      <wsdl:output message="tns:responseCrearCargoTramiteMessage"/>
    </wsdl:operation>
    <!-- Create Aviso Comision -->
    <wsdl:operation name="crearAvisoCobroComision">
      <wsdl:input message="tns:CrearAvisoCobroComisionRequestMessage"/>
      <wsdl:output message="tns:CrearAvisoCobroComisionResponseMessage"/>
    </wsdl:operation>
    <!-- Create Aviso Comision V2-->
    <wsdl:operation name="crearAvisoCobroComisionV2">
      <wsdl:input message="tns:CrearAvisoCobroComisionV2RequestMessage"/>
      <wsdl:output message="tns:CrearAvisoCobroComisionV2ResponseMessage"/>
    </wsdl:operation>
    <!-- Consultar -->
    <wsdl:operation name="obtenerInicioComision">
      <wsdl:input message="tns:requestObtenerInicioComisionMessage"/>
      <wsdl:output message="tns:responseObtenerInicioComisionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarComision">
      <wsdl:documentation>Consultar una Comision</wsdl:documentation>
      <wsdl:input message="tns:requestConsultarComisionMessage"/>
      <wsdl:output message="tns:responseConsultarComisionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarFechaCargo">
      <wsdl:documentation>Consultar un Cargo Tramite</wsdl:documentation>
      <wsdl:input message="tns:requestConsultarFechaCargoMessage"/>
      <wsdl:output message="tns:responseConsultarFechaCargoMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarComisionesByIdOperacion">
      <wsdl:input message="tns:requestConsultarComisionesByIdOperacionMessage"/>
      <wsdl:output message="tns:responseConsultarComisionesByIdOperacionMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Comision12Bnd" type="tns:ComisionPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="crearCargoTramite">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ComisionService/crearCargoTramite"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearAvisoCobroComision">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/crearAvisoCobroComisionService/crearAvisoCobroComision"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearAvisoCobroComisionV2">
      <soap12:operation style="document"
                        soapAction="http://www.bcie.org/crearAvisoCobroComisionServiceV2/crearAvisoCobroComisionV2"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarComision">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ComisionService/ConsultarComision"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="obtenerInicioComision">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ComisionService/obtenerInicioComision"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarFechaCargo">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/ComisionService/ConsultarFechaCargo"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarComisionesByIdOperacion">
      <soap12:operation style="document"
                        soapAction="http://xmlns.bcie.com/ComisionService/consultarComisionesByIdOperacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Comision">
    <wsdl:port name="Comision12Bnd" binding="tns:Comision12Bnd">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
  <wsdl:message name="requestConsultarComisionesByIdOperacionMessage">
    <wsdl:part name="request" element="comMO:ConsultarComisionesByIdOperacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarComisionesByIdOperacionMessage">
    <wsdl:part name="response" element="comMO:ConsultarComisionesByIdOperacionResponse"/>
  </wsdl:message>
</wsdl:definitions>






