AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/ResponseProtosAdapterService/MetaData/Components/EnterpriseObjectLibrary/EBO/Example/AppointmentEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Appointment" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:appt="http://www.agarcia.mx/EnterpriseObjects/Appointment" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common" xmlns:cust="http://www.agarcia.mx/EnterpriseObjects/Custom">
  <xsd:import schemaLocation="../../Common/CommonComponents.xsd" namespace="http://www.agarcia.mx/EnterpriseObjects/Common"/>
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Custom" schemaLocation="../../Custom/EBO/CustomAppointmentEBO.xsd"/>
  <xsd:element name="AppointmentEBO" type="appt:AppointmentEBOType"/>
  <xsd:complexType name="AppointmentEBOType">
    <xsd:sequence>
      <xsd:element name="Identification" type="com:IdentificationType"/>
      <xsd:element name="ShipFromPartyReference" type="com:LocationType"/>
      <xsd:element name="ShipToPartyReference" type="com:LocationType"/>
      <xsd:element name="EffectivePeriodTime" type="com:EffectiveTimePeriodType"/>
      <xsd:element name="Status" type="com:StatusType"/>
      <xsd:element name="Item" type="com:IdentifierNameType"/>
      <xsd:element name="UnitQuantity" type="com:QuantityType"/>
      <xsd:element name="OrderReference" type="com:NumericType"/>
      <xsd:element name="DocumentReference" type="com:DocumentReferenceType"/>
      <xsd:element name="ASNReference" type="com:StringType"/>
      <xsd:element name="CustomAppointment" type="cust:CustomAppointmentEBOType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>