Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Party/PartyRefAdd/PartyRefAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/PartyRefAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoptPartyRefAdd="http://xmlns.banesco.com/eopt/PartyRefAdd_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
	<xs:complexType name="PartyRefAddRq_Type">
		<xs:sequence>
			<xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Relationship" type="eoPar:Relationship" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PartyRefAddRq" type="eoptPartyRefAdd:PartyRefAddRq_Type"/>
	<xs:complexType name="PartyRefAddRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="PartyRefAddRs" type="eoptPartyRefAdd:PartyRefAddRs_Type"/>
</xs:schema>
