BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioCliente/GestionCobro/ConsultarFondosAvisoCobro/XSD/ConsultarFondosAvisoCobro.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarFondosAvisoCobro" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarFondosAvisoCobro" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarFondosAvisoCobroInput" type="ConsultarFondosAvisoCobroInput"/>
   <xs:complexType name="ConsultarFondosAvisoCobroInput">
      <xs:sequence>
         <xs:element name="MIS_CODE" type="xs:string"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarFondosAvisoCobroOutputCollection" type="ConsultarFondosAvisoCobroOutputCollection"/>
   <xs:complexType name="ConsultarFondosAvisoCobroOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarFondosAvisoCobroOutput" type="ConsultarFondosAvisoCobroOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarFondosAvisoCobroOutput">
      <xs:sequence>
         <xs:element name="MIS_CLASS" type="xs:string" nillable="true"/>
         <xs:element name="MIS_CODE" type="xs:string" nillable="true"/>
         <xs:element name="CODE_DESC" type="xs:string" nillable="true"/>
         <xs:element name="ACTIVE" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>