BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/Proveedores/FLEXCUBE/CrearTransferenciaFLEXCUBE/XSD/CrearTransferencia_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CrearTransferencia" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/CrearTransferencia" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="NUMERO_LINEA_CREDITO" type="string" db:index="1" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="NUMERO_TESORERIA" type="string" db:index="2" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CORRELATIVO_TRANSFERENCIA" type="decimal" db:index="3" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="PRODUCTO_FINANCIERO" type="string" db:index="4" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="NUMERO_CUENTA_CLIENTE" type="string" db:index="5" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MONEDA" type="string" db:index="6" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MONTO" type="decimal" db:index="7" db:type="NUMBER" minOccurs="0" nillable="true"/>
            <element name="FECHA_VALOR" type="dateTime" db:index="8" db:type="DATE" minOccurs="0" nillable="true"/>
            <element name="CUENTA_NOSTRO" type="string" db:index="9" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="INSTITUCION_ORDENANTE" type="string" db:index="10" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="REFERENCIA" type="string" db:index="11" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="BENEFICIARIO_NUMERO_CUENTA" type="string" db:index="12" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="BENEFICIARIO_INDENTIFICADOR" type="string" db:index="13" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="BENEFICIARIO_NOMBRE" type="string" db:index="14" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="BENEFICIARIO_DIRECCION" type="string" db:index="15" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="BANCO_NUMERO_CUENTA" type="string" db:index="16" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="BANCO_INDENTIFICADOR" type="string" db:index="17" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="BANCO_NOMBRE" type="string" db:index="18" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="BANCO_DIRECCION" type="string" db:index="19" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="INTERMEDIARIO_NUMERO_CUENTA" type="string" db:index="20" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="INTERMEDIARIO_INDENTIFICADOR" type="string" db:index="21" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="INTERMEDIARIO_NOMBRE" type="string" db:index="22" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="INTERMEDIARIO_DIRECCION" type="string" db:index="23" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="FONDO" type="string" db:index="24" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="LINEA_FINANCIERA" type="string" db:index="25" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="DESTINO" type="string" db:index="26" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TIPO_RECURSO" type="string" db:index="27" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="PAIS" type="string" db:index="28" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="ACTIVIDAD_ECONOMICA" type="string" db:index="29" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="SECTOR_INSTITUCIONAL" type="string" db:index="30" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="EJECUTIVO" type="string" db:index="31" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="EJE_ESTRATEGICO" type="string" db:index="32" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="AREA_FOCALIZACION" type="string" db:index="33" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="OBJETIVO_ESTRATEGICO" type="string" db:index="34" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="CODIGO_CONTRATO" type="string" db:index="35" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="CODIGO_RESULTADO" type="string" db:index="36" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="TIPO_RESULTADO" type="string" db:index="37" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
            <element name="MENSAJE" type="string" db:index="38" db:type="VARCHAR2" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
</schema>