BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ConsultarResponsable/XSD/ConsultarResponsable_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ConsultarResponsable" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ConsultarResponsable" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="OperacionCollection" type="OperacionCollection"/>
   <xs:complexType name="OperacionCollection">
      <xs:sequence>
         <xs:element name="Operacion" type="Operacion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Operacion">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:long"/>
         <xs:element name="usuario" type="string20" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarResponsableSelect_idOperacionInputParameters" type="ConsultarResponsableSelect_idOperacion"/>
   <xs:complexType name="ConsultarResponsableSelect_idOperacion">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:long" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>