Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EO/Card/Card_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eo/Card_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoCard="http://xmlns.banesco.com/eo/Card_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoBank="http://xmlns.banesco.com/eo/Banking_V1.0" xmlns:eoProduct="http://xmlns.banesco.com/eo/Product_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0" xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../Party/Party_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../Common/Common_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Product_V1.0" schemaLocation="../Product/Product_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Banking_V1.0" schemaLocation="../Banking/Banking_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../Acct/Acct_V1.0.xsd"/>
	<xs:complexType name="CardPeriodData">
		<xs:annotation>
			<xs:documentation>Card Period Data Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardAmtType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Card Amount Type.

Valid values include: CashAdv, Credit, Debit, Deposit, HiPurch, Purchase, Withdrawal.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardPeriodType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Card Period Type.

Valid values include: CTD, Daily, LTD, MTD, PriorCycle, PriorMth, PriorYr, Weekly, YTD.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective Date Time.

Effective Date/Time. The date/time that an associated action resulting in a change of state or status of an object took effect.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Expiration Date.

Expiration Date. The date that a specific item will expire (e.g., Expiration date for a credit card, the date a bill detail URL will expire, the date and time a password expires, etc.). If a card has only month and year expiration, the last day of the month must be specified here. Specific use depends on context.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastOccuranceDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last Occurance Date.

Date of last (most recent) occurrence that affected the summary information.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="LastOccurInd" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Last Occurance Indicator.

Last (most recent) occurrence indicator. If true, the last occurrence information for the given amount type is returned.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MinimumPmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto mínimo que debe pagar el cliente antes del próximo corte para no caer en
mora.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Term" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Term</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalPmtsMade" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto total de los pagos realizados desde el ultimo corte. (pagos y créditos)</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancingInfo">
		<xs:annotation>
			<xs:documentation>Información asociada a extra/intra financiamiento.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ChargedFees" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Number of fees charged.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ChargedFeesAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Amount Fees Charged.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ContractNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código asignado por el sistema al extra/intrafinanciamiento (número de contrato). </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurBalance" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Saldo Actual (en Dólares) que muestra el saldo adeudado del plan (Sin Intereses)</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CutBalance" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cutting Balance.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancingAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto del extra/intrafinanciamiento.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancingPlan" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Plan de extra/intrafinanciamiento. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancingTerm" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Plazo por el que se va a realizar el extra/intrafinanciamiento. </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancingTrnType" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código del movimiento de Extrafinanciamiento.

Eje: E1, E2, E3,EF....</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancingType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Financing Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="GrantDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Date the Extra financing is granted.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterestRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tasa de Interés que rige el plan</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MonthlyFee" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto mensual que debe pagar el cliente por el extra/intrafinanciamiento.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrevBalance" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Previous Balance.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardStatus">
		<xs:annotation>
			<xs:documentation>Card Status Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ApprovalIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Approval Identifier. This is an identifier that refers to an approval event that occurred at the authorizing server.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardStatusAction" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Card Status Action.

Valid values include: Capture, Decline, Normal, Referral.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardStatusCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Card Status Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="EffDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Effective Date Time.

Effective Date/Time. The date/time that an associated action resulting in a change of state or status of an object took effect.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status Description.

Explanatory text associated with a status such as the response status code, the bank account status, stopped check status or other related object status.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusReason" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status Reason.

In some cases it is desirable to record the reason an object status has been set to its current value. The StatusReason provides that capability.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardKey">
		<xs:annotation>
			<xs:documentation>The Card Object supports the services related to Issuing, Management, and Servicing of Credit, Debit, Prepaid and Private Label cards.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Card Number.

The card number or PAN encoded on the card.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Card">
		<xs:complexContent>
			<xs:extension base="eoProduct:Product">
				<xs:sequence>
					<xs:element name="Brand" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Card Brand.

The name that identifies the type of card presented. It will typically be the name of the association or company that authorized the issuance of the card.

Example: AmEx, CarteBancaire, Discover, JCB, MasterCard, PrivateLabel, VISA.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CardAcctStatus" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Indicador para saber si la cuenta está al día o en mora.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CardBranch" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Card Branch.

The branch assigned to the card.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CardCategory" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Card Category.

The issuer's categorization of the card.

Example: Classic, Gold, Platinum.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CardRel" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Defines the relationship between mothers and daughters Cards.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CardRelId" type="xs:string" minOccurs="0" maxOccurs="1"/>
					<xs:element name="CardTrnLimit" type="eoBank:TrnLimit" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>Card Transaction Limit.

Provides information about transaction limits based on currency amount and/or number of occurrences of the transaction. These limits apply to transactions for this card only, but can apply to any type of card.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CardType" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Card Type.

The type of card.

Example: ATM, Credit, Debit, Identification, Loyalty, Multifunction, Prepaid</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CardValidation" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Card Validation.

A card validation value used for functions such as emergency cash or activation.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="CutDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Cutting Date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="DueFees" type="xs:int" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Overdue fees.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LastPmtAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Monto del último pago realizado por el cliente.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="LastPmtDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date last payment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NextIssueDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Next Issue Date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="NextPmtDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Date of next payment.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="OrigIssueDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Original Issue Date.

The date/time that identification was first issued to the customer that is presenting this device. This will normally represent a "customer since" or similar concept.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="PmtLimitDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Payment Limit Date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SaleOfficer" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Canal de Venta</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SendtoBranchEndDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Send to Branch End Date.

The effective end date for which a card should be mailed to the branch.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="SendtoBranchStDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Send to Branch Start Date.

The effective start date for which a card should be mailed to the branch.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="ValidFromDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>Valid From Date.</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="FinancialData" type="eoCard:FinancialData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="PlasticInfo" type="eoCard:PlasticInfo" minOccurs="0" maxOccurs="1"/>
					<xs:element name="LoyaltyProgram" type="eoCard:LoyaltyProgram" minOccurs="0" maxOccurs="1"/>
					<xs:element name="CardKey" type="eoCard:CardKey" minOccurs="0" maxOccurs="1"/>
					<xs:element name="CardStatus" type="eoCard:CardStatus" minOccurs="0" maxOccurs="1"/>
					<xs:element name="FinancingInfo" type="eoCard:FinancingInfo" minOccurs="0" maxOccurs="unbounded"/>
					<xs:element name="CardPeriodData" type="eoCard:CardPeriodData" minOccurs="0" maxOccurs="1"/>
					<xs:element name="FIData" type="eoBank:FIData" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="PayRoll">
		<xs:sequence>
			<xs:element name="Detail" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>If the requested management is new or an addition</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OrgName" type="eoPar:OrgName" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Company name</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayRollRel" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicates if the card is related to a payroll of a particular company</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="FinancialData">
		<xs:annotation>
			<xs:documentation>Datos financieros de la tarjeta.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ArrearsBalance" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Saldo atrasado que tiene el cliente en el sistema.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailableCashAdv" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto disponible de la tarjeta para adelantos de efectivo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailablePurchaseAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto disponible de la tarjeta para compras.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AvailExtraFinancing" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Available for Extra Financing</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CashPmtAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto total que debe pagar el cliente en caso de que desee pagar al contado lo consumido en la tarjeta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CreditLimit" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Limite de crédito asociado a la tarjeta.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurrentBalance" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Saldo de la tarjeta al momento de hacer la consulta. No se toman en cuenta los movimientos
en tránsito.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CutBalance" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cutting Balance</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExtraFinancingAmt" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total amount of Extra financing.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FinancingStatus" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicador para conocer si existe extra/intra financiamiento.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterestRateCashAdv" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tasa de interés aplicada a las transacciones de adelantos realizadas por el cliente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="InterestRatePurchases" type="xs:decimal" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tasa de interés aplicada a las transacciones de compras realizadas por el cliente.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IntraCurrentBalance" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto total utilizado para las transacciones intra.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="RepayAcct" type="eoAcct:AcctKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Cuenta de Repago</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalAmtTransitTransactions" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto total de las transacciones que no han sido posteadas</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalBalance" type="eoCom:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Es el saldo actual de la tarjeta incluyendo los movimientos en tránsito.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="LoyaltyProgram">
		<xs:annotation>
			<xs:documentation>Programa de lealtad. (Puntos)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PeriodPointsEarned" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Puntos ganados desde el estado de cuenta anterior a la fecha.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PeriodPointsRedeemed" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Puntos redimidos o canjeados desde el estado de cuenta anterior a la fecha.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PrevBalance" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Saldo de puntos al corte de estado de cuenta anterior.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="TotalPoints" type="xs:int" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Total de puntos disponibles que tiene el cliente para redimir</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PlasticInfo">
		<xs:annotation>
			<xs:documentation>Información asociada al plástico de la tarjeta.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="ActivationDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Activation Date.

The date which the cardholder activated the card.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActivationInd" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Activation Indicator.

Identifies if the card has been through the activation processing.

If a server does not support card activation they would use a value of "Y" stating the card is active and no activation process is required.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ActivationMeth" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Activation Method.

Defines the method the card was activated.

Example: CSR, IVR, Web.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="BIN" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>BIN number</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardEmbossName" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Embossed Card Name.

The name embossed on the card.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardEmbossNum" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Embossed Card Number.

The formatted card number or PAN . The card number embossed on the card.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardPromo" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Card Promo</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardTechnology" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Card Technology.

The type of card presented or inferred by the customer.

Example: ICCCard, MagStripeCard</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardVrfyData" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Card verification data. This field contains data printed on the card that is manually entered. This is data that cannot be automatically read from a card as it is used. This data is used to ensure the physical presence of the actual card.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Customized" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>This field indicates if the card will be printed at the moment.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ExpDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Expiration Date. The date that a specific item will expire (e.g., Expiration date for a credit card, the date a bill detail URL will expire, the date and time a password expires, etc.). If a card has only month and year expiration, the last day of the month must be specified here. Specific use depends on context.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="FraudInsurance" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Fraud insurance. Indicates the insurance that the client will have depending on the amount insured</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="IssueDt" type="eoCom:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Issue Date. The date that a specific item was issued (e.g., Issue date for a credit card, passport issue date.). If a card has only month and year issue date, the first day of the month must be specified here. Specific use depends on context.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Issuer" type="eoCom:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Card Issuer.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PayRoll" type="eoCard:PayRoll" minOccurs="0" maxOccurs="1"/>
			<xs:element name="ShippingInfo" type="eoCard:ShippingInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PaymentData">
		<xs:annotation>
			<xs:documentation>Datos de pago de la tarjeta</xs:documentation>
		</xs:annotation>
		<xs:sequence/>
	</xs:complexType>
	<xs:complexType name="ShippingInfo">
		<xs:sequence>
			<xs:element name="Agency" type="eoBank:Agency" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Agency where the customer withdraws the card</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CardCourier" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicator if Courier applies for sending the card</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PINCourier" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indicator of whether courier applies for sending PIN.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
