Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EO/Card/CardAcctRel_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eo/CardAcctRel_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:eoCardAcctRel="http://xmlns.banesco.com/eo/CardAcctRel_V1.0" xmlns:eoAcct="http://xmlns.banesco.com/eo/Acct_V1.0" xmlns:eoCard="http://xmlns.banesco.com/eo/Card_V1.0" xmlns:eoCom="http://xmlns.banesco.com/eo/Common_V1.0" xmlns:eoBank="http://xmlns.banesco.com/eo/Banking_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/eo/Common_V1.0" schemaLocation="../Common/Common_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Card_V1.0" schemaLocation="Card_V1.0.xsd"/>
	<xs:import namespace="http://xmlns.banesco.com/eo/Acct_V1.0" schemaLocation="../Acct/Acct_V1.0.xsd"/>
	<xs:complexType name="CardAcctRelKey">
		<xs:annotation>
			<xs:documentation>Card Account Relationship Identifier.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="CardAcctRelId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Card Account Relationship Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CardAcctRel">
		<xs:annotation>
			<xs:documentation>Card Account Relationship Information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="RelEstablishDt" type="eoCom:dateTimePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Relationship Established Date.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Card" type="eoCard:Card" minOccurs="0" maxOccurs="1"/>
			<xs:element name="CardAcctRelKey" type="eoCardAcctRel:CardAcctRelKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Acct" type="eoAcct:Acct" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
