AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/PurchaseReceiptApp/PurchaseReceiptService/Resources/NXSDs/SAALMAResponseABM.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/ServiceBus/nxsd/saalma/AdvancedShipmentNotice/LISTRESPs" targetNamespace="http://www.agarcia.mx/ServiceBus/nxsd/saalma/AdvancedShipmentNotice/LISTRESPs" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
   <xsd:element name="LISTRESP">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="LISTRESP">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="exito" type="xsd:string"/>
                     <xsd:element name="mensaje" type="xsd:string"/>
                     <xsd:element name="Resultados" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="transferencia" type="xsd:integer"/>
                              <xsd:element name="ordenCompra" type="xsd:integer"/>
                              <xsd:element name="tienda" type="xsd:integer"/>
                              <xsd:element name="factura" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=D:\Repo\ceteris_soa_mfii\osb\OSBAGApp\PurchaseReceiptApp\Resources\SAALMAResponseABM_LISTRESP.json</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>