AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/PurchaseReceiptApp/PurchaseReceiptService/Resources/NXSDs/SAALMARequestABM.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/ServiceBus/nxsd/saalma/resultados" targetNamespace="http://www.agarcia.mx/ServiceBus/nxsd/saalma/resultados" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
   <xsd:element name="resultados">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="resultado">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="solicitudId" type="xsd:integer"/>
                     <xsd:element name="claveRecibo" type="xsd:integer"/>
                     <xsd:element name="fechaRecibo" type="xsd:string"/>
                     <xsd:element name="anden" type="xsd:integer"/>
                     <xsd:element name="codigoASN" type="xsd:integer"/>
                     <xsd:element name="tipoRecibo" type="xsd:integer"/>
                     <xsd:element name="ordenCompra" type="xsd:integer"/>
                     <xsd:element name="proveedor" type="xsd:integer"/>
                     <xsd:element name="departamento" type="xsd:integer"/>
                     <xsd:element name="fechaInicioRecibo" type="xsd:string"/>
                     <xsd:element name="fechaFinRecibo" type="xsd:string"/>
                     <xsd:element name="factura" type="xsd:string"/>
                     <xsd:element name="localDestino" type="xsd:integer"/>
                     <xsd:element name="cantCajasProgramado" type="xsd:integer"/>
                     <xsd:element name="cantCajasRecibido" type="xsd:integer"/>
                     <xsd:element name="estatusRecibo" type="xsd:string"/>
                     <xsd:element name="reciboDetalle" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="reciboId" type="xsd:integer"/>
                              <xsd:element name="lpn" type="xsd:integer"/>
                              <xsd:element name="sku" type="xsd:integer"/>
                              <xsd:element name="estilo" type="xsd:integer"/>
                              <xsd:element name="tienda" type="xsd:integer"/>
                              <xsd:element name="cantPiezasProgramado" type="xsd:integer"/>
                              <xsd:element name="cantPiezasRecibido" type="xsd:integer"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>