BCIE_fenix/features/MCP/16/ADF-BPM/bpm/PC07GestiondeCobro/PC07GestionCobroProcessUITest/SOA/Schemas/GestionCobro/V1/GestionCobroPayload.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:gestionCobro="http://xmlns.bcie.org/ObjetoProceso/GestionCobro/Payload/V1"
           xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
           targetNamespace="http://xmlns.bcie.org/ObjetoProceso/GestionCobro/Payload/V1" elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">
           
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
             schemaLocation="../../Comun/Header/V1/HeaderOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
             schemaLocation="../../Comun/Parameter/V1/ParameterOPN.xsd"/>
             
  <xs:element name="GestionCobroPayload" type="gestionCobro:GestionCobroPayloadType"/>
  <xs:element name="GestionCobroErrorPayload" type="gestionCobro:GestionCobroErrorPayloadType"/>
  
  <xs:complexType name="GestionCobroPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="Configuration" type="gestionCobro:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="tipoInicio" type="xs:string" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="envioManual" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="mes" type="xs:string" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="codigoPais" type="xs:string" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="monto" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Equipo" type="gestionCobro:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="EquipoEjecucion" type="gestionCobro:EquipoType" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="GestionCobroErrorPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="Configuration" type="gestionCobro:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="tipoInicio" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="envioManual" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="mes" type="xs:string" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="codigoPais" type="xs:string" minOccurs="0" maxOccurs="1"/>
	   <xs:element name="monto" type="xs:decimal" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Equipo" type="gestionCobro:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EquipoEjecucion" type="gestionCobro:EquipoType" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="ConfigGatewaysType">
    <xs:sequence/>
  </xs:complexType>
  
  <xs:complexType name="EquipoType">
    <xs:sequence>
      <xs:element name="analistaCOFI" type="xs:string" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="analistaCOPRES" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
