Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/T24/resources/xsd/GenerateDebitNote/FUNDSTRANSFERBCMNDEBITType.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:hfp="http://www.w3.org/2001/XMLSchema-hasFacetAndProperty"
            xmlns:ns0="http://www.temenos.com/T24/ofs/FUNDSTRANSFERBCMNDEBITType"
            xmlns:xdb="http://xmlns.oracle.com/xdb"
            targetNamespace="http://www.temenos.com/T24/ofs/FUNDSTRANSFERBCMNDEBITType" xdb:storeVarrayAsTable="true">
  <!-- This T24 XML Schema automatically produced -->
  <!-- Copyright Temenos Holdings NV 2018-->
  <!-- T24 Application: FUNDS.TRANSFER -->
  <!-- T24 Release: R16 -->
  <!-- Production timestamp: 11:40:17 03 APR 2018 -->
  <xsd:element name="FUNDSTRANSFERBCMNDEBIT" type="ns0:FUNDSTRANSFERBCMNDEBITType">
    <xsd:annotation>
      <xsd:documentation>This is the top level element for the record data</xsd:documentation>
      <xsd:appinfo>
        <hfp:hasProperty name="locked" value="no"/>
        <hfp:hasProperty name="useschema" value="no"/>
        <hfp:hasProperty name="register" value="no"/>
        <hfp:hasProperty name="aaPropertyName" value=""/>
      </xsd:appinfo>
    </xsd:annotation>
  </xsd:element>
  <xsd:complexType name="FUNDSTRANSFERBCMNDEBITType" xdb:maintainDOM="false">
    <xsd:annotation>
      <xsd:documentation>This complex type represents the T24 data for the FUNDS.TRANSFER table</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element id="TRANSACTION.TYPE" minOccurs="0" name="TRANSACTIONTYPE" nillable="true"
                   xdb:SQLName="TRANSACTION_TYPE">
        <xsd:annotation>
          <xsd:documentation>TRANSACTION.TYPE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="TRANSACTION.TYPE"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="4"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="DEBIT.ACCT.NO" minOccurs="0" name="DEBITACCTNO" nillable="true" xdb:SQLName="DEBIT_ACCT_NO">
        <xsd:annotation>
          <xsd:documentation>DEBIT.ACCT.NO</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="DEBIT.ACCT.NO"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="36"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="DEBIT.CURRENCY" minOccurs="0" name="DEBITCURRENCY" nillable="true" xdb:SQLName="DEBIT_CURRENCY">
        <xsd:annotation>
          <xsd:documentation>DEBIT.CURRENCY</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="DEBIT.CURRENCY"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:pattern value="[A-Z]{3}"/>
            <xsd:length value="3"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="DEBIT.AMOUNT" minOccurs="0" name="DEBITAMOUNT" nillable="true" xdb:SQLName="DEBIT_AMOUNT">
        <xsd:annotation>
          <xsd:documentation>DEBIT.AMOUNT</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="DEBIT.AMOUNT"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:decimal"/>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element id="DEBIT.VALUE.DATE" minOccurs="0" name="DEBITVALUEDATE" nillable="true" type="xsd:date"
                   xdb:SQLName="DEBIT_VALUE_DATE">
        <xsd:annotation>
          <xsd:documentation>DEBIT.VALUE.DATE</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="numeric"/>
            <hfp:hasProperty name="fieldname" value="DEBIT.VALUE.DATE"/>
          </xsd:appinfo>
        </xsd:annotation>
      </xsd:element>
      <xsd:element id="DEBIT.THEIR.REF" minOccurs="0" name="DEBITTHEIRREF" nillable="true"
                   xdb:SQLName="DEBIT_THEIR_REF">
        <xsd:annotation>
          <xsd:documentation>DEBIT.THEIR.REF</xsd:documentation>
          <xsd:appinfo>
            <hfp:hasProperty name="fielddatatype" value="string"/>
            <hfp:hasProperty name="fieldname" value="DEBIT.THEIR.REF"/>
          </xsd:appinfo>
        </xsd:annotation>
        <xsd:simpleType>
          <xsd:restriction base="xsd:string">
            <xsd:maxLength value="16"/>
          </xsd:restriction>
        </xsd:simpleType>
      </xsd:element>
      <xsd:element minOccurs="0" name="gCOMMISSIONTYPE">
        <xsd:complexType xdb:maintainDOM="false">
          <xsd:sequence minOccurs="0">
            <xsd:element id="COMMISSION.TYPE" maxOccurs="unbounded" minOccurs="0" name="COMMISSIONTYPE" nillable="true"
                         xdb:SQLName="COMMISSION_TYPE">
              <xsd:annotation>
                <xsd:documentation>COMMISSION.TYPE</xsd:documentation>
                <xsd:appinfo>
                  <hfp:hasProperty name="fielddatatype" value="string"/>
                  <hfp:hasProperty name="fieldname" value="COMMISSION.TYPE"/>
                </xsd:appinfo>
              </xsd:annotation>
              <xsd:simpleType>
                <xsd:restriction base="xsd:string">
                  <xsd:maxLength value="11"/>
                </xsd:restriction>
              </xsd:simpleType>
            </xsd:element>
          </xsd:sequence>
          <xsd:attribute name="g" type="xsd:positiveInteger" use="optional"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
    <xsd:attribute name="id">
      <xsd:simpleType>
        <xsd:restriction base="xsd:string">
          <xsd:maxLength value="250"/>
        </xsd:restriction>
      </xsd:simpleType>
    </xsd:attribute>
  </xsd:complexType>
</xsd:schema>