BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Canales/Votacion/ConsultarVotaciones/V1/Schema/ConsultarVotacionesMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/ConsultarVotacionesMO" 
elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
xmlns="http://www.bcie.org/ConsultarVotacionesMO" 
xmlns:conOpeMO="http://www.bcie.org/ConsultarVotacionesMO"
xmlns:conOpeBO="http://www.bcie.org/ConsultarVotacionesBO"
xmlns:resBO="http://www.bcie.org/ResultBO">
  <xsd:import schemaLocation="ConsultarVotacionesBO.xsd" namespace="http://www.bcie.org/ConsultarVotacionesBO"/>
  <xsd:import schemaLocation="../../../../../Resources/ComponentesComunes/Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="ConsultarVotacionesRequest" type="ConsultarVotacionesRequestType"/>
  <xsd:element name="ConsultarVotacionesResponse" type="ConsultarVotacionesResponseType"/>
  <xsd:complexType name="ConsultarVotacionesRequestType">
    <xsd:sequence>
      <xsd:element name="Usuario" type="xsd:string"/>
      <xsd:element name="historial" type="xsd:boolean" minOccurs="0"/>
      <xsd:element name="aprobacionCliente" type="xsd:boolean" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarVotacionesResponseType">
    <xsd:sequence>
      <xsd:element name="Votaciones" type="conOpeBO:Votaciones"/>
      <xsd:element name="Result" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>