BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioSeguridad/Schema/SeguridadMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/SeguridadMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/SeguridadMO" xmlns:resBO="http://www.bcie.org/ResultBO">
<xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../Common/V1/Schema/ResultBO.xsd"/>
  <xsd:element name="ObtenerDatosUsuarioRequest" type="ObtenerDatosUsuarioRequestType"/>
   <xsd:element name="ObtenerDatosUsuarioResponse" type="ObtenerDatosUsuarioResponseType"/>
  <xsd:complexType name="ObtenerDatosUsuarioRequestType">
    <xsd:sequence>
      <xsd:element name="NombreUsuario" type="xsd:string" maxOccurs="1" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ObtenerDatosUsuarioResponseType">
    <xsd:sequence>
      <xsd:element name="Usuario" type="UsuarioType" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="CodigoResultado" type="xsd:integer" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="TipoResultado" type="xsd:integer" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsuarioListType">
    <xsd:sequence>
      <xsd:element name="Usuario" type="UsuarioType" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="UsuarioType">
    <xsd:sequence>
      <xsd:element name="NombreUsuario" type="xsd:string"/>
      <xsd:element name="NombreEmpleado" type="xsd:string"/>
      <xsd:element name="CodigoEmpleado" type="xsd:integer"/>
      <xsd:element name="Compania" type="xsd:string"/>
      <xsd:element name="CodigoPais" type="xsd:integer"/>
      <xsd:element name="PaisSede" type="xsd:string"/>
      <xsd:element name="CodigoPuesto" type="xsd:integer"/>
      <xsd:element name="NombrePuesto" type="xsd:string"/>
      <xsd:element name="Email" type="xsd:string"/>
      <xsd:element name="NombresEmpleado" type="xsd:string"/>
      <xsd:element name="PrimerApellido" type="xsd:string"/>
      <xsd:element name="SegundoApellido" type="xsd:string"/>
      <xsd:element name="NumeroIdentificacion" type="xsd:string"/>
      <xsd:element name="Profesion" type="xsd:string"/>
      <xsd:element name="CodigoJefe" type="xsd:integer"/>
      <xsd:element name="CodigoNacionalidad" type="xsd:string"/>
      <xsd:element name="CodigoCategoriaRRHH" type="xsd:integer"/>
      <xsd:element name="NombreCategoriaRRHH" type="xsd:string"/>
      <xsd:element name="EsJefe" type="xsd:string"/>
      <xsd:element name="CodigoNodoOrganigrama" type="xsd:integer"/>
      <xsd:element name="NombreNodoOrganigrama" type="xsd:string"/>
      <xsd:element name="CodigoPlaza" type="xsd:integer"/>
      <xsd:element name="FechaIngresoBCIE" type="xsd:date"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="VerificarEstadoUsuarioRequest" type="VerificarEstadoUsuarioRequestType"/>
  <xsd:element name="VerificarEstadoUsuarioResponse" type="VerificarEstadoUsuarioResponseType"/>
  <xsd:complexType name="VerificarEstadoUsuarioRequestType">
    <xsd:sequence>
      <xsd:element name="NombreUsuario" type="xsd:string" maxOccurs="1" minOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="VerificarEstadoUsuarioResponseType">
    <xsd:sequence>
      <xsd:element name="CodigoResultado" type="xsd:integer" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="TipoResultado" type="xsd:integer" maxOccurs="1" minOccurs="0"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="TieneAccesoRequest" type="TieneAccesoRequestType"/>
  <xsd:element name="TieneAccesoResponse" type="TieneAccesoResponseType"/>  
  <xsd:complexType name="TieneAccesoRequestType">
    <xsd:sequence>
      <xsd:element name="PVUSER" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="PVAPPLICATION" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="PVWINDOW" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="PVCONTROL" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="N1" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="V1" type="xsd:string" maxOccurs="1" minOccurs="1"/> 
      <xsd:element name="N2" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="V2" type="xsd:string" maxOccurs="1" minOccurs="1"/> 
      <xsd:element name="N3" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="V3" type="xsd:string" maxOccurs="1" minOccurs="1"/> 
      <xsd:element name="N4" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="V4" type="xsd:string" maxOccurs="1" minOccurs="1"/> 
      <xsd:element name="N5" type="xsd:string" maxOccurs="1" minOccurs="1"/>
      <xsd:element name="V5" type="xsd:string" maxOccurs="1" minOccurs="1"/>  
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="TieneAccesoResponseType">
    <xsd:sequence> 
      <xsd:element name="TIENEACCESO" type="xsd:integer" maxOccurs="1" minOccurs="0"/> 
    </xsd:sequence>
  </xsd:complexType>
  
  
</xsd:schema>