BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioContrato/MatrizTCC/V1/Schema/MatrizTCCMO.xsd

<xsd:schema targetNamespace="http://www.bcie.org/MatrizTCCMO" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/MatrizTCCMO" xmlns:mtccBO="http://www.bcie.org/MatrizTCCBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:resBO="http://www.bcie.org/ResultBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" xmlns:terBO="http://www.bcie.org/TerminoBO" xmlns:condBO="http://www.bcie.org/CondicionBO" xmlns:conMO="http://www.bcie.org/MatrizTCCMO" xmlns:comBO="http://www.bcie.org/ComisionBO">
  <xsd:import schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd" namespace="http://www.bcie.org/OperacionBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:import schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd" namespace="http://www.bcie.org/CatalogoBO"/>
  <xsd:import schemaLocation="../../../../DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoBO.xsd" namespace="http://www.bcie.org/LineaCreditoBO"/>
  <xsd:import schemaLocation="../../../Termino/V1/Schema/TerminoBO.xsd" namespace="http://www.bcie.org/TerminoBO"/>
  <xsd:import schemaLocation="../../../Condicion/V1/Schema/CondicionBO.xsd" namespace="http://www.bcie.org/CondicionBO"/>
  <xsd:import schemaLocation="../../../../DominioLineaCredito/Comision/V1/Schema/ComisionBO.xsd" namespace="http://www.bcie.org/ComisionBO"/>
  <xsd:import schemaLocation="MatrizTCCBO.xsd" namespace="http://www.bcie.org/MatrizTCCBO"/>
  <xsd:element name="ActualizarEstadoTCCRequest" type="ActualizarEstadoTCCRequestType"/>
  <xsd:element name="ActualizarEstadoTCCResponse" type="ActualizarEstadoTCCResponseType"/>
  <xsd:element name="ConsultarTCCConfiguracionRequest" type="ConsultarTCCConfiguracionRequestType"/>
  <xsd:element name="ConsultarTCCConfiguracionResponse" type="ConsultarTCCConfiguracionResponseType"/>
  <xsd:element name="ValidarTCCRequest" type="ValidarTCCRequestType"/>
  <xsd:element name="ValidarTCCResponse" type="ValidarTCCResponseType"/>
    <xsd:element name="ValidarEstadoTCCBRRequest" type="ValidarEstadoTCCBRRequestType"/>
   <xsd:element name="ValidarEstadoTCCRequest" type="ValidarEstadoTCCRequestType"/>
  <xsd:element name="ValidarEstadoTCCResponse" type="ValidarEstadoTCCResponseType"/>
  <xsd:element name="ObtenerTCCInicioRequest" type="ObtenerTCCInicioRequestType"/>
  <xsd:element name="ObtenerTCCInicioResponse" type="ObtenerTCCInicioResponseType"/>
  <xsd:element name="ActualizarTCCRequest" type="ActualizarTCCRequestType"/>
 
  <xsd:element name="ActualizarTCCResponse" type="ActualizarTCCResponseType"/>
  <xsd:element name="ConsultarEnmiendasTCCRequest" type="ConsultarEnmiendasTCCRequestType"/>
  <xsd:element name="ConsultarEnmiendasTCCResponse" type="ConsultarEnmiendasTCCResponseType"/>
  <xsd:element name="CrearReporteTCCRequest" type="CrearReporteTCCRequestType"/>
  <xsd:element name="CrearReporteTCCResposne" type="CrearReporteTCCResponseType"/>
    <xsd:element name="PropagarTerminoRequest" type="PropagarTerminoRequestType"/>
  <xsd:element name="PropagarTerminoResponse" type="PropagarTerminoResponseType"/>
  <xsd:element name="ActualizarDetalleEnmiendaRequest" type="ActualizarDetalleEnmiendaRequestType"/>
  <xsd:element name="ActualizarDetalleEnmiendaResponse" type="ActualizarDetalleEnmiendaResponseType"/>
    <xsd:element name="RegistrarEnmiendaRequest" type="RegistrarEnmiendaRequestType"/>
  <xsd:element name="RegistrarEnmiendaResponse" type="RegistrarEnmiendaResponseType"/>
  <xsd:element name="ConsultarEnmiendasTCCByIdOperacionRequest" type="ConsultarEnmiendasTCCByIdOperacionRequestType"/>
  <xsd:element name="ConsultarEnmiendasTCCByIdOperacionResponse" type="ConsultarEnmiendasTCCByIdOperacionResponseType"/>
  <xsd:element name="CrearEnmiendaTCCRequest" type="CrearEnmiendaTCCRequestType"/>
  <xsd:element name="CrearEnmiendaTCCResponse" type="CrearEnmiendaTCCResponseType"/>
  <xsd:complexType name="ActualizarEstadoTCCRequestType">
    <xsd:sequence>
      <xsd:element name="ListaTCC" type="mtccBO:listaTCC" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarEstadoTCCResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTCCConfiguracionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
       <xsd:element name="idTcaProcesoBPM" type="xsd:int" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarTCCConfiguracionResponseType">
    <xsd:sequence>
      <xsd:element name="ListaTCCConfiguracion" type="mtccBO:listaTCCConfiguracion" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarTCCRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion"/>
      <xsd:element name="idEvento" type="xsd:int"/>
      <xsd:element name="idProceso" type="xsd:int"/>
      <xsd:element name="idContrato" type="xsd:int"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarTCCResponseType">
    <xsd:sequence>
      <xsd:element name="ListaValidaciones" type="mtccBO:listaValidaciones"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
      </xsd:sequence>
   </xsd:complexType>  
  <xsd:complexType name="ObtenerTCCInicioRequestType">
      <xsd:sequence>
       <xsd:element name="idProceso" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ObtenerTCCInicioResponseType">
      <xsd:sequence>
        <xsd:element name="ListaTCC" type="linCreBO:LineaCredito" minOccurs="0" maxOccurs="1"/>
        <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>         
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ActualizarTCCRequestType">
      <xsd:sequence>
        <xsd:element name="Tipo" type="mtccBO:tipo" minOccurs="0" maxOccurs="1"/>        
        <xsd:element name="idProceso" type="xsd:long" minOccurs="0" maxOccurs="1"/>
      <xsd:element name="Instancia_proceso" minOccurs="0" maxOccurs="1" type="xsd:string"/>
      <xsd:element name="Termino" type="terBO:Termino" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="Comision" type="comBO:Comision" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="Condicion" type="condBO:Condicion" minOccurs="0" maxOccurs="unbounded"/>
      </xsd:sequence>
   </xsd:complexType>
   <xsd:complexType name="ActualizarTCCResponseType">
      <xsd:sequence>
        <xsd:element name="Termino" type="terBO:Termino" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="Comision" type="comBO:Comision" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="Condicion" type="condBO:Condicion" minOccurs="0" maxOccurs="unbounded"/>
        <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="unbounded"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarEstadoTCCRequestType">
    <xsd:sequence>
      <xsd:element name="tcc" type="mtccBO:TCC"/>
    </xsd:sequence>
  </xsd:complexType>
   <xsd:complexType name="ValidarEstadoTCCBRRequestType">
    <xsd:sequence>
      <xsd:element name="tccEntrada" type="mtccBO:TCC"/>
      <xsd:element name="tccConsulta" type="mtccBO:TCC"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ValidarEstadoTCCResponseType">
    <xsd:sequence>
     <xsd:element name="validacionEstados" type="xsd:boolean"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarEnmiendasTCCRequestType">
    <xsd:sequence>
      <xsd:element name="idEnmienda" type="xsd:long" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarEnmiendasTCCResponseType">
    <xsd:sequence>
      <xsd:element name="enmiendaTCC" type="mtccBO:enmiendaTCC"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteTCCRequestType">
    <xsd:sequence>
        <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearReporteTCCResponseType">
    <xsd:sequence>
       <xsd:element name="Reporte" type="xsd:base64Binary" minOccurs="0" maxOccurs="1"/>
       <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
    <xsd:complexType name="PropagarTerminoRequestType">
    <xsd:sequence>
        <xsd:element name="Instancia_proceso" minOccurs="0" maxOccurs="1" type="xsd:string"/>
        <xsd:element name="ListaTerminos" type="terBO:listaTerminos" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PropagarTerminoResponseType">
    <xsd:sequence>
       <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarDetalleEnmiendaRequestType">
    <xsd:sequence>
      <xsd:element name="detalleEnmienda" type="mtccBO:detalleEnmiendaTCC"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ActualizarDetalleEnmiendaResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
   <xsd:complexType name="RegistrarEnmiendaRequestType">
    <xsd:sequence>
        <xsd:element name="idEnmienda" type="xsd:long" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="RegistrarEnmiendaResponseType">
    <xsd:sequence>
       <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarEnmiendasTCCByIdOperacionRequestType">
    <xsd:sequence>
      <xsd:element name="idOperacion" type="operBO:idOperacion" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ConsultarEnmiendasTCCByIdOperacionResponseType">
    <xsd:sequence>
      <xsd:element name="Enmiendas" type="mtccBO:listaEnmiendaTCC"/>
      <xsd:element name="Resultado" type="resBO:Resultado" minOccurs="0" maxOccurs="1"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearEnmiendaTCCRequestType">
    <xsd:sequence>
      <xsd:element name="enmiendaTCC" type="mtccBO:enmiendaTCC"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearEnmiendaTCCResponseType">
    <xsd:sequence>
      <xsd:element name="idEnmienda" type="xsd:long"/>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="ProcesarEnmiendaRequest" type="mtccBO:ProcesarEnmiendaRequestType"/>
  <xsd:element name="ProcesarEnmiendaResponse" type="mtccBO:ProcesarEnmiendaResponseType"/>
</xsd:schema>