BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/Utilidades/CrearBitacora/V1/Schema/CrearBitacoraMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/CrearBitacoraMO"
            targetNamespace="http://www.bcie.org/CrearBitacoraMO" elementFormDefault="qualified"
            xmlns:regBitBO="http://www.bcie.org/CrearBitacoraBO" xmlns:resBO="http://www.bcie.org/ResultBO">
            <xsd:import schemaLocation="CrearBitacoraBO.xsd" namespace="http://www.bcie.org/CrearBitacoraBO"/>
            <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
  <xsd:element name="CrearBitacoraRequest" type="CrearBitacoraRequestType"/>
  <xsd:element name="CrearBitacoraResponse" type="CrearBitacoraResponseType"/>
  <xsd:complexType name="CrearBitacoraRequestType">
    <xsd:sequence>
      <xsd:element name="BitacoraInput" type="regBitBO:Bitacora"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="CrearBitacoraResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
