AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/TransferRequestApp/CreateTransferRequestSAALMAAdapterService/Resources/XSD/inputSchema.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://TargetNamespace.com/CreateTransferRequestReference_Create_request" targetNamespace="http://TargetNamespace.com/CreateTransferRequestReference_Create_request" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="UTF-8">
   <xsd:element name="CreateTransferRequest">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="localOrigen" type="xsd:integer"/>
            <xsd:element name="tipo" type="xsd:string"/>
            <xsd:element name="transferencia" type="xsd:integer"/>
            <xsd:element name="detalle" maxOccurs="unbounded">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="departamento" type="xsd:string"/>
                     <xsd:element name="dptoNombre" type="xsd:string" minOccurs="0"/>
                     <xsd:element name="proveedor" type="xsd:string"/>
                     <xsd:element name="provNombre" type="xsd:string" minOccurs="0"/>
                     <xsd:element name="estilo" type="xsd:string"/>
                     <xsd:element name="estiloDesc" type="xsd:string" minOccurs="0"/>
                     <xsd:element name="tienda" type="xsd:integer"/>
                     <xsd:element name="tiendaNombre" type="xsd:string" minOccurs="0"/>
                     <xsd:element name="sku" type="xsd:string"/>
                     <xsd:element name="skuDesc" type="xsd:string" minOccurs="0"/>
                     <xsd:element name="cantidad" type="xsd:integer"/>
                     <xsd:element name="ubicacion" type="xsd:string" minOccurs="0"/>
                     <xsd:element name="prepack" type="xsd:integer" minOccurs="0"/>
                     <xsd:element name="costoUnitario" type="xsd:string"/>
                     <xsd:element name="precioUnitario" type="xsd:string"/>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>