BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/DominioLineaCredito/LineaCredito/V1/Wsdl/LineaCredito.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="Operacion" targetNamespace="http://xmlns.bcie.com/LineaCreditoService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:linCreMO="http://www.bcie.org/LineaCreditoMO"
                  xmlns:tns="http://xmlns.bcie.com/LineaCreditoService"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/LineaCreditoMO"
                  schemaLocation="../../../LineaCredito/V1/Schema/LineaCreditoMO.xsd"/>
    </xsd:schema>
    
  </wsdl:types>
  <!-- Create -->
  <wsdl:message name="PropagarLineaCreditoRequestMessage">
    <wsdl:part name="request" element="linCreMO:PropagarLineaCreditoRequest"/>
  </wsdl:message>
  <wsdl:message name="PropagarLineaCreditoResponseMessage">
    <wsdl:part name="response" element="linCreMO:PropagarLineaCreditoResponse"/>
  </wsdl:message>
  <!-- Update -->
  <wsdl:message name="ActualizarContratoLineaCreditoRequestMessage">
    <wsdl:part name="request" element="linCreMO:ActualizarContratoLineaCreditoRequest"/>
  </wsdl:message>
  <wsdl:message name="ActualizarContratoLineaCreditoResponseMessage">
    <wsdl:part name="response" element="linCreMO:ActualizarContratoLineaCreditoResponse"/>
  </wsdl:message>
   <!-- COnsultar -->
  <wsdl:message name="ConsultarLineaCreditoRequestMessage">
    <wsdl:part name="request" element="linCreMO:ConsultarLineaCreditoRequest"/>
  </wsdl:message>
  <wsdl:message name="ConsultarLineaCreditoResponseMessage">
    <wsdl:part name="response" element="linCreMO:ConsultarLineaCreditoResponse"/>                                      
  </wsdl:message>
   <wsdl:message name="PropagarFuenteRequestMessage">
    <wsdl:part name="request" element="linCreMO:PropagarFuenteLCRequest"/>
  </wsdl:message>
  <wsdl:message name="PropagarFuenteResponseMessage">
    <wsdl:part name="response" element="linCreMO:PropagarFuenteLCResponse"/>
  </wsdl:message>
  <wsdl:message name="ConsultarLineaCreditoByIdRequestMessage">
    <wsdl:part name="ConsultarLineaCreditoByIdRequest" element="linCreMO:ConsultarLineaCreditoBPELRequest"/>
  </wsdl:message>
  <wsdl:message name="ConsultarLineaCreditoByIdResponseMessage">
    <wsdl:part name="ConsultarLineaCreditoByIdResponse" element="linCreMO:ConsultarLineaCreditoBPELResponse"/>
  </wsdl:message>
    <wsdl:message name="ConsultarFuentesRequestMessage">
    <wsdl:part name="ConsultarFuentesRequest" element="linCreMO:ConsultarFuentesRequest"/>
  </wsdl:message>
  <wsdl:message name="ConsultarFuentesResponseMessage">
    <wsdl:part name="ConsultarFuentesResponse" element="linCreMO:ConsultarFuentesResponse"/>
  </wsdl:message>
  <wsdl:message name="CrearLineasCreditoRequestMessage">
    <wsdl:part name="CrearLineasCreditoRequest" element="linCreMO:CrearLineaCreditoRequest"/>
  </wsdl:message>
  <wsdl:message name="CrearLineasCreditoResponseMessage">
    <wsdl:part name="CrearLineasCreditoResponse" element="linCreMO:CrearLineaCreditoResponse"/>
  </wsdl:message>
  <wsdl:portType name="LineaCreditoPT">
    <!-- Create -->
    <wsdl:operation name="propagarLineaCredito">
      <wsdl:input message="tns:PropagarLineaCreditoRequestMessage"/>
      <wsdl:output message="tns:PropagarLineaCreditoResponseMessage"/>
    </wsdl:operation>
    <!-- Update -->
    <wsdl:operation name="actualizarContratoLineaCredito">
      <wsdl:input message="tns:ActualizarContratoLineaCreditoRequestMessage"/>
      <wsdl:output message="tns:ActualizarContratoLineaCreditoResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarLineaCredito">
      <wsdl:input message="tns:ConsultarLineaCreditoRequestMessage"/>
      <wsdl:output message="tns:ConsultarLineaCreditoResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="propagarFuente">
      <wsdl:input message="tns:PropagarFuenteRequestMessage"/>
      <wsdl:output message="tns:PropagarFuenteResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarLineaCreditoById">
      <wsdl:input message="tns:ConsultarLineaCreditoByIdRequestMessage"/>
      <wsdl:output message="tns:ConsultarLineaCreditoByIdResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="consultarFuentes">
      <wsdl:input message="tns:ConsultarFuentesRequestMessage"/>
      <wsdl:output message="tns:ConsultarFuentesResponseMessage"/>
    </wsdl:operation>
    <wsdl:operation name="crearlineacredito">
      <wsdl:input message="tns:CrearLineasCreditoRequestMessage"/>
      <wsdl:output message="tns:CrearLineasCreditoResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="LineaCredito">
    <wsdl:port name="LineaCredito12Bnd" binding="tns:LineaCredito12Bnd">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
 
  <wsdl:binding name="LineaCredito12Bnd" type="tns:LineaCreditoPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="propagarLineaCredito">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/LineaCreditoService/propagarLineaCredito"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="actualizarContratoLineaCredito">
      <soap12:operation style="document"
                        soapAction="http://xmlns.bcie.com/LineaCreditoService/actualizarContratoLineaCredito"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarLineaCredito">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/LineaCreditoService/consultarLineaCredito"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="propagarFuente">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/LineaCreditoService/propagarFuente"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarLineaCreditoById">
      <soap12:operation style="document"
                        soapAction="http://xmlns.bcie.com/LineaCreditoService/consultarLineaCreditoById"/>
      <wsdl:input>
        <soap12:body use="literal" parts="ConsultarLineaCreditoByIdRequest"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="ConsultarLineaCreditoByIdResponse"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="consultarFuentes">
      <soap12:operation style="document"
                        soapAction="http://xmlns.bcie.com/LineaCreditoService/consultarFuentes"/>
      <wsdl:input>
        <soap12:body use="literal" parts="ConsultarFuentesRequest"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="ConsultarFuentesResponse"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="crearlineacredito">
      <soap12:operation style="document"
                        soapAction="http://xmlns.bcie.com/LineaCreditoService/crearLineasCredito"/>
      <wsdl:input>
        <soap12:body use="literal" parts="CrearLineasCreditoRequest"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="CrearLineasCreditoResponse"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
</wsdl:definitions>






