BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/Aprobacion/ConsultarAprobacionByIdOperacion/XSD/ConsultaraprobacionByIdOperacion_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultaraprobacionByIdOperacion_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultaraprobacionByIdOperacion_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultaraprobacionByIdOperacion_DBInput" type="ConsultaraprobacionByIdOperacion_DBInput"/>
   <xs:complexType name="ConsultaraprobacionByIdOperacion_DBInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultaraprobacionByIdOperacion_DBOutputCollection" type="ConsultaraprobacionByIdOperacion_DBOutputCollection"/>
   <xs:complexType name="ConsultaraprobacionByIdOperacion_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultaraprobacionByIdOperacion_DBOutput" type="ConsultaraprobacionByIdOperacion_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultaraprobacionByIdOperacion_DBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_DECISION_REUNION" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_APROBACION" type="xs:dateTime" nillable="true"/>
         <xs:element name="NUMERO_RESOLUCION" type="xs:string" nillable="true"/>
         <xs:element name="RESUMEN" type="xs:string" nillable="true"/>
         <xs:element name="LOGIN_USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:dateTime" nillable="true"/>
         <xs:element name="ID_MONTO_APROBADO" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>