Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/SISCARDBD/resources/xsd/Siscardbd_sp.xsd

<schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/sp/Siscardbd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:db="http://xmlns.oracle.com/pcbpel/adapter/db/sp/Siscardbd" elementFormDefault="qualified">
   <element name="InputParameters">
      <complexType>
         <sequence>
            <element name="codigo_cliente" type="db:string19" db:index="1" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="nro_tarjeta" type="db:string16" db:index="2" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="fecha_vcto" type="db:string4" db:index="3" db:type="CHAR" minOccurs="0" nillable="true"/>
            <element name="codigo_msg" type="int" db:index="4" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="detalle_msg" type="db:string100" db:index="5" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <element name="OutputParameters">
      <complexType>
         <sequence>
            <element name="RowSet" type="db:RowSet" db:type="RowSet" minOccurs="0" maxOccurs="unbounded" nillable="true"/>
            <element name="codigo_msg" type="int" db:index="4" db:type="INT" minOccurs="0" nillable="true"/>
            <element name="detalle_msg" type="db:string100" db:index="5" db:type="VARCHAR" minOccurs="0" nillable="true"/>
         </sequence>
      </complexType>
   </element>
   <complexType name="RowSet">
      <sequence>
         <element name="Row" minOccurs="0" maxOccurs="unbounded">
            <complexType>
               <sequence>
                  <element name="Column" maxOccurs="unbounded" nillable="true">
                     <complexType>
                        <simpleContent>
                           <extension base="string">
                              <attribute name="name" type="string" use="required"/>
                              <attribute name="sqltype" type="string" use="required"/>
                           </extension>
                        </simpleContent>
                     </complexType>
                  </element>
               </sequence>
            </complexType>
         </element>
      </sequence>
   </complexType>
   <simpleType name="string19">
      <restriction base="string">
         <maxLength value="19"/>
      </restriction>
   </simpleType>
   <simpleType name="string16">
      <restriction base="string">
         <maxLength value="16"/>
      </restriction>
   </simpleType>
   <simpleType name="string4">
      <restriction base="string">
         <maxLength value="4"/>
      </restriction>
   </simpleType>
   <simpleType name="string100">
      <restriction base="string">
         <maxLength value="100"/>
      </restriction>
   </simpleType>
</schema>
