BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/ConsultarUsuarioReunion/XSD/ConsultarUsuarioReunionDB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarUsuarioReunionDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarUsuarioReunionDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarUsuarioReunionDBInput" type="ConsultarUsuarioReunionDBInput"/>
   <xs:complexType name="ConsultarUsuarioReunionDBInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:long" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarUsuarioReunionDBOutputCollection" type="ConsultarUsuarioReunionDBOutputCollection"/>
   <xs:complexType name="ConsultarUsuarioReunionDBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarUsuarioReunionDBOutput" type="ConsultarUsuarioReunionDBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarUsuarioReunionDBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:long" nillable="true"/>
         <xs:element name="ID_SOLICITUD_APROBACION" type="xs:long" nillable="true"/>
         <xs:element name="ID_ROL" type="xs:long" nillable="true"/>
         <xs:element name="DESCRIPCION_ROL" type="xs:string" nillable="true"/>
         <xs:element name="DESCRIPCION_CORTA_ROL" type="xs:string" nillable="true"/>
         <xs:element name="LOGIN_USUARIO" type="xs:string" nillable="true"/>
         <xs:element name="EMITE_VOTO" type="xs:decimal" nillable="true"/>
         <xs:element name="FECHA_REGISTRO" type="xs:date" nillable="true"/>
         <xs:element name="BAN_ESTATUS" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>