BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/CrearOperacion/XSD/CrearOperacionBD_table.xsd

<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearOperacionBD" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearOperacionBD" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="OperacionCollection" type="OperacionCollection"/>
   <xs:complexType name="OperacionCollection">
      <xs:sequence>
         <xs:element name="Operacion" type="Operacion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Operacion">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:long"/>
         <xs:element name="usuario" type="string20" minOccurs="0"/>
         <xs:element name="oficina" type="string40" minOccurs="0" nillable="true"/>
         <xs:element name="nombre" type="string105" minOccurs="0" nillable="true"/>
         <xs:element name="idCliente" type="xs:long" minOccurs="0"/>
         <xs:element name="idProducto" type="xs:int" minOccurs="0"/>
         <xs:element name="descripcion" type="string1024" minOccurs="0"/>
         <xs:element name="actividadEconomica" type="xs:int" minOccurs="0"/>
         <xs:element name="objetivosEstrategicos" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="areaFocalizacion" type="xs:int" minOccurs="0"/>
         <xs:element name="ejeEstrategico" type="xs:int" minOccurs="0"/>
         <xs:element name="iniciativaEstrategica" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="sectorMercado" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="fechaInicio" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="programadoPoa" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="ejercicioPoa" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="tipoGarantia" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="componenteConcecionalidad" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="estructurador" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="beneficiario" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="unidadEjecutora" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="programa" type="string60" minOccurs="0" nillable="true"/>
         <xs:element name="etapa" type="xs:int" minOccurs="0"/>
         <xs:element name="banEstatus" type="string1" minOccurs="0" nillable="true"/>
         <xs:element name="fechaBaja" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="idRangoPais" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idActividadEconomicaAsoc" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="estado" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="scr" type="xs:int" minOccurs="0" nillable="true"/>
          <xs:element name="scrEstatus" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="raroc" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="tir" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="tirEstatus" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="requiereRecursosExt" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="aplicaLaft" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idPerspectiva" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="esMultisectorial" type="xs:int" minOccurs="0" nillable="true"/>
          <xs:element name="idTcaTipoMoneda" minOccurs="0" type="xs:int" nillable="true"/>
         <xs:element name="idSectorInstitucional" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idEncargado" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="ubicacion" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="idCatPais" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string20">
      <xs:restriction base="xs:string">
         <xs:maxLength value="20"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string40">
      <xs:restriction base="xs:string">
         <xs:maxLength value="40"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string105">
      <xs:restriction base="xs:string">
         <xs:maxLength value="105"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1024">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1024"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string60">
      <xs:restriction base="xs:string">
         <xs:maxLength value="60"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string1000">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1000"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType> 
</xs:schema>