Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/PNAcct/AcctCondMobilAdd/AcctCondMobilAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/PNAcctAppSvc/AcctCondMobilAdd_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctCondMobilAdd="http://xmlns.banesco.com/appopt/PNAcctAppSvc/AcctCondMobilAdd_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="SignatureGrp">
		<xs:annotation>
			<xs:documentation>Signature Group</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="MinSignatories" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Número mínimo de firmantes</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignatureGrpKey" type="appoptAcctCondMobilAdd:SignatureGrpKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="SignatureGrpKey">
		<xs:annotation>
			<xs:documentation>Signature Group Key</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="SignGrpId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Código de grupo  </xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Mandate">
		<xs:sequence>
			<xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Moneda</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="unbounded">
				<xs:annotation>
					<xs:documentation>Descripción de condición de firma</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MandateId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Identificación del mandato</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MandateDetail" type="appoptAcctCondMobilAdd:MandateDetail" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MandateDetail">
		<xs:sequence>
			<xs:element name="Amount" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Monto límite de firma  </xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="SignatureGrp" type="appoptAcctCondMobilAdd:SignatureGrp" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctCondMobilAddRs" type="appoptAcctCondMobilAdd:AcctCondMobilAddRs_Type"/>
	<xs:complexType name="AcctCondMobilAddRq_Type">
		<xs:sequence>
			<xs:element name="Mandate" type="appoptAcctCondMobilAdd:Mandate" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctCondMobilAddRs_Type">
		<xs:sequence>
			<xs:element name="Mandate" minOccurs="0" maxOccurs="1">
				<xs:complexType>
					<xs:sequence>
						<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
						<xs:element name="MandateId" type="xs:string" minOccurs="0" maxOccurs="1">
							<xs:annotation>
								<xs:documentation>Identificación del mandato</xs:documentation>
							</xs:annotation>
						</xs:element>
					</xs:sequence>
				</xs:complexType>
			</xs:element>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctCondMobilAddRq" type="appoptAcctCondMobilAdd:AcctCondMobilAddRq_Type"/>
</xs:schema>
