BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/BPM/Schema/PC01/ElegibilidadErrorPayload.xsd

<?xml version= '1.0' encoding= 'UTF-8' ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:error="http://xmlns.bcie.org/ObjetoProceso/ElegibilidadError/Payload/V1"
     xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
     targetNamespace="http://xmlns.bcie.org/ObjetoProceso/ElegibilidadError/Payload/V1"
     elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" schemaLocation="../Comun/Header/V1/HeaderOPN.xsd"/>
    <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" schemaLocation="../Comun/Parameter/V1/ParameterOPN.xsd"/>

    <xs:element name="ElegibilidadErrorPayloadType" type="error:ElegibilidadErrorPayloadType"/>
    <xs:complexType name="ElegibilidadErrorPayloadType">
        <xs:sequence>
            <xs:element name="Header" type="header:Header"/>
            <xs:element name="Configuration" type="error:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EquipoPayload" type="error:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="EquipoEjecucion" type="error:EquipoPayloadType" minOccurs="0" maxOccurs="1"/>
            <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="ErrorMsg" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ErrorNamespace" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ErrorFault" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Accion" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ConfigGatewaysType">
        <xs:sequence>
            <xs:element name="requiereElegibilidad" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="requiereAsjur" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="requiereGeries" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="requiereAjustesAsjur" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="requiereAjustesGeries" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="esUnaReformulacion" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="cambioClienteEnReformular" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="clienteDefinitivo" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="EquipoPayloadType">
        <xs:sequence>
            <xs:element name="abogado" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="geries" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="gerente" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="control" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>
