BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/CrearBitacoraTarea/V1/Schema/CrearBitacoraTareaBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:regBi="http://www.bcie.org/CrearBitacoraTareaBO"
            targetNamespace="http://www.bcie.org/CrearBitacoraTareaBO" elementFormDefault="qualified">
  <xsd:complexType name="Bitacora">
    <xsd:annotation>
      <xsd:documentation>Registro de bitácora de tareas</xsd:documentation>
    </xsd:annotation>
    <xsd:sequence>
      <xsd:element type="xsd:long" name="id"/>
      <xsd:element type="xsd:long" name="idOperacion"/>
      <xsd:element type="xsd:string" name="nombreOperacion"/>
      <xsd:element type="xsd:long" name="idProceso"/>
      <xsd:element type="xsd:string" name="nombreProceso"/>
      <xsd:element type="xsd:string" name="instanciaProceso"/>
      <xsd:element type="xsd:string" name="idProcesoSiguiente"/>
      <xsd:element type="xsd:boolean" name="esProceso"/>
      <xsd:element type="xsd:long" name="idTarea"/>
      <xsd:element type="xsd:string" name="nombreTarea"/>
      <xsd:element type="xsd:string" name="instanciaTarea"/>
      <xsd:element type="xsd:string" name="usuario"/>
      <xsd:element type="xsd:string" name="nombreUsuario"/>
      <xsd:element type="xsd:boolean" name="esFinActividad"/>
      <xsd:element type="xsd:dateTime" name="fechaRegistro"/>
      <xsd:element type="xsd:long" name="tiempoProceso"/>
      <xsd:element type="xsd:long" name="tiempoTarea"/>
      <xsd:element type="xsd:double" name="raroc"/>
      <xsd:element type="xsd:boolean" name="finalizado"/>
      <xsd:element type="xsd:string" name="string01"/>
      <xsd:element type="xsd:string" name="string02"/>
      <xsd:element type="xsd:string" name="string03"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
