AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/Custom/Schemas/RMS_XSD/CustFlexAttriVo.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" version="1.0">
    <retailDoc:annotation>
        <retailDoc:documentation>This object is used to communicate customer flexible attributes defined for various entities
               using RMS's CFAS (Customer Flexiable Attribute) structure.
        </retailDoc:documentation>
    </retailDoc:annotation>
    <xs:element name="CustFlexAttriVo">
        <retailDoc:annotation>
            <retailDoc:documentation>This object is used to communicate customer flexible attributes defined for various entities
               using RMS's CFAS (Customer Flexiable Attribute) structure.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="name" type="varchar230">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Holds the attribute name.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="value" type="varchar2250">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Holds the numeric or string value of the attribute.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="value_date" type="xs:dateTime">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Holds the date value of the attribute.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="varchar230">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max
                length of 30 characters.
            </retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2250">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max
                length of 250 characters.
            </retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="250"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>