AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/Custom/Schemas/RMS_XSD/InvAdjustDesc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/InvAdjustDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/InvAdjustDesc/v1" version="1.1">
	<retailDoc:annotation>
		<retailDoc:documentation>This is root element of this document which
			contains name space definitions for the document elements.
		</retailDoc:documentation>
	</retailDoc:annotation>
	<xs:element name="InvAdjustUin">
		<retailDoc:annotation>
			<retailDoc:documentation>Contains UIN information.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="uin" type="varchar2128">
					<retailDoc:annotation>
						<retailDoc:documentation>Universal Identification Number</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="status" type="number4">
					<retailDoc:annotation>
						<retailDoc:documentation>Contains the status code of the UIN.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
             		</xs:sequence>
         	</xs:complexType>
    	</xs:element>
	<xs:element name="InvAdjustDtl">
		<retailDoc:annotation>
			<retailDoc:documentation>Description is not available.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="item_id" type="varchar225">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="adjustment_reason_code" type="number4">
					<retailDoc:annotation>
						<retailDoc:documentation>Contains the reason for inventory
							adjustment. This field will only have a value for saleable
							inventory types.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="unit_qty" type="number12_4">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="transshipment_nbr" type="varchar230">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="from_disposition" type="varchar24">
					<retailDoc:annotation>
						<retailDoc:documentation>Used to fetch the inv_status. Also used
							to determine if the adjustment quantity is negative or positive.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="to_disposition" type="varchar24">
					<retailDoc:annotation>
						<retailDoc:documentation>Used to fetch the inv_status. Also used
							to determine if the adjustment quantity is negative or positive.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="from_trouble_code" type="varchar29">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="to_trouble_code" type="varchar29">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="from_wip_code" type="varchar29">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="to_wip_code" type="varchar29">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="transaction_code" type="number4">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="user_id" type="varchar230">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element name="create_date" type="xs:dateTime">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="po_nbr" type="varchar212">
					<retailDoc:annotation>
						<retailDoc:documentation>Either a PO or transfer associated to the
							inventory adjustment based on the doc_type.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="doc_type" type="varchar21">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="aux_reason_code" type="varchar24">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="weight" type="number12_4">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="weight_uom" type="varchar24">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" name="unit_cost" type="number20_4">
					<retailDoc:annotation>
						<retailDoc:documentation>Contains the current unit cost of the
							item</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element minOccurs="0" maxOccurs="unbounded" ref="InvAdjustUin">
					<retailDoc:annotation>
						<retailDoc:documentation>Collection of UIN(s) associated to the item.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="InvAdjustDesc">
		<retailDoc:annotation>
			<retailDoc:documentation>Description is not available.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="dc_dest_id" type="varchar210">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
				<xs:element maxOccurs="unbounded" ref="InvAdjustDtl">
					<retailDoc:annotation>
						<retailDoc:documentation>Description is not available.
						</retailDoc:documentation>
					</retailDoc:annotation>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:simpleType name="number12_4">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a number of digits count
				12 and fraction digit count of 4.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="12"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number20_4">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a number of digits count
				20 and fraction digit count of 4.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:decimal">
			<xs:totalDigits value="20"/>
			<xs:fractionDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar225">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				25 characters.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="25"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar230">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				30 characters.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="30"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar210">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				10 characters.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="10"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar26">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				6 characters.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="6"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar22">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				2 characters.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="2"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar24">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				4 characters.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="number4">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a number of digits count
				4.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:int">
			<xs:totalDigits value="4"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar21">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				1 characters.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="1"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar29">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				9 characters.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="9"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar212">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				12 characters.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="12"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="varchar2128">
		<retailDoc:annotation>
			<retailDoc:documentation>This type can hold a string of max length of
				128 characters.</retailDoc:documentation>
		</retailDoc:annotation>
		<xs:restriction base="xs:string">
			<xs:maxLength value="128"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>