AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/Custom/Schemas/RMS_XSD/RTVDesc.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/RTVDesc/v1" version="1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/RTVDesc/v1" xmlns:CustFlexAttriVo="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
<xs:import namespace="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" schemaLocation="CustFlexAttriVo.xsd">
         <retailDoc:annotation>
              <retailDoc:documentation>It's a referenced element. For detailed
                    description, please refer referenced element doc.
              </retailDoc:documentation>
         </retailDoc:annotation>
    </xs:import>
<xs:element name="RTVDtlUin">
        <retailDoc:annotation>
            <retailDoc:documentation>Contains UIN information.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="uin" type="varchar2128">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Universal Identification Number.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="status" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Status associated with the UIN.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
             </xs:sequence>
         </xs:complexType>
    </xs:element>
    <xs:element name="RTVDtl">
        <retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item_id" type="varchar225">
                    <retailDoc:annotation>
<retailDoc:documentation>Unique identifier for the item on the RTV.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="unit_qty" type="number12_4">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the quantiy of items being returned to the supplier under this RTV number.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="container_qty" type="number6">
                    <retailDoc:annotation>
<retailDoc:documentation>Not used by RMS.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="from_disposition" type="varchar24">
                    <retailDoc:annotation>
<retailDoc:documentation>This value is used to determine if the inventory is available or unavailable, based on the code's INV_STATUS value on the INV_STATUS_CODES table.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="to_disposition" type="varchar24">
                    <retailDoc:annotation>
<retailDoc:documentation>This value is used to determine if the inventory is available or unavailable, based on the code's INV_STATUS value on the INV_STATUS_CODES table.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="unit_cost" type="number20_4">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the cost per unit for the SKU being returned. This field is stored in the supplier's currency.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="reason" type="varchar26">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the value identifying the reason for the return. Valid values are: Q - QC Failed, U - Unavailable Inventory. Other values may also be entered via the codes table under code type 'RTVR', however, the two codes listed previously may never be deleted. Note that any value added can only be related to RTV from existing inventory (e.g. overstock).</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="weight" type="number12_4">
                    <retailDoc:annotation>
<retailDoc:documentation>Actual weight shipped for the item on the RTV.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="weight_uom" type="varchar24">
                    <retailDoc:annotation>
<retailDoc:documentation>Unit of Measure for the weight (e.g. pounds, kilograms).</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="gross_cost" type="number20_4">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the Unit cost and Expenses incurred on an item in a particular transaction</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
        <xs:element minOccurs="0" maxOccurs="unbounded" ref="RTVDtlUin">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Collection of UIN(s) associated to the item.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RTVDesc">
        <retailDoc:annotation>
<retailDoc:documentation>Description is not available.</retailDoc:documentation>
</retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dc_dest_id" type="varchar210">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the location number that the items are returned from.  If the dc_dest_id is a store, the STORE column gets populated with the dc_dest_id value, and the WH column is defaulted to -1. If the dc_dest_id is a warehouse, the WH column gets populated.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="rtv_id" type="varchar214">
                    <retailDoc:annotation>
<retailDoc:documentation>Audit trail reference to external system when an external transaction initiates master record creation in the Retek system.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="rtn_auth_nbr" type="varchar212">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the number that the supplier provides when the decision is made that an order may be returned. This value is not always required and is determined by vendor level data.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element name="vendor_nbr" type="varchar210">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the supplier ID to which the merchandise is being returned.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ship_address1" type="varchar2240">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the first line of the supplier's address for returns.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ship_address2" type="varchar2240">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the second line of the supplier's address for returns.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ship_address3" type="varchar2240">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the third line of the supplier's address for returns.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="state" type="varchar23">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the state of the supplier's address for returns.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="city" type="varchar2120">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the city name of the supplier's address for returns.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="shipto_zip" type="varchar230">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the zip code of the supplier's address for returns.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="country" type="varchar23">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the country ID of the supplier's address for returns.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="creation_ts" type="xs:dateTime">
                    <retailDoc:annotation>
<retailDoc:documentation>CREATED_DATE contains the date the vendor return was created, COMPLETED_DATE contains the date the vendor return was completed.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="comments" type="varchar22000">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains any comments associated with the return.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="rtv_order_no" type="number10">
                    <retailDoc:annotation>
<retailDoc:documentation>Contains the number that uniquely identifies the return to vendor within the system.</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="RTVDtl">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="status_ind" type="varchar21">
                    <retailDoc:annotation>
<retailDoc:documentation>This value is used to determine the current status of the return. If this is 'A', RMS will set the status to 12 (In Progress). If this is 'S' or null, it will be set to 15 (Shipped).</retailDoc:documentation>
</retailDoc:annotation>
                </xs:element>
<xs:element maxOccurs="unbounded" minOccurs="0" ref="CustFlexAttriVo:CustFlexAttriVo">
                    <retailDoc:annotation>
                          <retailDoc:documentation>References a collection of customer flexible attributes.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="varchar225">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="25"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number12_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar214">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 14 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="14"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2240">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 240 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="240"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar230">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number6">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 6.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar23">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2120">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="120"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar212">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 12 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="12"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar22000">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 2000 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar24">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number7">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 7.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="7"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
<xs:simpleType name="varchar2128">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 128 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="128"/>
        </xs:restriction>
    </xs:simpleType>
<xs:simpleType name="number4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count
                4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>