AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/Custom/Schemas/RMS_XSD/RTVReqDesc.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/RTVReqDesc/v1" version="1.0" xmlns="http://www.oracle.com/retail/integration/base/bo/RTVReqDesc/v1" xmlns:CustFlexAttriVo="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <retailDoc:annotation>
    <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
  </retailDoc:annotation>
  <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" schemaLocation="CustFlexAttriVo.xsd">
    <retailDoc:annotation>
      <retailDoc:documentation>It's a referenced element. For detailed
                    description, please refer referenced element doc.
              </retailDoc:documentation>
    </retailDoc:annotation>
  </xs:import>
  <xs:element name="RTVReqDtl">
    <retailDoc:annotation>
      <retailDoc:documentation>Description is not available.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="seq_no" type="number8">
          <retailDoc:annotation>
            <retailDoc:documentation>This field will contain a sequence number which makes the record unique when combined with the RTV_ORDER_NO field.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="item" type="varchar225">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="shipment" type="number12">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the shipment number associated with all vendor returns originating from the Quality Control process.  This field will contain a -1 for all returns originating from held inventory.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="inv_status" type="number2">
          <retailDoc:annotation>
            <retailDoc:documentation>This field contains the number representing the inventory status code.  This field is only required if the reason field has a value of 'U' for unavailable inventory.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="rtv_qty" type="number12_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the quantity of items requested to be returned to the supplier under this RTV number.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="unit_cost" type="number20_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the cost per unit for the SKU being returned.  This field is stored in the supplier's currency.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="reason" type="varchar26">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the value identifying the reason for the return.  Valid values are: Q - QC Failed, U - Unavailable Inventory.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RTVReqDesc">
    <retailDoc:annotation>
      <retailDoc:documentation>Description is not available.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="rtv_order_no" type="number12">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the number that uniquely identifies the return to vendor within the system.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="supplier" type="varchar210">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="status_ind" type="number2">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the current status of the return.  Valid values include: 05- Input, 10 - Approved, 15 - Shipped, 20 - Cancelled.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="loc" type="number10">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains either the store or warehouse number for the items being returned.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="loc_type" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Indicates the location type.  Contains an 'S' if the location is a store or 'W' if the location is a warehouse.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="physical_loc" type="number10">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the store number or the physical warehouse where the items are being returned.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="total_order_amt" type="number20_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the total amount of the return.  This field is stored in the supplier's currency.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="ship_to_addr_line1" type="varchar2240">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ship_to_addr_line2" type="varchar2240">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ship_to_addr_line3" type="varchar2240">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="ship_to_city" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="state" type="varchar23">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="ship_to_country_code" type="varchar23">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ship_to_postal_code" type="varchar230">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ret_auth_nbr" type="varchar212">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the number that the supplier provides when the decision is made that an order may be returned.  This value is not always required and is determined by vendor level data.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ret_courier" type="varchar2250">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the courier name if the supplier requires that returns be sent by a designated carrier.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="freight_charge" type="number20_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the freight cost associated with the vendor return.  This field is stored in the supplier's currency.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="creation_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="completed_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="handling_pct" type="number12_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the handling (restocking) percent if a percent is specified at a vendor level.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="handling_cost" type="number20_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the handling (restocking) cost for the vendor return if a handling (restocking) percent is specified at a supplier level. The cost is calculated by taking the total order amount multiplied by the handling (restocking) percent. This field is stored in the supplier's currency.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ext_ref_no" type="varchar214">
          <retailDoc:annotation>
            <retailDoc:documentation>Audit trail reference to external system when an external transaction initiates master record creation in the Retek system.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="comment_desc" type="varchar22000">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="RTVReqDtl">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="not_after_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="CustFlexAttriVo:CustFlexAttriVo">
          <retailDoc:annotation>
            <retailDoc:documentation>References a collection of customer flexible attributes.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="varchar225">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar2250">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 250 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="250"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number12_4">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="12"/>
      <xs:fractionDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number8">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 8.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits value="8"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar210">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar2240">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 240 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="240"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar214">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 14 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="14"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar22000">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 2000 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar230">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar23">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar2120">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="120"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar212">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 12 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar26">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number2">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 2.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number20_4">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 4.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="20"/>
      <xs:fractionDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number10">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:long">
      <xs:totalDigits value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number12">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 12.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:long">
      <xs:totalDigits value="12"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar21">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>