AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/Custom/Schemas/RMS_XSD/SupplierDesc.xsd

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/SupplierDesc/v1" xmlns:CustFlexAttriVo="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" xmlns:ExtOfSupplierDesc="http://www.oracle.com/retail/integration/custom/bo/ExtOfSupplierDesc/v1" xmlns:LocOfSupplierDesc="http://www.oracle.com/retail/integration/base/bo/LocOfSupplierDesc/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/SupplierDesc/v1" version="1.0">
    <retailDoc:annotation>
        <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:element name="SupplierDesc">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sup_xref_key" type="varchar232">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column holds the ID for the supplier used in the external financial system. It is populated by the integration that brings suppliers from external financial systems into RMS. This ID and the supplier site ID can be used to join to information about the supplier in the external system.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="supplier_id" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Unique identifying number for a supplier within the system.  The user determines this number when a new supplier is first added to the system.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" ref="SupAttr">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" minOccurs="0" ref="SupSite">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SupAttr">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sup_name" type="varchar2240">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the suppliers trading name.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="sup_name_secondary" type="varchar2240">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="contact_name" type="varchar2120">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the name of the suppliers representative contact.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="contact_phone" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains a telephone number for the suppliers representative contact.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="contact_fax" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains a fax number for the suppliers representative contact.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="contact_pager" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the number for the pager of the suppliers representative contact.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="sup_status" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Determines whether the supplier is currently active.   Valid values include</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="qc_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Determines whether orders from this supplier will default as requiring quality control.   A value of Y  means that all orders from this supplier will require quality control unless overridden by the user when the order is created.  An N in this field means that quality control will not be required unless indicated by the user during order creation.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="qc_pct" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the percentage of items per receipt that will be marked for quality checking.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="qc_freq" type="varchar22">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the frequency in which items per receipt will be marked for quality checking.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="vc_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Determines whether orders from this supplier will default as requiring vendor control.   A value of Y  means that all orders from this supplier will require vendor control. An N in this field means that vendor control will not be required.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="vc_pct" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the percentage of items per receipt that will be marked for vendor checking.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="vc_freq" type="number2">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the frequency in which items per receipt will be marked for vendor checking.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="currency_code" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains a code identifying the currency the supplier uses for business transactions.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="lang" type="number6">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains the suppliers preferred language.  This field is provided for custom purchase orders in a specified language.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="terms" type="varchar215">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicator identifying the sales terms that will default when an order is created for the supplier.  These terms specify when payment is due and if any discounts exist for early payment.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="freight_terms" type="varchar230">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicator that references what freight terms will default when a order is created for the supplier.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ret_allow_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether or not the supplier will accept returns.  Valid values are Y and N.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ret_auth_req" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if returns must be accompanied by an authorization number when sent back to the vendor.   Valid values are Y and N.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ret_min_dol_amt" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains a value if the supplier requires a minimum dollar amount to be returned in order to accept the return.  Returns of less than this amount will not be processed by the system.  This field is stored in the suppliers currency.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ret_courier" type="varchar2250">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the name of the courier that should be used for all returns to the supplier.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="handling_pct" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Percentage multiplied by the total order cost to determine the handling cost for the return.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="edi_po_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether purchase orders will be sent to the supplier via Electronic Data Interchange.   Valid values are Y and N.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="edi_po_chg" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether purchase order changes will be sent to the supplier via Electronic Data Interchange.   Valid values are Y and N.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="edi_po_confirm" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether this supplier will send acknowledgment of a purchase orders sent via Electronic Data Interchange.   Valid values are Y and N.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="edi_asn" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether this supplier will send Advance Shipment Notifications electronically.   Valid values are Y and N.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="edi_sales_rpt_freq" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains the EDI sales report frequency for this supplier. Valid values are</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="edi_supp_available_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field indicates whether the supplier will send availability via EDI.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="edi_contract_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field indicates whether contracts will be sent to the supplier via EDI.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="edi_invc_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether invoices, debit memos and credit note requests will be sent to/from the supplier via Electronic Data Interchange.   Valid values are Y and N.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="edi_channel_ind" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>If the supplier is an EDI supplier and supports vendor initiated ordering, this field will contain the channel ID for the channel to which all inventory for these types of orders will flow.  This field is used when a vendor initiated order is created for a physical warehouse to determine the virtual warehouse within the physical warehouse to which the inventory will flow.  The virtual warehouse belonging to the indicated channel will be used.  This will only be used in a multichannel environment</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="cost_chg_pct_var" type="number12_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains the cost change variance by percent.  If an EDI cost change is accepted and falls within these boundaries, it will be approved when inserted into the cost change dialogue.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="cost_chg_amt_var" type="number20_4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains the cost change variance by amount.  If an EDI cost change is accepted and falls within these boundaries, it will be approved when inserted into the cost change dialogue.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="replen_approval_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether contract orders for the supplier should be created in Approved status.   Valid values are Y and N.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="ship_method" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>The method used to ship the items on the purchase order from the country of origin to the country of import.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="payment_method" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field indicates the method of payment.LC(Letter of Credit).</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="contact_telex" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains the telex number of the partner or suppliers representative contact.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="contact_email" type="varchar2100">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field contains the email address of the partner or suppliers representative contact.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="settlement_code" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>"This field indicates which payment process method is used for this supplier.  Valid values are</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="pre_mark_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field indicates whether or not the supplier has agreed to break an order into separate boxes (and mark them) that can be shipped directly to the stores.   Valid values are Y and N.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="auto_appr_invc_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether or not the suppliers invoice matches can be automatically approved for payment.  Valid values are Y or N.  This field will only be populated if invoice matching is installed.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="dbt_memo_code" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates when a debit memo will be sent to the supplier to resolve a discrepancy.  Valid values are Y if debit memos are always to be sent, L if debit memos are used only if a credit note is not sent by the invoice due date, or N if debit memos are never to be sent.  This field will only be populated if invoice matching is installed. Debit memo codes will be held on the codes table under the code type  IMDC.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="freight_charge_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if a supplier is allowed to charge freight costs to the client.  This field will only be populated if invoice matching is installed.  Valid values are Y and N.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="auto_appr_dbt_memo_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether or not debit memos sent to the supplier can be automatically approved on creation.  Valid values are Y or N.  This field will only be populated if invoice matching is installed.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="prepay_invc_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether or not all invoices for the supplier can be considered pre-paid invoices.  This field will only be populated if invoice matching is installed.  Valid values are Y and N.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="backorder_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if backorders or partial shipments will be accepted.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="vat_region" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the unique identifying number for the VAT region in the system.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="inv_mgmt_lvl" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicator that determines whether supplier inventory management information can be set up at the supplier/department level or just at the supplier level.  Also determines if orders created through replenishment for this supplier should be split by department or not. If the supplier is returns-only, this field will be null.   Otherwise, this field must have value. Values include</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="service_perf_req_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if the suppliers services (e.g. shelf stocking) must be confirmed as performed before paying an invoice from that supplier.  Valid values are Y (all service non-merchandise lines on an invoice from this supplier must be confirmed before the invoice can be paid) and N (services do not need to be confirmed).</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="invc_pay_loc" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates where invoices from this supplier are paid - at the store or centrally through corporate accounting.  Valid values are S (paid at the store) and C (paid centrally).  This field should only be S if using ReSA to accept payment at the store, and only populated when using invoice matching.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="invc_receive_loc" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates where invoices from this supplier are received - at the store or centrally through corporate accounting.  Valid values are S (received at the store) and C (received centrally).  This field should only be populated when using invoice matching.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="addinvc_gross_net" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates if the supplier invoice lists items at gross cost instead of net (off-invoice discounts subtracted). Valid values are G (invoices at gross) or N (invoices at net). These are stored on the code table under a code type of INGN.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="delivery_policy" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Contains the delivery policy of the supplier.  Next Day indicates that the if a location is closed, the supplier will deliver on the next day.  Next Valid Delivery Day indicates that the supplier will wait until the next scheduled delivery day before delivering.  Valid values come from the DLVY code on code_head/code_detail.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="comment_desc" type="varchar22000">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Any miscellaneous comments associated with the supplier.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="default_item_lead_time" type="number4">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Holds the default lead time for the supplier.  The lead time is the time the supplier needs between receiving an order and having the order ready to ship.  This value will be  defaulted to item/supplier relationships.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="duns_number" type="varchar29">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This type can hold a number of digits count umber.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="duns_loc" type="varchar24">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field holds the Dun and Bradstreet number to identify the location of the supplier.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="bracket_costing_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This field will determine if the supplier uses bracket costing pricing structures.  Valid values</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="vmi_order_status" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column determines the status in which any inbound POs from this supplier are created.  A NULL value indicates that the supplier is not a VMI supplier.  Orders from these suppliers will be still be created in worksheet status.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="dsd_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates whether the supplier can ship direct to store.  Valid values are Y and N.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="scale_aip_orders" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Depending upon the value in this column, scaling is done for AIP orders. Default value is N.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="sup_qty_level" type="varchar26">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Indicates the supplier order quantity level - 'CA' for cases, 'EA' for eaches.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SupSite">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="supsite_xref_key" type="varchar232">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="supplier_site_id" type="number10">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Unique identifying number for a supplier within the system.  The user determines this number when a new supplier is first added to the system.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" ref="SupAttr">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" ref="SupSiteOrgUnit">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="unbounded" ref="SupSiteAddr">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SupSiteOrgUnit">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="org_unit_id" type="number15">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column holds the oracle organizational unit ID</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="primary_pay_site" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Primary payment site indicator.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SupSiteAddr">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element minOccurs="0" name="addr_xref_key" type="varchar232">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column contains a unique number used to distinguish between different addresses.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="addr_key" type="number11">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column contains a unique number used to distinguish between different addresses.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element maxOccurs="1" ref="Addr">
                    <retailDoc:annotation>
                        <retailDoc:documentation>Description is not available.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="Addr">
        <retailDoc:annotation>
            <retailDoc:documentation>Description is not available.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="addr_type" type="varchar22">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column indicates the type for the address.  Valid values are</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="primary_addr_ind" type="varchar21">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column indicates whether the address is the primary address for the address type.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="add_1" type="varchar2240">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column contains the first line of the address.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="add_2" type="varchar2240">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column contains the second line of the address.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="add_3" type="varchar2240">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column contains the third line of the address.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="city" type="varchar2120">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column contains the name of the city that is associated with the address.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="state" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column contains the state abbreviation for the address.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element name="country_id" type="varchar23">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column contains the country where the address exists.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="post" type="varchar230">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column contains the zip code for the address.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="contact_name" type="varchar2120">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column contains the name of the contact for the supplier at this address.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="contact_phone" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column contains the phone number of the contact person at this address.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="contact_fax" type="varchar220">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column contains the fax number of the contact person at this address.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="contact_email" type="varchar2100">
                    <retailDoc:annotation>
                        <retailDoc:documentation>This column contains the email address of the partner or suppliers representative contact.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
                <xs:element minOccurs="0" name="jurisdiction_code" type="varchar210">
                    <retailDoc:annotation>
                        <retailDoc:documentation>ID associated to the tax jurisdiction of the country-state relationship.</retailDoc:documentation>
                    </retailDoc:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:simpleType name="number12_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="12"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2240">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 240 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="240"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2250">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 250 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="250"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar220">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 20 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="20"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar210">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar230">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="30"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar232">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 32 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="32"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number6">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 6.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar23">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="3"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2100">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 100 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="100"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar2120">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="120"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar24">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar26">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="6"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar29">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 9 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="9"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar22000">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 2000 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2000"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar215">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 15 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="15"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number20_4">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 4.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:decimal">
            <xs:totalDigits value="20"/>
            <xs:fractionDigits value="4"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number2">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 2.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:int">
            <xs:totalDigits value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar21">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="1"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="varchar22">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a string of max length of 2 characters.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:string">
            <xs:maxLength value="2"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number10">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="10"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number11">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 11.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="11"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:simpleType name="number15">
        <retailDoc:annotation>
            <retailDoc:documentation>This type can hold a number of digits count 15.</retailDoc:documentation>
        </retailDoc:annotation>
        <xs:restriction base="xs:long">
            <xs:totalDigits value="15"/>
        </xs:restriction>
    </xs:simpleType>
</xs:schema>