AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/Custom/Schemas/RMS_XSD/TsfDesc.xsd

<xs:schema elementFormDefault="qualified" targetNamespace="http://www.oracle.com/retail/integration/base/bo/TsfDesc/v1" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://www.oracle.com/retail/integration/base/bo/TsfDesc/v1" xmlns:CustFlexAttriVo="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" xmlns:retailDoc="http://www.w3.org/2001/XMLSchema">
  <retailDoc:annotation>
    <retailDoc:documentation>This is root element of this document which contains name space definitions for the document elements.</retailDoc:documentation>
  </retailDoc:annotation>
  <xs:import namespace="http://www.oracle.com/retail/integration/base/bo/CustFlexAttriVo/v1" schemaLocation="CustFlexAttriVo.xsd">
    <retailDoc:annotation>
      <retailDoc:documentation>It's a referenced element. For detailed
                    description, please refer referenced element doc.
              </retailDoc:documentation>
    </retailDoc:annotation>
  </xs:import>
  <xs:element name="TsfDtlTckt">
    <retailDoc:annotation>
      <retailDoc:documentation>Description is not available.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="comp_item" type="varchar225">
          <retailDoc:annotation>
            <retailDoc:documentation>Alphanumeric value that identifies the item within the pack.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="comp_price" type="number20_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the unit retail price in the selling unit of measure for the comp item/location combination. This field is generated from a call to PRICING_ATTRIB_SQL.GET_RETAIL with comp_item as the input.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="comp_selling_uom" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the selling unit of measure for the comp item. This field is generated from a call to PRICING_ATTRIB_SQL.GET_RETAIL with comp_item as the input.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TsfDtl">
    <retailDoc:annotation>
      <retailDoc:documentation>Description is not available.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="item" type="varchar225">
          <retailDoc:annotation>
            <retailDoc:documentation>Unique alphanumeric value that identifies the item.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="tsf_qty" type="number12_4">
          <retailDoc:annotation>
            <retailDoc:documentation>The total quantity of the item reserved at the from location for this transfer.  This field is set back to zero each time the stock is either merged into a 'Combined Transfer' or shipped.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="price" type="number20_4">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the unit retail price in the selling unit of measure for the item/location combination. This field is generated from a call to PRICING_ATTRIB_SQL.GET_RETAIL with item as the input.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="selling_uom" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the selling unit of measure of the item. This field is generated from a call to PRICING_ATTRIB_SQL.GET_RETAIL with item as the input.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="priority" type="number4">
          <retailDoc:annotation>
            <retailDoc:documentation>This field is currently defaulted to 1.  It is reserved for future use.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="expedite_flag" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>If TSFHEAD.FREIGHT_CODE is 'E', expedite_flag is 'Y'.  Otherwise, expedite_flag is 'N'.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="store_ord_mult" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>The multiple in which the item needs to be shipped from a warehouse to the location.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="tsf_po_link_no" type="number12">
          <retailDoc:annotation>
            <retailDoc:documentation>A reference number to link the item on the transfer to any purchase orders that have been created to allow the from location (i.e. warehouse) on the transfer to fulfill the transfer quantity to the to location (i.e store) on the transfer.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="ticket_type_id" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>The ticket type associated with the item.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="TsfDtlTckt">
          <retailDoc:annotation>
            <retailDoc:documentation>Child Node - see layout below.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="inv_status" type="number2">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the inventory status, if one exists, for the transfer detail record. The inventory status field corresponds to the inventory status type found on the INV_STATUS_TYPES table.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="transaction_uom" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>Holds the original transaction unit of measure to be passed on to the store system. It is only used for customer direct orders coming from the Order Management System. All quantities on the payload are expressed in item's standard unit of measure.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TsfDesc">
    <retailDoc:annotation>
      <retailDoc:documentation>Description is not available.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:complexType>
      <xs:sequence>
        <xs:element name="tsf_no" type="number12">
          <retailDoc:annotation>
            <retailDoc:documentation>The number that uniquely identifies the transfer.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="doc_type" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Defaulted to 'T' for RMS transfers.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="physical_from_loc" type="number10">
          <retailDoc:annotation>
            <retailDoc:documentation>Physical location that the from_loc belongs to.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="from_loc_type" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Type of location in the from_loc field.  Valid values are: S = Store, W = Warehouse, E = external finisher.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="from_store_type" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Indicates the store type of the from_loc store. Only populated if from_loc_type is 'S'. Valid values are: 'C' = company store, 'F' = franchise store.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="from_stockholding_ind" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Indicates if the from_loc store is stockholding or not. Only populated if from_loc_type is 'S'. Valid values are: 'Y' = yes, 'N' = no.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="from_loc" type="varchar210">
          <retailDoc:annotation>
            <retailDoc:documentation>The location number of the transfer from location. This field will contain either a store or warehouse number based on the from_loc_type field.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="physical_to_loc" type="number10">
          <retailDoc:annotation>
            <retailDoc:documentation>Physical location that the to_loc belongs to.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="to_loc_type" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Type of location in the to_loc field.  Valid values are: S = Store, W = Warehouse, E = external finisher.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="to_store_type" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Indicates the store type of the to_loc store. Only populated if to_loc_type is 'S'. Valid values are: 'C' = company store, 'F' = franchise store.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="to_stockholding_ind" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Indicates if the to_loc store is stockholding or not. Only populated if to_loc_type is 'S'. Valid values are: 'Y' = yes, 'N' = no.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="to_loc" type="varchar210">
          <retailDoc:annotation>
            <retailDoc:documentation>The location number of the transfer to location. This field will contain either a store or warehouse number based on the to_loc_type field.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="tsf_type" type="varchar26">
          <retailDoc:annotation>
            <retailDoc:documentation>A code for the type of the transfer, such as SR - Store Requisition CO - Customer Order RV - RTV CF - Confirmation NS - Non-Salable AD - Administrative MR - Manual Requisitions PL - PO-Linked Transfer.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="pick_not_before_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>The date the transfer was approved.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="pick_not_after_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>This is calculated as transfer approval date + days from code_detail where code_type = 'DEFT' and code = 'DATE'.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="order_type" type="varchar29">
          <retailDoc:annotation>
            <retailDoc:documentation>This is the order type associated with transfers. RWMS uses this value to determine how to distribute stock orders.  
                            Valid values (e.g. Automatic, Manual, etc.) are on the order_types table.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="priority" type="number4">
          <retailDoc:annotation>
            <retailDoc:documentation>Reserved for future use; currently defaulted to 1.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="break_by_distro" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Set to 'Y' if the deliver_type for the transfer's customer is 'S'. Otherwise, set to N.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="delivery_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>The earliest date that the transfer can be delivered to the store. This will be populated if the transfer type is PO-Linked.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="cust_name" type="varchar240">
          <retailDoc:annotation>
            <retailDoc:documentation>The name of the customer.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="deliver_add1" type="varchar2240">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the first line of the delivery address of the customer.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="deliver_add2" type="varchar2240">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the second line of the delivery address of the customer.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="deliver_city" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the city portion of the delivery address.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="deliver_state" type="varchar23">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the state portion of the delivery address.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="deliver_post" type="varchar230">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the postal code portion of the delivery address.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="deliver_country_id" type="varchar23">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the country portion of the delivery address.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="message" type="varchar22000">
          <retailDoc:annotation>
            <retailDoc:documentation>Any comments associated with the transfer.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="TsfDtl">
          <retailDoc:annotation>
            <retailDoc:documentation>Child node - see layout below.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="tsf_parent_no" type="number12">
          <retailDoc:annotation>
            <retailDoc:documentation>Identifies the transfer at the level above the transfer</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="exp_dc_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>Date the inventory is expected to arrive at the DC.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="approval_id" type="varchar230">
          <retailDoc:annotation>
            <retailDoc:documentation>The ID of the user who approved the transfer</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="approval_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>Date the transfer was approved</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="from_loc_tsf_entity" type="number10">
          <retailDoc:annotation>
            <retailDoc:documentation>Transfer entity of the from location.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="to_loc_tsf_entity" type="number10">
          <retailDoc:annotation>
            <retailDoc:documentation>Transfer entity of the to location.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="inv_type" type="varchar26">
          <retailDoc:annotation>
            <retailDoc:documentation>A specific transfer can only contain available or unavailable merchandise, never a combination of both. This column will indicate whether the transfer is for Available inventory or Unavailable inventory.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="tsf_status" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Status of the transfer.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="not_after_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>The last day delivery of the transfer will be accepted</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="context_type" type="varchar26">
          <retailDoc:annotation>
            <retailDoc:documentation>Can be used to indicate the transfer reason or category, e.g. 'promotion'.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="context_value" type="varchar225">
          <retailDoc:annotation>
            <retailDoc:documentation>Further info to indicate the reason or category for the transfer.  For instance, if context_type was 'promotion', this could be the promotion number.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="delivery_slot_id" type="varchar215">
          <retailDoc:annotation>
            <retailDoc:documentation>Specifies when the transfer quantity is needed at the location.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="delivery_slot_desc" type="varchar2240">
          <retailDoc:annotation>
            <retailDoc:documentation>Delivery slot description.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="cust_order_nbr" type="varchar248">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the master customer order number from the Order Management System.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="fulfill_order_nbr" type="varchar248">
          <retailDoc:annotation>
            <retailDoc:documentation>Contains the fulfillment order number for the transfer as provided by OMS. One or more fulfillment orders could relate back to a single customer order in OMS.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="carrier_code" type="varchar24">
          <retailDoc:annotation>
            <retailDoc:documentation>Indicates the carrier the order is to be shipped with, if specified on the order.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="carrier_service_code" type="varchar26">
          <retailDoc:annotation>
            <retailDoc:documentation>Indicates the method that was selected for shipping by the customer placing the order (e.g. Standard Shipping, Overnight, etc.).</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="consumer_delivery_date" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>Indicates the desired date the delivery is required by the customer.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="consumer_delivery_time" type="xs:dateTime">
          <retailDoc:annotation>
            <retailDoc:documentation>Indicates the desired time the delivery is required by the customer.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="deliver_first_name" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the first name for the delivery address on the order.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="deliver_phonetic_first" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the phonetic first name for the delivery address on the order.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="deliver_last_name" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the last name for the delivery address on the order.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="deliver_phonetic_last" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the phonetic last name for the delivery address on the order.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="deliver_preferred_name" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the preferred name for the delivery address on the order.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="deliver_company_name" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the company name for the delivery address on the order.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="deliver_add3" type="varchar2240">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the third line of the delivery address of the customer.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="deliver_county" type="varchar2250">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the county portion of the delivery address.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="deliver_phone" type="varchar220">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the delivery phone number.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="bill_first_name" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the first name for the billing address on the order.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="bill_phonetic_first" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the phonetic first name for the billing address on the order.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="bill_last_name" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the last name for the billing address on the order.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="bill_phonetic_last" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the phonetic last name for the billing address on the order.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="bill_preferred_name" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the preferred name for the billing address on the order.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="bill_company_name" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the company name for the billing address on the order.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="bill_add1" type="varchar2240">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the first line of the billing address of the customer.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="bill_add2" type="varchar2240">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the second line of the billing address of the customer.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="bill_add3" type="varchar2240">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the third line of the billing address of the customer.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="bill_county" type="varchar2250">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the county portion of the billing address.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="bill_city" type="varchar2120">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the city portion of the billing address.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="bill_country" type="varchar23">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the country portion of the billing address.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="bill_post" type="varchar230">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the postal code portion of the billing address.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="bill_state" type="varchar23">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the state portion of the billing address.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="bill_phone" type="varchar220">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column contains the billing phone number.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element minOccurs="0" name="partial_delivery_ind" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>For customer order transfers, this column indicates if the order can be picked and shipped partially or if it should be shipped only when complete. Valid values are 'Y' or 'N'.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element name="consumer_direct" type="varchar21">
          <retailDoc:annotation>
            <retailDoc:documentation>Indicates the order as being consumer direct (Y) or not (N). An order is consumer direct if it is a customer order.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
        <xs:element maxOccurs="unbounded" minOccurs="0" ref="CustFlexAttriVo:CustFlexAttriVo">
          <retailDoc:annotation>
            <retailDoc:documentation>References a collection of customer flexible attributes.</retailDoc:documentation>
          </retailDoc:annotation>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:simpleType name="number12_4">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 12 and fraction digit count of 4.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="12"/>
      <xs:fractionDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar225">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 25 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="25"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar210">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar215">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 10 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="15"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar2240">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 240 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="240"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number4">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 4.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar230">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 30 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="30"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar23">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 3 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="3"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar2120">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 120 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="120"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar26">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 6 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="6"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number2">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 2.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:int">
      <xs:totalDigits value="2"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar24">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 4 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar22000">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 2000 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="2000"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar240">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 40 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="40"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number20_4">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 20 and fraction digit count of 4.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:decimal">
      <xs:totalDigits value="20"/>
      <xs:fractionDigits value="4"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number10">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 10.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:long">
      <xs:totalDigits value="10"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar21">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 1 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="1"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar29">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 9 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="9"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar248">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 48 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="48"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar2250">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 250 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="250"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="varchar220">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a string of max length of 20 characters.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:string">
      <xs:maxLength value="20"/>
    </xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="number12">
    <retailDoc:annotation>
      <retailDoc:documentation>This type can hold a number of digits count 12.</retailDoc:documentation>
    </retailDoc:annotation>
    <xs:restriction base="xs:long">
      <xs:totalDigits value="12"/>
    </xs:restriction>
  </xs:simpleType>
</xs:schema>