AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/Store/StoreEBM.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/Store" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/Store" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <!-- ====================================================================== -->
  <!-- =====      Imports                                               ===== -->
  <!-- ====================================================================== -->
  <xsd:include schemaLocation="StoreEBO.xsd"/>
  <!-- ====================================================================== -->
  <!-- =====      Store EBM                                  ===== -->
  <!-- ====================================================================== -->
  <xsd:element name="ProcessStoreEBM" type="ProcessStoreEBMType"/>
  <xsd:element name="ProcessStoreResponseEBM" type="ProcessStoreResponseEBMType"/>
  <xsd:element name="ProcessStoreResponseEBMList" type="ProcessStoreResponseEBMListType"/>
  <xsd:element name="SyncStoreEBM" type="SyncStoreEBMType"/>
  <xsd:element name="SyncStoreResponseEBM" type="SyncStoreResponseEBMType"/>
  <xsd:element name="QueryStoreEBM" type="QueryStoreEBMType"/>
  <xsd:element name="QueryStoreResponseEBM" type="QueryStoreResponseEBMType"/>
  <xsd:element name="QueryStoreResponseEBMList" type="QueryStoreResponseEBMListType"/>
  <xsd:element name="StoreResponseAcknowledgeEBM" type="ResponseAcknowledgeEBMType"/>

  <xsd:complexType name="ProcessStoreEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProcessStore" type="StoreEBOType" maxOccurs="unbounded"/>
            <xsd:element name="StoreRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
          </xsd:sequence>
          <xsd:attribute name="action" type="com:ActionType"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ProcessStoreResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element name="ProcessStoreReference" type="StoreEBOType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ProcessStoreRecordHistory" type="com:EntityHistoryReferenceType"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="ProcessStoreResponseEBMListType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element name="ProcessStoreReference" type="StoreEBOType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="ProcessStoreRecordHistory" type="com:EntityHistoryReferenceType"/>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="SyncStoreEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SyncStore" type="StoreEBOType" maxOccurs="unbounded"/>
            <xsd:element name="StoreRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
          </xsd:sequence>
          <xsd:attribute name="action" type="com:ActionType"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="SyncStoreResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element name="SyncStoreRecordHistory" type="com:EntityHistoryReferenceType"/>
    </xsd:sequence>
  </xsd:complexType>
  
  <xsd:complexType name="QueryStoreEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="QueryStore" type="StoreEBOType"/>
            <xsd:element name="StoreRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
          </xsd:sequence>
          <xsd:attribute name="action" type="com:ActionType"/>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QueryStoreResponseEBMType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element name="QueryStoreReference" type="StoreEBOType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="SyncStoreRecordHistory" type="com:EntityHistoryReferenceType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="QueryStoreResponseEBMListType">
    <xsd:sequence>
      <xsd:element name="Response" type="com:ResponseType"/>
      <xsd:element name="QueryStoreReference" type="StoreEBOType" minOccurs="0" maxOccurs="unbounded"/>
      <xsd:element name="SyncStoreRecordHistory" type="com:EntityHistoryReferenceType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="ResponseAcknowledgeEBMType">
    <xsd:sequence>
      <xsd:element name="Acknowledge" type="com:ResponseAcknowledgeType"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>