Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/WFAcctLoan/AcctLoanAdd/AcctLoanAdd_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAdd_V1.0"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:appoptAcctLoanAdd="http://xmlns.banesco.com/appopt/WFAcctLoanAppSvc/AcctLoanAdd_V1.0"
           xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
    <xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0"
               schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
    <xs:complexType name="AcctMember">
        <xs:sequence>
            <xs:element name="PartyKey" type="appoptAcctLoanAdd:PartyKey" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PartyRole" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Agreement">
        <xs:sequence>
            <xs:element name="AgreementType" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CreatedDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The date the agreement was created.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="DueDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Due Date</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FulfillmentDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PayInAcctRef">
        <xs:sequence>
            <xs:element name="Activity" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>ACTIVIDAD QUE EJECUTA EL CARGO A CUENTA</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PayInAcct" type="appoptAcctLoanAdd:AcctKey" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Term">
        <xs:annotation>
            <xs:documentation>Account Term.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ProposedTerm" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Proposed Term.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcctLoanAddRq_Type">
        <xs:sequence>
            <xs:element name="AcctLoan" type="appoptAcctLoanAdd:Acct" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="TaxData">
        <xs:annotation>
            <xs:documentation>Supports attributes with respect to taxes paid by an FI on behalf of the tax responsible party of an account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="TaxCode" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TaxCondition" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="TaxType" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcctKey">
        <xs:annotation>
            <xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AcctReference" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="AlternateId" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="IntRateData">
        <xs:annotation>
            <xs:documentation>Interest Rate Data.

Interest rate information for debit and credit accounts.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AccrualRule" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="IntDayBasis" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="IntRate" type="xs:decimal" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Porcentaje de interés.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="IntRateType" type="appoptAcctLoanAdd:EnumIntRateType" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditRegularPmt">
        <xs:sequence>
            <xs:element name="BillType" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Freq" type="appoptcommon:Freq" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PmtClass" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Clase de pago.

Ej: Capitalize, Due, Maintain, Pay.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PmtType" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Tipo de pagos.

Ej: Pago de capital, Pago de capital e intereses etc.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PmtDetail" type="appoptAcctLoanAdd:PmtDetail" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="PmtTargetDetail" type="appoptAcctLoanAdd:PmtTargetDetail" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditAcctData">
        <xs:annotation>
            <xs:documentation>Credit Account Data.

Used to maintain and retrieve data specific to credit products. Could have one register per CurrencyCode</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AuthType" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Tipo de Mantenimiento (Autonomía)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="BillsCombined" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CodeDestination" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Destino de fondos</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CollOfficer" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Código Empresa de Cobros</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CountryDestination" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Pais de riesgo</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CreditDestination" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Destino de los fondos</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FundsDestination" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Local o Extranjero</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="FundsPurpose" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Uso de los fondos (Actividad)</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PrefRateExpDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Fecha de vencimiento de la tasa preferencial</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="PurposeDesc" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="RefinanceDate" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Fecha refinanciamiento</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RefinanceNum" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Número préstamo refinanciado</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ResDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Fecha de restructuración</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ResNum" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Número préstamo reestructurado</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RevResDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Fecha de revisión reestructuración</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SourceSales" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Fuente de información de ventas</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="StatusAdmin" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Estado Administrativo</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="WritingType" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ActivityCharge" type="appoptAcctLoanAdd:ActivityCharge" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="Charge" type="appoptAcctLoanAdd:Charge" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="CreditRegularPmt" type="appoptAcctLoanAdd:CreditRegularPmt" minOccurs="0"
                        maxOccurs="unbounded"/>
            <xs:element name="Term" type="appoptAcctLoanAdd:Term" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SettleInstruction" type="appoptAcctLoanAdd:SettleInstruction" minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="CreditAcctPmtInfo" type="appoptAcctLoanAdd:CreditAcctPmtInfo" minOccurs="0"
                        maxOccurs="1"/>
            <xs:element name="Agreement" type="appoptAcctLoanAdd:Agreement" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="AcctLoanAddRq" type="appoptAcctLoanAdd:AcctLoanAddRq_Type"/>
    <xs:complexType name="PartyKey">
        <xs:annotation>
            <xs:documentation>Customer ID´s</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="PartyId" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Código del cliente asignado T24</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="CreditAcctPmtInfo">
        <xs:sequence>
            <xs:element name="PmtMethod" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Forma de pago</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EnumIntRateType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="FECI1"/>
            <xs:enumeration value="PENALTYINT1"/>
            <xs:enumeration value="PRINCIPALINT"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:element name="AcctLoanAddRs" type="appoptAcctLoanAdd:AcctLoanAddRs_Type"/>
    <xs:complexType name="AcctLoanAddRs_Type">
        <xs:sequence>
            <xs:element name="AcctLoan" minOccurs="0" maxOccurs="1">
                <xs:complexType>
                    <xs:annotation>
                        <xs:documentation>Account Information Aggregate. </xs:documentation>
                    </xs:annotation>
                    <xs:sequence>
                        <xs:element name="AcctKey" type="appoptAcctLoanAdd:AcctKey" minOccurs="0" maxOccurs="1"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Acct">
        <xs:annotation>
            <xs:documentation>Account Information Aggregate. </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="AcctSubtype" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Account Subtype.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AutonomyCode" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Autonomias</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="AutonomyUser" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Usuario que registro la autonomia</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClosedDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Closed Date.

Indicates the date the account closed.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ClubBanesco" type="xs:boolean" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Indica si el producto pertenece al Club Banesco</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>The CurrencyCode is used to express Currency codes and the authoritative source that defines them.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="SubCategory" type="xs:string" minOccurs="0" maxOccurs="1">
              <xs:annotation>
		<xs:documentation>Sub producto</xs:documentation>
              </xs:annotation>
            </xs:element>
            <xs:element name="Variation" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="AcctOpeningInfo" type="appoptAcctLoanAdd:AcctOpeningInfo" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CreditAcctData" type="appoptAcctLoanAdd:CreditAcctData" minOccurs="0" maxOccurs="1"/>
            <xs:element name="IntRateData" type="appoptAcctLoanAdd:IntRateData" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="TaxData" type="appoptAcctLoanAdd:TaxData" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="AcctMember" type="appoptAcctLoanAdd:AcctMember" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="AcctOpeningInfo">
        <xs:sequence>
            <xs:element name="AgentArrId" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="AgentId" type="appoptAcctLoanAdd:PartyKey" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>AGENT.ID</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="InitialAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Initial Amount.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="OpenDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Opening Date.

Opening date of object, usage depends on context.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="RqReason" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SaleOfficer" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Canal de venta</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="Charge">
        <xs:annotation>
            <xs:documentation>Charge Type

Values:
DISBURFEEAMORT
ALINSURANCEFEE
ALINSURANPROV
ALLEGALFEE
LIFEINSUSURCHR
ALREPAYMENTFEE
TFISCAL
</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="ChargeClass" type="xs:string" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Clasificación del cargo.

- FIXED
- CALCULATE</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="ChargeType" type="appoptAcctLoanAdd:EnumChargeType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="CurAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
                <xs:annotation>
                    <xs:documentation>Charge Amount</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:simpleType name="EnumChargeType">
        <xs:restriction base="xs:string">
            <xs:enumeration value="DISBURFEEAMORT"/>
            <xs:enumeration value="ALINSURANCEFEE"/>
            <xs:enumeration value="ALINSURANPROV"/>
            <xs:enumeration value="ALLEGALFEE"/>
            <xs:enumeration value="LIFEINSUSURCHR"/>
            <xs:enumeration value="ALREPAYMENTFEE"/>
            <xs:enumeration value="TFISCAL"/>
        </xs:restriction>
    </xs:simpleType>
    <xs:complexType name="PmtDetail">
        <xs:sequence>
            <xs:element name="Freq" type="appoptcommon:Freq" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PmtTarget" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PmtTargetDetail">
        <xs:sequence>
            <xs:element name="ActualAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Percentage" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="StartDate" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ActivityCharge">
        <xs:sequence>
            <xs:element name="ActivityId" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ActivityChargeDetail" type="appoptAcctLoanAdd:ActivityChargeDetail" minOccurs="0"
                        maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="ActivityChargeDetail">
        <xs:sequence>
            <xs:element name="ActivityMethod" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ChargeAutoSettle" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Period" type="xs:string" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="SettleInstruction">
        <xs:sequence>
            <xs:element name="ExeAutoPay" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="FromDay" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="ToDay" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PayIn" type="appoptAcctLoanAdd:PayIn" minOccurs="0" maxOccurs="unbounded"/>
            <xs:element name="PayOut" type="appoptAcctLoanAdd:PayOut" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PayIn">
        <xs:sequence>
            <xs:element name="ACDBRule" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PmtType" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SettleActivity" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Settlement" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PayInAcctRef" type="appoptAcctLoanAdd:PayInAcctRef" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="PayOut">
        <xs:sequence>
            <xs:element name="Activity" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="PayOutAcct" type="appoptAcctLoanAdd:AcctKey" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Property" type="xs:string" minOccurs="0" maxOccurs="1"/>
            <xs:element name="SettleActivity" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1"/>
            <xs:element name="Settlement" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>
