BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/Utilidades/CrearBitacoraReactivarOperacion/V1/Schema/CrearBitacoraReactivarOperacionBO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/CrearBitacoraReactivarOperacionBO"
            targetNamespace="http://www.bcie.org/CrearBitacoraReactivarOperacionBO" elementFormDefault="qualified">
  <xsd:complexType name="BitacoraReactivarOperacion">
    <xsd:sequence>
      <xsd:element name="id" type="xsd:long"/>
      <xsd:element name="idOperacionProceso" type="xsd:long"/>
      <xsd:element name="idOperacion" type="xsd:long"/>
      <xsd:element name="nombreOperacion" type="xsd:string"/>
      <xsd:element name="idProceso" type="xsd:long"/>
      <xsd:element name="responsableOperacion" type="xsd:string"/>
      <xsd:element name="ban_reactivado" type="xsd:boolean"/>
      <xsd:element name="fecha_registro" type="xsd:dateTime"/>
      <xsd:element name="fecha_reactivacion" type="xsd:dateTime"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
