BCIE_fenix/preprod/ADF-BPM/bpm/PC03Analisis/PC03AnalisisProcessUITest/SOA/Schemas/Analisis/V1/AnalisisPayload.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:analisis="http://xmlns.bcie.org/ObjetoProceso/Analisis/Payload/V1"
           xmlns:header="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
           xmlns:parameter="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
           xmlns:notificacion="http://xmlns.bcie.org/ObjetoProceso/Comun/Notificacion/V1"
           targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Analisis/Payload/V1" 
           elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">
           
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1"
             schemaLocation="../../Comun/Header/V1/HeaderOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1"
             schemaLocation="../../Comun/Parameter/V1/ParameterOPN.xsd"/>
  <xs:import namespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Notificacion/V1"
             schemaLocation="../../Comun/Notificacion/V1/NotificacionOPN.xsd"/>
             
  <xs:element name="AnalisisPayload" type="analisis:AnalisisPayloadType">
    <xs:annotation>
      <xs:documentation>Elemento que define el payload para el proceso core de Analisis</xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:element name="Notificacion" type="notificacion:NotificacionType"/>
  <xs:element name="EquipoTrabajo" type="analisis:EquipoTrabajoAnalisisType"/>
  
  <xs:complexType name="AnalisisPayloadType">
    <xs:sequence>
      <xs:element name="Header" type="header:Header"/>
      <xs:element name="Configuration" type="analisis:ConfigGatewaysType" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ValorSCR" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="CodigoSCR" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element ref="parameter:ParameterType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ConfigGatewaysType">
    <xs:sequence>
      <xs:element name="retornoAprobacion" type="xs:boolean"/>
      <xs:element name="tieneRiesgoCredito" type="xs:boolean"/>
      <xs:element name="requireOpinionJuridica" type="xs:boolean"/>
      <xs:element name="requireSCR" type="xs:boolean"/>
      <xs:element name="esInstitucionFinanciera" type="xs:boolean"/>
      <xs:element name="quienSolicitoAjustes" type="xs:string" minOccurs="0"/>
      <xs:element name="solicitaMasInfoAnalistaCredito" type="xs:boolean" minOccurs="0"/>
      <xs:element name="solicitaMasInfoAbogado" type="xs:boolean" minOccurs="0"/>
      <xs:element name="solicitaMasInfoEjecutivoAreaTecnica" type="xs:boolean" minOccurs="0"/>
      <xs:element name="quienSolicitoRevisarProyecto" type="xs:string" minOccurs="0"/>
      <xs:element name="requiereAjustesDeEjecutivoTecnico" type="xs:boolean" minOccurs="0"/>
      <xs:element name="quienCancelaOperacion" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="EquipoTrabajoAnalisisType">
    <xs:sequence>
      <xs:element name="gerentePais" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="coordinadorSeguimiento" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="analistaSeguimiento" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="analistaCredito" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="responsableOperacion" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="abogado" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ejecutivoAreaTecnica" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="jefeAreaTecnica" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
