BCIE_fenix/preprod/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/ActualizarComision/XSD/ActualizarComision_DB_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/ActualizarComision_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/ActualizarComision_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ComisionCollection" type="ComisionCollection"/>
   <xs:complexType name="ComisionCollection">
      <xs:sequence>
         <xs:element name="Comision" type="Comision" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Comision">
      <xs:sequence>
         <xs:element name="id" type="xs:long"/>
         <xs:element name="idOperacion" type="xs:long" minOccurs="0"/>
         <xs:element name="descripcion" type="string1024" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaComision" type="xs:int" minOccurs="0"/>
         <xs:element name="idTcaMoneda" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="montoComision" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaMontoBase" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="montoBase" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="porcentajeSobreMontoBase" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="fechaValor" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="fechaVencimiento" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="fechaInicioCapital" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="fechaInicioComision" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaTipoFrecuencia" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="frecuenciaPago" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaFondo" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="comisionCompartida" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaEstadoTcc" type="xs:int" minOccurs="0"/>
         <xs:element name="banSugerida" type="xs:int" minOccurs="0"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
         <xs:element name="codigoContrato" type="string64" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaTipoTasa" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaBaseCalculo" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="codigoDesembolso" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="nombre" type="string256" minOccurs="0" nillable="true"/>
         <xs:element name="numeroTesoreria" type="string64" minOccurs="0" nillable="true"/>
         <xs:element name="responsableComision" type="string32" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaSubEstadoTcc" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="fechaEnmienda" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="idTcaMomentoCobro" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="idComisionEnmendada" type="Comision" minOccurs="0" nillable="true"/>
         <xs:element name="comisionCollection" minOccurs="0">
            <xs:complexType>
               <xs:sequence>
                  <xs:element name="Comision" type="Comision" minOccurs="0" maxOccurs="unbounded"/>
               </xs:sequence>
            </xs:complexType>
         </xs:element>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string1024">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1024"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string64">
      <xs:restriction base="xs:string">
         <xs:maxLength value="64"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string256">
      <xs:restriction base="xs:string">
         <xs:maxLength value="256"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string32">
      <xs:restriction base="xs:string">
         <xs:maxLength value="32"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>