AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/DifferentiatorApp/DifferentiatorService/Resources/DifferentiatorRMS_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/DifferentiatorRMS" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/DifferentiatorRMS" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="XxSoaDiffVwCollection" type="XxSoaDiffVwCollection"/>
   <xs:complexType name="XxSoaDiffVwCollection">
      <xs:sequence>
         <xs:element name="XxSoaDiffVw" type="XxSoaDiffVw" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="XxSoaDiffVw">
      <xs:sequence>
         <xs:element name="diffGroupId" type="xs:decimal" nillable="true"/>
         <xs:element name="diffGroupDesc" type="string120" minOccurs="0"/>
         <xs:element name="diffType" type="string6" minOccurs="0"/>
         <xs:element name="diffId" type="xs:decimal" nillable="true"/>
         <xs:element name="diffDesc" type="string120" minOccurs="0"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="DifferentiatorRMSSelect_dateInputParameters" type="DifferentiatorRMSSelect_date"/>
   <xs:complexType name="DifferentiatorRMSSelect_date">
      <xs:sequence>
         <xs:element name="date" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string120">
      <xs:restriction base="xs:string">
         <xs:maxLength value="120"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string6">
      <xs:restriction base="xs:string">
         <xs:maxLength value="6"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>