BCIE_fenix/preprod/ADF-BPM/bpm/PA03AdministracionCondiciones/PA03AdministracionCondicionesProcess/SOA/businessCatalog/CondicionesType/Tareas.xsd

<?xml version="1.0" encoding="UTF-8"?>
<?bpmo version="12.1.3.0.0.00.00" build="02.10" fullName="CondicionesType.Tareas" modifiers="[public]"?>
<!--########################################################################################-->
<!--####                                                                                ####-->
<!--####          THIS IS AN AUTO GENERATED FILE. PLEASE DO NOT MANUALLY MODIFY         ####-->
<!--#### CHANGES TO THIS FILE MAY PRODUCE UNEXPECTED BEHAVIOR AND WOULD BE OVERWRITTEN  ####-->
<!--####                                                                                ####-->
<!--########################################################################################-->
<xs:schema targetNamespace="http://xmlns.oracle.com/bpm/bpmobject/CondicionesType/Tareas" elementFormDefault="qualified" xmlns="http://xmlns.oracle.com/bpm/bpmobject/CondicionesType/Tareas"  xmlns:xs="http://www.w3.org/2001/XMLSchema"  xmlns:bpmo="http://xmlns.oracle.com/bpm/bpmobject/" >
    <xs:complexType name="TareasType">
        <xs:sequence>
            <xs:element name="id" nillable="true" type="xs:int"/>
            <xs:element name="idOperacion" nillable="true" type="xs:int"/>
            <xs:element name="idProceso" nillable="true" type="xs:int"/>
            <xs:element name="nombreProceso" nillable="true" type="xs:string"/>
            <xs:element name="idTarea" nillable="true" type="xs:int"/>
            <xs:element name="nombreTarea" nillable="true" type="xs:string"/>
            <xs:element name="usuario" nillable="true" type="xs:string"/>
            <xs:element name="nombreUsuario" nillable="true" type="xs:string"/>
            <xs:element name="fechaRegistro" nillable="true" type="xs:dateTime"/>
            <xs:element name="descripcionOperacion" nillable="true" type="xs:string"/>
            <xs:element name="codigoExterno" nillable="true" type="xs:string"/>
            <xs:element name="instancia" nillable="true" type="xs:string"/>
            <xs:element name="instanciaId" nillable="true" type="xs:int"/>
        </xs:sequence>
    </xs:complexType>
    <xs:element name="Tareas" type="TareasType"/>
</xs:schema>
