BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/Comun/Cliente/V1/ClienteOPN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Cliente/V1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           xmlns:cte="http://xmlns.bcie.org/ObjetoProceso/Comun/Cliente/V1"
           xmlns:cat="http://www.bcie.org/CatalogoBO"
           elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">

  <xs:import namespace="http://www.bcie.org/CatalogoBO"
             schemaLocation="../../../../../ComponentesComunes/Common/V1/Schema/CatalogoBO.xsd"/>

  <xs:complexType name="Cliente">
    <xs:annotation>
      <xs:documentation>Elemento que contiene la información basica del Cliente para los procesos BPM.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdCliente" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdFlexCube" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="RazonSocial" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Abreviatura" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdSector" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Sector" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdPais" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Pais" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdOficina" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Oficina" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ResponsableCliente" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="bicCode"  type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="direccion" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="ClienteType">
    <xs:annotation>
      <xs:documentation>Elemento que contiene la información del Cliente para su proceso de aprobacion BPM.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdCliente" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdFlexCube" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="RazonSocial" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Abreviatura" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdTipoPersona" type="cat:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdTipoCliente" type="cat:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdSector" type="cat:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdTipoInstitucion" type="cat:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdPais" type="cat:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdGrupoEconomico" type="cat:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xs:element name="TipoIdentificacion" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="NumeroIdentificacion" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="IdOficina" type="cat:Catalogo" minOccurs="0" maxOccurs="1"/>
      <xs:element name="FechaRegistro" type="xs:date" minOccurs="0" maxOccurs="1"/>
      <xs:element name="FechaAprobacion" type="xs:date" minOccurs="0" maxOccurs="1"/>
      <xs:element name="ResponsableCliente" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Comentarios" type="cte:ComentarioType" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="AutorizoCliente" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Estatus" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="FechaBaja" type="xs:date" minOccurs="0" maxOccurs="1"/>
      <xs:element name="DiaPago" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Contactos" type="cte:ContactoType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ComentarioType">
    <xs:sequence>
      <xs:element name="IdComentario" type="xs:int" minOccurs="0" maxOccurs="1"/>
      <xs:element name="LoginUsuario" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Nombreusuario" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Comentario" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="FechaRegistro" type="xs:dateTime" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ContactoType">
    <xs:sequence>
      <xs:element name="IdContacto" type="xs:int" minOccurs="1" maxOccurs="1"/>
      <xs:element name="Nombre" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Correo" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Cargo" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Telefono" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="FechaRegistro" type="xs:date" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
