AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/ASNIN/ASNINEBO.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/ASNIN" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/ASNIN" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <xsd:import namespace="http://www.agarcia.mx/EnterpriseObjects/Common" schemaLocation="../../Common/CommonComponents.xsd"/>
  <xsd:complexType name="ASNINType">
    <xsd:sequence>
      <xsd:element name="codigoASN" type="com:IdentificationType"/>
      <xsd:element name="TipoASN" type="com:StringType"/>
      <xsd:element name="fechaASN" type="com:DateTimeType"/>
      <xsd:element name="fechaEnvio" type="com:DateTimeType"/>
      <xsd:element name="TotalPiezasOC" type="com:NumericType"/>
      <xsd:element name="FechaCancelacionOC" type="com:DateTimeType"/>
      <xsd:element name="OrdenCompra" type="com:IdentificationType"/>
      <xsd:element name="Factura" type="com:IdentificationType"/>
      <xsd:element name="Transferencia" type="com:IdentificationType"/>
      <xsd:element name="Proveedor" type="com:IdentificationType"/>
      <xsd:element name="Departamento" type="com:IdentificationType"/>
      <xsd:element name="LocalDestinoOC" type="com:NumericType"/>
      <xsd:element name="SemanaEntrega" type="com:NumericType"/>
      <xsd:element name="PorcentajeEntrega" type="com:NumericType"/>
      <xsd:element name="DetalleASN" maxOccurs="unbounded">
      <xsd:complexType>
      <xsd:sequence>
      <xsd:element name="LPN" type="com:IdentificationType"/>
      <xsd:element name="Transferencia" type="com:IdentificationType"/>
      <xsd:element name="NumTotalCajas" type="com:NumericType"/>
      <xsd:element name="NumCaja" type="com:NumericType"/>
      <xsd:element name="DestinoFinal" type="com:NumericType"/>
      <xsd:element name="SemanaEntrega" type="com:NumericType"/>
      <xsd:element name="TipoCaja" type="com:StringType"/>
      <xsd:element name="DetalleCaja" maxOccurs="unbounded">
      <xsd:complexType>
      <xsd:sequence>
      <xsd:element name="Item" type="com:IdentificationType"/>
      <xsd:element name="Style" type="com:IdentificationType"/>
      <xsd:element name="CantidasPiezasCaja" type="com:NumericType"/>
      <xsd:element name="Prepack" type="com:NumericType"/>
      <xsd:element name="Precio" type="com:NumericType"/>
      <xsd:element name="Costo" type="com:NumericType"/>
      </xsd:sequence>
      </xsd:complexType>
      </xsd:element>
      </xsd:sequence>
      </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>