AG_2019/OSB/OSB_DEV_IMPL_AG/OSB_DEV_AG_190221/MetaData/Components/EnterpriseObjectLibrary/EBO/ASNIN/ASNINEBM.xsd

<xsd:schema targetNamespace="http://www.agarcia.mx/EnterpriseObjects/ASNIN" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.agarcia.mx/EnterpriseObjects/ASNIN" xmlns:com="http://www.agarcia.mx/EnterpriseObjects/Common">
  <xsd:include schemaLocation="ASNINEBO.xsd"/>

<xsd:element name="ProcessASNINEBM" type="ProcessASNINEBMType"/>
<xsd:element name="ProcessResponseASNINEBM" type="ProcessASNINResponseEBMType"/>
  <xsd:complexType name="ProcessASNINEBMType">
    <xsd:sequence>
      <xsd:element name="Header" type="com:HeaderType"/>
      <xsd:element name="DataArea">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="ProcessASNIN" type="ASNINType" maxOccurs="unbounded"/>
            <xsd:element name="ASNINRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:sequence>
  </xsd:complexType>

  <xsd:complexType name="ProcessASNINResponseEBMType">
    <xsd:sequence>
      <xsd:element name="ResponseASNIN" type="com:ResponseType"/>
      <xsd:element name="ProcessASNINReference" type="com:IdentificationType" minOccurs="0"/>
      <xsd:element name="ASNINRecordHistory" type="com:EntityHistoryReferenceType" minOccurs="0"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>