BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/CANALES/DetalleVotacion/ConsultarVotosEmitidos/XSD/ConsultarVotosEmitidos_JSON.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/ConsultarVotosEmitidos" targetNamespace="http://www.bcie.org/ConsultarVotosEmitidos" elementFormDefault="qualified" xmlns:nxsd="http://xmlns.oracle.com/pcbpel/nxsd" nxsd:version="JSON" nxsd:encoding="US-ASCII">
   <xsd:element name="ConsultarVotosEmitidos">
      <xsd:complexType>
         <xsd:sequence>
            <xsd:element name="emiteVoto" type="xsd:integer"/>
            <xsd:element name="emiteComentario" type="xsd:integer"/>
            <xsd:element name="detalleVotosEmitidos">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="listaAcumuladoVotos" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="CantidadVotos" type="xsd:integer"/>
                              <xsd:element name="descripcionDecision" type="xsd:string"/>
                              <xsd:element name="tipoDecision" type="xsd:integer"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="listaComentarios" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="idSolicitudAprobacion" type="xsd:integer"/>
                              <xsd:element name="idOperacion" type="xsd:integer"/>
                              <xsd:element name="fechaHora" type="xsd:string"/>
                              <xsd:element name="idComentario" type="xsd:string"/>
                              <xsd:element name="comentario" type="xsd:string"/>
                              <xsd:element name="nombreUsuario" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                     <xsd:element name="listaComentariosVotacion" maxOccurs="unbounded">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="idTipoDecision" type="xsd:integer"/>
                              <xsd:element name="descripcion" type="xsd:string"/>
                              <xsd:element name="fechaHora" type="xsd:string"/>
                              <xsd:element name="comentarioVotacion" type="xsd:string"/>
                              <xsd:element name="nombreUsuario" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
            <xsd:element name="Result">
               <xsd:complexType>
                  <xsd:sequence>
                     <xsd:element name="result" type="xsd:string"/>
                     <xsd:element name="message" type="xsd:string"/>
                     <xsd:element name="error">
                        <xsd:complexType>
                           <xsd:sequence>
                              <xsd:element name="errorCode" type="xsd:string"/>
                              <xsd:element name="errorDescription" type="xsd:string"/>
                              <xsd:element name="errorType" type="xsd:string"/>
                           </xsd:sequence>
                        </xsd:complexType>
                     </xsd:element>
                  </xsd:sequence>
               </xsd:complexType>
            </xsd:element>
         </xsd:sequence>
      </xsd:complexType>
   </xsd:element>
<xsd:annotation xmlns="">
      <xsd:appinfo>NXSDSAMPLE=</xsd:appinfo>
      <xsd:appinfo>USEHEADER=false</xsd:appinfo>
   </xsd:annotation>
</xsd:schema>