BCIE_fenix/dev/ADF-BPM/mds/apps/Resources/ComponentesComunes/Utilidades/PublicarJMS/V1/Schema/PublicarJMSMO.xsd

<?xml version="1.0" encoding="windows-1252" ?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.bcie.org/PublicarJMSMO"
            targetNamespace="http://www.bcie.org/PublicarJMSMO" elementFormDefault="qualified"
            xmlns:resBO="http://www.bcie.org/ResultBO"
            xmlns:comBO="http://www.bcie.org/CommonBO">
            
  <xsd:import schemaLocation="../../../../Common/V1/Schema/ResultBO.xsd" namespace="http://www.bcie.org/ResultBO"/>
   <xsd:import schemaLocation="../../../../Common/V1/Schema/CommonBO.xsd" namespace="http://www.bcie.org/CommonBO"/>
  <xsd:element name="PublicarJMSRequest" type="PublicarJMSRequestType"/>
  <xsd:element name="PublicarJMSResponse" type="PublicarJMSResponseType"/>
  <xsd:complexType name="PublicarJMSRequestType">
    <xsd:sequence>
      <xsd:element name="JMS" type="comBO:JMSType"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="PublicarJMSResponseType">
    <xsd:sequence>
      <xsd:element name="Resultado" type="resBO:Resultado"/>
    </xsd:sequence>
  </xsd:complexType>
</xsd:schema>
