BCIE_fenix/qa/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioDesembolso/Desembolso/V1/Schema/DesembolsoBO.xsd

<!-- edited with XMLSpy v2015 sp1 (x64) (http://www.altova.com) by Cesar Varela (Television Internacional) -->
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.bcie.org/DesembolsoBO" xmlns:catBO="http://www.bcie.org/CatalogoBO" xmlns:coBO="http://www.bcie.org/ComisionBO" xmlns:comBO="http://www.bcie.org/CommonBO" xmlns:desBO="http://www.bcie.org/DesembolsoBO" xmlns:hceBO="http://www.bcie.org/HerramientaCEBO" xmlns:linCreBO="http://www.bcie.org/LineaCreditoBO" xmlns:mtccBO="http://www.bcie.org/MatrizTCCBO" xmlns:operBO="http://www.bcie.org/OperacionBO" xmlns:prodBO="http://www.bcie.org/ProductoBO" xmlns:regBO="http://www.bcie.org/ReglaBO" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
        <xsd:import namespace="http://www.bcie.org/CatalogoBO" schemaLocation="../../../../Common/V1/Schema/CatalogoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ComisionBO" schemaLocation="../../../../DominioLineaCredito/Comision/V1/Schema/ComisionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/CommonBO" schemaLocation="../../../../Common/V1/Schema/CommonBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/HerramientaCEBO" schemaLocation="../../../../DominioHerramientaCE/HerramientaCE/V1/Schema/HerramientaCEBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/LineaCreditoBO" schemaLocation="../../../../DominioLineaCredito/LineaCredito/V1/Schema/LineaCreditoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/MatrizTCCBO" schemaLocation="../../../../DominioContrato/MatrizTCC/V1/Schema/MatrizTCCBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/OperacionBO" schemaLocation="../../../../DominioOperacion/Operacion/V1/Schema/OperacionBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ProductoBO" schemaLocation="../../../../DominioProducto/Producto/V1/Schema/ProductoBO.xsd"/>
	<xsd:import namespace="http://www.bcie.org/ReglaBO" schemaLocation="../../../../Common/V1/Schema/ReglaBO.xsd"/>
	<xsd:complexType name="CalendarioComplejoType">
		<xsd:sequence>
			<xsd:element name="Frecuencia" type="desBO:FrecuenciaType"/>
			<xsd:element name="Monto" type="comBO:MontoType"/>
			<xsd:element name="NumeroCuotas" type="xsd:int"/>
			<xsd:element name="TipoPlan" type="catBO:Catalogo"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="CargoType">
		<xsd:complexContent>
			<xsd:extension base="catBO:Catalogo">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="SoloLectura" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="Status" type="xsd:boolean"/>
					<xsd:element minOccurs="0" name="TCC" type="mtccBO:TCC"/>
					<xsd:element minOccurs="1" name="FechaRegistro" type="xsd:date"/>
					<xsd:element name="Monto" type="comBO:MontoType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="ComponenteType">
		<xsd:complexContent>
			<xsd:extension base="catBO:Catalogo">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="Plazo" type="comBO:PlazoType"/>
					<xsd:element name="esPrincipal" type="xsd:boolean"/>
					<xsd:element name="TipoComponente" type="catBO:Catalogo"/>
					<xsd:element name="TipoTasa" type="catBO:Catalogo"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="condicionesFinancieras">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="calendarioComplejo" type="desBO:CalendarioComplejoType"/>
			<xsd:element name="baseCalculo" type="catBO:Catalogo"/>
			<xsd:element name="fondo" type="desBO:FondoType"/>
			<xsd:element name="idCondicionFinanciera" type="desBO:idDesembolso"/>
			<xsd:element name="interes">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="desBO:FrecuenciaType">
							<xsd:sequence>
								<xsd:element minOccurs="0" name="NumeroCuotas" nillable="true" type="xsd:int"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="moverEntreMeses" type="xsd:boolean"/>
			<xsd:element name="periodoGracia" type="desBO:FrecuenciaType"/>
			<xsd:element name="principal">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="desBO:FrecuenciaType">
							<xsd:sequence>
								<xsd:element minOccurs="0" name="NumeroCuotas" nillable="true" type="xsd:int"/>
								<xsd:element name="fechaVencimiento" type="xsd:date"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="tasa" type="desBO:tasaType"/>
			<xsd:element name="tipoCalendario" type="catBO:Catalogo"/>
			<xsd:element name="tratamientoDiasFeriados" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ContratoDesembolso">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Cargo" type="desBO:CargoType"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Comision" type="coBO:Comision"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="TransferenciaRecursos" type="desBO:TransferenciaRecursosType"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Transferencia" type="desBO:Transferencia"/>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Utilizacion" type="linCreBO:Fuente"/>
			<xsd:element maxOccurs="unbounded" name="monto" type="comBO:MontoType"/>
			<xsd:element minOccurs="0" name="condicionesFinancieras" type="desBO:condicionesFinancieras"/>
			<xsd:element minOccurs="0" name="cuentaCliente" type="xsd:string"/>
			<xsd:element minOccurs="0" name="estatus" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="EstimadoDesembolso" type="desBO:EstimadoDesembolsoType"/>
			<xsd:element minOccurs="0" name="fechaAsignacion" type="xsd:date"/>
			<xsd:element minOccurs="0" name="fechaDisponibilidadFondos" type="xsd:date"/>
			<xsd:element minOccurs="0" name="fechaEfectiva" type="xsd:date"/>
			<xsd:element minOccurs="0" name="fechaEstimadaDesembolsar" type="xsd:date"/>
			<xsd:element minOccurs="0" name="fechaEstimadaDisponibilidad" type="xsd:date"/>
			<xsd:element minOccurs="0" name="fechaInicioProceso" type="xsd:date"/>
			<xsd:element minOccurs="0" name="fechaRegistro" type="xsd:date"/>
			<xsd:element minOccurs="0" name="fechaVencimiento" type="xsd:date"/>
			<xsd:element minOccurs="0" name="HerramientaCE" type="hceBO:HerramientaCEType"/>
			<xsd:element minOccurs="0" name="idClasificacionEstrategica" type="xsd:integer"/>
			<xsd:element minOccurs="0" name="idLinea" type="linCreBO:idLineaCredito"/>
			<xsd:element minOccurs="0" name="idNumeroContrato" type="xsd:long"/>
			<xsd:element minOccurs="0" name="modalidadFinan" type="catBO:Catalogo"/>
			<xsd:element minOccurs="0" name="origenTransferenciaCte" type="xsd:string"/>
			<xsd:element minOccurs="0" name="producto" type="desBO:ProductoDesembolsoType"/>
			<xsd:element minOccurs="0" name="programado" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="Programa" type="hceBO:ProgramaType"/>
			<xsd:element minOccurs="0" name="recursosExternos" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="referencia" type="xsd:string"/>
			<xsd:element minOccurs="0" name="TransferenciaFT05" type="desBO:TransferenciaFT05Type"/>
			<xsd:element minOccurs="0" name="usuario" type="xsd:string"/>
			<xsd:element name="estado" type="catBO:Catalogo"/>
			<xsd:group ref="desBO:DesembolsoIdentificador"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DetalleTransaccionBasicType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="Parameters" type="comBO:parameterType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="DetalleTransaccionType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="1" name="Parameters" type="comBO:parameterExtenderType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="EstimadoDesembolsoType">
		<xsd:sequence>
			<xsd:element name="Frecuencia" type="catBO:Catalogo"/>
			<xsd:element name="Plazo" type="xsd:int"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ExcepcionType">
		<xsd:complexContent>
			<xsd:extension base="regBO:ReglaBasicType">
				<xsd:sequence>
					<xsd:element name="enProcesoExcepcion" type="xsd:boolean"/>
					<xsd:element name="instanciaProceso" type="xsd:long"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="fijaType">
		<xsd:sequence>
			<xsd:element name="valor" type="xsd:decimal"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FlujoCaja">
		<xsd:sequence>
			<xsd:group ref="desBO:DesembolsoIdentificador"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="FondoType">
		<xsd:complexContent>
			<xsd:extension base="catBO:Catalogo">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Validador" type="catBO:Catalogo"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="FrecuenciaType">
		<xsd:sequence>
			<xsd:element name="FechaInicio" type="xsd:date"/>
			<xsd:element name="Frecuencia" type="comBO:PlazoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InformacionTransferencia">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="beneficiario" type="xsd:string"/>
			<xsd:element minOccurs="0" name="direccion" type="xsd:string"/>
			<xsd:element minOccurs="0" name="identificador" type="xsd:string"/>
			<xsd:element minOccurs="0" name="numeroCta" type="xsd:string"/>
			<xsd:element minOccurs="0" name="tipoOpcion" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="InteresType">
		<xsd:complexContent>
			<xsd:extension base="desBO:FrecuenciaType">
				<xsd:sequence>
					<xsd:element name="Tasa" type="desBO:tasaType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LimiteGlobalLineaFinanciera">
		<xsd:complexContent>
			<xsd:extension base="desBO:LimiteLineaFinancieraType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="ConcentradoPais" nillable="true" type="xsd:long"/>
					<xsd:element minOccurs="0" name="MonedasGrupo" type="xsd:string"/>
					<xsd:element name="LineasGrupo" type="xsd:string"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LimiteLineaFinancieraType">
		<xsd:sequence>
			<xsd:element name="Codigo" type="catBO:Catalogo"/>
			<xsd:element name="LineaFinanciera" type="desBO:LineaFinancieraType"/>
			<xsd:element name="Monto" type="comBO:MontoType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="LimitePlazoType">
		<xsd:complexContent>
			<xsd:extension base="comBO:PlazoType">
				<xsd:sequence>
					<xsd:element name="TipoLimite" type="catBO:Catalogo"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="LineaFinancieraType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="activo" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="codigo" type="xsd:string"/>
			<xsd:element minOccurs="0" name="descripcion" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListaContratoDesembolso">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="ContratoDesembolso" type="desBO:idDesembolso"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ListaSolicitudDesembolso">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="SolicitudDesembolso" type="desBO:idDesembolso"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="ProductoDesembolsoType">
		<xsd:complexContent>
			<xsd:extension base="prodBO:ProductoBasicType">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="Componente" type="desBO:ComponenteType"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="referenciaType">
		<xsd:complexContent>
			<xsd:extension base="catBO:Catalogo">
				<xsd:sequence>
					<xsd:element name="valor" type="xsd:decimal"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SaldoCarteraType">
		<xsd:complexContent>
			<xsd:extension base="linCreBO:TeenLineaCreditoType">
				<xsd:sequence>
					<xsd:group ref="desBO:DestinoGroup"/>
					<xsd:group ref="desBO:LineaFinancieraGroup"/>
					<xsd:group ref="desBO:MonedaGroup"/>
					<xsd:group ref="desBO:PaisesGroup"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SolicitudDesembolsoType">
		<xsd:complexContent>
			<xsd:extension base="desBO:SolicitudDesembolso">
				<xsd:sequence>
					<xsd:element maxOccurs="unbounded" minOccurs="0" name="ContratoDesembolso" type="desBO:ContratoDesembolso"/>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="SolicitudDesembolso">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="Excepcion" type="desBO:ExcepcionType"/>
			<xsd:element name="estado" type="catBO:Catalogo"/>
			<xsd:element name="estatus" type="xsd:boolean"/>
			<xsd:element name="fechaCreacion" type="xsd:date"/>
			<xsd:element name="fechaSolicitud" type="xsd:date"/>
			<xsd:element name="instanciaProceso" type="xsd:int"/>
			<xsd:element name="monto" type="comBO:MontoType"/>
			<xsd:element name="tipoMoneda" type="catBO:Catalogo"/>
			<xsd:element name="ValidacionAsignacion" type="xsd:boolean"/>
			<xsd:group ref="desBO:DesembolsoIdentificador"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="spreadType">
		<xsd:complexContent>
			<xsd:extension base="desBO:fijaType">
				<xsd:sequence>
					<xsd:element minOccurs="0" name="codigo" type="xsd:string"/>
					<xsd:element minOccurs="0" name="revision">
						<xsd:complexType>
							<xsd:complexContent>
								<xsd:extension base="desBO:FrecuenciaType">
									<xsd:sequence>
										<xsd:element minOccurs="0" name="NumeroCuotas" nillable="true" type="xsd:int"/>
									</xsd:sequence>
								</xsd:extension>
							</xsd:complexContent>
						</xsd:complexType>
					</xsd:element>
				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	<xsd:complexType name="tasaType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="spreadMora" type="desBO:spreadType"/>
			<xsd:element name="tipo" type="catBO:Catalogo"/>
			<xsd:group ref="desBO:tasaGroup"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransaccionDesembolsoType">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" minOccurs="0" name="TransaccionDetalle" type="desBO:TransaccionType"/>
			<xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransaccionType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="fechaRegistro" type="xsd:date"/>
			<xsd:element minOccurs="1" name="detalleTransaccion" type="desBO:DetalleTransaccionType"/>
			<xsd:element name="estatus" type="xsd:boolean"/>
			<xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
			<xsd:element name="id" type="xsd:long"/>
			<xsd:element name="operacion" type="xsd:string"/>
			<xsd:element name="plataforma" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransferenciaFT05Type">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="FechaEfectiva" type="xsd:date"/>
			<xsd:element name="idTransferenciaFT05" type="desBO:idDesembolso"/>
			<xsd:group ref="desBO:DesembolsoIdentificador"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="TransferenciaRecursosType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="estatus" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="fechaRegistro" type="xsd:date"/>
			<xsd:element minOccurs="0" name="idBanco" type="xsd:string"/>
			<xsd:element minOccurs="0" name="nombreBanco" type="xsd:string"/>
			<xsd:element minOccurs="0" name="nombreCuenta" type="xsd:string"/>
			<xsd:element minOccurs="0" name="numeroCuenta" type="xsd:string"/>
			<xsd:element name="fechaEfectiva" type="xsd:date"/>
			<xsd:element name="fecha" type="xsd:date"/>
			<xsd:element name="FormaTransferencia" type="catBO:Catalogo"/>
			<xsd:element name="idLineaPasiva" type="xsd:int"/>
			<xsd:element name="idTransferencia" type="desBO:idDesembolso"/>
			<xsd:element name="Monto" type="comBO:MontoType"/>
			<xsd:group ref="desBO:DesembolsoIdentificador"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="Transferencia">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Banco" type="desBO:InformacionTransferencia"/>
			<xsd:element minOccurs="0" name="Beneficiario" type="desBO:InformacionTransferencia"/>
			<xsd:element minOccurs="0" name="bhqTransferencia" type="xsd:string"/>
			<xsd:element minOccurs="0" name="esConsolidacionPadre" type="xsd:long"/>
			<xsd:element minOccurs="0" name="esConsolidada" type="xsd:boolean"/>
			<xsd:element minOccurs="0" name="estado" type="xsd:string"/>
			<xsd:element minOccurs="0" name="idBancoTransferencia" type="xsd:string"/>
			<xsd:element minOccurs="0" name="idConsolidacionPadre" type="xsd:long"/>
			<xsd:element minOccurs="0" name="Intermediario" type="desBO:InformacionTransferencia"/>
			<xsd:element minOccurs="0" name="nombreBanco" type="xsd:string"/>
			<xsd:element minOccurs="0" name="numeroCuenta" type="xsd:string"/>
			<xsd:element minOccurs="0" name="NumeroReserva" type="xsd:long"/>
			<xsd:element minOccurs="0" name="referenciaMensaje" type="xsd:string"/>
			<xsd:element name="fechaRegistro" type="xsd:date"/>
			<xsd:element name="FormaTransferencia" type="catBO:Catalogo"/>
			<xsd:element name="idOperacion" type="operBO:idOperacion"/>
			<xsd:element name="idTransferencia" type="desBO:idDesembolso"/>
			<xsd:element name="Monto" type="comBO:MontoType"/>
			<xsd:element name="nombreCuenta" type="xsd:string"/>
			<xsd:element name="tipoMensaje" type="xsd:string"/>
			<xsd:group ref="desBO:DesembolsoIdentificador"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:complexType name="variableType">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="limite" type="comBO:RangoType"/>
			<xsd:element minOccurs="0" name="revision">
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="desBO:FrecuenciaType">
							<xsd:sequence>
								<xsd:element minOccurs="0" name="NumeroCuotas" nillable="true" type="xsd:int"/>
							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="spread" type="desBO:spreadType"/>
			<xsd:element name="tasaReferencia" type="desBO:referenciaType"/>
		</xsd:sequence>
	</xsd:complexType>
	<xsd:group name="DesembolsoIdentificador">
		<xsd:sequence>
			<xsd:element maxOccurs="1" minOccurs="0" name="idFacturador">
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:maxLength value="20"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			<xsd:element name="idDesembolso" type="desBO:idDesembolso"/>
		</xsd:sequence>
	</xsd:group>
	<xsd:group name="DestinoGroup">
		<xsd:choice>
			<xsd:element name="ListaDestino" nillable="true"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="LineaFinancieraGroup">
		<xsd:choice>
			<xsd:element maxOccurs="unbounded" name="LineaFinanciera" nillable="true" type="desBO:LineaFinancieraType"/>
			<xsd:element name="ListaLineaFinanciera" nillable="true" type="xsd:string"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="MonedaGroup">
		<xsd:choice>
			<xsd:element name="ListaMoneda" nillable="true"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="PaisesGroup">
		<xsd:choice>
			<xsd:element name="ListaPaises" nillable="true"/>
		</xsd:choice>
	</xsd:group>
	<xsd:group name="tasaGroup">
		<xsd:choice>
			<xsd:element name="especial" type="desBO:fijaType"/>
			<xsd:element name="fija" type="desBO:fijaType"/>
			<xsd:element name="variable" type="desBO:variableType"/>
		</xsd:choice>
	</xsd:group>
	<xsd:simpleType name="idDesembolso">
		<xsd:restriction base="xsd:long">
			<xsd:minInclusive value="0"/>
			<xsd:totalDigits value="12"/>
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
