Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBPmt/BillersRulesInq/BillersRulesInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/BillersRulesInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptBillersRulesInq="http://xmlns.banesco.com/appopt/TCIBPmtAppSvc/BillersRulesInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="BillersRulesInqRq_Type">
		<xs:sequence>
			<xs:element name="Biller" type="appoptBillersRulesInq:Biller" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="BillersRulesInqRs_Type">
		<xs:sequence>
			<xs:element name="Biller" type="appoptBillersRulesInq:Biller" minOccurs="0" maxOccurs="1"/>
			<xs:element name="Field" type="appoptcommon:Field" minOccurs="0" maxOccurs="unbounded"/>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="BillersRulesInqRq" type="appoptBillersRulesInq:BillersRulesInqRq_Type"/>
	<xs:element name="BillersRulesInqRs" type="appoptBillersRulesInq:BillersRulesInqRs_Type"/>
	<xs:complexType name="Biller">
		<xs:annotation>
			<xs:documentation>Biller information.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BillerId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Biller Identifier</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
