BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/MDS/Resources/ComponentesComunes/DominioOperacion/SolicitudAprobacion/V1/Wsdl/SolicitudAprobacion.wsdl

<?xml version= '1.0' encoding= 'UTF-8' ?>
<wsdl:definitions name="SolicitudAprobacion" targetNamespace="http://xmlns.bcie.com/SolicitudAprobacionService"
                  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:solAproMO="http://www.bcie.org/SolicitudAprobacionMO"
                  xmlns:tns="http://xmlns.bcie.com/SolicitudAprobacionService" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
      <xsd:import namespace="http://www.bcie.org/SolicitudAprobacionMO"
                  schemaLocation="../../../SolicitudAprobacion/V1/Schema/SolicitudAprobacionMO.xsd"/>
    </xsd:schema>
  </wsdl:types>

  <!-- Create -->
  <wsdl:message name="requestCrearUsuarioReunionMessage">
    <wsdl:part name="request" element="solAproMO:CrearUsuarioReunionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseCrearUsuarioReunionMessage">
    <wsdl:part name="response" element="solAproMO:CrearUsuarioReunionResponse"/>
  </wsdl:message>

  <wsdl:message name="requestCrearSolicitudAprobacionMessage">
    <wsdl:part name="request" element="solAproMO:CrearSolicitudAprobacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseCrearSolicitudAprobacionMessage">
    <wsdl:part name="response" element="solAproMO:CrearSolicitudAprobacionResponse"/>
  </wsdl:message>
  
  <!-- Read -->
  <wsdl:message name="requestConsultarUsuarioReunionMessage">
    <wsdl:part name="request" element="solAproMO:ConsultarUsuarioReunionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarUsuarioReunionMessage">
    <wsdl:part name="response" element="solAproMO:ConsultarUsuarioReunionResponse"/>
  </wsdl:message>

  <wsdl:message name="requestConsultarEquipoTrabajoReunionMessage">
    <wsdl:part name="request" element="solAproMO:ConsultarUsuarioReunionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarEquipoTrabajoReunionMessage">
    <wsdl:part name="response" element="solAproMO:ConsultarUsuarioReunionResponse"/>
  </wsdl:message>
  
  <wsdl:message name="requestConsultarSolicitudAprobacionMessage">
    <wsdl:part name="request" element="solAproMO:ConsultarSolicitudAprobacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarSolicitudAprobacionMessage">
    <wsdl:part name="response" element="solAproMO:ConsultarSolicitudAprobacionResponse"/>
  </wsdl:message>
  
  <wsdl:message name="requestConfigurarSolicitudAprobacionMessage">
    <wsdl:part name="request" element="solAproMO:ConfigurarSolicitudAprobacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConfigurarSolicitudAprobacionMessage">
    <wsdl:part name="response" element="solAproMO:ConfigurarSolicitudAprobacionResponse"/>
  </wsdl:message>

  <wsdl:message name="requestConsultarAcumuladoVotacionMessage">
    <wsdl:part name="request" element="solAproMO:ConsultarAcumuladoVotacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseConsultarAcumuladoVotacionMessage">
    <wsdl:part name="response" element="solAproMO:ConsultarAcumuladoVotacionResponse"/>
  </wsdl:message>

  <!-- Update -->  
  <wsdl:message name="requestActualizarConfiguracionSolicitudAprobacionMessage">
    <wsdl:part name="request" element="solAproMO:ActualizarConfiguracionSolicitudAprobacionRequest"/>
  </wsdl:message>
  <wsdl:message name="responseActualizarConfiguracionSolicitudAprobacionMessage">
    <wsdl:part name="response" element="solAproMO:ActualizarConfiguracionSolicitudAprobacionResponse"/>
  </wsdl:message>
  
  
  <wsdl:message name="EliminarSolicitudAprobacionRequestMessage">
    <wsdl:part name="request" element="solAproMO:EliminarSolicitudAprobacionRequest"/>
  </wsdl:message>
  <wsdl:message name="EliminarSolicitudAprobacionResponseMessage">
    <wsdl:part name="response" element="solAproMO:EliminarSolicitudAprobacionResponse"/>
  </wsdl:message>
  
  <wsdl:portType name="SolicitudAprobacionPT">
    <!-- Create -->
    <wsdl:operation name="CrearUsuarioReunion">
      <wsdl:documentation>Registrar una SolicitudAprobacion</wsdl:documentation>
      <wsdl:input message="tns:requestCrearUsuarioReunionMessage"/>
      <wsdl:output message="tns:responseCrearUsuarioReunionMessage"/>
    </wsdl:operation>
    <!-- Read -->
    <wsdl:operation name="ConsultarUsuarioReunion">
      <wsdl:documentation>Consultar los usuarios que pertenencen a una reuni贸n</wsdl:documentation>
      <wsdl:input message="tns:requestConsultarUsuarioReunionMessage"/>
      <wsdl:output message="tns:responseConsultarUsuarioReunionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEquipoTrabajoReunion">
      <wsdl:documentation>Consultar el equipo de trabajo de la operaci贸n para notificar en la reuni贸n de aprobaci贸n</wsdl:documentation>
      <wsdl:input message="tns:requestConsultarEquipoTrabajoReunionMessage"/>
      <wsdl:output message="tns:responseConsultarEquipoTrabajoReunionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConsultarSolicitudAprobacion">
      <wsdl:documentation>Consultar una SolicitudAprobacion</wsdl:documentation>
      <wsdl:input message="tns:requestConsultarSolicitudAprobacionMessage"/>
      <wsdl:output message="tns:responseConsultarSolicitudAprobacionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ConfigurarSolicitudAprobacion">
      <wsdl:documentation>Configurar una SolicitudAprobacion</wsdl:documentation>
      <wsdl:input message="tns:requestConfigurarSolicitudAprobacionMessage"/>
      <wsdl:output message="tns:responseConfigurarSolicitudAprobacionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="ActualizarConfiguracionSolicitudAprobacion">
      <wsdl:input message="tns:requestActualizarConfiguracionSolicitudAprobacionMessage"/>
      <wsdl:output message="tns:responseActualizarConfiguracionSolicitudAprobacionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="CrearSolicitudAprobacion">
      <wsdl:input message="tns:requestCrearSolicitudAprobacionMessage"/>
      <wsdl:output message="tns:responseCrearSolicitudAprobacionMessage"/>
    </wsdl:operation>
    <wsdl:operation name="EliminarSolicitudAprobacion">
      <wsdl:input message="tns:EliminarSolicitudAprobacionRequestMessage"/>
      <wsdl:output message="tns:EliminarSolicitudAprobacionResponseMessage"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SolicitudAprobacion12Bnd" type="tns:SolicitudAprobacionPT">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CrearUsuarioReunion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/SolicitudAprobacionService/CrearUsuarioReunion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarUsuarioReunion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/SolicitudAprobacionService/ConsultarUsuarioReunion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarEquipoTrabajoReunion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/SolicitudAprobacionService/ConsultarEquipoTrabajoReunion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
      <wsdl:operation name="ConsultarSolicitudAprobacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/SolicitudAprobacionService/ConsultarSolicitudAprobacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConfigurarSolicitudAprobacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/SolicitudAprobacionService/ConfigurarSolicitudAprobacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ActualizarConfiguracionSolicitudAprobacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/SolicitudAprobacionService/ActualizarConfiguracionSolicitudAprobacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrearSolicitudAprobacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/SolicitudAprobacionService/CrearSolicitudAprobacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EliminarSolicitudAprobacion">
      <soap12:operation style="document" soapAction="http://xmlns.bcie.com/SolicitudAprobacionService/EliminarSolicitudAprobacion"/>
      <wsdl:input>
        <soap12:body use="literal" parts="request"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" parts="response"/>
      </wsdl:output>
    </wsdl:operation>
</wsdl:binding>
  <wsdl:service name="SolicitudAprobacion12BndQSService">
    <wsdl:port name="SolicitudAprobacion12BndQSPort" binding="tns:SolicitudAprobacion12Bnd">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
