BCIE_fenix/features/MCP/6389/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/CrearEvaluacion/XSD/CrearEvaluacionDB_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearEvaluacionDB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearEvaluacionDB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="EvaluacionCollection" type="EvaluacionCollection"/>
   <xs:complexType name="EvaluacionCollection">
      <xs:sequence>
         <xs:element name="Evaluacion" type="Evaluacion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="Evaluacion">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idOperacion" type="xs:long" minOccurs="0"/>
         <xs:element name="idEvaluacion" type="xs:int" minOccurs="0"/>
         <xs:element name="idSectorIbcie" type="string16" minOccurs="0" nillable="true"/>
         <xs:element name="sectorIbcie" type="string256" minOccurs="0" nillable="true"/>
         <xs:element name="idSubSectorIbcie" type="string16" minOccurs="0" nillable="true"/>
         <xs:element name="subSectorIbcie" type="string256" minOccurs="0" nillable="true"/>
         <xs:element name="idCuestionario" type="string16" minOccurs="0" nillable="true"/>
         <xs:element name="cuestionario" type="string256" minOccurs="0" nillable="true"/>
         <xs:element name="enAnalisis" type="xs:int" minOccurs="0"/>
         <xs:element name="tipoEvaluacion" type="xs:int" minOccurs="0"/>
         <xs:element name="version" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="fechaRegistro" type="xs:dateTime" minOccurs="0"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
         <xs:element name="idTcaTipoEvaluacion" type="xs:int" minOccurs="0"/>
         <xs:element name="idEvaluacionOrigen" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="calificacionIbcie" type="xs:decimal" minOccurs="0" nillable="true"/>
         <xs:element name="instanciaProceso" type="string256" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string16">
      <xs:restriction base="xs:string">
         <xs:maxLength value="16"/>
      </xs:restriction>
   </xs:simpleType>
   <xs:simpleType name="string256">
      <xs:restriction base="xs:string">
         <xs:maxLength value="256"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>