BCIE_fenix/features/MCP/7705/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Wsdl/ProcesosAlternos.wsdl

<wsdl:definitions targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosAlternos" xmlns:tns="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosAlternos" xmlns:plnk="http://schemas.xmlsoap.org/ws/2003/05/partner-link/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns6="http://xmlns.bcie.org/ObjetoProceso/Comun/Header/V1" xmlns:param="http://xmlns.bcie.org/ObjetoProceso/Comun/Parameter/V1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:res="http://www.bcie.org/ResultBO" xmlns:laproc="http://xmlns.oracle.com/bpmn/bpmnProcess/LavadoActivosProcess" xmlns:comproc="http://xmlns.oracle.com/bpmn/bpmnProcess/ComisionesProcess" xmlns:conproc="http://xmlns.oracle.com/bpmn/bpmnProcess/CondicionesProcess" xmlns:canopproc="http://xmlns.oracle.com/bpmn/bpmnProcess/CancelarOperacionProcess" xmlns:enmproc="http://xmlns.oracle.com/bpmn/bpmnProcess/EnmiendasProcess" xmlns:cteproc="http://xmlns.oracle.com/bpmn/bpmnProcess/AdministrarClienteProcess" xmlns:segcredproc="http://xmlns.oracle.com/bpmn/bpmnProcess/SegCrediticioProcess" xmlns:supprod="http://xmlns.oracle.com/bpmn/bpmnProcess/SupervisionProcess" xmlns:cierrefideproc="http://xmlns.oracle.com/bpmn/bpmnProcess/CierreFideicomisoProcess" xmlns:recUCE="http://xmlns.oracle.com/bpmn/bpmnProcess/UCEProcess" xmlns:prepag="http://xmlns.oracle.com/bpmn/bpmnProcess/PrepagoProcess" xmlns:adqui="http://xmlns.oracle.com/bpmn/bpmnProcess/AdquisicionProcess" xmlns:eval="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionesProcess" xmlns:implPCT="http://xmlns.oracle.com/bpmn/bpmnProcess/ImplPCTProcess" xmlns:formenm="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionEnmiendasProcess" xmlns:admop="http://xmlns.oracle.com/bpmn/bpmnProcess/AdministrarOperacionProcess"
                  xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ProcesosAlternos">
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/LavadoActivosProcess" schemaLocation="../Schema/PA01/LavadoActivosProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ComisionesProcess" schemaLocation="../Schema/PA02/ComisionesProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CondicionesProcess" schemaLocation="../Schema/PA03/CondicionesProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EnmiendasProcess" schemaLocation="../Schema/PA04/EnmiendasProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CancelarOperacionProcess" schemaLocation="../Schema/PA05/CancelarOperacionProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AdministrarClienteProcess" schemaLocation="../Schema/PA06/AdministrarClienteProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/SegCrediticioProcess" schemaLocation="../Schema/PA07/SegCrediticioProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/SupervisionProcess" schemaLocation="../Schema/PA08/SupervisionProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/EvaluacionesProcess" schemaLocation="../Schema/PA10/EvaluacionProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/ImplPCTProcess" schemaLocation="../Schema/PA11/ImpPCTProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/PrepagoProcess" schemaLocation="../Schema/PA12/PrepagoProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/UCEProcess" schemaLocation="../Schema/PA13/UCEProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/CierreFideicomisoProcess" schemaLocation="../Schema/PA14/CierreFideicomisoProcess.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AdquisicionProcess" schemaLocation="../Schema/PA09/AdquisicionProcess.xsd"/>
      <xsd:import namespace="http://www.bcie.org/ResultBO" schemaLocation="../../ComponentesComunes/Common/V1/Schema/ResultBO.xsd"/>
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/FormalizacionEnmiendasProcess" schemaLocation="../Schema/PA15/FormalizacionEnmiendasProcess.xsd"/>            
      <xsd:import namespace="http://xmlns.oracle.com/bpmn/bpmnProcess/AdministrarOperacionProcess" schemaLocation="../Schema/PA16/AdministrarOperacionProcess.xsd"/>
      <xsd:element name="ResultadoProceso">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="resultado" type="res:Resultado"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <!-- LAFT PA01 -->
  <wsdl:message name="InicioLAFT">
    <wsdl:part name="parameters" element="laproc:InicioLAFT"/>
  </wsdl:message>
  <wsdl:message name="FinLAFT">
    <wsdl:part name="parameters" element="laproc:FinLAFT"/>
  </wsdl:message>
  <!-- Comisiones PA02 -->
  <wsdl:message name="InicioComisiones">
    <wsdl:part name="parameters" element="comproc:InicioComisiones"/>
  </wsdl:message>
  <wsdl:message name="FinComisiones">
    <wsdl:part name="parameters" element="comproc:FinComisiones"/>
  </wsdl:message>
  <!-- Condiciones PA03 -->
  <wsdl:message name="InicioCondiciones">
    <wsdl:part name="parameters" element="conproc:InicioCondiciones"/>
  </wsdl:message>
  <wsdl:message name="FinCondiciones">
    <wsdl:part name="parameters" element="conproc:FinCondiciones"/>
  </wsdl:message>
  <!-- Enmiendas PA04 -->
  <wsdl:message name="InicioEnmiendas">
    <wsdl:part name="parameters" element="enmproc:InicioEnmiendas"/>
  </wsdl:message>
  <wsdl:message name="FinEnmiendas">
    <wsdl:part name="parameters" element="enmproc:FinEnmiendas"/>
  </wsdl:message>
  <!-- Cancelar operacion PA05 -->
  <wsdl:message name="InicioCancelarOperacion">
    <wsdl:part name="parameters" element="canopproc:InicioCancelarOperacion"/>
  </wsdl:message>
  <wsdl:message name="FinCancelarOperacion">
    <wsdl:part name="parameters" element="canopproc:FinCancelarOperacion"/>
  </wsdl:message>
  <!-- Administrar Cliente PA06 -->
  <wsdl:message name="InicioAdministrarCliente">
    <wsdl:part name="parameters" element="cteproc:InicioAdministrarCliente"/>
  </wsdl:message>
  <wsdl:message name="FinAdministrarCliente">
    <wsdl:part name="parameters" element="cteproc:FinAdministrarCliente"/>
  </wsdl:message>
  <!-- Seguimiento Crediticio PA07 -->
  <wsdl:message name="InicioSeguimientoCrediticio">
    <wsdl:part name="parameters" element="segcredproc:InicioSeguimientoCrediticio"/>
  </wsdl:message>
  <wsdl:message name="FinSeguimientoCrediticio">
    <wsdl:part name="parameters" element="segcredproc:FinSeguimientoCrediticio"/>
  </wsdl:message>
  <!-- Supervision PA08 -->
  <wsdl:message name="InicioSupervision">
    <wsdl:part name="parameters" element="supprod:InicioSupervision"/>
  </wsdl:message>
  <wsdl:message name="FinSupervision">
    <wsdl:part name="parameters" element="supprod:FinSupervision"/>
  </wsdl:message>
  <!-- Recuperacion UCE PA13 -->
  <wsdl:message name="InicioUCE">
    <wsdl:part name="parameters" element="recUCE:InicioUCE"/>
  </wsdl:message>
  <wsdl:message name="FinUCE">
    <wsdl:part name="parameters" element="recUCE:FinUCE"/>
  </wsdl:message>
  <!-- Mensaje respuesta -->
  <wsdl:message name="InicioProcesoResponse">
    <wsdl:part name="resultado" element="tns:ResultadoProceso"/>
  </wsdl:message>
  <!--Formalizacion enmiendas PA15-->
   <wsdl:message name="InicioFormalizacionEnmiendas">
    <wsdl:part name="parameters" element="formenm:InicioFormalizacionEnmiendas"/>
  </wsdl:message>
  <wsdl:message name="FinFormalizacionEnmiendas">
    <wsdl:part name="parameters" element="formenm:FinFormalizacionEnmiendas"/>
  </wsdl:message>
  <!--Administracion Operacion PA16-->
   <wsdl:message name="InicioAdministrarOperacion">
    <wsdl:part name="parameters" element="admop:InicioAdministrarOperacion"/>
  </wsdl:message>
  <wsdl:message name="FinAdministrarOperacion">
    <wsdl:part name="parameters" element="admop:FinAdministrarOperacion"/>
  </wsdl:message>
  <wsdl:portType name="ProcesosAlternosPortType">
    <!-- Laft -->
    <wsdl:operation name="InicioLAFT">
      <wsdl:input message="tns:InicioLAFT"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinLAFT">
      <wsdl:input message="tns:FinLAFT"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <!-- Comisiones PA02 -->
    <wsdl:operation name="InicioComisiones">
      <wsdl:input message="tns:InicioComisiones"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinComisiones">
      <wsdl:input message="tns:FinComisiones"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <!-- Condiciones PA03 -->
    <wsdl:operation name="InicioCondiciones">
      <wsdl:input message="tns:InicioCondiciones"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinCondiciones">
      <wsdl:input message="tns:FinCondiciones"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <!-- Enmiendas PA04 -->
    <wsdl:operation name="InicioEnmiendas">
      <wsdl:input message="tns:InicioEnmiendas"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinEnmiendas">
      <wsdl:input message="tns:FinEnmiendas"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <!-- Cancelar operacion -->
    <wsdl:operation name="InicioCancelarOperacion">
      <wsdl:input message="tns:InicioCancelarOperacion"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinCancelarOperacion">
      <wsdl:input message="tns:FinCancelarOperacion"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <!-- Administrar Cliente -->
    <wsdl:operation name="InicioAdministrarCliente">
      <wsdl:input message="tns:InicioAdministrarCliente"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinAdministrarCliente">
      <wsdl:input message="tns:FinAdministrarCliente"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <!--Seguimiento Crediticio-->
    <wsdl:operation name="InicioSeguimientoCrediticio">
      <wsdl:input message="tns:InicioSeguimientoCrediticio"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinSeguimientoCrediticio">
      <wsdl:input message="tns:FinSeguimientoCrediticio"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <!--Supervision-->
    <wsdl:operation name="InicioSupervision">
      <wsdl:input message="tns:InicioSupervision"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinSupervision">
      <wsdl:input message="tns:FinSupervision"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <!--Recuperacion UCE-->
    <wsdl:operation name="InicioUCE">
      <wsdl:input message="tns:InicioUCE"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinUCE">
      <wsdl:input message="tns:FinUCE"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioCierreFideicomiso">
      <wsdl:input message="tns:InicioCierreFideicomiso"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinCierreFideicomiso">
      <wsdl:input message="tns:FinCierreFideicomiso"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioPrepago">
      <wsdl:input message="tns:InicioPrepago"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinPrepago">
      <wsdl:input message="tns:FinPrepago"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioAdquisicion">
      <wsdl:input message="tns:InicioAdquisicion"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinAdquisicion">
      <wsdl:input message="tns:FinAdquisicion"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioEvaluacion">
      <wsdl:input message="tns:InicioEvaluacion"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinEvaluacion">
      <wsdl:input message="tns:FinEvaluacion"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioImplementacionPCT">
      <wsdl:input message="tns:InicioImplementacionPCT"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinImplementacionPCT">
      <wsdl:input message="tns:FinImplementacionPCT"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioEnviarGasto">
      <wsdl:input message="tns:InicioEnviarGasto"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinEnviarGasto">
      <wsdl:input message="tns:FinEnviarGasto"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioInteresesCobro">
      <wsdl:input message="tns:InicioInteresesCobro"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinInteresesCobro">
      <wsdl:input message="tns:FinInteresesCobro"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="InicioRegistrarComisiones">
      <wsdl:input message="tns:InicioRegistrarComisiones"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinRegistrarComisiones">
      <wsdl:input message="tns:FinRegistrarComisiones"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <!--Formalizacion enmiendas PA15 Operations-->
    <wsdl:operation name="InicioFormalizacionEnmiendas">
      <wsdl:input message="tns:InicioFormalizacionEnmiendas"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinFormalizacionEnmiendas">
      <wsdl:input message="tns:FinFormalizacionEnmiendas"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <!--Administracion Operacion PA16 Operations-->
    <wsdl:operation name="InicioAdministrarOperacion">
      <wsdl:input message="tns:InicioAdministrarOperacion"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
    <wsdl:operation name="FinAdministrarOperacion">
      <wsdl:input message="tns:FinAdministrarOperacion"/>
      <wsdl:output message="tns:InicioProcesoResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ProcesosAlternosBinding" type="tns:ProcesosAlternosPortType">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <!-- LAFT PA01 -->
    <wsdl:operation name="InicioLAFT">
      <wsdlsoap:operation style="document" soapAction="InicioLAFT"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinLAFT">
      <wsdlsoap:operation style="document" soapAction="FinLAFT"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!-- Comisiones PA02 -->
    <wsdl:operation name="InicioComisiones">
      <wsdlsoap:operation style="document" soapAction="InicioComisiones"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinComisiones">
      <wsdlsoap:operation style="document" soapAction="FinComisiones"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!-- Condiciones PA03 -->
    <wsdl:operation name="InicioCondiciones">
      <wsdlsoap:operation style="document" soapAction="InicioCondiciones"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinCondiciones">
      <wsdlsoap:operation style="document" soapAction="FinCondiciones"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!-- Enmiendas PA04 -->
    <wsdl:operation name="InicioEnmiendas">
      <wsdlsoap:operation style="document" soapAction="InicioEnmiendas"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinEnmiendas">
      <wsdlsoap:operation style="document" soapAction="FinEnmiendas"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!-- Cancelar operacion PA05 -->
    <wsdl:operation name="InicioCancelarOperacion">
      <wsdlsoap:operation style="document" soapAction="InicioCancelarOperacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinCancelarOperacion">
      <wsdlsoap:operation style="document" soapAction="FinCancelarOperacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!-- AdministrarCliente PA06 -->
    <wsdl:operation name="InicioAdministrarCliente">
      <wsdlsoap:operation style="document" soapAction="InicioAdministrarCliente"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinAdministrarCliente">
      <wsdlsoap:operation style="document" soapAction="FinAdministrarCliente"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!--Seguimiento Crediticio-->
    <wsdl:operation name="InicioSeguimientoCrediticio">
      <wsdlsoap:operation style="document" soapAction="InicioSeguimientoCrediticio"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinSeguimientoCrediticio">
      <wsdlsoap:operation style="document" soapAction="FinSeguimientoCrediticio"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!--Supervision-->
    <wsdl:operation name="InicioSupervision">
      <wsdlsoap:operation style="document" soapAction="InicioSupervision"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinSupervision">
      <wsdlsoap:operation style="document" soapAction="FinSupervision"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <!--Recuperacion UCE-->
    <wsdl:operation name="InicioUCE">
      <wsdlsoap:operation style="document" soapAction="InicioUCE"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinUCE">
      <wsdlsoap:operation style="document" soapAction="FinUCE"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioCierreFideicomiso">
      <wsdlsoap:operation style="document" soapAction="InicioCierreFideicomiso"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinCierreFideicomiso">
      <wsdlsoap:operation style="document" soapAction="FinCierreFideicomiso"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioPrepago">
      <wsdlsoap:operation style="document" soapAction="InicioPrepago"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinPrepago">
      <wsdlsoap:operation style="document" soapAction="FinPrepago"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioAdquisicion">
      <wsdlsoap:operation style="document" soapAction="InicioAdquisicion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="FinAdquisicion">
      <wsdlsoap:operation style="document" soapAction="FinAdquisicion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioEvaluacion">
      <wsdlsoap:operation style="document" soapAction="InicioEvaluacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="FinEvaluacion">
      <wsdlsoap:operation style="document" soapAction="FinEvaluacion"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioImplementacionPCT">
      <wsdlsoap:operation style="document" soapAction="InicioImplementacionPCT"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="FinImplementacionPCT">
      <wsdlsoap:operation style="document" soapAction="FinImplementacionPCT"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioEnviarGasto">
      <wsdlsoap:operation style="document" soapAction="InicioEnviarGasto"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="FinEnviarGasto">
      <wsdlsoap:operation style="document" soapAction="FinEnviarGasto"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioInteresesCobro">
      <wsdlsoap:operation style="document" soapAction="InicioInteresesCobro"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
     <wsdl:operation name="FinInteresesCobro">
      <wsdlsoap:operation style="document" soapAction="FinInteresesCobro"/>
      <wsdl:input>
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinRegistrarComisiones">
      <wsdlsoap:operation/>
      <wsdl:input>
        <wsdlsoap:body/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InicioRegistrarComisiones">
      <wsdlsoap:operation/>
      <wsdl:input>
        <wsdlsoap:body/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body/>
      </wsdl:output>
    </wsdl:operation>
    <!--Formalizacion enmiendas PA15 Binding-->
    <wsdl:operation name="InicioFormalizacionEnmiendas">
      <wsdlsoap:operation style="document" soapAction="InicioFormalizacionEnmiendas"/>
      <wsdl:input>
        <wsdlsoap:body/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinFormalizacionEnmiendas">
      <wsdlsoap:operation style="document" soapAction="FinFormalizacionEnmiendas"/>
      <wsdl:input>
        <wsdlsoap:body/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body/>
      </wsdl:output>
    </wsdl:operation>
    <!--Administrar Operacion PA16 Binding-->
    <wsdl:operation name="InicioAdministrarOperacion">
      <wsdlsoap:operation style="document" soapAction="InicioAdministrarEnmiendas"/>
      <wsdl:input>
        <wsdlsoap:body/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FinAdministrarOperacion">
      <wsdlsoap:operation style="document" soapAction="FinAdmininstrarEnmiendas"/>
      <wsdl:input>
        <wsdlsoap:body/>
      </wsdl:input>
      <wsdl:output>
        <wsdlsoap:body/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:message name="InicioCierreFideicomiso">
    <wsdl:part name="parameters" element="cierrefideproc:InicioCierreFideicomiso"/>
  </wsdl:message>
  <wsdl:message name="FinCierreFideicomiso">
    <wsdl:part name="FinCierreFideicomiso" element="cierrefideproc:FinCierreFideicomiso"/>
  </wsdl:message>
  <wsdl:message name="InicioPrepago">
    <wsdl:part name="parameters" element="prepag:InicioPrepago"/>
  </wsdl:message>
  <wsdl:message name="FinPrepago">
    <wsdl:part name="parameters" element="prepag:FinPrepago"/>
  </wsdl:message>
  <wsdl:message name="InicioAdquisicion">
    <wsdl:part name="parameters" element="adqui:InicioAdquisicion"/>
  </wsdl:message>
  <wsdl:message name="FinAdquisicion">
    <wsdl:part name="parameters" element="adqui:FinAdquisicion"/>
  </wsdl:message>
  <wsdl:message name="InicioEvaluacion">
    <wsdl:part name="parameters" element="eval:InicioEvaluacion"/>
  </wsdl:message>
  <wsdl:message name="FinEvaluacion">
    <wsdl:part name="parameters" element="eval:FinEvaluacion"/>
  </wsdl:message>
  <wsdl:message name="InicioImplementacionPCT">
    <wsdl:part name="parameters" element="implPCT:InicioImplementacionPCT"/>
  </wsdl:message>
  <wsdl:message name="FinImplementacionPCT">
    <wsdl:part name="parameters" element="implPCT:FinImplementacionPCT"/>
  </wsdl:message>
  <wsdl:message name="InicioEnviarGasto">
    <wsdl:part name="parameters" element="implPCT:InicioEnviarGasto"/>
  </wsdl:message>
  <wsdl:message name="FinEnviarGasto">
    <wsdl:part name="parameters" element="implPCT:FinEnviarGasto"/>
  </wsdl:message>
  <wsdl:message name="InicioInteresesCobro">
    <wsdl:part name="parameters" element="implPCT:InicioInteresesCobro"/>
  </wsdl:message>
  <wsdl:message name="FinInteresesCobro">
    <wsdl:part name="parameters" element="implPCT:FinInteresesCobro"/>
  </wsdl:message>
  <wsdl:message name="InicioRegistrarComisiones">
    <wsdl:part name="parameters" element="comproc:InicioRegistrarComisiones"/>
  </wsdl:message>
  <wsdl:message name="FinRegistrarComisiones">
    <wsdl:part name="parameters" element="comproc:FinRegistrarComisiones"/>
  </wsdl:message>
  <wsdl:service name="ProcesosAlternosBindingQSService" >
    <wsdl:port name="ProcesosAlternosBindingQSPort" binding="tns:ProcesosAlternosBinding">
      <soap12:address location="http://www.example.com"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>