BCIE_fenix/features/MCP/5003/SOA/06-OSB-SERVICE/MDS/Resources/BPM/Schema/Comun/Proceso/V1/ProcesoOPN.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema targetNamespace="http://xmlns.bcie.org/ObjetoProceso/Comun/Proceso/V1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:proceso="http://xmlns.bcie.org/ObjetoProceso/Comun/Proceso/V1" 
           elementFormDefault="qualified"
           attributeFormDefault="unqualified" version="1.0">
  
  <xs:complexType name="Proceso">
    <xs:annotation>
      <xs:documentation>Entidad que contiene la información basica de un proceso BPM.</xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IdProceso" type="xs:int" minOccurs="1" maxOccurs="1"/>
      <xs:element name="CodigoProceso" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="NombreProceso" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="EsProcesoCore" type="xs:boolean" minOccurs="0" maxOccurs="1"/>
      <xs:element name="RolIniciaProceso" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="UsuarioIniciaProceso" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="InstanciaProceso" type="xs:string" minOccurs="0" maxOccurs="1"/>
	  <xs:element name="IdFlujo" type="xs:long" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
