Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/SICG/resources/wsdl/CalculoManagerSoapBindingMock.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://web.seg.mod.cgs.com" xmlns:impl="http://web.seg.mod.cgs.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:intf="http://web.seg.mod.cgs.com">
  <wsdl:types>
    <schema elementFormDefault="qualified" targetNamespace="http://web.seg.mod.cgs.com" xmlns="http://www.w3.org/2001/XMLSchema">
      <element name="calculoRiesgoJ">
        <complexType>
          <sequence>
            <element name="tipo" type="xsd:string"/>
            <element name="tident" type="xsd:string"/>
            <element name="creacion" type="xsd:string"/>
            <element name="cod_ind" type="xsd:string"/>
            <element name="cod_neg" type="xsd:string"/>
            <element name="pais_rd" type="xsd:string"/>
            <element name="pais_or" type="xsd:string"/>
            <element name="cla_cli" type="xsd:string"/>
            <element name="rel_ban" type="xsd:string"/>
            <element name="provincia" type="xsd:string"/>
            <element name="distrito" type="xsd:string"/>
            <element name="corregimiento" type="xsd:string"/>
            <element name="estado" type="xsd:string"/>
            <element name="fch_nac_cons" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="calculoRiesgoJResponse">
        <complexType>
          <sequence>
            <element name="calculoRiesgoJReturn" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="calculoRiesgoN">
        <complexType>
          <sequence>
            <element name="tipo" type="xsd:string"/>
            <element name="tident" type="xsd:string"/>
            <element name="creacion" type="xsd:string"/>
            <element name="cod_ind" type="xsd:string"/>
            <element name="cod_neg" type="xsd:string"/>
            <element name="pais_rd" type="xsd:string"/>
            <element name="pais_or" type="xsd:string"/>
            <element name="prof" type="xsd:string"/>
            <element name="funt_ing" type="xsd:string"/>
            <element name="cla_cli" type="xsd:string"/>
            <element name="rel_ban" type="xsd:string"/>
            <element name="nacionalidad" type="xsd:string"/>
            <element name="provincia" type="xsd:string"/>
            <element name="distrito" type="xsd:string"/>
            <element name="corregimiento" type="xsd:string"/>
            <element name="estado" type="xsd:string"/>
            <element name="fch_nac_cons" type="xsd:string"/>
            <element name="sexo" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
      <element name="calculoRiesgoNResponse">
        <complexType>
          <sequence>
            <element name="calculoRiesgoNReturn" type="xsd:string"/>
          </sequence>
        </complexType>
      </element>
    </schema>
  </wsdl:types>
  <wsdl:message name="calculoRiesgoNRequest">
    <wsdl:part name="parameters" element="impl:calculoRiesgoN">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="calculoRiesgoJRequest">
    <wsdl:part name="parameters" element="impl:calculoRiesgoJ">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="calculoRiesgoJResponse">
    <wsdl:part name="parameters" element="impl:calculoRiesgoJResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="calculoRiesgoNResponse">
    <wsdl:part name="parameters" element="impl:calculoRiesgoNResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CalculoManager">
    <wsdl:operation name="calculoRiesgoJ">
      <wsdl:input name="calculoRiesgoJRequest" message="impl:calculoRiesgoJRequest">
    </wsdl:input>
      <wsdl:output name="calculoRiesgoJResponse" message="impl:calculoRiesgoJResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculoRiesgoN">
      <wsdl:input name="calculoRiesgoNRequest" message="impl:calculoRiesgoNRequest">
    </wsdl:input>
      <wsdl:output name="calculoRiesgoNResponse" message="impl:calculoRiesgoNResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CalculoManagerSoapBinding" type="impl:CalculoManager">
    <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="calculoRiesgoJ">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="calculoRiesgoJRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="calculoRiesgoJResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="calculoRiesgoN">
      <wsdlsoap:operation soapAction=""/>
      <wsdl:input name="calculoRiesgoNRequest">
        <wsdlsoap:body use="literal"/>
      </wsdl:input>
      <wsdl:output name="calculoRiesgoNResponse">
        <wsdlsoap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CalculoManagerService">
    <wsdl:port name="CalculoManager" binding="impl:CalculoManagerSoapBinding">
      <wsdlsoap:address location="http://localhost:8088/CalculoManagerSoapBindingMock"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
