Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/IVRAcct/AcctInq/AcctInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/IVRAcctAppSvc/AcctInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctInq="http://xmlns.banesco.com/appopt/IVRAcctAppSvc/AcctInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="AcctInqRq_Type">
		<xs:sequence>
			<xs:element name="PartyKey" type="appoptAcctInq:PartyKey" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Accounts_Type">
		<xs:annotation>
			<xs:documentation>Arreglo de cuentas</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="Acct" type="appoptAcctInq:Acct" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctBal">
		<xs:annotation>
			<xs:documentation>Account Balance.

Supports attributes with respect to all the balances a financial institution account may carry (ex: ledger, available, collected, etc.)</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="BalType" type="appoptAcctInq:EnunBalType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Balance Type.

Balance Type Values

Valid values include: Avail, AvailCredit, AvgLedger, ClosingLedger, ClosingOutstanding, CreditHeld, CreditLimit, Current, DebitHeld, Escrow, Ledger, MinLedger, OpeningLedger, OpeningOutstanding, Outstanding, PayoffAmt, Principal, RwdBonus, RwdReg, TotalHeld
end Aggregate</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurAmt" type="appoptcommon:CurAmt" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Currency Amount.

All monetary amounts in the IFX Specification are handled with the Currency Amount data type. When included, this data type contains a decimal value for the amount, an optional currency code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Desc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Description.

General-purpose text description. Meaning depends on context.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctInqRs_Type">
		<xs:sequence>
			<xs:element name="Accounts" type="appoptAcctInq:Accounts_Type" minOccurs="0" maxOccurs="1"/>
			<xs:element name="PartyKey" type="appoptAcctInq:PartyKey" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Customer ID´s</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="PartyKey">
		<xs:annotation>
			<xs:documentation>Customer ID´s</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="PartyId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party Identifier.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="PartyType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Party Type.

Value: Person or Org.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctInqRq" type="appoptAcctInq:AcctInqRq_Type"/>
	<xs:complexType name="AcctStatus">
		<xs:annotation>
			<xs:documentation>Account Status Aggregate.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctStatusCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Status Code.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="StatusDesc" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Status Description.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:simpleType name="EnunBalType">
		<xs:annotation>
			<xs:documentation>Example Values: Avail,
AvailCredit,
AvgLedger,
ClosingLedger,
ClosingOutstanding,
CreditHeld,
CreditLimit,
Current,
DebitHeld,
Escrow,
Ledger,
MinLedger,
OpeningLedger,
OpeningOutstanding,
Outstanding,
PayoffAmt,
Principal,
RwdBonus,
RwdReg,
TotalHeld</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="AvailATM"/>
			<xs:enumeration value="AvailBalance"/>
			<xs:enumeration value="Overdraft"/>
			<xs:enumeration value="OverdrtLimit"/>
			<xs:enumeration value="AthAmt"/>
			<xs:enumeration value="Balance"/>
			<xs:enumeration value="CashAvailBalance"/>
			<xs:enumeration value="CashLimit"/>
			<xs:enumeration value="CreditLineAmt"/>
			<xs:enumeration value="CutBalance"/>
			<xs:enumeration value="DueBalance"/>
			<xs:enumeration value="DueFees"/>
			<xs:enumeration value="LastPmtAmt"/>
			<xs:enumeration value="MinPmt"/>
			<xs:enumeration value="PrevBalance"/>
			<xs:enumeration value="RwdBonus"/>
			<xs:enumeration value="RwdReg"/>
			<xs:enumeration value="TotalBalance"/>
			<xs:enumeration value="TotalPmt"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:element name="AcctInqRs" type="appoptAcctInq:AcctInqRs_Type"/>
	<xs:complexType name="Acct">
		<xs:annotation>
			<xs:documentation>Account Information Aggregate. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctApplIdent" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Application Identifier.

Identifier of the Application that was submitted to create an account.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctSubtype" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Tipo de Producto.

Ej: Cuenta de Ahorro, Préstamo Vehículo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctType" type="appoptcommon:CommonType" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Grupo de Producto.

Ej: Cuenta, Préstamo.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="ClubBanesco" type="xs:boolean" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Indica si el producto pertenece al Club Banesco</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="CurCode" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>The CurrencyCode is used to express Currency codes and the authoritative source that defines them.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="MovType" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>movement Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="OpenDt" type="appoptcommon:datePattern" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Opening Date.

Opening date of object, usage depends on context.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctStatus" type="appoptAcctInq:AcctStatus" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctKey" type="appoptAcctInq:AcctKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctBal" type="appoptAcctInq:AcctBal" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
