Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/AppOpt/TCIBAcct/AcctStmtInq/AcctStmtInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/appopt/TCIBAcctAppSvc/AcctStmtInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:appoptAcctStmtInq="http://xmlns.banesco.com/appopt/TCIBAcctAppSvc/AcctStmtInq_V1.0" xmlns:appoptcommon="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" elementFormDefault="qualified">
	<xs:import namespace="http://xmlns.banesco.com/appopt/AOptCommon_V1.0" schemaLocation="../../AOptCommon/AOptCommon_V1.0.xsd"/>
	<xs:complexType name="AcctKey">
		<xs:annotation>
			<xs:documentation>An account is a product, serviced by a financial institution (FI), that carries a balance (credit or debit) in a particular currency. 

An account object includes the record of the current balance at a given time and date. Balances are updated at various times depending on specific needs to reflect an accurate record of the impact accounts transactions have on the account.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctId" type="xs:string" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Uniquely identifies an account held at a financial institution.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctStmt">
		<xs:annotation>
			<xs:documentation>The Account Statement object supports inquiry functions for an account statement.  An inquiry against the Account Statement object may return transactions, an image, or, a URL for a specific statement.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="DocumentKey" type="appoptAcctStmtInq:DocumentKey" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctStmtInfo" type="appoptAcctStmtInq:AcctStmtInfo" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DocumentKey">
		<xs:sequence>
			<xs:element name="DocId" type="xs:string" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctStmtInfo">
		<xs:annotation>
			<xs:documentation>Account Statement Information Aggregate</xs:documentation>
		</xs:annotation>
		<xs:sequence minOccurs="0" maxOccurs="1">
			<xs:element name="CustomDate" type="appoptAcctStmtInq:CustomDate" minOccurs="0" maxOccurs="1"/>
			<xs:element name="FileURL" type="appoptAcctStmtInq:Binary" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="CustomDate">
		<xs:annotation>
			<xs:documentation>Custom Date</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="Day" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Day</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Month" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Month</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="Year" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Year</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Binary">
		<xs:annotation>
			<xs:documentation>The Binary data type is a compound type consisting of three logical elements:

1. ContentType.
2. BinLength.
3. BinData.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="FileURL" type="xs:string" minOccurs="0" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>File URL.</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="Acct">
		<xs:annotation>
			<xs:documentation>Account Information Aggregate. </xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="AcctType" type="appoptcommon:CommonType" minOccurs="1" maxOccurs="1">
				<xs:annotation>
					<xs:documentation>Account Type.</xs:documentation>
				</xs:annotation>
			</xs:element>
			<xs:element name="AcctKey" type="appoptAcctStmtInq:AcctKey" minOccurs="0" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="AcctStmtInqRs_Type">
		<xs:sequence>
			<xs:element name="Status" type="appoptcommon:Status" minOccurs="0" maxOccurs="1"/>
			<xs:element name="AcctStmt" type="appoptAcctStmtInq:AcctStmt" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="AcctStmtInqRq" type="appoptAcctStmtInq:AcctStmtInqRq_Type"/>
	<xs:element name="AcctStmtInqRs" type="appoptAcctStmtInq:AcctStmtInqRs_Type"/>
	<xs:complexType name="AcctStmtInqRq_Type">
		<xs:sequence>
			<xs:element name="CustomDate" type="appoptcommon:CustomDate" minOccurs="1" maxOccurs="1"/>
			<xs:element name="Acct" type="appoptAcctStmtInq:Acct" minOccurs="1" maxOccurs="1"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
