Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Party/PartyInfoInq/PartyInfoInq_V1.0.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/PartyInfoInq_V1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:eoptPartyInfoInq="http://xmlns.banesco.com/eopt/PartyInfoInq_V1.0"
           xmlns:eoPar="http://xmlns.banesco.com/eo/Party_V1.0"
           xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
  <xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
  <xs:import namespace="http://xmlns.banesco.com/eo/Party_V1.0" schemaLocation="../../../EO/Party/Party_V1.0.xsd"/>
  <xs:complexType name="PartyInfoInqRq_Type">
    <xs:sequence>
      <xs:element name="PartyData" type="eoPar:PartyData" minOccurs="0" maxOccurs="1"/>
      <xs:element name="PartyKey" type="eoPar:PartyKey" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartyInfoInqRs_Type">
    <xs:sequence>
      <xs:element name="Party" type="eoPar:Party" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Status" type="eoStatus:Status" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartyInfoInqRq" type="eoptPartyInfoInq:PartyInfoInqRq_Type"/>
  <xs:element name="PartyInfoInqRs" type="eoptPartyInfoInq:PartyInfoInqRs_Type"/>
</xs:schema>
