Banesco_2023/OSB/BanescoServiceBusApp/Commons/backends/WAY4/resources/xsd/ESBCardOutApp/ESBCardOutApp_readCardTDC.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_readCardTDC" elementFormDefault="qualified" xmlns:tns="http://xmlns.nativapagos.com/ApplicationService/ESBCardOutApp_readCardTDC" xmlns="http://www.w3.org/2001/XMLSchema">
	
        <!-- main elements -->
	<element name="readCardTDC_Rq" type="tns:readCardTDC_Rq"/>
	<element name="readCardTDC_Rs" type="tns:readCardTDC_Rs"/>
	<!-- Request Operation-->
	<complexType name="readCardTDC_Rq">
		<sequence>
			<element name="MsgHdr" type="tns:MsgHdr" minOccurs="1" maxOccurs="1"/>
			<element name="Product" type="tns:Product_Rq" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="Product_Rq">
		<sequence>
			<element name="Type" type="tns:Type" minOccurs="1" maxOccurs="1"/>
			<element name="PersonInfo" type="tns:PersonInfo_Rq" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="PersonInfo_Rq">
		<sequence>
			<element name="Type" type="tns:Type" minOccurs="1" maxOccurs="1"/>
			<element name="CustId" type="integer" minOccurs="0" maxOccurs="1"/>
			<element name="CardInfo" type="tns:CardInfo_Rq" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="CardInfo_Rq">
		<sequence>
			<element name="Number" type="integer" minOccurs="0" maxOccurs="1"/>
			<element name="Status" type="tns:Status_Rq" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="Status_Rq">
		<sequence>
			<element name="StatusCode" type="integer" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	<!-- Response Elements -->
	<complexType name="readCardTDC_Rs">
		<sequence>
			<element name="MsgHdr" type="tns:MsgHdr" minOccurs="1" maxOccurs="1"/>
			<element name="Product" type="tns:Product_Rs" minOccurs="0" maxOccurs="2"/>
			<element name="Status" type="tns:Status_RS" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="Product_Rs">
		<sequence>
			<element name="Type" type="tns:Type" minOccurs="1" maxOccurs="1"/>
			<element name="ProductId" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="ProductCode" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="ProductType" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="Desc" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="PersonInfo" type="tns:PersonInfo_Rs" minOccurs="1" maxOccurs="1"/>
			<element name="Statement" type="tns:Statement" minOccurs="1" maxOccurs="1"/>
			<element name="Installments" type="tns:Installments" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>
 <complexType name="PersonInfo_Rs">
		<sequence>
			<element name="CustId" type="integer" minOccurs="1" maxOccurs="1"/>
			<element name="PersonDoc" type="tns:PersonDoc" minOccurs="1" maxOccurs="1"/>
			<element name="PersonName" type="tns:PersonName" minOccurs="1" maxOccurs="1"/>
			<element name="CardInfo" type="tns:CardInfo_Rs" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="PersonDoc">
		<sequence>
			<element name="Type" type="tns:Type" minOccurs="1" maxOccurs="1"/>
			<element name="Number" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="NumberType" type="string" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="PersonName">
		<sequence>
			<element name="FirstName" type="string" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="CardInfo_Rs">
		<sequence>
			<element name="Number" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="Type" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="Desc" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="RelationType" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="RelationDesc" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="Status" type="tns:Status_rs" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="Status_rs">
		<sequence>
			<element name="StatusCode" type="integer" minOccurs="0" maxOccurs="1"/>
			<element name="StatusDesc" type="string" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="Statement">
		<sequence>
			<element name="Type" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="StatementInfo" type="tns:StatementInfo" minOccurs="1" maxOccurs="1"/>
			<element name="EndDt" type="date" minOccurs="0" maxOccurs="1"/>
			<element name="ExpDt" type="date" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="StatementInfo">
		<sequence>
			<element name="CurAmt" type="double" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="Installments">
		<sequence>
			<element name="Type" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="Number" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="InstallmentsInfo" type="tns:InstallmentsInfo" minOccurs="1" maxOccurs="3"/>
		</sequence>
	</complexType>
	<complexType name="InstallmentsInfo">
		<sequence>
			<element name="Type" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="CurCode" type="double" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="Status_RS">
		<sequence>
			<element name="StatusType" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="StatusClass" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="StatusCode" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="StatusDesc" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="AdditionalStatus" type="tns:AdditionalStatus" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="AdditionalStatus">
		<sequence>
			<element name="StatusType" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="StatusClass" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="StatusCode" type="string" minOccurs="0" maxOccurs="1"/>
			<element name="StatusDesc" type="string" minOccurs="0" maxOccurs="1"/>
		</sequence>
	</complexType>
	<!-- Utilities -->
	<complexType name="MsgHdr">
		<sequence>
			<element name="TransactionInfo" type="tns:TransactionInfo" minOccurs="1" maxOccurs="1"/>
			<element name="ApplicationInfo" type="tns:ApplicationInfo" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="TransactionInfo">
		<sequence>
			<element name="MsgUID" type="tns:MsgUID_type" minOccurs="1" maxOccurs="1"/>
			<element name="ChannelId" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="AgencyCode" type="tns:AgencyCode_Type" minOccurs="1" maxOccurs="1"/>
			<element name="OrderDprt" type="string" minOccurs="1" maxOccurs="1"/>
			<element name="TransactionDate" type="tns:Date" minOccurs="1" maxOccurs="1"/>
			<element name="TransactionTime" type="tns:Time" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>
	<complexType name="ApplicationInfo">
		<sequence>
			<element name="SourceApp" type="tns:SourceApp_Type" minOccurs="1" maxOccurs="1"/>
			<element name="Channel" type="tns:Channel_Type" minOccurs="1" maxOccurs="1"/>
		</sequence>
	</complexType>
	<simpleType name="MsgUID_type">
		<restriction base="string">
			<maxLength value="36"/>
			<pattern value="([0-9]|[a-f]|[A-F]){8}(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){4})(-([0-9]|[a-f]|[A-F]){12})"/>
		</restriction>
	</simpleType>
	<simpleType name="AgencyCode_Type">
		<restriction base="string">
			<enumeration value="5808"/>
		</restriction>
	</simpleType>
	<simpleType name="SourceApp_Type">
		<restriction base="string">
			<enumeration value="BOL"/>
			<enumeration value="IVR"/>
			<enumeration value="ULTIMUS"/>
		</restriction>
	</simpleType>
	<simpleType name="Channel_Type">
		<restriction base="string">
			<enumeration value="WAY4"/>
		</restriction>
	</simpleType>
	<simpleType name="DateTime">
		<restriction base="string">
			<pattern value="(\s)*|\d{4}\-\d{2}\-\d{2}T\d{2}:\d{2}:\d{2}(Z|[\+\-]\d{2}:\d{2}|\.\d\d?)?"/>
		</restriction>
	</simpleType>
	<simpleType name="Date">
		<restriction base="string">
			<pattern value="(\s)*|\d{4}\-\d{2}\-\d{2}(Z|[\+\-]\d{2}:\d{2})?"/>
		</restriction>
	</simpleType>
	<simpleType name="Time">
		<restriction base="string">
			<pattern value="(\s)*|\d{2}:\d{2}:\d{2}(Z|[\+\-]\d{2}:\d{2}|\.\d\d?)?"/>
		</restriction>
	</simpleType>
	<simpleType name="Type">
		<restriction base="string">
			<enumeration value="Personal"/>
		</restriction>
	</simpleType>
	
</schema>