BCIE_fenix/features/MCP/16/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioOperacion/CrearActualizarLoteImplementacion/XSD/CrearActualizarLoteImplementacion_table.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearActualizarLoteImplementacion" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/top/CrearActualizarLoteImplementacion" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="LoteImplementacionCollection" type="LoteImplementacionCollection"/>
   <xs:complexType name="LoteImplementacionCollection">
      <xs:sequence>
         <xs:element name="LoteImplementacion" type="LoteImplementacion" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="LoteImplementacion">
      <xs:sequence>
         <xs:element name="id" type="xs:long" nillable="true"/>
         <xs:element name="idImplementacion" type="xs:long" minOccurs="0"/>
         <xs:element name="nombreLote" type="string1024" minOccurs="0"/>
         <xs:element name="montoPresupuestado" type="xs:decimal" minOccurs="0"/>
         <xs:element name="idTcaTipoMoneda" type="xs:int" minOccurs="0"/>
         <xs:element name="idTcaResultadoProceso" type="xs:int" minOccurs="0" nillable="true"/>
         <xs:element name="banEstatus" type="xs:int" minOccurs="0"/>
         <xs:element name="idContrato" type="xs:long" minOccurs="0" nillable="true"/>
         <xs:element name="fechaOrdenInicio" type="xs:dateTime" minOccurs="0" nillable="true"/>
         <xs:element name="enProceso" type="xs:int" minOccurs="0" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:simpleType name="string1024">
      <xs:restriction base="xs:string">
         <xs:maxLength value="1024"/>
      </xs:restriction>
   </xs:simpleType>
</xs:schema>