Banesco_2023/OSB/BanescoServiceBusApp/Commons/xsd/EOpt/Utility/PmtSessionInq/PmtSessionInq_V1.0.xsd

<xs:schema targetNamespace="http://xmlns.banesco.com/eopt/PmtSessionInq_V1.0" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:eoptPmtSessionInq="http://xmlns.banesco.com/eopt/PmtSessionInq_V1.0"
           xmlns:eoStatus="http://xmlns.banesco.com/eo/Status_V1.0">
  <xs:import namespace="http://xmlns.banesco.com/eo/Status_V1.0" schemaLocation="../../../EO/Status/Status_V1.0.xsd"/>
  <xs:complexType name="PmtSessionInqRq_Type">
    <xs:sequence>
      <xs:element name="Channel" type="xs:string" minOccurs="0" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PmtSessionInqRs_Type">
    <xs:sequence>
      <xs:element name="ServiceId" type="xs:string" minOccurs="0" maxOccurs="1"/>
      <xs:element name="Status" type="eoStatus:Status" minOccurs="1" maxOccurs="1"/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PmtSessionInqRs" type="eoptPmtSessionInq:PmtSessionInqRs_Type"/>
  <xs:element name="PmtSessionInqRq" type="eoptPmtSessionInq:PmtSessionInqRq_Type"/>
</xs:schema>