BCIE_fenix/dev/SOA/06-OSB-SERVICE/ADAPTADORES/ModeloNegocio/DominioLineaCredito/ConsultarTreComision/XSD/ConsultarTreComision_DB.xsd

<?xml version = '1.0' encoding = 'UTF-8'?>
<xs:schema targetNamespace="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTreComision_DB" xmlns="http://xmlns.oracle.com/pcbpel/adapter/db/ConsultarTreComision_DB" elementFormDefault="qualified" attributeFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
   <xs:element name="ConsultarTreComision_DBInput" type="ConsultarTreComision_DBInput"/>
   <xs:complexType name="ConsultarTreComision_DBInput">
      <xs:sequence>
         <xs:element name="idOperacion" type="xs:decimal" nillable="true"/>
         <xs:element name="descripcionCorta" type="xs:string" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
   <xs:element name="ConsultarTreComision_DBOutputCollection" type="ConsultarTreComision_DBOutputCollection"/>
   <xs:complexType name="ConsultarTreComision_DBOutputCollection">
      <xs:sequence>
         <xs:element name="ConsultarTreComision_DBOutput" type="ConsultarTreComision_DBOutput" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
   </xs:complexType>
   <xs:complexType name="ConsultarTreComision_DBOutput">
      <xs:sequence>
         <xs:element name="ID" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_OPERACION" type="xs:decimal" nillable="true"/>
         <xs:element name="ID_TCA_COMISION" type="xs:decimal" nillable="true"/>
      </xs:sequence>
   </xs:complexType>
</xs:schema>